{
  "discoveryVersion": "v1",
  "version_module": true,
  "ownerName": "Google",
  "basePath": "",
  "rootUrl": "https://cloudsearch.googleapis.com/",
  "version": "v1",
  "name": "cloudsearch",
  "resources": {
    "indexing": {
      "resources": {
        "datasources": {
          "resources": {
            "items": {
              "methods": {
                "deleteQueueItems": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "description": "Deletes all items in a queue. This method is useful for deleting stale items. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "request": {
                    "$ref": "DeleteQueueItemsRequest"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Name of the Data Source to delete items in a queue. Format: datasources/{source_id}",
                      "pattern": "^datasources/[^/]+$"
                    }
                  },
                  "path": "v1/indexing/{+name}/items:deleteQueueItems",
                  "id": "cloudsearch.indexing.datasources.items.deleteQueueItems",
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items:deleteQueueItems",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ]
                },
                "push": {
                  "path": "v1/indexing/{+name}:push",
                  "httpMethod": "POST",
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}:push",
                  "description": "Pushes an item onto a queue for later polling and updating. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "request": {
                    "$ref": "PushItemRequest"
                  },
                  "parameters": {
                    "name": {
                      "description": "Name of the item to push into the indexing queue. Format: datasources/{source_id}/items/{ID} This is a required field. The maximum length is 1536 characters.",
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "cloudsearch.indexing.datasources.items.push",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Item"
                  }
                },
                "list": {
                  "id": "cloudsearch.indexing.datasources.items.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "path": "v1/indexing/{+name}/items",
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items",
                  "description": "Lists all or a subset of Item resources. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "response": {
                    "$ref": "ListItemsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "brief": {
                      "description": "When set to true, the indexing system only populates the following fields: name, version, queue. metadata.hash, metadata.title, metadata.sourceRepositoryURL, metadata.objectType, metadata.createTime, metadata.updateTime, metadata.contentLanguage, metadata.mimeType, structured_data.hash, content.hash, itemType, itemStatus.code, itemStatus.processingError.code, itemStatus.repositoryError.type, If this value is false, then all the fields are populated in Item.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "connectorName": {
                      "location": "query",
                      "type": "string",
                      "description": "Name of connector making this call. Format: datasources/{source_id}/connectors/{ID}"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Maximum number of items to fetch in a request. The max value is 1000 when brief is true. The max value is 10 if brief is false. The default value is 10",
                      "format": "int32"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^datasources/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Name of the Data Source to list Items. Format: datasources/{source_id}"
                    },
                    "debugOptions.enableDebugging": {
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "path": "v1/indexing/{+name}",
                  "parameters": {
                    "mode": {
                      "type": "string",
                      "enumDescriptions": [
                        "Priority is not specified in the update request. Leaving priority unspecified results in an update failure.",
                        "For real-time updates.",
                        "For changes that are executed after the response is sent back to the caller."
                      ],
                      "location": "query",
                      "description": "Required. The RequestMode for this request.",
                      "enum": [
                        "UNSPECIFIED",
                        "SYNCHRONOUS",
                        "ASYNCHRONOUS"
                      ]
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the item to delete. Format: datasources/{source_id}/items/{item_id}",
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "required": true
                    },
                    "debugOptions.enableDebugging": {
                      "location": "query",
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                      "type": "boolean"
                    },
                    "connectorName": {
                      "type": "string",
                      "description": "Name of connector making this call. Format: datasources/{source_id}/connectors/{ID}",
                      "location": "query"
                    },
                    "version": {
                      "format": "byte",
                      "location": "query",
                      "description": "Required. The incremented version of the item to delete from the index. The indexing system stores the version from the datasource as a byte string and compares the Item version in the index to the version of the queued Item using lexical ordering. Cloud Search Indexing won't delete any queued item with a version value that is less than or equal to the version of the currently indexed item. The maximum length for this field is 1024 bytes.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}",
                  "id": "cloudsearch.indexing.datasources.items.delete",
                  "httpMethod": "DELETE",
                  "description": "Deletes Item resource for the specified resource name. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "get": {
                  "path": "v1/indexing/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudsearch.indexing.datasources.items.get",
                  "httpMethod": "GET",
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}",
                  "response": {
                    "$ref": "Item"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Name of the item to get info. Format: datasources/{source_id}/items/{item_id}"
                    },
                    "connectorName": {
                      "location": "query",
                      "description": "Name of connector making this call. Format: datasources/{source_id}/connectors/{ID}",
                      "type": "string"
                    },
                    "debugOptions.enableDebugging": {
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "description": "Gets Item resource by item name. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source."
                },
                "unreserve": {
                  "httpMethod": "POST",
                  "id": "cloudsearch.indexing.datasources.items.unreserve",
                  "path": "v1/indexing/{+name}/items:unreserve",
                  "description": "Unreserves all items from a queue, making them all eligible to be polled. This method is useful for resetting the indexing queue after a connector has been restarted. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items:unreserve",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Name of the Data Source to unreserve all items. Format: datasources/{source_id}",
                      "pattern": "^datasources/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "UnreserveItemsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "upload": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "description": "Name of the Item to start a resumable upload. Format: datasources/{source_id}/items/{item_id}. The maximum length is 1536 bytes.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "UploadItemRef"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "StartUploadItemRequest"
                  },
                  "description": "Creates an upload session for uploading item content. For items smaller than 100 KB, it's easier to embed the content inline within an index request. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}:upload",
                  "path": "v1/indexing/{+name}:upload",
                  "id": "cloudsearch.indexing.datasources.items.upload"
                },
                "poll": {
                  "response": {
                    "$ref": "PollItemsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items:poll",
                  "request": {
                    "$ref": "PollItemsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^datasources/[^/]+$",
                      "description": "Name of the Data Source to poll items. Format: datasources/{source_id}",
                      "required": true
                    }
                  },
                  "id": "cloudsearch.indexing.datasources.items.poll",
                  "description": "Polls for unreserved items from the indexing queue and marks a set as reserved, starting with items that have the oldest timestamp from the highest priority ItemStatus. The priority order is as follows: ERROR MODIFIED NEW_ITEM ACCEPTED Reserving items ensures that polling from other threads cannot create overlapping sets. After handling the reserved items, the client should put items back into the unreserved state, either by calling index, or by calling push with the type REQUEUE. Items automatically become available (unreserved) after 4 hours even if no update or push method is called. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "path": "v1/indexing/{+name}/items:poll",
                  "httpMethod": "POST"
                },
                "index": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "IndexItemRequest"
                  },
                  "httpMethod": "POST",
                  "id": "cloudsearch.indexing.datasources.items.index",
                  "description": "Updates Item ACL, metadata, and content. It will insert the Item if it does not exist. This method does not support partial updates. Fields with no provided values are cleared out in the Cloud Search index. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}:index",
                  "path": "v1/indexing/{+name}:index",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Name of the Item. Format: datasources/{source_id}/items/{item_id} This is a required field. The maximum length is 1536 characters."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          },
          "methods": {
            "deleteSchema": {
              "parameters": {
                "debugOptions.enableDebugging": {
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Name of the data source to delete Schema. Format: datasources/{source_id}",
                  "pattern": "^datasources/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v1/indexing/{+name}/schema",
              "description": "Deletes the schema of a data source. **Note:** This API requires an admin or service account to execute.",
              "flatPath": "v1/indexing/datasources/{datasourcesId}/schema",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Operation"
              },
              "id": "cloudsearch.indexing.datasources.deleteSchema"
            },
            "updateSchema": {
              "path": "v1/indexing/{+name}/schema",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "description": "Updates the schema of a data source. This method does not perform incremental updates to the schema. Instead, this method updates the schema by overwriting the entire schema. **Note:** This API requires an admin or service account to execute.",
              "request": {
                "$ref": "UpdateSchemaRequest"
              },
              "id": "cloudsearch.indexing.datasources.updateSchema",
              "flatPath": "v1/indexing/datasources/{datasourcesId}/schema",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Name of the data source to update Schema. Format: datasources/{source_id}",
                  "location": "path",
                  "pattern": "^datasources/[^/]+$",
                  "type": "string"
                }
              },
              "httpMethod": "PUT",
              "parameterOrder": [
                "name"
              ]
            },
            "getSchema": {
              "path": "v1/indexing/{+name}/schema",
              "id": "cloudsearch.indexing.datasources.getSchema",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^datasources/[^/]+$",
                  "required": true,
                  "description": "Name of the data source to get Schema. Format: datasources/{source_id}",
                  "location": "path"
                },
                "debugOptions.enableDebugging": {
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "flatPath": "v1/indexing/datasources/{datasourcesId}/schema",
              "response": {
                "$ref": "Schema"
              },
              "httpMethod": "GET",
              "description": "Gets the schema of a data source. **Note:** This API requires an admin or service account to execute."
            }
          }
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Operation"
          },
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "id": "cloudsearch.operations.get",
          "parameters": {
            "name": {
              "description": "The name of the operation resource.",
              "location": "path",
              "pattern": "^operations/.*$",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/operations/{operationsId}",
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.debug",
            "https://www.googleapis.com/auth/cloud_search.indexing",
            "https://www.googleapis.com/auth/cloud_search.settings",
            "https://www.googleapis.com/auth/cloud_search.settings.indexing",
            "https://www.googleapis.com/auth/cloud_search.settings.query"
          ]
        }
      },
      "resources": {
        "lro": {
          "methods": {
            "list": {
              "id": "cloudsearch.operations.lro.list",
              "parameters": {
                "name": {
                  "pattern": "^operations/.*$",
                  "required": true,
                  "description": "The name of the operation's parent resource.",
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The standard list page token.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "filter": {
                  "location": "query",
                  "description": "The standard list filter.",
                  "type": "string"
                }
              },
              "path": "v1/{+name}/lro",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListOperationsResponse"
              },
              "flatPath": "v1/operations/{operationsId}/lro",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.debug",
                "https://www.googleapis.com/auth/cloud_search.indexing",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id."
            }
          }
        }
      }
    },
    "debug": {
      "resources": {
        "datasources": {
          "resources": {
            "items": {
              "resources": {
                "unmappedids": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1/debug/datasources/{datasourcesId}/items/{itemsId}/unmappedids",
                      "description": "List all unmapped identities for a specific item. **Note:** This API requires an admin account to execute.",
                      "response": {
                        "$ref": "ListUnmappedIdentitiesResponse"
                      },
                      "id": "cloudsearch.debug.datasources.items.unmappedids.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud_search",
                        "https://www.googleapis.com/auth/cloud_search.debug"
                      ],
                      "path": "v1/debug/{+parent}/unmappedids",
                      "parameters": {
                        "debugOptions.enableDebugging": {
                          "location": "query",
                          "type": "boolean",
                          "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                        },
                        "parent": {
                          "required": true,
                          "location": "path",
                          "description": "The name of the item, in the following format: datasources/{source_id}/items/{ID}",
                          "type": "string",
                          "pattern": "^datasources/[^/]+/items/[^/]+$"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Maximum number of items to fetch in a request. Defaults to 100."
                        },
                        "pageToken": {
                          "description": "The next_page_token value returned from a previous List request, if any.",
                          "location": "query",
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "checkAccess": {
                  "path": "v1/debug/{+name}:checkAccess",
                  "flatPath": "v1/debug/datasources/{datasourcesId}/items/{itemsId}:checkAccess",
                  "description": "Checks whether an item is accessible by specified principal. **Note:** This API requires an admin account to execute.",
                  "id": "cloudsearch.debug.datasources.items.checkAccess",
                  "request": {
                    "$ref": "Principal"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.debug"
                  ],
                  "parameters": {
                    "debugOptions.enableDebugging": {
                      "type": "boolean",
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Item name, format: datasources/{source_id}/items/{item_id}"
                    }
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "CheckAccessResponse"
                  }
                },
                "searchByViewUrl": {
                  "flatPath": "v1/debug/datasources/{datasourcesId}/items:searchByViewUrl",
                  "path": "v1/debug/{+name}/items:searchByViewUrl",
                  "request": {
                    "$ref": "SearchItemsByViewUrlRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Fetches the item whose viewUrl exactly matches that of the URL provided in the request. **Note:** This API requires an admin account to execute.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.debug"
                  ],
                  "response": {
                    "$ref": "SearchItemsByViewUrlResponse"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^datasources/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Source name, format: datasources/{source_id}",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "id": "cloudsearch.debug.datasources.items.searchByViewUrl"
                }
              }
            }
          }
        },
        "identitysources": {
          "resources": {
            "items": {
              "methods": {
                "listForunmappedidentity": {
                  "path": "v1/debug/{+parent}/items:forunmappedidentity",
                  "flatPath": "v1/debug/identitysources/{identitysourcesId}/items:forunmappedidentity",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^identitysources/[^/]+$",
                      "location": "path",
                      "description": "The name of the identity source, in the following format: identitysources/{source_id}}",
                      "type": "string"
                    },
                    "userResourceName": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "type": "string"
                    },
                    "groupResourceName": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Maximum number of items to fetch in a request. Defaults to 100.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "debugOptions.enableDebugging": {
                      "type": "boolean",
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListItemNamesForUnmappedIdentityResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudsearch.debug.identitysources.items.listForunmappedidentity",
                  "description": "Lists names of items associated with an unmapped identity. **Note:** This API requires an admin account to execute.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.debug"
                  ]
                }
              }
            },
            "unmappedids": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudsearch.debug.identitysources.unmappedids.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.debug"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "description": "Maximum number of items to fetch in a request. Defaults to 100.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "description": "The name of the identity source, in the following format: identitysources/{source_id}",
                      "location": "path",
                      "required": true,
                      "pattern": "^identitysources/[^/]+$"
                    },
                    "debugOptions.enableDebugging": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any."
                    },
                    "resolutionStatusCode": {
                      "enumDescriptions": [
                        "Input-only value. Used to list all unmapped identities regardless of status.",
                        "The unmapped identity was not found in IDaaS, and needs to be provided by the user.",
                        "The identity source associated with the identity was either not found or deleted.",
                        "IDaaS does not understand the identity source, probably because the schema was modified in a non compatible way.",
                        "The number of users associated with the external identity is too large.",
                        "Internal error."
                      ],
                      "enum": [
                        "CODE_UNSPECIFIED",
                        "NOT_FOUND",
                        "IDENTITY_SOURCE_NOT_FOUND",
                        "IDENTITY_SOURCE_MISCONFIGURED",
                        "TOO_MANY_MAPPINGS_FOUND",
                        "INTERNAL_ERROR"
                      ],
                      "description": "Limit users selection to this status.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListUnmappedIdentitiesResponse"
                  },
                  "path": "v1/debug/{+parent}/unmappedids",
                  "flatPath": "v1/debug/identitysources/{identitysourcesId}/unmappedids",
                  "description": "Lists unmapped user identities for an identity source. **Note:** This API requires an admin account to execute."
                }
              }
            }
          }
        }
      }
    },
    "stats": {
      "methods": {
        "getIndex": {
          "description": "Gets indexed item statistics aggreggated across all data sources. This API only returns statistics for previous dates; it doesn't return statistics for the current day. **Note:** This API requires a standard end user account to execute.",
          "parameters": {
            "fromDate.year": {
              "description": "Year of date. Must be from 1 to 9999.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "toDate.day": {
              "location": "query",
              "format": "int32",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "type": "integer"
            },
            "toDate.month": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Month of date. Must be from 1 to 12."
            },
            "toDate.year": {
              "type": "integer",
              "description": "Year of date. Must be from 1 to 9999.",
              "location": "query",
              "format": "int32"
            },
            "fromDate.day": {
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "fromDate.month": {
              "type": "integer",
              "description": "Month of date. Must be from 1 to 12.",
              "format": "int32",
              "location": "query"
            }
          },
          "response": {
            "$ref": "GetCustomerIndexStatsResponse"
          },
          "path": "v1/stats/index",
          "flatPath": "v1/stats/index",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.stats",
            "https://www.googleapis.com/auth/cloud_search.stats.indexing"
          ],
          "id": "cloudsearch.stats.getIndex",
          "httpMethod": "GET",
          "parameterOrder": []
        },
        "getUser": {
          "id": "cloudsearch.stats.getUser",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.stats",
            "https://www.googleapis.com/auth/cloud_search.stats.indexing"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "GetCustomerUserStatsResponse"
          },
          "description": "Get the users statistics for customer. **Note:** This API requires a standard end user account to execute.",
          "parameterOrder": [],
          "parameters": {
            "fromDate.month": {
              "location": "query",
              "format": "int32",
              "description": "Month of date. Must be from 1 to 12.",
              "type": "integer"
            },
            "fromDate.year": {
              "description": "Year of date. Must be from 1 to 9999.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "toDate.day": {
              "location": "query",
              "format": "int32",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "type": "integer"
            },
            "toDate.month": {
              "description": "Month of date. Must be from 1 to 12.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "toDate.year": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Year of date. Must be from 1 to 9999."
            },
            "fromDate.day": {
              "location": "query",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "format": "int32",
              "type": "integer"
            }
          },
          "path": "v1/stats/user",
          "flatPath": "v1/stats/user"
        },
        "getQuery": {
          "parameterOrder": [],
          "flatPath": "v1/stats/query",
          "parameters": {
            "toDate.day": {
              "type": "integer",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "location": "query",
              "format": "int32"
            },
            "toDate.year": {
              "location": "query",
              "format": "int32",
              "description": "Year of date. Must be from 1 to 9999.",
              "type": "integer"
            },
            "fromDate.month": {
              "location": "query",
              "type": "integer",
              "description": "Month of date. Must be from 1 to 12.",
              "format": "int32"
            },
            "fromDate.year": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Year of date. Must be from 1 to 9999."
            },
            "fromDate.day": {
              "type": "integer",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "location": "query",
              "format": "int32"
            },
            "toDate.month": {
              "description": "Month of date. Must be from 1 to 12.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            }
          },
          "description": "Get the query statistics for customer. **Note:** This API requires a standard end user account to execute.",
          "httpMethod": "GET",
          "id": "cloudsearch.stats.getQuery",
          "path": "v1/stats/query",
          "response": {
            "$ref": "GetCustomerQueryStatsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.stats",
            "https://www.googleapis.com/auth/cloud_search.stats.indexing"
          ]
        },
        "getSession": {
          "parameterOrder": [],
          "id": "cloudsearch.stats.getSession",
          "flatPath": "v1/stats/session",
          "parameters": {
            "toDate.year": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Year of date. Must be from 1 to 9999."
            },
            "fromDate.month": {
              "description": "Month of date. Must be from 1 to 12.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "toDate.month": {
              "description": "Month of date. Must be from 1 to 12.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "toDate.day": {
              "location": "query",
              "format": "int32",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "type": "integer"
            },
            "fromDate.year": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Year of date. Must be from 1 to 9999."
            },
            "fromDate.day": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month."
            }
          },
          "httpMethod": "GET",
          "path": "v1/stats/session",
          "description": "Get the # of search sessions, % of successful sessions with a click query statistics for customer. **Note:** This API requires a standard end user account to execute.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.stats",
            "https://www.googleapis.com/auth/cloud_search.stats.indexing"
          ],
          "response": {
            "$ref": "GetCustomerSessionStatsResponse"
          }
        }
      },
      "resources": {
        "query": {
          "resources": {
            "searchapplications": {
              "methods": {
                "get": {
                  "flatPath": "v1/stats/query/searchapplications/{searchapplicationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/stats/query/{+name}",
                  "httpMethod": "GET",
                  "id": "cloudsearch.stats.query.searchapplications.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.stats",
                    "https://www.googleapis.com/auth/cloud_search.stats.indexing"
                  ],
                  "response": {
                    "$ref": "GetSearchApplicationQueryStatsResponse"
                  },
                  "description": "Get the query statistics for search application. **Note:** This API requires a standard end user account to execute.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The resource id of the search application query stats, in the following format: searchapplications/{application_id}",
                      "type": "string",
                      "location": "path",
                      "pattern": "^searchapplications/[^/]+$"
                    },
                    "fromDate.month": {
                      "type": "integer",
                      "location": "query",
                      "description": "Month of date. Must be from 1 to 12.",
                      "format": "int32"
                    },
                    "toDate.day": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month."
                    },
                    "fromDate.day": {
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "fromDate.year": {
                      "description": "Year of date. Must be from 1 to 9999.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "toDate.month": {
                      "format": "int32",
                      "description": "Month of date. Must be from 1 to 12.",
                      "location": "query",
                      "type": "integer"
                    },
                    "toDate.year": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Year of date. Must be from 1 to 9999."
                    }
                  }
                }
              }
            }
          }
        },
        "session": {
          "resources": {
            "searchapplications": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "description": "Get the # of search sessions, % of successful sessions with a click query statistics for search application. **Note:** This API requires a standard end user account to execute.",
                  "path": "v1/stats/session/{+name}",
                  "id": "cloudsearch.stats.session.searchapplications.get",
                  "parameters": {
                    "fromDate.month": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Month of date. Must be from 1 to 12."
                    },
                    "toDate.month": {
                      "format": "int32",
                      "location": "query",
                      "description": "Month of date. Must be from 1 to 12.",
                      "type": "integer"
                    },
                    "fromDate.day": {
                      "location": "query",
                      "format": "int32",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "type": "integer"
                    },
                    "toDate.day": {
                      "location": "query",
                      "type": "integer",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "format": "int32"
                    },
                    "toDate.year": {
                      "format": "int32",
                      "description": "Year of date. Must be from 1 to 9999.",
                      "location": "query",
                      "type": "integer"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^searchapplications/[^/]+$",
                      "location": "path",
                      "description": "The resource id of the search application session stats, in the following format: searchapplications/{application_id}",
                      "required": true
                    },
                    "fromDate.year": {
                      "description": "Year of date. Must be from 1 to 9999.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.stats",
                    "https://www.googleapis.com/auth/cloud_search.stats.indexing"
                  ],
                  "flatPath": "v1/stats/session/searchapplications/{searchapplicationsId}",
                  "response": {
                    "$ref": "GetSearchApplicationSessionStatsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        },
        "index": {
          "resources": {
            "datasources": {
              "methods": {
                "get": {
                  "description": "Gets indexed item statistics for a single data source. **Note:** This API requires a standard end user account to execute.",
                  "id": "cloudsearch.stats.index.datasources.get",
                  "path": "v1/stats/index/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/stats/index/datasources/{datasourcesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.stats",
                    "https://www.googleapis.com/auth/cloud_search.stats.indexing"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GetDataSourceIndexStatsResponse"
                  },
                  "parameters": {
                    "name": {
                      "description": "The resource id of the data source to retrieve statistics for, in the following format: \"datasources/{source_id}\"",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^datasources/[^/]+$"
                    },
                    "toDate.year": {
                      "description": "Year of date. Must be from 1 to 9999.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "toDate.day": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month."
                    },
                    "fromDate.month": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Month of date. Must be from 1 to 12.",
                      "location": "query"
                    },
                    "fromDate.year": {
                      "format": "int32",
                      "description": "Year of date. Must be from 1 to 9999.",
                      "type": "integer",
                      "location": "query"
                    },
                    "toDate.month": {
                      "description": "Month of date. Must be from 1 to 12.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "fromDate.day": {
                      "location": "query",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "format": "int32",
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "user": {
          "resources": {
            "searchapplications": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.stats",
                    "https://www.googleapis.com/auth/cloud_search.stats.indexing"
                  ],
                  "description": "Get the users statistics for search application. **Note:** This API requires a standard end user account to execute.",
                  "parameters": {
                    "toDate.year": {
                      "type": "integer",
                      "description": "Year of date. Must be from 1 to 9999.",
                      "location": "query",
                      "format": "int32"
                    },
                    "fromDate.day": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month."
                    },
                    "toDate.day": {
                      "location": "query",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "toDate.month": {
                      "format": "int32",
                      "location": "query",
                      "description": "Month of date. Must be from 1 to 12.",
                      "type": "integer"
                    },
                    "fromDate.month": {
                      "description": "Month of date. Must be from 1 to 12.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "fromDate.year": {
                      "location": "query",
                      "description": "Year of date. Must be from 1 to 9999.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "name": {
                      "type": "string",
                      "description": "The resource id of the search application session stats, in the following format: searchapplications/{application_id}",
                      "required": true,
                      "pattern": "^searchapplications/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/stats/user/searchapplications/{searchapplicationsId}",
                  "id": "cloudsearch.stats.user.searchapplications.get",
                  "response": {
                    "$ref": "GetSearchApplicationUserStatsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/stats/user/{+name}"
                }
              }
            }
          }
        }
      }
    },
    "query": {
      "methods": {
        "suggest": {
          "request": {
            "$ref": "SuggestRequest"
          },
          "flatPath": "v1/query/suggest",
          "description": "Provides suggestions for autocompleting the query. **Note:** This API requires a standard end user account to execute. A service account can't perform Query API requests directly; to use a service account to perform queries, set up [G Suite domain-wide delegation of authority](https://developers.google.com/cloud-search/docs/guides/delegation/).",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.query"
          ],
          "response": {
            "$ref": "SuggestResponse"
          },
          "path": "v1/query/suggest",
          "id": "cloudsearch.query.suggest",
          "httpMethod": "POST",
          "parameters": {}
        },
        "search": {
          "response": {
            "$ref": "SearchResponse"
          },
          "request": {
            "$ref": "SearchRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.query"
          ],
          "id": "cloudsearch.query.search",
          "parameters": {},
          "description": "The Cloud Search Query API provides the search method, which returns the most relevant results from a user query. The results can come from G Suite Apps, such as Gmail or Google Drive, or they can come from data that you have indexed from a third party. **Note:** This API requires a standard end user account to execute. A service account can't perform Query API requests directly; to use a service account to perform queries, set up [G Suite domain-wide delegation of authority](https://developers.google.com/cloud-search/docs/guides/delegation/).",
          "httpMethod": "POST",
          "path": "v1/query/search",
          "flatPath": "v1/query/search",
          "parameterOrder": []
        }
      },
      "resources": {
        "sources": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "path": "v1/query/sources",
              "description": "Returns list of sources that user can use for Search and Suggest APIs. **Note:** This API requires a standard end user account to execute. A service account can't perform Query API requests directly; to use a service account to perform queries, set up [G Suite domain-wide delegation of authority](https://developers.google.com/cloud-search/docs/guides/delegation/).",
              "response": {
                "$ref": "ListQuerySourcesResponse"
              },
              "id": "cloudsearch.query.sources.list",
              "flatPath": "v1/query/sources",
              "parameters": {
                "requestOptions.searchApplicationId": {
                  "location": "query",
                  "description": "The ID generated when you create a search application using the [admin console](https://support.google.com/a/answer/9043922).",
                  "type": "string"
                },
                "requestOptions.timeZone": {
                  "type": "string",
                  "description": "Current user's time zone id, such as \"America/Los_Angeles\" or \"Australia/Sydney\". These IDs are defined by [Unicode Common Locale Data Repository (CLDR)](http://cldr.unicode.org/) project, and currently available in the file [timezone.xml](http://unicode.org/repos/cldr/trunk/common/bcp47/timezone.xml). This field is used to correctly interpret date and time queries. If this field is not specified, the default time zone (UTC) is used.",
                  "location": "query"
                },
                "requestOptions.languageCode": {
                  "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier. For translations. Set this field using the language set in browser or for the page. In the event that the user's language preference is known, set this field to the known user language. When specified, the documents in search results are biased towards the specified language. The suggest API does not use this parameter. Instead, suggest autocompletes only based on characters in the query.",
                  "type": "string",
                  "location": "query"
                },
                "requestOptions.debugOptions.enableDebugging": {
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "type": "boolean",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Number of sources to return in the response.",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [],
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.query"
              ]
            }
          }
        }
      }
    },
    "settings": {
      "methods": {
        "updateCustomer": {
          "parameters": {
            "updateMask": {
              "description": "Update mask to control which fields get updated. If you specify a field in the update_mask but don't specify its value here, that field will be cleared. If the mask is not present or empty, all fields will be updated. Currently supported field paths: vpc_settings and audit_logging_settings",
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "id": "cloudsearch.settings.updateCustomer",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.settings",
            "https://www.googleapis.com/auth/cloud_search.settings.indexing"
          ],
          "httpMethod": "PATCH",
          "parameterOrder": [],
          "flatPath": "v1/settings/customer",
          "request": {
            "$ref": "CustomerSettings"
          },
          "description": "Update customer settings. **Note:** This API requires an admin account to execute.",
          "path": "v1/settings/customer"
        },
        "getCustomer": {
          "parameters": {},
          "parameterOrder": [],
          "id": "cloudsearch.settings.getCustomer",
          "path": "v1/settings/customer",
          "response": {
            "$ref": "CustomerSettings"
          },
          "description": "Get customer settings. **Note:** This API requires an admin account to execute.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.settings",
            "https://www.googleapis.com/auth/cloud_search.settings.indexing"
          ],
          "httpMethod": "GET",
          "flatPath": "v1/settings/customer"
        }
      },
      "resources": {
        "datasources": {
          "methods": {
            "create": {
              "parameterOrder": [],
              "httpMethod": "POST",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {},
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "description": "Creates a datasource. **Note:** This API requires an admin account to execute.",
              "request": {
                "$ref": "DataSource"
              },
              "flatPath": "v1/settings/datasources",
              "path": "v1/settings/datasources",
              "id": "cloudsearch.settings.datasources.create"
            },
            "get": {
              "flatPath": "v1/settings/datasources/{datasourcesId}",
              "description": "Gets a datasource. **Note:** This API requires an admin account to execute.",
              "id": "cloudsearch.settings.datasources.get",
              "path": "v1/settings/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Name of the datasource resource. Format: datasources/{source_id}.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^datasources/[^/]+$"
                },
                "debugOptions.enableDebugging": {
                  "location": "query",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "response": {
                "$ref": "DataSource"
              }
            },
            "delete": {
              "parameters": {
                "name": {
                  "description": "Name of the datasource. Format: datasources/{source_id}.",
                  "required": true,
                  "pattern": "^datasources/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "debugOptions.enableDebugging": {
                  "location": "query",
                  "type": "boolean",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                }
              },
              "path": "v1/settings/{+name}",
              "response": {
                "$ref": "Operation"
              },
              "id": "cloudsearch.settings.datasources.delete",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a datasource. **Note:** This API requires an admin account to execute.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "httpMethod": "DELETE",
              "flatPath": "v1/settings/datasources/{datasourcesId}"
            },
            "list": {
              "parameterOrder": [],
              "httpMethod": "GET",
              "flatPath": "v1/settings/datasources",
              "id": "cloudsearch.settings.datasources.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "path": "v1/settings/datasources",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Maximum number of datasources to fetch in a request. The max value is 100. The default value is 10",
                  "format": "int32"
                },
                "debugOptions.enableDebugging": {
                  "type": "boolean",
                  "location": "query",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                },
                "pageToken": {
                  "type": "string",
                  "description": "Starting index of the results.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ListDataSourceResponse"
              },
              "description": "Lists datasources. **Note:** This API requires an admin account to execute."
            },
            "update": {
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PUT",
              "parameters": {
                "name": {
                  "pattern": "^datasources/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Name of the datasource resource. Format: datasources/{source_id}. The name is ignored when creating a datasource."
                }
              },
              "request": {
                "$ref": "UpdateDataSourceRequest"
              },
              "id": "cloudsearch.settings.datasources.update",
              "flatPath": "v1/settings/datasources/{datasourcesId}",
              "path": "v1/settings/{+name}",
              "description": "Updates a datasource. **Note:** This API requires an admin account to execute."
            }
          }
        },
        "searchapplications": {
          "methods": {
            "get": {
              "flatPath": "v1/settings/searchapplications/{searchapplicationsId}",
              "description": "Gets the specified search application. **Note:** This API requires an admin account to execute.",
              "path": "v1/settings/{+name}",
              "id": "cloudsearch.settings.searchapplications.get",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "SearchApplication"
              },
              "parameters": {
                "debugOptions.enableDebugging": {
                  "type": "boolean",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "description": "Name of the search application. Format: searchapplications/{application_id}.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^searchapplications/[^/]+$"
                }
              }
            },
            "create": {
              "httpMethod": "POST",
              "parameters": {},
              "request": {
                "$ref": "SearchApplication"
              },
              "id": "cloudsearch.settings.searchapplications.create",
              "flatPath": "v1/settings/searchapplications",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "path": "v1/settings/searchapplications",
              "parameterOrder": [],
              "response": {
                "$ref": "Operation"
              },
              "description": "Creates a search application. **Note:** This API requires an admin account to execute."
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "httpMethod": "GET",
              "parameterOrder": [],
              "path": "v1/settings/searchapplications",
              "flatPath": "v1/settings/searchapplications",
              "description": "Lists all search applications. **Note:** This API requires an admin account to execute.",
              "response": {
                "$ref": "ListSearchApplicationsResponse"
              },
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of items to return."
                },
                "debugOptions.enableDebugging": {
                  "location": "query",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "type": "boolean"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The next_page_token value returned from a previous List request, if any. The default value is 10"
                }
              },
              "id": "cloudsearch.settings.searchapplications.list"
            },
            "reset": {
              "id": "cloudsearch.settings.searchapplications.reset",
              "description": "Resets a search application to default settings. This will return an empty response. **Note:** This API requires an admin account to execute.",
              "request": {
                "$ref": "ResetSearchApplicationRequest"
              },
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/settings/searchapplications/{searchapplicationsId}:reset",
              "parameters": {
                "name": {
                  "description": "The name of the search application to be reset. Format: applications/{application_id}.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^searchapplications/[^/]+$",
                  "required": true
                }
              },
              "path": "v1/settings/{+name}:reset",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ]
            },
            "update": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "description": "Updates a search application. **Note:** This API requires an admin account to execute.",
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "SearchApplication"
              },
              "id": "cloudsearch.settings.searchapplications.update",
              "parameters": {
                "name": {
                  "description": "Name of the Search Application. Format: searchapplications/{application_id}.",
                  "pattern": "^searchapplications/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/settings/{+name}",
              "flatPath": "v1/settings/searchapplications/{searchapplicationsId}",
              "httpMethod": "PUT"
            },
            "delete": {
              "id": "cloudsearch.settings.searchapplications.delete",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/settings/{+name}",
              "flatPath": "v1/settings/searchapplications/{searchapplicationsId}",
              "httpMethod": "DELETE",
              "description": "Deletes a search application. **Note:** This API requires an admin account to execute.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "debugOptions.enableDebugging": {
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "pattern": "^searchapplications/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The name of the search application to be deleted. Format: applications/{application_id}."
                }
              }
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "flatPath": "v1/media/{mediaId}",
          "parameters": {
            "resourceName": {
              "required": true,
              "description": "Name of the media that is being downloaded. See ReadRequest.resource_name.",
              "pattern": "^.*$",
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "Media"
          },
          "id": "cloudsearch.media.upload",
          "httpMethod": "POST",
          "path": "v1/media/{+resourceName}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.indexing"
          ],
          "parameterOrder": [
            "resourceName"
          ],
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "path": "/upload/v1/media/{+resourceName}",
                "multipart": true
              }
            }
          },
          "description": "Uploads media for indexing. The upload endpoint supports direct and resumable upload protocols and is intended for large items that can not be [inlined during index requests](https://developers.google.com/cloud-search/docs/reference/rest/v1/indexing.datasources.items#itemcontent). To index large content: 1. Call indexing.datasources.items.upload with the item name to begin an upload session and retrieve the UploadItemRef. 1. Call media.upload to upload the content, as a streaming request, using the same resource name from the UploadItemRef from step 1. 1. Call indexing.datasources.items.index to index the item. Populate the [ItemContent](/cloud-search/docs/reference/rest/v1/indexing.datasources.items#ItemContent) with the UploadItemRef from step 1. For additional information, see [Create a content connector using the REST API](https://developers.google.com/cloud-search/docs/guides/content-connector#rest). **Note:** This API requires a service account to execute.",
          "response": {
            "$ref": "Media"
          },
          "supportsMediaUpload": true
        }
      }
    }
  },
  "batchPath": "batch",
  "baseUrl": "https://cloudsearch.googleapis.com/",
  "id": "cloudsearch:v1",
  "protocol": "rest",
  "parameters": {
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud_search.settings": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.settings.query": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.settings.indexing": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.stats": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        },
        "https://www.googleapis.com/auth/cloud_search.debug": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.stats.indexing": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search.indexing": {
          "description": "Index and serve your organization's data with Cloud Search"
        },
        "https://www.googleapis.com/auth/cloud_search": {
          "description": "Index and serve your organization's data with Cloud Search"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/cloud-search/docs/guides/",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "schemas": {
    "DoubleOperatorOptions": {
      "properties": {
        "operatorName": {
          "description": "Indicates the operator name required in the query in order to use the double property in sorting or as a facet. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters.",
          "type": "string"
        }
      },
      "id": "DoubleOperatorOptions",
      "type": "object",
      "description": "Used to provide a search operator for double properties. This is optional. Search operators let users restrict the query to specific fields relevant to the type of item being searched."
    },
    "DriveMimeTypeRestrict": {
      "id": "DriveMimeTypeRestrict",
      "properties": {
        "type": {
          "enum": [
            "UNSPECIFIED",
            "PDF",
            "DOCUMENT",
            "PRESENTATION",
            "SPREADSHEET",
            "FORM",
            "DRAWING",
            "SCRIPT",
            "MAP",
            "IMAGE",
            "AUDIO",
            "VIDEO",
            "FOLDER",
            "ARCHIVE",
            "SITE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "description": "Drive mime-type search restricts (e.g. \"type:pdf\")."
    },
    "Schema": {
      "type": "object",
      "id": "Schema",
      "description": "The schema definition for a data source.",
      "properties": {
        "objectDefinitions": {
          "items": {
            "$ref": "ObjectDefinition"
          },
          "description": "The list of top-level objects for the data source. The maximum number of elements is 10.",
          "type": "array"
        },
        "operationIds": {
          "items": {
            "type": "string"
          },
          "description": "IDs of the Long Running Operations (LROs) currently running for this schema. After modifying the schema, wait for operations to complete before indexing additional content.",
          "type": "array"
        }
      }
    },
    "IntegerValues": {
      "description": "List of integer values.",
      "properties": {
        "values": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        }
      },
      "id": "IntegerValues",
      "type": "object"
    },
    "DateOperatorOptions": {
      "type": "object",
      "id": "DateOperatorOptions",
      "description": "Optional. Provides a search operator for date properties. Search operators let users restrict the query to specific fields relevant to the type of item being searched.",
      "properties": {
        "greaterThanOperatorName": {
          "type": "string",
          "description": "Indicates the operator name required in the query in order to isolate the date property using the greater-than operator. For example, if greaterThanOperatorName is *closedafter* and the property's name is *closeDate*, then queries like *closedafter:\u003cvalue\u003e* show results only where the value of the property named *closeDate* is later than *\u003cvalue\u003e*. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters."
        },
        "lessThanOperatorName": {
          "type": "string",
          "description": "Indicates the operator name required in the query in order to isolate the date property using the less-than operator. For example, if lessThanOperatorName is *closedbefore* and the property's name is *closeDate*, then queries like *closedbefore:\u003cvalue\u003e* show results only where the value of the property named *closeDate* is earlier than *\u003cvalue\u003e*. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters."
        },
        "operatorName": {
          "type": "string",
          "description": "Indicates the actual string required in the query in order to isolate the date property. For example, suppose an issue tracking schema object has a property named *closeDate* that specifies an operator with an operatorName of *closedon*. For searches on that data, queries like *closedon:\u003cvalue\u003e* show results only where the value of the *closeDate* property matches *\u003cvalue\u003e*. By contrast, a search that uses the same *\u003cvalue\u003e* without an operator returns all items where *\u003cvalue\u003e* matches the value of any String properties or text within the content field for the indexed datasource. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters."
        }
      }
    },
    "ListItemsResponse": {
      "type": "object",
      "id": "ListItemsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "items": {
          "items": {
            "$ref": "Item"
          },
          "type": "array"
        }
      }
    },
    "SourceConfig": {
      "description": "Configurations for a source while processing a Search or Suggest request.",
      "id": "SourceConfig",
      "type": "object",
      "properties": {
        "source": {
          "$ref": "Source",
          "description": "The source for which this configuration is to be used."
        },
        "crowdingConfig": {
          "description": "The crowding configuration for the source.",
          "$ref": "SourceCrowdingConfig"
        },
        "scoringConfig": {
          "$ref": "SourceScoringConfig",
          "description": "The scoring configuration for the source."
        }
      }
    },
    "UpdateDataSourceRequest": {
      "id": "UpdateDataSourceRequest",
      "type": "object",
      "properties": {
        "debugOptions": {
          "$ref": "DebugOptions",
          "description": "Common debug options."
        },
        "source": {
          "$ref": "DataSource"
        }
      }
    },
    "DriveTimeSpanRestrict": {
      "description": "The time span search restrict (e.g. \"after:2017-09-11 before:2017-09-12\").",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "Not Enabled",
            "Not Enabled"
          ],
          "enum": [
            "UNSPECIFIED",
            "TODAY",
            "YESTERDAY",
            "LAST_7_DAYS",
            "LAST_30_DAYS",
            "LAST_90_DAYS"
          ]
        }
      },
      "type": "object",
      "id": "DriveTimeSpanRestrict"
    },
    "ObjectOptions": {
      "type": "object",
      "properties": {
        "displayOptions": {
          "description": "Options that determine how the object is displayed in the Cloud Search results page.",
          "$ref": "ObjectDisplayOptions"
        },
        "freshnessOptions": {
          "$ref": "FreshnessOptions",
          "description": "The freshness options for an object."
        }
      },
      "id": "ObjectOptions",
      "description": "The options for an object."
    },
    "UpdateSchemaRequest": {
      "type": "object",
      "id": "UpdateSchemaRequest",
      "properties": {
        "validateOnly": {
          "type": "boolean",
          "description": "If true, the schema will be checked for validity, but will not be registered with the data source, even if valid."
        },
        "schema": {
          "description": "The new schema for the source.",
          "$ref": "Schema"
        },
        "debugOptions": {
          "$ref": "DebugOptions",
          "description": "Common debug options."
        }
      }
    },
    "SourceScoringConfig": {
      "description": "Set the scoring configuration. This allows modifying the ranking of results for a source.",
      "type": "object",
      "properties": {
        "sourceImportance": {
          "enum": [
            "DEFAULT",
            "LOW",
            "HIGH"
          ],
          "type": "string",
          "description": "Importance of the source.",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "id": "SourceScoringConfig"
    },
    "SuggestResponse": {
      "type": "object",
      "description": "Response of the suggest API.",
      "properties": {
        "suggestResults": {
          "items": {
            "$ref": "SuggestResult"
          },
          "type": "array",
          "description": "List of suggestions."
        }
      },
      "id": "SuggestResponse"
    },
    "CompositeFilter": {
      "properties": {
        "subFilters": {
          "type": "array",
          "items": {
            "$ref": "Filter"
          },
          "description": "Sub filters."
        },
        "logicOperator": {
          "enumDescriptions": [
            "Logical operators, which can only be applied to sub filters.",
            "",
            "NOT can only be applied on a single sub filter."
          ],
          "type": "string",
          "description": "The logic operator of the sub filter.",
          "enum": [
            "AND",
            "OR",
            "NOT"
          ]
        }
      },
      "type": "object",
      "id": "CompositeFilter"
    },
    "ErrorInfo": {
      "properties": {
        "errorMessages": {
          "type": "array",
          "items": {
            "$ref": "ErrorMessage"
          }
        }
      },
      "type": "object",
      "id": "ErrorInfo",
      "description": "Error information about the response."
    },
    "Person": {
      "id": "Person",
      "description": "Object to represent a person.",
      "type": "object",
      "properties": {
        "photos": {
          "items": {
            "$ref": "Photo"
          },
          "description": "A person's read-only photo. A picture shown next to the person's name to help others recognize the person in search results.",
          "type": "array"
        },
        "personNames": {
          "description": "The person's name",
          "items": {
            "$ref": "Name"
          },
          "type": "array"
        },
        "emailAddresses": {
          "items": {
            "$ref": "EmailAddress"
          },
          "type": "array",
          "description": "The person's email addresses"
        },
        "name": {
          "description": "The resource name of the person to provide information about. See People.get from Google People API.",
          "type": "string"
        },
        "obfuscatedId": {
          "type": "string",
          "description": "Obfuscated ID of a person."
        }
      }
    },
    "ObjectDisplayOptions": {
      "properties": {
        "objectDisplayLabel": {
          "type": "string",
          "description": "The user friendly label to display in the search result to indicate the type of the item. This is OPTIONAL; if not provided, an object label isn't displayed on the context line of the search results. The maximum length is 64 characters."
        },
        "metalines": {
          "description": "Defines the properties that are displayed in the metalines of the search results. The property values are displayed in the order given here. If a property holds multiple values, all of the values are displayed before the next properties. For this reason, it is a good practice to specify singular properties before repeated properties in this list. All of the properties must set is_returnable to true. The maximum number of metalines is 3.",
          "type": "array",
          "items": {
            "$ref": "Metaline"
          }
        }
      },
      "id": "ObjectDisplayOptions",
      "type": "object",
      "description": "The display options for an object."
    },
    "Source": {
[...]
