{
  "version": "v1",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "servicePath": "",
  "name": "cloudidentity",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-identity.devices.lookup": {
          "description": "See your device details"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-identity.groups": {
          "description": "See, change, create, and delete any of the Cloud Identity Groups that you can access, including the members of each group"
        },
        "https://www.googleapis.com/auth/cloud-identity.groups.readonly": {
          "description": "See any Cloud Identity Groups that you can access, including group members and their emails"
        }
      }
    }
  },
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/identity/",
  "baseUrl": "https://cloudidentity.googleapis.com/",
  "description": "API for provisioning and managing identity resources.",
  "rootUrl": "https://cloudidentity.googleapis.com/",
  "version_module": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "kind": "discovery#restDescription",
  "schemas": {
    "DeleteGroupMetadata": {
      "type": "object",
      "id": "DeleteGroupMetadata",
      "description": "Metadata for DeleteGroup LRO.",
      "properties": {}
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceResponse": {
      "properties": {
        "device": {
          "description": "Resultant Device object for the action. Note that asset tags will not be returned in the device object.",
          "$ref": "GoogleAppsCloudidentityDevicesV1Device"
        }
      },
      "description": "Response message for wiping all data on the device.",
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceResponse",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1BlockDeviceUserResponse": {
      "description": "Response message for blocking the device from accessing user data.",
      "properties": {
        "deviceUser": {
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser",
          "description": "Resultant DeviceUser object for the action."
        }
      },
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1BlockDeviceUserResponse"
    },
    "GoogleAppsCloudidentityDevicesV1CreateDeviceMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1CreateDeviceMetadata",
      "description": "Metadata for CreateDevice LRO.",
      "properties": {},
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1DeleteDeviceMetadata": {
      "properties": {},
      "description": "Metadata for DeleteDevice LRO.",
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1DeleteDeviceMetadata"
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceRequest": {
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceRequest",
      "type": "object",
      "properties": {
        "customer": {
          "type": "string",
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs."
        }
      },
      "description": "Request message for wiping all data on the device."
    },
    "GoogleAppsCloudidentityDevicesV1BlockDeviceUserRequest": {
      "id": "GoogleAppsCloudidentityDevicesV1BlockDeviceUserRequest",
      "type": "object",
      "properties": {
        "customer": {
          "type": "string",
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs."
        }
      },
      "description": "Request message for blocking account on device."
    },
    "GoogleAppsCloudidentityDevicesV1ListDeviceUsersResponse": {
      "id": "GoogleAppsCloudidentityDevicesV1ListDeviceUsersResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. Empty if there are no more results.",
          "type": "string"
        },
        "deviceUsers": {
          "description": "Devices meeting the list restrictions.",
          "items": {
            "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser"
          },
          "type": "array"
        }
      },
      "description": "Response message that is returned from the ListDeviceUsers method."
    },
    "LookupMembershipNameResponse": {
      "description": "The response message for MembershipsService.LookupMembershipName.",
      "type": "object",
      "id": "LookupMembershipNameResponse",
      "properties": {
        "name": {
          "description": "The [resource name](https://cloud.google.com/apis/design/resource_names) of the looked-up `Membership`. Must be of the form `groups/{group}/memberships/{membership}`.",
          "type": "string"
        }
      }
    },
    "UpdateMembershipRolesParams": {
      "type": "object",
      "description": "The details of an update to a `MembershipRole`.",
      "id": "UpdateMembershipRolesParams",
      "properties": {
        "fieldMask": {
          "type": "string",
          "description": "The fully-qualified names of fields to update. May only contain the field `expiry_detail.expire_time`.",
          "format": "google-fieldmask"
        },
        "membershipRole": {
          "$ref": "MembershipRole",
          "description": "The `MembershipRole`s to be updated. Only `MEMBER` `MembershipRole` can currently be updated."
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1Device": {
      "id": "GoogleAppsCloudidentityDevicesV1Device",
      "type": "object",
      "properties": {
        "androidSpecificAttributes": {
          "description": "Output only. Attributes specific to Android devices.",
          "readOnly": true,
          "$ref": "GoogleAppsCloudidentityDevicesV1AndroidAttributes"
        },
        "kernelVersion": {
          "type": "string",
          "description": "Output only. Kernel version of the device.",
          "readOnly": true
        },
        "wifiMacAddresses": {
          "description": "WiFi MAC addresses of device.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. When the Company-Owned device was imported. This field is empty for BYOD devices.",
          "type": "string",
          "format": "google-datetime"
        },
        "osVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. OS version of the device. Example: Android 8.1.0."
        },
        "imei": {
          "type": "string",
          "description": "Output only. IMEI number of device if GSM device; empty otherwise.",
          "readOnly": true
        },
        "otherAccounts": {
          "type": "array",
          "description": "Output only. Domain name for Google accounts on device. Type for other accounts on device. On Android, will only be populated if |ownership_privilege| is |PROFILE_OWNER| or |DEVICE_OWNER|. Does not include the account signed in to the device policy app if that account's domain has only one account. Examples: \"com.example\", \"xyz.com\".",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "releaseVersion": {
          "description": "Output only. OS release version. Example: 6.0.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device}`, where device is the unique id assigned to the Device.",
          "type": "string",
          "readOnly": true
        },
        "compromisedState": {
          "readOnly": true,
          "description": "Output only. Represents whether the Device is compromised.",
          "enum": [
            "COMPROMISED_STATE_UNSPECIFIED",
            "COMPROMISED",
            "UNCOMPROMISED"
          ],
          "enumDescriptions": [
            "Default value.",
            "The device is compromised (currently, this means Android device is rooted).",
            "The device is safe (currently, this means Android device is unrooted)."
          ],
          "type": "string"
        },
        "basebandVersion": {
          "readOnly": true,
          "description": "Output only. Baseband version of the device.",
          "type": "string"
        },
        "lastSyncTime": {
          "description": "Most recent time when device synced with this service.",
          "type": "string",
          "format": "google-datetime"
        },
        "brand": {
          "description": "Output only. Device brand. Example: Samsung.",
          "type": "string",
          "readOnly": true
        },
        "deviceType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown device type",
            "Device is an Android device",
            "Device is an iOS device",
            "Device is a Google Sync device.",
            "Device is a Windows device.",
            "Device is a MacOS device.",
            "Device is a Linux device.",
            "Device is a ChromeOS device."
          ],
          "readOnly": true,
          "description": "Output only. Type of device.",
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "ANDROID",
            "IOS",
            "GOOGLE_SYNC",
            "WINDOWS",
            "MAC_OS",
            "LINUX",
            "CHROME_OS"
          ]
        },
        "enabledDeveloperOptions": {
          "readOnly": true,
          "description": "Output only. Whether developer options is enabled on device.",
          "type": "boolean"
        },
        "securityPatchTime": {
          "format": "google-datetime",
          "description": "Output only. OS security patch update time on device.",
          "type": "string",
          "readOnly": true
        },
        "managementState": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Device is approved.",
            "Device is blocked.",
            "Device is pending approval.",
            "The device is not provisioned. Device will start from this state until some action is taken (i.e. a user starts using the device).",
            "Data and settings on the device are being removed.",
            "All data and settings on the device are removed."
          ],
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "APPROVED",
            "BLOCKED",
            "PENDING",
            "UNPROVISIONED",
            "WIPING",
            "WIPED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Management state of the device"
        },
        "bootloaderVersion": {
          "readOnly": true,
          "description": "Output only. Device bootloader version. Example: 0.6.7.",
          "type": "string"
        },
        "meid": {
          "description": "Output only. MEID number of device if CDMA device; empty otherwise.",
          "readOnly": true,
          "type": "string"
        },
        "assetTag": {
          "description": "Asset tag of the device.",
          "type": "string"
        },
        "model": {
          "description": "Output only. Model name of device. Example: Pixel 3.",
          "type": "string",
          "readOnly": true
        },
        "ownerType": {
          "enum": [
            "DEVICE_OWNERSHIP_UNSPECIFIED",
            "COMPANY",
            "BYOD"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default value. The value is unused.",
            "Company owns the device.",
            "Bring Your Own Device (i.e. individual owns the device)"
          ],
          "description": "Output only. Whether the device is owned by the company or an individual",
          "type": "string"
        },
        "encryptionState": {
          "description": "Output only. Device encryption state.",
          "type": "string",
          "enumDescriptions": [
            "Encryption Status is not set.",
            "Device doesn't support encryption.",
            "Device is encrypted.",
            "Device is not encrypted."
          ],
          "enum": [
            "ENCRYPTION_STATE_UNSPECIFIED",
            "UNSUPPORTED_BY_DEVICE",
            "ENCRYPTED",
            "NOT_ENCRYPTED"
          ],
          "readOnly": true
        },
        "manufacturer": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Device manufacturer. Example: Motorola."
        },
        "networkOperator": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Mobile or network operator of device, if available."
        },
        "enabledUsbDebugging": {
          "description": "Output only. Whether USB debugging is enabled on device.",
          "readOnly": true,
          "type": "boolean"
        },
        "serialNumber": {
          "type": "string",
          "description": "Serial Number of device. Example: HT82V1A01076."
        },
        "buildNumber": {
          "readOnly": true,
          "description": "Output only. Build number of the device.",
          "type": "string"
        }
      },
      "description": " A Device within the Cloud Identity Devices API. Represents a Device known to Google Cloud, independent of the device ownership, type, and whether it is assigned or in use by a user."
    },
    "DynamicGroupMetadata": {
      "id": "DynamicGroupMetadata",
      "properties": {
        "queries": {
          "type": "array",
          "items": {
            "$ref": "DynamicGroupQuery"
          },
          "description": "Memberships will be the union of all queries. Only one entry with USER resource is currently supported. Customers can create up to 100 dynamic groups."
        },
        "status": {
          "readOnly": true,
          "$ref": "DynamicGroupStatus",
          "description": "Output only. Status of the dynamic group."
        }
      },
      "description": "Dynamic group metadata like queries and status.",
      "type": "object"
    },
    "CreateMembershipMetadata": {
      "properties": {},
      "description": "Metadata for CreateMembership LRO.",
      "type": "object",
      "id": "CreateMembershipMetadata"
    },
    "GetMembershipGraphMetadata": {
      "properties": {},
      "id": "GetMembershipGraphMetadata",
      "type": "object",
      "description": "Metadata of GetMembershipGraphResponse LRO. This is currently empty to permit future extensibility."
    },
    "GetMembershipGraphResponse": {
      "description": "The response message for MembershipsService.GetMembershipGraph.",
      "type": "object",
      "properties": {
        "groups": {
          "items": {
            "$ref": "Group"
          },
          "type": "array",
          "description": "The resources representing each group in the adjacency list. Each group in this list can be correlated to a 'group' of the MembershipAdjacencyList using the 'name' of the Group resource."
        },
        "adjacencyList": {
          "description": "The membership graph's path information represented as an adjacency list.",
          "type": "array",
          "items": {
            "$ref": "MembershipAdjacencyList"
          }
        }
      },
      "id": "GetMembershipGraphResponse"
    },
    "GoogleAppsCloudidentityDevicesV1ClientState": {
      "properties": {
        "ownerType": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "OWNER_TYPE_UNSPECIFIED",
            "OWNER_TYPE_CUSTOMER",
            "OWNER_TYPE_PARTNER"
          ],
          "enumDescriptions": [
            "Unknown owner type",
            "Customer is the owner",
            "Partner is the owner"
          ],
          "description": "Output only. The owner of the ClientState"
        },
        "healthScore": {
          "enum": [
            "HEALTH_SCORE_UNSPECIFIED",
            "VERY_POOR",
            "POOR",
            "NEUTRAL",
            "GOOD",
            "VERY_GOOD"
          ],
          "enumDescriptions": [
            "Default value",
            "The object is in very poor health as defined by the caller.",
            "The object is in poor health as defined by the caller.",
            "The object health is neither good nor poor, as defined by the caller.",
            "The object is in good health as defined by the caller.",
            "The object is in very good health as defined by the caller."
          ],
          "description": "The Health score of the resource. The Health score is the callers specification of the condition of the device from a usability point of view. For example, a third-party device management provider may specify a health score based on its compliance with organizational policies.",
          "type": "string"
        },
        "lastUpdateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the client state data was last updated."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the client state data was created.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the ClientState in format: `devices/{device}/deviceUsers/{device_user}/clientState/{partner}`, where partner corresponds to the partner storing the data. For partners belonging to the \"BeyondCorp Alliance\", this is the partner ID specified to you by Google. For all other callers, this is a string of the form: `{customer}-suffix`, where `customer` is your customer ID. The *suffix* is any string the caller specifies. This string will be displayed verbatim in the administration console. This suffix is used in setting up Custom Access Levels in Context-Aware Access. Your organization's customer ID can be obtained from the URL: `GET https://www.googleapis.com/admin/directory/v1/customers/my_customer` The `id` field in the response contains the customer ID starting with the letter 'C'. The customer ID to be used in this API is the string after the letter 'C' (not including 'C')",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "The token that needs to be passed back for concurrency control in updates. Token needs to be passed back in UpdateRequest"
        },
        "customId": {
          "description": "This field may be used to store a unique identifier for the API resource within which these CustomAttributes are a field.",
          "type": "string"
        },
        "keyValuePairs": {
          "description": "The map of key-value attributes stored by callers specific to a device. The total serialized length of this map may not exceed 10KB. No limit is placed on the number of attributes in a map.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleAppsCloudidentityDevicesV1CustomAttributeValue"
          }
        },
        "scoreReason": {
          "description": "A descriptive cause of the health score.",
          "type": "string"
        },
        "managed": {
          "enumDescriptions": [
            "The management state of the resource is unknown or unspecified.",
            "The resource is managed.",
            "The resource is not managed."
          ],
          "enum": [
            "MANAGED_STATE_UNSPECIFIED",
            "MANAGED",
            "UNMANAGED"
          ],
          "description": "The management state of the resource as specified by the API client.",
          "type": "string"
        },
        "complianceState": {
          "enum": [
            "COMPLIANCE_STATE_UNSPECIFIED",
            "COMPLIANT",
            "NON_COMPLIANT"
          ],
          "enumDescriptions": [
            "The compliance state of the resource is unknown or unspecified.",
            "Device is compliant with third party policies",
            "Device is not compliant with third party policies"
          ],
          "type": "string",
          "description": "The compliance state of the resource as specified by the API client."
        },
        "assetTags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The caller can specify asset tags for this resource"
        }
      },
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1ClientState",
      "description": "Represents the state associated with an API client calling the Devices API. Resource representing ClientState and supports updates from API users"
    },
    "SearchTransitiveGroupsResponse": {
      "properties": {
        "memberships": {
          "type": "array",
          "description": "List of transitive groups satisfying the query.",
          "items": {
            "$ref": "GroupRelation"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results available for listing.",
          "type": "string"
        }
      },
      "description": "The response message for MembershipsService.SearchTransitiveGroups.",
      "type": "object",
      "id": "SearchTransitiveGroupsResponse"
    },
    "GoogleAppsCloudidentityDevicesV1SignoutDeviceUserMetadata": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1SignoutDeviceUserMetadata",
      "description": "Metadata for SignoutDeviceUser LRO.",
      "properties": {}
    },
    "TransitiveMembershipRole": {
      "type": "object",
      "id": "TransitiveMembershipRole",
      "properties": {
        "role": {
          "description": "TransitiveMembershipRole in string format. Currently supported TransitiveMembershipRoles: `\"MEMBER\"`, `\"OWNER\"`, and `\"MANAGER\"`.",
          "type": "string"
        }
      },
      "description": "Message representing the role of a TransitiveMembership."
    },
    "GoogleAppsCloudidentityDevicesV1ListEndpointAppsMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1ListEndpointAppsMetadata",
      "type": "object",
      "description": "Metadata for ListEndpointApps LRO.",
      "properties": {}
    },
    "MembershipRole": {
      "description": "A membership role within the Cloud Identity Groups API. A `MembershipRole` defines the privileges granted to a `Membership`.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the `MembershipRole`. Must be one of `OWNER`, `MANAGER`, `MEMBER`.",
          "type": "string"
        },
        "expiryDetail": {
          "description": "The expiry details of the `MembershipRole`. Expiry details are only supported for `MEMBER` `MembershipRoles`. May be set if `name` is `MEMBER`. Must not be set if `name` is any other value.",
          "$ref": "ExpiryDetail"
        }
      },
      "id": "MembershipRole"
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceMetadata",
      "type": "object",
      "description": "Metadata for CancelWipeDevice LRO.",
      "properties": {}
    },
    "UserInvitation": {
      "id": "UserInvitation",
      "description": "The `UserInvitation` resource represents an email that can be sent to an unmanaged user account inviting them to join the customer's Google Workspace or Cloud Identity account. An unmanaged account shares an email address domain with the Google Workspace or Cloud Identity account but is not managed by it yet. If the user accepts the `UserInvitation`, the user account will become managed.",
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Time when the `UserInvitation` was last updated.",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Shall be of the form `customers/{customer}/userinvitations/{user_email_address}`."
        },
        "mailsSentCount": {
          "description": "Number of invitation emails sent to the user.",
          "format": "int64",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The `UserInvitation` has been created and is ready for sending as an email.",
            "The user has been invited by email.",
            "The user has accepted the invitation and is part of the organization.",
            "The user declined the invitation."
          ],
          "description": "State of the `UserInvitation`.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_YET_SENT",
            "INVITED",
            "ACCEPTED",
            "DECLINED"
          ]
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1DeviceUser": {
      "properties": {
        "userEmail": {
          "type": "string",
          "description": "Email address of the user registered on the device."
        },
        "languageCode": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Default locale used on device, in IETF BCP-47 format."
        },
        "passwordState": {
          "enum": [
            "PASSWORD_STATE_UNSPECIFIED",
            "PASSWORD_SET",
            "PASSWORD_NOT_SET"
          ],
          "type": "string",
          "description": "Password state of the DeviceUser object",
          "enumDescriptions": [
            "Password state not set.",
            "Password set in object.",
            "Password not set in object."
          ]
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the DeviceUser in format: `devices/{device}/deviceUsers/{device_user}`, where `device_user` uniquely identifies a user's use of a device."
        },
        "lastSyncTime": {
          "readOnly": true,
          "description": "Output only. Last time when user synced with policies.",
          "type": "string",
          "format": "google-datetime"
        },
        "firstSyncTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Most recent time when user registered with this service.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "When the user first signed in to the device"
        },
        "managementState": {
          "readOnly": true,
          "description": "Output only. Management state of the user on the device.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "This user's data and profile is being removed from the device.",
            "This user's data and profile is removed from the device.",
            "User is approved to access data on the device.",
            "User is blocked from accessing data on the device.",
            "User is awaiting approval.",
            "User is unenrolled from Advanced Windows Management, but the Windows account is still intact."
          ],
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "WIPING",
            "WIPED",
            "APPROVED",
            "BLOCKED",
            "PENDING_APPROVAL",
            "UNENROLLED"
          ]
        },
        "userAgent": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. User agent on the device for this specific user"
        },
        "compromisedState": {
          "enumDescriptions": [
            "Compromised state of Device User account is unknown or unspecified.",
            "Device User Account is compromised.",
            "Device User Account is not compromised."
          ],
          "description": "Compromised State of the DeviceUser object",
          "type": "string",
          "enum": [
            "COMPROMISED_STATE_UNSPECIFIED",
            "COMPROMISED",
            "NOT_COMPROMISED"
          ]
        }
      },
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1DeviceUser",
      "description": "Represents a user's use of a Device in the Cloud Identity Devices API. A DeviceUser is a resource representing a user's use of a Device"
    },
    "ListMembershipsResponse": {
      "type": "object",
      "id": "ListMembershipsResponse",
      "description": "The response message for MembershipsService.ListMemberships.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A continuation token to retrieve the next page of results, or empty if there are no more results available."
        },
        "memberships": {
          "type": "array",
          "items": {
            "$ref": "Membership"
          },
          "description": "The `Membership`s under the specified `parent`."
        }
      }
    },
    "DynamicGroupStatus": {
      "id": "DynamicGroupStatus",
      "type": "object",
      "description": "The current status of a dynamic group along with timestamp.",
      "properties": {
        "statusTime": {
          "description": "The latest time at which the dynamic group is guaranteed to be in the given status. If status is `UP_TO_DATE`, the latest time at which the dynamic group was confirmed to be up-to-date. If status is `UPDATING_MEMBERSHIPS`, the time at which dynamic group was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "Status of the dynamic group.",
          "enumDescriptions": [
            "Default.",
            "The dynamic group is up-to-date.",
            "The dynamic group has just been created and memberships are being updated.",
            "Group is in an unrecoverable state and its memberships can't be updated."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "UP_TO_DATE",
            "UPDATING_MEMBERSHIPS",
            "INVALID_QUERY"
          ]
        }
      }
    },
    "DeleteMembershipMetadata": {
      "description": "Metadata for DeleteMembership LRO.",
      "properties": {},
      "id": "DeleteMembershipMetadata",
      "type": "object"
    },
    "MemberRelation": {
      "description": "Message representing a transitive membership of a group.",
      "id": "MemberRelation",
      "properties": {
        "member": {
          "type": "string",
          "description": "Resource name for this member."
        },
        "roles": {
          "description": "The membership role details (i.e name of role and expiry time).",
          "type": "array",
          "items": {
            "$ref": "TransitiveMembershipRole"
          }
        },
        "preferredMemberKey": {
          "items": {
            "$ref": "EntityKey"
          },
          "type": "array",
          "description": "Entity key has an id and a namespace. In case of discussion forums, the id will be an email address without a namespace."
        },
        "relationType": {
          "enum": [
            "RELATION_TYPE_UNSPECIFIED",
            "DIRECT",
            "INDIRECT",
            "DIRECT_AND_INDIRECT"
          ],
          "description": "The relation between the group and the transitive member.",
          "enumDescriptions": [
            "The relation type is undefined or undetermined.",
            "The two entities have only a direct membership with each other.",
            "The two entities have only an indirect membership with each other.",
            "The two entities have both a direct and an indirect membership with each other."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1UpdateClientStateMetadata": {
      "type": "object",
      "description": "Metadata for UpdateClientState LRO.",
      "properties": {},
      "id": "GoogleAppsCloudidentityDevicesV1UpdateClientStateMetadata"
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceUserResponse": {
      "type": "object",
      "description": "Response message for wiping the user's account from the device.",
      "properties": {
        "deviceUser": {
          "description": "Resultant DeviceUser object for the action.",
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser"
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceUserResponse"
    },
    "ListGroupsResponse": {
      "type": "object",
      "id": "ListGroupsResponse",
      "description": "Response message for ListGroups operation.",
      "properties": {
        "groups": {
          "type": "array",
          "items": {
            "$ref": "Group"
          },
          "description": "Groups returned in response to list request. The results are not sorted."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results available for listing."
        }
      }
    },
    "CreateGroupMetadata": {
      "type": "object",
      "description": "Metadata for CreateGroup LRO.",
      "id": "CreateGroupMetadata",
      "properties": {}
    },
    "EntityKey": {
      "properties": {
        "namespace": {
          "type": "string",
          "description": "The namespace in which the entity exists. If not specified, the `EntityKey` represents a Google-managed entity such as a Google user or a Google Group. If specified, the `EntityKey` represents an external-identity-mapped group. The namespace must correspond to an identity source created in Admin Console and must be in the form of `identitysources/{identity_source}`."
        },
        "id": {
          "type": "string",
          "description": "The ID of the entity. For Google-managed entities, the `id` should be the email address of an existing group or user. For external-identity-mapped entities, the `id` must be a string conforming to the Identity Source's requirements. Must be unique within a `namespace`."
        }
      },
      "description": "A unique identifier for an entity in the Cloud Identity Groups API. An entity can represent either a group with an optional `namespace` or a user without a `namespace`. The combination of `id` and `namespace` must be unique; however, the same `id` can be used with different `namespace`s.",
      "id": "EntityKey",
      "type": "object"
    },
    "ExpiryDetail": {
      "type": "object",
      "id": "ExpiryDetail",
      "properties": {
        "expireTime": {
          "description": "The time at which the `MembershipRole` will expire.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "The `MembershipRole` expiry details."
    },
    "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserResponse": {
      "type": "object",
      "description": "Response message for approving the device to access user data.",
      "id": "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserResponse",
      "properties": {
        "deviceUser": {
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser",
          "description": "Resultant DeviceUser object for the action."
        }
      }
    },
    "CheckTransitiveMembershipResponse": {
      "id": "CheckTransitiveMembershipResponse",
      "type": "object",
      "properties": {
        "hasMembership": {
          "description": "Response does not include the possible roles of a member since the behavior of this rpc is not all-or-nothing unlike the other rpcs. So, it may not be possible to list all the roles definitively, due to possible lack of authorization in some of the paths.",
          "type": "boolean"
        }
      },
      "description": "The response message for MembershipsService.CheckTransitiveMembership."
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceMetadata": {
      "description": "Metadata for WipeDevice LRO.",
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleAppsCloudidentityDevicesV1CustomAttributeValue": {
      "id": "GoogleAppsCloudidentityDevicesV1CustomAttributeValue",
      "type": "object",
      "description": "Additional custom attribute values may be one of these types",
      "properties": {
        "numberValue": {
          "type": "number",
          "description": "Represents a double value.",
          "format": "double"
        },
        "boolValue": {
          "description": "Represents a boolean value.",
          "type": "boolean"
        },
        "stringValue": {
          "description": "Represents a string value.",
          "type": "string"
        }
      }
    },
    "SearchGroupsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A continuation token to retrieve the next page of results, or empty if there are no more results available."
        },
        "groups": {
          "items": {
            "$ref": "Group"
          },
          "type": "array",
          "description": "The `Group` resources that match the search query."
        }
      },
      "description": "The response message for GroupsService.SearchGroups.",
      "id": "SearchGroupsResponse"
    },
    "MembershipAdjacencyList": {
      "description": "Membership graph's path information as an adjacency list.",
      "id": "MembershipAdjacencyList",
      "properties": {
        "edges": {
          "type": "array",
          "items": {
            "$ref": "Membership"
          },
          "description": "Each edge contains information about the member that belongs to this group. Note: Fields returned here will help identify the specific Membership resource (e.g name, preferred_member_key and role), but may not be a comprehensive list of all fields."
        },
        "group": {
          "type": "string",
          "description": "Resource name of the group that the members belong to."
        }
      },
      "type": "object"
    },
    "LookupGroupNameResponse": {
      "description": "The response message for GroupsService.LookupGroupName.",
      "type": "object",
      "id": "LookupGroupNameResponse",
      "properties": {
        "name": {
          "description": "The [resource name](https://cloud.google.com/apis/design/resource_names) of the looked-up `Group`.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserMetadata",
      "properties": {},
      "description": "Metadata for ApproveDeviceUser LRO.",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1BlockDeviceUserMetadata": {
      "properties": {},
      "description": "Metadata for BlockDeviceUser LRO.",
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1BlockDeviceUserMetadata"
    },
    "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserRequest": {
      "description": "Request message for approving the device to access user data.",
      "properties": {
        "customer": {
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs.",
          "type": "string"
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserRequest",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserRequest": {
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserRequest",
      "type": "object",
      "description": "Request message for cancelling an unfinished user account wipe.",
      "properties": {
        "customer": {
          "type": "string",
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs."
        }
      }
    },
    "Membership": {
      "properties": {
        "roles": {
          "description": "The `MembershipRole`s that apply to the `Membership`. If unspecified, defaults to a single `MembershipRole` with `name` `MEMBER`. Must not contain duplicate `MembershipRole`s with the same `name`.",
          "type": "array",
          "items": {
            "$ref": "MembershipRole"
          }
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the `Membership` was created.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership`. Shall be of the form `groups/{group}/memberships/{membership}`."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the `Membership` was last updated.",
          "format": "google-datetime"
        },
        "type": {
          "enumDescriptions": [
            "Default. Should not be used.",
            "Represents user type.",
            "Represents service account type.",
            "Represents group type.",
            "Represents Shared drive.",
            "Represents other type."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER",
            "SERVICE_ACCOUNT",
            "GROUP",
            "SHARED_DRIVE",
            "OTHER"
          ],
          "type": "string",
          "description": "Output only. The type of the membership.",
          "readOnly": true
        },
        "preferredMemberKey": {
          "$ref": "EntityKey",
          "description": "Required. Immutable. The `EntityKey` of the member."
        }
      },
      "description": "A membership within the Cloud Identity Groups API. A `Membership` defines a relationship between a `Group` and an entity belonging to that `Group`, referred to as a \"member\".",
      "type": "object",
      "id": "Membership"
    },
    "ModifyMembershipRolesRequest": {
      "id": "ModifyMembershipRolesRequest",
      "properties": {
        "updateRolesParams": {
          "description": "The `MembershipRole`s to be updated. Updating roles in the same request as adding or removing roles is not supported. Must not be set if either `add_roles` or `remove_roles` is set.",
          "type": "array",
          "items": {
            "$ref": "UpdateMembershipRolesParams"
          }
        },
        "addRoles": {
          "items": {
            "$ref": "MembershipRole"
          },
          "description": "The `MembershipRole`s to be added. Adding or removing roles in the same request as updating roles is not supported. Must not be set if `update_roles_params` is set.",
          "type": "array"
        },
        "removeRoles": {
          "description": "The `name`s of the `MembershipRole`s to be removed. Adding or removing roles in the same request as updating roles is not supported. It is not possible to remove the `MEMBER` `MembershipRole`. If you wish to delete a `Membership`, call MembershipsService.DeleteMembership instead. Must not contain `MEMBER`. Must not be set if `update_roles_params` is set.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The request message for MembershipsService.ModifyMembershipRoles."
    },
    "UpdateMembershipMetadata": {
      "description": "Metadata for UpdateMembership LRO.",
      "properties": {},
      "id": "UpdateMembershipMetadata",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1DeleteDeviceUserMetadata": {
      "properties": {},
      "type": "object",
      "description": "Metadata for DeleteDeviceUser LRO.",
      "id": "GoogleAppsCloudidentityDevicesV1DeleteDeviceUserMetadata"
    },
    "GoogleAppsCloudidentityDevicesV1ListDevicesResponse": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1ListDevicesResponse",
      "description": "Response message that is returned from the ListDevices method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results. Empty if there are no more results."
        },
        "devices": {
          "items": {
            "$ref": "GoogleAppsCloudidentityDevicesV1Device"
          },
          "type": "array",
          "description": "Devices meeting the list restrictions."
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceRequest": {
      "properties": {
        "customer": {
          "type": "string",
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs."
        }
      },
      "description": "Request message for cancelling an unfinished device wipe.",
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceRequest"
    },
    "GoogleAppsCloudidentityDevicesV1LookupSelfDeviceUsersResponse": {
      "id": "GoogleAppsCloudidentityDevicesV1LookupSelfDeviceUsersResponse",
      "type": "object",
      "description": "Response containing resource names of the DeviceUsers associated with the caller's credentials.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results. Empty if there are no more results."
        },
        "customer": {
          "description": "The obfuscated customer Id that may be passed back to other Devices API methods such as List, Get, etc.",
          "type": "string"
        },
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "[Resource names](https://cloud.google.com/apis/design/resource_names) of the DeviceUsers in the format: `devices/{device}/deviceUsers/{user_resource}`, where device is the unique ID assigned to a Device and user_resource is the unique user ID"
        }
      }
    },
    "Status": {
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceUserMetadata": {
      "description": "Metadata for WipeDeviceUser LRO.",
      "properties": {},
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceUserMetadata"
    },
    "DynamicGroupQuery": {
      "description": "Defines a query on a resource.",
      "type": "object",
      "id": "DynamicGroupQuery",
      "properties": {
        "resourceType": {
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "USER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value (not valid)",
            "For queries on User"
          ],
          "description": "Resource type for the Dynamic Group Query"
        },
        "query": {
          "description": "Query that determines the memberships of the dynamic group. Examples: All users with at least one `organizations.department` of engineering. `user.organizations.exists(org, org.department=='engineering')` All users with at least one location that has `area` of `foo` and `building_id` of `bar`. `user.locations.exists(loc, loc.area=='foo' && loc.building_id=='bar')` All users with any variation of the name John Doe (case-insensitive queries add `equalsIgnoreCase()` to the value being queried). `user.name.value.equalsIgnoreCase('jOhn DoE')`",
          "type": "string"
        }
      }
    },
    "Group": {
      "type": "object",
      "id": "Group",
      "description": "A group within the Cloud Identity Groups API. A `Group` is a collection of entities, where each entity is either a user, another group, or a service account.",
      "properties": {
        "updateTime": {
          "description": "Output only. The time when the `Group` was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "dynamicGroupMetadata": {
          "description": "Optional. Dynamic group metadata like queries and status.",
          "$ref": "DynamicGroupMetadata"
        },
        "parent": {
          "type": "string",
          "description": "Required. Immutable. The resource name of the entity under which this `Group` resides in the Cloud Identity resource hierarchy. Must be of the form `identitysources/{identity_source}` for external- identity-mapped groups or `customers/{customer}` for Google Groups. The `customer` must begin with \"C\" (for example, 'C046psxkn')."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the `Group` was created."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group`. Shall be of the form `groups/{group}`."
        },
        "groupKey": {
          "$ref": "EntityKey",
          "description": "Required. Immutable. The `EntityKey` of the `Group`."
        },
        "labels": {
          "type": "object",
          "description": "Required. One or more label entries that apply to the Group. Currently supported labels contain a key with an empty value. Google Groups are the default type of group and have a label with a key of `cloudidentity.googleapis.com/groups.discussion_forum` and an empty value. Existing Google Groups can have an additional label with a key of `cloudidentity.googleapis.com/groups.security` and an empty value added to them. **This is an immutable change and the security label cannot be removed once added.** Dynamic groups have a label with a key of `cloudidentity.googleapis.com/groups.dynamic`. Identity-mapped groups for Cloud Search have a label with a key of `system/groups/external` and an empty value.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "The display name of the `Group`.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "An extended description to help users determine the purpose of a `Group`. Must not be longer than 4,096 characters."
        }
      }
    },
    "GroupRelation": {
      "type": "object",
      "id": "GroupRelation",
      "description": "Message representing a transitive group of a user or a group.",
      "properties": {
        "groupKey": {
          "$ref": "EntityKey",
          "description": "Entity key has an id and a namespace. In case of discussion forums, the id will be an email address without a namespace."
        },
        "roles": {
          "items": {
            "$ref": "TransitiveMembershipRole"
          },
          "description": "Membership roles of the member for the group.",
          "type": "array"
        },
        "relationType": {
          "enum": [
            "RELATION_TYPE_UNSPECIFIED",
            "DIRECT",
            "INDIRECT",
            "DIRECT_AND_INDIRECT"
          ],
          "enumDescriptions": [
            "The relation type is undefined or undetermined.",
            "The two entities have only a direct membership with each other.",
            "The two entities have only an indirect membership with each other.",
            "The two entities have both a direct and an indirect membership with each other."
          ],
          "type": "string",
          "description": "The relation between the member and the transitive group."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels for Group resource."
        },
        "displayName": {
          "description": "Display name for this group.",
          "type": "string"
        },
        "group": {
          "description": "Resource name for this group.",
          "type": "string"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceUserRequest": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceUserRequest",
      "description": "Request message for starting an account wipe on device.",
      "properties": {
        "customer": {
          "type": "string",
          "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs."
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1UpdateDeviceMetadata": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1UpdateDeviceMetadata",
      "description": "Metadata for UpdateDevice LRO.",
      "properties": {}
    },
    "ModifyMembershipRolesResponse": {
      "type": "object",
      "properties": {
        "membership": {
          "$ref": "Membership",
          "description": "The `Membership` resource after modifying its `MembershipRole`s."
        }
      },
      "description": "The response message for MembershipsService.ModifyMembershipRoles.",
      "id": "ModifyMembershipRolesResponse"
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserMetadata": {
      "description": "Metadata for CancelWipeDeviceUser LRO.",
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleAppsCloudidentityDevicesV1AndroidAttributes": {
      "type": "object",
      "description": "Resource representing the Android specific attributes of a Device.",
      "id": "GoogleAppsCloudidentityDevicesV1AndroidAttributes",
      "properties": {
        "ownershipPrivilege": {
          "enum": [
            "OWNERSHIP_PRIVILEGE_UNSPECIFIED",
            "DEVICE_ADMINISTRATOR",
            "PROFILE_OWNER",
            "DEVICE_OWNER"
          ],
          "description": "Ownership privileges on device.",
          "enumDescriptions": [
            "Ownership privilege is not set.",
            "Active device administrator privileges on the device.",
            "Profile Owner privileges. The account is in a managed corporate profile.",
            "Device Owner privileges on the device."
          ],
          "type": "string"
        },
        "supportsWorkProfile": {
          "type": "boolean",
          "description": "Whether device supports Android work profiles. If false, this service will not block access to corp data even if an administrator turns on the \"Enforce Work Profile\" policy."
        },
        "ownerProfileAccount": {
          "description": "Whether this account is on an owner/primary profile. For phones, only true for owner profiles. Android 4+ devices can have secondary or restricted user profiles.",
          "type": "boolean"
        },
        "enabledUnknownSources": {
          "type": "boolean",
          "description": "Whether applications from unknown sources can be installed on device."
        }
      }
    },
    "SearchTransitiveMembershipsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results."
        },
        "memberships": {
          "description": "List of transitive members satisfying the query.",
          "type": "array",
          "items": {
            "$ref": "MemberRelation"
          }
        }
      },
      "id": "SearchTransitiveMembershipsResponse",
      "description": "The response message for MembershipsService.SearchTransitiveMemberships.",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceResponse": {
      "properties": {
        "device": {
          "description": "Resultant Device object for the action. Note that asset tags will not be returned in the device object.",
          "$ref": "GoogleAppsCloudidentityDevicesV1Device"
        }
      },
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceResponse",
      "description": "Response message for cancelling an unfinished device wipe."
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserResponse": {
      "description": "Response message for cancelling an unfinished user account wipe.",
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserResponse",
      "properties": {
        "deviceUser": {
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser",
          "description": "Resultant DeviceUser object for the action."
        }
      },
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1ListClientStatesResponse": {
      "id": "GoogleAppsCloudidentityDevicesV1ListClientStatesResponse",
      "description": "Response message that is returned in ListClientStates.",
      "properties": {
        "clientStates": {
          "items": {
            "$ref": "GoogleAppsCloudidentityDevicesV1ClientState"
          },
          "description": "Client states meeting the list restrictions.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. Empty if there are no more results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UpdateGroupMetadata": {
      "properties": {},
      "description": "Metadata for UpdateGroup LRO.",
      "type": "object",
      "id": "UpdateGroupMetadata"
    }
  },
  "parameters": {
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "title": "Cloud Identity API",
  "batchPath": "batch",
  "id": "cloudidentity:v1",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://cloudidentity.mtls.googleapis.com/",
  "revision": "20211116",
  "canonicalName": "Cloud Identity",
  "ownerDomain": "google.com",
  "resources": {
    "devices": {
      "resources": {
        "deviceUsers": {
          "methods": {
            "cancelWipe": {
              "path": "v1/{+name}:cancelWipe",
              "parameterOrder": [
                "name"
              ],
              "id": "cloudidentity.devices.deviceUsers.cancelWipe",
              "description": "Cancels an unfinished user account wipe. This operation can be used to cancel device wipe in the gap between the wipe operation returning success and the device being wiped.",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device}/deviceUsers/{device_user}`, where device is the unique ID assigned to the Device, and device_user is the unique ID assigned to the User.",
                  "type": "string",
                  "required": true,
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$"
                }
              },
              "flatPath": "v1/devices/{devicesId}/deviceUsers/{deviceUsersId}:cancelWipe",
              "request": {
                "$ref": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserRequest"
              },
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "POST"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists/Searches DeviceUsers.",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListDeviceUsers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBooks` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "location": "query",
                  "description": "Optional. Order specification for devices in the response.",
                  "type": "string"
                },
                "customer": {
                  "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "description": "Optional. Additional restrictions when fetching list of devices. For a list of search fields, refer to [Mobile device search fields](https://developers.google.com/admin-sdk/directory/v1/search-operators). Multiple search fields are separated by the space character.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^devices/[^/]+$",
                  "description": "Required. To list all DeviceUsers, set this to \"devices/-\". To list all DeviceUsers owned by a device, set this to the resource name of the device. Format: devices/{device}",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of DeviceUsers to return. If unspecified, at most 5 DeviceUsers will be returned. The maximum value is 20; values above 20 will be coerced to 20.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                }
              },
              "id": "cloudidentity.devices.deviceUsers.list",
              "flatPath": "v1/devices/{devicesId}/deviceUsers",
              "response": {
                "$ref": "GoogleAppsCloudidentityDevicesV1ListDeviceUsersResponse"
              },
              "path": "v1/{+parent}/deviceUsers"
            },
            "lookup": {
              "parameters": {
                "rawResourceId": {
                  "location": "query",
                  "description": "Raw Resource Id used by Google Endpoint Verification. If the user is enrolled into Google Endpoint Verification, this id will be saved as the 'device_resource_id' field in the following platform dependent files. Mac: ~/.secureConnect/context_aware_config.json Windows: C:\\Users\\%USERPROFILE%\\.secureConnect\\context_aware_config.json Linux: ~/.secureConnect/context_aware_config.json",
                  "type": "string"
                },
                "userId": {
                  "type": "string",
                  "description": "The user whose DeviceUser's resource name will be fetched. Must be set to 'me' to fetch the DeviceUser's resource name for the calling user.",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of DeviceUsers to return. If unspecified, at most 20 DeviceUsers will be returned. The maximum value is 20; values above 20 will be coerced to 20."
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Must be set to \"devices/-/deviceUsers\" to search across all DeviceUser belonging to the user.",
                  "pattern": "^devices/[^/]+/deviceUsers$",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token, received from a previous `LookupDeviceUsers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `LookupDeviceUsers` must match the call that provided the page token.",
                  "type": "string"
                },
                "androidId": {
                  "type": "string",
                  "location": "query",
                  "description": "Android Id returned by [Settings.Secure#ANDROID_ID](https://developer.android.com/reference/android/provider/Settings.Secure.html#ANDROID_ID)."
                }
              },
              "id": "cloudidentity.devices.deviceUsers.lookup",
              "response": {
                "$ref": "GoogleAppsCloudidentityDevicesV1LookupSelfDeviceUsersResponse"
              },
              "description": "Looks up resource names of the DeviceUsers associated with the caller's credentials, as well as the properties provided in the request. This method must be called with end-user credentials with the scope: https://www.googleapis.com/auth/cloud-identity.devices.lookup If multiple properties are provided, only DeviceUsers having all of these properties are considered as matches - i.e. the query behaves like an AND. Different platforms require different amounts of information from the caller to ensure that the DeviceUser is uniquely identified. - iOS: No properties need to be passed, the caller's credentials are sufficient to identify the corresponding DeviceUser. - Android: Specifying the 'android_id' field is required. - Desktop: Specifying the 'raw_resource_id' field is required.",
              "flatPath": "v1/devices/{devicesId}/deviceUsers:lookup",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.devices.lookup"
              ],
              "path": "v1/{+parent}:lookup",
              "httpMethod": "GET"
            },
            "delete": {
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "DELETE",
              "id": "cloudidentity.devices.deviceUsers.delete",
              "parameters": {
                "customer": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs."
                },
                "name": {
                  "required": true,
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device}/deviceUsers/{device_user}`, where device is the unique ID assigned to the Device, and device_user is the unique ID assigned to the User."
                }
              },
              "description": "Deletes the specified DeviceUser. This also revokes the user's access to device data.",
              "flatPath": "v1/devices/{devicesId}/deviceUsers/{deviceUsersId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}"
            },
            "approve": {
              "path": "v1/{+name}:approve",
              "id": "cloudidentity.devices.deviceUsers.approve",
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1/devices/{devicesId}/deviceUsers/{deviceUsersId}:approve",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device}/deviceUsers/{device_user}`, where device is the unique ID assigned to the Device, and device_user is the unique ID assigned to the User.",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Approves device to access user data."
            },
            "block": {
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "description": "Blocks device from accessing user data",
              "request": {
                "$ref": "GoogleAppsCloudidentityDevicesV1BlockDeviceUserRequest"
              },
              "flatPath": "v1/devices/{devicesId}/deviceUsers/{deviceUsersId}:block",
              "id": "cloudidentity.devices.deviceUsers.block",
              "path": "v1/{+name}:block",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$",
                  "location": "path",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device}/deviceUsers/{device_user}`, where device is the unique ID assigned to the Device, and device_user is the unique ID assigned to the User.",
                  "type": "string"
                }
              }
            },
            "get": {
              "httpMethod": "GET",
              "description": "Retrieves the specified DeviceUser",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$",
                  "location": "path",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device}/deviceUsers/{device_user}`, where device is the unique ID assigned to the Device, and device_user is the unique ID assigned to the User."
                },
                "customer": {
                  "type": "string",
                  "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs.",
                  "location": "query"
                }
              },
              "flatPath": "v1/devices/{devicesId}/deviceUsers/{deviceUsersId}",
              "parameterOrder": [
                "name"
              ],
              "id": "cloudidentity.devices.deviceUsers.get",
              "response": {
                "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser"
              }
            },
            "wipe": {
              "request": {
                "$ref": "GoogleAppsCloudidentityDevicesV1WipeDeviceUserRequest"
              },
              "description": "Wipes the user's account on a device. Other data on the device that is not associated with the user's work account is not affected. For example, if a Gmail app is installed on a device that is used for personal and work purposes, and the user is logged in to the Gmail app with their personal account as well as their work account, wiping the \"deviceUser\" by their work administrator will not affect their personal account within Gmail or other apps such as Photos.",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device}/deviceUsers/{device_user}`, where device is the unique ID assigned to the Device, and device_user is the unique ID assigned to the User.",
                  "type": "string",
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/devices/{devicesId}/deviceUsers/{deviceUsersId}:wipe",
              "id": "cloudidentity.devices.deviceUsers.wipe",
              "httpMethod": "POST",
              "response": {
                "$ref": "Operation"
              },
              "path": "v1/{+name}:wipe"
            }
          },
          "resources": {
            "clientStates": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/clientStates",
                  "flatPath": "v1/devices/{devicesId}/deviceUsers/{deviceUsersId}/clientStates",
                  "httpMethod": "GET",
                  "parameters": {
                    "customer": {
                      "location": "query",
                      "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs.",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. Order specification for client states in the response.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^devices/[^/]+/deviceUsers/[^/]+$",
                      "description": "Required. To list all ClientStates, set this to \"devices/-/deviceUsers/-\". To list all ClientStates owned by a DeviceUser, set this to the resource name of the DeviceUser. Format: devices/{device}/deviceUsers/{deviceUser}",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Additional restrictions when fetching list of client states.",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListClientStates` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListClientStates` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Lists the client states for the given search query.",
                  "response": {
                    "$ref": "GoogleAppsCloudidentityDevicesV1ListClientStatesResponse"
                  },
                  "id": "cloudidentity.devices.deviceUsers.clientStates.list"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the ClientState in format: `devices/{device}/deviceUsers/{device_user}/clientStates/{partner}`, where `device` is the unique ID assigned to the Device, `device_user` is the unique ID assigned to the User and `partner` identifies the partner storing the data. To get the client state for devices belonging to your own organization, the `partnerId` is in the format: `customerId-*anystring*`. Where the `customerId` is your organization's customer ID and `anystring` is any suffix. This suffix is used in setting up Custom Access Levels in Context-Aware Access. You may use `my_customer` instead of the customer ID for devices managed by your own organization. You may specify `-` in place of the `{device}`, so the ClientState resource name can be: `devices/-/deviceUsers/{device_user_resource}/clientStates/{partner}`.",
                      "pattern": "^devices/[^/]+/deviceUsers/[^/]+/clientStates/[^/]+$"
                    },
                    "customer": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs."
                    }
                  },
                  "description": "Gets the client state for the device user",
                  "path": "v1/{+name}",
                  "id": "cloudidentity.devices.deviceUsers.clientStates.get",
                  "flatPath": "v1/devices/{devicesId}/deviceUsers/{deviceUsersId}/clientStates/{clientStatesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleAppsCloudidentityDevicesV1ClientState"
                  },
                  "httpMethod": "GET"
                },
                "patch": {
                  "description": "Updates the client state for the device user **Note**: This method is available only to customers who have one of the following SKUs: Enterprise Standard, Enterprise Plus, Enterprise for Education, and Cloud Identity Premium",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^devices/[^/]+/deviceUsers/[^/]+/clientStates/[^/]+$",
                      "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the ClientState in format: `devices/{device}/deviceUsers/{device_user}/clientState/{partner}`, where partner corresponds to the partner storing the data. For partners belonging to the \"BeyondCorp Alliance\", this is the partner ID specified to you by Google. For all other callers, this is a string of the form: `{customer}-suffix`, where `customer` is your customer ID. The *suffix* is any string the caller specifies. This string will be displayed verbatim in the administration console. This suffix is used in setting up Custom Access Levels in Context-Aware Access. Your organization's customer ID can be obtained from the URL: `GET https://www.googleapis.com/admin/directory/v1/customers/my_customer` The `id` field in the response contains the customer ID starting with the letter 'C'. The customer ID to be used in this API is the string after the letter 'C' (not including 'C')",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "customer": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs."
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Comma-separated list of fully qualified names of fields to be updated. If not specified, all updatable fields in ClientState are updated.",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleAppsCloudidentityDevicesV1ClientState"
                  },
                  "id": "cloudidentity.devices.deviceUsers.clientStates.patch",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/devices/{devicesId}/deviceUsers/{deviceUsersId}/clientStates/{clientStatesId}"
                }
              }
            }
          }
        }
      },
      "methods": {
        "list": {
          "description": "Lists/Searches devices.",
          "id": "cloudidentity.devices.list",
          "httpMethod": "GET",
          "flatPath": "v1/devices",
          "parameters": {
            "filter": {
              "description": "Optional. Additional restrictions when fetching list of devices. For a list of search fields, refer to [Mobile device search fields](https://developers.google.com/admin-sdk/directory/v1/search-operators). Multiple search fields are separated by the space character.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Optional. The maximum number of Devices to return. If unspecified, at most 20 Devices will be returned. The maximum value is 100; values above 100 will be coerced to 100."
            },
            "view": {
              "enum": [
                "VIEW_UNSPECIFIED",
                "COMPANY_INVENTORY",
                "USER_ASSIGNED_DEVICES"
              ],
              "type": "string",
              "description": "Optional. The view to use for the List request.",
              "enumDescriptions": [
                "Default value. The value is unused.",
                "This view contains all devices imported by the company admin. Each device in the response contains all information specified by the company admin when importing the device (i.e. asset tags). This includes devices that may be unaassigned or assigned to users.",
                "This view contains all devices with at least one user registered on the device. Each device in the response contains all device information, except for asset tags."
              ],
              "location": "query"
            },
            "orderBy": {
              "type": "string",
              "description": "Optional. Order specification for devices in the response. Only one of the following field names may be used to specify the order: `create_time`, `last_sync_time`, `model`, `os_version`, `device_type` and `serial_number`. `desc` may be specified optionally at the end to specify results to be sorted in descending order. Default order is ascending.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A page token, received from a previous `ListDevices` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDevices` must match the call that provided the page token.",
              "location": "query"
            },
            "customer": {
              "location": "query",
              "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer in the format: `customers/{customer}`, where customer is the customer to whom the device belongs. If you're using this API for your own organization, use `customers/my_customer`. If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs.",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "path": "v1/devices",
          "response": {
            "$ref": "GoogleAppsCloudidentityDevicesV1ListDevicesResponse"
          }
        },
        "get": {
          "id": "cloudidentity.devices.get",
          "path": "v1/{+name}",
          "description": "Retrieves the specified device.",
          "httpMethod": "GET",
          "flatPath": "v1/devices/{devicesId}",
          "parameters": {
            "customer": {
              "type": "string",
              "location": "query",
              "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Customer in the format: `customers/{customer}`, where customer is the customer to whom the device belongs. If you're using this API for your own organization, use `customers/my_customer`. If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs."
            },
            "name": {
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in the format: `devices/{device}`, where device is the unique ID assigned to the Device.",
              "required": true,
              "pattern": "^devices/[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleAppsCloudidentityDevicesV1Device"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "cancelWipe": {
          "id": "cloudidentity.devices.cancelWipe",
          "path": "v1/{+name}:cancelWipe",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceRequest"
          },
          "httpMethod": "POST",
          "description": "Cancels an unfinished device wipe. This operation can be used to cancel device wipe in the gap between the wipe operation returning success and the device being wiped. This operation is possible when the device is in a \"pending wipe\" state. The device enters the \"pending wipe\" state when a wipe device command is issued, but has not yet been sent to the device. The cancel wipe will fail if the wipe command has already been issued to the device.",
          "parameters": {
            "name": {
              "pattern": "^devices/[^/]+$",
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device}`, where device is the unique ID assigned to the Device.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "v1/devices/{devicesId}:cancelWipe"
        },
        "delete": {
          "parameterOrder": [
            "name"
          ],
          "id": "cloudidentity.devices.delete",
          "httpMethod": "DELETE",
          "path": "v1/{+name}",
          "parameters": {
            "customer": {
              "location": "query",
              "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs.",
              "type": "string"
            },
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^devices/[^/]+$",
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device}`, where device is the unique ID assigned to the Device.",
              "location": "path"
            }
          },
          "description": "Deletes the specified device.",
          "flatPath": "v1/devices/{devicesId}",
          "response": {
            "$ref": "Operation"
          }
        },
        "wipe": {
          "path": "v1/{+name}:wipe",
          "request": {
            "$ref": "GoogleAppsCloudidentityDevicesV1WipeDeviceRequest"
          },
          "id": "cloudidentity.devices.wipe",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^devices/[^/]+$",
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device}/deviceUsers/{device_user}`, where device is the unique ID assigned to the Device, and device_user is the unique ID assigned to the User."
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/devices/{devicesId}:wipe",
          "description": "Wipes all data on the specified device.",
          "httpMethod": "POST"
        },
        "create": {
          "request": {
            "$ref": "GoogleAppsCloudidentityDevicesV1Device"
          },
          "httpMethod": "POST",
          "id": "cloudidentity.devices.create",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "customer": {
              "description": "Optional. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer}`, where customer is the customer to whom the device belongs.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1/devices",
          "flatPath": "v1/devices",
          "parameterOrder": [],
          "description": "Creates a device. Only company-owned device may be created. **Note**: This method is available only to customers who have one of the following SKUs: Enterprise Standard, Enterprise Plus, Enterprise for Education, and Cloud Identity Premium"
        }
      }
    },
    "groups": {
      "methods": {
        "get": {
          "path": "v1/{+name}",
          "id": "cloudidentity.groups.get",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "description": "Retrieves a `Group`.",
          "flatPath": "v1/groups/{groupsId}",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group` to retrieve. Must be of the form `groups/{group}`.",
              "pattern": "^groups/[^/]+$",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
[...]
