{
  "ownerDomain": "google.com",
  "title": "Cloud Identity API",
  "id": "cloudidentity:v1beta1",
  "rootUrl": "https://cloudidentity.googleapis.com/",
  "version_module": true,
  "servicePath": "",
  "discoveryVersion": "v1",
  "revision": "20220929",
  "canonicalName": "Cloud Identity",
  "name": "cloudidentity",
  "documentationLink": "https://cloud.google.com/identity/",
  "version": "v1beta1",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "description": "API for provisioning and managing identity resources.",
  "schemas": {
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceMetadata",
      "type": "object",
      "description": "Metadata for CancelWipeDevice LRO.",
      "properties": {}
    },
    "SecuritySettings": {
      "type": "object",
      "description": "The definiion of security settings.",
      "properties": {
        "memberRestriction": {
          "description": "The Member Restriction value",
          "$ref": "MemberRestriction"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the security settings. Shall be of the form `groups/{group_id}/securitySettings`.",
          "readOnly": true
        }
      },
      "id": "SecuritySettings"
    },
    "SamlSsoInfo": {
      "properties": {
        "inboundSamlSsoProfile": {
          "type": "string",
          "description": "Required. Name of the `InboundSamlSsoProfile` to use. Must be of the form `inboundSamlSsoProfiles/{inbound_saml_sso_profile}`. "
        }
      },
      "description": "Details that are applicable when `sso_mode` == `SAML_SSO`.",
      "type": "object",
      "id": "SamlSsoInfo"
    },
    "ListGroupsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A continuation token to retrieve the next page of results, or empty if there are no more results available.",
          "type": "string"
        },
        "groups": {
          "description": "The `Group` resources under the specified `parent`.",
          "type": "array",
          "items": {
            "$ref": "Group"
          }
        }
      },
      "description": "The response message for GroupsService.ListGroups.",
      "id": "ListGroupsResponse",
      "type": "object"
    },
    "ExpiryDetail": {
      "id": "ExpiryDetail",
      "type": "object",
      "description": "The `MembershipRole` expiry details.",
      "properties": {
        "expireTime": {
          "type": "string",
          "description": "The time at which the `MembershipRole` will expire.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1DeviceUser": {
      "properties": {
        "compromisedState": {
          "type": "string",
          "enum": [
            "COMPROMISED_STATE_UNSPECIFIED",
            "COMPROMISED",
            "NOT_COMPROMISED"
          ],
          "description": "Compromised State of the DeviceUser object",
          "enumDescriptions": [
            "Compromised state of Device User account is unknown or unspecified.",
            "Device User Account is compromised.",
            "Device User Account is not compromised."
          ]
        },
        "managementState": {
          "type": "string",
          "description": "Output only. Management state of the user on the device.",
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "WIPING",
            "WIPED",
            "APPROVED",
            "BLOCKED",
            "PENDING_APPROVAL",
            "UNENROLLED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "This user's data and profile is being removed from the device.",
            "This user's data and profile is removed from the device.",
            "User is approved to access data on the device.",
            "User is blocked from accessing data on the device.",
            "User is awaiting approval.",
            "User is unenrolled from Advanced Windows Management, but the Windows account is still intact."
          ]
        },
        "languageCode": {
          "type": "string",
          "description": "Output only. Default locale used on device, in IETF BCP-47 format.",
          "readOnly": true
        },
        "userAgent": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. User agent on the device for this specific user"
        },
        "passwordState": {
          "enumDescriptions": [
            "Password state not set.",
            "Password set in object.",
            "Password not set in object."
          ],
          "description": "Password state of the DeviceUser object",
          "enum": [
            "PASSWORD_STATE_UNSPECIFIED",
            "PASSWORD_SET",
            "PASSWORD_NOT_SET"
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the DeviceUser in format: `devices/{device}/deviceUsers/{device_user}`, where `device_user` uniquely identifies a user's use of a device."
        },
        "userEmail": {
          "type": "string",
          "description": "Email address of the user registered on the device."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "When the user first signed in to the device"
        },
        "firstSyncTime": {
          "readOnly": true,
          "description": "Output only. Most recent time when user registered with this service.",
          "type": "string",
          "format": "google-datetime"
        },
        "lastSyncTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Last time when user synced with policies.",
          "format": "google-datetime"
        }
      },
      "description": "Represents a user's use of a Device in the Cloud Identity Devices API. A DeviceUser is a resource representing a user's use of a Device",
      "id": "GoogleAppsCloudidentityDevicesV1DeviceUser",
      "type": "object"
    },
    "TransitiveMembershipRole": {
      "description": "Message representing the role of a TransitiveMembership.",
      "properties": {
        "role": {
          "description": "TransitiveMembershipRole in string format. Currently supported TransitiveMembershipRoles: `\"MEMBER\"`, `\"OWNER\"`, and `\"MANAGER\"`.",
          "type": "string"
        }
      },
      "id": "TransitiveMembershipRole",
      "type": "object"
    },
    "ModifyMembershipRolesRequest": {
      "properties": {
        "removeRoles": {
          "items": {
            "type": "string"
          },
          "description": "The `name`s of the `MembershipRole`s to be removed. Adding or removing roles in the same request as updating roles is not supported. It is not possible to remove the `MEMBER` `MembershipRole`. If you wish to delete a `Membership`, call MembershipsService.DeleteMembership instead. Must not contain `MEMBER`. Must not be set if `update_roles_params` is set.",
          "type": "array"
        },
        "updateRolesParams": {
          "type": "array",
          "items": {
            "$ref": "UpdateMembershipRolesParams"
          },
          "description": "The `MembershipRole`s to be updated. Updating roles in the same request as adding or removing roles is not supported. Must not be set if either `add_roles` or `remove_roles` is set."
        },
        "addRoles": {
          "type": "array",
          "items": {
            "$ref": "MembershipRole"
          },
          "description": "The `MembershipRole`s to be added. Adding or removing roles in the same request as updating roles is not supported. Must not be set if `update_roles_params` is set."
        }
      },
      "id": "ModifyMembershipRolesRequest",
      "type": "object",
      "description": "The request message for MembershipsService.ModifyMembershipRoles."
    },
    "GoogleAppsCloudidentityDevicesV1CreateDeviceMetadata": {
      "description": "Metadata for CreateDevice LRO.",
      "id": "GoogleAppsCloudidentityDevicesV1CreateDeviceMetadata",
      "type": "object",
      "properties": {}
    },
    "SamlIdpConfig": {
      "description": "SAML IDP (identity provider) configuration.",
      "properties": {
        "logoutRedirectUri": {
          "type": "string",
          "description": "The **Logout Redirect URL** (sign-out page URL) of the identity provider. When a user clicks the sign-out link on a Google page, they will be redirected to this URL. This is a pure redirect with no attached SAML `LogoutRequest` i.e. SAML single logout is currently not supported. Must use `HTTPS`."
        },
        "singleSignOnServiceUri": {
          "type": "string",
          "description": "Required. The `SingleSignOnService` endpoint location (sign-in page URL) of the identity provider. This is the URL where the `AuthnRequest` will be sent. Must use `HTTPS`. Currently assumed to accept the `HTTP-Redirect` binding."
        },
        "changePasswordUri": {
          "description": "The **Change Password URL** of the identity provider. Users will be sent to this URL when changing their passwords at `myaccount.google.com`. This takes precedence over the change password URL configured at customer-level. Must use `HTTPS`.",
          "type": "string"
        },
        "entityId": {
          "description": "Required. The SAML **Entity ID** of the identity provider.",
          "type": "string"
        }
      },
      "id": "SamlIdpConfig",
      "type": "object"
    },
    "ListInboundSamlSsoProfilesResponse": {
      "type": "object",
      "id": "ListInboundSamlSsoProfilesResponse",
      "description": "Response of the InboundSamlSsoProfilesService.ListInboundSamlSsoProfiles method.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "inboundSamlSsoProfiles": {
          "type": "array",
          "description": "List of InboundSamlSsoProfiles.",
          "items": {
            "$ref": "InboundSamlSsoProfile"
          }
        }
      }
    },
    "DynamicGroupQuery": {
      "type": "object",
      "properties": {
        "query": {
          "description": "Query that determines the memberships of the dynamic group. Examples: All users with at least one `organizations.department` of engineering. `user.organizations.exists(org, org.department=='engineering')` All users with at least one location that has `area` of `foo` and `building_id` of `bar`. `user.locations.exists(loc, loc.area=='foo' && loc.building_id=='bar')` All users with any variation of the name John Doe (case-insensitive queries add `equalsIgnoreCase()` to the value being queried). `user.name.value.equalsIgnoreCase('jOhn DoE')`",
          "type": "string"
        },
        "resourceType": {
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "USER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value (not valid)",
            "For queries on User"
          ]
        }
      },
      "description": "Defines a query on a resource.",
      "id": "DynamicGroupQuery"
    },
    "LookupGroupNameResponse": {
      "id": "LookupGroupNameResponse",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the looked-up `Group`.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "The response message for GroupsService.LookupGroupName."
    },
    "CancelWipeDeviceResponse": {
      "type": "object",
      "id": "CancelWipeDeviceResponse",
      "properties": {
        "device": {
          "$ref": "Device",
          "description": "Resultant Device object for the action. Note that asset tags will not be returned in the device object."
        }
      },
      "description": "Response message for cancelling an unfinished device wipe."
    },
    "SignInBehavior": {
      "properties": {
        "redirectCondition": {
          "description": "When to redirect sign-ins to the IdP.",
          "type": "string",
          "enum": [
            "REDIRECT_CONDITION_UNSPECIFIED",
            "NEVER"
          ],
          "enumDescriptions": [
            "Default and means \"always\"",
            "Sign-in flows where the user is prompted for their identity will not redirect to the IdP (so the user will most likely be prompted by Google for a password), but special flows like IdP-initiated SAML and sign-in following automatic redirection to the IdP by domain-specific service URLs will accept the IdP's assertion of the user's identity."
          ]
        }
      },
      "id": "SignInBehavior",
      "type": "object",
      "description": "Controls sign-in behavior."
    },
    "GoogleAppsCloudidentityDevicesV1UpdateClientStateMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1UpdateClientStateMetadata",
      "description": "Metadata for UpdateClientState LRO.",
      "properties": {},
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceResponse": {
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceResponse",
      "description": "Response message for cancelling an unfinished device wipe.",
      "properties": {
        "device": {
          "description": "Resultant Device object for the action. Note that asset tags will not be returned in the device object.",
          "$ref": "GoogleAppsCloudidentityDevicesV1Device"
        }
      },
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1BlockDeviceUserResponse": {
      "properties": {
        "deviceUser": {
          "description": "Resultant DeviceUser object for the action.",
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser"
        }
      },
      "type": "object",
      "description": "Response message for blocking the device from accessing user data.",
      "id": "GoogleAppsCloudidentityDevicesV1BlockDeviceUserResponse"
    },
    "BlockDeviceUserRequest": {
      "type": "object",
      "properties": {},
      "description": "Request message for blocking account on device.",
      "id": "BlockDeviceUserRequest"
    },
    "AndroidAttributes": {
      "id": "AndroidAttributes",
      "type": "object",
      "description": "Resource representing the Android specific attributes of a Device.",
      "properties": {
        "supportsWorkProfile": {
          "type": "boolean",
          "description": "Whether device supports Android work profiles. If false, this service will not block access to corp data even if an administrator turns on the \"Enforce Work Profile\" policy."
        },
        "ownerProfileAccount": {
          "type": "boolean",
          "description": "Whether this account is on an owner/primary profile. For phones, only true for owner profiles. Android 4+ devices can have secondary or restricted user profiles."
        },
        "enabledUnknownSources": {
          "description": "Whether applications from unknown sources can be installed on device.",
          "type": "boolean"
        },
        "ownershipPrivilege": {
          "type": "string",
          "enumDescriptions": [
            "Ownership privilege is not set.",
            "Active device administrator privileges on the device.",
            "Profile Owner privileges. The account is in a managed corporate profile.",
            "Device Owner privileges on the device."
          ],
          "enum": [
            "OWNERSHIP_PRIVILEGE_UNSPECIFIED",
            "DEVICE_ADMINISTRATOR",
            "PROFILE_OWNER",
            "DEVICE_OWNER"
          ],
          "description": "Ownership privileges on device."
        }
      }
    },
    "MemberRelation": {
      "properties": {
        "member": {
          "description": "Resource name for this member.",
          "type": "string"
        },
        "roles": {
          "items": {
            "$ref": "TransitiveMembershipRole"
          },
          "type": "array",
          "description": "The membership role details (i.e name of role and expiry time)."
        },
        "preferredMemberKey": {
          "type": "array",
          "items": {
            "$ref": "EntityKey"
          },
          "description": "Entity key has an id and a namespace. In case of discussion forums, the id will be an email address without a namespace."
        },
        "relationType": {
          "type": "string",
          "enumDescriptions": [
            "The relation type is undefined or undetermined.",
            "The two entities have only a direct membership with each other.",
            "The two entities have only an indirect membership with each other.",
            "The two entities have both a direct and an indirect membership with each other."
          ],
          "enum": [
            "RELATION_TYPE_UNSPECIFIED",
            "DIRECT",
            "INDIRECT",
            "DIRECT_AND_INDIRECT"
          ],
          "description": "The relation between the group and the transitive membership."
        }
      },
      "id": "MemberRelation",
      "description": "Message representing a transitive membership of a group.",
      "type": "object"
    },
    "CancelWipeDeviceUserResponse": {
      "type": "object",
      "description": "Response message for cancelling an unfinished user account wipe.",
      "properties": {
        "deviceUser": {
          "$ref": "DeviceUser",
          "description": "Resultant DeviceUser object for the action."
        }
      },
      "id": "CancelWipeDeviceUserResponse"
    },
    "WipeDeviceUserRequest": {
      "properties": {},
      "type": "object",
      "id": "WipeDeviceUserRequest",
      "description": "Request message for starting an account wipe on device."
    },
    "DynamicGroupMetadata": {
      "description": "Dynamic group metadata like queries and status.",
      "type": "object",
      "properties": {
        "queries": {
          "items": {
            "$ref": "DynamicGroupQuery"
          },
          "description": "Memberships will be the union of all queries. Only one entry with USER resource is currently supported. Customers can create up to 100 dynamic groups.",
          "type": "array"
        },
        "status": {
          "readOnly": true,
          "description": "Output only. Status of the dynamic group.",
          "$ref": "DynamicGroupStatus"
        }
      },
      "id": "DynamicGroupMetadata"
    },
    "Operation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      }
    },
    "RsaPublicKeyInfo": {
      "type": "object",
      "properties": {
        "keySize": {
          "type": "integer",
          "format": "int32",
          "description": "Key size in bits (size of the modulus)."
        }
      },
      "description": "Information of a RSA public key.",
      "id": "RsaPublicKeyInfo"
    },
    "GoogleAppsCloudidentityDevicesV1UpdateDeviceMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1UpdateDeviceMetadata",
      "type": "object",
      "properties": {},
      "description": "Metadata for UpdateDevice LRO."
    },
    "CancelWipeDeviceRequest": {
      "description": "Request message for cancelling an unfinished device wipe.",
      "properties": {},
      "id": "CancelWipeDeviceRequest",
      "type": "object"
    },
    "SendUserInvitationRequest": {
      "type": "object",
      "id": "SendUserInvitationRequest",
      "description": "A request to send email for inviting target user corresponding to the UserInvitation.",
      "properties": {}
    },
    "MemberRestriction": {
      "id": "MemberRestriction",
      "type": "object",
      "description": "The definition of MemberRestriction",
      "properties": {
        "query": {
          "type": "string",
          "description": "Member Restriction as defined by CEL expression. Supported restrictions are: `member.customer_id` and `member.type`. Valid values for `member.type` are `1`, `2` and `3`. They correspond to USER, SERVICE_ACCOUNT, and GROUP respectively. The value for `member.customer_id` only supports `groupCustomerId()` currently which means the customer id of the group will be used for restriction. Supported operators are `&&`, `||` and `==`, corresponding to AND, OR, and EQUAL. Examples: Allow only service accounts of given customer to be members. `member.type == 2 && member.customer_id == groupCustomerId()` Allow only users or groups to be members. `member.type == 1 || member.type == 3`"
        },
        "evaluation": {
          "description": "The evaluated state of this restriction on a group.",
          "$ref": "RestrictionEvaluation"
        }
      }
    },
    "WipeDeviceUserResponse": {
      "properties": {
        "deviceUser": {
          "description": "Resultant DeviceUser object for the action.",
          "$ref": "DeviceUser"
        }
      },
      "id": "WipeDeviceUserResponse",
      "description": "Response message for wiping the user's account from the device.",
      "type": "object"
    },
    "RestrictionEvaluations": {
      "description": "Evaluations of restrictions applied to parent group on this membership.",
      "properties": {
        "memberRestrictionEvaluation": {
          "$ref": "MembershipRoleRestrictionEvaluation",
          "description": "Evaluation of the member restriction applied to this membership. Empty if the user lacks permission to view the restriction evaluation."
        }
      },
      "type": "object",
      "id": "RestrictionEvaluations"
    },
    "CreateInboundSsoAssignmentOperationMetadata": {
      "id": "CreateInboundSsoAssignmentOperationMetadata",
      "type": "object",
      "description": "LRO response metadata for InboundSsoAssignmentsService.CreateInboundSsoAssignment.",
      "properties": {}
    },
    "LookupMembershipNameResponse": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The [resource name](https://cloud.google.com/apis/design/resource_names) of the looked-up `Membership`. Must be of the form `groups/{group_id}/memberships/{membership_id}`."
        }
      },
      "id": "LookupMembershipNameResponse",
      "description": "The response message for MembershipsService.LookupMembershipName."
    },
    "SearchGroupsResponse": {
      "id": "SearchGroupsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A continuation token to retrieve the next page of results, or empty if there are no more results available.",
          "type": "string"
        },
        "groups": {
          "description": "The `Group` resources that match the search query.",
          "type": "array",
          "items": {
            "$ref": "Group"
          }
        }
      },
      "description": "The response message for GroupsService.SearchGroups.",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1AndroidAttributes": {
      "id": "GoogleAppsCloudidentityDevicesV1AndroidAttributes",
      "type": "object",
      "properties": {
        "ownershipPrivilege": {
          "type": "string",
          "description": "Ownership privileges on device.",
          "enumDescriptions": [
            "Ownership privilege is not set.",
            "Active device administrator privileges on the device.",
            "Profile Owner privileges. The account is in a managed corporate profile.",
            "Device Owner privileges on the device."
          ],
          "enum": [
            "OWNERSHIP_PRIVILEGE_UNSPECIFIED",
            "DEVICE_ADMINISTRATOR",
            "PROFILE_OWNER",
            "DEVICE_OWNER"
          ]
        },
        "ownerProfileAccount": {
          "type": "boolean",
          "description": "Whether this account is on an owner/primary profile. For phones, only true for owner profiles. Android 4+ devices can have secondary or restricted user profiles."
        },
        "enabledUnknownSources": {
          "description": "Whether applications from unknown sources can be installed on device.",
          "type": "boolean"
        },
        "supportsWorkProfile": {
          "type": "boolean",
          "description": "Whether device supports Android work profiles. If false, this service will not block access to corp data even if an administrator turns on the \"Enforce Work Profile\" policy."
        }
      },
      "description": "Resource representing the Android specific attributes of a Device."
    },
    "InboundSsoAssignment": {
      "type": "object",
      "id": "InboundSsoAssignment",
      "properties": {
        "rank": {
          "description": "Must be zero (which is the default value so it can be omitted) for assignments with `target_org_unit` set and must be greater-than-or-equal-to one for assignments with `target_group` set.",
          "type": "integer",
          "format": "int32"
        },
        "ssoMode": {
          "enumDescriptions": [
            "Not allowed.",
            "Disable SSO for the targeted users.",
            "Use an external SAML Identity Provider for SSO for the targeted users.",
            "Use the domain-wide SAML Identity Provider for the targeted users if one is configured; otherwise, this is equivalent to `SSO_OFF`. Note that this will also be equivalent to `SSO_OFF` if/when support for domain-wide SAML is removed. Google may disallow this mode at that point and existing assignments with this mode may be automatically changed to `SSO_OFF`."
          ],
          "type": "string",
          "description": "Inbound SSO behavior.",
          "enum": [
            "SSO_MODE_UNSPECIFIED",
            "SSO_OFF",
            "SAML_SSO",
            "DOMAIN_WIDE_SAML_IF_ENABLED"
          ]
        },
        "signInBehavior": {
          "description": "Assertions about users assigned to an IdP will always be accepted from that IdP. This controls whether/when Google should redirect a user to the IdP. Unset (defaults) is the recommended configuration.",
          "$ref": "SignInBehavior"
        },
        "targetOrgUnit": {
          "type": "string",
          "description": "Immutable. Must be of the form `orgUnits/{org_unit}`."
        },
        "samlSsoInfo": {
          "description": "SAML SSO details. Must be set if and only if `sso_mode` is set to `SAML_SSO`.",
          "$ref": "SamlSsoInfo"
        },
        "customer": {
          "type": "string",
          "description": "Immutable. The customer. For example: `customers/C0123abc`."
        },
        "targetGroup": {
          "description": "Immutable. Must be of the form `groups/{group}`.",
          "type": "string"
        },
        "name": {
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Inbound SSO Assignment.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Targets with \"set\" SSO assignments and their respective assignments."
    },
    "Group": {
      "id": "Group",
      "type": "object",
      "description": "A group within the Cloud Identity Groups API. A `Group` is a collection of entities, where each entity is either a user, another group, or a service account.",
      "properties": {
        "description": {
          "description": "An extended description to help users determine the purpose of a `Group`. Must not be longer than 4,096 characters.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group`. Shall be of the form `groups/{group_id}`."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. One or more label entries that apply to the Group. Currently supported labels contain a key with an empty value. Google Groups are the default type of group and have a label with a key of `cloudidentity.googleapis.com/groups.discussion_forum` and an empty value. Existing Google Groups can have an additional label with a key of `cloudidentity.googleapis.com/groups.security` and an empty value added to them. **This is an immutable change and the security label cannot be removed once added.** Dynamic groups have a label with a key of `cloudidentity.googleapis.com/groups.dynamic`. Identity-mapped groups for Cloud Search have a label with a key of `system/groups/external` and an empty value.",
          "type": "object"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time when the `Group` was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "groupKey": {
          "$ref": "EntityKey",
          "description": "Required. The `EntityKey` of the `Group`."
        },
        "posixGroups": {
          "items": {
            "$ref": "PosixGroup"
          },
          "description": "Optional. The POSIX groups associated with the `Group`.",
          "type": "array"
        },
        "parent": {
          "type": "string",
          "description": "Required. Immutable. The resource name of the entity under which this `Group` resides in the Cloud Identity resource hierarchy. Must be of the form `identitysources/{identity_source_id}` for external- identity-mapped groups or `customers/{customer_id}` for Google Groups. The `customer_id` must begin with \"C\" (for example, 'C046psxkn')."
        },
        "dynamicGroupMetadata": {
          "$ref": "DynamicGroupMetadata",
          "description": "Optional. Dynamic group metadata like queries and status."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the `Group` was created.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the `Group`.",
          "type": "string"
        }
      }
    },
    "DeleteInboundSamlSsoProfileOperationMetadata": {
      "type": "object",
      "id": "DeleteInboundSamlSsoProfileOperationMetadata",
      "description": "LRO response metadata for InboundSamlSsoProfilesService.DeleteInboundSamlSsoProfile.",
      "properties": {}
    },
    "PosixGroup": {
      "id": "PosixGroup",
      "description": "POSIX Group definition to represent a group in a POSIX compliant system.",
      "type": "object",
      "properties": {
        "gid": {
          "format": "uint64",
          "description": "GID of the POSIX group.",
          "type": "string"
        },
        "systemId": {
          "type": "string",
          "description": "System identifier for which group name and gid apply to. If not specified it will default to empty value."
        },
        "name": {
          "type": "string",
          "description": "Name of the POSIX group."
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceUserResponse": {
      "description": "Response message for wiping the user's account from the device.",
      "type": "object",
      "properties": {
        "deviceUser": {
          "description": "Resultant DeviceUser object for the action.",
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser"
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceUserResponse"
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceResponse": {
      "type": "object",
      "properties": {
        "device": {
          "description": "Resultant Device object for the action. Note that asset tags will not be returned in the device object.",
          "$ref": "GoogleAppsCloudidentityDevicesV1Device"
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceResponse",
      "description": "Response message for wiping all data on the device."
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceUserMetadata": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceUserMetadata",
      "properties": {},
      "description": "Metadata for WipeDeviceUser LRO."
    },
    "ListIdpCredentialsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "idpCredentials": {
          "type": "array",
          "items": {
            "$ref": "IdpCredential"
          },
          "description": "The IdpCredentials from the specified InboundSamlSsoProfile."
        }
      },
      "id": "ListIdpCredentialsResponse",
      "type": "object",
      "description": "Response of the InboundSamlSsoProfilesService.ListIdpCredentials method."
    },
    "ListClientStatesResponse": {
      "properties": {
        "clientStates": {
          "items": {
            "$ref": "ClientState"
          },
          "description": "Client states meeting the list restrictions.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. Empty if there are no more results.",
          "type": "string"
        }
      },
      "description": "Response message that is returned in LRO result of ListClientStates Operation.",
      "id": "ListClientStatesResponse",
      "type": "object"
    },
    "SearchTransitiveGroupsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results available for listing."
        },
        "memberships": {
          "items": {
            "$ref": "GroupRelation"
          },
          "type": "array",
          "description": "List of transitive groups satisfying the query."
        }
      },
      "description": "The response message for MembershipsService.SearchTransitiveGroups.",
      "type": "object",
      "id": "SearchTransitiveGroupsResponse"
    },
    "CreateInboundSamlSsoProfileOperationMetadata": {
      "properties": {},
      "type": "object",
      "id": "CreateInboundSamlSsoProfileOperationMetadata",
      "description": "LRO response metadata for InboundSamlSsoProfilesService.CreateInboundSamlSsoProfile."
    },
    "UserInvitation": {
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when the `UserInvitation` was last updated."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_YET_SENT",
            "INVITED",
            "ACCEPTED",
            "DECLINED"
          ],
          "description": "State of the `UserInvitation`.",
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The `UserInvitation` has been created and is ready for sending as an email.",
            "The user has been invited by email.",
            "The user has accepted the invitation and is part of the organization.",
            "The user declined the invitation."
          ]
        },
        "mailsSentCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of invitation emails sent to the user."
        },
        "name": {
          "description": "Shall be of the form `customers/{customer}/userinvitations/{user_email_address}`.",
          "type": "string"
        }
      },
      "id": "UserInvitation",
      "description": "The `UserInvitation` resource represents an email that can be sent to an unmanaged user account inviting them to join the customer's Google Workspace or Cloud Identity account. An unmanaged account shares an email address domain with the Google Workspace or Cloud Identity account but is not managed by it yet. If the user accepts the `UserInvitation`, the user account will become managed."
    },
    "ListUserInvitationsResponse": {
      "id": "ListUserInvitationsResponse",
      "properties": {
        "userInvitations": {
          "description": "The list of UserInvitation resources.",
          "items": {
            "$ref": "UserInvitation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for the next page. If not empty, indicates that there may be more `UserInvitation` resources that match the listing request; this value can be used in a subsequent ListUserInvitationsRequest to get continued results with the current list call."
        }
      },
      "type": "object",
      "description": "Response message for UserInvitation listing request."
    },
    "DeleteInboundSsoAssignmentOperationMetadata": {
      "type": "object",
      "id": "DeleteInboundSsoAssignmentOperationMetadata",
      "description": "LRO response metadata for InboundSsoAssignmentsService.DeleteInboundSsoAssignment.",
      "properties": {}
    },
    "LookupSelfDeviceUsersResponse": {
      "description": "Response containing resource names of the DeviceUsers associated with the caller's credentials.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results. Empty if there are no more results."
        },
        "customer": {
          "description": "The obfuscated customer Id that may be passed back to other Devices API methods such as List, Get, etc.",
          "type": "string"
        },
        "names": {
          "type": "array",
          "description": "[Resource names](https://cloud.google.com/apis/design/resource_names) of the DeviceUsers in the format: `devices/{device_id}/deviceUsers/{user_resource_id}`, where device_id is the unique ID assigned to a Device and user_resource_id is the unique user ID",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "LookupSelfDeviceUsersResponse"
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserResponse": {
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceUserResponse",
      "type": "object",
      "properties": {
        "deviceUser": {
          "description": "Resultant DeviceUser object for the action.",
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser"
        }
      },
      "description": "Response message for cancelling an unfinished user account wipe."
    },
    "WipeDeviceRequest": {
      "id": "WipeDeviceRequest",
      "description": "Request message for wiping all data on the device.",
      "type": "object",
      "properties": {
        "removeResetLock": {
          "type": "boolean",
          "description": "Optional. Specifies if a user is able to factory reset a device after a Device Wipe. On iOS, this is called \"Activation Lock\", while on Android, this is known as \"Factory Reset Protection\". If true, this protection will be removed from the device, so that a user can successfully factory reset. If false, the setting is untouched on the device."
        }
      }
    },
    "CertificateTemplate": {
      "properties": {
        "majorVersion": {
          "description": "The Major version of the template. Example: 100.",
          "type": "integer",
          "format": "int32"
        },
        "minorVersion": {
          "description": "The minor version of the template. Example: 12.",
          "format": "int32",
          "type": "integer"
        },
        "id": {
          "description": "The template id of the template. Example: \"1.3.6.1.4.1.311.21.8.15608621.11768144.5720724.16068415.6889630.81.2472537.7784047\".",
          "type": "string"
        }
      },
      "id": "CertificateTemplate",
      "type": "object",
      "description": "CertificateTemplate (v3 Extension in X.509)."
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceMetadata",
      "type": "object",
      "description": "Metadata for WipeDevice LRO.",
      "properties": {}
    },
    "ClientState": {
      "description": "Represents the state associated with an API client calling the Devices API. Resource representing ClientState and supports updates from API users",
      "id": "ClientState",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the ClientState in format: `devices/{device_id}/deviceUsers/{device_user_id}/clientState/{partner_id}`, where partner_id corresponds to the partner storing the data."
        },
        "assetTags": {
          "items": {
            "type": "string"
          },
          "description": "The caller can specify asset tags for this resource",
          "type": "array"
        },
        "healthScore": {
          "enumDescriptions": [
            "Default value",
            "The object is in very poor health as defined by the caller.",
            "The object is in poor health as defined by the caller.",
            "The object health is neither good nor poor, as defined by the caller.",
            "The object is in good health as defined by the caller.",
            "The object is in very good health as defined by the caller."
          ],
          "enum": [
            "HEALTH_SCORE_UNSPECIFIED",
            "VERY_POOR",
            "POOR",
            "NEUTRAL",
            "GOOD",
            "VERY_GOOD"
          ],
          "type": "string",
          "description": "The Health score of the resource"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the client state data was created."
        },
        "keyValuePairs": {
          "additionalProperties": {
            "$ref": "CustomAttributeValue"
          },
          "type": "object",
          "description": "The map of key-value attributes stored by callers specific to a device. The total serialized length of this map may not exceed 10KB. No limit is placed on the number of attributes in a map."
        },
        "lastUpdateTime": {
          "description": "Output only. The time the client state data was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "ownerType": {
          "type": "string",
          "description": "Output only. The owner of the ClientState",
          "enum": [
            "OWNER_TYPE_UNSPECIFIED",
            "OWNER_TYPE_CUSTOMER",
            "OWNER_TYPE_PARTNER"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unknown owner type",
            "Customer is the owner",
            "Partner is the owner"
          ]
        },
        "scoreReason": {
          "type": "string",
          "description": "A descriptive cause of the health score."
        },
        "complianceState": {
          "enumDescriptions": [
            "The compliance state of the resource is unknown or unspecified.",
            "Device is compliant with third party policies",
            "Device is not compliant with third party policies"
          ],
          "description": "The compliance state of the resource as specified by the API client.",
          "type": "string",
          "enum": [
            "COMPLIANCE_STATE_UNSPECIFIED",
            "COMPLIANT",
            "NON_COMPLIANT"
          ]
        },
        "customId": {
          "type": "string",
          "description": "This field may be used to store a unique identifier for the API resource within which these CustomAttributes are a field."
        },
        "etag": {
          "type": "string",
          "description": "The token that needs to be passed back for concurrency control in updates. Token needs to be passed back in UpdateRequest"
        },
        "managed": {
          "type": "string",
          "enumDescriptions": [
            "The management state of the resource is unknown or unspecified.",
            "The resource is managed.",
            "The resource is not managed."
          ],
          "enum": [
            "MANAGED_STATE_UNSPECIFIED",
            "MANAGED",
            "UNMANAGED"
          ],
          "description": "The management state of the resource as specified by the API client."
        }
      },
      "type": "object"
    },
    "CheckTransitiveMembershipResponse": {
      "properties": {
        "hasMembership": {
          "type": "boolean",
          "description": "Response does not include the possible roles of a member since the behavior of this rpc is not all-or-nothing unlike the other rpcs. So, it may not be possible to list all the roles definitively, due to possible lack of authorization in some of the paths."
        }
      },
      "description": "The response message for MembershipsService.CheckTransitiveMembership.",
      "id": "CheckTransitiveMembershipResponse",
      "type": "object"
    },
    "UpdateInboundSsoAssignmentOperationMetadata": {
      "type": "object",
      "description": "LRO response metadata for InboundSsoAssignmentsService.UpdateInboundSsoAssignment.",
      "id": "UpdateInboundSsoAssignmentOperationMetadata",
      "properties": {}
    },
    "Device": {
      "type": "object",
      "description": "A Device within the Cloud Identity Devices API. Represents a Device known to Google Cloud, independent of the device ownership, type, and whether it is assigned or in use by a user.",
      "id": "Device",
      "properties": {
        "enabledUsbDebugging": {
          "readOnly": true,
          "description": "Output only. Whether USB debugging is enabled on device.",
          "type": "boolean"
        },
        "osVersion": {
          "description": "Output only. OS version of the device. Example: Android 8.1.0.",
          "type": "string",
          "readOnly": true
        },
        "networkOperator": {
          "description": "Output only. Mobile or network operator of device, if available.",
          "readOnly": true,
          "type": "string"
        },
        "securityPatchTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. OS security patch update time on device.",
          "readOnly": true
        },
        "basebandVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Baseband version of the device."
        },
        "manufacturer": {
          "description": "Output only. Device manufacturer. Example: Motorola.",
          "type": "string",
          "readOnly": true
        },
        "endpointVerificationSpecificAttributes": {
          "$ref": "EndpointVerificationSpecificAttributes",
          "description": "Output only. Attributes specific to Endpoint Verification devices.",
          "readOnly": true
        },
        "serialNumber": {
          "description": "Serial Number of device. Example: HT82V1A01076.",
          "type": "string"
        },
        "encryptionState": {
          "readOnly": true,
          "enum": [
            "ENCRYPTION_STATE_UNSPECIFIED",
            "UNSUPPORTED_BY_DEVICE",
            "ENCRYPTED",
            "NOT_ENCRYPTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Encryption Status is not set.",
            "Device doesn't support encryption.",
            "Device is encrypted.",
            "Device is not encrypted."
          ],
          "description": "Output only. Device encryption state."
        },
        "managementState": {
          "description": "Output only. Management state of the device",
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "APPROVED",
            "BLOCKED",
            "PENDING",
            "UNPROVISIONED",
            "WIPING",
            "WIPED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Device is approved.",
            "Device is blocked.",
            "Device is pending approval.",
            "The device is not provisioned. Device will start from this state until some action is taken (i.e. a user starts using the device).",
            "Data and settings on the device are being removed.",
            "All data and settings on the device are removed."
          ],
          "type": "string"
        },
        "androidSpecificAttributes": {
          "description": "Output only. Attributes specific to Android devices.",
          "$ref": "AndroidAttributes",
          "readOnly": true
        },
        "enabledDeveloperOptions": {
          "type": "boolean",
          "description": "Output only. Whether developer options is enabled on device.",
          "readOnly": true
        },
        "releaseVersion": {
          "readOnly": true,
          "description": "Output only. OS release version. Example: 6.0.",
          "type": "string"
        },
        "lastSyncTime": {
          "format": "google-datetime",
          "description": "Most recent time when device synced with this service.",
          "type": "string"
        },
        "compromisedState": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "The device is compromised (currently, this means Android device is rooted).",
            "The device is safe (currently, this means Android device is unrooted)."
          ],
          "description": "Output only. Represents whether the Device is compromised.",
          "enum": [
            "COMPROMISED_STATE_UNSPECIFIED",
            "COMPROMISED",
            "UNCOMPROMISED"
          ]
        },
        "deviceId": {
          "description": "Unique identifier for the device.",
          "type": "string"
        },
        "wifiMacAddresses": {
          "description": "WiFi MAC addresses of device.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "meid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. MEID number of device if CDMA device; empty otherwise."
        },
        "otherAccounts": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Domain name for Google accounts on device. Type for other accounts on device. On Android, will only be populated if |ownership_privilege| is |PROFILE_OWNER| or |DEVICE_OWNER|. Does not include the account signed in to the device policy app if that account's domain has only one account. Examples: \"com.example\", \"xyz.com\".",
          "items": {
            "type": "string"
          }
        },
        "deviceType": {
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "ANDROID",
            "IOS",
            "GOOGLE_SYNC",
            "WINDOWS",
            "MAC_OS",
            "LINUX",
            "CHROME_OS"
          ],
          "enumDescriptions": [
            "Unknown device type",
            "Device is an Android device",
            "Device is an iOS device",
            "Device is a Google Sync device.",
            "Device is a Windows device.",
            "Device is a MacOS device.",
            "Device is a Linux device.",
            "Device is a ChromeOS device."
          ],
          "readOnly": true,
          "description": "Output only. Type of device.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}`, where device_id is the unique id assigned to the Device.",
          "readOnly": true
        },
        "ownerType": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. The value is unused.",
            "Company owns the device.",
            "Bring Your Own Device (i.e. individual owns the device)"
          ],
          "enum": [
            "DEVICE_OWNERSHIP_UNSPECIFIED",
            "COMPANY",
            "BYOD"
          ],
          "description": "Output only. Whether the device is owned by the company or an individual"
        },
        "kernelVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Kernel version of the device."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. When the Company-Owned device was imported. This field is empty for BYOD devices.",
          "type": "string"
        },
        "assetTag": {
          "type": "string",
          "description": "Asset tag of the device."
        },
        "buildNumber": {
          "readOnly": true,
          "description": "Output only. Build number of the device.",
          "type": "string"
        },
        "bootloaderVersion": {
          "type": "string",
          "description": "Output only. Device bootloader version. Example: 0.6.7.",
          "readOnly": true
        },
        "brand": {
          "description": "Output only. Device brand. Example: Samsung.",
          "type": "string",
          "readOnly": true
        },
        "model": {
          "description": "Output only. Model name of device. Example: Pixel 3.",
          "type": "string",
          "readOnly": true
        },
        "imei": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. IMEI number of device if GSM device; empty otherwise."
        }
      }
    },
    "RestrictionEvaluation": {
      "description": "The evaluated state of this restriction.",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Default. Should not be used.",
            "The restriction state is currently being evaluated.",
            "All transitive memberships are adhering to restriction.",
            "Some transitive memberships violate the restriction. No new violating memberships can be added.",
            "Some transitive memberships violate the restriction. New violating direct memberships will be denied while indirect memberships may be added."
          ],
          "description": "Output only. The current state of the restriction",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "EVALUATING",
            "COMPLIANT",
            "FORWARD_COMPLIANT",
            "NON_COMPLIANT"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "RestrictionEvaluation"
    },
    "SearchTransitiveMembershipsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results."
        },
        "memberships": {
          "items": {
            "$ref": "MemberRelation"
          },
          "type": "array",
          "description": "List of transitive memberships satisfying the query."
        }
      },
      "id": "SearchTransitiveMembershipsResponse",
      "description": "The response message for MembershipsService.SearchTransitiveMemberships."
    },
    "UpdateMembershipRolesParams": {
      "description": "The details of an update to a `MembershipRole`.",
      "properties": {
        "fieldMask": {
          "description": "The fully-qualified names of fields to update. May only contain the field `expiry_detail.expire_time`.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "membershipRole": {
          "$ref": "MembershipRole",
          "description": "The `MembershipRole`s to be updated. Only `MEMBER` `MembershipRoles` can currently be updated. May only contain a `MembershipRole` with `name` `MEMBER`."
        }
      },
      "id": "UpdateMembershipRolesParams",
      "type": "object"
    },
    "InboundSamlSsoProfile": {
      "description": "A [SAML 2.0](https://www.oasis-open.org/standards#samlv2.0) federation between a Google enterprise customer and a SAML identity provider.",
      "properties": {
        "spConfig": {
          "$ref": "SamlSpConfig",
          "description": "SAML service provider configuration for this SAML SSO profile. These are the service provider details provided by Google that should be configured on the corresponding identity provider."
        },
        "name": {
          "type": "string",
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the SAML SSO profile.",
          "readOnly": true
        },
        "idpConfig": {
          "description": "SAML identity provider configuration.",
          "$ref": "SamlIdpConfig"
        },
        "displayName": {
          "description": "Human-readable name of the SAML SSO profile.",
          "type": "string"
        },
        "customer": {
          "description": "Immutable. The customer. For example: `customers/C0123abc`.",
          "type": "string"
        }
      },
      "id": "InboundSamlSsoProfile",
      "type": "object"
    },
    "DsaPublicKeyInfo": {
      "id": "DsaPublicKeyInfo",
      "properties": {
        "keySize": {
          "format": "int32",
          "type": "integer",
          "description": "Key size in bits (size of parameter P)."
        }
      },
      "description": "Information of a DSA public key.",
      "type": "object"
    },
    "DynamicGroupStatus": {
      "id": "DynamicGroupStatus",
      "type": "object",
      "properties": {
        "statusTime": {
          "format": "google-datetime",
          "description": "The latest time at which the dynamic group is guaranteed to be in the given status. If status is `UP_TO_DATE`, the latest time at which the dynamic group was confirmed to be up-to-date. If status is `UPDATING_MEMBERSHIPS`, the time at which dynamic group was created.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "UP_TO_DATE",
            "UPDATING_MEMBERSHIPS",
            "INVALID_QUERY"
          ],
          "enumDescriptions": [
            "Default.",
            "The dynamic group is up-to-date.",
            "The dynamic group has just been created and memberships are being updated.",
            "Group is in an unrecoverable state and its memberships can't be updated."
          ],
          "description": "Status of the dynamic group."
        }
      },
      "description": "The current status of a dynamic group along with timestamp."
    },
    "ApproveDeviceUserRequest": {
      "type": "object",
      "description": "Request message for approving the device to access user data.",
      "id": "ApproveDeviceUserRequest",
      "properties": {}
    },
    "CreateDeviceRequest": {
      "properties": {
        "device": {
          "$ref": "Device",
          "description": "Required. The device to be created. The name field within this device is ignored in the create method. A new name is created by the method, and returned within the response. Only the fields `device_type`, `serial_number` and `asset_tag` (if present) are used to create the device. All other fields are ignored. The `device_type` and `serial_number` fields are required."
        }
      },
      "description": "Request message for creating a Company Owned device.",
      "type": "object",
      "id": "CreateDeviceRequest"
    },
    "ListDevicesResponse": {
      "id": "ListDevicesResponse",
      "properties": {
        "devices": {
          "items": {
            "$ref": "Device"
          },
          "type": "array",
          "description": "Devices meeting the list restrictions."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. Empty if there are no more results.",
          "type": "string"
        }
      },
      "description": "Response message that is returned from the ListDevices method.",
      "type": "object"
    },
    "MembershipRoleRestrictionEvaluation": {
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Default. Should not be used.",
            "The member adheres to the parent group's restriction.",
            "The group-group membership might be currently violating some parent group's restriction but in future, it will never allow any new member in the child group which can violate parent group's restriction.",
            "The member violates the parent group's restriction.",
            "The state of the membership is under evaluation."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLIANT",
            "FORWARD_COMPLIANT",
            "NON_COMPLIANT",
            "EVALUATING"
          ],
          "description": "Output only. The current state of the restriction"
        }
      },
      "id": "MembershipRoleRestrictionEvaluation",
      "description": "The evaluated state of this restriction."
    },
    "ListMembershipsResponse": {
      "id": "ListMembershipsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A continuation token to retrieve the next page of results, or empty if there are no more results available."
        },
        "memberships": {
          "type": "array",
          "items": {
            "$ref": "Membership"
          },
          "description": "The `Membership`s under the specified `parent`."
        }
      },
      "description": "The response message for MembershipsService.ListMemberships."
    },
    "GoogleAppsCloudidentityDevicesV1BlockDeviceUserMetadata": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1BlockDeviceUserMetadata",
      "description": "Metadata for BlockDeviceUser LRO.",
      "properties": {}
    },
    "Membership": {
      "description": "A membership within the Cloud Identity Groups API. A `Membership` defines a relationship between a `Group` and an entity belonging to that `Group`, referred to as a \"member\".",
      "properties": {
        "roles": {
          "description": "The `MembershipRole`s that apply to the `Membership`. If unspecified, defaults to a single `MembershipRole` with `name` `MEMBER`. Must not contain duplicate `MembershipRole`s with the same `name`.",
          "items": {
            "$ref": "MembershipRole"
          },
          "type": "array"
        },
        "memberKey": {
          "description": "Immutable. The `EntityKey` of the member. Either `member_key` or `preferred_member_key` must be set when calling MembershipsService.CreateMembership but not both; both shall be set when returned.",
          "$ref": "EntityKey"
        },
        "name": {
          "description": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership`. Shall be of the form `groups/{group_id}/memberships/{membership_id}`.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the `Membership` was last updated.",
          "format": "google-datetime"
        },
        "type": {
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER",
            "SERVICE_ACCOUNT",
            "GROUP",
            "SHARED_DRIVE",
            "OTHER"
          ],
          "description": "Output only. The type of the membership.",
          "type": "string",
          "enumDescriptions": [
            "Default. Should not be used.",
            "Represents user type.",
            "Represents service account type.",
            "Represents group type.",
            "Represents Shared drive.",
            "Represents other type."
          ]
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the `Membership` was created."
        },
        "preferredMemberKey": {
          "$ref": "EntityKey",
          "description": "Required. Immutable. The `EntityKey` of the member. Either `member_key` or `preferred_member_key` must be set when calling MembershipsService.CreateMembership but not both; both shall be set when returned."
        }
      },
      "type": "object",
      "id": "Membership"
    },
    "GoogleAppsCloudidentityDevicesV1ListEndpointAppsMetadata": {
      "description": "Metadata for ListEndpointApps LRO.",
      "type": "object",
      "properties": {},
      "id": "GoogleAppsCloudidentityDevicesV1ListEndpointAppsMetadata"
    },
    "IdpCredential": {
      "type": "object",
      "id": "IdpCredential",
      "description": "The identity provider's credentials (for signing assertions, etc).",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the credential."
        },
        "dsaKeyInfo": {
          "$ref": "DsaPublicKeyInfo",
          "readOnly": true,
          "description": "Output only. Information of a DSA public key."
        },
        "rsaKeyInfo": {
          "readOnly": true,
          "description": "Output only. Information of a RSA public key.",
          "$ref": "RsaPublicKeyInfo"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when the `IdpCredential` was last updated."
        }
      }
    },
    "AddIdpCredentialOperationMetadata": {
      "properties": {},
      "id": "AddIdpCredentialOperationMetadata",
      "description": "LRO response metadata for InboundSamlSsoProfilesService.AddIdpCredential.",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1DeleteDeviceMetadata": {
      "id": "GoogleAppsCloudidentityDevicesV1DeleteDeviceMetadata",
      "description": "Metadata for DeleteDevice LRO.",
      "properties": {},
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserResponse": {
      "properties": {
        "deviceUser": {
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser",
          "description": "Resultant DeviceUser object for the action."
        }
      },
      "type": "object",
      "description": "Response message for approving the device to access user data.",
      "id": "GoogleAppsCloudidentityDevicesV1ApproveDeviceUserResponse"
    },
    "IsInvitableUserResponse": {
      "id": "IsInvitableUserResponse",
      "properties": {
        "isInvitableUser": {
          "description": "Returns true if the email address is invitable.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Response for IsInvitableUser RPC."
    },
    "GetMembershipGraphResponse": {
      "description": "The response message for MembershipsService.GetMembershipGraph.",
      "id": "GetMembershipGraphResponse",
      "type": "object",
      "properties": {
        "groups": {
          "type": "array",
          "items": {
            "$ref": "Group"
          },
          "description": "The resources representing each group in the adjacency list. Each group in this list can be correlated to a 'group' of the MembershipAdjacencyList using the 'name' of the Group resource."
        },
        "adjacencyList": {
          "type": "array",
          "items": {
            "$ref": "MembershipAdjacencyList"
          },
          "description": "The membership graph's path information represented as an adjacency list."
        }
      }
    },
    "ApproveDeviceUserResponse": {
      "properties": {
        "deviceUser": {
          "description": "Resultant DeviceUser object for the action.",
          "$ref": "DeviceUser"
        }
      },
      "id": "ApproveDeviceUserResponse",
      "description": "Response message for approving the device to access user data.",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1Device": {
      "description": " A Device within the Cloud Identity Devices API. Represents a Device known to Google Cloud, independent of the device ownership, type, and whether it is assigned or in use by a user.",
      "properties": {
        "encryptionState": {
          "readOnly": true,
          "enum": [
            "ENCRYPTION_STATE_UNSPECIFIED",
            "UNSUPPORTED_BY_DEVICE",
            "ENCRYPTED",
            "NOT_ENCRYPTED"
          ],
          "enumDescriptions": [
            "Encryption Status is not set.",
            "Device doesn't support encryption.",
            "Device is encrypted.",
            "Device is not encrypted."
          ],
          "type": "string",
          "description": "Output only. Device encryption state."
        },
        "otherAccounts": {
          "description": "Output only. Domain name for Google accounts on device. Type for other accounts on device. On Android, will only be populated if |ownership_privilege| is |PROFILE_OWNER| or |DEVICE_OWNER|. Does not include the account signed in to the device policy app if that account's domain has only one account. Examples: \"com.example\", \"xyz.com\".",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "imei": {
          "readOnly": true,
          "description": "Output only. IMEI number of device if GSM device; empty otherwise.",
          "type": "string"
        },
        "model": {
          "readOnly": true,
          "description": "Output only. Model name of device. Example: Pixel 3.",
          "type": "string"
        },
        "assetTag": {
          "description": "Asset tag of the device.",
          "type": "string"
        },
        "buildNumber": {
          "description": "Output only. Build number of the device.",
          "readOnly": true,
          "type": "string"
        },
        "networkOperator": {
          "readOnly": true,
          "description": "Output only. Mobile or network operator of device, if available.",
          "type": "string"
        },
        "managementState": {
          "description": "Output only. Management state of the device",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Device is approved.",
            "Device is blocked.",
            "Device is pending approval.",
            "The device is not provisioned. Device will start from this state until some action is taken (i.e. a user starts using the device).",
            "Data and settings on the device are being removed.",
            "All data and settings on the device are removed."
          ],
          "readOnly": true,
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "APPROVED",
            "BLOCKED",
            "PENDING",
            "UNPROVISIONED",
            "WIPING",
            "WIPED"
          ]
        },
        "compromisedState": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "The device is compromised (currently, this means Android device is rooted).",
            "The device is safe (currently, this means Android device is unrooted)."
          ],
          "description": "Output only. Represents whether the Device is compromised.",
          "enum": [
            "COMPROMISED_STATE_UNSPECIFIED",
            "COMPROMISED",
            "UNCOMPROMISED"
          ]
        },
        "securityPatchTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. OS security patch update time on device.",
          "format": "google-datetime"
        },
        "wifiMacAddresses": {
          "description": "WiFi MAC addresses of device.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "brand": {
          "type": "string",
          "description": "Output only. Device brand. Example: Samsung.",
          "readOnly": true
        },
        "osVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. OS version of the device. Example: Android 8.1.0."
        },
        "enabledDeveloperOptions": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether developer options is enabled on device."
        },
        "deviceId": {
          "type": "string",
          "description": "Unique identifier for the device."
        },
        "manufacturer": {
          "description": "Output only. Device manufacturer. Example: Motorola.",
          "readOnly": true,
          "type": "string"
        },
        "lastSyncTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Most recent time when device synced with this service."
        },
        "enabledUsbDebugging": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether USB debugging is enabled on device."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device}`, where device is the unique id assigned to the Device."
        },
        "ownerType": {
          "enumDescriptions": [
            "Default value. The value is unused.",
            "Company owns the device.",
            "Bring Your Own Device (i.e. individual owns the device)"
          ],
          "description": "Output only. Whether the device is owned by the company or an individual",
          "enum": [
            "DEVICE_OWNERSHIP_UNSPECIFIED",
            "COMPANY",
            "BYOD"
          ],
          "readOnly": true,
          "type": "string"
        },
        "meid": {
          "type": "string",
          "description": "Output only. MEID number of device if CDMA device; empty otherwise.",
          "readOnly": true
        },
        "serialNumber": {
          "description": "Serial Number of device. Example: HT82V1A01076.",
          "type": "string"
        },
        "androidSpecificAttributes": {
          "$ref": "GoogleAppsCloudidentityDevicesV1AndroidAttributes",
          "description": "Output only. Attributes specific to Android devices.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. When the Company-Owned device was imported. This field is empty for BYOD devices."
        },
        "bootloaderVersion": {
          "readOnly": true,
          "description": "Output only. Device bootloader version. Example: 0.6.7.",
          "type": "string"
        },
        "kernelVersion": {
          "readOnly": true,
          "description": "Output only. Kernel version of the device.",
          "type": "string"
        },
        "basebandVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Baseband version of the device."
        },
        "deviceType": {
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "ANDROID",
            "IOS",
            "GOOGLE_SYNC",
            "WINDOWS",
            "MAC_OS",
            "LINUX",
            "CHROME_OS"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unknown device type",
            "Device is an Android device",
            "Device is an iOS device",
            "Device is a Google Sync device.",
            "Device is a Windows device.",
            "Device is a MacOS device.",
            "Device is a Linux device.",
            "Device is a ChromeOS device."
          ],
          "description": "Output only. Type of device."
        },
        "releaseVersion": {
          "type": "string",
          "description": "Output only. OS release version. Example: 6.0.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1Device"
    },
    "GoogleAppsCloudidentityDevicesV1CustomAttributeValue": {
      "id": "GoogleAppsCloudidentityDevicesV1CustomAttributeValue",
      "description": "Additional custom attribute values may be one of these types",
      "properties": {
        "numberValue": {
          "description": "Represents a double value.",
          "format": "double",
          "type": "number"
        },
        "boolValue": {
          "type": "boolean",
          "description": "Represents a boolean value."
        },
        "stringValue": {
          "type": "string",
          "description": "Represents a string value."
        }
      },
      "type": "object"
    },
    "ListOrgMembershipsResponse": {
      "type": "object",
      "description": "The response message for OrgMembershipsService.ListOrgMemberships.",
      "id": "ListOrgMembershipsResponse",
      "properties": {
        "orgMemberships": {
          "type": "array",
          "description": "The non-vacuous membership in an orgUnit.",
          "items": {
            "$ref": "OrgMembership"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1DeleteDeviceUserMetadata": {
      "description": "Metadata for DeleteDeviceUser LRO.",
      "properties": {},
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1DeleteDeviceUserMetadata"
    },
    "MoveOrgMembershipRequest": {
      "id": "MoveOrgMembershipRequest",
      "properties": {
        "customer": {
          "description": "Required. Immutable. Customer on whose membership change is made. All authorization will happen on the role assignments of this customer. Format: customers/{$customerId} where `$customerId` is the `id` from the [Admin SDK `Customer` resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/customers). You may also use `customers/my_customer` to specify your own organization.",
          "type": "string"
        },
        "destinationOrgUnit": {
          "description": "Required. Immutable. OrgUnit where the membership will be moved to. Format: orgUnits/{$orgUnitId} where `$orgUnitId` is the `orgUnitId` from the [Admin SDK `OrgUnit` resource](https://developers.google.com/admin-sdk/directory/reference/rest/v1/orgunits).",
          "type": "string"
        }
      },
      "description": "The request message for OrgMembershipsService.MoveOrgMembership.",
      "type": "object"
    },
    "UpdateInboundSamlSsoProfileOperationMetadata": {
      "properties": {},
      "id": "UpdateInboundSamlSsoProfileOperationMetadata",
      "description": "LRO response metadata for InboundSamlSsoProfilesService.UpdateInboundSamlSsoProfile.",
      "type": "object"
    },
    "ModifyMembershipRolesResponse": {
      "type": "object",
      "description": "The response message for MembershipsService.ModifyMembershipRoles.",
      "properties": {
        "membership": {
          "$ref": "Membership",
          "description": "The `Membership` resource after modifying its `MembershipRole`s."
        }
      },
      "id": "ModifyMembershipRolesResponse"
    },
    "ListDeviceUsersResponse": {
      "description": "Response message that is returned from the ListDeviceUsers method.",
      "type": "object",
      "id": "ListDeviceUsersResponse",
      "properties": {
        "deviceUsers": {
          "items": {
            "$ref": "DeviceUser"
          },
          "description": "Devices meeting the list restrictions.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. Empty if there are no more results.",
          "type": "string"
        }
      }
    },
    "AddIdpCredentialRequest": {
      "type": "object",
      "id": "AddIdpCredentialRequest",
      "description": "The request for creating an IdpCredential with its associated payload. An InboundSamlSsoProfile can own up to 2 credentials.",
      "properties": {
        "pemData": {
          "type": "string",
          "description": "PEM encoded x509 certificate containing the public signing key."
        }
      }
    },
    "CancelUserInvitationRequest": {
      "description": "Request to cancel sent invitation for target email in UserInvitation.",
      "type": "object",
      "id": "CancelUserInvitationRequest",
      "properties": {}
    },
    "GoogleAppsCloudidentityDevicesV1SignoutDeviceUserMetadata": {
      "description": "Metadata for SignoutDeviceUser LRO.",
      "id": "GoogleAppsCloudidentityDevicesV1SignoutDeviceUserMetadata",
      "properties": {},
      "type": "object"
    },
    "CustomAttributeValue": {
      "description": "Additional custom attribute values may be one of these types",
      "type": "object",
      "properties": {
        "numberValue": {
          "format": "double",
          "type": "number",
          "description": "Represents a double value."
        },
        "stringValue": {
          "type": "string",
          "description": "Represents a string value."
        },
        "boolValue": {
          "type": "boolean",
          "description": "Represents a boolean value."
        }
      },
      "id": "CustomAttributeValue"
    },
    "ListInboundSsoAssignmentsResponse": {
      "properties": {
        "inboundSsoAssignments": {
          "items": {
            "$ref": "InboundSsoAssignment"
          },
          "type": "array",
          "description": "The assignments."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response of the InboundSsoAssignmentsService.ListInboundSsoAssignments method.",
      "type": "object",
      "id": "ListInboundSsoAssignmentsResponse"
    },
    "MembershipAdjacencyList": {
      "properties": {
        "edges": {
          "items": {
            "$ref": "Membership"
          },
          "type": "array",
          "description": "Each edge contains information about the member that belongs to this group. Note: Fields returned here will help identify the specific Membership resource (e.g name, preferred_member_key and role), but may not be a comprehensive list of all fields."
        },
        "group": {
          "type": "string",
          "description": "Resource name of the group that the members belong to."
        }
      },
      "description": "Membership graph's path information as an adjacency list.",
      "id": "MembershipAdjacencyList",
      "type": "object"
    },
    "MembershipRole": {
      "type": "object",
      "id": "MembershipRole",
      "properties": {
        "expiryDetail": {
          "description": "The expiry details of the `MembershipRole`. Expiry details are only supported for `MEMBER` `MembershipRoles`. May be set if `name` is `MEMBER`. Must not be set if `name` is any other value.",
          "$ref": "ExpiryDetail"
        },
        "restrictionEvaluations": {
          "description": "Evaluations of restrictions applied to parent group on this membership.",
          "$ref": "RestrictionEvaluations"
        },
        "name": {
          "type": "string",
          "description": "The name of the `MembershipRole`. Must be one of `OWNER`, `MANAGER`, `MEMBER`."
        }
      },
      "description": "A membership role within the Cloud Identity Groups API. A `MembershipRole` defines the privileges granted to a `Membership`."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "Status"
    },
    "DeleteIdpCredentialOperationMetadata": {
      "description": "LRO response metadata for InboundSamlSsoProfilesService.DeleteIdpCredential.",
      "properties": {},
      "id": "DeleteIdpCredentialOperationMetadata",
      "type": "object"
    },
    "DeviceUser": {
      "description": "Represents a user's use of a Device in the Cloud Identity Devices API. A DeviceUser is a resource representing a user's use of a Device",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "Output only. Default locale used on device, in IETF BCP-47 format.",
          "readOnly": true
        },
        "lastSyncTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Last time when user synced with policies."
        },
        "firstSyncTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Most recent time when user registered with this service."
        },
        "passwordState": {
          "type": "string",
          "enumDescriptions": [
            "Password state not set.",
            "Password set in object.",
            "Password not set in object."
          ],
          "enum": [
            "PASSWORD_STATE_UNSPECIFIED",
            "PASSWORD_SET",
            "PASSWORD_NOT_SET"
          ],
          "description": "Password state of the DeviceUser object"
        },
        "compromisedState": {
          "type": "string",
          "description": "Compromised State of the DeviceUser object",
          "enumDescriptions": [
            "Compromised state of Device User account is unknown or unspecified.",
            "Device User Account is compromised.",
            "Device User Account is not compromised."
          ],
          "enum": [
            "COMPROMISED_STATE_UNSPECIFIED",
            "COMPROMISED",
            "NOT_COMPROMISED"
          ]
        },
        "managementState": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "This user's data and profile is being removed from the device.",
            "This user's data and profile is removed from the device.",
            "User is approved to access data on the device.",
            "User is blocked from accessing data on the device.",
            "User is awaiting approval.",
            "User is unenrolled from Advanced Windows Management, but the Windows account is still intact."
          ],
          "description": "Output only. Management state of the user on the device.",
          "type": "string",
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "WIPING",
            "WIPED",
            "APPROVED",
            "BLOCKED",
            "PENDING_APPROVAL",
            "UNENROLLED"
          ]
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the DeviceUser in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where `device_user_id` uniquely identifies a user's use of a device."
        },
        "userAgent": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. User agent on the device for this specific user"
        },
        "createTime": {
          "description": "When the user first signed in to the device",
          "type": "string",
          "format": "google-datetime"
        },
        "userEmail": {
          "description": "Email address of the user registered on the device.",
          "type": "string"
        }
      },
      "id": "DeviceUser",
      "type": "object"
    },
    "BlockDeviceUserResponse": {
      "description": "Response message for blocking the device from accessing user data.",
      "properties": {
        "deviceUser": {
          "description": "Resultant DeviceUser object for the action.",
          "$ref": "DeviceUser"
        }
      },
      "type": "object",
      "id": "BlockDeviceUserResponse"
    },
    "SamlSpConfig": {
      "description": "SAML SP (service provider) configuration.",
      "properties": {
        "entityId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The SAML **Entity ID** for this service provider."
        },
        "assertionConsumerServiceUri": {
          "readOnly": true,
          "description": "Output only. The SAML **Assertion Consumer Service (ACS) URL** to be used for the IDP-initiated login. Currently assumed to accept response messages via the `HTTP-POST` binding.",
          "type": "string"
        }
      },
      "id": "SamlSpConfig",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1ClientState": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the ClientState in format: `devices/{device}/deviceUsers/{device_user}/clientState/{partner}`, where partner corresponds to the partner storing the data. For partners belonging to the \"BeyondCorp Alliance\", this is the partner ID specified to you by Google. For all other callers, this is a string of the form: `{customer}-suffix`, where `customer` is your customer ID. The *suffix* is any string the caller specifies. This string will be displayed verbatim in the administration console. This suffix is used in setting up Custom Access Levels in Context-Aware Access. Your organization's customer ID can be obtained from the URL: `GET https://www.googleapis.com/admin/directory/v1/customers/my_customer` The `id` field in the response contains the customer ID starting with the letter 'C'. The customer ID to be used in this API is the string after the letter 'C' (not including 'C')"
        },
        "managed": {
          "enumDescriptions": [
            "The management state of the resource is unknown or unspecified.",
            "The resource is managed.",
            "The resource is not managed."
          ],
          "enum": [
            "MANAGED_STATE_UNSPECIFIED",
            "MANAGED",
            "UNMANAGED"
          ],
          "type": "string",
          "description": "The management state of the resource as specified by the API client."
        },
        "scoreReason": {
          "type": "string",
          "description": "A descriptive cause of the health score."
        },
        "customId": {
          "description": "This field may be used to store a unique identifier for the API resource within which these CustomAttributes are a field.",
          "type": "string"
        },
        "keyValuePairs": {
          "additionalProperties": {
            "$ref": "GoogleAppsCloudidentityDevicesV1CustomAttributeValue"
          },
          "type": "object",
          "description": "The map of key-value attributes stored by callers specific to a device. The total serialized length of this map may not exceed 10KB. No limit is placed on the number of attributes in a map."
        },
        "lastUpdateTime": {
          "type": "string",
          "description": "Output only. The time the client state data was last updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "complianceState": {
          "description": "The compliance state of the resource as specified by the API client.",
          "enum": [
            "COMPLIANCE_STATE_UNSPECIFIED",
            "COMPLIANT",
            "NON_COMPLIANT"
          ],
          "type": "string",
          "enumDescriptions": [
            "The compliance state of the resource is unknown or unspecified.",
            "Device is compliant with third party policies",
            "Device is not compliant with third party policies"
          ]
        },
        "ownerType": {
          "readOnly": true,
          "description": "Output only. The owner of the ClientState",
          "type": "string",
          "enumDescriptions": [
            "Unknown owner type",
            "Customer is the owner",
            "Partner is the owner"
          ],
          "enum": [
            "OWNER_TYPE_UNSPECIFIED",
            "OWNER_TYPE_CUSTOMER",
            "OWNER_TYPE_PARTNER"
          ]
        },
        "healthScore": {
          "type": "string",
          "enum": [
            "HEALTH_SCORE_UNSPECIFIED",
            "VERY_POOR",
            "POOR",
            "NEUTRAL",
            "GOOD",
            "VERY_GOOD"
          ],
          "description": "The Health score of the resource. The Health score is the callers specification of the condition of the device from a usability point of view. For example, a third-party device management provider may specify a health score based on its compliance with organizational policies.",
          "enumDescriptions": [
            "Default value",
            "The object is in very poor health as defined by the caller.",
            "The object is in poor health as defined by the caller.",
            "The object health is neither good nor poor, as defined by the caller.",
            "The object is in good health as defined by the caller.",
            "The object is in very good health as defined by the caller."
          ]
        },
        "assetTags": {
          "description": "The caller can specify asset tags for this resource",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "etag": {
          "description": "The token that needs to be passed back for concurrency control in updates. Token needs to be passed back in UpdateRequest",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the client state data was created.",
          "readOnly": true
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1ClientState",
      "type": "object",
      "description": "Represents the state associated with an API client calling the Devices API. Resource representing ClientState and supports updates from API users"
    },
    "CertificateAttributes": {
      "description": "Stores information about a certificate.",
      "type": "object",
      "id": "CertificateAttributes",
      "properties": {
        "fingerprint": {
          "description": "The encoded certificate fingerprint.",
          "type": "string"
        },
        "validityStartTime": {
          "format": "google-datetime",
          "description": "Certificate not valid before this timestamp.",
          "type": "string"
        },
        "thumbprint": {
          "description": "The certificate thumbprint.",
          "type": "string"
        },
        "validityExpirationTime": {
[...]
