{
  "ownerName": "Google",
  "baseUrl": "https://cloudsupport.googleapis.com/",
  "mtlsRootUrl": "https://cloudsupport.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "title": "Google Cloud Support API",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v2beta",
  "schemas": {
    "ListCasesResponse": {
      "description": "The response message for the ListCases endpoint.",
      "id": "ListCasesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `ListCasesRequest` message that is issued. If unspecified, there are no more results to retrieve."
        },
        "cases": {
          "description": "The list of cases associated with the cloud resource, after any filters have been applied.",
          "items": {
            "$ref": "Case"
          },
          "type": "array"
        }
      }
    },
    "CreateAttachmentRequest": {
      "properties": {
        "attachment": {
          "$ref": "Attachment",
          "description": "Required. The attachment to be created."
        }
      },
      "description": "The request message for the CreateAttachment endpoint.",
      "id": "CreateAttachmentRequest",
      "type": "object"
    },
    "Media": {
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "path": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "filename": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "contentTypeInfo": {
          "$ref": "ContentTypeInfo",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "diffVersionResponse": {
          "$ref": "DiffVersionResponse",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "cosmoBinaryReference": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte",
          "type": "string"
        },
        "inline": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte",
          "type": "string"
        },
        "length": {
          "format": "int64",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "blobstore2Info": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "Blobstore2Info"
        },
        "hashVerified": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "boolean"
        },
        "diffDownloadResponse": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DiffDownloadResponse"
        },
        "contentType": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "token": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "bigstoreObjectRef": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "diffUploadRequest": {
          "$ref": "DiffUploadRequest",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "sha1Hash": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "isPotentialRetry": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "boolean"
        },
        "compositeMedia": {
          "type": "array",
          "items": {
            "$ref": "CompositeMedia"
          },
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "hash": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "blobRef": {
          "type": "string",
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "diffUploadResponse": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DiffUploadResponse"
        },
        "downloadParameters": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "DownloadParameters"
        },
        "timestamp": {
          "format": "uint64",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "diffChecksumsResponse": {
          "$ref": "DiffChecksumsResponse",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "crc32cHash": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "uint32",
          "type": "integer"
        },
        "referenceType": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "enumDescriptions": [
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation"
          ],
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "GET_MEDIA",
            "COMPOSITE_MEDIA",
            "BIGSTORE_REF",
            "DIFF_VERSION_RESPONSE",
            "DIFF_CHECKSUMS_RESPONSE",
            "DIFF_DOWNLOAD_RESPONSE",
            "DIFF_UPLOAD_REQUEST",
            "DIFF_UPLOAD_RESPONSE",
            "COSMO_BINARY_REFERENCE",
            "ARBITRARY_BYTES"
          ]
        },
        "sha256Hash": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "md5Hash": {
          "type": "string",
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectId": {
          "$ref": "ObjectId",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "algorithm": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "mediaId": {
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        }
      },
      "id": "Media"
    },
    "SearchCaseClassificationsResponse": {
      "id": "SearchCaseClassificationsResponse",
      "description": "The response message for SearchCaseClassifications endpoint.",
      "type": "object",
      "properties": {
        "caseClassifications": {
          "type": "array",
          "description": "The classifications retrieved.",
          "items": {
            "$ref": "CaseClassification"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `SearchCaseClassificationsRequest` message that is issued. If unspecified, there are no more results to retrieve."
        }
      }
    },
    "DiffDownloadResponse": {
      "id": "DiffDownloadResponse",
      "description": "# gdata.* are outside protos with mising documentation",
      "type": "object",
      "properties": {
        "objectLocation": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        }
      }
    },
    "SearchCasesResponse": {
      "type": "object",
      "description": "The response message for the SearchCases endpoint.",
      "properties": {
        "cases": {
          "description": "The list of Case associated with the cloud resource, after any filters have been applied.",
          "type": "array",
          "items": {
            "$ref": "Case"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `SearchCaseRequest` message that is issued. If unspecified, there are no more results to retrieve."
        }
      },
      "id": "SearchCasesResponse"
    },
    "WorkflowOperationMetadata": {
      "properties": {
        "operationAction": {
          "description": "The type of action the operation is classified as.",
          "enumDescriptions": [
            "Operation action is not specified.",
            "Operation pertains to the creation of a new support account.",
            "Operation pertains to the updating of an existing support account.",
            "Operation pertains to the purchasing of a support plan that may either create or update a support account."
          ],
          "enum": [
            "OPERATION_ACTION_UNSPECIFIED",
            "CREATE_SUPPORT_ACCOUNT",
            "UPDATE_SUPPORT_ACCOUNT",
            "PURCHASE_SUPPORT_ACCOUNT"
          ],
          "type": "string"
        },
        "namespace": {
          "description": "The namespace that the job was scheduled in. Must be included in the workflow metadata so the workflow status can be retrieved.",
          "type": "string"
        },
        "workflowOperationType": {
          "description": "Which version of the workflow service this operation came from.",
          "enum": [
            "UNKNOWN_OPERATION_TYPE",
            "WORKFLOWS_V1",
            "WORKFLOWS_V2"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown version.",
            "Version 1.",
            "Version 2."
          ]
        }
      },
      "type": "object",
      "id": "WorkflowOperationMetadata",
      "description": "Metadata about the operation. Used to lookup the current status."
    },
    "DiffUploadResponse": {
      "id": "DiffUploadResponse",
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "originalObject": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectVersion": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      }
    },
    "Blobstore2Info": {
      "type": "object",
      "id": "Blobstore2Info",
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "readToken": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "blobId": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "blobGeneration": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64"
        },
        "uploadMetadataContainer": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte",
          "type": "string"
        },
        "downloadReadHandle": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      }
    },
    "EscalateCaseRequest": {
      "description": "The request message for the EscalateCase endpoint.",
      "type": "object",
      "id": "EscalateCaseRequest",
      "properties": {
        "escalation": {
          "description": "The escalation object to be sent with the escalation request.",
          "$ref": "Escalation"
        }
      }
    },
    "CloseCaseRequest": {
      "description": "The request message for the CloseCase endpoint.",
      "properties": {},
      "id": "CloseCaseRequest",
      "type": "object"
    },
    "Escalation": {
      "description": "An escalation of a support case.",
      "type": "object",
      "id": "Escalation",
      "properties": {
        "justification": {
          "type": "string",
          "description": "Required. A free text description to accompany the `reason` field above. Provides additional context on why the case is being escalated."
        },
        "reason": {
          "enum": [
            "REASON_UNSPECIFIED",
            "RESOLUTION_TIME",
            "TECHNICAL_EXPERTISE",
            "BUSINESS_IMPACT"
          ],
          "enumDescriptions": [
            "The escalation reason is in an unknown state or has not been specified.",
            "The case is taking too long to resolve.",
            "The support agent does not have the expertise required to successfully resolve the issue.",
            "The issue is having a significant business impact."
          ],
          "description": "Required. The reason why the Case is being escalated.",
          "type": "string"
        }
      }
    },
    "ObjectId": {
      "properties": {
        "generation": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64",
          "type": "string"
        },
        "objectName": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "bucketName": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation",
      "id": "ObjectId"
    },
    "DiffChecksumsResponse": {
      "properties": {
        "objectSizeBytes": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "int64",
          "type": "string"
        },
        "checksumsLocation": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        },
        "objectVersion": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "objectLocation": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "chunkSizeBytes": {
          "format": "int64",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation",
      "id": "DiffChecksumsResponse",
      "type": "object"
    },
    "ContentTypeInfo": {
      "properties": {
        "bestGuess": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "fromFileName": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "fromUrlPath": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "fromHeader": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "fromBytes": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ContentTypeInfo",
      "description": "# gdata.* are outside protos with mising documentation"
    },
    "CaseClassification": {
      "type": "object",
      "id": "CaseClassification",
      "properties": {
        "displayName": {
          "description": "The display name of the classification.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The unique ID for a classification. Must be specified for case creation. To retrieve valid classification IDs for case creation, use `caseClassifications.search`."
        }
      },
      "description": "A classification object with a product type and value."
    },
    "Attachment": {
      "type": "object",
      "description": "Represents a file attached to a support case.",
      "id": "Attachment",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the attachment was created.",
          "type": "string",
          "readOnly": true
        },
        "sizeBytes": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The size of the attachment in bytes.",
          "format": "int64"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the attachment."
        },
        "mimeType": {
          "description": "Output only. The MIME type of the attachment (e.g. text/plain).",
          "type": "string",
          "readOnly": true
        },
        "filename": {
          "description": "The filename of the attachment (e.g. `\"graph.jpg\"`).",
          "type": "string"
        },
        "creator": {
          "$ref": "Actor",
          "description": "Output only. The user who uploaded the attachment. Note, the name and email will be obfuscated if the attachment was uploaded by Google support.",
          "readOnly": true
        }
      }
    },
    "Case": {
      "properties": {
        "classification": {
          "$ref": "CaseClassification",
          "description": "The issue classification applicable to this case."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time this case was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time this case was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "IN_PROGRESS_GOOGLE_SUPPORT",
            "ACTION_REQUIRED",
            "SOLUTION_PROVIDED",
            "CLOSED"
          ],
          "description": "Output only. The current status of the support case.",
          "type": "string",
          "enumDescriptions": [
            "Case is in an unknown state.",
            "The case has been created but no one is assigned to work on it yet.",
            "The case is currently being handled by Google support.",
            "Google is waiting for a response.",
            "A solution has been offered for the case, but it isn't yet closed.",
            "The case has been resolved."
          ],
          "readOnly": true
        },
        "subscriberEmailAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The email addresses to receive updates on this case."
        },
        "description": {
          "description": "A broad description of the issue.",
          "type": "string"
        },
        "priority": {
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P0",
            "P1",
            "P2",
            "P3",
            "P4"
          ],
          "enumDescriptions": [
            "Priority is undefined or has not been set yet.",
            "Extreme impact on a production service. Service is hard down.",
            "Critical impact on a production service. Service is currently unusable.",
            "Severe impact on a production service. Service is usable but greatly impaired.",
            "Medium impact on a production service. Service is available, but moderately impaired.",
            "General questions or minor issues. Production service is fully available."
          ],
          "description": "The priority of this case. If this is set, do not set severity.",
          "type": "string"
        },
        "languageCode": {
          "description": "The language the user has requested to receive support in. This should be a BCP 47 language code (e.g., `\"en\"`, `\"zh-CN\"`, `\"zh-TW\"`, `\"ja\"`, `\"ko\"`). If no language or an unsupported language is specified, this field defaults to English (en). Language selection during case creation may affect your available support options. For a list of supported languages and their support working hours, see: https://cloud.google.com/support/docs/language-working-hours",
          "type": "string"
        },
        "escalated": {
          "type": "boolean",
          "description": "Whether the case is currently escalated."
        },
        "severity": {
          "enumDescriptions": [
            "Severity is undefined or has not been set yet.",
            "Extreme impact on a production service. Service is hard down.",
            "Critical impact on a production service. Service is currently unusable.",
            "Severe impact on a production service. Service is usable but greatly impaired.",
            "Medium impact on a production service. Service is available, but moderately impaired.",
            "General questions or minor issues. Production service is fully available."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "S0",
            "S1",
            "S2",
            "S3",
            "S4"
          ],
          "type": "string",
          "description": "The severity of this case. Deprecated. Use priority instead."
        },
        "timeZone": {
          "type": "string",
          "description": "The timezone of the user who created the support case. It should be in a format IANA recognizes: https://www.iana.org/time-zones. There is no additional validation done by the API."
        },
        "testCase": {
          "type": "boolean",
          "description": "Whether this case was created for internal API testing and should not be acted on by the support team."
        },
        "name": {
          "type": "string",
          "description": "The resource name for the case."
        },
        "creator": {
          "$ref": "Actor",
          "description": "The user who created the case. Note: The name and email will be obfuscated if the case was created by Google Support."
        },
        "displayName": {
          "description": "The short summary of the issue reported in this case.",
          "type": "string"
        }
      },
      "id": "Case",
      "description": "A support case.",
      "type": "object"
    },
    "Actor": {
      "id": "Actor",
      "description": "An object containing information about the effective user and authenticated principal responsible for an action.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The name to display for the actor. If not provided, it is inferred from credentials supplied during case creation. When an email is provided, a display name must also be provided. This will be obfuscated if the user is a Google Support agent."
        },
        "googleSupport": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the actor is a Google support actor."
        },
        "email": {
          "type": "string",
          "description": "The email address of the actor. If not provided, it is inferred from credentials supplied during case creation. If the authenticated principal does not have an email address, one must be provided. When a name is provided, an email must also be provided. This will be obfuscated if the user is a Google Support agent."
        }
      },
      "type": "object"
    },
    "DiffVersionResponse": {
      "id": "DiffVersionResponse",
      "type": "object",
      "properties": {
        "objectVersion": {
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "objectSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "description": "# gdata.* are outside protos with mising documentation"
    },
    "DownloadParameters": {
      "id": "DownloadParameters",
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "allowGzipCompression": {
          "type": "boolean",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "ignoreRange": {
          "type": "boolean",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "type": "object"
    },
    "DiffUploadRequest": {
      "type": "object",
      "description": "# gdata.* are outside protos with mising documentation",
      "properties": {
        "checksumsInfo": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "CompositeMedia"
        },
        "objectInfo": {
          "$ref": "CompositeMedia",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectVersion": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "id": "DiffUploadRequest"
    },
    "CompositeMedia": {
      "type": "object",
      "properties": {
        "path": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "objectId": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "ObjectId"
        },
        "cosmoBinaryReference": {
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte"
        },
        "md5Hash": {
          "description": "# gdata.* are outside protos with mising documentation",
          "format": "byte",
          "type": "string"
        },
        "blobRef": {
          "type": "string",
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "referenceType": {
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "BIGSTORE_REF",
            "COSMO_BINARY_REFERENCE"
          ],
          "enumDescriptions": [
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation",
            "# gdata.* are outside protos with mising documentation"
          ],
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "string"
        },
        "blobstore2Info": {
          "description": "# gdata.* are outside protos with mising documentation",
          "$ref": "Blobstore2Info"
        },
        "inline": {
          "type": "string",
          "format": "byte",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "crc32cHash": {
          "format": "uint32",
          "description": "# gdata.* are outside protos with mising documentation",
          "type": "integer"
        },
        "length": {
          "format": "int64",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        },
        "sha1Hash": {
          "format": "byte",
          "type": "string",
          "description": "# gdata.* are outside protos with mising documentation"
        }
      },
      "id": "CompositeMedia",
      "description": "# gdata.* are outside protos with mising documentation"
    },
    "ListCommentsResponse": {
      "description": "The response message for the ListComments endpoint.",
      "properties": {
        "comments": {
          "items": {
            "$ref": "Comment"
          },
          "description": "The list of Comments associated with the given Case.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `ListCommentsRequest` message that is issued. If unspecified, there are no more results to retrieve.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListCommentsResponse"
    },
    "Comment": {
      "properties": {
        "createTime": {
          "description": "Output only. The time when this comment was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "body": {
          "description": "The full comment body. Maximum of 120000 characters. This can contain rich text syntax.",
          "type": "string"
        },
        "creator": {
          "description": "Output only. The user or Google Support agent created this comment.",
          "$ref": "Actor",
          "readOnly": true
        },
        "plainTextBody": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An automatically generated plain text version of body with all rich text syntax stripped."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name for the comment.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A comment associated with a support case.",
      "id": "Comment"
    },
    "ListAttachmentsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. This should be set in the `page_token` field of subsequent `cases.attachments.list` requests. If unspecified, there are no more results to retrieve."
        },
        "attachments": {
          "description": "The list of attachments associated with the given case.",
          "type": "array",
          "items": {
            "$ref": "Attachment"
          }
        }
      },
      "description": "The response message for the ListAttachments endpoint.",
      "type": "object",
      "id": "ListAttachmentsResponse"
    }
  },
  "resources": {
    "attachments": {
      "methods": {
        "create": {
          "path": "v2beta/{+parent}/attachments",
          "parameterOrder": [
            "parent"
          ],
          "id": "cloudsupport.attachments.create",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/attachments",
          "description": "Create a file attachment on a case or Cloud resource. The attachment object must have the following fields set: filename.",
          "response": {
            "$ref": "Attachment"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "CreateAttachmentRequest"
          },
          "parameters": {
            "parent": {
              "required": true,
              "pattern": "^[^/]+/[^/]+$",
              "description": "Required. The resource name of the case (or case parent) to which the attachment should be attached.",
              "location": "path",
              "type": "string"
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "parameters": {
            "parent": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "description": "Required. The resource name of the case (or case parent) to which the attachment should be attached.",
              "required": true
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "request": {
            "$ref": "CreateAttachmentRequest"
          },
          "httpMethod": "POST",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/attachments",
          "supportsMediaUpload": true,
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Create a file attachment on a case or Cloud resource. The attachment object must have the following fields set: filename.",
          "response": {
            "$ref": "Attachment"
          },
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v2beta/{+parent}/attachments"
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "id": "cloudsupport.media.upload",
          "path": "v2beta/{+parent}/attachments"
        },
        "download": {
          "supportsMediaDownload": true,
          "useMediaDownloadService": true,
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+/attachments/[^/]+$",
              "description": "The resource name of the attachment to be downloaded."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Media"
          },
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/attachments/{attachmentsId}:download",
          "httpMethod": "GET",
          "id": "cloudsupport.media.download",
          "description": "Download a file attachment on a case. Note: HTTP requests must append \"?alt=media\" to the URL.",
          "parameterOrder": [
            "name"
          ],
          "path": "v2beta/{+name}:download"
        }
      }
    },
    "cases": {
      "resources": {
        "attachments": {
          "methods": {
            "list": {
              "id": "cloudsupport.cases.attachments.list",
              "httpMethod": "GET",
              "path": "v2beta/{+parent}/attachments",
              "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/attachments",
              "description": "Retrieve all attachments associated with a support case.",
              "response": {
                "$ref": "ListAttachmentsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageToken": {
                  "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "location": "path",
                  "description": "Required. The resource name of Case object for which attachments should be listed."
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of attachments fetched with each request. If not provided, the default is 10. The maximum page size that will be returned is 100."
                }
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "comments": {
          "methods": {
            "list": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "description": "Required. The resource name of Case object for which comments should be listed."
                },
                "pageSize": {
                  "description": "The maximum number of comments fetched with each request. Defaults to 10.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
                  "location": "query"
                }
              },
              "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/comments",
              "parameterOrder": [
                "parent"
              ],
              "description": "Retrieve all Comments associated with the Case object.",
              "response": {
                "$ref": "ListCommentsResponse"
              },
              "httpMethod": "GET",
              "path": "v2beta/{+parent}/comments",
              "id": "cloudsupport.cases.comments.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "request": {
                "$ref": "Comment"
              },
              "path": "v2beta/{+parent}/comments",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The resource name of Case to which this comment should be added.",
                  "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "cloudsupport.cases.comments.create",
              "response": {
                "$ref": "Comment"
              },
              "description": "Add a new comment to the specified Case. The comment object must have the following fields set: body.",
              "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}/comments",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST"
            }
          }
        }
      },
      "methods": {
        "escalate": {
          "parameters": {
            "name": {
              "description": "Required. The fully qualified name of the Case resource to be escalated.",
              "location": "path",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "description": "Escalate a case. Escalating a case will initiate the Cloud Support escalation management process. This operation is only available to certain Customer Care tiers. Go to https://cloud.google.com/support and look for 'Technical support escalations' in the feature list to find out which tiers are able to perform escalations.",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}:escalate",
          "request": {
            "$ref": "EscalateCaseRequest"
          },
          "httpMethod": "POST",
          "id": "cloudsupport.cases.escalate",
          "path": "v2beta/{+name}:escalate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Case"
          }
        },
        "patch": {
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "Case"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Update the specified case. Only a subset of fields (display_name, description, time_zone, subscriber_email_addresses, related_resources, severity, priority, primary_contact, and labels) can be updated.",
          "response": {
            "$ref": "Case"
          },
          "httpMethod": "PATCH",
          "path": "v2beta/{+name}",
          "parameters": {
            "name": {
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "location": "path",
              "description": "The resource name for the case.",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "location": "query",
              "description": "A field that represents attributes of a case object that should be updated as part of this request. Supported values are severity, display_name, and subscriber_email_addresses. If no fields are specified, all supported fields will be updated. WARNING: If you do not provide a field mask then you may accidentally clear some fields. For example, if you leave field mask empty and do not provide a value for subscriber_email_addresses then subscriber_email_addresses will be updated to empty."
            }
          },
          "id": "cloudsupport.cases.patch",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}"
        },
        "create": {
          "parameters": {
            "parent": {
              "type": "string",
              "pattern": "^[^/]+/[^/]+$",
              "description": "Required. The name of the Cloud resource under which the case should be created.",
              "location": "path",
              "required": true
            }
          },
          "description": "Create a new case and associate it with the given Cloud resource. The case object must have the following fields set: display_name, description, classification, and severity.",
          "response": {
            "$ref": "Case"
          },
          "parameterOrder": [
            "parent"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "Case"
          },
          "path": "v2beta/{+parent}/cases",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudsupport.cases.create",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases"
        },
        "search": {
          "parameters": {
            "query": {
              "location": "query",
              "type": "string",
              "description": "An expression written in filter language. A query uses the following fields with the operators equals (`=`) and `AND`: - `organization`: An organization name in the form `organizations/`. - `project`: A project name in the form `projects/`. - `state`: The accepted values are `OPEN` or `CLOSED`. - `priority`: The accepted values are `P0`, `P1`, `P2`, `P3`, or `P4`. You can specify multiple values for priority using the `OR` operator. For example, `priority=P1 OR priority=P2`. - [DEPRECATED] `severity`: The accepted values are `S0`, `S1`, `S2`, `S3`, or `S4`. - `creator.email`: The email address of the case creator. - `billingAccount`: A billing account in the form `billingAccounts/` You must specify eitehr `organization` or `project`. To search across `displayName`, `description`, and comments, use a global restriction with no keyword or operator. For example, `\"my search\"`. To search only cases updated after a certain date, use `update_time` retricted with that particular date, time, and timezone in ISO datetime format. For example, `update_time\u003e\"2020-01-01T00:00:00-05:00\"`. `update_time` only supports the greater than operator (`\u003e`). Examples: - `organization=\"organizations/123456789\"` - `project=\"projects/my-project-id\"` - `project=\"projects/123456789\"` - `billing_account=\"billingAccounts/123456-A0B0C0-CUZ789\"` - `organization=\"organizations/123456789\" AND state=CLOSED` - `project=\"projects/my-project-id\" AND creator.email=\"tester@example.com\"` - `project=\"projects/my-project-id\" AND (priority=P0 OR priority=P1)`"
            },
            "pageSize": {
              "description": "The maximum number of cases fetched with each request. The default page size is 10.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
              "type": "string"
            }
          },
          "description": "Search cases using the specified query.",
          "httpMethod": "GET",
          "flatPath": "v2beta/cases:search",
          "path": "v2beta/cases:search",
          "parameterOrder": [],
          "response": {
            "$ref": "SearchCasesResponse"
          },
          "id": "cloudsupport.cases.search",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "close": {
          "id": "cloudsupport.cases.close",
          "path": "v2beta/{+name}:close",
          "description": "Close the specified case.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Case"
          },
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}:close",
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The fully qualified name of the case resource to be closed."
            }
          },
          "request": {
            "$ref": "CloseCaseRequest"
          }
        },
        "get": {
          "id": "cloudsupport.cases.get",
          "description": "Retrieve the specified case.",
          "parameterOrder": [
            "name"
          ],
          "path": "v2beta/{+name}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Case"
          },
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^[^/]+/[^/]+/cases/[^/]+$",
              "description": "Required. The fully qualified name of a case to be retrieved.",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases/{casesId}"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudsupport.cases.list",
          "parameterOrder": [
            "parent"
          ],
          "parameters": {
            "filter": {
              "location": "query",
              "type": "string",
              "description": "An expression written in filter language. If non-empty, the query returns the cases that match the filter. Else, the query doesn't filter the cases. Filter expressions use the following fields with the operators equals (`=`) and `AND`: - `state`: The accepted values are `OPEN` or `CLOSED`. - `priority`: The accepted values are `P0`, `P1`, `P2`, `P3`, or `P4`. You can specify multiple values for priority using the `OR` operator. For example, `priority=P1 OR priority=P2`. - [DEPRECATED] `severity`: The accepted values are `S0`, `S1`, `S2`, `S3`, or `S4`. - `creator.email`: The email address of the case creator. Examples: - `state=CLOSED` - `state=OPEN AND creator.email=\"tester@example.com\"` - `state=OPEN AND (priority=P0 OR priority=P1)`"
            },
            "parent": {
              "pattern": "^[^/]+/[^/]+$",
              "description": "Required. The fully qualified name of parent resource to list cases under.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of cases fetched with each request. Defaults to 10.",
              "location": "query",
              "format": "int32"
            }
          },
          "description": "Retrieve all cases under the specified parent. Note: Listing cases under an Organization returns only the cases directly parented by that organization. To retrieve all cases under an organization, including cases parented by projects under that organization, use `cases.search`.",
          "response": {
            "$ref": "ListCasesResponse"
          },
          "path": "v2beta/{+parent}/cases",
          "flatPath": "v2beta/{v2betaId}/{v2betaId1}/cases",
          "httpMethod": "GET"
        }
      }
    },
    "caseClassifications": {
      "methods": {
        "search": {
          "response": {
            "$ref": "SearchCaseClassificationsResponse"
          },
          "description": "Retrieve valid classifications to be used when creating a support case. The classications are hierarchical, with each classification containing all levels of the hierarchy, separated by \" \u003e \". For example \"Technical Issue \u003e Compute \u003e Compute Engine\".",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudsupport.caseClassifications.search",
          "parameterOrder": [],
          "flatPath": "v2beta/caseClassifications:search",
          "path": "v2beta/caseClassifications:search",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "location": "query",
              "description": "The maximum number of cases fetched with each request.",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A token identifying the page of results to return. If unspecified, the first page is retrieved."
            },
            "query": {
              "location": "query",
              "type": "string",
              "description": "An expression written in the Cloud filter language. If non-empty, then only cases whose fields match the filter are returned. If empty, then no messages are filtered out."
            }
          }
        }
      }
    }
  },
  "canonicalName": "Cloud Support",
  "documentationLink": "https://cloud.google.com/support/docs/apis",
  "name": "cloudsupport",
  "ownerDomain": "google.com",
  "description": "Manages Google Cloud technical support cases for Customer Care support offerings. ",
  "servicePath": "",
  "id": "cloudsupport:v2beta",
  "version_module": true,
  "revision": "20221129",
  "basePath": "",
  "rootUrl": "https://cloudsupport.googleapis.com/",
  "protocol": "rest",
  "batchPath": "batch",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "kind": "discovery#restDescription"
}
