{
  "parameters": {
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "userIp": {
      "location": "query",
      "type": "string",
      "description": "Legacy name for parameter that has been superseded by `quotaUser`."
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "baseUrl": "https://compute.googleapis.com/compute/v1/",
  "rootUrl": "https://compute.googleapis.com/",
  "documentationLink": "https://cloud.google.com/compute/",
  "id": "compute:v1",
  "batchPath": "batch/compute/v1",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/devstorage.read_only": {
          "description": "View your data in Google Cloud Storage"
        },
        "https://www.googleapis.com/auth/compute": {
          "description": "View and manage your Google Compute Engine resources"
        },
        "https://www.googleapis.com/auth/devstorage.read_write": {
          "description": "Manage your data in Cloud Storage and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/devstorage.full_control": {
          "description": "Manage your data and permissions in Cloud Storage and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/compute.readonly": {
          "description": "View your Google Compute Engine resources"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "version": "v1",
  "icons": {
    "x32": "https://www.google.com/images/icons/product/compute_engine-32.png",
    "x16": "https://www.google.com/images/icons/product/compute_engine-16.png"
  },
  "name": "compute",
  "basePath": "/compute/v1/",
  "protocol": "rest",
  "servicePath": "compute/v1/",
  "title": "Compute Engine API",
  "description": "Creates and runs virtual machines on Google Cloud Platform. ",
  "revision": "20220510",
  "kind": "discovery#restDescription",
  "resources": {
    "resourcePolicies": {
      "methods": {
        "aggregatedList": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "path": "projects/{project}/aggregated/resourcePolicies",
          "response": {
            "$ref": "ResourcePolicyAggregatedList"
          },
          "parameterOrder": [
            "project"
          ],
          "flatPath": "projects/{project}/aggregated/resourcePolicies",
          "httpMethod": "GET",
          "description": "Retrieves an aggregated list of resource policies.",
          "id": "compute.resourcePolicies.aggregatedList",
          "parameters": {
            "returnPartialSuccess": {
              "description": "Opt-in for partial success behavior which provides partial results in case of failure. The default value is false.",
              "type": "boolean",
              "location": "query"
            },
            "project": {
              "required": true,
              "location": "path",
              "description": "Project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string"
            },
            "maxResults": {
              "minimum": "0",
              "format": "uint32",
              "default": "500",
              "location": "query",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "type": "integer"
            },
            "pageToken": {
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "type": "string",
              "location": "query"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "A filter expression that filters resources listed in the response. The expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `\u003e`, `\u003c`, `\u003c=`, `\u003e=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:` operator can be used with string fields to match substrings. For non-string fields it is equivalent to the `=` operator. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ```"
            },
            "includeAllScopes": {
              "description": "Indicates whether every visible scope for each scope type (zone, region, global) should be included in the response. For new resource types added after this field, the flag has no effect as new resource types will always include every visible scope for each scope type in response. For resource types which predate this field, if this flag is omitted or false, only scopes of the scope types where the resource type is expected to be found will be included.",
              "type": "boolean",
              "location": "query"
            },
            "orderBy": {
              "type": "string",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "location": "query"
            }
          }
        },
        "getIamPolicy": {
          "path": "projects/{project}/regions/{region}/resourcePolicies/{resource}/getIamPolicy",
          "id": "compute.resourcePolicies.getIamPolicy",
          "flatPath": "projects/{project}/regions/{region}/resourcePolicies/{resource}/getIamPolicy",
          "parameterOrder": [
            "project",
            "region",
            "resource"
          ],
          "response": {
            "$ref": "Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "description": "Gets the access control policy for a resource. May be empty if no such policy or resource exists.",
          "parameters": {
            "optionsRequestedPolicyVersion": {
              "location": "query",
              "format": "int32",
              "description": "Requested IAM Policy version.",
              "type": "integer"
            },
            "project": {
              "required": true,
              "description": "Project ID for this request.",
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string"
            },
            "region": {
              "required": true,
              "description": "The name of the region for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "location": "path",
              "type": "string"
            },
            "resource": {
              "description": "Name or id of the resource for this request.",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}"
            }
          },
          "httpMethod": "GET"
        },
        "setIamPolicy": {
          "httpMethod": "POST",
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy.",
          "request": {
            "$ref": "RegionSetPolicyRequest"
          },
          "id": "compute.resourcePolicies.setIamPolicy",
          "parameterOrder": [
            "project",
            "region",
            "resource"
          ],
          "path": "projects/{project}/regions/{region}/resourcePolicies/{resource}/setIamPolicy",
          "flatPath": "projects/{project}/regions/{region}/resourcePolicies/{resource}/setIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "parameters": {
            "resource": {
              "required": true,
              "type": "string",
              "description": "Name or id of the resource for this request.",
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}"
            },
            "project": {
              "location": "path",
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "Project ID for this request.",
              "type": "string"
            },
            "region": {
              "required": true,
              "description": "The name of the region for this request.",
              "location": "path",
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ]
        },
        "testIamPermissions": {
          "flatPath": "projects/{project}/regions/{region}/resourcePolicies/{resource}/testIamPermissions",
          "parameters": {
            "region": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "description": "The name of the region for this request."
            },
            "project": {
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path",
              "required": true,
              "description": "Project ID for this request."
            },
            "resource": {
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "description": "Name or id of the resource for this request.",
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "TestPermissionsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "path": "projects/{project}/regions/{region}/resourcePolicies/{resource}/testIamPermissions",
          "request": {
            "$ref": "TestPermissionsRequest"
          },
          "parameterOrder": [
            "project",
            "region",
            "resource"
          ],
          "description": "Returns permissions that a caller has on the specified resource.",
          "id": "compute.resourcePolicies.testIamPermissions",
          "httpMethod": "POST"
        },
        "get": {
          "response": {
            "$ref": "ResourcePolicy"
          },
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "description": "Project ID for this request."
            },
            "region": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true,
              "location": "path",
              "description": "Name of the region for this request.",
              "type": "string"
            },
            "resourcePolicy": {
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "description": "Name of the resource policy to retrieve.",
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "parameterOrder": [
            "project",
            "region",
            "resourcePolicy"
          ],
          "path": "projects/{project}/regions/{region}/resourcePolicies/{resourcePolicy}",
          "id": "compute.resourcePolicies.get",
          "description": "Retrieves all information of the specified resource policy.",
          "httpMethod": "GET",
          "flatPath": "projects/{project}/regions/{region}/resourcePolicies/{resourcePolicy}"
        },
        "delete": {
          "description": "Deletes the specified resource policy.",
          "id": "compute.resourcePolicies.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "parameters": {
            "project": {
              "required": true,
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "description": "Project ID for this request."
            },
            "requestId": {
              "type": "string",
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000).",
              "location": "query"
            },
            "region": {
              "location": "path",
              "required": true,
              "description": "Name of the region for this request.",
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
            },
            "resourcePolicy": {
              "type": "string",
              "required": true,
              "description": "Name of the resource policy to delete.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "location": "path"
            }
          },
          "flatPath": "projects/{project}/regions/{region}/resourcePolicies/{resourcePolicy}",
          "response": {
            "$ref": "Operation"
          },
          "path": "projects/{project}/regions/{region}/resourcePolicies/{resourcePolicy}",
          "parameterOrder": [
            "project",
            "region",
            "resourcePolicy"
          ],
          "httpMethod": "DELETE"
        },
        "list": {
          "parameterOrder": [
            "project",
            "region"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "flatPath": "projects/{project}/regions/{region}/resourcePolicies",
          "description": "A list all the resource policies that have been configured for the specified project in specified region.",
          "id": "compute.resourcePolicies.list",
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "type": "integer",
              "format": "uint32",
              "location": "query",
              "minimum": "0",
              "default": "500"
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported."
            },
            "filter": {
              "description": "A filter expression that filters resources listed in the response. The expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `\u003e`, `\u003c`, `\u003c=`, `\u003e=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:` operator can be used with string fields to match substrings. For non-string fields it is equivalent to the `=` operator. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ```",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "location": "query",
              "type": "string"
            },
            "region": {
              "type": "string",
              "description": "Name of the region for this request.",
              "location": "path",
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
            },
            "returnPartialSuccess": {
              "description": "Opt-in for partial success behavior which provides partial results in case of failure. The default value is false.",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "projects/{project}/regions/{region}/resourcePolicies",
          "response": {
            "$ref": "ResourcePolicyList"
          }
        },
        "insert": {
          "parameterOrder": [
            "project",
            "region"
          ],
          "description": "Creates a new resource policy.",
          "parameters": {
            "requestId": {
              "type": "string",
              "location": "query",
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000)."
            },
            "project": {
              "required": true,
              "description": "Project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "location": "path"
            },
            "region": {
              "description": "Name of the region for this request.",
              "location": "path",
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "path": "projects/{project}/regions/{region}/resourcePolicies",
          "request": {
            "$ref": "ResourcePolicy"
          },
          "id": "compute.resourcePolicies.insert",
          "httpMethod": "POST",
          "flatPath": "projects/{project}/regions/{region}/resourcePolicies",
          "response": {
            "$ref": "Operation"
          }
        }
      }
    },
    "nodeTemplates": {
      "methods": {
        "testIamPermissions": {
          "parameters": {
            "region": {
              "required": true,
              "type": "string",
              "description": "The name of the region for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "location": "path"
            },
            "project": {
              "required": true,
              "description": "Project ID for this request.",
              "location": "path",
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            },
            "resource": {
              "description": "Name or id of the resource for this request.",
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "project",
            "region",
            "resource"
          ],
          "request": {
            "$ref": "TestPermissionsRequest"
          },
          "flatPath": "projects/{project}/regions/{region}/nodeTemplates/{resource}/testIamPermissions",
          "id": "compute.nodeTemplates.testIamPermissions",
          "path": "projects/{project}/regions/{region}/nodeTemplates/{resource}/testIamPermissions",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "description": "Returns permissions that a caller has on the specified resource.",
          "response": {
            "$ref": "TestPermissionsResponse"
          },
          "httpMethod": "POST"
        },
        "get": {
          "parameters": {
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID for this request."
            },
            "nodeTemplate": {
              "location": "path",
              "type": "string",
              "description": "Name of the node template to return.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "required": true
            },
            "region": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "description": "The name of the region for this request."
            }
          },
          "id": "compute.nodeTemplates.get",
          "path": "projects/{project}/regions/{region}/nodeTemplates/{nodeTemplate}",
          "parameterOrder": [
            "project",
            "region",
            "nodeTemplate"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "NodeTemplate"
          },
          "flatPath": "projects/{project}/regions/{region}/nodeTemplates/{nodeTemplate}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "description": "Returns the specified node template. Gets a list of available node templates by making a list() request."
        },
        "delete": {
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "id": "compute.nodeTemplates.delete",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "region": {
              "location": "path",
              "description": "The name of the region for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true,
              "type": "string"
            },
            "nodeTemplate": {
              "description": "Name of the NodeTemplate resource to delete.",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}"
            },
            "requestId": {
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000).",
              "location": "query",
              "type": "string"
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path",
              "type": "string",
              "description": "Project ID for this request.",
              "required": true
            }
          },
          "parameterOrder": [
            "project",
            "region",
            "nodeTemplate"
          ],
          "path": "projects/{project}/regions/{region}/nodeTemplates/{nodeTemplate}",
          "description": "Deletes the specified NodeTemplate resource.",
          "flatPath": "projects/{project}/regions/{region}/nodeTemplates/{nodeTemplate}"
        },
        "list": {
          "parameters": {
            "pageToken": {
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "description": "Project ID for this request.",
              "location": "path",
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "minimum": "0",
              "format": "uint32",
              "type": "integer",
              "default": "500",
              "location": "query"
            },
            "region": {
              "type": "string",
              "required": true,
              "description": "The name of the region for this request.",
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported."
            },
            "filter": {
              "description": "A filter expression that filters resources listed in the response. The expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `\u003e`, `\u003c`, `\u003c=`, `\u003e=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:` operator can be used with string fields to match substrings. For non-string fields it is equivalent to the `=` operator. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ```",
              "location": "query",
              "type": "string"
            },
            "returnPartialSuccess": {
              "description": "Opt-in for partial success behavior which provides partial results in case of failure. The default value is false.",
              "type": "boolean",
              "location": "query"
            }
          },
          "description": "Retrieves a list of node templates available to the specified project.",
          "id": "compute.nodeTemplates.list",
          "path": "projects/{project}/regions/{region}/nodeTemplates",
          "parameterOrder": [
            "project",
            "region"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "response": {
            "$ref": "NodeTemplateList"
          },
          "flatPath": "projects/{project}/regions/{region}/nodeTemplates"
        },
        "aggregatedList": {
          "parameterOrder": [
            "project"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "parameters": {
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "Project ID for this request.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "filter": {
              "description": "A filter expression that filters resources listed in the response. The expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `\u003e`, `\u003c`, `\u003c=`, `\u003e=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:` operator can be used with string fields to match substrings. For non-string fields it is equivalent to the `=` operator. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ```",
              "location": "query",
              "type": "string"
            },
            "returnPartialSuccess": {
              "location": "query",
              "description": "Opt-in for partial success behavior which provides partial results in case of failure. The default value is false.",
              "type": "boolean"
            },
            "pageToken": {
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "location": "query",
              "type": "string"
            },
            "includeAllScopes": {
              "description": "Indicates whether every visible scope for each scope type (zone, region, global) should be included in the response. For new resource types added after this field, the flag has no effect as new resource types will always include every visible scope for each scope type in response. For resource types which predate this field, if this flag is omitted or false, only scopes of the scope types where the resource type is expected to be found will be included.",
              "location": "query",
              "type": "boolean"
            },
            "maxResults": {
              "location": "query",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "minimum": "0",
              "format": "uint32",
              "type": "integer",
              "default": "500"
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported."
            }
          },
          "path": "projects/{project}/aggregated/nodeTemplates",
          "flatPath": "projects/{project}/aggregated/nodeTemplates",
          "response": {
            "$ref": "NodeTemplateAggregatedList"
          },
          "httpMethod": "GET",
          "description": "Retrieves an aggregated list of node templates.",
          "id": "compute.nodeTemplates.aggregatedList"
        },
        "getIamPolicy": {
          "path": "projects/{project}/regions/{region}/nodeTemplates/{resource}/getIamPolicy",
          "flatPath": "projects/{project}/regions/{region}/nodeTemplates/{resource}/getIamPolicy",
          "description": "Gets the access control policy for a resource. May be empty if no such policy or resource exists.",
          "id": "compute.nodeTemplates.getIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "response": {
            "$ref": "Policy"
          },
          "parameterOrder": [
            "project",
            "region",
            "resource"
          ],
          "parameters": {
            "optionsRequestedPolicyVersion": {
              "format": "int32",
              "description": "Requested IAM Policy version.",
              "type": "integer",
              "location": "query"
            },
            "region": {
              "location": "path",
              "description": "The name of the region for this request.",
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "description": "Project ID for this request.",
              "location": "path",
              "type": "string"
            },
            "resource": {
              "description": "Name or id of the resource for this request.",
              "required": true,
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "type": "string"
            }
          },
          "httpMethod": "GET"
        },
        "insert": {
          "id": "compute.nodeTemplates.insert",
          "description": "Creates a NodeTemplate resource in the specified project using the data included in the request.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "parameterOrder": [
            "project",
            "region"
          ],
          "path": "projects/{project}/regions/{region}/nodeTemplates",
          "flatPath": "projects/{project}/regions/{region}/nodeTemplates",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "requestId": {
              "location": "query",
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000).",
              "type": "string"
            },
            "region": {
              "required": true,
              "location": "path",
              "description": "The name of the region for this request.",
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
            },
            "project": {
              "type": "string",
              "location": "path",
              "description": "Project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true
            }
          },
          "request": {
            "$ref": "NodeTemplate"
          },
          "httpMethod": "POST"
        },
        "setIamPolicy": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "parameters": {
            "region": {
              "required": true,
              "location": "path",
              "description": "The name of the region for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "type": "string"
            },
            "resource": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "description": "Name or id of the resource for this request.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "project": {
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "Project ID for this request."
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "region",
            "resource"
          ],
          "request": {
            "$ref": "RegionSetPolicyRequest"
          },
          "flatPath": "projects/{project}/regions/{region}/nodeTemplates/{resource}/setIamPolicy",
          "path": "projects/{project}/regions/{region}/nodeTemplates/{resource}/setIamPolicy",
          "id": "compute.nodeTemplates.setIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy."
        }
      }
    },
    "serviceAttachments": {
      "methods": {
        "insert": {
          "parameterOrder": [
            "project",
            "region"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "parameters": {
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path",
              "description": "Project ID for this request.",
              "type": "string",
              "required": true
            },
            "requestId": {
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000).",
              "type": "string",
              "location": "query"
            },
            "region": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "type": "string",
              "description": "Name of the region of this request.",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "id": "compute.serviceAttachments.insert",
          "flatPath": "projects/{project}/regions/{region}/serviceAttachments",
          "httpMethod": "POST",
          "request": {
            "$ref": "ServiceAttachment"
          },
          "path": "projects/{project}/regions/{region}/serviceAttachments",
          "description": "Creates a ServiceAttachment in the specified project in the given scope using the parameters that are included in the request."
        },
        "patch": {
          "parameters": {
            "project": {
              "required": true,
              "description": "Project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "location": "path"
            },
            "serviceAttachment": {
              "type": "string",
              "required": true,
              "description": "The resource id of the ServiceAttachment to patch. It should conform to RFC1035 resource name or be a string form on an unsigned long number.",
              "location": "path"
            },
            "requestId": {
              "type": "string",
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000).",
              "location": "query"
            },
            "region": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The region scoping this request and should conform to RFC1035."
            }
          },
          "httpMethod": "PATCH",
          "request": {
            "$ref": "ServiceAttachment"
          },
          "description": "Patches the specified ServiceAttachment resource with the data included in the request. This method supports PATCH semantics and uses JSON merge patch format and processing rules.",
          "flatPath": "projects/{project}/regions/{region}/serviceAttachments/{serviceAttachment}",
          "path": "projects/{project}/regions/{region}/serviceAttachments/{serviceAttachment}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "id": "compute.serviceAttachments.patch",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "region",
            "serviceAttachment"
          ]
        },
        "getIamPolicy": {
          "parameters": {
            "region": {
              "description": "The name of the region for this request.",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
            },
            "project": {
              "required": true,
              "location": "path",
              "description": "Project ID for this request.",
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            },
            "optionsRequestedPolicyVersion": {
              "description": "Requested IAM Policy version.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "resource": {
              "type": "string",
              "description": "Name or id of the resource for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "required": true,
              "location": "path"
            }
          },
          "description": "Gets the access control policy for a resource. May be empty if no such policy or resource exists.",
          "flatPath": "projects/{project}/regions/{region}/serviceAttachments/{resource}/getIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "id": "compute.serviceAttachments.getIamPolicy",
          "httpMethod": "GET",
          "path": "projects/{project}/regions/{region}/serviceAttachments/{resource}/getIamPolicy",
          "parameterOrder": [
            "project",
            "region",
            "resource"
          ]
        },
        "aggregatedList": {
          "path": "projects/{project}/aggregated/serviceAttachments",
          "parameterOrder": [
            "project"
          ],
          "flatPath": "projects/{project}/aggregated/serviceAttachments",
          "response": {
            "$ref": "ServiceAttachmentAggregatedList"
          },
          "description": "Retrieves the list of all ServiceAttachment resources, regional and global, available to the specified project.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "id": "compute.serviceAttachments.aggregatedList",
          "parameters": {
            "project": {
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "Name of the project scoping this request.",
              "location": "path",
              "type": "string"
            },
            "returnPartialSuccess": {
              "location": "query",
              "type": "boolean",
              "description": "Opt-in for partial success behavior which provides partial results in case of failure. The default value is false."
            },
            "filter": {
              "location": "query",
              "description": "A filter expression that filters resources listed in the response. The expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `\u003e`, `\u003c`, `\u003c=`, `\u003e=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:` operator can be used with string fields to match substrings. For non-string fields it is equivalent to the `=` operator. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ```",
              "type": "string"
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported."
            },
            "includeAllScopes": {
              "description": "Indicates whether every visible scope for each scope type (zone, region, global) should be included in the response. For new resource types added after this field, the flag has no effect as new resource types will always include every visible scope for each scope type in response. For resource types which predate this field, if this flag is omitted or false, only scopes of the scope types where the resource type is expected to be found will be included.",
              "type": "boolean",
              "location": "query"
            },
            "maxResults": {
              "default": "500",
              "format": "uint32",
              "location": "query",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "type": "integer",
              "minimum": "0"
            },
            "pageToken": {
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET"
        },
        "list": {
          "response": {
            "$ref": "ServiceAttachmentList"
          },
          "parameterOrder": [
            "project",
            "region"
          ],
          "id": "compute.serviceAttachments.list",
          "parameters": {
            "returnPartialSuccess": {
              "type": "boolean",
              "location": "query",
              "description": "Opt-in for partial success behavior which provides partial results in case of failure. The default value is false."
            },
            "filter": {
              "description": "A filter expression that filters resources listed in the response. The expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `\u003e`, `\u003c`, `\u003c=`, `\u003e=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:` operator can be used with string fields to match substrings. For non-string fields it is equivalent to the `=` operator. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ```",
              "location": "query",
              "type": "string"
            },
            "region": {
              "location": "path",
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true,
              "description": "Name of the region of this request."
            },
            "maxResults": {
              "format": "uint32",
              "minimum": "0",
              "type": "integer",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "location": "query",
              "default": "500"
            },
            "project": {
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path",
              "description": "Project ID for this request.",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "type": "string"
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "httpMethod": "GET",
          "flatPath": "projects/{project}/regions/{region}/serviceAttachments",
          "description": "Lists the ServiceAttachments for a project in the given scope.",
          "path": "projects/{project}/regions/{region}/serviceAttachments"
        },
        "testIamPermissions": {
          "parameters": {
            "region": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "description": "The name of the region for this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID for this request."
            },
            "resource": {
              "description": "Name or id of the resource for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "projects/{project}/regions/{region}/serviceAttachments/{resource}/testIamPermissions",
          "response": {
            "$ref": "TestPermissionsResponse"
          },
          "id": "compute.serviceAttachments.testIamPermissions",
          "description": "Returns permissions that a caller has on the specified resource.",
          "parameterOrder": [
            "project",
            "region",
            "resource"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "request": {
            "$ref": "TestPermissionsRequest"
          },
          "path": "projects/{project}/regions/{region}/serviceAttachments/{resource}/testIamPermissions"
        },
        "get": {
          "response": {
            "$ref": "ServiceAttachment"
          },
          "description": "Returns the specified ServiceAttachment resource in the given scope.",
          "parameters": {
            "project": {
              "required": true,
              "location": "path",
              "description": "Project ID for this request.",
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            },
            "region": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "description": "Name of the region of this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "serviceAttachment": {
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "description": "Name of the ServiceAttachment resource to return."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "id": "compute.serviceAttachments.get",
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "region",
            "serviceAttachment"
          ],
          "flatPath": "projects/{project}/regions/{region}/serviceAttachments/{serviceAttachment}",
          "path": "projects/{project}/regions/{region}/serviceAttachments/{serviceAttachment}"
        },
        "setIamPolicy": {
          "request": {
            "$ref": "RegionSetPolicyRequest"
          },
          "parameters": {
            "resource": {
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "required": true,
              "location": "path",
              "description": "Name or id of the resource for this request."
            },
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "Project ID for this request."
            },
            "region": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The name of the region for this request."
            }
          },
          "id": "compute.serviceAttachments.setIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "region",
            "resource"
          ],
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy.",
          "flatPath": "projects/{project}/regions/{region}/serviceAttachments/{resource}/setIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "path": "projects/{project}/regions/{region}/serviceAttachments/{resource}/setIamPolicy"
        },
        "delete": {
          "parameterOrder": [
            "project",
            "region",
            "serviceAttachment"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "id": "compute.serviceAttachments.delete",
          "response": {
            "$ref": "Operation"
          },
          "description": "Deletes the specified ServiceAttachment in the given scope",
          "httpMethod": "DELETE",
          "parameters": {
            "region": {
              "type": "string",
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true,
              "description": "Name of the region of this request."
            },
            "requestId": {
              "type": "string",
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000).",
              "location": "query"
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path",
              "required": true,
              "description": "Project ID for this request.",
              "type": "string"
            },
            "serviceAttachment": {
              "description": "Name of the ServiceAttachment resource to delete.",
              "location": "path",
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "required": true
            }
          },
          "flatPath": "projects/{project}/regions/{region}/serviceAttachments/{serviceAttachment}",
          "path": "projects/{project}/regions/{region}/serviceAttachments/{serviceAttachment}"
        }
      }
    },
    "disks": {
      "methods": {
        "removeResourcePolicies": {
          "path": "projects/{project}/zones/{zone}/disks/{disk}/removeResourcePolicies",
          "parameterOrder": [
            "project",
            "zone",
            "disk"
          ],
          "request": {
            "$ref": "DisksRemoveResourcePoliciesRequest"
          },
          "flatPath": "projects/{project}/zones/{zone}/disks/{disk}/removeResourcePolicies",
          "httpMethod": "POST",
          "description": "Removes resource policies from a disk.",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "parameters": {
            "disk": {
              "description": "The disk name for this request.",
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "type": "string",
              "required": true
            },
            "zone": {
              "description": "The name of the zone for this request.",
              "required": true,
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "location": "path"
            },
            "project": {
              "description": "Project ID for this request.",
              "required": true,
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string"
            },
            "requestId": {
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000).",
              "location": "query",
              "type": "string"
            }
          },
          "id": "compute.disks.removeResourcePolicies"
        },
        "list": {
          "path": "projects/{project}/zones/{zone}/disks",
          "flatPath": "projects/{project}/zones/{zone}/disks",
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string"
            },
            "filter": {
              "location": "query",
              "description": "A filter expression that filters resources listed in the response. The expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `\u003e`, `\u003c`, `\u003c=`, `\u003e=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:` operator can be used with string fields to match substrings. For non-string fields it is equivalent to the `=` operator. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ```",
              "type": "string"
            },
            "zone": {
              "location": "path",
              "description": "The name of the zone for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true,
              "type": "string"
            },
            "orderBy": {
              "type": "string",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "location": "query"
            },
            "maxResults": {
              "minimum": "0",
              "format": "uint32",
              "type": "integer",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "location": "query",
              "default": "500"
            },
            "returnPartialSuccess": {
              "location": "query",
              "description": "Opt-in for partial success behavior which provides partial results in case of failure. The default value is false.",
              "type": "boolean"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results."
            }
          },
          "parameterOrder": [
            "project",
            "zone"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "id": "compute.disks.list",
          "description": "Retrieves a list of persistent disks contained within the specified zone.",
          "httpMethod": "GET",
          "response": {
            "$ref": "DiskList"
          }
        },
        "resize": {
          "flatPath": "projects/{project}/zones/{zone}/disks/{disk}/resize",
          "description": "Resizes the specified persistent disk. You can only increase the size of the disk.",
          "id": "compute.disks.resize",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "request": {
            "$ref": "DisksResizeRequest"
          },
          "path": "projects/{project}/zones/{zone}/disks/{disk}/resize",
          "parameters": {
            "requestId": {
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000).",
              "location": "query",
              "type": "string"
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "Project ID for this request.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "disk": {
              "description": "The name of the persistent disk.",
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "type": "string",
              "required": true
            },
            "zone": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "description": "The name of the zone for this request.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "project",
            "zone",
            "disk"
          ],
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST"
        },
        "aggregatedList": {
          "description": "Retrieves an aggregated list of persistent disks.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "httpMethod": "GET",
          "path": "projects/{project}/aggregated/disks",
          "flatPath": "projects/{project}/aggregated/disks",
          "parameterOrder": [
            "project"
          ],
          "parameters": {
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "A filter expression that filters resources listed in the response. The expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `\u003e`, `\u003c`, `\u003c=`, `\u003e=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:` operator can be used with string fields to match substrings. For non-string fields it is equivalent to the `=` operator. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ```"
            },
            "maxResults": {
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "default": "500",
              "location": "query",
              "minimum": "0",
              "format": "uint32",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "type": "string"
            },
            "returnPartialSuccess": {
              "description": "Opt-in for partial success behavior which provides partial results in case of failure. The default value is false.",
              "type": "boolean",
              "location": "query"
            },
            "orderBy": {
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "type": "string",
              "location": "query"
            },
            "includeAllScopes": {
              "type": "boolean",
              "location": "query",
              "description": "Indicates whether every visible scope for each scope type (zone, region, global) should be included in the response. For new resource types added after this field, the flag has no effect as new resource types will always include every visible scope for each scope type in response. For resource types which predate this field, if this flag is omitted or false, only scopes of the scope types where the resource type is expected to be found will be included."
            }
          },
          "response": {
            "$ref": "DiskAggregatedList"
          },
          "id": "compute.disks.aggregatedList"
        },
        "setIamPolicy": {
          "flatPath": "projects/{project}/zones/{zone}/disks/{resource}/setIamPolicy",
          "request": {
            "$ref": "ZoneSetPolicyRequest"
          },
          "id": "compute.disks.setIamPolicy",
          "httpMethod": "POST",
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "parameters": {
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "type": "string",
              "description": "Project ID for this request.",
              "location": "path"
            },
            "resource": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "description": "Name or id of the resource for this request."
            },
            "zone": {
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true,
              "location": "path",
              "description": "The name of the zone for this request."
            }
          },
          "response": {
            "$ref": "Policy"
          },
          "parameterOrder": [
            "project",
            "zone",
            "resource"
          ],
          "path": "projects/{project}/zones/{zone}/disks/{resource}/setIamPolicy"
        },
        "insert": {
          "flatPath": "projects/{project}/zones/{zone}/disks",
          "parameters": {
            "requestId": {
              "type": "string",
              "location": "query",
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000)."
            },
            "zone": {
              "location": "path",
              "description": "The name of the zone for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "type": "string",
              "required": true
            },
            "sourceImage": {
              "location": "query",
              "type": "string",
              "description": "Source image to restore onto a disk. This field is optional."
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "zone"
          ],
          "path": "projects/{project}/zones/{zone}/disks",
          "id": "compute.disks.insert",
          "response": {
            "$ref": "Operation"
          },
          "description": "Creates a persistent disk in the specified project using the data in the request. You can create a disk from a source (sourceImage, sourceSnapshot, or sourceDisk) or create an empty 500 GB data disk by omitting all properties. You can also create a disk that is larger than the default size by specifying the sizeGb property.",
          "request": {
            "$ref": "Disk"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ]
        },
        "getIamPolicy": {
          "parameters": {
            "resource": {
              "description": "Name or id of the resource for this request.",
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "type": "string",
              "location": "path"
            },
            "optionsRequestedPolicyVersion": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Requested IAM Policy version."
            },
            "zone": {
              "type": "string",
              "location": "path",
              "description": "The name of the zone for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true
            },
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            }
          },
          "description": "Gets the access control policy for a resource. May be empty if no such policy or resource exists.",
          "path": "projects/{project}/zones/{zone}/disks/{resource}/getIamPolicy",
          "id": "compute.disks.getIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "response": {
            "$ref": "Policy"
          },
          "flatPath": "projects/{project}/zones/{zone}/disks/{resource}/getIamPolicy",
          "parameterOrder": [
            "project",
            "zone",
            "resource"
          ],
          "httpMethod": "GET"
        },
        "testIamPermissions": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "path": "projects/{project}/zones/{zone}/disks/{resource}/testIamPermissions",
          "httpMethod": "POST",
          "id": "compute.disks.testIamPermissions",
          "parameters": {
            "zone": {
              "location": "path",
              "description": "The name of the zone for this request.",
              "required": true,
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path",
              "required": true,
              "description": "Project ID for this request.",
              "type": "string"
            },
            "resource": {
              "type": "string",
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "required": true,
              "description": "Name or id of the resource for this request."
            }
          },
          "description": "Returns permissions that a caller has on the specified resource.",
          "request": {
            "$ref": "TestPermissionsRequest"
          },
          "flatPath": "projects/{project}/zones/{zone}/disks/{resource}/testIamPermissions",
          "parameterOrder": [
            "project",
            "zone",
            "resource"
          ],
          "response": {
            "$ref": "TestPermissionsResponse"
          }
        },
        "delete": {
          "path": "projects/{project}/zones/{zone}/disks/{disk}",
          "flatPath": "projects/{project}/zones/{zone}/disks/{disk}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "DELETE",
          "parameters": {
            "zone": {
              "location": "path",
              "description": "The name of the zone for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true,
              "type": "string"
            },
            "project": {
              "required": true,
              "description": "Project ID for this request.",
              "location": "path",
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            },
            "disk": {
              "description": "Name of the persistent disk to delete.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "requestId": {
              "location": "query",
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000).",
              "type": "string"
            }
          },
          "description": "Deletes the specified persistent disk. Deleting a disk removes its data permanently and is irreversible. However, deleting a disk does not delete any snapshots previously made from the disk. You must separately delete snapshots.",
          "parameterOrder": [
            "project",
            "zone",
            "disk"
          ],
          "id": "compute.disks.delete"
        },
        "addResourcePolicies": {
          "request": {
            "$ref": "DisksAddResourcePoliciesRequest"
          },
          "path": "projects/{project}/zones/{zone}/disks/{disk}/addResourcePolicies",
          "id": "compute.disks.addResourcePolicies",
          "parameterOrder": [
            "project",
            "zone",
            "disk"
          ],
          "response": {
            "$ref": "Operation"
          },
          "description": "Adds existing resource policies to a disk. You can only add one policy which will be applied to this disk for scheduling snapshot creation.",
          "parameters": {
            "zone": {
              "location": "path",
              "required": true,
              "description": "The name of the zone for this request.",
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID for this request."
            },
            "requestId": {
              "location": "query",
              "type": "string",
[...]
