{
  "version": "v1",
  "title": "Compute Engine API",
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/compute/",
  "baseUrl": "https://compute.googleapis.com/compute/v1/",
  "discoveryVersion": "v1",
  "schemas": {
    "HTTPSHealthCheck": {
      "type": "object",
      "properties": {
        "portName": {
          "type": "string",
          "description": "Not supported."
        },
        "portSpecification": {
          "enumDescriptions": [
            "The port number in the health check's port is used for health checking. Applies to network endpoint group and instance group backends.",
            "Not supported.",
            "For network endpoint group backends, the health check uses the port number specified on each endpoint in the network endpoint group. For instance group backends, the health check uses the port number specified for the backend service's named port defined in the instance group's named ports."
          ],
          "enum": [
            "USE_FIXED_PORT",
            "USE_NAMED_PORT",
            "USE_SERVING_PORT"
          ],
          "type": "string",
          "description": "Specifies how a port is selected for health checking. Can be one of the following values: USE_FIXED_PORT: Specifies a port number explicitly using the port field in the health check. Supported by backend services for pass-through load balancers and backend services for proxy load balancers. Not supported by target pools. The health check supports all backends supported by the backend service provided the backend can be health checked. For example, GCE_VM_IP network endpoint groups, GCE_VM_IP_PORT network endpoint groups, and instance group backends. USE_NAMED_PORT: Not supported. USE_SERVING_PORT: Provides an indirect method of specifying the health check port by referring to the backend service. Only supported by backend services for proxy load balancers. Not supported by target pools. Not supported by backend services for pass-through load balancers. Supports all backends that can be health checked; for example, GCE_VM_IP_PORT network endpoint groups and instance group backends. For GCE_VM_IP_PORT network endpoint group backends, the health check uses the port number specified for each endpoint in the network endpoint group. For instance group backends, the health check uses the port number determined by looking up the backend service's named port in the instance group's list of named ports."
        },
        "response": {
          "description": "Creates a content-based HTTPS health check. In addition to the required HTTP 200 (OK) status code, you can configure the health check to pass only when the backend sends this specific ASCII response string within the first 1024 bytes of the HTTP response body. For details, see: https://cloud.google.com/load-balancing/docs/health-check-concepts#criteria-protocol-http",
          "type": "string"
        },
        "requestPath": {
          "type": "string",
          "description": "The request path of the HTTPS health check request. The default value is /."
        },
        "host": {
          "type": "string",
          "description": "The value of the host header in the HTTPS health check request. If left empty (default value), the host header is set to the destination IP address to which health check packets are sent. The destination IP address depends on the type of load balancer. For details, see: https://cloud.google.com/load-balancing/docs/health-check-concepts#hc-packet-dest"
        },
        "proxyHeader": {
          "description": "Specifies the type of proxy header to append before sending data to the backend, either NONE or PROXY_V1. The default is NONE.",
          "enum": [
            "NONE",
            "PROXY_V1"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        },
        "port": {
          "type": "integer",
          "description": "The TCP port number to which the health check prober sends packets. The default value is 443. Valid values are 1 through 65535.",
          "format": "int32"
        }
      },
      "id": "HTTPSHealthCheck"
    },
    "InterconnectAttachmentsScopedList": {
      "type": "object",
      "id": "InterconnectAttachmentsScopedList",
      "properties": {
        "interconnectAttachments": {
          "items": {
            "$ref": "InterconnectAttachment"
          },
          "type": "array",
          "description": "A list of interconnect attachments contained in this scope."
        },
        "warning": {
          "type": "object",
          "description": "Informational warning which replaces the list of addresses when the list is empty.",
          "properties": {
            "message": {
              "type": "string",
              "description": "[Output Only] A human-readable description of the warning code."
            },
            "code": {
              "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
              "type": "string",
              "enum": [
                "CLEANUP_FAILED",
                "DEPRECATED_RESOURCE_USED",
                "DEPRECATED_TYPE_USED",
                "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
                "EXPERIMENTAL_TYPE_USED",
                "EXTERNAL_API_WARNING",
                "FIELD_VALUE_OVERRIDEN",
                "INJECTED_KERNELS_DEPRECATED",
                "INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB",
                "LARGE_DEPLOYMENT_WARNING",
                "MISSING_TYPE_DEPENDENCY",
                "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
                "NEXT_HOP_CANNOT_IP_FORWARD",
                "NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE",
                "NEXT_HOP_INSTANCE_NOT_FOUND",
                "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
                "NEXT_HOP_NOT_RUNNING",
                "NOT_CRITICAL_ERROR",
                "NO_RESULTS_ON_PAGE",
                "PARTIAL_SUCCESS",
                "REQUIRED_TOS_AGREEMENT",
                "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
                "RESOURCE_NOT_DELETED",
                "SCHEMA_VALIDATION_IGNORED",
                "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
                "UNDECLARED_PROPERTIES",
                "UNREACHABLE"
              ],
              "enumDescriptions": [
                "Warning about failed cleanup of transient changes made by a failed operation.",
                "A link to a deprecated resource was created.",
                "When deploying and at least one of the resources has a type marked as deprecated",
                "The user created a boot disk that is larger than image size.",
                "When deploying and at least one of the resources has a type marked as experimental",
                "Warning that is present in an external api call",
                "Warning that value of a field has been overridden. Deprecated unused field.",
                "The operation involved use of an injected kernel, which is deprecated.",
                "A WEIGHTED_MAGLEV backend service is associated with a health check that is not of type HTTP/HTTPS/HTTP2.",
                "When deploying a deployment with a exceedingly large number of resources",
                "A resource depends on a missing type",
                "The route's nextHopIp address is not assigned to an instance on the network.",
                "The route's next hop instance cannot ip forward.",
                "The route's nextHopInstance URL refers to an instance that does not have an ipv6 interface on the same network as the route.",
                "The route's nextHopInstance URL refers to an instance that does not exist.",
                "The route's nextHopInstance URL refers to an instance that is not on the same network as the route.",
                "The route's next hop instance does not have a status of RUNNING.",
                "Error which is not critical. We decided to continue the process despite the mentioned error.",
                "No results are present on a particular list page.",
                "Success is reported, but some results may be missing due to errors",
                "The user attempted to use a resource that requires a TOS they have not accepted.",
                "Warning that a resource is in use.",
                "One or more of the resources set to auto-delete could not be deleted because they were in use.",
                "When a resource schema validation is ignored.",
                "Instance template used in instance group manager is valid as such, but its application does not make a lot of sense, because it allows only single instance in instance group.",
                "When undeclared properties in the schema are present",
                "A given scope cannot be reached."
              ]
            },
            "data": {
              "type": "array",
              "description": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" } ",
              "items": {
                "type": "object",
                "properties": {
                  "value": {
                    "description": "[Output Only] A warning data value corresponding to the key.",
                    "type": "string"
                  },
                  "key": {
                    "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding).",
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "TCPHealthCheck": {
      "id": "TCPHealthCheck",
      "type": "object",
      "properties": {
        "proxyHeader": {
          "description": "Specifies the type of proxy header to append before sending data to the backend, either NONE or PROXY_V1. The default is NONE.",
          "enum": [
            "NONE",
            "PROXY_V1"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        },
        "portSpecification": {
          "enum": [
            "USE_FIXED_PORT",
            "USE_NAMED_PORT",
            "USE_SERVING_PORT"
          ],
          "type": "string",
          "description": "Specifies how a port is selected for health checking. Can be one of the following values: USE_FIXED_PORT: Specifies a port number explicitly using the port field in the health check. Supported by backend services for pass-through load balancers and backend services for proxy load balancers. Not supported by target pools. The health check supports all backends supported by the backend service provided the backend can be health checked. For example, GCE_VM_IP network endpoint groups, GCE_VM_IP_PORT network endpoint groups, and instance group backends. USE_NAMED_PORT: Not supported. USE_SERVING_PORT: Provides an indirect method of specifying the health check port by referring to the backend service. Only supported by backend services for proxy load balancers. Not supported by target pools. Not supported by backend services for pass-through load balancers. Supports all backends that can be health checked; for example, GCE_VM_IP_PORT network endpoint groups and instance group backends. For GCE_VM_IP_PORT network endpoint group backends, the health check uses the port number specified for each endpoint in the network endpoint group. For instance group backends, the health check uses the port number determined by looking up the backend service's named port in the instance group's list of named ports.",
          "enumDescriptions": [
            "The port number in the health check's port is used for health checking. Applies to network endpoint group and instance group backends.",
            "Not supported.",
            "For network endpoint group backends, the health check uses the port number specified on each endpoint in the network endpoint group. For instance group backends, the health check uses the port number specified for the backend service's named port defined in the instance group's named ports."
          ]
        },
        "response": {
          "type": "string",
          "description": "Creates a content-based TCP health check. In addition to establishing a TCP connection, you can configure the health check to pass only when the backend sends this exact response ASCII string, up to 1024 bytes in length. For details, see: https://cloud.google.com/load-balancing/docs/health-check-concepts#criteria-protocol-ssl-tcp"
        },
        "port": {
          "format": "int32",
          "type": "integer",
          "description": "The TCP port number to which the health check prober sends packets. The default value is 80. Valid values are 1 through 65535."
        },
        "portName": {
          "type": "string",
          "description": "Not supported."
        },
        "request": {
          "type": "string",
          "description": "Instructs the health check prober to send this exact ASCII string, up to 1024 bytes in length, after establishing the TCP connection."
        }
      }
    },
    "InstanceGroupManagersDeleteInstancesRequest": {
      "id": "InstanceGroupManagersDeleteInstancesRequest",
      "properties": {
        "instances": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The URLs of one or more instances to delete. This can be a full URL or a partial URL, such as zones/[ZONE]/instances/[INSTANCE_NAME]."
        },
        "skipInstancesOnValidationError": {
          "description": "Specifies whether the request should proceed despite the inclusion of instances that are not members of the group or that are already in the process of being deleted or abandoned. If this field is set to `false` and such an instance is specified in the request, the operation fails. The operation always fails if the request contains a malformed instance URL or a reference to an instance that exists in a zone or region other than the group's zone or region.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "PreconfiguredWafSet": {
      "properties": {
        "expressionSets": {
          "items": {
            "$ref": "WafExpressionSet"
          },
          "type": "array",
          "description": "List of entities that are currently supported for WAF rules."
        }
      },
      "type": "object",
      "id": "PreconfiguredWafSet"
    },
    "TargetPoolList": {
      "properties": {
        "warning": {
          "type": "object",
          "properties": {
            "message": {
              "type": "string",
              "description": "[Output Only] A human-readable description of the warning code."
            },
            "code": {
              "type": "string",
              "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
              "enum": [
                "CLEANUP_FAILED",
                "DEPRECATED_RESOURCE_USED",
                "DEPRECATED_TYPE_USED",
                "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
                "EXPERIMENTAL_TYPE_USED",
                "EXTERNAL_API_WARNING",
                "FIELD_VALUE_OVERRIDEN",
                "INJECTED_KERNELS_DEPRECATED",
                "INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB",
                "LARGE_DEPLOYMENT_WARNING",
                "MISSING_TYPE_DEPENDENCY",
                "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
                "NEXT_HOP_CANNOT_IP_FORWARD",
                "NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE",
                "NEXT_HOP_INSTANCE_NOT_FOUND",
                "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
                "NEXT_HOP_NOT_RUNNING",
                "NOT_CRITICAL_ERROR",
                "NO_RESULTS_ON_PAGE",
                "PARTIAL_SUCCESS",
                "REQUIRED_TOS_AGREEMENT",
                "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
                "RESOURCE_NOT_DELETED",
                "SCHEMA_VALIDATION_IGNORED",
                "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
                "UNDECLARED_PROPERTIES",
                "UNREACHABLE"
              ],
              "enumDescriptions": [
                "Warning about failed cleanup of transient changes made by a failed operation.",
                "A link to a deprecated resource was created.",
                "When deploying and at least one of the resources has a type marked as deprecated",
                "The user created a boot disk that is larger than image size.",
                "When deploying and at least one of the resources has a type marked as experimental",
                "Warning that is present in an external api call",
                "Warning that value of a field has been overridden. Deprecated unused field.",
                "The operation involved use of an injected kernel, which is deprecated.",
                "A WEIGHTED_MAGLEV backend service is associated with a health check that is not of type HTTP/HTTPS/HTTP2.",
                "When deploying a deployment with a exceedingly large number of resources",
                "A resource depends on a missing type",
                "The route's nextHopIp address is not assigned to an instance on the network.",
                "The route's next hop instance cannot ip forward.",
                "The route's nextHopInstance URL refers to an instance that does not have an ipv6 interface on the same network as the route.",
                "The route's nextHopInstance URL refers to an instance that does not exist.",
                "The route's nextHopInstance URL refers to an instance that is not on the same network as the route.",
                "The route's next hop instance does not have a status of RUNNING.",
                "Error which is not critical. We decided to continue the process despite the mentioned error.",
                "No results are present on a particular list page.",
                "Success is reported, but some results may be missing due to errors",
                "The user attempted to use a resource that requires a TOS they have not accepted.",
                "Warning that a resource is in use.",
                "One or more of the resources set to auto-delete could not be deleted because they were in use.",
                "When a resource schema validation is ignored.",
                "Instance template used in instance group manager is valid as such, but its application does not make a lot of sense, because it allows only single instance in instance group.",
                "When undeclared properties in the schema are present",
                "A given scope cannot be reached."
              ]
            },
            "data": {
              "items": {
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
                  },
                  "value": {
                    "type": "string",
                    "description": "[Output Only] A warning data value corresponding to the key."
                  }
                },
                "type": "object"
              },
              "type": "array",
              "description": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" } "
            }
          },
          "description": "[Output Only] Informational warning message."
        },
        "nextPageToken": {
          "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results.",
          "type": "string"
        },
        "selfLink": {
          "description": "[Output Only] Server-defined URL for this resource.",
          "type": "string"
        },
        "kind": {
          "default": "compute#targetPoolList",
          "type": "string",
          "description": "[Output Only] Type of resource. Always compute#targetPoolList for lists of target pools."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "TargetPool"
          },
          "description": "A list of TargetPool resources."
        },
        "id": {
          "type": "string",
          "description": "[Output Only] Unique identifier for the resource; defined by the server."
        }
      },
      "type": "object",
      "description": "Contains a list of TargetPool resources.",
      "id": "TargetPoolList"
    },
    "InstancesSetMinCpuPlatformRequest": {
      "id": "InstancesSetMinCpuPlatformRequest",
      "properties": {
        "minCpuPlatform": {
          "description": "Minimum cpu/platform this instance should be started at.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SnapshotList": {
      "type": "object",
      "id": "SnapshotList",
      "description": "Contains a list of Snapshot resources.",
      "properties": {
        "nextPageToken": {
          "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results.",
          "type": "string"
        },
        "warning": {
          "properties": {
            "message": {
              "description": "[Output Only] A human-readable description of the warning code.",
              "type": "string"
            },
            "data": {
              "items": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
                  },
                  "value": {
                    "description": "[Output Only] A warning data value corresponding to the key.",
                    "type": "string"
                  }
                }
              },
              "type": "array",
              "description": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" } "
            },
            "code": {
              "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
              "enum": [
                "CLEANUP_FAILED",
                "DEPRECATED_RESOURCE_USED",
                "DEPRECATED_TYPE_USED",
                "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
                "EXPERIMENTAL_TYPE_USED",
                "EXTERNAL_API_WARNING",
                "FIELD_VALUE_OVERRIDEN",
                "INJECTED_KERNELS_DEPRECATED",
                "INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB",
                "LARGE_DEPLOYMENT_WARNING",
                "MISSING_TYPE_DEPENDENCY",
                "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
                "NEXT_HOP_CANNOT_IP_FORWARD",
                "NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE",
                "NEXT_HOP_INSTANCE_NOT_FOUND",
                "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
                "NEXT_HOP_NOT_RUNNING",
                "NOT_CRITICAL_ERROR",
                "NO_RESULTS_ON_PAGE",
                "PARTIAL_SUCCESS",
                "REQUIRED_TOS_AGREEMENT",
                "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
                "RESOURCE_NOT_DELETED",
                "SCHEMA_VALIDATION_IGNORED",
                "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
                "UNDECLARED_PROPERTIES",
                "UNREACHABLE"
              ],
              "enumDescriptions": [
                "Warning about failed cleanup of transient changes made by a failed operation.",
                "A link to a deprecated resource was created.",
                "When deploying and at least one of the resources has a type marked as deprecated",
                "The user created a boot disk that is larger than image size.",
                "When deploying and at least one of the resources has a type marked as experimental",
                "Warning that is present in an external api call",
                "Warning that value of a field has been overridden. Deprecated unused field.",
                "The operation involved use of an injected kernel, which is deprecated.",
                "A WEIGHTED_MAGLEV backend service is associated with a health check that is not of type HTTP/HTTPS/HTTP2.",
                "When deploying a deployment with a exceedingly large number of resources",
                "A resource depends on a missing type",
                "The route's nextHopIp address is not assigned to an instance on the network.",
                "The route's next hop instance cannot ip forward.",
                "The route's nextHopInstance URL refers to an instance that does not have an ipv6 interface on the same network as the route.",
                "The route's nextHopInstance URL refers to an instance that does not exist.",
                "The route's nextHopInstance URL refers to an instance that is not on the same network as the route.",
                "The route's next hop instance does not have a status of RUNNING.",
                "Error which is not critical. We decided to continue the process despite the mentioned error.",
                "No results are present on a particular list page.",
                "Success is reported, but some results may be missing due to errors",
                "The user attempted to use a resource that requires a TOS they have not accepted.",
                "Warning that a resource is in use.",
                "One or more of the resources set to auto-delete could not be deleted because they were in use.",
                "When a resource schema validation is ignored.",
                "Instance template used in instance group manager is valid as such, but its application does not make a lot of sense, because it allows only single instance in instance group.",
                "When undeclared properties in the schema are present",
                "A given scope cannot be reached."
              ],
              "type": "string"
            }
          },
          "description": "[Output Only] Informational warning message.",
          "type": "object"
        },
        "kind": {
          "default": "compute#snapshotList",
          "description": "Type of resource.",
          "type": "string"
        },
        "selfLink": {
          "description": "[Output Only] Server-defined URL for this resource.",
          "type": "string"
        },
        "items": {
          "description": "A list of Snapshot resources.",
          "items": {
            "$ref": "Snapshot"
          },
          "type": "array"
        },
        "id": {
          "description": "[Output Only] Unique identifier for the resource; defined by the server.",
          "type": "string"
        }
      }
    },
    "DisksResizeRequest": {
      "properties": {
        "sizeGb": {
          "type": "string",
          "format": "int64",
          "description": "The new size of the persistent disk, which is specified in GB."
        }
      },
      "type": "object",
      "id": "DisksResizeRequest"
    },
    "TargetReference": {
      "properties": {
        "target": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "TargetReference"
    },
    "HealthChecksAggregatedList": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Type of resource.",
          "type": "string",
          "default": "compute#healthChecksAggregatedList"
        },
        "nextPageToken": {
          "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "[Output Only] Unique identifier for the resource; defined by the server."
        },
        "selfLink": {
          "description": "[Output Only] Server-defined URL for this resource.",
          "type": "string"
        },
        "items": {
          "type": "object",
          "additionalProperties": {
            "description": "Name of the scope containing this set of HealthChecks.",
            "$ref": "HealthChecksScopedList"
          },
          "description": "A list of HealthChecksScopedList resources."
        },
        "unreachables": {
          "type": "array",
          "description": "[Output Only] Unreachable resources.",
          "items": {
            "type": "string"
          }
        },
        "warning": {
          "description": "[Output Only] Informational warning message.",
          "properties": {
            "code": {
              "type": "string",
              "enum": [
                "CLEANUP_FAILED",
                "DEPRECATED_RESOURCE_USED",
                "DEPRECATED_TYPE_USED",
                "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
                "EXPERIMENTAL_TYPE_USED",
                "EXTERNAL_API_WARNING",
                "FIELD_VALUE_OVERRIDEN",
                "INJECTED_KERNELS_DEPRECATED",
                "INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB",
                "LARGE_DEPLOYMENT_WARNING",
                "MISSING_TYPE_DEPENDENCY",
                "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
                "NEXT_HOP_CANNOT_IP_FORWARD",
                "NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE",
                "NEXT_HOP_INSTANCE_NOT_FOUND",
                "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
                "NEXT_HOP_NOT_RUNNING",
                "NOT_CRITICAL_ERROR",
                "NO_RESULTS_ON_PAGE",
                "PARTIAL_SUCCESS",
                "REQUIRED_TOS_AGREEMENT",
                "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
                "RESOURCE_NOT_DELETED",
                "SCHEMA_VALIDATION_IGNORED",
                "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
                "UNDECLARED_PROPERTIES",
                "UNREACHABLE"
              ],
              "enumDescriptions": [
                "Warning about failed cleanup of transient changes made by a failed operation.",
                "A link to a deprecated resource was created.",
                "When deploying and at least one of the resources has a type marked as deprecated",
                "The user created a boot disk that is larger than image size.",
                "When deploying and at least one of the resources has a type marked as experimental",
                "Warning that is present in an external api call",
                "Warning that value of a field has been overridden. Deprecated unused field.",
                "The operation involved use of an injected kernel, which is deprecated.",
                "A WEIGHTED_MAGLEV backend service is associated with a health check that is not of type HTTP/HTTPS/HTTP2.",
                "When deploying a deployment with a exceedingly large number of resources",
                "A resource depends on a missing type",
                "The route's nextHopIp address is not assigned to an instance on the network.",
                "The route's next hop instance cannot ip forward.",
                "The route's nextHopInstance URL refers to an instance that does not have an ipv6 interface on the same network as the route.",
                "The route's nextHopInstance URL refers to an instance that does not exist.",
                "The route's nextHopInstance URL refers to an instance that is not on the same network as the route.",
                "The route's next hop instance does not have a status of RUNNING.",
                "Error which is not critical. We decided to continue the process despite the mentioned error.",
                "No results are present on a particular list page.",
                "Success is reported, but some results may be missing due to errors",
                "The user attempted to use a resource that requires a TOS they have not accepted.",
                "Warning that a resource is in use.",
                "One or more of the resources set to auto-delete could not be deleted because they were in use.",
                "When a resource schema validation is ignored.",
                "Instance template used in instance group manager is valid as such, but its application does not make a lot of sense, because it allows only single instance in instance group.",
                "When undeclared properties in the schema are present",
                "A given scope cannot be reached."
              ],
              "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response."
            },
            "message": {
              "type": "string",
              "description": "[Output Only] A human-readable description of the warning code."
            },
            "data": {
              "type": "array",
              "description": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" } ",
              "items": {
                "properties": {
                  "value": {
                    "type": "string",
                    "description": "[Output Only] A warning data value corresponding to the key."
                  },
                  "key": {
                    "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding).",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "type": "object"
        }
      },
      "id": "HealthChecksAggregatedList"
    },
    "OperationList": {
      "description": "Contains a list of Operation resources.",
      "id": "OperationList",
      "type": "object",
      "properties": {
        "warning": {
          "type": "object",
          "description": "[Output Only] Informational warning message.",
          "properties": {
            "code": {
              "enum": [
                "CLEANUP_FAILED",
                "DEPRECATED_RESOURCE_USED",
                "DEPRECATED_TYPE_USED",
                "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
                "EXPERIMENTAL_TYPE_USED",
                "EXTERNAL_API_WARNING",
                "FIELD_VALUE_OVERRIDEN",
                "INJECTED_KERNELS_DEPRECATED",
                "INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB",
                "LARGE_DEPLOYMENT_WARNING",
                "MISSING_TYPE_DEPENDENCY",
                "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
                "NEXT_HOP_CANNOT_IP_FORWARD",
                "NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE",
                "NEXT_HOP_INSTANCE_NOT_FOUND",
                "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
                "NEXT_HOP_NOT_RUNNING",
                "NOT_CRITICAL_ERROR",
                "NO_RESULTS_ON_PAGE",
                "PARTIAL_SUCCESS",
                "REQUIRED_TOS_AGREEMENT",
                "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
                "RESOURCE_NOT_DELETED",
                "SCHEMA_VALIDATION_IGNORED",
                "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
                "UNDECLARED_PROPERTIES",
                "UNREACHABLE"
              ],
              "type": "string",
              "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
              "enumDescriptions": [
                "Warning about failed cleanup of transient changes made by a failed operation.",
                "A link to a deprecated resource was created.",
                "When deploying and at least one of the resources has a type marked as deprecated",
                "The user created a boot disk that is larger than image size.",
                "When deploying and at least one of the resources has a type marked as experimental",
                "Warning that is present in an external api call",
                "Warning that value of a field has been overridden. Deprecated unused field.",
                "The operation involved use of an injected kernel, which is deprecated.",
                "A WEIGHTED_MAGLEV backend service is associated with a health check that is not of type HTTP/HTTPS/HTTP2.",
                "When deploying a deployment with a exceedingly large number of resources",
                "A resource depends on a missing type",
                "The route's nextHopIp address is not assigned to an instance on the network.",
                "The route's next hop instance cannot ip forward.",
                "The route's nextHopInstance URL refers to an instance that does not have an ipv6 interface on the same network as the route.",
                "The route's nextHopInstance URL refers to an instance that does not exist.",
                "The route's nextHopInstance URL refers to an instance that is not on the same network as the route.",
                "The route's next hop instance does not have a status of RUNNING.",
                "Error which is not critical. We decided to continue the process despite the mentioned error.",
                "No results are present on a particular list page.",
                "Success is reported, but some results may be missing due to errors",
                "The user attempted to use a resource that requires a TOS they have not accepted.",
                "Warning that a resource is in use.",
                "One or more of the resources set to auto-delete could not be deleted because they were in use.",
                "When a resource schema validation is ignored.",
                "Instance template used in instance group manager is valid as such, but its application does not make a lot of sense, because it allows only single instance in instance group.",
                "When undeclared properties in the schema are present",
                "A given scope cannot be reached."
              ]
            },
            "data": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
                  },
                  "value": {
                    "description": "[Output Only] A warning data value corresponding to the key.",
                    "type": "string"
                  }
                }
              },
              "description": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" } "
            },
            "message": {
              "description": "[Output Only] A human-readable description of the warning code.",
              "type": "string"
            }
          }
        },
        "kind": {
          "default": "compute#operationList",
          "description": "[Output Only] Type of resource. Always `compute#operations` for Operations resource.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "[Output Only] A list of Operation resources."
        },
        "selfLink": {
          "type": "string",
          "description": "[Output Only] Server-defined URL for this resource."
        },
        "nextPageToken": {
          "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than `maxResults`, use the `nextPageToken` as a value for the query parameter `pageToken` in the next list request. Subsequent list requests will have their own `nextPageToken` to continue paging through the results.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "[Output Only] The unique identifier for the resource. This identifier is defined by the server."
        }
      }
    },
    "NetworksGetEffectiveFirewallsResponseEffectiveFirewallPolicy": {
      "id": "NetworksGetEffectiveFirewallsResponseEffectiveFirewallPolicy",
      "type": "object",
      "properties": {
        "shortName": {
          "description": "[Output Only] The short name of the firewall policy.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "[Output Only] The name of the firewall policy."
        },
        "rules": {
          "items": {
            "$ref": "FirewallPolicyRule"
          },
          "description": "The rules that apply to the network.",
          "type": "array"
        },
        "type": {
          "enum": [
            "HIERARCHY",
            "NETWORK",
            "UNSPECIFIED"
          ],
          "description": "[Output Only] The type of the firewall policy.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "displayName": {
          "description": "[Output Only] Deprecated, please use short name instead. The display name of the firewall policy.",
          "type": "string"
        }
      }
    },
    "RouterList": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "Router"
          },
          "description": "A list of Router resources."
        },
        "nextPageToken": {
          "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results.",
          "type": "string"
        },
        "kind": {
          "default": "compute#routerList",
          "type": "string",
          "description": "[Output Only] Type of resource. Always compute#router for routers."
        },
        "selfLink": {
          "description": "[Output Only] Server-defined URL for this resource.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "[Output Only] Unique identifier for the resource; defined by the server."
        },
        "warning": {
          "type": "object",
          "properties": {
            "message": {
              "type": "string",
              "description": "[Output Only] A human-readable description of the warning code."
            },
            "data": {
              "description": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" } ",
              "items": {
                "type": "object",
                "properties": {
                  "value": {
                    "description": "[Output Only] A warning data value corresponding to the key.",
                    "type": "string"
                  },
                  "key": {
                    "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding).",
                    "type": "string"
                  }
                }
              },
              "type": "array"
            },
            "code": {
              "type": "string",
              "enum": [
                "CLEANUP_FAILED",
                "DEPRECATED_RESOURCE_USED",
                "DEPRECATED_TYPE_USED",
                "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
                "EXPERIMENTAL_TYPE_USED",
                "EXTERNAL_API_WARNING",
                "FIELD_VALUE_OVERRIDEN",
                "INJECTED_KERNELS_DEPRECATED",
                "INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB",
                "LARGE_DEPLOYMENT_WARNING",
                "MISSING_TYPE_DEPENDENCY",
                "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
                "NEXT_HOP_CANNOT_IP_FORWARD",
                "NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE",
                "NEXT_HOP_INSTANCE_NOT_FOUND",
                "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
                "NEXT_HOP_NOT_RUNNING",
                "NOT_CRITICAL_ERROR",
                "NO_RESULTS_ON_PAGE",
                "PARTIAL_SUCCESS",
                "REQUIRED_TOS_AGREEMENT",
                "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
                "RESOURCE_NOT_DELETED",
                "SCHEMA_VALIDATION_IGNORED",
                "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
                "UNDECLARED_PROPERTIES",
                "UNREACHABLE"
              ],
              "enumDescriptions": [
                "Warning about failed cleanup of transient changes made by a failed operation.",
                "A link to a deprecated resource was created.",
                "When deploying and at least one of the resources has a type marked as deprecated",
                "The user created a boot disk that is larger than image size.",
                "When deploying and at least one of the resources has a type marked as experimental",
                "Warning that is present in an external api call",
                "Warning that value of a field has been overridden. Deprecated unused field.",
                "The operation involved use of an injected kernel, which is deprecated.",
                "A WEIGHTED_MAGLEV backend service is associated with a health check that is not of type HTTP/HTTPS/HTTP2.",
                "When deploying a deployment with a exceedingly large number of resources",
                "A resource depends on a missing type",
                "The route's nextHopIp address is not assigned to an instance on the network.",
                "The route's next hop instance cannot ip forward.",
                "The route's nextHopInstance URL refers to an instance that does not have an ipv6 interface on the same network as the route.",
                "The route's nextHopInstance URL refers to an instance that does not exist.",
                "The route's nextHopInstance URL refers to an instance that is not on the same network as the route.",
                "The route's next hop instance does not have a status of RUNNING.",
                "Error which is not critical. We decided to continue the process despite the mentioned error.",
                "No results are present on a particular list page.",
                "Success is reported, but some results may be missing due to errors",
                "The user attempted to use a resource that requires a TOS they have not accepted.",
                "Warning that a resource is in use.",
                "One or more of the resources set to auto-delete could not be deleted because they were in use.",
                "When a resource schema validation is ignored.",
                "Instance template used in instance group manager is valid as such, but its application does not make a lot of sense, because it allows only single instance in instance group.",
                "When undeclared properties in the schema are present",
                "A given scope cannot be reached."
              ],
              "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response."
            }
          },
          "description": "[Output Only] Informational warning message."
        }
      },
      "description": "Contains a list of Router resources.",
      "id": "RouterList"
    },
    "Duration": {
      "id": "Duration",
      "properties": {
        "nanos": {
          "description": "Span of time that's a fraction of a second at nanosecond resolution. Durations less than one second are represented with a 0 `seconds` field and a positive `nanos` field. Must be from 0 to 999,999,999 inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "seconds": {
          "description": "Span of time at a resolution of a second. Must be from 0 to 315,576,000,000 inclusive. Note: these bounds are computed from: 60 sec/min * 60 min/hr * 24 hr/day * 365.25 days/year * 10000 years",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "A Duration represents a fixed-length span of time represented as a count of seconds and fractions of seconds at nanosecond resolution. It is independent of any calendar and concepts like \"day\" or \"month\". Range is approximately 10,000 years.",
      "type": "object"
    },
    "AcceleratorTypesScopedList": {
      "type": "object",
      "id": "AcceleratorTypesScopedList",
      "properties": {
        "acceleratorTypes": {
          "description": "[Output Only] A list of accelerator types contained in this scope.",
          "items": {
            "$ref": "AcceleratorType"
          },
          "type": "array"
        },
        "warning": {
          "type": "object",
          "properties": {
            "data": {
              "description": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" } ",
              "items": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "string",
                    "description": "[Output Only] A warning data value corresponding to the key."
                  },
                  "key": {
                    "type": "string",
                    "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
                  }
                }
              },
              "type": "array"
            },
            "code": {
              "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
              "type": "string",
              "enum": [
                "CLEANUP_FAILED",
                "DEPRECATED_RESOURCE_USED",
                "DEPRECATED_TYPE_USED",
                "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
                "EXPERIMENTAL_TYPE_USED",
                "EXTERNAL_API_WARNING",
                "FIELD_VALUE_OVERRIDEN",
                "INJECTED_KERNELS_DEPRECATED",
                "INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB",
                "LARGE_DEPLOYMENT_WARNING",
                "MISSING_TYPE_DEPENDENCY",
                "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
                "NEXT_HOP_CANNOT_IP_FORWARD",
                "NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE",
                "NEXT_HOP_INSTANCE_NOT_FOUND",
                "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
                "NEXT_HOP_NOT_RUNNING",
                "NOT_CRITICAL_ERROR",
                "NO_RESULTS_ON_PAGE",
                "PARTIAL_SUCCESS",
                "REQUIRED_TOS_AGREEMENT",
                "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
                "RESOURCE_NOT_DELETED",
                "SCHEMA_VALIDATION_IGNORED",
                "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
                "UNDECLARED_PROPERTIES",
                "UNREACHABLE"
              ],
              "enumDescriptions": [
                "Warning about failed cleanup of transient changes made by a failed operation.",
                "A link to a deprecated resource was created.",
                "When deploying and at least one of the resources has a type marked as deprecated",
                "The user created a boot disk that is larger than image size.",
                "When deploying and at least one of the resources has a type marked as experimental",
                "Warning that is present in an external api call",
                "Warning that value of a field has been overridden. Deprecated unused field.",
                "The operation involved use of an injected kernel, which is deprecated.",
                "A WEIGHTED_MAGLEV backend service is associated with a health check that is not of type HTTP/HTTPS/HTTP2.",
                "When deploying a deployment with a exceedingly large number of resources",
                "A resource depends on a missing type",
                "The route's nextHopIp address is not assigned to an instance on the network.",
                "The route's next hop instance cannot ip forward.",
                "The route's nextHopInstance URL refers to an instance that does not have an ipv6 interface on the same network as the route.",
                "The route's nextHopInstance URL refers to an instance that does not exist.",
                "The route's nextHopInstance URL refers to an instance that is not on the same network as the route.",
                "The route's next hop instance does not have a status of RUNNING.",
                "Error which is not critical. We decided to continue the process despite the mentioned error.",
                "No results are present on a particular list page.",
                "Success is reported, but some results may be missing due to errors",
                "The user attempted to use a resource that requires a TOS they have not accepted.",
                "Warning that a resource is in use.",
                "One or more of the resources set to auto-delete could not be deleted because they were in use.",
                "When a resource schema validation is ignored.",
                "Instance template used in instance group manager is valid as such, but its application does not make a lot of sense, because it allows only single instance in instance group.",
                "When undeclared properties in the schema are present",
                "A given scope cannot be reached."
              ]
            },
            "message": {
              "description": "[Output Only] A human-readable description of the warning code.",
              "type": "string"
            }
          },
          "description": "[Output Only] An informational warning that appears when the accelerator types list is empty."
        }
      }
    },
    "NetworkRoutingConfig": {
      "description": "A routing configuration attached to a network resource. The message includes the list of routers associated with the network, and a flag indicating the type of routing behavior to enforce network-wide.",
      "type": "object",
      "id": "NetworkRoutingConfig",
      "properties": {
        "routingMode": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "GLOBAL",
            "REGIONAL"
          ],
          "description": "The network-wide routing mode to use. If set to REGIONAL, this network's Cloud Routers will only advertise routes with subnets of this network in the same region as the router. If set to GLOBAL, this network's Cloud Routers will advertise routes with all subnets of this network, across regions."
        }
      }
    },
    "PacketMirroringMirroredResourceInfoInstanceInfo": {
      "properties": {
        "canonicalUrl": {
          "type": "string",
          "description": "[Output Only] Unique identifier for the instance; defined by the server."
        },
        "url": {
          "description": "Resource URL to the virtual machine instance which is being mirrored.",
          "type": "string"
        }
      },
      "id": "PacketMirroringMirroredResourceInfoInstanceInfo",
      "type": "object"
    },
    "HttpsHealthCheckList": {
      "type": "object",
      "id": "HttpsHealthCheckList",
      "description": "Contains a list of HttpsHealthCheck resources.",
      "properties": {
        "id": {
          "description": "[Output Only] Unique identifier for the resource; defined by the server.",
          "type": "string"
        },
        "selfLink": {
          "description": "[Output Only] Server-defined URL for this resource.",
          "type": "string"
        },
        "warning": {
          "properties": {
            "data": {
              "description": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" } ",
              "items": {
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
                  },
                  "value": {
                    "type": "string",
                    "description": "[Output Only] A warning data value corresponding to the key."
                  }
                },
                "type": "object"
              },
              "type": "array"
            },
            "code": {
              "enum": [
                "CLEANUP_FAILED",
                "DEPRECATED_RESOURCE_USED",
                "DEPRECATED_TYPE_USED",
                "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
                "EXPERIMENTAL_TYPE_USED",
                "EXTERNAL_API_WARNING",
                "FIELD_VALUE_OVERRIDEN",
                "INJECTED_KERNELS_DEPRECATED",
                "INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB",
                "LARGE_DEPLOYMENT_WARNING",
                "MISSING_TYPE_DEPENDENCY",
                "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
                "NEXT_HOP_CANNOT_IP_FORWARD",
                "NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE",
                "NEXT_HOP_INSTANCE_NOT_FOUND",
                "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
                "NEXT_HOP_NOT_RUNNING",
                "NOT_CRITICAL_ERROR",
                "NO_RESULTS_ON_PAGE",
                "PARTIAL_SUCCESS",
                "REQUIRED_TOS_AGREEMENT",
                "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
                "RESOURCE_NOT_DELETED",
                "SCHEMA_VALIDATION_IGNORED",
                "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
                "UNDECLARED_PROPERTIES",
                "UNREACHABLE"
              ],
              "enumDescriptions": [
                "Warning about failed cleanup of transient changes made by a failed operation.",
                "A link to a deprecated resource was created.",
                "When deploying and at least one of the resources has a type marked as deprecated",
                "The user created a boot disk that is larger than image size.",
                "When deploying and at least one of the resources has a type marked as experimental",
                "Warning that is present in an external api call",
                "Warning that value of a field has been overridden. Deprecated unused field.",
                "The operation involved use of an injected kernel, which is deprecated.",
                "A WEIGHTED_MAGLEV backend service is associated with a health check that is not of type HTTP/HTTPS/HTTP2.",
                "When deploying a deployment with a exceedingly large number of resources",
                "A resource depends on a missing type",
                "The route's nextHopIp address is not assigned to an instance on the network.",
                "The route's next hop instance cannot ip forward.",
                "The route's nextHopInstance URL refers to an instance that does not have an ipv6 interface on the same network as the route.",
                "The route's nextHopInstance URL refers to an instance that does not exist.",
                "The route's nextHopInstance URL refers to an instance that is not on the same network as the route.",
                "The route's next hop instance does not have a status of RUNNING.",
                "Error which is not critical. We decided to continue the process despite the mentioned error.",
                "No results are present on a particular list page.",
                "Success is reported, but some results may be missing due to errors",
                "The user attempted to use a resource that requires a TOS they have not accepted.",
                "Warning that a resource is in use.",
                "One or more of the resources set to auto-delete could not be deleted because they were in use.",
                "When a resource schema validation is ignored.",
                "Instance template used in instance group manager is valid as such, but its application does not make a lot of sense, because it allows only single instance in instance group.",
                "When undeclared properties in the schema are present",
                "A given scope cannot be reached."
              ],
              "type": "string",
              "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response."
            },
            "message": {
              "type": "string",
              "description": "[Output Only] A human-readable description of the warning code."
            }
          },
          "description": "[Output Only] Informational warning message.",
          "type": "object"
        },
        "kind": {
          "type": "string",
          "description": "Type of resource.",
          "default": "compute#httpsHealthCheckList"
        },
        "items": {
          "description": "A list of HttpsHealthCheck resources.",
          "items": {
            "$ref": "HttpsHealthCheck"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results."
        }
      }
    },
    "ConnectionDraining": {
      "description": "Message containing connection draining configuration.",
      "type": "object",
      "properties": {
        "drainingTimeoutSec": {
          "description": "Configures a duration timeout for existing requests on a removed backend instance. For supported load balancers and protocols, as described in Enabling connection draining.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "ConnectionDraining"
    },
    "InstanceGroupManagersUpdatePerInstanceConfigsReq": {
      "description": "InstanceGroupManagers.updatePerInstanceConfigs",
      "properties": {
        "perInstanceConfigs": {
          "type": "array",
          "items": {
            "$ref": "PerInstanceConfig"
          },
          "description": "The list of per-instance configurations to insert or patch on this managed instance group."
        }
      },
      "id": "InstanceGroupManagersUpdatePerInstanceConfigsReq",
      "type": "object"
    },
    "NetworkEndpointGroupsDetachEndpointsRequest": {
      "properties": {
        "networkEndpoints": {
          "type": "array",
          "description": "The list of network endpoints to be detached.",
          "items": {
            "$ref": "NetworkEndpoint"
          }
        }
      },
      "type": "object",
      "id": "NetworkEndpointGroupsDetachEndpointsRequest"
    },
    "AutoscalingPolicyLoadBalancingUtilization": {
      "type": "object",
      "description": "Configuration parameters of autoscaling based on load balancing.",
      "properties": {
        "utilizationTarget": {
          "format": "double",
          "type": "number",
          "description": "Fraction of backend capacity utilization (set in HTTP(S) load balancing configuration) that the autoscaler maintains. Must be a positive float value. If not defined, the default is 0.8."
        }
      },
      "id": "AutoscalingPolicyLoadBalancingUtilization"
    },
    "VpnTunnelsScopedList": {
      "type": "object",
      "id": "VpnTunnelsScopedList",
      "properties": {
        "warning": {
          "type": "object",
          "properties": {
            "code": {
              "enum": [
                "CLEANUP_FAILED",
                "DEPRECATED_RESOURCE_USED",
                "DEPRECATED_TYPE_USED",
                "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
                "EXPERIMENTAL_TYPE_USED",
                "EXTERNAL_API_WARNING",
                "FIELD_VALUE_OVERRIDEN",
                "INJECTED_KERNELS_DEPRECATED",
                "INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB",
                "LARGE_DEPLOYMENT_WARNING",
                "MISSING_TYPE_DEPENDENCY",
                "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
                "NEXT_HOP_CANNOT_IP_FORWARD",
                "NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE",
                "NEXT_HOP_INSTANCE_NOT_FOUND",
                "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
                "NEXT_HOP_NOT_RUNNING",
                "NOT_CRITICAL_ERROR",
                "NO_RESULTS_ON_PAGE",
                "PARTIAL_SUCCESS",
                "REQUIRED_TOS_AGREEMENT",
                "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
                "RESOURCE_NOT_DELETED",
                "SCHEMA_VALIDATION_IGNORED",
                "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
                "UNDECLARED_PROPERTIES",
                "UNREACHABLE"
              ],
              "enumDescriptions": [
                "Warning about failed cleanup of transient changes made by a failed operation.",
                "A link to a deprecated resource was created.",
                "When deploying and at least one of the resources has a type marked as deprecated",
                "The user created a boot disk that is larger than image size.",
                "When deploying and at least one of the resources has a type marked as experimental",
                "Warning that is present in an external api call",
                "Warning that value of a field has been overridden. Deprecated unused field.",
                "The operation involved use of an injected kernel, which is deprecated.",
                "A WEIGHTED_MAGLEV backend service is associated with a health check that is not of type HTTP/HTTPS/HTTP2.",
                "When deploying a deployment with a exceedingly large number of resources",
                "A resource depends on a missing type",
                "The route's nextHopIp address is not assigned to an instance on the network.",
                "The route's next hop instance cannot ip forward.",
                "The route's nextHopInstance URL refers to an instance that does not have an ipv6 interface on the same network as the route.",
                "The route's nextHopInstance URL refers to an instance that does not exist.",
                "The route's nextHopInstance URL refers to an instance that is not on the same network as the route.",
                "The route's next hop instance does not have a status of RUNNING.",
                "Error which is not critical. We decided to continue the process despite the mentioned error.",
                "No results are present on a particular list page.",
                "Success is reported, but some results may be missing due to errors",
                "The user attempted to use a resource that requires a TOS they have not accepted.",
                "Warning that a resource is in use.",
                "One or more of the resources set to auto-delete could not be deleted because they were in use.",
                "When a resource schema validation is ignored.",
                "Instance template used in instance group manager is valid as such, but its application does not make a lot of sense, because it allows only single instance in instance group.",
                "When undeclared properties in the schema are present",
                "A given scope cannot be reached."
              ],
              "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
              "type": "string"
            },
            "data": {
              "items": {
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
                  },
                  "value": {
                    "type": "string",
                    "description": "[Output Only] A warning data value corresponding to the key."
                  }
                },
                "type": "object"
              },
              "description": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" } ",
              "type": "array"
            },
            "message": {
              "type": "string",
              "description": "[Output Only] A human-readable description of the warning code."
            }
          },
          "description": "Informational warning which replaces the list of addresses when the list is empty."
        },
        "vpnTunnels": {
          "description": "A list of VPN tunnels contained in this scope.",
          "type": "array",
          "items": {
            "$ref": "VpnTunnel"
          }
        }
      }
    },
    "InstancesSetServiceAccountRequest": {
      "properties": {
        "email": {
          "description": "Email address of the service account.",
          "type": "string"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of scopes to be made available for this service account."
        }
      },
      "type": "object",
      "id": "InstancesSetServiceAccountRequest"
    },
    "GuestAttributesEntry": {
      "properties": {
        "key": {
          "description": "Key for the guest attribute entry.",
          "type": "string"
        },
        "namespace": {
          "type": "string",
          "description": "Namespace for the guest attribute entry."
        },
        "value": {
          "description": "Value for the guest attribute entry.",
          "type": "string"
        }
      },
      "id": "GuestAttributesEntry",
      "type": "object",
      "description": "A guest attributes namespace/key/value entry."
    },
    "ResourcePolicyInstanceSchedulePolicySchedule": {
      "description": "Schedule for an instance operation.",
      "type": "object",
      "id": "ResourcePolicyInstanceSchedulePolicySchedule",
      "properties": {
        "schedule": {
          "type": "string",
          "description": "Specifies the frequency for the operation, using the unix-cron format."
        }
      }
    },
    "TargetSslProxiesSetCertificateMapRequest": {
      "id": "TargetSslProxiesSetCertificateMapRequest",
      "properties": {
        "certificateMap": {
          "description": "URL of the Certificate Map to associate with this TargetSslProxy.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Quota": {
      "properties": {
        "limit": {
          "description": "[Output Only] Quota limit for this metric.",
          "type": "number",
          "format": "double"
        },
        "metric": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Guest CPUs",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "The total number of snapshots allowed for a single project.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "A2_CPUS",
            "AFFINITY_GROUPS",
            "AUTOSCALERS",
            "BACKEND_BUCKETS",
            "BACKEND_SERVICES",
            "C2D_CPUS",
            "C2_CPUS",
            "C3_CPUS",
            "COMMITMENTS",
            "COMMITTED_A2_CPUS",
            "COMMITTED_C2D_CPUS",
            "COMMITTED_C2_CPUS",
            "COMMITTED_C3_CPUS",
            "COMMITTED_CPUS",
            "COMMITTED_E2_CPUS",
            "COMMITTED_LICENSES",
            "COMMITTED_LOCAL_SSD_TOTAL_GB",
            "COMMITTED_M3_CPUS",
            "COMMITTED_MEMORY_OPTIMIZED_CPUS",
            "COMMITTED_N2A_CPUS",
            "COMMITTED_N2D_CPUS",
            "COMMITTED_N2_CPUS",
            "COMMITTED_NVIDIA_A100_80GB_GPUS",
            "COMMITTED_NVIDIA_A100_GPUS",
            "COMMITTED_NVIDIA_K80_GPUS",
            "COMMITTED_NVIDIA_P100_GPUS",
            "COMMITTED_NVIDIA_P4_GPUS",
            "COMMITTED_NVIDIA_T4_GPUS",
            "COMMITTED_NVIDIA_V100_GPUS",
            "COMMITTED_T2A_CPUS",
            "COMMITTED_T2D_CPUS",
            "CPUS",
            "CPUS_ALL_REGIONS",
            "DISKS_TOTAL_GB",
            "E2_CPUS",
            "EXTERNAL_MANAGED_FORWARDING_RULES",
            "EXTERNAL_NETWORK_LB_FORWARDING_RULES",
            "EXTERNAL_PROTOCOL_FORWARDING_RULES",
            "EXTERNAL_VPN_GATEWAYS",
            "FIREWALLS",
            "FORWARDING_RULES",
            "GLOBAL_EXTERNAL_MANAGED_BACKEND_SERVICES",
            "GLOBAL_EXTERNAL_MANAGED_FORWARDING_RULES",
            "GLOBAL_EXTERNAL_PROXY_LB_BACKEND_SERVICES",
            "GLOBAL_INTERNAL_ADDRESSES",
            "GLOBAL_INTERNAL_MANAGED_BACKEND_SERVICES",
            "GLOBAL_INTERNAL_TRAFFIC_DIRECTOR_BACKEND_SERVICES",
            "GPUS_ALL_REGIONS",
            "HEALTH_CHECKS",
            "IMAGES",
            "INSTANCES",
            "INSTANCE_GROUPS",
            "INSTANCE_GROUP_MANAGERS",
            "INSTANCE_TEMPLATES",
            "INTERCONNECTS",
            "INTERCONNECT_ATTACHMENTS_PER_REGION",
            "INTERCONNECT_ATTACHMENTS_TOTAL_MBPS",
            "INTERCONNECT_TOTAL_GBPS",
            "INTERNAL_ADDRESSES",
            "INTERNAL_TRAFFIC_DIRECTOR_FORWARDING_RULES",
            "IN_PLACE_SNAPSHOTS",
            "IN_USE_ADDRESSES",
            "IN_USE_BACKUP_SCHEDULES",
            "IN_USE_SNAPSHOT_SCHEDULES",
            "LOCAL_SSD_TOTAL_GB",
            "M1_CPUS",
            "M2_CPUS",
            "M3_CPUS",
            "MACHINE_IMAGES",
            "N2A_CPUS",
            "N2D_CPUS",
            "N2_CPUS",
            "NETWORKS",
            "NETWORK_ENDPOINT_GROUPS",
            "NETWORK_FIREWALL_POLICIES",
            "NODE_GROUPS",
            "NODE_TEMPLATES",
            "NVIDIA_A100_80GB_GPUS",
            "NVIDIA_A100_GPUS",
            "NVIDIA_K80_GPUS",
            "NVIDIA_P100_GPUS",
            "NVIDIA_P100_VWS_GPUS",
            "NVIDIA_P4_GPUS",
            "NVIDIA_P4_VWS_GPUS",
            "NVIDIA_T4_GPUS",
            "NVIDIA_T4_VWS_GPUS",
            "NVIDIA_V100_GPUS",
            "PACKET_MIRRORINGS",
            "PD_EXTREME_TOTAL_PROVISIONED_IOPS",
            "PREEMPTIBLE_CPUS",
            "PREEMPTIBLE_LOCAL_SSD_GB",
            "PREEMPTIBLE_NVIDIA_A100_80GB_GPUS",
            "PREEMPTIBLE_NVIDIA_A100_GPUS",
            "PREEMPTIBLE_NVIDIA_K80_GPUS",
            "PREEMPTIBLE_NVIDIA_P100_GPUS",
            "PREEMPTIBLE_NVIDIA_P100_VWS_GPUS",
            "PREEMPTIBLE_NVIDIA_P4_GPUS",
            "PREEMPTIBLE_NVIDIA_P4_VWS_GPUS",
            "PREEMPTIBLE_NVIDIA_T4_GPUS",
            "PREEMPTIBLE_NVIDIA_T4_VWS_GPUS",
            "PREEMPTIBLE_NVIDIA_V100_GPUS",
            "PSC_ILB_CONSUMER_FORWARDING_RULES_PER_PRODUCER_NETWORK",
            "PSC_INTERNAL_LB_FORWARDING_RULES",
            "PUBLIC_ADVERTISED_PREFIXES",
            "PUBLIC_DELEGATED_PREFIXES",
            "REGIONAL_AUTOSCALERS",
            "REGIONAL_EXTERNAL_MANAGED_BACKEND_SERVICES",
            "REGIONAL_EXTERNAL_NETWORK_LB_BACKEND_SERVICES",
            "REGIONAL_INSTANCE_GROUP_MANAGERS",
            "REGIONAL_INTERNAL_LB_BACKEND_SERVICES",
            "REGIONAL_INTERNAL_MANAGED_BACKEND_SERVICES",
            "RESERVATIONS",
            "RESOURCE_POLICIES",
            "ROUTERS",
            "ROUTES",
            "SECURITY_POLICIES",
            "SECURITY_POLICIES_PER_REGION",
            "SECURITY_POLICY_CEVAL_RULES",
            "SECURITY_POLICY_RULES",
            "SECURITY_POLICY_RULES_PER_REGION",
            "SERVICE_ATTACHMENTS",
            "SNAPSHOTS",
            "SSD_TOTAL_GB",
            "SSL_CERTIFICATES",
            "STATIC_ADDRESSES",
            "STATIC_BYOIP_ADDRESSES",
            "STATIC_EXTERNAL_IPV6_ADDRESS_RANGES",
            "SUBNETWORKS",
            "T2A_CPUS",
            "T2D_CPUS",
            "TARGET_HTTPS_PROXIES",
            "TARGET_HTTP_PROXIES",
            "TARGET_INSTANCES",
            "TARGET_POOLS",
            "TARGET_SSL_PROXIES",
            "TARGET_TCP_PROXIES",
            "TARGET_VPN_GATEWAYS",
            "URL_MAPS",
            "VPN_GATEWAYS",
            "VPN_TUNNELS",
            "XPN_SERVICE_PROJECTS"
          ],
          "description": "[Output Only] Name of the quota metric.",
          "type": "string"
        },
        "usage": {
          "description": "[Output Only] Current usage of this metric.",
          "format": "double",
          "type": "number"
        },
        "owner": {
          "description": "[Output Only] Owning resource. This is the resource on which this quota is applied.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Quota",
      "description": "A quotas entry."
    },
    "InterconnectLocation": {
      "description": "Represents an Interconnect Attachment (VLAN) Location resource. You can use this resource to find location details about an Interconnect attachment (VLAN). For more information about interconnect attachments, read Creating VLAN Attachments.",
      "id": "InterconnectLocation",
      "type": "object",
      "properties": {
        "status": {
          "enumDescriptions": [
            "The InterconnectLocation is available for provisioning new Interconnects.",
            "The InterconnectLocation is closed for provisioning new Interconnects."
          ],
          "description": "[Output Only] The status of this InterconnectLocation, which can take one of the following values: - CLOSED: The InterconnectLocation is closed and is unavailable for provisioning new Interconnects. - AVAILABLE: The InterconnectLocation is available for provisioning new Interconnects. ",
          "enum": [
            "AVAILABLE",
            "CLOSED"
          ],
          "type": "string"
        },
        "creationTimestamp": {
          "type": "string",
          "description": "[Output Only] Creation timestamp in RFC3339 text format."
        },
        "address": {
          "type": "string",
          "description": "[Output Only] The postal address of the Point of Presence, each line in the address is separated by a newline character."
        },
        "id": {
          "format": "uint64",
          "description": "[Output Only] The unique identifier for the resource. This identifier is defined by the server.",
          "type": "string"
        },
        "regionInfos": {
          "items": {
            "$ref": "InterconnectLocationRegionInfo"
          },
          "description": "[Output Only] A list of InterconnectLocation.RegionInfo objects, that describe parameters pertaining to the relation between this InterconnectLocation and various Google Cloud regions.",
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "[Output Only] An optional description of the resource."
        },
        "facilityProviderFacilityId": {
          "type": "string",
          "description": "[Output Only] A provider-assigned Identifier for this facility (e.g., Ashburn-DC1)."
        },
        "supportsPzs": {
          "type": "boolean",
          "description": "[Output Only] Set to true for locations that support physical zone separation. Defaults to false if the field is not present."
        },
        "selfLink": {
          "description": "[Output Only] Server-defined URL for the resource.",
          "type": "string"
        },
        "continent": {
          "enum": [
            "AFRICA",
            "ASIA_PAC",
            "C_AFRICA",
            "C_ASIA_PAC",
            "C_EUROPE",
            "C_NORTH_AMERICA",
            "C_SOUTH_AMERICA",
            "EUROPE",
            "NORTH_AMERICA",
            "SOUTH_AMERICA"
          ],
          "description": "[Output Only] Continent for this location, which can take one of the following values: - AFRICA - ASIA_PAC - EUROPE - NORTH_AMERICA - SOUTH_AMERICA ",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "kind": {
          "default": "compute#interconnectLocation",
          "description": "[Output Only] Type of the resource. Always compute#interconnectLocation for interconnect locations.",
          "type": "string"
        },
        "availabilityZone": {
          "description": "[Output Only] Availability zone for this InterconnectLocation. Within a metropolitan area (metro), maintenance will not be simultaneously scheduled in more than one availability zone. Example: \"zone1\" or \"zone2\".",
          "type": "string"
        },
        "peeringdbFacilityId": {
          "type": "string",
          "description": "[Output Only] The peeringdb identifier for this facility (corresponding with a netfac type in peeringdb)."
        },
        "facilityProvider": {
          "type": "string",
          "description": "[Output Only] The name of the provider for this facility (e.g., EQUINIX)."
        },
        "city": {
          "type": "string",
          "description": "[Output Only] Metropolitan area designator that indicates which city an interconnect is located. For example: \"Chicago, IL\", \"Amsterdam, Netherlands\"."
        },
        "name": {
          "type": "string",
          "description": "[Output Only] Name of the resource."
        }
      }
    },
    "RegionInstanceGroupManagerDeleteInstanceConfigReq": {
      "type": "object",
      "description": "RegionInstanceGroupManagers.deletePerInstanceConfigs",
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of instance names for which we want to delete per-instance configs on this managed instance group."
        }
      },
      "id": "RegionInstanceGroupManagerDeleteInstanceConfigReq"
    },
    "NetworkPeering": {
      "type": "object",
      "description": "A network peering attached to a network resource. The message includes the peering name, peer network, peering state, and a flag indicating whether Google Compute Engine should automatically create routes for the peering.",
      "properties": {
        "importSubnetRoutesWithPublicIp": {
          "type": "boolean",
          "description": "Whether subnet routes with public IP range are imported. The default value is false. IPv4 special-use ranges are always imported from peers and are not controlled by this field."
        },
        "exchangeSubnetRoutes": {
          "type": "boolean",
          "description": "Indicates whether full mesh connectivity is created and managed automatically between peered networks. Currently this field should always be true since Google Compute Engine will automatically create and manage subnetwork routes between two networks when peering state is ACTIVE."
        },
        "exportSubnetRoutesWithPublicIp": {
          "type": "boolean",
          "description": "Whether subnet routes with public IP range are exported. The default value is true, all subnet routes are exported. IPv4 special-use ranges are always exported to peers and are not controlled by this field."
        },
        "state": {
          "enumDescriptions": [
            "Matching configuration exists on the peer.",
            "There is no matching configuration on the peer, including the case when peer does not exist."
          ],
          "type": "string",
          "description": "[Output Only] State for the peering, either `ACTIVE` or `INACTIVE`. The peering is `ACTIVE` when there's a matching configuration in the peer network.",
          "enum": [
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "name": {
          "description": "Name of this peering. Provided by the client when the peering is created. The name must comply with RFC1035. Specifically, the name must be 1-63 characters long and match regular expression `[a-z]([-a-z0-9]*[a-z0-9])?`. The first character must be a lowercase letter, and all the following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.",
          "type": "string"
        },
        "importCustomRoutes": {
          "type": "boolean",
          "description": "Whether to import the custom routes from peer network. The default value is false."
        },
        "exportCustomRoutes": {
          "description": "Whether to export the custom routes to peer network. The default value is false.",
          "type": "boolean"
        },
        "autoCreateRoutes": {
          "type": "boolean",
          "description": "This field will be deprecated soon. Use the exchange_subnet_routes field instead. Indicates whether full mesh connectivity is created and managed automatically between peered networks. Currently this field should always be true since Google Compute Engine will automatically create and manage subnetwork routes between two networks when peering state is ACTIVE."
        },
        "stackType": {
          "type": "string",
          "description": "Which IP version(s) of traffic and routes are allowed to be imported or exported between peer networks. The default value is IPV4_ONLY.",
          "enumDescriptions": [
            "This Peering will allow IPv4 traffic and routes to be exchanged. Additionally if the matching peering is IPV4_IPV6, IPv6 traffic and routes will be exchanged as well.",
            "This Peering will only allow IPv4 traffic and routes to be exchanged, even if the matching peering is IPV4_IPV6."
          ],
          "enum": [
            "IPV4_IPV6",
            "IPV4_ONLY"
          ]
        },
        "stateDetails": {
          "description": "[Output Only] Details about the current state of the peering.",
          "type": "string"
        },
        "network": {
          "description": "The URL of the peer network. It can be either full URL or partial URL. The peer network may belong to a different project. If the partial URL does not contain project, it is assumed that the peer network is in the same project as the current network.",
          "type": "string"
        },
        "peerMtu": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum Transmission Unit in bytes."
        }
      },
      "id": "NetworkPeering"
    },
    "InstanceAggregatedList": {
      "properties": {
        "selfLink": {
          "description": "[Output Only] Server-defined URL for this resource.",
          "type": "string"
        },
        "kind": {
          "default": "compute#instanceAggregatedList",
          "type": "string",
          "description": "[Output Only] Type of resource. Always compute#instanceAggregatedList for aggregated lists of Instance resources."
        },
        "items": {
          "type": "object",
          "description": "An object that contains a list of instances scoped by zone.",
          "additionalProperties": {
            "$ref": "InstancesScopedList",
            "description": "[Output Only] Name of the scope containing this set of instances."
          }
        },
        "unreachables": {
          "type": "array",
          "description": "[Output Only] Unreachable resources.",
          "items": {
            "type": "string"
          }
        },
        "warning": {
          "properties": {
            "code": {
              "type": "string",
              "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
              "enumDescriptions": [
                "Warning about failed cleanup of transient changes made by a failed operation.",
                "A link to a deprecated resource was created.",
                "When deploying and at least one of the resources has a type marked as deprecated",
                "The user created a boot disk that is larger than image size.",
                "When deploying and at least one of the resources has a type marked as experimental",
                "Warning that is present in an external api call",
                "Warning that value of a field has been overridden. Deprecated unused field.",
                "The operation involved use of an injected kernel, which is deprecated.",
                "A WEIGHTED_MAGLEV backend service is associated with a health check that is not of type HTTP/HTTPS/HTTP2.",
                "When deploying a deployment with a exceedingly large number of resources",
                "A resource depends on a missing type",
                "The route's nextHopIp address is not assigned to an instance on the network.",
                "The route's next hop instance cannot ip forward.",
                "The route's nextHopInstance URL refers to an instance that does not have an ipv6 interface on the same network as the route.",
                "The route's nextHopInstance URL refers to an instance that does not exist.",
                "The route's nextHopInstance URL refers to an instance that is not on the same network as the route.",
                "The route's next hop instance does not have a status of RUNNING.",
                "Error which is not critical. We decided to continue the process despite the mentioned error.",
                "No results are present on a particular list page.",
                "Success is reported, but some results may be missing due to errors",
                "The user attempted to use a resource that requires a TOS they have not accepted.",
                "Warning that a resource is in use.",
                "One or more of the resources set to auto-delete could not be deleted because they were in use.",
                "When a resource schema validation is ignored.",
                "Instance template used in instance group manager is valid as such, but its application does not make a lot of sense, because it allows only single instance in instance group.",
                "When undeclared properties in the schema are present",
                "A given scope cannot be reached."
              ],
              "enum": [
                "CLEANUP_FAILED",
                "DEPRECATED_RESOURCE_USED",
                "DEPRECATED_TYPE_USED",
                "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
                "EXPERIMENTAL_TYPE_USED",
                "EXTERNAL_API_WARNING",
                "FIELD_VALUE_OVERRIDEN",
                "INJECTED_KERNELS_DEPRECATED",
                "INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB",
                "LARGE_DEPLOYMENT_WARNING",
                "MISSING_TYPE_DEPENDENCY",
                "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
                "NEXT_HOP_CANNOT_IP_FORWARD",
                "NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE",
                "NEXT_HOP_INSTANCE_NOT_FOUND",
                "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
                "NEXT_HOP_NOT_RUNNING",
                "NOT_CRITICAL_ERROR",
                "NO_RESULTS_ON_PAGE",
                "PARTIAL_SUCCESS",
                "REQUIRED_TOS_AGREEMENT",
                "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
                "RESOURCE_NOT_DELETED",
                "SCHEMA_VALIDATION_IGNORED",
                "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
                "UNDECLARED_PROPERTIES",
                "UNREACHABLE"
              ]
            },
            "message": {
              "description": "[Output Only] A human-readable description of the warning code.",
              "type": "string"
            },
            "data": {
              "items": {
                "type": "object",
                "properties": {
                  "value": {
                    "description": "[Output Only] A warning data value corresponding to the key.",
                    "type": "string"
                  },
                  "key": {
[...]
