{
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/compute/",
  "version": "v1",
  "rootUrl": "https://compute.googleapis.com/",
  "revision": "20221018",
  "batchPath": "batch/compute/v1",
  "resources": {
    "disks": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "zone"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "description": "Creates a persistent disk in the specified project using the data in the request. You can create a disk from a source (sourceImage, sourceSnapshot, or sourceDisk) or create an empty 500 GB data disk by omitting all properties. You can also create a disk that is larger than the default size by specifying the sizeGb property.",
          "path": "projects/{project}/zones/{zone}/disks",
          "parameters": {
            "sourceImage": {
              "type": "string",
              "location": "query",
              "description": "Source image to restore onto a disk. This field is optional."
            },
            "zone": {
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "type": "string",
              "description": "The name of the zone for this request.",
              "location": "path"
            },
            "requestId": {
              "type": "string",
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000).",
              "location": "query"
            },
            "project": {
              "description": "Project ID for this request.",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            }
          },
          "flatPath": "projects/{project}/zones/{zone}/disks",
          "request": {
            "$ref": "Disk"
          },
          "httpMethod": "POST",
          "id": "compute.disks.insert"
        },
        "setIamPolicy": {
          "parameters": {
            "project": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            },
            "zone": {
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "description": "The name of the zone for this request.",
              "location": "path",
              "required": true
            },
            "resource": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "type": "string",
              "description": "Name or id of the resource for this request.",
              "required": true,
              "location": "path"
            }
          },
          "id": "compute.disks.setIamPolicy",
          "path": "projects/{project}/zones/{zone}/disks/{resource}/setIamPolicy",
          "httpMethod": "POST",
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy.",
          "parameterOrder": [
            "project",
            "zone",
            "resource"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "response": {
            "$ref": "Policy"
          },
          "request": {
            "$ref": "ZoneSetPolicyRequest"
          },
          "flatPath": "projects/{project}/zones/{zone}/disks/{resource}/setIamPolicy"
        },
        "createSnapshot": {
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "zone",
            "disk"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "Project ID for this request."
            },
            "guestFlush": {
              "description": "[Input Only] Whether to attempt an application consistent snapshot by informing the OS to prepare for the snapshot process.",
              "location": "query",
              "type": "boolean"
            },
            "disk": {
              "required": true,
              "location": "path",
              "description": "Name of the persistent disk to snapshot.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "type": "string"
            },
            "zone": {
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "description": "The name of the zone for this request.",
              "location": "path",
              "required": true
            },
            "requestId": {
              "location": "query",
              "type": "string",
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000)."
            }
          },
          "path": "projects/{project}/zones/{zone}/disks/{disk}/createSnapshot",
          "flatPath": "projects/{project}/zones/{zone}/disks/{disk}/createSnapshot",
          "description": "Creates a snapshot of a specified persistent disk. For regular snapshot creation, consider using snapshots.insert instead, as that method supports more features, such as creating snapshots in a project different from the source disk project.",
          "request": {
            "$ref": "Snapshot"
          },
          "id": "compute.disks.createSnapshot",
          "httpMethod": "POST"
        },
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "zone"
          ],
          "flatPath": "projects/{project}/zones/{zone}/disks",
          "response": {
            "$ref": "DiskList"
          },
          "id": "compute.disks.list",
          "path": "projects/{project}/zones/{zone}/disks",
          "description": "Retrieves a list of persistent disks contained within the specified zone.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "parameters": {
            "maxResults": {
              "minimum": "0",
              "location": "query",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "format": "uint32",
              "default": "500",
              "type": "integer"
            },
            "pageToken": {
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "type": "string",
              "location": "query"
            },
            "orderBy": {
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "location": "query",
              "type": "string"
            },
            "filter": {
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `\u003e`, `\u003c`, `\u003c=`, `\u003e=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:` operator can be used with string fields to match substrings. For non-string fields it is equivalent to the `=` operator. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`.",
              "location": "query",
              "type": "string"
            },
            "zone": {
              "required": true,
              "location": "path",
              "description": "The name of the zone for this request.",
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
            },
            "returnPartialSuccess": {
              "type": "boolean",
              "description": "Opt-in for partial success behavior which provides partial results in case of failure. The default value is false.",
              "location": "query"
            },
            "project": {
              "type": "string",
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "Project ID for this request.",
              "required": true
            }
          }
        },
        "removeResourcePolicies": {
          "path": "projects/{project}/zones/{zone}/disks/{disk}/removeResourcePolicies",
          "id": "compute.disks.removeResourcePolicies",
          "request": {
            "$ref": "DisksRemoveResourcePoliciesRequest"
          },
          "parameterOrder": [
            "project",
            "zone",
            "disk"
          ],
          "parameters": {
            "disk": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "description": "The disk name for this request."
            },
            "requestId": {
              "location": "query",
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000).",
              "type": "string"
            },
            "zone": {
              "type": "string",
              "location": "path",
              "description": "The name of the zone for this request.",
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
            },
            "project": {
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "location": "path",
              "description": "Project ID for this request."
            }
          },
          "flatPath": "projects/{project}/zones/{zone}/disks/{disk}/removeResourcePolicies",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "httpMethod": "POST",
          "description": "Removes resource policies from a disk.",
          "response": {
            "$ref": "Operation"
          }
        },
        "setLabels": {
          "id": "compute.disks.setLabels",
          "request": {
            "$ref": "ZoneSetLabelsRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "zone",
            "resource"
          ],
          "path": "projects/{project}/zones/{zone}/disks/{resource}/setLabels",
          "description": "Sets the labels on a disk. To learn more about labels, read the Labeling Resources documentation.",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "projects/{project}/zones/{zone}/disks/{resource}/setLabels",
          "parameters": {
            "project": {
              "description": "Project ID for this request.",
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "location": "path"
            },
            "resource": {
              "location": "path",
              "description": "Name or id of the resource for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "type": "string",
              "required": true
            },
            "requestId": {
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000).",
              "location": "query",
              "type": "string"
            },
            "zone": {
              "description": "The name of the zone for this request.",
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ]
        },
        "delete": {
          "flatPath": "projects/{project}/zones/{zone}/disks/{disk}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "description": "Deletes the specified persistent disk. Deleting a disk removes its data permanently and is irreversible. However, deleting a disk does not delete any snapshots previously made from the disk. You must separately delete snapshots.",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "zone",
            "disk"
          ],
          "path": "projects/{project}/zones/{zone}/disks/{disk}",
          "parameters": {
            "disk": {
              "description": "Name of the persistent disk to delete.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "requestId": {
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000).",
              "type": "string",
              "location": "query"
            },
            "zone": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "location": "path",
              "description": "The name of the zone for this request.",
              "type": "string",
              "required": true
            },
            "project": {
              "location": "path",
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "Project ID for this request.",
              "type": "string"
            }
          },
          "httpMethod": "DELETE",
          "id": "compute.disks.delete"
        },
        "getIamPolicy": {
          "id": "compute.disks.getIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "parameters": {
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path",
              "description": "Project ID for this request.",
              "required": true,
              "type": "string"
            },
            "zone": {
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true,
              "type": "string",
              "description": "The name of the zone for this request."
            },
            "resource": {
              "description": "Name or id of the resource for this request.",
              "type": "string",
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "required": true
            },
            "optionsRequestedPolicyVersion": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Requested IAM Policy version."
            }
          },
          "path": "projects/{project}/zones/{zone}/disks/{resource}/getIamPolicy",
          "parameterOrder": [
            "project",
            "zone",
            "resource"
          ],
          "flatPath": "projects/{project}/zones/{zone}/disks/{resource}/getIamPolicy",
          "description": "Gets the access control policy for a resource. May be empty if no such policy or resource exists.",
          "response": {
            "$ref": "Policy"
          },
          "httpMethod": "GET"
        },
        "testIamPermissions": {
          "flatPath": "projects/{project}/zones/{zone}/disks/{resource}/testIamPermissions",
          "parameterOrder": [
            "project",
            "zone",
            "resource"
          ],
          "request": {
            "$ref": "TestPermissionsRequest"
          },
          "path": "projects/{project}/zones/{zone}/disks/{resource}/testIamPermissions",
          "httpMethod": "POST",
          "description": "Returns permissions that a caller has on the specified resource.",
          "id": "compute.disks.testIamPermissions",
          "response": {
            "$ref": "TestPermissionsResponse"
          },
          "parameters": {
            "zone": {
              "required": true,
              "description": "The name of the zone for this request.",
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "type": "string"
            },
            "resource": {
              "description": "Name or id of the resource for this request.",
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "required": true,
              "location": "path"
            },
            "project": {
              "location": "path",
              "description": "Project ID for this request.",
              "required": true,
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ]
        },
        "resize": {
          "request": {
            "$ref": "DisksResizeRequest"
          },
          "parameters": {
            "project": {
              "type": "string",
              "required": true,
              "description": "Project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path"
            },
            "requestId": {
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000).",
              "type": "string",
              "location": "query"
            },
            "zone": {
              "description": "The name of the zone for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "type": "string",
              "location": "path",
              "required": true
            },
            "disk": {
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "location": "path",
              "description": "The name of the persistent disk.",
              "type": "string"
            }
          },
          "description": "Resizes the specified persistent disk. You can only increase the size of the disk.",
          "parameterOrder": [
            "project",
            "zone",
            "disk"
          ],
          "httpMethod": "POST",
          "flatPath": "projects/{project}/zones/{zone}/disks/{disk}/resize",
          "path": "projects/{project}/zones/{zone}/disks/{disk}/resize",
          "response": {
            "$ref": "Operation"
          },
          "id": "compute.disks.resize",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ]
        },
        "get": {
          "path": "projects/{project}/zones/{zone}/disks/{disk}",
          "flatPath": "projects/{project}/zones/{zone}/disks/{disk}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Disk"
          },
          "parameterOrder": [
            "project",
            "zone",
            "disk"
          ],
          "parameters": {
            "project": {
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "Project ID for this request."
            },
            "disk": {
              "description": "Name of the persistent disk to return.",
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "location": "path",
              "required": true
            },
            "zone": {
              "description": "The name of the zone for this request.",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
            }
          },
          "description": "Returns a specified persistent disk. Gets a list of available persistent disks by making a list() request.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "id": "compute.disks.get"
        },
        "aggregatedList": {
          "path": "projects/{project}/aggregated/disks",
          "response": {
            "$ref": "DiskAggregatedList"
          },
          "flatPath": "projects/{project}/aggregated/disks",
          "description": "Retrieves an aggregated list of persistent disks.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "parameterOrder": [
            "project"
          ],
          "parameters": {
            "orderBy": {
              "location": "query",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "type": "string"
            },
            "includeAllScopes": {
              "location": "query",
              "description": "Indicates whether every visible scope for each scope type (zone, region, global) should be included in the response. For new resource types added after this field, the flag has no effect as new resource types will always include every visible scope for each scope type in response. For resource types which predate this field, if this flag is omitted or false, only scopes of the scope types where the resource type is expected to be found will be included.",
              "type": "boolean"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results."
            },
            "project": {
              "description": "Project ID for this request.",
              "type": "string",
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true
            },
            "returnPartialSuccess": {
              "location": "query",
              "type": "boolean",
              "description": "Opt-in for partial success behavior which provides partial results in case of failure. The default value is false."
            },
            "filter": {
              "type": "string",
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `\u003e`, `\u003c`, `\u003c=`, `\u003e=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:` operator can be used with string fields to match substrings. For non-string fields it is equivalent to the `=` operator. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "minimum": "0",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "format": "uint32",
              "default": "500"
            }
          },
          "id": "compute.disks.aggregatedList",
          "httpMethod": "GET"
        },
        "addResourcePolicies": {
          "description": "Adds existing resource policies to a disk. You can only add one policy which will be applied to this disk for scheduling snapshot creation.",
          "flatPath": "projects/{project}/zones/{zone}/disks/{disk}/addResourcePolicies",
          "request": {
            "$ref": "DisksAddResourcePoliciesRequest"
          },
          "id": "compute.disks.addResourcePolicies",
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "zone",
            "disk"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "requestId": {
              "location": "query",
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000).",
              "type": "string"
            },
            "zone": {
              "description": "The name of the zone for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "disk": {
              "required": true,
              "description": "The disk name for this request.",
              "type": "string",
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}"
            },
            "project": {
              "type": "string",
              "description": "Project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "path": "projects/{project}/zones/{zone}/disks/{disk}/addResourcePolicies"
        }
      }
    },
    "vpnGateways": {
      "methods": {
        "aggregatedList": {
          "httpMethod": "GET",
          "parameters": {
            "returnPartialSuccess": {
              "type": "boolean",
              "location": "query",
              "description": "Opt-in for partial success behavior which provides partial results in case of failure. The default value is false."
            },
            "filter": {
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `\u003e`, `\u003c`, `\u003c=`, `\u003e=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:` operator can be used with string fields to match substrings. For non-string fields it is equivalent to the `=` operator. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "minimum": "0",
              "location": "query",
              "format": "uint32",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "type": "integer",
              "default": "500"
            },
            "project": {
              "location": "path",
              "description": "Project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "required": true
            },
            "orderBy": {
              "location": "query",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "type": "string"
            },
            "pageToken": {
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "location": "query",
              "type": "string"
            },
            "includeAllScopes": {
              "location": "query",
              "description": "Indicates whether every visible scope for each scope type (zone, region, global) should be included in the response. For new resource types added after this field, the flag has no effect as new resource types will always include every visible scope for each scope type in response. For resource types which predate this field, if this flag is omitted or false, only scopes of the scope types where the resource type is expected to be found will be included.",
              "type": "boolean"
            }
          },
          "id": "compute.vpnGateways.aggregatedList",
          "path": "projects/{project}/aggregated/vpnGateways",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "response": {
            "$ref": "VpnGatewayAggregatedList"
          },
          "parameterOrder": [
            "project"
          ],
          "flatPath": "projects/{project}/aggregated/vpnGateways",
          "description": "Retrieves an aggregated list of VPN gateways."
        },
        "delete": {
          "id": "compute.vpnGateways.delete",
          "parameterOrder": [
            "project",
            "region",
            "vpnGateway"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "parameters": {
            "requestId": {
              "type": "string",
              "location": "query",
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000)."
            },
            "region": {
              "description": "Name of the region for this request.",
              "location": "path",
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true
            },
            "vpnGateway": {
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "description": "Name of the VPN gateway to delete.",
              "location": "path",
              "required": true
            },
            "project": {
              "type": "string",
              "description": "Project ID for this request.",
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true
            }
          },
          "path": "projects/{project}/regions/{region}/vpnGateways/{vpnGateway}",
          "description": "Deletes the specified VPN gateway.",
          "httpMethod": "DELETE",
          "flatPath": "projects/{project}/regions/{region}/vpnGateways/{vpnGateway}",
          "response": {
            "$ref": "Operation"
          }
        },
        "setLabels": {
          "description": "Sets the labels on a VpnGateway. To learn more about labels, read the Labeling Resources documentation.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "path": "projects/{project}/regions/{region}/vpnGateways/{resource}/setLabels",
          "httpMethod": "POST",
          "flatPath": "projects/{project}/regions/{region}/vpnGateways/{resource}/setLabels",
          "request": {
            "$ref": "RegionSetLabelsRequest"
          },
          "id": "compute.vpnGateways.setLabels",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "region",
            "resource"
          ],
          "parameters": {
            "resource": {
              "required": true,
              "type": "string",
              "description": "Name or id of the resource for this request.",
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}"
            },
            "requestId": {
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000).",
              "location": "query",
              "type": "string"
            },
            "project": {
              "type": "string",
              "location": "path",
              "description": "Project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true
            },
            "region": {
              "location": "path",
              "description": "The region for this request.",
              "required": true,
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
            }
          }
        },
        "list": {
          "parameters": {
            "returnPartialSuccess": {
              "type": "boolean",
              "location": "query",
              "description": "Opt-in for partial success behavior which provides partial results in case of failure. The default value is false."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results."
            },
            "maxResults": {
              "default": "500",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "format": "uint32",
              "minimum": "0",
              "location": "query",
              "type": "integer"
            },
            "orderBy": {
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "type": "string",
              "location": "query"
            },
            "region": {
              "description": "Name of the region for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `\u003e`, `\u003c`, `\u003c=`, `\u003e=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:` operator can be used with string fields to match substrings. For non-string fields it is equivalent to the `=` operator. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`."
            },
            "project": {
              "type": "string",
              "description": "Project ID for this request.",
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true
            }
          },
          "id": "compute.vpnGateways.list",
          "path": "projects/{project}/regions/{region}/vpnGateways",
          "response": {
            "$ref": "VpnGatewayList"
          },
          "parameterOrder": [
            "project",
            "region"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "flatPath": "projects/{project}/regions/{region}/vpnGateways",
          "description": "Retrieves a list of VPN gateways available to the specified project and region."
        },
        "insert": {
          "id": "compute.vpnGateways.insert",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "path": "projects/{project}/regions/{region}/vpnGateways",
          "httpMethod": "POST",
          "parameters": {
            "region": {
              "required": true,
              "description": "Name of the region for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "type": "string",
              "location": "path"
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID for this request."
            },
            "requestId": {
              "type": "string",
              "location": "query",
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000)."
            }
          },
          "description": "Creates a VPN gateway in the specified project and region using the data included in the request.",
          "parameterOrder": [
            "project",
            "region"
          ],
          "request": {
            "$ref": "VpnGateway"
          },
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "projects/{project}/regions/{region}/vpnGateways"
        },
        "testIamPermissions": {
          "path": "projects/{project}/regions/{region}/vpnGateways/{resource}/testIamPermissions",
          "request": {
            "$ref": "TestPermissionsRequest"
          },
          "parameters": {
            "region": {
              "description": "The name of the region for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "resource": {
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "description": "Name or id of the resource for this request.",
              "location": "path",
              "type": "string"
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID for this request."
            }
          },
          "response": {
            "$ref": "TestPermissionsResponse"
          },
          "id": "compute.vpnGateways.testIamPermissions",
          "description": "Returns permissions that a caller has on the specified resource.",
          "flatPath": "projects/{project}/regions/{region}/vpnGateways/{resource}/testIamPermissions",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "parameterOrder": [
            "project",
            "region",
            "resource"
          ]
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "description": "Returns the specified VPN gateway. Gets a list of available VPN gateways by making a list() request.",
          "parameters": {
            "region": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "location": "path",
              "type": "string",
              "description": "Name of the region for this request.",
              "required": true
            },
            "project": {
              "type": "string",
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "description": "Project ID for this request."
            },
            "vpnGateway": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "type": "string",
              "description": "Name of the VPN gateway to return.",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "VpnGateway"
          },
          "flatPath": "projects/{project}/regions/{region}/vpnGateways/{vpnGateway}",
          "id": "compute.vpnGateways.get",
          "parameterOrder": [
            "project",
            "region",
            "vpnGateway"
          ],
          "path": "projects/{project}/regions/{region}/vpnGateways/{vpnGateway}",
          "httpMethod": "GET"
        },
        "getStatus": {
          "flatPath": "projects/{project}/regions/{region}/vpnGateways/{vpnGateway}/getStatus",
          "id": "compute.vpnGateways.getStatus",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "httpMethod": "GET",
          "description": "Returns the status for the specified VPN gateway.",
          "path": "projects/{project}/regions/{region}/vpnGateways/{vpnGateway}/getStatus",
          "parameters": {
            "project": {
              "description": "Project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "vpnGateway": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "location": "path",
              "type": "string",
              "description": "Name of the VPN gateway to return.",
              "required": true
            },
            "region": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "location": "path",
              "type": "string",
              "description": "Name of the region for this request.",
              "required": true
            }
          },
          "response": {
            "$ref": "VpnGatewaysGetStatusResponse"
          },
          "parameterOrder": [
            "project",
            "region",
            "vpnGateway"
          ]
        }
      }
    },
    "backendBuckets": {
      "methods": {
        "delete": {
          "httpMethod": "DELETE",
          "description": "Deletes the specified BackendBucket resource.",
          "parameters": {
            "backendBucket": {
              "description": "Name of the BackendBucket resource to delete.",
              "type": "string",
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "location": "path"
            },
            "requestId": {
              "location": "query",
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000).",
              "type": "string"
            },
            "project": {
              "type": "string",
              "location": "path",
              "description": "Project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true
            }
          },
          "parameterOrder": [
            "project",
            "backendBucket"
          ],
          "path": "projects/{project}/global/backendBuckets/{backendBucket}",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "flatPath": "projects/{project}/global/backendBuckets/{backendBucket}",
          "id": "compute.backendBuckets.delete"
        },
        "deleteSignedUrlKey": {
          "flatPath": "projects/{project}/global/backendBuckets/{backendBucket}/deleteSignedUrlKey",
          "id": "compute.backendBuckets.deleteSignedUrlKey",
          "parameters": {
            "requestId": {
              "location": "query",
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000).",
              "type": "string"
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Project ID for this request."
            },
            "keyName": {
              "description": "The name of the Signed URL Key to delete.",
              "required": true,
              "location": "query",
              "type": "string"
            },
            "backendBucket": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Name of the BackendBucket resource to which the Signed URL Key should be added. The name should conform to RFC1035."
            }
          },
          "path": "projects/{project}/global/backendBuckets/{backendBucket}/deleteSignedUrlKey",
          "httpMethod": "POST",
          "description": "Deletes a key for validating requests with signed URLs for this backend bucket.",
          "parameterOrder": [
            "project",
            "backendBucket",
            "keyName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "response": {
            "$ref": "Operation"
          }
        },
        "setEdgeSecurityPolicy": {
          "parameterOrder": [
            "project",
            "backendBucket"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "SecurityPolicyReference"
          },
          "path": "projects/{project}/global/backendBuckets/{backendBucket}/setEdgeSecurityPolicy",
          "id": "compute.backendBuckets.setEdgeSecurityPolicy",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "projects/{project}/global/backendBuckets/{backendBucket}/setEdgeSecurityPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "parameters": {
            "requestId": {
              "location": "query",
              "type": "string",
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000)."
            },
            "project": {
              "location": "path",
              "description": "Project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "type": "string"
            },
            "backendBucket": {
              "location": "path",
              "required": true,
              "description": "Name of the BackendService resource to which the security policy should be set. The name should conform to RFC1035.",
              "type": "string"
            }
          },
          "description": "Sets the edge security policy for the specified backend bucket."
        },
        "list": {
          "flatPath": "projects/{project}/global/backendBuckets",
          "parameters": {
            "returnPartialSuccess": {
              "description": "Opt-in for partial success behavior which provides partial results in case of failure. The default value is false.",
              "location": "query",
              "type": "boolean"
            },
            "project": {
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "location": "path",
              "description": "Project ID for this request."
            },
            "filter": {
              "type": "string",
              "location": "query",
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `\u003e`, `\u003c`, `\u003c=`, `\u003e=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:` operator can be used with string fields to match substrings. For non-string fields it is equivalent to the `=` operator. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`."
            },
            "orderBy": {
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "minimum": "0",
              "default": "500",
              "type": "integer",
              "format": "uint32",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "location": "query"
            },
            "pageToken": {
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "compute.backendBuckets.list",
          "path": "projects/{project}/global/backendBuckets",
          "response": {
            "$ref": "BackendBucketList"
          },
          "parameterOrder": [
            "project"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "description": "Retrieves the list of BackendBucket resources available to the specified project."
        },
        "patch": {
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "BackendBucket"
          },
          "description": "Updates the specified BackendBucket resource with the data included in the request. This method supports PATCH semantics and uses the JSON merge patch format and processing rules.",
          "flatPath": "projects/{project}/global/backendBuckets/{backendBucket}",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "id": "compute.backendBuckets.patch",
          "parameters": {
            "requestId": {
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000).",
              "location": "query",
              "type": "string"
            },
            "backendBucket": {
              "description": "Name of the BackendBucket resource to patch.",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}"
            },
            "project": {
              "required": true,
              "description": "Project ID for this request.",
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path"
            }
          },
          "parameterOrder": [
            "project",
            "backendBucket"
          ],
          "path": "projects/{project}/global/backendBuckets/{backendBucket}"
        },
        "addSignedUrlKey": {
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "Project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path"
            },
            "requestId": {
              "location": "query",
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000).",
              "type": "string"
            },
            "backendBucket": {
              "description": "Name of the BackendBucket resource to which the Signed URL Key should be added. The name should conform to RFC1035.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "description": "Adds a key for validating requests with signed URLs for this backend bucket.",
          "path": "projects/{project}/global/backendBuckets/{backendBucket}/addSignedUrlKey",
          "request": {
            "$ref": "SignedUrlKey"
          },
          "flatPath": "projects/{project}/global/backendBuckets/{backendBucket}/addSignedUrlKey",
          "id": "compute.backendBuckets.addSignedUrlKey",
          "parameterOrder": [
            "project",
            "backendBucket"
          ]
        },
        "update": {
          "id": "compute.backendBuckets.update",
          "flatPath": "projects/{project}/global/backendBuckets/{backendBucket}",
          "description": "Updates the specified BackendBucket resource with the data included in the request.",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "requestId": {
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000).",
              "type": "string",
              "location": "query"
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path",
              "description": "Project ID for this request.",
              "type": "string",
              "required": true
            },
            "backendBucket": {
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "description": "Name of the BackendBucket resource to update.",
              "required": true,
              "location": "path"
            }
          },
          "path": "projects/{project}/global/backendBuckets/{backendBucket}",
          "httpMethod": "PUT",
          "parameterOrder": [
            "project",
            "backendBucket"
          ],
          "request": {
            "$ref": "BackendBucket"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ]
        },
        "get": {
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "Project ID for this request."
            },
            "backendBucket": {
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "required": true,
              "type": "string",
              "description": "Name of the BackendBucket resource to return."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "id": "compute.backendBuckets.get",
          "flatPath": "projects/{project}/global/backendBuckets/{backendBucket}",
          "description": "Returns the specified BackendBucket resource. Gets a list of available backend buckets by making a list() request.",
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "backendBucket"
          ],
          "path": "projects/{project}/global/backendBuckets/{backendBucket}",
          "response": {
            "$ref": "BackendBucket"
          }
        },
        "insert": {
          "parameters": {
            "requestId": {
              "type": "string",
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000).",
              "location": "query"
            },
            "project": {
              "type": "string",
              "required": true,
              "description": "Project ID for this request.",
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            }
          },
          "flatPath": "projects/{project}/global/backendBuckets",
          "httpMethod": "POST",
          "path": "projects/{project}/global/backendBuckets",
          "response": {
            "$ref": "Operation"
          },
          "id": "compute.backendBuckets.insert",
          "request": {
            "$ref": "BackendBucket"
          },
          "parameterOrder": [
            "project"
          ],
          "description": "Creates a BackendBucket resource in the specified project using the data included in the request.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ]
        }
      }
    },
    "regionTargetHttpsProxies": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "request": {
            "$ref": "TargetHttpsProxy"
          },
          "parameters": {
            "region": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true,
              "type": "string",
              "description": "Name of the region scoping this request.",
              "location": "path"
            },
            "requestId": {
              "type": "string",
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000).",
              "location": "query"
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "location": "path",
              "description": "Project ID for this request.",
              "required": true
            }
          },
          "id": "compute.regionTargetHttpsProxies.insert",
          "description": "Creates a TargetHttpsProxy resource in the specified project and region using the data included in the request.",
          "response": {
            "$ref": "Operation"
          },
          "path": "projects/{project}/regions/{region}/targetHttpsProxies",
          "flatPath": "projects/{project}/regions/{region}/targetHttpsProxies",
          "parameterOrder": [
            "project",
            "region"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ]
        },
        "patch": {
          "httpMethod": "PATCH",
          "path": "projects/{project}/regions/{region}/targetHttpsProxies/{targetHttpsProxy}",
          "description": "Patches the specified regional TargetHttpsProxy resource with the data included in the request. This method supports PATCH semantics and uses JSON merge patch format and processing rules.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "response": {
            "$ref": "Operation"
          },
          "id": "compute.regionTargetHttpsProxies.patch",
          "request": {
            "$ref": "TargetHttpsProxy"
          },
          "parameters": {
            "targetHttpsProxy": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Name of the TargetHttpsProxy resource to patch."
            },
            "project": {
              "location": "path",
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "description": "Project ID for this request."
            },
            "region": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true,
              "description": "Name of the region for this request.",
              "location": "path",
              "type": "string"
            },
            "requestId": {
              "location": "query",
              "type": "string",
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000)."
            }
          },
          "flatPath": "projects/{project}/regions/{region}/targetHttpsProxies/{targetHttpsProxy}",
          "parameterOrder": [
            "project",
            "region",
            "targetHttpsProxy"
          ]
        },
        "setUrlMap": {
          "parameterOrder": [
            "project",
            "region",
            "targetHttpsProxy"
          ],
          "path": "projects/{project}/regions/{region}/targetHttpsProxies/{targetHttpsProxy}/setUrlMap",
          "httpMethod": "POST",
          "request": {
            "$ref": "UrlMapReference"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "response": {
            "$ref": "Operation"
          },
          "description": "Changes the URL map for TargetHttpsProxy.",
          "flatPath": "projects/{project}/regions/{region}/targetHttpsProxies/{targetHttpsProxy}/setUrlMap",
          "parameters": {
            "targetHttpsProxy": {
              "description": "Name of the TargetHttpsProxy to set a URL map for.",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}"
            },
            "project": {
              "type": "string",
              "location": "path",
              "description": "Project ID for this request.",
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            },
            "region": {
              "description": "Name of the region scoping this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "requestId": {
              "type": "string",
              "location": "query",
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000)."
            }
          },
          "id": "compute.regionTargetHttpsProxies.setUrlMap"
        },
        "list": {
          "parameterOrder": [
            "project",
            "region"
          ],
          "parameters": {
            "returnPartialSuccess": {
              "type": "boolean",
              "description": "Opt-in for partial success behavior which provides partial results in case of failure. The default value is false.",
              "location": "query"
            },
            "maxResults": {
              "format": "uint32",
              "location": "query",
              "default": "500",
              "type": "integer",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "minimum": "0"
            },
            "project": {
              "description": "Project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "region": {
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true,
              "type": "string",
              "description": "Name of the region scoping this request."
            },
            "orderBy": {
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "location": "query",
              "type": "string"
            },
            "filter": {
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `\u003e`, `\u003c`, `\u003c=`, `\u003e=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:` operator can be used with string fields to match substrings. For non-string fields it is equivalent to the `=` operator. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results."
            }
          },
          "flatPath": "projects/{project}/regions/{region}/targetHttpsProxies",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "response": {
            "$ref": "TargetHttpsProxyList"
          },
          "id": "compute.regionTargetHttpsProxies.list",
          "description": "Retrieves the list of TargetHttpsProxy resources available to the specified project in the specified region.",
          "path": "projects/{project}/regions/{region}/targetHttpsProxies"
        },
        "setSslCertificates": {
          "request": {
            "$ref": "RegionTargetHttpsProxiesSetSslCertificatesRequest"
          },
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "Project ID for this request."
            },
            "targetHttpsProxy": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Name of the TargetHttpsProxy resource to set an SslCertificates resource for.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}"
            },
            "requestId": {
              "location": "query",
              "type": "string",
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000)."
            },
            "region": {
              "type": "string",
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true,
              "description": "Name of the region scoping this request."
            }
          },
          "parameterOrder": [
            "project",
            "region",
            "targetHttpsProxy"
          ],
          "id": "compute.regionTargetHttpsProxies.setSslCertificates",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "description": "Replaces SslCertificates for TargetHttpsProxy.",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "projects/{project}/regions/{region}/targetHttpsProxies/{targetHttpsProxy}/setSslCertificates",
          "httpMethod": "POST",
          "path": "projects/{project}/regions/{region}/targetHttpsProxies/{targetHttpsProxy}/setSslCertificates"
        },
        "get": {
          "flatPath": "projects/{project}/regions/{region}/targetHttpsProxies/{targetHttpsProxy}",
          "path": "projects/{project}/regions/{region}/targetHttpsProxies/{targetHttpsProxy}",
          "id": "compute.regionTargetHttpsProxies.get",
[...]
