{
  "basePath": "/compute/v1/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/compute": {
          "description": "View and manage your Google Compute Engine resources"
        },
        "https://www.googleapis.com/auth/devstorage.full_control": {
          "description": "Manage your data and permissions in Cloud Storage and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/devstorage.read_only": {
          "description": "View your data in Google Cloud Storage"
        },
        "https://www.googleapis.com/auth/compute.readonly": {
          "description": "View your Google Compute Engine resources"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/devstorage.read_write": {
          "description": "Manage your data in Cloud Storage and see the email address of your Google Account"
        }
      }
    }
  },
  "title": "Compute Engine API",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "userIp": {
      "location": "query",
      "description": "Legacy name for parameter that has been superseded by `quotaUser`.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "name": "compute",
  "discoveryVersion": "v1",
  "batchPath": "batch/compute/v1",
  "id": "compute:v1",
  "mtlsRootUrl": "https://compute.mtls.googleapis.com/",
  "protocol": "rest",
  "version": "v1",
  "schemas": {
    "TargetVpnGatewayAggregatedList": {
      "type": "object",
      "id": "TargetVpnGatewayAggregatedList",
      "properties": {
        "unreachables": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "[Output Only] Unreachable resources."
        },
        "id": {
          "type": "string",
          "description": "[Output Only] Unique identifier for the resource; defined by the server."
        },
        "kind": {
          "type": "string",
          "default": "compute#targetVpnGatewayAggregatedList",
          "description": "[Output Only] Type of resource. Always compute#targetVpnGateway for target VPN gateways."
        },
        "warning": {
          "type": "object",
          "description": "[Output Only] Informational warning message.",
          "properties": {
            "data": {
              "items": {
                "type": "object",
                "properties": {
                  "key": {
                    "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding).",
                    "type": "string"
                  },
                  "value": {
                    "type": "string",
                    "description": "[Output Only] A warning data value corresponding to the key."
                  }
                }
              },
              "description": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" } ",
              "type": "array"
            },
            "code": {
              "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
              "type": "string",
              "enumDescriptions": [
                "Warning about failed cleanup of transient changes made by a failed operation.",
                "A link to a deprecated resource was created.",
                "When deploying and at least one of the resources has a type marked as deprecated",
                "The user created a boot disk that is larger than image size.",
                "When deploying and at least one of the resources has a type marked as experimental",
                "Warning that is present in an external api call",
                "Warning that value of a field has been overridden. Deprecated unused field.",
                "The operation involved use of an injected kernel, which is deprecated.",
                "A WEIGHTED_MAGLEV backend service is associated with a health check that is not of type HTTP/HTTPS/HTTP2.",
                "When deploying a deployment with a exceedingly large number of resources",
                "A resource depends on a missing type",
                "The route's nextHopIp address is not assigned to an instance on the network.",
                "The route's next hop instance cannot ip forward.",
                "The route's nextHopInstance URL refers to an instance that does not have an ipv6 interface on the same network as the route.",
                "The route's nextHopInstance URL refers to an instance that does not exist.",
                "The route's nextHopInstance URL refers to an instance that is not on the same network as the route.",
                "The route's next hop instance does not have a status of RUNNING.",
                "Error which is not critical. We decided to continue the process despite the mentioned error.",
                "No results are present on a particular list page.",
                "Success is reported, but some results may be missing due to errors",
                "The user attempted to use a resource that requires a TOS they have not accepted.",
                "Warning that a resource is in use.",
                "One or more of the resources set to auto-delete could not be deleted because they were in use.",
                "When a resource schema validation is ignored.",
                "Instance template used in instance group manager is valid as such, but its application does not make a lot of sense, because it allows only single instance in instance group.",
                "When undeclared properties in the schema are present",
                "A given scope cannot be reached."
              ],
              "enum": [
                "CLEANUP_FAILED",
                "DEPRECATED_RESOURCE_USED",
                "DEPRECATED_TYPE_USED",
                "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
                "EXPERIMENTAL_TYPE_USED",
                "EXTERNAL_API_WARNING",
                "FIELD_VALUE_OVERRIDEN",
                "INJECTED_KERNELS_DEPRECATED",
                "INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB",
                "LARGE_DEPLOYMENT_WARNING",
                "MISSING_TYPE_DEPENDENCY",
                "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
                "NEXT_HOP_CANNOT_IP_FORWARD",
                "NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE",
                "NEXT_HOP_INSTANCE_NOT_FOUND",
                "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
                "NEXT_HOP_NOT_RUNNING",
                "NOT_CRITICAL_ERROR",
                "NO_RESULTS_ON_PAGE",
                "PARTIAL_SUCCESS",
                "REQUIRED_TOS_AGREEMENT",
                "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
                "RESOURCE_NOT_DELETED",
                "SCHEMA_VALIDATION_IGNORED",
                "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
                "UNDECLARED_PROPERTIES",
                "UNREACHABLE"
              ]
            },
            "message": {
              "description": "[Output Only] A human-readable description of the warning code.",
              "type": "string"
            }
          }
        },
        "nextPageToken": {
          "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results.",
          "type": "string"
        },
        "items": {
          "additionalProperties": {
            "description": "[Output Only] Name of the scope containing this set of target VPN gateways.",
            "$ref": "TargetVpnGatewaysScopedList"
          },
          "description": "A list of TargetVpnGateway resources.",
          "type": "object"
        },
        "selfLink": {
          "type": "string",
          "description": "[Output Only] Server-defined URL for this resource."
        }
      }
    },
    "InstanceGroupManager": {
      "description": "Represents a Managed Instance Group resource. An instance group is a collection of VM instances that you can manage as a single entity. For more information, read Instance groups. For zonal Managed Instance Group, use the instanceGroupManagers resource. For regional Managed Instance Group, use the regionInstanceGroupManagers resource.",
      "properties": {
        "selfLink": {
          "type": "string",
          "description": "[Output Only] The URL for this managed instance group. The server defines this URL."
        },
        "description": {
          "description": "An optional description of this resource.",
          "type": "string"
        },
        "instanceGroup": {
          "type": "string",
          "description": "[Output Only] The URL of the Instance Group resource."
        },
        "baseInstanceName": {
          "type": "string",
          "description": "The base instance name to use for instances in this group. The value must be 1-58 characters long. Instances are named by appending a hyphen and a random four-character string to the base instance name. The base instance name must comply with RFC1035.",
          "pattern": "[a-z][-a-z0-9]{0,57}",
          "annotations": {
            "required": [
              "compute.instanceGroupManagers.insert"
            ]
          }
        },
        "statefulPolicy": {
          "description": "Stateful configuration for this Instanced Group Manager",
          "$ref": "StatefulPolicy"
        },
        "currentActions": {
          "$ref": "InstanceGroupManagerActionsSummary",
          "description": "[Output Only] The list of instance actions and the number of instances in this managed instance group that are scheduled for each of those actions."
        },
        "autoHealingPolicies": {
          "description": "The autohealing policy for this managed instance group. You can specify only one value.",
          "items": {
            "$ref": "InstanceGroupManagerAutoHealingPolicy"
          },
          "type": "array"
        },
        "targetSize": {
          "type": "integer",
          "annotations": {
            "required": [
              "compute.instanceGroupManagers.insert",
              "compute.regionInstanceGroupManagers.insert"
            ]
          },
          "description": "The target number of running instances for this managed instance group. You can reduce this number by using the instanceGroupManager deleteInstances or abandonInstances methods. Resizing the group also changes this number.",
          "format": "int32"
        },
        "distributionPolicy": {
          "$ref": "DistributionPolicy",
          "description": "Policy specifying the intended distribution of managed instances across zones in a regional managed instance group."
        },
        "name": {
          "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
          "type": "string",
          "annotations": {
            "required": [
              "compute.instanceGroupManagers.insert",
              "compute.regionInstanceGroupManagers.insert"
            ]
          },
          "description": "The name of the managed instance group. The name must be 1-63 characters long, and comply with RFC1035."
        },
        "region": {
          "description": "[Output Only] The URL of the region where the managed instance group resides (for regional resources).",
          "type": "string"
        },
        "namedPorts": {
          "type": "array",
          "items": {
            "$ref": "NamedPort"
          },
          "description": "Named ports configured for the Instance Groups complementary to this Instance Group Manager."
        },
        "targetPools": {
          "description": "The URLs for all TargetPool resources to which instances in the instanceGroup field are added. The target pools automatically apply to all of the instances in the managed instance group.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "versions": {
          "items": {
            "$ref": "InstanceGroupManagerVersion"
          },
          "type": "array",
          "description": "Specifies the instance templates used by this managed instance group to create instances. Each version is defined by an instanceTemplate and a name. Every version can appear at most once per instance group. This field overrides the top-level instanceTemplate field. Read more about the relationships between these fields. Exactly one version must leave the targetSize field unset. That version will be applied to all remaining instances. For more information, read about canary updates."
        },
        "updatePolicy": {
          "description": "The update policy for this managed instance group.",
          "$ref": "InstanceGroupManagerUpdatePolicy"
        },
        "kind": {
          "default": "compute#instanceGroupManager",
          "description": "[Output Only] The resource type, which is always compute#instanceGroupManager for managed instance groups.",
          "type": "string"
        },
        "instanceTemplate": {
          "description": "The URL of the instance template that is specified for this managed instance group. The group uses this template to create all new instances in the managed instance group. The templates for existing instances in the group do not change unless you run recreateInstances, run applyUpdatesToInstances, or set the group's updatePolicy.type to PROACTIVE.",
          "type": "string"
        },
        "fingerprint": {
          "type": "string",
          "description": "Fingerprint of this resource. This field may be used in optimistic locking. It will be ignored when inserting an InstanceGroupManager. An up-to-date fingerprint must be provided in order to update the InstanceGroupManager, otherwise the request will fail with error 412 conditionNotMet. To see the latest fingerprint, make a get() request to retrieve an InstanceGroupManager.",
          "format": "byte"
        },
        "creationTimestamp": {
          "type": "string",
          "description": "[Output Only] The creation timestamp for this managed instance group in RFC3339 text format."
        },
        "id": {
          "type": "string",
          "description": "[Output Only] A unique identifier for this resource type. The server generates this identifier.",
          "format": "uint64"
        },
        "zone": {
          "type": "string",
          "description": "[Output Only] The URL of a zone where the managed instance group is located (for zonal resources)."
        },
        "status": {
          "description": "[Output Only] The status of this managed instance group.",
          "$ref": "InstanceGroupManagerStatus"
        }
      },
      "id": "InstanceGroupManager",
      "type": "object"
    },
    "MachineImageList": {
      "type": "object",
      "id": "MachineImageList",
      "properties": {
        "selfLink": {
          "description": "[Output Only] Server-defined URL for this resource.",
          "type": "string"
        },
        "kind": {
          "description": "[Output Only] The resource type, which is always compute#machineImagesListResponse for machine image lists.",
          "default": "compute#machineImageList",
          "type": "string"
        },
        "warning": {
          "type": "object",
          "properties": {
            "data": {
              "type": "array",
              "items": {
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
                  },
                  "value": {
                    "description": "[Output Only] A warning data value corresponding to the key.",
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "description": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" } "
            },
            "message": {
              "type": "string",
              "description": "[Output Only] A human-readable description of the warning code."
            },
            "code": {
              "enum": [
                "CLEANUP_FAILED",
                "DEPRECATED_RESOURCE_USED",
                "DEPRECATED_TYPE_USED",
                "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
                "EXPERIMENTAL_TYPE_USED",
                "EXTERNAL_API_WARNING",
                "FIELD_VALUE_OVERRIDEN",
                "INJECTED_KERNELS_DEPRECATED",
                "INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB",
                "LARGE_DEPLOYMENT_WARNING",
                "MISSING_TYPE_DEPENDENCY",
                "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
                "NEXT_HOP_CANNOT_IP_FORWARD",
                "NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE",
                "NEXT_HOP_INSTANCE_NOT_FOUND",
                "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
                "NEXT_HOP_NOT_RUNNING",
                "NOT_CRITICAL_ERROR",
                "NO_RESULTS_ON_PAGE",
                "PARTIAL_SUCCESS",
                "REQUIRED_TOS_AGREEMENT",
                "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
                "RESOURCE_NOT_DELETED",
                "SCHEMA_VALIDATION_IGNORED",
                "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
                "UNDECLARED_PROPERTIES",
                "UNREACHABLE"
              ],
              "type": "string",
              "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
              "enumDescriptions": [
                "Warning about failed cleanup of transient changes made by a failed operation.",
                "A link to a deprecated resource was created.",
                "When deploying and at least one of the resources has a type marked as deprecated",
                "The user created a boot disk that is larger than image size.",
                "When deploying and at least one of the resources has a type marked as experimental",
                "Warning that is present in an external api call",
                "Warning that value of a field has been overridden. Deprecated unused field.",
                "The operation involved use of an injected kernel, which is deprecated.",
                "A WEIGHTED_MAGLEV backend service is associated with a health check that is not of type HTTP/HTTPS/HTTP2.",
                "When deploying a deployment with a exceedingly large number of resources",
                "A resource depends on a missing type",
                "The route's nextHopIp address is not assigned to an instance on the network.",
                "The route's next hop instance cannot ip forward.",
                "The route's nextHopInstance URL refers to an instance that does not have an ipv6 interface on the same network as the route.",
                "The route's nextHopInstance URL refers to an instance that does not exist.",
                "The route's nextHopInstance URL refers to an instance that is not on the same network as the route.",
                "The route's next hop instance does not have a status of RUNNING.",
                "Error which is not critical. We decided to continue the process despite the mentioned error.",
                "No results are present on a particular list page.",
                "Success is reported, but some results may be missing due to errors",
                "The user attempted to use a resource that requires a TOS they have not accepted.",
                "Warning that a resource is in use.",
                "One or more of the resources set to auto-delete could not be deleted because they were in use.",
                "When a resource schema validation is ignored.",
                "Instance template used in instance group manager is valid as such, but its application does not make a lot of sense, because it allows only single instance in instance group.",
                "When undeclared properties in the schema are present",
                "A given scope cannot be reached."
              ]
            }
          },
          "description": "[Output Only] Informational warning message."
        },
        "nextPageToken": {
          "type": "string",
          "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results."
        },
        "items": {
          "type": "array",
          "description": "A list of MachineImage resources.",
          "items": {
            "$ref": "MachineImage"
          }
        },
        "id": {
          "type": "string",
          "description": "[Output Only] Unique identifier for the resource; defined by the server."
        }
      },
      "description": "A list of machine images."
    },
    "VpnTunnelAggregatedList": {
      "type": "object",
      "id": "VpnTunnelAggregatedList",
      "properties": {
        "nextPageToken": {
          "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results.",
          "type": "string"
        },
        "items": {
          "additionalProperties": {
            "description": "Name of the scope containing this set of VPN tunnels.",
            "$ref": "VpnTunnelsScopedList"
          },
          "description": "A list of VpnTunnelsScopedList resources.",
          "type": "object"
        },
        "unreachables": {
          "type": "array",
          "description": "[Output Only] Unreachable resources.",
          "items": {
            "type": "string"
          }
        },
        "selfLink": {
          "description": "[Output Only] Server-defined URL for this resource.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "compute#vpnTunnelAggregatedList",
          "description": "[Output Only] Type of resource. Always compute#vpnTunnel for VPN tunnels."
        },
        "id": {
          "type": "string",
          "description": "[Output Only] Unique identifier for the resource; defined by the server."
        },
        "warning": {
          "type": "object",
          "description": "[Output Only] Informational warning message.",
          "properties": {
            "code": {
              "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
              "enum": [
                "CLEANUP_FAILED",
                "DEPRECATED_RESOURCE_USED",
                "DEPRECATED_TYPE_USED",
                "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
                "EXPERIMENTAL_TYPE_USED",
                "EXTERNAL_API_WARNING",
                "FIELD_VALUE_OVERRIDEN",
                "INJECTED_KERNELS_DEPRECATED",
                "INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB",
                "LARGE_DEPLOYMENT_WARNING",
                "MISSING_TYPE_DEPENDENCY",
                "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
                "NEXT_HOP_CANNOT_IP_FORWARD",
                "NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE",
                "NEXT_HOP_INSTANCE_NOT_FOUND",
                "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
                "NEXT_HOP_NOT_RUNNING",
                "NOT_CRITICAL_ERROR",
                "NO_RESULTS_ON_PAGE",
                "PARTIAL_SUCCESS",
                "REQUIRED_TOS_AGREEMENT",
                "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
                "RESOURCE_NOT_DELETED",
                "SCHEMA_VALIDATION_IGNORED",
                "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
                "UNDECLARED_PROPERTIES",
                "UNREACHABLE"
              ],
              "type": "string",
              "enumDescriptions": [
                "Warning about failed cleanup of transient changes made by a failed operation.",
                "A link to a deprecated resource was created.",
                "When deploying and at least one of the resources has a type marked as deprecated",
                "The user created a boot disk that is larger than image size.",
                "When deploying and at least one of the resources has a type marked as experimental",
                "Warning that is present in an external api call",
                "Warning that value of a field has been overridden. Deprecated unused field.",
                "The operation involved use of an injected kernel, which is deprecated.",
                "A WEIGHTED_MAGLEV backend service is associated with a health check that is not of type HTTP/HTTPS/HTTP2.",
                "When deploying a deployment with a exceedingly large number of resources",
                "A resource depends on a missing type",
                "The route's nextHopIp address is not assigned to an instance on the network.",
                "The route's next hop instance cannot ip forward.",
                "The route's nextHopInstance URL refers to an instance that does not have an ipv6 interface on the same network as the route.",
                "The route's nextHopInstance URL refers to an instance that does not exist.",
                "The route's nextHopInstance URL refers to an instance that is not on the same network as the route.",
                "The route's next hop instance does not have a status of RUNNING.",
                "Error which is not critical. We decided to continue the process despite the mentioned error.",
                "No results are present on a particular list page.",
                "Success is reported, but some results may be missing due to errors",
                "The user attempted to use a resource that requires a TOS they have not accepted.",
                "Warning that a resource is in use.",
                "One or more of the resources set to auto-delete could not be deleted because they were in use.",
                "When a resource schema validation is ignored.",
                "Instance template used in instance group manager is valid as such, but its application does not make a lot of sense, because it allows only single instance in instance group.",
                "When undeclared properties in the schema are present",
                "A given scope cannot be reached."
              ]
            },
            "data": {
              "type": "array",
              "description": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" } ",
              "items": {
                "type": "object",
                "properties": {
                  "key": {
                    "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding).",
                    "type": "string"
                  },
                  "value": {
                    "type": "string",
                    "description": "[Output Only] A warning data value corresponding to the key."
                  }
                }
              }
            },
            "message": {
              "description": "[Output Only] A human-readable description of the warning code.",
              "type": "string"
            }
          }
        }
      }
    },
    "InstancesSetMachineTypeRequest": {
      "id": "InstancesSetMachineTypeRequest",
      "properties": {
        "machineType": {
          "description": "Full or partial URL of the machine type resource. See Machine Types for a full list of machine types. For example: zones/us-central1-f/machineTypes/n1-standard-1",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TestPermissionsRequest": {
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the 'resource'. Permissions with wildcards (such as '*' or 'storage.*') are not allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestPermissionsRequest"
    },
    "NodeTypeList": {
      "properties": {
        "selfLink": {
          "description": "[Output Only] Server-defined URL for this resource.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "[Output Only] Unique identifier for the resource; defined by the server."
        },
        "items": {
          "type": "array",
          "description": "A list of NodeType resources.",
          "items": {
            "$ref": "NodeType"
          }
        },
        "nextPageToken": {
          "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "compute#nodeTypeList",
          "description": "[Output Only] Type of resource.Always compute#nodeTypeList for lists of node types."
        },
        "warning": {
          "description": "[Output Only] Informational warning message.",
          "properties": {
            "code": {
              "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
              "enum": [
                "CLEANUP_FAILED",
                "DEPRECATED_RESOURCE_USED",
                "DEPRECATED_TYPE_USED",
                "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
                "EXPERIMENTAL_TYPE_USED",
                "EXTERNAL_API_WARNING",
                "FIELD_VALUE_OVERRIDEN",
                "INJECTED_KERNELS_DEPRECATED",
                "INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB",
                "LARGE_DEPLOYMENT_WARNING",
                "MISSING_TYPE_DEPENDENCY",
                "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
                "NEXT_HOP_CANNOT_IP_FORWARD",
                "NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE",
                "NEXT_HOP_INSTANCE_NOT_FOUND",
                "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
                "NEXT_HOP_NOT_RUNNING",
                "NOT_CRITICAL_ERROR",
                "NO_RESULTS_ON_PAGE",
                "PARTIAL_SUCCESS",
                "REQUIRED_TOS_AGREEMENT",
                "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
                "RESOURCE_NOT_DELETED",
                "SCHEMA_VALIDATION_IGNORED",
                "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
                "UNDECLARED_PROPERTIES",
                "UNREACHABLE"
              ],
              "enumDescriptions": [
                "Warning about failed cleanup of transient changes made by a failed operation.",
                "A link to a deprecated resource was created.",
                "When deploying and at least one of the resources has a type marked as deprecated",
                "The user created a boot disk that is larger than image size.",
                "When deploying and at least one of the resources has a type marked as experimental",
                "Warning that is present in an external api call",
                "Warning that value of a field has been overridden. Deprecated unused field.",
                "The operation involved use of an injected kernel, which is deprecated.",
                "A WEIGHTED_MAGLEV backend service is associated with a health check that is not of type HTTP/HTTPS/HTTP2.",
                "When deploying a deployment with a exceedingly large number of resources",
                "A resource depends on a missing type",
                "The route's nextHopIp address is not assigned to an instance on the network.",
                "The route's next hop instance cannot ip forward.",
                "The route's nextHopInstance URL refers to an instance that does not have an ipv6 interface on the same network as the route.",
                "The route's nextHopInstance URL refers to an instance that does not exist.",
                "The route's nextHopInstance URL refers to an instance that is not on the same network as the route.",
                "The route's next hop instance does not have a status of RUNNING.",
                "Error which is not critical. We decided to continue the process despite the mentioned error.",
                "No results are present on a particular list page.",
                "Success is reported, but some results may be missing due to errors",
                "The user attempted to use a resource that requires a TOS they have not accepted.",
                "Warning that a resource is in use.",
                "One or more of the resources set to auto-delete could not be deleted because they were in use.",
                "When a resource schema validation is ignored.",
                "Instance template used in instance group manager is valid as such, but its application does not make a lot of sense, because it allows only single instance in instance group.",
                "When undeclared properties in the schema are present",
                "A given scope cannot be reached."
              ],
              "type": "string"
            },
            "data": {
              "items": {
                "properties": {
                  "value": {
                    "type": "string",
                    "description": "[Output Only] A warning data value corresponding to the key."
                  },
                  "key": {
                    "type": "string",
                    "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
                  }
                },
                "type": "object"
              },
              "type": "array",
              "description": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" } "
            },
            "message": {
              "type": "string",
              "description": "[Output Only] A human-readable description of the warning code."
            }
          },
          "type": "object"
        }
      },
      "description": "Contains a list of node types.",
      "id": "NodeTypeList",
      "type": "object"
    },
    "NodeGroupNode": {
      "id": "NodeGroupNode",
      "properties": {
        "cpuOvercommitType": {
          "enum": [
            "CPU_OVERCOMMIT_TYPE_UNSPECIFIED",
            "ENABLED",
            "NONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "CPU overcommit."
        },
        "disks": {
          "description": "Local disk configurations.",
          "items": {
            "$ref": "LocalDisk"
          },
          "type": "array"
        },
        "status": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CREATING",
            "DELETING",
            "INVALID",
            "READY",
            "REPAIRING"
          ],
          "type": "string"
        },
        "serverId": {
          "type": "string",
          "description": "Server ID associated with this node."
        },
        "name": {
          "description": "The name of the node.",
          "type": "string"
        },
        "instanceConsumptionData": {
          "description": "Instance data that shows consumed resources on the node.",
          "type": "array",
          "items": {
            "$ref": "InstanceConsumptionData"
          }
        },
        "totalResources": {
          "$ref": "InstanceConsumptionInfo",
          "description": "Total amount of available resources on the node."
        },
        "serverBinding": {
          "$ref": "ServerBinding",
          "description": "Binding properties for the physical server."
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "[Output Only] Reserved for future use."
        },
        "accelerators": {
          "type": "array",
          "description": "Accelerators for this node.",
          "items": {
            "$ref": "AcceleratorConfig"
          }
        },
        "nodeType": {
          "description": "The type of this node.",
          "type": "string"
        },
        "instances": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Instances scheduled on this node."
        },
        "consumedResources": {
          "description": "Node resources that are reserved by all instances.",
          "$ref": "InstanceConsumptionInfo"
        }
      },
      "type": "object"
    },
    "InstanceGroupManagerAutoHealingPolicy": {
      "id": "InstanceGroupManagerAutoHealingPolicy",
      "type": "object",
      "properties": {
        "healthCheck": {
          "type": "string",
          "description": "The URL for the health check that signals autohealing."
        },
        "initialDelaySec": {
          "description": "The number of seconds that the managed instance group waits before it applies autohealing policies to new instances or recently recreated instances. This initial delay allows instances to initialize and run their startup scripts before the instance group determines that they are UNHEALTHY. This prevents the managed instance group from recreating its instances prematurely. This value must be from range [0, 3600].",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ResourcePolicyDailyCycle": {
      "type": "object",
      "description": "Time window specified for daily operations.",
      "id": "ResourcePolicyDailyCycle",
      "properties": {
        "daysInCycle": {
          "description": "Defines a schedule with units measured in days. The value determines how many days pass between the start of each cycle.",
          "type": "integer",
          "format": "int32"
        },
        "startTime": {
          "type": "string",
          "description": "Start time of the window. This must be in UTC format that resolves to one of 00:00, 04:00, 08:00, 12:00, 16:00, or 20:00. For example, both 13:00-5 and 08:00 are valid."
        },
        "duration": {
          "type": "string",
          "description": "[Output only] A predetermined duration for the window, automatically chosen to be the smallest possible in the given scenario."
        }
      }
    },
    "NotificationEndpointList": {
      "id": "NotificationEndpointList",
      "properties": {
        "warning": {
          "description": "[Output Only] Informational warning message.",
          "type": "object",
          "properties": {
            "message": {
              "description": "[Output Only] A human-readable description of the warning code.",
              "type": "string"
            },
            "code": {
              "type": "string",
              "enum": [
                "CLEANUP_FAILED",
                "DEPRECATED_RESOURCE_USED",
                "DEPRECATED_TYPE_USED",
                "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
                "EXPERIMENTAL_TYPE_USED",
                "EXTERNAL_API_WARNING",
                "FIELD_VALUE_OVERRIDEN",
                "INJECTED_KERNELS_DEPRECATED",
                "INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB",
                "LARGE_DEPLOYMENT_WARNING",
                "MISSING_TYPE_DEPENDENCY",
                "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
                "NEXT_HOP_CANNOT_IP_FORWARD",
                "NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE",
                "NEXT_HOP_INSTANCE_NOT_FOUND",
                "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
                "NEXT_HOP_NOT_RUNNING",
                "NOT_CRITICAL_ERROR",
                "NO_RESULTS_ON_PAGE",
                "PARTIAL_SUCCESS",
                "REQUIRED_TOS_AGREEMENT",
                "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
                "RESOURCE_NOT_DELETED",
                "SCHEMA_VALIDATION_IGNORED",
                "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
                "UNDECLARED_PROPERTIES",
                "UNREACHABLE"
              ],
              "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
              "enumDescriptions": [
                "Warning about failed cleanup of transient changes made by a failed operation.",
                "A link to a deprecated resource was created.",
                "When deploying and at least one of the resources has a type marked as deprecated",
                "The user created a boot disk that is larger than image size.",
                "When deploying and at least one of the resources has a type marked as experimental",
                "Warning that is present in an external api call",
                "Warning that value of a field has been overridden. Deprecated unused field.",
                "The operation involved use of an injected kernel, which is deprecated.",
                "A WEIGHTED_MAGLEV backend service is associated with a health check that is not of type HTTP/HTTPS/HTTP2.",
                "When deploying a deployment with a exceedingly large number of resources",
                "A resource depends on a missing type",
                "The route's nextHopIp address is not assigned to an instance on the network.",
                "The route's next hop instance cannot ip forward.",
                "The route's nextHopInstance URL refers to an instance that does not have an ipv6 interface on the same network as the route.",
                "The route's nextHopInstance URL refers to an instance that does not exist.",
                "The route's nextHopInstance URL refers to an instance that is not on the same network as the route.",
                "The route's next hop instance does not have a status of RUNNING.",
                "Error which is not critical. We decided to continue the process despite the mentioned error.",
                "No results are present on a particular list page.",
                "Success is reported, but some results may be missing due to errors",
                "The user attempted to use a resource that requires a TOS they have not accepted.",
                "Warning that a resource is in use.",
                "One or more of the resources set to auto-delete could not be deleted because they were in use.",
                "When a resource schema validation is ignored.",
                "Instance template used in instance group manager is valid as such, but its application does not make a lot of sense, because it allows only single instance in instance group.",
                "When undeclared properties in the schema are present",
                "A given scope cannot be reached."
              ]
            },
            "data": {
              "items": {
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
                  },
                  "value": {
                    "description": "[Output Only] A warning data value corresponding to the key.",
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "type": "array",
              "description": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" } "
            }
          }
        },
        "kind": {
          "default": "compute#notificationEndpointList",
          "description": "[Output Only] Type of the resource. Always compute#notificationEndpoint for notification endpoints.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results."
        },
        "id": {
          "description": "[Output Only] Unique identifier for the resource; defined by the server.",
          "type": "string"
        },
        "selfLink": {
          "description": "[Output Only] Server-defined URL for this resource.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "NotificationEndpoint"
          },
          "description": "A list of NotificationEndpoint resources.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "Subsetting": {
      "description": "Subsetting configuration for this BackendService. Currently this is applicable only for Internal TCP/UDP load balancing, Internal HTTP(S) load balancing and Traffic Director.",
      "properties": {
        "policy": {
          "enum": [
            "CONSISTENT_HASH_SUBSETTING",
            "NONE"
          ],
          "enumDescriptions": [
            "Subsetting based on consistent hashing. For Traffic Director, the number of backends per backend group (the subset size) is based on the `subset_size` parameter. For Internal HTTP(S) load balancing, the number of backends per backend group (the subset size) is dynamically adjusted in two cases: - As the number of proxy instances participating in Internal HTTP(S) load balancing increases, the subset size decreases. - When the total number of backends in a network exceeds the capacity of a single proxy instance, subset sizes are reduced automatically for each service that has backend subsetting enabled.",
            "No Subsetting. Clients may open connections and send traffic to all backends of this backend service. This can lead to performance issues if there is substantial imbalance in the count of clients and backends."
          ],
          "type": "string"
        }
      },
      "id": "Subsetting",
      "type": "object"
    },
    "InstancesSetLabelsRequest": {
      "type": "object",
      "properties": {
        "labelFingerprint": {
          "type": "string",
          "format": "byte",
          "description": "Fingerprint of the previous set of labels for this resource, used to prevent conflicts. Provide the latest fingerprint value when making a request to add or change labels."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "InstancesSetLabelsRequest"
    },
    "VmEndpointNatMappingsList": {
      "type": "object",
      "properties": {
        "warning": {
          "type": "object",
          "properties": {
            "message": {
              "type": "string",
              "description": "[Output Only] A human-readable description of the warning code."
            },
            "data": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
                  },
                  "value": {
                    "description": "[Output Only] A warning data value corresponding to the key.",
                    "type": "string"
                  }
                }
              },
              "description": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" } "
            },
            "code": {
              "enum": [
                "CLEANUP_FAILED",
                "DEPRECATED_RESOURCE_USED",
                "DEPRECATED_TYPE_USED",
                "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
                "EXPERIMENTAL_TYPE_USED",
                "EXTERNAL_API_WARNING",
                "FIELD_VALUE_OVERRIDEN",
                "INJECTED_KERNELS_DEPRECATED",
                "INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB",
                "LARGE_DEPLOYMENT_WARNING",
                "MISSING_TYPE_DEPENDENCY",
                "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
                "NEXT_HOP_CANNOT_IP_FORWARD",
                "NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE",
                "NEXT_HOP_INSTANCE_NOT_FOUND",
                "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
                "NEXT_HOP_NOT_RUNNING",
                "NOT_CRITICAL_ERROR",
                "NO_RESULTS_ON_PAGE",
                "PARTIAL_SUCCESS",
                "REQUIRED_TOS_AGREEMENT",
                "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
                "RESOURCE_NOT_DELETED",
                "SCHEMA_VALIDATION_IGNORED",
                "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
                "UNDECLARED_PROPERTIES",
                "UNREACHABLE"
              ],
              "enumDescriptions": [
                "Warning about failed cleanup of transient changes made by a failed operation.",
                "A link to a deprecated resource was created.",
                "When deploying and at least one of the resources has a type marked as deprecated",
                "The user created a boot disk that is larger than image size.",
                "When deploying and at least one of the resources has a type marked as experimental",
                "Warning that is present in an external api call",
                "Warning that value of a field has been overridden. Deprecated unused field.",
                "The operation involved use of an injected kernel, which is deprecated.",
                "A WEIGHTED_MAGLEV backend service is associated with a health check that is not of type HTTP/HTTPS/HTTP2.",
                "When deploying a deployment with a exceedingly large number of resources",
                "A resource depends on a missing type",
                "The route's nextHopIp address is not assigned to an instance on the network.",
                "The route's next hop instance cannot ip forward.",
                "The route's nextHopInstance URL refers to an instance that does not have an ipv6 interface on the same network as the route.",
                "The route's nextHopInstance URL refers to an instance that does not exist.",
                "The route's nextHopInstance URL refers to an instance that is not on the same network as the route.",
                "The route's next hop instance does not have a status of RUNNING.",
                "Error which is not critical. We decided to continue the process despite the mentioned error.",
                "No results are present on a particular list page.",
                "Success is reported, but some results may be missing due to errors",
                "The user attempted to use a resource that requires a TOS they have not accepted.",
                "Warning that a resource is in use.",
                "One or more of the resources set to auto-delete could not be deleted because they were in use.",
                "When a resource schema validation is ignored.",
                "Instance template used in instance group manager is valid as such, but its application does not make a lot of sense, because it allows only single instance in instance group.",
                "When undeclared properties in the schema are present",
                "A given scope cannot be reached."
              ],
              "type": "string",
              "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response."
            }
          },
          "description": "[Output Only] Informational warning message."
        },
        "kind": {
          "type": "string",
          "default": "compute#vmEndpointNatMappingsList",
          "description": "[Output Only] Type of resource. Always compute#vmEndpointNatMappingsList for lists of Nat mappings of VM endpoints."
        },
        "id": {
          "type": "string",
          "description": "[Output Only] The unique identifier for the resource. This identifier is defined by the server."
        },
        "result": {
          "type": "array",
          "items": {
            "$ref": "VmEndpointNatMappings"
          },
          "description": "[Output Only] A list of Nat mapping information of VM endpoints."
        },
        "nextPageToken": {
          "type": "string",
          "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results."
        },
        "selfLink": {
          "type": "string",
          "description": "[Output Only] Server-defined URL for this resource."
        }
      },
      "description": "Contains a list of VmEndpointNatMappings.",
      "id": "VmEndpointNatMappingsList"
    },
    "SslCertificatesScopedList": {
      "id": "SslCertificatesScopedList",
      "properties": {
        "sslCertificates": {
          "items": {
            "$ref": "SslCertificate"
          },
          "description": "List of SslCertificates contained in this scope.",
          "type": "array"
        },
        "warning": {
          "type": "object",
          "properties": {
            "data": {
              "description": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" } ",
              "items": {
                "properties": {
                  "value": {
                    "type": "string",
                    "description": "[Output Only] A warning data value corresponding to the key."
                  },
                  "key": {
                    "type": "string",
                    "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
                  }
                },
                "type": "object"
              },
              "type": "array"
            },
            "message": {
              "type": "string",
              "description": "[Output Only] A human-readable description of the warning code."
            },
            "code": {
              "type": "string",
              "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
              "enum": [
                "CLEANUP_FAILED",
                "DEPRECATED_RESOURCE_USED",
                "DEPRECATED_TYPE_USED",
                "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
                "EXPERIMENTAL_TYPE_USED",
                "EXTERNAL_API_WARNING",
                "FIELD_VALUE_OVERRIDEN",
                "INJECTED_KERNELS_DEPRECATED",
                "INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB",
                "LARGE_DEPLOYMENT_WARNING",
                "MISSING_TYPE_DEPENDENCY",
                "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
                "NEXT_HOP_CANNOT_IP_FORWARD",
                "NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE",
                "NEXT_HOP_INSTANCE_NOT_FOUND",
                "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
                "NEXT_HOP_NOT_RUNNING",
                "NOT_CRITICAL_ERROR",
                "NO_RESULTS_ON_PAGE",
                "PARTIAL_SUCCESS",
                "REQUIRED_TOS_AGREEMENT",
                "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
                "RESOURCE_NOT_DELETED",
                "SCHEMA_VALIDATION_IGNORED",
                "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
                "UNDECLARED_PROPERTIES",
                "UNREACHABLE"
              ],
              "enumDescriptions": [
                "Warning about failed cleanup of transient changes made by a failed operation.",
                "A link to a deprecated resource was created.",
                "When deploying and at least one of the resources has a type marked as deprecated",
                "The user created a boot disk that is larger than image size.",
                "When deploying and at least one of the resources has a type marked as experimental",
                "Warning that is present in an external api call",
                "Warning that value of a field has been overridden. Deprecated unused field.",
                "The operation involved use of an injected kernel, which is deprecated.",
                "A WEIGHTED_MAGLEV backend service is associated with a health check that is not of type HTTP/HTTPS/HTTP2.",
                "When deploying a deployment with a exceedingly large number of resources",
                "A resource depends on a missing type",
                "The route's nextHopIp address is not assigned to an instance on the network.",
                "The route's next hop instance cannot ip forward.",
                "The route's nextHopInstance URL refers to an instance that does not have an ipv6 interface on the same network as the route.",
                "The route's nextHopInstance URL refers to an instance that does not exist.",
                "The route's nextHopInstance URL refers to an instance that is not on the same network as the route.",
                "The route's next hop instance does not have a status of RUNNING.",
                "Error which is not critical. We decided to continue the process despite the mentioned error.",
                "No results are present on a particular list page.",
                "Success is reported, but some results may be missing due to errors",
                "The user attempted to use a resource that requires a TOS they have not accepted.",
                "Warning that a resource is in use.",
                "One or more of the resources set to auto-delete could not be deleted because they were in use.",
                "When a resource schema validation is ignored.",
                "Instance template used in instance group manager is valid as such, but its application does not make a lot of sense, because it allows only single instance in instance group.",
                "When undeclared properties in the schema are present",
                "A given scope cannot be reached."
              ]
            }
          },
          "description": "Informational warning which replaces the list of backend services when the list is empty."
        }
      },
      "type": "object"
    },
    "GuestAttributes": {
      "type": "object",
      "id": "GuestAttributes",
      "description": "A guest attributes entry.",
      "properties": {
        "queryValue": {
          "$ref": "GuestAttributesValue",
          "description": "[Output Only] The value of the requested queried path."
        },
        "selfLink": {
          "description": "[Output Only] Server-defined URL for this resource.",
          "type": "string"
        },
        "variableValue": {
          "description": "[Output Only] The value found for the requested key.",
          "type": "string"
        },
        "queryPath": {
          "type": "string",
          "description": "The path to be queried. This can be the default namespace ('') or a nested namespace ('\\/') or a specified key ('\\/\\')."
        },
        "kind": {
          "type": "string",
          "description": "[Output Only] Type of the resource. Always compute#guestAttributes for guest attributes entry.",
          "default": "compute#guestAttributes"
        },
        "variableKey": {
          "description": "The key to search for.",
          "type": "string"
        }
      }
    },
    "NodeTypeAggregatedList": {
      "type": "object",
      "id": "NodeTypeAggregatedList",
      "properties": {
        "id": {
          "description": "[Output Only] Unique identifier for the resource; defined by the server.",
          "type": "string"
        },
        "unreachables": {
          "type": "array",
          "description": "[Output Only] Unreachable resources.",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "type": "string",
          "default": "compute#nodeTypeAggregatedList",
          "description": "[Output Only] Type of resource.Always compute#nodeTypeAggregatedList for aggregated lists of node types."
        },
        "warning": {
          "description": "[Output Only] Informational warning message.",
          "type": "object",
          "properties": {
            "data": {
              "description": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" } ",
              "items": {
                "properties": {
                  "key": {
                    "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding).",
                    "type": "string"
                  },
                  "value": {
                    "description": "[Output Only] A warning data value corresponding to the key.",
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "type": "array"
            },
            "code": {
              "type": "string",
              "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
              "enumDescriptions": [
                "Warning about failed cleanup of transient changes made by a failed operation.",
                "A link to a deprecated resource was created.",
                "When deploying and at least one of the resources has a type marked as deprecated",
                "The user created a boot disk that is larger than image size.",
                "When deploying and at least one of the resources has a type marked as experimental",
                "Warning that is present in an external api call",
                "Warning that value of a field has been overridden. Deprecated unused field.",
                "The operation involved use of an injected kernel, which is deprecated.",
                "A WEIGHTED_MAGLEV backend service is associated with a health check that is not of type HTTP/HTTPS/HTTP2.",
                "When deploying a deployment with a exceedingly large number of resources",
                "A resource depends on a missing type",
                "The route's nextHopIp address is not assigned to an instance on the network.",
                "The route's next hop instance cannot ip forward.",
                "The route's nextHopInstance URL refers to an instance that does not have an ipv6 interface on the same network as the route.",
                "The route's nextHopInstance URL refers to an instance that does not exist.",
                "The route's nextHopInstance URL refers to an instance that is not on the same network as the route.",
                "The route's next hop instance does not have a status of RUNNING.",
                "Error which is not critical. We decided to continue the process despite the mentioned error.",
                "No results are present on a particular list page.",
                "Success is reported, but some results may be missing due to errors",
                "The user attempted to use a resource that requires a TOS they have not accepted.",
                "Warning that a resource is in use.",
                "One or more of the resources set to auto-delete could not be deleted because they were in use.",
                "When a resource schema validation is ignored.",
                "Instance template used in instance group manager is valid as such, but its application does not make a lot of sense, because it allows only single instance in instance group.",
                "When undeclared properties in the schema are present",
                "A given scope cannot be reached."
              ],
              "enum": [
                "CLEANUP_FAILED",
                "DEPRECATED_RESOURCE_USED",
                "DEPRECATED_TYPE_USED",
                "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
                "EXPERIMENTAL_TYPE_USED",
                "EXTERNAL_API_WARNING",
                "FIELD_VALUE_OVERRIDEN",
                "INJECTED_KERNELS_DEPRECATED",
                "INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB",
                "LARGE_DEPLOYMENT_WARNING",
                "MISSING_TYPE_DEPENDENCY",
                "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
                "NEXT_HOP_CANNOT_IP_FORWARD",
                "NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE",
                "NEXT_HOP_INSTANCE_NOT_FOUND",
                "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
                "NEXT_HOP_NOT_RUNNING",
                "NOT_CRITICAL_ERROR",
                "NO_RESULTS_ON_PAGE",
                "PARTIAL_SUCCESS",
                "REQUIRED_TOS_AGREEMENT",
                "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
                "RESOURCE_NOT_DELETED",
                "SCHEMA_VALIDATION_IGNORED",
                "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
                "UNDECLARED_PROPERTIES",
                "UNREACHABLE"
              ]
            },
            "message": {
              "type": "string",
              "description": "[Output Only] A human-readable description of the warning code."
            }
          }
        },
        "items": {
          "type": "object",
          "description": "A list of NodeTypesScopedList resources.",
          "additionalProperties": {
            "description": "[Output Only] Name of the scope containing this set of node types.",
            "$ref": "NodeTypesScopedList"
          }
        },
        "selfLink": {
          "type": "string",
          "description": "[Output Only] Server-defined URL for this resource."
        },
        "nextPageToken": {
          "type": "string",
          "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results."
        }
      }
    },
    "WeightedBackendService": {
      "id": "WeightedBackendService",
      "type": "object",
      "description": "In contrast to a single BackendService in HttpRouteAction to which all matching traffic is directed to, WeightedBackendService allows traffic to be split across multiple backend services. The volume of traffic for each backend service is proportional to the weight specified in each WeightedBackendService",
      "properties": {
        "headerAction": {
          "description": "Specifies changes to request and response headers that need to take effect for the selected backendService. headerAction specified here take effect before headerAction in the enclosing HttpRouteRule, PathMatcher and UrlMap. headerAction is not supported for load balancers that have their loadBalancingScheme set to EXTERNAL. Not supported when the URL map is bound to a target gRPC proxy that has validateForProxyless field set to true.",
          "$ref": "HttpHeaderAction"
        },
        "backendService": {
          "description": "The full or partial URL to the default BackendService resource. Before forwarding the request to backendService, the load balancer applies any relevant headerActions specified as part of this backendServiceWeight.",
          "type": "string"
        },
        "weight": {
          "type": "integer",
          "description": "Specifies the fraction of traffic sent to a backend service, computed as weight / (sum of all weightedBackendService weights in routeAction) . The selection of a backend service is determined only for new traffic. Once a user's request has been directed to a backend service, subsequent requests are sent to the same backend service as determined by the backend service's session affinity policy. The value must be from 0 to 1000.",
          "format": "uint32"
        }
      }
    },
    "ImageList": {
      "properties": {
        "nextPageToken": {
          "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Image"
          },
          "description": "A list of Image resources.",
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "[Output Only] Unique identifier for the resource; defined by the server."
        },
        "warning": {
          "type": "object",
          "description": "[Output Only] Informational warning message.",
          "properties": {
            "message": {
              "type": "string",
              "description": "[Output Only] A human-readable description of the warning code."
            },
            "data": {
              "items": {
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
                  },
                  "value": {
                    "type": "string",
                    "description": "[Output Only] A warning data value corresponding to the key."
                  }
                },
                "type": "object"
              },
              "type": "array",
              "description": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" } "
            },
            "code": {
              "enumDescriptions": [
                "Warning about failed cleanup of transient changes made by a failed operation.",
                "A link to a deprecated resource was created.",
                "When deploying and at least one of the resources has a type marked as deprecated",
                "The user created a boot disk that is larger than image size.",
                "When deploying and at least one of the resources has a type marked as experimental",
                "Warning that is present in an external api call",
                "Warning that value of a field has been overridden. Deprecated unused field.",
                "The operation involved use of an injected kernel, which is deprecated.",
                "A WEIGHTED_MAGLEV backend service is associated with a health check that is not of type HTTP/HTTPS/HTTP2.",
                "When deploying a deployment with a exceedingly large number of resources",
                "A resource depends on a missing type",
                "The route's nextHopIp address is not assigned to an instance on the network.",
                "The route's next hop instance cannot ip forward.",
                "The route's nextHopInstance URL refers to an instance that does not have an ipv6 interface on the same network as the route.",
                "The route's nextHopInstance URL refers to an instance that does not exist.",
                "The route's nextHopInstance URL refers to an instance that is not on the same network as the route.",
                "The route's next hop instance does not have a status of RUNNING.",
                "Error which is not critical. We decided to continue the process despite the mentioned error.",
                "No results are present on a particular list page.",
                "Success is reported, but some results may be missing due to errors",
                "The user attempted to use a resource that requires a TOS they have not accepted.",
                "Warning that a resource is in use.",
                "One or more of the resources set to auto-delete could not be deleted because they were in use.",
                "When a resource schema validation is ignored.",
                "Instance template used in instance group manager is valid as such, but its application does not make a lot of sense, because it allows only single instance in instance group.",
                "When undeclared properties in the schema are present",
                "A given scope cannot be reached."
              ],
              "type": "string",
              "enum": [
                "CLEANUP_FAILED",
                "DEPRECATED_RESOURCE_USED",
                "DEPRECATED_TYPE_USED",
                "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
                "EXPERIMENTAL_TYPE_USED",
                "EXTERNAL_API_WARNING",
                "FIELD_VALUE_OVERRIDEN",
                "INJECTED_KERNELS_DEPRECATED",
                "INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB",
                "LARGE_DEPLOYMENT_WARNING",
                "MISSING_TYPE_DEPENDENCY",
                "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
                "NEXT_HOP_CANNOT_IP_FORWARD",
                "NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE",
                "NEXT_HOP_INSTANCE_NOT_FOUND",
                "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
                "NEXT_HOP_NOT_RUNNING",
                "NOT_CRITICAL_ERROR",
                "NO_RESULTS_ON_PAGE",
                "PARTIAL_SUCCESS",
                "REQUIRED_TOS_AGREEMENT",
                "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
                "RESOURCE_NOT_DELETED",
                "SCHEMA_VALIDATION_IGNORED",
                "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
                "UNDECLARED_PROPERTIES",
                "UNREACHABLE"
              ],
              "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response."
            }
          }
        },
        "selfLink": {
          "type": "string",
          "description": "[Output Only] Server-defined URL for this resource."
        },
        "kind": {
          "type": "string",
          "description": "Type of resource.",
          "default": "compute#imageList"
        }
      },
      "id": "ImageList",
      "description": "Contains a list of images.",
      "type": "object"
    },
    "AuthorizationLoggingOptions": {
      "type": "object",
      "description": "This is deprecated and has no effect. Do not use.",
      "id": "AuthorizationLoggingOptions",
      "properties": {
        "permissionType": {
          "enumDescriptions": [
            "This is deprecated and has no effect. Do not use.",
            "This is deprecated and has no effect. Do not use.",
            "This is deprecated and has no effect. Do not use.",
            "This is deprecated and has no effect. Do not use.",
            "This is deprecated and has no effect. Do not use."
          ],
          "description": "This is deprecated and has no effect. Do not use.",
          "type": "string",
          "enum": [
            "ADMIN_READ",
            "ADMIN_WRITE",
            "DATA_READ",
            "DATA_WRITE",
            "PERMISSION_TYPE_UNSPECIFIED"
          ]
        }
      }
    },
    "SecuritySettings": {
      "id": "SecuritySettings",
      "type": "object",
      "properties": {
        "clientTlsPolicy": {
          "type": "string",
          "description": "Optional. A URL referring to a networksecurity.ClientTlsPolicy resource that describes how clients should authenticate with this service's backends. clientTlsPolicy only applies to a global BackendService with the loadBalancingScheme set to INTERNAL_SELF_MANAGED. If left blank, communications are not encrypted. Note: This field currently has no impact."
        },
        "subjectAltNames": {
          "description": "Optional. A list of Subject Alternative Names (SANs) that the client verifies during a mutual TLS handshake with an server/endpoint for this BackendService. When the server presents its X.509 certificate to the client, the client inspects the certificate's subjectAltName field. If the field contains one of the specified values, the communication continues. Otherwise, it fails. This additional check enables the client to verify that the server is authorized to run the requested service. Note that the contents of the server certificate's subjectAltName field are configured by the Public Key Infrastructure which provisions server identities. Only applies to a global BackendService with loadBalancingScheme set to INTERNAL_SELF_MANAGED. Only applies when BackendService has an attached clientTlsPolicy with clientCertificate (mTLS mode). Note: This field currently has no impact.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The authentication and authorization settings for a BackendService."
    },
    "PublicDelegatedPrefix": {
      "description": "A PublicDelegatedPrefix resource represents an IP block within a PublicAdvertisedPrefix that is configured within a single cloud scope (global or region). IPs in the block can be allocated to resources within that scope. Public delegated prefixes may be further broken up into smaller IP blocks in the same scope as the parent block.",
      "properties": {
        "parentPrefix": {
          "type": "string",
          "description": "The URL of parent prefix. Either PublicAdvertisedPrefix or PublicDelegatedPrefix."
        },
        "creationTimestamp": {
          "type": "string",
          "description": "[Output Only] Creation timestamp in RFC3339 text format."
        },
        "ipCidrRange": {
          "description": "The IPv4 address range, in CIDR format, represented by this public delegated prefix.",
          "type": "string"
        },
        "kind": {
          "default": "compute#publicDelegatedPrefix",
          "type": "string",
          "description": "[Output Only] Type of the resource. Always compute#publicDelegatedPrefix for public delegated prefixes."
        },
        "fingerprint": {
          "format": "byte",
          "type": "string",
          "description": "Fingerprint of this resource. A hash of the contents stored in this object. This field is used in optimistic locking. This field will be ignored when inserting a new PublicDelegatedPrefix. An up-to-date fingerprint must be provided in order to update the PublicDelegatedPrefix, otherwise the request will fail with error 412 conditionNotMet. To see the latest fingerprint, make a get() request to retrieve a PublicDelegatedPrefix."
        },
        "id": {
          "description": "[Output Only] The unique identifier for the resource type. The server generates this identifier.",
          "type": "string",
          "format": "uint64"
        },
        "publicDelegatedSubPrefixs": {
          "description": "The list of sub public delegated prefixes that exist for this public delegated prefix.",
          "items": {
            "$ref": "PublicDelegatedPrefixPublicDelegatedSubPrefix"
          },
          "type": "array"
        },
        "selfLink": {
          "description": "[Output Only] Server-defined URL for the resource.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "An optional description of this resource. Provide this property when you create the resource."
        },
        "region": {
          "type": "string",
          "description": "[Output Only] URL of the region where the public delegated prefix resides. This field applies only to the region resource. You must specify this field as part of the HTTP request URL. It is not settable as a field in the request body."
        },
        "isLiveMigration": {
          "description": "If true, the prefix will be live migrated.",
          "type": "boolean"
        },
        "name": {
          "annotations": {
            "required": [
              "compute.publicDelegatedPrefixes.insert"
            ]
          },
          "description": "Name of the resource. Provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?` which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.",
          "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "The public delegated prefix is active.",
            "The public delegated prefix is being deprovsioned.",
            "The public delegated prefix is being initialized and addresses cannot be created yet.",
            "The public delegated prefix is currently withdrawn but ready to be announced."
          ],
          "type": "string",
          "enum": [
            "ANNOUNCED",
            "DELETING",
            "INITIALIZING",
            "READY_TO_ANNOUNCE"
          ],
          "description": "[Output Only] The status of the public delegated prefix, which can be one of following values: - `INITIALIZING` The public delegated prefix is being initialized and addresses cannot be created yet. - `READY_TO_ANNOUNCE` The public delegated prefix is a live migration prefix and is active. - `ANNOUNCED` The public delegated prefix is active. - `DELETING` The public delegated prefix is being deprovsioned. "
        }
      },
      "id": "PublicDelegatedPrefix",
      "type": "object"
    },
    "SecurityPoliciesScopedList": {
      "id": "SecurityPoliciesScopedList",
      "properties": {
        "securityPolicies": {
          "type": "array",
          "description": "A list of SecurityPolicies contained in this scope.",
          "items": {
            "$ref": "SecurityPolicy"
          }
        },
        "warning": {
          "type": "object",
          "description": "Informational warning which replaces the list of security policies when the list is empty.",
          "properties": {
            "message": {
              "description": "[Output Only] A human-readable description of the warning code.",
              "type": "string"
            },
            "data": {
              "type": "array",
              "description": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" } ",
              "items": {
                "type": "object",
                "properties": {
                  "key": {
                    "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding).",
                    "type": "string"
                  },
                  "value": {
                    "description": "[Output Only] A warning data value corresponding to the key.",
                    "type": "string"
                  }
                }
              }
            },
            "code": {
              "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
              "type": "string",
              "enumDescriptions": [
                "Warning about failed cleanup of transient changes made by a failed operation.",
                "A link to a deprecated resource was created.",
                "When deploying and at least one of the resources has a type marked as deprecated",
                "The user created a boot disk that is larger than image size.",
                "When deploying and at least one of the resources has a type marked as experimental",
                "Warning that is present in an external api call",
                "Warning that value of a field has been overridden. Deprecated unused field.",
                "The operation involved use of an injected kernel, which is deprecated.",
                "A WEIGHTED_MAGLEV backend service is associated with a health check that is not of type HTTP/HTTPS/HTTP2.",
                "When deploying a deployment with a exceedingly large number of resources",
                "A resource depends on a missing type",
                "The route's nextHopIp address is not assigned to an instance on the network.",
                "The route's next hop instance cannot ip forward.",
                "The route's nextHopInstance URL refers to an instance that does not have an ipv6 interface on the same network as the route.",
                "The route's nextHopInstance URL refers to an instance that does not exist.",
                "The route's nextHopInstance URL refers to an instance that is not on the same network as the route.",
                "The route's next hop instance does not have a status of RUNNING.",
                "Error which is not critical. We decided to continue the process despite the mentioned error.",
                "No results are present on a particular list page.",
                "Success is reported, but some results may be missing due to errors",
                "The user attempted to use a resource that requires a TOS they have not accepted.",
                "Warning that a resource is in use.",
                "One or more of the resources set to auto-delete could not be deleted because they were in use.",
                "When a resource schema validation is ignored.",
                "Instance template used in instance group manager is valid as such, but its application does not make a lot of sense, because it allows only single instance in instance group.",
                "When undeclared properties in the schema are present",
                "A given scope cannot be reached."
              ],
              "enum": [
                "CLEANUP_FAILED",
                "DEPRECATED_RESOURCE_USED",
                "DEPRECATED_TYPE_USED",
                "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
                "EXPERIMENTAL_TYPE_USED",
                "EXTERNAL_API_WARNING",
                "FIELD_VALUE_OVERRIDEN",
                "INJECTED_KERNELS_DEPRECATED",
                "INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB",
                "LARGE_DEPLOYMENT_WARNING",
                "MISSING_TYPE_DEPENDENCY",
                "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
                "NEXT_HOP_CANNOT_IP_FORWARD",
                "NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE",
                "NEXT_HOP_INSTANCE_NOT_FOUND",
                "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
                "NEXT_HOP_NOT_RUNNING",
                "NOT_CRITICAL_ERROR",
                "NO_RESULTS_ON_PAGE",
                "PARTIAL_SUCCESS",
                "REQUIRED_TOS_AGREEMENT",
                "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
                "RESOURCE_NOT_DELETED",
                "SCHEMA_VALIDATION_IGNORED",
                "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
                "UNDECLARED_PROPERTIES",
                "UNREACHABLE"
              ]
            }
          }
        }
      },
      "type": "object"
    },
    "ReservationAggregatedList": {
      "id": "ReservationAggregatedList",
      "description": "Contains a list of reservations.",
      "properties": {
        "id": {
          "type": "string",
          "description": "[Output Only] Unique identifier for the resource; defined by the server."
        },
        "warning": {
          "properties": {
            "data": {
              "type": "array",
              "description": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" } ",
              "items": {
                "properties": {
                  "value": {
                    "type": "string",
                    "description": "[Output Only] A warning data value corresponding to the key."
                  },
                  "key": {
                    "type": "string",
                    "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
                  }
                },
                "type": "object"
              }
            },
            "code": {
              "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
              "enumDescriptions": [
                "Warning about failed cleanup of transient changes made by a failed operation.",
                "A link to a deprecated resource was created.",
                "When deploying and at least one of the resources has a type marked as deprecated",
                "The user created a boot disk that is larger than image size.",
                "When deploying and at least one of the resources has a type marked as experimental",
                "Warning that is present in an external api call",
                "Warning that value of a field has been overridden. Deprecated unused field.",
                "The operation involved use of an injected kernel, which is deprecated.",
                "A WEIGHTED_MAGLEV backend service is associated with a health check that is not of type HTTP/HTTPS/HTTP2.",
                "When deploying a deployment with a exceedingly large number of resources",
                "A resource depends on a missing type",
                "The route's nextHopIp address is not assigned to an instance on the network.",
                "The route's next hop instance cannot ip forward.",
                "The route's nextHopInstance URL refers to an instance that does not have an ipv6 interface on the same network as the route.",
                "The route's nextHopInstance URL refers to an instance that does not exist.",
                "The route's nextHopInstance URL refers to an instance that is not on the same network as the route.",
                "The route's next hop instance does not have a status of RUNNING.",
                "Error which is not critical. We decided to continue the process despite the mentioned error.",
                "No results are present on a particular list page.",
                "Success is reported, but some results may be missing due to errors",
                "The user attempted to use a resource that requires a TOS they have not accepted.",
                "Warning that a resource is in use.",
                "One or more of the resources set to auto-delete could not be deleted because they were in use.",
                "When a resource schema validation is ignored.",
                "Instance template used in instance group manager is valid as such, but its application does not make a lot of sense, because it allows only single instance in instance group.",
                "When undeclared properties in the schema are present",
                "A given scope cannot be reached."
              ],
              "type": "string",
              "enum": [
                "CLEANUP_FAILED",
                "DEPRECATED_RESOURCE_USED",
                "DEPRECATED_TYPE_USED",
                "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
                "EXPERIMENTAL_TYPE_USED",
                "EXTERNAL_API_WARNING",
[...]
