{
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    }
  },
  "basePath": "/content/v2/",
  "name": "content",
  "mtlsRootUrl": "https://shoppingcontent.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "schemas": {
    "TestOrderLineItemProduct": {
      "type": "object",
      "properties": {
        "condition": {
          "description": "Required. Condition or state of the item. Acceptable values are: - \"`new`\" ",
          "type": "string"
        },
        "mpn": {
          "description": "Manufacturer Part Number (MPN) of the item. Optional.",
          "type": "string"
        },
        "imageLink": {
          "type": "string",
          "description": "Required. URL of an image of the item."
        },
        "price": {
          "$ref": "Price",
          "description": "Required. The price for the product. Tax is automatically calculated for orders where marketplace facilitator tax laws are applicable. Otherwise, tax settings from Merchant Center are applied."
        },
        "contentLanguage": {
          "description": "Required. The two-letter ISO 639-1 language code for the item. Acceptable values are: - \"`en`\" - \"`fr`\" ",
          "type": "string"
        },
        "offerId": {
          "type": "string",
          "description": "Required. An identifier of the item."
        },
        "itemGroupId": {
          "description": "Shared identifier for all variants of the same product. Optional.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Required. The title of the product."
        },
        "channel": {
          "type": "string",
          "description": "Deprecated. Acceptable values are: - \"`online`\" "
        },
        "gtin": {
          "type": "string",
          "description": "Global Trade Item Number (GTIN) of the item. Optional."
        },
        "targetCountry": {
          "description": "Required. The CLDR territory // code of the target country of the product.",
          "type": "string"
        },
        "brand": {
          "description": "Required. Brand of the item.",
          "type": "string"
        },
        "fees": {
          "description": "Fees for the item. Optional.",
          "items": {
            "$ref": "OrderLineItemProductFee"
          },
          "type": "array"
        },
        "variantAttributes": {
          "type": "array",
          "description": "Variant attributes for the item. Optional.",
          "items": {
            "$ref": "OrderLineItemProductVariantAttribute"
          }
        }
      },
      "id": "TestOrderLineItemProduct"
    },
    "PosListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#posListResponse\".",
          "type": "string"
        },
        "resources": {
          "items": {
            "$ref": "PosStore"
          },
          "type": "array"
        }
      },
      "id": "PosListResponse"
    },
    "Amount": {
      "type": "object",
      "properties": {
        "pretax": {
          "$ref": "Price",
          "description": "[required] Value before taxes."
        },
        "tax": {
          "description": "[required] Tax value.",
          "$ref": "Price"
        }
      },
      "id": "Amount"
    },
    "DatafeedsCustomBatchResponse": {
      "type": "object",
      "id": "DatafeedsCustomBatchResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#datafeedsCustomBatchResponse\".",
          "type": "string"
        },
        "entries": {
          "items": {
            "$ref": "DatafeedsCustomBatchResponseEntry"
          },
          "description": "The result of the execution of the batch requests.",
          "type": "array"
        }
      }
    },
    "DatafeedstatusesCustomBatchRequest": {
      "type": "object",
      "id": "DatafeedstatusesCustomBatchRequest",
      "properties": {
        "entries": {
          "description": "The request entries to be processed in the batch.",
          "items": {
            "$ref": "DatafeedstatusesCustomBatchRequestEntry"
          },
          "type": "array"
        }
      }
    },
    "OrderPickupDetailsCollector": {
      "type": "object",
      "id": "OrderPickupDetailsCollector",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the person picking up the shipment."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Phone number of the person picking up the shipment."
        }
      }
    },
    "PosInventoryRequest": {
      "type": "object",
      "properties": {
        "quantity": {
          "type": "string",
          "description": "Required. The available quantity of the item.",
          "format": "int64"
        },
        "targetCountry": {
          "type": "string",
          "description": "Required. The CLDR territory code for the item."
        },
        "itemId": {
          "description": "Required. A unique identifier for the item.",
          "type": "string"
        },
        "price": {
          "$ref": "Price",
          "description": "Required. The current price of the item."
        },
        "timestamp": {
          "description": "Required. The inventory timestamp, in ISO 8601 format.",
          "type": "string"
        },
        "contentLanguage": {
          "description": "Required. The two-letter ISO 639-1 language code for the item.",
          "type": "string"
        },
        "gtin": {
          "description": "Global Trade Item Number.",
          "type": "string"
        },
        "storeCode": {
          "type": "string",
          "description": "Required. The identifier of the merchant's store. Either a `storeCode` inserted via the API or the code of the store in Google My Business."
        }
      },
      "id": "PosInventoryRequest"
    },
    "PosCustomBatchRequest": {
      "id": "PosCustomBatchRequest",
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "description": "The request entries to be processed in the batch.",
          "items": {
            "$ref": "PosCustomBatchRequestEntry"
          }
        }
      }
    },
    "OrdersCustomBatchRequestEntryUpdateShipment": {
      "type": "object",
      "id": "OrdersCustomBatchRequestEntryUpdateShipment",
      "properties": {
        "status": {
          "type": "string",
          "description": "New status for the shipment. Not updated if missing. Acceptable values are: - \"`delivered`\" - \"`undeliverable`\" - \"`readyForPickup`\" "
        },
        "shipmentId": {
          "type": "string",
          "description": "The ID of the shipment."
        },
        "carrier": {
          "type": "string",
          "description": "The carrier handling the shipment. Not updated if missing. See `shipments[].carrier` in the Orders resource representation for a list of acceptable values."
        },
        "trackingId": {
          "type": "string",
          "description": "The tracking ID for the shipment. Not updated if missing."
        },
        "deliveryDate": {
          "description": "Date on which the shipment has been delivered, in ISO 8601 format. Optional and can be provided only if `status` is `delivered`.",
          "type": "string"
        }
      }
    },
    "DatafeedFetchSchedule": {
      "description": "The required fields vary based on the frequency of fetching. For a monthly fetch schedule, day_of_month and hour are required. For a weekly fetch schedule, weekday and hour are required. For a daily fetch schedule, only hour is required.",
      "id": "DatafeedFetchSchedule",
      "properties": {
        "weekday": {
          "description": "The day of the week the feed file should be fetched. Acceptable values are: - \"`monday`\" - \"`tuesday`\" - \"`wednesday`\" - \"`thursday`\" - \"`friday`\" - \"`saturday`\" - \"`sunday`\" ",
          "type": "string"
        },
        "timeZone": {
          "description": "Time zone used for schedule. UTC by default. E.g., \"America/Los_Angeles\".",
          "type": "string"
        },
        "dayOfMonth": {
          "description": "The day of the month the feed file should be fetched (1-31).",
          "type": "integer",
          "format": "uint32"
        },
        "hour": {
          "format": "uint32",
          "description": "The hour of the day the feed file should be fetched (0-23).",
          "type": "integer"
        },
        "fetchUrl": {
          "description": "The URL where the feed file can be fetched. Google Merchant Center will support automatic scheduled uploads using the HTTP, HTTPS, FTP, or SFTP protocols, so the value will need to be a valid link using one of those four protocols.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "An optional user name for fetch_url."
        },
        "password": {
          "type": "string",
          "description": "An optional password for fetch_url."
        },
        "minuteOfHour": {
          "description": "The minute of the hour the feed file should be fetched (0-59). Read-only.",
          "format": "uint32",
          "type": "integer"
        },
        "paused": {
          "type": "boolean",
          "description": "Whether the scheduled fetch is paused or not."
        }
      },
      "type": "object"
    },
    "GmbAccounts": {
      "id": "GmbAccounts",
      "properties": {
        "accountId": {
          "description": "The ID of the Merchant Center account.",
          "format": "uint64",
          "type": "string"
        },
        "gmbAccounts": {
          "type": "array",
          "items": {
            "$ref": "GmbAccountsGmbAccount"
          },
          "description": "A list of GMB accounts which are available to the merchant."
        }
      },
      "type": "object"
    },
    "OrdersCustomBatchRequestEntryShipLineItems": {
      "id": "OrdersCustomBatchRequestEntryShipLineItems",
      "properties": {
        "shipmentGroupId": {
          "description": "ID of the shipment group. Required for orders that use the orderinvoices service.",
          "type": "string"
        },
        "shipmentId": {
          "type": "string",
          "description": "Deprecated. Please use shipmentInfo instead. The ID of the shipment."
        },
        "carrier": {
          "type": "string",
          "description": "Deprecated. Please use shipmentInfo instead. The carrier handling the shipment. See `shipments[].carrier` in the Orders resource representation for a list of acceptable values."
        },
        "trackingId": {
          "description": "Deprecated. Please use shipmentInfo instead. The tracking ID for the shipment.",
          "type": "string"
        },
        "shipmentInfos": {
          "description": "Shipment information. This field is repeated because a single line item can be shipped in several packages (and have several tracking IDs).",
          "items": {
            "$ref": "OrdersCustomBatchRequestEntryShipLineItemsShipmentInfo"
          },
          "type": "array"
        },
        "lineItems": {
          "items": {
            "$ref": "OrderShipmentLineItemShipment"
          },
          "description": "Line items to ship.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "WarehouseCutoffTime": {
      "type": "object",
      "id": "WarehouseCutoffTime",
      "properties": {
        "hour": {
          "description": "Required. Hour (24-hour clock) of the cutoff time until which an order has to be placed to be processed in the same day by the warehouse. Hour is based on the timezone of warehouse.",
          "format": "int32",
          "type": "integer"
        },
        "minute": {
          "type": "integer",
          "description": "Required. Minute of the cutoff time until which an order has to be placed to be processed in the same day by the warehouse. Minute is based on the timezone of warehouse.",
          "format": "int32"
        }
      }
    },
    "Price": {
      "properties": {
        "currency": {
          "description": "The currency of the price.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The price represented as a number."
        }
      },
      "id": "Price",
      "type": "object"
    },
    "AccountCustomerService": {
      "properties": {
        "url": {
          "type": "string",
          "description": "Customer service URL."
        },
        "phoneNumber": {
          "description": "Customer service phone number.",
          "type": "string"
        },
        "email": {
          "description": "Customer service email.",
          "type": "string"
        }
      },
      "id": "AccountCustomerService",
      "type": "object"
    },
    "OrdersRejectReturnLineItemRequest": {
      "type": "object",
      "properties": {
        "operationId": {
          "type": "string",
          "description": "The ID of the operation. Unique across all operations for a given order."
        },
        "reason": {
          "type": "string",
          "description": "The reason for the return. Acceptable values are: - \"`damagedOrUsed`\" - \"`missingComponent`\" - \"`notEligible`\" - \"`other`\" - \"`outOfReturnWindow`\" "
        },
        "quantity": {
          "format": "uint32",
          "description": "The quantity to return and refund.",
          "type": "integer"
        },
        "lineItemId": {
          "description": "The ID of the line item to return. Either lineItemId or productId is required.",
          "type": "string"
        },
        "productId": {
          "description": "The ID of the product to return. This is the REST ID used in the products service. Either lineItemId or productId is required.",
          "type": "string"
        },
        "reasonText": {
          "type": "string",
          "description": "The explanation of the reason."
        }
      },
      "id": "OrdersRejectReturnLineItemRequest"
    },
    "UnitInvoiceTaxLine": {
      "id": "UnitInvoiceTaxLine",
      "properties": {
        "taxType": {
          "description": "[required] Type of the tax. Acceptable values are: - \"`otherFee`\" - \"`otherFeeTax`\" - \"`sales`\" ",
          "type": "string"
        },
        "taxName": {
          "type": "string",
          "description": "Optional name of the tax type. This should only be provided if `taxType` is `otherFeeTax`."
        },
        "taxAmount": {
          "description": "[required] Tax amount for the tax type.",
          "$ref": "Price"
        }
      },
      "type": "object"
    },
    "ProductStatusDestinationStatus": {
      "id": "ProductStatusDestinationStatus",
      "type": "object",
      "properties": {
        "intention": {
          "description": "Provided for backward compatibility only. Always set to \"required\". Acceptable values are: - \"`default`\" - \"`excluded`\" - \"`optional`\" - \"`required`\" ",
          "type": "string"
        },
        "destination": {
          "description": "The name of the destination",
          "type": "string"
        },
        "approvalPending": {
          "description": "Whether the approval status might change due to further processing.",
          "type": "boolean"
        },
        "approvalStatus": {
          "description": "The destination's approval status. Acceptable values are: - \"`approved`\" - \"`disapproved`\" ",
          "type": "string"
        }
      }
    },
    "Value": {
      "type": "object",
      "id": "Value",
      "properties": {
        "noShipping": {
          "type": "boolean",
          "description": "If true, then the product can't ship. Must be true when set, can only be set if all other fields are not set."
        },
        "pricePercentage": {
          "description": "A percentage of the price represented as a number in decimal notation (e.g., `\"5.4\"`). Can only be set if all other fields are not set.",
          "type": "string"
        },
        "subtableName": {
          "description": "The name of a subtable. Can only be set in table cells (i.e., not for single values), and only if all other fields are not set.",
          "type": "string"
        },
        "flatRate": {
          "description": "A flat rate. Can only be set if all other fields are not set.",
          "$ref": "Price"
        },
        "carrierRateName": {
          "description": "The name of a carrier rate referring to a carrier rate defined in the same rate group. Can only be set if all other fields are not set.",
          "type": "string"
        }
      },
      "description": "The single value of a rate group or the value of a rate group table's cell. Exactly one of `noShipping`, `flatRate`, `pricePercentage`, `carrierRateName`, `subtableName` must be set."
    },
    "OrderReportTransaction": {
      "properties": {
        "disbursementAmount": {
          "description": "The disbursement amount.",
          "$ref": "Price"
        },
        "merchantId": {
          "type": "string",
          "format": "uint64",
          "description": "The ID of the managing account."
        },
        "merchantOrderId": {
          "description": "Merchant-provided ID of the order.",
          "type": "string"
        },
        "transactionDate": {
          "description": "The date of the transaction, in ISO 8601 format.",
          "type": "string"
        },
        "productAmountWithRemittedTax": {
          "description": "Total amount with remitted tax for the items.",
          "$ref": "ProductAmount"
        },
        "disbursementCreationDate": {
          "description": "The date the disbursement was created, in ISO 8601 format.",
          "type": "string"
        },
        "productAmount": {
          "description": "Total amount for the items.",
          "$ref": "Amount"
        },
        "disbursementDate": {
          "type": "string",
          "description": "The date the disbursement was initiated, in ISO 8601 format."
        },
        "orderId": {
          "type": "string",
          "description": "The ID of the order."
        },
        "disbursementId": {
          "type": "string",
          "description": "The ID of the disbursement."
        }
      },
      "id": "OrderReportTransaction",
      "type": "object"
    },
    "AccountsLinkResponse": {
      "id": "AccountsLinkResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountsLinkResponse\"."
        }
      },
      "type": "object"
    },
    "ProductstatusesCustomBatchResponseEntry": {
      "description": "A batch entry encoding a single non-batch productstatuses response.",
      "id": "ProductstatusesCustomBatchResponseEntry",
      "type": "object",
      "properties": {
        "errors": {
          "description": "A list of errors, if the request failed.",
          "$ref": "Errors"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#productstatusesCustomBatchResponseEntry`\"",
          "type": "string"
        },
        "batchId": {
          "type": "integer",
          "format": "uint32",
          "description": "The ID of the request entry this entry responds to."
        },
        "productStatus": {
          "$ref": "ProductStatus",
          "description": "The requested product status. Only defined if the request was successful."
        }
      }
    },
    "HolidaysHoliday": {
      "type": "object",
      "id": "HolidaysHoliday",
      "properties": {
        "deliveryGuaranteeHour": {
          "type": "string",
          "description": "Hour of the day in the delivery location's timezone on the guaranteed delivery date by which the order has to arrive at the customer's. Possible values are: 0 (midnight), 1, ..., 12 (noon), 13, ..., 23. Always present.",
          "format": "uint64"
        },
        "countryCode": {
          "type": "string",
          "description": "The CLDR territory code of the country in which the holiday is available. E.g. \"US\", \"DE\", \"GB\". A holiday cutoff can only be configured in a shipping settings service with matching delivery country. Always present."
        },
        "type": {
          "type": "string",
          "description": "The holiday type. Always present. Acceptable values are: - \"`Christmas`\" - \"`Easter`\" - \"`Father's Day`\" - \"`Halloween`\" - \"`Independence Day (USA)`\" - \"`Mother's Day`\" - \"`Thanksgiving`\" - \"`Valentine's Day`\" "
        },
        "deliveryGuaranteeDate": {
          "type": "string",
          "description": "Date on which the order has to arrive at the customer's, in ISO 8601 format. E.g. \"2016-12-24\" for 24th December 2016. Always present."
        },
        "id": {
          "description": "Unique identifier for the holiday to be used when configuring holiday cutoffs. Always present.",
          "type": "string"
        },
        "date": {
          "type": "string",
          "description": "Date of the holiday, in ISO 8601 format. E.g. \"2016-12-25\" for Christmas 2016. Always present."
        }
      }
    },
    "CustomerReturnReason": {
      "id": "CustomerReturnReason",
      "type": "object",
      "properties": {
        "reasonCode": {
          "description": "Code of the return reason. Acceptable values are: - \"`betterPriceFound`\" - \"`changedMind`\" - \"`damagedOrDefectiveItem`\" - \"`didNotMatchDescription`\" - \"`doesNotFit`\" - \"`expiredItem`\" - \"`incorrectItemReceived`\" - \"`noLongerNeeded`\" - \"`notSpecified`\" - \"`orderedWrongItem`\" - \"`other`\" - \"`qualityNotExpected`\" - \"`receivedTooLate`\" - \"`undeliverable`\" ",
          "type": "string"
        },
        "description": {
          "description": "Description of the reason.",
          "type": "string"
        }
      }
    },
    "OrderReportDisbursement": {
      "type": "object",
      "properties": {
        "disbursementDate": {
          "description": "The date the disbursement was initiated, in ISO 8601 format.",
          "type": "string"
        },
        "disbursementCreationDate": {
          "type": "string",
          "description": "The disbursement date, in ISO 8601 format."
        },
        "disbursementId": {
          "type": "string",
          "description": "The ID of the disbursement."
        },
        "merchantId": {
          "type": "string",
          "format": "uint64",
          "description": "The ID of the managing account."
        },
        "disbursementAmount": {
          "description": "The disbursement amount.",
          "$ref": "Price"
        }
      },
      "id": "OrderReportDisbursement",
      "description": "Order disbursement. All methods require the payment analyst role."
    },
    "AccountstatusesCustomBatchRequestEntry": {
      "type": "object",
      "properties": {
        "method": {
          "type": "string",
          "description": "The method of the batch entry. Acceptable values are: - \"`get`\" "
        },
        "accountId": {
          "format": "uint64",
          "type": "string",
          "description": "The ID of the (sub-)account whose status to get."
        },
        "batchId": {
          "format": "uint32",
          "type": "integer",
          "description": "An entry ID, unique within the batch request."
        },
        "destinations": {
          "items": {
            "type": "string"
          },
          "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
          "type": "array"
        },
        "merchantId": {
          "format": "uint64",
          "type": "string",
          "description": "The ID of the managing account."
        }
      },
      "description": "A batch entry encoding a single non-batch accountstatuses request.",
      "id": "AccountstatusesCustomBatchRequestEntry"
    },
    "DatafeedFormat": {
      "id": "DatafeedFormat",
      "properties": {
        "fileEncoding": {
          "description": "Character encoding scheme of the data feed. If not specified, the encoding will be auto-detected. Acceptable values are: - \"`latin-1`\" - \"`utf-16be`\" - \"`utf-16le`\" - \"`utf-8`\" - \"`windows-1252`\" ",
          "type": "string"
        },
        "columnDelimiter": {
          "type": "string",
          "description": "Delimiter for the separation of values in a delimiter-separated values feed. If not specified, the delimiter will be auto-detected. Ignored for non-DSV data feeds. Acceptable values are: - \"`pipe`\" - \"`tab`\" - \"`tilde`\" "
        },
        "quotingMode": {
          "description": "Specifies how double quotes are interpreted. If not specified, the mode will be auto-detected. Ignored for non-DSV data feeds. Acceptable values are: - \"`normal character`\" - \"`value quoting`\" ",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OrdersSetLineItemMetadataResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersSetLineItemMetadataResponse\".",
          "type": "string"
        },
        "executionStatus": {
          "type": "string",
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" "
        }
      },
      "id": "OrdersSetLineItemMetadataResponse",
      "type": "object"
    },
    "ProductsCustomBatchRequest": {
      "properties": {
        "entries": {
          "type": "array",
          "description": "The request entries to be processed in the batch.",
          "items": {
            "$ref": "ProductsCustomBatchRequestEntry"
          }
        }
      },
      "type": "object",
      "id": "ProductsCustomBatchRequest"
    },
    "DatafeedstatusesListResponse": {
      "type": "object",
      "id": "DatafeedstatusesListResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token for the retrieval of the next page of datafeed statuses."
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "DatafeedStatus"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#datafeedstatusesListResponse\"."
        }
      }
    },
    "ProductsCustomBatchResponseEntry": {
      "description": "A batch entry encoding a single non-batch products response.",
      "id": "ProductsCustomBatchResponseEntry",
      "properties": {
        "batchId": {
          "description": "The ID of the request entry this entry responds to.",
          "format": "uint32",
          "type": "integer"
        },
        "errors": {
          "$ref": "Errors",
          "description": "A list of errors defined if and only if the request failed."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#productsCustomBatchResponseEntry`\""
        },
        "product": {
          "$ref": "Product",
          "description": "The inserted product. Only defined if the method is `insert` and if the request was successful."
        }
      },
      "type": "object"
    },
    "ShippingsettingsGetSupportedCarriersResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#shippingsettingsGetSupportedCarriersResponse\".",
          "type": "string"
        },
        "carriers": {
          "type": "array",
          "items": {
            "$ref": "CarriersCarrier"
          },
          "description": "A list of supported carriers. May be empty."
        }
      },
      "type": "object",
      "id": "ShippingsettingsGetSupportedCarriersResponse"
    },
    "OrdersReturnRefundLineItemRequest": {
      "type": "object",
      "properties": {
        "operationId": {
          "description": "The ID of the operation. Unique across all operations for a given order.",
          "type": "string"
        },
        "reasonText": {
          "description": "The explanation of the reason.",
          "type": "string"
        },
        "quantity": {
          "format": "uint32",
          "type": "integer",
          "description": "The quantity to return and refund. Quantity is required."
        },
        "amountPretax": {
          "description": "The amount that is refunded. If omitted, refundless return is assumed (same as calling returnLineItem method).",
          "$ref": "Price"
        },
        "reason": {
          "description": "The reason for the return. Acceptable values are: - \"`customerDiscretionaryReturn`\" - \"`customerInitiatedMerchantCancel`\" - \"`deliveredTooLate`\" - \"`expiredItem`\" - \"`invalidCoupon`\" - \"`malformedShippingAddress`\" - \"`other`\" - \"`productArrivedDamaged`\" - \"`productNotAsDescribed`\" - \"`qualityNotAsExpected`\" - \"`undeliverableShippingAddress`\" - \"`unsupportedPoBoxAddress`\" - \"`wrongProductShipped`\" ",
          "type": "string"
        },
        "lineItemId": {
          "description": "The ID of the line item to return. Either lineItemId or productId is required.",
          "type": "string"
        },
        "productId": {
          "description": "The ID of the product to return. This is the REST ID used in the products service. Either lineItemId or productId is required.",
          "type": "string"
        },
        "amountTax": {
          "$ref": "Price",
          "description": "Tax amount that corresponds to refund amount in amountPretax. Optional, but if filled, then amountPretax must be set. Calculated automatically if not provided."
        }
      },
      "id": "OrdersReturnRefundLineItemRequest"
    },
    "AccountsClaimWebsiteResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountsClaimWebsiteResponse\"."
        }
      },
      "type": "object",
      "id": "AccountsClaimWebsiteResponse"
    },
    "DatafeedsListResponse": {
      "id": "DatafeedsListResponse",
      "properties": {
        "resources": {
          "items": {
            "$ref": "Datafeed"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for the retrieval of the next page of datafeeds."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#datafeedsListResponse\"."
        }
      },
      "type": "object"
    },
    "AccountStatus": {
      "description": "The status of an account, i.e., information about its products, which is computed offline and not returned immediately at insertion time.",
      "type": "object",
      "properties": {
        "websiteClaimed": {
          "type": "boolean",
          "description": "Whether the account's website is claimed or not."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accountStatus`\""
        },
        "accountLevelIssues": {
          "type": "array",
          "description": "A list of account level issues.",
          "items": {
            "$ref": "AccountStatusAccountLevelIssue"
          }
        },
        "dataQualityIssues": {
          "type": "array",
          "description": "DEPRECATED - never populated.",
          "items": {
            "$ref": "AccountStatusDataQualityIssue"
          }
        },
        "products": {
          "items": {
            "$ref": "AccountStatusProducts"
          },
          "type": "array",
          "description": "List of product-related data by channel, destination, and country. Data in this field may be delayed by up to 30 minutes."
        },
        "accountId": {
          "description": "The ID of the account for which the status is reported.",
          "type": "string"
        }
      },
      "id": "AccountStatus"
    },
    "OrderLegacyPromotionBenefit": {
      "properties": {
        "type": {
          "description": "Describes whether the promotion applies to products (e.g. 20% off) or to shipping (e.g. Free Shipping). Acceptable values are: - \"`product`\" - \"`shipping`\" ",
          "type": "string"
        },
        "offerIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The OfferId(s) that were purchased in this order and map to this specific benefit of the promotion."
        },
        "subType": {
          "type": "string",
          "description": "Further describes the benefit of the promotion. Note that we will expand on this enumeration as we support new promotion sub-types. Acceptable values are: - \"`buyMGetMoneyOff`\" - \"`buyMGetNMoneyOff`\" - \"`buyMGetNPercentOff`\" - \"`buyMGetPercentOff`\" - \"`freeGift`\" - \"`freeGiftWithItemId`\" - \"`freeGiftWithValue`\" - \"`freeOvernightShipping`\" - \"`freeShipping`\" - \"`freeTwoDayShipping`\" - \"`moneyOff`\" - \"`percentageOff`\" - \"`rewardPoints`\" - \"`salePrice`\" "
        },
        "discount": {
          "$ref": "Price",
          "description": "The discount in the order price when the promotion is applied."
        },
        "taxImpact": {
          "$ref": "Price",
          "description": "The impact on tax when the promotion is applied."
        }
      },
      "type": "object",
      "id": "OrderLegacyPromotionBenefit"
    },
    "PickupServicesPickupService": {
      "type": "object",
      "id": "PickupServicesPickupService",
      "properties": {
        "country": {
          "description": "The CLDR country code of the carrier (e.g., \"US\"). Always present.",
          "type": "string"
        },
        "carrierName": {
          "description": "The name of the carrier (e.g., `\"UPS\"`). Always present.",
          "type": "string"
        },
        "serviceName": {
          "description": "The name of the pickup service (e.g., `\"Access point\"`). Always present.",
          "type": "string"
        }
      }
    },
    "ProductstatusesCustomBatchRequest": {
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "ProductstatusesCustomBatchRequestEntry"
          },
          "description": "The request entries to be processed in the batch."
        }
      },
      "id": "ProductstatusesCustomBatchRequest",
      "type": "object"
    },
    "ProductsListResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of products.",
          "type": "string"
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "Product"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#productsListResponse\"."
        }
      },
      "id": "ProductsListResponse"
    },
    "Weight": {
      "id": "Weight",
      "type": "object",
      "properties": {
        "value": {
          "description": "Required. The weight represented as a number. The weight can have a maximum precision of four decimal places.",
          "type": "string"
        },
        "unit": {
          "description": "Required. The weight unit. Acceptable values are: - \"`kg`\" - \"`lb`\" ",
          "type": "string"
        }
      }
    },
    "OrdersUpdateMerchantOrderIdResponse": {
      "type": "object",
      "id": "OrdersUpdateMerchantOrderIdResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersUpdateMerchantOrderIdResponse\".",
          "type": "string"
        },
        "executionStatus": {
          "type": "string",
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" "
        }
      }
    },
    "OrderShipment": {
      "properties": {
        "scheduledDeliveryDetails": {
          "description": "Delivery details of the shipment if scheduling is needed.",
          "$ref": "OrderShipmentScheduledDeliveryDetails"
        },
        "deliveryDate": {
          "type": "string",
          "description": "Date on which the shipment has been delivered, in ISO 8601 format. Present only if `status` is `delivered`"
        },
        "carrier": {
          "description": "The carrier handling the shipment. For supported carriers, Google includes the carrier name and tracking URL in emails to customers. For select supported carriers, Google also automatically updates the shipment status based on the provided shipment ID. *Note:* You can also use unsupported carriers, but emails to customers will not include the carrier name or tracking URL, and there will be no automatic order status updates. Supported carriers for US are: - \"`ups`\" (United Parcel Service) *automatic status updates* - \"`usps`\" (United States Postal Service) *automatic status updates* - \"`fedex`\" (FedEx) *automatic status updates * - \"`dhl`\" (DHL eCommerce) *automatic status updates* (US only) - \"`ontrac`\" (OnTrac) *automatic status updates * - \"`dhl express`\" (DHL Express) - \"`deliv`\" (Deliv) - \"`dynamex`\" (TForce) - \"`lasership`\" (LaserShip) - \"`mpx`\" (Military Parcel Xpress) - \"`uds`\" (United Delivery Service) - \"`efw`\" (Estes Forwarding Worldwide) - \"`jd logistics`\" (JD Logistics) - \"`yunexpress`\" (YunExpress) - \"`china post`\" (China Post) - \"`china ems`\" (China Post Express Mail Service) - \"`singapore post`\" (Singapore Post) - \"`pos malaysia`\" (Pos Malaysia) - \"`postnl`\" (PostNL) - \"`ptt`\" (PTT Turkish Post) - \"`eub`\" (ePacket) - \"`chukou1`\" (Chukou1 Logistics) - \"`bestex`\" (Best Express) - \"`canada post`\" (Canada Post) - \"`purolator`\" (Purolator) - \"`canpar`\" (Canpar) - \"`india post`\" (India Post) - \"`blue dart`\" (Blue Dart) - \"`delhivery`\" (Delhivery) - \"`dtdc`\" (DTDC) - \"`tpc india`\" (TPC India) Supported carriers for FR are: - \"`la poste`\" (La Poste) *automatic status updates * - \"`colissimo`\" (Colissimo by La Poste) *automatic status updates* - \"`ups`\" (United Parcel Service) *automatic status updates * - \"`chronopost`\" (Chronopost by La Poste) - \"`gls`\" (General Logistics Systems France) - \"`dpd`\" (DPD Group by GeoPost) - \"`bpost`\" (Belgian Post Group) - \"`colis prive`\" (Colis Privé) - \"`boxtal`\" (Boxtal) - \"`geodis`\" (GEODIS) - \"`tnt`\" (TNT) - \"`db schenker`\" (DB Schenker) - \"`aramex`\" (Aramex) ",
          "type": "string"
        },
        "lineItems": {
          "description": "The line items that are shipped.",
          "items": {
            "$ref": "OrderShipmentLineItemShipment"
          },
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "The ID of the shipment."
        },
        "creationDate": {
          "description": "Date on which the shipment has been created, in ISO 8601 format.",
          "type": "string"
        },
        "trackingId": {
          "description": "The tracking ID for the shipment.",
          "type": "string"
        },
        "status": {
          "description": "The status of the shipment. Acceptable values are: - \"`delivered`\" - \"`readyForPickup`\" - \"`shipped`\" - \"`undeliverable`\" ",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OrderShipment"
    },
    "OrdersAcknowledgeResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersAcknowledgeResponse\".",
          "type": "string"
        },
        "executionStatus": {
          "type": "string",
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" "
        }
      },
      "id": "OrdersAcknowledgeResponse"
    },
    "OrdersReturnLineItemResponse": {
      "properties": {
        "executionStatus": {
          "type": "string",
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" "
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersReturnLineItemResponse\"."
        }
      },
      "type": "object",
      "id": "OrdersReturnLineItemResponse"
    },
    "OrderreportsListDisbursementsResponse": {
      "type": "object",
      "id": "OrderreportsListDisbursementsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token for the retrieval of the next page of disbursements."
        },
        "disbursements": {
          "type": "array",
          "description": "The list of disbursements.",
          "items": {
            "$ref": "OrderReportDisbursement"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#orderreportsListDisbursementsResponse\".",
          "type": "string"
        }
      }
    },
    "DatafeedsFetchNowResponse": {
      "id": "DatafeedsFetchNowResponse",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#datafeedsFetchNowResponse\"."
        }
      }
    },
    "OrdersRefundRequest": {
      "type": "object",
      "id": "OrdersRefundRequest",
      "properties": {
        "amount": {
          "description": "Deprecated. Please use amountPretax and amountTax instead.",
          "$ref": "Price"
        },
        "reasonText": {
          "type": "string",
          "description": "The explanation of the reason."
        },
        "amountTax": {
          "$ref": "Price",
          "description": "Tax amount that corresponds to refund amount in amountPretax. Optional, but if filled, amountPretax must be set. Calculated automatically if not provided."
        },
        "amountPretax": {
          "$ref": "Price",
          "description": "The amount that is refunded. Either amount or amountPretax should be filled."
        },
        "reason": {
          "type": "string",
          "description": "The reason for the refund. Acceptable values are: - \"`adjustment`\" - \"`courtesyAdjustment`\" - \"`customerCanceled`\" - \"`customerDiscretionaryReturn`\" - \"`deliveredLateByCarrier`\" - \"`feeAdjustment`\" - \"`lateShipmentCredit`\" - \"`noInventory`\" - \"`other`\" - \"`priceError`\" - \"`productArrivedDamaged`\" - \"`productNotAsDescribed`\" - \"`shippingCostAdjustment`\" - \"`taxAdjustment`\" - \"`undeliverableShippingAddress`\" - \"`wrongProductShipped`\" "
        },
        "operationId": {
          "type": "string",
          "description": "The ID of the operation. Unique across all operations for a given order."
        }
      }
    },
    "LiaAboutPageSettings": {
      "id": "LiaAboutPageSettings",
      "properties": {
        "status": {
          "description": "The status of the verification process for the About page. Acceptable values are: - \"`active`\" - \"`inactive`\" - \"`pending`\" ",
          "type": "string"
        },
        "url": {
          "description": "The URL for the About page.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TestOrderLineItem": {
      "id": "TestOrderLineItem",
      "properties": {
        "product": {
          "$ref": "TestOrderLineItemProduct",
          "description": "Required. Product data from the time of the order placement."
        },
        "unitTax": {
          "$ref": "Price",
          "description": "Deprecated. Ignored if provided."
        },
        "quantityOrdered": {
          "format": "uint32",
          "description": "Required. Number of items ordered.",
          "type": "integer"
        },
        "shippingDetails": {
          "$ref": "OrderLineItemShippingDetails",
          "description": "Required. Details of the requested shipping for the line item."
        },
        "returnInfo": {
          "$ref": "OrderLineItemReturnInfo",
          "description": "Required. Details of the return policy for the line item."
        }
      },
      "type": "object"
    },
    "Service": {
      "id": "Service",
      "type": "object",
      "properties": {
        "minimumOrderValue": {
          "description": "Minimum order value for this service. If set, indicates that customers will have to spend at least this amount. All prices within a service must have the same currency. Cannot be set together with minimum_order_value_table.",
          "$ref": "Price"
        },
        "pickupService": {
          "$ref": "PickupCarrierService",
          "description": "The carrier-service pair delivering items to collection points. The list of supported pickup services can be retrieved via the `getSupportedPickupServices` method. Required if and only if the service delivery type is `pickup`."
        },
        "shipmentType": {
          "description": "Type of locations this service ships orders to. Acceptable values are: - \"`delivery`\" - \"`pickup`\" ",
          "type": "string"
        },
        "minimumOrderValueTable": {
          "description": "Table of per store minimum order values for the pickup fulfillment type. Cannot be set together with minimum_order_value.",
          "$ref": "MinimumOrderValueTable"
        },
        "active": {
          "description": "A boolean exposing the active status of the shipping service. Required.",
          "type": "boolean"
        },
        "rateGroups": {
          "items": {
            "$ref": "RateGroup"
          },
          "description": "Shipping rate group definitions. Only the last one is allowed to have an empty `applicableShippingLabels`, which means \"everything else\". The other `applicableShippingLabels` must not overlap.",
          "type": "array"
        },
        "currency": {
          "type": "string",
          "description": "The CLDR code of the currency to which this service applies. Must match that of the prices in rate groups."
        },
        "name": {
          "description": "Free-form name of the service. Must be unique within target account. Required.",
          "type": "string"
        },
        "deliveryCountry": {
          "type": "string",
          "description": "The CLDR territory code of the country to which the service applies. Required."
        },
        "eligibility": {
          "type": "string",
          "description": "Eligibility for this service. Acceptable values are: - \"`All scenarios`\" - \"`All scenarios except Shopping Actions`\" - \"`Shopping Actions`\" "
        },
        "deliveryTime": {
          "$ref": "DeliveryTime",
          "description": "Time spent in various aspects from order to the delivery of the product. Required."
        }
      }
    },
    "OrdersRejectReturnLineItemResponse": {
      "type": "object",
      "properties": {
        "executionStatus": {
          "type": "string",
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" "
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersRejectReturnLineItemResponse\".",
          "type": "string"
        }
      },
      "id": "OrdersRejectReturnLineItemResponse"
    },
    "ProductstatusesCustomBatchResponse": {
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "description": "The result of the execution of the batch requests.",
          "items": {
            "$ref": "ProductstatusesCustomBatchResponseEntry"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#productstatusesCustomBatchResponse\".",
          "type": "string"
        }
      },
      "id": "ProductstatusesCustomBatchResponse"
    },
    "OrderreportsListTransactionsResponse": {
      "type": "object",
      "id": "OrderreportsListTransactionsResponse",
      "properties": {
        "transactions": {
          "type": "array",
          "items": {
            "$ref": "OrderReportTransaction"
          },
          "description": "The list of transactions."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for the retrieval of the next page of transactions."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#orderreportsListTransactionsResponse\"."
        }
      }
    },
    "OrderinvoicesCreateChargeInvoiceResponse": {
      "id": "OrderinvoicesCreateChargeInvoiceResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#orderinvoicesCreateChargeInvoiceResponse\".",
          "type": "string"
        },
        "executionStatus": {
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" ",
          "type": "string"
        }
      }
    },
    "Headers": {
      "description": "A non-empty list of row or column headers for a table. Exactly one of `prices`, `weights`, `numItems`, `postalCodeGroupNames`, or `location` must be set.",
      "properties": {
        "weights": {
          "description": "A list of inclusive order weight upper bounds. The last weight's value can be `\"infinity\"`. For example `[{\"value\": \"10\", \"unit\": \"kg\"}, {\"value\": \"50\", \"unit\": \"kg\"}, {\"value\": \"infinity\", \"unit\": \"kg\"}]` represents the headers \"\u003c= 10kg\", \"\u003c= 50kg\", and \"\u003e 50kg\". All weights within a service must have the same unit. Must be non-empty. Can only be set if all other fields are not set.",
          "items": {
            "$ref": "Weight"
          },
          "type": "array"
        },
        "prices": {
          "type": "array",
          "items": {
            "$ref": "Price"
          },
          "description": "A list of inclusive order price upper bounds. The last price's value can be `\"infinity\"`. For example `[{\"value\": \"10\", \"currency\": \"USD\"}, {\"value\": \"500\", \"currency\": \"USD\"}, {\"value\": \"infinity\", \"currency\": \"USD\"}]` represents the headers \"\u003c= $10\", \"\u003c= $500\", and \"\u003e $500\". All prices within a service must have the same currency. Must be non-empty. Can only be set if all other fields are not set."
        },
        "locations": {
          "type": "array",
          "description": "A list of location ID sets. Must be non-empty. Can only be set if all other fields are not set.",
          "items": {
            "$ref": "LocationIdSet"
          }
        },
        "postalCodeGroupNames": {
          "items": {
            "type": "string"
          },
          "description": "A list of postal group names. The last value can be `\"all other locations\"`. Example: `[\"zone 1\", \"zone 2\", \"all other locations\"]`. The referred postal code groups must match the delivery country of the service. Must be non-empty. Can only be set if all other fields are not set.",
          "type": "array"
        },
        "numberOfItems": {
          "type": "array",
          "description": "A list of inclusive number of items upper bounds. The last value can be `\"infinity\"`. For example `[\"10\", \"50\", \"infinity\"]` represents the headers \"\u003c= 10 items\", \"\u003c= 50 items\", and \"\u003e 50 items\". Must be non-empty. Can only be set if all other fields are not set.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "Headers"
    },
    "ProductAspect": {
      "properties": {
        "intention": {
          "description": "Deprecated.",
          "type": "string"
        },
        "aspectName": {
          "type": "string",
          "description": "Deprecated."
        },
        "destinationName": {
          "description": "Deprecated.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ProductAspect"
    },
    "ProductUnitPricingMeasure": {
      "properties": {
        "value": {
          "format": "double",
          "description": "The measure of an item.",
          "type": "number"
        },
        "unit": {
          "description": "The unit of the measure.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ProductUnitPricingMeasure"
    },
    "GmbAccountsGmbAccount": {
      "type": "object",
      "id": "GmbAccountsGmbAccount",
      "properties": {
        "name": {
          "description": "The name of the GMB account.",
          "type": "string"
        },
        "email": {
          "description": "The email which identifies the GMB account.",
          "type": "string"
        },
        "listingCount": {
          "description": "Number of listings under this account.",
          "format": "uint64",
          "type": "string"
        },
        "type": {
          "description": "The type of the GMB account (User or Business).",
          "type": "string"
        }
      }
    },
    "ProductShippingDimension": {
      "id": "ProductShippingDimension",
      "properties": {
        "unit": {
          "description": "The unit of value.",
          "type": "string"
        },
        "value": {
          "type": "number",
          "format": "double",
          "description": "The dimension of the product used to calculate the shipping cost of the item."
        }
      },
      "type": "object"
    },
    "AccountUser": {
      "id": "AccountUser",
      "properties": {
        "paymentsAnalyst": {
          "type": "boolean",
          "description": "Whether user can access payment statements."
        },
        "admin": {
          "type": "boolean",
          "description": "Whether user is an admin."
        },
        "orderManager": {
          "type": "boolean",
          "description": "Whether user is an order manager."
        },
        "paymentsManager": {
          "type": "boolean",
          "description": "Whether user can manage payment settings."
        },
        "emailAddress": {
          "description": "User's email address.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AccountIdentifier": {
      "properties": {
        "aggregatorId": {
          "format": "uint64",
          "type": "string",
          "description": "The aggregator ID, set for aggregators and subaccounts (in that case, it represents the aggregator of the subaccount)."
        },
        "merchantId": {
          "description": "The merchant account ID, set for individual accounts and subaccounts.",
          "type": "string",
          "format": "uint64"
        }
      },
      "id": "AccountIdentifier",
      "type": "object"
    },
    "OrdersShipLineItemsRequest": {
      "properties": {
        "shipmentId": {
          "description": "Deprecated. Please use shipmentInfo instead. The ID of the shipment.",
          "type": "string"
        },
        "shipmentInfos": {
          "type": "array",
          "description": "Shipment information. This field is repeated because a single line item can be shipped in several packages (and have several tracking IDs).",
          "items": {
            "$ref": "OrdersCustomBatchRequestEntryShipLineItemsShipmentInfo"
          }
        },
        "operationId": {
          "type": "string",
          "description": "The ID of the operation. Unique across all operations for a given order."
        },
        "lineItems": {
          "items": {
            "$ref": "OrderShipmentLineItemShipment"
          },
          "description": "Line items to ship.",
          "type": "array"
        },
        "trackingId": {
          "description": "Deprecated. Please use shipmentInfo instead. The tracking ID for the shipment.",
          "type": "string"
        },
        "shipmentGroupId": {
          "type": "string",
          "description": "ID of the shipment group. Required for orders that use the orderinvoices service."
        },
        "carrier": {
          "description": "Deprecated. Please use shipmentInfo instead. The carrier handling the shipment. See `shipments[].carrier` in the Orders resource representation for a list of acceptable values.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OrdersShipLineItemsRequest"
    },
    "OrdersAcknowledgeRequest": {
      "type": "object",
      "properties": {
        "operationId": {
          "description": "The ID of the operation. Unique across all operations for a given order.",
          "type": "string"
        }
      },
      "id": "OrdersAcknowledgeRequest"
    },
    "ProductstatusesCustomBatchRequestEntry": {
      "type": "object",
      "id": "ProductstatusesCustomBatchRequestEntry",
      "description": "A batch entry encoding a single non-batch productstatuses request.",
      "properties": {
        "merchantId": {
          "description": "The ID of the managing account.",
          "type": "string",
          "format": "uint64"
        },
        "destinations": {
          "type": "array",
          "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
          "items": {
            "type": "string"
          }
        },
        "productId": {
          "description": "The ID of the product whose status to get.",
          "type": "string"
        },
        "method": {
          "type": "string",
          "description": "The method of the batch entry. Acceptable values are: - \"`get`\" "
        },
        "batchId": {
          "type": "integer",
          "description": "An entry ID, unique within the batch request.",
          "format": "uint32"
        },
        "includeAttributes": {
          "type": "boolean"
        }
      }
    },
    "ShipmentTrackingInfo": {
      "type": "object",
      "id": "ShipmentTrackingInfo",
      "properties": {
        "carrier": {
          "description": "The shipping carrier that handles the package. Acceptable values are: - \"`boxtal`\" - \"`bpost`\" - \"`chronopost`\" - \"`colisPrive`\" - \"`colissimo`\" - \"`cxt`\" - \"`deliv`\" - \"`dhl`\" - \"`dpd`\" - \"`dynamex`\" - \"`eCourier`\" - \"`easypost`\" - \"`efw`\" - \"`fedex`\" - \"`fedexSmartpost`\" - \"`geodis`\" - \"`gls`\" - \"`googleCourier`\" - \"`gsx`\" - \"`jdLogistics`\" - \"`laPoste`\" - \"`lasership`\" - \"`manual`\" - \"`mpx`\" - \"`onTrac`\" - \"`other`\" - \"`tnt`\" - \"`uds`\" - \"`ups`\" - \"`usps`\" ",
          "type": "string"
        },
        "trackingNumber": {
          "type": "string",
          "description": "The tracking number for the package."
        }
      }
    },
    "AccountStatusProducts": {
      "id": "AccountStatusProducts",
      "properties": {
        "country": {
          "description": "The country the data applies to.",
          "type": "string"
        },
        "channel": {
          "description": "The channel the data applies to. Acceptable values are: - \"`local`\" - \"`online`\" ",
          "type": "string"
        },
        "itemLevelIssues": {
          "items": {
            "$ref": "AccountStatusItemLevelIssue"
          },
          "type": "array",
          "description": "List of item-level issues."
        },
        "statistics": {
          "description": "Aggregated product statistics.",
          "$ref": "AccountStatusStatistics"
        },
        "destination": {
          "type": "string",
          "description": "The destination the data applies to."
        }
      },
      "type": "object"
    },
    "PosCustomBatchRequestEntry": {
      "properties": {
        "store": {
          "$ref": "PosStore",
          "description": "The store information to submit. This should be set only if the method is `insert`."
        },
        "inventory": {
          "description": "The inventory to submit. This should be set only if the method is `inventory`.",
          "$ref": "PosInventory"
        },
        "merchantId": {
          "type": "string",
          "description": "The ID of the POS data provider.",
          "format": "uint64"
        },
        "targetMerchantId": {
          "type": "string",
          "description": "The ID of the account for which to get/submit data.",
          "format": "uint64"
        },
        "batchId": {
          "type": "integer",
          "format": "uint32",
          "description": "An entry ID, unique within the batch request."
        },
        "method": {
          "description": "The method of the batch entry. Acceptable values are: - \"`delete`\" - \"`get`\" - \"`insert`\" - \"`inventory`\" - \"`sale`\" ",
          "type": "string"
        },
        "sale": {
          "description": "The sale information to submit. This should be set only if the method is `sale`.",
          "$ref": "PosSale"
        },
        "storeCode": {
          "type": "string",
          "description": "The store code. This should be set only if the method is `delete` or `get`."
        }
      },
      "type": "object",
      "id": "PosCustomBatchRequestEntry"
    },
    "OrderDeliveryDetails": {
      "type": "object",
      "properties": {
        "address": {
          "$ref": "OrderAddress",
          "description": "The delivery address"
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number of the person receiving the delivery."
        }
      },
      "id": "OrderDeliveryDetails"
    },
    "OrderPickupDetails": {
      "id": "OrderPickupDetails",
      "type": "object",
      "properties": {
        "address": {
          "$ref": "OrderAddress",
          "description": "Address of the pickup location where the shipment should be sent. Note that `recipientName` in the address is the name of the business at the pickup location."
        },
        "locationId": {
          "description": "ID of the pickup location.",
          "type": "string"
        },
        "collectors": {
          "description": "Collectors authorized to pick up shipment from the pickup location.",
          "type": "array",
          "items": {
            "$ref": "OrderPickupDetailsCollector"
          }
        }
      }
    },
    "LiaOnDisplayToOrderSettings": {
      "id": "LiaOnDisplayToOrderSettings",
      "properties": {
        "shippingCostPolicyUrl": {
          "type": "string",
          "description": "Shipping cost and policy URL."
        },
        "status": {
          "type": "string",
          "description": "The status of the ?On display to order? feature. Acceptable values are: - \"`active`\" - \"`inactive`\" - \"`pending`\" "
        }
      },
      "type": "object"
    },
    "AccountsLinkRequest": {
      "properties": {
        "linkType": {
          "type": "string",
          "description": "Type of the link between the two accounts. Acceptable values are: - \"`channelPartner`\" - \"`eCommercePlatform`\" "
        },
        "action": {
          "description": "Action to perform for this link. The `\"request\"` action is only available to select merchants. Acceptable values are: - \"`approve`\" - \"`remove`\" - \"`request`\" ",
          "type": "string"
        },
        "linkedAccountId": {
          "description": "The ID of the linked account.",
          "type": "string"
        }
      },
      "id": "AccountsLinkRequest",
      "type": "object"
    },
    "PosInventoryResponse": {
      "type": "object",
      "properties": {
        "itemId": {
          "description": "Required. A unique identifier for the item.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#posInventoryResponse\"."
        },
        "quantity": {
          "description": "Required. The available quantity of the item.",
          "type": "string",
          "format": "int64"
        },
        "contentLanguage": {
          "description": "Required. The two-letter ISO 639-1 language code for the item.",
          "type": "string"
        },
        "gtin": {
          "type": "string",
          "description": "Global Trade Item Number."
        },
        "targetCountry": {
          "type": "string",
          "description": "Required. The CLDR territory code for the item."
        },
        "storeCode": {
          "description": "Required. The identifier of the merchant's store. Either a `storeCode` inserted via the API or the code of the store in Google My Business.",
          "type": "string"
        },
        "price": {
          "$ref": "Price",
          "description": "Required. The current price of the item."
        },
        "timestamp": {
          "description": "Required. The inventory timestamp, in ISO 8601 format.",
          "type": "string"
        }
      },
      "id": "PosInventoryResponse"
    },
    "OrderMerchantProvidedAnnotation": {
      "id": "OrderMerchantProvidedAnnotation",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value for additional merchant provided (as key-value pairs) annotation about the line item."
        },
        "key": {
          "description": "Key for additional merchant provided (as key-value pairs) annotation about the line item.",
          "type": "string"
        }
      }
    },
    "PosStore": {
      "properties": {
        "storeName": {
          "description": "The merchant or store name.",
          "type": "string"
        },
        "storeAddress": {
          "type": "string",
          "description": "Required. The street address of the store."
        },
        "phoneNumber": {
          "type": "string",
          "description": "The store phone number."
        },
        "gcidCategory": {
          "description": "The business type of the store.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "storeCode": {
          "type": "string",
          "description": "Required. A store identifier that is unique for the given merchant."
        },
        "placeId": {
          "description": "The Google Place Id of the store location.",
          "type": "string"
        },
        "websiteUrl": {
          "type": "string",
          "description": "The website url for the store or merchant."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#posStore`\""
        }
      },
      "type": "object",
      "description": "Store resource.",
      "id": "PosStore"
    },
    "LiasettingsSetInventoryVerificationContactResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#liasettingsSetInventoryVerificationContactResponse\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LiasettingsSetInventoryVerificationContactResponse"
    },
    "OrdersUpdateShipmentResponse": {
      "id": "OrdersUpdateShipmentResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersUpdateShipmentResponse\"."
        },
        "executionStatus": {
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" ",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ShipmentInvoiceLineItemInvoice": {
      "id": "ShipmentInvoiceLineItemInvoice",
      "type": "object",
      "properties": {
        "unitInvoice": {
          "description": "[required] Invoice details for a single unit.",
          "$ref": "UnitInvoice"
        },
        "shipmentUnitIds": {
          "type": "array",
          "description": "[required] The shipment unit ID is assigned by the merchant and defines individual quantities within a line item. The same ID can be assigned to units that are the same while units that differ must be assigned a different ID (for example: free or promotional units).",
          "items": {
            "type": "string"
          }
        },
        "lineItemId": {
          "type": "string",
          "description": "ID of the line item. Either lineItemId or productId must be set."
        },
        "productId": {
          "description": "ID of the product. This is the REST ID used in the products service. Either lineItemId or productId must be set.",
          "type": "string"
        }
      }
    },
    "AccountsListResponse": {
      "id": "AccountsListResponse",
      "properties": {
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of accounts.",
          "type": "string"
        },
        "resources": {
          "items": {
            "$ref": "Account"
          },
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountsListResponse\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CarriersCarrier": {
      "type": "object",
      "properties": {
        "country": {
          "description": "The CLDR country code of the carrier (e.g., \"US\"). Always present.",
          "type": "string"
        },
        "services": {
          "description": "A list of supported services (e.g., `\"ground\"`) for that carrier. Contains at least one service. This is the list of valid values for CarrierRate.carrierService.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "The name of the carrier (e.g., `\"UPS\"`). Always present.",
          "type": "string"
        },
        "eddServices": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of services supported for EDD (Estimated Delivery Date) calculation. This is the list of valid values for WarehouseBasedDeliveryTime.carrierService."
        }
      },
      "id": "CarriersCarrier"
    },
    "DatafeedstatusesCustomBatchResponse": {
      "properties": {
        "entries": {
          "type": "array",
          "description": "The result of the execution of the batch requests.",
          "items": {
            "$ref": "DatafeedstatusesCustomBatchResponseEntry"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#datafeedstatusesCustomBatchResponse\"."
        }
      },
      "id": "DatafeedstatusesCustomBatchResponse",
      "type": "object"
    },
    "MinimumOrderValueTableStoreCodeSetWithMov": {
      "type": "object",
      "id": "MinimumOrderValueTableStoreCodeSetWithMov",
      "properties": {
        "storeCodes": {
          "description": "A list of unique store codes or empty for the catch all.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "value": {
          "description": "The minimum order value for the given stores.",
          "$ref": "Price"
        }
      },
      "description": "A list of store code sets sharing the same minimum order value. At least two sets are required and the last one must be empty, which signifies 'MOV for all other stores'. Each store code can only appear once across all the sets. All prices within a service must have the same currency."
    },
    "OrderLegacyPromotion": {
      "id": "OrderLegacyPromotion",
      "type": "object",
      "properties": {
        "genericRedemptionCode": {
          "type": "string",
          "description": "Optional. The text code that corresponds to the promotion when applied on the retailer?s website."
        },
        "productApplicability": {
          "description": "Whether the promotion is applicable to all products or only specific products. Acceptable values are: - \"`allProducts`\" - \"`specificProducts`\" ",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The unique ID of the promotion."
        },
        "effectiveDates": {
          "type": "string",
          "description": "The date and time frame when the promotion is active and ready for validation review. Note that the promotion live time may be delayed for a few hours due to the validation review. Start date and end date are separated by a forward slash (/). The start date is specified by the format (YYYY-MM-DD), followed by the letter ?T?, the time of the day when the sale starts (in Greenwich Mean Time, GMT), followed by an expression of the time zone for the sale. The end date is in the same format."
        },
        "redemptionChannel": {
          "type": "string",
          "description": "Indicates that the promotion is valid online. Acceptable values are: - \"`online`\" "
        },
        "benefits": {
          "type": "array",
          "items": {
            "$ref": "OrderLegacyPromotionBenefit"
          }
        },
        "longTitle": {
          "description": "The full title of the promotion.",
          "type": "string"
        }
      }
    },
    "LiaInventorySettings": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "description": "The status of the inventory verification process. Acceptable values are: - \"`active`\" - \"`inactive`\" - \"`pending`\" "
        },
        "inventoryVerificationContactEmail": {
          "description": "The email of the contact for the inventory verification process.",
          "type": "string"
        },
        "inventoryVerificationContactName": {
          "description": "The name of the contact for the inventory verification process.",
          "type": "string"
        },
        "inventoryVerificationContactStatus": {
          "type": "string",
          "description": "The status of the verification contact. Acceptable values are: - \"`active`\" - \"`inactive`\" - \"`pending`\" "
        }
      },
      "id": "LiaInventorySettings"
    },
    "OrdersCreateTestReturnRequest": {
      "properties": {
        "items": {
          "items": {
            "$ref": "OrdersCustomBatchRequestEntryCreateTestReturnReturnItem"
          },
          "type": "array",
          "description": "Returned items."
        }
      },
      "type": "object",
      "id": "OrdersCreateTestReturnRequest"
    },
    "AccountAdwordsLink": {
      "properties": {
        "adwordsId": {
          "type": "string",
          "format": "uint64",
          "description": "Customer ID of the AdWords account."
        },
        "status": {
          "type": "string",
          "description": "Status of the link between this Merchant Center account and the AdWords account. Upon retrieval, it represents the actual status of the link and can be either `active` if it was approved in Google AdWords or `pending` if it's pending approval. Upon insertion, it represents the *intended* status of the link. Re-uploading a link with status `active` when it's still pending or with status `pending` when it's already active will have no effect: the status will remain unchanged. Re-uploading a link with deprecated status `inactive` is equivalent to not submitting the link at all and will delete the link if it was active or cancel the link request if it was pending. Acceptable values are: - \"`active`\" - \"`pending`\" "
        }
      },
      "type": "object",
      "id": "AccountAdwordsLink"
    },
    "AccountsCustomBatchRequestEntryLinkRequest": {
      "properties": {
        "linkType": {
          "description": "Type of the link between the two accounts. Acceptable values are: - \"`channelPartner`\" - \"`eCommercePlatform`\" ",
          "type": "string"
        },
        "linkedAccountId": {
          "type": "string",
          "description": "The ID of the linked account."
        },
        "action": {
          "type": "string",
          "description": "Action to perform for this link. The `\"request\"` action is only available to select merchants. Acceptable values are: - \"`approve`\" - \"`remove`\" - \"`request`\" "
        }
      },
      "id": "AccountsCustomBatchRequestEntryLinkRequest",
      "type": "object"
    },
    "LiaPosDataProvider": {
      "id": "LiaPosDataProvider",
      "properties": {
        "posExternalAccountId": {
          "type": "string",
          "description": "The account ID by which this merchant is known to the POS data provider."
        },
        "posDataProviderId": {
          "description": "The ID of the POS data provider.",
          "type": "string",
          "format": "uint64"
        }
      },
      "type": "object"
    },
    "OrdersCustomBatchRequestEntry": {
      "type": "object",
      "properties": {
        "shipLineItems": {
          "$ref": "OrdersCustomBatchRequestEntryShipLineItems",
          "description": "Required for `shipLineItems` method."
        },
        "merchantOrderId": {
          "description": "The merchant order ID. Required for `updateMerchantOrderId` and `getByMerchantOrderId` methods.",
          "type": "string"
        },
        "setLineItemMetadata": {
          "$ref": "OrdersCustomBatchRequestEntrySetLineItemMetadata",
          "description": "Required for `setLineItemMetadata` method."
        },
        "batchId": {
          "type": "integer",
          "description": "An entry ID, unique within the batch request.",
          "format": "uint32"
        },
        "operationId": {
          "description": "The ID of the operation. Unique across all operations for a given order. Required for all methods beside `get` and `getByMerchantOrderId`.",
          "type": "string"
        },
        "method": {
          "type": "string",
          "description": "The method of the batch entry. Acceptable values are: - \"`acknowledge`\" - \"`cancel`\" - \"`cancelLineItem`\" - \"`get`\" - \"`getByMerchantOrderId`\" - \"`inStoreRefundLineItem`\" - \"`refund`\" - \"`rejectReturnLineItem`\" - \"`returnLineItem`\" - \"`returnRefundLineItem`\" - \"`setLineItemMetadata`\" - \"`shipLineItems`\" - \"`updateLineItemShippingDetails`\" - \"`updateMerchantOrderId`\" - \"`updateShipment`\" "
        },
        "cancelLineItem": {
          "$ref": "OrdersCustomBatchRequestEntryCancelLineItem",
          "description": "Required for `cancelLineItem` method."
        },
        "updateShipment": {
          "description": "Required for `updateShipment` method.",
          "$ref": "OrdersCustomBatchRequestEntryUpdateShipment"
        },
        "returnRefundLineItem": {
          "description": "Required for `returnRefundLineItem` method.",
          "$ref": "OrdersCustomBatchRequestEntryReturnRefundLineItem"
        },
        "rejectReturnLineItem": {
          "description": "Required for `rejectReturnLineItem` method.",
          "$ref": "OrdersCustomBatchRequestEntryRejectReturnLineItem"
        },
        "returnLineItem": {
          "$ref": "OrdersCustomBatchRequestEntryReturnLineItem",
          "description": "Required for `returnLineItem` method."
        },
        "inStoreRefundLineItem": {
          "$ref": "OrdersCustomBatchRequestEntryInStoreRefundLineItem",
          "description": "Required for `inStoreReturnLineItem` method."
        },
        "merchantId": {
          "description": "The ID of the managing account.",
          "format": "uint64",
          "type": "string"
        },
        "updateLineItemShippingDetails": {
          "description": "Required for `updateLineItemShippingDate` method.",
          "$ref": "OrdersCustomBatchRequestEntryUpdateLineItemShippingDetails"
        },
        "cancel": {
          "description": "Required for `cancel` method.",
          "$ref": "OrdersCustomBatchRequestEntryCancel"
        },
        "refund": {
          "$ref": "OrdersCustomBatchRequestEntryRefund",
          "description": "Required for `refund` method."
        },
        "orderId": {
          "description": "The ID of the order. Required for all methods beside `getByMerchantOrderId`.",
          "type": "string"
        }
      },
      "id": "OrdersCustomBatchRequestEntry"
    },
    "DatafeedsCustomBatchRequestEntry": {
      "description": "A batch entry encoding a single non-batch datafeeds request.",
      "id": "DatafeedsCustomBatchRequestEntry",
      "properties": {
        "datafeedId": {
          "format": "uint64",
          "type": "string",
          "description": "The ID of the data feed to get, delete or fetch."
        },
        "batchId": {
          "format": "uint32",
          "description": "An entry ID, unique within the batch request.",
          "type": "integer"
        },
        "merchantId": {
          "type": "string",
          "format": "uint64",
          "description": "The ID of the managing account."
        },
        "method": {
          "description": "The method of the batch entry. Acceptable values are: - \"`delete`\" - \"`fetchNow`\" - \"`get`\" - \"`insert`\" - \"`update`\" ",
          "type": "string"
        },
        "datafeed": {
          "description": "The data feed to insert.",
          "$ref": "Datafeed"
        }
      },
      "type": "object"
    },
    "OrdersCustomBatchRequestEntryReturnLineItem": {
      "properties": {
        "quantity": {
          "type": "integer",
          "description": "The quantity to return.",
          "format": "uint32"
        },
        "reason": {
          "description": "The reason for the return. Acceptable values are: - \"`customerDiscretionaryReturn`\" - \"`customerInitiatedMerchantCancel`\" - \"`deliveredTooLate`\" - \"`expiredItem`\" - \"`invalidCoupon`\" - \"`malformedShippingAddress`\" - \"`other`\" - \"`productArrivedDamaged`\" - \"`productNotAsDescribed`\" - \"`qualityNotAsExpected`\" - \"`undeliverableShippingAddress`\" - \"`unsupportedPoBoxAddress`\" - \"`wrongProductShipped`\" ",
          "type": "string"
        },
        "productId": {
          "type": "string",
          "description": "The ID of the product to return. This is the REST ID used in the products service. Either lineItemId or productId is required."
        },
        "lineItemId": {
          "type": "string",
          "description": "The ID of the line item to return. Either lineItemId or productId is required."
        },
        "reasonText": {
          "description": "The explanation of the reason.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OrdersCustomBatchRequestEntryReturnLineItem"
    },
    "OrderAddress": {
      "id": "OrderAddress",
      "type": "object",
      "properties": {
        "locality": {
          "description": "City, town or commune. May also include dependent localities or sublocalities (e.g. neighborhoods or suburbs).",
          "type": "string"
        },
        "recipientName": {
          "type": "string",
          "description": "Name of the recipient."
        },
        "country": {
          "description": "CLDR country code (e.g. \"US\").",
          "type": "string"
        },
        "fullAddress": {
          "description": "Strings representing the lines of the printed label for mailing the order, for example: John Smith 1600 Amphitheatre Parkway Mountain View, CA, 94043 United States ",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "postalCode": {
          "description": "Postal Code or ZIP (e.g. \"94043\").",
          "type": "string"
        },
        "region": {
          "type": "string",
          "description": "Top-level administrative subdivision of the country. For example, a state like California (\"CA\") or a province like Quebec (\"QC\")."
        },
        "isPostOfficeBox": {
          "type": "boolean",
          "description": "Whether the address is a post office box."
        },
        "streetAddress": {
          "description": "Street-level part of the address.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ShippingsettingsGetSupportedHolidaysResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#shippingsettingsGetSupportedHolidaysResponse\".",
          "type": "string"
        },
        "holidays": {
          "type": "array",
          "description": "A list of holidays applicable for delivery guarantees. May be empty.",
          "items": {
            "$ref": "HolidaysHoliday"
          }
        }
      },
      "id": "ShippingsettingsGetSupportedHolidaysResponse",
      "type": "object"
    },
    "ProductDestination": {
      "id": "ProductDestination",
      "type": "object",
      "properties": {
        "intention": {
          "description": "Whether the destination is required, excluded or should be validated. Acceptable values are: - \"`default`\" - \"`excluded`\" - \"`optional`\" - \"`required`\" ",
          "type": "string"
        },
        "destinationName": {
          "type": "string",
          "description": "The name of the destination."
        }
      }
    },
    "ProductstatusesListResponse": {
      "properties": {
        "resources": {
          "type": "array",
          "items": {
            "$ref": "ProductStatus"
          }
        },
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of products statuses.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#productstatusesListResponse\"."
        }
      },
      "type": "object",
      "id": "ProductstatusesListResponse"
    },
    "DatafeedstatusesCustomBatchResponseEntry": {
      "id": "DatafeedstatusesCustomBatchResponseEntry",
      "description": "A batch entry encoding a single non-batch datafeedstatuses response.",
      "properties": {
        "errors": {
          "description": "A list of errors defined if and only if the request failed.",
          "$ref": "Errors"
        },
        "batchId": {
          "type": "integer",
          "description": "The ID of the request entry this entry responds to.",
          "format": "uint32"
        },
        "datafeedStatus": {
          "description": "The requested data feed status. Defined if and only if the request was successful.",
          "$ref": "DatafeedStatus"
        }
      },
      "type": "object"
    },
    "OrdersCreateTestReturnResponse": {
      "properties": {
        "returnId": {
          "description": "The ID of the newly created test order return.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersCreateTestReturnResponse\"."
        }
      },
      "id": "OrdersCreateTestReturnResponse",
      "type": "object"
    },
    "OrderLineItemProductFee": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the fee.",
          "type": "string"
        },
        "amount": {
          "description": "Amount of the fee.",
          "$ref": "Price"
        }
      },
      "id": "OrderLineItemProductFee"
    },
    "AccounttaxCustomBatchResponseEntry": {
      "id": "AccounttaxCustomBatchResponseEntry",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accounttaxCustomBatchResponseEntry`\"",
          "type": "string"
        },
        "batchId": {
          "description": "The ID of the request entry this entry responds to.",
          "format": "uint32",
          "type": "integer"
        },
        "errors": {
          "description": "A list of errors defined if and only if the request failed.",
          "$ref": "Errors"
        },
        "accountTax": {
          "description": "The retrieved or updated account tax settings.",
          "$ref": "AccountTax"
        }
      },
      "type": "object",
      "description": "A batch entry encoding a single non-batch accounttax response."
    },
    "AccountGoogleMyBusinessLink": {
      "type": "object",
      "id": "AccountGoogleMyBusinessLink",
      "properties": {
        "status": {
          "description": "Status of the link between this Merchant Center account and the GMB account. Acceptable values are: - \"`active`\" - \"`pending`\" ",
          "type": "string"
        },
        "gmbEmail": {
          "description": "The GMB email address of which a specific account within a GMB account. A sample account within a GMB account could be a business account with set of locations, managed under the GMB account.",
          "type": "string"
        }
      }
    },
    "AccountTax": {
      "description": "The tax settings of a merchant account. All methods require the admin role.",
      "properties": {
        "rules": {
          "items": {
            "$ref": "AccountTaxTaxRule"
          },
          "description": "Tax rules. Updating the tax rules will enable US taxes (not reversible). Defining no rules is equivalent to not charging tax at all.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountTax\".",
          "type": "string"
        },
        "accountId": {
          "description": "Required. The ID of the account to which these account tax settings belong.",
          "type": "string",
          "format": "uint64"
        }
      },
      "type": "object",
      "id": "AccountTax"
    },
    "TestOrderCustomerMarketingRightsInfo": {
      "id": "TestOrderCustomerMarketingRightsInfo",
      "type": "object",
      "properties": {
        "explicitMarketingPreference": {
          "type": "string",
          "description": "Last know user use selection regards marketing preferences. In certain cases selection might not be known, so this field would be empty. Acceptable values are: - \"`denied`\" - \"`granted`\" "
        },
        "lastUpdatedTimestamp": {
          "description": "Timestamp when last time marketing preference was updated. Could be empty, if user wasn't offered a selection yet.",
          "type": "string"
        }
      }
    },
    "Address": {
      "properties": {
        "city": {
          "type": "string",
          "description": "Required. City, town or commune. May also include dependent localities or sublocalities (e.g. neighborhoods or suburbs)."
        },
        "country": {
          "description": "Required. [CLDR country code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml)(e.g. \"US\").",
          "type": "string"
        },
        "postalCode": {
          "type": "string",
          "description": "Required. Postal code or ZIP (e.g. \"94043\"). Required."
        },
        "administrativeArea": {
          "description": "Required. Top-level administrative subdivision of the country. For example, a state like California (\"CA\") or a province like Quebec (\"QC\").",
          "type": "string"
        },
        "streetAddress": {
          "type": "string",
          "description": "Street-level part of the address."
        }
      },
      "type": "object",
      "id": "Address"
    },
    "OrderinvoicesCreateRefundInvoiceRequest": {
      "properties": {
        "refundOnlyOption": {
          "description": "Option to create a refund-only invoice. Exactly one of `refundOnlyOption` or `returnOption` must be provided.",
          "$ref": "OrderinvoicesCustomBatchRequestEntryCreateRefundInvoiceRefundOption"
        },
        "shipmentInvoices": {
          "type": "array",
          "items": {
            "$ref": "ShipmentInvoice"
          },
          "description": "Invoice details for different shipment groups."
        },
        "operationId": {
          "type": "string",
          "description": "[required] The ID of the operation, unique across all operations for a given order."
        },
        "returnOption": {
          "$ref": "OrderinvoicesCustomBatchRequestEntryCreateRefundInvoiceReturnOption",
          "description": "Option to create an invoice for a refund and mark all items within the invoice as returned. Exactly one of `refundOnlyOption` or `returnOption` must be provided."
        },
        "invoiceId": {
          "description": "[required] The ID of the invoice.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OrderinvoicesCreateRefundInvoiceRequest"
    },
    "ShippingsettingsCustomBatchRequest": {
      "id": "ShippingsettingsCustomBatchRequest",
      "type": "object",
      "properties": {
        "entries": {
          "description": "The request entries to be processed in the batch.",
          "type": "array",
          "items": {
            "$ref": "ShippingsettingsCustomBatchRequestEntry"
          }
        }
      }
    },
    "OrdersInStoreRefundLineItemResponse": {
      "id": "OrdersInStoreRefundLineItemResponse",
      "type": "object",
      "properties": {
        "executionStatus": {
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" ",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersInStoreRefundLineItemResponse\".",
          "type": "string"
        }
      }
    },
    "CustomGroup": {
      "properties": {
        "name": {
          "description": "The name of the group. Underscores will be replaced by spaces upon insertion.",
          "type": "string"
        },
        "attributes": {
          "type": "array",
          "description": "The sub-attributes.",
          "items": {
            "$ref": "CustomAttribute"
          }
        }
      },
      "id": "CustomGroup",
      "type": "object"
    },
    "AccountStatusStatistics": {
      "properties": {
        "pending": {
          "type": "string",
          "description": "Number of pending offers.",
          "format": "int64"
        },
        "expiring": {
          "type": "string",
          "format": "int64",
          "description": "Number of expiring offers."
        },
        "active": {
          "format": "int64",
          "type": "string",
          "description": "Number of active offers."
        },
        "disapproved": {
          "description": "Number of disapproved offers.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "AccountStatusStatistics",
      "type": "object"
    },
    "OrdersRefundResponse": {
      "id": "OrdersRefundResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersRefundResponse\".",
          "type": "string"
        },
        "executionStatus": {
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" ",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ProductsCustomBatchResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#productsCustomBatchResponse\"."
        },
        "entries": {
          "items": {
            "$ref": "ProductsCustomBatchResponseEntry"
          },
          "type": "array",
          "description": "The result of the execution of the batch requests."
        }
      },
      "type": "object",
      "id": "ProductsCustomBatchResponse"
    },
    "ShippingSettings": {
      "id": "ShippingSettings",
[...]
