{
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "resources": {
    "pos": {
      "methods": {
        "inventory": {
          "description": "Submit inventory for the given merchant.",
          "request": {
            "$ref": "PosInventoryRequest"
          },
          "flatPath": "content/v2/{merchantId}/pos/{targetMerchantId}/inventory",
          "response": {
            "$ref": "PosInventoryResponse"
          },
          "httpMethod": "POST",
          "path": "content/v2/{merchantId}/pos/{targetMerchantId}/inventory",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "id": "content.pos.inventory",
          "parameters": {
            "targetMerchantId": {
              "location": "path",
              "format": "uint64",
              "type": "string",
              "required": true,
              "description": "The ID of the target merchant."
            },
            "dryRun": {
              "location": "query",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "type": "boolean"
            },
            "merchantId": {
              "required": true,
              "description": "The ID of the POS or inventory data provider.",
              "format": "uint64",
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "sale": {
          "response": {
            "$ref": "PosSaleResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2/{merchantId}/pos/{targetMerchantId}/sale",
          "path": "content/v2/{merchantId}/pos/{targetMerchantId}/sale",
          "id": "content.pos.sale",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "parameters": {
            "dryRun": {
              "type": "boolean",
              "location": "query",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any)."
            },
            "merchantId": {
              "location": "path",
              "description": "The ID of the POS or inventory data provider.",
              "required": true,
              "type": "string",
              "format": "uint64"
            },
            "targetMerchantId": {
              "required": true,
              "location": "path",
              "format": "uint64",
              "description": "The ID of the target merchant.",
              "type": "string"
            }
          },
          "description": "Submit a sale event for the given merchant.",
          "request": {
            "$ref": "PosSaleRequest"
          },
          "httpMethod": "POST"
        },
        "get": {
          "response": {
            "$ref": "PosStore"
          },
          "path": "content/v2/{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId",
            "storeCode"
          ],
          "id": "content.pos.get",
          "flatPath": "content/v2/{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "merchantId": {
              "required": true,
              "type": "string",
              "description": "The ID of the POS or inventory data provider.",
              "location": "path",
              "format": "uint64"
            },
            "storeCode": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "A store code that is unique per merchant."
            },
            "targetMerchantId": {
              "type": "string",
              "required": true,
              "description": "The ID of the target merchant.",
              "location": "path",
              "format": "uint64"
            }
          },
          "description": "Retrieves information about the given store."
        },
        "list": {
          "description": "Lists the stores of the target merchant.",
          "parameters": {
            "merchantId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the POS or inventory data provider.",
              "required": true,
              "format": "uint64"
            },
            "targetMerchantId": {
              "description": "The ID of the target merchant.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "content/v2/{merchantId}/pos/{targetMerchantId}/store",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2/{merchantId}/pos/{targetMerchantId}/store",
          "id": "content.pos.list",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "response": {
            "$ref": "PosListResponse"
          },
          "httpMethod": "GET"
        },
        "delete": {
          "parameterOrder": [
            "merchantId",
            "targetMerchantId",
            "storeCode"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "targetMerchantId": {
              "description": "The ID of the target merchant.",
              "format": "uint64",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "merchantId": {
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the POS or inventory data provider."
            },
            "storeCode": {
              "description": "A store code that is unique per merchant.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "dryRun": {
              "type": "boolean",
              "location": "query",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any)."
            }
          },
          "description": "Deletes a store for the given merchant.",
          "flatPath": "content/v2/{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "id": "content.pos.delete",
          "path": "content/v2/{merchantId}/pos/{targetMerchantId}/store/{storeCode}"
        },
        "custombatch": {
          "parameters": {
            "dryRun": {
              "location": "query",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "type": "boolean"
            }
          },
          "description": "Batches multiple POS-related calls in a single request.",
          "id": "content.pos.custombatch",
          "httpMethod": "POST",
          "flatPath": "content/v2/pos/batch",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "PosCustomBatchResponse"
          },
          "request": {
            "$ref": "PosCustomBatchRequest"
          },
          "path": "content/v2/pos/batch"
        },
        "insert": {
          "id": "content.pos.insert",
          "description": "Creates a store for the given merchant.",
          "parameters": {
            "merchantId": {
              "location": "path",
              "required": true,
              "description": "The ID of the POS or inventory data provider.",
              "format": "uint64",
              "type": "string"
            },
            "dryRun": {
              "location": "query",
              "type": "boolean",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any)."
            },
            "targetMerchantId": {
              "description": "The ID of the target merchant.",
              "type": "string",
              "required": true,
              "location": "path",
              "format": "uint64"
            }
          },
          "flatPath": "content/v2/{merchantId}/pos/{targetMerchantId}/store",
          "response": {
            "$ref": "PosStore"
          },
          "request": {
            "$ref": "PosStore"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "path": "content/v2/{merchantId}/pos/{targetMerchantId}/store",
          "httpMethod": "POST"
        }
      }
    },
    "accountstatuses": {
      "methods": {
        "list": {
          "description": "Lists the statuses of the sub-accounts in your Merchant Center account.",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "merchantId": {
              "location": "path",
              "description": "The ID of the managing account. This must be a multi-client account.",
              "required": true,
              "type": "string",
              "format": "uint64"
            },
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of account statuses to return in the response, used for paging.",
              "location": "query",
              "format": "uint32"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "destinations": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination."
            }
          },
          "response": {
            "$ref": "AccountstatusesListResponse"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2/{merchantId}/accountstatuses",
          "id": "content.accountstatuses.list",
          "path": "content/v2/{merchantId}/accountstatuses"
        },
        "get": {
          "httpMethod": "GET",
          "path": "content/v2/{merchantId}/accountstatuses/{accountId}",
          "flatPath": "content/v2/{merchantId}/accountstatuses/{accountId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "accountId": {
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account.",
              "required": true
            },
            "destinations": {
              "repeated": true,
              "location": "query",
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "type": "string"
            },
            "merchantId": {
              "format": "uint64",
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true,
              "type": "string"
            }
          },
          "id": "content.accountstatuses.get",
          "description": "Retrieves the status of a Merchant Center account. No itemLevelIssues are returned for multi-client accounts.",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "response": {
            "$ref": "AccountStatus"
          }
        },
        "custombatch": {
          "path": "content/v2/accountstatuses/batch",
          "response": {
            "$ref": "AccountstatusesCustomBatchResponse"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "AccountstatusesCustomBatchRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2/accountstatuses/batch",
          "description": "Retrieves multiple Merchant Center account statuses in a single request.",
          "parameterOrder": [],
          "parameters": {},
          "id": "content.accountstatuses.custombatch"
        }
      }
    },
    "datafeedstatuses": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2/{merchantId}/datafeedstatuses/{datafeedId}",
          "flatPath": "content/v2/{merchantId}/datafeedstatuses/{datafeedId}",
          "response": {
            "$ref": "DatafeedStatus"
          },
          "description": "Retrieves the status of a datafeed from your Merchant Center account.",
          "id": "content.datafeedstatuses.get",
          "parameters": {
            "language": {
              "location": "query",
              "description": "The language for which to get the datafeed status. If this parameter is provided then country must also be provided. Note that this parameter is required for feeds targeting multiple countries and languages, since a feed may have a different status for each target.",
              "type": "string"
            },
            "datafeedId": {
              "required": true,
              "description": "The ID of the datafeed.",
              "location": "path",
              "format": "uint64",
              "type": "string"
            },
            "merchantId": {
              "format": "uint64",
              "location": "path",
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "type": "string",
              "required": true
            },
            "country": {
              "description": "The country for which to get the datafeed status. If this parameter is provided then language must also be provided. Note that this parameter is required for feeds targeting multiple countries and languages, since a feed may have a different status for each target.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ]
        },
        "list": {
          "parameters": {
            "maxResults": {
              "type": "integer",
              "format": "uint32",
              "location": "query",
              "description": "The maximum number of products to return in the response, used for paging."
            },
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account that manages the datafeeds. This account cannot be a multi-client account.",
              "location": "path",
              "required": true
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "DatafeedstatusesListResponse"
          },
          "id": "content.datafeedstatuses.list",
          "path": "content/v2/{merchantId}/datafeedstatuses",
          "flatPath": "content/v2/{merchantId}/datafeedstatuses",
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Lists the statuses of the datafeeds in your Merchant Center account."
        },
        "custombatch": {
          "path": "content/v2/datafeedstatuses/batch",
          "flatPath": "content/v2/datafeedstatuses/batch",
          "description": "Gets multiple Merchant Center datafeed statuses in a single request.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "DatafeedstatusesCustomBatchRequest"
          },
          "id": "content.datafeedstatuses.custombatch",
          "parameterOrder": [],
          "response": {
            "$ref": "DatafeedstatusesCustomBatchResponse"
          },
          "parameters": {}
        }
      }
    },
    "orderreturns": {
      "methods": {
        "list": {
          "description": "Lists order returns in your Merchant Center account.",
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "location": "path",
              "format": "uint64",
              "type": "string",
              "required": true
            },
            "orderBy": {
              "description": "Return the results in the specified order.",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "enum": [
                "RETURN_CREATION_TIME_DESC",
                "RETURN_CREATION_TIME_ASC"
              ]
            },
            "createdStartDate": {
              "location": "query",
              "type": "string",
              "description": "Obtains order returns created after this date (inclusively), in ISO 8601 format."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            },
            "createdEndDate": {
              "description": "Obtains order returns created before this date (inclusively), in ISO 8601 format.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "format": "uint32",
              "type": "integer",
              "description": "The maximum number of order returns to return in the response, used for paging. The default value is 25 returns per page, and the maximum allowed value is 250 returns per page.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "OrderreturnsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.orderreturns.list",
          "httpMethod": "GET",
          "flatPath": "content/v2/{merchantId}/orderreturns",
          "path": "content/v2/{merchantId}/orderreturns"
        },
        "get": {
          "parameterOrder": [
            "merchantId",
            "returnId"
          ],
          "id": "content.orderreturns.get",
          "flatPath": "content/v2/{merchantId}/orderreturns/{returnId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "MerchantOrderReturn"
          },
          "parameters": {
            "returnId": {
              "required": true,
              "description": "Merchant order return ID generated by Google.",
              "location": "path",
              "type": "string"
            },
            "merchantId": {
              "type": "string",
              "location": "path",
              "format": "uint64",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2/{merchantId}/orderreturns/{returnId}",
          "description": "Retrieves an order return from your Merchant Center account."
        }
      }
    },
    "inventory": {
      "methods": {
        "custombatch": {
          "description": "Updates price and availability for multiple products or stores in a single request. This operation does not update the expiration date of the products.",
          "request": {
            "$ref": "InventoryCustomBatchRequest"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2/inventory/batch",
          "response": {
            "$ref": "InventoryCustomBatchResponse"
          },
          "id": "content.inventory.custombatch",
          "httpMethod": "POST",
          "path": "content/v2/inventory/batch",
          "parameters": {
            "dryRun": {
              "type": "boolean",
              "location": "query",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any)."
            }
          }
        },
        "set": {
          "response": {
            "$ref": "InventorySetResponse"
          },
          "parameters": {
            "dryRun": {
              "location": "query",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "type": "boolean"
            },
            "productId": {
              "description": "The REST ID of the product for which to update price and availability.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "storeCode": {
              "description": "The code of the store for which to update price and availability. Use `online` to update price and availability of an online product.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "merchantId": {
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "location": "path",
              "type": "string",
              "format": "uint64",
              "required": true
            }
          },
          "description": "Updates price and availability of a product in your Merchant Center account.",
          "parameterOrder": [
            "merchantId",
            "storeCode",
            "productId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2/{merchantId}/inventory/{storeCode}/products/{productId}",
          "request": {
            "$ref": "InventorySetRequest"
          },
          "path": "content/v2/{merchantId}/inventory/{storeCode}/products/{productId}",
          "id": "content.inventory.set",
          "httpMethod": "POST"
        }
      }
    },
    "shippingsettings": {
      "methods": {
        "getsupportedholidays": {
          "response": {
            "$ref": "ShippingsettingsGetSupportedHolidaysResponse"
          },
          "flatPath": "content/v2/{merchantId}/supportedHolidays",
          "description": "Retrieves supported holidays for an account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "merchantId": {
              "type": "string",
              "description": "The ID of the account for which to retrieve the supported holidays.",
              "required": true,
              "location": "path",
              "format": "uint64"
            }
          },
          "path": "content/v2/{merchantId}/supportedHolidays",
          "id": "content.shippingsettings.getsupportedholidays",
          "httpMethod": "GET"
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "format": "uint32",
              "location": "query",
              "description": "The maximum number of shipping settings to return in the response, used for paging."
            },
            "merchantId": {
              "description": "The ID of the managing account. This must be a multi-client account.",
              "format": "uint64",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            }
          },
          "id": "content.shippingsettings.list",
          "flatPath": "content/v2/{merchantId}/shippingsettings",
          "path": "content/v2/{merchantId}/shippingsettings",
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Lists the shipping settings of the sub-accounts in your Merchant Center account.",
          "response": {
            "$ref": "ShippingsettingsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "update": {
          "parameters": {
            "dryRun": {
              "location": "query",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "type": "boolean"
            },
            "merchantId": {
              "required": true,
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "type": "string"
            },
            "accountId": {
              "location": "path",
              "description": "The ID of the account for which to get/update shipping settings.",
              "type": "string",
              "format": "uint64",
              "required": true
            }
          },
          "httpMethod": "PUT",
          "path": "content/v2/{merchantId}/shippingsettings/{accountId}",
          "response": {
            "$ref": "ShippingSettings"
          },
          "description": "Updates the shipping settings of the account. Any fields that are not provided are deleted from the resource.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "id": "content.shippingsettings.update",
          "flatPath": "content/v2/{merchantId}/shippingsettings/{accountId}",
          "request": {
            "$ref": "ShippingSettings"
          }
        },
        "getsupportedpickupservices": {
          "flatPath": "content/v2/{merchantId}/supportedPickupServices",
          "parameterOrder": [
            "merchantId"
          ],
          "id": "content.shippingsettings.getsupportedpickupservices",
          "response": {
            "$ref": "ShippingsettingsGetSupportedPickupServicesResponse"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves supported pickup services for an account.",
          "parameters": {
            "merchantId": {
              "required": true,
              "format": "uint64",
              "description": "The ID of the account for which to retrieve the supported pickup services.",
              "location": "path",
              "type": "string"
            }
          },
          "path": "content/v2/{merchantId}/supportedPickupServices"
        },
        "custombatch": {
          "id": "content.shippingsettings.custombatch",
          "parameters": {
            "dryRun": {
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "type": "boolean",
              "location": "query"
            }
          },
          "request": {
            "$ref": "ShippingsettingsCustomBatchRequest"
          },
          "path": "content/v2/shippingsettings/batch",
          "httpMethod": "POST",
          "response": {
            "$ref": "ShippingsettingsCustomBatchResponse"
          },
          "description": "Retrieves and updates the shipping settings of multiple accounts in a single request.",
          "flatPath": "content/v2/shippingsettings/batch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": []
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "accountId": {
              "required": true,
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account for which to get/update shipping settings.",
              "location": "path"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string",
              "format": "uint64",
              "location": "path",
              "required": true
            }
          },
          "description": "Retrieves the shipping settings of the account.",
          "id": "content.shippingsettings.get",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "ShippingSettings"
          },
          "path": "content/v2/{merchantId}/shippingsettings/{accountId}",
          "flatPath": "content/v2/{merchantId}/shippingsettings/{accountId}"
        },
        "getsupportedcarriers": {
          "response": {
            "$ref": "ShippingsettingsGetSupportedCarriersResponse"
          },
          "flatPath": "content/v2/{merchantId}/supportedCarriers",
          "path": "content/v2/{merchantId}/supportedCarriers",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves supported carriers and carrier services for an account.",
          "id": "content.shippingsettings.getsupportedcarriers",
          "parameters": {
            "merchantId": {
              "required": true,
              "description": "The ID of the account for which to retrieve the supported carriers.",
              "location": "path",
              "type": "string",
              "format": "uint64"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId"
          ]
        }
      }
    },
    "productstatuses": {
      "methods": {
        "list": {
          "description": "Lists the statuses of the products in your Merchant Center account.",
          "response": {
            "$ref": "ProductstatusesListResponse"
          },
          "path": "content/v2/{merchantId}/productstatuses",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.productstatuses.list",
          "parameters": {
            "includeAttributes": {
              "location": "query",
              "description": "Flag to include full product data in the results of the list request. The default value is false.",
              "type": "boolean"
            },
            "merchantId": {
              "required": true,
              "location": "path",
              "description": "The ID of the account that contains the products. This account cannot be a multi-client account.",
              "type": "string",
              "format": "uint64"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            },
            "includeInvalidInsertedItems": {
              "type": "boolean",
              "description": "Flag to include the invalid inserted items in the result of the list request. By default the invalid items are not shown (the default value is false).",
              "location": "query"
            },
            "destinations": {
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "type": "string",
              "location": "query",
              "repeated": true
            },
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of product statuses to return in the response, used for paging.",
              "location": "query",
              "format": "uint32"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "flatPath": "content/v2/{merchantId}/productstatuses"
        },
        "custombatch": {
          "id": "content.productstatuses.custombatch",
          "description": "Gets the statuses of multiple products in a single request.",
          "response": {
            "$ref": "ProductstatusesCustomBatchResponse"
          },
          "request": {
            "$ref": "ProductstatusesCustomBatchRequest"
          },
          "httpMethod": "POST",
          "flatPath": "content/v2/productstatuses/batch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "includeAttributes": {
              "description": "Flag to include full product data in the results of this request. The default value is false.",
              "type": "boolean",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "path": "content/v2/productstatuses/batch"
        },
        "get": {
          "httpMethod": "GET",
          "description": "Gets the status of a product from your Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "ProductStatus"
          },
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "id": "content.productstatuses.get",
          "flatPath": "content/v2/{merchantId}/productstatuses/{productId}",
          "path": "content/v2/{merchantId}/productstatuses/{productId}",
          "parameters": {
            "productId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The REST ID of the product."
            },
            "includeAttributes": {
              "type": "boolean",
              "description": "Flag to include full product data in the result of this get request. The default value is false.",
              "location": "query"
            },
            "merchantId": {
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "location": "path",
              "type": "string",
              "format": "uint64",
              "required": true
            },
            "destinations": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination."
            }
          }
        }
      }
    },
    "liasettings": {
      "methods": {
        "requestinventoryverification": {
          "id": "content.liasettings.requestinventoryverification",
          "parameterOrder": [
            "merchantId",
            "accountId",
            "country"
          ],
          "response": {
            "$ref": "LiasettingsRequestInventoryVerificationResponse"
          },
          "path": "content/v2/{merchantId}/liasettings/{accountId}/requestinventoryverification/{country}",
          "httpMethod": "POST",
          "description": "Requests inventory validation for the specified country.",
          "parameters": {
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string",
              "location": "path",
              "format": "uint64",
              "required": true
            },
            "accountId": {
              "type": "string",
              "format": "uint64",
              "required": true,
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "location": "path"
            },
            "country": {
              "type": "string",
              "location": "path",
              "description": "The country for which inventory validation is requested.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2/{merchantId}/liasettings/{accountId}/requestinventoryverification/{country}"
        },
        "setinventoryverificationcontact": {
          "description": "Sets the inventory verification contract for the specified country.",
          "flatPath": "content/v2/{merchantId}/liasettings/{accountId}/setinventoryverificationcontact",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "response": {
            "$ref": "LiasettingsSetInventoryVerificationContactResponse"
          },
          "id": "content.liasettings.setinventoryverificationcontact",
          "path": "content/v2/{merchantId}/liasettings/{accountId}/setinventoryverificationcontact",
          "parameters": {
            "country": {
              "description": "The country for which inventory verification is requested.",
              "type": "string",
              "location": "query"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string",
              "location": "path",
              "format": "uint64",
              "required": true
            },
            "contactName": {
              "location": "query",
              "type": "string",
              "description": "The name of the inventory verification contact."
            },
            "language": {
              "type": "string",
              "description": "The language for which inventory verification is requested.",
              "location": "query"
            },
            "accountId": {
              "type": "string",
              "required": true,
              "format": "uint64",
              "location": "path",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account."
            },
            "contactEmail": {
              "type": "string",
              "description": "The email of the inventory verification contact.",
              "location": "query"
            }
          }
        },
        "get": {
          "id": "content.liasettings.get",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string",
              "required": true
            },
            "accountId": {
              "type": "string",
              "required": true,
              "format": "uint64",
              "location": "path",
              "description": "The ID of the account for which to get or update LIA settings."
            }
          },
          "path": "content/v2/{merchantId}/liasettings/{accountId}",
          "httpMethod": "GET",
          "description": "Retrieves the LIA settings of the account.",
          "flatPath": "content/v2/{merchantId}/liasettings/{accountId}",
          "response": {
            "$ref": "LiaSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "requestgmbaccess": {
          "description": "Requests access to a specified Google My Business account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "gmbEmail": {
              "description": "The email of the Google My Business account.",
              "location": "query",
              "type": "string"
            },
            "merchantId": {
              "format": "uint64",
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string",
              "required": true
            },
            "accountId": {
              "required": true,
              "description": "The ID of the account for which GMB access is requested.",
              "type": "string",
              "location": "path",
              "format": "uint64"
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "response": {
            "$ref": "LiasettingsRequestGmbAccessResponse"
          },
          "flatPath": "content/v2/{merchantId}/liasettings/{accountId}/requestgmbaccess",
          "id": "content.liasettings.requestgmbaccess",
          "httpMethod": "POST",
          "path": "content/v2/{merchantId}/liasettings/{accountId}/requestgmbaccess"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2/{merchantId}/liasettings",
          "response": {
            "$ref": "LiasettingsListResponse"
          },
          "parameterOrder": [
            "merchantId"
          ],
          "flatPath": "content/v2/{merchantId}/liasettings",
          "parameters": {
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of LIA settings to return in the response, used for paging.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "merchantId": {
              "type": "string",
              "description": "The ID of the managing account. This must be a multi-client account.",
              "required": true,
              "location": "path",
              "format": "uint64"
            }
          },
          "id": "content.liasettings.list",
          "description": "Lists the LIA settings of the sub-accounts in your Merchant Center account.",
          "httpMethod": "GET"
        },
        "listposdataproviders": {
          "description": "Retrieves the list of POS data providers that have active settings for the all eiligible countries.",
          "flatPath": "content/v2/liasettings/posdataproviders",
          "path": "content/v2/liasettings/posdataproviders",
          "parameters": {},
          "id": "content.liasettings.listposdataproviders",
          "parameterOrder": [],
          "response": {
            "$ref": "LiasettingsListPosDataProvidersResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET"
        },
        "custombatch": {
          "id": "content.liasettings.custombatch",
          "response": {
            "$ref": "LiasettingsCustomBatchResponse"
          },
          "description": "Retrieves and/or updates the LIA settings of multiple accounts in a single request.",
          "flatPath": "content/v2/liasettings/batch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "path": "content/v2/liasettings/batch",
          "parameters": {
            "dryRun": {
              "type": "boolean",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "location": "query"
            }
          },
          "request": {
            "$ref": "LiasettingsCustomBatchRequest"
          },
          "parameterOrder": []
        },
        "getaccessiblegmbaccounts": {
          "parameters": {
            "merchantId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true,
              "format": "uint64"
            },
            "accountId": {
              "format": "uint64",
              "location": "path",
              "type": "string",
              "description": "The ID of the account for which to retrieve accessible Google My Business accounts.",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2/{merchantId}/liasettings/{accountId}/accessiblegmbaccounts",
          "response": {
            "$ref": "LiasettingsGetAccessibleGmbAccountsResponse"
          },
          "id": "content.liasettings.getaccessiblegmbaccounts",
          "description": "Retrieves the list of accessible Google My Business accounts.",
          "path": "content/v2/{merchantId}/liasettings/{accountId}/accessiblegmbaccounts"
        },
        "setposdataprovider": {
          "flatPath": "content/v2/{merchantId}/liasettings/{accountId}/setposdataprovider",
          "path": "content/v2/{merchantId}/liasettings/{accountId}/setposdataprovider",
          "id": "content.liasettings.setposdataprovider",
          "parameters": {
            "posExternalAccountId": {
              "type": "string",
              "description": "The account ID by which this merchant is known to the POS data provider.",
              "location": "query"
            },
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "location": "path",
              "required": true,
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account."
            },
            "posDataProviderId": {
              "type": "string",
              "location": "query",
              "format": "uint64",
              "description": "The ID of POS data provider."
            },
            "accountId": {
              "format": "uint64",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the account for which to retrieve accessible Google My Business accounts."
            },
            "country": {
              "type": "string",
              "location": "query",
              "description": "The country for which the POS data provider is selected."
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "description": "Sets the POS data provider for the specified country.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "LiasettingsSetPosDataProviderResponse"
          }
        },
        "update": {
          "id": "content.liasettings.update",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Updates the LIA settings of the account. Any fields that are not provided are deleted from the resource.",
          "request": {
            "$ref": "LiaSettings"
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "LiaSettings"
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "path": "content/v2/{merchantId}/liasettings/{accountId}",
          "parameters": {
            "accountId": {
              "description": "The ID of the account for which to get or update LIA settings.",
              "format": "uint64",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "dryRun": {
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "location": "query",
              "type": "boolean"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string",
              "format": "uint64",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "content/v2/{merchantId}/liasettings/{accountId}"
        }
      }
    },
    "orderinvoices": {
      "methods": {
        "createrefundinvoice": {
          "flatPath": "content/v2/{merchantId}/orderinvoices/{orderId}/createRefundInvoice",
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "required": true,
              "type": "string",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "location": "path"
            },
            "orderId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the order.",
              "required": true
            }
          },
          "description": "Creates a refund invoice for one or more shipment groups, and triggers a refund for orderinvoice enabled orders. This can only be used for line items that have previously been charged using `createChargeInvoice`. All amounts (except for the summary) are incremental with respect to the previous invoice.",
          "path": "content/v2/{merchantId}/orderinvoices/{orderId}/createRefundInvoice",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "OrderinvoicesCreateRefundInvoiceRequest"
          },
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "id": "content.orderinvoices.createrefundinvoice",
          "httpMethod": "POST",
          "response": {
            "$ref": "OrderinvoicesCreateRefundInvoiceResponse"
          }
        },
        "createchargeinvoice": {
          "description": "Creates a charge invoice for a shipment group, and triggers a charge capture for orderinvoice enabled orders.",
          "httpMethod": "POST",
          "parameters": {
            "orderId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the order."
            },
            "merchantId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64"
            }
          },
          "flatPath": "content/v2/{merchantId}/orderinvoices/{orderId}/createChargeInvoice",
          "response": {
            "$ref": "OrderinvoicesCreateChargeInvoiceResponse"
          },
          "path": "content/v2/{merchantId}/orderinvoices/{orderId}/createChargeInvoice",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "id": "content.orderinvoices.createchargeinvoice",
          "request": {
            "$ref": "OrderinvoicesCreateChargeInvoiceRequest"
          }
        }
      }
    },
    "products": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that contains the products. This account cannot be a multi-client account.",
              "required": true,
              "format": "uint64",
              "location": "path",
              "type": "string"
            },
            "maxResults": {
              "format": "uint32",
              "description": "The maximum number of products to return in the response, used for paging.",
              "type": "integer",
              "location": "query"
            },
            "includeInvalidInsertedItems": {
              "type": "boolean",
              "description": "Flag to include the invalid inserted items in the result of the list request. By default the invalid items are not shown (the default value is false).",
              "location": "query"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "flatPath": "content/v2/{merchantId}/products",
          "id": "content.products.list",
          "path": "content/v2/{merchantId}/products",
          "response": {
            "$ref": "ProductsListResponse"
          },
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Lists the products in your Merchant Center account. The response might contain fewer items than specified by maxResults. Rely on nextPageToken to determine if there are more items to be requested."
        },
        "delete": {
          "description": "Deletes a product from your Merchant Center account.",
          "id": "content.products.delete",
          "flatPath": "content/v2/{merchantId}/products/{productId}",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "parameters": {
            "dryRun": {
              "type": "boolean",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "location": "query"
            },
            "merchantId": {
              "location": "path",
              "format": "uint64",
              "type": "string",
              "required": true,
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account."
            },
            "productId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The REST ID of the product."
            }
          },
          "httpMethod": "DELETE",
          "path": "content/v2/{merchantId}/products/{productId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "custombatch": {
          "description": "Retrieves, inserts, and deletes multiple products in a single request.",
          "response": {
            "$ref": "ProductsCustomBatchResponse"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "path": "content/v2/products/batch",
          "flatPath": "content/v2/products/batch",
          "parameters": {
            "dryRun": {
              "type": "boolean",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "location": "query"
            }
          },
          "request": {
            "$ref": "ProductsCustomBatchRequest"
          },
          "id": "content.products.custombatch"
        },
        "insert": {
          "response": {
            "$ref": "Product"
          },
          "flatPath": "content/v2/{merchantId}/products",
          "parameterOrder": [
            "merchantId"
          ],
          "id": "content.products.insert",
          "path": "content/v2/{merchantId}/products",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Uploads a product to your Merchant Center account. If an item with the same channel, contentLanguage, offerId, and targetCountry already exists, this method updates that entry.",
          "httpMethod": "POST",
          "request": {
            "$ref": "Product"
          },
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "type": "string",
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "required": true,
              "location": "path"
            },
            "dryRun": {
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "location": "query",
              "type": "boolean"
            }
          }
        },
        "get": {
          "response": {
            "$ref": "Product"
          },
          "description": "Retrieves a product from your Merchant Center account.",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "flatPath": "content/v2/{merchantId}/products/{productId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "format": "uint64",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "productId": {
              "type": "string",
              "description": "The REST ID of the product.",
              "required": true,
              "location": "path"
            }
          },
          "id": "content.products.get",
          "path": "content/v2/{merchantId}/products/{productId}"
        }
      }
    },
    "datafeeds": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2/{merchantId}/datafeeds/{datafeedId}",
          "response": {
            "$ref": "Datafeed"
          },
          "parameters": {
            "merchantId": {
              "location": "path",
              "required": true,
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "format": "uint64",
              "type": "string"
            },
            "datafeedId": {
              "location": "path",
              "type": "string",
              "required": true,
              "format": "uint64",
              "description": "The ID of the datafeed."
            }
          },
          "description": "Retrieves a datafeed configuration from your Merchant Center account.",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "flatPath": "content/v2/{merchantId}/datafeeds/{datafeedId}",
          "id": "content.datafeeds.get",
          "httpMethod": "GET"
        },
        "update": {
          "description": "Updates a datafeed configuration of your Merchant Center account. Any fields that are not provided are deleted from the resource.",
          "id": "content.datafeeds.update",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "request": {
            "$ref": "Datafeed"
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "Datafeed"
          },
          "parameters": {
            "dryRun": {
              "location": "query",
              "type": "boolean",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any)."
            },
            "datafeedId": {
              "format": "uint64",
              "description": "The ID of the datafeed.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "merchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account."
            }
          },
          "flatPath": "content/v2/{merchantId}/datafeeds/{datafeedId}",
          "path": "content/v2/{merchantId}/datafeeds/{datafeedId}"
        },
        "delete": {
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "path": "content/v2/{merchantId}/datafeeds/{datafeedId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "DELETE",
          "flatPath": "content/v2/{merchantId}/datafeeds/{datafeedId}",
          "id": "content.datafeeds.delete",
          "parameters": {
            "datafeedId": {
              "location": "path",
              "description": "The ID of the datafeed.",
              "type": "string",
              "required": true,
              "format": "uint64"
            },
            "merchantId": {
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "uint64"
            },
            "dryRun": {
              "location": "query",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "type": "boolean"
            }
          },
          "description": "Deletes a datafeed configuration from your Merchant Center account."
        },
        "custombatch": {
          "path": "content/v2/datafeeds/batch",
          "response": {
            "$ref": "DatafeedsCustomBatchResponse"
          },
          "parameters": {
            "dryRun": {
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "type": "boolean",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "DatafeedsCustomBatchRequest"
          },
          "flatPath": "content/v2/datafeeds/batch",
          "id": "content.datafeeds.custombatch",
          "description": "Deletes, fetches, gets, inserts and updates multiple datafeeds in a single request.",
          "httpMethod": "POST"
        },
        "list": {
          "parameters": {
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of products to return in the response, used for paging.",
              "format": "uint32",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "merchantId": {
              "location": "path",
              "format": "uint64",
              "required": true,
              "type": "string",
              "description": "The ID of the account that manages the datafeeds. This account cannot be a multi-client account."
            }
          },
          "path": "content/v2/{merchantId}/datafeeds",
          "id": "content.datafeeds.list",
          "parameterOrder": [
            "merchantId"
          ],
          "httpMethod": "GET",
          "flatPath": "content/v2/{merchantId}/datafeeds",
          "description": "Lists the configurations for datafeeds in your Merchant Center account.",
          "response": {
            "$ref": "DatafeedsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "insert": {
          "path": "content/v2/{merchantId}/datafeeds",
          "id": "content.datafeeds.insert",
          "flatPath": "content/v2/{merchantId}/datafeeds",
          "response": {
            "$ref": "Datafeed"
          },
          "parameterOrder": [
            "merchantId"
          ],
          "request": {
            "$ref": "Datafeed"
          },
          "parameters": {
            "dryRun": {
              "location": "query",
              "type": "boolean",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any)."
            },
            "merchantId": {
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "required": true,
              "type": "string",
              "format": "uint64",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "description": "Registers a datafeed configuration with your Merchant Center account."
        },
        "fetchnow": {
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "parameters": {
            "dryRun": {
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "location": "query",
              "type": "boolean"
            },
            "merchantId": {
              "type": "string",
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "required": true,
              "location": "path",
              "format": "uint64"
            },
            "datafeedId": {
              "required": true,
              "type": "string",
              "description": "The ID of the datafeed to be fetched.",
              "location": "path",
              "format": "uint64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Invokes a fetch for the datafeed in your Merchant Center account.",
          "httpMethod": "POST",
          "flatPath": "content/v2/{merchantId}/datafeeds/{datafeedId}/fetchNow",
          "path": "content/v2/{merchantId}/datafeeds/{datafeedId}/fetchNow",
          "response": {
            "$ref": "DatafeedsFetchNowResponse"
          },
          "id": "content.datafeeds.fetchnow"
        }
      }
    },
    "accounttax": {
      "methods": {
        "get": {
          "description": "Retrieves the tax settings of the account.",
          "flatPath": "content/v2/{merchantId}/accounttax/{accountId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "response": {
            "$ref": "AccountTax"
          },
          "id": "content.accounttax.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2/{merchantId}/accounttax/{accountId}",
          "parameters": {
            "accountId": {
              "type": "string",
              "required": true,
              "location": "path",
              "format": "uint64",
              "description": "The ID of the account for which to get/update account tax settings."
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "type": "string",
              "required": true,
              "location": "path"
            }
          }
        },
        "custombatch": {
          "path": "content/v2/accounttax/batch",
          "parameterOrder": [],
          "description": "Retrieves and updates tax settings of multiple accounts in a single request.",
          "httpMethod": "POST",
          "flatPath": "content/v2/accounttax/batch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "dryRun": {
              "location": "query",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "type": "boolean"
            }
          },
          "request": {
            "$ref": "AccounttaxCustomBatchRequest"
          },
          "response": {
            "$ref": "AccounttaxCustomBatchResponse"
          },
          "id": "content.accounttax.custombatch"
        },
        "update": {
          "id": "content.accounttax.update",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string",
              "format": "uint64",
              "required": true,
              "location": "path"
            },
            "accountId": {
              "required": true,
              "location": "path",
              "format": "uint64",
              "description": "The ID of the account for which to get/update account tax settings.",
              "type": "string"
            },
            "dryRun": {
              "type": "boolean",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "location": "query"
            }
          },
          "flatPath": "content/v2/{merchantId}/accounttax/{accountId}",
          "httpMethod": "PUT",
          "response": {
            "$ref": "AccountTax"
          },
          "description": "Updates the tax settings of the account. Any fields that are not provided are deleted from the resource.",
          "request": {
            "$ref": "AccountTax"
          },
          "path": "content/v2/{merchantId}/accounttax/{accountId}"
        },
        "list": {
          "parameters": {
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "merchantId": {
              "required": true,
              "type": "string",
              "description": "The ID of the managing account. This must be a multi-client account.",
              "format": "uint64",
              "location": "path"
            },
            "maxResults": {
              "type": "integer",
              "format": "uint32",
              "location": "query",
              "description": "The maximum number of tax settings to return in the response, used for paging."
            }
          },
          "path": "content/v2/{merchantId}/accounttax",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "flatPath": "content/v2/{merchantId}/accounttax",
          "id": "content.accounttax.list",
          "response": {
            "$ref": "AccounttaxListResponse"
          },
          "description": "Lists the tax settings of the sub-accounts in your Merchant Center account.",
          "parameterOrder": [
            "merchantId"
          ]
        }
      }
    },
    "accounts": {
      "methods": {
        "insert": {
          "description": "Creates a Merchant Center sub-account.",
          "flatPath": "content/v2/{merchantId}/accounts",
          "request": {
            "$ref": "Account"
          },
          "path": "content/v2/{merchantId}/accounts",
          "parameters": {
            "merchantId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the managing account. This must be a multi-client account.",
              "format": "uint64",
              "required": true
            },
            "dryRun": {
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "location": "query",
              "type": "boolean"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId"
          ],
          "id": "content.accounts.insert",
          "response": {
            "$ref": "Account"
          }
        },
        "claimwebsite": {
          "flatPath": "content/v2/{merchantId}/accounts/{accountId}/claimwebsite",
          "id": "content.accounts.claimwebsite",
          "path": "content/v2/{merchantId}/accounts/{accountId}/claimwebsite",
          "description": "Claims the website of a Merchant Center sub-account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "AccountsClaimWebsiteResponse"
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "accountId": {
              "location": "path",
              "type": "string",
              "required": true,
              "format": "uint64",
              "description": "The ID of the account whose website is claimed."
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string",
              "format": "uint64",
              "location": "path",
              "required": true
            },
            "overwrite": {
              "description": "Only available to selected merchants. When set to `True`, this flag removes any existing claim on the requested website by another account and replaces it with a claim from this account.",
              "location": "query",
              "type": "boolean"
            }
          }
        },
        "get": {
          "description": "Retrieves a Merchant Center account.",
          "response": {
            "$ref": "Account"
          },
          "path": "content/v2/{merchantId}/accounts/{accountId}",
          "flatPath": "content/v2/{merchantId}/accounts/{accountId}",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "id": "content.accounts.get",
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "type": "string",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true,
              "location": "path"
            },
            "accountId": {
              "type": "string",
              "description": "The ID of the account.",
              "location": "path",
              "format": "uint64",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET"
        },
        "link": {
          "parameters": {
            "accountId": {
              "required": true,
              "type": "string",
              "location": "path",
              "format": "uint64",
              "description": "The ID of the account that should be linked."
            },
            "merchantId": {
              "type": "string",
              "required": true,
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path"
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "request": {
            "$ref": "AccountsLinkRequest"
          },
          "description": "Performs an action on a link between two Merchant Center accounts, namely accountId and linkedAccountId.",
          "httpMethod": "POST",
          "response": {
            "$ref": "AccountsLinkResponse"
          },
          "path": "content/v2/{merchantId}/accounts/{accountId}/link",
          "id": "content.accounts.link",
          "flatPath": "content/v2/{merchantId}/accounts/{accountId}/link",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2/{merchantId}/accounts/{accountId}",
          "response": {
            "$ref": "Account"
          },
          "parameters": {
            "merchantId": {
              "type": "string",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "required": true,
              "location": "path"
            },
            "dryRun": {
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "type": "boolean",
              "location": "query"
            },
            "accountId": {
              "description": "The ID of the account.",
              "format": "uint64",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "request": {
            "$ref": "Account"
          },
          "id": "content.accounts.update",
          "description": "Updates a Merchant Center account. Any fields that are not provided are deleted from the resource.",
          "httpMethod": "PUT",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "flatPath": "content/v2/{merchantId}/accounts/{accountId}"
        },
        "delete": {
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "id": "content.accounts.delete",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2/{merchantId}/accounts/{accountId}",
          "httpMethod": "DELETE",
          "parameters": {
            "accountId": {
              "type": "string",
              "required": true,
              "description": "The ID of the account.",
              "format": "uint64",
              "location": "path"
            },
            "merchantId": {
              "type": "string",
              "location": "path",
              "required": true,
              "format": "uint64",
              "description": "The ID of the managing account. This must be a multi-client account, and accountId must be the ID of a sub-account of this account."
            },
            "dryRun": {
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "location": "query",
              "type": "boolean"
            },
            "force": {
              "location": "query",
              "description": "Flag to delete sub-accounts with products. The default value is false.",
              "type": "boolean",
              "default": "false"
            }
          },
          "description": "Deletes a Merchant Center sub-account.",
          "flatPath": "content/v2/{merchantId}/accounts/{accountId}"
        },
        "authinfo": {
          "flatPath": "content/v2/accounts/authinfo",
          "httpMethod": "GET",
          "description": "Returns information about the authenticated user.",
          "parameterOrder": [],
          "parameters": {},
          "id": "content.accounts.authinfo",
          "response": {
            "$ref": "AccountsAuthInfoResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2/accounts/authinfo"
        },
        "custombatch": {
          "httpMethod": "POST",
          "response": {
            "$ref": "AccountsCustomBatchResponse"
          },
          "description": "Retrieves, inserts, updates, and deletes multiple Merchant Center (sub-)accounts in a single request.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "dryRun": {
              "type": "boolean",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "path": "content/v2/accounts/batch",
          "id": "content.accounts.custombatch",
          "flatPath": "content/v2/accounts/batch",
          "request": {
            "$ref": "AccountsCustomBatchRequest"
          }
        },
        "list": {
          "parameterOrder": [
            "merchantId"
          ],
          "path": "content/v2/{merchantId}/accounts",
          "httpMethod": "GET",
          "response": {
            "$ref": "AccountsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the managing account. This must be a multi-client account.",
              "type": "string",
              "required": true,
              "format": "uint64",
              "location": "path"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "uint32",
              "description": "The maximum number of accounts to return in the response, used for paging."
            }
          },
          "description": "Lists the sub-accounts in your Merchant Center account.",
          "flatPath": "content/v2/{merchantId}/accounts",
          "id": "content.accounts.list"
        }
      }
    },
    "orderreports": {
      "methods": {
        "listtransactions": {
          "parameterOrder": [
            "merchantId",
            "disbursementId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "location": "query",
              "description": "The maximum number of disbursements to return in the response, used for paging.",
              "type": "integer",
              "format": "uint32"
            },
            "transactionEndDate": {
              "location": "query",
              "type": "string",
              "description": "The last date in which transaction occurred. In ISO 8601 format. Default: current date."
            },
            "disbursementId": {
              "type": "string",
              "description": "The Google-provided ID of the disbursement (found in Wallet).",
              "location": "path",
              "required": true
            },
            "transactionStartDate": {
              "description": "The first date in which transaction occurred. In ISO 8601 format.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            },
            "merchantId": {
              "location": "path",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "required": true,
              "format": "uint64",
              "type": "string"
            }
          },
          "description": "Retrieves a list of transactions for a disbursement from your Merchant Center account.",
          "response": {
            "$ref": "OrderreportsListTransactionsResponse"
          },
          "flatPath": "content/v2/{merchantId}/orderreports/disbursements/{disbursementId}/transactions",
          "path": "content/v2/{merchantId}/orderreports/disbursements/{disbursementId}/transactions",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.orderreports.listtransactions"
        },
        "listdisbursements": {
          "id": "content.orderreports.listdisbursements",
          "response": {
            "$ref": "OrderreportsListDisbursementsResponse"
          },
          "description": "Retrieves a report for disbursements from your Merchant Center account.",
          "flatPath": "content/v2/{merchantId}/orderreports/disbursements",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "maxResults": {
              "description": "The maximum number of disbursements to return in the response, used for paging.",
              "type": "integer",
              "format": "uint32",
              "location": "query"
            },
            "disbursementEndDate": {
              "description": "The last date which disbursements occurred. In ISO 8601 format. Default: current date.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            },
            "disbursementStartDate": {
              "type": "string",
              "location": "query",
              "description": "The first date which disbursements occurred. In ISO 8601 format."
            },
            "merchantId": {
              "required": true,
              "format": "uint64",
              "location": "path",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2/{merchantId}/orderreports/disbursements",
          "httpMethod": "GET"
        }
      }
    },
    "orders": {
      "methods": {
        "returnlineitem": {
          "description": "Returns a line item.",
          "response": {
            "$ref": "OrdersReturnLineItemResponse"
          },
          "request": {
            "$ref": "OrdersReturnLineItemRequest"
          },
          "flatPath": "content/v2/{merchantId}/orders/{orderId}/returnLineItem",
          "id": "content.orders.returnlineitem",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "required": true,
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "location": "path",
              "type": "string",
              "format": "uint64"
            },
            "orderId": {
              "location": "path",
              "required": true,
              "description": "The ID of the order.",
              "type": "string"
            }
          },
          "path": "content/v2/{merchantId}/orders/{orderId}/returnLineItem"
        },
        "setlineitemmetadata": {
          "id": "content.orders.setlineitemmetadata",
          "path": "content/v2/{merchantId}/orders/{orderId}/setLineItemMetadata",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "OrdersSetLineItemMetadataResponse"
          },
          "request": {
            "$ref": "OrdersSetLineItemMetadataRequest"
          },
          "parameters": {
            "merchantId": {
              "location": "path",
              "required": true,
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account."
            },
            "orderId": {
              "location": "path",
              "description": "The ID of the order.",
              "type": "string",
              "required": true
            }
          },
          "description": "Sets (or overrides if it already exists) merchant provided annotations in the form of key-value pairs. A common use case would be to supply us with additional structured information about a line item that cannot be provided via other methods. Submitted key-value pairs can be retrieved as part of the orders resource.",
          "flatPath": "content/v2/{merchantId}/orders/{orderId}/setLineItemMetadata",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "httpMethod": "POST"
        },
        "cancel": {
          "httpMethod": "POST",
          "response": {
            "$ref": "OrdersCancelResponse"
          },
          "request": {
            "$ref": "OrdersCancelRequest"
          },
          "description": "Cancels all line items in an order, making a full refund.",
          "path": "content/v2/{merchantId}/orders/{orderId}/cancel",
          "flatPath": "content/v2/{merchantId}/orders/{orderId}/cancel",
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "required": true,
              "format": "uint64",
              "type": "string",
              "location": "path"
            },
            "orderId": {
              "description": "The ID of the order to cancel.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "id": "content.orders.cancel",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "canceltestorderbycustomer": {
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "location": "path",
              "required": true,
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "type": "string"
            },
            "orderId": {
              "location": "path",
              "description": "The ID of the test order to cancel.",
              "type": "string",
              "required": true
            }
          },
          "request": {
            "$ref": "OrdersCancelTestOrderByCustomerRequest"
          },
          "path": "content/v2/{merchantId}/testorders/{orderId}/cancelByCustomer",
          "response": {
            "$ref": "OrdersCancelTestOrderByCustomerResponse"
          },
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "description": "Sandbox only. Cancels a test order for customer-initiated cancellation.",
          "id": "content.orders.canceltestorderbycustomer",
          "flatPath": "content/v2/{merchantId}/testorders/{orderId}/cancelByCustomer",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "acknowledge": {
          "path": "content/v2/{merchantId}/orders/{orderId}/acknowledge",
          "parameters": {
            "orderId": {
              "type": "string",
              "required": true,
              "description": "The ID of the order.",
              "location": "path"
            },
            "merchantId": {
              "format": "uint64",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "OrdersAcknowledgeRequest"
          },
          "id": "content.orders.acknowledge",
          "flatPath": "content/v2/{merchantId}/orders/{orderId}/acknowledge",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Marks an order as acknowledged.",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "response": {
            "$ref": "OrdersAcknowledgeResponse"
          },
          "httpMethod": "POST"
        },
        "cancellineitem": {
          "id": "content.orders.cancellineitem",
          "parameters": {
            "orderId": {
              "required": true,
              "location": "path",
              "description": "The ID of the order.",
              "type": "string"
            },
            "merchantId": {
              "format": "uint64",
              "required": true,
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "OrdersCancelLineItemRequest"
          },
          "response": {
            "$ref": "OrdersCancelLineItemResponse"
          },
          "httpMethod": "POST",
          "flatPath": "content/v2/{merchantId}/orders/{orderId}/cancelLineItem",
          "path": "content/v2/{merchantId}/orders/{orderId}/cancelLineItem",
          "description": "Cancels a line item, making a full refund.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "orderId"
          ]
        },
        "updateshipment": {
          "response": {
            "$ref": "OrdersUpdateShipmentResponse"
          },
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "request": {
            "$ref": "OrdersUpdateShipmentRequest"
          },
          "path": "content/v2/{merchantId}/orders/{orderId}/updateShipment",
          "scopes": [
[...]
