{
  "version": "v1alpha1",
  "version_module": true,
  "name": "contactcenteraiplatform",
  "baseUrl": "https://contactcenteraiplatform.googleapis.com/",
  "ownerName": "Google",
  "protocol": "rest",
  "canonicalName": "CCAI Platform",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/solutions/contact-center-ai-platform",
  "discoveryVersion": "v1",
  "title": "Contact Center AI Platform API",
  "revision": "20230823",
  "rootUrl": "https://contactcenteraiplatform.googleapis.com/",
  "description": "",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://contactcenteraiplatform.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "basePath": "",
  "id": "contactcenteraiplatform:v1alpha1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "queryContactCenterQuota": {
              "httpMethod": "GET",
              "description": "Queries the contact center quota, an aggregation over all the projects, that belongs to the billing account, which the input project belongs to.",
              "path": "v1alpha1/{+parent}:queryContactCenterQuota",
              "parameterOrder": [
                "parent"
              ],
              "id": "contactcenteraiplatform.projects.locations.queryContactCenterQuota",
              "response": {
                "$ref": "ContactCenterQuota"
              },
              "parameters": {
                "parent": {
                  "description": "Required. Parent project resource id.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}:queryContactCenterQuota"
            },
            "get": {
              "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}",
              "response": {
                "$ref": "Location"
              },
              "path": "v1alpha1/{+name}",
              "description": "Gets information about a location.",
              "id": "contactcenteraiplatform.projects.locations.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Resource name for the location.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            },
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "flatPath": "v1alpha1/projects/{projectsId}/locations",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer"
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "contactcenteraiplatform.projects.locations.list",
              "path": "v1alpha1/{+name}/locations",
              "description": "Lists information about the supported locations for this service."
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "contactcenteraiplatform.projects.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "list": {
                  "id": "contactcenteraiplatform.projects.locations.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The standard list page size.",
                      "type": "integer"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation's parent resource."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha1/{+name}/operations"
                },
                "cancel": {
                  "path": "v1alpha1/{+name}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "id": "contactcenteraiplatform.projects.locations.operations.cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "contactcenteraiplatform.projects.locations.operations.delete",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "path": "v1alpha1/{+name}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                }
              }
            },
            "contactCenters": {
              "methods": {
                "delete": {
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/contactCenters/{contactCentersId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "contactcenteraiplatform.projects.locations.contactCenters.delete",
                  "description": "Deletes a single ContactCenter.",
                  "path": "v1alpha1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/contactCenters/[^/]+$",
                      "description": "Required. Name of the resource",
                      "required": true,
                      "location": "path"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    }
                  }
                },
                "create": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1alpha1/{+parent}/contactCenters",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/contactCenters",
                  "parameters": {
                    "contactCenterId": {
                      "description": "Required. Id of the requesting object If auto-generating Id server-side, remove this field and contact_center_id from the method_signature of Create RPC",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. Value for parent.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  },
                  "id": "contactcenteraiplatform.projects.locations.contactCenters.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "ContactCenter"
                  },
                  "description": "Creates a new ContactCenter in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "contactcenteraiplatform.projects.locations.contactCenters.list",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results the server should return."
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Parent value for ListContactCentersRequest",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Hint for how to order the results",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Filtering results",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "response": {
                    "$ref": "ListContactCentersResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists ContactCenters in a given project and location.",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/contactCenters",
                  "path": "v1alpha1/{+parent}/contactCenters"
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/contactCenters/{contactCentersId}",
                  "description": "Updates the parameters of a single ContactCenter.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "contactcenteraiplatform.projects.locations.contactCenters.patch",
                  "path": "v1alpha1/{+name}",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the ContactCenter resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "description": "name of resource",
                      "pattern": "^projects/[^/]+/locations/[^/]+/contactCenters/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "ContactCenter"
                  },
                  "httpMethod": "PATCH"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "contactcenteraiplatform.projects.locations.contactCenters.get",
                  "response": {
                    "$ref": "ContactCenter"
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/contactCenters/{contactCentersId}",
                  "path": "v1alpha1/{+name}",
                  "httpMethod": "GET",
                  "description": "Gets details of a single ContactCenter.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/contactCenters/[^/]+$",
                      "description": "Required. Name of the resource",
                      "location": "path",
                      "required": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "SAMLParams": {
      "description": "Message storing SAML params to enable Google as IDP.",
      "type": "object",
      "id": "SAMLParams",
      "properties": {
        "entityId": {
          "description": "Entity id URL",
          "type": "string"
        },
        "certificate": {
          "type": "string",
          "description": "SAML certificate"
        },
        "userEmail": {
          "deprecated": true,
          "description": "Email address of the first admin users.",
          "type": "string"
        },
        "ssoUri": {
          "type": "string",
          "description": "Single sign-on URL"
        }
      }
    },
    "ListContactCentersResponse": {
      "type": "object",
      "description": "Message for response to listing ContactCenters",
      "id": "ListContactCentersResponse",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "contactCenters": {
          "type": "array",
          "description": "The list of ContactCenter",
          "items": {
            "$ref": "ContactCenter"
          }
        }
      }
    },
    "InstanceConfig": {
      "type": "object",
      "properties": {
        "instanceSize": {
          "description": "The instance size of this the instance configuration.",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Instance Size STANDARD_SMALL.",
            "Instance Size STANDARD_MEDIUM.",
            "Instance Size STANDARD_LARGE.",
            "Instance Size STANDARD_XLARGE.",
            "Instance Size STANDARD_2XLARGE.",
            "Instance Size STANDARD_3XLARGE.",
            "Instance Size DEV_EXTRA_SMALL."
          ],
          "enum": [
            "INSTANCE_SIZE_UNSPECIFIED",
            "STANDARD_SMALL",
            "STANDARD_MEDIUM",
            "STANDARD_LARGE",
            "STANDARD_XLARGE",
            "STANDARD_2XLARGE",
            "STANDARD_3XLARGE",
            "DEV_XSMALL"
          ],
          "type": "string"
        }
      },
      "id": "InstanceConfig",
      "description": "Message storing the instance configuration."
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "contactCenter": {
          "$ref": "ContactCenter",
          "description": "Contact center information for this request"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        }
      }
    },
    "CancelOperationRequest": {
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "ContactCenterQuota": {
      "type": "object",
      "id": "ContactCenterQuota",
      "properties": {
        "quotas": {
          "description": "Quota details per contact center instance type.",
          "type": "array",
          "items": {
            "$ref": "Quota"
          }
        },
        "contactCenterCountLimit": {
          "description": "Deprecated: Use the Quota fields instead. Reflects the count limit of contact centers on a billing account.",
          "format": "int32",
          "type": "integer",
          "deprecated": true
        },
        "contactCenterCountSum": {
          "type": "integer",
          "format": "int32",
          "deprecated": true,
          "description": "Deprecated: Use the Quota fields instead. Reflects the count sum of contact centers on a billing account."
        }
      },
      "description": "Represents a quota for contact centers."
    },
    "ListOperationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "AdminUser": {
      "id": "AdminUser",
      "description": "Message storing info about the first admin user. Next ID: 3",
      "properties": {
        "givenName": {
          "type": "string",
          "description": "Optional. First/given name of the first admin user."
        },
        "familyName": {
          "description": "Optional. Last/family name of the first admin user.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Quota": {
      "id": "Quota",
      "description": "Quota details.",
      "type": "object",
      "properties": {
        "contactCenterCountLimit": {
          "format": "int32",
          "type": "integer",
          "description": "Reflects the count limit of contact centers on a billing account."
        },
        "contactCenterCountSum": {
          "format": "int32",
          "type": "integer",
          "description": "Reflects the count sum of contact centers on a billing account."
        },
        "contactCenterInstanceSize": {
          "description": "Contact center instance type.",
          "enum": [
            "INSTANCE_SIZE_UNSPECIFIED",
            "STANDARD_SMALL",
            "STANDARD_MEDIUM",
            "STANDARD_LARGE",
            "STANDARD_XLARGE",
            "STANDARD_2XLARGE",
            "STANDARD_3XLARGE",
            "DEV_XSMALL"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Instance Size STANDARD_SMALL.",
            "Instance Size STANDARD_MEDIUM.",
            "Instance Size STANDARD_LARGE.",
            "Instance Size STANDARD_XLARGE.",
            "Instance Size STANDARD_2XLARGE.",
            "Instance Size STANDARD_3XLARGE.",
            "Instance Size DEV_EXTRA_SMALL."
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudCommonOperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "id": "GoogleCloudCommonOperationMetadata",
      "properties": {
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true
        },
        "statusDetail": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "cancelRequested": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ContactCenter": {
      "id": "ContactCenter",
      "description": "Message describing ContactCenter object Next ID: 16",
      "type": "object",
      "properties": {
        "ccaipManagedUsers": {
          "type": "boolean",
          "description": "Optional. Whether to enable users to be created in the CCAIP-instance concurrently to having users in Cloud identity"
        },
        "name": {
          "type": "string",
          "description": "name of resource"
        },
        "userEmail": {
          "description": "Optional. Email address of the first admin user.",
          "type": "string"
        },
        "samlParams": {
          "$ref": "SAMLParams",
          "description": "Optional. Params that sets up Google as IdP."
        },
        "displayName": {
          "type": "string",
          "description": "Required. A user friendly name for the ContactCenter."
        },
        "adminUser": {
          "$ref": "AdminUser",
          "description": "Optional. Info about the first admin user, such as given name and family name."
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "State DEPLOYING",
            "State DEPLOYED",
            "State TERMINATING",
            "State FAILED",
            "State TERMINATING_FAILED",
            "State TERMINATED",
            "State IN_GRACE_PERIOD"
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_DEPLOYING",
            "STATE_DEPLOYED",
            "STATE_TERMINATING",
            "STATE_FAILED",
            "STATE_TERMINATING_FAILED",
            "STATE_TERMINATED",
            "STATE_IN_GRACE_PERIOD"
          ],
          "description": "Output only. The state of this contact center."
        },
        "instanceConfig": {
          "description": "The configuration of this instance, it is currently immutable once created.",
          "$ref": "InstanceConfig"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. [Output only] Create time stamp",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. [Output only] Update time stamp",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "uris": {
          "$ref": "URIs",
          "description": "Output only. URIs to access the deployed ContactCenters.",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs",
          "type": "object"
        },
        "customerDomainPrefix": {
          "type": "string",
          "description": "Required. Immutable. At least 2 and max 16 char long, must conform to [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt)."
        },
        "kmsKey": {
          "description": "Immutable. The KMS key name to encrypt the user input (`ContactCenter`).",
          "type": "string"
        }
      }
    },
    "Operation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "id": "Operation"
    },
    "URIs": {
      "properties": {
        "chatBotUri": {
          "description": "Chat Bot Uri of the ContactCenter",
          "type": "string"
        },
        "rootUri": {
          "description": "Root Uri of the ContactCenter.",
          "type": "string"
        },
        "virtualAgentStreamingServiceUri": {
          "type": "string",
          "description": "Virtual Agent Streaming Service Uri of the ContactCenter."
        },
        "mediaUri": {
          "description": "Media Uri of the ContactCenter.",
          "type": "string"
        }
      },
      "description": "Message storing the URIs of the ContactCenter.",
      "id": "URIs",
      "type": "object"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Locations.ListLocations."
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "Status": {
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    }
  },
  "ownerDomain": "google.com"
}
