{
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://container.googleapis.com/",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "servicePath": "",
  "name": "container",
  "version": "v1beta1",
  "documentationLink": "https://cloud.google.com/container-engine/",
  "protocol": "rest",
  "rootUrl": "https://container.googleapis.com/",
  "title": "Kubernetes Engine API",
  "schemas": {
    "SetNodePoolManagementRequest": {
      "properties": {
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field."
        },
        "name": {
          "description": "The name (project, location, cluster, node pool id) of the node pool to set management properties. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field."
        },
        "management": {
          "$ref": "NodeManagement",
          "description": "Required. NodeManagement configuration for the node pool."
        },
        "nodePoolId": {
          "description": "Required. Deprecated. The name of the node pool to update. This field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      },
      "description": "SetNodePoolManagementRequest sets the node management properties of a node pool.",
      "id": "SetNodePoolManagementRequest",
      "type": "object"
    },
    "DatabaseEncryption": {
      "type": "object",
      "description": "Configuration of etcd encryption.",
      "id": "DatabaseEncryption",
      "properties": {
        "state": {
          "enum": [
            "UNKNOWN",
            "ENCRYPTED",
            "DECRYPTED"
          ],
          "enumDescriptions": [
            "Should never be set",
            "Secrets in etcd are encrypted.",
            "Secrets in etcd are stored in plain text (at etcd level) - this is unrelated to Compute Engine level full disk encryption."
          ],
          "description": "Denotes the state of etcd encryption.",
          "type": "string"
        },
        "keyName": {
          "description": "Name of CloudKMS key to use for the encryption of secrets in etcd. Ex. projects/my-project/locations/global/keyRings/my-ring/cryptoKeys/my-key",
          "type": "string"
        }
      }
    },
    "Metric": {
      "type": "object",
      "id": "Metric",
      "properties": {
        "intValue": {
          "format": "int64",
          "type": "string",
          "description": "For metrics with integer value."
        },
        "doubleValue": {
          "type": "number",
          "format": "double",
          "description": "For metrics with floating point value."
        },
        "stringValue": {
          "description": "For metrics with custom values (ratios, visual progress, etc.).",
          "type": "string"
        },
        "name": {
          "description": "Required. Metric name, e.g., \"nodes total\", \"percent done\".",
          "type": "string"
        }
      },
      "description": "Progress metric is (string, int|float|string) pair."
    },
    "AuthenticatorGroupsConfig": {
      "id": "AuthenticatorGroupsConfig",
      "properties": {
        "securityGroup": {
          "type": "string",
          "description": "The name of the security group-of-groups to be used. Only relevant if enabled = true."
        },
        "enabled": {
          "description": "Whether this cluster should return group membership lookups during authentication using a group of security groups.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Configuration for returning group information from authenticators."
    },
    "NetworkConfig": {
      "description": "NetworkConfig reports the relative names of network & subnetwork.",
      "id": "NetworkConfig",
      "type": "object",
      "properties": {
        "serviceExternalIpsConfig": {
          "description": "ServiceExternalIPsConfig specifies if services with externalIPs field are blocked or not.",
          "$ref": "ServiceExternalIPsConfig"
        },
        "gatewayApiConfig": {
          "description": "GatewayAPIConfig contains the desired config of Gateway API on this cluster.",
          "$ref": "GatewayAPIConfig"
        },
        "privateIpv6GoogleAccess": {
          "enum": [
            "PRIVATE_IPV6_GOOGLE_ACCESS_UNSPECIFIED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_DISABLED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_TO_GOOGLE",
            "PRIVATE_IPV6_GOOGLE_ACCESS_BIDIRECTIONAL"
          ],
          "description": "The desired state of IPv6 connectivity to Google Services. By default, no private IPv6 access to or from Google Services (all access will be via IPv4)",
          "type": "string",
          "enumDescriptions": [
            "Default value. Same as DISABLED",
            "No private access to or from Google Services",
            "Enables private IPv6 access to Google Services from GKE",
            "Enables priate IPv6 access to and from Google Services"
          ]
        },
        "enableIntraNodeVisibility": {
          "type": "boolean",
          "description": "Whether Intra-node visibility is enabled for this cluster. This makes same node pod to pod traffic visible for VPC network."
        },
        "enableL4ilbSubsetting": {
          "type": "boolean",
          "description": "Whether L4ILB Subsetting is enabled for this cluster."
        },
        "defaultSnatStatus": {
          "description": "Whether the cluster disables default in-node sNAT rules. In-node sNAT rules will be disabled when default_snat_status is disabled. When disabled is set to false, default IP masquerade rules will be applied to the nodes to prevent sNAT on cluster internal traffic.",
          "$ref": "DefaultSnatStatus"
        },
        "dnsConfig": {
          "description": "DNSConfig contains clusterDNS config for this cluster.",
          "$ref": "DNSConfig"
        },
        "subnetwork": {
          "description": "Output only. The relative name of the Google Compute Engine [subnetwork](https://cloud.google.com/compute/docs/vpc) to which the cluster is connected. Example: projects/my-project/regions/us-central1/subnetworks/my-subnet",
          "type": "string"
        },
        "network": {
          "description": "Output only. The relative name of the Google Compute Engine network(https://cloud.google.com/compute/docs/networks-and-firewalls#networks) to which the cluster is connected. Example: projects/my-project/global/networks/my-network",
          "type": "string"
        },
        "datapathProvider": {
          "enumDescriptions": [
            "Default value.",
            "Use the IPTables implementation based on kube-proxy.",
            "Use the eBPF based GKE Dataplane V2 with additional features. See the [GKE Dataplane V2 documentation](https://cloud.google.com/kubernetes-engine/docs/how-to/dataplane-v2) for more."
          ],
          "type": "string",
          "description": "The desired datapath provider for this cluster. By default, uses the IPTables-based kube-proxy implementation.",
          "enum": [
            "DATAPATH_PROVIDER_UNSPECIFIED",
            "LEGACY_DATAPATH",
            "ADVANCED_DATAPATH"
          ]
        }
      }
    },
    "GPUSharingConfig": {
      "description": "GPUSharingConfig represents the GPU sharing configuration for Hardware Accelerators.",
      "id": "GPUSharingConfig",
      "type": "object",
      "properties": {
        "gpuSharingStrategy": {
          "description": "The type of GPU sharing strategy to enable on the GPU node.",
          "enum": [
            "GPU_SHARING_STRATEGY_UNSPECIFIED",
            "TIME_SHARING"
          ],
          "enumDescriptions": [
            "Default value.",
            "GPUs are time-shared between containers."
          ],
          "type": "string"
        },
        "maxSharedClientsPerGpu": {
          "description": "The max number of containers that can share a physical GPU.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "WindowsVersion": {
      "properties": {
        "imageType": {
          "type": "string",
          "description": "Windows server image type"
        },
        "osVersion": {
          "type": "string",
          "description": "Windows server build number"
        },
        "supportEndDate": {
          "description": "Mainstream support end date",
          "$ref": "Date"
        }
      },
      "description": "Windows server version.",
      "id": "WindowsVersion",
      "type": "object"
    },
    "MasterAuth": {
      "type": "object",
      "id": "MasterAuth",
      "description": "The authentication information for accessing the master endpoint. Authentication can be done using HTTP basic auth or using client certificates.",
      "properties": {
        "clientCertificate": {
          "type": "string",
          "description": "[Output only] Base64-encoded public certificate used by clients to authenticate to the cluster endpoint."
        },
        "clientCertificateConfig": {
          "description": "Configuration for client certificate authentication on the cluster. For clusters before v1.12, if no configuration is specified, a client certificate is issued.",
          "$ref": "ClientCertificateConfig"
        },
        "clientKey": {
          "type": "string",
          "description": "[Output only] Base64-encoded private key used by clients to authenticate to the cluster endpoint."
        },
        "clusterCaCertificate": {
          "type": "string"
        },
        "username": {
          "description": "The username to use for HTTP basic authentication to the master endpoint. For clusters v1.6.0 and later, basic authentication can be disabled by leaving username unspecified (or setting it to the empty string). Warning: basic authentication is deprecated, and will be removed in GKE control plane versions 1.19 and newer. For a list of recommended authentication methods, see: https://cloud.google.com/kubernetes-engine/docs/how-to/api-server-authentication",
          "type": "string"
        },
        "password": {
          "description": "The password to use for HTTP basic authentication to the master endpoint. Because the master endpoint is open to the Internet, you should create a strong password. If a password is provided for cluster creation, username must be non-empty. Warning: basic authentication is deprecated, and will be removed in GKE control plane versions 1.19 and newer. For a list of recommended authentication methods, see: https://cloud.google.com/kubernetes-engine/docs/how-to/api-server-authentication",
          "type": "string"
        }
      }
    },
    "ServerConfig": {
      "id": "ServerConfig",
      "properties": {
        "validNodeVersions": {
          "items": {
            "type": "string"
          },
          "description": "List of valid node upgrade target versions, in descending order.",
          "type": "array"
        },
        "defaultImageType": {
          "description": "Default image type.",
          "type": "string"
        },
        "windowsVersionMaps": {
          "description": "Maps of Kubernetes version and supported Windows server versions.",
          "additionalProperties": {
            "$ref": "WindowsVersions"
          },
          "type": "object"
        },
        "channels": {
          "type": "array",
          "items": {
            "$ref": "ReleaseChannelConfig"
          },
          "description": "List of release channel configurations."
        },
        "defaultClusterVersion": {
          "type": "string",
          "description": "Version of Kubernetes the service deploys by default."
        },
        "validImageTypes": {
          "type": "array",
          "description": "List of valid image types.",
          "items": {
            "type": "string"
          }
        },
        "validMasterVersions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of valid master versions, in descending order."
        }
      },
      "description": "Kubernetes Engine service configuration.",
      "type": "object"
    },
    "ProtectConfig": {
      "properties": {
        "workloadVulnerabilityMode": {
          "type": "string",
          "enum": [
            "WORKLOAD_VULNERABILITY_MODE_UNSPECIFIED",
            "DISABLED",
            "BASIC"
          ],
          "description": "Sets which mode to use for Protect workload vulnerability scanning feature.",
          "enumDescriptions": [
            "Default value not specified.",
            "Disables Workload Vulnerability Scanning feature on the cluster.",
            "Applies basic vulnerability scanning settings for cluster workloads."
          ]
        },
        "workloadConfig": {
          "$ref": "WorkloadConfig",
          "description": "WorkloadConfig defines which actions are enabled for a cluster's workload configurations."
        }
      },
      "description": "ProtectConfig defines the flags needed to enable/disable features for the Protect API.",
      "id": "ProtectConfig",
      "type": "object"
    },
    "WorkloadCertificates": {
      "type": "object",
      "id": "WorkloadCertificates",
      "description": "Configuration for issuance of mTLS keys and certificates to Kubernetes pods.",
      "properties": {
        "enableCertificates": {
          "description": "enable_certificates controls issuance of workload mTLS certificates. If set, the GKE Workload Identity Certificates controller and node agent will be deployed in the cluster, which can then be configured by creating a WorkloadCertificateConfig Custom Resource. Requires Workload Identity (workload_pool must be non-empty).",
          "type": "boolean"
        }
      }
    },
    "EphemeralStorageConfig": {
      "type": "object",
      "id": "EphemeralStorageConfig",
      "properties": {
        "localSsdCount": {
          "format": "int32",
          "description": "Number of local SSDs to use to back ephemeral storage. Uses NVMe interfaces. Each local SSD is 375 GB in size. If zero, it means to disable using local SSDs as ephemeral storage.",
          "type": "integer"
        }
      },
      "description": "EphemeralStorageConfig contains configuration for the ephemeral storage filesystem."
    },
    "NodeTaint": {
      "id": "NodeTaint",
      "properties": {
        "key": {
          "description": "Key for taint.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Value for taint."
        },
        "effect": {
          "enum": [
            "EFFECT_UNSPECIFIED",
            "NO_SCHEDULE",
            "PREFER_NO_SCHEDULE",
            "NO_EXECUTE"
          ],
          "description": "Effect for taint.",
          "type": "string",
          "enumDescriptions": [
            "Not set",
            "NoSchedule",
            "PreferNoSchedule",
            "NoExecute"
          ]
        }
      },
      "type": "object",
      "description": "Kubernetes taint is comprised of three fields: key, value, and effect. Effect can only be one of three types: NoSchedule, PreferNoSchedule or NoExecute. See [here](https://kubernetes.io/docs/concepts/configuration/taint-and-toleration) for more information, including usage and the valid values."
    },
    "UpdateInfo": {
      "type": "object",
      "properties": {
        "blueGreenInfo": {
          "description": "Information of a blue-green upgrade.",
          "$ref": "BlueGreenInfo"
        }
      },
      "id": "UpdateInfo",
      "description": "UpdateInfo contains resource (instance groups, etc), status and other intermediate information relevant to a node pool upgrade."
    },
    "IdentityServiceConfig": {
      "properties": {
        "enabled": {
          "description": "Whether to enable the Identity Service component",
          "type": "boolean"
        }
      },
      "description": "IdentityServiceConfig is configuration for Identity Service which allows customers to use external identity providers with the K8S API",
      "type": "object",
      "id": "IdentityServiceConfig"
    },
    "WorkloadIdentityConfig": {
      "description": "Configuration for the use of Kubernetes Service Accounts in GCP IAM policies.",
      "id": "WorkloadIdentityConfig",
      "properties": {
        "workloadPool": {
          "type": "string",
          "description": "The workload pool to attach all Kubernetes service accounts to."
        },
        "identityProvider": {
          "type": "string",
          "description": "identity provider is the third party identity provider."
        },
        "identityNamespace": {
          "type": "string",
          "description": "IAM Identity Namespace to attach all Kubernetes Service Accounts to."
        }
      },
      "type": "object"
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "id": "Date",
      "properties": {
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        },
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        }
      }
    },
    "NetworkPolicy": {
      "description": "Configuration options for the NetworkPolicy feature. https://kubernetes.io/docs/concepts/services-networking/networkpolicies/",
      "properties": {
        "enabled": {
          "description": "Whether network policy is enabled on the cluster.",
          "type": "boolean"
        },
        "provider": {
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "CALICO"
          ],
          "enumDescriptions": [
            "Not set",
            "Tigera (Calico Felix)."
          ],
          "type": "string",
          "description": "The selected network policy provider."
        }
      },
      "type": "object",
      "id": "NetworkPolicy"
    },
    "SetLabelsRequest": {
      "description": "SetLabelsRequest sets the Google Cloud Platform labels on a Google Container Engine cluster, which will in turn set them for Google Compute Engine resources used by that cluster",
      "id": "SetLabelsRequest",
      "properties": {
        "labelFingerprint": {
          "description": "Required. The fingerprint of the previous set of labels for this resource, used to detect conflicts. The fingerprint is initially generated by Kubernetes Engine and changes after every request to modify or update labels. You must always provide an up-to-date fingerprint hash when updating or changing labels. Make a `get()` request to the resource to get the latest fingerprint.",
          "type": "string"
        },
        "resourceLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Required. The labels to set for that cluster."
        },
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field."
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster name) of the cluster to set labels. Specified in the format `projects/*/locations/*/clusters/*`."
        },
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        }
      },
      "type": "object"
    },
    "UpgradeSettings": {
      "description": "These upgrade settings configure the upgrade strategy for the node pool. Use strategy to switch between the strategies applied to the node pool. If the strategy is SURGE, use max_surge and max_unavailable to control the level of parallelism and the level of disruption caused by upgrade. 1. maxSurge controls the number of additional nodes that can be added to the node pool temporarily for the time of the upgrade to increase the number of available nodes. 2. maxUnavailable controls the number of nodes that can be simultaneously unavailable. 3. (maxUnavailable + maxSurge) determines the level of parallelism (how many nodes are being upgraded at the same time). If the strategy is BLUE_GREEN, use blue_green_settings to configure the blue-green upgrade related settings. 1. standard_rollout_policy is the default policy. The policy is used to control the way blue pool gets drained. The draining is executed in the batch mode. The batch size could be specified as either percentage of the node pool size or the number of nodes. batch_soak_duration is the soak time after each batch gets drained. 2. node_pool_soak_duration is the soak time after all blue nodes are drained. After this period, the blue pool nodes will be deleted.",
      "properties": {
        "blueGreenSettings": {
          "description": "Settings for blue-green upgrade strategy.",
          "$ref": "BlueGreenSettings"
        },
        "maxUnavailable": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of nodes that can be simultaneously unavailable during the upgrade process. A node is considered available if its status is Ready."
        },
        "maxSurge": {
          "format": "int32",
          "description": "The maximum number of nodes that can be created beyond the current size of the node pool during the upgrade process.",
          "type": "integer"
        },
        "strategy": {
          "enumDescriptions": [
            "Default value.",
            "blue-green upgrade.",
            "SURGE is the traditional way of upgrading a node pool. max_surge and max_unavailable determines the level of upgrade parallelism."
          ],
          "description": "Update strategy of the node pool.",
          "enum": [
            "NODE_POOL_UPDATE_STRATEGY_UNSPECIFIED",
            "BLUE_GREEN",
            "SURGE"
          ],
          "type": "string"
        }
      },
      "id": "UpgradeSettings",
      "type": "object"
    },
    "CreateClusterRequest": {
      "id": "CreateClusterRequest",
      "description": "CreateClusterRequest creates a cluster.",
      "type": "object",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the parent field."
        },
        "parent": {
          "type": "string",
          "description": "The parent (project and location) where the cluster will be created. Specified in the format `projects/*/locations/*`."
        },
        "cluster": {
          "description": "Required. A [cluster resource](https://cloud.google.com/container-engine/reference/rest/v1beta1/projects.locations.clusters)",
          "$ref": "Cluster"
        },
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the parent field.",
          "type": "string"
        }
      }
    },
    "SetLocationsRequest": {
      "type": "object",
      "properties": {
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "locations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The desired list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the cluster's nodes should be located. Changing the locations a cluster is in will result in nodes being either created or removed from the cluster, depending on whether locations are being added or removed. This list must always include the cluster's primary zone."
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster) of the cluster to set locations. Specified in the format `projects/*/locations/*/clusters/*`."
        },
        "clusterId": {
          "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      },
      "id": "SetLocationsRequest",
      "description": "SetLocationsRequest sets the locations of the cluster."
    },
    "NodePoolDefaults": {
      "type": "object",
      "description": "Subset of Nodepool message that has defaults.",
      "properties": {
        "nodeConfigDefaults": {
          "description": "Subset of NodeConfig message that has defaults.",
          "$ref": "NodeConfigDefaults"
        }
      },
      "id": "NodePoolDefaults"
    },
    "TimeWindow": {
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time that the window first starts."
        },
        "maintenanceExclusionOptions": {
          "description": "MaintenanceExclusionOptions provides maintenance exclusion related options.",
          "$ref": "MaintenanceExclusionOptions"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time that the window ends. The end time should take place after the start time."
        }
      },
      "description": "Represents an arbitrary window of time.",
      "id": "TimeWindow",
      "type": "object"
    },
    "MaintenancePolicy": {
      "type": "object",
      "description": "MaintenancePolicy defines the maintenance policy to be used for the cluster.",
      "id": "MaintenancePolicy",
      "properties": {
        "resourceVersion": {
          "description": "A hash identifying the version of this policy, so that updates to fields of the policy won't accidentally undo intermediate changes (and so that users of the API unaware of some fields won't accidentally remove other fields). Make a `get()` request to the cluster to get the current resource version and include it with requests to set the policy.",
          "type": "string"
        },
        "window": {
          "description": "Specifies the maintenance window in which maintenance may be performed.",
          "$ref": "MaintenanceWindow"
        }
      }
    },
    "NodeConfigDefaults": {
      "id": "NodeConfigDefaults",
      "description": "Subset of NodeConfig message that has defaults.",
      "properties": {
        "loggingConfig": {
          "$ref": "NodePoolLoggingConfig",
          "description": "Logging configuration for node pools."
        },
        "gcfsConfig": {
          "$ref": "GcfsConfig",
          "description": "GCFS (Google Container File System, also known as Riptide) options."
        }
      },
      "type": "object"
    },
    "CreateNodePoolRequest": {
      "description": "CreateNodePoolRequest creates a node pool for a cluster.",
      "properties": {
        "parent": {
          "description": "The parent (project, location, cluster name) where the node pool will be created. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the parent field.",
          "type": "string"
        },
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the parent field."
        },
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the parent field.",
          "type": "string"
        },
        "nodePool": {
          "$ref": "NodePool",
          "description": "Required. The node pool to create."
        }
      },
      "id": "CreateNodePoolRequest",
      "type": "object"
    },
    "PrivateClusterMasterGlobalAccessConfig": {
      "id": "PrivateClusterMasterGlobalAccessConfig",
      "description": "Configuration for controlling master global access settings.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whenever master is accessible globally or not."
        }
      },
      "type": "object"
    },
    "BlueGreenInfo": {
      "description": "Information relevant to blue-green upgrade.",
      "id": "BlueGreenInfo",
      "type": "object",
      "properties": {
        "phase": {
          "enumDescriptions": [
            "Unspecified phase.",
            "blue-green upgrade has been initiated.",
            "Start creating green pool nodes.",
            "Start cordoning blue pool nodes.",
            "Start draining blue pool nodes.",
            "Start soaking time after draining entire blue pool.",
            "Start deleting blue nodes.",
            "Rollback has been initiated."
          ],
          "type": "string",
          "description": "Current blue-green upgrade phase.",
          "enum": [
            "PHASE_UNSPECIFIED",
            "UPDATE_STARTED",
            "CREATING_GREEN_POOL",
            "CORDONING_BLUE_POOL",
            "DRAINING_BLUE_POOL",
            "NODE_POOL_SOAKING",
            "DELETING_BLUE_POOL",
            "ROLLBACK_STARTED"
          ]
        },
        "greenPoolVersion": {
          "type": "string",
          "description": "Version of green pool."
        },
        "bluePoolDeletionStartTime": {
          "description": "Time to start deleting blue pool to complete blue-green upgrade, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "type": "string"
        },
        "greenInstanceGroupUrls": {
          "items": {
            "type": "string"
          },
          "description": "The resource URLs of the [managed instance groups] (/compute/docs/instance-groups/creating-groups-of-managed-instances) associated with green pool.",
          "type": "array"
        },
        "blueInstanceGroupUrls": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The resource URLs of the [managed instance groups] (/compute/docs/instance-groups/creating-groups-of-managed-instances) associated with blue pool."
        }
      }
    },
    "ShieldedNodes": {
      "properties": {
        "enabled": {
          "description": "Whether Shielded Nodes features are enabled on all nodes in this cluster.",
          "type": "boolean"
        }
      },
      "description": "Configuration of Shielded Nodes feature.",
      "type": "object",
      "id": "ShieldedNodes"
    },
    "UpgradeAvailableEvent": {
      "type": "object",
      "id": "UpgradeAvailableEvent",
      "description": "UpgradeAvailableEvent is a notification sent to customers when a new available version is released.",
      "properties": {
        "resourceType": {
          "enum": [
            "UPGRADE_RESOURCE_TYPE_UNSPECIFIED",
            "MASTER",
            "NODE_POOL"
          ],
          "description": "The resource type of the release version.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This shouldn't be used.",
            "Master / control plane",
            "Node pool"
          ]
        },
        "resource": {
          "description": "Optional relative path to the resource. For example, the relative path of the node pool.",
          "type": "string"
        },
        "windowsVersions": {
          "$ref": "WindowsVersions",
          "description": "Windows node versions info."
        },
        "version": {
          "description": "The release version available for upgrade.",
          "type": "string"
        },
        "releaseChannel": {
          "$ref": "ReleaseChannel",
          "description": "The release channel of the version. If empty, it means a non-channel release."
        }
      }
    },
    "SetMasterAuthRequest": {
      "type": "object",
      "id": "SetMasterAuthRequest",
      "properties": {
        "update": {
          "description": "Required. A description of the update.",
          "$ref": "MasterAuth"
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set auth. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "clusterId": {
          "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "action": {
          "enum": [
            "UNKNOWN",
            "SET_PASSWORD",
            "GENERATE_PASSWORD",
            "SET_USERNAME"
          ],
          "description": "Required. The exact form of action to be taken on the master auth.",
          "type": "string",
          "enumDescriptions": [
            "Operation is unknown and will error out.",
            "Set the password to a user generated value.",
            "Generate a new password and set it to that.",
            "Set the username. If an empty username is provided, basic authentication is disabled for the cluster. If a non-empty username is provided, basic authentication is enabled, with either a provided password or a generated one."
          ]
        },
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field."
        },
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      },
      "description": "SetMasterAuthRequest updates the admin password of a cluster."
    },
    "NodePoolLoggingConfig": {
      "properties": {
        "variantConfig": {
          "description": "Logging variant configuration.",
          "$ref": "LoggingVariantConfig"
        }
      },
      "id": "NodePoolLoggingConfig",
      "description": "NodePoolLoggingConfig specifies logging configuration for nodepools.",
      "type": "object"
    },
    "NodeTaints": {
      "id": "NodeTaints",
      "description": "Collection of Kubernetes [node taints](https://kubernetes.io/docs/concepts/configuration/taint-and-toleration).",
      "type": "object",
      "properties": {
        "taints": {
          "type": "array",
          "items": {
            "$ref": "NodeTaint"
          },
          "description": "List of node taints."
        }
      }
    },
    "Filter": {
      "description": "Allows filtering to one or more specific event types. If event types are present, those and only those event types will be transmitted to the cluster. Other types will be skipped. If no filter is specified, or no event types are present, all event types will be sent",
      "id": "Filter",
      "type": "object",
      "properties": {
        "eventType": {
          "description": "Event types to allowlist.",
          "type": "array",
          "items": {
            "enum": [
              "EVENT_TYPE_UNSPECIFIED",
              "UPGRADE_AVAILABLE_EVENT",
              "UPGRADE_EVENT",
              "SECURITY_BULLETIN_EVENT"
            ],
            "enumDescriptions": [
              "Not set, will be ignored.",
              "Corresponds with UpgradeAvailableEvent.",
              "Corresponds with UpgradeEvent.",
              "Corresponds with SecurityBulletinEvent."
            ],
            "type": "string"
          }
        }
      }
    },
    "ReleaseChannel": {
      "type": "object",
      "description": "ReleaseChannel indicates which release channel a cluster is subscribed to. Release channels are arranged in order of risk. When a cluster is subscribed to a release channel, Google maintains both the master version and the node version. Node auto-upgrade defaults to true and cannot be disabled.",
      "properties": {
        "channel": {
          "description": "channel specifies which release channel the cluster is subscribed to.",
          "type": "string",
          "enumDescriptions": [
            "No channel specified.",
            "RAPID channel is offered on an early access basis for customers who want to test new releases. WARNING: Versions available in the RAPID Channel may be subject to unresolved issues with no known workaround and are not subject to any SLAs.",
            "Clusters subscribed to REGULAR receive versions that are considered GA quality. REGULAR is intended for production users who want to take advantage of new features.",
            "Clusters subscribed to STABLE receive versions that are known to be stable and reliable in production."
          ],
          "enum": [
            "UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE"
          ]
        }
      },
      "id": "ReleaseChannel"
    },
    "UpgradeEvent": {
      "type": "object",
      "properties": {
        "operationStartTime": {
          "description": "The time when the operation was started.",
          "type": "string",
          "format": "google-datetime"
        },
        "resourceType": {
          "description": "The resource type that is upgrading.",
          "enum": [
            "UPGRADE_RESOURCE_TYPE_UNSPECIFIED",
            "MASTER",
            "NODE_POOL"
          ],
          "enumDescriptions": [
            "Default value. This shouldn't be used.",
            "Master / control plane",
            "Node pool"
          ],
          "type": "string"
        },
        "operation": {
          "description": "The operation associated with this upgrade.",
          "type": "string"
        },
        "resource": {
          "type": "string",
          "description": "Optional relative path to the resource. For example in node pool upgrades, the relative path of the node pool."
        },
        "currentVersion": {
          "description": "The current version before the upgrade.",
          "type": "string"
        },
        "targetVersion": {
          "description": "The target version for the upgrade.",
          "type": "string"
        }
      },
      "description": "UpgradeEvent is a notification sent to customers by the cluster server when a resource is upgrading.",
      "id": "UpgradeEvent"
    },
    "StartIPRotationRequest": {
      "type": "object",
      "id": "StartIPRotationRequest",
      "properties": {
        "rotateCredentials": {
          "description": "Whether to rotate credentials during IP rotation.",
          "type": "boolean"
        },
        "name": {
          "description": "The name (project, location, cluster name) of the cluster to start IP rotation. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field."
        },
        "clusterId": {
          "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      },
      "description": "StartIPRotationRequest creates a new IP for the cluster and then performs a node upgrade on each node pool to point to the new IP."
    },
    "HttpCacheControlResponseHeader": {
      "id": "HttpCacheControlResponseHeader",
      "description": "RFC-2616: cache control support",
      "type": "object",
      "properties": {
        "directive": {
          "description": "14.9 request and response directives",
          "type": "string"
        },
        "age": {
          "format": "int64",
          "description": "14.6 response cache age, in seconds since the response is generated",
          "type": "string"
        },
        "expires": {
          "description": "14.21 response cache expires, in RFC 1123 date format",
          "type": "string"
        }
      }
    },
    "HttpLoadBalancing": {
      "description": "Configuration options for the HTTP (L7) load balancing controller addon, which makes it easy to set up HTTP load balancers for services in a cluster.",
      "properties": {
        "disabled": {
          "description": "Whether the HTTP Load Balancing controller is enabled in the cluster. When enabled, it runs a small pod in the cluster that manages the load balancers.",
          "type": "boolean"
        }
      },
      "id": "HttpLoadBalancing",
      "type": "object"
    },
    "WorkloadMetadataConfig": {
      "id": "WorkloadMetadataConfig",
      "type": "object",
      "description": "WorkloadMetadataConfig defines the metadata configuration to expose to workloads on the node pool.",
      "properties": {
        "nodeMetadata": {
          "description": "NodeMetadata is the configuration for how to expose metadata to the workloads running on the node.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "SECURE",
            "EXPOSE",
            "GKE_METADATA_SERVER"
          ],
          "enumDescriptions": [
            "Not set.",
            "Prevent workloads not in hostNetwork from accessing certain VM metadata, specifically kube-env, which contains Kubelet credentials, and the instance identity token. Metadata concealment is a temporary security solution available while the bootstrapping process for cluster nodes is being redesigned with significant security improvements. This feature is scheduled to be deprecated in the future and later removed.",
            "Expose all VM metadata to pods.",
            "Run the GKE Metadata Server on this node. The GKE Metadata Server exposes a metadata API to workloads that is compatible with the V1 Compute Metadata APIs exposed by the Compute Engine and App Engine Metadata Servers. This feature can only be enabled if Workload Identity is enabled at the cluster level."
          ]
        },
        "mode": {
          "description": "Mode is the configuration for how to expose metadata to workloads running on the node pool.",
          "enumDescriptions": [
            "Not set.",
            "Expose all Compute Engine metadata to pods.",
            "Run the GKE Metadata Server on this node. The GKE Metadata Server exposes a metadata API to workloads that is compatible with the V1 Compute Metadata APIs exposed by the Compute Engine and App Engine Metadata Servers. This feature can only be enabled if Workload Identity is enabled at the cluster level."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "GCE_METADATA",
            "GKE_METADATA"
          ],
          "type": "string"
        }
      }
    },
    "ConfigConnectorConfig": {
      "type": "object",
      "id": "ConfigConnectorConfig",
      "properties": {
        "enabled": {
          "description": "Whether Cloud Connector is enabled for this cluster.",
          "type": "boolean"
        }
      },
      "description": "Configuration options for the Config Connector add-on."
    },
    "ResourceLabels": {
      "type": "object",
      "id": "ResourceLabels",
      "description": "Collection of [GCP labels](https://cloud.google.com/resource-manager/docs/creating-managing-labels).",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map of node label keys and node label values."
        }
      }
    },
    "WorkloadConfig": {
      "description": "WorkloadConfig defines the flags to enable or disable the workload configurations for the cluster.",
      "properties": {
        "auditMode": {
          "enum": [
            "MODE_UNSPECIFIED",
            "DISABLED",
            "BASIC",
            "BASELINE",
            "RESTRICTED"
          ],
          "description": "Sets which mode of auditing should be used for the cluster's workloads.",
          "enumDescriptions": [
            "Default value meaning that no mode has been specified.",
            "This disables Workload Configuration auditing on the cluster, meaning that nothing is surfaced.",
            "Applies the default set of policy auditing to a cluster's workloads.",
            "Surfaces configurations that are not in line with the Pod Security Standard Baseline policy.",
            "Surfaces configurations that are not in line with the Pod Security Standard Restricted policy."
          ],
          "type": "string"
        }
      },
      "id": "WorkloadConfig",
      "type": "object"
    },
    "Jwk": {
      "description": "Jwk is a JSON Web Key as specified in RFC 7517",
      "id": "Jwk",
      "properties": {
        "kid": {
          "type": "string",
          "description": "Key ID."
        },
        "y": {
          "description": "Used for ECDSA keys.",
          "type": "string"
        },
        "kty": {
          "type": "string",
          "description": "Key Type."
        },
        "use": {
          "type": "string",
          "description": "Permitted uses for the public keys."
        },
        "n": {
          "type": "string",
          "description": "Used for RSA keys."
        },
        "alg": {
          "description": "Algorithm.",
          "type": "string"
        },
        "x": {
          "type": "string",
          "description": "Used for ECDSA keys."
        },
        "crv": {
          "type": "string",
          "description": "Used for ECDSA keys."
        },
        "e": {
          "type": "string",
          "description": "Used for RSA keys."
        }
      },
      "type": "object"
    },
    "DNSConfig": {
      "properties": {
        "clusterDnsDomain": {
          "type": "string",
          "description": "cluster_dns_domain is the suffix used for all cluster service records."
        },
        "clusterDnsScope": {
          "enumDescriptions": [
            "Default value, will be inferred as cluster scope.",
            "DNS records are accessible from within the cluster.",
            "DNS records are accessible from within the VPC."
          ],
          "description": "cluster_dns_scope indicates the scope of access to cluster DNS records.",
          "type": "string",
          "enum": [
            "DNS_SCOPE_UNSPECIFIED",
            "CLUSTER_SCOPE",
            "VPC_SCOPE"
          ]
        },
        "clusterDns": {
          "type": "string",
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "PLATFORM_DEFAULT",
            "CLOUD_DNS"
          ],
          "enumDescriptions": [
            "Default value",
            "Use GKE default DNS provider(kube-dns) for DNS resolution.",
            "Use CloudDNS for DNS resolution."
          ],
          "description": "cluster_dns indicates which in-cluster DNS provider should be used."
        }
      },
      "description": "DNSConfig contains the desired set of options for configuring clusterDNS.",
      "type": "object",
      "id": "DNSConfig"
    },
    "UsableSubnetwork": {
      "properties": {
        "ipCidrRange": {
          "description": "The range of internal addresses that are owned by this subnetwork.",
          "type": "string"
        },
        "statusMessage": {
          "type": "string",
          "description": "A human readable status message representing the reasons for cases where the caller cannot use the secondary ranges under the subnet. For example if the secondary_ip_ranges is empty due to a permission issue, an insufficient permission message will be given by status_message."
        },
        "secondaryIpRanges": {
          "type": "array",
          "items": {
            "$ref": "UsableSubnetworkSecondaryRange"
          },
          "description": "Secondary IP ranges."
        },
        "subnetwork": {
          "type": "string",
          "description": "Subnetwork Name. Example: projects/my-project/regions/us-central1/subnetworks/my-subnet"
        },
        "network": {
          "description": "Network Name. Example: projects/my-project/global/networks/my-network",
          "type": "string"
        }
      },
      "type": "object",
      "description": "UsableSubnetwork resource returns the subnetwork name, its associated network and the primary CIDR range.",
      "id": "UsableSubnetwork"
    },
    "GatewayAPIConfig": {
      "properties": {
        "channel": {
          "enum": [
            "CHANNEL_UNSPECIFIED",
            "CHANNEL_DISABLED",
            "CHANNEL_EXPERIMENTAL",
            "CHANNEL_STANDARD"
          ],
          "type": "string",
          "description": "The Gateway API release channel to use for Gateway API.",
          "enumDescriptions": [
            "Default value.",
            "Gateway API support is disabled",
            "Gateway API support is enabled, experimental CRDs are installed",
            "Gateway API support is enabled, standard CRDs are installed"
          ]
        }
      },
      "id": "GatewayAPIConfig",
      "description": "GatewayAPIConfig contains the desired config of Gateway API on this cluster.",
      "type": "object"
    },
    "MeshCertificates": {
      "description": "Configuration for issuance of mTLS keys and certificates to Kubernetes pods.",
      "properties": {
        "enableCertificates": {
          "type": "boolean",
          "description": "enable_certificates controls issuance of workload mTLS certificates. If set, the GKE Workload Identity Certificates controller and node agent will be deployed in the cluster, which can then be configured by creating a WorkloadCertificateConfig Custom Resource. Requires Workload Identity (workload_pool must be non-empty)."
        }
      },
      "id": "MeshCertificates",
      "type": "object"
    },
    "LoggingVariantConfig": {
      "properties": {
        "variant": {
          "description": "Logging variant deployed on nodes.",
          "enumDescriptions": [
            "Default value. This shouldn't be used.",
            "default logging variant.",
            "maximum logging throughput variant."
          ],
          "enum": [
            "VARIANT_UNSPECIFIED",
            "DEFAULT",
            "MAX_THROUGHPUT"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "LoggingVariantConfig",
      "description": "LoggingVariantConfig specifies the behaviour of the logging component."
    },
    "SetMaintenancePolicyRequest": {
      "type": "object",
      "description": "SetMaintenancePolicyRequest sets the maintenance policy for a cluster.",
      "id": "SetMaintenancePolicyRequest",
      "properties": {
        "maintenancePolicy": {
          "$ref": "MaintenancePolicy",
          "description": "Required. The maintenance policy to be set for the cluster. An empty field clears the existing maintenance policy."
        },
        "clusterId": {
          "type": "string",
          "description": "Required. The name of the cluster to update."
        },
        "zone": {
          "type": "string",
          "description": "Required. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides."
        },
        "name": {
          "description": "The name (project, location, cluster name) of the cluster to set maintenance policy. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects).",
          "type": "string"
        }
      }
    },
    "KubernetesDashboard": {
      "id": "KubernetesDashboard",
      "description": "Configuration for the Kubernetes Dashboard.",
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Whether the Kubernetes Dashboard is enabled for this cluster.",
          "type": "boolean"
        }
      }
    },
    "StandardRolloutPolicy": {
      "properties": {
        "batchNodeCount": {
          "type": "integer",
          "description": "Number of blue nodes to drain in a batch.",
          "format": "int32"
        },
        "batchPercentage": {
          "type": "number",
          "format": "float",
          "description": "Percentage of the blue pool nodes to drain in a batch. The range of this field should be (0.0, 1.0]."
        },
        "batchSoakDuration": {
          "type": "string",
          "description": "Soak time after each batch gets drained. Default to zero.",
          "format": "google-duration"
        }
      },
      "type": "object",
      "id": "StandardRolloutPolicy",
      "description": "Standard rollout policy is the default policy for blue-green."
    },
    "SetLegacyAbacRequest": {
      "type": "object",
      "description": "SetLegacyAbacRequest enables or disables the ABAC authorization mechanism for a cluster.",
      "id": "SetLegacyAbacRequest",
      "properties": {
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster name) of the cluster to set legacy abac. Specified in the format `projects/*/locations/*/clusters/*`."
        },
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field."
        },
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "enabled": {
          "description": "Required. Whether ABAC authorization will be enabled in the cluster.",
          "type": "boolean"
        }
      }
    },
    "NodeConfig": {
      "description": "Parameters that describe the nodes in a cluster. GKE Autopilot clusters do not recognize parameters in `NodeConfig`. Use AutoprovisioningNodePoolDefaults instead.",
      "properties": {
        "preemptible": {
          "type": "boolean",
          "description": "Whether the nodes are created as preemptible VM instances. See: https://cloud.google.com/compute/docs/instances/preemptible for more inforamtion about preemptible VM instances."
        },
        "accelerators": {
          "description": "A list of hardware accelerators to be attached to each node. See https://cloud.google.com/compute/docs/gpus for more information about support for GPUs.",
          "items": {
            "$ref": "AcceleratorConfig"
          },
          "type": "array"
        },
        "machineType": {
          "description": "The name of a Google Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-types). If unspecified, the default machine type is `e2-medium`.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The map of Kubernetes labels (key/value pairs) to be applied to each node. These will added in addition to any default label(s) that Kubernetes may apply to the node. In case of conflict in label keys, the applied set may differ depending on the Kubernetes version -- it's best to assume the behavior is undefined and conflicts should be avoided. For more information, including usage and the valid values, see: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/"
        },
        "taints": {
          "type": "array",
          "description": "List of kubernetes taints to be applied to each node. For more information, including usage and the valid values, see: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/",
          "items": {
            "$ref": "NodeTaint"
          }
        },
        "kubeletConfig": {
          "$ref": "NodeKubeletConfig",
          "description": "Node kubelet configs."
        },
        "serviceAccount": {
          "description": "The Google Cloud Platform Service Account to be used by the node VMs. Specify the email address of the Service Account; otherwise, if no Service Account is specified, the \"default\" service account is used.",
          "type": "string"
        },
        "gcfsConfig": {
          "$ref": "GcfsConfig",
          "description": "GCFS (Google Container File System) configs."
        },
        "bootDiskKmsKey": {
          "description": " The Customer Managed Encryption Key used to encrypt the boot disk attached to each node in the node pool. This should be of the form projects/[KEY_PROJECT_ID]/locations/[LOCATION]/keyRings/[RING_NAME]/cryptoKeys/[KEY_NAME]. For more information about protecting resources with Cloud KMS Keys please see: https://cloud.google.com/compute/docs/disks/customer-managed-encryption",
          "type": "string"
        },
        "confidentialNodes": {
          "$ref": "ConfidentialNodes",
          "description": "Confidential nodes config. All the nodes in the node pool will be Confidential VM once enabled."
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The metadata key/value pairs assigned to instances in the cluster. Keys must conform to the regexp `[a-zA-Z0-9-_]+` and be less than 128 bytes in length. These are reflected as part of a URL in the metadata server. Additionally, to avoid ambiguity, keys must not conflict with any other metadata keys for the project or be one of the reserved keys: - \"cluster-location\" - \"cluster-name\" - \"cluster-uid\" - \"configure-sh\" - \"containerd-configure-sh\" - \"enable-oslogin\" - \"gci-ensure-gke-docker\" - \"gci-metrics-enabled\" - \"gci-update-strategy\" - \"instance-template\" - \"kube-env\" - \"startup-script\" - \"user-data\" - \"disable-address-manager\" - \"windows-startup-script-ps1\" - \"common-psm1\" - \"k8s-node-setup-psm1\" - \"install-ssh-psm1\" - \"user-profile-psm1\" Values are free-form strings, and only have meaning as interpreted by the image running in the instance. The only restriction placed on them is that each value's size must be less than or equal to 32 KB. The total size of all keys and values must be less than 512 KB."
        },
        "ephemeralStorageConfig": {
          "description": "Parameters for the ephemeral storage filesystem. If unspecified, ephemeral storage is backed by the boot disk.",
          "$ref": "EphemeralStorageConfig"
        },
        "minCpuPlatform": {
          "type": "string",
          "description": "Minimum CPU platform to be used by this instance. The instance may be scheduled on the specified or newer CPU platform. Applicable values are the friendly names of CPU platforms, such as `minCpuPlatform: \"Intel Haswell\"` or `minCpuPlatform: \"Intel Sandy Bridge\"`. For more information, read [how to specify min CPU platform](https://cloud.google.com/compute/docs/instances/specify-min-cpu-platform)."
        },
        "reservationAffinity": {
          "description": "The optional reservation affinity. Setting this field will apply the specified [Zonal Compute Reservation](https://cloud.google.com/compute/docs/instances/reserving-zonal-resources) to this node pool.",
          "$ref": "ReservationAffinity"
        },
        "gvnic": {
          "$ref": "VirtualNIC",
          "description": "Enable or disable gvnic on the node pool."
        },
        "imageType": {
          "type": "string",
          "description": "The image type to use for this node. Note that for a given image type, the latest version of it will be used."
        },
        "tags": {
          "description": "The list of instance tags applied to all nodes. Tags are used to identify valid sources or targets for network firewalls and are specified by the client during cluster or node pool creation. Each tag within the list must comply with RFC1035.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "workloadMetadataConfig": {
          "description": "The workload metadata configuration for this node.",
          "$ref": "WorkloadMetadataConfig"
        },
        "spot": {
          "description": "Spot flag for enabling Spot VM, which is a rebrand of the existing preemptible flag.",
          "type": "boolean"
        },
        "sandboxConfig": {
          "description": "Sandbox configuration for this node.",
          "$ref": "SandboxConfig"
        },
        "advancedMachineFeatures": {
          "description": "Advanced features for the Compute Engine VM.",
          "$ref": "AdvancedMachineFeatures"
        },
        "resourceLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The resource labels for the node pool to use to annotate any related Google Compute Engine resources."
        },
        "diskType": {
          "type": "string",
          "description": "Type of the disk attached to each node (e.g. 'pd-standard', 'pd-ssd' or 'pd-balanced') If unspecified, the default disk type is 'pd-standard'"
        },
        "loggingConfig": {
          "description": "Logging configuration.",
          "$ref": "NodePoolLoggingConfig"
        },
        "localSsdCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of local SSD disks to be attached to the node. The limit for this value is dependent upon the maximum number of disks available on a machine per zone. See: https://cloud.google.com/compute/docs/disks/local-ssd for more information."
        },
        "oauthScopes": {
          "description": "The set of Google API scopes to be made available on all of the node VMs under the \"default\" service account. The following scopes are recommended, but not required, and by default are not included: * `https://www.googleapis.com/auth/compute` is required for mounting persistent storage on your nodes. * `https://www.googleapis.com/auth/devstorage.read_only` is required for communicating with **gcr.io** (the [Google Container Registry](https://cloud.google.com/container-registry/)). If unspecified, no scopes are added, unless Cloud Logging or Cloud Monitoring are enabled, in which case their required scopes will be added.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "fastSocket": {
          "$ref": "FastSocket",
          "description": "Enable or disable NCCL fast socket for the node pool."
        },
        "shieldedInstanceConfig": {
          "description": "Shielded Instance options.",
          "$ref": "ShieldedInstanceConfig"
        },
        "diskSizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Size of the disk attached to each node, specified in GB. The smallest allowed disk size is 10GB. If unspecified, the default disk size is 100GB."
        },
        "nodeGroup": {
          "description": "Setting this field will assign instances of this pool to run on the specified node group. This is useful for running workloads on [sole tenant nodes](https://cloud.google.com/compute/docs/nodes/sole-tenant-nodes).",
          "type": "string"
        },
        "linuxNodeConfig": {
          "$ref": "LinuxNodeConfig",
          "description": "Parameters that can be configured on Linux nodes."
        }
      },
      "id": "NodeConfig",
      "type": "object"
    },
    "SetLoggingServiceRequest": {
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
        },
        "loggingService": {
          "description": "Required. The logging service the cluster should use to write logs. Currently available options: * `logging.googleapis.com/kubernetes` - The Cloud Logging service with a Kubernetes-native resource model * `logging.googleapis.com` - The legacy Cloud Logging service (no longer available as of GKE 1.15). * `none` - no logs will be exported from the cluster. If left as an empty string,`logging.googleapis.com/kubernetes` will be used for GKE 1.14+ or `logging.googleapis.com` for earlier versions.",
          "type": "string"
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set logging. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        }
      },
      "description": "SetLoggingServiceRequest sets the logging service of a cluster.",
      "id": "SetLoggingServiceRequest"
    },
    "BigQueryDestination": {
      "type": "object",
      "id": "BigQueryDestination",
      "properties": {
        "datasetId": {
          "type": "string",
          "description": "The ID of a BigQuery Dataset."
        }
      },
      "description": "Parameters for using BigQuery as the destination of resource usage export."
    },
    "NodeNetworkConfig": {
      "properties": {
        "enablePrivateNodes": {
          "type": "boolean",
          "description": "Whether nodes have internal IP addresses only. If enable_private_nodes is not specified, then the value is derived from cluster.privateClusterConfig.enablePrivateNodes"
        },
        "podIpv4CidrBlock": {
          "description": "The IP address range for pod IPs in this node pool. Only applicable if `create_pod_range` is true. Set to blank to have a range chosen with the default size. Set to /netmask (e.g. `/14`) to have a range chosen with a specific netmask. Set to a [CIDR](https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) to pick a specific range to use. Only applicable if `ip_allocation_policy.use_ip_aliases` is true. This field cannot be changed after the node pool has been created.",
          "type": "string"
        },
        "podRange": {
          "description": "The ID of the secondary range for pod IPs. If `create_pod_range` is true, this ID is used for the new range. If `create_pod_range` is false, uses an existing secondary range with this ID. Only applicable if `ip_allocation_policy.use_ip_aliases` is true. This field cannot be changed after the node pool has been created.",
          "type": "string"
        },
        "networkPerformanceConfig": {
          "description": "Network bandwidth tier configuration.",
          "$ref": "NetworkPerformanceConfig"
        },
        "createPodRange": {
          "type": "boolean",
          "description": "Input only. Whether to create a new range for pod IPs in this node pool. Defaults are provided for `pod_range` and `pod_ipv4_cidr_block` if they are not specified. If neither `create_pod_range` or `pod_range` are specified, the cluster-level default (`ip_allocation_policy.cluster_ipv4_cidr_block`) is used. Only applicable if `ip_allocation_policy.use_ip_aliases` is true. This field cannot be changed after the node pool has been created."
        }
      },
      "id": "NodeNetworkConfig",
      "type": "object",
      "description": "Parameters for node pool-level network config."
    },
    "IstioConfig": {
      "type": "object",
      "id": "IstioConfig",
      "properties": {
        "auth": {
          "enum": [
            "AUTH_NONE",
            "AUTH_MUTUAL_TLS"
          ],
          "enumDescriptions": [
            "auth not enabled",
            "auth mutual TLS enabled"
          ],
          "type": "string",
          "description": "The specified Istio auth mode, either none, or mutual TLS."
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether Istio is enabled for this cluster."
        }
      },
      "description": "Configuration options for Istio addon."
    },
    "ReleaseChannelConfig": {
      "description": "ReleaseChannelConfig exposes configuration for a release channel.",
      "properties": {
        "validVersions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of valid versions for the channel."
        },
        "channel": {
          "description": "The release channel this configuration applies to.",
          "enumDescriptions": [
            "No channel specified.",
            "RAPID channel is offered on an early access basis for customers who want to test new releases. WARNING: Versions available in the RAPID Channel may be subject to unresolved issues with no known workaround and are not subject to any SLAs.",
            "Clusters subscribed to REGULAR receive versions that are considered GA quality. REGULAR is intended for production users who want to take advantage of new features.",
            "Clusters subscribed to STABLE receive versions that are known to be stable and reliable in production."
          ],
          "enum": [
            "UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE"
          ],
          "type": "string"
        },
        "defaultVersion": {
          "type": "string",
          "description": "The default version for newly created clusters on the channel."
        },
        "availableVersions": {
          "items": {
            "$ref": "AvailableVersion"
          },
          "description": "Deprecated. This field has been deprecated and replaced with the valid_versions field.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ReleaseChannelConfig"
    },
    "FastSocket": {
      "properties": {
        "enabled": {
          "description": "Whether Fast Socket features are enabled in the node pool.",
          "type": "boolean"
        }
      },
      "description": "Configuration of Fast Socket feature.",
      "id": "FastSocket",
      "type": "object"
    },
    "NotificationConfig": {
      "properties": {
        "pubsub": {
          "description": "Notification config for Pub/Sub.",
          "$ref": "PubSub"
        }
      },
      "id": "NotificationConfig",
      "type": "object",
      "description": "NotificationConfig is the configuration of notifications."
    },
    "BinaryAuthorization": {
      "id": "BinaryAuthorization",
      "properties": {
        "enabled": {
          "description": "This field is deprecated. Leave this unset and instead configure BinaryAuthorization using evaluation_mode. If evaluation_mode is set to anything other than EVALUATION_MODE_UNSPECIFIED, this field is ignored.",
          "type": "boolean"
        },
        "evaluationMode": {
          "enumDescriptions": [
            "Default value",
            "Disable BinaryAuthorization",
            "Enforce Kubernetes admission requests with BinaryAuthorization using the project's singleton policy. This is equivalent to setting the enabled boolean to true."
          ],
          "enum": [
            "EVALUATION_MODE_UNSPECIFIED",
            "DISABLED",
            "PROJECT_SINGLETON_POLICY_ENFORCE"
          ],
          "type": "string",
          "description": "Mode of operation for binauthz policy evaluation. If unspecified, defaults to DISABLED."
        }
      },
      "description": "Configuration for Binary Authorization.",
      "type": "object"
    },
    "AvailableVersion": {
      "description": "Deprecated.",
      "properties": {
        "version": {
          "description": "Kubernetes version.",
          "type": "string"
        },
        "reason": {
          "description": "Reason for availability.",
          "type": "string"
        }
      },
      "id": "AvailableVersion",
      "type": "object"
    },
    "NodeKubeletConfig": {
      "properties": {
        "cpuCfsQuotaPeriod": {
          "description": "Set the CPU CFS quota period value 'cpu.cfs_period_us'. The string must be a sequence of decimal numbers, each with optional fraction and a unit suffix, such as \"300ms\". Valid time units are \"ns\", \"us\" (or \"µs\"), \"ms\", \"s\", \"m\", \"h\". The value must be a positive duration.",
          "type": "string"
        },
        "podPidsLimit": {
          "description": "Set the Pod PID limits. See https://kubernetes.io/docs/concepts/policy/pid-limiting/#pod-pid-limits Controls the maximum number of processes allowed to run in a pod. The value must be greater than or equal to 1024 and less than 4194304.",
          "type": "string",
          "format": "int64"
        },
        "cpuCfsQuota": {
          "type": "boolean",
          "description": "Enable CPU CFS quota enforcement for containers that specify CPU limits. This option is enabled by default which makes kubelet use CFS quota (https://www.kernel.org/doc/Documentation/scheduler/sched-bwc.txt) to enforce container CPU limits. Otherwise, CPU limits will not be enforced at all. Disable this option to mitigate CPU throttling problems while still having your pods to be in Guaranteed QoS class by specifying the CPU limits. The default value is 'true' if unspecified."
        },
        "cpuManagerPolicy": {
          "description": "Control the CPU management policy on the node. See https://kubernetes.io/docs/tasks/administer-cluster/cpu-management-policies/ The following values are allowed. * \"none\": the default, which represents the existing scheduling behavior. * \"static\": allows pods with certain resource characteristics to be granted increased CPU affinity and exclusivity on the node. The default value is 'none' if unspecified.",
          "type": "string"
        }
      },
      "id": "NodeKubeletConfig",
      "type": "object",
      "description": "Node kubelet configs."
    },
    "CloudRunConfig": {
      "type": "object",
      "properties": {
        "loadBalancerType": {
          "enumDescriptions": [
            "Load balancer type for Cloud Run is unspecified.",
            "Install external load balancer for Cloud Run.",
            "Install internal load balancer for Cloud Run."
          ],
          "description": "Which load balancer type is installed for Cloud Run.",
          "enum": [
            "LOAD_BALANCER_TYPE_UNSPECIFIED",
            "LOAD_BALANCER_TYPE_EXTERNAL",
            "LOAD_BALANCER_TYPE_INTERNAL"
          ],
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether Cloud Run addon is enabled for this cluster."
        }
      },
      "description": "Configuration options for the Cloud Run feature.",
      "id": "CloudRunConfig"
    },
    "SecurityBulletinEvent": {
      "id": "SecurityBulletinEvent",
      "properties": {
        "briefDescription": {
          "type": "string",
          "description": "A brief description of the bulletin. See the bulletin pointed to by the bulletin_uri field for an expanded description."
        },
        "patchedVersions": {
          "description": "The GKE versions where this vulnerability is patched.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "bulletinId": {
          "description": "The ID of the bulletin corresponding to the vulnerability.",
          "type": "string"
        },
        "bulletinUri": {
          "type": "string",
          "description": "The URI link to the bulletin on the website for more information."
        },
        "resourceTypeAffected": {
          "type": "string",
          "description": "The resource type (node/control plane) that has the vulnerability. Multiple notifications (1 notification per resource type) will be sent for a vulnerability that affects \u003e 1 resource type."
        },
        "severity": {
          "description": "The severity of this bulletin as it relates to GKE.",
          "type": "string"
        },
        "suggestedUpgradeTarget": {
          "description": "This represents a version selected from the patched_versions field that the cluster receiving this notification should most likely want to upgrade to based on its current version. Note that if this notification is being received by a given cluster, it means that this version is currently available as an upgrade target in that cluster's location.",
          "type": "string"
        },
        "affectedSupportedMinors": {
          "type": "array",
          "description": "The GKE minor versions affected by this vulnerability.",
          "items": {
            "type": "string"
          }
        },
        "cveIds": {
          "type": "array",
          "description": "The CVEs associated with this bulletin.",
          "items": {
            "type": "string"
          }
        },
        "manualStepsRequired": {
          "description": "If this field is specified, it means there are manual steps that the user must take to make their clusters safe.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "SecurityBulletinEvent is a notification sent to customers when a security bulletin has been posted that they are vulnerable to."
    },
    "ClusterUpdate": {
      "id": "ClusterUpdate",
      "properties": {
        "desiredTpuConfig": {
          "$ref": "TpuConfig",
          "description": "The desired Cloud TPU configuration."
        },
        "desiredReleaseChannel": {
          "$ref": "ReleaseChannel",
          "description": "The desired release channel configuration."
        },
        "desiredLoggingConfig": {
          "$ref": "LoggingConfig",
          "description": "The desired logging configuration."
        },
        "desiredNodePoolId": {
          "type": "string",
          "description": "The node pool to be upgraded. This field is mandatory if \"desired_node_version\", \"desired_image_family\", \"desired_node_pool_autoscaling\", or \"desired_workload_metadata_config\" is specified and there is more than one node pool on the cluster."
        },
        "desiredLocations": {
          "description": "The desired list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the cluster's nodes should be located. This list must always include the cluster's primary zone. Warning: changing cluster locations will update the locations of all node pools and will result in nodes being added and/or removed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "desiredNodeVersion": {
          "description": "The Kubernetes version to change the nodes to (typically an upgrade). Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"-\": picks the Kubernetes master version",
          "type": "string"
        },
        "desiredLoggingService": {
          "type": "string",
          "description": "The logging service the cluster should use to write logs. Currently available options: * `logging.googleapis.com/kubernetes` - The Cloud Logging service with a Kubernetes-native resource model * `logging.googleapis.com` - The legacy Cloud Logging service (no longer available as of GKE 1.15). * `none` - no logs will be exported from the cluster. If left as an empty string,`logging.googleapis.com/kubernetes` will be used for GKE 1.14+ or `logging.googleapis.com` for earlier versions."
        },
        "desiredWorkloadCertificates": {
          "$ref": "WorkloadCertificates",
          "description": "Configuration for issuance of mTLS keys and certificates to Kubernetes pods."
        },
        "desiredIdentityServiceConfig": {
          "$ref": "IdentityServiceConfig",
          "description": "The desired Identity Service component configuration."
        },
        "desiredBinaryAuthorization": {
          "$ref": "BinaryAuthorization",
          "description": "The desired configuration options for the Binary Authorization feature."
        },
        "desiredDefaultSnatStatus": {
          "description": "The desired status of whether to disable default sNAT for this cluster.",
          "$ref": "DefaultSnatStatus"
        },
        "desiredCostManagementConfig": {
          "description": "The desired configuration for the fine-grained cost management feature.",
          "$ref": "CostManagementConfig"
        },
        "desiredMonitoringService": {
          "type": "string",
          "description": "The monitoring service the cluster should use to write metrics. Currently available options: * \"monitoring.googleapis.com/kubernetes\" - The Cloud Monitoring service with a Kubernetes-native resource model * `monitoring.googleapis.com` - The legacy Cloud Monitoring service (no longer available as of GKE 1.15). * `none` - No metrics will be exported from the cluster. If left as an empty string,`monitoring.googleapis.com/kubernetes` will be used for GKE 1.14+ or `monitoring.googleapis.com` for earlier versions."
        },
        "desiredNotificationConfig": {
          "$ref": "NotificationConfig",
          "description": "The desired notification configuration."
        },
        "desiredNodePoolLoggingConfig": {
          "description": "The desired node pool logging configuration defaults for the cluster.",
          "$ref": "NodePoolLoggingConfig"
        },
        "desiredDatabaseEncryption": {
          "description": "Configuration of etcd encryption.",
          "$ref": "DatabaseEncryption"
        },
        "desiredL4ilbSubsettingConfig": {
          "$ref": "ILBSubsettingConfig",
          "description": "The desired L4 Internal Load Balancer Subsetting configuration."
        },
        "desiredMasterVersion": {
          "description": "The Kubernetes version to change the master to. The only valid value is the latest supported version. Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"-\": picks the default Kubernetes version",
          "type": "string"
        },
        "desiredMonitoringConfig": {
          "description": "The desired monitoring configuration.",
          "$ref": "MonitoringConfig"
        },
        "desiredAuthenticatorGroupsConfig": {
          "description": "AuthenticatorGroupsConfig specifies the config for the cluster security groups settings.",
          "$ref": "AuthenticatorGroupsConfig"
        },
        "desiredResourceUsageExportConfig": {
          "description": "The desired configuration for exporting resource usage.",
          "$ref": "ResourceUsageExportConfig"
        },
        "desiredNodePoolAutoscaling": {
          "description": "Autoscaler configuration for the node pool specified in desired_node_pool_id. If there is only one pool in the cluster and desired_node_pool_id is not provided then the change applies to that single node pool.",
          "$ref": "NodePoolAutoscaling"
        },
        "desiredMaster": {
          "description": "Configuration for master components.",
          "$ref": "Master"
        },
        "desiredMasterAuthorizedNetworksConfig": {
          "$ref": "MasterAuthorizedNetworksConfig",
          "description": "The desired configuration options for master authorized networks feature."
        },
        "desiredDnsConfig": {
          "description": "DNSConfig contains clusterDNS config for this cluster.",
          "$ref": "DNSConfig"
        },
        "desiredDatapathProvider": {
          "description": "The desired datapath provider for the cluster.",
          "enumDescriptions": [
            "Default value.",
            "Use the IPTables implementation based on kube-proxy.",
            "Use the eBPF based GKE Dataplane V2 with additional features. See the [GKE Dataplane V2 documentation](https://cloud.google.com/kubernetes-engine/docs/how-to/dataplane-v2) for more."
          ],
          "type": "string",
          "enum": [
            "DATAPATH_PROVIDER_UNSPECIFIED",
            "LEGACY_DATAPATH",
            "ADVANCED_DATAPATH"
          ]
        },
        "desiredWorkloadAltsConfig": {
          "description": "Configuration for direct-path (via ALTS) with workload identity.",
          "$ref": "WorkloadALTSConfig"
        },
        "desiredImageType": {
          "type": "string",
          "description": "The desired image type for the node pool. NOTE: Set the \"desired_node_pool\" field as well."
        },
        "desiredNodePoolAutoConfigNetworkTags": {
          "$ref": "NetworkTags",
          "description": "The desired network tags that apply to all auto-provisioned node pools in autopilot clusters and node auto-provisioning enabled clusters."
        },
        "desiredServiceExternalIpsConfig": {
          "description": "ServiceExternalIPsConfig specifies the config for the use of Services with ExternalIPs field.",
          "$ref": "ServiceExternalIPsConfig"
        },
        "desiredMeshCertificates": {
          "description": "Configuration for issuance of mTLS keys and certificates to Kubernetes pods.",
          "$ref": "MeshCertificates"
        },
        "desiredPrivateClusterConfig": {
          "description": "The desired private cluster configuration.",
          "$ref": "PrivateClusterConfig"
        },
        "desiredWorkloadIdentityConfig": {
          "$ref": "WorkloadIdentityConfig",
          "description": "Configuration for Workload Identity."
        },
        "desiredClusterTelemetry": {
          "description": "The desired telemetry integration for the cluster.",
          "$ref": "ClusterTelemetry"
        },
        "desiredVerticalPodAutoscaling": {
          "description": "Cluster-level Vertical Pod Autoscaling configuration.",
          "$ref": "VerticalPodAutoscaling"
        },
        "desiredPodSecurityPolicyConfig": {
          "$ref": "PodSecurityPolicyConfig",
          "description": "The desired configuration options for the PodSecurityPolicy feature."
        },
        "desiredGatewayApiConfig": {
          "description": "The desired config of Gateway API on this cluster.",
          "$ref": "GatewayAPIConfig"
        },
        "desiredPrivateIpv6GoogleAccess": {
          "enum": [
            "PRIVATE_IPV6_GOOGLE_ACCESS_UNSPECIFIED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_DISABLED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_TO_GOOGLE",
            "PRIVATE_IPV6_GOOGLE_ACCESS_BIDIRECTIONAL"
          ],
          "enumDescriptions": [
            "Default value. Same as DISABLED",
            "No private access to or from Google Services",
            "Enables private IPv6 access to Google Services from GKE",
            "Enables priate IPv6 access to and from Google Services"
          ],
          "description": "The desired state of IPv6 connectivity to Google Services.",
          "type": "string"
        },
        "desiredAddonsConfig": {
          "$ref": "AddonsConfig",
          "description": "Configurations for the various addons available to run in the cluster."
        },
        "desiredShieldedNodes": {
          "description": "Configuration for Shielded Nodes.",
          "$ref": "ShieldedNodes"
        },
        "desiredClusterAutoscaling": {
          "description": "Cluster-level autoscaling configuration.",
          "$ref": "ClusterAutoscaling"
        },
        "desiredProtectConfig": {
          "description": "Enable/Disable Protect API features for the cluster.",
          "$ref": "ProtectConfig"
        },
        "desiredIntraNodeVisibilityConfig": {
          "$ref": "IntraNodeVisibilityConfig",
          "description": "The desired config of Intra-node visibility."
        },
        "desiredGcfsConfig": {
          "$ref": "GcfsConfig",
          "description": "The desired GCFS config for the cluster."
        },
        "desiredEnablePrivateEndpoint": {
          "description": "Enable/Disable private endpoint for the cluster's master.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "ClusterUpdate describes an update to the cluster. Exactly one update can be applied to a cluster with each request, so at most one field can be provided."
    },
    "SetAddonsConfigRequest": {
      "properties": {
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set addons. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "addonsConfig": {
          "description": "Required. The desired configurations for the various addons available to run in the cluster.",
          "$ref": "AddonsConfig"
        },
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
        },
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field."
        }
      },
      "description": "SetAddonsRequest sets the addons associated with the cluster.",
      "type": "object",
      "id": "SetAddonsConfigRequest"
    },
    "DailyMaintenanceWindow": {
      "id": "DailyMaintenanceWindow",
      "type": "object",
      "description": "Time window specified for daily maintenance operations.",
      "properties": {
        "duration": {
          "description": "[Output only] Duration of the time window, automatically chosen to be smallest possible in the given scenario.",
          "type": "string"
        },
        "startTime": {
          "description": "Time within the maintenance window to start the maintenance operations. It must be in format \"HH:MM\", where HH : [00-23] and MM : [00-59] GMT.",
          "type": "string"
        }
      }
    },
    "MonitoringComponentConfig": {
      "properties": {
        "enableComponents": {
          "items": {
            "enumDescriptions": [
              "Default value. This shouldn't be used.",
              "system components",
              "Deprecated: Use Google Cloud Managed Service for Prometheus.",
              "kube-apiserver",
              "kube-scheduler",
              "kube-controller-manager"
            ],
            "enum": [
              "COMPONENT_UNSPECIFIED",
              "SYSTEM_COMPONENTS",
              "WORKLOADS",
              "APISERVER",
              "SCHEDULER",
              "CONTROLLER_MANAGER"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Select components to collect metrics. An empty set would disable all monitoring."
        }
      },
      "description": "MonitoringComponentConfig is cluster monitoring component configuration.",
      "type": "object",
      "id": "MonitoringComponentConfig"
    },
    "PodSecurityPolicyConfig": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Enable the PodSecurityPolicy controller for this cluster. If enabled, pods must be valid under a PodSecurityPolicy to be created."
        }
      },
      "description": "Configuration for the PodSecurityPolicy feature.",
      "type": "object",
      "id": "PodSecurityPolicyConfig"
    },
    "ListClustersResponse": {
      "description": "ListClustersResponse is the result of ListClustersRequest.",
      "type": "object",
      "properties": {
        "clusters": {
          "type": "array",
          "description": "A list of clusters in the project in the specified zone, or across all ones.",
          "items": {
            "$ref": "Cluster"
          }
        },
        "missingZones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "If any zones are listed here, the list of clusters returned may be missing those zones."
        }
      },
      "id": "ListClustersResponse"
    },
    "Master": {
      "properties": {},
      "type": "object",
      "description": "Master is the configuration for components on master.",
      "id": "Master"
    },
    "NetworkPerformanceConfig": {
      "type": "object",
      "id": "NetworkPerformanceConfig",
      "description": "Configuration of all network bandwidth tiers",
      "properties": {
        "totalEgressBandwidthTier": {
          "enumDescriptions": [
            "Default value",
            "Higher bandwidth, actual values based on VM size."
          ],
          "enum": [
            "TIER_UNSPECIFIED",
            "TIER_1"
          ],
          "type": "string",
          "description": "Specifies the total network bandwidth tier for the NodePool."
        },
        "externalIpEgressBandwidthTier": {
          "enum": [
            "TIER_UNSPECIFIED",
            "TIER_1"
          ],
          "enumDescriptions": [
            "Default value",
            "Higher bandwidth, actual values based on VM size."
          ],
          "description": "Specifies the network bandwidth tier for the NodePool for traffic to external/public IP addresses.",
          "type": "string"
        }
      }
    },
    "WorkloadALTSConfig": {
      "id": "WorkloadALTSConfig",
      "type": "object",
      "description": "Configuration for direct-path (via ALTS) with workload identity.",
      "properties": {
        "enableAlts": {
          "type": "boolean",
          "description": "enable_alts controls whether the alts handshaker should be enabled or not for direct-path. Requires Workload Identity (workload_pool must be non-empty)."
        }
      }
    },
[...]
