{
  "mtlsRootUrl": "https://containeranalysis.mtls.googleapis.com/",
  "batchPath": "batch",
  "servicePath": "",
  "rootUrl": "https://containeranalysis.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "canonicalName": "Container Analysis",
  "version": "v1alpha1",
  "ownerName": "Google",
  "name": "containeranalysis",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "protocol": "rest",
  "ownerDomain": "google.com",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/container-analysis/api/reference/rest/",
  "discoveryVersion": "v1",
  "id": "containeranalysis:v1alpha1",
  "resources": {
    "providers": {
      "resources": {
        "notes": {
          "methods": {
            "getIamPolicy": {
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "path": "v1alpha1/{+resource}:getIamPolicy",
              "parameters": {
                "resource": {
                  "required": true,
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
                  "pattern": "^providers/[^/]+/notes/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "description": "Gets the access control policy for a note or an `Occurrence` resource. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or occurrence, respectively. Attempting to call this method on a resource without the required permission will result in a `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for occurrences and projects/{PROJECT_ID}/notes/{NOTE_ID} for notes",
              "httpMethod": "POST",
              "response": {
                "$ref": "Policy"
              },
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}:getIamPolicy",
              "id": "containeranalysis.providers.notes.getIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "path": "v1alpha1/{+name}/notes",
              "httpMethod": "POST",
              "description": "Creates a new `Note`.",
              "parameters": {
                "name": {
                  "pattern": "^providers/[^/]+$",
                  "description": "The name of the project. Should be of the form \"providers/{provider_id}\". @Deprecated",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "parent": {
                  "description": "This field contains the project Id for example: \"projects/{project_id}",
                  "location": "query",
                  "type": "string"
                },
                "noteId": {
                  "type": "string",
                  "description": "The ID to use for this note.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Note"
              },
              "request": {
                "$ref": "Note"
              },
              "id": "containeranalysis.providers.notes.create",
              "flatPath": "v1alpha1/providers/{providersId}/notes",
              "parameterOrder": [
                "name"
              ]
            },
            "setIamPolicy": {
              "path": "v1alpha1/{+resource}:setIamPolicy",
              "parameters": {
                "resource": {
                  "pattern": "^providers/[^/]+/notes/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field."
                }
              },
              "response": {
                "$ref": "Policy"
              },
              "httpMethod": "POST",
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}:setIamPolicy",
              "parameterOrder": [
                "resource"
              ],
              "id": "containeranalysis.providers.notes.setIamPolicy",
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Sets the access control policy on the specified `Note` or `Occurrence`. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a `Note` or an `Occurrence`, respectively. Attempting to call this method without these permissions will result in a ` `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has `containeranalysis.notes.list` permission on a `Note` or `containeranalysis.occurrences.list` on an `Occurrence`, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{projectid}/occurrences/{occurrenceid}` for occurrences and projects/{projectid}/notes/{noteid} for notes"
            },
            "testIamPermissions": {
              "httpMethod": "POST",
              "description": "Returns the permissions that a caller has on the specified note or occurrence resource. Requires list permission on the project (for example, \"storage.objects.list\" on the containing bucket for testing permission of an object). Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for `Occurrences` and `projects/{PROJECT_ID}/notes/{NOTE_ID}` for `Notes`",
              "parameters": {
                "resource": {
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
                  "required": true,
                  "type": "string",
                  "pattern": "^providers/[^/]+/notes/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}:testIamPermissions",
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "parameterOrder": [
                "resource"
              ],
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "id": "containeranalysis.providers.notes.testIamPermissions",
              "path": "v1alpha1/{+resource}:testIamPermissions"
            },
            "patch": {
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Note"
              },
              "parameters": {
                "name": {
                  "pattern": "^providers/[^/]+/notes/[^/]+$",
                  "description": "The name of the note. Should be of the form \"projects/{provider_id}/notes/{note_id}\".",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "The fields to update."
                }
              },
              "description": "Updates an existing `Note`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}",
              "request": {
                "$ref": "Note"
              },
              "id": "containeranalysis.providers.notes.patch",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "id": "containeranalysis.providers.notes.get",
              "response": {
                "$ref": "Note"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^providers/[^/]+/notes/[^/]+$",
                  "type": "string",
                  "description": "The name of the note in the form of \"providers/{provider_id}/notes/{NOTE_ID}\"",
                  "location": "path"
                }
              },
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}",
              "description": "Returns the requested `Note`.",
              "path": "v1alpha1/{+name}"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "The name of the note in the form of \"providers/{provider_id}/notes/{NOTE_ID}\"",
                  "pattern": "^providers/[^/]+/notes/[^/]+$",
                  "type": "string"
                }
              },
              "id": "containeranalysis.providers.notes.delete",
              "httpMethod": "DELETE",
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}",
              "description": "Deletes the given `Note` from the system.",
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "Empty"
              }
            },
            "list": {
              "description": "Lists all `Notes` for a given project.",
              "response": {
                "$ref": "ListNotesResponse"
              },
              "path": "v1alpha1/{+name}/notes",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "id": "containeranalysis.providers.notes.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha1/providers/{providersId}/notes",
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "The filter expression.",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Number of notes to return in the list.",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "type": "string",
                  "location": "query",
                  "description": "This field contains the project Id for example: \"projects/{PROJECT_ID}\"."
                },
                "pageToken": {
                  "location": "query",
                  "description": "Token to provide to skip to a particular spot in the list.",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^providers/[^/]+$",
                  "location": "path",
                  "description": "The name field will contain the project Id for example: \"providers/{provider_id} @Deprecated"
                }
              }
            }
          },
          "resources": {
            "occurrences": {
              "methods": {
                "list": {
                  "description": "Lists `Occurrences` referencing the specified `Note`. Use this method to get all occurrences referencing your `Note` across all your customer projects.",
                  "id": "containeranalysis.providers.notes.occurrences.list",
                  "path": "v1alpha1/{+name}/occurrences",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}/occurrences",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "The filter expression.",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Token to provide to skip to a particular spot in the list.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of notes to return in the list.",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^providers/[^/]+/notes/[^/]+$",
                      "description": "The name field will contain the note name for example: \"provider/{provider_id}/notes/{note_id}\"",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListNoteOccurrencesResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "scanConfigs": {
          "methods": {
            "get": {
              "description": "Gets a specific scan configuration for a project.",
              "flatPath": "v1alpha1/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "description": "The name of the ScanConfig in the form projects/{project_id}/scanConfigs/{scan_config_id}",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "id": "containeranalysis.projects.scanConfigs.get",
              "response": {
                "$ref": "ScanConfig"
              },
              "path": "v1alpha1/{+name}"
            },
            "list": {
              "response": {
                "$ref": "ListScanConfigsResponse"
              },
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The filter expression."
                },
                "parent": {
                  "description": "This containers the project Id i.e.: projects/{project_id}",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "pageToken": {
                  "description": "The page token to use for the next request.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The number of items to return."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists scan configurations for a project.",
              "httpMethod": "GET",
              "path": "v1alpha1/{+parent}/scanConfigs",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/scanConfigs",
              "id": "containeranalysis.projects.scanConfigs.list"
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "ScanConfig"
              },
              "id": "containeranalysis.projects.scanConfigs.patch",
              "flatPath": "v1alpha1/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "description": "Updates the scan configuration to a new value.",
              "request": {
                "$ref": "ScanConfig"
              },
              "parameters": {
                "updateMask": {
                  "description": "The fields to update.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "description": "The scan config to update of the form projects/{project_id}/scanConfigs/{scan_config_id}.",
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "operations": {
          "methods": {
            "patch": {
              "response": {
                "$ref": "Operation"
              },
              "description": "Updates an existing operation returns an error if operation does not exist. The only valid operations are to update mark the done bit change the result.",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "UpdateOperationRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "description": "The name of the Operation. Should be of the form \"projects/{provider_id}/operations/{operation_id}\".",
                  "location": "path"
                }
              },
              "id": "containeranalysis.projects.operations.patch",
              "flatPath": "v1alpha1/projects/{projectsId}/operations/{operationsId}",
              "httpMethod": "PATCH",
              "path": "v1alpha1/{+name}"
            },
            "create": {
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "POST",
              "flatPath": "v1alpha1/projects/{projectsId}/operations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha1/{+parent}/operations",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "The project Id that this operation should be created under.",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "containeranalysis.projects.operations.create",
              "description": "Creates a new `Operation`.",
              "request": {
                "$ref": "CreateOperationRequest"
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "occurrences": {
          "methods": {
            "getIamPolicy": {
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}:getIamPolicy",
              "parameterOrder": [
                "resource"
              ],
              "response": {
                "$ref": "Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the access control policy for a note or an `Occurrence` resource. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or occurrence, respectively. Attempting to call this method on a resource without the required permission will result in a `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for occurrences and projects/{PROJECT_ID}/notes/{NOTE_ID} for notes",
              "path": "v1alpha1/{+resource}:getIamPolicy",
              "httpMethod": "POST",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "containeranalysis.projects.occurrences.getIamPolicy",
              "request": {
                "$ref": "GetIamPolicyRequest"
              }
            },
            "delete": {
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The name of the occurrence in the form of \"projects/{project_id}/occurrences/{OCCURRENCE_ID}\"",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}",
              "id": "containeranalysis.projects.occurrences.delete",
              "description": "Deletes the given `Occurrence` from the system. Use this when an `Occurrence` is no longer applicable for the given resource.",
              "parameterOrder": [
                "name"
              ]
            },
            "setIamPolicy": {
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}:setIamPolicy",
              "id": "containeranalysis.projects.occurrences.setIamPolicy",
              "path": "v1alpha1/{+resource}:setIamPolicy",
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "response": {
                "$ref": "Policy"
              },
              "description": "Sets the access control policy on the specified `Note` or `Occurrence`. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a `Note` or an `Occurrence`, respectively. Attempting to call this method without these permissions will result in a ` `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has `containeranalysis.notes.list` permission on a `Note` or `containeranalysis.occurrences.list` on an `Occurrence`, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{projectid}/occurrences/{occurrenceid}` for occurrences and projects/{projectid}/notes/{noteid} for notes",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ]
            },
            "getVulnerabilitySummary": {
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "This contains the project Id for example: projects/{project_id}",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                },
                "filter": {
                  "description": "The filter expression.",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences:vulnerabilitySummary",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha1/{+parent}/occurrences:vulnerabilitySummary",
              "description": "Gets a summary of the number and severity of occurrences.",
              "response": {
                "$ref": "GetVulnzOccurrencesSummaryResponse"
              },
              "id": "containeranalysis.projects.occurrences.getVulnerabilitySummary"
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.projects.occurrences.patch",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "The name of the occurrence. Should be of the form \"projects/{project_id}/occurrences/{OCCURRENCE_ID}\".",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "location": "path"
                },
                "updateMask": {
                  "description": "The fields to update.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Occurrence"
              },
              "response": {
                "$ref": "Occurrence"
              },
              "path": "v1alpha1/{+name}",
              "description": "Updates an existing occurrence."
            },
            "get": {
              "response": {
                "$ref": "Occurrence"
              },
              "id": "containeranalysis.projects.occurrences.get",
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}",
              "path": "v1alpha1/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "description": "The name of the occurrence of the form \"projects/{project_id}/occurrences/{OCCURRENCE_ID}\"",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Returns the requested `Occurrence`."
            },
            "create": {
              "path": "v1alpha1/{+parent}/occurrences",
              "request": {
                "$ref": "Occurrence"
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Occurrence"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences",
              "httpMethod": "POST",
              "description": "Creates a new `Occurrence`. Use this method to create `Occurrences` for a resource.",
              "id": "containeranalysis.projects.occurrences.create",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "query",
                  "description": "The name of the project. Should be of the form \"projects/{project_id}\". @Deprecated"
                },
                "parent": {
                  "required": true,
                  "description": "This field contains the project Id for example: \"projects/{project_id}\"",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "testIamPermissions": {
              "description": "Returns the permissions that a caller has on the specified note or occurrence resource. Requires list permission on the project (for example, \"storage.objects.list\" on the containing bucket for testing permission of an object). Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for `Occurrences` and `projects/{PROJECT_ID}/notes/{NOTE_ID}` for `Notes`",
              "id": "containeranalysis.projects.occurrences.testIamPermissions",
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}:testIamPermissions",
              "path": "v1alpha1/{+resource}:testIamPermissions",
              "parameterOrder": [
                "resource"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "httpMethod": "POST",
              "parameters": {
                "resource": {
                  "type": "string",
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "location": "path"
                }
              }
            },
            "list": {
              "response": {
                "$ref": "ListOccurrencesResponse"
              },
              "description": "Lists active `Occurrences` for a given project matching the filters.",
              "parameters": {
                "filter": {
                  "description": "The filter expression.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Number of occurrences to return in the list.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "kind": {
                  "enum": [
                    "KIND_UNSPECIFIED",
                    "PACKAGE_VULNERABILITY",
                    "BUILD_DETAILS",
                    "IMAGE_BASIS",
                    "PACKAGE_MANAGER",
                    "DEPLOYABLE",
                    "DISCOVERY",
                    "ATTESTATION_AUTHORITY",
                    "UPGRADE"
                  ],
                  "description": "The kind of occurrences to filter on.",
                  "location": "query",
                  "enumDescriptions": [
                    "Unknown",
                    "The note and occurrence represent a package vulnerability.",
                    "The note and occurrence assert build provenance.",
                    "This represents an image basis relationship.",
                    "This represents a package installed via a package manager.",
                    "The note and occurrence track deployment events.",
                    "The note and occurrence track the initial discovery status of a resource.",
                    "This represents a logical \"role\" that can attest to artifacts.",
                    "This represents an available software upgrade."
                  ],
                  "type": "string"
                },
                "pageToken": {
                  "description": "Token to provide to skip to a particular spot in the list.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "This contains the project Id for example: projects/{project_id}.",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "location": "query",
                  "description": "The name field contains the project Id. For example: \"projects/{project_id} @Deprecated"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "containeranalysis.projects.occurrences.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences",
              "path": "v1alpha1/{+parent}/occurrences",
              "httpMethod": "GET"
            },
            "getNotes": {
              "response": {
                "$ref": "Note"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The name of the occurrence in the form \"projects/{project_id}/occurrences/{OCCURRENCE_ID}\"",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$"
                }
              },
              "id": "containeranalysis.projects.occurrences.getNotes",
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}/notes",
              "description": "Gets the `Note` attached to the given `Occurrence`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha1/{+name}/notes",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET"
            }
          }
        },
        "notes": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}",
              "id": "containeranalysis.projects.notes.get",
              "httpMethod": "GET",
              "description": "Returns the requested `Note`.",
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Note"
              },
              "parameters": {
                "name": {
                  "description": "The name of the note in the form of \"providers/{provider_id}/notes/{NOTE_ID}\"",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "location": "path"
                }
              }
            },
            "delete": {
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.projects.notes.delete",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "description": "The name of the note in the form of \"providers/{provider_id}/notes/{NOTE_ID}\"",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes the given `Note` from the system.",
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "response": {
                "$ref": "ListNotesResponse"
              },
              "id": "containeranalysis.projects.notes.list",
              "description": "Lists all `Notes` for a given project.",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha1/{+parent}/notes",
              "parameters": {
                "pageToken": {
                  "description": "Token to provide to skip to a particular spot in the list.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "This field contains the project Id for example: \"projects/{PROJECT_ID}\".",
                  "location": "path"
                },
                "filter": {
                  "type": "string",
                  "description": "The filter expression.",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "description": "The name field will contain the project Id for example: \"providers/{provider_id} @Deprecated",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Number of notes to return in the list.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              },
              "flatPath": "v1alpha1/projects/{projectsId}/notes",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "description": "The name of the note. Should be of the form \"projects/{provider_id}/notes/{note_id}\".",
                  "required": true
                },
                "updateMask": {
                  "description": "The fields to update.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Note"
              },
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}",
              "id": "containeranalysis.projects.notes.patch",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "description": "Updates an existing `Note`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha1/{+name}",
              "request": {
                "$ref": "Note"
              }
            },
            "setIamPolicy": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Policy"
              },
              "description": "Sets the access control policy on the specified `Note` or `Occurrence`. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a `Note` or an `Occurrence`, respectively. Attempting to call this method without these permissions will result in a ` `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has `containeranalysis.notes.list` permission on a `Note` or `containeranalysis.occurrences.list` on an `Occurrence`, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{projectid}/occurrences/{occurrenceid}` for occurrences and projects/{projectid}/notes/{noteid} for notes",
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "parameterOrder": [
                "resource"
              ],
              "id": "containeranalysis.projects.notes.setIamPolicy",
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}:setIamPolicy",
              "parameters": {
                "resource": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "path": "v1alpha1/{+resource}:setIamPolicy"
            },
            "getIamPolicy": {
              "description": "Gets the access control policy for a note or an `Occurrence` resource. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or occurrence, respectively. Attempting to call this method on a resource without the required permission will result in a `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for occurrences and projects/{PROJECT_ID}/notes/{NOTE_ID} for notes",
              "id": "containeranalysis.projects.notes.getIamPolicy",
              "path": "v1alpha1/{+resource}:getIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Policy"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}:getIamPolicy",
              "parameters": {
                "resource": {
                  "required": true,
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "resource"
              ]
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a new `Note`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Note"
              },
              "id": "containeranalysis.projects.notes.create",
              "flatPath": "v1alpha1/projects/{projectsId}/notes",
              "request": {
                "$ref": "Note"
              },
              "path": "v1alpha1/{+parent}/notes",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "This field contains the project Id for example: \"projects/{project_id}",
                  "type": "string"
                },
                "noteId": {
                  "location": "query",
                  "description": "The ID to use for this note.",
                  "type": "string"
                },
                "name": {
                  "location": "query",
                  "description": "The name of the project. Should be of the form \"providers/{provider_id}\". @Deprecated",
                  "type": "string"
                }
              },
              "httpMethod": "POST"
            },
            "testIamPermissions": {
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}:testIamPermissions",
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "path": "v1alpha1/{+resource}:testIamPermissions",
              "parameters": {
                "resource": {
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/notes/[^/]+$"
                }
              },
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "parameterOrder": [
                "resource"
              ],
              "id": "containeranalysis.projects.notes.testIamPermissions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "description": "Returns the permissions that a caller has on the specified note or occurrence resource. Requires list permission on the project (for example, \"storage.objects.list\" on the containing bucket for testing permission of an object). Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for `Occurrences` and `projects/{PROJECT_ID}/notes/{NOTE_ID}` for `Notes`"
            }
          },
          "resources": {
            "occurrences": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists `Occurrences` referencing the specified `Note`. Use this method to get all occurrences referencing your `Note` across all your customer projects.",
                  "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}/occurrences",
                  "httpMethod": "GET",
                  "path": "v1alpha1/{+name}/occurrences",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListNoteOccurrencesResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of notes to return in the list."
                    },
                    "filter": {
                      "description": "The filter expression.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "The name field will contain the note name for example: \"provider/{provider_id}/notes/{note_id}\"",
                      "required": true,
                      "pattern": "^projects/[^/]+/notes/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Token to provide to skip to a particular spot in the list.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "id": "containeranalysis.projects.notes.occurrences.list"
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "ListScanConfigsResponse": {
      "id": "ListScanConfigsResponse",
      "description": "A list of scan configs for the project.",
      "properties": {
        "scanConfigs": {
          "items": {
            "$ref": "ScanConfig"
          },
          "description": "The set of scan configs.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A page token to pass in order to get more scan configs.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "StorageSource": {
      "id": "StorageSource",
      "type": "object",
      "description": "StorageSource describes the location of the source in an archive file in Google Cloud Storage.",
      "properties": {
        "bucket": {
          "type": "string",
          "description": "Google Cloud Storage bucket containing source (see [Bucket Name Requirements] (https://cloud.google.com/storage/docs/bucket-naming#requirements))."
        },
        "object": {
          "type": "string",
          "description": "Google Cloud Storage object containing source."
        },
        "generation": {
          "type": "string",
          "description": "Google Cloud Storage generation for the object.",
          "format": "int64"
        }
      }
    },
    "ListNotesResponse": {
      "type": "object",
      "id": "ListNotesResponse",
      "properties": {
        "notes": {
          "items": {
            "$ref": "Note"
          },
          "description": "The occurrences requested",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next pagination token in the list response. It should be used as page_token for the following request. An empty value means no more result."
        }
      },
      "description": "Response including listed notes."
    },
    "Fingerprint": {
      "description": "A set of properties that uniquely identify a given Docker image.",
      "type": "object",
      "id": "Fingerprint",
      "properties": {
        "v2Blob": {
          "type": "array",
          "description": "The ordered list of v2 blobs that represent a given image.",
          "items": {
            "type": "string"
          }
        },
        "v1Name": {
          "type": "string",
          "description": "The layer-id of the final layer in the Docker image's v1 representation. This field can be used as a filter in list requests."
        },
        "v2Name": {
          "type": "string",
          "description": "Output only. The name of the image's v2 blobs computed via: [bottom] := v2_blobbottom := sha256(v2_blob[N] + \" \" + v2_name[N+1]) Only the name of the final blob is kept. This field can be used as a filter in list requests."
        }
      }
    },
    "GetIamPolicyRequest": {
      "type": "object",
      "properties": {
        "options": {
          "$ref": "GetPolicyOptions",
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
        }
      },
      "description": "Request message for `GetIamPolicy` method.",
      "id": "GetIamPolicyRequest"
    },
    "ListOccurrencesResponse": {
      "id": "ListOccurrencesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The next pagination token in the list response. It should be used as `page_token` for the following request. An empty value means no more results.",
          "type": "string"
        },
        "occurrences": {
          "items": {
            "$ref": "Occurrence"
          },
          "description": "The occurrences requested.",
          "type": "array"
        }
      },
      "description": "Response including listed active occurrences."
    },
    "RelatedUrl": {
      "properties": {
        "label": {
          "type": "string",
          "description": "Label to describe usage of the URL"
        },
        "url": {
          "description": "Specific URL to associate with the note",
          "type": "string"
        }
      },
      "description": "Metadata for any related URL information",
      "type": "object",
      "id": "RelatedUrl"
    },
    "Policy": {
      "properties": {
        "version": {
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "type": "array",
          "description": "Associates a list of `members` to a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one member."
        },
        "etag": {
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string"
        }
      },
      "id": "Policy",
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members` to a single `role`. Members can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') - etag: BwWWja0YfJA= - version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "Source": {
      "description": "Source describes the location of the source used for the build.",
      "type": "object",
      "properties": {
        "fileHashes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "FileHashes"
          },
          "description": "Hash(es) of the build source, which can be used to verify that the original source integrity was maintained in the build. The keys to this map are file paths used as build source and the values contain the hash values for those files. If the build source came in a single package such as a gzipped tarfile (.tar.gz), the FileHash will be for the single path to that file."
        },
        "additionalContexts": {
          "type": "array",
          "description": "If provided, some of the source code used for the build may be found in these locations, in the case where the source repository had multiple remotes or submodules. This list will not include the context specified in the context field.",
          "items": {
            "$ref": "GoogleDevtoolsContaineranalysisV1alpha1SourceContext"
          }
        },
        "context": {
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1SourceContext",
          "description": "If provided, the source code used for the build came from this location."
        },
        "artifactStorageSource": {
          "$ref": "StorageSource",
          "description": "If provided, the input binary artifacts for the build came from this location."
        },
        "storageSource": {
          "description": "If provided, get the source from this location in in Google Cloud Storage.",
          "$ref": "StorageSource"
        },
        "repoSource": {
          "$ref": "RepoSource",
          "description": "If provided, get source from this location in a Cloud Repo."
        }
      },
      "id": "Source"
    },
    "Expr": {
      "id": "Expr",
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      }
    },
    "GetVulnzOccurrencesSummaryResponse": {
      "properties": {
        "counts": {
          "items": {
            "$ref": "SeverityCount"
          },
          "type": "array",
          "description": "A map of how many occurrences were found for each severity."
        }
      },
      "description": "A summary of how many vulnz occurrences there are per severity type. counts by groups, or if we should have different summary messages like this.",
      "id": "GetVulnzOccurrencesSummaryResponse",
      "type": "object"
    },
    "Discovery": {
      "type": "object",
      "description": "A note that indicates a type of analysis a provider would perform. This note exists in a provider's project. A `Discovery` occurrence is created in a consumer's project at the start of analysis. The occurrence's operation will indicate the status of the analysis. Absence of an occurrence linked to this note for a resource indicates that analysis hasn't started.",
      "properties": {
        "analysisKind": {
          "enum": [
            "KIND_UNSPECIFIED",
            "PACKAGE_VULNERABILITY",
            "BUILD_DETAILS",
            "IMAGE_BASIS",
            "PACKAGE_MANAGER",
            "DEPLOYABLE",
            "DISCOVERY",
            "ATTESTATION_AUTHORITY",
            "UPGRADE"
          ],
          "enumDescriptions": [
            "Unknown",
            "The note and occurrence represent a package vulnerability.",
            "The note and occurrence assert build provenance.",
            "This represents an image basis relationship.",
            "This represents a package installed via a package manager.",
            "The note and occurrence track deployment events.",
            "The note and occurrence track the initial discovery status of a resource.",
            "This represents a logical \"role\" that can attest to artifacts.",
            "This represents an available software upgrade."
          ],
          "description": "The kind of analysis that is handled by this discovery.",
          "type": "string"
        }
      },
      "id": "Discovery"
    },
    "PgpSignedAttestation": {
      "properties": {
        "contentType": {
          "type": "string",
          "enumDescriptions": [
            "`ContentType` is not set.",
            "Atomic format attestation signature. See https://github.com/containers/image/blob/8a5d2f82a6e3263290c8e0276c3e0f64e77723e7/docs/atomic-signature.md The payload extracted from `signature` is a JSON blob conforming to the linked schema."
          ],
          "enum": [
            "CONTENT_TYPE_UNSPECIFIED",
            "SIMPLE_SIGNING_JSON"
          ],
          "description": "Type (for example schema) of the attestation payload that was signed. The verifier must ensure that the provided type is one that the verifier supports, and that the attestation payload is a valid instantiation of that type (for example by validating a JSON schema)."
        },
        "signature": {
          "type": "string",
          "description": "The raw content of the signature, as output by GNU Privacy Guard (GPG) or equivalent. Since this message only supports attached signatures, the payload that was signed must be attached. While the signature format supported is dependent on the verification implementation, currently only ASCII-armored (`--armor` to gpg), non-clearsigned (`--sign` rather than `--clearsign` to gpg) are supported. Concretely, `gpg --sign --armor --output=signature.gpg payload.json` will create the signature content expected in this field in `signature.gpg` for the `payload.json` attestation payload."
        },
        "pgpKeyId": {
          "type": "string",
          "description": "The cryptographic fingerprint of the key used to generate the signature, as output by, e.g. `gpg --list-keys`. This should be the version 4, full 160-bit fingerprint, expressed as a 40 character hexadecimal string. See https://tools.ietf.org/html/rfc4880#section-12.2 for details. Implementations may choose to acknowledge \"LONG\", \"SHORT\", or other abbreviated key IDs, but only the full fingerprint is guaranteed to work. In gpg, the full fingerprint can be retrieved from the `fpr` field returned when calling --list-keys with --with-colons. For example: ``` gpg --with-colons --with-fingerprint --force-v4-certs \\ --list-keys attester@example.com tru::1:1513631572:0:3:1:5 pub:...... fpr:::::::::24FF6481B76AC91E66A00AC657A93A81EF3AE6FB: ``` Above, the fingerprint is `24FF6481B76AC91E66A00AC657A93A81EF3AE6FB`."
        }
      },
      "description": "An attestation wrapper with a PGP-compatible signature. This message only supports `ATTACHED` signatures, where the payload that is signed is included alongside the signature itself in the same file.",
      "id": "PgpSignedAttestation",
      "type": "object"
    },
    "GoogleDevtoolsContaineranalysisV1alpha1ProjectRepoId": {
      "description": "Selects a repo using a Google Cloud Platform project ID (e.g., winged-cargo-31) and a repo name within that project.",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "The ID of the project."
        },
        "repoName": {
          "type": "string",
          "description": "The name of the repo. Leave empty for the default repo."
        }
      },
      "type": "object",
      "id": "GoogleDevtoolsContaineranalysisV1alpha1ProjectRepoId"
    },
    "Artifact": {
      "type": "object",
      "id": "Artifact",
      "description": "Artifact describes a build product.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the artifact. This may be the path to a binary or jar file, or in the case of a container build, the name used to push the container image to Google Container Registry, as presented to `docker push`. This field is deprecated in favor of the plural `names` field; it continues to exist here to allow existing BuildProvenance serialized to json in google.devtools.containeranalysis.v1alpha1.BuildDetails.provenance_bytes to deserialize back into proto."
        },
        "id": {
          "type": "string",
          "description": "Artifact ID, if any; for container images, this will be a URL by digest like gcr.io/projectID/imagename@sha256:123456"
        },
        "checksum": {
          "description": "Hash or checksum value of a binary, or Docker Registry 2.0 digest of a container.",
          "type": "string"
        },
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Related artifact names. This may be the path to a binary or jar file, or in the case of a container build, the name used to push the container image to Google Container Registry, as presented to `docker push`. Note that a single Artifact ID can have multiple names, for example if two tags are applied to one image."
        }
      }
    },
    "UpgradeDistribution": {
      "id": "UpgradeDistribution",
      "type": "object",
      "properties": {
        "severity": {
          "type": "string",
          "description": "The severity as specified by the upstream operating system."
        },
        "cpeUri": {
          "description": "Required - The specific operating system this metadata applies to. See https://cpe.mitre.org/specification/.",
          "type": "string"
        },
        "cve": {
          "description": "The cve that would be resolved by this upgrade.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "classification": {
          "description": "The operating system classification of this Upgrade, as specified by the upstream operating system upgrade feed.",
          "type": "string"
        }
      },
      "description": "The Upgrade Distribution represents metadata about the Upgrade for each operating system (CPE). Some distributions have additional metadata around updates, classifying them into various categories and severities."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "Command": {
      "description": "Command describes a step performed as part of the build pipeline.",
      "type": "object",
      "id": "Command",
      "properties": {
        "args": {
          "type": "array",
          "description": "Command-line arguments used when executing this Command.",
          "items": {
            "type": "string"
          }
        },
        "waitFor": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The ID(s) of the Command(s) that this Command depends on."
        },
        "env": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Environment variables set before running this Command."
        },
        "id": {
          "description": "Optional unique identifier for this Command, used in wait_for to reference this Command as a dependency.",
          "type": "string"
        },
        "name": {
          "description": "Name of the command, as presented on the command line, or if the command is packaged as a Docker container, as presented to `docker pull`.",
          "type": "string"
        },
        "dir": {
          "description": "Working directory (relative to project source root) used when running this Command.",
          "type": "string"
        }
      }
    },
    "AttestationAuthority": {
      "description": "Note kind that represents a logical attestation \"role\" or \"authority\". For example, an organization might have one `AttestationAuthority` for \"QA\" and one for \"build\". This Note is intended to act strictly as a grouping mechanism for the attached Occurrences (Attestations). This grouping mechanism also provides a security boundary, since IAM ACLs gate the ability for a principle to attach an Occurrence to a given Note. It also provides a single point of lookup to find all attached Attestation Occurrences, even if they don't all live in the same project.",
      "type": "object",
      "properties": {
        "hint": {
          "$ref": "AttestationAuthorityHint"
        }
      },
      "id": "AttestationAuthority"
    },
    "BuildProvenance": {
      "description": "Provenance of a build. Contains all information needed to verify the full details about the build from source to completion.",
      "type": "object",
      "id": "BuildProvenance",
      "properties": {
        "commands": {
          "description": "Commands requested by the build.",
          "type": "array",
          "items": {
            "$ref": "Command"
          }
        },
        "builderVersion": {
          "type": "string",
          "description": "Version string of the builder at the time this build was executed."
        },
        "createTime": {
          "description": "Time at which the build was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "logsBucket": {
          "description": "Google Cloud Storage bucket where logs were written.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Unique identifier of the build."
        },
        "sourceProvenance": {
          "description": "Details of the Source input to the build.",
          "$ref": "Source"
        },
        "projectId": {
          "type": "string",
          "description": "ID of the project."
        },
        "buildOptions": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Special options applied to this build. This is a catch-all field where build providers can enter any desired additional details."
        },
        "creator": {
          "description": "E-mail address of the user who initiated this build. Note that this was the user's e-mail address at the time the build was initiated; this address may not represent the same end-user for all time.",
          "type": "string"
        },
        "triggerId": {
          "description": "Trigger identifier if the build was triggered automatically; empty if not.",
          "type": "string"
        },
        "builtArtifacts": {
          "type": "array",
          "description": "Output of the build.",
          "items": {
            "$ref": "Artifact"
          }
        },
        "finishTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time at which execution of the build was finished."
        },
        "startTime": {
          "description": "Time at which execution of the build was started.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "AttestationAuthorityHint": {
      "properties": {
        "humanReadableName": {
          "description": "The human readable name of this Attestation Authority, for example \"qa\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AttestationAuthorityHint",
      "description": "This submessage provides human-readable hints about the purpose of the AttestationAuthority. Because the name of a Note acts as its resource reference, it is important to disambiguate the canonical name of the Note (which might be a UUID for security purposes) from \"readable\" names more suitable for debug output. Note that these hints should NOT be used to look up AttestationAuthorities in security sensitive contexts, such as when looking up Attestations to verify."
    },
    "Discovered": {
      "id": "Discovered",
      "type": "object",
      "description": "Provides information about the scan status of a discovered resource.",
      "properties": {
        "operation": {
          "$ref": "Operation",
          "description": "Output only. An operation that indicates the status of the current scan. This field is deprecated, do not use."
        },
        "analysisStatus": {
          "enum": [
            "ANALYSIS_STATUS_UNSPECIFIED",
            "PENDING",
            "SCANNING",
            "FINISHED_SUCCESS",
            "FINISHED_FAILED",
            "FINISHED_UNSUPPORTED"
          ],
          "type": "string",
          "description": "The status of discovery for the resource.",
          "enumDescriptions": [
            "Unknown",
            "Resource is known but no action has been taken yet.",
            "Resource is being analyzed.",
            "Analysis has finished successfully.",
            "Analysis has finished unsuccessfully, the analysis itself is in a bad state.",
            "The resource is known not to be supported."
          ]
        },
        "analysisStatusError": {
          "description": "When an error is encountered this will contain a LocalizedMessage under details to show to the user. The LocalizedMessage output only and populated by the API.",
          "$ref": "Status"
        },
        "cpe": {
          "type": "string",
          "description": "The CPE of the resource being scanned."
        },
        "continuousAnalysis": {
          "enumDescriptions": [
            "Unknown",
            "The resource is continuously analyzed.",
            "The resource is ignored for continuous analysis."
          ],
          "description": "Whether the resource is continuously analyzed.",
          "enum": [
            "CONTINUOUS_ANALYSIS_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "type": "string"
        }
      }
    },
    "Note": {
      "description": "Provides a detailed description of a `Note`.",
      "properties": {
        "vulnerabilityType": {
          "$ref": "VulnerabilityType",
          "description": "A package vulnerability type of note."
        },
        "name": {
          "type": "string",
          "description": "The name of the note in the form \"projects/{provider_project_id}/notes/{NOTE_ID}\""
        },
        "relatedUrl": {
          "items": {
            "$ref": "RelatedUrl"
          },
          "type": "array",
          "description": "URLs associated with this note"
        },
        "shortDescription": {
          "type": "string",
          "description": "A one sentence description of this `Note`."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this note was last updated. This field can be used as a filter in list requests."
        },
        "kind": {
          "enum": [
            "KIND_UNSPECIFIED",
            "PACKAGE_VULNERABILITY",
            "BUILD_DETAILS",
            "IMAGE_BASIS",
            "PACKAGE_MANAGER",
            "DEPLOYABLE",
            "DISCOVERY",
            "ATTESTATION_AUTHORITY",
            "UPGRADE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown",
            "The note and occurrence represent a package vulnerability.",
            "The note and occurrence assert build provenance.",
            "This represents an image basis relationship.",
            "This represents a package installed via a package manager.",
            "The note and occurrence track deployment events.",
            "The note and occurrence track the initial discovery status of a resource.",
            "This represents a logical \"role\" that can attest to artifacts.",
            "This represents an available software upgrade."
          ],
          "description": "Output only. This explicitly denotes which kind of note is specified. This field can be used as a filter in list requests."
        },
        "baseImage": {
          "description": "A note describing a base image.",
          "$ref": "Basis"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time this note was created. This field can be used as a filter in list requests.",
          "format": "google-datetime"
        },
        "expirationTime": {
          "description": "Time of expiration for this note, null if note does not expire.",
          "format": "google-datetime",
          "type": "string"
        },
        "upgrade": {
          "$ref": "UpgradeNote",
          "description": "A note describing an upgrade."
        },
        "deployable": {
          "description": "A note describing something that can be deployed.",
          "$ref": "Deployable"
        },
        "package": {
          "$ref": "Package",
          "description": "A note describing a package hosted by various package managers."
        },
        "discovery": {
          "description": "A note describing a provider/analysis type.",
          "$ref": "Discovery"
        },
        "longDescription": {
          "type": "string",
          "description": "A detailed description of this `Note`."
        },
        "buildType": {
          "$ref": "BuildType",
          "description": "Build provenance type for a verifiable build."
        },
        "attestationAuthority": {
          "description": "A note describing an attestation role.",
          "$ref": "AttestationAuthority"
        }
      },
      "type": "object",
      "id": "Note"
    },
    "Layer": {
      "properties": {
        "directive": {
          "description": "The recovered Dockerfile directive used to construct this layer.",
          "type": "string",
          "enumDescriptions": [
            "Default value for unsupported/missing directive",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/reference/builder/#copy",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/"
          ],
          "enum": [
            "DIRECTIVE_UNSPECIFIED",
            "MAINTAINER",
            "RUN",
            "CMD",
            "LABEL",
            "EXPOSE",
            "ENV",
            "ADD",
            "COPY",
            "ENTRYPOINT",
            "VOLUME",
            "USER",
            "WORKDIR",
            "ARG",
            "ONBUILD",
            "STOPSIGNAL",
            "HEALTHCHECK",
            "SHELL"
          ]
        },
        "arguments": {
          "description": "The recovered arguments to the Dockerfile directive.",
          "type": "string"
        }
      },
      "id": "Layer",
      "description": "Layer holds metadata specific to a layer of a Docker image.",
      "type": "object"
    },
    "PackageIssue": {
      "type": "object",
      "properties": {
        "severityName": {
          "type": "string"
        },
        "affectedLocation": {
          "$ref": "VulnerabilityLocation",
          "description": "The location of the vulnerability."
        },
        "fixedLocation": {
          "description": "The location of the available fix for vulnerability.",
          "$ref": "VulnerabilityLocation"
        }
      },
      "description": "This message wraps a location affected by a vulnerability and its associated fix (if one is available).",
      "id": "PackageIssue"
    },
    "CreateOperationRequest": {
      "id": "CreateOperationRequest",
      "description": "Request for creating an operation",
      "type": "object",
      "properties": {
        "operation": {
          "description": "The operation to create.",
          "$ref": "Operation"
        },
        "operationId": {
          "description": "The ID to use for this operation.",
          "type": "string"
        }
      }
    },
    "BuildDetails": {
      "id": "BuildDetails",
      "description": "Message encapsulating build provenance details.",
      "properties": {
        "provenanceBytes": {
          "type": "string",
          "description": "Serialized JSON representation of the provenance, used in generating the `BuildSignature` in the corresponding Result. After verifying the signature, `provenance_bytes` can be unmarshalled and compared to the provenance to confirm that it is unchanged. A base64-encoded string representation of the provenance bytes is used for the signature in order to interoperate with openssl which expects this format for signature verification. The serialized form is captured both to avoid ambiguity in how the provenance is marshalled to json as well to prevent incompatibilities with future changes."
        },
        "provenance": {
          "description": "The actual provenance",
          "$ref": "BuildProvenance"
        }
      },
      "type": "object"
    },
    "UpdateOperationRequest": {
      "id": "UpdateOperationRequest",
      "properties": {
        "operation": {
          "$ref": "Operation",
          "description": "The operation to create."
        },
        "updateMask": {
          "description": "The fields to update.",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request for updating an existing operation"
    },
    "BuildType": {
      "type": "object",
      "description": "Note holding the version of the provider's builder and the signature of the provenance message in linked BuildDetails.",
      "id": "BuildType",
      "properties": {
        "builderVersion": {
          "description": "Version of the builder which produced this Note.",
          "type": "string"
        },
        "signature": {
          "$ref": "BuildSignature",
          "description": "Signature of the build in Occurrences pointing to the Note containing this `BuilderDetails`."
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status",
      "properties": {
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      }
    },
    "FileHashes": {
      "id": "FileHashes",
      "properties": {
        "fileHash": {
          "items": {
            "$ref": "Hash"
          },
          "description": "Collection of file hashes.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Container message for hashes of byte content of files, used in Source messages to verify integrity of source input to the build."
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as '*' or 'storage.*') are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Deployable": {
      "type": "object",
      "properties": {
        "resourceUri": {
          "description": "Resource URI for the artifact being deployed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "An artifact that can be deployed in some runtime.",
      "id": "Deployable"
    },
    "VulnerabilityLocation": {
      "properties": {
        "package": {
          "type": "string",
          "description": "The package being described."
        },
        "cpeUri": {
          "type": "string",
          "description": "The cpe_uri in [cpe format] (https://cpe.mitre.org/specification/) format. Examples include distro or storage location for vulnerable jar. This field can be used as a filter in list requests."
        },
        "version": {
          "description": "The version of the package being described. This field can be used as a filter in list requests.",
          "$ref": "Version"
        }
      },
      "id": "VulnerabilityLocation",
      "type": "object",
      "description": "The location of the vulnerability"
    },
    "Resource": {
      "description": " Resource is an entity that can have metadata. E.g., a Docker image.",
      "id": "Resource",
      "properties": {
        "uri": {
          "type": "string",
          "description": "The unique URI of the resource. E.g., \"https://gcr.io/project/image@sha256:foo\" for a Docker image."
        },
        "name": {
          "type": "string",
          "description": "The name of the resource. E.g., the name of a Docker image - \"Debian\"."
        },
        "contentHash": {
          "$ref": "Hash",
          "description": "The hash of the resource content. E.g., the Docker digest."
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsContaineranalysisV1alpha1CloudRepoSourceContext": {
      "type": "object",
      "id": "GoogleDevtoolsContaineranalysisV1alpha1CloudRepoSourceContext",
      "properties": {
        "revisionId": {
          "description": "A revision ID.",
          "type": "string"
        },
        "repoId": {
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1RepoId",
          "description": "The ID of the repo."
        },
        "aliasContext": {
          "description": "An alias, which may be a branch or tag.",
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1AliasContext"
        }
      },
      "description": "A CloudRepoSourceContext denotes a particular revision in a Google Cloud Source Repo."
    },
    "BuildSignature": {
      "description": "Message encapsulating the signature of the verified build.",
      "id": "BuildSignature",
      "properties": {
        "keyId": {
          "description": "An Id for the key used to sign. This could be either an Id for the key stored in `public_key` (such as the Id or fingerprint for a PGP key, or the CN for a cert), or a reference to an external key (such as a reference to a key in Cloud Key Management Service).",
          "type": "string"
        },
        "publicKey": {
          "description": "Public key of the builder which can be used to verify that the related findings are valid and unchanged. If `key_type` is empty, this defaults to PEM encoded public keys. This field may be empty if `key_id` references an external key. For Cloud Build based signatures, this is a PEM encoded public key. To verify the Cloud Build signature, place the contents of this field into a file (public.pem). The signature field is base64-decoded into its binary representation in signature.bin, and the provenance bytes from `BuildDetails` are base64-decoded into a binary representation in signed.bin. OpenSSL can then verify the signature: `openssl sha256 -verify public.pem -signature signature.bin signed.bin`",
          "type": "string"
        },
        "keyType": {
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "PGP_ASCII_ARMORED",
            "PKIX_PEM"
          ],
          "enumDescriptions": [
            "`KeyType` is not set.",
            "`PGP ASCII Armored` public key.",
            "`PKIX PEM` public key."
          ],
          "type": "string",
          "description": "The type of the key, either stored in `public_key` or referenced in `key_id`"
        },
        "signature": {
          "description": "Signature of the related `BuildProvenance`, encoded in a base64 string.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Occurrence": {
      "properties": {
        "resourceUrl": {
          "type": "string",
          "description": "The unique URL of the image or the container for which the `Occurrence` applies. For example, https://gcr.io/project/image@sha256:foo This field can be used as a filter in list requests."
        },
        "installation": {
          "description": "Describes the installation of a package on the linked resource.",
          "$ref": "Installation"
        },
        "createTime": {
          "description": "Output only. The time this `Occurrence` was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "upgrade": {
          "description": "Describes an upgrade.",
          "$ref": "UpgradeOccurrence"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time this `Occurrence` was last updated.",
          "format": "google-datetime"
        },
        "attestation": {
          "$ref": "Attestation",
          "description": "Describes an attestation of an artifact."
        },
        "deployment": {
          "description": "Describes the deployment of an artifact on a runtime.",
          "$ref": "Deployment"
        },
        "buildDetails": {
          "$ref": "BuildDetails",
          "description": "Build details for a verifiable build."
        },
        "discovered": {
          "description": "Describes the initial scan status for this resource.",
          "$ref": "Discovered"
        },
        "kind": {
          "enumDescriptions": [
            "Unknown",
            "The note and occurrence represent a package vulnerability.",
            "The note and occurrence assert build provenance.",
            "This represents an image basis relationship.",
            "This represents a package installed via a package manager.",
            "The note and occurrence track deployment events.",
            "The note and occurrence track the initial discovery status of a resource.",
            "This represents a logical \"role\" that can attest to artifacts.",
            "This represents an available software upgrade."
          ],
          "description": "Output only. This explicitly denotes which of the `Occurrence` details are specified. This field can be used as a filter in list requests.",
          "type": "string",
          "enum": [
            "KIND_UNSPECIFIED",
            "PACKAGE_VULNERABILITY",
            "BUILD_DETAILS",
            "IMAGE_BASIS",
            "PACKAGE_MANAGER",
            "DEPLOYABLE",
            "DISCOVERY",
            "ATTESTATION_AUTHORITY",
            "UPGRADE"
          ]
        },
        "remediation": {
          "type": "string",
          "description": "A description of actions that can be taken to remedy the `Note`"
        },
        "noteName": {
          "type": "string",
          "description": "An analysis note associated with this image, in the form \"providers/{provider_id}/notes/{NOTE_ID}\" This field can be used as a filter in list requests."
        },
        "vulnerabilityDetails": {
          "description": "Details of a security vulnerability note.",
          "$ref": "VulnerabilityDetails"
        },
        "resource": {
          "description": " The resource for which the `Occurrence` applies.",
          "$ref": "Resource"
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the `Occurrence` in the form \"projects/{project_id}/occurrences/{OCCURRENCE_ID}\""
        },
        "derivedImage": {
          "description": "Describes how this resource derives from the basis in the associated note.",
[...]
