{
  "rootUrl": "https://containeranalysis.googleapis.com/",
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/container-analysis/api/reference/rest/",
  "revision": "20210813",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "scanConfigs": {
          "methods": {
            "get": {
              "description": "Gets the specified scan configuration.",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the scan configuration in the form of `projects/[PROJECT_ID]/scanConfigs/[SCAN_CONFIG_ID]`.",
                  "required": true,
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "location": "path"
                }
              },
              "id": "containeranalysis.projects.scanConfigs.get",
              "flatPath": "v1beta1/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ScanConfig"
              },
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            },
            "update": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the scan configuration in the form of `projects/[PROJECT_ID]/scanConfigs/[SCAN_CONFIG_ID]`.",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$"
                }
              },
              "response": {
                "$ref": "ScanConfig"
              },
              "request": {
                "$ref": "ScanConfig"
              },
              "flatPath": "v1beta1/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "description": "Updates the specified scan configuration.",
              "id": "containeranalysis.projects.scanConfigs.update",
              "path": "v1beta1/{+name}",
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "Lists scan configurations for the specified project.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the project to list scan configurations for in the form of `projects/[PROJECT_ID]`.",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Token to provide to skip to a particular spot in the list."
                },
                "pageSize": {
                  "description": "The number of scan configs to return in the list.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "description": "Required. The filter expression.",
                  "location": "query"
                }
              },
              "path": "v1beta1/{+parent}/scanConfigs",
              "id": "containeranalysis.projects.scanConfigs.list",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/scanConfigs",
              "response": {
                "$ref": "ListScanConfigsResponse"
              }
            }
          }
        },
        "occurrences": {
          "methods": {
            "getVulnerabilitySummary": {
              "id": "containeranalysis.projects.occurrences.getVulnerabilitySummary",
              "response": {
                "$ref": "VulnerabilityOccurrencesSummary"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/occurrences:vulnerabilitySummary",
              "description": "Gets a summary of the number and severity of occurrences.",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The name of the project to get a vulnerability summary for in the form of `projects/[PROJECT_ID]`.",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The filter expression."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+parent}/occurrences:vulnerabilitySummary",
              "httpMethod": "GET"
            },
            "delete": {
              "description": "Deletes the specified occurrence. For example, use this method to delete an occurrence when the occurrence is no longer applicable for the given resource.",
              "id": "containeranalysis.projects.occurrences.delete",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`.",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/occurrences/{occurrencesId}",
              "path": "v1beta1/{+name}"
            },
            "batchCreate": {
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The name of the project in the form of `projects/[PROJECT_ID]`, under which the occurrences are to be created.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/occurrences:batchCreate",
              "id": "containeranalysis.projects.occurrences.batchCreate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+parent}/occurrences:batchCreate",
              "httpMethod": "POST",
              "response": {
                "$ref": "BatchCreateOccurrencesResponse"
              },
              "description": "Creates new occurrences in batch.",
              "request": {
                "$ref": "BatchCreateOccurrencesRequest"
              }
            },
            "create": {
              "flatPath": "v1beta1/projects/{projectsId}/occurrences",
              "httpMethod": "POST",
              "path": "v1beta1/{+parent}/occurrences",
              "response": {
                "$ref": "Occurrence"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the project in the form of `projects/[PROJECT_ID]`, under which the occurrence is to be created.",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a new occurrence.",
              "request": {
                "$ref": "Occurrence"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.projects.occurrences.create"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "id": "containeranalysis.projects.occurrences.get",
              "flatPath": "v1beta1/projects/{projectsId}/occurrences/{occurrencesId}",
              "description": "Gets the specified occurrence.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$"
                }
              },
              "httpMethod": "GET",
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "Occurrence"
              }
            },
            "patch": {
              "id": "containeranalysis.projects.occurrences.patch",
              "description": "Updates the specified occurrence.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "The fields to update."
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "description": "Required. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`.",
                  "location": "path"
                }
              },
              "httpMethod": "PATCH",
              "flatPath": "v1beta1/projects/{projectsId}/occurrences/{occurrencesId}",
              "response": {
                "$ref": "Occurrence"
              },
              "request": {
                "$ref": "Occurrence"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "getNotes": {
              "path": "v1beta1/{+name}/notes",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the note attached to the specified occurrence. Consumer projects can use this method to get a note that belongs to a provider project.",
              "httpMethod": "GET",
              "flatPath": "v1beta1/projects/{projectsId}/occurrences/{occurrencesId}/notes",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "description": "Required. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`.",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "containeranalysis.projects.occurrences.getNotes",
              "response": {
                "$ref": "Note"
              }
            },
            "getIamPolicy": {
              "parameters": {
                "resource": {
                  "type": "string",
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/occurrences/{occurrencesId}:getIamPolicy",
              "description": "Gets the access control policy for a note or an occurrence resource. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or occurrence, respectively. The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
              "parameterOrder": [
                "resource"
              ],
              "response": {
                "$ref": "Policy"
              },
              "path": "v1beta1/{+resource}:getIamPolicy",
              "id": "containeranalysis.projects.occurrences.getIamPolicy"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the project to list occurrences for in the form of `projects/[PROJECT_ID]`.",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Number of occurrences to return in the list. Must be positive. Max allowed page size is 1000. If not specified, page size defaults to 20."
                },
                "pageToken": {
                  "description": "Token to provide to skip to a particular spot in the list.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "The filter expression.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListOccurrencesResponse"
              },
              "description": "Lists occurrences for the specified project.",
              "id": "containeranalysis.projects.occurrences.list",
              "flatPath": "v1beta1/projects/{projectsId}/occurrences",
              "httpMethod": "GET",
              "path": "v1beta1/{+parent}/occurrences"
            },
            "setIamPolicy": {
              "flatPath": "v1beta1/projects/{projectsId}/occurrences/{occurrencesId}:setIamPolicy",
              "id": "containeranalysis.projects.occurrences.setIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "path": "v1beta1/{+resource}:setIamPolicy",
              "description": "Sets the access control policy on the specified note or occurrence. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or an occurrence, respectively. The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
              "response": {
                "$ref": "Policy"
              },
              "parameterOrder": [
                "resource"
              ],
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
                  "required": true,
                  "location": "path"
                }
              },
              "request": {
                "$ref": "SetIamPolicyRequest"
              }
            },
            "testIamPermissions": {
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "flatPath": "v1beta1/projects/{projectsId}/occurrences/{occurrencesId}:testIamPermissions",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.projects.occurrences.testIamPermissions",
              "parameterOrder": [
                "resource"
              ],
              "description": "Returns the permissions that a caller has on the specified note or occurrence. Requires list permission on the project (for example, `containeranalysis.notes.list`). The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
              "path": "v1beta1/{+resource}:testIamPermissions",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "location": "path"
                }
              },
              "httpMethod": "POST"
            }
          }
        },
        "notes": {
          "methods": {
            "delete": {
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the note in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`.",
                  "pattern": "^projects/[^/]+/notes/[^/]+$"
                }
              },
              "id": "containeranalysis.projects.notes.delete",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/notes/{notesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "description": "Deletes the specified note.",
              "path": "v1beta1/{+name}"
            },
            "batchCreate": {
              "response": {
                "$ref": "BatchCreateNotesResponse"
              },
              "description": "Creates new notes in batch.",
              "flatPath": "v1beta1/projects/{projectsId}/notes:batchCreate",
              "httpMethod": "POST",
              "path": "v1beta1/{+parent}/notes:batchCreate",
              "id": "containeranalysis.projects.notes.batchCreate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "BatchCreateNotesRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the project in the form of `projects/[PROJECT_ID]`, under which the notes are to be created."
                }
              }
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+name}",
              "request": {
                "$ref": "Note"
              },
              "response": {
                "$ref": "Note"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the note in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/notes/[^/]+$"
                },
                "updateMask": {
                  "description": "The fields to update.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/notes/{notesId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Updates the specified note.",
              "id": "containeranalysis.projects.notes.patch",
              "httpMethod": "PATCH"
            },
            "get": {
              "flatPath": "v1beta1/projects/{projectsId}/notes/{notesId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the specified note.",
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the note in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`.",
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "type": "string"
                }
              },
              "id": "containeranalysis.projects.notes.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Note"
              }
            },
            "list": {
              "description": "Lists notes for the specified project.",
              "parameters": {
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The filter expression."
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Number of notes to return in the list. Must be positive. Max allowed page size is 1000. If not specified, page size defaults to 20."
                },
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The name of the project to list notes for in the form of `projects/[PROJECT_ID]`.",
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Token to provide to skip to a particular spot in the list.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+parent}/notes",
              "id": "containeranalysis.projects.notes.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListNotesResponse"
              },
              "flatPath": "v1beta1/projects/{projectsId}/notes"
            },
            "getIamPolicy": {
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "path": "v1beta1/{+resource}:getIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/notes/{notesId}:getIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "httpMethod": "POST",
              "description": "Gets the access control policy for a note or an occurrence resource. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or occurrence, respectively. The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
              "id": "containeranalysis.projects.notes.getIamPolicy",
              "parameterOrder": [
                "resource"
              ],
              "parameters": {
                "resource": {
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/notes/[^/]+$"
                }
              }
            },
            "setIamPolicy": {
              "description": "Sets the access control policy on the specified note or occurrence. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or an occurrence, respectively. The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
              "path": "v1beta1/{+resource}:setIamPolicy",
              "id": "containeranalysis.projects.notes.setIamPolicy",
              "parameters": {
                "resource": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/notes/{notesId}:setIamPolicy",
              "parameterOrder": [
                "resource"
              ],
              "response": {
                "$ref": "Policy"
              },
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "httpMethod": "POST"
            },
            "create": {
              "parameters": {
                "noteId": {
                  "description": "Required. The ID to use for this note.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The name of the project in the form of `projects/[PROJECT_ID]`, under which the note is to be created.",
                  "location": "path"
                }
              },
              "description": "Creates a new note.",
              "request": {
                "$ref": "Note"
              },
              "id": "containeranalysis.projects.notes.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Note"
              },
              "flatPath": "v1beta1/projects/{projectsId}/notes",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta1/{+parent}/notes",
              "httpMethod": "POST"
            },
            "testIamPermissions": {
              "parameterOrder": [
                "resource"
              ],
              "path": "v1beta1/{+resource}:testIamPermissions",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "flatPath": "v1beta1/projects/{projectsId}/notes/{notesId}:testIamPermissions",
              "id": "containeranalysis.projects.notes.testIamPermissions",
              "description": "Returns the permissions that a caller has on the specified note or occurrence. Requires list permission on the project (for example, `containeranalysis.notes.list`). The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameters": {
                "resource": {
                  "required": true,
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field."
                }
              },
              "request": {
                "$ref": "TestIamPermissionsRequest"
              }
            }
          },
          "resources": {
            "occurrences": {
              "methods": {
                "list": {
                  "description": "Lists occurrences referencing the specified note. Provider projects can use this method to get all occurrences across consumer projects referencing the specified note.",
                  "flatPath": "v1beta1/projects/{projectsId}/notes/{notesId}/occurrences",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "containeranalysis.projects.notes.occurrences.list",
                  "response": {
                    "$ref": "ListNoteOccurrencesResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v1beta1/{+name}/occurrences",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Token to provide to skip to a particular spot in the list."
                    },
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the note to list occurrences for in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/notes/[^/]+$"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Number of occurrences to return in the list.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The filter expression.",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    }
  },
  "schemas": {
    "RelationshipOccurrence": {
      "type": "object",
      "properties": {
        "comment": {
          "description": "A place for the SPDX file creator to record any general comments about the relationship",
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "DESCRIBES",
            "DESCRIBED_BY",
            "CONTAINS",
            "CONTAINED_BY",
            "DEPENDS_ON",
            "DEPENDENCY_OF",
            "DEPENDENCY_MANIFEST_OF",
            "BUILD_DEPENDENCY_OF",
            "DEV_DEPENDENCY_OF",
            "OPTIONAL_DEPENDENCY_OF",
            "PROVIDED_DEPENDENCY_OF",
            "TEST_DEPENDENCY_OF",
            "RUNTIME_DEPENDENCY_OF",
            "EXAMPLE_OF",
            "GENERATES",
            "GENERATED_FROM",
            "ANCESTOR_OF",
            "DESCENDANT_OF",
            "VARIANT_OF",
            "DISTRIBUTION_ARTIFACT",
            "PATCH_FOR",
            "PATCH_APPLIED",
            "COPY_OF",
            "FILE_ADDED",
            "FILE_DELETED",
            "FILE_MODIFIED",
            "EXPANDED_FROM_ARCHIVE",
            "DYNAMIC_LINK",
            "STATIC_LINK",
            "DATA_FILE_OF",
            "TEST_CASE_OF",
            "BUILD_TOOL_OF",
            "DEV_TOOL_OF",
            "TEST_OF",
            "TEST_TOOL_OF",
            "DOCUMENTATION_OF",
            "OPTIONAL_COMPONENT_OF",
            "METAFILE_OF",
            "PACKAGE_OF",
            "AMENDS",
            "PREREQUISITE_FOR",
            "HAS_PREREQUISITE",
            "OTHER"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Is to be used when SPDXRef-DOCUMENT describes SPDXRef-A",
            "Is to be used when SPDXRef-A is described by SPDXREF-Document",
            "Is to be used when SPDXRef-A contains SPDXRef-B",
            "Is to be used when SPDXRef-A is contained by SPDXRef-B",
            "Is to be used when SPDXRef-A depends on SPDXRef-B",
            "Is to be used when SPDXRef-A is dependency of SPDXRef-B",
            "Is to be used when SPDXRef-A is a manifest file that lists a set of dependencies for SPDXRef-B",
            "Is to be used when SPDXRef-A is a build dependency of SPDXRef-B",
            "Is to be used when SPDXRef-A is a development dependency of SPDXRef-B",
            "Is to be used when SPDXRef-A is an optional dependency of SPDXRef-B",
            "Is to be used when SPDXRef-A is a to be provided dependency of SPDXRef-B",
            "Is to be used when SPDXRef-A is a test dependency of SPDXRef-B",
            "Is to be used when SPDXRef-A is a dependency required for the execution of SPDXRef-B",
            "Is to be used when SPDXRef-A is an example of SPDXRef-B",
            "Is to be used when SPDXRef-A generates SPDXRef-B",
            "Is to be used when SPDXRef-A was generated from SPDXRef-B",
            "Is to be used when SPDXRef-A is an ancestor (same lineage but pre-dates) SPDXRef-B",
            "Is to be used when SPDXRef-A is a descendant of (same lineage but postdates) SPDXRef-B",
            "Is to be used when SPDXRef-A is a variant of (same lineage but not clear which came first) SPDXRef-B",
            "Is to be used when distributing SPDXRef-A requires that SPDXRef-B also be distributed",
            "Is to be used when SPDXRef-A is a patch file for (to be applied to) SPDXRef-B",
            "Is to be used when SPDXRef-A is a patch file that has been applied to SPDXRef-B",
            "Is to be used when SPDXRef-A is an exact copy of SPDXRef-B",
            "Is to be used when SPDXRef-A is a file that was added to SPDXRef-B",
            "Is to be used when SPDXRef-A is a file that was deleted from SPDXRef-B",
            "Is to be used when SPDXRef-A is a file that was modified from SPDXRef-B",
            "Is to be used when SPDXRef-A is expanded from the archive SPDXRef-B",
            "Is to be used when SPDXRef-A dynamically links to SPDXRef-B",
            "Is to be used when SPDXRef-A statically links to SPDXRef-B",
            "Is to be used when SPDXRef-A is a data file used in SPDXRef-B",
            "Is to be used when SPDXRef-A is a test case used in testing SPDXRef-B",
            "Is to be used when SPDXRef-A is used to build SPDXRef-B",
            "Is to be used when SPDXRef-A is used as a development tool for SPDXRef-B",
            "Is to be used when SPDXRef-A is used for testing SPDXRef-B",
            "Is to be used when SPDXRef-A is used as a test tool for SPDXRef-B",
            "Is to be used when SPDXRef-A provides documentation of SPDXRef-B",
            "Is to be used when SPDXRef-A is an optional component of SPDXRef-B",
            "Is to be used when SPDXRef-A is a metafile of SPDXRef-B",
            "Is to be used when SPDXRef-A is used as a package as part of SPDXRef-B",
            "Is to be used when (current) SPDXRef-DOCUMENT amends the SPDX information in SPDXRef-B",
            "Is to be used when SPDXRef-A is a prerequisite for SPDXRef-B",
            "Is to be used when SPDXRef-A has as a prerequisite SPDXRef-B",
            "Is to be used for a relationship which has not been defined in the formal SPDX specification. A description of the relationship should be included in the Relationship comments field"
          ],
          "type": "string",
          "description": "The type of relationship between the source and target SPDX elements"
        },
        "target": {
          "type": "string",
          "description": "Also referred to as SPDXRef-B The target SPDC element (file, package, etc) In cases where there are \"known unknowns\", the use of the keyword NOASSERTION can be used The keywords NONE can be used to indicate that an SPDX element (package/file/snippet) has no other elements connected by some relationship to it"
        },
        "source": {
          "type": "string",
          "description": "Also referred to as SPDXRef-A The source SPDX element (file, package, etc)"
        }
      },
      "description": "RelationshipOccurrence represents an SPDX Relationship section: https://spdx.github.io/spdx-spec/7-relationships-between-SPDX-elements/",
      "id": "RelationshipOccurrence"
    },
    "GrafeasV1beta1BuildDetails": {
      "type": "object",
      "description": "Details of a build occurrence.",
      "properties": {
        "provenanceBytes": {
          "description": "Serialized JSON representation of the provenance, used in generating the build signature in the corresponding build note. After verifying the signature, `provenance_bytes` can be unmarshalled and compared to the provenance to confirm that it is unchanged. A base64-encoded string representation of the provenance bytes is used for the signature in order to interoperate with openssl which expects this format for signature verification. The serialized form is captured both to avoid ambiguity in how the provenance is marshalled to json as well to prevent incompatibilities with future changes.",
          "type": "string"
        },
        "provenance": {
          "$ref": "BuildProvenance",
          "description": "Required. The actual provenance for the build."
        }
      },
      "id": "GrafeasV1beta1BuildDetails"
    },
    "ArtifactHashes": {
      "id": "ArtifactHashes",
      "properties": {
        "sha256": {
          "type": "string"
        }
      },
      "description": "Defines a hash object for use in Materials and Products.",
      "type": "object"
    },
    "Artifact": {
      "properties": {
        "checksum": {
          "description": "Hash or checksum value of a binary, or Docker Registry 2.0 digest of a container.",
          "type": "string"
        },
        "names": {
          "description": "Related artifact names. This may be the path to a binary or jar file, or in the case of a container build, the name used to push the container image to Google Container Registry, as presented to `docker push`. Note that a single Artifact ID can have multiple names, for example if two tags are applied to one image.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "id": {
          "description": "Artifact ID, if any; for container images, this will be a URL by digest like `gcr.io/projectID/imagename@sha256:123456`.",
          "type": "string"
        }
      },
      "description": "Artifact describes a build product.",
      "type": "object",
      "id": "Artifact"
    },
    "Installation": {
      "description": "This represents how a particular software package may be installed on a system.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The name of the installed package."
        },
        "location": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "Required. All of the places within the filesystem versions of this package have been found."
        }
      },
      "id": "Installation",
      "type": "object"
    },
    "Status": {
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status"
    },
    "BatchCreateNotesResponse": {
      "description": "Response for creating notes in batch.",
      "type": "object",
      "id": "BatchCreateNotesResponse",
      "properties": {
        "notes": {
          "type": "array",
          "items": {
            "$ref": "Note"
          },
          "description": "The notes that were created."
        }
      }
    },
    "ListNotesResponse": {
      "id": "ListNotesResponse",
      "type": "object",
      "properties": {
        "notes": {
          "description": "The notes requested.",
          "type": "array",
          "items": {
            "$ref": "Note"
          }
        },
        "nextPageToken": {
          "description": "The next pagination token in the list response. It should be used as `page_token` for the following request. An empty value means no more results.",
          "type": "string"
        }
      },
      "description": "Response for listing notes."
    },
    "Build": {
      "type": "object",
      "description": "Note holding the version of the provider's builder and the signature of the provenance message in the build details occurrence.",
      "id": "Build",
      "properties": {
        "builderVersion": {
          "description": "Required. Immutable. Version of the builder which produced this build.",
          "type": "string"
        },
        "signature": {
          "$ref": "BuildSignature",
          "description": "Signature of the build in occurrences pointing to this build note containing build details."
        }
      }
    },
    "Deployment": {
      "properties": {
        "platform": {
          "type": "string",
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "GKE",
            "FLEX",
            "CUSTOM"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Google Container Engine.",
            "Google App Engine: Flexible Environment.",
            "Custom user-defined platform."
          ],
          "description": "Platform hosting this deployment."
        },
        "undeployTime": {
          "type": "string",
          "description": "End of the lifetime of this deployment.",
          "format": "google-datetime"
        },
        "config": {
          "description": "Configuration used to create this deployment.",
          "type": "string"
        },
        "deployTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Beginning of the lifetime of this deployment."
        },
        "address": {
          "type": "string",
          "description": "Address of the runtime element hosting this deployment."
        },
        "resourceUri": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Resource URI for the artifact being deployed taken from the deployable field with the same name."
        },
        "userEmail": {
          "description": "Identity of the user that triggered this deployment.",
          "type": "string"
        }
      },
      "id": "Deployment",
      "description": "The period during which some deployable was active in a runtime.",
      "type": "object"
    },
    "ArtifactRule": {
      "properties": {
        "artifactRule": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Defines an object to declare an in-toto artifact rule",
      "id": "ArtifactRule",
      "type": "object"
    },
    "GerritSourceContext": {
      "id": "GerritSourceContext",
      "properties": {
        "hostUri": {
          "description": "The URI of a running Gerrit instance.",
          "type": "string"
        },
        "gerritProject": {
          "type": "string",
          "description": "The full project name within the host. Projects may be nested, so \"project/subproject\" is a valid project name. The \"repo name\" is the hostURI/project."
        },
        "revisionId": {
          "type": "string",
          "description": "A revision (commit) ID."
        },
        "aliasContext": {
          "description": "An alias, which may be a branch or tag.",
          "$ref": "AliasContext"
        }
      },
      "type": "object",
      "description": "A SourceContext referring to a Gerrit project."
    },
    "Detail": {
      "properties": {
        "description": {
          "type": "string",
          "description": "A vendor-specific description of this note."
        },
        "maxAffectedVersion": {
          "$ref": "Version",
          "description": "The max version of the package in which the vulnerability exists."
        },
        "vendor": {
          "description": "The name of the vendor of the product.",
          "type": "string"
        },
        "severityName": {
          "description": "The severity (eg: distro assigned severity) for this vulnerability.",
          "type": "string"
        },
        "sourceUpdateTime": {
          "type": "string",
          "description": "The time this information was last changed at the source. This is an upstream timestamp from the underlying information source - e.g. Ubuntu security tracker.",
          "format": "google-datetime"
        },
        "minAffectedVersion": {
          "$ref": "Version",
          "description": "The min version of the package in which the vulnerability exists."
        },
        "package": {
          "type": "string",
          "description": "Required. The name of the package where the vulnerability was found."
        },
        "fixedLocation": {
          "description": "The fix for this specific package version.",
          "$ref": "VulnerabilityLocation"
        },
        "isObsolete": {
          "type": "boolean",
          "description": "Whether this detail is obsolete. Occurrences are expected not to point to obsolete details."
        },
        "source": {
          "description": "The source from which the information in this Detail was obtained.",
          "type": "string"
        },
        "cpeUri": {
          "description": "Required. The CPE URI in [cpe format](https://cpe.mitre.org/specification/) in which the vulnerability manifests. Examples include distro or storage location for vulnerable jar.",
          "type": "string"
        },
        "packageType": {
          "type": "string",
          "description": "The type of package; whether native or non native(ruby gems, node.js packages etc)."
        }
      },
      "id": "Detail",
      "type": "object",
      "description": "Identifies all appearances of this vulnerability in the package for a specific distro/location. For example: glibc in cpe:/o:debian:debian_linux:8 for versions 2.1 - 2.2"
    },
    "Location": {
      "properties": {
        "version": {
          "$ref": "Version",
          "description": "The version installed at this location."
        },
        "cpeUri": {
          "type": "string",
          "description": "Required. The CPE URI in [CPE format](https://cpe.mitre.org/specification/) denoting the package manager version distributing a package."
        },
        "path": {
          "description": "The path from which we gathered that this package/version is installed.",
          "type": "string"
        }
      },
      "id": "Location",
      "type": "object",
      "description": "An occurrence of a particular package installation found within a system's filesystem. E.g., glibc was found in `/var/lib/dpkg/status`."
    },
    "Vulnerability": {
      "id": "Vulnerability",
      "type": "object",
      "description": "Vulnerability provides metadata about a security vulnerability in a Note.",
      "properties": {
        "details": {
          "description": "All information about the package to specifically identify this vulnerability. One entry per (version range and cpe_uri) the package vulnerability has manifested in.",
          "type": "array",
          "items": {
            "$ref": "Detail"
          }
        },
        "sourceUpdateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time this information was last changed at the source. This is an upstream timestamp from the underlying information source - e.g. Ubuntu security tracker."
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "description": "Note provider assigned impact of the vulnerability.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "windowsDetails": {
          "items": {
            "$ref": "WindowsDetail"
          },
          "description": "Windows details get their own format because the information format and model don't match a normal detail. Specifically Windows updates are done as patches, thus Windows vulnerabilities really are a missing package, rather than a package being at an incorrect version.",
          "type": "array"
        },
        "cvssV3": {
          "$ref": "CVSSv3",
          "description": "The full description of the CVSSv3."
        },
        "cvssScore": {
          "format": "float",
          "type": "number",
          "description": "The CVSS score for this vulnerability."
        }
      }
    },
    "Source": {
      "id": "Source",
      "description": "Source describes the location of the source used for the build.",
      "properties": {
        "artifactStorageSourceUri": {
          "type": "string",
          "description": "If provided, the input binary artifacts for the build came from this location."
        },
        "additionalContexts": {
          "description": "If provided, some of the source code used for the build may be found in these locations, in the case where the source repository had multiple remotes or submodules. This list will not include the context specified in the context field.",
          "items": {
            "$ref": "SourceContext"
          },
          "type": "array"
        },
        "fileHashes": {
          "description": "Hash(es) of the build source, which can be used to verify that the original source integrity was maintained in the build. The keys to this map are file paths used as build source and the values contain the hash values for those files. If the build source came in a single package such as a gzipped tarfile (.tar.gz), the FileHash will be for the single path to that file.",
          "additionalProperties": {
            "$ref": "FileHashes"
          },
          "type": "object"
        },
        "context": {
          "description": "If provided, the source code used for the build came from this location.",
          "$ref": "SourceContext"
        }
      },
      "type": "object"
    },
    "BatchCreateNotesRequest": {
      "type": "object",
      "properties": {
        "notes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Note"
          },
          "description": "Required. The notes to create, the key is expected to be the note ID. Max allowed length is 1000."
        }
      },
      "id": "BatchCreateNotesRequest",
      "description": "Request to create notes in batch."
    },
    "GetPolicyOptions": {
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The policy format version to be returned. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional bindings must specify version 3. Policies without any conditional bindings may specify any valid value or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GetPolicyOptions",
      "type": "object"
    },
    "Hash": {
      "description": "Container message for hash values.",
      "type": "object",
      "id": "Hash",
      "properties": {
        "value": {
          "description": "Required. The hash value.",
          "type": "string",
          "format": "byte"
        },
        "type": {
          "enumDescriptions": [
            "Unknown.",
            "A SHA-256 hash."
          ],
          "enum": [
            "HASH_TYPE_UNSPECIFIED",
            "SHA256"
          ],
          "description": "Required. The type of hash that was performed.",
          "type": "string"
        }
      }
    },
    "RelatedUrl": {
      "type": "object",
      "id": "RelatedUrl",
      "description": "Metadata for any related URL information.",
      "properties": {
        "label": {
          "type": "string",
          "description": "Label to describe usage of the URL."
        },
        "url": {
          "type": "string",
          "description": "Specific URL associated with the resource."
        }
      }
    },
    "Authority": {
      "properties": {
        "hint": {
          "description": "Hint hints at the purpose of the attestation authority.",
          "$ref": "Hint"
        }
      },
      "type": "object",
      "id": "Authority",
      "description": "Note kind that represents a logical attestation \"role\" or \"authority\". For example, an organization might have one `Authority` for \"QA\" and one for \"build\". This note is intended to act strictly as a grouping mechanism for the attached occurrences (Attestations). This grouping mechanism also provides a security boundary, since IAM ACLs gate the ability for a principle to attach an occurrence to a given note. It also provides a single point of lookup to find all attached attestation occurrences, even if they don't all live in the same project."
    },
    "Derived": {
      "id": "Derived",
      "description": "Derived describes the derived image portion (Occurrence) of the DockerImage relationship. This image would be produced from a Dockerfile with FROM .",
      "type": "object",
      "properties": {
        "fingerprint": {
          "description": "Required. The fingerprint of the derived image.",
          "$ref": "Fingerprint"
        },
        "baseResourceUrl": {
          "type": "string",
          "description": "Output only. This contains the base image URL for the derived image occurrence."
        },
        "layerInfo": {
          "description": "This contains layer-specific metadata, if populated it has length \"distance\" and is ordered with [distance] being the layer immediately following the base image and [1] being the final layer.",
          "type": "array",
          "items": {
            "$ref": "Layer"
          }
        },
        "distance": {
          "description": "Output only. The number of layers by which this image differs from the associated image basis.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GitSourceContext": {
      "type": "object",
      "id": "GitSourceContext",
      "description": "A GitSourceContext denotes a particular revision in a third party Git repository (e.g., GitHub).",
      "properties": {
        "url": {
          "type": "string",
          "description": "Git repository URL."
        },
        "revisionId": {
          "description": "Git commit hash.",
          "type": "string"
        }
      }
    },
    "Fingerprint": {
      "id": "Fingerprint",
      "properties": {
        "v1Name": {
          "description": "Required. The layer ID of the final layer in the Docker image's v1 representation.",
          "type": "string"
        },
        "v2Name": {
          "description": "Output only. The name of the image's v2 blobs computed via: [bottom] := v2_blobbottom := sha256(v2_blob[N] + \" \" + v2_name[N+1]) Only the name of the final blob is kept.",
          "type": "string"
        },
        "v2Blob": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The ordered list of v2 blobs that represent a given image."
        }
      },
      "type": "object",
      "description": "A set of properties that uniquely identify a given Docker image."
    },
    "GrafeasV1beta1IntotoSignature": {
      "properties": {
        "keyid": {
          "type": "string"
        },
        "sig": {
          "type": "string"
        }
      },
      "type": "object",
      "description": "A signature object consists of the KeyID used and the signature itself.",
      "id": "GrafeasV1beta1IntotoSignature"
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as '*' or 'storage.*') are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Details": {
      "properties": {
        "attestation": {
          "$ref": "Attestation",
          "description": "Required. Attestation for the resource."
        }
      },
      "id": "Details",
      "description": "Details of an attestation occurrence.",
      "type": "object"
    },
    "ExternalRef": {
      "id": "ExternalRef",
      "properties": {
        "type": {
          "description": "Type of category (e.g. 'npm' for the PACKAGE_MANAGER category)",
          "type": "string"
        },
        "locator": {
          "type": "string",
          "description": "The unique string with no spaces necessary to access the package-specific information, metadata, or content within the target location"
        },
        "comment": {
          "description": "Human-readable information about the purpose and target of the reference",
          "type": "string"
        },
        "category": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Security (e.g. cpe22Type, cpe23Type)",
            "Package Manager (e.g. maven-central, npm, nuget, bower, purl)",
            "Persistent-Id (e.g. swh)",
            "Other"
          ],
          "description": "An External Reference allows a Package to reference an external source of additional information, metadata, enumerations, asset identifiers, or downloadable content believed to be relevant to the Package",
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "SECURITY",
            "PACKAGE_MANAGER",
            "PERSISTENT_ID",
            "OTHER"
          ]
        }
      },
      "description": "An External Reference allows a Package to reference an external source of additional information, metadata, enumerations, asset identifiers, or downloadable content believed to be relevant to the Package",
      "type": "object"
    },
    "Discovery": {
      "properties": {
        "analysisKind": {
          "description": "Required. Immutable. The kind of analysis that is handled by this discovery.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The note and occurrence represent a package vulnerability.",
            "The note and occurrence assert build provenance.",
            "This represents an image basis relationship.",
            "This represents a package installed via a package manager.",
            "The note and occurrence track deployment events.",
            "The note and occurrence track the initial discovery status of a resource.",
            "This represents a logical \"role\" that can attest to artifacts.",
            "This represents an in-toto link.",
            "This represents a software bill of materials.",
            "This represents an SPDX Package.",
            "This represents an SPDX File."
          ],
          "enum": [
            "NOTE_KIND_UNSPECIFIED",
            "VULNERABILITY",
            "BUILD",
            "IMAGE",
            "PACKAGE",
            "DEPLOYMENT",
            "DISCOVERY",
            "ATTESTATION",
            "INTOTO",
            "SBOM",
            "SPDX_PACKAGE",
            "SPDX_FILE"
          ]
        }
      },
      "id": "Discovery",
      "description": "A note that indicates a type of analysis a provider would perform. This note exists in a provider's project. A `Discovery` occurrence is created in a consumer's project at the start of analysis.",
      "type": "object"
    },
    "InToto": {
      "id": "InToto",
      "properties": {
        "signingKeys": {
          "items": {
            "$ref": "SigningKey"
          },
          "type": "array",
          "description": "This field contains the public keys that can be used to verify the signatures on the step metadata."
        },
        "stepName": {
          "type": "string",
          "description": "This field identifies the name of the step in the supply chain."
        },
        "expectedCommand": {
          "items": {
            "type": "string"
          },
          "description": "This field contains the expected command used to perform the step.",
          "type": "array"
        },
        "threshold": {
          "description": "This field contains a value that indicates the minimum number of keys that need to be used to sign the step's in-toto link.",
          "type": "string",
          "format": "int64"
        },
        "expectedProducts": {
          "type": "array",
          "items": {
            "$ref": "ArtifactRule"
          }
        },
        "expectedMaterials": {
          "description": "The following fields contain in-toto artifact rules identifying the artifacts that enter this supply chain step, and exit the supply chain step, i.e. materials and products of the step.",
          "type": "array",
          "items": {
            "$ref": "ArtifactRule"
          }
        }
      },
      "type": "object",
      "description": "This contains the fields corresponding to the definition of a software supply chain step in an in-toto layout. This information goes into a Grafeas note."
    },
    "Resource": {
      "properties": {
        "name": {
          "description": "Deprecated, do not use. Use uri instead. The name of the resource. For example, the name of a Docker image - \"Debian\".",
          "type": "string"
        },
        "contentHash": {
          "description": "Deprecated, do not use. Use uri instead. The hash of the resource content. For example, the Docker digest.",
          "$ref": "Hash"
        },
        "uri": {
          "type": "string",
          "description": "Required. The unique URI of the resource. For example, `https://gcr.io/project/image@sha256:foo` for a Docker image."
        }
      },
      "id": "Resource",
      "type": "object",
      "description": "An entity that can have metadata. For example, a Docker image."
    },
    "Signature": {
      "type": "object",
      "description": "Verifiers (e.g. Kritis implementations) MUST verify signatures with respect to the trust anchors defined in policy (e.g. a Kritis policy). Typically this means that the verifier has been configured with a map from `public_key_id` to public key material (and any required parameters, e.g. signing algorithm). In particular, verification implementations MUST NOT treat the signature `public_key_id` as anything more than a key lookup hint. The `public_key_id` DOES NOT validate or authenticate a public key; it only provides a mechanism for quickly selecting a public key ALREADY CONFIGURED on the verifier through a trusted channel. Verification implementations MUST reject signatures in any of the following circumstances: * The `public_key_id` is not recognized by the verifier. * The public key that `public_key_id` refers to does not verify the signature with respect to the payload. The `signature` contents SHOULD NOT be \"attached\" (where the payload is included with the serialized `signature` bytes). Verifiers MUST ignore any \"attached\" payload and only verify signatures with respect to explicitly provided payload (e.g. a `payload` field on the proto message that holds this Signature, or the canonical serialization of the proto message that holds this signature).",
      "properties": {
        "signature": {
          "format": "byte",
          "type": "string",
          "description": "The content of the signature, an opaque bytestring. The payload that this signature verifies MUST be unambiguously provided with the Signature during verification. A wrapper message might provide the payload explicitly. Alternatively, a message might have a canonical serialization that can always be unambiguously computed to derive the payload."
        },
        "publicKeyId": {
          "description": "The identifier for the public key that verifies this signature. * The `public_key_id` is required. * The `public_key_id` SHOULD be an RFC3986 conformant URI. * When possible, the `public_key_id` SHOULD be an immutable reference, such as a cryptographic digest. Examples of valid `public_key_id`s: OpenPGP V4 public key fingerprint: * \"openpgp4fpr:74FAF3B861BDA0870C7B6DEF607E48D2A663AEEA\" See https://www.iana.org/assignments/uri-schemes/prov/openpgp4fpr for more details on this scheme. RFC6920 digest-named SubjectPublicKeyInfo (digest of the DER serialization): * \"ni:///sha-256;cD9o9Cq6LG3jD0iKXqEi_vdjJGecm_iXkbqVoScViaU\" * \"nih:///sha-256;703f68f42aba2c6de30f488a5ea122fef76324679c9bf89791ba95a1271589a5\"",
          "type": "string"
        }
      },
      "id": "Signature"
    },
    "Link": {
      "description": "This corresponds to an in-toto link.",
      "id": "Link",
      "type": "object",
      "properties": {
        "byproducts": {
          "$ref": "ByProducts",
          "description": "ByProducts are data generated as part of a software supply chain step, but are not the actual result of the step."
        },
        "command": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "This field contains the full command executed for the step. This can also be empty if links are generated for operations that aren't directly mapped to a specific command. Each term in the command is an independent string in the list. An example of a command in the in-toto metadata field is: \"command\": [\"git\", \"clone\", \"https://github.com/in-toto/demo-project.git\"]"
        },
        "products": {
          "description": "Products are the supply chain artifacts generated as a result of the step. The structure is identical to that of materials.",
          "type": "array",
          "items": {
            "$ref": "GrafeasV1beta1IntotoArtifact"
          }
        },
        "environment": {
          "$ref": "Environment",
          "description": "This is a field that can be used to capture information about the environment. It is suggested for this field to contain information that details environment variables, filesystem information, and the present working directory. The recommended structure of this field is: \"environment\": { \"custom_values\": { \"variables\": \"\", \"filesystem\": \"\", \"workdir\": \"\", \"\": \"...\" } }"
        },
        "materials": {
          "type": "array",
          "description": "Materials are the supply chain artifacts that go into the step and are used for the operation performed. The key of the map is the path of the artifact and the structure contains the recorded hash information. An example is: \"materials\": [ { \"resource_uri\": \"foo/bar\", \"hashes\": { \"sha256\": \"ebebf...\", : } } ]",
          "items": {
            "$ref": "GrafeasV1beta1IntotoArtifact"
          }
        }
      }
    },
    "Package": {
      "description": "This represents a particular package that is distributed over various channels. E.g., glibc (aka libc6) is distributed by many, at various versions.",
      "properties": {
        "name": {
          "description": "Required. Immutable. The name of the package.",
          "type": "string"
        },
        "distribution": {
          "type": "array",
          "description": "The various channels by which a package is distributed.",
          "items": {
            "$ref": "Distribution"
          }
        }
      },
      "type": "object",
      "id": "Package"
    },
    "GetIamPolicyRequest": {
      "description": "Request message for `GetIamPolicy` method.",
      "id": "GetIamPolicyRequest",
      "type": "object",
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GetPolicyOptions"
        }
      }
    },
    "FixableTotalByDigest": {
      "properties": {
        "fixableCount": {
          "description": "The number of fixable vulnerabilities associated with this resource.",
          "type": "string",
          "format": "int64"
        },
        "resource": {
          "$ref": "Resource",
          "description": "The affected resource."
        },
        "severity": {
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "type": "string",
          "description": "The severity for this count. SEVERITY_UNSPECIFIED indicates total across all severities."
        },
        "totalCount": {
          "format": "int64",
          "description": "The total number of vulnerabilities associated with this resource.",
          "type": "string"
        }
      },
      "id": "FixableTotalByDigest",
      "type": "object",
      "description": "Per resource and severity counts of fixable and total vulnerabilities."
    },
    "BuildSignature": {
      "properties": {
        "keyType": {
          "enumDescriptions": [
            "`KeyType` is not set.",
            "`PGP ASCII Armored` public key.",
            "`PKIX PEM` public key."
          ],
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "PGP_ASCII_ARMORED",
            "PKIX_PEM"
          ],
          "description": "The type of the key, either stored in `public_key` or referenced in `key_id`.",
          "type": "string"
        },
        "signature": {
          "format": "byte",
          "description": "Required. Signature of the related `BuildProvenance`. In JSON, this is base-64 encoded.",
          "type": "string"
        },
        "publicKey": {
          "description": "Public key of the builder which can be used to verify that the related findings are valid and unchanged. If `key_type` is empty, this defaults to PEM encoded public keys. This field may be empty if `key_id` references an external key. For Cloud Build based signatures, this is a PEM encoded public key. To verify the Cloud Build signature, place the contents of this field into a file (public.pem). The signature field is base64-decoded into its binary representation in signature.bin, and the provenance bytes from `BuildDetails` are base64-decoded into a binary representation in signed.bin. OpenSSL can then verify the signature: `openssl sha256 -verify public.pem -signature signature.bin signed.bin`",
          "type": "string"
        },
        "keyId": {
          "description": "An ID for the key used to sign. This could be either an ID for the key stored in `public_key` (such as the ID or fingerprint for a PGP key, or the CN for a cert), or a reference to an external key (such as a reference to a key in Cloud Key Management Service).",
          "type": "string"
        }
      },
      "id": "BuildSignature",
      "type": "object",
      "description": "Message encapsulating the signature of the verified build."
    },
    "Basis": {
      "id": "Basis",
      "type": "object",
      "properties": {
        "fingerprint": {
          "$ref": "Fingerprint",
          "description": "Required. Immutable. The fingerprint of the base image."
        },
        "resourceUrl": {
          "type": "string",
          "description": "Required. Immutable. The resource_url for the resource representing the basis of associated occurrence images."
        }
      },
      "description": "Basis describes the base image portion (Note) of the DockerImage relationship. Linked occurrences are derived from this or an equivalent image via: FROM Or an equivalent reference, e.g. a tag of the resource_url."
    },
    "Hint": {
      "type": "object",
      "description": "This submessage provides human-readable hints about the purpose of the authority. Because the name of a note acts as its resource reference, it is important to disambiguate the canonical name of the Note (which might be a UUID for security purposes) from \"readable\" names more suitable for debug output. Note that these hints should not be used to look up authorities in security sensitive contexts, such as when looking up attestations to verify.",
      "id": "Hint",
      "properties": {
        "humanReadableName": {
          "description": "Required. The human readable name of this attestation authority, for example \"qa\".",
          "type": "string"
        }
      }
    },
    "GrafeasV1beta1ImageDetails": {
      "id": "GrafeasV1beta1ImageDetails",
      "description": "Details of an image occurrence.",
      "properties": {
        "derivedImage": {
          "$ref": "Derived",
          "description": "Required. Immutable. The child image derived from the base image."
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsContaineranalysisV1alpha1OperationMetadata": {
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time that this operation was marked completed or failed.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time this operation was created.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleDevtoolsContaineranalysisV1alpha1OperationMetadata",
      "description": "Metadata for all operations used and required for all operations that created by Container Analysis Providers"
    },
    "GrafeasV1beta1IntotoDetails": {
      "description": "This corresponds to a signed in-toto link - it is made up of one or more signatures and the in-toto link itself. This is used for occurrences of a Grafeas in-toto note.",
      "properties": {
        "signatures": {
          "items": {
            "$ref": "GrafeasV1beta1IntotoSignature"
          },
          "type": "array"
        },
        "signed": {
          "$ref": "Link"
        }
      },
      "id": "GrafeasV1beta1IntotoDetails",
      "type": "object"
    },
    "ByProducts": {
      "description": "Defines an object for the byproducts field in in-toto links. The suggested fields are \"stderr\", \"stdout\", and \"return-value\".",
      "type": "object",
      "id": "ByProducts",
      "properties": {
        "customValues": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "FileNote": {
      "type": "object",
      "id": "FileNote",
      "properties": {
        "checksum": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Provide a unique identifier to match analysis information on each specific file in a package"
        },
        "title": {
          "type": "string",
          "description": "Identify the full path and filename that corresponds to the file information in this section"
        },
        "fileType": {
          "enum": [
            "FILE_TYPE_UNSPECIFIED",
            "SOURCE",
            "BINARY",
            "ARCHIVE",
            "APPLICATION",
            "AUDIO",
            "IMAGE",
            "TEXT",
            "VIDEO",
            "DOCUMENTATION",
            "SPDX",
            "OTHER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "The file is human readable source code (.c, .html, etc.)",
            "The file is a compiled object, target image or binary executable (.o, .a, etc.)",
            "The file represents an archive (.tar, .jar, etc.)",
            "The file is associated with a specific application type (MIME type of application/*)",
            "The file is associated with an audio file (MIME type of audio/* , e.g. .mp3)",
            "The file is associated with an picture image file (MIME type of image/*, e.g., .jpg, .gif)",
            "The file is human readable text file (MIME type of text/*)",
            "The file is associated with a video file type (MIME type of video/*)",
            "The file serves as documentation",
            "The file is an SPDX document",
            "The file doesn't fit into the above categories (generated artifacts, data files, etc.)"
          ],
          "description": "This field provides information about the type of file identified"
        }
      },
      "description": "FileNote represents an SPDX File Information section: https://spdx.github.io/spdx-spec/4-file-information/"
    },
    "WindowsDetail": {
      "properties": {
        "fixingKbs": {
          "description": "Required. The names of the KBs which have hotfixes to mitigate this vulnerability. Note that there may be multiple hotfixes (and thus multiple KBs) that mitigate a given vulnerability. Currently any listed kb's presence is considered a fix.",
          "items": {
            "$ref": "KnowledgeBase"
          },
          "type": "array"
        },
        "name": {
          "description": "Required. The name of the vulnerability.",
          "type": "string"
        },
        "cpeUri": {
          "description": "Required. The CPE URI in [cpe format](https://cpe.mitre.org/specification/) in which the vulnerability manifests. Examples include distro or storage location for vulnerable jar.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of the vulnerability."
        }
      },
      "type": "object",
      "id": "WindowsDetail"
    },
    "RepoId": {
      "properties": {
        "projectRepoId": {
          "description": "A combination of a project ID and a repo name.",
          "$ref": "ProjectRepoId"
        },
        "uid": {
          "description": "A server-assigned, globally unique identifier.",
          "type": "string"
        }
      },
      "id": "RepoId",
      "type": "object",
      "description": "A unique identifier for a Cloud Repo."
    },
    "FileHashes": {
      "id": "FileHashes",
      "type": "object",
      "description": "Container message for hashes of byte content of files, used in source messages to verify integrity of source input to the build.",
      "properties": {
        "fileHash": {
          "description": "Required. Collection of file hashes.",
          "items": {
            "$ref": "Hash"
          },
          "type": "array"
        }
      }
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        }
      },
      "type": "object",
      "id": "Expr"
    },
    "Attestation": {
      "properties": {
        "genericSignedAttestation": {
          "$ref": "GenericSignedAttestation"
        },
        "pgpSignedAttestation": {
          "$ref": "PgpSignedAttestation",
          "description": "A PGP signed attestation."
        }
      },
      "description": "Occurrence that represents a single \"attestation\". The authenticity of an attestation can be verified using the attached signature. If the verifier trusts the public key of the signer, then verifying the signature is sufficient to establish trust. In this circumstance, the authority to which this attestation is attached is primarily useful for look-up (how to find this attestation if you already know the authority and artifact to be verified) and intent (which authority was this attestation intended to sign for).",
      "type": "object",
      "id": "Attestation"
    },
    "PackageOccurrence": {
      "description": "PackageOccurrence represents an SPDX Package Information section: https://spdx.github.io/spdx-spec/3-package-information/",
      "type": "object",
      "id": "PackageOccurrence",
      "properties": {
        "id": {
          "type": "string",
          "description": "Uniquely identify any element in an SPDX document which may be referenced by other elements"
        },
        "filename": {
          "description": "Provide the actual file name of the package, or path of the directory being treated as a package",
          "type": "string"
        },
        "sourceInfo": {
          "description": "Provide a place for the SPDX file creator to record any relevant background information or additional comments about the origin of the package",
          "type": "string"
        },
        "licenseComments": {
          "description": "This field provides a place for the SPDX file creator to record any relevant background information or analysis that went in to arriving at the Concluded License for a package",
          "type": "string"
        },
        "comment": {
          "type": "string",
          "description": "A place for the SPDX file creator to record any general comments about the package being described"
        },
        "licenseConcluded": {
          "type": "string",
          "description": "package or alternative values, if the governing license cannot be determined"
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "properties": {
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities requesting access for a Cloud Platform resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. "
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the members in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to `members`. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        }
      },
      "type": "object",
      "description": "Associates `members` with a `role`."
    },
    "GenericSignedAttestation": {
      "type": "object",
      "description": "An attestation wrapper that uses the Grafeas `Signature` message. This attestation must define the `serialized_payload` that the `signatures` verify and any metadata necessary to interpret that plaintext. The signatures should always be over the `serialized_payload` bytestring.",
      "id": "GenericSignedAttestation",
      "properties": {
        "contentType": {
          "enumDescriptions": [
            "`ContentType` is not set.",
            "Atomic format attestation signature. See https://github.com/containers/image/blob/8a5d2f82a6e3263290c8e0276c3e0f64e77723e7/docs/atomic-signature.md The payload extracted in `plaintext` is a JSON blob conforming to the linked schema."
          ],
          "description": "Type (for example schema) of the attestation payload that was signed. The verifier must ensure that the provided type is one that the verifier supports, and that the attestation payload is a valid instantiation of that type (for example by validating a JSON schema).",
          "enum": [
            "CONTENT_TYPE_UNSPECIFIED",
            "SIMPLE_SIGNING_JSON"
          ],
          "type": "string"
        },
        "serializedPayload": {
          "type": "string",
          "description": "The serialized payload that is verified by one or more `signatures`. The encoding and semantic meaning of this payload must match what is set in `content_type`.",
          "format": "byte"
        },
        "signatures": {
          "type": "array",
          "description": "One or more signatures over `serialized_payload`. Verifier implementations should consider this attestation message verified if at least one `signature` verifies `serialized_payload`. See `Signature` in common.proto for more details on signature structure and verification.",
          "items": {
            "$ref": "Signature"
          }
        }
      }
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "id": "Empty"
    },
    "ListScanConfigsResponse": {
      "id": "ListScanConfigsResponse",
      "properties": {
        "scanConfigs": {
          "description": "The scan configurations requested.",
          "items": {
            "$ref": "ScanConfig"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The next pagination token in the list response. It should be used as `page_token` for the following request. An empty value means no more results.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response for listing scan configurations."
    },
    "Occurrence": {
      "description": "An instance of an analysis type that has been found on a resource.",
      "id": "Occurrence",
      "type": "object",
      "properties": {
        "build": {
          "$ref": "GrafeasV1beta1BuildDetails",
          "description": "Describes a verifiable build."
        },
        "deployment": {
          "$ref": "GrafeasV1beta1DeploymentDetails",
          "description": "Describes the deployment of an artifact on a runtime."
        },
        "noteName": {
          "type": "string",
          "description": "Required. Immutable. The analysis note associated with this occurrence, in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`. This field can be used as a filter in list requests."
        },
        "sbom": {
          "$ref": "DocumentOccurrence",
          "description": "Describes a specific SPDX Document."
        },
        "kind": {
          "description": "Output only. This explicitly denotes which of the occurrence details are specified. This field can be used as a filter in list requests.",
          "type": "string",
          "enum": [
            "NOTE_KIND_UNSPECIFIED",
            "VULNERABILITY",
            "BUILD",
            "IMAGE",
            "PACKAGE",
            "DEPLOYMENT",
            "DISCOVERY",
            "ATTESTATION",
            "INTOTO",
            "SBOM",
            "SPDX_PACKAGE",
            "SPDX_FILE"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The note and occurrence represent a package vulnerability.",
            "The note and occurrence assert build provenance.",
            "This represents an image basis relationship.",
            "This represents a package installed via a package manager.",
            "The note and occurrence track deployment events.",
            "The note and occurrence track the initial discovery status of a resource.",
            "This represents a logical \"role\" that can attest to artifacts.",
            "This represents an in-toto link.",
            "This represents a software bill of materials.",
            "This represents an SPDX Package.",
            "This represents an SPDX File."
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this occurrence was created."
        },
        "spdxRelationship": {
          "description": "Describes a specific SPDX Relationship.",
          "$ref": "RelationshipOccurrence"
        },
        "intoto": {
          "description": "Describes a specific in-toto link.",
          "$ref": "GrafeasV1beta1IntotoDetails"
        },
        "name": {
          "description": "Output only. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`.",
          "type": "string"
        },
        "spdxFile": {
          "$ref": "FileOccurrence",
          "description": "Describes a specific SPDX File."
        },
        "discovered": {
          "description": "Describes when a resource was discovered.",
          "$ref": "GrafeasV1beta1DiscoveryDetails"
        },
        "resource": {
          "$ref": "Resource",
          "description": "Required. Immutable. The resource for which the occurrence applies."
        },
        "derivedImage": {
          "description": "Describes how this resource derives from the basis in the associated note.",
[...]
