{
  "mtlsRootUrl": "https://shoppingcontent.mtls.googleapis.com/",
  "protocol": "rest",
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "ownerName": "Google",
  "id": "content:v2",
  "version": "v2",
  "canonicalName": "Shopping Content",
  "servicePath": "content/v2/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "description": "Manage your product listings and accounts for Google Shopping",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "revision": "20210514",
  "rootUrl": "https://shoppingcontent.googleapis.com/",
  "batchPath": "batch",
  "baseUrl": "https://shoppingcontent.googleapis.com/content/v2/",
  "documentationLink": "https://developers.google.com/shopping-content/v2/",
  "discoveryVersion": "v1",
  "title": "Content API for Shopping",
  "schemas": {
    "AccountsLinkResponse": {
      "id": "AccountsLinkResponse",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountsLinkResponse\"."
        }
      }
    },
    "AccountStatusAccountLevelIssue": {
      "id": "AccountStatusAccountLevelIssue",
      "type": "object",
      "properties": {
        "severity": {
          "description": "Severity of the issue. Acceptable values are: - \"`critical`\" - \"`error`\" - \"`suggestion`\" ",
          "type": "string"
        },
        "destination": {
          "description": "The destination the issue applies to. If this field is empty then the issue applies to all available destinations.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Short description of the issue."
        },
        "id": {
          "type": "string",
          "description": "Issue identifier."
        },
        "country": {
          "type": "string",
          "description": "Country for which this issue is reported."
        },
        "documentation": {
          "type": "string",
          "description": "The URL of a web page to help resolving this issue."
        },
        "detail": {
          "description": "Additional details about the issue.",
          "type": "string"
        }
      }
    },
    "OrderCustomerMarketingRightsInfo": {
      "properties": {
        "lastUpdatedTimestamp": {
          "type": "string",
          "description": "Timestamp when last time marketing preference was updated. Could be empty, if user wasn't offered a selection yet."
        },
        "explicitMarketingPreference": {
          "description": "Last known customer selection regarding marketing preferences. In certain cases this selection might not be known, so this field would be empty. If a customer selected `granted` in their most recent order, they can be subscribed to marketing emails. Customers who have chosen `denied` must not be subscribed, or must be unsubscribed if already opted-in. Acceptable values are: - \"`denied`\" - \"`granted`\" ",
          "type": "string"
        },
        "marketingEmailAddress": {
          "description": "Email address that can be used for marketing purposes. The field may be empty even if `explicitMarketingPreference` is 'granted'. This happens when retrieving an old order from the customer who deleted their account.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OrderCustomerMarketingRightsInfo"
    },
    "AccountStatusProducts": {
      "type": "object",
      "id": "AccountStatusProducts",
      "properties": {
        "itemLevelIssues": {
          "description": "List of item-level issues.",
          "items": {
            "$ref": "AccountStatusItemLevelIssue"
          },
          "type": "array"
        },
        "destination": {
          "description": "The destination the data applies to.",
          "type": "string"
        },
        "country": {
          "type": "string",
          "description": "The country the data applies to."
        },
        "statistics": {
          "$ref": "AccountStatusStatistics",
          "description": "Aggregated product statistics."
        },
        "channel": {
          "description": "The channel the data applies to. Acceptable values are: - \"`local`\" - \"`online`\" ",
          "type": "string"
        }
      }
    },
    "LiasettingsCustomBatchResponse": {
      "type": "object",
      "id": "LiasettingsCustomBatchResponse",
      "properties": {
        "entries": {
          "description": "The result of the execution of the batch requests.",
          "items": {
            "$ref": "LiasettingsCustomBatchResponseEntry"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#liasettingsCustomBatchResponse\"."
        }
      }
    },
    "OrderLineItemReturnInfo": {
      "properties": {
        "isReturnable": {
          "description": "Required. Whether the item is returnable.",
          "type": "boolean"
        },
        "daysToReturn": {
          "format": "int32",
          "type": "integer",
          "description": "Required. How many days later the item can be returned."
        },
        "policyUrl": {
          "description": "Required. URL of the item return policy.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OrderLineItemReturnInfo"
    },
    "Price": {
      "properties": {
        "value": {
          "description": "The price represented as a number.",
          "type": "string"
        },
        "currency": {
          "type": "string",
          "description": "The currency of the price."
        }
      },
      "id": "Price",
      "type": "object"
    },
    "DatafeedstatusesCustomBatchRequestEntry": {
      "type": "object",
      "id": "DatafeedstatusesCustomBatchRequestEntry",
      "properties": {
        "language": {
          "description": "The language for which to get the datafeed status. If this parameter is provided then country must also be provided. Note that for multi-target datafeeds this parameter is required.",
          "type": "string"
        },
        "merchantId": {
          "description": "The ID of the managing account.",
          "format": "uint64",
          "type": "string"
        },
        "country": {
          "description": "The country for which to get the datafeed status. If this parameter is provided then language must also be provided. Note that for multi-target datafeeds this parameter is required.",
          "type": "string"
        },
        "datafeedId": {
          "type": "string",
          "description": "The ID of the data feed to get.",
          "format": "uint64"
        },
        "batchId": {
          "type": "integer",
          "description": "An entry ID, unique within the batch request.",
          "format": "uint32"
        },
        "method": {
          "description": "The method of the batch entry. Acceptable values are: - \"`get`\" ",
          "type": "string"
        }
      },
      "description": "A batch entry encoding a single non-batch datafeedstatuses request."
    },
    "DatafeedsCustomBatchResponse": {
      "id": "DatafeedsCustomBatchResponse",
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "$ref": "DatafeedsCustomBatchResponseEntry"
          },
          "description": "The result of the execution of the batch requests.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#datafeedsCustomBatchResponse\".",
          "type": "string"
        }
      }
    },
    "OrderinvoicesCustomBatchRequestEntryCreateRefundInvoiceReturnOption": {
      "properties": {
        "description": {
          "description": "Optional description of the return reason.",
          "type": "string"
        },
        "reason": {
          "type": "string",
          "description": "[required] Reason for the return. Acceptable values are: - \"`customerDiscretionaryReturn`\" - \"`customerInitiatedMerchantCancel`\" - \"`deliveredTooLate`\" - \"`expiredItem`\" - \"`invalidCoupon`\" - \"`malformedShippingAddress`\" - \"`other`\" - \"`productArrivedDamaged`\" - \"`productNotAsDescribed`\" - \"`qualityNotAsExpected`\" - \"`undeliverableShippingAddress`\" - \"`unsupportedPoBoxAddress`\" - \"`wrongProductShipped`\" "
        }
      },
      "type": "object",
      "id": "OrderinvoicesCustomBatchRequestEntryCreateRefundInvoiceReturnOption"
    },
    "OrderLineItemShippingDetailsMethod": {
      "id": "OrderLineItemShippingDetailsMethod",
      "properties": {
        "maxDaysInTransit": {
          "format": "uint32",
          "description": "Required. Maximum transit time.",
          "type": "integer"
        },
        "minDaysInTransit": {
          "format": "uint32",
          "description": "Required. Minimum transit time.",
          "type": "integer"
        },
        "carrier": {
          "type": "string",
          "description": "The carrier for the shipping. Optional. See `shipments[].carrier` for a list of acceptable values."
        },
        "methodName": {
          "description": "Required. The name of the shipping method.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UnitInvoiceAdditionalCharge": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "[required] Type of the additional charge. Acceptable values are: - \"`shipping`\" "
        },
        "additionalChargePromotions": {
          "items": {
            "$ref": "Promotion"
          },
          "type": "array",
          "description": "Deprecated."
        },
        "additionalChargeAmount": {
          "description": "[required] Amount of the additional charge.",
          "$ref": "Amount"
        }
      },
      "id": "UnitInvoiceAdditionalCharge"
    },
    "CustomAttribute": {
      "id": "CustomAttribute",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The value of the attribute."
        },
        "type": {
          "type": "string",
          "description": "The type of the attribute. Acceptable values are: - \"`boolean`\" - \"`datetimerange`\" - \"`float`\" - \"`group`\" - \"`int`\" - \"`price`\" - \"`text`\" - \"`time`\" - \"`url`\" "
        },
        "name": {
          "description": "The name of the attribute. Underscores will be replaced by spaces upon insertion.",
          "type": "string"
        },
        "unit": {
          "description": "Free-form unit of the attribute. Unit can only be used for values of type int, float, or price.",
          "type": "string"
        }
      }
    },
    "CarrierRate": {
      "properties": {
        "originPostalCode": {
          "description": "Shipping origin for this carrier rate. Required.",
          "type": "string"
        },
        "carrierName": {
          "type": "string",
          "description": "Carrier service, such as `\"UPS\"` or `\"Fedex\"`. The list of supported carriers can be retrieved via the `getSupportedCarriers` method. Required."
        },
        "percentageAdjustment": {
          "description": "Multiplicative shipping rate modifier as a number in decimal notation. Can be negative. For example `\"5.4\"` increases the rate by 5.4%, `\"-3\"` decreases the rate by 3%. Optional.",
          "type": "string"
        },
        "flatAdjustment": {
          "$ref": "Price",
          "description": "Additive shipping rate modifier. Can be negative. For example `{ \"value\": \"1\", \"currency\" : \"USD\" }` adds $1 to the rate, `{ \"value\": \"-3\", \"currency\" : \"USD\" }` removes $3 from the rate. Optional."
        },
        "name": {
          "description": "Name of the carrier rate. Must be unique per rate group. Required.",
          "type": "string"
        },
        "carrierService": {
          "type": "string",
          "description": "Carrier service, such as `\"ground\"` or `\"2 days\"`. The list of supported services for a carrier can be retrieved via the `getSupportedCarriers` method. Required."
        }
      },
      "id": "CarrierRate",
      "type": "object"
    },
    "PosDataProvidersPosDataProvider": {
      "type": "object",
      "properties": {
        "fullName": {
          "type": "string",
          "description": "The full name of this POS data Provider."
        },
        "providerId": {
          "description": "The ID of the account.",
          "format": "uint64",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of Pos data Provider.",
          "type": "string"
        }
      },
      "id": "PosDataProvidersPosDataProvider"
    },
    "Inventory": {
      "type": "object",
      "properties": {
        "instoreProductLocation": {
          "description": "The instore product location. Supported only for local products.",
          "type": "string"
        },
        "customLabel4": {
          "type": "string",
          "description": "Custom label 3 for custom grouping of items in a Shopping campaign. Only supported for online products."
        },
        "customLabel2": {
          "description": "Custom label 2 for custom grouping of items in a Shopping campaign. Only supported for online products.",
          "type": "string"
        },
        "salePriceEffectiveDate": {
          "type": "string",
          "description": "A date range represented by a pair of ISO 8601 dates separated by a space, comma, or slash. Both dates might be specified as 'null' if undecided."
        },
        "customLabel1": {
          "type": "string",
          "description": "Custom label 1 for custom grouping of items in a Shopping campaign. Only supported for online products."
        },
        "customLabel0": {
          "description": "Custom label 0 for custom grouping of items in a Shopping campaign. Only supported for online products.",
          "type": "string"
        },
        "price": {
          "description": "The price of the product.",
          "$ref": "Price"
        },
        "loyaltyPoints": {
          "description": "Loyalty points that users receive after purchasing the item. Japan only.",
          "$ref": "LoyaltyPoints"
        },
        "installment": {
          "$ref": "Installment",
          "description": "Number and amount of installments to pay for an item. Brazil only."
        },
        "pickup": {
          "$ref": "InventoryPickup",
          "description": "Store pickup information. Only supported for local inventory. Not setting `pickup` means \"don't update\" while setting it to the empty value (`{}` in JSON) means \"delete\". Otherwise, `pickupMethod` and `pickupSla` must be set together, unless `pickupMethod` is \"not supported\"."
        },
        "quantity": {
          "format": "uint32",
          "description": "The quantity of the product. Must be equal to or greater than zero. Supported only for local products.",
          "type": "integer"
        },
        "customLabel3": {
          "description": "Custom label 3 for custom grouping of items in a Shopping campaign. Only supported for online products.",
          "type": "string"
        },
        "sellOnGoogleQuantity": {
          "format": "uint32",
          "description": "The quantity of the product that is available for selling on Google. Supported only for online products.",
          "type": "integer"
        },
        "salePrice": {
          "description": "The sale price of the product. Mandatory if `sale_price_effective_date` is defined.",
          "$ref": "Price"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#inventory`\"",
          "type": "string"
        },
        "availability": {
          "description": "The availability of the product. Acceptable values are: - \"`in stock`\" - \"`out of stock`\" - \"`preorder`\" ",
          "type": "string"
        }
      },
      "id": "Inventory"
    },
    "CustomerReturnReason": {
      "id": "CustomerReturnReason",
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of the reason.",
          "type": "string"
        },
        "reasonCode": {
          "type": "string",
          "description": "Code of the return reason. Acceptable values are: - \"`betterPriceFound`\" - \"`changedMind`\" - \"`damagedOrDefectiveItem`\" - \"`didNotMatchDescription`\" - \"`doesNotFit`\" - \"`expiredItem`\" - \"`incorrectItemReceived`\" - \"`noLongerNeeded`\" - \"`notSpecified`\" - \"`orderedWrongItem`\" - \"`other`\" - \"`qualityNotExpected`\" - \"`receivedTooLate`\" - \"`undeliverable`\" "
        }
      }
    },
    "LiaInventorySettings": {
      "id": "LiaInventorySettings",
      "properties": {
        "inventoryVerificationContactStatus": {
          "type": "string",
          "description": "The status of the verification contact. Acceptable values are: - \"`active`\" - \"`inactive`\" - \"`pending`\" "
        },
        "inventoryVerificationContactEmail": {
          "type": "string",
          "description": "The email of the contact for the inventory verification process."
        },
        "inventoryVerificationContactName": {
          "description": "The name of the contact for the inventory verification process.",
          "type": "string"
        },
        "status": {
          "description": "The status of the inventory verification process. Acceptable values are: - \"`active`\" - \"`inactive`\" - \"`pending`\" ",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GmbAccountsGmbAccount": {
      "type": "object",
      "id": "GmbAccountsGmbAccount",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the GMB account (User or Business)."
        },
        "email": {
          "type": "string",
          "description": "The email which identifies the GMB account."
        },
        "name": {
          "type": "string",
          "description": "The name of the GMB account."
        },
        "listingCount": {
          "format": "uint64",
          "description": "Number of listings under this account.",
          "type": "string"
        }
      }
    },
    "TestOrder": {
      "type": "object",
      "id": "TestOrder",
      "properties": {
        "enableOrderinvoices": {
          "type": "boolean",
          "description": "Whether the orderinvoices service should support this order."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#testOrder`\""
        },
        "promotions": {
          "description": "Deprecated. Ignored if provided.",
          "type": "array",
          "items": {
            "$ref": "OrderLegacyPromotion"
          }
        },
        "predefinedPickupDetails": {
          "description": "Identifier of one of the predefined pickup details. Required for orders containing line items with shipping type `pickup`. Acceptable values are: - \"`dwight`\" - \"`jim`\" - \"`pam`\" ",
          "type": "string"
        },
        "lineItems": {
          "items": {
            "$ref": "TestOrderLineItem"
          },
          "description": "Required. Line items that are ordered. At least one line item must be provided.",
          "type": "array"
        },
        "notificationMode": {
          "type": "string",
          "description": "Restricted. Do not use."
        },
        "shippingCostTax": {
          "$ref": "Price",
          "description": "Deprecated. Ignored if provided."
        },
        "shippingCost": {
          "$ref": "Price",
          "description": "Required. The price of shipping for all items. Shipping tax is automatically calculated for orders where marketplace facilitator tax laws are applicable. Otherwise, tax settings from Merchant Center are applied. Note that shipping is not taxed in certain states."
        },
        "customer": {
          "$ref": "TestOrderCustomer",
          "description": "Required. The details of the customer who placed the order."
        },
        "paymentMethod": {
          "description": "The details of the payment method.",
          "$ref": "TestOrderPaymentMethod"
        },
        "shippingOption": {
          "type": "string",
          "description": "Required. The requested shipping option. Acceptable values are: - \"`economy`\" - \"`expedited`\" - \"`oneDay`\" - \"`sameDay`\" - \"`standard`\" - \"`twoDay`\" "
        },
        "predefinedDeliveryAddress": {
          "type": "string",
          "description": "Required. Identifier of one of the predefined delivery addresses for the delivery. Acceptable values are: - \"`dwight`\" - \"`jim`\" - \"`pam`\" "
        }
      }
    },
    "OrderinvoicesCreateRefundInvoiceRequest": {
      "properties": {
        "returnOption": {
          "$ref": "OrderinvoicesCustomBatchRequestEntryCreateRefundInvoiceReturnOption",
          "description": "Option to create an invoice for a refund and mark all items within the invoice as returned. Exactly one of `refundOnlyOption` or `returnOption` must be provided."
        },
        "shipmentInvoices": {
          "description": "Invoice details for different shipment groups.",
          "items": {
            "$ref": "ShipmentInvoice"
          },
          "type": "array"
        },
        "refundOnlyOption": {
          "description": "Option to create a refund-only invoice. Exactly one of `refundOnlyOption` or `returnOption` must be provided.",
          "$ref": "OrderinvoicesCustomBatchRequestEntryCreateRefundInvoiceRefundOption"
        },
        "invoiceId": {
          "type": "string",
          "description": "[required] The ID of the invoice."
        },
        "operationId": {
          "type": "string",
          "description": "[required] The ID of the operation, unique across all operations for a given order."
        }
      },
      "id": "OrderinvoicesCreateRefundInvoiceRequest",
      "type": "object"
    },
    "LiasettingsListPosDataProvidersResponse": {
      "id": "LiasettingsListPosDataProvidersResponse",
      "type": "object",
      "properties": {
        "posDataProviders": {
          "description": "The list of POS data providers for each eligible country",
          "type": "array",
          "items": {
            "$ref": "PosDataProviders"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#liasettingsListPosDataProvidersResponse\"."
        }
      }
    },
    "Weight": {
      "type": "object",
      "id": "Weight",
      "properties": {
        "unit": {
          "type": "string",
          "description": "Required. The weight unit. Acceptable values are: - \"`kg`\" - \"`lb`\" "
        },
        "value": {
          "description": "Required. The weight represented as a number.",
          "type": "string"
        }
      }
    },
    "AccountsClaimWebsiteResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountsClaimWebsiteResponse\"."
        }
      },
      "id": "AccountsClaimWebsiteResponse",
      "type": "object"
    },
    "AccountAdwordsLink": {
      "id": "AccountAdwordsLink",
      "properties": {
        "status": {
          "type": "string",
          "description": "Status of the link between this Merchant Center account and the AdWords account. Upon retrieval, it represents the actual status of the link and can be either `active` if it was approved in Google AdWords or `pending` if it's pending approval. Upon insertion, it represents the *intended* status of the link. Re-uploading a link with status `active` when it's still pending or with status `pending` when it's already active will have no effect: the status will remain unchanged. Re-uploading a link with deprecated status `inactive` is equivalent to not submitting the link at all and will delete the link if it was active or cancel the link request if it was pending. Acceptable values are: - \"`active`\" - \"`pending`\" "
        },
        "adwordsId": {
          "description": "Customer ID of the AdWords account.",
          "type": "string",
          "format": "uint64"
        }
      },
      "type": "object"
    },
    "OrderCancellation": {
      "type": "object",
      "properties": {
        "reasonText": {
          "description": "The explanation of the reason.",
          "type": "string"
        },
        "quantity": {
          "type": "integer",
          "format": "uint32",
          "description": "The quantity that was canceled."
        },
        "creationDate": {
          "type": "string",
          "description": "Date on which the cancellation has been created, in ISO 8601 format."
        },
        "reason": {
          "type": "string",
          "description": "The reason for the cancellation. Orders that are canceled with a noInventory reason will lead to the removal of the product from Buy on Google until you make an update to that product. This will not affect your Shopping ads. Acceptable values are: - \"`autoPostInternal`\" - \"`autoPostInvalidBillingAddress`\" - \"`autoPostNoInventory`\" - \"`autoPostPriceError`\" - \"`autoPostUndeliverableShippingAddress`\" - \"`couponAbuse`\" - \"`customerCanceled`\" - \"`customerInitiatedCancel`\" - \"`customerSupportRequested`\" - \"`failToPushOrderGoogleError`\" - \"`failToPushOrderMerchantError`\" - \"`failToPushOrderMerchantFulfillmentError`\" - \"`failToPushOrderToMerchant`\" - \"`failToPushOrderToMerchantOutOfStock`\" - \"`invalidCoupon`\" - \"`malformedShippingAddress`\" - \"`merchantDidNotShipOnTime`\" - \"`noInventory`\" - \"`orderTimeout`\" - \"`other`\" - \"`paymentAbuse`\" - \"`paymentDeclined`\" - \"`priceError`\" - \"`returnRefundAbuse`\" - \"`shippingPriceError`\" - \"`taxError`\" - \"`undeliverableShippingAddress`\" - \"`unsupportedPoBoxAddress`\" "
        },
        "actor": {
          "type": "string",
          "description": "The actor that created the cancellation. Acceptable values are: - \"`customer`\" - \"`googleBot`\" - \"`googleCustomerService`\" - \"`googlePayments`\" - \"`googleSabre`\" - \"`merchant`\" "
        }
      },
      "id": "OrderCancellation"
    },
    "OrdersReturnRefundLineItemRequest": {
      "properties": {
        "productId": {
          "description": "The ID of the product to return. This is the REST ID used in the products service. Either lineItemId or productId is required.",
          "type": "string"
        },
        "reasonText": {
          "type": "string",
          "description": "The explanation of the reason."
        },
        "operationId": {
          "type": "string",
          "description": "The ID of the operation. Unique across all operations for a given order."
        },
        "amountPretax": {
          "$ref": "Price",
          "description": "The amount that is refunded. If omitted, refundless return is assumed (same as calling returnLineItem method)."
        },
        "amountTax": {
          "description": "Tax amount that corresponds to refund amount in amountPretax. Optional, but if filled, then amountPretax must be set. Calculated automatically if not provided.",
          "$ref": "Price"
        },
        "quantity": {
          "type": "integer",
          "format": "uint32",
          "description": "The quantity to return and refund. Quantity is required."
        },
        "reason": {
          "description": "The reason for the return. Acceptable values are: - \"`customerDiscretionaryReturn`\" - \"`customerInitiatedMerchantCancel`\" - \"`deliveredTooLate`\" - \"`expiredItem`\" - \"`invalidCoupon`\" - \"`malformedShippingAddress`\" - \"`other`\" - \"`productArrivedDamaged`\" - \"`productNotAsDescribed`\" - \"`qualityNotAsExpected`\" - \"`undeliverableShippingAddress`\" - \"`unsupportedPoBoxAddress`\" - \"`wrongProductShipped`\" ",
          "type": "string"
        },
        "lineItemId": {
          "type": "string",
          "description": "The ID of the line item to return. Either lineItemId or productId is required."
        }
      },
      "type": "object",
      "id": "OrdersReturnRefundLineItemRequest"
    },
    "Order": {
      "type": "object",
      "id": "Order",
      "description": "Order. Production access (all methods) requires the order manager role. Sandbox access does not.",
      "properties": {
        "shippingOption": {
          "description": "Deprecated. Shipping details are provided with line items instead. Acceptable values are: - \"`economy`\" - \"`expedited`\" - \"`oneDay`\" - \"`sameDay`\" - \"`standard`\" - \"`twoDay`\" ",
          "type": "string"
        },
        "deliveryDetails": {
          "description": "Delivery details for shipments of type `delivery`.",
          "$ref": "OrderDeliveryDetails"
        },
        "netAmount": {
          "$ref": "Price",
          "description": "The net amount for the order. For example, if an order was originally for a grand total of $100 and a refund was issued for $20, the net amount will be $80."
        },
        "refunds": {
          "items": {
            "$ref": "OrderRefund"
          },
          "type": "array",
          "description": "Refunds for the order."
        },
        "shippingCostTax": {
          "description": "The tax for the total shipping cost.",
          "$ref": "Price"
        },
        "merchantId": {
          "type": "string",
          "format": "uint64"
        },
        "customer": {
          "$ref": "OrderCustomer",
          "description": "The details of the customer who placed the order."
        },
        "channelType": {
          "type": "string",
          "description": "Deprecated. Acceptable values are: - \"`googleExpress`\" - \"`purchasesOnGoogle`\" "
        },
        "placedDate": {
          "type": "string",
          "description": "The date when the order was placed, in ISO 8601 format."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#order`\"",
          "type": "string"
        },
        "shippingCost": {
          "description": "The total cost of shipping for all items.",
          "$ref": "Price"
        },
        "shipments": {
          "description": "Shipments of the order.",
          "type": "array",
          "items": {
            "$ref": "OrderShipment"
          }
        },
        "id": {
          "description": "The REST ID of the order. Globally unique.",
          "type": "string"
        },
        "status": {
          "description": "The status of the order. Acceptable values are: - \"`canceled`\" - \"`delivered`\" - \"`inProgress`\" - \"`partiallyDelivered`\" - \"`partiallyReturned`\" - \"`partiallyShipped`\" - \"`pendingShipment`\" - \"`returned`\" - \"`shipped`\" ",
          "type": "string"
        },
        "lineItems": {
          "description": "Line items that are ordered.",
          "items": {
            "$ref": "OrderLineItem"
          },
          "type": "array"
        },
        "promotions": {
          "type": "array",
          "items": {
            "$ref": "OrderLegacyPromotion"
          },
          "description": "The details of the merchant provided promotions applied to the order. To determine which promotions apply to which products, check the `Promotions[].Benefits[].OfferIds` field against the `LineItems[].Product.OfferId` field for each promotion. If a promotion is applied to more than 1 `offerId`, divide the discount value by the number of affected offers to determine how much discount to apply to each `offerId`. Examples: 1. To calculate the line item level discount for a single specific item: For each promotion, subtract the `Promotions[].Benefits[].Discount.value` amount from the `LineItems[].Price.value`. 2. To calculate the line item level discount for multiple quantity of a specific item: For each promotion, divide the `Promotions[].Benefits[].Discount.value` by the quantity of products and substract it from `LineItems[].Product.Price.value` for each quantity item. Only 1 promotion can be applied to an offerId in a given order. To refund an item which had a promotion applied to it, make sure to refund the amount after first subtracting the promotion discount from the item price. More details about the program are here."
        },
        "paymentStatus": {
          "type": "string",
          "description": "The status of the payment. Acceptable values are: - \"`paymentCaptured`\" - \"`paymentRejected`\" - \"`paymentSecured`\" - \"`pendingAuthorization`\" "
        },
        "acknowledged": {
          "type": "boolean",
          "description": "Whether the order was acknowledged."
        },
        "pickupDetails": {
          "description": "Pickup details for shipments of type `pickup`.",
          "$ref": "OrderPickupDetails"
        },
        "merchantOrderId": {
          "type": "string",
          "description": "Merchant-provided ID of the order."
        },
        "taxCollector": {
          "description": "The party responsible for collecting and remitting taxes. Acceptable values are: - \"`marketplaceFacilitator`\" - \"`merchant`\" ",
          "type": "string"
        },
        "paymentMethod": {
          "description": "The details of the payment method.",
          "$ref": "OrderPaymentMethod"
        }
      }
    },
    "Installment": {
      "type": "object",
      "id": "Installment",
      "properties": {
        "months": {
          "description": "The number of installments the buyer has to pay.",
          "format": "int64",
          "type": "string"
        },
        "amount": {
          "$ref": "Price",
          "description": "The amount the buyer has to pay per month."
        }
      }
    },
    "OrdersAdvanceTestOrderResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersAdvanceTestOrderResponse\".",
          "type": "string"
        }
      },
      "id": "OrdersAdvanceTestOrderResponse"
    },
    "DatafeedstatusesCustomBatchResponseEntry": {
      "id": "DatafeedstatusesCustomBatchResponseEntry",
      "description": "A batch entry encoding a single non-batch datafeedstatuses response.",
      "type": "object",
      "properties": {
        "batchId": {
          "type": "integer",
          "description": "The ID of the request entry this entry responds to.",
          "format": "uint32"
        },
        "datafeedStatus": {
          "description": "The requested data feed status. Defined if and only if the request was successful.",
          "$ref": "DatafeedStatus"
        },
        "errors": {
          "$ref": "Errors",
          "description": "A list of errors defined if and only if the request failed."
        }
      }
    },
    "InventoryCustomBatchResponse": {
      "id": "InventoryCustomBatchResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#inventoryCustomBatchResponse\"."
        },
        "entries": {
          "description": "The result of the execution of the batch requests.",
          "items": {
            "$ref": "InventoryCustomBatchResponseEntry"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "AccountstatusesCustomBatchResponse": {
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "AccountstatusesCustomBatchResponseEntry"
          },
          "description": "The result of the execution of the batch requests."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountstatusesCustomBatchResponse\"."
        }
      },
      "id": "AccountstatusesCustomBatchResponse"
    },
    "InventorySetRequest": {
      "type": "object",
      "id": "InventorySetRequest",
      "properties": {
        "price": {
          "$ref": "Price",
          "description": "The price of the product."
        },
        "customLabel1": {
          "description": "Custom label 1 for custom grouping of items in a Shopping campaign. Only supported for online products.",
          "type": "string"
        },
        "sellOnGoogleQuantity": {
          "type": "integer",
          "format": "uint32",
          "description": "The quantity of the product that is available for selling on Google. Supported only for online products."
        },
        "customLabel0": {
          "type": "string",
          "description": "Custom label 0 for custom grouping of items in a Shopping campaign. Only supported for online products."
        },
        "salePrice": {
          "$ref": "Price",
          "description": "The sale price of the product. Mandatory if `sale_price_effective_date` is defined."
        },
        "quantity": {
          "description": "The quantity of the product. Must be equal to or greater than zero. Supported only for local products.",
          "format": "uint32",
          "type": "integer"
        },
        "customLabel3": {
          "description": "Custom label 3 for custom grouping of items in a Shopping campaign. Only supported for online products.",
          "type": "string"
        },
        "loyaltyPoints": {
          "description": "Loyalty points that users receive after purchasing the item. Japan only.",
          "$ref": "LoyaltyPoints"
        },
        "customLabel2": {
          "type": "string",
          "description": "Custom label 2 for custom grouping of items in a Shopping campaign. Only supported for online products."
        },
        "pickup": {
          "description": "Store pickup information. Only supported for local inventory. Not setting `pickup` means \"don't update\" while setting it to the empty value (`{}` in JSON) means \"delete\". Otherwise, `pickupMethod` and `pickupSla` must be set together, unless `pickupMethod` is \"not supported\".",
          "$ref": "InventoryPickup"
        },
        "instoreProductLocation": {
          "type": "string",
          "description": "The instore product location. Supported only for local products."
        },
        "installment": {
          "$ref": "Installment",
          "description": "Number and amount of installments to pay for an item. Brazil only."
        },
        "customLabel4": {
          "type": "string",
          "description": "Custom label 3 for custom grouping of items in a Shopping campaign. Only supported for online products."
        },
        "salePriceEffectiveDate": {
          "description": "A date range represented by a pair of ISO 8601 dates separated by a space, comma, or slash. Both dates might be specified as 'null' if undecided.",
          "type": "string"
        },
        "availability": {
          "type": "string",
          "description": "The availability of the product. Acceptable values are: - \"`in stock`\" - \"`out of stock`\" - \"`preorder`\" "
        }
      }
    },
    "LiaOnDisplayToOrderSettings": {
      "id": "LiaOnDisplayToOrderSettings",
      "properties": {
        "shippingCostPolicyUrl": {
          "type": "string",
          "description": "Shipping cost and policy URL."
        },
        "status": {
          "type": "string",
          "description": "The status of the ?On display to order? feature. Acceptable values are: - \"`active`\" - \"`inactive`\" - \"`pending`\" "
        }
      },
      "type": "object"
    },
    "PosCustomBatchResponse": {
      "id": "PosCustomBatchResponse",
      "type": "object",
      "properties": {
        "entries": {
          "description": "The result of the execution of the batch requests.",
          "items": {
            "$ref": "PosCustomBatchResponseEntry"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#posCustomBatchResponse\"."
        }
      }
    },
    "DatafeedsCustomBatchRequest": {
      "properties": {
        "entries": {
          "type": "array",
          "description": "The request entries to be processed in the batch.",
          "items": {
            "$ref": "DatafeedsCustomBatchRequestEntry"
          }
        }
      },
      "type": "object",
      "id": "DatafeedsCustomBatchRequest"
    },
    "DatafeedsCustomBatchRequestEntry": {
      "description": "A batch entry encoding a single non-batch datafeeds request.",
      "id": "DatafeedsCustomBatchRequestEntry",
      "properties": {
        "merchantId": {
          "description": "The ID of the managing account.",
          "format": "uint64",
          "type": "string"
        },
        "method": {
          "description": "The method of the batch entry. Acceptable values are: - \"`delete`\" - \"`fetchNow`\" - \"`get`\" - \"`insert`\" - \"`update`\" ",
          "type": "string"
        },
        "datafeedId": {
          "format": "uint64",
          "description": "The ID of the data feed to get, delete or fetch.",
          "type": "string"
        },
        "datafeed": {
          "description": "The data feed to insert.",
          "$ref": "Datafeed"
        },
        "batchId": {
          "description": "An entry ID, unique within the batch request.",
          "type": "integer",
          "format": "uint32"
        }
      },
      "type": "object"
    },
    "OrderRefund": {
      "properties": {
        "reasonText": {
          "type": "string",
          "description": "The explanation of the reason."
        },
        "creationDate": {
          "description": "Date on which the item has been created, in ISO 8601 format.",
          "type": "string"
        },
        "amount": {
          "description": "The amount that is refunded.",
          "$ref": "Price"
        },
        "reason": {
          "description": "The reason for the refund. Acceptable values are: - \"`adjustment`\" - \"`autoPostInternal`\" - \"`autoPostInvalidBillingAddress`\" - \"`autoPostNoInventory`\" - \"`autoPostPriceError`\" - \"`autoPostUndeliverableShippingAddress`\" - \"`couponAbuse`\" - \"`courtesyAdjustment`\" - \"`customerCanceled`\" - \"`customerDiscretionaryReturn`\" - \"`customerInitiatedMerchantCancel`\" - \"`customerSupportRequested`\" - \"`deliveredLateByCarrier`\" - \"`deliveredTooLate`\" - \"`expiredItem`\" - \"`failToPushOrderGoogleError`\" - \"`failToPushOrderMerchantError`\" - \"`failToPushOrderMerchantFulfillmentError`\" - \"`failToPushOrderToMerchant`\" - \"`failToPushOrderToMerchantOutOfStock`\" - \"`feeAdjustment`\" - \"`invalidCoupon`\" - \"`lateShipmentCredit`\" - \"`malformedShippingAddress`\" - \"`merchantDidNotShipOnTime`\" - \"`noInventory`\" - \"`orderTimeout`\" - \"`other`\" - \"`paymentAbuse`\" - \"`paymentDeclined`\" - \"`priceAdjustment`\" - \"`priceError`\" - \"`productArrivedDamaged`\" - \"`productNotAsDescribed`\" - \"`promoReallocation`\" - \"`qualityNotAsExpected`\" - \"`returnRefundAbuse`\" - \"`shippingCostAdjustment`\" - \"`shippingPriceError`\" - \"`taxAdjustment`\" - \"`taxError`\" - \"`undeliverableShippingAddress`\" - \"`unsupportedPoBoxAddress`\" - \"`wrongProductShipped`\" ",
          "type": "string"
        },
        "actor": {
          "description": "The actor that created the refund. Acceptable values are: - \"`customer`\" - \"`googleBot`\" - \"`googleCustomerService`\" - \"`googlePayments`\" - \"`googleSabre`\" - \"`merchant`\" ",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OrderRefund"
    },
    "AccountUser": {
      "id": "AccountUser",
      "type": "object",
      "properties": {
        "paymentsAnalyst": {
          "description": "Whether user can access payment statements.",
          "type": "boolean"
        },
        "orderManager": {
          "description": "Whether user is an order manager.",
          "type": "boolean"
        },
        "emailAddress": {
          "description": "User's email address.",
          "type": "string"
        },
        "admin": {
          "type": "boolean",
          "description": "Whether user is an admin."
        },
        "paymentsManager": {
          "description": "Whether user can manage payment settings.",
          "type": "boolean"
        }
      }
    },
    "AccountsCustomBatchResponseEntry": {
      "id": "AccountsCustomBatchResponseEntry",
      "type": "object",
      "description": "A batch entry encoding a single non-batch accounts response.",
      "properties": {
        "errors": {
          "description": "A list of errors defined if and only if the request failed.",
          "$ref": "Errors"
        },
        "account": {
          "description": "The retrieved, created, or updated account. Not defined if the method was `delete`, `claimwebsite` or `link`.",
          "$ref": "Account"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accountsCustomBatchResponseEntry`\"",
          "type": "string"
        },
        "batchId": {
          "format": "uint32",
          "type": "integer",
          "description": "The ID of the request entry this entry responds to."
        },
        "linkStatus": {
          "description": "Deprecated. This field is never set. Acceptable values are: - \"`active`\" - \"`inactive`\" - \"`pending`\" ",
          "type": "string"
        }
      }
    },
    "LoyaltyPoints": {
      "id": "LoyaltyPoints",
      "type": "object",
      "properties": {
        "ratio": {
          "type": "number",
          "format": "double",
          "description": "The ratio of a point when converted to currency. Google assumes currency based on Merchant Center settings. If ratio is left out, it defaults to 1.0."
        },
        "pointsValue": {
          "type": "string",
          "format": "int64",
          "description": "The retailer's loyalty points in absolute value."
        },
        "name": {
          "description": "Name of loyalty points program. It is recommended to limit the name to 12 full-width characters or 24 Roman characters.",
          "type": "string"
        }
      }
    },
    "OrderPaymentMethod": {
      "id": "OrderPaymentMethod",
      "type": "object",
      "properties": {
        "expirationMonth": {
          "description": "The card expiration month (January = 1, February = 2 etc.).",
          "type": "integer",
          "format": "int32"
        },
        "lastFourDigits": {
          "description": "The last four digits of the card number.",
          "type": "string"
        },
        "expirationYear": {
          "format": "int32",
          "type": "integer",
          "description": "The card expiration year (4-digit, e.g. 2015)."
        },
        "billingAddress": {
          "$ref": "OrderAddress",
          "description": "The billing address."
        },
        "type": {
          "type": "string",
          "description": "The type of instrument. Acceptable values are: - \"`AMEX`\" - \"`DISCOVER`\" - \"`JCB`\" - \"`MASTERCARD`\" - \"`UNIONPAY`\" - \"`VISA`\" - \"``\" "
        },
        "phoneNumber": {
          "description": "The billing phone number.",
          "type": "string"
        }
      }
    },
    "ShipmentInvoiceLineItemInvoice": {
      "properties": {
        "productId": {
          "type": "string",
          "description": "ID of the product. This is the REST ID used in the products service. Either lineItemId or productId must be set."
        },
        "lineItemId": {
          "description": "ID of the line item. Either lineItemId or productId must be set.",
          "type": "string"
        },
        "unitInvoice": {
          "$ref": "UnitInvoice",
          "description": "[required] Invoice details for a single unit."
        },
        "shipmentUnitIds": {
          "type": "array",
          "description": "[required] The shipment unit ID is assigned by the merchant and defines individual quantities within a line item. The same ID can be assigned to units that are the same while units that differ must be assigned a different ID (for example: free or promotional units).",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ShipmentInvoiceLineItemInvoice"
    },
    "OrderLegacyPromotion": {
      "type": "object",
      "id": "OrderLegacyPromotion",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique ID of the promotion."
        },
        "effectiveDates": {
          "description": "The date and time frame when the promotion is active and ready for validation review. Note that the promotion live time may be delayed for a few hours due to the validation review. Start date and end date are separated by a forward slash (/). The start date is specified by the format (YYYY-MM-DD), followed by the letter ?T?, the time of the day when the sale starts (in Greenwich Mean Time, GMT), followed by an expression of the time zone for the sale. The end date is in the same format.",
          "type": "string"
        },
        "genericRedemptionCode": {
          "description": "Optional. The text code that corresponds to the promotion when applied on the retailer?s website.",
          "type": "string"
        },
        "productApplicability": {
          "type": "string",
          "description": "Whether the promotion is applicable to all products or only specific products. Acceptable values are: - \"`allProducts`\" - \"`specificProducts`\" "
        },
        "benefits": {
          "items": {
            "$ref": "OrderLegacyPromotionBenefit"
          },
          "type": "array"
        },
        "redemptionChannel": {
          "description": "Indicates that the promotion is valid online. Acceptable values are: - \"`online`\" ",
          "type": "string"
        },
        "longTitle": {
          "description": "The full title of the promotion.",
          "type": "string"
        }
      }
    },
    "PosListResponse": {
      "id": "PosListResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#posListResponse\"."
        },
        "resources": {
          "items": {
            "$ref": "PosStore"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "AccountIdentifier": {
      "type": "object",
      "id": "AccountIdentifier",
      "properties": {
        "merchantId": {
          "type": "string",
          "format": "uint64",
          "description": "The merchant account ID, set for individual accounts and subaccounts."
        },
        "aggregatorId": {
          "format": "uint64",
          "description": "The aggregator ID, set for aggregators and subaccounts (in that case, it represents the aggregator of the subaccount).",
          "type": "string"
        }
      }
    },
    "AccountsLinkRequest": {
      "type": "object",
      "id": "AccountsLinkRequest",
      "properties": {
        "action": {
          "description": "Action to perform for this link. The `\"request\"` action is only available to select merchants. Acceptable values are: - \"`approve`\" - \"`remove`\" - \"`request`\" ",
          "type": "string"
        },
        "linkType": {
          "type": "string",
          "description": "Type of the link between the two accounts. Acceptable values are: - \"`channelPartner`\" - \"`eCommercePlatform`\" "
        },
        "linkedAccountId": {
          "description": "The ID of the linked account.",
          "type": "string"
        }
      }
    },
    "PosInventory": {
      "properties": {
        "targetCountry": {
          "type": "string",
          "description": "Required. The CLDR territory code for the item."
        },
        "gtin": {
          "type": "string",
          "description": "Global Trade Item Number."
        },
        "price": {
          "$ref": "Price",
          "description": "Required. The current price of the item."
        },
        "itemId": {
          "description": "Required. A unique identifier for the item.",
          "type": "string"
        },
        "quantity": {
          "type": "string",
          "format": "int64",
          "description": "Required. The available quantity of the item."
        },
        "timestamp": {
          "type": "string",
          "description": "Required. The inventory timestamp, in ISO 8601 format."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#posInventory`\""
        },
        "contentLanguage": {
          "type": "string",
          "description": "Required. The two-letter ISO 639-1 language code for the item."
        },
        "storeCode": {
          "type": "string",
          "description": "Required. The identifier of the merchant's store. Either a `storeCode` inserted via the API or the code of the store in Google My Business."
        }
      },
      "id": "PosInventory",
      "type": "object",
      "description": "The absolute quantity of an item available at the given store."
    },
    "AccountsAuthInfoResponse": {
      "properties": {
        "accountIdentifiers": {
          "description": "The account identifiers corresponding to the authenticated user. - For an individual account: only the merchant ID is defined - For an aggregator: only the aggregator ID is defined - For a subaccount of an MCA: both the merchant ID and the aggregator ID are defined. ",
          "items": {
            "$ref": "AccountIdentifier"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountsAuthInfoResponse\"."
        }
      },
      "type": "object",
      "id": "AccountsAuthInfoResponse"
    },
    "AccountsCustomBatchRequestEntry": {
      "properties": {
        "batchId": {
          "format": "uint32",
          "type": "integer",
          "description": "An entry ID, unique within the batch request."
        },
        "account": {
          "$ref": "Account",
          "description": "The account to create or update. Only defined if the method is `insert` or `update`."
        },
        "labelIds": {
          "type": "array",
          "items": {
            "format": "uint64",
            "type": "string"
          },
          "description": "Label IDs for the 'updatelabels' request."
        },
        "linkRequest": {
          "description": "Details about the `link` request.",
          "$ref": "AccountsCustomBatchRequestEntryLinkRequest"
        },
        "method": {
          "description": "The method of the batch entry. Acceptable values are: - \"`claimWebsite`\" - \"`delete`\" - \"`get`\" - \"`insert`\" - \"`link`\" - \"`update`\" ",
          "type": "string"
        },
        "merchantId": {
          "description": "The ID of the managing account.",
          "format": "uint64",
          "type": "string"
        },
        "accountId": {
          "format": "uint64",
          "description": "The ID of the targeted account. Only defined if the method is not `insert`.",
          "type": "string"
        },
        "overwrite": {
          "type": "boolean",
          "description": "Only applicable if the method is `claimwebsite`. Indicates whether or not to take the claim from another account in case there is a conflict."
        },
        "force": {
          "type": "boolean",
          "description": "Whether the account should be deleted if the account has offers. Only applicable if the method is `delete`."
        }
      },
      "type": "object",
      "description": "A batch entry encoding a single non-batch accounts request.",
      "id": "AccountsCustomBatchRequestEntry"
    },
    "ProductstatusesCustomBatchRequest": {
      "properties": {
        "entries": {
          "items": {
            "$ref": "ProductstatusesCustomBatchRequestEntry"
          },
          "description": "The request entries to be processed in the batch.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ProductstatusesCustomBatchRequest"
    },
    "OrderinvoicesCreateChargeInvoiceResponse": {
      "id": "OrderinvoicesCreateChargeInvoiceResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#orderinvoicesCreateChargeInvoiceResponse\"."
        },
        "executionStatus": {
          "type": "string",
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" "
        }
      },
      "type": "object"
    },
    "OrderreportsListDisbursementsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token for the retrieval of the next page of disbursements."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#orderreportsListDisbursementsResponse\".",
          "type": "string"
        },
        "disbursements": {
          "description": "The list of disbursements.",
          "items": {
            "$ref": "OrderReportDisbursement"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "OrderreportsListDisbursementsResponse"
    },
    "DatafeedsFetchNowResponse": {
      "id": "DatafeedsFetchNowResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#datafeedsFetchNowResponse\".",
          "type": "string"
        }
      }
    },
    "PosCustomBatchRequestEntry": {
      "id": "PosCustomBatchRequestEntry",
      "type": "object",
      "properties": {
        "method": {
          "description": "The method of the batch entry. Acceptable values are: - \"`delete`\" - \"`get`\" - \"`insert`\" - \"`inventory`\" - \"`sale`\" ",
          "type": "string"
        },
        "merchantId": {
          "type": "string",
          "format": "uint64",
          "description": "The ID of the POS data provider."
        },
        "batchId": {
          "description": "An entry ID, unique within the batch request.",
          "format": "uint32",
          "type": "integer"
        },
        "store": {
          "description": "The store information to submit. This should be set only if the method is `insert`.",
          "$ref": "PosStore"
        },
        "storeCode": {
          "description": "The store code. This should be set only if the method is `delete` or `get`.",
          "type": "string"
        },
        "inventory": {
          "$ref": "PosInventory",
          "description": "The inventory to submit. This should be set only if the method is `inventory`."
        },
        "targetMerchantId": {
          "format": "uint64",
          "type": "string",
          "description": "The ID of the account for which to get/submit data."
        },
        "sale": {
          "$ref": "PosSale",
          "description": "The sale information to submit. This should be set only if the method is `sale`."
        }
      }
    },
    "OrdersCreateTestReturnResponse": {
      "type": "object",
      "id": "OrdersCreateTestReturnResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersCreateTestReturnResponse\".",
          "type": "string"
        },
        "returnId": {
          "type": "string",
          "description": "The ID of the newly created test order return."
        }
      }
    },
    "ReturnShipment": {
      "properties": {
        "creationDate": {
          "type": "string",
          "description": "The date of creation of the shipment, in ISO 8601 format."
        },
        "deliveryDate": {
          "type": "string",
          "description": "The date of delivery of the shipment, in ISO 8601 format."
        },
        "shippingDate": {
          "type": "string",
          "description": "The date of shipping of the shipment, in ISO 8601 format."
        },
        "shipmentTrackingInfos": {
          "description": "Tracking information of the shipment. One return shipment might be handled by several shipping carriers sequentially.",
          "type": "array",
          "items": {
            "$ref": "ShipmentTrackingInfo"
          }
        },
        "returnMethodType": {
          "type": "string",
          "description": "Type of the return method. Acceptable values are: - \"`byMail`\" - \"`contactCustomerSupport`\" - \"`returnless`\" "
        },
        "state": {
          "type": "string",
          "description": "State of the shipment. Acceptable values are: - \"`completed`\" - \"`new`\" - \"`shipped`\" - \"`undeliverable`\" - \"`pending`\" "
        },
        "shipmentId": {
          "type": "string",
          "description": "Shipment ID generated by Google."
        }
      },
      "type": "object",
      "id": "ReturnShipment"
    },
    "OrdersUpdateLineItemShippingDetailsResponse": {
      "id": "OrdersUpdateLineItemShippingDetailsResponse",
      "properties": {
        "executionStatus": {
          "type": "string",
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" "
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersUpdateLineItemShippingDetailsResponse\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OrderLineItemShippingDetails": {
      "id": "OrderLineItemShippingDetails",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Type of shipment. Indicates whether `deliveryDetails` or `pickupDetails` is applicable for this shipment. Acceptable values are: - \"`delivery`\" - \"`pickup`\" "
        },
        "shipByDate": {
          "description": "Required. The ship by date, in ISO 8601 format.",
          "type": "string"
        },
        "method": {
          "description": "Required. Details of the shipping method.",
          "$ref": "OrderLineItemShippingDetailsMethod"
        },
        "deliverByDate": {
          "type": "string",
          "description": "Required. The delivery by date, in ISO 8601 format."
        }
      }
    },
    "AccountStatusItemLevelIssue": {
      "type": "object",
      "properties": {
        "servability": {
          "type": "string",
          "description": "How this issue affects serving of the offer."
        },
        "numItems": {
          "format": "int64",
          "type": "string",
          "description": "Number of items with this issue."
        },
        "code": {
          "type": "string",
          "description": "The error code of the issue."
        },
        "documentation": {
          "type": "string",
          "description": "The URL of a web page to help with resolving this issue."
        },
        "detail": {
          "description": "A detailed issue description in English.",
          "type": "string"
        },
        "resolution": {
          "type": "string",
          "description": "Whether the issue can be resolved by the merchant."
        },
        "attributeName": {
          "type": "string",
          "description": "The attribute's name, if the issue is caused by a single attribute."
        },
        "description": {
          "type": "string",
          "description": "A short issue description in English."
        }
      },
      "id": "AccountStatusItemLevelIssue"
    },
    "ProductStatusItemLevelIssue": {
      "properties": {
        "attributeName": {
          "type": "string",
          "description": "The attribute's name, if the issue is caused by a single attribute."
        },
        "description": {
          "type": "string",
          "description": "A short issue description in English."
        },
        "servability": {
          "description": "How this issue affects serving of the offer.",
          "type": "string"
        },
        "resolution": {
          "description": "Whether the issue can be resolved by the merchant.",
          "type": "string"
        },
        "destination": {
          "type": "string",
          "description": "The destination the issue applies to."
        },
        "code": {
          "description": "The error code of the issue.",
          "type": "string"
        },
        "detail": {
          "type": "string",
          "description": "A detailed issue description in English."
        },
        "documentation": {
          "description": "The URL of a web page to help with resolving this issue.",
          "type": "string"
        }
      },
      "id": "ProductStatusItemLevelIssue",
      "type": "object"
    },
    "PostalCodeGroup": {
      "type": "object",
      "properties": {
        "postalCodeRanges": {
          "items": {
            "$ref": "PostalCodeRange"
          },
          "type": "array",
          "description": "A range of postal codes. Required."
        },
        "name": {
          "type": "string",
          "description": "The name of the postal code group, referred to in headers. Required."
        },
        "country": {
          "type": "string",
          "description": "The CLDR territory code of the country the postal code group applies to. Required."
        }
      },
      "id": "PostalCodeGroup"
    },
    "OrdersUpdateMerchantOrderIdResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersUpdateMerchantOrderIdResponse\"."
        },
        "executionStatus": {
          "type": "string",
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" "
        }
      },
      "type": "object",
      "id": "OrdersUpdateMerchantOrderIdResponse"
    },
    "OrdersCancelResponse": {
      "id": "OrdersCancelResponse",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersCancelResponse\"."
        },
        "executionStatus": {
          "type": "string",
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" "
        }
      }
    },
    "AccountstatusesCustomBatchRequestEntry": {
      "description": "A batch entry encoding a single non-batch accountstatuses request.",
      "id": "AccountstatusesCustomBatchRequestEntry",
      "properties": {
        "merchantId": {
          "description": "The ID of the managing account.",
          "type": "string",
          "format": "uint64"
        },
        "method": {
          "type": "string",
          "description": "The method of the batch entry. Acceptable values are: - \"`get`\" "
        },
        "accountId": {
          "description": "The ID of the (sub-)account whose status to get.",
          "format": "uint64",
          "type": "string"
        },
        "destinations": {
          "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "batchId": {
          "description": "An entry ID, unique within the batch request.",
          "format": "uint32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "OrderLineItemProductVariantAttribute": {
      "properties": {
        "dimension": {
          "description": "The dimension of the variant.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The value for the dimension."
        }
      },
      "type": "object",
      "id": "OrderLineItemProductVariantAttribute"
    },
    "BusinessDayConfig": {
      "id": "BusinessDayConfig",
      "properties": {
        "businessDays": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Regular business days. May not be empty."
        }
      },
      "type": "object"
    },
    "AccountTaxTaxRule": {
      "type": "object",
      "description": "Tax calculation rule to apply in a state or province (USA only).",
      "id": "AccountTaxTaxRule",
      "properties": {
        "shippingTaxed": {
          "description": "If true, shipping charges are also taxed.",
          "type": "boolean"
        },
        "country": {
          "type": "string",
          "description": "Country code in which tax is applicable."
        },
        "locationId": {
          "description": "Required. State (or province) is which the tax is applicable, described by its location ID (also called criteria ID).",
          "format": "uint64",
          "type": "string"
        },
        "useGlobalRate": {
          "type": "boolean",
          "description": "Whether the tax rate is taken from a global tax table or specified explicitly."
        },
        "ratePercent": {
          "description": "Explicit tax rate in percent, represented as a floating point number without the percentage character. Must not be negative.",
          "type": "string"
        }
      }
    },
    "OrdersUpdateShipmentResponse": {
      "id": "OrdersUpdateShipmentResponse",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersUpdateShipmentResponse\"."
        },
        "executionStatus": {
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" ",
          "type": "string"
        }
      }
    },
    "MerchantOrderReturnItem": {
      "properties": {
        "merchantReturnReason": {
          "description": "The reason that merchant chooses to accept a return item.",
          "$ref": "RefundReason"
        },
        "customerReturnReason": {
          "description": "The reason that the customer chooses to return an item.",
          "$ref": "CustomerReturnReason"
        },
        "state": {
          "type": "string",
          "description": "State of the item. Acceptable values are: - \"`canceled`\" - \"`new`\" - \"`received`\" - \"`refunded`\" - \"`rejected`\" "
        },
        "returnShipmentIds": {
          "items": {
            "type": "string"
          },
          "description": "IDs of the return shipments that this return item belongs to.",
          "type": "array"
        },
        "product": {
          "$ref": "OrderLineItemProduct",
          "description": "Product data from the time of the order placement."
        },
        "itemId": {
          "type": "string",
          "description": "Product level item ID. If the returned items are of the same product, they will have the same ID."
        }
      },
      "id": "MerchantOrderReturnItem",
      "type": "object"
    },
    "DatafeedsCustomBatchResponseEntry": {
      "id": "DatafeedsCustomBatchResponseEntry",
      "properties": {
        "errors": {
          "$ref": "Errors",
          "description": "A list of errors defined if and only if the request failed."
        },
        "datafeed": {
          "description": "The requested data feed. Defined if and only if the request was successful.",
          "$ref": "Datafeed"
        },
        "batchId": {
          "type": "integer",
          "format": "uint32",
          "description": "The ID of the request entry this entry responds to."
        }
      },
      "type": "object",
      "description": "A batch entry encoding a single non-batch datafeeds response."
    },
    "AccounttaxCustomBatchResponseEntry": {
      "id": "AccounttaxCustomBatchResponseEntry",
      "properties": {
        "errors": {
          "description": "A list of errors defined if and only if the request failed.",
          "$ref": "Errors"
        },
        "batchId": {
          "description": "The ID of the request entry this entry responds to.",
          "type": "integer",
          "format": "uint32"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accounttaxCustomBatchResponseEntry`\"",
          "type": "string"
        },
        "accountTax": {
          "$ref": "AccountTax",
          "description": "The retrieved or updated account tax settings."
        }
      },
      "description": "A batch entry encoding a single non-batch accounttax response.",
      "type": "object"
    },
    "ProductUnitPricingMeasure": {
      "id": "ProductUnitPricingMeasure",
      "type": "object",
      "properties": {
        "value": {
          "type": "number",
          "description": "The measure of an item.",
          "format": "double"
        },
        "unit": {
          "description": "The unit of the measure.",
          "type": "string"
        }
      }
    },
    "HolidaysHoliday": {
      "type": "object",
      "id": "HolidaysHoliday",
      "properties": {
        "id": {
          "description": "Unique identifier for the holiday to be used when configuring holiday cutoffs. Always present.",
          "type": "string"
        },
        "date": {
          "description": "Date of the holiday, in ISO 8601 format. E.g. \"2016-12-25\" for Christmas 2016. Always present.",
          "type": "string"
        },
        "deliveryGuaranteeDate": {
          "type": "string",
          "description": "Date on which the order has to arrive at the customer's, in ISO 8601 format. E.g. \"2016-12-24\" for 24th December 2016. Always present."
        },
        "countryCode": {
          "type": "string",
          "description": "The CLDR territory code of the country in which the holiday is available. E.g. \"US\", \"DE\", \"GB\". A holiday cutoff can only be configured in a shipping settings service with matching delivery country. Always present."
        },
        "deliveryGuaranteeHour": {
          "description": "Hour of the day in the delivery location's timezone on the guaranteed delivery date by which the order has to arrive at the customer's. Possible values are: 0 (midnight), 1, ..., 12 (noon), 13, ..., 23. Always present.",
          "format": "uint64",
          "type": "string"
        },
        "type": {
          "description": "The holiday type. Always present. Acceptable values are: - \"`Christmas`\" - \"`Easter`\" - \"`Father's Day`\" - \"`Halloween`\" - \"`Independence Day (USA)`\" - \"`Mother's Day`\" - \"`Thanksgiving`\" - \"`Valentine's Day`\" ",
          "type": "string"
        }
      }
    },
    "OrdersShipLineItemsResponse": {
      "properties": {
        "executionStatus": {
          "type": "string",
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" "
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersShipLineItemsResponse\"."
        }
      },
      "type": "object",
      "id": "OrdersShipLineItemsResponse"
    },
    "OrdersCustomBatchRequestEntryShipLineItemsShipmentInfo": {
      "properties": {
        "carrier": {
          "description": "The carrier handling the shipment. See `shipments[].carrier` in the Orders resource representation for a list of acceptable values.",
          "type": "string"
        },
        "trackingId": {
          "type": "string",
          "description": "The tracking ID for the shipment."
        },
        "shipmentId": {
          "description": "Required. The ID of the shipment. This is assigned by the merchant and is unique to each shipment.",
          "type": "string"
        }
      },
      "id": "OrdersCustomBatchRequestEntryShipLineItemsShipmentInfo",
      "type": "object"
    },
    "GmbAccounts": {
      "id": "GmbAccounts",
      "type": "object",
      "properties": {
        "gmbAccounts": {
          "description": "A list of GMB accounts which are available to the merchant.",
          "type": "array",
          "items": {
            "$ref": "GmbAccountsGmbAccount"
          }
        },
        "accountId": {
          "description": "The ID of the Merchant Center account.",
          "format": "uint64",
          "type": "string"
        }
      }
    },
    "Errors": {
      "properties": {
        "message": {
          "type": "string",
          "description": "The message of the first error in `errors`."
        },
        "errors": {
          "description": "A list of errors.",
          "items": {
            "$ref": "Error"
          },
          "type": "array"
        },
        "code": {
          "description": "The HTTP status of the first error in `errors`.",
          "type": "integer",
          "format": "uint32"
        }
      },
      "id": "Errors",
      "type": "object",
      "description": "A list of errors returned by a failed batch entry."
    },
    "TransitTableTransitTimeRow": {
      "id": "TransitTableTransitTimeRow",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "TransitTableTransitTimeRowTransitTimeValue"
          }
        }
      },
      "type": "object"
    },
    "ShippingsettingsCustomBatchRequestEntry": {
      "description": "A batch entry encoding a single non-batch shippingsettings request.",
      "type": "object",
      "id": "ShippingsettingsCustomBatchRequestEntry",
      "properties": {
        "method": {
          "description": "The method of the batch entry. Acceptable values are: - \"`get`\" - \"`update`\" ",
          "type": "string"
        },
        "shippingSettings": {
          "description": "The account shipping settings to update. Only defined if the method is `update`.",
          "$ref": "ShippingSettings"
        },
        "merchantId": {
          "description": "The ID of the managing account.",
          "format": "uint64",
          "type": "string"
        },
        "batchId": {
          "description": "An entry ID, unique within the batch request.",
          "format": "uint32",
          "type": "integer"
        },
        "accountId": {
          "format": "uint64",
          "description": "The ID of the account for which to get/update account shipping settings.",
          "type": "string"
        }
      }
    },
    "AccountsListResponse": {
      "type": "object",
      "id": "AccountsListResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token for the retrieval of the next page of accounts."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountsListResponse\"."
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "Account"
          }
        }
      }
    },
    "LiaAboutPageSettings": {
      "type": "object",
      "id": "LiaAboutPageSettings",
      "properties": {
        "status": {
          "type": "string",
          "description": "The status of the verification process for the About page. Acceptable values are: - \"`active`\" - \"`inactive`\" - \"`pending`\" "
        },
        "url": {
          "description": "The URL for the About page.",
          "type": "string"
        }
      }
    },
    "OrderLineItem": {
      "properties": {
        "price": {
          "$ref": "Price",
          "description": "Total price for the line item. For example, if two items for $10 are purchased, the total price will be $20."
        },
        "quantityReturned": {
          "description": "Number of items returned.",
          "format": "uint32",
          "type": "integer"
        },
        "shippingDetails": {
          "$ref": "OrderLineItemShippingDetails",
          "description": "Details of the requested shipping for the line item."
        },
        "id": {
          "description": "The ID of the line item.",
          "type": "string"
        },
        "quantityReadyForPickup": {
          "format": "uint32",
          "description": "Number of items ready for pickup.",
          "type": "integer"
        },
        "cancellations": {
          "description": "Cancellations of the line item.",
          "type": "array",
          "items": {
            "$ref": "OrderCancellation"
          }
        },
        "quantityShipped": {
          "format": "uint32",
          "description": "Number of items shipped.",
          "type": "integer"
        },
        "quantityOrdered": {
          "type": "integer",
          "description": "Number of items ordered.",
          "format": "uint32"
        },
        "returns": {
          "description": "Returns of the line item.",
          "type": "array",
          "items": {
            "$ref": "OrderReturn"
          }
        },
        "quantityCanceled": {
          "type": "integer",
          "format": "uint32",
          "description": "Number of items canceled."
        },
        "product": {
          "$ref": "OrderLineItemProduct",
          "description": "Product data as seen by customer from the time of the order placement. Note that certain attributes values (e.g. title or gtin) might be reformatted and no longer match values submitted via product feed."
        },
        "quantityDelivered": {
          "format": "uint32",
          "description": "Number of items delivered.",
          "type": "integer"
        },
        "annotations": {
          "items": {
            "$ref": "OrderMerchantProvidedAnnotation"
          },
          "type": "array",
          "description": "Annotations that are attached to the line item."
        },
        "tax": {
          "$ref": "Price",
          "description": "Total tax amount for the line item. For example, if two items are purchased, and each have a cost tax of $2, the total tax amount will be $4."
        },
        "returnInfo": {
          "description": "Details of the return policy for the line item.",
          "$ref": "OrderLineItemReturnInfo"
        },
        "quantityPending": {
          "description": "Number of items pending.",
          "format": "uint32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "OrderLineItem"
    },
    "OrdersReturnRefundLineItemResponse": {
      "type": "object",
      "id": "OrdersReturnRefundLineItemResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersReturnRefundLineItemResponse\"."
        },
        "executionStatus": {
          "type": "string",
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" "
        }
      }
    },
    "OrdersInStoreRefundLineItemRequest": {
      "properties": {
        "reasonText": {
          "type": "string",
          "description": "The explanation of the reason."
        },
        "amountTax": {
          "description": "Tax amount that correspond to refund amount in amountPretax. Required.",
          "$ref": "Price"
        },
        "operationId": {
          "description": "The ID of the operation. Unique across all operations for a given order.",
          "type": "string"
        },
        "lineItemId": {
          "type": "string",
          "description": "The ID of the line item to return. Either lineItemId or productId is required."
        },
        "reason": {
          "type": "string",
          "description": "The reason for the return. Acceptable values are: - \"`customerDiscretionaryReturn`\" - \"`customerInitiatedMerchantCancel`\" - \"`deliveredTooLate`\" - \"`expiredItem`\" - \"`invalidCoupon`\" - \"`malformedShippingAddress`\" - \"`other`\" - \"`productArrivedDamaged`\" - \"`productNotAsDescribed`\" - \"`qualityNotAsExpected`\" - \"`undeliverableShippingAddress`\" - \"`unsupportedPoBoxAddress`\" - \"`wrongProductShipped`\" "
        },
        "productId": {
          "description": "The ID of the product to return. This is the REST ID used in the products service. Either lineItemId or productId is required.",
          "type": "string"
        },
        "quantity": {
          "format": "uint32",
          "type": "integer",
          "description": "The quantity to return and refund."
        },
        "amountPretax": {
          "$ref": "Price",
          "description": "The amount that is refunded. Required."
        }
      },
      "type": "object",
      "id": "OrdersInStoreRefundLineItemRequest"
    },
    "OrdersCustomBatchResponseEntry": {
      "id": "OrdersCustomBatchResponseEntry",
      "properties": {
        "batchId": {
          "description": "The ID of the request entry this entry responds to.",
          "format": "uint32",
          "type": "integer"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#ordersCustomBatchResponseEntry`\"",
          "type": "string"
        },
        "order": {
          "description": "The retrieved order. Only defined if the method is `get` and if the request was successful.",
          "$ref": "Order"
        },
        "executionStatus": {
          "type": "string",
          "description": "The status of the execution. Only defined if 1. the request was successful; and 2. the method is not `get`, `getByMerchantOrderId`, or one of the test methods. Acceptable values are: - \"`duplicate`\" - \"`executed`\" "
        },
        "errors": {
          "$ref": "Errors",
          "description": "A list of errors defined if and only if the request failed."
        }
      },
      "type": "object"
    },
    "ShipmentInvoice": {
      "properties": {
        "shipmentGroupId": {
          "type": "string",
          "description": "[required] ID of the shipment group. It is assigned by the merchant in the `shipLineItems` method and is used to group multiple line items that have the same kind of shipping charges."
        },
        "lineItemInvoices": {
          "description": "[required] Invoice details per line item.",
          "items": {
            "$ref": "ShipmentInvoiceLineItemInvoice"
          },
          "type": "array"
        },
        "invoiceSummary": {
          "$ref": "InvoiceSummary",
          "description": "[required] Invoice summary."
        }
      },
      "type": "object",
      "id": "ShipmentInvoice"
    },
    "LiasettingsRequestGmbAccessResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#liasettingsRequestGmbAccessResponse\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LiasettingsRequestGmbAccessResponse"
    },
    "PickupServicesPickupService": {
      "type": "object",
      "id": "PickupServicesPickupService",
      "properties": {
        "country": {
          "description": "The CLDR country code of the carrier (e.g., \"US\"). Always present.",
          "type": "string"
        },
        "carrierName": {
          "description": "The name of the carrier (e.g., `\"UPS\"`). Always present.",
          "type": "string"
        },
        "serviceName": {
          "description": "The name of the pickup service (e.g., `\"Access point\"`). Always present.",
          "type": "string"
        }
      }
    },
    "OrderReportDisbursement": {
      "description": "Order disbursement. All methods require the payment analyst role.",
      "id": "OrderReportDisbursement",
      "properties": {
        "disbursementDate": {
          "type": "string",
          "description": "The date the disbursement was initiated, in ISO 8601 format."
        },
        "disbursementAmount": {
          "$ref": "Price",
          "description": "The disbursement amount."
        },
        "disbursementId": {
          "type": "string",
          "description": "The ID of the disbursement."
        },
        "disbursementCreationDate": {
          "description": "The disbursement date, in ISO 8601 format.",
          "type": "string"
        },
        "merchantId": {
          "description": "The ID of the managing account.",
          "type": "string",
          "format": "uint64"
        }
      },
      "type": "object"
    },
    "LiasettingsSetPosDataProviderResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#liasettingsSetPosDataProviderResponse\"."
        }
      },
      "id": "LiasettingsSetPosDataProviderResponse",
      "type": "object"
    },
    "InventoryCustomBatchResponseEntry": {
      "type": "object",
      "id": "InventoryCustomBatchResponseEntry",
      "description": "A batch entry encoding a single non-batch inventory response.",
      "properties": {
        "batchId": {
          "type": "integer",
          "format": "uint32",
          "description": "The ID of the request entry this entry responds to."
        },
        "errors": {
          "description": "A list of errors defined if and only if the request failed.",
          "$ref": "Errors"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#inventoryCustomBatchResponseEntry`\"",
          "type": "string"
        }
      }
    },
    "ProductsCustomBatchRequest": {
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "description": "The request entries to be processed in the batch.",
          "items": {
            "$ref": "ProductsCustomBatchRequestEntry"
          }
        }
      },
      "id": "ProductsCustomBatchRequest"
    },
    "OrderinvoicesCreateChargeInvoiceRequest": {
      "type": "object",
      "id": "OrderinvoicesCreateChargeInvoiceRequest",
      "properties": {
        "shipmentGroupId": {
          "type": "string",
          "description": "[required] ID of the shipment group. It is assigned by the merchant in the `shipLineItems` method and is used to group multiple line items that have the same kind of shipping charges."
        },
        "operationId": {
          "description": "[required] The ID of the operation, unique across all operations for a given order.",
          "type": "string"
        },
        "lineItemInvoices": {
          "type": "array",
          "items": {
            "$ref": "ShipmentInvoiceLineItemInvoice"
          },
          "description": "[required] Invoice details per line item."
        },
        "invoiceSummary": {
          "$ref": "InvoiceSummary",
          "description": "[required] Invoice summary."
        },
        "invoiceId": {
          "description": "[required] The ID of the invoice.",
          "type": "string"
        }
      }
    },
    "DatafeedStatusError": {
      "properties": {
        "message": {
          "type": "string",
          "description": "The error message, e.g., \"Invalid price\"."
        },
        "code": {
          "type": "string",
          "description": "The code of the error, e.g., \"validation/invalid_value\"."
        },
        "examples": {
          "type": "array",
          "items": {
            "$ref": "DatafeedStatusExample"
          },
          "description": "A list of example occurrences of the error, grouped by product."
        },
        "count": {
          "description": "The number of occurrences of the error in the feed.",
          "format": "uint64",
          "type": "string"
        }
      },
      "id": "DatafeedStatusError",
      "description": "An error occurring in the feed, like \"invalid price\".",
      "type": "object"
    },
    "OrdersCustomBatchRequestEntrySetLineItemMetadata": {
      "properties": {
        "annotations": {
          "items": {
            "$ref": "OrderMerchantProvidedAnnotation"
          },
          "type": "array"
        },
        "productId": {
          "type": "string",
          "description": "The ID of the product to set metadata. This is the REST ID used in the products service. Either lineItemId or productId is required."
        },
        "lineItemId": {
          "description": "The ID of the line item to set metadata. Either lineItemId or productId is required.",
          "type": "string"
        }
      },
      "id": "OrdersCustomBatchRequestEntrySetLineItemMetadata",
      "type": "object"
    },
    "PosInventoryRequest": {
      "type": "object",
      "id": "PosInventoryRequest",
      "properties": {
        "contentLanguage": {
          "description": "Required. The two-letter ISO 639-1 language code for the item.",
          "type": "string"
        },
        "gtin": {
          "description": "Global Trade Item Number.",
          "type": "string"
        },
        "itemId": {
          "description": "Required. A unique identifier for the item.",
          "type": "string"
        },
        "quantity": {
          "type": "string",
          "description": "Required. The available quantity of the item.",
          "format": "int64"
        },
        "price": {
          "description": "Required. The current price of the item.",
          "$ref": "Price"
        },
        "storeCode": {
          "type": "string",
          "description": "Required. The identifier of the merchant's store. Either a `storeCode` inserted via the API or the code of the store in Google My Business."
        },
        "targetCountry": {
          "type": "string",
          "description": "Required. The CLDR territory code for the item."
        },
        "timestamp": {
          "type": "string",
          "description": "Required. The inventory timestamp, in ISO 8601 format."
        }
      }
    },
    "Product": {
      "id": "Product",
      "properties": {
        "canonicalLink": {
          "type": "string",
          "description": "URL for the canonical version of your item's landing page."
        },
        "gender": {
          "type": "string",
          "description": "Target gender of the item. Acceptable values are: - \"`female`\" - \"`male`\" - \"`unisex`\" "
        },
        "onlineOnly": {
          "type": "boolean",
          "description": "Deprecated."
        },
        "adwordsRedirect": {
          "type": "string",
          "description": "Allows advertisers to override the item URL when the product is shown within the context of Product Ads."
        },
        "adwordsLabels": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Similar to adwords_grouping, but only works on CPC."
        },
        "taxes": {
          "description": "Tax information.",
          "type": "array",
          "items": {
            "$ref": "ProductTax"
          }
        },
        "channel": {
          "description": "Required. The item's channel (online or local). Acceptable values are: - \"`local`\" - \"`online`\" ",
          "type": "string"
        },
        "adwordsGrouping": {
          "description": "Used to group items in an arbitrary way. Only for CPA%, discouraged otherwise.",
          "type": "string"
        },
        "validatedDestinations": {
          "description": "Deprecated. The read-only list of intended destinations which passed validation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "condition": {
          "description": "Condition or state of the item. Acceptable values are: - \"`new`\" - \"`refurbished`\" - \"`used`\" ",
[...]
