{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://contactcenterinsights.googleapis.com/",
  "title": "Contact Center AI Insights API",
  "documentationLink": "https://cloud.google.com/contact-center/insights/docs",
  "ownerDomain": "google.com",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "mtlsRootUrl": "https://contactcenterinsights.mtls.googleapis.com/",
  "id": "contactcenterinsights:v1",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "protocol": "rest",
  "basePath": "",
  "version_module": true,
  "ownerName": "Google",
  "name": "contactcenterinsights",
  "revision": "20240520",
  "kind": "discovery#restDescription",
  "schemas": {
    "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataMetadata": {
      "type": "object",
      "properties": {
        "partialErrors": {
          "type": "array",
          "description": "Partial errors during export operation that might cause the operation output to be incomplete.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataRequest",
          "description": "The original request for export."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataMetadata",
      "description": "Metadata for an export insights operation."
    },
    "GoogleCloudContactcenterinsightsV1ExportInsightsDataMetadata": {
      "description": "Metadata for an export insights operation.",
      "properties": {
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequest",
          "description": "The original request for export."
        },
        "partialErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "Partial errors during export operation that might cause the operation output to be incomplete."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ExportInsightsDataMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1CreateIssueModelMetadata": {
      "description": "Metadata for creating an issue model.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1CreateIssueModelMetadata",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation was created."
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1CreateIssueModelRequest",
          "description": "The original request for creation."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1UndeployIssueModelResponse": {
      "id": "GoogleCloudContactcenterinsightsV1UndeployIssueModelResponse",
      "properties": {},
      "type": "object",
      "description": "The response to undeploy an issue model."
    },
    "GoogleCloudContactcenterinsightsV1alpha1AgentCoachingSuggestion": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1AgentCoachingSuggestion",
      "properties": {
        "applicableInstructions": {
          "description": "Optional. Instructions applicable based on the current context.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1AgentCoachingInstruction"
          }
        },
        "suggestionReasoning": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AgentCoachingSuggestionAgentCoachingSuggestionReasoning",
          "description": "Reasoning for the suggestion."
        },
        "sampleResponses": {
          "description": "Optional. Sample response for the Agent.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1AgentCoachingSuggestionSampleResponse"
          },
          "type": "array"
        },
        "suggestionEval": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AgentCoachingSuggestionAgentCoachingSuggestionEval",
          "description": "Self evaluation of the suggestion."
        },
        "agentActionSuggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1AgentCoachingSuggestionAgentActionSuggestion"
          },
          "description": "Optional. Suggested actions for the agent to take."
        }
      },
      "description": "Suggestion for coaching agents.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1EntityMentionData": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1EntityMentionData",
      "type": "object",
      "description": "The data for an entity mention annotation. This represents a mention of an `Entity` in the conversation.",
      "properties": {
        "sentiment": {
          "description": "Sentiment expressed for this mention of the entity.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SentimentData"
        },
        "type": {
          "type": "string",
          "enum": [
            "MENTION_TYPE_UNSPECIFIED",
            "PROPER",
            "COMMON"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Proper noun.",
            "Common noun (or noun compound)."
          ],
          "description": "The type of the entity mention."
        },
        "entityUniqueId": {
          "type": "string",
          "description": "The key of this entity in conversation entities. Can be used to retrieve the exact `Entity` this mention is attached to."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationQualityMetadataAgentInfo": {
      "properties": {
        "dispositionCode": {
          "description": "A user-provided string indicating the outcome of the agent's segment of the call.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The agent's name."
        },
        "agentId": {
          "description": "A user-specified string representing the agent.",
          "type": "string"
        },
        "team": {
          "type": "string",
          "description": "A user-specified string representing the agent's team."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationQualityMetadataAgentInfo",
      "description": "Information about an agent involved in the conversation."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataRequestBigQueryDestination": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataRequestBigQueryDestination",
      "type": "object",
      "description": "A BigQuery Table Reference.",
      "properties": {
        "table": {
          "type": "string",
          "description": "The BigQuery table name to which the insights data should be written. If this table does not exist, the export call returns an INVALID_ARGUMENT error."
        },
        "projectId": {
          "type": "string",
          "description": "A project ID or number. If specified, then export will attempt to write data to this project instead of the resource project. Otherwise, the resource project will be used."
        },
        "dataset": {
          "type": "string",
          "description": "Required. The name of the BigQuery dataset that the snapshot result should be exported to. If this dataset does not exist, the export call returns an INVALID_ARGUMENT error."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1FaqAnswerData": {
      "properties": {
        "confidenceScore": {
          "description": "The system's confidence score that this answer is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "format": "float",
          "type": "number"
        },
        "question": {
          "type": "string",
          "description": "The corresponding FAQ question."
        },
        "source": {
          "description": "The knowledge document that this answer was extracted from. Format: projects/{project}/knowledgeBases/{knowledge_base}/documents/{document}.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map that contains metadata about the FAQ answer and the document that it originates from."
        },
        "answer": {
          "description": "The piece of text from the `source` knowledge base document.",
          "type": "string"
        },
        "queryRecord": {
          "type": "string",
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1FaqAnswerData",
      "description": "Agent Assist frequently-asked-question answer data."
    },
    "GoogleCloudContactcenterinsightsV1alpha1AgentCoachingSuggestionAgentCoachingSuggestionEval": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1AgentCoachingSuggestionAgentCoachingSuggestionEval",
      "type": "object",
      "properties": {
        "actionActionSuggestionEval": {
          "type": "string",
          "description": "Optional. Eval for Agent action suggestion."
        },
        "sampleResponseEval": {
          "type": "string",
          "description": "Optional. Eval for sample response."
        }
      },
      "description": "Self evaluations of the suggestion."
    },
    "GoogleCloudContactcenterinsightsV1alpha1AnswerFeedback": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1AnswerFeedback",
      "type": "object",
      "properties": {
        "clicked": {
          "type": "boolean",
          "description": "Indicates whether an answer or item was clicked by the human agent."
        },
        "correctnessLevel": {
          "enumDescriptions": [
            "Correctness level unspecified.",
            "Answer is totally wrong.",
            "Answer is partially correct.",
            "Answer is fully correct."
          ],
          "enum": [
            "CORRECTNESS_LEVEL_UNSPECIFIED",
            "NOT_CORRECT",
            "PARTIALLY_CORRECT",
            "FULLY_CORRECT"
          ],
          "type": "string",
          "description": "The correctness level of an answer."
        },
        "displayed": {
          "type": "boolean",
          "description": "Indicates whether an answer or item was displayed to the human agent in the agent desktop UI."
        }
      },
      "description": "The feedback that the customer has about a certain answer in the conversation."
    },
    "GoogleCloudContactcenterinsightsV1alpha1IssueModelLabelStats": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1IssueModelLabelStats",
      "description": "Aggregated statistics about an issue model.",
      "properties": {
        "issueStats": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueModelLabelStatsIssueStats"
          },
          "description": "Statistics on each issue. Key is the issue's resource name."
        },
        "unclassifiedConversationsCount": {
          "description": "Number of analyzed conversations for which no issue was applicable at this point in time.",
          "type": "string",
          "format": "int64"
        },
        "analyzedConversationsCount": {
          "type": "string",
          "description": "Number of conversations the issue model has analyzed at this point in time.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1EntityMentionData": {
      "id": "GoogleCloudContactcenterinsightsV1EntityMentionData",
      "type": "object",
      "description": "The data for an entity mention annotation. This represents a mention of an `Entity` in the conversation.",
      "properties": {
        "type": {
          "enum": [
            "MENTION_TYPE_UNSPECIFIED",
            "PROPER",
            "COMMON"
          ],
          "type": "string",
          "description": "The type of the entity mention.",
          "enumDescriptions": [
            "Unspecified.",
            "Proper noun.",
            "Common noun (or noun compound)."
          ]
        },
        "entityUniqueId": {
          "description": "The key of this entity in conversation entities. Can be used to retrieve the exact `Entity` this mention is attached to.",
          "type": "string"
        },
        "sentiment": {
          "description": "Sentiment expressed for this mention of the entity.",
          "$ref": "GoogleCloudContactcenterinsightsV1SentimentData"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelector": {
      "properties": {
        "phraseMatchers": {
          "items": {
            "type": "string"
          },
          "description": "The list of phrase matchers to run. If not provided, all active phrase matchers will be used. If inactive phrase matchers are provided, they will not be used. Phrase matchers will be run only if run_phrase_matcher_annotator is set to true. Format: projects/{project}/locations/{location}/phraseMatchers/{phrase_matcher}",
          "type": "array"
        },
        "runIssueModelAnnotator": {
          "description": "Whether to run the issue model annotator. A model should have already been deployed for this to take effect.",
          "type": "boolean"
        },
        "issueModels": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The issue model to run. If not provided, the most recently deployed topic model will be used. The provided issue model will only be used for inference if the issue model is deployed and if run_issue_model_annotator is set to true. If more than one issue model is provided, only the first provided issue model will be used for inference."
        },
        "runIntentAnnotator": {
          "description": "Whether to run the intent annotator.",
          "type": "boolean"
        },
        "runEntityAnnotator": {
          "type": "boolean",
          "description": "Whether to run the entity annotator."
        },
        "runInterruptionAnnotator": {
          "type": "boolean",
          "description": "Whether to run the interruption annotator."
        },
        "summarizationConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelectorSummarizationConfig",
          "description": "Configuration for the summarization annotator."
        },
        "runPhraseMatcherAnnotator": {
          "type": "boolean",
          "description": "Whether to run the active phrase matcher annotator(s)."
        },
        "runSilenceAnnotator": {
          "type": "boolean",
          "description": "Whether to run the silence annotator."
        },
        "runSummarizationAnnotator": {
          "description": "Whether to run the summarization annotator.",
          "type": "boolean"
        },
        "runSentimentAnnotator": {
          "description": "Whether to run the sentiment annotator.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelector",
      "description": "Selector of all available annotators and phrase matchers to run.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ImportIssueModelRequestGcsSource": {
      "description": "Google Cloud Storage Object URI to get the issue model file from.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ImportIssueModelRequestGcsSource",
      "type": "object",
      "properties": {
        "objectUri": {
          "type": "string",
          "description": "Required. Format: `gs:///`"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1CreateIssueModelRequest": {
      "description": "The request to create an issue model.",
      "properties": {
        "issueModel": {
          "description": "Required. The issue model to create.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueModel"
        },
        "parent": {
          "description": "Required. The parent resource of the issue model.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1CreateIssueModelRequest",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1FreeFormSuggestion": {
      "id": "GoogleCloudContactcenterinsightsV1FreeFormSuggestion",
      "properties": {
        "labels": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Labels for the generator.",
          "type": "array"
        },
        "response": {
          "type": "string",
          "description": "Required. Free form suggestion."
        }
      },
      "type": "object",
      "description": "Suggestion generated using free form generator."
    },
    "GoogleCloudContactcenterinsightsV1DeployIssueModelRequest": {
      "id": "GoogleCloudContactcenterinsightsV1DeployIssueModelRequest",
      "description": "The request to deploy an issue model.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The issue model to deploy."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1AnalysisResult": {
      "description": "The result of an analysis.",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "The time at which the analysis ended.",
          "format": "google-datetime",
          "type": "string"
        },
        "callAnalysisMetadata": {
          "$ref": "GoogleCloudContactcenterinsightsV1AnalysisResultCallAnalysisMetadata",
          "description": "Call-specific metadata created by the analysis."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1AnalysisResult"
    },
    "GoogleCloudContactcenterinsightsV1Issue": {
      "properties": {
        "updateTime": {
          "description": "Output only. The most recent time that this issue was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Immutable. The resource name of the issue. Format: projects/{project}/locations/{location}/issueModels/{issue_model}/issues/{issue}",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time at which this issue was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "sampleUtterances": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Resource names of the sample representative utterances that match to this issue."
        },
        "displayName": {
          "type": "string",
          "description": "The representative name for the issue."
        }
      },
      "description": "The issue resource.",
      "id": "GoogleCloudContactcenterinsightsV1Issue",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ImportIssueModelMetadata": {
      "type": "object",
      "description": "Metadata used for import issue model.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ImportIssueModelMetadata",
      "properties": {
        "endTime": {
          "description": "The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ImportIssueModelRequest",
          "description": "The original import request."
        },
        "createTime": {
          "description": "The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsMetadata": {
      "description": "The metadata for a bulk analyze conversations operation.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsMetadata",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "The time the operation finished running.",
          "type": "string"
        },
        "failedAnalysesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of requested analyses that have failed so far."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation was created."
        },
        "totalRequestedAnalysesCount": {
          "format": "int32",
          "description": "Total number of analyses requested. Computed by the number of conversations returned by `filter` multiplied by `analysis_percentage` in the request.",
          "type": "integer"
        },
        "completedAnalysesCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of requested analyses that have completed successfully so far."
        },
        "request": {
          "description": "The original request for bulk analyze.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsRequest"
        },
        "partialErrors": {
          "readOnly": true,
          "description": "Output only. Partial errors during bulk analyze operation that might cause the operation output to be incomplete.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1UndeployIssueModelMetadata": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1UndeployIssueModelMetadata",
      "properties": {
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1UndeployIssueModelRequest",
          "description": "The original request for undeployment."
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running."
        }
      },
      "description": "Metadata for undeploying an issue model."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationLevelSentiment": {
      "properties": {
        "channelTag": {
          "type": "integer",
          "format": "int32",
          "description": "The channel of the audio that the data applies to."
        },
        "sentimentData": {
          "description": "Data specifying sentiment.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SentimentData"
        }
      },
      "type": "object",
      "description": "One channel of conversation-level sentiment data.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationLevelSentiment"
    },
    "GoogleCloudContactcenterinsightsV1alpha1GetKnowledgeAssistResponseKnowledgeAnswerIntentMatchingSource": {
      "type": "object",
      "properties": {
        "title": {
          "description": "Title of the document.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "URI the data is sourced from."
        }
      },
      "description": "Details about source of Intent Matching answer.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1GetKnowledgeAssistResponseKnowledgeAnswerIntentMatchingSource"
    },
    "GoogleCloudContactcenterinsightsV1SentimentData": {
      "properties": {
        "score": {
          "description": "The sentiment score between -1.0 (negative) and 1.0 (positive).",
          "type": "number",
          "format": "float"
        },
        "magnitude": {
          "format": "float",
          "type": "number",
          "description": "A non-negative number from 0 to infinity which represents the abolute magnitude of sentiment regardless of score."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1SentimentData",
      "description": "The data for a sentiment annotation.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ConversationCallMetadata": {
      "properties": {
        "agentChannel": {
          "description": "The audio channel that contains the agent.",
          "format": "int32",
          "type": "integer"
        },
        "customerChannel": {
          "format": "int32",
          "type": "integer",
          "description": "The audio channel that contains the customer."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ConversationCallMetadata",
      "description": "Call-specific metadata."
    },
    "GoogleCloudContactcenterinsightsV1alpha1GetKnowledgeAssistResponseKnowledgeAnswerGenerativeSource": {
      "properties": {
        "snippets": {
          "description": "All snippets used for this Generative Prediction, with their source URI and data.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1GetKnowledgeAssistResponseKnowledgeAnswerGenerativeSourceSnippet"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1GetKnowledgeAssistResponseKnowledgeAnswerGenerativeSource",
      "description": "Details about source of Generative answer.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1IngestConversationsRequestConversationConfig": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1IngestConversationsRequestConversationConfig",
      "description": "Configuration that applies to all conversations.",
      "properties": {
        "customerChannel": {
          "type": "integer",
          "description": "Optional. Indicates which of the channels, 1 or 2, contains the agent. Note that this must be set for conversations to be properly displayed and analyzed.",
          "format": "int32"
        },
        "agentId": {
          "description": "Optional. An opaque, user-specified string representing a human agent who handled all conversations in the import. Note that this will be overridden if per-conversation metadata is provided via the `metadata_bucket_uri`.",
          "type": "string"
        },
        "agentChannel": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Indicates which of the channels, 1 or 2, contains the agent. Note that this must be set for conversations to be properly displayed and analyzed."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1DeleteIssueModelRequest": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the issue model to delete."
        }
      },
      "description": "The request to delete an issue model.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1DeleteIssueModelRequest"
    },
    "GoogleCloudContactcenterinsightsV1GetKnowledgeAssistResponseSuggestedQuery": {
      "properties": {
        "queryText": {
          "type": "string",
          "description": "Suggested query text."
        },
        "score": {
          "description": "Suggested query score.",
          "format": "float",
          "type": "number"
        }
      },
      "description": "Represents a suggested query.",
      "id": "GoogleCloudContactcenterinsightsV1GetKnowledgeAssistResponseSuggestedQuery",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1AnalysisResultCallAnalysisMetadata": {
      "properties": {
        "phraseMatchers": {
          "description": "All the matched phrase matchers in the call.",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1PhraseMatchData"
          },
          "type": "object"
        },
        "intents": {
          "description": "All the matched intents in the call.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1Intent"
          }
        },
        "entities": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1Entity"
          },
          "description": "All the entities in the call."
        },
        "sentiments": {
          "type": "array",
          "description": "Overall conversation-level sentiment for each channel of the call.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationLevelSentiment"
          }
        },
        "issueModelResult": {
          "description": "Overall conversation-level issue modeling result.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueModelResult"
        },
        "annotations": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1CallAnnotation"
          },
          "description": "A list of call annotations that apply to this call.",
          "type": "array"
        },
        "silence": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationLevelSilence",
          "description": "Overall conversation-level silence during the call."
        }
      },
      "description": "Call-specific metadata created during analysis.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1AnalysisResultCallAnalysisMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1SpeechConfig": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1SpeechConfig",
      "description": "Speech-to-Text configuration. Speech-to-Text settings are applied to conversations ingested from the UploadConversation and IngestConversations endpoints, including conversation coming from CCAI Platform. They are not applied to conversations ingested from the CreateConversation endpoint.",
      "type": "object",
      "properties": {
        "speechRecognizer": {
          "description": "The fully-qualified Speech Recognizer resource name. Format: `projects/{project_id}/locations/{location}/recognizer/{recognizer}`",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1IssueModel": {
      "properties": {
        "inputDataConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1IssueModelInputDataConfig",
          "description": "Configs for the input data that used to create the issue model."
        },
        "displayName": {
          "type": "string",
          "description": "The representative name for the issue model."
        },
        "updateTime": {
          "description": "Output only. The most recent time at which the issue model was updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Immutable. The resource name of the issue model. Format: projects/{project}/locations/{location}/issueModels/{issue_model}",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which this issue model was created.",
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified.",
            "Model is not deployed but is ready to deploy.",
            "Model is being deployed.",
            "Model is deployed and is ready to be used. A model can only be used in analysis if it's in this state.",
            "Model is being undeployed.",
            "Model is being deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "UNDEPLOYED",
            "DEPLOYING",
            "DEPLOYED",
            "UNDEPLOYING",
            "DELETING"
          ],
          "type": "string",
          "description": "Output only. State of the model.",
          "readOnly": true
        },
        "languageCode": {
          "type": "string",
          "description": "Language of the model."
        },
        "trainingStats": {
          "$ref": "GoogleCloudContactcenterinsightsV1IssueModelLabelStats",
          "readOnly": true,
          "description": "Output only. Immutable. The issue model's label statistics on its training data."
        },
        "modelType": {
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "TYPE_V1",
            "TYPE_V2"
          ],
          "description": "Type of the model.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified model type.",
            "Type V1.",
            "Type V2."
          ]
        },
        "issueCount": {
          "format": "int64",
          "description": "Output only. Number of issues in this issue model.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1IssueModel",
      "description": "The issue model resource.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1IssueAssignment": {
      "id": "GoogleCloudContactcenterinsightsV1IssueAssignment",
      "type": "object",
      "properties": {
        "issue": {
          "description": "Resource name of the assigned issue.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Immutable. Display name of the assigned issue. This field is set at time of analyis and immutable since then."
        },
        "score": {
          "description": "Score indicating the likelihood of the issue assignment. currently bounded on [0,1].",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Information about the issue."
    },
    "GoogleCloudContactcenterinsightsV1CalculateStatsResponse": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1CalculateStatsResponse",
      "properties": {
        "conversationCount": {
          "format": "int32",
          "description": "The total number of conversations.",
          "type": "integer"
        },
        "averageTurnCount": {
          "description": "The average number of turns per conversation.",
          "format": "int32",
          "type": "integer"
        },
        "issueMatchesStats": {
          "description": "A map associating each issue resource name with its respective number of matches in the set of conversations. Key has the format: `projects//locations//issueModels//issues/`",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1IssueModelLabelStatsIssueStats"
          },
          "type": "object"
        },
        "smartHighlighterMatches": {
          "type": "object",
          "additionalProperties": {
            "format": "int32",
            "type": "integer"
          },
          "description": "A map associating each smart highlighter display name with its respective number of matches in the set of conversations."
        },
        "issueMatches": {
          "description": "A map associating each issue resource name with its respective number of matches in the set of conversations. Key has the format: `projects//locations//issueModels//issues/` Deprecated, use `issue_matches_stats` field instead.",
          "additionalProperties": {
            "format": "int32",
            "type": "integer"
          },
          "type": "object",
          "deprecated": true
        },
        "customHighlighterMatches": {
          "description": "A map associating each custom highlighter resource name with its respective number of matches in the set of conversations.",
          "type": "object",
          "additionalProperties": {
            "type": "integer",
            "format": "int32"
          }
        },
        "conversationCountTimeSeries": {
          "$ref": "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeries",
          "description": "A time series representing the count of conversations created over time that match that requested filter criteria."
        },
        "averageDuration": {
          "description": "The average duration of all conversations. The average is calculated using only conversations that have a time duration.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "description": "The response for calculating conversation statistics."
    },
    "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeries": {
      "id": "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeries",
      "type": "object",
      "description": "A time series representing conversations over time.",
      "properties": {
        "intervalDuration": {
          "description": "The duration of each interval.",
          "format": "google-duration",
          "type": "string"
        },
        "points": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeriesInterval"
          },
          "description": "An ordered list of intervals from earliest to latest, where each interval represents the number of conversations that transpired during the time window."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1UndeployIssueModelMetadata": {
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string"
        },
        "request": {
          "description": "The original request for undeployment.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1UndeployIssueModelRequest"
        }
      },
      "type": "object",
      "description": "Metadata for undeploying an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1UndeployIssueModelMetadata"
    },
    "GoogleCloudContactcenterinsightsV1AgentCoachingInstruction": {
      "description": "Agent Coaching instructions that customer can configure.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. The detailed description of this instruction."
        },
        "condition": {
          "description": "Optional. The condition of the instruction. For example, \"the customer wants to cancel an order\". If the users want the instruction to be triggered unconditionally, the condition can be empty.",
          "type": "string"
        },
        "systemAction": {
          "type": "string",
          "description": "Optional. The action that system should take. For example, \"call GetOrderTime with order_number={order number provided by the customer}\". If the users don't have plugins or don't want to trigger plugins, the system_action can be empty"
        },
        "metadata": {
          "description": "Optional. Additional information attached to this instruction.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Display name for the instruction."
        },
        "agentAction": {
          "type": "string",
          "description": "Optional. The action that human agent should take. For example, \"apologize for the slow shipping\". If the users only want to use agent coaching for intent detection, agent_action can be empty"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1AgentCoachingInstruction"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ArticleSuggestionData": {
      "properties": {
        "title": {
          "description": "Article title.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Map that contains metadata about the Article Suggestion and the document that it originates from.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uri": {
          "description": "Article URI.",
          "type": "string"
        },
        "queryRecord": {
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}",
          "type": "string"
        },
        "source": {
          "type": "string",
          "description": "The knowledge document that this answer was extracted from. Format: projects/{project}/knowledgeBases/{knowledge_base}/documents/{document}"
        },
        "confidenceScore": {
          "type": "number",
          "description": "The system's confidence score that this article is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "format": "float"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ArticleSuggestionData",
      "description": "Agent Assist Article Suggestion data.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1RuntimeAnnotation": {
      "id": "GoogleCloudContactcenterinsightsV1RuntimeAnnotation",
      "description": "An annotation that was generated during the customer and agent interaction.",
      "type": "object",
      "properties": {
        "startBoundary": {
          "description": "The boundary in the conversation where the annotation starts, inclusive.",
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotationBoundary"
        },
        "createTime": {
          "description": "The time at which this annotation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "generatorSuggestionResult": {
          "description": "The generator suggestion result.",
          "$ref": "GoogleCloudContactcenterinsightsV1GetGeneratorSuggestionResponse"
        },
        "faqAnswer": {
          "$ref": "GoogleCloudContactcenterinsightsV1FaqAnswerData",
          "description": "Agent Assist FAQ answer data."
        },
        "smartReply": {
          "description": "Agent Assist Smart Reply data.",
          "$ref": "GoogleCloudContactcenterinsightsV1SmartReplyData"
        },
        "annotationId": {
          "type": "string",
          "description": "The unique identifier of the annotation. Format: projects/{project}/locations/{location}/conversationDatasets/{dataset}/conversationDataItems/{data_item}/conversationAnnotations/{annotation}"
        },
        "answerFeedback": {
          "description": "The feedback that the customer has about the answer in `data`.",
          "$ref": "GoogleCloudContactcenterinsightsV1AnswerFeedback"
        },
        "articleSuggestion": {
          "$ref": "GoogleCloudContactcenterinsightsV1ArticleSuggestionData",
          "description": "Agent Assist Article Suggestion data."
        },
        "conversationSummarizationSuggestion": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationSummarizationSuggestionData",
          "description": "Conversation summarization suggestion data."
        },
        "smartComposeSuggestion": {
          "$ref": "GoogleCloudContactcenterinsightsV1SmartComposeSuggestionData",
          "description": "Agent Assist Smart Compose suggestion data."
        },
        "knowledgeAssistResult": {
          "$ref": "GoogleCloudContactcenterinsightsV1GetKnowledgeAssistResponse",
          "description": "The Knowledge Assist result."
        },
        "knowledgeSearchResult": {
          "$ref": "GoogleCloudContactcenterinsightsV1SearchKnowledgeAnswer",
          "description": "The Knowledge Search result."
        },
        "endBoundary": {
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotationBoundary",
          "description": "The boundary in the conversation where the annotation ends, inclusive."
        },
        "dialogflowInteraction": {
          "$ref": "GoogleCloudContactcenterinsightsV1DialogflowInteractionData",
          "description": "Dialogflow interaction data."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ExactMatchConfig": {
      "properties": {
        "caseSensitive": {
          "description": "Whether to consider case sensitivity when performing an exact match.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Exact match configuration.",
      "id": "GoogleCloudContactcenterinsightsV1ExactMatchConfig"
    },
    "GoogleCloudContactcenterinsightsV1GetKnowledgeAssistResponse": {
      "id": "GoogleCloudContactcenterinsightsV1GetKnowledgeAssistResponse",
      "type": "object",
      "description": "Response for Knowledge Assist. Contains suggested query and optionally includes an answer for the query.",
      "properties": {
        "suggestedQuery": {
          "$ref": "GoogleCloudContactcenterinsightsV1GetKnowledgeAssistResponseSuggestedQuery",
          "description": "The query suggested based on the context. Suggestion is made only if it is different from the previous suggestion."
        },
        "suggestedQueryAnswer": {
          "$ref": "GoogleCloudContactcenterinsightsV1GetKnowledgeAssistResponseKnowledgeAnswer",
          "description": "The answer generated for the suggested query. Whether or not an answer is generated depends on how confident we are about the generated query."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationLevelSilence": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationLevelSilence",
      "description": "Conversation-level silence data.",
      "properties": {
        "silencePercentage": {
          "description": "Percentage of the total conversation spent in silence.",
          "type": "number",
          "format": "float"
        },
        "silenceDuration": {
          "type": "string",
          "description": "Amount of time calculated to be in silence.",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ListConversationsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1ListConversationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is set, it means there is another page available. If it is not set, it means no other pages are available."
        },
        "conversations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Conversation"
          },
          "description": "The conversations that match the request."
        }
      },
      "description": "The response of listing conversations.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelRequestGcsDestination": {
      "type": "object",
      "description": "Google Cloud Storage Object URI to save the issue model to.",
      "properties": {
        "objectUri": {
          "description": "Required. Format: `gs:///`",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelRequestGcsDestination"
    },
    "GoogleCloudContactcenterinsightsV1SpeechConfig": {
      "description": "Speech-to-Text configuration. Speech-to-Text settings are applied to conversations ingested from the UploadConversation and IngestConversations endpoints, including conversation coming from CCAI Platform. They are not applied to conversations ingested from the CreateConversation endpoint.",
      "id": "GoogleCloudContactcenterinsightsV1SpeechConfig",
      "type": "object",
      "properties": {
        "speechRecognizer": {
          "type": "string",
          "description": "The fully-qualified Speech Recognizer resource name. Format: `projects/{project_id}/locations/{location}/recognizer/{recognizer}`"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1CalculateIssueModelStatsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1CalculateIssueModelStatsResponse",
      "properties": {
        "currentStats": {
          "description": "The latest label statistics for the queried issue model. Includes results on both training data and data labeled after deployment.",
          "$ref": "GoogleCloudContactcenterinsightsV1IssueModelLabelStats"
        }
      },
      "type": "object",
      "description": "Response of querying an issue model's statistics."
    },
    "GoogleCloudContactcenterinsightsV1ConversationSummarizationSuggestionData": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ConversationSummarizationSuggestionData",
      "properties": {
        "textSections": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The summarization content that is divided into sections. The key is the section's name and the value is the section's content. There is no specific format for the key or value.",
          "type": "object"
        },
        "text": {
          "description": "The summarization content that is concatenated into one string.",
          "type": "string"
        },
        "answerRecord": {
          "type": "string",
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}"
        },
        "confidence": {
          "description": "The confidence score of the summarization.",
          "format": "float",
          "type": "number"
        },
        "metadata": {
          "description": "A map that contains metadata about the summarization and the document from which it originates.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "conversationModel": {
          "type": "string",
          "description": "The name of the model that generates this summary. Format: projects/{project}/locations/{location}/conversationModels/{conversation_model}"
        }
      },
      "description": "Conversation summarization suggestion data."
    },
    "GoogleCloudContactcenterinsightsV1alpha1AgentCoachingSuggestionAgentCoachingSuggestionReasoning": {
      "type": "object",
      "description": "Reasoning for the suggestion.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1AgentCoachingSuggestionAgentCoachingSuggestionReasoning",
      "properties": {
        "issueSummary": {
          "type": "string",
          "description": "Optional. Summary of the issue."
        },
        "agentActionTaken": {
          "type": "string",
          "description": "Optional. The actions that the agent has taken already."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1GetKnowledgeAssistResponseKnowledgeAnswer": {
      "description": "Represents an answer from Knowledge. Cuurently supports FAQ and Generative answers.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1GetKnowledgeAssistResponseKnowledgeAnswer",
      "properties": {
        "matchConfidence": {
          "type": "number",
          "format": "float",
          "description": "The system's confidence score that this answer is a good match for this conversational query. The range is from 0.0 (completely uncertain) to 1.0 (completely certain)."
        },
        "faqSource": {
          "$ref": "GoogleCloudContactcenterinsightsV1GetKnowledgeAssistResponseKnowledgeAnswerFaqSource",
          "description": "Populated if the prediction came from FAQ."
        },
        "answerText": {
          "description": "The piece of text from the `source` that answers this suggested query.",
          "type": "string"
        },
        "intentMatchingSource": {
          "$ref": "GoogleCloudContactcenterinsightsV1GetKnowledgeAssistResponseKnowledgeAnswerIntentMatchingSource",
          "description": "Populated if the prediction was from intent matching."
        },
        "generativeSource": {
          "description": "Populated if the prediction was Generative.",
          "$ref": "GoogleCloudContactcenterinsightsV1GetKnowledgeAssistResponseKnowledgeAnswerGenerativeSource"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1DialogflowSource": {
      "type": "object",
      "properties": {
        "dialogflowConversation": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the Dialogflow conversation that this conversation resource is derived from. Format: projects/{project}/locations/{location}/conversations/{conversation}"
        },
        "audioUri": {
          "description": "Cloud Storage URI that points to a file that contains the conversation audio.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1DialogflowSource",
      "description": "A Dialogflow source of conversation data."
    },
    "GoogleCloudContactcenterinsightsV1ListPhraseMatchersResponse": {
      "description": "The response of listing phrase matchers.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "phraseMatchers": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatcher"
          },
          "type": "array",
          "description": "The phrase matchers that match the request."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ListPhraseMatchersResponse"
    },
    "GoogleCloudContactcenterinsightsV1HoldData": {
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1HoldData",
      "type": "object",
      "description": "The data for a hold annotation."
    },
    "GoogleCloudContactcenterinsightsV1PhraseMatchRuleConfig": {
      "id": "GoogleCloudContactcenterinsightsV1PhraseMatchRuleConfig",
      "description": "Configuration information of a phrase match rule.",
      "type": "object",
      "properties": {
        "exactMatchConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1ExactMatchConfig",
          "description": "The configuration for the exact match rule."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsMetadataIngestConversationsStats": {
      "type": "object",
      "description": "Statistics for IngestConversations operation.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsMetadataIngestConversationsStats",
      "properties": {
        "processedObjectCount": {
          "type": "integer",
          "description": "Output only. The number of objects processed during the ingest operation.",
          "format": "int32",
          "readOnly": true
        },
        "duplicatesSkippedCount": {
          "description": "Output only. The number of objects skipped because another conversation with the same transcript uri had already been ingested.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "failedIngestCount": {
          "readOnly": true,
          "description": "Output only. The number of objects which were unable to be ingested due to errors. The errors are populated in the partial_errors field.",
          "format": "int32",
          "type": "integer"
        },
        "successfulIngestCount": {
          "format": "int32",
          "description": "Output only. The number of new conversations added during this ingest operation.",
          "readOnly": true,
          "type": "integer"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1BulkDeleteConversationsMetadata": {
      "type": "object",
      "description": "The metadata for a bulk delete conversations operation.",
      "properties": {
        "partialErrors": {
          "description": "Partial errors during bulk delete conversations operation that might cause the operation output to be incomplete.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the operation finished running."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the operation was created."
        },
        "request": {
          "description": "The original request for bulk delete.",
          "$ref": "GoogleCloudContactcenterinsightsV1BulkDeleteConversationsRequest"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1BulkDeleteConversationsMetadata"
    },
    "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequest": {
      "properties": {
        "filter": {
          "description": "A filter to reduce results to a specific subset. Useful for exporting conversations with specific properties.",
          "type": "string"
        },
        "kmsKey": {
          "type": "string",
          "description": "A fully qualified KMS key name for BigQuery tables protected by CMEK. Format: projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}/cryptoKeyVersions/{version}"
        },
        "writeDisposition": {
          "enumDescriptions": [
            "Write disposition is not specified. Defaults to WRITE_TRUNCATE.",
            "If the table already exists, BigQuery will overwrite the table data and use the schema from the load.",
            "If the table already exists, BigQuery will append data to the table."
          ],
          "description": "Options for what to do if the destination table already exists.",
          "type": "string",
          "enum": [
            "WRITE_DISPOSITION_UNSPECIFIED",
            "WRITE_TRUNCATE",
            "WRITE_APPEND"
          ]
        },
        "parent": {
          "description": "Required. The parent resource to export data from.",
          "type": "string"
        },
        "bigQueryDestination": {
          "$ref": "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequestBigQueryDestination",
          "description": "Specified if sink is a BigQuery table."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequest",
      "description": "The request to export insights.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteConversationsResponse": {
      "description": "The response for a bulk delete conversations operation.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteConversationsResponse"
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata": {
      "properties": {
        "smartReplyAllowlistCovered": {
          "description": "Whether the transcript segment was covered under the configured smart reply allowlist in Agent Assist.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Metadata from Dialogflow relating to the current transcript segment.",
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata"
    },
    "GoogleCloudContactcenterinsightsV1AnswerFeedback": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1AnswerFeedback",
      "description": "The feedback that the customer has about a certain answer in the conversation.",
      "properties": {
        "displayed": {
          "type": "boolean",
          "description": "Indicates whether an answer or item was displayed to the human agent in the agent desktop UI."
        },
        "clicked": {
          "description": "Indicates whether an answer or item was clicked by the human agent.",
          "type": "boolean"
        },
        "correctnessLevel": {
          "type": "string",
          "enum": [
            "CORRECTNESS_LEVEL_UNSPECIFIED",
            "NOT_CORRECT",
            "PARTIALLY_CORRECT",
            "FULLY_CORRECT"
          ],
          "enumDescriptions": [
            "Correctness level unspecified.",
            "Answer is totally wrong.",
            "Answer is partially correct.",
            "Answer is fully correct."
          ],
          "description": "The correctness level of an answer."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1Intent": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The human-readable name of the intent."
        },
        "id": {
          "type": "string",
          "description": "The unique identifier of the intent."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1Intent",
      "type": "object",
      "description": "The data for an intent. Represents a detected intent in the conversation, for example MAKES_PROMISE."
    },
    "GoogleCloudContactcenterinsightsV1IntentMatchData": {
      "id": "GoogleCloudContactcenterinsightsV1IntentMatchData",
      "description": "The data for an intent match. Represents an intent match for a text segment in the conversation. A text segment can be part of a sentence, a complete sentence, or an utterance with multiple sentences.",
      "properties": {
        "intentUniqueId": {
          "type": "string",
          "description": "The id of the matched intent. Can be used to retrieve the corresponding intent information."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ImportIssueModelRequest": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ImportIssueModelRequest",
      "properties": {
        "gcsSource": {
          "$ref": "GoogleCloudContactcenterinsightsV1ImportIssueModelRequestGcsSource",
          "description": "Google Cloud Storage source message."
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource of the issue model."
        },
        "createNewModel": {
          "description": "Optional. If set to true, will create a new issue model from the imported file with randomly generated IDs for the issue model and corresponding issues. Otherwise, replaces an existing model with the same ID as the file.",
          "type": "boolean"
        }
      },
      "description": "Request to import an issue model."
    },
    "GoogleCloudContactcenterinsightsV1AgentCoachingSuggestionAgentCoachingSuggestionReasoning": {
      "properties": {
        "agentActionTaken": {
          "type": "string",
          "description": "Optional. The actions that the agent has taken already."
        },
        "issueSummary": {
          "type": "string",
          "description": "Optional. Summary of the issue."
        }
      },
      "description": "Reasoning for the suggestion.",
      "id": "GoogleCloudContactcenterinsightsV1AgentCoachingSuggestionAgentCoachingSuggestionReasoning",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1SmartComposeSuggestionData": {
      "properties": {
        "confidenceScore": {
          "description": "The system's confidence score that this suggestion is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "type": "number",
          "format": "double"
        },
        "metadata": {
          "description": "Map that contains metadata about the Smart Compose suggestion and the document from which it originates.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "suggestion": {
          "description": "The content of the suggestion.",
          "type": "string"
        },
        "queryRecord": {
          "type": "string",
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}"
        }
      },
      "type": "object",
      "description": "Agent Assist Smart Compose suggestion data.",
      "id": "GoogleCloudContactcenterinsightsV1SmartComposeSuggestionData"
    },
    "GoogleCloudContactcenterinsightsV1PhraseMatchData": {
      "id": "GoogleCloudContactcenterinsightsV1PhraseMatchData",
      "description": "The data for a matched phrase matcher. Represents information identifying a phrase matcher for a given match.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The human-readable name of the phrase matcher."
        },
        "phraseMatcher": {
          "description": "The unique identifier (the resource name) of the phrase matcher.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationParticipant": {
      "type": "object",
      "properties": {
        "obfuscatedExternalUserId": {
          "description": "Obfuscated user ID from Dialogflow.",
          "type": "string"
        },
        "userId": {
          "type": "string",
          "description": "A user-specified ID representing the participant."
        },
        "role": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER",
            "ANY_AGENT"
          ],
          "enumDescriptions": [
            "Participant's role is not set.",
            "Participant is a human agent.",
            "Participant is an automated agent.",
            "Participant is an end user who conversed with the contact center.",
            "Participant is either a human or automated agent."
          ],
          "type": "string",
          "description": "The role of the participant."
        },
        "dialogflowParticipantName": {
          "description": "The name of the participant provided by Dialogflow. Format: projects/{project}/locations/{location}/conversations/{conversation}/participants/{participant}",
          "type": "string"
        },
        "dialogflowParticipant": {
          "description": "Deprecated. Use `dialogflow_participant_name` instead. The name of the Dialogflow participant. Format: projects/{project}/locations/{location}/conversations/{conversation}/participants/{participant}",
          "type": "string",
          "deprecated": true
        }
      },
      "description": "The call participant speaking for a given utterance.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationParticipant"
    },
    "GoogleCloudContactcenterinsightsV1alpha1CreateAnalysisOperationMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running."
        },
        "conversation": {
          "readOnly": true,
          "description": "Output only. The Conversation that this Analysis Operation belongs to.",
          "type": "string"
        },
        "annotatorSelector": {
          "description": "Output only. The annotator selector used for the analysis (if any).",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelector",
          "readOnly": true
        }
      },
      "description": "Metadata for a create analysis operation.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1CreateAnalysisOperationMetadata"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationCallMetadata": {
      "description": "Call-specific metadata.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationCallMetadata",
      "type": "object",
      "properties": {
        "agentChannel": {
          "format": "int32",
          "description": "The audio channel that contains the agent.",
          "type": "integer"
        },
        "customerChannel": {
          "description": "The audio channel that contains the customer.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1RedactionConfig": {
      "properties": {
        "deidentifyTemplate": {
          "description": "The fully-qualified DLP deidentify template resource name. Format: `projects/{project}/deidentifyTemplates/{template}`",
          "type": "string"
        },
        "inspectTemplate": {
          "type": "string",
          "description": "The fully-qualified DLP inspect template resource name. Format: `projects/{project}/locations/{location}/inspectTemplates/{template}`"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1RedactionConfig",
      "description": "DLP resources used for redaction while ingesting conversations. DLP settings are applied to conversations ingested from the UploadConversation and IngestConversations endpoints, including conversation coming from CCAI Platform. They are not applied to conversations ingested from the CreateConversation endpoint or the Dialogflow / Agent Assist runtime integrations. When using Dialogflow / Agent Assist runtime integrations redaction should be performed in Dialogflow / Agent Assist.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1GeneratorSuggestion": {
      "properties": {
        "freeFormSuggestion": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1FreeFormSuggestion",
          "description": "Optional. Free form suggestion."
        },
        "summarySuggestion": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SummarySuggestion",
          "description": "Optional. Suggested summary."
        },
        "agentCoachingSuggestion": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AgentCoachingSuggestion",
          "description": "Optional. Suggestion to coach the agent."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1GeneratorSuggestion",
      "description": "Suggestion generated using a Generator."
    },
    "GoogleCloudContactcenterinsightsV1AgentCoachingSuggestionAgentCoachingSuggestionEval": {
      "properties": {
        "actionActionSuggestionEval": {
          "description": "Optional. Eval for Agent action suggestion.",
          "type": "string"
        },
        "sampleResponseEval": {
          "description": "Optional. Eval for sample response.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1AgentCoachingSuggestionAgentCoachingSuggestionEval",
      "type": "object",
      "description": "Self evaluations of the suggestion."
    },
    "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequestBigQueryDestination": {
      "type": "object",
      "description": "A BigQuery Table Reference.",
      "id": "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequestBigQueryDestination",
      "properties": {
        "dataset": {
          "type": "string",
          "description": "Required. The name of the BigQuery dataset that the snapshot result should be exported to. If this dataset does not exist, the export call returns an INVALID_ARGUMENT error."
        },
        "projectId": {
          "description": "A project ID or number. If specified, then export will attempt to write data to this project instead of the resource project. Otherwise, the resource project will be used.",
          "type": "string"
        },
        "table": {
          "description": "The BigQuery table name to which the insights data should be written. If this table does not exist, the export call returns an INVALID_ARGUMENT error.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1UndeployIssueModelRequest": {
      "id": "GoogleCloudContactcenterinsightsV1UndeployIssueModelRequest",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The issue model to undeploy.",
          "type": "string"
        }
      },
      "description": "The request to undeploy an issue model."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationDataSource": {
      "type": "object",
      "properties": {
        "dialogflowSource": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DialogflowSource",
          "description": "The source when the conversation comes from Dialogflow."
        },
        "gcsSource": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1GcsSource",
          "description": "A Cloud Storage location specification for the audio and transcript."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationDataSource",
      "description": "The conversation source, which is a combination of transcript and audio."
    },
    "GoogleCloudContactcenterinsightsV1RedactionConfig": {
      "id": "GoogleCloudContactcenterinsightsV1RedactionConfig",
      "type": "object",
      "description": "DLP resources used for redaction while ingesting conversations. DLP settings are applied to conversations ingested from the UploadConversation and IngestConversations endpoints, including conversation coming from CCAI Platform. They are not applied to conversations ingested from the CreateConversation endpoint or the Dialogflow / Agent Assist runtime integrations. When using Dialogflow / Agent Assist runtime integrations redaction should be performed in Dialogflow / Agent Assist.",
      "properties": {
        "inspectTemplate": {
          "type": "string",
          "description": "The fully-qualified DLP inspect template resource name. Format: `projects/{project}/locations/{location}/inspectTemplates/{template}`"
        },
        "deidentifyTemplate": {
          "description": "The fully-qualified DLP deidentify template resource name. Format: `projects/{project}/deidentifyTemplates/{template}`",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsMetadata",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "partialErrors": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Partial errors during ingest operation that might cause the operation output to be incomplete.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequest",
          "readOnly": true,
          "description": "Output only. The original request for ingest."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "ingestConversationsStats": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsMetadataIngestConversationsStats",
          "description": "Output only. Statistics for IngestConversations operation.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "The metadata for an IngestConversations operation."
    },
    "GoogleCloudContactcenterinsightsV1alpha1RuntimeAnnotation": {
      "properties": {
        "annotationId": {
          "description": "The unique identifier of the annotation. Format: projects/{project}/locations/{location}/conversationDatasets/{dataset}/conversationDataItems/{data_item}/conversationAnnotations/{annotation}",
          "type": "string"
        },
        "generatorSuggestionResult": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1GetGeneratorSuggestionResponse",
          "description": "The generator suggestion result."
        },
        "faqAnswer": {
          "description": "Agent Assist FAQ answer data.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1FaqAnswerData"
        },
        "dialogflowInteraction": {
          "description": "Dialogflow interaction data.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DialogflowInteractionData"
        },
        "endBoundary": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotationBoundary",
          "description": "The boundary in the conversation where the annotation ends, inclusive."
        },
        "answerFeedback": {
          "description": "The feedback that the customer has about the answer in `data`.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnswerFeedback"
        },
        "smartComposeSuggestion": {
          "description": "Agent Assist Smart Compose suggestion data.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SmartComposeSuggestionData"
        },
        "articleSuggestion": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ArticleSuggestionData",
          "description": "Agent Assist Article Suggestion data."
        },
        "knowledgeAssistResult": {
          "description": "The Knowledge Assist result.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1GetKnowledgeAssistResponse"
        },
        "startBoundary": {
          "description": "The boundary in the conversation where the annotation starts, inclusive.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotationBoundary"
        },
        "knowledgeSearchResult": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SearchKnowledgeAnswer",
          "description": "The Knowledge Search result."
        },
        "createTime": {
          "description": "The time at which this annotation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "conversationSummarizationSuggestion": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationSummarizationSuggestionData",
          "description": "Conversation summarization suggestion data."
        },
        "smartReply": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SmartReplyData",
          "description": "Agent Assist Smart Reply data."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1RuntimeAnnotation",
      "type": "object",
      "description": "An annotation that was generated during the customer and agent interaction."
    },
    "GoogleCloudContactcenterinsightsV1GetKnowledgeAssistResponseKnowledgeAnswerGenerativeSource": {
      "description": "Details about source of Generative answer.",
      "properties": {
        "snippets": {
          "description": "All snippets used for this Generative Prediction, with their source URI and data.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1GetKnowledgeAssistResponseKnowledgeAnswerGenerativeSourceSnippet"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1GetKnowledgeAssistResponseKnowledgeAnswerGenerativeSource"
    },
    "GoogleCloudContactcenterinsightsV1IssueModelLabelStats": {
      "id": "GoogleCloudContactcenterinsightsV1IssueModelLabelStats",
      "properties": {
        "analyzedConversationsCount": {
          "description": "Number of conversations the issue model has analyzed at this point in time.",
          "format": "int64",
          "type": "string"
        },
        "unclassifiedConversationsCount": {
          "type": "string",
          "description": "Number of analyzed conversations for which no issue was applicable at this point in time.",
          "format": "int64"
        },
        "issueStats": {
          "description": "Statistics on each issue. Key is the issue's resource name.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1IssueModelLabelStatsIssueStats"
          }
        }
      },
      "description": "Aggregated statistics about an issue model.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1Conversation": {
      "id": "GoogleCloudContactcenterinsightsV1Conversation",
      "properties": {
        "duration": {
          "readOnly": true,
          "description": "Output only. The duration of the conversation.",
          "format": "google-duration",
          "type": "string"
        },
        "name": {
          "description": "Immutable. The resource name of the conversation. Format: projects/{project}/locations/{location}/conversations/{conversation}",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map for the user to specify any custom fields. A maximum of 20 labels per conversation is allowed, with a maximum of 256 characters per entry."
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "The time at which this conversation should expire. After this time, the conversation data and any associated analyses will be deleted.",
          "type": "string"
        },
        "runtimeAnnotations": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1RuntimeAnnotation"
          },
          "description": "Output only. The annotations that were generated during the customer and agent interaction.",
          "type": "array"
        },
        "dialogflowIntents": {
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1DialogflowIntent"
          },
          "description": "Output only. All the matched Dialogflow intents in the call. The key corresponds to a Dialogflow intent, format: projects/{project}/agent/{agent}/intents/{intent}"
        },
        "transcript": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscript",
          "description": "Output only. The conversation transcript.",
          "readOnly": true
        },
        "turnCount": {
          "description": "Output only. The number of turns in the conversation.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "dataSource": {
          "description": "The source of the audio and transcription for the conversation.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationDataSource"
        },
        "latestAnalysis": {
          "$ref": "GoogleCloudContactcenterinsightsV1Analysis",
          "description": "Output only. The conversation's latest analysis, if one exists.",
          "readOnly": true
        },
        "agentId": {
          "description": "An opaque, user-specified string representing the human agent who handled the conversation.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which the conversation was created.",
          "type": "string"
        },
        "latestSummary": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationSummarizationSuggestionData",
          "description": "Output only. Latest summary of the conversation."
        },
        "callMetadata": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationCallMetadata",
          "description": "Call-specific metadata."
        },
        "obfuscatedUserId": {
          "type": "string",
          "description": "Obfuscated user ID which the customer sent to us."
        },
        "qualityMetadata": {
          "description": "Conversation metadata related to quality management.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationQualityMetadata"
        },
        "languageCode": {
          "description": "A user-specified language code for the conversation.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the conversation started."
        },
        "ttl": {
          "type": "string",
          "description": "Input only. The TTL for this resource. If specified, then this TTL will be used to calculate the expire time.",
          "format": "google-duration"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The most recent time at which the conversation was updated."
        },
        "medium": {
          "enumDescriptions": [
            "Default value, if unspecified will default to PHONE_CALL.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ],
          "description": "Immutable. The conversation medium, if unspecified will default to PHONE_CALL.",
          "type": "string",
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ]
        }
      },
      "description": "The conversation resource.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1DeployIssueModelResponse": {
      "properties": {},
      "description": "The response to deploy an issue model.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1DeployIssueModelResponse"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ImportIssueModelRequest": {
      "type": "object",
      "description": "Request to import an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ImportIssueModelRequest",
      "properties": {
        "gcsSource": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ImportIssueModelRequestGcsSource",
          "description": "Google Cloud Storage source message."
        },
        "createNewModel": {
          "description": "Optional. If set to true, will create a new issue model from the imported file with randomly generated IDs for the issue model and corresponding issues. Otherwise, replaces an existing model with the same ID as the file.",
          "type": "boolean"
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource of the issue model."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1AgentCoachingSuggestionSampleResponse": {
      "description": "Sample response that the agent can use. This could be based on applicable instructions and ingested data from other systems.",
      "type": "object",
      "properties": {
        "responseText": {
          "type": "string",
          "description": "Optional. Sample response for Agent in text."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1AgentCoachingSuggestionSampleResponse"
    },
    "GoogleCloudContactcenterinsightsV1ExportIssueModelMetadata": {
      "description": "Metadata used for export issue model.",
      "properties": {
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1ExportIssueModelRequest",
          "description": "The original export request."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the operation was created."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time the operation finished running.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ExportIssueModelMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1GetKnowledgeAssistResponseKnowledgeAnswerGenerativeSourceSnippet": {
      "description": "Snippet Source for a Generative Prediction.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1GetKnowledgeAssistResponseKnowledgeAnswerGenerativeSourceSnippet",
      "type": "object",
      "properties": {
        "uri": {
          "description": "URI the data is sourced from.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title of the document."
        },
        "text": {
          "type": "string",
          "description": "text taken from that URI."
        },
        "document": {
          "type": "string",
          "description": "Indicates which Knowledge Document this snippet was extracted from. Format: `projects//knowledgeBases//documents/`."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1SearchKnowledgeAnswerAnswerSource": {
      "description": "The sources of the answers.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1SearchKnowledgeAnswerAnswerSource",
      "properties": {
        "snippet": {
          "type": "string",
          "description": "The relevant snippet of the article."
        },
        "document": {
          "description": "The document from which the snippet was extracted. Format: `projects//knowledgeBases//documents/`",
          "type": "string"
        },
        "uri": {
          "description": "The URI of the article.",
          "type": "string"
        },
        "title": {
          "description": "The title of the article.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1IssueModel": {
      "description": "The issue model resource.",
      "properties": {
        "trainingStats": {
          "description": "Output only. Immutable. The issue model's label statistics on its training data.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueModelLabelStats",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which this issue model was created.",
          "type": "string",
          "readOnly": true
        },
        "modelType": {
          "enumDescriptions": [
            "Unspecified model type.",
            "Type V1.",
            "Type V2."
          ],
          "type": "string",
          "description": "Type of the model.",
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "TYPE_V1",
            "TYPE_V2"
          ]
        },
        "inputDataConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueModelInputDataConfig",
          "description": "Configs for the input data that used to create the issue model."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the issue model. Format: projects/{project}/locations/{location}/issueModels/{issue_model}"
        },
        "state": {
          "description": "Output only. State of the model.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Model is not deployed but is ready to deploy.",
            "Model is being deployed.",
            "Model is deployed and is ready to be used. A model can only be used in analysis if it's in this state.",
            "Model is being undeployed.",
            "Model is being deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "UNDEPLOYED",
            "DEPLOYING",
            "DEPLOYED",
            "UNDEPLOYING",
            "DELETING"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "The representative name for the issue model."
        },
        "issueCount": {
          "type": "string",
          "description": "Output only. Number of issues in this issue model.",
          "readOnly": true,
          "format": "int64"
        },
        "languageCode": {
          "type": "string",
          "description": "Language of the model."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The most recent time at which the issue model was updated.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1IssueModel",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1GeneratorSuggestion": {
      "description": "Suggestion generated using a Generator.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1GeneratorSuggestion",
      "properties": {
        "freeFormSuggestion": {
          "description": "Optional. Free form suggestion.",
          "$ref": "GoogleCloudContactcenterinsightsV1FreeFormSuggestion"
        },
        "agentCoachingSuggestion": {
          "$ref": "GoogleCloudContactcenterinsightsV1AgentCoachingSuggestion",
          "description": "Optional. Suggestion to coach the agent."
        },
        "summarySuggestion": {
          "$ref": "GoogleCloudContactcenterinsightsV1SummarySuggestion",
          "description": "Optional. Suggested summary."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ArticleSuggestionData": {
      "id": "GoogleCloudContactcenterinsightsV1ArticleSuggestionData",
      "description": "Agent Assist Article Suggestion data.",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map that contains metadata about the Article Suggestion and the document that it originates from.",
          "type": "object"
        },
        "confidenceScore": {
          "format": "float",
          "type": "number",
          "description": "The system's confidence score that this article is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain)."
        },
        "queryRecord": {
          "type": "string",
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}"
        },
        "uri": {
          "description": "Article URI.",
          "type": "string"
        },
        "title": {
          "description": "Article title.",
          "type": "string"
        },
        "source": {
          "type": "string",
          "description": "The knowledge document that this answer was extracted from. Format: projects/{project}/knowledgeBases/{knowledge_base}/documents/{document}"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1AnalysisResultCallAnalysisMetadata": {
      "type": "object",
[...]
