{
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v1alpha1",
  "description": "",
  "batchPath": "batch",
  "baseUrl": "https://contactcenteraiplatform.googleapis.com/",
  "canonicalName": "CCAI Platform",
  "version_module": true,
  "discoveryVersion": "v1",
  "title": "Contact Center AI Platform API",
  "mtlsRootUrl": "https://contactcenteraiplatform.mtls.googleapis.com/",
  "id": "contactcenteraiplatform:v1alpha1",
  "revision": "20230103",
  "resources": {
    "projects": {
      "methods": {
        "queryContactCenterQuota": {
          "flatPath": "v1alpha1/projects/{projectsId}:queryContactCenterQuota",
          "parameterOrder": [
            "parent"
          ],
          "path": "v1alpha1/{+parent}:queryContactCenterQuota",
          "parameters": {
            "parent": {
              "pattern": "^projects/[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. Parent project resource id."
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "ContactCenterQuota"
          },
          "id": "contactcenteraiplatform.projects.queryContactCenterQuota",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Queries the contact center quota, an aggregation over all the projects, that belongs to the billing account, which the input project belongs to."
        }
      },
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "flatPath": "v1alpha1/projects/{projectsId}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "id": "contactcenteraiplatform.projects.locations.list",
              "path": "v1alpha1/{+name}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "description": "Lists information about the supported locations for this service."
            },
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Resource name for the location.",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Location"
              },
              "id": "contactcenteraiplatform.projects.locations.get",
              "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}",
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets information about a location."
            },
            "queryContactCenterQuota": {
              "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}:queryContactCenterQuota",
              "path": "v1alpha1/{+parent}/locations/{locationsId}:queryContactCenterQuota",
              "httpMethod": "GET",
              "parameters": {
                "locationsId": {
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. Parent project resource id.",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "id": "contactcenteraiplatform.projects.locations.queryContactCenterQuota",
              "description": "Queries the contact center quota, an aggregation over all the projects, that belongs to the billing account, which the input project belongs to.",
              "parameterOrder": [
                "parent",
                "locationsId"
              ],
              "response": {
                "$ref": "ContactCenterQuota"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "contactCenters": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/contactCenters/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the resource"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha1/{+name}",
                  "id": "contactcenteraiplatform.projects.locations.contactCenters.get",
                  "description": "Gets details of a single ContactCenter.",
                  "response": {
                    "$ref": "ContactCenter"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/contactCenters/{contactCentersId}",
                  "httpMethod": "GET"
                },
                "create": {
                  "httpMethod": "POST",
                  "description": "Creates a new ContactCenter in a given project and location.",
                  "path": "v1alpha1/{+parent}/contactCenters",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Value for parent.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "contactCenterId": {
                      "description": "Required. Id of the requesting object If auto-generating Id server-side, remove this field and contact_center_id from the method_signature of Create RPC",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/contactCenters",
                  "request": {
                    "$ref": "ContactCenter"
                  },
                  "id": "contactcenteraiplatform.projects.locations.contactCenters.create"
                },
                "patch": {
                  "request": {
                    "$ref": "ContactCenter"
                  },
                  "path": "v1alpha1/{+name}",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/contactCenters/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "name of resource",
                      "required": true
                    },
                    "updateMask": {
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the ContactCenter resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "description": "Updates the parameters of a single ContactCenter.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/contactCenters/{contactCentersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "contactcenteraiplatform.projects.locations.contactCenters.patch"
                },
                "list": {
                  "path": "v1alpha1/{+parent}/contactCenters",
                  "id": "contactcenteraiplatform.projects.locations.contactCenters.list",
                  "description": "Lists ContactCenters in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/contactCenters",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results the server should return."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent value for ListContactCentersRequest",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Hint for how to order the results"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Filtering results",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListContactCentersResponse"
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "contactcenteraiplatform.projects.locations.contactCenters.delete",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/contactCenters/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. Name of the resource",
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "httpMethod": "DELETE",
                  "path": "v1alpha1/{+name}",
                  "description": "Deletes a single ContactCenter.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/contactCenters/{contactCentersId}"
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "contactcenteraiplatform.projects.locations.operations.get",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1alpha1/{+name}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "cancel": {
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "path": "v1alpha1/{+name}:cancel",
                  "id": "contactcenteraiplatform.projects.locations.operations.cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "POST"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "contactcenteraiplatform.projects.locations.operations.delete",
                  "path": "v1alpha1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "DELETE",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                  "id": "contactcenteraiplatform.projects.locations.operations.list",
                  "parameters": {
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "required": true
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "The standard list page size."
                    }
                  },
                  "path": "v1alpha1/{+name}/operations"
                }
              }
            }
          }
        }
      }
    }
  },
  "servicePath": "",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "schemas": {
    "ListContactCentersResponse": {
      "description": "Message for response to listing ContactCenters",
      "properties": {
        "contactCenters": {
          "type": "array",
          "description": "The list of ContactCenter",
          "items": {
            "$ref": "ContactCenter"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListContactCentersResponse",
      "type": "object"
    },
    "CancelOperationRequest": {
      "type": "object",
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "contactCenter": {
          "$ref": "ContactCenter",
          "description": "Contact center information for this request"
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object"
    },
    "SAMLParams": {
      "type": "object",
      "description": "Message storing SAML params to enable Google as IDP.",
      "id": "SAMLParams",
      "properties": {
        "certificate": {
          "description": "SAML certificate",
          "type": "string"
        },
        "ssoUri": {
          "description": "Single sign-on URL",
          "type": "string"
        },
        "userEmail": {
          "type": "string",
          "description": "Email address of the first admin users."
        },
        "entityId": {
          "type": "string",
          "description": "Entity id URL"
        }
      }
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "type": "object"
    },
    "ContactCenterQuota": {
      "properties": {
        "contactCenterCountSum": {
          "type": "integer",
          "format": "int32",
          "description": "Reflects the count sum of contact centers on a billing account."
        },
        "contactCenterCountLimit": {
          "description": "Reflects the count limit of contact centers on a billing account.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "ContactCenterQuota",
      "type": "object",
      "description": "Represents a quota for contact centers."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      }
    },
    "Location": {
      "type": "object",
      "id": "Location",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        }
      },
      "description": "A resource that represents Google Cloud Platform location."
    },
    "ListLocationsResponse": {
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "id": "ListLocationsResponse"
    },
    "InstanceConfig": {
      "description": "Message storing the instance configuration.",
      "type": "object",
      "properties": {
        "instanceSize": {
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Instance Size STANDARD_SMALL.",
            "Instance Size STANDARD_MEDIUM.",
            "Instance Size STANDARD_LARGE."
          ],
          "type": "string",
          "description": "The instance size of this the instance configuration.",
          "enum": [
            "INSTANCE_SIZE_UNSPECIFIED",
            "STANDARD_SMALL",
            "STANDARD_MEDIUM",
            "STANDARD_LARGE"
          ]
        }
      },
      "id": "InstanceConfig"
    },
    "URIs": {
      "description": "Message storing the URIs of the ContactCenter.",
      "type": "object",
      "properties": {
        "chatBotUri": {
          "description": "Chat Bot Uri of the ContactCenter",
          "type": "string"
        },
        "mediaUri": {
          "description": "Media Uri of the ContactCenter.",
          "type": "string"
        },
        "virtualAgentStreamingServiceUri": {
          "description": "Virtual Agent Streaming Service Uri of the ContactCenter.",
          "type": "string"
        },
        "rootUri": {
          "type": "string",
          "description": "Root Uri of the ContactCenter."
        }
      },
      "id": "URIs"
    },
    "ContactCenter": {
      "description": "Message describing ContactCenter object",
      "type": "object",
      "id": "ContactCenter",
      "properties": {
        "samlParams": {
          "description": "Optional. Params that sets up Google as IdP.",
          "$ref": "SAMLParams"
        },
        "uris": {
          "readOnly": true,
          "$ref": "URIs",
          "description": "Output only. URIs to access the deployed ContactCenters."
        },
        "createTime": {
          "description": "Output only. [Output only] Create time stamp",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_DEPLOYING",
            "STATE_DEPLOYED",
            "STATE_TERMINATING",
            "STATE_FAILED",
            "STATE_TERMINATING_FAILED",
            "STATE_TERMINATED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "State DEPLOYING",
            "State DEPLOYED",
            "State TERMINATING",
            "State FAILED",
            "State TERMINATING_FAILED",
            "State TERMINATED"
          ],
          "description": "Output only. The state of this contact center.",
          "readOnly": true
        },
        "labels": {
          "description": "Labels as key value pairs",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "ccaipManagedUsers": {
          "type": "boolean",
          "description": "Optional. Whether to enable users to be created in the CCAIP-instance concurrently to having users in Cloud identity"
        },
        "displayName": {
          "type": "string",
          "description": "Required. A user friendly name for the ContactCenter."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. [Output only] Update time stamp"
        },
        "userEmail": {
          "description": "Optional. Email address of the first admin users.",
          "type": "string"
        },
        "customerDomainPrefix": {
          "description": "Required. Immutable. At least 2 and max 16 char long, must conform to [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt).",
          "type": "string"
        },
        "name": {
          "description": "name of resource",
          "type": "string"
        },
        "instanceConfig": {
          "description": "The configuration of this instance, it is currently immutable once created.",
          "$ref": "InstanceConfig"
        }
      }
    }
  },
  "name": "contactcenteraiplatform",
  "documentationLink": "https://cloud.google.com/solutions/contact-center-ai-platform",
  "rootUrl": "https://contactcenteraiplatform.googleapis.com/",
  "ownerName": "Google",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  }
}
