{
  "id": "content:v2",
  "documentationLink": "https://developers.google.com/shopping-content/v2/",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "rootUrl": "https://shoppingcontent.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "content/v2/",
  "batchPath": "batch",
  "description": "Manage your product listings and accounts for Google Shopping",
  "version": "v2",
  "kind": "discovery#restDescription",
  "resources": {
    "orderreports": {
      "methods": {
        "listtransactions": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "OrderreportsListTransactionsResponse"
          },
          "flatPath": "{merchantId}/orderreports/disbursements/{disbursementId}/transactions",
          "httpMethod": "GET",
          "path": "{merchantId}/orderreports/disbursements/{disbursementId}/transactions",
          "description": "Retrieves a list of transactions for a disbursement from your Merchant Center account.",
          "id": "content.orderreports.listtransactions",
          "parameters": {
            "disbursementId": {
              "type": "string",
              "location": "path",
              "description": "The Google-provided ID of the disbursement (found in Wallet).",
              "required": true
            },
            "maxResults": {
              "location": "query",
              "description": "The maximum number of disbursements to return in the response, used for paging.",
              "format": "uint32",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            },
            "transactionStartDate": {
              "location": "query",
              "type": "string",
              "description": "The first date in which transaction occurred. In ISO 8601 format."
            },
            "transactionEndDate": {
              "location": "query",
              "description": "The last date in which transaction occurred. In ISO 8601 format. Default: current date.",
              "type": "string"
            },
            "merchantId": {
              "required": true,
              "type": "string",
              "location": "path",
              "format": "uint64",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account."
            }
          },
          "parameterOrder": [
            "merchantId",
            "disbursementId"
          ]
        },
        "listdisbursements": {
          "description": "Retrieves a report for disbursements from your Merchant Center account.",
          "path": "{merchantId}/orderreports/disbursements",
          "httpMethod": "GET",
          "response": {
            "$ref": "OrderreportsListDisbursementsResponse"
          },
          "parameterOrder": [
            "merchantId"
          ],
          "flatPath": "{merchantId}/orderreports/disbursements",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            },
            "maxResults": {
              "description": "The maximum number of disbursements to return in the response, used for paging.",
              "type": "integer",
              "format": "uint32",
              "location": "query"
            },
            "disbursementEndDate": {
              "location": "query",
              "type": "string",
              "description": "The last date which disbursements occurred. In ISO 8601 format. Default: current date."
            },
            "disbursementStartDate": {
              "description": "The first date which disbursements occurred. In ISO 8601 format.",
              "type": "string",
              "location": "query"
            },
            "merchantId": {
              "type": "string",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true
            }
          },
          "id": "content.orderreports.listdisbursements",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "orderinvoices": {
      "methods": {
        "createrefundinvoice": {
          "path": "{merchantId}/orderinvoices/{orderId}/createRefundInvoice",
          "response": {
            "$ref": "OrderinvoicesCreateRefundInvoiceResponse"
          },
          "parameters": {
            "orderId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the order."
            },
            "merchantId": {
              "format": "uint64",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "content.orderinvoices.createrefundinvoice",
          "flatPath": "{merchantId}/orderinvoices/{orderId}/createRefundInvoice",
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "description": "Creates a refund invoice for one or more shipment groups, and triggers a refund for orderinvoice enabled orders. This can only be used for line items that have previously been charged using `createChargeInvoice`. All amounts (except for the summary) are incremental with respect to the previous invoice.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "OrderinvoicesCreateRefundInvoiceRequest"
          }
        },
        "createchargeinvoice": {
          "description": "Creates a charge invoice for a shipment group, and triggers a charge capture for orderinvoice enabled orders.",
          "httpMethod": "POST",
          "response": {
            "$ref": "OrderinvoicesCreateChargeInvoiceResponse"
          },
          "flatPath": "{merchantId}/orderinvoices/{orderId}/createChargeInvoice",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "OrderinvoicesCreateChargeInvoiceRequest"
          },
          "path": "{merchantId}/orderinvoices/{orderId}/createChargeInvoice",
          "id": "content.orderinvoices.createchargeinvoice",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "parameters": {
            "orderId": {
              "required": true,
              "type": "string",
              "description": "The ID of the order.",
              "location": "path"
            },
            "merchantId": {
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account."
            }
          }
        }
      }
    },
    "accounts": {
      "methods": {
        "authinfo": {
          "path": "accounts/authinfo",
          "httpMethod": "GET",
          "parameterOrder": [],
          "id": "content.accounts.authinfo",
          "description": "Returns information about the authenticated user.",
          "flatPath": "accounts/authinfo",
          "parameters": {},
          "response": {
            "$ref": "AccountsAuthInfoResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "claimwebsite": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/accounts/{accountId}/claimwebsite",
          "httpMethod": "POST",
          "response": {
            "$ref": "AccountsClaimWebsiteResponse"
          },
          "description": "Claims the website of a Merchant Center sub-account.",
          "parameters": {
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "location": "path",
              "format": "uint64",
              "required": true,
              "type": "string"
            },
            "accountId": {
              "location": "path",
              "required": true,
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account whose website is claimed."
            },
            "overwrite": {
              "description": "Only available to selected merchants. When set to `True`, this flag removes any existing claim on the requested website by another account and replaces it with a claim from this account.",
              "type": "boolean",
              "location": "query"
            }
          },
          "flatPath": "{merchantId}/accounts/{accountId}/claimwebsite",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "id": "content.accounts.claimwebsite"
        },
        "list": {
          "httpMethod": "GET",
          "description": "Lists the sub-accounts in your Merchant Center account.",
          "path": "{merchantId}/accounts",
          "parameterOrder": [
            "merchantId"
          ],
          "flatPath": "{merchantId}/accounts",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "AccountsListResponse"
          },
          "id": "content.accounts.list",
          "parameters": {
            "merchantId": {
              "description": "The ID of the managing account. This must be a multi-client account.",
              "type": "string",
              "format": "uint64",
              "location": "path",
              "required": true
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            },
            "maxResults": {
              "format": "uint32",
              "description": "The maximum number of accounts to return in the response, used for paging.",
              "location": "query",
              "type": "integer"
            }
          }
        },
        "get": {
          "id": "content.accounts.get",
          "response": {
            "$ref": "Account"
          },
          "httpMethod": "GET",
          "path": "{merchantId}/accounts/{accountId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/accounts/{accountId}",
          "description": "Retrieves a Merchant Center account.",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "accountId": {
              "type": "string",
              "format": "uint64",
              "required": true,
              "location": "path",
              "description": "The ID of the account."
            },
            "merchantId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64"
            }
          }
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "id": "content.accounts.delete",
          "path": "{merchantId}/accounts/{accountId}",
          "description": "Deletes a Merchant Center sub-account.",
          "flatPath": "{merchantId}/accounts/{accountId}",
          "parameters": {
            "force": {
              "description": "Flag to delete sub-accounts with products. The default value is false.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "dryRun": {
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "location": "query",
              "type": "boolean"
            },
            "accountId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the account.",
              "required": true,
              "format": "uint64"
            },
            "merchantId": {
              "type": "string",
              "description": "The ID of the managing account. This must be a multi-client account, and accountId must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "DELETE"
        },
        "update": {
          "id": "content.accounts.update",
          "response": {
            "$ref": "Account"
          },
          "flatPath": "{merchantId}/accounts/{accountId}",
          "parameters": {
            "dryRun": {
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "location": "query",
              "type": "boolean"
            },
            "accountId": {
              "required": true,
              "location": "path",
              "description": "The ID of the account.",
              "format": "uint64",
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Updates a Merchant Center account. Any fields that are not provided are deleted from the resource.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "Account"
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "path": "{merchantId}/accounts/{accountId}",
          "httpMethod": "PUT"
        },
        "link": {
          "flatPath": "{merchantId}/accounts/{accountId}/link",
          "description": "Performs an action on a link between two Merchant Center accounts, namely accountId and linkedAccountId.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "required": true,
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string"
            },
            "accountId": {
              "type": "string",
              "location": "path",
              "format": "uint64",
              "description": "The ID of the account that should be linked.",
              "required": true
            }
          },
          "id": "content.accounts.link",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "path": "{merchantId}/accounts/{accountId}/link",
          "request": {
            "$ref": "AccountsLinkRequest"
          },
          "response": {
            "$ref": "AccountsLinkResponse"
          }
        },
        "insert": {
          "response": {
            "$ref": "Account"
          },
          "parameterOrder": [
            "merchantId"
          ],
          "id": "content.accounts.insert",
          "flatPath": "{merchantId}/accounts",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "dryRun": {
              "type": "boolean",
              "location": "query",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any)."
            },
            "merchantId": {
              "type": "string",
              "location": "path",
              "required": true,
              "format": "uint64",
              "description": "The ID of the managing account. This must be a multi-client account."
            }
          },
          "httpMethod": "POST",
          "description": "Creates a Merchant Center sub-account.",
          "path": "{merchantId}/accounts",
          "request": {
            "$ref": "Account"
          }
        },
        "custombatch": {
          "path": "accounts/batch",
          "description": "Retrieves, inserts, updates, and deletes multiple Merchant Center (sub-)accounts in a single request.",
          "response": {
            "$ref": "AccountsCustomBatchResponse"
          },
          "flatPath": "accounts/batch",
          "request": {
            "$ref": "AccountsCustomBatchRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "content.accounts.custombatch",
          "parameters": {
            "dryRun": {
              "type": "boolean",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "datafeeds": {
      "methods": {
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Updates a datafeed configuration of your Merchant Center account. Any fields that are not provided are deleted from the resource.",
          "id": "content.datafeeds.update",
          "parameters": {
            "merchantId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "required": true,
              "format": "uint64"
            },
            "datafeedId": {
              "description": "The ID of the datafeed.",
              "type": "string",
              "required": true,
              "format": "uint64",
              "location": "path"
            },
            "dryRun": {
              "type": "boolean",
              "location": "query",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any)."
            }
          },
          "flatPath": "{merchantId}/datafeeds/{datafeedId}",
          "request": {
            "$ref": "Datafeed"
          },
          "path": "{merchantId}/datafeeds/{datafeedId}",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "response": {
            "$ref": "Datafeed"
          },
          "httpMethod": "PUT"
        },
        "fetchnow": {
          "path": "{merchantId}/datafeeds/{datafeedId}/fetchNow",
          "description": "Invokes a fetch for the datafeed in your Merchant Center account. If you need to call this method more than once per day, we recommend you use the Products service to update your product data.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "flatPath": "{merchantId}/datafeeds/{datafeedId}/fetchNow",
          "parameters": {
            "dryRun": {
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "location": "query",
              "type": "boolean"
            },
            "merchantId": {
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "type": "string",
              "format": "uint64",
              "required": true,
              "location": "path"
            },
            "datafeedId": {
              "type": "string",
              "required": true,
              "description": "The ID of the datafeed to be fetched.",
              "format": "uint64",
              "location": "path"
            }
          },
          "id": "content.datafeeds.fetchnow",
          "response": {
            "$ref": "DatafeedsFetchNowResponse"
          },
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ]
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "DELETE",
          "description": "Deletes a datafeed configuration from your Merchant Center account.",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "type": "string",
              "location": "path",
              "required": true,
              "format": "uint64"
            },
            "datafeedId": {
              "format": "uint64",
              "type": "string",
              "description": "The ID of the datafeed.",
              "required": true,
              "location": "path"
            },
            "dryRun": {
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "type": "boolean",
              "location": "query"
            }
          },
          "id": "content.datafeeds.delete",
          "flatPath": "{merchantId}/datafeeds/{datafeedId}",
          "path": "{merchantId}/datafeeds/{datafeedId}"
        },
        "insert": {
          "id": "content.datafeeds.insert",
          "description": "Registers a datafeed configuration with your Merchant Center account.",
          "path": "{merchantId}/datafeeds",
          "flatPath": "{merchantId}/datafeeds",
          "parameters": {
            "merchantId": {
              "required": true,
              "location": "path",
              "format": "uint64",
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "type": "string"
            },
            "dryRun": {
              "type": "boolean",
              "location": "query",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any)."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "Datafeed"
          },
          "response": {
            "$ref": "Datafeed"
          }
        },
        "list": {
          "response": {
            "$ref": "DatafeedsListResponse"
          },
          "httpMethod": "GET",
          "description": "Lists the configurations for datafeeds in your Merchant Center account.",
          "id": "content.datafeeds.list",
          "path": "{merchantId}/datafeeds",
          "parameters": {
            "merchantId": {
              "required": true,
              "location": "path",
              "description": "The ID of the account that manages the datafeeds. This account cannot be a multi-client account.",
              "format": "uint64",
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "uint32",
              "description": "The maximum number of products to return in the response, used for paging."
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/datafeeds"
        },
        "get": {
          "description": "Retrieves a datafeed configuration from your Merchant Center account.",
          "flatPath": "{merchantId}/datafeeds/{datafeedId}",
          "parameters": {
            "merchantId": {
              "required": true,
              "location": "path",
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "type": "string",
              "format": "uint64"
            },
            "datafeedId": {
              "format": "uint64",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the datafeed."
            }
          },
          "id": "content.datafeeds.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "Datafeed"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/datafeeds/{datafeedId}",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ]
        },
        "custombatch": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "datafeeds/batch",
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "DatafeedsCustomBatchResponse"
          },
          "id": "content.datafeeds.custombatch",
          "flatPath": "datafeeds/batch",
          "request": {
            "$ref": "DatafeedsCustomBatchRequest"
          },
          "parameters": {
            "dryRun": {
              "location": "query",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "type": "boolean"
            }
          },
          "description": "Deletes, fetches, gets, inserts and updates multiple datafeeds in a single request."
        }
      }
    },
    "shippingsettings": {
      "methods": {
        "getsupportedpickupservices": {
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "ShippingsettingsGetSupportedPickupServicesResponse"
          },
          "flatPath": "{merchantId}/supportedPickupServices",
          "path": "{merchantId}/supportedPickupServices",
          "description": "Retrieves supported pickup services for an account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "location": "path",
              "required": true,
              "description": "The ID of the account for which to retrieve the supported pickup services.",
              "type": "string"
            }
          },
          "id": "content.shippingsettings.getsupportedpickupservices"
        },
        "get": {
          "parameters": {
            "accountId": {
              "type": "string",
              "required": true,
              "format": "uint64",
              "location": "path",
              "description": "The ID of the account for which to get/update shipping settings."
            },
            "merchantId": {
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "path": "{merchantId}/shippingsettings/{accountId}",
          "id": "content.shippingsettings.get",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "description": "Retrieves the shipping settings of the account.",
          "response": {
            "$ref": "ShippingSettings"
          },
          "flatPath": "{merchantId}/shippingsettings/{accountId}"
        },
        "getsupportedcarriers": {
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId"
          ],
          "path": "{merchantId}/supportedCarriers",
          "response": {
            "$ref": "ShippingsettingsGetSupportedCarriersResponse"
          },
          "flatPath": "{merchantId}/supportedCarriers",
          "parameters": {
            "merchantId": {
              "description": "The ID of the account for which to retrieve the supported carriers.",
              "type": "string",
              "required": true,
              "location": "path",
              "format": "uint64"
            }
          },
          "id": "content.shippingsettings.getsupportedcarriers",
          "description": "Retrieves supported carriers and carrier services for an account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "list": {
          "flatPath": "{merchantId}/shippingsettings",
          "response": {
            "$ref": "ShippingsettingsListResponse"
          },
          "parameterOrder": [
            "merchantId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.shippingsettings.list",
          "path": "{merchantId}/shippingsettings",
          "parameters": {
            "merchantId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the managing account. This must be a multi-client account.",
              "format": "uint64"
            },
            "maxResults": {
              "format": "uint32",
              "type": "integer",
              "location": "query",
              "description": "The maximum number of shipping settings to return in the response, used for paging."
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            }
          },
          "description": "Lists the shipping settings of the sub-accounts in your Merchant Center account."
        },
        "getsupportedholidays": {
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "required": true,
              "type": "string",
              "description": "The ID of the account for which to retrieve the supported holidays.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "ShippingsettingsGetSupportedHolidaysResponse"
          },
          "flatPath": "{merchantId}/supportedHolidays",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "path": "{merchantId}/supportedHolidays",
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Retrieves supported holidays for an account.",
          "id": "content.shippingsettings.getsupportedholidays"
        },
        "custombatch": {
          "parameterOrder": [],
          "flatPath": "shippingsettings/batch",
          "id": "content.shippingsettings.custombatch",
          "path": "shippingsettings/batch",
          "parameters": {
            "dryRun": {
              "type": "boolean",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "location": "query"
            }
          },
          "response": {
            "$ref": "ShippingsettingsCustomBatchResponse"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "ShippingsettingsCustomBatchRequest"
          },
          "description": "Retrieves and updates the shipping settings of multiple accounts in a single request."
        },
        "update": {
          "httpMethod": "PUT",
          "parameters": {
            "dryRun": {
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "type": "boolean",
              "location": "query"
            },
            "accountId": {
              "description": "The ID of the account for which to get/update shipping settings.",
              "type": "string",
              "format": "uint64",
              "required": true,
              "location": "path"
            },
            "merchantId": {
              "location": "path",
              "required": true,
              "format": "uint64",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string"
            }
          },
          "path": "{merchantId}/shippingsettings/{accountId}",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "request": {
            "$ref": "ShippingSettings"
          },
          "flatPath": "{merchantId}/shippingsettings/{accountId}",
          "description": "Updates the shipping settings of the account. Any fields that are not provided are deleted from the resource.",
          "response": {
            "$ref": "ShippingSettings"
          },
          "id": "content.shippingsettings.update",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "pos": {
      "methods": {
        "delete": {
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.pos.delete",
          "path": "{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "parameters": {
            "storeCode": {
              "required": true,
              "description": "A store code that is unique per merchant.",
              "location": "path",
              "type": "string"
            },
            "merchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the POS or inventory data provider.",
              "format": "uint64"
            },
            "targetMerchantId": {
              "location": "path",
              "description": "The ID of the target merchant.",
              "format": "uint64",
              "type": "string",
              "required": true
            },
            "dryRun": {
              "type": "boolean",
              "location": "query",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any)."
            }
          },
          "description": "Deletes a store for the given merchant.",
          "flatPath": "{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId",
            "storeCode"
          ]
        },
        "sale": {
          "httpMethod": "POST",
          "flatPath": "{merchantId}/pos/{targetMerchantId}/sale",
          "path": "{merchantId}/pos/{targetMerchantId}/sale",
          "description": "Submit a sale event for the given merchant.",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "id": "content.pos.sale",
          "response": {
            "$ref": "PosSaleResponse"
          },
          "parameters": {
            "targetMerchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the target merchant.",
              "format": "uint64"
            },
            "dryRun": {
              "type": "boolean",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "location": "query"
            },
            "merchantId": {
              "location": "path",
              "format": "uint64",
              "required": true,
              "type": "string",
              "description": "The ID of the POS or inventory data provider."
            }
          },
          "request": {
            "$ref": "PosSaleRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "insert": {
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "response": {
            "$ref": "PosStore"
          },
          "parameters": {
            "merchantId": {
              "description": "The ID of the POS or inventory data provider.",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "uint64"
            },
            "targetMerchantId": {
              "required": true,
              "location": "path",
              "description": "The ID of the target merchant.",
              "format": "uint64",
              "type": "string"
            },
            "dryRun": {
              "type": "boolean",
              "location": "query",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any)."
            }
          },
          "path": "{merchantId}/pos/{targetMerchantId}/store",
          "flatPath": "{merchantId}/pos/{targetMerchantId}/store",
          "request": {
            "$ref": "PosStore"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Creates a store for the given merchant.",
          "httpMethod": "POST",
          "id": "content.pos.insert"
        },
        "get": {
          "description": "Retrieves information about the given store.",
          "parameters": {
            "storeCode": {
              "description": "A store code that is unique per merchant.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "targetMerchantId": {
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the target merchant.",
              "required": true
            },
            "merchantId": {
              "description": "The ID of the POS or inventory data provider.",
              "location": "path",
              "type": "string",
              "required": true,
              "format": "uint64"
            }
          },
          "httpMethod": "GET",
          "id": "content.pos.get",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId",
            "storeCode"
          ],
          "flatPath": "{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "response": {
            "$ref": "PosStore"
          },
          "path": "{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "path": "{merchantId}/pos/{targetMerchantId}/store",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "targetMerchantId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the target merchant.",
              "format": "uint64"
            },
            "merchantId": {
              "description": "The ID of the POS or inventory data provider.",
              "location": "path",
              "type": "string",
              "required": true,
              "format": "uint64"
            }
          },
          "response": {
            "$ref": "PosListResponse"
          },
          "flatPath": "{merchantId}/pos/{targetMerchantId}/store",
          "id": "content.pos.list",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "description": "Lists the stores of the target merchant."
        },
        "custombatch": {
          "request": {
            "$ref": "PosCustomBatchRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Batches multiple POS-related calls in a single request.",
          "id": "content.pos.custombatch",
          "httpMethod": "POST",
          "parameterOrder": [],
          "flatPath": "pos/batch",
          "response": {
            "$ref": "PosCustomBatchResponse"
          },
          "parameters": {
            "dryRun": {
              "location": "query",
              "type": "boolean",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any)."
            }
          },
          "path": "pos/batch"
        },
        "inventory": {
          "id": "content.pos.inventory",
          "flatPath": "{merchantId}/pos/{targetMerchantId}/inventory",
          "request": {
            "$ref": "PosInventoryRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "type": "string",
              "description": "The ID of the POS or inventory data provider.",
              "location": "path",
              "format": "uint64",
              "required": true
            },
            "targetMerchantId": {
              "description": "The ID of the target merchant.",
              "location": "path",
              "format": "uint64",
              "required": true,
              "type": "string"
            },
            "dryRun": {
              "location": "query",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "type": "boolean"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "description": "Submit inventory for the given merchant.",
          "path": "{merchantId}/pos/{targetMerchantId}/inventory",
          "response": {
            "$ref": "PosInventoryResponse"
          }
        }
      }
    },
    "accounttax": {
      "methods": {
        "custombatch": {
          "httpMethod": "POST",
          "request": {
            "$ref": "AccounttaxCustomBatchRequest"
          },
          "response": {
            "$ref": "AccounttaxCustomBatchResponse"
          },
          "id": "content.accounttax.custombatch",
          "parameterOrder": [],
          "parameters": {
            "dryRun": {
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "type": "boolean",
              "location": "query"
            }
          },
          "path": "accounttax/batch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "accounttax/batch",
          "description": "Retrieves and updates tax settings of multiple accounts in a single request."
        },
        "update": {
          "response": {
            "$ref": "AccountTax"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "accountId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the account for which to get/update account tax settings.",
              "format": "uint64",
              "required": true
            },
            "dryRun": {
              "location": "query",
              "type": "boolean",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any)."
            },
            "merchantId": {
              "type": "string",
              "location": "path",
              "format": "uint64",
              "required": true,
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account."
            }
          },
          "description": "Updates the tax settings of the account. Any fields that are not provided are deleted from the resource.",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "path": "{merchantId}/accounttax/{accountId}",
          "flatPath": "{merchantId}/accounttax/{accountId}",
          "id": "content.accounttax.update",
          "request": {
            "$ref": "AccountTax"
          }
        },
        "list": {
          "parameters": {
            "merchantId": {
              "description": "The ID of the managing account. This must be a multi-client account.",
              "required": true,
              "location": "path",
              "format": "uint64",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            },
            "maxResults": {
              "location": "query",
              "description": "The maximum number of tax settings to return in the response, used for paging.",
              "type": "integer",
              "format": "uint32"
            }
          },
          "response": {
            "$ref": "AccounttaxListResponse"
          },
          "description": "Lists the tax settings of the sub-accounts in your Merchant Center account.",
          "path": "{merchantId}/accounttax",
          "id": "content.accounttax.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId"
          ],
          "flatPath": "{merchantId}/accounttax"
        },
        "get": {
          "path": "{merchantId}/accounttax/{accountId}",
          "flatPath": "{merchantId}/accounttax/{accountId}",
          "parameters": {
            "accountId": {
              "description": "The ID of the account for which to get/update account tax settings.",
              "type": "string",
              "location": "path",
              "format": "uint64",
              "required": true
            },
            "merchantId": {
              "location": "path",
              "format": "uint64",
              "required": true,
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "AccountTax"
          },
          "httpMethod": "GET",
          "description": "Retrieves the tax settings of the account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.accounttax.get",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ]
        }
      }
    },
    "datafeedstatuses": {
      "methods": {
        "list": {
          "path": "{merchantId}/datafeedstatuses",
          "parameterOrder": [
            "merchantId"
          ],
          "id": "content.datafeedstatuses.list",
          "flatPath": "{merchantId}/datafeedstatuses",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "merchantId": {
              "required": true,
              "format": "uint64",
              "type": "string",
              "location": "path",
              "description": "The ID of the account that manages the datafeeds. This account cannot be a multi-client account."
            },
            "maxResults": {
              "format": "uint32",
              "type": "integer",
              "location": "query",
              "description": "The maximum number of products to return in the response, used for paging."
            }
          },
          "description": "Lists the statuses of the datafeeds in your Merchant Center account.",
          "response": {
            "$ref": "DatafeedstatusesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "get": {
          "response": {
            "$ref": "DatafeedStatus"
          },
          "description": "Retrieves the status of a datafeed from your Merchant Center account.",
          "flatPath": "{merchantId}/datafeedstatuses/{datafeedId}",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "parameters": {
            "country": {
              "description": "The country for which to get the datafeed status. If this parameter is provided then language must also be provided. Note that this parameter is required for feeds targeting multiple countries and languages, since a feed may have a different status for each target.",
              "location": "query",
              "type": "string"
            },
            "merchantId": {
              "location": "path",
              "type": "string",
              "required": true,
              "format": "uint64",
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account."
            },
            "datafeedId": {
              "description": "The ID of the datafeed.",
              "format": "uint64",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "language": {
              "description": "The language for which to get the datafeed status. If this parameter is provided then country must also be provided. Note that this parameter is required for feeds targeting multiple countries and languages, since a feed may have a different status for each target.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/datafeedstatuses/{datafeedId}",
          "id": "content.datafeedstatuses.get",
          "httpMethod": "GET"
        },
        "custombatch": {
          "path": "datafeedstatuses/batch",
          "parameters": {},
          "request": {
            "$ref": "DatafeedstatusesCustomBatchRequest"
          },
          "flatPath": "datafeedstatuses/batch",
          "description": "Gets multiple Merchant Center datafeed statuses in a single request.",
          "id": "content.datafeedstatuses.custombatch",
          "httpMethod": "POST",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "DatafeedstatusesCustomBatchResponse"
          }
        }
      }
    },
    "liasettings": {
      "methods": {
        "setinventoryverificationcontact": {
          "id": "content.liasettings.setinventoryverificationcontact",
          "response": {
            "$ref": "LiasettingsSetInventoryVerificationContactResponse"
          },
          "flatPath": "{merchantId}/liasettings/{accountId}/setinventoryverificationcontact",
          "parameterOrder": [
            "merchantId",
            "accountId",
            "country",
            "language",
            "contactName",
            "contactEmail"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "contactEmail": {
              "type": "string",
              "description": "The email of the inventory verification contact.",
              "location": "query",
              "required": true
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The language for which inventory verification is requested.",
              "required": true
            },
            "contactName": {
              "description": "The name of the inventory verification contact.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true
            },
            "country": {
              "required": true,
              "type": "string",
              "location": "query",
              "description": "The country for which inventory verification is requested."
            },
            "accountId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "required": true
            }
          },
          "description": "Sets the inventory verification contract for the specified country.",
          "path": "{merchantId}/liasettings/{accountId}/setinventoryverificationcontact"
        },
        "listposdataproviders": {
          "httpMethod": "GET",
          "path": "liasettings/posdataproviders",
          "id": "content.liasettings.listposdataproviders",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "liasettings/posdataproviders",
          "parameters": {},
          "description": "Retrieves the list of POS data providers that have active settings for the all eiligible countries.",
          "response": {
            "$ref": "LiasettingsListPosDataProvidersResponse"
          }
        },
        "setposdataprovider": {
          "path": "{merchantId}/liasettings/{accountId}/setposdataprovider",
          "flatPath": "{merchantId}/liasettings/{accountId}/setposdataprovider",
          "parameters": {
            "posExternalAccountId": {
              "description": "The account ID by which this merchant is known to the POS data provider.",
              "location": "query",
              "type": "string"
            },
            "posDataProviderId": {
              "format": "uint64",
              "location": "query",
              "type": "string",
              "description": "The ID of POS data provider."
            },
            "merchantId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64"
            },
            "country": {
              "description": "The country for which the POS data provider is selected.",
              "required": true,
              "type": "string",
              "location": "query"
            },
            "accountId": {
              "description": "The ID of the account for which to retrieve accessible Google My Business accounts.",
              "location": "path",
              "required": true,
              "format": "uint64",
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId",
            "country"
          ],
          "response": {
            "$ref": "LiasettingsSetPosDataProviderResponse"
          },
          "description": "Sets the POS data provider for the specified country.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.liasettings.setposdataprovider",
          "httpMethod": "POST"
        },
        "update": {
          "response": {
            "$ref": "LiaSettings"
          },
          "httpMethod": "PUT",
          "parameters": {
            "accountId": {
              "format": "uint64",
              "location": "path",
              "description": "The ID of the account for which to get or update LIA settings.",
              "required": true,
              "type": "string"
            },
            "dryRun": {
              "type": "boolean",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "location": "query"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string",
              "required": true,
              "format": "uint64",
              "location": "path"
            }
          },
          "request": {
            "$ref": "LiaSettings"
          },
          "id": "content.liasettings.update",
          "path": "{merchantId}/liasettings/{accountId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "flatPath": "{merchantId}/liasettings/{accountId}",
          "description": "Updates the LIA settings of the account. Any fields that are not provided are deleted from the resource."
        },
        "requestinventoryverification": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.liasettings.requestinventoryverification",
          "response": {
            "$ref": "LiasettingsRequestInventoryVerificationResponse"
          },
          "parameters": {
            "merchantId": {
              "required": true,
              "format": "uint64",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string",
              "location": "path"
            },
            "country": {
              "type": "string",
              "required": true,
              "description": "The country for which inventory validation is requested.",
              "location": "path"
            },
            "accountId": {
              "required": true,
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "location": "path",
              "format": "uint64",
              "type": "string"
            }
          },
          "path": "{merchantId}/liasettings/{accountId}/requestinventoryverification/{country}",
          "description": "Requests inventory validation for the specified country.",
          "flatPath": "{merchantId}/liasettings/{accountId}/requestinventoryverification/{country}",
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId",
            "accountId",
            "country"
          ]
        },
        "get": {
          "response": {
            "$ref": "LiaSettings"
          },
          "httpMethod": "GET",
          "flatPath": "{merchantId}/liasettings/{accountId}",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "accountId": {
              "location": "path",
              "format": "uint64",
              "type": "string",
              "description": "The ID of the account for which to get or update LIA settings.",
              "required": true
            },
            "merchantId": {
              "type": "string",
              "required": true,
              "format": "uint64",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "location": "path"
            }
          },
          "path": "{merchantId}/liasettings/{accountId}",
          "id": "content.liasettings.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves the LIA settings of the account."
        },
        "custombatch": {
          "flatPath": "liasettings/batch",
          "description": "Retrieves and/or updates the LIA settings of multiple accounts in a single request.",
          "httpMethod": "POST",
          "response": {
            "$ref": "LiasettingsCustomBatchResponse"
          },
          "path": "liasettings/batch",
          "parameterOrder": [],
          "request": {
            "$ref": "LiasettingsCustomBatchRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "dryRun": {
              "type": "boolean",
              "location": "query",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any)."
            }
          },
          "id": "content.liasettings.custombatch"
        },
        "getaccessiblegmbaccounts": {
          "id": "content.liasettings.getaccessiblegmbaccounts",
          "flatPath": "{merchantId}/liasettings/{accountId}/accessiblegmbaccounts",
          "parameters": {
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "accountId": {
              "required": true,
              "description": "The ID of the account for which to retrieve accessible Google My Business accounts.",
              "type": "string",
              "format": "uint64",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "description": "Retrieves the list of accessible Google My Business accounts.",
          "response": {
            "$ref": "LiasettingsGetAccessibleGmbAccountsResponse"
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "path": "{merchantId}/liasettings/{accountId}/accessiblegmbaccounts",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "requestgmbaccess": {
          "parameterOrder": [
            "merchantId",
            "accountId",
            "gmbEmail"
          ],
          "description": "Requests access to a specified Google My Business account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "path": "{merchantId}/liasettings/{accountId}/requestgmbaccess",
          "id": "content.liasettings.requestgmbaccess",
          "flatPath": "{merchantId}/liasettings/{accountId}/requestgmbaccess",
          "parameters": {
            "merchantId": {
              "type": "string",
              "required": true,
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path"
            },
            "accountId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the account for which GMB access is requested.",
              "required": true,
              "format": "uint64"
            },
            "gmbEmail": {
              "location": "query",
              "description": "The email of the Google My Business account.",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "LiasettingsRequestGmbAccessResponse"
          }
        },
        "list": {
          "path": "{merchantId}/liasettings",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "location": "path",
              "required": true,
              "description": "The ID of the managing account. This must be a multi-client account."
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of LIA settings to return in the response, used for paging.",
              "format": "uint32"
            }
          },
          "response": {
            "$ref": "LiasettingsListResponse"
          },
          "description": "Lists the LIA settings of the sub-accounts in your Merchant Center account.",
          "parameterOrder": [
            "merchantId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/liasettings",
          "id": "content.liasettings.list"
        }
      }
    },
    "accountstatuses": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "AccountstatusesListResponse"
          },
          "parameters": {
            "maxResults": {
              "format": "uint32",
              "description": "The maximum number of account statuses to return in the response, used for paging.",
              "location": "query",
              "type": "integer"
            },
            "merchantId": {
              "format": "uint64",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the managing account. This must be a multi-client account."
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "destinations": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination."
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "id": "content.accountstatuses.list",
          "flatPath": "{merchantId}/accountstatuses",
          "path": "{merchantId}/accountstatuses",
          "description": "Lists the statuses of the sub-accounts in your Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "custombatch": {
          "flatPath": "accountstatuses/batch",
          "path": "accountstatuses/batch",
          "request": {
            "$ref": "AccountstatusesCustomBatchRequest"
          },
          "parameters": {},
          "parameterOrder": [],
          "description": "Retrieves multiple Merchant Center account statuses in a single request.",
          "id": "content.accountstatuses.custombatch",
          "httpMethod": "POST",
          "response": {
            "$ref": "AccountstatusesCustomBatchResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "get": {
          "response": {
            "$ref": "AccountStatus"
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "httpMethod": "GET",
          "id": "content.accountstatuses.get",
          "parameters": {
            "merchantId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64"
            },
            "destinations": {
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "repeated": true,
              "location": "query",
              "type": "string"
            },
            "accountId": {
              "required": true,
              "description": "The ID of the account.",
              "location": "path",
              "format": "uint64",
              "type": "string"
            }
          },
          "flatPath": "{merchantId}/accountstatuses/{accountId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves the status of a Merchant Center account. No itemLevelIssues are returned for multi-client accounts.",
          "path": "{merchantId}/accountstatuses/{accountId}"
        }
      }
    },
    "products": {
      "methods": {
        "custombatch": {
          "flatPath": "products/batch",
          "path": "products/batch",
          "parameterOrder": [],
          "id": "content.products.custombatch",
          "response": {
            "$ref": "ProductsCustomBatchResponse"
          },
          "description": "Retrieves, inserts, and deletes multiple products in a single request.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "dryRun": {
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "type": "boolean",
              "location": "query"
            }
          },
          "request": {
            "$ref": "ProductsCustomBatchRequest"
          },
          "httpMethod": "POST"
        },
        "get": {
          "flatPath": "{merchantId}/products/{productId}",
          "path": "{merchantId}/products/{productId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "description": "Retrieves a product from your Merchant Center account.",
          "id": "content.products.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "Product"
          },
          "parameters": {
            "merchantId": {
              "required": true,
              "type": "string",
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "format": "uint64",
              "location": "path"
            },
            "productId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The REST ID of the product."
            }
          }
        },
        "list": {
          "parameters": {
            "maxResults": {
              "description": "The maximum number of products to return in the response, used for paging.",
              "format": "uint32",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "merchantId": {
              "format": "uint64",
              "type": "string",
              "description": "The ID of the account that contains the products. This account cannot be a multi-client account.",
              "location": "path",
              "required": true
            },
            "includeInvalidInsertedItems": {
              "type": "boolean",
              "location": "query",
              "description": "Flag to include the invalid inserted items in the result of the list request. By default the invalid items are not shown (the default value is false)."
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Lists the products in your Merchant Center account. The response might contain fewer items than specified by maxResults. Rely on nextPageToken to determine if there are more items to be requested.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "ProductsListResponse"
          },
          "flatPath": "{merchantId}/products",
          "httpMethod": "GET",
          "path": "{merchantId}/products",
          "id": "content.products.list"
        },
        "insert": {
          "description": "Uploads a product to your Merchant Center account. If an item with the same channel, contentLanguage, offerId, and targetCountry already exists, this method updates that entry.",
          "response": {
            "$ref": "Product"
          },
          "parameterOrder": [
            "merchantId"
          ],
          "flatPath": "{merchantId}/products",
          "id": "content.products.insert",
          "parameters": {
            "merchantId": {
              "type": "string",
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "location": "path",
              "format": "uint64",
              "required": true
            },
            "dryRun": {
              "location": "query",
              "type": "boolean",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any)."
            }
          },
          "request": {
            "$ref": "Product"
          },
          "path": "{merchantId}/products",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "{merchantId}/products/{productId}",
          "description": "Deletes a product from your Merchant Center account.",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "httpMethod": "DELETE",
          "id": "content.products.delete",
          "path": "{merchantId}/products/{productId}",
          "parameters": {
            "dryRun": {
              "type": "boolean",
              "location": "query",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any)."
            },
            "merchantId": {
              "required": true,
              "format": "uint64",
              "location": "path",
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "type": "string"
            },
            "productId": {
              "required": true,
              "location": "path",
              "description": "The REST ID of the product.",
              "type": "string"
            }
          }
        }
      }
    },
    "inventory": {
      "methods": {
        "custombatch": {
          "path": "inventory/batch",
          "id": "content.inventory.custombatch",
          "response": {
            "$ref": "InventoryCustomBatchResponse"
          },
          "request": {
            "$ref": "InventoryCustomBatchRequest"
          },
          "parameters": {
            "dryRun": {
              "type": "boolean",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "location": "query"
            }
          },
          "description": "Updates price and availability for multiple products or stores in a single request. This operation does not update the expiration date of the products.",
          "flatPath": "inventory/batch",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST"
        },
        "set": {
          "parameterOrder": [
            "merchantId",
            "storeCode",
            "productId"
          ],
          "request": {
            "$ref": "InventorySetRequest"
          },
          "path": "{merchantId}/inventory/{storeCode}/products/{productId}",
          "flatPath": "{merchantId}/inventory/{storeCode}/products/{productId}",
          "response": {
            "$ref": "InventorySetResponse"
          },
          "id": "content.inventory.set",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "description": "Updates price and availability of a product in your Merchant Center account.",
          "parameters": {
            "storeCode": {
              "type": "string",
              "description": "The code of the store for which to update price and availability. Use `online` to update price and availability of an online product.",
              "required": true,
              "location": "path"
            },
            "merchantId": {
              "type": "string",
              "required": true,
              "format": "uint64",
              "location": "path",
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account."
            },
            "dryRun": {
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "type": "boolean",
              "location": "query"
            },
            "productId": {
              "type": "string",
              "description": "The REST ID of the product for which to update price and availability.",
              "location": "path",
              "required": true
            }
          }
        }
      }
    },
    "productstatuses": {
      "methods": {
        "get": {
          "flatPath": "{merchantId}/productstatuses/{productId}",
          "description": "Gets the status of a product from your Merchant Center account.",
          "httpMethod": "GET",
          "response": {
            "$ref": "ProductStatus"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.productstatuses.get",
          "parameters": {
            "includeAttributes": {
              "type": "boolean",
              "description": "Flag to include full product data in the result of this get request. The default value is false.",
              "location": "query"
            },
            "productId": {
              "description": "The REST ID of the product.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "destinations": {
              "type": "string",
              "repeated": true,
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "location": "query"
            },
            "merchantId": {
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "type": "string",
              "location": "path",
              "required": true,
              "format": "uint64"
            }
          },
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "path": "{merchantId}/productstatuses/{productId}"
        },
        "list": {
          "id": "content.productstatuses.list",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "flatPath": "{merchantId}/productstatuses",
          "path": "{merchantId}/productstatuses",
          "parameters": {
            "destinations": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination."
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "includeInvalidInsertedItems": {
              "description": "Flag to include the invalid inserted items in the result of the list request. By default the invalid items are not shown (the default value is false).",
              "location": "query",
              "type": "boolean"
            },
            "includeAttributes": {
              "description": "Flag to include full product data in the results of the list request. The default value is false.",
              "location": "query",
              "type": "boolean"
            },
            "maxResults": {
              "format": "uint32",
              "type": "integer",
              "location": "query",
              "description": "The maximum number of product statuses to return in the response, used for paging."
            },
            "merchantId": {
              "description": "The ID of the account that contains the products. This account cannot be a multi-client account.",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "uint64"
            }
          },
          "response": {
            "$ref": "ProductstatusesListResponse"
          },
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Lists the statuses of the products in your Merchant Center account."
        },
        "custombatch": {
          "request": {
            "$ref": "ProductstatusesCustomBatchRequest"
          },
          "response": {
            "$ref": "ProductstatusesCustomBatchResponse"
          },
          "id": "content.productstatuses.custombatch",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "flatPath": "productstatuses/batch",
          "path": "productstatuses/batch",
          "description": "Gets the statuses of multiple products in a single request.",
          "parameters": {
            "includeAttributes": {
              "description": "Flag to include full product data in the results of this request. The default value is false.",
              "type": "boolean",
              "location": "query"
            }
          }
        }
      }
    },
    "orderreturns": {
      "methods": {
        "list": {
          "flatPath": "{merchantId}/orderreturns",
          "response": {
            "$ref": "OrderreturnsListResponse"
          },
          "parameterOrder": [
            "merchantId"
          ],
          "id": "content.orderreturns.list",
          "parameters": {
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "required": true,
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "location": "path"
            },
            "orderBy": {
              "location": "query",
              "description": "Return the results in the specified order.",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "RETURN_CREATION_TIME_DESC",
                "RETURN_CREATION_TIME_ASC"
              ],
              "type": "string"
            },
            "createdStartDate": {
              "location": "query",
              "description": "Obtains order returns created after this date (inclusively), in ISO 8601 format.",
              "type": "string"
            },
            "createdEndDate": {
              "description": "Obtains order returns created before this date (inclusively), in ISO 8601 format.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "uint32",
              "description": "The maximum number of order returns to return in the response, used for paging. The default value is 25 returns per page, and the maximum allowed value is 250 returns per page."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/orderreturns",
          "description": "Lists order returns in your Merchant Center account.",
          "httpMethod": "GET"
        },
        "get": {
          "parameterOrder": [
            "merchantId",
            "returnId"
          ],
          "httpMethod": "GET",
          "id": "content.orderreturns.get",
          "description": "Retrieves an order return from your Merchant Center account.",
          "parameters": {
            "returnId": {
              "description": "Merchant order return ID generated by Google.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "merchantId": {
              "format": "uint64",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "MerchantOrderReturn"
          },
          "flatPath": "{merchantId}/orderreturns/{returnId}",
          "path": "{merchantId}/orderreturns/{returnId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "orders": {
      "methods": {
        "createtestreturn": {
          "request": {
            "$ref": "OrdersCreateTestReturnRequest"
          },
          "response": {
            "$ref": "OrdersCreateTestReturnResponse"
          },
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "orderId": {
              "required": true,
              "description": "The ID of the order.",
              "type": "string",
              "location": "path"
            },
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "{merchantId}/orders/{orderId}/testreturn",
          "httpMethod": "POST",
          "id": "content.orders.createtestreturn",
          "description": "Sandbox only. Creates a test return.",
          "path": "{merchantId}/orders/{orderId}/testreturn"
        },
        "get": {
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "required": true,
              "location": "path",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "type": "string"
            },
            "orderId": {
              "description": "The ID of the order.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.orders.get",
          "httpMethod": "GET",
          "path": "{merchantId}/orders/{orderId}",
          "response": {
            "$ref": "Order"
          },
          "flatPath": "{merchantId}/orders/{orderId}",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "description": "Retrieves an order from your Merchant Center account."
        },
        "refund": {
          "id": "content.orders.refund",
          "flatPath": "{merchantId}/orders/{orderId}/refund",
          "httpMethod": "POST",
          "parameters": {
            "orderId": {
              "location": "path",
              "description": "The ID of the order to refund.",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "format": "uint64",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "OrdersRefundResponse"
          },
          "request": {
            "$ref": "OrdersRefundRequest"
          },
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Deprecated, please use returnRefundLineItem instead.",
          "path": "{merchantId}/orders/{orderId}/refund"
        },
        "cancel": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Cancels all line items in an order, making a full refund.",
          "request": {
            "$ref": "OrdersCancelRequest"
          },
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "location": "path",
              "required": true,
              "format": "uint64",
              "type": "string"
            },
            "orderId": {
              "location": "path",
              "description": "The ID of the order to cancel.",
              "required": true,
              "type": "string"
            }
          },
          "path": "{merchantId}/orders/{orderId}/cancel",
          "httpMethod": "POST",
          "response": {
            "$ref": "OrdersCancelResponse"
          },
          "id": "content.orders.cancel",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "flatPath": "{merchantId}/orders/{orderId}/cancel"
        },
        "returnlineitem": {
          "response": {
            "$ref": "OrdersReturnLineItemResponse"
          },
          "description": "Returns a line item.",
          "path": "{merchantId}/orders/{orderId}/returnLineItem",
          "flatPath": "{merchantId}/orders/{orderId}/returnLineItem",
          "request": {
            "$ref": "OrdersReturnLineItemRequest"
          },
          "parameters": {
            "merchantId": {
              "required": true,
              "format": "uint64",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "type": "string",
              "location": "path"
            },
            "orderId": {
              "type": "string",
              "description": "The ID of the order.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "httpMethod": "POST",
          "id": "content.orders.returnlineitem"
        },
        "updatelineitemshippingdetails": {
          "parameters": {
            "orderId": {
              "description": "The ID of the order.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "merchantId": {
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account."
            }
          },
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "response": {
            "$ref": "OrdersUpdateLineItemShippingDetailsResponse"
          },
          "description": "Updates ship by and delivery by dates for a line item.",
          "request": {
            "$ref": "OrdersUpdateLineItemShippingDetailsRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "{merchantId}/orders/{orderId}/updateLineItemShippingDetails",
          "flatPath": "{merchantId}/orders/{orderId}/updateLineItemShippingDetails",
          "id": "content.orders.updatelineitemshippingdetails"
        },
        "returnrefundlineitem": {
          "id": "content.orders.returnrefundlineitem",
          "description": "Returns and refunds a line item. Note that this method can only be called on fully shipped orders. Please also note that the Orderreturns API is the preferred way to handle returns after you receive a return from a customer. You can use Orderreturns.list or Orderreturns.get to search for the return, and then use Orderreturns.processreturn to issue the refund. If the return cannot be found, then we recommend using this API to issue a refund.",
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "request": {
            "$ref": "OrdersReturnRefundLineItemRequest"
          },
          "path": "{merchantId}/orders/{orderId}/returnRefundLineItem",
          "response": {
            "$ref": "OrdersReturnRefundLineItemResponse"
          },
          "flatPath": "{merchantId}/orders/{orderId}/returnRefundLineItem",
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "type": "string",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "required": true,
              "location": "path"
            },
            "orderId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the order."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "setlineitemmetadata": {
          "flatPath": "{merchantId}/orders/{orderId}/setLineItemMetadata",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
[...]
