{
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://container.googleapis.com/",
  "mtlsRootUrl": "https://container.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://cloud.google.com/container-engine/",
  "id": "container:v1",
  "protocol": "rest",
  "name": "container",
  "basePath": "",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    }
  },
  "discoveryVersion": "v1",
  "canonicalName": "Container",
  "servicePath": "",
  "revision": "20210413",
  "resources": {
    "projects": {
      "resources": {
        "aggregated": {
          "resources": {
            "usableSubnetworks": {
              "methods": {
                "list": {
                  "id": "container.projects.aggregated.usableSubnetworks.list",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The max number of results per page that should be returned. If the number of available results is larger than `page_size`, a `next_page_token` is returned which can be used to get the next page of results in subsequent requests. Acceptable values are 0 to 500, inclusive. (Default: 500)"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Filtering currently only supports equality on the networkProjectId and must be in the form: \"networkProjectId=[PROJECTID]\", where `networkProjectId` is the project which owns the listed subnetworks. This defaults to the parent project ID."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Specifies a page token to use. Set this to the nextPageToken returned by previous list requests to get the next page of results."
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The parent project where subnetworks are usable. Specified in the format `projects/*`.",
                      "pattern": "^projects/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "ListUsableSubnetworksResponse"
                  },
                  "path": "v1/{+parent}/aggregated/usableSubnetworks",
                  "description": "Lists subnetworks that are usable for creating clusters in a project.",
                  "flatPath": "v1/projects/{projectsId}/aggregated/usableSubnetworks",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          }
        },
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/operations",
                  "id": "container.projects.locations.operations.list",
                  "description": "Lists all operations in a project in a specific zone or all zones.",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "location": "query",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the parent field."
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The parent (project and location) where the operations will be listed. Specified in the format `projects/*/locations/*`. Location \"-\" matches all zones and all regions.",
                      "location": "path",
                      "required": true
                    },
                    "zone": {
                      "location": "query",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) to return operations for, or `-` for all zones. This field has been deprecated and replaced by the parent field.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "cancel": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name (project, location, operation id) of the operation to cancel. Specified in the format `projects/*/locations/*/operations/*`."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Cancels the specified operation.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "container.projects.locations.operations.cancel",
                  "httpMethod": "POST",
                  "path": "v1/{+name}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "zone": {
                      "type": "string",
                      "location": "query",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                    },
                    "operationId": {
                      "type": "string",
                      "description": "Deprecated. The server-assigned `name` of the operation. This field has been deprecated and replaced by the name field.",
                      "location": "query"
                    },
                    "projectId": {
                      "type": "string",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "location": "query"
                    },
                    "name": {
                      "description": "The name (project, location, operation id) of the operation to get. Specified in the format `projects/*/locations/*/operations/*`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "container.projects.locations.operations.get",
                  "description": "Gets the specified operation.",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "clusters": {
              "resources": {
                "well-known": {
                  "methods": {
                    "getOpenid-configuration": {
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "description": "The cluster (project, location, cluster id) to get the discovery document for. Specified in the format `projects/*/locations/*/clusters/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                          "required": true
                        }
                      },
                      "path": "v1/{+parent}/.well-known/openid-configuration",
                      "id": "container.projects.locations.clusters.well-known.getOpenid-configuration",
                      "description": "Gets the OIDC discovery document for the cluster. See the [OpenID Connect Discovery 1.0 specification](https://openid.net/specs/openid-connect-discovery-1_0.html) for details. This API is not yet intended for general use, and is not available for all clusters.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/.well-known/openid-configuration",
                      "response": {
                        "$ref": "GetOpenIDConfigResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET"
                    }
                  }
                },
                "nodePools": {
                  "methods": {
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "CreateNodePoolRequest"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "container.projects.locations.clusters.nodePools.create",
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "The parent (project, location, cluster id) where the node pool will be created. Specified in the format `projects/*/locations/*/clusters/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                        }
                      },
                      "description": "Creates a node pool for a cluster.",
                      "path": "v1/{+parent}/nodePools"
                    },
                    "setSize": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "id": "container.projects.locations.clusters.nodePools.setSize",
                      "request": {
                        "$ref": "SetNodePoolSizeRequest"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/nodePools/[^/]+$",
                          "description": "The name (project, location, cluster, node pool id) of the node pool to set size. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
                          "required": true
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools/{nodePoolsId}:setSize",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Sets the size for a specific node pool. The new size will be used for all replicas, including future replicas created by modifying NodePool.locations.",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}:setSize"
                    },
                    "setManagement": {
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools/{nodePoolsId}:setManagement",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "container.projects.locations.clusters.nodePools.setManagement",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Sets the NodeManagement options for a node pool.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/nodePools/[^/]+$",
                          "type": "string",
                          "description": "The name (project, location, cluster, node pool id) of the node pool to set management properties. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "path": "v1/{+name}:setManagement",
                      "request": {
                        "$ref": "SetNodePoolManagementRequest"
                      }
                    },
                    "setAutoscaling": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/nodePools/[^/]+$",
                          "required": true,
                          "description": "The name (project, location, cluster, node pool) of the node pool to set autoscaler settings. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "SetNodePoolAutoscalingRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}:setAutoscaling",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "container.projects.locations.clusters.nodePools.setAutoscaling",
                      "description": "Sets the autoscaling settings for the specified node pool.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools/{nodePoolsId}:setAutoscaling"
                    },
                    "delete": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools/{nodePoolsId}",
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes a node pool from a cluster.",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "container.projects.locations.clusters.nodePools.delete",
                      "parameters": {
                        "clusterId": {
                          "type": "string",
                          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
                          "location": "query"
                        },
                        "nodePoolId": {
                          "location": "query",
                          "type": "string",
                          "description": "Deprecated. The name of the node pool to delete. This field has been deprecated and replaced by the name field."
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/nodePools/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "The name (project, location, cluster, node pool id) of the node pool to delete. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`."
                        },
                        "projectId": {
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field.",
                          "type": "string",
                          "location": "query"
                        },
                        "zone": {
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                          "type": "string",
                          "location": "query"
                        }
                      }
                    },
                    "get": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools/{nodePoolsId}",
                      "id": "container.projects.locations.clusters.nodePools.get",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Retrieves the requested node pool.",
                      "parameters": {
                        "clusterId": {
                          "type": "string",
                          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
                          "location": "query"
                        },
                        "projectId": {
                          "location": "query",
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field.",
                          "type": "string"
                        },
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/nodePools/[^/]+$",
                          "description": "The name (project, location, cluster, node pool id) of the node pool to get. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
                          "type": "string",
                          "required": true
                        },
                        "zone": {
                          "type": "string",
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                          "location": "query"
                        },
                        "nodePoolId": {
                          "location": "query",
                          "description": "Deprecated. The name of the node pool. This field has been deprecated and replaced by the name field.",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "NodePool"
                      }
                    },
                    "update": {
                      "description": "Updates the version and/or image type for the specified node pool.",
                      "request": {
                        "$ref": "UpdateNodePoolRequest"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "container.projects.locations.clusters.nodePools.update",
                      "httpMethod": "PUT",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools/{nodePoolsId}",
                      "parameters": {
                        "name": {
                          "description": "The name (project, location, cluster, node pool) of the node pool to update. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/nodePools/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "rollback": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/{+name}:rollback",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/nodePools/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "The name (project, location, cluster, node pool id) of the node poll to rollback upgrade. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`."
                        }
                      },
                      "request": {
                        "$ref": "RollbackNodePoolUpgradeRequest"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools/{nodePoolsId}:rollback",
                      "httpMethod": "POST",
                      "description": "Rolls back a previously Aborted or Failed NodePool upgrade. This makes no changes if the last upgrade successfully completed.",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "container.projects.locations.clusters.nodePools.rollback"
                    },
                    "list": {
                      "parameters": {
                        "projectId": {
                          "location": "query",
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the parent field.",
                          "type": "string"
                        },
                        "zone": {
                          "type": "string",
                          "location": "query",
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the parent field."
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "The parent (project, location, cluster id) where the node pools will be listed. Specified in the format `projects/*/locations/*/clusters/*`."
                        },
                        "clusterId": {
                          "location": "query",
                          "type": "string",
                          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the parent field."
                        }
                      },
                      "description": "Lists the node pools for a cluster.",
                      "response": {
                        "$ref": "ListNodePoolsResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "id": "container.projects.locations.clusters.nodePools.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/nodePools"
                    }
                  }
                }
              },
              "methods": {
                "setMasterAuth": {
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster) of the cluster to set auth. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "SetMasterAuthRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setMasterAuth",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Sets master auth materials. Currently supports changing the admin password or a specific cluster, either via password generation or explicitly setting the password.",
                  "id": "container.projects.locations.clusters.setMasterAuth",
                  "path": "v1/{+name}:setMasterAuth",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "setNetworkPolicy": {
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster id) of the cluster to set networking policy. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SetNetworkPolicyRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setNetworkPolicy",
                  "id": "container.projects.locations.clusters.setNetworkPolicy",
                  "description": "Enables or disables Network Policy for a cluster.",
                  "path": "v1/{+name}:setNetworkPolicy",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "setMaintenancePolicy": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Sets the maintenance policy for a cluster.",
                  "request": {
                    "$ref": "SetMaintenancePolicyRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setMaintenancePolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:setMaintenancePolicy",
                  "id": "container.projects.locations.clusters.setMaintenancePolicy",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name (project, location, cluster id) of the cluster to set maintenance policy. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "Cluster"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster) of the cluster to retrieve. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string"
                    },
                    "clusterId": {
                      "type": "string",
                      "description": "Deprecated. The name of the cluster to retrieve. This field has been deprecated and replaced by the name field.",
                      "location": "query"
                    },
                    "zone": {
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "location": "query"
                    },
                    "projectId": {
                      "type": "string",
                      "location": "query",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
                    }
                  },
                  "httpMethod": "GET",
                  "id": "container.projects.locations.clusters.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "description": "Gets the details of a specific cluster.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}"
                },
                "setAddons": {
                  "id": "container.projects.locations.clusters.setAddons",
                  "description": "Sets the addons for a specific cluster.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "SetAddonsConfigRequest"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+name}:setAddons",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster) of the cluster to set addons. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setAddons"
                },
                "completeIpRotation": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CompleteIPRotationRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Completes master IP rotation.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The name (project, location, cluster id) of the cluster to complete IP rotation. Specified in the format `projects/*/locations/*/clusters/*`."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "container.projects.locations.clusters.completeIpRotation",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:completeIpRotation",
                  "path": "v1/{+name}:completeIpRotation"
                },
                "setMonitoring": {
                  "path": "v1/{+name}:setMonitoring",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "id": "container.projects.locations.clusters.setMonitoring",
                  "request": {
                    "$ref": "SetMonitoringServiceRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setMonitoring",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Sets the monitoring service for a specific cluster.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path",
                      "description": "The name (project, location, cluster) of the cluster to set monitoring. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "setResourceLabels": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setResourceLabels",
                  "path": "v1/{+name}:setResourceLabels",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "container.projects.locations.clusters.setResourceLabels",
                  "description": "Sets labels on a cluster.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SetLabelsRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster id) of the cluster to set labels. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "startIpRotation": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:startIpRotation",
                  "id": "container.projects.locations.clusters.startIpRotation",
                  "path": "v1/{+name}:startIpRotation",
                  "request": {
                    "$ref": "StartIPRotationRequest"
                  },
                  "description": "Starts master IP rotation.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster id) of the cluster to start IP rotation. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists all clusters owned by a project in either the specified zone or all zones.",
                  "response": {
                    "$ref": "ListClustersResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "projectId": {
                      "location": "query",
                      "type": "string",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the parent field."
                    },
                    "parent": {
                      "location": "path",
                      "description": "The parent (project and location) where the clusters will be listed. Specified in the format `projects/*/locations/*`. Location \"-\" matches all zones and all regions.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "zone": {
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides, or \"-\" for all zones. This field has been deprecated and replaced by the parent field.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "id": "container.projects.locations.clusters.list",
                  "path": "v1/{+parent}/clusters"
                },
                "getJwks": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/jwks",
                  "path": "v1/{+parent}/jwks",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "The cluster (project, location, cluster id) to get keys for. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Gets the public component of the cluster signing keys in JSON Web Key format. This API is not yet intended for general use, and is not available for all clusters.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GetJSONWebKeysResponse"
                  },
                  "id": "container.projects.locations.clusters.getJwks"
                },
                "setLegacyAbac": {
                  "path": "v1/{+name}:setLegacyAbac",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setLegacyAbac",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "The name (project, location, cluster id) of the cluster to set legacy abac. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                    }
                  },
                  "id": "container.projects.locations.clusters.setLegacyAbac",
                  "request": {
                    "$ref": "SetLegacyAbacRequest"
                  },
                  "description": "Enables or disables the ABAC authorization mechanism on a cluster.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "zone": {
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "location": "query"
                    },
                    "clusterId": {
                      "type": "string",
                      "location": "query",
                      "description": "Deprecated. The name of the cluster to delete. This field has been deprecated and replaced by the name field."
                    },
                    "name": {
                      "description": "The name (project, location, cluster) of the cluster to delete. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "projectId": {
                      "location": "query",
                      "type": "string",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "Deletes the cluster, including the Kubernetes endpoint and all worker nodes. Firewalls and routes that were configured during cluster creation are also deleted. Other Google Compute Engine resources that might be in use by the cluster, such as load balancer resources, are not deleted if they weren't present when the cluster was initially created.",
                  "id": "container.projects.locations.clusters.delete",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "updateMaster": {
                  "id": "container.projects.locations.clusters.updateMaster",
                  "request": {
                    "$ref": "UpdateMasterRequest"
                  },
                  "path": "v1/{+name}:updateMaster",
                  "description": "Updates the master for a specific cluster.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "description": "The name (project, location, cluster) of the cluster to update. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:updateMaster",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "setLogging": {
                  "request": {
                    "$ref": "SetLoggingServiceRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setLogging",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Sets the logging service for a specific cluster.",
                  "httpMethod": "POST",
                  "id": "container.projects.locations.clusters.setLogging",
                  "path": "v1/{+name}:setLogging",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "The name (project, location, cluster) of the cluster to set logging. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "update": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PUT",
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster) of the cluster to update. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates the settings of a specific cluster.",
                  "path": "v1/{+name}",
                  "id": "container.projects.locations.clusters.update",
                  "request": {
                    "$ref": "UpdateClusterRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}"
                },
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "path": "v1/{+parent}/clusters",
                  "id": "container.projects.locations.clusters.create",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "The parent (project and location) where the cluster will be created. Specified in the format `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "CreateClusterRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a cluster, consisting of the specified number and type of Google Compute Engine instances. By default, the cluster is created in the project's [default network](https://cloud.google.com/compute/docs/networks-and-firewalls#networks). One firewall is added for the cluster. After cluster creation, the Kubelet creates routes for each node to allow the containers on that node to communicate with all other instances in the cluster. Finally, an entry is added to the project's global metadata indicating which CIDR range the cluster is using."
                },
                "setLocations": {
                  "path": "v1/{+name}:setLocations",
                  "description": "Sets the locations for a specific cluster. Deprecated. Use [projects.locations.clusters.update](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters/update) instead.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "container.projects.locations.clusters.setLocations",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setLocations",
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster) of the cluster to set locations. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "SetLocationsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          },
          "methods": {
            "getServerConfig": {
              "description": "Returns configuration info about the Google Kubernetes Engine service.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "description": "The name (project and location) of the server config to get, specified in the format `projects/*/locations/*`.",
                  "type": "string",
                  "location": "path"
                },
                "projectId": {
                  "type": "string",
                  "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                  "location": "query"
                },
                "zone": {
                  "location": "query",
                  "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) to return operations for. This field has been deprecated and replaced by the name field.",
                  "type": "string"
                }
              },
              "path": "v1/{+name}/serverConfig",
              "id": "container.projects.locations.getServerConfig",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/serverConfig",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ServerConfig"
              }
            }
          }
        },
        "zones": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "description": "Lists all operations in a project in a specific zone or all zones.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameters": {
                    "zone": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) to return operations for, or `-` for all zones. This field has been deprecated and replaced by the parent field."
                    },
                    "parent": {
                      "type": "string",
                      "description": "The parent (project and location) where the operations will be listed. Specified in the format `projects/*/locations/*`. Location \"-\" matches all zones and all regions.",
                      "location": "query"
                    },
                    "projectId": {
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the parent field.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "container.projects.zones.operations.list",
                  "path": "v1/projects/{projectId}/zones/{zone}/operations",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "projectId",
                    "zone"
                  ]
                },
                "get": {
                  "path": "v1/projects/{projectId}/zones/{zone}/operations/{operationId}",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "operationId"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "zone": {
                      "type": "string",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "required": true
                    },
                    "name": {
                      "location": "query",
                      "type": "string",
                      "description": "The name (project, location, operation id) of the operation to get. Specified in the format `projects/*/locations/*/operations/*`."
                    },
                    "operationId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Deprecated. The server-assigned `name` of the operation. This field has been deprecated and replaced by the name field."
                    },
                    "projectId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
                    }
                  },
                  "description": "Gets the specified operation.",
                  "id": "container.projects.zones.operations.get",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/operations/{operationId}"
                },
                "cancel": {
                  "path": "v1/projects/{projectId}/zones/{zone}/operations/{operationId}:cancel",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/operations/{operationId}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "zone": {
                      "type": "string",
                      "location": "path",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the operation resides. This field has been deprecated and replaced by the name field.",
                      "required": true
                    },
                    "projectId": {
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "operationId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Deprecated. The server-assigned `name` of the operation. This field has been deprecated and replaced by the name field."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "operationId"
                  ],
                  "description": "Cancels the specified operation.",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "id": "container.projects.zones.operations.cancel"
                }
              }
            },
            "clusters": {
              "resources": {
                "nodePools": {
                  "methods": {
                    "update": {
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/update",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "nodePoolId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Deprecated. The name of the node pool to upgrade. This field has been deprecated and replaced by the name field."
                        },
                        "projectId": {
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "zone": {
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "clusterId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
                        }
                      },
                      "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/update",
                      "request": {
                        "$ref": "UpdateNodePoolRequest"
                      },
                      "id": "container.projects.zones.clusters.nodePools.update",
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "description": "Updates the version and/or image type for the specified node pool."
                    },
                    "list": {
                      "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists the node pools for a cluster.",
                      "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools",
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId"
                      ],
                      "parameters": {
                        "projectId": {
                          "location": "path",
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the parent field.",
                          "required": true,
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "location": "query",
                          "description": "The parent (project, location, cluster id) where the node pools will be listed. Specified in the format `projects/*/locations/*/clusters/*`."
                        },
                        "zone": {
                          "type": "string",
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the parent field.",
                          "required": true,
                          "location": "path"
                        },
                        "clusterId": {
                          "type": "string",
                          "required": true,
                          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the parent field.",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "ListNodePoolsResponse"
                      },
                      "id": "container.projects.zones.clusters.nodePools.list"
                    },
                    "get": {
                      "response": {
                        "$ref": "NodePool"
                      },
                      "description": "Retrieves the requested node pool.",
                      "parameters": {
                        "clusterId": {
                          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "zone": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                        },
                        "nodePoolId": {
                          "location": "path",
                          "description": "Deprecated. The name of the node pool. This field has been deprecated and replaced by the name field.",
                          "required": true,
                          "type": "string"
                        },
                        "projectId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field."
                        },
                        "name": {
                          "type": "string",
                          "location": "query",
                          "description": "The name (project, location, cluster, node pool id) of the node pool to get. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`."
                        }
                      },
                      "id": "container.projects.zones.clusters.nodePools.get",
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}",
                      "httpMethod": "GET"
                    },
                    "setManagement": {
                      "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/setManagement",
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Sets the NodeManagement options for a node pool.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/setManagement",
                      "request": {
                        "$ref": "SetNodePoolManagementRequest"
                      },
                      "id": "container.projects.zones.clusters.nodePools.setManagement",
                      "parameters": {
                        "clusterId": {
                          "required": true,
                          "location": "path",
                          "description": "Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field.",
                          "type": "string"
                        },
                        "projectId": {
                          "location": "path",
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                          "required": true,
                          "type": "string"
                        },
                        "zone": {
                          "type": "string",
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "required": true
                        },
                        "nodePoolId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Deprecated. The name of the node pool to update. This field has been deprecated and replaced by the name field."
                        }
                      }
                    },
                    "autoscaling": {
                      "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/autoscaling",
                      "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/autoscaling",
                      "id": "container.projects.zones.clusters.nodePools.autoscaling",
                      "request": {
                        "$ref": "SetNodePoolAutoscalingRequest"
                      },
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "parameters": {
                        "projectId": {
                          "required": true,
                          "location": "path",
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                          "type": "string"
                        },
                        "clusterId": {
                          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "nodePoolId": {
                          "required": true,
                          "description": "Deprecated. The name of the node pool to upgrade. This field has been deprecated and replaced by the name field.",
                          "type": "string",
                          "location": "path"
                        },
                        "zone": {
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST",
                      "description": "Sets the autoscaling settings for the specified node pool.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "parameters": {
                        "nodePoolId": {
                          "location": "path",
                          "type": "string",
                          "description": "Deprecated. The name of the node pool to delete. This field has been deprecated and replaced by the name field.",
                          "required": true
                        },
                        "clusterId": {
                          "required": true,
                          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
                          "type": "string",
                          "location": "path"
                        },
                        "projectId": {
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "zone": {
                          "type": "string",
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "required": true
                        },
                        "name": {
                          "description": "The name (project, location, cluster, node pool id) of the node pool to delete. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "DELETE",
                      "id": "container.projects.zones.clusters.nodePools.delete",
                      "description": "Deletes a node pool from a cluster.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}",
                      "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}"
                    },
                    "rollback": {
                      "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}:rollback",
                      "parameters": {
                        "clusterId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Deprecated. The name of the cluster to rollback. This field has been deprecated and replaced by the name field."
                        },
                        "nodePoolId": {
                          "type": "string",
                          "description": "Deprecated. The name of the node pool to rollback. This field has been deprecated and replaced by the name field.",
                          "required": true,
                          "location": "path"
                        },
                        "projectId": {
                          "type": "string",
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "required": true
                        },
                        "zone": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                        }
                      },
                      "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}:rollback",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "request": {
                        "$ref": "RollbackNodePoolUpgradeRequest"
                      },
                      "id": "container.projects.zones.clusters.nodePools.rollback",
                      "description": "Rolls back a previously Aborted or Failed NodePool upgrade. This makes no changes if the last upgrade successfully completed."
                    },
                    "create": {
                      "parameters": {
                        "zone": {
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the parent field.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "projectId": {
                          "type": "string",
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the parent field.",
                          "location": "path",
                          "required": true
                        },
                        "clusterId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the parent field."
                        }
                      },
                      "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools",
                      "request": {
                        "$ref": "CreateNodePoolRequest"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId"
                      ],
                      "description": "Creates a node pool for a cluster.",
                      "id": "container.projects.zones.clusters.nodePools.create",
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools"
                    },
                    "setSize": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "httpMethod": "POST",
                      "description": "Sets the size for a specific node pool. The new size will be used for all replicas, including future replicas created by modifying NodePool.locations.",
                      "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/setSize",
                      "id": "container.projects.zones.clusters.nodePools.setSize",
                      "request": {
                        "$ref": "SetNodePoolSizeRequest"
                      },
                      "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/setSize",
                      "parameters": {
                        "zone": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                        },
                        "clusterId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field."
                        },
                        "projectId": {
                          "type": "string",
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "required": true
                        },
                        "nodePoolId": {
                          "required": true,
                          "location": "path",
                          "description": "Deprecated. The name of the node pool to update. This field has been deprecated and replaced by the name field.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      }
                    }
                  }
                }
              },
              "methods": {
                "logging": {
                  "description": "Sets the logging service for a specific cluster.",
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/logging",
                  "parameters": {
                    "projectId": {
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "clusterId": {
                      "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "zone": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                    }
                  },
                  "id": "container.projects.zones.clusters.logging",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SetLoggingServiceRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/logging"
                },
                "locations": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Sets the locations for a specific cluster. Deprecated. Use [projects.locations.clusters.update](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters/update) instead.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "SetLocationsRequest"
                  },
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/locations",
                  "parameters": {
                    "zone": {
                      "required": true,
                      "location": "path",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "type": "string"
                    },
                    "clusterId": {
                      "type": "string",
                      "location": "path",
                      "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
                      "required": true
                    },
                    "projectId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
                    }
                  },
                  "httpMethod": "POST",
                  "id": "container.projects.zones.clusters.locations",
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/locations"
                },
                "addons": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "id": "container.projects.zones.clusters.addons",
                  "parameters": {
                    "zone": {
                      "required": true,
                      "type": "string",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "location": "path"
                    },
                    "clusterId": {
                      "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "projectId": {
                      "required": true,
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "SetAddonsConfigRequest"
                  },
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/addons",
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/addons",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "description": "Sets the addons for a specific cluster."
                },
                "list": {
                  "response": {
                    "$ref": "ListClustersResponse"
                  },
                  "id": "container.projects.zones.clusters.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the parent field."
                    },
                    "parent": {
                      "description": "The parent (project and location) where the clusters will be listed. Specified in the format `projects/*/locations/*`. Location \"-\" matches all zones and all regions.",
                      "type": "string",
                      "location": "query"
                    },
                    "zone": {
                      "required": true,
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides, or \"-\" for all zones. This field has been deprecated and replaced by the parent field.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "projectId",
                    "zone"
                  ],
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters",
                  "description": "Lists all clusters owned by a project in either the specified zone or all zones.",
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters"
                },
                "monitoring": {
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Sets the monitoring service for a specific cluster.",
                  "id": "container.projects.zones.clusters.monitoring",
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/monitoring",
                  "request": {
                    "$ref": "SetMonitoringServiceRequest"
                  },
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/monitoring",
                  "httpMethod": "POST",
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "location": "path"
                    },
                    "clusterId": {
                      "type": "string",
                      "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "required": true
                    },
[...]
