{
  "title": "Kubernetes Engine API",
  "revision": "20210722",
  "servicePath": "",
  "discoveryVersion": "v1",
  "schemas": {
    "WindowsVersions": {
      "id": "WindowsVersions",
      "description": "Windows server versions.",
      "type": "object",
      "properties": {
        "windowsVersions": {
          "items": {
            "$ref": "WindowsVersion"
          },
          "type": "array",
          "description": "List of Windows server versions."
        }
      }
    },
    "NodePool": {
      "description": "NodePool contains the name and configuration for a cluster's node pool. Node pools are a set of nodes (i.e. VM's), with a common configuration and specification, under the control of the cluster master. They may have a set of Kubernetes labels applied to them, which may be used to reference them during pod scheduling. They may also be resized up or down, to accommodate the workload. These upgrade settings control the level of parallelism and the level of disruption caused by an upgrade. maxUnavailable controls the number of nodes that can be simultaneously unavailable. maxSurge controls the number of additional nodes that can be added to the node pool temporarily for the time of the upgrade to increase the number of available nodes. (maxUnavailable + maxSurge) determines the level of parallelism (how many nodes are being upgraded at the same time). Note: upgrades inevitably introduce some disruption since workloads need to be moved from old nodes to new, upgraded ones. Even if maxUnavailable=0, this holds true. (Disruption stays within the limits of PodDisruptionBudget, if it is configured.) Consider a hypothetical node pool with 5 nodes having maxSurge=2, maxUnavailable=1. This means the upgrade process upgrades 3 nodes simultaneously. It creates 2 additional (upgraded) nodes, then it brings down 3 old (not yet upgraded) nodes at the same time. This ensures that there are always at least 4 nodes available.",
      "properties": {
        "config": {
          "$ref": "NodeConfig",
          "description": "The node configuration of the pool."
        },
        "networkConfig": {
          "description": "Networking configuration for this NodePool. If specified, it overrides the cluster-level defaults.",
          "$ref": "NodeNetworkConfig"
        },
        "initialNodeCount": {
          "description": "The initial node count for the pool. You must ensure that your Compute Engine [resource quota](https://cloud.google.com/compute/quotas) is sufficient for this number of instances. You must also have available firewall and routes quota.",
          "format": "int32",
          "type": "integer"
        },
        "statusMessage": {
          "description": "[Output only] Deprecated. Use conditions instead. Additional information about the current status of this node pool instance, if available.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the node pool."
        },
        "version": {
          "description": "The version of the Kubernetes of this node.",
          "type": "string"
        },
        "upgradeSettings": {
          "description": "Upgrade settings control disruption and speed of the upgrade.",
          "$ref": "UpgradeSettings"
        },
        "autoscaling": {
          "description": "Autoscaler configuration for this NodePool. Autoscaler is enabled only if a valid configuration is present.",
          "$ref": "NodePoolAutoscaling"
        },
        "locations": {
          "type": "array",
          "description": "The list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the NodePool's nodes should be located. If this value is unspecified during node pool creation, the [Cluster.Locations](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters#Cluster.FIELDS.locations) value will be used, instead. Warning: changing node pool locations will result in nodes being added and/or removed.",
          "items": {
            "type": "string"
          }
        },
        "maxPodsConstraint": {
          "description": "The constraint on the maximum number of pods that can be run simultaneously on a node in the node pool.",
          "$ref": "MaxPodsConstraint"
        },
        "status": {
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the node pool is being created.",
            "The RUNNING state indicates the node pool has been created and is fully usable.",
            "The RUNNING_WITH_ERROR state indicates the node pool has been created and is partially usable. Some error state has occurred and some functionality may be impaired. Customer may need to reissue a request or trigger a new update.",
            "The RECONCILING state indicates that some work is actively being done on the node pool, such as upgrading node software. Details can be found in the `statusMessage` field.",
            "The STOPPING state indicates the node pool is being deleted.",
            "The ERROR state indicates the node pool may be unusable. Details can be found in the `statusMessage` field."
          ],
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RUNNING_WITH_ERROR",
            "RECONCILING",
            "STOPPING",
            "ERROR"
          ],
          "description": "[Output only] The status of the nodes in this pool instance."
        },
        "selfLink": {
          "description": "[Output only] Server-defined URL for the resource.",
          "type": "string"
        },
        "podIpv4CidrSize": {
          "format": "int32",
          "type": "integer",
          "description": "[Output only] The pod CIDR block size per node in this node pool."
        },
        "management": {
          "$ref": "NodeManagement",
          "description": "NodeManagement configuration for this NodePool."
        },
        "conditions": {
          "description": "Which conditions caused the current node pool state.",
          "type": "array",
          "items": {
            "$ref": "StatusCondition"
          }
        },
        "instanceGroupUrls": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "[Output only] The resource URLs of the [managed instance groups](https://cloud.google.com/compute/docs/instance-groups/creating-groups-of-managed-instances) associated with this node pool."
        }
      },
      "id": "NodePool",
      "type": "object"
    },
    "KalmConfig": {
      "id": "KalmConfig",
      "description": "Configuration options for the KALM addon.",
      "properties": {
        "enabled": {
          "description": "Whether KALM is enabled for this cluster.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "NodeConfig": {
      "properties": {
        "nodeGroup": {
          "type": "string",
          "description": "Setting this field will assign instances of this pool to run on the specified node group. This is useful for running workloads on [sole tenant nodes](https://cloud.google.com/compute/docs/nodes/sole-tenant-nodes)."
        },
        "ephemeralStorageConfig": {
          "$ref": "EphemeralStorageConfig",
          "description": "Parameters for the ephemeral storage filesystem. If unspecified, ephemeral storage is backed by the boot disk."
        },
        "workloadMetadataConfig": {
          "description": "The workload metadata configuration for this node.",
          "$ref": "WorkloadMetadataConfig"
        },
        "bootDiskKmsKey": {
          "description": " The Customer Managed Encryption Key used to encrypt the boot disk attached to each node in the node pool. This should be of the form projects/[KEY_PROJECT_ID]/locations/[LOCATION]/keyRings/[RING_NAME]/cryptoKeys/[KEY_NAME]. For more information about protecting resources with Cloud KMS Keys please see: https://cloud.google.com/compute/docs/disks/customer-managed-encryption",
          "type": "string"
        },
        "oauthScopes": {
          "items": {
            "type": "string"
          },
          "description": "The set of Google API scopes to be made available on all of the node VMs under the \"default\" service account. The following scopes are recommended, but not required, and by default are not included: * `https://www.googleapis.com/auth/compute` is required for mounting persistent storage on your nodes. * `https://www.googleapis.com/auth/devstorage.read_only` is required for communicating with **gcr.io** (the [Google Container Registry](https://cloud.google.com/container-registry/)). If unspecified, no scopes are added, unless Cloud Logging or Cloud Monitoring are enabled, in which case their required scopes will be added.",
          "type": "array"
        },
        "accelerators": {
          "description": "A list of hardware accelerators to be attached to each node. See https://cloud.google.com/compute/docs/gpus for more information about support for GPUs.",
          "items": {
            "$ref": "AcceleratorConfig"
          },
          "type": "array"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of instance tags applied to all nodes. Tags are used to identify valid sources or targets for network firewalls and are specified by the client during cluster or node pool creation. Each tag within the list must comply with RFC1035."
        },
        "sandboxConfig": {
          "$ref": "SandboxConfig",
          "description": "Sandbox configuration for this node."
        },
        "localSsdCount": {
          "format": "int32",
          "description": "The number of local SSD disks to be attached to the node. The limit for this value is dependent upon the maximum number of disks available on a machine per zone. See: https://cloud.google.com/compute/docs/disks/local-ssd for more information.",
          "type": "integer"
        },
        "labels": {
          "description": "The map of Kubernetes labels (key/value pairs) to be applied to each node. These will added in addition to any default label(s) that Kubernetes may apply to the node. In case of conflict in label keys, the applied set may differ depending on the Kubernetes version -- it's best to assume the behavior is undefined and conflicts should be avoided. For more information, including usage and the valid values, see: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "machineType": {
          "type": "string",
          "description": "The name of a Google Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-types). If unspecified, the default machine type is `e2-medium`."
        },
        "linuxNodeConfig": {
          "description": "Parameters that can be configured on Linux nodes.",
          "$ref": "LinuxNodeConfig"
        },
        "minCpuPlatform": {
          "type": "string",
          "description": "Minimum CPU platform to be used by this instance. The instance may be scheduled on the specified or newer CPU platform. Applicable values are the friendly names of CPU platforms, such as `minCpuPlatform: \"Intel Haswell\"` or `minCpuPlatform: \"Intel Sandy Bridge\"`. For more information, read [how to specify min CPU platform](https://cloud.google.com/compute/docs/instances/specify-min-cpu-platform)"
        },
        "diskSizeGb": {
          "description": "Size of the disk attached to each node, specified in GB. The smallest allowed disk size is 10GB. If unspecified, the default disk size is 100GB.",
          "type": "integer",
          "format": "int32"
        },
        "imageType": {
          "description": "The image type to use for this node. Note that for a given image type, the latest version of it will be used.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "The Google Cloud Platform Service Account to be used by the node VMs. Specify the email address of the Service Account; otherwise, if no Service Account is specified, the \"default\" service account is used.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "The metadata key/value pairs assigned to instances in the cluster. Keys must conform to the regexp `[a-zA-Z0-9-_]+` and be less than 128 bytes in length. These are reflected as part of a URL in the metadata server. Additionally, to avoid ambiguity, keys must not conflict with any other metadata keys for the project or be one of the reserved keys: - \"cluster-location\" - \"cluster-name\" - \"cluster-uid\" - \"configure-sh\" - \"containerd-configure-sh\" - \"enable-oslogin\" - \"gci-ensure-gke-docker\" - \"gci-metrics-enabled\" - \"gci-update-strategy\" - \"instance-template\" - \"kube-env\" - \"startup-script\" - \"user-data\" - \"disable-address-manager\" - \"windows-startup-script-ps1\" - \"common-psm1\" - \"k8s-node-setup-psm1\" - \"install-ssh-psm1\" - \"user-profile-psm1\" The following keys are reserved for Windows nodes: - \"serial-port-logging-enable\" Values are free-form strings, and only have meaning as interpreted by the image running in the instance. The only restriction placed on them is that each value's size must be less than or equal to 32 KB. The total size of all keys and values must be less than 512 KB.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "preemptible": {
          "description": "Whether the nodes are created as preemptible VM instances. See: https://cloud.google.com/compute/docs/instances/preemptible for more inforamtion about preemptible VM instances.",
          "type": "boolean"
        },
        "reservationAffinity": {
          "$ref": "ReservationAffinity",
          "description": "The optional reservation affinity. Setting this field will apply the specified [Zonal Compute Reservation](https://cloud.google.com/compute/docs/instances/reserving-zonal-resources) to this node pool."
        },
        "diskType": {
          "type": "string",
          "description": "Type of the disk attached to each node (e.g. 'pd-standard', 'pd-ssd' or 'pd-balanced') If unspecified, the default disk type is 'pd-standard'"
        },
        "shieldedInstanceConfig": {
          "$ref": "ShieldedInstanceConfig",
          "description": "Shielded Instance options."
        },
        "taints": {
          "type": "array",
          "items": {
            "$ref": "NodeTaint"
          },
          "description": "List of kubernetes taints to be applied to each node. For more information, including usage and the valid values, see: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/"
        },
        "kubeletConfig": {
          "description": "Node kubelet configs.",
          "$ref": "NodeKubeletConfig"
        }
      },
      "type": "object",
      "description": "Parameters that describe the nodes in a cluster.",
      "id": "NodeConfig"
    },
    "RecurringTimeWindow": {
      "id": "RecurringTimeWindow",
      "properties": {
        "window": {
          "description": "The window of the first recurrence.",
          "$ref": "TimeWindow"
        },
        "recurrence": {
          "type": "string",
          "description": "An RRULE (https://tools.ietf.org/html/rfc5545#section-3.8.5.3) for how this window reccurs. They go on for the span of time between the start and end time. For example, to have something repeat every weekday, you'd use: `FREQ=WEEKLY;BYDAY=MO,TU,WE,TH,FR` To repeat some window daily (equivalent to the DailyMaintenanceWindow): `FREQ=DAILY` For the first weekend of every month: `FREQ=MONTHLY;BYSETPOS=1;BYDAY=SA,SU` This specifies how frequently the window starts. Eg, if you wanted to have a 9-5 UTC-4 window every weekday, you'd use something like: ``` start time = 2019-01-01T09:00:00-0400 end time = 2019-01-01T17:00:00-0400 recurrence = FREQ=WEEKLY;BYDAY=MO,TU,WE,TH,FR ``` Windows can span multiple days. Eg, to make the window encompass every weekend from midnight Saturday till the last minute of Sunday UTC: ``` start time = 2019-01-05T00:00:00Z end time = 2019-01-07T23:59:00Z recurrence = FREQ=WEEKLY;BYDAY=SA ``` Note the start and end time's specific dates are largely arbitrary except to specify duration of the window and when it first starts. The FREQ values of HOURLY, MINUTELY, and SECONDLY are not supported."
        }
      },
      "description": "Represents an arbitrary window of time that recurs.",
      "type": "object"
    },
    "DefaultSnatStatus": {
      "id": "DefaultSnatStatus",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Disables cluster default sNAT rules."
        }
      },
      "type": "object",
      "description": "DefaultSnatStatus contains the desired state of whether default sNAT should be disabled on the cluster."
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "id": "Empty",
      "type": "object"
    },
    "ReleaseChannelConfig": {
      "properties": {
        "availableVersions": {
          "description": "Deprecated. This field has been deprecated and replaced with the valid_versions field.",
          "items": {
            "$ref": "AvailableVersion"
          },
          "type": "array"
        },
        "validVersions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of valid versions for the channel."
        },
        "defaultVersion": {
          "description": "The default version for newly created clusters on the channel.",
          "type": "string"
        },
        "channel": {
          "enum": [
            "UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE"
          ],
          "description": "The release channel this configuration applies to.",
          "enumDescriptions": [
            "No channel specified.",
            "RAPID channel is offered on an early access basis for customers who want to test new releases. WARNING: Versions available in the RAPID Channel may be subject to unresolved issues with no known workaround and are not subject to any SLAs.",
            "Clusters subscribed to REGULAR receive versions that are considered GA quality. REGULAR is intended for production users who want to take advantage of new features.",
            "Clusters subscribed to STABLE receive versions that are known to be stable and reliable in production."
          ],
          "type": "string"
        }
      },
      "id": "ReleaseChannelConfig",
      "type": "object",
      "description": "ReleaseChannelConfig exposes configuration for a release channel."
    },
    "RollbackNodePoolUpgradeRequest": {
      "description": "RollbackNodePoolUpgradeRequest rollbacks the previously Aborted or Failed NodePool upgrade. This will be an no-op if the last upgrade successfully completed.",
      "type": "object",
      "id": "RollbackNodePoolUpgradeRequest",
      "properties": {
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "clusterId": {
          "description": "Required. Deprecated. The name of the cluster to rollback. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster, node pool id) of the node poll to rollback upgrade. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`."
        },
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "nodePoolId": {
          "description": "Required. Deprecated. The name of the node pool to rollback. This field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      }
    },
    "SetLoggingServiceRequest": {
      "type": "object",
      "description": "SetLoggingServiceRequest sets the logging service of a cluster.",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set logging. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "loggingService": {
          "description": "Required. The logging service the cluster should use to write logs. Currently available options: * `logging.googleapis.com/kubernetes` - The Cloud Logging service with a Kubernetes-native resource model * `logging.googleapis.com` - The legacy Cloud Logging service (no longer available as of GKE 1.15). * `none` - no logs will be exported from the cluster. If left as an empty string,`logging.googleapis.com/kubernetes` will be used for GKE 1.14+ or `logging.googleapis.com` for earlier versions.",
          "type": "string"
        },
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
        },
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      },
      "id": "SetLoggingServiceRequest"
    },
    "EphemeralStorageConfig": {
      "type": "object",
      "description": "EphemeralStorageConfig contains configuration for the ephemeral storage filesystem.",
      "properties": {
        "localSsdCount": {
          "type": "integer",
          "description": "Number of local SSDs to use to back ephemeral storage. Uses NVMe interfaces. Each local SSD is 375 GB in size. If zero, it means to disable using local SSDs as ephemeral storage.",
          "format": "int32"
        }
      },
      "id": "EphemeralStorageConfig"
    },
    "AddonsConfig": {
      "description": "Configuration for the addons that can be automatically spun up in the cluster, enabling additional functionality.",
      "type": "object",
      "id": "AddonsConfig",
      "properties": {
        "dnsCacheConfig": {
          "description": "Configuration for NodeLocalDNS, a dns cache running on cluster nodes",
          "$ref": "DnsCacheConfig"
        },
        "kubernetesDashboard": {
          "description": "Configuration for the Kubernetes Dashboard. This addon is deprecated, and will be disabled in 1.15. It is recommended to use the Cloud Console to manage and monitor your Kubernetes clusters, workloads and applications. For more information, see: https://cloud.google.com/kubernetes-engine/docs/concepts/dashboards",
          "$ref": "KubernetesDashboard"
        },
        "horizontalPodAutoscaling": {
          "$ref": "HorizontalPodAutoscaling",
          "description": "Configuration for the horizontal pod autoscaling feature, which increases or decreases the number of replica pods a replication controller has based on the resource usage of the existing pods."
        },
        "configConnectorConfig": {
          "$ref": "ConfigConnectorConfig",
          "description": "Configuration for the ConfigConnector add-on, a Kubernetes extension to manage hosted GCP services through the Kubernetes API"
        },
        "istioConfig": {
          "$ref": "IstioConfig",
          "description": "Configuration for Istio, an open platform to connect, manage, and secure microservices."
        },
        "networkPolicyConfig": {
          "$ref": "NetworkPolicyConfig",
          "description": "Configuration for NetworkPolicy. This only tracks whether the addon is enabled or not on the Master, it does not track whether network policy is enabled for the nodes."
        },
        "gcePersistentDiskCsiDriverConfig": {
          "$ref": "GcePersistentDiskCsiDriverConfig",
          "description": "Configuration for the Compute Engine Persistent Disk CSI driver."
        },
        "kalmConfig": {
          "$ref": "KalmConfig",
          "description": "Configuration for the KALM addon, which manages the lifecycle of k8s applications."
        },
        "cloudRunConfig": {
          "description": "Configuration for the Cloud Run addon. The `IstioConfig` addon must be enabled in order to enable Cloud Run addon. This option can only be enabled at cluster creation time.",
          "$ref": "CloudRunConfig"
        },
        "httpLoadBalancing": {
          "description": "Configuration for the HTTP (L7) load balancing controller addon, which makes it easy to set up HTTP load balancers for services in a cluster.",
          "$ref": "HttpLoadBalancing"
        }
      }
    },
    "ClusterUpdate": {
      "id": "ClusterUpdate",
      "type": "object",
      "description": "ClusterUpdate describes an update to the cluster. Exactly one update can be applied to a cluster with each request, so at most one field can be provided.",
      "properties": {
        "desiredMonitoringService": {
          "description": "The monitoring service the cluster should use to write metrics. Currently available options: * \"monitoring.googleapis.com/kubernetes\" - The Cloud Monitoring service with a Kubernetes-native resource model * `monitoring.googleapis.com` - The legacy Cloud Monitoring service (no longer available as of GKE 1.15). * `none` - No metrics will be exported from the cluster. If left as an empty string,`monitoring.googleapis.com/kubernetes` will be used for GKE 1.14+ or `monitoring.googleapis.com` for earlier versions.",
          "type": "string"
        },
        "desiredAuthenticatorGroupsConfig": {
          "description": "AuthenticatorGroupsConfig specifies the config for the cluster security groups settings.",
          "$ref": "AuthenticatorGroupsConfig"
        },
        "desiredLoggingService": {
          "type": "string",
          "description": "The logging service the cluster should use to write logs. Currently available options: * `logging.googleapis.com/kubernetes` - The Cloud Logging service with a Kubernetes-native resource model * `logging.googleapis.com` - The legacy Cloud Logging service (no longer available as of GKE 1.15). * `none` - no logs will be exported from the cluster. If left as an empty string,`logging.googleapis.com/kubernetes` will be used for GKE 1.14+ or `logging.googleapis.com` for earlier versions."
        },
        "desiredTpuConfig": {
          "description": "The desired Cloud TPU configuration.",
          "$ref": "TpuConfig"
        },
        "desiredMasterAuthorizedNetworksConfig": {
          "description": "The desired configuration options for master authorized networks feature.",
          "$ref": "MasterAuthorizedNetworksConfig"
        },
        "desiredAutopilot": {
          "description": "The desired Autopilot configuration for the cluster.",
          "$ref": "Autopilot"
        },
        "desiredDatabaseEncryption": {
          "$ref": "DatabaseEncryption",
          "description": "Configuration of etcd encryption."
        },
        "desiredMaster": {
          "$ref": "Master",
          "description": "Configuration for master components."
        },
        "desiredNodeVersion": {
          "type": "string",
          "description": "The Kubernetes version to change the nodes to (typically an upgrade). Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"-\": picks the Kubernetes master version"
        },
        "desiredNodePoolId": {
          "description": "The node pool to be upgraded. This field is mandatory if \"desired_node_version\", \"desired_image_family\", \"desired_node_pool_autoscaling\", or \"desired_workload_metadata_config\" is specified and there is more than one node pool on the cluster.",
          "type": "string"
        },
        "desiredL4ilbSubsettingConfig": {
          "description": "The desired L4 Internal Load Balancer Subsetting configuration.",
          "$ref": "ILBSubsettingConfig"
        },
        "desiredImageType": {
          "description": "The desired image type for the node pool. NOTE: Set the \"desired_node_pool\" field as well.",
          "type": "string"
        },
        "desiredNotificationConfig": {
          "description": "The desired notification configuration.",
          "$ref": "NotificationConfig"
        },
        "desiredPrivateClusterConfig": {
          "$ref": "PrivateClusterConfig",
          "description": "The desired private cluster configuration."
        },
        "desiredAddonsConfig": {
          "$ref": "AddonsConfig",
          "description": "Configurations for the various addons available to run in the cluster."
        },
        "desiredDefaultSnatStatus": {
          "description": "The desired status of whether to disable default sNAT for this cluster.",
          "$ref": "DefaultSnatStatus"
        },
        "desiredDnsConfig": {
          "$ref": "DNSConfig",
          "description": "DNSConfig contains clusterDNS config for this cluster."
        },
        "desiredBinaryAuthorization": {
          "$ref": "BinaryAuthorization",
          "description": "The desired configuration options for the Binary Authorization feature."
        },
        "desiredNodePoolAutoscaling": {
          "$ref": "NodePoolAutoscaling",
          "description": "Autoscaler configuration for the node pool specified in desired_node_pool_id. If there is only one pool in the cluster and desired_node_pool_id is not provided then the change applies to that single node pool."
        },
        "desiredPodSecurityPolicyConfig": {
          "description": "The desired configuration options for the PodSecurityPolicy feature.",
          "$ref": "PodSecurityPolicyConfig"
        },
        "desiredIntraNodeVisibilityConfig": {
          "$ref": "IntraNodeVisibilityConfig",
          "description": "The desired config of Intra-node visibility."
        },
        "desiredDatapathProvider": {
          "enumDescriptions": [
            "Default value.",
            "Use the IPTables implementation based on kube-proxy.",
            "Use the eBPF based GKE Dataplane V2 with additional features. See the [GKE Dataplane V2 documentation](https://cloud.google.com/kubernetes-engine/docs/how-to/dataplane-v2) for more."
          ],
          "enum": [
            "DATAPATH_PROVIDER_UNSPECIFIED",
            "LEGACY_DATAPATH",
            "ADVANCED_DATAPATH"
          ],
          "description": "The desired datapath provider for the cluster.",
          "type": "string"
        },
        "desiredWorkloadIdentityConfig": {
          "$ref": "WorkloadIdentityConfig",
          "description": "Configuration for Workload Identity."
        },
        "desiredClusterTelemetry": {
          "$ref": "ClusterTelemetry",
          "description": "The desired telemetry integration for the cluster."
        },
        "desiredMasterVersion": {
          "type": "string",
          "description": "The Kubernetes version to change the master to. The only valid value is the latest supported version. Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"-\": picks the default Kubernetes version"
        },
        "desiredShieldedNodes": {
          "description": "Configuration for Shielded Nodes.",
          "$ref": "ShieldedNodes"
        },
        "desiredMonitoringConfig": {
          "$ref": "MonitoringConfig",
          "description": "The desired monitoring configuration."
        },
        "desiredPrivateIpv6GoogleAccess": {
          "enumDescriptions": [
            "Default value. Same as DISABLED",
            "No private access to or from Google Services",
            "Enables private IPv6 access to Google Services from GKE",
            "Enables priate IPv6 access to and from Google Services"
          ],
          "description": "The desired state of IPv6 connectivity to Google Services.",
          "type": "string",
          "enum": [
            "PRIVATE_IPV6_GOOGLE_ACCESS_UNSPECIFIED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_DISABLED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_TO_GOOGLE",
            "PRIVATE_IPV6_GOOGLE_ACCESS_BIDIRECTIONAL"
          ]
        },
        "desiredWorkloadCertificates": {
          "$ref": "WorkloadCertificates",
          "description": "Configuration for issuance of mTLS keys and certificates to Kubernetes pods."
        },
        "desiredLoggingConfig": {
          "$ref": "LoggingConfig",
          "description": "The desired logging configuration."
        },
        "desiredReleaseChannel": {
          "description": "The desired release channel configuration.",
          "$ref": "ReleaseChannel"
        },
        "desiredIdentityServiceConfig": {
          "description": "The desired Identity Service component configuration.",
          "$ref": "IdentityServiceConfig"
        },
        "desiredClusterAutoscaling": {
          "$ref": "ClusterAutoscaling",
          "description": "Cluster-level autoscaling configuration."
        },
        "desiredServiceExternalIpsConfig": {
          "$ref": "ServiceExternalIPsConfig",
          "description": "ServiceExternalIPsConfig specifies the config for the use of Services with ExternalIPs field."
        },
        "desiredLocations": {
          "items": {
            "type": "string"
          },
          "description": "The desired list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the cluster's nodes should be located. This list must always include the cluster's primary zone. Warning: changing cluster locations will update the locations of all node pools and will result in nodes being added and/or removed.",
          "type": "array"
        },
        "desiredResourceUsageExportConfig": {
          "$ref": "ResourceUsageExportConfig",
          "description": "The desired configuration for exporting resource usage."
        },
        "desiredVerticalPodAutoscaling": {
          "$ref": "VerticalPodAutoscaling",
          "description": "Cluster-level Vertical Pod Autoscaling configuration."
        }
      }
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "properties": {
        "location": {
          "type": "string",
          "description": "[Output only] The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones#available) or [region](https://cloud.google.com/compute/docs/regions-zones/regions-zones#available) in which the cluster resides."
        },
        "clusterConditions": {
          "items": {
            "$ref": "StatusCondition"
          },
          "description": "Which conditions caused the current cluster state. Deprecated. Use field error instead.",
          "type": "array"
        },
        "error": {
          "description": "The error result of the operation in case of failure.",
          "$ref": "Status"
        },
        "operationType": {
          "enumDescriptions": [
            "Not set.",
            "Cluster create.",
            "Cluster delete.",
            "A master upgrade.",
            "A node upgrade.",
            "Cluster repair.",
            "Cluster update.",
            "Node pool create.",
            "Node pool delete.",
            "Set node pool management.",
            "Automatic node pool repair.",
            "Automatic node upgrade.",
            "Set labels.",
            "Set/generate master auth materials",
            "Set node pool size.",
            "Updates network policy for a cluster.",
            "Set the maintenance policy."
          ],
          "type": "string",
          "description": "The operation type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATE_CLUSTER",
            "DELETE_CLUSTER",
            "UPGRADE_MASTER",
            "UPGRADE_NODES",
            "REPAIR_CLUSTER",
            "UPDATE_CLUSTER",
            "CREATE_NODE_POOL",
            "DELETE_NODE_POOL",
            "SET_NODE_POOL_MANAGEMENT",
            "AUTO_REPAIR_NODES",
            "AUTO_UPGRADE_NODES",
            "SET_LABELS",
            "SET_MASTER_AUTH",
            "SET_NODE_POOL_SIZE",
            "SET_NETWORK_POLICY",
            "SET_MAINTENANCE_POLICY"
          ]
        },
        "progress": {
          "description": "Output only. [Output only] Progress information for an operation.",
          "readOnly": true,
          "$ref": "OperationProgress"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned ID for the operation."
        },
        "endTime": {
          "description": "[Output only] The time the operation completed, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "type": "string"
        },
        "selfLink": {
          "description": "Server-defined URL for the resource.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the operation is taking place. This field is deprecated, use location instead."
        },
        "startTime": {
          "type": "string",
          "description": "[Output only] The time the operation started, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
        },
        "statusMessage": {
          "description": "Output only. If an error has occurred, a textual description of the error. Deprecated. Use field error instead.",
          "type": "string",
          "readOnly": true
        },
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "ABORTING"
          ],
          "description": "The current status of the operation.",
          "enumDescriptions": [
            "Not set.",
            "The operation has been created.",
            "The operation is currently running.",
            "The operation is done, either cancelled or completed.",
            "The operation is aborting."
          ],
          "type": "string"
        },
        "detail": {
          "type": "string",
          "description": "Detailed operation progress, if available."
        },
        "nodepoolConditions": {
          "items": {
            "$ref": "StatusCondition"
          },
          "type": "array",
          "description": "Which conditions caused the current node pool state. Deprecated. Use field error instead."
        },
        "targetLink": {
          "type": "string",
          "description": "Server-defined URL for the target of the operation."
        }
      },
      "description": "This operation resource represents operations that may have happened or are happening on the cluster. All fields are output only."
    },
    "ILBSubsettingConfig": {
      "type": "object",
      "description": "ILBSubsettingConfig contains the desired config of L4 Internal LoadBalancer subsetting on this cluster.",
      "id": "ILBSubsettingConfig",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Enables l4 ILB subsetting for this cluster"
        }
      }
    },
    "ResourceLimit": {
      "id": "ResourceLimit",
      "type": "object",
      "description": "Contains information about amount of some resource in the cluster. For memory, value should be in GB.",
      "properties": {
        "maximum": {
          "format": "int64",
          "description": "Maximum amount of the resource in the cluster.",
          "type": "string"
        },
        "minimum": {
          "type": "string",
          "format": "int64",
          "description": "Minimum amount of the resource in the cluster."
        },
        "resourceType": {
          "type": "string",
          "description": "Resource name \"cpu\", \"memory\" or gpu-specific string."
        }
      }
    },
    "AuthenticatorGroupsConfig": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether this cluster should return group membership lookups during authentication using a group of security groups."
        },
        "securityGroup": {
          "type": "string",
          "description": "The name of the security group-of-groups to be used. Only relevant if enabled = true."
        }
      },
      "id": "AuthenticatorGroupsConfig",
      "description": "Configuration for returning group information from authenticators.",
      "type": "object"
    },
    "AutoUpgradeOptions": {
      "id": "AutoUpgradeOptions",
      "properties": {
        "autoUpgradeStartTime": {
          "type": "string",
          "description": "[Output only] This field is set when upgrades are about to commence with the approximate start time for the upgrades, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
        },
        "description": {
          "description": "[Output only] This field is set when upgrades are about to commence with the description of the upgrade.",
          "type": "string"
        }
      },
      "description": "AutoUpgradeOptions defines the set of options for the user to control how the Auto Upgrades will proceed.",
      "type": "object"
    },
    "MonitoringComponentConfig": {
      "properties": {
        "enableComponents": {
          "type": "array",
          "description": "Select components to collect metrics. An empty set would disable all monitoring.",
          "items": {
            "enumDescriptions": [
              "Default value. This shouldn't be used.",
              "system components"
            ],
            "type": "string",
            "enum": [
              "COMPONENT_UNSPECIFIED",
              "SYSTEM_COMPONENTS"
            ]
          }
        }
      },
      "description": "MonitoringComponentConfig is cluster monitoring component configuration.",
      "id": "MonitoringComponentConfig",
      "type": "object"
    },
    "StartIPRotationRequest": {
      "id": "StartIPRotationRequest",
      "description": "StartIPRotationRequest creates a new IP for the cluster and then performs a node upgrade on each node pool to point to the new IP.",
      "type": "object",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field."
        },
        "name": {
          "description": "The name (project, location, cluster id) of the cluster to start IP rotation. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "rotateCredentials": {
          "type": "boolean",
          "description": "Whether to rotate credentials during IP rotation."
        },
        "clusterId": {
          "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      }
    },
    "SetLegacyAbacRequest": {
      "properties": {
        "clusterId": {
          "description": "Required. Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "Required. Whether ABAC authorization will be enabled in the cluster."
        },
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster id) of the cluster to set legacy abac. Specified in the format `projects/*/locations/*/clusters/*`."
        }
      },
      "description": "SetLegacyAbacRequest enables or disables the ABAC authorization mechanism for a cluster.",
      "id": "SetLegacyAbacRequest",
      "type": "object"
    },
    "Jwk": {
      "properties": {
        "kty": {
          "type": "string",
          "description": "Key Type."
        },
        "n": {
          "type": "string",
          "description": "Used for RSA keys."
        },
        "y": {
          "description": "Used for ECDSA keys.",
          "type": "string"
        },
        "e": {
          "type": "string",
          "description": "Used for RSA keys."
        },
        "kid": {
          "type": "string",
          "description": "Key ID."
        },
        "alg": {
          "description": "Algorithm.",
          "type": "string"
        },
        "crv": {
          "type": "string",
          "description": "Used for ECDSA keys."
        },
        "x": {
          "type": "string",
          "description": "Used for ECDSA keys."
        },
        "use": {
          "type": "string",
          "description": "Permitted uses for the public keys."
        }
      },
      "type": "object",
      "description": "Jwk is a JSON Web Key as specified in RFC 7517",
      "id": "Jwk"
    },
    "SetNodePoolAutoscalingRequest": {
      "description": "SetNodePoolAutoscalingRequest sets the autoscaler settings of a node pool.",
      "id": "SetNodePoolAutoscalingRequest",
      "properties": {
        "name": {
          "description": "The name (project, location, cluster, node pool) of the node pool to set autoscaler settings. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "autoscaling": {
          "description": "Required. Autoscaling configuration for the node pool.",
          "$ref": "NodePoolAutoscaling"
        },
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
        },
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
        },
        "nodePoolId": {
          "description": "Required. Deprecated. The name of the node pool to upgrade. This field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PodSecurityPolicyConfig": {
      "id": "PodSecurityPolicyConfig",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Enable the PodSecurityPolicy controller for this cluster. If enabled, pods must be valid under a PodSecurityPolicy to be created."
        }
      },
      "description": "Configuration for the PodSecurityPolicy feature."
    },
    "SandboxConfig": {
      "id": "SandboxConfig",
      "description": "SandboxConfig contains configurations of the sandbox to use for the node.",
      "type": "object",
      "properties": {
        "sandboxType": {
          "description": "Type of the sandbox to use for the node (e.g. 'gvisor')",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Default value. This should not be used.",
            "Run sandbox using gvisor."
          ],
          "type": "string",
          "description": "Type of the sandbox to use for the node.",
          "enum": [
            "UNSPECIFIED",
            "GVISOR"
          ]
        }
      }
    },
    "UpgradeAvailableEvent": {
      "id": "UpgradeAvailableEvent",
      "type": "object",
      "properties": {
        "resource": {
          "type": "string",
          "description": "Optional relative path to the resource. For example, the relative path of the node pool."
        },
        "releaseChannel": {
          "$ref": "ReleaseChannel",
          "description": "The release channel of the version. If empty, it means a non-channel release."
        },
        "version": {
          "type": "string",
          "description": "The release version available for upgrade."
        },
        "resourceType": {
          "type": "string",
          "enum": [
            "UPGRADE_RESOURCE_TYPE_UNSPECIFIED",
            "MASTER",
            "NODE_POOL"
          ],
          "description": "The resource type of the release version.",
          "enumDescriptions": [
            "Default value. This shouldn't be used.",
            "Master / control plane",
            "Node pool"
          ]
        }
      },
      "description": "UpgradeAvailableEvent is a notification sent to customers when a new available version is released."
    },
    "ClientCertificateConfig": {
      "id": "ClientCertificateConfig",
      "type": "object",
      "description": "Configuration for client certificates on the cluster.",
      "properties": {
        "issueClientCertificate": {
          "type": "boolean",
          "description": "Issue a client certificate."
        }
      }
    },
    "SetNodePoolManagementRequest": {
      "id": "SetNodePoolManagementRequest",
      "description": "SetNodePoolManagementRequest sets the node management properties of a node pool.",
      "type": "object",
      "properties": {
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field."
        },
        "name": {
          "description": "The name (project, location, cluster, node pool id) of the node pool to set management properties. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
          "type": "string"
        },
        "management": {
          "description": "Required. NodeManagement configuration for the node pool.",
          "$ref": "NodeManagement"
        },
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
        },
        "nodePoolId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the node pool to update. This field has been deprecated and replaced by the name field."
        },
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      }
    },
    "UsableSubnetworkSecondaryRange": {
      "type": "object",
      "id": "UsableSubnetworkSecondaryRange",
      "description": "Secondary IP range of a usable subnetwork.",
      "properties": {
        "ipCidrRange": {
          "type": "string",
          "description": "The range of IP addresses belonging to this subnetwork secondary range."
        },
        "status": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "UNUSED",
            "IN_USE_SERVICE",
            "IN_USE_SHAREABLE_POD",
            "IN_USE_MANAGED_POD"
          ],
          "enumDescriptions": [
            "UNKNOWN is the zero value of the Status enum. It's not a valid status.",
            "UNUSED denotes that this range is unclaimed by any cluster.",
            "IN_USE_SERVICE denotes that this range is claimed by a cluster for services. It cannot be used for other clusters.",
            "IN_USE_SHAREABLE_POD denotes this range was created by the network admin and is currently claimed by a cluster for pods. It can only be used by other clusters as a pod range.",
            "IN_USE_MANAGED_POD denotes this range was created by GKE and is claimed for pods. It cannot be used for other clusters."
          ],
          "description": "This field is to determine the status of the secondary range programmably."
        },
        "rangeName": {
          "description": "The name associated with this subnetwork secondary range, used when adding an alias IP range to a VM instance.",
          "type": "string"
        }
      }
    },
    "ReleaseChannel": {
      "id": "ReleaseChannel",
      "description": "ReleaseChannel indicates which release channel a cluster is subscribed to. Release channels are arranged in order of risk. When a cluster is subscribed to a release channel, Google maintains both the master version and the node version. Node auto-upgrade defaults to true and cannot be disabled.",
      "properties": {
        "channel": {
          "description": "channel specifies which release channel the cluster is subscribed to.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE"
          ],
          "enumDescriptions": [
            "No channel specified.",
            "RAPID channel is offered on an early access basis for customers who want to test new releases. WARNING: Versions available in the RAPID Channel may be subject to unresolved issues with no known workaround and are not subject to any SLAs.",
            "Clusters subscribed to REGULAR receive versions that are considered GA quality. REGULAR is intended for production users who want to take advantage of new features.",
            "Clusters subscribed to STABLE receive versions that are known to be stable and reliable in production."
          ]
        }
      },
      "type": "object"
    },
    "NodeKubeletConfig": {
      "properties": {
        "cpuManagerPolicy": {
          "description": "Control the CPU management policy on the node. See https://kubernetes.io/docs/tasks/administer-cluster/cpu-management-policies/ The following values are allowed. - \"none\": the default, which represents the existing scheduling behavior. - \"static\": allows pods with certain resource characteristics to be granted increased CPU affinity and exclusivity on the node. The default value is 'none' if unspecified.",
          "type": "string"
        },
        "cpuCfsQuota": {
          "type": "boolean",
          "description": "Enable CPU CFS quota enforcement for containers that specify CPU limits. This option is enabled by default which makes kubelet use CFS quota (https://www.kernel.org/doc/Documentation/scheduler/sched-bwc.txt) to enforce container CPU limits. Otherwise, CPU limits will not be enforced at all. Disable this option to mitigate CPU throttling problems while still having your pods to be in Guaranteed QoS class by specifying the CPU limits. The default value is 'true' if unspecified."
        },
        "cpuCfsQuotaPeriod": {
          "description": "Set the CPU CFS quota period value 'cpu.cfs_period_us'. The string must be a sequence of decimal numbers, each with optional fraction and a unit suffix, such as \"300ms\". Valid time units are \"ns\", \"us\" (or \"µs\"), \"ms\", \"s\", \"m\", \"h\". The value must be a positive duration.",
          "type": "string"
        }
      },
      "id": "NodeKubeletConfig",
      "type": "object",
      "description": "Node kubelet configs."
    },
    "NetworkConfig": {
      "description": "NetworkConfig reports the relative names of network & subnetwork.",
      "type": "object",
      "id": "NetworkConfig",
      "properties": {
        "dnsConfig": {
          "description": "DNSConfig contains clusterDNS config for this cluster.",
          "$ref": "DNSConfig"
        },
        "serviceExternalIpsConfig": {
          "description": "ServiceExternalIPsConfig specifies if services with externalIPs field are blocked or not.",
          "$ref": "ServiceExternalIPsConfig"
        },
        "defaultSnatStatus": {
          "description": "Whether the cluster disables default in-node sNAT rules. In-node sNAT rules will be disabled when default_snat_status is disabled. When disabled is set to false, default IP masquerade rules will be applied to the nodes to prevent sNAT on cluster internal traffic.",
          "$ref": "DefaultSnatStatus"
        },
        "privateIpv6GoogleAccess": {
          "enumDescriptions": [
            "Default value. Same as DISABLED",
            "No private access to or from Google Services",
            "Enables private IPv6 access to Google Services from GKE",
            "Enables priate IPv6 access to and from Google Services"
          ],
          "type": "string",
          "enum": [
            "PRIVATE_IPV6_GOOGLE_ACCESS_UNSPECIFIED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_DISABLED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_TO_GOOGLE",
            "PRIVATE_IPV6_GOOGLE_ACCESS_BIDIRECTIONAL"
          ],
          "description": "The desired state of IPv6 connectivity to Google Services. By default, no private IPv6 access to or from Google Services (all access will be via IPv4)"
        },
        "enableL4ilbSubsetting": {
          "description": "Whether L4ILB Subsetting is enabled for this cluster.",
          "type": "boolean"
        },
        "subnetwork": {
          "description": "Output only. The relative name of the Google Compute Engine [subnetwork](https://cloud.google.com/compute/docs/vpc) to which the cluster is connected. Example: projects/my-project/regions/us-central1/subnetworks/my-subnet",
          "type": "string"
        },
        "enableIntraNodeVisibility": {
          "description": "Whether Intra-node visibility is enabled for this cluster. This makes same node pod to pod traffic visible for VPC network.",
          "type": "boolean"
        },
        "datapathProvider": {
          "type": "string",
          "enum": [
            "DATAPATH_PROVIDER_UNSPECIFIED",
            "LEGACY_DATAPATH",
            "ADVANCED_DATAPATH"
          ],
          "enumDescriptions": [
            "Default value.",
            "Use the IPTables implementation based on kube-proxy.",
            "Use the eBPF based GKE Dataplane V2 with additional features. See the [GKE Dataplane V2 documentation](https://cloud.google.com/kubernetes-engine/docs/how-to/dataplane-v2) for more."
          ],
          "description": "The desired datapath provider for this cluster. By default, uses the IPTables-based kube-proxy implementation."
        },
        "network": {
          "description": "Output only. The relative name of the Google Compute Engine network(https://cloud.google.com/compute/docs/networks-and-firewalls#networks) to which the cluster is connected. Example: projects/my-project/global/networks/my-network",
          "type": "string"
        }
      }
    },
    "LoggingConfig": {
      "id": "LoggingConfig",
      "description": "LoggingConfig is cluster logging configuration.",
      "type": "object",
      "properties": {
        "componentConfig": {
          "$ref": "LoggingComponentConfig",
          "description": "Logging components configuration"
        }
      }
    },
    "MaxPodsConstraint": {
      "properties": {
        "maxPodsPerNode": {
          "type": "string",
          "description": "Constraint enforced on the max num of pods per node.",
          "format": "int64"
        }
      },
      "description": "Constraints applied to pods.",
      "id": "MaxPodsConstraint",
      "type": "object"
    },
    "ListNodePoolsResponse": {
      "properties": {
        "nodePools": {
          "type": "array",
          "description": "A list of node pools for a cluster.",
          "items": {
            "$ref": "NodePool"
          }
        }
      },
      "description": "ListNodePoolsResponse is the result of ListNodePoolsRequest.",
      "type": "object",
      "id": "ListNodePoolsResponse"
    },
    "CompleteIPRotationRequest": {
      "properties": {
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field."
        },
        "name": {
          "description": "The name (project, location, cluster id) of the cluster to complete IP rotation. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field."
        },
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      },
      "description": "CompleteIPRotationRequest moves the cluster master back into single-IP mode.",
      "id": "CompleteIPRotationRequest",
      "type": "object"
    },
    "ConsumptionMeteringConfig": {
      "description": "Parameters for controlling consumption metering.",
      "id": "ConsumptionMeteringConfig",
      "properties": {
        "enabled": {
          "description": "Whether to enable consumption metering for this cluster. If enabled, a second BigQuery table will be created to hold resource consumption records.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "CancelOperationRequest": {
      "type": "object",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
        },
        "name": {
          "description": "The name (project, location, operation id) of the operation to cancel. Specified in the format `projects/*/locations/*/operations/*`.",
          "type": "string"
        },
        "operationId": {
          "type": "string",
          "description": "Required. Deprecated. The server-assigned `name` of the operation. This field has been deprecated and replaced by the name field."
        },
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the operation resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      },
      "description": "CancelOperationRequest cancels a single operation.",
      "id": "CancelOperationRequest"
    },
    "ClusterAutoscaling": {
      "type": "object",
      "id": "ClusterAutoscaling",
      "description": "ClusterAutoscaling contains global, per-cluster information required by Cluster Autoscaler to automatically adjust the size of the cluster and create/delete node pools based on the current needs.",
      "properties": {
        "autoprovisioningNodePoolDefaults": {
          "description": "AutoprovisioningNodePoolDefaults contains defaults for a node pool created by NAP.",
          "$ref": "AutoprovisioningNodePoolDefaults"
        },
        "resourceLimits": {
          "description": "Contains global constraints regarding minimum and maximum amount of resources in the cluster.",
          "type": "array",
          "items": {
            "$ref": "ResourceLimit"
          }
        },
        "autoscalingProfile": {
          "description": "Defines autoscaling behaviour.",
          "enumDescriptions": [
            "No change to autoscaling configuration.",
            "Prioritize optimizing utilization of resources.",
            "Use default (balanced) autoscaling configuration."
          ],
          "type": "string",
          "enum": [
            "PROFILE_UNSPECIFIED",
            "OPTIMIZE_UTILIZATION",
            "BALANCED"
          ]
        },
        "enableNodeAutoprovisioning": {
          "description": "Enables automatic node pool creation and deletion.",
          "type": "boolean"
        },
        "autoprovisioningLocations": {
          "description": "The list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the NodePool's nodes can be created by NAP.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "NodePoolAutoscaling": {
      "type": "object",
      "id": "NodePoolAutoscaling",
      "description": "NodePoolAutoscaling contains information required by cluster autoscaler to adjust the size of the node pool to the current cluster usage.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Is autoscaling enabled for this node pool."
        },
        "maxNodeCount": {
          "description": "Maximum number of nodes in the NodePool. Must be \u003e= min_node_count. There has to be enough quota to scale up the cluster.",
          "type": "integer",
          "format": "int32"
        },
        "minNodeCount": {
          "description": "Minimum number of nodes in the NodePool. Must be \u003e= 1 and \u003c= max_node_count.",
          "format": "int32",
          "type": "integer"
        },
        "autoprovisioned": {
          "description": "Can this node pool be deleted automatically.",
          "type": "boolean"
        }
      }
    },
    "CloudRunConfig": {
      "type": "object",
      "id": "CloudRunConfig",
      "properties": {
        "loadBalancerType": {
          "enum": [
            "LOAD_BALANCER_TYPE_UNSPECIFIED",
            "LOAD_BALANCER_TYPE_EXTERNAL",
            "LOAD_BALANCER_TYPE_INTERNAL"
          ],
          "type": "string",
          "description": "Which load balancer type is installed for Cloud Run.",
          "enumDescriptions": [
            "Load balancer type for Cloud Run is unspecified.",
            "Install external load balancer for Cloud Run.",
            "Install internal load balancer for Cloud Run."
          ]
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether Cloud Run addon is enabled for this cluster."
        }
      },
      "description": "Configuration options for the Cloud Run feature."
    },
    "DnsCacheConfig": {
      "type": "object",
      "id": "DnsCacheConfig",
      "properties": {
        "enabled": {
          "description": "Whether NodeLocal DNSCache is enabled for this cluster.",
          "type": "boolean"
        }
      },
      "description": "Configuration for NodeLocal DNSCache"
    },
    "UpdateMasterRequest": {
      "type": "object",
      "description": "UpdateMasterRequest updates the master of the cluster.",
      "id": "UpdateMasterRequest",
      "properties": {
        "masterVersion": {
          "type": "string",
          "description": "Required. The Kubernetes version to change the master to. Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"-\": picks the default Kubernetes version"
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster) of the cluster to update. Specified in the format `projects/*/locations/*/clusters/*`."
        },
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
        },
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
        }
      }
    },
    "ListClustersResponse": {
      "properties": {
        "missingZones": {
          "description": "If any zones are listed here, the list of clusters returned may be missing those zones.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "clusters": {
          "description": "A list of clusters in the project in the specified zone, or across all ones.",
          "items": {
            "$ref": "Cluster"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "ListClustersResponse is the result of ListClustersRequest.",
      "id": "ListClustersResponse"
    },
    "SetMonitoringServiceRequest": {
      "description": "SetMonitoringServiceRequest sets the monitoring service of a cluster.",
      "id": "SetMonitoringServiceRequest",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
        },
        "monitoringService": {
          "type": "string",
          "description": "Required. The monitoring service the cluster should use to write metrics. Currently available options: * \"monitoring.googleapis.com/kubernetes\" - The Cloud Monitoring service with a Kubernetes-native resource model * `monitoring.googleapis.com` - The legacy Cloud Monitoring service (no longer available as of GKE 1.15). * `none` - No metrics will be exported from the cluster. If left as an empty string,`monitoring.googleapis.com/kubernetes` will be used for GKE 1.14+ or `monitoring.googleapis.com` for earlier versions."
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set monitoring. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        }
      }
    },
    "SetNetworkPolicyRequest": {
      "properties": {
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster id) of the cluster to set networking policy. Specified in the format `projects/*/locations/*/clusters/*`."
        },
        "clusterId": {
          "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "networkPolicy": {
          "$ref": "NetworkPolicy",
          "description": "Required. Configuration options for the NetworkPolicy feature."
        }
      },
      "id": "SetNetworkPolicyRequest",
      "type": "object",
      "description": "SetNetworkPolicyRequest enables/disables network policy for a cluster."
    },
    "DNSConfig": {
      "id": "DNSConfig",
      "description": "DNSConfig contains the desired set of options for configuring clusterDNS.",
      "properties": {
        "clusterDnsDomain": {
          "type": "string",
          "description": "cluster_dns_domain is the suffix used for all cluster service records."
        },
        "clusterDnsScope": {
          "type": "string",
          "enum": [
            "DNS_SCOPE_UNSPECIFIED",
            "CLUSTER_SCOPE",
            "VPC_SCOPE"
          ],
          "enumDescriptions": [
            "Default value, will be inferred as cluster scope.",
            "DNS records are accessible from within the cluster.",
            "DNS records are accessible from within the VPC."
          ],
          "description": "cluster_dns_scope indicates the scope of access to cluster DNS records."
        },
        "clusterDns": {
          "description": "cluster_dns indicates which in-cluster DNS provider should be used.",
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "PLATFORM_DEFAULT",
            "CLOUD_DNS"
          ],
          "enumDescriptions": [
            "Default value",
            "Use GKE default DNS provider(kube-dns) for DNS resolution.",
            "Use CloudDNS for DNS resolution."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "Master": {
      "description": "Master is the configuration for components on master.",
      "id": "Master",
      "properties": {},
      "type": "object"
    },
    "CidrBlock": {
      "properties": {
        "cidrBlock": {
          "type": "string",
          "description": "cidr_block must be specified in CIDR notation."
        },
        "displayName": {
          "type": "string",
          "description": "display_name is an optional field for users to identify CIDR blocks."
        }
      },
      "id": "CidrBlock",
      "description": "CidrBlock contains an optional name and one CIDR block.",
      "type": "object"
    },
    "PrivateClusterConfig": {
      "id": "PrivateClusterConfig",
      "type": "object",
      "description": "Configuration options for private clusters.",
      "properties": {
        "publicEndpoint": {
          "type": "string",
          "description": "Output only. The external IP address of this cluster's master endpoint."
        },
        "enablePrivateNodes": {
          "type": "boolean",
          "description": "Whether nodes have internal IP addresses only. If enabled, all nodes are given only RFC 1918 private addresses and communicate with the master via private networking."
        },
        "peeringName": {
          "description": "Output only. The peering name in the customer VPC used by this cluster.",
          "type": "string"
        },
        "masterIpv4CidrBlock": {
          "type": "string",
          "description": "The IP range in CIDR notation to use for the hosted master network. This range will be used for assigning internal IP addresses to the master or set of masters, as well as the ILB VIP. This range must not overlap with any other ranges in use within the cluster's network."
        },
        "enablePrivateEndpoint": {
          "description": "Whether the master's internal IP address is used as the cluster endpoint.",
          "type": "boolean"
        },
        "privateEndpoint": {
          "description": "Output only. The internal IP address of this cluster's master endpoint.",
          "type": "string"
        },
        "masterGlobalAccessConfig": {
          "$ref": "PrivateClusterMasterGlobalAccessConfig",
          "description": "Controls master global access settings."
        }
      }
    },
    "SetAddonsConfigRequest": {
      "type": "object",
      "properties": {
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
        },
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set addons. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "addonsConfig": {
          "description": "Required. The desired configurations for the various addons available to run in the cluster.",
          "$ref": "AddonsConfig"
        },
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
        }
      },
      "id": "SetAddonsConfigRequest",
      "description": "SetAddonsRequest sets the addons associated with the cluster."
    },
    "ConfidentialNodes": {
      "id": "ConfidentialNodes",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether Confidential Nodes feature is enabled for all nodes in this cluster."
        }
      },
      "type": "object",
      "description": "ConfidentialNodes is configuration for the confidential nodes feature, which makes nodes run on confidential VMs."
    },
    "SetLocationsRequest": {
      "id": "SetLocationsRequest",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
        },
        "clusterId": {
          "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster) of the cluster to set locations. Specified in the format `projects/*/locations/*/clusters/*`."
        },
        "locations": {
          "description": "Required. The desired list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the cluster's nodes should be located. Changing the locations a cluster is in will result in nodes being either created or removed from the cluster, depending on whether locations are being added or removed. This list must always include the cluster's primary zone.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "SetLocationsRequest sets the locations of the cluster.",
      "type": "object"
    },
    "BigQueryDestination": {
      "properties": {
        "datasetId": {
          "description": "The ID of a BigQuery Dataset.",
          "type": "string"
        }
      },
      "id": "BigQueryDestination",
      "type": "object",
      "description": "Parameters for using BigQuery as the destination of resource usage export."
    },
    "PrivateClusterMasterGlobalAccessConfig": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whenever master is accessible globally or not."
        }
      },
      "type": "object",
      "description": "Configuration for controlling master global access settings.",
      "id": "PrivateClusterMasterGlobalAccessConfig"
    },
    "UpgradeSettings": {
      "properties": {
        "maxSurge": {
          "format": "int32",
          "description": "The maximum number of nodes that can be created beyond the current size of the node pool during the upgrade process.",
          "type": "integer"
        },
        "maxUnavailable": {
          "description": "The maximum number of nodes that can be simultaneously unavailable during the upgrade process. A node is considered available if its status is Ready.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "UpgradeSettings"
    },
    "TimeWindow": {
      "id": "TimeWindow",
      "type": "object",
      "description": "Represents an arbitrary window of time.",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "The time that the window ends. The end time should take place after the start time.",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "The time that the window first starts.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "ClusterTelemetry": {
      "id": "ClusterTelemetry",
      "properties": {
        "type": {
          "description": "Type of the integration.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Monitoring integration is disabled.",
            "Monitoring integration is enabled.",
            "Only system components are monitored and logged."
          ],
          "enum": [
            "UNSPECIFIED",
            "DISABLED",
            "ENABLED",
            "SYSTEM_ONLY"
          ]
        }
      },
      "type": "object",
      "description": "Telemetry integration for the cluster."
    },
    "NodeConfigDefaults": {
      "properties": {},
      "id": "NodeConfigDefaults",
      "description": "Subset of NodeConfig message that has defaults.",
      "type": "object"
    },
    "HorizontalPodAutoscaling": {
      "properties": {
        "disabled": {
          "description": "Whether the Horizontal Pod Autoscaling feature is enabled in the cluster. When enabled, it ensures that metrics are collected into Stackdriver Monitoring.",
          "type": "boolean"
        }
      },
      "description": "Configuration options for the horizontal pod autoscaling feature, which increases or decreases the number of replica pods a replication controller has based on the resource usage of the existing pods.",
      "id": "HorizontalPodAutoscaling",
      "type": "object"
    },
    "OperationProgress": {
      "id": "OperationProgress",
      "properties": {
        "stages": {
          "items": {
            "$ref": "OperationProgress"
          },
          "type": "array",
          "description": "Substages of an operation or a stage."
        },
        "metrics": {
          "items": {
            "$ref": "Metric"
          },
          "description": "Progress metric bundle, for example: metrics: [{name: \"nodes done\", int_value: 15}, {name: \"nodes total\", int_value: 32}] or metrics: [{name: \"progress\", double_value: 0.56}, {name: \"progress scale\", double_value: 1.0}]",
          "type": "array"
        },
        "status": {
          "description": "Status of an operation stage. Unset for single-stage operations.",
          "enumDescriptions": [
            "Not set.",
            "The operation has been created.",
            "The operation is currently running.",
            "The operation is done, either cancelled or completed.",
            "The operation is aborting."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "ABORTING"
          ],
          "type": "string"
        },
        "name": {
          "description": "A non-parameterized string describing an operation stage. Unset for single-stage operations.",
          "type": "string"
        }
      },
      "description": "Information about operation (or operation stage) progress.",
      "type": "object"
    },
    "Cluster": {
      "properties": {
        "monitoringConfig": {
          "description": "Monitoring configuration for the cluster.",
          "$ref": "MonitoringConfig"
        },
        "locations": {
          "description": "The list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the cluster's nodes should be located. This field provides a default value if [NodePool.Locations](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters.nodePools#NodePool.FIELDS.locations) are not specified during node pool creation. Warning: changing cluster locations will update the [NodePool.Locations](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters.nodePools#NodePool.FIELDS.locations) of all node pools and will result in nodes being added and/or removed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "monitoringService": {
          "description": "The monitoring service the cluster should use to write metrics. Currently available options: * \"monitoring.googleapis.com/kubernetes\" - The Cloud Monitoring service with a Kubernetes-native resource model * `monitoring.googleapis.com` - The legacy Cloud Monitoring service (no longer available as of GKE 1.15). * `none` - No metrics will be exported from the cluster. If left as an empty string,`monitoring.googleapis.com/kubernetes` will be used for GKE 1.14+ or `monitoring.googleapis.com` for earlier versions.",
          "type": "string"
        },
        "subnetwork": {
          "type": "string",
          "description": "The name of the Google Compute Engine [subnetwork](https://cloud.google.com/compute/docs/subnetworks) to which the cluster is connected. On output this shows the subnetwork ID instead of the name."
        },
        "name": {
          "type": "string",
          "description": "The name of this cluster. The name must be unique within this project and location (e.g. zone or region), and can be up to 40 characters with the following restrictions: * Lowercase letters, numbers, and hyphens only. * Must start with a letter. * Must end with a number or a letter."
        },
        "defaultMaxPodsConstraint": {
          "$ref": "MaxPodsConstraint",
          "description": "The default constraint on the maximum number of pods that can be run simultaneously on a node in the node pool of this cluster. Only honored if cluster created with IP Alias support."
        },
        "masterAuthorizedNetworksConfig": {
          "description": "The configuration options for master authorized networks feature.",
          "$ref": "MasterAuthorizedNetworksConfig"
        },
        "privateClusterConfig": {
          "$ref": "PrivateClusterConfig",
          "description": "Configuration for private cluster."
        },
        "tpuIpv4CidrBlock": {
          "type": "string",
          "description": "[Output only] The IP address range of the Cloud TPUs in this cluster, in [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `1.2.3.4/29`)."
        },
        "id": {
          "description": "Output only. Unique id for the cluster.",
          "readOnly": true,
          "type": "string"
        },
        "tpuConfig": {
          "description": "Configuration for Cloud TPU support;",
          "$ref": "TpuConfig"
        },
        "initialNodeCount": {
          "description": "The number of nodes to create in this cluster. You must ensure that your Compute Engine [resource quota](https://cloud.google.com/compute/quotas) is sufficient for this number of instances. You must also have available firewall and routes quota. For requests, this field should only be used in lieu of a \"node_pool\" object, since this configuration (along with the \"node_config\") will be used to create a \"NodePool\" object with an auto-generated name. Do not use this and a node_pool at the same time. This field is deprecated, use node_pool.initial_node_count instead.",
          "format": "int32",
          "type": "integer"
        },
        "currentMasterVersion": {
          "type": "string",
          "description": "[Output only] The current software version of the master endpoint."
        },
        "masterAuth": {
          "description": "The authentication information for accessing the master endpoint. If unspecified, the defaults are used: For clusters before v1.12, if master_auth is unspecified, `username` will be set to \"admin\", a random password will be generated, and a client certificate will be issued.",
          "$ref": "MasterAuth"
        },
        "network": {
          "type": "string",
          "description": "The name of the Google Compute Engine [network](https://cloud.google.com/compute/docs/networks-and-firewalls#networks) to which the cluster is connected. If left unspecified, the `default` network will be used. On output this shows the network ID instead of the name."
        },
        "zone": {
          "type": "string",
          "description": "[Output only] The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field is deprecated, use location instead."
        },
        "statusMessage": {
          "description": "[Output only] Deprecated. Use conditions instead. Additional information about the current status of this cluster, if available.",
          "type": "string"
        },
        "shieldedNodes": {
          "description": "Shielded Nodes configuration.",
          "$ref": "ShieldedNodes"
        },
        "autopilot": {
          "description": "Autopilot configuration for the cluster.",
          "$ref": "Autopilot"
        },
        "currentNodeCount": {
          "description": "[Output only] The number of nodes currently in the cluster. Deprecated. Call Kubernetes API directly to retrieve node information.",
          "type": "integer",
          "format": "int32"
        },
        "description": {
          "type": "string",
          "description": "An optional description of this cluster."
        },
        "authenticatorGroupsConfig": {
          "$ref": "AuthenticatorGroupsConfig",
          "description": "Configuration controlling RBAC group membership information."
        },
        "nodeIpv4CidrSize": {
          "format": "int32",
          "type": "integer",
          "description": "[Output only] The size of the address space on each node for hosting containers. This is provisioned from within the `container_ipv4_cidr` range. This field will only be set when cluster is in route-based network mode."
        },
        "expireTime": {
          "type": "string",
          "description": "[Output only] The time the cluster will be automatically deleted in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
        },
        "verticalPodAutoscaling": {
          "$ref": "VerticalPodAutoscaling",
          "description": "Cluster-level Vertical Pod Autoscaling configuration."
        },
        "privateCluster": {
          "type": "boolean",
          "description": "If this is a private cluster setup. Private clusters are clusters that, by default have no external IP addresses on the nodes and where nodes and the master communicate over private IP addresses. This field is deprecated, use private_cluster_config.enable_private_nodes instead."
        },
        "labelFingerprint": {
          "description": "The fingerprint of the set of labels for this cluster.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "[Output only] The time the cluster was created, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
        },
        "instanceGroupUrls": {
          "description": "Deprecated. Use node_pools.instance_group_urls.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "masterIpv4CidrBlock": {
          "type": "string",
          "description": "The IP prefix in CIDR notation to use for the hosted master network. This prefix will be used for assigning private IP addresses to the master or set of masters, as well as the ILB VIP. This field is deprecated, use private_cluster_config.master_ipv4_cidr_block instead."
        },
        "workloadIdentityConfig": {
          "$ref": "WorkloadIdentityConfig",
          "description": "Configuration for the use of Kubernetes Service Accounts in GCP IAM policies."
        },
        "networkPolicy": {
          "$ref": "NetworkPolicy",
          "description": "Configuration options for the NetworkPolicy feature."
        },
        "servicesIpv4Cidr": {
          "type": "string",
          "description": "[Output only] The IP address range of the Kubernetes services in this cluster, in [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `1.2.3.4/29`). Service addresses are typically put in the last `/16` from the container CIDR."
        },
        "addonsConfig": {
          "description": "Configurations for the various addons available to run in the cluster.",
          "$ref": "AddonsConfig"
        },
        "initialClusterVersion": {
          "type": "string",
          "description": "The initial Kubernetes version for this cluster. Valid versions are those found in validMasterVersions returned by getServerConfig. The version can be upgraded over time; such upgrades are reflected in currentMasterVersion and currentNodeVersion. Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"\",\"-\": picks the default Kubernetes version"
        },
        "enableKubernetesAlpha": {
          "description": "Kubernetes alpha features are enabled on this cluster. This includes alpha API groups (e.g. v1beta1) and features that may not be production ready in the kubernetes version of the master and nodes. The cluster has no SLA for uptime and master/node upgrades are disabled. Alpha enabled clusters are automatically deleted thirty days after creation.",
          "type": "boolean"
        },
        "networkConfig": {
          "$ref": "NetworkConfig",
          "description": "Configuration for cluster networking."
        },
        "autoscaling": {
          "description": "Cluster-level autoscaling configuration.",
          "$ref": "ClusterAutoscaling"
        },
        "resourceLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The resource labels for the cluster to use to annotate any related Google Compute Engine resources."
        },
        "notificationConfig": {
          "$ref": "NotificationConfig",
          "description": "Notification configuration of the cluster."
        },
        "nodePools": {
          "description": "The node pools associated with this cluster. This field should not be set if \"node_config\" or \"initial_node_count\" are specified.",
          "items": {
            "$ref": "NodePool"
          },
          "type": "array"
        },
        "loggingConfig": {
          "$ref": "LoggingConfig",
          "description": "Logging configuration for the cluster."
        },
        "enableTpu": {
          "description": "Enable the ability to use Cloud TPUs in this cluster. This field is deprecated, use tpu_config.enabled instead.",
          "type": "boolean"
        },
        "location": {
[...]
