{
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://container.googleapis.com/",
  "protocol": "rest",
  "resources": {
    "projects": {
      "resources": {
        "zones": {
          "resources": {
            "operations": {
              "methods": {
                "cancel": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/operations/{operationId}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "path": "v1/projects/{projectId}/zones/{zone}/operations/{operationId}:cancel",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "operationId"
                  ],
                  "id": "container.projects.zones.operations.cancel",
                  "description": "Cancels the specified operation.",
                  "parameters": {
                    "operationId": {
                      "description": "Deprecated. The server-assigned `name` of the operation. This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "zone": {
                      "required": true,
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the operation resides. This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "location": "path"
                    },
                    "projectId": {
                      "location": "path",
                      "type": "string",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "required": true
                    }
                  },
                  "httpMethod": "POST"
                },
                "list": {
                  "id": "container.projects.zones.operations.list",
                  "parameterOrder": [
                    "projectId",
                    "zone"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the parent field."
                    },
                    "parent": {
                      "description": "The parent (project and location) where the operations will be listed. Specified in the format `projects/*/locations/*`. Location \"-\" matches all zones and all regions.",
                      "type": "string",
                      "location": "query"
                    },
                    "zone": {
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) to return operations for, or `-` for all zones. This field has been deprecated and replaced by the parent field.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v1/projects/{projectId}/zones/{zone}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/operations",
                  "description": "Lists all operations in a project in a specific zone or all zones."
                },
                "get": {
                  "path": "v1/projects/{projectId}/zones/{zone}/operations/{operationId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the specified operation.",
                  "parameters": {
                    "zone": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                    },
                    "operationId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Deprecated. The server-assigned `name` of the operation. This field has been deprecated and replaced by the name field."
                    },
                    "projectId": {
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "name": {
                      "description": "The name (project, location, operation id) of the operation to get. Specified in the format `projects/*/locations/*/operations/*`.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "container.projects.zones.operations.get",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "operationId"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/operations/{operationId}"
                }
              }
            },
            "clusters": {
              "methods": {
                "setNetworkPolicy": {
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setNetworkPolicy",
                  "description": "Enables or disables Network Policy for a cluster.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "SetNetworkPolicyRequest"
                  },
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setNetworkPolicy",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "parameters": {
                    "zone": {
                      "location": "path",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "type": "string"
                    },
                    "projectId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field."
                    },
                    "clusterId": {
                      "required": true,
                      "type": "string",
                      "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
                      "location": "path"
                    }
                  },
                  "id": "container.projects.zones.clusters.setNetworkPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST"
                },
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Cluster"
                  },
                  "id": "container.projects.zones.clusters.get",
                  "parameters": {
                    "zone": {
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name (project, location, cluster) of the cluster to retrieve. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "location": "query"
                    },
                    "clusterId": {
                      "type": "string",
                      "description": "Deprecated. The name of the cluster to retrieve. This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "required": true
                    },
                    "projectId": {
                      "required": true,
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the details of a specific cluster.",
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}"
                },
                "locations": {
                  "request": {
                    "$ref": "SetLocationsRequest"
                  },
                  "parameters": {
                    "zone": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                    },
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
                    },
                    "clusterId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Sets the locations for a specific cluster. Deprecated. Use [projects.locations.clusters.update](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters/update) instead.",
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/locations",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "httpMethod": "POST",
                  "id": "container.projects.zones.clusters.locations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/locations"
                },
                "master": {
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/master",
                  "id": "container.projects.zones.clusters.master",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/master",
                  "request": {
                    "$ref": "UpdateMasterRequest"
                  },
                  "description": "Updates the master for a specific cluster.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "clusterId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
                    },
                    "zone": {
                      "type": "string",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "location": "path"
                    },
                    "projectId": {
                      "type": "string",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "completeIpRotation": {
                  "parameters": {
                    "zone": {
                      "type": "string",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "required": true
                    },
                    "clusterId": {
                      "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "projectId": {
                      "location": "path",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:completeIpRotation",
                  "id": "container.projects.zones.clusters.completeIpRotation",
                  "description": "Completes master IP rotation.",
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:completeIpRotation",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "CompleteIPRotationRequest"
                  },
                  "httpMethod": "POST"
                },
                "startIpRotation": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "StartIPRotationRequest"
                  },
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:startIpRotation",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Starts master IP rotation.",
                  "id": "container.projects.zones.clusters.startIpRotation",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "type": "string"
                    },
                    "zone": {
                      "required": true,
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "type": "string"
                    },
                    "clusterId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field."
                    }
                  },
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:startIpRotation"
                },
                "logging": {
                  "parameters": {
                    "zone": {
                      "location": "path",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "required": true
                    },
                    "clusterId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
                    },
                    "projectId": {
                      "type": "string",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "SetLoggingServiceRequest"
                  },
                  "httpMethod": "POST",
                  "description": "Sets the logging service for a specific cluster.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "container.projects.zones.clusters.logging",
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/logging",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/logging"
                },
                "monitoring": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Sets the monitoring service for a specific cluster.",
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/monitoring",
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/monitoring",
                  "request": {
                    "$ref": "SetMonitoringServiceRequest"
                  },
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "type": "string"
                    },
                    "zone": {
                      "required": true,
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "location": "path"
                    },
                    "clusterId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
                    }
                  },
                  "id": "container.projects.zones.clusters.monitoring",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "setMaintenancePolicy": {
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setMaintenancePolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setMaintenancePolicy",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "SetMaintenancePolicyRequest"
                  },
                  "id": "container.projects.zones.clusters.setMaintenancePolicy",
                  "parameters": {
                    "clusterId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the cluster to update."
                    },
                    "zone": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides.",
                      "required": true
                    },
                    "projectId": {
                      "description": "Required. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840).",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Sets the maintenance policy for a cluster."
                },
                "legacyAbac": {
                  "request": {
                    "$ref": "SetLegacyAbacRequest"
                  },
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/legacyAbac",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/legacyAbac",
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
                    },
                    "clusterId": {
                      "description": "Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "zone": {
                      "type": "string",
                      "required": true,
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "location": "path"
                    }
                  },
                  "description": "Enables or disables the ABAC authorization mechanism on a cluster.",
                  "id": "container.projects.zones.clusters.legacyAbac",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ]
                },
                "delete": {
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "type": "string"
                    },
                    "zone": {
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "clusterId": {
                      "location": "path",
                      "description": "Deprecated. The name of the cluster to delete. This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "type": "string"
                    },
                    "name": {
                      "location": "query",
                      "description": "The name (project, location, cluster) of the cluster to delete. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "type": "string"
                    }
                  },
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                  "id": "container.projects.zones.clusters.delete",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "description": "Deletes the cluster, including the Kubernetes endpoint and all worker nodes. Firewalls and routes that were configured during cluster creation are also deleted. Other Google Compute Engine resources that might be in use by the cluster, such as load balancer resources, are not deleted if they weren't present when the cluster was initially created."
                },
                "addons": {
                  "id": "container.projects.zones.clusters.addons",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
                    },
                    "clusterId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
                    },
                    "zone": {
                      "type": "string",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/addons",
                  "description": "Sets the addons for a specific cluster.",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/addons",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SetAddonsConfigRequest"
                  }
                },
                "update": {
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "id": "container.projects.zones.clusters.update",
                  "parameters": {
                    "zone": {
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "projectId": {
                      "required": true,
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "type": "string"
                    },
                    "clusterId": {
                      "required": true,
                      "type": "string",
                      "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
                      "location": "path"
                    }
                  },
                  "httpMethod": "PUT",
                  "description": "Updates the settings of a specific cluster.",
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                  "request": {
                    "$ref": "UpdateClusterRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "resourceLabels": {
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/resourceLabels",
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/resourceLabels",
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field.",
                      "location": "path"
                    },
                    "zone": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                    },
                    "clusterId": {
                      "type": "string",
                      "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "container.projects.zones.clusters.resourceLabels",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "httpMethod": "POST",
                  "description": "Sets labels on a cluster.",
                  "request": {
                    "$ref": "SetLabelsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "setMasterAuth": {
                  "request": {
                    "$ref": "SetMasterAuthRequest"
                  },
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setMasterAuth",
                  "id": "container.projects.zones.clusters.setMasterAuth",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "parameters": {
                    "zone": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                    },
                    "clusterId": {
                      "type": "string",
                      "required": true,
                      "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
                      "location": "path"
                    },
                    "projectId": {
                      "required": true,
                      "location": "path",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Sets master auth materials. Currently supports changing the admin password or a specific cluster, either via password generation or explicitly setting the password.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setMasterAuth",
                  "httpMethod": "POST"
                },
                "list": {
                  "description": "Lists all clusters owned by a project in either the specified zone or all zones.",
                  "httpMethod": "GET",
                  "parameters": {
                    "zone": {
                      "required": true,
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides, or \"-\" for all zones. This field has been deprecated and replaced by the parent field.",
                      "location": "path",
                      "type": "string"
                    },
                    "projectId": {
                      "required": true,
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the parent field.",
                      "location": "path",
                      "type": "string"
                    },
                    "parent": {
                      "description": "The parent (project and location) where the clusters will be listed. Specified in the format `projects/*/locations/*`. Location \"-\" matches all zones and all regions.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "zone"
                  ],
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters",
                  "response": {
                    "$ref": "ListClustersResponse"
                  },
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters",
                  "id": "container.projects.zones.clusters.list"
                },
                "create": {
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the parent field."
                    },
                    "zone": {
                      "type": "string",
                      "location": "path",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the parent field.",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "CreateClusterRequest"
                  },
                  "id": "container.projects.zones.clusters.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Creates a cluster, consisting of the specified number and type of Google Compute Engine instances. By default, the cluster is created in the project's [default network](https://cloud.google.com/compute/docs/networks-and-firewalls#networks). One firewall is added for the cluster. After cluster creation, the Kubelet creates routes for each node to allow the containers on that node to communicate with all other instances in the cluster. Finally, an entry is added to the project's global metadata indicating which CIDR range the cluster is using.",
                  "parameterOrder": [
                    "projectId",
                    "zone"
                  ],
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters"
                }
              },
              "resources": {
                "nodePools": {
                  "methods": {
                    "setSize": {
                      "id": "container.projects.zones.clusters.nodePools.setSize",
                      "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/setSize",
                      "request": {
                        "$ref": "SetNodePoolSizeRequest"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST",
                      "description": "Sets the size for a specific node pool. The new size will be used for all replicas, including future replicas created by modifying NodePool.locations.",
                      "parameters": {
                        "nodePoolId": {
                          "location": "path",
                          "required": true,
                          "description": "Deprecated. The name of the node pool to update. This field has been deprecated and replaced by the name field.",
                          "type": "string"
                        },
                        "projectId": {
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "zone": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                        },
                        "clusterId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field."
                        }
                      },
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/setSize"
                    },
                    "create": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools",
                      "request": {
                        "$ref": "CreateNodePoolRequest"
                      },
                      "description": "Creates a node pool for a cluster.",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools",
                      "id": "container.projects.zones.clusters.nodePools.create",
                      "parameters": {
                        "projectId": {
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the parent field.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "clusterId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the parent field."
                        },
                        "zone": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the parent field."
                        }
                      }
                    },
                    "update": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "container.projects.zones.clusters.nodePools.update",
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/update",
                      "description": "Updates the version and/or image type for the specified node pool.",
                      "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/update",
                      "parameters": {
                        "nodePoolId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Deprecated. The name of the node pool to upgrade. This field has been deprecated and replaced by the name field."
                        },
                        "projectId": {
                          "type": "string",
                          "required": true,
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                          "location": "path"
                        },
                        "clusterId": {
                          "location": "path",
                          "type": "string",
                          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
                          "required": true
                        },
                        "zone": {
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "UpdateNodePoolRequest"
                      }
                    },
                    "autoscaling": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Sets the autoscaling settings for the specified node pool.",
                      "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/autoscaling",
                      "parameters": {
                        "nodePoolId": {
                          "required": true,
                          "location": "path",
                          "description": "Deprecated. The name of the node pool to upgrade. This field has been deprecated and replaced by the name field.",
                          "type": "string"
                        },
                        "projectId": {
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "clusterId": {
                          "type": "string",
                          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
                          "required": true,
                          "location": "path"
                        },
                        "zone": {
                          "location": "path",
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/autoscaling",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "SetNodePoolAutoscalingRequest"
                      },
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "id": "container.projects.zones.clusters.nodePools.autoscaling"
                    },
                    "rollback": {
                      "parameters": {
                        "zone": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                        },
                        "projectId": {
                          "required": true,
                          "type": "string",
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                          "location": "path"
                        },
                        "nodePoolId": {
                          "required": true,
                          "location": "path",
                          "description": "Deprecated. The name of the node pool to rollback. This field has been deprecated and replaced by the name field.",
                          "type": "string"
                        },
                        "clusterId": {
                          "description": "Deprecated. The name of the cluster to rollback. This field has been deprecated and replaced by the name field.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}:rollback",
                      "id": "container.projects.zones.clusters.nodePools.rollback",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}:rollback",
                      "description": "Rolls back a previously Aborted or Failed NodePool upgrade. This makes no changes if the last upgrade successfully completed.",
                      "request": {
                        "$ref": "RollbackNodePoolUpgradeRequest"
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "NodePool"
                      },
                      "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}",
                      "id": "container.projects.zones.clusters.nodePools.get",
                      "description": "Retrieves the requested node pool.",
                      "parameters": {
                        "nodePoolId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Deprecated. The name of the node pool. This field has been deprecated and replaced by the name field."
                        },
                        "name": {
                          "type": "string",
                          "location": "query",
                          "description": "The name (project, location, cluster, node pool id) of the node pool to get. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`."
                        },
                        "projectId": {
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "zone": {
                          "type": "string",
                          "location": "path",
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                          "required": true
                        },
                        "clusterId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field."
                        }
                      }
                    },
                    "list": {
                      "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools",
                      "id": "container.projects.zones.clusters.nodePools.list",
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId"
                      ],
                      "parameters": {
                        "zone": {
                          "required": true,
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the parent field.",
                          "location": "path",
                          "type": "string"
                        },
                        "clusterId": {
                          "type": "string",
                          "required": true,
                          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the parent field.",
                          "location": "path"
                        },
                        "parent": {
                          "type": "string",
                          "description": "The parent (project, location, cluster id) where the node pools will be listed. Specified in the format `projects/*/locations/*/clusters/*`.",
                          "location": "query"
                        },
                        "projectId": {
                          "type": "string",
                          "location": "path",
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the parent field.",
                          "required": true
                        }
                      },
                      "description": "Lists the node pools for a cluster.",
                      "response": {
                        "$ref": "ListNodePoolsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools",
                      "httpMethod": "GET"
                    },
                    "delete": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE",
                      "description": "Deletes a node pool from a cluster.",
                      "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}",
                      "parameters": {
                        "nodePoolId": {
                          "type": "string",
                          "description": "Deprecated. The name of the node pool to delete. This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "required": true
                        },
                        "clusterId": {
                          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "zone": {
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "projectId": {
                          "location": "path",
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field.",
                          "type": "string",
                          "required": true
                        },
                        "name": {
                          "type": "string",
                          "description": "The name (project, location, cluster, node pool id) of the node pool to delete. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
                          "location": "query"
                        }
                      },
                      "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}",
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "id": "container.projects.zones.clusters.nodePools.delete"
                    },
                    "setManagement": {
                      "parameters": {
                        "projectId": {
                          "type": "string",
                          "required": true,
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                          "location": "path"
                        },
                        "nodePoolId": {
                          "location": "path",
                          "type": "string",
                          "description": "Deprecated. The name of the node pool to update. This field has been deprecated and replaced by the name field.",
                          "required": true
                        },
                        "clusterId": {
                          "location": "path",
                          "type": "string",
                          "description": "Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field.",
                          "required": true
                        },
                        "zone": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                        }
                      },
                      "request": {
                        "$ref": "SetNodePoolManagementRequest"
                      },
                      "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/setManagement",
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/setManagement",
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST",
                      "description": "Sets the NodeManagement options for a node pool.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "container.projects.zones.clusters.nodePools.setManagement"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "getServerconfig": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "query",
                  "type": "string",
                  "description": "The name (project and location) of the server config to get, specified in the format `projects/*/locations/*`."
                },
                "zone": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) to return operations for. This field has been deprecated and replaced by the name field."
                },
                "projectId": {
                  "location": "path",
                  "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ServerConfig"
              },
              "id": "container.projects.zones.getServerconfig",
              "description": "Returns configuration info about the Google Kubernetes Engine service.",
              "flatPath": "v1/projects/{projectId}/zones/{zone}/serverconfig",
              "parameterOrder": [
                "projectId",
                "zone"
              ],
              "path": "v1/projects/{projectId}/zones/{zone}/serverconfig"
            }
          }
        },
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "cancel": {
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "description": "Cancels the specified operation.",
                  "id": "container.projects.locations.operations.cancel",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "The name (project, location, operation id) of the operation to cancel. Specified in the format `projects/*/locations/*/operations/*`."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "path": "v1/{+name}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "container.projects.locations.operations.get",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, operation id) of the operation to get. Specified in the format `projects/*/locations/*/operations/*`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true
                    },
                    "projectId": {
                      "location": "query",
                      "type": "string",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
                    },
                    "operationId": {
                      "location": "query",
                      "type": "string",
                      "description": "Deprecated. The server-assigned `name` of the operation. This field has been deprecated and replaced by the name field."
                    },
                    "zone": {
                      "location": "query",
                      "type": "string",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Gets the specified operation."
                },
                "list": {
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The parent (project and location) where the operations will be listed. Specified in the format `projects/*/locations/*`. Location \"-\" matches all zones and all regions.",
                      "type": "string"
                    },
                    "zone": {
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) to return operations for, or `-` for all zones. This field has been deprecated and replaced by the parent field.",
                      "location": "query",
                      "type": "string"
                    },
                    "projectId": {
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the parent field.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "description": "Lists all operations in a project in a specific zone or all zones.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/operations",
                  "id": "container.projects.locations.operations.list"
                }
              }
            },
            "clusters": {
              "methods": {
                "completeIpRotation": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "description": "The name (project, location, cluster id) of the cluster to complete IP rotation. Specified in the format `projects/*/locations/*/clusters/*`."
                    }
                  },
                  "description": "Completes master IP rotation.",
                  "path": "v1/{+name}:completeIpRotation",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "CompleteIPRotationRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:completeIpRotation",
                  "httpMethod": "POST",
                  "id": "container.projects.locations.clusters.completeIpRotation",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "startIpRotation": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path",
                      "description": "The name (project, location, cluster id) of the cluster to start IP rotation. Specified in the format `projects/*/locations/*/clusters/*`."
                    }
                  },
                  "description": "Starts master IP rotation.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "container.projects.locations.clusters.startIpRotation",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "StartIPRotationRequest"
                  },
                  "path": "v1/{+name}:startIpRotation",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:startIpRotation"
                },
                "setMonitoring": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "SetMonitoringServiceRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setMonitoring",
                  "path": "v1/{+name}:setMonitoring",
                  "description": "Sets the monitoring service for a specific cluster.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "id": "container.projects.locations.clusters.setMonitoring",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The name (project, location, cluster) of the cluster to set monitoring. Specified in the format `projects/*/locations/*/clusters/*`."
                    }
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListClustersResponse"
                  },
                  "path": "v1/{+parent}/clusters",
                  "httpMethod": "GET",
                  "description": "Lists all clusters owned by a project in either the specified zone or all zones.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "projectId": {
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the parent field.",
                      "location": "query",
                      "type": "string"
                    },
                    "zone": {
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides, or \"-\" for all zones. This field has been deprecated and replaced by the parent field.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "The parent (project and location) where the clusters will be listed. Specified in the format `projects/*/locations/*`. Location \"-\" matches all zones and all regions.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "id": "container.projects.locations.clusters.list"
                },
                "setNetworkPolicy": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Enables or disables Network Policy for a cluster.",
                  "id": "container.projects.locations.clusters.setNetworkPolicy",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "The name (project, location, cluster id) of the cluster to set networking policy. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "SetNetworkPolicyRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:setNetworkPolicy",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setNetworkPolicy",
                  "httpMethod": "POST"
                },
                "setResourceLabels": {
                  "description": "Sets labels on a cluster.",
                  "request": {
                    "$ref": "SetLabelsRequest"
                  },
                  "path": "v1/{+name}:setResourceLabels",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setResourceLabels",
                  "id": "container.projects.locations.clusters.setResourceLabels",
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster id) of the cluster to set labels. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "setMasterAuth": {
                  "path": "v1/{+name}:setMasterAuth",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "container.projects.locations.clusters.setMasterAuth",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster) of the cluster to set auth. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "SetMasterAuthRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setMasterAuth",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Sets master auth materials. Currently supports changing the admin password or a specific cluster, either via password generation or explicitly setting the password."
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "projectId": {
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "location": "query"
                    },
                    "zone": {
                      "location": "query",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "type": "string"
                    },
                    "clusterId": {
                      "type": "string",
                      "description": "Deprecated. The name of the cluster to retrieve. This field has been deprecated and replaced by the name field.",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "description": "The name (project, location, cluster) of the cluster to retrieve. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the details of a specific cluster.",
                  "path": "v1/{+name}",
                  "id": "container.projects.locations.clusters.get",
                  "response": {
                    "$ref": "Cluster"
                  }
                },
                "setAddons": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "SetAddonsConfigRequest"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "The name (project, location, cluster) of the cluster to set addons. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "container.projects.locations.clusters.setAddons",
                  "path": "v1/{+name}:setAddons",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setAddons",
                  "description": "Sets the addons for a specific cluster."
                },
                "setLogging": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SetLoggingServiceRequest"
                  },
                  "description": "Sets the logging service for a specific cluster.",
                  "path": "v1/{+name}:setLogging",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "container.projects.locations.clusters.setLogging",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "The name (project, location, cluster) of the cluster to set logging. Specified in the format `projects/*/locations/*/clusters/*`."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setLogging",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/clusters",
                  "description": "Creates a cluster, consisting of the specified number and type of Google Compute Engine instances. By default, the cluster is created in the project's [default network](https://cloud.google.com/compute/docs/networks-and-firewalls#networks). One firewall is added for the cluster. After cluster creation, the Kubelet creates routes for each node to allow the containers on that node to communicate with all other instances in the cluster. Finally, an entry is added to the project's global metadata indicating which CIDR range the cluster is using.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "The parent (project and location) where the cluster will be created. Specified in the format `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "CreateClusterRequest"
                  },
                  "httpMethod": "POST",
                  "id": "container.projects.locations.clusters.create"
                },
                "delete": {
                  "id": "container.projects.locations.clusters.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "description": "The name (project, location, cluster) of the cluster to delete. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "type": "string"
                    },
                    "clusterId": {
                      "type": "string",
                      "location": "query",
                      "description": "Deprecated. The name of the cluster to delete. This field has been deprecated and replaced by the name field."
                    },
                    "zone": {
                      "location": "query",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "type": "string"
                    },
                    "projectId": {
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "description": "Deletes the cluster, including the Kubernetes endpoint and all worker nodes. Firewalls and routes that were configured during cluster creation are also deleted. Other Google Compute Engine resources that might be in use by the cluster, such as load balancer resources, are not deleted if they weren't present when the cluster was initially created."
                },
                "setMaintenancePolicy": {
                  "id": "container.projects.locations.clusters.setMaintenancePolicy",
                  "description": "Sets the maintenance policy for a cluster.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setMaintenancePolicy",
                  "request": {
                    "$ref": "SetMaintenancePolicyRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:setMaintenancePolicy",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "description": "The name (project, location, cluster id) of the cluster to set maintenance policy. Specified in the format `projects/*/locations/*/clusters/*`."
                    }
                  }
                },
                "getJwks": {
                  "path": "v1/{+parent}/jwks",
                  "parameters": {
                    "parent": {
                      "description": "The cluster (project, location, cluster id) to get keys for. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GetJSONWebKeysResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "container.projects.locations.clusters.getJwks",
                  "description": "Gets the public component of the cluster signing keys in JSON Web Key format. This API is not yet intended for general use, and is not available for all clusters.",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/jwks"
                },
                "setLocations": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:setLocations",
                  "httpMethod": "POST",
                  "id": "container.projects.locations.clusters.setLocations",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setLocations",
                  "request": {
                    "$ref": "SetLocationsRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster) of the cluster to set locations. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Sets the locations for a specific cluster. Deprecated. Use [projects.locations.clusters.update](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters/update) instead."
                },
                "updateMaster": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "container.projects.locations.clusters.updateMaster",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the master for a specific cluster.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "UpdateMasterRequest"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:updateMaster",
                  "path": "v1/{+name}:updateMaster",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string",
[...]
