{
  "version": "v1",
  "kind": "discovery#restDescription",
  "name": "contactcenterinsights",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerName": "Google",
  "batchPath": "batch",
  "canonicalName": "Contactcenterinsights",
  "discoveryVersion": "v1",
  "rootUrl": "https://contactcenterinsights.googleapis.com/",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "title": "Contact Center AI Insights API",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "servicePath": "",
  "revision": "20240603",
  "mtlsRootUrl": "https://contactcenterinsights.mtls.googleapis.com/",
  "description": "",
  "documentationLink": "https://cloud.google.com/contact-center/insights/docs",
  "baseUrl": "https://contactcenterinsights.googleapis.com/",
  "schemas": {
    "GoogleCloudContactcenterinsightsV1CalculateStatsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1CalculateStatsResponse",
      "type": "object",
      "description": "The response for calculating conversation statistics.",
      "properties": {
        "issueMatchesStats": {
          "type": "object",
          "description": "A map associating each issue resource name with its respective number of matches in the set of conversations. Key has the format: `projects//locations//issueModels//issues/`",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1IssueModelLabelStatsIssueStats"
          }
        },
        "averageDuration": {
          "type": "string",
          "description": "The average duration of all conversations. The average is calculated using only conversations that have a time duration.",
          "format": "google-duration"
        },
        "customHighlighterMatches": {
          "description": "A map associating each custom highlighter resource name with its respective number of matches in the set of conversations.",
          "type": "object",
          "additionalProperties": {
            "format": "int32",
            "type": "integer"
          }
        },
        "smartHighlighterMatches": {
          "description": "A map associating each smart highlighter display name with its respective number of matches in the set of conversations.",
          "type": "object",
          "additionalProperties": {
            "format": "int32",
            "type": "integer"
          }
        },
        "conversationCountTimeSeries": {
          "description": "A time series representing the count of conversations created over time that match that requested filter criteria.",
          "$ref": "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeries"
        },
        "conversationCount": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of conversations."
        },
        "issueMatches": {
          "type": "object",
          "deprecated": true,
          "description": "A map associating each issue resource name with its respective number of matches in the set of conversations. Key has the format: `projects//locations//issueModels//issues/` Deprecated, use `issue_matches_stats` field instead.",
          "additionalProperties": {
            "type": "integer",
            "format": "int32"
          }
        },
        "averageTurnCount": {
          "type": "integer",
          "format": "int32",
          "description": "The average number of turns per conversation."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1SmartComposeSuggestionData": {
      "type": "object",
      "properties": {
        "suggestion": {
          "description": "The content of the suggestion.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Map that contains metadata about the Smart Compose suggestion and the document from which it originates."
        },
        "confidenceScore": {
          "format": "double",
          "type": "number",
          "description": "The system's confidence score that this suggestion is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain)."
        },
        "queryRecord": {
          "type": "string",
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}"
        }
      },
      "description": "Agent Assist Smart Compose suggestion data.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1SmartComposeSuggestionData"
    },
    "GoogleCloudContactcenterinsightsV1ArticleSuggestionData": {
      "type": "object",
      "description": "Agent Assist Article Suggestion data.",
      "properties": {
        "title": {
          "description": "Article title.",
          "type": "string"
        },
        "queryRecord": {
          "type": "string",
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Map that contains metadata about the Article Suggestion and the document that it originates from."
        },
        "source": {
          "type": "string",
          "description": "The knowledge document that this answer was extracted from. Format: projects/{project}/knowledgeBases/{knowledge_base}/documents/{document}"
        },
        "confidenceScore": {
          "type": "number",
          "description": "The system's confidence score that this article is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "format": "float"
        },
        "uri": {
          "type": "string",
          "description": "Article URI."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ArticleSuggestionData"
    },
    "GoogleCloudContactcenterinsightsV1ListPhraseMatchersResponse": {
      "id": "GoogleCloudContactcenterinsightsV1ListPhraseMatchersResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "phraseMatchers": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatcher"
          },
          "type": "array",
          "description": "The phrase matchers that match the request."
        }
      },
      "description": "The response of listing phrase matchers."
    },
    "GoogleCloudContactcenterinsightsV1alpha1InterruptionData": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1InterruptionData",
      "properties": {},
      "description": "The data for an interruption annotation.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1HoldData": {
      "description": "The data for a hold annotation.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1HoldData",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1PhraseMatchRule": {
      "description": "The data for a phrase match rule.",
      "id": "GoogleCloudContactcenterinsightsV1PhraseMatchRule",
      "type": "object",
      "properties": {
        "query": {
          "description": "Required. The phrase to be matched.",
          "type": "string"
        },
        "config": {
          "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatchRuleConfig",
          "description": "Provides additional information about the rule that specifies how to apply the rule."
        },
        "negated": {
          "type": "boolean",
          "description": "Specifies whether the phrase must be missing from the transcript segment or present in the transcript segment."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ConversationSummarizationSuggestionData": {
      "properties": {
        "textSections": {
          "description": "The summarization content that is divided into sections. The key is the section's name and the value is the section's content. There is no specific format for the key or value.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "conversationModel": {
          "description": "The name of the model that generates this summary. Format: projects/{project}/locations/{location}/conversationModels/{conversation_model}",
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "description": "The confidence score of the summarization.",
          "format": "float"
        },
        "text": {
          "type": "string",
          "description": "The summarization content that is concatenated into one string."
        },
        "answerRecord": {
          "type": "string",
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map that contains metadata about the summarization and the document from which it originates.",
          "type": "object"
        }
      },
      "description": "Conversation summarization suggestion data.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ConversationSummarizationSuggestionData"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationQualityMetadataAgentInfo": {
      "description": "Information about an agent involved in the conversation.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationQualityMetadataAgentInfo",
      "properties": {
        "dispositionCode": {
          "description": "A user-provided string indicating the outcome of the agent's segment of the call.",
          "type": "string"
        },
        "agentId": {
          "description": "A user-specified string representing the agent.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The agent's name."
        },
        "team": {
          "description": "A user-specified string representing the agent's team.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1RuntimeAnnotationUserInput": {
      "type": "object",
      "properties": {
        "generatorName": {
          "type": "string",
          "description": "The resource name of associated generator. Format: `projects//locations//generators/`"
        },
        "query": {
          "type": "string",
          "description": "Query text. Article Search uses this to store the input query used to generate the search results."
        }
      },
      "description": "Explicit input used for generating the answer",
      "id": "GoogleCloudContactcenterinsightsV1alpha1RuntimeAnnotationUserInput"
    },
    "GoogleCloudContactcenterinsightsV1InterruptionData": {
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1InterruptionData",
      "type": "object",
      "description": "The data for an interruption annotation."
    },
    "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequestBigQueryDestination": {
      "description": "A BigQuery Table Reference.",
      "id": "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequestBigQueryDestination",
      "properties": {
        "table": {
          "description": "The BigQuery table name to which the insights data should be written. If this table does not exist, the export call returns an INVALID_ARGUMENT error.",
          "type": "string"
        },
        "dataset": {
          "description": "Required. The name of the BigQuery dataset that the snapshot result should be exported to. If this dataset does not exist, the export call returns an INVALID_ARGUMENT error.",
          "type": "string"
        },
        "projectId": {
          "description": "A project ID or number. If specified, then export will attempt to write data to this project instead of the resource project. Otherwise, the resource project will be used.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ListIssuesResponse": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ListIssuesResponse",
      "description": "The response of listing issues.",
      "properties": {
        "issues": {
          "description": "The issues that match the request.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Issue"
          },
          "type": "array"
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsMetadata",
      "properties": {
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running."
        },
        "ingestConversationsStats": {
          "readOnly": true,
          "description": "Output only. Statistics for IngestConversations operation.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsMetadataIngestConversationsStats"
        },
        "request": {
          "description": "Output only. The original request for ingest.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequest"
        },
        "partialErrors": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "Output only. Partial errors during ingest operation that might cause the operation output to be incomplete."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created."
        }
      },
      "type": "object",
      "description": "The metadata for an IngestConversations operation."
    },
    "GoogleCloudContactcenterinsightsV1alpha1Intent": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1Intent",
      "properties": {
        "displayName": {
          "description": "The human-readable name of the intent.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The unique identifier of the intent."
        }
      },
      "description": "The data for an intent. Represents a detected intent in the conversation, for example MAKES_PROMISE.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ImportIssueModelRequest": {
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage source message.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ImportIssueModelRequestGcsSource"
        },
        "createNewModel": {
          "type": "boolean",
          "description": "Optional. If set to true, will create a new issue model from the imported file with randomly generated IDs for the issue model and corresponding issues. Otherwise, replaces an existing model with the same ID as the file."
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource of the issue model."
        }
      },
      "description": "Request to import an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ImportIssueModelRequest",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1DeployIssueModelRequest": {
      "description": "The request to deploy an issue model.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The issue model to deploy."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1DeployIssueModelRequest"
    },
    "GoogleCloudContactcenterinsightsV1FaqAnswerData": {
      "id": "GoogleCloudContactcenterinsightsV1FaqAnswerData",
      "type": "object",
      "description": "Agent Assist frequently-asked-question answer data.",
      "properties": {
        "confidenceScore": {
          "type": "number",
          "format": "float",
          "description": "The system's confidence score that this answer is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain)."
        },
        "answer": {
          "description": "The piece of text from the `source` knowledge base document.",
          "type": "string"
        },
        "question": {
          "description": "The corresponding FAQ question.",
          "type": "string"
        },
        "source": {
          "description": "The knowledge document that this answer was extracted from. Format: projects/{project}/knowledgeBases/{knowledge_base}/documents/{document}.",
          "type": "string"
        },
        "queryRecord": {
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Map that contains metadata about the FAQ answer and the document that it originates from."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1UndeployIssueModelRequest": {
      "id": "GoogleCloudContactcenterinsightsV1UndeployIssueModelRequest",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The issue model to undeploy."
        }
      },
      "description": "The request to undeploy an issue model."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelRequest": {
      "description": "Request to export an issue model.",
      "properties": {
        "name": {
          "description": "Required. The issue model to export",
          "type": "string"
        },
        "gcsDestination": {
          "description": "Google Cloud Storage URI to export the Issue Model to.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelRequestGcsDestination"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelRequest"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelRequest": {
      "properties": {
        "name": {
          "description": "Required. The issue model to deploy.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelRequest",
      "description": "The request to deploy an issue model."
    },
    "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsMetadataIngestConversationsStats": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsMetadataIngestConversationsStats",
      "properties": {
        "failedIngestCount": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The number of objects which were unable to be ingested due to errors. The errors are populated in the partial_errors field.",
          "format": "int32"
        },
        "processedObjectCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of objects processed during the ingest operation.",
          "format": "int32"
        },
        "successfulIngestCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The number of new conversations added during this ingest operation.",
          "readOnly": true
        },
        "duplicatesSkippedCount": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The number of objects skipped because another conversation with the same transcript uri had already been ingested."
        }
      },
      "description": "Statistics for IngestConversations operation."
    },
    "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestTranscriptObjectConfig": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestTranscriptObjectConfig",
      "description": "Configuration for processing transcript objects.",
      "type": "object",
      "properties": {
        "medium": {
          "enumDescriptions": [
            "Default value, if unspecified will default to PHONE_CALL.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ],
          "description": "Required. The medium transcript objects represent.",
          "type": "string",
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ]
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1IssueAssignment": {
      "description": "Information about the issue.",
      "properties": {
        "issue": {
          "description": "Resource name of the assigned issue.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Immutable. Display name of the assigned issue. This field is set at time of analyis and immutable since then."
        },
        "score": {
          "description": "Score indicating the likelihood of the issue assignment. currently bounded on [0,1].",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1IssueAssignment"
    },
    "GoogleCloudContactcenterinsightsV1IssueModel": {
      "description": "The issue model resource.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time at which this issue model was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "Immutable. The resource name of the issue model. Format: projects/{project}/locations/{location}/issueModels/{issue_model}",
          "type": "string"
        },
        "modelType": {
          "enumDescriptions": [
            "Unspecified model type.",
            "Type V1.",
            "Type V2."
          ],
          "type": "string",
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "TYPE_V1",
            "TYPE_V2"
          ],
          "description": "Type of the model."
        },
        "inputDataConfig": {
          "description": "Configs for the input data that used to create the issue model.",
          "$ref": "GoogleCloudContactcenterinsightsV1IssueModelInputDataConfig"
        },
        "issueCount": {
          "description": "Output only. Number of issues in this issue model.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "description": "Output only. State of the model.",
          "enumDescriptions": [
            "Unspecified.",
            "Model is not deployed but is ready to deploy.",
            "Model is being deployed.",
            "Model is deployed and is ready to be used. A model can only be used in analysis if it's in this state.",
            "Model is being undeployed.",
            "Model is being deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "UNDEPLOYED",
            "DEPLOYING",
            "DEPLOYED",
            "UNDEPLOYING",
            "DELETING"
          ],
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "The representative name for the issue model."
        },
        "languageCode": {
          "type": "string",
          "description": "Language of the model."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The most recent time at which the issue model was updated."
        },
        "trainingStats": {
          "$ref": "GoogleCloudContactcenterinsightsV1IssueModelLabelStats",
          "description": "Output only. Immutable. The issue model's label statistics on its training data.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1IssueModel"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationQualityMetadata": {
      "type": "object",
      "description": "Conversation metadata related to quality management.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationQualityMetadata",
      "properties": {
        "menuPath": {
          "type": "string",
          "description": "An arbitrary string value specifying the menu path the customer took."
        },
        "agentInfo": {
          "description": "Information about agents involved in the call.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationQualityMetadataAgentInfo"
          }
        },
        "waitDuration": {
          "description": "The amount of time the customer waited to connect with an agent.",
          "type": "string",
          "format": "google-duration"
        },
        "customerSatisfactionRating": {
          "type": "integer",
          "format": "int32",
          "description": "An arbitrary integer value indicating the customer's satisfaction rating."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ConversationCallMetadata": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ConversationCallMetadata",
      "properties": {
        "agentChannel": {
          "format": "int32",
          "type": "integer",
          "description": "The audio channel that contains the agent."
        },
        "customerChannel": {
          "type": "integer",
          "format": "int32",
          "description": "The audio channel that contains the customer."
        }
      },
      "description": "Call-specific metadata."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationLevelSilence": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationLevelSilence",
      "properties": {
        "silenceDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Amount of time calculated to be in silence."
        },
        "silencePercentage": {
          "description": "Percentage of the total conversation spent in silence.",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object",
      "description": "Conversation-level silence data."
    },
    "GoogleCloudContactcenterinsightsV1DialogflowSource": {
      "id": "GoogleCloudContactcenterinsightsV1DialogflowSource",
      "properties": {
        "audioUri": {
          "type": "string",
          "description": "Cloud Storage URI that points to a file that contains the conversation audio."
        },
        "dialogflowConversation": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the Dialogflow conversation that this conversation resource is derived from. Format: projects/{project}/locations/{location}/conversations/{conversation}"
        }
      },
      "type": "object",
      "description": "A Dialogflow source of conversation data."
    },
    "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequest": {
      "id": "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequest",
      "type": "object",
      "properties": {
        "bigQueryDestination": {
          "description": "Specified if sink is a BigQuery table.",
          "$ref": "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequestBigQueryDestination"
        },
        "writeDisposition": {
          "enumDescriptions": [
            "Write disposition is not specified. Defaults to WRITE_TRUNCATE.",
            "If the table already exists, BigQuery will overwrite the table data and use the schema from the load.",
            "If the table already exists, BigQuery will append data to the table."
          ],
          "type": "string",
          "enum": [
            "WRITE_DISPOSITION_UNSPECIFIED",
            "WRITE_TRUNCATE",
            "WRITE_APPEND"
          ],
          "description": "Options for what to do if the destination table already exists."
        },
        "filter": {
          "description": "A filter to reduce results to a specific subset. Useful for exporting conversations with specific properties.",
          "type": "string"
        },
        "parent": {
          "description": "Required. The parent resource to export data from.",
          "type": "string"
        },
        "kmsKey": {
          "description": "A fully qualified KMS key name for BigQuery tables protected by CMEK. Format: projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}/cryptoKeyVersions/{version}",
          "type": "string"
        }
      },
      "description": "The request to export insights."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationLevelSentiment": {
      "description": "One channel of conversation-level sentiment data.",
      "properties": {
        "sentimentData": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SentimentData",
          "description": "Data specifying sentiment."
        },
        "channelTag": {
          "type": "integer",
          "description": "The channel of the audio that the data applies to.",
          "format": "int32"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationLevelSentiment",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1UndeployIssueModelRequest": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1UndeployIssueModelRequest",
      "description": "The request to undeploy an issue model.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The issue model to undeploy.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ListAnalysesResponse": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ListAnalysesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "analyses": {
          "type": "array",
          "description": "The analyses that match the request.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Analysis"
          }
        }
      },
      "description": "The response to list analyses."
    },
    "GoogleCloudContactcenterinsightsV1IngestConversationsMetadataIngestConversationsStats": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1IngestConversationsMetadataIngestConversationsStats",
      "properties": {
        "successfulIngestCount": {
          "description": "Output only. The number of new conversations added during this ingest operation.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "processedObjectCount": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The number of objects processed during the ingest operation.",
          "type": "integer"
        },
        "duplicatesSkippedCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of objects skipped because another conversation with the same transcript uri had already been ingested."
        },
        "failedIngestCount": {
          "description": "Output only. The number of objects which were unable to be ingested due to errors. The errors are populated in the partial_errors field.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Statistics for IngestConversations operation."
    },
    "GoogleCloudContactcenterinsightsV1Entity": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1Entity",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Metadata associated with the entity. For most entity types, the metadata is a Wikipedia URL (`wikipedia_url`) and Knowledge Graph MID (`mid`), if they are available. For the metadata associated with other entity types, see the Type table below.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "salience": {
          "format": "float",
          "description": "The salience score associated with the entity in the [0, 1.0] range. The salience score for an entity provides information about the importance or centrality of that entity to the entire document text. Scores closer to 0 are less salient, while scores closer to 1.0 are highly salient.",
          "type": "number"
        },
        "type": {
          "type": "string",
          "description": "The entity type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PERSON",
            "LOCATION",
            "ORGANIZATION",
            "EVENT",
            "WORK_OF_ART",
            "CONSUMER_GOOD",
            "OTHER",
            "PHONE_NUMBER",
            "ADDRESS",
            "DATE",
            "NUMBER",
            "PRICE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "Location.",
            "Organization.",
            "Event.",
            "Artwork.",
            "Consumer product.",
            "Other types of entities.",
            "Phone number. The metadata lists the phone number (formatted according to local convention), plus whichever additional elements appear in the text: * `number` - The actual number, broken down into sections according to local convention. * `national_prefix` - Country code, if detected. * `area_code` - Region or area code, if detected. * `extension` - Phone extension (to be dialed after connection), if detected.",
            "Address. The metadata identifies the street number and locality plus whichever additional elements appear in the text: * `street_number` - Street number. * `locality` - City or town. * `street_name` - Street/route name, if detected. * `postal_code` - Postal code, if detected. * `country` - Country, if detected. * `broad_region` - Administrative area, such as the state, if detected. * `narrow_region` - Smaller administrative area, such as county, if detected. * `sublocality` - Used in Asian addresses to demark a district within a city, if detected.",
            "Date. The metadata identifies the components of the date: * `year` - Four digit year, if detected. * `month` - Two digit month number, if detected. * `day` - Two digit day number, if detected.",
            "Number. The metadata is the number itself.",
            "Price. The metadata identifies the `value` and `currency`."
          ]
        },
        "sentiment": {
          "description": "The aggregate sentiment expressed for this entity in the conversation.",
          "$ref": "GoogleCloudContactcenterinsightsV1SentimentData"
        },
        "displayName": {
          "type": "string",
          "description": "The representative name for the entity."
        }
      },
      "description": "The data for an entity annotation. Represents a phrase in the conversation that is a known entity, such as a person, an organization, or location."
    },
    "GoogleCloudContactcenterinsightsV1Issue": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The representative name for the issue."
        },
        "createTime": {
          "description": "Output only. The time at which this issue was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "sampleUtterances": {
          "description": "Output only. Resource names of the sample representative utterances that match to this issue.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The most recent time that this issue was updated.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the issue. Format: projects/{project}/locations/{location}/issueModels/{issue_model}/issues/{issue}"
        }
      },
      "description": "The issue resource.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1Issue"
    },
    "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelector": {
      "description": "Selector of all available annotators and phrase matchers to run.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelector",
      "properties": {
        "phraseMatchers": {
          "description": "The list of phrase matchers to run. If not provided, all active phrase matchers will be used. If inactive phrase matchers are provided, they will not be used. Phrase matchers will be run only if run_phrase_matcher_annotator is set to true. Format: projects/{project}/locations/{location}/phraseMatchers/{phrase_matcher}",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "runInterruptionAnnotator": {
          "type": "boolean",
          "description": "Whether to run the interruption annotator."
        },
        "runEntityAnnotator": {
          "type": "boolean",
          "description": "Whether to run the entity annotator."
        },
        "runSilenceAnnotator": {
          "type": "boolean",
          "description": "Whether to run the silence annotator."
        },
        "runPhraseMatcherAnnotator": {
          "type": "boolean",
          "description": "Whether to run the active phrase matcher annotator(s)."
        },
        "summarizationConfig": {
          "description": "Configuration for the summarization annotator.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelectorSummarizationConfig"
        },
        "issueModels": {
          "items": {
            "type": "string"
          },
          "description": "The issue model to run. If not provided, the most recently deployed topic model will be used. The provided issue model will only be used for inference if the issue model is deployed and if run_issue_model_annotator is set to true. If more than one issue model is provided, only the first provided issue model will be used for inference.",
          "type": "array"
        },
        "runSummarizationAnnotator": {
          "type": "boolean",
          "description": "Whether to run the summarization annotator."
        },
        "runIntentAnnotator": {
          "description": "Whether to run the intent annotator.",
          "type": "boolean"
        },
        "runIssueModelAnnotator": {
          "type": "boolean",
          "description": "Whether to run the issue model annotator. A model should have already been deployed for this to take effect."
        },
        "runSentimentAnnotator": {
          "description": "Whether to run the sentiment annotator.",
          "type": "boolean"
        }
      }
    },
    "GoogleRpcStatus": {
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "GoogleRpcStatus"
    },
    "GoogleCloudContactcenterinsightsV1IngestConversationsResponse": {
      "properties": {},
      "type": "object",
      "description": "The response to an IngestConversations operation.",
      "id": "GoogleCloudContactcenterinsightsV1IngestConversationsResponse"
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleCloudContactcenterinsightsV1PhraseMatcher": {
      "description": "The phrase matcher resource.",
      "type": "object",
      "properties": {
        "revisionCreateTime": {
          "description": "Output only. The timestamp of when the revision was created. It is also the create time when a new matcher is added.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "type": {
          "enum": [
            "PHRASE_MATCHER_TYPE_UNSPECIFIED",
            "ALL_OF",
            "ANY_OF"
          ],
          "description": "Required. The type of this phrase matcher.",
          "enumDescriptions": [
            "Unspecified.",
            "Must meet all phrase match rule groups or there is no match.",
            "If any of the phrase match rule groups are met, there is a match."
          ],
          "type": "string"
        },
        "activationUpdateTime": {
          "description": "Output only. The most recent time at which the activation status was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "description": "The human-readable name of the phrase matcher."
        },
        "active": {
          "type": "boolean",
          "description": "Applies the phrase matcher only when it is active."
        },
        "phraseMatchRuleGroups": {
          "type": "array",
          "description": "A list of phase match rule groups that are included in this matcher.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatchRuleGroup"
          }
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The most recent time at which the phrase matcher was updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "revisionId": {
          "type": "string",
          "description": "Output only. Immutable. The revision ID of the phrase matcher. A new revision is committed whenever the matcher is changed, except when it is activated or deactivated. A server generated random ID will be used. Example: locations/global/phraseMatchers/my-first-matcher@1234567",
          "readOnly": true
        },
        "name": {
          "description": "The resource name of the phrase matcher. Format: projects/{project}/locations/{location}/phraseMatchers/{phrase_matcher}",
          "type": "string"
        },
        "versionTag": {
          "type": "string",
          "description": "The customized version tag to use for the phrase matcher. If not specified, it will default to `revision_id`."
        },
        "roleMatch": {
          "enumDescriptions": [
            "Participant's role is not set.",
            "Participant is a human agent.",
            "Participant is an automated agent.",
            "Participant is an end user who conversed with the contact center.",
            "Participant is either a human or automated agent."
          ],
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER",
            "ANY_AGENT"
          ],
          "description": "The role whose utterances the phrase matcher should be matched against. If the role is ROLE_UNSPECIFIED it will be matched against any utterances in the transcript."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1PhraseMatcher"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataResponse": {
      "type": "object",
      "description": "Response for an export insights operation.",
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataResponse"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelResponse": {
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelResponse",
      "description": "Response from export issue model",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1AnalysisResult": {
      "description": "The result of an analysis.",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the analysis ended."
        },
        "callAnalysisMetadata": {
          "description": "Call-specific metadata created by the analysis.",
          "$ref": "GoogleCloudContactcenterinsightsV1AnalysisResultCallAnalysisMetadata"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1AnalysisResult"
    },
    "GoogleCloudContactcenterinsightsV1ExportIssueModelMetadata": {
      "type": "object",
      "description": "Metadata used for export issue model.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the operation was created."
        },
        "request": {
          "description": "The original export request.",
          "$ref": "GoogleCloudContactcenterinsightsV1ExportIssueModelRequest"
        },
        "endTime": {
          "description": "The time the operation finished running.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ExportIssueModelMetadata"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DeleteIssueModelRequest": {
      "description": "The request to delete an issue model.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the issue model to delete."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1DeleteIssueModelRequest",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ConversationLevelSentiment": {
      "properties": {
        "sentimentData": {
          "description": "Data specifying sentiment.",
          "$ref": "GoogleCloudContactcenterinsightsV1SentimentData"
        },
        "channelTag": {
          "type": "integer",
          "format": "int32",
          "description": "The channel of the audio that the data applies to."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ConversationLevelSentiment",
      "type": "object",
      "description": "One channel of conversation-level sentiment data."
    },
    "GoogleCloudContactcenterinsightsV1ExportIssueModelRequestGcsDestination": {
      "properties": {
        "objectUri": {
          "description": "Required. Format: `gs:///`",
          "type": "string"
        }
      },
      "description": "Google Cloud Storage Object URI to save the issue model to.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ExportIssueModelRequestGcsDestination"
    },
    "GoogleCloudContactcenterinsightsV1alpha1Entity": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1Entity",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The representative name for the entity."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "PERSON",
            "LOCATION",
            "ORGANIZATION",
            "EVENT",
            "WORK_OF_ART",
            "CONSUMER_GOOD",
            "OTHER",
            "PHONE_NUMBER",
            "ADDRESS",
            "DATE",
            "NUMBER",
            "PRICE"
          ],
          "type": "string",
          "description": "The entity type.",
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "Location.",
            "Organization.",
            "Event.",
            "Artwork.",
            "Consumer product.",
            "Other types of entities.",
            "Phone number. The metadata lists the phone number (formatted according to local convention), plus whichever additional elements appear in the text: * `number` - The actual number, broken down into sections according to local convention. * `national_prefix` - Country code, if detected. * `area_code` - Region or area code, if detected. * `extension` - Phone extension (to be dialed after connection), if detected.",
            "Address. The metadata identifies the street number and locality plus whichever additional elements appear in the text: * `street_number` - Street number. * `locality` - City or town. * `street_name` - Street/route name, if detected. * `postal_code` - Postal code, if detected. * `country` - Country, if detected. * `broad_region` - Administrative area, such as the state, if detected. * `narrow_region` - Smaller administrative area, such as county, if detected. * `sublocality` - Used in Asian addresses to demark a district within a city, if detected.",
            "Date. The metadata identifies the components of the date: * `year` - Four digit year, if detected. * `month` - Two digit month number, if detected. * `day` - Two digit day number, if detected.",
            "Number. The metadata is the number itself.",
            "Price. The metadata identifies the `value` and `currency`."
          ]
        },
        "sentiment": {
          "description": "The aggregate sentiment expressed for this entity in the conversation.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SentimentData"
        },
        "salience": {
          "description": "The salience score associated with the entity in the [0, 1.0] range. The salience score for an entity provides information about the importance or centrality of that entity to the entire document text. Scores closer to 0 are less salient, while scores closer to 1.0 are highly salient.",
          "type": "number",
          "format": "float"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Metadata associated with the entity. For most entity types, the metadata is a Wikipedia URL (`wikipedia_url`) and Knowledge Graph MID (`mid`), if they are available. For the metadata associated with other entity types, see the Type table below."
        }
      },
      "description": "The data for an entity annotation. Represents a phrase in the conversation that is a known entity, such as a person, an organization, or location."
    },
    "GoogleCloudContactcenterinsightsV1SentimentData": {
      "description": "The data for a sentiment annotation.",
      "type": "object",
      "properties": {
        "score": {
          "description": "The sentiment score between -1.0 (negative) and 1.0 (positive).",
          "type": "number",
          "format": "float"
        },
        "magnitude": {
          "format": "float",
          "type": "number",
          "description": "A non-negative number from 0 to infinity which represents the abolute magnitude of sentiment regardless of score."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1SentimentData"
    },
    "GoogleCloudContactcenterinsightsV1RedactionConfig": {
      "description": "DLP resources used for redaction while ingesting conversations. DLP settings are applied to conversations ingested from the UploadConversation and IngestConversations endpoints, including conversation coming from CCAI Platform. They are not applied to conversations ingested from the CreateConversation endpoint or the Dialogflow / Agent Assist runtime integrations. When using Dialogflow / Agent Assist runtime integrations redaction should be performed in Dialogflow / Agent Assist.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1RedactionConfig",
      "properties": {
        "deidentifyTemplate": {
          "description": "The fully-qualified DLP deidentify template resource name. Format: `projects/{project}/deidentifyTemplates/{template}`",
          "type": "string"
        },
        "inspectTemplate": {
          "type": "string",
          "description": "The fully-qualified DLP inspect template resource name. Format: `projects/{project}/locations/{location}/inspectTemplates/{template}`"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1HoldData": {
      "id": "GoogleCloudContactcenterinsightsV1HoldData",
      "description": "The data for a hold annotation.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscript": {
      "description": "A message representing the transcript of a conversation.",
      "properties": {
        "transcriptSegments": {
          "type": "array",
          "description": "A list of sequential transcript segments that comprise the conversation.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegment"
          }
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscript",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ConversationLevelSilence": {
      "type": "object",
      "properties": {
        "silencePercentage": {
          "format": "float",
          "type": "number",
          "description": "Percentage of the total conversation spent in silence."
        },
        "silenceDuration": {
          "description": "Amount of time calculated to be in silence.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "Conversation-level silence data.",
      "id": "GoogleCloudContactcenterinsightsV1ConversationLevelSilence"
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentWordInfo": {
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentWordInfo",
      "type": "object",
      "properties": {
        "endOffset": {
          "description": "Time offset of the end of this word relative to the beginning of the total conversation.",
          "format": "google-duration",
          "type": "string"
        },
        "word": {
          "description": "The word itself. Includes punctuation marks that surround the word.",
          "type": "string"
        },
        "startOffset": {
          "type": "string",
          "description": "Time offset of the start of this word relative to the beginning of the total conversation.",
          "format": "google-duration"
        },
        "confidence": {
          "description": "A confidence estimate between 0.0 and 1.0 of the fidelity of this word. A default value of 0.0 indicates that the value is unset.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Word-level info for words in a transcript."
    },
    "GoogleCloudContactcenterinsightsV1IngestConversationsRequestTranscriptObjectConfig": {
      "id": "GoogleCloudContactcenterinsightsV1IngestConversationsRequestTranscriptObjectConfig",
      "description": "Configuration for processing transcript objects.",
      "properties": {
        "medium": {
          "description": "Required. The medium transcript objects represent.",
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value, if unspecified will default to PHONE_CALL.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1GcsSource": {
      "type": "object",
      "properties": {
        "transcriptUri": {
          "type": "string",
          "description": "Immutable. Cloud Storage URI that points to a file that contains the conversation transcript."
        },
        "audioUri": {
          "type": "string",
          "description": "Cloud Storage URI that points to a file that contains the conversation audio."
        }
      },
      "description": "A Cloud Storage source of conversation data.",
      "id": "GoogleCloudContactcenterinsightsV1GcsSource"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegment": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegment",
      "properties": {
        "dialogflowSegmentMetadata": {
          "description": "CCAI metadata relating to the current transcript segment.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata"
        },
        "sentiment": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SentimentData",
          "description": "The sentiment for this transcript segment."
        },
        "segmentParticipant": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationParticipant",
          "description": "The participant of this segment."
        },
        "languageCode": {
          "description": "The language code of this segment as a [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag. Example: \"en-US\".",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "The text of this segment."
        },
        "words": {
          "description": "A list of the word-specific information for each word in the segment.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentWordInfo"
          }
        },
        "confidence": {
          "description": "A confidence estimate between 0.0 and 1.0 of the fidelity of this segment. A default value of 0.0 indicates that the value is unset.",
          "format": "float",
          "type": "number"
        },
        "channelTag": {
          "format": "int32",
          "description": "For conversations derived from multi-channel audio, this is the channel number corresponding to the audio from that channel. For audioChannelCount = N, its output values can range from '1' to 'N'. A channel tag of 0 indicates that the audio is mono.",
          "type": "integer"
        },
        "messageTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time that the message occurred, if provided."
        }
      },
      "type": "object",
      "description": "A segment of a full transcript."
    },
    "GoogleCloudContactcenterinsightsV1ListConversationsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1ListConversationsResponse",
      "description": "The response of listing conversations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is set, it means there is another page available. If it is not set, it means no other pages are available."
        },
        "conversations": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Conversation"
          },
          "type": "array",
          "description": "The conversations that match the request."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1UndeployIssueModelResponse": {
      "description": "The response to undeploy an issue model.",
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1UndeployIssueModelResponse",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelMetadata": {
      "type": "object",
      "description": "Metadata for deploying an issue model.",
      "properties": {
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelRequest",
          "description": "The original request for deployment."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelMetadata"
    },
    "GoogleCloudContactcenterinsightsV1CreateIssueModelRequest": {
      "id": "GoogleCloudContactcenterinsightsV1CreateIssueModelRequest",
      "description": "The request to create an issue model.",
      "type": "object",
      "properties": {
        "issueModel": {
          "$ref": "GoogleCloudContactcenterinsightsV1IssueModel",
          "description": "Required. The issue model to create."
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource of the issue model."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationParticipant": {
      "type": "object",
      "description": "The call participant speaking for a given utterance.",
      "properties": {
        "obfuscatedExternalUserId": {
          "type": "string",
          "description": "Obfuscated user ID from Dialogflow."
        },
        "userId": {
          "type": "string",
          "description": "A user-specified ID representing the participant."
        },
        "dialogflowParticipant": {
          "description": "Deprecated. Use `dialogflow_participant_name` instead. The name of the Dialogflow participant. Format: projects/{project}/locations/{location}/conversations/{conversation}/participants/{participant}",
          "deprecated": true,
          "type": "string"
        },
        "role": {
          "enumDescriptions": [
            "Participant's role is not set.",
            "Participant is a human agent.",
            "Participant is an automated agent.",
            "Participant is an end user who conversed with the contact center.",
            "Participant is either a human or automated agent."
          ],
          "description": "The role of the participant.",
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER",
            "ANY_AGENT"
          ]
        },
        "dialogflowParticipantName": {
          "description": "The name of the participant provided by Dialogflow. Format: projects/{project}/locations/{location}/conversations/{conversation}/participants/{participant}",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationParticipant"
    },
    "GoogleCloudContactcenterinsightsV1alpha1RuntimeAnnotation": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1RuntimeAnnotation",
      "type": "object",
      "properties": {
        "smartReply": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SmartReplyData",
          "description": "Agent Assist Smart Reply data."
        },
        "conversationSummarizationSuggestion": {
          "description": "Conversation summarization suggestion data.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationSummarizationSuggestionData"
        },
        "answerFeedback": {
          "description": "The feedback that the customer has about the answer in `data`.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnswerFeedback"
        },
        "smartComposeSuggestion": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SmartComposeSuggestionData",
          "description": "Agent Assist Smart Compose suggestion data."
        },
        "faqAnswer": {
          "description": "Agent Assist FAQ answer data.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1FaqAnswerData"
        },
        "annotationId": {
          "type": "string",
          "description": "The unique identifier of the annotation. Format: projects/{project}/locations/{location}/conversationDatasets/{dataset}/conversationDataItems/{data_item}/conversationAnnotations/{annotation}"
        },
        "articleSuggestion": {
          "description": "Agent Assist Article Suggestion data.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ArticleSuggestionData"
        },
        "endBoundary": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotationBoundary",
          "description": "The boundary in the conversation where the annotation ends, inclusive."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which this annotation was created."
        },
        "startBoundary": {
          "description": "The boundary in the conversation where the annotation starts, inclusive.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotationBoundary"
        },
        "userInput": {
          "description": "Explicit input used for generating the answer",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1RuntimeAnnotationUserInput"
        },
        "dialogflowInteraction": {
          "description": "Dialogflow interaction data.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DialogflowInteractionData"
        }
      },
      "description": "An annotation that was generated during the customer and agent interaction."
    },
    "GoogleCloudContactcenterinsightsV1alpha1RedactionConfig": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1RedactionConfig",
      "description": "DLP resources used for redaction while ingesting conversations. DLP settings are applied to conversations ingested from the UploadConversation and IngestConversations endpoints, including conversation coming from CCAI Platform. They are not applied to conversations ingested from the CreateConversation endpoint or the Dialogflow / Agent Assist runtime integrations. When using Dialogflow / Agent Assist runtime integrations redaction should be performed in Dialogflow / Agent Assist.",
      "type": "object",
      "properties": {
        "deidentifyTemplate": {
          "description": "The fully-qualified DLP deidentify template resource name. Format: `projects/{project}/deidentifyTemplates/{template}`",
          "type": "string"
        },
        "inspectTemplate": {
          "type": "string",
          "description": "The fully-qualified DLP inspect template resource name. Format: `projects/{project}/locations/{location}/inspectTemplates/{template}`"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ImportIssueModelMetadata": {
      "description": "Metadata used for import issue model.",
      "id": "GoogleCloudContactcenterinsightsV1ImportIssueModelMetadata",
      "properties": {
        "request": {
          "description": "The original import request.",
          "$ref": "GoogleCloudContactcenterinsightsV1ImportIssueModelRequest"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the operation finished running."
        },
        "createTime": {
          "type": "string",
          "description": "The time the operation was created.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelMetadata",
      "description": "Metadata used for export issue model.",
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "The time the operation finished running.",
          "type": "string"
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelRequest",
          "description": "The original export request."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The time the operation was created.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1IssueMatchData": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1IssueMatchData",
      "properties": {
        "issueAssignment": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueAssignment",
          "description": "Information about the issue's assignment."
        }
      },
      "description": "The data for an issue match annotation.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1IntentMatchData": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1IntentMatchData",
      "properties": {
        "intentUniqueId": {
          "type": "string",
          "description": "The id of the matched intent. Can be used to retrieve the corresponding intent information."
        }
      },
      "description": "The data for an intent match. Represents an intent match for a text segment in the conversation. A text segment can be part of a sentence, a complete sentence, or an utterance with multiple sentences."
    },
    "GoogleCloudContactcenterinsightsV1RuntimeAnnotationUserInput": {
      "properties": {
        "query": {
          "type": "string",
          "description": "Query text. Article Search uses this to store the input query used to generate the search results."
        },
        "generatorName": {
          "description": "The resource name of associated generator. Format: `projects//locations//generators/`",
          "type": "string"
        }
      },
      "description": "Explicit input used for generating the answer",
      "id": "GoogleCloudContactcenterinsightsV1RuntimeAnnotationUserInput",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelRequestGcsDestination": {
      "properties": {
        "objectUri": {
          "type": "string",
          "description": "Required. Format: `gs:///`"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelRequestGcsDestination",
      "description": "Google Cloud Storage Object URI to save the issue model to.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1CreateIssueModelRequest": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1CreateIssueModelRequest",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The parent resource of the issue model."
        },
        "issueModel": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueModel",
          "description": "Required. The issue model to create."
        }
      },
      "type": "object",
      "description": "The request to create an issue model."
    },
    "GoogleCloudContactcenterinsightsV1IngestConversationsRequestGcsSource": {
      "type": "object",
      "description": "Configuration for Cloud Storage bucket sources.",
      "id": "GoogleCloudContactcenterinsightsV1IngestConversationsRequestGcsSource",
      "properties": {
        "bucketUri": {
          "type": "string",
          "description": "Required. The Cloud Storage bucket containing source objects."
        },
        "metadataBucketUri": {
          "description": "Optional. The Cloud Storage path to the source object metadata. Note that: [1] metadata files are expected to be in JSON format [2] metadata and source objects must be in separate buckets [3] a source object's metadata object must share the same name to be properly ingested",
          "type": "string"
        },
        "bucketObjectType": {
          "enumDescriptions": [
            "The object type is unspecified and will default to `TRANSCRIPT`.",
            "The object is a transcript.",
            "The object is an audio file."
          ],
          "type": "string",
          "description": "Optional. Specifies the type of the objects in `bucket_uri`.",
          "enum": [
            "BUCKET_OBJECT_TYPE_UNSPECIFIED",
            "TRANSCRIPT",
            "AUDIO"
          ]
        },
        "customMetadataKeys": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Custom keys to extract as conversation labels from metadata files in `metadata_bucket_uri`. Keys not included in this field will be ignored. Note that there is a limit of 20 labels per conversation."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1UploadConversationRequest": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1UploadConversationRequest",
      "description": "Request to upload a conversation.",
      "properties": {
        "conversationId": {
          "type": "string",
          "description": "Optional. A unique ID for the new conversation. This ID will become the final component of the conversation's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z0-9-]{4,64}$`. Valid characters are `a-z-`"
        },
        "conversation": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1Conversation",
          "description": "Required. The conversation resource to create."
        },
        "redactionConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1RedactionConfig",
          "description": "Optional. DLP settings for transcript redaction. Will default to the config specified in Settings."
        },
        "speechConfig": {
          "description": "Optional. Speech-to-Text configuration. Will default to the config specified in Settings.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SpeechConfig"
        },
        "parent": {
          "description": "Required. The parent resource of the conversation.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1DialogflowInteractionData": {
      "id": "GoogleCloudContactcenterinsightsV1DialogflowInteractionData",
      "properties": {
        "dialogflowIntentId": {
          "description": "The Dialogflow intent resource path. Format: projects/{project}/agent/{agent}/intents/{intent}",
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "description": "The confidence of the match ranging from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "type": "number"
        }
      },
      "type": "object",
      "description": "Dialogflow interaction data."
    },
    "GoogleCloudContactcenterinsightsV1PhraseMatchRuleGroup": {
      "properties": {
        "type": {
          "enum": [
            "PHRASE_MATCH_RULE_GROUP_TYPE_UNSPECIFIED",
            "ALL_OF",
            "ANY_OF"
          ],
          "description": "Required. The type of this phrase match rule group.",
          "enumDescriptions": [
            "Unspecified.",
            "Must meet all phrase match rules or there is no match.",
            "If any of the phrase match rules are met, there is a match."
          ],
          "type": "string"
        },
        "phraseMatchRules": {
          "description": "A list of phrase match rules that are included in this group.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatchRule"
          }
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1PhraseMatchRuleGroup",
      "type": "object",
      "description": "A message representing a rule in the phrase matcher."
    },
    "GoogleCloudContactcenterinsightsV1PhraseMatchRuleConfig": {
      "id": "GoogleCloudContactcenterinsightsV1PhraseMatchRuleConfig",
      "type": "object",
      "description": "Configuration information of a phrase match rule.",
      "properties": {
        "exactMatchConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1ExactMatchConfig",
          "description": "The configuration for the exact match rule."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1FaqAnswerData": {
      "properties": {
        "queryRecord": {
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}",
          "type": "string"
        },
        "source": {
          "description": "The knowledge document that this answer was extracted from. Format: projects/{project}/knowledgeBases/{knowledge_base}/documents/{document}.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Map that contains metadata about the FAQ answer and the document that it originates from."
        },
        "answer": {
          "description": "The piece of text from the `source` knowledge base document.",
          "type": "string"
        },
        "confidenceScore": {
          "type": "number",
          "description": "The system's confidence score that this answer is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "format": "float"
        },
        "question": {
          "type": "string",
          "description": "The corresponding FAQ question."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1FaqAnswerData",
      "description": "Agent Assist frequently-asked-question answer data."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationSummarizationSuggestionData": {
      "type": "object",
      "properties": {
        "conversationModel": {
          "description": "The name of the model that generates this summary. Format: projects/{project}/locations/{location}/conversationModels/{conversation_model}",
          "type": "string"
        },
        "textSections": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The summarization content that is divided into sections. The key is the section's name and the value is the section's content. There is no specific format for the key or value."
        },
        "answerRecord": {
          "type": "string",
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map that contains metadata about the summarization and the document from which it originates."
        },
        "text": {
          "type": "string",
          "description": "The summarization content that is concatenated into one string."
        },
        "confidence": {
          "type": "number",
          "description": "The confidence score of the summarization.",
          "format": "float"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationSummarizationSuggestionData",
      "description": "Conversation summarization suggestion data."
    },
    "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteConversationsMetadata": {
      "properties": {
        "endTime": {
          "type": "string",
          "description": "The time the operation finished running.",
          "format": "google-datetime"
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteConversationsRequest",
          "description": "The original request for bulk delete."
        },
        "createTime": {
          "description": "The time the operation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "partialErrors": {
          "description": "Partial errors during bulk delete conversations operation that might cause the operation output to be incomplete.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "description": "The metadata for a bulk delete conversations operation.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1BulkDeleteConversationsMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1DeployIssueModelMetadata": {
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created."
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1DeployIssueModelRequest",
          "description": "The original request for deployment."
        }
      },
      "description": "Metadata for deploying an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1DeployIssueModelMetadata",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ListViewsResponse": {
      "properties": {
        "views": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1View"
          },
          "description": "The views that match the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "description": "The response of listing views.",
      "id": "GoogleCloudContactcenterinsightsV1ListViewsResponse"
    },
    "GoogleCloudContactcenterinsightsV1IngestConversationsRequestConversationConfig": {
      "type": "object",
      "description": "Configuration that applies to all conversations.",
      "properties": {
        "agentId": {
          "description": "Optional. An opaque, user-specified string representing a human agent who handled all conversations in the import. Note that this will be overridden if per-conversation metadata is provided via the `metadata_bucket_uri`.",
          "type": "string"
        },
        "agentChannel": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Indicates which of the channels, 1 or 2, contains the agent. Note that this must be set for conversations to be properly displayed and analyzed."
        },
        "customerChannel": {
          "description": "Optional. Indicates which of the channels, 1 or 2, contains the agent. Note that this must be set for conversations to be properly displayed and analyzed.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1IngestConversationsRequestConversationConfig"
    },
    "GoogleCloudContactcenterinsightsV1alpha1CreateIssueModelMetadata": {
      "type": "object",
      "description": "Metadata for creating an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1CreateIssueModelMetadata",
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "request": {
          "description": "The original request for creation.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1CreateIssueModelRequest"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1View": {
      "id": "GoogleCloudContactcenterinsightsV1View",
      "type": "object",
      "properties": {
        "value": {
          "description": "String with specific view properties, must be non-empty.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The most recent time at which the view was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the view. Format: projects/{project}/locations/{location}/views/{view}"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which this view was created."
        },
        "displayName": {
          "type": "string",
          "description": "The human-readable display name of the view."
        }
      },
      "description": "The View resource."
    },
    "GoogleCloudContactcenterinsightsV1alpha1AnswerFeedback": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1AnswerFeedback",
      "properties": {
        "displayed": {
          "type": "boolean",
          "description": "Indicates whether an answer or item was displayed to the human agent in the agent desktop UI."
        },
        "clicked": {
          "type": "boolean",
          "description": "Indicates whether an answer or item was clicked by the human agent."
        },
        "correctnessLevel": {
          "description": "The correctness level of an answer.",
          "type": "string",
          "enum": [
            "CORRECTNESS_LEVEL_UNSPECIFIED",
            "NOT_CORRECT",
            "PARTIALLY_CORRECT",
            "FULLY_CORRECT"
          ],
          "enumDescriptions": [
            "Correctness level unspecified.",
            "Answer is totally wrong.",
            "Answer is partially correct.",
            "Answer is fully correct."
          ]
        }
      },
      "description": "The feedback that the customer has about a certain answer in the conversation.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1Analysis": {
      "properties": {
        "analysisResult": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnalysisResult",
          "readOnly": true,
          "description": "Output only. The result of the analysis, which is populated when the analysis finishes."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which the analysis was created, which occurs when the long-running operation completes.",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the analysis. Format: projects/{project}/locations/{location}/conversations/{conversation}/analyses/{analysis}"
        },
        "annotatorSelector": {
          "description": "To select the annotators to run and the phrase matchers to use (if any). If not specified, all annotators will be run.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelector"
        },
        "requestTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which the analysis was requested.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The analysis resource.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1Analysis"
    },
    "GoogleCloudContactcenterinsightsV1alpha1IssueAssignment": {
      "properties": {
        "issue": {
          "type": "string",
          "description": "Resource name of the assigned issue."
        },
        "score": {
          "type": "number",
          "description": "Score indicating the likelihood of the issue assignment. currently bounded on [0,1].",
          "format": "double"
        },
        "displayName": {
          "type": "string",
          "description": "Immutable. Display name of the assigned issue. This field is set at time of analyis and immutable since then."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1IssueAssignment",
      "description": "Information about the issue.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1EntityMentionData": {
      "properties": {
        "entityUniqueId": {
          "type": "string",
          "description": "The key of this entity in conversation entities. Can be used to retrieve the exact `Entity` this mention is attached to."
        },
        "sentiment": {
          "description": "Sentiment expressed for this mention of the entity.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SentimentData"
        },
        "type": {
          "enum": [
            "MENTION_TYPE_UNSPECIFIED",
            "PROPER",
            "COMMON"
          ],
          "description": "The type of the entity mention.",
          "enumDescriptions": [
            "Unspecified.",
            "Proper noun.",
            "Common noun (or noun compound)."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1EntityMentionData",
      "description": "The data for an entity mention annotation. This represents a mention of an `Entity` in the conversation."
    },
    "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestConversationConfig": {
      "properties": {
        "agentId": {
          "type": "string",
          "description": "Optional. An opaque, user-specified string representing a human agent who handled all conversations in the import. Note that this will be overridden if per-conversation metadata is provided via the `metadata_bucket_uri`."
        },
        "customerChannel": {
          "description": "Optional. Indicates which of the channels, 1 or 2, contains the agent. Note that this must be set for conversations to be properly displayed and analyzed.",
          "type": "integer",
          "format": "int32"
        },
        "agentChannel": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Indicates which of the channels, 1 or 2, contains the agent. Note that this must be set for conversations to be properly displayed and analyzed."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestConversationConfig",
      "type": "object",
      "description": "Configuration that applies to all conversations."
    },
    "GoogleCloudContactcenterinsightsV1alpha1SilenceData": {
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1alpha1SilenceData",
      "description": "The data for a silence annotation.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1Conversation": {
      "properties": {
        "callMetadata": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationCallMetadata",
          "description": "Call-specific metadata."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which the conversation was created."
        },
        "obfuscatedUserId": {
          "type": "string",
          "description": "Obfuscated user ID which the customer sent to us."
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "The time at which this conversation should expire. After this time, the conversation data and any associated analyses will be deleted.",
          "type": "string"
        },
        "latestSummary": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationSummarizationSuggestionData",
          "readOnly": true,
          "description": "Output only. Latest summary of the conversation."
        },
        "medium": {
          "description": "Immutable. The conversation medium, if unspecified will default to PHONE_CALL.",
          "type": "string",
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ],
          "enumDescriptions": [
            "Default value, if unspecified will default to PHONE_CALL.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ]
        },
        "agentId": {
          "type": "string",
          "description": "An opaque, user-specified string representing the human agent who handled the conversation."
        },
        "dialogflowIntents": {
          "readOnly": true,
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1DialogflowIntent"
          },
          "description": "Output only. All the matched Dialogflow intents in the call. The key corresponds to a Dialogflow intent, format: projects/{project}/agent/{agent}/intents/{intent}",
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the conversation. Format: projects/{project}/locations/{location}/conversations/{conversation}"
        },
        "turnCount": {
          "description": "Output only. The number of turns in the conversation.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "transcript": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscript",
          "description": "Output only. The conversation transcript.",
          "readOnly": true
        },
        "runtimeAnnotations": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The annotations that were generated during the customer and agent interaction.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1RuntimeAnnotation"
          }
        },
        "ttl": {
          "description": "Input only. The TTL for this resource. If specified, then this TTL will be used to calculate the expire time.",
          "type": "string",
          "format": "google-duration"
        },
        "updateTime": {
          "type": "string",
[...]
