{
  "documentationLink": "https://developers.google.com/shopping-content/v2/",
  "name": "content",
  "description": "Manage your product listings and accounts for Google Shopping",
  "baseUrl": "https://shoppingcontent.googleapis.com/",
  "servicePath": "",
  "batchPath": "batch",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "canonicalName": "Shopping Content",
  "discoveryVersion": "v1",
  "version": "v2",
  "revision": "20201012",
  "protocol": "rest",
  "title": "Content API for Shopping",
  "schemas": {
    "OrdersCancelTestOrderByCustomerRequest": {
      "properties": {
        "reason": {
          "type": "string",
          "description": "The reason for the cancellation. Acceptable values are: - \"`changedMind`\" - \"`orderedWrongItem`\" - \"`other`\" "
        }
      },
      "type": "object",
      "id": "OrdersCancelTestOrderByCustomerRequest"
    },
    "OrdersUpdateMerchantOrderIdResponse": {
      "id": "OrdersUpdateMerchantOrderIdResponse",
      "properties": {
        "executionStatus": {
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" ",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersUpdateMerchantOrderIdResponse\"."
        }
      },
      "type": "object"
    },
    "AccountsCustomBatchResponse": {
      "type": "object",
      "id": "AccountsCustomBatchResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountsCustomBatchResponse\".",
          "type": "string"
        },
        "entries": {
          "items": {
            "$ref": "AccountsCustomBatchResponseEntry"
          },
          "description": "The result of the execution of the batch requests.",
          "type": "array"
        }
      }
    },
    "AccountStatusAccountLevelIssue": {
      "id": "AccountStatusAccountLevelIssue",
      "type": "object",
      "properties": {
        "id": {
          "description": "Issue identifier.",
          "type": "string"
        },
        "documentation": {
          "description": "The URL of a web page to help resolving this issue.",
          "type": "string"
        },
        "severity": {
          "type": "string",
          "description": "Severity of the issue. Acceptable values are: - \"`critical`\" - \"`error`\" - \"`suggestion`\" "
        },
        "destination": {
          "type": "string",
          "description": "The destination the issue applies to. If this field is empty then the issue applies to all available destinations."
        },
        "country": {
          "type": "string",
          "description": "Country for which this issue is reported."
        },
        "title": {
          "type": "string",
          "description": "Short description of the issue."
        },
        "detail": {
          "type": "string",
          "description": "Additional details about the issue."
        }
      }
    },
    "LiaSettings": {
      "id": "LiaSettings",
      "description": "Local Inventory ads (LIA) settings. All methods except listposdataproviders require the admin role.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#liaSettings`\""
        },
        "accountId": {
          "format": "uint64",
          "type": "string",
          "description": "The ID of the account to which these LIA settings belong. Ignored upon update, always present in get request responses."
        },
        "countrySettings": {
          "items": {
            "$ref": "LiaCountrySettings"
          },
          "type": "array",
          "description": "The LIA settings for each country."
        }
      }
    },
    "ShippingsettingsGetSupportedHolidaysResponse": {
      "type": "object",
      "properties": {
        "holidays": {
          "type": "array",
          "items": {
            "$ref": "HolidaysHoliday"
          },
          "description": "A list of holidays applicable for delivery guarantees. May be empty."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#shippingsettingsGetSupportedHolidaysResponse\".",
          "type": "string"
        }
      },
      "id": "ShippingsettingsGetSupportedHolidaysResponse"
    },
    "Errors": {
      "type": "object",
      "id": "Errors",
      "properties": {
        "message": {
          "type": "string",
          "description": "The message of the first error in `errors`."
        },
        "errors": {
          "items": {
            "$ref": "Error"
          },
          "description": "A list of errors.",
          "type": "array"
        },
        "code": {
          "type": "integer",
          "format": "uint32",
          "description": "The HTTP status of the first error in `errors`."
        }
      },
      "description": "A list of errors returned by a failed batch entry."
    },
    "MinimumOrderValueTable": {
      "id": "MinimumOrderValueTable",
      "type": "object",
      "properties": {
        "storeCodeSetWithMovs": {
          "type": "array",
          "items": {
            "$ref": "MinimumOrderValueTableStoreCodeSetWithMov"
          }
        }
      }
    },
    "OrderLineItem": {
      "properties": {
        "quantityShipped": {
          "description": "Number of items shipped.",
          "type": "integer",
          "format": "uint32"
        },
        "price": {
          "description": "Total price for the line item. For example, if two items for $10 are purchased, the total price will be $20.",
          "$ref": "Price"
        },
        "quantityPending": {
          "type": "integer",
          "format": "uint32",
          "description": "Number of items pending."
        },
        "quantityReadyForPickup": {
          "description": "Number of items ready for pickup.",
          "format": "uint32",
          "type": "integer"
        },
        "quantityOrdered": {
          "type": "integer",
          "format": "uint32",
          "description": "Number of items ordered."
        },
        "id": {
          "description": "The ID of the line item.",
          "type": "string"
        },
        "quantityCanceled": {
          "format": "uint32",
          "type": "integer",
          "description": "Number of items canceled."
        },
        "product": {
          "$ref": "OrderLineItemProduct",
          "description": "Product data as seen by customer from the time of the order placement. Note that certain attributes values (e.g. title or gtin) might be reformatted and no longer match values submitted via product feed."
        },
        "tax": {
          "description": "Total tax amount for the line item. For example, if two items are purchased, and each have a cost tax of $2, the total tax amount will be $4.",
          "$ref": "Price"
        },
        "quantityReturned": {
          "description": "Number of items returned.",
          "format": "uint32",
          "type": "integer"
        },
        "annotations": {
          "items": {
            "$ref": "OrderMerchantProvidedAnnotation"
          },
          "description": "Annotations that are attached to the line item.",
          "type": "array"
        },
        "returnInfo": {
          "description": "Details of the return policy for the line item.",
          "$ref": "OrderLineItemReturnInfo"
        },
        "returns": {
          "items": {
            "$ref": "OrderReturn"
          },
          "type": "array",
          "description": "Returns of the line item."
        },
        "quantityDelivered": {
          "type": "integer",
          "description": "Number of items delivered.",
          "format": "uint32"
        },
        "shippingDetails": {
          "$ref": "OrderLineItemShippingDetails",
          "description": "Details of the requested shipping for the line item."
        },
        "cancellations": {
          "description": "Cancellations of the line item.",
          "type": "array",
          "items": {
            "$ref": "OrderCancellation"
          }
        }
      },
      "id": "OrderLineItem",
      "type": "object"
    },
    "ProductShipping": {
      "type": "object",
      "properties": {
        "postalCode": {
          "description": "The postal code range that the shipping rate applies to, represented by a postal code, a postal code prefix followed by a * wildcard, a range between two postal codes or two postal code prefixes of equal length.",
          "type": "string"
        },
        "service": {
          "description": "A free-form description of the service class or delivery speed.",
          "type": "string"
        },
        "price": {
          "$ref": "Price",
          "description": "Fixed shipping price, represented as a number."
        },
        "locationGroupName": {
          "type": "string",
          "description": "The location where the shipping is applicable, represented by a location group name."
        },
        "region": {
          "description": "The geographic region to which a shipping rate applies.",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "format": "int64",
          "description": "The numeric ID of a location that the shipping rate applies to as defined in the AdWords API."
        },
        "country": {
          "type": "string",
          "description": "The CLDR territory code of the country to which an item will ship."
        }
      },
      "id": "ProductShipping"
    },
    "PosSale": {
      "id": "PosSale",
      "properties": {
        "saleId": {
          "description": "A unique ID to group items from the same sale event.",
          "type": "string"
        },
        "quantity": {
          "type": "string",
          "description": "Required. The relative change of the available quantity. Negative for items returned.",
          "format": "int64"
        },
        "timestamp": {
          "type": "string",
          "description": "Required. The inventory timestamp, in ISO 8601 format."
        },
        "targetCountry": {
          "type": "string",
          "description": "Required. The CLDR territory code for the item."
        },
        "storeCode": {
          "type": "string",
          "description": "Required. The identifier of the merchant's store. Either a `storeCode` inserted via the API or the code of the store in Google My Business."
        },
        "itemId": {
          "type": "string",
          "description": "Required. A unique identifier for the item."
        },
        "gtin": {
          "type": "string",
          "description": "Global Trade Item Number."
        },
        "price": {
          "$ref": "Price",
          "description": "Required. The price of the item."
        },
        "contentLanguage": {
          "type": "string",
          "description": "Required. The two-letter ISO 639-1 language code for the item."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#posSale`\""
        }
      },
      "type": "object",
      "description": "The change of the available quantity of an item at the given store."
    },
    "AccounttaxListResponse": {
      "type": "object",
      "properties": {
        "resources": {
          "type": "array",
          "items": {
            "$ref": "AccountTax"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for the retrieval of the next page of account tax settings."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accounttaxListResponse\"."
        }
      },
      "id": "AccounttaxListResponse"
    },
    "OrderPaymentMethod": {
      "type": "object",
      "id": "OrderPaymentMethod",
      "properties": {
        "lastFourDigits": {
          "description": "The last four digits of the card number.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "The billing phone number.",
          "type": "string"
        },
        "billingAddress": {
          "$ref": "OrderAddress",
          "description": "The billing address."
        },
        "type": {
          "type": "string",
          "description": "The type of instrument. Acceptable values are: - \"`AMEX`\" - \"`DISCOVER`\" - \"`JCB`\" - \"`MASTERCARD`\" - \"`UNIONPAY`\" - \"`VISA`\" - \"``\" "
        },
        "expirationMonth": {
          "description": "The card expiration month (January = 1, February = 2 etc.).",
          "format": "int32",
          "type": "integer"
        },
        "expirationYear": {
          "type": "integer",
          "format": "int32",
          "description": "The card expiration year (4-digit, e.g. 2015)."
        }
      }
    },
    "Datafeed": {
      "properties": {
        "fetchSchedule": {
          "$ref": "DatafeedFetchSchedule",
          "description": "Fetch schedule for the feed file."
        },
        "targetCountry": {
          "type": "string",
          "description": "[DEPRECATED] Please use targets[].country instead. The country where the items in the feed will be included in the search index, represented as a CLDR territory code."
        },
        "fileName": {
          "description": "Required. The filename of the feed. All feeds must have a unique file name.",
          "type": "string"
        },
        "name": {
          "description": "Required for insert. A descriptive name of the data feed.",
          "type": "string"
        },
        "attributeLanguage": {
          "type": "string",
          "description": "The two-letter ISO 639-1 language in which the attributes are defined in the data feed."
        },
        "id": {
          "description": "Required for update. The ID of the data feed.",
          "format": "int64",
          "type": "string"
        },
        "contentType": {
          "type": "string",
          "description": "Required. The type of data feed. For product inventory feeds, only feeds for local stores, not online stores, are supported. Acceptable values are: - \"`local products`\" - \"`product inventory`\" - \"`products`\" "
        },
        "targets": {
          "description": "The targets this feed should apply to (country, language, destinations).",
          "type": "array",
          "items": {
            "$ref": "DatafeedTarget"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#datafeed`\""
        },
        "intendedDestinations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "[DEPRECATED] Please use targets[].includedDestinations instead. The list of intended destinations (corresponds to checked check boxes in Merchant Center)."
        },
        "format": {
          "$ref": "DatafeedFormat",
          "description": "Format of the feed file."
        },
        "contentLanguage": {
          "description": "[DEPRECATED] Please use targets[].language instead. The two-letter ISO 639-1 language of the items in the feed. Must be a valid language for `targetCountry`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Datafeed configuration data.",
      "id": "Datafeed"
    },
    "OrdersCancelTestOrderByCustomerResponse": {
      "id": "OrdersCancelTestOrderByCustomerResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersCancelTestOrderByCustomerResponse\"."
        }
      },
      "type": "object"
    },
    "OrdersRefundRequest": {
      "id": "OrdersRefundRequest",
      "properties": {
        "amount": {
          "$ref": "Price",
          "description": "Deprecated. Please use amountPretax and amountTax instead."
        },
        "reasonText": {
          "description": "The explanation of the reason.",
          "type": "string"
        },
        "amountPretax": {
          "$ref": "Price",
          "description": "The amount that is refunded. Either amount or amountPretax should be filled."
        },
        "operationId": {
          "description": "The ID of the operation. Unique across all operations for a given order.",
          "type": "string"
        },
        "reason": {
          "type": "string",
          "description": "The reason for the refund. Acceptable values are: - \"`adjustment`\" - \"`courtesyAdjustment`\" - \"`customerCanceled`\" - \"`customerDiscretionaryReturn`\" - \"`deliveredLateByCarrier`\" - \"`feeAdjustment`\" - \"`lateShipmentCredit`\" - \"`noInventory`\" - \"`other`\" - \"`priceError`\" - \"`productArrivedDamaged`\" - \"`productNotAsDescribed`\" - \"`shippingCostAdjustment`\" - \"`taxAdjustment`\" - \"`undeliverableShippingAddress`\" - \"`wrongProductShipped`\" "
        },
        "amountTax": {
          "$ref": "Price",
          "description": "Tax amount that corresponds to refund amount in amountPretax. Optional, but if filled, amountPretax must be set. Calculated automatically if not provided."
        }
      },
      "type": "object"
    },
    "AccountsClaimWebsiteResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountsClaimWebsiteResponse\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AccountsClaimWebsiteResponse"
    },
    "OrdersShipLineItemsResponse": {
      "properties": {
        "executionStatus": {
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" ",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersShipLineItemsResponse\".",
          "type": "string"
        }
      },
      "id": "OrdersShipLineItemsResponse",
      "type": "object"
    },
    "LocationIdSet": {
      "id": "LocationIdSet",
      "type": "object",
      "properties": {
        "locationIds": {
          "items": {
            "type": "string"
          },
          "description": "A non-empty list of location IDs. They must all be of the same location type (e.g., state).",
          "type": "array"
        }
      }
    },
    "PostalCodeRange": {
      "id": "PostalCodeRange",
      "properties": {
        "postalCodeRangeEnd": {
          "description": "A postal code or a pattern of the form `prefix*` denoting the inclusive upper bound of the range defining the area. It must have the same length as `postalCodeRangeBegin`: if `postalCodeRangeBegin` is a postal code then `postalCodeRangeEnd` must be a postal code too; if `postalCodeRangeBegin` is a pattern then `postalCodeRangeEnd` must be a pattern with the same prefix length. Optional: if not set, then the area is defined as being all the postal codes matching `postalCodeRangeBegin`.",
          "type": "string"
        },
        "postalCodeRangeBegin": {
          "type": "string",
          "description": "A postal code or a pattern of the form `prefix*` denoting the inclusive lower bound of the range defining the area. Examples values: `\"94108\"`, `\"9410*\"`, `\"9*\"`. Required."
        }
      },
      "type": "object"
    },
    "OrderDeliveryDetails": {
      "properties": {
        "phoneNumber": {
          "description": "The phone number of the person receiving the delivery.",
          "type": "string"
        },
        "address": {
          "description": "The delivery address",
          "$ref": "OrderAddress"
        }
      },
      "type": "object",
      "id": "OrderDeliveryDetails"
    },
    "TestOrderLineItem": {
      "properties": {
        "product": {
          "description": "Required. Product data from the time of the order placement.",
          "$ref": "TestOrderLineItemProduct"
        },
        "quantityOrdered": {
          "description": "Required. Number of items ordered.",
          "format": "uint32",
          "type": "integer"
        },
        "unitTax": {
          "$ref": "Price",
          "description": "Deprecated. Ignored if provided."
        },
        "returnInfo": {
          "description": "Required. Details of the return policy for the line item.",
          "$ref": "OrderLineItemReturnInfo"
        },
        "shippingDetails": {
          "description": "Required. Details of the requested shipping for the line item.",
          "$ref": "OrderLineItemShippingDetails"
        }
      },
      "id": "TestOrderLineItem",
      "type": "object"
    },
    "ProductstatusesCustomBatchRequestEntry": {
      "properties": {
        "productId": {
          "type": "string",
          "description": "The ID of the product whose status to get."
        },
        "includeAttributes": {
          "type": "boolean"
        },
        "method": {
          "type": "string",
          "description": "The method of the batch entry. Acceptable values are: - \"`get`\" "
        },
        "batchId": {
          "description": "An entry ID, unique within the batch request.",
          "type": "integer",
          "format": "uint32"
        },
        "destinations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination."
        },
        "merchantId": {
          "format": "uint64",
          "type": "string",
          "description": "The ID of the managing account."
        }
      },
      "type": "object",
      "description": "A batch entry encoding a single non-batch productstatuses request.",
      "id": "ProductstatusesCustomBatchRequestEntry"
    },
    "OrdersRejectReturnLineItemRequest": {
      "id": "OrdersRejectReturnLineItemRequest",
      "properties": {
        "reason": {
          "description": "The reason for the return. Acceptable values are: - \"`damagedOrUsed`\" - \"`missingComponent`\" - \"`notEligible`\" - \"`other`\" - \"`outOfReturnWindow`\" ",
          "type": "string"
        },
        "quantity": {
          "format": "uint32",
          "description": "The quantity to return and refund.",
          "type": "integer"
        },
        "productId": {
          "description": "The ID of the product to return. This is the REST ID used in the products service. Either lineItemId or productId is required.",
          "type": "string"
        },
        "reasonText": {
          "type": "string",
          "description": "The explanation of the reason."
        },
        "lineItemId": {
          "type": "string",
          "description": "The ID of the line item to return. Either lineItemId or productId is required."
        },
        "operationId": {
          "type": "string",
          "description": "The ID of the operation. Unique across all operations for a given order."
        }
      },
      "type": "object"
    },
    "OrderLineItemProduct": {
      "properties": {
        "offerId": {
          "type": "string",
          "description": "An identifier of the item."
        },
        "shownImage": {
          "description": "URL to the cached image shown to the user when order was placed.",
          "type": "string"
        },
        "variantAttributes": {
          "type": "array",
          "items": {
            "$ref": "OrderLineItemProductVariantAttribute"
          },
          "description": "Variant attributes for the item. These are dimensions of the product, such as color, gender, material, pattern, and size. You can find a comprehensive list of variant attributes here."
        },
        "mpn": {
          "type": "string",
          "description": "Manufacturer Part Number (MPN) of the item."
        },
        "gtin": {
          "description": "Global Trade Item Number (GTIN) of the item.",
          "type": "string"
        },
        "id": {
          "description": "The REST ID of the product.",
          "type": "string"
        },
        "targetCountry": {
          "description": "The CLDR territory // code of the target country of the product.",
          "type": "string"
        },
        "fees": {
          "description": "Associated fees at order creation time.",
          "type": "array",
          "items": {
            "$ref": "OrderLineItemProductFee"
          }
        },
        "brand": {
          "type": "string",
          "description": "Brand of the item."
        },
        "channel": {
          "type": "string",
          "description": "The item's channel (online or local). Acceptable values are: - \"`local`\" - \"`online`\" "
        },
        "price": {
          "$ref": "Price",
          "description": "Price of the item."
        },
        "contentLanguage": {
          "type": "string",
          "description": "The two-letter ISO 639-1 language code for the item."
        },
        "itemGroupId": {
          "description": "Shared identifier for all variants of the same product.",
          "type": "string"
        },
        "condition": {
          "description": "Condition or state of the item. Acceptable values are: - \"`new`\" - \"`refurbished`\" - \"`used`\" ",
          "type": "string"
        },
        "imageLink": {
          "description": "URL of an image of the item.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the product."
        }
      },
      "id": "OrderLineItemProduct",
      "type": "object"
    },
    "DatafeedstatusesCustomBatchRequestEntry": {
      "id": "DatafeedstatusesCustomBatchRequestEntry",
      "properties": {
        "merchantId": {
          "type": "string",
          "description": "The ID of the managing account.",
          "format": "uint64"
        },
        "method": {
          "type": "string",
          "description": "The method of the batch entry. Acceptable values are: - \"`get`\" "
        },
        "language": {
          "type": "string",
          "description": "The language for which to get the datafeed status. If this parameter is provided then country must also be provided. Note that for multi-target datafeeds this parameter is required."
        },
        "datafeedId": {
          "format": "uint64",
          "type": "string",
          "description": "The ID of the data feed to get."
        },
        "country": {
          "type": "string",
          "description": "The country for which to get the datafeed status. If this parameter is provided then language must also be provided. Note that for multi-target datafeeds this parameter is required."
        },
        "batchId": {
          "type": "integer",
          "format": "uint32",
          "description": "An entry ID, unique within the batch request."
        }
      },
      "description": "A batch entry encoding a single non-batch datafeedstatuses request.",
      "type": "object"
    },
    "OrdersCustomBatchRequestEntryCancelLineItem": {
      "id": "OrdersCustomBatchRequestEntryCancelLineItem",
      "type": "object",
      "properties": {
        "productId": {
          "type": "string",
          "description": "The ID of the product to cancel. This is the REST ID used in the products service. Either lineItemId or productId is required."
        },
        "reasonText": {
          "type": "string",
          "description": "The explanation of the reason."
        },
        "reason": {
          "type": "string",
          "description": "The reason for the cancellation. Acceptable values are: - \"`customerInitiatedCancel`\" - \"`invalidCoupon`\" - \"`malformedShippingAddress`\" - \"`noInventory`\" - \"`other`\" - \"`priceError`\" - \"`shippingPriceError`\" - \"`taxError`\" - \"`undeliverableShippingAddress`\" - \"`unsupportedPoBoxAddress`\" "
        },
        "quantity": {
          "type": "integer",
          "format": "uint32",
          "description": "The quantity to cancel."
        },
        "lineItemId": {
          "type": "string",
          "description": "The ID of the line item to cancel. Either lineItemId or productId is required."
        },
        "amountTax": {
          "description": "Tax amount that corresponds to cancellation amount in amountPretax. Optional, but if filled, then amountPretax must be set. Calculated automatically if not provided.",
          "$ref": "Price"
        },
        "amount": {
          "description": "Deprecated. Please use amountPretax and amountTax instead.",
          "$ref": "Price"
        },
        "amountPretax": {
          "description": "Amount to refund for the cancelation. Optional. If not set, Google will calculate the default based on the price and tax of the items involved. The amount must not be larger than the net amount left on the order.",
          "$ref": "Price"
        }
      }
    },
    "LiasettingsSetPosDataProviderResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#liasettingsSetPosDataProviderResponse\".",
          "type": "string"
        }
      },
      "id": "LiasettingsSetPosDataProviderResponse"
    },
    "DatafeedFetchSchedule": {
      "properties": {
        "timeZone": {
          "type": "string",
          "description": "Time zone used for schedule. UTC by default. E.g., \"America/Los_Angeles\"."
        },
        "password": {
          "description": "An optional password for fetch_url.",
          "type": "string"
        },
        "dayOfMonth": {
          "type": "integer",
          "description": "The day of the month the feed file should be fetched (1-31).",
          "format": "uint32"
        },
        "minuteOfHour": {
          "description": "The minute of the hour the feed file should be fetched (0-59). Read-only.",
          "format": "uint32",
          "type": "integer"
        },
        "fetchUrl": {
          "description": "The URL where the feed file can be fetched. Google Merchant Center will support automatic scheduled uploads using the HTTP, HTTPS, FTP, or SFTP protocols, so the value will need to be a valid link using one of those four protocols.",
          "type": "string"
        },
        "weekday": {
          "type": "string",
          "description": "The day of the week the feed file should be fetched. Acceptable values are: - \"`monday`\" - \"`tuesday`\" - \"`wednesday`\" - \"`thursday`\" - \"`friday`\" - \"`saturday`\" - \"`sunday`\" "
        },
        "hour": {
          "description": "The hour of the day the feed file should be fetched (0-23).",
          "type": "integer",
          "format": "uint32"
        },
        "paused": {
          "type": "boolean",
          "description": "Whether the scheduled fetch is paused or not."
        },
        "username": {
          "description": "An optional user name for fetch_url.",
          "type": "string"
        }
      },
      "id": "DatafeedFetchSchedule",
      "type": "object",
      "description": "The required fields vary based on the frequency of fetching. For a monthly fetch schedule, day_of_month and hour are required. For a weekly fetch schedule, weekday and hour are required. For a daily fetch schedule, only hour is required."
    },
    "ProductsCustomBatchResponseEntry": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#productsCustomBatchResponseEntry`\"",
          "type": "string"
        },
        "errors": {
          "$ref": "Errors",
          "description": "A list of errors defined if and only if the request failed."
        },
        "batchId": {
          "format": "uint32",
          "description": "The ID of the request entry this entry responds to.",
          "type": "integer"
        },
        "product": {
          "$ref": "Product",
          "description": "The inserted product. Only defined if the method is `insert` and if the request was successful."
        }
      },
      "id": "ProductsCustomBatchResponseEntry",
      "type": "object",
      "description": "A batch entry encoding a single non-batch products response."
    },
    "AccountAdwordsLink": {
      "type": "object",
      "properties": {
        "status": {
          "description": "Status of the link between this Merchant Center account and the AdWords account. Upon retrieval, it represents the actual status of the link and can be either `active` if it was approved in Google AdWords or `pending` if it's pending approval. Upon insertion, it represents the *intended* status of the link. Re-uploading a link with status `active` when it's still pending or with status `pending` when it's already active will have no effect: the status will remain unchanged. Re-uploading a link with deprecated status `inactive` is equivalent to not submitting the link at all and will delete the link if it was active or cancel the link request if it was pending. Acceptable values are: - \"`active`\" - \"`pending`\" ",
          "type": "string"
        },
        "adwordsId": {
          "type": "string",
          "description": "Customer ID of the AdWords account.",
          "format": "uint64"
        }
      },
      "id": "AccountAdwordsLink"
    },
    "DatafeedsListResponse": {
      "properties": {
        "resources": {
          "type": "array",
          "items": {
            "$ref": "Datafeed"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#datafeedsListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for the retrieval of the next page of datafeeds."
        }
      },
      "type": "object",
      "id": "DatafeedsListResponse"
    },
    "AccountstatusesCustomBatchRequest": {
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "$ref": "AccountstatusesCustomBatchRequestEntry"
          },
          "type": "array",
          "description": "The request entries to be processed in the batch."
        }
      },
      "id": "AccountstatusesCustomBatchRequest"
    },
    "InvoiceSummary": {
      "properties": {
        "productTotal": {
          "$ref": "Amount",
          "description": "[required] Total price for the product."
        },
        "merchantBalance": {
          "description": "Deprecated.",
          "$ref": "Amount"
        },
        "additionalChargeSummaries": {
          "description": "Summary of the total amounts of the additional charges.",
          "items": {
            "$ref": "InvoiceSummaryAdditionalChargeSummary"
          },
          "type": "array"
        },
        "googleBalance": {
          "$ref": "Amount",
          "description": "Deprecated."
        },
        "customerBalance": {
          "$ref": "Amount",
          "description": "Deprecated."
        },
        "promotionSummaries": {
          "items": {
            "$ref": "Promotion"
          },
          "type": "array",
          "description": "Deprecated."
        }
      },
      "id": "InvoiceSummary",
      "type": "object"
    },
    "AccountStatusProducts": {
      "properties": {
        "country": {
          "description": "The country the data applies to.",
          "type": "string"
        },
        "statistics": {
          "description": "Aggregated product statistics.",
          "$ref": "AccountStatusStatistics"
        },
        "destination": {
          "type": "string",
          "description": "The destination the data applies to."
        },
        "channel": {
          "description": "The channel the data applies to. Acceptable values are: - \"`local`\" - \"`online`\" ",
          "type": "string"
        },
        "itemLevelIssues": {
          "items": {
            "$ref": "AccountStatusItemLevelIssue"
          },
          "type": "array",
          "description": "List of item-level issues."
        }
      },
      "type": "object",
      "id": "AccountStatusProducts"
    },
    "AccountYouTubeChannelLink": {
      "type": "object",
      "properties": {
        "channelId": {
          "description": "Channel ID.",
          "type": "string"
        },
        "status": {
          "description": "Status of the link between this Merchant Center account and the YouTube channel. Upon retrieval, it represents the actual status of the link and can be either `active` if it was approved in YT Creator Studio or `pending` if it's pending approval. Upon insertion, it represents the *intended* status of the link. Re-uploading a link with status `active` when it's still pending or with status `pending` when it's already active will have no effect: the status will remain unchanged. Re-uploading a link with deprecated status `inactive` is equivalent to not submitting the link at all and will delete the link if it was active or cancel the link request if it was pending.",
          "type": "string"
        }
      },
      "id": "AccountYouTubeChannelLink"
    },
    "AccountBusinessInformation": {
      "id": "AccountBusinessInformation",
      "type": "object",
      "properties": {
        "customerService": {
          "description": "The customer service information of the business.",
          "$ref": "AccountCustomerService"
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number of the business."
        },
        "address": {
          "description": "The address of the business.",
          "$ref": "AccountAddress"
        }
      }
    },
    "LiaCountrySettings": {
      "id": "LiaCountrySettings",
      "properties": {
        "posDataProvider": {
          "$ref": "LiaPosDataProvider",
          "description": "The POS data provider linked with this country."
        },
        "country": {
          "type": "string",
          "description": "Required. CLDR country code (e.g. \"US\")."
        },
        "hostedLocalStorefrontActive": {
          "description": "The status of the \"Merchant hosted local storefront\" feature.",
          "type": "boolean"
        },
        "onDisplayToOrder": {
          "$ref": "LiaOnDisplayToOrderSettings",
          "description": "LIA \"On Display To Order\" settings."
        },
        "inventory": {
          "$ref": "LiaInventorySettings",
          "description": "LIA inventory verification settings."
        },
        "about": {
          "$ref": "LiaAboutPageSettings",
          "description": "The settings for the About page."
        },
        "storePickupActive": {
          "description": "The status of the \"Store pickup\" feature.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "OrderPickupDetailsCollector": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the person picking up the shipment."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Phone number of the person picking up the shipment."
        }
      },
      "id": "OrderPickupDetailsCollector"
    },
    "OrderinvoicesCreateRefundInvoiceResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#orderinvoicesCreateRefundInvoiceResponse\".",
          "type": "string"
        },
        "executionStatus": {
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" ",
          "type": "string"
        }
      },
      "id": "OrderinvoicesCreateRefundInvoiceResponse"
    },
    "InventorySetRequest": {
      "properties": {
        "instoreProductLocation": {
          "description": "The instore product location. Supported only for local products.",
          "type": "string"
        },
        "salePriceEffectiveDate": {
          "description": "A date range represented by a pair of ISO 8601 dates separated by a space, comma, or slash. Both dates might be specified as 'null' if undecided.",
          "type": "string"
        },
        "pickup": {
          "description": "Store pickup information. Only supported for local inventory. Not setting `pickup` means \"don't update\" while setting it to the empty value (`{}` in JSON) means \"delete\". Otherwise, `pickupMethod` and `pickupSla` must be set together, unless `pickupMethod` is \"not supported\".",
          "$ref": "InventoryPickup"
        },
        "customLabel3": {
          "type": "string",
          "description": "Custom label 3 for custom grouping of items in a Shopping campaign. Only supported for online products."
        },
        "customLabel2": {
          "description": "Custom label 2 for custom grouping of items in a Shopping campaign. Only supported for online products.",
          "type": "string"
        },
        "installment": {
          "$ref": "Installment",
          "description": "Number and amount of installments to pay for an item. Brazil only."
        },
        "customLabel4": {
          "description": "Custom label 3 for custom grouping of items in a Shopping campaign. Only supported for online products.",
          "type": "string"
        },
        "sellOnGoogleQuantity": {
          "format": "uint32",
          "type": "integer",
          "description": "The quantity of the product that is available for selling on Google. Supported only for online products."
        },
        "price": {
          "$ref": "Price",
          "description": "The price of the product."
        },
        "customLabel0": {
          "type": "string",
          "description": "Custom label 0 for custom grouping of items in a Shopping campaign. Only supported for online products."
        },
        "loyaltyPoints": {
          "description": "Loyalty points that users receive after purchasing the item. Japan only.",
          "$ref": "LoyaltyPoints"
        },
        "quantity": {
          "type": "integer",
          "description": "The quantity of the product. Must be equal to or greater than zero. Supported only for local products.",
          "format": "uint32"
        },
        "salePrice": {
          "$ref": "Price",
          "description": "The sale price of the product. Mandatory if `sale_price_effective_date` is defined."
        },
        "customLabel1": {
          "description": "Custom label 1 for custom grouping of items in a Shopping campaign. Only supported for online products.",
          "type": "string"
        },
        "availability": {
          "type": "string",
          "description": "The availability of the product. Acceptable values are: - \"`in stock`\" - \"`out of stock`\" - \"`preorder`\" "
        }
      },
      "type": "object",
      "id": "InventorySetRequest"
    },
    "CustomerReturnReason": {
      "properties": {
        "description": {
          "description": "Description of the reason.",
          "type": "string"
        },
        "reasonCode": {
          "type": "string",
          "description": "Code of the return reason. Acceptable values are: - \"`betterPriceFound`\" - \"`changedMind`\" - \"`damagedOrDefectiveItem`\" - \"`didNotMatchDescription`\" - \"`doesNotFit`\" - \"`expiredItem`\" - \"`incorrectItemReceived`\" - \"`noLongerNeeded`\" - \"`notSpecified`\" - \"`orderedWrongItem`\" - \"`other`\" - \"`qualityNotExpected`\" - \"`receivedTooLate`\" - \"`undeliverable`\" "
        }
      },
      "id": "CustomerReturnReason",
      "type": "object"
    },
    "OrdersAcknowledgeRequest": {
      "id": "OrdersAcknowledgeRequest",
      "type": "object",
      "properties": {
        "operationId": {
          "type": "string",
          "description": "The ID of the operation. Unique across all operations for a given order."
        }
      }
    },
    "ShipmentInvoice": {
      "properties": {
        "invoiceSummary": {
          "description": "[required] Invoice summary.",
          "$ref": "InvoiceSummary"
        },
        "shipmentGroupId": {
          "description": "[required] ID of the shipment group. It is assigned by the merchant in the `shipLineItems` method and is used to group multiple line items that have the same kind of shipping charges.",
          "type": "string"
        },
        "lineItemInvoices": {
          "items": {
            "$ref": "ShipmentInvoiceLineItemInvoice"
          },
          "description": "[required] Invoice details per line item.",
          "type": "array"
        }
      },
      "id": "ShipmentInvoice",
      "type": "object"
    },
    "PosCustomBatchRequestEntry": {
      "properties": {
        "sale": {
          "description": "The sale information to submit. Set this only if the method is `sale`.",
          "$ref": "PosSale"
        },
        "targetMerchantId": {
          "type": "string",
          "description": "The ID of the account for which to get/submit data.",
          "format": "uint64"
        },
        "method": {
          "type": "string",
          "description": "The method of the batch entry. Acceptable values are: - \"`delete`\" - \"`get`\" - \"`insert`\" - \"`inventory`\" - \"`sale`\" "
        },
        "merchantId": {
          "type": "string",
          "description": "The ID of the POS data provider.",
          "format": "uint64"
        },
        "batchId": {
          "description": "An entry ID, unique within the batch request.",
          "format": "uint32",
          "type": "integer"
        },
        "storeCode": {
          "type": "string",
          "description": "The store code. Set this only if the method is `delete` or `get`."
        },
        "store": {
          "description": "The store information to submit. Set this only if the method is `insert`.",
          "$ref": "PosStore"
        },
        "inventory": {
          "$ref": "PosInventory",
          "description": "The inventory to submit. Set this only if the method is `inventory`."
        }
      },
      "id": "PosCustomBatchRequestEntry",
      "type": "object"
    },
    "ProductStatusDestinationStatus": {
      "properties": {
        "approvalStatus": {
          "type": "string",
          "description": "The destination's approval status. Acceptable values are: - \"`approved`\" - \"`disapproved`\" "
        },
        "destination": {
          "type": "string",
          "description": "The name of the destination"
        },
        "intention": {
          "description": "Provided for backward compatibility only. Always set to \"required\". Acceptable values are: - \"`default`\" - \"`excluded`\" - \"`optional`\" - \"`required`\" ",
          "type": "string"
        },
        "approvalPending": {
          "description": "Whether the approval status might change due to further processing.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "ProductStatusDestinationStatus"
    },
    "TestOrderPaymentMethod": {
      "type": "object",
      "properties": {
        "expirationMonth": {
          "format": "int32",
          "type": "integer",
          "description": "The card expiration month (January = 1, February = 2 etc.)."
        },
        "predefinedBillingAddress": {
          "description": "The billing address. Acceptable values are: - \"`dwight`\" - \"`jim`\" - \"`pam`\" ",
          "type": "string"
        },
        "type": {
          "description": "The type of instrument. Note that real orders might have different values than the four values accepted by `createTestOrder`. Acceptable values are: - \"`AMEX`\" - \"`DISCOVER`\" - \"`MASTERCARD`\" - \"`VISA`\" ",
          "type": "string"
        },
        "lastFourDigits": {
          "description": "The last four digits of the card number.",
          "type": "string"
        },
        "expirationYear": {
          "format": "int32",
          "type": "integer",
          "description": "The card expiration year (4-digit, e.g. 2015)."
        }
      },
      "id": "TestOrderPaymentMethod"
    },
    "CutoffTime": {
      "id": "CutoffTime",
      "properties": {
        "timezone": {
          "type": "string",
          "description": "Timezone identifier for the cutoff time. A list of identifiers can be found in the AdWords API documentation. E.g. \"Europe/Zurich\". Required."
        },
        "minute": {
          "description": "Minute of the cutoff time until which an order has to be placed to be processed in the same day. Required.",
          "type": "integer",
          "format": "uint32"
        },
        "hour": {
          "description": "Hour of the cutoff time until which an order has to be placed to be processed in the same day. Required.",
          "type": "integer",
          "format": "uint32"
        }
      },
      "type": "object"
    },
    "DatafeedstatusesListResponse": {
      "id": "DatafeedstatusesListResponse",
      "properties": {
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of datafeed statuses.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#datafeedstatusesListResponse\"."
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "DatafeedStatus"
          }
        }
      },
      "type": "object"
    },
    "Table": {
      "properties": {
        "name": {
          "description": "Name of the table. Required for subtables, ignored for the main table.",
          "type": "string"
        },
        "rows": {
          "items": {
            "$ref": "Row"
          },
          "type": "array",
          "description": "The list of rows that constitute the table. Must have the same length as `rowHeaders`. Required."
        },
        "rowHeaders": {
          "$ref": "Headers",
          "description": "Headers of the table's rows. Required."
        },
        "columnHeaders": {
          "description": "Headers of the table's columns. Optional: if not set then the table has only one dimension.",
          "$ref": "Headers"
        }
      },
      "type": "object",
      "id": "Table"
    },
    "BusinessDayConfig": {
      "id": "BusinessDayConfig",
      "properties": {
        "businessDays": {
          "type": "array",
          "description": "Regular business days. May not be empty.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "Installment": {
      "id": "Installment",
      "type": "object",
      "properties": {
        "amount": {
          "description": "The amount the buyer has to pay per month.",
          "$ref": "Price"
        },
        "months": {
          "format": "int64",
          "description": "The number of installments the buyer has to pay.",
          "type": "string"
        }
      }
    },
    "OrdersUpdateMerchantOrderIdRequest": {
      "properties": {
        "merchantOrderId": {
          "type": "string",
          "description": "The merchant order id to be assigned to the order. Must be unique per merchant."
        },
        "operationId": {
          "description": "The ID of the operation. Unique across all operations for a given order.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OrdersUpdateMerchantOrderIdRequest"
    },
    "Inventory": {
      "id": "Inventory",
      "properties": {
        "installment": {
          "$ref": "Installment",
          "description": "Number and amount of installments to pay for an item. Brazil only."
        },
        "instoreProductLocation": {
          "description": "The instore product location. Supported only for local products.",
          "type": "string"
        },
        "customLabel1": {
          "type": "string",
          "description": "Custom label 1 for custom grouping of items in a Shopping campaign. Only supported for online products."
        },
        "quantity": {
          "type": "integer",
          "format": "uint32",
          "description": "The quantity of the product. Must be equal to or greater than zero. Supported only for local products."
        },
        "availability": {
          "type": "string",
          "description": "The availability of the product. Acceptable values are: - \"`in stock`\" - \"`out of stock`\" - \"`preorder`\" "
        },
        "salePriceEffectiveDate": {
          "description": "A date range represented by a pair of ISO 8601 dates separated by a space, comma, or slash. Both dates might be specified as 'null' if undecided.",
          "type": "string"
        },
        "customLabel2": {
          "type": "string",
          "description": "Custom label 2 for custom grouping of items in a Shopping campaign. Only supported for online products."
        },
        "pickup": {
          "$ref": "InventoryPickup",
          "description": "Store pickup information. Only supported for local inventory. Not setting `pickup` means \"don't update\" while setting it to the empty value (`{}` in JSON) means \"delete\". Otherwise, `pickupMethod` and `pickupSla` must be set together, unless `pickupMethod` is \"not supported\"."
        },
        "customLabel0": {
          "description": "Custom label 0 for custom grouping of items in a Shopping campaign. Only supported for online products.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#inventory`\"",
          "type": "string"
        },
        "customLabel4": {
          "description": "Custom label 3 for custom grouping of items in a Shopping campaign. Only supported for online products.",
          "type": "string"
        },
        "sellOnGoogleQuantity": {
          "type": "integer",
          "format": "uint32",
          "description": "The quantity of the product that is available for selling on Google. Supported only for online products."
        },
        "price": {
          "$ref": "Price",
          "description": "The price of the product."
        },
        "customLabel3": {
          "description": "Custom label 3 for custom grouping of items in a Shopping campaign. Only supported for online products.",
          "type": "string"
        },
        "salePrice": {
          "$ref": "Price",
          "description": "The sale price of the product. Mandatory if `sale_price_effective_date` is defined."
        },
        "loyaltyPoints": {
          "description": "Loyalty points that users receive after purchasing the item. Japan only.",
          "$ref": "LoyaltyPoints"
        }
      },
      "type": "object"
    },
    "Promotion": {
      "id": "Promotion",
      "properties": {
        "promotionAmount": {
          "description": "[required] Amount of the promotion. The values here are the promotion applied to the unit price pretax and to the total of the tax amounts.",
          "$ref": "Amount"
        },
        "promotionId": {
          "description": "[required] ID of the promotion.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PickupCarrierService": {
      "properties": {
        "serviceName": {
          "type": "string",
          "description": "The name of the pickup service (e.g., `\"Access point\"`). Required."
        },
        "carrierName": {
          "type": "string",
          "description": "The name of the pickup carrier (e.g., `\"UPS\"`). Required."
        }
      },
      "id": "PickupCarrierService",
      "type": "object"
    },
    "OrdersCustomBatchRequestEntryCancel": {
      "id": "OrdersCustomBatchRequestEntryCancel",
      "type": "object",
      "properties": {
        "reasonText": {
          "type": "string",
          "description": "The explanation of the reason."
        },
        "reason": {
          "description": "The reason for the cancellation. Acceptable values are: - \"`customerInitiatedCancel`\" - \"`invalidCoupon`\" - \"`malformedShippingAddress`\" - \"`noInventory`\" - \"`other`\" - \"`priceError`\" - \"`shippingPriceError`\" - \"`taxError`\" - \"`undeliverableShippingAddress`\" - \"`unsupportedPoBoxAddress`\" ",
          "type": "string"
        }
      }
    },
    "AccountTaxTaxRule": {
      "description": "Tax calculation rule to apply in a state or province (USA only).",
      "properties": {
        "ratePercent": {
          "type": "string",
          "description": "Explicit tax rate in percent, represented as a floating point number without the percentage character. Must not be negative."
        },
        "country": {
          "type": "string",
          "description": "Country code in which tax is applicable."
        },
        "locationId": {
          "format": "uint64",
          "type": "string",
          "description": "Required. State (or province) is which the tax is applicable, described by its location ID (also called criteria ID)."
        },
        "useGlobalRate": {
          "type": "boolean",
          "description": "Whether the tax rate is taken from a global tax table or specified explicitly."
        },
        "shippingTaxed": {
          "description": "If true, shipping charges are also taxed.",
          "type": "boolean"
        }
      },
      "id": "AccountTaxTaxRule",
      "type": "object"
    },
    "OrderreportsListTransactionsResponse": {
      "type": "object",
      "properties": {
        "transactions": {
          "type": "array",
          "description": "The list of transactions.",
          "items": {
            "$ref": "OrderReportTransaction"
          }
        },
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of transactions.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#orderreportsListTransactionsResponse\"."
        }
      },
      "id": "OrderreportsListTransactionsResponse"
    },
    "AccounttaxCustomBatchRequest": {
      "properties": {
        "entries": {
          "items": {
            "$ref": "AccounttaxCustomBatchRequestEntry"
          },
          "description": "The request entries to be processed in the batch.",
          "type": "array"
        }
      },
      "id": "AccounttaxCustomBatchRequest",
      "type": "object"
    },
    "RateGroup": {
      "type": "object",
      "id": "RateGroup",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the rate group. Optional. If set has to be unique within shipping service."
        },
        "carrierRates": {
          "type": "array",
          "description": "A list of carrier rates that can be referred to by `mainTable` or `singleValue`.",
          "items": {
            "$ref": "CarrierRate"
          }
        },
        "applicableShippingLabels": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of shipping labels defining the products to which this rate group applies to. This is a disjunction: only one of the labels has to match for the rate group to apply. May only be empty for the last rate group of a service. Required."
        },
        "singleValue": {
          "$ref": "Value",
          "description": "The value of the rate group (e.g. flat rate $10). Can only be set if `mainTable` and `subtables` are not set."
        },
        "subtables": {
          "items": {
            "$ref": "Table"
          },
          "description": "A list of subtables referred to by `mainTable`. Can only be set if `mainTable` is set.",
          "type": "array"
        },
        "mainTable": {
          "description": "A table defining the rate group, when `singleValue` is not expressive enough. Can only be set if `singleValue` is not set.",
          "$ref": "Table"
        }
      }
    },
    "ShippingsettingsListResponse": {
      "id": "ShippingsettingsListResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token for the retrieval of the next page of shipping settings."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#shippingsettingsListResponse\"."
        },
        "resources": {
          "items": {
            "$ref": "ShippingSettings"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "OrdersCustomBatchRequestEntryUpdateLineItemShippingDetails": {
      "properties": {
        "deliverByDate": {
          "description": "Updated delivery by date, in ISO 8601 format. If not specified only ship by date is updated. Provided date should be within 1 year timeframe and can not be a date in the past.",
          "type": "string"
        },
        "productId": {
          "description": "The ID of the product to set metadata. This is the REST ID used in the products service. Either lineItemId or productId is required.",
          "type": "string"
        },
        "shipByDate": {
          "type": "string",
          "description": "Updated ship by date, in ISO 8601 format. If not specified only deliver by date is updated. Provided date should be within 1 year timeframe and can not be a date in the past."
        },
        "lineItemId": {
          "type": "string",
          "description": "The ID of the line item to set metadata. Either lineItemId or productId is required."
        }
      },
      "type": "object",
      "id": "OrdersCustomBatchRequestEntryUpdateLineItemShippingDetails"
    },
    "OrderShipmentScheduledDeliveryDetails": {
      "properties": {
        "carrierPhoneNumber": {
          "description": "The phone number of the carrier fulfilling the delivery. The phone number is formatted as the international notation in ITU-T Recommendation E.123 (e.g., \"+41 44 668 1800\").",
          "type": "string"
        },
        "scheduledDate": {
          "type": "string",
          "description": "The date a shipment is scheduled for delivery, in ISO 8601 format."
        }
      },
      "id": "OrderShipmentScheduledDeliveryDetails",
      "type": "object"
    },
    "OrdersUpdateLineItemShippingDetailsResponse": {
      "id": "OrdersUpdateLineItemShippingDetailsResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersUpdateLineItemShippingDetailsResponse\".",
          "type": "string"
        },
        "executionStatus": {
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" ",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DatafeedstatusesCustomBatchRequest": {
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "DatafeedstatusesCustomBatchRequestEntry"
          },
          "description": "The request entries to be processed in the batch."
        }
      },
      "id": "DatafeedstatusesCustomBatchRequest",
      "type": "object"
    },
    "LiasettingsRequestGmbAccessResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#liasettingsRequestGmbAccessResponse\"."
        }
      },
      "id": "LiasettingsRequestGmbAccessResponse",
      "type": "object"
    },
    "OrderLineItemReturnInfo": {
      "properties": {
        "isReturnable": {
          "description": "Required. Whether the item is returnable.",
          "type": "boolean"
        },
        "policyUrl": {
          "description": "Required. URL of the item return policy.",
          "type": "string"
        },
        "daysToReturn": {
          "format": "int32",
          "description": "Required. How many days later the item can be returned.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "OrderLineItemReturnInfo"
    },
    "OrdersCustomBatchRequestEntrySetLineItemMetadata": {
      "properties": {
        "productId": {
          "type": "string",
          "description": "The ID of the product to set metadata. This is the REST ID used in the products service. Either lineItemId or productId is required."
        },
        "annotations": {
          "items": {
            "$ref": "OrderMerchantProvidedAnnotation"
          },
          "type": "array"
        },
        "lineItemId": {
          "type": "string",
          "description": "The ID of the line item to set metadata. Either lineItemId or productId is required."
        }
      },
      "type": "object",
      "id": "OrdersCustomBatchRequestEntrySetLineItemMetadata"
    },
    "ProductShippingWeight": {
      "type": "object",
      "properties": {
        "value": {
          "format": "double",
          "type": "number",
          "description": "The weight of the product used to calculate the shipping cost of the item."
        },
        "unit": {
          "type": "string",
          "description": "The unit of value."
        }
      },
      "id": "ProductShippingWeight"
    },
    "AccountsAuthInfoResponse": {
      "id": "AccountsAuthInfoResponse",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountsAuthInfoResponse\"."
        },
        "accountIdentifiers": {
          "type": "array",
          "description": "The account identifiers corresponding to the authenticated user. - For an individual account: only the merchant ID is defined - For an aggregator: only the aggregator ID is defined - For a subaccount of an MCA: both the merchant ID and the aggregator ID are defined. ",
          "items": {
            "$ref": "AccountIdentifier"
          }
        }
      }
    },
    "Value": {
      "id": "Value",
      "description": "The single value of a rate group or the value of a rate group table's cell. Exactly one of `noShipping`, `flatRate`, `pricePercentage`, `carrierRateName`, `subtableName` must be set.",
      "type": "object",
      "properties": {
        "subtableName": {
          "description": "The name of a subtable. Can only be set in table cells (i.e., not for single values), and only if all other fields are not set.",
          "type": "string"
        },
        "pricePercentage": {
          "description": "A percentage of the price represented as a number in decimal notation (e.g., `\"5.4\"`). Can only be set if all other fields are not set.",
          "type": "string"
        },
        "noShipping": {
          "description": "If true, then the product can't ship. Must be true when set, can only be set if all other fields are not set.",
          "type": "boolean"
        },
        "carrierRateName": {
          "description": "The name of a carrier rate referring to a carrier rate defined in the same rate group. Can only be set if all other fields are not set.",
          "type": "string"
        },
        "flatRate": {
          "$ref": "Price",
          "description": "A flat rate. Can only be set if all other fields are not set."
        }
      }
    },
    "OrdersCustomBatchRequestEntryRefund": {
      "id": "OrdersCustomBatchRequestEntryRefund",
      "properties": {
        "amountTax": {
          "$ref": "Price",
          "description": "Tax amount that corresponds to refund amount in amountPretax. Optional, but if filled, amountPretax must be set. Calculated automatically if not provided."
        },
        "amount": {
          "$ref": "Price",
          "description": "Deprecated. Please use amountPretax and amountTax instead."
        },
        "reason": {
          "type": "string",
          "description": "The reason for the refund. Acceptable values are: - \"`adjustment`\" - \"`courtesyAdjustment`\" - \"`customerCanceled`\" - \"`customerDiscretionaryReturn`\" - \"`deliveredLateByCarrier`\" - \"`feeAdjustment`\" - \"`lateShipmentCredit`\" - \"`noInventory`\" - \"`other`\" - \"`priceError`\" - \"`productArrivedDamaged`\" - \"`productNotAsDescribed`\" - \"`shippingCostAdjustment`\" - \"`taxAdjustment`\" - \"`undeliverableShippingAddress`\" - \"`wrongProductShipped`\" "
        },
        "reasonText": {
          "description": "The explanation of the reason.",
          "type": "string"
        },
        "amountPretax": {
          "description": "The amount that is refunded. Either amount or amountPretax should be filled.",
          "$ref": "Price"
        }
      },
      "type": "object"
    },
    "AccounttaxCustomBatchResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accounttaxCustomBatchResponse\".",
          "type": "string"
        },
        "entries": {
          "description": "The result of the execution of the batch requests.",
          "items": {
            "$ref": "AccounttaxCustomBatchResponseEntry"
          },
          "type": "array"
        }
      },
      "id": "AccounttaxCustomBatchResponse"
    },
    "TransitTableTransitTimeRow": {
      "id": "TransitTableTransitTimeRow",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "TransitTableTransitTimeRowTransitTimeValue"
          }
        }
      },
      "type": "object"
    },
    "OrdersCancelLineItemRequest": {
      "properties": {
        "amountPretax": {
          "$ref": "Price",
          "description": "Amount to refund for the cancelation. Optional. If not set, Google will calculate the default based on the price and tax of the items involved. The amount must not be larger than the net amount left on the order."
        },
        "lineItemId": {
          "type": "string",
          "description": "The ID of the line item to cancel. Either lineItemId or productId is required."
        },
        "amountTax": {
          "$ref": "Price",
          "description": "Tax amount that corresponds to cancellation amount in amountPretax. Optional, but if filled, then amountPretax must be set. Calculated automatically if not provided."
        },
        "reasonText": {
          "description": "The explanation of the reason.",
          "type": "string"
        },
        "amount": {
          "description": "Deprecated. Please use amountPretax and amountTax instead.",
          "$ref": "Price"
        },
        "productId": {
          "description": "The ID of the product to cancel. This is the REST ID used in the products service. Either lineItemId or productId is required.",
          "type": "string"
        },
        "reason": {
          "type": "string",
          "description": "The reason for the cancellation. Acceptable values are: - \"`customerInitiatedCancel`\" - \"`invalidCoupon`\" - \"`malformedShippingAddress`\" - \"`noInventory`\" - \"`other`\" - \"`priceError`\" - \"`shippingPriceError`\" - \"`taxError`\" - \"`undeliverableShippingAddress`\" - \"`unsupportedPoBoxAddress`\" "
        },
        "quantity": {
          "description": "The quantity to cancel.",
          "type": "integer",
          "format": "uint32"
        },
        "operationId": {
          "description": "The ID of the operation. Unique across all operations for a given order.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OrdersCancelLineItemRequest"
    },
    "OrdersInStoreRefundLineItemRequest": {
      "properties": {
        "amountPretax": {
          "$ref": "Price",
          "description": "The amount that is refunded. Required."
        },
        "amountTax": {
          "description": "Tax amount that correspond to refund amount in amountPretax. Required.",
          "$ref": "Price"
        },
        "lineItemId": {
          "description": "The ID of the line item to return. Either lineItemId or productId is required.",
          "type": "string"
        },
        "quantity": {
          "format": "uint32",
          "type": "integer",
          "description": "The quantity to return and refund."
        },
        "reason": {
          "description": "The reason for the return. Acceptable values are: - \"`customerDiscretionaryReturn`\" - \"`customerInitiatedMerchantCancel`\" - \"`deliveredTooLate`\" - \"`expiredItem`\" - \"`invalidCoupon`\" - \"`malformedShippingAddress`\" - \"`other`\" - \"`productArrivedDamaged`\" - \"`productNotAsDescribed`\" - \"`qualityNotAsExpected`\" - \"`undeliverableShippingAddress`\" - \"`unsupportedPoBoxAddress`\" - \"`wrongProductShipped`\" ",
          "type": "string"
        },
        "productId": {
          "type": "string",
          "description": "The ID of the product to return. This is the REST ID used in the products service. Either lineItemId or productId is required."
        },
        "operationId": {
          "description": "The ID of the operation. Unique across all operations for a given order.",
          "type": "string"
        },
        "reasonText": {
          "type": "string",
          "description": "The explanation of the reason."
        }
      },
      "type": "object",
      "id": "OrdersInStoreRefundLineItemRequest"
    },
    "PosCustomBatchResponse": {
      "type": "object",
      "id": "PosCustomBatchResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#posCustomBatchResponse\"."
        },
        "entries": {
          "description": "The result of the execution of the batch requests.",
          "type": "array",
          "items": {
            "$ref": "PosCustomBatchResponseEntry"
          }
        }
      }
    },
    "ProductTax": {
      "id": "ProductTax",
      "type": "object",
      "properties": {
        "region": {
          "type": "string",
          "description": "The geographic region to which the tax rate applies."
        },
        "locationId": {
          "format": "int64",
          "type": "string",
          "description": "The numeric ID of a location that the tax rate applies to as defined in the AdWords API."
        },
        "rate": {
          "format": "double",
          "description": "The percentage of tax rate that applies to the item price.",
          "type": "number"
        },
        "country": {
          "description": "The country within which the item is taxed, specified as a CLDR territory code.",
          "type": "string"
        },
        "taxShip": {
          "description": "Set to true if tax is charged on shipping.",
          "type": "boolean"
        },
        "postalCode": {
          "type": "string",
          "description": "The postal code range that the tax rate applies to, represented by a ZIP code, a ZIP code prefix using * wildcard, a range between two ZIP codes or two ZIP code prefixes of equal length. Examples: 94114, 94*, 94002-95460, 94*-95*."
        }
      }
    },
    "OrdersListResponse": {
      "id": "OrdersListResponse",
      "properties": {
        "resources": {
          "items": {
            "$ref": "Order"
          },
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of orders.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OrdersInStoreRefundLineItemResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersInStoreRefundLineItemResponse\"."
        },
        "executionStatus": {
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" ",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OrdersInStoreRefundLineItemResponse"
    },
    "OrderreportsListDisbursementsResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#orderreportsListDisbursementsResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for the retrieval of the next page of disbursements."
        },
        "disbursements": {
          "type": "array",
          "items": {
            "$ref": "OrderReportDisbursement"
          },
          "description": "The list of disbursements."
        }
      },
      "type": "object",
      "id": "OrderreportsListDisbursementsResponse"
    },
    "LiasettingsListResponse": {
      "id": "LiasettingsListResponse",
      "type": "object",
      "properties": {
        "resources": {
          "items": {
            "$ref": "LiaSettings"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#liasettingsListResponse\"."
        },
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of LIA settings.",
          "type": "string"
        }
      }
    },
    "Price": {
      "type": "object",
      "properties": {
        "currency": {
          "type": "string",
          "description": "The currency of the price."
        },
        "value": {
          "type": "string",
          "description": "The price represented as a number."
        }
      },
      "id": "Price"
    },
    "AccountstatusesCustomBatchRequestEntry": {
      "description": "A batch entry encoding a single non-batch accountstatuses request.",
      "type": "object",
      "id": "AccountstatusesCustomBatchRequestEntry",
      "properties": {
        "accountId": {
          "format": "uint64",
          "description": "The ID of the (sub-)account whose status to get.",
          "type": "string"
        },
        "method": {
          "description": "The method of the batch entry. Acceptable values are: - \"`get`\" ",
          "type": "string"
        },
        "merchantId": {
          "format": "uint64",
          "description": "The ID of the managing account.",
          "type": "string"
        },
        "destinations": {
          "type": "array",
          "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
          "items": {
            "type": "string"
          }
        },
        "batchId": {
          "description": "An entry ID, unique within the batch request.",
          "type": "integer",
          "format": "uint32"
        }
      }
    },
    "LiasettingsCustomBatchRequest": {
      "id": "LiasettingsCustomBatchRequest",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "LiasettingsCustomBatchRequestEntry"
          },
          "description": "The request entries to be processed in the batch."
        }
      },
      "type": "object"
    },
    "Row": {
      "type": "object",
      "id": "Row",
      "properties": {
        "cells": {
          "description": "The list of cells that constitute the row. Must have the same length as `columnHeaders` for two-dimensional tables, a length of 1 for one-dimensional tables. Required.",
          "items": {
            "$ref": "Value"
          },
          "type": "array"
        }
      }
    },
    "ProductstatusesCustomBatchResponse": {
      "properties": {
        "entries": {
          "description": "The result of the execution of the batch requests.",
          "type": "array",
          "items": {
            "$ref": "ProductstatusesCustomBatchResponseEntry"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#productstatusesCustomBatchResponse\"."
        }
      },
      "id": "ProductstatusesCustomBatchResponse",
      "type": "object"
    },
    "OrdersAcknowledgeResponse": {
      "type": "object",
      "id": "OrdersAcknowledgeResponse",
      "properties": {
        "executionStatus": {
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" ",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersAcknowledgeResponse\"."
        }
      }
    },
    "PosCustomBatchResponseEntry": {
      "id": "PosCustomBatchResponseEntry",
      "properties": {
        "errors": {
          "description": "A list of errors defined if, and only if, the request failed.",
          "$ref": "Errors"
        },
        "store": {
          "description": "The retrieved or updated store information.",
          "$ref": "PosStore"
        },
        "sale": {
          "description": "The updated sale information.",
          "$ref": "PosSale"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#posCustomBatchResponseEntry`\""
        },
        "inventory": {
          "description": "The updated inventory information.",
          "$ref": "PosInventory"
        },
        "batchId": {
          "format": "uint32",
          "type": "integer",
          "description": "The ID of the request entry to which this entry responds."
        }
      },
      "type": "object"
    },
    "ShippingsettingsCustomBatchRequestEntry": {
      "type": "object",
      "description": "A batch entry encoding a single non-batch shippingsettings request.",
      "properties": {
        "merchantId": {
          "description": "The ID of the managing account.",
          "format": "uint64",
          "type": "string"
        },
        "shippingSettings": {
          "$ref": "ShippingSettings",
          "description": "The account shipping settings to update. Only defined if the method is `update`."
        },
        "method": {
          "description": "The method of the batch entry. Acceptable values are: - \"`get`\" - \"`update`\" ",
          "type": "string"
        },
        "batchId": {
          "format": "uint32",
          "type": "integer",
          "description": "An entry ID, unique within the batch request."
        },
        "accountId": {
          "format": "uint64",
          "description": "The ID of the account for which to get/update account shipping settings.",
          "type": "string"
        }
      },
      "id": "ShippingsettingsCustomBatchRequestEntry"
    },
    "OrdersReturnLineItemResponse": {
      "type": "object",
      "properties": {
        "executionStatus": {
          "type": "string",
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" "
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersReturnLineItemResponse\".",
          "type": "string"
        }
      },
      "id": "OrdersReturnLineItemResponse"
    },
    "ShippingsettingsGetSupportedCarriersResponse": {
      "properties": {
        "carriers": {
          "type": "array",
          "description": "A list of supported carriers. May be empty.",
          "items": {
            "$ref": "CarriersCarrier"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#shippingsettingsGetSupportedCarriersResponse\".",
          "type": "string"
        }
      },
      "id": "ShippingsettingsGetSupportedCarriersResponse",
      "type": "object"
    },
    "ProductsListResponse": {
      "properties": {
        "resources": {
          "items": {
            "$ref": "Product"
          },
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#productsListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for the retrieval of the next page of products."
        }
      },
      "id": "ProductsListResponse",
      "type": "object"
    },
    "OrderinvoicesCreateRefundInvoiceRequest": {
      "type": "object",
      "properties": {
        "operationId": {
          "description": "[required] The ID of the operation, unique across all operations for a given order.",
          "type": "string"
        },
        "invoiceId": {
          "description": "[required] The ID of the invoice.",
          "type": "string"
        },
        "refundOnlyOption": {
          "description": "Option to create a refund-only invoice. Exactly one of `refundOnlyOption` or `returnOption` must be provided.",
          "$ref": "OrderinvoicesCustomBatchRequestEntryCreateRefundInvoiceRefundOption"
        },
        "shipmentInvoices": {
          "items": {
            "$ref": "ShipmentInvoice"
          },
          "type": "array",
          "description": "Invoice details for different shipment groups."
        },
        "returnOption": {
          "description": "Option to create an invoice for a refund and mark all items within the invoice as returned. Exactly one of `refundOnlyOption` or `returnOption` must be provided.",
          "$ref": "OrderinvoicesCustomBatchRequestEntryCreateRefundInvoiceReturnOption"
        }
      },
      "id": "OrderinvoicesCreateRefundInvoiceRequest"
    },
    "DatafeedsCustomBatchResponseEntry": {
      "id": "DatafeedsCustomBatchResponseEntry",
      "type": "object",
      "description": "A batch entry encoding a single non-batch datafeeds response.",
      "properties": {
        "batchId": {
          "type": "integer",
          "description": "The ID of the request entry this entry responds to.",
          "format": "uint32"
        },
        "datafeed": {
          "$ref": "Datafeed",
          "description": "The requested data feed. Defined if and only if the request was successful."
        },
        "errors": {
          "description": "A list of errors defined if and only if the request failed.",
          "$ref": "Errors"
        }
      }
    },
    "ShipmentTrackingInfo": {
      "type": "object",
      "id": "ShipmentTrackingInfo",
      "properties": {
        "carrier": {
          "description": "The shipping carrier that handles the package. Acceptable values are: - \"`boxtal`\" - \"`bpost`\" - \"`chronopost`\" - \"`colisPrive`\" - \"`colissimo`\" - \"`cxt`\" - \"`deliv`\" - \"`dhl`\" - \"`dpd`\" - \"`dynamex`\" - \"`eCourier`\" - \"`easypost`\" - \"`efw`\" - \"`fedex`\" - \"`fedexSmartpost`\" - \"`geodis`\" - \"`gls`\" - \"`googleCourier`\" - \"`gsx`\" - \"`jdLogistics`\" - \"`laPoste`\" - \"`lasership`\" - \"`manual`\" - \"`mpx`\" - \"`onTrac`\" - \"`other`\" - \"`tnt`\" - \"`uds`\" - \"`ups`\" - \"`usps`\" ",
          "type": "string"
        },
        "trackingNumber": {
          "type": "string",
          "description": "The tracking number for the package."
        }
      }
    },
    "OrderLegacyPromotion": {
      "id": "OrderLegacyPromotion",
      "type": "object",
      "properties": {
        "benefits": {
          "items": {
            "$ref": "OrderLegacyPromotionBenefit"
          },
          "type": "array"
        },
        "productApplicability": {
          "description": "Whether the promotion is applicable to all products or only specific products. Acceptable values are: - \"`allProducts`\" - \"`specificProducts`\" ",
          "type": "string"
        },
        "longTitle": {
          "type": "string",
          "description": "The full title of the promotion."
        },
        "redemptionChannel": {
          "description": "Indicates that the promotion is valid online. Acceptable values are: - \"`online`\" ",
          "type": "string"
        },
        "id": {
          "description": "The unique ID of the promotion.",
          "type": "string"
        },
        "genericRedemptionCode": {
          "type": "string",
          "description": "Optional. The text code that corresponds to the promotion when applied on the retailer?s website."
        },
        "effectiveDates": {
          "type": "string",
          "description": "The date and time frame when the promotion is active and ready for validation review. Note that the promotion live time may be delayed for a few hours due to the validation review. Start date and end date are separated by a forward slash (/). The start date is specified by the format (YYYY-MM-DD), followed by the letter ?T?, the time of the day when the sale starts (in Greenwich Mean Time, GMT), followed by an expression of the time zone for the sale. The end date is in the same format."
        }
      }
    },
    "OrdersAdvanceTestOrderResponse": {
      "id": "OrdersAdvanceTestOrderResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersAdvanceTestOrderResponse\"."
        }
      },
      "type": "object"
    },
    "ProductstatusesListResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of products statuses.",
          "type": "string"
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "ProductStatus"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#productstatusesListResponse\"."
        }
      },
      "id": "ProductstatusesListResponse"
    },
    "OrdersRefundResponse": {
      "type": "object",
      "properties": {
        "executionStatus": {
          "type": "string",
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" "
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersRefundResponse\"."
        }
      },
      "id": "OrdersRefundResponse"
    },
    "AccountCustomerService": {
      "type": "object",
      "properties": {
        "email": {
          "description": "Customer service email.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Customer service phone number.",
          "type": "string"
        },
        "url": {
          "description": "Customer service URL.",
          "type": "string"
        }
      },
      "id": "AccountCustomerService"
    },
    "ProductstatusesCustomBatchResponseEntry": {
      "id": "ProductstatusesCustomBatchResponseEntry",
      "description": "A batch entry encoding a single non-batch productstatuses response.",
      "properties": {
        "errors": {
          "$ref": "Errors",
          "description": "A list of errors, if the request failed."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#productstatusesCustomBatchResponseEntry`\"",
          "type": "string"
        },
        "productStatus": {
          "description": "The requested product status. Only defined if the request was successful.",
          "$ref": "ProductStatus"
        },
        "batchId": {
          "type": "integer",
          "format": "uint32",
          "description": "The ID of the request entry this entry responds to."
        }
      },
      "type": "object"
    },
    "UnitInvoice": {
      "type": "object",
      "properties": {
        "additionalCharges": {
          "description": "Additional charges for a unit, e.g. shipping costs.",
          "type": "array",
          "items": {
            "$ref": "UnitInvoiceAdditionalCharge"
          }
        },
        "unitPricePretax": {
          "description": "[required] Price of the unit, before applying taxes.",
          "$ref": "Price"
        },
        "promotions": {
          "description": "Deprecated.",
          "items": {
            "$ref": "Promotion"
          },
          "type": "array"
        },
        "unitPriceTaxes": {
          "description": "Tax amounts to apply to the unit price.",
          "items": {
            "$ref": "UnitInvoiceTaxLine"
          },
          "type": "array"
        }
      },
      "id": "UnitInvoice"
    },
    "DatafeedTarget": {
      "type": "object",
      "properties": {
        "country": {
          "description": "The country where the items in the feed will be included in the search index, represented as a CLDR territory code.",
          "type": "string"
        },
        "includedDestinations": {
          "description": "The list of destinations to include for this target (corresponds to checked check boxes in Merchant Center). Default destinations are always included unless provided in `excludedDestinations`. List of supported destinations (if available to the account): - DisplayAds - Shopping - ShoppingActions - SurfacesAcrossGoogle ",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "language": {
          "type": "string",
          "description": "The two-letter ISO 639-1 language of the items in the feed. Must be a valid language for `targets[].country`."
        },
        "excludedDestinations": {
          "type": "array",
          "description": "The list of destinations to exclude for this target (corresponds to unchecked check boxes in Merchant Center).",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "DatafeedTarget"
    },
    "OrderShipmentLineItemShipment": {
      "properties": {
        "productId": {
          "description": "The ID of the product to ship. This is the REST ID used in the products service. Either lineItemId or productId is required.",
          "type": "string"
        },
        "quantity": {
          "type": "integer",
          "format": "uint32",
          "description": "The quantity that is shipped."
        },
        "lineItemId": {
          "type": "string",
          "description": "The ID of the line item that is shipped. This value is assigned by Google when an order is created. Either lineItemId or productId is required."
        }
      },
      "type": "object",
      "id": "OrderShipmentLineItemShipment"
    },
    "LiaAboutPageSettings": {
      "type": "object",
      "id": "LiaAboutPageSettings",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL for the About page."
        },
        "status": {
          "type": "string",
          "description": "The status of the verification process for the About page. Acceptable values are: - \"`active`\" - \"`inactive`\" - \"`pending`\" "
        }
      }
    },
    "OrdersCustomBatchRequestEntry": {
      "type": "object",
      "properties": {
        "setLineItemMetadata": {
          "description": "Required for `setLineItemMetadata` method.",
          "$ref": "OrdersCustomBatchRequestEntrySetLineItemMetadata"
        },
        "merchantId": {
          "format": "uint64",
          "type": "string",
          "description": "The ID of the managing account."
        },
        "orderId": {
          "type": "string",
          "description": "The ID of the order. Required for all methods beside `getByMerchantOrderId`."
        },
        "inStoreRefundLineItem": {
          "description": "Required for `inStoreReturnLineItem` method.",
          "$ref": "OrdersCustomBatchRequestEntryInStoreRefundLineItem"
        },
        "method": {
          "description": "The method of the batch entry. Acceptable values are: - \"`acknowledge`\" - \"`cancel`\" - \"`cancelLineItem`\" - \"`get`\" - \"`getByMerchantOrderId`\" - \"`inStoreRefundLineItem`\" - \"`refund`\" - \"`rejectReturnLineItem`\" - \"`returnLineItem`\" - \"`returnRefundLineItem`\" - \"`setLineItemMetadata`\" - \"`shipLineItems`\" - \"`updateLineItemShippingDetails`\" - \"`updateMerchantOrderId`\" - \"`updateShipment`\" ",
          "type": "string"
        },
        "cancel": {
          "description": "Required for `cancel` method.",
          "$ref": "OrdersCustomBatchRequestEntryCancel"
        },
        "refund": {
          "description": "Required for `refund` method.",
          "$ref": "OrdersCustomBatchRequestEntryRefund"
        },
        "rejectReturnLineItem": {
          "$ref": "OrdersCustomBatchRequestEntryRejectReturnLineItem",
          "description": "Required for `rejectReturnLineItem` method."
        },
        "returnRefundLineItem": {
          "$ref": "OrdersCustomBatchRequestEntryReturnRefundLineItem",
          "description": "Required for `returnRefundLineItem` method."
        },
        "updateShipment": {
          "description": "Required for `updateShipment` method.",
          "$ref": "OrdersCustomBatchRequestEntryUpdateShipment"
        },
        "operationId": {
          "type": "string",
          "description": "The ID of the operation. Unique across all operations for a given order. Required for all methods beside `get` and `getByMerchantOrderId`."
        },
        "returnLineItem": {
          "description": "Required for `returnLineItem` method.",
          "$ref": "OrdersCustomBatchRequestEntryReturnLineItem"
        },
        "updateLineItemShippingDetails": {
          "description": "Required for `updateLineItemShippingDate` method.",
          "$ref": "OrdersCustomBatchRequestEntryUpdateLineItemShippingDetails"
        },
        "merchantOrderId": {
[...]
