{
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    }
  },
  "documentationLink": "https://cloud.google.com/container-engine/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "discoveryVersion": "v1",
  "id": "container:v1beta1",
  "servicePath": "",
  "resources": {
    "projects": {
      "resources": {
        "zones": {
          "methods": {
            "getServerconfig": {
              "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/serverconfig",
              "path": "v1beta1/projects/{projectId}/zones/{zone}/serverconfig",
              "response": {
                "$ref": "ServerConfig"
              },
              "id": "container.projects.zones.getServerconfig",
              "parameters": {
                "zone": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) to return operations for. This field has been deprecated and replaced by the name field."
                },
                "name": {
                  "type": "string",
                  "location": "query",
                  "description": "The name (project and location) of the server config to get, specified in the format `projects/*/locations/*`."
                },
                "projectId": {
                  "required": true,
                  "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Returns configuration info about the Google Kubernetes Engine service.",
              "parameterOrder": [
                "projectId",
                "zone"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            }
          },
          "resources": {
            "clusters": {
              "methods": {
                "get": {
                  "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                  "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                  "httpMethod": "GET",
                  "description": "Gets the details for a specific cluster.",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "zone": {
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "name": {
                      "location": "query",
                      "type": "string",
                      "description": "The name (project, location, cluster) of the cluster to retrieve. Specified in the format `projects/*/locations/*/clusters/*`."
                    },
                    "projectId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field."
                    },
                    "clusterId": {
                      "type": "string",
                      "description": "Required. Deprecated. The name of the cluster to retrieve. This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Cluster"
                  },
                  "id": "container.projects.zones.clusters.get"
                },
                "legacyAbac": {
                  "request": {
                    "$ref": "SetLegacyAbacRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/legacyAbac",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "id": "container.projects.zones.clusters.legacyAbac",
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/legacyAbac",
                  "description": "Enables or disables the ABAC authorization mechanism on a cluster.",
                  "parameters": {
                    "zone": {
                      "required": true,
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "type": "string"
                    },
                    "clusterId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field."
                    },
                    "projectId": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
                      "required": true
                    }
                  }
                },
                "monitoring": {
                  "id": "container.projects.zones.clusters.monitoring",
                  "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/monitoring",
                  "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/monitoring",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "SetMonitoringServiceRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Sets the monitoring service for a specific cluster.",
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
                      "type": "string"
                    },
                    "zone": {
                      "type": "string",
                      "required": true,
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "location": "path"
                    },
                    "clusterId": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ]
                },
                "logging": {
                  "description": "Sets the logging service for a specific cluster.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/logging",
                  "request": {
                    "$ref": "SetLoggingServiceRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/logging",
                  "parameters": {
                    "clusterId": {
                      "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "zone": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                    },
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field."
                    }
                  },
                  "httpMethod": "POST",
                  "id": "container.projects.zones.clusters.logging"
                },
                "setMaintenancePolicy": {
                  "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setMaintenancePolicy",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setMaintenancePolicy",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "SetMaintenancePolicyRequest"
                  },
                  "id": "container.projects.zones.clusters.setMaintenancePolicy",
                  "description": "Sets the maintenance policy for a cluster.",
                  "parameters": {
                    "zone": {
                      "required": true,
                      "description": "Required. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides.",
                      "type": "string",
                      "location": "path"
                    },
                    "projectId": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects).",
                      "required": true
                    },
                    "clusterId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the cluster to update."
                    }
                  }
                },
                "create": {
                  "request": {
                    "$ref": "CreateClusterRequest"
                  },
                  "description": "Creates a cluster, consisting of the specified number and type of Google Compute Engine instances. By default, the cluster is created in the project's [default network](https://cloud.google.com/compute/docs/networks-and-firewalls#networks). One firewall is added for the cluster. After cluster creation, the Kubelet creates routes for each node to allow the containers on that node to communicate with all other instances in the cluster. Finally, an entry is added to the project's global metadata indicating which CIDR range the cluster is using.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "container.projects.zones.clusters.create",
                  "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters",
                  "parameterOrder": [
                    "projectId",
                    "zone"
                  ],
                  "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters",
                  "httpMethod": "POST",
                  "parameters": {
                    "zone": {
                      "type": "string",
                      "required": true,
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the parent field.",
                      "location": "path"
                    },
                    "projectId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the parent field."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "list": {
                  "id": "container.projects.zones.clusters.list",
                  "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters",
                  "response": {
                    "$ref": "ListClustersResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters",
                  "description": "Lists all clusters owned by a project in either the specified zone or all zones.",
                  "parameters": {
                    "zone": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides, or \"-\" for all zones. This field has been deprecated and replaced by the parent field."
                    },
                    "parent": {
                      "type": "string",
                      "location": "query",
                      "description": "The parent (project and location) where the clusters will be listed. Specified in the format `projects/*/locations/*`. Location \"-\" matches all zones and all regions."
                    },
                    "projectId": {
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the parent field.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "projectId",
                    "zone"
                  ]
                },
                "locations": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/locations",
                  "parameters": {
                    "clusterId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
                    },
                    "zone": {
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "projectId": {
                      "type": "string",
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "container.projects.zones.clusters.locations",
                  "deprecated": true,
                  "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/locations",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SetLocationsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Sets the locations for a specific cluster. Deprecated. Use [projects.locations.clusters.update](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1beta1/projects.locations.clusters/update) instead.",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ]
                },
                "update": {
                  "description": "Updates the settings for a specific cluster.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "container.projects.zones.clusters.update",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "httpMethod": "PUT",
                  "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                  "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                  "parameters": {
                    "zone": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "required": true
                    },
                    "projectId": {
                      "type": "string",
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "required": true
                    },
                    "clusterId": {
                      "location": "path",
                      "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "UpdateClusterRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "completeIpRotation": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CompleteIPRotationRequest"
                  },
                  "description": "Completes master IP rotation.",
                  "id": "container.projects.zones.clusters.completeIpRotation",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "projectId": {
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "clusterId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field."
                    },
                    "zone": {
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:completeIpRotation",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:completeIpRotation"
                },
                "setNetworkPolicy": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Enables or disables Network Policy for a cluster.",
                  "id": "container.projects.zones.clusters.setNetworkPolicy",
                  "request": {
                    "$ref": "SetNetworkPolicyRequest"
                  },
                  "parameters": {
                    "zone": {
                      "location": "path",
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "type": "string"
                    },
                    "projectId": {
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "clusterId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field."
                    }
                  },
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setNetworkPolicy",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setNetworkPolicy"
                },
                "startIpRotation": {
                  "description": "Starts master IP rotation.",
                  "request": {
                    "$ref": "StartIPRotationRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "container.projects.zones.clusters.startIpRotation",
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "required": true
                    },
                    "zone": {
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "clusterId": {
                      "type": "string",
                      "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:startIpRotation",
                  "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:startIpRotation",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "delete": {
                  "id": "container.projects.zones.clusters.delete",
                  "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "parameters": {
                    "clusterId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. Deprecated. The name of the cluster to delete. This field has been deprecated and replaced by the name field."
                    },
                    "projectId": {
                      "location": "path",
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "type": "string"
                    },
                    "zone": {
                      "required": true,
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name (project, location, cluster) of the cluster to delete. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "location": "query"
                    }
                  },
                  "description": "Deletes the cluster, including the Kubernetes endpoint and all worker nodes. Firewalls and routes that were configured during cluster creation are also deleted. Other Google Compute Engine resources that might be in use by the cluster, such as load balancer resources, are not deleted if they weren't present when the cluster was initially created.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}"
                },
                "master": {
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "request": {
                    "$ref": "UpdateMasterRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "container.projects.zones.clusters.master",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "clusterId": {
                      "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "projectId": {
                      "location": "path",
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "type": "string"
                    },
                    "zone": {
                      "type": "string",
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "Updates the master for a specific cluster.",
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/master",
                  "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/master"
                },
                "setMasterAuth": {
                  "parameters": {
                    "zone": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field."
                    },
                    "clusterId": {
                      "type": "string",
                      "required": true,
                      "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Sets master auth materials. Currently supports changing the admin password or a specific cluster, either via password generation or explicitly setting the password.",
                  "request": {
                    "$ref": "SetMasterAuthRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setMasterAuth",
                  "id": "container.projects.zones.clusters.setMasterAuth",
                  "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setMasterAuth"
                },
                "resourceLabels": {
                  "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/resourceLabels",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Sets labels on a cluster.",
                  "id": "container.projects.zones.clusters.resourceLabels",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/resourceLabels",
                  "request": {
                    "$ref": "SetLabelsRequest"
                  },
                  "parameters": {
                    "zone": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                    },
                    "projectId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field."
                    },
                    "clusterId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "addons": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "zone": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "required": true
                    },
                    "clusterId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
                    },
                    "projectId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field."
                    }
                  },
                  "description": "Sets the addons for a specific cluster.",
                  "httpMethod": "POST",
                  "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/addons",
                  "request": {
                    "$ref": "SetAddonsConfigRequest"
                  },
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "id": "container.projects.zones.clusters.addons",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/addons"
                }
              },
              "resources": {
                "nodePools": {
                  "methods": {
                    "setManagement": {
                      "description": "Sets the NodeManagement options for a node pool.",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/setManagement",
                      "parameters": {
                        "zone": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                        },
                        "nodePoolId": {
                          "required": true,
                          "description": "Required. Deprecated. The name of the node pool to update. This field has been deprecated and replaced by the name field.",
                          "type": "string",
                          "location": "path"
                        },
                        "projectId": {
                          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "clusterId": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field.",
                          "required": true
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/setManagement",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "container.projects.zones.clusters.nodePools.setManagement",
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "request": {
                        "$ref": "SetNodePoolManagementRequest"
                      }
                    },
                    "update": {
                      "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/update",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/update",
                      "parameters": {
                        "nodePoolId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. Deprecated. The name of the node pool to upgrade. This field has been deprecated and replaced by the name field."
                        },
                        "clusterId": {
                          "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "zone": {
                          "type": "string",
                          "required": true,
                          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                          "location": "path"
                        },
                        "projectId": {
                          "location": "path",
                          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "UpdateNodePoolRequest"
                      },
                      "description": "Updates the version and/or image type of a specific node pool.",
                      "id": "container.projects.zones.clusters.nodePools.update",
                      "httpMethod": "POST"
                    },
                    "delete": {
                      "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}",
                      "httpMethod": "DELETE",
                      "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}",
                      "description": "Deletes a node pool from a cluster.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "query",
                          "description": "The name (project, location, cluster, node pool id) of the node pool to delete. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
                          "type": "string"
                        },
                        "zone": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                        },
                        "clusterId": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
                          "required": true
                        },
                        "nodePoolId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. Deprecated. The name of the node pool to delete. This field has been deprecated and replaced by the name field."
                        },
                        "projectId": {
                          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "id": "container.projects.zones.clusters.nodePools.delete",
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "list": {
                      "parameters": {
                        "clusterId": {
                          "type": "string",
                          "required": true,
                          "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the parent field.",
                          "location": "path"
                        },
                        "parent": {
                          "location": "query",
                          "type": "string",
                          "description": "The parent (project, location, cluster name) where the node pools will be listed. Specified in the format `projects/*/locations/*/clusters/*`."
                        },
                        "projectId": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the parent field.",
                          "required": true
                        },
                        "zone": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the parent field.",
                          "required": true
                        }
                      },
                      "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools",
                      "id": "container.projects.zones.clusters.nodePools.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools",
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListNodePoolsResponse"
                      },
                      "description": "Lists the node pools for a cluster."
                    },
                    "create": {
                      "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools",
                      "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools",
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "zone": {
                          "type": "string",
                          "required": true,
                          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the parent field.",
                          "location": "path"
                        },
                        "clusterId": {
                          "type": "string",
                          "required": true,
                          "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the parent field.",
                          "location": "path"
                        },
                        "projectId": {
                          "type": "string",
                          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the parent field.",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId"
                      ],
                      "description": "Creates a node pool for a cluster.",
                      "id": "container.projects.zones.clusters.nodePools.create",
                      "request": {
                        "$ref": "CreateNodePoolRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "autoscaling": {
                      "httpMethod": "POST",
                      "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/autoscaling",
                      "description": "Sets the autoscaling settings of a specific node pool.",
                      "id": "container.projects.zones.clusters.nodePools.autoscaling",
                      "request": {
                        "$ref": "SetNodePoolAutoscalingRequest"
                      },
                      "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/autoscaling",
                      "parameters": {
                        "zone": {
                          "location": "path",
                          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                          "required": true,
                          "type": "string"
                        },
                        "clusterId": {
                          "type": "string",
                          "required": true,
                          "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
                          "location": "path"
                        },
                        "nodePoolId": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. Deprecated. The name of the node pool to upgrade. This field has been deprecated and replaced by the name field."
                        },
                        "projectId": {
                          "location": "path",
                          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "setSize": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/setSize",
                      "request": {
                        "$ref": "SetNodePoolSizeRequest"
                      },
                      "parameters": {
                        "zone": {
                          "location": "path",
                          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                          "type": "string",
                          "required": true
                        },
                        "projectId": {
                          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "clusterId": {
                          "location": "path",
                          "required": true,
                          "description": "Required. Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field.",
                          "type": "string"
                        },
                        "nodePoolId": {
                          "required": true,
                          "type": "string",
                          "description": "Required. Deprecated. The name of the node pool to update. This field has been deprecated and replaced by the name field.",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/setSize",
                      "description": "SetNodePoolSizeRequest sets the size of a node pool. The new size will be used for all replicas, including future replicas created by modifying NodePool.locations.",
                      "httpMethod": "POST",
                      "id": "container.projects.zones.clusters.nodePools.setSize",
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ]
                    },
                    "rollback": {
                      "parameters": {
                        "zone": {
                          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "clusterId": {
                          "type": "string",
                          "required": true,
                          "description": "Required. Deprecated. The name of the cluster to rollback. This field has been deprecated and replaced by the name field.",
                          "location": "path"
                        },
                        "nodePoolId": {
                          "description": "Required. Deprecated. The name of the node pool to rollback. This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "projectId": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Rolls back a previously Aborted or Failed NodePool upgrade. This makes no changes if the last upgrade successfully completed.",
                      "request": {
                        "$ref": "RollbackNodePoolUpgradeRequest"
                      },
                      "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}:rollback",
                      "id": "container.projects.zones.clusters.nodePools.rollback",
                      "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}:rollback",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ]
                    },
                    "get": {
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}",
                      "description": "Retrieves the requested node pool.",
                      "response": {
                        "$ref": "NodePool"
                      },
                      "id": "container.projects.zones.clusters.nodePools.get",
                      "parameters": {
                        "clusterId": {
                          "required": true,
                          "type": "string",
                          "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
                          "location": "path"
                        },
                        "zone": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                        },
                        "projectId": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
                          "required": true
                        },
                        "nodePoolId": {
                          "type": "string",
                          "description": "Required. Deprecated. The name of the node pool. This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "required": true
                        },
                        "name": {
                          "description": "The name (project, location, cluster, node pool id) of the node pool to get. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}",
                      "httpMethod": "GET"
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "cancel": {
                  "parameters": {
                    "zone": {
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the operation resides. This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "operationId": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. Deprecated. The server-assigned `name` of the operation. This field has been deprecated and replaced by the name field.",
                      "required": true
                    },
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
                      "location": "path"
                    }
                  },
                  "description": "Cancels the specified operation.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "id": "container.projects.zones.operations.cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "operationId"
                  ],
                  "path": "v1beta1/projects/{projectId}/zones/{zone}/operations/{operationId}:cancel",
                  "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/operations/{operationId}:cancel"
                },
                "get": {
                  "description": "Gets the specified operation.",
                  "parameters": {
                    "zone": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "required": true
                    },
                    "operationId": {
                      "required": true,
                      "description": "Required. Deprecated. The server-assigned `name` of the operation. This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "location": "path"
                    },
                    "projectId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field."
                    },
                    "name": {
                      "type": "string",
                      "description": "The name (project, location, operation id) of the operation to get. Specified in the format `projects/*/locations/*/operations/*`.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/operations/{operationId}",
                  "id": "container.projects.zones.operations.get",
                  "path": "v1beta1/projects/{projectId}/zones/{zone}/operations/{operationId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "operationId"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "parameters": {
                    "zone": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) to return operations for, or `-` for all zones. This field has been deprecated and replaced by the parent field."
                    },
                    "parent": {
                      "type": "string",
                      "location": "query",
                      "description": "The parent (project and location) where the operations will be listed. Specified in the format `projects/*/locations/*`. Location \"-\" matches all zones and all regions."
                    },
                    "projectId": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the parent field.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "projectId",
                    "zone"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists all operations in a project in the specified zone or all zones.",
                  "path": "v1beta1/projects/{projectId}/zones/{zone}/operations",
                  "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/operations",
                  "id": "container.projects.zones.operations.list",
                  "httpMethod": "GET"
                }
              }
            }
          }
        },
        "locations": {
          "methods": {
            "getServerConfig": {
              "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/serverConfig",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The name (project and location) of the server config to get, specified in the format `projects/*/locations/*`.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "zone": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) to return operations for. This field has been deprecated and replaced by the name field."
                },
                "projectId": {
                  "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Returns configuration info about the Google Kubernetes Engine service.",
              "path": "v1beta1/{+name}/serverConfig",
              "response": {
                "$ref": "ServerConfig"
              },
              "id": "container.projects.locations.getServerConfig",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "path": "v1beta1/{+parent}/locations",
              "description": "Fetches locations that offer Google Kubernetes Engine.",
              "id": "container.projects.locations.list",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Contains the name of the resource requested. Specified in the format `projects/*`.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET"
            }
          },
          "resources": {
            "clusters": {
              "methods": {
                "setResourceLabels": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name (project, location, cluster name) of the cluster to set labels. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1beta1/{+name}:setResourceLabels",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setResourceLabels",
                  "id": "container.projects.locations.clusters.setResourceLabels",
                  "description": "Sets labels on a cluster.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SetLabelsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "container.projects.locations.clusters.delete",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes the cluster, including the Kubernetes endpoint and all worker nodes. Firewalls and routes that were configured during cluster creation are also deleted. Other Google Compute Engine resources that might be in use by the cluster, such as load balancer resources, are not deleted if they weren't present when the cluster was initially created.",
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "clusterId": {
                      "type": "string",
                      "description": "Required. Deprecated. The name of the cluster to delete. This field has been deprecated and replaced by the name field.",
                      "location": "query"
                    },
                    "projectId": {
                      "type": "string",
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
                      "location": "query"
                    },
                    "zone": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string",
                      "description": "The name (project, location, cluster) of the cluster to delete. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "location": "path"
                    }
                  }
                },
                "setMaintenancePolicy": {
                  "description": "Sets the maintenance policy for a cluster.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setMaintenancePolicy",
                  "id": "container.projects.locations.clusters.setMaintenancePolicy",
                  "path": "v1beta1/{+name}:setMaintenancePolicy",
                  "request": {
                    "$ref": "SetMaintenancePolicyRequest"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path",
                      "description": "The name (project, location, cluster name) of the cluster to set maintenance policy. Specified in the format `projects/*/locations/*/clusters/*`."
                    }
                  }
                },
                "updateMaster": {
                  "path": "v1beta1/{+name}:updateMaster",
                  "description": "Updates the master for a specific cluster.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:updateMaster",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster) of the cluster to update. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "UpdateMasterRequest"
                  },
                  "id": "container.projects.locations.clusters.updateMaster"
                },
                "get": {
                  "id": "container.projects.locations.clusters.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+name}",
                  "description": "Gets the details for a specific cluster.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "zone": {
                      "location": "query",
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "type": "string"
                    },
                    "name": {
                      "description": "The name (project, location, cluster) of the cluster to retrieve. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                    },
                    "projectId": {
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
                      "location": "query",
                      "type": "string"
                    },
                    "clusterId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. Deprecated. The name of the cluster to retrieve. This field has been deprecated and replaced by the name field."
                    }
                  },
                  "response": {
                    "$ref": "Cluster"
                  }
                },
                "setLocations": {
                  "request": {
                    "$ref": "SetLocationsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Sets the locations for a specific cluster. Deprecated. Use [projects.locations.clusters.update](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1beta1/projects.locations.clusters/update) instead.",
                  "deprecated": true,
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setLocations",
                  "path": "v1beta1/{+name}:setLocations",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "description": "The name (project, location, cluster) of the cluster to set locations. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "container.projects.locations.clusters.setLocations",
                  "httpMethod": "POST"
                },
                "setAddons": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "The name (project, location, cluster) of the cluster to set addons. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                    }
                  },
                  "path": "v1beta1/{+name}:setAddons",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "container.projects.locations.clusters.setAddons",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setAddons",
                  "request": {
                    "$ref": "SetAddonsConfigRequest"
                  },
                  "description": "Sets the addons for a specific cluster."
                },
                "setLogging": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Sets the logging service for a specific cluster.",
                  "id": "container.projects.locations.clusters.setLogging",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setLogging",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+name}:setLogging",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SetLoggingServiceRequest"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "description": "The name (project, location, cluster) of the cluster to set logging. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists all clusters owned by a project in either the specified zone or all zones.",
                  "path": "v1beta1/{+parent}/clusters",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "The parent (project and location) where the clusters will be listed. Specified in the format `projects/*/locations/*`. Location \"-\" matches all zones and all regions."
                    },
                    "projectId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the parent field."
                    },
                    "zone": {
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides, or \"-\" for all zones. This field has been deprecated and replaced by the parent field.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "id": "container.projects.locations.clusters.list",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListClustersResponse"
                  }
                },
                "completeIpRotation": {
                  "id": "container.projects.locations.clusters.completeIpRotation",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string",
                      "description": "The name (project, location, cluster name) of the cluster to complete IP rotation. Specified in the format `projects/*/locations/*/clusters/*`."
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CompleteIPRotationRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Completes master IP rotation.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:completeIpRotation",
                  "path": "v1beta1/{+name}:completeIpRotation"
                },
                "getJwks": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/jwks",
                  "description": "Gets the public component of the cluster signing keys in JSON Web Key format. This API is not yet intended for general use, and is not available for all clusters.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/jwks",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "The cluster (project, location, cluster name) to get keys for. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "required": true
                    }
                  },
                  "id": "container.projects.locations.clusters.getJwks",
                  "response": {
                    "$ref": "GetJSONWebKeysResponse"
                  },
                  "httpMethod": "GET"
                },
                "create": {
                  "description": "Creates a cluster, consisting of the specified number and type of Google Compute Engine instances. By default, the cluster is created in the project's [default network](https://cloud.google.com/compute/docs/networks-and-firewalls#networks). One firewall is added for the cluster. After cluster creation, the Kubelet creates routes for each node to allow the containers on that node to communicate with all other instances in the cluster. Finally, an entry is added to the project's global metadata indicating which CIDR range the cluster is using.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "path": "v1beta1/{+parent}/clusters",
                  "id": "container.projects.locations.clusters.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "The parent (project and location) where the cluster will be created. Specified in the format `projects/*/locations/*`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "CreateClusterRequest"
                  }
                },
                "setMasterAuth": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name (project, location, cluster) of the cluster to set auth. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "Sets master auth materials. Currently supports changing the admin password or a specific cluster, either via password generation or explicitly setting the password.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "SetMasterAuthRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setMasterAuth",
                  "httpMethod": "POST",
                  "path": "v1beta1/{+name}:setMasterAuth",
                  "id": "container.projects.locations.clusters.setMasterAuth"
                },
                "setMonitoring": {
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "description": "The name (project, location, cluster) of the cluster to set monitoring. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setMonitoring",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Sets the monitoring service for a specific cluster.",
                  "request": {
                    "$ref": "SetMonitoringServiceRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "container.projects.locations.clusters.setMonitoring",
                  "path": "v1beta1/{+name}:setMonitoring"
                },
                "startIpRotation": {
                  "path": "v1beta1/{+name}:startIpRotation",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:startIpRotation",
                  "request": {
                    "$ref": "StartIPRotationRequest"
                  },
[...]
