{
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "name": "container",
  "canonicalName": "Container",
  "revision": "20201007",
  "title": "Kubernetes Engine API",
  "rootUrl": "https://container.googleapis.com/",
  "documentationLink": "https://cloud.google.com/container-engine/",
  "description": "Builds and manages container-based applications, powered by the open source Kubernetes technology.",
  "mtlsRootUrl": "https://container.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "baseUrl": "https://container.googleapis.com/",
  "version": "v1",
  "protocol": "rest",
  "servicePath": "",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "resources": {
    "projects": {
      "resources": {
        "zones": {
          "resources": {
            "clusters": {
              "resources": {
                "nodePools": {
                  "methods": {
                    "delete": {
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "projectId": {
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "zone": {
                          "required": true,
                          "location": "path",
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                          "type": "string"
                        },
                        "clusterId": {
                          "location": "path",
                          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
                          "type": "string",
                          "required": true
                        },
                        "name": {
                          "description": "The name (project, location, cluster, node pool id) of the node pool to delete. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
                          "location": "query",
                          "type": "string"
                        },
                        "nodePoolId": {
                          "description": "Deprecated. The name of the node pool to delete. This field has been deprecated and replaced by the name field.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "id": "container.projects.zones.clusters.nodePools.delete",
                      "description": "Deletes a node pool from a cluster.",
                      "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}",
                      "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}"
                    },
                    "rollback": {
                      "id": "container.projects.zones.clusters.nodePools.rollback",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}:rollback",
                      "parameters": {
                        "zone": {
                          "required": true,
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                          "type": "string",
                          "location": "path"
                        },
                        "clusterId": {
                          "description": "Deprecated. The name of the cluster to rollback. This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "nodePoolId": {
                          "location": "path",
                          "description": "Deprecated. The name of the node pool to rollback. This field has been deprecated and replaced by the name field.",
                          "type": "string",
                          "required": true
                        },
                        "projectId": {
                          "type": "string",
                          "required": true,
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                          "location": "path"
                        }
                      },
                      "description": "Rolls back a previously Aborted or Failed NodePool upgrade. This makes no changes if the last upgrade successfully completed.",
                      "request": {
                        "$ref": "RollbackNodePoolUpgradeRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}:rollback"
                    },
                    "create": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "CreateNodePoolRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "projectId": {
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the parent field.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "clusterId": {
                          "location": "path",
                          "required": true,
                          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the parent field.",
                          "type": "string"
                        },
                        "zone": {
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the parent field.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId"
                      ],
                      "id": "container.projects.zones.clusters.nodePools.create",
                      "description": "Creates a node pool for a cluster.",
                      "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools",
                      "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools"
                    },
                    "setSize": {
                      "request": {
                        "$ref": "SetNodePoolSizeRequest"
                      },
                      "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/setSize",
                      "httpMethod": "POST",
                      "parameters": {
                        "projectId": {
                          "location": "path",
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                          "type": "string",
                          "required": true
                        },
                        "zone": {
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "nodePoolId": {
                          "type": "string",
                          "description": "Deprecated. The name of the node pool to update. This field has been deprecated and replaced by the name field.",
                          "required": true,
                          "location": "path"
                        },
                        "clusterId": {
                          "location": "path",
                          "required": true,
                          "description": "Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field.",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Sets the size for a specific node pool.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/setSize",
                      "id": "container.projects.zones.clusters.nodePools.setSize",
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ]
                    },
                    "update": {
                      "parameters": {
                        "zone": {
                          "type": "string",
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                          "required": true,
                          "location": "path"
                        },
                        "nodePoolId": {
                          "description": "Deprecated. The name of the node pool to upgrade. This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "clusterId": {
                          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "projectId": {
                          "type": "string",
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/update",
                      "httpMethod": "POST",
                      "id": "container.projects.zones.clusters.nodePools.update",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "UpdateNodePoolRequest"
                      },
                      "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/update",
                      "description": "Updates the version and/or image type for the specified node pool."
                    },
                    "autoscaling": {
                      "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/autoscaling",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "parameters": {
                        "clusterId": {
                          "type": "string",
                          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "required": true
                        },
                        "projectId": {
                          "required": true,
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "type": "string"
                        },
                        "zone": {
                          "location": "path",
                          "type": "string",
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                          "required": true
                        },
                        "nodePoolId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Deprecated. The name of the node pool to upgrade. This field has been deprecated and replaced by the name field."
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/autoscaling",
                      "request": {
                        "$ref": "SetNodePoolAutoscalingRequest"
                      },
                      "id": "container.projects.zones.clusters.nodePools.autoscaling",
                      "description": "Sets the autoscaling settings for the specified node pool."
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "location": "query",
                          "description": "The name (project, location, cluster, node pool id) of the node pool to get. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
                          "type": "string"
                        },
                        "projectId": {
                          "location": "path",
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field.",
                          "required": true,
                          "type": "string"
                        },
                        "clusterId": {
                          "location": "path",
                          "required": true,
                          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
                          "type": "string"
                        },
                        "zone": {
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "nodePoolId": {
                          "location": "path",
                          "type": "string",
                          "description": "Deprecated. The name of the node pool. This field has been deprecated and replaced by the name field.",
                          "required": true
                        }
                      },
                      "description": "Retrieves the requested node pool.",
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}",
                      "response": {
                        "$ref": "NodePool"
                      },
                      "httpMethod": "GET",
                      "id": "container.projects.zones.clusters.nodePools.get",
                      "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools",
                      "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools",
                      "response": {
                        "$ref": "ListNodePoolsResponse"
                      },
                      "description": "Lists the node pools for a cluster.",
                      "parameters": {
                        "zone": {
                          "required": true,
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the parent field.",
                          "location": "path",
                          "type": "string"
                        },
                        "projectId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the parent field."
                        },
                        "clusterId": {
                          "type": "string",
                          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the parent field.",
                          "location": "path",
                          "required": true
                        },
                        "parent": {
                          "type": "string",
                          "location": "query",
                          "description": "The parent (project, location, cluster id) where the node pools will be listed. Specified in the format `projects/*/locations/*/clusters/*`."
                        }
                      },
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "id": "container.projects.zones.clusters.nodePools.list"
                    },
                    "setManagement": {
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "id": "container.projects.zones.clusters.nodePools.setManagement",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/setManagement",
                      "parameters": {
                        "nodePoolId": {
                          "location": "path",
                          "description": "Deprecated. The name of the node pool to update. This field has been deprecated and replaced by the name field.",
                          "required": true,
                          "type": "string"
                        },
                        "clusterId": {
                          "description": "Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "zone": {
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "projectId": {
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/setManagement",
                      "description": "Sets the NodeManagement options for a node pool.",
                      "request": {
                        "$ref": "SetNodePoolManagementRequest"
                      }
                    }
                  }
                }
              },
              "methods": {
                "setNetworkPolicy": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setNetworkPolicy",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "parameters": {
                    "clusterId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field."
                    },
                    "zone": {
                      "required": true,
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "location": "path"
                    },
                    "projectId": {
                      "type": "string",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Enables or disables Network Policy for a cluster.",
                  "request": {
                    "$ref": "SetNetworkPolicyRequest"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "container.projects.zones.clusters.setNetworkPolicy",
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setNetworkPolicy"
                },
                "setMasterAuth": {
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "container.projects.zones.clusters.setMasterAuth",
                  "httpMethod": "POST",
                  "description": "Sets master auth materials. Currently supports changing the admin password or a specific cluster, either via password generation or explicitly setting the password.",
                  "request": {
                    "$ref": "SetMasterAuthRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setMasterAuth",
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setMasterAuth",
                  "parameters": {
                    "projectId": {
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "zone": {
                      "required": true,
                      "type": "string",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "location": "path"
                    },
                    "clusterId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
                    }
                  }
                },
                "setMaintenancePolicy": {
                  "description": "Sets the maintenance policy for a cluster.",
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setMaintenancePolicy",
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setMaintenancePolicy",
                  "request": {
                    "$ref": "SetMaintenancePolicyRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "id": "container.projects.zones.clusters.setMaintenancePolicy",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "zone": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides."
                    },
                    "projectId": {
                      "type": "string",
                      "description": "Required. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840).",
                      "required": true,
                      "location": "path"
                    },
                    "clusterId": {
                      "description": "Required. The name of the cluster to update.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "POST"
                },
                "monitoring": {
                  "id": "container.projects.zones.clusters.monitoring",
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/monitoring",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "SetMonitoringServiceRequest"
                  },
                  "parameters": {
                    "clusterId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
                    },
                    "projectId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
                    },
                    "zone": {
                      "type": "string",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/monitoring",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "description": "Sets the monitoring service for a specific cluster."
                },
                "completeIpRotation": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:completeIpRotation",
                  "id": "container.projects.zones.clusters.completeIpRotation",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Completes master IP rotation.",
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "location": "path"
                    },
                    "clusterId": {
                      "required": true,
                      "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "location": "path"
                    },
                    "zone": {
                      "required": true,
                      "location": "path",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "CompleteIPRotationRequest"
                  },
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:completeIpRotation"
                },
                "legacyAbac": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "container.projects.zones.clusters.legacyAbac",
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/legacyAbac",
                  "request": {
                    "$ref": "SetLegacyAbacRequest"
                  },
                  "httpMethod": "POST",
                  "description": "Enables or disables the ABAC authorization mechanism on a cluster.",
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
                    },
                    "zone": {
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "clusterId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/legacyAbac",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ]
                },
                "get": {
                  "id": "container.projects.zones.clusters.get",
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets the details of a specific cluster.",
                  "response": {
                    "$ref": "Cluster"
                  },
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "parameters": {
                    "name": {
                      "location": "query",
                      "type": "string",
                      "description": "The name (project, location, cluster) of the cluster to retrieve. Specified in the format `projects/*/locations/*/clusters/*`."
                    },
                    "clusterId": {
                      "type": "string",
                      "description": "Deprecated. The name of the cluster to retrieve. This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "required": true
                    },
                    "zone": {
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "location": "path"
                    }
                  }
                },
                "update": {
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "id": "container.projects.zones.clusters.update",
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates the settings of a specific cluster.",
                  "request": {
                    "$ref": "UpdateClusterRequest"
                  },
                  "httpMethod": "PUT",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                  "parameters": {
                    "zone": {
                      "location": "path",
                      "required": true,
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "type": "string"
                    },
                    "clusterId": {
                      "required": true,
                      "location": "path",
                      "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
                      "type": "string"
                    },
                    "projectId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
                    }
                  }
                },
                "resourceLabels": {
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "id": "container.projects.zones.clusters.resourceLabels",
                  "httpMethod": "POST",
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "type": "string"
                    },
                    "zone": {
                      "location": "path",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "type": "string"
                    },
                    "clusterId": {
                      "location": "path",
                      "required": true,
                      "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "SetLabelsRequest"
                  },
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/resourceLabels",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/resourceLabels",
                  "description": "Sets labels on a cluster.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters",
                  "id": "container.projects.zones.clusters.list",
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "projectId",
                    "zone"
                  ],
                  "description": "Lists all clusters owned by a project in either the specified zone or all zones.",
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the parent field."
                    },
                    "zone": {
                      "required": true,
                      "type": "string",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides, or \"-\" for all zones. This field has been deprecated and replaced by the parent field.",
                      "location": "path"
                    },
                    "parent": {
                      "type": "string",
                      "location": "query",
                      "description": "The parent (project and location) where the clusters will be listed. Specified in the format `projects/*/locations/*`. Location \"-\" matches all zones and all regions."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListClustersResponse"
                  }
                },
                "locations": {
                  "httpMethod": "POST",
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/locations",
                  "id": "container.projects.zones.clusters.locations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Sets the locations for a specific cluster. Deprecated. Use [projects.locations.clusters.update](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters/update) instead.",
                  "request": {
                    "$ref": "SetLocationsRequest"
                  },
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/locations",
                  "parameters": {
                    "projectId": {
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "zone": {
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "clusterId": {
                      "type": "string",
                      "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ]
                },
                "logging": {
                  "request": {
                    "$ref": "SetLoggingServiceRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "container.projects.zones.clusters.logging",
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
                    },
                    "clusterId": {
                      "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "zone": {
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/logging",
                  "description": "Sets the logging service for a specific cluster.",
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/logging",
                  "httpMethod": "POST"
                },
                "addons": {
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "description": "Sets the addons for a specific cluster.",
                  "httpMethod": "POST",
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/addons",
                  "parameters": {
                    "clusterId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
                    },
                    "zone": {
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "projectId": {
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "container.projects.zones.clusters.addons",
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/addons",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "SetAddonsConfigRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "master": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "UpdateMasterRequest"
                  },
                  "description": "Updates the master for a specific cluster.",
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/master",
                  "id": "container.projects.zones.clusters.master",
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "required": true
                    },
                    "clusterId": {
                      "location": "path",
                      "type": "string",
                      "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
                      "required": true
                    },
                    "zone": {
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/master"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "location": "query",
                      "type": "string",
                      "description": "The name (project, location, cluster) of the cluster to delete. Specified in the format `projects/*/locations/*/clusters/*`."
                    },
                    "clusterId": {
                      "description": "Deprecated. The name of the cluster to delete. This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "location": "path"
                    },
                    "zone": {
                      "type": "string",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                  "httpMethod": "DELETE",
                  "id": "container.projects.zones.clusters.delete",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deletes the cluster, including the Kubernetes endpoint and all worker nodes. Firewalls and routes that were configured during cluster creation are also deleted. Other Google Compute Engine resources that might be in use by the cluster, such as load balancer resources, are not deleted if they weren't present when the cluster was initially created."
                },
                "startIpRotation": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "StartIPRotationRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "required": true
                    },
                    "zone": {
                      "required": true,
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "type": "string"
                    },
                    "clusterId": {
                      "type": "string",
                      "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:startIpRotation",
                  "id": "container.projects.zones.clusters.startIpRotation",
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:startIpRotation",
                  "description": "Starts master IP rotation."
                },
                "create": {
                  "description": "Creates a cluster, consisting of the specified number and type of Google Compute Engine instances. By default, the cluster is created in the project's [default network](https://cloud.google.com/compute/docs/networks-and-firewalls#networks). One firewall is added for the cluster. After cluster creation, the Kubelet creates routes for each node to allow the containers on that node to communicate with all other instances in the cluster. Finally, an entry is added to the project's global metadata indicating which CIDR range the cluster is using.",
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the parent field."
                    },
                    "zone": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the parent field."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters",
                  "parameterOrder": [
                    "projectId",
                    "zone"
                  ],
                  "request": {
                    "$ref": "CreateClusterRequest"
                  },
                  "id": "container.projects.zones.clusters.create",
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST"
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameters": {
                    "zone": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) to return operations for, or `-` for all zones. This field has been deprecated and replaced by the parent field."
                    },
                    "parent": {
                      "description": "The parent (project and location) where the operations will be listed. Specified in the format `projects/*/locations/*`. Location \"-\" matches all zones and all regions.",
                      "type": "string",
                      "location": "query"
                    },
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the parent field.",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/operations",
                  "id": "container.projects.zones.operations.list",
                  "description": "Lists all operations in a project in a specific zone or all zones.",
                  "path": "v1/projects/{projectId}/zones/{zone}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "projectId",
                    "zone"
                  ]
                },
                "cancel": {
                  "path": "v1/projects/{projectId}/zones/{zone}/operations/{operationId}:cancel",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/operations/{operationId}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Cancels the specified operation.",
                  "id": "container.projects.zones.operations.cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "parameters": {
                    "zone": {
                      "location": "path",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the operation resides. This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "required": true
                    },
                    "projectId": {
                      "location": "path",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "type": "string"
                    },
                    "operationId": {
                      "location": "path",
                      "required": true,
                      "description": "Deprecated. The server-assigned `name` of the operation. This field has been deprecated and replaced by the name field.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "operationId"
                  ]
                },
                "get": {
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/operations/{operationId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "operationId"
                  ],
                  "id": "container.projects.zones.operations.get",
                  "description": "Gets the specified operation.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/projects/{projectId}/zones/{zone}/operations/{operationId}",
                  "parameters": {
                    "name": {
                      "location": "query",
                      "type": "string",
                      "description": "The name (project, location, operation id) of the operation to get. Specified in the format `projects/*/locations/*/operations/*`."
                    },
                    "operationId": {
                      "required": true,
                      "description": "Deprecated. The server-assigned `name` of the operation. This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "location": "path"
                    },
                    "zone": {
                      "location": "path",
                      "type": "string",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "required": true
                    },
                    "projectId": {
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "getServerconfig": {
              "flatPath": "v1/projects/{projectId}/zones/{zone}/serverconfig",
              "parameters": {
                "name": {
                  "location": "query",
                  "description": "The name (project and location) of the server config to get, specified in the format `projects/*/locations/*`.",
                  "type": "string"
                },
                "zone": {
                  "type": "string",
                  "location": "path",
                  "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) to return operations for. This field has been deprecated and replaced by the name field.",
                  "required": true
                },
                "projectId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
                }
              },
              "description": "Returns configuration info about the Google Kubernetes Engine service.",
              "parameterOrder": [
                "projectId",
                "zone"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ServerConfig"
              },
              "id": "container.projects.zones.getServerconfig",
              "path": "v1/projects/{projectId}/zones/{zone}/serverconfig",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "aggregated": {
          "resources": {
            "usableSubnetworks": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists subnetworks that are usable for creating clusters in a project.",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/aggregated/usableSubnetworks",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "The parent project where subnetworks are usable. Specified in the format `projects/*`.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+$"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The max number of results per page that should be returned. If the number of available results is larger than `page_size`, a `next_page_token` is returned which can be used to get the next page of results in subsequent requests. Acceptable values are 0 to 500, inclusive. (Default: 500)",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Specifies a page token to use. Set this to the nextPageToken returned by previous list requests to get the next page of results.",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Filtering currently only supports equality on the networkProjectId and must be in the form: \"networkProjectId=[PROJECTID]\", where `networkProjectId` is the project which owns the listed subnetworks. This defaults to the parent project ID.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListUsableSubnetworksResponse"
                  },
                  "id": "container.projects.aggregated.usableSubnetworks.list",
                  "path": "v1/{+parent}/aggregated/usableSubnetworks"
                }
              }
            }
          }
        },
        "locations": {
          "methods": {
            "getServerConfig": {
              "httpMethod": "GET",
              "parameters": {
                "projectId": {
                  "type": "string",
                  "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                  "location": "query"
                },
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "description": "The name (project and location) of the server config to get, specified in the format `projects/*/locations/*`.",
                  "location": "path",
                  "type": "string"
                },
                "zone": {
                  "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) to return operations for. This field has been deprecated and replaced by the name field.",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Returns configuration info about the Google Kubernetes Engine service.",
              "id": "container.projects.locations.getServerConfig",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/serverConfig",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}/serverConfig",
              "response": {
                "$ref": "ServerConfig"
              },
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "cancel": {
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name (project, location, operation id) of the operation to cancel. Specified in the format `projects/*/locations/*/operations/*`.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Cancels the specified operation.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:cancel",
                  "id": "container.projects.locations.operations.cancel"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists all operations in a project in a specific zone or all zones.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "The parent (project and location) where the operations will be listed. Specified in the format `projects/*/locations/*`. Location \"-\" matches all zones and all regions."
                    },
                    "zone": {
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) to return operations for, or `-` for all zones. This field has been deprecated and replaced by the parent field.",
                      "location": "query",
                      "type": "string"
                    },
                    "projectId": {
                      "location": "query",
                      "type": "string",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the parent field."
                    }
                  },
                  "id": "container.projects.locations.operations.list",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "path": "v1/{+parent}/operations"
                },
                "get": {
                  "id": "container.projects.locations.operations.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "zone": {
                      "location": "query",
                      "type": "string",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name (project, location, operation id) of the operation to get. Specified in the format `projects/*/locations/*/operations/*`.",
                      "required": true
                    },
                    "projectId": {
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "location": "query"
                    },
                    "operationId": {
                      "type": "string",
                      "description": "Deprecated. The server-assigned `name` of the operation. This field has been deprecated and replaced by the name field.",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets the specified operation."
                }
              }
            },
            "clusters": {
              "methods": {
                "setResourceLabels": {
                  "path": "v1/{+name}:setResourceLabels",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setResourceLabels",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "SetLabelsRequest"
                  },
                  "httpMethod": "POST",
                  "id": "container.projects.locations.clusters.setResourceLabels",
                  "description": "Sets labels on a cluster.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "required": true,
                      "description": "The name (project, location, cluster id) of the cluster to set labels. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "startIpRotation": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "container.projects.locations.clusters.startIpRotation",
                  "description": "Starts master IP rotation.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:startIpRotation",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:startIpRotation",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "StartIPRotationRequest"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster id) of the cluster to start IP rotation. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "setNetworkPolicy": {
                  "description": "Enables or disables Network Policy for a cluster.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setNetworkPolicy",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The name (project, location, cluster id) of the cluster to set networking policy. Specified in the format `projects/*/locations/*/clusters/*`."
                    }
                  },
                  "path": "v1/{+name}:setNetworkPolicy",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "SetNetworkPolicyRequest"
                  },
                  "id": "container.projects.locations.clusters.setNetworkPolicy"
                },
                "setMonitoring": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name (project, location, cluster) of the cluster to set monitoring. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setMonitoring",
                  "path": "v1/{+name}:setMonitoring",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Sets the monitoring service for a specific cluster.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SetMonitoringServiceRequest"
                  },
                  "id": "container.projects.locations.clusters.setMonitoring"
                },
                "setAddons": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setAddons",
                  "request": {
                    "$ref": "SetAddonsConfigRequest"
                  },
                  "description": "Sets the addons for a specific cluster.",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "The name (project, location, cluster) of the cluster to set addons. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "container.projects.locations.clusters.setAddons",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:setAddons"
                },
                "delete": {
                  "description": "Deletes the cluster, including the Kubernetes endpoint and all worker nodes. Firewalls and routes that were configured during cluster creation are also deleted. Other Google Compute Engine resources that might be in use by the cluster, such as load balancer resources, are not deleted if they weren't present when the cluster was initially created.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "path": "v1/{+name}",
                  "id": "container.projects.locations.clusters.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "clusterId": {
                      "type": "string",
                      "description": "Deprecated. The name of the cluster to delete. This field has been deprecated and replaced by the name field.",
                      "location": "query"
                    },
                    "projectId": {
                      "type": "string",
                      "location": "query",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "The name (project, location, cluster) of the cluster to delete. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string"
                    },
                    "zone": {
                      "location": "query",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE"
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "container.projects.locations.clusters.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Cluster"
                  },
                  "parameters": {
                    "zone": {
                      "type": "string",
                      "location": "query",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                    },
                    "clusterId": {
                      "type": "string",
                      "location": "query",
                      "description": "Deprecated. The name of the cluster to retrieve. This field has been deprecated and replaced by the name field."
                    },
                    "projectId": {
                      "type": "string",
                      "location": "query",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "description": "The name (project, location, cluster) of the cluster to retrieve. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "location": "path"
                    }
                  },
                  "description": "Gets the details of a specific cluster.",
                  "path": "v1/{+name}"
                },
                "setLogging": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "description": "The name (project, location, cluster) of the cluster to set logging. Specified in the format `projects/*/locations/*/clusters/*`."
                    }
                  },
                  "path": "v1/{+name}:setLogging",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setLogging",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Sets the logging service for a specific cluster.",
                  "id": "container.projects.locations.clusters.setLogging",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SetLoggingServiceRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "setMaintenancePolicy": {
                  "id": "container.projects.locations.clusters.setMaintenancePolicy",
                  "path": "v1/{+name}:setMaintenancePolicy",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Sets the maintenance policy for a cluster.",
                  "request": {
                    "$ref": "SetMaintenancePolicyRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setMaintenancePolicy",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "description": "The name (project, location, cluster id) of the cluster to set maintenance policy. Specified in the format `projects/*/locations/*/clusters/*`."
                    }
                  },
                  "httpMethod": "POST"
                },
                "list": {
                  "response": {
                    "$ref": "ListClustersResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists all clusters owned by a project in either the specified zone or all zones.",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/clusters",
                  "id": "container.projects.locations.clusters.list",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The parent (project and location) where the clusters will be listed. Specified in the format `projects/*/locations/*`. Location \"-\" matches all zones and all regions.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "projectId": {
                      "type": "string",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the parent field.",
                      "location": "query"
                    },
                    "zone": {
                      "location": "query",
                      "type": "string",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides, or \"-\" for all zones. This field has been deprecated and replaced by the parent field."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters"
                },
                "setLegacyAbac": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name (project, location, cluster id) of the cluster to set legacy abac. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Enables or disables the ABAC authorization mechanism on a cluster.",
                  "request": {
[...]
