{
  "discoveryVersion": "v1",
  "rootUrl": "https://contactcenterinsights.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "baseUrl": "https://contactcenterinsights.googleapis.com/",
  "title": "Contact Center AI Insights API",
  "description": "",
  "basePath": "",
  "version": "v1",
  "servicePath": "",
  "protocol": "rest",
  "schemas": {
    "GoogleCloudContactcenterinsightsV1IssueModelLabelStatsIssueStats": {
      "id": "GoogleCloudContactcenterinsightsV1IssueModelLabelStatsIssueStats",
      "properties": {
        "labeledConversationsCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of conversations attached to the issue at this point in time."
        },
        "issue": {
          "type": "string",
          "description": "Issue resource. Format: projects/{project}/locations/{location}/issueModels/{issue_model}/issues/{issue}"
        },
        "displayName": {
          "description": "Display name of the issue.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Aggregated statistics about an issue."
    },
    "GoogleCloudContactcenterinsightsV1alpha1CreateIssueModelRequest": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1CreateIssueModelRequest",
      "description": "The request to create an issue model.",
      "type": "object",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The parent resource of the issue model."
        },
        "issueModel": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueModel",
          "description": "Required. The issue model to create."
        }
      }
    },
    "GoogleRpcStatus": {
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "GoogleRpcStatus"
    },
    "GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsMetadata": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsMetadata",
      "description": "The metadata for a bulk analyze conversations operation.",
      "properties": {
        "request": {
          "description": "The original request for bulk analyze.",
          "$ref": "GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsRequest"
        },
        "failedAnalysesCount": {
          "description": "The number of requested analyses that have failed so far.",
          "format": "int32",
          "type": "integer"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation finished running."
        },
        "completedAnalysesCount": {
          "description": "The number of requested analyses that have completed successfully so far.",
          "format": "int32",
          "type": "integer"
        },
        "totalRequestedAnalysesCount": {
          "type": "integer",
          "description": "Total number of analyses requested. Computed by the number of conversations returned by `filter` multiplied by `analysis_percentage` in the request.",
          "format": "int32"
        },
        "createTime": {
          "description": "The time the operation was created.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1SilenceData": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1SilenceData",
      "type": "object",
      "description": "The data for a silence annotation.",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeriesInterval": {
      "id": "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeriesInterval",
      "type": "object",
      "description": "A single interval in a time series.",
      "properties": {
        "startTime": {
          "description": "The start time of this interval.",
          "type": "string",
          "format": "google-datetime"
        },
        "conversationCount": {
          "type": "integer",
          "description": "The number of conversations created in this interval.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ExportInsightsDataResponse": {
      "properties": {},
      "type": "object",
      "description": "Response for an export insights operation.",
      "id": "GoogleCloudContactcenterinsightsV1ExportInsightsDataResponse"
    },
    "GoogleCloudContactcenterinsightsV1IssueModelLabelStats": {
      "id": "GoogleCloudContactcenterinsightsV1IssueModelLabelStats",
      "properties": {
        "unclassifiedConversationsCount": {
          "type": "string",
          "description": "Number of analyzed conversations for which no issue was applicable at this point in time.",
          "format": "int64"
        },
        "analyzedConversationsCount": {
          "description": "Number of conversations the issue model has analyzed at this point in time.",
          "format": "int64",
          "type": "string"
        },
        "issueStats": {
          "type": "object",
          "description": "Statistics on each issue. Key is the issue's resource name.",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1IssueModelLabelStatsIssueStats"
          }
        }
      },
      "type": "object",
      "description": "Aggregated statistics about an issue model."
    },
    "GoogleCloudContactcenterinsightsV1alpha1RuntimeAnnotation": {
      "type": "object",
      "properties": {
        "createTime": {
          "description": "The time at which this annotation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "articleSuggestion": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ArticleSuggestionData",
          "description": "Agent Assist Article Suggestion data."
        },
        "faqAnswer": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1FaqAnswerData",
          "description": "Agent Assist FAQ answer data."
        },
        "smartReply": {
          "description": "Agent Assist Smart Reply data.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SmartReplyData"
        },
        "startBoundary": {
          "description": "The boundary in the conversation where the annotation starts, inclusive.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotationBoundary"
        },
        "annotationId": {
          "description": "The unique identifier of the annotation. Format: projects/{project}/locations/{location}/conversationDatasets/{dataset}/conversationDataItems/{data_item}/conversationAnnotations/{annotation}",
          "type": "string"
        },
        "smartComposeSuggestion": {
          "description": "Agent Assist Smart Compose suggestion data.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SmartComposeSuggestionData"
        },
        "conversationSummarizationSuggestion": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationSummarizationSuggestionData",
          "description": "Conversation summarization suggestion data."
        },
        "dialogflowInteraction": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DialogflowInteractionData",
          "description": "Dialogflow interaction data."
        },
        "endBoundary": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotationBoundary",
          "description": "The boundary in the conversation where the annotation ends, inclusive."
        },
        "answerFeedback": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnswerFeedback",
          "description": "The feedback that the customer has about the answer in `data`."
        }
      },
      "description": "An annotation that was generated during the customer and agent interaction.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1RuntimeAnnotation"
    },
    "GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsRequest": {
      "type": "object",
      "description": "The request to analyze conversations in bulk.",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The parent resource to create analyses in."
        },
        "filter": {
          "description": "Required. Filter used to select the subset of conversations to analyze.",
          "type": "string"
        },
        "analysisPercentage": {
          "format": "float",
          "description": "Required. Percentage of selected conversation to analyze, between [0, 100].",
          "type": "number"
        },
        "annotatorSelector": {
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotatorSelector",
          "description": "To select the annotators to run and the phrase matchers to use (if any). If not specified, all annotators will be run."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1BulkAnalyzeConversationsRequest"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationDataSource": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationDataSource",
      "properties": {
        "dialogflowSource": {
          "description": "The source when the conversation comes from Dialogflow.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DialogflowSource"
        },
        "gcsSource": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1GcsSource",
          "description": "A Cloud Storage location specification for the audio and transcript."
        }
      },
      "description": "The conversation source, which is a combination of transcript and audio."
    },
    "GoogleCloudContactcenterinsightsV1PhraseMatchRuleGroup": {
      "description": "A message representing a rule in the phrase matcher.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Required. The type of this phrase match rule group.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Must meet all phrase match rules or there is no match.",
            "If any of the phrase match rules are met, there is a match."
          ],
          "enum": [
            "PHRASE_MATCH_RULE_GROUP_TYPE_UNSPECIFIED",
            "ALL_OF",
            "ANY_OF"
          ]
        },
        "phraseMatchRules": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatchRule"
          },
          "description": "A list of phrase match rules that are included in this group."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1PhraseMatchRuleGroup"
    },
    "GoogleCloudContactcenterinsightsV1ListConversationsResponse": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ListConversationsResponse",
      "description": "The response of listing conversations.",
      "properties": {
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is set, it means there is another page available. If it is not set, it means no other pages are available.",
          "type": "string"
        },
        "conversations": {
          "description": "The conversations that match the request.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Conversation"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1IngestConversationsRequestTranscriptObjectConfig": {
      "description": "Configuration for processing transcript objects.",
      "properties": {
        "medium": {
          "description": "Required. The medium transcript objects represent.",
          "enumDescriptions": [
            "Default value, if unspecified will default to PHONE_CALL.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ],
          "type": "string",
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ]
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1IngestConversationsRequestTranscriptObjectConfig",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1IngestConversationsRequestGcsSource": {
      "description": "Configuration for Cloud Storage bucket sources.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1IngestConversationsRequestGcsSource",
      "properties": {
        "bucketUri": {
          "description": "Required. The Cloud Storage bucket containing source objects.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ListAnalysesResponse": {
      "type": "object",
      "description": "The response to list analyses.",
      "properties": {
        "analyses": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Analysis"
          },
          "type": "array",
          "description": "The analyses that match the request."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ListAnalysesResponse"
    },
    "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsMetadata",
      "properties": {
        "completedAnalysesCount": {
          "description": "The number of requested analyses that have completed successfully so far.",
          "type": "integer",
          "format": "int32"
        },
        "request": {
          "description": "The original request for bulk analyze.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsRequest"
        },
        "totalRequestedAnalysesCount": {
          "description": "Total number of analyses requested. Computed by the number of conversations returned by `filter` multiplied by `analysis_percentage` in the request.",
          "format": "int32",
          "type": "integer"
        },
        "failedAnalysesCount": {
          "format": "int32",
          "description": "The number of requested analyses that have failed so far.",
          "type": "integer"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the operation was created."
        },
        "endTime": {
          "type": "string",
          "description": "The time the operation finished running.",
          "format": "google-datetime"
        }
      },
      "description": "The metadata for a bulk analyze conversations operation.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1AnswerFeedback": {
      "type": "object",
      "description": "The feedback that the customer has about a certain answer in the conversation.",
      "properties": {
        "displayed": {
          "description": "Indicates whether an answer or item was displayed to the human agent in the agent desktop UI.",
          "type": "boolean"
        },
        "clicked": {
          "description": "Indicates whether an answer or item was clicked by the human agent.",
          "type": "boolean"
        },
        "correctnessLevel": {
          "type": "string",
          "description": "The correctness level of an answer.",
          "enum": [
            "CORRECTNESS_LEVEL_UNSPECIFIED",
            "NOT_CORRECT",
            "PARTIALLY_CORRECT",
            "FULLY_CORRECT"
          ],
          "enumDescriptions": [
            "Correctness level unspecified.",
            "Answer is totally wrong.",
            "Answer is partially correct.",
            "Answer is fully correct."
          ]
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1AnswerFeedback"
    },
    "GoogleCloudContactcenterinsightsV1CalculateIssueModelStatsResponse": {
      "id": "GoogleCloudContactcenterinsightsV1CalculateIssueModelStatsResponse",
      "description": "Response of querying an issue model's statistics.",
      "properties": {
        "currentStats": {
          "$ref": "GoogleCloudContactcenterinsightsV1IssueModelLabelStats",
          "description": "The latest label statistics for the queried issue model. Includes results on both training data and data labeled after deployment."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelector": {
      "type": "object",
      "description": "Selector of all available annotators and phrase matchers to run.",
      "properties": {
        "runPhraseMatcherAnnotator": {
          "description": "Whether to run the active phrase matcher annotator(s).",
          "type": "boolean"
        },
        "runEntityAnnotator": {
          "type": "boolean",
          "description": "Whether to run the entity annotator."
        },
        "phraseMatchers": {
          "items": {
            "type": "string"
          },
          "description": "The list of phrase matchers to run. If not provided, all active phrase matchers will be used. If inactive phrase matchers are provided, they will not be used. Phrase matchers will be run only if run_phrase_matcher_annotator is set to true. Format: projects/{project}/locations/{location}/phraseMatchers/{phrase_matcher}",
          "type": "array"
        },
        "runIntentAnnotator": {
          "description": "Whether to run the intent annotator.",
          "type": "boolean"
        },
        "issueModels": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The issue model to run. If not provided, the most recently deployed topic model will be used. The provided issue model will only be used for inference if the issue model is deployed and if run_issue_model_annotator is set to true. If more than one issue model is provided, only the first provided issue model will be used for inference."
        },
        "runIssueModelAnnotator": {
          "description": "Whether to run the issue model annotator. A model should have already been deployed for this to take effect.",
          "type": "boolean"
        },
        "runSummarizationAnnotator": {
          "type": "boolean",
          "description": "Whether to run the summarization annotator."
        },
        "summarizationConfig": {
          "description": "Configuration for the summarization annotator.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelectorSummarizationConfig"
        },
        "runSilenceAnnotator": {
          "type": "boolean",
          "description": "Whether to run the silence annotator."
        },
        "runSentimentAnnotator": {
          "type": "boolean",
          "description": "Whether to run the sentiment annotator."
        },
        "runInterruptionAnnotator": {
          "description": "Whether to run the interruption annotator.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelector"
    },
    "GoogleCloudContactcenterinsightsV1ListIssueModelsResponse": {
      "properties": {
        "issueModels": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1IssueModel"
          },
          "description": "The issue models that match the request.",
          "type": "array"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ListIssueModelsResponse",
      "description": "The response of listing issue models.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsResponse": {
      "properties": {},
      "description": "The response to an IngestConversations operation.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsResponse"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataMetadata": {
      "description": "Metadata for an export insights operation.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataMetadata",
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running."
        },
        "request": {
          "description": "The original request for export.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataRequest"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created."
        },
        "partialErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "Partial errors during export operation that might cause the operation output to be incomplete."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1IssueModelInputDataConfig": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1IssueModelInputDataConfig",
      "properties": {
        "trainingConversationsCount": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Number of conversations used in training. Output only."
        },
        "filter": {
          "type": "string",
          "description": "A filter to reduce the conversations used for training the model to a specific subset."
        },
        "medium": {
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ],
          "description": "Medium of conversations used in training data. This field is being deprecated. To specify the medium to be used in training a new issue model, set the `medium` field on `filter`.",
          "deprecated": true,
          "type": "string",
          "enumDescriptions": [
            "Default value, if unspecified will default to PHONE_CALL.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ]
        }
      },
      "description": "Configs for the input data used to create the issue model.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1CreateIssueModelRequest": {
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The parent resource of the issue model."
        },
        "issueModel": {
          "description": "Required. The issue model to create.",
          "$ref": "GoogleCloudContactcenterinsightsV1IssueModel"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1CreateIssueModelRequest",
      "type": "object",
      "description": "The request to create an issue model."
    },
    "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsMetadataIngestConversationsStats": {
      "description": "Statistics for IngestConversations operation.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsMetadataIngestConversationsStats",
      "type": "object",
      "properties": {
        "failedIngestCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The number of objects which were unable to be ingested due to errors. The errors are populated in the partial_errors field.",
          "type": "integer"
        },
        "successfulIngestCount": {
          "description": "Output only. The number of new conversations added during this ingest operation.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "processedObjectCount": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. The number of objects processed during the ingest operation."
        },
        "duplicatesSkippedCount": {
          "description": "Output only. The number of objects skipped because another conversation with the same transcript uri had already been ingested.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1IngestConversationsRequest": {
      "properties": {
        "gcsSource": {
          "description": "A cloud storage bucket source.",
          "$ref": "GoogleCloudContactcenterinsightsV1IngestConversationsRequestGcsSource"
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource for new conversations."
        },
        "transcriptObjectConfig": {
          "description": "Configuration for when `source` contains conversation transcripts.",
          "$ref": "GoogleCloudContactcenterinsightsV1IngestConversationsRequestTranscriptObjectConfig"
        },
        "conversationConfig": {
          "description": "Configuration that applies to all conversations.",
          "$ref": "GoogleCloudContactcenterinsightsV1IngestConversationsRequestConversationConfig"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1IngestConversationsRequest",
      "description": "The request to ingest conversations.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ArticleSuggestionData": {
      "description": "Agent Assist Article Suggestion data.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ArticleSuggestionData",
      "properties": {
        "queryRecord": {
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}",
          "type": "string"
        },
        "confidenceScore": {
          "type": "number",
          "format": "float",
          "description": "The system's confidence score that this article is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain)."
        },
        "title": {
          "description": "Article title.",
          "type": "string"
        },
        "metadata": {
          "description": "Map that contains metadata about the Article Suggestion and the document that it originates from.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "uri": {
          "description": "Article URI.",
          "type": "string"
        },
        "source": {
          "type": "string",
          "description": "The knowledge document that this answer was extracted from. Format: projects/{project}/knowledgeBases/{knowledge_base}/documents/{document}"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1HoldData": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1HoldData",
      "description": "The data for a hold annotation.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1CreateAnalysisOperationMetadata": {
      "properties": {
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "conversation": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Conversation that this Analysis Operation belongs to."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "annotatorSelector": {
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotatorSelector",
          "readOnly": true,
          "description": "Output only. The annotator selector used for the analysis (if any)."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1CreateAnalysisOperationMetadata",
      "description": "Metadata for a create analysis operation."
    },
    "GoogleCloudContactcenterinsightsV1IssueModelInputDataConfig": {
      "properties": {
        "trainingConversationsCount": {
          "description": "Output only. Number of conversations used in training. Output only.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "medium": {
          "type": "string",
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ],
          "enumDescriptions": [
            "Default value, if unspecified will default to PHONE_CALL.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ],
          "deprecated": true,
          "description": "Medium of conversations used in training data. This field is being deprecated. To specify the medium to be used in training a new issue model, set the `medium` field on `filter`."
        },
        "filter": {
          "type": "string",
          "description": "A filter to reduce the conversations used for training the model to a specific subset."
        }
      },
      "description": "Configs for the input data used to create the issue model.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1IssueModelInputDataConfig"
    },
    "GoogleCloudContactcenterinsightsV1alpha1AnswerFeedback": {
      "description": "The feedback that the customer has about a certain answer in the conversation.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1AnswerFeedback",
      "properties": {
        "clicked": {
          "description": "Indicates whether an answer or item was clicked by the human agent.",
          "type": "boolean"
        },
        "correctnessLevel": {
          "description": "The correctness level of an answer.",
          "enum": [
            "CORRECTNESS_LEVEL_UNSPECIFIED",
            "NOT_CORRECT",
            "PARTIALLY_CORRECT",
            "FULLY_CORRECT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Correctness level unspecified.",
            "Answer is totally wrong.",
            "Answer is partially correct.",
            "Answer is fully correct."
          ]
        },
        "displayed": {
          "description": "Indicates whether an answer or item was displayed to the human agent in the agent desktop UI.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscript": {
      "properties": {
        "transcriptSegments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegment"
          },
          "description": "A list of sequential transcript segments that comprise the conversation."
        }
      },
      "type": "object",
      "description": "A message representing the transcript of a conversation.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscript"
    },
    "GoogleCloudContactcenterinsightsV1alpha1SentimentData": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1SentimentData",
      "properties": {
        "score": {
          "type": "number",
          "format": "float",
          "description": "The sentiment score between -1.0 (negative) and 1.0 (positive)."
        },
        "magnitude": {
          "description": "A non-negative number from 0 to infinity which represents the abolute magnitude of sentiment regardless of score.",
          "format": "float",
          "type": "number"
        }
      },
      "description": "The data for a sentiment annotation.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1AnnotatorSelector": {
      "id": "GoogleCloudContactcenterinsightsV1AnnotatorSelector",
      "type": "object",
      "description": "Selector of all available annotators and phrase matchers to run.",
      "properties": {
        "runPhraseMatcherAnnotator": {
          "type": "boolean",
          "description": "Whether to run the active phrase matcher annotator(s)."
        },
        "runSilenceAnnotator": {
          "type": "boolean",
          "description": "Whether to run the silence annotator."
        },
        "phraseMatchers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of phrase matchers to run. If not provided, all active phrase matchers will be used. If inactive phrase matchers are provided, they will not be used. Phrase matchers will be run only if run_phrase_matcher_annotator is set to true. Format: projects/{project}/locations/{location}/phraseMatchers/{phrase_matcher}"
        },
        "runSentimentAnnotator": {
          "description": "Whether to run the sentiment annotator.",
          "type": "boolean"
        },
        "issueModels": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The issue model to run. If not provided, the most recently deployed topic model will be used. The provided issue model will only be used for inference if the issue model is deployed and if run_issue_model_annotator is set to true. If more than one issue model is provided, only the first provided issue model will be used for inference."
        },
        "runSummarizationAnnotator": {
          "type": "boolean",
          "description": "Whether to run the summarization annotator."
        },
        "summarizationConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotatorSelectorSummarizationConfig",
          "description": "Configuration for the summarization annotator."
        },
        "runIntentAnnotator": {
          "description": "Whether to run the intent annotator.",
          "type": "boolean"
        },
        "runIssueModelAnnotator": {
          "type": "boolean",
          "description": "Whether to run the issue model annotator. A model should have already been deployed for this to take effect."
        },
        "runEntityAnnotator": {
          "type": "boolean",
          "description": "Whether to run the entity annotator."
        },
        "runInterruptionAnnotator": {
          "description": "Whether to run the interruption annotator.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1RedactionConfig": {
      "type": "object",
      "properties": {
        "deidentifyTemplate": {
          "type": "string",
          "description": "The fully-qualified DLP deidentify template resource name. Format: `projects/{project}/deidentifyTemplates/{template}`"
        },
        "inspectTemplate": {
          "type": "string",
          "description": "The fully-qualified DLP inspect template resource name. Format: `projects/{project}/locations/{location}/inspectTemplates/{template}`"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1RedactionConfig",
      "description": "DLP resources used for redaction while ingesting conversations."
    },
    "GoogleCloudContactcenterinsightsV1SilenceData": {
      "type": "object",
      "properties": {},
      "description": "The data for a silence annotation.",
      "id": "GoogleCloudContactcenterinsightsV1SilenceData"
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegment": {
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegment",
      "type": "object",
      "description": "A segment of a full transcript.",
      "properties": {
        "channelTag": {
          "type": "integer",
          "description": "For conversations derived from multi-channel audio, this is the channel number corresponding to the audio from that channel. For audioChannelCount = N, its output values can range from '1' to 'N'. A channel tag of 0 indicates that the audio is mono.",
          "format": "int32"
        },
        "dialogflowSegmentMetadata": {
          "description": "CCAI metadata relating to the current transcript segment.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata"
        },
        "segmentParticipant": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationParticipant",
          "description": "The participant of this segment."
        },
        "languageCode": {
          "description": "The language code of this segment as a [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag. Example: \"en-US\".",
          "type": "string"
        },
        "messageTime": {
          "description": "The time that the message occurred, if provided.",
          "format": "google-datetime",
          "type": "string"
        },
        "words": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentWordInfo"
          },
          "type": "array",
          "description": "A list of the word-specific information for each word in the segment."
        },
        "sentiment": {
          "description": "The sentiment for this transcript segment.",
          "$ref": "GoogleCloudContactcenterinsightsV1SentimentData"
        },
        "confidence": {
          "description": "A confidence estimate between 0.0 and 1.0 of the fidelity of this segment. A default value of 0.0 indicates that the value is unset.",
          "type": "number",
          "format": "float"
        },
        "text": {
          "type": "string",
          "description": "The text of this segment."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1IntentMatchData": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1IntentMatchData",
      "description": "The data for an intent match. Represents an intent match for a text segment in the conversation. A text segment can be part of a sentence, a complete sentence, or an utterance with multiple sentences.",
      "type": "object",
      "properties": {
        "intentUniqueId": {
          "description": "The id of the matched intent. Can be used to retrieve the corresponding intent information.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentWordInfo": {
      "properties": {
        "confidence": {
          "type": "number",
          "description": "A confidence estimate between 0.0 and 1.0 of the fidelity of this word. A default value of 0.0 indicates that the value is unset.",
          "format": "float"
        },
        "endOffset": {
          "type": "string",
          "description": "Time offset of the end of this word relative to the beginning of the total conversation.",
          "format": "google-duration"
        },
        "word": {
          "type": "string",
          "description": "The word itself. Includes punctuation marks that surround the word."
        },
        "startOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Time offset of the start of this word relative to the beginning of the total conversation."
        }
      },
      "type": "object",
      "description": "Word-level info for words in a transcript.",
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentWordInfo"
    },
    "GoogleCloudContactcenterinsightsV1alpha1Conversation": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1Conversation",
      "description": "The conversation resource.",
      "properties": {
        "turnCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The number of turns in the conversation.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which the conversation was created.",
          "format": "google-datetime"
        },
        "duration": {
          "type": "string",
          "description": "Output only. The duration of the conversation.",
          "readOnly": true,
          "format": "google-duration"
        },
        "agentId": {
          "description": "An opaque, user-specified string representing the human agent who handled the conversation.",
          "type": "string"
        },
        "transcript": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscript",
          "description": "Output only. The conversation transcript.",
          "readOnly": true
        },
        "runtimeAnnotations": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1RuntimeAnnotation"
          },
          "description": "Output only. The annotations that were generated during the customer and agent interaction.",
          "type": "array",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map for the user to specify any custom fields. A maximum of 20 labels per conversation is allowed, with a maximum of 256 characters per entry.",
          "type": "object"
        },
        "dataSource": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationDataSource",
          "description": "The source of the audio and transcription for the conversation."
        },
        "latestAnalysis": {
          "description": "Output only. The conversation's latest analysis, if one exists.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1Analysis",
          "readOnly": true
        },
        "callMetadata": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationCallMetadata",
          "description": "Call-specific metadata."
        },
        "ttl": {
          "format": "google-duration",
          "type": "string",
          "description": "Input only. The TTL for this resource. If specified, then this TTL will be used to calculate the expire time."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The most recent time at which the conversation was updated."
        },
        "languageCode": {
          "type": "string",
          "description": "A user-specified language code for the conversation."
        },
        "obfuscatedUserId": {
          "description": "Obfuscated user ID which the customer sent to us.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the conversation started."
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which this conversation should expire. After this time, the conversation data and any associated analyses will be deleted."
        },
        "latestSummary": {
          "description": "Output only. Latest summary of the conversation.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationSummarizationSuggestionData"
        },
        "dialogflowIntents": {
          "description": "Output only. All the matched Dialogflow intents in the call. The key corresponds to a Dialogflow intent, format: projects/{project}/agent/{agent}/intents/{intent}",
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1DialogflowIntent"
          }
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the conversation. Format: projects/{project}/locations/{location}/conversations/{conversation}"
        },
        "medium": {
          "description": "Immutable. The conversation medium, if unspecified will default to PHONE_CALL.",
          "enumDescriptions": [
            "Default value, if unspecified will default to PHONE_CALL.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ],
          "type": "string",
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ]
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1EntityMentionData": {
      "type": "object",
      "properties": {
        "sentiment": {
          "description": "Sentiment expressed for this mention of the entity.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SentimentData"
        },
        "entityUniqueId": {
          "type": "string",
          "description": "The key of this entity in conversation entities. Can be used to retrieve the exact `Entity` this mention is attached to."
        },
        "type": {
          "enum": [
            "MENTION_TYPE_UNSPECIFIED",
            "PROPER",
            "COMMON"
          ],
          "description": "The type of the entity mention.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Proper noun.",
            "Common noun (or noun compound)."
          ]
        }
      },
      "description": "The data for an entity mention annotation. This represents a mention of an `Entity` in the conversation.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1EntityMentionData"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationParticipant": {
      "description": "The call participant speaking for a given utterance.",
      "properties": {
        "dialogflowParticipantName": {
          "description": "The name of the participant provided by Dialogflow. Format: projects/{project}/locations/{location}/conversations/{conversation}/participants/{participant}",
          "type": "string"
        },
        "role": {
          "description": "The role of the participant.",
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER",
            "ANY_AGENT"
          ],
          "enumDescriptions": [
            "Participant's role is not set.",
            "Participant is a human agent.",
            "Participant is an automated agent.",
            "Participant is an end user who conversed with the contact center.",
            "Participant is either a human or automated agent."
          ]
        },
        "userId": {
          "description": "A user-specified ID representing the participant.",
          "type": "string"
        },
        "obfuscatedExternalUserId": {
          "description": "Obfuscated user ID from Dialogflow.",
          "type": "string"
        },
        "dialogflowParticipant": {
          "description": "Deprecated. Use `dialogflow_participant_name` instead. The name of the Dialogflow participant. Format: projects/{project}/locations/{location}/conversations/{conversation}/participants/{participant}",
          "deprecated": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationParticipant",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1CallAnnotation": {
      "description": "A piece of metadata that applies to a window of a call.",
      "properties": {
        "entityMentionData": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1EntityMentionData",
          "description": "Data specifying an entity mention."
        },
        "phraseMatchData": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1PhraseMatchData",
          "description": "Data specifying a phrase match."
        },
        "intentMatchData": {
          "description": "Data specifying an intent match.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IntentMatchData"
        },
        "interruptionData": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1InterruptionData",
          "description": "Data specifying an interruption."
        },
        "silenceData": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SilenceData",
          "description": "Data specifying silence."
        },
        "issueMatchData": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueMatchData",
          "description": "Data specifying an issue match."
        },
        "annotationStartBoundary": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotationBoundary",
          "description": "The boundary in the conversation where the annotation starts, inclusive."
        },
        "holdData": {
          "description": "Data specifying a hold.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1HoldData"
        },
        "annotationEndBoundary": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotationBoundary",
          "description": "The boundary in the conversation where the annotation ends, inclusive."
        },
        "sentimentData": {
          "description": "Data specifying sentiment.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SentimentData"
        },
        "channelTag": {
          "description": "The channel of the audio where the annotation occurs. For single-channel audio, this field is not populated.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1CallAnnotation",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1DialogflowInteractionData": {
      "description": "Dialogflow interaction data.",
      "id": "GoogleCloudContactcenterinsightsV1DialogflowInteractionData",
      "type": "object",
      "properties": {
        "confidence": {
          "format": "float",
          "description": "The confidence of the match ranging from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "type": "number"
        },
        "dialogflowIntentId": {
          "description": "The Dialogflow intent resource path. Format: projects/{project}/agent/{agent}/intents/{intent}",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1Analysis": {
      "properties": {
        "name": {
          "description": "Immutable. The resource name of the analysis. Format: projects/{project}/locations/{location}/conversations/{conversation}/analyses/{analysis}",
          "type": "string"
        },
        "annotatorSelector": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelector",
          "description": "To select the annotators to run and the phrase matchers to use (if any). If not specified, all annotators will be run."
        },
        "requestTime": {
          "description": "Output only. The time at which the analysis was requested.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time at which the analysis was created, which occurs when the long-running operation completes.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "analysisResult": {
          "description": "Output only. The result of the analysis, which is populated when the analysis finishes.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnalysisResult",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1Analysis",
      "description": "The analysis resource."
    },
    "GoogleCloudContactcenterinsightsV1ArticleSuggestionData": {
      "description": "Agent Assist Article Suggestion data.",
      "properties": {
        "source": {
          "type": "string",
          "description": "The knowledge document that this answer was extracted from. Format: projects/{project}/knowledgeBases/{knowledge_base}/documents/{document}"
        },
        "uri": {
          "type": "string",
          "description": "Article URI."
        },
        "title": {
          "description": "Article title.",
          "type": "string"
        },
        "confidenceScore": {
          "format": "float",
          "type": "number",
          "description": "The system's confidence score that this article is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain)."
        },
        "metadata": {
          "type": "object",
          "description": "Map that contains metadata about the Article Suggestion and the document that it originates from.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "queryRecord": {
          "type": "string",
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ArticleSuggestionData"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationSummarizationSuggestionData": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationSummarizationSuggestionData",
      "description": "Conversation summarization suggestion data.",
      "properties": {
        "conversationModel": {
          "type": "string",
          "description": "The name of the model that generates this summary. Format: projects/{project}/locations/{location}/conversationModels/{conversation_model}"
        },
        "answerRecord": {
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}",
          "type": "string"
        },
        "text": {
          "description": "The summarization content that is concatenated into one string.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map that contains metadata about the summarization and the document from which it originates."
        },
        "textSections": {
          "description": "The summarization content that is divided into sections. The key is the section's name and the value is the section's content. There is no specific format for the key or value.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "confidence": {
          "description": "The confidence score of the summarization.",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataRequestBigQueryDestination": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataRequestBigQueryDestination",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "A project ID or number. If specified, then export will attempt to write data to this project instead of the resource project. Otherwise, the resource project will be used."
        },
        "dataset": {
          "description": "Required. The name of the BigQuery dataset that the snapshot result should be exported to. If this dataset does not exist, the export call returns an INVALID_ARGUMENT error.",
          "type": "string"
        },
        "table": {
          "description": "The BigQuery table name to which the insights data should be written. If this table does not exist, the export call returns an INVALID_ARGUMENT error.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A BigQuery Table Reference."
    },
    "GoogleCloudContactcenterinsightsV1alpha1DialogflowIntent": {
      "description": "The data for a Dialogflow intent. Represents a detected intent in the conversation, e.g. MAKES_PROMISE.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The human-readable name of the intent."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1DialogflowIntent"
    },
    "GoogleCloudContactcenterinsightsV1View": {
      "description": "The View resource.",
      "id": "GoogleCloudContactcenterinsightsV1View",
      "properties": {
        "value": {
          "type": "string",
          "description": "String with specific view properties, must be non-empty."
        },
        "displayName": {
          "type": "string",
          "description": "The human-readable display name of the view."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the view. Format: projects/{project}/locations/{location}/views/{view}"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The most recent time at which the view was updated."
        },
        "createTime": {
          "description": "Output only. The time at which this view was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1AnnotationBoundary": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1AnnotationBoundary",
      "properties": {
        "wordIndex": {
          "description": "The word index of this boundary with respect to the first word in the transcript piece. This index starts at zero.",
          "type": "integer",
          "format": "int32"
        },
        "transcriptIndex": {
          "description": "The index in the sequence of transcribed pieces of the conversation where the boundary is located. This index starts at zero.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "A point in a conversation that marks the start or the end of an annotation."
    },
    "GoogleCloudContactcenterinsightsV1AnnotationBoundary": {
      "description": "A point in a conversation that marks the start or the end of an annotation.",
      "id": "GoogleCloudContactcenterinsightsV1AnnotationBoundary",
      "properties": {
        "transcriptIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The index in the sequence of transcribed pieces of the conversation where the boundary is located. This index starts at zero."
        },
        "wordIndex": {
          "description": "The word index of this boundary with respect to the first word in the transcript piece. This index starts at zero.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ExportInsightsDataMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1ExportInsightsDataMetadata",
      "type": "object",
      "description": "Metadata for an export insights operation.",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequest",
          "description": "The original request for export."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "partialErrors": {
          "description": "Partial errors during export operation that might cause the operation output to be incomplete.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1IssueModelLabelStats": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1IssueModelLabelStats",
      "description": "Aggregated statistics about an issue model.",
      "properties": {
        "analyzedConversationsCount": {
          "description": "Number of conversations the issue model has analyzed at this point in time.",
          "type": "string",
          "format": "int64"
        },
        "issueStats": {
          "description": "Statistics on each issue. Key is the issue's resource name.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueModelLabelStatsIssueStats"
          }
        },
        "unclassifiedConversationsCount": {
          "type": "string",
          "description": "Number of analyzed conversations for which no issue was applicable at this point in time.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1UploadConversationRequest": {
      "properties": {
        "parent": {
          "description": "Required. The parent resource of the conversation.",
          "type": "string"
        },
        "redactionConfig": {
          "description": "Optional. DLP settings for transcript redaction. Optional, will default to the config specified in Settings.",
          "$ref": "GoogleCloudContactcenterinsightsV1RedactionConfig"
        },
        "conversation": {
          "$ref": "GoogleCloudContactcenterinsightsV1Conversation",
          "description": "Required. The conversation resource to create."
        },
        "conversationId": {
          "type": "string",
          "description": "Optional. A unique ID for the new conversation. This ID will become the final component of the conversation's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z0-9-]{4,64}$`. Valid characters are `a-z-`"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1UploadConversationRequest",
      "description": "Request to upload a conversation."
    },
    "GoogleCloudContactcenterinsightsV1DialogflowSource": {
      "type": "object",
      "properties": {
        "audioUri": {
          "description": "Cloud Storage URI that points to a file that contains the conversation audio.",
          "type": "string"
        },
        "dialogflowConversation": {
          "description": "Output only. The name of the Dialogflow conversation that this conversation resource is derived from. Format: projects/{project}/locations/{location}/conversations/{conversation}",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "A Dialogflow source of conversation data.",
      "id": "GoogleCloudContactcenterinsightsV1DialogflowSource"
    },
    "GoogleCloudContactcenterinsightsV1IssueModelResult": {
      "properties": {
        "issues": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1IssueAssignment"
          },
          "description": "All the matched issues."
        },
        "issueModel": {
          "description": "Issue model that generates the result. Format: projects/{project}/locations/{location}/issueModels/{issue_model}",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1IssueModelResult",
      "description": "Issue Modeling result on a conversation."
    },
    "GoogleLongrunningOperation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "id": "GoogleLongrunningOperation"
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata",
      "properties": {
        "smartReplyAllowlistCovered": {
          "type": "boolean",
          "description": "Whether the transcript segment was covered under the configured smart reply allowlist in Agent Assist."
        }
      },
      "type": "object",
      "description": "Metadata from Dialogflow relating to the current transcript segment."
    },
    "GoogleCloudContactcenterinsightsV1alpha1IssueMatchData": {
      "description": "The data for an issue match annotation.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1IssueMatchData",
      "properties": {
        "issueAssignment": {
          "description": "Information about the issue's assignment.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueAssignment"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1PhraseMatchData": {
      "type": "object",
      "description": "The data for a matched phrase matcher. Represents information identifying a phrase matcher for a given match.",
      "id": "GoogleCloudContactcenterinsightsV1PhraseMatchData",
      "properties": {
        "phraseMatcher": {
          "type": "string",
          "description": "The unique identifier (the resource name) of the phrase matcher."
        },
        "displayName": {
          "type": "string",
          "description": "The human-readable name of the phrase matcher."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1DialogflowInteractionData": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1DialogflowInteractionData",
      "type": "object",
      "properties": {
        "confidence": {
          "format": "float",
          "description": "The confidence of the match ranging from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "type": "number"
        },
        "dialogflowIntentId": {
          "description": "The Dialogflow intent resource path. Format: projects/{project}/agent/{agent}/intents/{intent}",
          "type": "string"
        }
      },
      "description": "Dialogflow interaction data."
    },
    "GoogleCloudContactcenterinsightsV1UndeployIssueModelResponse": {
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1UndeployIssueModelResponse",
      "type": "object",
      "description": "The response to undeploy an issue model."
    },
    "GoogleCloudContactcenterinsightsV1alpha1DeleteIssueModelRequest": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1DeleteIssueModelRequest",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the issue model to delete."
        }
      },
      "description": "The request to delete an issue model.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1SmartReplyData": {
      "description": "Agent Assist Smart Reply data.",
      "type": "object",
      "properties": {
        "reply": {
          "type": "string",
          "description": "The content of the reply."
        },
        "confidenceScore": {
          "description": "The system's confidence score that this reply is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "format": "double",
          "type": "number"
        },
        "queryRecord": {
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Map that contains metadata about the Smart Reply and the document from which it originates."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1SmartReplyData"
    },
    "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestConversationConfig": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestConversationConfig",
      "type": "object",
      "description": "Configuration that applies to all conversations.",
      "properties": {
        "agentId": {
          "description": "An opaque, user-specified string representing the human agent who handled the conversations.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1Analysis": {
      "id": "GoogleCloudContactcenterinsightsV1Analysis",
      "properties": {
        "requestTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which the analysis was requested.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time at which the analysis was created, which occurs when the long-running operation completes.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "analysisResult": {
          "description": "Output only. The result of the analysis, which is populated when the analysis finishes.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1AnalysisResult"
        },
        "annotatorSelector": {
          "description": "To select the annotators to run and the phrase matchers to use (if any). If not specified, all annotators will be run.",
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotatorSelector"
        },
        "name": {
          "description": "Immutable. The resource name of the analysis. Format: projects/{project}/locations/{location}/conversations/{conversation}/analyses/{analysis}",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The analysis resource."
    },
    "GoogleCloudContactcenterinsightsV1Entity": {
      "description": "The data for an entity annotation. Represents a phrase in the conversation that is a known entity, such as a person, an organization, or location.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1Entity",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The representative name for the entity."
        },
        "metadata": {
          "description": "Metadata associated with the entity. For most entity types, the metadata is a Wikipedia URL (`wikipedia_url`) and Knowledge Graph MID (`mid`), if they are available. For the metadata associated with other entity types, see the Type table below.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "sentiment": {
          "description": "The aggregate sentiment expressed for this entity in the conversation.",
          "$ref": "GoogleCloudContactcenterinsightsV1SentimentData"
        },
        "type": {
          "type": "string",
          "description": "The entity type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PERSON",
            "LOCATION",
            "ORGANIZATION",
            "EVENT",
            "WORK_OF_ART",
            "CONSUMER_GOOD",
            "OTHER",
            "PHONE_NUMBER",
            "ADDRESS",
            "DATE",
            "NUMBER",
            "PRICE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "Location.",
            "Organization.",
            "Event.",
            "Artwork.",
            "Consumer product.",
            "Other types of entities.",
            "Phone number. The metadata lists the phone number (formatted according to local convention), plus whichever additional elements appear in the text: * `number` - The actual number, broken down into sections according to local convention. * `national_prefix` - Country code, if detected. * `area_code` - Region or area code, if detected. * `extension` - Phone extension (to be dialed after connection), if detected.",
            "Address. The metadata identifies the street number and locality plus whichever additional elements appear in the text: * `street_number` - Street number. * `locality` - City or town. * `street_name` - Street/route name, if detected. * `postal_code` - Postal code, if detected. * `country` - Country, if detected. * `broad_region` - Administrative area, such as the state, if detected. * `narrow_region` - Smaller administrative area, such as county, if detected. * `sublocality` - Used in Asian addresses to demark a district within a city, if detected.",
            "Date. The metadata identifies the components of the date: * `year` - Four digit year, if detected. * `month` - Two digit month number, if detected. * `day` - Two digit day number, if detected.",
            "Number. The metadata is the number itself.",
            "Price. The metadata identifies the `value` and `currency`."
          ]
        },
        "salience": {
          "type": "number",
          "format": "float",
          "description": "The salience score associated with the entity in the [0, 1.0] range. The salience score for an entity provides information about the importance or centrality of that entity to the entire document text. Scores closer to 0 are less salient, while scores closer to 1.0 are highly salient."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelRequest": {
      "type": "object",
      "description": "The request to deploy an issue model.",
      "properties": {
        "name": {
          "description": "Required. The issue model to deploy.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelRequest"
    },
    "GoogleCloudContactcenterinsightsV1EntityMentionData": {
      "description": "The data for an entity mention annotation. This represents a mention of an `Entity` in the conversation.",
      "id": "GoogleCloudContactcenterinsightsV1EntityMentionData",
      "properties": {
        "entityUniqueId": {
          "type": "string",
          "description": "The key of this entity in conversation entities. Can be used to retrieve the exact `Entity` this mention is attached to."
        },
        "sentiment": {
          "description": "Sentiment expressed for this mention of the entity.",
          "$ref": "GoogleCloudContactcenterinsightsV1SentimentData"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified.",
            "Proper noun.",
            "Common noun (or noun compound)."
          ],
          "description": "The type of the entity mention.",
          "enum": [
            "MENTION_TYPE_UNSPECIFIED",
            "PROPER",
            "COMMON"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1SmartReplyData": {
      "type": "object",
      "description": "Agent Assist Smart Reply data.",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Map that contains metadata about the Smart Reply and the document from which it originates.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "queryRecord": {
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}",
          "type": "string"
        },
        "reply": {
          "type": "string",
          "description": "The content of the reply."
        },
        "confidenceScore": {
          "format": "double",
          "description": "The system's confidence score that this reply is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "type": "number"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1SmartReplyData"
    },
    "GoogleCloudContactcenterinsightsV1SettingsAnalysisConfig": {
      "properties": {
        "runtimeIntegrationAnalysisPercentage": {
          "format": "double",
          "description": "Percentage of conversations created using Dialogflow runtime integration to analyze automatically, between [0, 100].",
          "type": "number"
        },
        "annotatorSelector": {
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotatorSelector",
          "description": "To select the annotators to run and the phrase matchers to use (if any). If not specified, all annotators will be run."
        },
        "uploadConversationAnalysisPercentage": {
          "format": "double",
          "description": "Percentage of conversations created using the UploadConversation endpoint to analyze automatically, between [0, 100].",
          "type": "number"
        }
      },
      "description": "Default configuration when creating Analyses in Insights.",
      "id": "GoogleCloudContactcenterinsightsV1SettingsAnalysisConfig",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelectorSummarizationConfig": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelectorSummarizationConfig",
      "properties": {
        "conversationProfile": {
          "description": "Resource name of the Dialogflow conversation profile. Format: projects/{project}/locations/{location}/conversationProfiles/{conversation_profile}",
          "type": "string"
        },
        "summarizationModel": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified summarization model.",
            "The Insights baseline model."
          ],
          "enum": [
            "SUMMARIZATION_MODEL_UNSPECIFIED",
            "BASELINE_MODEL"
          ],
          "description": "Default summarization model to be used."
        }
      },
      "description": "Configuration for summarization."
    },
    "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequest": {
      "properties": {
        "writeDisposition": {
          "description": "Options for what to do if the destination table already exists.",
          "enumDescriptions": [
            "Write disposition is not specified. Defaults to WRITE_TRUNCATE.",
            "If the table already exists, BigQuery will overwrite the table data and use the schema from the load.",
            "If the table already exists, BigQuery will append data to the table."
          ],
          "type": "string",
          "enum": [
            "WRITE_DISPOSITION_UNSPECIFIED",
            "WRITE_TRUNCATE",
            "WRITE_APPEND"
          ]
        },
        "bigQueryDestination": {
          "$ref": "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequestBigQueryDestination",
          "description": "Specified if sink is a BigQuery table."
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource to export data from."
        },
        "filter": {
          "description": "A filter to reduce results to a specific subset. Useful for exporting conversations with specific properties.",
          "type": "string"
        },
        "kmsKey": {
          "type": "string",
          "description": "A fully qualified KMS key name for BigQuery tables protected by CMEK. Format: projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}/cryptoKeyVersions/{version}"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequest",
      "description": "The request to export insights."
    },
    "GoogleCloudContactcenterinsightsV1IngestConversationsResponse": {
      "type": "object",
      "description": "The response to an IngestConversations operation.",
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1IngestConversationsResponse"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelRequest",
          "description": "The original request for deployment."
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        }
      },
      "description": "Metadata for deploying an issue model."
    },
    "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequest": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequest",
      "properties": {
        "transcriptObjectConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestTranscriptObjectConfig",
          "description": "Configuration for when `source` contains conversation transcripts."
        },
        "gcsSource": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestGcsSource",
          "description": "A cloud storage bucket source."
        },
        "conversationConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestConversationConfig",
          "description": "Configuration that applies to all conversations."
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource for new conversations."
        }
      },
      "description": "The request to ingest conversations.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1AnalysisResult": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1AnalysisResult",
      "description": "The result of an analysis.",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "The time at which the analysis ended.",
          "format": "google-datetime"
        },
        "callAnalysisMetadata": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnalysisResultCallAnalysisMetadata",
          "description": "Call-specific metadata created by the analysis."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1UndeployIssueModelRequest": {
      "description": "The request to undeploy an issue model.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The issue model to undeploy.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1UndeployIssueModelRequest"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DeleteIssueModelMetadata": {
      "properties": {
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DeleteIssueModelRequest",
          "description": "The original request for deletion."
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1DeleteIssueModelMetadata",
      "description": "Metadata for deleting an issue model."
    },
    "GoogleCloudContactcenterinsightsV1PhraseMatchRuleConfig": {
      "properties": {
        "exactMatchConfig": {
          "description": "The configuration for the exact match rule.",
          "$ref": "GoogleCloudContactcenterinsightsV1ExactMatchConfig"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1PhraseMatchRuleConfig",
      "description": "Configuration information of a phrase match rule."
    },
    "GoogleCloudContactcenterinsightsV1CalculateStatsResponse": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1CalculateStatsResponse",
      "properties": {
        "conversationCount": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of conversations."
        },
        "averageDuration": {
          "description": "The average duration of all conversations. The average is calculated using only conversations that have a time duration.",
          "format": "google-duration",
          "type": "string"
        },
        "issueMatchesStats": {
          "type": "object",
          "description": "A map associating each issue resource name with its respective number of matches in the set of conversations. Key has the format: `projects//locations//issueModels//issues/`",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1IssueModelLabelStatsIssueStats"
          }
        },
        "averageTurnCount": {
          "description": "The average number of turns per conversation.",
          "type": "integer",
          "format": "int32"
        },
        "smartHighlighterMatches": {
          "type": "object",
          "description": "A map associating each smart highlighter display name with its respective number of matches in the set of conversations.",
          "additionalProperties": {
            "format": "int32",
            "type": "integer"
          }
        },
        "customHighlighterMatches": {
          "description": "A map associating each custom highlighter resource name with its respective number of matches in the set of conversations.",
          "additionalProperties": {
            "type": "integer",
            "format": "int32"
          },
          "type": "object"
        },
        "conversationCountTimeSeries": {
          "$ref": "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeries",
          "description": "A time series representing the count of conversations created over time that match that requested filter criteria."
        },
        "issueMatches": {
          "deprecated": true,
          "type": "object",
          "description": "A map associating each issue resource name with its respective number of matches in the set of conversations. Key has the format: `projects//locations//issueModels//issues/` Deprecated, use `issue_matches_stats` field instead.",
          "additionalProperties": {
            "format": "int32",
            "type": "integer"
          }
        }
      },
      "description": "The response for calculating conversation statistics."
    },
    "GoogleCloudContactcenterinsightsV1ListViewsResponse": {
      "type": "object",
      "description": "The response of listing views.",
      "id": "GoogleCloudContactcenterinsightsV1ListViewsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "views": {
          "type": "array",
          "description": "The views that match the request.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1View"
          }
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1DeployIssueModelResponse": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1DeployIssueModelResponse",
      "description": "The response to deploy an issue model."
    },
    "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeries": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeries",
      "description": "A time series representing conversations over time.",
      "properties": {
        "points": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeriesInterval"
          },
          "description": "An ordered list of intervals from earliest to latest, where each interval represents the number of conversations that transpired during the time window."
        },
        "intervalDuration": {
          "description": "The duration of each interval.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1HoldData": {
      "properties": {},
      "description": "The data for a hold annotation.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1HoldData"
    },
    "GoogleCloudContactcenterinsightsV1IssueModel": {
      "description": "The issue model resource.",
      "id": "GoogleCloudContactcenterinsightsV1IssueModel",
      "type": "object",
      "properties": {
        "inputDataConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1IssueModelInputDataConfig",
          "description": "Configs for the input data that used to create the issue model."
        },
        "displayName": {
          "type": "string",
          "description": "The representative name for the issue model."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the issue model. Format: projects/{project}/locations/{location}/issueModels/{issue_model}"
        },
        "languageCode": {
          "type": "string",
          "description": "Language of the model."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNDEPLOYED",
            "DEPLOYING",
            "DEPLOYED",
            "UNDEPLOYING",
            "DELETING"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Model is not deployed but is ready to deploy.",
            "Model is being deployed.",
            "Model is deployed and is ready to be used. A model can only be used in analysis if it's in this state.",
            "Model is being undeployed.",
            "Model is being deleted."
          ],
          "readOnly": true,
          "description": "Output only. State of the model."
        },
        "trainingStats": {
          "$ref": "GoogleCloudContactcenterinsightsV1IssueModelLabelStats",
          "readOnly": true,
          "description": "Output only. Immutable. The issue model's label statistics on its training data."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The most recent time at which the issue model was updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "modelType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified model type.",
            "Type V1.",
            "Type V2."
          ],
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "TYPE_V1",
            "TYPE_V2"
          ],
          "description": "Type of the model."
        },
        "createTime": {
          "description": "Output only. The time at which this issue model was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "issueCount": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Number of issues in this issue model.",
          "format": "int64"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1AnalysisResultCallAnalysisMetadata": {
      "description": "Call-specific metadata created during analysis.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1AnalysisResultCallAnalysisMetadata",
      "properties": {
        "annotations": {
          "description": "A list of call annotations that apply to this call.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1CallAnnotation"
          }
        },
        "phraseMatchers": {
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatchData"
          },
          "type": "object",
          "description": "All the matched phrase matchers in the call."
        },
        "intents": {
          "type": "object",
          "description": "All the matched intents in the call.",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1Intent"
          }
        },
        "sentiments": {
          "description": "Overall conversation-level sentiment for each channel of the call.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationLevelSentiment"
          }
        },
        "entities": {
          "description": "All the entities in the call.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1Entity"
          }
        },
        "issueModelResult": {
          "description": "Overall conversation-level issue modeling result.",
          "$ref": "GoogleCloudContactcenterinsightsV1IssueModelResult"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1GcsSource": {
      "properties": {
        "transcriptUri": {
          "type": "string",
          "description": "Immutable. Cloud Storage URI that points to a file that contains the conversation transcript."
        },
        "audioUri": {
          "type": "string",
          "description": "Cloud Storage URI that points to a file that contains the conversation audio."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1GcsSource",
      "type": "object",
      "description": "A Cloud Storage source of conversation data."
    },
    "GoogleCloudContactcenterinsightsV1ConversationParticipant": {
      "description": "The call participant speaking for a given utterance.",
      "id": "GoogleCloudContactcenterinsightsV1ConversationParticipant",
      "properties": {
        "role": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER",
            "ANY_AGENT"
          ],
          "enumDescriptions": [
            "Participant's role is not set.",
            "Participant is a human agent.",
            "Participant is an automated agent.",
            "Participant is an end user who conversed with the contact center.",
            "Participant is either a human or automated agent."
          ],
          "type": "string",
          "description": "The role of the participant."
        },
        "dialogflowParticipantName": {
          "type": "string",
          "description": "The name of the participant provided by Dialogflow. Format: projects/{project}/locations/{location}/conversations/{conversation}/participants/{participant}"
        },
        "dialogflowParticipant": {
          "deprecated": true,
          "type": "string",
[...]
