{
  "revision": "20230923",
  "mtlsRootUrl": "https://contactcenterinsights.mtls.googleapis.com/",
  "version": "v1",
  "documentationLink": "https://cloud.google.com/contact-center/insights/docs",
  "id": "contactcenterinsights:v1",
  "protocol": "rest",
  "batchPath": "batch",
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Contact Center AI Insights API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "baseUrl": "https://contactcenterinsights.googleapis.com/",
  "schemas": {
    "GoogleCloudContactcenterinsightsV1alpha1IssueModelInputDataConfig": {
      "description": "Configs for the input data used to create the issue model.",
      "type": "object",
      "properties": {
        "trainingConversationsCount": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Number of conversations used in training. Output only."
        },
        "filter": {
          "type": "string",
          "description": "A filter to reduce the conversations used for training the model to a specific subset."
        },
        "medium": {
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ],
          "description": "Medium of conversations used in training data. This field is being deprecated. To specify the medium to be used in training a new issue model, set the `medium` field on `filter`.",
          "enumDescriptions": [
            "Default value, if unspecified will default to PHONE_CALL.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ],
          "deprecated": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1IssueModelInputDataConfig"
    },
    "GoogleCloudContactcenterinsightsV1GcsSource": {
      "type": "object",
      "properties": {
        "audioUri": {
          "type": "string",
          "description": "Cloud Storage URI that points to a file that contains the conversation audio."
        },
        "transcriptUri": {
          "type": "string",
          "description": "Immutable. Cloud Storage URI that points to a file that contains the conversation transcript."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1GcsSource",
      "description": "A Cloud Storage source of conversation data."
    },
    "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsRequest": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsRequest",
      "description": "The request to analyze conversations in bulk.",
      "properties": {
        "analysisPercentage": {
          "description": "Required. Percentage of selected conversation to analyze, between [0, 100].",
          "format": "float",
          "type": "number"
        },
        "annotatorSelector": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelector",
          "description": "To select the annotators to run and the phrase matchers to use (if any). If not specified, all annotators will be run."
        },
        "parent": {
          "description": "Required. The parent resource to create analyses in.",
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "Required. Filter used to select the subset of conversations to analyze."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1SpeechConfig": {
      "type": "object",
      "description": "Speech-to-Text configuration.",
      "properties": {
        "speechRecognizer": {
          "description": "The fully-qualified Speech Recognizer resource name. Format: `projects/{project_id}/locations/{location}/recognizer/{recognizer}`",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1SpeechConfig"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelResponse": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelResponse",
      "properties": {},
      "description": "The response to deploy an issue model.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequestBigQueryDestination": {
      "type": "object",
      "description": "A BigQuery Table Reference.",
      "id": "GoogleCloudContactcenterinsightsV1ExportInsightsDataRequestBigQueryDestination",
      "properties": {
        "projectId": {
          "description": "A project ID or number. If specified, then export will attempt to write data to this project instead of the resource project. Otherwise, the resource project will be used.",
          "type": "string"
        },
        "table": {
          "description": "The BigQuery table name to which the insights data should be written. If this table does not exist, the export call returns an INVALID_ARGUMENT error.",
          "type": "string"
        },
        "dataset": {
          "type": "string",
          "description": "Required. The name of the BigQuery dataset that the snapshot result should be exported to. If this dataset does not exist, the export call returns an INVALID_ARGUMENT error."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ListIssueModelsResponse": {
      "description": "The response of listing issue models.",
      "type": "object",
      "properties": {
        "issueModels": {
          "description": "The issue models that match the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1IssueModel"
          }
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ListIssueModelsResponse"
    },
    "GoogleCloudContactcenterinsightsV1IssueModelInputDataConfig": {
      "description": "Configs for the input data used to create the issue model.",
      "id": "GoogleCloudContactcenterinsightsV1IssueModelInputDataConfig",
      "properties": {
        "trainingConversationsCount": {
          "readOnly": true,
          "description": "Output only. Number of conversations used in training. Output only.",
          "format": "int64",
          "type": "string"
        },
        "filter": {
          "description": "A filter to reduce the conversations used for training the model to a specific subset.",
          "type": "string"
        },
        "medium": {
          "description": "Medium of conversations used in training data. This field is being deprecated. To specify the medium to be used in training a new issue model, set the `medium` field on `filter`.",
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ],
          "deprecated": true,
          "type": "string",
          "enumDescriptions": [
            "Default value, if unspecified will default to PHONE_CALL.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1IssueMatchData": {
      "description": "The data for an issue match annotation.",
      "properties": {
        "issueAssignment": {
          "$ref": "GoogleCloudContactcenterinsightsV1IssueAssignment",
          "description": "Information about the issue's assignment."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1IssueMatchData",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata",
      "description": "Metadata from Dialogflow relating to the current transcript segment.",
      "properties": {
        "smartReplyAllowlistCovered": {
          "type": "boolean",
          "description": "Whether the transcript segment was covered under the configured smart reply allowlist in Agent Assist."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1IngestConversationsRequestGcsSource": {
      "id": "GoogleCloudContactcenterinsightsV1IngestConversationsRequestGcsSource",
      "description": "Configuration for Cloud Storage bucket sources.",
      "properties": {
        "bucketUri": {
          "description": "Required. The Cloud Storage bucket containing source objects.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1FaqAnswerData": {
      "properties": {
        "question": {
          "description": "The corresponding FAQ question.",
          "type": "string"
        },
        "confidenceScore": {
          "format": "float",
          "description": "The system's confidence score that this answer is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "type": "number"
        },
        "source": {
          "type": "string",
          "description": "The knowledge document that this answer was extracted from. Format: projects/{project}/knowledgeBases/{knowledge_base}/documents/{document}."
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map that contains metadata about the FAQ answer and the document that it originates from.",
          "type": "object"
        },
        "queryRecord": {
          "type": "string",
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}"
        },
        "answer": {
          "type": "string",
          "description": "The piece of text from the `source` knowledge base document."
        }
      },
      "type": "object",
      "description": "Agent Assist frequently-asked-question answer data.",
      "id": "GoogleCloudContactcenterinsightsV1FaqAnswerData"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DialogflowSource": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1DialogflowSource",
      "description": "A Dialogflow source of conversation data.",
      "type": "object",
      "properties": {
        "dialogflowConversation": {
          "readOnly": true,
          "description": "Output only. The name of the Dialogflow conversation that this conversation resource is derived from. Format: projects/{project}/locations/{location}/conversations/{conversation}",
          "type": "string"
        },
        "audioUri": {
          "type": "string",
          "description": "Cloud Storage URI that points to a file that contains the conversation audio."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsResponse": {
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsResponse",
      "type": "object",
      "description": "The response to an IngestConversations operation."
    },
    "GoogleCloudContactcenterinsightsV1alpha1EntityMentionData": {
      "description": "The data for an entity mention annotation. This represents a mention of an `Entity` in the conversation.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1EntityMentionData",
      "properties": {
        "sentiment": {
          "description": "Sentiment expressed for this mention of the entity.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SentimentData"
        },
        "entityUniqueId": {
          "description": "The key of this entity in conversation entities. Can be used to retrieve the exact `Entity` this mention is attached to.",
          "type": "string"
        },
        "type": {
          "enum": [
            "MENTION_TYPE_UNSPECIFIED",
            "PROPER",
            "COMMON"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Proper noun.",
            "Common noun (or noun compound)."
          ],
          "description": "The type of the entity mention.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1PhraseMatchRule": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1PhraseMatchRule",
      "description": "The data for a phrase match rule.",
      "properties": {
        "query": {
          "description": "Required. The phrase to be matched.",
          "type": "string"
        },
        "config": {
          "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatchRuleConfig",
          "description": "Provides additional information about the rule that specifies how to apply the rule."
        },
        "negated": {
          "description": "Specifies whether the phrase must be missing from the transcript segment or present in the transcript segment.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1HoldData": {
      "description": "The data for a hold annotation.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1HoldData",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1ListConversationsResponse": {
      "type": "object",
      "description": "The response of listing conversations.",
      "id": "GoogleCloudContactcenterinsightsV1ListConversationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is set, it means there is another page available. If it is not set, it means no other pages are available."
        },
        "conversations": {
          "type": "array",
          "description": "The conversations that match the request.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1Conversation"
          }
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ConversationLevelSentiment": {
      "properties": {
        "sentimentData": {
          "description": "Data specifying sentiment.",
          "$ref": "GoogleCloudContactcenterinsightsV1SentimentData"
        },
        "channelTag": {
          "format": "int32",
          "type": "integer",
          "description": "The channel of the audio that the data applies to."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1ConversationLevelSentiment",
      "type": "object",
      "description": "One channel of conversation-level sentiment data."
    },
    "GoogleCloudContactcenterinsightsV1AnnotatorSelector": {
      "properties": {
        "runIntentAnnotator": {
          "type": "boolean",
          "description": "Whether to run the intent annotator."
        },
        "runPhraseMatcherAnnotator": {
          "description": "Whether to run the active phrase matcher annotator(s).",
          "type": "boolean"
        },
        "phraseMatchers": {
          "description": "The list of phrase matchers to run. If not provided, all active phrase matchers will be used. If inactive phrase matchers are provided, they will not be used. Phrase matchers will be run only if run_phrase_matcher_annotator is set to true. Format: projects/{project}/locations/{location}/phraseMatchers/{phrase_matcher}",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "runEntityAnnotator": {
          "type": "boolean",
          "description": "Whether to run the entity annotator."
        },
        "runSilenceAnnotator": {
          "type": "boolean",
          "description": "Whether to run the silence annotator."
        },
        "runSentimentAnnotator": {
          "type": "boolean",
          "description": "Whether to run the sentiment annotator."
        },
        "runInterruptionAnnotator": {
          "description": "Whether to run the interruption annotator.",
          "type": "boolean"
        },
        "issueModels": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The issue model to run. If not provided, the most recently deployed topic model will be used. The provided issue model will only be used for inference if the issue model is deployed and if run_issue_model_annotator is set to true. If more than one issue model is provided, only the first provided issue model will be used for inference."
        },
        "summarizationConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotatorSelectorSummarizationConfig",
          "description": "Configuration for the summarization annotator."
        },
        "runSummarizationAnnotator": {
          "description": "Whether to run the summarization annotator.",
          "type": "boolean"
        },
        "runIssueModelAnnotator": {
          "description": "Whether to run the issue model annotator. A model should have already been deployed for this to take effect.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1AnnotatorSelector",
      "description": "Selector of all available annotators and phrase matchers to run."
    },
    "GoogleCloudContactcenterinsightsV1RedactionConfig": {
      "id": "GoogleCloudContactcenterinsightsV1RedactionConfig",
      "type": "object",
      "description": "DLP resources used for redaction while ingesting conversations.",
      "properties": {
        "deidentifyTemplate": {
          "description": "The fully-qualified DLP deidentify template resource name. Format: `projects/{project}/deidentifyTemplates/{template}`",
          "type": "string"
        },
        "inspectTemplate": {
          "description": "The fully-qualified DLP inspect template resource name. Format: `projects/{project}/locations/{location}/inspectTemplates/{template}`",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1CallAnnotation": {
      "properties": {
        "sentimentData": {
          "$ref": "GoogleCloudContactcenterinsightsV1SentimentData",
          "description": "Data specifying sentiment."
        },
        "silenceData": {
          "$ref": "GoogleCloudContactcenterinsightsV1SilenceData",
          "description": "Data specifying silence."
        },
        "holdData": {
          "$ref": "GoogleCloudContactcenterinsightsV1HoldData",
          "description": "Data specifying a hold."
        },
        "annotationStartBoundary": {
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotationBoundary",
          "description": "The boundary in the conversation where the annotation starts, inclusive."
        },
        "channelTag": {
          "format": "int32",
          "type": "integer",
          "description": "The channel of the audio where the annotation occurs. For single-channel audio, this field is not populated."
        },
        "phraseMatchData": {
          "description": "Data specifying a phrase match.",
          "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatchData"
        },
        "interruptionData": {
          "description": "Data specifying an interruption.",
          "$ref": "GoogleCloudContactcenterinsightsV1InterruptionData"
        },
        "intentMatchData": {
          "$ref": "GoogleCloudContactcenterinsightsV1IntentMatchData",
          "description": "Data specifying an intent match."
        },
        "entityMentionData": {
          "description": "Data specifying an entity mention.",
          "$ref": "GoogleCloudContactcenterinsightsV1EntityMentionData"
        },
        "annotationEndBoundary": {
          "description": "The boundary in the conversation where the annotation ends, inclusive.",
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotationBoundary"
        },
        "issueMatchData": {
          "description": "Data specifying an issue match.",
          "$ref": "GoogleCloudContactcenterinsightsV1IssueMatchData"
        }
      },
      "description": "A piece of metadata that applies to a window of a call.",
      "id": "GoogleCloudContactcenterinsightsV1CallAnnotation",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1ConversationSummarizationSuggestionData": {
      "description": "Conversation summarization suggestion data.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ConversationSummarizationSuggestionData",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "A map that contains metadata about the summarization and the document from which it originates.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "text": {
          "type": "string",
          "description": "The summarization content that is concatenated into one string."
        },
        "conversationModel": {
          "description": "The name of the model that generates this summary. Format: projects/{project}/locations/{location}/conversationModels/{conversation_model}",
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "The confidence score of the summarization."
        },
        "answerRecord": {
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}",
          "type": "string"
        },
        "textSections": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The summarization content that is divided into sections. The key is the section's name and the value is the section's content. There is no specific format for the key or value."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1Analysis": {
      "id": "GoogleCloudContactcenterinsightsV1Analysis",
      "description": "The analysis resource.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Immutable. The resource name of the analysis. Format: projects/{project}/locations/{location}/conversations/{conversation}/analyses/{analysis}",
          "type": "string"
        },
        "annotatorSelector": {
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotatorSelector",
          "description": "To select the annotators to run and the phrase matchers to use (if any). If not specified, all annotators will be run."
        },
        "requestTime": {
          "readOnly": true,
          "description": "Output only. The time at which the analysis was requested.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. The time at which the analysis was created, which occurs when the long-running operation completes.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "analysisResult": {
          "$ref": "GoogleCloudContactcenterinsightsV1AnalysisResult",
          "readOnly": true,
          "description": "Output only. The result of the analysis, which is populated when the analysis finishes."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1IssueAssignment": {
      "type": "object",
      "description": "Information about the issue.",
      "id": "GoogleCloudContactcenterinsightsV1IssueAssignment",
      "properties": {
        "score": {
          "format": "double",
          "description": "Score indicating the likelihood of the issue assignment. currently bounded on [0,1].",
          "type": "number"
        },
        "issue": {
          "type": "string",
          "description": "Resource name of the assigned issue."
        },
        "displayName": {
          "type": "string",
          "description": "Immutable. Display name of the assigned issue. This field is set at time of analyis and immutable since then."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ExportInsightsDataResponse": {
      "description": "Response for an export insights operation.",
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1ExportInsightsDataResponse",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1AnalysisResultCallAnalysisMetadata": {
      "type": "object",
      "description": "Call-specific metadata created during analysis.",
      "properties": {
        "entities": {
          "description": "All the entities in the call.",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1Entity"
          },
          "type": "object"
        },
        "intents": {
          "description": "All the matched intents in the call.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1Intent"
          }
        },
        "issueModelResult": {
          "description": "Overall conversation-level issue modeling result.",
          "$ref": "GoogleCloudContactcenterinsightsV1IssueModelResult"
        },
        "annotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1CallAnnotation"
          },
          "description": "A list of call annotations that apply to this call."
        },
        "phraseMatchers": {
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatchData"
          },
          "description": "All the matched phrase matchers in the call.",
          "type": "object"
        },
        "sentiments": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1ConversationLevelSentiment"
          },
          "type": "array",
          "description": "Overall conversation-level sentiment for each channel of the call."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1AnalysisResultCallAnalysisMetadata"
    },
    "GoogleCloudContactcenterinsightsV1IntentMatchData": {
      "id": "GoogleCloudContactcenterinsightsV1IntentMatchData",
      "properties": {
        "intentUniqueId": {
          "description": "The id of the matched intent. Can be used to retrieve the corresponding intent information.",
          "type": "string"
        }
      },
      "description": "The data for an intent match. Represents an intent match for a text segment in the conversation. A text segment can be part of a sentence, a complete sentence, or an utterance with multiple sentences.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DeleteIssueModelMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1DeleteIssueModelMetadata",
      "description": "Metadata for deleting an issue model.",
      "properties": {
        "request": {
          "description": "The original request for deletion.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DeleteIssueModelRequest"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1AnalysisResultCallAnalysisMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1AnalysisResultCallAnalysisMetadata",
      "properties": {
        "sentiments": {
          "type": "array",
          "description": "Overall conversation-level sentiment for each channel of the call.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationLevelSentiment"
          }
        },
        "issueModelResult": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueModelResult",
          "description": "Overall conversation-level issue modeling result."
        },
        "entities": {
          "description": "All the entities in the call.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1Entity"
          }
        },
        "annotations": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1CallAnnotation"
          },
          "type": "array",
          "description": "A list of call annotations that apply to this call."
        },
        "intents": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1Intent"
          },
          "description": "All the matched intents in the call."
        },
        "phraseMatchers": {
          "type": "object",
          "description": "All the matched phrase matchers in the call.",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1PhraseMatchData"
          }
        }
      },
      "type": "object",
      "description": "Call-specific metadata created during analysis."
    },
    "GoogleCloudContactcenterinsightsV1DialogflowSource": {
      "description": "A Dialogflow source of conversation data.",
      "id": "GoogleCloudContactcenterinsightsV1DialogflowSource",
      "properties": {
        "dialogflowConversation": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the Dialogflow conversation that this conversation resource is derived from. Format: projects/{project}/locations/{location}/conversations/{conversation}"
        },
        "audioUri": {
          "description": "Cloud Storage URI that points to a file that contains the conversation audio.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1IssueModelLabelStats": {
      "description": "Aggregated statistics about an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1IssueModelLabelStats",
      "type": "object",
      "properties": {
        "analyzedConversationsCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of conversations the issue model has analyzed at this point in time."
        },
        "unclassifiedConversationsCount": {
          "description": "Number of analyzed conversations for which no issue was applicable at this point in time.",
          "type": "string",
          "format": "int64"
        },
        "issueStats": {
          "description": "Statistics on each issue. Key is the issue's resource name.",
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueModelLabelStatsIssueStats"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1GcsSource": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1GcsSource",
      "properties": {
        "audioUri": {
          "description": "Cloud Storage URI that points to a file that contains the conversation audio.",
          "type": "string"
        },
        "transcriptUri": {
          "description": "Immutable. Cloud Storage URI that points to a file that contains the conversation transcript.",
          "type": "string"
        }
      },
      "description": "A Cloud Storage source of conversation data."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataMetadata",
      "properties": {
        "partialErrors": {
          "type": "array",
          "description": "Partial errors during export operation that might cause the operation output to be incomplete.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataRequest",
          "description": "The original request for export."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        }
      },
      "description": "Metadata for an export insights operation.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1IngestConversationsResponse": {
      "description": "The response to an IngestConversations operation.",
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1IngestConversationsResponse",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1SentimentData": {
      "description": "The data for a sentiment annotation.",
      "type": "object",
      "properties": {
        "score": {
          "type": "number",
          "format": "float",
          "description": "The sentiment score between -1.0 (negative) and 1.0 (positive)."
        },
        "magnitude": {
          "description": "A non-negative number from 0 to infinity which represents the abolute magnitude of sentiment regardless of score.",
          "format": "float",
          "type": "number"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1SentimentData"
    },
    "GoogleCloudContactcenterinsightsV1alpha1RedactionConfig": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1RedactionConfig",
      "properties": {
        "deidentifyTemplate": {
          "description": "The fully-qualified DLP deidentify template resource name. Format: `projects/{project}/deidentifyTemplates/{template}`",
          "type": "string"
        },
        "inspectTemplate": {
          "description": "The fully-qualified DLP inspect template resource name. Format: `projects/{project}/locations/{location}/inspectTemplates/{template}`",
          "type": "string"
        }
      },
      "description": "DLP resources used for redaction while ingesting conversations.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1IssueModelResult": {
      "id": "GoogleCloudContactcenterinsightsV1IssueModelResult",
      "properties": {
        "issueModel": {
          "type": "string",
          "description": "Issue model that generates the result. Format: projects/{project}/locations/{location}/issueModels/{issue_model}"
        },
        "issues": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1IssueAssignment"
          },
          "type": "array",
          "description": "All the matched issues."
        }
      },
      "type": "object",
      "description": "Issue Modeling result on a conversation."
    },
    "GoogleCloudContactcenterinsightsV1IssueModelLabelStats": {
      "description": "Aggregated statistics about an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1IssueModelLabelStats",
      "type": "object",
      "properties": {
        "unclassifiedConversationsCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of analyzed conversations for which no issue was applicable at this point in time."
        },
        "issueStats": {
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1IssueModelLabelStatsIssueStats"
          },
          "type": "object",
          "description": "Statistics on each issue. Key is the issue's resource name."
        },
        "analyzedConversationsCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of conversations the issue model has analyzed at this point in time."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1IngestConversationsMetadata": {
      "type": "object",
      "description": "The metadata for an IngestConversations operation.",
      "id": "GoogleCloudContactcenterinsightsV1IngestConversationsMetadata",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "readOnly": true
        },
        "ingestConversationsStats": {
          "readOnly": true,
          "description": "Output only. Statistics for IngestConversations operation.",
          "$ref": "GoogleCloudContactcenterinsightsV1IngestConversationsMetadataIngestConversationsStats"
        },
        "request": {
          "readOnly": true,
          "description": "Output only. The original request for ingest.",
          "$ref": "GoogleCloudContactcenterinsightsV1IngestConversationsRequest"
        },
        "partialErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Partial errors during ingest operation that might cause the operation output to be incomplete."
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1AnswerFeedback": {
      "type": "object",
      "properties": {
        "clicked": {
          "type": "boolean",
          "description": "Indicates whether an answer or item was clicked by the human agent."
        },
        "correctnessLevel": {
          "type": "string",
          "description": "The correctness level of an answer.",
          "enum": [
            "CORRECTNESS_LEVEL_UNSPECIFIED",
            "NOT_CORRECT",
            "PARTIALLY_CORRECT",
            "FULLY_CORRECT"
          ],
          "enumDescriptions": [
            "Correctness level unspecified.",
            "Answer is totally wrong.",
            "Answer is partially correct.",
            "Answer is fully correct."
          ]
        },
        "displayed": {
          "type": "boolean",
          "description": "Indicates whether an answer or item was displayed to the human agent in the agent desktop UI."
        }
      },
      "description": "The feedback that the customer has about a certain answer in the conversation.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1AnswerFeedback"
    },
    "GoogleCloudContactcenterinsightsV1View": {
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The most recent time at which the view was updated.",
          "readOnly": true
        },
        "value": {
          "description": "String with specific view properties, must be non-empty.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which this view was created.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the view. Format: projects/{project}/locations/{location}/views/{view}"
        },
        "displayName": {
          "type": "string",
          "description": "The human-readable display name of the view."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1View",
      "description": "The View resource.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataRequestBigQueryDestination": {
      "description": "A BigQuery Table Reference.",
      "properties": {
        "dataset": {
          "type": "string",
          "description": "Required. The name of the BigQuery dataset that the snapshot result should be exported to. If this dataset does not exist, the export call returns an INVALID_ARGUMENT error."
        },
        "projectId": {
          "description": "A project ID or number. If specified, then export will attempt to write data to this project instead of the resource project. Otherwise, the resource project will be used.",
          "type": "string"
        },
        "table": {
          "description": "The BigQuery table name to which the insights data should be written. If this table does not exist, the export call returns an INVALID_ARGUMENT error.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataRequestBigQueryDestination",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1AnalysisResult": {
      "properties": {
        "callAnalysisMetadata": {
          "$ref": "GoogleCloudContactcenterinsightsV1AnalysisResultCallAnalysisMetadata",
          "description": "Call-specific metadata created by the analysis."
        },
        "endTime": {
          "type": "string",
          "description": "The time at which the analysis ended.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1AnalysisResult",
      "type": "object",
      "description": "The result of an analysis."
    },
    "GoogleCloudContactcenterinsightsV1IngestConversationsRequest": {
      "description": "The request to ingest conversations.",
      "id": "GoogleCloudContactcenterinsightsV1IngestConversationsRequest",
      "type": "object",
      "properties": {
        "gcsSource": {
          "$ref": "GoogleCloudContactcenterinsightsV1IngestConversationsRequestGcsSource",
          "description": "A cloud storage bucket source. Note that any previously ingested objects from the source will be skipped to avoid duplication."
        },
        "transcriptObjectConfig": {
          "description": "Configuration for when `source` contains conversation transcripts.",
          "$ref": "GoogleCloudContactcenterinsightsV1IngestConversationsRequestTranscriptObjectConfig"
        },
        "parent": {
          "description": "Required. The parent resource for new conversations.",
          "type": "string"
        },
        "conversationConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1IngestConversationsRequestConversationConfig",
          "description": "Configuration that applies to all conversations."
        }
      }
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleCloudContactcenterinsightsV1alpha1Analysis": {
      "description": "The analysis resource.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1Analysis",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the analysis. Format: projects/{project}/locations/{location}/conversations/{conversation}/analyses/{analysis}"
        },
        "analysisResult": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnalysisResult",
          "description": "Output only. The result of the analysis, which is populated when the analysis finishes."
        },
        "requestTime": {
          "description": "Output only. The time at which the analysis was requested.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time at which the analysis was created, which occurs when the long-running operation completes.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "annotatorSelector": {
          "description": "To select the annotators to run and the phrase matchers to use (if any). If not specified, all annotators will be run.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelector"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1SilenceData": {
      "description": "The data for a silence annotation.",
      "id": "GoogleCloudContactcenterinsightsV1SilenceData",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequest": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequest",
      "type": "object",
      "description": "The request to ingest conversations.",
      "properties": {
        "gcsSource": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestGcsSource",
          "description": "A cloud storage bucket source. Note that any previously ingested objects from the source will be skipped to avoid duplication."
        },
        "conversationConfig": {
          "description": "Configuration that applies to all conversations.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestConversationConfig"
        },
        "transcriptObjectConfig": {
          "description": "Configuration for when `source` contains conversation transcripts.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestTranscriptObjectConfig"
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource for new conversations."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1RuntimeAnnotation": {
      "type": "object",
      "description": "An annotation that was generated during the customer and agent interaction.",
      "id": "GoogleCloudContactcenterinsightsV1RuntimeAnnotation",
      "properties": {
        "smartReply": {
          "$ref": "GoogleCloudContactcenterinsightsV1SmartReplyData",
          "description": "Agent Assist Smart Reply data."
        },
        "dialogflowInteraction": {
          "description": "Dialogflow interaction data.",
          "$ref": "GoogleCloudContactcenterinsightsV1DialogflowInteractionData"
        },
        "smartComposeSuggestion": {
          "description": "Agent Assist Smart Compose suggestion data.",
          "$ref": "GoogleCloudContactcenterinsightsV1SmartComposeSuggestionData"
        },
        "faqAnswer": {
          "description": "Agent Assist FAQ answer data.",
          "$ref": "GoogleCloudContactcenterinsightsV1FaqAnswerData"
        },
        "annotationId": {
          "type": "string",
          "description": "The unique identifier of the annotation. Format: projects/{project}/locations/{location}/conversationDatasets/{dataset}/conversationDataItems/{data_item}/conversationAnnotations/{annotation}"
        },
        "answerFeedback": {
          "description": "The feedback that the customer has about the answer in `data`.",
          "$ref": "GoogleCloudContactcenterinsightsV1AnswerFeedback"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which this annotation was created."
        },
        "startBoundary": {
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotationBoundary",
          "description": "The boundary in the conversation where the annotation starts, inclusive."
        },
        "articleSuggestion": {
          "description": "Agent Assist Article Suggestion data.",
          "$ref": "GoogleCloudContactcenterinsightsV1ArticleSuggestionData"
        },
        "endBoundary": {
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotationBoundary",
          "description": "The boundary in the conversation where the annotation ends, inclusive."
        },
        "conversationSummarizationSuggestion": {
          "description": "Conversation summarization suggestion data.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationSummarizationSuggestionData"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1Intent": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The human-readable name of the intent."
        },
        "id": {
          "type": "string",
          "description": "The unique identifier of the intent."
        }
      },
      "description": "The data for an intent. Represents a detected intent in the conversation, for example MAKES_PROMISE.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1Intent"
    },
    "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeries": {
      "id": "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeries",
      "description": "A time series representing conversations over time.",
      "properties": {
        "intervalDuration": {
          "description": "The duration of each interval.",
          "format": "google-duration",
          "type": "string"
        },
        "points": {
          "description": "An ordered list of intervals from earliest to latest, where each interval represents the number of conversations that transpired during the time window.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeriesInterval"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudContactcenterinsightsV1alpha1ExportInsightsDataResponse",
      "description": "Response for an export insights operation."
    },
    "GoogleCloudContactcenterinsightsV1alpha1AnnotationBoundary": {
      "description": "A point in a conversation that marks the start or the end of an annotation.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1AnnotationBoundary",
      "type": "object",
      "properties": {
        "wordIndex": {
          "format": "int32",
          "description": "The word index of this boundary with respect to the first word in the transcript piece. This index starts at zero.",
          "type": "integer"
        },
        "transcriptIndex": {
          "description": "The index in the sequence of transcribed pieces of the conversation where the boundary is located. This index starts at zero.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1IssueModelLabelStatsIssueStats": {
      "description": "Aggregated statistics about an issue.",
      "properties": {
        "issue": {
          "type": "string",
          "description": "Issue resource. Format: projects/{project}/locations/{location}/issueModels/{issue_model}/issues/{issue}"
        },
        "labeledConversationsCount": {
          "description": "Number of conversations attached to the issue at this point in time.",
          "format": "int64",
          "type": "string"
        },
        "displayName": {
          "description": "Display name of the issue.",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1IssueModelLabelStatsIssueStats",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1CallAnnotation": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1CallAnnotation",
      "properties": {
        "issueMatchData": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueMatchData",
          "description": "Data specifying an issue match."
        },
        "phraseMatchData": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1PhraseMatchData",
          "description": "Data specifying a phrase match."
        },
        "holdData": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1HoldData",
          "description": "Data specifying a hold."
        },
        "silenceData": {
          "description": "Data specifying silence.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SilenceData"
        },
        "sentimentData": {
          "description": "Data specifying sentiment.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SentimentData"
        },
        "channelTag": {
          "type": "integer",
          "description": "The channel of the audio where the annotation occurs. For single-channel audio, this field is not populated.",
          "format": "int32"
        },
        "annotationStartBoundary": {
          "description": "The boundary in the conversation where the annotation starts, inclusive.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotationBoundary"
        },
        "interruptionData": {
          "description": "Data specifying an interruption.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1InterruptionData"
        },
        "entityMentionData": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1EntityMentionData",
          "description": "Data specifying an entity mention."
        },
        "intentMatchData": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IntentMatchData",
          "description": "Data specifying an intent match."
        },
        "annotationEndBoundary": {
          "description": "The boundary in the conversation where the annotation ends, inclusive.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotationBoundary"
        }
      },
      "description": "A piece of metadata that applies to a window of a call."
    },
    "GoogleCloudContactcenterinsightsV1Entity": {
      "type": "object",
      "description": "The data for an entity annotation. Represents a phrase in the conversation that is a known entity, such as a person, an organization, or location.",
      "properties": {
        "displayName": {
          "description": "The representative name for the entity.",
          "type": "string"
        },
        "sentiment": {
          "description": "The aggregate sentiment expressed for this entity in the conversation.",
          "$ref": "GoogleCloudContactcenterinsightsV1SentimentData"
        },
        "salience": {
          "description": "The salience score associated with the entity in the [0, 1.0] range. The salience score for an entity provides information about the importance or centrality of that entity to the entire document text. Scores closer to 0 are less salient, while scores closer to 1.0 are highly salient.",
          "format": "float",
          "type": "number"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Metadata associated with the entity. For most entity types, the metadata is a Wikipedia URL (`wikipedia_url`) and Knowledge Graph MID (`mid`), if they are available. For the metadata associated with other entity types, see the Type table below.",
          "type": "object"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "Location.",
            "Organization.",
            "Event.",
            "Artwork.",
            "Consumer product.",
            "Other types of entities.",
            "Phone number. The metadata lists the phone number (formatted according to local convention), plus whichever additional elements appear in the text: * `number` - The actual number, broken down into sections according to local convention. * `national_prefix` - Country code, if detected. * `area_code` - Region or area code, if detected. * `extension` - Phone extension (to be dialed after connection), if detected.",
            "Address. The metadata identifies the street number and locality plus whichever additional elements appear in the text: * `street_number` - Street number. * `locality` - City or town. * `street_name` - Street/route name, if detected. * `postal_code` - Postal code, if detected. * `country` - Country, if detected. * `broad_region` - Administrative area, such as the state, if detected. * `narrow_region` - Smaller administrative area, such as county, if detected. * `sublocality` - Used in Asian addresses to demark a district within a city, if detected.",
            "Date. The metadata identifies the components of the date: * `year` - Four digit year, if detected. * `month` - Two digit month number, if detected. * `day` - Two digit day number, if detected.",
            "Number. The metadata is the number itself.",
            "Price. The metadata identifies the `value` and `currency`."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PERSON",
            "LOCATION",
            "ORGANIZATION",
            "EVENT",
            "WORK_OF_ART",
            "CONSUMER_GOOD",
            "OTHER",
            "PHONE_NUMBER",
            "ADDRESS",
            "DATE",
            "NUMBER",
            "PRICE"
          ],
          "description": "The entity type."
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1Entity"
    },
    "GoogleCloudContactcenterinsightsV1alpha1IssueAssignment": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1IssueAssignment",
      "description": "Information about the issue.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Immutable. Display name of the assigned issue. This field is set at time of analyis and immutable since then."
        },
        "score": {
          "format": "double",
          "type": "number",
          "description": "Score indicating the likelihood of the issue assignment. currently bounded on [0,1]."
        },
        "issue": {
          "description": "Resource name of the assigned issue.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1CreateIssueModelRequest": {
      "properties": {
        "parent": {
          "description": "Required. The parent resource of the issue model.",
          "type": "string"
        },
        "issueModel": {
          "description": "Required. The issue model to create.",
          "$ref": "GoogleCloudContactcenterinsightsV1IssueModel"
        }
      },
      "type": "object",
      "description": "The request to create an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1CreateIssueModelRequest"
    },
    "GoogleCloudContactcenterinsightsV1ConversationParticipant": {
      "id": "GoogleCloudContactcenterinsightsV1ConversationParticipant",
      "description": "The call participant speaking for a given utterance.",
      "type": "object",
      "properties": {
        "userId": {
          "type": "string",
          "description": "A user-specified ID representing the participant."
        },
        "dialogflowParticipantName": {
          "type": "string",
          "description": "The name of the participant provided by Dialogflow. Format: projects/{project}/locations/{location}/conversations/{conversation}/participants/{participant}"
        },
        "role": {
          "enumDescriptions": [
            "Participant's role is not set.",
            "Participant is a human agent.",
            "Participant is an automated agent.",
            "Participant is an end user who conversed with the contact center.",
            "Participant is either a human or automated agent."
          ],
          "description": "The role of the participant.",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER",
            "ANY_AGENT"
          ],
          "type": "string"
        },
        "dialogflowParticipant": {
          "description": "Deprecated. Use `dialogflow_participant_name` instead. The name of the Dialogflow participant. Format: projects/{project}/locations/{location}/conversations/{conversation}/participants/{participant}",
          "type": "string",
          "deprecated": true
        },
        "obfuscatedExternalUserId": {
          "description": "Obfuscated user ID from Dialogflow.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ListViewsResponse": {
      "description": "The response of listing views.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1ListViewsResponse",
      "properties": {
        "views": {
          "type": "array",
          "description": "The views that match the request.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1View"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationParticipant": {
      "type": "object",
      "properties": {
        "obfuscatedExternalUserId": {
          "type": "string",
          "description": "Obfuscated user ID from Dialogflow."
        },
        "dialogflowParticipantName": {
          "type": "string",
          "description": "The name of the participant provided by Dialogflow. Format: projects/{project}/locations/{location}/conversations/{conversation}/participants/{participant}"
        },
        "role": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER",
            "ANY_AGENT"
          ],
          "description": "The role of the participant.",
          "enumDescriptions": [
            "Participant's role is not set.",
            "Participant is a human agent.",
            "Participant is an automated agent.",
            "Participant is an end user who conversed with the contact center.",
            "Participant is either a human or automated agent."
          ],
          "type": "string"
        },
        "userId": {
          "type": "string",
          "description": "A user-specified ID representing the participant."
        },
        "dialogflowParticipant": {
          "deprecated": true,
          "description": "Deprecated. Use `dialogflow_participant_name` instead. The name of the Dialogflow participant. Format: projects/{project}/locations/{location}/conversations/{conversation}/participants/{participant}",
          "type": "string"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationParticipant",
      "description": "The call participant speaking for a given utterance."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscript": {
      "description": "A message representing the transcript of a conversation.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscript",
      "properties": {
        "transcriptSegments": {
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegment"
          },
          "type": "array",
          "description": "A list of sequential transcript segments that comprise the conversation."
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestConversationConfig": {
      "properties": {
        "agentId": {
          "type": "string",
          "description": "An opaque, user-specified string representing the human agent who handled the conversations."
        }
      },
      "type": "object",
      "description": "Configuration that applies to all conversations.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestConversationConfig"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata",
      "properties": {
        "smartReplyAllowlistCovered": {
          "type": "boolean",
          "description": "Whether the transcript segment was covered under the configured smart reply allowlist in Agent Assist."
        }
      },
      "type": "object",
      "description": "Metadata from Dialogflow relating to the current transcript segment."
    },
    "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestGcsSource": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestGcsSource",
      "description": "Configuration for Cloud Storage bucket sources.",
      "type": "object",
      "properties": {
        "bucketUri": {
          "description": "Required. The Cloud Storage bucket containing source objects.",
          "type": "string"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1CreateIssueModelRequest": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1CreateIssueModelRequest",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The parent resource of the issue model."
        },
        "issueModel": {
          "description": "Required. The issue model to create.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueModel"
        }
      },
      "description": "The request to create an issue model.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelRequest": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelRequest",
      "description": "The request to deploy an issue model.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The issue model to deploy."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationLevelSentiment": {
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationLevelSentiment",
      "description": "One channel of conversation-level sentiment data.",
      "properties": {
        "channelTag": {
          "format": "int32",
          "type": "integer",
          "description": "The channel of the audio that the data applies to."
        },
        "sentimentData": {
          "description": "Data specifying sentiment.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SentimentData"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1PhraseMatchRuleConfig": {
      "description": "Configuration information of a phrase match rule.",
      "id": "GoogleCloudContactcenterinsightsV1PhraseMatchRuleConfig",
      "properties": {
        "exactMatchConfig": {
          "description": "The configuration for the exact match rule.",
          "$ref": "GoogleCloudContactcenterinsightsV1ExactMatchConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1AnnotationBoundary": {
      "properties": {
        "wordIndex": {
          "description": "The word index of this boundary with respect to the first word in the transcript piece. This index starts at zero.",
          "type": "integer",
          "format": "int32"
        },
        "transcriptIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The index in the sequence of transcribed pieces of the conversation where the boundary is located. This index starts at zero."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1AnnotationBoundary",
      "description": "A point in a conversation that marks the start or the end of an annotation."
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentWordInfo": {
      "description": "Word-level info for words in a transcript.",
      "properties": {
        "confidence": {
          "description": "A confidence estimate between 0.0 and 1.0 of the fidelity of this word. A default value of 0.0 indicates that the value is unset.",
          "format": "float",
          "type": "number"
        },
        "endOffset": {
          "description": "Time offset of the end of this word relative to the beginning of the total conversation.",
          "format": "google-duration",
          "type": "string"
        },
        "word": {
          "description": "The word itself. Includes punctuation marks that surround the word.",
          "type": "string"
        },
        "startOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Time offset of the start of this word relative to the beginning of the total conversation."
        }
      },
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentWordInfo"
    },
    "GoogleCloudContactcenterinsightsV1alpha1PhraseMatchData": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1PhraseMatchData",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The human-readable name of the phrase matcher."
        },
        "phraseMatcher": {
          "description": "The unique identifier (the resource name) of the phrase matcher.",
          "type": "string"
        }
      },
      "description": "The data for a matched phrase matcher. Represents information identifying a phrase matcher for a given match.",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1CreateIssueModelMetadata": {
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created."
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1CreateIssueModelRequest",
          "description": "The original request for creation."
        }
      },
      "description": "Metadata for creating an issue model.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1CreateIssueModelMetadata"
    },
    "GoogleCloudContactcenterinsightsV1alpha1FaqAnswerData": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1FaqAnswerData",
      "type": "object",
      "description": "Agent Assist frequently-asked-question answer data.",
      "properties": {
        "answer": {
          "description": "The piece of text from the `source` knowledge base document.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map that contains metadata about the FAQ answer and the document that it originates from."
        },
        "question": {
          "type": "string",
          "description": "The corresponding FAQ question."
        },
        "source": {
          "type": "string",
          "description": "The knowledge document that this answer was extracted from. Format: projects/{project}/knowledgeBases/{knowledge_base}/documents/{document}."
        },
        "confidenceScore": {
          "format": "float",
          "type": "number",
          "description": "The system's confidence score that this answer is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain)."
        },
        "queryRecord": {
          "type": "string",
          "description": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1UndeployIssueModelRequest": {
      "description": "The request to undeploy an issue model.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1UndeployIssueModelRequest",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The issue model to undeploy."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestTranscriptObjectConfig": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1IngestConversationsRequestTranscriptObjectConfig",
      "type": "object",
      "properties": {
        "medium": {
          "description": "Required. The medium transcript objects represent.",
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ],
          "enumDescriptions": [
            "Default value, if unspecified will default to PHONE_CALL.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ],
          "type": "string"
        }
      },
      "description": "Configuration for processing transcript objects."
    },
    "GoogleCloudContactcenterinsightsV1DeployIssueModelMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1DeployIssueModelMetadata",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "type": "string"
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1DeployIssueModelRequest",
          "description": "The original request for deployment."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Metadata for deploying an issue model."
    },
    "GoogleCloudContactcenterinsightsV1Conversation": {
      "id": "GoogleCloudContactcenterinsightsV1Conversation",
      "type": "object",
      "properties": {
        "name": {
          "description": "Immutable. The resource name of the conversation. Format: projects/{project}/locations/{location}/conversations/{conversation}",
          "type": "string"
        },
        "dialogflowIntents": {
          "readOnly": true,
          "additionalProperties": {
            "$ref": "GoogleCloudContactcenterinsightsV1DialogflowIntent"
          },
          "description": "Output only. All the matched Dialogflow intents in the call. The key corresponds to a Dialogflow intent, format: projects/{project}/agent/{agent}/intents/{intent}",
          "type": "object"
        },
        "transcript": {
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationTranscript",
          "description": "Output only. The conversation transcript."
        },
        "expireTime": {
          "description": "The time at which this conversation should expire. After this time, the conversation data and any associated analyses will be deleted.",
          "type": "string",
          "format": "google-datetime"
        },
        "agentId": {
          "type": "string",
          "description": "An opaque, user-specified string representing the human agent who handled the conversation."
        },
        "runtimeAnnotations": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1RuntimeAnnotation"
          },
          "description": "Output only. The annotations that were generated during the customer and agent interaction."
        },
        "labels": {
          "type": "object",
          "description": "A map for the user to specify any custom fields. A maximum of 20 labels per conversation is allowed, with a maximum of 256 characters per entry.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "latestSummary": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationSummarizationSuggestionData",
          "readOnly": true,
          "description": "Output only. Latest summary of the conversation."
        },
        "duration": {
          "format": "google-duration",
          "description": "Output only. The duration of the conversation.",
          "readOnly": true,
          "type": "string"
        },
        "dataSource": {
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationDataSource",
          "description": "The source of the audio and transcription for the conversation."
        },
        "startTime": {
          "description": "The time at which the conversation started.",
          "type": "string",
          "format": "google-datetime"
        },
        "languageCode": {
          "description": "A user-specified language code for the conversation.",
          "type": "string"
        },
        "latestAnalysis": {
          "description": "Output only. The conversation's latest analysis, if one exists.",
          "readOnly": true,
          "$ref": "GoogleCloudContactcenterinsightsV1Analysis"
        },
        "ttl": {
          "format": "google-duration",
          "type": "string",
          "description": "Input only. The TTL for this resource. If specified, then this TTL will be used to calculate the expire time."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The most recent time at which the conversation was updated."
        },
        "obfuscatedUserId": {
          "description": "Obfuscated user ID which the customer sent to us.",
          "type": "string"
        },
        "medium": {
          "description": "Immutable. The conversation medium, if unspecified will default to PHONE_CALL.",
          "enum": [
            "MEDIUM_UNSPECIFIED",
            "PHONE_CALL",
            "CHAT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value, if unspecified will default to PHONE_CALL.",
            "The format for conversations that took place over the phone.",
            "The format for conversations that took place over chat."
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which the conversation was created."
        },
        "turnCount": {
          "description": "Output only. The number of turns in the conversation.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "callMetadata": {
          "description": "Call-specific metadata.",
          "$ref": "GoogleCloudContactcenterinsightsV1ConversationCallMetadata"
        }
      },
      "description": "The conversation resource."
    },
    "GoogleCloudContactcenterinsightsV1ExactMatchConfig": {
      "type": "object",
      "description": "Exact match configuration.",
      "id": "GoogleCloudContactcenterinsightsV1ExactMatchConfig",
      "properties": {
        "caseSensitive": {
          "type": "boolean",
          "description": "Whether to consider case sensitivity when performing an exact match."
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1ListPhraseMatchersResponse": {
      "id": "GoogleCloudContactcenterinsightsV1ListPhraseMatchersResponse",
      "description": "The response of listing phrase matchers.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "phraseMatchers": {
          "description": "The phrase matchers that match the request.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1PhraseMatcher"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelMetadata": {
      "description": "Metadata for deploying an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelMetadata",
      "properties": {
        "request": {
          "description": "The original request for deployment.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelRequest"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1Entity": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The representative name for the entity."
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PERSON",
            "LOCATION",
            "ORGANIZATION",
            "EVENT",
            "WORK_OF_ART",
            "CONSUMER_GOOD",
            "OTHER",
            "PHONE_NUMBER",
            "ADDRESS",
            "DATE",
            "NUMBER",
            "PRICE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "Location.",
            "Organization.",
            "Event.",
            "Artwork.",
            "Consumer product.",
            "Other types of entities.",
            "Phone number. The metadata lists the phone number (formatted according to local convention), plus whichever additional elements appear in the text: * `number` - The actual number, broken down into sections according to local convention. * `national_prefix` - Country code, if detected. * `area_code` - Region or area code, if detected. * `extension` - Phone extension (to be dialed after connection), if detected.",
            "Address. The metadata identifies the street number and locality plus whichever additional elements appear in the text: * `street_number` - Street number. * `locality` - City or town. * `street_name` - Street/route name, if detected. * `postal_code` - Postal code, if detected. * `country` - Country, if detected. * `broad_region` - Administrative area, such as the state, if detected. * `narrow_region` - Smaller administrative area, such as county, if detected. * `sublocality` - Used in Asian addresses to demark a district within a city, if detected.",
            "Date. The metadata identifies the components of the date: * `year` - Four digit year, if detected. * `month` - Two digit month number, if detected. * `day` - Two digit day number, if detected.",
            "Number. The metadata is the number itself.",
            "Price. The metadata identifies the `value` and `currency`."
          ],
          "description": "The entity type."
        },
        "sentiment": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SentimentData",
          "description": "The aggregate sentiment expressed for this entity in the conversation."
        },
        "metadata": {
          "description": "Metadata associated with the entity. For most entity types, the metadata is a Wikipedia URL (`wikipedia_url`) and Knowledge Graph MID (`mid`), if they are available. For the metadata associated with other entity types, see the Type table below.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "salience": {
          "description": "The salience score associated with the entity in the [0, 1.0] range. The salience score for an entity provides information about the importance or centrality of that entity to the entire document text. Scores closer to 0 are less salient, while scores closer to 1.0 are highly salient.",
          "format": "float",
          "type": "number"
        }
      },
      "description": "The data for an entity annotation. Represents a phrase in the conversation that is a known entity, such as a person, an organization, or location.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1Entity",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1UndeployIssueModelResponse": {
      "id": "GoogleCloudContactcenterinsightsV1UndeployIssueModelResponse",
      "type": "object",
      "description": "The response to undeploy an issue model.",
      "properties": {}
    },
    "GoogleCloudContactcenterinsightsV1alpha1AnalysisResult": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1AnalysisResult",
      "properties": {
        "endTime": {
          "description": "The time at which the analysis ended.",
          "type": "string",
          "format": "google-datetime"
        },
        "callAnalysisMetadata": {
          "description": "Call-specific metadata created by the analysis.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnalysisResultCallAnalysisMetadata"
        }
      },
      "type": "object",
      "description": "The result of an analysis."
    },
    "GoogleCloudContactcenterinsightsV1alpha1InterruptionData": {
      "description": "The data for an interruption annotation.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1InterruptionData",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1DialogflowInteractionData": {
      "type": "object",
      "description": "Dialogflow interaction data.",
      "properties": {
        "dialogflowIntentId": {
          "description": "The Dialogflow intent resource path. Format: projects/{project}/agent/{agent}/intents/{intent}",
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "description": "The confidence of the match ranging from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "format": "float"
        }
      },
      "id": "GoogleCloudContactcenterinsightsV1DialogflowInteractionData"
    },
    "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsMetadata": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsMetadata",
      "properties": {
        "failedAnalysesCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of requested analyses that have failed so far."
        },
        "request": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsRequest",
          "description": "The original request for bulk analyze."
        },
        "createTime": {
          "type": "string",
          "description": "The time the operation was created.",
          "format": "google-datetime"
        },
        "completedAnalysesCount": {
          "description": "The number of requested analyses that have completed successfully so far.",
          "format": "int32",
          "type": "integer"
        },
        "totalRequestedAnalysesCount": {
          "description": "Total number of analyses requested. Computed by the number of conversations returned by `filter` multiplied by `analysis_percentage` in the request.",
          "type": "integer",
          "format": "int32"
        },
        "endTime": {
          "type": "string",
          "description": "The time the operation finished running.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "The metadata for a bulk analyze conversations operation."
    },
    "GoogleCloudContactcenterinsightsV1DeleteIssueModelRequest": {
      "properties": {
        "name": {
          "description": "Required. The name of the issue model to delete.",
          "type": "string"
        }
      },
      "description": "The request to delete an issue model.",
      "id": "GoogleCloudContactcenterinsightsV1DeleteIssueModelRequest",
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1CreateAnalysisOperationMetadata": {
      "description": "Metadata for a create analysis operation.",
      "id": "GoogleCloudContactcenterinsightsV1CreateAnalysisOperationMetadata",
      "properties": {
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running."
        },
        "annotatorSelector": {
          "description": "Output only. The annotator selector used for the analysis (if any).",
          "$ref": "GoogleCloudContactcenterinsightsV1AnnotatorSelector",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "conversation": {
          "description": "Output only. The Conversation that this Analysis Operation belongs to.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudContactcenterinsightsV1alpha1RuntimeAnnotation": {
      "properties": {
        "smartReply": {
          "description": "Agent Assist Smart Reply data.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SmartReplyData"
        },
        "dialogflowInteraction": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1DialogflowInteractionData",
          "description": "Dialogflow interaction data."
        },
        "endBoundary": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotationBoundary",
          "description": "The boundary in the conversation where the annotation ends, inclusive."
        },
        "startBoundary": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnnotationBoundary",
          "description": "The boundary in the conversation where the annotation starts, inclusive."
        },
        "answerFeedback": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1AnswerFeedback",
          "description": "The feedback that the customer has about the answer in `data`."
        },
        "createTime": {
          "description": "The time at which this annotation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "annotationId": {
          "type": "string",
          "description": "The unique identifier of the annotation. Format: projects/{project}/locations/{location}/conversationDatasets/{dataset}/conversationDataItems/{data_item}/conversationAnnotations/{annotation}"
        },
        "conversationSummarizationSuggestion": {
          "description": "Conversation summarization suggestion data.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationSummarizationSuggestionData"
        },
        "smartComposeSuggestion": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SmartComposeSuggestionData",
          "description": "Agent Assist Smart Compose suggestion data."
        },
        "articleSuggestion": {
          "description": "Agent Assist Article Suggestion data.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ArticleSuggestionData"
        },
        "faqAnswer": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1FaqAnswerData",
          "description": "Agent Assist FAQ answer data."
        }
      },
      "description": "An annotation that was generated during the customer and agent interaction.",
      "type": "object",
      "id": "GoogleCloudContactcenterinsightsV1alpha1RuntimeAnnotation"
    },
    "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegment": {
      "id": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegment",
      "properties": {
        "messageTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time that the message occurred, if provided."
        },
        "channelTag": {
          "type": "integer",
          "description": "For conversations derived from multi-channel audio, this is the channel number corresponding to the audio from that channel. For audioChannelCount = N, its output values can range from '1' to 'N'. A channel tag of 0 indicates that the audio is mono.",
          "format": "int32"
        },
        "confidence": {
          "format": "float",
          "description": "A confidence estimate between 0.0 and 1.0 of the fidelity of this segment. A default value of 0.0 indicates that the value is unset.",
          "type": "number"
        },
        "languageCode": {
          "type": "string",
          "description": "The language code of this segment as a [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag. Example: \"en-US\"."
        },
        "dialogflowSegmentMetadata": {
          "description": "CCAI metadata relating to the current transcript segment.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata"
        },
        "words": {
          "type": "array",
          "description": "A list of the word-specific information for each word in the segment.",
          "items": {
            "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentWordInfo"
          }
        },
        "text": {
          "type": "string",
          "description": "The text of this segment."
        },
        "sentiment": {
          "description": "The sentiment for this transcript segment.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1SentimentData"
        },
        "segmentParticipant": {
          "description": "The participant of this segment.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1ConversationParticipant"
        }
      },
      "type": "object",
      "description": "A segment of a full transcript."
    },
    "GoogleCloudContactcenterinsightsV1alpha1IssueModel": {
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which this issue model was created.",
          "type": "string",
          "readOnly": true
        },
        "modelType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified model type.",
            "Type V1.",
            "Type V2."
          ],
          "description": "Type of the model.",
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "TYPE_V1",
            "TYPE_V2"
          ]
        },
        "issueCount": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Number of issues in this issue model.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. State of the model.",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNDEPLOYED",
            "DEPLOYING",
            "DEPLOYED",
            "UNDEPLOYING",
            "DELETING"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Model is not deployed but is ready to deploy.",
            "Model is being deployed.",
            "Model is deployed and is ready to be used. A model can only be used in analysis if it's in this state.",
            "Model is being undeployed.",
            "Model is being deleted."
          ],
          "type": "string"
        },
        "trainingStats": {
          "readOnly": true,
          "description": "Output only. Immutable. The issue model's label statistics on its training data.",
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueModelLabelStats"
        },
        "languageCode": {
          "description": "Language of the model.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. The resource name of the issue model. Format: projects/{project}/locations/{location}/issueModels/{issue_model}",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The most recent time at which the issue model was updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "description": "The representative name for the issue model."
        },
        "inputDataConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1alpha1IssueModelInputDataConfig",
          "description": "Configs for the input data that used to create the issue model."
        }
      },
      "description": "The issue model resource.",
      "id": "GoogleCloudContactcenterinsightsV1alpha1IssueModel"
    },
    "GoogleCloudContactcenterinsightsV1IssueModel": {
      "type": "object",
      "description": "The issue model resource.",
      "properties": {
        "issueCount": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Number of issues in this issue model.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "The representative name for the issue model."
        },
        "inputDataConfig": {
          "$ref": "GoogleCloudContactcenterinsightsV1IssueModelInputDataConfig",
          "description": "Configs for the input data that used to create the issue model."
        },
        "trainingStats": {
          "$ref": "GoogleCloudContactcenterinsightsV1IssueModelLabelStats",
          "readOnly": true,
          "description": "Output only. Immutable. The issue model's label statistics on its training data."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the issue model. Format: projects/{project}/locations/{location}/issueModels/{issue_model}"
        },
        "languageCode": {
          "description": "Language of the model.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which this issue model was created."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified.",
            "Model is not deployed but is ready to deploy.",
            "Model is being deployed.",
            "Model is deployed and is ready to be used. A model can only be used in analysis if it's in this state.",
            "Model is being undeployed.",
            "Model is being deleted."
          ],
          "type": "string",
[...]
