{
  "rootUrl": "https://containeranalysis.googleapis.com/",
  "mtlsRootUrl": "https://containeranalysis.mtls.googleapis.com/",
  "id": "containeranalysis:v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "name": "containeranalysis",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "basePath": "",
  "schemas": {
    "NonCompliantFile": {
      "description": "Details about files that caused a compliance check to fail. display_command is a single command that can be used to display a list of non compliant files. When there is no such command, we can also iterate a list of non compliant file using 'path'.",
      "type": "object",
      "id": "NonCompliantFile",
      "properties": {
        "path": {
          "type": "string",
          "description": "Empty if `display_command` is set."
        },
        "reason": {
          "description": "Explains why a file is non compliant for a CIS check.",
          "type": "string"
        },
        "displayCommand": {
          "description": "Command to display the non-compliant files.",
          "type": "string"
        }
      }
    },
    "Hash": {
      "id": "Hash",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Required. The type of hash that was performed, e.g. \"SHA-256\"."
        },
        "value": {
          "type": "string",
          "format": "byte",
          "description": "Required. The hash value."
        }
      },
      "description": "Container message for hash values."
    },
    "RunDetails": {
      "type": "object",
      "id": "RunDetails",
      "properties": {
        "builder": {
          "$ref": "ProvenanceBuilder"
        },
        "metadata": {
          "$ref": "BuildMetadata"
        },
        "byproducts": {
          "items": {
            "$ref": "ResourceDescriptor"
          },
          "type": "array"
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildFailureInfo": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildFailureInfo",
      "properties": {
        "detail": {
          "type": "string",
          "description": "Explains the failure issue in more detail using hard-coded text."
        },
        "type": {
          "type": "string",
          "description": "The name of the failure.",
          "enum": [
            "FAILURE_TYPE_UNSPECIFIED",
            "PUSH_FAILED",
            "PUSH_IMAGE_NOT_FOUND",
            "PUSH_NOT_AUTHORIZED",
            "LOGGING_FAILURE",
            "USER_BUILD_STEP",
            "FETCH_SOURCE_FAILED"
          ],
          "enumDescriptions": [
            "Type unspecified",
            "Unable to push the image to the repository.",
            "Final image not found.",
            "Unauthorized push of the final image.",
            "Backend logging failures. Should retry.",
            "A build step has failed.",
            "The source fetching has failed."
          ]
        }
      },
      "description": "A fatal problem encountered during the execution of the build.",
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1Artifacts": {
      "description": "Artifacts produced by a build that should be uploaded upon successful completion of all build steps.",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1Artifacts",
      "type": "object",
      "properties": {
        "mavenArtifacts": {
          "description": "A list of Maven artifacts to be uploaded to Artifact Registry upon successful completion of all build steps. Artifacts in the workspace matching specified paths globs will be uploaded to the specified Artifact Registry repository using the builder service account's credentials. If any artifacts fail to be pushed, the build is marked FAILURE.",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsMavenArtifact"
          },
          "type": "array"
        },
        "npmPackages": {
          "description": "A list of npm packages to be uploaded to Artifact Registry upon successful completion of all build steps. Npm packages in the specified paths will be uploaded to the specified Artifact Registry repository using the builder service account's credentials. If any packages fail to be pushed, the build is marked FAILURE.",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsNpmPackage"
          },
          "type": "array"
        },
        "images": {
          "type": "array",
          "description": "A list of images to be pushed upon the successful completion of all build steps. The images will be pushed using the builder service account's credentials. The digests of the pushed images will be stored in the Build resource's results field. If any of the images fail to be pushed, the build is marked FAILURE.",
          "items": {
            "type": "string"
          }
        },
        "pythonPackages": {
          "description": "A list of Python packages to be uploaded to Artifact Registry upon successful completion of all build steps. The build service account credentials will be used to perform the upload. If any objects fail to be pushed, the build is marked FAILURE.",
          "type": "array",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsPythonPackage"
          }
        },
        "objects": {
          "description": "A list of objects to be uploaded to Cloud Storage upon successful completion of all build steps. Files in the workspace matching specified paths globs will be uploaded to the specified Cloud Storage location using the builder service account's credentials. The location and generation of the uploaded objects will be stored in the Build resource's results field. If any objects fail to be pushed, the build is marked FAILURE.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsArtifactObjects"
        }
      }
    },
    "Expr": {
      "properties": {
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        }
      },
      "id": "Expr",
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "FileHashes": {
      "type": "object",
      "id": "FileHashes",
      "properties": {
        "fileHash": {
          "items": {
            "$ref": "Hash"
          },
          "type": "array",
          "description": "Required. Collection of file hashes."
        }
      },
      "description": "Container message for hashes of byte content of files, used in source messages to verify integrity of source input to the build."
    },
    "BatchCreateNotesResponse": {
      "description": "Response for creating notes in batch.",
      "id": "BatchCreateNotesResponse",
      "type": "object",
      "properties": {
        "notes": {
          "description": "The notes that were created.",
          "items": {
            "$ref": "Note"
          },
          "type": "array"
        }
      }
    },
    "SlsaProvenanceV1": {
      "type": "object",
      "id": "SlsaProvenanceV1",
      "properties": {
        "runDetails": {
          "$ref": "RunDetails"
        },
        "buildDefinition": {
          "$ref": "BuildDefinition"
        }
      },
      "description": "Keep in sync with schema at https://github.com/slsa-framework/slsa/blob/main/docs/provenance/schema/v1/provenance.proto Builder renamed to ProvenanceBuilder because of Java conflicts."
    },
    "License": {
      "id": "License",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Often a single license can be used to represent the licensing terms. Sometimes it is necessary to include a choice of one or more licenses or some combination of license identifiers. Examples: \"LGPL-2.1-only OR MIT\", \"LGPL-2.1-only AND MIT\", \"GPL-2.0-or-later WITH Bison-exception-2.2\"."
        },
        "comments": {
          "type": "string",
          "description": "Comments"
        }
      },
      "type": "object",
      "description": "License information."
    },
    "ComplianceVersion": {
      "properties": {
        "version": {
          "type": "string",
          "description": "The version of the benchmark. This is set to the version of the OS-specific CIS document the benchmark is defined in."
        },
        "cpeUri": {
          "description": "The CPE URI (https://cpe.mitre.org/specification/) this benchmark is applicable to.",
          "type": "string"
        },
        "benchmarkDocument": {
          "type": "string",
          "description": "The name of the document that defines this benchmark, e.g. \"CIS Container-Optimized OS\"."
        }
      },
      "id": "ComplianceVersion",
      "type": "object",
      "description": "Describes the CIS benchmark version that is applicable to a given OS and os version."
    },
    "GetIamPolicyRequest": {
      "description": "Request message for `GetIamPolicy` method.",
      "type": "object",
      "id": "GetIamPolicyRequest",
      "properties": {
        "options": {
          "$ref": "GetPolicyOptions",
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1InlineSecret": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1InlineSecret",
      "type": "object",
      "description": "Pairs a set of secret environment variables mapped to encrypted values with the Cloud KMS key to use to decrypt the value.",
      "properties": {
        "envMap": {
          "description": "Map of environment variable name to its encrypted value. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step. Values can be at most 64 KB in size. There can be at most 100 secret values across all of a build's secrets.",
          "type": "object",
          "additionalProperties": {
            "format": "byte",
            "type": "string"
          }
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Resource name of Cloud KMS crypto key to decrypt the encrypted value. In format: projects/*/locations/*/keyRings/*/cryptoKeys/*"
        }
      }
    },
    "GitSourceContext": {
      "properties": {
        "url": {
          "type": "string",
          "description": "Git repository URL."
        },
        "revisionId": {
          "description": "Git commit hash.",
          "type": "string"
        }
      },
      "description": "A GitSourceContext denotes a particular revision in a third party Git repository (e.g., GitHub).",
      "type": "object",
      "id": "GitSourceContext"
    },
    "Detail": {
      "id": "Detail",
      "type": "object",
      "description": "A detail for a distro and package affected by this vulnerability and its associated fix (if one is available).",
      "properties": {
        "isObsolete": {
          "type": "boolean",
          "description": "Whether this detail is obsolete. Occurrences are expected not to point to obsolete details."
        },
        "vendor": {
          "type": "string",
          "description": "The name of the vendor of the product."
        },
        "fixedVersion": {
          "$ref": "Version",
          "description": "The distro recommended version to update to that contains a fix for this vulnerability. Setting this to VersionKind.MAXIMUM means no such version is yet available."
        },
        "affectedVersionStart": {
          "description": "The version number at the start of an interval in which this vulnerability exists. A vulnerability can affect a package between version numbers that are disjoint sets of intervals (example: [1.0.0-1.1.0], [2.4.6-2.4.8] and [4.5.6-4.6.8]) each of which will be represented in its own Detail. If a specific affected version is provided by a vulnerability database, affected_version_start and affected_version_end will be the same in that Detail.",
          "$ref": "Version"
        },
        "severityName": {
          "type": "string",
          "description": "The distro assigned severity of this vulnerability."
        },
        "affectedCpeUri": {
          "type": "string",
          "description": "Required. The [CPE URI](https://cpe.mitre.org/specification/) this vulnerability affects."
        },
        "fixedCpeUri": {
          "type": "string",
          "description": "The distro recommended [CPE URI](https://cpe.mitre.org/specification/) to update to that contains a fix for this vulnerability. It is possible for this to be different from the affected_cpe_uri."
        },
        "affectedPackage": {
          "type": "string",
          "description": "Required. The package this vulnerability affects."
        },
        "fixedPackage": {
          "type": "string",
          "description": "The distro recommended package to update to that contains a fix for this vulnerability. It is possible for this to be different from the affected_package."
        },
        "description": {
          "description": "A vendor-specific description of this vulnerability.",
          "type": "string"
        },
        "affectedVersionEnd": {
          "$ref": "Version",
          "description": "The version number at the end of an interval in which this vulnerability exists. A vulnerability can affect a package between version numbers that are disjoint sets of intervals (example: [1.0.0-1.1.0], [2.4.6-2.4.8] and [4.5.6-4.6.8]) each of which will be represented in its own Detail. If a specific affected version is provided by a vulnerability database, affected_version_start and affected_version_end will be the same in that Detail."
        },
        "sourceUpdateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time this information was last changed at the source. This is an upstream timestamp from the underlying information source - e.g. Ubuntu security tracker."
        },
        "packageType": {
          "type": "string",
          "description": "The type of package; whether native or non native (e.g., ruby gems, node.js packages, etc.)."
        },
        "source": {
          "type": "string",
          "description": "The source from which the information in this Detail was obtained."
        }
      }
    },
    "PackageIssue": {
      "properties": {
        "packageType": {
          "type": "string",
          "description": "The type of package (e.g. OS, MAVEN, GO)."
        },
        "fixAvailable": {
          "type": "boolean",
          "description": "Output only. Whether a fix is available for this package."
        },
        "affectedCpeUri": {
          "description": "Required. The [CPE URI](https://cpe.mitre.org/specification/) this vulnerability was found in.",
          "type": "string"
        },
        "fixedPackage": {
          "description": "The package this vulnerability was fixed in. It is possible for this to be different from the affected_package.",
          "type": "string"
        },
        "effectiveSeverity": {
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "description": "Output only. The distro or language system assigned severity for this vulnerability when that is available and note provider assigned severity when it is not available.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "readOnly": true,
          "type": "string"
        },
        "fileLocation": {
          "description": "The location at which this package was found.",
          "items": {
            "$ref": "GrafeasV1FileLocation"
          },
          "type": "array"
        },
        "affectedVersion": {
          "description": "Required. The version of the package that is installed on the resource affected by this vulnerability.",
          "$ref": "Version"
        },
        "affectedPackage": {
          "description": "Required. The package this vulnerability was found in.",
          "type": "string"
        },
        "fixedCpeUri": {
          "type": "string",
          "description": "The [CPE URI](https://cpe.mitre.org/specification/) this vulnerability was fixed in. It is possible for this to be different from the affected_cpe_uri."
        },
        "fixedVersion": {
          "description": "Required. The version of the package this vulnerability was fixed in. Setting this to VersionKind.MAXIMUM means no fix is yet available.",
          "$ref": "Version"
        }
      },
      "id": "PackageIssue",
      "type": "object",
      "description": "A detail for a distro and package this vulnerability occurrence was found in and its associated fix (if one is available)."
    },
    "DiscoveryOccurrence": {
      "properties": {
        "lastScanTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The last time this resource was scanned."
        },
        "archiveTime": {
          "type": "string",
          "description": "Output only. The time occurrences related to this discovery occurrence were archived.",
          "format": "google-datetime",
          "readOnly": true
        },
        "analysisCompleted": {
          "$ref": "AnalysisCompleted"
        },
        "cpe": {
          "description": "The CPE of the resource being scanned.",
          "type": "string"
        },
        "analysisStatus": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Resource is known but no action has been taken yet.",
            "Resource is being analyzed.",
            "Analysis has finished successfully.",
            "Analysis has completed.",
            "Analysis has finished unsuccessfully, the analysis itself is in a bad state.",
            "The resource is known not to be supported."
          ],
          "description": "The status of discovery for the resource.",
          "enum": [
            "ANALYSIS_STATUS_UNSPECIFIED",
            "PENDING",
            "SCANNING",
            "FINISHED_SUCCESS",
            "COMPLETE",
            "FINISHED_FAILED",
            "FINISHED_UNSUPPORTED"
          ]
        },
        "continuousAnalysis": {
          "enum": [
            "CONTINUOUS_ANALYSIS_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "Unknown.",
            "The resource is continuously analyzed.",
            "The resource is ignored for continuous analysis."
          ],
          "type": "string",
          "description": "Whether the resource is continuously analyzed."
        },
        "sbomStatus": {
          "description": "The status of an SBOM generation.",
          "$ref": "SBOMStatus"
        },
        "analysisError": {
          "type": "array",
          "description": "Indicates any errors encountered during analysis of a resource. There could be 0 or more of these errors.",
          "items": {
            "$ref": "Status"
          }
        },
        "analysisStatusError": {
          "$ref": "Status",
          "description": "When an error is encountered this will contain a LocalizedMessage under details to show to the user. The LocalizedMessage is output only and populated by the API."
        }
      },
      "type": "object",
      "description": "Provides information about the analysis status of a discovered resource.",
      "id": "DiscoveryOccurrence"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1Results": {
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1Results",
      "description": "Artifacts created by the build pipeline.",
      "properties": {
        "numArtifacts": {
          "type": "string",
          "description": "Number of non-container artifacts uploaded to Cloud Storage. Only populated when artifacts are uploaded to Cloud Storage.",
          "format": "int64"
        },
        "artifactTiming": {
          "description": "Time to push all non-container artifacts to Cloud Storage.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan"
        },
        "pythonPackages": {
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1UploadedPythonPackage"
          },
          "description": "Python artifacts uploaded to Artifact Registry at the end of the build.",
          "type": "array"
        },
        "images": {
          "type": "array",
          "description": "Container images that were built as a part of the build.",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuiltImage"
          }
        },
        "artifactManifest": {
          "type": "string",
          "description": "Path to the artifact manifest for non-container artifacts uploaded to Cloud Storage. Only populated when artifacts are uploaded to Cloud Storage."
        },
        "buildStepImages": {
          "items": {
            "type": "string"
          },
          "description": "List of build step digests, in the order corresponding to build step indices.",
          "type": "array"
        },
        "buildStepOutputs": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "byte"
          },
          "description": "List of build step outputs, produced by builder images, in the order corresponding to build step indices. [Cloud Builders](https://cloud.google.com/cloud-build/docs/cloud-builders) can produce this output by writing to `$BUILDER_OUTPUT/output`. Only the first 50KB of data is stored."
        },
        "mavenArtifacts": {
          "type": "array",
          "description": "Maven artifacts uploaded to Artifact Registry at the end of the build.",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1UploadedMavenArtifact"
          }
        },
        "npmPackages": {
          "description": "Npm packages uploaded to Artifact Registry at the end of the build.",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1UploadedNpmPackage"
          },
          "type": "array"
        }
      }
    },
    "Identity": {
      "id": "Identity",
      "description": "The unique identifier of the update.",
      "type": "object",
      "properties": {
        "revision": {
          "format": "int32",
          "type": "integer",
          "description": "The revision number of the update."
        },
        "updateId": {
          "type": "string",
          "description": "The revision independent identifier of the update."
        }
      }
    },
    "TimeSpan": {
      "description": "Start and end times for a build execution phase. Next ID: 3",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Start of time span.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "End of time span.",
          "format": "google-datetime"
        }
      },
      "id": "TimeSpan"
    },
    "CisBenchmark": {
      "properties": {
        "profileLevel": {
          "format": "int32",
          "type": "integer"
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ]
        }
      },
      "id": "CisBenchmark",
      "type": "object",
      "description": "A compliance check that is a CIS benchmark."
    },
    "AttestationNote": {
      "id": "AttestationNote",
      "description": "Note kind that represents a logical attestation \"role\" or \"authority\". For example, an organization might have one `Authority` for \"QA\" and one for \"build\". This note is intended to act strictly as a grouping mechanism for the attached occurrences (Attestations). This grouping mechanism also provides a security boundary, since IAM ACLs gate the ability for a principle to attach an occurrence to a given note. It also provides a single point of lookup to find all attached attestation occurrences, even if they don't all live in the same project.",
      "properties": {
        "hint": {
          "$ref": "Hint",
          "description": "Hint hints at the purpose of the attestation authority."
        }
      },
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildApproval": {
      "description": "BuildApproval describes a build's approval configuration, state, and result.",
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. The state of this build's approval.",
          "enumDescriptions": [
            "Default enum type. This should not be used.",
            "Build approval is pending.",
            "Build approval has been approved.",
            "Build approval has been rejected.",
            "Build was cancelled while it was still pending approval."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "APPROVED",
            "REJECTED",
            "CANCELLED"
          ],
          "readOnly": true
        },
        "result": {
          "readOnly": true,
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalResult",
          "description": "Output only. Result of manual approval for this Build."
        },
        "config": {
          "description": "Output only. Configuration for manual approval of this build.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalConfig",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildApproval"
    },
    "VulnerabilityOccurrence": {
      "id": "VulnerabilityOccurrence",
      "properties": {
        "cvssv3": {
          "description": "The cvss v3 score for the vulnerability.",
          "$ref": "CVSS"
        },
        "cvssVersion": {
          "description": "Output only. CVSS version used to populate cvss_score and severity.",
          "enum": [
            "CVSS_VERSION_UNSPECIFIED",
            "CVSS_VERSION_2",
            "CVSS_VERSION_3"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "vexAssessment": {
          "$ref": "VexAssessment"
        },
        "packageIssue": {
          "type": "array",
          "items": {
            "$ref": "PackageIssue"
          },
          "description": "Required. The set of affected locations and their fixes (if available) within the associated resource."
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "description": "Output only. The note provider assigned severity of this vulnerability.",
          "type": "string"
        },
        "cvssScore": {
          "description": "Output only. The CVSS score of this vulnerability. CVSS score is on a scale of 0 - 10 where 0 indicates low severity and 10 indicates high severity.",
          "format": "float",
          "type": "number"
        },
        "fixAvailable": {
          "type": "boolean",
          "description": "Output only. Whether at least one of the affected packages has a fix available."
        },
        "effectiveSeverity": {
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "The distro assigned severity for this vulnerability when it is available, otherwise this is the note provider assigned severity. When there are multiple PackageIssues for this vulnerability, they can have different effective severities because some might be provided by the distro while others are provided by the language ecosystem for a language pack. For this reason, it is advised to use the effective severity on the PackageIssue level. In the case where multiple PackageIssues have differing effective severities, this field should be the highest severity for any of the PackageIssues."
        },
        "relatedUrls": {
          "type": "array",
          "items": {
            "$ref": "RelatedUrl"
          },
          "description": "Output only. URLs related to this vulnerability."
        },
        "longDescription": {
          "description": "Output only. A detailed description of this vulnerability.",
          "type": "string"
        },
        "type": {
          "description": "The type of package; whether native or non native (e.g., ruby gems, node.js packages, etc.).",
          "type": "string"
        },
        "cvssV2": {
          "$ref": "CVSS",
          "description": "The cvss v2 score for the vulnerability."
        },
        "shortDescription": {
          "description": "Output only. A one sentence description of this vulnerability.",
          "type": "string"
        }
      },
      "description": "An occurrence of a severity vulnerability on a resource.",
      "type": "object"
    },
    "ProjectRepoId": {
      "description": "Selects a repo using a Google Cloud Platform project ID (e.g., winged-cargo-31) and a repo name within that project.",
      "properties": {
        "repoName": {
          "type": "string",
          "description": "The name of the repo. Leave empty for the default repo."
        },
        "projectId": {
          "type": "string",
          "description": "The ID of the project."
        }
      },
      "id": "ProjectRepoId",
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1Volume": {
      "description": "Volume describes a Docker container volume which is mounted into build steps in order to persist files across build step execution.",
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1Volume",
      "properties": {
        "path": {
          "type": "string",
          "description": "Path at which to mount the volume. Paths must be absolute and cannot conflict with other volume paths on the same build step or with certain reserved volume paths."
        },
        "name": {
          "description": "Name of the volume to mount. Volume names must be unique per build step and must be valid names for Docker volumes. Each named volume must be used by at least two build steps.",
          "type": "string"
        }
      }
    },
    "DSSEAttestationOccurrence": {
      "id": "DSSEAttestationOccurrence",
      "properties": {
        "envelope": {
          "$ref": "Envelope",
          "description": "If doing something security critical, make sure to verify the signatures in this metadata."
        },
        "statement": {
          "$ref": "InTotoStatement"
        }
      },
      "description": "Deprecated. Prefer to use a regular Occurrence, and populate the Envelope at the top level of the Occurrence.",
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsMavenArtifact": {
      "description": "A Maven artifact to upload to Artifact Registry upon successful completion of all build steps.",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsMavenArtifact",
      "properties": {
        "groupId": {
          "description": "Maven `groupId` value used when uploading the artifact to Artifact Registry.",
          "type": "string"
        },
        "artifactId": {
          "type": "string",
          "description": "Maven `artifactId` value used when uploading the artifact to Artifact Registry."
        },
        "repository": {
          "type": "string",
          "description": "Artifact Registry repository, in the form \"https://$REGION-maven.pkg.dev/$PROJECT/$REPOSITORY\" Artifact in the workspace specified by path will be uploaded to Artifact Registry with this location as a prefix."
        },
        "version": {
          "description": "Maven `version` value used when uploading the artifact to Artifact Registry.",
          "type": "string"
        },
        "path": {
          "description": "Path to an artifact in the build's workspace to be uploaded to Artifact Registry. This can be either an absolute path, e.g. /workspace/my-app/target/my-app-1.0.SNAPSHOT.jar or a relative path from /workspace, e.g. my-app/target/my-app-1.0.SNAPSHOT.jar.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Note": {
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this note was last updated. This field can be used as a filter in list requests."
        },
        "expirationTime": {
          "description": "Time of expiration for this note. Empty if note does not expire.",
          "format": "google-datetime",
          "type": "string"
        },
        "image": {
          "$ref": "ImageNote",
          "description": "A note describing a base image."
        },
        "discovery": {
          "$ref": "DiscoveryNote",
          "description": "A note describing the initial analysis of a resource."
        },
        "relatedNoteNames": {
          "type": "array",
          "description": "Other notes related to this note.",
          "items": {
            "type": "string"
          }
        },
        "deployment": {
          "description": "A note describing something that can be deployed.",
          "$ref": "DeploymentNote"
        },
        "vulnerability": {
          "description": "A note describing a package vulnerability.",
          "$ref": "VulnerabilityNote"
        },
        "shortDescription": {
          "type": "string",
          "description": "A one sentence description of this note."
        },
        "build": {
          "$ref": "BuildNote",
          "description": "A note describing build provenance for a verifiable build."
        },
        "upgrade": {
          "$ref": "UpgradeNote",
          "description": "A note describing available package upgrades."
        },
        "package": {
          "description": "A note describing a package hosted by various package managers.",
          "$ref": "PackageNote"
        },
        "dsseAttestation": {
          "description": "A note describing a dsse attestation note.",
          "$ref": "DSSEAttestationNote"
        },
        "relatedUrl": {
          "items": {
            "$ref": "RelatedUrl"
          },
          "description": "URLs associated with this note.",
          "type": "array"
        },
        "name": {
          "description": "Output only. The name of the note in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`.",
          "type": "string"
        },
        "compliance": {
          "$ref": "ComplianceNote",
          "description": "A note describing a compliance check."
        },
        "sbomReference": {
          "$ref": "SBOMReferenceNote",
          "description": "A note describing an SBOM reference."
        },
        "vulnerabilityAssessment": {
          "$ref": "VulnerabilityAssessmentNote",
          "description": "A note describing a vulnerability assessment."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this note was created. This field can be used as a filter in list requests."
        },
        "longDescription": {
          "description": "A detailed description of this note.",
          "type": "string"
        },
        "kind": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The note and occurrence represent a package vulnerability.",
            "The note and occurrence assert build provenance.",
            "This represents an image basis relationship.",
            "This represents a package installed via a package manager.",
            "The note and occurrence track deployment events.",
            "The note and occurrence track the initial discovery status of a resource.",
            "This represents a logical \"role\" that can attest to artifacts.",
            "This represents an available package upgrade.",
            "This represents a Compliance Note",
            "This represents a DSSE attestation Note",
            "This represents a Vulnerability Assessment.",
            "This represents an SBOM Reference."
          ],
          "enum": [
            "NOTE_KIND_UNSPECIFIED",
            "VULNERABILITY",
            "BUILD",
            "IMAGE",
            "PACKAGE",
            "DEPLOYMENT",
            "DISCOVERY",
            "ATTESTATION",
            "UPGRADE",
            "COMPLIANCE",
            "DSSE_ATTESTATION",
            "VULNERABILITY_ASSESSMENT",
            "SBOM_REFERENCE"
          ],
          "type": "string",
          "description": "Output only. The type of analysis. This field can be used as a filter in list requests."
        },
        "attestation": {
          "$ref": "AttestationNote",
          "description": "A note describing an attestation role."
        }
      },
      "type": "object",
      "id": "Note",
      "description": "A type of analysis that can be done for a resource."
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaBuilder": {
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "description": "Identifies the entity that executed the recipe, which is trusted to have correctly performed the operation and populated this provenance.",
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaBuilder",
      "type": "object"
    },
    "ComplianceOccurrence": {
      "id": "ComplianceOccurrence",
      "type": "object",
      "description": "An indication that the compliance checks in the associated ComplianceNote were not satisfied for particular resources or a specified reason.",
      "properties": {
        "nonCompliantFiles": {
          "items": {
            "$ref": "NonCompliantFile"
          },
          "type": "array"
        },
        "nonComplianceReason": {
          "type": "string"
        }
      }
    },
    "VexAssessment": {
      "id": "VexAssessment",
      "type": "object",
      "description": "VexAssessment provides all publisher provided Vex information that is related to this vulnerability.",
      "properties": {
        "impacts": {
          "description": "Contains information about the impact of this vulnerability, this will change with time.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "noteName": {
          "type": "string",
          "description": "The VulnerabilityAssessment note from which this VexAssessment was generated. This will be of the form: `projects/[PROJECT_ID]/notes/[NOTE_ID]`."
        },
        "vulnerabilityId": {
          "description": "The vulnerability identifier for this Assessment. Will hold one of common identifiers e.g. CVE, GHSA etc.",
          "type": "string"
        },
        "remediations": {
          "description": "Specifies details on how to handle (and presumably, fix) a vulnerability.",
          "items": {
            "$ref": "Remediation"
          },
          "type": "array"
        },
        "relatedUris": {
          "description": "Holds a list of references associated with this vulnerability item and assessment.",
          "items": {
            "$ref": "RelatedUrl"
          },
          "type": "array"
        },
        "cve": {
          "type": "string",
          "deprecated": true,
          "description": "Holds the MITRE standard Common Vulnerabilities and Exposures (CVE) tracking number for the vulnerability. Deprecated: Use vulnerability_id instead to denote CVEs."
        },
        "justification": {
          "description": "Justification provides the justification when the state of the assessment if NOT_AFFECTED.",
          "$ref": "Justification"
        },
        "state": {
          "enumDescriptions": [
            "No state is specified.",
            "This product is known to be affected by this vulnerability.",
            "This product is known to be not affected by this vulnerability.",
            "This product contains a fix for this vulnerability.",
            "It is not known yet whether these versions are or are not affected by the vulnerability. However, it is still under investigation."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "AFFECTED",
            "NOT_AFFECTED",
            "FIXED",
            "UNDER_INVESTIGATION"
          ],
          "description": "Provides the state of this Vulnerability assessment.",
          "type": "string"
        }
      }
    },
    "VulnerabilityNote": {
      "id": "VulnerabilityNote",
      "description": "A security vulnerability that can be found in resources.",
      "type": "object",
      "properties": {
        "severity": {
          "description": "The note provider assigned severity of this vulnerability.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "type": "string"
        },
        "sourceUpdateTime": {
          "type": "string",
          "description": "The time this information was last changed at the source. This is an upstream timestamp from the underlying information source - e.g. Ubuntu security tracker.",
          "format": "google-datetime"
        },
        "cvssVersion": {
          "enum": [
            "CVSS_VERSION_UNSPECIFIED",
            "CVSS_VERSION_2",
            "CVSS_VERSION_3"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "CVSS version used to populate cvss_score and severity."
        },
        "details": {
          "type": "array",
          "description": "Details of all known distros and packages affected by this vulnerability.",
          "items": {
            "$ref": "Detail"
          }
        },
        "extraDetails": {
          "type": "string",
          "description": "Occurrence-specific extra details about the vulnerability."
        },
        "cvssV3": {
          "description": "The full description of the CVSSv3 for this vulnerability.",
          "$ref": "CVSSv3"
        },
        "windowsDetails": {
          "type": "array",
          "items": {
            "$ref": "WindowsDetail"
          },
          "description": "Windows details get their own format because the information format and model don't match a normal detail. Specifically Windows updates are done as patches, thus Windows vulnerabilities really are a missing package, rather than a package being at an incorrect version."
        },
        "cvssScore": {
          "type": "number",
          "format": "float",
          "description": "The CVSS score of this vulnerability. CVSS score is on a scale of 0 - 10 where 0 indicates low severity and 10 indicates high severity."
        },
        "cvssV2": {
          "$ref": "CVSS",
          "description": "The full description of the v2 CVSS for this vulnerability."
        }
      }
    },
    "ResourceDescriptor": {
      "id": "ResourceDescriptor",
      "type": "object",
      "properties": {
        "downloadLocation": {
          "type": "string"
        },
        "mediaType": {
          "type": "string"
        },
        "content": {
          "format": "byte",
          "type": "string"
        },
        "digest": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "annotations": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "name": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      }
    },
    "SlsaCompleteness": {
      "description": "Indicates that the builder claims certain fields in this message to be complete.",
      "properties": {
        "materials": {
          "description": "If true, the builder claims that materials are complete, usually through some controls to prevent network access. Sometimes called \"hermetic\".",
          "type": "boolean"
        },
        "arguments": {
          "description": "If true, the builder claims that recipe.arguments is complete, meaning that all external inputs are properly captured in the recipe.",
          "type": "boolean"
        },
        "environment": {
          "description": "If true, the builder claims that recipe.environment is claimed to be complete.",
          "type": "boolean"
        }
      },
      "id": "SlsaCompleteness",
      "type": "object"
    },
    "GetPolicyOptions": {
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "id": "GetPolicyOptions"
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "type": "object",
      "description": "Request message for `SetIamPolicy` method."
    },
    "SlsaRecipe": {
      "type": "object",
      "description": "Steps taken to build the artifact. For a TaskRun, typically each container corresponds to one step in the recipe.",
      "id": "SlsaRecipe",
      "properties": {
        "type": {
          "description": "URI indicating what type of recipe was performed. It determines the meaning of recipe.entryPoint, recipe.arguments, recipe.environment, and materials.",
          "type": "string"
        },
        "entryPoint": {
          "description": "String identifying the entry point into the build. This is often a path to a configuration file and/or a target label within that file. The syntax and meaning are defined by recipe.type. For example, if the recipe type were \"make\", then this would reference the directory in which to run make as well as which target to use.",
          "type": "string"
        },
        "arguments": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Collection of all external inputs that influenced the build on top of recipe.definedInMaterial and recipe.entryPoint. For example, if the recipe type were \"make\", then this might be the flags passed to make aside from the target, which is captured in recipe.entryPoint. Depending on the recipe Type, the structure may be different."
        },
        "environment": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Any other builder-controlled inputs necessary for correctly evaluating the recipe. Usually only needed for reproducing the build but not evaluated as part of policy. Depending on the recipe Type, the structure may be different."
        },
        "definedInMaterial": {
          "format": "int64",
          "description": "Index in materials containing the recipe steps that are not implied by recipe.type. For example, if the recipe type were \"make\", then this would point to the source containing the Makefile, not the make program itself. Set to -1 if the recipe doesn't come from a material, as zero is default unset value for int64.",
          "type": "string"
        }
      }
    },
    "AliasContext": {
      "type": "object",
      "id": "AliasContext",
      "description": "An alias to a repo revision.",
      "properties": {
        "kind": {
          "description": "The alias kind.",
          "enumDescriptions": [
            "Unknown.",
            "Git tag.",
            "Git branch.",
            "Used to specify non-standard aliases. For example, if a Git repo has a ref named \"refs/foo/bar\"."
          ],
          "type": "string",
          "enum": [
            "KIND_UNSPECIFIED",
            "FIXED",
            "MOVABLE",
            "OTHER"
          ]
        },
        "name": {
          "description": "The alias name.",
          "type": "string"
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptionsPoolOption": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptionsPoolOption",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The `WorkerPool` resource to execute the build on. You must have `cloudbuild.workerpools.use` on the project hosting the WorkerPool. Format projects/{project}/locations/{location}/workerPools/{workerPoolId}"
        }
      },
      "description": "Details about how a build should be executed on a `WorkerPool`. See [running builds in a private pool](https://cloud.google.com/build/docs/private-pools/run-builds-in-private-pool) for more information."
    },
    "ListNoteOccurrencesResponse": {
      "description": "Response for listing occurrences for a note.",
      "id": "ListNoteOccurrencesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to provide to skip to a particular spot in the list.",
          "type": "string"
        },
        "occurrences": {
          "type": "array",
          "items": {
            "$ref": "Occurrence"
          },
          "description": "The occurrences attached to the specified note."
        }
      },
      "type": "object"
    },
    "AnalysisCompleted": {
      "id": "AnalysisCompleted",
      "type": "object",
      "properties": {
        "analysisType": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Indicates which analysis completed successfully. Multiple types of analysis can be performed on a single resource."
    },
    "Completeness": {
      "type": "object",
      "description": "Indicates that the builder claims certain fields in this message to be complete.",
      "properties": {
        "materials": {
          "type": "boolean",
          "description": "If true, the builder claims that materials are complete, usually through some controls to prevent network access. Sometimes called \"hermetic\"."
        },
        "environment": {
          "description": "If true, the builder claims that recipe.environment is claimed to be complete.",
          "type": "boolean"
        },
        "arguments": {
          "description": "If true, the builder claims that recipe.arguments is complete, meaning that all external inputs are properly captured in the recipe.",
          "type": "boolean"
        }
      },
      "id": "Completeness"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1GitSource": {
      "properties": {
        "dir": {
          "type": "string",
          "description": "Directory, relative to the source root, in which to run the build. This must be a relative path. If a step's `dir` is specified and is an absolute path, this value is ignored for that step's execution."
        },
        "revision": {
          "description": "The revision to fetch from the Git repository such as a branch, a tag, a commit SHA, or any Git ref. Cloud Build uses `git fetch` to fetch the revision from the Git repository; therefore make sure that the string you provide for `revision` is parsable by the command. For information on string values accepted by `git fetch`, see https://git-scm.com/docs/gitrevisions#_specifying_revisions. For information on `git fetch`, see https://git-scm.com/docs/git-fetch.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "Location of the Git repo to build. This will be used as a `git remote`, see https://git-scm.com/docs/git-remote."
        }
      },
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1GitSource",
      "description": "Location of the source in any accessible Git repository.",
      "type": "object"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSourceManifest": {
      "properties": {
        "bucket": {
          "description": "Cloud Storage bucket containing the source manifest (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)).",
          "type": "string"
        },
        "object": {
          "type": "string",
          "description": "Cloud Storage object containing the source manifest. This object must be a JSON file."
        },
        "generation": {
          "description": "Cloud Storage generation for the object. If the generation is omitted, the latest generation will be used.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Location of the source manifest in Cloud Storage. This feature is in Preview; see description [here](https://github.com/GoogleCloudPlatform/cloud-builders/tree/master/gcs-fetcher).",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSourceManifest"
    },
    "SBOMReferenceOccurrence": {
      "type": "object",
      "properties": {
        "signatures": {
          "description": "The signatures over the payload.",
          "items": {
            "$ref": "EnvelopeSignature"
          },
          "type": "array"
        },
        "payloadType": {
          "type": "string",
          "description": "The kind of payload that SbomReferenceIntotoPayload takes. Since it's in the intoto format, this value is expected to be 'application/vnd.in-toto+json'."
        },
        "payload": {
          "description": "The actual payload that contains the SBOM reference data.",
          "$ref": "SbomReferenceIntotoPayload"
        }
      },
      "description": "The occurrence representing an SBOM reference as applied to a specific resource. The occurrence follows the DSSE specification. See https://github.com/secure-systems-lab/dsse/blob/master/envelope.md for more details.",
      "id": "SBOMReferenceOccurrence"
    },
    "ComplianceNote": {
      "type": "object",
      "id": "ComplianceNote",
      "properties": {
        "scanInstructions": {
          "format": "byte",
          "type": "string",
          "description": "Serialized scan instructions with a predefined format."
        },
        "rationale": {
          "description": "A rationale for the existence of this compliance check.",
          "type": "string"
        },
        "version": {
          "type": "array",
          "description": "The OS and config versions the benchmark applies to.",
          "items": {
            "$ref": "ComplianceVersion"
          }
        },
        "remediation": {
          "type": "string",
          "description": "A description of remediation steps if the compliance check fails."
        },
        "title": {
          "description": "The title that identifies this compliance check.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A description about this compliance check."
        },
        "cisBenchmark": {
          "$ref": "CisBenchmark"
        }
      }
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaMaterial": {
      "description": "The collection of artifacts that influenced the build including sources, dependencies, build tools, base images, and so on.",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        },
        "digest": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaMaterial"
    },
    "SourceContext": {
      "properties": {
        "gerrit": {
          "$ref": "GerritSourceContext",
          "description": "A SourceContext referring to a Gerrit project."
        },
        "git": {
          "$ref": "GitSourceContext",
          "description": "A SourceContext referring to any third party Git repo (e.g., GitHub)."
        },
        "cloudRepo": {
          "description": "A SourceContext referring to a revision in a Google Cloud Source Repo.",
          "$ref": "CloudRepoSourceContext"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels with user defined metadata.",
          "type": "object"
        }
      },
      "id": "SourceContext",
      "type": "object",
      "description": "A SourceContext is a reference to a tree of files. A SourceContext together with a path point to a unique revision of a single file or directory."
    },
    "BatchCreateOccurrencesRequest": {
      "id": "BatchCreateOccurrencesRequest",
      "properties": {
        "occurrences": {
          "items": {
            "$ref": "Occurrence"
          },
          "description": "Required. The occurrences to create. Max allowed length is 1000.",
          "type": "array"
        }
      },
      "description": "Request to create occurrences in batch.",
      "type": "object"
    },
    "BuildNote": {
      "properties": {
        "builderVersion": {
          "description": "Required. Immutable. Version of the builder which produced this build.",
          "type": "string"
        }
      },
      "description": "Note holding the version of the provider's builder and the signature of the provenance message in the build details occurrence.",
      "type": "object",
      "id": "BuildNote"
    },
    "RepoId": {
      "description": "A unique identifier for a Cloud Repo.",
      "properties": {
        "uid": {
          "type": "string",
          "description": "A server-assigned, globally unique identifier."
        },
        "projectRepoId": {
          "$ref": "ProjectRepoId",
          "description": "A combination of a project ID and a repo name."
        }
      },
      "type": "object",
      "id": "RepoId"
    },
    "Artifact": {
      "id": "Artifact",
      "properties": {
        "id": {
          "type": "string",
          "description": "Artifact ID, if any; for container images, this will be a URL by digest like `gcr.io/projectID/imagename@sha256:123456`."
        },
        "checksum": {
          "type": "string",
          "description": "Hash or checksum value of a binary, or Docker Registry 2.0 digest of a container."
        },
        "names": {
          "description": "Related artifact names. This may be the path to a binary or jar file, or in the case of a container build, the name used to push the container image to Google Container Registry, as presented to `docker push`. Note that a single Artifact ID can have multiple names, for example if two tags are applied to one image.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Artifact describes a build product.",
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1BuiltImage": {
      "description": "An image built by the pipeline.",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuiltImage",
      "type": "object",
      "properties": {
        "pushTiming": {
          "description": "Output only. Stores timing information for pushing the specified image.",
          "readOnly": true,
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan"
        },
        "name": {
          "type": "string",
          "description": "Name used to push the container image to Google Container Registry, as presented to `docker push`."
        },
        "digest": {
          "type": "string",
          "description": "Docker Registry 2.0 digest."
        }
      }
    },
    "Envelope": {
      "id": "Envelope",
      "type": "object",
      "description": "MUST match https://github.com/secure-systems-lab/dsse/blob/master/envelope.proto. An authenticated message of arbitrary type.",
      "properties": {
        "payloadType": {
          "type": "string"
        },
        "payload": {
          "type": "string",
          "format": "byte"
        },
        "signatures": {
          "items": {
            "$ref": "EnvelopeSignature"
          },
          "type": "array"
        }
      }
    },
    "InTotoProvenance": {
      "type": "object",
      "id": "InTotoProvenance",
      "properties": {
        "builderConfig": {
          "$ref": "BuilderConfig",
          "description": "required"
        },
        "metadata": {
          "$ref": "Metadata"
        },
        "recipe": {
          "$ref": "Recipe",
          "description": "Identifies the configuration used for the build. When combined with materials, this SHOULD fully describe the build, such that re-running this recipe results in bit-for-bit identical output (if the build is reproducible). required"
        },
        "materials": {
          "items": {
            "type": "string"
          },
          "description": "The collection of artifacts that influenced the build including sources, dependencies, build tools, base images, and so on. This is considered to be incomplete unless metadata.completeness.materials is true. Unset or null is equivalent to empty.",
          "type": "array"
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsNpmPackage": {
      "description": "Npm package to upload to Artifact Registry upon successful completion of all build steps.",
      "properties": {
        "repository": {
          "type": "string",
          "description": "Artifact Registry repository, in the form \"https://$REGION-npm.pkg.dev/$PROJECT/$REPOSITORY\" Npm package in the workspace specified by path will be zipped and uploaded to Artifact Registry with this location as a prefix."
        },
        "packagePath": {
          "description": "Path to the package.json. e.g. workspace/path/to/package",
          "type": "string"
        }
      },
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsNpmPackage",
      "type": "object"
    },
    "ProvenanceBuilder": {
      "properties": {
        "id": {
          "type": "string"
        },
        "builderDependencies": {
          "items": {
            "$ref": "ResourceDescriptor"
          },
          "type": "array"
        },
        "version": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "ProvenanceBuilder"
    },
    "Occurrence": {
      "description": "An instance of an analysis type that has been found on a resource.",
      "id": "Occurrence",
      "type": "object",
      "properties": {
        "attestation": {
          "$ref": "AttestationOccurrence",
          "description": "Describes an attestation of an artifact."
        },
        "upgrade": {
          "description": "Describes an available package upgrade on the linked resource.",
          "$ref": "UpgradeOccurrence"
        },
        "name": {
          "description": "Output only. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`.",
          "type": "string"
        },
        "vulnerability": {
          "description": "Describes a security vulnerability.",
          "$ref": "VulnerabilityOccurrence"
        },
        "envelope": {
          "$ref": "Envelope",
          "description": "https://github.com/secure-systems-lab/dsse"
        },
        "deployment": {
          "$ref": "DeploymentOccurrence",
          "description": "Describes the deployment of an artifact on a runtime."
        },
        "image": {
          "$ref": "ImageOccurrence",
          "description": "Describes how this resource derives from the basis in the associated note."
        },
        "discovery": {
          "$ref": "DiscoveryOccurrence",
          "description": "Describes when a resource was discovered."
        },
        "remediation": {
          "description": "A description of actions that can be taken to remedy the note.",
          "type": "string"
        },
        "resourceUri": {
          "type": "string",
          "description": "Required. Immutable. A URI that represents the resource for which the occurrence applies. For example, `https://gcr.io/project/image@sha256:123abc` for a Docker image."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time this occurrence was created.",
          "format": "google-datetime"
        },
        "kind": {
          "type": "string",
          "description": "Output only. This explicitly denotes which of the occurrence details are specified. This field can be used as a filter in list requests.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The note and occurrence represent a package vulnerability.",
            "The note and occurrence assert build provenance.",
            "This represents an image basis relationship.",
            "This represents a package installed via a package manager.",
            "The note and occurrence track deployment events.",
            "The note and occurrence track the initial discovery status of a resource.",
            "This represents a logical \"role\" that can attest to artifacts.",
            "This represents an available package upgrade.",
            "This represents a Compliance Note",
            "This represents a DSSE attestation Note",
            "This represents a Vulnerability Assessment.",
            "This represents an SBOM Reference."
          ],
          "enum": [
            "NOTE_KIND_UNSPECIFIED",
            "VULNERABILITY",
            "BUILD",
            "IMAGE",
            "PACKAGE",
            "DEPLOYMENT",
            "DISCOVERY",
            "ATTESTATION",
            "UPGRADE",
            "COMPLIANCE",
            "DSSE_ATTESTATION",
            "VULNERABILITY_ASSESSMENT",
            "SBOM_REFERENCE"
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this occurrence was last updated."
        },
        "build": {
          "$ref": "BuildOccurrence",
          "description": "Describes a verifiable build."
        },
        "sbomReference": {
          "$ref": "SBOMReferenceOccurrence",
          "description": "Describes a specific SBOM reference occurrences."
        },
        "dsseAttestation": {
          "description": "Describes an attestation of an artifact using dsse.",
          "$ref": "DSSEAttestationOccurrence"
        },
        "compliance": {
          "description": "Describes a compliance violation on a linked resource.",
          "$ref": "ComplianceOccurrence"
        },
        "noteName": {
          "description": "Required. Immutable. The analysis note associated with this occurrence, in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`. This field can be used as a filter in list requests.",
          "type": "string"
        },
        "package": {
          "description": "Describes the installation of a package on the linked resource.",
          "$ref": "PackageOccurrence"
        }
      }
    },
    "SlsaProvenance": {
      "id": "SlsaProvenance",
      "type": "object",
      "properties": {
        "materials": {
          "type": "array",
          "description": "The collection of artifacts that influenced the build including sources, dependencies, build tools, base images, and so on. This is considered to be incomplete unless metadata.completeness.materials is true. Unset or null is equivalent to empty.",
          "items": {
            "$ref": "Material"
          }
        },
        "builder": {
          "description": "required",
          "$ref": "SlsaBuilder"
        },
        "metadata": {
          "$ref": "SlsaMetadata"
        },
        "recipe": {
          "description": "Identifies the configuration used for the build. When combined with materials, this SHOULD fully describe the build, such that re-running this recipe results in bit-for-bit identical output (if the build is reproducible). required",
          "$ref": "SlsaRecipe"
        }
      }
    },
    "CVSSv3": {
      "properties": {
        "confidentialityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "userInteraction": {
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "integrityImpact": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "availabilityImpact": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "type": "string"
        },
        "exploitabilityScore": {
          "type": "number",
          "format": "float"
        },
        "attackVector": {
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ],
          "type": "string",
          "description": "Base Metrics Represents the intrinsic characteristics of a vulnerability that are constant over time and across user environments.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "scope": {
          "type": "string",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "impactScore": {
          "type": "number",
          "format": "float"
        },
        "privilegesRequired": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ],
          "type": "string"
        },
        "baseScore": {
          "type": "number",
          "description": "The base score is a function of the base metric scores.",
          "format": "float"
        },
        "attackComplexity": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "CVSSv3",
      "description": "Common Vulnerability Scoring System version 3. For details, see https://www.first.org/cvss/specification-document"
    },
    "UpgradeOccurrence": {
      "id": "UpgradeOccurrence",
      "description": "An Upgrade Occurrence represents that a specific resource_url could install a specific upgrade. This presence is supplied via local sources (i.e. it is present in the mirror and the running system has noticed its availability). For Windows, both distribution and windows_update contain information for the Windows update.",
      "type": "object",
      "properties": {
        "windowsUpdate": {
          "description": "Required for Windows OS. Represents the metadata about the Windows update.",
          "$ref": "WindowsUpdate"
        },
        "parsedVersion": {
          "description": "Required for non-Windows OS. The version of the package in a machine + human readable form.",
          "$ref": "Version"
        },
        "package": {
          "description": "Required for non-Windows OS. The package this Upgrade is for.",
          "type": "string"
        },
        "distribution": {
          "description": "Metadata about the upgrade for available for the specific operating system for the resource_url. This allows efficient filtering, as well as making it easier to use the occurrence.",
          "$ref": "UpgradeDistribution"
        }
      }
    },
    "Version": {
      "description": "Version contains structured information about the version of a package.",
      "id": "Version",
      "type": "object",
      "properties": {
        "inclusive": {
          "type": "boolean",
          "description": "Whether this version is specifying part of an inclusive range. Grafeas does not have the capability to specify version ranges; instead we have fields that specify start version and end versions. At times this is insufficient - we also need to specify whether the version is included in the range or is excluded from the range. This boolean is expected to be set to true when the version is included in a range."
        },
        "revision": {
          "type": "string",
          "description": "The iteration of the package build from the above version."
        },
        "kind": {
          "enum": [
            "VERSION_KIND_UNSPECIFIED",
            "NORMAL",
            "MINIMUM",
            "MAXIMUM"
          ],
          "description": "Required. Distinguishes between sentinel MIN/MAX versions and normal versions.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "A standard package version.",
            "A special version representing negative infinity.",
            "A special version representing positive infinity."
          ]
        },
        "epoch": {
          "type": "integer",
          "description": "Used to correct mistakes in the version numbering scheme.",
          "format": "int32"
        },
        "fullName": {
          "description": "Human readable version string. This string is of the form :- and is only set when kind is NORMAL.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required only when version kind is NORMAL. The main part of the version name."
        }
      }
    },
    "DeploymentNote": {
      "description": "An artifact that can be deployed in some runtime.",
      "id": "DeploymentNote",
      "type": "object",
      "properties": {
        "resourceUri": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Resource URI for the artifact being deployed."
        }
      }
    },
    "Signature": {
      "properties": {
        "signature": {
          "format": "byte",
          "description": "The content of the signature, an opaque bytestring. The payload that this signature verifies MUST be unambiguously provided with the Signature during verification. A wrapper message might provide the payload explicitly. Alternatively, a message might have a canonical serialization that can always be unambiguously computed to derive the payload.",
          "type": "string"
        },
        "publicKeyId": {
          "description": "The identifier for the public key that verifies this signature. * The `public_key_id` is required. * The `public_key_id` SHOULD be an RFC3986 conformant URI. * When possible, the `public_key_id` SHOULD be an immutable reference, such as a cryptographic digest. Examples of valid `public_key_id`s: OpenPGP V4 public key fingerprint: * \"openpgp4fpr:74FAF3B861BDA0870C7B6DEF607E48D2A663AEEA\" See https://www.iana.org/assignments/uri-schemes/prov/openpgp4fpr for more details on this scheme. RFC6920 digest-named SubjectPublicKeyInfo (digest of the DER serialization): * \"ni:///sha-256;cD9o9Cq6LG3jD0iKXqEi_vdjJGecm_iXkbqVoScViaU\" * \"nih:///sha-256;703f68f42aba2c6de30f488a5ea122fef76324679c9bf89791ba95a1271589a5\"",
          "type": "string"
        }
      },
      "description": "Verifiers (e.g. Kritis implementations) MUST verify signatures with respect to the trust anchors defined in policy (e.g. a Kritis policy). Typically this means that the verifier has been configured with a map from `public_key_id` to public key material (and any required parameters, e.g. signing algorithm). In particular, verification implementations MUST NOT treat the signature `public_key_id` as anything more than a key lookup hint. The `public_key_id` DOES NOT validate or authenticate a public key; it only provides a mechanism for quickly selecting a public key ALREADY CONFIGURED on the verifier through a trusted channel. Verification implementations MUST reject signatures in any of the following circumstances: * The `public_key_id` is not recognized by the verifier. * The public key that `public_key_id` refers to does not verify the signature with respect to the payload. The `signature` contents SHOULD NOT be \"attached\" (where the payload is included with the serialized `signature` bytes). Verifiers MUST ignore any \"attached\" payload and only verify signatures with respect to explicitly provided payload (e.g. a `payload` field on the proto message that holds this Signature, or the canonical serialization of the proto message that holds this signature).",
      "id": "Signature",
      "type": "object"
    },
    "Location": {
      "properties": {
        "version": {
          "$ref": "Version",
          "description": "Deprecated. The version installed at this location."
        },
        "path": {
          "description": "The path from which we gathered that this package/version is installed.",
          "type": "string"
        },
        "cpeUri": {
          "description": "Deprecated. The CPE URI in [CPE format](https://cpe.mitre.org/specification/)",
          "type": "string"
        }
      },
      "id": "Location",
      "description": "An occurrence of a particular package installation found within a system's filesystem. E.g., glibc was found in `/var/lib/dpkg/status`.",
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalConfig": {
      "properties": {
        "approvalRequired": {
          "description": "Whether or not approval is needed. If this is set on a build, it will become pending when created, and will need to be explicitly approved to start.",
          "type": "boolean"
        }
      },
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalConfig",
      "type": "object",
      "description": "ApprovalConfig describes configuration for manual approval of a build."
    },
    "Distribution": {
      "description": "This represents a particular channel of distribution for a given package. E.g., Debian's jessie-backports dpkg mirror.",
      "id": "Distribution",
      "properties": {
        "latestVersion": {
          "description": "The latest available version of this package in this distribution channel.",
          "$ref": "Version"
        },
        "url": {
          "type": "string",
          "description": "The distribution channel-specific homepage for this package."
        },
        "cpeUri": {
          "type": "string",
          "description": "Required. The cpe_uri in [CPE format](https://cpe.mitre.org/specification/) denoting the package manager version distributing a package."
        },
        "maintainer": {
          "description": "A freeform string denoting the maintainer of this package.",
          "type": "string"
        },
        "description": {
          "description": "The distribution channel-specific description of this package.",
          "type": "string"
        },
        "architecture": {
          "type": "string",
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X86",
            "X64"
          ],
          "enumDescriptions": [
            "Unknown architecture.",
            "X86 architecture.",
            "X64 architecture."
          ],
          "description": "The CPU architecture for which packages in this distribution channel were built."
        }
      },
      "type": "object"
    },
    "BuilderConfig": {
      "id": "BuilderConfig",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "Hint": {
      "id": "Hint",
      "type": "object",
      "description": "This submessage provides human-readable hints about the purpose of the authority. Because the name of a note acts as its resource reference, it is important to disambiguate the canonical name of the Note (which might be a UUID for security purposes) from \"readable\" names more suitable for debug output. Note that these hints should not be used to look up authorities in security sensitive contexts, such as when looking up attestations to verify.",
      "properties": {
        "humanReadableName": {
          "description": "Required. The human readable name of this attestation authority, for example \"qa\".",
          "type": "string"
        }
      }
    },
    "InTotoSlsaProvenanceV1": {
      "id": "InTotoSlsaProvenanceV1",
      "properties": {
        "subject": {
          "items": {
            "$ref": "Subject"
          },
          "type": "array"
        },
        "predicate": {
          "$ref": "SlsaProvenanceV1"
        },
        "_type": {
          "description": "InToto spec defined at https://github.com/in-toto/attestation/tree/main/spec#statement",
          "type": "string"
        },
        "predicateType": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1UploadedMavenArtifact": {
      "properties": {
        "pushTiming": {
          "description": "Output only. Stores timing information for pushing the specified artifact.",
          "readOnly": true,
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan"
        },
        "fileHashes": {
          "description": "Hash types and values of the Maven Artifact.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1FileHashes"
        },
        "uri": {
          "description": "URI of the uploaded artifact.",
          "type": "string"
        }
      },
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1UploadedMavenArtifact",
      "type": "object",
      "description": "A Maven artifact uploaded using the MavenArtifact directive."
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalResult": {
      "description": "ApprovalResult describes the decision and associated metadata of a manual approval of a build.",
      "type": "object",
      "properties": {
        "comment": {
          "description": "Optional. An optional comment for this manual approval result.",
          "type": "string"
        },
        "approvalTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the approval decision was made."
        },
        "approverAccount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Email of the user that called the ApproveBuild API to approve or reject a build at the time that the API was called."
        },
        "url": {
          "description": "Optional. An optional URL tied to this manual approval result. This field is essentially the same as comment, except that it will be rendered by the UI differently. An example use case is a link to an external job that approved this Build.",
          "type": "string"
        },
        "decision": {
          "enum": [
            "DECISION_UNSPECIFIED",
            "APPROVED",
            "REJECTED"
          ],
          "description": "Required. The decision of this manual approval.",
          "enumDescriptions": [
            "Default enum type. This should not be used.",
            "Build is approved.",
            "Build is rejected."
          ],
          "type": "string"
        }
      },
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalResult"
    },
    "BatchCreateOccurrencesResponse": {
      "description": "Response for creating occurrences in batch.",
      "type": "object",
      "id": "BatchCreateOccurrencesResponse",
      "properties": {
        "occurrences": {
          "items": {
            "$ref": "Occurrence"
          },
          "type": "array",
          "description": "The occurrences that were created."
        }
      }
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest",
      "type": "object"
    },
    "BuildProvenance": {
      "properties": {
        "sourceProvenance": {
          "description": "Details of the Source input to the build.",
          "$ref": "Source"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time at which the build was created."
        },
        "creator": {
          "type": "string",
          "description": "E-mail address of the user who initiated this build. Note that this was the user's e-mail address at the time the build was initiated; this address may not represent the same end-user for all time."
        },
        "id": {
          "description": "Required. Unique identifier of the build.",
          "type": "string"
        },
        "commands": {
          "items": {
            "$ref": "Command"
          },
          "type": "array",
          "description": "Commands requested by the build."
        },
        "projectId": {
          "description": "ID of the project.",
          "type": "string"
        },
        "builtArtifacts": {
          "type": "array",
          "description": "Output of the build.",
          "items": {
            "$ref": "Artifact"
          }
        },
        "logsUri": {
          "type": "string",
          "description": "URI where any logs for this provenance were written."
        },
        "buildOptions": {
          "description": "Special options applied to this build. This is a catch-all field where build providers can enter any desired additional details.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "endTime": {
          "description": "Time at which execution of the build was finished.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Time at which execution of the build was started.",
          "format": "google-datetime",
          "type": "string"
        },
        "builderVersion": {
          "type": "string",
          "description": "Version string of the builder at the time this build was executed."
        },
        "triggerId": {
          "type": "string",
          "description": "Trigger identifier if the build was triggered automatically; empty if not."
        }
      },
      "id": "BuildProvenance",
      "type": "object",
      "description": "Provenance of a build. Contains all information needed to verify the full details about the build from source to completion."
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1Hash": {
      "description": "Container message for hash values.",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1Hash",
      "properties": {
        "value": {
          "format": "byte",
          "description": "The hash value.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "No hash requested.",
            "Use a sha256 hash.",
            "Use a md5 hash.",
            "Use a sha512 hash."
          ],
          "enum": [
            "NONE",
            "SHA256",
            "MD5",
            "SHA512"
          ],
          "description": "The type of hash that was performed.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Remediation": {
      "type": "object",
      "properties": {
        "details": {
          "type": "string",
          "description": "Contains a comprehensive human-readable discussion of the remediation."
        },
        "remediationUri": {
          "description": "Contains the URL where to obtain the remediation.",
          "$ref": "RelatedUrl"
        },
        "remediationType": {
          "enum": [
            "REMEDIATION_TYPE_UNSPECIFIED",
            "MITIGATION",
            "NO_FIX_PLANNED",
            "NONE_AVAILABLE",
            "VENDOR_FIX",
            "WORKAROUND"
          ],
          "description": "The type of remediation that can be applied.",
          "enumDescriptions": [
            "No remediation type specified.",
            "A MITIGATION is available.",
            "No fix is planned.",
            "Not available.",
            "A vendor fix is available.",
            "A workaround is available."
          ],
          "type": "string"
        }
      },
      "description": "Specifies details on how to handle (and presumably, fix) a vulnerability.",
      "id": "Remediation"
    },
    "BuildDefinition": {
      "properties": {
        "internalParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "resolvedDependencies": {
          "type": "array",
          "items": {
            "$ref": "ResourceDescriptor"
          }
        },
        "buildType": {
          "type": "string"
        },
        "externalParameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "type": "object",
      "id": "BuildDefinition"
    },
    "Layer": {
      "id": "Layer",
      "type": "object",
      "properties": {
        "arguments": {
          "type": "string",
          "description": "The recovered arguments to the Dockerfile directive."
        },
        "directive": {
          "type": "string",
          "description": "Required. The recovered Dockerfile directive used to construct this layer. See https://docs.docker.com/engine/reference/builder/ for more information."
        }
      },
      "description": "Layer holds metadata specific to a layer of a Docker image."
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaMetadata": {
      "description": "Other properties of the build.",
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaMetadata",
      "properties": {
        "buildStartedOn": {
          "format": "google-datetime",
          "type": "string"
        },
        "buildFinishedOn": {
          "format": "google-datetime",
          "type": "string"
        },
        "completeness": {
          "$ref": "GrafeasV1SlsaProvenanceZeroTwoSlsaCompleteness"
        },
        "buildInvocationId": {
          "type": "string"
        },
        "reproducible": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "Assessment": {
      "id": "Assessment",
      "description": "Assessment provides all information that is related to a single vulnerability for this product.",
      "properties": {
        "justification": {
          "description": "Justification provides the justification when the state of the assessment if NOT_AFFECTED.",
          "$ref": "Justification"
        },
        "state": {
          "description": "Provides the state of this Vulnerability assessment.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "AFFECTED",
            "NOT_AFFECTED",
            "FIXED",
            "UNDER_INVESTIGATION"
          ],
          "enumDescriptions": [
            "No state is specified.",
            "This product is known to be affected by this vulnerability.",
            "This product is known to be not affected by this vulnerability.",
            "This product contains a fix for this vulnerability.",
[...]
