{
  "documentationLink": "https://cloud.google.com/container-engine/",
  "ownerName": "Google",
  "mtlsRootUrl": "https://container.mtls.googleapis.com/",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "servicePath": "",
  "canonicalName": "Container",
  "schemas": {
    "WindowsVersion": {
      "type": "object",
      "id": "WindowsVersion",
      "description": "Windows server version.",
      "properties": {
        "supportEndDate": {
          "$ref": "Date",
          "description": "Mainstream support end date"
        },
        "imageType": {
          "type": "string",
          "description": "Windows server image type"
        },
        "osVersion": {
          "type": "string",
          "description": "Windows server build number"
        }
      }
    },
    "LoggingConfig": {
      "properties": {
        "componentConfig": {
          "$ref": "LoggingComponentConfig",
          "description": "Logging components configuration"
        }
      },
      "type": "object",
      "description": "LoggingConfig is cluster logging configuration.",
      "id": "LoggingConfig"
    },
    "SetNetworkPolicyRequest": {
      "type": "object",
      "description": "SetNetworkPolicyRequest enables/disables network policy for a cluster.",
      "id": "SetNetworkPolicyRequest",
      "properties": {
        "name": {
          "description": "The name (project, location, cluster name) of the cluster to set networking policy. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field."
        },
        "networkPolicy": {
          "description": "Required. Configuration options for the NetworkPolicy feature.",
          "$ref": "NetworkPolicy"
        },
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      }
    },
    "MaintenancePolicy": {
      "properties": {
        "resourceVersion": {
          "type": "string",
          "description": "A hash identifying the version of this policy, so that updates to fields of the policy won't accidentally undo intermediate changes (and so that users of the API unaware of some fields won't accidentally remove other fields). Make a `get()` request to the cluster to get the current resource version and include it with requests to set the policy."
        },
        "window": {
          "description": "Specifies the maintenance window in which maintenance may be performed.",
          "$ref": "MaintenanceWindow"
        }
      },
      "description": "MaintenancePolicy defines the maintenance policy to be used for the cluster.",
      "type": "object",
      "id": "MaintenancePolicy"
    },
    "ClusterUpdate": {
      "properties": {
        "desiredWorkloadAltsConfig": {
          "description": "Configuration for direct-path (via ALTS) with workload identity.",
          "$ref": "WorkloadALTSConfig"
        },
        "desiredMaster": {
          "description": "Configuration for master components.",
          "$ref": "Master"
        },
        "desiredReleaseChannel": {
          "$ref": "ReleaseChannel",
          "description": "The desired release channel configuration."
        },
        "desiredPodSecurityPolicyConfig": {
          "$ref": "PodSecurityPolicyConfig",
          "description": "The desired configuration options for the PodSecurityPolicy feature."
        },
        "desiredBinaryAuthorization": {
          "description": "The desired configuration options for the Binary Authorization feature.",
          "$ref": "BinaryAuthorization"
        },
        "desiredAddonsConfig": {
          "description": "Configurations for the various addons available to run in the cluster.",
          "$ref": "AddonsConfig"
        },
        "desiredResourceUsageExportConfig": {
          "description": "The desired configuration for exporting resource usage.",
          "$ref": "ResourceUsageExportConfig"
        },
        "desiredNotificationConfig": {
          "$ref": "NotificationConfig",
          "description": "The desired notification configuration."
        },
        "desiredMonitoringConfig": {
          "$ref": "MonitoringConfig",
          "description": "The desired monitoring configuration."
        },
        "desiredIntraNodeVisibilityConfig": {
          "$ref": "IntraNodeVisibilityConfig",
          "description": "The desired config of Intra-node visibility."
        },
        "desiredGcfsConfig": {
          "description": "The desired GCFS config for the cluster.",
          "$ref": "GcfsConfig"
        },
        "desiredClusterTelemetry": {
          "description": "The desired telemetry integration for the cluster.",
          "$ref": "ClusterTelemetry"
        },
        "desiredLoggingConfig": {
          "$ref": "LoggingConfig",
          "description": "The desired logging configuration."
        },
        "desiredPrivateIpv6GoogleAccess": {
          "type": "string",
          "enum": [
            "PRIVATE_IPV6_GOOGLE_ACCESS_UNSPECIFIED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_DISABLED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_TO_GOOGLE",
            "PRIVATE_IPV6_GOOGLE_ACCESS_BIDIRECTIONAL"
          ],
          "description": "The desired state of IPv6 connectivity to Google Services.",
          "enumDescriptions": [
            "Default value. Same as DISABLED",
            "No private access to or from Google Services",
            "Enables private IPv6 access to Google Services from GKE",
            "Enables priate IPv6 access to and from Google Services"
          ]
        },
        "desiredPrivateClusterConfig": {
          "description": "The desired private cluster configuration.",
          "$ref": "PrivateClusterConfig"
        },
        "desiredImageType": {
          "type": "string",
          "description": "The desired image type for the node pool. NOTE: Set the \"desired_node_pool\" field as well."
        },
        "desiredMeshCertificates": {
          "$ref": "MeshCertificates",
          "description": "Configuration for issuance of mTLS keys and certificates to Kubernetes pods."
        },
        "desiredDefaultSnatStatus": {
          "$ref": "DefaultSnatStatus",
          "description": "The desired status of whether to disable default sNAT for this cluster."
        },
        "desiredDnsConfig": {
          "description": "DNSConfig contains clusterDNS config for this cluster.",
          "$ref": "DNSConfig"
        },
        "desiredMasterAuthorizedNetworksConfig": {
          "description": "The desired configuration options for master authorized networks feature.",
          "$ref": "MasterAuthorizedNetworksConfig"
        },
        "desiredTpuConfig": {
          "description": "The desired Cloud TPU configuration.",
          "$ref": "TpuConfig"
        },
        "desiredIdentityServiceConfig": {
          "$ref": "IdentityServiceConfig",
          "description": "The desired Identity Service component configuration."
        },
        "desiredDatapathProvider": {
          "description": "The desired datapath provider for the cluster.",
          "enum": [
            "DATAPATH_PROVIDER_UNSPECIFIED",
            "LEGACY_DATAPATH",
            "ADVANCED_DATAPATH"
          ],
          "enumDescriptions": [
            "Default value.",
            "Use the IPTables implementation based on kube-proxy.",
            "Use the eBPF based GKE Dataplane V2 with additional features. See the [GKE Dataplane V2 documentation](https://cloud.google.com/kubernetes-engine/docs/how-to/dataplane-v2) for more."
          ],
          "type": "string"
        },
        "desiredNodePoolAutoConfigNetworkTags": {
          "description": "The desired network tags that apply to all auto-provisioned node pools in autopilot clusters and node auto-provisioning enabled clusters.",
          "$ref": "NetworkTags"
        },
        "desiredNodeVersion": {
          "type": "string",
          "description": "The Kubernetes version to change the nodes to (typically an upgrade). Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"-\": picks the Kubernetes master version"
        },
        "desiredL4ilbSubsettingConfig": {
          "description": "The desired L4 Internal Load Balancer Subsetting configuration.",
          "$ref": "ILBSubsettingConfig"
        },
        "desiredServiceExternalIpsConfig": {
          "description": "ServiceExternalIPsConfig specifies the config for the use of Services with ExternalIPs field.",
          "$ref": "ServiceExternalIPsConfig"
        },
        "desiredLocations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The desired list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the cluster's nodes should be located. This list must always include the cluster's primary zone. Warning: changing cluster locations will update the locations of all node pools and will result in nodes being added and/or removed."
        },
        "desiredNodePoolAutoscaling": {
          "$ref": "NodePoolAutoscaling",
          "description": "Autoscaler configuration for the node pool specified in desired_node_pool_id. If there is only one pool in the cluster and desired_node_pool_id is not provided then the change applies to that single node pool."
        },
        "desiredWorkloadIdentityConfig": {
          "$ref": "WorkloadIdentityConfig",
          "description": "Configuration for Workload Identity."
        },
        "desiredClusterAutoscaling": {
          "description": "Cluster-level autoscaling configuration.",
          "$ref": "ClusterAutoscaling"
        },
        "desiredShieldedNodes": {
          "$ref": "ShieldedNodes",
          "description": "Configuration for Shielded Nodes."
        },
        "desiredNodePoolId": {
          "description": "The node pool to be upgraded. This field is mandatory if \"desired_node_version\", \"desired_image_family\", \"desired_node_pool_autoscaling\", or \"desired_workload_metadata_config\" is specified and there is more than one node pool on the cluster.",
          "type": "string"
        },
        "desiredMasterVersion": {
          "description": "The Kubernetes version to change the master to. The only valid value is the latest supported version. Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"-\": picks the default Kubernetes version",
          "type": "string"
        },
        "desiredLoggingService": {
          "description": "The logging service the cluster should use to write logs. Currently available options: * `logging.googleapis.com/kubernetes` - The Cloud Logging service with a Kubernetes-native resource model * `logging.googleapis.com` - The legacy Cloud Logging service (no longer available as of GKE 1.15). * `none` - no logs will be exported from the cluster. If left as an empty string,`logging.googleapis.com/kubernetes` will be used for GKE 1.14+ or `logging.googleapis.com` for earlier versions.",
          "type": "string"
        },
        "desiredMonitoringService": {
          "type": "string",
          "description": "The monitoring service the cluster should use to write metrics. Currently available options: * \"monitoring.googleapis.com/kubernetes\" - The Cloud Monitoring service with a Kubernetes-native resource model * `monitoring.googleapis.com` - The legacy Cloud Monitoring service (no longer available as of GKE 1.15). * `none` - No metrics will be exported from the cluster. If left as an empty string,`monitoring.googleapis.com/kubernetes` will be used for GKE 1.14+ or `monitoring.googleapis.com` for earlier versions."
        },
        "desiredVerticalPodAutoscaling": {
          "$ref": "VerticalPodAutoscaling",
          "description": "Cluster-level Vertical Pod Autoscaling configuration."
        },
        "desiredWorkloadCertificates": {
          "$ref": "WorkloadCertificates",
          "description": "Configuration for issuance of mTLS keys and certificates to Kubernetes pods."
        },
        "desiredDatabaseEncryption": {
          "$ref": "DatabaseEncryption",
          "description": "Configuration of etcd encryption."
        },
        "desiredAuthenticatorGroupsConfig": {
          "$ref": "AuthenticatorGroupsConfig",
          "description": "AuthenticatorGroupsConfig specifies the config for the cluster security groups settings."
        }
      },
      "id": "ClusterUpdate",
      "description": "ClusterUpdate describes an update to the cluster. Exactly one update can be applied to a cluster with each request, so at most one field can be provided.",
      "type": "object"
    },
    "LegacyAbac": {
      "description": "Configuration for the legacy Attribute Based Access Control authorization mode.",
      "properties": {
        "enabled": {
          "description": "Whether the ABAC authorizer is enabled for this cluster. When enabled, identities in the system, including service accounts, nodes, and controllers, will have statically granted permissions beyond those provided by the RBAC configuration or IAM.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "LegacyAbac"
    },
    "BigQueryDestination": {
      "type": "object",
      "properties": {
        "datasetId": {
          "type": "string",
          "description": "The ID of a BigQuery Dataset."
        }
      },
      "description": "Parameters for using BigQuery as the destination of resource usage export.",
      "id": "BigQueryDestination"
    },
    "NetworkPolicy": {
      "id": "NetworkPolicy",
      "description": "Configuration options for the NetworkPolicy feature. https://kubernetes.io/docs/concepts/services-networking/networkpolicies/",
      "properties": {
        "enabled": {
          "description": "Whether network policy is enabled on the cluster.",
          "type": "boolean"
        },
        "provider": {
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "CALICO"
          ],
          "enumDescriptions": [
            "Not set",
            "Tigera (Calico Felix)."
          ],
          "type": "string",
          "description": "The selected network policy provider."
        }
      },
      "type": "object"
    },
    "ListLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Only return ListLocationsResponse that occur after the page_token. This value should be populated from the ListLocationsResponse.next_page_token if that response token was set (which happens when listing more Locations than fit in a single ListLocationsResponse).",
          "type": "string"
        },
        "locations": {
          "description": "A full list of GKE locations.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "description": "ListLocationsResponse returns the list of all GKE locations and their recommendation state.",
      "id": "ListLocationsResponse",
      "type": "object"
    },
    "IdentityServiceConfig": {
      "type": "object",
      "id": "IdentityServiceConfig",
      "properties": {
        "enabled": {
          "description": "Whether to enable the Identity Service component",
          "type": "boolean"
        }
      },
      "description": "IdentityServiceConfig is configuration for Identity Service which allows customers to use external identity providers with the K8S API"
    },
    "LinuxNodeConfig": {
      "properties": {
        "sysctls": {
          "description": "The Linux kernel parameters to be applied to the nodes and all pods running on the nodes. The following parameters are supported. net.core.netdev_max_backlog net.core.rmem_max net.core.wmem_default net.core.wmem_max net.core.optmem_max net.core.somaxconn net.ipv4.tcp_rmem net.ipv4.tcp_wmem net.ipv4.tcp_tw_reuse",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Parameters that can be configured on Linux nodes.",
      "id": "LinuxNodeConfig"
    },
    "GcePersistentDiskCsiDriverConfig": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the Compute Engine PD CSI driver is enabled for this cluster."
        }
      },
      "description": "Configuration for the Compute Engine PD CSI driver.",
      "id": "GcePersistentDiskCsiDriverConfig",
      "type": "object"
    },
    "NodeTaint": {
      "type": "object",
      "description": "Kubernetes taint is comprised of three fields: key, value, and effect. Effect can only be one of three types: NoSchedule, PreferNoSchedule or NoExecute. See [here](https://kubernetes.io/docs/concepts/configuration/taint-and-toleration) for more information, including usage and the valid values.",
      "id": "NodeTaint",
      "properties": {
        "key": {
          "type": "string",
          "description": "Key for taint."
        },
        "effect": {
          "enum": [
            "EFFECT_UNSPECIFIED",
            "NO_SCHEDULE",
            "PREFER_NO_SCHEDULE",
            "NO_EXECUTE"
          ],
          "description": "Effect for taint.",
          "enumDescriptions": [
            "Not set",
            "NoSchedule",
            "PreferNoSchedule",
            "NoExecute"
          ],
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Value for taint."
        }
      }
    },
    "TpuConfig": {
      "type": "object",
      "properties": {
        "useServiceNetworking": {
          "type": "boolean",
          "description": "Whether to use service networking for Cloud TPU or not."
        },
        "ipv4CidrBlock": {
          "description": "IPv4 CIDR block reserved for Cloud TPU in the VPC.",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether Cloud TPU integration is enabled or not."
        }
      },
      "id": "TpuConfig",
      "description": "Configuration for Cloud TPU."
    },
    "TimeWindow": {
      "description": "Represents an arbitrary window of time.",
      "id": "TimeWindow",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time that the window ends. The end time should take place after the start time."
        },
        "startTime": {
          "type": "string",
          "description": "The time that the window first starts.",
          "format": "google-datetime"
        },
        "maintenanceExclusionOptions": {
          "description": "MaintenanceExclusionOptions provides maintenance exclusion related options.",
          "$ref": "MaintenanceExclusionOptions"
        }
      },
      "type": "object"
    },
    "LoggingComponentConfig": {
      "type": "object",
      "id": "LoggingComponentConfig",
      "description": "LoggingComponentConfig is cluster logging component configuration.",
      "properties": {
        "enableComponents": {
          "description": "Select components to collect logs. An empty set would disable all logging.",
          "items": {
            "enumDescriptions": [
              "Default value. This shouldn't be used.",
              "system components",
              "workloads"
            ],
            "type": "string",
            "enum": [
              "COMPONENT_UNSPECIFIED",
              "SYSTEM_COMPONENTS",
              "WORKLOADS"
            ]
          },
          "type": "array"
        }
      }
    },
    "MaxPodsConstraint": {
      "description": "Constraints applied to pods.",
      "id": "MaxPodsConstraint",
      "properties": {
        "maxPodsPerNode": {
          "format": "int64",
          "description": "Constraint enforced on the max num of pods per node.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AutoUpgradeOptions": {
      "id": "AutoUpgradeOptions",
      "description": "AutoUpgradeOptions defines the set of options for the user to control how the Auto Upgrades will proceed.",
      "properties": {
        "autoUpgradeStartTime": {
          "description": "[Output only] This field is set when upgrades are about to commence with the approximate start time for the upgrades, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "[Output only] This field is set when upgrades are about to commence with the description of the upgrade."
        }
      },
      "type": "object"
    },
    "CancelOperationRequest": {
      "description": "CancelOperationRequest cancels a single operation.",
      "properties": {
        "operationId": {
          "type": "string",
          "description": "Required. Deprecated. The server-assigned `name` of the operation. This field has been deprecated and replaced by the name field."
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, operation id) of the operation to cancel. Specified in the format `projects/*/locations/*/operations/*`."
        },
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
        },
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the operation resides. This field has been deprecated and replaced by the name field."
        }
      },
      "id": "CancelOperationRequest",
      "type": "object"
    },
    "AuthenticatorGroupsConfig": {
      "description": "Configuration for returning group information from authenticators.",
      "id": "AuthenticatorGroupsConfig",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether this cluster should return group membership lookups during authentication using a group of security groups.",
          "type": "boolean"
        },
        "securityGroup": {
          "type": "string",
          "description": "The name of the security group-of-groups to be used. Only relevant if enabled = true."
        }
      }
    },
    "CidrBlock": {
      "description": "CidrBlock contains an optional name and one CIDR block.",
      "id": "CidrBlock",
      "properties": {
        "cidrBlock": {
          "description": "cidr_block must be specified in CIDR notation.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "display_name is an optional field for users to identify CIDR blocks."
        }
      },
      "type": "object"
    },
    "DNSConfig": {
      "properties": {
        "clusterDnsDomain": {
          "description": "cluster_dns_domain is the suffix used for all cluster service records.",
          "type": "string"
        },
        "clusterDnsScope": {
          "enum": [
            "DNS_SCOPE_UNSPECIFIED",
            "CLUSTER_SCOPE",
            "VPC_SCOPE"
          ],
          "description": "cluster_dns_scope indicates the scope of access to cluster DNS records.",
          "type": "string",
          "enumDescriptions": [
            "Default value, will be inferred as cluster scope.",
            "DNS records are accessible from within the cluster.",
            "DNS records are accessible from within the VPC."
          ]
        },
        "clusterDns": {
          "enumDescriptions": [
            "Default value",
            "Use GKE default DNS provider(kube-dns) for DNS resolution.",
            "Use CloudDNS for DNS resolution."
          ],
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "PLATFORM_DEFAULT",
            "CLOUD_DNS"
          ],
          "description": "cluster_dns indicates which in-cluster DNS provider should be used.",
          "type": "string"
        }
      },
      "description": "DNSConfig contains the desired set of options for configuring clusterDNS.",
      "type": "object",
      "id": "DNSConfig"
    },
    "AvailableVersion": {
      "id": "AvailableVersion",
      "description": "Deprecated.",
      "properties": {
        "reason": {
          "description": "Reason for availability.",
          "type": "string"
        },
        "version": {
          "description": "Kubernetes version.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "StatusCondition": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "Human-friendly representation of the condition"
        },
        "code": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "GCE_STOCKOUT",
            "GKE_SERVICE_ACCOUNT_DELETED",
            "GCE_QUOTA_EXCEEDED",
            "SET_BY_OPERATOR",
            "CLOUD_KMS_KEY_ERROR",
            "CA_EXPIRING"
          ],
          "description": "Machine-friendly representation of the condition Deprecated. Use canonical_code instead.",
          "enumDescriptions": [
            "UNKNOWN indicates a generic condition.",
            "GCE_STOCKOUT indicates that Google Compute Engine resources are temporarily unavailable.",
            "GKE_SERVICE_ACCOUNT_DELETED indicates that the user deleted their robot service account.",
            "Google Compute Engine quota was exceeded.",
            "Cluster state was manually changed by an SRE due to a system logic error.",
            "Unable to perform an encrypt operation against the CloudKMS key used for etcd level encryption.",
            "Cluster CA is expiring soon. More codes TBA"
          ]
        },
        "canonicalCode": {
          "enum": [
            "OK",
            "CANCELLED",
            "UNKNOWN",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "ALREADY_EXISTS",
            "PERMISSION_DENIED",
            "UNAUTHENTICATED",
            "RESOURCE_EXHAUSTED",
            "FAILED_PRECONDITION",
            "ABORTED",
            "OUT_OF_RANGE",
            "UNIMPLEMENTED",
            "INTERNAL",
            "UNAVAILABLE",
            "DATA_LOSS"
          ],
          "description": "Canonical code of the condition.",
          "type": "string",
          "enumDescriptions": [
            "Not an error; returned on success HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level. For example, when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence. (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. For example, if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
            "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request",
            "The operation is not implemented or is not supported/enabled in this service. HTTP Mapping: 501 Not Implemented",
            "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error",
            "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable",
            "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          ]
        }
      },
      "id": "StatusCondition",
      "description": "StatusCondition describes why a cluster or a node pool has a certain status (e.g., ERROR or DEGRADED)."
    },
    "ClusterTelemetry": {
      "description": "Telemetry integration for the cluster.",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "DISABLED",
            "ENABLED",
            "SYSTEM_ONLY"
          ],
          "description": "Type of the integration.",
          "enumDescriptions": [
            "Not set.",
            "Monitoring integration is disabled.",
            "Monitoring integration is enabled.",
            "Only system components are monitored and logged."
          ]
        }
      },
      "type": "object",
      "id": "ClusterTelemetry"
    },
    "Cluster": {
      "properties": {
        "tpuConfig": {
          "$ref": "TpuConfig",
          "description": "Configuration for Cloud TPU support;"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique id for the cluster."
        },
        "initialClusterVersion": {
          "description": "The initial Kubernetes version for this cluster. Valid versions are those found in validMasterVersions returned by getServerConfig. The version can be upgraded over time; such upgrades are reflected in currentMasterVersion and currentNodeVersion. Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"\",\"-\": picks the default Kubernetes version",
          "type": "string"
        },
        "privateCluster": {
          "type": "boolean",
          "description": "If this is a private cluster setup. Private clusters are clusters that, by default have no external IP addresses on the nodes and where nodes and the master communicate over private IP addresses. This field is deprecated, use private_cluster_config.enable_private_nodes instead."
        },
        "createTime": {
          "description": "[Output only] The time the cluster was created, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "[Output only] Server-defined URL for the resource."
        },
        "enableKubernetesAlpha": {
          "description": "Kubernetes alpha features are enabled on this cluster. This includes alpha API groups (e.g. v1beta1) and features that may not be production ready in the kubernetes version of the master and nodes. The cluster has no SLA for uptime and master/node upgrades are disabled. Alpha enabled clusters are automatically deleted thirty days after creation.",
          "type": "boolean"
        },
        "workloadCertificates": {
          "description": "Configuration for issuance of mTLS keys and certificates to Kubernetes pods.",
          "$ref": "WorkloadCertificates"
        },
        "workloadAltsConfig": {
          "description": "Configuration for direct-path (via ALTS) with workload identity.",
          "$ref": "WorkloadALTSConfig"
        },
        "authenticatorGroupsConfig": {
          "$ref": "AuthenticatorGroupsConfig",
          "description": "Configuration controlling RBAC group membership information."
        },
        "resourceLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The resource labels for the cluster to use to annotate any related Google Compute Engine resources."
        },
        "nodeConfig": {
          "$ref": "NodeConfig",
          "description": "Parameters used in creating the cluster's nodes. For requests, this field should only be used in lieu of a \"node_pool\" object, since this configuration (along with the \"initial_node_count\") will be used to create a \"NodePool\" object with an auto-generated name. Do not use this and a node_pool at the same time. For responses, this field will be populated with the node configuration of the first node pool. (For configuration of each node pool, see `node_pool.config`) If unspecified, the defaults are used. This field is deprecated, use node_pool.config instead."
        },
        "addonsConfig": {
          "$ref": "AddonsConfig",
          "description": "Configurations for the various addons available to run in the cluster."
        },
        "binaryAuthorization": {
          "description": "Configuration for Binary Authorization.",
          "$ref": "BinaryAuthorization"
        },
        "conditions": {
          "items": {
            "$ref": "StatusCondition"
          },
          "description": "Which conditions caused the current cluster state.",
          "type": "array"
        },
        "expireTime": {
          "type": "string",
          "description": "[Output only] The time the cluster will be automatically deleted in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
        },
        "clusterIpv4Cidr": {
          "type": "string",
          "description": "The IP address range of the container pods in this cluster, in [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`). Leave blank to have one automatically chosen or specify a `/14` block in `10.0.0.0/8`."
        },
        "resourceUsageExportConfig": {
          "$ref": "ResourceUsageExportConfig",
          "description": "Configuration for exporting resource usages. Resource usage export is disabled when this config unspecified."
        },
        "loggingConfig": {
          "description": "Logging configuration for the cluster.",
          "$ref": "LoggingConfig"
        },
        "locations": {
          "type": "array",
          "description": "The list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the cluster's nodes should be located. This field provides a default value if [NodePool.Locations](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters.nodePools#NodePool.FIELDS.locations) are not specified during node pool creation. Warning: changing cluster locations will update the [NodePool.Locations](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters.nodePools#NodePool.FIELDS.locations) of all node pools and will result in nodes being added and/or removed.",
          "items": {
            "type": "string"
          }
        },
        "networkPolicy": {
          "description": "Configuration options for the NetworkPolicy feature.",
          "$ref": "NetworkPolicy"
        },
        "tpuIpv4CidrBlock": {
          "description": "[Output only] The IP address range of the Cloud TPUs in this cluster, in [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `1.2.3.4/29`).",
          "type": "string"
        },
        "enableTpu": {
          "type": "boolean",
          "description": "Enable the ability to use Cloud TPUs in this cluster. This field is deprecated, use tpu_config.enabled instead."
        },
        "podSecurityPolicyConfig": {
          "description": "Configuration for the PodSecurityPolicy feature.",
          "$ref": "PodSecurityPolicyConfig"
        },
        "name": {
          "type": "string",
          "description": "The name of this cluster. The name must be unique within this project and location (e.g. zone or region), and can be up to 40 characters with the following restrictions: * Lowercase letters, numbers, and hyphens only. * Must start with a letter. * Must end with a number or a letter."
        },
        "statusMessage": {
          "description": "[Output only] Deprecated. Use conditions instead. Additional information about the current status of this cluster, if available.",
          "type": "string"
        },
        "legacyAbac": {
          "$ref": "LegacyAbac",
          "description": "Configuration for the legacy ABAC authorization mode."
        },
        "loggingService": {
          "description": "The logging service the cluster should use to write logs. Currently available options: * `logging.googleapis.com/kubernetes` - The Cloud Logging service with a Kubernetes-native resource model * `logging.googleapis.com` - The legacy Cloud Logging service (no longer available as of GKE 1.15). * `none` - no logs will be exported from the cluster. If left as an empty string,`logging.googleapis.com/kubernetes` will be used for GKE 1.14+ or `logging.googleapis.com` for earlier versions.",
          "type": "string"
        },
        "masterIpv4CidrBlock": {
          "type": "string",
          "description": "The IP prefix in CIDR notation to use for the hosted master network. This prefix will be used for assigning private IP addresses to the master or set of masters, as well as the ILB VIP. This field is deprecated, use private_cluster_config.master_ipv4_cidr_block instead."
        },
        "clusterTelemetry": {
          "description": "Telemetry integration for the cluster.",
          "$ref": "ClusterTelemetry"
        },
        "ipAllocationPolicy": {
          "description": "Configuration for cluster IP allocation.",
          "$ref": "IPAllocationPolicy"
        },
        "nodePoolAutoConfig": {
          "$ref": "NodePoolAutoConfig",
          "description": "Node pool configs that apply to all auto-provisioned node pools in autopilot clusters and node auto-provisioning enabled clusters."
        },
        "masterAuth": {
          "$ref": "MasterAuth",
          "description": "The authentication information for accessing the master endpoint. If unspecified, the defaults are used: For clusters before v1.12, if master_auth is unspecified, `username` will be set to \"admin\", a random password will be generated, and a client certificate will be issued."
        },
        "endpoint": {
          "description": "[Output only] The IP address of this cluster's master endpoint. The endpoint can be accessed from the internet at `https://username:password@endpoint/`. See the `masterAuth` property of this resource for username and password information.",
          "type": "string"
        },
        "verticalPodAutoscaling": {
          "$ref": "VerticalPodAutoscaling",
          "description": "Cluster-level Vertical Pod Autoscaling configuration."
        },
        "identityServiceConfig": {
          "$ref": "IdentityServiceConfig",
          "description": "Configuration for Identity Service component."
        },
        "maintenancePolicy": {
          "description": "Configure the maintenance policy for this cluster.",
          "$ref": "MaintenancePolicy"
        },
        "autopilot": {
          "description": "Autopilot configuration for the cluster.",
          "$ref": "Autopilot"
        },
        "notificationConfig": {
          "description": "Notification configuration of the cluster.",
          "$ref": "NotificationConfig"
        },
        "subnetwork": {
          "type": "string",
          "description": "The name of the Google Compute Engine [subnetwork](https://cloud.google.com/compute/docs/subnetworks) to which the cluster is connected. On output this shows the subnetwork ID instead of the name."
        },
        "servicesIpv4Cidr": {
          "description": "[Output only] The IP address range of the Kubernetes services in this cluster, in [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `1.2.3.4/29`). Service addresses are typically put in the last `/16` from the container CIDR.",
          "type": "string"
        },
        "autoscaling": {
          "description": "Cluster-level autoscaling configuration.",
          "$ref": "ClusterAutoscaling"
        },
        "masterAuthorizedNetworksConfig": {
          "$ref": "MasterAuthorizedNetworksConfig",
          "description": "The configuration options for master authorized networks feature."
        },
        "monitoringService": {
          "description": "The monitoring service the cluster should use to write metrics. Currently available options: * \"monitoring.googleapis.com/kubernetes\" - The Cloud Monitoring service with a Kubernetes-native resource model * `monitoring.googleapis.com` - The legacy Cloud Monitoring service (no longer available as of GKE 1.15). * `none` - No metrics will be exported from the cluster. If left as an empty string,`monitoring.googleapis.com/kubernetes` will be used for GKE 1.14+ or `monitoring.googleapis.com` for earlier versions.",
          "type": "string"
        },
        "nodeIpv4CidrSize": {
          "type": "integer",
          "format": "int32",
          "description": "[Output only] The size of the address space on each node for hosting containers. This is provisioned from within the `container_ipv4_cidr` range. This field will only be set when cluster is in route-based network mode."
        },
        "currentNodeVersion": {
          "description": "[Output only] Deprecated, use [NodePool.version](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1beta1/projects.locations.clusters.nodePools) instead. The current version of the node software components. If they are currently at multiple versions because they're in the process of being upgraded, this reflects the minimum version of all nodes.",
          "type": "string"
        },
        "meshCertificates": {
          "$ref": "MeshCertificates",
          "description": "Configuration for issuance of mTLS keys and certificates to Kubernetes pods."
        },
        "network": {
          "description": "The name of the Google Compute Engine [network](https://cloud.google.com/compute/docs/networks-and-firewalls#networks) to which the cluster is connected. If left unspecified, the `default` network will be used. On output this shows the network ID instead of the name.",
          "type": "string"
        },
        "labelFingerprint": {
          "type": "string",
          "description": "The fingerprint of the set of labels for this cluster."
        },
        "description": {
          "type": "string",
          "description": "An optional description of this cluster."
        },
        "zone": {
          "type": "string",
          "description": "[Output only] The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field is deprecated, use location instead."
        },
        "nodePoolDefaults": {
          "$ref": "NodePoolDefaults",
          "description": "Default NodePool settings for the entire cluster. These settings are overridden if specified on the specific NodePool object."
        },
        "databaseEncryption": {
          "description": "Configuration of etcd encryption.",
          "$ref": "DatabaseEncryption"
        },
        "monitoringConfig": {
          "$ref": "MonitoringConfig",
          "description": "Monitoring configuration for the cluster."
        },
        "initialNodeCount": {
          "type": "integer",
          "description": "The number of nodes to create in this cluster. You must ensure that your Compute Engine [resource quota](https://cloud.google.com/compute/quotas) is sufficient for this number of instances. You must also have available firewall and routes quota. For requests, this field should only be used in lieu of a \"node_pool\" object, since this configuration (along with the \"node_config\") will be used to create a \"NodePool\" object with an auto-generated name. Do not use this and a node_pool at the same time. This field is deprecated, use node_pool.initial_node_count instead.",
          "format": "int32"
        },
        "instanceGroupUrls": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Deprecated. Use node_pools.instance_group_urls."
        },
        "workloadIdentityConfig": {
          "$ref": "WorkloadIdentityConfig",
          "description": "Configuration for the use of Kubernetes Service Accounts in GCP IAM policies."
        },
        "shieldedNodes": {
          "$ref": "ShieldedNodes",
          "description": "Shielded Nodes configuration."
        },
        "defaultMaxPodsConstraint": {
          "description": "The default constraint on the maximum number of pods that can be run simultaneously on a node in the node pool of this cluster. Only honored if cluster created with IP Alias support.",
          "$ref": "MaxPodsConstraint"
        },
        "confidentialNodes": {
          "$ref": "ConfidentialNodes",
          "description": "Configuration of Confidential Nodes. All the nodes in the cluster will be Confidential VM once enabled."
        },
        "privateClusterConfig": {
          "description": "Configuration for private cluster.",
          "$ref": "PrivateClusterConfig"
        },
        "networkConfig": {
          "description": "Configuration for cluster networking.",
          "$ref": "NetworkConfig"
        },
        "master": {
          "$ref": "Master",
          "description": "Configuration for master components."
        },
        "releaseChannel": {
          "description": "Release channel configuration.",
          "$ref": "ReleaseChannel"
        },
        "nodePools": {
          "type": "array",
          "items": {
            "$ref": "NodePool"
          },
          "description": "The node pools associated with this cluster. This field should not be set if \"node_config\" or \"initial_node_count\" are specified."
        },
        "currentNodeCount": {
          "description": "[Output only] The number of nodes currently in the cluster. Deprecated. Call Kubernetes API directly to retrieve node information.",
          "format": "int32",
          "type": "integer"
        },
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ],
          "description": "[Output only] The current status of this cluster.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that some work is actively being done on the cluster, such as upgrading the master or node software. Details can be found in the `statusMessage` field.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster may be unusable. Details can be found in the `statusMessage` field.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality. Details can be found in the `statusMessage` field."
          ]
        },
        "currentMasterVersion": {
          "description": "[Output only] The current software version of the master endpoint.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "[Output only] The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones#available) or [region](https://cloud.google.com/compute/docs/regions-zones/regions-zones#available) in which the cluster resides."
        }
      },
      "id": "Cluster",
      "type": "object",
      "description": "A Google Kubernetes Engine cluster."
    },
    "CompleteIPRotationRequest": {
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field."
        },
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "clusterId": {
          "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster name) of the cluster to complete IP rotation. Specified in the format `projects/*/locations/*/clusters/*`."
        }
      },
      "id": "CompleteIPRotationRequest",
      "description": "CompleteIPRotationRequest moves the cluster master back into single-IP mode.",
      "type": "object"
    },
    "AutoprovisioningNodePoolDefaults": {
      "description": "AutoprovisioningNodePoolDefaults contains defaults for a node pool created by NAP.",
      "id": "AutoprovisioningNodePoolDefaults",
      "properties": {
        "shieldedInstanceConfig": {
          "$ref": "ShieldedInstanceConfig",
          "description": "Shielded Instance options."
        },
        "management": {
          "description": "NodeManagement configuration for this NodePool.",
          "$ref": "NodeManagement"
        },
        "bootDiskKmsKey": {
          "type": "string",
          "description": " The Customer Managed Encryption Key used to encrypt the boot disk attached to each node in the node pool. This should be of the form projects/[KEY_PROJECT_ID]/locations/[LOCATION]/keyRings/[RING_NAME]/cryptoKeys/[KEY_NAME]. For more information about protecting resources with Cloud KMS Keys please see: https://cloud.google.com/compute/docs/disks/customer-managed-encryption"
        },
        "imageType": {
          "description": "The image type to use for NAP created node.",
          "type": "string"
        },
        "diskType": {
          "description": "Type of the disk attached to each node (e.g. 'pd-standard', 'pd-ssd' or 'pd-balanced') If unspecified, the default disk type is 'pd-standard'",
          "type": "string"
        },
        "oauthScopes": {
          "type": "array",
          "description": "The set of Google API scopes to be made available on all of the node VMs under the \"default\" service account. The following scopes are recommended, but not required, and by default are not included: * `https://www.googleapis.com/auth/compute` is required for mounting persistent storage on your nodes. * `https://www.googleapis.com/auth/devstorage.read_only` is required for communicating with **gcr.io** (the [Google Container Registry](https://cloud.google.com/container-registry/)). If unspecified, no scopes are added, unless Cloud Logging or Cloud Monitoring are enabled, in which case their required scopes will be added.",
          "items": {
            "type": "string"
          }
        },
        "serviceAccount": {
          "description": "The Google Cloud Platform Service Account to be used by the node VMs. Specify the email address of the Service Account; otherwise, if no Service Account is specified, the \"default\" service account is used.",
          "type": "string"
        },
        "upgradeSettings": {
          "description": "Upgrade settings control disruption and speed of the upgrade.",
          "$ref": "UpgradeSettings"
        },
        "minCpuPlatform": {
          "type": "string",
          "description": "Deprecated. Minimum CPU platform to be used for NAP created node pools. The instance may be scheduled on the specified or newer CPU platform. Applicable values are the friendly names of CPU platforms, such as minCpuPlatform: Intel Haswell or minCpuPlatform: Intel Sandy Bridge. For more information, read [how to specify min CPU platform](https://cloud.google.com/compute/docs/instances/specify-min-cpu-platform) This field is deprecated, min_cpu_platform should be specified using cloud.google.com/requested-min-cpu-platform label selector on the pod. To unset the min cpu platform field pass \"automatic\" as field value."
        },
        "diskSizeGb": {
          "format": "int32",
          "description": "Size of the disk attached to each node, specified in GB. The smallest allowed disk size is 10GB. If unspecified, the default disk size is 100GB.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "DatabaseEncryption": {
      "properties": {
        "keyName": {
          "type": "string",
          "description": "Name of CloudKMS key to use for the encryption of secrets in etcd. Ex. projects/my-project/locations/global/keyRings/my-ring/cryptoKeys/my-key"
        },
        "state": {
          "enumDescriptions": [
            "Should never be set",
            "Secrets in etcd are encrypted.",
            "Secrets in etcd are stored in plain text (at etcd level) - this is unrelated to Compute Engine level full disk encryption."
          ],
          "description": "Denotes the state of etcd encryption.",
          "enum": [
            "UNKNOWN",
            "ENCRYPTED",
            "DECRYPTED"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "DatabaseEncryption",
      "description": "Configuration of etcd encryption."
    },
    "UpgradeEvent": {
      "description": "UpgradeEvent is a notification sent to customers by the cluster server when a resource is upgrading.",
      "properties": {
        "currentVersion": {
          "type": "string",
          "description": "The current version before the upgrade."
        },
        "targetVersion": {
          "type": "string",
          "description": "The target version for the upgrade."
        },
        "operation": {
          "description": "The operation associated with this upgrade.",
          "type": "string"
        },
        "resourceType": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This shouldn't be used.",
            "Master / control plane",
            "Node pool"
          ],
          "enum": [
            "UPGRADE_RESOURCE_TYPE_UNSPECIFIED",
            "MASTER",
            "NODE_POOL"
          ],
          "description": "The resource type that is upgrading."
        },
        "resource": {
          "type": "string",
          "description": "Optional relative path to the resource. For example in node pool upgrades, the relative path of the node pool."
        },
        "operationStartTime": {
          "format": "google-datetime",
          "description": "The time when the operation was started.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "UpgradeEvent"
    },
    "PodSecurityPolicyConfig": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Enable the PodSecurityPolicy controller for this cluster. If enabled, pods must be valid under a PodSecurityPolicy to be created."
        }
      },
      "id": "PodSecurityPolicyConfig",
      "description": "Configuration for the PodSecurityPolicy feature.",
      "type": "object"
    },
    "AdvancedMachineFeatures": {
      "description": "Specifies options for controlling advanced machine features.",
      "properties": {
        "threadsPerCore": {
          "format": "int64",
          "type": "string",
          "description": "The number of threads per physical core. To disable simultaneous multithreading (SMT) set this to 1. If unset, the maximum number of threads supported per core by the underlying processor is assumed."
        }
      },
      "type": "object",
      "id": "AdvancedMachineFeatures"
    },
    "WorkloadIdentityConfig": {
      "type": "object",
      "id": "WorkloadIdentityConfig",
      "properties": {
        "identityNamespace": {
          "type": "string",
          "description": "IAM Identity Namespace to attach all Kubernetes Service Accounts to."
        },
        "workloadPool": {
          "description": "The workload pool to attach all Kubernetes service accounts to.",
          "type": "string"
        },
        "identityProvider": {
          "description": "identity provider is the third party identity provider.",
          "type": "string"
        }
      },
      "description": "Configuration for the use of Kubernetes Service Accounts in GCP IAM policies."
    },
    "SetMonitoringServiceRequest": {
      "type": "object",
      "description": "SetMonitoringServiceRequest sets the monitoring service of a cluster.",
      "id": "SetMonitoringServiceRequest",
      "properties": {
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster) of the cluster to set monitoring. Specified in the format `projects/*/locations/*/clusters/*`."
        },
        "monitoringService": {
          "type": "string",
          "description": "Required. The monitoring service the cluster should use to write metrics. Currently available options: * \"monitoring.googleapis.com/kubernetes\" - The Cloud Monitoring service with a Kubernetes-native resource model * `monitoring.googleapis.com` - The legacy Cloud Monitoring service (no longer available as of GKE 1.15). * `none` - No metrics will be exported from the cluster. If left as an empty string,`monitoring.googleapis.com/kubernetes` will be used for GKE 1.14+ or `monitoring.googleapis.com` for earlier versions."
        },
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
        },
        "clusterId": {
          "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      }
    },
    "RollbackNodePoolUpgradeRequest": {
      "properties": {
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster to rollback. This field has been deprecated and replaced by the name field."
        },
        "name": {
          "description": "The name (project, location, cluster, node pool id) of the node poll to rollback upgrade. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
        },
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "nodePoolId": {
          "description": "Required. Deprecated. The name of the node pool to rollback. This field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      },
      "id": "RollbackNodePoolUpgradeRequest",
      "type": "object",
      "description": "RollbackNodePoolUpgradeRequest rollbacks the previously Aborted or Failed NodePool upgrade. This will be an no-op if the last upgrade successfully completed."
    },
    "IstioConfig": {
      "description": "Configuration options for Istio addon.",
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Whether Istio is enabled for this cluster.",
          "type": "boolean"
        },
        "auth": {
          "enum": [
            "AUTH_NONE",
            "AUTH_MUTUAL_TLS"
          ],
          "description": "The specified Istio auth mode, either none, or mutual TLS.",
          "enumDescriptions": [
            "auth not enabled",
            "auth mutual TLS enabled"
          ],
          "type": "string"
        }
      },
      "id": "IstioConfig"
    },
    "CreateClusterRequest": {
      "type": "object",
      "id": "CreateClusterRequest",
      "description": "CreateClusterRequest creates a cluster.",
      "properties": {
        "cluster": {
          "description": "Required. A [cluster resource](https://cloud.google.com/container-engine/reference/rest/v1beta1/projects.locations.clusters)",
          "$ref": "Cluster"
        },
        "parent": {
          "description": "The parent (project and location) where the cluster will be created. Specified in the format `projects/*/locations/*`.",
          "type": "string"
        },
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the parent field.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the parent field."
        }
      }
    },
    "SandboxConfig": {
      "type": "object",
      "description": "SandboxConfig contains configurations of the sandbox to use for the node.",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "GVISOR"
          ],
          "enumDescriptions": [
            "Default value. This should not be used.",
            "Run sandbox using gvisor."
          ],
          "description": "Type of the sandbox to use for the node."
        },
        "sandboxType": {
          "type": "string",
          "description": "Type of the sandbox to use for the node (e.g. 'gvisor')"
        }
      },
      "id": "SandboxConfig"
    },
    "ReleaseChannelConfig": {
      "properties": {
        "channel": {
          "description": "The release channel this configuration applies to.",
          "enumDescriptions": [
            "No channel specified.",
            "RAPID channel is offered on an early access basis for customers who want to test new releases. WARNING: Versions available in the RAPID Channel may be subject to unresolved issues with no known workaround and are not subject to any SLAs.",
            "Clusters subscribed to REGULAR receive versions that are considered GA quality. REGULAR is intended for production users who want to take advantage of new features.",
            "Clusters subscribed to STABLE receive versions that are known to be stable and reliable in production."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE"
          ]
        },
        "validVersions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of valid versions for the channel."
        },
        "availableVersions": {
          "type": "array",
          "items": {
            "$ref": "AvailableVersion"
          },
          "description": "Deprecated. This field has been deprecated and replaced with the valid_versions field."
        },
        "defaultVersion": {
          "description": "The default version for newly created clusters on the channel.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "ReleaseChannelConfig exposes configuration for a release channel.",
      "id": "ReleaseChannelConfig"
    },
    "SetNodePoolManagementRequest": {
      "properties": {
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
        },
        "management": {
          "$ref": "NodeManagement",
          "description": "Required. NodeManagement configuration for the node pool."
        },
        "nodePoolId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the node pool to update. This field has been deprecated and replaced by the name field."
        },
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field."
        },
        "name": {
          "description": "The name (project, location, cluster, node pool id) of the node pool to set management properties. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
          "type": "string"
        }
      },
      "id": "SetNodePoolManagementRequest",
      "type": "object",
      "description": "SetNodePoolManagementRequest sets the node management properties of a node pool."
    },
    "PrivateClusterMasterGlobalAccessConfig": {
      "properties": {
        "enabled": {
          "description": "Whenever master is accessible globally or not.",
          "type": "boolean"
        }
      },
      "id": "PrivateClusterMasterGlobalAccessConfig",
      "description": "Configuration for controlling master global access settings.",
      "type": "object"
    },
    "SetNodePoolSizeRequest": {
      "id": "SetNodePoolSizeRequest",
      "description": "SetNodePoolSizeRequest sets the size of a node pool.",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
        },
        "nodePoolId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the node pool to update. This field has been deprecated and replaced by the name field."
        },
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster, node pool id) of the node pool to set size. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`."
        },
        "clusterId": {
          "description": "Required. Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "nodeCount": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The desired node count for the pool."
        }
      },
      "type": "object"
    },
    "SetLoggingServiceRequest": {
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
        },
        "loggingService": {
          "type": "string",
          "description": "Required. The logging service the cluster should use to write logs. Currently available options: * `logging.googleapis.com/kubernetes` - The Cloud Logging service with a Kubernetes-native resource model * `logging.googleapis.com` - The legacy Cloud Logging service (no longer available as of GKE 1.15). * `none` - no logs will be exported from the cluster. If left as an empty string,`logging.googleapis.com/kubernetes` will be used for GKE 1.14+ or `logging.googleapis.com` for earlier versions."
        },
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster) of the cluster to set logging. Specified in the format `projects/*/locations/*/clusters/*`."
        },
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      },
      "id": "SetLoggingServiceRequest",
      "type": "object",
      "description": "SetLoggingServiceRequest sets the logging service of a cluster."
    },
    "SetLegacyAbacRequest": {
      "description": "SetLegacyAbacRequest enables or disables the ABAC authorization mechanism for a cluster.",
      "properties": {
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field."
        },
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "enabled": {
          "description": "Required. Whether ABAC authorization will be enabled in the cluster.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster name) of the cluster to set legacy abac. Specified in the format `projects/*/locations/*/clusters/*`."
        }
      },
      "type": "object",
      "id": "SetLegacyAbacRequest"
    },
    "UsableSubnetwork": {
      "properties": {
        "subnetwork": {
          "type": "string",
          "description": "Subnetwork Name. Example: projects/my-project/regions/us-central1/subnetworks/my-subnet"
        },
        "network": {
          "type": "string",
          "description": "Network Name. Example: projects/my-project/global/networks/my-network"
        },
        "statusMessage": {
          "description": "A human readable status message representing the reasons for cases where the caller cannot use the secondary ranges under the subnet. For example if the secondary_ip_ranges is empty due to a permission issue, an insufficient permission message will be given by status_message.",
          "type": "string"
        },
        "secondaryIpRanges": {
          "type": "array",
          "items": {
            "$ref": "UsableSubnetworkSecondaryRange"
          },
          "description": "Secondary IP ranges."
        },
        "ipCidrRange": {
          "type": "string",
          "description": "The range of internal addresses that are owned by this subnetwork."
        }
      },
      "description": "UsableSubnetwork resource returns the subnetwork name, its associated network and the primary CIDR range.",
      "id": "UsableSubnetwork",
      "type": "object"
    },
    "ManagedPrometheusConfig": {
      "id": "ManagedPrometheusConfig",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Enable Managed Collection."
        }
      },
      "description": "ManagedPrometheusConfig defines the configuration for Google Cloud Managed Service for Prometheus.",
      "type": "object"
    },
    "NodeTaints": {
      "description": "Collection of Kubernetes [node taints](https://kubernetes.io/docs/concepts/configuration/taint-and-toleration).",
      "type": "object",
      "properties": {
        "taints": {
          "items": {
            "$ref": "NodeTaint"
          },
          "type": "array",
          "description": "List of node taints."
        }
      },
      "id": "NodeTaints"
    },
    "BinaryAuthorization": {
      "id": "BinaryAuthorization",
      "properties": {
        "enabled": {
          "description": "Enable Binary Authorization for this cluster. If enabled, all container images will be validated by Google Binauthz.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Configuration for Binary Authorization."
    },
    "HorizontalPodAutoscaling": {
      "description": "Configuration options for the horizontal pod autoscaling feature, which increases or decreases the number of replica pods a replication controller has based on the resource usage of the existing pods.",
      "id": "HorizontalPodAutoscaling",
      "properties": {
        "disabled": {
          "description": "Whether the Horizontal Pod Autoscaling feature is enabled in the cluster. When enabled, it ensures that metrics are collected into Stackdriver Monitoring.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ResourceUsageExportConfig": {
      "properties": {
        "bigqueryDestination": {
          "description": "Configuration to use BigQuery as usage export destination.",
          "$ref": "BigQueryDestination"
        },
        "consumptionMeteringConfig": {
          "description": "Configuration to enable resource consumption metering.",
          "$ref": "ConsumptionMeteringConfig"
        },
        "enableNetworkEgressMetering": {
          "type": "boolean",
          "description": "Whether to enable network egress metering for this cluster. If enabled, a daemonset will be created in the cluster to meter network egress traffic."
        }
      },
      "description": "Configuration for exporting cluster resource usages.",
      "type": "object",
      "id": "ResourceUsageExportConfig"
    },
    "ConfidentialNodes": {
      "id": "ConfidentialNodes",
      "type": "object",
      "description": "ConfidentialNodes is configuration for the confidential nodes feature, which makes nodes run on confidential VMs.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether Confidential Nodes feature is enabled."
        }
      }
    },
    "MonitoringConfig": {
      "properties": {
        "componentConfig": {
          "$ref": "MonitoringComponentConfig",
          "description": "Monitoring components configuration"
        },
        "managedPrometheusConfig": {
          "description": "Enable Google Cloud Managed Service for Prometheus in the cluster.",
          "$ref": "ManagedPrometheusConfig"
        }
      },
      "type": "object",
      "id": "MonitoringConfig",
      "description": "MonitoringConfig is cluster monitoring configuration."
    },
    "EphemeralStorageConfig": {
      "type": "object",
      "id": "EphemeralStorageConfig",
      "description": "EphemeralStorageConfig contains configuration for the ephemeral storage filesystem.",
      "properties": {
        "localSsdCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of local SSDs to use to back ephemeral storage. Uses NVMe interfaces. Each local SSD is 375 GB in size. If zero, it means to disable using local SSDs as ephemeral storage."
        }
      }
    },
    "VerticalPodAutoscaling": {
      "id": "VerticalPodAutoscaling",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Enables vertical pod autoscaling."
        }
      },
      "description": "VerticalPodAutoscaling contains global, per-cluster information required by Vertical Pod Autoscaler to automatically adjust the resources of pods controlled by it.",
      "type": "object"
    },
    "SetMasterAuthRequest": {
      "id": "SetMasterAuthRequest",
      "type": "object",
      "description": "SetMasterAuthRequest updates the admin password of a cluster.",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set auth. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "clusterId": {
          "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "action": {
          "type": "string",
          "enumDescriptions": [
            "Operation is unknown and will error out.",
            "Set the password to a user generated value.",
            "Generate a new password and set it to that.",
            "Set the username. If an empty username is provided, basic authentication is disabled for the cluster. If a non-empty username is provided, basic authentication is enabled, with either a provided password or a generated one."
          ],
          "description": "Required. The exact form of action to be taken on the master auth.",
          "enum": [
            "UNKNOWN",
            "SET_PASSWORD",
            "GENERATE_PASSWORD",
            "SET_USERNAME"
          ]
        },
        "update": {
          "$ref": "MasterAuth",
          "description": "Required. A description of the update."
        },
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        }
      }
    },
    "HttpLoadBalancing": {
      "description": "Configuration options for the HTTP (L7) load balancing controller addon, which makes it easy to set up HTTP load balancers for services in a cluster.",
      "properties": {
        "disabled": {
          "description": "Whether the HTTP Load Balancing controller is enabled in the cluster. When enabled, it runs a small pod in the cluster that manages the load balancers.",
          "type": "boolean"
        }
      },
      "id": "HttpLoadBalancing",
      "type": "object"
    },
    "SetLabelsRequest": {
      "description": "SetLabelsRequest sets the Google Cloud Platform labels on a Google Container Engine cluster, which will in turn set them for Google Compute Engine resources used by that cluster",
      "type": "object",
      "properties": {
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field."
        },
        "labelFingerprint": {
          "description": "Required. The fingerprint of the previous set of labels for this resource, used to detect conflicts. The fingerprint is initially generated by Kubernetes Engine and changes after every request to modify or update labels. You must always provide an up-to-date fingerprint hash when updating or changing labels. Make a `get()` request to the resource to get the latest fingerprint.",
          "type": "string"
        },
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "resourceLabels": {
          "description": "Required. The labels to set for that cluster.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field."
        },
        "name": {
          "description": "The name (project, location, cluster name) of the cluster to set labels. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        }
      },
      "id": "SetLabelsRequest"
    },
    "NodeManagement": {
      "id": "NodeManagement",
      "properties": {
        "upgradeOptions": {
          "$ref": "AutoUpgradeOptions",
          "description": "Specifies the Auto Upgrade knobs for the node pool."
        },
        "autoRepair": {
          "description": "Whether the nodes will be automatically repaired.",
          "type": "boolean"
        },
        "autoUpgrade": {
          "type": "boolean",
          "description": "Whether the nodes will be automatically upgraded."
        }
      },
      "description": "NodeManagement defines the set of node management services turned on for the node pool.",
      "type": "object"
    },
    "SetMaintenancePolicyRequest": {
      "id": "SetMaintenancePolicyRequest",
      "type": "object",
      "properties": {
        "clusterId": {
          "type": "string",
          "description": "Required. The name of the cluster to update."
        },
        "maintenancePolicy": {
          "description": "Required. The maintenance policy to be set for the cluster. An empty field clears the existing maintenance policy.",
          "$ref": "MaintenancePolicy"
        },
        "name": {
          "description": "The name (project, location, cluster name) of the cluster to set maintenance policy. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "zone": {
          "description": "Required. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Required. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840)."
        }
      },
      "description": "SetMaintenancePolicyRequest sets the maintenance policy for a cluster."
    },
    "NodeNetworkConfig": {
      "description": "Parameters for node pool-level network config.",
      "id": "NodeNetworkConfig",
      "type": "object",
      "properties": {
        "podIpv4CidrBlock": {
          "description": "The IP address range for pod IPs in this node pool. Only applicable if `create_pod_range` is true. Set to blank to have a range chosen with the default size. Set to /netmask (e.g. `/14`) to have a range chosen with a specific netmask. Set to a [CIDR](https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) to pick a specific range to use. Only applicable if `ip_allocation_policy.use_ip_aliases` is true. This field cannot be changed after the node pool has been created.",
          "type": "string"
        },
        "createPodRange": {
          "type": "boolean",
          "description": "Input only. Whether to create a new range for pod IPs in this node pool. Defaults are provided for `pod_range` and `pod_ipv4_cidr_block` if they are not specified. If neither `create_pod_range` or `pod_range` are specified, the cluster-level default (`ip_allocation_policy.cluster_ipv4_cidr_block`) is used. Only applicable if `ip_allocation_policy.use_ip_aliases` is true. This field cannot be changed after the node pool has been created."
        },
        "podRange": {
          "type": "string",
          "description": "The ID of the secondary range for pod IPs. If `create_pod_range` is true, this ID is used for the new range. If `create_pod_range` is false, uses an existing secondary range with this ID. Only applicable if `ip_allocation_policy.use_ip_aliases` is true. This field cannot be changed after the node pool has been created."
        }
      }
    },
    "KubernetesDashboard": {
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Whether the Kubernetes Dashboard is enabled for this cluster."
        }
      },
      "id": "KubernetesDashboard",
      "type": "object",
      "description": "Configuration for the Kubernetes Dashboard."
    },
    "NetworkConfig": {
      "id": "NetworkConfig",
      "type": "object",
      "description": "NetworkConfig reports the relative names of network & subnetwork.",
      "properties": {
        "enableL4ilbSubsetting": {
          "description": "Whether L4ILB Subsetting is enabled for this cluster.",
          "type": "boolean"
        },
        "network": {
          "type": "string",
          "description": "Output only. The relative name of the Google Compute Engine network(https://cloud.google.com/compute/docs/networks-and-firewalls#networks) to which the cluster is connected. Example: projects/my-project/global/networks/my-network"
        },
        "enableIntraNodeVisibility": {
          "description": "Whether Intra-node visibility is enabled for this cluster. This makes same node pod to pod traffic visible for VPC network.",
          "type": "boolean"
        },
        "subnetwork": {
          "type": "string",
          "description": "Output only. The relative name of the Google Compute Engine [subnetwork](https://cloud.google.com/compute/docs/vpc) to which the cluster is connected. Example: projects/my-project/regions/us-central1/subnetworks/my-subnet"
        },
        "privateIpv6GoogleAccess": {
          "description": "The desired state of IPv6 connectivity to Google Services. By default, no private IPv6 access to or from Google Services (all access will be via IPv4)",
          "enumDescriptions": [
            "Default value. Same as DISABLED",
            "No private access to or from Google Services",
            "Enables private IPv6 access to Google Services from GKE",
            "Enables priate IPv6 access to and from Google Services"
          ],
          "type": "string",
          "enum": [
            "PRIVATE_IPV6_GOOGLE_ACCESS_UNSPECIFIED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_DISABLED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_TO_GOOGLE",
            "PRIVATE_IPV6_GOOGLE_ACCESS_BIDIRECTIONAL"
          ]
        },
        "dnsConfig": {
          "$ref": "DNSConfig",
          "description": "DNSConfig contains clusterDNS config for this cluster."
        },
        "defaultSnatStatus": {
          "description": "Whether the cluster disables default in-node sNAT rules. In-node sNAT rules will be disabled when default_snat_status is disabled. When disabled is set to false, default IP masquerade rules will be applied to the nodes to prevent sNAT on cluster internal traffic.",
          "$ref": "DefaultSnatStatus"
        },
        "datapathProvider": {
          "type": "string",
          "description": "The desired datapath provider for this cluster. By default, uses the IPTables-based kube-proxy implementation.",
          "enum": [
            "DATAPATH_PROVIDER_UNSPECIFIED",
            "LEGACY_DATAPATH",
            "ADVANCED_DATAPATH"
          ],
          "enumDescriptions": [
            "Default value.",
            "Use the IPTables implementation based on kube-proxy.",
            "Use the eBPF based GKE Dataplane V2 with additional features. See the [GKE Dataplane V2 documentation](https://cloud.google.com/kubernetes-engine/docs/how-to/dataplane-v2) for more."
          ]
        },
        "serviceExternalIpsConfig": {
          "$ref": "ServiceExternalIPsConfig",
          "description": "ServiceExternalIPsConfig specifies if services with externalIPs field are blocked or not."
        }
      }
    },
    "NodeKubeletConfig": {
      "id": "NodeKubeletConfig",
      "type": "object",
      "description": "Node kubelet configs.",
      "properties": {
        "cpuCfsQuota": {
          "type": "boolean",
          "description": "Enable CPU CFS quota enforcement for containers that specify CPU limits. This option is enabled by default which makes kubelet use CFS quota (https://www.kernel.org/doc/Documentation/scheduler/sched-bwc.txt) to enforce container CPU limits. Otherwise, CPU limits will not be enforced at all. Disable this option to mitigate CPU throttling problems while still having your pods to be in Guaranteed QoS class by specifying the CPU limits. The default value is 'true' if unspecified."
        },
        "cpuManagerPolicy": {
          "type": "string",
          "description": "Control the CPU management policy on the node. See https://kubernetes.io/docs/tasks/administer-cluster/cpu-management-policies/ The following values are allowed. * \"none\": the default, which represents the existing scheduling behavior. * \"static\": allows pods with certain resource characteristics to be granted increased CPU affinity and exclusivity on the node. The default value is 'none' if unspecified."
        },
        "cpuCfsQuotaPeriod": {
          "description": "Set the CPU CFS quota period value 'cpu.cfs_period_us'. The string must be a sequence of decimal numbers, each with optional fraction and a unit suffix, such as \"300ms\". Valid time units are \"ns\", \"us\" (or \"µs\"), \"ms\", \"s\", \"m\", \"h\". The value must be a positive duration.",
          "type": "string"
        }
      }
    },
    "Metric": {
      "description": "Progress metric is (string, int|float|string) pair.",
      "id": "Metric",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Metric name, e.g., \"nodes total\", \"percent done\"."
        },
        "doubleValue": {
          "format": "double",
          "description": "For metrics with floating point value.",
          "type": "number"
        },
        "intValue": {
          "format": "int64",
          "description": "For metrics with integer value.",
          "type": "string"
        },
        "stringValue": {
          "description": "For metrics with custom values (ratios, visual progress, etc.).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GetOpenIDConfigResponse": {
      "description": "GetOpenIDConfigResponse is an OIDC discovery document for the cluster. See the OpenID Connect Discovery 1.0 specification for details.",
      "properties": {
        "grant_types": {
          "description": "Supported grant types.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "issuer": {
          "description": "OIDC Issuer.",
          "type": "string"
        },
        "claims_supported": {
          "description": "Supported claims.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "id_token_signing_alg_values_supported": {
          "type": "array",
          "description": "supported ID Token signing Algorithms.",
          "items": {
            "type": "string"
          }
        },
        "cacheHeader": {
          "$ref": "HttpCacheControlResponseHeader",
          "description": "OnePlatform automatically extracts this field and uses it to set the HTTP Cache-Control header."
        },
        "subject_types_supported": {
          "description": "Supported subject types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "jwks_uri": {
          "type": "string",
          "description": "JSON Web Key uri."
        },
        "response_types_supported": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Supported response types."
        }
      },
      "type": "object",
      "id": "GetOpenIDConfigResponse"
    },
    "ShieldedInstanceConfig": {
      "type": "object",
      "description": "A set of Shielded Instance options.",
      "id": "ShieldedInstanceConfig",
      "properties": {
        "enableIntegrityMonitoring": {
          "type": "boolean",
          "description": "Defines whether the instance has integrity monitoring enabled. Enables monitoring and attestation of the boot integrity of the instance. The attestation is performed against the integrity policy baseline. This baseline is initially derived from the implicitly trusted boot image when the instance is created."
        },
        "enableSecureBoot": {
          "type": "boolean",
          "description": "Defines whether the instance has Secure Boot enabled. Secure Boot helps ensure that the system only runs authentic software by verifying the digital signature of all boot components, and halting the boot process if signature verification fails."
        }
      }
    },
    "NetworkTags": {
      "type": "object",
      "description": "Collection of Compute Engine network tags that can be applied to a node's underlying VM instance. (See `tags` field in [`NodeConfig`](/kubernetes-engine/docs/reference/rest/v1/NodeConfig)).",
      "properties": {
[...]
