{
  "documentationLink": "https://cloud.google.com/container-engine/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Container",
  "id": "container:v1beta1",
  "revision": "20210326",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "title": "Kubernetes Engine API",
  "schemas": {
    "ClusterTelemetry": {
      "description": "Telemetry integration for the cluster.",
      "type": "object",
      "id": "ClusterTelemetry",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Monitoring integration is disabled.",
            "Monitoring integration is enabled.",
            "Only system components are monitored and logged."
          ],
          "description": "Type of the integration.",
          "enum": [
            "UNSPECIFIED",
            "DISABLED",
            "ENABLED",
            "SYSTEM_ONLY"
          ]
        }
      }
    },
    "ReleaseChannel": {
      "properties": {
        "channel": {
          "enum": [
            "UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "No channel specified.",
            "RAPID channel is offered on an early access basis for customers who want to test new releases. WARNING: Versions available in the RAPID Channel may be subject to unresolved issues with no known workaround and are not subject to any SLAs.",
            "Clusters subscribed to REGULAR receive versions that are considered GA quality. REGULAR is intended for production users who want to take advantage of new features.",
            "Clusters subscribed to STABLE receive versions that are known to be stable and reliable in production."
          ],
          "description": "channel specifies which release channel the cluster is subscribed to."
        }
      },
      "description": "ReleaseChannel indicates which release channel a cluster is subscribed to. Release channels are arranged in order of risk. When a cluster is subscribed to a release channel, Google maintains both the master version and the node version. Node auto-upgrade defaults to true and cannot be disabled.",
      "id": "ReleaseChannel",
      "type": "object"
    },
    "OperationProgress": {
      "type": "object",
      "id": "OperationProgress",
      "description": "Information about operation (or operation stage) progress.",
      "properties": {
        "metrics": {
          "items": {
            "$ref": "Metric"
          },
          "description": "Progress metric bundle, for example: metrics: [{name: \"nodes done\", int_value: 15}, {name: \"nodes total\", int_value: 32}] or metrics: [{name: \"progress\", double_value: 0.56}, {name: \"progress scale\", double_value: 1.0}]",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "A non-parameterized string describing an operation stage. Unset for single-stage operations."
        },
        "stages": {
          "type": "array",
          "description": "Substages of an operation or a stage.",
          "items": {
            "$ref": "OperationProgress"
          }
        },
        "status": {
          "enumDescriptions": [
            "Not set.",
            "The operation has been created.",
            "The operation is currently running.",
            "The operation is done, either cancelled or completed.",
            "The operation is aborting."
          ],
          "description": "Status of an operation stage. Unset for single-stage operations.",
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "ABORTING"
          ]
        }
      }
    },
    "VerticalPodAutoscaling": {
      "id": "VerticalPodAutoscaling",
      "properties": {
        "enabled": {
          "description": "Enables vertical pod autoscaling.",
          "type": "boolean"
        }
      },
      "description": "VerticalPodAutoscaling contains global, per-cluster information required by Vertical Pod Autoscaler to automatically adjust the resources of pods controlled by it.",
      "type": "object"
    },
    "PubSub": {
      "type": "object",
      "properties": {
        "topic": {
          "description": "The desired Pub/Sub topic to which notifications will be sent by GKE. Format is `projects/{project}/topics/{topic}`.",
          "type": "string"
        },
        "enabled": {
          "description": "Enable notifications for Pub/Sub.",
          "type": "boolean"
        }
      },
      "description": "Pub/Sub specific notification config.",
      "id": "PubSub"
    },
    "TpuConfig": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether Cloud TPU integration is enabled or not."
        },
        "ipv4CidrBlock": {
          "description": "IPv4 CIDR block reserved for Cloud TPU in the VPC.",
          "type": "string"
        },
        "useServiceNetworking": {
          "type": "boolean",
          "description": "Whether to use service networking for Cloud TPU or not."
        }
      },
      "id": "TpuConfig",
      "type": "object",
      "description": "Configuration for Cloud TPU."
    },
    "Location": {
      "properties": {
        "type": {
          "enum": [
            "LOCATION_TYPE_UNSPECIFIED",
            "ZONE",
            "REGION"
          ],
          "enumDescriptions": [
            "LOCATION_TYPE_UNSPECIFIED means the location type was not determined.",
            "A GKE Location where Zonal clusters can be created.",
            "A GKE Location where Regional clusters can be created."
          ],
          "description": "Contains the type of location this Location is for. Regional or Zonal.",
          "type": "string"
        },
        "recommended": {
          "type": "boolean",
          "description": "Whether the location is recomended for GKE cluster scheduling."
        },
        "name": {
          "description": "Contains the name of the resource requested. Specified in the format `projects/*/locations/*`.",
          "type": "string"
        }
      },
      "description": "Location returns the location name, and if the location is recommended for GKE cluster scheduling.",
      "id": "Location",
      "type": "object"
    },
    "PrivateClusterMasterGlobalAccessConfig": {
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whenever master is accessible globally or not.",
          "type": "boolean"
        }
      },
      "id": "PrivateClusterMasterGlobalAccessConfig",
      "description": "Configuration for controlling master global access settings."
    },
    "StatusCondition": {
      "description": "StatusCondition describes why a cluster or a node pool has a certain status (e.g., ERROR or DEGRADED).",
      "properties": {
        "message": {
          "description": "Human-friendly representation of the condition",
          "type": "string"
        },
        "canonicalCode": {
          "enumDescriptions": [
            "Not an error; returned on success HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level (e.g., when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence). (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. E.g., if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
            "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request",
            "The operation is not implemented or is not supported/enabled in this service. HTTP Mapping: 501 Not Implemented",
            "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error",
            "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable",
            "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          ],
          "enum": [
            "OK",
            "CANCELLED",
            "UNKNOWN",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "ALREADY_EXISTS",
            "PERMISSION_DENIED",
            "UNAUTHENTICATED",
            "RESOURCE_EXHAUSTED",
            "FAILED_PRECONDITION",
            "ABORTED",
            "OUT_OF_RANGE",
            "UNIMPLEMENTED",
            "INTERNAL",
            "UNAVAILABLE",
            "DATA_LOSS"
          ],
          "description": "Canonical code of the condition.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "Machine-friendly representation of the condition Deprecated. Use canonical_code instead.",
          "enumDescriptions": [
            "UNKNOWN indicates a generic condition.",
            "GCE_STOCKOUT indicates that Google Compute Engine resources are temporarily unavailable.",
            "GKE_SERVICE_ACCOUNT_DELETED indicates that the user deleted their robot service account.",
            "Google Compute Engine quota was exceeded.",
            "Cluster state was manually changed by an SRE due to a system logic error.",
            "Unable to perform an encrypt operation against the CloudKMS key used for etcd level encryption. More codes TBA"
          ],
          "enum": [
            "UNKNOWN",
            "GCE_STOCKOUT",
            "GKE_SERVICE_ACCOUNT_DELETED",
            "GCE_QUOTA_EXCEEDED",
            "SET_BY_OPERATOR",
            "CLOUD_KMS_KEY_ERROR"
          ]
        }
      },
      "id": "StatusCondition",
      "type": "object"
    },
    "NodePool": {
      "properties": {
        "conditions": {
          "description": "Which conditions caused the current node pool state.",
          "items": {
            "$ref": "StatusCondition"
          },
          "type": "array"
        },
        "statusMessage": {
          "description": "[Output only] Deprecated. Use conditions instead. Additional information about the current status of this node pool instance, if available.",
          "type": "string"
        },
        "management": {
          "$ref": "NodeManagement",
          "description": "NodeManagement configuration for this NodePool."
        },
        "locations": {
          "items": {
            "type": "string"
          },
          "description": "The list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the NodePool's nodes should be located. If this value is unspecified during node pool creation, the [Cluster.Locations](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters#Cluster.FIELDS.locations) value will be used, instead. Warning: changing node pool locations will result in nodes being added and/or removed.",
          "type": "array"
        },
        "initialNodeCount": {
          "type": "integer",
          "format": "int32",
          "description": "The initial node count for the pool. You must ensure that your Compute Engine [resource quota](https://cloud.google.com/compute/quotas) is sufficient for this number of instances. You must also have available firewall and routes quota."
        },
        "config": {
          "$ref": "NodeConfig",
          "description": "The node configuration of the pool."
        },
        "instanceGroupUrls": {
          "description": "[Output only] The resource URLs of the [managed instance groups](https://cloud.google.com/compute/docs/instance-groups/creating-groups-of-managed-instances) associated with this node pool.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "selfLink": {
          "type": "string",
          "description": "[Output only] Server-defined URL for the resource."
        },
        "status": {
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the node pool is being created.",
            "The RUNNING state indicates the node pool has been created and is fully usable.",
            "The RUNNING_WITH_ERROR state indicates the node pool has been created and is partially usable. Some error state has occurred and some functionality may be impaired. Customer may need to reissue a request or trigger a new update.",
            "The RECONCILING state indicates that some work is actively being done on the node pool, such as upgrading node software. Details can be found in the `statusMessage` field.",
            "The STOPPING state indicates the node pool is being deleted.",
            "The ERROR state indicates the node pool may be unusable. Details can be found in the `statusMessage` field."
          ],
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RUNNING_WITH_ERROR",
            "RECONCILING",
            "STOPPING",
            "ERROR"
          ],
          "description": "[Output only] The status of the nodes in this pool instance."
        },
        "maxPodsConstraint": {
          "$ref": "MaxPodsConstraint",
          "description": "The constraint on the maximum number of pods that can be run simultaneously on a node in the node pool."
        },
        "upgradeSettings": {
          "$ref": "UpgradeSettings",
          "description": "Upgrade settings control disruption and speed of the upgrade."
        },
        "networkConfig": {
          "$ref": "NodeNetworkConfig",
          "description": "Networking configuration for this NodePool. If specified, it overrides the cluster-level defaults."
        },
        "podIpv4CidrSize": {
          "description": "[Output only] The pod CIDR block size per node in this node pool.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "description": "The name of the node pool.",
          "type": "string"
        },
        "autoscaling": {
          "description": "Autoscaler configuration for this NodePool. Autoscaler is enabled only if a valid configuration is present.",
          "$ref": "NodePoolAutoscaling"
        },
        "version": {
          "type": "string",
          "description": "The version of the Kubernetes of this node."
        }
      },
      "id": "NodePool",
      "description": "NodePool contains the name and configuration for a cluster's node pool. Node pools are a set of nodes (i.e. VM's), with a common configuration and specification, under the control of the cluster master. They may have a set of Kubernetes labels applied to them, which may be used to reference them during pod scheduling. They may also be resized up or down, to accommodate the workload.",
      "type": "object"
    },
    "ClusterAutoscaling": {
      "properties": {
        "enableNodeAutoprovisioning": {
          "type": "boolean",
          "description": "Enables automatic node pool creation and deletion."
        },
        "autoprovisioningNodePoolDefaults": {
          "description": "AutoprovisioningNodePoolDefaults contains defaults for a node pool created by NAP.",
          "$ref": "AutoprovisioningNodePoolDefaults"
        },
        "autoprovisioningLocations": {
          "items": {
            "type": "string"
          },
          "description": "The list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the NodePool's nodes can be created by NAP.",
          "type": "array"
        },
        "resourceLimits": {
          "description": "Contains global constraints regarding minimum and maximum amount of resources in the cluster.",
          "items": {
            "$ref": "ResourceLimit"
          },
          "type": "array"
        },
        "autoscalingProfile": {
          "enum": [
            "PROFILE_UNSPECIFIED",
            "OPTIMIZE_UTILIZATION",
            "BALANCED"
          ],
          "enumDescriptions": [
            "No change to autoscaling configuration.",
            "Prioritize optimizing utilization of resources.",
            "Use default (balanced) autoscaling configuration."
          ],
          "type": "string",
          "description": "Defines autoscaling behaviour."
        }
      },
      "type": "object",
      "description": "ClusterAutoscaling contains global, per-cluster information required by Cluster Autoscaler to automatically adjust the size of the cluster and create/delete node pools based on the current needs.",
      "id": "ClusterAutoscaling"
    },
    "RecurringTimeWindow": {
      "id": "RecurringTimeWindow",
      "properties": {
        "recurrence": {
          "type": "string",
          "description": "An RRULE (https://tools.ietf.org/html/rfc5545#section-3.8.5.3) for how this window reccurs. They go on for the span of time between the start and end time. For example, to have something repeat every weekday, you'd use: `FREQ=WEEKLY;BYDAY=MO,TU,WE,TH,FR` To repeat some window daily (equivalent to the DailyMaintenanceWindow): `FREQ=DAILY` For the first weekend of every month: `FREQ=MONTHLY;BYSETPOS=1;BYDAY=SA,SU` This specifies how frequently the window starts. Eg, if you wanted to have a 9-5 UTC-4 window every weekday, you'd use something like: ``` start time = 2019-01-01T09:00:00-0400 end time = 2019-01-01T17:00:00-0400 recurrence = FREQ=WEEKLY;BYDAY=MO,TU,WE,TH,FR ``` Windows can span multiple days. Eg, to make the window encompass every weekend from midnight Saturday till the last minute of Sunday UTC: ``` start time = 2019-01-05T00:00:00Z end time = 2019-01-07T23:59:00Z recurrence = FREQ=WEEKLY;BYDAY=SA ``` Note the start and end time's specific dates are largely arbitrary except to specify duration of the window and when it first starts. The FREQ values of HOURLY, MINUTELY, and SECONDLY are not supported."
        },
        "window": {
          "description": "The window of the first recurrence.",
          "$ref": "TimeWindow"
        }
      },
      "description": "Represents an arbitrary window of time that recurs.",
      "type": "object"
    },
    "SetMasterAuthRequest": {
      "properties": {
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
        },
        "action": {
          "description": "Required. The exact form of action to be taken on the master auth.",
          "enum": [
            "UNKNOWN",
            "SET_PASSWORD",
            "GENERATE_PASSWORD",
            "SET_USERNAME"
          ],
          "enumDescriptions": [
            "Operation is unknown and will error out.",
            "Set the password to a user generated value.",
            "Generate a new password and set it to that.",
            "Set the username. If an empty username is provided, basic authentication is disabled for the cluster. If a non-empty username is provided, basic authentication is enabled, with either a provided password or a generated one."
          ],
          "type": "string"
        },
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set auth. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "update": {
          "description": "Required. A description of the update.",
          "$ref": "MasterAuth"
        }
      },
      "type": "object",
      "id": "SetMasterAuthRequest",
      "description": "SetMasterAuthRequest updates the admin password of a cluster."
    },
    "NodeLabels": {
      "type": "object",
      "id": "NodeLabels",
      "description": "Collection of node-level [Kubernetes labels](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels).",
      "properties": {
        "labels": {
          "description": "Map of node label keys and node label values.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "SetNetworkPolicyRequest": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster id) of the cluster to set networking policy. Specified in the format `projects/*/locations/*/clusters/*`."
        },
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "networkPolicy": {
          "description": "Required. Configuration options for the NetworkPolicy feature.",
          "$ref": "NetworkPolicy"
        },
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field."
        }
      },
      "id": "SetNetworkPolicyRequest",
      "description": "SetNetworkPolicyRequest enables/disables network policy for a cluster.",
      "type": "object"
    },
    "CidrBlock": {
      "id": "CidrBlock",
      "type": "object",
      "description": "CidrBlock contains an optional name and one CIDR block.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "display_name is an optional field for users to identify CIDR blocks."
        },
        "cidrBlock": {
          "description": "cidr_block must be specified in CIDR notation.",
          "type": "string"
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        }
      }
    },
    "ClientCertificateConfig": {
      "properties": {
        "issueClientCertificate": {
          "description": "Issue a client certificate.",
          "type": "boolean"
        }
      },
      "description": "Configuration for client certificates on the cluster.",
      "type": "object",
      "id": "ClientCertificateConfig"
    },
    "ReservationAffinity": {
      "description": "[ReservationAffinity](https://cloud.google.com/compute/docs/instances/reserving-zonal-resources) is the configuration of desired reservation which instances could take capacity from.",
      "properties": {
        "consumeReservationType": {
          "enumDescriptions": [
            "Default value. This should not be used.",
            "Do not consume from any reserved capacity.",
            "Consume any reservation available.",
            "Must consume from a specific reservation. Must specify key value fields for specifying the reservations."
          ],
          "description": "Corresponds to the type of reservation consumption.",
          "enum": [
            "UNSPECIFIED",
            "NO_RESERVATION",
            "ANY_RESERVATION",
            "SPECIFIC_RESERVATION"
          ],
          "type": "string"
        },
        "values": {
          "description": "Corresponds to the label value(s) of reservation resource(s).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "key": {
          "type": "string",
          "description": "Corresponds to the label key of a reservation resource. To target a SPECIFIC_RESERVATION by name, specify \"googleapis.com/reservation-name\" as the key and specify the name of your reservation as its value."
        }
      },
      "id": "ReservationAffinity",
      "type": "object"
    },
    "UpgradeSettings": {
      "id": "UpgradeSettings",
      "type": "object",
      "description": "These upgrade settings control the level of parallelism and the level of disruption caused by an upgrade. maxUnavailable controls the number of nodes that can be simultaneously unavailable. maxSurge controls the number of additional nodes that can be added to the node pool temporarily for the time of the upgrade to increase the number of available nodes. (maxUnavailable + maxSurge) determines the level of parallelism (how many nodes are being upgraded at the same time). Note: upgrades inevitably introduce some disruption since workloads need to be moved from old nodes to new, upgraded ones. Even if maxUnavailable=0, this holds true. (Disruption stays within the limits of PodDisruptionBudget, if it is configured.) Consider a hypothetical node pool with 5 nodes having maxSurge=2, maxUnavailable=1. This means the upgrade process upgrades 3 nodes simultaneously. It creates 2 additional (upgraded) nodes, then it brings down 3 old (not yet upgraded) nodes at the same time. This ensures that there are always at least 4 nodes available.",
      "properties": {
        "maxUnavailable": {
          "description": "The maximum number of nodes that can be simultaneously unavailable during the upgrade process. A node is considered available if its status is Ready.",
          "format": "int32",
          "type": "integer"
        },
        "maxSurge": {
          "format": "int32",
          "description": "The maximum number of nodes that can be created beyond the current size of the node pool during the upgrade process.",
          "type": "integer"
        }
      }
    },
    "GcePersistentDiskCsiDriverConfig": {
      "id": "GcePersistentDiskCsiDriverConfig",
      "description": "Configuration for the Compute Engine PD CSI driver.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the Compute Engine PD CSI driver is enabled for this cluster."
        }
      },
      "type": "object"
    },
    "UpdateMasterRequest": {
      "type": "object",
      "properties": {
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "masterVersion": {
          "type": "string",
          "description": "Required. The Kubernetes version to change the master to. Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"-\": picks the default Kubernetes version"
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to update. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
        },
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
        }
      },
      "id": "UpdateMasterRequest",
      "description": "UpdateMasterRequest updates the master of the cluster."
    },
    "UpgradeEvent": {
      "type": "object",
      "id": "UpgradeEvent",
      "properties": {
        "resourceType": {
          "enumDescriptions": [
            "Default value. This shouldn't be used.",
            "Master / control plane",
            "Node pool"
          ],
          "description": "The resource type that is upgrading.",
          "type": "string",
          "enum": [
            "UPGRADE_RESOURCE_TYPE_UNSPECIFIED",
            "MASTER",
            "NODE_POOL"
          ]
        },
        "resource": {
          "description": "Optional relative path to the resource. For example in node pool upgrades, the relative path of the node pool.",
          "type": "string"
        },
        "targetVersion": {
          "description": "The target version for the upgrade.",
          "type": "string"
        },
        "currentVersion": {
          "type": "string",
          "description": "The current version before the upgrade."
        },
        "operationStartTime": {
          "type": "string",
          "description": "The time when the operation was started.",
          "format": "google-datetime"
        },
        "operation": {
          "description": "The operation associated with this upgrade.",
          "type": "string"
        }
      },
      "description": "UpgradeEvent is a notification sent to customers by the cluster server when a resource is upgrading."
    },
    "DefaultSnatStatus": {
      "id": "DefaultSnatStatus",
      "type": "object",
      "description": "DefaultSnatStatus contains the desired state of whether default sNAT should be disabled on the cluster.",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Disables cluster default sNAT rules."
        }
      }
    },
    "KalmConfig": {
      "type": "object",
      "description": "Configuration options for the KALM addon.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether KALM is enabled for this cluster."
        }
      },
      "id": "KalmConfig"
    },
    "SetMaintenancePolicyRequest": {
      "id": "SetMaintenancePolicyRequest",
      "properties": {
        "zone": {
          "type": "string",
          "description": "Required. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides."
        },
        "clusterId": {
          "description": "Required. The name of the cluster to update.",
          "type": "string"
        },
        "maintenancePolicy": {
          "$ref": "MaintenancePolicy",
          "description": "Required. The maintenance policy to be set for the cluster. An empty field clears the existing maintenance policy."
        },
        "projectId": {
          "description": "Required. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840).",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster id) of the cluster to set maintenance policy. Specified in the format `projects/*/locations/*/clusters/*`."
        }
      },
      "description": "SetMaintenancePolicyRequest sets the maintenance policy for a cluster.",
      "type": "object"
    },
    "KubernetesDashboard": {
      "type": "object",
      "description": "Configuration for the Kubernetes Dashboard.",
      "id": "KubernetesDashboard",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Whether the Kubernetes Dashboard is enabled for this cluster."
        }
      }
    },
    "AcceleratorConfig": {
      "description": "AcceleratorConfig represents a Hardware Accelerator request.",
      "type": "object",
      "id": "AcceleratorConfig",
      "properties": {
        "acceleratorCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of the accelerator cards exposed to an instance."
        },
        "acceleratorType": {
          "description": "The accelerator type resource name. List of supported accelerators [here](https://cloud.google.com/compute/docs/gpus)",
          "type": "string"
        }
      }
    },
    "NetworkPolicy": {
      "type": "object",
      "id": "NetworkPolicy",
      "properties": {
        "provider": {
          "enumDescriptions": [
            "Not set",
            "Tigera (Calico Felix)."
          ],
          "type": "string",
          "description": "The selected network policy provider.",
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "CALICO"
          ]
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether network policy is enabled on the cluster."
        }
      },
      "description": "Configuration options for the NetworkPolicy feature. https://kubernetes.io/docs/concepts/services-networking/networkpolicies/"
    },
    "MaxPodsConstraint": {
      "id": "MaxPodsConstraint",
      "properties": {
        "maxPodsPerNode": {
          "type": "string",
          "format": "int64",
          "description": "Constraint enforced on the max num of pods per node."
        }
      },
      "type": "object",
      "description": "Constraints applied to pods."
    },
    "Metric": {
      "properties": {
        "intValue": {
          "type": "string",
          "format": "int64",
          "description": "For metrics with integer value."
        },
        "stringValue": {
          "description": "For metrics with custom values (ratios, visual progress, etc.).",
          "type": "string"
        },
        "name": {
          "description": "Required. Metric name, e.g., \"nodes total\", \"percent done\".",
          "type": "string"
        },
        "doubleValue": {
          "description": "For metrics with floating point value.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "Metric",
      "type": "object",
      "description": "Progress metric is (string, int|float|string) pair."
    },
    "HttpLoadBalancing": {
      "id": "HttpLoadBalancing",
      "description": "Configuration options for the HTTP (L7) load balancing controller addon, which makes it easy to set up HTTP load balancers for services in a cluster.",
      "properties": {
        "disabled": {
          "description": "Whether the HTTP Load Balancing controller is enabled in the cluster. When enabled, it runs a small pod in the cluster that manages the load balancers.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "MaintenanceWindow": {
      "properties": {
        "recurringWindow": {
          "$ref": "RecurringTimeWindow",
          "description": "RecurringWindow specifies some number of recurring time periods for maintenance to occur. The time windows may be overlapping. If no maintenance windows are set, maintenance can occur at any time."
        },
        "maintenanceExclusions": {
          "additionalProperties": {
            "$ref": "TimeWindow"
          },
          "description": "Exceptions to maintenance window. Non-emergency maintenance should not occur in these windows.",
          "type": "object"
        },
        "dailyMaintenanceWindow": {
          "$ref": "DailyMaintenanceWindow",
          "description": "DailyMaintenanceWindow specifies a daily maintenance operation window."
        }
      },
      "type": "object",
      "description": "MaintenanceWindow defines the maintenance window to be used for the cluster.",
      "id": "MaintenanceWindow"
    },
    "NetworkPolicyConfig": {
      "id": "NetworkPolicyConfig",
      "type": "object",
      "description": "Configuration for NetworkPolicy. This only tracks whether the addon is enabled or not on the Master, it does not track whether network policy is enabled for the nodes.",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Whether NetworkPolicy is enabled for this cluster."
        }
      }
    },
    "BinaryAuthorization": {
      "type": "object",
      "id": "BinaryAuthorization",
      "description": "Configuration for Binary Authorization.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Enable Binary Authorization for this cluster. If enabled, all container images will be validated by Google Binauthz."
        }
      }
    },
    "UpgradeAvailableEvent": {
      "description": "UpgradeAvailableEvent is a notification sent to customers when a new available version is released.",
      "properties": {
        "resource": {
          "description": "Optional. Optional relative path to the resource. For example, the relative path of the node pool.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "The release version available for upgrade."
        },
        "resourceType": {
          "type": "string",
          "enum": [
            "UPGRADE_RESOURCE_TYPE_UNSPECIFIED",
            "MASTER",
            "NODE_POOL"
          ],
          "enumDescriptions": [
            "Default value. This shouldn't be used.",
            "Master / control plane",
            "Node pool"
          ],
          "description": "The resource type of the release version."
        },
        "releaseChannel": {
          "description": "The release channel of the version. If empty, it means a non-channel release.",
          "$ref": "ReleaseChannel"
        }
      },
      "type": "object",
      "id": "UpgradeAvailableEvent"
    },
    "DailyMaintenanceWindow": {
      "id": "DailyMaintenanceWindow",
      "type": "object",
      "properties": {
        "duration": {
          "type": "string",
          "description": "[Output only] Duration of the time window, automatically chosen to be smallest possible in the given scenario."
        },
        "startTime": {
          "type": "string",
          "description": "Time within the maintenance window to start the maintenance operations. It must be in format \"HH:MM\", where HH : [00-23] and MM : [00-59] GMT."
        }
      },
      "description": "Time window specified for daily maintenance operations."
    },
    "MasterAuth": {
      "type": "object",
      "properties": {
        "clientCertificateConfig": {
          "$ref": "ClientCertificateConfig",
          "description": "Configuration for client certificate authentication on the cluster. For clusters before v1.12, if no configuration is specified, a client certificate is issued."
        },
        "clientKey": {
          "description": "[Output only] Base64-encoded private key used by clients to authenticate to the cluster endpoint.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "The password to use for HTTP basic authentication to the master endpoint. Because the master endpoint is open to the Internet, you should create a strong password. If a password is provided for cluster creation, username must be non-empty. Warning: basic authentication is deprecated, and will be removed in GKE control plane versions 1.19 and newer. For a list of recommended authentication methods, see: https://cloud.google.com/kubernetes-engine/docs/how-to/api-server-authentication"
        },
        "clientCertificate": {
          "type": "string",
          "description": "[Output only] Base64-encoded public certificate used by clients to authenticate to the cluster endpoint."
        },
        "clusterCaCertificate": {
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "The username to use for HTTP basic authentication to the master endpoint. For clusters v1.6.0 and later, basic authentication can be disabled by leaving username unspecified (or setting it to the empty string). Warning: basic authentication is deprecated, and will be removed in GKE control plane versions 1.19 and newer. For a list of recommended authentication methods, see: https://cloud.google.com/kubernetes-engine/docs/how-to/api-server-authentication"
        }
      },
      "id": "MasterAuth",
      "description": "The authentication information for accessing the master endpoint. Authentication can be done using HTTP basic auth or using client certificates."
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "operationId": {
          "description": "Required. Deprecated. The server-assigned `name` of the operation. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the operation resides. This field has been deprecated and replaced by the name field."
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, operation id) of the operation to cancel. Specified in the format `projects/*/locations/*/operations/*`."
        }
      },
      "description": "CancelOperationRequest cancels a single operation."
    },
    "SetNodePoolManagementRequest": {
      "id": "SetNodePoolManagementRequest",
      "properties": {
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster, node pool id) of the node pool to set management properties. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`."
        },
        "management": {
          "$ref": "NodeManagement",
          "description": "Required. NodeManagement configuration for the node pool."
        },
        "clusterId": {
          "description": "Required. Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "nodePoolId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the node pool to update. This field has been deprecated and replaced by the name field."
        }
      },
      "type": "object",
      "description": "SetNodePoolManagementRequest sets the node management properties of a node pool."
    },
    "IntraNodeVisibilityConfig": {
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Enables intra node visibility for this cluster."
        }
      },
      "id": "IntraNodeVisibilityConfig",
      "description": "IntraNodeVisibilityConfig contains the desired config of the intra-node visibility on this cluster."
    },
    "DatabaseEncryption": {
      "id": "DatabaseEncryption",
      "description": "Configuration of etcd encryption.",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Should never be set",
            "Secrets in etcd are encrypted.",
            "Secrets in etcd are stored in plain text (at etcd level) - this is unrelated to Compute Engine level full disk encryption."
          ],
          "description": "Denotes the state of etcd encryption.",
          "enum": [
            "UNKNOWN",
            "ENCRYPTED",
            "DECRYPTED"
          ],
          "type": "string"
        },
        "keyName": {
          "description": "Name of CloudKMS key to use for the encryption of secrets in etcd. Ex. projects/my-project/locations/global/keyRings/my-ring/cryptoKeys/my-key",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Autopilot": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Enable Autopilot"
        }
      },
      "id": "Autopilot",
      "description": "Autopilot is the configuration for Autopilot settings on the cluster.",
      "type": "object"
    },
    "SetLegacyAbacRequest": {
      "description": "SetLegacyAbacRequest enables or disables the ABAC authorization mechanism for a cluster.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster id) of the cluster to set legacy abac. Specified in the format `projects/*/locations/*/clusters/*`."
        },
        "clusterId": {
          "description": "Required. Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "enabled": {
          "description": "Required. Whether ABAC authorization will be enabled in the cluster.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "SetLegacyAbacRequest"
    },
    "NodeKubeletConfig": {
      "properties": {
        "cpuManagerPolicy": {
          "type": "string",
          "description": "Control the CPU management policy on the node. See https://kubernetes.io/docs/tasks/administer-cluster/cpu-management-policies/ The following values are allowed. - \"none\": the default, which represents the existing scheduling behavior. - \"static\": allows pods with certain resource characteristics to be granted increased CPU affinity and exclusivity on the node. The default value is 'none' if unspecified."
        },
        "cpuCfsQuota": {
          "description": "Enable CPU CFS quota enforcement for containers that specify CPU limits. This option is enabled by default which makes kubelet use CFS quota (https://www.kernel.org/doc/Documentation/scheduler/sched-bwc.txt) to enforce container CPU limits. Otherwise, CPU limits will not be enforced at all. Disable this option to mitigate CPU throttling problems while still having your pods to be in Guaranteed QoS class by specifying the CPU limits. The default value is 'true' if unspecified.",
          "type": "boolean"
        },
        "cpuCfsQuotaPeriod": {
          "type": "string",
          "description": "Set the CPU CFS quota period value 'cpu.cfs_period_us'. The string must be a sequence of decimal numbers, each with optional fraction and a unit suffix, such as \"300ms\". Valid time units are \"ns\", \"us\" (or \"µs\"), \"ms\", \"s\", \"m\", \"h\". The value must be a positive duration."
        }
      },
      "description": "Node kubelet configs.",
      "type": "object",
      "id": "NodeKubeletConfig"
    },
    "ListLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Only return ListLocationsResponse that occur after the page_token. This value should be populated from the ListLocationsResponse.next_page_token if that response token was set (which happens when listing more Locations than fit in a single ListLocationsResponse).",
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A full list of GKE locations."
        }
      },
      "description": "ListLocationsResponse returns the list of all GKE locations and their recommendation state.",
      "id": "ListLocationsResponse",
      "type": "object"
    },
    "SetMonitoringServiceRequest": {
      "type": "object",
      "id": "SetMonitoringServiceRequest",
      "description": "SetMonitoringServiceRequest sets the monitoring service of a cluster.",
      "properties": {
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set monitoring. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "monitoringService": {
          "description": "Required. The monitoring service the cluster should use to write metrics. Currently available options: * \"monitoring.googleapis.com/kubernetes\" - The Cloud Monitoring service with a Kubernetes-native resource model * `monitoring.googleapis.com` - The legacy Cloud Monitoring service (no longer available as of GKE 1.15). * `none` - No metrics will be exported from the cluster. If left as an empty string,`monitoring.googleapis.com/kubernetes` will be used for GKE 1.14+ or `monitoring.googleapis.com` for earlier versions.",
          "type": "string"
        },
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
        }
      }
    },
    "NodePoolAutoscaling": {
      "properties": {
        "maxNodeCount": {
          "description": "Maximum number of nodes in the NodePool. Must be \u003e= min_node_count. There has to enough quota to scale up the cluster.",
          "format": "int32",
          "type": "integer"
        },
        "autoprovisioned": {
          "type": "boolean",
          "description": "Can this node pool be deleted automatically."
        },
        "minNodeCount": {
          "format": "int32",
          "description": "Minimum number of nodes in the NodePool. Must be \u003e= 1 and \u003c= max_node_count.",
          "type": "integer"
        },
        "enabled": {
          "description": "Is autoscaling enabled for this node pool.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "NodePoolAutoscaling",
      "description": "NodePoolAutoscaling contains information required by cluster autoscaler to adjust the size of the node pool to the current cluster usage."
    },
    "NodeTaints": {
      "description": "Collection of Kubernetes [node taints](https://kubernetes.io/docs/concepts/configuration/taint-and-toleration).",
      "id": "NodeTaints",
      "type": "object",
      "properties": {
        "taints": {
          "description": "List of node taints.",
          "items": {
            "$ref": "NodeTaint"
          },
          "type": "array"
        }
      }
    },
    "WorkloadMetadataConfig": {
      "properties": {
        "nodeMetadata": {
          "enum": [
            "UNSPECIFIED",
            "SECURE",
            "EXPOSE",
            "GKE_METADATA_SERVER"
          ],
          "type": "string",
          "description": "NodeMetadata is the configuration for how to expose metadata to the workloads running on the node.",
          "enumDescriptions": [
            "Not set.",
            "Prevent workloads not in hostNetwork from accessing certain VM metadata, specifically kube-env, which contains Kubelet credentials, and the instance identity token. Metadata concealment is a temporary security solution available while the bootstrapping process for cluster nodes is being redesigned with significant security improvements. This feature is scheduled to be deprecated in the future and later removed.",
            "Expose all VM metadata to pods.",
            "Run the GKE Metadata Server on this node. The GKE Metadata Server exposes a metadata API to workloads that is compatible with the V1 Compute Metadata APIs exposed by the Compute Engine and App Engine Metadata Servers. This feature can only be enabled if Workload Identity is enabled at the cluster level."
          ]
        },
        "mode": {
          "enumDescriptions": [
            "Not set.",
            "Expose all Compute Engine metadata to pods.",
            "Run the GKE Metadata Server on this node. The GKE Metadata Server exposes a metadata API to workloads that is compatible with the V1 Compute Metadata APIs exposed by the Compute Engine and App Engine Metadata Servers. This feature can only be enabled if Workload Identity is enabled at the cluster level."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "GCE_METADATA",
            "GKE_METADATA"
          ],
          "description": "Mode is the configuration for how to expose metadata to workloads running on the node pool.",
          "type": "string"
        }
      },
      "id": "WorkloadMetadataConfig",
      "type": "object",
      "description": "WorkloadMetadataConfig defines the metadata configuration to expose to workloads on the node pool."
    },
    "UpdateClusterRequest": {
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "clusterId": {
          "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to update. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "update": {
          "$ref": "ClusterUpdate",
          "description": "Required. A description of the update."
        }
      },
      "description": "UpdateClusterRequest updates the settings of a cluster.",
      "id": "UpdateClusterRequest"
    },
    "PodSecurityPolicyConfig": {
      "description": "Configuration for the PodSecurityPolicy feature.",
      "id": "PodSecurityPolicyConfig",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Enable the PodSecurityPolicy controller for this cluster. If enabled, pods must be valid under a PodSecurityPolicy to be created.",
          "type": "boolean"
        }
      }
    },
    "NetworkConfig": {
      "description": "NetworkConfig reports the relative names of network & subnetwork.",
      "properties": {
        "defaultSnatStatus": {
          "$ref": "DefaultSnatStatus",
          "description": "Whether the cluster disables default in-node sNAT rules. In-node sNAT rules will be disabled when default_snat_status is disabled. When disabled is set to false, default IP masquerade rules will be applied to the nodes to prevent sNAT on cluster internal traffic."
        },
        "subnetwork": {
          "type": "string",
          "description": "Output only. The relative name of the Google Compute Engine [subnetwork](https://cloud.google.com/compute/docs/vpc) to which the cluster is connected. Example: projects/my-project/regions/us-central1/subnetworks/my-subnet"
        },
        "enableIntraNodeVisibility": {
          "description": "Whether Intra-node visibility is enabled for this cluster. This makes same node pod to pod traffic visible for VPC network.",
          "type": "boolean"
        },
        "datapathProvider": {
          "enum": [
            "DATAPATH_PROVIDER_UNSPECIFIED",
            "LEGACY_DATAPATH",
            "ADVANCED_DATAPATH"
          ],
          "type": "string",
          "description": "The desired datapath provider for this cluster. By default, uses the IPTables-based kube-proxy implementation.",
          "enumDescriptions": [
            "Default value.",
            "Use the IPTables implementation based on kube-proxy.",
            "Use the eBPF based GKE Dataplane V2 with additional features. See the [GKE Dataplane V2 documentation](https://cloud.google.com/kubernetes-engine/docs/how-to/dataplane-v2) for more."
          ]
        },
        "enableL4ilbSubsetting": {
          "type": "boolean",
          "description": "Whether L4ILB Subsetting is enabled for this cluster."
        },
        "network": {
          "description": "Output only. The relative name of the Google Compute Engine network(https://cloud.google.com/compute/docs/networks-and-firewalls#networks) to which the cluster is connected. Example: projects/my-project/global/networks/my-network",
          "type": "string"
        },
        "privateIpv6GoogleAccess": {
          "enum": [
            "PRIVATE_IPV6_GOOGLE_ACCESS_UNSPECIFIED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_DISABLED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_TO_GOOGLE",
            "PRIVATE_IPV6_GOOGLE_ACCESS_BIDIRECTIONAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Same as DISABLED",
            "No private access to or from Google Services",
            "Enables private IPv6 access to Google Services from GKE",
            "Enables priate IPv6 access to and from Google Services"
          ],
          "description": "The desired state of IPv6 connectivity to Google Services. By default, no private IPv6 access to or from Google Services (all access will be via IPv4)"
        }
      },
      "type": "object",
      "id": "NetworkConfig"
    },
    "NodeTaint": {
      "description": "Kubernetes taint is comprised of three fields: key, value, and effect. Effect can only be one of three types: NoSchedule, PreferNoSchedule or NoExecute. See [here](https://kubernetes.io/docs/concepts/configuration/taint-and-toleration) for more information, including usage and the valid values.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Value for taint.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "Key for taint."
        },
        "effect": {
          "enumDescriptions": [
            "Not set",
            "NoSchedule",
            "PreferNoSchedule",
            "NoExecute"
          ],
          "description": "Effect for taint.",
          "enum": [
            "EFFECT_UNSPECIFIED",
            "NO_SCHEDULE",
            "PREFER_NO_SCHEDULE",
            "NO_EXECUTE"
          ],
          "type": "string"
        }
      },
      "id": "NodeTaint"
    },
    "LinuxNodeConfig": {
      "properties": {
        "sysctls": {
          "description": "The Linux kernel parameters to be applied to the nodes and all pods running on the nodes. The following parameters are supported. net.core.netdev_max_backlog net.core.rmem_max net.core.wmem_default net.core.wmem_max net.core.optmem_max net.core.somaxconn net.ipv4.tcp_rmem net.ipv4.tcp_wmem net.ipv4.tcp_tw_reuse",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "Parameters that can be configured on Linux nodes.",
      "id": "LinuxNodeConfig",
      "type": "object"
    },
    "UpdateNodePoolRequest": {
      "properties": {
        "locations": {
          "items": {
            "type": "string"
          },
          "description": "The desired list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the node pool's nodes should be located. Changing the locations for a node pool will result in nodes being either created or removed from the node pool, depending on whether locations are being added or removed.",
          "type": "array"
        },
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "workloadMetadataConfig": {
          "$ref": "WorkloadMetadataConfig",
          "description": "The desired workload metadata config for the node pool."
        },
        "imageType": {
          "description": "Required. The desired image type for the node pool.",
          "type": "string"
        },
        "taints": {
          "description": "The desired node taints to be applied to all nodes in the node pool. If this field is not present, the taints will not be changed. Otherwise, the existing node taints will be *replaced* with the provided taints.",
          "$ref": "NodeTaints"
        },
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "upgradeSettings": {
          "description": "Upgrade settings control disruption and speed of the upgrade.",
          "$ref": "UpgradeSettings"
        },
        "tags": {
          "$ref": "NetworkTags",
          "description": "The desired network tags to be applied to all nodes in the node pool. If this field is not present, the tags will not be changed. Otherwise, the existing network tags will be *replaced* with the provided tags."
        },
        "nodeVersion": {
          "description": "Required. The Kubernetes version to change the nodes to (typically an upgrade). Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"-\": picks the Kubernetes master version",
          "type": "string"
        },
        "linuxNodeConfig": {
          "$ref": "LinuxNodeConfig",
          "description": "Parameters that can be configured on Linux nodes."
        },
        "clusterId": {
          "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "kubeletConfig": {
          "$ref": "NodeKubeletConfig",
          "description": "Node kubelet configs."
        },
        "nodePoolId": {
          "description": "Required. Deprecated. The name of the node pool to upgrade. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "labels": {
          "description": "The desired node labels to be applied to all nodes in the node pool. If this field is not present, the labels will not be changed. Otherwise, the existing node labels will be *replaced* with the provided labels.",
          "$ref": "NodeLabels"
        },
        "name": {
          "description": "The name (project, location, cluster, node pool) of the node pool to update. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "UpdateNodePoolRequest",
      "description": "SetNodePoolVersionRequest updates the version of a node pool."
    },
    "CreateClusterRequest": {
      "type": "object",
      "id": "CreateClusterRequest",
      "description": "CreateClusterRequest creates a cluster.",
      "properties": {
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the parent field."
        },
        "parent": {
          "type": "string",
          "description": "The parent (project and location) where the cluster will be created. Specified in the format `projects/*/locations/*`."
        },
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the parent field."
        },
        "cluster": {
          "description": "Required. A [cluster resource](https://cloud.google.com/container-engine/reference/rest/v1beta1/projects.locations.clusters)",
          "$ref": "Cluster"
        }
      }
    },
    "SetNodePoolSizeRequest": {
      "description": "SetNodePoolSizeRequest sets the size of a node pool.",
      "id": "SetNodePoolSizeRequest",
      "type": "object",
      "properties": {
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "nodeCount": {
          "type": "integer",
          "description": "Required. The desired node count for the pool.",
          "format": "int32"
        },
        "nodePoolId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the node pool to update. This field has been deprecated and replaced by the name field."
        },
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
        },
        "clusterId": {
          "description": "Required. Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster, node pool id) of the node pool to set size. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`."
        }
      }
    },
    "WorkloadIdentityConfig": {
      "description": "Configuration for the use of Kubernetes Service Accounts in GCP IAM policies.",
      "id": "WorkloadIdentityConfig",
      "type": "object",
      "properties": {
        "workloadPool": {
          "description": "The workload pool to attach all Kubernetes service accounts to.",
          "type": "string"
        },
        "identityProvider": {
          "type": "string",
          "description": "identity provider is the third party identity provider."
        },
        "identityNamespace": {
          "description": "IAM Identity Namespace to attach all Kubernetes Service Accounts to.",
          "type": "string"
        }
      }
    },
    "ReleaseChannelConfig": {
      "id": "ReleaseChannelConfig",
      "properties": {
        "availableVersions": {
          "description": "Deprecated. This field has been deprecated and replaced with the valid_versions field.",
          "items": {
            "$ref": "AvailableVersion"
          },
          "type": "array"
        },
        "validVersions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of valid versions for the channel."
        },
        "defaultVersion": {
          "type": "string",
          "description": "The default version for newly created clusters on the channel."
        },
        "channel": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE"
          ],
          "description": "The release channel this configuration applies to.",
          "enumDescriptions": [
            "No channel specified.",
            "RAPID channel is offered on an early access basis for customers who want to test new releases. WARNING: Versions available in the RAPID Channel may be subject to unresolved issues with no known workaround and are not subject to any SLAs.",
            "Clusters subscribed to REGULAR receive versions that are considered GA quality. REGULAR is intended for production users who want to take advantage of new features.",
            "Clusters subscribed to STABLE receive versions that are known to be stable and reliable in production."
          ]
        }
      },
      "description": "ReleaseChannelConfig exposes configuration for a release channel.",
      "type": "object"
    },
    "Jwk": {
      "properties": {
        "kid": {
          "type": "string",
          "description": "Key ID."
        },
        "e": {
          "description": "Used for RSA keys.",
          "type": "string"
        },
        "y": {
          "type": "string",
          "description": "Used for ECDSA keys."
        },
        "n": {
          "description": "Used for RSA keys.",
          "type": "string"
        },
        "use": {
          "description": "Permitted uses for the public keys.",
          "type": "string"
        },
        "kty": {
          "type": "string",
          "description": "Key Type."
        },
        "crv": {
          "type": "string",
          "description": "Used for ECDSA keys."
        },
        "alg": {
          "type": "string",
          "description": "Algorithm."
        },
        "x": {
          "type": "string",
          "description": "Used for ECDSA keys."
        }
      },
      "description": "Jwk is a JSON Web Key as specified in RFC 7517",
      "id": "Jwk",
      "type": "object"
    },
    "HttpCacheControlResponseHeader": {
      "properties": {
        "directive": {
          "type": "string",
          "description": "14.9 request and response directives"
        },
        "age": {
          "type": "string",
          "format": "int64",
          "description": "14.6 response cache age, in seconds since the response is generated"
        },
        "expires": {
          "description": "14.21 response cache expires, in RFC 1123 date format",
          "type": "string"
        }
      },
      "description": "RFC-2616: cache control support",
      "type": "object",
      "id": "HttpCacheControlResponseHeader"
    },
    "RollbackNodePoolUpgradeRequest": {
      "id": "RollbackNodePoolUpgradeRequest",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name (project, location, cluster, node pool id) of the node poll to rollback upgrade. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
          "type": "string"
        },
        "nodePoolId": {
          "description": "Required. Deprecated. The name of the node pool to rollback. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "projectId": {
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "clusterId": {
          "description": "Required. Deprecated. The name of the cluster to rollback. This field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      },
      "description": "RollbackNodePoolUpgradeRequest rollbacks the previously Aborted or Failed NodePool upgrade. This will be an no-op if the last upgrade successfully completed."
    },
    "NodeConfig": {
      "id": "NodeConfig",
      "type": "object",
      "description": "Parameters that describe the nodes in a cluster.",
      "properties": {
        "taints": {
          "description": "List of kubernetes taints to be applied to each node. For more information, including usage and the valid values, see: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/",
          "items": {
            "$ref": "NodeTaint"
          },
          "type": "array"
        },
        "reservationAffinity": {
          "$ref": "ReservationAffinity",
          "description": "The optional reservation affinity. Setting this field will apply the specified [Zonal Compute Reservation](https://cloud.google.com/compute/docs/instances/reserving-zonal-resources) to this node pool."
        },
        "serviceAccount": {
          "type": "string",
          "description": "The Google Cloud Platform Service Account to be used by the node VMs. Specify the email address of the Service Account; otherwise, if no Service Account is specified, the \"default\" service account is used."
        },
        "imageType": {
          "description": "The image type to use for this node. Note that for a given image type, the latest version of it will be used.",
          "type": "string"
        },
        "nodeGroup": {
          "description": "Setting this field will assign instances of this pool to run on the specified node group. This is useful for running workloads on [sole tenant nodes](https://cloud.google.com/compute/docs/nodes/sole-tenant-nodes).",
          "type": "string"
        },
        "tags": {
          "description": "The list of instance tags applied to all nodes. Tags are used to identify valid sources or targets for network firewalls and are specified by the client during cluster or node pool creation. Each tag within the list must comply with RFC1035.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "linuxNodeConfig": {
          "$ref": "LinuxNodeConfig",
          "description": "Parameters that can be configured on Linux nodes."
        },
        "minCpuPlatform": {
          "type": "string",
          "description": "Minimum CPU platform to be used by this instance. The instance may be scheduled on the specified or newer CPU platform. Applicable values are the friendly names of CPU platforms, such as `minCpuPlatform: \"Intel Haswell\"` or `minCpuPlatform: \"Intel Sandy Bridge\"`. For more information, read [how to specify min CPU platform](https://cloud.google.com/compute/docs/instances/specify-min-cpu-platform)"
        },
        "sandboxConfig": {
          "$ref": "SandboxConfig",
          "description": "Sandbox configuration for this node."
        },
        "kubeletConfig": {
          "description": "Node kubelet configs.",
          "$ref": "NodeKubeletConfig"
        },
        "shieldedInstanceConfig": {
          "description": "Shielded Instance options.",
          "$ref": "ShieldedInstanceConfig"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The map of Kubernetes labels (key/value pairs) to be applied to each node. These will added in addition to any default label(s) that Kubernetes may apply to the node. In case of conflict in label keys, the applied set may differ depending on the Kubernetes version -- it's best to assume the behavior is undefined and conflicts should be avoided. For more information, including usage and the valid values, see: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/"
        },
        "preemptible": {
          "description": "Whether the nodes are created as preemptible VM instances. See: https://cloud.google.com/compute/docs/instances/preemptible for more inforamtion about preemptible VM instances.",
          "type": "boolean"
        },
        "machineType": {
          "type": "string",
          "description": "The name of a Google Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-types). If unspecified, the default machine type is `e2-medium`."
        },
        "metadata": {
          "description": "The metadata key/value pairs assigned to instances in the cluster. Keys must conform to the regexp `[a-zA-Z0-9-_]+` and be less than 128 bytes in length. These are reflected as part of a URL in the metadata server. Additionally, to avoid ambiguity, keys must not conflict with any other metadata keys for the project or be one of the reserved keys: - \"cluster-location\" - \"cluster-name\" - \"cluster-uid\" - \"configure-sh\" - \"containerd-configure-sh\" - \"enable-oslogin\" - \"gci-ensure-gke-docker\" - \"gci-metrics-enabled\" - \"gci-update-strategy\" - \"instance-template\" - \"kube-env\" - \"startup-script\" - \"user-data\" - \"disable-address-manager\" - \"windows-startup-script-ps1\" - \"common-psm1\" - \"k8s-node-setup-psm1\" - \"install-ssh-psm1\" - \"user-profile-psm1\" The following keys are reserved for Windows nodes: - \"serial-port-logging-enable\" Values are free-form strings, and only have meaning as interpreted by the image running in the instance. The only restriction placed on them is that each value's size must be less than or equal to 32 KB. The total size of all keys and values must be less than 512 KB.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "ephemeralStorageConfig": {
          "$ref": "EphemeralStorageConfig",
          "description": "Parameters for the ephemeral storage filesystem. If unspecified, ephemeral storage is backed by the boot disk."
        },
        "workloadMetadataConfig": {
          "$ref": "WorkloadMetadataConfig",
          "description": "The workload metadata configuration for this node."
        },
        "oauthScopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of Google API scopes to be made available on all of the node VMs under the \"default\" service account. The following scopes are recommended, but not required, and by default are not included: * `https://www.googleapis.com/auth/compute` is required for mounting persistent storage on your nodes. * `https://www.googleapis.com/auth/devstorage.read_only` is required for communicating with **gcr.io** (the [Google Container Registry](https://cloud.google.com/container-registry/)). If unspecified, no scopes are added, unless Cloud Logging or Cloud Monitoring are enabled, in which case their required scopes will be added."
        },
        "diskType": {
          "description": "Type of the disk attached to each node (e.g. 'pd-standard', 'pd-ssd' or 'pd-balanced') If unspecified, the default disk type is 'pd-standard'",
          "type": "string"
        },
        "bootDiskKmsKey": {
          "type": "string",
          "description": " The Customer Managed Encryption Key used to encrypt the boot disk attached to each node in the node pool. This should be of the form projects/[KEY_PROJECT_ID]/locations/[LOCATION]/keyRings/[RING_NAME]/cryptoKeys/[KEY_NAME]. For more information about protecting resources with Cloud KMS Keys please see: https://cloud.google.com/compute/docs/disks/customer-managed-encryption"
        },
        "localSsdCount": {
          "format": "int32",
          "description": "The number of local SSD disks to be attached to the node. The limit for this value is dependent upon the maximum number of disks available on a machine per zone. See: https://cloud.google.com/compute/docs/disks/local-ssd for more information.",
          "type": "integer"
        },
        "accelerators": {
          "description": "A list of hardware accelerators to be attached to each node. See https://cloud.google.com/compute/docs/gpus for more information about support for GPUs.",
          "items": {
            "$ref": "AcceleratorConfig"
          },
          "type": "array"
        },
        "diskSizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Size of the disk attached to each node, specified in GB. The smallest allowed disk size is 10GB. If unspecified, the default disk size is 100GB."
        }
      }
    },
    "ConfidentialNodes": {
      "properties": {
        "enabled": {
          "description": "Whether Confidential Nodes feature is enabled for all nodes in this cluster.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "ConfidentialNodes is configuration for the confidential nodes feature, which makes nodes run on confidential VMs.",
      "id": "ConfidentialNodes"
    },
    "UsableSubnetworkSecondaryRange": {
      "description": "Secondary IP range of a usable subnetwork.",
      "id": "UsableSubnetworkSecondaryRange",
      "type": "object",
      "properties": {
        "ipCidrRange": {
          "description": "The range of IP addresses belonging to this subnetwork secondary range.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "UNUSED",
            "IN_USE_SERVICE",
            "IN_USE_SHAREABLE_POD",
            "IN_USE_MANAGED_POD"
          ],
          "description": "This field is to determine the status of the secondary range programmably.",
          "enumDescriptions": [
            "UNKNOWN is the zero value of the Status enum. It's not a valid status.",
            "UNUSED denotes that this range is unclaimed by any cluster.",
            "IN_USE_SERVICE denotes that this range is claimed by a cluster for services. It cannot be used for other clusters.",
            "IN_USE_SHAREABLE_POD denotes this range was created by the network admin and is currently claimed by a cluster for pods. It can only be used by other clusters as a pod range.",
            "IN_USE_MANAGED_POD denotes this range was created by GKE and is claimed for pods. It cannot be used for other clusters."
          ]
        },
        "rangeName": {
          "description": "The name associated with this subnetwork secondary range, used when adding an alias IP range to a VM instance.",
          "type": "string"
        }
      }
    },
    "TimeWindow": {
      "description": "Represents an arbitrary window of time.",
      "properties": {
        "endTime": {
          "description": "The time that the window ends. The end time should take place after the start time.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "description": "The time that the window first starts.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "TimeWindow",
      "type": "object"
    },
    "SandboxConfig": {
      "id": "SandboxConfig",
      "type": "object",
      "description": "SandboxConfig contains configurations of the sandbox to use for the node.",
      "properties": {
        "sandboxType": {
          "type": "string",
          "description": "Type of the sandbox to use for the node (e.g. 'gvisor')"
        },
        "type": {
          "description": "Type of the sandbox to use for the node.",
          "enumDescriptions": [
            "Default value. This should not be used.",
            "Run sandbox using gvisor."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "GVISOR"
          ]
        }
      }
    },
    "ResourceUsageExportConfig": {
      "type": "object",
      "id": "ResourceUsageExportConfig",
      "properties": {
        "enableNetworkEgressMetering": {
          "type": "boolean",
          "description": "Whether to enable network egress metering for this cluster. If enabled, a daemonset will be created in the cluster to meter network egress traffic."
        },
        "consumptionMeteringConfig": {
          "description": "Configuration to enable resource consumption metering.",
          "$ref": "ConsumptionMeteringConfig"
        },
        "bigqueryDestination": {
          "description": "Configuration to use BigQuery as usage export destination.",
          "$ref": "BigQueryDestination"
        }
      },
      "description": "Configuration for exporting cluster resource usages."
    },
    "PrivateClusterConfig": {
      "type": "object",
      "id": "PrivateClusterConfig",
      "description": "Configuration options for private clusters.",
      "properties": {
        "privateEndpoint": {
          "type": "string",
          "description": "Output only. The internal IP address of this cluster's master endpoint."
        },
        "publicEndpoint": {
          "type": "string",
          "description": "Output only. The external IP address of this cluster's master endpoint."
        },
        "enablePrivateEndpoint": {
          "description": "Whether the master's internal IP address is used as the cluster endpoint.",
          "type": "boolean"
        },
        "enablePrivateNodes": {
          "type": "boolean",
          "description": "Whether nodes have internal IP addresses only. If enabled, all nodes are given only RFC 1918 private addresses and communicate with the master via private networking."
        },
        "peeringName": {
          "description": "Output only. The peering name in the customer VPC used by this cluster.",
          "type": "string"
        },
        "masterIpv4CidrBlock": {
          "description": "The IP range in CIDR notation to use for the hosted master network. This range will be used for assigning internal IP addresses to the master or set of masters, as well as the ILB VIP. This range must not overlap with any other ranges in use within the cluster's network.",
          "type": "string"
        },
        "masterGlobalAccessConfig": {
          "description": "Controls master global access settings.",
          "$ref": "PrivateClusterMasterGlobalAccessConfig"
        }
      }
    },
    "ShieldedNodes": {
      "type": "object",
      "id": "ShieldedNodes",
      "description": "Configuration of Shielded Nodes feature.",
      "properties": {
        "enabled": {
          "description": "Whether Shielded Nodes features are enabled on all nodes in this cluster.",
          "type": "boolean"
        }
      }
    },
    "StartIPRotationRequest": {
      "properties": {
        "rotateCredentials": {
          "type": "boolean",
          "description": "Whether to rotate credentials during IP rotation."
        },
        "clusterId": {
          "type": "string",
          "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field."
        },
        "zone": {
          "type": "string",
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field."
        },
        "name": {
          "description": "The name (project, location, cluster id) of the cluster to start IP rotation. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        }
      },
      "id": "StartIPRotationRequest",
      "description": "StartIPRotationRequest creates a new IP for the cluster and then performs a node upgrade on each node pool to point to the new IP.",
      "type": "object"
    },
    "SetLocationsRequest": {
      "description": "SetLocationsRequest sets the locations of the cluster.",
      "properties": {
        "zone": {
          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The desired list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the cluster's nodes should be located. Changing the locations a cluster is in will result in nodes being either created or removed from the cluster, depending on whether locations are being added or removed. This list must always include the cluster's primary zone."
        },
        "projectId": {
          "type": "string",
          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
        },
        "clusterId": {
          "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster) of the cluster to set locations. Specified in the format `projects/*/locations/*/clusters/*`."
        }
      },
      "type": "object",
      "id": "SetLocationsRequest"
    },
    "AutoUpgradeOptions": {
      "properties": {
        "description": {
          "type": "string",
          "description": "[Output only] This field is set when upgrades are about to commence with the description of the upgrade."
        },
        "autoUpgradeStartTime": {
          "description": "[Output only] This field is set when upgrades are about to commence with the approximate start time for the upgrades, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AutoUpgradeOptions",
      "description": "AutoUpgradeOptions defines the set of options for the user to control how the Auto Upgrades will proceed."
    },
    "Cluster": {
      "type": "object",
      "properties": {
        "subnetwork": {
          "type": "string",
          "description": "The name of the Google Compute Engine [subnetwork](https://cloud.google.com/compute/docs/subnetworks) to which the cluster is connected. On output this shows the subnetwork ID instead of the name."
        },
        "description": {
          "type": "string",
          "description": "An optional description of this cluster."
        },
        "autoscaling": {
          "$ref": "ClusterAutoscaling",
          "description": "Cluster-level autoscaling configuration."
        },
        "tpuConfig": {
          "description": "Configuration for Cloud TPU support;",
          "$ref": "TpuConfig"
        },
        "tpuIpv4CidrBlock": {
          "type": "string",
          "description": "[Output only] The IP address range of the Cloud TPUs in this cluster, in [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `1.2.3.4/29`)."
        },
        "endpoint": {
          "type": "string",
          "description": "[Output only] The IP address of this cluster's master endpoint. The endpoint can be accessed from the internet at `https://username:password@endpoint/`. See the `masterAuth` property of this resource for username and password information."
        },
        "selfLink": {
          "description": "[Output only] Server-defined URL for the resource.",
          "type": "string"
        },
        "maintenancePolicy": {
          "$ref": "MaintenancePolicy",
          "description": "Configure the maintenance policy for this cluster."
        },
        "addonsConfig": {
          "$ref": "AddonsConfig",
          "description": "Configurations for the various addons available to run in the cluster."
[...]
