{
  "protocol": "rest",
  "description": "An implementation of the Grafeas API, which stores, and enables querying and retrieval of critical metadata about all of your software artifacts.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://containeranalysis.mtls.googleapis.com/",
  "ownerName": "Google",
  "name": "containeranalysis",
  "batchPath": "batch",
  "version": "v1",
  "parameters": {
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    }
  },
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "id": "containeranalysis:v1",
  "ownerDomain": "google.com",
  "basePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "title": "Container Analysis API",
  "canonicalName": "Container Analysis",
  "version_module": true,
  "documentationLink": "https://cloud.google.com/container-analysis/api/reference/rest/",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "notes": {
          "methods": {
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the note in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes the specified note.",
              "httpMethod": "DELETE",
              "id": "containeranalysis.projects.notes.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/notes/{notesId}"
            },
            "testIamPermissions": {
              "description": "Returns the permissions that a caller has on the specified note or occurrence. Requires list permission on the project (for example, `containeranalysis.notes.list`). The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1/projects/{projectsId}/notes/{notesId}:testIamPermissions",
              "httpMethod": "POST",
              "path": "v1/{+resource}:testIamPermissions",
              "id": "containeranalysis.projects.notes.testIamPermissions",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "parameterOrder": [
                "resource"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "getIamPolicy": {
              "parameterOrder": [
                "resource"
              ],
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "flatPath": "v1/projects/{projectsId}/notes/{notesId}:getIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "id": "containeranalysis.projects.notes.getIamPolicy",
              "path": "v1/{+resource}:getIamPolicy",
              "description": "Gets the access control policy for a note or an occurrence resource. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or occurrence, respectively. The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST"
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates the specified note.",
              "request": {
                "$ref": "Note"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the note in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`.",
                  "location": "path"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "The fields to update.",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectsId}/notes/{notesId}",
              "id": "containeranalysis.projects.notes.patch",
              "path": "v1/{+name}",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Note"
              }
            },
            "batchCreate": {
              "path": "v1/{+parent}/notes:batchCreate",
              "request": {
                "$ref": "BatchCreateNotesRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The name of the project in the form of `projects/[PROJECT_ID]`, under which the notes are to be created.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "id": "containeranalysis.projects.notes.batchCreate",
              "response": {
                "$ref": "BatchCreateNotesResponse"
              },
              "description": "Creates new notes in batch.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/notes:batchCreate"
            },
            "list": {
              "description": "Lists notes for the specified project.",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The filter expression."
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the project to list notes for in the form of `projects/[PROJECT_ID]`.",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of notes to return in the list. Must be positive. Max allowed page size is 1000. If not specified, page size defaults to 20."
                },
                "pageToken": {
                  "description": "Token to provide to skip to a particular spot in the list.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/notes",
              "id": "containeranalysis.projects.notes.list",
              "path": "v1/{+parent}/notes",
              "response": {
                "$ref": "ListNotesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET"
            },
            "get": {
              "flatPath": "v1/projects/{projectsId}/notes/{notesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the note in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the specified note.",
              "id": "containeranalysis.projects.notes.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "Note"
              },
              "path": "v1/{+name}"
            },
            "setIamPolicy": {
              "flatPath": "v1/projects/{projectsId}/notes/{notesId}:setIamPolicy",
              "id": "containeranalysis.projects.notes.setIamPolicy",
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                }
              },
              "path": "v1/{+resource}:setIamPolicy",
              "parameterOrder": [
                "resource"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "response": {
                "$ref": "Policy"
              },
              "description": "Sets the access control policy on the specified note or occurrence. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or an occurrence, respectively. The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences."
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/notes",
              "id": "containeranalysis.projects.notes.create",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the project in the form of `projects/[PROJECT_ID]`, under which the note is to be created."
                },
                "noteId": {
                  "description": "Required. The ID to use for this note.",
                  "type": "string",
                  "location": "query"
                }
              },
              "request": {
                "$ref": "Note"
              },
              "description": "Creates a new note.",
              "response": {
                "$ref": "Note"
              },
              "flatPath": "v1/projects/{projectsId}/notes",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST"
            }
          },
          "resources": {
            "occurrences": {
              "methods": {
                "list": {
                  "flatPath": "v1/projects/{projectsId}/notes/{notesId}/occurrences",
                  "path": "v1/{+name}/occurrences",
                  "description": "Lists occurrences referencing the specified note. Provider projects can use this method to get all occurrences across consumer projects referencing the specified note.",
                  "id": "containeranalysis.projects.notes.occurrences.list",
                  "response": {
                    "$ref": "ListNoteOccurrencesResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Token to provide to skip to a particular spot in the list.",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the note to list occurrences for in the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`.",
                      "pattern": "^projects/[^/]+/notes/[^/]+$",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The filter expression.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Number of occurrences to return in the list."
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        },
        "occurrences": {
          "methods": {
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the project in the form of `projects/[PROJECT_ID]`, under which the occurrence is to be created.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Occurrence"
              },
              "path": "v1/{+parent}/occurrences",
              "httpMethod": "POST",
              "id": "containeranalysis.projects.occurrences.create",
              "description": "Creates a new occurrence.",
              "request": {
                "$ref": "Occurrence"
              },
              "flatPath": "v1/projects/{projectsId}/occurrences"
            },
            "delete": {
              "httpMethod": "DELETE",
              "flatPath": "v1/projects/{projectsId}/occurrences/{occurrencesId}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+name}",
              "id": "containeranalysis.projects.occurrences.delete",
              "description": "Deletes the specified occurrence. For example, use this method to delete an occurrence when the occurrence is no longer applicable for the given resource.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Occurrence"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.projects.occurrences.get",
              "description": "Gets the specified occurrence.",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`.",
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectsId}/occurrences/{occurrencesId}",
              "httpMethod": "GET",
              "path": "v1/{+name}"
            },
            "getIamPolicy": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "description": "Gets the access control policy for a note or an occurrence resource. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or occurrence, respectively. The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "id": "containeranalysis.projects.occurrences.getIamPolicy",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "path": "v1/{+resource}:getIamPolicy",
              "flatPath": "v1/projects/{projectsId}/occurrences/{occurrencesId}:getIamPolicy",
              "response": {
                "$ref": "Policy"
              }
            },
            "setIamPolicy": {
              "parameters": {
                "resource": {
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$"
                }
              },
              "path": "v1/{+resource}:setIamPolicy",
              "id": "containeranalysis.projects.occurrences.setIamPolicy",
              "parameterOrder": [
                "resource"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Policy"
              },
              "description": "Sets the access control policy on the specified note or occurrence. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or an occurrence, respectively. The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
              "flatPath": "v1/projects/{projectsId}/occurrences/{occurrencesId}:setIamPolicy"
            },
            "getVulnerabilitySummary": {
              "response": {
                "$ref": "VulnerabilityOccurrencesSummary"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/occurrences:vulnerabilitySummary",
              "path": "v1/{+parent}/occurrences:vulnerabilitySummary",
              "httpMethod": "GET",
              "description": "Gets a summary of the number and severity of occurrences.",
              "parameters": {
                "filter": {
                  "description": "The filter expression.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The name of the project to get a vulnerability summary for in the form of `projects/[PROJECT_ID]`.",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "containeranalysis.projects.occurrences.getVulnerabilitySummary",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "response": {
                "$ref": "ListOccurrencesResponse"
              },
              "path": "v1/{+parent}/occurrences",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of occurrences to return in the list. Must be positive. Max allowed page size is 1000. If not specified, page size defaults to 20.",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the project to list occurrences for in the form of `projects/[PROJECT_ID]`."
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The filter expression."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Token to provide to skip to a particular spot in the list."
                }
              },
              "id": "containeranalysis.projects.occurrences.list",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists occurrences for the specified project.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/occurrences",
              "httpMethod": "GET"
            },
            "batchCreate": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.projects.occurrences.batchCreate",
              "description": "Creates new occurrences in batch.",
              "request": {
                "$ref": "BatchCreateOccurrencesRequest"
              },
              "response": {
                "$ref": "BatchCreateOccurrencesResponse"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The name of the project in the form of `projects/[PROJECT_ID]`, under which the occurrences are to be created.",
                  "required": true
                }
              },
              "path": "v1/{+parent}/occurrences:batchCreate",
              "flatPath": "v1/projects/{projectsId}/occurrences:batchCreate"
            },
            "getNotes": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}/notes",
              "flatPath": "v1/projects/{projectsId}/occurrences/{occurrencesId}/notes",
              "response": {
                "$ref": "Note"
              },
              "description": "Gets the note attached to the specified occurrence. Consumer projects can use this method to get a note that belongs to a provider project.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.projects.occurrences.getNotes"
            },
            "testIamPermissions": {
              "parameterOrder": [
                "resource"
              ],
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "flatPath": "v1/projects/{projectsId}/occurrences/{occurrencesId}:testIamPermissions",
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "id": "containeranalysis.projects.occurrences.testIamPermissions",
              "description": "Returns the permissions that a caller has on the specified note or occurrence. Requires list permission on the project (for example, `containeranalysis.notes.list`). The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for occurrences.",
              "path": "v1/{+resource}:testIamPermissions",
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST"
            },
            "patch": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the occurrence in the form of `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`.",
                  "location": "path"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "The fields to update."
                }
              },
              "response": {
                "$ref": "Occurrence"
              },
              "httpMethod": "PATCH",
              "path": "v1/{+name}",
              "description": "Updates the specified occurrence.",
              "id": "containeranalysis.projects.occurrences.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Occurrence"
              },
              "flatPath": "v1/projects/{projectsId}/occurrences/{occurrencesId}"
            }
          }
        },
        "resources": {
          "methods": {
            "generatePackagesSummary": {
              "request": {
                "$ref": "GeneratePackagesSummaryRequest"
              },
              "flatPath": "v1/projects/{projectsId}/resources/{resourcesId}:generatePackagesSummary",
              "description": "Gets a summary of the packages within a given resource.",
              "response": {
                "$ref": "PackagesSummaryResponse"
              },
              "id": "containeranalysis.projects.resources.generatePackagesSummary",
              "path": "v1/{+name}:generatePackagesSummary",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the resource to get a packages summary for in the form of `projects/[PROJECT_ID]/resources/[RESOURCE_URL]`.",
                  "required": true,
                  "pattern": "^projects/[^/]+/resources/.*$"
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    }
  },
  "baseUrl": "https://containeranalysis.googleapis.com/",
  "schemas": {
    "ListNotesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The next pagination token in the list response. It should be used as `page_token` for the following request. An empty value means no more results."
        },
        "notes": {
          "items": {
            "$ref": "Note"
          },
          "description": "The notes requested.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response for listing notes.",
      "id": "ListNotesResponse"
    },
    "WindowsUpdate": {
      "description": "Windows Update represents the metadata about the update for the Windows operating system. The fields in this message come from the Windows Update API documented at https://docs.microsoft.com/en-us/windows/win32/api/wuapi/nn-wuapi-iupdate.",
      "type": "object",
      "id": "WindowsUpdate",
      "properties": {
        "categories": {
          "type": "array",
          "items": {
            "$ref": "Category"
          },
          "description": "The list of categories to which the update belongs."
        },
        "description": {
          "type": "string",
          "description": "The localized description of the update."
        },
        "identity": {
          "$ref": "Identity",
          "description": "Required - The unique identifier for the update."
        },
        "supportUrl": {
          "type": "string",
          "description": "The hyperlink to the support information for the update."
        },
        "title": {
          "description": "The localized title of the update.",
          "type": "string"
        },
        "kbArticleIds": {
          "description": "The Microsoft Knowledge Base article IDs that are associated with the update.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "lastPublishedTimestamp": {
          "description": "The last published timestamp of the update.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaCompleteness": {
      "properties": {
        "materials": {
          "type": "boolean"
        },
        "environment": {
          "type": "boolean"
        },
        "parameters": {
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Indicates that the builder claims certain fields in this message to be complete.",
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaCompleteness"
    },
    "Jwt": {
      "type": "object",
      "id": "Jwt",
      "properties": {
        "compactJwt": {
          "type": "string",
          "description": "The compact encoding of a JWS, which is always three base64 encoded strings joined by periods. For details, see: https://tools.ietf.org/html/rfc7515.html#section-3.1"
        }
      }
    },
    "DeploymentNote": {
      "description": "An artifact that can be deployed in some runtime.",
      "type": "object",
      "id": "DeploymentNote",
      "properties": {
        "resourceUri": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Resource URI for the artifact being deployed."
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1RepoSource": {
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1RepoSource",
      "properties": {
        "repoName": {
          "type": "string",
          "description": "Name of the Cloud Source Repository."
        },
        "dir": {
          "type": "string",
          "description": "Directory, relative to the source root, in which to run the build. This must be a relative path. If a step's `dir` is specified and is an absolute path, this value is ignored for that step's execution."
        },
        "tagName": {
          "type": "string",
          "description": "Regex matching tags to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax"
        },
        "projectId": {
          "type": "string",
          "description": "ID of the project that owns the Cloud Source Repository. If omitted, the project ID requesting the build is assumed."
        },
        "branchName": {
          "type": "string",
          "description": "Regex matching branches to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax"
        },
        "invertRegex": {
          "type": "boolean",
          "description": "Only trigger a build if the revision regex does NOT match the revision regex."
        },
        "commitSha": {
          "description": "Explicit commit SHA to build.",
          "type": "string"
        },
        "substitutions": {
          "description": "Substitutions to use in a triggered build. Should only be used with RunBuildTrigger",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Location of the source in a Google Cloud Source Repository."
    },
    "EnvelopeSignature": {
      "id": "EnvelopeSignature",
      "properties": {
        "sig": {
          "format": "byte",
          "type": "string"
        },
        "keyid": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Envelope": {
      "properties": {
        "payloadType": {
          "type": "string"
        },
        "signatures": {
          "items": {
            "$ref": "EnvelopeSignature"
          },
          "type": "array"
        },
        "payload": {
          "type": "string",
          "format": "byte"
        }
      },
      "id": "Envelope",
      "description": "MUST match https://github.com/secure-systems-lab/dsse/blob/master/envelope.proto. An authenticated message of arbitrary type.",
      "type": "object"
    },
    "Digest": {
      "type": "object",
      "description": "Digest information.",
      "properties": {
        "algo": {
          "description": "`SHA1`, `SHA512` etc.",
          "type": "string"
        },
        "digestBytes": {
          "type": "string",
          "format": "byte",
          "description": "Value of the digest."
        }
      },
      "id": "Digest"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1Volume": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the volume to mount. Volume names must be unique per build step and must be valid names for Docker volumes. Each named volume must be used by at least two build steps."
        },
        "path": {
          "type": "string",
          "description": "Path at which to mount the volume. Paths must be absolute and cannot conflict with other volume paths on the same build step or with certain reserved volume paths."
        }
      },
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1Volume",
      "description": "Volume describes a Docker container volume which is mounted into build steps in order to persist files across build step execution."
    },
    "SlsaCompleteness": {
      "properties": {
        "arguments": {
          "description": "If true, the builder claims that recipe.arguments is complete, meaning that all external inputs are properly captured in the recipe.",
          "type": "boolean"
        },
        "environment": {
          "description": "If true, the builder claims that recipe.environment is claimed to be complete.",
          "type": "boolean"
        },
        "materials": {
          "description": "If true, the builder claims that materials are complete, usually through some controls to prevent network access. Sometimes called \"hermetic\".",
          "type": "boolean"
        }
      },
      "description": "Indicates that the builder claims certain fields in this message to be complete.",
      "id": "SlsaCompleteness",
      "type": "object"
    },
    "CVSSv3": {
      "id": "CVSSv3",
      "description": "Common Vulnerability Scoring System version 3. For details, see https://www.first.org/cvss/specification-document",
      "type": "object",
      "properties": {
        "attackComplexity": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ]
        },
        "attackVector": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ],
          "description": "Base Metrics Represents the intrinsic characteristics of a vulnerability that are constant over time and across user environments."
        },
        "userInteraction": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ]
        },
        "impactScore": {
          "type": "number",
          "format": "float"
        },
        "integrityImpact": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "baseScore": {
          "description": "The base score is a function of the base metric scores.",
          "format": "float",
          "type": "number"
        },
        "availabilityImpact": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "type": "string"
        },
        "privilegesRequired": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ]
        },
        "exploitabilityScore": {
          "format": "float",
          "type": "number"
        },
        "confidentialityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "scope": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ],
          "type": "string"
        }
      }
    },
    "GerritSourceContext": {
      "description": "A SourceContext referring to a Gerrit project.",
      "id": "GerritSourceContext",
      "type": "object",
      "properties": {
        "hostUri": {
          "description": "The URI of a running Gerrit instance.",
          "type": "string"
        },
        "revisionId": {
          "description": "A revision (commit) ID.",
          "type": "string"
        },
        "gerritProject": {
          "description": "The full project name within the host. Projects may be nested, so \"project/subproject\" is a valid project name. The \"repo name\" is the hostURI/project.",
          "type": "string"
        },
        "aliasContext": {
          "description": "An alias, which may be a branch or tag.",
          "$ref": "AliasContext"
        }
      }
    },
    "BuildStep": {
      "properties": {
        "name": {
          "description": "Required. The name of the container image that will run this particular build step. If the image is available in the host's Docker daemon's cache, it will be run directly. If not, the host will attempt to pull the image first, using the builder service account's credentials if necessary. The Docker daemon's cache will already have the latest versions of all of the officially supported build steps ([https://github.com/GoogleCloudPlatform/cloud-builders](https://github.com/GoogleCloudPlatform/cloud-builders)). The Docker daemon will also have cached many of the layers for some popular images, like \"ubuntu\", \"debian\", but they will be refreshed at the time you attempt to use them. If you built an image in a previous build step, it will be stored in the host's Docker daemon's cache and is available to use as the name for a later build step.",
          "type": "string"
        },
        "dir": {
          "description": "Working directory to use when running this step's container. If this value is a relative path, it is relative to the build's working directory. If this value is absolute, it may be outside the build's working directory, in which case the contents of the path may not be persisted across build step executions, unless a `volume` for that path is specified. If the build specifies a `RepoSource` with `dir` and a step with a `dir`, which specifies an absolute path, the `RepoSource` `dir` is ignored for the step's execution.",
          "type": "string"
        },
        "timing": {
          "$ref": "TimeSpan",
          "description": "Output only. Stores timing information for executing this build step."
        },
        "exitCode": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Return code from running the step."
        },
        "status": {
          "type": "string",
          "description": "Output only. Status of the build step. At this time, build step status is only updated on build completion; step status is not updated in real-time as the build progresses.",
          "enumDescriptions": [
            "Status of the build is unknown.",
            "Build has been created and is pending execution and queuing. It has not been queued.",
            "Build has been received and is being queued.",
            "Build or step is queued; work has not yet begun.",
            "Build or step is being executed.",
            "Build or step finished successfully.",
            "Build or step failed to complete successfully.",
            "Build or step failed due to an internal cause.",
            "Build or step took longer than was allowed.",
            "Build or step was canceled by a user.",
            "Build was enqueued for longer than the value of `queue_ttl`."
          ],
          "enum": [
            "STATUS_UNKNOWN",
            "PENDING",
            "QUEUING",
            "QUEUED",
            "WORKING",
            "SUCCESS",
            "FAILURE",
            "INTERNAL_ERROR",
            "TIMEOUT",
            "CANCELLED",
            "EXPIRED"
          ]
        },
        "env": {
          "description": "A list of environment variable definitions to be used when running a step. The elements are of the form \"KEY=VALUE\" for the environment variable \"KEY\" being given the value \"VALUE\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "waitFor": {
          "description": "The ID(s) of the step(s) that this build step depends on. This build step will not start until all the build steps in `wait_for` have completed successfully. If `wait_for` is empty, this build step will start when all previous build steps in the `Build.Steps` list have completed successfully.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pullTiming": {
          "$ref": "TimeSpan",
          "description": "Output only. Stores timing information for pulling this build step's builder image only."
        },
        "timeout": {
          "description": "Time limit for executing this build step. If not defined, the step has no time limit and will be allowed to continue to run until either it completes or the build itself times out.",
          "format": "google-duration",
          "type": "string"
        },
        "volumes": {
          "description": "List of volumes to mount into the build step. Each volume is created as an empty volume prior to execution of the build step. Upon completion of the build, volumes and their contents are discarded. Using a named volume in only one step is not valid as it is indicative of a build request with an incorrect configuration.",
          "type": "array",
          "items": {
            "$ref": "Volume"
          }
        },
        "id": {
          "type": "string",
          "description": "Unique identifier for this build step, used in `wait_for` to reference this build step as a dependency."
        },
        "entrypoint": {
          "type": "string",
          "description": "Entrypoint to be used instead of the build step image's default entrypoint. If unset, the image's default entrypoint is used."
        },
        "script": {
          "type": "string",
          "description": "A shell script to be executed in the step. When script is provided, the user cannot specify the entrypoint or args."
        },
        "allowFailure": {
          "type": "boolean",
          "description": "Allow this build step to fail without failing the entire build. If false, the entire build will fail if this step fails. Otherwise, the build will succeed, but this step will still have a failure status. Error information will be reported in the failure_detail field."
        },
        "args": {
          "description": "A list of arguments that will be presented to the step when it is started. If the image used to run the step's container has an entrypoint, the `args` are used as arguments to that entrypoint. If the image does not define an entrypoint, the first element in args is used as the entrypoint, and the remainder will be used as arguments.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allowExitCodes": {
          "description": "Allow this build step to fail without failing the entire build if and only if the exit code is one of the specified codes. If allow_failure is also specified, this field will take precedence.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "secretEnv": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of environment variables which are encrypted using a Cloud Key Management Service crypto key. These values must be specified in the build's `Secret`."
        }
      },
      "id": "BuildStep",
      "description": "A step in the build pipeline. Next ID: 20",
      "type": "object"
    },
    "BuildOccurrence": {
      "description": "Details of a build occurrence.",
      "type": "object",
      "properties": {
        "intotoProvenance": {
          "$ref": "InTotoProvenance",
          "description": "Deprecated. See InTotoStatement for the replacement. In-toto Provenance representation as defined in spec."
        },
        "provenance": {
          "description": "The actual provenance for the build.",
          "$ref": "BuildProvenance"
        },
        "intotoStatement": {
          "description": "In-toto Statement representation as defined in spec. The intoto_statement can contain any type of provenance. The serialized payload of the statement can be stored and signed in the Occurrence's envelope.",
          "$ref": "InTotoStatement"
        },
        "provenanceBytes": {
          "type": "string",
          "description": "Serialized JSON representation of the provenance, used in generating the build signature in the corresponding build note. After verifying the signature, `provenance_bytes` can be unmarshalled and compared to the provenance to confirm that it is unchanged. A base64-encoded string representation of the provenance bytes is used for the signature in order to interoperate with openssl which expects this format for signature verification. The serialized form is captured both to avoid ambiguity in how the provenance is marshalled to json as well to prevent incompatibilities with future changes."
        }
      },
      "id": "BuildOccurrence"
    },
    "Command": {
      "id": "Command",
      "type": "object",
      "description": "Command describes a step performed as part of the build pipeline.",
      "properties": {
        "name": {
          "description": "Required. Name of the command, as presented on the command line, or if the command is packaged as a Docker container, as presented to `docker pull`.",
          "type": "string"
        },
        "env": {
          "type": "array",
          "description": "Environment variables set before running this command.",
          "items": {
            "type": "string"
          }
        },
        "args": {
          "description": "Command-line arguments used when executing this command.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "waitFor": {
          "type": "array",
          "description": "The ID(s) of the command(s) that this command depends on.",
          "items": {
            "type": "string"
          }
        },
        "dir": {
          "type": "string",
          "description": "Working directory (relative to project source root) used when running this command."
        },
        "id": {
          "type": "string",
          "description": "Optional unique identifier for this command, used in wait_for to reference this command as a dependency."
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1SourceProvenance": {
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1SourceProvenance",
      "description": "Provenance of the source. Ways to find the original source, or verify that some source was used for this build.",
      "properties": {
        "resolvedStorageSourceManifest": {
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSourceManifest",
          "description": "A copy of the build's `source.storage_source_manifest`, if exists, with any revisions resolved. This feature is in Preview."
        },
        "resolvedStorageSource": {
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSource",
          "description": "A copy of the build's `source.storage_source`, if exists, with any generations resolved."
        },
        "resolvedRepoSource": {
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1RepoSource",
          "description": "A copy of the build's `source.repo_source`, if exists, with any revisions resolved."
        },
        "fileHashes": {
          "additionalProperties": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1FileHashes"
          },
          "readOnly": true,
          "description": "Output only. Hash(es) of the build source, which can be used to verify that the original source integrity was maintained in the build. Note that `FileHashes` will only be populated if `BuildOptions` has requested a `SourceProvenanceHash`. The keys to this map are file paths used as build source and the values contain the hash values for those files. If the build source came in a single package such as a gzipped tarfile (`.tar.gz`), the `FileHash` will be for the single path to that file.",
          "type": "object"
        }
      }
    },
    "Artifact": {
      "id": "Artifact",
      "properties": {
        "checksum": {
          "description": "Hash or checksum value of a binary, or Docker Registry 2.0 digest of a container.",
          "type": "string"
        },
        "id": {
          "description": "Artifact ID, if any; for container images, this will be a URL by digest like `gcr.io/projectID/imagename@sha256:123456`.",
          "type": "string"
        },
        "names": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Related artifact names. This may be the path to a binary or jar file, or in the case of a container build, the name used to push the container image to Google Container Registry, as presented to `docker push`. Note that a single Artifact ID can have multiple names, for example if two tags are applied to one image."
        }
      },
      "description": "Artifact describes a build product.",
      "type": "object"
    },
    "BuildNote": {
      "id": "BuildNote",
      "description": "Note holding the version of the provider's builder and the signature of the provenance message in the build details occurrence.",
      "properties": {
        "builderVersion": {
          "description": "Required. Immutable. Version of the builder which produced this build.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AttestationNote": {
      "type": "object",
      "description": "Note kind that represents a logical attestation \"role\" or \"authority\". For example, an organization might have one `Authority` for \"QA\" and one for \"build\". This note is intended to act strictly as a grouping mechanism for the attached occurrences (Attestations). This grouping mechanism also provides a security boundary, since IAM ACLs gate the ability for a principle to attach an occurrence to a given note. It also provides a single point of lookup to find all attached attestation occurrences, even if they don't all live in the same project.",
      "id": "AttestationNote",
      "properties": {
        "hint": {
          "description": "Hint hints at the purpose of the attestation authority.",
          "$ref": "Hint"
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1Results": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1Results",
      "properties": {
        "artifactTiming": {
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan",
          "description": "Time to push all non-container artifacts to Cloud Storage."
        },
        "buildStepImages": {
          "items": {
            "type": "string"
          },
          "description": "List of build step digests, in the order corresponding to build step indices.",
          "type": "array"
        },
        "images": {
          "type": "array",
          "description": "Container images that were built as a part of the build.",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuiltImage"
          }
        },
        "pythonPackages": {
          "type": "array",
          "description": "Python artifacts uploaded to Artifact Registry at the end of the build.",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1UploadedPythonPackage"
          }
        },
        "buildStepOutputs": {
          "items": {
            "format": "byte",
            "type": "string"
          },
          "description": "List of build step outputs, produced by builder images, in the order corresponding to build step indices. [Cloud Builders](https://cloud.google.com/cloud-build/docs/cloud-builders) can produce this output by writing to `$BUILDER_OUTPUT/output`. Only the first 4KB of data is stored.",
          "type": "array"
        },
        "numArtifacts": {
          "type": "string",
          "description": "Number of non-container artifacts uploaded to Cloud Storage. Only populated when artifacts are uploaded to Cloud Storage.",
          "format": "int64"
        },
        "artifactManifest": {
          "description": "Path to the artifact manifest for non-container artifacts uploaded to Cloud Storage. Only populated when artifacts are uploaded to Cloud Storage.",
          "type": "string"
        },
        "mavenArtifacts": {
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1UploadedMavenArtifact"
          },
          "description": "Maven artifacts uploaded to Artifact Registry at the end of the build.",
          "type": "array"
        }
      },
      "description": "Artifacts created by the build pipeline.",
      "type": "object"
    },
    "SlsaMetadata": {
      "description": "Other properties of the build.",
      "type": "object",
      "properties": {
        "buildStartedOn": {
          "description": "The timestamp of when the build started.",
          "type": "string",
          "format": "google-datetime"
        },
        "reproducible": {
          "description": "If true, the builder claims that running the recipe on materials will produce bit-for-bit identical output.",
          "type": "boolean"
        },
        "buildInvocationId": {
          "type": "string",
          "description": "Identifies the particular build invocation, which can be useful for finding associated logs or other ad-hoc analysis. The value SHOULD be globally unique, per in-toto Provenance spec."
        },
        "buildFinishedOn": {
          "description": "The timestamp of when the build completed.",
          "type": "string",
          "format": "google-datetime"
        },
        "completeness": {
          "$ref": "SlsaCompleteness",
          "description": "Indicates that the builder claims certain fields in this message to be complete."
        }
      },
      "id": "SlsaMetadata"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1Artifacts": {
      "description": "Artifacts produced by a build that should be uploaded upon successful completion of all build steps.",
      "properties": {
        "pythonPackages": {
          "description": "A list of Python packages to be uploaded to Artifact Registry upon successful completion of all build steps. The build service account credentials will be used to perform the upload. If any objects fail to be pushed, the build is marked FAILURE.",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsPythonPackage"
          },
          "type": "array"
        },
        "images": {
          "items": {
            "type": "string"
          },
          "description": "A list of images to be pushed upon the successful completion of all build steps. The images will be pushed using the builder service account's credentials. The digests of the pushed images will be stored in the Build resource's results field. If any of the images fail to be pushed, the build is marked FAILURE.",
          "type": "array"
        },
        "objects": {
          "description": "A list of objects to be uploaded to Cloud Storage upon successful completion of all build steps. Files in the workspace matching specified paths globs will be uploaded to the specified Cloud Storage location using the builder service account's credentials. The location and generation of the uploaded objects will be stored in the Build resource's results field. If any objects fail to be pushed, the build is marked FAILURE.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsArtifactObjects"
        },
        "mavenArtifacts": {
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsMavenArtifact"
          },
          "description": "A list of Maven artifacts to be uploaded to Artifact Registry upon successful completion of all build steps. Artifacts in the workspace matching specified paths globs will be uploaded to the specified Artifact Registry repository using the builder service account's credentials. If any artifacts fail to be pushed, the build is marked FAILURE.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1Artifacts"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptionsPoolOption": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptionsPoolOption",
      "properties": {
        "name": {
          "description": "The `WorkerPool` resource to execute the build on. You must have `cloudbuild.workerpools.use` on the project hosting the WorkerPool. Format projects/{project}/locations/{location}/workerPools/{workerPoolId}",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Details about how a build should be executed on a `WorkerPool`. See [running builds in a private pool](https://cloud.google.com/build/docs/private-pools/run-builds-in-private-pool) for more information."
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1SecretManagerSecret": {
      "description": "Pairs a secret environment variable with a SecretVersion in Secret Manager.",
      "properties": {
        "versionName": {
          "description": "Resource name of the SecretVersion. In format: projects/*/secrets/*/versions/*",
          "type": "string"
        },
        "env": {
          "description": "Environment variable name to associate with the secret. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step.",
          "type": "string"
        }
      },
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1SecretManagerSecret",
      "type": "object"
    },
    "BatchCreateNotesResponse": {
      "properties": {
        "notes": {
          "description": "The notes that were created.",
          "type": "array",
          "items": {
            "$ref": "Note"
          }
        }
      },
      "id": "BatchCreateNotesResponse",
      "description": "Response for creating notes in batch.",
      "type": "object"
    },
    "NonCompliantFile": {
      "type": "object",
      "id": "NonCompliantFile",
      "properties": {
        "reason": {
          "type": "string",
          "description": "Explains why a file is non compliant for a CIS check."
        },
        "path": {
          "description": "Empty if `display_command` is set.",
          "type": "string"
        },
        "displayCommand": {
          "type": "string",
          "description": "Command to display the non-compliant files."
        }
      },
      "description": "Details about files that caused a compliance check to fail. display_command is a single command that can be used to display a list of non compliant files. When there is no such command, we can also iterate a list of non compliant file using 'path'."
    },
    "BatchCreateNotesRequest": {
      "type": "object",
      "properties": {
        "notes": {
          "additionalProperties": {
            "$ref": "Note"
          },
          "description": "Required. The notes to create. Max allowed length is 1000.",
          "type": "object"
        }
      },
      "description": "Request to create notes in batch.",
      "id": "BatchCreateNotesRequest"
    },
    "GetPolicyOptions": {
      "id": "GetPolicyOptions",
      "properties": {
        "requestedPolicyVersion": {
          "type": "integer",
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Encapsulates settings provided to GetIamPolicy."
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalConfig": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalConfig",
      "properties": {
        "approvalRequired": {
          "type": "boolean",
          "description": "Whether or not approval is needed. If this is set on a build, it will become pending when created, and will need to be explicitly approved to start."
        }
      },
      "type": "object",
      "description": "ApprovalConfig describes configuration for manual approval of a build."
    },
    "Material": {
      "id": "Material",
      "properties": {
        "digest": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "AnalysisCompleted": {
      "type": "object",
      "properties": {
        "analysisType": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AnalysisCompleted",
      "description": "Indicates which analysis completed successfully. Multiple types of analysis can be performed on a single resource."
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "BuildProvenance": {
      "description": "Provenance of a build. Contains all information needed to verify the full details about the build from source to completion.",
      "id": "BuildProvenance",
      "properties": {
        "createTime": {
          "description": "Time at which the build was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "buildOptions": {
          "type": "object",
          "description": "Special options applied to this build. This is a catch-all field where build providers can enter any desired additional details.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sourceProvenance": {
          "description": "Details of the Source input to the build.",
          "$ref": "Source"
        },
        "id": {
          "description": "Required. Unique identifier of the build.",
          "type": "string"
        },
        "commands": {
          "type": "array",
          "items": {
            "$ref": "Command"
          },
          "description": "Commands requested by the build."
        },
        "projectId": {
          "type": "string",
          "description": "ID of the project."
        },
        "logsUri": {
          "description": "URI where any logs for this provenance were written.",
          "type": "string"
        },
        "endTime": {
          "description": "Time at which execution of the build was finished.",
          "type": "string",
          "format": "google-datetime"
        },
        "triggerId": {
          "description": "Trigger identifier if the build was triggered automatically; empty if not.",
          "type": "string"
        },
        "creator": {
          "type": "string",
          "description": "E-mail address of the user who initiated this build. Note that this was the user's e-mail address at the time the build was initiated; this address may not represent the same end-user for all time."
        },
        "builtArtifacts": {
          "description": "Output of the build.",
          "items": {
            "$ref": "Artifact"
          },
          "type": "array"
        },
        "builderVersion": {
          "description": "Version string of the builder at the time this build was executed.",
          "type": "string"
        },
        "startTime": {
          "description": "Time at which execution of the build was started.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaConfigSource": {
      "properties": {
        "digest": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uri": {
          "type": "string"
        },
        "entryPoint": {
          "type": "string"
        }
      },
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaConfigSource",
      "description": "Describes where the config file that kicked off the build came from. This is effectively a pointer to the source where buildConfig came from.",
      "type": "object"
    },
    "RepoId": {
      "id": "RepoId",
      "description": "A unique identifier for a Cloud Repo.",
      "type": "object",
      "properties": {
        "uid": {
          "type": "string",
          "description": "A server-assigned, globally unique identifier."
        },
        "projectRepoId": {
          "description": "A combination of a project ID and a repo name.",
          "$ref": "ProjectRepoId"
        }
      }
    },
    "GitSourceContext": {
      "properties": {
        "revisionId": {
          "type": "string",
          "description": "Git commit hash."
        },
        "url": {
          "description": "Git repository URL.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GitSourceContext",
      "description": "A GitSourceContext denotes a particular revision in a third party Git repository (e.g., GitHub)."
    },
    "WindowsDetail": {
      "type": "object",
      "id": "WindowsDetail",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of this vulnerability."
        },
        "fixingKbs": {
          "items": {
            "$ref": "KnowledgeBase"
          },
          "description": "Required. The names of the KBs which have hotfixes to mitigate this vulnerability. Note that there may be multiple hotfixes (and thus multiple KBs) that mitigate a given vulnerability. Currently any listed KBs presence is considered a fix.",
          "type": "array"
        },
        "name": {
          "description": "Required. The name of this vulnerability.",
          "type": "string"
        },
        "cpeUri": {
          "type": "string",
          "description": "Required. The [CPE URI](https://cpe.mitre.org/specification/) this vulnerability affects."
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1UploadedPythonPackage": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1UploadedPythonPackage",
      "type": "object",
      "properties": {
        "pushTiming": {
          "description": "Output only. Stores timing information for pushing the specified artifact.",
          "readOnly": true,
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan"
        },
        "fileHashes": {
          "description": "Hash types and values of the Python Artifact.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1FileHashes"
        },
        "uri": {
          "description": "URI of the uploaded artifact.",
          "type": "string"
        }
      },
      "description": "Artifact uploaded using the PythonPackage directive."
    },
    "VulnerabilityNote": {
      "properties": {
        "cvssV3": {
          "$ref": "CVSSv3",
          "description": "The full description of the CVSSv3 for this vulnerability."
        },
        "cvssVersion": {
          "description": "CVSS version used to populate cvss_score and severity.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "CVSS_VERSION_UNSPECIFIED",
            "CVSS_VERSION_2",
            "CVSS_VERSION_3"
          ]
        },
        "cvssV2": {
          "$ref": "CVSS",
          "description": "The full description of the v2 CVSS for this vulnerability."
        },
        "sourceUpdateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time this information was last changed at the source. This is an upstream timestamp from the underlying information source - e.g. Ubuntu security tracker."
        },
        "windowsDetails": {
          "items": {
            "$ref": "WindowsDetail"
          },
          "type": "array",
          "description": "Windows details get their own format because the information format and model don't match a normal detail. Specifically Windows updates are done as patches, thus Windows vulnerabilities really are a missing package, rather than a package being at an incorrect version."
        },
        "severity": {
          "description": "The note provider assigned severity of this vulnerability.",
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "type": "string"
        },
        "details": {
          "items": {
            "$ref": "Detail"
          },
          "description": "Details of all known distros and packages affected by this vulnerability.",
          "type": "array"
        },
        "cvssScore": {
          "description": "The CVSS score of this vulnerability. CVSS score is on a scale of 0 - 10 where 0 indicates low severity and 10 indicates high severity.",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object",
      "description": "A security vulnerability that can be found in resources.",
      "id": "VulnerabilityNote"
    },
    "CisBenchmark": {
      "properties": {
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ]
        },
        "profileLevel": {
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "A compliance check that is a CIS benchmark.",
      "id": "CisBenchmark"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSourceManifest": {
      "type": "object",
      "description": "Location of the source manifest in Google Cloud Storage. This feature is in Preview; see description [here](https://github.com/GoogleCloudPlatform/cloud-builders/tree/master/gcs-fetcher).",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSourceManifest",
      "properties": {
        "object": {
          "description": "Google Cloud Storage object containing the source manifest. This object must be a JSON file.",
          "type": "string"
        },
        "generation": {
          "description": "Google Cloud Storage generation for the object. If the generation is omitted, the latest generation will be used.",
          "type": "string",
          "format": "int64"
        },
        "bucket": {
          "type": "string",
          "description": "Google Cloud Storage bucket containing the source manifest (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements))."
        }
      }
    },
    "GoogleDevtoolsContaineranalysisV1alpha1OperationMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time this operation was created.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time that this operation was marked completed or failed.",
          "type": "string"
        }
      },
      "id": "GoogleDevtoolsContaineranalysisV1alpha1OperationMetadata",
      "description": "Metadata for all operations used and required for all operations that created by Container Analysis Providers"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildFailureInfo": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildFailureInfo",
      "type": "object",
      "description": "A fatal problem encountered during the execution of the build.",
      "properties": {
        "detail": {
          "type": "string",
          "description": "Explains the failure issue in more detail using hard-coded text."
        },
        "type": {
          "description": "The name of the failure.",
          "type": "string",
          "enumDescriptions": [
            "Type unspecified",
            "Unable to push the image to the repository.",
            "Final image not found.",
            "Unauthorized push of the final image.",
            "Backend logging failures. Should retry.",
            "A build step has failed.",
            "The source fetching has failed."
          ],
          "enum": [
            "FAILURE_TYPE_UNSPECIFIED",
            "PUSH_FAILED",
            "PUSH_IMAGE_NOT_FOUND",
            "PUSH_NOT_AUTHORIZED",
            "LOGGING_FAILURE",
            "USER_BUILD_STEP",
            "FETCH_SOURCE_FAILED"
          ]
        }
      }
    },
    "Recipe": {
      "properties": {
        "type": {
          "description": "URI indicating what type of recipe was performed. It determines the meaning of recipe.entryPoint, recipe.arguments, recipe.environment, and materials.",
          "type": "string"
        },
        "entryPoint": {
          "description": "String identifying the entry point into the build. This is often a path to a configuration file and/or a target label within that file. The syntax and meaning are defined by recipe.type. For example, if the recipe type were \"make\", then this would reference the directory in which to run make as well as which target to use.",
          "type": "string"
        },
        "environment": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "Any other builder-controlled inputs necessary for correctly evaluating the recipe. Usually only needed for reproducing the build but not evaluated as part of policy. Since the environment field can greatly vary in structure, depending on the builder and recipe type, this is of form \"Any\"."
        },
        "arguments": {
          "description": "Collection of all external inputs that influenced the build on top of recipe.definedInMaterial and recipe.entryPoint. For example, if the recipe type were \"make\", then this might be the flags passed to make aside from the target, which is captured in recipe.entryPoint. Since the arguments field can greatly vary in structure, depending on the builder and recipe type, this is of form \"Any\".",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        },
        "definedInMaterial": {
          "description": "Index in materials containing the recipe steps that are not implied by recipe.type. For example, if the recipe type were \"make\", then this would point to the source containing the Makefile, not the make program itself. Set to -1 if the recipe doesn't come from a material, as zero is default unset value for int64.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "Recipe",
      "description": "Steps taken to build the artifact. For a TaskRun, typically each container corresponds to one step in the recipe."
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildWarning": {
      "description": "A non-fatal problem encountered during the execution of the build.",
      "type": "object",
      "properties": {
        "priority": {
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ALERT"
          ],
          "description": "The priority for this warning.",
          "enumDescriptions": [
            "Should not be used.",
            "e.g. deprecation warnings and alternative feature highlights.",
            "e.g. automated detection of possible issues with the build.",
            "e.g. alerts that a feature used in the build is pending removal"
          ],
          "type": "string"
        },
        "text": {
          "description": "Explanation of the warning generated.",
          "type": "string"
        }
      },
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildWarning"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptions": {
      "type": "object",
      "description": "Optional arguments to enable specific features of builds.",
      "properties": {
        "logStreamingOption": {
          "description": "Option to define build log streaming behavior to Google Cloud Storage.",
          "enumDescriptions": [
            "Service may automatically determine build log streaming behavior.",
            "Build logs should be streamed to Google Cloud Storage.",
            "Build logs should not be streamed to Google Cloud Storage; they will be written when the build is completed."
          ],
          "enum": [
            "STREAM_DEFAULT",
            "STREAM_ON",
            "STREAM_OFF"
          ],
          "type": "string"
        },
        "dynamicSubstitutions": {
          "description": "Option to specify whether or not to apply bash style string operations to the substitutions. NOTE: this is always enabled for triggered builds and cannot be overridden in the build configuration file.",
          "type": "boolean"
        },
        "defaultLogsBucketBehavior": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Bucket is located in user-owned project in the same region as the build. The builder service account must have access to create and write to GCS buckets in the build project."
          ],
          "enum": [
            "DEFAULT_LOGS_BUCKET_BEHAVIOR_UNSPECIFIED",
            "REGIONAL_USER_OWNED_BUCKET"
          ],
          "description": "Optional. Option to specify how default logs buckets are setup."
        },
        "workerPool": {
          "type": "string",
          "description": "This field deprecated; please use `pool.name` instead."
        },
        "substitutionOption": {
          "enumDescriptions": [
            "Fails the build if error in substitutions checks, like missing a substitution in the template or in the map.",
            "Do not fail the build if error in substitutions checks."
          ],
          "enum": [
            "MUST_MATCH",
            "ALLOW_LOOSE"
          ],
          "type": "string",
          "description": "Option to specify behavior when there is an error in the substitution checks. NOTE: this is always set to ALLOW_LOOSE for triggered builds and cannot be overridden in the build configuration file."
        },
        "sourceProvenanceHash": {
          "items": {
            "enumDescriptions": [
              "No hash requested.",
              "Use a sha256 hash.",
              "Use a md5 hash."
            ],
            "type": "string",
            "enum": [
              "NONE",
              "SHA256",
              "MD5"
            ]
          },
          "type": "array",
          "description": "Requested hash for SourceProvenance."
        },
        "requestedVerifyOption": {
          "type": "string",
          "enum": [
            "NOT_VERIFIED",
            "VERIFIED"
          ],
          "enumDescriptions": [
            "Not a verifiable build (the default).",
            "Build must be verified."
          ],
          "description": "Requested verifiability options."
        },
        "pool": {
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptionsPoolOption",
          "description": "Optional. Specification for execution on a `WorkerPool`. See [running builds in a private pool](https://cloud.google.com/build/docs/private-pools/run-builds-in-private-pool) for more information."
        },
        "env": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of global environment variable definitions that will exist for all build steps in this build. If a variable is defined in both globally and in a build step, the variable will use the build step value. The elements are of the form \"KEY=VALUE\" for the environment variable \"KEY\" being given the value \"VALUE\"."
        },
        "diskSizeGb": {
          "type": "string",
          "description": "Requested disk size for the VM that runs the build. Note that this is *NOT* \"disk free\"; some of the space will be used by the operating system and build utilities. Also note that this is the minimum disk size that will be allocated for the build -- the build may run with a larger disk than requested. At present, the maximum disk size is 2000GB; builds that request more than the maximum are rejected with an error.",
          "format": "int64"
        },
        "machineType": {
          "description": "Compute Engine machine type on which to run the build.",
          "enumDescriptions": [
            "Standard machine type.",
            "Highcpu machine with 8 CPUs.",
            "Highcpu machine with 32 CPUs.",
            "Highcpu e2 machine with 8 CPUs.",
            "Highcpu e2 machine with 32 CPUs."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "N1_HIGHCPU_8",
            "N1_HIGHCPU_32",
            "E2_HIGHCPU_8",
            "E2_HIGHCPU_32"
          ]
        },
        "volumes": {
          "description": "Global list of volumes to mount for ALL build steps Each volume is created as an empty volume prior to starting the build process. Upon completion of the build, volumes and their contents are discarded. Global volume names and paths cannot conflict with the volumes defined a build step. Using a global volume in a build with only one step is not valid as it is indicative of a build request with an incorrect configuration.",
          "type": "array",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1Volume"
          }
        },
        "secretEnv": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of global environment variables, which are encrypted using a Cloud Key Management Service crypto key. These values must be specified in the build's `Secret`. These variables will be available to all build steps in this build."
        },
        "logging": {
          "enum": [
            "LOGGING_UNSPECIFIED",
            "LEGACY",
            "GCS_ONLY",
            "STACKDRIVER_ONLY",
            "CLOUD_LOGGING_ONLY",
            "NONE"
          ],
          "description": "Option to specify the logging mode, which determines if and where build logs are stored.",
          "type": "string",
          "enumDescriptions": [
            "The service determines the logging mode. The default is `LEGACY`. Do not rely on the default logging behavior as it may change in the future.",
            "Build logs are stored in Cloud Logging and Cloud Storage.",
            "Build logs are stored in Cloud Storage.",
            "This option is the same as CLOUD_LOGGING_ONLY.",
            "Build logs are stored in Cloud Logging. Selecting this option will not allow [logs streaming](https://cloud.google.com/sdk/gcloud/reference/builds/log).",
            "Turn off all logging. No build logs will be captured."
          ]
        }
      },
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptions"
    },
    "SlsaRecipe": {
      "description": "Steps taken to build the artifact. For a TaskRun, typically each container corresponds to one step in the recipe.",
      "properties": {
        "entryPoint": {
          "description": "String identifying the entry point into the build. This is often a path to a configuration file and/or a target label within that file. The syntax and meaning are defined by recipe.type. For example, if the recipe type were \"make\", then this would reference the directory in which to run make as well as which target to use.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "URI indicating what type of recipe was performed. It determines the meaning of recipe.entryPoint, recipe.arguments, recipe.environment, and materials."
        },
        "environment": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Any other builder-controlled inputs necessary for correctly evaluating the recipe. Usually only needed for reproducing the build but not evaluated as part of policy. Depending on the recipe Type, the structure may be different.",
          "type": "object"
        },
        "arguments": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Collection of all external inputs that influenced the build on top of recipe.definedInMaterial and recipe.entryPoint. For example, if the recipe type were \"make\", then this might be the flags passed to make aside from the target, which is captured in recipe.entryPoint. Depending on the recipe Type, the structure may be different."
        },
        "definedInMaterial": {
          "description": "Index in materials containing the recipe steps that are not implied by recipe.type. For example, if the recipe type were \"make\", then this would point to the source containing the Makefile, not the make program itself. Set to -1 if the recipe doesn't come from a material, as zero is default unset value for int64.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "SlsaRecipe"
    },
    "SlsaProvenance": {
      "id": "SlsaProvenance",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "SlsaMetadata"
        },
        "recipe": {
          "$ref": "SlsaRecipe",
          "description": "Identifies the configuration used for the build. When combined with materials, this SHOULD fully describe the build, such that re-running this recipe results in bit-for-bit identical output (if the build is reproducible). required"
        },
        "builder": {
          "description": "required",
          "$ref": "SlsaBuilder"
        },
        "materials": {
          "description": "The collection of artifacts that influenced the build including sources, dependencies, build tools, base images, and so on. This is considered to be incomplete unless metadata.completeness.materials is true. Unset or null is equivalent to empty.",
          "items": {
            "$ref": "Material"
          },
          "type": "array"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      }
    },
    "UpgradeDistribution": {
      "type": "object",
      "description": "The Upgrade Distribution represents metadata about the Upgrade for each operating system (CPE). Some distributions have additional metadata around updates, classifying them into various categories and severities.",
      "properties": {
        "severity": {
          "type": "string",
          "description": "The severity as specified by the upstream operating system."
        },
        "cpeUri": {
          "description": "Required - The specific operating system this metadata applies to. See https://cpe.mitre.org/specification/.",
          "type": "string"
        },
        "classification": {
          "type": "string",
          "description": "The operating system classification of this Upgrade, as specified by the upstream operating system upgrade feed. For Windows the classification is one of the category_ids listed at https://docs.microsoft.com/en-us/previous-versions/windows/desktop/ff357803(v=vs.85)"
        },
        "cve": {
          "description": "The cve tied to this Upgrade.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "UpgradeDistribution"
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaMaterial": {
      "type": "object",
      "properties": {
        "uri": {
[...]
