{
  "description": "An implementation of the Grafeas API, which stores, and enables querying and retrieval of critical metadata about all of your software artifacts.",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "servicePath": "",
  "revision": "20220805",
  "title": "Container Analysis API",
  "name": "containeranalysis",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "protocol": "rest",
  "id": "containeranalysis:v1alpha1",
  "discoveryVersion": "v1",
  "resources": {
    "providers": {
      "resources": {
        "notes": {
          "resources": {
            "occurrences": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha1/{+name}/occurrences",
                  "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}/occurrences",
                  "response": {
                    "$ref": "ListNoteOccurrencesResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "The filter expression.",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^providers/[^/]+/notes/[^/]+$",
                      "location": "path",
                      "description": "The name field will contain the note name for example: \"provider/{provider_id}/notes/{note_id}\"",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Token to provide to skip to a particular spot in the list.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Number of notes to return in the list.",
                      "format": "int32"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists `Occurrences` referencing the specified `Note`. Use this method to get all occurrences referencing your `Note` across all your customer projects.",
                  "id": "containeranalysis.providers.notes.occurrences.list"
                }
              }
            }
          },
          "methods": {
            "get": {
              "path": "v1alpha1/{+name}",
              "description": "Returns the requested `Note`.",
              "id": "containeranalysis.providers.notes.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^providers/[^/]+/notes/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "The name of the note in the form of \"providers/{provider_id}/notes/{NOTE_ID}\"",
                  "required": true
                }
              },
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}",
              "response": {
                "$ref": "Note"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET"
            },
            "setIamPolicy": {
              "parameters": {
                "resource": {
                  "type": "string",
                  "pattern": "^providers/[^/]+/notes/[^/]+$",
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Policy"
              },
              "parameterOrder": [
                "resource"
              ],
              "path": "v1alpha1/{+resource}:setIamPolicy",
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}:setIamPolicy",
              "httpMethod": "POST",
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "description": "Sets the access control policy on the specified `Note` or `Occurrence`. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a `Note` or an `Occurrence`, respectively. Attempting to call this method without these permissions will result in a ` `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has `containeranalysis.notes.list` permission on a `Note` or `containeranalysis.occurrences.list` on an `Occurrence`, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{projectid}/occurrences/{occurrenceid}` for occurrences and projects/{projectid}/notes/{noteid} for notes",
              "id": "containeranalysis.providers.notes.setIamPolicy"
            },
            "testIamPermissions": {
              "description": "Returns the permissions that a caller has on the specified note or occurrence resource. Requires list permission on the project (for example, \"storage.objects.list\" on the containing bucket for testing permission of an object). Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for `Occurrences` and `projects/{PROJECT_ID}/notes/{NOTE_ID}` for `Notes`",
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}:testIamPermissions",
              "path": "v1alpha1/{+resource}:testIamPermissions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "resource"
              ],
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "id": "containeranalysis.providers.notes.testIamPermissions",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "httpMethod": "POST",
              "parameters": {
                "resource": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^providers/[^/]+/notes/[^/]+$",
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                }
              }
            },
            "create": {
              "flatPath": "v1alpha1/providers/{providersId}/notes",
              "path": "v1alpha1/{+name}/notes",
              "request": {
                "$ref": "Note"
              },
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The name of the project. Should be of the form \"providers/{provider_id}\". @Deprecated",
                  "pattern": "^providers/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "noteId": {
                  "description": "The ID to use for this note.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "query",
                  "description": "This field contains the project Id for example: \"projects/{project_id}",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Note"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.providers.notes.create",
              "description": "Creates a new `Note`."
            },
            "patch": {
              "id": "containeranalysis.providers.notes.patch",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^providers/[^/]+/notes/[^/]+$",
                  "description": "The name of the note. Should be of the form \"projects/{provider_id}/notes/{note_id}\".",
                  "location": "path"
                },
                "updateMask": {
                  "description": "The fields to update.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Note"
              },
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Note"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha1/{+name}",
              "description": "Updates an existing `Note`."
            },
            "delete": {
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}",
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^providers/[^/]+/notes/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "The name of the note in the form of \"providers/{provider_id}/notes/{NOTE_ID}\"",
                  "required": true
                }
              },
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes the given `Note` from the system.",
              "parameterOrder": [
                "name"
              ],
              "id": "containeranalysis.providers.notes.delete"
            },
            "getIamPolicy": {
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}:getIamPolicy",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^providers/[^/]+/notes/[^/]+$"
                }
              },
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "id": "containeranalysis.providers.notes.getIamPolicy",
              "description": "Gets the access control policy for a note or an `Occurrence` resource. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or occurrence, respectively. Attempting to call this method on a resource without the required permission will result in a `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for occurrences and projects/{PROJECT_ID}/notes/{NOTE_ID} for notes",
              "parameterOrder": [
                "resource"
              ],
              "response": {
                "$ref": "Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "path": "v1alpha1/{+resource}:getIamPolicy"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists all `Notes` for a given project.",
              "flatPath": "v1alpha1/providers/{providersId}/notes",
              "id": "containeranalysis.providers.notes.list",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The filter expression."
                },
                "pageSize": {
                  "description": "Number of notes to return in the list.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Token to provide to skip to a particular spot in the list."
                },
                "name": {
                  "location": "path",
                  "pattern": "^providers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "The name field will contain the project Id for example: \"providers/{provider_id} @Deprecated"
                },
                "parent": {
                  "type": "string",
                  "location": "query",
                  "description": "This field contains the project Id for example: \"projects/{PROJECT_ID}\"."
                }
              },
              "path": "v1alpha1/{+name}/notes",
              "response": {
                "$ref": "ListNotesResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "scanConfigs": {
          "methods": {
            "patch": {
              "description": "Updates the scan configuration to a new value.",
              "id": "containeranalysis.projects.scanConfigs.patch",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "location": "path",
                  "description": "The scan config to update of the form projects/{project_id}/scanConfigs/{scan_config_id}.",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "The fields to update.",
                  "format": "google-fieldmask"
                }
              },
              "request": {
                "$ref": "ScanConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ScanConfig"
              },
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/projects/{projectsId}/scanConfigs/{scanConfigsId}"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListScanConfigsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.projects.scanConfigs.list",
              "httpMethod": "GET",
              "path": "v1alpha1/{+parent}/scanConfigs",
              "description": "Lists scan configurations for a project.",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The number of items to return.",
                  "format": "int32"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "This containers the project Id i.e.: projects/{project_id}",
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The page token to use for the next request."
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The filter expression."
                }
              },
              "flatPath": "v1alpha1/projects/{projectsId}/scanConfigs"
            },
            "get": {
              "id": "containeranalysis.projects.scanConfigs.get",
              "path": "v1alpha1/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "description": "The name of the ScanConfig in the form projects/{project_id}/scanConfigs/{scan_config_id}",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ScanConfig"
              },
              "flatPath": "v1alpha1/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a specific scan configuration for a project."
            }
          }
        },
        "operations": {
          "methods": {
            "patch": {
              "id": "containeranalysis.projects.operations.patch",
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true,
                  "description": "The name of the Operation. Should be of the form \"projects/{provider_id}/operations/{operation_id}\"."
                }
              },
              "request": {
                "$ref": "UpdateOperationRequest"
              },
              "httpMethod": "PATCH",
              "description": "Updates an existing operation returns an error if operation does not exist. The only valid operations are to update mark the done bit change the result.",
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1alpha1/projects/{projectsId}/operations/{operationsId}"
            },
            "create": {
              "description": "Creates a new `Operation`.",
              "httpMethod": "POST",
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "CreateOperationRequest"
              },
              "path": "v1alpha1/{+parent}/operations",
              "flatPath": "v1alpha1/projects/{projectsId}/operations",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "The project Id that this operation should be created under."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.projects.operations.create",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "notes": {
          "methods": {
            "delete": {
              "id": "containeranalysis.projects.notes.delete",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "The name of the note in the form of \"providers/{provider_id}/notes/{NOTE_ID}\"",
                  "type": "string"
                }
              },
              "httpMethod": "DELETE",
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}",
              "description": "Deletes the given `Note` from the system.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Empty"
              },
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "getIamPolicy": {
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}:getIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "id": "containeranalysis.projects.notes.getIamPolicy",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the access control policy for a note or an `Occurrence` resource. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or occurrence, respectively. Attempting to call this method on a resource without the required permission will result in a `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for occurrences and projects/{PROJECT_ID}/notes/{NOTE_ID} for notes",
              "path": "v1alpha1/{+resource}:getIamPolicy",
              "parameterOrder": [
                "resource"
              ],
              "parameters": {
                "resource": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "pattern": "^projects/[^/]+/notes/[^/]+$"
                }
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Returns the requested `Note`.",
              "response": {
                "$ref": "Note"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The name of the note in the form of \"providers/{provider_id}/notes/{NOTE_ID}\""
                }
              },
              "path": "v1alpha1/{+name}",
              "httpMethod": "GET",
              "id": "containeranalysis.projects.notes.get"
            },
            "list": {
              "response": {
                "$ref": "ListNotesResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.projects.notes.list",
              "flatPath": "v1alpha1/projects/{projectsId}/notes",
              "parameters": {
                "name": {
                  "description": "The name field will contain the project Id for example: \"providers/{provider_id} @Deprecated",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Number of notes to return in the list.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "filter": {
                  "location": "query",
                  "description": "The filter expression.",
                  "type": "string"
                },
                "parent": {
                  "description": "This field contains the project Id for example: \"projects/{PROJECT_ID}\".",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "description": "Token to provide to skip to a particular spot in the list.",
                  "type": "string"
                }
              },
              "description": "Lists all `Notes` for a given project.",
              "path": "v1alpha1/{+parent}/notes",
              "parameterOrder": [
                "parent"
              ]
            },
            "testIamPermissions": {
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}:testIamPermissions",
              "parameterOrder": [
                "resource"
              ],
              "path": "v1alpha1/{+resource}:testIamPermissions",
              "description": "Returns the permissions that a caller has on the specified note or occurrence resource. Requires list permission on the project (for example, \"storage.objects.list\" on the containing bucket for testing permission of an object). Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for `Occurrences` and `projects/{PROJECT_ID}/notes/{NOTE_ID}` for `Notes`",
              "id": "containeranalysis.projects.notes.testIamPermissions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "parameters": {
                "resource": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                }
              },
              "response": {
                "$ref": "TestIamPermissionsResponse"
              }
            },
            "create": {
              "httpMethod": "POST",
              "parameters": {
                "noteId": {
                  "description": "The ID to use for this note.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "This field contains the project Id for example: \"projects/{project_id}",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "name": {
                  "description": "The name of the project. Should be of the form \"providers/{provider_id}\". @Deprecated",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Note"
              },
              "path": "v1alpha1/{+parent}/notes",
              "id": "containeranalysis.projects.notes.create",
              "request": {
                "$ref": "Note"
              },
              "flatPath": "v1alpha1/projects/{projectsId}/notes",
              "description": "Creates a new `Note`.",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "setIamPolicy": {
              "httpMethod": "POST",
              "parameters": {
                "resource": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "resource"
              ],
              "response": {
                "$ref": "Policy"
              },
              "description": "Sets the access control policy on the specified `Note` or `Occurrence`. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a `Note` or an `Occurrence`, respectively. Attempting to call this method without these permissions will result in a ` `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has `containeranalysis.notes.list` permission on a `Note` or `containeranalysis.occurrences.list` on an `Occurrence`, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{projectid}/occurrences/{occurrenceid}` for occurrences and projects/{projectid}/notes/{noteid} for notes",
              "id": "containeranalysis.projects.notes.setIamPolicy",
              "path": "v1alpha1/{+resource}:setIamPolicy",
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}:setIamPolicy",
              "request": {
                "$ref": "SetIamPolicyRequest"
              }
            },
            "patch": {
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "required": true,
                  "description": "The name of the note. Should be of the form \"projects/{provider_id}/notes/{note_id}\".",
                  "location": "path"
                },
                "updateMask": {
                  "location": "query",
                  "description": "The fields to update.",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "description": "Updates an existing `Note`.",
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "containeranalysis.projects.notes.patch",
              "response": {
                "$ref": "Note"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "Note"
              },
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}",
              "httpMethod": "PATCH"
            }
          },
          "resources": {
            "occurrences": {
              "methods": {
                "list": {
                  "description": "Lists `Occurrences` referencing the specified `Note`. Use this method to get all occurrences referencing your `Note` across all your customer projects.",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Token to provide to skip to a particular spot in the list.",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The filter expression.",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "description": "The name field will contain the note name for example: \"provider/{provider_id}/notes/{note_id}\"",
                      "pattern": "^projects/[^/]+/notes/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Number of notes to return in the list.",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}/occurrences",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListNoteOccurrencesResponse"
                  },
                  "path": "v1alpha1/{+name}/occurrences",
                  "httpMethod": "GET",
                  "id": "containeranalysis.projects.notes.occurrences.list"
                }
              }
            }
          }
        },
        "occurrences": {
          "methods": {
            "getIamPolicy": {
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "Policy"
              },
              "id": "containeranalysis.projects.occurrences.getIamPolicy",
              "parameterOrder": [
                "resource"
              ],
              "description": "Gets the access control policy for a note or an `Occurrence` resource. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or occurrence, respectively. Attempting to call this method on a resource without the required permission will result in a `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for occurrences and projects/{PROJECT_ID}/notes/{NOTE_ID} for notes",
              "path": "v1alpha1/{+resource}:getIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}:getIamPolicy"
            },
            "create": {
              "description": "Creates a new `Occurrence`. Use this method to create `Occurrences` for a resource.",
              "httpMethod": "POST",
              "id": "containeranalysis.projects.occurrences.create",
              "response": {
                "$ref": "Occurrence"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha1/{+parent}/occurrences",
              "parameters": {
                "name": {
                  "description": "The name of the project. Should be of the form \"projects/{project_id}\". @Deprecated",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "This field contains the project Id for example: \"projects/{project_id}\"",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences",
              "request": {
                "$ref": "Occurrence"
              }
            },
            "setIamPolicy": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha1/{+resource}:setIamPolicy",
              "id": "containeranalysis.projects.occurrences.setIamPolicy",
              "description": "Sets the access control policy on the specified `Note` or `Occurrence`. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a `Note` or an `Occurrence`, respectively. Attempting to call this method without these permissions will result in a ` `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has `containeranalysis.notes.list` permission on a `Note` or `containeranalysis.occurrences.list` on an `Occurrence`, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{projectid}/occurrences/{occurrenceid}` for occurrences and projects/{projectid}/notes/{noteid} for notes",
              "parameters": {
                "resource": {
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "response": {
                "$ref": "Policy"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}:setIamPolicy"
            },
            "get": {
              "response": {
                "$ref": "Occurrence"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "The name of the occurrence of the form \"projects/{project_id}/occurrences/{OCCURRENCE_ID}\"",
                  "required": true,
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$"
                }
              },
              "path": "v1alpha1/{+name}",
              "id": "containeranalysis.projects.occurrences.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}",
              "description": "Returns the requested `Occurrence`.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET"
            },
            "delete": {
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}",
              "parameterOrder": [
                "name"
              ],
              "id": "containeranalysis.projects.occurrences.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "The name of the occurrence in the form of \"projects/{project_id}/occurrences/{OCCURRENCE_ID}\"",
                  "required": true
                }
              },
              "description": "Deletes the given `Occurrence` from the system. Use this when an `Occurrence` is no longer applicable for the given resource.",
              "path": "v1alpha1/{+name}",
              "httpMethod": "DELETE"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha1/{+parent}/occurrences",
              "id": "containeranalysis.projects.occurrences.list",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Token to provide to skip to a particular spot in the list."
                },
                "kind": {
                  "type": "string",
                  "enum": [
                    "KIND_UNSPECIFIED",
                    "PACKAGE_VULNERABILITY",
                    "BUILD_DETAILS",
                    "IMAGE_BASIS",
                    "PACKAGE_MANAGER",
                    "DEPLOYABLE",
                    "DISCOVERY",
                    "ATTESTATION_AUTHORITY",
                    "UPGRADE",
                    "COMPLIANCE",
                    "SBOM",
                    "SPDX_PACKAGE",
                    "SPDX_FILE",
                    "SPDX_RELATIONSHIP",
                    "DSSE_ATTESTATION"
                  ],
                  "enumDescriptions": [
                    "Unknown",
                    "The note and occurrence represent a package vulnerability.",
                    "The note and occurrence assert build provenance.",
                    "This represents an image basis relationship.",
                    "This represents a package installed via a package manager.",
                    "The note and occurrence track deployment events.",
                    "The note and occurrence track the initial discovery status of a resource.",
                    "This represents a logical \"role\" that can attest to artifacts.",
                    "This represents an available software upgrade.",
                    "This represents a compliance check that can be applied to a resource.",
                    "This represents a software bill of materials.",
                    "This represents an SPDX Package.",
                    "This represents an SPDX File.",
                    "This represents an SPDX Relationship.",
                    "This represents a DSSE attestation Note"
                  ],
                  "description": "The kind of occurrences to filter on.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Number of occurrences to return in the list.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "filter": {
                  "description": "The filter expression.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "location": "query",
                  "description": "The name field contains the project Id. For example: \"projects/{project_id} @Deprecated",
                  "type": "string"
                },
                "parent": {
                  "description": "This contains the project Id for example: projects/{project_id}.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListOccurrencesResponse"
              },
              "description": "Lists active `Occurrences` for a given project matching the filters."
            },
            "getVulnerabilitySummary": {
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The filter expression."
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "This contains the project Id for example: projects/{project_id}",
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences:vulnerabilitySummary",
              "response": {
                "$ref": "GetVulnzOccurrencesSummaryResponse"
              },
              "path": "v1alpha1/{+parent}/occurrences:vulnerabilitySummary",
              "id": "containeranalysis.projects.occurrences.getVulnerabilitySummary",
              "description": "Gets a summary of the number and severity of occurrences.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "testIamPermissions": {
              "id": "containeranalysis.projects.occurrences.testIamPermissions",
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}:testIamPermissions",
              "httpMethod": "POST",
              "description": "Returns the permissions that a caller has on the specified note or occurrence resource. Requires list permission on the project (for example, \"storage.objects.list\" on the containing bucket for testing permission of an object). Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for `Occurrences` and `projects/{PROJECT_ID}/notes/{NOTE_ID}` for `Notes`",
              "parameters": {
                "resource": {
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$"
                }
              },
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "path": "v1alpha1/{+resource}:testIamPermissions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "parameterOrder": [
                "resource"
              ]
            },
            "patch": {
              "id": "containeranalysis.projects.occurrences.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha1/{+name}",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Occurrence"
              },
              "description": "Updates an existing occurrence.",
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}",
              "parameters": {
                "updateMask": {
                  "description": "The fields to update.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "required": true,
                  "description": "The name of the occurrence. Should be of the form \"projects/{project_id}/occurrences/{OCCURRENCE_ID}\".",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Occurrence"
              }
            },
            "getNotes": {
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}/notes",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha1/{+name}/notes",
              "response": {
                "$ref": "Note"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "The name of the occurrence in the form \"projects/{project_id}/occurrences/{OCCURRENCE_ID}\"",
                  "location": "path",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$"
                }
              },
              "id": "containeranalysis.projects.occurrences.getNotes",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the `Note` attached to the given `Occurrence`.",
              "httpMethod": "GET"
            }
          }
        }
      }
    }
  },
  "baseUrl": "https://containeranalysis.googleapis.com/",
  "schemas": {
    "GoogleDevtoolsContaineranalysisV1alpha1AliasContext": {
      "description": "An alias to a repo revision.",
      "type": "object",
      "id": "GoogleDevtoolsContaineranalysisV1alpha1AliasContext",
      "properties": {
        "kind": {
          "description": "The alias kind.",
          "type": "string",
          "enum": [
            "KIND_UNSPECIFIED",
            "FIXED",
            "MOVABLE",
            "OTHER"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Git tag.",
            "Git branch.",
            "Used to specify non-standard aliases. For example, if a Git repo has a ref named \"refs/foo/bar\"."
          ]
        },
        "name": {
          "type": "string",
          "description": "The alias name."
        }
      }
    },
    "GoogleDevtoolsContaineranalysisV1alpha1ProjectRepoId": {
      "description": "Selects a repo using a Google Cloud Platform project ID (e.g., winged-cargo-31) and a repo name within that project.",
      "type": "object",
      "properties": {
        "repoName": {
          "type": "string",
          "description": "The name of the repo. Leave empty for the default repo."
        },
        "projectId": {
          "description": "The ID of the project.",
          "type": "string"
        }
      },
      "id": "GoogleDevtoolsContaineranalysisV1alpha1ProjectRepoId"
    },
    "GetPolicyOptions": {
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "type": "object",
      "properties": {
        "requestedPolicyVersion": {
          "type": "integer",
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        }
      },
      "id": "GetPolicyOptions"
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object"
    },
    "UpdateOperationRequest": {
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "The fields to update.",
          "format": "google-fieldmask"
        },
        "operation": {
          "$ref": "Operation",
          "description": "The operation to create."
        }
      },
      "type": "object",
      "id": "UpdateOperationRequest",
      "description": "Request for updating an existing operation"
    },
    "Attestation": {
      "properties": {
        "pgpSignedAttestation": {
          "$ref": "PgpSignedAttestation"
        }
      },
      "type": "object",
      "description": "Occurrence that represents a single \"attestation\". The authenticity of an Attestation can be verified using the attached signature. If the verifier trusts the public key of the signer, then verifying the signature is sufficient to establish trust. In this circumstance, the AttestationAuthority to which this Attestation is attached is primarily useful for look-up (how to find this Attestation if you already know the Authority and artifact to be verified) and intent (which authority was this attestation intended to sign for).",
      "id": "Attestation"
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "type": "object",
      "properties": {
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ComplianceNote": {
      "description": "ComplianceNote encapsulates all information about a specific compliance check.",
      "properties": {
        "title": {
          "description": "The title that identifies this compliance check.",
          "type": "string"
        },
        "scanInstructions": {
          "description": "Serialized scan instructions with a predefined format.",
          "type": "string",
          "format": "byte"
        },
        "cisBenchmark": {
          "description": "Right now we only have one compliance type, but we may add additional types in the future.",
          "$ref": "CisBenchmark"
        },
        "description": {
          "description": "A description about this compliance check.",
          "type": "string"
        },
        "version": {
          "items": {
            "$ref": "ComplianceVersion"
          },
          "type": "array",
          "description": "The OS and config versions the benchmark applies to."
        },
        "remediation": {
          "type": "string",
          "description": "A description of remediation steps if the compliance check fails."
        },
        "rationale": {
          "description": "A rationale for the existence of this compliance check.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ComplianceNote"
    },
    "Version": {
      "properties": {
        "epoch": {
          "description": "Used to correct mistakes in the version numbering scheme.",
          "format": "int32",
          "type": "integer"
        },
        "revision": {
          "type": "string",
          "description": "The iteration of the package build from the above version."
        },
        "name": {
          "description": "The main part of the version name.",
          "type": "string"
        },
        "kind": {
          "enumDescriptions": [
            "A standard package version, defined by the other fields.",
            "A special version representing negative infinity, other fields are ignored.",
            "A special version representing positive infinity, other fields are ignored."
          ],
          "description": "Distinguish between sentinel MIN/MAX versions and normal versions. If kind is not NORMAL, then the other fields are ignored.",
          "enum": [
            "NORMAL",
            "MINIMUM",
            "MAXIMUM"
          ],
          "type": "string"
        },
        "inclusive": {
          "type": "boolean",
          "description": "Whether this version is vulnerable, when defining the version bounds. For example, if the minimum version is 2.0, inclusive=true would say 2.0 is vulnerable, while inclusive=false would say it's not"
        }
      },
      "id": "Version",
      "description": "Version contains structured information about the version of the package. For a discussion of this in Debian/Ubuntu: http://serverfault.com/questions/604541/debian-packages-version-convention For a discussion of this in Redhat/Fedora/Centos: http://blog.jasonantman.com/2014/07/how-yum-and-rpm-compare-versions/",
      "type": "object"
    },
    "FileHashes": {
      "type": "object",
      "properties": {
        "fileHash": {
          "type": "array",
          "items": {
            "$ref": "Hash"
          },
          "description": "Collection of file hashes."
        }
      },
      "description": "Container message for hashes of byte content of files, used in Source messages to verify integrity of source input to the build.",
      "id": "FileHashes"
    },
    "PgpSignedAttestation": {
      "properties": {
        "pgpKeyId": {
          "description": "The cryptographic fingerprint of the key used to generate the signature, as output by, e.g. `gpg --list-keys`. This should be the version 4, full 160-bit fingerprint, expressed as a 40 character hexadecimal string. See https://tools.ietf.org/html/rfc4880#section-12.2 for details. Implementations may choose to acknowledge \"LONG\", \"SHORT\", or other abbreviated key IDs, but only the full fingerprint is guaranteed to work. In gpg, the full fingerprint can be retrieved from the `fpr` field returned when calling --list-keys with --with-colons. For example: ``` gpg --with-colons --with-fingerprint --force-v4-certs \\ --list-keys attester@example.com tru::1:1513631572:0:3:1:5 pub:...... fpr:::::::::24FF6481B76AC91E66A00AC657A93A81EF3AE6FB: ``` Above, the fingerprint is `24FF6481B76AC91E66A00AC657A93A81EF3AE6FB`.",
          "type": "string"
        },
        "contentType": {
          "type": "string",
          "description": "Type (for example schema) of the attestation payload that was signed. The verifier must ensure that the provided type is one that the verifier supports, and that the attestation payload is a valid instantiation of that type (for example by validating a JSON schema).",
          "enum": [
            "CONTENT_TYPE_UNSPECIFIED",
            "SIMPLE_SIGNING_JSON"
          ],
          "enumDescriptions": [
            "`ContentType` is not set.",
            "Atomic format attestation signature. See https://github.com/containers/image/blob/8a5d2f82a6e3263290c8e0276c3e0f64e77723e7/docs/atomic-signature.md The payload extracted from `signature` is a JSON blob conforming to the linked schema."
          ]
        },
        "signature": {
          "description": "The raw content of the signature, as output by GNU Privacy Guard (GPG) or equivalent. Since this message only supports attached signatures, the payload that was signed must be attached. While the signature format supported is dependent on the verification implementation, currently only ASCII-armored (`--armor` to gpg), non-clearsigned (`--sign` rather than `--clearsign` to gpg) are supported. Concretely, `gpg --sign --armor --output=signature.gpg payload.json` will create the signature content expected in this field in `signature.gpg` for the `payload.json` attestation payload.",
          "type": "string"
        }
      },
      "id": "PgpSignedAttestation",
      "description": "An attestation wrapper with a PGP-compatible signature. This message only supports `ATTACHED` signatures, where the payload that is signed is included alongside the signature itself in the same file.",
      "type": "object"
    },
    "RelatedUrl": {
      "properties": {
        "label": {
          "type": "string",
          "description": "Label to describe usage of the URL"
        },
        "url": {
          "type": "string",
          "description": "Specific URL to associate with the note"
        }
      },
      "id": "RelatedUrl",
      "type": "object",
      "description": "Metadata for any related URL information"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsArtifactObjects": {
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsArtifactObjects",
      "description": "Files in the workspace to upload to Cloud Storage upon successful completion of all build steps.",
      "properties": {
        "timing": {
          "readOnly": true,
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan",
          "description": "Output only. Stores timing information for pushing all artifact objects."
        },
        "location": {
          "description": "Cloud Storage bucket and optional object path, in the form \"gs://bucket/path/to/somewhere/\". (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)). Files in the workspace matching any path pattern will be uploaded to Cloud Storage with this location as a prefix.",
          "type": "string"
        },
        "paths": {
          "items": {
            "type": "string"
          },
          "description": "Path globs used to match files in the build's workspace.",
          "type": "array"
        }
      }
    },
    "GetIamPolicyRequest": {
      "type": "object",
      "description": "Request message for `GetIamPolicy` method.",
      "id": "GetIamPolicyRequest",
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GetPolicyOptions"
        }
      }
    },
    "Discovery": {
      "properties": {
        "analysisKind": {
          "enum": [
            "KIND_UNSPECIFIED",
            "PACKAGE_VULNERABILITY",
            "BUILD_DETAILS",
            "IMAGE_BASIS",
            "PACKAGE_MANAGER",
            "DEPLOYABLE",
            "DISCOVERY",
            "ATTESTATION_AUTHORITY",
            "UPGRADE",
            "COMPLIANCE",
            "SBOM",
            "SPDX_PACKAGE",
            "SPDX_FILE",
            "SPDX_RELATIONSHIP",
            "DSSE_ATTESTATION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown",
            "The note and occurrence represent a package vulnerability.",
            "The note and occurrence assert build provenance.",
            "This represents an image basis relationship.",
            "This represents a package installed via a package manager.",
            "The note and occurrence track deployment events.",
            "The note and occurrence track the initial discovery status of a resource.",
            "This represents a logical \"role\" that can attest to artifacts.",
            "This represents an available software upgrade.",
            "This represents a compliance check that can be applied to a resource.",
            "This represents a software bill of materials.",
            "This represents an SPDX Package.",
            "This represents an SPDX File.",
            "This represents an SPDX Relationship.",
            "This represents a DSSE attestation Note"
          ],
          "description": "The kind of analysis that is handled by this discovery."
        }
      },
      "description": "A note that indicates a type of analysis a provider would perform. This note exists in a provider's project. A `Discovery` occurrence is created in a consumer's project at the start of analysis. The occurrence's operation will indicate the status of the analysis. Absence of an occurrence linked to this note for a resource indicates that analysis hasn't started.",
      "id": "Discovery",
      "type": "object"
    },
    "VulnerabilityLocation": {
      "type": "object",
      "id": "VulnerabilityLocation",
      "properties": {
        "package": {
          "type": "string",
          "description": "The package being described."
        },
        "fileLocation": {
          "items": {
            "$ref": "FileLocation"
          },
          "description": "The file location at which this package was found.",
          "type": "array"
        },
        "version": {
          "$ref": "Version",
          "description": "The version of the package being described. This field can be used as a filter in list requests."
        },
        "cpeUri": {
          "description": "The cpe_uri in [cpe format] (https://cpe.mitre.org/specification/) format. Examples include distro or storage location for vulnerable jar. This field can be used as a filter in list requests.",
          "type": "string"
        }
      },
      "description": "The location of the vulnerability"
    },
    "GetVulnzOccurrencesSummaryResponse": {
      "properties": {
        "counts": {
          "type": "array",
          "description": "A map of how many occurrences were found for each severity.",
          "items": {
            "$ref": "SeverityCount"
          }
        }
      },
      "description": "A summary of how many vulnz occurrences there are per severity type. counts by groups, or if we should have different summary messages like this.",
      "type": "object",
      "id": "GetVulnzOccurrencesSummaryResponse"
    },
    "GoogleDevtoolsContaineranalysisV1alpha1GitSourceContext": {
      "description": "A GitSourceContext denotes a particular revision in a third party Git repository (e.g., GitHub).",
      "type": "object",
      "properties": {
        "revisionId": {
          "description": "Required. Git commit hash.",
          "type": "string"
        },
        "url": {
          "description": "Git repository URL.",
          "type": "string"
        }
      },
      "id": "GoogleDevtoolsContaineranalysisV1alpha1GitSourceContext"
    },
    "Package": {
      "properties": {
        "cpeUri": {
          "type": "string",
          "description": "The cpe_uri in [CPE format](https://cpe.mitre.org/specification/) denoting the package manager version distributing a package. The cpe_uri will be blank for language packages."
        },
        "architecture": {
          "description": "The CPU architecture for which packages in this distribution channel were built. Architecture will be blank for language packages.",
          "type": "string",
          "enumDescriptions": [
            "Unknown architecture",
            "X86 architecture",
            "X64 architecture"
          ],
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X86",
            "X64"
          ]
        },
        "distribution": {
          "description": "The various channels by which a package is distributed.",
          "items": {
            "$ref": "Distribution"
          },
          "type": "array"
        },
        "digest": {
          "type": "array",
          "items": {
            "$ref": "Digest"
          },
          "description": "Hash value, typically a file digest, that allows unique identification a specific package."
        },
        "version": {
          "$ref": "Version",
          "description": "The version of the package."
        },
        "license": {
          "$ref": "License",
          "description": "Licenses that have been declared by the authors of the package."
        },
        "maintainer": {
          "type": "string",
          "description": "A freeform text denoting the maintainer of this package."
        },
        "packageType": {
          "description": "The type of package; whether native or non native (e.g., ruby gems, node.js packages, etc.).",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the package."
        },
        "url": {
          "type": "string",
          "description": "The homepage for this package."
        },
        "description": {
          "description": "The description of this package.",
          "type": "string"
        }
      },
      "description": "This represents a particular package that is distributed over various channels. e.g. glibc (aka libc6) is distributed by many, at various versions.",
      "type": "object",
      "id": "Package"
    },
    "GoogleDevtoolsContaineranalysisV1alpha1RepoId": {
      "properties": {
        "uid": {
          "description": "A server-assigned, globally unique identifier.",
          "type": "string"
        },
        "projectRepoId": {
          "description": "A combination of a project ID and a repo name.",
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1ProjectRepoId"
        }
      },
      "description": "A unique identifier for a Cloud Repo.",
      "type": "object",
      "id": "GoogleDevtoolsContaineranalysisV1alpha1RepoId"
    },
    "PackageInfoOccurrence": {
      "id": "PackageInfoOccurrence",
      "description": "PackageInfoOccurrence represents an SPDX Package Information section: https://spdx.github.io/spdx-spec/3-package-information/",
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "Output only. Identify the full name of the package as given by the Package Originator",
          "readOnly": true
        },
        "version": {
          "description": "Output only. Identify the version of the package",
          "type": "string",
          "readOnly": true
        },
        "filename": {
          "type": "string",
          "description": "Provide the actual file name of the package, or path of the directory being treated as a package"
        },
        "id": {
          "type": "string",
          "description": "Uniquely identify any element in an SPDX document which may be referenced by other elements"
        },
        "licenseConcluded": {
          "description": "package or alternative values, if the governing license cannot be determined",
          "$ref": "License"
        },
        "homePage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Provide a place for the SPDX file creator to record a web site that serves as the package's home page"
        },
        "summaryDescription": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A short description of the package"
        },
        "sourceInfo": {
          "type": "string",
          "description": "Provide a place for the SPDX file creator to record any relevant background information or additional comments about the origin of the package"
        },
        "comment": {
          "description": "A place for the SPDX file creator to record any general comments about the package being described",
          "type": "string"
        },
        "packageType": {
          "type": "string",
          "description": "Output only. The type of package: OS, MAVEN, GO, GO_STDLIB, etc.",
          "readOnly": true
        }
      }
    },
    "RelationshipOccurrence": {
      "description": "RelationshipOccurrence represents an SPDX Relationship section: https://spdx.github.io/spdx-spec/7-relationships-between-SPDX-elements/",
      "id": "RelationshipOccurrence",
      "properties": {
        "comment": {
          "description": "A place for the SPDX file creator to record any general comments about the relationship",
          "type": "string"
        },
        "type": {
          "description": "Output only. The type of relationship between the source and target SPDX elements",
          "enum": [
            "RELATIONSHIP_TYPE_UNSPECIFIED",
            "DESCRIBES",
            "DESCRIBED_BY",
            "CONTAINS",
            "CONTAINED_BY",
            "DEPENDS_ON",
            "DEPENDENCY_OF",
            "DEPENDENCY_MANIFEST_OF",
            "BUILD_DEPENDENCY_OF",
            "DEV_DEPENDENCY_OF",
            "OPTIONAL_DEPENDENCY_OF",
            "PROVIDED_DEPENDENCY_OF",
            "TEST_DEPENDENCY_OF",
            "RUNTIME_DEPENDENCY_OF",
            "EXAMPLE_OF",
            "GENERATES",
            "GENERATED_FROM",
            "ANCESTOR_OF",
            "DESCENDANT_OF",
            "VARIANT_OF",
            "DISTRIBUTION_ARTIFACT",
            "PATCH_FOR",
            "PATCH_APPLIED",
            "COPY_OF",
            "FILE_ADDED",
            "FILE_DELETED",
            "FILE_MODIFIED",
            "EXPANDED_FROM_ARCHIVE",
            "DYNAMIC_LINK",
            "STATIC_LINK",
            "DATA_FILE_OF",
            "TEST_CASE_OF",
            "BUILD_TOOL_OF",
            "DEV_TOOL_OF",
            "TEST_OF",
            "TEST_TOOL_OF",
            "DOCUMENTATION_OF",
            "OPTIONAL_COMPONENT_OF",
            "METAFILE_OF",
            "PACKAGE_OF",
            "AMENDS",
            "PREREQUISITE_FOR",
            "HAS_PREREQUISITE",
            "OTHER"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Is to be used when SPDXRef-DOCUMENT describes SPDXRef-A",
            "Is to be used when SPDXRef-A is described by SPDXREF-Document",
            "Is to be used when SPDXRef-A contains SPDXRef-B",
            "Is to be used when SPDXRef-A is contained by SPDXRef-B",
            "Is to be used when SPDXRef-A depends on SPDXRef-B",
            "Is to be used when SPDXRef-A is dependency of SPDXRef-B",
            "Is to be used when SPDXRef-A is a manifest file that lists a set of dependencies for SPDXRef-B",
            "Is to be used when SPDXRef-A is a build dependency of SPDXRef-B",
            "Is to be used when SPDXRef-A is a development dependency of SPDXRef-B",
            "Is to be used when SPDXRef-A is an optional dependency of SPDXRef-B",
            "Is to be used when SPDXRef-A is a to be provided dependency of SPDXRef-B",
            "Is to be used when SPDXRef-A is a test dependency of SPDXRef-B",
            "Is to be used when SPDXRef-A is a dependency required for the execution of SPDXRef-B",
            "Is to be used when SPDXRef-A is an example of SPDXRef-B",
            "Is to be used when SPDXRef-A generates SPDXRef-B",
            "Is to be used when SPDXRef-A was generated from SPDXRef-B",
            "Is to be used when SPDXRef-A is an ancestor (same lineage but pre-dates) SPDXRef-B",
            "Is to be used when SPDXRef-A is a descendant of (same lineage but postdates) SPDXRef-B",
            "Is to be used when SPDXRef-A is a variant of (same lineage but not clear which came first) SPDXRef-B",
            "Is to be used when distributing SPDXRef-A requires that SPDXRef-B also be distributed",
            "Is to be used when SPDXRef-A is a patch file for (to be applied to) SPDXRef-B",
            "Is to be used when SPDXRef-A is a patch file that has been applied to SPDXRef-B",
            "Is to be used when SPDXRef-A is an exact copy of SPDXRef-B",
            "Is to be used when SPDXRef-A is a file that was added to SPDXRef-B",
            "Is to be used when SPDXRef-A is a file that was deleted from SPDXRef-B",
            "Is to be used when SPDXRef-A is a file that was modified from SPDXRef-B",
            "Is to be used when SPDXRef-A is expanded from the archive SPDXRef-B",
            "Is to be used when SPDXRef-A dynamically links to SPDXRef-B",
            "Is to be used when SPDXRef-A statically links to SPDXRef-B",
            "Is to be used when SPDXRef-A is a data file used in SPDXRef-B",
            "Is to be used when SPDXRef-A is a test case used in testing SPDXRef-B",
            "Is to be used when SPDXRef-A is used to build SPDXRef-B",
            "Is to be used when SPDXRef-A is used as a development tool for SPDXRef-B",
            "Is to be used when SPDXRef-A is used for testing SPDXRef-B",
            "Is to be used when SPDXRef-A is used as a test tool for SPDXRef-B",
            "Is to be used when SPDXRef-A provides documentation of SPDXRef-B",
            "Is to be used when SPDXRef-A is an optional component of SPDXRef-B",
            "Is to be used when SPDXRef-A is a metafile of SPDXRef-B",
            "Is to be used when SPDXRef-A is used as a package as part of SPDXRef-B",
            "Is to be used when (current) SPDXRef-DOCUMENT amends the SPDX information in SPDXRef-B",
            "Is to be used when SPDXRef-A is a prerequisite for SPDXRef-B",
            "Is to be used when SPDXRef-A has as a prerequisite SPDXRef-B",
            "Is to be used for a relationship which has not been defined in the formal SPDX specification. A description of the relationship should be included in the Relationship comments field"
          ],
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "type": "string",
          "description": "Also referred to as SPDXRef-B The target SPDC element (file, package, etc) In cases where there are \"known unknowns\", the use of the keyword NOASSERTION can be used The keywords NONE can be used to indicate that an SPDX element (package/file/snippet) has no other elements connected by some relationship to it"
        },
        "source": {
          "description": "Also referred to as SPDXRef-A The source SPDX element (file, package, etc)",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ComplianceVersion": {
      "properties": {
        "benchmarkDocument": {
          "type": "string",
          "description": "The name of the document that defines this benchmark, e.g. \"CIS Container-Optimized OS\"."
        },
        "cpeUri": {
          "type": "string",
          "description": "The CPE URI (https://cpe.mitre.org/specification/) this benchmark is applicable to."
        },
        "version": {
          "description": "The version of the benchmark. This is set to the version of the OS-specific CIS document the benchmark is defined in.",
          "type": "string"
        }
      },
      "id": "ComplianceVersion",
      "type": "object",
      "description": "Describes the CIS benchmark version that is applicable to a given OS and os version."
    },
    "Resource": {
      "type": "object",
      "id": "Resource",
      "properties": {
        "contentHash": {
          "$ref": "Hash",
          "description": "The hash of the resource content. E.g., the Docker digest."
        },
        "uri": {
          "type": "string",
          "description": "The unique URI of the resource. E.g., \"https://gcr.io/project/image@sha256:foo\" for a Docker image."
        },
        "name": {
          "description": "The name of the resource. E.g., the name of a Docker image - \"Debian\".",
          "type": "string"
        }
      },
      "description": " Resource is an entity that can have metadata. E.g., a Docker image."
    },
    "FileOccurrence": {
      "properties": {
        "filesLicenseInfo": {
          "items": {
            "type": "string"
          },
          "description": "This field contains the license information actually found in the file, if any",
          "type": "array"
        },
        "id": {
          "description": "Uniquely identify any element in an SPDX document which may be referenced by other elements",
          "type": "string"
        },
        "licenseConcluded": {
          "description": "This field contains the license the SPDX file creator has concluded as governing the file or alternative values if the governing license cannot be determined",
          "$ref": "License"
        },
        "copyright": {
          "type": "string",
          "description": "Identify the copyright holder of the file, as well as any dates present"
        },
        "comment": {
          "description": "This field provides a place for the SPDX file creator to record any general comments about the file",
          "type": "string"
        },
        "contributors": {
          "description": "This field provides a place for the SPDX file creator to record file contributors",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "attributions": {
          "type": "array",
          "description": "This field provides a place for the SPDX data creator to record, at the file level, acknowledgements that may be needed to be communicated in some contexts",
          "items": {
            "type": "string"
          }
        },
        "notice": {
          "type": "string",
          "description": "This field provides a place for the SPDX file creator to record license notices or other such related notices found in the file"
        }
      },
      "type": "object",
      "description": "FileOccurrence represents an SPDX File Information section: https://spdx.github.io/spdx-spec/4-file-information/",
      "id": "FileOccurrence"
    },
    "CVSS": {
      "description": "Common Vulnerability Scoring System. This message is compatible with CVSS v2 and v3. For CVSS v2 details, see https://www.first.org/cvss/v2/guide CVSS v2 calculator: https://nvd.nist.gov/vuln-metrics/cvss/v2-calculator For CVSS v3 details, see https://www.first.org/cvss/specification-document CVSS v3 calculator: https://nvd.nist.gov/vuln-metrics/cvss/v3-calculator",
      "id": "CVSS",
      "properties": {
        "scope": {
          "type": "string",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ],
          "description": "Defined in CVSS v3",
          "enumDescriptions": [
            "Defined in CVSS v3",
            "Defined in CVSS v3",
            "Defined in CVSS v3"
          ]
        },
        "integrityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "enumDescriptions": [
            "Defined in CVSS v3, CVSS v2",
            "Defined in CVSS v3",
            "Defined in CVSS v3",
            "Defined in CVSS v3, CVSS v2",
            "Defined in CVSS v2",
            "Defined in CVSS v2"
          ],
          "type": "string",
          "description": "Defined in CVSS v3, CVSS v2"
        },
        "availabilityImpact": {
          "type": "string",
          "description": "Defined in CVSS v3, CVSS v2",
          "enumDescriptions": [
            "Defined in CVSS v3, CVSS v2",
            "Defined in CVSS v3",
            "Defined in CVSS v3",
            "Defined in CVSS v3, CVSS v2",
            "Defined in CVSS v2",
            "Defined in CVSS v2"
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ]
        },
        "impactScore": {
          "format": "float",
          "type": "number"
        },
        "baseScore": {
          "type": "number",
          "format": "float",
          "description": "The base score is a function of the base metric scores."
        },
        "exploitabilityScore": {
          "format": "float",
          "type": "number"
        },
        "authentication": {
          "type": "string",
          "description": "Defined in CVSS v2",
          "enumDescriptions": [
            "Defined in CVSS v2",
            "Defined in CVSS v2",
            "Defined in CVSS v2",
            "Defined in CVSS v2"
          ],
          "enum": [
            "AUTHENTICATION_UNSPECIFIED",
            "AUTHENTICATION_MULTIPLE",
            "AUTHENTICATION_SINGLE",
            "AUTHENTICATION_NONE"
          ]
        },
        "attackVector": {
          "description": "Base Metrics Represents the intrinsic characteristics of a vulnerability that are constant over time and across user environments. Defined in CVSS v3, CVSS v2",
          "enumDescriptions": [
            "Defined in CVSS v3, CVSS v2",
            "Defined in CVSS v3, CVSS v2",
            "Defined in CVSS v3, CVSS v2",
            "Defined in CVSS v3, CVSS v2",
            "Defined in CVSS v3"
          ],
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ],
          "type": "string"
        },
        "privilegesRequired": {
          "type": "string",
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ],
          "description": "Defined in CVSS v3",
          "enumDescriptions": [
            "Defined in CVSS v3",
            "Defined in CVSS v3",
            "Defined in CVSS v3",
            "Defined in CVSS v3"
          ]
        },
        "userInteraction": {
          "type": "string",
          "description": "Defined in CVSS v3",
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ],
          "enumDescriptions": [
            "Defined in CVSS v3",
            "Defined in CVSS v3",
            "Defined in CVSS v3"
          ]
        },
        "confidentialityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "description": "Defined in CVSS v3, CVSS v2",
          "type": "string",
          "enumDescriptions": [
            "Defined in CVSS v3, CVSS v2",
            "Defined in CVSS v3",
            "Defined in CVSS v3",
            "Defined in CVSS v3, CVSS v2",
            "Defined in CVSS v2",
            "Defined in CVSS v2"
          ]
        },
        "attackComplexity": {
          "enumDescriptions": [
            "Defined in CVSS v3, CVSS v2",
            "Defined in CVSS v3, CVSS v2",
            "Defined in CVSS v3, CVSS v2",
            "Defined in CVSS v2"
          ],
          "type": "string",
          "description": "Defined in CVSS v3, CVSS v2",
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH",
            "ATTACK_COMPLEXITY_MEDIUM"
          ]
        }
      },
      "type": "object"
    },
    "Subject": {
      "properties": {
        "name": {
          "type": "string",
          "description": "name is the name of the Subject used here"
        },
        "digest": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "\"\": \"\" Algorithms can be e.g. sha256, sha512 See https://github.com/in-toto/attestation/blob/main/spec/field_types.md#DigestSet"
        }
      },
      "type": "object",
      "description": "Subject refers to the subject of the intoto statement",
      "id": "Subject"
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "type": "object",
      "description": "Request message for `SetIamPolicy` method."
    },
    "Source": {
      "id": "Source",
      "properties": {
        "repoSource": {
          "description": "If provided, get source from this location in a Cloud Repo.",
          "$ref": "RepoSource"
        },
        "fileHashes": {
          "description": "Hash(es) of the build source, which can be used to verify that the original source integrity was maintained in the build. The keys to this map are file paths used as build source and the values contain the hash values for those files. If the build source came in a single package such as a gzipped tarfile (.tar.gz), the FileHash will be for the single path to that file.",
          "additionalProperties": {
            "$ref": "FileHashes"
          },
          "type": "object"
        },
        "storageSource": {
          "description": "If provided, get the source from this location in in Google Cloud Storage.",
          "$ref": "StorageSource"
        },
        "additionalContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleDevtoolsContaineranalysisV1alpha1SourceContext"
          },
          "description": "If provided, some of the source code used for the build may be found in these locations, in the case where the source repository had multiple remotes or submodules. This list will not include the context specified in the context field."
        },
        "context": {
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1SourceContext",
          "description": "If provided, the source code used for the build came from this location."
        },
        "artifactStorageSource": {
          "$ref": "StorageSource",
          "description": "If provided, the input binary artifacts for the build came from this location."
        }
      },
      "type": "object",
      "description": "Source describes the location of the source used for the build."
    },
    "ScanConfig": {
      "type": "object",
      "id": "ScanConfig",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. The time this scan config was created.",
          "format": "google-datetime"
        },
        "enabled": {
          "description": "Indicates whether the Scan is enabled.",
          "type": "boolean"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this scan config was last updated."
        },
        "name": {
          "type": "string",
[...]
