{
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://container.mtls.googleapis.com/",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Container",
  "ownerName": "Google",
  "batchPath": "batch",
  "rootUrl": "https://container.googleapis.com/",
  "version": "v1beta1",
  "servicePath": "",
  "ownerDomain": "google.com",
  "id": "container:v1beta1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud Platform data"
        }
      }
    }
  },
  "revision": "20210413",
  "description": "Builds and manages container-based applications, powered by the open source Kubernetes technology.",
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/container-engine/",
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    }
  },
  "fullyEncodeReservedExpansion": true,
  "name": "container",
  "baseUrl": "https://container.googleapis.com/",
  "basePath": "",
  "title": "Kubernetes Engine API",
  "version_module": true,
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "clusters": {
              "methods": {
                "setLogging": {
                  "path": "v1beta1/{+name}:setLogging",
                  "id": "container.projects.locations.clusters.setLogging",
                  "request": {
                    "$ref": "SetLoggingServiceRequest"
                  },
                  "description": "Sets the logging service for a specific cluster.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "The name (project, location, cluster) of the cluster to set logging. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                    }
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setLogging"
                },
                "setLegacyAbac": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setLegacyAbac",
                  "description": "Enables or disables the ABAC authorization mechanism on a cluster.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SetLegacyAbacRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/{+name}:setLegacyAbac",
                  "id": "container.projects.locations.clusters.setLegacyAbac",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster id) of the cluster to set legacy abac. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                    }
                  }
                },
                "startIpRotation": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:startIpRotation",
                  "request": {
                    "$ref": "StartIPRotationRequest"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "description": "The name (project, location, cluster id) of the cluster to start IP rotation. Specified in the format `projects/*/locations/*/clusters/*`."
                    }
                  },
                  "path": "v1beta1/{+name}:startIpRotation",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "container.projects.locations.clusters.startIpRotation",
                  "description": "Starts master IP rotation."
                },
                "setResourceLabels": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name (project, location, cluster id) of the cluster to set labels. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setResourceLabels",
                  "path": "v1beta1/{+name}:setResourceLabels",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "SetLabelsRequest"
                  },
                  "httpMethod": "POST",
                  "id": "container.projects.locations.clusters.setResourceLabels",
                  "description": "Sets labels on a cluster."
                },
                "setMasterAuth": {
                  "request": {
                    "$ref": "SetMasterAuthRequest"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The name (project, location, cluster) of the cluster to set auth. Specified in the format `projects/*/locations/*/clusters/*`."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Sets master auth materials. Currently supports changing the admin password or a specific cluster, either via password generation or explicitly setting the password.",
                  "path": "v1beta1/{+name}:setMasterAuth",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setMasterAuth",
                  "httpMethod": "POST",
                  "id": "container.projects.locations.clusters.setMasterAuth",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "updateMaster": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "description": "The name (project, location, cluster) of the cluster to update. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates the master for a specific cluster.",
                  "path": "v1beta1/{+name}:updateMaster",
                  "id": "container.projects.locations.clusters.updateMaster",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:updateMaster",
                  "request": {
                    "$ref": "UpdateMasterRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST"
                },
                "getJwks": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/jwks",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "container.projects.locations.clusters.getJwks",
                  "response": {
                    "$ref": "GetJSONWebKeysResponse"
                  },
                  "path": "v1beta1/{+parent}/jwks",
                  "description": "Gets the public component of the cluster signing keys in JSON Web Key format. This API is not yet intended for general use, and is not available for all clusters.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "The cluster (project, location, cluster id) to get keys for. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                    }
                  }
                },
                "setLocations": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Sets the locations for a specific cluster. Deprecated. Use [projects.locations.clusters.update](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1beta1/projects.locations.clusters/update) instead.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}:setLocations",
                  "id": "container.projects.locations.clusters.setLocations",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "required": true,
                      "description": "The name (project, location, cluster) of the cluster to set locations. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setLocations",
                  "request": {
                    "$ref": "SetLocationsRequest"
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+parent}/clusters",
                  "description": "Creates a cluster, consisting of the specified number and type of Google Compute Engine instances. By default, the cluster is created in the project's [default network](https://cloud.google.com/compute/docs/networks-and-firewalls#networks). One firewall is added for the cluster. After cluster creation, the Kubelet creates routes for each node to allow the containers on that node to communicate with all other instances in the cluster. Finally, an entry is added to the project's global metadata indicating which CIDR range the cluster is using.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CreateClusterRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The parent (project and location) where the cluster will be created. Specified in the format `projects/*/locations/*`.",
                      "location": "path"
                    }
                  },
                  "id": "container.projects.locations.clusters.create",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "Cluster"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the details for a specific cluster.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "container.projects.locations.clusters.get",
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "projectId": {
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "location": "query"
                    },
                    "clusterId": {
                      "type": "string",
                      "description": "Required. Deprecated. The name of the cluster to retrieve. This field has been deprecated and replaced by the name field.",
                      "location": "query"
                    },
                    "zone": {
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path",
                      "description": "The name (project, location, cluster) of the cluster to retrieve. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "type": "string"
                    }
                  }
                },
                "completeIpRotation": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Completes master IP rotation.",
                  "httpMethod": "POST",
                  "id": "container.projects.locations.clusters.completeIpRotation",
                  "request": {
                    "$ref": "CompleteIPRotationRequest"
                  },
                  "path": "v1beta1/{+name}:completeIpRotation",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The name (project, location, cluster id) of the cluster to complete IP rotation. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:completeIpRotation"
                },
                "setMonitoring": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setMonitoring",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}:setMonitoring",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "description": "The name (project, location, cluster) of the cluster to set monitoring. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "container.projects.locations.clusters.setMonitoring",
                  "request": {
                    "$ref": "SetMonitoringServiceRequest"
                  },
                  "description": "Sets the monitoring service for a specific cluster."
                },
                "update": {
                  "id": "container.projects.locations.clusters.update",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PUT",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "description": "Updates the settings for a specific cluster.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string",
                      "description": "The name (project, location, cluster) of the cluster to update. Specified in the format `projects/*/locations/*/clusters/*`."
                    }
                  },
                  "request": {
                    "$ref": "UpdateClusterRequest"
                  }
                },
                "delete": {
                  "parameters": {
                    "projectId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
                    },
                    "zone": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                    },
                    "clusterId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Deprecated. The name of the cluster to delete. This field has been deprecated and replaced by the name field."
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The name (project, location, cluster) of the cluster to delete. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "container.projects.locations.clusters.delete",
                  "description": "Deletes the cluster, including the Kubernetes endpoint and all worker nodes. Firewalls and routes that were configured during cluster creation are also deleted. Other Google Compute Engine resources that might be in use by the cluster, such as load balancer resources, are not deleted if they weren't present when the cluster was initially created.",
                  "httpMethod": "DELETE",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+name}"
                },
                "setMaintenancePolicy": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name (project, location, cluster id) of the cluster to set maintenance policy. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                    }
                  },
                  "path": "v1beta1/{+name}:setMaintenancePolicy",
                  "request": {
                    "$ref": "SetMaintenancePolicyRequest"
                  },
                  "id": "container.projects.locations.clusters.setMaintenancePolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "description": "Sets the maintenance policy for a cluster.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setMaintenancePolicy",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "setAddons": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setAddons",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name (project, location, cluster) of the cluster to set addons. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                    }
                  },
                  "description": "Sets the addons for a specific cluster.",
                  "path": "v1beta1/{+name}:setAddons",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "id": "container.projects.locations.clusters.setAddons",
                  "request": {
                    "$ref": "SetAddonsConfigRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "setNetworkPolicy": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name (project, location, cluster id) of the cluster to set networking policy. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Enables or disables Network Policy for a cluster.",
                  "id": "container.projects.locations.clusters.setNetworkPolicy",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setNetworkPolicy",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SetNetworkPolicyRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}:setNetworkPolicy"
                },
                "list": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "container.projects.locations.clusters.list",
                  "parameters": {
                    "projectId": {
                      "location": "query",
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the parent field.",
                      "type": "string"
                    },
                    "zone": {
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides, or \"-\" for all zones. This field has been deprecated and replaced by the parent field.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "The parent (project and location) where the clusters will be listed. Specified in the format `projects/*/locations/*`. Location \"-\" matches all zones and all regions.",
                      "location": "path"
                    }
                  },
                  "description": "Lists all clusters owned by a project in either the specified zone or all zones.",
                  "response": {
                    "$ref": "ListClustersResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v1beta1/{+parent}/clusters"
                }
              },
              "resources": {
                "nodePools": {
                  "methods": {
                    "update": {
                      "path": "v1beta1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PUT",
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "UpdateNodePoolRequest"
                      },
                      "description": "Updates the version and/or image type of a specific node pool.",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/nodePools/[^/]+$",
                          "description": "The name (project, location, cluster, node pool) of the node pool to update. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "id": "container.projects.locations.clusters.nodePools.update",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools/{nodePoolsId}"
                    },
                    "setSize": {
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools/{nodePoolsId}:setSize",
                      "request": {
                        "$ref": "SetNodePoolSizeRequest"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/nodePools/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "The name (project, location, cluster, node pool id) of the node pool to set size. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "container.projects.locations.clusters.nodePools.setSize",
                      "description": "SetNodePoolSizeRequest sets the size of a node pool. The new size will be used for all replicas, including future replicas created by modifying NodePool.locations.",
                      "path": "v1beta1/{+name}:setSize",
                      "httpMethod": "POST"
                    },
                    "setAutoscaling": {
                      "id": "container.projects.locations.clusters.nodePools.setAutoscaling",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools/{nodePoolsId}:setAutoscaling",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Sets the autoscaling settings of a specific node pool.",
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/nodePools/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "The name (project, location, cluster, node pool) of the node pool to set autoscaler settings. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "SetNodePoolAutoscalingRequest"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta1/{+name}:setAutoscaling"
                    },
                    "list": {
                      "path": "v1beta1/{+parent}/nodePools",
                      "description": "Lists the node pools for a cluster.",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools",
                      "parameters": {
                        "projectId": {
                          "location": "query",
                          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the parent field.",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                          "description": "The parent (project, location, cluster id) where the node pools will be listed. Specified in the format `projects/*/locations/*/clusters/*`.",
                          "required": true,
                          "location": "path"
                        },
                        "clusterId": {
                          "location": "query",
                          "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the parent field.",
                          "type": "string"
                        },
                        "zone": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the parent field."
                        }
                      },
                      "httpMethod": "GET",
                      "id": "container.projects.locations.clusters.nodePools.list",
                      "response": {
                        "$ref": "ListNodePoolsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "rollback": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "The name (project, location, cluster, node pool id) of the node poll to rollback upgrade. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/nodePools/[^/]+$",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "RollbackNodePoolUpgradeRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools/{nodePoolsId}:rollback",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Rolls back a previously Aborted or Failed NodePool upgrade. This makes no changes if the last upgrade successfully completed.",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "id": "container.projects.locations.clusters.nodePools.rollback",
                      "path": "v1beta1/{+name}:rollback"
                    },
                    "create": {
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "The parent (project, location, cluster id) where the node pool will be created. Specified in the format `projects/*/locations/*/clusters/*`."
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "CreateNodePoolRequest"
                      },
                      "description": "Creates a node pool for a cluster.",
                      "httpMethod": "POST",
                      "path": "v1beta1/{+parent}/nodePools",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "container.projects.locations.clusters.nodePools.create"
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools/{nodePoolsId}",
                      "path": "v1beta1/{+name}",
                      "description": "Deletes a node pool from a cluster.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "DELETE",
                      "id": "container.projects.locations.clusters.nodePools.delete",
                      "parameters": {
                        "projectId": {
                          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field.",
                          "location": "query",
                          "type": "string"
                        },
                        "zone": {
                          "type": "string",
                          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                          "location": "query"
                        },
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/nodePools/[^/]+$",
                          "type": "string",
                          "description": "The name (project, location, cluster, node pool id) of the node pool to delete. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
                          "location": "path"
                        },
                        "clusterId": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field."
                        },
                        "nodePoolId": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. Deprecated. The name of the node pool to delete. This field has been deprecated and replaced by the name field."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "setManagement": {
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "description": "The name (project, location, cluster, node pool id) of the node pool to set management properties. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/nodePools/[^/]+$",
                          "required": true
                        }
                      },
                      "description": "Sets the NodeManagement options for a node pool.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "container.projects.locations.clusters.nodePools.setManagement",
                      "request": {
                        "$ref": "SetNodePoolManagementRequest"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools/{nodePoolsId}:setManagement",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta1/{+name}:setManagement",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "NodePool"
                      },
                      "description": "Retrieves the requested node pool.",
                      "id": "container.projects.locations.clusters.nodePools.get",
                      "path": "v1beta1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools/{nodePoolsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "zone": {
                          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                          "location": "query",
                          "type": "string"
                        },
                        "clusterId": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field."
                        },
                        "nodePoolId": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. Deprecated. The name of the node pool. This field has been deprecated and replaced by the name field."
                        },
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/nodePools/[^/]+$",
                          "type": "string",
                          "description": "The name (project, location, cluster, node pool id) of the node pool to get. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
                          "location": "path"
                        },
                        "projectId": {
                          "type": "string",
                          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field.",
                          "location": "query"
                        }
                      }
                    }
                  }
                },
                "well-known": {
                  "methods": {
                    "getOpenid-configuration": {
                      "description": "Gets the OIDC discovery document for the cluster. See the [OpenID Connect Discovery 1.0 specification](https://openid.net/specs/openid-connect-discovery-1_0.html) for details. This API is not yet intended for general use, and is not available for all clusters.",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                          "type": "string",
                          "description": "The cluster (project, location, cluster id) to get the discovery document for. Specified in the format `projects/*/locations/*/clusters/*`.",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "GetOpenIDConfigResponse"
                      },
                      "id": "container.projects.locations.clusters.well-known.getOpenid-configuration",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta1/{+parent}/.well-known/openid-configuration",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/.well-known/openid-configuration"
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "cancel": {
                  "description": "Cancels the specified operation.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "The name (project, location, operation id) of the operation to cancel. Specified in the format `projects/*/locations/*/operations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "id": "container.projects.locations.operations.cancel",
                  "path": "v1beta1/{+name}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "id": "container.projects.locations.operations.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "The parent (project and location) where the operations will be listed. Specified in the format `projects/*/locations/*`. Location \"-\" matches all zones and all regions."
                    },
                    "projectId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the parent field."
                    },
                    "zone": {
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) to return operations for, or `-` for all zones. This field has been deprecated and replaced by the parent field.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Lists all operations in a project in the specified zone or all zones.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+parent}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations"
                },
                "get": {
                  "description": "Gets the specified operation.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "id": "container.projects.locations.operations.get",
                  "parameters": {
                    "projectId": {
                      "location": "query",
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "type": "string"
                    },
                    "operationId": {
                      "description": "Required. Deprecated. The server-assigned `name` of the operation. This field has been deprecated and replaced by the name field.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name (project, location, operation id) of the operation to get. Specified in the format `projects/*/locations/*/operations/*`.",
                      "location": "path",
                      "required": true
                    },
                    "zone": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                }
              }
            }
          },
          "methods": {
            "list": {
              "path": "v1beta1/{+parent}/locations",
              "flatPath": "v1beta1/projects/{projectsId}/locations",
              "parameterOrder": [
                "parent"
              ],
              "description": "Fetches locations that offer Google Kubernetes Engine.",
              "id": "container.projects.locations.list",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Contains the name of the resource requested. Specified in the format `projects/*`.",
                  "required": true
                }
              }
            },
            "getServerConfig": {
              "response": {
                "$ref": "ServerConfig"
              },
              "description": "Returns configuration info about the Google Kubernetes Engine service.",
              "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/serverConfig",
              "parameterOrder": [
                "name"
              ],
              "id": "container.projects.locations.getServerConfig",
              "httpMethod": "GET",
              "path": "v1beta1/{+name}/serverConfig",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "zone": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) to return operations for. This field has been deprecated and replaced by the name field."
                },
                "projectId": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
                },
                "name": {
                  "description": "The name (project and location) of the server config to get, specified in the format `projects/*/locations/*`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                }
              }
            }
          }
        },
        "zones": {
          "methods": {
            "getServerconfig": {
              "description": "Returns configuration info about the Google Kubernetes Engine service.",
              "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/serverconfig",
              "response": {
                "$ref": "ServerConfig"
              },
              "id": "container.projects.zones.getServerconfig",
              "parameters": {
                "projectId": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                  "location": "path"
                },
                "name": {
                  "description": "The name (project and location) of the server config to get, specified in the format `projects/*/locations/*`.",
                  "location": "query",
                  "type": "string"
                },
                "zone": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) to return operations for. This field has been deprecated and replaced by the name field.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/projects/{projectId}/zones/{zone}/serverconfig",
              "parameterOrder": [
                "projectId",
                "zone"
              ],
              "httpMethod": "GET"
            }
          },
          "resources": {
            "clusters": {
              "resources": {
                "nodePools": {
                  "methods": {
                    "rollback": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "RollbackNodePoolUpgradeRequest"
                      },
                      "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}:rollback",
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}:rollback",
                      "httpMethod": "POST",
                      "parameters": {
                        "clusterId": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. Deprecated. The name of the cluster to rollback. This field has been deprecated and replaced by the name field.",
                          "required": true
                        },
                        "nodePoolId": {
                          "type": "string",
                          "description": "Required. Deprecated. The name of the node pool to rollback. This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "required": true
                        },
                        "projectId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
                        },
                        "zone": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                        }
                      },
                      "id": "container.projects.zones.clusters.nodePools.rollback",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Rolls back a previously Aborted or Failed NodePool upgrade. This makes no changes if the last upgrade successfully completed."
                    },
                    "autoscaling": {
                      "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/autoscaling",
                      "request": {
                        "$ref": "SetNodePoolAutoscalingRequest"
                      },
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "parameters": {
                        "nodePoolId": {
                          "required": true,
                          "type": "string",
                          "description": "Required. Deprecated. The name of the node pool to upgrade. This field has been deprecated and replaced by the name field.",
                          "location": "path"
                        },
                        "zone": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                        },
                        "clusterId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
                        },
                        "projectId": {
                          "required": true,
                          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Sets the autoscaling settings of a specific node pool.",
                      "id": "container.projects.zones.clusters.nodePools.autoscaling",
                      "httpMethod": "POST",
                      "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/autoscaling",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "setSize": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "SetNodePoolSizeRequest sets the size of a node pool. The new size will be used for all replicas, including future replicas created by modifying NodePool.locations.",
                      "parameters": {
                        "clusterId": {
                          "required": true,
                          "type": "string",
                          "description": "Required. Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field.",
                          "location": "path"
                        },
                        "nodePoolId": {
                          "required": true,
                          "description": "Required. Deprecated. The name of the node pool to update. This field has been deprecated and replaced by the name field.",
                          "type": "string",
                          "location": "path"
                        },
                        "projectId": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                          "required": true
                        },
                        "zone": {
                          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "id": "container.projects.zones.clusters.nodePools.setSize",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "SetNodePoolSizeRequest"
                      },
                      "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/setSize",
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/setSize"
                    },
                    "list": {
                      "parameters": {
                        "projectId": {
                          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the parent field.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "parent": {
                          "location": "query",
                          "description": "The parent (project, location, cluster id) where the node pools will be listed. Specified in the format `projects/*/locations/*/clusters/*`.",
                          "type": "string"
                        },
                        "clusterId": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the parent field.",
                          "required": true
                        },
                        "zone": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the parent field."
                        }
                      },
                      "response": {
                        "$ref": "ListNodePoolsResponse"
                      },
                      "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId"
                      ],
                      "id": "container.projects.zones.clusters.nodePools.list",
                      "description": "Lists the node pools for a cluster.",
                      "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "setManagement": {
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/setManagement",
                      "description": "Sets the NodeManagement options for a node pool.",
                      "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/setManagement",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "zone": {
                          "type": "string",
                          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                          "required": true,
                          "location": "path"
                        },
                        "projectId": {
                          "type": "string",
                          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                          "required": true,
                          "location": "path"
                        },
                        "nodePoolId": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. Deprecated. The name of the node pool to update. This field has been deprecated and replaced by the name field."
                        },
                        "clusterId": {
                          "description": "Required. Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "SetNodePoolManagementRequest"
                      },
                      "id": "container.projects.zones.clusters.nodePools.setManagement"
                    },
                    "update": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "UpdateNodePoolRequest"
                      },
                      "description": "Updates the version and/or image type of a specific node pool.",
                      "httpMethod": "POST",
                      "id": "container.projects.zones.clusters.nodePools.update",
                      "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/update",
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "parameters": {
                        "nodePoolId": {
                          "type": "string",
                          "required": true,
                          "description": "Required. Deprecated. The name of the node pool to upgrade. This field has been deprecated and replaced by the name field.",
                          "location": "path"
                        },
                        "zone": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                        },
                        "projectId": {
                          "type": "string",
                          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                          "required": true,
                          "location": "path"
                        },
                        "clusterId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
                        }
                      },
                      "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/update",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}",
                      "response": {
                        "$ref": "NodePool"
                      },
                      "id": "container.projects.zones.clusters.nodePools.get",
                      "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}",
                      "description": "Retrieves the requested node pool.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "nodePoolId": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. Deprecated. The name of the node pool. This field has been deprecated and replaced by the name field."
                        },
                        "clusterId": {
                          "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "name": {
                          "location": "query",
                          "description": "The name (project, location, cluster, node pool id) of the node pool to get. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
                          "type": "string"
                        },
                        "projectId": {
                          "required": true,
                          "location": "path",
                          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field.",
                          "type": "string"
                        },
                        "zone": {
                          "type": "string",
                          "required": true,
                          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                          "location": "path"
                        }
                      }
                    },
                    "create": {
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId"
                      ],
                      "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools",
                      "description": "Creates a node pool for a cluster.",
                      "parameters": {
                        "projectId": {
                          "required": true,
                          "location": "path",
                          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the parent field.",
                          "type": "string"
                        },
                        "zone": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the parent field."
                        },
                        "clusterId": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the parent field.",
                          "required": true
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "CreateNodePoolRequest"
                      },
                      "id": "container.projects.zones.clusters.nodePools.create"
                    },
                    "delete": {
                      "id": "container.projects.zones.clusters.nodePools.delete",
                      "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}",
                      "parameters": {
                        "clusterId": {
                          "location": "path",
                          "required": true,
                          "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "description": "The name (project, location, cluster, node pool id) of the node pool to delete. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
                          "location": "query"
                        },
                        "nodePoolId": {
                          "type": "string",
                          "description": "Required. Deprecated. The name of the node pool to delete. This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "required": true
                        },
                        "projectId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field."
                        },
                        "zone": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                        }
                      },
                      "description": "Deletes a node pool from a cluster.",
                      "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}",
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE"
                    }
                  }
                }
              },
              "methods": {
                "logging": {
                  "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/logging",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "container.projects.zones.clusters.logging",
                  "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/logging",
                  "parameters": {
                    "zone": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                    },
                    "clusterId": {
                      "type": "string",
                      "required": true,
                      "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
                      "location": "path"
                    },
                    "projectId": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "type": "string"
                    }
                  },
                  "description": "Sets the logging service for a specific cluster.",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "SetLoggingServiceRequest"
                  },
                  "httpMethod": "POST"
                },
                "setMaintenancePolicy": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Sets the maintenance policy for a cluster.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setMaintenancePolicy",
                  "id": "container.projects.zones.clusters.setMaintenancePolicy",
                  "request": {
                    "$ref": "SetMaintenancePolicyRequest"
                  },
                  "parameters": {
                    "clusterId": {
                      "description": "Required. The name of the cluster to update.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "zone": {
                      "location": "path",
                      "description": "Required. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides.",
                      "type": "string",
                      "required": true
                    },
                    "projectId": {
                      "location": "path",
                      "description": "Required. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840).",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setMaintenancePolicy"
                },
                "monitoring": {
                  "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/monitoring",
                  "request": {
                    "$ref": "SetMonitoringServiceRequest"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/monitoring",
                  "description": "Sets the monitoring service for a specific cluster.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "container.projects.zones.clusters.monitoring",
                  "parameters": {
                    "zone": {
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "clusterId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
                    },
                    "projectId": {
                      "required": true,
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                  "id": "container.projects.zones.clusters.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Cluster"
                  },
                  "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "parameters": {
                    "zone": {
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "clusterId": {
                      "description": "Required. Deprecated. The name of the cluster to retrieve. This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "name": {
                      "description": "The name (project, location, cluster) of the cluster to retrieve. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "type": "string",
                      "location": "query"
                    },
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "location": "path"
                    }
                  },
                  "description": "Gets the details for a specific cluster."
                },
                "master": {
                  "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/master",
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
                    },
                    "clusterId": {
                      "required": true,
                      "location": "path",
                      "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
                      "type": "string"
                    },
                    "zone": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Updates the master for a specific cluster.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "UpdateMasterRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/master",
                  "id": "container.projects.zones.clusters.master",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ]
                },
                "update": {
                  "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                  "parameters": {
                    "zone": {
                      "required": true,
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "location": "path"
                    },
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
                    },
                    "clusterId": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "PUT",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "description": "Updates the settings for a specific cluster.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "container.projects.zones.clusters.update",
                  "request": {
                    "$ref": "UpdateClusterRequest"
                  },
                  "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}"
                },
                "completeIpRotation": {
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "httpMethod": "POST",
                  "description": "Completes master IP rotation.",
                  "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:completeIpRotation",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:completeIpRotation",
                  "parameters": {
                    "clusterId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field."
                    },
                    "zone": {
                      "type": "string",
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "required": true
                    },
                    "projectId": {
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field.",
                      "type": "string",
[...]
