{
  "discoveryVersion": "v1",
  "basePath": "",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "clusters": {
              "methods": {
                "setLegacyAbac": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Enables or disables the ABAC authorization mechanism on a cluster.",
                  "request": {
                    "$ref": "SetLegacyAbacRequest"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setLegacyAbac",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name (project, location, cluster id) of the cluster to set legacy abac. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "container.projects.locations.clusters.setLegacyAbac",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}:setLegacyAbac"
                },
                "updateMaster": {
                  "request": {
                    "$ref": "UpdateMasterRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name (project, location, cluster) of the cluster to update. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "container.projects.locations.clusters.updateMaster",
                  "description": "Updates the master for a specific cluster.",
                  "path": "v1beta1/{+name}:updateMaster",
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:updateMaster"
                },
                "setResourceLabels": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "container.projects.locations.clusters.setResourceLabels",
                  "description": "Sets labels on a cluster.",
                  "request": {
                    "$ref": "SetLabelsRequest"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setResourceLabels",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name (project, location, cluster id) of the cluster to set labels. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1beta1/{+name}:setResourceLabels",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes the cluster, including the Kubernetes endpoint and all worker nodes. Firewalls and routes that were configured during cluster creation are also deleted. Other Google Compute Engine resources that might be in use by the cluster, such as load balancer resources, are not deleted if they weren't present when the cluster was initially created.",
                  "parameters": {
                    "clusterId": {
                      "description": "Required. Deprecated. The name of the cluster to delete. This field has been deprecated and replaced by the name field.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The name (project, location, cluster) of the cluster to delete. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                    },
                    "projectId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
                    },
                    "zone": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "id": "container.projects.locations.clusters.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "httpMethod": "DELETE"
                },
                "setAddons": {
                  "description": "Sets the addons for a specific cluster.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "SetAddonsConfigRequest"
                  },
                  "path": "v1beta1/{+name}:setAddons",
                  "id": "container.projects.locations.clusters.setAddons",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name (project, location, cluster) of the cluster to set addons. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "required": true
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setAddons"
                },
                "startIpRotation": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:startIpRotation",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "container.projects.locations.clusters.startIpRotation",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "StartIPRotationRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts master IP rotation.",
                  "path": "v1beta1/{+name}:startIpRotation",
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster id) of the cluster to start IP rotation. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "required": true
                    }
                  }
                },
                "get": {
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "zone": {
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "location": "query",
                      "type": "string"
                    },
                    "projectId": {
                      "location": "query",
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "type": "string"
                    },
                    "clusterId": {
                      "description": "Required. Deprecated. The name of the cluster to retrieve. This field has been deprecated and replaced by the name field.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name (project, location, cluster) of the cluster to retrieve. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "id": "container.projects.locations.clusters.get",
                  "description": "Gets the details for a specific cluster.",
                  "response": {
                    "$ref": "Cluster"
                  }
                },
                "setMonitoring": {
                  "id": "container.projects.locations.clusters.setMonitoring",
                  "request": {
                    "$ref": "SetMonitoringServiceRequest"
                  },
                  "httpMethod": "POST",
                  "path": "v1beta1/{+name}:setMonitoring",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "The name (project, location, cluster) of the cluster to set monitoring. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setMonitoring",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Sets the monitoring service for a specific cluster.",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "setLogging": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "SetLoggingServiceRequest"
                  },
                  "httpMethod": "POST",
                  "id": "container.projects.locations.clusters.setLogging",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "description": "The name (project, location, cluster) of the cluster to set logging. Specified in the format `projects/*/locations/*/clusters/*`."
                    }
                  },
                  "description": "Sets the logging service for a specific cluster.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setLogging",
                  "path": "v1beta1/{+name}:setLogging",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "setLocations": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "container.projects.locations.clusters.setLocations",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setLocations",
                  "path": "v1beta1/{+name}:setLocations",
                  "request": {
                    "$ref": "SetLocationsRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Sets the locations for a specific cluster. Deprecated. Use [projects.locations.clusters.update](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1beta1/projects.locations.clusters/update) instead.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "The name (project, location, cluster) of the cluster to set locations. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST"
                },
                "update": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "container.projects.locations.clusters.update",
                  "httpMethod": "PUT",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster) of the cluster to update. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates the settings for a specific cluster.",
                  "request": {
                    "$ref": "UpdateClusterRequest"
                  }
                },
                "setMaintenancePolicy": {
                  "request": {
                    "$ref": "SetMaintenancePolicyRequest"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setMaintenancePolicy",
                  "id": "container.projects.locations.clusters.setMaintenancePolicy",
                  "description": "Sets the maintenance policy for a cluster.",
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster id) of the cluster to set maintenance policy. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                    }
                  },
                  "path": "v1beta1/{+name}:setMaintenancePolicy",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "completeIpRotation": {
                  "path": "v1beta1/{+name}:completeIpRotation",
                  "httpMethod": "POST",
                  "description": "Completes master IP rotation.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:completeIpRotation",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "container.projects.locations.clusters.completeIpRotation",
                  "request": {
                    "$ref": "CompleteIPRotationRequest"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster id) of the cluster to complete IP rotation. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path"
                    }
                  }
                },
                "setNetworkPolicy": {
                  "request": {
                    "$ref": "SetNetworkPolicyRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name (project, location, cluster id) of the cluster to set networking policy. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Enables or disables Network Policy for a cluster.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setNetworkPolicy",
                  "path": "v1beta1/{+name}:setNetworkPolicy",
                  "httpMethod": "POST",
                  "id": "container.projects.locations.clusters.setNetworkPolicy"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+parent}/clusters",
                  "parameters": {
                    "zone": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides, or \"-\" for all zones. This field has been deprecated and replaced by the parent field."
                    },
                    "projectId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the parent field."
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "The parent (project and location) where the clusters will be listed. Specified in the format `projects/*/locations/*`. Location \"-\" matches all zones and all regions.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "ListClustersResponse"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "id": "container.projects.locations.clusters.list",
                  "httpMethod": "GET",
                  "description": "Lists all clusters owned by a project in either the specified zone or all zones.",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "getJwks": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/jwks",
                  "response": {
                    "$ref": "GetJSONWebKeysResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The cluster (project, location, cluster id) to get keys for. Specified in the format `projects/*/locations/*/clusters/*`."
                    }
                  },
                  "id": "container.projects.locations.clusters.getJwks",
                  "description": "Gets the public component of the cluster signing keys in JSON Web Key format. This API is not yet intended for general use, and is not available for all clusters.",
                  "httpMethod": "GET",
                  "path": "v1beta1/{+parent}/jwks"
                },
                "create": {
                  "id": "container.projects.locations.clusters.create",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "path": "v1beta1/{+parent}/clusters",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "CreateClusterRequest"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The parent (project and location) where the cluster will be created. Specified in the format `projects/*/locations/*`."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a cluster, consisting of the specified number and type of Google Compute Engine instances. By default, the cluster is created in the project's [default network](https://cloud.google.com/compute/docs/networks-and-firewalls#networks). One firewall is added for the cluster. After cluster creation, the Kubelet creates routes for each node to allow the containers on that node to communicate with all other instances in the cluster. Finally, an entry is added to the project's global metadata indicating which CIDR range the cluster is using.",
                  "httpMethod": "POST"
                },
                "setMasterAuth": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setMasterAuth",
                  "path": "v1beta1/{+name}:setMasterAuth",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "container.projects.locations.clusters.setMasterAuth",
                  "description": "Sets master auth materials. Currently supports changing the admin password or a specific cluster, either via password generation or explicitly setting the password.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name (project, location, cluster) of the cluster to set auth. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "SetMasterAuthRequest"
                  }
                }
              },
              "resources": {
                "nodePools": {
                  "methods": {
                    "setAutoscaling": {
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/nodePools/[^/]+$",
                          "description": "The name (project, location, cluster, node pool) of the node pool to set autoscaler settings. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools/{nodePoolsId}:setAutoscaling",
                      "httpMethod": "POST",
                      "id": "container.projects.locations.clusters.nodePools.setAutoscaling",
                      "path": "v1beta1/{+name}:setAutoscaling",
                      "request": {
                        "$ref": "SetNodePoolAutoscalingRequest"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Sets the autoscaling settings of a specific node pool."
                    },
                    "setManagement": {
                      "request": {
                        "$ref": "SetNodePoolManagementRequest"
                      },
                      "path": "v1beta1/{+name}:setManagement",
                      "description": "Sets the NodeManagement options for a node pool.",
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/nodePools/[^/]+$",
                          "description": "The name (project, location, cluster, node pool id) of the node pool to set management properties. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "id": "container.projects.locations.clusters.nodePools.setManagement",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools/{nodePoolsId}:setManagement",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "update": {
                      "request": {
                        "$ref": "UpdateNodePoolRequest"
                      },
                      "description": "Updates the version and/or image type of a specific node pool.",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools/{nodePoolsId}",
                      "id": "container.projects.locations.clusters.nodePools.update",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/nodePools/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "The name (project, location, cluster, node pool) of the node pool to update. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`."
                        }
                      },
                      "path": "v1beta1/{+name}",
                      "httpMethod": "PUT",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "The parent (project, location, cluster id) where the node pool will be created. Specified in the format `projects/*/locations/*/clusters/*`.",
                          "required": true
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools",
                      "id": "container.projects.locations.clusters.nodePools.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "CreateNodePoolRequest"
                      },
                      "description": "Creates a node pool for a cluster.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "path": "v1beta1/{+parent}/nodePools"
                    },
                    "rollback": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST",
                      "description": "Rolls back a previously Aborted or Failed NodePool upgrade. This makes no changes if the last upgrade successfully completed.",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools/{nodePoolsId}:rollback",
                      "id": "container.projects.locations.clusters.nodePools.rollback",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "RollbackNodePoolUpgradeRequest"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "The name (project, location, cluster, node pool id) of the node poll to rollback upgrade. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/nodePools/[^/]+$",
                          "location": "path"
                        }
                      },
                      "path": "v1beta1/{+name}:rollback"
                    },
                    "setSize": {
                      "parameters": {
                        "name": {
                          "description": "The name (project, location, cluster, node pool id) of the node pool to set size. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/nodePools/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}:setSize",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools/{nodePoolsId}:setSize",
                      "request": {
                        "$ref": "SetNodePoolSizeRequest"
                      },
                      "id": "container.projects.locations.clusters.nodePools.setSize",
                      "description": "SetNodePoolSizeRequest sets the size of a node pool. The new size will be used for all replicas, including future replicas created by modifying NodePool.locations."
                    },
                    "delete": {
                      "id": "container.projects.locations.clusters.nodePools.delete",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools/{nodePoolsId}",
                      "httpMethod": "DELETE",
                      "description": "Deletes a node pool from a cluster.",
                      "parameters": {
                        "projectId": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field."
                        },
                        "zone": {
                          "location": "query",
                          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                          "type": "string"
                        },
                        "nodePoolId": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. Deprecated. The name of the node pool to delete. This field has been deprecated and replaced by the name field."
                        },
                        "clusterId": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field."
                        },
                        "name": {
                          "description": "The name (project, location, cluster, node pool id) of the node pool to delete. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/nodePools/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "path": "v1beta1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "list": {
                      "id": "container.projects.locations.clusters.nodePools.list",
                      "httpMethod": "GET",
                      "description": "Lists the node pools for a cluster.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListNodePoolsResponse"
                      },
                      "path": "v1beta1/{+parent}/nodePools",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "zone": {
                          "location": "query",
                          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the parent field.",
                          "type": "string"
                        },
                        "clusterId": {
                          "type": "string",
                          "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the parent field.",
                          "location": "query"
                        },
                        "projectId": {
                          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the parent field.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                          "required": true,
                          "description": "The parent (project, location, cluster id) where the node pools will be listed. Specified in the format `projects/*/locations/*/clusters/*`.",
                          "location": "path"
                        }
                      }
                    },
                    "get": {
                      "httpMethod": "GET",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools/{nodePoolsId}",
                      "response": {
                        "$ref": "NodePool"
                      },
                      "parameters": {
                        "clusterId": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field."
                        },
                        "name": {
                          "type": "string",
                          "required": true,
                          "description": "The name (project, location, cluster, node pool id) of the node pool to get. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/nodePools/[^/]+$",
                          "location": "path"
                        },
                        "projectId": {
                          "location": "query",
                          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field.",
                          "type": "string"
                        },
                        "zone": {
                          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                          "type": "string",
                          "location": "query"
                        },
                        "nodePoolId": {
                          "location": "query",
                          "description": "Required. Deprecated. The name of the node pool. This field has been deprecated and replaced by the name field.",
                          "type": "string"
                        }
                      },
                      "path": "v1beta1/{+name}",
                      "description": "Retrieves the requested node pool.",
                      "id": "container.projects.locations.clusters.nodePools.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                },
                "well-known": {
                  "methods": {
                    "getOpenid-configuration": {
                      "id": "container.projects.locations.clusters.well-known.getOpenid-configuration",
                      "description": "Gets the OIDC discovery document for the cluster. See the [OpenID Connect Discovery 1.0 specification](https://openid.net/specs/openid-connect-discovery-1_0.html) for details. This API is not yet intended for general use, and is not available for all clusters.",
                      "response": {
                        "$ref": "GetOpenIDConfigResponse"
                      },
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                          "type": "string",
                          "description": "The cluster (project, location, cluster id) to get the discovery document for. Specified in the format `projects/*/locations/*/clusters/*`.",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/.well-known/openid-configuration",
                      "path": "v1beta1/{+parent}/.well-known/openid-configuration",
                      "httpMethod": "GET"
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists all operations in a project in the specified zone or all zones.",
                  "path": "v1beta1/{+parent}/operations",
                  "parameters": {
                    "zone": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) to return operations for, or `-` for all zones. This field has been deprecated and replaced by the parent field."
                    },
                    "parent": {
                      "description": "The parent (project and location) where the operations will be listed. Specified in the format `projects/*/locations/*`. Location \"-\" matches all zones and all regions.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "projectId": {
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the parent field.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations",
                  "id": "container.projects.locations.operations.list"
                },
                "cancel": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "description": "Cancels the specified operation.",
                  "id": "container.projects.locations.operations.cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, operation id) of the operation to cancel. Specified in the format `projects/*/locations/*/operations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "path": "v1beta1/{+name}:cancel"
                },
                "get": {
                  "path": "v1beta1/{+name}",
                  "description": "Gets the specified operation.",
                  "parameters": {
                    "zone": {
                      "location": "query",
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string",
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "location": "query"
                    },
                    "operationId": {
                      "description": "Required. Deprecated. The server-assigned `name` of the operation. This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "description": "The name (project, location, operation id) of the operation to get. Specified in the format `projects/*/locations/*/operations/*`.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "container.projects.locations.operations.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                }
              }
            }
          },
          "methods": {
            "list": {
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "id": "container.projects.locations.list",
              "description": "Fetches locations that offer Google Kubernetes Engine.",
              "parameters": {
                "parent": {
                  "description": "Required. Contains the name of the resource requested. Specified in the format `projects/*`.",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "path": "v1beta1/{+parent}/locations",
              "parameterOrder": [
                "parent"
              ]
            },
            "getServerConfig": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}/serverConfig",
              "description": "Returns configuration info about the Google Kubernetes Engine service.",
              "response": {
                "$ref": "ServerConfig"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/serverConfig",
              "id": "container.projects.locations.getServerConfig",
              "parameters": {
                "zone": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) to return operations for. This field has been deprecated and replaced by the name field."
                },
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "description": "The name (project and location) of the server config to get, specified in the format `projects/*/locations/*`."
                },
                "projectId": {
                  "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                  "location": "query",
                  "type": "string"
                }
              }
            }
          }
        },
        "aggregated": {
          "resources": {
            "usableSubnetworks": {
              "methods": {
                "list": {
                  "description": "Lists subnetworks that can be used for creating clusters in a project.",
                  "path": "v1beta1/{+parent}/aggregated/usableSubnetworks",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListUsableSubnetworksResponse"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/aggregated/usableSubnetworks",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "container.projects.aggregated.usableSubnetworks.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Specifies a page token to use. Set this to the nextPageToken returned by previous list requests to get the next page of results.",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent project where subnetworks are usable. Specified in the format `projects/*`.",
                      "required": true,
                      "pattern": "^projects/[^/]+$",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Filtering currently only supports equality on the networkProjectId and must be in the form: \"networkProjectId=[PROJECTID]\", where `networkProjectId` is the project which owns the listed subnetworks. This defaults to the parent project ID.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The max number of results per page that should be returned. If the number of available results is larger than `page_size`, a `next_page_token` is returned which can be used to get the next page of results in subsequent requests. Acceptable values are 0 to 500, inclusive. (Default: 500)",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "zones": {
          "methods": {
            "getServerconfig": {
              "path": "v1beta1/projects/{projectId}/zones/{zone}/serverconfig",
              "description": "Returns configuration info about the Google Kubernetes Engine service.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "container.projects.zones.getServerconfig",
              "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/serverconfig",
              "response": {
                "$ref": "ServerConfig"
              },
              "parameters": {
                "zone": {
                  "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) to return operations for. This field has been deprecated and replaced by the name field.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "name": {
                  "description": "The name (project and location) of the server config to get, specified in the format `projects/*/locations/*`.",
                  "location": "query",
                  "type": "string"
                },
                "projectId": {
                  "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "projectId",
                "zone"
              ]
            }
          },
          "resources": {
            "clusters": {
              "resources": {
                "nodePools": {
                  "methods": {
                    "setSize": {
                      "id": "container.projects.zones.clusters.nodePools.setSize",
                      "parameters": {
                        "projectId": {
                          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "nodePoolId": {
                          "type": "string",
                          "required": true,
                          "description": "Required. Deprecated. The name of the node pool to update. This field has been deprecated and replaced by the name field.",
                          "location": "path"
                        },
                        "clusterId": {
                          "required": true,
                          "type": "string",
                          "description": "Required. Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field.",
                          "location": "path"
                        },
                        "zone": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                        }
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "description": "SetNodePoolSizeRequest sets the size of a node pool. The new size will be used for all replicas, including future replicas created by modifying NodePool.locations.",
                      "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/setSize",
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "SetNodePoolSizeRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/setSize"
                    },
                    "get": {
                      "id": "container.projects.zones.clusters.nodePools.get",
                      "response": {
                        "$ref": "NodePool"
                      },
                      "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}",
                      "httpMethod": "GET",
                      "parameters": {
                        "clusterId": {
                          "location": "path",
                          "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
                          "required": true,
                          "type": "string"
                        },
                        "projectId": {
                          "type": "string",
                          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "required": true
                        },
                        "zone": {
                          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "nodePoolId": {
                          "description": "Required. Deprecated. The name of the node pool. This field has been deprecated and replaced by the name field.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "name": {
                          "type": "string",
                          "location": "query",
                          "description": "The name (project, location, cluster, node pool id) of the node pool to get. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`."
                        }
                      },
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}",
                      "description": "Retrieves the requested node pool."
                    },
                    "delete": {
                      "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}",
                      "description": "Deletes a node pool from a cluster.",
                      "id": "container.projects.zones.clusters.nodePools.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "parameters": {
                        "name": {
                          "description": "The name (project, location, cluster, node pool id) of the node pool to delete. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
                          "location": "query",
                          "type": "string"
                        },
                        "clusterId": {
                          "required": true,
                          "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
                          "type": "string",
                          "location": "path"
                        },
                        "projectId": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field.",
                          "required": true
                        },
                        "nodePoolId": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. Deprecated. The name of the node pool to delete. This field has been deprecated and replaced by the name field.",
                          "required": true
                        },
                        "zone": {
                          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "httpMethod": "DELETE",
                      "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}"
                    },
                    "update": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/update",
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/update",
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "id": "container.projects.zones.clusters.nodePools.update",
                      "description": "Updates the version and/or image type of a specific node pool.",
                      "parameters": {
                        "projectId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
                        },
                        "zone": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                        },
                        "nodePoolId": {
                          "type": "string",
                          "description": "Required. Deprecated. The name of the node pool to upgrade. This field has been deprecated and replaced by the name field.",
                          "required": true,
                          "location": "path"
                        },
                        "clusterId": {
                          "required": true,
                          "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "UpdateNodePoolRequest"
                      }
                    },
                    "create": {
                      "id": "container.projects.zones.clusters.nodePools.create",
                      "request": {
                        "$ref": "CreateNodePoolRequest"
                      },
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId"
                      ],
                      "parameters": {
                        "zone": {
                          "required": true,
                          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the parent field.",
                          "type": "string",
                          "location": "path"
                        },
                        "clusterId": {
                          "required": true,
                          "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the parent field.",
                          "type": "string",
                          "location": "path"
                        },
                        "projectId": {
                          "type": "string",
                          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the parent field.",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a node pool for a cluster.",
                      "httpMethod": "POST",
                      "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools",
                      "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools"
                    },
                    "setManagement": {
                      "request": {
                        "$ref": "SetNodePoolManagementRequest"
                      },
                      "id": "container.projects.zones.clusters.nodePools.setManagement",
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "clusterId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field."
                        },
                        "nodePoolId": {
                          "required": true,
                          "location": "path",
                          "description": "Required. Deprecated. The name of the node pool to update. This field has been deprecated and replaced by the name field.",
                          "type": "string"
                        },
                        "zone": {
                          "location": "path",
                          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                          "type": "string",
                          "required": true
                        },
                        "projectId": {
                          "type": "string",
                          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/setManagement",
                      "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/setManagement",
                      "description": "Sets the NodeManagement options for a node pool.",
                      "httpMethod": "POST"
                    },
                    "list": {
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "container.projects.zones.clusters.nodePools.list",
                      "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools",
                      "parameters": {
                        "projectId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the parent field."
                        },
                        "zone": {
                          "location": "path",
                          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the parent field.",
                          "required": true,
                          "type": "string"
                        },
                        "clusterId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the parent field."
                        },
                        "parent": {
                          "type": "string",
                          "description": "The parent (project, location, cluster id) where the node pools will be listed. Specified in the format `projects/*/locations/*/clusters/*`.",
                          "location": "query"
                        }
                      },
                      "description": "Lists the node pools for a cluster.",
                      "response": {
                        "$ref": "ListNodePoolsResponse"
                      },
                      "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools",
                      "httpMethod": "GET"
                    },
                    "rollback": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Rolls back a previously Aborted or Failed NodePool upgrade. This makes no changes if the last upgrade successfully completed.",
                      "id": "container.projects.zones.clusters.nodePools.rollback",
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "request": {
                        "$ref": "RollbackNodePoolUpgradeRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "projectId": {
                          "required": true,
                          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                          "location": "path",
                          "type": "string"
                        },
                        "nodePoolId": {
                          "location": "path",
                          "description": "Required. Deprecated. The name of the node pool to rollback. This field has been deprecated and replaced by the name field.",
                          "required": true,
                          "type": "string"
                        },
                        "clusterId": {
                          "type": "string",
                          "required": true,
                          "description": "Required. Deprecated. The name of the cluster to rollback. This field has been deprecated and replaced by the name field.",
                          "location": "path"
                        },
                        "zone": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                          "required": true
                        }
                      },
                      "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}:rollback",
                      "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}:rollback",
                      "httpMethod": "POST"
                    },
                    "autoscaling": {
                      "id": "container.projects.zones.clusters.nodePools.autoscaling",
                      "description": "Sets the autoscaling settings of a specific node pool.",
                      "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/autoscaling",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "SetNodePoolAutoscalingRequest"
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "projectId",
                        "zone",
                        "clusterId",
                        "nodePoolId"
                      ],
                      "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/autoscaling",
                      "parameters": {
                        "nodePoolId": {
                          "required": true,
                          "type": "string",
                          "description": "Required. Deprecated. The name of the node pool to upgrade. This field has been deprecated and replaced by the name field.",
                          "location": "path"
                        },
                        "zone": {
                          "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "clusterId": {
                          "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "projectId": {
                          "required": true,
                          "type": "string",
                          "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                          "location": "path"
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "master": {
                  "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/master",
                  "id": "container.projects.zones.clusters.master",
                  "request": {
                    "$ref": "UpdateMasterRequest"
                  },
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "type": "string"
                    },
                    "zone": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                    },
                    "clusterId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates the master for a specific cluster.",
                  "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/master"
                },
                "create": {
                  "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "container.projects.zones.clusters.create",
                  "parameterOrder": [
                    "projectId",
                    "zone"
                  ],
                  "description": "Creates a cluster, consisting of the specified number and type of Google Compute Engine instances. By default, the cluster is created in the project's [default network](https://cloud.google.com/compute/docs/networks-and-firewalls#networks). One firewall is added for the cluster. After cluster creation, the Kubelet creates routes for each node to allow the containers on that node to communicate with all other instances in the cluster. Finally, an entry is added to the project's global metadata indicating which CIDR range the cluster is using.",
                  "request": {
                    "$ref": "CreateClusterRequest"
                  },
                  "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters",
                  "parameters": {
                    "zone": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the parent field."
                    },
                    "projectId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the parent field."
                    }
                  }
                },
                "completeIpRotation": {
                  "request": {
                    "$ref": "CompleteIPRotationRequest"
                  },
                  "parameters": {
                    "projectId": {
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "clusterId": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
                      "location": "path"
                    },
                    "zone": {
                      "type": "string",
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:completeIpRotation",
                  "id": "container.projects.zones.clusters.completeIpRotation",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "description": "Completes master IP rotation.",
                  "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:completeIpRotation"
                },
                "resourceLabels": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Sets labels on a cluster.",
                  "id": "container.projects.zones.clusters.resourceLabels",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field."
                    },
                    "clusterId": {
                      "description": "Required. Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "zone": {
                      "required": true,
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "SetLabelsRequest"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/resourceLabels",
                  "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/resourceLabels"
                },
                "logging": {
                  "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/logging",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "request": {
                    "$ref": "SetLoggingServiceRequest"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/logging",
                  "parameters": {
                    "clusterId": {
                      "type": "string",
                      "description": "Required. Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "required": true
                    },
                    "zone": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                    },
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Sets the logging service for a specific cluster.",
                  "id": "container.projects.zones.clusters.logging"
                },
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "zone": {
                      "type": "string",
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "required": true
                    },
                    "projectId": {
                      "required": true,
                      "location": "path",
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "type": "string"
                    },
                    "clusterId": {
                      "required": true,
                      "description": "Required. Deprecated. The name of the cluster to retrieve. This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name (project, location, cluster) of the cluster to retrieve. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "location": "query"
                    }
                  },
                  "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                  "description": "Gets the details for a specific cluster.",
                  "id": "container.projects.zones.clusters.get",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "response": {
                    "$ref": "Cluster"
                  },
                  "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}"
                },
                "legacyAbac": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Enables or disables the ABAC authorization mechanism on a cluster.",
                  "flatPath": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/legacyAbac",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/legacyAbac",
                  "id": "container.projects.zones.clusters.legacyAbac",
                  "request": {
                    "$ref": "SetLegacyAbacRequest"
                  },
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "location": "path",
                      "description": "Required. Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "type": "string"
                    },
                    "zone": {
                      "required": true,
                      "location": "path",
                      "description": "Required. Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "type": "string"
                    },
                    "clusterId": {
                      "required": true,
                      "location": "path",
                      "description": "Required. Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST"
                },
                "monitoring": {
                  "httpMethod": "POST",
[...]
