{
  "id": "containeranalysis:v1alpha1",
  "discoveryVersion": "v1",
  "title": "Container Analysis API",
  "ownerDomain": "google.com",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "canonicalName": "Container Analysis",
  "endpoints": [
    {
      "endpointUrl": "https://containeranalysis.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central2"
    }
  ],
  "baseUrl": "https://containeranalysis.googleapis.com/",
  "batchPath": "batch",
  "resources": {
    "providers": {
      "resources": {
        "notes": {
          "resources": {
            "occurrences": {
              "methods": {
                "list": {
                  "path": "v1alpha1/{+name}/occurrences",
                  "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}/occurrences",
                  "httpMethod": "GET",
                  "description": "Lists `Occurrences` referencing the specified `Note`. Use this method to get all occurrences referencing your `Note` across all your customer projects.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "containeranalysis.providers.notes.occurrences.list",
                  "response": {
                    "$ref": "ListNoteOccurrencesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "The filter expression.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Token to provide to skip to a particular spot in the list.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Number of notes to return in the list."
                    },
                    "name": {
                      "description": "The name field will contain the note name for example: \"provider/{provider_id}/notes/{note_id}\"",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^providers/[^/]+/notes/[^/]+$"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "create": {
              "parameters": {
                "noteId": {
                  "description": "The ID to use for this note.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "This field contains the project Id for example: \"projects/{project_id}",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "description": "The name of the project. Should be of the form \"providers/{provider_id}\". @Deprecated",
                  "required": true,
                  "pattern": "^providers/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "Note"
              },
              "id": "containeranalysis.providers.notes.create",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Note"
              },
              "flatPath": "v1alpha1/providers/{providersId}/notes",
              "description": "Creates a new `Note`.",
              "path": "v1alpha1/{+name}/notes",
              "httpMethod": "POST"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.providers.notes.delete",
              "httpMethod": "DELETE",
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "description": "The name of the note in the form of \"providers/{provider_id}/notes/{NOTE_ID}\"",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^providers/[^/]+/notes/[^/]+$"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes the given `Note` from the system.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}"
            },
            "get": {
              "path": "v1alpha1/{+name}",
              "id": "containeranalysis.providers.notes.get",
              "description": "Returns the requested `Note`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "The name of the note in the form of \"providers/{provider_id}/notes/{NOTE_ID}\"",
                  "location": "path",
                  "pattern": "^providers/[^/]+/notes/[^/]+$"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "Note"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}"
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha1/{+name}",
              "description": "Updates an existing `Note`.",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^providers/[^/]+/notes/[^/]+$",
                  "description": "The name of the note. Should be of the form \"projects/{provider_id}/notes/{note_id}\"."
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "The fields to update."
                }
              },
              "response": {
                "$ref": "Note"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "containeranalysis.providers.notes.patch",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Note"
              },
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}"
            },
            "setIamPolicy": {
              "response": {
                "$ref": "Policy"
              },
              "description": "Sets the access control policy on the specified `Note` or `Occurrence`. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a `Note` or an `Occurrence`, respectively. Attempting to call this method without these permissions will result in a ` `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has `containeranalysis.notes.list` permission on a `Note` or `containeranalysis.occurrences.list` on an `Occurrence`, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{projectid}/occurrences/{occurrenceid}` for occurrences and projects/{projectid}/notes/{noteid} for notes",
              "id": "containeranalysis.providers.notes.setIamPolicy",
              "path": "v1alpha1/{+resource}:setIamPolicy",
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "parameterOrder": [
                "resource"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}:setIamPolicy",
              "parameters": {
                "resource": {
                  "pattern": "^providers/[^/]+/notes/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path"
                }
              }
            },
            "getIamPolicy": {
              "parameterOrder": [
                "resource"
              ],
              "httpMethod": "POST",
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}:getIamPolicy",
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "resource": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "pattern": "^providers/[^/]+/notes/[^/]+$"
                }
              },
              "id": "containeranalysis.providers.notes.getIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "path": "v1alpha1/{+resource}:getIamPolicy",
              "description": "Gets the access control policy for a note or an `Occurrence` resource. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or occurrence, respectively. Attempting to call this method on a resource without the required permission will result in a `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for occurrences and projects/{PROJECT_ID}/notes/{NOTE_ID} for notes"
            },
            "list": {
              "id": "containeranalysis.providers.notes.list",
              "description": "Lists all `Notes` for a given project.",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}/notes",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha1/providers/{providersId}/notes",
              "parameters": {
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The filter expression."
                },
                "name": {
                  "pattern": "^providers/[^/]+$",
                  "location": "path",
                  "description": "The name field will contain the project Id for example: \"providers/{provider_id} @Deprecated",
                  "required": true,
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "description": "This field contains the project Id for example: \"projects/{PROJECT_ID}\".",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Token to provide to skip to a particular spot in the list."
                },
                "pageSize": {
                  "description": "Number of notes to return in the list.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ListNotesResponse"
              }
            },
            "testIamPermissions": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "description": "Returns the permissions that a caller has on the specified note or occurrence resource. Requires list permission on the project (for example, \"storage.objects.list\" on the containing bucket for testing permission of an object). Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for `Occurrences` and `projects/{PROJECT_ID}/notes/{NOTE_ID}` for `Notes`",
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}:testIamPermissions",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "path": "v1alpha1/{+resource}:testIamPermissions",
              "parameters": {
                "resource": {
                  "location": "path",
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "pattern": "^providers/[^/]+/notes/[^/]+$",
                  "type": "string"
                }
              },
              "id": "containeranalysis.providers.notes.testIamPermissions",
              "parameterOrder": [
                "resource"
              ],
              "request": {
                "$ref": "TestIamPermissionsRequest"
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "operations": {
          "methods": {
            "create": {
              "response": {
                "$ref": "Operation"
              },
              "description": "Creates a new `Operation`.",
              "flatPath": "v1alpha1/projects/{projectsId}/operations",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "The project Id that this operation should be created under."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha1/{+parent}/operations",
              "httpMethod": "POST",
              "id": "containeranalysis.projects.operations.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "CreateOperationRequest"
              }
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "request": {
                "$ref": "UpdateOperationRequest"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "description": "The name of the Operation. Should be of the form \"projects/{provider_id}/operations/{operation_id}\".",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/projects/{projectsId}/operations/{operationsId}",
              "id": "containeranalysis.projects.operations.patch",
              "description": "Updates an existing operation returns an error if operation does not exist. The only valid operations are to update mark the done bit change the result."
            }
          }
        },
        "occurrences": {
          "methods": {
            "create": {
              "path": "v1alpha1/{+parent}/occurrences",
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.projects.occurrences.create",
              "request": {
                "$ref": "Occurrence"
              },
              "description": "Creates a new `Occurrence`. Use this method to create `Occurrences` for a resource.",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "This field contains the project Id for example: \"projects/{project_id}\"",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                },
                "name": {
                  "description": "The name of the project. Should be of the form \"projects/{project_id}\". @Deprecated",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "Occurrence"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST"
            },
            "testIamPermissions": {
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}:testIamPermissions",
              "id": "containeranalysis.projects.occurrences.testIamPermissions",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v1alpha1/{+resource}:testIamPermissions",
              "httpMethod": "POST",
              "description": "Returns the permissions that a caller has on the specified note or occurrence resource. Requires list permission on the project (for example, \"storage.objects.list\" on the containing bucket for testing permission of an object). Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for `Occurrences` and `projects/{PROJECT_ID}/notes/{NOTE_ID}` for `Notes`",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "parameterOrder": [
                "resource"
              ]
            },
            "getNotes": {
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}/notes",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "The name of the occurrence in the form \"projects/{project_id}/occurrences/{OCCURRENCE_ID}\"",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Gets the `Note` attached to the given `Occurrence`.",
              "id": "containeranalysis.projects.occurrences.getNotes",
              "response": {
                "$ref": "Note"
              },
              "path": "v1alpha1/{+name}/notes",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "getVulnerabilitySummary": {
              "path": "v1alpha1/{+parent}/occurrences:vulnerabilitySummary",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GetVulnzOccurrencesSummaryResponse"
              },
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences:vulnerabilitySummary",
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "The filter expression.",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "This contains the project Id for example: projects/{project_id}",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "id": "containeranalysis.projects.occurrences.getVulnerabilitySummary",
              "description": "Gets a summary of the number and severity of occurrences."
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "type": "string",
                  "description": "The name of the occurrence in the form of \"projects/{project_id}/occurrences/{OCCURRENCE_ID}\"",
                  "location": "path"
                }
              },
              "description": "Deletes the given `Occurrence` from the system. Use this when an `Occurrence` is no longer applicable for the given resource.",
              "path": "v1alpha1/{+name}",
              "id": "containeranalysis.projects.occurrences.delete",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The name of the occurrence of the form \"projects/{project_id}/occurrences/{OCCURRENCE_ID}\"",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$"
                }
              },
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}",
              "id": "containeranalysis.projects.occurrences.get",
              "description": "Returns the requested `Occurrence`.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Occurrence"
              },
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "path": "v1alpha1/{+parent}/occurrences",
              "id": "containeranalysis.projects.occurrences.list",
              "httpMethod": "GET",
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists active `Occurrences` for a given project matching the filters.",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "Number of occurrences to return in the list.",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Token to provide to skip to a particular spot in the list.",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "description": "The name field contains the project Id. For example: \"projects/{project_id} @Deprecated",
                  "location": "query"
                },
                "kind": {
                  "enumDescriptions": [
                    "Unknown",
                    "The note and occurrence represent a package vulnerability.",
                    "The note and occurrence assert build provenance.",
                    "This represents an image basis relationship.",
                    "This represents a package installed via a package manager.",
                    "The note and occurrence track deployment events.",
                    "The note and occurrence track the initial discovery status of a resource.",
                    "This represents a logical \"role\" that can attest to artifacts.",
                    "This represents an available software upgrade.",
                    "This represents a compliance check that can be applied to a resource.",
                    "This represents a software bill of materials.",
                    "This represents an SPDX Package.",
                    "This represents an SPDX File.",
                    "This represents an SPDX Relationship.",
                    "This represents a DSSE attestation Note",
                    "This represents a Vulnerability Assessment.",
                    "This represents a reference to an SBOM."
                  ],
                  "description": "The kind of occurrences to filter on.",
                  "enum": [
                    "KIND_UNSPECIFIED",
                    "PACKAGE_VULNERABILITY",
                    "BUILD_DETAILS",
                    "IMAGE_BASIS",
                    "PACKAGE_MANAGER",
                    "DEPLOYABLE",
                    "DISCOVERY",
                    "ATTESTATION_AUTHORITY",
                    "UPGRADE",
                    "COMPLIANCE",
                    "SBOM",
                    "SPDX_PACKAGE",
                    "SPDX_FILE",
                    "SPDX_RELATIONSHIP",
                    "DSSE_ATTESTATION",
                    "VULNERABILITY_ASSESSMENT",
                    "SBOM_REFERENCE"
                  ],
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "This contains the project Id for example: projects/{project_id}.",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "The filter expression.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ListOccurrencesResponse"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "getIamPolicy": {
              "description": "Gets the access control policy for a note or an `Occurrence` resource. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or occurrence, respectively. Attempting to call this method on a resource without the required permission will result in a `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for occurrences and projects/{PROJECT_ID}/notes/{NOTE_ID} for notes",
              "path": "v1alpha1/{+resource}:getIamPolicy",
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}:getIamPolicy",
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "Policy"
              },
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "resource"
              ],
              "id": "containeranalysis.projects.occurrences.getIamPolicy"
            },
            "patch": {
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Occurrence"
              },
              "id": "containeranalysis.projects.occurrences.patch",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "The fields to update.",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The name of the occurrence. Should be of the form \"projects/{project_id}/occurrences/{OCCURRENCE_ID}\".",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$"
                }
              },
              "request": {
                "$ref": "Occurrence"
              },
              "httpMethod": "PATCH",
              "description": "Updates an existing occurrence.",
              "path": "v1alpha1/{+name}"
            },
            "setIamPolicy": {
              "path": "v1alpha1/{+resource}:setIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "id": "containeranalysis.projects.occurrences.setIamPolicy",
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}:setIamPolicy",
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Sets the access control policy on the specified `Note` or `Occurrence`. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a `Note` or an `Occurrence`, respectively. Attempting to call this method without these permissions will result in a ` `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has `containeranalysis.notes.list` permission on a `Note` or `containeranalysis.occurrences.list` on an `Occurrence`, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{projectid}/occurrences/{occurrenceid}` for occurrences and projects/{projectid}/notes/{noteid} for notes",
              "parameterOrder": [
                "resource"
              ]
            }
          }
        },
        "notes": {
          "resources": {
            "occurrences": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "containeranalysis.projects.notes.occurrences.list",
                  "path": "v1alpha1/{+name}/occurrences",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "The filter expression.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of notes to return in the list."
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/notes/[^/]+$",
                      "type": "string",
                      "description": "The name field will contain the note name for example: \"provider/{provider_id}/notes/{note_id}\""
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Token to provide to skip to a particular spot in the list.",
                      "type": "string"
                    }
                  },
                  "description": "Lists `Occurrences` referencing the specified `Note`. Use this method to get all occurrences referencing your `Note` across all your customer projects.",
                  "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}/occurrences",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListNoteOccurrencesResponse"
                  }
                }
              }
            }
          },
          "methods": {
            "create": {
              "path": "v1alpha1/{+parent}/notes",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/notes",
              "httpMethod": "POST",
              "request": {
                "$ref": "Note"
              },
              "description": "Creates a new `Note`.",
              "response": {
                "$ref": "Note"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "containeranalysis.projects.notes.create",
              "parameters": {
                "noteId": {
                  "location": "query",
                  "description": "The ID to use for this note.",
                  "type": "string"
                },
                "name": {
                  "location": "query",
                  "type": "string",
                  "description": "The name of the project. Should be of the form \"providers/{provider_id}\". @Deprecated"
                },
                "parent": {
                  "description": "This field contains the project Id for example: \"projects/{project_id}",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              }
            },
            "patch": {
              "response": {
                "$ref": "Note"
              },
              "description": "Updates an existing `Note`.",
              "request": {
                "$ref": "Note"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}",
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "type": "string",
                  "description": "The name of the note. Should be of the form \"projects/{provider_id}/notes/{note_id}\".",
                  "required": true,
                  "location": "path"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "The fields to update."
                }
              },
              "id": "containeranalysis.projects.notes.patch",
              "httpMethod": "PATCH"
            },
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The name of the note in the form of \"providers/{provider_id}/notes/{NOTE_ID}\"",
                  "pattern": "^projects/[^/]+/notes/[^/]+$"
                }
              },
              "description": "Returns the requested `Note`.",
              "response": {
                "$ref": "Note"
              },
              "id": "containeranalysis.projects.notes.get",
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            },
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageToken": {
                  "description": "Token to provide to skip to a particular spot in the list.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Number of notes to return in the list.",
                  "type": "integer"
                },
                "name": {
                  "location": "query",
                  "type": "string",
                  "description": "The name field will contain the project Id for example: \"providers/{provider_id} @Deprecated"
                },
                "parent": {
                  "description": "This field contains the project Id for example: \"projects/{PROJECT_ID}\".",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "filter": {
                  "description": "The filter expression.",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v1alpha1/projects/{projectsId}/notes",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha1/{+parent}/notes",
              "response": {
                "$ref": "ListNotesResponse"
              },
              "id": "containeranalysis.projects.notes.list",
              "description": "Lists all `Notes` for a given project."
            },
            "testIamPermissions": {
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}:testIamPermissions",
              "httpMethod": "POST",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "path": "v1alpha1/{+resource}:testIamPermissions",
              "id": "containeranalysis.projects.notes.testIamPermissions",
              "description": "Returns the permissions that a caller has on the specified note or occurrence resource. Requires list permission on the project (for example, \"storage.objects.list\" on the containing bucket for testing permission of an object). Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for `Occurrences` and `projects/{PROJECT_ID}/notes/{NOTE_ID}` for `Notes`",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "resource"
              ],
              "parameters": {
                "resource": {
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "required": true
                }
              },
              "request": {
                "$ref": "TestIamPermissionsRequest"
              }
            },
            "setIamPolicy": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha1/{+resource}:setIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "description": "Sets the access control policy on the specified `Note` or `Occurrence`. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a `Note` or an `Occurrence`, respectively. Attempting to call this method without these permissions will result in a ` `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has `containeranalysis.notes.list` permission on a `Note` or `containeranalysis.occurrences.list` on an `Occurrence`, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{projectid}/occurrences/{occurrenceid}` for occurrences and projects/{projectid}/notes/{noteid} for notes",
              "id": "containeranalysis.projects.notes.setIamPolicy",
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "httpMethod": "POST",
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}:setIamPolicy"
            },
            "delete": {
              "path": "v1alpha1/{+name}",
              "id": "containeranalysis.projects.notes.delete",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "The name of the note in the form of \"providers/{provider_id}/notes/{NOTE_ID}\"",
                  "type": "string"
                }
              },
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes the given `Note` from the system.",
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}",
              "response": {
                "$ref": "Empty"
              }
            },
            "getIamPolicy": {
              "httpMethod": "POST",
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "description": "Gets the access control policy for a note or an `Occurrence` resource. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or occurrence, respectively. Attempting to call this method on a resource without the required permission will result in a `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for occurrences and projects/{PROJECT_ID}/notes/{NOTE_ID} for notes",
              "id": "containeranalysis.projects.notes.getIamPolicy",
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}:getIamPolicy",
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "response": {
                "$ref": "Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha1/{+resource}:getIamPolicy"
            }
          }
        },
        "scanConfigs": {
          "methods": {
            "patch": {
              "id": "containeranalysis.projects.scanConfigs.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ScanConfig"
              },
              "httpMethod": "PATCH",
              "request": {
                "$ref": "ScanConfig"
              },
              "description": "Updates the scan configuration to a new value.",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "The fields to update."
                },
                "name": {
                  "type": "string",
                  "description": "The scan config to update of the form projects/{project_id}/scanConfigs/{scan_config_id}.",
                  "required": true,
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1alpha1/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}"
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of items to return."
                },
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "This containers the project Id i.e.: projects/{project_id}",
                  "required": true
                },
                "pageToken": {
                  "description": "The page token to use for the next request.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "description": "The filter expression.",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v1alpha1/projects/{projectsId}/scanConfigs",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists scan configurations for a project.",
              "path": "v1alpha1/{+parent}/scanConfigs",
              "response": {
                "$ref": "ListScanConfigsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "containeranalysis.projects.scanConfigs.list",
              "httpMethod": "GET"
            },
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "ScanConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "path": "v1alpha1/{+name}",
              "description": "Gets a specific scan configuration for a project.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the ScanConfig in the form projects/{project_id}/scanConfigs/{scan_config_id}",
                  "location": "path",
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "id": "containeranalysis.projects.scanConfigs.get"
            }
          }
        }
      }
    }
  },
  "version_module": true,
  "documentationLink": "https://cloud.google.com/container-analysis/api/reference/rest/",
  "name": "containeranalysis",
  "mtlsRootUrl": "https://containeranalysis.mtls.googleapis.com/",
  "revision": "20240614",
  "rootUrl": "https://containeranalysis.googleapis.com/",
  "basePath": "",
  "version": "v1alpha1",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "Deployable": {
      "type": "object",
      "description": "An artifact that can be deployed in some runtime.",
      "properties": {
        "resourceUri": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Resource URI for the artifact being deployed."
        }
      },
      "id": "Deployable"
    },
    "StorageSource": {
      "properties": {
        "generation": {
          "type": "string",
          "format": "int64",
          "description": "Google Cloud Storage generation for the object."
        },
        "object": {
          "type": "string",
          "description": "Google Cloud Storage object containing source."
        },
        "bucket": {
          "type": "string",
          "description": "Google Cloud Storage bucket containing source (see [Bucket Name Requirements] (https://cloud.google.com/storage/docs/bucket-naming#requirements))."
        }
      },
      "type": "object",
      "id": "StorageSource",
      "description": "StorageSource describes the location of the source in an archive file in Google Cloud Storage."
    },
    "Layer": {
      "id": "Layer",
      "properties": {
        "arguments": {
          "description": "The recovered arguments to the Dockerfile directive.",
          "type": "string"
        },
        "directive": {
          "description": "The recovered Dockerfile directive used to construct this layer.",
          "enumDescriptions": [
            "Default value for unsupported/missing directive",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/reference/builder/#copy",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/"
          ],
          "enum": [
            "DIRECTIVE_UNSPECIFIED",
            "MAINTAINER",
            "RUN",
            "CMD",
            "LABEL",
            "EXPOSE",
            "ENV",
            "ADD",
            "COPY",
            "ENTRYPOINT",
            "VOLUME",
            "USER",
            "WORKDIR",
            "ARG",
            "ONBUILD",
            "STOPSIGNAL",
            "HEALTHCHECK",
            "SHELL"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Layer holds metadata specific to a layer of a Docker image."
    },
    "GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaBuilder": {
      "id": "GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaBuilder",
      "type": "object",
      "properties": {
        "id": {
          "description": "URI indicating the builder’s identity.",
          "type": "string"
        }
      },
      "description": "Identifies the entity that executed the recipe, which is trusted to have correctly performed the operation and populated this provenance."
    },
    "BuilderConfig": {
      "id": "BuilderConfig",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1GitConfigHttpConfig": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1GitConfigHttpConfig",
      "properties": {
        "proxySslCaInfo": {
          "description": "Optional. Cloud Storage object storing the certificate to use with the HTTP proxy.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1GCSLocation"
        },
        "proxySecretVersionName": {
          "type": "string",
          "description": "SecretVersion resource of the HTTP proxy URL. The proxy URL should be in format protocol://@]proxyhost[:port]."
        }
      },
      "description": "HttpConfig is a configuration for HTTP related git operations.",
      "type": "object"
    },
    "DocumentNote": {
      "properties": {
        "spdxVersion": {
          "type": "string",
          "description": "Provide a reference number that can be used to understand how to parse and interpret the rest of the file"
        },
        "dataLicence": {
          "description": "Compliance with the SPDX specification includes populating the SPDX fields therein with data related to such fields (\"SPDX-Metadata\")",
          "type": "string"
        }
      },
      "id": "DocumentNote",
      "description": "DocumentNote represents an SPDX Document Creation Infromation section: https://spdx.github.io/spdx-spec/2-document-creation-information/",
      "type": "object"
    },
    "Resource": {
      "properties": {
        "uri": {
          "description": "The unique URI of the resource. E.g., \"https://gcr.io/project/image@sha256:foo\" for a Docker image.",
          "type": "string"
        },
        "contentHash": {
          "$ref": "Hash",
          "description": "The hash of the resource content. E.g., the Docker digest."
        },
        "name": {
          "type": "string",
          "description": "The name of the resource. E.g., the name of a Docker image - \"Debian\"."
        }
      },
      "id": "Resource",
      "type": "object",
      "description": " Resource is an entity that can have metadata. E.g., a Docker image."
    },
    "VexAssessment": {
      "description": "VexAssessment provides all publisher provided Vex information that is related to this vulnerability.",
      "properties": {
        "vulnerabilityId": {
          "type": "string",
          "description": "The vulnerability identifier for this Assessment. Will hold one of common identifiers e.g. CVE, GHSA etc."
        },
        "noteName": {
          "type": "string",
          "description": "The VulnerabilityAssessment note from which this VexAssessment was generated. This will be of the form: `projects/[PROJECT_ID]/notes/[NOTE_ID]`."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "AFFECTED",
            "NOT_AFFECTED",
            "FIXED",
            "UNDER_INVESTIGATION"
          ],
          "description": "Provides the state of this Vulnerability assessment.",
          "type": "string",
          "enumDescriptions": [
            "No state is specified.",
            "This product is known to be affected by this vulnerability.",
            "This product is known to be not affected by this vulnerability.",
            "This product contains a fix for this vulnerability.",
            "It is not known yet whether these versions are or are not affected by the vulnerability. However, it is still under investigation."
          ]
        },
        "impacts": {
          "description": "Contains information about the impact of this vulnerability, this will change with time.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "justification": {
          "$ref": "Justification",
          "description": "Justification provides the justification when the state of the assessment if NOT_AFFECTED."
        },
        "remediations": {
          "items": {
            "$ref": "Remediation"
          },
          "description": "Specifies details on how to handle (and presumably, fix) a vulnerability.",
          "type": "array"
        },
        "cve": {
          "type": "string",
          "description": "Holds the MITRE standard Common Vulnerabilities and Exposures (CVE) tracking number for the vulnerability."
        },
        "relatedUris": {
          "type": "array",
          "description": "Holds a list of references associated with this vulnerability item and assessment. These uris have additional information about the vulnerability and the assessment itself. E.g. Link to a document which details how this assessment concluded the state of this vulnerability.",
          "items": {
            "$ref": "URI"
          }
        }
      },
      "id": "VexAssessment",
      "type": "object"
    },
    "SlsaBuilder": {
      "properties": {
        "id": {
          "description": "id is the id of the slsa provenance builder",
          "type": "string"
        }
      },
      "type": "object",
      "description": "SlsaBuilder encapsulates the identity of the builder of this provenance.",
      "id": "SlsaBuilder"
    },
    "Product": {
      "type": "object",
      "id": "Product",
      "description": "Product contains information about a product and how to uniquely identify it.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the product."
        },
        "id": {
          "type": "string",
          "description": "Token that identifies a product so that it can be referred to from other parts in the document. There is no predefined format as long as it uniquely identifies a group in the context of the current document."
        },
        "identifierHelper": {
          "$ref": "IdentifierHelper",
          "description": "Helps in identifying the underlying product."
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsPythonPackage": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsPythonPackage",
      "properties": {
        "repository": {
          "type": "string",
          "description": "Artifact Registry repository, in the form \"https://$REGION-python.pkg.dev/$PROJECT/$REPOSITORY\" Files in the workspace matching any path pattern will be uploaded to Artifact Registry with this location as a prefix."
        },
        "paths": {
          "description": "Path globs used to match files in the build's workspace. For Python/ Twine, this is usually `dist/*`, and sometimes additionally an `.asc` file.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Python package to upload to Artifact Registry upon successful completion of all build steps. A package can encapsulate multiple objects to be uploaded to a single repository.",
      "type": "object"
    },
    "IdentifierHelper": {
      "description": "Helps in identifying the underlying product. This should be treated like a one-of field. Only one field should be set in this proto. This is a workaround because spanner indexes on one-of fields restrict addition and deletion of fields.",
      "id": "IdentifierHelper",
      "properties": {
        "genericUri": {
          "description": "Contains a URI which is vendor-specific. Example: The artifact repository URL of an image.",
          "type": "string"
        },
        "field": {
          "type": "string",
          "description": "The field that is set in the API proto.",
          "enumDescriptions": [
            "The helper isn't set.",
            "The generic_uri one-of field is set."
          ],
          "enum": [
            "IDENTIFIER_HELPER_FIELD_UNSPECIFIED",
            "GENERIC_URI"
          ]
        }
      },
      "type": "object"
    },
    "RunDetails": {
      "properties": {
        "metadata": {
          "$ref": "BuildMetadata"
        },
        "builder": {
          "$ref": "ProvenanceBuilder"
        },
        "byproducts": {
          "items": {
            "$ref": "ResourceDescriptor"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "RunDetails"
    },
    "Discovered": {
      "id": "Discovered",
      "type": "object",
      "properties": {
        "lastScanTime": {
          "type": "string",
          "description": "The last time this resource was scanned.",
          "format": "google-datetime"
        },
        "archiveTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time occurrences related to this discovery occurrence were archived."
        },
        "analysisError": {
          "type": "array",
          "items": {
            "$ref": "Status"
          },
          "description": "Indicates any errors encountered during analysis of a resource. There could be 0 or more of these errors."
        },
        "analysisCompleted": {
          "description": "The list of analysis that were completed for a resource.",
          "$ref": "AnalysisCompleted"
        },
        "continuousAnalysis": {
          "enum": [
            "CONTINUOUS_ANALYSIS_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "Unknown",
            "The resource is continuously analyzed.",
            "The resource is ignored for continuous analysis."
          ],
          "description": "Whether the resource is continuously analyzed.",
          "type": "string"
        },
        "analysisStatusError": {
          "description": "When an error is encountered this will contain a LocalizedMessage under details to show to the user. The LocalizedMessage output only and populated by the API.",
          "$ref": "Status"
        },
        "sbomStatus": {
          "description": "Output only. The status of an SBOM generation.",
          "$ref": "SBOMStatus",
          "readOnly": true
        },
        "operation": {
          "$ref": "Operation",
          "description": "Output only. An operation that indicates the status of the current scan. This field is deprecated, do not use."
        },
        "cpe": {
          "description": "The CPE of the resource being scanned.",
          "type": "string"
        },
        "analysisStatus": {
          "description": "The status of discovery for the resource.",
          "type": "string",
          "enumDescriptions": [
            "Unknown",
            "Resource is known but no action has been taken yet.",
            "Resource is being analyzed.",
            "Analysis has completed",
            "Analysis has finished successfully.",
            "Analysis has finished unsuccessfully, the analysis itself is in a bad state.",
            "The resource is known not to be supported."
          ],
          "enum": [
            "ANALYSIS_STATUS_UNSPECIFIED",
            "PENDING",
            "SCANNING",
            "COMPLETE",
            "FINISHED_SUCCESS",
            "FINISHED_FAILED",
            "FINISHED_UNSUPPORTED"
          ]
        }
      },
      "description": "Provides information about the scan status of a discovered resource."
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1SourceProvenance": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1SourceProvenance",
      "description": "Provenance of the source. Ways to find the original source, or verify that some source was used for this build.",
      "properties": {
        "resolvedStorageSourceManifest": {
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSourceManifest",
          "description": "A copy of the build's `source.storage_source_manifest`, if exists, with any revisions resolved. This feature is in Preview."
        },
        "fileHashes": {
          "additionalProperties": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1FileHashes"
          },
          "readOnly": true,
          "type": "object",
          "description": "Output only. Hash(es) of the build source, which can be used to verify that the original source integrity was maintained in the build. Note that `FileHashes` will only be populated if `BuildOptions` has requested a `SourceProvenanceHash`. The keys to this map are file paths used as build source and the values contain the hash values for those files. If the build source came in a single package such as a gzipped tarfile (`.tar.gz`), the `FileHash` will be for the single path to that file."
        },
        "resolvedConnectedRepository": {
          "description": "Output only. A copy of the build's `source.connected_repository`, if exists, with any revisions resolved.",
          "readOnly": true,
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1ConnectedRepository"
        },
        "resolvedRepoSource": {
          "description": "A copy of the build's `source.repo_source`, if exists, with any revisions resolved.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1RepoSource"
        },
        "resolvedGitSource": {
          "readOnly": true,
          "description": "Output only. A copy of the build's `source.git_source`, if exists, with any revisions resolved.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1GitSource"
        },
        "resolvedStorageSource": {
          "description": "A copy of the build's `source.storage_source`, if exists, with any generations resolved.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSource"
        }
      },
      "type": "object"
    },
    "Volume": {
      "description": "Volume describes a Docker container volume which is mounted into build steps in order to persist files across build step execution. Next ID: 3",
      "id": "Volume",
      "properties": {
        "name": {
          "description": "Name of the volume to mount. Volume names must be unique per build step and must be valid names for Docker volumes. Each named volume must be used by at least two build steps.",
          "type": "string"
        },
        "path": {
          "description": "Path at which to mount the volume. Paths must be absolute and cannot conflict with other volume paths on the same build step or with certain reserved volume paths.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Digest": {
      "description": "Digest information.",
      "type": "object",
      "id": "Digest",
      "properties": {
        "digestBytes": {
          "type": "string",
          "description": "Value of the digest.",
          "format": "byte"
        },
        "algo": {
          "description": "`SHA1`, `SHA512` etc.",
          "type": "string"
        }
      }
    },
    "Fingerprint": {
      "description": "A set of properties that uniquely identify a given Docker image.",
      "id": "Fingerprint",
      "type": "object",
      "properties": {
        "v2Name": {
          "type": "string",
          "description": "Output only. The name of the image's v2 blobs computed via: [bottom] := v2_blobbottom := sha256(v2_blob[N] + \" \" + v2_name[N+1]) Only the name of the final blob is kept. This field can be used as a filter in list requests."
        },
        "v2Blob": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The ordered list of v2 blobs that represent a given image."
        },
        "v1Name": {
          "description": "The layer-id of the final layer in the Docker image's v1 representation. This field can be used as a filter in list requests.",
          "type": "string"
        }
      }
    },
    "RepoSource": {
      "deprecated": true,
      "description": "RepoSource describes the location of the source in a Google Cloud Source Repository.",
      "id": "RepoSource",
      "type": "object",
      "properties": {
        "repoName": {
          "type": "string",
          "description": "Name of the repo."
        },
        "projectId": {
          "type": "string",
          "description": "ID of the project that owns the repo."
        },
        "tagName": {
          "description": "Name of the tag to build.",
          "type": "string"
        },
        "branchName": {
          "description": "Name of the branch to build.",
          "type": "string"
        },
        "commitSha": {
          "description": "Explicit commit SHA to build.",
          "type": "string"
        }
      }
    },
    "AnalysisCompleted": {
      "type": "object",
      "description": "Indicates which analysis completed successfully. Multiple types of analysis can be performed on a single resource.",
      "id": "AnalysisCompleted",
      "properties": {
        "analysisType": {
          "items": {
            "type": "string"
          },
          "description": "type of analysis that were completed on a resource.",
          "type": "array"
        }
      }
    },
    "GetVulnzOccurrencesSummaryResponse": {
      "description": "A summary of how many vulnz occurrences there are per severity type. counts by groups, or if we should have different summary messages like this.",
      "properties": {
        "counts": {
          "type": "array",
          "description": "A map of how many occurrences were found for each severity.",
          "items": {
            "$ref": "SeverityCount"
          }
        }
      },
      "id": "GetVulnzOccurrencesSummaryResponse",
      "type": "object"
    },
    "Assessment": {
      "type": "object",
      "properties": {
        "impacts": {
          "description": "Contains information about the impact of this vulnerability, this will change with time.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "vulnerabilityId": {
          "type": "string",
          "description": "The vulnerability identifier for this Assessment. Will hold one of common identifiers e.g. CVE, GHSA etc."
        },
        "longDescription": {
          "type": "string",
          "description": "A detailed description of this Vex."
        },
        "justification": {
          "description": "Justification provides the justification when the state of the assessment if NOT_AFFECTED.",
          "$ref": "Justification"
        },
        "relatedUris": {
          "description": "Holds a list of references associated with this vulnerability item and assessment. These uris have additional information about the vulnerability and the assessment itself. E.g. Link to a document which details how this assessment concluded the state of this vulnerability.",
          "type": "array",
          "items": {
            "$ref": "URI"
          }
        },
        "state": {
          "description": "Provides the state of this Vulnerability assessment.",
          "enum": [
            "STATE_UNSPECIFIED",
            "AFFECTED",
            "NOT_AFFECTED",
            "FIXED",
            "UNDER_INVESTIGATION"
          ],
          "type": "string",
          "enumDescriptions": [
            "No state is specified.",
            "This product is known to be affected by this vulnerability.",
            "This product is known to be not affected by this vulnerability.",
            "This product contains a fix for this vulnerability.",
            "It is not known yet whether these versions are or are not affected by the vulnerability. However, it is still under investigation."
          ]
        },
        "remediations": {
          "items": {
            "$ref": "Remediation"
          },
          "description": "Specifies details on how to handle (and presumably, fix) a vulnerability.",
          "type": "array"
        },
        "cve": {
          "type": "string",
          "description": "Holds the MITRE standard Common Vulnerabilities and Exposures (CVE) tracking number for the vulnerability."
        },
        "shortDescription": {
          "description": "A one sentence description of this Vex.",
          "type": "string"
        }
      },
      "id": "Assessment",
      "description": "Assessment provides all information that is related to a single vulnerability for this product."
    },
    "ResourceDescriptor": {
      "properties": {
        "uri": {
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "content": {
          "format": "byte",
          "type": "string"
        },
        "downloadLocation": {
          "type": "string"
        },
        "digest": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "mediaType": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "ResourceDescriptor"
    },
    "GoogleDevtoolsContaineranalysisV1alpha1AliasContext": {
      "id": "GoogleDevtoolsContaineranalysisV1alpha1AliasContext",
      "properties": {
        "name": {
          "type": "string",
          "description": "The alias name."
        },
        "kind": {
          "enum": [
            "KIND_UNSPECIFIED",
            "FIXED",
            "MOVABLE",
            "OTHER"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Git tag.",
            "Git branch.",
            "Used to specify non-standard aliases. For example, if a Git repo has a ref named \"refs/foo/bar\"."
          ],
          "type": "string",
          "description": "The alias kind."
        }
      },
      "type": "object",
      "description": "An alias to a repo revision."
    },
    "GetIamPolicyRequest": {
      "description": "Request message for `GetIamPolicy` method.",
      "type": "object",
      "id": "GetIamPolicyRequest",
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GetPolicyOptions"
        }
      }
    },
    "Basis": {
      "description": "Basis describes the base image portion (Note) of the DockerImage relationship. Linked occurrences are derived from this or an equivalent image via: FROM Or an equivalent reference, e.g. a tag of the resource_url.",
      "properties": {
        "fingerprint": {
          "$ref": "Fingerprint",
          "description": "The fingerprint of the base image."
        },
        "resourceUrl": {
          "description": "The resource_url for the resource representing the basis of associated occurrence images.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Basis"
    },
    "Occurrence": {
      "description": "`Occurrence` includes information about analysis occurrences for an image.",
      "id": "Occurrence",
      "properties": {
        "derivedImage": {
          "$ref": "Derived",
          "description": "Describes how this resource derives from the basis in the associated note."
        },
        "resourceUrl": {
          "description": "The unique URL of the image or the container for which the `Occurrence` applies. For example, https://gcr.io/project/image@sha256:foo This field can be used as a filter in list requests.",
          "type": "string"
        },
        "kind": {
          "enum": [
            "KIND_UNSPECIFIED",
            "PACKAGE_VULNERABILITY",
            "BUILD_DETAILS",
            "IMAGE_BASIS",
            "PACKAGE_MANAGER",
            "DEPLOYABLE",
            "DISCOVERY",
            "ATTESTATION_AUTHORITY",
            "UPGRADE",
            "COMPLIANCE",
            "SBOM",
            "SPDX_PACKAGE",
            "SPDX_FILE",
            "SPDX_RELATIONSHIP",
            "DSSE_ATTESTATION",
            "VULNERABILITY_ASSESSMENT",
            "SBOM_REFERENCE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown",
            "The note and occurrence represent a package vulnerability.",
            "The note and occurrence assert build provenance.",
            "This represents an image basis relationship.",
            "This represents a package installed via a package manager.",
            "The note and occurrence track deployment events.",
            "The note and occurrence track the initial discovery status of a resource.",
            "This represents a logical \"role\" that can attest to artifacts.",
            "This represents an available software upgrade.",
            "This represents a compliance check that can be applied to a resource.",
            "This represents a software bill of materials.",
            "This represents an SPDX Package.",
            "This represents an SPDX File.",
            "This represents an SPDX Relationship.",
            "This represents a DSSE attestation Note",
            "This represents a Vulnerability Assessment.",
            "This represents a reference to an SBOM."
          ],
          "description": "Output only. This explicitly denotes which of the `Occurrence` details are specified. This field can be used as a filter in list requests."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this `Occurrence` was last updated."
        },
        "compliance": {
          "$ref": "ComplianceOccurrence",
          "description": "Describes whether or not a resource passes compliance checks."
        },
        "sbomReference": {
          "description": "This represents an SBOM reference occurrence",
          "$ref": "SBOMReferenceOccurrence"
        },
        "deployment": {
          "description": "Describes the deployment of an artifact on a runtime.",
          "$ref": "Deployment"
        },
        "attestation": {
          "$ref": "Attestation",
          "description": "Describes an attestation of an artifact."
        },
        "remediation": {
          "type": "string",
          "description": "A description of actions that can be taken to remedy the `Note`"
        },
        "resource": {
          "description": " The resource for which the `Occurrence` applies.",
          "$ref": "Resource"
        },
        "dsseAttestation": {
          "description": "This represents a DSSE attestation occurrence",
          "$ref": "DSSEAttestationOccurrence"
        },
        "spdxPackage": {
          "$ref": "PackageInfoOccurrence",
          "description": "Describes a specific SPDX Package."
        },
        "buildDetails": {
          "description": "Build details for a verifiable build.",
          "$ref": "BuildDetails"
        },
        "envelope": {
          "description": "https://github.com/secure-systems-lab/dsse",
          "$ref": "Envelope"
        },
        "noteName": {
          "type": "string",
          "description": "An analysis note associated with this image, in the form \"providers/{provider_id}/notes/{NOTE_ID}\" This field can be used as a filter in list requests."
        },
        "upgrade": {
          "description": "Describes an upgrade.",
          "$ref": "UpgradeOccurrence"
        },
        "spdxRelationship": {
          "description": "Describes a specific relationship between SPDX elements.",
          "$ref": "RelationshipOccurrence"
        },
        "spdxFile": {
          "$ref": "FileOccurrence",
          "description": "Describes a specific SPDX File."
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the `Occurrence` in the form \"projects/{project_id}/occurrences/{OCCURRENCE_ID}\""
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this `Occurrence` was created."
        },
        "installation": {
          "description": "Describes the installation of a package on the linked resource.",
          "$ref": "Installation"
        },
        "vulnerabilityDetails": {
          "description": "Details of a security vulnerability note.",
          "$ref": "VulnerabilityDetails"
        },
        "discovered": {
          "description": "Describes the initial scan status for this resource.",
          "$ref": "Discovered"
        },
        "sbom": {
          "$ref": "DocumentOccurrence",
          "description": "Describes a specific software bill of materials document."
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsContaineranalysisV1alpha1GerritSourceContext": {
      "type": "object",
      "properties": {
        "aliasContext": {
          "description": "An alias, which may be a branch or tag.",
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1AliasContext"
        },
        "hostUri": {
          "type": "string",
          "description": "The URI of a running Gerrit instance."
        },
        "revisionId": {
          "type": "string",
          "description": "A revision (commit) ID."
        },
        "gerritProject": {
          "description": "The full project name within the host. Projects may be nested, so \"project/subproject\" is a valid project name. The \"repo name\" is the hostURI/project.",
          "type": "string"
        }
      },
      "description": "A SourceContext referring to a Gerrit project.",
      "id": "GoogleDevtoolsContaineranalysisV1alpha1GerritSourceContext"
    },
    "PackageIssue": {
      "properties": {
        "fixedLocation": {
          "description": "The location of the available fix for vulnerability.",
          "$ref": "VulnerabilityLocation"
        },
        "packageType": {
          "type": "string",
          "description": "The type of package (e.g. OS, MAVEN, GO)."
        },
        "affectedLocation": {
          "description": "The location of the vulnerability.",
          "$ref": "VulnerabilityLocation"
        },
        "severityName": {
          "type": "string"
        },
        "effectiveSeverity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "Output only. The distro or language system assigned severity for this vulnerability when that is available and note provider assigned severity when distro or language system has not yet assigned a severity for this vulnerability.",
          "enumDescriptions": [
            "Unknown Impact",
            "Minimal Impact",
            "Low Impact",
            "Medium Impact",
            "High Impact",
            "Critical Impact"
          ],
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "PackageIssue",
      "description": "This message wraps a location affected by a vulnerability and its associated fix (if one is available)."
    },
    "GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaConfigSource": {
      "description": "Describes where the config file that kicked off the build came from. This is effectively a pointer to the source where buildConfig came from.",
      "type": "object",
      "id": "GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaConfigSource",
      "properties": {
        "digest": {
          "description": "Collection of cryptographic digests for the contents of the artifact specified by invocation.configSource.uri.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "entryPoint": {
          "type": "string",
          "description": "String identifying the entry point into the build."
        },
        "uri": {
          "type": "string",
          "description": "URI indicating the identity of the source of the config."
        }
      }
    },
    "PgpSignedAttestation": {
      "id": "PgpSignedAttestation",
      "description": "An attestation wrapper with a PGP-compatible signature. This message only supports `ATTACHED` signatures, where the payload that is signed is included alongside the signature itself in the same file.",
      "properties": {
        "contentType": {
          "type": "string",
          "enumDescriptions": [
            "`ContentType` is not set.",
            "Atomic format attestation signature. See https://github.com/containers/image/blob/8a5d2f82a6e3263290c8e0276c3e0f64e77723e7/docs/atomic-signature.md The payload extracted from `signature` is a JSON blob conforming to the linked schema."
          ],
          "description": "Type (for example schema) of the attestation payload that was signed. The verifier must ensure that the provided type is one that the verifier supports, and that the attestation payload is a valid instantiation of that type (for example by validating a JSON schema).",
          "enum": [
            "CONTENT_TYPE_UNSPECIFIED",
            "SIMPLE_SIGNING_JSON"
          ]
        },
        "signature": {
          "type": "string",
          "description": "The raw content of the signature, as output by GNU Privacy Guard (GPG) or equivalent. Since this message only supports attached signatures, the payload that was signed must be attached. While the signature format supported is dependent on the verification implementation, currently only ASCII-armored (`--armor` to gpg), non-clearsigned (`--sign` rather than `--clearsign` to gpg) are supported. Concretely, `gpg --sign --armor --output=signature.gpg payload.json` will create the signature content expected in this field in `signature.gpg` for the `payload.json` attestation payload."
        },
        "pgpKeyId": {
          "type": "string",
          "description": "The cryptographic fingerprint of the key used to generate the signature, as output by, e.g. `gpg --list-keys`. This should be the version 4, full 160-bit fingerprint, expressed as a 40 character hexadecimal string. See https://tools.ietf.org/html/rfc4880#section-12.2 for details. Implementations may choose to acknowledge \"LONG\", \"SHORT\", or other abbreviated key IDs, but only the full fingerprint is guaranteed to work. In gpg, the full fingerprint can be retrieved from the `fpr` field returned when calling --list-keys with --with-colons. For example: ``` gpg --with-colons --with-fingerprint --force-v4-certs \\ --list-keys attester@example.com tru::1:1513631572:0:3:1:5 pub:...... fpr:::::::::24FF6481B76AC91E66A00AC657A93A81EF3AE6FB: ``` Above, the fingerprint is `24FF6481B76AC91E66A00AC657A93A81EF3AE6FB`."
        }
      },
      "type": "object"
    },
    "InTotoProvenance": {
      "properties": {
        "builderConfig": {
          "description": "required",
          "$ref": "BuilderConfig"
        },
        "metadata": {
          "$ref": "Metadata"
        },
        "materials": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The collection of artifacts that influenced the build including sources, dependencies, build tools, base images, and so on. This is considered to be incomplete unless metadata.completeness.materials is true. Unset or null is equivalent to empty."
        },
        "recipe": {
          "$ref": "Recipe",
          "description": "Identifies the configuration used for the build. When combined with materials, this SHOULD fully describe the build, such that re-running this recipe results in bit-for-bit identical output (if the build is reproducible). required"
        }
      },
      "id": "InTotoProvenance",
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsMavenArtifact": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsMavenArtifact",
      "type": "object",
      "description": "A Maven artifact to upload to Artifact Registry upon successful completion of all build steps.",
      "properties": {
        "artifactId": {
          "type": "string",
          "description": "Maven `artifactId` value used when uploading the artifact to Artifact Registry."
        },
        "repository": {
          "type": "string",
          "description": "Artifact Registry repository, in the form \"https://$REGION-maven.pkg.dev/$PROJECT/$REPOSITORY\" Artifact in the workspace specified by path will be uploaded to Artifact Registry with this location as a prefix."
        },
        "version": {
          "type": "string",
          "description": "Maven `version` value used when uploading the artifact to Artifact Registry."
        },
        "path": {
          "description": "Path to an artifact in the build's workspace to be uploaded to Artifact Registry. This can be either an absolute path, e.g. /workspace/my-app/target/my-app-1.0.SNAPSHOT.jar or a relative path from /workspace, e.g. my-app/target/my-app-1.0.SNAPSHOT.jar.",
          "type": "string"
        },
        "groupId": {
          "type": "string",
          "description": "Maven `groupId` value used when uploading the artifact to Artifact Registry."
        }
      }
    },
    "GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaInvocation": {
      "type": "object",
      "description": "Identifies the event that kicked off the build.",
      "id": "GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaInvocation",
      "properties": {
        "environment": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Any other builder-controlled inputs necessary for correctly evaluating the build."
        },
        "configSource": {
          "description": "Describes where the config file that kicked off the build came from.",
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1SlsaProvenanceZeroTwoSlsaConfigSource"
        },
        "parameters": {
          "description": "Collection of all external inputs that influenced the build on top of invocation.configSource.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      }
    },
    "UpgradeDistribution": {
      "type": "object",
      "id": "UpgradeDistribution",
      "properties": {
        "classification": {
          "type": "string",
          "description": "The operating system classification of this Upgrade, as specified by the upstream operating system upgrade feed."
        },
        "cpeUri": {
          "description": "Required - The specific operating system this metadata applies to. See https://cpe.mitre.org/specification/.",
          "type": "string"
        },
        "cve": {
          "description": "The cve that would be resolved by this upgrade.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "severity": {
          "type": "string",
          "description": "The severity as specified by the upstream operating system."
        }
      },
      "description": "The Upgrade Distribution represents metadata about the Upgrade for each operating system (CPE). Some distributions have additional metadata around updates, classifying them into various categories and severities."
    },
    "TimeSpan": {
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Start of time span."
        },
        "endTime": {
          "description": "End of time span.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Start and end times for a build execution phase. Next ID: 3",
      "type": "object",
      "id": "TimeSpan"
    },
    "UpgradeNote": {
      "properties": {
        "distributions": {
          "description": "Metadata about the upgrade for each specific operating system.",
          "items": {
            "$ref": "UpgradeDistribution"
          },
          "type": "array"
        },
        "package": {
          "type": "string",
          "description": "Required - The package this Upgrade is for."
        },
        "version": {
          "$ref": "Version",
          "description": "Required - The version of the package in machine + human readable form."
        }
      },
      "type": "object",
      "id": "UpgradeNote",
      "description": "An Upgrade Note represents a potential upgrade of a package to a given version. For each package version combination (i.e. bash 4.0, bash 4.1, bash 4.1.2), there will be a Upgrade Note."
    },
    "Artifact": {
      "properties": {
        "names": {
          "items": {
            "type": "string"
[...]
