{
  "servicePath": "",
  "description": "An implementation of the Grafeas API, which stores, and enables querying and retrieval of critical metadata about all of your software artifacts.",
  "basePath": "",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud Platform data"
        }
      }
    }
  },
  "version": "v1alpha1",
  "id": "containeranalysis:v1alpha1",
  "title": "Container Analysis API",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://containeranalysis.mtls.googleapis.com/",
  "version_module": true,
  "canonicalName": "Container Analysis",
  "name": "containeranalysis",
  "documentationLink": "https://cloud.google.com/container-analysis/api/reference/rest/",
  "ownerName": "Google",
  "revision": "20210409",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://containeranalysis.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://containeranalysis.googleapis.com/",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "resources": {
    "providers": {
      "resources": {
        "notes": {
          "methods": {
            "patch": {
              "id": "containeranalysis.providers.notes.patch",
              "request": {
                "$ref": "Note"
              },
              "response": {
                "$ref": "Note"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^providers/[^/]+/notes/[^/]+$",
                  "description": "The name of the note. Should be of the form \"projects/{provider_id}/notes/{note_id}\".",
                  "type": "string"
                },
                "updateMask": {
                  "description": "The fields to update.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "description": "Updates an existing `Note`.",
              "path": "v1alpha1/{+name}"
            },
            "create": {
              "request": {
                "$ref": "Note"
              },
              "description": "Creates a new `Note`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "query",
                  "description": "This field contains the project Id for example: \"projects/{project_id}"
                },
                "noteId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID to use for this note."
                },
                "name": {
                  "pattern": "^providers/[^/]+$",
                  "required": true,
                  "description": "The name of the project. Should be of the form \"providers/{provider_id}\". @Deprecated",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "path": "v1alpha1/{+name}/notes",
              "id": "containeranalysis.providers.notes.create",
              "response": {
                "$ref": "Note"
              },
              "flatPath": "v1alpha1/providers/{providersId}/notes",
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "id": "containeranalysis.providers.notes.delete",
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}",
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes the given `Note` from the system.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^providers/[^/]+/notes/[^/]+$",
                  "description": "The name of the note in the form of \"providers/{provider_id}/notes/{NOTE_ID}\""
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "getIamPolicy": {
              "path": "v1alpha1/{+resource}:getIamPolicy",
              "parameterOrder": [
                "resource"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "resource": {
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
                  "type": "string",
                  "pattern": "^providers/[^/]+/notes/[^/]+$",
                  "required": true
                }
              },
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}:getIamPolicy",
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "id": "containeranalysis.providers.notes.getIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "description": "Gets the access control policy for a note or an `Occurrence` resource. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or occurrence, respectively. Attempting to call this method on a resource without the required permission will result in a `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for occurrences and projects/{PROJECT_ID}/notes/{NOTE_ID} for notes",
              "httpMethod": "POST"
            },
            "setIamPolicy": {
              "parameters": {
                "resource": {
                  "required": true,
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
                  "pattern": "^providers/[^/]+/notes/[^/]+$",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "path": "v1alpha1/{+resource}:setIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}:setIamPolicy",
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "response": {
                "$ref": "Policy"
              },
              "id": "containeranalysis.providers.notes.setIamPolicy",
              "parameterOrder": [
                "resource"
              ],
              "description": "Sets the access control policy on the specified `Note` or `Occurrence`. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a `Note` or an `Occurrence`, respectively. Attempting to call this method without these permissions will result in a ` `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has `containeranalysis.notes.list` permission on a `Note` or `containeranalysis.occurrences.list` on an `Occurrence`, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{projectid}/occurrences/{occurrenceid}` for occurrences and projects/{projectid}/notes/{noteid} for notes"
            },
            "testIamPermissions": {
              "description": "Returns the permissions that a caller has on the specified note or occurrence resource. Requires list permission on the project (for example, \"storage.objects.list\" on the containing bucket for testing permission of an object). Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for `Occurrences` and `projects/{PROJECT_ID}/notes/{NOTE_ID}` for `Notes`",
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}:testIamPermissions",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "parameters": {
                "resource": {
                  "required": true,
                  "pattern": "^providers/[^/]+/notes/[^/]+$",
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
                  "type": "string"
                }
              },
              "id": "containeranalysis.providers.notes.testIamPermissions",
              "httpMethod": "POST",
              "path": "v1alpha1/{+resource}:testIamPermissions",
              "parameterOrder": [
                "resource"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "parameterOrder": [
                "name"
              ],
              "description": "Lists all `Notes` for a given project.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha1/providers/{providersId}/notes",
              "response": {
                "$ref": "ListNotesResponse"
              },
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Token to provide to skip to a particular spot in the list."
                },
                "parent": {
                  "location": "query",
                  "type": "string",
                  "description": "This field contains the project Id for example: \"projects/{PROJECT_ID}\"."
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Number of notes to return in the list.",
                  "type": "integer",
                  "location": "query"
                },
                "name": {
                  "pattern": "^providers/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The name field will contain the project Id for example: \"providers/{provider_id} @Deprecated"
                },
                "filter": {
                  "description": "The filter expression.",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "containeranalysis.providers.notes.list",
              "httpMethod": "GET",
              "path": "v1alpha1/{+name}/notes"
            },
            "get": {
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Note"
              },
              "description": "Returns the requested `Note`.",
              "parameters": {
                "name": {
                  "description": "The name of the note in the form of \"providers/{provider_id}/notes/{NOTE_ID}\"",
                  "type": "string",
                  "pattern": "^providers/[^/]+/notes/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "id": "containeranalysis.providers.notes.get",
              "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "occurrences": {
              "methods": {
                "list": {
                  "path": "v1alpha1/{+name}/occurrences",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "The filter expression.",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^providers/[^/]+/notes/[^/]+$",
                      "description": "The name field will contain the note name for example: \"provider/{provider_id}/notes/{note_id}\"",
                      "required": true,
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "Number of notes to return in the list.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Token to provide to skip to a particular spot in the list."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha1/providers/{providersId}/notes/{notesId}/occurrences",
                  "response": {
                    "$ref": "ListNoteOccurrencesResponse"
                  },
                  "description": "Lists `Occurrences` referencing the specified `Note`. Use this method to get all occurrences referencing your `Note` across all your customer projects.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "containeranalysis.providers.notes.occurrences.list"
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "notes": {
          "methods": {
            "getIamPolicy": {
              "path": "v1alpha1/{+resource}:getIamPolicy",
              "parameters": {
                "resource": {
                  "type": "string",
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Policy"
              },
              "httpMethod": "POST",
              "description": "Gets the access control policy for a note or an `Occurrence` resource. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or occurrence, respectively. Attempting to call this method on a resource without the required permission will result in a `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for occurrences and projects/{PROJECT_ID}/notes/{NOTE_ID} for notes",
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}:getIamPolicy",
              "id": "containeranalysis.projects.notes.getIamPolicy",
              "request": {
                "$ref": "GetIamPolicyRequest"
              }
            },
            "testIamPermissions": {
              "description": "Returns the permissions that a caller has on the specified note or occurrence resource. Requires list permission on the project (for example, \"storage.objects.list\" on the containing bucket for testing permission of an object). Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for `Occurrences` and `projects/{PROJECT_ID}/notes/{NOTE_ID}` for `Notes`",
              "parameterOrder": [
                "resource"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}:testIamPermissions",
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "containeranalysis.projects.notes.testIamPermissions",
              "parameters": {
                "resource": {
                  "type": "string",
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "path": "v1alpha1/{+resource}:testIamPermissions"
            },
            "delete": {
              "path": "v1alpha1/{+name}",
              "id": "containeranalysis.projects.notes.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "location": "path",
                  "description": "The name of the note in the form of \"providers/{provider_id}/notes/{NOTE_ID}\""
                }
              },
              "httpMethod": "DELETE",
              "description": "Deletes the given `Note` from the system."
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "The name of the note in the form of \"providers/{provider_id}/notes/{NOTE_ID}\""
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Returns the requested `Note`.",
              "id": "containeranalysis.projects.notes.get",
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}",
              "response": {
                "$ref": "Note"
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists all `Notes` for a given project.",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/notes",
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "description": "The filter expression.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "description": "This field contains the project Id for example: \"projects/{PROJECT_ID}\".",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "name": {
                  "description": "The name field will contain the project Id for example: \"providers/{provider_id} @Deprecated",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Number of notes to return in the list."
                },
                "pageToken": {
                  "type": "string",
                  "description": "Token to provide to skip to a particular spot in the list.",
                  "location": "query"
                }
              },
              "id": "containeranalysis.projects.notes.list",
              "path": "v1alpha1/{+parent}/notes",
              "response": {
                "$ref": "ListNotesResponse"
              }
            },
            "setIamPolicy": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}:setIamPolicy",
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ],
              "path": "v1alpha1/{+resource}:setIamPolicy",
              "description": "Sets the access control policy on the specified `Note` or `Occurrence`. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a `Note` or an `Occurrence`, respectively. Attempting to call this method without these permissions will result in a ` `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has `containeranalysis.notes.list` permission on a `Note` or `containeranalysis.occurrences.list` on an `Occurrence`, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{projectid}/occurrences/{occurrenceid}` for occurrences and projects/{projectid}/notes/{noteid} for notes",
              "parameters": {
                "resource": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field."
                }
              },
              "response": {
                "$ref": "Policy"
              },
              "id": "containeranalysis.projects.notes.setIamPolicy",
              "request": {
                "$ref": "SetIamPolicyRequest"
              }
            },
            "create": {
              "httpMethod": "POST",
              "flatPath": "v1alpha1/projects/{projectsId}/notes",
              "parameters": {
                "noteId": {
                  "description": "The ID to use for this note.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "location": "query",
                  "description": "The name of the project. Should be of the form \"providers/{provider_id}\". @Deprecated"
                },
                "parent": {
                  "description": "This field contains the project Id for example: \"projects/{project_id}",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "Note"
              },
              "path": "v1alpha1/{+parent}/notes",
              "id": "containeranalysis.projects.notes.create",
              "description": "Creates a new `Note`.",
              "request": {
                "$ref": "Note"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "id": "containeranalysis.projects.notes.patch",
              "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}",
              "path": "v1alpha1/{+name}",
              "description": "Updates an existing `Note`.",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "The name of the note. Should be of the form \"projects/{provider_id}/notes/{note_id}\".",
                  "pattern": "^projects/[^/]+/notes/[^/]+$",
                  "location": "path"
                },
                "updateMask": {
                  "description": "The fields to update.",
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "Note"
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Note"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "occurrences": {
              "methods": {
                "list": {
                  "flatPath": "v1alpha1/projects/{projectsId}/notes/{notesId}/occurrences",
                  "description": "Lists `Occurrences` referencing the specified `Note`. Use this method to get all occurrences referencing your `Note` across all your customer projects.",
                  "id": "containeranalysis.projects.notes.occurrences.list",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "The filter expression.",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Number of notes to return in the list.",
                      "type": "integer",
                      "location": "query"
                    },
                    "name": {
                      "description": "The name field will contain the note name for example: \"provider/{provider_id}/notes/{note_id}\"",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/notes/[^/]+$",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Token to provide to skip to a particular spot in the list.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListNoteOccurrencesResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v1alpha1/{+name}/occurrences"
                }
              }
            }
          }
        },
        "occurrences": {
          "methods": {
            "getNotes": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "required": true,
                  "description": "The name of the occurrence in the form \"projects/{project_id}/occurrences/{OCCURRENCE_ID}\"",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Note"
              },
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}/notes",
              "id": "containeranalysis.projects.occurrences.getNotes",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}/notes",
              "description": "Gets the `Note` attached to the given `Occurrence`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "getIamPolicy": {
              "description": "Gets the access control policy for a note or an `Occurrence` resource. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a note or occurrence, respectively. Attempting to call this method on a resource without the required permission will result in a `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for occurrences and projects/{PROJECT_ID}/notes/{NOTE_ID} for notes",
              "path": "v1alpha1/{+resource}:getIamPolicy",
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}:getIamPolicy",
              "id": "containeranalysis.projects.occurrences.getIamPolicy",
              "parameterOrder": [
                "resource"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "resource": {
                  "location": "path",
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "Policy"
              }
            },
            "setIamPolicy": {
              "path": "v1alpha1/{+resource}:setIamPolicy",
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}:setIamPolicy",
              "id": "containeranalysis.projects.occurrences.setIamPolicy",
              "parameterOrder": [
                "resource"
              ],
              "response": {
                "$ref": "Policy"
              },
              "description": "Sets the access control policy on the specified `Note` or `Occurrence`. Requires `containeranalysis.notes.setIamPolicy` or `containeranalysis.occurrences.setIamPolicy` permission if the resource is a `Note` or an `Occurrence`, respectively. Attempting to call this method without these permissions will result in a ` `PERMISSION_DENIED` error. Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has `containeranalysis.notes.list` permission on a `Note` or `containeranalysis.occurrences.list` on an `Occurrence`, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{projectid}/occurrences/{occurrenceid}` for occurrences and projects/{projectid}/notes/{noteid} for notes",
              "parameters": {
                "resource": {
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "httpMethod": "POST"
            },
            "testIamPermissions": {
              "parameterOrder": [
                "resource"
              ],
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "id": "containeranalysis.projects.occurrences.testIamPermissions",
              "description": "Returns the permissions that a caller has on the specified note or occurrence resource. Requires list permission on the project (for example, \"storage.objects.list\" on the containing bucket for testing permission of an object). Attempting to call this method on a non-existent resource will result in a `NOT_FOUND` error if the user has list permission on the project, or a `PERMISSION_DENIED` error otherwise. The resource takes the following formats: `projects/{PROJECT_ID}/occurrences/{OCCURRENCE_ID}` for `Occurrences` and `projects/{PROJECT_ID}/notes/{NOTE_ID}` for `Notes`",
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "httpMethod": "POST",
              "path": "v1alpha1/{+resource}:testIamPermissions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "resource": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$"
                }
              },
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}:testIamPermissions"
            },
            "getVulnerabilitySummary": {
              "path": "v1alpha1/{+parent}/occurrences:vulnerabilitySummary",
              "id": "containeranalysis.projects.occurrences.getVulnerabilitySummary",
              "description": "Gets a summary of the number and severity of occurrences.",
              "httpMethod": "GET",
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences:vulnerabilitySummary",
              "response": {
                "$ref": "GetVulnzOccurrencesSummaryResponse"
              },
              "parameters": {
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The filter expression."
                },
                "parent": {
                  "description": "This contains the project Id for example: projects/{project_id}",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "id": "containeranalysis.projects.occurrences.delete",
              "httpMethod": "DELETE",
              "description": "Deletes the given `Occurrence` from the system. Use this when an `Occurrence` is no longer applicable for the given resource.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "description": "The name of the occurrence in the form of \"projects/{project_id}/occurrences/{OCCURRENCE_ID}\"",
                  "type": "string"
                }
              },
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}"
            },
            "get": {
              "description": "Returns the requested `Occurrence`.",
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "description": "The name of the occurrence of the form \"projects/{project_id}/occurrences/{OCCURRENCE_ID}\"",
                  "type": "string",
                  "required": true
                }
              },
              "id": "containeranalysis.projects.occurrences.get",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Occurrence"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "response": {
                "$ref": "ListOccurrencesResponse"
              },
              "httpMethod": "GET",
              "id": "containeranalysis.projects.occurrences.list",
              "description": "Lists active `Occurrences` for a given project matching the filters.",
              "path": "v1alpha1/{+parent}/occurrences",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "This contains the project Id for example: projects/{project_id}.",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "name": {
                  "type": "string",
                  "location": "query",
                  "description": "The name field contains the project Id. For example: \"projects/{project_id} @Deprecated"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Number of occurrences to return in the list."
                },
                "kind": {
                  "enum": [
                    "KIND_UNSPECIFIED",
                    "PACKAGE_VULNERABILITY",
                    "BUILD_DETAILS",
                    "IMAGE_BASIS",
                    "PACKAGE_MANAGER",
                    "DEPLOYABLE",
                    "DISCOVERY",
                    "ATTESTATION_AUTHORITY",
                    "UPGRADE"
                  ],
                  "enumDescriptions": [
                    "Unknown",
                    "The note and occurrence represent a package vulnerability.",
                    "The note and occurrence assert build provenance.",
                    "This represents an image basis relationship.",
                    "This represents a package installed via a package manager.",
                    "The note and occurrence track deployment events.",
                    "The note and occurrence track the initial discovery status of a resource.",
                    "This represents a logical \"role\" that can attest to artifacts.",
                    "This represents an available software upgrade."
                  ],
                  "type": "string",
                  "description": "The kind of occurrences to filter on.",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "description": "The filter expression.",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Token to provide to skip to a particular spot in the list.",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences",
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH",
              "id": "containeranalysis.projects.occurrences.patch",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Occurrence"
              },
              "description": "Updates an existing occurrence.",
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences/{occurrencesId}",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "The fields to update.",
                  "format": "google-fieldmask"
                },
                "name": {
                  "pattern": "^projects/[^/]+/occurrences/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "The name of the occurrence. Should be of the form \"projects/{project_id}/occurrences/{OCCURRENCE_ID}\".",
                  "location": "path"
                }
              },
              "path": "v1alpha1/{+name}",
              "request": {
                "$ref": "Occurrence"
              }
            },
            "create": {
              "httpMethod": "POST",
              "path": "v1alpha1/{+parent}/occurrences",
              "description": "Creates a new `Occurrence`. Use this method to create `Occurrences` for a resource.",
              "parameters": {
                "name": {
                  "location": "query",
                  "description": "The name of the project. Should be of the form \"projects/{project_id}\". @Deprecated",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "This field contains the project Id for example: \"projects/{project_id}\"",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1alpha1/projects/{projectsId}/occurrences",
              "id": "containeranalysis.projects.occurrences.create",
              "request": {
                "$ref": "Occurrence"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Occurrence"
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "operations": {
          "methods": {
            "patch": {
              "id": "containeranalysis.projects.operations.patch",
              "request": {
                "$ref": "UpdateOperationRequest"
              },
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "description": "The name of the Operation. Should be of the form \"projects/{provider_id}/operations/{operation_id}\".",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1alpha1/projects/{projectsId}/operations/{operationsId}",
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates an existing operation returns an error if operation does not exist. The only valid operations are to update mark the done bit change the result."
            },
            "create": {
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates a new `Operation`.",
              "id": "containeranalysis.projects.operations.create",
              "request": {
                "$ref": "CreateOperationRequest"
              },
              "flatPath": "v1alpha1/projects/{projectsId}/operations",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "The project Id that this operation should be created under.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1alpha1/{+parent}/operations"
            }
          }
        },
        "scanConfigs": {
          "methods": {
            "list": {
              "id": "containeranalysis.projects.scanConfigs.list",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "This containers the project Id i.e.: projects/{project_id}"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of items to return.",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The filter expression."
                },
                "pageToken": {
                  "type": "string",
                  "description": "The page token to use for the next request.",
                  "location": "query"
                }
              },
              "path": "v1alpha1/{+parent}/scanConfigs",
              "response": {
                "$ref": "ListScanConfigsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "flatPath": "v1alpha1/projects/{projectsId}/scanConfigs",
              "description": "Lists scan configurations for a project."
            },
            "get": {
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "location": "path",
                  "description": "The name of the ScanConfig in the form projects/{project_id}/scanConfigs/{scan_config_id}"
                }
              },
              "response": {
                "$ref": "ScanConfig"
              },
              "id": "containeranalysis.projects.scanConfigs.get",
              "description": "Gets a specific scan configuration for a project.",
              "flatPath": "v1alpha1/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "httpMethod": "PATCH",
              "response": {
                "$ref": "ScanConfig"
              },
              "flatPath": "v1alpha1/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "description": "Updates the scan configuration to a new value.",
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "ScanConfig"
              },
              "id": "containeranalysis.projects.scanConfigs.patch",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "description": "The fields to update.",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "description": "The scan config to update of the form projects/{project_id}/scanConfigs/{scan_config_id}.",
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        }
      }
    }
  },
  "parameters": {
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    }
  },
  "batchPath": "batch",
  "schemas": {
    "BuildProvenance": {
      "description": "Provenance of a build. Contains all information needed to verify the full details about the build from source to completion.",
      "id": "BuildProvenance",
      "type": "object",
      "properties": {
        "sourceProvenance": {
          "description": "Details of the Source input to the build.",
          "$ref": "Source"
        },
        "createTime": {
          "type": "string",
          "description": "Time at which the build was created.",
          "format": "google-datetime"
        },
        "buildOptions": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Special options applied to this build. This is a catch-all field where build providers can enter any desired additional details.",
          "type": "object"
        },
        "builtArtifacts": {
          "description": "Output of the build.",
          "type": "array",
          "items": {
            "$ref": "Artifact"
          }
        },
        "finishTime": {
          "description": "Time at which execution of the build was finished.",
          "type": "string",
          "format": "google-datetime"
        },
        "logsBucket": {
          "description": "Google Cloud Storage bucket where logs were written.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Unique identifier of the build."
        },
        "builderVersion": {
          "description": "Version string of the builder at the time this build was executed.",
          "type": "string"
        },
        "commands": {
          "type": "array",
          "items": {
            "$ref": "Command"
          },
          "description": "Commands requested by the build."
        },
        "triggerId": {
          "description": "Trigger identifier if the build was triggered automatically; empty if not.",
          "type": "string"
        },
        "startTime": {
          "description": "Time at which execution of the build was started.",
          "type": "string",
          "format": "google-datetime"
        },
        "creator": {
          "type": "string",
          "description": "E-mail address of the user who initiated this build. Note that this was the user's e-mail address at the time the build was initiated; this address may not represent the same end-user for all time."
        },
        "projectId": {
          "description": "ID of the project.",
          "type": "string"
        }
      }
    },
    "ListNoteOccurrencesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to receive the next page of notes.",
          "type": "string"
        },
        "occurrences": {
          "description": "The occurrences attached to the specified note.",
          "type": "array",
          "items": {
            "$ref": "Occurrence"
          }
        }
      },
      "id": "ListNoteOccurrencesResponse",
      "description": "Response including listed occurrences for a note."
    },
    "FileHashes": {
      "properties": {
        "fileHash": {
          "type": "array",
          "items": {
            "$ref": "Hash"
          },
          "description": "Collection of file hashes."
        }
      },
      "type": "object",
      "description": "Container message for hashes of byte content of files, used in Source messages to verify integrity of source input to the build.",
      "id": "FileHashes"
    },
    "VulnerabilityType": {
      "description": "VulnerabilityType provides metadata about a security vulnerability.",
      "type": "object",
      "id": "VulnerabilityType",
      "properties": {
        "severity": {
          "type": "string",
          "description": "Note provider assigned impact of the vulnerability",
          "enumDescriptions": [
            "Unknown Impact",
            "Minimal Impact",
            "Low Impact",
            "Medium Impact",
            "High Impact",
            "Critical Impact"
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "cvssScore": {
          "type": "number",
          "format": "float",
          "description": "The CVSS score for this Vulnerability."
        },
        "details": {
          "description": "All information about the package to specifically identify this vulnerability. One entry per (version range and cpe_uri) the package vulnerability has manifested in.",
          "type": "array",
          "items": {
            "$ref": "Detail"
          }
        }
      }
    },
    "StorageSource": {
      "id": "StorageSource",
      "properties": {
        "bucket": {
          "description": "Google Cloud Storage bucket containing source (see [Bucket Name Requirements] (https://cloud.google.com/storage/docs/bucket-naming#requirements)).",
          "type": "string"
        },
        "generation": {
          "type": "string",
          "format": "int64",
          "description": "Google Cloud Storage generation for the object."
        },
        "object": {
          "type": "string",
          "description": "Google Cloud Storage object containing source."
        }
      },
      "type": "object",
      "description": "StorageSource describes the location of the source in an archive file in Google Cloud Storage."
    },
    "Policy": {
      "type": "object",
      "properties": {
        "version": {
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        },
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members` to a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one member.",
          "items": {
            "$ref": "Binding"
          }
        },
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        }
      },
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members` to a single `role`. Members can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') - etag: BwWWja0YfJA= - version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "SeverityCount": {
      "properties": {
        "count": {
          "format": "int64",
          "type": "string",
          "description": "The number of occurrences with the severity."
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown Impact",
            "Minimal Impact",
            "Low Impact",
            "Medium Impact",
            "High Impact",
            "Critical Impact"
          ],
          "description": "The severity of the occurrences."
        }
      },
      "id": "SeverityCount",
      "description": "The number of occurrences created for a specific severity.",
      "type": "object"
    },
    "Derived": {
      "type": "object",
      "description": "Derived describes the derived image portion (Occurrence) of the DockerImage relationship. This image would be produced from a Dockerfile with FROM .",
      "id": "Derived",
      "properties": {
        "baseResourceUrl": {
          "description": "Output only. This contains the base image URL for the derived image occurrence.",
          "type": "string"
        },
        "layerInfo": {
          "description": "This contains layer-specific metadata, if populated it has length \"distance\" and is ordered with [distance] being the layer immediately following the base image and [1] being the final layer.",
          "type": "array",
          "items": {
            "$ref": "Layer"
          }
        },
        "fingerprint": {
          "description": "The fingerprint of the derived image.",
          "$ref": "Fingerprint"
        },
        "distance": {
          "format": "uint32",
          "description": "Output only. The number of layers by which this image differs from the associated image basis.",
          "type": "integer"
        }
      }
    },
    "Source": {
      "type": "object",
      "id": "Source",
      "description": "Source describes the location of the source used for the build.",
      "properties": {
        "context": {
          "description": "If provided, the source code used for the build came from this location.",
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1SourceContext"
        },
        "artifactStorageSource": {
          "description": "If provided, the input binary artifacts for the build came from this location.",
          "$ref": "StorageSource"
        },
        "storageSource": {
          "description": "If provided, get the source from this location in in Google Cloud Storage.",
          "$ref": "StorageSource"
        },
        "fileHashes": {
          "type": "object",
          "description": "Hash(es) of the build source, which can be used to verify that the original source integrity was maintained in the build. The keys to this map are file paths used as build source and the values contain the hash values for those files. If the build source came in a single package such as a gzipped tarfile (.tar.gz), the FileHash will be for the single path to that file.",
          "additionalProperties": {
            "$ref": "FileHashes"
          }
        },
        "additionalContexts": {
          "description": "If provided, some of the source code used for the build may be found in these locations, in the case where the source repository had multiple remotes or submodules. This list will not include the context specified in the context field.",
          "type": "array",
          "items": {
            "$ref": "GoogleDevtoolsContaineranalysisV1alpha1SourceContext"
          }
        },
        "repoSource": {
          "description": "If provided, get source from this location in a Cloud Repo.",
          "$ref": "RepoSource"
        }
      }
    },
    "RepoSource": {
      "id": "RepoSource",
      "description": "RepoSource describes the location of the source in a Google Cloud Source Repository.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "ID of the project that owns the repo.",
          "type": "string"
        },
        "branchName": {
          "type": "string",
          "description": "Name of the branch to build."
        },
        "tagName": {
          "description": "Name of the tag to build.",
          "type": "string"
        },
        "commitSha": {
          "type": "string",
          "description": "Explicit commit SHA to build."
        },
        "repoName": {
          "type": "string",
          "description": "Name of the repo."
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "Hash": {
      "properties": {
        "type": {
          "enum": [
            "NONE",
            "SHA256"
          ],
          "enumDescriptions": [
            "No hash requested.",
            "A sha256 hash."
          ],
          "type": "string",
          "description": "The type of hash that was performed."
        },
        "value": {
          "format": "byte",
          "type": "string",
          "description": "The hash value."
        }
      },
      "type": "object",
      "id": "Hash",
      "description": "Container message for hash values."
    },
    "Resource": {
      "description": " Resource is an entity that can have metadata. E.g., a Docker image.",
      "type": "object",
      "id": "Resource",
      "properties": {
        "contentHash": {
          "description": "The hash of the resource content. E.g., the Docker digest.",
          "$ref": "Hash"
        },
        "uri": {
          "description": "The unique URI of the resource. E.g., \"https://gcr.io/project/image@sha256:foo\" for a Docker image.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the resource. E.g., the name of a Docker image - \"Debian\"."
        }
      }
    },
    "Layer": {
      "id": "Layer",
      "properties": {
        "arguments": {
          "type": "string",
          "description": "The recovered arguments to the Dockerfile directive."
        },
        "directive": {
          "enumDescriptions": [
            "Default value for unsupported/missing directive",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/reference/builder/#copy",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/"
          ],
          "type": "string",
          "description": "The recovered Dockerfile directive used to construct this layer.",
          "enum": [
            "DIRECTIVE_UNSPECIFIED",
            "MAINTAINER",
            "RUN",
            "CMD",
            "LABEL",
            "EXPOSE",
            "ENV",
            "ADD",
            "COPY",
            "ENTRYPOINT",
            "VOLUME",
            "USER",
            "WORKDIR",
            "ARG",
            "ONBUILD",
            "STOPSIGNAL",
            "HEALTHCHECK",
            "SHELL"
          ]
        }
      },
      "description": "Layer holds metadata specific to a layer of a Docker image.",
      "type": "object"
    },
    "GoogleDevtoolsContaineranalysisV1alpha1ProjectRepoId": {
      "properties": {
        "projectId": {
          "description": "The ID of the project.",
          "type": "string"
        },
        "repoName": {
          "type": "string",
          "description": "The name of the repo. Leave empty for the default repo."
        }
      },
      "description": "Selects a repo using a Google Cloud Platform project ID (e.g., winged-cargo-31) and a repo name within that project.",
      "type": "object",
      "id": "GoogleDevtoolsContaineranalysisV1alpha1ProjectRepoId"
    },
    "CreateOperationRequest": {
      "type": "object",
      "properties": {
        "operationId": {
          "type": "string",
          "description": "The ID to use for this operation."
        },
        "operation": {
          "$ref": "Operation",
          "description": "The operation to create."
        }
      },
      "description": "Request for creating an operation",
      "id": "CreateOperationRequest"
    },
    "BuildType": {
      "properties": {
        "builderVersion": {
          "type": "string",
          "description": "Version of the builder which produced this Note."
        },
        "signature": {
          "$ref": "BuildSignature",
          "description": "Signature of the build in Occurrences pointing to the Note containing this `BuilderDetails`."
        }
      },
      "id": "BuildType",
      "description": "Note holding the version of the provider's builder and the signature of the provenance message in linked BuildDetails.",
      "type": "object"
    },
    "Detail": {
      "properties": {
        "cpeUri": {
          "type": "string",
          "description": "The cpe_uri in [cpe format] (https://cpe.mitre.org/specification/) in which the vulnerability manifests. Examples include distro or storage location for vulnerable jar. This field can be used as a filter in list requests."
        },
        "severityName": {
          "type": "string",
          "description": "The severity (eg: distro assigned severity) for this vulnerability."
        },
        "vendor": {
          "type": "string",
          "description": "The vendor of the product. e.g. \"google\""
        },
        "fixedLocation": {
          "$ref": "VulnerabilityLocation",
          "description": "The fix for this specific package version."
        },
        "isObsolete": {
          "type": "boolean",
          "description": "Whether this Detail is obsolete. Occurrences are expected not to point to obsolete details."
        },
        "maxAffectedVersion": {
          "description": "The max version of the package in which the vulnerability exists.",
          "$ref": "Version"
        },
        "minAffectedVersion": {
          "$ref": "Version",
          "description": "The min version of the package in which the vulnerability exists."
        },
        "source": {
          "type": "string",
          "description": "The source from which the information in this Detail was obtained."
        },
        "description": {
          "type": "string",
          "description": "A vendor-specific description of this note."
        },
        "package": {
          "description": "The name of the package where the vulnerability was found. This field can be used as a filter in list requests.",
          "type": "string"
        },
        "packageType": {
          "type": "string",
          "description": "The type of package; whether native or non native(ruby gems, node.js packages etc)"
        }
      },
      "type": "object",
      "id": "Detail",
      "description": "Identifies all occurrences of this vulnerability in the package for a specific distro/location For example: glibc in cpe:/o:debian:debian_linux:8 for versions 2.1 - 2.2"
    },
    "ListScanConfigsResponse": {
      "id": "ListScanConfigsResponse",
      "description": "A list of scan configs for the project.",
      "properties": {
        "nextPageToken": {
          "description": "A page token to pass in order to get more scan configs.",
          "type": "string"
        },
        "scanConfigs": {
          "items": {
            "$ref": "ScanConfig"
          },
          "description": "The set of scan configs.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "Deployable": {
      "description": "An artifact that can be deployed in some runtime.",
      "type": "object",
      "properties": {
        "resourceUri": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Resource URI for the artifact being deployed."
        }
      },
      "id": "Deployable"
    },
    "Package": {
      "type": "object",
      "id": "Package",
      "description": "This represents a particular package that is distributed over various channels. e.g. glibc (aka libc6) is distributed by many, at various versions.",
      "properties": {
        "distribution": {
          "description": "The various channels by which a package is distributed.",
          "items": {
            "$ref": "Distribution"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "The name of the package."
        }
      }
    },
    "UpgradeOccurrence": {
      "type": "object",
      "properties": {
        "parsedVersion": {
          "description": "Required - The version of the package in a machine + human readable form.",
          "$ref": "Version"
        },
        "package": {
          "type": "string",
          "description": "Required - The package this Upgrade is for."
        },
        "distribution": {
          "description": "Metadata about the upgrade for available for the specific operating system for the resource_url. This allows efficient filtering, as well as making it easier to use the occurrence.",
          "$ref": "UpgradeDistribution"
        }
      },
      "description": "An Upgrade Occurrence represents that a specific resource_url could install a specific upgrade. This presence is supplied via local sources (i.e. it is present in the mirror and the running system has noticed its availability).",
      "id": "UpgradeOccurrence"
    },
    "GoogleDevtoolsContaineranalysisV1alpha1GitSourceContext": {
      "id": "GoogleDevtoolsContaineranalysisV1alpha1GitSourceContext",
      "properties": {
        "revisionId": {
          "description": "Required. Git commit hash.",
          "type": "string"
        },
        "url": {
          "description": "Git repository URL.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A GitSourceContext denotes a particular revision in a third party Git repository (e.g., GitHub)."
    },
    "RelatedUrl": {
      "properties": {
        "url": {
          "description": "Specific URL to associate with the note",
          "type": "string"
        },
        "label": {
          "description": "Label to describe usage of the URL",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RelatedUrl",
      "description": "Metadata for any related URL information"
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as '*' or 'storage.*') are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object"
    },
    "UpgradeNote": {
      "properties": {
        "version": {
          "$ref": "Version",
          "description": "Required - The version of the package in machine + human readable form."
        },
        "package": {
          "description": "Required - The package this Upgrade is for.",
          "type": "string"
        },
        "distributions": {
          "type": "array",
          "items": {
            "$ref": "UpgradeDistribution"
          },
          "description": "Metadata about the upgrade for each specific operating system."
        }
      },
      "type": "object",
      "description": "An Upgrade Note represents a potential upgrade of a package to a given version. For each package version combination (i.e. bash 4.0, bash 4.1, bash 4.1.2), there will be a Upgrade Note.",
      "id": "UpgradeNote"
    },
    "GoogleDevtoolsContaineranalysisV1alpha1CloudRepoSourceContext": {
      "description": "A CloudRepoSourceContext denotes a particular revision in a Google Cloud Source Repo.",
      "properties": {
        "repoId": {
          "description": "The ID of the repo.",
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1RepoId"
        },
        "revisionId": {
          "type": "string",
          "description": "A revision ID."
        },
        "aliasContext": {
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1AliasContext",
          "description": "An alias, which may be a branch or tag."
        }
      },
      "id": "GoogleDevtoolsContaineranalysisV1alpha1CloudRepoSourceContext",
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "id": "SetIamPolicyRequest",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them."
        }
      }
    },
    "Command": {
      "id": "Command",
      "description": "Command describes a step performed as part of the build pipeline.",
      "properties": {
        "args": {
          "description": "Command-line arguments used when executing this Command.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "dir": {
          "type": "string",
          "description": "Working directory (relative to project source root) used when running this Command."
        },
        "id": {
          "description": "Optional unique identifier for this Command, used in wait_for to reference this Command as a dependency.",
          "type": "string"
        },
        "waitFor": {
          "description": "The ID(s) of the Command(s) that this Command depends on.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "env": {
          "description": "Environment variables set before running this Command.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Name of the command, as presented on the command line, or if the command is packaged as a Docker container, as presented to `docker pull`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "VulnerabilityDetails": {
      "type": "object",
      "id": "VulnerabilityDetails",
      "description": "Used by Occurrence to point to where the vulnerability exists and how to fix it.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of package; whether native or non native(ruby gems, node.js packages etc)"
        },
        "packageIssue": {
          "description": "The set of affected locations and their fixes (if available) within the associated resource.",
          "items": {
            "$ref": "PackageIssue"
          },
          "type": "array"
        },
        "severity": {
          "enumDescriptions": [
            "Unknown Impact",
            "Minimal Impact",
            "Low Impact",
            "Medium Impact",
            "High Impact",
            "Critical Impact"
          ],
          "description": "Output only. The note provider assigned Severity of the vulnerability.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "type": "string"
        },
        "effectiveSeverity": {
          "enumDescriptions": [
            "Unknown Impact",
            "Minimal Impact",
            "Low Impact",
            "Medium Impact",
            "High Impact",
            "Critical Impact"
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "The distro assigned severity for this vulnerability when that is available and note provider assigned severity when distro has not yet assigned a severity for this vulnerability.",
          "type": "string"
        },
        "cvssScore": {
          "format": "float",
          "type": "number",
          "description": "Output only. The CVSS score of this vulnerability. CVSS score is on a scale of 0-10 where 0 indicates low severity and 10 indicates high severity."
        }
      }
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "id": "Empty",
      "properties": {}
    },
    "Distribution": {
      "properties": {
        "cpeUri": {
          "type": "string",
          "description": "The cpe_uri in [cpe format](https://cpe.mitre.org/specification/) denoting the package manager version distributing a package."
        },
        "description": {
          "description": "The distribution channel-specific description of this package.",
          "type": "string"
        },
        "url": {
          "description": "The distribution channel-specific homepage for this package.",
          "type": "string"
        },
        "architecture": {
          "type": "string",
          "enumDescriptions": [
            "Unknown architecture",
            "X86 architecture",
            "X64 architecture"
          ],
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X86",
            "X64"
          ],
          "description": "The CPU architecture for which packages in this distribution channel were built"
        },
        "maintainer": {
          "description": "A freeform string denoting the maintainer of this package.",
          "type": "string"
        },
        "latestVersion": {
          "description": "The latest available version of this package in this distribution channel.",
          "$ref": "Version"
        }
      },
      "id": "Distribution",
      "type": "object",
      "description": "This represents a particular channel of distribution for a given package. e.g. Debian's jessie-backports dpkg mirror"
    },
    "GoogleDevtoolsContaineranalysisV1alpha1GerritSourceContext": {
      "id": "GoogleDevtoolsContaineranalysisV1alpha1GerritSourceContext",
      "description": "A SourceContext referring to a Gerrit project.",
      "properties": {
        "gerritProject": {
          "description": "The full project name within the host. Projects may be nested, so \"project/subproject\" is a valid project name. The \"repo name\" is the hostURI/project.",
          "type": "string"
        },
        "aliasContext": {
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1AliasContext",
          "description": "An alias, which may be a branch or tag."
        },
        "hostUri": {
          "type": "string",
          "description": "The URI of a running Gerrit instance."
        },
        "revisionId": {
          "type": "string",
          "description": "A revision (commit) ID."
        }
      },
      "type": "object"
    },
    "Fingerprint": {
      "id": "Fingerprint",
      "description": "A set of properties that uniquely identify a given Docker image.",
      "properties": {
        "v2Name": {
          "type": "string",
          "description": "Output only. The name of the image's v2 blobs computed via: [bottom] := v2_blobbottom := sha256(v2_blob[N] + \" \" + v2_name[N+1]) Only the name of the final blob is kept. This field can be used as a filter in list requests."
        },
        "v2Blob": {
          "description": "The ordered list of v2 blobs that represent a given image.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "v1Name": {
          "description": "The layer-id of the final layer in the Docker image's v1 representation. This field can be used as a filter in list requests.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AttestationAuthority": {
      "id": "AttestationAuthority",
      "properties": {
        "hint": {
          "$ref": "AttestationAuthorityHint"
        }
      },
      "type": "object",
      "description": "Note kind that represents a logical attestation \"role\" or \"authority\". For example, an organization might have one `AttestationAuthority` for \"QA\" and one for \"build\". This Note is intended to act strictly as a grouping mechanism for the attached Occurrences (Attestations). This grouping mechanism also provides a security boundary, since IAM ACLs gate the ability for a principle to attach an Occurrence to a given Note. It also provides a single point of lookup to find all attached Attestation Occurrences, even if they don't all live in the same project."
    },
    "Attestation": {
      "description": "Occurrence that represents a single \"attestation\". The authenticity of an Attestation can be verified using the attached signature. If the verifier trusts the public key of the signer, then verifying the signature is sufficient to establish trust. In this circumstance, the AttestationAuthority to which this Attestation is attached is primarily useful for look-up (how to find this Attestation if you already know the Authority and artifact to be verified) and intent (which authority was this attestation intended to sign for).",
      "id": "Attestation",
      "type": "object",
      "properties": {
        "pgpSignedAttestation": {
          "$ref": "PgpSignedAttestation"
        }
      }
    },
    "UpgradeDistribution": {
      "properties": {
        "cve": {
          "items": {
            "type": "string"
          },
          "description": "The cve that would be resolved by this upgrade.",
          "type": "array"
        },
        "severity": {
          "description": "The severity as specified by the upstream operating system.",
          "type": "string"
        },
        "classification": {
          "description": "The operating system classification of this Upgrade, as specified by the upstream operating system upgrade feed.",
          "type": "string"
        },
        "cpeUri": {
          "description": "Required - The specific operating system this metadata applies to. See https://cpe.mitre.org/specification/.",
          "type": "string"
        }
      },
      "id": "UpgradeDistribution",
      "description": "The Upgrade Distribution represents metadata about the Upgrade for each operating system (CPE). Some distributions have additional metadata around updates, classifying them into various categories and severities.",
      "type": "object"
    },
    "BuildSignature": {
      "description": "Message encapsulating the signature of the verified build.",
      "type": "object",
      "id": "BuildSignature",
      "properties": {
        "publicKey": {
          "type": "string",
          "description": "Public key of the builder which can be used to verify that the related findings are valid and unchanged. If `key_type` is empty, this defaults to PEM encoded public keys. This field may be empty if `key_id` references an external key. For Cloud Build based signatures, this is a PEM encoded public key. To verify the Cloud Build signature, place the contents of this field into a file (public.pem). The signature field is base64-decoded into its binary representation in signature.bin, and the provenance bytes from `BuildDetails` are base64-decoded into a binary representation in signed.bin. OpenSSL can then verify the signature: `openssl sha256 -verify public.pem -signature signature.bin signed.bin`"
        },
        "keyId": {
          "description": "An Id for the key used to sign. This could be either an Id for the key stored in `public_key` (such as the Id or fingerprint for a PGP key, or the CN for a cert), or a reference to an external key (such as a reference to a key in Cloud Key Management Service).",
          "type": "string"
        },
        "keyType": {
          "type": "string",
          "enumDescriptions": [
            "`KeyType` is not set.",
            "`PGP ASCII Armored` public key.",
            "`PKIX PEM` public key."
          ],
          "description": "The type of the key, either stored in `public_key` or referenced in `key_id`",
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "PGP_ASCII_ARMORED",
            "PKIX_PEM"
          ]
        },
        "signature": {
          "type": "string",
          "description": "Signature of the related `BuildProvenance`, encoded in a base64 string."
        }
      }
    },
    "GetVulnzOccurrencesSummaryResponse": {
      "type": "object",
      "properties": {
        "counts": {
          "type": "array",
          "description": "A map of how many occurrences were found for each severity.",
          "items": {
            "$ref": "SeverityCount"
          }
        }
      },
      "id": "GetVulnzOccurrencesSummaryResponse",
      "description": "A summary of how many vulnz occurrences there are per severity type. counts by groups, or if we should have different summary messages like this."
    },
    "AttestationAuthorityHint": {
      "properties": {
        "humanReadableName": {
          "description": "The human readable name of this Attestation Authority, for example \"qa\".",
          "type": "string"
        }
      },
      "description": "This submessage provides human-readable hints about the purpose of the AttestationAuthority. Because the name of a Note acts as its resource reference, it is important to disambiguate the canonical name of the Note (which might be a UUID for security purposes) from \"readable\" names more suitable for debug output. Note that these hints should NOT be used to look up AttestationAuthorities in security sensitive contexts, such as when looking up Attestations to verify.",
      "type": "object",
      "id": "AttestationAuthorityHint"
    },
    "GoogleDevtoolsContaineranalysisV1alpha1RepoId": {
      "properties": {
        "uid": {
          "description": "A server-assigned, globally unique identifier.",
          "type": "string"
        },
        "projectRepoId": {
          "description": "A combination of a project ID and a repo name.",
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1ProjectRepoId"
        }
      },
      "id": "GoogleDevtoolsContaineranalysisV1alpha1RepoId",
      "type": "object",
      "description": "A unique identifier for a Cloud Repo."
    },
    "Discovered": {
      "id": "Discovered",
      "properties": {
        "continuousAnalysis": {
          "enum": [
            "CONTINUOUS_ANALYSIS_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "Unknown",
            "The resource is continuously analyzed.",
            "The resource is ignored for continuous analysis."
          ],
          "description": "Whether the resource is continuously analyzed.",
          "type": "string"
        },
        "cpe": {
          "description": "The CPE of the resource being scanned.",
          "type": "string"
        },
        "operation": {
          "description": "Output only. An operation that indicates the status of the current scan. This field is deprecated, do not use.",
          "$ref": "Operation"
        },
        "analysisStatus": {
          "enum": [
            "ANALYSIS_STATUS_UNSPECIFIED",
            "PENDING",
            "SCANNING",
            "FINISHED_SUCCESS",
            "FINISHED_FAILED",
            "FINISHED_UNSUPPORTED"
          ],
          "type": "string",
          "description": "The status of discovery for the resource.",
          "enumDescriptions": [
            "Unknown",
            "Resource is known but no action has been taken yet.",
            "Resource is being analyzed.",
            "Analysis has finished successfully.",
            "Analysis has finished unsuccessfully, the analysis itself is in a bad state.",
            "The resource is known not to be supported."
          ]
        },
        "analysisStatusError": {
          "description": "When an error is encountered this will contain a LocalizedMessage under details to show to the user. The LocalizedMessage output only and populated by the API.",
          "$ref": "Status"
        }
      },
      "type": "object",
[...]
