{
  "protocol": "rest",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "basePath": "",
  "title": "Content API for Shopping",
  "resources": {
    "shippingsettings": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "id": "content.shippingsettings.list",
          "flatPath": "content/v2/{merchantId}/shippingsettings",
          "path": "content/v2/{merchantId}/shippingsettings",
          "description": "Lists the shipping settings of the sub-accounts in your Merchant Center account.",
          "response": {
            "$ref": "ShippingsettingsListResponse"
          },
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "merchantId": {
              "type": "string",
              "location": "path",
              "format": "uint64",
              "required": true,
              "description": "The ID of the managing account. This must be a multi-client account."
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "uint32",
              "description": "The maximum number of shipping settings to return in the response, used for paging."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "get": {
          "description": "Retrieves the shipping settings of the account.",
          "response": {
            "$ref": "ShippingSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2/{merchantId}/shippingsettings/{accountId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "flatPath": "content/v2/{merchantId}/shippingsettings/{accountId}",
          "id": "content.shippingsettings.get",
          "parameters": {
            "merchantId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "required": true
            },
            "accountId": {
              "type": "string",
              "required": true,
              "location": "path",
              "format": "uint64",
              "description": "The ID of the account for which to get/update shipping settings."
            }
          }
        },
        "getsupportedholidays": {
          "httpMethod": "GET",
          "description": "Retrieves supported holidays for an account.",
          "id": "content.shippingsettings.getsupportedholidays",
          "parameterOrder": [
            "merchantId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account for which to retrieve the supported holidays.",
              "location": "path",
              "format": "uint64",
              "type": "string",
              "required": true
            }
          },
          "path": "content/v2/{merchantId}/supportedHolidays",
          "flatPath": "content/v2/{merchantId}/supportedHolidays",
          "response": {
            "$ref": "ShippingsettingsGetSupportedHolidaysResponse"
          }
        },
        "update": {
          "path": "content/v2/{merchantId}/shippingsettings/{accountId}",
          "response": {
            "$ref": "ShippingSettings"
          },
          "parameters": {
            "merchantId": {
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true,
              "type": "string",
              "format": "uint64"
            },
            "accountId": {
              "format": "uint64",
              "required": true,
              "type": "string",
              "description": "The ID of the account for which to get/update shipping settings.",
              "location": "path"
            },
            "dryRun": {
              "type": "boolean",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "location": "query"
            }
          },
          "description": "Updates the shipping settings of the account. Any fields that are not provided are deleted from the resource.",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "request": {
            "$ref": "ShippingSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "PUT",
          "id": "content.shippingsettings.update",
          "flatPath": "content/v2/{merchantId}/shippingsettings/{accountId}"
        },
        "custombatch": {
          "request": {
            "$ref": "ShippingsettingsCustomBatchRequest"
          },
          "path": "content/v2/shippingsettings/batch",
          "description": "Retrieves and updates the shipping settings of multiple accounts in a single request.",
          "flatPath": "content/v2/shippingsettings/batch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [],
          "id": "content.shippingsettings.custombatch",
          "response": {
            "$ref": "ShippingsettingsCustomBatchResponse"
          },
          "httpMethod": "POST",
          "parameters": {
            "dryRun": {
              "location": "query",
              "type": "boolean",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any)."
            }
          }
        },
        "getsupportedpickupservices": {
          "parameterOrder": [
            "merchantId"
          ],
          "flatPath": "content/v2/{merchantId}/supportedPickupServices",
          "id": "content.shippingsettings.getsupportedpickupservices",
          "path": "content/v2/{merchantId}/supportedPickupServices",
          "response": {
            "$ref": "ShippingsettingsGetSupportedPickupServicesResponse"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves supported pickup services for an account.",
          "parameters": {
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "required": true,
              "location": "path",
              "description": "The ID of the account for which to retrieve the supported pickup services."
            }
          }
        },
        "getsupportedcarriers": {
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "location": "path",
              "required": true,
              "format": "uint64",
              "type": "string",
              "description": "The ID of the account for which to retrieve the supported carriers."
            }
          },
          "id": "content.shippingsettings.getsupportedcarriers",
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "ShippingsettingsGetSupportedCarriersResponse"
          },
          "flatPath": "content/v2/{merchantId}/supportedCarriers",
          "description": "Retrieves supported carriers and carrier services for an account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2/{merchantId}/supportedCarriers"
        }
      }
    },
    "accounts": {
      "methods": {
        "update": {
          "description": "Updates a Merchant Center account. Any fields that are not provided are deleted from the resource.",
          "request": {
            "$ref": "Account"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2/{merchantId}/accounts/{accountId}",
          "parameters": {
            "accountId": {
              "format": "uint64",
              "type": "string",
              "location": "path",
              "description": "The ID of the account.",
              "required": true
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path",
              "type": "string",
              "required": true
            },
            "dryRun": {
              "location": "query",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "type": "boolean"
            }
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "id": "content.accounts.update",
          "path": "content/v2/{merchantId}/accounts/{accountId}",
          "response": {
            "$ref": "Account"
          }
        },
        "delete": {
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2/{merchantId}/accounts/{accountId}",
          "description": "Deletes a Merchant Center sub-account.",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "id": "content.accounts.delete",
          "flatPath": "content/v2/{merchantId}/accounts/{accountId}",
          "parameters": {
            "accountId": {
              "format": "uint64",
              "description": "The ID of the account.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "force": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Flag to delete sub-accounts with products. The default value is false."
            },
            "merchantId": {
              "required": true,
              "description": "The ID of the managing account. This must be a multi-client account, and accountId must be the ID of a sub-account of this account.",
              "location": "path",
              "type": "string",
              "format": "uint64"
            },
            "dryRun": {
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "location": "query",
              "type": "boolean"
            }
          }
        },
        "claimwebsite": {
          "flatPath": "content/v2/{merchantId}/accounts/{accountId}/claimwebsite",
          "path": "content/v2/{merchantId}/accounts/{accountId}/claimwebsite",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "httpMethod": "POST",
          "description": "Claims the website of a Merchant Center sub-account.",
          "response": {
            "$ref": "AccountsClaimWebsiteResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "accountId": {
              "format": "uint64",
              "type": "string",
              "location": "path",
              "description": "The ID of the account whose website is claimed.",
              "required": true
            },
            "merchantId": {
              "format": "uint64",
              "required": true,
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string",
              "location": "path"
            },
            "overwrite": {
              "type": "boolean",
              "location": "query",
              "description": "Only available to selected merchants. When set to `True`, this flag removes any existing claim on the requested website by another account and replaces it with a claim from this account."
            }
          },
          "id": "content.accounts.claimwebsite"
        },
        "get": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "Account"
          },
          "parameters": {
            "accountId": {
              "description": "The ID of the account.",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "uint64"
            },
            "merchantId": {
              "location": "path",
              "required": true,
              "format": "uint64",
              "type": "string",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account."
            }
          },
          "description": "Retrieves a Merchant Center account.",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "path": "content/v2/{merchantId}/accounts/{accountId}",
          "id": "content.accounts.get",
          "flatPath": "content/v2/{merchantId}/accounts/{accountId}"
        },
        "custombatch": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "AccountsCustomBatchRequest"
          },
          "id": "content.accounts.custombatch",
          "response": {
            "$ref": "AccountsCustomBatchResponse"
          },
          "path": "content/v2/accounts/batch",
          "description": "Retrieves, inserts, updates, and deletes multiple Merchant Center (sub-)accounts in a single request.",
          "flatPath": "content/v2/accounts/batch",
          "parameters": {
            "dryRun": {
              "type": "boolean",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "location": "query"
            }
          },
          "parameterOrder": []
        },
        "link": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2/{merchantId}/accounts/{accountId}/link",
          "response": {
            "$ref": "AccountsLinkResponse"
          },
          "httpMethod": "POST",
          "id": "content.accounts.link",
          "description": "Performs an action on a link between two Merchant Center accounts, namely accountId and linkedAccountId.",
          "parameters": {
            "merchantId": {
              "type": "string",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true,
              "location": "path",
              "format": "uint64"
            },
            "accountId": {
              "location": "path",
              "format": "uint64",
              "type": "string",
              "required": true,
              "description": "The ID of the account that should be linked."
            }
          },
          "flatPath": "content/v2/{merchantId}/accounts/{accountId}/link",
          "request": {
            "$ref": "AccountsLinkRequest"
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ]
        },
        "list": {
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "merchantId": {
              "description": "The ID of the managing account. This must be a multi-client account.",
              "type": "string",
              "location": "path",
              "required": true,
              "format": "uint64"
            },
            "maxResults": {
              "format": "uint32",
              "description": "The maximum number of accounts to return in the response, used for paging.",
              "location": "query",
              "type": "integer"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.accounts.list",
          "response": {
            "$ref": "AccountsListResponse"
          },
          "path": "content/v2/{merchantId}/accounts",
          "description": "Lists the sub-accounts in your Merchant Center account.",
          "parameterOrder": [
            "merchantId"
          ],
          "httpMethod": "GET",
          "flatPath": "content/v2/{merchantId}/accounts"
        },
        "insert": {
          "description": "Creates a Merchant Center sub-account.",
          "parameters": {
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "location": "path",
              "required": true,
              "description": "The ID of the managing account. This must be a multi-client account."
            },
            "dryRun": {
              "type": "boolean",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "location": "query"
            }
          },
          "id": "content.accounts.insert",
          "request": {
            "$ref": "Account"
          },
          "flatPath": "content/v2/{merchantId}/accounts",
          "response": {
            "$ref": "Account"
          },
          "httpMethod": "POST",
          "path": "content/v2/{merchantId}/accounts",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId"
          ]
        },
        "authinfo": {
          "parameters": {},
          "flatPath": "content/v2/accounts/authinfo",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2/accounts/authinfo",
          "description": "Returns information about the authenticated user.",
          "response": {
            "$ref": "AccountsAuthInfoResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [],
          "id": "content.accounts.authinfo"
        }
      }
    },
    "productstatuses": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "description": "Lists the statuses of the products in your Merchant Center account.",
          "flatPath": "content/v2/{merchantId}/productstatuses",
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "ProductstatusesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.productstatuses.list",
          "path": "content/v2/{merchantId}/productstatuses",
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that contains the products. This account cannot be a multi-client account.",
              "format": "uint64",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "maxResults": {
              "location": "query",
              "description": "The maximum number of product statuses to return in the response, used for paging.",
              "type": "integer",
              "format": "uint32"
            },
            "includeInvalidInsertedItems": {
              "description": "Flag to include the invalid inserted items in the result of the list request. By default the invalid items are not shown (the default value is false).",
              "location": "query",
              "type": "boolean"
            },
            "destinations": {
              "type": "string",
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "location": "query",
              "repeated": true
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "includeAttributes": {
              "location": "query",
              "description": "Flag to include full product data in the results of the list request. The default value is false.",
              "type": "boolean"
            }
          }
        },
        "custombatch": {
          "response": {
            "$ref": "ProductstatusesCustomBatchResponse"
          },
          "parameterOrder": [],
          "path": "content/v2/productstatuses/batch",
          "flatPath": "content/v2/productstatuses/batch",
          "httpMethod": "POST",
          "id": "content.productstatuses.custombatch",
          "request": {
            "$ref": "ProductstatusesCustomBatchRequest"
          },
          "description": "Gets the statuses of multiple products in a single request.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "includeAttributes": {
              "type": "boolean",
              "location": "query",
              "description": "Flag to include full product data in the results of this request. The default value is false."
            }
          }
        },
        "get": {
          "description": "Gets the status of a product from your Merchant Center account.",
          "response": {
            "$ref": "ProductStatus"
          },
          "id": "content.productstatuses.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2/{merchantId}/productstatuses/{productId}",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "path": "content/v2/{merchantId}/productstatuses/{productId}",
          "parameters": {
            "includeAttributes": {
              "description": "Flag to include full product data in the result of this get request. The default value is false.",
              "type": "boolean",
              "location": "query"
            },
            "destinations": {
              "type": "string",
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "location": "query",
              "repeated": true
            },
            "merchantId": {
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "location": "path",
              "type": "string",
              "required": true,
              "format": "uint64"
            },
            "productId": {
              "description": "The REST ID of the product.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "GET"
        }
      }
    },
    "orderreturns": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2/{merchantId}/orderreturns",
          "response": {
            "$ref": "OrderreturnsListResponse"
          },
          "id": "content.orderreturns.list",
          "description": "Lists order returns in your Merchant Center account.",
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId"
          ],
          "path": "content/v2/{merchantId}/orderreturns",
          "parameters": {
            "createdStartDate": {
              "type": "string",
              "location": "query",
              "description": "Obtains order returns created after this date (inclusively), in ISO 8601 format."
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "enum": [
                "RETURN_CREATION_TIME_DESC",
                "RETURN_CREATION_TIME_ASC"
              ],
              "description": "Return the results in the specified order.",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "createdEndDate": {
              "description": "Obtains order returns created before this date (inclusively), in ISO 8601 format.",
              "location": "query",
              "type": "string"
            },
            "merchantId": {
              "format": "uint64",
              "type": "string",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "location": "path",
              "required": true
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "description": "The maximum number of order returns to return in the response, used for paging. The default value is 25 returns per page, and the maximum allowed value is 250 returns per page.",
              "format": "uint32",
              "type": "integer"
            }
          }
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "location": "path",
              "format": "uint64",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "type": "string",
              "required": true
            },
            "returnId": {
              "type": "string",
              "location": "path",
              "description": "Merchant order return ID generated by Google.",
              "required": true
            }
          },
          "path": "content/v2/{merchantId}/orderreturns/{returnId}",
          "flatPath": "content/v2/{merchantId}/orderreturns/{returnId}",
          "response": {
            "$ref": "MerchantOrderReturn"
          },
          "parameterOrder": [
            "merchantId",
            "returnId"
          ],
          "description": "Retrieves an order return from your Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.orderreturns.get"
        }
      }
    },
    "accountstatuses": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "id": "content.accountstatuses.list",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "AccountstatusesListResponse"
          },
          "description": "Lists the statuses of the sub-accounts in your Merchant Center account.",
          "parameterOrder": [
            "merchantId"
          ],
          "flatPath": "content/v2/{merchantId}/accountstatuses",
          "parameters": {
            "merchantId": {
              "description": "The ID of the managing account. This must be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "type": "string",
              "required": true
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            },
            "destinations": {
              "location": "query",
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "repeated": true,
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of account statuses to return in the response, used for paging.",
              "type": "integer",
              "location": "query",
              "format": "uint32"
            }
          },
          "path": "content/v2/{merchantId}/accountstatuses"
        },
        "get": {
          "flatPath": "content/v2/{merchantId}/accountstatuses/{accountId}",
          "httpMethod": "GET",
          "path": "content/v2/{merchantId}/accountstatuses/{accountId}",
          "id": "content.accountstatuses.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "destinations": {
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "type": "string",
              "repeated": true,
              "location": "query"
            },
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true,
              "location": "path"
            },
            "accountId": {
              "format": "uint64",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the account."
            }
          },
          "description": "Retrieves the status of a Merchant Center account. No itemLevelIssues are returned for multi-client accounts.",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "response": {
            "$ref": "AccountStatus"
          }
        },
        "custombatch": {
          "httpMethod": "POST",
          "parameters": {},
          "description": "Retrieves multiple Merchant Center account statuses in a single request.",
          "request": {
            "$ref": "AccountstatusesCustomBatchRequest"
          },
          "parameterOrder": [],
          "response": {
            "$ref": "AccountstatusesCustomBatchResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2/accountstatuses/batch",
          "flatPath": "content/v2/accountstatuses/batch",
          "id": "content.accountstatuses.custombatch"
        }
      }
    },
    "products": {
      "methods": {
        "delete": {
          "id": "content.products.delete",
          "httpMethod": "DELETE",
          "path": "content/v2/{merchantId}/products/{productId}",
          "flatPath": "content/v2/{merchantId}/products/{productId}",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "format": "uint64",
              "type": "string",
              "location": "path",
              "required": true
            },
            "dryRun": {
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "location": "query",
              "type": "boolean"
            },
            "productId": {
              "description": "The REST ID of the product.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "description": "Deletes a product from your Merchant Center account."
        },
        "get": {
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "parameters": {
            "merchantId": {
              "location": "path",
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "format": "uint64",
              "type": "string",
              "required": true
            },
            "productId": {
              "type": "string",
              "required": true,
              "description": "The REST ID of the product.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "Product"
          },
          "path": "content/v2/{merchantId}/products/{productId}",
          "flatPath": "content/v2/{merchantId}/products/{productId}",
          "description": "Retrieves a product from your Merchant Center account.",
          "httpMethod": "GET",
          "id": "content.products.get"
        },
        "list": {
          "path": "content/v2/{merchantId}/products",
          "id": "content.products.list",
          "parameters": {
            "maxResults": {
              "description": "The maximum number of products to return in the response, used for paging.",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            },
            "includeInvalidInsertedItems": {
              "type": "boolean",
              "description": "Flag to include the invalid inserted items in the result of the list request. By default the invalid items are not shown (the default value is false).",
              "location": "query"
            },
            "merchantId": {
              "required": true,
              "format": "uint64",
              "description": "The ID of the account that contains the products. This account cannot be a multi-client account.",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "ProductsListResponse"
          },
          "description": "Lists the products in your Merchant Center account. The response might contain fewer items than specified by maxResults. Rely on nextPageToken to determine if there are more items to be requested.",
          "flatPath": "content/v2/{merchantId}/products",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET"
        },
        "custombatch": {
          "description": "Retrieves, inserts, and deletes multiple products in a single request.",
          "parameters": {
            "dryRun": {
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "location": "query",
              "type": "boolean"
            }
          },
          "flatPath": "content/v2/products/batch",
          "id": "content.products.custombatch",
          "response": {
            "$ref": "ProductsCustomBatchResponse"
          },
          "request": {
            "$ref": "ProductsCustomBatchRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2/products/batch",
          "httpMethod": "POST",
          "parameterOrder": []
        },
        "insert": {
          "description": "Uploads a product to your Merchant Center account. If an item with the same channel, contentLanguage, offerId, and targetCountry already exists, this method updates that entry.",
          "id": "content.products.insert",
          "response": {
            "$ref": "Product"
          },
          "flatPath": "content/v2/{merchantId}/products",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "dryRun": {
              "location": "query",
              "type": "boolean",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any)."
            },
            "merchantId": {
              "format": "uint64",
              "required": true,
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "path": "content/v2/{merchantId}/products",
          "request": {
            "$ref": "Product"
          },
          "parameterOrder": [
            "merchantId"
          ]
        }
      }
    },
    "datafeeds": {
      "methods": {
        "update": {
          "response": {
            "$ref": "Datafeed"
          },
          "request": {
            "$ref": "Datafeed"
          },
          "path": "content/v2/{merchantId}/datafeeds/{datafeedId}",
          "httpMethod": "PUT",
          "id": "content.datafeeds.update",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "dryRun": {
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "type": "boolean",
              "location": "query"
            },
            "datafeedId": {
              "type": "string",
              "format": "uint64",
              "location": "path",
              "required": true,
              "description": "The ID of the datafeed."
            },
            "merchantId": {
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "type": "string",
              "format": "uint64",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "content/v2/{merchantId}/datafeeds/{datafeedId}",
          "description": "Updates a datafeed configuration of your Merchant Center account. Any fields that are not provided are deleted from the resource.",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ]
        },
        "insert": {
          "response": {
            "$ref": "Datafeed"
          },
          "description": "Registers a datafeed configuration with your Merchant Center account.",
          "id": "content.datafeeds.insert",
          "flatPath": "content/v2/{merchantId}/datafeeds",
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "required": true,
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "location": "path",
              "type": "string"
            },
            "dryRun": {
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "location": "query",
              "type": "boolean"
            }
          },
          "httpMethod": "POST",
          "path": "content/v2/{merchantId}/datafeeds",
          "parameterOrder": [
            "merchantId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "Datafeed"
          }
        },
        "custombatch": {
          "request": {
            "$ref": "DatafeedsCustomBatchRequest"
          },
          "description": "Deletes, fetches, gets, inserts and updates multiple datafeeds in a single request.",
          "httpMethod": "POST",
          "response": {
            "$ref": "DatafeedsCustomBatchResponse"
          },
          "path": "content/v2/datafeeds/batch",
          "parameterOrder": [],
          "flatPath": "content/v2/datafeeds/batch",
          "parameters": {
            "dryRun": {
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "location": "query",
              "type": "boolean"
            }
          },
          "id": "content.datafeeds.custombatch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "delete": {
          "path": "content/v2/{merchantId}/datafeeds/{datafeedId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.datafeeds.delete",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "flatPath": "content/v2/{merchantId}/datafeeds/{datafeedId}",
          "parameters": {
            "datafeedId": {
              "format": "uint64",
              "type": "string",
              "required": true,
              "description": "The ID of the datafeed.",
              "location": "path"
            },
            "merchantId": {
              "location": "path",
              "format": "uint64",
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "required": true,
              "type": "string"
            },
            "dryRun": {
              "location": "query",
              "type": "boolean",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any)."
            }
          },
          "description": "Deletes a datafeed configuration from your Merchant Center account."
        },
        "list": {
          "parameterOrder": [
            "merchantId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "DatafeedsListResponse"
          },
          "description": "Lists the configurations for datafeeds in your Merchant Center account.",
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "format": "uint32",
              "description": "The maximum number of products to return in the response, used for paging.",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            },
            "merchantId": {
              "required": true,
              "format": "uint64",
              "type": "string",
              "location": "path",
              "description": "The ID of the account that manages the datafeeds. This account cannot be a multi-client account."
            }
          },
          "flatPath": "content/v2/{merchantId}/datafeeds",
          "id": "content.datafeeds.list",
          "path": "content/v2/{merchantId}/datafeeds"
        },
        "fetchnow": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "description": "Invokes a fetch for the datafeed in your Merchant Center account.",
          "parameters": {
            "merchantId": {
              "required": true,
              "location": "path",
              "format": "uint64",
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "type": "string"
            },
            "datafeedId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the datafeed to be fetched.",
              "format": "uint64"
            },
            "dryRun": {
              "location": "query",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "type": "boolean"
            }
          },
          "response": {
            "$ref": "DatafeedsFetchNowResponse"
          },
          "flatPath": "content/v2/{merchantId}/datafeeds/{datafeedId}/fetchNow",
          "id": "content.datafeeds.fetchnow",
          "path": "content/v2/{merchantId}/datafeeds/{datafeedId}/fetchNow"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2/{merchantId}/datafeeds/{datafeedId}",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "flatPath": "content/v2/{merchantId}/datafeeds/{datafeedId}",
          "description": "Retrieves a datafeed configuration from your Merchant Center account.",
          "parameters": {
            "datafeedId": {
              "type": "string",
              "format": "uint64",
              "required": true,
              "location": "path",
              "description": "The ID of the datafeed."
            },
            "merchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "format": "uint64"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "Datafeed"
          },
          "id": "content.datafeeds.get"
        }
      }
    },
    "accounttax": {
      "methods": {
        "custombatch": {
          "description": "Retrieves and updates tax settings of multiple accounts in a single request.",
          "path": "content/v2/accounttax/batch",
          "request": {
            "$ref": "AccounttaxCustomBatchRequest"
          },
          "httpMethod": "POST",
          "id": "content.accounttax.custombatch",
          "parameters": {
            "dryRun": {
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "location": "query",
              "type": "boolean"
            }
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2/accounttax/batch",
          "response": {
            "$ref": "AccounttaxCustomBatchResponse"
          }
        },
        "list": {
          "description": "Lists the tax settings of the sub-accounts in your Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "AccounttaxListResponse"
          },
          "id": "content.accounttax.list",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            },
            "merchantId": {
              "location": "path",
              "description": "The ID of the managing account. This must be a multi-client account.",
              "format": "uint64",
              "type": "string",
              "required": true
            },
            "maxResults": {
              "location": "query",
              "format": "uint32",
              "description": "The maximum number of tax settings to return in the response, used for paging.",
              "type": "integer"
            }
          },
          "path": "content/v2/{merchantId}/accounttax",
          "httpMethod": "GET",
          "flatPath": "content/v2/{merchantId}/accounttax"
        },
        "update": {
          "id": "content.accounttax.update",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "PUT",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "accountId": {
              "required": true,
              "description": "The ID of the account for which to get/update account tax settings.",
              "type": "string",
              "location": "path",
              "format": "uint64"
            },
            "dryRun": {
              "location": "query",
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "type": "boolean"
            },
            "merchantId": {
              "format": "uint64",
              "location": "path",
              "type": "string",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true
            }
          },
          "flatPath": "content/v2/{merchantId}/accounttax/{accountId}",
          "path": "content/v2/{merchantId}/accounttax/{accountId}",
          "request": {
            "$ref": "AccountTax"
          },
          "description": "Updates the tax settings of the account. Any fields that are not provided are deleted from the resource.",
          "response": {
            "$ref": "AccountTax"
          }
        },
        "get": {
          "parameters": {
            "merchantId": {
              "required": true,
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string",
              "location": "path",
              "format": "uint64"
            },
            "accountId": {
              "description": "The ID of the account for which to get/update account tax settings.",
              "format": "uint64",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "AccountTax"
          },
          "flatPath": "content/v2/{merchantId}/accounttax/{accountId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "description": "Retrieves the tax settings of the account.",
          "id": "content.accounttax.get",
          "path": "content/v2/{merchantId}/accounttax/{accountId}"
        }
      }
    },
    "orders": {
      "methods": {
        "shiplineitems": {
          "id": "content.orders.shiplineitems",
          "path": "content/v2/{merchantId}/orders/{orderId}/shipLineItems",
          "parameters": {
            "merchantId": {
              "location": "path",
              "required": true,
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "type": "string"
            },
            "orderId": {
              "required": true,
              "type": "string",
              "description": "The ID of the order.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "OrdersShipLineItemsResponse"
          },
          "description": "Marks line item(s) as shipped.",
          "flatPath": "content/v2/{merchantId}/orders/{orderId}/shipLineItems",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "OrdersShipLineItemsRequest"
          },
          "parameterOrder": [
            "merchantId",
            "orderId"
          ]
        },
        "returnrefundlineitem": {
          "id": "content.orders.returnrefundlineitem",
          "request": {
            "$ref": "OrdersReturnRefundLineItemRequest"
          },
          "parameters": {
            "merchantId": {
              "required": true,
              "type": "string",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "location": "path",
              "format": "uint64"
            },
            "orderId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the order."
            }
          },
          "flatPath": "content/v2/{merchantId}/orders/{orderId}/returnRefundLineItem",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "OrdersReturnRefundLineItemResponse"
          },
          "description": "Returns and refunds a line item. Note that this method can only be called on fully shipped orders. Please also note that the Orderreturns API is the preferred way to handle returns after you receive a return from a customer. You can use Orderreturns.list or Orderreturns.get to search for the return, and then use Orderreturns.processreturn to issue the refund. If the return cannot be found, then we recommend using this API to issue a refund.",
          "httpMethod": "POST",
          "path": "content/v2/{merchantId}/orders/{orderId}/returnRefundLineItem"
        },
        "list": {
          "description": "Lists the orders in your Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "OrdersListResponse"
          },
          "flatPath": "content/v2/{merchantId}/orders",
          "httpMethod": "GET",
          "id": "content.orders.list",
          "path": "content/v2/{merchantId}/orders",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "Order results by placement date in descending or ascending order. Acceptable values are: - placedDateAsc - placedDateDesc "
            },
            "maxResults": {
              "format": "uint32",
              "location": "query",
              "description": "The maximum number of orders to return in the response, used for paging. The default value is 25 orders per page, and the maximum allowed value is 250 orders per page.",
              "type": "integer"
            },
            "placedDateEnd": {
              "description": "Obtains orders placed before this date (exclusively), in ISO 8601 format.",
              "type": "string",
              "location": "query"
            },
            "acknowledged": {
              "location": "query",
              "type": "boolean",
              "description": "Obtains orders that match the acknowledgement status. When set to true, obtains orders that have been acknowledged. When false, obtains orders that have not been acknowledged. We recommend using this filter set to `false`, in conjunction with the `acknowledge` call, such that only un-acknowledged orders are returned. "
            },
            "statuses": {
              "location": "query",
              "description": "Obtains orders that match any of the specified statuses. Please note that `active` is a shortcut for `pendingShipment` and `partiallyShipped`, and `completed` is a shortcut for `shipped`, `partiallyDelivered`, `delivered`, `partiallyReturned`, `returned`, and `canceled`.",
              "type": "string",
              "enum": [
                "ACTIVE",
                "COMPLETED",
                "CANCELED",
                "IN_PROGRESS",
                "PENDING_SHIPMENT",
                "PARTIALLY_SHIPPED",
                "SHIPPED",
                "PARTIALLY_DELIVERED",
                "DELIVERED",
                "PARTIALLY_RETURNED",
                "RETURNED"
              ],
              "repeated": true,
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ]
            },
            "merchantId": {
              "location": "path",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "required": true,
              "type": "string"
            },
            "placedDateStart": {
              "description": "Obtains orders placed after this date (inclusively), in ISO 8601 format.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [
            "merchantId"
          ]
        },
        "getbymerchantorderid": {
          "parameters": {
            "merchantOrderId": {
              "required": true,
              "description": "The merchant order ID to be looked for.",
              "type": "string",
              "location": "path"
            },
            "merchantId": {
              "format": "uint64",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Retrieves an order using merchant order ID.",
          "path": "content/v2/{merchantId}/ordersbymerchantid/{merchantOrderId}",
          "flatPath": "content/v2/{merchantId}/ordersbymerchantid/{merchantOrderId}",
          "response": {
            "$ref": "OrdersGetByMerchantOrderIdResponse"
          },
          "httpMethod": "GET",
          "id": "content.orders.getbymerchantorderid",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "merchantOrderId"
          ]
        },
        "rejectreturnlineitem": {
          "response": {
            "$ref": "OrdersRejectReturnLineItemResponse"
          },
          "description": "Rejects return on an line item.",
          "path": "content/v2/{merchantId}/orders/{orderId}/rejectReturnLineItem",
          "httpMethod": "POST",
          "id": "content.orders.rejectreturnlineitem",
          "request": {
            "$ref": "OrdersRejectReturnLineItemRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2/{merchantId}/orders/{orderId}/rejectReturnLineItem",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "parameters": {
            "merchantId": {
              "type": "string",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "required": true
            },
            "orderId": {
              "description": "The ID of the order.",
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        },
        "cancellineitem": {
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "parameters": {
            "orderId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the order."
            },
            "merchantId": {
              "type": "string",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "required": true,
              "format": "uint64",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.orders.cancellineitem",
          "response": {
            "$ref": "OrdersCancelLineItemResponse"
          },
          "description": "Cancels a line item, making a full refund.",
          "path": "content/v2/{merchantId}/orders/{orderId}/cancelLineItem",
          "flatPath": "content/v2/{merchantId}/orders/{orderId}/cancelLineItem",
          "request": {
            "$ref": "OrdersCancelLineItemRequest"
          }
        },
        "get": {
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "response": {
            "$ref": "Order"
          },
          "parameters": {
            "orderId": {
              "description": "The ID of the order.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "merchantId": {
              "format": "uint64",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "content/v2/{merchantId}/orders/{orderId}",
          "id": "content.orders.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "description": "Retrieves an order from your Merchant Center account.",
          "path": "content/v2/{merchantId}/orders/{orderId}"
        },
        "updateshipment": {
          "request": {
            "$ref": "OrdersUpdateShipmentRequest"
          },
          "httpMethod": "POST",
          "path": "content/v2/{merchantId}/orders/{orderId}/updateShipment",
          "id": "content.orders.updateshipment",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "description": "Updates a shipment's status, carrier, and/or tracking ID.",
          "parameters": {
            "orderId": {
              "description": "The ID of the order.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "merchantId": {
              "format": "uint64",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "OrdersUpdateShipmentResponse"
          },
          "flatPath": "content/v2/{merchantId}/orders/{orderId}/updateShipment"
        },
        "gettestordertemplate": {
          "httpMethod": "GET",
          "parameters": {
            "country": {
              "type": "string",
              "description": "The country of the template to retrieve. Defaults to `US`.",
              "location": "query"
            },
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "location": "path",
              "description": "The ID of the account that should manage the order. This cannot be a multi-client account.",
              "required": true
            },
            "templateName": {
              "location": "path",
              "enum": [
                "TEMPLATE1",
                "TEMPLATE2",
                "TEMPLATE1A",
                "TEMPLATE1B",
                "TEMPLATE3"
              ],
              "required": true,
              "description": "The name of the template to retrieve.",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                ""
              ],
              "type": "string"
            }
          },
          "id": "content.orders.gettestordertemplate",
          "parameterOrder": [
            "merchantId",
            "templateName"
          ],
          "flatPath": "content/v2/{merchantId}/testordertemplates/{templateName}",
          "path": "content/v2/{merchantId}/testordertemplates/{templateName}",
          "description": "Sandbox only. Retrieves an order template that can be used to quickly create a new order in sandbox.",
          "response": {
            "$ref": "OrdersGetTestOrderTemplateResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "updatemerchantorderid": {
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "path": "content/v2/{merchantId}/orders/{orderId}/updateMerchantOrderId",
          "flatPath": "content/v2/{merchantId}/orders/{orderId}/updateMerchantOrderId",
          "httpMethod": "POST",
          "id": "content.orders.updatemerchantorderid",
          "response": {
            "$ref": "OrdersUpdateMerchantOrderIdResponse"
          },
          "description": "Updates the merchant order ID for a given order.",
          "parameters": {
            "orderId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the order."
            },
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "request": {
            "$ref": "OrdersUpdateMerchantOrderIdRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "custombatch": {
          "request": {
            "$ref": "OrdersCustomBatchRequest"
          },
          "id": "content.orders.custombatch",
          "flatPath": "content/v2/orders/batch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {},
          "response": {
            "$ref": "OrdersCustomBatchResponse"
          },
          "parameterOrder": [],
          "description": "Retrieves or modifies multiple orders in a single request.",
          "httpMethod": "POST",
          "path": "content/v2/orders/batch"
        },
        "createtestreturn": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "OrdersCreateTestReturnResponse"
          },
          "httpMethod": "POST",
          "id": "content.orders.createtestreturn",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "request": {
            "$ref": "OrdersCreateTestReturnRequest"
          },
          "parameters": {
            "orderId": {
              "description": "The ID of the order.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "merchantId": {
              "format": "uint64",
              "required": true,
              "location": "path",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "type": "string"
            }
          },
          "description": "Sandbox only. Creates a test return.",
          "flatPath": "content/v2/{merchantId}/orders/{orderId}/testreturn",
          "path": "content/v2/{merchantId}/orders/{orderId}/testreturn"
        },
        "acknowledge": {
          "httpMethod": "POST",
          "response": {
            "$ref": "OrdersAcknowledgeResponse"
          },
          "id": "content.orders.acknowledge",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "request": {
            "$ref": "OrdersAcknowledgeRequest"
          },
          "parameters": {
            "merchantId": {
              "type": "string",
              "required": true,
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "location": "path",
              "format": "uint64"
            },
            "orderId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the order."
            }
          },
          "description": "Marks an order as acknowledged.",
          "path": "content/v2/{merchantId}/orders/{orderId}/acknowledge",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2/{merchantId}/orders/{orderId}/acknowledge"
        },
        "updatelineitemshippingdetails": {
          "description": "Updates ship by and delivery by dates for a line item.",
          "parameters": {
            "orderId": {
              "location": "path",
              "required": true,
              "description": "The ID of the order.",
              "type": "string"
            },
            "merchantId": {
              "location": "path",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "type": "string",
              "format": "uint64",
              "required": true
            }
          },
          "request": {
            "$ref": "OrdersUpdateLineItemShippingDetailsRequest"
          },
          "httpMethod": "POST",
          "path": "content/v2/{merchantId}/orders/{orderId}/updateLineItemShippingDetails",
          "response": {
            "$ref": "OrdersUpdateLineItemShippingDetailsResponse"
          },
          "flatPath": "content/v2/{merchantId}/orders/{orderId}/updateLineItemShippingDetails",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.orders.updatelineitemshippingdetails",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ]
        },
        "canceltestorderbycustomer": {
          "description": "Sandbox only. Cancels a test order for customer-initiated cancellation.",
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2/{merchantId}/testorders/{orderId}/cancelByCustomer",
          "parameters": {
            "merchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64"
            },
            "orderId": {
              "location": "path",
              "description": "The ID of the test order to cancel.",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "OrdersCancelTestOrderByCustomerResponse"
          },
          "request": {
            "$ref": "OrdersCancelTestOrderByCustomerRequest"
          },
          "path": "content/v2/{merchantId}/testorders/{orderId}/cancelByCustomer",
          "id": "content.orders.canceltestorderbycustomer"
        },
        "setlineitemmetadata": {
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "OrdersSetLineItemMetadataRequest"
          },
          "parameters": {
            "merchantId": {
              "required": true,
              "type": "string",
              "format": "uint64",
              "location": "path",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account."
            },
            "orderId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the order.",
              "required": true
            }
          },
          "flatPath": "content/v2/{merchantId}/orders/{orderId}/setLineItemMetadata",
          "id": "content.orders.setlineitemmetadata",
          "path": "content/v2/{merchantId}/orders/{orderId}/setLineItemMetadata",
          "httpMethod": "POST",
          "response": {
            "$ref": "OrdersSetLineItemMetadataResponse"
          },
          "description": "Sets (or overrides if it already exists) merchant provided annotations in the form of key-value pairs. A common use case would be to supply us with additional structured information about a line item that cannot be provided via other methods. Submitted key-value pairs can be retrieved as part of the orders resource."
        },
        "refund": {
          "httpMethod": "POST",
          "flatPath": "content/v2/{merchantId}/orders/{orderId}/refund",
          "request": {
            "$ref": "OrdersRefundRequest"
          },
          "description": "Deprecated, please use returnRefundLineItem instead.",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "response": {
            "$ref": "OrdersRefundResponse"
          },
          "parameters": {
            "merchantId": {
              "type": "string",
              "location": "path",
              "format": "uint64",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "required": true
            },
            "orderId": {
              "description": "The ID of the order to refund.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "content.orders.refund",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2/{merchantId}/orders/{orderId}/refund"
        },
        "cancel": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "description": "Cancels all line items in an order, making a full refund.",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "id": "content.orders.cancel",
          "request": {
            "$ref": "OrdersCancelRequest"
          },
          "parameters": {
            "orderId": {
              "location": "path",
              "required": true,
              "description": "The ID of the order to cancel.",
              "type": "string"
            },
            "merchantId": {
              "location": "path",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "content/v2/{merchantId}/orders/{orderId}/cancel",
          "response": {
            "$ref": "OrdersCancelResponse"
          },
          "path": "content/v2/{merchantId}/orders/{orderId}/cancel"
        },
        "instorerefundlineitem": {
          "request": {
            "$ref": "OrdersInStoreRefundLineItemRequest"
          },
          "httpMethod": "POST",
          "id": "content.orders.instorerefundlineitem",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "flatPath": "content/v2/{merchantId}/orders/{orderId}/inStoreRefundLineItem",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2/{merchantId}/orders/{orderId}/inStoreRefundLineItem",
          "description": "Deprecated. Notifies that item return and refund was handled directly by merchant outside of Google payments processing (e.g. cash refund done in store). Note: We recommend calling the returnrefundlineitem method to refund in-store returns. We will issue the refund directly to the customer. This helps to prevent possible differences arising between merchant and Google transaction records. We also recommend having the point of sale system communicate with Google to ensure that customers do not receive a double refund by first refunding via Google then via an in-store return.",
          "response": {
            "$ref": "OrdersInStoreRefundLineItemResponse"
          },
          "parameters": {
            "orderId": {
              "required": true,
              "location": "path",
              "description": "The ID of the order.",
              "type": "string"
            },
            "merchantId": {
              "format": "uint64",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        },
        "createtestorder": {
          "flatPath": "content/v2/{merchantId}/testorders",
          "response": {
            "$ref": "OrdersCreateTestOrderResponse"
          },
          "parameters": {
            "merchantId": {
              "required": true,
              "description": "The ID of the account that should manage the order. This cannot be a multi-client account.",
              "type": "string",
              "format": "uint64",
              "location": "path"
            }
          },
          "path": "content/v2/{merchantId}/testorders",
          "description": "Sandbox only. Creates a test order.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.orders.createtestorder",
          "parameterOrder": [
            "merchantId"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "OrdersCreateTestOrderRequest"
          }
        },
        "advancetestorder": {
          "flatPath": "content/v2/{merchantId}/testorders/{orderId}/advance",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "orderId": {
              "type": "string",
              "required": true,
              "description": "The ID of the test order to modify.",
              "location": "path"
            },
            "merchantId": {
              "type": "string",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "location": "path",
              "format": "uint64",
              "required": true
            }
          },
          "id": "content.orders.advancetestorder",
          "path": "content/v2/{merchantId}/testorders/{orderId}/advance",
          "httpMethod": "POST",
          "response": {
            "$ref": "OrdersAdvanceTestOrderResponse"
          },
          "description": "Sandbox only. Moves a test order from state \"`inProgress`\" to state \"`pendingShipment`\"."
        },
        "returnlineitem": {
          "description": "Returns a line item.",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.orders.returnlineitem",
          "httpMethod": "POST",
          "flatPath": "content/v2/{merchantId}/orders/{orderId}/returnLineItem",
          "response": {
            "$ref": "OrdersReturnLineItemResponse"
          },
          "path": "content/v2/{merchantId}/orders/{orderId}/returnLineItem",
          "request": {
            "$ref": "OrdersReturnLineItemRequest"
          },
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "location": "path",
              "type": "string",
              "format": "uint64",
              "required": true
            },
            "orderId": {
              "required": true,
              "location": "path",
              "description": "The ID of the order.",
              "type": "string"
            }
          }
        }
      }
    },
    "orderreports": {
      "methods": {
        "listdisbursements": {
          "description": "Retrieves a report for disbursements from your Merchant Center account.",
          "parameters": {
            "disbursementStartDate": {
              "description": "The first date which disbursements occurred. In ISO 8601 format.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "merchantId": {
              "type": "string",
              "location": "path",
              "required": true,
              "format": "uint64",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account."
            },
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of disbursements to return in the response, used for paging.",
              "location": "query",
              "format": "uint32"
            },
            "disbursementEndDate": {
              "type": "string",
              "description": "The last date which disbursements occurred. In ISO 8601 format. Default: current date.",
              "location": "query"
            }
          },
          "path": "content/v2/{merchantId}/orderreports/disbursements",
          "id": "content.orderreports.listdisbursements",
          "response": {
            "$ref": "OrderreportsListDisbursementsResponse"
          },
          "parameterOrder": [
            "merchantId"
          ],
          "httpMethod": "GET",
          "flatPath": "content/v2/{merchantId}/orderreports/disbursements",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "listtransactions": {
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId",
            "disbursementId"
          ],
          "response": {
            "$ref": "OrderreportsListTransactionsResponse"
          },
          "path": "content/v2/{merchantId}/orderreports/disbursements/{disbursementId}/transactions",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2/{merchantId}/orderreports/disbursements/{disbursementId}/transactions",
          "parameters": {
            "maxResults": {
              "format": "uint32",
              "description": "The maximum number of disbursements to return in the response, used for paging.",
              "location": "query",
              "type": "integer"
            },
            "disbursementId": {
              "description": "The Google-provided ID of the disbursement (found in Wallet).",
              "type": "string",
              "location": "path",
              "required": true
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "transactionEndDate": {
              "description": "The last date in which transaction occurred. In ISO 8601 format. Default: current date.",
              "type": "string",
              "location": "query"
            },
            "merchantId": {
              "required": true,
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path",
              "type": "string"
            },
            "transactionStartDate": {
              "location": "query",
              "description": "The first date in which transaction occurred. In ISO 8601 format.",
              "type": "string"
            }
          },
          "description": "Retrieves a list of transactions for a disbursement from your Merchant Center account.",
          "id": "content.orderreports.listtransactions"
        }
      }
    },
    "orderinvoices": {
      "methods": {
        "createchargeinvoice": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "flatPath": "content/v2/{merchantId}/orderinvoices/{orderId}/createChargeInvoice",
          "description": "Creates a charge invoice for a shipment group, and triggers a charge capture for orderinvoice enabled orders.",
          "path": "content/v2/{merchantId}/orderinvoices/{orderId}/createChargeInvoice",
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account."
            },
            "orderId": {
              "required": true,
              "type": "string",
              "description": "The ID of the order.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "OrderinvoicesCreateChargeInvoiceResponse"
          },
          "request": {
            "$ref": "OrderinvoicesCreateChargeInvoiceRequest"
          },
          "id": "content.orderinvoices.createchargeinvoice"
        },
        "createrefundinvoice": {
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2/{merchantId}/orderinvoices/{orderId}/createRefundInvoice",
          "flatPath": "content/v2/{merchantId}/orderinvoices/{orderId}/createRefundInvoice",
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "type": "string",
              "location": "path",
              "format": "uint64",
              "required": true
            },
            "orderId": {
              "location": "path",
              "required": true,
              "description": "The ID of the order.",
              "type": "string"
            }
          },
          "request": {
            "$ref": "OrderinvoicesCreateRefundInvoiceRequest"
          },
          "response": {
            "$ref": "OrderinvoicesCreateRefundInvoiceResponse"
          },
          "httpMethod": "POST",
          "id": "content.orderinvoices.createrefundinvoice",
          "description": "Creates a refund invoice for one or more shipment groups, and triggers a refund for orderinvoice enabled orders. This can only be used for line items that have previously been charged using `createChargeInvoice`. All amounts (except for the summary) are incremental with respect to the previous invoice."
        }
      }
    },
    "liasettings": {
      "methods": {
        "listposdataproviders": {
          "response": {
            "$ref": "LiasettingsListPosDataProvidersResponse"
          },
          "description": "Retrieves the list of POS data providers that have active settings for the all eiligible countries.",
          "flatPath": "content/v2/liasettings/posdataproviders",
          "path": "content/v2/liasettings/posdataproviders",
          "parameterOrder": [],
          "id": "content.liasettings.listposdataproviders",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "parameters": {}
        },
        "update": {
          "description": "Updates the LIA settings of the account. Any fields that are not provided are deleted from the resource.",
          "parameters": {
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "location": "path",
              "format": "uint64",
              "required": true,
              "type": "string"
            },
            "dryRun": {
              "description": "Flag to simulate a request like in a live environment. If set to true, dry-run mode checks the validity of the request and returns errors (if any).",
              "location": "query",
              "type": "boolean"
            },
            "accountId": {
              "required": true,
              "location": "path",
              "description": "The ID of the account for which to get or update LIA settings.",
              "format": "uint64",
              "type": "string"
            }
          },
          "response": {
            "$ref": "LiaSettings"
          },
          "flatPath": "content/v2/{merchantId}/liasettings/{accountId}",
          "id": "content.liasettings.update",
          "request": {
            "$ref": "LiaSettings"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "path": "content/v2/{merchantId}/liasettings/{accountId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "requestgmbaccess": {
          "description": "Requests access to a specified Google My Business account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "LiasettingsRequestGmbAccessResponse"
          },
          "httpMethod": "POST",
          "path": "content/v2/{merchantId}/liasettings/{accountId}/requestgmbaccess",
          "flatPath": "content/v2/{merchantId}/liasettings/{accountId}/requestgmbaccess",
          "parameters": {
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "accountId": {
              "format": "uint64",
              "required": true,
              "description": "The ID of the account for which GMB access is requested.",
              "location": "path",
              "type": "string"
            },
            "gmbEmail": {
              "type": "string",
              "description": "The email of the Google My Business account.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "id": "content.liasettings.requestgmbaccess"
        },
        "setposdataprovider": {
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "posExternalAccountId": {
              "type": "string",
              "description": "The account ID by which this merchant is known to the POS data provider.",
              "location": "query"
            },
            "posDataProviderId": {
              "format": "uint64",
              "location": "query",
              "type": "string",
              "description": "The ID of POS data provider."
            },
            "merchantId": {
              "required": true,
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string",
              "location": "path",
              "format": "uint64"
            },
            "accountId": {
              "location": "path",
              "format": "uint64",
              "type": "string",
              "description": "The ID of the account for which to retrieve accessible Google My Business accounts.",
              "required": true
            },
            "country": {
              "description": "The country for which the POS data provider is selected.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "content.liasettings.setposdataprovider",
          "flatPath": "content/v2/{merchantId}/liasettings/{accountId}/setposdataprovider",
          "response": {
            "$ref": "LiasettingsSetPosDataProviderResponse"
          },
          "description": "Sets the POS data provider for the specified country.",
          "path": "content/v2/{merchantId}/liasettings/{accountId}/setposdataprovider",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "setinventoryverificationcontact": {
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "httpMethod": "POST",
          "path": "content/v2/{merchantId}/liasettings/{accountId}/setinventoryverificationcontact",
          "description": "Sets the inventory verification contract for the specified country.",
          "id": "content.liasettings.setinventoryverificationcontact",
          "response": {
            "$ref": "LiasettingsSetInventoryVerificationContactResponse"
          },
          "flatPath": "content/v2/{merchantId}/liasettings/{accountId}/setinventoryverificationcontact",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "language": {
              "location": "query",
              "description": "The language for which inventory verification is requested.",
              "type": "string"
            },
            "country": {
              "location": "query",
              "description": "The country for which inventory verification is requested.",
              "type": "string"
            },
            "contactEmail": {
              "location": "query",
              "type": "string",
              "description": "The email of the inventory verification contact."
            },
            "merchantId": {
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "required": true,
              "type": "string"
            },
            "contactName": {
              "description": "The name of the inventory verification contact.",
              "type": "string",
              "location": "query"
            },
            "accountId": {
              "format": "uint64",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account."
            }
          }
        },
        "getaccessiblegmbaccounts": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2/{merchantId}/liasettings/{accountId}/accessiblegmbaccounts",
          "id": "content.liasettings.getaccessiblegmbaccounts",
          "httpMethod": "GET",
          "path": "content/v2/{merchantId}/liasettings/{accountId}/accessiblegmbaccounts",
          "response": {
            "$ref": "LiasettingsGetAccessibleGmbAccountsResponse"
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "merchantId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "required": true
            },
            "accountId": {
              "description": "The ID of the account for which to retrieve accessible Google My Business accounts.",
              "format": "uint64",
              "required": true,
[...]
