{
  "ownerDomain": "google.com",
  "baseUrl": "https://container.googleapis.com/",
  "documentationLink": "https://cloud.google.com/container-engine/",
  "canonicalName": "Container",
  "mtlsRootUrl": "https://container.mtls.googleapis.com/",
  "servicePath": "",
  "rootUrl": "https://container.googleapis.com/",
  "basePath": "",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "title": "Kubernetes Engine API",
  "version": "v1",
  "revision": "20220615",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "container",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "description": "Builds and manages container-based applications, powered by the open source Kubernetes technology.",
  "schemas": {
    "ReleaseChannelConfig": {
      "description": "ReleaseChannelConfig exposes configuration for a release channel.",
      "id": "ReleaseChannelConfig",
      "properties": {
        "defaultVersion": {
          "type": "string",
          "description": "The default version for newly created clusters on the channel."
        },
        "channel": {
          "enumDescriptions": [
            "No channel specified.",
            "RAPID channel is offered on an early access basis for customers who want to test new releases. WARNING: Versions available in the RAPID Channel may be subject to unresolved issues with no known workaround and are not subject to any SLAs.",
            "Clusters subscribed to REGULAR receive versions that are considered GA quality. REGULAR is intended for production users who want to take advantage of new features.",
            "Clusters subscribed to STABLE receive versions that are known to be stable and reliable in production."
          ],
          "description": "The release channel this configuration applies to.",
          "enum": [
            "UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE"
          ],
          "type": "string"
        },
        "validVersions": {
          "description": "List of valid versions for the channel.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "LegacyAbac": {
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the ABAC authorizer is enabled for this cluster. When enabled, identities in the system, including service accounts, nodes, and controllers, will have statically granted permissions beyond those provided by the RBAC configuration or IAM."
        }
      },
      "description": "Configuration for the legacy Attribute Based Access Control authorization mode.",
      "id": "LegacyAbac"
    },
    "ServerConfig": {
      "properties": {
        "defaultClusterVersion": {
          "description": "Version of Kubernetes the service deploys by default.",
          "type": "string"
        },
        "defaultImageType": {
          "type": "string",
          "description": "Default image type."
        },
        "validImageTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of valid image types."
        },
        "validNodeVersions": {
          "description": "List of valid node upgrade target versions, in descending order.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "channels": {
          "items": {
            "$ref": "ReleaseChannelConfig"
          },
          "type": "array",
          "description": "List of release channel configurations."
        },
        "validMasterVersions": {
          "type": "array",
          "description": "List of valid master versions, in descending order.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Kubernetes Engine service configuration.",
      "type": "object",
      "id": "ServerConfig"
    },
    "MasterAuth": {
      "id": "MasterAuth",
      "type": "object",
      "properties": {
        "clientCertificateConfig": {
          "description": "Configuration for client certificate authentication on the cluster. For clusters before v1.12, if no configuration is specified, a client certificate is issued.",
          "$ref": "ClientCertificateConfig"
        },
        "password": {
          "type": "string",
          "description": "The password to use for HTTP basic authentication to the master endpoint. Because the master endpoint is open to the Internet, you should create a strong password. If a password is provided for cluster creation, username must be non-empty. Warning: basic authentication is deprecated, and will be removed in GKE control plane versions 1.19 and newer. For a list of recommended authentication methods, see: https://cloud.google.com/kubernetes-engine/docs/how-to/api-server-authentication"
        },
        "clusterCaCertificate": {
          "description": "[Output only] Base64-encoded public certificate that is the root of trust for the cluster.",
          "type": "string"
        },
        "clientKey": {
          "type": "string",
          "description": "[Output only] Base64-encoded private key used by clients to authenticate to the cluster endpoint."
        },
        "username": {
          "type": "string",
          "description": "The username to use for HTTP basic authentication to the master endpoint. For clusters v1.6.0 and later, basic authentication can be disabled by leaving username unspecified (or setting it to the empty string). Warning: basic authentication is deprecated, and will be removed in GKE control plane versions 1.19 and newer. For a list of recommended authentication methods, see: https://cloud.google.com/kubernetes-engine/docs/how-to/api-server-authentication"
        },
        "clientCertificate": {
          "type": "string",
          "description": "[Output only] Base64-encoded public certificate used by clients to authenticate to the cluster endpoint."
        }
      },
      "description": "The authentication information for accessing the master endpoint. Authentication can be done using HTTP basic auth or using client certificates."
    },
    "ClusterUpdate": {
      "description": "ClusterUpdate describes an update to the cluster. Exactly one update can be applied to a cluster with each request, so at most one field can be provided.",
      "id": "ClusterUpdate",
      "properties": {
        "desiredPrivateIpv6GoogleAccess": {
          "type": "string",
          "description": "The desired state of IPv6 connectivity to Google Services.",
          "enumDescriptions": [
            "Default value. Same as DISABLED",
            "No private access to or from Google Services",
            "Enables private IPv6 access to Google Services from GKE",
            "Enables priate IPv6 access to and from Google Services"
          ],
          "enum": [
            "PRIVATE_IPV6_GOOGLE_ACCESS_UNSPECIFIED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_DISABLED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_TO_GOOGLE",
            "PRIVATE_IPV6_GOOGLE_ACCESS_BIDIRECTIONAL"
          ]
        },
        "desiredLoggingConfig": {
          "description": "The desired logging configuration.",
          "$ref": "LoggingConfig"
        },
        "desiredReleaseChannel": {
          "$ref": "ReleaseChannel",
          "description": "The desired release channel configuration."
        },
        "desiredServiceExternalIpsConfig": {
          "$ref": "ServiceExternalIPsConfig",
          "description": "ServiceExternalIPsConfig specifies the config for the use of Services with ExternalIPs field."
        },
        "desiredGcfsConfig": {
          "$ref": "GcfsConfig",
          "description": "The desired GCFS config for the cluster"
        },
        "desiredMeshCertificates": {
          "$ref": "MeshCertificates",
          "description": "Configuration for issuance of mTLS keys and certificates to Kubernetes pods."
        },
        "desiredLocations": {
          "description": "The desired list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the cluster's nodes should be located. This list must always include the cluster's primary zone. Warning: changing cluster locations will update the locations of all node pools and will result in nodes being added and/or removed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "desiredBinaryAuthorization": {
          "$ref": "BinaryAuthorization",
          "description": "The desired configuration options for the Binary Authorization feature."
        },
        "desiredWorkloadIdentityConfig": {
          "description": "Configuration for Workload Identity.",
          "$ref": "WorkloadIdentityConfig"
        },
        "desiredNodePoolAutoConfigNetworkTags": {
          "description": "The desired network tags that apply to all auto-provisioned node pools in autopilot clusters and node auto-provisioning enabled clusters.",
          "$ref": "NetworkTags"
        },
        "desiredDatapathProvider": {
          "enumDescriptions": [
            "Default value.",
            "Use the IPTables implementation based on kube-proxy.",
            "Use the eBPF based GKE Dataplane V2 with additional features. See the [GKE Dataplane V2 documentation](https://cloud.google.com/kubernetes-engine/docs/how-to/dataplane-v2) for more."
          ],
          "enum": [
            "DATAPATH_PROVIDER_UNSPECIFIED",
            "LEGACY_DATAPATH",
            "ADVANCED_DATAPATH"
          ],
          "type": "string",
          "description": "The desired datapath provider for the cluster."
        },
        "desiredLoggingService": {
          "type": "string",
          "description": "The logging service the cluster should use to write logs. Currently available options: * `logging.googleapis.com/kubernetes` - The Cloud Logging service with a Kubernetes-native resource model * `logging.googleapis.com` - The legacy Cloud Logging service (no longer available as of GKE 1.15). * `none` - no logs will be exported from the cluster. If left as an empty string,`logging.googleapis.com/kubernetes` will be used for GKE 1.14+ or `logging.googleapis.com` for earlier versions."
        },
        "desiredNodePoolAutoscaling": {
          "$ref": "NodePoolAutoscaling",
          "description": "Autoscaler configuration for the node pool specified in desired_node_pool_id. If there is only one pool in the cluster and desired_node_pool_id is not provided then the change applies to that single node pool."
        },
        "desiredDefaultSnatStatus": {
          "$ref": "DefaultSnatStatus",
          "description": "The desired status of whether to disable default sNAT for this cluster."
        },
        "desiredImageType": {
          "description": "The desired image type for the node pool. NOTE: Set the \"desired_node_pool\" field as well.",
          "type": "string"
        },
        "desiredIdentityServiceConfig": {
          "$ref": "IdentityServiceConfig",
          "description": "The desired Identity Service component configuration."
        },
        "desiredMonitoringService": {
          "type": "string",
          "description": "The monitoring service the cluster should use to write metrics. Currently available options: * \"monitoring.googleapis.com/kubernetes\" - The Cloud Monitoring service with a Kubernetes-native resource model * `monitoring.googleapis.com` - The legacy Cloud Monitoring service (no longer available as of GKE 1.15). * `none` - No metrics will be exported from the cluster. If left as an empty string,`monitoring.googleapis.com/kubernetes` will be used for GKE 1.14+ or `monitoring.googleapis.com` for earlier versions."
        },
        "desiredNodeVersion": {
          "description": "The Kubernetes version to change the nodes to (typically an upgrade). Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"-\": picks the Kubernetes master version",
          "type": "string"
        },
        "desiredVerticalPodAutoscaling": {
          "$ref": "VerticalPodAutoscaling",
          "description": "Cluster-level Vertical Pod Autoscaling configuration."
        },
        "desiredShieldedNodes": {
          "$ref": "ShieldedNodes",
          "description": "Configuration for Shielded Nodes."
        },
        "desiredMasterVersion": {
          "type": "string",
          "description": "The Kubernetes version to change the master to. Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"-\": picks the default Kubernetes version"
        },
        "desiredIntraNodeVisibilityConfig": {
          "$ref": "IntraNodeVisibilityConfig",
          "description": "The desired config of Intra-node visibility."
        },
        "desiredMonitoringConfig": {
          "description": "The desired monitoring configuration.",
          "$ref": "MonitoringConfig"
        },
        "desiredDatabaseEncryption": {
          "$ref": "DatabaseEncryption",
          "description": "Configuration of etcd encryption."
        },
        "desiredResourceUsageExportConfig": {
          "description": "The desired configuration for exporting resource usage.",
          "$ref": "ResourceUsageExportConfig"
        },
        "desiredDnsConfig": {
          "$ref": "DNSConfig",
          "description": "DNSConfig contains clusterDNS config for this cluster."
        },
        "desiredL4ilbSubsettingConfig": {
          "description": "The desired L4 Internal Load Balancer Subsetting configuration.",
          "$ref": "ILBSubsettingConfig"
        },
        "desiredMasterAuthorizedNetworksConfig": {
          "$ref": "MasterAuthorizedNetworksConfig",
          "description": "The desired configuration options for master authorized networks feature."
        },
        "desiredNodePoolId": {
          "description": "The node pool to be upgraded. This field is mandatory if \"desired_node_version\", \"desired_image_family\" or \"desired_node_pool_autoscaling\" is specified and there is more than one node pool on the cluster.",
          "type": "string"
        },
        "desiredAddonsConfig": {
          "description": "Configurations for the various addons available to run in the cluster.",
          "$ref": "AddonsConfig"
        },
        "desiredClusterAutoscaling": {
          "$ref": "ClusterAutoscaling",
          "description": "Cluster-level autoscaling configuration."
        },
        "desiredNotificationConfig": {
          "$ref": "NotificationConfig",
          "description": "The desired notification configuration."
        },
        "desiredAuthenticatorGroupsConfig": {
          "description": "The desired authenticator groups config for the cluster.",
          "$ref": "AuthenticatorGroupsConfig"
        },
        "desiredPrivateClusterConfig": {
          "description": "The desired private cluster configuration.",
          "$ref": "PrivateClusterConfig"
        }
      },
      "type": "object"
    },
    "ListClustersResponse": {
      "type": "object",
      "description": "ListClustersResponse is the result of ListClustersRequest.",
      "id": "ListClustersResponse",
      "properties": {
        "missingZones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "If any zones are listed here, the list of clusters returned may be missing those zones."
        },
        "clusters": {
          "type": "array",
          "items": {
            "$ref": "Cluster"
          },
          "description": "A list of clusters in the project in the specified zone, or across all ones."
        }
      }
    },
    "GcePersistentDiskCsiDriverConfig": {
      "description": "Configuration for the Compute Engine PD CSI driver.",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the Compute Engine PD CSI driver is enabled for this cluster."
        }
      },
      "id": "GcePersistentDiskCsiDriverConfig"
    },
    "SetLocationsRequest": {
      "description": "SetLocationsRequest sets the locations of the cluster.",
      "type": "object",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The desired list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the cluster's nodes should be located. Changing the locations a cluster is in will result in nodes being either created or removed from the cluster, depending on whether locations are being added or removed. This list must always include the cluster's primary zone."
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster) of the cluster to set locations. Specified in the format `projects/*/locations/*/clusters/*`."
        },
        "clusterId": {
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      },
      "id": "SetLocationsRequest"
    },
    "UsableSubnetwork": {
      "type": "object",
      "description": "UsableSubnetwork resource returns the subnetwork name, its associated network and the primary CIDR range.",
      "properties": {
        "ipCidrRange": {
          "description": "The range of internal addresses that are owned by this subnetwork.",
          "type": "string"
        },
        "secondaryIpRanges": {
          "description": "Secondary IP ranges.",
          "type": "array",
          "items": {
            "$ref": "UsableSubnetworkSecondaryRange"
          }
        },
        "subnetwork": {
          "type": "string",
          "description": "Subnetwork Name. Example: projects/my-project/regions/us-central1/subnetworks/my-subnet"
        },
        "statusMessage": {
          "type": "string",
          "description": "A human readable status message representing the reasons for cases where the caller cannot use the secondary ranges under the subnet. For example if the secondary_ip_ranges is empty due to a permission issue, an insufficient permission message will be given by status_message."
        },
        "network": {
          "type": "string",
          "description": "Network Name. Example: projects/my-project/global/networks/my-network"
        }
      },
      "id": "UsableSubnetwork"
    },
    "HttpLoadBalancing": {
      "id": "HttpLoadBalancing",
      "type": "object",
      "description": "Configuration options for the HTTP (L7) load balancing controller addon, which makes it easy to set up HTTP load balancers for services in a cluster.",
      "properties": {
        "disabled": {
          "description": "Whether the HTTP Load Balancing controller is enabled in the cluster. When enabled, it runs a small pod in the cluster that manages the load balancers.",
          "type": "boolean"
        }
      }
    },
    "IdentityServiceConfig": {
      "description": "IdentityServiceConfig is configuration for Identity Service which allows customers to use external identity providers with the K8S API",
      "id": "IdentityServiceConfig",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether to enable the Identity Service component"
        }
      },
      "type": "object"
    },
    "WorkloadMetadataConfig": {
      "type": "object",
      "properties": {
        "mode": {
          "description": "Mode is the configuration for how to expose metadata to workloads running on the node pool.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Expose all Compute Engine metadata to pods.",
            "Run the GKE Metadata Server on this node. The GKE Metadata Server exposes a metadata API to workloads that is compatible with the V1 Compute Metadata APIs exposed by the Compute Engine and App Engine Metadata Servers. This feature can only be enabled if Workload Identity is enabled at the cluster level."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "GCE_METADATA",
            "GKE_METADATA"
          ]
        }
      },
      "id": "WorkloadMetadataConfig",
      "description": "WorkloadMetadataConfig defines the metadata configuration to expose to workloads on the node pool."
    },
    "ClientCertificateConfig": {
      "type": "object",
      "id": "ClientCertificateConfig",
      "properties": {
        "issueClientCertificate": {
          "description": "Issue a client certificate.",
          "type": "boolean"
        }
      },
      "description": "Configuration for client certificates on the cluster."
    },
    "UpdateClusterRequest": {
      "description": "UpdateClusterRequest updates the settings of a cluster.",
      "properties": {
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster) of the cluster to update. Specified in the format `projects/*/locations/*/clusters/*`."
        },
        "update": {
          "description": "Required. A description of the update.",
          "$ref": "ClusterUpdate"
        },
        "clusterId": {
          "type": "string",
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "UpdateClusterRequest"
    },
    "MaintenancePolicy": {
      "description": "MaintenancePolicy defines the maintenance policy to be used for the cluster.",
      "properties": {
        "window": {
          "$ref": "MaintenanceWindow",
          "description": "Specifies the maintenance window in which maintenance may be performed."
        },
        "resourceVersion": {
          "description": "A hash identifying the version of this policy, so that updates to fields of the policy won't accidentally undo intermediate changes (and so that users of the API unaware of some fields won't accidentally remove other fields). Make a `get()` request to the cluster to get the current resource version and include it with requests to set the policy.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "MaintenancePolicy"
    },
    "KubernetesDashboard": {
      "properties": {
        "disabled": {
          "description": "Whether the Kubernetes Dashboard is enabled for this cluster.",
          "type": "boolean"
        }
      },
      "id": "KubernetesDashboard",
      "type": "object",
      "description": "Configuration for the Kubernetes Dashboard."
    },
    "DnsCacheConfig": {
      "id": "DnsCacheConfig",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether NodeLocal DNSCache is enabled for this cluster."
        }
      },
      "description": "Configuration for NodeLocal DNSCache",
      "type": "object"
    },
    "UpgradeEvent": {
      "properties": {
        "operationStartTime": {
          "format": "google-datetime",
          "description": "The time when the operation was started.",
          "type": "string"
        },
        "resourceType": {
          "type": "string",
          "description": "The resource type that is upgrading.",
          "enum": [
            "UPGRADE_RESOURCE_TYPE_UNSPECIFIED",
            "MASTER",
            "NODE_POOL"
          ],
          "enumDescriptions": [
            "Default value. This shouldn't be used.",
            "Master / control plane",
            "Node pool"
          ]
        },
        "currentVersion": {
          "type": "string",
          "description": "The current version before the upgrade."
        },
        "targetVersion": {
          "description": "The target version for the upgrade.",
          "type": "string"
        },
        "operation": {
          "description": "The operation associated with this upgrade.",
          "type": "string"
        },
        "resource": {
          "description": "Optional relative path to the resource. For example in node pool upgrades, the relative path of the node pool.",
          "type": "string"
        }
      },
      "id": "UpgradeEvent",
      "type": "object",
      "description": "UpgradeEvent is a notification sent to customers by the cluster server when a resource is upgrading."
    },
    "SetNodePoolAutoscalingRequest": {
      "properties": {
        "autoscaling": {
          "$ref": "NodePoolAutoscaling",
          "description": "Required. Autoscaling configuration for the node pool."
        },
        "zone": {
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "nodePoolId": {
          "type": "string",
          "description": "Deprecated. The name of the node pool to upgrade. This field has been deprecated and replaced by the name field."
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "name": {
          "description": "The name (project, location, cluster, node pool) of the node pool to set autoscaler settings. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
          "type": "string"
        },
        "clusterId": {
          "type": "string",
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
        }
      },
      "id": "SetNodePoolAutoscalingRequest",
      "description": "SetNodePoolAutoscalingRequest sets the autoscaler settings of a node pool.",
      "type": "object"
    },
    "RecurringTimeWindow": {
      "type": "object",
      "id": "RecurringTimeWindow",
      "properties": {
        "window": {
          "$ref": "TimeWindow",
          "description": "The window of the first recurrence."
        },
        "recurrence": {
          "type": "string",
          "description": "An RRULE (https://tools.ietf.org/html/rfc5545#section-3.8.5.3) for how this window reccurs. They go on for the span of time between the start and end time. For example, to have something repeat every weekday, you'd use: `FREQ=WEEKLY;BYDAY=MO,TU,WE,TH,FR` To repeat some window daily (equivalent to the DailyMaintenanceWindow): `FREQ=DAILY` For the first weekend of every month: `FREQ=MONTHLY;BYSETPOS=1;BYDAY=SA,SU` This specifies how frequently the window starts. Eg, if you wanted to have a 9-5 UTC-4 window every weekday, you'd use something like: ``` start time = 2019-01-01T09:00:00-0400 end time = 2019-01-01T17:00:00-0400 recurrence = FREQ=WEEKLY;BYDAY=MO,TU,WE,TH,FR ``` Windows can span multiple days. Eg, to make the window encompass every weekend from midnight Saturday till the last minute of Sunday UTC: ``` start time = 2019-01-05T00:00:00Z end time = 2019-01-07T23:59:00Z recurrence = FREQ=WEEKLY;BYDAY=SA ``` Note the start and end time's specific dates are largely arbitrary except to specify duration of the window and when it first starts. The FREQ values of HOURLY, MINUTELY, and SECONDLY are not supported."
        }
      },
      "description": "Represents an arbitrary window of time that recurs."
    },
    "DefaultSnatStatus": {
      "type": "object",
      "id": "DefaultSnatStatus",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Disables cluster default sNAT rules."
        }
      },
      "description": "DefaultSnatStatus contains the desired state of whether default sNAT should be disabled on the cluster."
    },
    "StatusCondition": {
      "id": "StatusCondition",
      "description": "StatusCondition describes why a cluster or a node pool has a certain status (e.g., ERROR or DEGRADED).",
      "properties": {
        "code": {
          "description": "Machine-friendly representation of the condition Deprecated. Use canonical_code instead.",
          "type": "string",
          "enumDescriptions": [
            "UNKNOWN indicates a generic condition.",
            "GCE_STOCKOUT indicates that Google Compute Engine resources are temporarily unavailable.",
            "GKE_SERVICE_ACCOUNT_DELETED indicates that the user deleted their robot service account.",
            "Google Compute Engine quota was exceeded.",
            "Cluster state was manually changed by an SRE due to a system logic error.",
            "Unable to perform an encrypt operation against the CloudKMS key used for etcd level encryption.",
            "Cluster CA is expiring soon."
          ],
          "enum": [
            "UNKNOWN",
            "GCE_STOCKOUT",
            "GKE_SERVICE_ACCOUNT_DELETED",
            "GCE_QUOTA_EXCEEDED",
            "SET_BY_OPERATOR",
            "CLOUD_KMS_KEY_ERROR",
            "CA_EXPIRING"
          ]
        },
        "message": {
          "description": "Human-friendly representation of the condition",
          "type": "string"
        },
        "canonicalCode": {
          "description": "Canonical code of the condition.",
          "enumDescriptions": [
            "Not an error; returned on success HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level. For example, when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence. (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. For example, if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
            "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request",
            "The operation is not implemented or is not supported/enabled in this service. HTTP Mapping: 501 Not Implemented",
            "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error",
            "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable",
            "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          ],
          "type": "string",
          "enum": [
            "OK",
            "CANCELLED",
            "UNKNOWN",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "ALREADY_EXISTS",
            "PERMISSION_DENIED",
            "UNAUTHENTICATED",
            "RESOURCE_EXHAUSTED",
            "FAILED_PRECONDITION",
            "ABORTED",
            "OUT_OF_RANGE",
            "UNIMPLEMENTED",
            "INTERNAL",
            "UNAVAILABLE",
            "DATA_LOSS"
          ]
        }
      },
      "type": "object"
    },
    "AcceleratorConfig": {
      "description": "AcceleratorConfig represents a Hardware Accelerator request.",
      "type": "object",
      "properties": {
        "acceleratorCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of the accelerator cards exposed to an instance."
        },
        "gpuSharingConfig": {
          "$ref": "GPUSharingConfig",
          "description": "The configuration for GPU sharing options."
        },
        "acceleratorType": {
          "description": "The accelerator type resource name. List of supported accelerators [here](https://cloud.google.com/compute/docs/gpus)",
          "type": "string"
        },
        "gpuPartitionSize": {
          "description": "Size of partitions to create on the GPU. Valid values are described in the NVIDIA [mig user guide](https://docs.nvidia.com/datacenter/tesla/mig-user-guide/#partitioning).",
          "type": "string"
        }
      },
      "id": "AcceleratorConfig"
    },
    "OperationProgress": {
      "description": "Information about operation (or operation stage) progress.",
      "type": "object",
      "properties": {
        "status": {
          "description": "Status of an operation stage. Unset for single-stage operations.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The operation has been created.",
            "The operation is currently running.",
            "The operation is done, either cancelled or completed.",
            "The operation is aborting."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "ABORTING"
          ]
        },
        "name": {
          "description": "A non-parameterized string describing an operation stage. Unset for single-stage operations.",
          "type": "string"
        },
        "metrics": {
          "items": {
            "$ref": "Metric"
          },
          "type": "array",
          "description": "Progress metric bundle, for example: metrics: [{name: \"nodes done\", int_value: 15}, {name: \"nodes total\", int_value: 32}] or metrics: [{name: \"progress\", double_value: 0.56}, {name: \"progress scale\", double_value: 1.0}]"
        },
        "stages": {
          "description": "Substages of an operation or a stage.",
          "items": {
            "$ref": "OperationProgress"
          },
          "type": "array"
        }
      },
      "id": "OperationProgress"
    },
    "SetLabelsRequest": {
      "id": "SetLabelsRequest",
      "description": "SetLabelsRequest sets the Google Cloud Platform labels on a Google Container Engine cluster, which will in turn set them for Google Compute Engine resources used by that cluster",
      "properties": {
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster name) of the cluster to set labels. Specified in the format `projects/*/locations/*/clusters/*`."
        },
        "labelFingerprint": {
          "description": "Required. The fingerprint of the previous set of labels for this resource, used to detect conflicts. The fingerprint is initially generated by Kubernetes Engine and changes after every request to modify or update labels. You must always provide an up-to-date fingerprint hash when updating or changing labels. Make a `get()` request to the resource to get the latest fingerprint.",
          "type": "string"
        },
        "resourceLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. The labels to set for that cluster."
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "clusterId": {
          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ShieldedNodes": {
      "properties": {
        "enabled": {
          "description": "Whether Shielded Nodes features are enabled on all nodes in this cluster.",
          "type": "boolean"
        }
      },
      "id": "ShieldedNodes",
      "description": "Configuration of Shielded Nodes feature.",
      "type": "object"
    },
    "MasterAuthorizedNetworksConfig": {
      "id": "MasterAuthorizedNetworksConfig",
      "type": "object",
      "properties": {
        "cidrBlocks": {
          "type": "array",
          "items": {
            "$ref": "CidrBlock"
          },
          "description": "cidr_blocks define up to 50 external networks that could access Kubernetes master through HTTPS."
        },
        "enabled": {
          "description": "Whether or not master authorized networks is enabled.",
          "type": "boolean"
        }
      },
      "description": "Configuration options for the master authorized networks feature. Enabled master authorized networks will disallow all external traffic to access Kubernetes master through HTTPS except traffic from the given CIDR blocks, Google Compute Engine Public IPs and Google Prod IPs."
    },
    "LinuxNodeConfig": {
      "id": "LinuxNodeConfig",
      "type": "object",
      "description": "Parameters that can be configured on Linux nodes.",
      "properties": {
        "sysctls": {
          "description": "The Linux kernel parameters to be applied to the nodes and all pods running on the nodes. The following parameters are supported. net.core.busy_poll net.core.busy_read net.core.netdev_max_backlog net.core.rmem_max net.core.wmem_default net.core.wmem_max net.core.optmem_max net.core.somaxconn net.ipv4.tcp_rmem net.ipv4.tcp_wmem net.ipv4.tcp_tw_reuse",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "CidrBlock": {
      "type": "object",
      "description": "CidrBlock contains an optional name and one CIDR block.",
      "properties": {
        "displayName": {
          "description": "display_name is an optional field for users to identify CIDR blocks.",
          "type": "string"
        },
        "cidrBlock": {
          "type": "string",
          "description": "cidr_block must be specified in CIDR notation."
        }
      },
      "id": "CidrBlock"
    },
    "BlueGreenSettings": {
      "type": "object",
      "id": "BlueGreenSettings",
      "properties": {
        "nodePoolSoakDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Time needed after draining entire blue pool. After this period, blue pool will be cleaned up."
        },
        "standardRolloutPolicy": {
          "$ref": "StandardRolloutPolicy",
          "description": "Standard policy for the blue-green upgrade."
        }
      },
      "description": "Settings for blue-green upgrade."
    },
    "SetAddonsConfigRequest": {
      "type": "object",
      "id": "SetAddonsConfigRequest",
      "properties": {
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set addons. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "clusterId": {
          "type": "string",
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "addonsConfig": {
          "description": "Required. The desired configurations for the various addons available to run in the cluster.",
          "$ref": "AddonsConfig"
        }
      },
      "description": "SetAddonsConfigRequest sets the addons associated with the cluster."
    },
    "MaintenanceExclusionOptions": {
      "id": "MaintenanceExclusionOptions",
      "type": "object",
      "properties": {
        "scope": {
          "enum": [
            "NO_UPGRADES",
            "NO_MINOR_UPGRADES",
            "NO_MINOR_OR_NODE_UPGRADES"
          ],
          "type": "string",
          "enumDescriptions": [
            "NO_UPGRADES excludes all upgrades, including patch upgrades and minor upgrades across control planes and nodes. This is the default exclusion behavior.",
            "NO_MINOR_UPGRADES excludes all minor upgrades for the cluster, only patches are allowed.",
            "NO_MINOR_OR_NODE_UPGRADES excludes all minor upgrades for the cluster, and also exclude all node pool upgrades. Only control plane patches are allowed."
          ],
          "description": "Scope specifies the upgrade scope which upgrades are blocked by the exclusion."
        }
      },
      "description": "Represents the Maintenance exclusion option."
    },
    "GPUSharingConfig": {
      "properties": {
        "gpuSharingStrategy": {
          "enum": [
            "GPU_SHARING_STRATEGY_UNSPECIFIED",
            "TIME_SHARING"
          ],
          "description": "The type of GPU sharing strategy to enable on the GPU node.",
          "enumDescriptions": [
            "Default value.",
            "GPUs are time-shared between containers."
          ],
          "type": "string"
        },
        "maxSharedClientsPerGpu": {
          "description": "The max number of containers that can share a physical GPU.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "GPUSharingConfig represents the GPU sharing configuration for Hardware Accelerators.",
      "id": "GPUSharingConfig",
      "type": "object"
    },
    "NetworkTags": {
      "properties": {
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of network tags."
        }
      },
      "description": "Collection of Compute Engine network tags that can be applied to a node's underlying VM instance.",
      "id": "NetworkTags",
      "type": "object"
    },
    "NodeConfigDefaults": {
      "description": "Subset of NodeConfig message that has defaults.",
      "type": "object",
      "properties": {
        "gcfsConfig": {
          "$ref": "GcfsConfig",
          "description": "GCFS (Google Container File System, a.k.a. Riptide) options."
        }
      },
      "id": "NodeConfigDefaults"
    },
    "ClusterAutoscaling": {
      "properties": {
        "autoscalingProfile": {
          "type": "string",
          "enum": [
            "PROFILE_UNSPECIFIED",
            "OPTIMIZE_UTILIZATION",
            "BALANCED"
          ],
          "enumDescriptions": [
            "No change to autoscaling configuration.",
            "Prioritize optimizing utilization of resources.",
            "Use default (balanced) autoscaling configuration."
          ],
          "description": "Defines autoscaling behaviour."
        },
        "enableNodeAutoprovisioning": {
          "description": "Enables automatic node pool creation and deletion.",
          "type": "boolean"
        },
        "autoprovisioningLocations": {
          "type": "array",
          "description": "The list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the NodePool's nodes can be created by NAP.",
          "items": {
            "type": "string"
          }
        },
        "autoprovisioningNodePoolDefaults": {
          "description": "AutoprovisioningNodePoolDefaults contains defaults for a node pool created by NAP.",
          "$ref": "AutoprovisioningNodePoolDefaults"
        },
        "resourceLimits": {
          "items": {
            "$ref": "ResourceLimit"
          },
          "type": "array",
          "description": "Contains global constraints regarding minimum and maximum amount of resources in the cluster."
        }
      },
      "description": "ClusterAutoscaling contains global, per-cluster information required by Cluster Autoscaler to automatically adjust the size of the cluster and create/delete node pools based on the current needs.",
      "type": "object",
      "id": "ClusterAutoscaling"
    },
    "StandardRolloutPolicy": {
      "description": "Standard rollout policy is the default policy for blue-green.",
      "type": "object",
      "properties": {
        "batchNodeCount": {
          "description": "Number of blue nodes to drain in a batch.",
          "type": "integer",
          "format": "int32"
        },
        "batchPercentage": {
          "type": "number",
          "description": "Percentage of the bool pool nodes to drain in a batch. The range of this field should be (0.0, 1.0].",
          "format": "float"
        },
        "batchSoakDuration": {
          "description": "Soak time after each batch gets drained. Default to zero.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "StandardRolloutPolicy"
    },
    "NodePool": {
      "type": "object",
      "description": "NodePool contains the name and configuration for a cluster's node pool. Node pools are a set of nodes (i.e. VM's), with a common configuration and specification, under the control of the cluster master. They may have a set of Kubernetes labels applied to them, which may be used to reference them during pod scheduling. They may also be resized up or down, to accommodate the workload.",
      "id": "NodePool",
      "properties": {
        "selfLink": {
          "type": "string",
          "description": "[Output only] Server-defined URL for the resource."
        },
        "podIpv4CidrSize": {
          "format": "int32",
          "description": "[Output only] The pod CIDR block size per node in this node pool.",
          "type": "integer"
        },
        "networkConfig": {
          "$ref": "NodeNetworkConfig",
          "description": "Networking configuration for this NodePool. If specified, it overrides the cluster-level defaults."
        },
        "updateInfo": {
          "$ref": "UpdateInfo",
          "readOnly": true,
          "description": "Output only. [Output only] Update info contains relevant information during a node pool update."
        },
        "locations": {
          "type": "array",
          "description": "The list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the NodePool's nodes should be located. If this value is unspecified during node pool creation, the [Cluster.Locations](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters#Cluster.FIELDS.locations) value will be used, instead. Warning: changing node pool locations will result in nodes being added and/or removed.",
          "items": {
            "type": "string"
          }
        },
        "version": {
          "type": "string",
          "description": "The version of the Kubernetes of this node."
        },
        "conditions": {
          "items": {
            "$ref": "StatusCondition"
          },
          "type": "array",
          "description": "Which conditions caused the current node pool state."
        },
        "upgradeSettings": {
          "description": "Upgrade settings control disruption and speed of the upgrade.",
          "$ref": "UpgradeSettings"
        },
        "maxPodsConstraint": {
          "$ref": "MaxPodsConstraint",
          "description": "The constraint on the maximum number of pods that can be run simultaneously on a node in the node pool."
        },
        "management": {
          "$ref": "NodeManagement",
          "description": "NodeManagement configuration for this NodePool."
        },
        "instanceGroupUrls": {
          "items": {
            "type": "string"
          },
          "description": "[Output only] The resource URLs of the [managed instance groups](https://cloud.google.com/compute/docs/instance-groups/creating-groups-of-managed-instances) associated with this node pool. During the node pool blue-green upgrade operation, the URLs contain both blue and green resources.",
          "type": "array"
        },
        "autoscaling": {
          "$ref": "NodePoolAutoscaling",
          "description": "Autoscaler configuration for this NodePool. Autoscaler is enabled only if a valid configuration is present."
        },
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RUNNING_WITH_ERROR",
            "RECONCILING",
            "STOPPING",
            "ERROR"
          ],
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the node pool is being created.",
            "The RUNNING state indicates the node pool has been created and is fully usable.",
            "The RUNNING_WITH_ERROR state indicates the node pool has been created and is partially usable. Some error state has occurred and some functionality may be impaired. Customer may need to reissue a request or trigger a new update.",
            "The RECONCILING state indicates that some work is actively being done on the node pool, such as upgrading node software. Details can be found in the `statusMessage` field.",
            "The STOPPING state indicates the node pool is being deleted.",
            "The ERROR state indicates the node pool may be unusable. Details can be found in the `statusMessage` field."
          ],
          "description": "[Output only] The status of the nodes in this pool instance.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the node pool."
        },
        "initialNodeCount": {
          "type": "integer",
          "description": "The initial node count for the pool. You must ensure that your Compute Engine [resource quota](https://cloud.google.com/compute/quotas) is sufficient for this number of instances. You must also have available firewall and routes quota.",
          "format": "int32"
        },
        "statusMessage": {
          "type": "string",
          "description": "[Output only] Deprecated. Use conditions instead. Additional information about the current status of this node pool instance, if available."
        },
        "config": {
          "$ref": "NodeConfig",
          "description": "The node configuration of the pool."
        }
      }
    },
    "SandboxConfig": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "Default value. This should not be used.",
            "Run sandbox using gvisor."
          ],
          "description": "Type of the sandbox to use for the node.",
          "enum": [
            "UNSPECIFIED",
            "GVISOR"
          ],
          "type": "string"
        }
      },
      "description": "SandboxConfig contains configurations of the sandbox to use for the node.",
      "id": "SandboxConfig",
      "type": "object"
    },
    "ReservationAffinity": {
      "type": "object",
      "id": "ReservationAffinity",
      "description": "[ReservationAffinity](https://cloud.google.com/compute/docs/instances/reserving-zonal-resources) is the configuration of desired reservation which instances could take capacity from.",
      "properties": {
        "values": {
          "description": "Corresponds to the label value(s) of reservation resource(s).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "key": {
          "description": "Corresponds to the label key of a reservation resource. To target a SPECIFIC_RESERVATION by name, specify \"googleapis.com/reservation-name\" as the key and specify the name of your reservation as its value.",
          "type": "string"
        },
        "consumeReservationType": {
          "enum": [
            "UNSPECIFIED",
            "NO_RESERVATION",
            "ANY_RESERVATION",
            "SPECIFIC_RESERVATION"
          ],
          "enumDescriptions": [
            "Default value. This should not be used.",
            "Do not consume from any reserved capacity.",
            "Consume any reservation available.",
            "Must consume from a specific reservation. Must specify key value fields for specifying the reservations."
          ],
          "description": "Corresponds to the type of reservation consumption.",
          "type": "string"
        }
      }
    },
    "CompleteNodePoolUpgradeRequest": {
      "type": "object",
      "description": "CompleteNodePoolUpgradeRequest sets the name of target node pool to complete upgrade.",
      "id": "CompleteNodePoolUpgradeRequest",
      "properties": {}
    },
    "UpgradeSettings": {
      "type": "object",
      "description": "These upgrade settings control the level of parallelism and the level of disruption caused by an upgrade. maxUnavailable controls the number of nodes that can be simultaneously unavailable. maxSurge controls the number of additional nodes that can be added to the node pool temporarily for the time of the upgrade to increase the number of available nodes. (maxUnavailable + maxSurge) determines the level of parallelism (how many nodes are being upgraded at the same time). Note: upgrades inevitably introduce some disruption since workloads need to be moved from old nodes to new, upgraded ones. Even if maxUnavailable=0, this holds true. (Disruption stays within the limits of PodDisruptionBudget, if it is configured.) Consider a hypothetical node pool with 5 nodes having maxSurge=2, maxUnavailable=1. This means the upgrade process upgrades 3 nodes simultaneously. It creates 2 additional (upgraded) nodes, then it brings down 3 old (not yet upgraded) nodes at the same time. This ensures that there are always at least 4 nodes available. These upgrade settings configure the upgrade strategy for the node pool. Use strategy to switch between the strategies applied to the node pool. If the strategy is ROLLING, use max_surge and max_unavailable to control the level of parallelism and the level of disruption caused by upgrade. 1. maxSurge controls the number of additional nodes that can be added to the node pool temporarily for the time of the upgrade to increase the number of available nodes. 2. maxUnavailable controls the number of nodes that can be simultaneously unavailable. 3. (maxUnavailable + maxSurge) determines the level of parallelism (how many nodes are being upgraded at the same time). If the strategy is BLUE_GREEN, use blue_green_settings to configure the blue-green upgrade related settings. 1. standard_rollout_policy is the default policy. The policy is used to control the way blue pool gets drained. The draining is executed in the batch mode. The batch size could be specified as either percentage of the node pool size or the number of nodes. batch_soak_duration is the soak time after each batch gets drained. 2. node_pool_soak_duration is the soak time after all blue nodes are drained. After this period, the blue pool nodes will be deleted.",
      "id": "UpgradeSettings",
      "properties": {
        "maxUnavailable": {
          "format": "int32",
          "description": "The maximum number of nodes that can be simultaneously unavailable during the upgrade process. A node is considered available if its status is Ready.",
          "type": "integer"
        },
        "maxSurge": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of nodes that can be created beyond the current size of the node pool during the upgrade process."
        },
        "blueGreenSettings": {
          "$ref": "BlueGreenSettings",
          "description": "Settings for blue-green upgrade strategy."
        },
        "strategy": {
          "description": "Update strategy of the node pool.",
          "type": "string",
          "enum": [
            "NODE_POOL_UPDATE_STRATEGY_UNSPECIFIED",
            "BLUE_GREEN",
            "SURGE"
          ],
          "enumDescriptions": [
            "Default value.",
            "blue-green upgrade.",
            "SURGE is the traditional way of upgrade a node pool. max_surge and max_unavailable determines the level of upgrade parallelism."
          ]
        }
      }
    },
    "ReleaseChannel": {
      "properties": {
        "channel": {
          "description": "channel specifies which release channel the cluster is subscribed to.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE"
          ],
          "enumDescriptions": [
            "No channel specified.",
            "RAPID channel is offered on an early access basis for customers who want to test new releases. WARNING: Versions available in the RAPID Channel may be subject to unresolved issues with no known workaround and are not subject to any SLAs.",
            "Clusters subscribed to REGULAR receive versions that are considered GA quality. REGULAR is intended for production users who want to take advantage of new features.",
            "Clusters subscribed to STABLE receive versions that are known to be stable and reliable in production."
          ]
        }
      },
      "description": "ReleaseChannel indicates which release channel a cluster is subscribed to. Release channels are arranged in order of risk. When a cluster is subscribed to a release channel, Google maintains both the master version and the node version. Node auto-upgrade defaults to true and cannot be disabled.",
      "type": "object",
      "id": "ReleaseChannel"
    },
    "ShieldedInstanceConfig": {
      "properties": {
        "enableIntegrityMonitoring": {
          "description": "Defines whether the instance has integrity monitoring enabled. Enables monitoring and attestation of the boot integrity of the instance. The attestation is performed against the integrity policy baseline. This baseline is initially derived from the implicitly trusted boot image when the instance is created.",
          "type": "boolean"
        },
        "enableSecureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled. Secure Boot helps ensure that the system only runs authentic software by verifying the digital signature of all boot components, and halting the boot process if signature verification fails.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "A set of Shielded Instance options.",
      "id": "ShieldedInstanceConfig"
    },
    "Cluster": {
      "type": "object",
      "id": "Cluster",
      "properties": {
        "locations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the cluster's nodes should be located. This field provides a default value if [NodePool.Locations](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters.nodePools#NodePool.FIELDS.locations) are not specified during node pool creation. Warning: changing cluster locations will update the [NodePool.Locations](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters.nodePools#NodePool.FIELDS.locations) of all node pools and will result in nodes being added and/or removed."
        },
        "id": {
          "readOnly": true,
          "description": "Output only. Unique id for the cluster.",
          "type": "string"
        },
        "expireTime": {
          "description": "[Output only] The time the cluster will be automatically deleted in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "type": "string"
        },
        "autoscaling": {
          "$ref": "ClusterAutoscaling",
          "description": "Cluster-level autoscaling configuration."
        },
        "authenticatorGroupsConfig": {
          "description": "Configuration controlling RBAC group membership information.",
          "$ref": "AuthenticatorGroupsConfig"
        },
        "legacyAbac": {
          "description": "Configuration for the legacy ABAC authorization mode.",
          "$ref": "LegacyAbac"
        },
        "zone": {
          "description": "[Output only] The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field is deprecated, use location instead.",
          "type": "string"
        },
        "servicesIpv4Cidr": {
          "description": "[Output only] The IP address range of the Kubernetes services in this cluster, in [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `1.2.3.4/29`). Service addresses are typically put in the last `/16` from the container CIDR.",
          "type": "string"
        },
        "currentMasterVersion": {
          "type": "string",
          "description": "[Output only] The current software version of the master endpoint."
        },
        "currentNodeVersion": {
          "type": "string",
          "description": "[Output only] Deprecated, use [NodePools.version](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters.nodePools) instead. The current version of the node software components. If they are currently at multiple versions because they're in the process of being upgraded, this reflects the minimum version of all nodes."
        },
        "meshCertificates": {
          "$ref": "MeshCertificates",
          "description": "Configuration for issuance of mTLS keys and certificates to Kubernetes pods."
        },
        "autopilot": {
          "$ref": "Autopilot",
          "description": "Autopilot configuration for the cluster."
        },
        "location": {
          "type": "string",
          "description": "[Output only] The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones#available) or [region](https://cloud.google.com/compute/docs/regions-zones/regions-zones#available) in which the cluster resides."
        },
        "resourceUsageExportConfig": {
          "$ref": "ResourceUsageExportConfig",
          "description": "Configuration for exporting resource usages. Resource usage export is disabled when this config is unspecified."
        },
        "currentNodeCount": {
          "format": "int32",
          "description": "[Output only] The number of nodes currently in the cluster. Deprecated. Call Kubernetes API directly to retrieve node information.",
          "type": "integer"
        },
        "endpoint": {
          "description": "[Output only] The IP address of this cluster's master endpoint. The endpoint can be accessed from the internet at `https://username:password@endpoint/`. See the `masterAuth` property of this resource for username and password information.",
          "type": "string"
        },
        "privateClusterConfig": {
          "$ref": "PrivateClusterConfig",
          "description": "Configuration for private cluster."
        },
        "initialNodeCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of nodes to create in this cluster. You must ensure that your Compute Engine [resource quota](https://cloud.google.com/compute/quotas) is sufficient for this number of instances. You must also have available firewall and routes quota. For requests, this field should only be used in lieu of a \"node_pool\" object, since this configuration (along with the \"node_config\") will be used to create a \"NodePool\" object with an auto-generated name. Do not use this and a node_pool at the same time. This field is deprecated, use node_pool.initial_node_count instead."
        },
        "workloadIdentityConfig": {
          "description": "Configuration for the use of Kubernetes Service Accounts in GCP IAM policies.",
          "$ref": "WorkloadIdentityConfig"
        },
        "defaultMaxPodsConstraint": {
          "$ref": "MaxPodsConstraint",
          "description": "The default constraint on the maximum number of pods that can be run simultaneously on a node in the node pool of this cluster. Only honored if cluster created with IP Alias support."
        },
        "binaryAuthorization": {
          "description": "Configuration for Binary Authorization.",
          "$ref": "BinaryAuthorization"
        },
        "subnetwork": {
          "description": "The name of the Google Compute Engine [subnetwork](https://cloud.google.com/compute/docs/subnetworks) to which the cluster is connected.",
          "type": "string"
        },
        "tpuIpv4CidrBlock": {
          "description": "[Output only] The IP address range of the Cloud TPUs in this cluster, in [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `1.2.3.4/29`).",
          "type": "string"
        },
        "releaseChannel": {
          "$ref": "ReleaseChannel",
          "description": "Release channel configuration."
        },
        "enableTpu": {
          "type": "boolean",
          "description": "Enable the ability to use Cloud TPUs in this cluster."
        },
        "status": {
          "description": "[Output only] The current status of this cluster.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that some work is actively being done on the cluster, such as upgrading the master or node software. Details can be found in the `statusMessage` field.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is unusable. It will be automatically deleted. Details can be found in the `statusMessage` field.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality. Details can be found in the `statusMessage` field."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ]
        },
        "notificationConfig": {
          "description": "Notification configuration of the cluster.",
          "$ref": "NotificationConfig"
        },
        "loggingService": {
          "type": "string",
          "description": "The logging service the cluster should use to write logs. Currently available options: * `logging.googleapis.com/kubernetes` - The Cloud Logging service with a Kubernetes-native resource model * `logging.googleapis.com` - The legacy Cloud Logging service (no longer available as of GKE 1.15). * `none` - no logs will be exported from the cluster. If left as an empty string,`logging.googleapis.com/kubernetes` will be used for GKE 1.14+ or `logging.googleapis.com` for earlier versions."
        },
        "description": {
          "description": "An optional description of this cluster.",
          "type": "string"
        },
        "statusMessage": {
          "type": "string",
          "description": "[Output only] Deprecated. Use conditions instead. Additional information about the current status of this cluster, if available."
        },
        "databaseEncryption": {
          "$ref": "DatabaseEncryption",
          "description": "Configuration of etcd encryption."
        },
        "conditions": {
          "items": {
            "$ref": "StatusCondition"
          },
          "type": "array",
          "description": "Which conditions caused the current cluster state."
        },
        "loggingConfig": {
          "$ref": "LoggingConfig",
          "description": "Logging configuration for the cluster."
        },
        "nodeConfig": {
          "description": "Parameters used in creating the cluster's nodes. For requests, this field should only be used in lieu of a \"node_pool\" object, since this configuration (along with the \"initial_node_count\") will be used to create a \"NodePool\" object with an auto-generated name. Do not use this and a node_pool at the same time. For responses, this field will be populated with the node configuration of the first node pool. (For configuration of each node pool, see `node_pool.config`) If unspecified, the defaults are used. This field is deprecated, use node_pool.config instead.",
          "$ref": "NodeConfig"
        },
        "shieldedNodes": {
          "$ref": "ShieldedNodes",
          "description": "Shielded Nodes configuration."
        },
        "addonsConfig": {
          "$ref": "AddonsConfig",
          "description": "Configurations for the various addons available to run in the cluster."
        },
        "labelFingerprint": {
          "description": "The fingerprint of the set of labels for this cluster.",
          "type": "string"
        },
        "selfLink": {
          "description": "[Output only] Server-defined URL for the resource.",
          "type": "string"
        },
        "nodeIpv4CidrSize": {
          "description": "[Output only] The size of the address space on each node for hosting containers. This is provisioned from within the `container_ipv4_cidr` range. This field will only be set when cluster is in route-based network mode.",
          "type": "integer",
          "format": "int32"
        },
        "networkPolicy": {
          "description": "Configuration options for the NetworkPolicy feature.",
          "$ref": "NetworkPolicy"
        },
        "resourceLabels": {
          "description": "The resource labels for the cluster to use to annotate any related Google Compute Engine resources.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "ipAllocationPolicy": {
          "$ref": "IPAllocationPolicy",
          "description": "Configuration for cluster IP allocation."
        },
        "networkConfig": {
          "$ref": "NetworkConfig",
          "description": "Configuration for cluster networking."
        },
        "instanceGroupUrls": {
          "description": "Deprecated. Use node_pools.instance_group_urls.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "network": {
          "description": "The name of the Google Compute Engine [network](https://cloud.google.com/compute/docs/networks-and-firewalls#networks) to which the cluster is connected. If left unspecified, the `default` network will be used.",
          "type": "string"
        },
        "nodePoolAutoConfig": {
          "description": "Node pool configs that apply to all auto-provisioned node pools in autopilot clusters and node auto-provisioning enabled clusters.",
          "$ref": "NodePoolAutoConfig"
        },
        "enableKubernetesAlpha": {
          "type": "boolean",
          "description": "Kubernetes alpha features are enabled on this cluster. This includes alpha API groups (e.g. v1alpha1) and features that may not be production ready in the kubernetes version of the master and nodes. The cluster has no SLA for uptime and master/node upgrades are disabled. Alpha enabled clusters are automatically deleted thirty days after creation."
        },
        "clusterIpv4Cidr": {
          "description": "The IP address range of the container pods in this cluster, in [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`). Leave blank to have one automatically chosen or specify a `/14` block in `10.0.0.0/8`.",
          "type": "string"
        },
        "createTime": {
          "description": "[Output only] The time the cluster was created, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "type": "string"
        },
        "identityServiceConfig": {
          "description": "Configuration for Identity Service component.",
          "$ref": "IdentityServiceConfig"
        },
        "initialClusterVersion": {
          "type": "string",
          "description": "The initial Kubernetes version for this cluster. Valid versions are those found in validMasterVersions returned by getServerConfig. The version can be upgraded over time; such upgrades are reflected in currentMasterVersion and currentNodeVersion. Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"\",\"-\": picks the default Kubernetes version"
        },
        "confidentialNodes": {
          "$ref": "ConfidentialNodes",
          "description": "Configuration of Confidential Nodes. All the nodes in the cluster will be Confidential VM once enabled."
        },
        "nodePoolDefaults": {
          "$ref": "NodePoolDefaults",
          "description": "Default NodePool settings for the entire cluster. These settings are overridden if specified on the specific NodePool object."
        },
        "masterAuthorizedNetworksConfig": {
          "description": "The configuration options for master authorized networks feature.",
          "$ref": "MasterAuthorizedNetworksConfig"
        },
        "verticalPodAutoscaling": {
          "description": "Cluster-level Vertical Pod Autoscaling configuration.",
          "$ref": "VerticalPodAutoscaling"
        },
        "masterAuth": {
          "$ref": "MasterAuth",
          "description": "The authentication information for accessing the master endpoint. If unspecified, the defaults are used: For clusters before v1.12, if master_auth is unspecified, `username` will be set to \"admin\", a random password will be generated, and a client certificate will be issued."
        },
        "maintenancePolicy": {
          "description": "Configure the maintenance policy for this cluster.",
          "$ref": "MaintenancePolicy"
        },
        "name": {
          "type": "string",
          "description": "The name of this cluster. The name must be unique within this project and location (e.g. zone or region), and can be up to 40 characters with the following restrictions: * Lowercase letters, numbers, and hyphens only. * Must start with a letter. * Must end with a number or a letter."
        },
        "nodePools": {
          "items": {
            "$ref": "NodePool"
          },
          "description": "The node pools associated with this cluster. This field should not be set if \"node_config\" or \"initial_node_count\" are specified.",
          "type": "array"
        },
        "monitoringService": {
          "description": "The monitoring service the cluster should use to write metrics. Currently available options: * \"monitoring.googleapis.com/kubernetes\" - The Cloud Monitoring service with a Kubernetes-native resource model * `monitoring.googleapis.com` - The legacy Cloud Monitoring service (no longer available as of GKE 1.15). * `none` - No metrics will be exported from the cluster. If left as an empty string,`monitoring.googleapis.com/kubernetes` will be used for GKE 1.14+ or `monitoring.googleapis.com` for earlier versions.",
          "type": "string"
        },
        "monitoringConfig": {
          "description": "Monitoring configuration for the cluster.",
          "$ref": "MonitoringConfig"
        }
      },
      "description": "A Google Kubernetes Engine cluster."
    },
    "SetMonitoringServiceRequest": {
      "description": "SetMonitoringServiceRequest sets the monitoring service of a cluster.",
      "type": "object",
      "properties": {
        "monitoringService": {
          "description": "Required. The monitoring service the cluster should use to write metrics. Currently available options: * \"monitoring.googleapis.com/kubernetes\" - The Cloud Monitoring service with a Kubernetes-native resource model * `monitoring.googleapis.com` - The legacy Cloud Monitoring service (no longer available as of GKE 1.15). * `none` - No metrics will be exported from the cluster. If left as an empty string,`monitoring.googleapis.com/kubernetes` will be used for GKE 1.14+ or `monitoring.googleapis.com` for earlier versions.",
          "type": "string"
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set monitoring. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "clusterId": {
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      },
      "id": "SetMonitoringServiceRequest"
    },
    "WorkloadIdentityConfig": {
      "properties": {
        "workloadPool": {
          "type": "string",
          "description": "The workload pool to attach all Kubernetes service accounts to."
        }
      },
      "id": "WorkloadIdentityConfig",
      "description": "Configuration for the use of Kubernetes Service Accounts in GCP IAM policies.",
      "type": "object"
    },
    "NodePoolAutoConfig": {
      "id": "NodePoolAutoConfig",
      "properties": {
        "networkTags": {
          "$ref": "NetworkTags",
          "description": "The list of instance tags applied to all nodes. Tags are used to identify valid sources or targets for network firewalls and are specified by the client during cluster creation. Each tag within the list must comply with RFC1035."
        }
      },
      "type": "object",
      "description": "Node pool configs that apply to all auto-provisioned node pools in autopilot clusters and node auto-provisioning enabled clusters."
    },
    "UpdateInfo": {
      "id": "UpdateInfo",
      "description": "UpdateInfo contains resource (instance groups, etc), status and other intermediate information relevant to a node pool upgrade.",
      "properties": {
        "blueGreenInfo": {
          "$ref": "BlueGreenInfo",
          "description": "Information of a blue-green upgrade."
        }
      },
      "type": "object"
    },
    "CloudRunConfig": {
      "properties": {
        "disabled": {
          "description": "Whether Cloud Run addon is enabled for this cluster.",
          "type": "boolean"
        },
        "loadBalancerType": {
          "type": "string",
          "enum": [
            "LOAD_BALANCER_TYPE_UNSPECIFIED",
            "LOAD_BALANCER_TYPE_EXTERNAL",
            "LOAD_BALANCER_TYPE_INTERNAL"
          ],
          "enumDescriptions": [
            "Load balancer type for Cloud Run is unspecified.",
            "Install external load balancer for Cloud Run.",
            "Install internal load balancer for Cloud Run."
          ],
          "description": "Which load balancer type is installed for Cloud Run."
        }
      },
      "id": "CloudRunConfig",
      "type": "object",
      "description": "Configuration options for the Cloud Run feature."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "id": "Status"
    },
    "NetworkPerformanceConfig": {
      "description": "Configuration of all network bandwidth tiers",
      "id": "NetworkPerformanceConfig",
      "properties": {
        "totalEgressBandwidthTier": {
          "enumDescriptions": [
            "Default value",
            "Higher bandwidth, actual values based on VM size."
          ],
          "type": "string",
          "enum": [
            "TIER_UNSPECIFIED",
            "TIER_1"
          ],
          "description": "Specifies the total network bandwidth tier for the NodePool."
        }
      },
      "type": "object"
    },
    "GcfsConfig": {
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether to use GCFS."
        }
      },
      "id": "GcfsConfig",
      "description": "GcfsConfig contains configurations of Google Container File System (image streaming)."
    },
    "ListNodePoolsResponse": {
      "id": "ListNodePoolsResponse",
      "properties": {
        "nodePools": {
          "description": "A list of node pools for a cluster.",
          "items": {
            "$ref": "NodePool"
          },
          "type": "array"
        }
      },
      "description": "ListNodePoolsResponse is the result of ListNodePoolsRequest.",
      "type": "object"
    },
    "SetLoggingServiceRequest": {
      "properties": {
        "loggingService": {
          "description": "Required. The logging service the cluster should use to write logs. Currently available options: * `logging.googleapis.com/kubernetes` - The Cloud Logging service with a Kubernetes-native resource model * `logging.googleapis.com` - The legacy Cloud Logging service (no longer available as of GKE 1.15). * `none` - no logs will be exported from the cluster. If left as an empty string,`logging.googleapis.com/kubernetes` will be used for GKE 1.14+ or `logging.googleapis.com` for earlier versions.",
          "type": "string"
        },
        "clusterId": {
          "type": "string",
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
        },
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster) of the cluster to set logging. Specified in the format `projects/*/locations/*/clusters/*`."
        },
        "projectId": {
          "type": "string",
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field."
        }
      },
      "id": "SetLoggingServiceRequest",
      "description": "SetLoggingServiceRequest sets the logging service of a cluster.",
      "type": "object"
    },
    "IntraNodeVisibilityConfig": {
      "type": "object",
      "id": "IntraNodeVisibilityConfig",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Enables intra node visibility for this cluster."
        }
      },
      "description": "IntraNodeVisibilityConfig contains the desired config of the intra-node visibility on this cluster."
    },
    "MonitoringConfig": {
      "id": "MonitoringConfig",
      "type": "object",
      "properties": {
        "managedPrometheusConfig": {
          "description": "Enable Google Cloud Managed Service for Prometheus in the cluster.",
          "$ref": "ManagedPrometheusConfig"
        },
        "componentConfig": {
          "description": "Monitoring components configuration",
          "$ref": "MonitoringComponentConfig"
        }
      },
      "description": "MonitoringConfig is cluster monitoring configuration."
    },
    "DailyMaintenanceWindow": {
      "id": "DailyMaintenanceWindow",
      "type": "object",
      "description": "Time window specified for daily maintenance operations.",
      "properties": {
        "duration": {
          "description": "[Output only] Duration of the time window, automatically chosen to be smallest possible in the given scenario. Duration will be in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) format \"PTnHnMnS\".",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "Time within the maintenance window to start the maintenance operations. Time format should be in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) format \"HH:MM\", where HH : [00-23] and MM : [00-59] GMT."
        }
      }
    },
    "CreateNodePoolRequest": {
      "type": "object",
      "description": "CreateNodePoolRequest creates a node pool for a cluster.",
      "id": "CreateNodePoolRequest",
      "properties": {
        "clusterId": {
          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the parent field.",
          "type": "string"
        },
        "parent": {
          "type": "string",
          "description": "The parent (project, location, cluster name) where the node pool will be created. Specified in the format `projects/*/locations/*/clusters/*`."
        },
        "zone": {
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the parent field."
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the parent field.",
          "type": "string"
        },
        "nodePool": {
          "description": "Required. The node pool to create.",
          "$ref": "NodePool"
        }
      }
    },
    "CompleteIPRotationRequest": {
      "id": "CompleteIPRotationRequest",
      "description": "CompleteIPRotationRequest moves the cluster master back into single-IP mode.",
      "properties": {
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "clusterId": {
          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "name": {
          "description": "The name (project, location, cluster name) of the cluster to complete IP rotation. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ConfidentialNodes": {
      "description": "ConfidentialNodes is configuration for the confidential nodes feature, which makes nodes run on confidential VMs.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether Confidential Nodes feature is enabled."
        }
      },
      "type": "object",
      "id": "ConfidentialNodes"
    },
    "NodeTaint": {
      "properties": {
        "key": {
          "description": "Key for taint.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Value for taint."
        },
        "effect": {
          "enum": [
            "EFFECT_UNSPECIFIED",
            "NO_SCHEDULE",
            "PREFER_NO_SCHEDULE",
            "NO_EXECUTE"
          ],
          "description": "Effect for taint.",
          "type": "string",
          "enumDescriptions": [
            "Not set",
            "NoSchedule",
            "PreferNoSchedule",
            "NoExecute"
          ]
        }
      },
      "type": "object",
      "description": "Kubernetes taint is comprised of three fields: key, value, and effect. Effect can only be one of three types: NoSchedule, PreferNoSchedule or NoExecute. See [here](https://kubernetes.io/docs/concepts/configuration/taint-and-toleration) for more information, including usage and the valid values.",
      "id": "NodeTaint"
    },
    "UpgradeAvailableEvent": {
      "description": "UpgradeAvailableEvent is a notification sent to customers when a new available version is released.",
      "id": "UpgradeAvailableEvent",
      "properties": {
        "resource": {
          "type": "string",
          "description": "Optional relative path to the resource. For example, the relative path of the node pool."
        },
        "resourceType": {
          "enum": [
            "UPGRADE_RESOURCE_TYPE_UNSPECIFIED",
            "MASTER",
            "NODE_POOL"
          ],
[...]
