{
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "name": "containeranalysis",
  "mtlsRootUrl": "https://containeranalysis.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com/container-analysis/api/reference/rest/",
  "discoveryVersion": "v1",
  "canonicalName": "Container Analysis",
  "id": "containeranalysis:v1alpha1",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "schemas": {
    "AttestationAuthority": {
      "type": "object",
      "description": "Note kind that represents a logical attestation \"role\" or \"authority\". For example, an organization might have one `AttestationAuthority` for \"QA\" and one for \"build\". This Note is intended to act strictly as a grouping mechanism for the attached Occurrences (Attestations). This grouping mechanism also provides a security boundary, since IAM ACLs gate the ability for a principle to attach an Occurrence to a given Note. It also provides a single point of lookup to find all attached Attestation Occurrences, even if they don't all live in the same project.",
      "properties": {
        "hint": {
          "$ref": "AttestationAuthorityHint"
        }
      },
      "id": "AttestationAuthority"
    },
    "Detail": {
      "type": "object",
      "properties": {
        "maxAffectedVersion": {
          "description": "The max version of the package in which the vulnerability exists.",
          "$ref": "Version"
        },
        "source": {
          "description": "The source from which the information in this Detail was obtained.",
          "type": "string"
        },
        "package": {
          "type": "string",
          "description": "The name of the package where the vulnerability was found. This field can be used as a filter in list requests."
        },
        "cpeUri": {
          "description": "The cpe_uri in [cpe format] (https://cpe.mitre.org/specification/) in which the vulnerability manifests. Examples include distro or storage location for vulnerable jar. This field can be used as a filter in list requests.",
          "type": "string"
        },
        "description": {
          "description": "A vendor-specific description of this note.",
          "type": "string"
        },
        "isObsolete": {
          "type": "boolean",
          "description": "Whether this Detail is obsolete. Occurrences are expected not to point to obsolete details."
        },
        "vendor": {
          "type": "string",
          "description": "The vendor of the product. e.g. \"google\""
        },
        "severityName": {
          "type": "string",
          "description": "The severity (eg: distro assigned severity) for this vulnerability."
        },
        "packageType": {
          "description": "The type of package; whether native or non native(ruby gems, node.js packages etc)",
          "type": "string"
        },
        "minAffectedVersion": {
          "$ref": "Version",
          "description": "The min version of the package in which the vulnerability exists."
        },
        "fixedLocation": {
          "description": "The fix for this specific package version.",
          "$ref": "VulnerabilityLocation"
        }
      },
      "id": "Detail",
      "description": "Identifies all occurrences of this vulnerability in the package for a specific distro/location For example: glibc in cpe:/o:debian:debian_linux:8 for versions 2.1 - 2.2"
    },
    "PackageInfoOccurrence": {
      "properties": {
        "summaryDescription": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A short description of the package"
        },
        "title": {
          "description": "Output only. Identify the full name of the package as given by the Package Originator",
          "type": "string",
          "readOnly": true
        },
        "comment": {
          "description": "A place for the SPDX file creator to record any general comments about the package being described",
          "type": "string"
        },
        "licenseConcluded": {
          "$ref": "License",
          "description": "package or alternative values, if the governing license cannot be determined"
        },
        "filename": {
          "type": "string",
          "description": "Provide the actual file name of the package, or path of the directory being treated as a package"
        },
        "sourceInfo": {
          "type": "string",
          "description": "Provide a place for the SPDX file creator to record any relevant background information or additional comments about the origin of the package"
        },
        "version": {
          "readOnly": true,
          "description": "Output only. Identify the version of the package",
          "type": "string"
        },
        "packageType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of package: OS, MAVEN, GO, GO_STDLIB, etc."
        },
        "homePage": {
          "description": "Output only. Provide a place for the SPDX file creator to record a web site that serves as the package's home page",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "Uniquely identify any element in an SPDX document which may be referenced by other elements"
        }
      },
      "description": "PackageInfoOccurrence represents an SPDX Package Information section: https://spdx.github.io/spdx-spec/3-package-information/",
      "type": "object",
      "id": "PackageInfoOccurrence"
    },
    "NonCompliantFile": {
      "type": "object",
      "properties": {
        "path": {
          "description": "display_command is a single command that can be used to display a list of non compliant files. When there is no such command, we can also iterate a list of non compliant file using 'path'. Empty if `display_command` is set.",
          "type": "string"
        },
        "reason": {
          "type": "string",
          "description": "Explains why a file is non compliant for a CIS check."
        },
        "displayCommand": {
          "description": "Command to display the non-compliant files.",
          "type": "string"
        }
      },
      "description": "Details about files that caused a compliance check to fail.",
      "id": "NonCompliantFile"
    },
    "Subject": {
      "type": "object",
      "description": "Subject refers to the subject of the intoto statement",
      "id": "Subject",
      "properties": {
        "digest": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "\"\": \"\" Algorithms can be e.g. sha256, sha512 See https://github.com/in-toto/attestation/blob/main/spec/field_types.md#DigestSet"
        },
        "name": {
          "description": "name is the name of the Subject used here",
          "type": "string"
        }
      }
    },
    "UpdateOperationRequest": {
      "id": "UpdateOperationRequest",
      "description": "Request for updating an existing operation",
      "properties": {
        "operation": {
          "$ref": "Operation",
          "description": "The operation to create."
        },
        "updateMask": {
          "description": "The fields to update.",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "type": "object"
    },
    "CreateOperationRequest": {
      "description": "Request for creating an operation",
      "properties": {
        "operationId": {
          "type": "string",
          "description": "The ID to use for this operation."
        },
        "operation": {
          "description": "The operation to create.",
          "$ref": "Operation"
        }
      },
      "id": "CreateOperationRequest",
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1Build": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The 'Build' name with format: `projects/{project}/locations/{location}/builds/{build}`, where {build} is a unique identifier generated by the service."
        },
        "options": {
          "description": "Special options for this build.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildOptions"
        },
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time at which execution of the build was started."
        },
        "warnings": {
          "type": "array",
          "description": "Output only. Non-fatal problems encountered during the execution of the build.",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildWarning"
          },
          "readOnly": true
        },
        "status": {
          "description": "Output only. Status of the build.",
          "enum": [
            "STATUS_UNKNOWN",
            "PENDING",
            "QUEUED",
            "WORKING",
            "SUCCESS",
            "FAILURE",
            "INTERNAL_ERROR",
            "TIMEOUT",
            "CANCELLED",
            "EXPIRED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Status of the build is unknown.",
            "Build has been created and is pending execution and queuing. It has not been queued.",
            "Build or step is queued; work has not yet begun.",
            "Build or step is being executed.",
            "Build or step finished successfully.",
            "Build or step failed to complete successfully.",
            "Build or step failed due to an internal cause.",
            "Build or step took longer than was allowed.",
            "Build or step was canceled by a user.",
            "Build was enqueued for longer than the value of `queue_ttl`."
          ]
        },
        "timeout": {
          "format": "google-duration",
          "type": "string",
          "description": "Amount of time that this build should be allowed to run, to second granularity. If this amount of time elapses, work on the build will cease and the build status will be `TIMEOUT`. `timeout` starts ticking from `startTime`. Default time is ten minutes."
        },
        "results": {
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1Results",
          "readOnly": true,
          "description": "Output only. Results of the build."
        },
        "substitutions": {
          "description": "Substitutions data for `Build` resource.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "finishTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time at which execution of the build was finished. The difference between finish_time and start_time is the duration of the build's execution.",
          "format": "google-datetime"
        },
        "approval": {
          "description": "Output only. Describes this build's approval configuration, status, and result.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildApproval",
          "readOnly": true
        },
        "timing": {
          "description": "Output only. Stores timing information for phases of the build. Valid keys are: * BUILD: time to execute all build steps. * PUSH: time to push all specified images. * FETCHSOURCE: time to fetch source. * SETUPBUILD: time to set up build. If the build does not specify source or images, these keys will not be included.",
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan"
          }
        },
        "secrets": {
          "type": "array",
          "description": "Secrets to decrypt using Cloud Key Management Service. Note: Secret Manager is the recommended technique for managing sensitive data with Cloud Build. Use `available_secrets` to configure builds to access secrets from Secret Manager. For instructions, see: https://cloud.google.com/cloud-build/docs/securing-builds/use-secrets",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1Secret"
          }
        },
        "source": {
          "description": "The location of the source files to build.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1Source"
        },
        "sourceProvenance": {
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1SourceProvenance",
          "description": "Output only. A permanent fixed identifier for source.",
          "readOnly": true
        },
        "artifacts": {
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1Artifacts",
          "description": "Artifacts produced by the build that should be uploaded upon successful completion of all build steps."
        },
        "tags": {
          "type": "array",
          "description": "Tags for annotation of a `Build`. These are not docker tags.",
          "items": {
            "type": "string"
          }
        },
        "failureInfo": {
          "description": "Output only. Contains information about the build when status=FAILURE.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildFailureInfo",
          "readOnly": true
        },
        "serviceAccount": {
          "description": "IAM service account whose credentials will be used at build runtime. Must be of the format `projects/{PROJECT_ID}/serviceAccounts/{ACCOUNT}`. ACCOUNT can be email address or uniqueId of the service account. ",
          "type": "string"
        },
        "steps": {
          "type": "array",
          "description": "Required. The operations to be performed on the workspace.",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildStep"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time at which the request to create the build was received."
        },
        "logsBucket": {
          "type": "string",
          "description": "Google Cloud Storage bucket where logs should be written (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)). Logs file names will be of the format `${logs_bucket}/log-${build_id}.txt`."
        },
        "buildTriggerId": {
          "description": "Output only. The ID of the `BuildTrigger` that triggered this build, if it was triggered automatically.",
          "readOnly": true,
          "type": "string"
        },
        "logUrl": {
          "description": "Output only. URL to logs for this build in Google Cloud Console.",
          "readOnly": true,
          "type": "string"
        },
        "availableSecrets": {
          "description": "Secrets and secret environment variables.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1Secrets"
        },
        "queueTtl": {
          "type": "string",
          "description": "TTL in queue for this build. If provided and the build is enqueued longer than this value, the build will expire and the build status will be `EXPIRED`. The TTL starts ticking from create_time.",
          "format": "google-duration"
        },
        "images": {
          "type": "array",
          "description": "A list of images to be pushed upon the successful completion of all build steps. The images are pushed using the builder service account's credentials. The digests of the pushed images will be stored in the `Build` resource's results field. If any of the images fail to be pushed, the build status is marked `FAILURE`.",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "description": "Output only. Unique identifier of the build.",
          "type": "string",
          "readOnly": true
        },
        "statusDetail": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Customer-readable message about the current status."
        },
        "projectId": {
          "type": "string",
          "description": "Output only. ID of the project.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A build resource in the Cloud Build API. At a high level, a `Build` describes where to find source code, how to build it (for example, the builder image to run on the source), and where to store the built artifacts. Fields can include the following variables, which will be expanded when the build is created: - $PROJECT_ID: the project ID of the build. - $PROJECT_NUMBER: the project number of the build. - $LOCATION: the location/region of the build. - $BUILD_ID: the autogenerated ID of the build. - $REPO_NAME: the source repository name specified by RepoSource. - $BRANCH_NAME: the branch name specified by RepoSource. - $TAG_NAME: the tag name specified by RepoSource. - $REVISION_ID or $COMMIT_SHA: the commit SHA specified by RepoSource or resolved from the specified branch or tag. - $SHORT_SHA: first 7 characters of $REVISION_ID or $COMMIT_SHA.",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1Build"
    },
    "SlsaRecipe": {
      "properties": {
        "arguments": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Collection of all external inputs that influenced the build on top of recipe.definedInMaterial and recipe.entryPoint. For example, if the recipe type were \"make\", then this might be the flags passed to make aside from the target, which is captured in recipe.entryPoint. Depending on the recipe Type, the structure may be different.",
          "type": "object"
        },
        "environment": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Any other builder-controlled inputs necessary for correctly evaluating the recipe. Usually only needed for reproducing the build but not evaluated as part of policy. Depending on the recipe Type, the structure may be different."
        },
        "definedInMaterial": {
          "format": "int64",
          "description": "Index in materials containing the recipe steps that are not implied by recipe.type. For example, if the recipe type were \"make\", then this would point to the source containing the Makefile, not the make program itself. Set to -1 if the recipe doesn't come from a material, as zero is default unset value for int64.",
          "type": "string"
        },
        "type": {
          "description": "URI indicating what type of recipe was performed. It determines the meaning of recipe.entryPoint, recipe.arguments, recipe.environment, and materials.",
          "type": "string"
        },
        "entryPoint": {
          "description": "String identifying the entry point into the build. This is often a path to a configuration file and/or a target label within that file. The syntax and meaning are defined by recipe.type. For example, if the recipe type were \"make\", then this would reference the directory in which to run make as well as which target to use.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Steps taken to build the artifact. For a TaskRun, typically each container corresponds to one step in the recipe.",
      "id": "SlsaRecipe"
    },
    "ListOccurrencesResponse": {
      "id": "ListOccurrencesResponse",
      "type": "object",
      "description": "Response including listed active occurrences.",
      "properties": {
        "occurrences": {
          "description": "The occurrences requested.",
          "type": "array",
          "items": {
            "$ref": "Occurrence"
          }
        },
        "nextPageToken": {
          "description": "The next pagination token in the list response. It should be used as `page_token` for the following request. An empty value means no more results.",
          "type": "string"
        }
      }
    },
    "ComplianceOccurrence": {
      "type": "object",
      "description": "An indication that the compliance checks in the associated ComplianceNote were not satisfied for particular resources or a specified reason.",
      "id": "ComplianceOccurrence",
      "properties": {
        "nonComplianceReason": {
          "description": "The reason for non compliance of these files.",
          "type": "string"
        },
        "nonCompliantFiles": {
          "items": {
            "$ref": "NonCompliantFile"
          },
          "description": "A list of files which are violating compliance checks.",
          "type": "array"
        }
      }
    },
    "Discovery": {
      "description": "A note that indicates a type of analysis a provider would perform. This note exists in a provider's project. A `Discovery` occurrence is created in a consumer's project at the start of analysis. The occurrence's operation will indicate the status of the analysis. Absence of an occurrence linked to this note for a resource indicates that analysis hasn't started.",
      "id": "Discovery",
      "properties": {
        "analysisKind": {
          "enumDescriptions": [
            "Unknown",
            "The note and occurrence represent a package vulnerability.",
            "The note and occurrence assert build provenance.",
            "This represents an image basis relationship.",
            "This represents a package installed via a package manager.",
            "The note and occurrence track deployment events.",
            "The note and occurrence track the initial discovery status of a resource.",
            "This represents a logical \"role\" that can attest to artifacts.",
            "This represents an available software upgrade.",
            "This represents a compliance check that can be applied to a resource.",
            "This represents a software bill of materials.",
            "This represents an SPDX Package.",
            "This represents an SPDX File.",
            "This represents an SPDX Relationship.",
            "This represents a DSSE attestation Note"
          ],
          "type": "string",
          "enum": [
            "KIND_UNSPECIFIED",
            "PACKAGE_VULNERABILITY",
            "BUILD_DETAILS",
            "IMAGE_BASIS",
            "PACKAGE_MANAGER",
            "DEPLOYABLE",
            "DISCOVERY",
            "ATTESTATION_AUTHORITY",
            "UPGRADE",
            "COMPLIANCE",
            "SBOM",
            "SPDX_PACKAGE",
            "SPDX_FILE",
            "SPDX_RELATIONSHIP",
            "DSSE_ATTESTATION"
          ],
          "description": "The kind of analysis that is handled by this discovery."
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsContaineranalysisV1alpha1GitSourceContext": {
      "id": "GoogleDevtoolsContaineranalysisV1alpha1GitSourceContext",
      "description": "A GitSourceContext denotes a particular revision in a third party Git repository (e.g., GitHub).",
      "properties": {
        "url": {
          "description": "Git repository URL.",
          "type": "string"
        },
        "revisionId": {
          "description": "Required. Git commit hash.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListNotesResponse": {
      "description": "Response including listed notes.",
      "properties": {
        "nextPageToken": {
          "description": "The next pagination token in the list response. It should be used as page_token for the following request. An empty value means no more result.",
          "type": "string"
        },
        "notes": {
          "type": "array",
          "description": "The occurrences requested",
          "items": {
            "$ref": "Note"
          }
        }
      },
      "type": "object",
      "id": "ListNotesResponse"
    },
    "VulnerabilityLocation": {
      "properties": {
        "fileLocation": {
          "description": "The file location at which this package was found.",
          "items": {
            "$ref": "FileLocation"
          },
          "type": "array"
        },
        "package": {
          "type": "string",
          "description": "The package being described."
        },
        "version": {
          "description": "The version of the package being described. This field can be used as a filter in list requests.",
          "$ref": "Version"
        },
        "cpeUri": {
          "description": "The cpe_uri in [cpe format] (https://cpe.mitre.org/specification/) format. Examples include distro or storage location for vulnerable jar. This field can be used as a filter in list requests.",
          "type": "string"
        }
      },
      "description": "The location of the vulnerability",
      "id": "VulnerabilityLocation",
      "type": "object"
    },
    "InTotoStatement": {
      "type": "object",
      "description": "Spec defined at https://github.com/in-toto/attestation/tree/main/spec#statement The serialized InTotoStatement will be stored as Envelope.payload. Envelope.payloadType is always \"application/vnd.in-toto+json\".",
      "id": "InTotoStatement",
      "properties": {
        "predicateType": {
          "description": "\"https://slsa.dev/provenance/v0.1\" for SlsaProvenance.",
          "type": "string"
        },
        "provenance": {
          "description": "provenance is a predicate of type intotoprovenance",
          "$ref": "InTotoProvenance"
        },
        "subject": {
          "description": "subject is the subjects of the intoto statement",
          "type": "array",
          "items": {
            "$ref": "Subject"
          }
        },
        "_type": {
          "description": "Always \"https://in-toto.io/Statement/v0.1\".",
          "type": "string"
        },
        "slsaProvenance": {
          "$ref": "SlsaProvenance",
          "description": "slsa_provenance is a predicate of type slsaProvenance"
        }
      }
    },
    "BuildType": {
      "description": "Note holding the version of the provider's builder and the signature of the provenance message in linked BuildDetails.",
      "properties": {
        "signature": {
          "description": "Signature of the build in Occurrences pointing to the Note containing this `BuilderDetails`.",
          "$ref": "BuildSignature"
        },
        "builderVersion": {
          "description": "Version of the builder which produced this Note.",
          "type": "string"
        }
      },
      "id": "BuildType",
      "type": "object"
    },
    "Material": {
      "description": "Material is a material used in the generation of the provenance",
      "type": "object",
      "id": "Material",
      "properties": {
        "uri": {
          "type": "string",
          "description": "uri is the uri of the material"
        },
        "digest": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "digest is a map from a hash algorithm (e.g. sha256) to the value in the material"
        }
      }
    },
    "DocumentOccurrence": {
      "properties": {
        "documentComment": {
          "type": "string",
          "description": "A field for creators of the SPDX file content to provide comments to the consumers of the SPDX document"
        },
        "namespace": {
          "type": "string",
          "description": "Provide an SPDX document specific namespace as a unique absolute Uniform Resource Identifier (URI) as specified in RFC-3986, with the exception of the ‘#’ delimiter"
        },
        "id": {
          "description": "Identify the current SPDX document which may be referenced in relationships by other files, packages internally and documents externally",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Identify when the SPDX file was originally created. The date is to be specified according to combined date and time in UTC format as specified in ISO 8601 standard"
        },
        "title": {
          "description": "Identify name of this document as designated by creator",
          "type": "string"
        },
        "externalDocumentRefs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Identify any external SPDX documents referenced within this SPDX document"
        },
        "creators": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Identify who (or what, in the case of a tool) created the SPDX file. If the SPDX file was created by an individual, indicate the person's name"
        },
        "licenseListVersion": {
          "type": "string",
          "description": "A field for creators of the SPDX file to provide the version of the SPDX License List used when the SPDX file was created"
        },
        "creatorComment": {
          "type": "string",
          "description": "A field for creators of the SPDX file to provide general comments about the creation of the SPDX file or any other relevant comment not included in the other fields"
        }
      },
      "description": "DocumentOccurrence represents an SPDX Document Creation Information section: https://spdx.github.io/spdx-spec/2-document-creation-information/",
      "id": "DocumentOccurrence",
      "type": "object"
    },
    "CVSS": {
      "id": "CVSS",
      "description": "Common Vulnerability Scoring System.",
      "type": "object",
      "properties": {
        "baseScore": {
          "description": "The base score is a function of the base metric scores.",
          "type": "number",
          "format": "float"
        },
        "exploitabilityScore": {
          "type": "number",
          "format": "float"
        },
        "attackVector": {
          "description": "Base Metrics Represents the intrinsic characteristics of a vulnerability that are constant over time and across user environments.",
          "type": "string",
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "attackComplexity": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ]
        },
        "userInteraction": {
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "availabilityImpact": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "confidentialityImpact": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "type": "string"
        },
        "impactScore": {
          "type": "number",
          "format": "float"
        },
        "scope": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ],
          "type": "string"
        },
        "authentication": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AUTHENTICATION_UNSPECIFIED",
            "AUTHENTICATION_MULTIPLE",
            "AUTHENTICATION_SINGLE",
            "AUTHENTICATION_NONE"
          ],
          "type": "string"
        },
        "privilegesRequired": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ]
        },
        "integrityImpact": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        }
      }
    },
    "PgpSignedAttestation": {
      "properties": {
        "signature": {
          "type": "string",
          "description": "The raw content of the signature, as output by GNU Privacy Guard (GPG) or equivalent. Since this message only supports attached signatures, the payload that was signed must be attached. While the signature format supported is dependent on the verification implementation, currently only ASCII-armored (`--armor` to gpg), non-clearsigned (`--sign` rather than `--clearsign` to gpg) are supported. Concretely, `gpg --sign --armor --output=signature.gpg payload.json` will create the signature content expected in this field in `signature.gpg` for the `payload.json` attestation payload."
        },
        "contentType": {
          "type": "string",
          "enum": [
            "CONTENT_TYPE_UNSPECIFIED",
            "SIMPLE_SIGNING_JSON"
          ],
          "enumDescriptions": [
            "`ContentType` is not set.",
            "Atomic format attestation signature. See https://github.com/containers/image/blob/8a5d2f82a6e3263290c8e0276c3e0f64e77723e7/docs/atomic-signature.md The payload extracted from `signature` is a JSON blob conforming to the linked schema."
          ],
          "description": "Type (for example schema) of the attestation payload that was signed. The verifier must ensure that the provided type is one that the verifier supports, and that the attestation payload is a valid instantiation of that type (for example by validating a JSON schema)."
        },
        "pgpKeyId": {
          "type": "string",
          "description": "The cryptographic fingerprint of the key used to generate the signature, as output by, e.g. `gpg --list-keys`. This should be the version 4, full 160-bit fingerprint, expressed as a 40 character hexadecimal string. See https://tools.ietf.org/html/rfc4880#section-12.2 for details. Implementations may choose to acknowledge \"LONG\", \"SHORT\", or other abbreviated key IDs, but only the full fingerprint is guaranteed to work. In gpg, the full fingerprint can be retrieved from the `fpr` field returned when calling --list-keys with --with-colons. For example: ``` gpg --with-colons --with-fingerprint --force-v4-certs \\ --list-keys attester@example.com tru::1:1513631572:0:3:1:5 pub:...... fpr:::::::::24FF6481B76AC91E66A00AC657A93A81EF3AE6FB: ``` Above, the fingerprint is `24FF6481B76AC91E66A00AC657A93A81EF3AE6FB`."
        }
      },
      "description": "An attestation wrapper with a PGP-compatible signature. This message only supports `ATTACHED` signatures, where the payload that is signed is included alongside the signature itself in the same file.",
      "type": "object",
      "id": "PgpSignedAttestation"
    },
    "UpgradeNote": {
      "type": "object",
      "id": "UpgradeNote",
      "description": "An Upgrade Note represents a potential upgrade of a package to a given version. For each package version combination (i.e. bash 4.0, bash 4.1, bash 4.1.2), there will be a Upgrade Note.",
      "properties": {
        "version": {
          "description": "Required - The version of the package in machine + human readable form.",
          "$ref": "Version"
        },
        "package": {
          "type": "string",
          "description": "Required - The package this Upgrade is for."
        },
        "distributions": {
          "items": {
            "$ref": "UpgradeDistribution"
          },
          "type": "array",
          "description": "Metadata about the upgrade for each specific operating system."
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildFailureInfo": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildFailureInfo",
      "properties": {
        "detail": {
          "type": "string",
          "description": "Explains the failure issue in more detail using hard-coded text."
        },
        "type": {
          "type": "string",
          "enum": [
            "FAILURE_TYPE_UNSPECIFIED",
            "PUSH_FAILED",
            "PUSH_IMAGE_NOT_FOUND",
            "PUSH_NOT_AUTHORIZED",
            "LOGGING_FAILURE",
            "USER_BUILD_STEP",
            "FETCH_SOURCE_FAILED"
          ],
          "description": "The name of the failure.",
          "enumDescriptions": [
            "Type unspecified",
            "Unable to push the image to the repository.",
            "Final image not found.",
            "Unauthorized push of the final image.",
            "Backend logging failures. Should retry.",
            "A build step has failed.",
            "The source fetching has failed."
          ]
        }
      },
      "type": "object",
      "description": "A fatal problem encountered during the execution of the build."
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1SourceProvenance": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1SourceProvenance",
      "properties": {
        "resolvedRepoSource": {
          "description": "A copy of the build's `source.repo_source`, if exists, with any revisions resolved.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1RepoSource"
        },
        "fileHashes": {
          "type": "object",
          "readOnly": true,
          "description": "Output only. Hash(es) of the build source, which can be used to verify that the original source integrity was maintained in the build. Note that `FileHashes` will only be populated if `BuildOptions` has requested a `SourceProvenanceHash`. The keys to this map are file paths used as build source and the values contain the hash values for those files. If the build source came in a single package such as a gzipped tarfile (`.tar.gz`), the `FileHash` will be for the single path to that file.",
          "additionalProperties": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1FileHashes"
          }
        },
        "resolvedStorageSource": {
          "description": "A copy of the build's `source.storage_source`, if exists, with any generations resolved.",
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSource"
        },
        "resolvedStorageSourceManifest": {
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSourceManifest",
          "description": "A copy of the build's `source.storage_source_manifest`, if exists, with any revisions resolved. This feature is in Preview."
        }
      },
      "description": "Provenance of the source. Ways to find the original source, or verify that some source was used for this build.",
      "type": "object"
    },
    "SlsaProvenance": {
      "properties": {
        "builder": {
          "$ref": "SlsaBuilder",
          "description": "builder is the builder of this provenance"
        },
        "metadata": {
          "$ref": "SlsaMetadata",
          "description": "metadata is the metadata of the provenance"
        },
        "materials": {
          "type": "array",
          "items": {
            "$ref": "Material"
          },
          "description": "The collection of artifacts that influenced the build including sources, dependencies, build tools, base images, and so on. This is considered to be incomplete unless metadata.completeness.materials is true. Unset or null is equivalent to empty."
        },
        "recipe": {
          "description": "Identifies the configuration used for the build. When combined with materials, this SHOULD fully describe the build, such that re-running this recipe results in bit-for-bit identical output (if the build is reproducible).",
          "$ref": "SlsaRecipe"
        }
      },
      "description": "SlsaProvenance is the slsa provenance as defined by the slsa spec.",
      "type": "object",
      "id": "SlsaProvenance"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildStep": {
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1BuildStep",
      "properties": {
        "secretEnv": {
          "description": "A list of environment variables which are encrypted using a Cloud Key Management Service crypto key. These values must be specified in the build's `Secret`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "args": {
          "type": "array",
          "description": "A list of arguments that will be presented to the step when it is started. If the image used to run the step's container has an entrypoint, the `args` are used as arguments to that entrypoint. If the image does not define an entrypoint, the first element in args is used as the entrypoint, and the remainder will be used as arguments.",
          "items": {
            "type": "string"
          }
        },
        "dir": {
          "description": "Working directory to use when running this step's container. If this value is a relative path, it is relative to the build's working directory. If this value is absolute, it may be outside the build's working directory, in which case the contents of the path may not be persisted across build step executions, unless a `volume` for that path is specified. If the build specifies a `RepoSource` with `dir` and a step with a `dir`, which specifies an absolute path, the `RepoSource` `dir` is ignored for the step's execution.",
          "type": "string"
        },
        "status": {
          "enum": [
            "STATUS_UNKNOWN",
            "PENDING",
            "QUEUED",
            "WORKING",
            "SUCCESS",
            "FAILURE",
            "INTERNAL_ERROR",
            "TIMEOUT",
            "CANCELLED",
            "EXPIRED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Status of the build is unknown.",
            "Build has been created and is pending execution and queuing. It has not been queued.",
            "Build or step is queued; work has not yet begun.",
            "Build or step is being executed.",
            "Build or step finished successfully.",
            "Build or step failed to complete successfully.",
            "Build or step failed due to an internal cause.",
            "Build or step took longer than was allowed.",
            "Build or step was canceled by a user.",
            "Build was enqueued for longer than the value of `queue_ttl`."
          ],
          "description": "Output only. Status of the build step. At this time, build step status is only updated on build completion; step status is not updated in real-time as the build progresses."
        },
        "id": {
          "type": "string",
          "description": "Unique identifier for this build step, used in `wait_for` to reference this build step as a dependency."
        },
        "entrypoint": {
          "description": "Entrypoint to be used instead of the build step image's default entrypoint. If unset, the image's default entrypoint is used.",
          "type": "string"
        },
        "timing": {
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan",
          "description": "Output only. Stores timing information for executing this build step.",
          "readOnly": true
        },
        "timeout": {
          "format": "google-duration",
          "type": "string",
          "description": "Time limit for executing this build step. If not defined, the step has no time limit and will be allowed to continue to run until either it completes or the build itself times out."
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the container image that will run this particular build step. If the image is available in the host's Docker daemon's cache, it will be run directly. If not, the host will attempt to pull the image first, using the builder service account's credentials if necessary. The Docker daemon's cache will already have the latest versions of all of the officially supported build steps ([https://github.com/GoogleCloudPlatform/cloud-builders](https://github.com/GoogleCloudPlatform/cloud-builders)). The Docker daemon will also have cached many of the layers for some popular images, like \"ubuntu\", \"debian\", but they will be refreshed at the time you attempt to use them. If you built an image in a previous build step, it will be stored in the host's Docker daemon's cache and is available to use as the name for a later build step."
        },
        "waitFor": {
          "description": "The ID(s) of the step(s) that this build step depends on. This build step will not start until all the build steps in `wait_for` have completed successfully. If `wait_for` is empty, this build step will start when all previous build steps in the `Build.Steps` list have completed successfully.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "volumes": {
          "type": "array",
          "description": "List of volumes to mount into the build step. Each volume is created as an empty volume prior to execution of the build step. Upon completion of the build, volumes and their contents are discarded. Using a named volume in only one step is not valid as it is indicative of a build request with an incorrect configuration.",
          "items": {
            "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1Volume"
          }
        },
        "env": {
          "description": "A list of environment variable definitions to be used when running a step. The elements are of the form \"KEY=VALUE\" for the environment variable \"KEY\" being given the value \"VALUE\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pullTiming": {
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan",
          "description": "Output only. Stores timing information for pulling this build step's builder image only.",
          "readOnly": true
        },
        "script": {
          "description": "A shell script to be executed in the step. When script is provided, the user cannot specify the entrypoint or args.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A step in the build pipeline."
    },
    "SeverityCount": {
      "id": "SeverityCount",
      "description": "The number of occurrences created for a specific severity.",
      "properties": {
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "The severity of the occurrences.",
          "type": "string",
          "enumDescriptions": [
            "Unknown Impact",
            "Minimal Impact",
            "Low Impact",
            "Medium Impact",
            "High Impact",
            "Critical Impact"
          ]
        },
        "count": {
          "type": "string",
          "format": "int64",
          "description": "The number of occurrences with the severity."
        }
      },
      "type": "object"
    },
    "UpgradeOccurrence": {
      "properties": {
        "distribution": {
          "description": "Metadata about the upgrade for available for the specific operating system for the resource_url. This allows efficient filtering, as well as making it easier to use the occurrence.",
          "$ref": "UpgradeDistribution"
        },
        "parsedVersion": {
          "description": "Required - The version of the package in a machine + human readable form.",
          "$ref": "Version"
        },
        "package": {
          "type": "string",
          "description": "Required - The package this Upgrade is for."
        }
      },
      "id": "UpgradeOccurrence",
      "type": "object",
      "description": "An Upgrade Occurrence represents that a specific resource_url could install a specific upgrade. This presence is supplied via local sources (i.e. it is present in the mirror and the running system has noticed its availability)."
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1InlineSecret": {
      "description": "Pairs a set of secret environment variables mapped to encrypted values with the Cloud KMS key to use to decrypt the value.",
      "properties": {
        "envMap": {
          "additionalProperties": {
            "type": "string",
            "format": "byte"
          },
          "description": "Map of environment variable name to its encrypted value. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step. Values can be at most 64 KB in size. There can be at most 100 secret values across all of a build's secrets.",
          "type": "object"
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Resource name of Cloud KMS crypto key to decrypt the encrypted value. In format: projects/*/locations/*/keyRings/*/cryptoKeys/*"
        }
      },
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1InlineSecret"
    },
    "Deployment": {
      "type": "object",
      "properties": {
        "config": {
          "type": "string",
          "description": "Configuration used to create this deployment."
        },
        "deployTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Beginning of the lifetime of this deployment."
        },
        "address": {
          "description": "Address of the runtime element hosting this deployment.",
          "type": "string"
        },
        "undeployTime": {
          "type": "string",
          "description": "End of the lifetime of this deployment.",
          "format": "google-datetime"
        },
        "platform": {
          "enumDescriptions": [
            "Unknown",
            "Google Container Engine",
            "Google App Engine: Flexible Environment",
            "Custom user-defined platform"
          ],
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "GKE",
            "FLEX",
            "CUSTOM"
          ],
          "description": "Platform hosting this deployment.",
          "type": "string"
        },
        "userEmail": {
          "type": "string",
          "description": "Identity of the user that triggered this deployment."
        },
        "resourceUri": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Resource URI for the artifact being deployed taken from the deployable field with the same name."
        }
      },
      "id": "Deployment",
      "description": "The period during which some deployable was active in a runtime."
    },
    "Completeness": {
      "description": "Indicates that the builder claims certain fields in this message to be complete.",
      "properties": {
        "materials": {
          "type": "boolean",
          "description": "If true, the builder claims that materials are complete, usually through some controls to prevent network access. Sometimes called \"hermetic\"."
        },
        "arguments": {
          "description": "If true, the builder claims that recipe.arguments is complete, meaning that all external inputs are properly captured in the recipe.",
          "type": "boolean"
        },
        "environment": {
          "type": "boolean",
          "description": "If true, the builder claims that recipe.environment is claimed to be complete."
        }
      },
      "id": "Completeness",
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1SecretManagerSecret": {
      "type": "object",
      "properties": {
        "versionName": {
          "description": "Resource name of the SecretVersion. In format: projects/*/secrets/*/versions/*",
          "type": "string"
        },
        "env": {
          "type": "string",
          "description": "Environment variable name to associate with the secret. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step."
        }
      },
      "description": "Pairs a secret environment variable with a SecretVersion in Secret Manager.",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1SecretManagerSecret"
    },
    "DSSEAttestationOccurrence": {
      "id": "DSSEAttestationOccurrence",
      "type": "object",
      "properties": {
        "statement": {
          "$ref": "InTotoStatement"
        },
        "envelope": {
          "$ref": "Envelope",
          "description": "If doing something security critical, make sure to verify the signatures in this metadata."
        }
      },
      "description": "An occurrence describing an attestation on a resource"
    },
    "Source": {
      "description": "Source describes the location of the source used for the build.",
      "type": "object",
      "properties": {
        "artifactStorageSource": {
          "$ref": "StorageSource",
          "description": "If provided, the input binary artifacts for the build came from this location."
        },
        "fileHashes": {
          "description": "Hash(es) of the build source, which can be used to verify that the original source integrity was maintained in the build. The keys to this map are file paths used as build source and the values contain the hash values for those files. If the build source came in a single package such as a gzipped tarfile (.tar.gz), the FileHash will be for the single path to that file.",
          "additionalProperties": {
            "$ref": "FileHashes"
          },
          "type": "object"
        },
        "additionalContexts": {
          "description": "If provided, some of the source code used for the build may be found in these locations, in the case where the source repository had multiple remotes or submodules. This list will not include the context specified in the context field.",
          "type": "array",
          "items": {
            "$ref": "GoogleDevtoolsContaineranalysisV1alpha1SourceContext"
          }
        },
        "repoSource": {
          "$ref": "RepoSource",
          "description": "If provided, get source from this location in a Cloud Repo."
        },
        "context": {
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1SourceContext",
          "description": "If provided, the source code used for the build came from this location."
        },
        "storageSource": {
          "description": "If provided, get the source from this location in in Google Cloud Storage.",
          "$ref": "StorageSource"
        }
      },
      "id": "Source"
    },
    "Distribution": {
      "properties": {
        "maintainer": {
          "type": "string",
          "description": "A freeform string denoting the maintainer of this package."
        },
        "description": {
          "description": "The distribution channel-specific description of this package.",
          "type": "string"
        },
        "cpeUri": {
          "description": "The cpe_uri in [cpe format](https://cpe.mitre.org/specification/) denoting the package manager version distributing a package.",
          "type": "string"
        },
        "latestVersion": {
          "$ref": "Version",
          "description": "The latest available version of this package in this distribution channel."
        },
        "url": {
          "description": "The distribution channel-specific homepage for this package.",
          "type": "string"
        },
        "architecture": {
          "description": "The CPU architecture for which packages in this distribution channel were built",
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X86",
            "X64"
          ],
          "enumDescriptions": [
            "Unknown architecture",
            "X86 architecture",
            "X64 architecture"
          ],
          "type": "string"
        }
      },
      "description": "This represents a particular channel of distribution for a given package. e.g. Debian's jessie-backports dpkg mirror",
      "id": "Distribution",
      "type": "object"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan": {
      "type": "object",
      "description": "Start and end times for a build execution phase.",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "End of time span."
        },
        "startTime": {
          "description": "Start of time span.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan"
    },
    "PackageInfoNote": {
      "id": "PackageInfoNote",
      "description": "PackageInfoNote represents an SPDX Package Information section: https://spdx.github.io/spdx-spec/3-package-information/",
      "properties": {
        "detailedDescription": {
          "description": "A more detailed description of the package",
          "type": "string"
        },
        "supplier": {
          "type": "string",
          "description": "Identify the actual distribution source for the package/directory identified in the SPDX file"
        },
        "packageType": {
          "type": "string",
          "description": "The type of package: OS, MAVEN, GO, GO_STDLIB, etc."
        },
        "title": {
          "description": "Identify the full name of the package as given by the Package Originator",
          "type": "string"
        },
        "checksum": {
          "description": "Provide an independently reproducible mechanism that permits unique identification of a specific package that correlates to the data in this SPDX file",
          "type": "string"
        },
        "downloadLocation": {
          "description": "This section identifies the download Universal Resource Locator (URL), or a specific location within a version control system (VCS) for the package at the time that the SPDX file was created",
          "type": "string"
        },
        "analyzed": {
          "type": "boolean",
          "description": "Indicates whether the file content of this package has been available for or subjected to analysis when creating the SPDX document"
        },
        "homePage": {
          "description": "Provide a place for the SPDX file creator to record a web site that serves as the package's home page",
          "type": "string"
        },
        "licenseDeclared": {
          "description": "List the licenses that have been declared by the authors of the package",
          "$ref": "License"
        },
        "copyright": {
          "type": "string",
          "description": "Identify the copyright holders of the package, as well as any dates present"
        },
        "externalRefs": {
          "items": {
            "$ref": "ExternalRef"
          },
          "type": "array",
          "description": "ExternalRef"
        },
        "originator": {
          "type": "string",
          "description": "If the package identified in the SPDX file originated from a different person or organization than identified as Package Supplier, this field identifies from where or whom the package originally came"
        },
        "version": {
          "type": "string",
          "description": "Identify the version of the package"
        },
        "verificationCode": {
          "type": "string",
          "description": "This field provides an independently reproducible mechanism identifying specific contents of a package based on the actual files (except the SPDX file itself, if it is included in the package) that make up each package and that correlates to the data in this SPDX file"
        },
        "summaryDescription": {
          "type": "string",
          "description": "A short description of the package"
        },
        "filesLicenseInfo": {
          "type": "array",
          "description": "Contain the license the SPDX file creator has concluded as governing the This field is to contain a list of all licenses found in the package. The relationship between licenses (i.e., conjunctive, disjunctive) is not specified in this field – it is simply a listing of all licenses found",
          "items": {
            "type": "string"
          }
        },
        "attribution": {
          "description": "A place for the SPDX data creator to record, at the package level, acknowledgements that may be needed to be communicated in some contexts",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Digest": {
      "type": "object",
      "description": "Digest information.",
      "id": "Digest",
      "properties": {
        "algo": {
          "type": "string",
          "description": "`SHA1`, `SHA512` etc."
        },
        "digestValue": {
          "type": "string",
          "description": "Value of the digest encoded. For example: SHA512 - base64 encoding, SHA1 - hex encoding."
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalConfig": {
      "type": "object",
      "description": "ApprovalConfig describes configuration for manual approval of a build.",
      "properties": {
        "approvalRequired": {
          "description": "Whether or not approval is needed. If this is set on a build, it will become pending when created, and will need to be explicitly approved to start.",
          "type": "boolean"
        }
      },
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1ApprovalConfig"
    },
    "Envelope": {
      "type": "object",
      "description": "MUST match https://github.com/secure-systems-lab/dsse/blob/master/envelope.proto. An authenticated message of arbitrary type.",
      "id": "Envelope",
      "properties": {
        "signatures": {
          "type": "array",
          "description": "The signatures over the payload",
          "items": {
            "$ref": "EnvelopeSignature"
          }
        },
        "payload": {
          "format": "byte",
          "description": "The bytes being signed",
          "type": "string"
        },
        "payloadType": {
          "description": "The type of payload being signed",
          "type": "string"
        }
      }
    },
    "Location": {
      "properties": {
        "path": {
          "description": "The path from which we gathered that this package/version is installed.",
          "type": "string"
        },
        "cpeUri": {
          "type": "string",
          "description": "Deprecated. The cpe_uri in [cpe format](https://cpe.mitre.org/specification/) denoting the package manager version distributing a package."
        },
        "version": {
          "description": "Deprecated. The version installed at this location.",
          "$ref": "Version"
        }
      },
      "description": "An occurrence of a particular package installation found within a system's filesystem. e.g. glibc was found in /var/lib/dpkg/status",
      "id": "Location",
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "DSSEAttestationNote": {
      "id": "DSSEAttestationNote",
      "type": "object",
      "properties": {
        "hint": {
          "$ref": "DSSEHint",
          "description": "DSSEHint hints at the purpose of the attestation authority."
        }
      },
      "description": "A note describing an attestation"
    },
    "DSSEHint": {
      "id": "DSSEHint",
      "properties": {
        "humanReadableName": {
          "type": "string",
          "description": "Required. The human readable name of this attestation authority, for example \"cloudbuild-prod\"."
        }
      },
      "description": "This submessage provides human-readable hints about the purpose of the authority. Because the name of a note acts as its resource reference, it is important to disambiguate the canonical name of the Note (which might be a UUID for security purposes) from \"readable\" names more suitable for debug output. Note that these hints should not be used to look up authorities in security sensitive contexts, such as when looking up attestations to verify.",
      "type": "object"
    },
    "VulnerabilityType": {
      "id": "VulnerabilityType",
      "description": "VulnerabilityType provides metadata about a security vulnerability.",
      "type": "object",
      "properties": {
        "cvssScore": {
          "description": "The CVSS score for this Vulnerability.",
          "format": "float",
          "type": "number"
        },
        "severity": {
          "description": "Note provider assigned impact of the vulnerability",
          "type": "string",
          "enumDescriptions": [
            "Unknown Impact",
            "Minimal Impact",
            "Low Impact",
            "Medium Impact",
            "High Impact",
            "Critical Impact"
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "cwe": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of CWE for this vulnerability. For details, see: https://cwe.mitre.org/index.html"
        },
        "details": {
          "items": {
            "$ref": "Detail"
          },
          "type": "array",
          "description": "All information about the package to specifically identify this vulnerability. One entry per (version range and cpe_uri) the package vulnerability has manifested in."
        },
        "cvssV2": {
          "$ref": "CVSS",
          "description": "The full description of the CVSS for version 2."
        }
      }
    },
    "Artifact": {
      "description": "Artifact describes a build product.",
      "id": "Artifact",
      "properties": {
        "names": {
          "type": "array",
          "description": "Related artifact names. This may be the path to a binary or jar file, or in the case of a container build, the name used to push the container image to Google Container Registry, as presented to `docker push`. Note that a single Artifact ID can have multiple names, for example if two tags are applied to one image.",
          "items": {
            "type": "string"
          }
        },
        "checksum": {
          "description": "Hash or checksum value of a binary, or Docker Registry 2.0 digest of a container.",
          "type": "string"
        },
        "name": {
          "description": "Name of the artifact. This may be the path to a binary or jar file, or in the case of a container build, the name used to push the container image to Google Container Registry, as presented to `docker push`. This field is deprecated in favor of the plural `names` field; it continues to exist here to allow existing BuildProvenance serialized to json in google.devtools.containeranalysis.v1alpha1.BuildDetails.provenance_bytes to deserialize back into proto.",
          "type": "string"
        },
        "id": {
          "description": "Artifact ID, if any; for container images, this will be a URL by digest like gcr.io/projectID/imagename@sha256:123456",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ComplianceVersion": {
      "type": "object",
      "description": "Describes the CIS benchmark version that is applicable to a given OS and os version.",
      "id": "ComplianceVersion",
      "properties": {
        "cpeUri": {
          "type": "string",
          "description": "The CPE URI (https://cpe.mitre.org/specification/) this benchmark is applicable to."
        },
        "version": {
          "type": "string",
          "description": "The version of the benchmark. This is set to the version of the OS-specific CIS document the benchmark is defined in."
        }
      }
    },
    "ScanConfig": {
      "id": "ScanConfig",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time this scan config was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Output only. A human-readable description of what the `ScanConfig` does.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the ScanConfig in the form “projects/{project_id}/scanConfigs/{scan_config_id}\"."
        },
        "enabled": {
          "description": "Indicates whether the Scan is enabled.",
          "type": "boolean"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this scan config was last updated."
        }
      },
      "description": "Indicates various scans and whether they are turned on or off."
    },
    "RelationshipOccurrence": {
      "description": "RelationshipOccurrence represents an SPDX Relationship section: https://spdx.github.io/spdx-spec/7-relationships-between-SPDX-elements/",
      "properties": {
        "comment": {
          "description": "A place for the SPDX file creator to record any general comments about the relationship",
          "type": "string"
        },
        "target": {
          "type": "string",
          "description": "Also referred to as SPDXRef-B The target SPDC element (file, package, etc) In cases where there are \"known unknowns\", the use of the keyword NOASSERTION can be used The keywords NONE can be used to indicate that an SPDX element (package/file/snippet) has no other elements connected by some relationship to it"
        },
        "source": {
          "type": "string",
          "description": "Also referred to as SPDXRef-A The source SPDX element (file, package, etc)"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "RELATIONSHIP_TYPE_UNSPECIFIED",
            "DESCRIBES",
            "DESCRIBED_BY",
            "CONTAINS",
            "CONTAINED_BY",
            "DEPENDS_ON",
            "DEPENDENCY_OF",
            "DEPENDENCY_MANIFEST_OF",
            "BUILD_DEPENDENCY_OF",
            "DEV_DEPENDENCY_OF",
            "OPTIONAL_DEPENDENCY_OF",
            "PROVIDED_DEPENDENCY_OF",
            "TEST_DEPENDENCY_OF",
            "RUNTIME_DEPENDENCY_OF",
            "EXAMPLE_OF",
            "GENERATES",
            "GENERATED_FROM",
            "ANCESTOR_OF",
            "DESCENDANT_OF",
            "VARIANT_OF",
            "DISTRIBUTION_ARTIFACT",
            "PATCH_FOR",
            "PATCH_APPLIED",
            "COPY_OF",
            "FILE_ADDED",
            "FILE_DELETED",
            "FILE_MODIFIED",
            "EXPANDED_FROM_ARCHIVE",
            "DYNAMIC_LINK",
            "STATIC_LINK",
            "DATA_FILE_OF",
            "TEST_CASE_OF",
            "BUILD_TOOL_OF",
            "DEV_TOOL_OF",
            "TEST_OF",
            "TEST_TOOL_OF",
            "DOCUMENTATION_OF",
            "OPTIONAL_COMPONENT_OF",
            "METAFILE_OF",
            "PACKAGE_OF",
            "AMENDS",
            "PREREQUISITE_FOR",
            "HAS_PREREQUISITE",
            "OTHER"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Is to be used when SPDXRef-DOCUMENT describes SPDXRef-A",
            "Is to be used when SPDXRef-A is described by SPDXREF-Document",
            "Is to be used when SPDXRef-A contains SPDXRef-B",
            "Is to be used when SPDXRef-A is contained by SPDXRef-B",
            "Is to be used when SPDXRef-A depends on SPDXRef-B",
            "Is to be used when SPDXRef-A is dependency of SPDXRef-B",
            "Is to be used when SPDXRef-A is a manifest file that lists a set of dependencies for SPDXRef-B",
            "Is to be used when SPDXRef-A is a build dependency of SPDXRef-B",
            "Is to be used when SPDXRef-A is a development dependency of SPDXRef-B",
            "Is to be used when SPDXRef-A is an optional dependency of SPDXRef-B",
            "Is to be used when SPDXRef-A is a to be provided dependency of SPDXRef-B",
            "Is to be used when SPDXRef-A is a test dependency of SPDXRef-B",
            "Is to be used when SPDXRef-A is a dependency required for the execution of SPDXRef-B",
            "Is to be used when SPDXRef-A is an example of SPDXRef-B",
            "Is to be used when SPDXRef-A generates SPDXRef-B",
            "Is to be used when SPDXRef-A was generated from SPDXRef-B",
            "Is to be used when SPDXRef-A is an ancestor (same lineage but pre-dates) SPDXRef-B",
            "Is to be used when SPDXRef-A is a descendant of (same lineage but postdates) SPDXRef-B",
            "Is to be used when SPDXRef-A is a variant of (same lineage but not clear which came first) SPDXRef-B",
            "Is to be used when distributing SPDXRef-A requires that SPDXRef-B also be distributed",
            "Is to be used when SPDXRef-A is a patch file for (to be applied to) SPDXRef-B",
            "Is to be used when SPDXRef-A is a patch file that has been applied to SPDXRef-B",
            "Is to be used when SPDXRef-A is an exact copy of SPDXRef-B",
            "Is to be used when SPDXRef-A is a file that was added to SPDXRef-B",
            "Is to be used when SPDXRef-A is a file that was deleted from SPDXRef-B",
            "Is to be used when SPDXRef-A is a file that was modified from SPDXRef-B",
            "Is to be used when SPDXRef-A is expanded from the archive SPDXRef-B",
            "Is to be used when SPDXRef-A dynamically links to SPDXRef-B",
            "Is to be used when SPDXRef-A statically links to SPDXRef-B",
            "Is to be used when SPDXRef-A is a data file used in SPDXRef-B",
            "Is to be used when SPDXRef-A is a test case used in testing SPDXRef-B",
            "Is to be used when SPDXRef-A is used to build SPDXRef-B",
            "Is to be used when SPDXRef-A is used as a development tool for SPDXRef-B",
            "Is to be used when SPDXRef-A is used for testing SPDXRef-B",
            "Is to be used when SPDXRef-A is used as a test tool for SPDXRef-B",
            "Is to be used when SPDXRef-A provides documentation of SPDXRef-B",
            "Is to be used when SPDXRef-A is an optional component of SPDXRef-B",
            "Is to be used when SPDXRef-A is a metafile of SPDXRef-B",
            "Is to be used when SPDXRef-A is used as a package as part of SPDXRef-B",
            "Is to be used when (current) SPDXRef-DOCUMENT amends the SPDX information in SPDXRef-B",
            "Is to be used when SPDXRef-A is a prerequisite for SPDXRef-B",
            "Is to be used when SPDXRef-A has as a prerequisite SPDXRef-B",
            "Is to be used for a relationship which has not been defined in the formal SPDX specification. A description of the relationship should be included in the Relationship comments field"
          ],
          "description": "Output only. The type of relationship between the source and target SPDX elements"
        }
      },
      "id": "RelationshipOccurrence",
      "type": "object"
    },
    "EnvelopeSignature": {
      "id": "EnvelopeSignature",
      "description": "A DSSE signature",
      "type": "object",
      "properties": {
        "sig": {
          "format": "byte",
          "type": "string",
          "description": "The signature itself"
        },
        "keyid": {
          "type": "string",
          "description": "A reference id to the key being used for signing"
        }
      }
    },
    "FileLocation": {
      "description": "Indicates the location at which a package was found.",
      "id": "FileLocation",
      "type": "object",
      "properties": {
        "filePath": {
          "type": "string",
          "description": "For jars that are contained inside .war files, this filepath can indicate the path to war file combined with the path to jar file."
        }
      }
    },
    "CisBenchmark": {
      "id": "CisBenchmark",
      "description": "A compliance check that is a CIS benchmark.",
      "type": "object",
      "properties": {
        "profileLevel": {
          "description": "The profile level of this CIS benchmark check.",
          "type": "integer",
          "format": "int32"
        },
        "severity": {
          "description": "The severity level of this CIS benchmark check.",
          "type": "string",
          "enumDescriptions": [
            "Unknown Impact",
            "Minimal Impact",
            "Low Impact",
            "Medium Impact",
            "High Impact",
            "Critical Impact"
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        }
      }
    },
    "Hash": {
      "properties": {
        "value": {
          "description": "The hash value.",
          "type": "string",
          "format": "byte"
        },
        "type": {
          "type": "string",
          "description": "The type of hash that was performed.",
          "enumDescriptions": [
            "No hash requested.",
            "A sha256 hash."
          ],
          "enum": [
            "NONE",
            "SHA256"
          ]
        }
      },
      "description": "Container message for hash values.",
      "type": "object",
      "id": "Hash"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1Hash": {
      "description": "Container message for hash values.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "No hash requested.",
            "Use a sha256 hash.",
            "Use a md5 hash."
          ],
          "enum": [
            "NONE",
            "SHA256",
            "MD5"
          ],
          "type": "string",
          "description": "The type of hash that was performed."
        },
        "value": {
          "format": "byte",
          "type": "string",
          "description": "The hash value."
        }
      },
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1Hash",
      "type": "object"
    },
    "GoogleDevtoolsContaineranalysisV1alpha1CloudRepoSourceContext": {
      "description": "A CloudRepoSourceContext denotes a particular revision in a Google Cloud Source Repo.",
      "properties": {
        "revisionId": {
          "description": "A revision ID.",
          "type": "string"
        },
        "repoId": {
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1RepoId",
          "description": "The ID of the repo."
        },
        "aliasContext": {
          "description": "An alias, which may be a branch or tag.",
          "$ref": "GoogleDevtoolsContaineranalysisV1alpha1AliasContext"
        }
      },
      "type": "object",
      "id": "GoogleDevtoolsContaineranalysisV1alpha1CloudRepoSourceContext"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsArtifactObjects": {
      "description": "Files in the workspace to upload to Cloud Storage upon successful completion of all build steps.",
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1ArtifactsArtifactObjects",
      "properties": {
        "location": {
          "type": "string",
          "description": "Cloud Storage bucket and optional object path, in the form \"gs://bucket/path/to/somewhere/\". (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)). Files in the workspace matching any path pattern will be uploaded to Cloud Storage with this location as a prefix."
        },
        "timing": {
          "readOnly": true,
          "$ref": "ContaineranalysisGoogleDevtoolsCloudbuildV1TimeSpan",
          "description": "Output only. Stores timing information for pushing all artifact objects."
        },
        "paths": {
          "description": "Path globs used to match files in the build's workspace.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Package": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "The homepage for this package."
        },
        "digest": {
          "description": "Hash value, typically a file digest, that allows unique identification a specific package.",
          "items": {
            "$ref": "Digest"
          },
          "type": "array"
        },
        "license": {
          "description": "Licenses that have been declared by the authors of the package.",
          "$ref": "License"
        },
        "name": {
          "description": "The name of the package.",
          "type": "string"
        },
        "architecture": {
          "description": "The CPU architecture for which packages in this distribution channel were built. Architecture will be blank for language packages.",
          "enumDescriptions": [
            "Unknown architecture",
            "X86 architecture",
            "X64 architecture"
          ],
          "type": "string",
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X86",
            "X64"
          ]
        },
        "cpeUri": {
          "type": "string",
          "description": "The cpe_uri in [CPE format](https://cpe.mitre.org/specification/) denoting the package manager version distributing a package. The cpe_uri will be blank for language packages."
        },
        "distribution": {
          "description": "The various channels by which a package is distributed.",
          "type": "array",
          "items": {
            "$ref": "Distribution"
          }
        },
        "version": {
          "description": "The version of the package.",
          "$ref": "Version"
        },
        "description": {
          "type": "string",
          "description": "The description of this package."
        },
        "packageType": {
          "type": "string",
          "description": "The type of package; whether native or non native (e.g., ruby gems, node.js packages, etc.)."
        },
        "maintainer": {
          "description": "A freeform text denoting the maintainer of this package.",
          "type": "string"
        }
      },
      "description": "This represents a particular package that is distributed over various channels. e.g. glibc (aka libc6) is distributed by many, at various versions.",
      "id": "Package"
    },
    "BuildSignature": {
      "properties": {
        "signature": {
          "type": "string",
          "description": "Signature of the related `BuildProvenance`, encoded in a base64 string."
        },
        "publicKey": {
          "description": "Public key of the builder which can be used to verify that the related findings are valid and unchanged. If `key_type` is empty, this defaults to PEM encoded public keys. This field may be empty if `key_id` references an external key. For Cloud Build based signatures, this is a PEM encoded public key. To verify the Cloud Build signature, place the contents of this field into a file (public.pem). The signature field is base64-decoded into its binary representation in signature.bin, and the provenance bytes from `BuildDetails` are base64-decoded into a binary representation in signed.bin. OpenSSL can then verify the signature: `openssl sha256 -verify public.pem -signature signature.bin signed.bin`",
          "type": "string"
        },
        "keyId": {
          "description": "An Id for the key used to sign. This could be either an Id for the key stored in `public_key` (such as the Id or fingerprint for a PGP key, or the CN for a cert), or a reference to an external key (such as a reference to a key in Cloud Key Management Service).",
          "type": "string"
        },
        "keyType": {
          "description": "The type of the key, either stored in `public_key` or referenced in `key_id`",
          "enumDescriptions": [
            "`KeyType` is not set.",
            "`PGP ASCII Armored` public key.",
            "`PKIX PEM` public key."
          ],
          "type": "string",
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "PGP_ASCII_ARMORED",
            "PKIX_PEM"
          ]
        }
      },
      "type": "object",
      "description": "Message encapsulating the signature of the verified build.",
      "id": "BuildSignature"
    },
    "Installation": {
      "type": "object",
      "properties": {
        "license": {
          "description": "Licenses that have been declared by the authors of the package.",
          "$ref": "License"
        },
        "cpeUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The cpe_uri in [CPE format](https://cpe.mitre.org/specification/) denoting the package manager version distributing a package. The cpe_uri will be blank for language packages."
        },
        "architecture": {
          "description": "Output only. The CPU architecture for which packages in this distribution channel were built. Architecture will be blank for language packages.",
          "readOnly": true,
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X86",
            "X64"
          ],
          "enumDescriptions": [
            "Unknown architecture",
            "X86 architecture",
            "X64 architecture"
          ],
          "type": "string"
        },
        "version": {
          "description": "Output only. The version of the package.",
          "$ref": "Version",
          "readOnly": true
        },
        "location": {
          "description": "All of the places within the filesystem versions of this package have been found.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "name": {
          "description": "Output only. The name of the installed package.",
          "readOnly": true,
          "type": "string"
        },
        "packageType": {
          "description": "Output only. The type of package; whether native or non native (e.g., ruby gems, node.js packages, etc.).",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "This represents how a particular software package may be installed on a system.",
      "id": "Installation"
    },
    "GoogleDevtoolsContaineranalysisV1alpha1ProjectRepoId": {
      "type": "object",
      "properties": {
        "repoName": {
          "type": "string",
          "description": "The name of the repo. Leave empty for the default repo."
        },
        "projectId": {
          "description": "The ID of the project.",
          "type": "string"
        }
      },
      "description": "Selects a repo using a Google Cloud Platform project ID (e.g., winged-cargo-31) and a repo name within that project.",
      "id": "GoogleDevtoolsContaineranalysisV1alpha1ProjectRepoId"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsResponse"
    },
    "Layer": {
      "description": "Layer holds metadata specific to a layer of a Docker image.",
      "properties": {
        "directive": {
          "enum": [
            "DIRECTIVE_UNSPECIFIED",
            "MAINTAINER",
            "RUN",
            "CMD",
            "LABEL",
            "EXPOSE",
            "ENV",
            "ADD",
            "COPY",
            "ENTRYPOINT",
            "VOLUME",
            "USER",
            "WORKDIR",
            "ARG",
            "ONBUILD",
            "STOPSIGNAL",
            "HEALTHCHECK",
            "SHELL"
          ],
          "description": "The recovered Dockerfile directive used to construct this layer.",
          "enumDescriptions": [
            "Default value for unsupported/missing directive",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/reference/builder/#copy",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/",
            "https://docs.docker.com/engine/reference/builder/"
          ],
          "type": "string"
        },
        "arguments": {
          "type": "string",
          "description": "The recovered arguments to the Dockerfile directive."
        }
      },
      "type": "object",
      "id": "Layer"
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSource": {
      "description": "Location of the source in an archive file in Google Cloud Storage.",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1StorageSource",
      "type": "object",
      "properties": {
        "object": {
          "type": "string",
          "description": "Google Cloud Storage object containing the source. This object must be a zipped (`.zip`) or gzipped archive file (`.tar.gz`) containing source to build."
        },
        "generation": {
          "type": "string",
          "description": "Google Cloud Storage generation for the object. If the generation is omitted, the latest generation will be used.",
          "format": "int64"
        },
        "bucket": {
          "description": "Google Cloud Storage bucket containing the source (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)).",
          "type": "string"
        }
      }
    },
    "ContaineranalysisGoogleDevtoolsCloudbuildV1RepoSource": {
      "properties": {
        "repoName": {
          "description": "Name of the Cloud Source Repository.",
          "type": "string"
        },
        "tagName": {
          "description": "Regex matching tags to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax",
          "type": "string"
        },
        "dir": {
          "description": "Directory, relative to the source root, in which to run the build. This must be a relative path. If a step's `dir` is specified and is an absolute path, this value is ignored for that step's execution.",
          "type": "string"
        },
        "invertRegex": {
          "type": "boolean",
          "description": "Only trigger a build if the revision regex does NOT match the revision regex."
        },
        "projectId": {
          "description": "ID of the project that owns the Cloud Source Repository. If omitted, the project ID requesting the build is assumed.",
          "type": "string"
        },
        "commitSha": {
          "description": "Explicit commit SHA to build.",
          "type": "string"
        },
        "branchName": {
          "description": "Regex matching branches to build. The syntax of the regular expressions accepted is the syntax accepted by RE2 and described at https://github.com/google/re2/wiki/Syntax",
          "type": "string"
        },
        "substitutions": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Substitutions to use in a triggered build. Should only be used with RunBuildTrigger"
        }
      },
      "description": "Location of the source in a Google Cloud Source Repository.",
      "type": "object",
      "id": "ContaineranalysisGoogleDevtoolsCloudbuildV1RepoSource"
    },
    "Basis": {
      "properties": {
        "resourceUrl": {
          "type": "string",
          "description": "The resource_url for the resource representing the basis of associated occurrence images."
        },
        "fingerprint": {
          "$ref": "Fingerprint",
          "description": "The fingerprint of the base image."
        }
      },
      "id": "Basis",
      "type": "object",
      "description": "Basis describes the base image portion (Note) of the DockerImage relationship. Linked occurrences are derived from this or an equivalent image via: FROM Or an equivalent reference, e.g. a tag of the resource_url."
    },
    "GoogleDevtoolsContaineranalysisV1alpha1AliasContext": {
      "description": "An alias to a repo revision.",
      "type": "object",
[...]
