{
  "name": "customsearch",
  "basePath": "",
  "discoveryVersion": "v1",
  "servicePath": "",
  "rootUrl": "https://customsearch.googleapis.com/",
  "batchPath": "batch",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "revision": "20240326",
  "schemas": {
    "Result": {
      "id": "Result",
      "type": "object",
      "description": "A custom search result.",
      "properties": {
        "fileFormat": {
          "description": "The file format of the search result.",
          "type": "string"
        },
        "pagemap": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Contains [PageMap](https://developers.google.com/custom-search/docs/structured_data#pagemaps) information for this search result."
        },
        "snippet": {
          "description": "The snippet of the search result, in plain text.",
          "type": "string"
        },
        "formattedUrl": {
          "type": "string",
          "description": "The URL displayed after the snippet for each search result."
        },
        "htmlFormattedUrl": {
          "description": "The HTML-formatted URL displayed after the snippet for each search result.",
          "type": "string"
        },
        "htmlSnippet": {
          "type": "string",
          "description": "The snippet of the search result, in HTML."
        },
        "kind": {
          "description": "A unique identifier for the type of current object. For this API, it is `customsearch#result.`",
          "type": "string"
        },
        "labels": {
          "description": "Encapsulates all information about refinement labels.",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "The name of a refinement label, which you can use to refine searches. Don't display this in your user interface; instead, use displayName."
              },
              "displayName": {
                "type": "string",
                "description": "The display name of a refinement label. This is the name you should display in your user interface."
              },
              "label_with_op": {
                "description": "Refinement label and the associated refinement operation.",
                "type": "string"
              }
            },
            "description": "Refinement label associated with a custom search result."
          },
          "type": "array"
        },
        "cacheId": {
          "description": "Indicates the ID of Google's cached version of the search result.",
          "type": "string"
        },
        "mime": {
          "type": "string",
          "description": "The MIME type of the search result."
        },
        "displayLink": {
          "type": "string",
          "description": "An abridged version of this search result’s URL, e.g. www.example.com."
        },
        "htmlTitle": {
          "type": "string",
          "description": "The title of the search result, in HTML."
        },
        "image": {
          "description": "Image belonging to a custom search result.",
          "properties": {
            "width": {
              "type": "integer",
              "description": "The width of the image, in pixels.",
              "format": "int32"
            },
            "contextLink": {
              "type": "string",
              "description": "A URL pointing to the webpage hosting the image."
            },
            "byteSize": {
              "format": "int32",
              "description": "The size of the image, in bytes.",
              "type": "integer"
            },
            "thumbnailLink": {
              "description": "A URL to the thumbnail image.",
              "type": "string"
            },
            "height": {
              "format": "int32",
              "description": "The height of the image, in pixels.",
              "type": "integer"
            },
            "thumbnailHeight": {
              "type": "integer",
              "format": "int32",
              "description": "The height of the thumbnail image, in pixels."
            },
            "thumbnailWidth": {
              "type": "integer",
              "description": "The width of the thumbnail image, in pixels.",
              "format": "int32"
            }
          },
          "type": "object"
        },
        "link": {
          "type": "string",
          "description": "The full URL to which the search result is pointing, e.g. http://www.example.com/foo/bar."
        },
        "title": {
          "description": "The title of the search result, in plain text.",
          "type": "string"
        }
      }
    },
    "Search": {
      "id": "Search",
      "description": "Response to a custom search request.",
      "type": "object",
      "properties": {
        "searchInformation": {
          "type": "object",
          "properties": {
            "totalResults": {
              "type": "string",
              "description": "The total number of search results returned by the query."
            },
            "formattedSearchTime": {
              "type": "string",
              "description": "The time taken for the server to return search results, formatted according to locale style."
            },
            "searchTime": {
              "type": "number",
              "description": "The time taken for the server to return search results.",
              "format": "double"
            },
            "formattedTotalResults": {
              "type": "string",
              "description": "The total number of search results, formatted according to locale style."
            }
          },
          "description": "Metadata about a search operation."
        },
        "queries": {
          "description": "Query metadata for the previous, current, and next pages of results.",
          "properties": {
            "nextPage": {
              "description": "Metadata representing the next page of results, if applicable.",
              "type": "array",
              "items": {
                "properties": {
                  "outputEncoding": {
                    "type": "string",
                    "description": "The character encoding supported for search results."
                  },
                  "cx": {
                    "type": "string",
                    "description": "The identifier of an engine created using the Programmable Search Engine [Control Panel](https://programmablesearchengine.google.com/). This is a custom property not defined in the OpenSearch spec. This parameter is **required**."
                  },
                  "count": {
                    "format": "int32",
                    "type": "integer",
                    "description": "Number of search results returned in this set."
                  },
                  "disableCnTwTranslation": {
                    "type": "string",
                    "description": "Enables or disables the [Simplified and Traditional Chinese Search](https://developers.google.com/custom-search/docs/json_api_reference#chineseSearch) feature. Supported values are: * `0`: enabled (default) * `1`: disabled"
                  },
                  "exactTerms": {
                    "description": "Identifies a phrase that all documents in the search results must contain.",
                    "type": "string"
                  },
                  "searchTerms": {
                    "description": "The search terms entered by the user.",
                    "type": "string"
                  },
                  "imgColorType": {
                    "type": "string",
                    "description": "Restricts results to images of a specified color type. Supported values are: * `mono` (black and white) * `gray` (grayscale) * `color` (color)"
                  },
                  "linkSite": {
                    "description": "Specifies that all results should contain a link to a specific URL.",
                    "type": "string"
                  },
                  "cr": {
                    "type": "string",
                    "description": "Restricts search results to documents originating in a particular country. You may use [Boolean operators](https://developers.google.com/custom-search/docs/json_api_reference#BooleanOrSearch) in the `cr` parameter's value. Google WebSearch determines the country of a document by analyzing the following: * The top-level domain (TLD) of the document's URL. * The geographic location of the web server's IP address. See [Country (cr) Parameter Values](https://developers.google.com/custom-search/docs/json_api_reference#countryCollections) for a list of valid values for this parameter."
                  },
                  "inputEncoding": {
                    "type": "string",
                    "description": "The character encoding supported for search requests."
                  },
                  "imgType": {
                    "type": "string",
                    "description": "Restricts results to images of a specified type. Supported values are: * `clipart` (Clip art) * `face` (Face) * `lineart` (Line drawing) * `photo` (Photo) * `animated` (Animated) * `stock` (Stock)"
                  },
                  "startIndex": {
                    "format": "int32",
                    "type": "integer",
                    "description": "The index of the current set of search results into the total set of results, where the index of the first result is 1."
                  },
                  "siteSearch": {
                    "description": "Restricts results to URLs from a specified site.",
                    "type": "string"
                  },
                  "searchType": {
                    "description": "Allowed values are `web` or `image`. If unspecified, results are limited to webpages.",
                    "type": "string"
                  },
                  "imgSize": {
                    "type": "string",
                    "description": "Restricts results to images of a specified size. Supported values are: * `icon` (small) * `small | medium | large | xlarge` (medium) * `xxlarge` (large) * `huge` (extra-large)"
                  },
                  "language": {
                    "type": "string",
                    "description": "The language of the search results."
                  },
                  "dateRestrict": {
                    "description": "Restricts results to URLs based on date. Supported values include: * `d[number]`: requests results from the specified number of past days. * `w[number]`: requests results from the specified number of past weeks. * `m[number]`: requests results from the specified number of past months. * `y[number]`: requests results from the specified number of past years.",
                    "type": "string"
                  },
                  "totalResults": {
                    "description": "Estimated number of total search results. May not be accurate.",
                    "type": "string",
                    "format": "int64"
                  },
                  "hl": {
                    "description": "Specifies the interface language (host language) of your user interface. Explicitly setting this parameter improves the performance and the quality of your search results. See the [Interface Languages](https://developers.google.com/custom-search/docs/json_api_reference#wsInterfaceLanguages) section of [Internationalizing Queries and Results Presentation](https://developers.google.com/custom-search/docs/json_api_reference#wsInternationalizing) for more information, and [Supported Interface Languages](https://developers.google.com/custom-search/docs/json_api_reference#interfaceLanguages) for a list of supported languages.",
                    "type": "string"
                  },
                  "filter": {
                    "description": "Activates or deactivates the automatic filtering of Google search results. See [Automatic Filtering](https://developers.google.com/custom-search/docs/json_api_reference#automaticFiltering) for more information about Google's search results filters. Valid values for this parameter are: * `0`: Disabled * `1`: Enabled (default) **Note**: By default, Google applies filtering to all search results to improve the quality of those results.",
                    "type": "string"
                  },
                  "safe": {
                    "type": "string",
                    "description": "Specifies the [SafeSearch level](https://developers.google.com/custom-search/docs/json_api_reference#safeSearchLevels) used for filtering out adult results. This is a custom property not defined in the OpenSearch spec. Valid parameter values are: * `\"off\"`: Disable SafeSearch * `\"active\"`: Enable SafeSearch"
                  },
                  "imgDominantColor": {
                    "type": "string",
                    "description": "Restricts results to images with a specific dominant color. Supported values are: * `red` * `orange` * `yellow` * `green` * `teal` * `blue` * `purple` * `pink` * `white` * `gray` * `black` * `brown`"
                  },
                  "orTerms": {
                    "type": "string",
                    "description": "Provides additional search terms to check for in a document, where each document in the search results must contain at least one of the additional search terms. You can also use the [Boolean OR](https://developers.google.com/custom-search/docs/json_api_reference#BooleanOrSearch) query term for this type of query."
                  },
                  "title": {
                    "type": "string",
                    "description": "A description of the query."
                  },
                  "gl": {
                    "description": "Boosts search results whose country of origin matches the parameter value. See [Country Codes](https://developers.google.com/custom-search/docs/json_api_reference#countryCodes) for a list of valid values. Specifying a `gl` parameter value in WebSearch requests should improve the relevance of results. This is particularly true for international customers and, even more specifically, for customers in English-speaking countries other than the United States.",
                    "type": "string"
                  },
                  "relatedSite": {
                    "type": "string",
                    "description": "Specifies that all search results should be pages that are related to the specified URL. The parameter value should be a URL."
                  },
                  "fileType": {
                    "type": "string",
                    "description": "Restricts results to files of a specified extension. Filetypes supported by Google include: * Adobe Portable Document Format (`pdf`) * Adobe PostScript (`ps`) * Lotus 1-2-3 (`wk1`, `wk2`, `wk3`, `wk4`, `wk5`, `wki`, `wks`, `wku`) * Lotus WordPro (`lwp`) * Macwrite (`mw`) * Microsoft Excel (`xls`) * Microsoft PowerPoint (`ppt`) * Microsoft Word (`doc`) * Microsoft Works (`wks`, `wps`, `wdb`) * Microsoft Write (`wri`) * Rich Text Format (`rtf`) * Shockwave Flash (`swf`) * Text (`ans`, `txt`). Additional filetypes may be added in the future. An up-to-date list can always be found in Google's [file type FAQ](https://support.google.com/webmasters/answer/35287)."
                  },
                  "sort": {
                    "type": "string",
                    "description": "Specifies that results should be sorted according to the specified expression. For example, sort by date."
                  },
                  "hq": {
                    "type": "string",
                    "description": "Appends the specified query terms to the query, as if they were combined with a logical `AND` operator."
                  },
                  "startPage": {
                    "description": "The page number of this set of results, where the page length is set by the `count` property.",
                    "format": "int32",
                    "type": "integer"
                  },
                  "siteSearchFilter": {
                    "type": "string",
                    "description": "Specifies whether to include or exclude results from the site named in the `sitesearch` parameter. Supported values are: * `i`: include content from site * `e`: exclude content from site"
                  },
                  "rights": {
                    "description": "Filters based on licensing. Supported values include: * `cc_publicdomain` * `cc_attribute` * `cc_sharealike` * `cc_noncommercial` * `cc_nonderived`",
                    "type": "string"
                  },
                  "lowRange": {
                    "description": "Specifies the starting value for a search range. Use `cse:lowRange` and `cse:highrange` to append an inclusive search range of `lowRange...highRange` to the query.",
                    "type": "string"
                  },
                  "highRange": {
                    "description": "Specifies the ending value for a search range. Use `cse:lowRange` and `cse:highrange` to append an inclusive search range of `lowRange...highRange` to the query.",
                    "type": "string"
                  },
                  "excludeTerms": {
                    "description": "Identifies a word or phrase that should not appear in any documents in the search results.",
                    "type": "string"
                  },
                  "googleHost": {
                    "type": "string",
                    "description": "Specifies the Google domain (for example, google.com, google.de, or google.fr) to which the search should be limited."
                  }
                },
                "type": "object",
                "description": "Custom search request metadata."
              }
            },
            "previousPage": {
              "items": {
                "type": "object",
                "description": "Custom search request metadata.",
                "properties": {
                  "relatedSite": {
                    "description": "Specifies that all search results should be pages that are related to the specified URL. The parameter value should be a URL.",
                    "type": "string"
                  },
                  "searchType": {
                    "type": "string",
                    "description": "Allowed values are `web` or `image`. If unspecified, results are limited to webpages."
                  },
                  "filter": {
                    "type": "string",
                    "description": "Activates or deactivates the automatic filtering of Google search results. See [Automatic Filtering](https://developers.google.com/custom-search/docs/json_api_reference#automaticFiltering) for more information about Google's search results filters. Valid values for this parameter are: * `0`: Disabled * `1`: Enabled (default) **Note**: By default, Google applies filtering to all search results to improve the quality of those results."
                  },
                  "highRange": {
                    "description": "Specifies the ending value for a search range. Use `cse:lowRange` and `cse:highrange` to append an inclusive search range of `lowRange...highRange` to the query.",
                    "type": "string"
                  },
                  "googleHost": {
                    "description": "Specifies the Google domain (for example, google.com, google.de, or google.fr) to which the search should be limited.",
                    "type": "string"
                  },
                  "outputEncoding": {
                    "type": "string",
                    "description": "The character encoding supported for search results."
                  },
                  "linkSite": {
                    "type": "string",
                    "description": "Specifies that all results should contain a link to a specific URL."
                  },
                  "language": {
                    "description": "The language of the search results.",
                    "type": "string"
                  },
                  "rights": {
                    "type": "string",
                    "description": "Filters based on licensing. Supported values include: * `cc_publicdomain` * `cc_attribute` * `cc_sharealike` * `cc_noncommercial` * `cc_nonderived`"
                  },
                  "orTerms": {
                    "description": "Provides additional search terms to check for in a document, where each document in the search results must contain at least one of the additional search terms. You can also use the [Boolean OR](https://developers.google.com/custom-search/docs/json_api_reference#BooleanOrSearch) query term for this type of query.",
                    "type": "string"
                  },
                  "excludeTerms": {
                    "type": "string",
                    "description": "Identifies a word or phrase that should not appear in any documents in the search results."
                  },
                  "cx": {
                    "type": "string",
                    "description": "The identifier of an engine created using the Programmable Search Engine [Control Panel](https://programmablesearchengine.google.com/). This is a custom property not defined in the OpenSearch spec. This parameter is **required**."
                  },
                  "startPage": {
                    "format": "int32",
                    "description": "The page number of this set of results, where the page length is set by the `count` property.",
                    "type": "integer"
                  },
                  "title": {
                    "description": "A description of the query.",
                    "type": "string"
                  },
                  "cr": {
                    "description": "Restricts search results to documents originating in a particular country. You may use [Boolean operators](https://developers.google.com/custom-search/docs/json_api_reference#BooleanOrSearch) in the `cr` parameter's value. Google WebSearch determines the country of a document by analyzing the following: * The top-level domain (TLD) of the document's URL. * The geographic location of the web server's IP address. See [Country (cr) Parameter Values](https://developers.google.com/custom-search/docs/json_api_reference#countryCollections) for a list of valid values for this parameter.",
                    "type": "string"
                  },
                  "safe": {
                    "description": "Specifies the [SafeSearch level](https://developers.google.com/custom-search/docs/json_api_reference#safeSearchLevels) used for filtering out adult results. This is a custom property not defined in the OpenSearch spec. Valid parameter values are: * `\"off\"`: Disable SafeSearch * `\"active\"`: Enable SafeSearch",
                    "type": "string"
                  },
                  "hq": {
                    "type": "string",
                    "description": "Appends the specified query terms to the query, as if they were combined with a logical `AND` operator."
                  },
                  "disableCnTwTranslation": {
                    "type": "string",
                    "description": "Enables or disables the [Simplified and Traditional Chinese Search](https://developers.google.com/custom-search/docs/json_api_reference#chineseSearch) feature. Supported values are: * `0`: enabled (default) * `1`: disabled"
                  },
                  "siteSearchFilter": {
                    "description": "Specifies whether to include or exclude results from the site named in the `sitesearch` parameter. Supported values are: * `i`: include content from site * `e`: exclude content from site",
                    "type": "string"
                  },
                  "imgSize": {
                    "description": "Restricts results to images of a specified size. Supported values are: * `icon` (small) * `small | medium | large | xlarge` (medium) * `xxlarge` (large) * `huge` (extra-large)",
                    "type": "string"
                  },
                  "siteSearch": {
                    "type": "string",
                    "description": "Restricts results to URLs from a specified site."
                  },
                  "imgType": {
                    "description": "Restricts results to images of a specified type. Supported values are: * `clipart` (Clip art) * `face` (Face) * `lineart` (Line drawing) * `photo` (Photo) * `animated` (Animated) * `stock` (Stock)",
                    "type": "string"
                  },
                  "inputEncoding": {
                    "type": "string",
                    "description": "The character encoding supported for search requests."
                  },
                  "count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Number of search results returned in this set."
                  },
                  "sort": {
                    "type": "string",
                    "description": "Specifies that results should be sorted according to the specified expression. For example, sort by date."
                  },
                  "searchTerms": {
                    "type": "string",
                    "description": "The search terms entered by the user."
                  },
                  "exactTerms": {
                    "type": "string",
                    "description": "Identifies a phrase that all documents in the search results must contain."
                  },
                  "hl": {
                    "type": "string",
                    "description": "Specifies the interface language (host language) of your user interface. Explicitly setting this parameter improves the performance and the quality of your search results. See the [Interface Languages](https://developers.google.com/custom-search/docs/json_api_reference#wsInterfaceLanguages) section of [Internationalizing Queries and Results Presentation](https://developers.google.com/custom-search/docs/json_api_reference#wsInternationalizing) for more information, and [Supported Interface Languages](https://developers.google.com/custom-search/docs/json_api_reference#interfaceLanguages) for a list of supported languages."
                  },
                  "totalResults": {
                    "description": "Estimated number of total search results. May not be accurate.",
                    "format": "int64",
                    "type": "string"
                  },
                  "imgDominantColor": {
                    "description": "Restricts results to images with a specific dominant color. Supported values are: * `red` * `orange` * `yellow` * `green` * `teal` * `blue` * `purple` * `pink` * `white` * `gray` * `black` * `brown`",
                    "type": "string"
                  },
                  "gl": {
                    "description": "Boosts search results whose country of origin matches the parameter value. See [Country Codes](https://developers.google.com/custom-search/docs/json_api_reference#countryCodes) for a list of valid values. Specifying a `gl` parameter value in WebSearch requests should improve the relevance of results. This is particularly true for international customers and, even more specifically, for customers in English-speaking countries other than the United States.",
                    "type": "string"
                  },
                  "lowRange": {
                    "description": "Specifies the starting value for a search range. Use `cse:lowRange` and `cse:highrange` to append an inclusive search range of `lowRange...highRange` to the query.",
                    "type": "string"
                  },
                  "dateRestrict": {
                    "description": "Restricts results to URLs based on date. Supported values include: * `d[number]`: requests results from the specified number of past days. * `w[number]`: requests results from the specified number of past weeks. * `m[number]`: requests results from the specified number of past months. * `y[number]`: requests results from the specified number of past years.",
                    "type": "string"
                  },
                  "fileType": {
                    "description": "Restricts results to files of a specified extension. Filetypes supported by Google include: * Adobe Portable Document Format (`pdf`) * Adobe PostScript (`ps`) * Lotus 1-2-3 (`wk1`, `wk2`, `wk3`, `wk4`, `wk5`, `wki`, `wks`, `wku`) * Lotus WordPro (`lwp`) * Macwrite (`mw`) * Microsoft Excel (`xls`) * Microsoft PowerPoint (`ppt`) * Microsoft Word (`doc`) * Microsoft Works (`wks`, `wps`, `wdb`) * Microsoft Write (`wri`) * Rich Text Format (`rtf`) * Shockwave Flash (`swf`) * Text (`ans`, `txt`). Additional filetypes may be added in the future. An up-to-date list can always be found in Google's [file type FAQ](https://support.google.com/webmasters/answer/35287).",
                    "type": "string"
                  },
                  "startIndex": {
                    "description": "The index of the current set of search results into the total set of results, where the index of the first result is 1.",
                    "type": "integer",
                    "format": "int32"
                  },
                  "imgColorType": {
                    "description": "Restricts results to images of a specified color type. Supported values are: * `mono` (black and white) * `gray` (grayscale) * `color` (color)",
                    "type": "string"
                  }
                }
              },
              "description": "Metadata representing the previous page of results, if applicable.",
              "type": "array"
            },
            "request": {
              "type": "array",
              "description": "Metadata representing the current request.",
              "items": {
                "properties": {
                  "lowRange": {
                    "type": "string",
                    "description": "Specifies the starting value for a search range. Use `cse:lowRange` and `cse:highrange` to append an inclusive search range of `lowRange...highRange` to the query."
                  },
                  "imgSize": {
                    "type": "string",
                    "description": "Restricts results to images of a specified size. Supported values are: * `icon` (small) * `small | medium | large | xlarge` (medium) * `xxlarge` (large) * `huge` (extra-large)"
                  },
                  "imgColorType": {
                    "description": "Restricts results to images of a specified color type. Supported values are: * `mono` (black and white) * `gray` (grayscale) * `color` (color)",
                    "type": "string"
                  },
                  "disableCnTwTranslation": {
                    "type": "string",
                    "description": "Enables or disables the [Simplified and Traditional Chinese Search](https://developers.google.com/custom-search/docs/json_api_reference#chineseSearch) feature. Supported values are: * `0`: enabled (default) * `1`: disabled"
                  },
                  "searchTerms": {
                    "description": "The search terms entered by the user.",
                    "type": "string"
                  },
                  "imgType": {
                    "type": "string",
                    "description": "Restricts results to images of a specified type. Supported values are: * `clipart` (Clip art) * `face` (Face) * `lineart` (Line drawing) * `photo` (Photo) * `animated` (Animated) * `stock` (Stock)"
                  },
                  "totalResults": {
                    "description": "Estimated number of total search results. May not be accurate.",
                    "format": "int64",
                    "type": "string"
                  },
                  "excludeTerms": {
                    "description": "Identifies a word or phrase that should not appear in any documents in the search results.",
                    "type": "string"
                  },
                  "highRange": {
                    "description": "Specifies the ending value for a search range. Use `cse:lowRange` and `cse:highrange` to append an inclusive search range of `lowRange...highRange` to the query.",
                    "type": "string"
                  },
                  "filter": {
                    "type": "string",
                    "description": "Activates or deactivates the automatic filtering of Google search results. See [Automatic Filtering](https://developers.google.com/custom-search/docs/json_api_reference#automaticFiltering) for more information about Google's search results filters. Valid values for this parameter are: * `0`: Disabled * `1`: Enabled (default) **Note**: By default, Google applies filtering to all search results to improve the quality of those results."
                  },
                  "cr": {
                    "description": "Restricts search results to documents originating in a particular country. You may use [Boolean operators](https://developers.google.com/custom-search/docs/json_api_reference#BooleanOrSearch) in the `cr` parameter's value. Google WebSearch determines the country of a document by analyzing the following: * The top-level domain (TLD) of the document's URL. * The geographic location of the web server's IP address. See [Country (cr) Parameter Values](https://developers.google.com/custom-search/docs/json_api_reference#countryCollections) for a list of valid values for this parameter.",
                    "type": "string"
                  },
                  "safe": {
                    "description": "Specifies the [SafeSearch level](https://developers.google.com/custom-search/docs/json_api_reference#safeSearchLevels) used for filtering out adult results. This is a custom property not defined in the OpenSearch spec. Valid parameter values are: * `\"off\"`: Disable SafeSearch * `\"active\"`: Enable SafeSearch",
                    "type": "string"
                  },
                  "startIndex": {
                    "type": "integer",
                    "description": "The index of the current set of search results into the total set of results, where the index of the first result is 1.",
                    "format": "int32"
                  },
                  "language": {
                    "type": "string",
                    "description": "The language of the search results."
                  },
                  "siteSearch": {
                    "description": "Restricts results to URLs from a specified site.",
                    "type": "string"
                  },
                  "count": {
                    "description": "Number of search results returned in this set.",
                    "format": "int32",
                    "type": "integer"
                  },
                  "hq": {
                    "description": "Appends the specified query terms to the query, as if they were combined with a logical `AND` operator.",
                    "type": "string"
                  },
                  "startPage": {
                    "description": "The page number of this set of results, where the page length is set by the `count` property.",
                    "type": "integer",
                    "format": "int32"
                  },
                  "inputEncoding": {
                    "type": "string",
                    "description": "The character encoding supported for search requests."
                  },
                  "linkSite": {
                    "type": "string",
                    "description": "Specifies that all results should contain a link to a specific URL."
                  },
                  "searchType": {
                    "description": "Allowed values are `web` or `image`. If unspecified, results are limited to webpages.",
                    "type": "string"
                  },
                  "sort": {
                    "description": "Specifies that results should be sorted according to the specified expression. For example, sort by date.",
                    "type": "string"
                  },
                  "relatedSite": {
                    "type": "string",
                    "description": "Specifies that all search results should be pages that are related to the specified URL. The parameter value should be a URL."
                  },
                  "cx": {
                    "type": "string",
                    "description": "The identifier of an engine created using the Programmable Search Engine [Control Panel](https://programmablesearchengine.google.com/). This is a custom property not defined in the OpenSearch spec. This parameter is **required**."
                  },
                  "exactTerms": {
                    "type": "string",
                    "description": "Identifies a phrase that all documents in the search results must contain."
                  },
                  "imgDominantColor": {
                    "type": "string",
                    "description": "Restricts results to images with a specific dominant color. Supported values are: * `red` * `orange` * `yellow` * `green` * `teal` * `blue` * `purple` * `pink` * `white` * `gray` * `black` * `brown`"
                  },
                  "gl": {
                    "type": "string",
                    "description": "Boosts search results whose country of origin matches the parameter value. See [Country Codes](https://developers.google.com/custom-search/docs/json_api_reference#countryCodes) for a list of valid values. Specifying a `gl` parameter value in WebSearch requests should improve the relevance of results. This is particularly true for international customers and, even more specifically, for customers in English-speaking countries other than the United States."
                  },
                  "hl": {
                    "type": "string",
                    "description": "Specifies the interface language (host language) of your user interface. Explicitly setting this parameter improves the performance and the quality of your search results. See the [Interface Languages](https://developers.google.com/custom-search/docs/json_api_reference#wsInterfaceLanguages) section of [Internationalizing Queries and Results Presentation](https://developers.google.com/custom-search/docs/json_api_reference#wsInternationalizing) for more information, and [Supported Interface Languages](https://developers.google.com/custom-search/docs/json_api_reference#interfaceLanguages) for a list of supported languages."
                  },
                  "siteSearchFilter": {
                    "description": "Specifies whether to include or exclude results from the site named in the `sitesearch` parameter. Supported values are: * `i`: include content from site * `e`: exclude content from site",
                    "type": "string"
                  },
                  "title": {
                    "type": "string",
                    "description": "A description of the query."
                  },
                  "fileType": {
                    "type": "string",
                    "description": "Restricts results to files of a specified extension. Filetypes supported by Google include: * Adobe Portable Document Format (`pdf`) * Adobe PostScript (`ps`) * Lotus 1-2-3 (`wk1`, `wk2`, `wk3`, `wk4`, `wk5`, `wki`, `wks`, `wku`) * Lotus WordPro (`lwp`) * Macwrite (`mw`) * Microsoft Excel (`xls`) * Microsoft PowerPoint (`ppt`) * Microsoft Word (`doc`) * Microsoft Works (`wks`, `wps`, `wdb`) * Microsoft Write (`wri`) * Rich Text Format (`rtf`) * Shockwave Flash (`swf`) * Text (`ans`, `txt`). Additional filetypes may be added in the future. An up-to-date list can always be found in Google's [file type FAQ](https://support.google.com/webmasters/answer/35287)."
                  },
                  "outputEncoding": {
                    "type": "string",
                    "description": "The character encoding supported for search results."
                  },
                  "dateRestrict": {
                    "description": "Restricts results to URLs based on date. Supported values include: * `d[number]`: requests results from the specified number of past days. * `w[number]`: requests results from the specified number of past weeks. * `m[number]`: requests results from the specified number of past months. * `y[number]`: requests results from the specified number of past years.",
                    "type": "string"
                  },
                  "googleHost": {
                    "description": "Specifies the Google domain (for example, google.com, google.de, or google.fr) to which the search should be limited.",
                    "type": "string"
                  },
                  "orTerms": {
                    "type": "string",
                    "description": "Provides additional search terms to check for in a document, where each document in the search results must contain at least one of the additional search terms. You can also use the [Boolean OR](https://developers.google.com/custom-search/docs/json_api_reference#BooleanOrSearch) query term for this type of query."
                  },
                  "rights": {
                    "description": "Filters based on licensing. Supported values include: * `cc_publicdomain` * `cc_attribute` * `cc_sharealike` * `cc_noncommercial` * `cc_nonderived`",
                    "type": "string"
                  }
                },
                "type": "object",
                "description": "Custom search request metadata."
              }
            }
          },
          "type": "object"
        },
        "spelling": {
          "properties": {
            "htmlCorrectedQuery": {
              "type": "string",
              "description": "The corrected query, formatted in HTML."
            },
            "correctedQuery": {
              "description": "The corrected query.",
              "type": "string"
            }
          },
          "type": "object",
          "description": "Spell correction information for a query."
        },
        "kind": {
          "type": "string",
          "description": "Unique identifier for the type of current object. For this API, it is customsearch#search."
        },
        "items": {
          "description": "The current set of custom search results.",
          "items": {
            "$ref": "Result"
          },
          "type": "array"
        },
        "promotions": {
          "type": "array",
          "description": "The set of [promotions](https://developers.google.com/custom-search/docs/promotions). Present only if the custom search engine's configuration files define any promotions for the given query.",
          "items": {
            "$ref": "Promotion"
          }
        },
        "context": {
          "description": "Metadata and refinements associated with the given search engine, including: * The name of the search engine that was used for the query. * A set of [facet objects](https://developers.google.com/custom-search/docs/refinements#create) (refinements) you can use for refining a search.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "url": {
          "properties": {
            "type": {
              "type": "string",
              "description": "The MIME type of the OpenSearch URL template for the Custom Search JSON API."
            },
            "template": {
              "type": "string",
              "description": "The actual [OpenSearch template](http://www.opensearch.org/specifications/opensearch/1.1#opensearch_url_template_syntax) for this API."
            }
          },
          "type": "object",
          "description": "OpenSearch template and URL."
        }
      }
    },
    "Promotion": {
      "description": "Promotion result.",
      "type": "object",
      "id": "Promotion",
      "properties": {
        "bodyLines": {
          "items": {
            "properties": {
              "htmlTitle": {
                "description": "The block object's text in HTML, if it has text.",
                "type": "string"
              },
              "title": {
                "type": "string",
                "description": "The block object's text, if it has text."
              },
              "url": {
                "type": "string",
                "description": "The URL of the block object's link, if it has one."
              },
              "link": {
                "description": "The anchor text of the block object's link, if it has a link.",
                "type": "string"
              }
            },
            "description": "Block object belonging to a promotion.",
            "type": "object"
          },
          "description": "An array of block objects for this promotion.",
          "type": "array"
        },
        "htmlTitle": {
          "type": "string",
          "description": "The title of the promotion, in HTML."
        },
        "image": {
          "properties": {
            "height": {
              "type": "integer",
              "description": "Image height in pixels.",
              "format": "int32"
            },
            "width": {
              "type": "integer",
              "format": "int32",
              "description": "Image width in pixels."
            },
            "source": {
              "type": "string",
              "description": "URL of the image for this promotion link."
            }
          },
          "type": "object",
          "description": "Image belonging to a promotion."
        },
        "title": {
          "type": "string",
          "description": "The title of the promotion."
        },
        "displayLink": {
          "type": "string",
          "description": "An abridged version of this search's result URL, e.g. www.example.com."
        },
        "link": {
          "type": "string",
          "description": "The URL of the promotion."
        }
      }
    }
  },
  "mtlsRootUrl": "https://customsearch.mtls.googleapis.com/",
  "description": "Searches over a website or collection of websites",
  "documentationLink": "https://developers.google.com/custom-search/v1/introduction",
  "ownerDomain": "google.com",
  "version_module": true,
  "version": "v1",
  "title": "Custom Search API",
  "canonicalName": "CustomSearch API",
  "resources": {
    "cse": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [],
          "path": "customsearch/v1",
          "response": {
            "$ref": "Search"
          },
          "description": "Returns metadata about the search performed, metadata about the engine used for the search, and the search results.",
          "parameters": {
            "imgColorType": {
              "type": "string",
              "enum": [
                "imgColorTypeUndefined",
                "mono",
                "gray",
                "color",
                "trans"
              ],
              "description": "Returns black and white, grayscale, transparent, or color images. Acceptable values are: * `\"color\"` * `\"gray\"` * `\"mono\"`: black and white * `\"trans\"`: transparent background",
              "location": "query",
              "enumDescriptions": [
                "No image color type specified.",
                "Black and white images only.",
                "Grayscale images only.",
                "Color images only.",
                "Images with transparent background"
              ]
            },
            "cx": {
              "description": "The Programmable Search Engine ID to use for this request.",
              "location": "query",
              "type": "string"
            },
            "sort": {
              "location": "query",
              "type": "string",
              "description": "The sort expression to apply to the results. The sort parameter specifies that the results be sorted according to the specified expression i.e. sort by date. [Example: sort=date](https://developers.google.com/custom-search/docs/structured_search#sort-by-attribute)."
            },
            "imgDominantColor": {
              "description": "Returns images of a specific dominant color. Acceptable values are: * `\"black\"` * `\"blue\"` * `\"brown\"` * `\"gray\"` * `\"green\"` * `\"orange\"` * `\"pink\"` * `\"purple\"` * `\"red\"` * `\"teal\"` * `\"white\"` * `\"yellow\"`",
              "enumDescriptions": [
                "No dominant color specified.",
                "Predominantly black images only.",
                "Predominantly blue images only.",
                "Predominantly brown images only.",
                "Predominantly gray images only.",
                "Predominantly green images only.",
                "Predominantly orange images only.",
                "Predominantly pink images only.",
                "Predominantly purple images only.",
                "Predominantly red images only.",
                "Predominantly teal images only.",
                "Predominantly white images only.",
                "Predominantly yellow images only."
              ],
              "type": "string",
              "location": "query",
              "enum": [
                "imgDominantColorUndefined",
                "black",
                "blue",
                "brown",
                "gray",
                "green",
                "orange",
                "pink",
                "purple",
                "red",
                "teal",
                "white",
                "yellow"
              ]
            },
            "imgType": {
              "enum": [
                "imgTypeUndefined",
                "clipart",
                "face",
                "lineart",
                "stock",
                "photo",
                "animated"
              ],
              "description": "Returns images of a type. Acceptable values are: * `\"clipart\"` * `\"face\"` * `\"lineart\"` * `\"stock\"` * `\"photo\"` * `\"animated\"`",
              "enumDescriptions": [
                "No image type specified.",
                "Clipart-style images only.",
                "Images of faces only.",
                "Line art images only.",
                "Stock images only.",
                "Photo images only.",
                "Animated images only."
              ],
              "type": "string",
              "location": "query"
            },
            "siteSearchFilter": {
              "location": "query",
              "description": "Controls whether to include or exclude results from the site named in the `siteSearch` parameter. Acceptable values are: * `\"e\"`: exclude * `\"i\"`: include",
              "type": "string",
              "enum": [
                "siteSearchFilterUndefined",
                "e",
                "i"
              ],
              "enumDescriptions": [
                "Filter mode unspecified.",
                "Exclude results from the listed sites.",
                "Include only results from the listed sites."
              ]
            },
            "hl": {
              "location": "query",
              "type": "string",
              "description": "Sets the user interface language. * Explicitly setting this parameter improves the performance and the quality of your search results. * See the [Interface Languages](https://developers.google.com/custom-search/docs/json_api_reference#wsInterfaceLanguages) section of [Internationalizing Queries and Results Presentation](https://developers.google.com/custom-search/docs/json_api_reference#wsInternationalizing) for more information, and [Supported Interface Languages](https://developers.google.com/custom-search/docs/json_api_reference#interfaceLanguages) for a list of supported languages."
            },
            "searchType": {
              "enumDescriptions": [
                "Search type unspecified (defaults to web search).",
                "Image search."
              ],
              "location": "query",
              "type": "string",
              "enum": [
                "searchTypeUndefined",
                "image"
              ],
              "description": "Specifies the search type: `image`. If unspecified, results are limited to webpages. Acceptable values are: * `\"image\"`: custom image search."
            },
            "cr": {
              "location": "query",
              "type": "string",
              "description": "Restricts search results to documents originating in a particular country. You may use [Boolean operators](https://developers.google.com/custom-search/docs/json_api_reference#booleanOperators) in the cr parameter's value. Google Search determines the country of a document by analyzing: * the top-level domain (TLD) of the document's URL * the geographic location of the Web server's IP address See the [Country Parameter Values](https://developers.google.com/custom-search/docs/json_api_reference#countryCollections) page for a list of valid values for this parameter."
            },
            "safe": {
              "enum": [
                "safeUndefined",
                "active",
                "high",
                "medium",
                "off"
              ],
              "enumDescriptions": [
                "SafeSearch mode unspecified. (Falls back to engine's configuration.)",
                "Turn SafeSearch on.",
                "Deprecated, equivalent to \"active\".",
                "Deprecated, equivalent to \"active\".",
                "Turn SafeSearch off."
              ],
              "description": "Search safety level. Acceptable values are: * `\"active\"`: Enables SafeSearch filtering. * `\"off\"`: Disables SafeSearch filtering. (default)",
              "location": "query",
              "enumDeprecated": [
                false,
                false,
                true,
                true,
                false
              ],
              "type": "string"
            },
            "orTerms": {
              "location": "query",
              "description": "Provides additional search terms to check for in a document, where each document in the search results must contain at least one of the additional search terms.",
              "type": "string"
            },
            "num": {
              "type": "integer",
              "format": "int32",
              "description": "Number of search results to return. * Valid values are integers between 1 and 10, inclusive.",
              "location": "query"
            },
            "rights": {
              "type": "string",
              "description": "Filters based on licensing. Supported values include: `cc_publicdomain`, `cc_attribute`, `cc_sharealike`, `cc_noncommercial`, `cc_nonderived` and combinations of these. See [typical combinations](https://wiki.creativecommons.org/wiki/CC_Search_integration).",
              "location": "query"
            },
            "imgSize": {
              "location": "query",
              "type": "string",
              "enum": [
                "imgSizeUndefined",
                "HUGE",
                "ICON",
                "LARGE",
                "MEDIUM",
                "SMALL",
                "XLARGE",
                "XXLARGE"
              ],
              "enumDescriptions": [
                "No image size specified.",
                "Only the largest possible images.",
                "Only very small icon-sized images.",
                "Only large images.",
                "Only medium images.",
                "Only small images.",
                "Only very large images.",
                "Only extremely large images."
              ],
              "description": "Returns images of a specified size. Acceptable values are: * `\"huge\"` * `\"icon\"` * `\"large\"` * `\"medium\"` * `\"small\"` * `\"xlarge\"` * `\"xxlarge\"`"
            },
            "highRange": {
              "type": "string",
              "description": "Specifies the ending value for a search range. * Use `lowRange` and `highRange` to append an inclusive search range of `lowRange...highRange` to the query.",
              "location": "query"
            },
            "linkSite": {
              "location": "query",
              "description": "Specifies that all search results should contain a link to a particular URL.",
              "type": "string"
            },
            "gl": {
              "description": "Geolocation of end user. * The `gl` parameter value is a two-letter country code. The `gl` parameter boosts search results whose country of origin matches the parameter value. See the [Country Codes](https://developers.google.com/custom-search/docs/json_api_reference#countryCodes) page for a list of valid values. * Specifying a `gl` parameter value should lead to more relevant results. This is particularly true for international customers and, even more specifically, for customers in English- speaking countries other than the United States.",
              "type": "string",
              "location": "query"
            },
            "siteSearch": {
              "type": "string",
              "location": "query",
              "description": "Specifies a given site which should always be included or excluded from results (see `siteSearchFilter` parameter, below)."
            },
            "exactTerms": {
              "description": "Identifies a phrase that all documents in the search results must contain.",
              "type": "string",
              "location": "query"
            },
            "lowRange": {
              "location": "query",
              "type": "string",
              "description": "Specifies the starting value for a search range. Use `lowRange` and `highRange` to append an inclusive search range of `lowRange...highRange` to the query."
            },
            "filter": {
              "location": "query",
              "description": "Controls turning on or off the duplicate content filter. * See [Automatic Filtering](https://developers.google.com/custom-search/docs/json_api_reference#automaticFiltering) for more information about Google's search results filters. Note that host crowding filtering applies only to multi-site searches. * By default, Google applies filtering to all search results to improve the quality of those results. Acceptable values are: * `0`: Turns off duplicate content filter. * `1`: Turns on duplicate content filter.",
              "type": "string"
            },
            "fileType": {
              "location": "query",
              "description": "Restricts results to files of a specified extension. A list of file types indexable by Google can be found in Search Console [Help Center](https://support.google.com/webmasters/answer/35287).",
              "type": "string"
            },
            "excludeTerms": {
              "description": "Identifies a word or phrase that should not appear in any documents in the search results.",
              "location": "query",
              "type": "string"
            },
            "start": {
              "location": "query",
              "description": "The index of the first result to return. The default number of results per page is 10, so `&start=11` would start at the top of the second page of results. **Note**: The JSON API will never return more than 100 results, even if more than 100 documents match the query, so setting the sum of `start + num` to a number greater than 100 will produce an error. Also note that the maximum value for `num` is 10.",
              "type": "integer",
              "format": "uint32"
            },
            "googlehost": {
              "description": "**Deprecated**. Use the `gl` parameter for a similar effect. The local Google domain (for example, google.com, google.de, or google.fr) to use to perform the search.",
              "type": "string",
              "location": "query"
            },
            "q": {
              "location": "query",
              "type": "string",
              "description": "Query"
            },
            "dateRestrict": {
              "description": "Restricts results to URLs based on date. Supported values include: * `d[number]`: requests results from the specified number of past days. * `w[number]`: requests results from the specified number of past weeks. * `m[number]`: requests results from the specified number of past months. * `y[number]`: requests results from the specified number of past years.",
              "location": "query",
              "type": "string"
            },
            "c2coff": {
              "description": "Enables or disables [Simplified and Traditional Chinese Search](https://developers.google.com/custom-search/docs/json_api_reference#chineseSearch). The default value for this parameter is 0 (zero), meaning that the feature is enabled. Supported values are: * `1`: Disabled * `0`: Enabled (default)",
              "location": "query",
              "type": "string"
            },
            "relatedSite": {
              "deprecated": true,
              "type": "string",
              "description": "Deprecated.",
              "location": "query"
            },
            "lr": {
              "type": "string",
              "description": "Restricts the search to documents written in a particular language (e.g., `lr=lang_ja`). Acceptable values are: * `\"lang_ar\"`: Arabic * `\"lang_bg\"`: Bulgarian * `\"lang_ca\"`: Catalan * `\"lang_cs\"`: Czech * `\"lang_da\"`: Danish * `\"lang_de\"`: German * `\"lang_el\"`: Greek * `\"lang_en\"`: English * `\"lang_es\"`: Spanish * `\"lang_et\"`: Estonian * `\"lang_fi\"`: Finnish * `\"lang_fr\"`: French * `\"lang_hr\"`: Croatian * `\"lang_hu\"`: Hungarian * `\"lang_id\"`: Indonesian * `\"lang_is\"`: Icelandic * `\"lang_it\"`: Italian * `\"lang_iw\"`: Hebrew * `\"lang_ja\"`: Japanese * `\"lang_ko\"`: Korean * `\"lang_lt\"`: Lithuanian * `\"lang_lv\"`: Latvian * `\"lang_nl\"`: Dutch * `\"lang_no\"`: Norwegian * `\"lang_pl\"`: Polish * `\"lang_pt\"`: Portuguese * `\"lang_ro\"`: Romanian * `\"lang_ru\"`: Russian * `\"lang_sk\"`: Slovak * `\"lang_sl\"`: Slovenian * `\"lang_sr\"`: Serbian * `\"lang_sv\"`: Swedish * `\"lang_tr\"`: Turkish * `\"lang_zh-CN\"`: Chinese (Simplified) * `\"lang_zh-TW\"`: Chinese (Traditional)",
              "location": "query"
            },
            "hq": {
              "type": "string",
              "description": "Appends the specified query terms to the query, as if they were combined with a logical AND operator.",
              "location": "query"
            }
          },
          "flatPath": "customsearch/v1",
          "id": "search.cse.list"
        }
      },
      "resources": {
        "siterestrict": {
          "methods": {
            "list": {
              "parameters": {
                "lowRange": {
                  "description": "Specifies the starting value for a search range. Use `lowRange` and `highRange` to append an inclusive search range of `lowRange...highRange` to the query.",
                  "type": "string",
                  "location": "query"
                },
                "fileType": {
                  "location": "query",
                  "description": "Restricts results to files of a specified extension. A list of file types indexable by Google can be found in Search Console [Help Center](https://support.google.com/webmasters/answer/35287).",
                  "type": "string"
                },
                "siteSearch": {
                  "type": "string",
                  "location": "query",
                  "description": "Specifies a given site which should always be included or excluded from results (see `siteSearchFilter` parameter, below)."
                },
                "hq": {
                  "location": "query",
                  "type": "string",
                  "description": "Appends the specified query terms to the query, as if they were combined with a logical AND operator."
                },
                "sort": {
                  "type": "string",
                  "location": "query",
                  "description": "The sort expression to apply to the results. The sort parameter specifies that the results be sorted according to the specified expression i.e. sort by date. [Example: sort=date](https://developers.google.com/custom-search/docs/structured_search#sort-by-attribute)."
                },
                "safe": {
                  "description": "Search safety level. Acceptable values are: * `\"active\"`: Enables SafeSearch filtering. * `\"off\"`: Disables SafeSearch filtering. (default)",
                  "enumDeprecated": [
                    false,
                    false,
                    true,
                    true,
                    false
                  ],
                  "location": "query",
                  "enum": [
                    "safeUndefined",
                    "active",
                    "high",
                    "medium",
                    "off"
                  ],
                  "enumDescriptions": [
                    "SafeSearch mode unspecified. (Falls back to engine's configuration.)",
                    "Turn SafeSearch on.",
                    "Deprecated, equivalent to \"active\".",
                    "Deprecated, equivalent to \"active\".",
                    "Turn SafeSearch off."
                  ],
                  "type": "string"
                },
                "cx": {
                  "location": "query",
                  "description": "The Programmable Search Engine ID to use for this request.",
                  "type": "string"
                },
                "orTerms": {
                  "description": "Provides additional search terms to check for in a document, where each document in the search results must contain at least one of the additional search terms.",
                  "type": "string",
                  "location": "query"
                },
                "excludeTerms": {
                  "type": "string",
                  "description": "Identifies a word or phrase that should not appear in any documents in the search results.",
                  "location": "query"
                },
                "imgDominantColor": {
                  "type": "string",
                  "description": "Returns images of a specific dominant color. Acceptable values are: * `\"black\"` * `\"blue\"` * `\"brown\"` * `\"gray\"` * `\"green\"` * `\"orange\"` * `\"pink\"` * `\"purple\"` * `\"red\"` * `\"teal\"` * `\"white\"` * `\"yellow\"`",
                  "enum": [
                    "imgDominantColorUndefined",
                    "black",
                    "blue",
                    "brown",
                    "gray",
                    "green",
                    "orange",
                    "pink",
                    "purple",
                    "red",
                    "teal",
                    "white",
                    "yellow"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "No dominant color specified.",
                    "Predominantly black images only.",
                    "Predominantly blue images only.",
                    "Predominantly brown images only.",
                    "Predominantly gray images only.",
                    "Predominantly green images only.",
                    "Predominantly orange images only.",
                    "Predominantly pink images only.",
                    "Predominantly purple images only.",
                    "Predominantly red images only.",
                    "Predominantly teal images only.",
                    "Predominantly white images only.",
                    "Predominantly yellow images only."
                  ]
                },
                "rights": {
                  "description": "Filters based on licensing. Supported values include: `cc_publicdomain`, `cc_attribute`, `cc_sharealike`, `cc_noncommercial`, `cc_nonderived` and combinations of these. See [typical combinations](https://wiki.creativecommons.org/wiki/CC_Search_integration).",
                  "type": "string",
                  "location": "query"
                },
                "c2coff": {
                  "location": "query",
                  "type": "string",
                  "description": "Enables or disables [Simplified and Traditional Chinese Search](https://developers.google.com/custom-search/docs/json_api_reference#chineseSearch). The default value for this parameter is 0 (zero), meaning that the feature is enabled. Supported values are: * `1`: Disabled * `0`: Enabled (default)"
                },
                "siteSearchFilter": {
                  "description": "Controls whether to include or exclude results from the site named in the `siteSearch` parameter. Acceptable values are: * `\"e\"`: exclude * `\"i\"`: include",
                  "location": "query",
                  "type": "string",
                  "enumDescriptions": [
                    "Filter mode unspecified.",
                    "Exclude results from the listed sites.",
                    "Include only results from the listed sites."
                  ],
                  "enum": [
                    "siteSearchFilterUndefined",
                    "e",
                    "i"
                  ]
                },
                "cr": {
                  "description": "Restricts search results to documents originating in a particular country. You may use [Boolean operators](https://developers.google.com/custom-search/docs/json_api_reference#booleanOperators) in the cr parameter's value. Google Search determines the country of a document by analyzing: * the top-level domain (TLD) of the document's URL * the geographic location of the Web server's IP address See the [Country Parameter Values](https://developers.google.com/custom-search/docs/json_api_reference#countryCollections) page for a list of valid values for this parameter.",
                  "type": "string",
                  "location": "query"
                },
                "lr": {
                  "description": "Restricts the search to documents written in a particular language (e.g., `lr=lang_ja`). Acceptable values are: * `\"lang_ar\"`: Arabic * `\"lang_bg\"`: Bulgarian * `\"lang_ca\"`: Catalan * `\"lang_cs\"`: Czech * `\"lang_da\"`: Danish * `\"lang_de\"`: German * `\"lang_el\"`: Greek * `\"lang_en\"`: English * `\"lang_es\"`: Spanish * `\"lang_et\"`: Estonian * `\"lang_fi\"`: Finnish * `\"lang_fr\"`: French * `\"lang_hr\"`: Croatian * `\"lang_hu\"`: Hungarian * `\"lang_id\"`: Indonesian * `\"lang_is\"`: Icelandic * `\"lang_it\"`: Italian * `\"lang_iw\"`: Hebrew * `\"lang_ja\"`: Japanese * `\"lang_ko\"`: Korean * `\"lang_lt\"`: Lithuanian * `\"lang_lv\"`: Latvian * `\"lang_nl\"`: Dutch * `\"lang_no\"`: Norwegian * `\"lang_pl\"`: Polish * `\"lang_pt\"`: Portuguese * `\"lang_ro\"`: Romanian * `\"lang_ru\"`: Russian * `\"lang_sk\"`: Slovak * `\"lang_sl\"`: Slovenian * `\"lang_sr\"`: Serbian * `\"lang_sv\"`: Swedish * `\"lang_tr\"`: Turkish * `\"lang_zh-CN\"`: Chinese (Simplified) * `\"lang_zh-TW\"`: Chinese (Traditional)",
                  "type": "string",
                  "location": "query"
                },
                "highRange": {
                  "type": "string",
                  "description": "Specifies the ending value for a search range. * Use `lowRange` and `highRange` to append an inclusive search range of `lowRange...highRange` to the query.",
                  "location": "query"
                },
                "imgType": {
                  "location": "query",
                  "enumDescriptions": [
                    "No image type specified.",
                    "Clipart-style images only.",
                    "Images of faces only.",
                    "Line art images only.",
                    "Stock images only.",
                    "Photo images only.",
                    "Animated images only."
                  ],
                  "enum": [
                    "imgTypeUndefined",
                    "clipart",
                    "face",
                    "lineart",
                    "stock",
                    "photo",
                    "animated"
                  ],
                  "type": "string",
                  "description": "Returns images of a type. Acceptable values are: * `\"clipart\"` * `\"face\"` * `\"lineart\"` * `\"stock\"` * `\"photo\"` * `\"animated\"`"
                },
                "linkSite": {
                  "type": "string",
                  "description": "Specifies that all search results should contain a link to a particular URL.",
                  "location": "query"
                },
                "num": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Number of search results to return. * Valid values are integers between 1 and 10, inclusive."
                },
                "searchType": {
                  "location": "query",
                  "enumDescriptions": [
                    "Search type unspecified (defaults to web search).",
                    "Image search."
                  ],
                  "enum": [
                    "searchTypeUndefined",
                    "image"
                  ],
                  "type": "string",
                  "description": "Specifies the search type: `image`. If unspecified, results are limited to webpages. Acceptable values are: * `\"image\"`: custom image search."
                },
                "imgSize": {
                  "enumDescriptions": [
                    "No image size specified.",
                    "Only the largest possible images.",
                    "Only very small icon-sized images.",
                    "Only large images.",
                    "Only medium images.",
                    "Only small images.",
                    "Only very large images.",
                    "Only extremely large images."
                  ],
                  "description": "Returns images of a specified size. Acceptable values are: * `\"huge\"` * `\"icon\"` * `\"large\"` * `\"medium\"` * `\"small\"` * `\"xlarge\"` * `\"xxlarge\"`",
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "imgSizeUndefined",
                    "HUGE",
                    "ICON",
                    "LARGE",
                    "MEDIUM",
                    "SMALL",
                    "XLARGE",
                    "XXLARGE"
                  ]
                },
                "relatedSite": {
                  "location": "query",
                  "type": "string",
                  "deprecated": true,
                  "description": "Deprecated."
                },
                "dateRestrict": {
                  "location": "query",
                  "type": "string",
                  "description": "Restricts results to URLs based on date. Supported values include: * `d[number]`: requests results from the specified number of past days. * `w[number]`: requests results from the specified number of past weeks. * `m[number]`: requests results from the specified number of past months. * `y[number]`: requests results from the specified number of past years."
                },
                "gl": {
                  "type": "string",
                  "description": "Geolocation of end user. * The `gl` parameter value is a two-letter country code. The `gl` parameter boosts search results whose country of origin matches the parameter value. See the [Country Codes](https://developers.google.com/custom-search/docs/json_api_reference#countryCodes) page for a list of valid values. * Specifying a `gl` parameter value should lead to more relevant results. This is particularly true for international customers and, even more specifically, for customers in English- speaking countries other than the United States.",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "description": "Controls turning on or off the duplicate content filter. * See [Automatic Filtering](https://developers.google.com/custom-search/docs/json_api_reference#automaticFiltering) for more information about Google's search results filters. Note that host crowding filtering applies only to multi-site searches. * By default, Google applies filtering to all search results to improve the quality of those results. Acceptable values are: * `0`: Turns off duplicate content filter. * `1`: Turns on duplicate content filter.",
                  "type": "string"
                },
                "q": {
                  "type": "string",
                  "location": "query",
                  "description": "Query"
                },
                "exactTerms": {
                  "description": "Identifies a phrase that all documents in the search results must contain.",
                  "location": "query",
                  "type": "string"
                },
                "hl": {
                  "type": "string",
                  "description": "Sets the user interface language. * Explicitly setting this parameter improves the performance and the quality of your search results. * See the [Interface Languages](https://developers.google.com/custom-search/docs/json_api_reference#wsInterfaceLanguages) section of [Internationalizing Queries and Results Presentation](https://developers.google.com/custom-search/docs/json_api_reference#wsInternationalizing) for more information, and [Supported Interface Languages](https://developers.google.com/custom-search/docs/json_api_reference#interfaceLanguages) for a list of supported languages.",
                  "location": "query"
                },
                "start": {
                  "type": "integer",
                  "description": "The index of the first result to return. The default number of results per page is 10, so `&start=11` would start at the top of the second page of results. **Note**: The JSON API will never return more than 100 results, even if more than 100 documents match the query, so setting the sum of `start + num` to a number greater than 100 will produce an error. Also note that the maximum value for `num` is 10.",
                  "format": "uint32",
                  "location": "query"
                },
                "googlehost": {
                  "type": "string",
                  "location": "query",
                  "description": "**Deprecated**. Use the `gl` parameter for a similar effect. The local Google domain (for example, google.com, google.de, or google.fr) to use to perform the search."
                },
                "imgColorType": {
                  "enumDescriptions": [
                    "No image color type specified.",
                    "Black and white images only.",
                    "Grayscale images only.",
                    "Color images only.",
                    "Images with transparent background"
                  ],
                  "location": "query",
                  "description": "Returns black and white, grayscale, transparent, or color images. Acceptable values are: * `\"color\"` * `\"gray\"` * `\"mono\"`: black and white * `\"trans\"`: transparent background",
                  "type": "string",
                  "enum": [
                    "imgColorTypeUndefined",
                    "mono",
                    "gray",
                    "color",
                    "trans"
                  ]
                }
              },
              "httpMethod": "GET",
              "flatPath": "customsearch/v1/siterestrict",
              "path": "customsearch/v1/siterestrict",
              "parameterOrder": [],
              "id": "search.cse.siterestrict.list",
              "description": "Returns metadata about the search performed, metadata about the engine used for the search, and the search results. Uses a small set of url patterns.",
              "response": {
                "$ref": "Search"
              }
            }
          }
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerName": "Google",
  "id": "customsearch:v1",
  "baseUrl": "https://customsearch.googleapis.com/",
  "kind": "discovery#restDescription",
  "protocol": "rest"
}
