{
  "ownerName": "Google",
  "name": "dataflow",
  "canonicalName": "Dataflow",
  "rootUrl": "https://dataflow.googleapis.com/",
  "documentationLink": "https://cloud.google.com/dataflow",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "See your primary Google Account email address"
        },
        "https://www.googleapis.com/auth/compute": {
          "description": "View and manage your Google Compute Engine resources"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud Platform data"
        },
        "https://www.googleapis.com/auth/compute.readonly": {
          "description": "View your Google Compute Engine resources"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://dataflow.mtls.googleapis.com/",
  "basePath": "",
  "kind": "discovery#restDescription",
  "title": "Dataflow API",
  "description": "Manages Google Cloud Dataflow projects on Google Cloud Platform.",
  "discoveryVersion": "v1",
  "revision": "20210703",
  "batchPath": "batch",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "schemas": {
    "Parameter": {
      "id": "Parameter",
      "type": "object",
      "properties": {
        "value": {
          "type": "any",
          "description": "Value for this parameter."
        },
        "key": {
          "description": "Key or name for this parameter.",
          "type": "string"
        }
      },
      "description": "Structured data associated with this message."
    },
    "LaunchFlexTemplateRequest": {
      "properties": {
        "launchParameter": {
          "description": "Required. Parameter to launch a job form Flex Template.",
          "$ref": "LaunchFlexTemplateParameter"
        },
        "validateOnly": {
          "type": "boolean",
          "description": "If true, the request is validated but not actually executed. Defaults to false."
        }
      },
      "id": "LaunchFlexTemplateRequest",
      "description": "A request to launch a Cloud Dataflow job from a FlexTemplate.",
      "type": "object"
    },
    "ExecutionStageSummary": {
      "type": "object",
      "properties": {
        "componentTransform": {
          "type": "array",
          "description": "Transforms that comprise this execution stage.",
          "items": {
            "$ref": "ComponentTransform"
          }
        },
        "outputSource": {
          "description": "Output sources for this stage.",
          "type": "array",
          "items": {
            "$ref": "StageSource"
          }
        },
        "inputSource": {
          "items": {
            "$ref": "StageSource"
          },
          "description": "Input sources for this stage.",
          "type": "array"
        },
        "name": {
          "description": "Dataflow service generated name for this stage.",
          "type": "string"
        },
        "prerequisiteStage": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Other stages that must complete before this stage can run."
        },
        "id": {
          "description": "Dataflow service generated id for this stage.",
          "type": "string"
        },
        "componentSource": {
          "type": "array",
          "items": {
            "$ref": "ComponentSource"
          },
          "description": "Collections produced and consumed by component transforms of this stage."
        },
        "kind": {
          "type": "string",
          "enum": [
            "UNKNOWN_KIND",
            "PAR_DO_KIND",
            "GROUP_BY_KEY_KIND",
            "FLATTEN_KIND",
            "READ_KIND",
            "WRITE_KIND",
            "CONSTANT_KIND",
            "SINGLETON_KIND",
            "SHUFFLE_KIND"
          ],
          "description": "Type of transform this stage is executing.",
          "enumDescriptions": [
            "Unrecognized transform type.",
            "ParDo transform.",
            "Group By Key transform.",
            "Flatten transform.",
            "Read transform.",
            "Write transform.",
            "Constructs from a constant value, such as with Create.of.",
            "Creates a Singleton view of a collection.",
            "Opening or closing a shuffle session, often as part of a GroupByKey."
          ]
        }
      },
      "id": "ExecutionStageSummary",
      "description": "Description of the composing transforms, names/ids, and input/outputs of a stage of execution. Some composing transforms and sources may have been generated by the Dataflow service during execution planning."
    },
    "ParDoInstruction": {
      "id": "ParDoInstruction",
      "type": "object",
      "description": "An instruction that does a ParDo operation. Takes one main input and zero or more side inputs, and produces zero or more outputs. Runs user code.",
      "properties": {
        "multiOutputInfos": {
          "items": {
            "$ref": "MultiOutputInfo"
          },
          "type": "array",
          "description": "Information about each of the outputs, if user_fn is a MultiDoFn."
        },
        "sideInputs": {
          "type": "array",
          "items": {
            "$ref": "SideInputInfo"
          },
          "description": "Zero or more side inputs."
        },
        "input": {
          "description": "The input.",
          "$ref": "InstructionInput"
        },
        "numOutputs": {
          "description": "The number of outputs.",
          "type": "integer",
          "format": "int32"
        },
        "userFn": {
          "type": "object",
          "description": "The user function to invoke.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      }
    },
    "LaunchFlexTemplateResponse": {
      "type": "object",
      "properties": {
        "job": {
          "$ref": "Job",
          "description": "The job that was launched, if the request was not a dry run and the job was successfully launched."
        }
      },
      "id": "LaunchFlexTemplateResponse",
      "description": "Response to the request to launch a job from Flex Template."
    },
    "MetricUpdate": {
      "id": "MetricUpdate",
      "type": "object",
      "properties": {
        "internal": {
          "description": "Worker-computed aggregate value for internal use by the Dataflow service.",
          "type": "any"
        },
        "name": {
          "$ref": "MetricStructuredName",
          "description": "Name of the metric."
        },
        "cumulative": {
          "type": "boolean",
          "description": "True if this metric is reported as the total cumulative aggregate value accumulated since the worker started working on this WorkItem. By default this is false, indicating that this metric is reported as a delta that is not associated with any WorkItem."
        },
        "scalar": {
          "description": "Worker-computed aggregate value for aggregation kinds \"Sum\", \"Max\", \"Min\", \"And\", and \"Or\". The possible value types are Long, Double, and Boolean.",
          "type": "any"
        },
        "gauge": {
          "type": "any",
          "description": "A struct value describing properties of a Gauge. Metrics of gauge type show the value of a metric across time, and is aggregated based on the newest value."
        },
        "meanSum": {
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the sum of the aggregated values and is used in combination with mean_count below to obtain the actual mean aggregate value. The only possible value types are Long and Double.",
          "type": "any"
        },
        "distribution": {
          "description": "A struct value describing properties of a distribution of numeric values.",
          "type": "any"
        },
        "meanCount": {
          "type": "any",
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the count of the aggregated values and is used in combination with mean_sum above to obtain the actual mean aggregate value. The only possible value type is Long."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp associated with the metric value. Optional when workers are reporting work progress; it will be filled in responses from the metrics API."
        },
        "set": {
          "type": "any",
          "description": "Worker-computed aggregate value for the \"Set\" aggregation kind. The only possible value type is a list of Values whose type can be Long, Double, or String, according to the metric's type. All Values in the list must be of the same type."
        },
        "kind": {
          "type": "string",
          "description": "Metric aggregation kind. The possible metric aggregation kinds are \"Sum\", \"Max\", \"Min\", \"Mean\", \"Set\", \"And\", \"Or\", and \"Distribution\". The specified aggregation kind is case-insensitive. If omitted, this is not an aggregated value but instead a single metric sample value."
        }
      },
      "description": "Describes the state of a metric."
    },
    "DisplayData": {
      "id": "DisplayData",
      "description": "Data provided with a pipeline or transform to provide descriptive info.",
      "properties": {
        "boolValue": {
          "description": "Contains value if the data is of a boolean type.",
          "type": "boolean"
        },
        "int64Value": {
          "format": "int64",
          "description": "Contains value if the data is of int64 type.",
          "type": "string"
        },
        "shortStrValue": {
          "type": "string",
          "description": "A possible additional shorter value to display. For example a java_class_name_value of com.mypackage.MyDoFn will be stored with MyDoFn as the short_str_value and com.mypackage.MyDoFn as the java_class_name value. short_str_value can be displayed and java_class_name_value will be displayed as a tooltip."
        },
        "url": {
          "type": "string",
          "description": "An optional full URL."
        },
        "javaClassValue": {
          "description": "Contains value if the data is of java class type.",
          "type": "string"
        },
        "strValue": {
          "type": "string",
          "description": "Contains value if the data is of string type."
        },
        "key": {
          "description": "The key identifying the display data. This is intended to be used as a label for the display data when viewed in a dax monitoring system.",
          "type": "string"
        },
        "timestampValue": {
          "type": "string",
          "format": "google-datetime",
          "description": "Contains value if the data is of timestamp type."
        },
        "durationValue": {
          "format": "google-duration",
          "type": "string",
          "description": "Contains value if the data is of duration type."
        },
        "label": {
          "type": "string",
          "description": "An optional label to display in a dax UI for the element."
        },
        "floatValue": {
          "description": "Contains value if the data is of float type.",
          "type": "number",
          "format": "float"
        },
        "namespace": {
          "type": "string",
          "description": "The namespace for the key. This is usually a class name or programming language namespace (i.e. python module) which defines the display data. This allows a dax monitoring system to specially handle the data and perform custom rendering."
        }
      },
      "type": "object"
    },
    "SideInputInfo": {
      "id": "SideInputInfo",
      "type": "object",
      "properties": {
        "sources": {
          "type": "array",
          "description": "The source(s) to read element(s) from to get the value of this side input. If more than one source, then the elements are taken from the sources, in the specified order if order matters. At least one source is required.",
          "items": {
            "$ref": "Source"
          }
        },
        "kind": {
          "description": "How to interpret the source element(s) as a side input value.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "tag": {
          "description": "The id of the tag the user code will access this side input by; this should correspond to the tag of some MultiOutputInfo.",
          "type": "string"
        }
      },
      "description": "Information about a side input of a DoFn or an input of a SeqDoFn."
    },
    "ProgressTimeseries": {
      "description": "Information about the progress of some component of job execution.",
      "type": "object",
      "properties": {
        "currentProgress": {
          "format": "double",
          "type": "number",
          "description": "The current progress of the component, in the range [0,1]."
        },
        "dataPoints": {
          "description": "History of progress for the component. Points are sorted by time.",
          "type": "array",
          "items": {
            "$ref": "Point"
          }
        }
      },
      "id": "ProgressTimeseries"
    },
    "DerivedSource": {
      "description": "Specification of one of the bundles produced as a result of splitting a Source (e.g. when executing a SourceSplitRequest, or when splitting an active task using WorkItemStatus.dynamic_source_split), relative to the source being split.",
      "id": "DerivedSource",
      "type": "object",
      "properties": {
        "source": {
          "$ref": "Source",
          "description": "Specification of the source."
        },
        "derivationMode": {
          "description": "What source to base the produced source on (if any).",
          "enumDescriptions": [
            "The source derivation is unknown, or unspecified.",
            "Produce a completely independent Source with no base.",
            "Produce a Source based on the Source being split.",
            "Produce a Source based on the base of the Source being split."
          ],
          "enum": [
            "SOURCE_DERIVATION_MODE_UNKNOWN",
            "SOURCE_DERIVATION_MODE_INDEPENDENT",
            "SOURCE_DERIVATION_MODE_CHILD_OF_CURRENT",
            "SOURCE_DERIVATION_MODE_SIBLING_OF_CURRENT"
          ],
          "type": "string"
        }
      }
    },
    "LeaseWorkItemResponse": {
      "description": "Response to a request to lease WorkItems.",
      "id": "LeaseWorkItemResponse",
      "properties": {
        "workItems": {
          "description": "A list of the leased WorkItems.",
          "items": {
            "$ref": "WorkItem"
          },
          "type": "array"
        },
        "unifiedWorkerResponse": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Untranslated bag-of-bytes WorkResponse for UnifiedWorker."
        }
      },
      "type": "object"
    },
    "FlattenInstruction": {
      "properties": {
        "inputs": {
          "items": {
            "$ref": "InstructionInput"
          },
          "description": "Describes the inputs to the flatten instruction.",
          "type": "array"
        }
      },
      "id": "FlattenInstruction",
      "description": "An instruction that copies its inputs (zero or more) to its (single) output.",
      "type": "object"
    },
    "CreateJobFromTemplateRequest": {
      "description": "A request to create a Cloud Dataflow job from a template.",
      "properties": {
        "parameters": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The runtime parameters to pass to the job.",
          "type": "object"
        },
        "location": {
          "type": "string",
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request."
        },
        "gcsPath": {
          "description": "Required. A Cloud Storage path to the template from which to create the job. Must be a valid Cloud Storage URL, beginning with `gs://`.",
          "type": "string"
        },
        "environment": {
          "description": "The runtime environment for the job.",
          "$ref": "RuntimeEnvironment"
        },
        "jobName": {
          "description": "Required. The job name to use for the created job.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CreateJobFromTemplateRequest"
    },
    "SplitInt64": {
      "description": "A representation of an int64, n, that is immune to precision loss when encoded in JSON.",
      "properties": {
        "lowBits": {
          "type": "integer",
          "description": "The low order bits: n & 0xffffffff.",
          "format": "uint32"
        },
        "highBits": {
          "description": "The high order bits, including the sign: n \u003e\u003e 32.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "SplitInt64"
    },
    "BigQueryIODetails": {
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Project accessed in the connection."
        },
        "dataset": {
          "type": "string",
          "description": "Dataset accessed in the connection."
        },
        "query": {
          "type": "string",
          "description": "Query used to access data in the connection."
        },
        "table": {
          "type": "string",
          "description": "Table accessed in the connection."
        }
      },
      "id": "BigQueryIODetails",
      "type": "object",
      "description": "Metadata for a BigQuery connector used by the job."
    },
    "StreamingStageLocation": {
      "type": "object",
      "id": "StreamingStageLocation",
      "description": "Identifies the location of a streaming computation stage, for stage-to-stage communication.",
      "properties": {
        "streamId": {
          "type": "string",
          "description": "Identifies the particular stream within the streaming Dataflow job."
        }
      }
    },
    "SourceSplitRequest": {
      "type": "object",
      "description": "Represents the operation to split a high-level Source specification into bundles (parts for parallel processing). At a high level, splitting of a source into bundles happens as follows: SourceSplitRequest is applied to the source. If it returns SOURCE_SPLIT_OUTCOME_USE_CURRENT, no further splitting happens and the source is used \"as is\". Otherwise, splitting is applied recursively to each produced DerivedSource. As an optimization, for any Source, if its does_not_need_splitting is true, the framework assumes that splitting this source would return SOURCE_SPLIT_OUTCOME_USE_CURRENT, and doesn't initiate a SourceSplitRequest. This applies both to the initial source being split and to bundles produced from it.",
      "id": "SourceSplitRequest",
      "properties": {
        "source": {
          "description": "Specification of the source to be split.",
          "$ref": "Source"
        },
        "options": {
          "$ref": "SourceSplitOptions",
          "description": "Hints for tuning the splitting process."
        }
      }
    },
    "ContainerSpec": {
      "description": "Container Spec.",
      "id": "ContainerSpec",
      "type": "object",
      "properties": {
        "image": {
          "type": "string",
          "description": "Name of the docker container image. E.g., gcr.io/project/some-image"
        },
        "sdkInfo": {
          "description": "Required. SDK info of the Flex Template.",
          "$ref": "SDKInfo"
        },
        "metadata": {
          "description": "Metadata describing a template including description and validation rules.",
          "$ref": "TemplateMetadata"
        },
        "defaultEnvironment": {
          "$ref": "FlexTemplateRuntimeEnvironment",
          "description": "Default runtime environment for the job."
        }
      }
    },
    "GetDebugConfigResponse": {
      "properties": {
        "config": {
          "type": "string",
          "description": "The encoded debug configuration for the requested component."
        }
      },
      "type": "object",
      "description": "Response to a get debug configuration request.",
      "id": "GetDebugConfigResponse"
    },
    "Point": {
      "id": "Point",
      "description": "A point in the timeseries.",
      "type": "object",
      "properties": {
        "value": {
          "format": "double",
          "type": "number",
          "description": "The value of the point."
        },
        "time": {
          "format": "google-datetime",
          "description": "The timestamp of the point.",
          "type": "string"
        }
      }
    },
    "MemInfo": {
      "id": "MemInfo",
      "description": "Information about the memory usage of a worker or a container within a worker.",
      "properties": {
        "timestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp of the measurement."
        },
        "totalGbMs": {
          "format": "uint64",
          "description": "Total memory (RSS) usage since start up in GB * ms.",
          "type": "string"
        },
        "currentRssBytes": {
          "description": "Instantenous memory (RSS) size in bytes.",
          "format": "uint64",
          "type": "string"
        },
        "currentLimitBytes": {
          "type": "string",
          "description": "Instantenous memory limit in bytes.",
          "format": "uint64"
        }
      },
      "type": "object"
    },
    "CPUTime": {
      "description": "Modeled after information exposed by /proc/stat.",
      "id": "CPUTime",
      "type": "object",
      "properties": {
        "totalMs": {
          "format": "uint64",
          "type": "string",
          "description": "Total active CPU time across all cores (ie., non-idle) in milliseconds since start-up."
        },
        "rate": {
          "description": "Average CPU utilization rate (% non-idle cpu / second) since previous sample.",
          "format": "double",
          "type": "number"
        },
        "timestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp of the measurement."
        }
      }
    },
    "WorkerMessage": {
      "type": "object",
      "id": "WorkerMessage",
      "properties": {
        "workerMetrics": {
          "$ref": "ResourceUtilizationReport",
          "description": "Resource metrics reported by workers."
        },
        "workerMessageCode": {
          "description": "A worker message code.",
          "$ref": "WorkerMessageCode"
        },
        "workerShutdownNotice": {
          "$ref": "WorkerShutdownNotice",
          "description": "Shutdown notice by workers."
        },
        "workerHealthReport": {
          "description": "The health of a worker.",
          "$ref": "WorkerHealthReport"
        },
        "workerLifecycleEvent": {
          "description": "Record of worker lifecycle events.",
          "$ref": "WorkerLifecycleEvent"
        },
        "time": {
          "description": "The timestamp of the worker_message.",
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Labels are used to group WorkerMessages. For example, a worker_message about a particular container might have the labels: { \"JOB_ID\": \"2015-04-22\", \"WORKER_ID\": \"wordcount-vm-2015…\" \"CONTAINER_TYPE\": \"worker\", \"CONTAINER_ID\": \"ac1234def\"} Label tags typically correspond to Label enum values. However, for ease of development other strings can be used as tags. LABEL_UNSPECIFIED should not be used here.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "WorkerMessage provides information to the backend about a worker."
    },
    "SendDebugCaptureRequest": {
      "description": "Request to send encoded debug information.",
      "id": "SendDebugCaptureRequest",
      "type": "object",
      "properties": {
        "workerId": {
          "description": "The worker id, i.e., VM hostname.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id."
        },
        "data": {
          "type": "string",
          "description": "The encoded debug information."
        },
        "componentId": {
          "type": "string",
          "description": "The internal component id for which debug information is sent."
        }
      }
    },
    "WorkerLifecycleEvent": {
      "type": "object",
      "properties": {
        "event": {
          "type": "string",
          "enum": [
            "UNKNOWN_EVENT",
            "OS_START",
            "CONTAINER_START",
            "NETWORK_UP",
            "STAGING_FILES_DOWNLOAD_START",
            "STAGING_FILES_DOWNLOAD_FINISH",
            "SDK_INSTALL_START",
            "SDK_INSTALL_FINISH"
          ],
          "enumDescriptions": [
            "Invalid event.",
            "The time the VM started.",
            "Our container code starts running. Multiple containers could be distinguished with WorkerMessage.labels if desired.",
            "The worker has a functional external network connection.",
            "Started downloading staging files.",
            "Finished downloading all staging files.",
            "For applicable SDKs, started installation of SDK and worker packages.",
            "Finished installing SDK."
          ],
          "description": "The event being reported."
        },
        "metadata": {
          "description": "Other stats that can accompany an event. E.g. { \"downloaded_bytes\" : \"123456\" }",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "containerStartTime": {
          "type": "string",
          "description": "The start time of this container. All events will report this so that events can be grouped together across container/VM restarts.",
          "format": "google-datetime"
        }
      },
      "id": "WorkerLifecycleEvent",
      "description": "A report of an event in a worker's lifecycle. The proto contains one event, because the worker is expected to asynchronously send each message immediately after the event. Due to this asynchrony, messages may arrive out of order (or missing), and it is up to the consumer to interpret. The timestamp of the event is in the enclosing WorkerMessage proto."
    },
    "Histogram": {
      "type": "object",
      "properties": {
        "bucketCounts": {
          "description": "Counts of values in each bucket. For efficiency, prefix and trailing buckets with count = 0 are elided. Buckets can store the full range of values of an unsigned long, with ULLONG_MAX falling into the 59th bucket with range [1e19, 2e19).",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "firstBucketOffset": {
          "format": "int32",
          "description": "Starting index of first stored bucket. The non-inclusive upper-bound of the ith bucket is given by: pow(10,(i-first_bucket_offset)/3) * (1,2,5)[(i-first_bucket_offset)%3]",
          "type": "integer"
        }
      },
      "id": "Histogram",
      "description": "Histogram of value counts for a distribution. Buckets have an inclusive lower bound and exclusive upper bound and use \"1,2,5 bucketing\": The first bucket range is from [0,1) and all subsequent bucket boundaries are powers of ten multiplied by 1, 2, or 5. Thus, bucket boundaries are 0, 1, 2, 5, 10, 20, 50, 100, 200, 500, 1000, ... Negative values are not supported."
    },
    "Disk": {
      "description": "Describes the data disk used by a workflow job.",
      "type": "object",
      "id": "Disk",
      "properties": {
        "mountPoint": {
          "type": "string",
          "description": "Directory in a VM where disk is mounted."
        },
        "sizeGb": {
          "format": "int32",
          "description": "Size of disk in GB. If zero or unspecified, the service will attempt to choose a reasonable default.",
          "type": "integer"
        },
        "diskType": {
          "type": "string",
          "description": "Disk storage type, as defined by Google Compute Engine. This must be a disk type appropriate to the project and zone in which the workers will run. If unknown or unspecified, the service will attempt to choose a reasonable default. For example, the standard persistent disk type is a resource name typically ending in \"pd-standard\". If SSD persistent disks are available, the resource name typically ends with \"pd-ssd\". The actual valid values are defined the Google Compute Engine API, not by the Cloud Dataflow API; consult the Google Compute Engine documentation for more information about determining the set of available disk types for a particular project and zone. Google Compute Engine Disk types are local to a particular project in a particular zone, and so the resource name will typically look something like this: compute.googleapis.com/projects/project-id/zones/zone/diskTypes/pd-standard"
        }
      }
    },
    "StageSource": {
      "properties": {
        "sizeBytes": {
          "description": "Size of the source, if measurable.",
          "type": "string",
          "format": "int64"
        },
        "originalTransformOrCollection": {
          "description": "User name for the original user transform or collection with which this source is most closely associated.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Dataflow service generated name for this source."
        },
        "userName": {
          "description": "Human-readable name for this source; may be user or system generated.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "StageSource",
      "description": "Description of an input or output of an execution stage."
    },
    "SourceMetadata": {
      "id": "SourceMetadata",
      "type": "object",
      "properties": {
        "infinite": {
          "type": "boolean",
          "description": "Specifies that the size of this source is known to be infinite (this is a streaming source)."
        },
        "producesSortedKeys": {
          "description": "Whether this source is known to produce key/value pairs with the (encoded) keys in lexicographically sorted order.",
          "type": "boolean"
        },
        "estimatedSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "An estimate of the total size (in bytes) of the data that would be read from this source. This estimate is in terms of external storage size, before any decompression or other processing done by the reader."
        }
      },
      "description": "Metadata about a Source useful for automatically optimizing and tuning the pipeline, etc."
    },
    "SdkVersion": {
      "id": "SdkVersion",
      "description": "The version of the SDK used to run the job.",
      "properties": {
        "version": {
          "description": "The version of the SDK used to run the job.",
          "type": "string"
        },
        "sdkSupportStatus": {
          "enumDescriptions": [
            "Cloud Dataflow is unaware of this version.",
            "This is a known version of an SDK, and is supported.",
            "A newer version of the SDK family exists, and an update is recommended.",
            "This version of the SDK is deprecated and will eventually be unsupported.",
            "Support for this SDK version has ended and it should no longer be used."
          ],
          "enum": [
            "UNKNOWN",
            "SUPPORTED",
            "STALE",
            "DEPRECATED",
            "UNSUPPORTED"
          ],
          "description": "The support status for this SDK version.",
          "type": "string"
        },
        "versionDisplayName": {
          "type": "string",
          "description": "A readable string describing the version of the SDK."
        }
      },
      "type": "object"
    },
    "KeyRangeLocation": {
      "properties": {
        "start": {
          "description": "The start (inclusive) of the key range.",
          "type": "string"
        },
        "deliveryEndpoint": {
          "description": "The physical location of this range assignment to be used for streaming computation cross-worker message delivery.",
          "type": "string"
        },
        "end": {
          "type": "string",
          "description": "The end (exclusive) of the key range."
        },
        "deprecatedPersistentDirectory": {
          "type": "string",
          "description": "DEPRECATED. The location of the persistent state for this range, as a persistent directory in the worker local filesystem."
        },
        "dataDisk": {
          "description": "The name of the data disk where data for this range is stored. This name is local to the Google Cloud Platform project and uniquely identifies the disk within that project, for example \"myproject-1014-104817-4c2-harness-0-disk-1\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "KeyRangeLocation",
      "description": "Location information for a specific key-range of a sharded computation. Currently we only support UTF-8 character splits to simplify encoding into JSON."
    },
    "PipelineDescription": {
      "type": "object",
      "properties": {
        "executionPipelineStage": {
          "items": {
            "$ref": "ExecutionStageSummary"
          },
          "type": "array",
          "description": "Description of each stage of execution of the pipeline."
        },
        "originalPipelineTransform": {
          "type": "array",
          "description": "Description of each transform in the pipeline and collections between them.",
          "items": {
            "$ref": "TransformSummary"
          }
        },
        "displayData": {
          "items": {
            "$ref": "DisplayData"
          },
          "type": "array",
          "description": "Pipeline level display data."
        }
      },
      "id": "PipelineDescription",
      "description": "A descriptive representation of submitted pipeline as well as the executed form. This data is provided by the Dataflow service for ease of visualizing the pipeline and interpreting Dataflow provided metrics."
    },
    "FloatingPointMean": {
      "description": "A representation of a floating point mean metric contribution.",
      "id": "FloatingPointMean",
      "properties": {
        "sum": {
          "type": "number",
          "description": "The sum of all values being aggregated.",
          "format": "double"
        },
        "count": {
          "$ref": "SplitInt64",
          "description": "The number of values being aggregated."
        }
      },
      "type": "object"
    },
    "SeqMapTaskOutputInfo": {
      "id": "SeqMapTaskOutputInfo",
      "type": "object",
      "description": "Information about an output of a SeqMapTask.",
      "properties": {
        "sink": {
          "$ref": "Sink",
          "description": "The sink to write the output value to."
        },
        "tag": {
          "description": "The id of the TupleTag the user code will tag the output value by.",
          "type": "string"
        }
      }
    },
    "ListSnapshotsResponse": {
      "description": "List of snapshots.",
      "properties": {
        "snapshots": {
          "type": "array",
          "description": "Returned snapshots.",
          "items": {
            "$ref": "Snapshot"
          }
        }
      },
      "type": "object",
      "id": "ListSnapshotsResponse"
    },
    "AutoscalingSettings": {
      "properties": {
        "maxNumWorkers": {
          "description": "The maximum number of workers to cap scaling at.",
          "format": "int32",
          "type": "integer"
        },
        "algorithm": {
          "enum": [
            "AUTOSCALING_ALGORITHM_UNKNOWN",
            "AUTOSCALING_ALGORITHM_NONE",
            "AUTOSCALING_ALGORITHM_BASIC"
          ],
          "enumDescriptions": [
            "The algorithm is unknown, or unspecified.",
            "Disable autoscaling.",
            "Increase worker count over time to reduce job execution time."
          ],
          "type": "string",
          "description": "The algorithm to use for autoscaling."
        }
      },
      "id": "AutoscalingSettings",
      "type": "object",
      "description": "Settings for WorkerPool autoscaling."
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      }
    },
    "ComponentSource": {
      "properties": {
        "userName": {
          "type": "string",
          "description": "Human-readable name for this transform; may be user or system generated."
        },
        "originalTransformOrCollection": {
          "type": "string",
          "description": "User name for the original user transform or collection with which this source is most closely associated."
        },
        "name": {
          "description": "Dataflow service generated name for this source.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ComponentSource",
      "description": "Description of an interstitial value between transforms in an execution stage."
    },
    "CounterUpdate": {
      "type": "object",
      "description": "An update to a Counter sent from a worker.",
      "properties": {
        "stringList": {
          "description": "List of strings, for Set.",
          "$ref": "StringList"
        },
        "integerGauge": {
          "description": "Gauge data",
          "$ref": "IntegerGauge"
        },
        "internal": {
          "description": "Value for internally-defined counters used by the Dataflow service.",
          "type": "any"
        },
        "floatingPointMean": {
          "description": "Floating point mean aggregation value for Mean.",
          "$ref": "FloatingPointMean"
        },
        "integer": {
          "description": "Integer value for Sum, Max, Min.",
          "$ref": "SplitInt64"
        },
        "integerList": {
          "$ref": "IntegerList",
          "description": "List of integers, for Set."
        },
        "structuredNameAndMetadata": {
          "description": "Counter structured name and metadata.",
          "$ref": "CounterStructuredNameAndMetadata"
        },
        "floatingPoint": {
          "format": "double",
          "description": "Floating point value for Sum, Max, Min.",
          "type": "number"
        },
        "nameAndKind": {
          "description": "Counter name and aggregation type.",
          "$ref": "NameAndKind"
        },
        "distribution": {
          "$ref": "DistributionUpdate",
          "description": "Distribution data"
        },
        "cumulative": {
          "description": "True if this counter is reported as the total cumulative aggregate value accumulated since the worker started working on this WorkItem. By default this is false, indicating that this counter is reported as a delta.",
          "type": "boolean"
        },
        "boolean": {
          "description": "Boolean value for And, Or.",
          "type": "boolean"
        },
        "integerMean": {
          "$ref": "IntegerMean",
          "description": "Integer mean aggregation value for Mean."
        },
        "shortId": {
          "description": "The service-generated short identifier for this counter. The short_id -\u003e (name, metadata) mapping is constant for the lifetime of a job.",
          "type": "string",
          "format": "int64"
        },
        "floatingPointList": {
          "$ref": "FloatingPointList",
          "description": "List of floating point numbers, for Set."
        }
      },
      "id": "CounterUpdate"
    },
    "SdkHarnessContainerImage": {
      "description": "Defines a SDK harness container for executing Dataflow pipelines.",
      "properties": {
        "environmentId": {
          "description": "Environment ID for the Beam runner API proto Environment that corresponds to the current SDK Harness.",
          "type": "string"
        },
        "containerImage": {
          "description": "A docker container image that resides in Google Container Registry.",
          "type": "string"
        },
        "useSingleCorePerContainer": {
          "description": "If true, recommends the Dataflow service to use only one core per SDK container instance with this image. If false (or unset) recommends using more than one core per SDK container instance with this image for efficiency. Note that Dataflow service may choose to override this property if needed.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "SdkHarnessContainerImage"
    },
    "ReportWorkItemStatusRequest": {
      "id": "ReportWorkItemStatusRequest",
      "properties": {
        "workerId": {
          "type": "string",
          "description": "The ID of the worker reporting the WorkItem status. If this does not match the ID of the worker which the Dataflow service believes currently has the lease on the WorkItem, the report will be dropped (with an error response)."
        },
        "location": {
          "type": "string",
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job."
        },
        "workItemStatuses": {
          "description": "The order is unimportant, except that the order of the WorkItemServiceState messages in the ReportWorkItemStatusResponse corresponds to the order of WorkItemStatus messages here.",
          "type": "array",
          "items": {
            "$ref": "WorkItemStatus"
          }
        },
        "currentWorkerTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The current timestamp at the worker."
        },
        "unifiedWorkerRequest": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Untranslated bag-of-bytes WorkProgressUpdateRequest from UnifiedWorker.",
          "type": "object"
        }
      },
      "description": "Request to report the status of WorkItems.",
      "type": "object"
    },
    "StreamingConfigTask": {
      "description": "A task that carries configuration information for streaming computations.",
      "type": "object",
      "id": "StreamingConfigTask",
      "properties": {
        "windmillServiceEndpoint": {
          "description": "If present, the worker must use this endpoint to communicate with Windmill Service dispatchers, otherwise the worker must continue to use whatever endpoint it had been using.",
          "type": "string"
        },
        "commitStreamChunkSizeBytes": {
          "description": "Chunk size for commit streams from the harness to windmill.",
          "type": "string",
          "format": "int64"
        },
        "getDataStreamChunkSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "Chunk size for get data streams from the harness to windmill."
        },
        "userStepToStateFamilyNameMap": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map from user step names to state families."
        },
        "maxWorkItemCommitBytes": {
          "type": "string",
          "format": "int64",
          "description": "Maximum size for work item commit supported windmill storage layer."
        },
        "streamingComputationConfigs": {
          "description": "Set of computation configuration information.",
          "items": {
            "$ref": "StreamingComputationConfig"
          },
          "type": "array"
        },
        "windmillServicePort": {
          "format": "int64",
          "description": "If present, the worker must use this port to communicate with Windmill Service dispatchers. Only applicable when windmill_service_endpoint is specified.",
          "type": "string"
        }
      }
    },
    "JobMessage": {
      "properties": {
        "messageText": {
          "type": "string",
          "description": "The text of the message."
        },
        "id": {
          "type": "string",
          "description": "Deprecated."
        },
        "messageImportance": {
          "enum": [
            "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
            "JOB_MESSAGE_DEBUG",
            "JOB_MESSAGE_DETAILED",
            "JOB_MESSAGE_BASIC",
            "JOB_MESSAGE_WARNING",
            "JOB_MESSAGE_ERROR"
          ],
          "enumDescriptions": [
            "The message importance isn't specified, or is unknown.",
            "The message is at the 'debug' level: typically only useful for software engineers working on the code the job is running. Typically, Dataflow pipeline runners do not display log messages at this level by default.",
            "The message is at the 'detailed' level: somewhat verbose, but potentially useful to users. Typically, Dataflow pipeline runners do not display log messages at this level by default. These messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'basic' level: useful for keeping track of the execution of a Dataflow pipeline. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'warning' level: indicating a condition pertaining to a job which may require human intervention. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'error' level: indicating a condition preventing a job from succeeding. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI."
          ],
          "description": "Importance level of the message.",
          "type": "string"
        },
        "time": {
          "type": "string",
          "description": "The timestamp of the message.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "A particular message pertaining to a Dataflow job.",
      "id": "JobMessage"
    },
    "LaunchTemplateResponse": {
      "id": "LaunchTemplateResponse",
      "description": "Response to the request to launch a template.",
      "properties": {
        "job": {
          "$ref": "Job",
          "description": "The job that was launched, if the request was not a dry run and the job was successfully launched."
        }
      },
      "type": "object"
    },
    "MapTask": {
      "description": "MapTask consists of an ordered set of instructions, each of which describes one particular low-level operation for the worker to perform in order to accomplish the MapTask's WorkItem. Each instruction must appear in the list before any instructions which depends on its output.",
      "type": "object",
      "id": "MapTask",
      "properties": {
        "instructions": {
          "items": {
            "$ref": "ParallelInstruction"
          },
          "description": "The instructions in the MapTask.",
          "type": "array"
        },
        "systemName": {
          "type": "string",
          "description": "System-defined name of this MapTask. Unique across the workflow."
        },
        "counterPrefix": {
          "description": "Counter prefix that can be used to prefix counters. Not currently used in Dataflow.",
          "type": "string"
        },
        "stageName": {
          "type": "string",
          "description": "System-defined name of the stage containing this MapTask. Unique across the workflow."
        }
      }
    },
    "SourceSplitResponse": {
      "type": "object",
      "properties": {
        "bundles": {
          "description": "If outcome is SPLITTING_HAPPENED, then this is a list of bundles into which the source was split. Otherwise this field is ignored. This list can be empty, which means the source represents an empty input.",
          "items": {
            "$ref": "DerivedSource"
          },
          "type": "array"
        },
        "shards": {
          "type": "array",
          "items": {
            "$ref": "SourceSplitShard"
          },
          "description": "DEPRECATED in favor of bundles."
        },
        "outcome": {
          "enumDescriptions": [
            "The source split outcome is unknown, or unspecified.",
            "The current source should be processed \"as is\" without splitting.",
            "Splitting produced a list of bundles."
          ],
          "type": "string",
          "description": "Indicates whether splitting happened and produced a list of bundles. If this is USE_CURRENT_SOURCE_AS_IS, the current source should be processed \"as is\" without splitting. \"bundles\" is ignored in this case. If this is SPLITTING_HAPPENED, then \"bundles\" contains a list of bundles into which the source was split.",
          "enum": [
            "SOURCE_SPLIT_OUTCOME_UNKNOWN",
            "SOURCE_SPLIT_OUTCOME_USE_CURRENT",
            "SOURCE_SPLIT_OUTCOME_SPLITTING_HAPPENED"
          ]
        }
      },
      "id": "SourceSplitResponse",
      "description": "The response to a SourceSplitRequest."
    },
    "StreamingComputationRanges": {
      "type": "object",
      "description": "Describes full or partial data disk assignment information of the computation ranges.",
      "id": "StreamingComputationRanges",
      "properties": {
        "computationId": {
          "description": "The ID of the computation.",
          "type": "string"
        },
        "rangeAssignments": {
          "items": {
            "$ref": "KeyRangeDataDiskAssignment"
          },
          "description": "Data disk assignments for ranges from this computation.",
          "type": "array"
        }
      }
    },
    "ApproximateProgress": {
      "properties": {
        "percentComplete": {
          "description": "Obsolete.",
          "type": "number",
          "format": "float"
        },
        "remainingTime": {
          "description": "Obsolete.",
          "type": "string",
          "format": "google-duration"
        },
        "position": {
          "$ref": "Position",
          "description": "Obsolete."
        }
      },
      "type": "object",
      "id": "ApproximateProgress",
      "description": "Obsolete in favor of ApproximateReportedProgress and ApproximateSplitRequest."
    },
    "ListJobMessagesResponse": {
      "description": "Response to a request to list job messages.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token to obtain the next page of results if there are more."
        },
        "jobMessages": {
          "type": "array",
          "items": {
            "$ref": "JobMessage"
          },
          "description": "Messages in ascending timestamp order."
        },
        "autoscalingEvents": {
          "type": "array",
          "items": {
            "$ref": "AutoscalingEvent"
          },
          "description": "Autoscaling events in ascending timestamp order."
        }
      },
      "type": "object",
      "id": "ListJobMessagesResponse"
    },
    "JobExecutionInfo": {
      "id": "JobExecutionInfo",
      "description": "Additional information about how a Cloud Dataflow job will be executed that isn't contained in the submitted job.",
      "properties": {
        "stages": {
          "additionalProperties": {
            "$ref": "JobExecutionStageInfo"
          },
          "type": "object",
          "description": "A mapping from each stage to the information about that stage."
        }
      },
      "type": "object"
    },
    "WorkItemServiceState": {
      "properties": {
        "nextReportIndex": {
          "format": "int64",
          "type": "string",
          "description": "The index value to use for the next report sent by the worker. Note: If the report call fails for whatever reason, the worker should reuse this index for subsequent report attempts."
        },
        "suggestedStopPosition": {
          "description": "Obsolete, always empty.",
          "$ref": "Position"
        },
        "leaseExpireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time at which the current lease will expire."
        },
        "reportStatusInterval": {
          "type": "string",
          "format": "google-duration",
          "description": "New recommended reporting interval."
        },
        "completeWorkStatus": {
          "$ref": "Status",
          "description": "If set, a request to complete the work item with the given status. This will not be set to OK, unless supported by the specific kind of WorkItem. It can be used for the backend to indicate a WorkItem must terminate, e.g., for aborting work."
        },
        "splitRequest": {
          "$ref": "ApproximateSplitRequest",
          "description": "The progress point in the WorkItem where the Dataflow service suggests that the worker truncate the task."
        },
        "metricShortId": {
          "description": "The short ids that workers should use in subsequent metric updates. Workers should strive to use short ids whenever possible, but it is ok to request the short_id again if a worker lost track of it (e.g. if the worker is recovering from a crash). NOTE: it is possible that the response may have short ids for a subset of the metrics.",
          "type": "array",
          "items": {
            "$ref": "MetricShortId"
          }
        },
        "harnessData": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Other data returned by the service, specific to the particular worker harness.",
          "type": "object"
        },
        "hotKeyDetection": {
          "description": "A hot key is a symptom of poor data distribution in which there are enough elements mapped to a single key to impact pipeline performance. When present, this field includes metadata associated with any hot key.",
          "$ref": "HotKeyDetection"
        },
        "suggestedStopPoint": {
          "description": "DEPRECATED in favor of split_request.",
          "$ref": "ApproximateProgress"
        }
      },
      "type": "object",
      "description": "The Dataflow service's idea of the current state of a WorkItem being processed by a worker.",
      "id": "WorkItemServiceState"
    },
    "StreamingComputationConfig": {
      "type": "object",
      "id": "StreamingComputationConfig",
      "properties": {
        "computationId": {
          "description": "Unique identifier for this computation.",
          "type": "string"
        },
        "instructions": {
          "description": "Instructions that comprise the computation.",
          "items": {
            "$ref": "ParallelInstruction"
          },
          "type": "array"
        },
        "stageName": {
          "type": "string",
          "description": "Stage name of this computation."
        },
        "transformUserNameToStateFamily": {
          "description": "Map from user name of stateful transforms in this stage to their state family.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "systemName": {
          "type": "string",
          "description": "System defined name for this computation."
        }
      },
      "description": "Configuration information for a single streaming computation."
    },
    "WorkerPool": {
      "description": "Describes one particular pool of Cloud Dataflow workers to be instantiated by the Cloud Dataflow service in order to perform the computations required by a job. Note that a workflow job may use multiple pools, in order to match the various computational requirements of the various stages of the job.",
      "type": "object",
      "id": "WorkerPool",
      "properties": {
        "defaultPackageSet": {
          "type": "string",
          "description": "The default package set to install. This allows the service to select a default set of packages which are useful to worker harnesses written in a particular language.",
          "enumDescriptions": [
            "The default set of packages to stage is unknown, or unspecified.",
            "Indicates that no packages should be staged at the worker unless explicitly specified by the job.",
            "Stage packages typically useful to workers written in Java.",
            "Stage packages typically useful to workers written in Python."
          ],
          "enum": [
            "DEFAULT_PACKAGE_SET_UNKNOWN",
            "DEFAULT_PACKAGE_SET_NONE",
            "DEFAULT_PACKAGE_SET_JAVA",
            "DEFAULT_PACKAGE_SET_PYTHON"
          ]
        },
        "workerHarnessContainerImage": {
          "type": "string",
          "description": "Required. Docker container image that executes the Cloud Dataflow worker harness, residing in Google Container Registry. Deprecated for the Fn API path. Use sdk_harness_container_images instead."
        },
        "packages": {
          "description": "Packages to be installed on workers.",
          "items": {
            "$ref": "Package"
          },
          "type": "array"
        },
        "taskrunnerSettings": {
          "$ref": "TaskRunnerSettings",
          "description": "Settings passed through to Google Compute Engine workers when using the standard Dataflow task runner. Users should ignore this field."
        },
        "dataDisks": {
          "description": "Data disks that are used by a VM in this workflow.",
          "items": {
            "$ref": "Disk"
          },
          "type": "array"
        },
        "numWorkers": {
          "description": "Number of Google Compute Engine workers in this pool needed to execute the job. If zero or unspecified, the service will attempt to choose a reasonable default.",
          "format": "int32",
          "type": "integer"
        },
        "teardownPolicy": {
          "description": "Sets the policy for determining when to turndown worker pool. Allowed values are: `TEARDOWN_ALWAYS`, `TEARDOWN_ON_SUCCESS`, and `TEARDOWN_NEVER`. `TEARDOWN_ALWAYS` means workers are always torn down regardless of whether the job succeeds. `TEARDOWN_ON_SUCCESS` means workers are torn down if the job succeeds. `TEARDOWN_NEVER` means the workers are never torn down. If the workers are not torn down by the service, they will continue to run and use Google Compute Engine VM resources in the user's project until they are explicitly terminated by the user. Because of this, Google recommends using the `TEARDOWN_ALWAYS` policy except for small, manually supervised test jobs. If unknown or unspecified, the service will attempt to choose a reasonable default.",
          "enumDescriptions": [
            "The teardown policy isn't specified, or is unknown.",
            "Always teardown the resource.",
            "Teardown the resource on success. This is useful for debugging failures.",
            "Never teardown the resource. This is useful for debugging and development."
          ],
          "enum": [
            "TEARDOWN_POLICY_UNKNOWN",
            "TEARDOWN_ALWAYS",
            "TEARDOWN_ON_SUCCESS",
            "TEARDOWN_NEVER"
          ],
          "type": "string"
        },
        "zone": {
          "description": "Zone to run the worker pools in. If empty or unspecified, the service will attempt to choose a reasonable default.",
          "type": "string"
        },
        "machineType": {
          "description": "Machine type (e.g. \"n1-standard-1\"). If empty or unspecified, the service will attempt to choose a reasonable default.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The kind of the worker pool; currently only `harness` and `shuffle` are supported."
        },
        "diskSizeGb": {
          "type": "integer",
          "description": "Size of root disk for VMs, in GB. If zero or unspecified, the service will attempt to choose a reasonable default.",
          "format": "int32"
        },
        "diskType": {
          "description": "Type of root disk for VMs. If empty or unspecified, the service will attempt to choose a reasonable default.",
          "type": "string"
        },
        "ipConfiguration": {
          "type": "string",
          "description": "Configuration for VM IPs.",
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ],
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ]
        },
        "diskSourceImage": {
          "type": "string",
          "description": "Fully qualified source image for disks."
        },
        "subnetwork": {
          "description": "Subnetwork to which VMs will be assigned, if desired. Expected to be of the form \"regions/REGION/subnetworks/SUBNETWORK\".",
          "type": "string"
        },
        "autoscalingSettings": {
          "description": "Settings for autoscaling of this WorkerPool.",
          "$ref": "AutoscalingSettings"
        },
        "onHostMaintenance": {
          "type": "string",
          "description": "The action to take on host maintenance, as defined by the Google Compute Engine API."
        },
        "numThreadsPerWorker": {
          "type": "integer",
          "description": "The number of threads per worker harness. If empty or unspecified, the service will choose a number of threads (according to the number of cores on the selected machine type for batch, or 1 by convention for streaming).",
          "format": "int32"
        },
        "metadata": {
          "description": "Metadata to set on the Google Compute Engine VMs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "network": {
          "type": "string",
          "description": "Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\"."
        },
        "sdkHarnessContainerImages": {
          "description": "Set of SDK harness containers needed to execute this pipeline. This will only be set in the Fn API path. For non-cross-language pipelines this should have only one entry. Cross-language pipelines will have two or more entries.",
          "type": "array",
          "items": {
            "$ref": "SdkHarnessContainerImage"
          }
        },
        "poolArgs": {
          "type": "object",
          "description": "Extra arguments for this worker pool.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "SendWorkerMessagesResponse": {
      "id": "SendWorkerMessagesResponse",
      "properties": {
        "workerMessageResponses": {
          "description": "The servers response to the worker messages.",
          "items": {
            "$ref": "WorkerMessageResponse"
          },
          "type": "array"
        }
      },
      "description": "The response to the worker messages.",
      "type": "object"
    },
    "KeyRangeDataDiskAssignment": {
      "properties": {
        "dataDisk": {
          "description": "The name of the data disk where data for this range is stored. This name is local to the Google Cloud Platform project and uniquely identifies the disk within that project, for example \"myproject-1014-104817-4c2-harness-0-disk-1\".",
          "type": "string"
        },
        "start": {
          "type": "string",
          "description": "The start (inclusive) of the key range."
        },
        "end": {
          "type": "string",
          "description": "The end (exclusive) of the key range."
        }
      },
      "description": "Data disk assignment information for a specific key-range of a sharded computation. Currently we only support UTF-8 character splits to simplify encoding into JSON.",
      "type": "object",
      "id": "KeyRangeDataDiskAssignment"
    },
    "StreamingSetupTask": {
      "type": "object",
      "description": "A task which initializes part of a streaming Dataflow job.",
      "id": "StreamingSetupTask",
      "properties": {
        "streamingComputationTopology": {
          "$ref": "TopologyConfig",
          "description": "The global topology of the streaming Dataflow job."
        },
        "drain": {
          "description": "The user has requested drain.",
          "type": "boolean"
        },
        "snapshotConfig": {
          "description": "Configures streaming appliance snapshot.",
          "$ref": "StreamingApplianceSnapshotConfig"
        },
        "receiveWorkPort": {
          "description": "The TCP port on which the worker should listen for messages from other streaming computation workers.",
          "type": "integer",
          "format": "int32"
        },
        "workerHarnessPort": {
          "type": "integer",
          "format": "int32",
          "description": "The TCP port used by the worker to communicate with the Dataflow worker harness."
        }
      }
    },
    "ParallelInstruction": {
      "properties": {
        "systemName": {
          "type": "string",
          "description": "System-defined name of this operation. Unique across the workflow."
        },
        "read": {
          "$ref": "ReadInstruction",
          "description": "Additional information for Read instructions."
        },
        "originalName": {
          "description": "System-defined name for the operation in the original workflow graph.",
          "type": "string"
        },
        "flatten": {
          "$ref": "FlattenInstruction",
          "description": "Additional information for Flatten instructions."
        },
        "name": {
          "type": "string",
          "description": "User-provided name of this operation."
        },
        "partialGroupByKey": {
          "$ref": "PartialGroupByKeyInstruction",
          "description": "Additional information for PartialGroupByKey instructions."
        },
        "write": {
          "description": "Additional information for Write instructions.",
          "$ref": "WriteInstruction"
        },
        "outputs": {
          "description": "Describes the outputs of the instruction.",
          "type": "array",
          "items": {
            "$ref": "InstructionOutput"
          }
        },
        "parDo": {
          "description": "Additional information for ParDo instructions.",
          "$ref": "ParDoInstruction"
        }
      },
      "id": "ParallelInstruction",
      "description": "Describes a particular operation comprising a MapTask.",
      "type": "object"
    },
    "GetDebugConfigRequest": {
      "id": "GetDebugConfigRequest",
      "description": "Request to get updated debug configuration for component.",
      "properties": {
        "location": {
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
          "type": "string"
        },
        "workerId": {
          "description": "The worker id, i.e., VM hostname.",
          "type": "string"
        },
        "componentId": {
          "description": "The internal component id for which debug configuration is requested.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SourceOperationRequest": {
      "id": "SourceOperationRequest",
      "properties": {
        "stageName": {
          "description": "System-defined name of the stage containing the source operation. Unique across the workflow.",
          "type": "string"
        },
        "systemName": {
          "type": "string",
          "description": "System-defined name of the Read instruction for this source. Unique across the workflow."
        },
        "getMetadata": {
          "description": "Information about a request to get metadata about a source.",
          "$ref": "SourceGetMetadataRequest"
        },
        "originalName": {
          "type": "string",
          "description": "System-defined name for the Read instruction for this source in the original workflow graph."
        },
        "split": {
          "$ref": "SourceSplitRequest",
          "description": "Information about a request to split a source."
        },
        "name": {
          "type": "string",
          "description": "User-provided name of the Read instruction for this source."
        }
      },
      "type": "object",
      "description": "A work item that represents the different operations that can be performed on a user-defined Source specification."
    },
    "CustomSourceLocation": {
      "description": "Identifies the location of a custom souce.",
      "type": "object",
      "id": "CustomSourceLocation",
      "properties": {
        "stateful": {
          "description": "Whether this source is stateful.",
          "type": "boolean"
        }
      }
    },
    "ShellTask": {
      "description": "A task which consists of a shell command for the worker to execute.",
      "properties": {
        "command": {
          "type": "string",
          "description": "The shell command to run."
        },
        "exitCode": {
          "type": "integer",
          "format": "int32",
          "description": "Exit code for the task."
        }
      },
      "type": "object",
      "id": "ShellTask"
    },
    "SourceFork": {
      "description": "DEPRECATED in favor of DynamicSourceSplit.",
      "properties": {
        "residualSource": {
          "$ref": "DerivedSource",
          "description": "DEPRECATED"
        },
        "residual": {
          "$ref": "SourceSplitShard",
          "description": "DEPRECATED"
        },
        "primarySource": {
          "$ref": "DerivedSource",
          "description": "DEPRECATED"
        },
        "primary": {
          "description": "DEPRECATED",
          "$ref": "SourceSplitShard"
        }
      },
      "id": "SourceFork",
      "type": "object"
    },
    "DeleteSnapshotResponse": {
      "properties": {},
      "description": "Response from deleting a snapshot.",
      "id": "DeleteSnapshotResponse",
      "type": "object"
    },
    "JobMetrics": {
      "properties": {
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "MetricUpdate"
          },
          "description": "All metrics for this job."
        },
        "metricTime": {
          "description": "Timestamp as of which metric values are current.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "JobMetrics contains a collection of metrics describing the detailed progress of a Dataflow job. Metrics correspond to user-defined and system-defined metrics in the job. This resource captures only the most recent values of each metric; time-series data can be queried for them (under the same metric names) from Cloud Monitoring.",
      "id": "JobMetrics",
      "type": "object"
    },
    "WorkerMessageCode": {
      "description": "A message code is used to report status and error messages to the service. The message codes are intended to be machine readable. The service will take care of translating these into user understandable messages if necessary. Example use cases: 1. Worker processes reporting successful startup. 2. Worker processes reporting specific errors (e.g. package staging failure).",
      "id": "WorkerMessageCode",
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The code is a string intended for consumption by a machine that identifies the type of message being sent. Examples: 1. \"HARNESS_STARTED\" might be used to indicate the worker harness has started. 2. \"GCS_DOWNLOAD_ERROR\" might be used to indicate an error downloading a Cloud Storage file as part of the boot process of one of the worker containers. This is a string and not an enum to make it easy to add new codes without waiting for an API change."
        },
        "parameters": {
          "description": "Parameters contains specific information about the code. This is a struct to allow parameters of different types. Examples: 1. For a \"HARNESS_STARTED\" message parameters might provide the name of the worker and additional data like timing information. 2. For a \"GCS_DOWNLOAD_ERROR\" parameters might contain fields listing the Cloud Storage objects being downloaded and fields containing errors. In general complex data structures should be avoided. If a worker needs to send a specific and complicated data structure then please consider defining a new proto and adding it to the data oneof in WorkerMessageResponse. Conventions: Parameters should only be used for information that isn't typically passed as a label. hostname and other worker identifiers should almost always be passed as labels since they will be included on most messages.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "Job": {
      "properties": {
        "steps": {
          "description": "Exactly one of step or steps_location should be specified. The top-level steps that constitute the entire job. Only retrieved with JOB_VIEW_ALL.",
          "items": {
            "$ref": "Step"
          },
          "type": "array"
        },
        "projectId": {
          "description": "The ID of the Cloud Platform project that the job belongs to.",
          "type": "string"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Reserved for future use. This field is set only in responses from the server; it is ignored if it is set in any requests."
        },
        "currentState": {
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_QUEUED",
            "JOB_STATE_RESOURCE_CLEANING_UP"
          ],
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not yet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed. This is a terminal job state. This state may be set by the Cloud Dataflow service, as a transition from `JOB_STATE_RUNNING`. It may also be set via a Cloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal state.",
            "`JOB_STATE_FAILED` indicates that the job has failed. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly cancelled. This is a terminal job state. This state may only be set via a Cloud Dataflow `UpdateJob` call, and only if the job has not yet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated, meaning that this job was stopped and another job was started, inheriting state from this one. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining. A draining job has stopped pulling from its input sources and is processing any data that remains in-flight. This state may be set via a Cloud Dataflow `UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs that are draining may only transition to `JOB_STATE_DRAINED`, `JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained. A drained job terminated by stopping pulling from its input sources and processing any data that remained in-flight when draining was requested. This state is a terminal state, may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_DRAINING`.",
            "`JOB_STATE_PENDING` indicates that the job has been created but is not yet running. Jobs that are pending may only transition to `JOB_STATE_RUNNING`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_CANCELLING` indicates that the job has been explicitly cancelled and is in the process of stopping. Jobs that are cancelling may only transition to `JOB_STATE_CANCELLED` or `JOB_STATE_FAILED`.",
            "`JOB_STATE_QUEUED` indicates that the job has been created but is being delayed until launch. Jobs that are queued may only transition to `JOB_STATE_PENDING` or `JOB_STATE_CANCELLED`.",
            "`JOB_STATE_RESOURCE_CLEANING_UP` indicates that the batch job's associated resources are currently being cleaned up after a successful run. Currently, this is an opt-in feature, please reach out to Cloud support team if you are interested."
          ],
          "description": "The current state of the job. Jobs are created in the `JOB_STATE_STOPPED` state unless otherwise specified. A job in the `JOB_STATE_RUNNING` state may asynchronously enter a terminal state. After a job has reached a terminal state, no further state updates may be made. This field may be mutated by the Cloud Dataflow service; callers cannot mutate it.",
          "type": "string"
        },
        "transformNameMapping": {
          "description": "The map of transform name prefixes of the job to be replaced to the corresponding name prefixes of the new job.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "environment": {
          "description": "The environment for the job.",
          "$ref": "Environment"
        },
        "stepsLocation": {
          "type": "string",
          "description": "The Cloud Storage location where the steps are stored."
        },
        "createdFromSnapshotId": {
          "description": "If this is specified, the job's initial state is populated from the given snapshot.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job."
        },
        "replaceJobId": {
          "type": "string",
          "description": "If this job is an update of an existing job, this field is the job ID of the job it replaced. When sending a `CreateJobRequest`, you can update a job by specifying it here. The job named here is stopped, and its intermediate state is transferred to this job."
        },
        "currentStateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp associated with the current state."
        },
        "requestedState": {
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_QUEUED",
            "JOB_STATE_RESOURCE_CLEANING_UP"
          ],
          "type": "string",
          "description": "The job's requested state. `UpdateJob` may be used to switch between the `JOB_STATE_STOPPED` and `JOB_STATE_RUNNING` states, by setting requested_state. `UpdateJob` may also be used to directly set a job's requested state to `JOB_STATE_CANCELLED` or `JOB_STATE_DONE`, irrevocably terminating the job if it has not already reached a terminal state.",
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not yet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed. This is a terminal job state. This state may be set by the Cloud Dataflow service, as a transition from `JOB_STATE_RUNNING`. It may also be set via a Cloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal state.",
            "`JOB_STATE_FAILED` indicates that the job has failed. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly cancelled. This is a terminal job state. This state may only be set via a Cloud Dataflow `UpdateJob` call, and only if the job has not yet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated, meaning that this job was stopped and another job was started, inheriting state from this one. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining. A draining job has stopped pulling from its input sources and is processing any data that remains in-flight. This state may be set via a Cloud Dataflow `UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs that are draining may only transition to `JOB_STATE_DRAINED`, `JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained. A drained job terminated by stopping pulling from its input sources and processing any data that remained in-flight when draining was requested. This state is a terminal state, may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_DRAINING`.",
            "`JOB_STATE_PENDING` indicates that the job has been created but is not yet running. Jobs that are pending may only transition to `JOB_STATE_RUNNING`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_CANCELLING` indicates that the job has been explicitly cancelled and is in the process of stopping. Jobs that are cancelling may only transition to `JOB_STATE_CANCELLED` or `JOB_STATE_FAILED`.",
            "`JOB_STATE_QUEUED` indicates that the job has been created but is being delayed until launch. Jobs that are queued may only transition to `JOB_STATE_PENDING` or `JOB_STATE_CANCELLED`.",
            "`JOB_STATE_RESOURCE_CLEANING_UP` indicates that the batch job's associated resources are currently being cleaned up after a successful run. Currently, this is an opt-in feature, please reach out to Cloud support team if you are interested."
          ]
        },
        "id": {
          "description": "The unique ID of this job. This field is set by the Cloud Dataflow service when the Job is created, and is immutable for the life of the job.",
          "type": "string"
        },
        "clientRequestId": {
          "type": "string",
          "description": "The client's unique identifier of the job, re-used across retried attempts. If this field is set, the service will ensure its uniqueness. The request to create a job will fail if the service has knowledge of a previously submitted job with the same client's ID and job name. The caller may use this field to ensure idempotence of job creation across retried attempts to create a job. By default, the field is empty and, in that case, the service ignores it."
        },
        "tempFiles": {
          "type": "array",
          "description": "A set of files the system should be aware of that are used for temporary storage. These temporary files will be removed on job completion. No duplicates are allowed. No file patterns are supported. The supported files are: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}",
          "items": {
            "type": "string"
          }
        },
        "labels": {
          "description": "User-defined labels for this job. The labels map can contain no more than 64 entries. Entries of the labels map are UTF8 strings that comply with the following restrictions: * Keys must conform to regexp: \\p{Ll}\\p{Lo}{0,62} * Values must conform to regexp: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} * Both keys and values are additionally constrained to be \u003c= 128 bytes in size.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "type": "string",
          "description": "The timestamp when the job was initially created. Immutable and set by the Cloud Dataflow service.",
          "format": "google-datetime"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp when the job was started (transitioned to JOB_STATE_PENDING). Flexible resource scheduling jobs are started with some delay after job creation, so start_time is unset before start and is updated when the job is started by the Cloud Dataflow service. For other jobs, start_time always equals to create_time and is immutable and set by the Cloud Dataflow service."
        },
        "executionInfo": {
          "$ref": "JobExecutionInfo",
          "description": "Deprecated."
        },
        "pipelineDescription": {
          "$ref": "PipelineDescription",
          "description": "Preliminary field: The format of this data may change at any time. A description of the user pipeline and stages through which it is executed. Created by Cloud Dataflow service. Only retrieved with JOB_VIEW_DESCRIPTION or JOB_VIEW_ALL."
        },
        "name": {
          "type": "string",
          "description": "The user-specified Cloud Dataflow job name. Only one Job with a given name may exist in a project at any given time. If a caller attempts to create a Job with the same name as an already-existing Job, the attempt returns the existing Job. The name must match the regular expression `[a-z]([-a-z0-9]{0,38}[a-z0-9])?`"
        },
        "type": {
          "description": "The type of Cloud Dataflow job.",
          "enumDescriptions": [
            "The type of the job is unspecified, or unknown.",
            "A batch job with a well-defined end point: data is read, data is processed, data is written, and the job is done.",
            "A continuously streaming job with no end: data is read, processed, and written continuously."
          ],
          "enum": [
            "JOB_TYPE_UNKNOWN",
            "JOB_TYPE_BATCH",
            "JOB_TYPE_STREAMING"
          ],
          "type": "string"
        },
        "replacedByJobId": {
          "type": "string",
          "description": "If another job is an update of this job (and thus, this job is in `JOB_STATE_UPDATED`), this field contains the ID of that job."
        },
        "stageStates": {
          "description": "This field may be mutated by the Cloud Dataflow service; callers cannot mutate it.",
          "type": "array",
          "items": {
            "$ref": "ExecutionStageState"
          }
        },
        "jobMetadata": {
          "$ref": "JobMetadata",
          "description": "This field is populated by the Dataflow service to support filtering jobs by the metadata values provided here. Populated for ListJobs and all GetJob views SUMMARY and higher."
        }
      },
      "description": "Defines a job to be run by the Cloud Dataflow service. nextID: 26",
      "type": "object",
      "id": "Job"
    },
    "StageSummary": {
      "properties": {
        "state": {
          "enum": [
            "EXECUTION_STATE_UNKNOWN",
            "EXECUTION_STATE_NOT_STARTED",
            "EXECUTION_STATE_RUNNING",
            "EXECUTION_STATE_SUCCEEDED",
            "EXECUTION_STATE_FAILED",
            "EXECUTION_STATE_CANCELLED"
          ],
          "enumDescriptions": [
            "The component state is unknown or unspecified.",
            "The component is not yet running.",
            "The component is currently running.",
            "The component succeeded.",
            "The component failed.",
            "Execution of the component was cancelled."
          ],
          "description": "State of this stage.",
          "type": "string"
        },
        "metrics": {
          "description": "Metrics for this stage.",
          "type": "array",
          "items": {
            "$ref": "MetricUpdate"
          }
        },
        "progress": {
          "$ref": "ProgressTimeseries",
          "description": "Progress for this stage. Only applicable to Batch jobs."
        },
        "stageId": {
          "description": "ID of this stage",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Start time of this stage."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "End time of this stage. If the work item is completed, this is the actual end time of the stage. Otherwise, it is the predicted end time."
        }
      },
      "type": "object",
      "id": "StageSummary",
      "description": "Information about a particular execution stage of a job."
    },
    "SeqMapTask": {
      "properties": {
        "stageName": {
          "description": "System-defined name of the stage containing the SeqDo operation. Unique across the workflow.",
          "type": "string"
        },
        "systemName": {
          "description": "System-defined name of the SeqDo operation. Unique across the workflow.",
          "type": "string"
        },
        "userFn": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The user function to invoke."
        },
        "name": {
          "type": "string",
          "description": "The user-provided name of the SeqDo operation."
        },
        "outputInfos": {
          "items": {
            "$ref": "SeqMapTaskOutputInfo"
          },
          "type": "array",
          "description": "Information about each of the outputs."
        },
        "inputs": {
          "items": {
            "$ref": "SideInputInfo"
          },
          "type": "array",
          "description": "Information about each of the inputs."
        }
      },
      "id": "SeqMapTask",
      "type": "object",
      "description": "Describes a particular function to invoke."
    },
    "LaunchTemplateParameters": {
      "type": "object",
      "description": "Parameters to provide to the template being launched.",
      "id": "LaunchTemplateParameters",
      "properties": {
        "environment": {
          "$ref": "RuntimeEnvironment",
          "description": "The runtime environment for the job."
        },
        "update": {
          "type": "boolean",
          "description": "If set, replace the existing pipeline with the name specified by jobName with this pipeline, preserving state."
        },
        "transformNameMapping": {
          "description": "Only applicable when updating a pipeline. Map of transform name prefixes of the job to be replaced to the corresponding name prefixes of the new job.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "jobName": {
          "type": "string",
          "description": "Required. The job name to use for the created job."
        },
        "parameters": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The runtime parameters to pass to the job.",
          "type": "object"
        }
      }
    },
    "SourceGetMetadataRequest": {
      "properties": {
        "source": {
          "$ref": "Source",
          "description": "Specification of the source whose metadata should be computed."
        }
      },
      "id": "SourceGetMetadataRequest",
      "description": "A request to compute the SourceMetadata of a Source.",
      "type": "object"
    },
    "ListJobsResponse": {
      "type": "object",
      "id": "ListJobsResponse",
      "description": "Response to a request to list Cloud Dataflow jobs in a project. This might be a partial response, depending on the page size in the ListJobsRequest. However, if the project does not have any jobs, an instance of ListJobsResponse is not returned and the requests's response body is empty {}.",
      "properties": {
        "jobs": {
          "items": {
            "$ref": "Job"
          },
          "description": "A subset of the requested job information.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Set if there may be more results than fit in this response."
        },
        "failedLocation": {
          "type": "array",
          "items": {
            "$ref": "FailedLocation"
          },
          "description": "Zero or more messages describing the [regional endpoints] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that failed to respond."
        }
      }
    },
    "TopologyConfig": {
      "id": "TopologyConfig",
      "description": "Global topology of the streaming Dataflow job, including all computations and their sharded locations.",
      "type": "object",
      "properties": {
        "persistentStateVersion": {
          "format": "int32",
          "description": "Version number for persistent state.",
          "type": "integer"
        },
        "dataDiskAssignments": {
          "description": "The disks assigned to a streaming Dataflow job.",
          "type": "array",
          "items": {
            "$ref": "DataDiskAssignment"
          }
        },
[...]
