{
  "id": "dataflow:v1b3",
  "revision": "20210420",
  "servicePath": "",
  "batchPath": "batch",
  "name": "dataflow",
  "baseUrl": "https://dataflow.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud Platform data"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "See your primary Google Account email address"
        },
        "https://www.googleapis.com/auth/compute": {
          "description": "View and manage your Google Compute Engine resources"
        },
        "https://www.googleapis.com/auth/compute.readonly": {
          "description": "View your Google Compute Engine resources"
        }
      }
    }
  },
  "description": "Manages Google Cloud Dataflow projects on Google Cloud Platform.",
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    }
  },
  "version": "v1b3",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "title": "Dataflow API",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://dataflow.mtls.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "schemas": {
    "SendWorkerMessagesResponse": {
      "id": "SendWorkerMessagesResponse",
      "description": "The response to the worker messages.",
      "properties": {
        "workerMessageResponses": {
          "type": "array",
          "items": {
            "$ref": "WorkerMessageResponse"
          },
          "description": "The servers response to the worker messages."
        }
      },
      "type": "object"
    },
    "Step": {
      "description": "Defines a particular step within a Cloud Dataflow job. A job consists of multiple steps, each of which performs some specific operation as part of the overall job. Data is typically passed from one step to another as part of the job. Here's an example of a sequence of steps which together implement a Map-Reduce job: * Read a collection of data from some source, parsing the collection's elements. * Validate the elements. * Apply a user-defined function to map each element to some value and extract an element-specific key value. * Group elements with the same key into a single element with that key, transforming a multiply-keyed collection into a uniquely-keyed collection. * Write the elements out to some data sink. Note that the Cloud Dataflow service may be used to run many different types of jobs, not just Map-Reduce.",
      "id": "Step",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name that identifies the step. This must be unique for each step with respect to all other steps in the Cloud Dataflow job.",
          "type": "string"
        },
        "kind": {
          "description": "The kind of step in the Cloud Dataflow job.",
          "type": "string"
        },
        "properties": {
          "type": "object",
          "description": "Named properties associated with the step. Each kind of predefined step has its own required set of properties. Must be provided on Create. Only retrieved with JOB_VIEW_ALL.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "MapTask": {
      "type": "object",
      "properties": {
        "systemName": {
          "type": "string",
          "description": "System-defined name of this MapTask. Unique across the workflow."
        },
        "stageName": {
          "type": "string",
          "description": "System-defined name of the stage containing this MapTask. Unique across the workflow."
        },
        "counterPrefix": {
          "type": "string",
          "description": "Counter prefix that can be used to prefix counters. Not currently used in Dataflow."
        },
        "instructions": {
          "type": "array",
          "description": "The instructions in the MapTask.",
          "items": {
            "$ref": "ParallelInstruction"
          }
        }
      },
      "id": "MapTask",
      "description": "MapTask consists of an ordered set of instructions, each of which describes one particular low-level operation for the worker to perform in order to accomplish the MapTask's WorkItem. Each instruction must appear in the list before any instructions which depends on its output."
    },
    "MetricStructuredName": {
      "id": "MetricStructuredName",
      "type": "object",
      "properties": {
        "origin": {
          "type": "string",
          "description": "Origin (namespace) of metric name. May be blank for user-define metrics; will be \"dataflow\" for metrics defined by the Dataflow service or SDK."
        },
        "context": {
          "description": "Zero or more labeled fields which identify the part of the job this metric is associated with, such as the name of a step or collection. For example, built-in counters associated with steps will have context['step'] = . Counters associated with PCollections in the SDK will have context['pcollection'] = .",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Worker-defined metric name."
        }
      },
      "description": "Identifies a metric, by describing the source which generated the metric."
    },
    "BigTableIODetails": {
      "type": "object",
      "description": "Metadata for a Cloud BigTable connector used by the job.",
      "id": "BigTableIODetails",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "ProjectId accessed in the connection."
        },
        "tableId": {
          "type": "string",
          "description": "TableId accessed in the connection."
        },
        "instanceId": {
          "description": "InstanceId accessed in the connection.",
          "type": "string"
        }
      }
    },
    "SourceFork": {
      "id": "SourceFork",
      "properties": {
        "primary": {
          "description": "DEPRECATED",
          "$ref": "SourceSplitShard"
        },
        "primarySource": {
          "description": "DEPRECATED",
          "$ref": "DerivedSource"
        },
        "residualSource": {
          "description": "DEPRECATED",
          "$ref": "DerivedSource"
        },
        "residual": {
          "description": "DEPRECATED",
          "$ref": "SourceSplitShard"
        }
      },
      "type": "object",
      "description": "DEPRECATED in favor of DynamicSourceSplit."
    },
    "ApproximateProgress": {
      "id": "ApproximateProgress",
      "properties": {
        "remainingTime": {
          "format": "google-duration",
          "type": "string",
          "description": "Obsolete."
        },
        "percentComplete": {
          "format": "float",
          "type": "number",
          "description": "Obsolete."
        },
        "position": {
          "description": "Obsolete.",
          "$ref": "Position"
        }
      },
      "description": "Obsolete in favor of ApproximateReportedProgress and ApproximateSplitRequest.",
      "type": "object"
    },
    "StreamingStageLocation": {
      "type": "object",
      "properties": {
        "streamId": {
          "type": "string",
          "description": "Identifies the particular stream within the streaming Dataflow job."
        }
      },
      "id": "StreamingStageLocation",
      "description": "Identifies the location of a streaming computation stage, for stage-to-stage communication."
    },
    "Snapshot": {
      "type": "object",
      "description": "Represents a snapshot of a job.",
      "properties": {
        "ttl": {
          "format": "google-duration",
          "type": "string",
          "description": "The time after which this snapshot will be automatically deleted."
        },
        "description": {
          "type": "string",
          "description": "User specified description of the snapshot. Maybe empty."
        },
        "diskSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "The disk byte size of the snapshot. Only available for snapshots in READY state."
        },
        "projectId": {
          "type": "string",
          "description": "The project this snapshot belongs to."
        },
        "pubsubMetadata": {
          "description": "PubSub snapshot metadata.",
          "type": "array",
          "items": {
            "$ref": "PubsubSnapshotMetadata"
          }
        },
        "id": {
          "description": "The unique ID of this snapshot.",
          "type": "string"
        },
        "creationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time this snapshot was created."
        },
        "state": {
          "enum": [
            "UNKNOWN_SNAPSHOT_STATE",
            "PENDING",
            "RUNNING",
            "READY",
            "FAILED",
            "DELETED"
          ],
          "enumDescriptions": [
            "Unknown state.",
            "Snapshot intent to create has been persisted, snapshotting of state has not yet started.",
            "Snapshotting is being performed.",
            "Snapshot has been created and is ready to be used.",
            "Snapshot failed to be created.",
            "Snapshot has been deleted."
          ],
          "type": "string",
          "description": "State of the snapshot."
        },
        "region": {
          "description": "Cloud region where this snapshot lives in, e.g., \"us-central1\".",
          "type": "string"
        },
        "sourceJobId": {
          "type": "string",
          "description": "The job this snapshot was created from."
        }
      },
      "id": "Snapshot"
    },
    "StructuredMessage": {
      "properties": {
        "messageText": {
          "description": "Human-readable version of message.",
          "type": "string"
        },
        "parameters": {
          "description": "The structured data associated with this message.",
          "items": {
            "$ref": "Parameter"
          },
          "type": "array"
        },
        "messageKey": {
          "type": "string",
          "description": "Identifier for this message type. Used by external systems to internationalize or personalize message."
        }
      },
      "description": "A rich message format, including a human readable string, a key for identifying the message, and structured data associated with the message for programmatic consumption.",
      "type": "object",
      "id": "StructuredMessage"
    },
    "JobExecutionInfo": {
      "type": "object",
      "properties": {
        "stages": {
          "additionalProperties": {
            "$ref": "JobExecutionStageInfo"
          },
          "description": "A mapping from each stage to the information about that stage.",
          "type": "object"
        }
      },
      "id": "JobExecutionInfo",
      "description": "Additional information about how a Cloud Dataflow job will be executed that isn't contained in the submitted job."
    },
    "WorkerHealthReportResponse": {
      "id": "WorkerHealthReportResponse",
      "description": "WorkerHealthReportResponse contains information returned to the worker in response to a health ping.",
      "properties": {
        "reportInterval": {
          "format": "google-duration",
          "description": "A positive value indicates the worker should change its reporting interval to the specified value. The default value of zero means no change in report rate is requested by the server.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Point": {
      "description": "A point in the timeseries.",
      "id": "Point",
      "properties": {
        "value": {
          "type": "number",
          "format": "double",
          "description": "The value of the point."
        },
        "time": {
          "format": "google-datetime",
          "description": "The timestamp of the point.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ResourceUtilizationReport": {
      "properties": {
        "cpuTime": {
          "type": "array",
          "items": {
            "$ref": "CPUTime"
          },
          "description": "CPU utilization samples."
        },
        "memoryInfo": {
          "type": "array",
          "description": "Memory utilization samples.",
          "items": {
            "$ref": "MemInfo"
          }
        },
        "containers": {
          "description": "Per container information. Key: container name.",
          "type": "object",
          "additionalProperties": {
            "$ref": "ResourceUtilizationReport"
          }
        }
      },
      "type": "object",
      "description": "Worker metrics exported from workers. This contains resource utilization metrics accumulated from a variety of sources. For more information, see go/df-resource-signals.",
      "id": "ResourceUtilizationReport"
    },
    "WriteInstruction": {
      "id": "WriteInstruction",
      "type": "object",
      "description": "An instruction that writes records. Takes one input, produces no outputs.",
      "properties": {
        "input": {
          "description": "The input.",
          "$ref": "InstructionInput"
        },
        "sink": {
          "description": "The sink to write to.",
          "$ref": "Sink"
        }
      }
    },
    "ComponentSource": {
      "id": "ComponentSource",
      "type": "object",
      "properties": {
        "userName": {
          "type": "string",
          "description": "Human-readable name for this transform; may be user or system generated."
        },
        "name": {
          "type": "string",
          "description": "Dataflow service generated name for this source."
        },
        "originalTransformOrCollection": {
          "type": "string",
          "description": "User name for the original user transform or collection with which this source is most closely associated."
        }
      },
      "description": "Description of an interstitial value between transforms in an execution stage."
    },
    "SdkVersion": {
      "properties": {
        "version": {
          "type": "string",
          "description": "The version of the SDK used to run the job."
        },
        "sdkSupportStatus": {
          "enum": [
            "UNKNOWN",
            "SUPPORTED",
            "STALE",
            "DEPRECATED",
            "UNSUPPORTED"
          ],
          "type": "string",
          "description": "The support status for this SDK version.",
          "enumDescriptions": [
            "Cloud Dataflow is unaware of this version.",
            "This is a known version of an SDK, and is supported.",
            "A newer version of the SDK family exists, and an update is recommended.",
            "This version of the SDK is deprecated and will eventually be no longer supported.",
            "Support for this SDK version has ended and it should no longer be used."
          ]
        },
        "versionDisplayName": {
          "description": "A readable string describing the version of the SDK.",
          "type": "string"
        }
      },
      "id": "SdkVersion",
      "type": "object",
      "description": "The version of the SDK used to run the job."
    },
    "WorkerShutdownNoticeResponse": {
      "description": "Service-side response to WorkerMessage issuing shutdown notice.",
      "type": "object",
      "properties": {},
      "id": "WorkerShutdownNoticeResponse"
    },
    "SendWorkerMessagesRequest": {
      "id": "SendWorkerMessagesRequest",
      "properties": {
        "workerMessages": {
          "description": "The WorkerMessages to send.",
          "type": "array",
          "items": {
            "$ref": "WorkerMessage"
          }
        },
        "location": {
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A request for sending worker messages to the service."
    },
    "SendDebugCaptureRequest": {
      "type": "object",
      "description": "Request to send encoded debug information.",
      "properties": {
        "data": {
          "description": "The encoded debug information.",
          "type": "string"
        },
        "location": {
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
          "type": "string"
        },
        "workerId": {
          "type": "string",
          "description": "The worker id, i.e., VM hostname."
        },
        "componentId": {
          "type": "string",
          "description": "The internal component id for which debug information is sent."
        }
      },
      "id": "SendDebugCaptureRequest"
    },
    "MetricShortId": {
      "properties": {
        "shortId": {
          "type": "string",
          "description": "The service-generated short identifier for the metric.",
          "format": "int64"
        },
        "metricIndex": {
          "format": "int32",
          "description": "The index of the corresponding metric in the ReportWorkItemStatusRequest. Required.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "MetricShortId",
      "description": "The metric short id is returned to the user alongside an offset into ReportWorkItemStatusRequest"
    },
    "SourceSplitShard": {
      "properties": {
        "source": {
          "$ref": "Source",
          "description": "DEPRECATED"
        },
        "derivationMode": {
          "enumDescriptions": [
            "The source derivation is unknown, or unspecified.",
            "Produce a completely independent Source with no base.",
            "Produce a Source based on the Source being split.",
            "Produce a Source based on the base of the Source being split."
          ],
          "type": "string",
          "description": "DEPRECATED",
          "enum": [
            "SOURCE_DERIVATION_MODE_UNKNOWN",
            "SOURCE_DERIVATION_MODE_INDEPENDENT",
            "SOURCE_DERIVATION_MODE_CHILD_OF_CURRENT",
            "SOURCE_DERIVATION_MODE_SIBLING_OF_CURRENT"
          ]
        }
      },
      "description": "DEPRECATED in favor of DerivedSource.",
      "type": "object",
      "id": "SourceSplitShard"
    },
    "JobMetadata": {
      "properties": {
        "sdkVersion": {
          "$ref": "SdkVersion",
          "description": "The SDK version used to run the job."
        },
        "datastoreDetails": {
          "description": "Identification of a Datastore source used in the Dataflow job.",
          "items": {
            "$ref": "DatastoreIODetails"
          },
          "type": "array"
        },
        "bigTableDetails": {
          "type": "array",
          "description": "Identification of a Cloud BigTable source used in the Dataflow job.",
          "items": {
            "$ref": "BigTableIODetails"
          }
        },
        "pubsubDetails": {
          "items": {
            "$ref": "PubSubIODetails"
          },
          "description": "Identification of a PubSub source used in the Dataflow job.",
          "type": "array"
        },
        "spannerDetails": {
          "items": {
            "$ref": "SpannerIODetails"
          },
          "type": "array",
          "description": "Identification of a Spanner source used in the Dataflow job."
        },
        "fileDetails": {
          "items": {
            "$ref": "FileIODetails"
          },
          "description": "Identification of a File source used in the Dataflow job.",
          "type": "array"
        },
        "bigqueryDetails": {
          "type": "array",
          "description": "Identification of a BigQuery source used in the Dataflow job.",
          "items": {
            "$ref": "BigQueryIODetails"
          }
        }
      },
      "description": "Metadata available primarily for filtering jobs. Will be included in the ListJob response and Job SUMMARY view.",
      "type": "object",
      "id": "JobMetadata"
    },
    "Position": {
      "properties": {
        "recordIndex": {
          "format": "int64",
          "description": "Position is a record index.",
          "type": "string"
        },
        "end": {
          "description": "Position is past all other positions. Also useful for the end position of an unbounded range.",
          "type": "boolean"
        },
        "shufflePosition": {
          "description": "CloudPosition is a base64 encoded BatchShufflePosition (with FIXED sharding).",
          "type": "string"
        },
        "concatPosition": {
          "description": "CloudPosition is a concat position.",
          "$ref": "ConcatPosition"
        },
        "key": {
          "type": "string",
          "description": "Position is a string key, ordered lexicographically."
        },
        "byteOffset": {
          "type": "string",
          "format": "int64",
          "description": "Position is a byte offset."
        }
      },
      "id": "Position",
      "description": "Position defines a position within a collection of data. The value can be either the end position, a key (used with ordered collections), a byte offset, or a record index.",
      "type": "object"
    },
    "StateFamilyConfig": {
      "id": "StateFamilyConfig",
      "description": "State family configuration.",
      "type": "object",
      "properties": {
        "isRead": {
          "description": "If true, this family corresponds to a read operation.",
          "type": "boolean"
        },
        "stateFamily": {
          "type": "string",
          "description": "The state family value."
        }
      }
    },
    "MetricUpdate": {
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Timestamp associated with the metric value. Optional when workers are reporting work progress; it will be filled in responses from the metrics API.",
          "format": "google-datetime"
        },
        "cumulative": {
          "description": "True if this metric is reported as the total cumulative aggregate value accumulated since the worker started working on this WorkItem. By default this is false, indicating that this metric is reported as a delta that is not associated with any WorkItem.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "Metric aggregation kind. The possible metric aggregation kinds are \"Sum\", \"Max\", \"Min\", \"Mean\", \"Set\", \"And\", \"Or\", and \"Distribution\". The specified aggregation kind is case-insensitive. If omitted, this is not an aggregated value but instead a single metric sample value."
        },
        "set": {
          "description": "Worker-computed aggregate value for the \"Set\" aggregation kind. The only possible value type is a list of Values whose type can be Long, Double, or String, according to the metric's type. All Values in the list must be of the same type.",
          "type": "any"
        },
        "gauge": {
          "type": "any",
          "description": "A struct value describing properties of a Gauge. Metrics of gauge type show the value of a metric across time, and is aggregated based on the newest value."
        },
        "meanCount": {
          "type": "any",
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the count of the aggregated values and is used in combination with mean_sum above to obtain the actual mean aggregate value. The only possible value type is Long."
        },
        "scalar": {
          "type": "any",
          "description": "Worker-computed aggregate value for aggregation kinds \"Sum\", \"Max\", \"Min\", \"And\", and \"Or\". The possible value types are Long, Double, and Boolean."
        },
        "distribution": {
          "type": "any",
          "description": "A struct value describing properties of a distribution of numeric values."
        },
        "internal": {
          "type": "any",
          "description": "Worker-computed aggregate value for internal use by the Dataflow service."
        },
        "meanSum": {
          "type": "any",
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the sum of the aggregated values and is used in combination with mean_count below to obtain the actual mean aggregate value. The only possible value types are Long and Double."
        },
        "name": {
          "description": "Name of the metric.",
          "$ref": "MetricStructuredName"
        }
      },
      "description": "Describes the state of a metric.",
      "id": "MetricUpdate",
      "type": "object"
    },
    "PubsubLocation": {
      "properties": {
        "topic": {
          "description": "A pubsub topic, in the form of \"pubsub.googleapis.com/topics//\"",
          "type": "string"
        },
        "timestampLabel": {
          "description": "If set, contains a pubsub label from which to extract record timestamps. If left empty, record timestamps will be generated upon arrival.",
          "type": "string"
        },
        "trackingSubscription": {
          "type": "string",
          "description": "If set, specifies the pubsub subscription that will be used for tracking custom time timestamps for watermark estimation."
        },
        "withAttributes": {
          "type": "boolean",
          "description": "If true, then the client has requested to get pubsub attributes."
        },
        "dropLateData": {
          "type": "boolean",
          "description": "Indicates whether the pipeline allows late-arriving data."
        },
        "subscription": {
          "type": "string",
          "description": "A pubsub subscription, in the form of \"pubsub.googleapis.com/subscriptions//\""
        },
        "idLabel": {
          "description": "If set, contains a pubsub label from which to extract record ids. If left empty, record deduplication will be strictly best effort.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PubsubLocation",
      "description": "Identifies a pubsub location to use for transferring data into or out of a streaming Dataflow job."
    },
    "DeleteSnapshotResponse": {
      "properties": {},
      "description": "Response from deleting a snapshot.",
      "type": "object",
      "id": "DeleteSnapshotResponse"
    },
    "WorkerMessage": {
      "description": "WorkerMessage provides information to the backend about a worker.",
      "id": "WorkerMessage",
      "properties": {
        "workerMessageCode": {
          "description": "A worker message code.",
          "$ref": "WorkerMessageCode"
        },
        "workerLifecycleEvent": {
          "$ref": "WorkerLifecycleEvent",
          "description": "Record of worker lifecycle events."
        },
        "workerShutdownNotice": {
          "$ref": "WorkerShutdownNotice",
          "description": "Shutdown notice by workers."
        },
        "time": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp of the worker_message."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels are used to group WorkerMessages. For example, a worker_message about a particular container might have the labels: { \"JOB_ID\": \"2015-04-22\", \"WORKER_ID\": \"wordcount-vm-2015…\" \"CONTAINER_TYPE\": \"worker\", \"CONTAINER_ID\": \"ac1234def\"} Label tags typically correspond to Label enum values. However, for ease of development other strings can be used as tags. LABEL_UNSPECIFIED should not be used here.",
          "type": "object"
        },
        "workerHealthReport": {
          "$ref": "WorkerHealthReport",
          "description": "The health of a worker."
        },
        "workerMetrics": {
          "description": "Resource metrics reported by workers.",
          "$ref": "ResourceUtilizationReport"
        }
      },
      "type": "object"
    },
    "ReportedParallelism": {
      "type": "object",
      "id": "ReportedParallelism",
      "description": "Represents the level of parallelism in a WorkItem's input, reported by the worker.",
      "properties": {
        "isInfinite": {
          "type": "boolean",
          "description": "Specifies whether the parallelism is infinite. If true, \"value\" is ignored. Infinite parallelism means the service will assume that the work item can always be split into more non-empty work items by dynamic splitting. This is a work-around for lack of support for infinity by the current JSON-based Java RPC stack."
        },
        "value": {
          "description": "Specifies the level of parallelism in case it is finite.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "JobMessage": {
      "id": "JobMessage",
      "description": "A particular message pertaining to a Dataflow job.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Deprecated."
        },
        "messageImportance": {
          "type": "string",
          "description": "Importance level of the message.",
          "enum": [
            "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
            "JOB_MESSAGE_DEBUG",
            "JOB_MESSAGE_DETAILED",
            "JOB_MESSAGE_BASIC",
            "JOB_MESSAGE_WARNING",
            "JOB_MESSAGE_ERROR"
          ],
          "enumDescriptions": [
            "The message importance isn't specified, or is unknown.",
            "The message is at the 'debug' level: typically only useful for software engineers working on the code the job is running. Typically, Dataflow pipeline runners do not display log messages at this level by default.",
            "The message is at the 'detailed' level: somewhat verbose, but potentially useful to users. Typically, Dataflow pipeline runners do not display log messages at this level by default. These messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'basic' level: useful for keeping track of the execution of a Dataflow pipeline. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'warning' level: indicating a condition pertaining to a job which may require human intervention. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'error' level: indicating a condition preventing a job from succeeding. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI."
          ]
        },
        "messageText": {
          "description": "The text of the message.",
          "type": "string"
        },
        "time": {
          "format": "google-datetime",
          "description": "The timestamp of the message.",
          "type": "string"
        }
      }
    },
    "BigQueryIODetails": {
      "description": "Metadata for a BigQuery connector used by the job.",
      "type": "object",
      "id": "BigQueryIODetails",
      "properties": {
        "dataset": {
          "type": "string",
          "description": "Dataset accessed in the connection."
        },
        "table": {
          "type": "string",
          "description": "Table accessed in the connection."
        },
        "query": {
          "description": "Query used to access data in the connection.",
          "type": "string"
        },
        "projectId": {
          "description": "Project accessed in the connection.",
          "type": "string"
        }
      }
    },
    "Source": {
      "type": "object",
      "id": "Source",
      "description": "A source that records can be read and decoded from.",
      "properties": {
        "baseSpecs": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "While splitting, sources may specify the produced bundles as differences against another source, in order to save backend-side memory and allow bigger jobs. For details, see SourceSplitRequest. To support this use case, the full set of parameters of the source is logically obtained by taking the latest explicitly specified value of each parameter in the order: base_specs (later items win), spec (overrides anything in base_specs)."
        },
        "codec": {
          "description": "The codec to use to decode data read from the source.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "metadata": {
          "$ref": "SourceMetadata",
          "description": "Optionally, metadata for this source can be supplied right away, avoiding a SourceGetMetadataOperation roundtrip (see SourceOperationRequest). This field is meaningful only in the Source objects populated by the user (e.g. when filling in a DerivedSource). Source objects supplied by the framework to the user don't have this field populated."
        },
        "spec": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "The source to read from, plus its parameters."
        },
        "doesNotNeedSplitting": {
          "description": "Setting this value to true hints to the framework that the source doesn't need splitting, and using SourceSplitRequest on it would yield SOURCE_SPLIT_OUTCOME_USE_CURRENT. E.g. a file splitter may set this to true when splitting a single file into a set of byte ranges of appropriate size, and set this to false when splitting a filepattern into individual files. However, for efficiency, a file splitter may decide to produce file subranges directly from the filepattern to avoid a splitting round-trip. See SourceSplitRequest for an overview of the splitting process. This field is meaningful only in the Source objects populated by the user (e.g. when filling in a DerivedSource). Source objects supplied by the framework to the user don't have this field populated.",
          "type": "boolean"
        }
      }
    },
    "ExecutionStageState": {
      "type": "object",
      "properties": {
        "currentStateTime": {
          "format": "google-datetime",
          "description": "The time at which the stage transitioned to this state.",
          "type": "string"
        },
        "executionStageState": {
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_QUEUED",
            "JOB_STATE_RESOURCE_CLEANING_UP"
          ],
          "type": "string",
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not yet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed. This is a terminal job state. This state may be set by the Cloud Dataflow service, as a transition from `JOB_STATE_RUNNING`. It may also be set via a Cloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal state.",
            "`JOB_STATE_FAILED` indicates that the job has failed. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly cancelled. This is a terminal job state. This state may only be set via a Cloud Dataflow `UpdateJob` call, and only if the job has not yet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated, meaning that this job was stopped and another job was started, inheriting state from this one. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining. A draining job has stopped pulling from its input sources and is processing any data that remains in-flight. This state may be set via a Cloud Dataflow `UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs that are draining may only transition to `JOB_STATE_DRAINED`, `JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained. A drained job terminated by stopping pulling from its input sources and processing any data that remained in-flight when draining was requested. This state is a terminal state, may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_DRAINING`.",
            "`JOB_STATE_PENDING` indicates that the job has been created but is not yet running. Jobs that are pending may only transition to `JOB_STATE_RUNNING`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_CANCELLING` indicates that the job has been explicitly cancelled and is in the process of stopping. Jobs that are cancelling may only transition to `JOB_STATE_CANCELLED` or `JOB_STATE_FAILED`.",
            "`JOB_STATE_QUEUED` indicates that the job has been created but is being delayed until launch. Jobs that are queued may only transition to `JOB_STATE_PENDING` or `JOB_STATE_CANCELLED`.",
            "`JOB_STATE_RESOURCE_CLEANING_UP` indicates that the batch job's associated resources are currently being cleaned up after a successful run. Currently, this is an opt-in feature, please reach out to Cloud support team if you are interested."
          ],
          "description": "Executions stage states allow the same set of values as JobState."
        },
        "executionStageName": {
          "type": "string",
          "description": "The name of the execution stage."
        }
      },
      "id": "ExecutionStageState",
      "description": "A message describing the state of a particular execution stage."
    },
    "DynamicSourceSplit": {
      "type": "object",
      "properties": {
        "residual": {
          "description": "Residual part (returned to the pool of work). Specified relative to the previously-current source.",
          "$ref": "DerivedSource"
        },
        "primary": {
          "description": "Primary part (continued to be processed by worker). Specified relative to the previously-current source. Becomes current.",
          "$ref": "DerivedSource"
        }
      },
      "id": "DynamicSourceSplit",
      "description": "When a task splits using WorkItemStatus.dynamic_source_split, this message describes the two parts of the split relative to the description of the current task's input."
    },
    "StreamingComputationTask": {
      "id": "StreamingComputationTask",
      "type": "object",
      "description": "A task which describes what action should be performed for the specified streaming computation ranges.",
      "properties": {
        "computationRanges": {
          "type": "array",
          "description": "Contains ranges of a streaming computation this task should apply to.",
          "items": {
            "$ref": "StreamingComputationRanges"
          }
        },
        "taskType": {
          "description": "A type of streaming computation task.",
          "enumDescriptions": [
            "The streaming computation task is unknown, or unspecified.",
            "Stop processing specified streaming computation range(s).",
            "Start processing specified streaming computation range(s)."
          ],
          "type": "string",
          "enum": [
            "STREAMING_COMPUTATION_TASK_UNKNOWN",
            "STREAMING_COMPUTATION_TASK_STOP",
            "STREAMING_COMPUTATION_TASK_START"
          ]
        },
        "dataDisks": {
          "description": "Describes the set of data disks this task should apply to.",
          "items": {
            "$ref": "MountedDataDisk"
          },
          "type": "array"
        }
      }
    },
    "JobExecutionDetails": {
      "id": "JobExecutionDetails",
      "properties": {
        "stages": {
          "items": {
            "$ref": "StageSummary"
          },
          "type": "array",
          "description": "The stages of the job execution."
        },
        "nextPageToken": {
          "description": "If present, this response does not contain all requested tasks. To obtain the next page of results, repeat the request with page_token set to this value.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Information about the execution of a job."
    },
    "PartialGroupByKeyInstruction": {
      "type": "object",
      "description": "An instruction that does a partial group-by-key. One input and one output.",
      "properties": {
        "inputElementCodec": {
          "description": "The codec to use for interpreting an element in the input PTable.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "originalCombineValuesStepName": {
          "type": "string",
          "description": "If this instruction includes a combining function, this is the name of the CombineValues instruction lifted into this instruction."
        },
        "sideInputs": {
          "description": "Zero or more side inputs.",
          "items": {
            "$ref": "SideInputInfo"
          },
          "type": "array"
        },
        "input": {
          "$ref": "InstructionInput",
          "description": "Describes the input to the partial group-by-key instruction."
        },
        "originalCombineValuesInputStoreName": {
          "type": "string",
          "description": "If this instruction includes a combining function this is the name of the intermediate store between the GBK and the CombineValues."
        },
        "valueCombiningFn": {
          "description": "The value combining function to invoke.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "id": "PartialGroupByKeyInstruction"
    },
    "StreamingConfigTask": {
      "properties": {
        "getDataStreamChunkSizeBytes": {
          "description": "Chunk size for get data streams from the harness to windmill.",
          "type": "string",
          "format": "int64"
        },
        "maxWorkItemCommitBytes": {
          "format": "int64",
          "type": "string",
          "description": "Maximum size for work item commit supported windmill storage layer."
        },
        "windmillServiceEndpoint": {
          "type": "string",
          "description": "If present, the worker must use this endpoint to communicate with Windmill Service dispatchers, otherwise the worker must continue to use whatever endpoint it had been using."
        },
        "userStepToStateFamilyNameMap": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map from user step names to state families.",
          "type": "object"
        },
        "windmillServicePort": {
          "type": "string",
          "format": "int64",
          "description": "If present, the worker must use this port to communicate with Windmill Service dispatchers. Only applicable when windmill_service_endpoint is specified."
        },
        "streamingComputationConfigs": {
          "description": "Set of computation configuration information.",
          "type": "array",
          "items": {
            "$ref": "StreamingComputationConfig"
          }
        },
        "commitStreamChunkSizeBytes": {
          "type": "string",
          "description": "Chunk size for commit streams from the harness to windmill.",
          "format": "int64"
        }
      },
      "id": "StreamingConfigTask",
      "type": "object",
      "description": "A task that carries configuration information for streaming computations."
    },
    "CPUTime": {
      "description": "Modeled after information exposed by /proc/stat.",
      "properties": {
        "rate": {
          "format": "double",
          "description": "Average CPU utilization rate (% non-idle cpu / second) since previous sample.",
          "type": "number"
        },
        "timestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp of the measurement."
        },
        "totalMs": {
          "description": "Total active CPU time across all cores (ie., non-idle) in milliseconds since start-up.",
          "type": "string",
          "format": "uint64"
        }
      },
      "id": "CPUTime",
      "type": "object"
    },
    "LeaseWorkItemRequest": {
      "properties": {
        "location": {
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job.",
          "type": "string"
        },
        "currentWorkerTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The current timestamp at the worker."
        },
        "workItemTypes": {
          "description": "Filter for WorkItem type.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "workerId": {
          "type": "string",
          "description": "Identifies the worker leasing work -- typically the ID of the virtual machine running the worker."
        },
        "requestedLeaseDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "The initial lease period."
        },
        "workerCapabilities": {
          "items": {
            "type": "string"
          },
          "description": "Worker capabilities. WorkItems might be limited to workers with specific capabilities.",
          "type": "array"
        },
        "unifiedWorkerRequest": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Untranslated bag-of-bytes WorkRequest from UnifiedWorker."
        }
      },
      "description": "Request to lease WorkItems.",
      "type": "object",
      "id": "LeaseWorkItemRequest"
    },
    "Parameter": {
      "type": "object",
      "description": "Structured data associated with this message.",
      "id": "Parameter",
      "properties": {
        "value": {
          "description": "Value for this parameter.",
          "type": "any"
        },
        "key": {
          "description": "Key or name for this parameter.",
          "type": "string"
        }
      }
    },
    "RuntimeMetadata": {
      "description": "RuntimeMetadata describing a runtime environment.",
      "type": "object",
      "properties": {
        "sdkInfo": {
          "description": "SDK Info for the template.",
          "$ref": "SDKInfo"
        },
        "parameters": {
          "description": "The parameters for the template.",
          "items": {
            "$ref": "ParameterMetadata"
          },
          "type": "array"
        }
      },
      "id": "RuntimeMetadata"
    },
    "Job": {
      "type": "object",
      "properties": {
        "transformNameMapping": {
          "description": "The map of transform name prefixes of the job to be replaced to the corresponding name prefixes of the new job.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "tempFiles": {
          "type": "array",
          "description": "A set of files the system should be aware of that are used for temporary storage. These temporary files will be removed on job completion. No duplicates are allowed. No file patterns are supported. The supported files are: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}",
          "items": {
            "type": "string"
          }
        },
        "pipelineDescription": {
          "description": "Preliminary field: The format of this data may change at any time. A description of the user pipeline and stages through which it is executed. Created by Cloud Dataflow service. Only retrieved with JOB_VIEW_DESCRIPTION or JOB_VIEW_ALL.",
          "$ref": "PipelineDescription"
        },
        "satisfiesPzs": {
          "description": "Reserved for future use. This field is set only in responses from the server; it is ignored if it is set in any requests.",
          "type": "boolean"
        },
        "projectId": {
          "description": "The ID of the Cloud Platform project that the job belongs to.",
          "type": "string"
        },
        "replaceJobId": {
          "description": "If this job is an update of an existing job, this field is the job ID of the job it replaced. When sending a `CreateJobRequest`, you can update a job by specifying it here. The job named here is stopped, and its intermediate state is transferred to this job.",
          "type": "string"
        },
        "labels": {
          "description": "User-defined labels for this job. The labels map can contain no more than 64 entries. Entries of the labels map are UTF8 strings that comply with the following restrictions: * Keys must conform to regexp: \\p{Ll}\\p{Lo}{0,62} * Values must conform to regexp: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} * Both keys and values are additionally constrained to be \u003c= 128 bytes in size.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The user-specified Cloud Dataflow job name. Only one Job with a given name may exist in a project at any given time. If a caller attempts to create a Job with the same name as an already-existing Job, the attempt returns the existing Job. The name must match the regular expression `[a-z]([-a-z0-9]{0,38}[a-z0-9])?`"
        },
        "environment": {
          "description": "The environment for the job.",
          "$ref": "Environment"
        },
        "stageStates": {
          "description": "This field may be mutated by the Cloud Dataflow service; callers cannot mutate it.",
          "items": {
            "$ref": "ExecutionStageState"
          },
          "type": "array"
        },
        "stepsLocation": {
          "type": "string",
          "description": "The Cloud Storage location where the steps are stored."
        },
        "createdFromSnapshotId": {
          "description": "If this is specified, the job's initial state is populated from the given snapshot.",
          "type": "string"
        },
        "createTime": {
          "description": "The timestamp when the job was initially created. Immutable and set by the Cloud Dataflow service.",
          "format": "google-datetime",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The unique ID of this job. This field is set by the Cloud Dataflow service when the Job is created, and is immutable for the life of the job."
        },
        "steps": {
          "items": {
            "$ref": "Step"
          },
          "description": "Exactly one of step or steps_location should be specified. The top-level steps that constitute the entire job. Only retrieved with JOB_VIEW_ALL.",
          "type": "array"
        },
        "executionInfo": {
          "$ref": "JobExecutionInfo",
          "description": "Deprecated."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp when the job was started (transitioned to JOB_STATE_PENDING). Flexible resource scheduling jobs are started with some delay after job creation, so start_time is unset before start and is updated when the job is started by the Cloud Dataflow service. For other jobs, start_time always equals to create_time and is immutable and set by the Cloud Dataflow service."
        },
        "currentState": {
          "description": "The current state of the job. Jobs are created in the `JOB_STATE_STOPPED` state unless otherwise specified. A job in the `JOB_STATE_RUNNING` state may asynchronously enter a terminal state. After a job has reached a terminal state, no further state updates may be made. This field may be mutated by the Cloud Dataflow service; callers cannot mutate it.",
          "type": "string",
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not yet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed. This is a terminal job state. This state may be set by the Cloud Dataflow service, as a transition from `JOB_STATE_RUNNING`. It may also be set via a Cloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal state.",
            "`JOB_STATE_FAILED` indicates that the job has failed. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly cancelled. This is a terminal job state. This state may only be set via a Cloud Dataflow `UpdateJob` call, and only if the job has not yet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated, meaning that this job was stopped and another job was started, inheriting state from this one. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining. A draining job has stopped pulling from its input sources and is processing any data that remains in-flight. This state may be set via a Cloud Dataflow `UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs that are draining may only transition to `JOB_STATE_DRAINED`, `JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained. A drained job terminated by stopping pulling from its input sources and processing any data that remained in-flight when draining was requested. This state is a terminal state, may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_DRAINING`.",
            "`JOB_STATE_PENDING` indicates that the job has been created but is not yet running. Jobs that are pending may only transition to `JOB_STATE_RUNNING`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_CANCELLING` indicates that the job has been explicitly cancelled and is in the process of stopping. Jobs that are cancelling may only transition to `JOB_STATE_CANCELLED` or `JOB_STATE_FAILED`.",
            "`JOB_STATE_QUEUED` indicates that the job has been created but is being delayed until launch. Jobs that are queued may only transition to `JOB_STATE_PENDING` or `JOB_STATE_CANCELLED`.",
            "`JOB_STATE_RESOURCE_CLEANING_UP` indicates that the batch job's associated resources are currently being cleaned up after a successful run. Currently, this is an opt-in feature, please reach out to Cloud support team if you are interested."
          ],
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_QUEUED",
            "JOB_STATE_RESOURCE_CLEANING_UP"
          ]
        },
        "type": {
          "enumDescriptions": [
            "The type of the job is unspecified, or unknown.",
            "A batch job with a well-defined end point: data is read, data is processed, data is written, and the job is done.",
            "A continuously streaming job with no end: data is read, processed, and written continuously."
          ],
          "enum": [
            "JOB_TYPE_UNKNOWN",
            "JOB_TYPE_BATCH",
            "JOB_TYPE_STREAMING"
          ],
          "description": "The type of Cloud Dataflow job.",
          "type": "string"
        },
        "replacedByJobId": {
          "type": "string",
          "description": "If another job is an update of this job (and thus, this job is in `JOB_STATE_UPDATED`), this field contains the ID of that job."
        },
        "currentStateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp associated with the current state."
        },
        "jobMetadata": {
          "description": "This field is populated by the Dataflow service to support filtering jobs by the metadata values provided here. Populated for ListJobs and all GetJob views SUMMARY and higher.",
          "$ref": "JobMetadata"
        },
        "location": {
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
          "type": "string"
        },
        "requestedState": {
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_QUEUED",
            "JOB_STATE_RESOURCE_CLEANING_UP"
          ],
          "type": "string",
          "description": "The job's requested state. `UpdateJob` may be used to switch between the `JOB_STATE_STOPPED` and `JOB_STATE_RUNNING` states, by setting requested_state. `UpdateJob` may also be used to directly set a job's requested state to `JOB_STATE_CANCELLED` or `JOB_STATE_DONE`, irrevocably terminating the job if it has not already reached a terminal state.",
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not yet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed. This is a terminal job state. This state may be set by the Cloud Dataflow service, as a transition from `JOB_STATE_RUNNING`. It may also be set via a Cloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal state.",
            "`JOB_STATE_FAILED` indicates that the job has failed. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly cancelled. This is a terminal job state. This state may only be set via a Cloud Dataflow `UpdateJob` call, and only if the job has not yet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated, meaning that this job was stopped and another job was started, inheriting state from this one. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining. A draining job has stopped pulling from its input sources and is processing any data that remains in-flight. This state may be set via a Cloud Dataflow `UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs that are draining may only transition to `JOB_STATE_DRAINED`, `JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained. A drained job terminated by stopping pulling from its input sources and processing any data that remained in-flight when draining was requested. This state is a terminal state, may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_DRAINING`.",
            "`JOB_STATE_PENDING` indicates that the job has been created but is not yet running. Jobs that are pending may only transition to `JOB_STATE_RUNNING`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_CANCELLING` indicates that the job has been explicitly cancelled and is in the process of stopping. Jobs that are cancelling may only transition to `JOB_STATE_CANCELLED` or `JOB_STATE_FAILED`.",
            "`JOB_STATE_QUEUED` indicates that the job has been created but is being delayed until launch. Jobs that are queued may only transition to `JOB_STATE_PENDING` or `JOB_STATE_CANCELLED`.",
            "`JOB_STATE_RESOURCE_CLEANING_UP` indicates that the batch job's associated resources are currently being cleaned up after a successful run. Currently, this is an opt-in feature, please reach out to Cloud support team if you are interested."
          ]
        },
        "clientRequestId": {
          "description": "The client's unique identifier of the job, re-used across retried attempts. If this field is set, the service will ensure its uniqueness. The request to create a job will fail if the service has knowledge of a previously submitted job with the same client's ID and job name. The caller may use this field to ensure idempotence of job creation across retried attempts to create a job. By default, the field is empty and, in that case, the service ignores it.",
          "type": "string"
        }
      },
      "description": "Defines a job to be run by the Cloud Dataflow service. nextID: 26",
      "id": "Job"
    },
    "ListJobMessagesResponse": {
      "description": "Response to a request to list job messages.",
      "type": "object",
      "properties": {
        "autoscalingEvents": {
          "description": "Autoscaling events in ascending timestamp order.",
          "type": "array",
          "items": {
            "$ref": "AutoscalingEvent"
          }
        },
        "nextPageToken": {
          "description": "The token to obtain the next page of results if there are more.",
          "type": "string"
        },
        "jobMessages": {
          "type": "array",
          "items": {
            "$ref": "JobMessage"
          },
          "description": "Messages in ascending timestamp order."
        }
      },
      "id": "ListJobMessagesResponse"
    },
    "TemplateMetadata": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. A description of the template.",
          "type": "string"
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "ParameterMetadata"
          },
          "description": "The parameters for the template."
        },
        "name": {
          "description": "Required. The name of the template.",
          "type": "string"
        }
      },
      "description": "Metadata describing a template.",
      "id": "TemplateMetadata"
    },
    "WorkItemStatus": {
      "description": "Conveys a worker's progress through the work described by a WorkItem.",
      "properties": {
        "reportedProgress": {
          "$ref": "ApproximateReportedProgress",
          "description": "The worker's progress through this WorkItem."
        },
        "completed": {
          "description": "True if the WorkItem was completed (successfully or unsuccessfully).",
          "type": "boolean"
        },
        "totalThrottlerWaitTimeSeconds": {
          "format": "double",
          "description": "Total time the worker spent being throttled by external systems.",
          "type": "number"
        },
        "dynamicSourceSplit": {
          "$ref": "DynamicSourceSplit",
          "description": "See documentation of stop_position."
        },
        "metricUpdates": {
          "items": {
            "$ref": "MetricUpdate"
          },
          "type": "array",
          "description": "DEPRECATED in favor of counter_updates."
        },
        "counterUpdates": {
          "description": "Worker output counters for this WorkItem.",
          "items": {
            "$ref": "CounterUpdate"
          },
          "type": "array"
        },
        "reportIndex": {
          "format": "int64",
          "description": "The report index. When a WorkItem is leased, the lease will contain an initial report index. When a WorkItem's status is reported to the system, the report should be sent with that report index, and the response will contain the index the worker should use for the next report. Reports received with unexpected index values will be rejected by the service. In order to preserve idempotency, the worker should not alter the contents of a report, even if the worker must submit the same report multiple times before getting back a response. The worker should not submit a subsequent report until the response for the previous report had been received from the service.",
          "type": "string"
        },
        "errors": {
          "type": "array",
          "description": "Specifies errors which occurred during processing. If errors are provided, and completed = true, then the WorkItem is considered to have failed.",
          "items": {
            "$ref": "Status"
          }
        },
        "sourceOperationResponse": {
          "$ref": "SourceOperationResponse",
          "description": "If the work item represented a SourceOperationRequest, and the work is completed, contains the result of the operation."
        },
        "workItemId": {
          "type": "string",
          "description": "Identifies the WorkItem."
        },
        "stopPosition": {
          "$ref": "Position",
          "description": "A worker may split an active map task in two parts, \"primary\" and \"residual\", continuing to process the primary part and returning the residual part into the pool of available work. This event is called a \"dynamic split\" and is critical to the dynamic work rebalancing feature. The two obtained sub-tasks are called \"parts\" of the split. The parts, if concatenated, must represent the same input as would be read by the current task if the split did not happen. The exact way in which the original task is decomposed into the two parts is specified either as a position demarcating them (stop_position), or explicitly as two DerivedSources, if this task consumes a user-defined source type (dynamic_source_split). The \"current\" task is adjusted as a result of the split: after a task with range [A, B) sends a stop_position update at C, its range is considered to be [A, C), e.g.: * Progress should be interpreted relative to the new range, e.g. \"75% completed\" means \"75% of [A, C) completed\" * The worker should interpret proposed_stop_position relative to the new range, e.g. \"split at 68%\" should be interpreted as \"split at 68% of [A, C)\". * If the worker chooses to split again using stop_position, only stop_positions in [A, C) will be accepted. * Etc. dynamic_source_split has similar semantics: e.g., if a task with source S splits using dynamic_source_split into {P, R} (where P and R must be together equivalent to S), then subsequent progress and proposed_stop_position should be interpreted relative to P, and in a potential subsequent dynamic_source_split into {P', R'}, P' and R' must be together equivalent to P, etc."
        },
        "requestedLeaseDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Amount of time the worker requests for its lease."
        },
        "progress": {
          "$ref": "ApproximateProgress",
          "description": "DEPRECATED in favor of reported_progress."
        },
        "sourceFork": {
          "$ref": "SourceFork",
          "description": "DEPRECATED in favor of dynamic_source_split."
        }
      },
      "type": "object",
      "id": "WorkItemStatus"
    },
    "CustomSourceLocation": {
      "type": "object",
      "description": "Identifies the location of a custom souce.",
      "id": "CustomSourceLocation",
      "properties": {
        "stateful": {
          "description": "Whether this source is stateful.",
          "type": "boolean"
        }
      }
    },
    "StringList": {
      "type": "object",
      "description": "A metric value representing a list of strings.",
      "id": "StringList",
      "properties": {
        "elements": {
          "items": {
            "type": "string"
          },
          "description": "Elements of the list.",
          "type": "array"
        }
      }
    },
    "IntegerList": {
      "properties": {
        "elements": {
          "items": {
            "$ref": "SplitInt64"
          },
          "description": "Elements of the list.",
          "type": "array"
        }
      },
      "description": "A metric value representing a list of integers.",
      "type": "object",
      "id": "IntegerList"
    },
    "JobMetrics": {
      "type": "object",
      "description": "JobMetrics contains a collection of metrics describing the detailed progress of a Dataflow job. Metrics correspond to user-defined and system-defined metrics in the job. This resource captures only the most recent values of each metric; time-series data can be queried for them (under the same metric names) from Cloud Monitoring.",
      "properties": {
        "metricTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp as of which metric values are current."
        },
        "metrics": {
          "description": "All metrics for this job.",
          "type": "array",
          "items": {
            "$ref": "MetricUpdate"
          }
        }
      },
      "id": "JobMetrics"
    },
    "DebugOptions": {
      "properties": {
        "enableHotKeyLogging": {
          "description": "When true, enables the logging of the literal hot key to the user's Cloud Logging.",
          "type": "boolean"
        }
      },
      "id": "DebugOptions",
      "type": "object",
      "description": "Describes any options that have an effect on the debugging of pipelines."
    },
    "CounterUpdate": {
      "properties": {
        "shortId": {
          "format": "int64",
          "description": "The service-generated short identifier for this counter. The short_id -\u003e (name, metadata) mapping is constant for the lifetime of a job.",
          "type": "string"
        },
        "distribution": {
          "$ref": "DistributionUpdate",
          "description": "Distribution data"
        },
        "floatingPoint": {
          "type": "number",
          "format": "double",
          "description": "Floating point value for Sum, Max, Min."
        },
        "stringList": {
          "description": "List of strings, for Set.",
          "$ref": "StringList"
        },
        "internal": {
          "description": "Value for internally-defined counters used by the Dataflow service.",
          "type": "any"
        },
        "cumulative": {
          "type": "boolean",
          "description": "True if this counter is reported as the total cumulative aggregate value accumulated since the worker started working on this WorkItem. By default this is false, indicating that this counter is reported as a delta."
        },
        "floatingPointList": {
          "description": "List of floating point numbers, for Set.",
          "$ref": "FloatingPointList"
        },
        "floatingPointMean": {
          "$ref": "FloatingPointMean",
          "description": "Floating point mean aggregation value for Mean."
        },
        "boolean": {
          "type": "boolean",
          "description": "Boolean value for And, Or."
        },
        "structuredNameAndMetadata": {
          "$ref": "CounterStructuredNameAndMetadata",
          "description": "Counter structured name and metadata."
        },
        "integerMean": {
          "description": "Integer mean aggregation value for Mean.",
          "$ref": "IntegerMean"
        },
        "integer": {
          "$ref": "SplitInt64",
          "description": "Integer value for Sum, Max, Min."
        },
        "integerGauge": {
          "$ref": "IntegerGauge",
          "description": "Gauge data"
        },
        "integerList": {
          "$ref": "IntegerList",
          "description": "List of integers, for Set."
        },
        "nameAndKind": {
          "description": "Counter name and aggregation type.",
          "$ref": "NameAndKind"
        }
      },
      "description": "An update to a Counter sent from a worker.",
      "id": "CounterUpdate",
      "type": "object"
    },
    "ApproximateSplitRequest": {
      "properties": {
        "fractionOfRemainder": {
          "description": "The fraction of the remainder of work to split the work item at, from 0.0 (split at the current position) to 1.0 (end of the input).",
          "format": "double",
          "type": "number"
        },
        "fractionConsumed": {
          "type": "number",
          "format": "double",
          "description": "A fraction at which to split the work item, from 0.0 (beginning of the input) to 1.0 (end of the input)."
        },
        "position": {
          "description": "A Position at which to split the work item.",
          "$ref": "Position"
        }
      },
      "description": "A suggestion by the service to the worker to dynamically split the WorkItem.",
      "id": "ApproximateSplitRequest",
      "type": "object"
    },
    "LaunchFlexTemplateResponse": {
      "id": "LaunchFlexTemplateResponse",
      "type": "object",
      "description": "Response to the request to launch a job from Flex Template.",
      "properties": {
        "job": {
          "description": "The job that was launched, if the request was not a dry run and the job was successfully launched.",
          "$ref": "Job"
        }
      }
    },
    "CounterStructuredName": {
      "properties": {
        "inputIndex": {
          "type": "integer",
          "format": "int32",
          "description": "Index of an input collection that's being read from/written to as a side input. The index identifies a step's side inputs starting by 1 (e.g. the first side input has input_index 1, the third has input_index 3). Side inputs are identified by a pair of (original_step_name, input_index). This field helps uniquely identify them."
        },
        "originalStepName": {
          "type": "string",
          "description": "System generated name of the original step in the user's graph, before optimization."
        },
        "workerId": {
          "type": "string",
          "description": "ID of a particular worker."
        },
        "name": {
          "description": "Counter name. Not necessarily globally-unique, but unique within the context of the other fields. Required.",
          "type": "string"
        },
        "originalRequestingStepName": {
          "description": "The step name requesting an operation, such as GBK. I.e. the ParDo causing a read/write from shuffle to occur, or a read from side inputs.",
          "type": "string"
        },
        "componentStepName": {
          "description": "Name of the optimized step being executed by the workers.",
          "type": "string"
        },
        "origin": {
          "enum": [
            "SYSTEM",
            "USER"
          ],
          "type": "string",
          "description": "One of the standard Origins defined above.",
          "enumDescriptions": [
            "Counter was created by the Dataflow system.",
            "Counter was created by the user."
          ]
        },
        "originNamespace": {
          "type": "string",
          "description": "A string containing a more specific namespace of the counter's origin."
        },
        "portion": {
          "enumDescriptions": [
            "Counter portion has not been set.",
            "Counter reports a key.",
            "Counter reports a value."
          ],
          "type": "string",
          "description": "Portion of this counter, either key or value.",
          "enum": [
            "ALL",
            "KEY",
            "VALUE"
          ]
        },
        "executionStepName": {
          "description": "Name of the stage. An execution step contains multiple component steps.",
          "type": "string"
        }
      },
      "description": "Identifies a counter within a per-job namespace. Counters whose structured names are the same get merged into a single value for the job.",
      "id": "CounterStructuredName",
      "type": "object"
    },
    "ParDoInstruction": {
      "description": "An instruction that does a ParDo operation. Takes one main input and zero or more side inputs, and produces zero or more outputs. Runs user code.",
      "type": "object",
      "id": "ParDoInstruction",
      "properties": {
        "multiOutputInfos": {
          "type": "array",
          "items": {
            "$ref": "MultiOutputInfo"
          },
          "description": "Information about each of the outputs, if user_fn is a MultiDoFn."
        },
        "numOutputs": {
          "description": "The number of outputs.",
          "format": "int32",
          "type": "integer"
        },
        "sideInputs": {
          "description": "Zero or more side inputs.",
          "type": "array",
          "items": {
            "$ref": "SideInputInfo"
          }
        },
        "userFn": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The user function to invoke.",
          "type": "object"
        },
        "input": {
          "$ref": "InstructionInput",
          "description": "The input."
        }
      }
    },
    "FlexTemplateRuntimeEnvironment": {
      "type": "object",
      "properties": {
        "additionalExperiments": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional experiment flags for the job."
        },
        "ipConfiguration": {
          "description": "Configuration for VM IPs.",
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ],
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ],
          "type": "string"
        },
        "stagingLocation": {
          "type": "string",
          "description": "The Cloud Storage path for staging local files. Must be a valid Cloud Storage URL, beginning with `gs://`."
        },
        "tempLocation": {
          "description": "The Cloud Storage path to use for temporary files. Must be a valid Cloud Storage URL, beginning with `gs://`.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "The Compute Engine [availability zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones) for launching worker instances to run your pipeline. In the future, worker_zone will take precedence."
        },
        "machineType": {
          "description": "The machine type to use for the job. Defaults to the value from the template if not specified.",
          "type": "string"
        },
        "workerZone": {
          "type": "string",
          "description": "The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity. If both `worker_zone` and `zone` are set, `worker_zone` takes precedence."
        },
        "maxWorkers": {
          "description": "The maximum number of Google Compute Engine instances to be made available to your pipeline during execution, from 1 to 1000.",
          "type": "integer",
          "format": "int32"
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "The email address of the service account to run the job as."
        },
        "additionalUserLabels": {
          "type": "object",
          "description": "Additional user labels to be specified for the job. Keys and values must follow the restrictions specified in the [labeling restrictions](https://cloud.google.com/compute/docs/labeling-resources#restrictions) page. An object containing a list of \"key\": value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1kg\", \"count\": \"3\" }.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "flexrsGoal": {
          "type": "string",
          "description": "Set FlexRS goal for the job. https://cloud.google.com/dataflow/docs/guides/flexrs",
          "enumDescriptions": [
            "Run in the default mode.",
            "Optimize for lower execution time.",
            "Optimize for lower cost."
          ],
          "enum": [
            "FLEXRS_UNSPECIFIED",
            "FLEXRS_SPEED_OPTIMIZED",
            "FLEXRS_COST_OPTIMIZED"
          ]
        },
        "numWorkers": {
          "description": "The initial number of Google Compute Engine instances for the job.",
          "format": "int32",
          "type": "integer"
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Name for the Cloud KMS key for the job. Key format is: projects//locations//keyRings//cryptoKeys/"
        },
        "network": {
          "description": "Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\".",
          "type": "string"
        },
        "enableStreamingEngine": {
          "type": "boolean",
          "description": "Whether to enable Streaming Engine for the job."
        },
        "subnetwork": {
          "description": "Subnetwork to which VMs will be assigned, if desired. You can specify a subnetwork using either a complete URL or an abbreviated path. Expected to be of the form \"https://www.googleapis.com/compute/v1/projects/HOST_PROJECT_ID/regions/REGION/subnetworks/SUBNETWORK\" or \"regions/REGION/subnetworks/SUBNETWORK\". If the subnetwork is located in a Shared VPC network, you must use the complete URL.",
          "type": "string"
        },
        "workerRegion": {
          "description": "The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, default to the control plane's region.",
          "type": "string"
        }
      },
      "description": "The environment values to be set at runtime for flex template.",
      "id": "FlexTemplateRuntimeEnvironment"
    },
    "SourceMetadata": {
      "id": "SourceMetadata",
      "description": "Metadata about a Source useful for automatically optimizing and tuning the pipeline, etc.",
      "type": "object",
      "properties": {
        "producesSortedKeys": {
          "description": "Whether this source is known to produce key/value pairs with the (encoded) keys in lexicographically sorted order.",
          "type": "boolean"
        },
        "estimatedSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "An estimate of the total size (in bytes) of the data that would be read from this source. This estimate is in terms of external storage size, before any decompression or other processing done by the reader."
        },
        "infinite": {
          "type": "boolean",
          "description": "Specifies that the size of this source is known to be infinite (this is a streaming source)."
        }
      }
    },
    "SideInputInfo": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "How to interpret the source element(s) as a side input value."
        },
        "sources": {
          "items": {
            "$ref": "Source"
          },
          "description": "The source(s) to read element(s) from to get the value of this side input. If more than one source, then the elements are taken from the sources, in the specified order if order matters. At least one source is required.",
          "type": "array"
        },
        "tag": {
          "description": "The id of the tag the user code will access this side input by; this should correspond to the tag of some MultiOutputInfo.",
          "type": "string"
        }
      },
      "id": "SideInputInfo",
      "description": "Information about a side input of a DoFn or an input of a SeqDoFn."
    },
    "CounterStructuredNameAndMetadata": {
      "id": "CounterStructuredNameAndMetadata",
      "type": "object",
      "description": "A single message which encapsulates structured name and metadata for a given counter.",
      "properties": {
        "name": {
          "description": "Structured name of the counter.",
          "$ref": "CounterStructuredName"
        },
        "metadata": {
          "$ref": "CounterMetadata",
          "description": "Metadata associated with a counter"
        }
      }
    },
    "GetTemplateResponse": {
      "properties": {
        "metadata": {
          "$ref": "TemplateMetadata",
          "description": "The template metadata describing the template name, available parameters, etc."
        },
        "runtimeMetadata": {
          "description": "Describes the runtime metadata with SDKInfo and available parameters.",
          "$ref": "RuntimeMetadata"
        },
        "templateType": {
          "description": "Template Type.",
          "enumDescriptions": [
            "Unknown Template Type.",
            "Legacy Template.",
            "Flex Template."
          ],
          "enum": [
            "UNKNOWN",
            "LEGACY",
            "FLEX"
          ],
          "type": "string"
        },
        "status": {
          "description": "The status of the get template request. Any problems with the request will be indicated in the error_details.",
          "$ref": "Status"
        }
      },
      "id": "GetTemplateResponse",
      "description": "The response to a GetTemplate request.",
      "type": "object"
    },
    "WorkerHealthReport": {
      "type": "object",
      "id": "WorkerHealthReport",
      "description": "WorkerHealthReport contains information about the health of a worker. The VM should be identified by the labels attached to the WorkerMessage that this health ping belongs to.",
      "properties": {
        "pods": {
          "type": "array",
          "description": "The pods running on the worker. See: http://kubernetes.io/v1.1/docs/api-reference/v1/definitions.html#_v1_pod This field is used by the worker to send the status of the indvidual containers running on each worker.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            },
            "type": "object"
          }
        },
        "vmBrokenCode": {
          "type": "string",
          "description": "Code to describe a specific reason, if known, that a VM has reported broken state."
        },
        "vmStartupTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the VM was booted."
        },
        "vmIsHealthy": {
          "type": "boolean",
          "description": "Whether the VM is currently healthy."
        },
        "msg": {
          "description": "Message describing any unusual health reports.",
          "type": "string"
        },
        "vmIsBroken": {
          "type": "boolean",
          "description": "Whether the VM is in a permanently broken state. Broken VMs should be abandoned or deleted ASAP to avoid assigning or completing any work."
        },
        "reportInterval": {
          "description": "The interval at which the worker is sending health reports. The default value of 0 should be interpreted as the field is not being explicitly set by the worker.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "Package": {
      "properties": {
        "name": {
          "description": "The name of the package.",
          "type": "string"
        },
        "location": {
          "description": "The resource to read the package from. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket} bucket.storage.googleapis.com/",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The packages that must be installed in order for a worker to run the steps of the Cloud Dataflow job that will be assigned to its worker pool. This is the mechanism by which the Cloud Dataflow SDK causes code to be loaded onto the workers. For example, the Cloud Dataflow Java SDK might use this to install jars containing the user's code and all of the various dependencies (libraries, data files, etc.) required in order for that code to run.",
      "id": "Package"
    },
    "SourceOperationRequest": {
      "description": "A work item that represents the different operations that can be performed on a user-defined Source specification.",
      "type": "object",
      "properties": {
        "split": {
          "description": "Information about a request to split a source.",
          "$ref": "SourceSplitRequest"
        },
        "getMetadata": {
          "description": "Information about a request to get metadata about a source.",
          "$ref": "SourceGetMetadataRequest"
        },
        "originalName": {
          "description": "System-defined name for the Read instruction for this source in the original workflow graph.",
          "type": "string"
        },
        "systemName": {
          "description": "System-defined name of the Read instruction for this source. Unique across the workflow.",
          "type": "string"
        },
        "stageName": {
          "type": "string",
          "description": "System-defined name of the stage containing the source operation. Unique across the workflow."
        },
        "name": {
          "description": "User-provided name of the Read instruction for this source.",
          "type": "string"
        }
      },
      "id": "SourceOperationRequest"
    },
    "ValidateResponse": {
      "type": "object",
      "id": "ValidateResponse",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "Will be empty if validation succeeds."
        },
        "queryInfo": {
          "$ref": "QueryInfo",
          "description": "Information about the validated query. Not defined if validation fails."
        }
      },
      "description": "Response to the validation request."
    },
    "WorkerMessageResponse": {
      "properties": {
        "workerHealthReportResponse": {
          "$ref": "WorkerHealthReportResponse",
          "description": "The service's response to a worker's health report."
        },
        "workerShutdownNoticeResponse": {
          "description": "Service's response to shutdown notice (currently empty).",
          "$ref": "WorkerShutdownNoticeResponse"
        },
        "workerMetricsResponse": {
          "description": "Service's response to reporting worker metrics (currently empty).",
          "$ref": "ResourceUtilizationReportResponse"
        }
      },
      "id": "WorkerMessageResponse",
      "description": "A worker_message response allows the server to pass information to the sender.",
      "type": "object"
    },
    "RuntimeEnvironment": {
      "type": "object",
      "id": "RuntimeEnvironment",
      "properties": {
        "machineType": {
          "description": "The machine type to use for the job. Defaults to the value from the template if not specified.",
          "type": "string"
        },
        "additionalUserLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Additional user labels to be specified for the job. Keys and values should follow the restrictions specified in the [labeling restrictions](https://cloud.google.com/compute/docs/labeling-resources#restrictions) page. An object containing a list of \"key\": value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1kg\", \"count\": \"3\" }."
        },
        "workerZone": {
          "type": "string",
          "description": "The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity. If both `worker_zone` and `zone` are set, `worker_zone` takes precedence."
        },
        "network": {
          "description": "Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\".",
          "type": "string"
        },
        "numWorkers": {
          "description": "The initial number of Google Compute Engine instnaces for the job.",
          "format": "int32",
          "type": "integer"
        },
        "bypassTempDirValidation": {
          "description": "Whether to bypass the safety checks for the job's temporary directory. Use with caution.",
          "type": "boolean"
        },
        "zone": {
          "description": "The Compute Engine [availability zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones) for launching worker instances to run your pipeline. In the future, worker_zone will take precedence.",
          "type": "string"
        },
        "additionalExperiments": {
          "type": "array",
          "description": "Additional experiment flags for the job.",
          "items": {
            "type": "string"
          }
        },
        "serviceAccountEmail": {
          "description": "The email address of the service account to run the job as.",
          "type": "string"
        },
        "workerRegion": {
          "type": "string",
          "description": "The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, default to the control plane's region."
        },
        "subnetwork": {
          "type": "string",
          "description": "Subnetwork to which VMs will be assigned, if desired. You can specify a subnetwork using either a complete URL or an abbreviated path. Expected to be of the form \"https://www.googleapis.com/compute/v1/projects/HOST_PROJECT_ID/regions/REGION/subnetworks/SUBNETWORK\" or \"regions/REGION/subnetworks/SUBNETWORK\". If the subnetwork is located in a Shared VPC network, you must use the complete URL."
        },
        "maxWorkers": {
[...]
