{
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "description": "Dataplex API is used to manage the lifecycle of data lakes.",
  "servicePath": "",
  "name": "dataplex",
  "documentationLink": "https://cloud.google.com/dataplex/docs",
  "canonicalName": "Cloud Dataplex",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "id": "dataplex:v1",
  "mtlsRootUrl": "https://dataplex.mtls.googleapis.com/",
  "revision": "20220509",
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "rootUrl": "https://dataplex.googleapis.com/",
  "version_module": true,
  "protocol": "rest",
  "ownerDomain": "google.com",
  "baseUrl": "https://dataplex.googleapis.com/",
  "schemas": {
    "GoogleCloudDataplexV1EntityCompatibilityStatus": {
      "id": "GoogleCloudDataplexV1EntityCompatibilityStatus",
      "type": "object",
      "properties": {
        "hiveMetastore": {
          "$ref": "GoogleCloudDataplexV1EntityCompatibilityStatusCompatibility",
          "description": "Output only. Whether this entity is compatible with Hive Metastore.",
          "readOnly": true
        },
        "bigquery": {
          "readOnly": true,
          "description": "Output only. Whether this entity is compatible with BigQuery.",
          "$ref": "GoogleCloudDataplexV1EntityCompatibilityStatusCompatibility"
        }
      },
      "description": "Provides compatibility information for various metadata stores."
    },
    "GoogleCloudDataplexV1ActionMissingResource": {
      "type": "object",
      "description": "Action details for resource references in assets that cannot be located.",
      "id": "GoogleCloudDataplexV1ActionMissingResource",
      "properties": {}
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "description": "A subset of TestPermissionsRequest.permissions that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "description": "Response message for TestIamPermissions method."
    },
    "GoogleCloudDataplexV1SchemaSchemaField": {
      "id": "GoogleCloudDataplexV1SchemaSchemaField",
      "properties": {
        "description": {
          "description": "Optional. User friendly field description. Must be less than or equal to 1024 characters.",
          "type": "string"
        },
        "fields": {
          "description": "Optional. Any nested field for complex types.",
          "items": {
            "$ref": "GoogleCloudDataplexV1SchemaSchemaField"
          },
          "type": "array"
        },
        "name": {
          "description": "Required. The name of the field. Must contain only letters, numbers and underscores, with a maximum length of 767 characters, and must begin with a letter or underscore.",
          "type": "string"
        },
        "mode": {
          "type": "string",
          "enumDescriptions": [
            "Mode unspecified.",
            "The field has required semantics.",
            "The field has optional semantics, and may be null.",
            "The field has repeated (0 or more) semantics, and is a list of values."
          ],
          "description": "Required. Additional field semantics.",
          "enum": [
            "MODE_UNSPECIFIED",
            "REQUIRED",
            "NULLABLE",
            "REPEATED"
          ]
        },
        "type": {
          "enumDescriptions": [
            "SchemaType unspecified.",
            "Boolean field.",
            "Single byte numeric field.",
            "16-bit numeric field.",
            "32-bit numeric field.",
            "64-bit numeric field.",
            "Floating point numeric field.",
            "Double precision numeric field.",
            "Real value numeric field.",
            "Sequence of characters field.",
            "Sequence of bytes field.",
            "Date and time field.",
            "Date field.",
            "Time field.",
            "Structured field. Nested fields that define the structure of the map. If all nested fields are nullable, this field represents a union.",
            "Null field that does not have values."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "BOOLEAN",
            "BYTE",
            "INT16",
            "INT32",
            "INT64",
            "FLOAT",
            "DOUBLE",
            "DECIMAL",
            "STRING",
            "BINARY",
            "TIMESTAMP",
            "DATE",
            "TIME",
            "RECORD",
            "NULL"
          ],
          "description": "Required. The type of field.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a column field within a table schema."
    },
    "GoogleCloudDataplexV1ZoneDiscoverySpecJsonOptions": {
      "properties": {
        "encoding": {
          "description": "Optional. The character encoding of the data. The default is UTF-8.",
          "type": "string"
        },
        "disableTypeInference": {
          "description": "Optional. Whether to disable the inference of data type for Json data. If true, all columns will be registered as their primitive types (strings, number or boolean).",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Describe JSON data format.",
      "id": "GoogleCloudDataplexV1ZoneDiscoverySpecJsonOptions"
    },
    "GoogleCloudDataplexV1ActionFailedSecurityPolicyApply": {
      "description": "Failed to apply security policy to the managed resource(s) under a lake, zone or an asset. For a lake or zone resource, one or more underlying assets has a failure applying security policy to the associated managed resource.",
      "properties": {
        "asset": {
          "type": "string",
          "description": "Resource name of one of the assets with failing security policy application. Populated for a lake or zone resource only."
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1ActionFailedSecurityPolicyApply"
    },
    "GoogleCloudDataplexV1Asset": {
      "type": "object",
      "id": "GoogleCloudDataplexV1Asset",
      "description": "An asset represents a cloud resource that is being managed within a lake as a member of a zone.",
      "properties": {
        "resourceStatus": {
          "$ref": "GoogleCloudDataplexV1AssetResourceStatus",
          "description": "Output only. Status of the resource referenced by this asset.",
          "readOnly": true
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. System generated globally unique ID for the asset. This ID will be different if the asset is deleted and re-created with the same name."
        },
        "state": {
          "enumDescriptions": [
            "State is not specified.",
            "Resource is active, i.e., ready to use.",
            "Resource is under creation.",
            "Resource is under deletion.",
            "Resource is active but has unresolved actions."
          ],
          "readOnly": true,
          "description": "Output only. Current state of the asset.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "ACTION_REQUIRED"
          ]
        },
        "resourceSpec": {
          "$ref": "GoogleCloudDataplexV1AssetResourceSpec",
          "description": "Required. Specification of the resource that is referenced by this asset."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The relative resource name of the asset, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}/assets/{asset_id}."
        },
        "discoverySpec": {
          "description": "Optional. Specification of the discovery feature applied to data referenced by this asset. When this spec is left unset, the asset will use the spec set on the parent zone.",
          "$ref": "GoogleCloudDataplexV1AssetDiscoverySpec"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the asset."
        },
        "securityStatus": {
          "description": "Output only. Status of the security policy applied to resource referenced by this asset.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1AssetSecurityStatus"
        },
        "discoveryStatus": {
          "description": "Output only. Status of the discovery feature applied to data referenced by this asset.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1AssetDiscoveryStatus"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the asset was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the asset was last updated."
        },
        "labels": {
          "type": "object",
          "description": "Optional. User defined labels for the asset.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "Optional. User friendly display name.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1DiscoveryEventConfigDetails": {
      "properties": {
        "parameters": {
          "description": "A list of discovery configuration parameters in effect. The keys are the field paths within DiscoverySpec. Eg. includePatterns, excludePatterns, csvOptions.disableTypeInference, etc.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Details about configuration events.",
      "id": "GoogleCloudDataplexV1DiscoveryEventConfigDetails"
    },
    "GoogleIamV1AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array"
        },
        "logType": {
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string",
          "description": "The log type that this config enables."
        }
      },
      "id": "GoogleIamV1AuditLogConfig",
      "type": "object"
    },
    "GoogleCloudDataplexV1ActionInvalidDataFormat": {
      "description": "Action details for invalid or unsupported data files detected by discovery.",
      "type": "object",
      "id": "GoogleCloudDataplexV1ActionInvalidDataFormat",
      "properties": {
        "sampledDataLocations": {
          "description": "The list of data locations sampled and used for format/schema inference.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "expectedFormat": {
          "type": "string",
          "description": "The expected data format of the entity."
        },
        "newFormat": {
          "description": "The new unexpected data format within the entity.",
          "type": "string"
        }
      }
    },
    "GoogleIamV1Policy": {
      "type": "object",
      "id": "GoogleIamV1Policy",
      "properties": {
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy.Valid values are 0, 1, and 3. Requests that specify an invalid value are rejected.Any operation that affects conditional role bindings must specify version 3. This requirement applies to the following operations: Getting a policy that includes a conditional role binding Adding a conditional role binding to a policy Changing a conditional role binding in a policy Removing any role binding, with or without a condition, from a policy that includes conditionsImportant: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "auditConfigs": {
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array"
        },
        "etag": {
          "description": "etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to getIamPolicy, and systems are expected to put that etag in the request to setIamPolicy to ensure that their change will be applied to the same version of the policy.Important: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.",
          "format": "byte",
          "type": "string"
        },
        "bindings": {
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "type": "array",
          "description": "Associates a list of members, or principals, with a role. Optionally, may specify a condition that determines how and when the bindings are applied. Each of the bindings must contain at least one principal.The bindings in a Policy can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the bindings grant 50 different roles to user:alice@example.com, and not to any other principal, then you can add another 1,450 principals to the bindings in the Policy."
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources.A Policy is a collection of bindings. A binding binds one or more members, or principals, to a single role. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A role is a named list of permissions; each role can be an IAM predefined role or a user-created custom role.For some types of Google Cloud resources, a binding can also specify a condition, which is a logical expression that allows access to a resource only if the expression evaluates to true. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).JSON example: { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } YAML example: bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the IAM documentation (https://cloud.google.com/iam/docs/)."
    },
    "GoogleCloudDataplexV1ListPartitionsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no remaining results in the list.",
          "type": "string"
        },
        "partitions": {
          "description": "Partitions under the specified parent entity.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1Partition"
          }
        }
      },
      "id": "GoogleCloudDataplexV1ListPartitionsResponse",
      "description": "List metadata partitions response.",
      "type": "object"
    },
    "GoogleCloudDataplexV1TaskExecutionSpec": {
      "properties": {
        "args": {
          "description": "Optional. The arguments to pass to the task. The args can use placeholders of the format ${placeholder} as part of key/value string. These will be interpolated before passing the args to the driver. Currently supported placeholders: - ${task_id} - ${job_time} To pass positional args, set the key as TASK_ARGS. The value should be a comma-separated string of all the positional arguments. To use a delimiter other than comma, refer to https://cloud.google.com/sdk/gcloud/reference/topic/escaping. In case of other keys being present in the args, then TASK_ARGS will be passed as the last argument.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "serviceAccount": {
          "description": "Required. Service account to use to execute a task. If not provided, the default Compute service account for the project is used.",
          "type": "string"
        },
        "project": {
          "description": "Optional. The project in which jobs are run. By default, the project containing the Lake is used. If a project is provided, the executionspec.service_account must belong to this same project.",
          "type": "string"
        },
        "maxJobExecutionLifetime": {
          "format": "google-duration",
          "description": "Optional. The maximum duration after which the job execution is expired.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1TaskExecutionSpec",
      "description": "Execution related settings, like retry and service_account."
    },
    "GoogleCloudDataplexV1EnvironmentInfrastructureSpecComputeResources": {
      "description": "Compute resources associated with the analyze interactive workloads.",
      "type": "object",
      "id": "GoogleCloudDataplexV1EnvironmentInfrastructureSpecComputeResources",
      "properties": {
        "maxNodeCount": {
          "description": "Optional. Max configurable nodes. If max_node_count \u003e node_count, then auto-scaling is enabled.",
          "type": "integer",
          "format": "int32"
        },
        "nodeCount": {
          "format": "int32",
          "description": "Optional. Total number of nodes in the sessions created for this environment.",
          "type": "integer"
        },
        "diskSizeGb": {
          "format": "int32",
          "description": "Optional. Size in GB of the disk. Default is 100 GB.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDataplexV1ZoneDiscoverySpec": {
      "description": "Settings to manage the metadata discovery and publishing in a zone.",
      "properties": {
        "csvOptions": {
          "description": "Optional. Configuration for CSV data.",
          "$ref": "GoogleCloudDataplexV1ZoneDiscoverySpecCsvOptions"
        },
        "schedule": {
          "description": "Optional. Cron schedule (https://en.wikipedia.org/wiki/Cron) for running discovery periodically. Successive discovery runs must be scheduled at least 60 minutes apart. The default value is to run discovery every 60 minutes. To explicitly set a timezone to the cron tab, apply a prefix in the cron tab: \"CRON_TZ=${IANA_TIME_ZONE}\" or TZ=${IANA_TIME_ZONE}\". The ${IANA_TIME_ZONE} may only be a valid string from IANA time zone database. For example, \"CRON_TZ=America/New_York 1 * * * *\", or \"TZ=America/New_York 1 * * * *\".",
          "type": "string"
        },
        "includePatterns": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The list of patterns to apply for selecting data to include during discovery if only a subset of the data should considered. For Cloud Storage bucket assets, these are interpreted as glob patterns used to match object names. For BigQuery dataset assets, these are interpreted as patterns to match table names."
        },
        "enabled": {
          "type": "boolean",
          "description": "Required. Whether discovery is enabled."
        },
        "jsonOptions": {
          "description": "Optional. Configuration for Json data.",
          "$ref": "GoogleCloudDataplexV1ZoneDiscoverySpecJsonOptions"
        },
        "excludePatterns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of patterns to apply for selecting data to exclude during discovery. For Cloud Storage bucket assets, these are interpreted as glob patterns used to match object names. For BigQuery dataset assets, these are interpreted as patterns to match table names."
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1ZoneDiscoverySpec"
    },
    "GoogleIamV1AuditConfig": {
      "properties": {
        "auditLogConfigs": {
          "type": "array",
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          }
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, storage.googleapis.com, cloudsql.googleapis.com. allServices is a special value that covers all services.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs.If there are AuditConfigs for both allServices and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted.Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging.",
      "id": "GoogleIamV1AuditConfig"
    },
    "GoogleCloudDataplexV1ListEnvironmentsResponse": {
      "type": "object",
      "id": "GoogleCloudDataplexV1ListEnvironmentsResponse",
      "description": "List environments response.",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "environments": {
          "items": {
            "$ref": "GoogleCloudDataplexV1Environment"
          },
          "type": "array",
          "description": "Environments under the given parent lake."
        }
      }
    },
    "GoogleCloudDataplexV1LakeMetastoreStatus": {
      "type": "object",
      "properties": {
        "message": {
          "description": "Additional information about the current status.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "NONE",
            "READY",
            "UPDATING",
            "ERROR"
          ],
          "type": "string",
          "description": "Current state of association.",
          "enumDescriptions": [
            "Unspecified.",
            "A Metastore service instance is not associated with the lake.",
            "A Metastore service instance is attached to the lake.",
            "Attach/detach is in progress.",
            "Attach/detach could not be done due to errors."
          ]
        },
        "endpoint": {
          "type": "string",
          "description": "The URI of the endpoint used to access the Metastore service."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Last update time of the metastore status of the lake.",
          "type": "string"
        }
      },
      "description": "Status of Lake and Dataproc Metastore service instance association.",
      "id": "GoogleCloudDataplexV1LakeMetastoreStatus"
    },
    "GoogleCloudDataplexV1SchemaPartitionField": {
      "description": "Represents a key field within the entity's partition structure. You could have up to 20 partition fields, but only the first 10 partitions have the filtering ability due to performance consideration. Note: Partition fields are immutable.",
      "properties": {
        "name": {
          "description": "Required. Partition field name must consist of letters, numbers, and underscores only, with a maximum of length of 256 characters, and must begin with a letter or underscore..",
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "BOOLEAN",
            "BYTE",
            "INT16",
            "INT32",
            "INT64",
            "FLOAT",
            "DOUBLE",
            "DECIMAL",
            "STRING",
            "BINARY",
            "TIMESTAMP",
            "DATE",
            "TIME",
            "RECORD",
            "NULL"
          ],
          "type": "string",
          "description": "Required. Immutable. The type of field.",
          "enumDescriptions": [
            "SchemaType unspecified.",
            "Boolean field.",
            "Single byte numeric field.",
            "16-bit numeric field.",
            "32-bit numeric field.",
            "64-bit numeric field.",
            "Floating point numeric field.",
            "Double precision numeric field.",
            "Real value numeric field.",
            "Sequence of characters field.",
            "Sequence of bytes field.",
            "Date and time field.",
            "Date field.",
            "Time field.",
            "Structured field. Nested fields that define the structure of the map. If all nested fields are nullable, this field represents a union.",
            "Null field that does not have values."
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1SchemaPartitionField"
    },
    "GoogleCloudDataplexV1ListContentResponse": {
      "description": "List content response.",
      "properties": {
        "content": {
          "items": {
            "$ref": "GoogleCloudDataplexV1Content"
          },
          "type": "array",
          "description": "Content under the given parent lake."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "id": "GoogleCloudDataplexV1ListContentResponse",
      "type": "object"
    },
    "GoogleCloudDataplexV1ListSessionsResponse": {
      "type": "object",
      "description": "List sessions response.",
      "id": "GoogleCloudDataplexV1ListSessionsResponse",
      "properties": {
        "sessions": {
          "type": "array",
          "description": "Sessions under a given environment.",
          "items": {
            "$ref": "GoogleCloudDataplexV1Session"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      }
    },
    "GoogleCloudDataplexV1ContentNotebook": {
      "properties": {
        "kernelType": {
          "enum": [
            "KERNEL_TYPE_UNSPECIFIED",
            "PYTHON3"
          ],
          "enumDescriptions": [
            "Kernel Type unspecified.",
            "Python 3 Kernel."
          ],
          "description": "Required. Kernel Type of the notebook.",
          "type": "string"
        }
      },
      "description": "Configuration for Notebook content.",
      "type": "object",
      "id": "GoogleCloudDataplexV1ContentNotebook"
    },
    "GoogleCloudDataplexV1AssetDiscoveryStatusStats": {
      "id": "GoogleCloudDataplexV1AssetDiscoveryStatusStats",
      "properties": {
        "filesets": {
          "description": "The count of fileset entities within the referenced resource.",
          "format": "int64",
          "type": "string"
        },
        "dataSize": {
          "format": "int64",
          "type": "string",
          "description": "The number of stored data bytes within the referenced resource."
        },
        "tables": {
          "description": "The count of table entities within the referenced resource.",
          "format": "int64",
          "type": "string"
        },
        "dataItems": {
          "type": "string",
          "description": "The count of data items within the referenced resource.",
          "format": "int64"
        }
      },
      "description": "The aggregated data statistics for the asset reported by discovery.",
      "type": "object"
    },
    "GoogleCloudDataplexV1JobEvent": {
      "properties": {
        "jobId": {
          "description": "The unique id identifying the job.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "ABORTED"
          ],
          "description": "The job state on completion.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified job state.",
            "Job successfully completed.",
            "Job was unsuccessful.",
            "Job was cancelled by the user.",
            "Job was cancelled or aborted via the service executing the job."
          ]
        },
        "message": {
          "description": "The log message.",
          "type": "string"
        },
        "retries": {
          "description": "The number of retries.",
          "format": "int32",
          "type": "integer"
        },
        "serviceJob": {
          "type": "string",
          "description": "The reference to the job within the service."
        },
        "service": {
          "enumDescriptions": [
            "Unspecified service.",
            "Cloud Dataproc."
          ],
          "description": "The service used to execute the job.",
          "type": "string",
          "enum": [
            "SERVICE_UNSPECIFIED",
            "DATAPROC"
          ]
        },
        "endTime": {
          "type": "string",
          "description": "The time when the job ended running.",
          "format": "google-datetime"
        },
        "type": {
          "description": "The type of the job.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "SPARK",
            "NOTEBOOK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified job type.",
            "Spark jobs.",
            "Notebook jobs."
          ]
        },
        "startTime": {
          "description": "The time when the job started running.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "The payload associated with Job logs that contains events describing jobs that have run within a Lake.",
      "id": "GoogleCloudDataplexV1JobEvent"
    },
    "GoogleCloudDataplexV1Environment": {
      "id": "GoogleCloudDataplexV1Environment",
      "type": "object",
      "description": "Environment represents a user-visible compute infrastructure for analytics within a lake.",
      "properties": {
        "sessionStatus": {
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1EnvironmentSessionStatus",
          "description": "Output only. Status of sessions created for this environment."
        },
        "sessionSpec": {
          "description": "Optional. Configuration for sessions created for this environment.",
          "$ref": "GoogleCloudDataplexV1EnvironmentSessionSpec"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User friendly display name."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the environment was last updated.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. The relative resource name of the environment, of the form: projects/{project_id}/locations/{location_id}/lakes/{lake_id}/environment/{environment_id}",
          "readOnly": true
        },
        "state": {
          "description": "Output only. Current state of the environment.",
          "enumDescriptions": [
            "State is not specified.",
            "Resource is active, i.e., ready to use.",
            "Resource is under creation.",
            "Resource is under deletion.",
            "Resource is active but has unresolved actions."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "ACTION_REQUIRED"
          ],
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User defined labels for the environment."
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. System generated globally unique ID for the environment. This ID will be different if the environment is deleted and re-created with the same name.",
          "type": "string"
        },
        "endpoints": {
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1EnvironmentEndpoints",
          "description": "Output only. URI Endpoints to access sessions associated with the Environment."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the environment."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Environment creation time.",
          "format": "google-datetime"
        },
        "infrastructureSpec": {
          "description": "Required. Infrastructure specification for the Environment.",
          "$ref": "GoogleCloudDataplexV1EnvironmentInfrastructureSpec"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } ",
      "properties": {},
      "type": "object"
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "GoogleLongrunningOperation",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1ZoneResourceSpec": {
      "description": "Settings for resources attached as assets within a zone.",
      "type": "object",
      "id": "GoogleCloudDataplexV1ZoneResourceSpec",
      "properties": {
        "locationType": {
          "enumDescriptions": [
            "Unspecified location type.",
            "Resources that are associated with a single region.",
            "Resources that are associated with a multi-region location."
          ],
          "enum": [
            "LOCATION_TYPE_UNSPECIFIED",
            "SINGLE_REGION",
            "MULTI_REGION"
          ],
          "type": "string",
          "description": "Required. Immutable. The location type of the resources that are allowed to be attached to the assets within this zone."
        }
      }
    },
    "GoogleCloudDataplexV1ListLakesResponse": {
      "id": "GoogleCloudDataplexV1ListLakesResponse",
      "description": "List lakes response.",
      "properties": {
        "lakes": {
          "items": {
            "$ref": "GoogleCloudDataplexV1Lake"
          },
          "description": "Lakes under the given parent location.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachableLocations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1Zone": {
      "id": "GoogleCloudDataplexV1Zone",
      "properties": {
        "resourceSpec": {
          "$ref": "GoogleCloudDataplexV1ZoneResourceSpec",
          "description": "Required. Specification of the resources that are referenced by the assets within this zone."
        },
        "displayName": {
          "description": "Optional. User friendly display name.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Zone type not specified.",
            "A zone that contains data that needs further processing before it is considered generally ready for consumption and analytics workloads.",
            "A zone that contains data that is considered to be ready for broader consumption and analytics workloads. Curated structured data stored in Cloud Storage must conform to certain file formats (parquet, avro and orc) and organized in a hive-compatible directory layout."
          ],
          "description": "Required. Immutable. The type of the zone.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "RAW",
            "CURATED"
          ]
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. System generated globally unique ID for the zone. This ID will be different if the zone is deleted and re-created with the same name."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the zone."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the zone was created.",
          "type": "string"
        },
        "assetStatus": {
          "$ref": "GoogleCloudDataplexV1AssetStatus",
          "description": "Output only. Aggregated status of the underlying assets of the zone.",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User defined labels for the zone.",
          "type": "object"
        },
        "state": {
          "enumDescriptions": [
            "State is not specified.",
            "Resource is active, i.e., ready to use.",
            "Resource is under creation.",
            "Resource is under deletion.",
            "Resource is active but has unresolved actions."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "ACTION_REQUIRED"
          ],
          "description": "Output only. Current state of the zone.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the zone was last updated."
        },
        "name": {
          "description": "Output only. The relative resource name of the zone, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}.",
          "readOnly": true,
          "type": "string"
        },
        "discoverySpec": {
          "description": "Optional. Specification of the discovery feature applied to data in this zone.",
          "$ref": "GoogleCloudDataplexV1ZoneDiscoverySpec"
        }
      },
      "type": "object",
      "description": "A zone represents a logical group of related assets within a lake. A zone can be used to map to organizational structure or represent stages of data readiness from raw to curated. It provides managing behavior that is shared or inherited by all contained assets."
    },
    "GoogleCloudDataplexV1TaskSparkTaskConfig": {
      "properties": {
        "sqlScript": {
          "type": "string",
          "description": "The query text. The execution args are used to declare a set of script variables (set key=\"value\";)."
        },
        "infrastructureSpec": {
          "$ref": "GoogleCloudDataplexV1TaskInfrastructureSpec",
          "description": "Optional. Infrastructure specification for the execution."
        },
        "mainJarFileUri": {
          "description": "The Cloud Storage URI of the jar file that contains the main class. The execution args are passed in as a sequence of named process arguments (--key=value).",
          "type": "string"
        },
        "pythonScriptFile": {
          "description": "The Gcloud Storage URI of the main Python file to use as the driver. Must be a .py file. The execution args are passed in as a sequence of named process arguments (--key=value).",
          "type": "string"
        },
        "fileUris": {
          "description": "Optional. Cloud Storage URIs of files to be placed in the working directory of each executor.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sqlScriptFile": {
          "description": "A reference to a query file. This can be the Cloud Storage URI of the query file or it can the path to a SqlScript Content. The execution args are used to declare a set of script variables (set key=\"value\";).",
          "type": "string"
        },
        "archiveUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Cloud Storage URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip."
        },
        "mainClass": {
          "type": "string",
          "description": "The name of the driver's main class. The jar file that contains the class must be in the default CLASSPATH or specified in jar_file_uris. The execution args are passed in as a sequence of named process arguments (--key=value)."
        }
      },
      "description": "User-specified config for running a Spark task.",
      "id": "GoogleCloudDataplexV1TaskSparkTaskConfig",
      "type": "object"
    },
    "GoogleTypeExpr": {
      "properties": {
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        }
      },
      "type": "object",
      "id": "GoogleTypeExpr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec.Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "GoogleCloudDataplexV1EnvironmentEndpoints": {
      "properties": {
        "notebooks": {
          "description": "Output only. URI to serve notebook APIs",
          "readOnly": true,
          "type": "string"
        },
        "sql": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. URI to serve SQL APIs"
        }
      },
      "id": "GoogleCloudDataplexV1EnvironmentEndpoints",
      "type": "object"
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the resource. Permissions with wildcards (such as * or storage.*) are not allowed. For more information see IAM Overview (https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request message for TestIamPermissions method.",
      "id": "GoogleIamV1TestIamPermissionsRequest"
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "description": "Request message for SetIamPolicy method.",
      "type": "object",
      "id": "GoogleIamV1SetIamPolicyRequest",
      "properties": {
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used:paths: \"bindings, etag\"",
          "format": "google-fieldmask",
          "type": "string"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the resource. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1Policy"
        }
      }
    },
    "GoogleCloudDataplexV1ActionUnauthorizedResource": {
      "properties": {},
      "description": "Action details for unauthorized resource issues raised to indicate that the service account associated with the lake instance is not authorized to access or manage the resource associated with an asset.",
      "type": "object",
      "id": "GoogleCloudDataplexV1ActionUnauthorizedResource"
    },
    "GoogleLongrunningListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "GoogleLongrunningListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudLocationListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "GoogleCloudLocationListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          },
          "description": "A list of locations that matches the specified filter in the request."
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1OperationMetadata": {
      "type": "object",
      "description": "Represents the metadata of a long-running operation.",
      "properties": {
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to Code.CANCELLED.",
          "readOnly": true,
          "type": "boolean"
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        }
      },
      "id": "GoogleCloudDataplexV1OperationMetadata"
    },
    "GoogleCloudDataplexV1ListJobsResponse": {
      "description": "List jobs response.",
      "properties": {
        "jobs": {
          "description": "Jobs under a given task.",
          "items": {
            "$ref": "GoogleCloudDataplexV1Job"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1ListJobsResponse",
      "type": "object"
    },
    "GoogleCloudDataplexV1Action": {
      "type": "object",
      "id": "GoogleCloudDataplexV1Action",
      "description": "Action represents an issue requiring administrator action for resolution.",
      "properties": {
        "issue": {
          "description": "Detailed description of the issue requiring action.",
          "type": "string"
        },
        "missingData": {
          "description": "Details for issues related to absence of data within managed resources.",
          "$ref": "GoogleCloudDataplexV1ActionMissingData"
        },
        "invalidDataOrganization": {
          "$ref": "GoogleCloudDataplexV1ActionInvalidDataOrganization",
          "description": "Details for issues related to invalid data arrangement."
        },
        "asset": {
          "readOnly": true,
          "description": "Output only. The relative resource name of the asset, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}/assets/{asset_id}.",
          "type": "string"
        },
        "failedSecurityPolicyApply": {
          "$ref": "GoogleCloudDataplexV1ActionFailedSecurityPolicyApply",
          "description": "Details for issues related to applying security policy."
        },
        "incompatibleDataSchema": {
          "description": "Details for issues related to incompatible schemas detected within data.",
          "$ref": "GoogleCloudDataplexV1ActionIncompatibleDataSchema"
        },
        "invalidDataPartition": {
          "$ref": "GoogleCloudDataplexV1ActionInvalidDataPartition",
          "description": "Details for issues related to invalid or unsupported data partition structure."
        },
        "unauthorizedResource": {
          "$ref": "GoogleCloudDataplexV1ActionUnauthorizedResource",
          "description": "Details for issues related to lack of permissions to access data resources."
        },
        "invalidDataFormat": {
          "description": "Details for issues related to invalid or unsupported data formats.",
          "$ref": "GoogleCloudDataplexV1ActionInvalidDataFormat"
        },
        "category": {
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "RESOURCE_MANAGEMENT",
            "SECURITY_POLICY",
            "DATA_DISCOVERY"
          ],
          "enumDescriptions": [
            "Unspecified category.",
            "Resource management related issues.",
            "Security policy related issues.",
            "Data and discovery related issues."
          ],
          "description": "The category of issue associated with the action.",
          "type": "string"
        },
        "missingResource": {
          "description": "Details for issues related to absence of a managed resource.",
          "$ref": "GoogleCloudDataplexV1ActionMissingResource"
        },
        "lake": {
          "description": "Output only. The relative resource name of the lake, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}.",
          "type": "string",
          "readOnly": true
        },
        "zone": {
          "type": "string",
          "description": "Output only. The relative resource name of the zone, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}.",
          "readOnly": true
        },
        "detectTime": {
          "format": "google-datetime",
          "description": "The time that the issue was detected.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The relative resource name of the action, of the form: projects/{project}/locations/{location}/lakes/{lake}/actions/{action} projects/{project}/locations/{location}/lakes/{lake}/zones/{zone}/actions/{action} projects/{project}/locations/{location}/lakes/{lake}/zones/{zone}/assets/{asset}/actions/{action}.",
          "type": "string"
        },
        "dataLocations": {
          "type": "array",
          "description": "The list of data locations associated with this action. Cloud Storage locations are represented as URI paths(E.g. gs://bucket/table1/year=2020/month=Jan/). BigQuery locations refer to resource names(E.g. bigquery.googleapis.com/projects/project-id/datasets/dataset-id).",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDataplexV1ActionInvalidDataPartition": {
      "id": "GoogleCloudDataplexV1ActionInvalidDataPartition",
      "type": "object",
      "properties": {
        "expectedStructure": {
          "description": "The issue type of InvalidDataPartition.",
          "enum": [
            "PARTITION_STRUCTURE_UNSPECIFIED",
            "CONSISTENT_KEYS",
            "HIVE_STYLE_KEYS"
          ],
          "type": "string",
          "enumDescriptions": [
            "PartitionStructure unspecified.",
            "Consistent hive-style partition definition (both raw and curated zone).",
            "Hive style partition definition (curated zone only)."
          ]
        }
      },
      "description": "Action details for invalid or unsupported partitions detected by discovery."
    },
    "GoogleCloudDataplexV1EntityCompatibilityStatusCompatibility": {
      "id": "GoogleCloudDataplexV1EntityCompatibilityStatusCompatibility",
      "properties": {
        "reason": {
          "readOnly": true,
          "description": "Output only. Provides additional detail if the entity is incompatible with the metadata store.",
          "type": "string"
        },
        "compatible": {
          "type": "boolean",
          "description": "Output only. Whether the entity is compatible and can be represented in the metadata store.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Provides compatibility information for a specific metadata store."
    },
    "GoogleCloudDataplexV1AssetDiscoverySpec": {
      "description": "Settings to manage the metadata discovery and publishing for an asset.",
      "id": "GoogleCloudDataplexV1AssetDiscoverySpec",
      "properties": {
        "includePatterns": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of patterns to apply for selecting data to include during discovery if only a subset of the data should considered. For Cloud Storage bucket assets, these are interpreted as glob patterns used to match object names. For BigQuery dataset assets, these are interpreted as patterns to match table names.",
          "type": "array"
        },
        "enabled": {
          "type": "boolean",
          "description": "Optional. Whether discovery is enabled."
        },
        "jsonOptions": {
          "description": "Optional. Configuration for Json data.",
          "$ref": "GoogleCloudDataplexV1AssetDiscoverySpecJsonOptions"
        },
        "excludePatterns": {
          "type": "array",
          "description": "Optional. The list of patterns to apply for selecting data to exclude during discovery. For Cloud Storage bucket assets, these are interpreted as glob patterns used to match object names. For BigQuery dataset assets, these are interpreted as patterns to match table names.",
          "items": {
            "type": "string"
          }
        },
        "schedule": {
          "type": "string",
          "description": "Optional. Cron schedule (https://en.wikipedia.org/wiki/Cron) for running discovery periodically. Successive discovery runs must be scheduled at least 60 minutes apart. The default value is to run discovery every 60 minutes. To explicitly set a timezone to the cron tab, apply a prefix in the cron tab: \"CRON_TZ=${IANA_TIME_ZONE}\" or TZ=${IANA_TIME_ZONE}\". The ${IANA_TIME_ZONE} may only be a valid string from IANA time zone database. For example, \"CRON_TZ=America/New_York 1 * * * *\", or \"TZ=America/New_York 1 * * * *\"."
        },
        "csvOptions": {
          "description": "Optional. Configuration for CSV data.",
          "$ref": "GoogleCloudDataplexV1AssetDiscoverySpecCsvOptions"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1TaskInfrastructureSpecContainerImageRuntime": {
      "description": "Container Image Runtime Configuration used with Batch execution.",
      "type": "object",
      "properties": {
        "javaJars": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of Java JARS to add to the classpath. Valid input includes Cloud Storage URIs to Jar binaries. For example, gs://bucket-name/my/path/to/file.jar"
        },
        "properties": {
          "type": "object",
          "description": "Optional. Override to common configuration of open source components installed on the Dataproc cluster. The properties to set on daemon config files. Property keys are specified in prefix:property format, for example core:hadoop.tmp.dir. For more information, see Cluster properties (https://cloud.google.com/dataproc/docs/concepts/cluster-properties).",
          "additionalProperties": {
            "type": "string"
          }
        },
        "pythonPackages": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of python packages to be installed. Valid formats include Cloud Storage URI to a PIP installable library. For example, gs://bucket-name/my/path/to/lib.tar.gz"
        }
      },
      "id": "GoogleCloudDataplexV1TaskInfrastructureSpecContainerImageRuntime"
    },
    "GoogleCloudDataplexV1AssetSecurityStatus": {
      "id": "GoogleCloudDataplexV1AssetSecurityStatus",
      "description": "Security policy status of the asset. Data security policy, i.e., readers, writers & owners, should be specified in the lake/zone/asset IAM policy.",
      "properties": {
        "updateTime": {
          "description": "Last update time of the status.",
          "format": "google-datetime",
          "type": "string"
        },
        "message": {
          "description": "Additional information about the current state.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "The current state of the security policy applied to the attached resource.",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "APPLYING",
            "ERROR"
          ],
          "enumDescriptions": [
            "State unspecified.",
            "Security policy has been successfully applied to the attached resource.",
            "Security policy is in the process of being applied to the attached resource.",
            "Security policy could not be applied to the attached resource due to errors."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1AssetStatus": {
      "id": "GoogleCloudDataplexV1AssetStatus",
      "description": "Aggregated status of the underlying assets of a lake or zone.",
      "type": "object",
      "properties": {
        "securityPolicyApplyingAssets": {
          "format": "int32",
          "type": "integer",
          "description": "Number of assets that are in process of updating the security policy on attached resources."
        },
        "activeAssets": {
          "type": "integer",
          "format": "int32",
          "description": "Number of active assets."
        },
        "updateTime": {
          "type": "string",
          "description": "Last update time of the status.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDataplexV1ActionMissingData": {
      "properties": {},
      "id": "GoogleCloudDataplexV1ActionMissingData",
      "type": "object",
      "description": "Action details for absence of data detected by discovery."
    },
    "GoogleCloudDataplexV1Lake": {
      "id": "GoogleCloudDataplexV1Lake",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. User friendly display name."
        },
        "name": {
          "description": "Output only. The relative resource name of the lake, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}.",
          "readOnly": true,
          "type": "string"
        },
        "metastoreStatus": {
          "$ref": "GoogleCloudDataplexV1LakeMetastoreStatus",
          "description": "Output only. Metastore status of the lake.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the lake was last updated.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the lake."
        },
        "labels": {
          "type": "object",
          "description": "Optional. User-defined labels for the lake.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metastore": {
          "$ref": "GoogleCloudDataplexV1LakeMetastore",
          "description": "Optional. Settings to manage lake and Dataproc Metastore service instance association."
        },
        "state": {
          "enumDescriptions": [
            "State is not specified.",
            "Resource is active, i.e., ready to use.",
            "Resource is under creation.",
            "Resource is under deletion.",
            "Resource is active but has unresolved actions."
          ],
          "description": "Output only. Current state of the lake.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "ACTION_REQUIRED"
          ],
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the lake was created."
        },
        "assetStatus": {
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1AssetStatus",
          "description": "Output only. Aggregated status of the underlying assets of the lake."
        },
        "serviceAccount": {
          "description": "Output only. Service account associated with this lake. This service account must be authorized to access or operate on resources managed by the lake.",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "Output only. System generated globally unique ID for the lake. This ID will be different if the lake is deleted and re-created with the same name.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A lake is a centralized repository for managing enterprise data across the organization distributed across many cloud projects, and stored in a variety of storage services such as Google Cloud Storage and BigQuery. The resources attached to a lake are referred to as managed resources. Data within these managed resources can be structured or unstructured. A lake provides data admins with tools to organize, secure and manage their data at scale, and provides data scientists and data engineers an integrated experience to easily search, discover, analyze and transform data and associated metadata."
    },
    "GoogleCloudDataplexV1Content": {
      "type": "object",
      "description": "Content represents a user-visible notebook or a sql script",
      "id": "GoogleCloudDataplexV1Content",
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. The path for the Content file, represented as directory structure. Unique within a lake. Limited to alphanumerics, hyphens, underscores, dots and slashes."
        },
        "description": {
          "description": "Optional. Description of the content.",
          "type": "string"
        },
        "sqlScript": {
          "description": "Sql Script related configurations.",
          "$ref": "GoogleCloudDataplexV1ContentSqlScript"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. System generated globally unique ID for the content. This ID will be different if the content is deleted and re-created with the same name.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. User defined labels for the content.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "description": "Output only. The time when the content was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "dataText": {
          "description": "Required. Content data in string format.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The relative resource name of the content, of the form: projects/{project_id}/locations/{location_id}/lakes/{lake_id}/content/{content_id}",
          "readOnly": true
        },
        "notebook": {
          "$ref": "GoogleCloudDataplexV1ContentNotebook",
          "description": "Notebook related configurations."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Content creation time.",
          "type": "string"
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "type": "object",
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "GoogleCloudDataplexV1Entity": {
      "description": "Represents tables and fileset metadata contained within a zone.",
      "id": "GoogleCloudDataplexV1Entity",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the entity, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}/entities/{id}."
        },
        "id": {
          "type": "string",
          "description": "Required. A user-provided entity ID. It is mutable, and will be used as the published table name. Specifying a new ID in an update entity request will override the existing value. The ID must contain only letters (a-z, A-Z), numbers (0-9), and underscores. Must begin with a letter and consist of 256 or fewer characters."
        },
        "compatibility": {
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1EntityCompatibilityStatus",
          "description": "Output only. Metadata stores that the entity is compatible with."
        },
        "updateTime": {
          "description": "Output only. The time when the entity was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "etag": {
          "description": "Optional. The etag associated with the entity, which can be retrieved with a GetEntity request. Required for update and delete requests.",
          "type": "string"
        },
        "system": {
          "enum": [
            "STORAGE_SYSTEM_UNSPECIFIED",
            "CLOUD_STORAGE",
            "BIGQUERY"
          ],
          "description": "Required. Immutable. Identifies the storage system of the entity data.",
          "enumDescriptions": [
            "Storage system unspecified.",
            "The entity data is contained within a Cloud Storage bucket.",
            "The entity data is contained within a BigQuery dataset."
          ],
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. User friendly longer description text. Must be shorter than or equal to 1024 characters."
        },
        "format": {
          "description": "Required. Identifies the storage format of the entity data. It does not apply to entities with data stored in BigQuery.",
          "$ref": "GoogleCloudDataplexV1StorageFormat"
        },
        "catalogEntry": {
          "description": "Output only. The name of the associated Data Catalog entry.",
          "type": "string",
          "readOnly": true
        },
        "dataPathPattern": {
          "description": "Optional. The set of items within the data path constituting the data in the entity, represented as a glob path. Example: gs://bucket/path/to/data/**/*.csv.",
          "type": "string"
        },
        "schema": {
          "$ref": "GoogleCloudDataplexV1Schema",
          "description": "Required. The description of the data structure and layout. The schema is not included in list responses. It is only included in SCHEMA and FULL entity views of a GetEntity response."
        },
        "asset": {
          "description": "Required. Immutable. The ID of the asset associated with the storage location containing the entity data. The entity must be with in the same zone with the asset.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Display name must be shorter than or equal to 256 characters.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the entity was created.",
          "readOnly": true,
          "type": "string"
        },
        "dataPath": {
          "type": "string",
          "description": "Required. Immutable. The storage path of the entity data. For Cloud Storage data, this is the fully-qualified path to the entity, such as gs://bucket/path/to/data. For BigQuery data, this is the name of the table resource, such as projects/project_id/datasets/dataset_id/tables/table_id."
        },
        "type": {
          "enumDescriptions": [
            "Type unspecified.",
            "Structured and semi-structured data.",
            "Unstructured data."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TABLE",
            "FILESET"
          ],
          "type": "string",
          "description": "Required. Immutable. The type of entity."
        }
      }
    },
    "GoogleCloudDataplexV1ContentSqlScript": {
      "description": "Configuration for the Sql Script content.",
      "type": "object",
      "properties": {
        "engine": {
          "enumDescriptions": [
            "Value was unspecified.",
            "Spark SQL Query."
          ],
          "type": "string",
          "description": "Required. Query Engine to be used for the Sql Query.",
          "enum": [
            "QUERY_ENGINE_UNSPECIFIED",
            "SPARK"
          ]
        }
      },
      "id": "GoogleCloudDataplexV1ContentSqlScript"
    },
    "GoogleCloudDataplexV1Schema": {
      "properties": {
        "fields": {
          "type": "array",
          "description": "Optional. The sequence of fields describing data in table entities. Note: BigQuery SchemaFields are immutable.",
          "items": {
            "$ref": "GoogleCloudDataplexV1SchemaSchemaField"
          }
        },
        "partitionStyle": {
          "type": "string",
          "enumDescriptions": [
            "PartitionStyle unspecified",
            "Partitions are hive-compatible. Examples: gs://bucket/path/to/table/dt=2019-10-31/lang=en, gs://bucket/path/to/table/dt=2019-10-31/lang=en/late."
          ],
          "enum": [
            "PARTITION_STYLE_UNSPECIFIED",
            "HIVE_COMPATIBLE"
          ],
          "description": "Optional. The structure of paths containing partition data within the entity."
        },
        "partitionFields": {
          "description": "Optional. The sequence of fields describing the partition structure in entities. If this field is empty, there are no partitions within the data.",
          "items": {
            "$ref": "GoogleCloudDataplexV1SchemaPartitionField"
          },
          "type": "array"
        },
        "userManaged": {
          "description": "Required. Set to true if user-managed or false if managed by Dataplex. The default is false (managed by Dataplex). Set to falseto enable Dataplex discovery to update the schema. including new data discovery, schema inference, and schema evolution. Users retain the ability to input and edit the schema. Dataplex treats schema input by the user as though produced by a previous Dataplex discovery operation, and it will evolve the schema and take action based on that treatment. Set to true to fully manage the entity schema. This setting guarantees that Dataplex will not change schema fields.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1Schema",
      "description": "Schema information describing the structure and layout of the data."
    },
    "GoogleCloudDataplexV1DiscoveryEventPartitionDetails": {
      "type": "object",
      "id": "GoogleCloudDataplexV1DiscoveryEventPartitionDetails",
      "description": "Details about the partition.",
      "properties": {
        "partition": {
          "type": "string",
          "description": "The name to the partition resource. The name is the fully-qualified resource name."
        },
        "sampledDataLocations": {
          "description": "The locations of the data items (e.g., a Cloud Storage objects) sampled for metadata inference.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "type": {
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "TABLE",
            "FILESET"
          ],
          "type": "string",
          "enumDescriptions": [
            "An unspecified event type.",
            "Entities representing structured data.",
            "Entities representing unstructured data."
          ],
          "description": "The type of the containing entity resource."
        },
        "entity": {
          "description": "The name to the containing entity resource. The name is the fully-qualified resource name.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1ListTasksResponse": {
      "type": "object",
      "id": "GoogleCloudDataplexV1ListTasksResponse",
      "description": "List tasks response.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "tasks": {
          "items": {
            "$ref": "GoogleCloudDataplexV1Task"
          },
          "description": "Tasks under the given parent lake.",
          "type": "array"
        },
        "unreachableLocations": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDataplexV1Session": {
      "id": "GoogleCloudDataplexV1Session",
      "description": "Represents an active analyze session running for a user.",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "State is not specified.",
            "Resource is active, i.e., ready to use.",
            "Resource is under creation.",
            "Resource is under deletion.",
            "Resource is active but has unresolved actions."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "ACTION_REQUIRED"
          ],
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Session start time."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The relative resource name of the content, of the form: projects/{project_id}/locations/{location_id}/lakes/{lake_id}/environment/{environment_id}/sessions/{session_id}",
          "type": "string"
        },
        "userId": {
          "readOnly": true,
          "description": "Output only. Email of user running the session.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1LakeMetastore": {
      "properties": {
        "service": {
          "type": "string",
          "description": "Optional. A relative reference to the Dataproc Metastore (https://cloud.google.com/dataproc-metastore/docs) service associated with the lake: projects/{project_id}/locations/{location_id}/services/{service_id}"
        }
      },
      "description": "Settings to manage association of Dataproc Metastore with a lake.",
      "id": "GoogleCloudDataplexV1LakeMetastore",
      "type": "object"
    },
    "GoogleCloudDataplexV1DiscoveryEvent": {
      "description": "The payload associated with Discovery data processing.",
      "properties": {
        "lakeId": {
          "description": "The id of the associated lake.",
          "type": "string"
        },
        "zoneId": {
          "description": "The id of the associated zone.",
          "type": "string"
        },
        "message": {
          "description": "The log message.",
          "type": "string"
        },
        "config": {
          "description": "Details about discovery configuration in effect.",
          "$ref": "GoogleCloudDataplexV1DiscoveryEventConfigDetails"
        },
        "dataLocation": {
          "type": "string",
          "description": "The data location associated with the event."
        },
        "action": {
          "description": "Details about the action associated with the event.",
          "$ref": "GoogleCloudDataplexV1DiscoveryEventActionDetails"
        },
        "assetId": {
          "type": "string",
          "description": "The id of the associated asset."
        },
        "entity": {
          "$ref": "GoogleCloudDataplexV1DiscoveryEventEntityDetails",
          "description": "Details about the entity associated with the event."
        },
        "partition": {
          "$ref": "GoogleCloudDataplexV1DiscoveryEventPartitionDetails",
          "description": "Details about the partition associated with the event."
        },
        "type": {
          "enumDescriptions": [
            "An unspecified event type.",
            "An event representing discovery configuration in effect.",
            "An event representing a metadata entity being created.",
            "An event representing a metadata entity being updated.",
            "An event representing a metadata entity being deleted.",
            "An event representing a partition being created.",
            "An event representing a partition being updated.",
            "An event representing a partition being deleted."
          ],
          "type": "string",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "CONFIG",
            "ENTITY_CREATED",
            "ENTITY_UPDATED",
            "ENTITY_DELETED",
            "PARTITION_CREATED",
            "PARTITION_UPDATED",
            "PARTITION_DELETED"
          ],
          "description": "The type of the event being logged."
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1DiscoveryEvent"
    },
    "GoogleCloudDataplexV1EnvironmentSessionSpec": {
      "type": "object",
      "id": "GoogleCloudDataplexV1EnvironmentSessionSpec",
      "properties": {
        "maxIdleDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The idle time configuration of the session. The session will be auto-terminated at the end of this period."
        },
        "enableFastStartup": {
          "type": "boolean",
          "description": "Optional. If True, this causes sessions to be pre-created and available for faster startup to enable interactive exploration use-cases. This defaults to False to avoid additional billed charges. These can only be set to True for the environment with name set to \"default\", and with default configuration."
        }
      }
    },
    "GoogleCloudDataplexV1ListZonesResponse": {
      "description": "List zones response.",
      "id": "GoogleCloudDataplexV1ListZonesResponse",
      "properties": {
        "zones": {
          "description": "Zones under the given parent lake.",
          "items": {
            "$ref": "GoogleCloudDataplexV1Zone"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1ActionIncompatibleDataSchema": {
      "properties": {
        "sampledDataLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of data locations sampled and used for format/schema inference."
        },
        "existingSchema": {
          "type": "string",
          "description": "The existing and expected schema of the table. The schema is provided as a JSON formatted structure listing columns and data types."
        },
        "newSchema": {
          "description": "The new and incompatible schema within the table. The schema is provided as a JSON formatted structured listing columns and data types.",
          "type": "string"
        },
        "table": {
          "type": "string",
          "description": "The name of the table containing invalid data."
        },
        "schemaChange": {
          "enumDescriptions": [
            "Schema change unspecified.",
            "Newly discovered schema is incompatible with existing schema.",
            "Newly discovered schema has changed from existing schema for data in a curated zone."
          ],
          "enum": [
            "SCHEMA_CHANGE_UNSPECIFIED",
            "INCOMPATIBLE",
            "MODIFIED"
          ],
          "description": "Whether the action relates to a schema that is incompatible or modified.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1ActionIncompatibleDataSchema",
      "description": "Action details for incompatible schemas detected by discovery.",
      "type": "object"
    },
    "GoogleCloudDataplexV1Job": {
      "properties": {
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the job was started."
        },
        "retryCount": {
          "description": "Output only. . The number of times the job has been retried (excluding the initial attempt).",
          "readOnly": true,
          "type": "integer",
          "format": "uint32"
        },
        "state": {
          "enumDescriptions": [
            "The job state is unknown.",
            "The job is running.",
            "The job is cancelling.",
            "The job cancellation was successful.",
            "The job completed successfully.",
            "The job is no longer running due to an error.",
            "The job was cancelled outside of Dataplex."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED",
            "FAILED",
            "ABORTED"
          ],
          "description": "Output only. Execution state for the job.",
          "readOnly": true,
          "type": "string"
        },
        "serviceJob": {
          "description": "Output only. The full resource name for the job run under a particular service.",
          "type": "string",
          "readOnly": true
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. System generated globally unique ID for the job.",
          "type": "string"
        },
        "service": {
          "readOnly": true,
          "enumDescriptions": [
            "Service used to run the job is unspecified.",
            "Dataproc service is used to run this job."
          ],
          "description": "Output only. The underlying service running a job.",
          "enum": [
            "SERVICE_UNSPECIFIED",
            "DATAPROC"
          ],
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Output only. Additional information about the current state.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The relative resource name of the job, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/ tasks/{task_id}/jobs/{job_id}.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time when the job ended.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "A job represents an instance of a task.",
      "id": "GoogleCloudDataplexV1Job",
      "type": "object"
    },
    "GoogleCloudDataplexV1StorageFormatJsonOptions": {
      "type": "object",
      "properties": {
        "encoding": {
          "type": "string",
          "description": "Optional. The character encoding of the data. Accepts \"US-ASCII\", \"UTF-8\" and \"ISO-8859-1\". Defaults to UTF-8 if not specified."
        }
      },
      "id": "GoogleCloudDataplexV1StorageFormatJsonOptions",
      "description": "Describes JSON data format."
    },
    "GoogleCloudDataplexV1TaskInfrastructureSpec": {
      "type": "object",
      "description": "Configuration for the underlying infrastructure used to run workloads.",
      "id": "GoogleCloudDataplexV1TaskInfrastructureSpec",
      "properties": {
        "vpcNetwork": {
          "$ref": "GoogleCloudDataplexV1TaskInfrastructureSpecVpcNetwork",
          "description": "Vpc network."
        },
        "containerImage": {
          "description": "Container Image Runtime Configuration.",
          "$ref": "GoogleCloudDataplexV1TaskInfrastructureSpecContainerImageRuntime"
        },
        "batch": {
          "$ref": "GoogleCloudDataplexV1TaskInfrastructureSpecBatchComputeResources",
          "description": "Compute resources needed for a Task when using Dataproc Serverless."
        }
      }
    },
    "GoogleCloudDataplexV1AssetDiscoverySpecCsvOptions": {
      "properties": {
        "delimiter": {
          "description": "Optional. The delimiter being used to separate values. This defaults to ','.",
          "type": "string"
        },
        "disableTypeInference": {
          "description": "Optional. Whether to disable the inference of data type for CSV data. If true, all columns will be registered as strings.",
          "type": "boolean"
        },
        "encoding": {
          "description": "Optional. The character encoding of the data. The default is UTF-8.",
          "type": "string"
        },
        "headerRows": {
          "type": "integer",
          "description": "Optional. The number of rows to interpret as header rows that should be skipped when reading data rows.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Describe CSV and similar semi-structured data formats.",
      "id": "GoogleCloudDataplexV1AssetDiscoverySpecCsvOptions"
    },
    "GoogleIamV1Binding": {
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of members, or principals. For example, roles/viewer, roles/editor, or roles/owner."
        },
        "condition": {
          "description": "The condition that is associated with this binding.If the condition evaluates to true, then this binding applies to the current request.If the condition evaluates to false, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "GoogleTypeExpr"
        },
        "members": {
[...]
