{
  "ownerName": "Google",
  "title": "Data Portability API",
  "revision": "20240130",
  "description": "The Data Portability API lets you build applications that request authorization from a user to move a copy of data from Google services into your application. This enables data portability and facilitates switching services.",
  "id": "dataportability:v1beta",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "baseUrl": "https://dataportability.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://developers.google.com/data-portability",
  "schemas": {
    "PortabilityArchiveState": {
      "type": "object",
      "description": "Resource that contains the state of a Takeout Archive job.",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The Takeout job is in progress.",
            "The Takeout job is complete.",
            "The Takeout job failed.",
            "The Takeout job is cancelled."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "COMPLETE",
            "FAILED",
            "CANCELLED"
          ],
          "description": "Resource that represents the state of the Takeout Archive job.",
          "type": "string"
        },
        "urls": {
          "description": "If the state is complete, this method returns the signed URLs of the objects in the Cloud Storage bucket.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "The resource name of ArchiveJob's PortabilityArchiveState singleton. The format is: archiveJobs/{archive_job}/portabilityArchiveState. archive_job is the job ID provided in the request."
        }
      },
      "id": "PortabilityArchiveState"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "RetryPortabilityArchiveRequest": {
      "id": "RetryPortabilityArchiveRequest",
      "type": "object",
      "properties": {},
      "description": "Request to retry a failed Portability Archive job."
    },
    "InitiatePortabilityArchiveResponse": {
      "description": "Response from initiating a Take Archive job.",
      "id": "InitiatePortabilityArchiveResponse",
      "type": "object",
      "properties": {
        "archiveJobId": {
          "type": "string",
          "description": "The archive job ID that is initiated in the Takeout API. This can be used to get the state of the job."
        }
      }
    },
    "RetryPortabilityArchiveResponse": {
      "properties": {
        "archiveJobId": {
          "type": "string",
          "description": "The archive job ID that is initiated by the retry endpoint. This can be used to get the state of the new job"
        }
      },
      "description": "Response from retrying a Portability Archive.",
      "id": "RetryPortabilityArchiveResponse",
      "type": "object"
    },
    "ResetAuthorizationRequest": {
      "description": "Request to reset exhausted OAuth scopes.",
      "properties": {},
      "id": "ResetAuthorizationRequest",
      "type": "object"
    },
    "InitiatePortabilityArchiveRequest": {
      "id": "InitiatePortabilityArchiveRequest",
      "properties": {
        "resources": {
          "description": "The resources from which you're exporting data. These values have a 1:1 correspondence with the OAuth scopes.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request to kick off a Takeout Archive job.",
      "type": "object"
    }
  },
  "protocol": "rest",
  "basePath": "",
  "version": "v1beta",
  "mtlsRootUrl": "https://dataportability.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dataportability.businessmessaging.conversations": {
          "description": "Move a copy of messages between you and the businesses you have conversations with."
        },
        "https://www.googleapis.com/auth/dataportability.myactivity.youtube": {
          "description": "Move a copy of your YouTube activity."
        },
        "https://www.googleapis.com/auth/dataportability.youtube.public_videos": {
          "description": "Move a copy of your public videos and information about them."
        },
        "https://www.googleapis.com/auth/dataportability.youtube.private_playlists": {
          "description": "Move a copy of your private playlists."
        },
        "https://www.googleapis.com/auth/dataportability.youtube.channel": {
          "description": "Move a copy of information about your channel."
        },
        "https://www.googleapis.com/auth/dataportability.youtube.private_videos": {
          "description": "Move a copy of your private videos and information about them."
        },
        "https://www.googleapis.com/auth/dataportability.youtube.live_chat": {
          "description": "Move a copy of your messages in live chat."
        },
        "https://www.googleapis.com/auth/dataportability.youtube.music": {
          "description": "Move a copy of your uploaded YouTube Music tracks and your YouTube Music library."
        },
        "https://www.googleapis.com/auth/dataportability.youtube.comments": {
          "description": "Move a copy of your comments."
        },
        "https://www.googleapis.com/auth/dataportability.youtube.shopping": {
          "description": "Move a copy of YouTube Shopping Wishlists, and wishlist items."
        },
        "https://www.googleapis.com/auth/dataportability.shopping.addresses": {
          "description": "Move a copy of your shipping information."
        },
        "https://www.googleapis.com/auth/dataportability.youtube.public_playlists": {
          "description": "Move a copy of your public playlists."
        },
        "https://www.googleapis.com/auth/dataportability.myactivity.search": {
          "description": "Move a copy of your search activity."
        },
        "https://www.googleapis.com/auth/dataportability.shopping.reviews": {
          "description": "Move a copy of reviews you wrote about products or online stores."
        },
        "https://www.googleapis.com/auth/dataportability.youtube.unlisted_videos": {
          "description": "Move a copy of your unlisted videos and information about them."
        },
        "https://www.googleapis.com/auth/dataportability.youtube.subscriptions": {
          "description": "Move a copy of your channel subscriptions, even if they're private."
        },
        "https://www.googleapis.com/auth/dataportability.myactivity.shopping": {
          "description": "Move a copy of your Shopping activity."
        },
        "https://www.googleapis.com/auth/dataportability.youtube.unlisted_playlists": {
          "description": "Move a copy of your unlisted playlists."
        }
      }
    }
  },
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "name": "dataportability",
  "version_module": true,
  "rootUrl": "https://dataportability.googleapis.com/",
  "canonicalName": "Data Portability",
  "resources": {
    "archiveJobs": {
      "methods": {
        "retry": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/dataportability.businessmessaging.conversations",
            "https://www.googleapis.com/auth/dataportability.myactivity.search",
            "https://www.googleapis.com/auth/dataportability.myactivity.shopping",
            "https://www.googleapis.com/auth/dataportability.myactivity.youtube",
            "https://www.googleapis.com/auth/dataportability.shopping.addresses",
            "https://www.googleapis.com/auth/dataportability.shopping.reviews",
            "https://www.googleapis.com/auth/dataportability.youtube.channel",
            "https://www.googleapis.com/auth/dataportability.youtube.comments",
            "https://www.googleapis.com/auth/dataportability.youtube.live_chat",
            "https://www.googleapis.com/auth/dataportability.youtube.music",
            "https://www.googleapis.com/auth/dataportability.youtube.private_playlists",
            "https://www.googleapis.com/auth/dataportability.youtube.private_videos",
            "https://www.googleapis.com/auth/dataportability.youtube.public_playlists",
            "https://www.googleapis.com/auth/dataportability.youtube.public_videos",
            "https://www.googleapis.com/auth/dataportability.youtube.shopping",
            "https://www.googleapis.com/auth/dataportability.youtube.subscriptions",
            "https://www.googleapis.com/auth/dataportability.youtube.unlisted_playlists",
            "https://www.googleapis.com/auth/dataportability.youtube.unlisted_videos"
          ],
          "request": {
            "$ref": "RetryPortabilityArchiveRequest"
          },
          "response": {
            "$ref": "RetryPortabilityArchiveResponse"
          },
          "id": "dataportability.archiveJobs.retry",
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The archive job ID returned by the InitiatePortabilityArchiveResponse to be retried. Retrying is only executed if the initial job failed.",
              "location": "path",
              "pattern": "^archiveJobs/[^/]+$",
              "type": "string"
            }
          },
          "description": "Retries a failed Portability Archive job.",
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta/{+name}:retry",
          "flatPath": "v1beta/archiveJobs/{archiveJobsId}:retry"
        },
        "getPortabilityArchiveState": {
          "description": "Retrieves the state of a Takeout Archive job for the Portability API.",
          "path": "v1beta/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/dataportability.businessmessaging.conversations",
            "https://www.googleapis.com/auth/dataportability.myactivity.search",
            "https://www.googleapis.com/auth/dataportability.myactivity.shopping",
            "https://www.googleapis.com/auth/dataportability.myactivity.youtube",
            "https://www.googleapis.com/auth/dataportability.shopping.addresses",
            "https://www.googleapis.com/auth/dataportability.shopping.reviews",
            "https://www.googleapis.com/auth/dataportability.youtube.channel",
            "https://www.googleapis.com/auth/dataportability.youtube.comments",
            "https://www.googleapis.com/auth/dataportability.youtube.live_chat",
            "https://www.googleapis.com/auth/dataportability.youtube.music",
            "https://www.googleapis.com/auth/dataportability.youtube.private_playlists",
            "https://www.googleapis.com/auth/dataportability.youtube.private_videos",
            "https://www.googleapis.com/auth/dataportability.youtube.public_playlists",
            "https://www.googleapis.com/auth/dataportability.youtube.public_videos",
            "https://www.googleapis.com/auth/dataportability.youtube.shopping",
            "https://www.googleapis.com/auth/dataportability.youtube.subscriptions",
            "https://www.googleapis.com/auth/dataportability.youtube.unlisted_playlists",
            "https://www.googleapis.com/auth/dataportability.youtube.unlisted_videos"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. The archive job ID that is returned when you request the state of the job from Takeout. The format is: archiveJobs/{archive_job}/portabilityArchiveState. archive_job is the job ID returned by the InitiatePortabilityArchiveResponse.",
              "type": "string",
              "required": true,
              "pattern": "^archiveJobs/[^/]+/portabilityArchiveState$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "flatPath": "v1beta/archiveJobs/{archiveJobsId}/portabilityArchiveState",
          "response": {
            "$ref": "PortabilityArchiveState"
          },
          "id": "dataportability.archiveJobs.getPortabilityArchiveState"
        }
      }
    },
    "portabilityArchive": {
      "methods": {
        "initiate": {
          "path": "v1beta/portabilityArchive:initiate",
          "description": "Initiates a new Takeout Archive job for the Portability API.",
          "parameters": {},
          "id": "dataportability.portabilityArchive.initiate",
          "request": {
            "$ref": "InitiatePortabilityArchiveRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dataportability.businessmessaging.conversations",
            "https://www.googleapis.com/auth/dataportability.myactivity.search",
            "https://www.googleapis.com/auth/dataportability.myactivity.shopping",
            "https://www.googleapis.com/auth/dataportability.myactivity.youtube",
            "https://www.googleapis.com/auth/dataportability.shopping.addresses",
            "https://www.googleapis.com/auth/dataportability.shopping.reviews",
            "https://www.googleapis.com/auth/dataportability.youtube.channel",
            "https://www.googleapis.com/auth/dataportability.youtube.comments",
            "https://www.googleapis.com/auth/dataportability.youtube.live_chat",
            "https://www.googleapis.com/auth/dataportability.youtube.music",
            "https://www.googleapis.com/auth/dataportability.youtube.private_playlists",
            "https://www.googleapis.com/auth/dataportability.youtube.private_videos",
            "https://www.googleapis.com/auth/dataportability.youtube.public_playlists",
            "https://www.googleapis.com/auth/dataportability.youtube.public_videos",
            "https://www.googleapis.com/auth/dataportability.youtube.shopping",
            "https://www.googleapis.com/auth/dataportability.youtube.subscriptions",
            "https://www.googleapis.com/auth/dataportability.youtube.unlisted_playlists",
            "https://www.googleapis.com/auth/dataportability.youtube.unlisted_videos"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "InitiatePortabilityArchiveResponse"
          },
          "flatPath": "v1beta/portabilityArchive:initiate",
          "parameterOrder": []
        }
      }
    },
    "authorization": {
      "methods": {
        "reset": {
          "request": {
            "$ref": "ResetAuthorizationRequest"
          },
          "parameters": {},
          "id": "dataportability.authorization.reset",
          "parameterOrder": [],
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1beta/authorization:reset",
          "scopes": [
            "https://www.googleapis.com/auth/dataportability.businessmessaging.conversations",
            "https://www.googleapis.com/auth/dataportability.myactivity.search",
            "https://www.googleapis.com/auth/dataportability.myactivity.shopping",
            "https://www.googleapis.com/auth/dataportability.myactivity.youtube",
            "https://www.googleapis.com/auth/dataportability.shopping.addresses",
            "https://www.googleapis.com/auth/dataportability.shopping.reviews",
            "https://www.googleapis.com/auth/dataportability.youtube.channel",
            "https://www.googleapis.com/auth/dataportability.youtube.comments",
            "https://www.googleapis.com/auth/dataportability.youtube.live_chat",
            "https://www.googleapis.com/auth/dataportability.youtube.music",
            "https://www.googleapis.com/auth/dataportability.youtube.private_playlists",
            "https://www.googleapis.com/auth/dataportability.youtube.private_videos",
            "https://www.googleapis.com/auth/dataportability.youtube.public_playlists",
            "https://www.googleapis.com/auth/dataportability.youtube.public_videos",
            "https://www.googleapis.com/auth/dataportability.youtube.shopping",
            "https://www.googleapis.com/auth/dataportability.youtube.subscriptions",
            "https://www.googleapis.com/auth/dataportability.youtube.unlisted_playlists",
            "https://www.googleapis.com/auth/dataportability.youtube.unlisted_videos"
          ],
          "httpMethod": "POST",
          "description": "Revokes OAuth tokens and resets exhausted scopes for a user/project pair. This method allows you to initiate a Takeout request after a new consent is granted. This method also indicates that previous archives can be garbage collected. You should call this method when all jobs are complete and all archives are downloaded. Do not call it only when you start a new job.",
          "path": "v1beta/authorization:reset"
        }
      }
    }
  }
}
