{
  "name": "datastore",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://datastore.mtls.googleapis.com/",
  "revision": "20230118",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleDatastoreAdminV1IndexOperationMetadata": {
      "type": "object",
      "properties": {
        "common": {
          "$ref": "GoogleDatastoreAdminV1CommonMetadata",
          "description": "Metadata common to all Datastore Admin operations."
        },
        "progressEntities": {
          "$ref": "GoogleDatastoreAdminV1Progress",
          "description": "An estimate of the number of entities processed."
        },
        "indexId": {
          "type": "string",
          "description": "The index resource ID that this operation is acting on."
        }
      },
      "description": "Metadata for Index operations.",
      "id": "GoogleDatastoreAdminV1IndexOperationMetadata"
    },
    "RollbackRequest": {
      "description": "The request for Datastore.Rollback.",
      "type": "object",
      "id": "RollbackRequest",
      "properties": {
        "transaction": {
          "description": "Required. The transaction identifier, returned by a call to Datastore.BeginTransaction.",
          "type": "string",
          "format": "byte"
        },
        "databaseId": {
          "type": "string",
          "description": "The ID of the database against which to make the request. '(default)' is not allowed; please use empty string '' to refer the default database."
        }
      }
    },
    "KindExpression": {
      "description": "A representation of a kind.",
      "id": "KindExpression",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the kind."
        }
      },
      "type": "object"
    },
    "GoogleDatastoreAdminV1ExportEntitiesResponse": {
      "id": "GoogleDatastoreAdminV1ExportEntitiesResponse",
      "type": "object",
      "properties": {
        "outputUrl": {
          "type": "string",
          "description": "Location of the output metadata file. This can be used to begin an import into Cloud Datastore (this project or another project). See google.datastore.admin.v1.ImportEntitiesRequest.input_url. Only present if the operation completed successfully."
        }
      },
      "description": "The response for google.datastore.admin.v1.DatastoreAdmin.ExportEntities."
    },
    "GoogleDatastoreAdminV1MigrationProgressEvent": {
      "properties": {
        "redirectWritesStepDetails": {
          "description": "Details for the `REDIRECT_WRITES` step.",
          "$ref": "GoogleDatastoreAdminV1RedirectWritesStepDetails"
        },
        "step": {
          "description": "The step that is starting. An event with step set to `START` indicates that the migration has been reverted back to the initial pre-migration state.",
          "enumDescriptions": [
            "Unspecified.",
            "Pre-migration: the database is prepared for migration.",
            "Start of migration.",
            "Writes are applied synchronously to at least one replica.",
            "Data is copied to Cloud Firestore and then verified to match the data in Cloud Datastore.",
            "Eventually-consistent reads are redirected to Cloud Firestore.",
            "Strongly-consistent reads are redirected to Cloud Firestore.",
            "Writes are redirected to Cloud Firestore."
          ],
          "type": "string",
          "enum": [
            "MIGRATION_STEP_UNSPECIFIED",
            "PREPARE",
            "START",
            "APPLY_WRITES_SYNCHRONOUSLY",
            "COPY_AND_VERIFY",
            "REDIRECT_EVENTUALLY_CONSISTENT_READS",
            "REDIRECT_STRONGLY_CONSISTENT_READS",
            "REDIRECT_WRITES"
          ]
        },
        "prepareStepDetails": {
          "$ref": "GoogleDatastoreAdminV1PrepareStepDetails",
          "description": "Details for the `PREPARE` step."
        }
      },
      "description": "An event signifying the start of a new step in a [migration from Cloud Datastore to Cloud Firestore in Datastore mode](https://cloud.google.com/datastore/docs/upgrade-to-firestore).",
      "type": "object",
      "id": "GoogleDatastoreAdminV1MigrationProgressEvent"
    },
    "GoogleLongrunningOperation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      },
      "id": "GoogleLongrunningOperation"
    },
    "EntityResult": {
      "type": "object",
      "description": "The result of fetching an entity from Datastore.",
      "id": "EntityResult",
      "properties": {
        "version": {
          "description": "The version of the entity, a strictly positive number that monotonically increases with changes to the entity. This field is set for `FULL` entity results. For missing entities in `LookupResponse`, this is the version of the snapshot that was used to look up the entity, and it is always set except for eventually consistent reads.",
          "format": "int64",
          "type": "string"
        },
        "entity": {
          "description": "The resulting entity.",
          "$ref": "Entity"
        },
        "updateTime": {
          "description": "The time at which the entity was last changed. This field is set for `FULL` entity results. If this entity is missing, this field will not be set.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The time at which the entity was created. This field is set for `FULL` entity results. If this entity is missing, this field will not be set.",
          "type": "string"
        },
        "cursor": {
          "description": "A cursor that points to the position after the result entity. Set only when the `EntityResult` is part of a `QueryResultBatch` message.",
          "format": "byte",
          "type": "string"
        }
      }
    },
    "ReadOnly": {
      "properties": {
        "readTime": {
          "type": "string",
          "description": "Reads entities at the given time. This may not be older than 60 seconds.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Options specific to read-only transactions.",
      "id": "ReadOnly"
    },
    "GoogleDatastoreAdminV1EntityFilter": {
      "description": "Identifies a subset of entities in a project. This is specified as combinations of kinds and namespaces (either or both of which may be all, as described in the following examples). Example usage: Entire project: kinds=[], namespace_ids=[] Kinds Foo and Bar in all namespaces: kinds=['Foo', 'Bar'], namespace_ids=[] Kinds Foo and Bar only in the default namespace: kinds=['Foo', 'Bar'], namespace_ids=[''] Kinds Foo and Bar in both the default and Baz namespaces: kinds=['Foo', 'Bar'], namespace_ids=['', 'Baz'] The entire Baz namespace: kinds=[], namespace_ids=['Baz']",
      "properties": {
        "kinds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "If empty, then this represents all kinds."
        },
        "namespaceIds": {
          "items": {
            "type": "string"
          },
          "description": "An empty list represents all namespaces. This is the preferred usage for projects that don't use namespaces. An empty string element represents the default namespace. This should be used if the project has data in non-default namespaces, but doesn't want to include them. Each namespace in this list must be unique.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleDatastoreAdminV1EntityFilter"
    },
    "GoogleDatastoreAdminV1ExportEntitiesRequest": {
      "type": "object",
      "id": "GoogleDatastoreAdminV1ExportEntitiesRequest",
      "properties": {
        "labels": {
          "description": "Client-assigned labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "entityFilter": {
          "$ref": "GoogleDatastoreAdminV1EntityFilter",
          "description": "Description of what data from the project is included in the export."
        },
        "outputUrlPrefix": {
          "type": "string",
          "description": "Required. Location for the export metadata and data files. The full resource URL of the external storage location. Currently, only Google Cloud Storage is supported. So output_url_prefix should be of the form: `gs://BUCKET_NAME[/NAMESPACE_PATH]`, where `BUCKET_NAME` is the name of the Cloud Storage bucket and `NAMESPACE_PATH` is an optional Cloud Storage namespace path (this is not a Cloud Datastore namespace). For more information about Cloud Storage namespace paths, see [Object name considerations](https://cloud.google.com/storage/docs/naming#object-considerations). The resulting files will be nested deeper than the specified URL prefix. The final output URL will be provided in the google.datastore.admin.v1.ExportEntitiesResponse.output_url field. That value should be used for subsequent ImportEntities operations. By nesting the data files deeper, the same Cloud Storage bucket can be used in multiple ExportEntities operations without conflict."
        }
      },
      "description": "The request for google.datastore.admin.v1.DatastoreAdmin.ExportEntities."
    },
    "GoogleDatastoreAdminV1CommonMetadata": {
      "type": "object",
      "id": "GoogleDatastoreAdminV1CommonMetadata",
      "description": "Metadata common to all Datastore Admin operations.",
      "properties": {
        "labels": {
          "type": "object",
          "description": "The client-assigned labels which were provided when the operation was created. May also include additional labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "operationType": {
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "EXPORT_ENTITIES",
            "IMPORT_ENTITIES",
            "CREATE_INDEX",
            "DELETE_INDEX"
          ],
          "description": "The type of the operation. Can be used as a filter in ListOperationsRequest.",
          "enumDescriptions": [
            "Unspecified.",
            "ExportEntities.",
            "ImportEntities.",
            "CreateIndex.",
            "DeleteIndex."
          ]
        },
        "endTime": {
          "type": "string",
          "description": "The time the operation ended, either successfully or otherwise.",
          "format": "google-datetime"
        },
        "state": {
          "description": "The current state of the Operation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "The time that work began on the operation.",
          "format": "google-datetime"
        }
      }
    },
    "LookupRequest": {
      "properties": {
        "readOptions": {
          "$ref": "ReadOptions",
          "description": "The options for this lookup request."
        },
        "keys": {
          "type": "array",
          "items": {
            "$ref": "Key"
          },
          "description": "Required. Keys of entities to look up."
        },
        "databaseId": {
          "type": "string",
          "description": "The ID of the database against which to make the request. '(default)' is not allowed; please use empty string '' to refer the default database."
        }
      },
      "id": "LookupRequest",
      "description": "The request for Datastore.Lookup.",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ArrayValue": {
      "properties": {
        "values": {
          "description": "Values in the array. The order of values in an array is preserved as long as all values have identical settings for 'exclude_from_indexes'.",
          "type": "array",
          "items": {
            "$ref": "Value"
          }
        }
      },
      "type": "object",
      "description": "An array value.",
      "id": "ArrayValue"
    },
    "GoogleDatastoreAdminV1PrepareStepDetails": {
      "description": "Details for the `PREPARE` step.",
      "id": "GoogleDatastoreAdminV1PrepareStepDetails",
      "properties": {
        "concurrencyMode": {
          "enum": [
            "CONCURRENCY_MODE_UNSPECIFIED",
            "PESSIMISTIC",
            "OPTIMISTIC",
            "OPTIMISTIC_WITH_ENTITY_GROUPS"
          ],
          "type": "string",
          "description": "The concurrency mode this database will use when it reaches the `REDIRECT_WRITES` step.",
          "enumDescriptions": [
            "Unspecified.",
            "Pessimistic concurrency.",
            "Optimistic concurrency.",
            "Optimistic concurrency with entity groups."
          ]
        }
      },
      "type": "object"
    },
    "AggregationQuery": {
      "properties": {
        "nestedQuery": {
          "$ref": "Query",
          "description": "Nested query for aggregation"
        },
        "aggregations": {
          "type": "array",
          "items": {
            "$ref": "Aggregation"
          },
          "description": "Optional. Series of aggregations to apply over the results of the `nested_query`. Requires: * A minimum of one and maximum of five aggregations per query."
        }
      },
      "type": "object",
      "id": "AggregationQuery",
      "description": "Datastore query for running an aggregation over a Query."
    },
    "BeginTransactionResponse": {
      "properties": {
        "transaction": {
          "type": "string",
          "description": "The transaction identifier (always present).",
          "format": "byte"
        }
      },
      "type": "object",
      "id": "BeginTransactionResponse",
      "description": "The response for Datastore.BeginTransaction."
    },
    "GqlQuery": {
      "description": "A [GQL query](https://cloud.google.com/datastore/docs/apis/gql/gql_reference).",
      "properties": {
        "allowLiterals": {
          "description": "When false, the query string must not contain any literals and instead must bind all values. For example, `SELECT * FROM Kind WHERE a = 'string literal'` is not allowed, while `SELECT * FROM Kind WHERE a = @value` is.",
          "type": "boolean"
        },
        "queryString": {
          "type": "string",
          "description": "A string of the format described [here](https://cloud.google.com/datastore/docs/apis/gql/gql_reference)."
        },
        "positionalBindings": {
          "description": "Numbered binding site @1 references the first numbered parameter, effectively using 1-based indexing, rather than the usual 0. For each binding site numbered i in `query_string`, there must be an i-th numbered parameter. The inverse must also be true.",
          "items": {
            "$ref": "GqlQueryParameter"
          },
          "type": "array"
        },
        "namedBindings": {
          "description": "For each non-reserved named binding site in the query string, there must be a named parameter with that name, but not necessarily the inverse. Key must match regex `A-Za-z_$*`, must not match regex `__.*__`, and must not be `\"\"`.",
          "additionalProperties": {
            "$ref": "GqlQueryParameter"
          },
          "type": "object"
        }
      },
      "id": "GqlQuery",
      "type": "object"
    },
    "GoogleDatastoreAdminV1beta1Progress": {
      "properties": {
        "workEstimated": {
          "format": "int64",
          "type": "string",
          "description": "An estimate of how much work needs to be performed. May be zero if the work estimate is unavailable."
        },
        "workCompleted": {
          "type": "string",
          "description": "The amount of work that has been completed. Note that this may be greater than work_estimated.",
          "format": "int64"
        }
      },
      "id": "GoogleDatastoreAdminV1beta1Progress",
      "description": "Measures the progress of a particular metric.",
      "type": "object"
    },
    "Projection": {
      "id": "Projection",
      "properties": {
        "property": {
          "description": "The property to project.",
          "$ref": "PropertyReference"
        }
      },
      "type": "object",
      "description": "A representation of a property in a projection."
    },
    "RollbackResponse": {
      "id": "RollbackResponse",
      "type": "object",
      "properties": {},
      "description": "The response for Datastore.Rollback. (an empty message)."
    },
    "GoogleDatastoreAdminV1beta1ImportEntitiesMetadata": {
      "id": "GoogleDatastoreAdminV1beta1ImportEntitiesMetadata",
      "type": "object",
      "properties": {
        "common": {
          "$ref": "GoogleDatastoreAdminV1beta1CommonMetadata",
          "description": "Metadata common to all Datastore Admin operations."
        },
        "progressEntities": {
          "description": "An estimate of the number of entities processed.",
          "$ref": "GoogleDatastoreAdminV1beta1Progress"
        },
        "progressBytes": {
          "$ref": "GoogleDatastoreAdminV1beta1Progress",
          "description": "An estimate of the number of bytes processed."
        },
        "inputUrl": {
          "type": "string",
          "description": "The location of the import metadata file. This will be the same value as the google.datastore.admin.v1beta1.ExportEntitiesResponse.output_url field."
        },
        "entityFilter": {
          "description": "Description of which entities are being imported.",
          "$ref": "GoogleDatastoreAdminV1beta1EntityFilter"
        }
      },
      "description": "Metadata for ImportEntities operations."
    },
    "GoogleLongrunningListOperationsResponse": {
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "GoogleLongrunningListOperationsResponse"
    },
    "GoogleDatastoreAdminV1ImportEntitiesRequest": {
      "type": "object",
      "description": "The request for google.datastore.admin.v1.DatastoreAdmin.ImportEntities.",
      "properties": {
        "inputUrl": {
          "type": "string",
          "description": "Required. The full resource URL of the external storage location. Currently, only Google Cloud Storage is supported. So input_url should be of the form: `gs://BUCKET_NAME[/NAMESPACE_PATH]/OVERALL_EXPORT_METADATA_FILE`, where `BUCKET_NAME` is the name of the Cloud Storage bucket, `NAMESPACE_PATH` is an optional Cloud Storage namespace path (this is not a Cloud Datastore namespace), and `OVERALL_EXPORT_METADATA_FILE` is the metadata file written by the ExportEntities operation. For more information about Cloud Storage namespace paths, see [Object name considerations](https://cloud.google.com/storage/docs/naming#object-considerations). For more information, see google.datastore.admin.v1.ExportEntitiesResponse.output_url."
        },
        "entityFilter": {
          "description": "Optionally specify which kinds/namespaces are to be imported. If provided, the list must be a subset of the EntityFilter used in creating the export, otherwise a FAILED_PRECONDITION error will be returned. If no filter is specified then all entities from the export are imported.",
          "$ref": "GoogleDatastoreAdminV1EntityFilter"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Client-assigned labels."
        }
      },
      "id": "GoogleDatastoreAdminV1ImportEntitiesRequest"
    },
    "Query": {
      "id": "Query",
      "description": "A query for entities.",
      "type": "object",
      "properties": {
        "filter": {
          "$ref": "Filter",
          "description": "The filter to apply."
        },
        "distinctOn": {
          "description": "The properties to make distinct. The query results will contain the first result for each distinct combination of values for the given properties (if empty, all results are returned).",
          "type": "array",
          "items": {
            "$ref": "PropertyReference"
          }
        },
        "kind": {
          "type": "array",
          "items": {
            "$ref": "KindExpression"
          },
          "description": "The kinds to query (if empty, returns entities of all kinds). Currently at most 1 kind may be specified."
        },
        "endCursor": {
          "type": "string",
          "format": "byte",
          "description": "An ending point for the query results. Query cursors are returned in query result batches and [can only be used to limit the same query](https://cloud.google.com/datastore/docs/concepts/queries#cursors_limits_and_offsets)."
        },
        "limit": {
          "description": "The maximum number of results to return. Applies after all other constraints. Optional. Unspecified is interpreted as no limit. Must be \u003e= 0 if specified.",
          "format": "int32",
          "type": "integer"
        },
        "startCursor": {
          "type": "string",
          "format": "byte",
          "description": "A starting point for the query results. Query cursors are returned in query result batches and [can only be used to continue the same query](https://cloud.google.com/datastore/docs/concepts/queries#cursors_limits_and_offsets)."
        },
        "order": {
          "items": {
            "$ref": "PropertyOrder"
          },
          "description": "The order to apply to the query results (if empty, order is unspecified).",
          "type": "array"
        },
        "offset": {
          "description": "The number of results to skip. Applies before limit, but after all other constraints. Optional. Must be \u003e= 0 if specified.",
          "type": "integer",
          "format": "int32"
        },
        "projection": {
          "type": "array",
          "items": {
            "$ref": "Projection"
          },
          "description": "The projection to return. Defaults to returning all properties."
        }
      }
    },
    "RunQueryRequest": {
      "type": "object",
      "id": "RunQueryRequest",
      "description": "The request for Datastore.RunQuery.",
      "properties": {
        "databaseId": {
          "description": "The ID of the database against which to make the request. '(default)' is not allowed; please use empty string '' to refer the default database.",
          "type": "string"
        },
        "partitionId": {
          "$ref": "PartitionId",
          "description": "Entities are partitioned into subsets, identified by a partition ID. Queries are scoped to a single partition. This partition ID is normalized with the standard default context partition ID."
        },
        "gqlQuery": {
          "description": "The GQL query to run. This query must be a non-aggregation query.",
          "$ref": "GqlQuery"
        },
        "readOptions": {
          "$ref": "ReadOptions",
          "description": "The options for this query."
        },
        "query": {
          "description": "The query to run.",
          "$ref": "Query"
        }
      }
    },
    "MutationResult": {
      "id": "MutationResult",
      "description": "The result of applying a mutation.",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "The update time of the entity on the server after processing the mutation. If the mutation doesn't change anything on the server, then the timestamp will be the update timestamp of the current entity. This field will not be set after a 'delete'.",
          "format": "google-datetime"
        },
        "key": {
          "$ref": "Key",
          "description": "The automatically allocated key. Set only when the mutation allocated a key."
        },
        "conflictDetected": {
          "description": "Whether a conflict was detected for this mutation. Always false when a conflict detection strategy field is not set in the mutation.",
          "type": "boolean"
        },
        "version": {
          "type": "string",
          "description": "The version of the entity on the server after processing the mutation. If the mutation doesn't change anything on the server, then the version will be the version of the current entity or, if no entity is present, a version that is strictly greater than the version of any previous entity and less than the version of any possible future entity.",
          "format": "int64"
        },
        "createTime": {
          "type": "string",
          "description": "The create time of the entity. This field will not be set after a 'delete'.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleDatastoreAdminV1MigrationStateEvent": {
      "type": "object",
      "description": "An event signifying a change in state of a [migration from Cloud Datastore to Cloud Firestore in Datastore mode](https://cloud.google.com/datastore/docs/upgrade-to-firestore).",
      "properties": {
        "state": {
          "enum": [
            "MIGRATION_STATE_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "COMPLETE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "The migration is running.",
            "The migration is paused.",
            "The migration is complete."
          ],
          "type": "string",
          "description": "The new state of the migration."
        }
      },
      "id": "GoogleDatastoreAdminV1MigrationStateEvent"
    },
    "TransactionOptions": {
      "properties": {
        "readWrite": {
          "description": "The transaction should allow both reads and writes.",
          "$ref": "ReadWrite"
        },
        "readOnly": {
          "$ref": "ReadOnly",
          "description": "The transaction should only allow reads."
        }
      },
      "description": "Options for beginning a new transaction. Transactions can be created explicitly with calls to Datastore.BeginTransaction or implicitly by setting ReadOptions.new_transaction in read requests.",
      "type": "object",
      "id": "TransactionOptions"
    },
    "PartitionId": {
      "type": "object",
      "description": "A partition ID identifies a grouping of entities. The grouping is always by project and namespace, however the namespace ID may be empty. A partition ID contains several dimensions: project ID and namespace ID. Partition dimensions: - May be `\"\"`. - Must be valid UTF-8 bytes. - Must have values that match regex `[A-Za-z\\d\\.\\-_]{1,100}` If the value of any dimension matches regex `__.*__`, the partition is reserved/read-only. A reserved/read-only partition ID is forbidden in certain documented contexts. Foreign partition IDs (in which the project ID does not match the context project ID ) are discouraged. Reads and writes of foreign partition IDs may fail if the project is not in an active state.",
      "id": "PartitionId",
      "properties": {
        "projectId": {
          "description": "The ID of the project to which the entities belong.",
          "type": "string"
        },
        "namespaceId": {
          "description": "If not empty, the ID of the namespace to which the entities belong.",
          "type": "string"
        },
        "databaseId": {
          "description": "If not empty, the ID of the database to which the entities belong.",
          "type": "string"
        }
      }
    },
    "AggregationResultBatch": {
      "description": "A batch of aggregation results produced by an aggregation query.",
      "type": "object",
      "properties": {
        "aggregationResults": {
          "type": "array",
          "items": {
            "$ref": "AggregationResult"
          },
          "description": "The aggregation results for this batch."
        },
        "moreResults": {
          "description": "The state of the query after the current batch. Only COUNT(*) aggregations are supported in the initial launch. Therefore, expected result type is limited to `NO_MORE_RESULTS`.",
          "enum": [
            "MORE_RESULTS_TYPE_UNSPECIFIED",
            "NOT_FINISHED",
            "MORE_RESULTS_AFTER_LIMIT",
            "MORE_RESULTS_AFTER_CURSOR",
            "NO_MORE_RESULTS"
          ],
          "enumDescriptions": [
            "Unspecified. This value is never used.",
            "There may be additional batches to fetch from this query.",
            "The query is finished, but there may be more results after the limit.",
            "The query is finished, but there may be more results after the end cursor.",
            "The query is finished, and there are no more results."
          ],
          "type": "string"
        },
        "readTime": {
          "description": "Read timestamp this batch was returned from. In a single transaction, subsequent query result batches for the same query can have a greater timestamp. Each batch's read timestamp is valid for all preceding batches.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "AggregationResultBatch"
    },
    "GoogleDatastoreAdminV1beta1EntityFilter": {
      "properties": {
        "namespaceIds": {
          "description": "An empty list represents all namespaces. This is the preferred usage for projects that don't use namespaces. An empty string element represents the default namespace. This should be used if the project has data in non-default namespaces, but doesn't want to include them. Each namespace in this list must be unique.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kinds": {
          "description": "If empty, then this represents all kinds.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Identifies a subset of entities in a project. This is specified as combinations of kinds and namespaces (either or both of which may be all, as described in the following examples). Example usage: Entire project: kinds=[], namespace_ids=[] Kinds Foo and Bar in all namespaces: kinds=['Foo', 'Bar'], namespace_ids=[] Kinds Foo and Bar only in the default namespace: kinds=['Foo', 'Bar'], namespace_ids=[''] Kinds Foo and Bar in both the default and Baz namespaces: kinds=['Foo', 'Bar'], namespace_ids=['', 'Baz'] The entire Baz namespace: kinds=[], namespace_ids=['Baz']",
      "id": "GoogleDatastoreAdminV1beta1EntityFilter",
      "type": "object"
    },
    "GoogleDatastoreAdminV1Index": {
      "id": "GoogleDatastoreAdminV1Index",
      "properties": {
        "properties": {
          "type": "array",
          "items": {
            "$ref": "GoogleDatastoreAdminV1IndexedProperty"
          },
          "description": "Required. An ordered sequence of property names and their index attributes. Requires: * A maximum of 100 properties."
        },
        "kind": {
          "type": "string",
          "description": "Required. The entity kind to which this index applies."
        },
        "indexId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource ID of the index."
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "ERROR"
          ],
          "description": "Output only. The state of the index.",
          "enumDescriptions": [
            "The state is unspecified.",
            "The index is being created, and cannot be used by queries. There is an active long-running operation for the index. The index is updated when writing an entity. Some index data may exist.",
            "The index is ready to be used. The index is updated when writing an entity. The index is fully populated from all stored entities it applies to.",
            "The index is being deleted, and cannot be used by queries. There is an active long-running operation for the index. The index is not updated when writing an entity. Some index data may exist.",
            "The index was being created or deleted, but something went wrong. The index cannot by used by queries. There is no active long-running operation for the index, and the most recently finished long-running operation failed. The index is not updated when writing an entity. Some index data may exist."
          ]
        },
        "projectId": {
          "description": "Output only. Project ID.",
          "type": "string",
          "readOnly": true
        },
        "ancestor": {
          "description": "Required. The index's ancestor mode. Must not be ANCESTOR_MODE_UNSPECIFIED.",
          "type": "string",
          "enumDescriptions": [
            "The ancestor mode is unspecified.",
            "Do not include the entity's ancestors in the index.",
            "Include all the entity's ancestors in the index."
          ],
          "enum": [
            "ANCESTOR_MODE_UNSPECIFIED",
            "NONE",
            "ALL_ANCESTORS"
          ]
        }
      },
      "type": "object",
      "description": "Datastore composite index definition."
    },
    "GoogleDatastoreAdminV1RedirectWritesStepDetails": {
      "id": "GoogleDatastoreAdminV1RedirectWritesStepDetails",
      "description": "Details for the `REDIRECT_WRITES` step.",
      "properties": {
        "concurrencyMode": {
          "description": "Ths concurrency mode for this database.",
          "enumDescriptions": [
            "Unspecified.",
            "Pessimistic concurrency.",
            "Optimistic concurrency.",
            "Optimistic concurrency with entity groups."
          ],
          "type": "string",
          "enum": [
            "CONCURRENCY_MODE_UNSPECIFIED",
            "PESSIMISTIC",
            "OPTIMISTIC",
            "OPTIMISTIC_WITH_ENTITY_GROUPS"
          ]
        }
      },
      "type": "object"
    },
    "GoogleDatastoreAdminV1Progress": {
      "id": "GoogleDatastoreAdminV1Progress",
      "description": "Measures the progress of a particular metric.",
      "type": "object",
      "properties": {
        "workEstimated": {
          "type": "string",
          "format": "int64",
          "description": "An estimate of how much work needs to be performed. May be zero if the work estimate is unavailable."
        },
        "workCompleted": {
          "type": "string",
          "format": "int64",
          "description": "The amount of work that has been completed. Note that this may be greater than work_estimated."
        }
      }
    },
    "QueryResultBatch": {
      "description": "A batch of results produced by a query.",
      "type": "object",
      "id": "QueryResultBatch",
      "properties": {
        "snapshotVersion": {
          "format": "int64",
          "type": "string",
          "description": "The version number of the snapshot this batch was returned from. This applies to the range of results from the query's `start_cursor` (or the beginning of the query if no cursor was given) to this batch's `end_cursor` (not the query's `end_cursor`). In a single transaction, subsequent query result batches for the same query can have a greater snapshot version number. Each batch's snapshot version is valid for all preceding batches. The value will be zero for eventually consistent queries."
        },
        "skippedCursor": {
          "type": "string",
          "format": "byte",
          "description": "A cursor that points to the position after the last skipped result. Will be set when `skipped_results` != 0."
        },
        "moreResults": {
          "enum": [
            "MORE_RESULTS_TYPE_UNSPECIFIED",
            "NOT_FINISHED",
            "MORE_RESULTS_AFTER_LIMIT",
            "MORE_RESULTS_AFTER_CURSOR",
            "NO_MORE_RESULTS"
          ],
          "description": "The state of the query after the current batch.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. This value is never used.",
            "There may be additional batches to fetch from this query.",
            "The query is finished, but there may be more results after the limit.",
            "The query is finished, but there may be more results after the end cursor.",
            "The query is finished, and there are no more results."
          ]
        },
        "readTime": {
          "description": "Read timestamp this batch was returned from. This applies to the range of results from the query's `start_cursor` (or the beginning of the query if no cursor was given) to this batch's `end_cursor` (not the query's `end_cursor`). In a single transaction, subsequent query result batches for the same query can have a greater timestamp. Each batch's read timestamp is valid for all preceding batches. This value will not be set for eventually consistent queries in Cloud Datastore.",
          "type": "string",
          "format": "google-datetime"
        },
        "entityResultType": {
          "enum": [
            "RESULT_TYPE_UNSPECIFIED",
            "FULL",
            "PROJECTION",
            "KEY_ONLY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified. This value is never used.",
            "The key and properties.",
            "A projected subset of properties. The entity may have no key.",
            "Only the key."
          ],
          "description": "The result type for every entity in `entity_results`."
        },
        "endCursor": {
          "type": "string",
          "format": "byte",
          "description": "A cursor that points to the position after the last result in the batch."
        },
        "entityResults": {
          "type": "array",
          "description": "The results for this batch.",
          "items": {
            "$ref": "EntityResult"
          }
        },
        "skippedResults": {
          "description": "The number of results skipped, typically because of an offset.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "LookupResponse": {
      "description": "The response for Datastore.Lookup.",
      "id": "LookupResponse",
      "type": "object",
      "properties": {
        "readTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which these entities were read or found missing."
        },
        "deferred": {
          "items": {
            "$ref": "Key"
          },
          "type": "array",
          "description": "A list of keys that were not looked up due to resource constraints. The order of results in this field is undefined and has no relation to the order of the keys in the input."
        },
        "found": {
          "type": "array",
          "items": {
            "$ref": "EntityResult"
          },
          "description": "Entities found as `ResultType.FULL` entities. The order of results in this field is undefined and has no relation to the order of the keys in the input."
        },
        "missing": {
          "type": "array",
          "description": "Entities not found as `ResultType.KEY_ONLY` entities. The order of results in this field is undefined and has no relation to the order of the keys in the input.",
          "items": {
            "$ref": "EntityResult"
          }
        },
        "transaction": {
          "description": "The identifier of the transaction that was started as part of this Lookup request. Set only when ReadOptions.begin_transaction was set in LookupRequest.read_options.",
          "format": "byte",
          "type": "string"
        }
      }
    },
    "ReadOptions": {
      "type": "object",
      "properties": {
        "transaction": {
          "description": "The identifier of the transaction in which to read. A transaction identifier is returned by a call to Datastore.BeginTransaction.",
          "type": "string",
          "format": "byte"
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Reads entities as they were at the given time. This may not be older than 270 seconds. This value is only supported for Cloud Firestore in Datastore mode."
        },
        "readConsistency": {
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "Strong consistency.",
            "Eventual consistency."
          ],
          "type": "string",
          "description": "The non-transactional read consistency to use.",
          "enum": [
            "READ_CONSISTENCY_UNSPECIFIED",
            "STRONG",
            "EVENTUAL"
          ]
        },
        "newTransaction": {
          "$ref": "TransactionOptions",
          "description": "Options for beginning a new transaction for this request. The new transaction identifier will be returned in the corresponding response as either LookupResponse.transaction or RunQueryResponse.transaction."
        }
      },
      "id": "ReadOptions",
      "description": "The options shared by read requests."
    },
    "Filter": {
      "description": "A holder for any type of filter.",
      "type": "object",
      "properties": {
        "compositeFilter": {
          "description": "A composite filter.",
          "$ref": "CompositeFilter"
        },
        "propertyFilter": {
          "description": "A filter on a property.",
          "$ref": "PropertyFilter"
        }
      },
      "id": "Filter"
    },
    "Key": {
      "description": "A unique identifier for an entity. If a key's partition ID or any of its path kinds or names are reserved/read-only, the key is reserved/read-only. A reserved/read-only key is forbidden in certain documented contexts.",
      "id": "Key",
      "properties": {
        "path": {
          "description": "The entity path. An entity path consists of one or more elements composed of a kind and a string or numerical identifier, which identify entities. The first element identifies a _root entity_, the second element identifies a _child_ of the root entity, the third element identifies a child of the second entity, and so forth. The entities identified by all prefixes of the path are called the element's _ancestors_. An entity path is always fully complete: *all* of the entity's ancestors are required to be in the path along with the entity identifier itself. The only exception is that in some documented cases, the identifier in the last path element (for the entity) itself may be omitted. For example, the last path element of the key of `Mutation.insert` may have no identifier. A path can never be empty, and a path can have at most 100 elements.",
          "type": "array",
          "items": {
            "$ref": "PathElement"
          }
        },
        "partitionId": {
          "$ref": "PartitionId",
          "description": "Entities are partitioned into subsets, currently identified by a project ID and namespace ID. Queries are scoped to a single partition."
        }
      },
      "type": "object"
    },
    "RunAggregationQueryRequest": {
      "id": "RunAggregationQueryRequest",
      "type": "object",
      "description": "The request for Datastore.RunAggregationQuery.",
      "properties": {
        "databaseId": {
          "description": "The ID of the database against which to make the request. '(default)' is not allowed; please use empty string '' to refer the default database.",
          "type": "string"
        },
        "aggregationQuery": {
          "description": "The query to run.",
          "$ref": "AggregationQuery"
        },
        "gqlQuery": {
          "$ref": "GqlQuery",
          "description": "The GQL query to run. This query must be an aggregation query."
        },
        "readOptions": {
          "description": "The options for this query.",
          "$ref": "ReadOptions"
        },
        "partitionId": {
          "description": "Entities are partitioned into subsets, identified by a partition ID. Queries are scoped to a single partition. This partition ID is normalized with the standard default context partition ID.",
          "$ref": "PartitionId"
        }
      }
    },
    "Entity": {
      "id": "Entity",
      "type": "object",
      "description": "A Datastore data object. An entity is limited to 1 megabyte when stored. That _roughly_ corresponds to a limit of 1 megabyte for the serialized form of this message.",
      "properties": {
        "properties": {
          "additionalProperties": {
            "$ref": "Value"
          },
          "description": "The entity's properties. The map's keys are property names. A property name matching regex `__.*__` is reserved. A reserved property name is forbidden in certain documented contexts. The name must not contain more than 500 characters. The name cannot be `\"\"`.",
          "type": "object"
        },
        "key": {
          "$ref": "Key",
          "description": "The entity's key. An entity must have a key, unless otherwise documented (for example, an entity in `Value.entity_value` may have no key). An entity's kind is its key path's last element's kind, or null if it has no key."
        }
      }
    },
    "Aggregation": {
      "id": "Aggregation",
      "type": "object",
      "properties": {
        "alias": {
          "description": "Optional. Optional name of the property to store the result of the aggregation. If not provided, Datastore will pick a default name following the format `property_`. For example: ``` AGGREGATE COUNT_UP_TO(1) AS count_up_to_1, COUNT_UP_TO(2), COUNT_UP_TO(3) AS count_up_to_3, COUNT_UP_TO(4) OVER ( ... ); ``` becomes: ``` AGGREGATE COUNT_UP_TO(1) AS count_up_to_1, COUNT_UP_TO(2) AS property_1, COUNT_UP_TO(3) AS count_up_to_3, COUNT_UP_TO(4) AS property_2 OVER ( ... ); ``` Requires: * Must be unique across all aggregation aliases. * Conform to entity property name limitations.",
          "type": "string"
        },
        "count": {
          "$ref": "Count",
          "description": "Count aggregator."
        }
      },
      "description": "Defines a aggregation that produces a single result."
    },
    "ReadWrite": {
      "description": "Options specific to read / write transactions.",
      "id": "ReadWrite",
      "properties": {
        "previousTransaction": {
          "format": "byte",
          "description": "The transaction identifier of the transaction being retried.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleDatastoreAdminV1beta1ExportEntitiesMetadata": {
      "description": "Metadata for ExportEntities operations.",
      "properties": {
        "progressEntities": {
          "description": "An estimate of the number of entities processed.",
          "$ref": "GoogleDatastoreAdminV1beta1Progress"
        },
        "outputUrlPrefix": {
          "description": "Location for the export metadata and data files. This will be the same value as the google.datastore.admin.v1beta1.ExportEntitiesRequest.output_url_prefix field. The final output location is provided in google.datastore.admin.v1beta1.ExportEntitiesResponse.output_url.",
          "type": "string"
        },
        "progressBytes": {
          "description": "An estimate of the number of bytes processed.",
          "$ref": "GoogleDatastoreAdminV1beta1Progress"
        },
        "entityFilter": {
          "$ref": "GoogleDatastoreAdminV1beta1EntityFilter",
          "description": "Description of which entities are being exported."
        },
        "common": {
          "description": "Metadata common to all Datastore Admin operations.",
          "$ref": "GoogleDatastoreAdminV1beta1CommonMetadata"
        }
      },
      "id": "GoogleDatastoreAdminV1beta1ExportEntitiesMetadata",
      "type": "object"
    },
    "Mutation": {
      "type": "object",
      "id": "Mutation",
      "description": "A mutation to apply to an entity.",
      "properties": {
        "update": {
          "$ref": "Entity",
          "description": "The entity to update. The entity must already exist. Must have a complete key path."
        },
        "upsert": {
          "description": "The entity to upsert. The entity may or may not already exist. The entity key's final path element may be incomplete.",
          "$ref": "Entity"
        },
        "baseVersion": {
          "description": "The version of the entity that this mutation is being applied to. If this does not match the current version on the server, the mutation conflicts.",
          "type": "string",
          "format": "int64"
        },
        "insert": {
          "description": "The entity to insert. The entity must not already exist. The entity key's final path element may be incomplete.",
          "$ref": "Entity"
        },
        "updateTime": {
          "description": "The update time of the entity that this mutation is being applied to. If this does not match the current update time on the server, the mutation conflicts.",
          "type": "string",
          "format": "google-datetime"
        },
        "delete": {
          "description": "The key of the entity to delete. The entity may or may not already exist. Must have a complete key path and must not be reserved/read-only.",
          "$ref": "Key"
        }
      }
    },
    "GoogleDatastoreAdminV1ExportEntitiesMetadata": {
      "description": "Metadata for ExportEntities operations.",
      "id": "GoogleDatastoreAdminV1ExportEntitiesMetadata",
      "type": "object",
      "properties": {
        "progressBytes": {
          "description": "An estimate of the number of bytes processed.",
          "$ref": "GoogleDatastoreAdminV1Progress"
        },
        "outputUrlPrefix": {
          "type": "string",
          "description": "Location for the export metadata and data files. This will be the same value as the google.datastore.admin.v1.ExportEntitiesRequest.output_url_prefix field. The final output location is provided in google.datastore.admin.v1.ExportEntitiesResponse.output_url."
        },
        "entityFilter": {
          "$ref": "GoogleDatastoreAdminV1EntityFilter",
          "description": "Description of which entities are being exported."
        },
        "common": {
          "description": "Metadata common to all Datastore Admin operations.",
          "$ref": "GoogleDatastoreAdminV1CommonMetadata"
        },
        "progressEntities": {
          "$ref": "GoogleDatastoreAdminV1Progress",
          "description": "An estimate of the number of entities processed."
        }
      }
    },
    "Count": {
      "properties": {
        "upTo": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Optional constraint on the maximum number of entities to count. This provides a way to set an upper bound on the number of entities to scan, limiting latency and cost. Unspecified is interpreted as no bound. If a zero value is provided, a count result of zero should always be expected. High-Level Example: ``` AGGREGATE COUNT_UP_TO(1000) OVER ( SELECT * FROM k ); ``` Requires: * Must be non-negative when present."
        }
      },
      "description": "Count of entities that match the query. The `COUNT(*)` aggregation function operates on the entire entity so it does not require a field reference.",
      "id": "Count",
      "type": "object"
    },
    "GoogleDatastoreAdminV1IndexedProperty": {
      "description": "A property of an index.",
      "properties": {
        "name": {
          "description": "Required. The property name to index.",
          "type": "string"
        },
        "direction": {
          "enumDescriptions": [
            "The direction is unspecified.",
            "The property's values are indexed so as to support sequencing in ascending order and also query by \u003c, \u003e, \u003c=, \u003e=, and =.",
            "The property's values are indexed so as to support sequencing in descending order and also query by \u003c, \u003e, \u003c=, \u003e=, and =."
          ],
          "description": "Required. The indexed property's direction. Must not be DIRECTION_UNSPECIFIED.",
          "type": "string",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ]
        }
      },
      "id": "GoogleDatastoreAdminV1IndexedProperty",
      "type": "object"
    },
    "AllocateIdsResponse": {
      "properties": {
        "keys": {
          "items": {
            "$ref": "Key"
          },
          "type": "array",
          "description": "The keys specified in the request (in the same order), each with its key path completed with a newly allocated ID."
        }
      },
      "type": "object",
      "id": "AllocateIdsResponse",
      "description": "The response for Datastore.AllocateIds."
    },
    "PropertyReference": {
      "description": "A reference to a property relative to the kind expressions.",
      "type": "object",
      "id": "PropertyReference",
      "properties": {
        "name": {
          "description": "The name of the property. If name includes \".\"s, it may be interpreted as a property name path.",
          "type": "string"
        }
      }
    },
    "Value": {
      "id": "Value",
      "description": "A message that can hold any of the supported value types and associated metadata.",
      "properties": {
        "excludeFromIndexes": {
          "description": "If the value should be excluded from all indexes including those defined explicitly.",
          "type": "boolean"
        },
        "booleanValue": {
          "type": "boolean",
          "description": "A boolean value."
        },
        "integerValue": {
          "format": "int64",
          "type": "string",
          "description": "An integer value."
        },
        "blobValue": {
          "description": "A blob value. May have at most 1,000,000 bytes. When `exclude_from_indexes` is false, may have at most 1500 bytes. In JSON requests, must be base64-encoded.",
          "type": "string",
          "format": "byte"
        },
        "meaning": {
          "format": "int32",
          "description": "The `meaning` field should only be populated for backwards compatibility.",
          "type": "integer"
        },
        "nullValue": {
          "enumDescriptions": [
            "Null value."
          ],
          "description": "A null value.",
          "enum": [
            "NULL_VALUE"
          ],
          "type": "string"
        },
        "keyValue": {
          "$ref": "Key",
          "description": "A key value."
        },
        "entityValue": {
          "$ref": "Entity",
          "description": "An entity value. - May have no key. - May have a key with an incomplete key path. - May have a reserved/read-only key."
        },
        "stringValue": {
          "type": "string",
          "description": "A UTF-8 encoded string value. When `exclude_from_indexes` is false (it is indexed) , may have at most 1500 bytes. Otherwise, may be set to at most 1,000,000 bytes."
        },
        "arrayValue": {
          "description": "An array value. Cannot contain another array value. A `Value` instance that sets field `array_value` must not set fields `meaning` or `exclude_from_indexes`.",
          "$ref": "ArrayValue"
        },
        "doubleValue": {
          "format": "double",
          "type": "number",
          "description": "A double value."
        },
        "geoPointValue": {
          "$ref": "LatLng",
          "description": "A geo point value representing a point on the surface of Earth."
        },
        "timestampValue": {
          "description": "A timestamp value. When stored in the Datastore, precise only to microseconds; any additional precision is rounded down.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "PropertyFilter": {
      "type": "object",
      "id": "PropertyFilter",
      "properties": {
        "value": {
          "description": "The value to compare the property to.",
          "$ref": "Value"
        },
        "op": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The given `property` is less than the given `value`. Requires: * That `property` comes first in `order_by`.",
            "The given `property` is less than or equal to the given `value`. Requires: * That `property` comes first in `order_by`.",
            "The given `property` is greater than the given `value`. Requires: * That `property` comes first in `order_by`.",
            "The given `property` is greater than or equal to the given `value`. Requires: * That `property` comes first in `order_by`.",
            "The given `property` is equal to the given `value`.",
            "The given `property` is equal to at least one value in the given array. Requires: * That `value` is a non-empty `ArrayValue` with at most 10 values. * No other `IN` or `NOT_IN` is in the same query.",
            "The given `property` is not equal to the given `value`. Requires: * No other `NOT_EQUAL` or `NOT_IN` is in the same query. * That `property` comes first in the `order_by`.",
            "Limit the result set to the given entity and its descendants. Requires: * That `value` is an entity key. * No other `HAS_ANCESTOR` is in the same query.",
            "The value of the `property` is not in the given array. Requires: * That `value` is a non-empty `ArrayValue` with at most 10 values. * No other `IN`, `NOT_IN`, `NOT_EQUAL` is in the same query. * That `field` comes first in the `order_by`."
          ],
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL",
            "EQUAL",
            "IN",
            "NOT_EQUAL",
            "HAS_ANCESTOR",
            "NOT_IN"
          ],
          "description": "The operator to filter by."
        },
        "property": {
          "description": "The property to filter by.",
          "$ref": "PropertyReference"
        }
      },
      "description": "A filter on a specific property."
    },
    "RunQueryResponse": {
      "description": "The response for Datastore.RunQuery.",
      "type": "object",
      "properties": {
        "transaction": {
          "format": "byte",
          "type": "string",
          "description": "The identifier of the transaction that was started as part of this RunQuery request. Set only when ReadOptions.begin_transaction was set in RunQueryRequest.read_options."
        },
        "batch": {
          "description": "A batch of query results (always present).",
          "$ref": "QueryResultBatch"
        },
        "query": {
          "description": "The parsed form of the `GqlQuery` from the request, if it was set.",
          "$ref": "Query"
        }
      },
      "id": "RunQueryResponse"
    },
    "AllocateIdsRequest": {
      "description": "The request for Datastore.AllocateIds.",
      "properties": {
        "databaseId": {
          "description": "The ID of the database against which to make the request. '(default)' is not allowed; please use empty string '' to refer the default database.",
          "type": "string"
        },
        "keys": {
          "description": "Required. A list of keys with incomplete key paths for which to allocate IDs. No key may be reserved/read-only.",
          "type": "array",
          "items": {
            "$ref": "Key"
          }
        }
      },
      "type": "object",
      "id": "AllocateIdsRequest"
    },
    "AggregationResult": {
      "type": "object",
      "id": "AggregationResult",
      "properties": {
        "aggregateProperties": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Value"
          },
          "description": "The result of the aggregation functions, ex: `COUNT(*) AS total_entities`. The key is the alias assigned to the aggregation function on input and the size of this map equals the number of aggregation functions in the query."
        }
      },
      "description": "The result of a single bucket from a Datastore aggregation query. The keys of `aggregate_properties` are the same for all results in an aggregation query, unlike entity queries which can have different fields present for each result."
    },
    "CommitRequest": {
      "id": "CommitRequest",
      "type": "object",
      "description": "The request for Datastore.Commit.",
      "properties": {
        "databaseId": {
          "type": "string",
          "description": "The ID of the database against which to make the request. '(default)' is not allowed; please use empty string '' to refer the default database."
        },
        "mutations": {
          "type": "array",
          "items": {
            "$ref": "Mutation"
          },
          "description": "The mutations to perform. When mode is `TRANSACTIONAL`, mutations affecting a single entity are applied in order. The following sequences of mutations affecting a single entity are not permitted in a single `Commit` request: - `insert` followed by `insert` - `update` followed by `insert` - `upsert` followed by `insert` - `delete` followed by `update` When mode is `NON_TRANSACTIONAL`, no two mutations may affect a single entity."
        },
        "mode": {
          "description": "The type of commit to perform. Defaults to `TRANSACTIONAL`.",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "Transactional: The mutations are either all applied, or none are applied. Learn about transactions [here](https://cloud.google.com/datastore/docs/concepts/transactions).",
            "Non-transactional: The mutations may not apply as all or none."
          ],
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "TRANSACTIONAL",
            "NON_TRANSACTIONAL"
          ]
        },
        "singleUseTransaction": {
          "$ref": "TransactionOptions",
          "description": "Options for beginning a new transaction for this request. The transaction is committed when the request completes. If specified, TransactionOptions.mode must be TransactionOptions.ReadWrite."
        },
        "transaction": {
          "type": "string",
          "description": "The identifier of the transaction associated with the commit. A transaction identifier is returned by a call to Datastore.BeginTransaction.",
          "format": "byte"
        }
      }
    },
    "GoogleDatastoreAdminV1ImportEntitiesMetadata": {
      "id": "GoogleDatastoreAdminV1ImportEntitiesMetadata",
      "description": "Metadata for ImportEntities operations.",
      "type": "object",
      "properties": {
        "common": {
          "$ref": "GoogleDatastoreAdminV1CommonMetadata",
          "description": "Metadata common to all Datastore Admin operations."
        },
        "progressBytes": {
          "$ref": "GoogleDatastoreAdminV1Progress",
          "description": "An estimate of the number of bytes processed."
        },
        "progressEntities": {
          "$ref": "GoogleDatastoreAdminV1Progress",
          "description": "An estimate of the number of entities processed."
        },
        "inputUrl": {
          "type": "string",
          "description": "The location of the import metadata file. This will be the same value as the google.datastore.admin.v1.ExportEntitiesResponse.output_url field."
        },
        "entityFilter": {
          "description": "Description of which entities are being imported.",
          "$ref": "GoogleDatastoreAdminV1EntityFilter"
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "type": "object"
    },
    "GoogleDatastoreAdminV1beta1ExportEntitiesResponse": {
      "properties": {
        "outputUrl": {
          "type": "string",
          "description": "Location of the output metadata file. This can be used to begin an import into Cloud Datastore (this project or another project). See google.datastore.admin.v1beta1.ImportEntitiesRequest.input_url. Only present if the operation completed successfully."
        }
      },
      "type": "object",
      "description": "The response for google.datastore.admin.v1beta1.DatastoreAdmin.ExportEntities.",
      "id": "GoogleDatastoreAdminV1beta1ExportEntitiesResponse"
    },
    "GoogleDatastoreAdminV1ListIndexesResponse": {
      "description": "The response for google.datastore.admin.v1.DatastoreAdmin.ListIndexes.",
      "id": "GoogleDatastoreAdminV1ListIndexesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "indexes": {
          "description": "The indexes.",
          "type": "array",
          "items": {
            "$ref": "GoogleDatastoreAdminV1Index"
          }
        }
      }
    },
    "CommitResponse": {
      "id": "CommitResponse",
      "type": "object",
      "properties": {
        "mutationResults": {
          "items": {
            "$ref": "MutationResult"
          },
          "type": "array",
          "description": "The result of performing the mutations. The i-th mutation result corresponds to the i-th mutation in the request."
        },
        "indexUpdates": {
          "description": "The number of index entries updated during the commit, or zero if none were updated.",
          "type": "integer",
          "format": "int32"
        },
        "commitTime": {
          "description": "The transaction commit timestamp. Not set for non-transactional commits.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "The response for Datastore.Commit."
    },
    "ReserveIdsRequest": {
      "properties": {
        "databaseId": {
          "type": "string",
          "description": "The ID of the database against which to make the request. '(default)' is not allowed; please use empty string '' to refer the default database."
        },
        "keys": {
          "description": "Required. A list of keys with complete key paths whose numeric IDs should not be auto-allocated.",
          "type": "array",
          "items": {
            "$ref": "Key"
          }
        }
      },
      "type": "object",
      "id": "ReserveIdsRequest",
      "description": "The request for Datastore.ReserveIds."
    },
    "RunAggregationQueryResponse": {
      "type": "object",
      "id": "RunAggregationQueryResponse",
      "description": "The response for Datastore.RunAggregationQuery.",
      "properties": {
        "transaction": {
          "type": "string",
          "description": "The identifier of the transaction that was started as part of this RunAggregationQuery request. Set only when ReadOptions.begin_transaction was set in RunAggregationQueryRequest.read_options.",
          "format": "byte"
        },
        "query": {
          "$ref": "AggregationQuery",
          "description": "The parsed form of the `GqlQuery` from the request, if it was set."
        },
        "batch": {
          "$ref": "AggregationResultBatch",
          "description": "A batch of aggregation results. Always present."
        }
      }
    },
    "PathElement": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the entity. A name matching regex `__.*__` is reserved/read-only. A name must not be more than 1500 bytes when UTF-8 encoded. Cannot be `\"\"`. Must be valid UTF-8 bytes. Legacy values that are not valid UTF-8 are encoded as `__bytes__` where `` is the base-64 encoding of the bytes."
        },
        "kind": {
          "description": "The kind of the entity. A kind matching regex `__.*__` is reserved/read-only. A kind must not contain more than 1500 bytes when UTF-8 encoded. Cannot be `\"\"`. Must be valid UTF-8 bytes. Legacy values that are not valid UTF-8 are encoded as `__bytes__` where `` is the base-64 encoding of the bytes.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "The auto-allocated ID of the entity. Never equal to zero. Values less than zero are discouraged and may not be supported in the future."
        }
      },
      "type": "object",
      "description": "A (kind, ID/name) pair used to construct a key path. If either name or ID is set, the element is complete. If neither is set, the element is incomplete.",
      "id": "PathElement"
    },
    "CompositeFilter": {
      "type": "object",
      "properties": {
        "filters": {
          "description": "The list of filters to combine. Requires: * At least one filter is present.",
          "type": "array",
          "items": {
            "$ref": "Filter"
          }
        },
        "op": {
          "description": "The operator for combining multiple filters.",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The results are required to satisfy each of the combined filters."
          ],
          "type": "string",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "AND"
          ]
        }
      },
      "id": "CompositeFilter",
      "description": "A filter that merges multiple other filters using the given operator."
    },
    "GoogleDatastoreAdminV1DatastoreFirestoreMigrationMetadata": {
      "properties": {
        "migrationState": {
          "enumDescriptions": [
            "Unspecified.",
            "The migration is running.",
            "The migration is paused.",
            "The migration is complete."
          ],
          "type": "string",
          "description": "The current state of migration from Cloud Datastore to Cloud Firestore in Datastore mode.",
          "enum": [
            "MIGRATION_STATE_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "COMPLETE"
          ]
        },
        "migrationStep": {
          "enumDescriptions": [
            "Unspecified.",
            "Pre-migration: the database is prepared for migration.",
            "Start of migration.",
            "Writes are applied synchronously to at least one replica.",
            "Data is copied to Cloud Firestore and then verified to match the data in Cloud Datastore.",
            "Eventually-consistent reads are redirected to Cloud Firestore.",
            "Strongly-consistent reads are redirected to Cloud Firestore.",
            "Writes are redirected to Cloud Firestore."
          ],
          "description": "The current step of migration from Cloud Datastore to Cloud Firestore in Datastore mode.",
          "type": "string",
          "enum": [
            "MIGRATION_STEP_UNSPECIFIED",
            "PREPARE",
            "START",
            "APPLY_WRITES_SYNCHRONOUSLY",
            "COPY_AND_VERIFY",
            "REDIRECT_EVENTUALLY_CONSISTENT_READS",
            "REDIRECT_STRONGLY_CONSISTENT_READS",
            "REDIRECT_WRITES"
          ]
        }
      },
      "id": "GoogleDatastoreAdminV1DatastoreFirestoreMigrationMetadata",
      "type": "object",
      "description": "Metadata for Datastore to Firestore migration operations. The DatastoreFirestoreMigration operation is not started by the end-user via an explicit \"creation\" method. This is an intentional deviation from the LRO design pattern. This singleton resource can be accessed at: \"projects/{project_id}/operations/datastore-firestore-migration\""
    },
    "ReserveIdsResponse": {
      "properties": {},
      "type": "object",
      "description": "The response for Datastore.ReserveIds.",
      "id": "ReserveIdsResponse"
    },
    "LatLng": {
      "id": "LatLng",
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
      "type": "object",
      "properties": {
        "longitude": {
          "type": "number",
          "format": "double",
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0]."
        },
        "latitude": {
          "type": "number",
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "format": "double"
        }
      }
    },
    "BeginTransactionRequest": {
      "description": "The request for Datastore.BeginTransaction.",
      "id": "BeginTransactionRequest",
      "type": "object",
      "properties": {
        "databaseId": {
          "type": "string",
          "description": "The ID of the database against which to make the request. '(default)' is not allowed; please use empty string '' to refer the default database."
        },
        "transactionOptions": {
          "$ref": "TransactionOptions",
          "description": "Options for a new transaction."
        }
      }
    },
    "GoogleDatastoreAdminV1beta1CommonMetadata": {
      "id": "GoogleDatastoreAdminV1beta1CommonMetadata",
      "description": "Metadata common to all Datastore Admin operations.",
      "properties": {
        "operationType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "ExportEntities.",
            "ImportEntities."
          ],
          "description": "The type of the operation. Can be used as a filter in ListOperationsRequest.",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "EXPORT_ENTITIES",
            "IMPORT_ENTITIES"
          ]
        },
        "endTime": {
          "description": "The time the operation ended, either successfully or otherwise.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time that work began on the operation.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "type": "string",
          "description": "The current state of the Operation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ]
        },
        "labels": {
          "description": "The client-assigned labels which were provided when the operation was created. May also include additional labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GqlQueryParameter": {
      "description": "A binding parameter for a GQL query.",
      "properties": {
        "cursor": {
          "type": "string",
          "format": "byte",
          "description": "A query cursor. Query cursors are returned in query result batches."
        },
        "value": {
          "$ref": "Value",
          "description": "A value parameter."
        }
      },
      "id": "GqlQueryParameter",
      "type": "object"
    },
    "PropertyOrder": {
      "description": "The desired order for a specific property.",
      "id": "PropertyOrder",
      "properties": {
        "direction": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "Ascending.",
            "Descending."
          ],
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ],
          "description": "The direction to order by. Defaults to `ASCENDING`."
        },
        "property": {
          "$ref": "PropertyReference",
          "description": "The property to order by."
        }
      },
      "type": "object"
    }
  },
  "description": "Accesses the schemaless NoSQL database to provide fully managed, robust, scalable storage for your application. ",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    }
  },
  "documentationLink": "https://cloud.google.com/datastore/",
  "batchPath": "batch",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/datastore": {
          "description": "View and manage your Google Cloud Datastore data"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "rootUrl": "https://datastore.googleapis.com/",
  "ownerDomain": "google.com",
  "version_module": true,
  "baseUrl": "https://datastore.googleapis.com/",
  "version": "v1",
  "id": "datastore:v1",
  "servicePath": "",
  "ownerName": "Google",
  "title": "Cloud Datastore API",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "basePath": "",
  "resources": {
    "projects": {
      "methods": {
        "runQuery": {
          "request": {
            "$ref": "RunQueryRequest"
          },
          "description": "Queries for entities.",
          "response": {
            "$ref": "RunQueryResponse"
          },
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "description": "Required. The ID of the project against which to make the request.",
              "location": "path"
            }
          },
          "path": "v1/projects/{projectId}:runQuery",
          "id": "datastore.projects.runQuery",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "httpMethod": "POST",
          "flatPath": "v1/projects/{projectId}:runQuery",
          "parameterOrder": [
            "projectId"
          ]
        },
        "lookup": {
          "path": "v1/projects/{projectId}:lookup",
          "parameterOrder": [
            "projectId"
          ],
          "request": {
            "$ref": "LookupRequest"
          },
          "description": "Looks up entities by key.",
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The ID of the project against which to make the request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "flatPath": "v1/projects/{projectId}:lookup",
          "id": "datastore.projects.lookup",
          "response": {
            "$ref": "LookupResponse"
          },
          "httpMethod": "POST"
        },
        "rollback": {
          "id": "datastore.projects.rollback",
          "parameters": {
            "projectId": {
              "location": "path",
              "type": "string",
              "description": "Required. The ID of the project against which to make the request.",
              "required": true
            }
          },
          "description": "Rolls back a transaction.",
          "parameterOrder": [
            "projectId"
          ],
          "request": {
            "$ref": "RollbackRequest"
          },
          "response": {
            "$ref": "RollbackResponse"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "flatPath": "v1/projects/{projectId}:rollback",
          "path": "v1/projects/{projectId}:rollback"
        },
        "commit": {
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Required. The ID of the project against which to make the request.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Commits a transaction, optionally creating, deleting or modifying some entities.",
          "path": "v1/projects/{projectId}:commit",
          "flatPath": "v1/projects/{projectId}:commit",
          "response": {
            "$ref": "CommitResponse"
          },
          "request": {
            "$ref": "CommitRequest"
          },
          "parameterOrder": [
            "projectId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "id": "datastore.projects.commit",
          "httpMethod": "POST"
        },
        "allocateIds": {
          "parameterOrder": [
            "projectId"
          ],
          "path": "v1/projects/{projectId}:allocateIds",
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Required. The ID of the project against which to make the request.",
              "type": "string",
              "required": true
            }
          },
          "description": "Allocates IDs for the given keys, which is useful for referencing an entity before it is inserted.",
          "id": "datastore.projects.allocateIds",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "request": {
            "$ref": "AllocateIdsRequest"
          },
          "flatPath": "v1/projects/{projectId}:allocateIds",
          "httpMethod": "POST",
          "response": {
            "$ref": "AllocateIdsResponse"
          }
        },
        "export": {
          "flatPath": "v1/projects/{projectId}:export",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "description": "Exports a copy of all or a subset of entities from Google Cloud Datastore to another storage system, such as Google Cloud Storage. Recent updates to entities may not be reflected in the export. The export occurs in the background and its progress can be monitored and managed via the Operation resource that is created. The output of an export may only be used once the associated operation is done. If an export operation is cancelled before completion it may leave partial data behind in Google Cloud Storage.",
          "parameterOrder": [
            "projectId"
          ],
          "path": "v1/projects/{projectId}:export",
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "request": {
            "$ref": "GoogleDatastoreAdminV1ExportEntitiesRequest"
          },
          "id": "datastore.projects.export",
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. Project ID against which to make the request."
            }
          }
        },
        "runAggregationQuery": {
          "response": {
            "$ref": "RunAggregationQueryResponse"
          },
          "parameterOrder": [
            "projectId"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The ID of the project against which to make the request."
            }
          },
          "description": "Runs an aggregation query.",
          "flatPath": "v1/projects/{projectId}:runAggregationQuery",
          "path": "v1/projects/{projectId}:runAggregationQuery",
          "request": {
            "$ref": "RunAggregationQueryRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "id": "datastore.projects.runAggregationQuery",
          "httpMethod": "POST"
        },
        "beginTransaction": {
          "flatPath": "v1/projects/{projectId}:beginTransaction",
          "path": "v1/projects/{projectId}:beginTransaction",
          "id": "datastore.projects.beginTransaction",
          "request": {
            "$ref": "BeginTransactionRequest"
          },
          "parameterOrder": [
            "projectId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "httpMethod": "POST",
          "description": "Begins a new transaction.",
          "parameters": {
            "projectId": {
              "required": true,
              "description": "Required. The ID of the project against which to make the request.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "BeginTransactionResponse"
          }
        },
        "import": {
          "flatPath": "v1/projects/{projectId}:import",
          "path": "v1/projects/{projectId}:import",
          "id": "datastore.projects.import",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleDatastoreAdminV1ImportEntitiesRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "parameters": {
            "projectId": {
              "type": "string",
              "required": true,
              "description": "Required. Project ID against which to make the request.",
              "location": "path"
            }
          },
          "description": "Imports entities into Google Cloud Datastore. Existing entities with the same key are overwritten. The import occurs in the background and its progress can be monitored and managed via the Operation resource that is created. If an ImportEntities operation is cancelled, it is possible that a subset of the data has already been imported to Cloud Datastore.",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "parameterOrder": [
            "projectId"
          ]
        },
        "reserveIds": {
          "parameters": {
            "projectId": {
              "location": "path",
              "type": "string",
              "description": "Required. The ID of the project against which to make the request.",
              "required": true
            }
          },
          "description": "Prevents the supplied keys' IDs from being auto-allocated by Cloud Datastore.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "parameterOrder": [
            "projectId"
          ],
          "id": "datastore.projects.reserveIds",
          "path": "v1/projects/{projectId}:reserveIds",
          "httpMethod": "POST",
          "flatPath": "v1/projects/{projectId}:reserveIds",
          "response": {
            "$ref": "ReserveIdsResponse"
          },
          "request": {
            "$ref": "ReserveIdsRequest"
          }
        }
      },
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/operations/{operationsId}",
              "id": "datastore.projects.operations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ]
            },
            "cancel": {
              "flatPath": "v1/projects/{projectsId}/operations/{operationsId}:cancel",
              "parameterOrder": [
                "name"
              ],
              "id": "datastore.projects.operations.cancel",
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be cancelled.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/operations/[^/]+$"
                }
              },
              "path": "v1/{+name}:cancel",
              "response": {
                "$ref": "Empty"
              }
            },
            "delete": {
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "The name of the operation resource to be deleted."
                }
              },
              "httpMethod": "DELETE",
              "id": "datastore.projects.operations.delete",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "flatPath": "v1/projects/{projectsId}/operations/{operationsId}"
            },
            "list": {
[...]
