{
  "revision": "20230225",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "title": "Dataform API",
  "ownerDomain": "google.com",
  "schemas": {
    "FetchFileGitStatusesResponse": {
      "id": "FetchFileGitStatusesResponse",
      "description": "`FetchFileGitStatuses` response message.",
      "type": "object",
      "properties": {
        "uncommittedFileChanges": {
          "items": {
            "$ref": "UncommittedFileChange"
          },
          "description": "A list of all files which have uncommitted Git changes. There will only be a single entry for any given file.",
          "type": "array"
        }
      }
    },
    "QueryWorkflowInvocationActionsResponse": {
      "type": "object",
      "properties": {
        "workflowInvocationActions": {
          "items": {
            "$ref": "WorkflowInvocationAction"
          },
          "description": "List of workflow invocation actions.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "QueryWorkflowInvocationActionsResponse",
      "description": "`QueryWorkflowInvocationActions` response message."
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        }
      }
    },
    "CodeCompilationConfig": {
      "properties": {
        "databaseSuffix": {
          "description": "Optional. The suffix that should be appended to all database (Google Cloud project ID) names.",
          "type": "string"
        },
        "tablePrefix": {
          "type": "string",
          "description": "Optional. The prefix that should be prepended to all table names."
        },
        "defaultSchema": {
          "description": "Optional. The default schema (BigQuery dataset ID).",
          "type": "string"
        },
        "assertionSchema": {
          "description": "Optional. The default schema (BigQuery dataset ID) for assertions.",
          "type": "string"
        },
        "vars": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined variables that are made available to project code during compilation."
        },
        "defaultLocation": {
          "description": "Optional. The default BigQuery location to use. Defaults to \"US\". See the BigQuery docs for a full list of locations: https://cloud.google.com/bigquery/docs/locations.",
          "type": "string"
        },
        "defaultDatabase": {
          "type": "string",
          "description": "Optional. The default database (Google Cloud project ID)."
        },
        "schemaSuffix": {
          "description": "Optional. The suffix that should be appended to all schema (BigQuery dataset ID) names.",
          "type": "string"
        }
      },
      "description": "Configures various aspects of Dataform code compilation.",
      "id": "CodeCompilationConfig",
      "type": "object"
    },
    "Workspace": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The workspace's name.",
          "readOnly": true
        }
      },
      "description": "Represents a Dataform Git workspace.",
      "id": "Workspace",
      "type": "object"
    },
    "ListRepositoriesResponse": {
      "properties": {
        "unreachable": {
          "description": "Locations which could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "repositories": {
          "description": "List of repositories.",
          "type": "array",
          "items": {
            "$ref": "Repository"
          }
        },
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "`ListRepositories` response message.",
      "id": "ListRepositoriesResponse"
    },
    "Relation": {
      "id": "Relation",
      "type": "object",
      "description": "Represents a database relation.",
      "properties": {
        "partitionExpression": {
          "description": "The SQL expression used to partition the relation.",
          "type": "string"
        },
        "relationDescriptor": {
          "description": "Descriptor for the relation and its columns.",
          "$ref": "RelationDescriptor"
        },
        "clusterExpressions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of columns or SQL expressions used to cluster the table."
        },
        "dependencyTargets": {
          "type": "array",
          "description": "A list of actions that this action depends on.",
          "items": {
            "$ref": "Target"
          }
        },
        "incrementalTableConfig": {
          "$ref": "IncrementalTableConfig",
          "description": "Configures `INCREMENTAL_TABLE` settings for this relation. Only set if `relation_type` is `INCREMENTAL_TABLE`."
        },
        "tags": {
          "type": "array",
          "description": "Arbitrary, user-defined tags on this action.",
          "items": {
            "type": "string"
          }
        },
        "relationType": {
          "type": "string",
          "description": "The type of this relation.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The relation is a table.",
            "The relation is a view.",
            "The relation is an incrementalized table.",
            "The relation is a materialized view."
          ],
          "enum": [
            "RELATION_TYPE_UNSPECIFIED",
            "TABLE",
            "VIEW",
            "INCREMENTAL_TABLE",
            "MATERIALIZED_VIEW"
          ]
        },
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        },
        "partitionExpirationDays": {
          "description": "Sets the partition expiration in days.",
          "format": "int32",
          "type": "integer"
        },
        "postOperations": {
          "description": "SQL statements to be executed after creating the relation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "requirePartitionFilter": {
          "type": "boolean",
          "description": "Specifies whether queries on this table must include a predicate filter that filters on the partitioning column."
        },
        "selectQuery": {
          "type": "string",
          "description": "The SELECT query which returns rows which this relation should contain."
        },
        "preOperations": {
          "description": "SQL statements to be executed before creating the relation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "additionalOptions": {
          "description": "Additional options that will be provided as key/value pairs into the options clause of a create table/view statement. See https://cloud.google.com/bigquery/docs/reference/standard-sql/data-definition-language for more information on which options are supported.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "Repository": {
      "description": "Represents a Dataform Git repository.",
      "id": "Repository",
      "type": "object",
      "properties": {
        "workspaceCompilationOverrides": {
          "$ref": "WorkspaceCompilationOverrides",
          "description": "Optional. If set, fields of `workspace_compilation_overrides` override the default compilation settings that are specified in dataform.json when creating workspace-scoped compilation results. See documentation for `WorkspaceCompilationOverrides` for more information."
        },
        "gitRemoteSettings": {
          "$ref": "GitRemoteSettings",
          "description": "Optional. If set, configures this repository to be linked to a Git remote."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The repository's name."
        },
        "npmrcEnvironmentVariablesSecretVersion": {
          "description": "Optional. The name of the Secret Manager secret version to be used to interpolate variables into the .npmrc file for package installation operations. Must be in the format `projects/*/secrets/*/versions/*`. The file itself must be in a JSON format.",
          "type": "string"
        }
      }
    },
    "ReleaseConfig": {
      "type": "object",
      "properties": {
        "recentScheduledReleaseRecords": {
          "type": "array",
          "items": {
            "$ref": "ScheduledReleaseRecord"
          },
          "description": "Output only. Records of the 10 most recent scheduled release attempts. Updated whenever automatic creation of a compilation result is triggered by cron_schedule.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The release config's name."
        },
        "timeZone": {
          "description": "Optional. Specifies the time zone to be used when interpreting cron_schedule. Must be a time zone name from the time zone database (https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). If left unspecified, the default is UTC.",
          "type": "string"
        },
        "releaseCompilationResult": {
          "type": "string",
          "description": "Optional. The name of the currently released compilation result for this release config. This value is updated when a compilation result is created from this release config, or when this resource is updated by API call (perhaps to roll back to an earlier release). The compilation result must have been created using this release config. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`."
        },
        "gitCommitish": {
          "type": "string",
          "description": "Required. Git commit/tag/branch name at which the repository should be compiled. Must exist in the remote repository. Examples: - a commit SHA: `12ade345` - a tag: `tag1` - a branch name: `branch1`"
        },
        "codeCompilationConfig": {
          "$ref": "CodeCompilationConfig",
          "description": "Optional. If set, fields of `code_compilation_config` override the default compilation settings that are specified in dataform.json."
        },
        "cronSchedule": {
          "type": "string",
          "description": "Optional. Optional schedule (in cron format) for automatic creation of compilation results."
        }
      },
      "description": "Represents a Dataform release configuration.",
      "id": "ReleaseConfig"
    },
    "RemoveDirectoryRequest": {
      "id": "RemoveDirectoryRequest",
      "type": "object",
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. The directory's full path including directory name, relative to the workspace root."
        }
      },
      "description": "`RemoveDirectory` request message."
    },
    "Target": {
      "id": "Target",
      "description": "Represents an action identifier. If the action writes output, the output will be written to the referenced database object.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The action's name, within `database` and `schema`."
        },
        "schema": {
          "type": "string",
          "description": "The action's schema (BigQuery dataset ID), within `database`."
        },
        "database": {
          "description": "The action's database (Google Cloud project ID) .",
          "type": "string"
        }
      }
    },
    "MoveFileRequest": {
      "id": "MoveFileRequest",
      "type": "object",
      "properties": {
        "newPath": {
          "description": "Required. The file's new path including filename, relative to the workspace root.",
          "type": "string"
        },
        "path": {
          "description": "Required. The file's full path including filename, relative to the workspace root.",
          "type": "string"
        }
      },
      "description": "`MoveFile` request message."
    },
    "Binding": {
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding.",
          "type": "array"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      },
      "id": "Binding",
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`."
    },
    "Interval": {
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "format": "google-datetime"
        }
      },
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "id": "Interval",
      "type": "object"
    },
    "Declaration": {
      "id": "Declaration",
      "description": "Represents a relation which is not managed by Dataform but which may be referenced by Dataform actions.",
      "properties": {
        "relationDescriptor": {
          "description": "Descriptor for the relation and its columns. Used as documentation only, i.e. values here will result in no changes to the relation's metadata.",
          "$ref": "RelationDescriptor"
        }
      },
      "type": "object"
    },
    "MoveDirectoryRequest": {
      "properties": {
        "newPath": {
          "type": "string",
          "description": "Required. The new path for the directory including directory name, rooted at workspace root."
        },
        "path": {
          "type": "string",
          "description": "Required. The directory's full path including directory name, relative to the workspace root."
        }
      },
      "description": "`MoveDirectory` request message.",
      "id": "MoveDirectoryRequest",
      "type": "object"
    },
    "CompilationResult": {
      "properties": {
        "resolvedGitCommitSha": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The fully resolved Git commit SHA of the code that was compiled. Not set for compilation results whose source is a workspace."
        },
        "name": {
          "description": "Output only. The compilation result's name.",
          "type": "string",
          "readOnly": true
        },
        "compilationErrors": {
          "description": "Output only. Errors encountered during project compilation.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "CompilationError"
          }
        },
        "workspace": {
          "description": "Immutable. The name of the workspace to compile. Must be in the format `projects/*/locations/*/repositories/*/workspaces/*`.",
          "type": "string"
        },
        "codeCompilationConfig": {
          "description": "Immutable. If set, fields of `code_compilation_config` override the default compilation settings that are specified in dataform.json.",
          "$ref": "CodeCompilationConfig"
        },
        "dataformCoreVersion": {
          "type": "string",
          "description": "Output only. The version of `@dataform/core` that was used for compilation.",
          "readOnly": true
        },
        "releaseConfig": {
          "description": "Immutable. The name of the release config to compile. The release config's 'current_compilation_result' field will be updated to this compilation result. Must be in the format `projects/*/locations/*/repositories/*/releaseConfigs/*`.",
          "type": "string"
        },
        "gitCommitish": {
          "type": "string",
          "description": "Immutable. Git commit/tag/branch name at which the repository should be compiled. Must exist in the remote repository. Examples: - a commit SHA: `12ade345` - a tag: `tag1` - a branch name: `branch1`"
        }
      },
      "type": "object",
      "id": "CompilationResult",
      "description": "Represents the result of compiling a Dataform project."
    },
    "PullGitCommitsRequest": {
      "id": "PullGitCommitsRequest",
      "properties": {
        "author": {
          "$ref": "CommitAuthor",
          "description": "Required. The author of any merge commit which may be created as a result of merging fetched Git commits into this workspace."
        },
        "remoteBranch": {
          "type": "string",
          "description": "Optional. The name of the branch in the Git remote from which to pull commits. If left unset, the repository's default branch name will be used."
        }
      },
      "description": "`PullGitCommits` request message.",
      "type": "object"
    },
    "CompilationError": {
      "description": "An error encountered when attempting to compile a Dataform project.",
      "properties": {
        "message": {
          "type": "string",
          "description": "Output only. The error's top level message.",
          "readOnly": true
        },
        "stack": {
          "readOnly": true,
          "description": "Output only. The error's full stack trace.",
          "type": "string"
        },
        "actionTarget": {
          "description": "Output only. The identifier of the action where this error occurred, if available.",
          "readOnly": true,
          "$ref": "Target"
        },
        "path": {
          "readOnly": true,
          "description": "Output only. The path of the file where this error occurred, if available, relative to the project root.",
          "type": "string"
        }
      },
      "id": "CompilationError",
      "type": "object"
    },
    "InstallNpmPackagesResponse": {
      "description": "`InstallNpmPackages` response message.",
      "properties": {},
      "type": "object",
      "id": "InstallNpmPackagesResponse"
    },
    "WriteFileRequest": {
      "properties": {
        "contents": {
          "type": "string",
          "format": "byte",
          "description": "Required. The file's contents."
        },
        "path": {
          "description": "Required. The file.",
          "type": "string"
        }
      },
      "description": "`WriteFile` request message.",
      "id": "WriteFileRequest",
      "type": "object"
    },
    "CommitWorkspaceChangesRequest": {
      "id": "CommitWorkspaceChangesRequest",
      "properties": {
        "paths": {
          "description": "Optional. Full file paths to commit including filename, rooted at workspace root. If left empty, all files will be committed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "author": {
          "description": "Required. The commit's author.",
          "$ref": "CommitAuthor"
        },
        "commitMessage": {
          "description": "Optional. The commit's message.",
          "type": "string"
        }
      },
      "description": "`CommitWorkspaceChanges` request message.",
      "type": "object"
    },
    "WorkspaceCompilationOverrides": {
      "properties": {
        "schemaSuffix": {
          "description": "Optional. The suffix that should be appended to all schema (BigQuery dataset ID) names.",
          "type": "string"
        },
        "defaultDatabase": {
          "type": "string",
          "description": "Optional. The default database (Google Cloud project ID)."
        },
        "tablePrefix": {
          "description": "Optional. The prefix that should be prepended to all table names.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Configures workspace compilation overrides for a repository. Primarily used by the UI (`console.cloud.google.com`). `schema_suffix` and `table_prefix` can have a special expression - `${workspaceName}`, which refers to the workspace name from which the compilation results will be created. API callers are expected to resolve the expression in these overrides and provide them explicitly in `code_compilation_config` (https://cloud.google.com/dataform/reference/rest/v1beta1/projects.locations.repositories.compilationResults#codecompilationconfig) when creating workspace-scoped compilation results.",
      "id": "WorkspaceCompilationOverrides"
    },
    "ListReleaseConfigsResponse": {
      "type": "object",
      "properties": {
        "releaseConfigs": {
          "items": {
            "$ref": "ReleaseConfig"
          },
          "description": "List of release configs.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations which could not be reached."
        }
      },
      "description": "`ListReleaseConfigs` response message.",
      "id": "ListReleaseConfigsResponse"
    },
    "CompilationResultAction": {
      "description": "Represents a single Dataform action in a compilation result.",
      "id": "CompilationResultAction",
      "properties": {
        "relation": {
          "$ref": "Relation",
          "description": "The database relation created/updated by this action."
        },
        "target": {
          "description": "This action's identifier. Unique within the compilation result.",
          "$ref": "Target"
        },
        "assertion": {
          "description": "The assertion executed by this action.",
          "$ref": "Assertion"
        },
        "operations": {
          "description": "The database operations executed by this action.",
          "$ref": "Operations"
        },
        "filePath": {
          "description": "The full path including filename in which this action is located, relative to the workspace root.",
          "type": "string"
        },
        "declaration": {
          "description": "The declaration declared by this action.",
          "$ref": "Declaration"
        },
        "canonicalTarget": {
          "description": "The action's identifier if the project had been compiled without any overrides configured. Unique within the compilation result.",
          "$ref": "Target"
        }
      },
      "type": "object"
    },
    "InstallNpmPackagesRequest": {
      "description": "`InstallNpmPackages` request message.",
      "properties": {},
      "type": "object",
      "id": "InstallNpmPackagesRequest"
    },
    "ListWorkflowConfigsResponse": {
      "type": "object",
      "id": "ListWorkflowConfigsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations which could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "workflowConfigs": {
          "items": {
            "$ref": "WorkflowConfig"
          },
          "type": "array",
          "description": "List of workflow configs."
        }
      },
      "description": "`ListWorkflowConfigs` response message."
    },
    "MakeDirectoryResponse": {
      "description": "`MakeDirectory` response message.",
      "properties": {},
      "id": "MakeDirectoryResponse",
      "type": "object"
    },
    "WorkflowConfig": {
      "id": "WorkflowConfig",
      "type": "object",
      "description": "Represents a Dataform workflow configuration.",
      "properties": {
        "invocationConfig": {
          "$ref": "InvocationConfig",
          "description": "Optional. If left unset, a default InvocationConfig will be used."
        },
        "releaseConfig": {
          "description": "Required. The name of the release config whose release_compilation_result should be executed. Must be in the format `projects/*/locations/*/repositories/*/releaseConfigs/*`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The workflow config's name."
        },
        "timeZone": {
          "description": "Optional. Specifies the time zone to be used when interpreting cron_schedule. Must be a time zone name from the time zone database (https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). If left unspecified, the default is UTC.",
          "type": "string"
        },
        "recentScheduledExecutionRecords": {
          "description": "Output only. Records of the 10 most recent scheduled execution attempts. Updated whenever automatic creation of a compilation result is triggered by cron_schedule.",
          "type": "array",
          "items": {
            "$ref": "ScheduledExecutionRecord"
          },
          "readOnly": true
        },
        "cronSchedule": {
          "description": "Optional. Optional schedule (in cron format) for automatic execution of this workflow config.",
          "type": "string"
        }
      }
    },
    "UncommittedFileChange": {
      "id": "UncommittedFileChange",
      "properties": {
        "path": {
          "description": "The file's full path including filename, relative to the workspace root.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "MODIFIED",
            "HAS_CONFLICTS"
          ],
          "description": "Indicates the status of the file.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The file has been newly added.",
            "The file has been deleted.",
            "The file has been modified.",
            "The file contains merge conflicts."
          ]
        }
      },
      "type": "object",
      "description": "Represents the Git state of a file with uncommitted changes."
    },
    "FetchRemoteBranchesResponse": {
      "properties": {
        "branches": {
          "description": "The remote repository's branch names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "`FetchRemoteBranches` response message.",
      "id": "FetchRemoteBranchesResponse",
      "type": "object"
    },
    "ResetWorkspaceChangesRequest": {
      "type": "object",
      "description": "`ResetWorkspaceChanges` request message.",
      "id": "ResetWorkspaceChangesRequest",
      "properties": {
        "clean": {
          "type": "boolean",
          "description": "Optional. If set to true, untracked files will be deleted."
        },
        "paths": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Full file paths to reset back to their committed state including filename, rooted at workspace root. If left empty, all files will be reset."
        }
      }
    },
    "RemoveFileRequest": {
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. The file's full path including filename, relative to the workspace root."
        }
      },
      "type": "object",
      "description": "`RemoveFile` request message.",
      "id": "RemoveFileRequest"
    },
    "CommitAuthor": {
      "id": "CommitAuthor",
      "description": "Represents the author of a Git commit.",
      "type": "object",
      "properties": {
        "emailAddress": {
          "description": "Required. The commit author's email address.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The commit author's name."
        }
      }
    },
    "PushGitCommitsRequest": {
      "description": "`PushGitCommits` request message.",
      "id": "PushGitCommitsRequest",
      "properties": {
        "remoteBranch": {
          "type": "string",
          "description": "Optional. The name of the branch in the Git remote to which commits should be pushed. If left unset, the repository's default branch name will be used."
        }
      },
      "type": "object"
    },
    "DirectoryEntry": {
      "description": "Represents a single entry in a workspace directory.",
      "properties": {
        "directory": {
          "type": "string",
          "description": "A child directory in the directory."
        },
        "file": {
          "type": "string",
          "description": "A file in the directory."
        }
      },
      "id": "DirectoryEntry",
      "type": "object"
    },
    "Expr": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "id": "Expr"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Status"
    },
    "ColumnDescriptor": {
      "description": "Describes a column.",
      "id": "ColumnDescriptor",
      "type": "object",
      "properties": {
        "path": {
          "items": {
            "type": "string"
          },
          "description": "The identifier for the column. Each entry in `path` represents one level of nesting.",
          "type": "array"
        },
        "bigqueryPolicyTags": {
          "description": "A list of BigQuery policy tags that will be applied to the column.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "description": "A textual description of the column.",
          "type": "string"
        }
      }
    },
    "CancelWorkflowInvocationRequest": {
      "type": "object",
      "properties": {},
      "id": "CancelWorkflowInvocationRequest",
      "description": "`CancelWorkflowInvocation` request message."
    },
    "Policy": {
      "id": "Policy",
      "properties": {
        "etag": {
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string"
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "QueryCompilationResultActionsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "compilationResultActions": {
          "description": "List of compilation result actions.",
          "type": "array",
          "items": {
            "$ref": "CompilationResultAction"
          }
        }
      },
      "description": "`QueryCompilationResultActions` response message.",
      "id": "QueryCompilationResultActionsResponse"
    },
    "ScheduledReleaseRecord": {
      "id": "ScheduledReleaseRecord",
      "type": "object",
      "description": "A record of an attempt to create a compilation result for this release config.",
      "properties": {
        "errorStatus": {
          "$ref": "Status",
          "description": "The error status encountered upon this attempt to create the compilation result, if the attempt was unsuccessful."
        },
        "compilationResult": {
          "type": "string",
          "description": "The name of the created compilation result, if one was successfully created. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`."
        },
        "releaseTime": {
          "description": "The timestamp of this release attempt.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "MoveFileResponse": {
      "description": "`MoveFile` response message.",
      "type": "object",
      "id": "MoveFileResponse",
      "properties": {}
    },
    "Assertion": {
      "id": "Assertion",
      "type": "object",
      "description": "Represents an assertion upon a SQL query which is required return zero rows.",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Whether this action is disabled (i.e. should not be run)."
        },
        "selectQuery": {
          "description": "The SELECT query which must return zero rows in order for this assertion to succeed.",
          "type": "string"
        },
        "parentAction": {
          "description": "The parent action of this assertion. Only set if this assertion was automatically generated.",
          "$ref": "Target"
        },
        "relationDescriptor": {
          "description": "Descriptor for the assertion's automatically-generated view and its columns.",
          "$ref": "RelationDescriptor"
        },
        "tags": {
          "description": "Arbitrary, user-defined tags on this action.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "dependencyTargets": {
          "description": "A list of actions that this action depends on.",
          "items": {
            "$ref": "Target"
          },
          "type": "array"
        }
      }
    },
    "ListWorkspacesResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations which could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "workspaces": {
          "items": {
            "$ref": "Workspace"
          },
          "type": "array",
          "description": "List of workspaces."
        }
      },
      "id": "ListWorkspacesResponse",
      "type": "object",
      "description": "`ListWorkspaces` response message."
    },
    "WriteFileResponse": {
      "type": "object",
      "description": "`WriteFile` response message.",
      "properties": {},
      "id": "WriteFileResponse"
    },
    "GitRemoteSettings": {
      "properties": {
        "defaultBranch": {
          "description": "Required. The Git remote's default branch name.",
          "type": "string"
        },
        "tokenStatus": {
          "type": "string",
          "enum": [
            "TOKEN_STATUS_UNSPECIFIED",
            "NOT_FOUND",
            "INVALID",
            "VALID"
          ],
          "description": "Output only. Indicates the status of the Git access token.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The token could not be found in Secret Manager (or the Dataform Service Account did not have permission to access it).",
            "The token could not be used to authenticate against the Git remote.",
            "The token was used successfully to authenticate against the Git remote."
          ]
        },
        "authenticationTokenSecretVersion": {
          "type": "string",
          "description": "Required. The name of the Secret Manager secret version to use as an authentication token for Git operations. Must be in the format `projects/*/secrets/*/versions/*`."
        },
        "url": {
          "type": "string",
          "description": "Required. The Git remote's URL."
        }
      },
      "id": "GitRemoteSettings",
      "description": "Controls Git remote configuration for a repository.",
      "type": "object"
    },
    "QueryDirectoryContentsResponse": {
      "id": "QueryDirectoryContentsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "directoryEntries": {
          "description": "List of entries in the directory.",
          "type": "array",
          "items": {
            "$ref": "DirectoryEntry"
          }
        }
      },
      "description": "`QueryDirectoryContents` response message.",
      "type": "object"
    },
    "RelationDescriptor": {
      "id": "RelationDescriptor",
      "properties": {
        "bigqueryLabels": {
          "description": "A set of BigQuery labels that should be applied to the relation.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "A text description of the relation.",
          "type": "string"
        },
        "columns": {
          "description": "A list of descriptions of columns within the relation.",
          "type": "array",
          "items": {
            "$ref": "ColumnDescriptor"
          }
        }
      },
      "description": "Describes a relation and its columns.",
      "type": "object"
    },
    "MakeDirectoryRequest": {
      "type": "object",
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. The directory's full path including directory name, relative to the workspace root."
        }
      },
      "description": "`MakeDirectory` request message.",
      "id": "MakeDirectoryRequest"
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method."
    },
    "Operations": {
      "type": "object",
      "id": "Operations",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Whether this action is disabled (i.e. should not be run)."
        },
        "queries": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of arbitrary SQL statements that will be executed without alteration."
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Arbitrary, user-defined tags on this action."
        },
        "hasOutput": {
          "type": "boolean",
          "description": "Whether these operations produce an output relation."
        },
        "dependencyTargets": {
          "type": "array",
          "items": {
            "$ref": "Target"
          },
          "description": "A list of actions that this action depends on."
        },
        "relationDescriptor": {
          "description": "Descriptor for any output relation and its columns. Only set if `has_output` is true.",
          "$ref": "RelationDescriptor"
        }
      },
      "description": "Represents a list of arbitrary database operations."
    },
    "ListWorkflowInvocationsResponse": {
      "id": "ListWorkflowInvocationsResponse",
      "description": "`ListWorkflowInvocations` response message.",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations which could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "workflowInvocations": {
          "description": "List of workflow invocations.",
          "items": {
            "$ref": "WorkflowInvocation"
          },
          "type": "array"
        }
      }
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "id": "SetIamPolicyRequest",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "id": "TestIamPermissionsResponse"
    },
    "FetchFileDiffResponse": {
      "description": "`FetchFileDiff` response message.",
      "id": "FetchFileDiffResponse",
      "properties": {
        "formattedDiff": {
          "description": "The raw formatted Git diff for the file.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ReadFileResponse": {
      "description": "`ReadFile` response message.",
      "type": "object",
      "properties": {
        "fileContents": {
          "description": "The file's contents.",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "ReadFileResponse"
    },
    "IncrementalTableConfig": {
      "id": "IncrementalTableConfig",
      "type": "object",
      "properties": {
        "uniqueKeyParts": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A set of columns or SQL expressions used to define row uniqueness. If any duplicates are discovered (as defined by `unique_key_parts`), only the newly selected rows (as defined by `incremental_select_query`) will be included in the relation."
        },
        "updatePartitionFilter": {
          "type": "string",
          "description": "A SQL expression conditional used to limit the set of existing rows considered for a merge operation (see `unique_key_parts` for more information)."
        },
        "refreshDisabled": {
          "type": "boolean",
          "description": "Whether this table should be protected from being refreshed."
        },
        "incrementalSelectQuery": {
          "type": "string",
          "description": "The SELECT query which returns rows which should be inserted into the relation if it already exists and is not being refreshed."
        },
        "incrementalPostOperations": {
          "description": "SQL statements to be executed after inserting new rows into the relation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "incrementalPreOperations": {
          "items": {
            "type": "string"
          },
          "description": "SQL statements to be executed before inserting new rows into the relation.",
          "type": "array"
        }
      },
      "description": "Contains settings for relations of type `INCREMENTAL_TABLE`."
    },
    "FetchGitAheadBehindResponse": {
      "properties": {
        "commitsBehind": {
          "format": "int32",
          "description": "The number of commits in the workspace that are not in the remote branch.",
          "type": "integer"
        },
        "commitsAhead": {
          "type": "integer",
          "description": "The number of commits in the remote branch that are not in the workspace.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "FetchGitAheadBehindResponse",
      "description": "`FetchGitAheadBehind` response message."
    },
    "InvocationConfig": {
      "properties": {
        "includedTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The set of tags to include."
        },
        "transitiveDependentsIncluded": {
          "description": "Optional. When set to true, transitive dependents of included actions will be executed.",
          "type": "boolean"
        },
        "includedTargets": {
          "description": "Optional. The set of action identifiers to include.",
          "items": {
            "$ref": "Target"
          },
          "type": "array"
        },
        "fullyRefreshIncrementalTablesEnabled": {
          "type": "boolean",
          "description": "Optional. When set to true, any incremental tables will be fully refreshed."
        },
        "transitiveDependenciesIncluded": {
          "type": "boolean",
          "description": "Optional. When set to true, transitive dependencies of included actions will be executed."
        }
      },
      "description": "Includes various configuration options for a workflow invocation. If both `included_targets` and `included_tags` are unset, all actions will be included.",
      "id": "InvocationConfig",
      "type": "object"
    },
    "ListCompilationResultsResponse": {
      "description": "`ListCompilationResults` response message.",
      "id": "ListCompilationResultsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations which could not be reached."
        },
        "compilationResults": {
          "type": "array",
          "description": "List of compilation results.",
          "items": {
            "$ref": "CompilationResult"
          }
        }
      },
      "type": "object"
    },
    "BigQueryAction": {
      "type": "object",
      "id": "BigQueryAction",
      "properties": {
        "sqlScript": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The generated BigQuery SQL script that will be executed."
        }
      },
      "description": "Represents a workflow action that will run against BigQuery."
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents Google Cloud Platform location.",
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        }
      },
      "type": "object"
    },
    "MoveDirectoryResponse": {
      "description": "`MoveDirectory` response message.",
      "id": "MoveDirectoryResponse",
      "properties": {},
      "type": "object"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "id": "OperationMetadata",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created."
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "cancelRequested": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "statusDetail": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "WorkflowInvocation": {
      "description": "Represents a single invocation of a compilation result.",
      "type": "object",
      "properties": {
        "invocationConfig": {
          "$ref": "InvocationConfig",
          "description": "Immutable. If left unset, a default InvocationConfig will be used."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED",
            "CANCELING"
          ],
          "description": "Output only. This workflow invocation's current state.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The workflow invocation is currently running.",
            "The workflow invocation succeeded. A terminal state.",
            "The workflow invocation was cancelled. A terminal state.",
            "The workflow invocation failed. A terminal state.",
            "The workflow invocation is being cancelled, but some actions are still running."
          ],
          "readOnly": true
        },
        "invocationTiming": {
          "readOnly": true,
          "description": "Output only. This workflow invocation's timing details.",
          "$ref": "Interval"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The workflow invocation's name.",
          "type": "string"
        },
        "workflowConfig": {
          "type": "string",
          "description": "Immutable. The name of the workflow config to invoke. Must be in the format `projects/*/locations/*/repositories/*/workflowConfigs/*`."
        },
        "compilationResult": {
          "description": "Immutable. The name of the compilation result to compile. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`.",
          "type": "string"
        }
      },
      "id": "WorkflowInvocation"
    },
    "ScheduledExecutionRecord": {
      "properties": {
        "workflowInvocation": {
          "description": "The name of the created workflow invocation, if one was successfully created. Must be in the format `projects/*/locations/*/repositories/*/workflowInvocations/*`.",
          "type": "string"
        },
        "executionTime": {
          "format": "google-datetime",
          "description": "The timestamp of this execution attempt.",
          "type": "string"
        },
        "errorStatus": {
          "description": "The error status encountered upon this attempt to create the workflow invocation, if the attempt was unsuccessful.",
          "$ref": "Status"
        }
      },
      "type": "object",
      "id": "ScheduledExecutionRecord",
      "description": "A record of an attempt to create a workflow invocation for this workflow config."
    },
    "WorkflowInvocationAction": {
      "id": "WorkflowInvocationAction",
      "properties": {
        "target": {
          "$ref": "Target",
          "description": "Output only. This action's identifier. Unique within the workflow invocation.",
          "readOnly": true
        },
        "bigqueryAction": {
          "readOnly": true,
          "$ref": "BigQueryAction",
          "description": "Output only. The workflow action's bigquery action details."
        },
        "failureReason": {
          "description": "Output only. If and only if action's state is FAILED a failure reason is set.",
          "type": "string",
          "readOnly": true
        },
        "canonicalTarget": {
          "description": "Output only. The action's identifier if the project had been compiled without any overrides configured. Unique within the compilation result.",
          "$ref": "Target",
          "readOnly": true
        },
        "invocationTiming": {
          "$ref": "Interval",
          "description": "Output only. This action's timing details. `start_time` will be set if the action is in [RUNNING, SUCCEEDED, CANCELLED, FAILED] state. `end_time` will be set if the action is in [SUCCEEDED, CANCELLED, FAILED] state.",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "The action has not yet been considered for invocation.",
            "The action is currently running.",
            "Execution of the action was skipped because upstream dependencies did not all complete successfully. A terminal state.",
            "Execution of the action was disabled as per the configuration of the corresponding compilation result action. A terminal state.",
            "The action succeeded. A terminal state.",
            "The action was cancelled. A terminal state.",
            "The action failed. A terminal state."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "PENDING",
            "RUNNING",
            "SKIPPED",
            "DISABLED",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED"
          ],
          "description": "Output only. This action's current state."
        }
      },
      "type": "object",
      "description": "Represents a single action in a workflow invocation."
    }
  },
  "rootUrl": "https://dataform.googleapis.com/",
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/dataform/docs",
  "baseUrl": "https://dataform.googleapis.com/",
  "protocol": "rest",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "description": "Gets information about a location.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "Location"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "dataform.projects.locations.get",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}"
            },
            "list": {
              "description": "Lists information about the supported locations for this service.",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "dataform.projects.locations.list",
              "flatPath": "v1beta1/projects/{projectsId}/locations",
              "path": "v1beta1/{+name}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer",
                  "location": "query"
                },
                "includeUnrevealedLocations": {
                  "location": "query",
                  "description": "If true, the returned list will include locations which are not yet revealed.",
                  "type": "boolean"
                }
              }
            }
          },
          "resources": {
            "repositories": {
              "resources": {
                "compilationResults": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists CompilationResults in a given Repository.",
                      "httpMethod": "GET",
                      "id": "dataform.projects.locations.repositories.compilationResults.list",
                      "parameters": {
                        "pageSize": {
                          "description": "Optional. Maximum number of compilation results to return. The server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Page token received from a previous `ListCompilationResults` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCompilationResults` must match the call that provided the page token."
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "description": "Required. The repository in which to list compilation results. Must be in the format `projects/*/locations/*/repositories/*`."
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/compilationResults",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta1/{+parent}/compilationResults",
                      "response": {
                        "$ref": "ListCompilationResultsResponse"
                      }
                    },
                    "query": {
                      "path": "v1beta1/{+name}:query",
                      "id": "dataform.projects.locations.repositories.compilationResults.query",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/compilationResults/{compilationResultsId}:query",
                      "httpMethod": "GET",
                      "description": "Returns CompilationResultActions in a given CompilationResult.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. Maximum number of compilation results to return. The server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                          "type": "integer"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Page token received from a previous `QueryCompilationResultActions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `QueryCompilationResultActions` must match the call that provided the page token."
                        },
                        "name": {
                          "location": "path",
                          "description": "Required. The compilation result's name.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/compilationResults/[^/]+$",
                          "required": true
                        },
                        "filter": {
                          "description": "Optional. Optional filter for the returned list. Filtering is only currently supported on the `file_path` field.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "QueryCompilationResultActionsResponse"
                      }
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/compilationResults/{compilationResultsId}",
                      "id": "dataform.projects.locations.repositories.compilationResults.get",
                      "path": "v1beta1/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The compilation result's name.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/compilationResults/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "description": "Fetches a single CompilationResult.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "CompilationResult"
                      }
                    },
                    "create": {
                      "request": {
                        "$ref": "CompilationResult"
                      },
                      "response": {
                        "$ref": "CompilationResult"
                      },
                      "path": "v1beta1/{+parent}/compilationResults",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "description": "Required. The repository in which to create the compilation result. Must be in the format `projects/*/locations/*/repositories/*`.",
                          "type": "string"
                        }
                      },
                      "id": "dataform.projects.locations.repositories.compilationResults.create",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/compilationResults",
                      "description": "Creates a new CompilationResult in a given project and location.",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                },
                "workflowConfigs": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. Page token received from a previous `ListWorkflowConfigs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListWorkflowConfigs` must match the call that provided the page token.",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. The repository in which to list workflow configs. Must be in the format `projects/*/locations/*/repositories/*`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "location": "path"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. Maximum number of workflow configs to return. The server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                          "format": "int32"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListWorkflowConfigsResponse"
                      },
                      "path": "v1beta1/{+parent}/workflowConfigs",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists WorkflowConfigs in a given Repository.",
                      "id": "dataform.projects.locations.repositories.workflowConfigs.list",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowConfigs"
                    },
                    "create": {
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowConfigs",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "WorkflowConfig"
                      },
                      "request": {
                        "$ref": "WorkflowConfig"
                      },
                      "parameters": {
                        "workflowConfigId": {
                          "type": "string",
                          "description": "Required. The ID to use for the workflow config, which will become the final component of the workflow config's resource name.",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "description": "Required. The repository in which to create the workflow config. Must be in the format `projects/*/locations/*/repositories/*`."
                        }
                      },
                      "path": "v1beta1/{+parent}/workflowConfigs",
                      "httpMethod": "POST",
                      "description": "Creates a new WorkflowConfig in a given Repository.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dataform.projects.locations.repositories.workflowConfigs.create"
                    },
                    "get": {
                      "id": "dataform.projects.locations.repositories.workflowConfigs.get",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Fetches a single WorkflowConfig.",
                      "path": "v1beta1/{+name}",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowConfigs/{workflowConfigsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "WorkflowConfig"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. The workflow config's name.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workflowConfigs/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      }
                    },
                    "patch": {
                      "parameters": {
                        "name": {
                          "description": "Output only. The workflow config's name.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workflowConfigs/[^/]+$",
                          "location": "path"
                        },
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Specifies the fields to be updated in the workflow config. If left unset, all fields will be updated.",
                          "format": "google-fieldmask"
                        }
                      },
                      "httpMethod": "PATCH",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowConfigs/{workflowConfigsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Updates a single WorkflowConfig.",
                      "response": {
                        "$ref": "WorkflowConfig"
                      },
                      "request": {
                        "$ref": "WorkflowConfig"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "dataform.projects.locations.repositories.workflowConfigs.patch",
                      "path": "v1beta1/{+name}"
                    },
                    "delete": {
                      "path": "v1beta1/{+name}",
                      "id": "dataform.projects.locations.repositories.workflowConfigs.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowConfigs/{workflowConfigsId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workflowConfigs/[^/]+$",
                          "required": true,
                          "description": "Required. The workflow config's name.",
                          "type": "string"
                        }
                      },
                      "description": "Deletes a single WorkflowConfig."
                    }
                  }
                },
                "workflowInvocations": {
                  "methods": {
                    "get": {
                      "description": "Fetches a single WorkflowInvocation.",
                      "httpMethod": "GET",
                      "path": "v1beta1/{+name}",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowInvocations/{workflowInvocationsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "WorkflowInvocation"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. The workflow invocation resource's name.",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workflowInvocations/[^/]+$"
                        }
                      },
                      "id": "dataform.projects.locations.repositories.workflowInvocations.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "query": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dataform.projects.locations.repositories.workflowInvocations.query",
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. Page token received from a previous `QueryWorkflowInvocationActions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `QueryWorkflowInvocationActions` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "required": true,
                          "description": "Required. The workflow invocation's name.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workflowInvocations/[^/]+$"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. Maximum number of workflow invocations to return. The server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                          "format": "int32",
                          "location": "query"
                        }
                      },
                      "path": "v1beta1/{+name}:query",
                      "description": "Returns WorkflowInvocationActions in a given WorkflowInvocation.",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "QueryWorkflowInvocationActionsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowInvocations/{workflowInvocationsId}:query"
                    },
                    "delete": {
                      "id": "dataform.projects.locations.repositories.workflowInvocations.delete",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowInvocations/{workflowInvocationsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes a single WorkflowInvocation.",
                      "path": "v1beta1/{+name}",
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "description": "Required. The workflow invocation resource's name.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workflowInvocations/[^/]+$",
                          "type": "string"
                        }
                      }
                    },
                    "create": {
                      "path": "v1beta1/{+parent}/workflowInvocations",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowInvocations",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates a new WorkflowInvocation in a given Repository.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "WorkflowInvocation"
                      },
                      "request": {
                        "$ref": "WorkflowInvocation"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. The repository in which to create the workflow invocation. Must be in the format `projects/*/locations/*/repositories/*`."
                        }
                      },
                      "id": "dataform.projects.locations.repositories.workflowInvocations.create"
                    },
                    "cancel": {
                      "response": {
                        "$ref": "Empty"
                      },
                      "request": {
                        "$ref": "CancelWorkflowInvocationRequest"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Requests cancellation of a running WorkflowInvocation.",
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "description": "Required. The workflow invocation resource's name.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workflowInvocations/[^/]+$",
                          "location": "path"
                        }
                      },
                      "path": "v1beta1/{+name}:cancel",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowInvocations/{workflowInvocationsId}:cancel",
                      "id": "dataform.projects.locations.repositories.workflowInvocations.cancel"
                    },
                    "list": {
                      "response": {
                        "$ref": "ListWorkflowInvocationsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dataform.projects.locations.repositories.workflowInvocations.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent resource of the WorkflowInvocation type. Must be in the format `projects/*/locations/*/repositories/*`."
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. This field only supports ordering by `name`. If unspecified, the server will choose the ordering. If specified, the default order is ascending for the `name` field.",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "Optional. Page token received from a previous `ListWorkflowInvocations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListWorkflowInvocations` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. Maximum number of workflow invocations to return. The server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        },
                        "filter": {
                          "description": "Optional. Filter for the returned list.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "description": "Lists WorkflowInvocations in a given Repository.",
                      "path": "v1beta1/{+parent}/workflowInvocations",
                      "httpMethod": "GET",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowInvocations"
                    }
                  }
                },
                "workspaces": {
                  "methods": {
                    "fetchFileGitStatuses": {
                      "description": "Fetches Git statuses for the files in a Workspace.",
                      "id": "dataform.projects.locations.repositories.workspaces.fetchFileGitStatuses",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:fetchFileGitStatuses",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}:fetchFileGitStatuses",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The workspace's name.",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "FetchFileGitStatusesResponse"
                      },
                      "httpMethod": "GET"
                    },
                    "reset": {
                      "description": "Performs a Git reset for uncommitted files in a Workspace.",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Empty"
                      },
[...]
