{
  "basePath": "",
  "discoveryVersion": "v1",
  "title": "Datastream API",
  "mtlsRootUrl": "https://datastream.mtls.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version_module": true,
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    }
  },
  "version": "v1",
  "ownerName": "Google",
  "protocol": "rest",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "privateConnections": {
              "methods": {
                "list": {
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "Filter request.",
                      "type": "string"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Order by fields for the result."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Page token received from a previous `ListPrivateConnections` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPrivateConnections` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent that owns the collection of private connectivity configurations.",
                      "type": "string",
                      "required": true
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Maximum number of private connectivity configurations to return. If unspecified, at most 50 private connectivity configurations that will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer"
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListPrivateConnectionsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateConnections",
                  "path": "v1/{+parent}/privateConnections",
                  "description": "Use this method to list private connectivity configurations in a project and location.",
                  "id": "datastream.projects.locations.privateConnections.list"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Use this method to delete a private connectivity configuration.",
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "force": {
                      "type": "boolean",
                      "description": "Optional. If set to true, any child routes that belong to this PrivateConnection will also be deleted.",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+$",
                      "description": "Required. The name of the private connectivity configuration to delete.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}",
                  "id": "datastream.projects.locations.privateConnections.delete"
                },
                "get": {
                  "id": "datastream.projects.locations.privateConnections.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "PrivateConnection"
                  },
                  "description": "Use this method to get details about a private connectivity configuration.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+$",
                      "description": "Required. The name of the private connectivity configuration to get.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}"
                },
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "datastream.projects.locations.privateConnections.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "requestId": {
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent that owns the collection of PrivateConnections."
                    },
                    "privateConnectionId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The private connectivity identifier."
                    }
                  },
                  "request": {
                    "$ref": "PrivateConnection"
                  },
                  "path": "v1/{+parent}/privateConnections",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "description": "Use this method to create a private connectivity configuration.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateConnections"
                }
              },
              "resources": {
                "routes": {
                  "methods": {
                    "delete": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}/routes/{routesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+/routes/[^/]+$",
                          "description": "Required. The name of the Route resource to delete.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "datastream.projects.locations.privateConnections.routes.delete",
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/{+name}",
                      "description": "Use this method to delete a route."
                    },
                    "list": {
                      "parameters": {
                        "pageToken": {
                          "description": "Page token received from a previous `ListRoutes` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRoutes` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Filter request.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent that owns the collection of Routess.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+$"
                        },
                        "pageSize": {
                          "description": "Maximum number of Routes to return. The service may return fewer than this value. If unspecified, at most 50 Routes will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "orderBy": {
                          "description": "Order by fields for the result.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "id": "datastream.projects.locations.privateConnections.routes.list",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}/routes",
                      "description": "Use this method to list routes created for a private connectivity configuration in a project and location.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/routes",
                      "response": {
                        "$ref": "ListRoutesResponse"
                      }
                    },
                    "create": {
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "Route"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "datastream.projects.locations.privateConnections.routes.create",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        },
                        "routeId": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. The Route identifier."
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. The parent that owns the collection of Routes.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "description": "Use this method to create a route for a private connectivity configuration in a project and location.",
                      "path": "v1/{+parent}/routes",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}/routes"
                    },
                    "get": {
                      "httpMethod": "GET",
                      "path": "v1/{+name}",
                      "description": "Use this method to get details about a route.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}/routes/{routesId}",
                      "response": {
                        "$ref": "Route"
                      },
                      "id": "datastream.projects.locations.privateConnections.routes.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+/routes/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the Route resource to get.",
                          "location": "path"
                        }
                      }
                    }
                  }
                }
              }
            },
            "connectionProfiles": {
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "description": "Use this method to delete a connection profile.",
                  "path": "v1/{+name}",
                  "id": "datastream.projects.locations.connectionProfiles.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connectionProfiles/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the connection profile resource to delete."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectionProfiles/{connectionProfilesId}"
                },
                "discover": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Use this method to discover a connection profile. The discover API call exposes the data objects and metadata belonging to the profile. Typically, a request returns children data objects of a parent data object that's optionally supplied in the request.",
                  "path": "v1/{+parent}/connectionProfiles:discover",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource of the connection profile type. Must be in the format `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "DiscoverConnectionProfileResponse"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "DiscoverConnectionProfileRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectionProfiles:discover",
                  "id": "datastream.projects.locations.connectionProfiles.discover"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "Filter request.",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Page token received from a previous `ListConnectionProfiles` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConnectionProfiles` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Maximum number of connection profiles to return. If unspecified, at most 50 connection profiles will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent that owns the collection of connection profiles.",
                      "required": true
                    },
                    "orderBy": {
                      "description": "Order by fields for the result.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListConnectionProfilesResponse"
                  },
                  "id": "datastream.projects.locations.connectionProfiles.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/connectionProfiles",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectionProfiles",
                  "description": "Use this method to list connection profiles created in a project and location.",
                  "httpMethod": "GET"
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectionProfiles/{connectionProfilesId}",
                  "response": {
                    "$ref": "ConnectionProfile"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "Use this method to get details about a connection profile.",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connectionProfiles/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the connection profile resource to get.",
                      "location": "path"
                    }
                  },
                  "id": "datastream.projects.locations.connectionProfiles.get"
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connectionProfiles/[^/]+$",
                      "description": "Output only. The resource's name."
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "Optional. Only validate the connection profile, but don't update any resources. The default is false.",
                      "location": "query"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the ConnectionProfile resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten."
                    },
                    "requestId": {
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "force": {
                      "location": "query",
                      "description": "Optional. Update the connection profile without validating it.",
                      "type": "boolean"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectionProfiles/{connectionProfilesId}",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "ConnectionProfile"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Use this method to update the parameters of a connection profile.",
                  "id": "datastream.projects.locations.connectionProfiles.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}"
                },
                "create": {
                  "path": "v1/{+parent}/connectionProfiles",
                  "description": "Use this method to create a connection profile in a project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectionProfiles",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "connectionProfileId": {
                      "description": "Required. The connection profile identifier.",
                      "location": "query",
                      "type": "string"
                    },
                    "force": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. Create the connection profile without validating it."
                    },
                    "requestId": {
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent that owns the collection of ConnectionProfiles.",
                      "type": "string"
                    },
                    "validateOnly": {
                      "description": "Optional. Only validate the connection profile, but don't create any resources. The default is false.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "request": {
                    "$ref": "ConnectionProfile"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "datastream.projects.locations.connectionProfiles.create"
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "datastream.projects.locations.operations.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}"
                },
                "cancel": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "id": "datastream.projects.locations.operations.cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "path": "v1/{+name}:cancel",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "path": "v1/{+name}/operations",
                  "httpMethod": "GET",
                  "id": "datastream.projects.locations.operations.list",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation's parent resource."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "The standard list page size."
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations"
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "id": "datastream.projects.locations.operations.delete"
                }
              }
            },
            "streams": {
              "methods": {
                "patch": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}",
                  "id": "datastream.projects.locations.streams.patch",
                  "description": "Use this method to update the configuration of a stream.",
                  "parameters": {
                    "force": {
                      "description": "Optional. Update the stream without validating it.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "Optional. Only validate the stream with the changes, without actually updating it. The default is false.",
                      "location": "query"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "name": {
                      "description": "Output only. The stream's name.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+$",
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the stream resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "Stream"
                  },
                  "httpMethod": "PATCH"
                },
                "delete": {
                  "description": "Use this method to delete a stream.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "id": "datastream.projects.locations.streams.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the stream resource to delete.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE"
                },
                "get": {
                  "response": {
                    "$ref": "Stream"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the stream resource to get."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "datastream.projects.locations.streams.get",
                  "path": "v1/{+name}",
                  "description": "Use this method to get details about a stream.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent that owns the collection of streams.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Filter request.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Maximum number of streams to return. If unspecified, at most 50 streams will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Page token received from a previous `ListStreams` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListStreams` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Order by fields for the result."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/streams",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams",
                  "id": "datastream.projects.locations.streams.list",
                  "description": "Use this method to list streams in a project and location.",
                  "response": {
                    "$ref": "ListStreamsResponse"
                  }
                },
                "create": {
                  "id": "datastream.projects.locations.streams.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Use this method to create a stream.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/streams",
                  "request": {
                    "$ref": "Stream"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "validateOnly": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. Only validate the stream, but don't create any resources. The default is false."
                    },
                    "streamId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The stream identifier."
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent that owns the collection of streams."
                    },
                    "force": {
                      "type": "boolean",
                      "description": "Optional. Create the stream without validating it.",
                      "location": "query"
                    },
                    "requestId": {
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams"
                }
              },
              "resources": {
                "objects": {
                  "methods": {
                    "startBackfillJob": {
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "object"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}/objects/{objectsId}:startBackfillJob",
                      "response": {
                        "$ref": "StartBackfillJobResponse"
                      },
                      "request": {
                        "$ref": "StartBackfillJobRequest"
                      },
                      "description": "Use this method to start a backfill job for the specified stream object.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "datastream.projects.locations.streams.objects.startBackfillJob",
                      "parameters": {
                        "object": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the stream object resource to start a backfill job for.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+/objects/[^/]+$"
                        }
                      },
                      "path": "v1/{+object}:startBackfillJob"
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+/objects/[^/]+$",
                          "required": true,
                          "description": "Required. The name of the stream object resource to get.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "StreamObject"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}/objects/{objectsId}",
                      "httpMethod": "GET",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "datastream.projects.locations.streams.objects.get",
                      "description": "Use this method to get details about a stream object."
                    },
                    "lookup": {
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "Required. The parent stream that owns the collection of objects.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+$"
                        }
                      },
                      "description": "Use this method to look up a stream object by its source object identifier.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}/objects:lookup",
                      "request": {
                        "$ref": "LookupStreamObjectRequest"
                      },
                      "response": {
                        "$ref": "StreamObject"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/objects:lookup",
                      "id": "datastream.projects.locations.streams.objects.lookup"
                    },
                    "list": {
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. The parent stream that owns the collection of objects.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+$"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Page token received from a previous `ListStreamObjectsRequest` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListStreamObjectsRequest` must match the call that provided the page token.",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Maximum number of objects to return. Default is 50. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "location": "query",
                          "type": "integer"
                        }
                      },
                      "response": {
                        "$ref": "ListStreamObjectsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/objects",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}/objects",
                      "description": "Use this method to list the objects of a specific stream.",
                      "httpMethod": "GET",
                      "id": "datastream.projects.locations.streams.objects.list"
                    },
                    "stopBackfillJob": {
                      "httpMethod": "POST",
                      "description": "Use this method to stop a backfill job for the specified stream object.",
                      "request": {
                        "$ref": "StopBackfillJobRequest"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}/objects/{objectsId}:stopBackfillJob",
                      "response": {
                        "$ref": "StopBackfillJobResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+object}:stopBackfillJob",
                      "parameters": {
                        "object": {
                          "description": "Required. The name of the stream object resource to stop the backfill job for.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+/objects/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "object"
                      ],
                      "id": "datastream.projects.locations.streams.objects.stopBackfillJob"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "get": {
              "path": "v1/{+name}",
              "description": "Gets information about a location.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Location"
              },
              "id": "datastream.projects.locations.get"
            },
            "list": {
              "id": "datastream.projects.locations.list",
              "path": "v1/{+name}/locations",
              "description": "Lists information about the supported locations for this service.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like \"displayName=tokyo\", and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListLocationsResponse"
              }
            },
            "fetchStaticIps": {
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Maximum number of Ips to return, will likely not be specified.",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token, received from a previous `ListStaticIps` call. will likely not be specified.",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name for the location for which static IPs should be returned. Must be in the format `projects/*/locations/*`.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}:fetchStaticIps",
              "response": {
                "$ref": "FetchStaticIpsResponse"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:fetchStaticIps",
              "description": "The FetchStaticIps API call exposes the static IP addresses used by Datastream.",
              "id": "datastream.projects.locations.fetchStaticIps",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    }
  },
  "revision": "20220322",
  "schemas": {
    "Empty": {
      "properties": {},
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "MysqlSslConfig": {
      "type": "object",
      "properties": {
        "clientKey": {
          "description": "Input only. PEM-encoded private key associated with the Client Certificate. If this field is used then the 'client_certificate' and the 'ca_certificate' fields are mandatory.",
          "type": "string"
        },
        "clientCertificate": {
          "type": "string",
          "description": "Input only. PEM-encoded certificate that will be used by the replica to authenticate against the source database server. If this field is used then the 'client_key' and the 'ca_certificate' fields are mandatory."
        },
        "caCertificate": {
          "type": "string",
          "description": "Input only. PEM-encoded certificate of the CA that signed the source database server's certificate."
        },
        "clientCertificateSet": {
          "description": "Output only. Indicates whether the client_certificate field is set.",
          "readOnly": true,
          "type": "boolean"
        },
        "caCertificateSet": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the ca_certificate field is set."
        },
        "clientKeySet": {
          "description": "Output only. Indicates whether the client_key field is set.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "MysqlSslConfig",
      "description": "MySQL SSL configuration information."
    },
    "MysqlColumn": {
      "id": "MysqlColumn",
      "description": "MySQL Column.",
      "properties": {
        "nullable": {
          "description": "Whether or not the column can accept a null value.",
          "type": "boolean"
        },
        "primaryKey": {
          "description": "Whether or not the column represents a primary key.",
          "type": "boolean"
        },
        "collation": {
          "description": "Column collation.",
          "type": "string"
        },
        "ordinalPosition": {
          "format": "int32",
          "description": "The ordinal position of the column in the table.",
          "type": "integer"
        },
        "length": {
          "type": "integer",
          "description": "Column length.",
          "format": "int32"
        },
        "column": {
          "type": "string",
          "description": "Column name."
        },
        "dataType": {
          "type": "string",
          "description": "The MySQL data type. Full data types list can be found here: https://dev.mysql.com/doc/refman/8.0/en/data-types.html"
        }
      },
      "type": "object"
    },
    "StopBackfillJobResponse": {
      "type": "object",
      "properties": {
        "object": {
          "$ref": "StreamObject",
          "description": "The stream object resource the backfill job was stopped for."
        }
      },
      "description": "Response for manually stop a backfill job for a specific stream object.",
      "id": "StopBackfillJobResponse"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "properties": {},
      "type": "object"
    },
    "ListPrivateConnectionsResponse": {
      "description": "Response containing a list of private connection configurations.",
      "id": "ListPrivateConnectionsResponse",
      "properties": {
        "privateConnections": {
          "type": "array",
          "items": {
            "$ref": "PrivateConnection"
          },
          "description": "List of private connectivity configurations."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "type": "object"
    },
    "OracleRdbms": {
      "description": "Oracle database structure.",
      "properties": {
        "oracleSchemas": {
          "items": {
            "$ref": "OracleSchema"
          },
          "type": "array",
          "description": "Oracle schemas/databases in the database server."
        }
      },
      "id": "OracleRdbms",
      "type": "object"
    },
    "Error": {
      "properties": {
        "reason": {
          "type": "string",
          "description": "A title that explains the reason for the error."
        },
        "errorTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the error occurred."
        },
        "details": {
          "type": "object",
          "description": "Additional information about the error.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "message": {
          "description": "A message containing more information about the error that occurred.",
          "type": "string"
        },
        "errorUuid": {
          "description": "A unique identifier for this specific error, allowing it to be traced throughout the system in logs and API responses.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represent a user-facing Error.",
      "id": "Error"
    },
    "ForwardSshTunnelConnectivity": {
      "properties": {
        "privateKey": {
          "type": "string",
          "description": "Input only. SSH private key."
        },
        "port": {
          "type": "integer",
          "description": "Port for the SSH tunnel, default value is 22.",
          "format": "int32"
        },
        "password": {
          "type": "string",
          "description": "Input only. SSH password."
        },
        "username": {
          "type": "string",
          "description": "Required. Username for the SSH tunnel."
        },
        "hostname": {
          "description": "Required. Hostname for the SSH tunnel.",
          "type": "string"
        }
      },
      "id": "ForwardSshTunnelConnectivity",
      "type": "object",
      "description": "Forward SSH Tunnel connectivity."
    },
    "ValidationResult": {
      "properties": {
        "validations": {
          "items": {
            "$ref": "Validation"
          },
          "description": "A list of validations (includes both executed as well as not executed validations).",
          "type": "array"
        }
      },
      "id": "ValidationResult",
      "description": "Contains the current validation results.",
      "type": "object"
    },
    "DiscoverConnectionProfileRequest": {
      "description": "Request message for 'discover' ConnectionProfile request.",
      "id": "DiscoverConnectionProfileRequest",
      "type": "object",
      "properties": {
        "connectionProfileName": {
          "type": "string",
          "description": "A reference to an existing connection profile."
        },
        "oracleRdbms": {
          "$ref": "OracleRdbms",
          "description": "Oracle RDBMS to enrich with child data objects and metadata."
        },
        "hierarchyDepth": {
          "type": "integer",
          "format": "int32",
          "description": "The number of hierarchy levels below the current level to be retrieved."
        },
        "mysqlRdbms": {
          "description": "MySQL RDBMS to enrich with child data objects and metadata.",
          "$ref": "MysqlRdbms"
        },
        "fullHierarchy": {
          "type": "boolean",
          "description": "Whether to retrieve the full hierarchy of data objects (TRUE) or only the current level (FALSE)."
        },
        "connectionProfile": {
          "description": "An ad-hoc connection profile configuration.",
          "$ref": "ConnectionProfile"
        }
      }
    },
    "ListStreamObjectsResponse": {
      "description": "Response containing the objects for a stream.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page."
        },
        "streamObjects": {
          "items": {
            "$ref": "StreamObject"
          },
          "description": "List of stream objects.",
          "type": "array"
        }
      },
      "id": "ListStreamObjectsResponse"
    },
    "PrivateConnection": {
      "properties": {
        "name": {
          "description": "Output only. The resource's name.",
          "type": "string",
          "readOnly": true
        },
        "error": {
          "description": "Output only. In case of error, the details of the error in a user-friendly format.",
          "readOnly": true,
          "$ref": "Error"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "FAILED",
            "DELETING",
            "FAILED_TO_DELETE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "The private connection is in creation state - creating resources.",
            "The private connection has been created with all of its resources.",
            "The private connection creation has failed.",
            "The private connection is being deleted.",
            "Delete request has failed, resource is in invalid state."
          ],
          "type": "string",
          "description": "Output only. The state of the Private Connection."
        },
        "vpcPeeringConfig": {
          "description": "VPC Peering Config.",
          "$ref": "VpcPeeringConfig"
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The create time of the resource."
        },
        "updateTime": {
          "description": "Output only. The update time of the resource.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "description": "Labels.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "PrivateConnection",
      "description": "The PrivateConnection resource is used to establish private connectivity between Datastream and a customer's network.",
      "type": "object"
    },
    "MysqlDatabase": {
      "properties": {
        "database": {
          "description": "Database name.",
          "type": "string"
        },
        "mysqlTables": {
          "type": "array",
          "description": "Tables in the database.",
          "items": {
            "$ref": "MysqlTable"
          }
        }
      },
      "id": "MysqlDatabase",
      "type": "object",
      "description": "MySQL database."
    },
    "Route": {
      "id": "Route",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The create time of the resource.",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The update time of the resource.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name."
        },
        "destinationPort": {
          "format": "int32",
          "type": "integer",
          "description": "Destination port for connection"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource's name.",
          "readOnly": true
        },
        "destinationAddress": {
          "description": "Required. Destination address for connection",
          "type": "string"
        },
        "labels": {
          "description": "Labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "The route resource is the child of the private connection resource, used for defining a route for a private connection.",
      "type": "object"
    },
    "Operation": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ListStreamsResponse": {
      "type": "object",
      "description": "Response message for listing streams.",
      "id": "ListStreamsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "streams": {
          "description": "List of streams",
          "items": {
            "$ref": "Stream"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MysqlObjectIdentifier": {
      "properties": {
        "database": {
          "type": "string",
          "description": "Required. The database name."
        },
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Mysql data source object identifier.",
      "id": "MysqlObjectIdentifier"
    },
    "OracleSourceConfig": {
      "id": "OracleSourceConfig",
      "type": "object",
      "description": "Oracle data source configuration",
      "properties": {
        "excludeObjects": {
          "$ref": "OracleRdbms",
          "description": "Oracle objects to exclude from the stream."
        },
        "includeObjects": {
          "$ref": "OracleRdbms",
          "description": "Oracle objects to include in the stream."
        },
        "dropLargeObjects": {
          "description": "Drop large object values.",
          "$ref": "OracleDropLargeObjects"
        }
      }
    },
    "Location": {
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        }
      },
      "description": "A resource that represents Google Cloud Platform location.",
      "id": "Location",
      "type": "object"
    },
    "Validation": {
      "properties": {
        "message": {
          "description": "Messages reflecting the validation results.",
          "items": {
            "$ref": "ValidationMessage"
          },
          "type": "array"
        },
        "code": {
          "description": "A custom code identifying this validation.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Validation execution status.",
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_EXECUTED",
            "FAILED",
            "PASSED"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Validation did not execute.",
            "Validation failed.",
            "Validation passed."
          ]
        },
        "description": {
          "type": "string",
          "description": "A short description of the validation."
        }
      },
      "type": "object",
      "description": "A validation to perform on a stream.",
      "id": "Validation"
    },
    "GcsProfile": {
      "type": "object",
      "id": "GcsProfile",
      "properties": {
        "bucket": {
          "description": "Required. The Cloud Storage bucket name.",
          "type": "string"
        },
        "rootPath": {
          "description": "The root path inside the Cloud Storage bucket.",
          "type": "string"
        }
      },
      "description": "Cloud Storage bucket profile."
    },
    "OracleDropLargeObjects": {
      "id": "OracleDropLargeObjects",
      "properties": {},
      "type": "object",
      "description": "Configuration to drop large object values."
    },
    "ValidationMessage": {
      "type": "object",
      "description": "Represent user-facing validation result message.",
      "properties": {
        "code": {
          "description": "A custom code identifying this specific message.",
          "type": "string"
        },
        "metadata": {
          "description": "Additional metadata related to the result.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "message": {
          "description": "The result of the validation.",
          "type": "string"
        },
        "level": {
          "description": "Message severity level (warning or error).",
          "type": "string",
          "enum": [
            "LEVEL_UNSPECIFIED",
            "WARNING",
            "ERROR"
          ],
          "enumDescriptions": [
            "Unspecified level.",
            "Potentially cause issues with the Stream.",
            "Definitely cause issues with the Stream."
          ]
        }
      },
      "id": "ValidationMessage"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "MysqlTable": {
      "properties": {
        "table": {
          "type": "string",
          "description": "Table name."
        },
        "mysqlColumns": {
          "type": "array",
          "description": "MySQL columns in the database. When unspecified as part of include/exclude objects, includes/excludes everything.",
          "items": {
            "$ref": "MysqlColumn"
          }
        }
      },
      "type": "object",
      "id": "MysqlTable",
      "description": "MySQL table."
    },
    "ListOperationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "MysqlRdbms": {
      "description": "MySQL database structure",
      "type": "object",
      "properties": {
        "mysqlDatabases": {
          "description": "Mysql databases on the server",
          "items": {
            "$ref": "MysqlDatabase"
          },
          "type": "array"
        }
      },
      "id": "MysqlRdbms"
    },
    "ListRoutesResponse": {
      "description": "Route list response.",
      "type": "object",
      "properties": {
        "routes": {
          "type": "array",
          "items": {
            "$ref": "Route"
          },
          "description": "List of Routes."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListRoutesResponse"
    },
    "VpcPeeringConfig": {
      "id": "VpcPeeringConfig",
      "description": "The VPC Peering configuration is used to create VPC peering between Datastream and the consumer's VPC.",
      "properties": {
        "vpc": {
          "description": "Required. Fully qualified name of the VPC that Datastream will peer to. Format: `projects/{project}/global/{networks}/{name}`",
          "type": "string"
        },
        "subnet": {
          "description": "Required. A free subnet for peering. (CIDR of /29) TODO(b/172995841) add validators.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MysqlProfile": {
      "description": "MySQL database profile.",
      "type": "object",
      "id": "MysqlProfile",
      "properties": {
        "sslConfig": {
          "$ref": "MysqlSslConfig",
          "description": "SSL configuration for the MySQL connection."
        },
        "hostname": {
          "description": "Required. Hostname for the MySQL connection.",
          "type": "string"
        },
        "port": {
          "format": "int32",
          "type": "integer",
          "description": "Port for the MySQL connection, default value is 3306."
        },
        "username": {
          "description": "Required. Username for the MySQL connection.",
          "type": "string"
        },
        "password": {
          "description": "Required. Input only. Password for the MySQL connection.",
          "type": "string"
        }
      }
    },
    "Stream": {
      "id": "Stream",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The creation time of the stream.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "sourceConfig": {
          "$ref": "SourceConfig",
          "description": "Required. Source connection profile configuration."
        },
        "backfillNone": {
          "description": "Do not automatically backfill any objects.",
          "$ref": "BackfillNoneStrategy"
        },
        "name": {
          "description": "Output only. The stream's name.",
          "readOnly": true,
          "type": "string"
        },
        "customerManagedEncryptionKey": {
          "description": "Immutable. A reference to a KMS encryption key. If provided, it will be used to encrypt the data. If left blank, data will be encrypted using an internal Stream-specific encryption key provisioned through KMS.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The last update time of the stream.",
          "type": "string",
          "format": "google-datetime"
        },
        "destinationConfig": {
          "description": "Required. Destination connection profile configuration.",
          "$ref": "DestinationConfig"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels.",
          "type": "object"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "Error"
          },
          "description": "Output only. Errors on the Stream.",
          "readOnly": true
        },
        "backfillAll": {
          "$ref": "BackfillAllStrategy",
          "description": "Automatically backfill objects included in the stream source configuration. Specific objects can be excluded."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "RUNNING",
            "PAUSED",
            "MAINTENANCE",
            "FAILED",
            "FAILED_PERMANENTLY",
            "STARTING",
            "DRAINING"
          ],
          "enumDescriptions": [
            "Unspecified stream state.",
            "The stream has been created but has not yet started streaming data.",
            "The stream is running.",
            "The stream is paused.",
            "The stream is in maintenance mode. Updates are rejected on the resource in this state.",
            "The stream is experiencing an error that is preventing data from being streamed.",
            "The stream has experienced a terminal failure.",
            "The stream is starting, but not yet running.",
            "The Stream is no longer reading new events, but still writing events in the buffer."
          ],
          "description": "The state of the stream.",
          "type": "string"
        }
      },
      "description": "A resource representing streaming data from a source to a destination."
    },
    "JsonFileFormat": {
      "description": "JSON file format configuration.",
      "id": "JsonFileFormat",
      "type": "object",
      "properties": {
        "schemaFileFormat": {
          "enum": [
            "SCHEMA_FILE_FORMAT_UNSPECIFIED",
            "NO_SCHEMA_FILE",
            "AVRO_SCHEMA_FILE"
          ],
          "enumDescriptions": [
            "Unspecified schema file format.",
            "Do not attach schema file.",
            "Avro schema format."
          ],
          "description": "The schema file format along JSON data files.",
          "type": "string"
        },
        "compression": {
          "enum": [
            "JSON_COMPRESSION_UNSPECIFIED",
            "NO_COMPRESSION",
            "GZIP"
          ],
          "enumDescriptions": [
            "Unspecified json file compression.",
            "Do not compress JSON file.",
            "Gzip compression."
          ],
          "description": "Compression of the loaded JSON file.",
          "type": "string"
        }
      }
    },
    "ListConnectionProfilesResponse": {
      "properties": {
        "connectionProfiles": {
          "type": "array",
          "description": "List of connection profiles.",
          "items": {
            "$ref": "ConnectionProfile"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "description": "Response message for listing connection profiles.",
      "type": "object",
      "id": "ListConnectionProfilesResponse"
    },
    "LookupStreamObjectRequest": {
      "id": "LookupStreamObjectRequest",
      "description": "Request for looking up a specific stream object by its source object identifier.",
      "properties": {
        "sourceObjectIdentifier": {
          "description": "Required. The source object identifier which maps to the stream object.",
          "$ref": "SourceObjectIdentifier"
        }
      },
      "type": "object"
    },
    "StreamObject": {
      "type": "object",
      "id": "StreamObject",
      "properties": {
        "createTime": {
          "description": "Output only. The creation time of the object.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "backfillJob": {
          "description": "The latest backfill job that was initiated for the stream object.",
          "$ref": "BackfillJob"
        },
        "sourceObject": {
          "$ref": "SourceObjectIdentifier",
          "description": "The object identifier in the data source."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The object resource's name."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The last update time of the object.",
          "type": "string"
        },
        "errors": {
          "readOnly": true,
          "description": "Output only. Active errors on the object.",
          "type": "array",
          "items": {
            "$ref": "Error"
          }
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        }
      },
      "description": "A specific stream object (e.g a specific DB table)."
    },
    "DestinationConfig": {
      "description": "The configuration of the stream destination.",
      "id": "DestinationConfig",
      "properties": {
        "destinationConnectionProfile": {
          "description": "Required. Destination connection profile resource. Format: `projects/{project}/locations/{location}/connectionProfiles/{name}`",
          "type": "string"
        },
        "gcsDestinationConfig": {
          "description": "A configuration for how data should be loaded to Cloud Storage.",
          "$ref": "GcsDestinationConfig"
        }
      },
      "type": "object"
    },
    "OracleSchema": {
      "description": "Oracle schema.",
      "id": "OracleSchema",
      "properties": {
        "oracleTables": {
          "description": "Tables in the schema.",
          "type": "array",
          "items": {
            "$ref": "OracleTable"
          }
        },
        "schema": {
          "description": "Schema name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "StaticServiceIpConnectivity": {
      "description": "Static IP address connectivity.",
      "type": "object",
      "properties": {},
      "id": "StaticServiceIpConnectivity"
    },
    "BackfillNoneStrategy": {
      "id": "BackfillNoneStrategy",
      "type": "object",
      "description": "Backfill strategy to disable automatic backfill for the Stream's objects.",
      "properties": {}
    },
    "OperationMetadata": {
      "properties": {
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "validationResult": {
          "description": "Output only. Results of executed validations if there are any.",
          "readOnly": true,
          "$ref": "ValidationResult"
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
[...]
