{
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud Platform data"
        }
      }
    }
  },
  "servicePath": "",
  "version": "v1",
  "description": "Manages Hadoop-based clusters and jobs on Google Cloud Platform.",
  "protocol": "rest",
  "baseUrl": "https://dataproc.googleapis.com/",
  "revision": "20210406",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Dataproc",
  "ownerDomain": "google.com",
  "rootUrl": "https://dataproc.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "id": "dataproc:v1",
  "title": "Cloud Dataproc API",
  "schemas": {
    "GetIamPolicyRequest": {
      "properties": {
        "options": {
          "description": "OPTIONAL: A GetPolicyOptions object for specifying options to GetIamPolicy.",
          "$ref": "GetPolicyOptions"
        }
      },
      "type": "object",
      "id": "GetIamPolicyRequest",
      "description": "Request message for GetIamPolicy method."
    },
    "JobMetadata": {
      "id": "JobMetadata",
      "description": "Job Operation metadata.",
      "type": "object",
      "properties": {
        "jobId": {
          "readOnly": true,
          "description": "Output only. The job id.",
          "type": "string"
        },
        "status": {
          "$ref": "JobStatus",
          "description": "Output only. Most recent job status.",
          "readOnly": true
        },
        "operationType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Operation type."
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Job submission time."
        }
      }
    },
    "ListAutoscalingPoliciesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Output only. This token is included in the response if there are more results to fetch.",
          "readOnly": true,
          "type": "string"
        },
        "policies": {
          "description": "Output only. Autoscaling policies list.",
          "type": "array",
          "items": {
            "$ref": "AutoscalingPolicy"
          },
          "readOnly": true
        }
      },
      "type": "object",
      "id": "ListAutoscalingPoliciesResponse",
      "description": "A response to a request to list autoscaling policies in a project."
    },
    "WorkflowNode": {
      "id": "WorkflowNode",
      "description": "The workflow node.",
      "type": "object",
      "properties": {
        "error": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The error detail."
        },
        "jobId": {
          "description": "Output only. The job id; populated after the node enters RUNNING state.",
          "readOnly": true,
          "type": "string"
        },
        "prerequisiteStepIds": {
          "readOnly": true,
          "description": "Output only. Node's prerequisite nodes.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "stepId": {
          "type": "string",
          "description": "Output only. The name of the node.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "State is unspecified.",
            "The node is awaiting prerequisite node to finish.",
            "The node is runnable but not running.",
            "The node is running.",
            "The node completed successfully.",
            "The node failed. A node can be marked FAILED because its ancestor or peer failed."
          ],
          "description": "Output only. The node state.",
          "type": "string",
          "enum": [
            "NODE_STATE_UNSPECIFIED",
            "BLOCKED",
            "RUNNABLE",
            "RUNNING",
            "COMPLETED",
            "FAILED"
          ]
        }
      }
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for TestIamPermissions method.",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the resource. Permissions with wildcards (such as '*' or 'storage.*') are not allowed. For more information see IAM Overview (https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array"
        }
      },
      "type": "object"
    },
    "MetastoreConfig": {
      "id": "MetastoreConfig",
      "properties": {
        "dataprocMetastoreService": {
          "type": "string",
          "description": "Required. Resource name of an existing Dataproc Metastore service.Example: projects/[project_id]/locations/[dataproc_region]/services/[service-name]"
        }
      },
      "description": "Specifies a Metastore configuration.",
      "type": "object"
    },
    "TemplateParameter": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Brief description of the parameter. Must not exceed 1024 characters."
        },
        "name": {
          "type": "string",
          "description": "Required. Parameter name. The parameter name is used as the key, and paired with the parameter value, which are passed to the template when the template is instantiated. The name must contain only capital letters (A-Z), numbers (0-9), and underscores (_), and must not start with a number. The maximum length is 40 characters."
        },
        "fields": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Paths to all fields that the parameter replaces. A field is allowed to appear in at most one parameter's list of field paths.A field path is similar in syntax to a google.protobuf.FieldMask. For example, a field path that references the zone field of a workflow template's cluster selector would be specified as placement.clusterSelector.zone.Also, field paths can reference fields using the following syntax: Values in maps can be referenced by key: labels'key' placement.clusterSelector.clusterLabels'key' placement.managedCluster.labels'key' placement.clusterSelector.clusterLabels'key' jobs'step-id'.labels'key' Jobs in the jobs list can be referenced by step-id: jobs'step-id'.hadoopJob.mainJarFileUri jobs'step-id'.hiveJob.queryFileUri jobs'step-id'.pySparkJob.mainPythonFileUri jobs'step-id'.hadoopJob.jarFileUris0 jobs'step-id'.hadoopJob.archiveUris0 jobs'step-id'.hadoopJob.fileUris0 jobs'step-id'.pySparkJob.pythonFileUris0 Items in repeated fields can be referenced by a zero-based index: jobs'step-id'.sparkJob.args0 Other examples: jobs'step-id'.hadoopJob.properties'key' jobs'step-id'.hadoopJob.args0 jobs'step-id'.hiveJob.scriptVariables'key' jobs'step-id'.hadoopJob.mainJarFileUri placement.clusterSelector.zoneIt may not be possible to parameterize maps and repeated fields in their entirety since only individual map values and individual items in repeated fields can be referenced. For example, the following field paths are invalid: placement.clusterSelector.clusterLabels jobs'step-id'.sparkJob.args"
        },
        "validation": {
          "description": "Optional. Validation rules to be applied to this parameter's value.",
          "$ref": "ParameterValidation"
        }
      },
      "id": "TemplateParameter",
      "type": "object",
      "description": "A configurable parameter that replaces one or more fields in the template. Parameterizable fields: - Labels - File uris - Job properties - Job arguments - Script variables - Main class (in HadoopJob and SparkJob) - Zone (in ClusterSelector)"
    },
    "LifecycleConfig": {
      "description": "Specifies the cluster auto-delete schedule configuration.",
      "id": "LifecycleConfig",
      "properties": {
        "idleStartTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when cluster became idle (most recent job finished) and became eligible for deletion due to idleness (see JSON representation of Timestamp (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "readOnly": true
        },
        "idleDeleteTtl": {
          "format": "google-duration",
          "description": "Optional. The duration to keep the cluster alive while idling (when no jobs are running). Passing this threshold will cause the cluster to be deleted. Minimum value is 5 minutes; maximum value is 14 days (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "type": "string"
        },
        "autoDeleteTtl": {
          "description": "Optional. The lifetime duration of cluster. The cluster will be auto-deleted at the end of this period. Minimum value is 10 minutes; maximum value is 14 days (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "type": "string",
          "format": "google-duration"
        },
        "autoDeleteTime": {
          "type": "string",
          "description": "Optional. The time when cluster will be auto-deleted (see JSON representation of Timestamp (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "Policy": {
      "type": "object",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy.Valid values are 0, 1, and 3. Requests that specify an invalid value are rejected.Any operation that affects conditional role bindings must specify version 3. This requirement applies to the following operations: Getting a policy that includes a conditional role binding Adding a conditional role binding to a policy Changing a conditional role binding in a policy Removing any role binding, with or without a condition, from a policy that includes conditionsImportant: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of members to a role. Optionally, may specify a condition that determines how and when the bindings are applied. Each of the bindings must contain at least one member."
        },
        "etag": {
          "format": "byte",
          "description": "etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to getIamPolicy, and systems are expected to put that etag in the request to setIamPolicy to ensure that their change will be applied to the same version of the policy.Important: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.",
          "type": "string"
        }
      },
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources.A Policy is a collection of bindings. A binding binds one or more members to a single role. Members can be user accounts, service accounts, Google groups, and domains (such as G Suite). A role is a named list of permissions; each role can be an IAM predefined role or a user-created custom role.For some types of Google Cloud resources, a binding can also specify a condition, which is a logical expression that allows access to a resource only if the expression evaluates to true. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).JSON example: { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } YAML example: bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') - etag: BwWWja0YfJA= - version: 3 For a description of IAM and its features, see the IAM documentation (https://cloud.google.com/iam/docs/)."
    },
    "OrderedJob": {
      "id": "OrderedJob",
      "description": "A job executed by the workflow.",
      "type": "object",
      "properties": {
        "pigJob": {
          "$ref": "PigJob",
          "description": "Optional. Job is a Pig job."
        },
        "sparkSqlJob": {
          "description": "Optional. Job is a SparkSql job.",
          "$ref": "SparkSqlJob"
        },
        "scheduling": {
          "description": "Optional. Job scheduling configuration.",
          "$ref": "JobScheduling"
        },
        "hiveJob": {
          "$ref": "HiveJob",
          "description": "Optional. Job is a Hive job."
        },
        "sparkJob": {
          "description": "Optional. Job is a Spark job.",
          "$ref": "SparkJob"
        },
        "prerequisiteStepIds": {
          "type": "array",
          "description": "Optional. The optional list of prerequisite job step_ids. If not specified, the job will start at the beginning of workflow.",
          "items": {
            "type": "string"
          }
        },
        "pysparkJob": {
          "$ref": "PySparkJob",
          "description": "Optional. Job is a PySpark job."
        },
        "sparkRJob": {
          "description": "Optional. Job is a SparkR job.",
          "$ref": "SparkRJob"
        },
        "hadoopJob": {
          "description": "Optional. Job is a Hadoop job.",
          "$ref": "HadoopJob"
        },
        "stepId": {
          "description": "Required. The step id. The id must be unique among all jobs within the template.The step id is used as prefix for job id, as job goog-dataproc-workflow-step-id label, and in prerequisiteStepIds field from other steps.The id must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). Cannot begin or end with underscore or hyphen. Must consist of between 3 and 50 characters.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. The labels to associate with this job.Label keys must be between 1 and 63 characters long, and must conform to the following regular expression: \\p{Ll}\\p{Lo}{0,62}Label values must be between 1 and 63 characters long, and must conform to the following regular expression: \\p{Ll}\\p{Lo}\\p{N}_-{0,63}No more than 32 labels can be associated with a given job.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "prestoJob": {
          "$ref": "PrestoJob",
          "description": "Optional. Job is a Presto job."
        }
      }
    },
    "CancelJobRequest": {
      "type": "object",
      "description": "A request to cancel a job.",
      "properties": {},
      "id": "CancelJobRequest"
    },
    "AcceleratorConfig": {
      "properties": {
        "acceleratorTypeUri": {
          "type": "string",
          "description": "Full URL, partial URI, or short name of the accelerator type resource to expose to this instance. See Compute Engine AcceleratorTypes (https://cloud.google.com/compute/docs/reference/beta/acceleratorTypes).Examples: https://www.googleapis.com/compute/beta/projects/[project_id]/zones/us-east1-a/acceleratorTypes/nvidia-tesla-k80 projects/[project_id]/zones/us-east1-a/acceleratorTypes/nvidia-tesla-k80 nvidia-tesla-k80Auto Zone Exception: If you are using the Dataproc Auto Zone Placement (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/auto-zone#using_auto_zone_placement) feature, you must use the short name of the accelerator type resource, for example, nvidia-tesla-k80."
        },
        "acceleratorCount": {
          "description": "The number of the accelerator cards of this type exposed to this instance.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "AcceleratorConfig",
      "description": "Specifies the type and number of accelerator cards attached to the instances of an instance. See GPUs on Compute Engine (https://cloud.google.com/compute/docs/gpus/)."
    },
    "ClusterOperation": {
      "id": "ClusterOperation",
      "properties": {
        "done": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates the operation is done."
        },
        "operationId": {
          "description": "Output only. The id of the cluster operation.",
          "type": "string",
          "readOnly": true
        },
        "error": {
          "description": "Output only. Error, if operation failed.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "The cluster operation triggered by a workflow."
    },
    "ManagedGroupConfig": {
      "properties": {
        "instanceTemplateName": {
          "type": "string",
          "description": "Output only. The name of the Instance Template used for the Managed Instance Group.",
          "readOnly": true
        },
        "instanceGroupManagerName": {
          "type": "string",
          "description": "Output only. The name of the Instance Group Manager for this group.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "ManagedGroupConfig",
      "description": "Specifies the resources used to actively manage an instance group."
    },
    "Expr": {
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec.Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        }
      },
      "type": "object"
    },
    "JobPlacement": {
      "type": "object",
      "properties": {
        "clusterUuid": {
          "type": "string",
          "description": "Output only. A cluster UUID generated by the Dataproc service when the job is submitted.",
          "readOnly": true
        },
        "clusterLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Cluster labels to identify a cluster where the job will be submitted."
        },
        "clusterName": {
          "type": "string",
          "description": "Required. The name of the cluster where the job will be submitted."
        }
      },
      "id": "JobPlacement",
      "description": "Dataproc job config."
    },
    "PigJob": {
      "properties": {
        "loggingConfig": {
          "$ref": "LoggingConfig",
          "description": "Optional. The runtime log config for job execution."
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A mapping of property names to values, used to configure Pig. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/hadoop/conf/*-site.xml, /etc/pig/conf/pig.properties, and classes in user code."
        },
        "continueOnFailure": {
          "type": "boolean",
          "description": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries."
        },
        "queryFileUri": {
          "description": "The HCFS URI of the script that contains the Pig queries.",
          "type": "string"
        },
        "scriptVariables": {
          "type": "object",
          "description": "Optional. Mapping of query variable names to values (equivalent to the Pig command: name=[value]).",
          "additionalProperties": {
            "type": "string"
          }
        },
        "jarFileUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATH of the Pig Client and Hadoop MapReduce (MR) tasks. Can contain Pig UDFs."
        },
        "queryList": {
          "description": "A list of queries.",
          "$ref": "QueryList"
        }
      },
      "id": "PigJob",
      "type": "object",
      "description": "A Dataproc job for running Apache Pig (https://pig.apache.org/) queries on YARN."
    },
    "ClusterSelector": {
      "properties": {
        "clusterLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. The cluster labels. Cluster must have all labels to match.",
          "type": "object"
        },
        "zone": {
          "type": "string",
          "description": "Optional. The zone where workflow process executes. This parameter does not affect the selection of the cluster.If unspecified, the zone of the first cluster matching the selector is used."
        }
      },
      "id": "ClusterSelector",
      "type": "object",
      "description": "A selector that chooses target cluster for jobs based on metadata."
    },
    "ClusterOperationStatus": {
      "description": "The status of the operation.",
      "type": "object",
      "properties": {
        "stateStartTime": {
          "readOnly": true,
          "description": "Output only. The time this state was entered.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enum": [
            "UNKNOWN",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "readOnly": true,
          "description": "Output only. A message containing the operation state.",
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "The operation has been created.",
            "The operation is running.",
            "The operation is done; either cancelled or completed."
          ]
        },
        "innerState": {
          "description": "Output only. A message containing the detailed operation state.",
          "readOnly": true,
          "type": "string"
        },
        "details": {
          "readOnly": true,
          "description": "Output only. A message containing any operation metadata details.",
          "type": "string"
        }
      },
      "id": "ClusterOperationStatus"
    },
    "ListClustersResponse": {
      "properties": {
        "clusters": {
          "type": "array",
          "items": {
            "$ref": "Cluster"
          },
          "readOnly": true,
          "description": "Output only. The clusters in the project."
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent ListClustersRequest.",
          "type": "string"
        }
      },
      "id": "ListClustersResponse",
      "description": "The list of all clusters in a project.",
      "type": "object"
    },
    "ValueValidation": {
      "description": "Validation based on a list of allowed values.",
      "properties": {
        "values": {
          "description": "Required. List of allowed values for the parameter.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ValueValidation",
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "description": "Request message for SetIamPolicy method.",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the resource. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "id": "SetIamPolicyRequest",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "A subset of TestPermissionsRequest.permissions that the caller is allowed.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Response message for TestIamPermissions method."
    },
    "NodeGroupAffinity": {
      "type": "object",
      "description": "Node Group Affinity for clusters using sole-tenant node groups.",
      "properties": {
        "nodeGroupUri": {
          "description": "Required. The URI of a sole-tenant node group resource (https://cloud.google.com/compute/docs/reference/rest/v1/nodeGroups) that the cluster will be created on.A full URL, partial URI, or node group name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/zones/us-central1-a/nodeGroups/node-group-1 projects/[project_id]/zones/us-central1-a/nodeGroups/node-group-1 node-group-1",
          "type": "string"
        }
      },
      "id": "NodeGroupAffinity"
    },
    "Cluster": {
      "type": "object",
      "properties": {
        "clusterUuid": {
          "readOnly": true,
          "description": "Output only. A cluster UUID (Unique Universal Identifier). Dataproc generates this value when it creates the cluster.",
          "type": "string"
        },
        "statusHistory": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The previous cluster status.",
          "items": {
            "$ref": "ClusterStatus"
          }
        },
        "status": {
          "readOnly": true,
          "description": "Output only. Cluster status.",
          "$ref": "ClusterStatus"
        },
        "config": {
          "description": "Required. The cluster config. Note that Dataproc may set default values, and values may change when clusters are updated.",
          "$ref": "ClusterConfig"
        },
        "metrics": {
          "$ref": "ClusterMetrics",
          "readOnly": true,
          "description": "Output only. Contains cluster daemon metrics such as HDFS and YARN stats.Beta Feature: This report is available for testing purposes only. It may be changed before final release."
        },
        "clusterName": {
          "type": "string",
          "description": "Required. The cluster name. Cluster names within a project must be unique. Names of deleted clusters can be reused."
        },
        "projectId": {
          "description": "Required. The Google Cloud Platform project ID that the cluster belongs to.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels to associate with this cluster. Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). Label values may be empty, but, if present, must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with a cluster."
        }
      },
      "description": "Describes the identifying information, config, and status of a cluster of Compute Engine instances.",
      "id": "Cluster"
    },
    "SecurityConfig": {
      "type": "object",
      "id": "SecurityConfig",
      "description": "Security related configuration, including encryption, Kerberos, etc.",
      "properties": {
        "identityConfig": {
          "$ref": "IdentityConfig",
          "description": "Optional. Identity related configuration, including service account based secure multi-tenancy user mappings."
        },
        "kerberosConfig": {
          "$ref": "KerberosConfig",
          "description": "Optional. Kerberos related configuration."
        }
      }
    },
    "ParameterValidation": {
      "id": "ParameterValidation",
      "properties": {
        "regex": {
          "description": "Validation based on regular expressions.",
          "$ref": "RegexValidation"
        },
        "values": {
          "$ref": "ValueValidation",
          "description": "Validation based on a list of allowed values."
        }
      },
      "type": "object",
      "description": "Configuration for parameter validation."
    },
    "SubmitJobRequest": {
      "description": "A request to submit a job.",
      "id": "SubmitJobRequest",
      "properties": {
        "job": {
          "description": "Required. The job resource.",
          "$ref": "Job"
        },
        "requestId": {
          "description": "Optional. A unique id used to identify the request. If the server receives two SubmitJobRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.SubmitJobRequest)s with the same id, then the second request will be ignored and the first Job created and stored in the backend is returned.It is recommended to always set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The id must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "StartClusterRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. A unique id used to identify the request. If the server receives two StartClusterRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.StartClusterRequest)s with the same id, then the second request will be ignored and the first google.longrunning.Operation created and stored in the backend is returned.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The id must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        },
        "clusterUuid": {
          "type": "string",
          "description": "Optional. Specifying the cluster_uuid means the RPC will fail (with error NOT_FOUND) if a cluster with the specified UUID does not exist."
        }
      },
      "id": "StartClusterRequest",
      "description": "A request to start a cluster."
    },
    "ClusterOperationMetadata": {
      "id": "ClusterOperationMetadata",
      "description": "Metadata describing the operation.",
      "type": "object",
      "properties": {
        "warnings": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Errors encountered during operation execution."
        },
        "operationType": {
          "type": "string",
          "description": "Output only. The operation type.",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Labels associated with the operation",
          "readOnly": true,
          "type": "object"
        },
        "statusHistory": {
          "description": "Output only. The previous operation status.",
          "readOnly": true,
          "items": {
            "$ref": "ClusterOperationStatus"
          },
          "type": "array"
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Short description of operation."
        },
        "clusterName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the cluster for the operation."
        },
        "status": {
          "$ref": "ClusterOperationStatus",
          "readOnly": true,
          "description": "Output only. Current operation status."
        },
        "clusterUuid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Cluster UUID for the operation."
        }
      }
    },
    "Job": {
      "properties": {
        "pysparkJob": {
          "$ref": "PySparkJob",
          "description": "Optional. Job is a PySpark job."
        },
        "driverOutputResourceUri": {
          "description": "Output only. A URI pointing to the location of the stdout of the job's driver program.",
          "readOnly": true,
          "type": "string"
        },
        "placement": {
          "description": "Required. Job information, including how, when, and where to run the job.",
          "$ref": "JobPlacement"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels to associate with this job. Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). Label values may be empty, but, if present, must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with a job."
        },
        "jobUuid": {
          "type": "string",
          "description": "Output only. A UUID that uniquely identifies a job within the project over time. This is in contrast to a user-settable reference.job_id that may be reused over time.",
          "readOnly": true
        },
        "prestoJob": {
          "description": "Optional. Job is a Presto job.",
          "$ref": "PrestoJob"
        },
        "sparkSqlJob": {
          "description": "Optional. Job is a SparkSql job.",
          "$ref": "SparkSqlJob"
        },
        "done": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether the job is completed. If the value is false, the job is still in progress. If true, the job is completed, and status.state field will indicate if it was successful, failed, or cancelled."
        },
        "yarnApplications": {
          "type": "array",
          "items": {
            "$ref": "YarnApplication"
          },
          "readOnly": true,
          "description": "Output only. The collection of YARN applications spun up by this job.Beta Feature: This report is available for testing purposes only. It may be changed before final release."
        },
        "status": {
          "description": "Output only. The job status. Additional application-specific status information may be contained in the type_job and yarn_applications fields.",
          "$ref": "JobStatus",
          "readOnly": true
        },
        "reference": {
          "description": "Optional. The fully qualified reference to the job, which can be used to obtain the equivalent REST path of the job resource. If this property is not specified when a job is created, the server generates a job_id.",
          "$ref": "JobReference"
        },
        "sparkRJob": {
          "description": "Optional. Job is a SparkR job.",
          "$ref": "SparkRJob"
        },
        "driverControlFilesUri": {
          "description": "Output only. If present, the location of miscellaneous control files which may be used as part of job setup and handling. If not present, control files may be placed in the same location as driver_output_uri.",
          "type": "string",
          "readOnly": true
        },
        "hiveJob": {
          "description": "Optional. Job is a Hive job.",
          "$ref": "HiveJob"
        },
        "hadoopJob": {
          "description": "Optional. Job is a Hadoop job.",
          "$ref": "HadoopJob"
        },
        "statusHistory": {
          "items": {
            "$ref": "JobStatus"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The previous job status."
        },
        "scheduling": {
          "$ref": "JobScheduling",
          "description": "Optional. Job scheduling configuration."
        },
        "sparkJob": {
          "$ref": "SparkJob",
          "description": "Optional. Job is a Spark job."
        },
        "pigJob": {
          "description": "Optional. Job is a Pig job.",
          "$ref": "PigJob"
        }
      },
      "id": "Job",
      "type": "object",
      "description": "A Dataproc job resource."
    },
    "WorkflowTemplate": {
      "properties": {
        "labels": {
          "description": "Optional. The labels to associate with this template. These labels will be propagated to all jobs and clusters created by the workflow instance.Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt).Label values may be empty, but, if present, must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt).No more than 32 labels can be associated with a template.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "TemplateParameter"
          },
          "description": "Optional. Template parameters whose values are substituted into the template. Values for parameters must be provided when the template is instantiated."
        },
        "jobs": {
          "items": {
            "$ref": "OrderedJob"
          },
          "type": "array",
          "description": "Required. The Directed Acyclic Graph of Jobs to submit."
        },
        "name": {
          "description": "Output only. The resource name of the workflow template, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.workflowTemplates, the resource name of the template has the following format: projects/{project_id}/regions/{region}/workflowTemplates/{template_id} For projects.locations.workflowTemplates, the resource name of the template has the following format: projects/{project_id}/locations/{location}/workflowTemplates/{template_id}",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "type": "string"
        },
        "version": {
          "description": "Optional. Used to perform a consistent read-modify-write.This field should be left blank for a CreateWorkflowTemplate request. It is required for an UpdateWorkflowTemplate request, and must match the current server version. A typical update template flow would fetch the current template with a GetWorkflowTemplate request, which will return the current template with the version field filled in with the current server version. The user updates other fields in the template, then returns it as part of the UpdateWorkflowTemplate request.",
          "format": "int32",
          "type": "integer"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time template was last updated.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time template was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "dagTimeout": {
          "description": "Optional. Timeout duration for the DAG of jobs, expressed in seconds (see JSON representation of duration (https://developers.google.com/protocol-buffers/docs/proto3#json)). The timeout duration must be from 10 minutes (\"600s\") to 24 hours (\"86400s\"). The timer begins when the first job is submitted. If the workflow is running at the end of the timeout period, any remaining jobs are cancelled, the workflow is ended, and if the workflow was running on a managed cluster, the cluster is deleted.",
          "format": "google-duration",
          "type": "string"
        },
        "placement": {
          "description": "Required. WorkflowTemplate scheduling information.",
          "$ref": "WorkflowTemplatePlacement"
        }
      },
      "type": "object",
      "description": "A Dataproc workflow template resource.",
      "id": "WorkflowTemplate"
    },
    "GkeClusterConfig": {
      "id": "GkeClusterConfig",
      "properties": {
        "namespacedGkeDeploymentTarget": {
          "$ref": "NamespacedGkeDeploymentTarget",
          "description": "Optional. A target for the deployment."
        }
      },
      "description": "The GKE config for this cluster.",
      "type": "object"
    },
    "SparkJob": {
      "description": "A Dataproc job for running Apache Spark (http://spark.apache.org/) applications on YARN.",
      "id": "SparkJob",
      "type": "object",
      "properties": {
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "jarFileUris": {
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATHs of the Spark driver and tasks.",
          "type": "array"
        },
        "archiveUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip."
        },
        "args": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as --conf, that can be set as job properties, since a collision may occur that causes an incorrect job submission.",
          "type": "array"
        },
        "mainClass": {
          "type": "string",
          "description": "The name of the driver's main class. The jar file that contains the class must be in the default CLASSPATH or specified in jar_file_uris."
        },
        "mainJarFileUri": {
          "description": "The HCFS URI of the jar file that contains the main class.",
          "type": "string"
        },
        "properties": {
          "description": "Optional. A mapping of property names to values, used to configure Spark. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/spark/conf/spark-defaults.conf and classes in user code.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "fileUris": {
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor. Useful for naively parallel tasks.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ClusterConfig": {
      "id": "ClusterConfig",
      "properties": {
        "secondaryWorkerConfig": {
          "description": "Optional. The Compute Engine config settings for additional worker instances in a cluster.",
          "$ref": "InstanceGroupConfig"
        },
        "endpointConfig": {
          "description": "Optional. Port/endpoint configuration for this cluster",
          "$ref": "EndpointConfig"
        },
        "softwareConfig": {
          "$ref": "SoftwareConfig",
          "description": "Optional. The config settings for software inside the cluster."
        },
        "workerConfig": {
          "$ref": "InstanceGroupConfig",
          "description": "Optional. The Compute Engine config settings for worker instances in a cluster."
        },
        "securityConfig": {
          "description": "Optional. Security settings for the cluster.",
          "$ref": "SecurityConfig"
        },
        "tempBucket": {
          "type": "string",
          "description": "Optional. A Cloud Storage bucket used to store ephemeral cluster and jobs data, such as Spark and MapReduce history files. If you do not specify a temp bucket, Dataproc will determine a Cloud Storage location (US, ASIA, or EU) for your cluster's temp bucket according to the Compute Engine zone where your cluster is deployed, and then create and manage this project-level, per-location bucket. The default bucket has a TTL of 90 days, but you can use any TTL (or none) if you specify a bucket. This field requires a Cloud Storage bucket name, not a URI to a Cloud Storage bucket."
        },
        "gceClusterConfig": {
          "description": "Optional. The shared Compute Engine config settings for all instances in a cluster.",
          "$ref": "GceClusterConfig"
        },
        "autoscalingConfig": {
          "$ref": "AutoscalingConfig",
          "description": "Optional. Autoscaling config for the policy associated with the cluster. Cluster does not autoscale if this field is unset."
        },
        "metastoreConfig": {
          "$ref": "MetastoreConfig",
          "description": "Optional. Metastore configuration."
        },
        "gkeClusterConfig": {
          "$ref": "GkeClusterConfig",
          "description": "Optional. BETA. The Kubernetes Engine config for Dataproc clusters deployed to Kubernetes. Setting this is considered mutually exclusive with Compute Engine-based options such as gce_cluster_config, master_config, worker_config, secondary_worker_config, and autoscaling_config."
        },
        "encryptionConfig": {
          "description": "Optional. Encryption settings for the cluster.",
          "$ref": "EncryptionConfig"
        },
        "lifecycleConfig": {
          "$ref": "LifecycleConfig",
          "description": "Optional. Lifecycle setting for the cluster."
        },
        "masterConfig": {
          "$ref": "InstanceGroupConfig",
          "description": "Optional. The Compute Engine config settings for the master instance in a cluster."
        },
        "initializationActions": {
          "items": {
            "$ref": "NodeInitializationAction"
          },
          "description": "Optional. Commands to execute on each node after config is completed. By default, executables are run on master and all worker nodes. You can test a node's role metadata to run an executable on a master or worker node, as shown below using curl (you can also use wget): ROLE=$(curl -H Metadata-Flavor:Google http://metadata/computeMetadata/v1/instance/attributes/dataproc-role) if [[ \"${ROLE}\" == 'Master' ]]; then ... master specific actions ... else ... worker specific actions ... fi ",
          "type": "array"
        },
        "configBucket": {
          "description": "Optional. A Cloud Storage bucket used to stage job dependencies, config files, and job driver console output. If you do not specify a staging bucket, Cloud Dataproc will determine a Cloud Storage location (US, ASIA, or EU) for your cluster's staging bucket according to the Compute Engine zone where your cluster is deployed, and then create and manage this project-level, per-location bucket (see Dataproc staging bucket (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/staging-bucket)). This field requires a Cloud Storage bucket name, not a URI to a Cloud Storage bucket.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The cluster config."
    },
    "JobStatus": {
      "type": "object",
      "id": "JobStatus",
      "properties": {
        "substate": {
          "enum": [
            "UNSPECIFIED",
            "SUBMITTED",
            "QUEUED",
            "STALE_STATUS"
          ],
          "type": "string",
          "description": "Output only. Additional state information, which includes status reported by the agent.",
          "readOnly": true,
          "enumDescriptions": [
            "The job substate is unknown.",
            "The Job is submitted to the agent.Applies to RUNNING state.",
            "The Job has been received and is awaiting execution (it may be waiting for a condition to be met). See the \"details\" field for the reason for the delay.Applies to RUNNING state.",
            "The agent-reported status is out of date, which may be caused by a loss of communication between the agent and Dataproc. If the agent does not send a timely update, the job will fail.Applies to RUNNING state."
          ]
        },
        "state": {
          "enumDescriptions": [
            "The job state is unknown.",
            "The job is pending; it has been submitted, but is not yet running.",
            "Job has been received by the service and completed initial setup; it will soon be submitted to the cluster.",
            "The job is running on the cluster.",
            "A CancelJob request has been received, but is pending.",
            "Transient in-flight resources have been canceled, and the request to cancel the running job has been issued to the cluster.",
            "The job cancellation was successful.",
            "The job has completed successfully.",
            "The job has completed, but encountered an error.",
            "Job attempt has failed. The detail field contains failure details for this attempt.Applies to restartable jobs only."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SETUP_DONE",
            "RUNNING",
            "CANCEL_PENDING",
            "CANCEL_STARTED",
            "CANCELLED",
            "DONE",
            "ERROR",
            "ATTEMPT_FAILURE"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. A state message specifying the overall job state."
        },
        "stateStartTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when this state was entered."
        },
        "details": {
          "description": "Optional. Output only. Job state details, such as an error description if the state is ERROR.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Dataproc job status."
    },
    "EncryptionConfig": {
      "type": "object",
      "description": "Encryption settings for the cluster.",
      "id": "EncryptionConfig",
      "properties": {
        "gcePdKmsKeyName": {
          "description": "Optional. The Cloud KMS key name to use for PD disk encryption for all instances in the cluster.",
          "type": "string"
        }
      }
    },
    "DiagnoseClusterResults": {
      "properties": {
        "outputUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Cloud Storage URI of the diagnostic output. The output report is a plain text file with a summary of collected diagnostics."
        }
      },
      "id": "DiagnoseClusterResults",
      "description": "The location of diagnostic output.",
      "type": "object"
    },
    "BasicAutoscalingAlgorithm": {
      "properties": {
        "cooldownPeriod": {
          "format": "google-duration",
          "description": "Optional. Duration between scaling events. A scaling period starts after the update operation from the previous event has completed.Bounds: 2m, 1d. Default: 2m.",
          "type": "string"
        },
        "yarnConfig": {
          "description": "Required. YARN autoscaling configuration.",
          "$ref": "BasicYarnAutoscalingConfig"
        }
      },
      "id": "BasicAutoscalingAlgorithm",
      "description": "Basic algorithm for autoscaling.",
      "type": "object"
    },
    "NodeInitializationAction": {
      "type": "object",
      "description": "Specifies an executable to run on a fully configured node and a timeout period for executable completion.",
      "properties": {
        "executionTimeout": {
          "description": "Optional. Amount of time executable has to complete. Default is 10 minutes (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).Cluster creation fails with an explanatory error message (the name of the executable that caused the error and the exceeded timeout period) if the executable is not completed at end of the timeout period.",
          "format": "google-duration",
          "type": "string"
        },
        "executableFile": {
          "type": "string",
          "description": "Required. Cloud Storage URI of executable file."
        }
      },
      "id": "NodeInitializationAction"
    },
    "AutoscalingPolicy": {
      "properties": {
        "workerConfig": {
          "$ref": "InstanceGroupAutoscalingPolicyConfig",
          "description": "Required. Describes how the autoscaler will operate for primary workers."
        },
        "basicAlgorithm": {
          "$ref": "BasicAutoscalingAlgorithm"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The \"resource name\" of the autoscaling policy, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.autoscalingPolicies, the resource name of the policy has the following format: projects/{project_id}/regions/{region}/autoscalingPolicies/{policy_id} For projects.locations.autoscalingPolicies, the resource name of the policy has the following format: projects/{project_id}/locations/{location}/autoscalingPolicies/{policy_id}"
        },
        "id": {
          "type": "string",
          "description": "Required. The policy id.The id must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). Cannot begin or end with underscore or hyphen. Must consist of between 3 and 50 characters."
        },
        "secondaryWorkerConfig": {
          "description": "Optional. Describes how the autoscaler will operate for secondary workers.",
          "$ref": "InstanceGroupAutoscalingPolicyConfig"
        }
      },
      "type": "object",
      "description": "Describes an autoscaling policy for Dataproc cluster autoscaler.",
      "id": "AutoscalingPolicy"
    },
    "HadoopJob": {
      "id": "HadoopJob",
      "type": "object",
      "description": "A Dataproc job for running Apache Hadoop MapReduce (https://hadoop.apache.org/docs/current/hadoop-mapreduce-client/hadoop-mapreduce-client-core/MapReduceTutorial.html) jobs on Apache Hadoop YARN (https://hadoop.apache.org/docs/r2.7.1/hadoop-yarn/hadoop-yarn-site/YARN.html).",
      "properties": {
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "mainClass": {
          "type": "string",
          "description": "The name of the driver's main class. The jar file containing the class must be in the default CLASSPATH or specified in jar_file_uris."
        },
        "jarFileUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Jar file URIs to add to the CLASSPATHs of the Hadoop driver and tasks."
        },
        "fileUris": {
          "type": "array",
          "description": "Optional. HCFS (Hadoop Compatible Filesystem) URIs of files to be copied to the working directory of Hadoop drivers and distributed tasks. Useful for naively parallel tasks.",
          "items": {
            "type": "string"
          }
        },
        "archiveUris": {
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of archives to be extracted in the working directory of Hadoop drivers and tasks. Supported file types: .jar, .tar, .tar.gz, .tgz, or .zip.",
          "type": "array"
        },
        "mainJarFileUri": {
          "description": "The HCFS URI of the jar file containing the main class. Examples: 'gs://foo-bucket/analytics-binaries/extract-useful-metrics-mr.jar' 'hdfs:/tmp/test-samples/custom-wordcount.jar' 'file:///home/usr/lib/hadoop-mapreduce/hadoop-mapreduce-examples.jar'",
          "type": "string"
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as -libjars or -Dfoo=bar, that can be set as job properties, since a collision may occur that causes an incorrect job submission."
        },
        "properties": {
          "description": "Optional. A mapping of property names to values, used to configure Hadoop. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/hadoop/conf/*-site and classes in user code.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "Operation": {
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available.",
          "type": "boolean"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}.",
          "type": "string"
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "InjectCredentialsRequest": {
      "id": "InjectCredentialsRequest",
      "type": "object",
      "properties": {
        "credentialsCiphertext": {
          "description": "Required. The encrypted credentials being injected in to the cluster.The client is responsible for encrypting the credentials in a way that is supported by the cluster.A wrapped value is used here so that the actual contents of the encrypted credentials are not written to audit logs.",
          "type": "string"
        },
        "clusterUuid": {
          "description": "Required. The cluster UUID.",
          "type": "string"
        }
      },
      "description": "A request to inject credentials into a cluster."
    },
    "ListWorkflowTemplatesResponse": {
      "description": "A response to a request to list workflow templates in a project.",
      "properties": {
        "templates": {
          "type": "array",
          "description": "Output only. WorkflowTemplates list.",
          "items": {
            "$ref": "WorkflowTemplate"
          },
          "readOnly": true
        },
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent ListWorkflowTemplatesRequest."
        }
      },
      "id": "ListWorkflowTemplatesResponse",
      "type": "object"
    },
    "JobReference": {
      "description": "Encapsulates the full scoping used to reference a job.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Optional. The ID of the Google Cloud Platform project that the job belongs to. If specified, must match the request project ID.",
          "type": "string"
        },
        "jobId": {
          "type": "string",
          "description": "Optional. The job ID, which must be unique within the project.The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), or hyphens (-). The maximum length is 100 characters.If not specified by the caller, the job ID will be provided by the server."
        }
      },
      "id": "JobReference"
    },
    "IdentityConfig": {
      "type": "object",
      "properties": {
        "userServiceAccountMapping": {
          "type": "object",
          "description": "Required. Map of user to service account.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Identity related configuration, including service account based secure multi-tenancy user mappings.",
      "id": "IdentityConfig"
    },
    "YarnApplication": {
      "type": "object",
      "properties": {
        "progress": {
          "description": "Required. The numerical progress of the application, from 1 to 100.",
          "type": "number",
          "format": "float"
        },
        "trackingUrl": {
          "type": "string",
          "description": "Optional. The HTTP URL of the ApplicationMaster, HistoryServer, or TimelineServer that provides application-specific information. The URL uses the internal hostname, and requires a proxy server for resolution and, possibly, access."
        },
        "name": {
          "description": "Required. The application name.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "NEW_SAVING",
            "SUBMITTED",
            "ACCEPTED",
            "RUNNING",
            "FINISHED",
            "FAILED",
            "KILLED"
          ],
          "enumDescriptions": [
            "Status is unspecified.",
            "Status is NEW.",
            "Status is NEW_SAVING.",
            "Status is SUBMITTED.",
            "Status is ACCEPTED.",
            "Status is RUNNING.",
            "Status is FINISHED.",
            "Status is FAILED.",
            "Status is KILLED."
          ],
          "description": "Required. The application state.",
          "type": "string"
        }
      },
      "description": "A YARN application created by a job. Application information is a subset of org.apache.hadoop.yarn.proto.YarnProtos.ApplicationReportProto.Beta Feature: This report is available for testing purposes only. It may be changed before final release.",
      "id": "YarnApplication"
    },
    "StopClusterRequest": {
      "id": "StopClusterRequest",
      "properties": {
        "clusterUuid": {
          "description": "Optional. Specifying the cluster_uuid means the RPC will fail (with error NOT_FOUND) if a cluster with the specified UUID does not exist.",
          "type": "string"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. A unique id used to identify the request. If the server receives two StopClusterRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.StopClusterRequest)s with the same id, then the second request will be ignored and the first google.longrunning.Operation created and stored in the backend is returned.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The id must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters."
        }
      },
      "type": "object",
      "description": "A request to stop a cluster."
    },
    "KerberosConfig": {
      "id": "KerberosConfig",
      "properties": {
        "rootPrincipalPasswordUri": {
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the root principal password.",
          "type": "string"
        },
        "kmsKeyUri": {
          "type": "string",
          "description": "Optional. The uri of the KMS key used to encrypt various sensitive files."
        },
        "enableKerberos": {
          "description": "Optional. Flag to indicate whether to Kerberize the cluster (default: false). Set this field to true to enable Kerberos on a cluster.",
          "type": "boolean"
        },
        "crossRealmTrustAdminServer": {
          "type": "string",
          "description": "Optional. The admin server (IP or hostname) for the remote trusted realm in a cross realm trust relationship."
        },
        "truststoreUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage URI of the truststore file used for SSL encryption. If not provided, Dataproc will provide a self-signed certificate."
        },
        "truststorePasswordUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the password to the user provided truststore. For the self-signed certificate, this password is generated by Dataproc."
        },
        "keyPasswordUri": {
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the password to the user provided key. For the self-signed certificate, this password is generated by Dataproc.",
          "type": "string"
        },
        "crossRealmTrustKdc": {
          "type": "string",
          "description": "Optional. The KDC (IP or hostname) for the remote trusted realm in a cross realm trust relationship."
        },
        "tgtLifetimeHours": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The lifetime of the ticket granting ticket, in hours. If not specified, or user specifies 0, then default value 10 will be used."
        },
        "realm": {
          "type": "string",
          "description": "Optional. The name of the on-cluster Kerberos realm. If not specified, the uppercased domain of hostnames will be the realm."
        },
        "keystoreUri": {
          "description": "Optional. The Cloud Storage URI of the keystore file used for SSL encryption. If not provided, Dataproc will provide a self-signed certificate.",
          "type": "string"
        },
        "crossRealmTrustSharedPasswordUri": {
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the shared password between the on-cluster Kerberos realm and the remote trusted realm, in a cross realm trust relationship.",
          "type": "string"
        },
        "crossRealmTrustRealm": {
          "description": "Optional. The remote realm the Dataproc on-cluster KDC will trust, should the user enable cross realm trust.",
          "type": "string"
        },
        "kdcDbKeyUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the master key of the KDC database."
        },
        "keystorePasswordUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the password to the user provided keystore. For the self-signed certificate, this password is generated by Dataproc."
        }
      },
      "type": "object",
      "description": "Specifies Kerberos related configuration."
    },
    "JobScheduling": {
      "type": "object",
      "properties": {
        "maxFailuresTotal": {
          "description": "Optional. Maximum number of times in total a driver may be restarted as a result of driver exiting with non-zero code before job is reported failed. Maximum value is 240.",
          "type": "integer",
          "format": "int32"
        },
        "maxFailuresPerHour": {
          "description": "Optional. Maximum number of times per hour a driver may be restarted as a result of driver exiting with non-zero code before job is reported failed.A job may be reported as thrashing if driver exits with non-zero code 4 times within 10 minute window.Maximum value is 10.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "JobScheduling",
      "description": "Job scheduling options."
    },
    "HiveJob": {
      "type": "object",
      "properties": {
        "properties": {
          "type": "object",
          "description": "Optional. A mapping of property names and values, used to configure Hive. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/hadoop/conf/*-site.xml, /etc/hive/conf/hive-site.xml, and classes in user code.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "scriptVariables": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Mapping of query variable names to values (equivalent to the Hive command: SET name=\"value\";)."
        },
        "continueOnFailure": {
          "description": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries.",
          "type": "boolean"
        },
        "jarFileUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATH of the Hive server and Hadoop MapReduce (MR) tasks. Can contain Hive SerDes and UDFs."
        },
        "queryList": {
          "$ref": "QueryList",
          "description": "A list of queries."
        },
        "queryFileUri": {
          "type": "string",
          "description": "The HCFS URI of the script that contains Hive queries."
        }
      },
      "description": "A Dataproc job for running Apache Hive (https://hive.apache.org/) queries on YARN.",
      "id": "HiveJob"
    },
    "NamespacedGkeDeploymentTarget": {
      "properties": {
        "clusterNamespace": {
          "description": "Optional. A namespace within the GKE cluster to deploy into.",
          "type": "string"
        },
        "targetGkeCluster": {
          "description": "Optional. The target GKE cluster to deploy to. Format: 'projects/{project}/locations/{location}/clusters/{cluster_id}'",
          "type": "string"
        }
      },
      "description": "A full, namespace-isolated deployment target for an existing GKE cluster.",
      "type": "object",
      "id": "NamespacedGkeDeploymentTarget"
    },
    "GetPolicyOptions": {
      "type": "object",
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "id": "GetPolicyOptions",
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The policy format version to be returned.Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected.Requests for policies with any conditional bindings must specify version 3. Policies without any conditional bindings may specify any valid value or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "SoftwareConfig": {
      "id": "SoftwareConfig",
      "properties": {
        "imageVersion": {
          "description": "Optional. The version of software inside the cluster. It must be one of the supported Dataproc Versions (https://cloud.google.com/dataproc/docs/concepts/versioning/dataproc-versions#supported_dataproc_versions), such as \"1.2\" (including a subminor version, such as \"1.2.29\"), or the \"preview\" version (https://cloud.google.com/dataproc/docs/concepts/versioning/dataproc-versions#other_versions). If unspecified, it defaults to the latest Debian version.",
          "type": "string"
        },
        "optionalComponents": {
          "items": {
            "enum": [
              "COMPONENT_UNSPECIFIED",
              "ANACONDA",
              "DOCKER",
              "DRUID",
              "FLINK",
              "HBASE",
              "HIVE_WEBHCAT",
              "JUPYTER",
              "PRESTO",
              "RANGER",
              "SOLR",
              "ZEPPELIN",
              "ZOOKEEPER"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified component. Specifying this will cause Cluster creation to fail.",
              "The Anaconda python distribution. The Anaconda component is not supported in the Dataproc 2.0 image. The 2.0 image is pre-installed with Miniconda.",
              "Docker",
              "The Druid query engine. (alpha)",
              "Flink",
              "HBase. (beta)",
              "The Hive Web HCatalog (the REST service for accessing HCatalog).",
              "The Jupyter Notebook.",
              "The Presto query engine.",
              "The Ranger service.",
              "The Solr service.",
              "The Zeppelin notebook.",
              "The Zookeeper service."
            ]
          },
          "description": "Optional. The set of components to activate on the cluster.",
          "type": "array"
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The properties to set on daemon config files.Property keys are specified in prefix:property format, for example core:hadoop.tmp.dir. The following are supported prefixes and their mappings: capacity-scheduler: capacity-scheduler.xml core: core-site.xml distcp: distcp-default.xml hdfs: hdfs-site.xml hive: hive-site.xml mapred: mapred-site.xml pig: pig.properties spark: spark-defaults.conf yarn: yarn-site.xmlFor more information, see Cluster properties (https://cloud.google.com/dataproc/docs/concepts/cluster-properties).",
          "type": "object"
        }
      },
      "type": "object",
      "description": "Specifies the selection and config of software inside the cluster."
    },
    "InstanceGroupConfig": {
      "type": "object",
      "id": "InstanceGroupConfig",
      "description": "The config settings for Compute Engine resources in an instance group, such as a master or worker group.",
      "properties": {
        "isPreemptible": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Specifies that this instance group contains preemptible instances."
        },
        "managedGroupConfig": {
          "$ref": "ManagedGroupConfig",
          "description": "Output only. The config for Compute Engine Instance Group Manager that manages this group. This is only used for preemptible instance groups.",
          "readOnly": true
        },
        "preemptibility": {
          "enumDescriptions": [
            "Preemptibility is unspecified, the system will choose the appropriate setting for each instance group.",
            "Instances are non-preemptible.This option is allowed for all instance groups and is the only valid value for Master and Worker instance groups.",
            "Instances are preemptible.This option is allowed only for secondary worker groups."
          ],
          "enum": [
            "PREEMPTIBILITY_UNSPECIFIED",
            "NON_PREEMPTIBLE",
            "PREEMPTIBLE"
          ],
          "description": "Optional. Specifies the preemptibility of the instance group.The default value for master and worker groups is NON_PREEMPTIBLE. This default cannot be changed.The default value for secondary instances is PREEMPTIBLE.",
          "type": "string"
        },
        "imageUri": {
          "description": "Optional. The Compute Engine image resource used for cluster instances.The URI can represent an image or image family.Image examples: https://www.googleapis.com/compute/beta/projects/[project_id]/global/images/[image-id] projects/[project_id]/global/images/[image-id] image-idImage family examples. Dataproc will use the most recent image from the family: https://www.googleapis.com/compute/beta/projects/[project_id]/global/images/family/[custom-image-family-name] projects/[project_id]/global/images/family/[custom-image-family-name]If the URI is unspecified, it will be inferred from SoftwareConfig.image_version or the system default.",
          "type": "string"
        },
        "diskConfig": {
          "$ref": "DiskConfig",
          "description": "Optional. Disk option config settings."
        },
        "minCpuPlatform": {
          "type": "string",
          "description": "Optional. Specifies the minimum cpu platform for the Instance Group. See Dataproc -\u003e Minimum CPU Platform (https://cloud.google.com/dataproc/docs/concepts/compute/dataproc-min-cpu)."
        },
        "accelerators": {
          "description": "Optional. The Compute Engine accelerator configuration for these instances.",
          "type": "array",
          "items": {
            "$ref": "AcceleratorConfig"
          }
        },
        "machineTypeUri": {
          "type": "string",
          "description": "Optional. The Compute Engine machine type used for cluster instances.A full URL, partial URI, or short name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/zones/us-east1-a/machineTypes/n1-standard-2 projects/[project_id]/zones/us-east1-a/machineTypes/n1-standard-2 n1-standard-2Auto Zone Exception: If you are using the Dataproc Auto Zone Placement (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/auto-zone#using_auto_zone_placement) feature, you must use the short name of the machine type resource, for example, n1-standard-2."
        },
        "instanceReferences": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. List of references to Compute Engine instances.",
          "items": {
            "$ref": "InstanceReference"
          }
        },
        "numInstances": {
          "format": "int32",
          "description": "Optional. The number of VM instances in the instance group. For HA cluster master_config groups, must be set to 3. For standard cluster master_config groups, must be set to 1.",
          "type": "integer"
        },
        "instanceNames": {
          "readOnly": true,
          "description": "Output only. The list of instance names. Dataproc derives the names from cluster_name, num_instances, and the instance group.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "WorkflowMetadata": {
      "id": "WorkflowMetadata",
      "type": "object",
      "description": "A Dataproc workflow template resource.",
      "properties": {
        "version": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. The version of template at the time of workflow instantiation."
        },
        "graph": {
          "description": "Output only. The workflow graph.",
          "$ref": "WorkflowGraph",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Workflow start time."
        },
        "dagEndTime": {
          "format": "google-datetime",
          "description": "Output only. DAG end time, only set for workflows with dag_timeout when DAG ends.",
          "readOnly": true,
          "type": "string"
        },
        "clusterName": {
          "type": "string",
          "description": "Output only. The name of the target cluster.",
          "readOnly": true
        },
        "deleteCluster": {
          "description": "Output only. The delete cluster operation metadata.",
          "$ref": "ClusterOperation",
          "readOnly": true
        },
        "parameters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Map from parameter names to values that were used for those parameters."
        },
        "dagStartTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. DAG start time, only set for workflows with dag_timeout when DAG begins."
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Workflow end time.",
          "type": "string"
        },
        "clusterUuid": {
          "description": "Output only. The UUID of target cluster.",
          "readOnly": true,
          "type": "string"
        },
        "dagTimeout": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timeout duration for the DAG of jobs, expressed in seconds (see JSON representation of duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "format": "google-duration"
        },
        "template": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the workflow template as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.workflowTemplates, the resource name of the template has the following format: projects/{project_id}/regions/{region}/workflowTemplates/{template_id} For projects.locations.workflowTemplates, the resource name of the template has the following format: projects/{project_id}/locations/{location}/workflowTemplates/{template_id}"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "UNKNOWN",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "enumDescriptions": [
            "Unused.",
            "The operation has been created.",
            "The operation is running.",
            "The operation is done; either cancelled or completed."
          ],
          "description": "Output only. The workflow state."
        },
        "createCluster": {
          "description": "Output only. The create cluster operation metadata.",
          "$ref": "ClusterOperation",
          "readOnly": true
        }
      }
    },
    "QueryList": {
      "properties": {
        "queries": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The queries to execute. You do not need to end a query expression with a semicolon. Multiple queries can be specified in one string by separating each with a semicolon. Here is an example of a Dataproc API snippet that uses a QueryList to specify a HiveJob: \"hiveJob\": { \"queryList\": { \"queries\": [ \"query1\", \"query2\", \"query3;query4\", ] } } "
        }
      },
      "type": "object",
      "id": "QueryList",
      "description": "A list of queries to run on a cluster."
    },
    "InstanceGroupAutoscalingPolicyConfig": {
      "type": "object",
      "properties": {
        "weight": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Weight for the instance group, which is used to determine the fraction of total workers in the cluster from this instance group. For example, if primary workers have weight 2, and secondary workers have weight 1, the cluster will have approximately 2 primary workers for each secondary worker.The cluster may not reach the specified balance if constrained by min/max bounds or other autoscaling settings. For example, if max_instances for secondary workers is 0, then only primary workers will be added. The cluster can also be out of balance when created.If weight is not set on any instance group, the cluster will default to equal weight for all groups: the cluster will attempt to maintain an equal number of workers in each group within the configured size bounds for each group. If weight is set for one group only, the cluster will default to zero weight on the unset group. For example if weight is set only on primary workers, the cluster will use primary workers only and no secondary workers."
        },
        "minInstances": {
          "description": "Optional. Minimum number of instances for this group.Primary workers - Bounds: 2, max_instances. Default: 2. Secondary workers - Bounds: 0, max_instances. Default: 0.",
          "type": "integer",
          "format": "int32"
        },
        "maxInstances": {
          "description": "Required. Maximum number of instances for this group. Required for primary workers. Note that by default, clusters will not use secondary workers. Required for secondary workers if the minimum secondary instances is set.Primary workers - Bounds: [min_instances, ). Secondary workers - Bounds: [min_instances, ). Default: 0.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Configuration for the size bounds of an instance group, including its proportional size to other groups.",
      "id": "InstanceGroupAutoscalingPolicyConfig"
    },
    "EndpointConfig": {
      "properties": {
        "httpPorts": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. The map of port descriptions to URLs. Will only be populated if enable_http_port_access is true.",
          "type": "object",
          "readOnly": true
        },
        "enableHttpPortAccess": {
          "description": "Optional. If true, enable http access to specific ports on the cluster from external sources. Defaults to false.",
          "type": "boolean"
        }
      },
      "description": "Endpoint config for this cluster",
      "id": "EndpointConfig",
      "type": "object"
    },
    "ClusterMetrics": {
      "id": "ClusterMetrics",
      "type": "object",
      "properties": {
        "yarnMetrics": {
          "description": "The YARN metrics.",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "type": "object"
        },
        "hdfsMetrics": {
          "description": "The HDFS metrics.",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "Contains cluster daemon metrics, such as HDFS and YARN stats.Beta Feature: This report is available for testing purposes only. It may be changed before final release."
    },
    "PySparkJob": {
      "description": "A Dataproc job for running Apache PySpark (https://spark.apache.org/docs/0.9.0/python-programming-guide.html) applications on YARN.",
      "id": "PySparkJob",
      "type": "object",
      "properties": {
        "pythonFileUris": {
          "type": "array",
          "description": "Optional. HCFS file URIs of Python files to pass to the PySpark framework. Supported file types: .py, .egg, and .zip.",
          "items": {
            "type": "string"
          }
        },
        "jarFileUris": {
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATHs of the Python driver and tasks.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "fileUris": {
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor. Useful for naively parallel tasks.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "mainPythonFileUri": {
          "description": "Required. The HCFS URI of the main Python file to use as the driver. Must be a .py file.",
          "type": "string"
        },
        "properties": {
          "description": "Optional. A mapping of property names to values, used to configure PySpark. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/spark/conf/spark-defaults.conf and classes in user code.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "args": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as --conf, that can be set as job properties, since a collision may occur that causes an incorrect job submission."
        },
        "archiveUris": {
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.",
          "type": "array"
        }
      }
    },
    "LoggingConfig": {
      "description": "The runtime logging config of the job.",
      "id": "LoggingConfig",
      "properties": {
        "driverLogLevels": {
          "type": "object",
          "description": "The per-package log levels for the driver. This may include \"root\" package name to configure rootLogger. Examples: 'com.google = FATAL', 'root = INFO', 'org.apache = DEBUG'",
          "additionalProperties": {
            "type": "string",
            "enumDescriptions": [
              "Level is unspecified. Use default level for log4j.",
              "Use ALL level for log4j.",
              "Use TRACE level for log4j.",
              "Use DEBUG level for log4j.",
              "Use INFO level for log4j.",
              "Use WARN level for log4j.",
              "Use ERROR level for log4j.",
              "Use FATAL level for log4j.",
              "Turn off log4j."
            ],
            "enum": [
              "LEVEL_UNSPECIFIED",
              "ALL",
              "TRACE",
              "DEBUG",
              "INFO",
              "WARN",
              "ERROR",
              "FATAL",
              "OFF"
            ]
          }
        }
      },
      "type": "object"
    },
    "SparkSqlJob": {
      "properties": {
        "queryList": {
          "description": "A list of queries.",
          "$ref": "QueryList"
        },
        "queryFileUri": {
          "type": "string",
          "description": "The HCFS URI of the script that contains SQL queries."
        },
        "properties": {
          "type": "object",
          "description": "Optional. A mapping of property names to values, used to configure Spark SQL's SparkConf. Properties that conflict with values set by the Dataproc API may be overwritten.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "scriptVariables": {
          "type": "object",
          "description": "Optional. Mapping of query variable names to values (equivalent to the Spark SQL command: SET name=\"value\";).",
          "additionalProperties": {
            "type": "string"
          }
        },
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "jarFileUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of jar files to be added to the Spark CLASSPATH."
        }
      },
      "id": "SparkSqlJob",
      "description": "A Dataproc job for running Apache Spark SQL (http://spark.apache.org/sql/) queries.",
      "type": "object"
    },
    "RegexValidation": {
      "id": "RegexValidation",
      "type": "object",
      "description": "Validation based on regular expressions.",
      "properties": {
        "regexes": {
          "description": "Required. RE2 regular expressions used to validate the parameter's value. The value must match the regex in its entirety (substring matches are not sufficient).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "type": "object",
      "id": "ListOperationsResponse"
    },
    "InstantiateWorkflowTemplateRequest": {
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. A tag that prevents multiple concurrent workflow instances with the same tag from running. This mitigates risk of concurrent instances started due to retries.It is recommended to always set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The tag must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters."
        },
        "parameters": {
          "description": "Optional. Map from parameter names to values that should be used for those parameters. Values may not exceed 1000 characters.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The version of workflow template to instantiate. If specified, the workflow will be instantiated only if the current version of the workflow template has the supplied version.This option cannot be used to instantiate a previous version of workflow template."
        }
      },
      "id": "InstantiateWorkflowTemplateRequest",
      "type": "object",
      "description": "A request to instantiate a workflow template."
    },
    "SparkRJob": {
      "type": "object",
      "properties": {
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A mapping of property names to values, used to configure SparkR. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/spark/conf/spark-defaults.conf and classes in user code.",
          "type": "object"
        },
        "mainRFileUri": {
          "type": "string",
          "description": "Required. The HCFS URI of the main R file to use as the driver. Must be a .R file."
        },
        "args": {
[...]
