{
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "revision": "20210426",
  "version": "v1beta3",
  "servicePath": "",
  "ownerName": "Google",
  "description": "Accesses the schemaless NoSQL database to provide fully managed, robust, scalable storage for your application. ",
  "baseUrl": "https://datastore.googleapis.com/",
  "protocol": "rest",
  "schemas": {
    "EntityResult": {
      "description": "The result of fetching an entity from Datastore.",
      "properties": {
        "entity": {
          "description": "The resulting entity.",
          "$ref": "Entity"
        },
        "version": {
          "type": "string",
          "format": "int64",
          "description": "The version of the entity, a strictly positive number that monotonically increases with changes to the entity. This field is set for `FULL` entity results. For missing entities in `LookupResponse`, this is the version of the snapshot that was used to look up the entity, and it is always set except for eventually consistent reads."
        },
        "cursor": {
          "format": "byte",
          "description": "A cursor that points to the position after the result entity. Set only when the `EntityResult` is part of a `QueryResultBatch` message.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EntityResult"
    },
    "GoogleDatastoreAdminV1beta1Progress": {
      "properties": {
        "workCompleted": {
          "description": "The amount of work that has been completed. Note that this may be greater than work_estimated.",
          "type": "string",
          "format": "int64"
        },
        "workEstimated": {
          "description": "An estimate of how much work needs to be performed. May be zero if the work estimate is unavailable.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleDatastoreAdminV1beta1Progress",
      "type": "object",
      "description": "Measures the progress of a particular metric."
    },
    "GoogleDatastoreAdminV1Progress": {
      "description": "Measures the progress of a particular metric.",
      "properties": {
        "workCompleted": {
          "format": "int64",
          "description": "The amount of work that has been completed. Note that this may be greater than work_estimated.",
          "type": "string"
        },
        "workEstimated": {
          "format": "int64",
          "description": "An estimate of how much work needs to be performed. May be zero if the work estimate is unavailable.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleDatastoreAdminV1Progress"
    },
    "Mutation": {
      "id": "Mutation",
      "description": "A mutation to apply to an entity.",
      "properties": {
        "baseVersion": {
          "format": "int64",
          "type": "string",
          "description": "The version of the entity that this mutation is being applied to. If this does not match the current version on the server, the mutation conflicts."
        },
        "delete": {
          "$ref": "Key",
          "description": "The key of the entity to delete. The entity may or may not already exist. Must have a complete key path and must not be reserved/read-only."
        },
        "upsert": {
          "description": "The entity to upsert. The entity may or may not already exist. The entity key's final path element may be incomplete.",
          "$ref": "Entity"
        },
        "update": {
          "description": "The entity to update. The entity must already exist. Must have a complete key path.",
          "$ref": "Entity"
        },
        "insert": {
          "description": "The entity to insert. The entity must not already exist. The entity key's final path element may be incomplete.",
          "$ref": "Entity"
        }
      },
      "type": "object"
    },
    "PropertyFilter": {
      "type": "object",
      "id": "PropertyFilter",
      "properties": {
        "property": {
          "description": "The property to filter by.",
          "$ref": "PropertyReference"
        },
        "op": {
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL",
            "EQUAL",
            "HAS_ANCESTOR"
          ],
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "Less than.",
            "Less than or equal.",
            "Greater than.",
            "Greater than or equal.",
            "Equal.",
            "Has ancestor."
          ],
          "type": "string",
          "description": "The operator to filter by."
        },
        "value": {
          "$ref": "Value",
          "description": "The value to compare the property to."
        }
      },
      "description": "A filter on a specific property."
    },
    "RollbackRequest": {
      "id": "RollbackRequest",
      "description": "The request for Datastore.Rollback.",
      "properties": {
        "transaction": {
          "format": "byte",
          "description": "Required. The transaction identifier, returned by a call to Datastore.BeginTransaction.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ArrayValue": {
      "properties": {
        "values": {
          "items": {
            "$ref": "Value"
          },
          "description": "Values in the array. The order of values in an array is preserved as long as all values have identical settings for 'exclude_from_indexes'.",
          "type": "array"
        }
      },
      "id": "ArrayValue",
      "description": "An array value.",
      "type": "object"
    },
    "LookupResponse": {
      "type": "object",
      "properties": {
        "deferred": {
          "type": "array",
          "items": {
            "$ref": "Key"
          },
          "description": "A list of keys that were not looked up due to resource constraints. The order of results in this field is undefined and has no relation to the order of the keys in the input."
        },
        "found": {
          "type": "array",
          "items": {
            "$ref": "EntityResult"
          },
          "description": "Entities found as `ResultType.FULL` entities. The order of results in this field is undefined and has no relation to the order of the keys in the input."
        },
        "missing": {
          "type": "array",
          "description": "Entities not found as `ResultType.KEY_ONLY` entities. The order of results in this field is undefined and has no relation to the order of the keys in the input.",
          "items": {
            "$ref": "EntityResult"
          }
        }
      },
      "description": "The response for Datastore.Lookup.",
      "id": "LookupResponse"
    },
    "Key": {
      "properties": {
        "partitionId": {
          "$ref": "PartitionId",
          "description": "Entities are partitioned into subsets, currently identified by a project ID and namespace ID. Queries are scoped to a single partition."
        },
        "path": {
          "type": "array",
          "description": "The entity path. An entity path consists of one or more elements composed of a kind and a string or numerical identifier, which identify entities. The first element identifies a _root entity_, the second element identifies a _child_ of the root entity, the third element identifies a child of the second entity, and so forth. The entities identified by all prefixes of the path are called the element's _ancestors_. An entity path is always fully complete: *all* of the entity's ancestors are required to be in the path along with the entity identifier itself. The only exception is that in some documented cases, the identifier in the last path element (for the entity) itself may be omitted. For example, the last path element of the key of `Mutation.insert` may have no identifier. A path can never be empty, and a path can have at most 100 elements.",
          "items": {
            "$ref": "PathElement"
          }
        }
      },
      "id": "Key",
      "description": "A unique identifier for an entity. If a key's partition ID or any of its path kinds or names are reserved/read-only, the key is reserved/read-only. A reserved/read-only key is forbidden in certain documented contexts.",
      "type": "object"
    },
    "RunQueryRequest": {
      "id": "RunQueryRequest",
      "type": "object",
      "properties": {
        "partitionId": {
          "$ref": "PartitionId",
          "description": "Entities are partitioned into subsets, identified by a partition ID. Queries are scoped to a single partition. This partition ID is normalized with the standard default context partition ID."
        },
        "readOptions": {
          "description": "The options for this query.",
          "$ref": "ReadOptions"
        },
        "gqlQuery": {
          "$ref": "GqlQuery",
          "description": "The GQL query to run."
        },
        "query": {
          "description": "The query to run.",
          "$ref": "Query"
        }
      },
      "description": "The request for Datastore.RunQuery."
    },
    "ReadOnly": {
      "properties": {},
      "description": "Options specific to read-only transactions.",
      "type": "object",
      "id": "ReadOnly"
    },
    "GqlQueryParameter": {
      "properties": {
        "value": {
          "description": "A value parameter.",
          "$ref": "Value"
        },
        "cursor": {
          "description": "A query cursor. Query cursors are returned in query result batches.",
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A binding parameter for a GQL query.",
      "id": "GqlQueryParameter"
    },
    "Projection": {
      "description": "A representation of a property in a projection.",
      "id": "Projection",
      "properties": {
        "property": {
          "description": "The property to project.",
          "$ref": "PropertyReference"
        }
      },
      "type": "object"
    },
    "RollbackResponse": {
      "properties": {},
      "type": "object",
      "id": "RollbackResponse",
      "description": "The response for Datastore.Rollback. (an empty message)."
    },
    "GoogleDatastoreAdminV1beta1ExportEntitiesMetadata": {
      "properties": {
        "progressBytes": {
          "description": "An estimate of the number of bytes processed.",
          "$ref": "GoogleDatastoreAdminV1beta1Progress"
        },
        "common": {
          "description": "Metadata common to all Datastore Admin operations.",
          "$ref": "GoogleDatastoreAdminV1beta1CommonMetadata"
        },
        "outputUrlPrefix": {
          "description": "Location for the export metadata and data files. This will be the same value as the google.datastore.admin.v1beta1.ExportEntitiesRequest.output_url_prefix field. The final output location is provided in google.datastore.admin.v1beta1.ExportEntitiesResponse.output_url.",
          "type": "string"
        },
        "entityFilter": {
          "$ref": "GoogleDatastoreAdminV1beta1EntityFilter",
          "description": "Description of which entities are being exported."
        },
        "progressEntities": {
          "$ref": "GoogleDatastoreAdminV1beta1Progress",
          "description": "An estimate of the number of entities processed."
        }
      },
      "type": "object",
      "description": "Metadata for ExportEntities operations.",
      "id": "GoogleDatastoreAdminV1beta1ExportEntitiesMetadata"
    },
    "TransactionOptions": {
      "id": "TransactionOptions",
      "description": "Options for beginning a new transaction. Transactions can be created explicitly with calls to Datastore.BeginTransaction or implicitly by setting ReadOptions.new_transaction in read requests.",
      "type": "object",
      "properties": {
        "readWrite": {
          "description": "The transaction should allow both reads and writes.",
          "$ref": "ReadWrite"
        },
        "readOnly": {
          "$ref": "ReadOnly",
          "description": "The transaction should only allow reads."
        }
      }
    },
    "PropertyOrder": {
      "id": "PropertyOrder",
      "properties": {
        "direction": {
          "type": "string",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ],
          "description": "The direction to order by. Defaults to `ASCENDING`.",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "Ascending.",
            "Descending."
          ]
        },
        "property": {
          "$ref": "PropertyReference",
          "description": "The property to order by."
        }
      },
      "type": "object",
      "description": "The desired order for a specific property."
    },
    "CompositeFilter": {
      "id": "CompositeFilter",
      "description": "A filter that merges multiple other filters using the given operator.",
      "properties": {
        "filters": {
          "type": "array",
          "items": {
            "$ref": "Filter"
          },
          "description": "The list of filters to combine. Must contain at least one filter."
        },
        "op": {
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The results are required to satisfy each of the combined filters."
          ],
          "type": "string",
          "description": "The operator for combining multiple filters.",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "AND"
          ]
        }
      },
      "type": "object"
    },
    "GoogleDatastoreAdminV1CommonMetadata": {
      "description": "Metadata common to all Datastore Admin operations.",
      "id": "GoogleDatastoreAdminV1CommonMetadata",
      "type": "object",
      "properties": {
        "operationType": {
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "EXPORT_ENTITIES",
            "IMPORT_ENTITIES",
            "CREATE_INDEX",
            "DELETE_INDEX"
          ],
          "description": "The type of the operation. Can be used as a filter in ListOperationsRequest.",
          "enumDescriptions": [
            "Unspecified.",
            "ExportEntities.",
            "ImportEntities.",
            "CreateIndex.",
            "DeleteIndex."
          ],
          "type": "string"
        },
        "labels": {
          "description": "The client-assigned labels which were provided when the operation was created. May also include additional labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "endTime": {
          "description": "The time the operation ended, either successfully or otherwise.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "description": "The current state of the Operation.",
          "type": "string"
        },
        "startTime": {
          "description": "The time that work began on the operation.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "CommitResponse": {
      "id": "CommitResponse",
      "properties": {
        "mutationResults": {
          "description": "The result of performing the mutations. The i-th mutation result corresponds to the i-th mutation in the request.",
          "items": {
            "$ref": "MutationResult"
          },
          "type": "array"
        },
        "indexUpdates": {
          "format": "int32",
          "description": "The number of index entries updated during the commit, or zero if none were updated.",
          "type": "integer"
        }
      },
      "description": "The response for Datastore.Commit.",
      "type": "object"
    },
    "CommitRequest": {
      "type": "object",
      "properties": {
        "mode": {
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "Transactional: The mutations are either all applied, or none are applied. Learn about transactions [here](https://cloud.google.com/datastore/docs/concepts/transactions).",
            "Non-transactional: The mutations may not apply as all or none."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "TRANSACTIONAL",
            "NON_TRANSACTIONAL"
          ],
          "description": "The type of commit to perform. Defaults to `TRANSACTIONAL`.",
          "type": "string"
        },
        "transaction": {
          "description": "The identifier of the transaction associated with the commit. A transaction identifier is returned by a call to Datastore.BeginTransaction.",
          "type": "string",
          "format": "byte"
        },
        "mutations": {
          "items": {
            "$ref": "Mutation"
          },
          "description": "The mutations to perform. When mode is `TRANSACTIONAL`, mutations affecting a single entity are applied in order. The following sequences of mutations affecting a single entity are not permitted in a single `Commit` request: - `insert` followed by `insert` - `update` followed by `insert` - `upsert` followed by `insert` - `delete` followed by `update` When mode is `NON_TRANSACTIONAL`, no two mutations may affect a single entity.",
          "type": "array"
        }
      },
      "description": "The request for Datastore.Commit.",
      "id": "CommitRequest"
    },
    "BeginTransactionRequest": {
      "properties": {
        "transactionOptions": {
          "description": "Options for a new transaction.",
          "$ref": "TransactionOptions"
        }
      },
      "description": "The request for Datastore.BeginTransaction.",
      "id": "BeginTransactionRequest",
      "type": "object"
    },
    "AllocateIdsResponse": {
      "properties": {
        "keys": {
          "description": "The keys specified in the request (in the same order), each with its key path completed with a newly allocated ID.",
          "type": "array",
          "items": {
            "$ref": "Key"
          }
        }
      },
      "description": "The response for Datastore.AllocateIds.",
      "id": "AllocateIdsResponse",
      "type": "object"
    },
    "GoogleDatastoreAdminV1beta1ImportEntitiesMetadata": {
      "description": "Metadata for ImportEntities operations.",
      "type": "object",
      "properties": {
        "entityFilter": {
          "$ref": "GoogleDatastoreAdminV1beta1EntityFilter",
          "description": "Description of which entities are being imported."
        },
        "progressBytes": {
          "$ref": "GoogleDatastoreAdminV1beta1Progress",
          "description": "An estimate of the number of bytes processed."
        },
        "progressEntities": {
          "description": "An estimate of the number of entities processed.",
          "$ref": "GoogleDatastoreAdminV1beta1Progress"
        },
        "inputUrl": {
          "type": "string",
          "description": "The location of the import metadata file. This will be the same value as the google.datastore.admin.v1beta1.ExportEntitiesResponse.output_url field."
        },
        "common": {
          "$ref": "GoogleDatastoreAdminV1beta1CommonMetadata",
          "description": "Metadata common to all Datastore Admin operations."
        }
      },
      "id": "GoogleDatastoreAdminV1beta1ImportEntitiesMetadata"
    },
    "PathElement": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the entity. A name matching regex `__.*__` is reserved/read-only. A name must not be more than 1500 bytes when UTF-8 encoded. Cannot be `\"\"`.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The auto-allocated ID of the entity. Never equal to zero. Values less than zero are discouraged and may not be supported in the future.",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "The kind of the entity. A kind matching regex `__.*__` is reserved/read-only. A kind must not contain more than 1500 bytes when UTF-8 encoded. Cannot be `\"\"`."
        }
      },
      "id": "PathElement",
      "description": "A (kind, ID/name) pair used to construct a key path. If either name or ID is set, the element is complete. If neither is set, the element is incomplete."
    },
    "BeginTransactionResponse": {
      "properties": {
        "transaction": {
          "type": "string",
          "description": "The transaction identifier (always present).",
          "format": "byte"
        }
      },
      "description": "The response for Datastore.BeginTransaction.",
      "type": "object",
      "id": "BeginTransactionResponse"
    },
    "Entity": {
      "description": "A Datastore data object. An entity is limited to 1 megabyte when stored. That _roughly_ corresponds to a limit of 1 megabyte for the serialized form of this message.",
      "id": "Entity",
      "properties": {
        "properties": {
          "description": "The entity's properties. The map's keys are property names. A property name matching regex `__.*__` is reserved. A reserved property name is forbidden in certain documented contexts. The name must not contain more than 500 characters. The name cannot be `\"\"`.",
          "additionalProperties": {
            "$ref": "Value"
          },
          "type": "object"
        },
        "key": {
          "$ref": "Key",
          "description": "The entity's key. An entity must have a key, unless otherwise documented (for example, an entity in `Value.entity_value` may have no key). An entity's kind is its key path's last element's kind, or null if it has no key."
        }
      },
      "type": "object"
    },
    "ReserveIdsResponse": {
      "type": "object",
      "description": "The response for Datastore.ReserveIds.",
      "id": "ReserveIdsResponse",
      "properties": {}
    },
    "ReadOptions": {
      "type": "object",
      "description": "The options shared by read requests.",
      "properties": {
        "transaction": {
          "type": "string",
          "format": "byte",
          "description": "The identifier of the transaction in which to read. A transaction identifier is returned by a call to Datastore.BeginTransaction."
        },
        "readConsistency": {
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "Strong consistency.",
            "Eventual consistency."
          ],
          "enum": [
            "READ_CONSISTENCY_UNSPECIFIED",
            "STRONG",
            "EVENTUAL"
          ],
          "description": "The non-transactional read consistency to use. Cannot be set to `STRONG` for global queries.",
          "type": "string"
        }
      },
      "id": "ReadOptions"
    },
    "PartitionId": {
      "description": "A partition ID identifies a grouping of entities. The grouping is always by project and namespace, however the namespace ID may be empty. A partition ID contains several dimensions: project ID and namespace ID. Partition dimensions: - May be `\"\"`. - Must be valid UTF-8 bytes. - Must have values that match regex `[A-Za-z\\d\\.\\-_]{1,100}` If the value of any dimension matches regex `__.*__`, the partition is reserved/read-only. A reserved/read-only partition ID is forbidden in certain documented contexts. Foreign partition IDs (in which the project ID does not match the context project ID ) are discouraged. Reads and writes of foreign partition IDs may fail if the project is not in an active state.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "The ID of the project to which the entities belong.",
          "type": "string"
        },
        "namespaceId": {
          "type": "string",
          "description": "If not empty, the ID of the namespace to which the entities belong."
        }
      },
      "id": "PartitionId"
    },
    "GoogleDatastoreAdminV1ExportEntitiesMetadata": {
      "type": "object",
      "id": "GoogleDatastoreAdminV1ExportEntitiesMetadata",
      "description": "Metadata for ExportEntities operations.",
      "properties": {
        "progressEntities": {
          "$ref": "GoogleDatastoreAdminV1Progress",
          "description": "An estimate of the number of entities processed."
        },
        "progressBytes": {
          "$ref": "GoogleDatastoreAdminV1Progress",
          "description": "An estimate of the number of bytes processed."
        },
        "outputUrlPrefix": {
          "description": "Location for the export metadata and data files. This will be the same value as the google.datastore.admin.v1.ExportEntitiesRequest.output_url_prefix field. The final output location is provided in google.datastore.admin.v1.ExportEntitiesResponse.output_url.",
          "type": "string"
        },
        "entityFilter": {
          "description": "Description of which entities are being exported.",
          "$ref": "GoogleDatastoreAdminV1EntityFilter"
        },
        "common": {
          "$ref": "GoogleDatastoreAdminV1CommonMetadata",
          "description": "Metadata common to all Datastore Admin operations."
        }
      }
    },
    "GoogleDatastoreAdminV1beta1EntityFilter": {
      "type": "object",
      "description": "Identifies a subset of entities in a project. This is specified as combinations of kinds and namespaces (either or both of which may be all, as described in the following examples). Example usage: Entire project: kinds=[], namespace_ids=[] Kinds Foo and Bar in all namespaces: kinds=['Foo', 'Bar'], namespace_ids=[] Kinds Foo and Bar only in the default namespace: kinds=['Foo', 'Bar'], namespace_ids=[''] Kinds Foo and Bar in both the default and Baz namespaces: kinds=['Foo', 'Bar'], namespace_ids=['', 'Baz'] The entire Baz namespace: kinds=[], namespace_ids=['Baz']",
      "id": "GoogleDatastoreAdminV1beta1EntityFilter",
      "properties": {
        "kinds": {
          "items": {
            "type": "string"
          },
          "description": "If empty, then this represents all kinds.",
          "type": "array"
        },
        "namespaceIds": {
          "type": "array",
          "description": "An empty list represents all namespaces. This is the preferred usage for projects that don't use namespaces. An empty string element represents the default namespace. This should be used if the project has data in non-default namespaces, but doesn't want to include them. Each namespace in this list must be unique.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PropertyReference": {
      "properties": {
        "name": {
          "description": "The name of the property. If name includes \".\"s, it may be interpreted as a property name path.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A reference to a property relative to the kind expressions.",
      "id": "PropertyReference"
    },
    "MutationResult": {
      "id": "MutationResult",
      "type": "object",
      "properties": {
        "key": {
          "$ref": "Key",
          "description": "The automatically allocated key. Set only when the mutation allocated a key."
        },
        "version": {
          "format": "int64",
          "type": "string",
          "description": "The version of the entity on the server after processing the mutation. If the mutation doesn't change anything on the server, then the version will be the version of the current entity or, if no entity is present, a version that is strictly greater than the version of any previous entity and less than the version of any possible future entity."
        },
        "conflictDetected": {
          "description": "Whether a conflict was detected for this mutation. Always false when a conflict detection strategy field is not set in the mutation.",
          "type": "boolean"
        }
      },
      "description": "The result of applying a mutation."
    },
    "KindExpression": {
      "id": "KindExpression",
      "type": "object",
      "description": "A representation of a kind.",
      "properties": {
        "name": {
          "description": "The name of the kind.",
          "type": "string"
        }
      }
    },
    "GoogleDatastoreAdminV1EntityFilter": {
      "properties": {
        "namespaceIds": {
          "description": "An empty list represents all namespaces. This is the preferred usage for projects that don't use namespaces. An empty string element represents the default namespace. This should be used if the project has data in non-default namespaces, but doesn't want to include them. Each namespace in this list must be unique.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "kinds": {
          "description": "If empty, then this represents all kinds.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Identifies a subset of entities in a project. This is specified as combinations of kinds and namespaces (either or both of which may be all, as described in the following examples). Example usage: Entire project: kinds=[], namespace_ids=[] Kinds Foo and Bar in all namespaces: kinds=['Foo', 'Bar'], namespace_ids=[] Kinds Foo and Bar only in the default namespace: kinds=['Foo', 'Bar'], namespace_ids=[''] Kinds Foo and Bar in both the default and Baz namespaces: kinds=['Foo', 'Bar'], namespace_ids=['', 'Baz'] The entire Baz namespace: kinds=[], namespace_ids=['Baz']",
      "type": "object",
      "id": "GoogleDatastoreAdminV1EntityFilter"
    },
    "GoogleDatastoreAdminV1ImportEntitiesMetadata": {
      "description": "Metadata for ImportEntities operations.",
      "type": "object",
      "id": "GoogleDatastoreAdminV1ImportEntitiesMetadata",
      "properties": {
        "progressBytes": {
          "description": "An estimate of the number of bytes processed.",
          "$ref": "GoogleDatastoreAdminV1Progress"
        },
        "common": {
          "description": "Metadata common to all Datastore Admin operations.",
          "$ref": "GoogleDatastoreAdminV1CommonMetadata"
        },
        "progressEntities": {
          "description": "An estimate of the number of entities processed.",
          "$ref": "GoogleDatastoreAdminV1Progress"
        },
        "entityFilter": {
          "description": "Description of which entities are being imported.",
          "$ref": "GoogleDatastoreAdminV1EntityFilter"
        },
        "inputUrl": {
          "type": "string",
          "description": "The location of the import metadata file. This will be the same value as the google.datastore.admin.v1.ExportEntitiesResponse.output_url field."
        }
      }
    },
    "Filter": {
      "properties": {
        "propertyFilter": {
          "$ref": "PropertyFilter",
          "description": "A filter on a property."
        },
        "compositeFilter": {
          "$ref": "CompositeFilter",
          "description": "A composite filter."
        }
      },
      "id": "Filter",
      "type": "object",
      "description": "A holder for any type of filter."
    },
    "LookupRequest": {
      "type": "object",
      "properties": {
        "keys": {
          "items": {
            "$ref": "Key"
          },
          "description": "Required. Keys of entities to look up.",
          "type": "array"
        },
        "readOptions": {
          "description": "The options for this lookup request.",
          "$ref": "ReadOptions"
        }
      },
      "id": "LookupRequest",
      "description": "The request for Datastore.Lookup."
    },
    "Value": {
      "properties": {
        "timestampValue": {
          "type": "string",
          "format": "google-datetime",
          "description": "A timestamp value. When stored in the Datastore, precise only to microseconds; any additional precision is rounded down."
        },
        "booleanValue": {
          "type": "boolean",
          "description": "A boolean value."
        },
        "nullValue": {
          "type": "string",
          "enum": [
            "NULL_VALUE"
          ],
          "enumDescriptions": [
            "Null value."
          ],
          "description": "A null value."
        },
        "arrayValue": {
          "description": "An array value. Cannot contain another array value. A `Value` instance that sets field `array_value` must not set fields `meaning` or `exclude_from_indexes`.",
          "$ref": "ArrayValue"
        },
        "integerValue": {
          "format": "int64",
          "description": "An integer value.",
          "type": "string"
        },
        "blobValue": {
          "format": "byte",
          "type": "string",
          "description": "A blob value. May have at most 1,000,000 bytes. When `exclude_from_indexes` is false, may have at most 1500 bytes. In JSON requests, must be base64-encoded."
        },
        "doubleValue": {
          "type": "number",
          "description": "A double value.",
          "format": "double"
        },
        "geoPointValue": {
          "description": "A geo point value representing a point on the surface of Earth.",
          "$ref": "LatLng"
        },
        "keyValue": {
          "$ref": "Key",
          "description": "A key value."
        },
        "excludeFromIndexes": {
          "type": "boolean",
          "description": "If the value should be excluded from all indexes including those defined explicitly."
        },
        "entityValue": {
          "$ref": "Entity",
          "description": "An entity value. - May have no key. - May have a key with an incomplete key path. - May have a reserved/read-only key."
        },
        "stringValue": {
          "type": "string",
          "description": "A UTF-8 encoded string value. When `exclude_from_indexes` is false (it is indexed) , may have at most 1500 bytes. Otherwise, may be set to at most 1,000,000 bytes."
        },
        "meaning": {
          "description": "The `meaning` field should only be populated for backwards compatibility.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Value",
      "description": "A message that can hold any of the supported value types and associated metadata.",
      "type": "object"
    },
    "GoogleDatastoreAdminV1IndexOperationMetadata": {
      "type": "object",
      "properties": {
        "progressEntities": {
          "$ref": "GoogleDatastoreAdminV1Progress",
          "description": "An estimate of the number of entities processed."
        },
        "indexId": {
          "type": "string",
          "description": "The index resource ID that this operation is acting on."
        },
        "common": {
          "description": "Metadata common to all Datastore Admin operations.",
          "$ref": "GoogleDatastoreAdminV1CommonMetadata"
        }
      },
      "id": "GoogleDatastoreAdminV1IndexOperationMetadata",
      "description": "Metadata for Index operations."
    },
    "AllocateIdsRequest": {
      "properties": {
        "keys": {
          "items": {
            "$ref": "Key"
          },
          "description": "Required. A list of keys with incomplete key paths for which to allocate IDs. No key may be reserved/read-only.",
          "type": "array"
        }
      },
      "description": "The request for Datastore.AllocateIds.",
      "id": "AllocateIdsRequest",
      "type": "object"
    },
    "GoogleDatastoreAdminV1beta1CommonMetadata": {
      "id": "GoogleDatastoreAdminV1beta1CommonMetadata",
      "description": "Metadata common to all Datastore Admin operations.",
      "properties": {
        "operationType": {
          "enumDescriptions": [
            "Unspecified.",
            "ExportEntities.",
            "ImportEntities."
          ],
          "type": "string",
          "description": "The type of the operation. Can be used as a filter in ListOperationsRequest.",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "EXPORT_ENTITIES",
            "IMPORT_ENTITIES"
          ]
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The client-assigned labels which were provided when the operation was created. May also include additional labels.",
          "type": "object"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time that work began on the operation."
        },
        "endTime": {
          "type": "string",
          "description": "The time the operation ended, either successfully or otherwise.",
          "format": "google-datetime"
        },
        "state": {
          "description": "The current state of the Operation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "QueryResultBatch": {
      "id": "QueryResultBatch",
      "description": "A batch of results produced by a query.",
      "type": "object",
      "properties": {
        "entityResultType": {
          "enumDescriptions": [
            "Unspecified. This value is never used.",
            "The key and properties.",
            "A projected subset of properties. The entity may have no key.",
            "Only the key."
          ],
          "enum": [
            "RESULT_TYPE_UNSPECIFIED",
            "FULL",
            "PROJECTION",
            "KEY_ONLY"
          ],
          "type": "string",
          "description": "The result type for every entity in `entity_results`."
        },
        "entityResults": {
          "type": "array",
          "description": "The results for this batch.",
          "items": {
            "$ref": "EntityResult"
          }
        },
        "endCursor": {
          "description": "A cursor that points to the position after the last result in the batch.",
          "format": "byte",
          "type": "string"
        },
        "skippedCursor": {
          "description": "A cursor that points to the position after the last skipped result. Will be set when `skipped_results` != 0.",
          "format": "byte",
          "type": "string"
        },
        "snapshotVersion": {
          "description": "The version number of the snapshot this batch was returned from. This applies to the range of results from the query's `start_cursor` (or the beginning of the query if no cursor was given) to this batch's `end_cursor` (not the query's `end_cursor`). In a single transaction, subsequent query result batches for the same query can have a greater snapshot version number. Each batch's snapshot version is valid for all preceding batches. The value will be zero for eventually consistent queries.",
          "format": "int64",
          "type": "string"
        },
        "moreResults": {
          "type": "string",
          "description": "The state of the query after the current batch.",
          "enum": [
            "MORE_RESULTS_TYPE_UNSPECIFIED",
            "NOT_FINISHED",
            "MORE_RESULTS_AFTER_LIMIT",
            "MORE_RESULTS_AFTER_CURSOR",
            "NO_MORE_RESULTS"
          ],
          "enumDescriptions": [
            "Unspecified. This value is never used.",
            "There may be additional batches to fetch from this query.",
            "The query is finished, but there may be more results after the limit.",
            "The query is finished, but there may be more results after the end cursor.",
            "The query is finished, and there are no more results."
          ]
        },
        "skippedResults": {
          "format": "int32",
          "description": "The number of results skipped, typically because of an offset.",
          "type": "integer"
        }
      }
    },
    "Query": {
      "properties": {
        "startCursor": {
          "type": "string",
          "format": "byte",
          "description": "A starting point for the query results. Query cursors are returned in query result batches and [can only be used to continue the same query](https://cloud.google.com/datastore/docs/concepts/queries#cursors_limits_and_offsets)."
        },
        "endCursor": {
          "format": "byte",
          "description": "An ending point for the query results. Query cursors are returned in query result batches and [can only be used to limit the same query](https://cloud.google.com/datastore/docs/concepts/queries#cursors_limits_and_offsets).",
          "type": "string"
        },
        "limit": {
          "description": "The maximum number of results to return. Applies after all other constraints. Optional. Unspecified is interpreted as no limit. Must be \u003e= 0 if specified.",
          "type": "integer",
          "format": "int32"
        },
        "distinctOn": {
          "description": "The properties to make distinct. The query results will contain the first result for each distinct combination of values for the given properties (if empty, all results are returned).",
          "type": "array",
          "items": {
            "$ref": "PropertyReference"
          }
        },
        "kind": {
          "type": "array",
          "items": {
            "$ref": "KindExpression"
          },
          "description": "The kinds to query (if empty, returns entities of all kinds). Currently at most 1 kind may be specified."
        },
        "order": {
          "type": "array",
          "items": {
            "$ref": "PropertyOrder"
          },
          "description": "The order to apply to the query results (if empty, order is unspecified)."
        },
        "projection": {
          "items": {
            "$ref": "Projection"
          },
          "description": "The projection to return. Defaults to returning all properties.",
          "type": "array"
        },
        "offset": {
          "description": "The number of results to skip. Applies before limit, but after all other constraints. Optional. Must be \u003e= 0 if specified.",
          "format": "int32",
          "type": "integer"
        },
        "filter": {
          "description": "The filter to apply.",
          "$ref": "Filter"
        }
      },
      "description": "A query for entities.",
      "type": "object",
      "id": "Query"
    },
    "ReadWrite": {
      "properties": {
        "previousTransaction": {
          "description": "The transaction identifier of the transaction being retried.",
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object",
      "id": "ReadWrite",
      "description": "Options specific to read / write transactions."
    },
    "GoogleDatastoreAdminV1beta1ExportEntitiesResponse": {
      "properties": {
        "outputUrl": {
          "type": "string",
          "description": "Location of the output metadata file. This can be used to begin an import into Cloud Datastore (this project or another project). See google.datastore.admin.v1beta1.ImportEntitiesRequest.input_url. Only present if the operation completed successfully."
        }
      },
      "description": "The response for google.datastore.admin.v1beta1.DatastoreAdmin.ExportEntities.",
      "type": "object",
      "id": "GoogleDatastoreAdminV1beta1ExportEntitiesResponse"
    },
    "ReserveIdsRequest": {
      "properties": {
        "databaseId": {
          "type": "string",
          "description": "If not empty, the ID of the database against which to make the request."
        },
        "keys": {
          "items": {
            "$ref": "Key"
          },
          "type": "array",
          "description": "Required. A list of keys with complete key paths whose numeric IDs should not be auto-allocated."
        }
      },
      "description": "The request for Datastore.ReserveIds.",
      "id": "ReserveIdsRequest",
      "type": "object"
    },
    "GoogleDatastoreAdminV1ExportEntitiesResponse": {
      "type": "object",
      "id": "GoogleDatastoreAdminV1ExportEntitiesResponse",
      "properties": {
        "outputUrl": {
          "description": "Location of the output metadata file. This can be used to begin an import into Cloud Datastore (this project or another project). See google.datastore.admin.v1.ImportEntitiesRequest.input_url. Only present if the operation completed successfully.",
          "type": "string"
        }
      },
      "description": "The response for google.datastore.admin.v1.DatastoreAdmin.ExportEntities."
    },
    "RunQueryResponse": {
      "properties": {
        "batch": {
          "description": "A batch of query results (always present).",
          "$ref": "QueryResultBatch"
        },
        "query": {
          "$ref": "Query",
          "description": "The parsed form of the `GqlQuery` from the request, if it was set."
        }
      },
      "id": "RunQueryResponse",
      "description": "The response for Datastore.RunQuery.",
      "type": "object"
    },
    "GqlQuery": {
      "type": "object",
      "id": "GqlQuery",
      "description": "A [GQL query](https://cloud.google.com/datastore/docs/apis/gql/gql_reference).",
      "properties": {
        "queryString": {
          "description": "A string of the format described [here](https://cloud.google.com/datastore/docs/apis/gql/gql_reference).",
          "type": "string"
        },
        "allowLiterals": {
          "type": "boolean",
          "description": "When false, the query string must not contain any literals and instead must bind all values. For example, `SELECT * FROM Kind WHERE a = 'string literal'` is not allowed, while `SELECT * FROM Kind WHERE a = @value` is."
        },
        "positionalBindings": {
          "description": "Numbered binding site @1 references the first numbered parameter, effectively using 1-based indexing, rather than the usual 0. For each binding site numbered i in `query_string`, there must be an i-th numbered parameter. The inverse must also be true.",
          "type": "array",
          "items": {
            "$ref": "GqlQueryParameter"
          }
        },
        "namedBindings": {
          "description": "For each non-reserved named binding site in the query string, there must be a named parameter with that name, but not necessarily the inverse. Key must match regex `A-Za-z_$*`, must not match regex `__.*__`, and must not be `\"\"`.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GqlQueryParameter"
          }
        }
      }
    },
    "LatLng": {
      "id": "LatLng",
      "properties": {
        "longitude": {
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "format": "double",
          "type": "number"
        },
        "latitude": {
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "type": "number",
          "format": "double"
        }
      },
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
      "type": "object"
    }
  },
  "version_module": true,
  "resources": {
    "projects": {
      "methods": {
        "lookup": {
          "request": {
            "$ref": "LookupRequest"
          },
          "response": {
            "$ref": "LookupResponse"
          },
          "path": "v1beta3/projects/{projectId}:lookup",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "httpMethod": "POST",
          "parameters": {
            "projectId": {
              "location": "path",
              "type": "string",
              "description": "Required. The ID of the project against which to make the request.",
              "required": true
            }
          },
          "id": "datastore.projects.lookup",
          "flatPath": "v1beta3/projects/{projectId}:lookup",
          "description": "Looks up entities by key.",
          "parameterOrder": [
            "projectId"
          ]
        },
        "runQuery": {
          "parameterOrder": [
            "projectId"
          ],
          "path": "v1beta3/projects/{projectId}:runQuery",
          "description": "Queries for entities.",
          "id": "datastore.projects.runQuery",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "parameters": {
            "projectId": {
              "required": true,
              "description": "Required. The ID of the project against which to make the request.",
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "RunQueryRequest"
          },
          "flatPath": "v1beta3/projects/{projectId}:runQuery",
          "response": {
            "$ref": "RunQueryResponse"
          }
        },
        "beginTransaction": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "projectId"
          ],
          "request": {
            "$ref": "BeginTransactionRequest"
          },
          "id": "datastore.projects.beginTransaction",
          "description": "Begins a new transaction.",
          "flatPath": "v1beta3/projects/{projectId}:beginTransaction",
          "path": "v1beta3/projects/{projectId}:beginTransaction",
          "response": {
            "$ref": "BeginTransactionResponse"
          },
          "parameters": {
            "projectId": {
              "required": true,
              "description": "Required. The ID of the project against which to make the request.",
              "type": "string",
              "location": "path"
            }
          }
        },
        "allocateIds": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "parameters": {
            "projectId": {
              "required": true,
              "description": "Required. The ID of the project against which to make the request.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Allocates IDs for the given keys, which is useful for referencing an entity before it is inserted.",
          "id": "datastore.projects.allocateIds",
          "httpMethod": "POST",
          "parameterOrder": [
            "projectId"
          ],
          "request": {
            "$ref": "AllocateIdsRequest"
          },
          "flatPath": "v1beta3/projects/{projectId}:allocateIds",
          "path": "v1beta3/projects/{projectId}:allocateIds",
          "response": {
            "$ref": "AllocateIdsResponse"
          }
        },
        "reserveIds": {
          "httpMethod": "POST",
          "request": {
            "$ref": "ReserveIdsRequest"
          },
          "response": {
            "$ref": "ReserveIdsResponse"
          },
          "path": "v1beta3/projects/{projectId}:reserveIds",
          "flatPath": "v1beta3/projects/{projectId}:reserveIds",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "description": "Prevents the supplied keys' IDs from being auto-allocated by Cloud Datastore.",
          "parameters": {
            "projectId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The ID of the project against which to make the request."
            }
          },
          "id": "datastore.projects.reserveIds",
          "parameterOrder": [
            "projectId"
          ]
        },
        "rollback": {
          "path": "v1beta3/projects/{projectId}:rollback",
          "parameters": {
            "projectId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The ID of the project against which to make the request."
            }
          },
          "id": "datastore.projects.rollback",
          "httpMethod": "POST",
          "response": {
            "$ref": "RollbackResponse"
          },
          "parameterOrder": [
            "projectId"
          ],
          "description": "Rolls back a transaction.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "request": {
            "$ref": "RollbackRequest"
          },
          "flatPath": "v1beta3/projects/{projectId}:rollback"
        },
        "commit": {
          "request": {
            "$ref": "CommitRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "id": "datastore.projects.commit",
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "POST",
          "flatPath": "v1beta3/projects/{projectId}:commit",
          "description": "Commits a transaction, optionally creating, deleting or modifying some entities.",
          "response": {
            "$ref": "CommitResponse"
          },
          "path": "v1beta3/projects/{projectId}:commit",
          "parameters": {
            "projectId": {
              "required": true,
              "location": "path",
              "description": "Required. The ID of the project against which to make the request.",
              "type": "string"
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "basePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://datastore.googleapis.com/",
  "name": "datastore",
  "title": "Cloud Datastore API",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://datastore.mtls.googleapis.com/",
  "id": "datastore:v1beta3",
  "documentationLink": "https://cloud.google.com/datastore/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud Platform data"
        },
        "https://www.googleapis.com/auth/datastore": {
          "description": "View and manage your Google Cloud Datastore data"
        }
      }
    }
  },
  "batchPath": "batch"
}
