{
  "discoveryVersion": "v1",
  "protocol": "rest",
  "title": "Dataflow API",
  "basePath": "",
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "name": "dataflow",
  "id": "dataflow:v1b3",
  "canonicalName": "Dataflow",
  "revision": "20221128",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "See your primary Google Account email address"
        },
        "https://www.googleapis.com/auth/compute": {
          "description": "View and manage your Google Compute Engine resources"
        },
        "https://www.googleapis.com/auth/compute.readonly": {
          "description": "View your Google Compute Engine resources"
        }
      }
    }
  },
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1b3",
  "schemas": {
    "ExecutionStageSummary": {
      "properties": {
        "kind": {
          "enumDescriptions": [
            "Unrecognized transform type.",
            "ParDo transform.",
            "Group By Key transform.",
            "Flatten transform.",
            "Read transform.",
            "Write transform.",
            "Constructs from a constant value, such as with Create.of.",
            "Creates a Singleton view of a collection.",
            "Opening or closing a shuffle session, often as part of a GroupByKey."
          ],
          "type": "string",
          "description": "Type of transform this stage is executing.",
          "enum": [
            "UNKNOWN_KIND",
            "PAR_DO_KIND",
            "GROUP_BY_KEY_KIND",
            "FLATTEN_KIND",
            "READ_KIND",
            "WRITE_KIND",
            "CONSTANT_KIND",
            "SINGLETON_KIND",
            "SHUFFLE_KIND"
          ]
        },
        "prerequisiteStage": {
          "description": "Other stages that must complete before this stage can run.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "Dataflow service generated id for this stage."
        },
        "name": {
          "description": "Dataflow service generated name for this stage.",
          "type": "string"
        },
        "componentTransform": {
          "description": "Transforms that comprise this execution stage.",
          "items": {
            "$ref": "ComponentTransform"
          },
          "type": "array"
        },
        "inputSource": {
          "items": {
            "$ref": "StageSource"
          },
          "type": "array",
          "description": "Input sources for this stage."
        },
        "componentSource": {
          "description": "Collections produced and consumed by component transforms of this stage.",
          "items": {
            "$ref": "ComponentSource"
          },
          "type": "array"
        },
        "outputSource": {
          "type": "array",
          "items": {
            "$ref": "StageSource"
          },
          "description": "Output sources for this stage."
        }
      },
      "id": "ExecutionStageSummary",
      "type": "object",
      "description": "Description of the composing transforms, names/ids, and input/outputs of a stage of execution. Some composing transforms and sources may have been generated by the Dataflow service during execution planning."
    },
    "StreamLocation": {
      "id": "StreamLocation",
      "type": "object",
      "properties": {
        "pubsubLocation": {
          "$ref": "PubsubLocation",
          "description": "The stream is a pubsub stream."
        },
        "streamingStageLocation": {
          "$ref": "StreamingStageLocation",
          "description": "The stream is part of another computation within the current streaming Dataflow job."
        },
        "customSourceLocation": {
          "$ref": "CustomSourceLocation",
          "description": "The stream is a custom source."
        },
        "sideInputLocation": {
          "description": "The stream is a streaming side input.",
          "$ref": "StreamingSideInputLocation"
        }
      },
      "description": "Describes a stream of data, either as input to be processed or as output of a streaming Dataflow job."
    },
    "PartialGroupByKeyInstruction": {
      "id": "PartialGroupByKeyInstruction",
      "properties": {
        "originalCombineValuesStepName": {
          "description": "If this instruction includes a combining function, this is the name of the CombineValues instruction lifted into this instruction.",
          "type": "string"
        },
        "originalCombineValuesInputStoreName": {
          "description": "If this instruction includes a combining function this is the name of the intermediate store between the GBK and the CombineValues.",
          "type": "string"
        },
        "sideInputs": {
          "description": "Zero or more side inputs.",
          "items": {
            "$ref": "SideInputInfo"
          },
          "type": "array"
        },
        "valueCombiningFn": {
          "type": "object",
          "description": "The value combining function to invoke.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "input": {
          "description": "Describes the input to the partial group-by-key instruction.",
          "$ref": "InstructionInput"
        },
        "inputElementCodec": {
          "type": "object",
          "description": "The codec to use for interpreting an element in the input PTable.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "description": "An instruction that does a partial group-by-key. One input and one output.",
      "type": "object"
    },
    "Package": {
      "description": "The packages that must be installed in order for a worker to run the steps of the Cloud Dataflow job that will be assigned to its worker pool. This is the mechanism by which the Cloud Dataflow SDK causes code to be loaded onto the workers. For example, the Cloud Dataflow Java SDK might use this to install jars containing the user's code and all of the various dependencies (libraries, data files, etc.) required in order for that code to run.",
      "id": "Package",
      "type": "object",
      "properties": {
        "location": {
          "type": "string",
          "description": "The resource to read the package from. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket} bucket.storage.googleapis.com/"
        },
        "name": {
          "type": "string",
          "description": "The name of the package."
        }
      }
    },
    "DataDiskAssignment": {
      "description": "Data disk assignment for a given VM instance.",
      "type": "object",
      "properties": {
        "dataDisks": {
          "description": "Mounted data disks. The order is important a data disk's 0-based index in this list defines which persistent directory the disk is mounted to, for example the list of { \"myproject-1014-104817-4c2-harness-0-disk-0\" }, { \"myproject-1014-104817-4c2-harness-0-disk-1\" }.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "vmInstance": {
          "description": "VM instance name the data disks mounted to, for example \"myproject-1014-104817-4c2-harness-0\".",
          "type": "string"
        }
      },
      "id": "DataDiskAssignment"
    },
    "MemInfo": {
      "properties": {
        "timestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp of the measurement."
        },
        "currentOoms": {
          "format": "int64",
          "type": "string",
          "description": "Number of Out of Memory (OOM) events recorded since the previous measurement."
        },
        "currentLimitBytes": {
          "type": "string",
          "description": "Instantenous memory limit in bytes.",
          "format": "uint64"
        },
        "totalGbMs": {
          "format": "uint64",
          "description": "Total memory (RSS) usage since start up in GB * ms.",
          "type": "string"
        },
        "currentRssBytes": {
          "description": "Instantenous memory (RSS) size in bytes.",
          "format": "uint64",
          "type": "string"
        }
      },
      "description": "Information about the memory usage of a worker or a container within a worker.",
      "type": "object",
      "id": "MemInfo"
    },
    "DerivedSource": {
      "properties": {
        "derivationMode": {
          "enum": [
            "SOURCE_DERIVATION_MODE_UNKNOWN",
            "SOURCE_DERIVATION_MODE_INDEPENDENT",
            "SOURCE_DERIVATION_MODE_CHILD_OF_CURRENT",
            "SOURCE_DERIVATION_MODE_SIBLING_OF_CURRENT"
          ],
          "description": "What source to base the produced source on (if any).",
          "enumDescriptions": [
            "The source derivation is unknown, or unspecified.",
            "Produce a completely independent Source with no base.",
            "Produce a Source based on the Source being split.",
            "Produce a Source based on the base of the Source being split."
          ],
          "type": "string"
        },
        "source": {
          "description": "Specification of the source.",
          "$ref": "Source"
        }
      },
      "id": "DerivedSource",
      "description": "Specification of one of the bundles produced as a result of splitting a Source (e.g. when executing a SourceSplitRequest, or when splitting an active task using WorkItemStatus.dynamic_source_split), relative to the source being split.",
      "type": "object"
    },
    "Parameter": {
      "description": "Structured data associated with this message.",
      "id": "Parameter",
      "properties": {
        "key": {
          "type": "string",
          "description": "Key or name for this parameter."
        },
        "value": {
          "type": "any",
          "description": "Value for this parameter."
        }
      },
      "type": "object"
    },
    "WorkItem": {
      "id": "WorkItem",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Identifies the cloud project this WorkItem belongs to.",
          "type": "string"
        },
        "packages": {
          "type": "array",
          "items": {
            "$ref": "Package"
          },
          "description": "Any required packages that need to be fetched in order to execute this WorkItem."
        },
        "id": {
          "type": "string",
          "description": "Identifies this WorkItem.",
          "format": "int64"
        },
        "reportStatusInterval": {
          "format": "google-duration",
          "type": "string",
          "description": "Recommended reporting interval."
        },
        "streamingConfigTask": {
          "description": "Additional information for StreamingConfigTask WorkItems.",
          "$ref": "StreamingConfigTask"
        },
        "initialReportIndex": {
          "format": "int64",
          "description": "The initial index to use when reporting the status of the WorkItem.",
          "type": "string"
        },
        "seqMapTask": {
          "$ref": "SeqMapTask",
          "description": "Additional information for SeqMapTask WorkItems."
        },
        "streamingSetupTask": {
          "description": "Additional information for StreamingSetupTask WorkItems.",
          "$ref": "StreamingSetupTask"
        },
        "jobId": {
          "description": "Identifies the workflow job this WorkItem belongs to.",
          "type": "string"
        },
        "sourceOperationTask": {
          "description": "Additional information for source operation WorkItems.",
          "$ref": "SourceOperationRequest"
        },
        "shellTask": {
          "$ref": "ShellTask",
          "description": "Additional information for ShellTask WorkItems."
        },
        "configuration": {
          "type": "string",
          "description": "Work item-specific configuration as an opaque blob."
        },
        "streamingComputationTask": {
          "$ref": "StreamingComputationTask",
          "description": "Additional information for StreamingComputationTask WorkItems."
        },
        "leaseExpireTime": {
          "type": "string",
          "description": "Time when the lease on this Work will expire.",
          "format": "google-datetime"
        },
        "mapTask": {
          "$ref": "MapTask",
          "description": "Additional information for MapTask WorkItems."
        }
      },
      "description": "WorkItem represents basic information about a WorkItem to be executed in the cloud."
    },
    "CreateJobFromTemplateRequest": {
      "type": "object",
      "description": "A request to create a Cloud Dataflow job from a template.",
      "properties": {
        "environment": {
          "$ref": "RuntimeEnvironment",
          "description": "The runtime environment for the job."
        },
        "location": {
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
          "type": "string"
        },
        "gcsPath": {
          "description": "Required. A Cloud Storage path to the template from which to create the job. Must be a valid Cloud Storage URL, beginning with `gs://`.",
          "type": "string"
        },
        "jobName": {
          "description": "Required. The job name to use for the created job.",
          "type": "string"
        },
        "parameters": {
          "description": "The runtime parameters to pass to the job.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "CreateJobFromTemplateRequest"
    },
    "FlattenInstruction": {
      "properties": {
        "inputs": {
          "items": {
            "$ref": "InstructionInput"
          },
          "description": "Describes the inputs to the flatten instruction.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "FlattenInstruction",
      "description": "An instruction that copies its inputs (zero or more) to its (single) output."
    },
    "StreamingComputationConfig": {
      "description": "Configuration information for a single streaming computation.",
      "type": "object",
      "id": "StreamingComputationConfig",
      "properties": {
        "systemName": {
          "type": "string",
          "description": "System defined name for this computation."
        },
        "instructions": {
          "items": {
            "$ref": "ParallelInstruction"
          },
          "description": "Instructions that comprise the computation.",
          "type": "array"
        },
        "computationId": {
          "type": "string",
          "description": "Unique identifier for this computation."
        },
        "stageName": {
          "description": "Stage name of this computation.",
          "type": "string"
        },
        "transformUserNameToStateFamily": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map from user name of stateful transforms in this stage to their state family.",
          "type": "object"
        }
      }
    },
    "SendDebugCaptureRequest": {
      "description": "Request to send encoded debug information. Next ID: 8",
      "id": "SendDebugCaptureRequest",
      "type": "object",
      "properties": {
        "workerId": {
          "description": "The worker id, i.e., VM hostname.",
          "type": "string"
        },
        "componentId": {
          "type": "string",
          "description": "The internal component id for which debug information is sent."
        },
        "location": {
          "type": "string",
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id."
        },
        "data": {
          "type": "string",
          "description": "The encoded debug information."
        },
        "dataFormat": {
          "description": "Format for the data field above (id=5).",
          "enumDescriptions": [
            "Format unspecified, parsing is determined based upon page type and legacy encoding. (go/protodosdonts#do-include-an-unspecified-value-in-an-enum)",
            "Raw HTML string.",
            "JSON-encoded string.",
            "Websafe encoded zlib-compressed string.",
            "Websafe encoded brotli-compressed string."
          ],
          "type": "string",
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "RAW",
            "JSON",
            "ZLIB",
            "BROTLI"
          ]
        }
      }
    },
    "ParallelInstruction": {
      "id": "ParallelInstruction",
      "type": "object",
      "properties": {
        "read": {
          "$ref": "ReadInstruction",
          "description": "Additional information for Read instructions."
        },
        "parDo": {
          "description": "Additional information for ParDo instructions.",
          "$ref": "ParDoInstruction"
        },
        "name": {
          "type": "string",
          "description": "User-provided name of this operation."
        },
        "partialGroupByKey": {
          "description": "Additional information for PartialGroupByKey instructions.",
          "$ref": "PartialGroupByKeyInstruction"
        },
        "write": {
          "$ref": "WriteInstruction",
          "description": "Additional information for Write instructions."
        },
        "systemName": {
          "description": "System-defined name of this operation. Unique across the workflow.",
          "type": "string"
        },
        "outputs": {
          "type": "array",
          "description": "Describes the outputs of the instruction.",
          "items": {
            "$ref": "InstructionOutput"
          }
        },
        "flatten": {
          "description": "Additional information for Flatten instructions.",
          "$ref": "FlattenInstruction"
        },
        "originalName": {
          "type": "string",
          "description": "System-defined name for the operation in the original workflow graph."
        }
      },
      "description": "Describes a particular operation comprising a MapTask."
    },
    "SourceSplitShard": {
      "description": "DEPRECATED in favor of DerivedSource.",
      "properties": {
        "derivationMode": {
          "enumDescriptions": [
            "The source derivation is unknown, or unspecified.",
            "Produce a completely independent Source with no base.",
            "Produce a Source based on the Source being split.",
            "Produce a Source based on the base of the Source being split."
          ],
          "enum": [
            "SOURCE_DERIVATION_MODE_UNKNOWN",
            "SOURCE_DERIVATION_MODE_INDEPENDENT",
            "SOURCE_DERIVATION_MODE_CHILD_OF_CURRENT",
            "SOURCE_DERIVATION_MODE_SIBLING_OF_CURRENT"
          ],
          "type": "string",
          "description": "DEPRECATED"
        },
        "source": {
          "$ref": "Source",
          "description": "DEPRECATED"
        }
      },
      "id": "SourceSplitShard",
      "type": "object"
    },
    "CounterStructuredNameAndMetadata": {
      "id": "CounterStructuredNameAndMetadata",
      "description": "A single message which encapsulates structured name and metadata for a given counter.",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "CounterMetadata",
          "description": "Metadata associated with a counter"
        },
        "name": {
          "description": "Structured name of the counter.",
          "$ref": "CounterStructuredName"
        }
      }
    },
    "ContainerSpec": {
      "properties": {
        "imageRepositoryCertPath": {
          "description": "Cloud Storage path to self-signed certificate of private registry.",
          "type": "string"
        },
        "imageRepositoryPasswordSecretId": {
          "description": "Secret Manager secret id for password to authenticate to private registry.",
          "type": "string"
        },
        "imageRepositoryUsernameSecretId": {
          "type": "string",
          "description": "Secret Manager secret id for username to authenticate to private registry."
        },
        "sdkInfo": {
          "description": "Required. SDK info of the Flex Template.",
          "$ref": "SDKInfo"
        },
        "defaultEnvironment": {
          "$ref": "FlexTemplateRuntimeEnvironment",
          "description": "Default runtime environment for the job."
        },
        "metadata": {
          "$ref": "TemplateMetadata",
          "description": "Metadata describing a template including description and validation rules."
        },
        "image": {
          "type": "string",
          "description": "Name of the docker container image. E.g., gcr.io/project/some-image"
        }
      },
      "type": "object",
      "id": "ContainerSpec",
      "description": "Container Spec."
    },
    "LaunchTemplateParameters": {
      "properties": {
        "update": {
          "type": "boolean",
          "description": "If set, replace the existing pipeline with the name specified by jobName with this pipeline, preserving state."
        },
        "parameters": {
          "description": "The runtime parameters to pass to the job.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "jobName": {
          "type": "string",
          "description": "Required. The job name to use for the created job. The name must match the regular expression `[a-z]([-a-z0-9]{0,1022}[a-z0-9])?`"
        },
        "transformNameMapping": {
          "description": "Only applicable when updating a pipeline. Map of transform name prefixes of the job to be replaced to the corresponding name prefixes of the new job.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "environment": {
          "description": "The runtime environment for the job.",
          "$ref": "RuntimeEnvironment"
        }
      },
      "description": "Parameters to provide to the template being launched. Note that the [metadata in the pipeline code] (https://cloud.google.com/dataflow/docs/guides/templates/creating-templates#metadata) determines which runtime parameters are valid.",
      "type": "object",
      "id": "LaunchTemplateParameters"
    },
    "PubsubLocation": {
      "type": "object",
      "properties": {
        "idLabel": {
          "description": "If set, contains a pubsub label from which to extract record ids. If left empty, record deduplication will be strictly best effort.",
          "type": "string"
        },
        "subscription": {
          "type": "string",
          "description": "A pubsub subscription, in the form of \"pubsub.googleapis.com/subscriptions//\""
        },
        "withAttributes": {
          "type": "boolean",
          "description": "If true, then the client has requested to get pubsub attributes."
        },
        "topic": {
          "type": "string",
          "description": "A pubsub topic, in the form of \"pubsub.googleapis.com/topics//\""
        },
        "trackingSubscription": {
          "type": "string",
          "description": "If set, specifies the pubsub subscription that will be used for tracking custom time timestamps for watermark estimation."
        },
        "dropLateData": {
          "description": "Indicates whether the pipeline allows late-arriving data.",
          "type": "boolean"
        },
        "timestampLabel": {
          "type": "string",
          "description": "If set, contains a pubsub label from which to extract record timestamps. If left empty, record timestamps will be generated upon arrival."
        }
      },
      "description": "Identifies a pubsub location to use for transferring data into or out of a streaming Dataflow job.",
      "id": "PubsubLocation"
    },
    "PipelineDescription": {
      "description": "A descriptive representation of submitted pipeline as well as the executed form. This data is provided by the Dataflow service for ease of visualizing the pipeline and interpreting Dataflow provided metrics.",
      "type": "object",
      "properties": {
        "originalPipelineTransform": {
          "type": "array",
          "items": {
            "$ref": "TransformSummary"
          },
          "description": "Description of each transform in the pipeline and collections between them."
        },
        "displayData": {
          "type": "array",
          "description": "Pipeline level display data.",
          "items": {
            "$ref": "DisplayData"
          }
        },
        "executionPipelineStage": {
          "items": {
            "$ref": "ExecutionStageSummary"
          },
          "type": "array",
          "description": "Description of each stage of execution of the pipeline."
        },
        "stepNamesHash": {
          "type": "string",
          "description": "A hash value of the submitted pipeline portable graph step names if exists."
        }
      },
      "id": "PipelineDescription"
    },
    "SourceGetMetadataRequest": {
      "description": "A request to compute the SourceMetadata of a Source.",
      "properties": {
        "source": {
          "$ref": "Source",
          "description": "Specification of the source whose metadata should be computed."
        }
      },
      "type": "object",
      "id": "SourceGetMetadataRequest"
    },
    "ProgressTimeseries": {
      "properties": {
        "currentProgress": {
          "format": "double",
          "description": "The current progress of the component, in the range [0,1].",
          "type": "number"
        },
        "dataPoints": {
          "description": "History of progress for the component. Points are sorted by time.",
          "items": {
            "$ref": "Point"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Information about the progress of some component of job execution.",
      "id": "ProgressTimeseries"
    },
    "ReportWorkItemStatusRequest": {
      "type": "object",
      "id": "ReportWorkItemStatusRequest",
      "description": "Request to report the status of WorkItems.",
      "properties": {
        "location": {
          "type": "string",
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job."
        },
        "unifiedWorkerRequest": {
          "description": "Untranslated bag-of-bytes WorkProgressUpdateRequest from UnifiedWorker.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "workerId": {
          "type": "string",
          "description": "The ID of the worker reporting the WorkItem status. If this does not match the ID of the worker which the Dataflow service believes currently has the lease on the WorkItem, the report will be dropped (with an error response)."
        },
        "workItemStatuses": {
          "items": {
            "$ref": "WorkItemStatus"
          },
          "description": "The order is unimportant, except that the order of the WorkItemServiceState messages in the ReportWorkItemStatusResponse corresponds to the order of WorkItemStatus messages here.",
          "type": "array"
        },
        "currentWorkerTime": {
          "description": "The current timestamp at the worker.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "SnapshotJobRequest": {
      "id": "SnapshotJobRequest",
      "description": "Request to create a snapshot of a job.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "User specified description of the snapshot. Maybe empty."
        },
        "snapshotSources": {
          "type": "boolean",
          "description": "If true, perform snapshots for sources which support this."
        },
        "location": {
          "description": "The location that contains this job.",
          "type": "string"
        },
        "ttl": {
          "type": "string",
          "description": "TTL for the snapshot.",
          "format": "google-duration"
        }
      }
    },
    "JobExecutionDetails": {
      "properties": {
        "stages": {
          "description": "The stages of the job execution.",
          "type": "array",
          "items": {
            "$ref": "StageSummary"
          }
        },
        "nextPageToken": {
          "description": "If present, this response does not contain all requested tasks. To obtain the next page of results, repeat the request with page_token set to this value.",
          "type": "string"
        }
      },
      "description": "Information about the execution of a job.",
      "id": "JobExecutionDetails",
      "type": "object"
    },
    "SendWorkerMessagesRequest": {
      "type": "object",
      "description": "A request for sending worker messages to the service.",
      "id": "SendWorkerMessagesRequest",
      "properties": {
        "location": {
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job.",
          "type": "string"
        },
        "workerMessages": {
          "description": "The WorkerMessages to send.",
          "items": {
            "$ref": "WorkerMessage"
          },
          "type": "array"
        }
      }
    },
    "Snapshot": {
      "id": "Snapshot",
      "type": "object",
      "description": "Represents a snapshot of a job.",
      "properties": {
        "sourceJobId": {
          "description": "The job this snapshot was created from.",
          "type": "string"
        },
        "ttl": {
          "type": "string",
          "description": "The time after which this snapshot will be automatically deleted.",
          "format": "google-duration"
        },
        "state": {
          "enumDescriptions": [
            "Unknown state.",
            "Snapshot intent to create has been persisted, snapshotting of state has not yet started.",
            "Snapshotting is being performed.",
            "Snapshot has been created and is ready to be used.",
            "Snapshot failed to be created.",
            "Snapshot has been deleted."
          ],
          "description": "State of the snapshot.",
          "enum": [
            "UNKNOWN_SNAPSHOT_STATE",
            "PENDING",
            "RUNNING",
            "READY",
            "FAILED",
            "DELETED"
          ],
          "type": "string"
        },
        "diskSizeBytes": {
          "format": "int64",
          "description": "The disk byte size of the snapshot. Only available for snapshots in READY state.",
          "type": "string"
        },
        "region": {
          "type": "string",
          "description": "Cloud region where this snapshot lives in, e.g., \"us-central1\"."
        },
        "projectId": {
          "type": "string",
          "description": "The project this snapshot belongs to."
        },
        "pubsubMetadata": {
          "items": {
            "$ref": "PubsubSnapshotMetadata"
          },
          "description": "Pub/Sub snapshot metadata.",
          "type": "array"
        },
        "creationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time this snapshot was created."
        },
        "description": {
          "description": "User specified description of the snapshot. Maybe empty.",
          "type": "string"
        },
        "id": {
          "description": "The unique ID of this snapshot.",
          "type": "string"
        }
      }
    },
    "SeqMapTaskOutputInfo": {
      "properties": {
        "sink": {
          "description": "The sink to write the output value to.",
          "$ref": "Sink"
        },
        "tag": {
          "description": "The id of the TupleTag the user code will tag the output value by.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Information about an output of a SeqMapTask.",
      "id": "SeqMapTaskOutputInfo"
    },
    "Disk": {
      "description": "Describes the data disk used by a workflow job.",
      "properties": {
        "diskType": {
          "description": "Disk storage type, as defined by Google Compute Engine. This must be a disk type appropriate to the project and zone in which the workers will run. If unknown or unspecified, the service will attempt to choose a reasonable default. For example, the standard persistent disk type is a resource name typically ending in \"pd-standard\". If SSD persistent disks are available, the resource name typically ends with \"pd-ssd\". The actual valid values are defined the Google Compute Engine API, not by the Cloud Dataflow API; consult the Google Compute Engine documentation for more information about determining the set of available disk types for a particular project and zone. Google Compute Engine Disk types are local to a particular project in a particular zone, and so the resource name will typically look something like this: compute.googleapis.com/projects/project-id/zones/zone/diskTypes/pd-standard",
          "type": "string"
        },
        "mountPoint": {
          "description": "Directory in a VM where disk is mounted.",
          "type": "string"
        },
        "sizeGb": {
          "type": "integer",
          "description": "Size of disk in GB. If zero or unspecified, the service will attempt to choose a reasonable default.",
          "format": "int32"
        }
      },
      "id": "Disk",
      "type": "object"
    },
    "FloatingPointMean": {
      "description": "A representation of a floating point mean metric contribution.",
      "type": "object",
      "properties": {
        "count": {
          "$ref": "SplitInt64",
          "description": "The number of values being aggregated."
        },
        "sum": {
          "description": "The sum of all values being aggregated.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "FloatingPointMean"
    },
    "StreamingSetupTask": {
      "type": "object",
      "properties": {
        "workerHarnessPort": {
          "type": "integer",
          "format": "int32",
          "description": "The TCP port used by the worker to communicate with the Dataflow worker harness."
        },
        "streamingComputationTopology": {
          "description": "The global topology of the streaming Dataflow job.",
          "$ref": "TopologyConfig"
        },
        "snapshotConfig": {
          "$ref": "StreamingApplianceSnapshotConfig",
          "description": "Configures streaming appliance snapshot."
        },
        "drain": {
          "description": "The user has requested drain.",
          "type": "boolean"
        },
        "receiveWorkPort": {
          "format": "int32",
          "type": "integer",
          "description": "The TCP port on which the worker should listen for messages from other streaming computation workers."
        }
      },
      "description": "A task which initializes part of a streaming Dataflow job.",
      "id": "StreamingSetupTask"
    },
    "RuntimeEnvironment": {
      "id": "RuntimeEnvironment",
      "description": "The environment values to set at runtime.",
      "properties": {
        "subnetwork": {
          "type": "string",
          "description": "Subnetwork to which VMs will be assigned, if desired. You can specify a subnetwork using either a complete URL or an abbreviated path. Expected to be of the form \"https://www.googleapis.com/compute/v1/projects/HOST_PROJECT_ID/regions/REGION/subnetworks/SUBNETWORK\" or \"regions/REGION/subnetworks/SUBNETWORK\". If the subnetwork is located in a Shared VPC network, you must use the complete URL."
        },
        "machineType": {
          "description": "The machine type to use for the job. Defaults to the value from the template if not specified.",
          "type": "string"
        },
        "enableStreamingEngine": {
          "description": "Whether to enable Streaming Engine for the job.",
          "type": "boolean"
        },
        "network": {
          "type": "string",
          "description": "Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\"."
        },
        "ipConfiguration": {
          "description": "Configuration for VM IPs.",
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ],
          "type": "string",
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ]
        },
        "kmsKeyName": {
          "description": "Name for the Cloud KMS key for the job. Key format is: projects//locations//keyRings//cryptoKeys/",
          "type": "string"
        },
        "bypassTempDirValidation": {
          "type": "boolean",
          "description": "Whether to bypass the safety checks for the job's temporary directory. Use with caution."
        },
        "additionalUserLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional user labels to be specified for the job. Keys and values should follow the restrictions specified in the [labeling restrictions](https://cloud.google.com/compute/docs/labeling-resources#restrictions) page. An object containing a list of \"key\": value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1kg\", \"count\": \"3\" }.",
          "type": "object"
        },
        "workerZone": {
          "description": "The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity. If both `worker_zone` and `zone` are set, `worker_zone` takes precedence.",
          "type": "string"
        },
        "numWorkers": {
          "format": "int32",
          "type": "integer",
          "description": "The initial number of Google Compute Engine instances for the job."
        },
        "maxWorkers": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of Google Compute Engine instances to be made available to your pipeline during execution, from 1 to 1000."
        },
        "workerRegion": {
          "description": "The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, default to the control plane's region.",
          "type": "string"
        },
        "tempLocation": {
          "description": "The Cloud Storage path to use for temporary files. Must be a valid Cloud Storage URL, beginning with `gs://`.",
          "type": "string"
        },
        "serviceAccountEmail": {
          "description": "The email address of the service account to run the job as.",
          "type": "string"
        },
        "zone": {
          "description": "The Compute Engine [availability zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones) for launching worker instances to run your pipeline. In the future, worker_zone will take precedence.",
          "type": "string"
        },
        "additionalExperiments": {
          "description": "Additional experiment flags for the job, specified with the `--experiments` option.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "WorkerDetails": {
      "id": "WorkerDetails",
      "description": "Information about a worker",
      "type": "object",
      "properties": {
        "workerName": {
          "type": "string",
          "description": "Name of this worker"
        },
        "workItems": {
          "description": "Work items processed by this worker, sorted by time.",
          "type": "array",
          "items": {
            "$ref": "WorkItemDetails"
          }
        }
      }
    },
    "LaunchFlexTemplateRequest": {
      "description": "A request to launch a Cloud Dataflow job from a FlexTemplate.",
      "type": "object",
      "properties": {
        "launchParameter": {
          "$ref": "LaunchFlexTemplateParameter",
          "description": "Required. Parameter to launch a job form Flex Template."
        },
        "validateOnly": {
          "type": "boolean",
          "description": "If true, the request is validated but not actually executed. Defaults to false."
        }
      },
      "id": "LaunchFlexTemplateRequest"
    },
    "ParameterMetadata": {
      "id": "ParameterMetadata",
      "properties": {
        "paramType": {
          "description": "Optional. The type of the parameter. Used for selecting input picker.",
          "enum": [
            "DEFAULT",
            "TEXT",
            "GCS_READ_BUCKET",
            "GCS_WRITE_BUCKET",
            "GCS_READ_FILE",
            "GCS_WRITE_FILE",
            "GCS_READ_FOLDER",
            "GCS_WRITE_FOLDER",
            "PUBSUB_TOPIC",
            "PUBSUB_SUBSCRIPTION",
            "BIGQUERY_TABLE"
          ],
          "enumDescriptions": [
            "Default input type.",
            "The parameter specifies generic text input.",
            "The parameter specifies a Cloud Storage Bucket to read from.",
            "The parameter specifies a Cloud Storage Bucket to write to.",
            "The parameter specifies a Cloud Storage file path to read from.",
            "The parameter specifies a Cloud Storage file path to write to.",
            "The parameter specifies a Cloud Storage folder path to read from.",
            "The parameter specifies a Cloud Storage folder to write to.",
            "The parameter specifies a Pub/Sub Topic.",
            "The parameter specifies a Pub/Sub Subscription.",
            "The parameter specifies a BigQuery table."
          ],
          "type": "string"
        },
        "regexes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Regexes that the parameter must match.",
          "type": "array"
        },
        "isOptional": {
          "description": "Optional. Whether the parameter is optional. Defaults to false.",
          "type": "boolean"
        },
        "helpText": {
          "description": "Required. The help text to display for the parameter.",
          "type": "string"
        },
        "label": {
          "type": "string",
          "description": "Required. The label to display for the parameter."
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the parameter."
        },
        "customMetadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Additional metadata for describing this parameter.",
          "type": "object"
        }
      },
      "description": "Metadata for a specific parameter.",
      "type": "object"
    },
    "JobMetadata": {
      "type": "object",
      "properties": {
        "datastoreDetails": {
          "description": "Identification of a Datastore source used in the Dataflow job.",
          "items": {
            "$ref": "DatastoreIODetails"
          },
          "type": "array"
        },
        "bigqueryDetails": {
          "type": "array",
          "items": {
            "$ref": "BigQueryIODetails"
          },
          "description": "Identification of a BigQuery source used in the Dataflow job."
        },
        "spannerDetails": {
          "description": "Identification of a Spanner source used in the Dataflow job.",
          "type": "array",
          "items": {
            "$ref": "SpannerIODetails"
          }
        },
        "bigTableDetails": {
          "items": {
            "$ref": "BigTableIODetails"
          },
          "description": "Identification of a Cloud Bigtable source used in the Dataflow job.",
          "type": "array"
        },
        "fileDetails": {
          "description": "Identification of a File source used in the Dataflow job.",
          "items": {
            "$ref": "FileIODetails"
          },
          "type": "array"
        },
        "sdkVersion": {
          "$ref": "SdkVersion",
          "description": "The SDK version used to run the job."
        },
        "pubsubDetails": {
          "type": "array",
          "items": {
            "$ref": "PubSubIODetails"
          },
          "description": "Identification of a Pub/Sub source used in the Dataflow job."
        }
      },
      "description": "Metadata available primarily for filtering jobs. Will be included in the ListJob response and Job SUMMARY view.",
      "id": "JobMetadata"
    },
    "ApproximateReportedProgress": {
      "description": "A progress measurement of a WorkItem by a worker.",
      "id": "ApproximateReportedProgress",
      "properties": {
        "fractionConsumed": {
          "format": "double",
          "description": "Completion as fraction of the input consumed, from 0.0 (beginning, nothing consumed), to 1.0 (end of the input, entire input consumed).",
          "type": "number"
        },
        "remainingParallelism": {
          "description": "Total amount of parallelism in the input of this task that remains, (i.e. can be delegated to this task and any new tasks via dynamic splitting). Always at least 1 for non-finished work items and 0 for finished. \"Amount of parallelism\" refers to how many non-empty parts of the input can be read in parallel. This does not necessarily equal number of records. An input that can be read in parallel down to the individual records is called \"perfectly splittable\". An example of non-perfectly parallelizable input is a block-compressed file format where a block of records has to be read as a whole, but different blocks can be read in parallel. Examples: * If we are processing record #30 (starting at 1) out of 50 in a perfectly splittable 50-record input, this value should be 21 (20 remaining + 1 current). * If we are reading through block 3 in a block-compressed file consisting of 5 blocks, this value should be 3 (since blocks 4 and 5 can be processed in parallel by new tasks via dynamic splitting and the current task remains processing block 3). * If we are reading through the last block in a block-compressed file, or reading or processing the last record in a perfectly splittable input, this value should be 1, because apart from the current task, no additional remainder can be split off.",
          "$ref": "ReportedParallelism"
        },
        "consumedParallelism": {
          "description": "Total amount of parallelism in the portion of input of this task that has already been consumed and is no longer active. In the first two examples above (see remaining_parallelism), the value should be 29 or 2 respectively. The sum of remaining_parallelism and consumed_parallelism should equal the total amount of parallelism in this work item. If specified, must be finite.",
          "$ref": "ReportedParallelism"
        },
        "position": {
          "$ref": "Position",
          "description": "A Position within the work to represent a progress."
        }
      },
      "type": "object"
    },
    "CounterStructuredName": {
      "properties": {
        "inputIndex": {
          "type": "integer",
          "description": "Index of an input collection that's being read from/written to as a side input. The index identifies a step's side inputs starting by 1 (e.g. the first side input has input_index 1, the third has input_index 3). Side inputs are identified by a pair of (original_step_name, input_index). This field helps uniquely identify them.",
          "format": "int32"
        },
        "portion": {
          "description": "Portion of this counter, either key or value.",
          "type": "string",
          "enum": [
            "ALL",
            "KEY",
            "VALUE"
          ],
          "enumDescriptions": [
            "Counter portion has not been set.",
            "Counter reports a key.",
            "Counter reports a value."
          ]
        },
        "originalStepName": {
          "description": "System generated name of the original step in the user's graph, before optimization.",
          "type": "string"
        },
        "originNamespace": {
          "type": "string",
          "description": "A string containing a more specific namespace of the counter's origin."
        },
        "origin": {
          "type": "string",
          "enumDescriptions": [
            "Counter was created by the Dataflow system.",
            "Counter was created by the user."
          ],
          "enum": [
            "SYSTEM",
            "USER"
          ],
          "description": "One of the standard Origins defined above."
        },
        "componentStepName": {
          "description": "Name of the optimized step being executed by the workers.",
          "type": "string"
        },
        "workerId": {
          "type": "string",
          "description": "ID of a particular worker."
        },
        "originalRequestingStepName": {
          "description": "The step name requesting an operation, such as GBK. I.e. the ParDo causing a read/write from shuffle to occur, or a read from side inputs.",
          "type": "string"
        },
        "executionStepName": {
          "description": "Name of the stage. An execution step contains multiple component steps.",
          "type": "string"
        },
        "name": {
          "description": "Counter name. Not necessarily globally-unique, but unique within the context of the other fields. Required.",
          "type": "string"
        }
      },
      "id": "CounterStructuredName",
      "description": "Identifies a counter within a per-job namespace. Counters whose structured names are the same get merged into a single value for the job.",
      "type": "object"
    },
    "HotKeyDebuggingInfo": {
      "id": "HotKeyDebuggingInfo",
      "properties": {
        "detectedHotKeys": {
          "type": "object",
          "description": "Debugging information for each detected hot key. Keyed by a hash of the key.",
          "additionalProperties": {
            "$ref": "HotKeyInfo"
          }
        }
      },
      "description": "Information useful for debugging a hot key detection.",
      "type": "object"
    },
    "MetricUpdate": {
      "id": "MetricUpdate",
      "properties": {
        "internal": {
          "type": "any",
          "description": "Worker-computed aggregate value for internal use by the Dataflow service."
        },
        "distribution": {
          "description": "A struct value describing properties of a distribution of numeric values.",
          "type": "any"
        },
        "name": {
          "description": "Name of the metric.",
          "$ref": "MetricStructuredName"
        },
        "cumulative": {
          "type": "boolean",
          "description": "True if this metric is reported as the total cumulative aggregate value accumulated since the worker started working on this WorkItem. By default this is false, indicating that this metric is reported as a delta that is not associated with any WorkItem."
        },
        "meanSum": {
          "type": "any",
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the sum of the aggregated values and is used in combination with mean_count below to obtain the actual mean aggregate value. The only possible value types are Long and Double."
        },
        "kind": {
          "type": "string",
          "description": "Metric aggregation kind. The possible metric aggregation kinds are \"Sum\", \"Max\", \"Min\", \"Mean\", \"Set\", \"And\", \"Or\", and \"Distribution\". The specified aggregation kind is case-insensitive. If omitted, this is not an aggregated value but instead a single metric sample value."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp associated with the metric value. Optional when workers are reporting work progress; it will be filled in responses from the metrics API."
        },
        "gauge": {
          "type": "any",
          "description": "A struct value describing properties of a Gauge. Metrics of gauge type show the value of a metric across time, and is aggregated based on the newest value."
        },
        "meanCount": {
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the count of the aggregated values and is used in combination with mean_sum above to obtain the actual mean aggregate value. The only possible value type is Long.",
          "type": "any"
        },
        "set": {
          "description": "Worker-computed aggregate value for the \"Set\" aggregation kind. The only possible value type is a list of Values whose type can be Long, Double, or String, according to the metric's type. All Values in the list must be of the same type.",
          "type": "any"
        },
        "scalar": {
          "description": "Worker-computed aggregate value for aggregation kinds \"Sum\", \"Max\", \"Min\", \"And\", and \"Or\". The possible value types are Long, Double, and Boolean.",
          "type": "any"
        }
      },
      "type": "object",
      "description": "Describes the state of a metric."
    },
    "StragglerInfo": {
      "description": "Information useful for straggler identification and debugging.",
      "id": "StragglerInfo",
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "The time when the work item attempt became a straggler.",
          "format": "google-datetime"
        },
        "causes": {
          "description": "The straggler causes, keyed by the string representation of the StragglerCause enum and contains specialized debugging information for each straggler cause.",
          "type": "object",
          "additionalProperties": {
            "$ref": "StragglerDebuggingInfo"
          }
        }
      }
    },
    "GetTemplateResponse": {
      "properties": {
        "status": {
          "description": "The status of the get template request. Any problems with the request will be indicated in the error_details.",
          "$ref": "Status"
        },
        "templateType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown Template Type.",
            "Legacy Template.",
            "Flex Template."
          ],
          "description": "Template Type.",
          "enum": [
            "UNKNOWN",
            "LEGACY",
            "FLEX"
          ]
        },
        "runtimeMetadata": {
          "description": "Describes the runtime metadata with SDKInfo and available parameters.",
          "$ref": "RuntimeMetadata"
        },
        "metadata": {
          "$ref": "TemplateMetadata",
          "description": "The template metadata describing the template name, available parameters, etc."
        }
      },
      "id": "GetTemplateResponse",
      "description": "The response to a GetTemplate request.",
      "type": "object"
    },
    "BigTableIODetails": {
      "id": "BigTableIODetails",
      "type": "object",
      "description": "Metadata for a Cloud Bigtable connector used by the job.",
      "properties": {
        "projectId": {
          "description": "ProjectId accessed in the connection.",
          "type": "string"
        },
        "tableId": {
          "description": "TableId accessed in the connection.",
          "type": "string"
        },
        "instanceId": {
          "description": "InstanceId accessed in the connection.",
          "type": "string"
        }
      }
    },
    "ReportedParallelism": {
      "type": "object",
      "properties": {
        "isInfinite": {
          "description": "Specifies whether the parallelism is infinite. If true, \"value\" is ignored. Infinite parallelism means the service will assume that the work item can always be split into more non-empty work items by dynamic splitting. This is a work-around for lack of support for infinity by the current JSON-based Java RPC stack.",
          "type": "boolean"
        },
        "value": {
          "description": "Specifies the level of parallelism in case it is finite.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "ReportedParallelism",
      "description": "Represents the level of parallelism in a WorkItem's input, reported by the worker."
    },
    "AutoscalingSettings": {
      "description": "Settings for WorkerPool autoscaling.",
      "type": "object",
      "id": "AutoscalingSettings",
      "properties": {
        "maxNumWorkers": {
          "type": "integer",
          "description": "The maximum number of workers to cap scaling at.",
          "format": "int32"
        },
        "algorithm": {
          "enumDescriptions": [
            "The algorithm is unknown, or unspecified.",
            "Disable autoscaling.",
            "Increase worker count over time to reduce job execution time."
          ],
          "enum": [
            "AUTOSCALING_ALGORITHM_UNKNOWN",
            "AUTOSCALING_ALGORITHM_NONE",
            "AUTOSCALING_ALGORITHM_BASIC"
          ],
          "type": "string",
          "description": "The algorithm to use for autoscaling."
        }
      }
    },
    "JobExecutionInfo": {
      "type": "object",
      "description": "Additional information about how a Cloud Dataflow job will be executed that isn't contained in the submitted job.",
      "properties": {
        "stages": {
          "additionalProperties": {
            "$ref": "JobExecutionStageInfo"
          },
          "description": "A mapping from each stage to the information about that stage.",
          "type": "object"
        }
      },
      "id": "JobExecutionInfo"
    },
    "JobMessage": {
      "properties": {
        "time": {
          "type": "string",
          "description": "The timestamp of the message.",
          "format": "google-datetime"
        },
        "messageImportance": {
          "enumDescriptions": [
            "The message importance isn't specified, or is unknown.",
            "The message is at the 'debug' level: typically only useful for software engineers working on the code the job is running. Typically, Dataflow pipeline runners do not display log messages at this level by default.",
            "The message is at the 'detailed' level: somewhat verbose, but potentially useful to users. Typically, Dataflow pipeline runners do not display log messages at this level by default. These messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'basic' level: useful for keeping track of the execution of a Dataflow pipeline. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'warning' level: indicating a condition pertaining to a job which may require human intervention. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'error' level: indicating a condition preventing a job from succeeding. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI."
          ],
          "enum": [
            "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
            "JOB_MESSAGE_DEBUG",
            "JOB_MESSAGE_DETAILED",
            "JOB_MESSAGE_BASIC",
            "JOB_MESSAGE_WARNING",
            "JOB_MESSAGE_ERROR"
          ],
          "type": "string",
          "description": "Importance level of the message."
        },
        "id": {
          "type": "string",
          "description": "Deprecated."
        },
        "messageText": {
          "description": "The text of the message.",
          "type": "string"
        }
      },
      "description": "A particular message pertaining to a Dataflow job.",
      "type": "object",
      "id": "JobMessage"
    },
    "DisplayData": {
      "description": "Data provided with a pipeline or transform to provide descriptive info.",
      "properties": {
        "boolValue": {
          "description": "Contains value if the data is of a boolean type.",
          "type": "boolean"
        },
        "label": {
          "type": "string",
          "description": "An optional label to display in a dax UI for the element."
        },
        "url": {
          "type": "string",
          "description": "An optional full URL."
        },
        "key": {
          "description": "The key identifying the display data. This is intended to be used as a label for the display data when viewed in a dax monitoring system.",
          "type": "string"
        },
        "strValue": {
          "type": "string",
          "description": "Contains value if the data is of string type."
        },
        "floatValue": {
          "format": "float",
          "description": "Contains value if the data is of float type.",
          "type": "number"
        },
        "javaClassValue": {
          "description": "Contains value if the data is of java class type.",
          "type": "string"
        },
        "durationValue": {
          "type": "string",
          "format": "google-duration",
          "description": "Contains value if the data is of duration type."
        },
        "timestampValue": {
          "type": "string",
          "description": "Contains value if the data is of timestamp type.",
          "format": "google-datetime"
        },
        "shortStrValue": {
          "type": "string",
          "description": "A possible additional shorter value to display. For example a java_class_name_value of com.mypackage.MyDoFn will be stored with MyDoFn as the short_str_value and com.mypackage.MyDoFn as the java_class_name value. short_str_value can be displayed and java_class_name_value will be displayed as a tooltip."
        },
        "int64Value": {
          "description": "Contains value if the data is of int64 type.",
          "type": "string",
          "format": "int64"
        },
        "namespace": {
          "description": "The namespace for the key. This is usually a class name or programming language namespace (i.e. python module) which defines the display data. This allows a dax monitoring system to specially handle the data and perform custom rendering.",
          "type": "string"
        }
      },
      "id": "DisplayData",
      "type": "object"
    },
    "HotKeyInfo": {
      "description": "Information about a hot key.",
      "properties": {
        "keyTruncated": {
          "type": "boolean",
          "description": "If true, then the above key is truncated and cannot be deserialized. This occurs if the key above is populated and the key size is \u003e5MB."
        },
        "hotKeyAge": {
          "type": "string",
          "format": "google-duration",
          "description": "The age of the hot key measured from when it was first detected."
        },
        "key": {
          "type": "string",
          "description": "A detected hot key that is causing limited parallelism. This field will be populated only if the following flag is set to true: \"--enable_hot_key_logging\"."
        }
      },
      "type": "object",
      "id": "HotKeyInfo"
    },
    "InstructionInput": {
      "properties": {
        "outputNum": {
          "description": "The output index (origin zero) within the producer.",
          "type": "integer",
          "format": "int32"
        },
        "producerInstructionIndex": {
          "format": "int32",
          "description": "The index (origin zero) of the parallel instruction that produces the output to be consumed by this input. This index is relative to the list of instructions in this input's instruction's containing MapTask.",
          "type": "integer"
        }
      },
      "id": "InstructionInput",
      "type": "object",
      "description": "An input of an instruction, as a reference to an output of a producer instruction."
    },
    "KeyRangeDataDiskAssignment": {
      "properties": {
        "dataDisk": {
          "type": "string",
          "description": "The name of the data disk where data for this range is stored. This name is local to the Google Cloud Platform project and uniquely identifies the disk within that project, for example \"myproject-1014-104817-4c2-harness-0-disk-1\"."
        },
        "start": {
          "type": "string",
          "description": "The start (inclusive) of the key range."
        },
        "end": {
          "type": "string",
          "description": "The end (exclusive) of the key range."
        }
      },
      "id": "KeyRangeDataDiskAssignment",
      "description": "Data disk assignment information for a specific key-range of a sharded computation. Currently we only support UTF-8 character splits to simplify encoding into JSON.",
      "type": "object"
    },
    "SplitInt64": {
      "type": "object",
      "description": "A representation of an int64, n, that is immune to precision loss when encoded in JSON.",
      "properties": {
        "lowBits": {
          "description": "The low order bits: n & 0xffffffff.",
          "type": "integer",
          "format": "uint32"
        },
        "highBits": {
          "description": "The high order bits, including the sign: n \u003e\u003e 32.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "SplitInt64"
    },
    "WriteInstruction": {
      "properties": {
        "sink": {
          "$ref": "Sink",
          "description": "The sink to write to."
        },
        "input": {
          "description": "The input.",
          "$ref": "InstructionInput"
        }
      },
      "id": "WriteInstruction",
      "description": "An instruction that writes records. Takes one input, produces no outputs.",
      "type": "object"
    },
    "ReadInstruction": {
      "properties": {
        "source": {
          "$ref": "Source",
          "description": "The source to read from."
        }
      },
      "type": "object",
      "id": "ReadInstruction",
      "description": "An instruction that reads records. Takes no inputs, produces one output."
    },
    "StageExecutionDetails": {
      "type": "object",
      "id": "StageExecutionDetails",
      "description": "Information about the workers and work items within a stage.",
      "properties": {
        "workers": {
          "items": {
            "$ref": "WorkerDetails"
          },
          "type": "array",
          "description": "Workers that have done work on the stage."
        },
        "nextPageToken": {
          "description": "If present, this response does not contain all requested tasks. To obtain the next page of results, repeat the request with page_token set to this value.",
          "type": "string"
        }
      }
    },
    "WorkerSettings": {
      "id": "WorkerSettings",
      "description": "Provides data to pass through to the worker harness.",
      "properties": {
        "workerId": {
          "description": "The ID of the worker running this pipeline.",
          "type": "string"
        },
        "reportingEnabled": {
          "description": "Whether to send work progress updates to the service.",
          "type": "boolean"
        },
        "baseUrl": {
          "type": "string",
          "description": "The base URL for accessing Google Cloud APIs. When workers access Google Cloud APIs, they logically do so via relative URLs. If this field is specified, it supplies the base URL to use for resolving these relative URLs. The normative algorithm used is defined by RFC 1808, \"Relative Uniform Resource Locators\". If not specified, the default value is \"http://www.googleapis.com/\""
        },
        "servicePath": {
          "description": "The Cloud Dataflow service path relative to the root URL, for example, \"dataflow/v1b3/projects\".",
          "type": "string"
        },
        "tempStoragePrefix": {
          "description": "The prefix of the resources the system should use for temporary storage. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}",
          "type": "string"
        },
        "shuffleServicePath": {
          "description": "The Shuffle service path relative to the root URL, for example, \"shuffle/v1beta1\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CounterMetadata": {
      "description": "CounterMetadata includes all static non-name non-value counter attributes.",
      "id": "CounterMetadata",
      "properties": {
        "standardUnits": {
          "description": "System defined Units, see above enum.",
          "type": "string",
          "enum": [
            "BYTES",
            "BYTES_PER_SEC",
            "MILLISECONDS",
            "MICROSECONDS",
            "NANOSECONDS",
            "TIMESTAMP_MSEC",
            "TIMESTAMP_USEC",
            "TIMESTAMP_NSEC"
          ],
          "enumDescriptions": [
            "Counter returns a value in bytes.",
            "Counter returns a value in bytes per second.",
            "Counter returns a value in milliseconds.",
            "Counter returns a value in microseconds.",
            "Counter returns a value in nanoseconds.",
            "Counter returns a timestamp in milliseconds.",
            "Counter returns a timestamp in microseconds.",
            "Counter returns a timestamp in nanoseconds."
          ]
        },
        "kind": {
          "enum": [
            "INVALID",
            "SUM",
            "MAX",
            "MIN",
            "MEAN",
            "OR",
            "AND",
            "SET",
            "DISTRIBUTION",
            "LATEST_VALUE"
          ],
          "description": "Counter aggregation kind.",
          "type": "string",
          "enumDescriptions": [
            "Counter aggregation kind was not set.",
            "Aggregated value is the sum of all contributed values.",
            "Aggregated value is the max of all contributed values.",
            "Aggregated value is the min of all contributed values.",
            "Aggregated value is the mean of all contributed values.",
            "Aggregated value represents the logical 'or' of all contributed values.",
            "Aggregated value represents the logical 'and' of all contributed values.",
            "Aggregated value is a set of unique contributed values.",
            "Aggregated value captures statistics about a distribution.",
            "Aggregated value tracks the latest value of a variable."
          ]
        },
        "otherUnits": {
          "description": "A string referring to the unit type.",
          "type": "string"
        },
        "description": {
          "description": "Human-readable description of the counter semantics.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SeqMapTask": {
      "type": "object",
      "properties": {
        "userFn": {
          "description": "The user function to invoke.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "inputs": {
          "description": "Information about each of the inputs.",
          "type": "array",
          "items": {
            "$ref": "SideInputInfo"
          }
        },
        "systemName": {
          "type": "string",
          "description": "System-defined name of the SeqDo operation. Unique across the workflow."
        },
        "name": {
          "type": "string",
          "description": "The user-provided name of the SeqDo operation."
        },
        "stageName": {
          "type": "string",
          "description": "System-defined name of the stage containing the SeqDo operation. Unique across the workflow."
        },
        "outputInfos": {
          "items": {
            "$ref": "SeqMapTaskOutputInfo"
          },
          "type": "array",
          "description": "Information about each of the outputs."
        }
      },
      "id": "SeqMapTask",
      "description": "Describes a particular function to invoke."
    },
    "ShellTask": {
      "type": "object",
      "properties": {
        "exitCode": {
          "format": "int32",
          "type": "integer",
          "description": "Exit code for the task."
        },
        "command": {
          "type": "string",
          "description": "The shell command to run."
        }
      },
      "id": "ShellTask",
      "description": "A task which consists of a shell command for the worker to execute."
    },
    "SourceOperationResponse": {
      "type": "object",
      "description": "The result of a SourceOperationRequest, specified in ReportWorkItemStatusRequest.source_operation when the work item is completed.",
      "id": "SourceOperationResponse",
      "properties": {
        "split": {
          "$ref": "SourceSplitResponse",
          "description": "A response to a request to split a source."
        },
        "getMetadata": {
          "description": "A response to a request to get metadata about a source.",
          "$ref": "SourceGetMetadataResponse"
        }
      }
    },
    "MetricShortId": {
      "description": "The metric short id is returned to the user alongside an offset into ReportWorkItemStatusRequest",
      "type": "object",
      "id": "MetricShortId",
      "properties": {
        "metricIndex": {
          "description": "The index of the corresponding metric in the ReportWorkItemStatusRequest. Required.",
          "type": "integer",
          "format": "int32"
        },
        "shortId": {
          "type": "string",
          "format": "int64",
          "description": "The service-generated short identifier for the metric."
        }
      }
    },
    "StreamingComputationRanges": {
      "properties": {
        "rangeAssignments": {
          "description": "Data disk assignments for ranges from this computation.",
          "items": {
            "$ref": "KeyRangeDataDiskAssignment"
          },
          "type": "array"
        },
        "computationId": {
          "type": "string",
          "description": "The ID of the computation."
        }
      },
      "description": "Describes full or partial data disk assignment information of the computation ranges.",
      "id": "StreamingComputationRanges",
      "type": "object"
    },
    "GetDebugConfigResponse": {
      "id": "GetDebugConfigResponse",
      "type": "object",
      "properties": {
        "config": {
          "type": "string",
          "description": "The encoded debug configuration for the requested component."
        }
      },
      "description": "Response to a get debug configuration request."
    },
    "SourceFork": {
      "properties": {
        "primarySource": {
          "$ref": "DerivedSource",
          "description": "DEPRECATED"
        },
        "primary": {
          "description": "DEPRECATED",
          "$ref": "SourceSplitShard"
        },
        "residual": {
          "$ref": "SourceSplitShard",
          "description": "DEPRECATED"
        },
        "residualSource": {
          "$ref": "DerivedSource",
          "description": "DEPRECATED"
        }
      },
      "type": "object",
      "id": "SourceFork",
      "description": "DEPRECATED in favor of DynamicSourceSplit."
    },
    "ResourceUtilizationReport": {
      "description": "Worker metrics exported from workers. This contains resource utilization metrics accumulated from a variety of sources. For more information, see go/df-resource-signals.",
      "properties": {
        "cpuTime": {
          "description": "CPU utilization samples.",
          "items": {
            "$ref": "CPUTime"
          },
          "type": "array"
        },
        "memoryInfo": {
          "description": "Memory utilization samples.",
          "items": {
            "$ref": "MemInfo"
          },
          "type": "array"
        },
        "containers": {
          "description": "Per container information. Key: container name.",
          "additionalProperties": {
            "$ref": "ResourceUtilizationReport"
          },
          "type": "object"
        }
      },
      "id": "ResourceUtilizationReport",
      "type": "object"
    },
    "JobMetrics": {
      "description": "JobMetrics contains a collection of metrics describing the detailed progress of a Dataflow job. Metrics correspond to user-defined and system-defined metrics in the job. This resource captures only the most recent values of each metric; time-series data can be queried for them (under the same metric names) from Cloud Monitoring.",
      "properties": {
        "metricTime": {
          "format": "google-datetime",
          "description": "Timestamp as of which metric values are current.",
          "type": "string"
        },
        "metrics": {
          "items": {
            "$ref": "MetricUpdate"
          },
          "description": "All metrics for this job.",
          "type": "array"
        }
      },
      "id": "JobMetrics",
      "type": "object"
    },
    "SpannerIODetails": {
      "id": "SpannerIODetails",
      "description": "Metadata for a Spanner connector used by the job.",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "ProjectId accessed in the connection."
        },
        "databaseId": {
          "description": "DatabaseId accessed in the connection.",
          "type": "string"
        },
        "instanceId": {
          "description": "InstanceId accessed in the connection.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "StateFamilyConfig": {
      "type": "object",
      "properties": {
        "stateFamily": {
          "description": "The state family value.",
          "type": "string"
        },
        "isRead": {
          "type": "boolean",
          "description": "If true, this family corresponds to a read operation."
        }
      },
      "description": "State family configuration.",
      "id": "StateFamilyConfig"
    },
    "ComponentTransform": {
      "type": "object",
      "properties": {
        "originalTransform": {
          "description": "User name for the original user transform with which this transform is most closely associated.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Dataflow service generated name for this source."
        },
        "userName": {
          "description": "Human-readable name for this transform; may be user or system generated.",
          "type": "string"
        }
      },
      "description": "Description of a transform executed as part of an execution stage.",
      "id": "ComponentTransform"
    },
    "LaunchFlexTemplateResponse": {
      "properties": {
        "job": {
          "description": "The job that was launched, if the request was not a dry run and the job was successfully launched.",
          "$ref": "Job"
        }
      },
      "type": "object",
      "id": "LaunchFlexTemplateResponse",
      "description": "Response to the request to launch a job from Flex Template."
    },
    "ListJobMessagesResponse": {
      "description": "Response to a request to list job messages.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token to obtain the next page of results if there are more."
        },
        "jobMessages": {
          "description": "Messages in ascending timestamp order.",
          "items": {
            "$ref": "JobMessage"
          },
          "type": "array"
        },
        "autoscalingEvents": {
          "description": "Autoscaling events in ascending timestamp order.",
          "items": {
            "$ref": "AutoscalingEvent"
          },
          "type": "array"
        }
      },
      "id": "ListJobMessagesResponse"
    },
    "SourceSplitOptions": {
      "id": "SourceSplitOptions",
      "type": "object",
      "properties": {
        "desiredShardSizeBytes": {
          "type": "string",
          "description": "DEPRECATED in favor of desired_bundle_size_bytes.",
          "format": "int64"
        },
        "desiredBundleSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "The source should be split into a set of bundles where the estimated size of each is approximately this many bytes."
        }
      },
      "description": "Hints for splitting a Source into bundles (parts for parallel processing) using SourceSplitRequest."
    },
    "LaunchTemplateResponse": {
      "id": "LaunchTemplateResponse",
      "type": "object",
      "description": "Response to the request to launch a template.",
      "properties": {
        "job": {
          "description": "The job that was launched, if the request was not a dry run and the job was successfully launched.",
          "$ref": "Job"
        }
      }
    },
    "SendDebugCaptureResponse": {
      "properties": {},
      "type": "object",
      "description": "Response to a send capture request. nothing",
      "id": "SendDebugCaptureResponse"
    },
    "StragglerSummary": {
      "type": "object",
      "id": "StragglerSummary",
      "description": "Summarized straggler identification details.",
      "properties": {
        "totalStragglerCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of stragglers."
        },
        "stragglerCauseCount": {
          "description": "Aggregated counts of straggler causes, keyed by the string representation of the StragglerCause enum.",
          "type": "object",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          }
        }
      }
    },
    "SDKInfo": {
      "properties": {
        "language": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "JAVA",
            "PYTHON",
            "GO"
          ],
          "enumDescriptions": [
            "UNKNOWN Language.",
            "Java.",
            "Python.",
            "Go."
          ],
          "description": "Required. The SDK Language."
        },
        "version": {
          "type": "string",
          "description": "Optional. The SDK version."
        }
      },
      "id": "SDKInfo",
      "type": "object",
      "description": "SDK Information."
    },
    "FloatingPointList": {
      "description": "A metric value representing a list of floating point numbers.",
      "properties": {
        "elements": {
          "items": {
            "format": "double",
            "type": "number"
          },
          "description": "Elements of the list.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "FloatingPointList"
    },
    "TopologyConfig": {
      "properties": {
        "forwardingKeyBits": {
          "format": "int32",
          "description": "The size (in bits) of keys that will be assigned to source messages.",
          "type": "integer"
        },
        "computations": {
          "items": {
            "$ref": "ComputationTopology"
          },
          "type": "array",
          "description": "The computations associated with a streaming Dataflow job."
        },
        "dataDiskAssignments": {
          "items": {
            "$ref": "DataDiskAssignment"
          },
          "description": "The disks assigned to a streaming Dataflow job.",
          "type": "array"
        },
        "userStageToComputationNameMap": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Maps user stage names to stable computation names."
        },
        "persistentStateVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Version number for persistent state."
        }
      },
      "type": "object",
      "description": "Global topology of the streaming Dataflow job, including all computations and their sharded locations.",
      "id": "TopologyConfig"
    },
    "StreamingStageLocation": {
      "id": "StreamingStageLocation",
      "properties": {
        "streamId": {
          "description": "Identifies the particular stream within the streaming Dataflow job.",
          "type": "string"
        }
      },
      "description": "Identifies the location of a streaming computation stage, for stage-to-stage communication.",
      "type": "object"
    },
    "QueryInfo": {
      "type": "object",
      "properties": {
        "queryProperty": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The query property is unknown or unspecified.",
              "Indicates this query reads from \u003e= 1 unbounded source."
            ],
            "enum": [
              "QUERY_PROPERTY_UNSPECIFIED",
              "HAS_UNBOUNDED_SOURCE"
            ]
          },
          "type": "array",
          "description": "Includes an entry for each satisfied QueryProperty."
        }
      },
      "description": "Information about a validated query.",
      "id": "QueryInfo"
    },
    "ConcatPosition": {
      "properties": {
        "position": {
          "description": "Position within the inner source.",
          "$ref": "Position"
        },
        "index": {
          "description": "Index of the inner source.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "A position that encapsulates an inner position and an index for the inner position. A ConcatPosition can be used by a reader of a source that encapsulates a set of other sources.",
      "id": "ConcatPosition",
      "type": "object"
    },
    "CPUTime": {
      "description": "Modeled after information exposed by /proc/stat.",
      "id": "CPUTime",
      "properties": {
        "rate": {
          "type": "number",
          "description": "Average CPU utilization rate (% non-idle cpu / second) since previous sample.",
          "format": "double"
        },
        "totalMs": {
          "type": "string",
          "format": "uint64",
          "description": "Total active CPU time across all cores (ie., non-idle) in milliseconds since start-up."
        },
        "timestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp of the measurement."
        }
      },
      "type": "object"
    },
    "SourceSplitRequest": {
      "id": "SourceSplitRequest",
      "description": "Represents the operation to split a high-level Source specification into bundles (parts for parallel processing). At a high level, splitting of a source into bundles happens as follows: SourceSplitRequest is applied to the source. If it returns SOURCE_SPLIT_OUTCOME_USE_CURRENT, no further splitting happens and the source is used \"as is\". Otherwise, splitting is applied recursively to each produced DerivedSource. As an optimization, for any Source, if its does_not_need_splitting is true, the framework assumes that splitting this source would return SOURCE_SPLIT_OUTCOME_USE_CURRENT, and doesn't initiate a SourceSplitRequest. This applies both to the initial source being split and to bundles produced from it.",
      "properties": {
        "source": {
          "description": "Specification of the source to be split.",
          "$ref": "Source"
        },
        "options": {
          "description": "Hints for tuning the splitting process.",
          "$ref": "SourceSplitOptions"
        }
      },
      "type": "object"
    },
    "AutoscalingEvent": {
      "type": "object",
      "id": "AutoscalingEvent",
      "properties": {
        "targetNumWorkers": {
          "format": "int64",
          "type": "string",
          "description": "The target number of workers the worker pool wants to resize to use."
        },
        "workerPool": {
          "description": "A short and friendly name for the worker pool this event refers to.",
          "type": "string"
        },
        "currentNumWorkers": {
          "type": "string",
          "format": "int64",
          "description": "The current number of workers the job has."
        },
        "description": {
          "$ref": "StructuredMessage",
          "description": "A message describing why the system decided to adjust the current number of workers, why it failed, or why the system decided to not make any changes to the number of workers."
        },
        "eventType": {
          "enum": [
            "TYPE_UNKNOWN",
            "TARGET_NUM_WORKERS_CHANGED",
            "CURRENT_NUM_WORKERS_CHANGED",
            "ACTUATION_FAILURE",
            "NO_CHANGE"
          ],
          "enumDescriptions": [
            "Default type for the enum. Value should never be returned.",
            "The TARGET_NUM_WORKERS_CHANGED type should be used when the target worker pool size has changed at the start of an actuation. An event should always be specified as TARGET_NUM_WORKERS_CHANGED if it reflects a change in the target_num_workers.",
            "The CURRENT_NUM_WORKERS_CHANGED type should be used when actual worker pool size has been changed, but the target_num_workers has not changed.",
            "The ACTUATION_FAILURE type should be used when we want to report an error to the user indicating why the current number of workers in the pool could not be changed. Displayed in the current status and history widgets.",
            "Used when we want to report to the user a reason why we are not currently adjusting the number of workers. Should specify both target_num_workers, current_num_workers and a decision_message."
          ],
          "description": "The type of autoscaling event to report.",
          "type": "string"
        },
        "time": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time this event was emitted to indicate a new target or current num_workers value."
        }
      },
      "description": "A structured message reporting an autoscaling decision made by the Dataflow service."
    },
    "WorkItemDetails": {
      "id": "WorkItemDetails",
      "properties": {
        "state": {
          "enumDescriptions": [
            "The component state is unknown or unspecified.",
            "The component is not yet running.",
            "The component is currently running.",
            "The component succeeded.",
            "The component failed.",
            "Execution of the component was cancelled."
          ],
          "type": "string",
          "description": "State of this work item.",
          "enum": [
            "EXECUTION_STATE_UNKNOWN",
            "EXECUTION_STATE_NOT_STARTED",
            "EXECUTION_STATE_RUNNING",
            "EXECUTION_STATE_SUCCEEDED",
            "EXECUTION_STATE_FAILED",
            "EXECUTION_STATE_CANCELLED"
          ]
        },
        "endTime": {
          "type": "string",
          "description": "End time of this work item attempt. If the work item is completed, this is the actual end time of the work item. Otherwise, it is the predicted end time.",
          "format": "google-datetime"
        },
        "stragglerInfo": {
          "$ref": "StragglerInfo",
          "description": "Information about straggler detections for this work item."
        },
        "attemptId": {
          "type": "string",
          "description": "Attempt ID of this work item"
        },
        "progress": {
          "$ref": "ProgressTimeseries",
          "description": "Progress of this work item."
        },
        "taskId": {
          "type": "string",
          "description": "Name of this work item."
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Start time of this work item attempt."
        },
        "metrics": {
          "type": "array",
          "description": "Metrics for this work item.",
          "items": {
            "$ref": "MetricUpdate"
          }
        }
      },
      "type": "object",
      "description": "Information about an individual work item execution."
    },
    "InstructionOutput": {
      "description": "An output of an instruction.",
      "id": "InstructionOutput",
      "properties": {
        "onlyCountValueBytes": {
          "description": "For system-generated byte and mean byte metrics, certain instructions should only report the value size.",
          "type": "boolean"
        },
        "systemName": {
          "description": "System-defined name of this output. Unique across the workflow.",
          "type": "string"
        },
        "name": {
          "description": "The user-provided name of this output.",
          "type": "string"
        },
        "codec": {
          "description": "The codec to use to encode data being written via this output.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "originalName": {
          "description": "System-defined name for this output in the original workflow graph. Outputs that do not contribute to an original instruction do not set this.",
          "type": "string"
        },
        "onlyCountKeyBytes": {
          "type": "boolean",
          "description": "For system-generated byte and mean byte metrics, certain instructions should only report the key size."
        }
      },
      "type": "object"
    },
    "LaunchFlexTemplateParameter": {
      "description": "Launch FlexTemplate Parameter.",
      "type": "object",
      "id": "LaunchFlexTemplateParameter",
      "properties": {
        "jobName": {
          "description": "Required. The job name to use for the created job. For update job request, job name should be same as the existing running job.",
          "type": "string"
        },
        "update": {
          "description": "Set this to true if you are sending a request to update a running streaming job. When set, the job name should be the same as the running job.",
          "type": "boolean"
        },
        "transformNameMappings": {
          "type": "object",
          "description": "Use this to pass transform_name_mappings for streaming update jobs. Ex:{\"oldTransformName\":\"newTransformName\",...}'",
          "additionalProperties": {
            "type": "string"
          }
        },
        "containerSpec": {
          "description": "Spec about the container image to launch.",
          "$ref": "ContainerSpec"
        },
        "containerSpecGcsPath": {
          "description": "Cloud Storage path to a file with json serialized ContainerSpec as content.",
          "type": "string"
        },
        "environment": {
          "description": "The runtime environment for the FlexTemplate job",
          "$ref": "FlexTemplateRuntimeEnvironment"
        },
        "launchOptions": {
          "description": "Launch options for this flex template job. This is a common set of options across languages and templates. This should not be used to pass job parameters.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
[...]
