{
  "discoveryVersion": "v1",
  "servicePath": "",
  "version": "v1b3",
  "id": "dataflow:v1b3",
  "basePath": "",
  "canonicalName": "Dataflow",
  "description": "Manages Google Cloud Dataflow projects on Google Cloud Platform.",
  "revision": "20230902",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "Disk": {
      "id": "Disk",
      "description": "Describes the data disk used by a workflow job.",
      "properties": {
        "diskType": {
          "description": "Disk storage type, as defined by Google Compute Engine. This must be a disk type appropriate to the project and zone in which the workers will run. If unknown or unspecified, the service will attempt to choose a reasonable default. For example, the standard persistent disk type is a resource name typically ending in \"pd-standard\". If SSD persistent disks are available, the resource name typically ends with \"pd-ssd\". The actual valid values are defined the Google Compute Engine API, not by the Cloud Dataflow API; consult the Google Compute Engine documentation for more information about determining the set of available disk types for a particular project and zone. Google Compute Engine Disk types are local to a particular project in a particular zone, and so the resource name will typically look something like this: compute.googleapis.com/projects/project-id/zones/zone/diskTypes/pd-standard",
          "type": "string"
        },
        "sizeGb": {
          "description": "Size of disk in GB. If zero or unspecified, the service will attempt to choose a reasonable default.",
          "type": "integer",
          "format": "int32"
        },
        "mountPoint": {
          "type": "string",
          "description": "Directory in a VM where disk is mounted."
        }
      },
      "type": "object"
    },
    "TopologyConfig": {
      "description": "Global topology of the streaming Dataflow job, including all computations and their sharded locations.",
      "type": "object",
      "id": "TopologyConfig",
      "properties": {
        "computations": {
          "type": "array",
          "items": {
            "$ref": "ComputationTopology"
          },
          "description": "The computations associated with a streaming Dataflow job."
        },
        "forwardingKeyBits": {
          "type": "integer",
          "description": "The size (in bits) of keys that will be assigned to source messages.",
          "format": "int32"
        },
        "userStageToComputationNameMap": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Maps user stage names to stable computation names."
        },
        "persistentStateVersion": {
          "format": "int32",
          "type": "integer",
          "description": "Version number for persistent state."
        },
        "dataDiskAssignments": {
          "type": "array",
          "items": {
            "$ref": "DataDiskAssignment"
          },
          "description": "The disks assigned to a streaming Dataflow job."
        }
      }
    },
    "MultiOutputInfo": {
      "description": "Information about an output of a multi-output DoFn.",
      "id": "MultiOutputInfo",
      "properties": {
        "tag": {
          "type": "string",
          "description": "The id of the tag the user code will emit to this output by; this should correspond to the tag of some SideInputInfo."
        }
      },
      "type": "object"
    },
    "DebugOptions": {
      "id": "DebugOptions",
      "type": "object",
      "properties": {
        "enableHotKeyLogging": {
          "description": "When true, enables the logging of the literal hot key to the user's Cloud Logging.",
          "type": "boolean"
        },
        "dataSampling": {
          "$ref": "DataSamplingConfig",
          "description": "Configuration options for sampling elements from a running pipeline."
        }
      },
      "description": "Describes any options that have an effect on the debugging of pipelines."
    },
    "DynamicSourceSplit": {
      "type": "object",
      "id": "DynamicSourceSplit",
      "description": "When a task splits using WorkItemStatus.dynamic_source_split, this message describes the two parts of the split relative to the description of the current task's input.",
      "properties": {
        "residual": {
          "$ref": "DerivedSource",
          "description": "Residual part (returned to the pool of work). Specified relative to the previously-current source."
        },
        "primary": {
          "$ref": "DerivedSource",
          "description": "Primary part (continued to be processed by worker). Specified relative to the previously-current source. Becomes current."
        }
      }
    },
    "GetDebugConfigRequest": {
      "properties": {
        "location": {
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
          "type": "string"
        },
        "componentId": {
          "description": "The internal component id for which debug configuration is requested.",
          "type": "string"
        },
        "workerId": {
          "type": "string",
          "description": "The worker id, i.e., VM hostname."
        }
      },
      "id": "GetDebugConfigRequest",
      "description": "Request to get updated debug configuration for component.",
      "type": "object"
    },
    "WorkerHealthReport": {
      "id": "WorkerHealthReport",
      "properties": {
        "vmIsBroken": {
          "description": "Whether the VM is in a permanently broken state. Broken VMs should be abandoned or deleted ASAP to avoid assigning or completing any work.",
          "type": "boolean"
        },
        "vmIsHealthy": {
          "type": "boolean",
          "description": "Whether the VM is currently healthy."
        },
        "pods": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array",
          "description": "The pods running on the worker. See: http://kubernetes.io/v1.1/docs/api-reference/v1/definitions.html#_v1_pod This field is used by the worker to send the status of the indvidual containers running on each worker."
        },
        "msg": {
          "type": "string",
          "description": "Message describing any unusual health reports."
        },
        "vmBrokenCode": {
          "description": "Code to describe a specific reason, if known, that a VM has reported broken state.",
          "type": "string"
        },
        "vmStartupTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the VM was booted."
        },
        "reportInterval": {
          "format": "google-duration",
          "description": "The interval at which the worker is sending health reports. The default value of 0 should be interpreted as the field is not being explicitly set by the worker.",
          "type": "string"
        }
      },
      "description": "WorkerHealthReport contains information about the health of a worker. The VM should be identified by the labels attached to the WorkerMessage that this health ping belongs to.",
      "type": "object"
    },
    "BigTableIODetails": {
      "id": "BigTableIODetails",
      "description": "Metadata for a Cloud Bigtable connector used by the job.",
      "properties": {
        "projectId": {
          "description": "ProjectId accessed in the connection.",
          "type": "string"
        },
        "tableId": {
          "type": "string",
          "description": "TableId accessed in the connection."
        },
        "instanceId": {
          "type": "string",
          "description": "InstanceId accessed in the connection."
        }
      },
      "type": "object"
    },
    "StageSummary": {
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "End time of this stage. If the work item is completed, this is the actual end time of the stage. Otherwise, it is the predicted end time."
        },
        "state": {
          "enum": [
            "EXECUTION_STATE_UNKNOWN",
            "EXECUTION_STATE_NOT_STARTED",
            "EXECUTION_STATE_RUNNING",
            "EXECUTION_STATE_SUCCEEDED",
            "EXECUTION_STATE_FAILED",
            "EXECUTION_STATE_CANCELLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The component state is unknown or unspecified.",
            "The component is not yet running.",
            "The component is currently running.",
            "The component succeeded.",
            "The component failed.",
            "Execution of the component was cancelled."
          ],
          "description": "State of this stage."
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Start time of this stage."
        },
        "stragglerSummary": {
          "description": "Straggler summary for this stage.",
          "$ref": "StragglerSummary"
        },
        "metrics": {
          "description": "Metrics for this stage.",
          "type": "array",
          "items": {
            "$ref": "MetricUpdate"
          }
        },
        "stageId": {
          "type": "string",
          "description": "ID of this stage"
        },
        "progress": {
          "description": "Progress for this stage. Only applicable to Batch jobs.",
          "$ref": "ProgressTimeseries"
        }
      },
      "type": "object",
      "id": "StageSummary",
      "description": "Information about a particular execution stage of a job."
    },
    "DeleteSnapshotResponse": {
      "id": "DeleteSnapshotResponse",
      "description": "Response from deleting a snapshot.",
      "properties": {},
      "type": "object"
    },
    "SourceOperationRequest": {
      "properties": {
        "stageName": {
          "type": "string",
          "description": "System-defined name of the stage containing the source operation. Unique across the workflow."
        },
        "systemName": {
          "type": "string",
          "description": "System-defined name of the Read instruction for this source. Unique across the workflow."
        },
        "split": {
          "description": "Information about a request to split a source.",
          "$ref": "SourceSplitRequest"
        },
        "name": {
          "type": "string",
          "description": "User-provided name of the Read instruction for this source."
        },
        "originalName": {
          "description": "System-defined name for the Read instruction for this source in the original workflow graph.",
          "type": "string"
        },
        "getMetadata": {
          "description": "Information about a request to get metadata about a source.",
          "$ref": "SourceGetMetadataRequest"
        }
      },
      "description": "A work item that represents the different operations that can be performed on a user-defined Source specification.",
      "type": "object",
      "id": "SourceOperationRequest"
    },
    "Parameter": {
      "type": "object",
      "properties": {
        "value": {
          "type": "any",
          "description": "Value for this parameter."
        },
        "key": {
          "description": "Key or name for this parameter.",
          "type": "string"
        }
      },
      "description": "Structured data associated with this message.",
      "id": "Parameter"
    },
    "KeyRangeLocation": {
      "id": "KeyRangeLocation",
      "properties": {
        "deliveryEndpoint": {
          "description": "The physical location of this range assignment to be used for streaming computation cross-worker message delivery.",
          "type": "string"
        },
        "deprecatedPersistentDirectory": {
          "description": "DEPRECATED. The location of the persistent state for this range, as a persistent directory in the worker local filesystem.",
          "deprecated": true,
          "type": "string"
        },
        "dataDisk": {
          "type": "string",
          "description": "The name of the data disk where data for this range is stored. This name is local to the Google Cloud Platform project and uniquely identifies the disk within that project, for example \"myproject-1014-104817-4c2-harness-0-disk-1\"."
        },
        "end": {
          "description": "The end (exclusive) of the key range.",
          "type": "string"
        },
        "start": {
          "type": "string",
          "description": "The start (inclusive) of the key range."
        }
      },
      "type": "object",
      "description": "Location information for a specific key-range of a sharded computation. Currently we only support UTF-8 character splits to simplify encoding into JSON."
    },
    "Package": {
      "properties": {
        "name": {
          "description": "The name of the package.",
          "type": "string"
        },
        "location": {
          "description": "The resource to read the package from. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket} bucket.storage.googleapis.com/",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The packages that must be installed in order for a worker to run the steps of the Cloud Dataflow job that will be assigned to its worker pool. This is the mechanism by which the Cloud Dataflow SDK causes code to be loaded onto the workers. For example, the Cloud Dataflow Java SDK might use this to install jars containing the user's code and all of the various dependencies (libraries, data files, etc.) required in order for that code to run.",
      "id": "Package"
    },
    "SpannerIODetails": {
      "description": "Metadata for a Spanner connector used by the job.",
      "type": "object",
      "properties": {
        "instanceId": {
          "type": "string",
          "description": "InstanceId accessed in the connection."
        },
        "databaseId": {
          "type": "string",
          "description": "DatabaseId accessed in the connection."
        },
        "projectId": {
          "description": "ProjectId accessed in the connection.",
          "type": "string"
        }
      },
      "id": "SpannerIODetails"
    },
    "MetricStructuredName": {
      "type": "object",
      "properties": {
        "context": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Zero or more labeled fields which identify the part of the job this metric is associated with, such as the name of a step or collection. For example, built-in counters associated with steps will have context['step'] = . Counters associated with PCollections in the SDK will have context['pcollection'] = ."
        },
        "name": {
          "description": "Worker-defined metric name.",
          "type": "string"
        },
        "origin": {
          "type": "string",
          "description": "Origin (namespace) of metric name. May be blank for user-define metrics; will be \"dataflow\" for metrics defined by the Dataflow service or SDK."
        }
      },
      "description": "Identifies a metric, by describing the source which generated the metric.",
      "id": "MetricStructuredName"
    },
    "Position": {
      "id": "Position",
      "type": "object",
      "description": "Position defines a position within a collection of data. The value can be either the end position, a key (used with ordered collections), a byte offset, or a record index.",
      "properties": {
        "shufflePosition": {
          "description": "CloudPosition is a base64 encoded BatchShufflePosition (with FIXED sharding).",
          "type": "string"
        },
        "key": {
          "description": "Position is a string key, ordered lexicographically.",
          "type": "string"
        },
        "concatPosition": {
          "$ref": "ConcatPosition",
          "description": "CloudPosition is a concat position."
        },
        "end": {
          "type": "boolean",
          "description": "Position is past all other positions. Also useful for the end position of an unbounded range."
        },
        "recordIndex": {
          "format": "int64",
          "type": "string",
          "description": "Position is a record index."
        },
        "byteOffset": {
          "description": "Position is a byte offset.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "JobExecutionInfo": {
      "id": "JobExecutionInfo",
      "description": "Additional information about how a Cloud Dataflow job will be executed that isn't contained in the submitted job.",
      "type": "object",
      "properties": {
        "stages": {
          "type": "object",
          "additionalProperties": {
            "$ref": "JobExecutionStageInfo"
          },
          "description": "A mapping from each stage to the information about that stage."
        }
      }
    },
    "StringList": {
      "id": "StringList",
      "type": "object",
      "description": "A metric value representing a list of strings.",
      "properties": {
        "elements": {
          "description": "Elements of the list.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "StragglerSummary": {
      "description": "Summarized straggler identification details.",
      "id": "StragglerSummary",
      "properties": {
        "totalStragglerCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of stragglers."
        },
        "recentStragglers": {
          "type": "array",
          "description": "The most recent stragglers.",
          "items": {
            "$ref": "Straggler"
          }
        },
        "stragglerCauseCount": {
          "description": "Aggregated counts of straggler causes, keyed by the string representation of the StragglerCause enum.",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "DataSamplingConfig": {
      "properties": {
        "behaviors": {
          "description": "List of given sampling behaviors to enable. For example, specifying behaviors = [ALWAYS_ON] samples in-flight elements but does not sample exceptions. Can be used to specify multiple behaviors like, behaviors = [ALWAYS_ON, EXCEPTIONS] for specifying periodic sampling and exception sampling. If DISABLED is in the list, then sampling will be disabled and ignore the other given behaviors. Ordering does not matter.",
          "type": "array",
          "items": {
            "enum": [
              "DATA_SAMPLING_BEHAVIOR_UNSPECIFIED",
              "DISABLED",
              "ALWAYS_ON",
              "EXCEPTIONS"
            ],
            "type": "string",
            "enumDescriptions": [
              "If given, has no effect on sampling behavior. Used as an unknown or unset sentinel value.",
              "When given, disables element sampling. Has same behavior as not setting the behavior.",
              "When given, enables sampling in-flight from all PCollections.",
              "When given, enables sampling input elements when a user-defined DoFn causes an exception."
            ]
          }
        }
      },
      "id": "DataSamplingConfig",
      "type": "object",
      "description": "Configuration options for sampling elements."
    },
    "AutoscalingEvent": {
      "description": "A structured message reporting an autoscaling decision made by the Dataflow service.",
      "type": "object",
      "id": "AutoscalingEvent",
      "properties": {
        "targetNumWorkers": {
          "format": "int64",
          "description": "The target number of workers the worker pool wants to resize to use.",
          "type": "string"
        },
        "eventType": {
          "description": "The type of autoscaling event to report.",
          "enum": [
            "TYPE_UNKNOWN",
            "TARGET_NUM_WORKERS_CHANGED",
            "CURRENT_NUM_WORKERS_CHANGED",
            "ACTUATION_FAILURE",
            "NO_CHANGE"
          ],
          "enumDescriptions": [
            "Default type for the enum. Value should never be returned.",
            "The TARGET_NUM_WORKERS_CHANGED type should be used when the target worker pool size has changed at the start of an actuation. An event should always be specified as TARGET_NUM_WORKERS_CHANGED if it reflects a change in the target_num_workers.",
            "The CURRENT_NUM_WORKERS_CHANGED type should be used when actual worker pool size has been changed, but the target_num_workers has not changed.",
            "The ACTUATION_FAILURE type should be used when we want to report an error to the user indicating why the current number of workers in the pool could not be changed. Displayed in the current status and history widgets.",
            "Used when we want to report to the user a reason why we are not currently adjusting the number of workers. Should specify both target_num_workers, current_num_workers and a decision_message."
          ],
          "type": "string"
        },
        "workerPool": {
          "description": "A short and friendly name for the worker pool this event refers to.",
          "type": "string"
        },
        "description": {
          "description": "A message describing why the system decided to adjust the current number of workers, why it failed, or why the system decided to not make any changes to the number of workers.",
          "$ref": "StructuredMessage"
        },
        "time": {
          "description": "The time this event was emitted to indicate a new target or current num_workers value.",
          "format": "google-datetime",
          "type": "string"
        },
        "currentNumWorkers": {
          "format": "int64",
          "type": "string",
          "description": "The current number of workers the job has."
        }
      }
    },
    "CustomSourceLocation": {
      "properties": {
        "stateful": {
          "type": "boolean",
          "description": "Whether this source is stateful."
        }
      },
      "description": "Identifies the location of a custom souce.",
      "id": "CustomSourceLocation",
      "type": "object"
    },
    "ResourceUtilizationReport": {
      "id": "ResourceUtilizationReport",
      "description": "Worker metrics exported from workers. This contains resource utilization metrics accumulated from a variety of sources. For more information, see go/df-resource-signals.",
      "properties": {
        "memoryInfo": {
          "items": {
            "$ref": "MemInfo"
          },
          "description": "Memory utilization samples.",
          "type": "array"
        },
        "cpuTime": {
          "items": {
            "$ref": "CPUTime"
          },
          "type": "array",
          "description": "CPU utilization samples."
        },
        "containers": {
          "description": "Per container information. Key: container name.",
          "additionalProperties": {
            "$ref": "ResourceUtilizationReport"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "StreamingStageLocation": {
      "description": "Identifies the location of a streaming computation stage, for stage-to-stage communication.",
      "type": "object",
      "id": "StreamingStageLocation",
      "properties": {
        "streamId": {
          "description": "Identifies the particular stream within the streaming Dataflow job.",
          "type": "string"
        }
      }
    },
    "SourceFork": {
      "properties": {
        "primarySource": {
          "description": "DEPRECATED",
          "$ref": "DerivedSource"
        },
        "residualSource": {
          "description": "DEPRECATED",
          "$ref": "DerivedSource"
        },
        "residual": {
          "description": "DEPRECATED",
          "$ref": "SourceSplitShard"
        },
        "primary": {
          "description": "DEPRECATED",
          "$ref": "SourceSplitShard"
        }
      },
      "type": "object",
      "description": "DEPRECATED in favor of DynamicSourceSplit.",
      "id": "SourceFork"
    },
    "ResourceUtilizationReportResponse": {
      "description": "Service-side response to WorkerMessage reporting resource utilization.",
      "properties": {},
      "type": "object",
      "id": "ResourceUtilizationReportResponse"
    },
    "SeqMapTask": {
      "id": "SeqMapTask",
      "description": "Describes a particular function to invoke.",
      "properties": {
        "userFn": {
          "type": "object",
          "description": "The user function to invoke.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "inputs": {
          "items": {
            "$ref": "SideInputInfo"
          },
          "description": "Information about each of the inputs.",
          "type": "array"
        },
        "systemName": {
          "description": "System-defined name of the SeqDo operation. Unique across the workflow.",
          "type": "string"
        },
        "outputInfos": {
          "description": "Information about each of the outputs.",
          "type": "array",
          "items": {
            "$ref": "SeqMapTaskOutputInfo"
          }
        },
        "name": {
          "type": "string",
          "description": "The user-provided name of the SeqDo operation."
        },
        "stageName": {
          "description": "System-defined name of the stage containing the SeqDo operation. Unique across the workflow.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BigQueryIODetails": {
      "description": "Metadata for a BigQuery connector used by the job.",
      "properties": {
        "projectId": {
          "description": "Project accessed in the connection.",
          "type": "string"
        },
        "dataset": {
          "description": "Dataset accessed in the connection.",
          "type": "string"
        },
        "query": {
          "description": "Query used to access data in the connection.",
          "type": "string"
        },
        "table": {
          "description": "Table accessed in the connection.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "BigQueryIODetails"
    },
    "CounterStructuredNameAndMetadata": {
      "id": "CounterStructuredNameAndMetadata",
      "description": "A single message which encapsulates structured name and metadata for a given counter.",
      "properties": {
        "metadata": {
          "$ref": "CounterMetadata",
          "description": "Metadata associated with a counter"
        },
        "name": {
          "$ref": "CounterStructuredName",
          "description": "Structured name of the counter."
        }
      },
      "type": "object"
    },
    "StreamingStragglerInfo": {
      "properties": {
        "workerName": {
          "description": "Name of the worker where the straggler was detected.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "End time of this straggler.",
          "format": "google-datetime"
        },
        "dataWatermarkLag": {
          "description": "The event-time watermark lag at the time of the straggler detection.",
          "format": "google-duration",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Start time of this straggler."
        },
        "systemWatermarkLag": {
          "description": "The system watermark lag at the time of the straggler detection.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Information useful for streaming straggler identification and debugging.",
      "id": "StreamingStragglerInfo"
    },
    "StreamingSideInputLocation": {
      "properties": {
        "tag": {
          "description": "Identifies the particular side input within the streaming Dataflow job.",
          "type": "string"
        },
        "stateFamily": {
          "description": "Identifies the state family where this side input is stored.",
          "type": "string"
        }
      },
      "description": "Identifies the location of a streaming side input.",
      "type": "object",
      "id": "StreamingSideInputLocation"
    },
    "LaunchFlexTemplateRequest": {
      "type": "object",
      "id": "LaunchFlexTemplateRequest",
      "description": "A request to launch a Cloud Dataflow job from a FlexTemplate.",
      "properties": {
        "launchParameter": {
          "description": "Required. Parameter to launch a job form Flex Template.",
          "$ref": "LaunchFlexTemplateParameter"
        },
        "validateOnly": {
          "description": "If true, the request is validated but not actually executed. Defaults to false.",
          "type": "boolean"
        }
      }
    },
    "JobMetadata": {
      "id": "JobMetadata",
      "description": "Metadata available primarily for filtering jobs. Will be included in the ListJob response and Job SUMMARY view.",
      "type": "object",
      "properties": {
        "userDisplayProperties": {
          "description": "List of display properties to help UI filter jobs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "spannerDetails": {
          "items": {
            "$ref": "SpannerIODetails"
          },
          "description": "Identification of a Spanner source used in the Dataflow job.",
          "type": "array"
        },
        "sdkVersion": {
          "description": "The SDK version used to run the job.",
          "$ref": "SdkVersion"
        },
        "datastoreDetails": {
          "type": "array",
          "items": {
            "$ref": "DatastoreIODetails"
          },
          "description": "Identification of a Datastore source used in the Dataflow job."
        },
        "fileDetails": {
          "description": "Identification of a File source used in the Dataflow job.",
          "items": {
            "$ref": "FileIODetails"
          },
          "type": "array"
        },
        "pubsubDetails": {
          "description": "Identification of a Pub/Sub source used in the Dataflow job.",
          "type": "array",
          "items": {
            "$ref": "PubSubIODetails"
          }
        },
        "bigTableDetails": {
          "items": {
            "$ref": "BigTableIODetails"
          },
          "type": "array",
          "description": "Identification of a Cloud Bigtable source used in the Dataflow job."
        },
        "bigqueryDetails": {
          "description": "Identification of a BigQuery source used in the Dataflow job.",
          "type": "array",
          "items": {
            "$ref": "BigQueryIODetails"
          }
        }
      }
    },
    "JobMessage": {
      "description": "A particular message pertaining to a Dataflow job.",
      "type": "object",
      "properties": {
        "messageText": {
          "type": "string",
          "description": "The text of the message."
        },
        "messageImportance": {
          "enum": [
            "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
            "JOB_MESSAGE_DEBUG",
            "JOB_MESSAGE_DETAILED",
            "JOB_MESSAGE_BASIC",
            "JOB_MESSAGE_WARNING",
            "JOB_MESSAGE_ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "The message importance isn't specified, or is unknown.",
            "The message is at the 'debug' level: typically only useful for software engineers working on the code the job is running. Typically, Dataflow pipeline runners do not display log messages at this level by default.",
            "The message is at the 'detailed' level: somewhat verbose, but potentially useful to users. Typically, Dataflow pipeline runners do not display log messages at this level by default. These messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'basic' level: useful for keeping track of the execution of a Dataflow pipeline. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'warning' level: indicating a condition pertaining to a job which may require human intervention. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'error' level: indicating a condition preventing a job from succeeding. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI."
          ],
          "description": "Importance level of the message."
        },
        "time": {
          "format": "google-datetime",
          "description": "The timestamp of the message.",
          "type": "string"
        },
        "id": {
          "description": "Deprecated.",
          "type": "string"
        }
      },
      "id": "JobMessage"
    },
    "GetTemplateResponse": {
      "type": "object",
      "id": "GetTemplateResponse",
      "properties": {
        "runtimeMetadata": {
          "description": "Describes the runtime metadata with SDKInfo and available parameters.",
          "$ref": "RuntimeMetadata"
        },
        "status": {
          "$ref": "Status",
          "description": "The status of the get template request. Any problems with the request will be indicated in the error_details."
        },
        "metadata": {
          "description": "The template metadata describing the template name, available parameters, etc.",
          "$ref": "TemplateMetadata"
        },
        "templateType": {
          "type": "string",
          "description": "Template Type.",
          "enumDescriptions": [
            "Unknown Template Type.",
            "Legacy Template.",
            "Flex Template."
          ],
          "enum": [
            "UNKNOWN",
            "LEGACY",
            "FLEX"
          ]
        }
      },
      "description": "The response to a GetTemplate request."
    },
    "WorkItem": {
      "type": "object",
      "properties": {
        "packages": {
          "type": "array",
          "items": {
            "$ref": "Package"
          },
          "description": "Any required packages that need to be fetched in order to execute this WorkItem."
        },
        "projectId": {
          "type": "string",
          "description": "Identifies the cloud project this WorkItem belongs to."
        },
        "shellTask": {
          "description": "Additional information for ShellTask WorkItems.",
          "$ref": "ShellTask"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "Identifies this WorkItem."
        },
        "leaseExpireTime": {
          "description": "Time when the lease on this Work will expire.",
          "type": "string",
          "format": "google-datetime"
        },
        "streamingSetupTask": {
          "description": "Additional information for StreamingSetupTask WorkItems.",
          "$ref": "StreamingSetupTask"
        },
        "seqMapTask": {
          "description": "Additional information for SeqMapTask WorkItems.",
          "$ref": "SeqMapTask"
        },
        "streamingComputationTask": {
          "$ref": "StreamingComputationTask",
          "description": "Additional information for StreamingComputationTask WorkItems."
        },
        "initialReportIndex": {
          "description": "The initial index to use when reporting the status of the WorkItem.",
          "format": "int64",
          "type": "string"
        },
        "jobId": {
          "type": "string",
          "description": "Identifies the workflow job this WorkItem belongs to."
        },
        "configuration": {
          "type": "string",
          "description": "Work item-specific configuration as an opaque blob."
        },
        "mapTask": {
          "description": "Additional information for MapTask WorkItems.",
          "$ref": "MapTask"
        },
        "streamingConfigTask": {
          "$ref": "StreamingConfigTask",
          "description": "Additional information for StreamingConfigTask WorkItems."
        },
        "reportStatusInterval": {
          "type": "string",
          "format": "google-duration",
          "description": "Recommended reporting interval."
        },
        "sourceOperationTask": {
          "description": "Additional information for source operation WorkItems.",
          "$ref": "SourceOperationRequest"
        }
      },
      "description": "WorkItem represents basic information about a WorkItem to be executed in the cloud.",
      "id": "WorkItem"
    },
    "PubsubLocation": {
      "id": "PubsubLocation",
      "type": "object",
      "properties": {
        "withAttributes": {
          "description": "If true, then the client has requested to get pubsub attributes.",
          "type": "boolean"
        },
        "trackingSubscription": {
          "type": "string",
          "description": "If set, specifies the pubsub subscription that will be used for tracking custom time timestamps for watermark estimation."
        },
        "dropLateData": {
          "type": "boolean",
          "description": "Indicates whether the pipeline allows late-arriving data."
        },
        "idLabel": {
          "description": "If set, contains a pubsub label from which to extract record ids. If left empty, record deduplication will be strictly best effort.",
          "type": "string"
        },
        "dynamicDestinations": {
          "description": "If true, then this location represents dynamic topics.",
          "type": "boolean"
        },
        "timestampLabel": {
          "type": "string",
          "description": "If set, contains a pubsub label from which to extract record timestamps. If left empty, record timestamps will be generated upon arrival."
        },
        "subscription": {
          "type": "string",
          "description": "A pubsub subscription, in the form of \"pubsub.googleapis.com/subscriptions//\""
        },
        "topic": {
          "type": "string",
          "description": "A pubsub topic, in the form of \"pubsub.googleapis.com/topics//\""
        }
      },
      "description": "Identifies a pubsub location to use for transferring data into or out of a streaming Dataflow job."
    },
    "SendWorkerMessagesRequest": {
      "properties": {
        "workerMessages": {
          "description": "The WorkerMessages to send.",
          "items": {
            "$ref": "WorkerMessage"
          },
          "type": "array"
        },
        "location": {
          "type": "string",
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job."
        }
      },
      "type": "object",
      "description": "A request for sending worker messages to the service.",
      "id": "SendWorkerMessagesRequest"
    },
    "ExecutionStageSummary": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Dataflow service generated name for this stage."
        },
        "prerequisiteStage": {
          "description": "Other stages that must complete before this stage can run.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "componentTransform": {
          "description": "Transforms that comprise this execution stage.",
          "items": {
            "$ref": "ComponentTransform"
          },
          "type": "array"
        },
        "inputSource": {
          "items": {
            "$ref": "StageSource"
          },
          "description": "Input sources for this stage.",
          "type": "array"
        },
        "componentSource": {
          "items": {
            "$ref": "ComponentSource"
          },
          "type": "array",
          "description": "Collections produced and consumed by component transforms of this stage."
        },
        "id": {
          "type": "string",
          "description": "Dataflow service generated id for this stage."
        },
        "outputSource": {
          "description": "Output sources for this stage.",
          "items": {
            "$ref": "StageSource"
          },
          "type": "array"
        },
        "kind": {
          "enumDescriptions": [
            "Unrecognized transform type.",
            "ParDo transform.",
            "Group By Key transform.",
            "Flatten transform.",
            "Read transform.",
            "Write transform.",
            "Constructs from a constant value, such as with Create.of.",
            "Creates a Singleton view of a collection.",
            "Opening or closing a shuffle session, often as part of a GroupByKey."
          ],
          "enum": [
            "UNKNOWN_KIND",
            "PAR_DO_KIND",
            "GROUP_BY_KEY_KIND",
            "FLATTEN_KIND",
            "READ_KIND",
            "WRITE_KIND",
            "CONSTANT_KIND",
            "SINGLETON_KIND",
            "SHUFFLE_KIND"
          ],
          "description": "Type of transform this stage is executing.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ExecutionStageSummary",
      "description": "Description of the composing transforms, names/ids, and input/outputs of a stage of execution. Some composing transforms and sources may have been generated by the Dataflow service during execution planning."
    },
    "WorkerPool": {
      "id": "WorkerPool",
      "type": "object",
      "description": "Describes one particular pool of Cloud Dataflow workers to be instantiated by the Cloud Dataflow service in order to perform the computations required by a job. Note that a workflow job may use multiple pools, in order to match the various computational requirements of the various stages of the job.",
      "properties": {
        "poolArgs": {
          "description": "Extra arguments for this worker pool.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "numThreadsPerWorker": {
          "format": "int32",
          "description": "The number of threads per worker harness. If empty or unspecified, the service will choose a number of threads (according to the number of cores on the selected machine type for batch, or 1 by convention for streaming).",
          "type": "integer"
        },
        "teardownPolicy": {
          "description": "Sets the policy for determining when to turndown worker pool. Allowed values are: `TEARDOWN_ALWAYS`, `TEARDOWN_ON_SUCCESS`, and `TEARDOWN_NEVER`. `TEARDOWN_ALWAYS` means workers are always torn down regardless of whether the job succeeds. `TEARDOWN_ON_SUCCESS` means workers are torn down if the job succeeds. `TEARDOWN_NEVER` means the workers are never torn down. If the workers are not torn down by the service, they will continue to run and use Google Compute Engine VM resources in the user's project until they are explicitly terminated by the user. Because of this, Google recommends using the `TEARDOWN_ALWAYS` policy except for small, manually supervised test jobs. If unknown or unspecified, the service will attempt to choose a reasonable default.",
          "enum": [
            "TEARDOWN_POLICY_UNKNOWN",
            "TEARDOWN_ALWAYS",
            "TEARDOWN_ON_SUCCESS",
            "TEARDOWN_NEVER"
          ],
          "enumDescriptions": [
            "The teardown policy isn't specified, or is unknown.",
            "Always teardown the resource.",
            "Teardown the resource on success. This is useful for debugging failures.",
            "Never teardown the resource. This is useful for debugging and development."
          ],
          "type": "string"
        },
        "packages": {
          "items": {
            "$ref": "Package"
          },
          "description": "Packages to be installed on workers.",
          "type": "array"
        },
        "workerHarnessContainerImage": {
          "description": "Required. Docker container image that executes the Cloud Dataflow worker harness, residing in Google Container Registry. Deprecated for the Fn API path. Use sdk_harness_container_images instead.",
          "type": "string"
        },
        "diskSourceImage": {
          "description": "Fully qualified source image for disks.",
          "type": "string"
        },
        "subnetwork": {
          "type": "string",
          "description": "Subnetwork to which VMs will be assigned, if desired. Expected to be of the form \"regions/REGION/subnetworks/SUBNETWORK\"."
        },
        "defaultPackageSet": {
          "type": "string",
          "description": "The default package set to install. This allows the service to select a default set of packages which are useful to worker harnesses written in a particular language.",
          "enumDescriptions": [
            "The default set of packages to stage is unknown, or unspecified.",
            "Indicates that no packages should be staged at the worker unless explicitly specified by the job.",
            "Stage packages typically useful to workers written in Java.",
            "Stage packages typically useful to workers written in Python."
          ],
          "enum": [
            "DEFAULT_PACKAGE_SET_UNKNOWN",
            "DEFAULT_PACKAGE_SET_NONE",
            "DEFAULT_PACKAGE_SET_JAVA",
            "DEFAULT_PACKAGE_SET_PYTHON"
          ]
        },
        "sdkHarnessContainerImages": {
          "items": {
            "$ref": "SdkHarnessContainerImage"
          },
          "description": "Set of SDK harness containers needed to execute this pipeline. This will only be set in the Fn API path. For non-cross-language pipelines this should have only one entry. Cross-language pipelines will have two or more entries.",
          "type": "array"
        },
        "ipConfiguration": {
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ],
          "description": "Configuration for VM IPs.",
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ],
          "type": "string"
        },
        "onHostMaintenance": {
          "type": "string",
          "description": "The action to take on host maintenance, as defined by the Google Compute Engine API."
        },
        "kind": {
          "type": "string",
          "description": "The kind of the worker pool; currently only `harness` and `shuffle` are supported."
        },
        "dataDisks": {
          "items": {
            "$ref": "Disk"
          },
          "type": "array",
          "description": "Data disks that are used by a VM in this workflow."
        },
        "network": {
          "description": "Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\".",
          "type": "string"
        },
        "zone": {
          "description": "Zone to run the worker pools in. If empty or unspecified, the service will attempt to choose a reasonable default.",
          "type": "string"
        },
        "taskrunnerSettings": {
          "$ref": "TaskRunnerSettings",
          "description": "Settings passed through to Google Compute Engine workers when using the standard Dataflow task runner. Users should ignore this field."
        },
        "numWorkers": {
          "description": "Number of Google Compute Engine workers in this pool needed to execute the job. If zero or unspecified, the service will attempt to choose a reasonable default.",
          "format": "int32",
          "type": "integer"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Metadata to set on the Google Compute Engine VMs."
        },
        "machineType": {
          "description": "Machine type (e.g. \"n1-standard-1\"). If empty or unspecified, the service will attempt to choose a reasonable default.",
          "type": "string"
        },
        "autoscalingSettings": {
          "$ref": "AutoscalingSettings",
          "description": "Settings for autoscaling of this WorkerPool."
        },
        "diskType": {
          "type": "string",
          "description": "Type of root disk for VMs. If empty or unspecified, the service will attempt to choose a reasonable default."
        },
        "diskSizeGb": {
          "type": "integer",
          "description": "Size of root disk for VMs, in GB. If zero or unspecified, the service will attempt to choose a reasonable default.",
          "format": "int32"
        }
      }
    },
    "LaunchFlexTemplateResponse": {
      "type": "object",
      "id": "LaunchFlexTemplateResponse",
      "description": "Response to the request to launch a job from Flex Template.",
      "properties": {
        "job": {
          "description": "The job that was launched, if the request was not a dry run and the job was successfully launched.",
          "$ref": "Job"
        }
      }
    },
    "DisplayData": {
      "id": "DisplayData",
      "description": "Data provided with a pipeline or transform to provide descriptive info.",
      "properties": {
        "key": {
          "type": "string",
          "description": "The key identifying the display data. This is intended to be used as a label for the display data when viewed in a dax monitoring system."
        },
        "url": {
          "type": "string",
          "description": "An optional full URL."
        },
        "timestampValue": {
          "format": "google-datetime",
          "type": "string",
          "description": "Contains value if the data is of timestamp type."
        },
        "durationValue": {
          "format": "google-duration",
          "type": "string",
          "description": "Contains value if the data is of duration type."
        },
        "boolValue": {
          "type": "boolean",
          "description": "Contains value if the data is of a boolean type."
        },
        "namespace": {
          "description": "The namespace for the key. This is usually a class name or programming language namespace (i.e. python module) which defines the display data. This allows a dax monitoring system to specially handle the data and perform custom rendering.",
          "type": "string"
        },
        "strValue": {
          "type": "string",
          "description": "Contains value if the data is of string type."
        },
        "javaClassValue": {
          "description": "Contains value if the data is of java class type.",
          "type": "string"
        },
        "floatValue": {
          "description": "Contains value if the data is of float type.",
          "type": "number",
          "format": "float"
        },
        "int64Value": {
          "description": "Contains value if the data is of int64 type.",
          "format": "int64",
          "type": "string"
        },
        "label": {
          "type": "string",
          "description": "An optional label to display in a dax UI for the element."
        },
        "shortStrValue": {
          "type": "string",
          "description": "A possible additional shorter value to display. For example a java_class_name_value of com.mypackage.MyDoFn will be stored with MyDoFn as the short_str_value and com.mypackage.MyDoFn as the java_class_name value. short_str_value can be displayed and java_class_name_value will be displayed as a tooltip."
        }
      },
      "type": "object"
    },
    "SideInputInfo": {
      "type": "object",
      "properties": {
        "tag": {
          "type": "string",
          "description": "The id of the tag the user code will access this side input by; this should correspond to the tag of some MultiOutputInfo."
        },
        "sources": {
          "items": {
            "$ref": "Source"
          },
          "type": "array",
          "description": "The source(s) to read element(s) from to get the value of this side input. If more than one source, then the elements are taken from the sources, in the specified order if order matters. At least one source is required."
        },
        "kind": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "How to interpret the source element(s) as a side input value."
        }
      },
      "id": "SideInputInfo",
      "description": "Information about a side input of a DoFn or an input of a SeqDoFn."
    },
    "SeqMapTaskOutputInfo": {
      "properties": {
        "sink": {
          "description": "The sink to write the output value to.",
          "$ref": "Sink"
        },
        "tag": {
          "type": "string",
          "description": "The id of the TupleTag the user code will tag the output value by."
        }
      },
      "description": "Information about an output of a SeqMapTask.",
      "type": "object",
      "id": "SeqMapTaskOutputInfo"
    },
    "PubsubSnapshotMetadata": {
      "id": "PubsubSnapshotMetadata",
      "type": "object",
      "description": "Represents a Pubsub snapshot.",
      "properties": {
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The expire time of the Pubsub snapshot."
        },
        "topicName": {
          "type": "string",
          "description": "The name of the Pubsub topic."
        },
        "snapshotName": {
          "description": "The name of the Pubsub snapshot.",
          "type": "string"
        }
      }
    },
    "StageSource": {
      "description": "Description of an input or output of an execution stage.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Dataflow service generated name for this source."
        },
        "sizeBytes": {
          "type": "string",
          "description": "Size of the source, if measurable.",
          "format": "int64"
        },
        "userName": {
          "type": "string",
          "description": "Human-readable name for this source; may be user or system generated."
        },
        "originalTransformOrCollection": {
          "type": "string",
          "description": "User name for the original user transform or collection with which this source is most closely associated."
        }
      },
      "id": "StageSource",
      "type": "object"
    },
    "Status": {
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "SendDebugCaptureResponse": {
      "properties": {},
      "type": "object",
      "description": "Response to a send capture request. nothing",
      "id": "SendDebugCaptureResponse"
    },
    "ShellTask": {
      "type": "object",
      "id": "ShellTask",
      "description": "A task which consists of a shell command for the worker to execute.",
      "properties": {
        "exitCode": {
          "description": "Exit code for the task.",
          "type": "integer",
          "format": "int32"
        },
        "command": {
          "description": "The shell command to run.",
          "type": "string"
        }
      }
    },
    "PartialGroupByKeyInstruction": {
      "properties": {
        "input": {
          "$ref": "InstructionInput",
          "description": "Describes the input to the partial group-by-key instruction."
        },
        "originalCombineValuesInputStoreName": {
          "type": "string",
          "description": "If this instruction includes a combining function this is the name of the intermediate store between the GBK and the CombineValues."
        },
        "originalCombineValuesStepName": {
          "type": "string",
          "description": "If this instruction includes a combining function, this is the name of the CombineValues instruction lifted into this instruction."
        },
        "valueCombiningFn": {
          "description": "The value combining function to invoke.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "inputElementCodec": {
          "type": "object",
          "description": "The codec to use for interpreting an element in the input PTable.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "sideInputs": {
          "items": {
            "$ref": "SideInputInfo"
          },
          "description": "Zero or more side inputs.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "PartialGroupByKeyInstruction",
      "description": "An instruction that does a partial group-by-key. One input and one output."
    },
    "LeaseWorkItemResponse": {
      "type": "object",
      "properties": {
        "unifiedWorkerResponse": {
          "description": "Untranslated bag-of-bytes WorkResponse for UnifiedWorker.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "workItems": {
          "items": {
            "$ref": "WorkItem"
          },
          "description": "A list of the leased WorkItems.",
          "type": "array"
        }
      },
      "id": "LeaseWorkItemResponse",
      "description": "Response to a request to lease WorkItems."
    },
    "TransformSummary": {
      "type": "object",
      "properties": {
        "inputCollectionName": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "User names for all collection inputs to this transform."
        },
        "name": {
          "type": "string",
          "description": "User provided name for this transform instance."
        },
        "kind": {
          "description": "Type of transform.",
          "type": "string",
          "enum": [
            "UNKNOWN_KIND",
            "PAR_DO_KIND",
            "GROUP_BY_KEY_KIND",
            "FLATTEN_KIND",
            "READ_KIND",
            "WRITE_KIND",
            "CONSTANT_KIND",
            "SINGLETON_KIND",
            "SHUFFLE_KIND"
          ],
          "enumDescriptions": [
            "Unrecognized transform type.",
            "ParDo transform.",
            "Group By Key transform.",
            "Flatten transform.",
            "Read transform.",
            "Write transform.",
            "Constructs from a constant value, such as with Create.of.",
            "Creates a Singleton view of a collection.",
            "Opening or closing a shuffle session, often as part of a GroupByKey."
          ]
        },
        "id": {
          "description": "SDK generated id of this transform instance.",
          "type": "string"
        },
        "displayData": {
          "items": {
            "$ref": "DisplayData"
          },
          "type": "array",
          "description": "Transform-specific display data."
        },
        "outputCollectionName": {
          "items": {
            "type": "string"
          },
          "description": "User names for all collection outputs to this transform.",
          "type": "array"
        }
      },
      "description": "Description of the type, names/ids, and input/outputs for a transform.",
      "id": "TransformSummary"
    },
    "RuntimeMetadata": {
      "id": "RuntimeMetadata",
      "type": "object",
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "ParameterMetadata"
          },
          "description": "The parameters for the template."
        },
        "sdkInfo": {
          "description": "SDK Info for the template.",
          "$ref": "SDKInfo"
        }
      },
      "description": "RuntimeMetadata describing a runtime environment."
    },
    "DatastoreIODetails": {
      "properties": {
        "namespace": {
          "description": "Namespace used in the connection.",
          "type": "string"
        },
        "projectId": {
          "description": "ProjectId accessed in the connection.",
          "type": "string"
        }
      },
      "description": "Metadata for a Datastore connector used by the job.",
      "type": "object",
      "id": "DatastoreIODetails"
    },
    "SourceMetadata": {
      "properties": {
        "producesSortedKeys": {
          "type": "boolean",
          "description": "Whether this source is known to produce key/value pairs with the (encoded) keys in lexicographically sorted order."
        },
        "infinite": {
          "type": "boolean",
          "description": "Specifies that the size of this source is known to be infinite (this is a streaming source)."
        },
        "estimatedSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "An estimate of the total size (in bytes) of the data that would be read from this source. This estimate is in terms of external storage size, before any decompression or other processing done by the reader."
        }
      },
      "id": "SourceMetadata",
      "description": "Metadata about a Source useful for automatically optimizing and tuning the pipeline, etc.",
      "type": "object"
    },
    "WorkItemDetails": {
      "id": "WorkItemDetails",
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "End time of this work item attempt. If the work item is completed, this is the actual end time of the work item. Otherwise, it is the predicted end time.",
          "type": "string"
        },
        "attemptId": {
          "description": "Attempt ID of this work item",
          "type": "string"
        },
        "taskId": {
          "description": "Name of this work item.",
          "type": "string"
        },
        "stragglerInfo": {
          "$ref": "StragglerInfo",
          "description": "Information about straggler detections for this work item."
        },
        "startTime": {
          "description": "Start time of this work item attempt.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enum": [
            "EXECUTION_STATE_UNKNOWN",
            "EXECUTION_STATE_NOT_STARTED",
            "EXECUTION_STATE_RUNNING",
            "EXECUTION_STATE_SUCCEEDED",
            "EXECUTION_STATE_FAILED",
            "EXECUTION_STATE_CANCELLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The component state is unknown or unspecified.",
            "The component is not yet running.",
            "The component is currently running.",
            "The component succeeded.",
            "The component failed.",
            "Execution of the component was cancelled."
          ],
          "description": "State of this work item."
        },
        "progress": {
          "description": "Progress of this work item.",
          "$ref": "ProgressTimeseries"
        },
        "metrics": {
          "items": {
            "$ref": "MetricUpdate"
          },
          "description": "Metrics for this work item.",
          "type": "array"
        }
      },
      "description": "Information about an individual work item execution."
    },
    "MountedDataDisk": {
      "id": "MountedDataDisk",
      "properties": {
        "dataDisk": {
          "type": "string",
          "description": "The name of the data disk. This name is local to the Google Cloud Platform project and uniquely identifies the disk within that project, for example \"myproject-1014-104817-4c2-harness-0-disk-1\"."
        }
      },
      "type": "object",
      "description": "Describes mounted data disk."
    },
    "StructuredMessage": {
      "properties": {
        "messageText": {
          "type": "string",
          "description": "Human-readable version of message."
        },
        "messageKey": {
          "description": "Identifier for this message type. Used by external systems to internationalize or personalize message.",
          "type": "string"
        },
        "parameters": {
          "description": "The structured data associated with this message.",
          "items": {
            "$ref": "Parameter"
          },
          "type": "array"
        }
      },
      "id": "StructuredMessage",
      "type": "object",
      "description": "A rich message format, including a human readable string, a key for identifying the message, and structured data associated with the message for programmatic consumption."
    },
    "Step": {
      "description": "Defines a particular step within a Cloud Dataflow job. A job consists of multiple steps, each of which performs some specific operation as part of the overall job. Data is typically passed from one step to another as part of the job. **Note:** The properties of this object are not stable and might change. Here's an example of a sequence of steps which together implement a Map-Reduce job: * Read a collection of data from some source, parsing the collection's elements. * Validate the elements. * Apply a user-defined function to map each element to some value and extract an element-specific key value. * Group elements with the same key into a single element with that key, transforming a multiply-keyed collection into a uniquely-keyed collection. * Write the elements out to some data sink. Note that the Cloud Dataflow service may be used to run many different types of jobs, not just Map-Reduce.",
      "type": "object",
      "id": "Step",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of step in the Cloud Dataflow job."
        },
        "name": {
          "description": "The name that identifies the step. This must be unique for each step with respect to all other steps in the Cloud Dataflow job.",
          "type": "string"
        },
        "properties": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Named properties associated with the step. Each kind of predefined step has its own required set of properties. Must be provided on Create. Only retrieved with JOB_VIEW_ALL."
        }
      }
    },
    "ParameterMetadataEnumOption": {
      "id": "ParameterMetadataEnumOption",
      "description": "ParameterMetadataEnumOption specifies the option shown in the enum form.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. The description to display for the enum option.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Required. The value of the enum option."
        },
        "label": {
          "description": "Optional. The label to display for the enum option.",
          "type": "string"
        }
      }
    },
    "FlexTemplateRuntimeEnvironment": {
      "type": "object",
      "description": "The environment values to be set at runtime for flex template.",
      "properties": {
        "kmsKeyName": {
          "description": "Name for the Cloud KMS key for the job. Key format is: projects//locations//keyRings//cryptoKeys/",
          "type": "string"
        },
        "maxWorkers": {
          "description": "The maximum number of Google Compute Engine instances to be made available to your pipeline during execution, from 1 to 1000.",
          "type": "integer",
          "format": "int32"
        },
        "diskSizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Worker disk size, in gigabytes."
        },
        "launcherMachineType": {
          "description": "The machine type to use for launching the job. The default is n1-standard-1.",
          "type": "string"
        },
        "network": {
          "description": "Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\".",
          "type": "string"
        },
        "subnetwork": {
          "type": "string",
          "description": "Subnetwork to which VMs will be assigned, if desired. You can specify a subnetwork using either a complete URL or an abbreviated path. Expected to be of the form \"https://www.googleapis.com/compute/v1/projects/HOST_PROJECT_ID/regions/REGION/subnetworks/SUBNETWORK\" or \"regions/REGION/subnetworks/SUBNETWORK\". If the subnetwork is located in a Shared VPC network, you must use the complete URL."
        },
        "stagingLocation": {
          "type": "string",
          "description": "The Cloud Storage path for staging local files. Must be a valid Cloud Storage URL, beginning with `gs://`."
        },
        "dumpHeapOnOom": {
          "type": "boolean",
          "description": "If true, when processing time is spent almost entirely on garbage collection (GC), saves a heap dump before ending the thread or process. If false, ends the thread or process without saving a heap dump. Does not save a heap dump when the Java Virtual Machine (JVM) has an out of memory error during processing. The location of the heap file is either echoed back to the user, or the user is given the opportunity to download the heap file."
        },
        "numWorkers": {
          "format": "int32",
          "description": "The initial number of Google Compute Engine instances for the job.",
          "type": "integer"
        },
        "enableStreamingEngine": {
          "description": "Whether to enable Streaming Engine for the job.",
          "type": "boolean"
        },
        "flexrsGoal": {
          "enumDescriptions": [
            "Run in the default mode.",
            "Optimize for lower execution time.",
            "Optimize for lower cost."
          ],
          "description": "Set FlexRS goal for the job. https://cloud.google.com/dataflow/docs/guides/flexrs",
          "enum": [
            "FLEXRS_UNSPECIFIED",
            "FLEXRS_SPEED_OPTIMIZED",
            "FLEXRS_COST_OPTIMIZED"
          ],
          "type": "string"
        },
        "workerZone": {
          "description": "The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity. If both `worker_zone` and `zone` are set, `worker_zone` takes precedence.",
          "type": "string"
        },
        "workerRegion": {
          "type": "string",
          "description": "The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, default to the control plane's region."
        },
        "additionalExperiments": {
          "description": "Additional experiment flags for the job.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "sdkContainerImage": {
          "type": "string",
          "description": "Docker registry location of container image to use for the 'worker harness. Default is the container for the version of the SDK. Note this field is only valid for portable pipelines."
        },
        "additionalUserLabels": {
          "type": "object",
          "description": "Additional user labels to be specified for the job. Keys and values must follow the restrictions specified in the [labeling restrictions](https://cloud.google.com/compute/docs/labeling-resources#restrictions) page. An object containing a list of \"key\": value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1kg\", \"count\": \"3\" }.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "The email address of the service account to run the job as."
        },
        "tempLocation": {
          "description": "The Cloud Storage path to use for temporary files. Must be a valid Cloud Storage URL, beginning with `gs://`.",
          "type": "string"
        },
        "autoscalingAlgorithm": {
          "description": "The algorithm to use for autoscaling",
          "enumDescriptions": [
            "The algorithm is unknown, or unspecified.",
            "Disable autoscaling.",
            "Increase worker count over time to reduce job execution time."
          ],
          "enum": [
            "AUTOSCALING_ALGORITHM_UNKNOWN",
            "AUTOSCALING_ALGORITHM_NONE",
            "AUTOSCALING_ALGORITHM_BASIC"
          ],
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "The Compute Engine [availability zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones) for launching worker instances to run your pipeline. In the future, worker_zone will take precedence."
        },
        "enableLauncherVmSerialPortLogging": {
          "type": "boolean",
          "description": "If true serial port logging will be enabled for the launcher VM."
        },
        "machineType": {
          "description": "The machine type to use for the job. Defaults to the value from the template if not specified.",
          "type": "string"
        },
        "ipConfiguration": {
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ],
          "type": "string",
          "description": "Configuration for VM IPs.",
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ]
        },
        "saveHeapDumpsToGcsPath": {
          "type": "string",
          "description": "Cloud Storage bucket (directory) to upload heap dumps to. Enabling this field implies that `dump_heap_on_oom` is set to true."
        }
      },
      "id": "FlexTemplateRuntimeEnvironment"
    },
    "SnapshotJobRequest": {
      "id": "SnapshotJobRequest",
      "description": "Request to create a snapshot of a job.",
      "type": "object",
      "properties": {
        "ttl": {
          "description": "TTL for the snapshot.",
          "format": "google-duration",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "User specified description of the snapshot. Maybe empty."
        },
        "snapshotSources": {
          "type": "boolean",
          "description": "If true, perform snapshots for sources which support this."
        },
        "location": {
          "description": "The location that contains this job.",
          "type": "string"
        }
      }
    },
    "LaunchTemplateParameters": {
      "type": "object",
      "description": "Parameters to provide to the template being launched. Note that the [metadata in the pipeline code] (https://cloud.google.com/dataflow/docs/guides/templates/creating-templates#metadata) determines which runtime parameters are valid.",
      "id": "LaunchTemplateParameters",
      "properties": {
        "transformNameMapping": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Only applicable when updating a pipeline. Map of transform name prefixes of the job to be replaced to the corresponding name prefixes of the new job."
        },
        "update": {
          "description": "If set, replace the existing pipeline with the name specified by jobName with this pipeline, preserving state.",
          "type": "boolean"
        },
        "jobName": {
          "type": "string",
          "description": "Required. The job name to use for the created job. The name must match the regular expression `[a-z]([-a-z0-9]{0,1022}[a-z0-9])?`"
        },
        "parameters": {
          "type": "object",
          "description": "The runtime parameters to pass to the job.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "environment": {
          "$ref": "RuntimeEnvironment",
          "description": "The runtime environment for the job."
        }
      }
    },
    "WorkerLifecycleEvent": {
      "type": "object",
      "properties": {
        "event": {
          "enum": [
            "UNKNOWN_EVENT",
            "OS_START",
            "CONTAINER_START",
            "NETWORK_UP",
            "STAGING_FILES_DOWNLOAD_START",
            "STAGING_FILES_DOWNLOAD_FINISH",
            "SDK_INSTALL_START",
            "SDK_INSTALL_FINISH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Invalid event.",
            "The time the VM started.",
            "Our container code starts running. Multiple containers could be distinguished with WorkerMessage.labels if desired.",
            "The worker has a functional external network connection.",
            "Started downloading staging files.",
            "Finished downloading all staging files.",
            "For applicable SDKs, started installation of SDK and worker packages.",
            "Finished installing SDK."
          ],
          "description": "The event being reported."
        },
        "containerStartTime": {
          "description": "The start time of this container. All events will report this so that events can be grouped together across container/VM restarts.",
          "format": "google-datetime",
          "type": "string"
        },
        "metadata": {
          "description": "Other stats that can accompany an event. E.g. { \"downloaded_bytes\" : \"123456\" }",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "A report of an event in a worker's lifecycle. The proto contains one event, because the worker is expected to asynchronously send each message immediately after the event. Due to this asynchrony, messages may arrive out of order (or missing), and it is up to the consumer to interpret. The timestamp of the event is in the enclosing WorkerMessage proto.",
      "id": "WorkerLifecycleEvent"
    },
    "StreamingConfigTask": {
      "description": "A task that carries configuration information for streaming computations.",
      "type": "object",
      "properties": {
        "getDataStreamChunkSizeBytes": {
          "description": "Chunk size for get data streams from the harness to windmill.",
          "type": "string",
          "format": "int64"
        },
        "windmillServiceEndpoint": {
          "type": "string",
          "description": "If present, the worker must use this endpoint to communicate with Windmill Service dispatchers, otherwise the worker must continue to use whatever endpoint it had been using."
        },
        "streamingComputationConfigs": {
          "description": "Set of computation configuration information.",
          "type": "array",
          "items": {
            "$ref": "StreamingComputationConfig"
          }
        },
        "windmillServicePort": {
          "format": "int64",
          "type": "string",
          "description": "If present, the worker must use this port to communicate with Windmill Service dispatchers. Only applicable when windmill_service_endpoint is specified."
        },
        "maxWorkItemCommitBytes": {
          "description": "Maximum size for work item commit supported windmill storage layer.",
          "type": "string",
          "format": "int64"
        },
        "userStepToStateFamilyNameMap": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map from user step names to state families."
        },
        "commitStreamChunkSizeBytes": {
          "format": "int64",
          "description": "Chunk size for commit streams from the harness to windmill.",
          "type": "string"
        }
      },
      "id": "StreamingConfigTask"
    },
    "LaunchFlexTemplateParameter": {
      "description": "Launch FlexTemplate Parameter.",
      "properties": {
        "update": {
          "type": "boolean",
          "description": "Set this to true if you are sending a request to update a running streaming job. When set, the job name should be the same as the running job."
        },
        "containerSpec": {
          "description": "Spec about the container image to launch.",
          "$ref": "ContainerSpec"
        },
        "jobName": {
          "type": "string",
          "description": "Required. The job name to use for the created job. For update job request, job name should be same as the existing running job."
        },
        "transformNameMappings": {
          "description": "Use this to pass transform_name_mappings for streaming update jobs. Ex:{\"oldTransformName\":\"newTransformName\",...}'",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "parameters": {
          "description": "The parameters for FlexTemplate. Ex. {\"num_workers\":\"5\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "launchOptions": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Launch options for this flex template job. This is a common set of options across languages and templates. This should not be used to pass job parameters."
        },
        "containerSpecGcsPath": {
          "type": "string",
          "description": "Cloud Storage path to a file with json serialized ContainerSpec as content."
        },
        "environment": {
          "description": "The runtime environment for the FlexTemplate job",
          "$ref": "FlexTemplateRuntimeEnvironment"
        }
      },
      "id": "LaunchFlexTemplateParameter",
      "type": "object"
    },
    "IntegerList": {
      "properties": {
        "elements": {
          "description": "Elements of the list.",
          "items": {
            "$ref": "SplitInt64"
          },
          "type": "array"
        }
      },
      "description": "A metric value representing a list of integers.",
      "id": "IntegerList",
      "type": "object"
    },
    "Environment": {
      "properties": {
        "flexResourceSchedulingGoal": {
          "enum": [
            "FLEXRS_UNSPECIFIED",
            "FLEXRS_SPEED_OPTIMIZED",
            "FLEXRS_COST_OPTIMIZED"
          ],
          "type": "string",
          "description": "Which Flexible Resource Scheduling mode to run in.",
          "enumDescriptions": [
            "Run in the default mode.",
            "Optimize for lower execution time.",
            "Optimize for lower cost."
          ]
        },
        "shuffleMode": {
          "readOnly": true,
          "description": "Output only. The shuffle mode used for the job.",
          "enum": [
            "SHUFFLE_MODE_UNSPECIFIED",
            "VM_BASED",
            "SERVICE_BASED"
          ],
          "enumDescriptions": [
            "Shuffle mode information is not available.",
            "Shuffle is done on the worker VMs.",
            "Shuffle is done on the service side."
          ],
          "type": "string"
        },
        "workerZone": {
          "description": "The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity.",
          "type": "string"
        },
        "tempStoragePrefix": {
          "description": "The prefix of the resources the system should use for temporary storage. The system will append the suffix \"/temp-{JOBNAME} to this resource prefix, where {JOBNAME} is the value of the job_name field. The resulting bucket and object prefix is used as the prefix of the resources used to store temporary data needed during the job execution. NOTE: This will override the value in taskrunner_settings. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}",
          "type": "string"
        },
        "serviceAccountEmail": {
          "description": "Identity to run virtual machines as. Defaults to the default account.",
          "type": "string"
        },
        "userAgent": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "A description of the process that generated the request."
        },
        "useStreamingEngineResourceBasedBilling": {
          "description": "Output only. Whether the job uses the new streaming engine billing model based on resource usage.",
          "readOnly": true,
          "type": "boolean"
        },
        "experiments": {
          "description": "The list of experiments to enable. This field should be used for SDK related experiments and not for service related experiments. The proper field for service related experiments is service_options.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "dataset": {
          "description": "The dataset for the current project where various workflow related tables are stored. The supported resource type is: Google BigQuery: bigquery.googleapis.com/{dataset}",
          "type": "string"
        },
        "debugOptions": {
          "$ref": "DebugOptions",
          "description": "Any debugging options to be supplied to the job."
        },
        "sdkPipelineOptions": {
          "type": "object",
          "description": "The Cloud Dataflow SDK pipeline options specified by the user. These options are passed through the service and are used to recreate the SDK pipeline options on the worker in a language agnostic and platform independent way.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "serviceOptions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of service options to enable. This field should be used for service related experiments only. These experiments, when graduating to GA, should be replaced by dedicated fields or become default (i.e. always on)."
        },
        "clusterManagerApiService": {
          "description": "The type of cluster manager API to use. If unknown or unspecified, the service will attempt to choose a reasonable default. This should be in the form of the API service name, e.g. \"compute.googleapis.com\".",
          "type": "string"
        },
        "serviceKmsKeyName": {
          "description": "If set, contains the Cloud KMS key identifier used to encrypt data at rest, AKA a Customer Managed Encryption Key (CMEK). Format: projects/PROJECT_ID/locations/LOCATION/keyRings/KEY_RING/cryptoKeys/KEY",
          "type": "string"
        },
        "internalExperiments": {
          "type": "object",
          "description": "Experimental settings.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "workerPools": {
          "type": "array",
          "items": {
            "$ref": "WorkerPool"
          },
          "description": "The worker pools. At least one \"harness\" worker pool must be specified in order for the job to have workers."
        },
        "workerRegion": {
          "type": "string",
          "description": "The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, default to the control plane's region."
        },
        "version": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "A structure describing which components and their versions of the service are required in order to run the job."
        }
      },
      "type": "object",
      "description": "Describes the environment in which a Dataflow Job runs.",
      "id": "Environment"
    },
    "WorkItemStatus": {
      "properties": {
        "errors": {
          "type": "array",
          "description": "Specifies errors which occurred during processing. If errors are provided, and completed = true, then the WorkItem is considered to have failed.",
          "items": {
            "$ref": "Status"
          }
        },
        "counterUpdates": {
          "type": "array",
          "description": "Worker output counters for this WorkItem.",
          "items": {
            "$ref": "CounterUpdate"
          }
        },
        "workItemId": {
          "type": "string",
          "description": "Identifies the WorkItem."
        },
        "stopPosition": {
          "$ref": "Position",
          "description": "A worker may split an active map task in two parts, \"primary\" and \"residual\", continuing to process the primary part and returning the residual part into the pool of available work. This event is called a \"dynamic split\" and is critical to the dynamic work rebalancing feature. The two obtained sub-tasks are called \"parts\" of the split. The parts, if concatenated, must represent the same input as would be read by the current task if the split did not happen. The exact way in which the original task is decomposed into the two parts is specified either as a position demarcating them (stop_position), or explicitly as two DerivedSources, if this task consumes a user-defined source type (dynamic_source_split). The \"current\" task is adjusted as a result of the split: after a task with range [A, B) sends a stop_position update at C, its range is considered to be [A, C), e.g.: * Progress should be interpreted relative to the new range, e.g. \"75% completed\" means \"75% of [A, C) completed\" * The worker should interpret proposed_stop_position relative to the new range, e.g. \"split at 68%\" should be interpreted as \"split at 68% of [A, C)\". * If the worker chooses to split again using stop_position, only stop_positions in [A, C) will be accepted. * Etc. dynamic_source_split has similar semantics: e.g., if a task with source S splits using dynamic_source_split into {P, R} (where P and R must be together equivalent to S), then subsequent progress and proposed_stop_position should be interpreted relative to P, and in a potential subsequent dynamic_source_split into {P', R'}, P' and R' must be together equivalent to P, etc."
        },
        "requestedLeaseDuration": {
          "description": "Amount of time the worker requests for its lease.",
          "type": "string",
          "format": "google-duration"
        },
        "progress": {
          "description": "DEPRECATED in favor of reported_progress.",
          "$ref": "ApproximateProgress",
          "deprecated": true
        },
        "dynamicSourceSplit": {
          "description": "See documentation of stop_position.",
          "$ref": "DynamicSourceSplit"
        },
        "sourceOperationResponse": {
          "description": "If the work item represented a SourceOperationRequest, and the work is completed, contains the result of the operation.",
          "$ref": "SourceOperationResponse"
        },
        "totalThrottlerWaitTimeSeconds": {
          "type": "number",
          "description": "Total time the worker spent being throttled by external systems.",
          "format": "double"
        },
        "sourceFork": {
          "description": "DEPRECATED in favor of dynamic_source_split.",
          "deprecated": true,
          "$ref": "SourceFork"
        },
        "metricUpdates": {
          "items": {
            "$ref": "MetricUpdate"
          },
          "deprecated": true,
          "type": "array",
          "description": "DEPRECATED in favor of counter_updates."
        },
        "reportIndex": {
          "format": "int64",
          "type": "string",
          "description": "The report index. When a WorkItem is leased, the lease will contain an initial report index. When a WorkItem's status is reported to the system, the report should be sent with that report index, and the response will contain the index the worker should use for the next report. Reports received with unexpected index values will be rejected by the service. In order to preserve idempotency, the worker should not alter the contents of a report, even if the worker must submit the same report multiple times before getting back a response. The worker should not submit a subsequent report until the response for the previous report had been received from the service."
        },
        "reportedProgress": {
          "$ref": "ApproximateReportedProgress",
          "description": "The worker's progress through this WorkItem."
        },
        "completed": {
          "description": "True if the WorkItem was completed (successfully or unsuccessfully).",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Conveys a worker's progress through the work described by a WorkItem.",
      "id": "WorkItemStatus"
    },
    "ConcatPosition": {
      "id": "ConcatPosition",
      "description": "A position that encapsulates an inner position and an index for the inner position. A ConcatPosition can be used by a reader of a source that encapsulates a set of other sources.",
      "properties": {
        "position": {
          "$ref": "Position",
          "description": "Position within the inner source."
        },
        "index": {
          "type": "integer",
          "format": "int32",
          "description": "Index of the inner source."
        }
      },
      "type": "object"
    },
    "ReadInstruction": {
      "description": "An instruction that reads records. Takes no inputs, produces one output.",
      "id": "ReadInstruction",
      "properties": {
        "source": {
          "$ref": "Source",
          "description": "The source to read from."
        }
      },
      "type": "object"
    },
    "TemplateMetadata": {
      "properties": {
        "parameters": {
          "items": {
            "$ref": "ParameterMetadata"
          },
          "type": "array",
          "description": "The parameters for the template."
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of the template."
        },
        "name": {
          "description": "Required. The name of the template.",
          "type": "string"
        }
      },
      "id": "TemplateMetadata",
      "type": "object",
      "description": "Metadata describing a template."
    },
    "DataSamplingReport": {
      "id": "DataSamplingReport",
      "properties": {
        "pcollectionsSampledCount": {
          "description": "Optional. Delta of number of PCollections sampled from previous report.",
          "format": "int64",
          "type": "string"
        },
        "persistenceErrorsCount": {
          "format": "int64",
          "description": "Optional. Delta of errors counts from persisting the samples from previous report.",
          "type": "string"
        },
        "elementsSampledBytes": {
          "type": "string",
          "description": "Optional. Delta of bytes sampled from previous report.",
          "format": "int64"
        },
        "translationErrorsCount": {
          "description": "Optional. Delta of errors counts from retrieving, or translating the samples from previous report.",
          "type": "string",
          "format": "int64"
        },
        "exceptionsSampledCount": {
          "description": "Optional. Delta of number of samples taken from user code exceptions from previous report.",
          "format": "int64",
          "type": "string"
        },
        "elementsSampledCount": {
          "format": "int64",
          "description": "Optional. Delta of number of elements sampled from previous report.",
          "type": "string"
        },
[...]
