{
  "name": "datastream",
  "revision": "20230802",
  "id": "datastream:v1alpha1",
  "version": "v1alpha1",
  "description": "",
  "version_module": true,
  "canonicalName": "Datastream",
  "rootUrl": "https://datastream.googleapis.com/",
  "baseUrl": "https://datastream.googleapis.com/",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/datastream/",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "servicePath": "",
  "basePath": "",
  "schemas": {
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "OracleObjectIdentifier": {
      "description": "Oracle data source object identifier.",
      "type": "object",
      "properties": {
        "schema": {
          "description": "Required. The schema name.",
          "type": "string"
        },
        "table": {
          "type": "string",
          "description": "Required. The table name."
        }
      },
      "id": "OracleObjectIdentifier"
    },
    "StartBackfillJobResponse": {
      "properties": {
        "object": {
          "description": "The stream object resource a backfill job was started for.",
          "$ref": "StreamObject"
        }
      },
      "id": "StartBackfillJobResponse",
      "type": "object",
      "description": "Response for manually initiating a backfill job for a specific stream object."
    },
    "DiscoverConnectionProfileRequest": {
      "id": "DiscoverConnectionProfileRequest",
      "properties": {
        "recursionDepth": {
          "format": "int32",
          "type": "integer",
          "description": "The number of hierarchy levels below the current level to be retrieved."
        },
        "mysqlRdbms": {
          "description": "MySQL RDBMS to enrich with child data objects and metadata.",
          "$ref": "MysqlRdbms"
        },
        "connectionProfile": {
          "$ref": "ConnectionProfile",
          "description": "An ad-hoc ConnectionProfile configuration."
        },
        "oracleRdbms": {
          "$ref": "OracleRdbms",
          "description": "Oracle RDBMS to enrich with child data objects and metadata."
        },
        "recursive": {
          "description": "Whether to retrieve the full hierarchy of data objects (TRUE) or only the current level (FALSE).",
          "type": "boolean"
        },
        "connectionProfileName": {
          "description": "A reference to an existing ConnectionProfile.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for 'discover' ConnectionProfile request."
    },
    "PrivateConnection": {
      "properties": {
        "vpcPeeringConfig": {
          "$ref": "VpcPeeringConfig",
          "description": "VPC Peering Config"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The update time of the resource."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The create time of the resource.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels.",
          "type": "object"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource's name."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "FAILED",
            "DELETING",
            "FAILED_TO_DELETE"
          ],
          "description": "Output only. The state of the Private Connection.",
          "enumDescriptions": [
            "",
            "The private connection is in creation state - creating resources.",
            "The private connection has been created with all of its resources.",
            "The private connection creation has failed.",
            "The private connection is being deleted.",
            "Delete request has failed, resource is in invalid state."
          ],
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "error": {
          "readOnly": true,
          "$ref": "Error",
          "description": "Output only. In case of error, the details of the error in a user-friendly format."
        }
      },
      "description": "The PrivateConnection resource is used to establish private connectivity between Datastream and a customer's network.",
      "id": "PrivateConnection",
      "type": "object"
    },
    "Error": {
      "id": "Error",
      "type": "object",
      "description": "Represent a user-facing Error.",
      "properties": {
        "message": {
          "description": "A message containing more information about the error that occurred.",
          "type": "string"
        },
        "reason": {
          "description": "A title that explains the reason for the error.",
          "type": "string"
        },
        "errorUuid": {
          "description": "A unique identifier for this specific error, allowing it to be traced throughout the system in logs and API responses.",
          "type": "string"
        },
        "details": {
          "type": "object",
          "description": "Additional information about the error.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "errorTime": {
          "format": "google-datetime",
          "description": "The time when the error occurred.",
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "ListPrivateConnectionsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "privateConnections": {
          "type": "array",
          "items": {
            "$ref": "PrivateConnection"
          },
          "description": "List of private connectivity configurations."
        }
      },
      "id": "ListPrivateConnectionsResponse",
      "type": "object"
    },
    "ListConnectionProfilesResponse": {
      "type": "object",
      "id": "ListConnectionProfilesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "connectionProfiles": {
          "description": "List of connection profiles.",
          "items": {
            "$ref": "ConnectionProfile"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "ListStreamsResponse": {
      "type": "object",
      "id": "ListStreamsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "streams": {
          "description": "List of streams",
          "items": {
            "$ref": "Stream"
          },
          "type": "array"
        }
      }
    },
    "GcsDestinationConfig": {
      "type": "object",
      "description": "Google Cloud Storage destination configuration",
      "properties": {
        "avroFileFormat": {
          "description": "AVRO file format configuration.",
          "$ref": "AvroFileFormat"
        },
        "path": {
          "description": "Path inside the Cloud Storage bucket to write data to.",
          "type": "string"
        },
        "gcsFileFormat": {
          "description": "File format that data should be written in. Deprecated field (b/169501737) - use file_format instead.",
          "deprecated": true,
          "enumDescriptions": [
            "Unspecified Cloud Storage file format.",
            "Avro file format"
          ],
          "type": "string",
          "enum": [
            "GCS_FILE_FORMAT_UNSPECIFIED",
            "AVRO"
          ]
        },
        "jsonFileFormat": {
          "description": "JSON file format configuration.",
          "$ref": "JsonFileFormat"
        },
        "fileRotationMb": {
          "format": "int32",
          "description": "The maximum file size to be saved in the bucket.",
          "type": "integer"
        },
        "fileRotationInterval": {
          "type": "string",
          "description": "The maximum duration for which new events are added before a file is closed and a new file is created.",
          "format": "google-duration"
        }
      },
      "id": "GcsDestinationConfig"
    },
    "BackfillJob": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "Default value.",
            "Backfill job was never started for the stream object (stream has backfill strategy defined as manual or object was explicitly excluded from automatic backfill).",
            "Backfill job will start pending available resources.",
            "Backfill job is running.",
            "Backfill job stopped (next job run will start from beginning).",
            "Backfill job failed (due to an error).",
            "Backfill completed successfully.",
            "Backfill job failed since the table structure is currently unsupported for backfill."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "PENDING",
            "ACTIVE",
            "STOPPED",
            "FAILED",
            "COMPLETED",
            "UNSUPPORTED"
          ],
          "description": "Backfill job state.",
          "type": "string"
        },
        "trigger": {
          "enumDescriptions": [
            "Default value.",
            "Object backfill job was triggered automatically according to the stream's backfill strategy.",
            "Object backfill job was triggered manually using the dedicated API."
          ],
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "description": "Backfill job's triggering reason.",
          "type": "string"
        },
        "lastEndTime": {
          "type": "string",
          "description": "Output only. Backfill job's end time.",
          "format": "google-datetime",
          "readOnly": true
        },
        "lastStartTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Backfill job's start time."
        },
        "errors": {
          "items": {
            "$ref": "Error"
          },
          "description": "Output only. Errors which caused the backfill job to fail.",
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "BackfillJob",
      "description": "Represents a backfill job on a specific stream object.",
      "type": "object"
    },
    "SourceObjectIdentifier": {
      "properties": {
        "mysqlIdentifier": {
          "$ref": "MysqlObjectIdentifier",
          "description": "Mysql data source object identifier."
        },
        "oracleIdentifier": {
          "description": "Oracle data source object identifier.",
          "$ref": "OracleObjectIdentifier"
        }
      },
      "description": "Represents an identifier of an object in the data source.",
      "id": "SourceObjectIdentifier",
      "type": "object"
    },
    "MysqlDatabase": {
      "id": "MysqlDatabase",
      "type": "object",
      "properties": {
        "databaseName": {
          "type": "string",
          "description": "Database name."
        },
        "mysqlTables": {
          "type": "array",
          "items": {
            "$ref": "MysqlTable"
          },
          "description": "Tables in the database."
        }
      },
      "description": "MySQL database."
    },
    "VpcPeeringConfig": {
      "properties": {
        "subnet": {
          "type": "string",
          "description": "Required. A free subnet for peering. (CIDR of /29)"
        },
        "vpcName": {
          "type": "string",
          "description": "Required. fully qualified name of the VPC Datastream will peer to."
        }
      },
      "description": "The VPC Peering configuration is used to create VPC peering between Datastream and the consumer's VPC.",
      "id": "VpcPeeringConfig",
      "type": "object"
    },
    "FetchErrorsRequest": {
      "properties": {},
      "type": "object",
      "description": "Request message for 'FetchErrors' request.",
      "id": "FetchErrorsRequest"
    },
    "OracleSourceConfig": {
      "type": "object",
      "properties": {
        "rejectlist": {
          "$ref": "OracleRdbms",
          "description": "Oracle objects to exclude from the stream."
        },
        "dropLargeObjects": {
          "$ref": "DropLargeObjects",
          "description": "Drop large object values."
        },
        "allowlist": {
          "description": "Oracle objects to include in the stream.",
          "$ref": "OracleRdbms"
        }
      },
      "id": "OracleSourceConfig",
      "description": "Oracle data source configuration"
    },
    "ForwardSshTunnelConnectivity": {
      "description": "Forward SSH Tunnel connectivity.",
      "id": "ForwardSshTunnelConnectivity",
      "type": "object",
      "properties": {
        "hostname": {
          "description": "Required. Hostname for the SSH tunnel.",
          "type": "string"
        },
        "port": {
          "format": "int32",
          "type": "integer",
          "description": "Port for the SSH tunnel, default value is 22."
        },
        "password": {
          "type": "string",
          "description": "Input only. SSH password."
        },
        "privateKey": {
          "description": "Input only. SSH private key.",
          "type": "string"
        },
        "username": {
          "description": "Required. Username for the SSH tunnel.",
          "type": "string"
        }
      }
    },
    "OracleColumn": {
      "type": "object",
      "description": "Oracle Column.",
      "properties": {
        "nullable": {
          "type": "boolean",
          "description": "Whether or not the column can accept a null value."
        },
        "precision": {
          "type": "integer",
          "format": "int32",
          "description": "Column precision."
        },
        "primaryKey": {
          "description": "Whether or not the column represents a primary key.",
          "type": "boolean"
        },
        "encoding": {
          "type": "string",
          "description": "Column encoding."
        },
        "dataType": {
          "type": "string",
          "description": "The Oracle data type."
        },
        "length": {
          "type": "integer",
          "description": "Column length.",
          "format": "int32"
        },
        "ordinalPosition": {
          "description": "The ordinal position of the column in the table.",
          "format": "int32",
          "type": "integer"
        },
        "scale": {
          "description": "Column scale.",
          "type": "integer",
          "format": "int32"
        },
        "columnName": {
          "description": "Column name.",
          "type": "string"
        }
      },
      "id": "OracleColumn"
    },
    "MysqlSourceConfig": {
      "type": "object",
      "id": "MysqlSourceConfig",
      "description": "MySQL source configuration",
      "properties": {
        "rejectlist": {
          "description": "MySQL objects to exclude from the stream.",
          "$ref": "MysqlRdbms"
        },
        "allowlist": {
          "$ref": "MysqlRdbms",
          "description": "MySQL objects to retrieve from the source."
        }
      }
    },
    "BackfillNoneStrategy": {
      "description": "Backfill strategy to disable automatic backfill for the Stream's objects.",
      "properties": {},
      "id": "BackfillNoneStrategy",
      "type": "object"
    },
    "ValidationResult": {
      "properties": {
        "validations": {
          "description": "A list of validations (includes both executed as well as not executed validations).",
          "items": {
            "$ref": "Validation"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Contains the current validation results.",
      "id": "ValidationResult"
    },
    "ValidationMessage": {
      "id": "ValidationMessage",
      "type": "object",
      "description": "Represent user-facing validation result message.",
      "properties": {
        "metadata": {
          "description": "Additional metadata related to the result.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "message": {
          "type": "string",
          "description": "The result of the validation."
        },
        "code": {
          "description": "A custom code identifying this specific message.",
          "type": "string"
        },
        "level": {
          "description": "Message severity level (warning or error).",
          "type": "string",
          "enumDescriptions": [
            "Unspecified level.",
            "Potentially cause issues with the Stream.",
            "Definitely cause issues with the Stream."
          ],
          "enum": [
            "LEVEL_UNSPECIFIED",
            "WARNING",
            "ERROR"
          ]
        }
      }
    },
    "OracleRdbms": {
      "description": "Oracle database structure.",
      "id": "OracleRdbms",
      "properties": {
        "oracleSchemas": {
          "items": {
            "$ref": "OracleSchema"
          },
          "type": "array",
          "description": "Oracle schemas/databases in the database server."
        }
      },
      "type": "object"
    },
    "MysqlSslConfig": {
      "properties": {
        "clientCertificateSet": {
          "description": "Output only. Indicates whether the client_certificate field is set.",
          "readOnly": true,
          "type": "boolean"
        },
        "caCertificateSet": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the ca_certificate field is set."
        },
        "clientKey": {
          "description": "Input only. PEM-encoded private key associated with the Client Certificate. If this field is used then the 'client_certificate' and the 'ca_certificate' fields are mandatory.",
          "type": "string"
        },
        "caCertificate": {
          "type": "string",
          "description": "Input only. PEM-encoded certificate of the CA that signed the source database server's certificate."
        },
        "clientKeySet": {
          "description": "Output only. Indicates whether the client_key field is set.",
          "readOnly": true,
          "type": "boolean"
        },
        "clientCertificate": {
          "type": "string",
          "description": "Input only. PEM-encoded certificate that will be used by the replica to authenticate against the source database server. If this field is used then the 'client_key' and the 'ca_certificate' fields are mandatory."
        }
      },
      "id": "MysqlSslConfig",
      "description": "MySQL SSL configuration information.",
      "type": "object"
    },
    "MysqlTable": {
      "id": "MysqlTable",
      "description": "MySQL table.",
      "type": "object",
      "properties": {
        "tableName": {
          "description": "Table name.",
          "type": "string"
        },
        "mysqlColumns": {
          "items": {
            "$ref": "MysqlColumn"
          },
          "description": "MySQL columns in the database. When unspecified as part of include/exclude lists, includes/excludes everything.",
          "type": "array"
        }
      }
    },
    "ListRoutesResponse": {
      "description": "route list response",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "routes": {
          "description": "List of Routes.",
          "items": {
            "$ref": "Route"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "type": "object",
      "id": "ListRoutesResponse"
    },
    "JsonFileFormat": {
      "type": "object",
      "id": "JsonFileFormat",
      "properties": {
        "schemaFileFormat": {
          "enumDescriptions": [
            "Unspecified schema file format.",
            "Do not attach schema file.",
            "Avro schema format."
          ],
          "description": "The schema file format along JSON data files.",
          "type": "string",
          "enum": [
            "SCHEMA_FILE_FORMAT_UNSPECIFIED",
            "NO_SCHEMA_FILE",
            "AVRO_SCHEMA_FILE"
          ]
        },
        "compression": {
          "enumDescriptions": [
            "Unspecified json file compression.",
            "Do not compress JSON file.",
            "Gzip compression."
          ],
          "type": "string",
          "enum": [
            "JSON_COMPRESSION_UNSPECIFIED",
            "NO_COMPRESSION",
            "GZIP"
          ],
          "description": "Compression of the loaded JSON file."
        }
      },
      "description": "JSON file format configuration."
    },
    "GcsProfile": {
      "type": "object",
      "id": "GcsProfile",
      "description": "Cloud Storage bucket profile.",
      "properties": {
        "bucketName": {
          "type": "string",
          "description": "Required. The full project and resource path for Cloud Storage bucket including the name."
        },
        "rootPath": {
          "description": "The root path inside the Cloud Storage bucket.",
          "type": "string"
        }
      }
    },
    "MysqlColumn": {
      "type": "object",
      "description": "MySQL Column.",
      "properties": {
        "columnName": {
          "type": "string",
          "description": "Column name."
        },
        "nullable": {
          "description": "Whether or not the column can accept a null value.",
          "type": "boolean"
        },
        "length": {
          "type": "integer",
          "format": "int32",
          "description": "Column length."
        },
        "ordinalPosition": {
          "format": "int32",
          "type": "integer",
          "description": "The ordinal position of the column in the table."
        },
        "dataType": {
          "type": "string",
          "description": "The MySQL data type. Full data types list can be found here: https://dev.mysql.com/doc/refman/8.0/en/data-types.html"
        },
        "primaryKey": {
          "type": "boolean",
          "description": "Whether or not the column represents a primary key."
        },
        "collation": {
          "type": "string",
          "description": "Column collation."
        }
      },
      "id": "MysqlColumn"
    },
    "SourceConfig": {
      "id": "SourceConfig",
      "description": "The configuration of the stream source.",
      "properties": {
        "sourceConnectionProfileName": {
          "type": "string",
          "description": "Required. Source connection profile identifier."
        },
        "mysqlSourceConfig": {
          "description": "MySQL data source configuration",
          "$ref": "MysqlSourceConfig"
        },
        "oracleSourceConfig": {
          "$ref": "OracleSourceConfig",
          "description": "Oracle data source configuration"
        }
      },
      "type": "object"
    },
    "DropLargeObjects": {
      "id": "DropLargeObjects",
      "properties": {},
      "type": "object",
      "description": "Configuration to drop large object values."
    },
    "BackfillAllStrategy": {
      "properties": {
        "oracleExcludedObjects": {
          "description": "Oracle data source objects to avoid backfilling.",
          "$ref": "OracleRdbms"
        },
        "mysqlExcludedObjects": {
          "description": "MySQL data source objects to avoid backfilling.",
          "$ref": "MysqlRdbms"
        }
      },
      "description": "Backfill strategy to automatically backfill the Stream's objects. Specific objects can be excluded.",
      "id": "BackfillAllStrategy",
      "type": "object"
    },
    "OperationMetadata": {
      "properties": {
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "validationResult": {
          "readOnly": true,
          "$ref": "ValidationResult",
          "description": "Output only. Results of executed validations if there are any."
        },
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "type": "object"
    },
    "StopBackfillJobResponse": {
      "description": "Response for manually stop a backfill job for a specific stream object.",
      "id": "StopBackfillJobResponse",
      "properties": {
        "object": {
          "$ref": "StreamObject",
          "description": "The stream object resource the backfill job was stopped for."
        }
      },
      "type": "object"
    },
    "DestinationConfig": {
      "description": "The configuration of the stream destination.",
      "properties": {
        "destinationConnectionProfileName": {
          "type": "string",
          "description": "Required. Destination connection profile identifier."
        },
        "gcsDestinationConfig": {
          "$ref": "GcsDestinationConfig",
          "description": "GCS destination configuration."
        }
      },
      "id": "DestinationConfig",
      "type": "object"
    },
    "StreamObject": {
      "id": "StreamObject",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The creation time of the object.",
          "type": "string"
        },
        "backfillJob": {
          "$ref": "BackfillJob",
          "description": "The latest backfill job that was initiated for the stream object."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The last update time of the object.",
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "errors": {
          "readOnly": true,
          "description": "Output only. Active errors on the object.",
          "items": {
            "$ref": "Error"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The object's name."
        },
        "sourceObject": {
          "description": "The object identifier in the data source.",
          "$ref": "SourceObjectIdentifier"
        }
      },
      "description": "A specific stream object (e.g a specific DB table).",
      "type": "object"
    },
    "Validation": {
      "properties": {
        "message": {
          "type": "array",
          "description": "Messages reflecting the validation results.",
          "items": {
            "$ref": "ValidationMessage"
          }
        },
        "code": {
          "description": "A custom code identifying this validation.",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "Unspecified status.",
            "Validation did not execute.",
            "Validation failed.",
            "Validation passed."
          ],
          "description": "Validation execution status.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_EXECUTED",
            "FAILED",
            "PASSED"
          ],
          "type": "string"
        },
        "description": {
          "description": "A short description of the validation.",
          "type": "string"
        }
      },
      "id": "Validation",
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "OracleProfile": {
      "description": "Oracle database profile.",
      "type": "object",
      "properties": {
        "databaseService": {
          "description": "Required. Database for the Oracle connection.",
          "type": "string"
        },
        "password": {
          "description": "Required. Password for the Oracle connection.",
          "type": "string"
        },
        "hostname": {
          "description": "Required. Hostname for the Oracle connection.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "Required. Username for the Oracle connection."
        },
        "connectionAttributes": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Connection string attributes"
        },
        "port": {
          "format": "int32",
          "description": "Port for the Oracle connection, default value is 1521.",
          "type": "integer"
        }
      },
      "id": "OracleProfile"
    },
    "PrivateConnectivity": {
      "properties": {
        "privateConnectionName": {
          "type": "string"
        }
      },
      "description": "Private Connectivity",
      "type": "object",
      "id": "PrivateConnectivity"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array"
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        }
      }
    },
    "StaticServiceIpConnectivity": {
      "description": "Static IP address connectivity.",
      "properties": {},
      "type": "object",
      "id": "StaticServiceIpConnectivity"
    },
    "AvroFileFormat": {
      "type": "object",
      "description": "AVRO file format configuration.",
      "properties": {},
      "id": "AvroFileFormat"
    },
    "NoConnectivitySettings": {
      "properties": {},
      "type": "object",
      "description": "No connectivity settings.",
      "id": "NoConnectivitySettings"
    },
    "ConnectionProfile": {
      "type": "object",
      "id": "ConnectionProfile",
      "properties": {
        "noConnectivity": {
          "description": "No connectivity option chosen.",
          "$ref": "NoConnectivitySettings"
        },
        "staticServiceIpConnectivity": {
          "$ref": "StaticServiceIpConnectivity",
          "description": "Static Service IP connectivity."
        },
        "name": {
          "description": "Output only. The resource's name.",
          "type": "string",
          "readOnly": true
        },
        "privateConnectivity": {
          "$ref": "PrivateConnectivity",
          "description": "Private connectivity."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name."
        },
        "oracleProfile": {
          "$ref": "OracleProfile",
          "description": "Oracle ConnectionProfile configuration."
        },
        "mysqlProfile": {
          "description": "MySQL ConnectionProfile configuration.",
          "$ref": "MysqlProfile"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels.",
          "type": "object"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The update time of the resource.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "forwardSshConnectivity": {
          "$ref": "ForwardSshTunnelConnectivity",
          "description": "Forward SSH tunnel connectivity."
        },
        "gcsProfile": {
          "$ref": "GcsProfile",
          "description": "Cloud Storage ConnectionProfile configuration."
        },
        "createTime": {
          "description": "Output only. The create time of the resource.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Route": {
      "description": "The Route resource is the child of the PrivateConnection resource. It used to define a route for a PrivateConnection setup.",
      "properties": {
        "name": {
          "description": "Output only. The resource's name.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The create time of the resource.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The update time of the resource.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "description": "Labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name."
        },
        "destinationPort": {
          "description": "Destination port for connection",
          "type": "integer",
          "format": "int32"
        },
        "destinationAddress": {
          "type": "string",
          "description": "Required. Destination address for connection"
        }
      },
      "id": "Route",
      "type": "object"
    },
    "MysqlObjectIdentifier": {
      "properties": {
        "database": {
          "type": "string",
          "description": "Required. The database name."
        },
        "table": {
          "type": "string",
          "description": "Required. The table name."
        }
      },
      "id": "MysqlObjectIdentifier",
      "type": "object",
      "description": "Mysql data source object identifier."
    },
    "FetchErrorsResponse": {
      "properties": {
        "errors": {
          "type": "array",
          "description": "The list of errors on the Stream.",
          "items": {
            "$ref": "Error"
          }
        }
      },
      "description": "Response message for a 'FetchErrors' response.",
      "id": "FetchErrorsResponse",
      "type": "object"
    },
    "ListStreamObjectsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page."
        },
        "streamObjects": {
          "description": "List of stream objects.",
          "items": {
            "$ref": "StreamObject"
          },
          "type": "array"
        }
      },
      "description": "Response containing the objects for a stream.",
      "type": "object",
      "id": "ListStreamObjectsResponse"
    },
    "Location": {
      "type": "object",
      "id": "Location",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        }
      },
      "description": "A resource that represents a Google Cloud location."
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest"
    },
    "MysqlProfile": {
      "id": "MysqlProfile",
      "properties": {
        "sslConfig": {
          "description": "SSL configuration for the MySQL connection.",
          "$ref": "MysqlSslConfig"
        },
        "username": {
          "description": "Required. Username for the MySQL connection.",
          "type": "string"
        },
        "port": {
          "type": "integer",
          "description": "Port for the MySQL connection, default value is 3306.",
          "format": "int32"
        },
        "hostname": {
          "type": "string",
          "description": "Required. Hostname for the MySQL connection."
        },
        "password": {
          "description": "Required. Input only. Password for the MySQL connection.",
          "type": "string"
        }
      },
      "description": "MySQL database profile.",
      "type": "object"
    },
    "Stream": {
      "type": "object",
      "properties": {
        "backfillAll": {
          "$ref": "BackfillAllStrategy",
          "description": "Automatically backfill objects included in the stream source configuration. Specific objects can be excluded."
        },
        "name": {
          "type": "string",
          "description": "Output only. The stream's name.",
          "readOnly": true
        },
        "customerManagedEncryptionKey": {
          "description": "Immutable. A reference to a KMS encryption key. If provided, it will be used to encrypt the data. If left blank, data will be encrypted using an internal Stream-specific encryption key provisioned through KMS.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The creation time of the stream."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATED",
            "RUNNING",
            "PAUSED",
            "MAINTENANCE",
            "FAILED",
            "FAILED_PERMANENTLY",
            "STARTING",
            "DRAINING"
          ],
          "description": "The state of the stream.",
          "enumDescriptions": [
            "Unspecified stream state.",
            "The stream has been created.",
            "The stream is running.",
            "The stream is paused.",
            "The stream is in maintenance mode. Updates are rejected on the resource in this state.",
            "The stream is experiencing an error that is preventing data from being streamed.",
            "The stream has experienced a terminal failure.",
            "The stream is starting, but not yet running.",
            "The Stream is no longer reading new events, but still writing events in the buffer."
          ]
        },
        "destinationConfig": {
          "description": "Required. Destination connection profile configuration.",
          "$ref": "DestinationConfig"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The last update time of the stream."
        },
        "errors": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Errors on the Stream.",
          "items": {
            "$ref": "Error"
          }
        },
        "labels": {
          "description": "Labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sourceConfig": {
          "description": "Required. Source connection profile configuration.",
          "$ref": "SourceConfig"
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "backfillNone": {
          "description": "Do not automatically backfill any objects.",
          "$ref": "BackfillNoneStrategy"
        }
      },
      "id": "Stream"
    },
    "OracleTable": {
      "description": "Oracle table.",
      "properties": {
        "oracleColumns": {
          "description": "Oracle columns in the schema. When unspecified as part of inclue/exclude lists, includes/excludes everything.",
          "type": "array",
          "items": {
            "$ref": "OracleColumn"
          }
        },
        "tableName": {
          "description": "Table name.",
          "type": "string"
        }
      },
      "id": "OracleTable",
      "type": "object"
    },
    "DiscoverConnectionProfileResponse": {
      "type": "object",
      "id": "DiscoverConnectionProfileResponse",
      "properties": {
        "oracleRdbms": {
          "description": "Enriched Oracle RDBMS object.",
          "$ref": "OracleRdbms"
        },
        "mysqlRdbms": {
          "description": "Enriched MySQL RDBMS object.",
          "$ref": "MysqlRdbms"
        }
      }
    },
    "OracleSchema": {
      "properties": {
        "schemaName": {
          "description": "Schema name.",
          "type": "string"
        },
        "oracleTables": {
          "type": "array",
          "description": "Tables in the schema.",
          "items": {
            "$ref": "OracleTable"
          }
        }
      },
      "description": "Oracle schema.",
      "type": "object",
      "id": "OracleSchema"
    },
    "FetchStaticIpsResponse": {
      "description": "Response message for a 'FetchStaticIps' response.",
      "properties": {
        "staticIps": {
          "type": "array",
          "description": "list of static ips by account",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "FetchStaticIpsResponse"
    },
    "MysqlRdbms": {
      "type": "object",
      "description": "MySQL database structure",
      "id": "MysqlRdbms",
      "properties": {
        "mysqlDatabases": {
          "items": {
            "$ref": "MysqlDatabase"
          },
          "description": "Mysql databases on the server",
          "type": "array"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    }
  },
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "connectionProfiles": {
              "deprecated": true,
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "path": "v1alpha1/{+parent}/connectionProfiles",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/connectionProfiles",
                  "response": {
                    "$ref": "ListConnectionProfilesResponse"
                  },
                  "description": "Use this method to list connection profiles created in a project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "datastream.projects.locations.connectionProfiles.list",
                  "deprecated": true,
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Filter request."
                    },
                    "parent": {
                      "description": "Required. The parent that owns the collection of connection profiles.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "description": "Page token received from a previous `ListConnectionProfiles` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConnectionProfiles` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Order by fields for the result.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Maximum number of connection profiles to return. If unspecified, at most 50 connection profiles will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    }
                  }
                },
                "patch": {
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/connectionProfiles/{connectionProfilesId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH",
                  "deprecated": true,
                  "parameters": {
                    "requestId": {
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the ConnectionProfile resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten."
                    },
                    "validateOnly": {
                      "description": "Optional. Only validate the connection profile, but do not update any resources. The default is false.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connectionProfiles/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Output only. The resource's name."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha1/{+name}",
                  "id": "datastream.projects.locations.connectionProfiles.patch",
                  "description": "Use this method to update the parameters of a connection profile.",
                  "request": {
                    "$ref": "ConnectionProfile"
                  }
                },
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/connectionProfiles/{connectionProfilesId}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "deprecated": true,
                  "id": "datastream.projects.locations.connectionProfiles.delete",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connectionProfiles/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the connection profile resource to delete.",
                      "type": "string",
                      "location": "path"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha1/{+name}",
                  "description": "Use this method to delete a connection profile.."
                },
                "create": {
                  "description": "Use this method to create a connection profile in a project and location.",
                  "deprecated": true,
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "connectionProfileId": {
                      "description": "Required. The connection profile identifier.",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent that owns the collection of ConnectionProfiles."
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "datastream.projects.locations.connectionProfiles.create",
                  "path": "v1alpha1/{+parent}/connectionProfiles",
                  "request": {
                    "$ref": "ConnectionProfile"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/connectionProfiles"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the connection profile resource to get.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connectionProfiles/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "ConnectionProfile"
                  },
                  "id": "datastream.projects.locations.connectionProfiles.get",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/connectionProfiles/{connectionProfilesId}",
                  "deprecated": true,
                  "path": "v1alpha1/{+name}",
                  "httpMethod": "GET",
                  "description": "Use this method to get details about a connection profile.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "discover": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource of the ConnectionProfile type. Must be in the format `projects/*/locations/*`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "DiscoverConnectionProfileRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "datastream.projects.locations.connectionProfiles.discover",
                  "response": {
                    "$ref": "DiscoverConnectionProfileResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/connectionProfiles:discover",
                  "description": "Use this method to discover a connection profile. The discover API call exposes the data objects and metadata belonging to the profile. Typically, a request returns children data objects under a parent data object that's optionally supplied in the request.",
                  "deprecated": true,
                  "path": "v1alpha1/{+parent}/connectionProfiles:discover"
                }
              }
            },
            "privateConnections": {
              "resources": {
                "routes": {
                  "methods": {
                    "delete": {
                      "id": "datastream.projects.locations.privateConnections.routes.delete",
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}/routes/{routesId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+/routes/[^/]+$",
                          "required": true,
                          "description": "Required. The name of the Route resource to delete.",
                          "type": "string"
                        },
                        "requestId": {
                          "location": "query",
                          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "deprecated": true,
                      "path": "v1alpha1/{+name}",
                      "description": "Use this method to delete a route.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "id": "datastream.projects.locations.privateConnections.routes.create",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent that owns the collection of Routes.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "routeId": {
                          "location": "query",
                          "description": "Required. The Route identifier.",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "description": "Use this method to create a route for a private connectivity in a project and location.",
                      "request": {
                        "$ref": "Route"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha1/{+parent}/routes",
                      "httpMethod": "POST",
                      "deprecated": true,
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}/routes",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "list": {
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "description": "Maximum number of Routes to return. The service may return fewer than this value. If unspecified, at most 50 Routes will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "location": "query",
                          "type": "integer"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Filter request."
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Page token received from a previous `ListRoutes` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRoutes` must match the call that provided the page token."
                        },
                        "orderBy": {
                          "description": "Order by fields for the result.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+$",
                          "location": "path",
                          "description": "Required. The parent that owns the collection of Routess."
                        }
                      },
                      "response": {
                        "$ref": "ListRoutesResponse"
                      },
                      "path": "v1alpha1/{+parent}/routes",
                      "httpMethod": "GET",
                      "description": "Use this method to list routes created for a private connectivity in a project and location.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}/routes",
                      "id": "datastream.projects.locations.privateConnections.routes.list",
                      "deprecated": true,
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Use this method to get details about a route.",
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}/routes/{routesId}",
                      "id": "datastream.projects.locations.privateConnections.routes.get",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "Route"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The name of the Route resource to get.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+/routes/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "deprecated": true,
                      "path": "v1alpha1/{+name}"
                    }
                  },
                  "deprecated": true
                }
              },
              "methods": {
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "deprecated": true,
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the private connectivity configuration to delete."
                    },
                    "force": {
                      "description": "Optional. If set to true, any child routes that belong to this PrivateConnection will also be deleted.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}",
                  "httpMethod": "DELETE",
                  "id": "datastream.projects.locations.privateConnections.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Use this method to delete a private connectivity configuration.",
                  "path": "v1alpha1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "get": {
                  "description": "Use this method to get details about a private connectivity configuration.",
                  "httpMethod": "GET",
                  "id": "datastream.projects.locations.privateConnections.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the private connectivity configuration to get.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "PrivateConnection"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "deprecated": true,
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}"
                },
                "list": {
                  "id": "datastream.projects.locations.privateConnections.list",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/privateConnections",
                  "response": {
                    "$ref": "ListPrivateConnectionsResponse"
                  },
                  "deprecated": true,
                  "description": "Use this method to list private connectivity configurations in a project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha1/{+parent}/privateConnections",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Order by fields for the result."
                    },
                    "pageSize": {
                      "description": "Maximum number of private connectivity configurations to return. If unspecified, at most 50 private connectivity configurations that will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Page token received from a previous `ListPrivateConnections` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPrivateConnections` must match the call that provided the page token.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent that owns the collection of private connectivity configurations.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "filter": {
                      "description": "Filter request.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "create": {
                  "id": "datastream.projects.locations.privateConnections.create",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "PrivateConnection"
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/privateConnections",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1alpha1/{+parent}/privateConnections",
                  "parameters": {
                    "privateConnectionId": {
                      "location": "query",
                      "description": "Required. The private connectivity identifier.",
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "parent": {
                      "description": "Required. The parent that owns the collection of PrivateConnections.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Use this method to create a private connectivity configuration.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "deprecated": true
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "path": "v1alpha1/{+name}/operations",
                  "id": "datastream.projects.locations.operations.list",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "httpMethod": "GET",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "id": "datastream.projects.locations.operations.delete"
                },
                "cancel": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "id": "datastream.projects.locations.operations.cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha1/{+name}:cancel"
                },
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha1/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "datastream.projects.locations.operations.get"
                }
              }
            },
            "streams": {
              "resources": {
                "objects": {
                  "deprecated": true,
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+/objects/[^/]+$",
                          "description": "Required. The name of the stream object resource to get.",
                          "type": "string"
                        }
                      },
                      "path": "v1alpha1/{+name}",
                      "id": "datastream.projects.locations.streams.objects.get",
                      "deprecated": true,
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}/objects/{objectsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Use this method to get details about a stream object.",
                      "response": {
                        "$ref": "StreamObject"
                      }
                    },
                    "stopBackfillJob": {
                      "description": "Stops the backfill job for the specified stream object.",
                      "path": "v1alpha1/{+object}:stopBackfillJob",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}/objects/{objectsId}:stopBackfillJob",
                      "parameters": {
                        "object": {
                          "description": "Required. The name of the stream object resource to stop the backfill job for.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+/objects/[^/]+$",
                          "location": "path"
                        }
                      },
                      "id": "datastream.projects.locations.streams.objects.stopBackfillJob",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "object"
                      ],
                      "deprecated": true,
                      "response": {
                        "$ref": "StopBackfillJobResponse"
                      }
                    },
                    "startBackfillJob": {
                      "deprecated": true,
                      "httpMethod": "POST",
                      "id": "datastream.projects.locations.streams.objects.startBackfillJob",
                      "parameterOrder": [
                        "object"
                      ],
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}/objects/{objectsId}:startBackfillJob",
                      "response": {
                        "$ref": "StartBackfillJobResponse"
                      },
                      "path": "v1alpha1/{+object}:startBackfillJob",
                      "description": "Starts backfill job for the specified stream object.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "object": {
                          "required": true,
                          "description": "Required. The name of the stream object resource to start a backfill job for.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+/objects/[^/]+$"
                        }
                      }
                    },
                    "list": {
                      "id": "datastream.projects.locations.streams.objects.list",
                      "description": "Use this method to list the objects of a specific stream.",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "Maximum number of objects to return. Default is 50. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+$",
                          "location": "path",
                          "description": "Required. The parent stream that owns the collection of objects.",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Page token received from a previous `ListStreamObjectsRequest` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListStreamObjectsRequest` must match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "deprecated": true,
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListStreamObjectsResponse"
                      },
                      "path": "v1alpha1/{+parent}/objects",
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}/objects"
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1alpha1/{+parent}/streams",
                  "parameters": {
                    "streamId": {
                      "location": "query",
                      "description": "Required. The stream identifier.",
                      "type": "string"
                    },
                    "force": {
                      "description": "Optional. Create the stream without validating it.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The parent that owns the collection of streams.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "validateOnly": {
                      "description": "Optional. Only validate the stream, but do not create any resources. The default is false.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "deprecated": true,
                  "description": "Use this method to create a stream.",
                  "request": {
                    "$ref": "Stream"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "datastream.projects.locations.streams.create",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/streams"
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the stream resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "description": "Output only. The stream's name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+$",
[...]
