{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "dataproc",
  "ownerName": "Google",
  "servicePath": "",
  "discoveryVersion": "v1",
  "title": "Cloud Dataproc API",
  "schemas": {
    "ClusterOperation": {
      "type": "object",
      "properties": {
        "done": {
          "description": "Output only. Indicates the operation is done.",
          "type": "boolean",
          "readOnly": true
        },
        "operationId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The id of the cluster operation."
        },
        "error": {
          "type": "string",
          "description": "Output only. Error, if operation failed.",
          "readOnly": true
        }
      },
      "id": "ClusterOperation",
      "description": "The cluster operation triggered by a workflow."
    },
    "PySparkBatch": {
      "description": "A configuration for running an Apache PySpark (https://spark.apache.org/docs/latest/api/python/getting_started/quickstart.html) batch workload.",
      "type": "object",
      "id": "PySparkBatch",
      "properties": {
        "jarFileUris": {
          "description": "Optional. HCFS URIs of jar files to add to the classpath of the Spark driver and tasks.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "archiveUris": {
          "type": "array",
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.",
          "items": {
            "type": "string"
          }
        },
        "mainPythonFileUri": {
          "description": "Required. The HCFS URI of the main Python file to use as the Spark driver. Must be a .py file.",
          "type": "string"
        },
        "fileUris": {
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor.",
          "type": "array"
        },
        "pythonFileUris": {
          "description": "Optional. HCFS file URIs of Python files to pass to the PySpark framework. Supported file types: .py, .egg, and .zip.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "args": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The arguments to pass to the driver. Do not include arguments that can be set as batch properties, such as --conf, since a collision can occur that causes an incorrect batch submission."
        }
      }
    },
    "Status": {
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status"
    },
    "ReservationAffinity": {
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Corresponds to the label values of reservation resource.",
          "type": "array"
        },
        "consumeReservationType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "NO_RESERVATION",
            "ANY_RESERVATION",
            "SPECIFIC_RESERVATION"
          ],
          "description": "Optional. Type of reservation to consume",
          "enumDescriptions": [
            "",
            "Do not consume from any allocated capacity.",
            "Consume any reservation available.",
            "Must consume from a specific reservation. Must specify key value fields for specifying the reservations."
          ],
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "Optional. Corresponds to the label key of reservation resource."
        }
      },
      "type": "object",
      "id": "ReservationAffinity",
      "description": "Reservation Affinity for consuming Zonal reservation."
    },
    "ParameterValidation": {
      "properties": {
        "regex": {
          "description": "Validation based on regular expressions.",
          "$ref": "RegexValidation"
        },
        "values": {
          "$ref": "ValueValidation",
          "description": "Validation based on a list of allowed values."
        }
      },
      "type": "object",
      "description": "Configuration for parameter validation.",
      "id": "ParameterValidation"
    },
    "ManagedCluster": {
      "id": "ManagedCluster",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels to associate with this cluster.Label keys must be between 1 and 63 characters long, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62}Label values must be between 1 and 63 characters long, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}\\p{N}_-{0,63}No more than 32 labels can be associated with a given cluster."
        },
        "config": {
          "description": "Required. The cluster configuration.",
          "$ref": "ClusterConfig"
        },
        "clusterName": {
          "description": "Required. The cluster name prefix. A unique cluster name will be formed by appending a random suffix.The name must contain only lower-case letters (a-z), numbers (0-9), and hyphens (-). Must begin with a letter. Cannot begin or end with hyphen. Must consist of between 2 and 35 characters.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Cluster that is managed by the workflow."
    },
    "RegexValidation": {
      "id": "RegexValidation",
      "properties": {
        "regexes": {
          "items": {
            "type": "string"
          },
          "description": "Required. RE2 regular expressions used to validate the parameter's value. The value must match the regex in its entirety (substring matches are not sufficient).",
          "type": "array"
        }
      },
      "description": "Validation based on regular expressions.",
      "type": "object"
    },
    "RepairClusterRequest": {
      "type": "object",
      "description": "A request to repair a cluster.",
      "id": "RepairClusterRequest",
      "properties": {
        "nodePools": {
          "type": "array",
          "description": "Optional. Node pools and corresponding repair action to be taken. All node pools should be unique in this request. i.e. Multiple entries for the same node pool id are not allowed.",
          "items": {
            "$ref": "NodePool"
          }
        },
        "requestId": {
          "description": "Optional. A unique ID used to identify the request. If the server receives two RepairClusterRequests with the same ID, the second request is ignored, and the first google.longrunning.Operation created and stored in the backend is returned.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        },
        "gracefulDecommissionTimeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. Timeout for graceful YARN decommissioning. Graceful decommissioning facilitates the removal of cluster nodes without interrupting jobs in progress. The timeout specifies the amount of time to wait for jobs finish before forcefully removing nodes. The default timeout is 0 for forceful decommissioning, and the maximum timeout period is 1 day. (see JSON Mapping—Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).graceful_decommission_timeout is supported in Dataproc image versions 1.2+."
        },
        "clusterUuid": {
          "type": "string",
          "description": "Optional. Specifying the cluster_uuid means the RPC will fail (with error NOT_FOUND) if a cluster with the specified UUID does not exist."
        },
        "parentOperationId": {
          "type": "string",
          "description": "Optional. operation id of the parent operation sending the repair request"
        }
      }
    },
    "JobScheduling": {
      "properties": {
        "maxFailuresPerHour": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Maximum number of times per hour a driver may be restarted as a result of driver exiting with non-zero code before job is reported failed.A job may be reported as thrashing if the driver exits with a non-zero code four times within a 10-minute window.Maximum value is 10.Note: This restartable job option is not supported in Dataproc workflow templates (https://cloud.google.com/dataproc/docs/concepts/workflows/using-workflows#adding_jobs_to_a_template)."
        },
        "maxFailuresTotal": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Maximum total number of times a driver may be restarted as a result of the driver exiting with a non-zero code. After the maximum number is reached, the job will be reported as failed.Maximum value is 240.Note: Currently, this restartable job option is not supported in Dataproc workflow templates (https://cloud.google.com/dataproc/docs/concepts/workflows/using-workflows#adding_jobs_to_a_template)."
        }
      },
      "description": "Job scheduling options.",
      "type": "object",
      "id": "JobScheduling"
    },
    "DataprocMetricConfig": {
      "id": "DataprocMetricConfig",
      "type": "object",
      "description": "Dataproc metric config.",
      "properties": {
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "Metric"
          },
          "description": "Required. Metrics sources to enable."
        }
      }
    },
    "ClusterSelector": {
      "id": "ClusterSelector",
      "type": "object",
      "description": "A selector that chooses target cluster for jobs based on metadata.",
      "properties": {
        "zone": {
          "type": "string",
          "description": "Optional. The zone where workflow process executes. This parameter does not affect the selection of the cluster.If unspecified, the zone of the first cluster matching the selector is used."
        },
        "clusterLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Required. The cluster labels. Cluster must have all labels to match."
        }
      }
    },
    "BasicAutoscalingAlgorithm": {
      "description": "Basic algorithm for autoscaling.",
      "id": "BasicAutoscalingAlgorithm",
      "properties": {
        "cooldownPeriod": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. Duration between scaling events. A scaling period starts after the update operation from the previous event has completed.Bounds: 2m, 1d. Default: 2m."
        },
        "yarnConfig": {
          "description": "Optional. YARN autoscaling configuration.",
          "$ref": "BasicYarnAutoscalingConfig"
        },
        "sparkStandaloneConfig": {
          "$ref": "SparkStandaloneAutoscalingConfig",
          "description": "Optional. Spark Standalone autoscaling configuration"
        }
      },
      "type": "object"
    },
    "RuntimeConfig": {
      "description": "Runtime configuration for a workload.",
      "properties": {
        "properties": {
          "type": "object",
          "description": "Optional. A mapping of property names to values, which are used to configure workload execution.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "version": {
          "type": "string",
          "description": "Optional. Version of the batch runtime."
        },
        "containerImage": {
          "type": "string",
          "description": "Optional. Optional custom container image for the job runtime environment. If not specified, a default container image will be used."
        }
      },
      "id": "RuntimeConfig",
      "type": "object"
    },
    "SparkJob": {
      "description": "A Dataproc job for running Apache Spark (https://spark.apache.org/) applications on YARN.",
      "type": "object",
      "properties": {
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "fileUris": {
          "type": "array",
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor. Useful for naively parallel tasks.",
          "items": {
            "type": "string"
          }
        },
        "properties": {
          "description": "Optional. A mapping of property names to values, used to configure Spark. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/spark/conf/spark-defaults.conf and classes in user code.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "archiveUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip."
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as --conf, that can be set as job properties, since a collision may occur that causes an incorrect job submission."
        },
        "jarFileUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATHs of the Spark driver and tasks."
        },
        "mainJarFileUri": {
          "description": "The HCFS URI of the jar file that contains the main class.",
          "type": "string"
        },
        "mainClass": {
          "description": "The name of the driver's main class. The jar file that contains the class must be in the default CLASSPATH or specified in jar_file_uris.",
          "type": "string"
        }
      },
      "id": "SparkJob"
    },
    "NodeInitializationAction": {
      "id": "NodeInitializationAction",
      "properties": {
        "executableFile": {
          "type": "string",
          "description": "Required. Cloud Storage URI of executable file."
        },
        "executionTimeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. Amount of time executable has to complete. Default is 10 minutes (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).Cluster creation fails with an explanatory error message (the name of the executable that caused the error and the exceeded timeout period) if the executable is not completed at end of the timeout period."
        }
      },
      "type": "object",
      "description": "Specifies an executable to run on a fully configured node and a timeout period for executable completion."
    },
    "InstanceGroupConfig": {
      "type": "object",
      "id": "InstanceGroupConfig",
      "properties": {
        "preemptibility": {
          "description": "Optional. Specifies the preemptibility of the instance group.The default value for master and worker groups is NON_PREEMPTIBLE. This default cannot be changed.The default value for secondary instances is PREEMPTIBLE.",
          "type": "string",
          "enumDescriptions": [
            "Preemptibility is unspecified, the system will choose the appropriate setting for each instance group.",
            "Instances are non-preemptible.This option is allowed for all instance groups and is the only valid value for Master and Worker instance groups.",
            "Instances are preemptible (https://cloud.google.com/compute/docs/instances/preemptible).This option is allowed only for secondary worker (https://cloud.google.com/dataproc/docs/concepts/compute/secondary-vms) groups.",
            "Instances are Spot VMs (https://cloud.google.com/compute/docs/instances/spot).This option is allowed only for secondary worker (https://cloud.google.com/dataproc/docs/concepts/compute/secondary-vms) groups. Spot VMs are the latest version of preemptible VMs (https://cloud.google.com/compute/docs/instances/preemptible), and provide additional features."
          ],
          "enum": [
            "PREEMPTIBILITY_UNSPECIFIED",
            "NON_PREEMPTIBLE",
            "PREEMPTIBLE",
            "SPOT"
          ]
        },
        "accelerators": {
          "description": "Optional. The Compute Engine accelerator configuration for these instances.",
          "type": "array",
          "items": {
            "$ref": "AcceleratorConfig"
          }
        },
        "instanceReferences": {
          "items": {
            "$ref": "InstanceReference"
          },
          "description": "Output only. List of references to Compute Engine instances.",
          "type": "array",
          "readOnly": true
        },
        "managedGroupConfig": {
          "readOnly": true,
          "$ref": "ManagedGroupConfig",
          "description": "Output only. The config for Compute Engine Instance Group Manager that manages this group. This is only used for preemptible instance groups."
        },
        "machineTypeUri": {
          "type": "string",
          "description": "Optional. The Compute Engine machine type used for cluster instances.A full URL, partial URI, or short name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/zones/[zone]/machineTypes/n1-standard-2 projects/[project_id]/zones/[zone]/machineTypes/n1-standard-2 n1-standard-2Auto Zone Exception: If you are using the Dataproc Auto Zone Placement (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/auto-zone#using_auto_zone_placement) feature, you must use the short name of the machine type resource, for example, n1-standard-2."
        },
        "isPreemptible": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Specifies that this instance group contains preemptible instances."
        },
        "imageUri": {
          "type": "string",
          "description": "Optional. The Compute Engine image resource used for cluster instances.The URI can represent an image or image family.Image examples: https://www.googleapis.com/compute/v1/projects/[project_id]/global/images/[image-id] projects/[project_id]/global/images/[image-id] image-idImage family examples. Dataproc will use the most recent image from the family: https://www.googleapis.com/compute/v1/projects/[project_id]/global/images/family/[custom-image-family-name] projects/[project_id]/global/images/family/[custom-image-family-name]If the URI is unspecified, it will be inferred from SoftwareConfig.image_version or the system default."
        },
        "minCpuPlatform": {
          "type": "string",
          "description": "Optional. Specifies the minimum cpu platform for the Instance Group. See Dataproc -\u003e Minimum CPU Platform (https://cloud.google.com/dataproc/docs/concepts/compute/dataproc-min-cpu)."
        },
        "diskConfig": {
          "$ref": "DiskConfig",
          "description": "Optional. Disk option config settings."
        },
        "numInstances": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of VM instances in the instance group. For HA cluster master_config groups, must be set to 3. For standard cluster master_config groups, must be set to 1."
        },
        "instanceNames": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The list of instance names. Dataproc derives the names from cluster_name, num_instances, and the instance group.",
          "type": "array"
        }
      },
      "description": "The config settings for Compute Engine resources in an instance group, such as a master or worker group."
    },
    "HiveJob": {
      "type": "object",
      "description": "A Dataproc job for running Apache Hive (https://hive.apache.org/) queries on YARN.",
      "properties": {
        "scriptVariables": {
          "type": "object",
          "description": "Optional. Mapping of query variable names to values (equivalent to the Hive command: SET name=\"value\";).",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "description": "Optional. A mapping of property names and values, used to configure Hive. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/hadoop/conf/*-site.xml, /etc/hive/conf/hive-site.xml, and classes in user code.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "continueOnFailure": {
          "type": "boolean",
          "description": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries."
        },
        "queryFileUri": {
          "description": "The HCFS URI of the script that contains Hive queries.",
          "type": "string"
        },
        "queryList": {
          "description": "A list of queries.",
          "$ref": "QueryList"
        },
        "jarFileUris": {
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATH of the Hive server and Hadoop MapReduce (MR) tasks. Can contain Hive SerDes and UDFs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "HiveJob"
    },
    "ListOperationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "SubmitJobRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. A unique id used to identify the request. If the server receives two SubmitJobRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.SubmitJobRequest)s with the same id, then the second request will be ignored and the first Job created and stored in the backend is returned.It is recommended to always set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The id must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        },
        "job": {
          "$ref": "Job",
          "description": "Required. The job resource."
        }
      },
      "id": "SubmitJobRequest",
      "description": "A request to submit a job.",
      "type": "object"
    },
    "QueryList": {
      "description": "A list of queries to run on a cluster.",
      "type": "object",
      "properties": {
        "queries": {
          "description": "Required. The queries to execute. You do not need to end a query expression with a semicolon. Multiple queries can be specified in one string by separating each with a semicolon. Here is an example of a Dataproc API snippet that uses a QueryList to specify a HiveJob: \"hiveJob\": { \"queryList\": { \"queries\": [ \"query1\", \"query2\", \"query3;query4\", ] } } ",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "QueryList"
    },
    "Interval": {
      "type": "object",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive).The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "properties": {
        "startTime": {
          "description": "Optional. Inclusive start of the interval.If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "description": "Optional. Exclusive end of the interval.If specified, a Timestamp matching this interval will have to be before the end.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "Interval"
    },
    "AutoscalingPolicy": {
      "properties": {
        "workerConfig": {
          "$ref": "InstanceGroupAutoscalingPolicyConfig",
          "description": "Required. Describes how the autoscaler will operate for primary workers."
        },
        "id": {
          "description": "Required. The policy id.The id must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). Cannot begin or end with underscore or hyphen. Must consist of between 3 and 50 characters.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The \"resource name\" of the autoscaling policy, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.autoscalingPolicies, the resource name of the policy has the following format: projects/{project_id}/regions/{region}/autoscalingPolicies/{policy_id} For projects.locations.autoscalingPolicies, the resource name of the policy has the following format: projects/{project_id}/locations/{location}/autoscalingPolicies/{policy_id}"
        },
        "secondaryWorkerConfig": {
          "description": "Optional. Describes how the autoscaler will operate for secondary workers.",
          "$ref": "InstanceGroupAutoscalingPolicyConfig"
        },
        "labels": {
          "description": "Optional. The labels to associate with this autoscaling policy. Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). Label values may be empty, but, if present, must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with an autoscaling policy.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "basicAlgorithm": {
          "$ref": "BasicAutoscalingAlgorithm"
        }
      },
      "type": "object",
      "description": "Describes an autoscaling policy for Dataproc cluster autoscaler.",
      "id": "AutoscalingPolicy"
    },
    "InjectCredentialsRequest": {
      "description": "A request to inject credentials into a cluster.",
      "type": "object",
      "id": "InjectCredentialsRequest",
      "properties": {
        "clusterUuid": {
          "type": "string",
          "description": "Required. The cluster UUID."
        },
        "credentialsCiphertext": {
          "description": "Required. The encrypted credentials being injected in to the cluster.The client is responsible for encrypting the credentials in a way that is supported by the cluster.A wrapped value is used here so that the actual contents of the encrypted credentials are not written to audit logs.",
          "type": "string"
        }
      }
    },
    "JobMetadata": {
      "description": "Job Operation metadata.",
      "properties": {
        "operationType": {
          "description": "Output only. Operation type.",
          "type": "string",
          "readOnly": true
        },
        "status": {
          "readOnly": true,
          "$ref": "JobStatus",
          "description": "Output only. Most recent job status."
        },
        "jobId": {
          "description": "Output only. The job id.",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. Job submission time.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "JobMetadata",
      "type": "object"
    },
    "WorkflowTemplatePlacement": {
      "description": "Specifies workflow execution target.Either managed_cluster or cluster_selector is required.",
      "properties": {
        "managedCluster": {
          "description": "A cluster that is managed by the workflow.",
          "$ref": "ManagedCluster"
        },
        "clusterSelector": {
          "description": "Optional. A selector that chooses target cluster for jobs based on metadata.The selector is evaluated at the time each job is submitted.",
          "$ref": "ClusterSelector"
        }
      },
      "type": "object",
      "id": "WorkflowTemplatePlacement"
    },
    "UsageSnapshot": {
      "description": "The usage snaphot represents the resources consumed by a workload at a specified time.",
      "type": "object",
      "properties": {
        "snapshotTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The timestamp of the usage snapshot."
        },
        "shuffleStorageGb": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Shuffle Storage in gigabytes (GB). (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing))"
        },
        "milliDcu": {
          "type": "string",
          "description": "Optional. Milli (one-thousandth) Dataproc Compute Units (DCUs) (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing)).",
          "format": "int64"
        }
      },
      "id": "UsageSnapshot"
    },
    "ListJobsResponse": {
      "properties": {
        "jobs": {
          "items": {
            "$ref": "Job"
          },
          "type": "array",
          "description": "Output only. Jobs list.",
          "readOnly": true
        },
        "nextPageToken": {
          "type": "string",
          "description": "Optional. This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent ListJobsRequest."
        }
      },
      "description": "A list of jobs in a project.",
      "type": "object",
      "id": "ListJobsResponse"
    },
    "SparkRJob": {
      "description": "A Dataproc job for running Apache SparkR (https://spark.apache.org/docs/latest/sparkr.html) applications on YARN.",
      "type": "object",
      "id": "SparkRJob",
      "properties": {
        "mainRFileUri": {
          "description": "Required. The HCFS URI of the main R file to use as the driver. Must be a .R file.",
          "type": "string"
        },
        "archiveUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip."
        },
        "fileUris": {
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor. Useful for naively parallel tasks.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "args": {
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as --conf, that can be set as job properties, since a collision may occur that causes an incorrect job submission.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. A mapping of property names to values, used to configure SparkR. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/spark/conf/spark-defaults.conf and classes in user code."
        },
        "loggingConfig": {
          "$ref": "LoggingConfig",
          "description": "Optional. The runtime log config for job execution."
        }
      }
    },
    "ValueValidation": {
      "description": "Validation based on a list of allowed values.",
      "id": "ValueValidation",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. List of allowed values for the parameter."
        }
      },
      "type": "object"
    },
    "AcceleratorConfig": {
      "type": "object",
      "properties": {
        "acceleratorTypeUri": {
          "description": "Full URL, partial URI, or short name of the accelerator type resource to expose to this instance. See Compute Engine AcceleratorTypes (https://cloud.google.com/compute/docs/reference/v1/acceleratorTypes).Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/zones/[zone]/acceleratorTypes/nvidia-tesla-k80 projects/[project_id]/zones/[zone]/acceleratorTypes/nvidia-tesla-k80 nvidia-tesla-k80Auto Zone Exception: If you are using the Dataproc Auto Zone Placement (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/auto-zone#using_auto_zone_placement) feature, you must use the short name of the accelerator type resource, for example, nvidia-tesla-k80.",
          "type": "string"
        },
        "acceleratorCount": {
          "description": "The number of the accelerator cards of this type exposed to this instance.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Specifies the type and number of accelerator cards attached to the instances of an instance. See GPUs on Compute Engine (https://cloud.google.com/compute/docs/gpus/).",
      "id": "AcceleratorConfig"
    },
    "LoggingConfig": {
      "type": "object",
      "properties": {
        "driverLogLevels": {
          "description": "The per-package log levels for the driver. This may include \"root\" package name to configure rootLogger. Examples: 'com.google = FATAL', 'root = INFO', 'org.apache = DEBUG'",
          "additionalProperties": {
            "enumDescriptions": [
              "Level is unspecified. Use default level for log4j.",
              "Use ALL level for log4j.",
              "Use TRACE level for log4j.",
              "Use DEBUG level for log4j.",
              "Use INFO level for log4j.",
              "Use WARN level for log4j.",
              "Use ERROR level for log4j.",
              "Use FATAL level for log4j.",
              "Turn off log4j."
            ],
            "type": "string",
            "enum": [
              "LEVEL_UNSPECIFIED",
              "ALL",
              "TRACE",
              "DEBUG",
              "INFO",
              "WARN",
              "ERROR",
              "FATAL",
              "OFF"
            ]
          },
          "type": "object"
        }
      },
      "description": "The runtime logging config of the job.",
      "id": "LoggingConfig"
    },
    "ListAutoscalingPoliciesResponse": {
      "type": "object",
      "id": "ListAutoscalingPoliciesResponse",
      "properties": {
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. This token is included in the response if there are more results to fetch.",
          "type": "string"
        },
        "policies": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Autoscaling policies list.",
          "items": {
            "$ref": "AutoscalingPolicy"
          }
        }
      },
      "description": "A response to a request to list autoscaling policies in a project."
    },
    "NamespacedGkeDeploymentTarget": {
      "type": "object",
      "description": "Deprecated. Used only for the deprecated beta. A full, namespace-isolated deployment target for an existing GKE cluster.",
      "id": "NamespacedGkeDeploymentTarget",
      "properties": {
        "targetGkeCluster": {
          "type": "string",
          "description": "Optional. The target GKE cluster to deploy to. Format: 'projects/{project}/locations/{location}/clusters/{cluster_id}'"
        },
        "clusterNamespace": {
          "description": "Optional. A namespace within the GKE cluster to deploy into.",
          "type": "string"
        }
      }
    },
    "GkeClusterConfig": {
      "id": "GkeClusterConfig",
      "type": "object",
      "description": "The cluster's GKE config.",
      "properties": {
        "gkeClusterTarget": {
          "type": "string",
          "description": "Optional. A target GKE cluster to deploy to. It must be in the same project and region as the Dataproc cluster (the GKE cluster can be zonal or regional). Format: 'projects/{project}/locations/{location}/clusters/{cluster_id}'"
        },
        "namespacedGkeDeploymentTarget": {
          "$ref": "NamespacedGkeDeploymentTarget",
          "description": "Optional. Deprecated. Use gkeClusterTarget. Used only for the deprecated beta. A target for the deployment."
        },
        "nodePoolTarget": {
          "items": {
            "$ref": "GkeNodePoolTarget"
          },
          "type": "array",
          "description": "Optional. GKE node pools where workloads will be scheduled. At least one node pool must be assigned the DEFAULT GkeNodePoolTarget.Role. If a GkeNodePoolTarget is not specified, Dataproc constructs a DEFAULT GkeNodePoolTarget. Each role can be given to only one GkeNodePoolTarget. All node pools must have the same location settings."
        }
      }
    },
    "IdentityConfig": {
      "type": "object",
      "description": "Identity related configuration, including service account based secure multi-tenancy user mappings.",
      "properties": {
        "userServiceAccountMapping": {
          "description": "Required. Map of user to service account.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "IdentityConfig"
    },
    "LifecycleConfig": {
      "id": "LifecycleConfig",
      "type": "object",
      "description": "Specifies the cluster auto-delete schedule configuration.",
      "properties": {
        "autoDeleteTtl": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. The lifetime duration of cluster. The cluster will be auto-deleted at the end of this period. Minimum value is 10 minutes; maximum value is 14 days (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json))."
        },
        "idleStartTime": {
          "description": "Output only. The time when cluster became idle (most recent job finished) and became eligible for deletion due to idleness (see JSON representation of Timestamp (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "idleDeleteTtl": {
          "type": "string",
          "description": "Optional. The duration to keep the cluster alive while idling (when no jobs are running). Passing this threshold will cause the cluster to be deleted. Minimum value is 5 minutes; maximum value is 14 days (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "format": "google-duration"
        },
        "autoDeleteTime": {
          "description": "Optional. The time when cluster will be auto-deleted (see JSON representation of Timestamp (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "ClusterConfig": {
      "properties": {
        "softwareConfig": {
          "$ref": "SoftwareConfig",
          "description": "Optional. The config settings for cluster software."
        },
        "dataprocMetricConfig": {
          "description": "Optional. The config for Dataproc metrics.",
          "$ref": "DataprocMetricConfig"
        },
        "metastoreConfig": {
          "$ref": "MetastoreConfig",
          "description": "Optional. Metastore configuration."
        },
        "secondaryWorkerConfig": {
          "$ref": "InstanceGroupConfig",
          "description": "Optional. The Compute Engine config settings for a cluster's secondary worker instances"
        },
        "securityConfig": {
          "$ref": "SecurityConfig",
          "description": "Optional. Security settings for the cluster."
        },
        "masterConfig": {
          "description": "Optional. The Compute Engine config settings for the cluster's master instance.",
          "$ref": "InstanceGroupConfig"
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Optional. Encryption settings for the cluster."
        },
        "lifecycleConfig": {
          "description": "Optional. Lifecycle setting for the cluster.",
          "$ref": "LifecycleConfig"
        },
        "gkeClusterConfig": {
          "$ref": "GkeClusterConfig",
          "description": "Optional. BETA. The Kubernetes Engine config for Dataproc clusters deployed to The Kubernetes Engine config for Dataproc clusters deployed to Kubernetes. These config settings are mutually exclusive with Compute Engine-based options, such as gce_cluster_config, master_config, worker_config, secondary_worker_config, and autoscaling_config."
        },
        "endpointConfig": {
          "$ref": "EndpointConfig",
          "description": "Optional. Port/endpoint configuration for this cluster"
        },
        "tempBucket": {
          "description": "Optional. A Cloud Storage bucket used to store ephemeral cluster and jobs data, such as Spark and MapReduce history files. If you do not specify a temp bucket, Dataproc will determine a Cloud Storage location (US, ASIA, or EU) for your cluster's temp bucket according to the Compute Engine zone where your cluster is deployed, and then create and manage this project-level, per-location bucket. The default bucket has a TTL of 90 days, but you can use any TTL (or none) if you specify a bucket (see Dataproc staging and temp buckets (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/staging-bucket)). This field requires a Cloud Storage bucket name, not a gs://... URI to a Cloud Storage bucket.",
          "type": "string"
        },
        "autoscalingConfig": {
          "$ref": "AutoscalingConfig",
          "description": "Optional. Autoscaling config for the policy associated with the cluster. Cluster does not autoscale if this field is unset."
        },
        "workerConfig": {
          "$ref": "InstanceGroupConfig",
          "description": "Optional. The Compute Engine config settings for the cluster's worker instances."
        },
        "initializationActions": {
          "description": "Optional. Commands to execute on each node after config is completed. By default, executables are run on master and all worker nodes. You can test a node's role metadata to run an executable on a master or worker node, as shown below using curl (you can also use wget): ROLE=$(curl -H Metadata-Flavor:Google http://metadata/computeMetadata/v1/instance/attributes/dataproc-role) if [[ \"${ROLE}\" == 'Master' ]]; then ... master specific actions ... else ... worker specific actions ... fi ",
          "type": "array",
          "items": {
            "$ref": "NodeInitializationAction"
          }
        },
        "configBucket": {
          "type": "string",
          "description": "Optional. A Cloud Storage bucket used to stage job dependencies, config files, and job driver console output. If you do not specify a staging bucket, Cloud Dataproc will determine a Cloud Storage location (US, ASIA, or EU) for your cluster's staging bucket according to the Compute Engine zone where your cluster is deployed, and then create and manage this project-level, per-location bucket (see Dataproc staging and temp buckets (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/staging-bucket)). This field requires a Cloud Storage bucket name, not a gs://... URI to a Cloud Storage bucket."
        },
        "gceClusterConfig": {
          "description": "Optional. The shared Compute Engine config settings for all instances in a cluster.",
          "$ref": "GceClusterConfig"
        },
        "auxiliaryNodeGroups": {
          "type": "array",
          "description": "Optional. The node group settings.",
          "items": {
            "$ref": "AuxiliaryNodeGroup"
          }
        }
      },
      "type": "object",
      "id": "ClusterConfig",
      "description": "The cluster config."
    },
    "DiagnoseClusterRequest": {
      "type": "object",
      "properties": {
        "jobs": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Specifies a list of jobs on which diagnosis is to be performed. Format: projects/{project}/regions/{region}/jobs/{job}"
        },
        "yarnApplicationId": {
          "description": "Optional. DEPRECATED Specifies the yarn application on which diagnosis is to be performed.",
          "type": "string"
        },
        "job": {
          "type": "string",
          "description": "Optional. DEPRECATED Specifies the job on which diagnosis is to be performed. Format: projects/{project}/regions/{region}/jobs/{job}"
        },
        "diagnosisInterval": {
          "$ref": "Interval",
          "description": "Optional. Time interval in which diagnosis should be carried out on the cluster."
        },
        "yarnApplicationIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Specifies a list of yarn applications on which diagnosis is to be performed.",
          "type": "array"
        }
      },
      "id": "DiagnoseClusterRequest",
      "description": "A request to collect cluster diagnostic information."
    },
    "NodeGroup": {
      "id": "NodeGroup",
      "properties": {
        "labels": {
          "description": "Optional. Node group labels. Label keys must consist of from 1 to 63 characters and conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). Label values can be empty. If specified, they must consist of from 1 to 63 characters and conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). The node group must have no more than 32 labelsn.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "The Node group resource name (https://aip.dev/122)."
        },
        "nodeGroupConfig": {
          "description": "Optional. The node group instance group configuration.",
          "$ref": "InstanceGroupConfig"
        },
        "roles": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Required unspecified role.",
              "Job drivers run on the node pool."
            ],
            "enum": [
              "ROLE_UNSPECIFIED",
              "DRIVER"
            ]
          },
          "type": "array",
          "description": "Required. Node group roles."
        }
      },
      "description": "Dataproc Node Group. The Dataproc NodeGroup resource is not related to the Dataproc NodeGroupAffinity resource.",
      "type": "object"
    },
    "KubernetesSoftwareConfig": {
      "properties": {
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The properties to set on daemon config files.Property keys are specified in prefix:property format, for example spark:spark.kubernetes.container.image. The following are supported prefixes and their mappings: spark: spark-defaults.confFor more information, see Cluster properties (https://cloud.google.com/dataproc/docs/concepts/cluster-properties)."
        },
        "componentVersion": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The components that should be installed in this Dataproc cluster. The key must be a string from the KubernetesComponent enumeration. The value is the version of the software to be installed. At least one entry must be specified."
        }
      },
      "description": "The software configuration for this Dataproc cluster running on Kubernetes.",
      "type": "object",
      "id": "KubernetesSoftwareConfig"
    },
    "EncryptionConfig": {
      "description": "Encryption settings for the cluster.",
      "id": "EncryptionConfig",
      "properties": {
        "gcePdKmsKeyName": {
          "type": "string",
          "description": "Optional. The Cloud KMS key name to use for PD disk encryption for all instances in the cluster."
        },
        "kmsKey": {
          "type": "string",
          "description": "Optional. The Cloud KMS key name to use for encrypting customer core content and cluster PD disk for all instances in the cluster."
        }
      },
      "type": "object"
    },
    "InstanceGroupAutoscalingPolicyConfig": {
      "type": "object",
      "properties": {
        "minInstances": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Minimum number of instances for this group.Primary workers - Bounds: 2, max_instances. Default: 2. Secondary workers - Bounds: 0, max_instances. Default: 0."
        },
        "weight": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Weight for the instance group, which is used to determine the fraction of total workers in the cluster from this instance group. For example, if primary workers have weight 2, and secondary workers have weight 1, the cluster will have approximately 2 primary workers for each secondary worker.The cluster may not reach the specified balance if constrained by min/max bounds or other autoscaling settings. For example, if max_instances for secondary workers is 0, then only primary workers will be added. The cluster can also be out of balance when created.If weight is not set on any instance group, the cluster will default to equal weight for all groups: the cluster will attempt to maintain an equal number of workers in each group within the configured size bounds for each group. If weight is set for one group only, the cluster will default to zero weight on the unset group. For example if weight is set only on primary workers, the cluster will use primary workers only and no secondary workers."
        },
        "maxInstances": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Maximum number of instances for this group. Required for primary workers. Note that by default, clusters will not use secondary workers. Required for secondary workers if the minimum secondary instances is set.Primary workers - Bounds: [min_instances, ). Secondary workers - Bounds: [min_instances, ). Default: 0."
        }
      },
      "id": "InstanceGroupAutoscalingPolicyConfig",
      "description": "Configuration for the size bounds of an instance group, including its proportional size to other groups."
    },
    "PySparkJob": {
      "description": "A Dataproc job for running Apache PySpark (https://spark.apache.org/docs/0.9.0/python-programming-guide.html) applications on YARN.",
      "properties": {
        "mainPythonFileUri": {
          "description": "Required. The HCFS URI of the main Python file to use as the driver. Must be a .py file.",
          "type": "string"
        },
        "pythonFileUris": {
          "type": "array",
          "description": "Optional. HCFS file URIs of Python files to pass to the PySpark framework. Supported file types: .py, .egg, and .zip.",
          "items": {
            "type": "string"
          }
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. A mapping of property names to values, used to configure PySpark. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/spark/conf/spark-defaults.conf and classes in user code."
        },
        "archiveUris": {
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "jarFileUris": {
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATHs of the Python driver and tasks.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "fileUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor. Useful for naively parallel tasks."
        },
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "args": {
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as --conf, that can be set as job properties, since a collision may occur that causes an incorrect job submission.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "PySparkJob"
    },
    "SparkRBatch": {
      "type": "object",
      "properties": {
        "fileUris": {
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor.",
          "type": "array"
        },
        "mainRFileUri": {
          "type": "string",
          "description": "Required. The HCFS URI of the main R file to use as the driver. Must be a .R or .r file."
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The arguments to pass to the Spark driver. Do not include arguments that can be set as batch properties, such as --conf, since a collision can occur that causes an incorrect batch submission."
        },
        "archiveUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip."
        }
      },
      "id": "SparkRBatch",
      "description": "A configuration for running an Apache SparkR (https://spark.apache.org/docs/latest/sparkr.html) batch workload."
    },
    "KubernetesClusterConfig": {
      "type": "object",
      "description": "The configuration for running the Dataproc cluster on Kubernetes.",
      "id": "KubernetesClusterConfig",
      "properties": {
        "kubernetesNamespace": {
          "description": "Optional. A namespace within the Kubernetes cluster to deploy into. If this namespace does not exist, it is created. If it exists, Dataproc verifies that another Dataproc VirtualCluster is not installed into it. If not specified, the name of the Dataproc Cluster is used.",
          "type": "string"
        },
        "gkeClusterConfig": {
          "$ref": "GkeClusterConfig",
          "description": "Required. The configuration for running the Dataproc cluster on GKE."
        },
        "kubernetesSoftwareConfig": {
          "description": "Optional. The software configuration for this Dataproc cluster running on Kubernetes.",
          "$ref": "KubernetesSoftwareConfig"
        }
      }
    },
    "StateHistory": {
      "type": "object",
      "id": "StateHistory",
      "properties": {
        "state": {
          "enumDescriptions": [
            "The batch state is unknown.",
            "The batch is created before running.",
            "The batch is running.",
            "The batch is cancelling.",
            "The batch cancellation was successful.",
            "The batch completed successfully.",
            "The batch is no longer running due to an error."
          ],
          "description": "Output only. The state of the batch at this point in history.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "stateStartTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the batch entered the historical state.",
          "format": "google-datetime"
        },
        "stateMessage": {
          "type": "string",
          "description": "Output only. Details about the state at this point in history.",
          "readOnly": true
        }
      },
      "description": "Historical state information."
    },
    "SparkStandaloneAutoscalingConfig": {
      "type": "object",
      "description": "Basic autoscaling configurations for Spark Standalone.",
      "id": "SparkStandaloneAutoscalingConfig",
      "properties": {
        "scaleUpFactor": {
          "description": "Required. Fraction of required workers to add to Spark Standalone clusters. A scale-up factor of 1.0 will result in scaling up so that there are no more required workers for the Spark Job (more aggressive scaling). A scale-up factor closer to 0 will result in a smaller magnitude of scaling up (less aggressive scaling).Bounds: 0.0, 1.0.",
          "type": "number",
          "format": "double"
        },
        "scaleDownFactor": {
          "format": "double",
          "description": "Required. Fraction of required executors to remove from Spark Serverless clusters. A scale-down factor of 1.0 will result in scaling down so that there are no more executors for the Spark Job.(more aggressive scaling). A scale-down factor closer to 0 will result in a smaller magnitude of scaling donw (less aggressive scaling).Bounds: 0.0, 1.0.",
          "type": "number"
        },
        "scaleDownMinWorkerFraction": {
          "description": "Optional. Minimum scale-down threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2 worker scale-down for the cluster to scale. A threshold of 0 means the autoscaler will scale down on any recommended change.Bounds: 0.0, 1.0. Default: 0.0.",
          "format": "double",
          "type": "number"
        },
        "scaleUpMinWorkerFraction": {
          "description": "Optional. Minimum scale-up threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2-worker scale-up for the cluster to scale. A threshold of 0 means the autoscaler will scale up on any recommended change.Bounds: 0.0, 1.0. Default: 0.0.",
          "format": "double",
          "type": "number"
        },
        "gracefulDecommissionTimeout": {
          "description": "Required. Timeout for Spark graceful decommissioning of spark workers. Specifies the duration to wait for spark worker to complete spark decomissioning tasks before forcefully removing workers. Only applicable to downscaling operations.Bounds: 0s, 1d.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "ListClustersResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Output only. This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent ListClustersRequest.",
          "type": "string",
          "readOnly": true
        },
        "clusters": {
          "description": "Output only. The clusters in the project.",
          "type": "array",
          "items": {
            "$ref": "Cluster"
          },
          "readOnly": true
        }
      },
      "description": "The list of all clusters in a project.",
      "id": "ListClustersResponse",
      "type": "object"
    },
    "TrinoJob": {
      "id": "TrinoJob",
      "description": "A Dataproc job for running Trino (https://trino.io/) queries. IMPORTANT: The Dataproc Trino Optional Component (https://cloud.google.com/dataproc/docs/concepts/components/trino) must be enabled when the cluster is created to submit a Trino job to the cluster.",
      "type": "object",
      "properties": {
        "queryList": {
          "$ref": "QueryList",
          "description": "A list of queries."
        },
        "queryFileUri": {
          "type": "string",
          "description": "The HCFS URI of the script that contains SQL queries."
        },
        "loggingConfig": {
          "$ref": "LoggingConfig",
          "description": "Optional. The runtime log config for job execution."
        },
        "continueOnFailure": {
          "description": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries.",
          "type": "boolean"
        },
        "properties": {
          "description": "Optional. A mapping of property names to values. Used to set Trino session properties (https://trino.io/docs/current/sql/set-session.html) Equivalent to using the --session flag in the Trino CLI",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "clientTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Trino client tags to attach to this query"
        },
        "outputFormat": {
          "type": "string",
          "description": "Optional. The format in which query output will be displayed. See the Trino documentation for supported output formats"
        }
      }
    },
    "KerberosConfig": {
      "id": "KerberosConfig",
      "properties": {
        "crossRealmTrustKdc": {
          "description": "Optional. The KDC (IP or hostname) for the remote trusted realm in a cross realm trust relationship.",
          "type": "string"
        },
        "rootPrincipalPasswordUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the root principal password."
        },
        "keyPasswordUri": {
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the password to the user provided key. For the self-signed certificate, this password is generated by Dataproc.",
          "type": "string"
        },
        "truststoreUri": {
          "description": "Optional. The Cloud Storage URI of the truststore file used for SSL encryption. If not provided, Dataproc will provide a self-signed certificate.",
          "type": "string"
        },
        "tgtLifetimeHours": {
          "type": "integer",
          "description": "Optional. The lifetime of the ticket granting ticket, in hours. If not specified, or user specifies 0, then default value 10 will be used.",
          "format": "int32"
        },
        "keystorePasswordUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the password to the user provided keystore. For the self-signed certificate, this password is generated by Dataproc."
        },
        "realm": {
          "description": "Optional. The name of the on-cluster Kerberos realm. If not specified, the uppercased domain of hostnames will be the realm.",
          "type": "string"
        },
        "enableKerberos": {
          "description": "Optional. Flag to indicate whether to Kerberize the cluster (default: false). Set this field to true to enable Kerberos on a cluster.",
          "type": "boolean"
        },
        "crossRealmTrustSharedPasswordUri": {
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the shared password between the on-cluster Kerberos realm and the remote trusted realm, in a cross realm trust relationship.",
          "type": "string"
        },
        "truststorePasswordUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the password to the user provided truststore. For the self-signed certificate, this password is generated by Dataproc."
        },
        "keystoreUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage URI of the keystore file used for SSL encryption. If not provided, Dataproc will provide a self-signed certificate."
        },
        "crossRealmTrustRealm": {
          "description": "Optional. The remote realm the Dataproc on-cluster KDC will trust, should the user enable cross realm trust.",
          "type": "string"
        },
        "kdcDbKeyUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the master key of the KDC database."
        },
        "kmsKeyUri": {
          "description": "Optional. The uri of the KMS key used to encrypt various sensitive files.",
          "type": "string"
        },
        "crossRealmTrustAdminServer": {
          "description": "Optional. The admin server (IP or hostname) for the remote trusted realm in a cross realm trust relationship.",
          "type": "string"
        }
      },
      "description": "Specifies Kerberos related configuration.",
      "type": "object"
    },
    "Binding": {
      "id": "Binding",
      "type": "object",
      "properties": {
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding.If the condition evaluates to true, then this binding applies to the current request.If the condition evaluates to false, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "role": {
          "description": "Role that is assigned to the list of members, or principals. For example, roles/viewer, roles/editor, or roles/owner.",
          "type": "string"
        },
        "members": {
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. members can have the following values: allUsers: A special identifier that represents anyone who is on the internet; with or without a Google account. allAuthenticatedUsers: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. user:{emailid}: An email address that represents a specific Google account. For example, alice@example.com . serviceAccount:{emailid}: An email address that represents a Google service account. For example, my-other-app@appspot.gserviceaccount.com. serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]: An identifier for a Kubernetes service account (https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, my-project.svc.id.goog[my-namespace/my-kubernetes-sa]. group:{emailid}: An email address that represents a Google group. For example, admins@example.com. domain:{domain}: The G Suite domain (primary) that represents all the users of that domain. For example, google.com or example.com. deleted:user:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a user that has been recently deleted. For example, alice@example.com?uid=123456789012345678901. If the user is recovered, this value reverts to user:{emailid} and the recovered user retains the role in the binding. deleted:serviceAccount:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901. If the service account is undeleted, this value reverts to serviceAccount:{emailid} and the undeleted service account retains the role in the binding. deleted:group:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, admins@example.com?uid=123456789012345678901. If the group is recovered, this value reverts to group:{emailid} and the recovered group retains the role in the binding.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Associates members, or principals, with a role."
    },
    "GetPolicyOptions": {
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "properties": {
        "requestedPolicyVersion": {
          "format": "int32",
          "description": "Optional. The maximum policy version that will be used to format the policy.Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected.Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset.The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GetPolicyOptions"
    },
    "GkeNodePoolAutoscalingConfig": {
      "properties": {
        "maxNodeCount": {
          "format": "int32",
          "description": "The maximum number of nodes in the node pool. Must be \u003e= min_node_count, and must be \u003e 0. Note: Quota must be sufficient to scale up the cluster.",
          "type": "integer"
        },
        "minNodeCount": {
          "format": "int32",
          "description": "The minimum number of nodes in the node pool. Must be \u003e= 0 and \u003c= max_node_count.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "GkeNodePoolAutoscaling contains information the cluster autoscaler needs to adjust the size of the node pool to the current cluster usage.",
      "id": "GkeNodePoolAutoscalingConfig"
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A subset of TestPermissionsRequest.permissions that the caller is allowed."
        }
      },
      "description": "Response message for TestIamPermissions method.",
      "id": "TestIamPermissionsResponse"
    },
    "AutoscalingConfig": {
      "properties": {
        "policyUri": {
          "description": "Optional. The autoscaling policy used by the cluster.Only resource names including projectid and location (region) are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/locations/[dataproc_region]/autoscalingPolicies/[policy_id] projects/[project_id]/locations/[dataproc_region]/autoscalingPolicies/[policy_id]Note that the policy must be in the same project and Dataproc region.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Autoscaling Policy config associated with the cluster.",
      "id": "AutoscalingConfig"
    },
    "ClusterOperationMetadata": {
      "properties": {
        "labels": {
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Output only. Labels associated with the operation"
        },
        "statusHistory": {
          "items": {
            "$ref": "ClusterOperationStatus"
          },
          "readOnly": true,
          "description": "Output only. The previous operation status.",
          "type": "array"
        },
        "clusterUuid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Cluster UUID for the operation."
        },
        "status": {
          "readOnly": true,
          "description": "Output only. Current operation status.",
          "$ref": "ClusterOperationStatus"
        },
        "childOperationIds": {
          "readOnly": true,
          "description": "Output only. Child operation ids",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "clusterName": {
          "type": "string",
          "description": "Output only. Name of the cluster for the operation.",
          "readOnly": true
        },
        "operationType": {
          "description": "Output only. The operation type.",
          "type": "string",
          "readOnly": true
        },
        "warnings": {
          "description": "Output only. Errors encountered during operation execution.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Short description of operation."
        }
      },
      "type": "object",
      "description": "Metadata describing the operation.",
      "id": "ClusterOperationMetadata"
    },
    "InstanceReference": {
      "description": "A reference to a Compute Engine instance.",
      "id": "InstanceReference",
      "type": "object",
      "properties": {
        "instanceId": {
          "description": "The unique identifier of the Compute Engine instance.",
          "type": "string"
        },
        "instanceName": {
          "description": "The user-friendly name of the Compute Engine instance.",
          "type": "string"
        },
        "publicEciesKey": {
          "type": "string",
          "description": "The public ECIES key used for sharing data with this instance."
        },
        "publicKey": {
          "description": "The public RSA key used for sharing data with this instance.",
          "type": "string"
        }
      }
    },
    "GkeNodePoolAcceleratorConfig": {
      "id": "GkeNodePoolAcceleratorConfig",
      "description": "A GkeNodeConfigAcceleratorConfig represents a Hardware Accelerator request for a node pool.",
      "properties": {
        "acceleratorCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of accelerator cards exposed to an instance."
        },
        "gpuPartitionSize": {
          "description": "Size of partitions to create on the GPU. Valid values are described in the NVIDIA mig user guide (https://docs.nvidia.com/datacenter/tesla/mig-user-guide/#partitioning).",
          "type": "string"
        },
        "acceleratorType": {
          "description": "The accelerator type resource namename (see GPUs on Compute Engine).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "NodeGroupOperationMetadata": {
      "description": "Metadata describing the node group operation.",
      "properties": {
        "operationType": {
          "type": "string",
          "description": "The operation type.",
          "enumDescriptions": [
            "Node group operation type is unknown.",
            "Create node group operation type.",
            "Update node group operation type.",
            "Delete node group operation type.",
            "Resize node group operation type."
          ],
          "enum": [
            "NODE_GROUP_OPERATION_TYPE_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE",
            "RESIZE"
          ]
        },
        "clusterUuid": {
          "description": "Output only. Cluster UUID associated with the node group operation.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "Output only. Labels associated with the operation.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "nodeGroupId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Node group ID for the operation."
        },
        "status": {
          "$ref": "ClusterOperationStatus",
          "readOnly": true,
          "description": "Output only. Current operation status."
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Short description of operation."
        },
        "warnings": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Errors encountered during operation execution.",
          "type": "array"
        },
        "statusHistory": {
          "items": {
            "$ref": "ClusterOperationStatus"
          },
          "description": "Output only. The previous operation status.",
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "NodeGroupOperationMetadata",
      "type": "object"
    },
    "ExecutionConfig": {
      "description": "Execution configuration for a workload.",
      "id": "ExecutionConfig",
      "type": "object",
      "properties": {
        "idleTtl": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. The duration to keep the session alive while it's idling. Exceeding this threshold causes the session to terminate. This field cannot be set on a batch workload. Minimum value is 10 minutes; maximum value is 14 days (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)). Defaults to 4 hours if not set. If both ttl and idle_ttl are specified, the conditions are treated as OR conditions: the workload will be terminated when it has been idle for idle_ttl or when ttl has been exceed, whichever occurs first."
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. Service account that used to execute workload."
        },
        "kmsKey": {
          "description": "Optional. The Cloud KMS key to use for encryption.",
          "type": "string"
        },
        "ttl": {
          "description": "Optional. The duration after which the workload will be terminated. When the workload exceeds this duration, it will be unconditionally terminated without waiting for ongoing work to finish. If ttl is not specified for a batch workload, the workload will be allowed to run until it exits naturally (or runs forever without exiting). If ttl is not specified for an interactive session, it defaults to 24h. Minimum value is 10 minutes; maximum value is 14 days (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)). If both ttl and idle_ttl are specified (for an interactive session), the conditions are treated as OR conditions: the workload will be terminated when it has been idle for idle_ttl or when ttl has been exceeded, whichever occurs first.",
          "type": "string",
          "format": "google-duration"
        },
        "networkUri": {
          "type": "string",
          "description": "Optional. Network URI to connect workload to."
        },
        "subnetworkUri": {
          "type": "string",
          "description": "Optional. Subnetwork URI to connect workload to."
        },
        "networkTags": {
          "type": "array",
          "description": "Optional. Tags used for network traffic control.",
          "items": {
            "type": "string"
          }
        },
        "stagingBucket": {
          "type": "string",
          "description": "Optional. A Cloud Storage bucket used to stage workload dependencies, config files, and store workload output and other ephemeral data, such as Spark history files. If you do not specify a staging bucket, Cloud Dataproc will determine a Cloud Storage location according to the region where your workload is running, and then create and manage project-level, per-location staging and temporary buckets. This field requires a Cloud Storage bucket name, not a gs://... URI to a Cloud Storage bucket."
        }
      }
    },
    "OrderedJob": {
      "description": "A job executed by the workflow.",
      "id": "OrderedJob",
      "properties": {
        "trinoJob": {
          "$ref": "TrinoJob",
          "description": "Optional. Job is a Trino job."
        },
        "sparkRJob": {
          "$ref": "SparkRJob",
          "description": "Optional. Job is a SparkR job."
        },
        "stepId": {
          "type": "string",
          "description": "Required. The step id. The id must be unique among all jobs within the template.The step id is used as prefix for job id, as job goog-dataproc-workflow-step-id label, and in prerequisiteStepIds field from other steps.The id must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). Cannot begin or end with underscore or hyphen. Must consist of between 3 and 50 characters."
        },
        "pigJob": {
          "description": "Optional. Job is a Pig job.",
          "$ref": "PigJob"
        },
        "sparkSqlJob": {
          "$ref": "SparkSqlJob",
          "description": "Optional. Job is a SparkSql job."
        },
        "pysparkJob": {
          "$ref": "PySparkJob",
          "description": "Optional. Job is a PySpark job."
        },
        "prestoJob": {
          "description": "Optional. Job is a Presto job.",
          "$ref": "PrestoJob"
        },
        "prerequisiteStepIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The optional list of prerequisite job step_ids. If not specified, the job will start at the beginning of workflow."
        },
        "hiveJob": {
          "description": "Optional. Job is a Hive job.",
          "$ref": "HiveJob"
        },
        "sparkJob": {
          "description": "Optional. Job is a Spark job.",
          "$ref": "SparkJob"
        },
        "scheduling": {
          "$ref": "JobScheduling",
          "description": "Optional. Job scheduling configuration."
        },
        "hadoopJob": {
          "description": "Optional. Job is a Hadoop job.",
          "$ref": "HadoopJob"
        },
        "labels": {
          "description": "Optional. The labels to associate with this job.Label keys must be between 1 and 63 characters long, and must conform to the following regular expression: \\p{Ll}\\p{Lo}{0,62}Label values must be between 1 and 63 characters long, and must conform to the following regular expression: \\p{Ll}\\p{Lo}\\p{N}_-{0,63}No more than 32 labels can be associated with a given job.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } ",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "GetIamPolicyRequest": {
      "id": "GetIamPolicyRequest",
      "description": "Request message for GetIamPolicy method.",
      "type": "object",
      "properties": {
        "options": {
          "$ref": "GetPolicyOptions",
          "description": "OPTIONAL: A GetPolicyOptions object for specifying options to GetIamPolicy."
        }
      }
    },
    "JobStatus": {
      "type": "object",
      "description": "Dataproc job status.",
      "id": "JobStatus",
      "properties": {
        "details": {
          "description": "Optional. Output only. Job state details, such as an error description if the state is ERROR.",
          "type": "string",
          "readOnly": true
        },
        "substate": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "SUBMITTED",
            "QUEUED",
            "STALE_STATUS"
          ],
          "description": "Output only. Additional state information, which includes status reported by the agent.",
          "enumDescriptions": [
            "The job substate is unknown.",
            "The Job is submitted to the agent.Applies to RUNNING state.",
            "The Job has been received and is awaiting execution (it may be waiting for a condition to be met). See the \"details\" field for the reason for the delay.Applies to RUNNING state.",
            "The agent-reported status is out of date, which may be caused by a loss of communication between the agent and Dataproc. If the agent does not send a timely update, the job will fail.Applies to RUNNING state."
          ],
          "readOnly": true
        },
        "stateStartTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when this state was entered."
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SETUP_DONE",
            "RUNNING",
            "CANCEL_PENDING",
            "CANCEL_STARTED",
            "CANCELLED",
            "DONE",
            "ERROR",
            "ATTEMPT_FAILURE"
          ],
          "enumDescriptions": [
            "The job state is unknown.",
            "The job is pending; it has been submitted, but is not yet running.",
            "Job has been received by the service and completed initial setup; it will soon be submitted to the cluster.",
            "The job is running on the cluster.",
            "A CancelJob request has been received, but is pending.",
            "Transient in-flight resources have been canceled, and the request to cancel the running job has been issued to the cluster.",
            "The job cancellation was successful.",
            "The job has completed successfully.",
            "The job has completed, but encountered an error.",
            "Job attempt has failed. The detail field contains failure details for this attempt.Applies to restartable jobs only."
          ],
          "description": "Output only. A state message specifying the overall job state."
        }
      }
    },
    "SessionOperationMetadata": {
      "description": "Metadata describing the Session operation.",
      "type": "object",
      "id": "SessionOperationMetadata",
      "properties": {
        "warnings": {
          "description": "Warnings encountered during operation execution.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operationType": {
          "type": "string",
          "enum": [
            "SESSION_OPERATION_TYPE_UNSPECIFIED",
            "CREATE",
            "TERMINATE",
            "DELETE"
          ],
          "enumDescriptions": [
            "Session operation type is unknown.",
            "Create Session operation type.",
            "Terminate Session operation type.",
            "Delete Session operation type."
          ],
          "description": "The operation type."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The time when the operation was created.",
          "type": "string"
        },
        "sessionUuid": {
          "description": "Session UUID for the operation.",
          "type": "string"
        },
        "session": {
          "type": "string",
          "description": "Name of the session for the operation."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels associated with the operation."
        },
        "description": {
          "type": "string",
          "description": "Short description of the operation."
        },
        "doneTime": {
          "description": "The time when the operation was finished.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "Policy": {
      "type": "object",
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources.A Policy is a collection of bindings. A binding binds one or more members, or principals, to a single role. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A role is a named list of permissions; each role can be an IAM predefined role or a user-created custom role.For some types of Google Cloud resources, a binding can also specify a condition, which is a logical expression that allows access to a resource only if the expression evaluates to true. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).JSON example: { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } YAML example: bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the IAM documentation (https://cloud.google.com/iam/docs/).",
      "properties": {
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy.Valid values are 0, 1, and 3. Requests that specify an invalid value are rejected.Any operation that affects conditional role bindings must specify version 3. This requirement applies to the following operations: Getting a policy that includes a conditional role binding Adding a conditional role binding to a policy Changing a conditional role binding in a policy Removing any role binding, with or without a condition, from a policy that includes conditionsImportant: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        },
        "etag": {
          "description": "etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to getIamPolicy, and systems are expected to put that etag in the request to setIamPolicy to ensure that their change will be applied to the same version of the policy.Important: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.",
          "format": "byte",
          "type": "string"
        },
        "bindings": {
          "type": "array",
          "description": "Associates a list of members, or principals, with a role. Optionally, may specify a condition that determines how and when the bindings are applied. Each of the bindings must contain at least one principal.The bindings in a Policy can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the bindings grant 50 different roles to user:alice@example.com, and not to any other principal, then you can add another 1,450 principals to the bindings in the Policy.",
          "items": {
            "$ref": "Binding"
          }
        }
      }
    },
    "BatchOperationMetadata": {
      "properties": {
        "description": {
          "description": "Short description of the operation.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the operation was created."
        },
        "batch": {
          "type": "string",
          "description": "Name of the batch for the operation."
        },
        "operationType": {
          "enumDescriptions": [
            "Batch operation type is unknown.",
            "Batch operation type."
          ],
          "enum": [
            "BATCH_OPERATION_TYPE_UNSPECIFIED",
            "BATCH"
          ],
          "type": "string",
          "description": "The operation type."
        },
        "warnings": {
          "description": "Warnings encountered during operation execution.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "doneTime": {
          "type": "string",
          "description": "The time when the operation finished.",
          "format": "google-datetime"
        },
        "batchUuid": {
          "description": "Batch UUID for the operation.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Labels associated with the operation.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Metadata describing the Batch operation.",
      "id": "BatchOperationMetadata",
      "type": "object"
    },
    "PeripheralsConfig": {
      "type": "object",
      "id": "PeripheralsConfig",
      "description": "Auxiliary services configuration for a workload.",
      "properties": {
        "metastoreService": {
          "type": "string",
          "description": "Optional. Resource name of an existing Dataproc Metastore service.Example: projects/[project_id]/locations/[region]/services/[service_id]"
        },
        "sparkHistoryServerConfig": {
          "description": "Optional. The Spark History Server configuration for the workload.",
          "$ref": "SparkHistoryServerConfig"
        }
      }
    },
    "DiskConfig": {
      "id": "DiskConfig",
      "properties": {
        "numLocalSsds": {
          "format": "int32",
          "type": "integer",
[...]
