{
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "mtlsRootUrl": "https://datastore.mtls.googleapis.com/",
  "title": "Cloud Datastore API",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "protocol": "rest",
  "resources": {
    "projects": {
      "methods": {
        "runAggregationQuery": {
          "path": "v1/projects/{projectId}:runAggregationQuery",
          "id": "datastore.projects.runAggregationQuery",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "request": {
            "$ref": "RunAggregationQueryRequest"
          },
          "parameters": {
            "projectId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The ID of the project against which to make the request."
            }
          },
          "description": "Runs an aggregation query.",
          "flatPath": "v1/projects/{projectId}:runAggregationQuery",
          "response": {
            "$ref": "RunAggregationQueryResponse"
          },
          "parameterOrder": [
            "projectId"
          ]
        },
        "beginTransaction": {
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "description": "Required. The ID of the project against which to make the request.",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "flatPath": "v1/projects/{projectId}:beginTransaction",
          "path": "v1/projects/{projectId}:beginTransaction",
          "id": "datastore.projects.beginTransaction",
          "response": {
            "$ref": "BeginTransactionResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "parameterOrder": [
            "projectId"
          ],
          "description": "Begins a new transaction.",
          "request": {
            "$ref": "BeginTransactionRequest"
          }
        },
        "import": {
          "flatPath": "v1/projects/{projectId}:import",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "httpMethod": "POST",
          "path": "v1/projects/{projectId}:import",
          "parameters": {
            "projectId": {
              "type": "string",
              "required": true,
              "description": "Required. Project ID against which to make the request.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "projectId"
          ],
          "request": {
            "$ref": "GoogleDatastoreAdminV1ImportEntitiesRequest"
          },
          "id": "datastore.projects.import",
          "description": "Imports entities into Google Cloud Datastore. Existing entities with the same key are overwritten. The import occurs in the background and its progress can be monitored and managed via the Operation resource that is created. If an ImportEntities operation is cancelled, it is possible that a subset of the data has already been imported to Cloud Datastore."
        },
        "reserveIds": {
          "id": "datastore.projects.reserveIds",
          "parameterOrder": [
            "projectId"
          ],
          "description": "Prevents the supplied keys' IDs from being auto-allocated by Cloud Datastore.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The ID of the project against which to make the request."
            }
          },
          "response": {
            "$ref": "ReserveIdsResponse"
          },
          "flatPath": "v1/projects/{projectId}:reserveIds",
          "httpMethod": "POST",
          "path": "v1/projects/{projectId}:reserveIds",
          "request": {
            "$ref": "ReserveIdsRequest"
          }
        },
        "allocateIds": {
          "flatPath": "v1/projects/{projectId}:allocateIds",
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Required. The ID of the project against which to make the request.",
              "type": "string",
              "required": true
            }
          },
          "request": {
            "$ref": "AllocateIdsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "description": "Allocates IDs for the given keys, which is useful for referencing an entity before it is inserted.",
          "path": "v1/projects/{projectId}:allocateIds",
          "parameterOrder": [
            "projectId"
          ],
          "id": "datastore.projects.allocateIds",
          "response": {
            "$ref": "AllocateIdsResponse"
          },
          "httpMethod": "POST"
        },
        "runQuery": {
          "parameters": {
            "projectId": {
              "location": "path",
              "type": "string",
              "description": "Required. The ID of the project against which to make the request.",
              "required": true
            }
          },
          "path": "v1/projects/{projectId}:runQuery",
          "parameterOrder": [
            "projectId"
          ],
          "request": {
            "$ref": "RunQueryRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "response": {
            "$ref": "RunQueryResponse"
          },
          "httpMethod": "POST",
          "id": "datastore.projects.runQuery",
          "flatPath": "v1/projects/{projectId}:runQuery",
          "description": "Queries for entities."
        },
        "lookup": {
          "id": "datastore.projects.lookup",
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "POST",
          "path": "v1/projects/{projectId}:lookup",
          "response": {
            "$ref": "LookupResponse"
          },
          "request": {
            "$ref": "LookupRequest"
          },
          "parameters": {
            "projectId": {
              "location": "path",
              "required": true,
              "description": "Required. The ID of the project against which to make the request.",
              "type": "string"
            }
          },
          "description": "Looks up entities by key.",
          "flatPath": "v1/projects/{projectId}:lookup",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ]
        },
        "export": {
          "path": "v1/projects/{projectId}:export",
          "description": "Exports a copy of all or a subset of entities from Google Cloud Datastore to another storage system, such as Google Cloud Storage. Recent updates to entities may not be reflected in the export. The export occurs in the background and its progress can be monitored and managed via the Operation resource that is created. The output of an export may only be used once the associated operation is done. If an export operation is cancelled before completion it may leave partial data behind in Google Cloud Storage.",
          "id": "datastore.projects.export",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "request": {
            "$ref": "GoogleDatastoreAdminV1ExportEntitiesRequest"
          },
          "parameterOrder": [
            "projectId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "httpMethod": "POST",
          "flatPath": "v1/projects/{projectId}:export",
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Required. Project ID against which to make the request.",
              "required": true,
              "type": "string"
            }
          }
        },
        "rollback": {
          "response": {
            "$ref": "RollbackResponse"
          },
          "request": {
            "$ref": "RollbackRequest"
          },
          "parameters": {
            "projectId": {
              "description": "Required. The ID of the project against which to make the request.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "path": "v1/projects/{projectId}:rollback",
          "id": "datastore.projects.rollback",
          "parameterOrder": [
            "projectId"
          ],
          "flatPath": "v1/projects/{projectId}:rollback",
          "httpMethod": "POST",
          "description": "Rolls back a transaction."
        },
        "commit": {
          "flatPath": "v1/projects/{projectId}:commit",
          "path": "v1/projects/{projectId}:commit",
          "response": {
            "$ref": "CommitResponse"
          },
          "parameters": {
            "projectId": {
              "required": true,
              "description": "Required. The ID of the project against which to make the request.",
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "projectId"
          ],
          "id": "datastore.projects.commit",
          "description": "Commits a transaction, optionally creating, deleting or modifying some entities.",
          "request": {
            "$ref": "CommitRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ]
        }
      },
      "resources": {
        "indexes": {
          "methods": {
            "delete": {
              "path": "v1/projects/{projectId}/indexes/{indexId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "parameterOrder": [
                "projectId",
                "indexId"
              ],
              "httpMethod": "DELETE",
              "flatPath": "v1/projects/{projectId}/indexes/{indexId}",
              "description": "Deletes an existing index. An index can only be deleted if it is in a `READY` or `ERROR` state. On successful execution of the request, the index will be in a `DELETING` state. And on completion of the returned google.longrunning.Operation, the index will be removed. During index deletion, the process could result in an error, in which case the index will move to the `ERROR` state. The process can be recovered by fixing the data that caused the error, followed by calling delete again.",
              "id": "datastore.projects.indexes.delete",
              "parameters": {
                "indexId": {
                  "description": "The resource ID of the index to delete.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "projectId": {
                  "required": true,
                  "description": "Project ID against which to make the request.",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "get": {
              "description": "Gets an index.",
              "parameters": {
                "projectId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Project ID against which to make the request."
                },
                "indexId": {
                  "description": "The resource ID of the index to get.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "datastore.projects.indexes.get",
              "path": "v1/projects/{projectId}/indexes/{indexId}",
              "parameterOrder": [
                "projectId",
                "indexId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectId}/indexes/{indexId}",
              "response": {
                "$ref": "GoogleDatastoreAdminV1Index"
              }
            },
            "list": {
              "description": "Lists the indexes that match the specified filters. Datastore uses an eventually consistent query to fetch the list of indexes and may occasionally return stale results.",
              "path": "v1/projects/{projectId}/indexes",
              "parameters": {
                "filter": {
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "description": "The next_page_token value returned from a previous List request, if any.",
                  "location": "query",
                  "type": "string"
                },
                "projectId": {
                  "required": true,
                  "type": "string",
                  "description": "Project ID against which to make the request.",
                  "location": "path"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of items to return. If zero, then all results will be returned.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "parameterOrder": [
                "projectId"
              ],
              "httpMethod": "GET",
              "id": "datastore.projects.indexes.list",
              "flatPath": "v1/projects/{projectId}/indexes",
              "response": {
                "$ref": "GoogleDatastoreAdminV1ListIndexesResponse"
              }
            },
            "create": {
              "parameters": {
                "projectId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Project ID against which to make the request."
                }
              },
              "path": "v1/projects/{projectId}/indexes",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v1/projects/{projectId}/indexes",
              "request": {
                "$ref": "GoogleDatastoreAdminV1Index"
              },
              "description": "Creates the specified index. A newly created index's initial state is `CREATING`. On completion of the returned google.longrunning.Operation, the state will be `READY`. If the index already exists, the call will return an `ALREADY_EXISTS` status. During index creation, the process could result in an error, in which case the index will move to the `ERROR` state. The process can be recovered by fixing the data that caused the error, removing the index with delete, then re-creating the index with create. Indexes with a single property cannot be created.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "id": "datastore.projects.indexes.create",
              "httpMethod": "POST",
              "parameterOrder": [
                "projectId"
              ]
            }
          }
        },
        "operations": {
          "methods": {
            "cancel": {
              "parameterOrder": [
                "name"
              ],
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
              "httpMethod": "POST",
              "path": "v1/{+name}:cancel",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The name of the operation resource to be cancelled.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/operations/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "flatPath": "v1/projects/{projectsId}/operations/{operationsId}:cancel",
              "response": {
                "$ref": "Empty"
              },
              "id": "datastore.projects.operations.cancel"
            },
            "delete": {
              "id": "datastore.projects.operations.delete",
              "flatPath": "v1/projects/{projectsId}/operations/{operationsId}",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource to be deleted."
                }
              },
              "httpMethod": "DELETE",
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "response": {
                "$ref": "Empty"
              }
            },
            "get": {
              "path": "v1/{+name}",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "httpMethod": "GET",
              "id": "datastore.projects.operations.get",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v1/projects/{projectsId}/operations/{operationsId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "The name of the operation resource.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/operations/[^/]+$"
                }
              }
            },
            "list": {
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "path": "v1/{+name}/operations",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "flatPath": "v1/projects/{projectsId}/operations",
              "id": "datastore.projects.operations.list",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list filter."
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The standard list page size.",
                  "format": "int32"
                },
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation's parent resource."
                }
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id."
            }
          }
        }
      }
    }
  },
  "version_module": true,
  "revision": "20230126",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "name": "datastore",
  "documentationLink": "https://cloud.google.com/datastore/",
  "description": "Accesses the schemaless NoSQL database to provide fully managed, robust, scalable storage for your application. ",
  "basePath": "",
  "id": "datastore:v1",
  "servicePath": "",
  "version": "v1",
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    }
  },
  "kind": "discovery#restDescription",
  "baseUrl": "https://datastore.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/datastore": {
          "description": "View and manage your Google Cloud Datastore data"
        }
      }
    }
  },
  "rootUrl": "https://datastore.googleapis.com/",
  "schemas": {
    "ReadOnly": {
      "properties": {
        "readTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Reads entities at the given time. This may not be older than 60 seconds."
        }
      },
      "id": "ReadOnly",
      "description": "Options specific to read-only transactions.",
      "type": "object"
    },
    "RunQueryRequest": {
      "id": "RunQueryRequest",
      "description": "The request for Datastore.RunQuery.",
      "type": "object",
      "properties": {
        "query": {
          "$ref": "Query",
          "description": "The query to run."
        },
        "gqlQuery": {
          "description": "The GQL query to run. This query must be a non-aggregation query.",
          "$ref": "GqlQuery"
        },
        "partitionId": {
          "$ref": "PartitionId",
          "description": "Entities are partitioned into subsets, identified by a partition ID. Queries are scoped to a single partition. This partition ID is normalized with the standard default context partition ID."
        },
        "databaseId": {
          "description": "The ID of the database against which to make the request. '(default)' is not allowed; please use empty string '' to refer the default database.",
          "type": "string"
        },
        "readOptions": {
          "$ref": "ReadOptions",
          "description": "The options for this query."
        }
      }
    },
    "AggregationQuery": {
      "properties": {
        "aggregations": {
          "items": {
            "$ref": "Aggregation"
          },
          "description": "Optional. Series of aggregations to apply over the results of the `nested_query`. Requires: * A minimum of one and maximum of five aggregations per query.",
          "type": "array"
        },
        "nestedQuery": {
          "$ref": "Query",
          "description": "Nested query for aggregation"
        }
      },
      "type": "object",
      "id": "AggregationQuery",
      "description": "Datastore query for running an aggregation over a Query."
    },
    "RunAggregationQueryRequest": {
      "description": "The request for Datastore.RunAggregationQuery.",
      "id": "RunAggregationQueryRequest",
      "type": "object",
      "properties": {
        "databaseId": {
          "type": "string",
          "description": "The ID of the database against which to make the request. '(default)' is not allowed; please use empty string '' to refer the default database."
        },
        "gqlQuery": {
          "$ref": "GqlQuery",
          "description": "The GQL query to run. This query must be an aggregation query."
        },
        "readOptions": {
          "description": "The options for this query.",
          "$ref": "ReadOptions"
        },
        "partitionId": {
          "description": "Entities are partitioned into subsets, identified by a partition ID. Queries are scoped to a single partition. This partition ID is normalized with the standard default context partition ID.",
          "$ref": "PartitionId"
        },
        "aggregationQuery": {
          "$ref": "AggregationQuery",
          "description": "The query to run."
        }
      }
    },
    "GoogleDatastoreAdminV1CommonMetadata": {
      "description": "Metadata common to all Datastore Admin operations.",
      "type": "object",
      "properties": {
        "labels": {
          "description": "The client-assigned labels which were provided when the operation was created. May also include additional labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "operationType": {
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "EXPORT_ENTITIES",
            "IMPORT_ENTITIES",
            "CREATE_INDEX",
            "DELETE_INDEX"
          ],
          "description": "The type of the operation. Can be used as a filter in ListOperationsRequest.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "ExportEntities.",
            "ImportEntities.",
            "CreateIndex.",
            "DeleteIndex."
          ]
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time the operation ended, either successfully or otherwise.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "The time that work began on the operation.",
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "description": "The current state of the Operation."
        }
      },
      "id": "GoogleDatastoreAdminV1CommonMetadata"
    },
    "GoogleDatastoreAdminV1ListIndexesResponse": {
      "type": "object",
      "properties": {
        "indexes": {
          "type": "array",
          "items": {
            "$ref": "GoogleDatastoreAdminV1Index"
          },
          "description": "The indexes."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "GoogleDatastoreAdminV1ListIndexesResponse",
      "description": "The response for google.datastore.admin.v1.DatastoreAdmin.ListIndexes."
    },
    "ArrayValue": {
      "id": "ArrayValue",
      "description": "An array value.",
      "type": "object",
      "properties": {
        "values": {
          "items": {
            "$ref": "Value"
          },
          "description": "Values in the array. The order of values in an array is preserved as long as all values have identical settings for 'exclude_from_indexes'.",
          "type": "array"
        }
      }
    },
    "RollbackResponse": {
      "type": "object",
      "description": "The response for Datastore.Rollback. (an empty message).",
      "properties": {},
      "id": "RollbackResponse"
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty"
    },
    "BeginTransactionRequest": {
      "properties": {
        "databaseId": {
          "description": "The ID of the database against which to make the request. '(default)' is not allowed; please use empty string '' to refer the default database.",
          "type": "string"
        },
        "transactionOptions": {
          "description": "Options for a new transaction.",
          "$ref": "TransactionOptions"
        }
      },
      "id": "BeginTransactionRequest",
      "type": "object",
      "description": "The request for Datastore.BeginTransaction."
    },
    "Key": {
      "id": "Key",
      "properties": {
        "partitionId": {
          "description": "Entities are partitioned into subsets, currently identified by a project ID and namespace ID. Queries are scoped to a single partition.",
          "$ref": "PartitionId"
        },
        "path": {
          "description": "The entity path. An entity path consists of one or more elements composed of a kind and a string or numerical identifier, which identify entities. The first element identifies a _root entity_, the second element identifies a _child_ of the root entity, the third element identifies a child of the second entity, and so forth. The entities identified by all prefixes of the path are called the element's _ancestors_. An entity path is always fully complete: *all* of the entity's ancestors are required to be in the path along with the entity identifier itself. The only exception is that in some documented cases, the identifier in the last path element (for the entity) itself may be omitted. For example, the last path element of the key of `Mutation.insert` may have no identifier. A path can never be empty, and a path can have at most 100 elements.",
          "type": "array",
          "items": {
            "$ref": "PathElement"
          }
        }
      },
      "type": "object",
      "description": "A unique identifier for an entity. If a key's partition ID or any of its path kinds or names are reserved/read-only, the key is reserved/read-only. A reserved/read-only key is forbidden in certain documented contexts."
    },
    "GoogleDatastoreAdminV1beta1ImportEntitiesMetadata": {
      "properties": {
        "inputUrl": {
          "description": "The location of the import metadata file. This will be the same value as the google.datastore.admin.v1beta1.ExportEntitiesResponse.output_url field.",
          "type": "string"
        },
        "progressEntities": {
          "$ref": "GoogleDatastoreAdminV1beta1Progress",
          "description": "An estimate of the number of entities processed."
        },
        "entityFilter": {
          "$ref": "GoogleDatastoreAdminV1beta1EntityFilter",
          "description": "Description of which entities are being imported."
        },
        "progressBytes": {
          "$ref": "GoogleDatastoreAdminV1beta1Progress",
          "description": "An estimate of the number of bytes processed."
        },
        "common": {
          "description": "Metadata common to all Datastore Admin operations.",
          "$ref": "GoogleDatastoreAdminV1beta1CommonMetadata"
        }
      },
      "id": "GoogleDatastoreAdminV1beta1ImportEntitiesMetadata",
      "type": "object",
      "description": "Metadata for ImportEntities operations."
    },
    "PropertyFilter": {
      "description": "A filter on a specific property.",
      "type": "object",
      "id": "PropertyFilter",
      "properties": {
        "value": {
          "$ref": "Value",
          "description": "The value to compare the property to."
        },
        "property": {
          "$ref": "PropertyReference",
          "description": "The property to filter by."
        },
        "op": {
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The given `property` is less than the given `value`. Requires: * That `property` comes first in `order_by`.",
            "The given `property` is less than or equal to the given `value`. Requires: * That `property` comes first in `order_by`.",
            "The given `property` is greater than the given `value`. Requires: * That `property` comes first in `order_by`.",
            "The given `property` is greater than or equal to the given `value`. Requires: * That `property` comes first in `order_by`.",
            "The given `property` is equal to the given `value`.",
            "The given `property` is equal to at least one value in the given array. Requires: * That `value` is a non-empty `ArrayValue` with at most 10 values. * No other `IN` or `NOT_IN` is in the same query.",
            "The given `property` is not equal to the given `value`. Requires: * No other `NOT_EQUAL` or `NOT_IN` is in the same query. * That `property` comes first in the `order_by`.",
            "Limit the result set to the given entity and its descendants. Requires: * That `value` is an entity key. * No other `HAS_ANCESTOR` is in the same query.",
            "The value of the `property` is not in the given array. Requires: * That `value` is a non-empty `ArrayValue` with at most 10 values. * No other `IN`, `NOT_IN`, `NOT_EQUAL` is in the same query. * That `field` comes first in the `order_by`."
          ],
          "description": "The operator to filter by.",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL",
            "EQUAL",
            "IN",
            "NOT_EQUAL",
            "HAS_ANCESTOR",
            "NOT_IN"
          ],
          "type": "string"
        }
      }
    },
    "Mutation": {
      "type": "object",
      "description": "A mutation to apply to an entity.",
      "id": "Mutation",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The update time of the entity that this mutation is being applied to. If this does not match the current update time on the server, the mutation conflicts."
        },
        "update": {
          "description": "The entity to update. The entity must already exist. Must have a complete key path.",
          "$ref": "Entity"
        },
        "baseVersion": {
          "type": "string",
          "format": "int64",
          "description": "The version of the entity that this mutation is being applied to. If this does not match the current version on the server, the mutation conflicts."
        },
        "delete": {
          "description": "The key of the entity to delete. The entity may or may not already exist. Must have a complete key path and must not be reserved/read-only.",
          "$ref": "Key"
        },
        "upsert": {
          "$ref": "Entity",
          "description": "The entity to upsert. The entity may or may not already exist. The entity key's final path element may be incomplete."
        },
        "insert": {
          "description": "The entity to insert. The entity must not already exist. The entity key's final path element may be incomplete.",
          "$ref": "Entity"
        }
      }
    },
    "GoogleDatastoreAdminV1IndexedProperty": {
      "id": "GoogleDatastoreAdminV1IndexedProperty",
      "description": "A property of an index.",
      "properties": {
        "name": {
          "description": "Required. The property name to index.",
          "type": "string"
        },
        "direction": {
          "description": "Required. The indexed property's direction. Must not be DIRECTION_UNSPECIFIED.",
          "enumDescriptions": [
            "The direction is unspecified.",
            "The property's values are indexed so as to support sequencing in ascending order and also query by \u003c, \u003e, \u003c=, \u003e=, and =.",
            "The property's values are indexed so as to support sequencing in descending order and also query by \u003c, \u003e, \u003c=, \u003e=, and =."
          ],
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "Entity": {
      "type": "object",
      "id": "Entity",
      "description": "A Datastore data object. An entity is limited to 1 megabyte when stored. That _roughly_ corresponds to a limit of 1 megabyte for the serialized form of this message.",
      "properties": {
        "key": {
          "$ref": "Key",
          "description": "The entity's key. An entity must have a key, unless otherwise documented (for example, an entity in `Value.entity_value` may have no key). An entity's kind is its key path's last element's kind, or null if it has no key."
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Value"
          },
          "description": "The entity's properties. The map's keys are property names. A property name matching regex `__.*__` is reserved. A reserved property name is forbidden in certain documented contexts. The name must not contain more than 500 characters. The name cannot be `\"\"`."
        }
      }
    },
    "GoogleDatastoreAdminV1beta1Progress": {
      "id": "GoogleDatastoreAdminV1beta1Progress",
      "description": "Measures the progress of a particular metric.",
      "type": "object",
      "properties": {
        "workCompleted": {
          "description": "The amount of work that has been completed. Note that this may be greater than work_estimated.",
          "format": "int64",
          "type": "string"
        },
        "workEstimated": {
          "description": "An estimate of how much work needs to be performed. May be zero if the work estimate is unavailable.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "Filter": {
      "properties": {
        "compositeFilter": {
          "description": "A composite filter.",
          "$ref": "CompositeFilter"
        },
        "propertyFilter": {
          "$ref": "PropertyFilter",
          "description": "A filter on a property."
        }
      },
      "id": "Filter",
      "type": "object",
      "description": "A holder for any type of filter."
    },
    "GoogleDatastoreAdminV1Index": {
      "description": "Datastore composite index definition.",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified.",
            "The index is being created, and cannot be used by queries. There is an active long-running operation for the index. The index is updated when writing an entity. Some index data may exist.",
            "The index is ready to be used. The index is updated when writing an entity. The index is fully populated from all stored entities it applies to.",
            "The index is being deleted, and cannot be used by queries. There is an active long-running operation for the index. The index is not updated when writing an entity. Some index data may exist.",
            "The index was being created or deleted, but something went wrong. The index cannot by used by queries. There is no active long-running operation for the index, and the most recently finished long-running operation failed. The index is not updated when writing an entity. Some index data may exist."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "ERROR"
          ],
          "readOnly": true,
          "description": "Output only. The state of the index."
        },
        "projectId": {
          "readOnly": true,
          "description": "Output only. Project ID.",
          "type": "string"
        },
        "ancestor": {
          "type": "string",
          "enumDescriptions": [
            "The ancestor mode is unspecified.",
            "Do not include the entity's ancestors in the index.",
            "Include all the entity's ancestors in the index."
          ],
          "description": "Required. The index's ancestor mode. Must not be ANCESTOR_MODE_UNSPECIFIED.",
          "enum": [
            "ANCESTOR_MODE_UNSPECIFIED",
            "NONE",
            "ALL_ANCESTORS"
          ]
        },
        "properties": {
          "type": "array",
          "items": {
            "$ref": "GoogleDatastoreAdminV1IndexedProperty"
          },
          "description": "Required. An ordered sequence of property names and their index attributes. Requires: * A maximum of 100 properties."
        },
        "indexId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource ID of the index."
        },
        "kind": {
          "description": "Required. The entity kind to which this index applies.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleDatastoreAdminV1Index"
    },
    "GoogleDatastoreAdminV1ImportEntitiesRequest": {
      "id": "GoogleDatastoreAdminV1ImportEntitiesRequest",
      "type": "object",
      "description": "The request for google.datastore.admin.v1.DatastoreAdmin.ImportEntities.",
      "properties": {
        "entityFilter": {
          "$ref": "GoogleDatastoreAdminV1EntityFilter",
          "description": "Optionally specify which kinds/namespaces are to be imported. If provided, the list must be a subset of the EntityFilter used in creating the export, otherwise a FAILED_PRECONDITION error will be returned. If no filter is specified then all entities from the export are imported."
        },
        "labels": {
          "description": "Client-assigned labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "inputUrl": {
          "type": "string",
          "description": "Required. The full resource URL of the external storage location. Currently, only Google Cloud Storage is supported. So input_url should be of the form: `gs://BUCKET_NAME[/NAMESPACE_PATH]/OVERALL_EXPORT_METADATA_FILE`, where `BUCKET_NAME` is the name of the Cloud Storage bucket, `NAMESPACE_PATH` is an optional Cloud Storage namespace path (this is not a Cloud Datastore namespace), and `OVERALL_EXPORT_METADATA_FILE` is the metadata file written by the ExportEntities operation. For more information about Cloud Storage namespace paths, see [Object name considerations](https://cloud.google.com/storage/docs/naming#object-considerations). For more information, see google.datastore.admin.v1.ExportEntitiesResponse.output_url."
        }
      }
    },
    "GoogleDatastoreAdminV1MigrationProgressEvent": {
      "type": "object",
      "id": "GoogleDatastoreAdminV1MigrationProgressEvent",
      "description": "An event signifying the start of a new step in a [migration from Cloud Datastore to Cloud Firestore in Datastore mode](https://cloud.google.com/datastore/docs/upgrade-to-firestore).",
      "properties": {
        "redirectWritesStepDetails": {
          "$ref": "GoogleDatastoreAdminV1RedirectWritesStepDetails",
          "description": "Details for the `REDIRECT_WRITES` step."
        },
        "prepareStepDetails": {
          "description": "Details for the `PREPARE` step.",
          "$ref": "GoogleDatastoreAdminV1PrepareStepDetails"
        },
        "step": {
          "type": "string",
          "enum": [
            "MIGRATION_STEP_UNSPECIFIED",
            "PREPARE",
            "START",
            "APPLY_WRITES_SYNCHRONOUSLY",
            "COPY_AND_VERIFY",
            "REDIRECT_EVENTUALLY_CONSISTENT_READS",
            "REDIRECT_STRONGLY_CONSISTENT_READS",
            "REDIRECT_WRITES"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Pre-migration: the database is prepared for migration.",
            "Start of migration.",
            "Writes are applied synchronously to at least one replica.",
            "Data is copied to Cloud Firestore and then verified to match the data in Cloud Datastore.",
            "Eventually-consistent reads are redirected to Cloud Firestore.",
            "Strongly-consistent reads are redirected to Cloud Firestore.",
            "Writes are redirected to Cloud Firestore."
          ],
          "description": "The step that is starting. An event with step set to `START` indicates that the migration has been reverted back to the initial pre-migration state."
        }
      }
    },
    "GoogleDatastoreAdminV1RedirectWritesStepDetails": {
      "type": "object",
      "properties": {
        "concurrencyMode": {
          "type": "string",
          "description": "Ths concurrency mode for this database.",
          "enumDescriptions": [
            "Unspecified.",
            "Pessimistic concurrency.",
            "Optimistic concurrency.",
            "Optimistic concurrency with entity groups."
          ],
          "enum": [
            "CONCURRENCY_MODE_UNSPECIFIED",
            "PESSIMISTIC",
            "OPTIMISTIC",
            "OPTIMISTIC_WITH_ENTITY_GROUPS"
          ]
        }
      },
      "id": "GoogleDatastoreAdminV1RedirectWritesStepDetails",
      "description": "Details for the `REDIRECT_WRITES` step."
    },
    "ReadWrite": {
      "description": "Options specific to read / write transactions.",
      "id": "ReadWrite",
      "type": "object",
      "properties": {
        "previousTransaction": {
          "format": "byte",
          "type": "string",
          "description": "The transaction identifier of the transaction being retried."
        }
      }
    },
    "GqlQueryParameter": {
      "type": "object",
      "description": "A binding parameter for a GQL query.",
      "id": "GqlQueryParameter",
      "properties": {
        "value": {
          "$ref": "Value",
          "description": "A value parameter."
        },
        "cursor": {
          "type": "string",
          "format": "byte",
          "description": "A query cursor. Query cursors are returned in query result batches."
        }
      }
    },
    "Query": {
      "properties": {
        "filter": {
          "$ref": "Filter",
          "description": "The filter to apply."
        },
        "startCursor": {
          "type": "string",
          "description": "A starting point for the query results. Query cursors are returned in query result batches and [can only be used to continue the same query](https://cloud.google.com/datastore/docs/concepts/queries#cursors_limits_and_offsets).",
          "format": "byte"
        },
        "offset": {
          "type": "integer",
          "description": "The number of results to skip. Applies before limit, but after all other constraints. Optional. Must be \u003e= 0 if specified.",
          "format": "int32"
        },
        "limit": {
          "format": "int32",
          "description": "The maximum number of results to return. Applies after all other constraints. Optional. Unspecified is interpreted as no limit. Must be \u003e= 0 if specified.",
          "type": "integer"
        },
        "projection": {
          "type": "array",
          "items": {
            "$ref": "Projection"
          },
          "description": "The projection to return. Defaults to returning all properties."
        },
        "endCursor": {
          "type": "string",
          "description": "An ending point for the query results. Query cursors are returned in query result batches and [can only be used to limit the same query](https://cloud.google.com/datastore/docs/concepts/queries#cursors_limits_and_offsets).",
          "format": "byte"
        },
        "distinctOn": {
          "type": "array",
          "description": "The properties to make distinct. The query results will contain the first result for each distinct combination of values for the given properties (if empty, all results are returned).",
          "items": {
            "$ref": "PropertyReference"
          }
        },
        "kind": {
          "type": "array",
          "description": "The kinds to query (if empty, returns entities of all kinds). Currently at most 1 kind may be specified.",
          "items": {
            "$ref": "KindExpression"
          }
        },
        "order": {
          "description": "The order to apply to the query results (if empty, order is unspecified).",
          "type": "array",
          "items": {
            "$ref": "PropertyOrder"
          }
        }
      },
      "id": "Query",
      "type": "object",
      "description": "A query for entities."
    },
    "GoogleDatastoreAdminV1beta1ExportEntitiesMetadata": {
      "description": "Metadata for ExportEntities operations.",
      "id": "GoogleDatastoreAdminV1beta1ExportEntitiesMetadata",
      "type": "object",
      "properties": {
        "common": {
          "$ref": "GoogleDatastoreAdminV1beta1CommonMetadata",
          "description": "Metadata common to all Datastore Admin operations."
        },
        "progressBytes": {
          "description": "An estimate of the number of bytes processed.",
          "$ref": "GoogleDatastoreAdminV1beta1Progress"
        },
        "outputUrlPrefix": {
          "description": "Location for the export metadata and data files. This will be the same value as the google.datastore.admin.v1beta1.ExportEntitiesRequest.output_url_prefix field. The final output location is provided in google.datastore.admin.v1beta1.ExportEntitiesResponse.output_url.",
          "type": "string"
        },
        "entityFilter": {
          "$ref": "GoogleDatastoreAdminV1beta1EntityFilter",
          "description": "Description of which entities are being exported."
        },
        "progressEntities": {
          "$ref": "GoogleDatastoreAdminV1beta1Progress",
          "description": "An estimate of the number of entities processed."
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "GoogleLongrunningListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "type": "object"
    },
    "CommitResponse": {
      "id": "CommitResponse",
      "description": "The response for Datastore.Commit.",
      "properties": {
        "mutationResults": {
          "type": "array",
          "description": "The result of performing the mutations. The i-th mutation result corresponds to the i-th mutation in the request.",
          "items": {
            "$ref": "MutationResult"
          }
        },
        "commitTime": {
          "format": "google-datetime",
          "description": "The transaction commit timestamp. Not set for non-transactional commits.",
          "type": "string"
        },
        "indexUpdates": {
          "type": "integer",
          "format": "int32",
          "description": "The number of index entries updated during the commit, or zero if none were updated."
        }
      },
      "type": "object"
    },
    "GoogleDatastoreAdminV1beta1ExportEntitiesResponse": {
      "properties": {
        "outputUrl": {
          "description": "Location of the output metadata file. This can be used to begin an import into Cloud Datastore (this project or another project). See google.datastore.admin.v1beta1.ImportEntitiesRequest.input_url. Only present if the operation completed successfully.",
          "type": "string"
        }
      },
      "description": "The response for google.datastore.admin.v1beta1.DatastoreAdmin.ExportEntities.",
      "type": "object",
      "id": "GoogleDatastoreAdminV1beta1ExportEntitiesResponse"
    },
    "GqlQuery": {
      "description": "A [GQL query](https://cloud.google.com/datastore/docs/apis/gql/gql_reference).",
      "properties": {
        "positionalBindings": {
          "type": "array",
          "description": "Numbered binding site @1 references the first numbered parameter, effectively using 1-based indexing, rather than the usual 0. For each binding site numbered i in `query_string`, there must be an i-th numbered parameter. The inverse must also be true.",
          "items": {
            "$ref": "GqlQueryParameter"
          }
        },
        "queryString": {
          "type": "string",
          "description": "A string of the format described [here](https://cloud.google.com/datastore/docs/apis/gql/gql_reference)."
        },
        "namedBindings": {
          "description": "For each non-reserved named binding site in the query string, there must be a named parameter with that name, but not necessarily the inverse. Key must match regex `A-Za-z_$*`, must not match regex `__.*__`, and must not be `\"\"`.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GqlQueryParameter"
          }
        },
        "allowLiterals": {
          "type": "boolean",
          "description": "When false, the query string must not contain any literals and instead must bind all values. For example, `SELECT * FROM Kind WHERE a = 'string literal'` is not allowed, while `SELECT * FROM Kind WHERE a = @value` is."
        }
      },
      "type": "object",
      "id": "GqlQuery"
    },
    "PropertyReference": {
      "description": "A reference to a property relative to the kind expressions.",
      "type": "object",
      "id": "PropertyReference",
      "properties": {
        "name": {
          "description": "The name of the property. If name includes \".\"s, it may be interpreted as a property name path.",
          "type": "string"
        }
      }
    },
    "RunAggregationQueryResponse": {
      "id": "RunAggregationQueryResponse",
      "description": "The response for Datastore.RunAggregationQuery.",
      "type": "object",
      "properties": {
        "batch": {
          "description": "A batch of aggregation results. Always present.",
          "$ref": "AggregationResultBatch"
        },
        "transaction": {
          "type": "string",
          "format": "byte",
          "description": "The identifier of the transaction that was started as part of this RunAggregationQuery request. Set only when ReadOptions.new_transaction was set in RunAggregationQueryRequest.read_options."
        },
        "query": {
          "$ref": "AggregationQuery",
          "description": "The parsed form of the `GqlQuery` from the request, if it was set."
        }
      }
    },
    "GoogleDatastoreAdminV1ExportEntitiesRequest": {
      "description": "The request for google.datastore.admin.v1.DatastoreAdmin.ExportEntities.",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Client-assigned labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "outputUrlPrefix": {
          "type": "string",
          "description": "Required. Location for the export metadata and data files. The full resource URL of the external storage location. Currently, only Google Cloud Storage is supported. So output_url_prefix should be of the form: `gs://BUCKET_NAME[/NAMESPACE_PATH]`, where `BUCKET_NAME` is the name of the Cloud Storage bucket and `NAMESPACE_PATH` is an optional Cloud Storage namespace path (this is not a Cloud Datastore namespace). For more information about Cloud Storage namespace paths, see [Object name considerations](https://cloud.google.com/storage/docs/naming#object-considerations). The resulting files will be nested deeper than the specified URL prefix. The final output URL will be provided in the google.datastore.admin.v1.ExportEntitiesResponse.output_url field. That value should be used for subsequent ImportEntities operations. By nesting the data files deeper, the same Cloud Storage bucket can be used in multiple ExportEntities operations without conflict."
        },
        "entityFilter": {
          "description": "Description of what data from the project is included in the export.",
          "$ref": "GoogleDatastoreAdminV1EntityFilter"
        }
      },
      "id": "GoogleDatastoreAdminV1ExportEntitiesRequest",
      "type": "object"
    },
    "LatLng": {
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
      "type": "object",
      "id": "LatLng",
      "properties": {
        "latitude": {
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "format": "double",
          "type": "number"
        },
        "longitude": {
          "type": "number",
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "format": "double"
        }
      }
    },
    "PropertyOrder": {
      "id": "PropertyOrder",
      "type": "object",
      "properties": {
        "direction": {
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ],
          "description": "The direction to order by. Defaults to `ASCENDING`.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "Ascending.",
            "Descending."
          ]
        },
        "property": {
          "$ref": "PropertyReference",
          "description": "The property to order by."
        }
      },
      "description": "The desired order for a specific property."
    },
    "GoogleDatastoreAdminV1beta1CommonMetadata": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "description": "The current state of the Operation.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ]
        },
        "labels": {
          "description": "The client-assigned labels which were provided when the operation was created. May also include additional labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "operationType": {
          "description": "The type of the operation. Can be used as a filter in ListOperationsRequest.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "ExportEntities.",
            "ImportEntities."
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "EXPORT_ENTITIES",
            "IMPORT_ENTITIES"
          ]
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the operation ended, either successfully or otherwise."
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time that work began on the operation."
        }
      },
      "description": "Metadata common to all Datastore Admin operations.",
      "type": "object",
      "id": "GoogleDatastoreAdminV1beta1CommonMetadata"
    },
    "QueryResultBatch": {
      "type": "object",
      "description": "A batch of results produced by a query.",
      "id": "QueryResultBatch",
      "properties": {
        "moreResults": {
          "enumDescriptions": [
            "Unspecified. This value is never used.",
            "There may be additional batches to fetch from this query.",
            "The query is finished, but there may be more results after the limit.",
            "The query is finished, but there may be more results after the end cursor.",
            "The query is finished, and there are no more results."
          ],
          "enum": [
            "MORE_RESULTS_TYPE_UNSPECIFIED",
            "NOT_FINISHED",
            "MORE_RESULTS_AFTER_LIMIT",
            "MORE_RESULTS_AFTER_CURSOR",
            "NO_MORE_RESULTS"
          ],
          "description": "The state of the query after the current batch.",
          "type": "string"
        },
        "skippedResults": {
          "format": "int32",
          "type": "integer",
          "description": "The number of results skipped, typically because of an offset."
        },
        "entityResultType": {
          "type": "string",
          "description": "The result type for every entity in `entity_results`.",
          "enum": [
            "RESULT_TYPE_UNSPECIFIED",
            "FULL",
            "PROJECTION",
            "KEY_ONLY"
          ],
          "enumDescriptions": [
            "Unspecified. This value is never used.",
            "The key and properties.",
            "A projected subset of properties. The entity may have no key.",
            "Only the key."
          ]
        },
        "endCursor": {
          "description": "A cursor that points to the position after the last result in the batch.",
          "type": "string",
          "format": "byte"
        },
        "entityResults": {
          "type": "array",
          "description": "The results for this batch.",
          "items": {
            "$ref": "EntityResult"
          }
        },
        "skippedCursor": {
          "description": "A cursor that points to the position after the last skipped result. Will be set when `skipped_results` != 0.",
          "format": "byte",
          "type": "string"
        },
        "readTime": {
          "format": "google-datetime",
          "description": "Read timestamp this batch was returned from. This applies to the range of results from the query's `start_cursor` (or the beginning of the query if no cursor was given) to this batch's `end_cursor` (not the query's `end_cursor`). In a single transaction, subsequent query result batches for the same query can have a greater timestamp. Each batch's read timestamp is valid for all preceding batches. This value will not be set for eventually consistent queries in Cloud Datastore.",
          "type": "string"
        },
        "snapshotVersion": {
          "type": "string",
          "description": "The version number of the snapshot this batch was returned from. This applies to the range of results from the query's `start_cursor` (or the beginning of the query if no cursor was given) to this batch's `end_cursor` (not the query's `end_cursor`). In a single transaction, subsequent query result batches for the same query can have a greater snapshot version number. Each batch's snapshot version is valid for all preceding batches. The value will be zero for eventually consistent queries.",
          "format": "int64"
        }
      }
    },
    "BeginTransactionResponse": {
      "id": "BeginTransactionResponse",
      "type": "object",
      "properties": {
        "transaction": {
          "description": "The transaction identifier (always present).",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "The response for Datastore.BeginTransaction."
    },
    "RollbackRequest": {
      "properties": {
        "databaseId": {
          "description": "The ID of the database against which to make the request. '(default)' is not allowed; please use empty string '' to refer the default database.",
          "type": "string"
        },
        "transaction": {
          "type": "string",
          "description": "Required. The transaction identifier, returned by a call to Datastore.BeginTransaction.",
          "format": "byte"
        }
      },
      "id": "RollbackRequest",
      "description": "The request for Datastore.Rollback.",
      "type": "object"
    },
    "AggregationResultBatch": {
      "id": "AggregationResultBatch",
      "type": "object",
      "properties": {
        "readTime": {
          "format": "google-datetime",
          "description": "Read timestamp this batch was returned from. In a single transaction, subsequent query result batches for the same query can have a greater timestamp. Each batch's read timestamp is valid for all preceding batches.",
          "type": "string"
        },
        "moreResults": {
          "type": "string",
          "description": "The state of the query after the current batch. Only COUNT(*) aggregations are supported in the initial launch. Therefore, expected result type is limited to `NO_MORE_RESULTS`.",
          "enum": [
            "MORE_RESULTS_TYPE_UNSPECIFIED",
            "NOT_FINISHED",
            "MORE_RESULTS_AFTER_LIMIT",
            "MORE_RESULTS_AFTER_CURSOR",
            "NO_MORE_RESULTS"
          ],
          "enumDescriptions": [
            "Unspecified. This value is never used.",
            "There may be additional batches to fetch from this query.",
            "The query is finished, but there may be more results after the limit.",
            "The query is finished, but there may be more results after the end cursor.",
            "The query is finished, and there are no more results."
          ]
        },
        "aggregationResults": {
          "description": "The aggregation results for this batch.",
          "items": {
            "$ref": "AggregationResult"
          },
          "type": "array"
        }
      },
      "description": "A batch of aggregation results produced by an aggregation query."
    },
    "GoogleDatastoreAdminV1MigrationStateEvent": {
      "id": "GoogleDatastoreAdminV1MigrationStateEvent",
      "description": "An event signifying a change in state of a [migration from Cloud Datastore to Cloud Firestore in Datastore mode](https://cloud.google.com/datastore/docs/upgrade-to-firestore).",
      "type": "object",
      "properties": {
        "state": {
          "description": "The new state of the migration.",
          "enumDescriptions": [
            "Unspecified.",
            "The migration is running.",
            "The migration is paused.",
            "The migration is complete."
          ],
          "type": "string",
          "enum": [
            "MIGRATION_STATE_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "COMPLETE"
          ]
        }
      }
    },
    "GoogleDatastoreAdminV1IndexOperationMetadata": {
      "description": "Metadata for Index operations.",
      "id": "GoogleDatastoreAdminV1IndexOperationMetadata",
      "type": "object",
      "properties": {
        "common": {
          "$ref": "GoogleDatastoreAdminV1CommonMetadata",
          "description": "Metadata common to all Datastore Admin operations."
        },
        "progressEntities": {
          "$ref": "GoogleDatastoreAdminV1Progress",
          "description": "An estimate of the number of entities processed."
        },
        "indexId": {
          "type": "string",
          "description": "The index resource ID that this operation is acting on."
        }
      }
    },
    "GoogleDatastoreAdminV1ExportEntitiesResponse": {
      "properties": {
        "outputUrl": {
          "description": "Location of the output metadata file. This can be used to begin an import into Cloud Datastore (this project or another project). See google.datastore.admin.v1.ImportEntitiesRequest.input_url. Only present if the operation completed successfully.",
          "type": "string"
        }
      },
      "id": "GoogleDatastoreAdminV1ExportEntitiesResponse",
      "type": "object",
      "description": "The response for google.datastore.admin.v1.DatastoreAdmin.ExportEntities."
    },
    "CompositeFilter": {
      "id": "CompositeFilter",
      "properties": {
        "op": {
          "description": "The operator for combining multiple filters.",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "AND"
          ],
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The results are required to satisfy each of the combined filters."
          ],
          "type": "string"
        },
        "filters": {
          "description": "The list of filters to combine. Requires: * At least one filter is present.",
          "items": {
            "$ref": "Filter"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "A filter that merges multiple other filters using the given operator."
    },
    "PartitionId": {
      "type": "object",
      "id": "PartitionId",
      "properties": {
        "databaseId": {
          "description": "If not empty, the ID of the database to which the entities belong.",
          "type": "string"
        },
        "namespaceId": {
          "description": "If not empty, the ID of the namespace to which the entities belong.",
          "type": "string"
        },
        "projectId": {
          "description": "The ID of the project to which the entities belong.",
          "type": "string"
        }
      },
      "description": "A partition ID identifies a grouping of entities. The grouping is always by project and namespace, however the namespace ID may be empty. A partition ID contains several dimensions: project ID and namespace ID. Partition dimensions: - May be `\"\"`. - Must be valid UTF-8 bytes. - Must have values that match regex `[A-Za-z\\d\\.\\-_]{1,100}` If the value of any dimension matches regex `__.*__`, the partition is reserved/read-only. A reserved/read-only partition ID is forbidden in certain documented contexts. Foreign partition IDs (in which the project ID does not match the context project ID ) are discouraged. Reads and writes of foreign partition IDs may fail if the project is not in an active state."
    },
    "GoogleDatastoreAdminV1beta1EntityFilter": {
      "properties": {
        "namespaceIds": {
          "type": "array",
          "description": "An empty list represents all namespaces. This is the preferred usage for projects that don't use namespaces. An empty string element represents the default namespace. This should be used if the project has data in non-default namespaces, but doesn't want to include them. Each namespace in this list must be unique.",
          "items": {
            "type": "string"
          }
        },
        "kinds": {
          "description": "If empty, then this represents all kinds.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Identifies a subset of entities in a project. This is specified as combinations of kinds and namespaces (either or both of which may be all, as described in the following examples). Example usage: Entire project: kinds=[], namespace_ids=[] Kinds Foo and Bar in all namespaces: kinds=['Foo', 'Bar'], namespace_ids=[] Kinds Foo and Bar only in the default namespace: kinds=['Foo', 'Bar'], namespace_ids=[''] Kinds Foo and Bar in both the default and Baz namespaces: kinds=['Foo', 'Bar'], namespace_ids=['', 'Baz'] The entire Baz namespace: kinds=[], namespace_ids=['Baz']",
      "id": "GoogleDatastoreAdminV1beta1EntityFilter",
      "type": "object"
    },
    "PathElement": {
      "properties": {
        "id": {
          "format": "int64",
          "type": "string",
          "description": "The auto-allocated ID of the entity. Never equal to zero. Values less than zero are discouraged and may not be supported in the future."
        },
        "kind": {
          "type": "string",
          "description": "The kind of the entity. A kind matching regex `__.*__` is reserved/read-only. A kind must not contain more than 1500 bytes when UTF-8 encoded. Cannot be `\"\"`. Must be valid UTF-8 bytes. Legacy values that are not valid UTF-8 are encoded as `__bytes__` where `` is the base-64 encoding of the bytes."
        },
        "name": {
          "type": "string",
          "description": "The name of the entity. A name matching regex `__.*__` is reserved/read-only. A name must not be more than 1500 bytes when UTF-8 encoded. Cannot be `\"\"`. Must be valid UTF-8 bytes. Legacy values that are not valid UTF-8 are encoded as `__bytes__` where `` is the base-64 encoding of the bytes."
        }
      },
      "id": "PathElement",
      "description": "A (kind, ID/name) pair used to construct a key path. If either name or ID is set, the element is complete. If neither is set, the element is incomplete.",
      "type": "object"
    },
    "LookupRequest": {
      "id": "LookupRequest",
      "properties": {
        "keys": {
          "description": "Required. Keys of entities to look up.",
          "type": "array",
          "items": {
            "$ref": "Key"
          }
        },
        "readOptions": {
          "description": "The options for this lookup request.",
          "$ref": "ReadOptions"
        },
        "databaseId": {
          "description": "The ID of the database against which to make the request. '(default)' is not allowed; please use empty string '' to refer the default database.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The request for Datastore.Lookup."
    },
    "GoogleDatastoreAdminV1PrepareStepDetails": {
      "properties": {
        "concurrencyMode": {
          "enumDescriptions": [
            "Unspecified.",
            "Pessimistic concurrency.",
            "Optimistic concurrency.",
            "Optimistic concurrency with entity groups."
          ],
          "type": "string",
          "description": "The concurrency mode this database will use when it reaches the `REDIRECT_WRITES` step.",
          "enum": [
            "CONCURRENCY_MODE_UNSPECIFIED",
            "PESSIMISTIC",
            "OPTIMISTIC",
            "OPTIMISTIC_WITH_ENTITY_GROUPS"
          ]
        }
      },
      "description": "Details for the `PREPARE` step.",
      "id": "GoogleDatastoreAdminV1PrepareStepDetails",
      "type": "object"
    },
    "ReadOptions": {
      "properties": {
        "readConsistency": {
          "description": "The non-transactional read consistency to use.",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "Strong consistency.",
            "Eventual consistency."
          ],
          "type": "string",
          "enum": [
            "READ_CONSISTENCY_UNSPECIFIED",
            "STRONG",
            "EVENTUAL"
          ]
        },
        "transaction": {
          "format": "byte",
          "description": "The identifier of the transaction in which to read. A transaction identifier is returned by a call to Datastore.BeginTransaction.",
          "type": "string"
        },
        "readTime": {
          "format": "google-datetime",
          "description": "Reads entities as they were at the given time. This may not be older than 270 seconds. This value is only supported for Cloud Firestore in Datastore mode.",
          "type": "string"
        },
        "newTransaction": {
          "$ref": "TransactionOptions",
          "description": "Options for beginning a new transaction for this request. The new transaction identifier will be returned in the corresponding response as either LookupResponse.transaction or RunQueryResponse.transaction."
        }
      },
      "description": "The options shared by read requests.",
      "type": "object",
      "id": "ReadOptions"
    },
    "MutationResult": {
      "type": "object",
      "id": "MutationResult",
      "properties": {
        "version": {
          "description": "The version of the entity on the server after processing the mutation. If the mutation doesn't change anything on the server, then the version will be the version of the current entity or, if no entity is present, a version that is strictly greater than the version of any previous entity and less than the version of any possible future entity.",
          "format": "int64",
          "type": "string"
        },
        "updateTime": {
          "description": "The update time of the entity on the server after processing the mutation. If the mutation doesn't change anything on the server, then the timestamp will be the update timestamp of the current entity. This field will not be set after a 'delete'.",
          "format": "google-datetime",
          "type": "string"
        },
        "key": {
          "$ref": "Key",
          "description": "The automatically allocated key. Set only when the mutation allocated a key."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The create time of the entity. This field will not be set after a 'delete'."
        },
        "conflictDetected": {
          "description": "Whether a conflict was detected for this mutation. Always false when a conflict detection strategy field is not set in the mutation.",
          "type": "boolean"
        }
      },
      "description": "The result of applying a mutation."
    },
    "RunQueryResponse": {
      "id": "RunQueryResponse",
      "type": "object",
      "description": "The response for Datastore.RunQuery.",
      "properties": {
        "query": {
          "description": "The parsed form of the `GqlQuery` from the request, if it was set.",
          "$ref": "Query"
        },
        "batch": {
          "$ref": "QueryResultBatch",
          "description": "A batch of query results (always present)."
        },
        "transaction": {
          "description": "The identifier of the transaction that was started as part of this RunQuery request. Set only when ReadOptions.new_transaction was set in RunQueryRequest.read_options.",
          "format": "byte",
          "type": "string"
        }
      }
    },
    "Status": {
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "TransactionOptions": {
      "description": "Options for beginning a new transaction. Transactions can be created explicitly with calls to Datastore.BeginTransaction or implicitly by setting ReadOptions.new_transaction in read requests.",
      "id": "TransactionOptions",
      "type": "object",
      "properties": {
        "readOnly": {
          "description": "The transaction should only allow reads.",
          "$ref": "ReadOnly"
        },
        "readWrite": {
          "description": "The transaction should allow both reads and writes.",
          "$ref": "ReadWrite"
        }
      }
    },
    "Count": {
      "description": "Count of entities that match the query. The `COUNT(*)` aggregation function operates on the entire entity so it does not require a field reference.",
      "type": "object",
      "properties": {
        "upTo": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Optional constraint on the maximum number of entities to count. This provides a way to set an upper bound on the number of entities to scan, limiting latency and cost. Unspecified is interpreted as no bound. If a zero value is provided, a count result of zero should always be expected. High-Level Example: ``` AGGREGATE COUNT_UP_TO(1000) OVER ( SELECT * FROM k ); ``` Requires: * Must be non-negative when present."
        }
      },
      "id": "Count"
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "AggregationResult": {
      "properties": {
        "aggregateProperties": {
          "description": "The result of the aggregation functions, ex: `COUNT(*) AS total_entities`. The key is the alias assigned to the aggregation function on input and the size of this map equals the number of aggregation functions in the query.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Value"
          }
        }
      },
      "type": "object",
      "description": "The result of a single bucket from a Datastore aggregation query. The keys of `aggregate_properties` are the same for all results in an aggregation query, unlike entity queries which can have different fields present for each result.",
      "id": "AggregationResult"
    },
    "GoogleDatastoreAdminV1Progress": {
      "description": "Measures the progress of a particular metric.",
      "properties": {
        "workEstimated": {
          "format": "int64",
          "description": "An estimate of how much work needs to be performed. May be zero if the work estimate is unavailable.",
          "type": "string"
        },
        "workCompleted": {
          "type": "string",
          "format": "int64",
          "description": "The amount of work that has been completed. Note that this may be greater than work_estimated."
        }
      },
      "type": "object",
      "id": "GoogleDatastoreAdminV1Progress"
    },
    "GoogleDatastoreAdminV1ExportEntitiesMetadata": {
      "properties": {
        "progressEntities": {
          "$ref": "GoogleDatastoreAdminV1Progress",
          "description": "An estimate of the number of entities processed."
        },
        "progressBytes": {
          "description": "An estimate of the number of bytes processed.",
          "$ref": "GoogleDatastoreAdminV1Progress"
        },
        "outputUrlPrefix": {
          "description": "Location for the export metadata and data files. This will be the same value as the google.datastore.admin.v1.ExportEntitiesRequest.output_url_prefix field. The final output location is provided in google.datastore.admin.v1.ExportEntitiesResponse.output_url.",
          "type": "string"
        },
        "common": {
          "$ref": "GoogleDatastoreAdminV1CommonMetadata",
          "description": "Metadata common to all Datastore Admin operations."
        },
        "entityFilter": {
          "description": "Description of which entities are being exported.",
          "$ref": "GoogleDatastoreAdminV1EntityFilter"
        }
      },
      "type": "object",
      "id": "GoogleDatastoreAdminV1ExportEntitiesMetadata",
      "description": "Metadata for ExportEntities operations."
    },
    "Aggregation": {
      "properties": {
        "alias": {
          "type": "string",
          "description": "Optional. Optional name of the property to store the result of the aggregation. If not provided, Datastore will pick a default name following the format `property_`. For example: ``` AGGREGATE COUNT_UP_TO(1) AS count_up_to_1, COUNT_UP_TO(2), COUNT_UP_TO(3) AS count_up_to_3, COUNT_UP_TO(4) OVER ( ... ); ``` becomes: ``` AGGREGATE COUNT_UP_TO(1) AS count_up_to_1, COUNT_UP_TO(2) AS property_1, COUNT_UP_TO(3) AS count_up_to_3, COUNT_UP_TO(4) AS property_2 OVER ( ... ); ``` Requires: * Must be unique across all aggregation aliases. * Conform to entity property name limitations."
        },
        "count": {
          "description": "Count aggregator.",
          "$ref": "Count"
        }
      },
      "type": "object",
      "description": "Defines a aggregation that produces a single result.",
      "id": "Aggregation"
    },
    "KindExpression": {
      "type": "object",
      "id": "KindExpression",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the kind."
        }
      },
      "description": "A representation of a kind."
    },
    "LookupResponse": {
      "description": "The response for Datastore.Lookup.",
      "id": "LookupResponse",
      "type": "object",
      "properties": {
        "found": {
          "items": {
            "$ref": "EntityResult"
          },
          "type": "array",
          "description": "Entities found as `ResultType.FULL` entities. The order of results in this field is undefined and has no relation to the order of the keys in the input."
        },
        "transaction": {
          "format": "byte",
          "description": "The identifier of the transaction that was started as part of this Lookup request. Set only when ReadOptions.new_transaction was set in LookupRequest.read_options.",
          "type": "string"
        },
        "deferred": {
          "items": {
            "$ref": "Key"
          },
          "type": "array",
          "description": "A list of keys that were not looked up due to resource constraints. The order of results in this field is undefined and has no relation to the order of the keys in the input."
        },
        "missing": {
          "type": "array",
          "items": {
            "$ref": "EntityResult"
          },
          "description": "Entities not found as `ResultType.KEY_ONLY` entities. The order of results in this field is undefined and has no relation to the order of the keys in the input."
        },
        "readTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which these entities were read or found missing."
        }
      }
    },
    "ReserveIdsRequest": {
      "properties": {
        "databaseId": {
          "description": "The ID of the database against which to make the request. '(default)' is not allowed; please use empty string '' to refer the default database.",
          "type": "string"
        },
        "keys": {
          "description": "Required. A list of keys with complete key paths whose numeric IDs should not be auto-allocated.",
          "type": "array",
          "items": {
            "$ref": "Key"
          }
        }
      },
      "id": "ReserveIdsRequest",
      "description": "The request for Datastore.ReserveIds.",
      "type": "object"
    },
    "GoogleDatastoreAdminV1DatastoreFirestoreMigrationMetadata": {
      "type": "object",
      "description": "Metadata for Datastore to Firestore migration operations. The DatastoreFirestoreMigration operation is not started by the end-user via an explicit \"creation\" method. This is an intentional deviation from the LRO design pattern. This singleton resource can be accessed at: \"projects/{project_id}/operations/datastore-firestore-migration\"",
      "properties": {
        "migrationState": {
          "enumDescriptions": [
            "Unspecified.",
            "The migration is running.",
            "The migration is paused.",
            "The migration is complete."
          ],
          "type": "string",
          "enum": [
            "MIGRATION_STATE_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "COMPLETE"
          ],
          "description": "The current state of migration from Cloud Datastore to Cloud Firestore in Datastore mode."
        },
        "migrationStep": {
          "description": "The current step of migration from Cloud Datastore to Cloud Firestore in Datastore mode.",
          "type": "string",
          "enum": [
            "MIGRATION_STEP_UNSPECIFIED",
            "PREPARE",
            "START",
            "APPLY_WRITES_SYNCHRONOUSLY",
            "COPY_AND_VERIFY",
            "REDIRECT_EVENTUALLY_CONSISTENT_READS",
            "REDIRECT_STRONGLY_CONSISTENT_READS",
            "REDIRECT_WRITES"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Pre-migration: the database is prepared for migration.",
            "Start of migration.",
            "Writes are applied synchronously to at least one replica.",
            "Data is copied to Cloud Firestore and then verified to match the data in Cloud Datastore.",
            "Eventually-consistent reads are redirected to Cloud Firestore.",
            "Strongly-consistent reads are redirected to Cloud Firestore.",
            "Writes are redirected to Cloud Firestore."
          ]
        }
      },
      "id": "GoogleDatastoreAdminV1DatastoreFirestoreMigrationMetadata"
    },
    "EntityResult": {
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "The time at which the entity was last changed. This field is set for `FULL` entity results. If this entity is missing, this field will not be set.",
          "type": "string"
        },
        "cursor": {
          "format": "byte",
          "description": "A cursor that points to the position after the result entity. Set only when the `EntityResult` is part of a `QueryResultBatch` message.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the entity was created. This field is set for `FULL` entity results. If this entity is missing, this field will not be set."
        },
        "version": {
          "format": "int64",
          "type": "string",
          "description": "The version of the entity, a strictly positive number that monotonically increases with changes to the entity. This field is set for `FULL` entity results. For missing entities in `LookupResponse`, this is the version of the snapshot that was used to look up the entity, and it is always set except for eventually consistent reads."
        },
        "entity": {
          "$ref": "Entity",
          "description": "The resulting entity."
        }
      },
      "type": "object",
      "id": "EntityResult",
      "description": "The result of fetching an entity from Datastore."
    },
    "Projection": {
      "description": "A representation of a property in a projection.",
      "id": "Projection",
      "type": "object",
      "properties": {
        "property": {
          "$ref": "PropertyReference",
          "description": "The property to project."
        }
      }
    },
    "AllocateIdsRequest": {
      "properties": {
        "keys": {
          "description": "Required. A list of keys with incomplete key paths for which to allocate IDs. No key may be reserved/read-only.",
          "items": {
            "$ref": "Key"
          },
          "type": "array"
        },
[...]
