{
  "title": "Dataform API",
  "discoveryVersion": "v1",
  "rootUrl": "https://dataform.googleapis.com/",
  "id": "dataform:v1beta1",
  "documentationLink": "https://cloud.google.com/dataform/docs",
  "description": "",
  "basePath": "",
  "ownerDomain": "google.com",
  "version": "v1beta1",
  "version_module": true,
  "mtlsRootUrl": "https://dataform.mtls.googleapis.com/",
  "revision": "20230304",
  "batchPath": "batch",
  "protocol": "rest",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "name": "dataform",
  "servicePath": "",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "baseUrl": "https://dataform.googleapis.com/",
  "schemas": {
    "CommitAuthor": {
      "properties": {
        "emailAddress": {
          "description": "Required. The commit author's email address.",
          "type": "string"
        },
        "name": {
          "description": "Required. The commit author's name.",
          "type": "string"
        }
      },
      "description": "Represents the author of a Git commit.",
      "id": "CommitAuthor",
      "type": "object"
    },
    "CompilationResultAction": {
      "id": "CompilationResultAction",
      "type": "object",
      "description": "Represents a single Dataform action in a compilation result.",
      "properties": {
        "assertion": {
          "description": "The assertion executed by this action.",
          "$ref": "Assertion"
        },
        "canonicalTarget": {
          "$ref": "Target",
          "description": "The action's identifier if the project had been compiled without any overrides configured. Unique within the compilation result."
        },
        "declaration": {
          "description": "The declaration declared by this action.",
          "$ref": "Declaration"
        },
        "filePath": {
          "description": "The full path including filename in which this action is located, relative to the workspace root.",
          "type": "string"
        },
        "relation": {
          "$ref": "Relation",
          "description": "The database relation created/updated by this action."
        },
        "operations": {
          "description": "The database operations executed by this action.",
          "$ref": "Operations"
        },
        "target": {
          "$ref": "Target",
          "description": "This action's identifier. Unique within the compilation result."
        }
      }
    },
    "Workspace": {
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The workspace's name.",
          "type": "string"
        }
      },
      "id": "Workspace",
      "description": "Represents a Dataform Git workspace."
    },
    "ReleaseConfig": {
      "properties": {
        "releaseCompilationResult": {
          "type": "string",
          "description": "Optional. The name of the currently released compilation result for this release config. This value is updated when a compilation result is created from this release config, or when this resource is updated by API call (perhaps to roll back to an earlier release). The compilation result must have been created using this release config. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The release config's name."
        },
        "timeZone": {
          "description": "Optional. Specifies the time zone to be used when interpreting cron_schedule. Must be a time zone name from the time zone database (https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). If left unspecified, the default is UTC.",
          "type": "string"
        },
        "gitCommitish": {
          "description": "Required. Git commit/tag/branch name at which the repository should be compiled. Must exist in the remote repository. Examples: - a commit SHA: `12ade345` - a tag: `tag1` - a branch name: `branch1`",
          "type": "string"
        },
        "recentScheduledReleaseRecords": {
          "description": "Output only. Records of the 10 most recent scheduled release attempts. Updated whenever automatic creation of a compilation result is triggered by cron_schedule.",
          "readOnly": true,
          "items": {
            "$ref": "ScheduledReleaseRecord"
          },
          "type": "array"
        },
        "codeCompilationConfig": {
          "description": "Optional. If set, fields of `code_compilation_config` override the default compilation settings that are specified in dataform.json.",
          "$ref": "CodeCompilationConfig"
        },
        "cronSchedule": {
          "type": "string",
          "description": "Optional. Optional schedule (in cron format) for automatic creation of compilation results."
        }
      },
      "type": "object",
      "description": "Represents a Dataform release configuration.",
      "id": "ReleaseConfig"
    },
    "ListLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "Binding": {
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "members": {
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding.",
          "items": {
            "type": "string"
          }
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        }
      },
      "id": "Binding"
    },
    "RemoveDirectoryRequest": {
      "type": "object",
      "description": "`RemoveDirectory` request message.",
      "properties": {
        "path": {
          "description": "Required. The directory's full path including directory name, relative to the workspace root.",
          "type": "string"
        }
      },
      "id": "RemoveDirectoryRequest"
    },
    "ListRepositoriesResponse": {
      "type": "object",
      "id": "ListRepositoriesResponse",
      "properties": {
        "repositories": {
          "type": "array",
          "description": "List of repositories.",
          "items": {
            "$ref": "Repository"
          }
        },
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations which could not be reached.",
          "type": "array"
        }
      },
      "description": "`ListRepositories` response message."
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "statusDetail": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "cancelRequested": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "FileOperation": {
      "description": "Represents a single file operation to the repository.",
      "id": "FileOperation",
      "properties": {
        "writeFile": {
          "$ref": "WriteFile",
          "description": "Represents the write operation."
        },
        "deleteFile": {
          "$ref": "DeleteFile",
          "description": "Represents the delete operation."
        }
      },
      "type": "object"
    },
    "MakeDirectoryResponse": {
      "properties": {},
      "id": "MakeDirectoryResponse",
      "type": "object",
      "description": "`MakeDirectory` response message."
    },
    "PushGitCommitsRequest": {
      "type": "object",
      "id": "PushGitCommitsRequest",
      "description": "`PushGitCommits` request message.",
      "properties": {
        "remoteBranch": {
          "description": "Optional. The name of the branch in the Git remote to which commits should be pushed. If left unset, the repository's default branch name will be used.",
          "type": "string"
        }
      }
    },
    "WriteFileRequest": {
      "type": "object",
      "id": "WriteFileRequest",
      "properties": {
        "path": {
          "description": "Required. The file.",
          "type": "string"
        },
        "contents": {
          "type": "string",
          "description": "Required. The file's contents.",
          "format": "byte"
        }
      },
      "description": "`WriteFile` request message."
    },
    "MoveDirectoryRequest": {
      "type": "object",
      "description": "`MoveDirectory` request message.",
      "id": "MoveDirectoryRequest",
      "properties": {
        "path": {
          "description": "Required. The directory's full path including directory name, relative to the workspace root.",
          "type": "string"
        },
        "newPath": {
          "description": "Required. The new path for the directory including directory name, rooted at workspace root.",
          "type": "string"
        }
      }
    },
    "FetchRepositoryHistoryResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "commits": {
          "type": "array",
          "description": "A list of commit logs, ordered by 'git log' default order.",
          "items": {
            "$ref": "CommitLogEntry"
          }
        }
      },
      "id": "FetchRepositoryHistoryResponse",
      "description": "`FetchRepositoryHistory` response message.",
      "type": "object"
    },
    "ScheduledReleaseRecord": {
      "properties": {
        "releaseTime": {
          "format": "google-datetime",
          "description": "The timestamp of this release attempt.",
          "type": "string"
        },
        "compilationResult": {
          "type": "string",
          "description": "The name of the created compilation result, if one was successfully created. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`."
        },
        "errorStatus": {
          "description": "The error status encountered upon this attempt to create the compilation result, if the attempt was unsuccessful.",
          "$ref": "Status"
        }
      },
      "id": "ScheduledReleaseRecord",
      "type": "object",
      "description": "A record of an attempt to create a compilation result for this release config."
    },
    "CompilationError": {
      "type": "object",
      "properties": {
        "path": {
          "description": "Output only. The path of the file where this error occurred, if available, relative to the project root.",
          "type": "string",
          "readOnly": true
        },
        "actionTarget": {
          "$ref": "Target",
          "readOnly": true,
          "description": "Output only. The identifier of the action where this error occurred, if available."
        },
        "stack": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The error's full stack trace."
        },
        "message": {
          "description": "Output only. The error's top level message.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "CompilationError",
      "description": "An error encountered when attempting to compile a Dataform project."
    },
    "CommitWorkspaceChangesRequest": {
      "properties": {
        "commitMessage": {
          "type": "string",
          "description": "Optional. The commit's message."
        },
        "author": {
          "$ref": "CommitAuthor",
          "description": "Required. The commit's author."
        },
        "paths": {
          "type": "array",
          "description": "Optional. Full file paths to commit including filename, rooted at workspace root. If left empty, all files will be committed.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "CommitWorkspaceChangesRequest",
      "description": "`CommitWorkspaceChanges` request message."
    },
    "MoveFileResponse": {
      "description": "`MoveFile` response message.",
      "type": "object",
      "properties": {},
      "id": "MoveFileResponse"
    },
    "ReadFileResponse": {
      "id": "ReadFileResponse",
      "type": "object",
      "properties": {
        "fileContents": {
          "description": "The file's contents.",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "`ReadFile` response message."
    },
    "RemoveFileRequest": {
      "description": "`RemoveFile` request message.",
      "id": "RemoveFileRequest",
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. The file's full path including filename, relative to the workspace root."
        }
      },
      "type": "object"
    },
    "InvocationConfig": {
      "description": "Includes various configuration options for a workflow invocation. If both `included_targets` and `included_tags` are unset, all actions will be included.",
      "properties": {
        "transitiveDependenciesIncluded": {
          "type": "boolean",
          "description": "Optional. When set to true, transitive dependencies of included actions will be executed."
        },
        "includedTargets": {
          "items": {
            "$ref": "Target"
          },
          "description": "Optional. The set of action identifiers to include.",
          "type": "array"
        },
        "transitiveDependentsIncluded": {
          "description": "Optional. When set to true, transitive dependents of included actions will be executed.",
          "type": "boolean"
        },
        "fullyRefreshIncrementalTablesEnabled": {
          "description": "Optional. When set to true, any incremental tables will be fully refreshed.",
          "type": "boolean"
        },
        "includedTags": {
          "description": "Optional. The set of tags to include.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "InvocationConfig",
      "type": "object"
    },
    "DeleteFile": {
      "type": "object",
      "description": "Represents the delete file operation.",
      "id": "DeleteFile",
      "properties": {}
    },
    "SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "id": "SetIamPolicyRequest"
    },
    "ListWorkspacesResponse": {
      "id": "ListWorkspacesResponse",
      "properties": {
        "workspaces": {
          "items": {
            "$ref": "Workspace"
          },
          "description": "List of workspaces.",
          "type": "array"
        },
        "unreachable": {
          "description": "Locations which could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "`ListWorkspaces` response message.",
      "type": "object"
    },
    "ListWorkflowConfigsResponse": {
      "type": "object",
      "id": "ListWorkflowConfigsResponse",
      "properties": {
        "workflowConfigs": {
          "type": "array",
          "description": "List of workflow configs.",
          "items": {
            "$ref": "WorkflowConfig"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations which could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "`ListWorkflowConfigs` response message."
    },
    "ResetWorkspaceChangesRequest": {
      "type": "object",
      "description": "`ResetWorkspaceChanges` request message.",
      "properties": {
        "clean": {
          "description": "Optional. If set to true, untracked files will be deleted.",
          "type": "boolean"
        },
        "paths": {
          "type": "array",
          "description": "Optional. Full file paths to reset back to their committed state including filename, rooted at workspace root. If left empty, all files will be reset.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ResetWorkspaceChangesRequest"
    },
    "ReadRepositoryFileResponse": {
      "type": "object",
      "properties": {
        "contents": {
          "description": "The file's contents.",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "`ReadRepositoryFile` response message.",
      "id": "ReadRepositoryFileResponse"
    },
    "DirectoryEntry": {
      "properties": {
        "directory": {
          "type": "string",
          "description": "A child directory in the directory."
        },
        "file": {
          "description": "A file in the directory.",
          "type": "string"
        }
      },
      "description": "Represents a single entry in a directory.",
      "id": "DirectoryEntry",
      "type": "object"
    },
    "IncrementalTableConfig": {
      "description": "Contains settings for relations of type `INCREMENTAL_TABLE`.",
      "id": "IncrementalTableConfig",
      "type": "object",
      "properties": {
        "incrementalPostOperations": {
          "items": {
            "type": "string"
          },
          "description": "SQL statements to be executed after inserting new rows into the relation.",
          "type": "array"
        },
        "incrementalSelectQuery": {
          "description": "The SELECT query which returns rows which should be inserted into the relation if it already exists and is not being refreshed.",
          "type": "string"
        },
        "refreshDisabled": {
          "type": "boolean",
          "description": "Whether this table should be protected from being refreshed."
        },
        "updatePartitionFilter": {
          "description": "A SQL expression conditional used to limit the set of existing rows considered for a merge operation (see `unique_key_parts` for more information).",
          "type": "string"
        },
        "uniqueKeyParts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A set of columns or SQL expressions used to define row uniqueness. If any duplicates are discovered (as defined by `unique_key_parts`), only the newly selected rows (as defined by `incremental_select_query`) will be included in the relation."
        },
        "incrementalPreOperations": {
          "description": "SQL statements to be executed before inserting new rows into the relation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Target": {
      "id": "Target",
      "description": "Represents an action identifier. If the action writes output, the output will be written to the referenced database object.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The action's name, within `database` and `schema`.",
          "type": "string"
        },
        "database": {
          "description": "The action's database (Google Cloud project ID) .",
          "type": "string"
        },
        "schema": {
          "type": "string",
          "description": "The action's schema (BigQuery dataset ID), within `database`."
        }
      }
    },
    "Repository": {
      "id": "Repository",
      "type": "object",
      "description": "Represents a Dataform Git repository.",
      "properties": {
        "workspaceCompilationOverrides": {
          "description": "Optional. If set, fields of `workspace_compilation_overrides` override the default compilation settings that are specified in dataform.json when creating workspace-scoped compilation results. See documentation for `WorkspaceCompilationOverrides` for more information.",
          "$ref": "WorkspaceCompilationOverrides"
        },
        "initialCommitMetadata": {
          "$ref": "CommitMetadata",
          "description": "Optional. Input only. An optional initial commit metadata for the Repository. The Repository must not have a value for `git_remote_settings.url`."
        },
        "labels": {
          "description": "Optional. Repository user labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "npmrcEnvironmentVariablesSecretVersion": {
          "type": "string",
          "description": "Optional. The name of the Secret Manager secret version to be used to interpolate variables into the .npmrc file for package installation operations. Must be in the format `projects/*/secrets/*/versions/*`. The file itself must be in a JSON format."
        },
        "gitRemoteSettings": {
          "$ref": "GitRemoteSettings",
          "description": "Optional. If set, configures this repository to be linked to a Git remote."
        },
        "initialCommitFileContents": {
          "additionalProperties": {
            "type": "string",
            "format": "byte"
          },
          "description": "Optional. Input only. The initial commit file contents. Represented as map from file path to contents. The path is the full file path to commit including filename, from repository root.",
          "type": "object"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The repository's name.",
          "type": "string"
        }
      }
    },
    "Location": {
      "description": "A resource that represents Google Cloud Platform location.",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Location"
    },
    "Assertion": {
      "properties": {
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Arbitrary, user-defined tags on this action."
        },
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        },
        "parentAction": {
          "description": "The parent action of this assertion. Only set if this assertion was automatically generated.",
          "$ref": "Target"
        },
        "relationDescriptor": {
          "description": "Descriptor for the assertion's automatically-generated view and its columns.",
          "$ref": "RelationDescriptor"
        },
        "selectQuery": {
          "description": "The SELECT query which must return zero rows in order for this assertion to succeed.",
          "type": "string"
        },
        "dependencyTargets": {
          "type": "array",
          "description": "A list of actions that this action depends on.",
          "items": {
            "$ref": "Target"
          }
        }
      },
      "type": "object",
      "id": "Assertion",
      "description": "Represents an assertion upon a SQL query which is required return zero rows."
    },
    "UncommittedFileChange": {
      "properties": {
        "path": {
          "description": "The file's full path including filename, relative to the workspace root.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The file has been newly added.",
            "The file has been deleted.",
            "The file has been modified.",
            "The file contains merge conflicts."
          ],
          "type": "string",
          "description": "Indicates the status of the file.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "MODIFIED",
            "HAS_CONFLICTS"
          ]
        }
      },
      "id": "UncommittedFileChange",
      "type": "object",
      "description": "Represents the Git state of a file with uncommitted changes."
    },
    "CodeCompilationConfig": {
      "id": "CodeCompilationConfig",
      "type": "object",
      "properties": {
        "defaultSchema": {
          "description": "Optional. The default schema (BigQuery dataset ID).",
          "type": "string"
        },
        "databaseSuffix": {
          "type": "string",
          "description": "Optional. The suffix that should be appended to all database (Google Cloud project ID) names."
        },
        "vars": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined variables that are made available to project code during compilation."
        },
        "schemaSuffix": {
          "type": "string",
          "description": "Optional. The suffix that should be appended to all schema (BigQuery dataset ID) names."
        },
        "tablePrefix": {
          "type": "string",
          "description": "Optional. The prefix that should be prepended to all table names."
        },
        "defaultDatabase": {
          "type": "string",
          "description": "Optional. The default database (Google Cloud project ID)."
        },
        "assertionSchema": {
          "type": "string",
          "description": "Optional. The default schema (BigQuery dataset ID) for assertions."
        },
        "defaultLocation": {
          "description": "Optional. The default BigQuery location to use. Defaults to \"US\". See the BigQuery docs for a full list of locations: https://cloud.google.com/bigquery/docs/locations.",
          "type": "string"
        }
      },
      "description": "Configures various aspects of Dataform code compilation."
    },
    "CommitRepositoryChangesRequest": {
      "id": "CommitRepositoryChangesRequest",
      "properties": {
        "fileOperations": {
          "additionalProperties": {
            "$ref": "FileOperation"
          },
          "type": "object",
          "description": "A map to the path of the file to the operation. The path is the ull file path including filename, from repository root."
        },
        "commitMetadata": {
          "$ref": "CommitMetadata",
          "description": "Required. The changes to commit to the repository."
        }
      },
      "type": "object",
      "description": "`CommitRepositoryChanges` request message."
    },
    "QueryCompilationResultActionsResponse": {
      "description": "`QueryCompilationResultActions` response message.",
      "id": "QueryCompilationResultActionsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "compilationResultActions": {
          "items": {
            "$ref": "CompilationResultAction"
          },
          "type": "array",
          "description": "List of compilation result actions."
        }
      }
    },
    "WorkflowInvocation": {
      "properties": {
        "invocationConfig": {
          "description": "Immutable. If left unset, a default InvocationConfig will be used.",
          "$ref": "InvocationConfig"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED",
            "CANCELING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The workflow invocation is currently running.",
            "The workflow invocation succeeded. A terminal state.",
            "The workflow invocation was cancelled. A terminal state.",
            "The workflow invocation failed. A terminal state.",
            "The workflow invocation is being cancelled, but some actions are still running."
          ],
          "type": "string",
          "description": "Output only. This workflow invocation's current state."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The workflow invocation's name."
        },
        "invocationTiming": {
          "$ref": "Interval",
          "readOnly": true,
          "description": "Output only. This workflow invocation's timing details."
        },
        "workflowConfig": {
          "description": "Immutable. The name of the workflow config to invoke. Must be in the format `projects/*/locations/*/repositories/*/workflowConfigs/*`.",
          "type": "string"
        },
        "compilationResult": {
          "type": "string",
          "description": "Immutable. The name of the compilation result to compile. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`."
        }
      },
      "id": "WorkflowInvocation",
      "type": "object",
      "description": "Represents a single invocation of a compilation result."
    },
    "WorkflowConfig": {
      "type": "object",
      "properties": {
        "invocationConfig": {
          "description": "Optional. If left unset, a default InvocationConfig will be used.",
          "$ref": "InvocationConfig"
        },
        "recentScheduledExecutionRecords": {
          "description": "Output only. Records of the 10 most recent scheduled execution attempts. Updated whenever automatic creation of a compilation result is triggered by cron_schedule.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "ScheduledExecutionRecord"
          }
        },
        "timeZone": {
          "type": "string",
          "description": "Optional. Specifies the time zone to be used when interpreting cron_schedule. Must be a time zone name from the time zone database (https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). If left unspecified, the default is UTC."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The workflow config's name."
        },
        "cronSchedule": {
          "description": "Optional. Optional schedule (in cron format) for automatic execution of this workflow config.",
          "type": "string"
        },
        "releaseConfig": {
          "description": "Required. The name of the release config whose release_compilation_result should be executed. Must be in the format `projects/*/locations/*/repositories/*/releaseConfigs/*`.",
          "type": "string"
        }
      },
      "description": "Represents a Dataform workflow configuration.",
      "id": "WorkflowConfig"
    },
    "CompilationResult": {
      "properties": {
        "name": {
          "description": "Output only. The compilation result's name.",
          "readOnly": true,
          "type": "string"
        },
        "resolvedGitCommitSha": {
          "description": "Output only. The fully resolved Git commit SHA of the code that was compiled. Not set for compilation results whose source is a workspace.",
          "readOnly": true,
          "type": "string"
        },
        "workspace": {
          "description": "Immutable. The name of the workspace to compile. Must be in the format `projects/*/locations/*/repositories/*/workspaces/*`.",
          "type": "string"
        },
        "dataformCoreVersion": {
          "description": "Output only. The version of `@dataform/core` that was used for compilation.",
          "readOnly": true,
          "type": "string"
        },
        "compilationErrors": {
          "items": {
            "$ref": "CompilationError"
          },
          "type": "array",
          "description": "Output only. Errors encountered during project compilation.",
          "readOnly": true
        },
        "codeCompilationConfig": {
          "$ref": "CodeCompilationConfig",
          "description": "Immutable. If set, fields of `code_compilation_config` override the default compilation settings that are specified in dataform.json."
        },
        "releaseConfig": {
          "description": "Immutable. The name of the release config to compile. The release config's 'current_compilation_result' field will be updated to this compilation result. Must be in the format `projects/*/locations/*/repositories/*/releaseConfigs/*`.",
          "type": "string"
        },
        "gitCommitish": {
          "type": "string",
          "description": "Immutable. Git commit/tag/branch name at which the repository should be compiled. Must exist in the remote repository. Examples: - a commit SHA: `12ade345` - a tag: `tag1` - a branch name: `branch1`"
        }
      },
      "description": "Represents the result of compiling a Dataform project.",
      "type": "object",
      "id": "CompilationResult"
    },
    "ColumnDescriptor": {
      "type": "object",
      "properties": {
        "path": {
          "description": "The identifier for the column. Each entry in `path` represents one level of nesting.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "description": "A textual description of the column.",
          "type": "string"
        },
        "bigqueryPolicyTags": {
          "items": {
            "type": "string"
          },
          "description": "A list of BigQuery policy tags that will be applied to the column.",
          "type": "array"
        }
      },
      "description": "Describes a column.",
      "id": "ColumnDescriptor"
    },
    "QueryDirectoryContentsResponse": {
      "id": "QueryDirectoryContentsResponse",
      "description": "`QueryDirectoryContents` response message.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "directoryEntries": {
          "type": "array",
          "items": {
            "$ref": "DirectoryEntry"
          },
          "description": "List of entries in the directory."
        }
      }
    },
    "WorkspaceCompilationOverrides": {
      "properties": {
        "tablePrefix": {
          "description": "Optional. The prefix that should be prepended to all table names.",
          "type": "string"
        },
        "defaultDatabase": {
          "description": "Optional. The default database (Google Cloud project ID).",
          "type": "string"
        },
        "schemaSuffix": {
          "type": "string",
          "description": "Optional. The suffix that should be appended to all schema (BigQuery dataset ID) names."
        }
      },
      "description": "Configures workspace compilation overrides for a repository. Primarily used by the UI (`console.cloud.google.com`). `schema_suffix` and `table_prefix` can have a special expression - `${workspaceName}`, which refers to the workspace name from which the compilation results will be created. API callers are expected to resolve the expression in these overrides and provide them explicitly in `code_compilation_config` (https://cloud.google.com/dataform/reference/rest/v1beta1/projects.locations.repositories.compilationResults#codecompilationconfig) when creating workspace-scoped compilation results.",
      "id": "WorkspaceCompilationOverrides",
      "type": "object"
    },
    "QueryRepositoryDirectoryContentsResponse": {
      "description": "`QueryRepositoryDirectoryContents` response message.",
      "id": "QueryRepositoryDirectoryContentsResponse",
      "type": "object",
      "properties": {
        "directoryEntries": {
          "items": {
            "$ref": "DirectoryEntry"
          },
          "type": "array",
          "description": "List of entries in the directory."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "MakeDirectoryRequest": {
      "description": "`MakeDirectory` request message.",
      "id": "MakeDirectoryRequest",
      "type": "object",
      "properties": {
        "path": {
          "description": "Required. The directory's full path including directory name, relative to the workspace root.",
          "type": "string"
        }
      }
    },
    "WorkflowInvocationAction": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "The action has not yet been considered for invocation.",
            "The action is currently running.",
            "Execution of the action was skipped because upstream dependencies did not all complete successfully. A terminal state.",
            "Execution of the action was disabled as per the configuration of the corresponding compilation result action. A terminal state.",
            "The action succeeded. A terminal state.",
            "The action was cancelled. A terminal state.",
            "The action failed. A terminal state."
          ],
          "enum": [
            "PENDING",
            "RUNNING",
            "SKIPPED",
            "DISABLED",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED"
          ],
          "type": "string",
          "description": "Output only. This action's current state.",
          "readOnly": true
        },
        "failureReason": {
          "description": "Output only. If and only if action's state is FAILED a failure reason is set.",
          "readOnly": true,
          "type": "string"
        },
        "invocationTiming": {
          "readOnly": true,
          "description": "Output only. This action's timing details. `start_time` will be set if the action is in [RUNNING, SUCCEEDED, CANCELLED, FAILED] state. `end_time` will be set if the action is in [SUCCEEDED, CANCELLED, FAILED] state.",
          "$ref": "Interval"
        },
        "target": {
          "$ref": "Target",
          "description": "Output only. This action's identifier. Unique within the workflow invocation.",
          "readOnly": true
        },
        "canonicalTarget": {
          "$ref": "Target",
          "readOnly": true,
          "description": "Output only. The action's identifier if the project had been compiled without any overrides configured. Unique within the compilation result."
        },
        "bigqueryAction": {
          "description": "Output only. The workflow action's bigquery action details.",
          "readOnly": true,
          "$ref": "BigQueryAction"
        }
      },
      "type": "object",
      "id": "WorkflowInvocationAction",
      "description": "Represents a single action in a workflow invocation."
    },
    "MoveDirectoryResponse": {
      "type": "object",
      "description": "`MoveDirectory` response message.",
      "id": "MoveDirectoryResponse",
      "properties": {}
    },
    "CommitLogEntry": {
      "id": "CommitLogEntry",
      "description": "Represents a single commit log.",
      "properties": {
        "commitTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Commit timestamp."
        },
        "commitSha": {
          "type": "string",
          "description": "The commit SHA for this commit log entry."
        },
        "author": {
          "description": "The commit author for this commit log entry.",
          "$ref": "CommitAuthor"
        },
        "commitMessage": {
          "description": "The commit message for this commit log entry.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FetchFileDiffResponse": {
      "properties": {
        "formattedDiff": {
          "description": "The raw formatted Git diff for the file.",
          "type": "string"
        }
      },
      "description": "`FetchFileDiff` response message.",
      "type": "object",
      "id": "FetchFileDiffResponse"
    },
    "Policy": {
      "type": "object",
      "properties": {
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        }
      },
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object"
    },
    "FetchFileGitStatusesResponse": {
      "type": "object",
      "id": "FetchFileGitStatusesResponse",
      "properties": {
        "uncommittedFileChanges": {
          "description": "A list of all files which have uncommitted Git changes. There will only be a single entry for any given file.",
          "items": {
            "$ref": "UncommittedFileChange"
          },
          "type": "array"
        }
      },
      "description": "`FetchFileGitStatuses` response message."
    },
    "ListCompilationResultsResponse": {
      "id": "ListCompilationResultsResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations which could not be reached."
        },
        "compilationResults": {
          "type": "array",
          "items": {
            "$ref": "CompilationResult"
          },
          "description": "List of compilation results."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "`ListCompilationResults` response message."
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest"
    },
    "FetchRemoteBranchesResponse": {
      "description": "`FetchRemoteBranches` response message.",
      "id": "FetchRemoteBranchesResponse",
      "properties": {
        "branches": {
          "description": "The remote repository's branch names.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CommitMetadata": {
      "properties": {
        "commitMessage": {
          "type": "string",
          "description": "Optional. The commit's message."
        },
        "author": {
          "$ref": "CommitAuthor",
          "description": "Required. The commit's author."
        }
      },
      "description": "Represents a Dataform Git commit.",
      "type": "object",
      "id": "CommitMetadata"
    },
    "ListReleaseConfigsResponse": {
      "type": "object",
      "id": "ListReleaseConfigsResponse",
      "description": "`ListReleaseConfigs` response message.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations which could not be reached."
        },
        "releaseConfigs": {
          "items": {
            "$ref": "ReleaseConfig"
          },
          "type": "array",
          "description": "List of release configs."
        }
      }
    },
    "WriteFile": {
      "id": "WriteFile",
      "type": "object",
      "properties": {
        "contents": {
          "type": "string",
          "description": "The file's contents.",
          "format": "byte"
        }
      },
      "description": "Represents the write file operation (for files added or modified)."
    },
    "Status": {
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Expr"
    },
    "Declaration": {
      "description": "Represents a relation which is not managed by Dataform but which may be referenced by Dataform actions.",
      "type": "object",
      "id": "Declaration",
      "properties": {
        "relationDescriptor": {
          "$ref": "RelationDescriptor",
          "description": "Descriptor for the relation and its columns. Used as documentation only, i.e. values here will result in no changes to the relation's metadata."
        }
      }
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "TestIamPermissionsResponse"
    },
    "FetchGitAheadBehindResponse": {
      "type": "object",
      "id": "FetchGitAheadBehindResponse",
      "properties": {
        "commitsBehind": {
          "type": "integer",
          "format": "int32",
          "description": "The number of commits in the workspace that are not in the remote branch."
        },
        "commitsAhead": {
          "type": "integer",
          "description": "The number of commits in the remote branch that are not in the workspace.",
          "format": "int32"
        }
      },
      "description": "`FetchGitAheadBehind` response message."
    },
    "InstallNpmPackagesRequest": {
      "properties": {},
      "description": "`InstallNpmPackages` request message.",
      "type": "object",
      "id": "InstallNpmPackagesRequest"
    },
    "WriteFileResponse": {
      "id": "WriteFileResponse",
      "properties": {},
      "description": "`WriteFile` response message.",
      "type": "object"
    },
    "BigQueryAction": {
      "type": "object",
      "id": "BigQueryAction",
      "properties": {
        "sqlScript": {
          "description": "Output only. The generated BigQuery SQL script that will be executed.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents a workflow action that will run against BigQuery."
    },
    "RelationDescriptor": {
      "description": "Describes a relation and its columns.",
      "id": "RelationDescriptor",
      "properties": {
        "bigqueryLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A set of BigQuery labels that should be applied to the relation."
        },
        "description": {
          "type": "string",
          "description": "A text description of the relation."
        },
        "columns": {
          "items": {
            "$ref": "ColumnDescriptor"
          },
          "description": "A list of descriptions of columns within the relation.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "CancelWorkflowInvocationRequest": {
      "type": "object",
      "description": "`CancelWorkflowInvocation` request message.",
      "properties": {},
      "id": "CancelWorkflowInvocationRequest"
    },
    "GitRemoteSettings": {
      "properties": {
        "tokenStatus": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The token could not be found in Secret Manager (or the Dataform Service Account did not have permission to access it).",
            "The token could not be used to authenticate against the Git remote.",
            "The token was used successfully to authenticate against the Git remote."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "TOKEN_STATUS_UNSPECIFIED",
            "NOT_FOUND",
            "INVALID",
            "VALID"
          ],
          "description": "Output only. Indicates the status of the Git access token."
        },
        "url": {
          "description": "Required. The Git remote's URL.",
          "type": "string"
        },
        "authenticationTokenSecretVersion": {
          "type": "string",
          "description": "Required. The name of the Secret Manager secret version to use as an authentication token for Git operations. Must be in the format `projects/*/secrets/*/versions/*`."
        },
        "defaultBranch": {
          "description": "Required. The Git remote's default branch name.",
          "type": "string"
        }
      },
      "id": "GitRemoteSettings",
      "description": "Controls Git remote configuration for a repository.",
      "type": "object"
    },
    "InstallNpmPackagesResponse": {
      "description": "`InstallNpmPackages` response message.",
      "type": "object",
      "id": "InstallNpmPackagesResponse",
      "properties": {}
    },
    "PullGitCommitsRequest": {
      "description": "`PullGitCommits` request message.",
      "properties": {
        "author": {
          "description": "Required. The author of any merge commit which may be created as a result of merging fetched Git commits into this workspace.",
          "$ref": "CommitAuthor"
        },
        "remoteBranch": {
          "type": "string",
          "description": "Optional. The name of the branch in the Git remote from which to pull commits. If left unset, the repository's default branch name will be used."
        }
      },
      "type": "object",
      "id": "PullGitCommitsRequest"
    },
    "Operations": {
      "id": "Operations",
      "type": "object",
      "properties": {
        "relationDescriptor": {
          "$ref": "RelationDescriptor",
          "description": "Descriptor for any output relation and its columns. Only set if `has_output` is true."
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether this action is disabled (i.e. should not be run)."
        },
        "queries": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of arbitrary SQL statements that will be executed without alteration."
        },
        "dependencyTargets": {
          "description": "A list of actions that this action depends on.",
          "type": "array",
          "items": {
            "$ref": "Target"
          }
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Arbitrary, user-defined tags on this action.",
          "type": "array"
        },
        "hasOutput": {
          "type": "boolean",
          "description": "Whether these operations produce an output relation."
        }
      },
      "description": "Represents a list of arbitrary database operations."
    },
    "QueryWorkflowInvocationActionsResponse": {
      "id": "QueryWorkflowInvocationActionsResponse",
      "description": "`QueryWorkflowInvocationActions` response message.",
      "properties": {
        "workflowInvocationActions": {
          "description": "List of workflow invocation actions.",
          "items": {
            "$ref": "WorkflowInvocationAction"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "MoveFileRequest": {
      "type": "object",
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. The file's full path including filename, relative to the workspace root."
        },
        "newPath": {
          "description": "Required. The file's new path including filename, relative to the workspace root.",
          "type": "string"
        }
      },
      "id": "MoveFileRequest",
      "description": "`MoveFile` request message."
    },
    "ListWorkflowInvocationsResponse": {
      "type": "object",
      "properties": {
        "workflowInvocations": {
          "items": {
            "$ref": "WorkflowInvocation"
          },
          "description": "List of workflow invocations.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations which could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListWorkflowInvocationsResponse",
      "description": "`ListWorkflowInvocations` response message."
    },
    "ScheduledExecutionRecord": {
      "type": "object",
      "description": "A record of an attempt to create a workflow invocation for this workflow config.",
      "properties": {
        "executionTime": {
          "description": "The timestamp of this execution attempt.",
          "format": "google-datetime",
          "type": "string"
        },
        "errorStatus": {
          "description": "The error status encountered upon this attempt to create the workflow invocation, if the attempt was unsuccessful.",
          "$ref": "Status"
        },
        "workflowInvocation": {
          "description": "The name of the created workflow invocation, if one was successfully created. Must be in the format `projects/*/locations/*/repositories/*/workflowInvocations/*`.",
          "type": "string"
        }
      },
      "id": "ScheduledExecutionRecord"
    },
    "Relation": {
      "id": "Relation",
      "properties": {
        "partitionExpression": {
          "description": "The SQL expression used to partition the relation.",
          "type": "string"
        },
        "selectQuery": {
          "type": "string",
          "description": "The SELECT query which returns rows which this relation should contain."
        },
        "tags": {
          "description": "Arbitrary, user-defined tags on this action.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        },
        "requirePartitionFilter": {
          "description": "Specifies whether queries on this table must include a predicate filter that filters on the partitioning column.",
          "type": "boolean"
        },
        "relationType": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The relation is a table.",
            "The relation is a view.",
            "The relation is an incrementalized table.",
            "The relation is a materialized view."
          ],
          "enum": [
            "RELATION_TYPE_UNSPECIFIED",
            "TABLE",
            "VIEW",
            "INCREMENTAL_TABLE",
            "MATERIALIZED_VIEW"
          ],
          "type": "string",
          "description": "The type of this relation."
        },
        "incrementalTableConfig": {
          "$ref": "IncrementalTableConfig",
          "description": "Configures `INCREMENTAL_TABLE` settings for this relation. Only set if `relation_type` is `INCREMENTAL_TABLE`."
        },
        "preOperations": {
          "description": "SQL statements to be executed before creating the relation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "dependencyTargets": {
          "description": "A list of actions that this action depends on.",
          "type": "array",
          "items": {
            "$ref": "Target"
          }
        },
        "additionalOptions": {
          "description": "Additional options that will be provided as key/value pairs into the options clause of a create table/view statement. See https://cloud.google.com/bigquery/docs/reference/standard-sql/data-definition-language for more information on which options are supported.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "partitionExpirationDays": {
          "type": "integer",
          "description": "Sets the partition expiration in days.",
          "format": "int32"
        },
        "clusterExpressions": {
          "items": {
            "type": "string"
          },
          "description": "A list of columns or SQL expressions used to cluster the table.",
          "type": "array"
        },
        "postOperations": {
          "description": "SQL statements to be executed after creating the relation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "relationDescriptor": {
          "description": "Descriptor for the relation and its columns.",
          "$ref": "RelationDescriptor"
        }
      },
      "type": "object",
      "description": "Represents a database relation."
    },
    "Interval": {
      "properties": {
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Interval",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "type": "object"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "flatPath": "v1beta1/projects/{projectsId}/locations",
              "path": "v1beta1/{+name}/locations",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "includeUnrevealedLocations": {
                  "type": "boolean",
                  "description": "If true, the returned list will include locations which are not yet revealed.",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                }
              },
              "id": "dataform.projects.locations.list",
              "httpMethod": "GET",
              "description": "Lists information about the supported locations for this service.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}",
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                }
              },
              "id": "dataform.projects.locations.get",
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Location"
              },
              "description": "Gets information about a location."
            }
          },
          "resources": {
            "repositories": {
              "resources": {
                "workflowConfigs": {
                  "methods": {
                    "patch": {
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowConfigs/{workflowConfigsId}",
                      "httpMethod": "PATCH",
                      "path": "v1beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "WorkflowConfig"
                      },
                      "request": {
                        "$ref": "WorkflowConfig"
                      },
                      "id": "dataform.projects.locations.repositories.workflowConfigs.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Updates a single WorkflowConfig.",
                      "parameters": {
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Specifies the fields to be updated in the workflow config. If left unset, all fields will be updated."
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workflowConfigs/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Output only. The workflow config's name."
                        }
                      }
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "id": "dataform.projects.locations.repositories.workflowConfigs.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes a single WorkflowConfig.",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowConfigs/{workflowConfigsId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The workflow config's name.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workflowConfigs/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "description": "Lists WorkflowConfigs in a given Repository.",
                      "id": "dataform.projects.locations.repositories.workflowConfigs.list",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowConfigs",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListWorkflowConfigsResponse"
                      },
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "Required. The repository in which to list workflow configs. Must be in the format `projects/*/locations/*/repositories/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. Maximum number of workflow configs to return. The server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. Page token received from a previous `ListWorkflowConfigs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListWorkflowConfigs` must match the call that provided the page token.",
                          "location": "query"
                        }
                      },
                      "path": "v1beta1/{+parent}/workflowConfigs",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "httpMethod": "GET",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowConfigs/{workflowConfigsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Fetches a single WorkflowConfig.",
                      "response": {
                        "$ref": "WorkflowConfig"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The workflow config's name.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workflowConfigs/[^/]+$"
                        }
                      },
                      "path": "v1beta1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dataform.projects.locations.repositories.workflowConfigs.get"
                    },
                    "create": {
                      "path": "v1beta1/{+parent}/workflowConfigs",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "WorkflowConfig"
                      },
                      "response": {
                        "$ref": "WorkflowConfig"
                      },
                      "description": "Creates a new WorkflowConfig in a given Repository.",
                      "id": "dataform.projects.locations.repositories.workflowConfigs.create",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "workflowConfigId": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. The ID to use for the workflow config, which will become the final component of the workflow config's resource name."
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "description": "Required. The repository in which to create the workflow config. Must be in the format `projects/*/locations/*/repositories/*`."
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowConfigs"
                    }
                  }
                },
                "workflowInvocations": {
                  "methods": {
                    "cancel": {
                      "id": "dataform.projects.locations.repositories.workflowInvocations.cancel",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workflowInvocations/[^/]+$",
                          "location": "path",
                          "description": "Required. The workflow invocation resource's name."
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowInvocations/{workflowInvocationsId}:cancel",
                      "response": {
                        "$ref": "Empty"
                      },
                      "request": {
                        "$ref": "CancelWorkflowInvocationRequest"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Requests cancellation of a running WorkflowInvocation.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}:cancel",
                      "httpMethod": "POST"
                    },
                    "create": {
                      "description": "Creates a new WorkflowInvocation in a given Repository.",
                      "id": "dataform.projects.locations.repositories.workflowInvocations.create",
                      "path": "v1beta1/{+parent}/workflowInvocations",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "WorkflowInvocation"
                      },
                      "response": {
                        "$ref": "WorkflowInvocation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowInvocations",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "Required. The repository in which to create the workflow invocation. Must be in the format `projects/*/locations/*/repositories/*`.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$"
                        }
                      }
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workflowInvocations/[^/]+$",
                          "description": "Required. The workflow invocation resource's name.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowInvocations/{workflowInvocationsId}",
                      "path": "v1beta1/{+name}",
                      "response": {
                        "$ref": "WorkflowInvocation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "dataform.projects.locations.repositories.workflowInvocations.get",
                      "httpMethod": "GET",
                      "description": "Fetches a single WorkflowInvocation."
                    },
                    "query": {
                      "id": "dataform.projects.locations.repositories.workflowInvocations.query",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowInvocations/{workflowInvocationsId}:query",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "QueryWorkflowInvocationActionsResponse"
                      },
                      "httpMethod": "GET",
                      "description": "Returns WorkflowInvocationActions in a given WorkflowInvocation.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}:query",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The workflow invocation's name.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workflowInvocations/[^/]+$",
                          "location": "path"
                        },
                        "pageToken": {
                          "description": "Optional. Page token received from a previous `QueryWorkflowInvocationActions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `QueryWorkflowInvocationActions` must match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer",
                          "description": "Optional. Maximum number of workflow invocations to return. The server may return fewer items than requested. If unspecified, the server will pick an appropriate default."
                        }
                      }
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta1/{+parent}/workflowInvocations",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowInvocations",
                      "description": "Lists WorkflowInvocations in a given Repository.",
                      "id": "dataform.projects.locations.repositories.workflowInvocations.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "orderBy": {
                          "description": "Optional. This field only supports ordering by `name`. If unspecified, the server will choose the ordering. If specified, the default order is ascending for the `name` field.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent resource of the WorkflowInvocation type. Must be in the format `projects/*/locations/*/repositories/*`."
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. Maximum number of workflow invocations to return. The server may return fewer items than requested. If unspecified, the server will pick an appropriate default."
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Page token received from a previous `ListWorkflowInvocations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListWorkflowInvocations` must match the call that provided the page token."
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. Filter for the returned list.",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "ListWorkflowInvocationsResponse"
                      }
                    },
                    "delete": {
                      "description": "Deletes a single WorkflowInvocation.",
                      "id": "dataform.projects.locations.repositories.workflowInvocations.delete",
                      "path": "v1beta1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowInvocations/{workflowInvocationsId}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workflowInvocations/[^/]+$",
                          "location": "path",
                          "description": "Required. The workflow invocation resource's name.",
                          "required": true,
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "releaseConfigs": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "description": "Fetches a single ReleaseConfig.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/releaseConfigs/[^/]+$",
                          "description": "Required. The release config's name."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/releaseConfigs/{releaseConfigsId}",
                      "id": "dataform.projects.locations.repositories.releaseConfigs.get",
                      "response": {
                        "$ref": "ReleaseConfig"
[...]
