{
  "version_module": true,
  "servicePath": "",
  "canonicalName": "Cloud Dataplex",
  "id": "dataplex:v1",
  "batchPath": "batch",
  "baseUrl": "https://dataplex.googleapis.com/",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://dataplex.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "name": "dataplex",
  "rootUrl": "https://dataplex.googleapis.com/",
  "protocol": "rest",
  "schemas": {
    "GoogleCloudDataplexV1ListDataAttributesResponse": {
      "description": "List DataAttributes response.",
      "properties": {
        "dataAttributes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataAttribute"
          },
          "description": "DataAttributes under the given parent DataTaxonomy."
        },
        "unreachableLocations": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1ListDataAttributesResponse",
      "type": "object"
    },
    "GoogleCloudDataplexV1EnvironmentInfrastructureSpec": {
      "type": "object",
      "id": "GoogleCloudDataplexV1EnvironmentInfrastructureSpec",
      "properties": {
        "compute": {
          "$ref": "GoogleCloudDataplexV1EnvironmentInfrastructureSpecComputeResources",
          "description": "Optional. Compute resources needed for analyze interactive workloads."
        },
        "osImage": {
          "description": "Required. Software Runtime Configuration for analyze interactive workloads.",
          "$ref": "GoogleCloudDataplexV1EnvironmentInfrastructureSpecOsImageRuntime"
        }
      },
      "description": "Configuration for the underlying infrastructure used to run workloads."
    },
    "GoogleCloudDataplexV1ListDataScansResponse": {
      "type": "object",
      "id": "GoogleCloudDataplexV1ListDataScansResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "dataScans": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataScan"
          },
          "description": "DataScans (BASIC view only) under the given parent location."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "List dataScans response."
    },
    "GoogleCloudDataplexV1ListEnvironmentsResponse": {
      "type": "object",
      "description": "List environments response.",
      "properties": {
        "environments": {
          "description": "Environments under the given parent lake.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1Environment"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1ListEnvironmentsResponse"
    },
    "GoogleCloudDataplexV1ActionIncompatibleDataSchema": {
      "id": "GoogleCloudDataplexV1ActionIncompatibleDataSchema",
      "type": "object",
      "description": "Action details for incompatible schemas detected by discovery.",
      "properties": {
        "schemaChange": {
          "description": "Whether the action relates to a schema that is incompatible or modified.",
          "enum": [
            "SCHEMA_CHANGE_UNSPECIFIED",
            "INCOMPATIBLE",
            "MODIFIED"
          ],
          "enumDescriptions": [
            "Schema change unspecified.",
            "Newly discovered schema is incompatible with existing schema.",
            "Newly discovered schema has changed from existing schema for data in a curated zone."
          ],
          "type": "string"
        },
        "newSchema": {
          "description": "The new and incompatible schema within the table. The schema is provided as a JSON formatted structured listing columns and data types.",
          "type": "string"
        },
        "table": {
          "description": "The name of the table containing invalid data.",
          "type": "string"
        },
        "sampledDataLocations": {
          "type": "array",
          "description": "The list of data locations sampled and used for format/schema inference.",
          "items": {
            "type": "string"
          }
        },
        "existingSchema": {
          "description": "The existing and expected schema of the table. The schema is provided as a JSON formatted structure listing columns and data types.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1ZoneDiscoverySpecCsvOptions": {
      "id": "GoogleCloudDataplexV1ZoneDiscoverySpecCsvOptions",
      "type": "object",
      "properties": {
        "delimiter": {
          "type": "string",
          "description": "Optional. The delimiter being used to separate values. This defaults to ','."
        },
        "headerRows": {
          "type": "integer",
          "description": "Optional. The number of rows to interpret as header rows that should be skipped when reading data rows.",
          "format": "int32"
        },
        "encoding": {
          "description": "Optional. The character encoding of the data. The default is UTF-8.",
          "type": "string"
        },
        "disableTypeInference": {
          "description": "Optional. Whether to disable the inference of data type for CSV data. If true, all columns will be registered as strings.",
          "type": "boolean"
        }
      },
      "description": "Describe CSV and similar semi-structured data formats."
    },
    "GoogleCloudDataplexV1ContentSqlScript": {
      "type": "object",
      "description": "Configuration for the Sql Script content.",
      "id": "GoogleCloudDataplexV1ContentSqlScript",
      "properties": {
        "engine": {
          "enum": [
            "QUERY_ENGINE_UNSPECIFIED",
            "SPARK"
          ],
          "type": "string",
          "description": "Required. Query Engine to be used for the Sql Query.",
          "enumDescriptions": [
            "Value was unspecified.",
            "Spark SQL Query."
          ]
        }
      }
    },
    "GoogleCloudDataplexV1DataSource": {
      "properties": {
        "entity": {
          "description": "Immutable. The Dataplex entity that represents the data source (e.g. BigQuery table) for DataScan, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}/entities/{entity_id}.",
          "type": "string"
        }
      },
      "description": "The data source for DataScan.",
      "type": "object",
      "id": "GoogleCloudDataplexV1DataSource"
    },
    "GoogleCloudDataplexV1Trigger": {
      "id": "GoogleCloudDataplexV1Trigger",
      "type": "object",
      "properties": {
        "schedule": {
          "$ref": "GoogleCloudDataplexV1TriggerSchedule",
          "description": "The scan is scheduled to run periodically."
        },
        "onDemand": {
          "description": "The scan runs once via RunDataScan API.",
          "$ref": "GoogleCloudDataplexV1TriggerOnDemand"
        }
      },
      "description": "DataScan scheduling and trigger settings."
    },
    "GoogleCloudDataplexV1DataQualityRuleNonNullExpectation": {
      "type": "object",
      "id": "GoogleCloudDataplexV1DataQualityRuleNonNullExpectation",
      "description": "Evaluates whether each column value is null.",
      "properties": {}
    },
    "GoogleCloudDataplexV1ResourceAccessSpec": {
      "id": "GoogleCloudDataplexV1ResourceAccessSpec",
      "properties": {
        "writers": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The set of principals to be granted writer role on the resource.",
          "type": "array"
        },
        "readers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The format of strings follows the pattern followed by IAM in the bindings. user:{email}, serviceAccount:{email} group:{email}. The set of principals to be granted reader role on the resource."
        },
        "owners": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The set of principals to be granted owner role on the resource.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "ResourceAccessSpec holds the access control configuration to be enforced on the resources, for example, Cloud Storage bucket, BigQuery dataset, BigQuery table."
    },
    "GoogleCloudDataplexV1Partition": {
      "description": "Represents partition metadata contained within entity instances.",
      "type": "object",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Immutable. The set of values representing the partition, which correspond to the partition schema defined in the parent entity."
        },
        "name": {
          "type": "string",
          "description": "Output only. Partition values used in the HTTP URL must be double encoded. For example, url_encode(url_encode(value)) can be used to encode \"US:CA/CA#Sunnyvale so that the request URL ends with \"/partitions/US%253ACA/CA%2523Sunnyvale\". The name field in the response retains the encoded format.",
          "readOnly": true
        },
        "etag": {
          "description": "Optional. The etag for this partition.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Required. Immutable. The location of the entity data within the partition, for example, gs://bucket/path/to/entity/key1=value1/key2=value2. Or projects//datasets//tables/"
        }
      },
      "id": "GoogleCloudDataplexV1Partition"
    },
    "GoogleCloudDataplexV1Zone": {
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. User defined labels for the zone."
        },
        "displayName": {
          "description": "Optional. User friendly display name.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the zone."
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the zone. This ID will be different if the zone is deleted and re-created with the same name.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the zone was last updated.",
          "type": "string"
        },
        "assetStatus": {
          "$ref": "GoogleCloudDataplexV1AssetStatus",
          "description": "Output only. Aggregated status of the underlying assets of the zone.",
          "readOnly": true
        },
        "type": {
          "enumDescriptions": [
            "Zone type not specified.",
            "A zone that contains data that needs further processing before it is considered generally ready for consumption and analytics workloads.",
            "A zone that contains data that is considered to be ready for broader consumption and analytics workloads. Curated structured data stored in Cloud Storage must conform to certain file formats (parquet, avro and orc) and organized in a hive-compatible directory layout."
          ],
          "description": "Required. Immutable. The type of the zone.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "RAW",
            "CURATED"
          ],
          "type": "string"
        },
        "resourceSpec": {
          "description": "Required. Specification of the resources that are referenced by the assets within this zone.",
          "$ref": "GoogleCloudDataplexV1ZoneResourceSpec"
        },
        "name": {
          "description": "Output only. The relative resource name of the zone, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "ACTION_REQUIRED"
          ],
          "enumDescriptions": [
            "State is not specified.",
            "Resource is active, i.e., ready to use.",
            "Resource is under creation.",
            "Resource is under deletion.",
            "Resource is active but has unresolved actions."
          ],
          "readOnly": true,
          "description": "Output only. Current state of the zone."
        },
        "discoverySpec": {
          "$ref": "GoogleCloudDataplexV1ZoneDiscoverySpec",
          "description": "Optional. Specification of the discovery feature applied to data in this zone."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the zone was created.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDataplexV1Zone",
      "description": "A zone represents a logical group of related assets within a lake. A zone can be used to map to organizational structure or represent stages of data readiness from raw to curated. It provides managing behavior that is shared or inherited by all contained assets.",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataQualityRuleRegexExpectation": {
      "description": "Evaluates whether each column value matches a specified regex.",
      "id": "GoogleCloudDataplexV1DataQualityRuleRegexExpectation",
      "properties": {
        "regex": {
          "type": "string",
          "description": "A regular expression the column value is expected to match."
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1Content": {
      "type": "object",
      "id": "GoogleCloudDataplexV1Content",
      "description": "Content represents a user-visible notebook or a sql script",
      "properties": {
        "createTime": {
          "description": "Output only. Content creation time.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "notebook": {
          "$ref": "GoogleCloudDataplexV1ContentNotebook",
          "description": "Notebook related configurations."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User defined labels for the content."
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. System generated globally unique ID for the content. This ID will be different if the content is deleted and re-created with the same name."
        },
        "path": {
          "description": "Required. The path for the Content file, represented as directory structure. Unique within a lake. Limited to alphanumerics, hyphens, underscores, dots and slashes.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time when the content was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "dataText": {
          "type": "string",
          "description": "Required. Content data in string format."
        },
        "description": {
          "description": "Optional. Description of the content.",
          "type": "string"
        },
        "sqlScript": {
          "$ref": "GoogleCloudDataplexV1ContentSqlScript",
          "description": "Sql Script related configurations."
        },
        "name": {
          "description": "Output only. The relative resource name of the content, of the form: projects/{project_id}/locations/{location_id}/lakes/{lake_id}/content/{content_id}",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleLongrunningCancelOperationRequest": {
      "properties": {},
      "type": "object",
      "id": "GoogleLongrunningCancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "GoogleCloudDataplexV1AssetDiscoverySpec": {
      "id": "GoogleCloudDataplexV1AssetDiscoverySpec",
      "type": "object",
      "description": "Settings to manage the metadata discovery and publishing for an asset.",
      "properties": {
        "enabled": {
          "description": "Optional. Whether discovery is enabled.",
          "type": "boolean"
        },
        "excludePatterns": {
          "description": "Optional. The list of patterns to apply for selecting data to exclude during discovery. For Cloud Storage bucket assets, these are interpreted as glob patterns used to match object names. For BigQuery dataset assets, these are interpreted as patterns to match table names.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "schedule": {
          "description": "Optional. Cron schedule (https://en.wikipedia.org/wiki/Cron) for running discovery periodically. Successive discovery runs must be scheduled at least 60 minutes apart. The default value is to run discovery every 60 minutes. To explicitly set a timezone to the cron tab, apply a prefix in the cron tab: \"CRON_TZ=${IANA_TIME_ZONE}\" or TZ=${IANA_TIME_ZONE}\". The ${IANA_TIME_ZONE} may only be a valid string from IANA time zone database. For example, CRON_TZ=America/New_York 1 * * * *, or TZ=America/New_York 1 * * * *.",
          "type": "string"
        },
        "jsonOptions": {
          "$ref": "GoogleCloudDataplexV1AssetDiscoverySpecJsonOptions",
          "description": "Optional. Configuration for Json data."
        },
        "includePatterns": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The list of patterns to apply for selecting data to include during discovery if only a subset of the data should considered. For Cloud Storage bucket assets, these are interpreted as glob patterns used to match object names. For BigQuery dataset assets, these are interpreted as patterns to match table names."
        },
        "csvOptions": {
          "description": "Optional. Configuration for CSV data.",
          "$ref": "GoogleCloudDataplexV1AssetDiscoverySpecCsvOptions"
        }
      }
    },
    "GoogleIamV1AuditLogConfig": {
      "properties": {
        "logType": {
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables."
        },
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "GoogleIamV1AuditLogConfig"
    },
    "GoogleCloudDataplexV1ListEntitiesResponse": {
      "description": "List metadata entities response.",
      "id": "GoogleCloudDataplexV1ListEntitiesResponse",
      "properties": {
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1Entity"
          },
          "description": "Entities in the specified parent zone."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no remaining results in the list."
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1StorageFormatJsonOptions": {
      "description": "Describes JSON data format.",
      "type": "object",
      "properties": {
        "encoding": {
          "type": "string",
          "description": "Optional. The character encoding of the data. Accepts \"US-ASCII\", \"UTF-8\" and \"ISO-8859-1\". Defaults to UTF-8 if not specified."
        }
      },
      "id": "GoogleCloudDataplexV1StorageFormatJsonOptions"
    },
    "GoogleCloudDataplexV1EntityCompatibilityStatus": {
      "type": "object",
      "description": "Provides compatibility information for various metadata stores.",
      "id": "GoogleCloudDataplexV1EntityCompatibilityStatus",
      "properties": {
        "hiveMetastore": {
          "readOnly": true,
          "description": "Output only. Whether this entity is compatible with Hive Metastore.",
          "$ref": "GoogleCloudDataplexV1EntityCompatibilityStatusCompatibility"
        },
        "bigquery": {
          "$ref": "GoogleCloudDataplexV1EntityCompatibilityStatusCompatibility",
          "description": "Output only. Whether this entity is compatible with BigQuery.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDataplexV1ListDataTaxonomiesResponse": {
      "properties": {
        "unreachableLocations": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "dataTaxonomies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataTaxonomy"
          },
          "description": "DataTaxonomies under the given parent location."
        }
      },
      "id": "GoogleCloudDataplexV1ListDataTaxonomiesResponse",
      "type": "object",
      "description": "List DataTaxonomies response."
    },
    "GoogleCloudDataplexV1LakeMetastore": {
      "type": "object",
      "id": "GoogleCloudDataplexV1LakeMetastore",
      "properties": {
        "service": {
          "description": "Optional. A relative reference to the Dataproc Metastore (https://cloud.google.com/dataproc-metastore/docs) service associated with the lake: projects/{project_id}/locations/{location_id}/services/{service_id}",
          "type": "string"
        }
      },
      "description": "Settings to manage association of Dataproc Metastore with a lake."
    },
    "GoogleCloudDataplexV1RunDataScanRequest": {
      "description": "Run DataScan Request",
      "id": "GoogleCloudDataplexV1RunDataScanRequest",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDataplexV1DataScanEventDataProfileResult": {
      "id": "GoogleCloudDataplexV1DataScanEventDataProfileResult",
      "description": "Data profile result for data scan job.",
      "properties": {
        "rowCount": {
          "description": "The count of rows processed in the data scan job.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1DataAttributeBinding": {
      "description": "DataAttributeBinding represents binding of attributes to resources. Eg: Bind 'CustomerInfo' entity with 'PII' attribute.",
      "id": "GoogleCloudDataplexV1DataAttributeBinding",
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the DataAttributeBinding was created."
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Etags must be used when calling the DeleteDataAttributeBinding and the UpdateDataAttributeBinding method.",
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. System generated globally unique ID for the DataAttributeBinding. This ID will be different if the DataAttributeBinding is deleted and re-created with the same name.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The relative resource name of the Data Attribute Binding, of the form: projects/{project_number}/locations/{location}/dataAttributeBindings/{data_attribute_binding_id}",
          "readOnly": true,
          "type": "string"
        },
        "resource": {
          "type": "string",
          "description": "Optional. Immutable. The resource name of the resource that is associated to attributes. Presently, only entity resource is supported in the form: projects/{project}/locations/{location}/lakes/{lake}/zones/{zone}/entities/{entity_id} Must belong in the same project and region as the attribute binding, and there can only exist one active binding for a resource."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the DataAttributeBinding was last updated."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. User-defined labels for the DataAttributeBinding."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User friendly display name."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the DataAttributeBinding."
        },
        "attributes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of attributes to be associated with the resource, provided in the form: projects/{project}/locations/{location}/dataTaxonomies/{dataTaxonomy}/attributes/{data_attribute_id}"
        },
        "paths": {
          "description": "Optional. The list of paths for items within the associated resource (eg. columns within a table) along with attribute bindings.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataAttributeBindingPath"
          }
        }
      }
    },
    "GoogleCloudDataplexV1EnvironmentEndpoints": {
      "id": "GoogleCloudDataplexV1EnvironmentEndpoints",
      "properties": {
        "notebooks": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. URI to serve notebook APIs"
        },
        "sql": {
          "type": "string",
          "description": "Output only. URI to serve SQL APIs",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1DataProfileResultProfileField": {
      "type": "object",
      "id": "GoogleCloudDataplexV1DataProfileResultProfileField",
      "description": "A field within a table.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The field data type. Possible values include: STRING BYTE INT64 INT32 INT16 DOUBLE FLOAT DECIMAL BOOLEAN BINARY TIMESTAMP DATE TIME NULL RECORD"
        },
        "name": {
          "type": "string",
          "description": "The name of the field."
        },
        "mode": {
          "description": "The mode of the field. Possible values include: REQUIRED, if it is a required field. NULLABLE, if it is an optional field. REPEATED, if it is a repeated field.",
          "type": "string"
        },
        "profile": {
          "$ref": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfo",
          "description": "Profile information for the corresponding field."
        }
      }
    },
    "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoIntegerFieldInfo": {
      "type": "object",
      "properties": {
        "min": {
          "description": "Minimum of non-null values in the scanned data. NaN, if the field has a NaN.",
          "type": "string",
          "format": "int64"
        },
        "quartiles": {
          "type": "array",
          "description": "A quartile divides the number of data points into four parts, or quarters, of more-or-less equal size. Three main quartiles used are: The first quartile (Q1) splits off the lowest 25% of data from the highest 75%. It is also known as the lower or 25th empirical quartile, as 25% of the data is below this point. The second quartile (Q2) is the median of a data set. So, 50% of the data lies below this point. The third quartile (Q3) splits off the highest 25% of data from the lowest 75%. It is known as the upper or 75th empirical quartile, as 75% of the data lies below this point. Here, the quartiles is provided as an ordered list of quartile values for the scanned data, occurring in order Q1, median, Q3.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "max": {
          "type": "string",
          "format": "int64",
          "description": "Maximum of non-null values in the scanned data. NaN, if the field has a NaN."
        },
        "standardDeviation": {
          "type": "number",
          "description": "Standard deviation of non-null values in the scanned data. NaN, if the field has a NaN.",
          "format": "double"
        },
        "average": {
          "description": "Average of non-null values in the scanned data. NaN, if the field has a NaN.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoIntegerFieldInfo",
      "description": "The profile information for an integer type field."
    },
    "GoogleIamV1Policy": {
      "type": "object",
      "properties": {
        "etag": {
          "description": "etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to getIamPolicy, and systems are expected to put that etag in the request to setIamPolicy to ensure that their change will be applied to the same version of the policy.Important: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.",
          "format": "byte",
          "type": "string"
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          }
        },
        "bindings": {
          "type": "array",
          "description": "Associates a list of members, or principals, with a role. Optionally, may specify a condition that determines how and when the bindings are applied. Each of the bindings must contain at least one principal.The bindings in a Policy can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the bindings grant 50 different roles to user:alice@example.com, and not to any other principal, then you can add another 1,450 principals to the bindings in the Policy.",
          "items": {
            "$ref": "GoogleIamV1Binding"
          }
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy.Valid values are 0, 1, and 3. Requests that specify an invalid value are rejected.Any operation that affects conditional role bindings must specify version 3. This requirement applies to the following operations: Getting a policy that includes a conditional role binding Adding a conditional role binding to a policy Changing a conditional role binding in a policy Removing any role binding, with or without a condition, from a policy that includes conditionsImportant: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources.A Policy is a collection of bindings. A binding binds one or more members, or principals, to a single role. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A role is a named list of permissions; each role can be an IAM predefined role or a user-created custom role.For some types of Google Cloud resources, a binding can also specify a condition, which is a logical expression that allows access to a resource only if the expression evaluates to true. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).JSON example: { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } YAML example: bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the IAM documentation (https://cloud.google.com/iam/docs/).",
      "id": "GoogleIamV1Policy"
    },
    "GoogleCloudDataplexV1LakeMetastoreStatus": {
      "id": "GoogleCloudDataplexV1LakeMetastoreStatus",
      "properties": {
        "state": {
          "type": "string",
          "description": "Current state of association.",
          "enum": [
            "STATE_UNSPECIFIED",
            "NONE",
            "READY",
            "UPDATING",
            "ERROR"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "A Metastore service instance is not associated with the lake.",
            "A Metastore service instance is attached to the lake.",
            "Attach/detach is in progress.",
            "Attach/detach could not be done due to errors."
          ]
        },
        "updateTime": {
          "description": "Last update time of the metastore status of the lake.",
          "type": "string",
          "format": "google-datetime"
        },
        "endpoint": {
          "description": "The URI of the endpoint used to access the Metastore service.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Additional information about the current status."
        }
      },
      "description": "Status of Lake and Dataproc Metastore service instance association.",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataQualityRuleRangeExpectation": {
      "type": "object",
      "id": "GoogleCloudDataplexV1DataQualityRuleRangeExpectation",
      "properties": {
        "minValue": {
          "description": "Optional. The minimum column value allowed for a row to pass this validation. At least one of min_value and max_value need to be provided.",
          "type": "string"
        },
        "strictMinEnabled": {
          "type": "boolean",
          "description": "Optional. Whether each value needs to be strictly greater than ('\u003e') the minimum, or if equality is allowed.Only relevant if a min_value has been defined. Default = false."
        },
        "maxValue": {
          "description": "Optional. The maximum column value allowed for a row to pass this validation. At least one of min_value and max_value need to be provided.",
          "type": "string"
        },
        "strictMaxEnabled": {
          "description": "Optional. Whether each value needs to be strictly lesser than ('\u003c') the maximum, or if equality is allowed.Only relevant if a max_value has been defined. Default = false.",
          "type": "boolean"
        }
      },
      "description": "Evaluates whether each column value lies between a specified range."
    },
    "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoStringFieldInfo": {
      "description": "The profile information for a string type field.",
      "properties": {
        "averageLength": {
          "format": "double",
          "type": "number",
          "description": "Average length of non-null values in the scanned data."
        },
        "minLength": {
          "type": "string",
          "description": "Minimum length of non-null values in the scanned data.",
          "format": "int64"
        },
        "maxLength": {
          "format": "int64",
          "type": "string",
          "description": "Maximum length of non-null values in the scanned data."
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoStringFieldInfo"
    },
    "GoogleCloudDataplexV1TaskExecutionSpec": {
      "properties": {
        "project": {
          "type": "string",
          "description": "Optional. The project in which jobs are run. By default, the project containing the Lake is used. If a project is provided, the ExecutionSpec.service_account must belong to this project."
        },
        "kmsKey": {
          "description": "Optional. The Cloud KMS key to use for encryption, of the form: projects/{project_number}/locations/{location_id}/keyRings/{key-ring-name}/cryptoKeys/{key-name}.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Required. Service account to use to execute a task. If not provided, the default Compute service account for the project is used.",
          "type": "string"
        },
        "maxJobExecutionLifetime": {
          "format": "google-duration",
          "description": "Optional. The maximum duration after which the job execution is expired.",
          "type": "string"
        },
        "args": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The arguments to pass to the task. The args can use placeholders of the format ${placeholder} as part of key/value string. These will be interpolated before passing the args to the driver. Currently supported placeholders: - ${task_id} - ${job_time} To pass positional args, set the key as TASK_ARGS. The value should be a comma-separated string of all the positional arguments. To use a delimiter other than comma, refer to https://cloud.google.com/sdk/gcloud/reference/topic/escaping. In case of other keys being present in the args, then TASK_ARGS will be passed as the last argument."
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1TaskExecutionSpec",
      "description": "Execution related settings, like retry and service_account."
    },
    "GoogleCloudDataplexV1SessionEvent": {
      "type": "object",
      "properties": {
        "query": {
          "description": "The execution details of the query.",
          "$ref": "GoogleCloudDataplexV1SessionEventQueryDetail"
        },
        "eventSucceeded": {
          "description": "The status of the event.",
          "type": "boolean"
        },
        "unassignedDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "The idle duration of a warm pooled session before it is assigned to user."
        },
        "userId": {
          "type": "string",
          "description": "The information about the user that created the session. It will be the email address of the user."
        },
        "sessionId": {
          "type": "string",
          "description": "Unique identifier for the session."
        },
        "fastStartupEnabled": {
          "type": "boolean",
          "description": "If the session is associated with an environment with fast startup enabled, and was created before being assigned to a user."
        },
        "message": {
          "description": "The log message.",
          "type": "string"
        },
        "type": {
          "description": "The type of the event.",
          "enumDescriptions": [
            "An unspecified event type.",
            "Event when the session is assigned to a user.",
            "Event for stop of a session.",
            "Query events in the session.",
            "Event for creation of a cluster. It is not yet assigned to a user. This comes before START in the sequence"
          ],
          "type": "string",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "START",
            "STOP",
            "QUERY",
            "CREATE"
          ]
        }
      },
      "description": "These messages contain information about sessions within an environment. The monitored resource is 'Environment'.",
      "id": "GoogleCloudDataplexV1SessionEvent"
    },
    "GoogleCloudDataplexV1SessionEventQueryDetail": {
      "description": "Execution details of the query.",
      "id": "GoogleCloudDataplexV1SessionEventQueryDetail",
      "type": "object",
      "properties": {
        "dataProcessedBytes": {
          "type": "string",
          "description": "The data processed by the query.",
          "format": "int64"
        },
        "duration": {
          "format": "google-duration",
          "description": "Time taken for execution of the query.",
          "type": "string"
        },
        "resultSizeBytes": {
          "description": "The size of results the query produced.",
          "type": "string",
          "format": "int64"
        },
        "queryId": {
          "description": "The unique Query id identifying the query.",
          "type": "string"
        },
        "engine": {
          "enum": [
            "ENGINE_UNSPECIFIED",
            "SPARK_SQL",
            "BIGQUERY"
          ],
          "description": "Query Execution engine.",
          "type": "string",
          "enumDescriptions": [
            "An unspecified Engine type.",
            "Spark-sql engine is specified in Query.",
            "BigQuery engine is specified in Query."
          ]
        },
        "queryText": {
          "type": "string",
          "description": "The query text executed."
        }
      }
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } ",
      "id": "Empty"
    },
    "GoogleCloudDataplexV1Schema": {
      "description": "Schema information describing the structure and layout of the data.",
      "id": "GoogleCloudDataplexV1Schema",
      "properties": {
        "fields": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1SchemaSchemaField"
          },
          "description": "Optional. The sequence of fields describing data in table entities. Note: BigQuery SchemaFields are immutable."
        },
        "partitionFields": {
          "type": "array",
          "description": "Optional. The sequence of fields describing the partition structure in entities. If this field is empty, there are no partitions within the data.",
          "items": {
            "$ref": "GoogleCloudDataplexV1SchemaPartitionField"
          }
        },
        "partitionStyle": {
          "enumDescriptions": [
            "PartitionStyle unspecified",
            "Partitions are hive-compatible. Examples: gs://bucket/path/to/table/dt=2019-10-31/lang=en, gs://bucket/path/to/table/dt=2019-10-31/lang=en/late."
          ],
          "type": "string",
          "description": "Optional. The structure of paths containing partition data within the entity.",
          "enum": [
            "PARTITION_STYLE_UNSPECIFIED",
            "HIVE_COMPATIBLE"
          ]
        },
        "userManaged": {
          "type": "boolean",
          "description": "Required. Set to true if user-managed or false if managed by Dataplex. The default is false (managed by Dataplex). Set to falseto enable Dataplex discovery to update the schema. including new data discovery, schema inference, and schema evolution. Users retain the ability to input and edit the schema. Dataplex treats schema input by the user as though produced by a previous Dataplex discovery operation, and it will evolve the schema and take action based on that treatment. Set to true to fully manage the entity schema. This setting guarantees that Dataplex will not change schema fields."
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1ListLakesResponse": {
      "description": "List lakes response.",
      "properties": {
        "lakes": {
          "items": {
            "$ref": "GoogleCloudDataplexV1Lake"
          },
          "description": "Lakes under the given parent location.",
          "type": "array"
        },
        "unreachableLocations": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1ListLakesResponse"
    },
    "GoogleCloudDataplexV1EnvironmentSessionStatus": {
      "id": "GoogleCloudDataplexV1EnvironmentSessionStatus",
      "properties": {
        "active": {
          "description": "Output only. Queries over sessions to mark whether the environment is currently active or not",
          "type": "boolean",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1TaskInfrastructureSpecBatchComputeResources": {
      "type": "object",
      "id": "GoogleCloudDataplexV1TaskInfrastructureSpecBatchComputeResources",
      "properties": {
        "executorsCount": {
          "description": "Optional. Total number of job executors. Executor Count should be between 2 and 100. Default=2",
          "type": "integer",
          "format": "int32"
        },
        "maxExecutorsCount": {
          "description": "Optional. Max configurable executors. If max_executors_count \u003e executors_count, then auto-scaling is enabled. Max Executor Count should be between 2 and 1000. Default=1000",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Batch compute resources associated with the task."
    },
    "GoogleCloudDataplexV1StorageFormat": {
      "description": "Describes the format of the data within its storage location.",
      "properties": {
        "iceberg": {
          "$ref": "GoogleCloudDataplexV1StorageFormatIcebergOptions",
          "description": "Optional. Additional information about iceberg tables."
        },
        "mimeType": {
          "type": "string",
          "description": "Required. The mime type descriptor for the data. Must match the pattern {type}/{subtype}. Supported values: application/x-parquet application/x-avro application/x-orc application/x-tfrecord application/x-parquet+iceberg application/x-avro+iceberg application/x-orc+iceberg application/json application/{subtypes} text/csv text/ image/{image subtype} video/{video subtype} audio/{audio subtype}"
        },
        "compressionFormat": {
          "enum": [
            "COMPRESSION_FORMAT_UNSPECIFIED",
            "GZIP",
            "BZIP2"
          ],
          "enumDescriptions": [
            "CompressionFormat unspecified. Implies uncompressed data.",
            "GZip compressed set of files.",
            "BZip2 compressed set of files."
          ],
          "description": "Optional. The compression type associated with the stored data. If unspecified, the data is uncompressed.",
          "type": "string"
        },
        "json": {
          "description": "Optional. Additional information about CSV formatted data.",
          "$ref": "GoogleCloudDataplexV1StorageFormatJsonOptions"
        },
        "format": {
          "readOnly": true,
          "description": "Output only. The data format associated with the stored data, which represents content type values. The value is inferred from mime type.",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "PARQUET",
            "AVRO",
            "ORC",
            "CSV",
            "JSON",
            "IMAGE",
            "AUDIO",
            "VIDEO",
            "TEXT",
            "TFRECORD",
            "OTHER",
            "UNKNOWN"
          ],
          "type": "string",
          "enumDescriptions": [
            "Format unspecified.",
            "Parquet-formatted structured data.",
            "Avro-formatted structured data.",
            "Orc-formatted structured data.",
            "Csv-formatted semi-structured data.",
            "Json-formatted semi-structured data.",
            "Image data formats (such as jpg and png).",
            "Audio data formats (such as mp3, and wav).",
            "Video data formats (such as mp4 and mpg).",
            "Textual data formats (such as txt and xml).",
            "TensorFlow record format.",
            "Data that doesn't match a specific format.",
            "Data of an unknown format."
          ]
        },
        "csv": {
          "$ref": "GoogleCloudDataplexV1StorageFormatCsvOptions",
          "description": "Optional. Additional information about CSV formatted data."
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1StorageFormat"
    },
    "GoogleCloudDataplexV1StorageFormatCsvOptions": {
      "id": "GoogleCloudDataplexV1StorageFormatCsvOptions",
      "description": "Describes CSV and similar semi-structured data formats.",
      "type": "object",
      "properties": {
        "delimiter": {
          "type": "string",
          "description": "Optional. The delimiter used to separate values. Defaults to ','."
        },
        "encoding": {
          "description": "Optional. The character encoding of the data. Accepts \"US-ASCII\", \"UTF-8\", and \"ISO-8859-1\". Defaults to UTF-8 if unspecified.",
          "type": "string"
        },
        "headerRows": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of rows to interpret as header rows that should be skipped when reading data rows. Defaults to 0."
        },
        "quote": {
          "description": "Optional. The character used to quote column values. Accepts '\"' (double quotation mark) or ''' (single quotation mark). Defaults to '\"' (double quotation mark) if unspecified.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1AssetDiscoveryStatusStats": {
      "description": "The aggregated data statistics for the asset reported by discovery.",
      "id": "GoogleCloudDataplexV1AssetDiscoveryStatusStats",
      "properties": {
        "dataItems": {
          "type": "string",
          "description": "The count of data items within the referenced resource.",
          "format": "int64"
        },
        "filesets": {
          "format": "int64",
          "description": "The count of fileset entities within the referenced resource.",
          "type": "string"
        },
        "tables": {
          "description": "The count of table entities within the referenced resource.",
          "type": "string",
          "format": "int64"
        },
        "dataSize": {
          "description": "The number of stored data bytes within the referenced resource.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1AssetStatus": {
      "id": "GoogleCloudDataplexV1AssetStatus",
      "properties": {
        "securityPolicyApplyingAssets": {
          "type": "integer",
          "description": "Number of assets that are in process of updating the security policy on attached resources.",
          "format": "int32"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Last update time of the status.",
          "type": "string"
        },
        "activeAssets": {
          "format": "int32",
          "description": "Number of active assets.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Aggregated status of the underlying assets of a lake or zone."
    },
    "GoogleCloudDataplexV1TaskExecutionStatus": {
      "type": "object",
      "id": "GoogleCloudDataplexV1TaskExecutionStatus",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Last update time of the status.",
          "readOnly": true
        },
        "latestJob": {
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1Job",
          "description": "Output only. latest job execution"
        }
      },
      "description": "Status of the task execution (e.g. Jobs)."
    },
    "GoogleCloudDataplexV1DataScanEventDataQualityResult": {
      "type": "object",
      "properties": {
        "dimensionPassed": {
          "additionalProperties": {
            "type": "boolean"
          },
          "type": "object",
          "description": "The result of each dimension for data quality result. The key of the map is the name of the dimension. The value is the bool value depicting whether the dimension result was pass or not."
        },
        "rowCount": {
          "type": "string",
          "description": "The count of rows processed in the data scan job.",
          "format": "int64"
        },
        "passed": {
          "type": "boolean",
          "description": "Whether the data quality result was pass or not."
        }
      },
      "id": "GoogleCloudDataplexV1DataScanEventDataQualityResult",
      "description": "Data quality result for data scan job."
    },
    "GoogleCloudDataplexV1DataQualityDimensionResult": {
      "id": "GoogleCloudDataplexV1DataQualityDimensionResult",
      "type": "object",
      "description": "DataQualityDimensionResult provides a more detailed, per-dimension view of the results.",
      "properties": {
        "passed": {
          "type": "boolean",
          "description": "Whether the dimension passed or failed."
        }
      }
    },
    "GoogleCloudDataplexV1ListPartitionsResponse": {
      "id": "GoogleCloudDataplexV1ListPartitionsResponse",
      "description": "List metadata partitions response.",
      "type": "object",
      "properties": {
        "partitions": {
          "items": {
            "$ref": "GoogleCloudDataplexV1Partition"
          },
          "description": "Partitions under the specified parent entity.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no remaining results in the list."
        }
      }
    },
    "GoogleCloudDataplexV1DataScanExecutionStatus": {
      "properties": {
        "latestJobEndTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the latest DataScanJob ended."
        },
        "latestJobStartTime": {
          "format": "google-datetime",
          "description": "The time when the latest DataScanJob started.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1DataScanExecutionStatus",
      "type": "object",
      "description": "Status of the data scan execution."
    },
    "GoogleCloudDataplexV1DataAttribute": {
      "properties": {
        "displayName": {
          "description": "Optional. User friendly display name.",
          "type": "string"
        },
        "attributeCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The number of child attributes present for this attribute.",
          "type": "integer"
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the DataAttribute. This ID will be different if the DataAttribute is deleted and re-created with the same name.",
          "type": "string",
          "readOnly": true
        },
        "dataAccessSpec": {
          "description": "Optional. Specified when applied to data stored on the resource (eg: rows, columns in BigQuery Tables).",
          "$ref": "GoogleCloudDataplexV1DataAccessSpec"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the DataAttribute was created.",
          "format": "google-datetime"
        },
        "resourceAccessSpec": {
          "$ref": "GoogleCloudDataplexV1ResourceAccessSpec",
          "description": "Optional. Specified when applied to a resource (eg: Cloud Storage bucket, BigQuery dataset, BigQuery table)."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined labels for the DataAttribute."
        },
        "name": {
          "description": "Output only. The relative resource name of the dataAttribute, of the form: projects/{project_number}/locations/{location_id}/dataTaxonomies/{dataTaxonomy}/attributes/{data_attribute_id}.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "Optional. Description of the DataAttribute.",
          "type": "string"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the DataAttribute was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "parentId": {
          "description": "Optional. The ID of the parent DataAttribute resource, should belong to the same data taxonomy. Circular dependency in parent chain is not valid. Maximum depth of the hierarchy allowed is 4. a -\u003e b -\u003e c -\u003e d -\u003e e, depth = 4",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1DataAttribute",
      "type": "object",
      "description": "Denotes one dataAttribute in a dataTaxonomy, for example, PII. DataAttribute resources can be defined in a hierarchy. A single dataAttribute resource can contain specs of multiple types PII - ResourceAccessSpec : - readers :foo@bar.com - DataAccessSpec : - readers :bar@foo.com "
    },
    "GoogleCloudDataplexV1ActionMissingResource": {
      "id": "GoogleCloudDataplexV1ActionMissingResource",
      "type": "object",
      "description": "Action details for resource references in assets that cannot be located.",
      "properties": {}
    },
    "GoogleCloudDataplexV1DataQualityRule": {
      "description": "A rule captures data quality intent about a data source.",
      "type": "object",
      "id": "GoogleCloudDataplexV1DataQualityRule",
      "properties": {
        "ignoreNull": {
          "description": "Optional. Rows with null values will automatically fail a rule, unless ignore_null is true. In that case, such null rows are trivially considered passing.Only applicable to ColumnMap rules.",
          "type": "boolean"
        },
        "tableConditionExpectation": {
          "$ref": "GoogleCloudDataplexV1DataQualityRuleTableConditionExpectation",
          "description": "Table rule which evaluates whether the provided expression is true."
        },
        "threshold": {
          "type": "number",
          "description": "Optional. The minimum ratio of passing_rows / total_rows required to pass this rule, with a range of 0.0, 1.0.0 indicates default value (i.e. 1.0).",
          "format": "double"
        },
        "statisticRangeExpectation": {
          "description": "ColumnAggregate rule which evaluates whether the column aggregate statistic lies between a specified range.",
          "$ref": "GoogleCloudDataplexV1DataQualityRuleStatisticRangeExpectation"
        },
        "regexExpectation": {
          "description": "ColumnMap rule which evaluates whether each column value matches a specified regex.",
          "$ref": "GoogleCloudDataplexV1DataQualityRuleRegexExpectation"
        },
        "column": {
          "type": "string",
          "description": "Optional. The unnested column which this rule is evaluated against."
        },
        "rowConditionExpectation": {
          "description": "Table rule which evaluates whether each row passes the specified condition.",
          "$ref": "GoogleCloudDataplexV1DataQualityRuleRowConditionExpectation"
        },
        "dimension": {
          "type": "string",
          "description": "Required. The dimension a rule belongs to. Results are also aggregated at the dimension level. Supported dimensions are \"COMPLETENESS\", \"ACCURACY\", \"CONSISTENCY\", \"VALIDITY\", \"UNIQUENESS\", \"INTEGRITY\""
        },
        "nonNullExpectation": {
          "description": "ColumnMap rule which evaluates whether each column value is null.",
          "$ref": "GoogleCloudDataplexV1DataQualityRuleNonNullExpectation"
        },
        "setExpectation": {
          "description": "ColumnMap rule which evaluates whether each column value is contained by a specified set.",
          "$ref": "GoogleCloudDataplexV1DataQualityRuleSetExpectation"
        },
        "uniquenessExpectation": {
          "$ref": "GoogleCloudDataplexV1DataQualityRuleUniquenessExpectation",
          "description": "ColumnAggregate rule which evaluates whether the column has duplicates."
        },
        "rangeExpectation": {
          "$ref": "GoogleCloudDataplexV1DataQualityRuleRangeExpectation",
          "description": "ColumnMap rule which evaluates whether each column value lies between a specified range."
        }
      }
    },
    "GoogleCloudDataplexV1DataScanEvent": {
      "id": "GoogleCloudDataplexV1DataScanEvent",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified job state.",
            "Data scan started.",
            "Data scan successfully completed.",
            "Data scan was unsuccessful.",
            "Data scan was cancelled."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "description": "The status of the data scan job."
        },
        "message": {
          "description": "The message describing the data scan job event.",
          "type": "string"
        },
        "dataProfile": {
          "description": "Data profile result for data profile type data scan.",
          "$ref": "GoogleCloudDataplexV1DataScanEventDataProfileResult"
        },
        "jobId": {
          "type": "string",
          "description": "The identifier of the specific data scan job this log entry is for."
        },
        "dataQuality": {
          "description": "Data quality result for data quality type data scan.",
          "$ref": "GoogleCloudDataplexV1DataScanEventDataQualityResult"
        },
        "startTime": {
          "type": "string",
          "description": "The time when the data scan job started to run.",
          "format": "google-datetime"
        },
        "type": {
          "type": "string",
          "enum": [
            "SCAN_TYPE_UNSPECIFIED",
            "DATA_PROFILE",
            "DATA_QUALITY"
          ],
          "description": "The type of the data scan.",
          "enumDescriptions": [
            "An unspecified data scan type.",
            "Data scan for data profile.",
            "Data scan for data quality."
          ]
        },
        "specVersion": {
          "type": "string",
          "description": "A version identifier of the spec which was used to execute this job."
        },
        "scope": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified scope type.",
            "Data scan runs on all of the data.",
            "Data scan runs on incremental data."
          ],
          "description": "The scope of the data scan (e.g. full, incremental).",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "FULL",
            "INCREMENTAL"
          ]
        },
        "trigger": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified trigger type.",
            "Data scan triggers on demand.",
            "Data scan triggers as per schedule."
          ],
          "description": "The trigger type of the data scan job.",
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "ON_DEMAND",
            "SCHEDULE"
          ]
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time when the data scan job finished.",
          "type": "string"
        },
        "dataSource": {
          "description": "The data source of the data scan",
          "type": "string"
        }
      },
      "description": "These messages contain information about the execution of a datascan. The monitored resource is 'DataScan'"
    },
    "GoogleCloudDataplexV1StorageFormatIcebergOptions": {
      "type": "object",
      "id": "GoogleCloudDataplexV1StorageFormatIcebergOptions",
      "description": "Describes Iceberg data format.",
      "properties": {
        "metadataLocation": {
          "type": "string",
          "description": "Optional. The location of where the iceberg metadata is present, must be within the table path"
        }
      }
    },
    "GoogleCloudDataplexV1DiscoveryEvent": {
      "type": "object",
      "properties": {
        "assetId": {
          "type": "string",
          "description": "The id of the associated asset."
        },
        "zoneId": {
          "type": "string",
          "description": "The id of the associated zone."
        },
        "config": {
          "description": "Details about discovery configuration in effect.",
          "$ref": "GoogleCloudDataplexV1DiscoveryEventConfigDetails"
        },
        "lakeId": {
          "description": "The id of the associated lake.",
          "type": "string"
        },
        "action": {
          "$ref": "GoogleCloudDataplexV1DiscoveryEventActionDetails",
          "description": "Details about the action associated with the event."
        },
        "partition": {
          "$ref": "GoogleCloudDataplexV1DiscoveryEventPartitionDetails",
          "description": "Details about the partition associated with the event."
        },
        "message": {
          "description": "The log message.",
          "type": "string"
        },
        "dataLocation": {
          "description": "The data location associated with the event.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "An unspecified event type.",
            "An event representing discovery configuration in effect.",
            "An event representing a metadata entity being created.",
            "An event representing a metadata entity being updated.",
            "An event representing a metadata entity being deleted.",
            "An event representing a partition being created.",
            "An event representing a partition being updated.",
            "An event representing a partition being deleted."
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "CONFIG",
            "ENTITY_CREATED",
            "ENTITY_UPDATED",
            "ENTITY_DELETED",
            "PARTITION_CREATED",
            "PARTITION_UPDATED",
            "PARTITION_DELETED"
          ],
          "description": "The type of the event being logged.",
          "type": "string"
        },
        "entity": {
          "$ref": "GoogleCloudDataplexV1DiscoveryEventEntityDetails",
          "description": "Details about the entity associated with the event."
        }
      },
      "description": "The payload associated with Discovery data processing.",
      "id": "GoogleCloudDataplexV1DiscoveryEvent"
    },
    "GoogleCloudDataplexV1DiscoveryEventPartitionDetails": {
      "type": "object",
      "id": "GoogleCloudDataplexV1DiscoveryEventPartitionDetails",
      "description": "Details about the partition.",
      "properties": {
        "entity": {
          "type": "string",
          "description": "The name to the containing entity resource. The name is the fully-qualified resource name."
        },
        "partition": {
          "type": "string",
          "description": "The name to the partition resource. The name is the fully-qualified resource name."
        },
        "type": {
          "enumDescriptions": [
            "An unspecified event type.",
            "Entities representing structured data.",
            "Entities representing unstructured data."
          ],
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "TABLE",
            "FILESET"
          ],
          "type": "string",
          "description": "The type of the containing entity resource."
        },
        "sampledDataLocations": {
          "description": "The locations of the data items (e.g., a Cloud Storage objects) sampled for metadata inference.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDataplexV1ListContentResponse": {
      "id": "GoogleCloudDataplexV1ListContentResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "content": {
          "description": "Content under the given parent lake.",
          "items": {
            "$ref": "GoogleCloudDataplexV1Content"
          },
          "type": "array"
        }
      },
      "description": "List content response."
    },
    "GoogleCloudDataplexV1DataQualityRuleStatisticRangeExpectation": {
      "description": "Evaluates whether the column aggregate statistic lies between a specified range.",
      "properties": {
        "minValue": {
          "type": "string",
          "description": "The minimum column statistic value allowed for a row to pass this validation.At least one of min_value and max_value need to be provided."
        },
        "strictMaxEnabled": {
          "description": "Whether column statistic needs to be strictly lesser than ('\u003c') the maximum, or if equality is allowed.Only relevant if a max_value has been defined. Default = false.",
          "type": "boolean"
        },
        "statistic": {
          "enum": [
            "STATISTIC_UNDEFINED",
            "MEAN",
            "MIN",
            "MAX"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified statistic type",
            "Evaluate the column mean",
            "Evaluate the column min",
            "Evaluate the column max"
          ]
        },
        "maxValue": {
          "description": "The maximum column statistic value allowed for a row to pass this validation.At least one of min_value and max_value need to be provided.",
          "type": "string"
        },
        "strictMinEnabled": {
          "description": "Whether column statistic needs to be strictly greater than ('\u003e') the minimum, or if equality is allowed.Only relevant if a min_value has been defined. Default = false.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDataplexV1DataQualityRuleStatisticRangeExpectation",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataQualityRuleUniquenessExpectation": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDataplexV1DataQualityRuleUniquenessExpectation",
      "description": "Evaluates whether the column has duplicates."
    },
    "GoogleCloudDataplexV1DataScan": {
      "type": "object",
      "properties": {
        "data": {
          "description": "Required. The data source for DataScan.",
          "$ref": "GoogleCloudDataplexV1DataSource"
        },
        "dataQualityResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1DataQualityResult",
          "description": "Output only. The result of the data quality scan."
        },
        "state": {
          "enumDescriptions": [
            "State is not specified.",
            "Resource is active, i.e., ready to use.",
            "Resource is under creation.",
            "Resource is under deletion.",
            "Resource is active but has unresolved actions."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "ACTION_REQUIRED"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Current state of the DataScan."
        },
        "dataProfileResult": {
          "description": "Output only. The result of the data profile scan.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1DataProfileResult"
        },
        "executionSpec": {
          "$ref": "GoogleCloudDataplexV1DataScanExecutionSpec",
          "description": "Optional. DataScan execution settings.If not specified, the fields in it will use their default values."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the scan. Must be between 1-1024 characters."
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the scan. This ID will be different if the scan is deleted and re-created with the same name.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "readOnly": true,
          "enumDescriptions": [
            "The DataScan type is unspecified.",
            "Data Quality scan.",
            "Data Profile scan."
          ],
          "type": "string",
          "description": "Output only. The type of DataScan.",
          "enum": [
            "DATA_SCAN_TYPE_UNSPECIFIED",
            "DATA_QUALITY",
            "DATA_PROFILE"
          ]
        },
        "dataProfileSpec": {
          "$ref": "GoogleCloudDataplexV1DataProfileSpec",
          "description": "DataProfileScan related setting."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the scan was created."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time when the scan was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "executionStatus": {
          "description": "Output only. Status of the data scan execution.",
          "$ref": "GoogleCloudDataplexV1DataScanExecutionStatus",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The relative resource name of the scan, of the form: projects/{project}/locations/{location_id}/dataScans/{datascan_id}, where project refers to a project_id or project_number and location_id refers to a GCP region."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User friendly display name. Must be between 1-256 characters."
        },
        "dataQualitySpec": {
          "$ref": "GoogleCloudDataplexV1DataQualitySpec",
          "description": "DataQualityScan related setting."
        },
        "labels": {
          "description": "Optional. User-defined labels for the scan.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudDataplexV1DataScan",
      "description": "Represents a user-visible job which provides the insights for the related data source.For example: Data Quality: generates queries based on the rules and runs against the data to get data quality check results. Data Profile: analyzes the data in table(s) and generates insights about the structure, content and relationships (such as null percent, cardinality, min/max/mean, etc)."
    },
    "GoogleCloudDataplexV1TaskNotebookTaskConfig": {
      "id": "GoogleCloudDataplexV1TaskNotebookTaskConfig",
      "type": "object",
      "properties": {
        "notebook": {
          "description": "Required. Path to input notebook. This can be the Cloud Storage URI of the notebook file or the path to a Notebook Content. The execution args are accessible as environment variables (TASK_key=value).",
          "type": "string"
        },
        "infrastructureSpec": {
          "description": "Optional. Infrastructure specification for the execution.",
          "$ref": "GoogleCloudDataplexV1TaskInfrastructureSpec"
        },
        "archiveUris": {
          "description": "Optional. Cloud Storage URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "fileUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Cloud Storage URIs of files to be placed in the working directory of each executor."
        }
      },
      "description": "Config for running scheduled notebooks."
    },
    "GoogleCloudDataplexV1AssetSecurityStatus": {
      "description": "Security policy status of the asset. Data security policy, i.e., readers, writers & owners, should be specified in the lake/zone/asset IAM policy.",
      "properties": {
        "message": {
          "description": "Additional information about the current state.",
          "type": "string"
        },
        "state": {
          "description": "The current state of the security policy applied to the attached resource.",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "APPLYING",
            "ERROR"
          ],
          "enumDescriptions": [
            "State unspecified.",
            "Security policy has been successfully applied to the attached resource.",
            "Security policy is in the process of being applied to the attached resource.",
            "Security policy could not be applied to the attached resource due to errors."
          ],
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Last update time of the status.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1AssetSecurityStatus"
    },
    "GoogleCloudDataplexV1SchemaSchemaField": {
      "type": "object",
      "id": "GoogleCloudDataplexV1SchemaSchemaField",
      "description": "Represents a column field within a table schema.",
      "properties": {
        "name": {
          "description": "Required. The name of the field. Must contain only letters, numbers and underscores, with a maximum length of 767 characters, and must begin with a letter or underscore.",
          "type": "string"
        },
        "fields": {
          "items": {
            "$ref": "GoogleCloudDataplexV1SchemaSchemaField"
          },
          "type": "array",
          "description": "Optional. Any nested field for complex types."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "BOOLEAN",
            "BYTE",
            "INT16",
            "INT32",
            "INT64",
            "FLOAT",
            "DOUBLE",
            "DECIMAL",
            "STRING",
            "BINARY",
            "TIMESTAMP",
            "DATE",
            "TIME",
            "RECORD",
            "NULL"
          ],
          "enumDescriptions": [
            "SchemaType unspecified.",
            "Boolean field.",
            "Single byte numeric field.",
            "16-bit numeric field.",
            "32-bit numeric field.",
            "64-bit numeric field.",
            "Floating point numeric field.",
            "Double precision numeric field.",
            "Real value numeric field.",
            "Sequence of characters field.",
            "Sequence of bytes field.",
            "Date and time field.",
            "Date field.",
            "Time field.",
            "Structured field. Nested fields that define the structure of the map. If all nested fields are nullable, this field represents a union.",
            "Null field that does not have values."
          ],
          "type": "string",
          "description": "Required. The type of field."
        },
        "description": {
          "type": "string",
          "description": "Optional. User friendly field description. Must be less than or equal to 1024 characters."
        },
        "mode": {
          "type": "string",
          "enumDescriptions": [
            "Mode unspecified.",
            "The field has required semantics.",
            "The field has optional semantics, and may be null.",
            "The field has repeated (0 or more) semantics, and is a list of values."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "REQUIRED",
            "NULLABLE",
            "REPEATED"
          ],
          "description": "Required. Additional field semantics."
        }
      }
    },
    "GoogleCloudDataplexV1ListTasksResponse": {
      "id": "GoogleCloudDataplexV1ListTasksResponse",
      "description": "List tasks response.",
      "type": "object",
      "properties": {
        "tasks": {
          "description": "Tasks under the given parent lake.",
          "items": {
            "$ref": "GoogleCloudDataplexV1Task"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachableLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfo": {
      "description": "The profile information for each field type.",
      "properties": {
        "distinctRatio": {
          "description": "Ratio of rows with distinct values against total scanned rows. Not available for complex non-groupable field type RECORD and fields with REPEATABLE mode.",
          "format": "double",
          "type": "number"
        },
        "topNValues": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoTopNValue"
          },
          "description": "The list of top N non-null values and number of times they occur in the scanned data. N is 10 or equal to the number of distinct values in the field, whichever is smaller. Not available for complex non-groupable field type RECORD and fields with REPEATABLE mode."
        },
        "doubleProfile": {
          "description": "Double type field information.",
          "$ref": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoDoubleFieldInfo"
        },
        "integerProfile": {
          "description": "Integer type field information.",
          "$ref": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoIntegerFieldInfo"
        },
        "stringProfile": {
          "$ref": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoStringFieldInfo",
          "description": "String type field information."
        },
        "nullRatio": {
          "type": "number",
          "description": "Ratio of rows with null value against total scanned rows.",
          "format": "double"
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfo"
    },
    "GoogleCloudDataplexV1Environment": {
      "properties": {
        "sessionSpec": {
          "description": "Optional. Configuration for sessions created for this environment.",
          "$ref": "GoogleCloudDataplexV1EnvironmentSessionSpec"
        },
        "sessionStatus": {
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1EnvironmentSessionStatus",
          "description": "Output only. Status of sessions created for this environment."
        },
        "endpoints": {
          "description": "Output only. URI Endpoints to access sessions associated with the Environment.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1EnvironmentEndpoints"
        },
        "state": {
          "enumDescriptions": [
            "State is not specified.",
            "Resource is active, i.e., ready to use.",
            "Resource is under creation.",
            "Resource is under deletion.",
            "Resource is active but has unresolved actions."
          ],
          "type": "string",
          "description": "Output only. Current state of the environment.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "ACTION_REQUIRED"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User friendly display name."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the environment was last updated.",
          "format": "google-datetime"
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the environment. This ID will be different if the environment is deleted and re-created with the same name.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. User defined labels for the environment."
        },
        "description": {
          "description": "Optional. Description of the environment.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The relative resource name of the environment, of the form: projects/{project_id}/locations/{location_id}/lakes/{lake_id}/environment/{environment_id}",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Environment creation time.",
          "format": "google-datetime",
          "type": "string"
        },
        "infrastructureSpec": {
          "$ref": "GoogleCloudDataplexV1EnvironmentInfrastructureSpec",
          "description": "Required. Infrastructure specification for the Environment."
        }
      },
      "description": "Environment represents a user-visible compute infrastructure for analytics within a lake.",
      "id": "GoogleCloudDataplexV1Environment",
      "type": "object"
    },
    "GoogleCloudDataplexV1AssetDiscoverySpecCsvOptions": {
      "type": "object",
      "description": "Describe CSV and similar semi-structured data formats.",
      "id": "GoogleCloudDataplexV1AssetDiscoverySpecCsvOptions",
      "properties": {
        "encoding": {
          "description": "Optional. The character encoding of the data. The default is UTF-8.",
          "type": "string"
        },
        "headerRows": {
          "format": "int32",
          "description": "Optional. The number of rows to interpret as header rows that should be skipped when reading data rows.",
          "type": "integer"
        },
        "disableTypeInference": {
          "description": "Optional. Whether to disable the inference of data type for CSV data. If true, all columns will be registered as strings.",
          "type": "boolean"
        },
        "delimiter": {
          "description": "Optional. The delimiter being used to separate values. This defaults to ','.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1AssetResourceStatus": {
      "description": "Status of the resource referenced by an asset.",
      "type": "object",
      "id": "GoogleCloudDataplexV1AssetResourceStatus",
      "properties": {
        "state": {
          "type": "string",
          "description": "The current state of the managed resource.",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "ERROR"
          ],
          "enumDescriptions": [
            "State unspecified.",
            "Resource does not have any errors.",
            "Resource has errors."
          ]
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last update time of the status."
        },
        "message": {
          "description": "Additional information about the current state.",
          "type": "string"
        },
        "managedAccessIdentity": {
          "type": "string",
          "description": "Output only. Service account associated with the BigQuery Connection.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDataplexV1DataQualityRuleRowConditionExpectation": {
      "properties": {
        "sqlExpression": {
          "description": "The SQL expression.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1DataQualityRuleRowConditionExpectation",
      "type": "object",
      "description": "Evaluates whether each row passes the specified condition.The SQL expression needs to use BigQuery standard SQL syntax and should produce a boolean value per row as the result.Example: col1 \u003e= 0 AND col2 \u003c 10"
    },
    "GoogleCloudDataplexV1TaskInfrastructureSpecContainerImageRuntime": {
      "type": "object",
      "id": "GoogleCloudDataplexV1TaskInfrastructureSpecContainerImageRuntime",
      "properties": {
        "image": {
          "description": "Optional. Container image to use.",
          "type": "string"
        },
        "pythonPackages": {
          "type": "array",
          "description": "Optional. A list of python packages to be installed. Valid formats include Cloud Storage URI to a PIP installable library. For example, gs://bucket-name/my/path/to/lib.tar.gz",
          "items": {
            "type": "string"
          }
        },
        "properties": {
          "description": "Optional. Override to common configuration of open source components installed on the Dataproc cluster. The properties to set on daemon config files. Property keys are specified in prefix:property format, for example core:hadoop.tmp.dir. For more information, see Cluster properties (https://cloud.google.com/dataproc/docs/concepts/cluster-properties).",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "javaJars": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of Java JARS to add to the classpath. Valid input includes Cloud Storage URIs to Jar binaries. For example, gs://bucket-name/my/path/to/file.jar"
        }
      },
      "description": "Container Image Runtime Configuration used with Batch execution."
    },
    "GoogleCloudDataplexV1AssetDiscoveryStatus": {
      "id": "GoogleCloudDataplexV1AssetDiscoveryStatus",
      "description": "Status of discovery for an asset.",
      "type": "object",
      "properties": {
        "lastRunDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "The duration of the last discovery run."
        },
        "lastRunTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The start time of the last discovery run."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "SCHEDULED",
            "IN_PROGRESS",
            "PAUSED",
            "DISABLED"
          ],
          "description": "The current status of the discovery feature.",
          "enumDescriptions": [
            "State is unspecified.",
            "Discovery for the asset is scheduled.",
            "Discovery for the asset is running.",
            "Discovery for the asset is currently paused (e.g. due to a lack of available resources). It will be automatically resumed.",
            "Discovery for the asset is disabled."
          ]
        },
        "message": {
          "description": "Additional information about the current state.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last update time of the status."
        },
        "stats": {
          "description": "Data Stats of the asset reported by discovery.",
          "$ref": "GoogleCloudDataplexV1AssetDiscoveryStatusStats"
        }
      }
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "type": "object",
      "description": "Request message for TestIamPermissions method.",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of permissions to check for the resource. Permissions with wildcards (such as * or storage.*) are not allowed. For more information see IAM Overview (https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "id": "GoogleIamV1TestIamPermissionsRequest"
    },
    "GoogleLongrunningListOperationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "GoogleCloudDataplexV1DataScanExecutionSpec": {
      "id": "GoogleCloudDataplexV1DataScanExecutionSpec",
      "type": "object",
      "description": "DataScan execution settings.",
      "properties": {
        "trigger": {
          "$ref": "GoogleCloudDataplexV1Trigger",
          "description": "Optional. Spec related to how often and when a scan should be triggered.If not specified, the default is OnDemand, which means the scan will not run until the user calls RunDataScan API."
        },
        "field": {
          "type": "string",
          "description": "Immutable. The unnested field (of type Date or Timestamp) that contains values which monotonically increase over time.If not specified, a data scan will run for all data in the table."
        }
      }
    },
    "GoogleCloudDataplexV1DataQualityResult": {
      "type": "object",
      "id": "GoogleCloudDataplexV1DataQualityResult",
      "properties": {
        "rowCount": {
          "format": "int64",
          "type": "string",
          "description": "The count of rows processed."
        },
        "dimensions": {
          "type": "array",
          "description": "A list of results at the dimension level.",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataQualityDimensionResult"
          }
        },
        "passed": {
          "description": "Overall data quality result -- true if all rules passed.",
          "type": "boolean"
        },
        "scannedData": {
          "$ref": "GoogleCloudDataplexV1ScannedData",
          "description": "The data scanned for this result."
        },
[...]
