{
  "ownerDomain": "google.com",
  "protocol": "rest",
  "title": "Dataflow API",
  "revision": "20220812",
  "canonicalName": "Dataflow",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "dataflow",
  "servicePath": "",
  "mtlsRootUrl": "https://dataflow.mtls.googleapis.com/",
  "ownerName": "Google",
  "basePath": "",
  "schemas": {
    "LaunchTemplateParameters": {
      "description": "Parameters to provide to the template being launched. Note that the [metadata in the pipeline code] (https://cloud.google.com/dataflow/docs/guides/templates/creating-templates#metadata) determines which runtime parameters are valid.",
      "properties": {
        "update": {
          "type": "boolean",
          "description": "If set, replace the existing pipeline with the name specified by jobName with this pipeline, preserving state."
        },
        "transformNameMapping": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Only applicable when updating a pipeline. Map of transform name prefixes of the job to be replaced to the corresponding name prefixes of the new job.",
          "type": "object"
        },
        "jobName": {
          "description": "Required. The job name to use for the created job. The name must match the regular expression `[a-z]([-a-z0-9]{0,1022}[a-z0-9])?`",
          "type": "string"
        },
        "environment": {
          "$ref": "RuntimeEnvironment",
          "description": "The runtime environment for the job."
        },
        "parameters": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The runtime parameters to pass to the job.",
          "type": "object"
        }
      },
      "type": "object",
      "id": "LaunchTemplateParameters"
    },
    "SpannerIODetails": {
      "type": "object",
      "id": "SpannerIODetails",
      "properties": {
        "databaseId": {
          "type": "string",
          "description": "DatabaseId accessed in the connection."
        },
        "instanceId": {
          "type": "string",
          "description": "InstanceId accessed in the connection."
        },
        "projectId": {
          "type": "string",
          "description": "ProjectId accessed in the connection."
        }
      },
      "description": "Metadata for a Spanner connector used by the job."
    },
    "StreamingStageLocation": {
      "id": "StreamingStageLocation",
      "properties": {
        "streamId": {
          "type": "string",
          "description": "Identifies the particular stream within the streaming Dataflow job."
        }
      },
      "description": "Identifies the location of a streaming computation stage, for stage-to-stage communication.",
      "type": "object"
    },
    "WorkItemDetails": {
      "description": "Information about an individual work item execution.",
      "id": "WorkItemDetails",
      "type": "object",
      "properties": {
        "stragglerInfo": {
          "description": "Information about straggler detections for this work item.",
          "$ref": "StragglerInfo"
        },
        "state": {
          "enum": [
            "EXECUTION_STATE_UNKNOWN",
            "EXECUTION_STATE_NOT_STARTED",
            "EXECUTION_STATE_RUNNING",
            "EXECUTION_STATE_SUCCEEDED",
            "EXECUTION_STATE_FAILED",
            "EXECUTION_STATE_CANCELLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The component state is unknown or unspecified.",
            "The component is not yet running.",
            "The component is currently running.",
            "The component succeeded.",
            "The component failed.",
            "Execution of the component was cancelled."
          ],
          "description": "State of this work item."
        },
        "metrics": {
          "type": "array",
          "description": "Metrics for this work item.",
          "items": {
            "$ref": "MetricUpdate"
          }
        },
        "progress": {
          "description": "Progress of this work item.",
          "$ref": "ProgressTimeseries"
        },
        "endTime": {
          "description": "End time of this work item attempt. If the work item is completed, this is the actual end time of the work item. Otherwise, it is the predicted end time.",
          "type": "string",
          "format": "google-datetime"
        },
        "attemptId": {
          "type": "string",
          "description": "Attempt ID of this work item"
        },
        "taskId": {
          "description": "Name of this work item.",
          "type": "string"
        },
        "startTime": {
          "description": "Start time of this work item attempt.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "SdkVersion": {
      "properties": {
        "versionDisplayName": {
          "type": "string",
          "description": "A readable string describing the version of the SDK."
        },
        "sdkSupportStatus": {
          "description": "The support status for this SDK version.",
          "enumDescriptions": [
            "Cloud Dataflow is unaware of this version.",
            "This is a known version of an SDK, and is supported.",
            "A newer version of the SDK family exists, and an update is recommended.",
            "This version of the SDK is deprecated and will eventually be unsupported.",
            "Support for this SDK version has ended and it should no longer be used."
          ],
          "enum": [
            "UNKNOWN",
            "SUPPORTED",
            "STALE",
            "DEPRECATED",
            "UNSUPPORTED"
          ],
          "type": "string"
        },
        "version": {
          "description": "The version of the SDK used to run the job.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SdkVersion",
      "description": "The version of the SDK used to run the job."
    },
    "DistributionUpdate": {
      "properties": {
        "sum": {
          "description": "Use an int64 since we'd prefer the added precision. If overflow is a common problem we can detect it and use an additional int64 or a double.",
          "$ref": "SplitInt64"
        },
        "sumOfSquares": {
          "type": "number",
          "format": "double",
          "description": "Use a double since the sum of squares is likely to overflow int64."
        },
        "count": {
          "description": "The count of the number of elements present in the distribution.",
          "$ref": "SplitInt64"
        },
        "min": {
          "description": "The minimum value present in the distribution.",
          "$ref": "SplitInt64"
        },
        "histogram": {
          "$ref": "Histogram",
          "description": "(Optional) Histogram of value counts for the distribution."
        },
        "max": {
          "$ref": "SplitInt64",
          "description": "The maximum value present in the distribution."
        }
      },
      "type": "object",
      "id": "DistributionUpdate",
      "description": "A metric value representing a distribution."
    },
    "SendDebugCaptureResponse": {
      "description": "Response to a send capture request. nothing",
      "id": "SendDebugCaptureResponse",
      "type": "object",
      "properties": {}
    },
    "StreamingConfigTask": {
      "properties": {
        "streamingComputationConfigs": {
          "items": {
            "$ref": "StreamingComputationConfig"
          },
          "type": "array",
          "description": "Set of computation configuration information."
        },
        "windmillServiceEndpoint": {
          "description": "If present, the worker must use this endpoint to communicate with Windmill Service dispatchers, otherwise the worker must continue to use whatever endpoint it had been using.",
          "type": "string"
        },
        "getDataStreamChunkSizeBytes": {
          "description": "Chunk size for get data streams from the harness to windmill.",
          "format": "int64",
          "type": "string"
        },
        "userStepToStateFamilyNameMap": {
          "description": "Map from user step names to state families.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "maxWorkItemCommitBytes": {
          "type": "string",
          "format": "int64",
          "description": "Maximum size for work item commit supported windmill storage layer."
        },
        "commitStreamChunkSizeBytes": {
          "description": "Chunk size for commit streams from the harness to windmill.",
          "type": "string",
          "format": "int64"
        },
        "windmillServicePort": {
          "format": "int64",
          "type": "string",
          "description": "If present, the worker must use this port to communicate with Windmill Service dispatchers. Only applicable when windmill_service_endpoint is specified."
        }
      },
      "description": "A task that carries configuration information for streaming computations.",
      "id": "StreamingConfigTask",
      "type": "object"
    },
    "SourceMetadata": {
      "id": "SourceMetadata",
      "properties": {
        "producesSortedKeys": {
          "description": "Whether this source is known to produce key/value pairs with the (encoded) keys in lexicographically sorted order.",
          "type": "boolean"
        },
        "infinite": {
          "type": "boolean",
          "description": "Specifies that the size of this source is known to be infinite (this is a streaming source)."
        },
        "estimatedSizeBytes": {
          "description": "An estimate of the total size (in bytes) of the data that would be read from this source. This estimate is in terms of external storage size, before any decompression or other processing done by the reader.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Metadata about a Source useful for automatically optimizing and tuning the pipeline, etc.",
      "type": "object"
    },
    "WorkerShutdownNotice": {
      "properties": {
        "reason": {
          "description": "The reason for the worker shutdown. Current possible values are: \"UNKNOWN\": shutdown reason is unknown. \"PREEMPTION\": shutdown reason is preemption. Other possible reasons may be added in the future.",
          "type": "string"
        }
      },
      "id": "WorkerShutdownNotice",
      "description": "Shutdown notification from workers. This is to be sent by the shutdown script of the worker VM so that the backend knows that the VM is being shut down.",
      "type": "object"
    },
    "ApproximateProgress": {
      "type": "object",
      "description": "Obsolete in favor of ApproximateReportedProgress and ApproximateSplitRequest.",
      "properties": {
        "percentComplete": {
          "description": "Obsolete.",
          "format": "float",
          "type": "number"
        },
        "remainingTime": {
          "description": "Obsolete.",
          "type": "string",
          "format": "google-duration"
        },
        "position": {
          "description": "Obsolete.",
          "$ref": "Position"
        }
      },
      "id": "ApproximateProgress"
    },
    "SourceOperationRequest": {
      "properties": {
        "split": {
          "description": "Information about a request to split a source.",
          "$ref": "SourceSplitRequest"
        },
        "name": {
          "description": "User-provided name of the Read instruction for this source.",
          "type": "string"
        },
        "getMetadata": {
          "description": "Information about a request to get metadata about a source.",
          "$ref": "SourceGetMetadataRequest"
        },
        "originalName": {
          "type": "string",
          "description": "System-defined name for the Read instruction for this source in the original workflow graph."
        },
        "stageName": {
          "description": "System-defined name of the stage containing the source operation. Unique across the workflow.",
          "type": "string"
        },
        "systemName": {
          "description": "System-defined name of the Read instruction for this source. Unique across the workflow.",
          "type": "string"
        }
      },
      "description": "A work item that represents the different operations that can be performed on a user-defined Source specification.",
      "type": "object",
      "id": "SourceOperationRequest"
    },
    "ComponentTransform": {
      "description": "Description of a transform executed as part of an execution stage.",
      "id": "ComponentTransform",
      "type": "object",
      "properties": {
        "originalTransform": {
          "type": "string",
          "description": "User name for the original user transform with which this transform is most closely associated."
        },
        "name": {
          "description": "Dataflow service generated name for this source.",
          "type": "string"
        },
        "userName": {
          "description": "Human-readable name for this transform; may be user or system generated.",
          "type": "string"
        }
      }
    },
    "StragglerInfo": {
      "description": "Information useful for straggler identification and debugging.",
      "type": "object",
      "id": "StragglerInfo",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the work item attempt became a straggler."
        },
        "causes": {
          "additionalProperties": {
            "$ref": "StragglerDebuggingInfo"
          },
          "description": "The straggler causes, keyed by the string representation of the StragglerCause enum and contains specialized debugging information for each straggler cause.",
          "type": "object"
        }
      }
    },
    "ContainerSpec": {
      "description": "Container Spec.",
      "id": "ContainerSpec",
      "properties": {
        "metadata": {
          "$ref": "TemplateMetadata",
          "description": "Metadata describing a template including description and validation rules."
        },
        "image": {
          "type": "string",
          "description": "Name of the docker container image. E.g., gcr.io/project/some-image"
        },
        "imageRepositoryPasswordSecretId": {
          "description": "Secret Manager secret id for password to authenticate to private registry.",
          "type": "string"
        },
        "defaultEnvironment": {
          "description": "Default runtime environment for the job.",
          "$ref": "FlexTemplateRuntimeEnvironment"
        },
        "sdkInfo": {
          "$ref": "SDKInfo",
          "description": "Required. SDK info of the Flex Template."
        },
        "imageRepositoryCertPath": {
          "description": "Cloud Storage path to self-signed certificate of private registry.",
          "type": "string"
        },
        "imageRepositoryUsernameSecretId": {
          "description": "Secret Manager secret id for username to authenticate to private registry.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "JobMetrics": {
      "id": "JobMetrics",
      "description": "JobMetrics contains a collection of metrics describing the detailed progress of a Dataflow job. Metrics correspond to user-defined and system-defined metrics in the job. This resource captures only the most recent values of each metric; time-series data can be queried for them (under the same metric names) from Cloud Monitoring.",
      "properties": {
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "MetricUpdate"
          },
          "description": "All metrics for this job."
        },
        "metricTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp as of which metric values are current."
        }
      },
      "type": "object"
    },
    "Source": {
      "id": "Source",
      "properties": {
        "codec": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The codec to use to decode data read from the source."
        },
        "baseSpecs": {
          "description": "While splitting, sources may specify the produced bundles as differences against another source, in order to save backend-side memory and allow bigger jobs. For details, see SourceSplitRequest. To support this use case, the full set of parameters of the source is logically obtained by taking the latest explicitly specified value of each parameter in the order: base_specs (later items win), spec (overrides anything in base_specs).",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          }
        },
        "doesNotNeedSplitting": {
          "type": "boolean",
          "description": "Setting this value to true hints to the framework that the source doesn't need splitting, and using SourceSplitRequest on it would yield SOURCE_SPLIT_OUTCOME_USE_CURRENT. E.g. a file splitter may set this to true when splitting a single file into a set of byte ranges of appropriate size, and set this to false when splitting a filepattern into individual files. However, for efficiency, a file splitter may decide to produce file subranges directly from the filepattern to avoid a splitting round-trip. See SourceSplitRequest for an overview of the splitting process. This field is meaningful only in the Source objects populated by the user (e.g. when filling in a DerivedSource). Source objects supplied by the framework to the user don't have this field populated."
        },
        "metadata": {
          "$ref": "SourceMetadata",
          "description": "Optionally, metadata for this source can be supplied right away, avoiding a SourceGetMetadataOperation roundtrip (see SourceOperationRequest). This field is meaningful only in the Source objects populated by the user (e.g. when filling in a DerivedSource). Source objects supplied by the framework to the user don't have this field populated."
        },
        "spec": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The source to read from, plus its parameters."
        }
      },
      "description": "A source that records can be read and decoded from.",
      "type": "object"
    },
    "Step": {
      "description": "Defines a particular step within a Cloud Dataflow job. A job consists of multiple steps, each of which performs some specific operation as part of the overall job. Data is typically passed from one step to another as part of the job. Here's an example of a sequence of steps which together implement a Map-Reduce job: * Read a collection of data from some source, parsing the collection's elements. * Validate the elements. * Apply a user-defined function to map each element to some value and extract an element-specific key value. * Group elements with the same key into a single element with that key, transforming a multiply-keyed collection into a uniquely-keyed collection. * Write the elements out to some data sink. Note that the Cloud Dataflow service may be used to run many different types of jobs, not just Map-Reduce.",
      "id": "Step",
      "type": "object",
      "properties": {
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Named properties associated with the step. Each kind of predefined step has its own required set of properties. Must be provided on Create. Only retrieved with JOB_VIEW_ALL."
        },
        "kind": {
          "type": "string",
          "description": "The kind of step in the Cloud Dataflow job."
        },
        "name": {
          "description": "The name that identifies the step. This must be unique for each step with respect to all other steps in the Cloud Dataflow job.",
          "type": "string"
        }
      }
    },
    "TemplateMetadata": {
      "id": "TemplateMetadata",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name of the template.",
          "type": "string"
        },
        "description": {
          "description": "Optional. A description of the template.",
          "type": "string"
        },
        "parameters": {
          "items": {
            "$ref": "ParameterMetadata"
          },
          "description": "The parameters for the template.",
          "type": "array"
        }
      },
      "description": "Metadata describing a template."
    },
    "FileIODetails": {
      "type": "object",
      "properties": {
        "filePattern": {
          "type": "string",
          "description": "File Pattern used to access files by the connector."
        }
      },
      "id": "FileIODetails",
      "description": "Metadata for a File connector used by the job."
    },
    "RuntimeEnvironment": {
      "id": "RuntimeEnvironment",
      "type": "object",
      "description": "The environment values to set at runtime.",
      "properties": {
        "maxWorkers": {
          "description": "The maximum number of Google Compute Engine instances to be made available to your pipeline during execution, from 1 to 1000.",
          "type": "integer",
          "format": "int32"
        },
        "ipConfiguration": {
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ],
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ],
          "type": "string",
          "description": "Configuration for VM IPs."
        },
        "network": {
          "description": "Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\".",
          "type": "string"
        },
        "workerRegion": {
          "description": "The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, default to the control plane's region.",
          "type": "string"
        },
        "machineType": {
          "description": "The machine type to use for the job. Defaults to the value from the template if not specified.",
          "type": "string"
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "The email address of the service account to run the job as."
        },
        "additionalUserLabels": {
          "description": "Additional user labels to be specified for the job. Keys and values should follow the restrictions specified in the [labeling restrictions](https://cloud.google.com/compute/docs/labeling-resources#restrictions) page. An object containing a list of \"key\": value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1kg\", \"count\": \"3\" }.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "workerZone": {
          "type": "string",
          "description": "The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity. If both `worker_zone` and `zone` are set, `worker_zone` takes precedence."
        },
        "bypassTempDirValidation": {
          "description": "Whether to bypass the safety checks for the job's temporary directory. Use with caution.",
          "type": "boolean"
        },
        "additionalExperiments": {
          "items": {
            "type": "string"
          },
          "description": "Additional experiment flags for the job, specified with the `--experiments` option.",
          "type": "array"
        },
        "numWorkers": {
          "type": "integer",
          "description": "The initial number of Google Compute Engine instances for the job.",
          "format": "int32"
        },
        "enableStreamingEngine": {
          "description": "Whether to enable Streaming Engine for the job.",
          "type": "boolean"
        },
        "tempLocation": {
          "type": "string",
          "description": "The Cloud Storage path to use for temporary files. Must be a valid Cloud Storage URL, beginning with `gs://`."
        },
        "zone": {
          "description": "The Compute Engine [availability zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones) for launching worker instances to run your pipeline. In the future, worker_zone will take precedence.",
          "type": "string"
        },
        "subnetwork": {
          "type": "string",
          "description": "Subnetwork to which VMs will be assigned, if desired. You can specify a subnetwork using either a complete URL or an abbreviated path. Expected to be of the form \"https://www.googleapis.com/compute/v1/projects/HOST_PROJECT_ID/regions/REGION/subnetworks/SUBNETWORK\" or \"regions/REGION/subnetworks/SUBNETWORK\". If the subnetwork is located in a Shared VPC network, you must use the complete URL."
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Name for the Cloud KMS key for the job. Key format is: projects//locations//keyRings//cryptoKeys/"
        }
      }
    },
    "LaunchFlexTemplateRequest": {
      "description": "A request to launch a Cloud Dataflow job from a FlexTemplate.",
      "type": "object",
      "id": "LaunchFlexTemplateRequest",
      "properties": {
        "launchParameter": {
          "description": "Required. Parameter to launch a job form Flex Template.",
          "$ref": "LaunchFlexTemplateParameter"
        },
        "validateOnly": {
          "type": "boolean",
          "description": "If true, the request is validated but not actually executed. Defaults to false."
        }
      }
    },
    "ResourceUtilizationReport": {
      "type": "object",
      "id": "ResourceUtilizationReport",
      "description": "Worker metrics exported from workers. This contains resource utilization metrics accumulated from a variety of sources. For more information, see go/df-resource-signals.",
      "properties": {
        "memoryInfo": {
          "items": {
            "$ref": "MemInfo"
          },
          "type": "array",
          "description": "Memory utilization samples."
        },
        "containers": {
          "description": "Per container information. Key: container name.",
          "additionalProperties": {
            "$ref": "ResourceUtilizationReport"
          },
          "type": "object"
        },
        "cpuTime": {
          "type": "array",
          "items": {
            "$ref": "CPUTime"
          },
          "description": "CPU utilization samples."
        }
      }
    },
    "ExecutionStageSummary": {
      "type": "object",
      "properties": {
        "inputSource": {
          "type": "array",
          "description": "Input sources for this stage.",
          "items": {
            "$ref": "StageSource"
          }
        },
        "componentSource": {
          "description": "Collections produced and consumed by component transforms of this stage.",
          "type": "array",
          "items": {
            "$ref": "ComponentSource"
          }
        },
        "outputSource": {
          "description": "Output sources for this stage.",
          "items": {
            "$ref": "StageSource"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Dataflow service generated name for this stage."
        },
        "componentTransform": {
          "description": "Transforms that comprise this execution stage.",
          "items": {
            "$ref": "ComponentTransform"
          },
          "type": "array"
        },
        "kind": {
          "enumDescriptions": [
            "Unrecognized transform type.",
            "ParDo transform.",
            "Group By Key transform.",
            "Flatten transform.",
            "Read transform.",
            "Write transform.",
            "Constructs from a constant value, such as with Create.of.",
            "Creates a Singleton view of a collection.",
            "Opening or closing a shuffle session, often as part of a GroupByKey."
          ],
          "enum": [
            "UNKNOWN_KIND",
            "PAR_DO_KIND",
            "GROUP_BY_KEY_KIND",
            "FLATTEN_KIND",
            "READ_KIND",
            "WRITE_KIND",
            "CONSTANT_KIND",
            "SINGLETON_KIND",
            "SHUFFLE_KIND"
          ],
          "description": "Type of transform this stage is executing.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Dataflow service generated id for this stage."
        },
        "prerequisiteStage": {
          "description": "Other stages that must complete before this stage can run.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Description of the composing transforms, names/ids, and input/outputs of a stage of execution. Some composing transforms and sources may have been generated by the Dataflow service during execution planning.",
      "id": "ExecutionStageSummary"
    },
    "BigTableIODetails": {
      "id": "BigTableIODetails",
      "type": "object",
      "description": "Metadata for a Cloud Bigtable connector used by the job.",
      "properties": {
        "instanceId": {
          "description": "InstanceId accessed in the connection.",
          "type": "string"
        },
        "projectId": {
          "description": "ProjectId accessed in the connection.",
          "type": "string"
        },
        "tableId": {
          "description": "TableId accessed in the connection.",
          "type": "string"
        }
      }
    },
    "WorkerMessageResponse": {
      "properties": {
        "workerHealthReportResponse": {
          "$ref": "WorkerHealthReportResponse",
          "description": "The service's response to a worker's health report."
        },
        "workerMetricsResponse": {
          "$ref": "ResourceUtilizationReportResponse",
          "description": "Service's response to reporting worker metrics (currently empty)."
        },
        "workerShutdownNoticeResponse": {
          "description": "Service's response to shutdown notice (currently empty).",
          "$ref": "WorkerShutdownNoticeResponse"
        }
      },
      "type": "object",
      "id": "WorkerMessageResponse",
      "description": "A worker_message response allows the server to pass information to the sender."
    },
    "ParallelInstruction": {
      "properties": {
        "flatten": {
          "$ref": "FlattenInstruction",
          "description": "Additional information for Flatten instructions."
        },
        "outputs": {
          "description": "Describes the outputs of the instruction.",
          "items": {
            "$ref": "InstructionOutput"
          },
          "type": "array"
        },
        "partialGroupByKey": {
          "$ref": "PartialGroupByKeyInstruction",
          "description": "Additional information for PartialGroupByKey instructions."
        },
        "systemName": {
          "type": "string",
          "description": "System-defined name of this operation. Unique across the workflow."
        },
        "parDo": {
          "$ref": "ParDoInstruction",
          "description": "Additional information for ParDo instructions."
        },
        "originalName": {
          "type": "string",
          "description": "System-defined name for the operation in the original workflow graph."
        },
        "write": {
          "description": "Additional information for Write instructions.",
          "$ref": "WriteInstruction"
        },
        "name": {
          "type": "string",
          "description": "User-provided name of this operation."
        },
        "read": {
          "$ref": "ReadInstruction",
          "description": "Additional information for Read instructions."
        }
      },
      "type": "object",
      "description": "Describes a particular operation comprising a MapTask.",
      "id": "ParallelInstruction"
    },
    "DebugOptions": {
      "id": "DebugOptions",
      "properties": {
        "enableHotKeyLogging": {
          "description": "When true, enables the logging of the literal hot key to the user's Cloud Logging.",
          "type": "boolean"
        }
      },
      "description": "Describes any options that have an effect on the debugging of pipelines.",
      "type": "object"
    },
    "PubSubIODetails": {
      "description": "Metadata for a Pub/Sub connector used by the job.",
      "type": "object",
      "properties": {
        "topic": {
          "description": "Topic accessed in the connection.",
          "type": "string"
        },
        "subscription": {
          "description": "Subscription used in the connection.",
          "type": "string"
        }
      },
      "id": "PubSubIODetails"
    },
    "SourceSplitShard": {
      "description": "DEPRECATED in favor of DerivedSource.",
      "type": "object",
      "properties": {
        "derivationMode": {
          "enumDescriptions": [
            "The source derivation is unknown, or unspecified.",
            "Produce a completely independent Source with no base.",
            "Produce a Source based on the Source being split.",
            "Produce a Source based on the base of the Source being split."
          ],
          "enum": [
            "SOURCE_DERIVATION_MODE_UNKNOWN",
            "SOURCE_DERIVATION_MODE_INDEPENDENT",
            "SOURCE_DERIVATION_MODE_CHILD_OF_CURRENT",
            "SOURCE_DERIVATION_MODE_SIBLING_OF_CURRENT"
          ],
          "description": "DEPRECATED",
          "type": "string"
        },
        "source": {
          "description": "DEPRECATED",
          "$ref": "Source"
        }
      },
      "id": "SourceSplitShard"
    },
    "ListJobsResponse": {
      "description": "Response to a request to list Cloud Dataflow jobs in a project. This might be a partial response, depending on the page size in the ListJobsRequest. However, if the project does not have any jobs, an instance of ListJobsResponse is not returned and the requests's response body is empty {}.",
      "id": "ListJobsResponse",
      "properties": {
        "failedLocation": {
          "type": "array",
          "items": {
            "$ref": "FailedLocation"
          },
          "description": "Zero or more messages describing the [regional endpoints] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that failed to respond."
        },
        "jobs": {
          "description": "A subset of the requested job information.",
          "items": {
            "$ref": "Job"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Set if there may be more results than fit in this response."
        }
      },
      "type": "object"
    },
    "Point": {
      "type": "object",
      "description": "A point in the timeseries.",
      "properties": {
        "time": {
          "description": "The timestamp of the point.",
          "type": "string",
          "format": "google-datetime"
        },
        "value": {
          "format": "double",
          "type": "number",
          "description": "The value of the point."
        }
      },
      "id": "Point"
    },
    "ShellTask": {
      "description": "A task which consists of a shell command for the worker to execute.",
      "type": "object",
      "properties": {
        "command": {
          "description": "The shell command to run.",
          "type": "string"
        },
        "exitCode": {
          "type": "integer",
          "format": "int32",
          "description": "Exit code for the task."
        }
      },
      "id": "ShellTask"
    },
    "SourceGetMetadataRequest": {
      "id": "SourceGetMetadataRequest",
      "properties": {
        "source": {
          "description": "Specification of the source whose metadata should be computed.",
          "$ref": "Source"
        }
      },
      "description": "A request to compute the SourceMetadata of a Source.",
      "type": "object"
    },
    "DatastoreIODetails": {
      "type": "object",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "ProjectId accessed in the connection."
        },
        "namespace": {
          "type": "string",
          "description": "Namespace used in the connection."
        }
      },
      "description": "Metadata for a Datastore connector used by the job.",
      "id": "DatastoreIODetails"
    },
    "SplitInt64": {
      "properties": {
        "highBits": {
          "description": "The high order bits, including the sign: n \u003e\u003e 32.",
          "format": "int32",
          "type": "integer"
        },
        "lowBits": {
          "description": "The low order bits: n & 0xffffffff.",
          "format": "uint32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "SplitInt64",
      "description": "A representation of an int64, n, that is immune to precision loss when encoded in JSON."
    },
    "ParDoInstruction": {
      "id": "ParDoInstruction",
      "type": "object",
      "properties": {
        "multiOutputInfos": {
          "type": "array",
          "description": "Information about each of the outputs, if user_fn is a MultiDoFn.",
          "items": {
            "$ref": "MultiOutputInfo"
          }
        },
        "userFn": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The user function to invoke."
        },
        "sideInputs": {
          "description": "Zero or more side inputs.",
          "items": {
            "$ref": "SideInputInfo"
          },
          "type": "array"
        },
        "numOutputs": {
          "format": "int32",
          "type": "integer",
          "description": "The number of outputs."
        },
        "input": {
          "description": "The input.",
          "$ref": "InstructionInput"
        }
      },
      "description": "An instruction that does a ParDo operation. Takes one main input and zero or more side inputs, and produces zero or more outputs. Runs user code."
    },
    "PipelineDescription": {
      "type": "object",
      "id": "PipelineDescription",
      "description": "A descriptive representation of submitted pipeline as well as the executed form. This data is provided by the Dataflow service for ease of visualizing the pipeline and interpreting Dataflow provided metrics.",
      "properties": {
        "originalPipelineTransform": {
          "type": "array",
          "description": "Description of each transform in the pipeline and collections between them.",
          "items": {
            "$ref": "TransformSummary"
          }
        },
        "executionPipelineStage": {
          "items": {
            "$ref": "ExecutionStageSummary"
          },
          "description": "Description of each stage of execution of the pipeline.",
          "type": "array"
        },
        "displayData": {
          "items": {
            "$ref": "DisplayData"
          },
          "description": "Pipeline level display data.",
          "type": "array"
        }
      }
    },
    "NameAndKind": {
      "description": "Basic metadata about a counter.",
      "type": "object",
      "properties": {
        "kind": {
          "enum": [
            "INVALID",
            "SUM",
            "MAX",
            "MIN",
            "MEAN",
            "OR",
            "AND",
            "SET",
            "DISTRIBUTION",
            "LATEST_VALUE"
          ],
          "enumDescriptions": [
            "Counter aggregation kind was not set.",
            "Aggregated value is the sum of all contributed values.",
            "Aggregated value is the max of all contributed values.",
            "Aggregated value is the min of all contributed values.",
            "Aggregated value is the mean of all contributed values.",
            "Aggregated value represents the logical 'or' of all contributed values.",
            "Aggregated value represents the logical 'and' of all contributed values.",
            "Aggregated value is a set of unique contributed values.",
            "Aggregated value captures statistics about a distribution.",
            "Aggregated value tracks the latest value of a variable."
          ],
          "type": "string",
          "description": "Counter aggregation kind."
        },
        "name": {
          "description": "Name of the counter.",
          "type": "string"
        }
      },
      "id": "NameAndKind"
    },
    "MemInfo": {
      "type": "object",
      "properties": {
        "currentLimitBytes": {
          "format": "uint64",
          "type": "string",
          "description": "Instantenous memory limit in bytes."
        },
        "currentOoms": {
          "format": "int64",
          "type": "string",
          "description": "Number of Out of Memory (OOM) events recorded since the previous measurement."
        },
        "currentRssBytes": {
          "format": "uint64",
          "type": "string",
          "description": "Instantenous memory (RSS) size in bytes."
        },
        "totalGbMs": {
          "type": "string",
          "format": "uint64",
          "description": "Total memory (RSS) usage since start up in GB * ms."
        },
        "timestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp of the measurement."
        }
      },
      "id": "MemInfo",
      "description": "Information about the memory usage of a worker or a container within a worker."
    },
    "SourceSplitOptions": {
      "properties": {
        "desiredShardSizeBytes": {
          "description": "DEPRECATED in favor of desired_bundle_size_bytes.",
          "format": "int64",
          "type": "string"
        },
        "desiredBundleSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "The source should be split into a set of bundles where the estimated size of each is approximately this many bytes."
        }
      },
      "description": "Hints for splitting a Source into bundles (parts for parallel processing) using SourceSplitRequest.",
      "id": "SourceSplitOptions",
      "type": "object"
    },
    "CPUTime": {
      "description": "Modeled after information exposed by /proc/stat.",
      "id": "CPUTime",
      "properties": {
        "totalMs": {
          "format": "uint64",
          "type": "string",
          "description": "Total active CPU time across all cores (ie., non-idle) in milliseconds since start-up."
        },
        "timestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp of the measurement."
        },
        "rate": {
          "type": "number",
          "format": "double",
          "description": "Average CPU utilization rate (% non-idle cpu / second) since previous sample."
        }
      },
      "type": "object"
    },
    "CounterUpdate": {
      "type": "object",
      "id": "CounterUpdate",
      "properties": {
        "integerGauge": {
          "description": "Gauge data",
          "$ref": "IntegerGauge"
        },
        "integerList": {
          "description": "List of integers, for Set.",
          "$ref": "IntegerList"
        },
        "integerMean": {
          "description": "Integer mean aggregation value for Mean.",
          "$ref": "IntegerMean"
        },
        "cumulative": {
          "description": "True if this counter is reported as the total cumulative aggregate value accumulated since the worker started working on this WorkItem. By default this is false, indicating that this counter is reported as a delta.",
          "type": "boolean"
        },
        "floatingPointList": {
          "$ref": "FloatingPointList",
          "description": "List of floating point numbers, for Set."
        },
        "boolean": {
          "type": "boolean",
          "description": "Boolean value for And, Or."
        },
        "nameAndKind": {
          "description": "Counter name and aggregation type.",
          "$ref": "NameAndKind"
        },
        "internal": {
          "description": "Value for internally-defined counters used by the Dataflow service.",
          "type": "any"
        },
        "integer": {
          "$ref": "SplitInt64",
          "description": "Integer value for Sum, Max, Min."
        },
        "shortId": {
          "format": "int64",
          "description": "The service-generated short identifier for this counter. The short_id -\u003e (name, metadata) mapping is constant for the lifetime of a job.",
          "type": "string"
        },
        "structuredNameAndMetadata": {
          "description": "Counter structured name and metadata.",
          "$ref": "CounterStructuredNameAndMetadata"
        },
        "floatingPoint": {
          "format": "double",
          "type": "number",
          "description": "Floating point value for Sum, Max, Min."
        },
        "stringList": {
          "$ref": "StringList",
          "description": "List of strings, for Set."
        },
        "floatingPointMean": {
          "$ref": "FloatingPointMean",
          "description": "Floating point mean aggregation value for Mean."
        },
        "distribution": {
          "$ref": "DistributionUpdate",
          "description": "Distribution data"
        }
      },
      "description": "An update to a Counter sent from a worker."
    },
    "ParameterMetadata": {
      "description": "Metadata for a specific parameter.",
      "id": "ParameterMetadata",
      "properties": {
        "paramType": {
          "enumDescriptions": [
            "Default input type.",
            "The parameter specifies generic text input.",
            "The parameter specifies a Cloud Storage Bucket to read from.",
            "The parameter specifies a Cloud Storage Bucket to write to.",
            "The parameter specifies a Cloud Storage file path to read from.",
            "The parameter specifies a Cloud Storage file path to write to.",
            "The parameter specifies a Cloud Storage folder path to read from.",
            "The parameter specifies a Cloud Storage folder to write to.",
            "The parameter specifies a Pub/Sub Topic.",
            "The parameter specifies a Pub/Sub Subscription."
          ],
          "description": "Optional. The type of the parameter. Used for selecting input picker.",
          "enum": [
            "DEFAULT",
            "TEXT",
            "GCS_READ_BUCKET",
            "GCS_WRITE_BUCKET",
            "GCS_READ_FILE",
            "GCS_WRITE_FILE",
            "GCS_READ_FOLDER",
            "GCS_WRITE_FOLDER",
            "PUBSUB_TOPIC",
            "PUBSUB_SUBSCRIPTION"
          ],
          "type": "string"
        },
        "customMetadata": {
          "description": "Optional. Additional metadata for describing this parameter.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "regexes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Regexes that the parameter must match."
        },
        "isOptional": {
          "type": "boolean",
          "description": "Optional. Whether the parameter is optional. Defaults to false."
        },
        "label": {
          "description": "Required. The label to display for the parameter.",
          "type": "string"
        },
        "helpText": {
          "description": "Required. The help text to display for the parameter.",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the parameter.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DeleteSnapshotResponse": {
      "description": "Response from deleting a snapshot.",
      "id": "DeleteSnapshotResponse",
      "properties": {},
      "type": "object"
    },
    "SourceSplitResponse": {
      "description": "The response to a SourceSplitRequest.",
      "type": "object",
      "properties": {
        "shards": {
          "description": "DEPRECATED in favor of bundles.",
          "items": {
            "$ref": "SourceSplitShard"
          },
          "type": "array"
        },
        "outcome": {
          "description": "Indicates whether splitting happened and produced a list of bundles. If this is USE_CURRENT_SOURCE_AS_IS, the current source should be processed \"as is\" without splitting. \"bundles\" is ignored in this case. If this is SPLITTING_HAPPENED, then \"bundles\" contains a list of bundles into which the source was split.",
          "type": "string",
          "enumDescriptions": [
            "The source split outcome is unknown, or unspecified.",
            "The current source should be processed \"as is\" without splitting.",
            "Splitting produced a list of bundles."
          ],
          "enum": [
            "SOURCE_SPLIT_OUTCOME_UNKNOWN",
            "SOURCE_SPLIT_OUTCOME_USE_CURRENT",
            "SOURCE_SPLIT_OUTCOME_SPLITTING_HAPPENED"
          ]
        },
        "bundles": {
          "items": {
            "$ref": "DerivedSource"
          },
          "description": "If outcome is SPLITTING_HAPPENED, then this is a list of bundles into which the source was split. Otherwise this field is ignored. This list can be empty, which means the source represents an empty input.",
          "type": "array"
        }
      },
      "id": "SourceSplitResponse"
    },
    "DataDiskAssignment": {
      "description": "Data disk assignment for a given VM instance.",
      "properties": {
        "dataDisks": {
          "description": "Mounted data disks. The order is important a data disk's 0-based index in this list defines which persistent directory the disk is mounted to, for example the list of { \"myproject-1014-104817-4c2-harness-0-disk-0\" }, { \"myproject-1014-104817-4c2-harness-0-disk-1\" }.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "vmInstance": {
          "description": "VM instance name the data disks mounted to, for example \"myproject-1014-104817-4c2-harness-0\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DataDiskAssignment"
    },
    "WorkerHealthReport": {
      "id": "WorkerHealthReport",
      "type": "object",
      "description": "WorkerHealthReport contains information about the health of a worker. The VM should be identified by the labels attached to the WorkerMessage that this health ping belongs to.",
      "properties": {
        "reportInterval": {
          "type": "string",
          "description": "The interval at which the worker is sending health reports. The default value of 0 should be interpreted as the field is not being explicitly set by the worker.",
          "format": "google-duration"
        },
        "vmBrokenCode": {
          "description": "Code to describe a specific reason, if known, that a VM has reported broken state.",
          "type": "string"
        },
        "pods": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            },
            "type": "object"
          },
          "description": "The pods running on the worker. See: http://kubernetes.io/v1.1/docs/api-reference/v1/definitions.html#_v1_pod This field is used by the worker to send the status of the indvidual containers running on each worker."
        },
        "vmIsBroken": {
          "description": "Whether the VM is in a permanently broken state. Broken VMs should be abandoned or deleted ASAP to avoid assigning or completing any work.",
          "type": "boolean"
        },
        "msg": {
          "type": "string",
          "description": "Message describing any unusual health reports."
        },
        "vmStartupTime": {
          "description": "The time the VM was booted.",
          "format": "google-datetime",
          "type": "string"
        },
        "vmIsHealthy": {
          "type": "boolean",
          "description": "Whether the VM is currently healthy."
        }
      }
    },
    "StringList": {
      "properties": {
        "elements": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Elements of the list."
        }
      },
      "type": "object",
      "id": "StringList",
      "description": "A metric value representing a list of strings."
    },
    "QueryInfo": {
      "id": "QueryInfo",
      "type": "object",
      "description": "Information about a validated query.",
      "properties": {
        "queryProperty": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "The query property is unknown or unspecified.",
              "Indicates this query reads from \u003e= 1 unbounded source."
            ],
            "type": "string",
            "enum": [
              "QUERY_PROPERTY_UNSPECIFIED",
              "HAS_UNBOUNDED_SOURCE"
            ]
          },
          "description": "Includes an entry for each satisfied QueryProperty."
        }
      }
    },
    "Package": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the package."
        },
        "location": {
          "type": "string",
          "description": "The resource to read the package from. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket} bucket.storage.googleapis.com/"
        }
      },
      "id": "Package",
      "type": "object",
      "description": "The packages that must be installed in order for a worker to run the steps of the Cloud Dataflow job that will be assigned to its worker pool. This is the mechanism by which the Cloud Dataflow SDK causes code to be loaded onto the workers. For example, the Cloud Dataflow Java SDK might use this to install jars containing the user's code and all of the various dependencies (libraries, data files, etc.) required in order for that code to run."
    },
    "MountedDataDisk": {
      "description": "Describes mounted data disk.",
      "id": "MountedDataDisk",
      "properties": {
        "dataDisk": {
          "description": "The name of the data disk. This name is local to the Google Cloud Platform project and uniquely identifies the disk within that project, for example \"myproject-1014-104817-4c2-harness-0-disk-1\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "StreamLocation": {
      "properties": {
        "streamingStageLocation": {
          "$ref": "StreamingStageLocation",
          "description": "The stream is part of another computation within the current streaming Dataflow job."
        },
        "customSourceLocation": {
          "$ref": "CustomSourceLocation",
          "description": "The stream is a custom source."
        },
        "pubsubLocation": {
          "$ref": "PubsubLocation",
          "description": "The stream is a pubsub stream."
        },
        "sideInputLocation": {
          "description": "The stream is a streaming side input.",
          "$ref": "StreamingSideInputLocation"
        }
      },
      "description": "Describes a stream of data, either as input to be processed or as output of a streaming Dataflow job.",
      "type": "object",
      "id": "StreamLocation"
    },
    "SendWorkerMessagesRequest": {
      "id": "SendWorkerMessagesRequest",
      "type": "object",
      "description": "A request for sending worker messages to the service.",
      "properties": {
        "workerMessages": {
          "description": "The WorkerMessages to send.",
          "type": "array",
          "items": {
            "$ref": "WorkerMessage"
          }
        },
        "location": {
          "type": "string",
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job."
        }
      }
    },
    "StageSource": {
      "description": "Description of an input or output of an execution stage.",
      "type": "object",
      "properties": {
        "originalTransformOrCollection": {
          "description": "User name for the original user transform or collection with which this source is most closely associated.",
          "type": "string"
        },
        "sizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Size of the source, if measurable."
        },
        "name": {
          "type": "string",
          "description": "Dataflow service generated name for this source."
        },
        "userName": {
          "description": "Human-readable name for this source; may be user or system generated.",
          "type": "string"
        }
      },
      "id": "StageSource"
    },
    "FloatingPointList": {
      "description": "A metric value representing a list of floating point numbers.",
      "type": "object",
      "properties": {
        "elements": {
          "description": "Elements of the list.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "id": "FloatingPointList"
    },
    "ReadInstruction": {
      "properties": {
        "source": {
          "description": "The source to read from.",
          "$ref": "Source"
        }
      },
      "id": "ReadInstruction",
      "type": "object",
      "description": "An instruction that reads records. Takes no inputs, produces one output."
    },
    "IntegerList": {
      "type": "object",
      "id": "IntegerList",
      "description": "A metric value representing a list of integers.",
      "properties": {
        "elements": {
          "items": {
            "$ref": "SplitInt64"
          },
          "description": "Elements of the list.",
          "type": "array"
        }
      }
    },
    "WorkerLifecycleEvent": {
      "description": "A report of an event in a worker's lifecycle. The proto contains one event, because the worker is expected to asynchronously send each message immediately after the event. Due to this asynchrony, messages may arrive out of order (or missing), and it is up to the consumer to interpret. The timestamp of the event is in the enclosing WorkerMessage proto.",
      "id": "WorkerLifecycleEvent",
      "properties": {
        "containerStartTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The start time of this container. All events will report this so that events can be grouped together across container/VM restarts."
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Other stats that can accompany an event. E.g. { \"downloaded_bytes\" : \"123456\" }",
          "type": "object"
        },
        "event": {
          "enum": [
            "UNKNOWN_EVENT",
            "OS_START",
            "CONTAINER_START",
            "NETWORK_UP",
            "STAGING_FILES_DOWNLOAD_START",
            "STAGING_FILES_DOWNLOAD_FINISH",
            "SDK_INSTALL_START",
            "SDK_INSTALL_FINISH"
          ],
          "enumDescriptions": [
            "Invalid event.",
            "The time the VM started.",
            "Our container code starts running. Multiple containers could be distinguished with WorkerMessage.labels if desired.",
            "The worker has a functional external network connection.",
            "Started downloading staging files.",
            "Finished downloading all staging files.",
            "For applicable SDKs, started installation of SDK and worker packages.",
            "Finished installing SDK."
          ],
          "type": "string",
          "description": "The event being reported."
        }
      },
      "type": "object"
    },
    "MetricUpdate": {
      "id": "MetricUpdate",
      "description": "Describes the state of a metric.",
      "type": "object",
      "properties": {
        "name": {
          "$ref": "MetricStructuredName",
          "description": "Name of the metric."
        },
        "gauge": {
          "description": "A struct value describing properties of a Gauge. Metrics of gauge type show the value of a metric across time, and is aggregated based on the newest value.",
          "type": "any"
        },
        "meanSum": {
          "type": "any",
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the sum of the aggregated values and is used in combination with mean_count below to obtain the actual mean aggregate value. The only possible value types are Long and Double."
        },
        "internal": {
          "description": "Worker-computed aggregate value for internal use by the Dataflow service.",
          "type": "any"
        },
        "scalar": {
          "description": "Worker-computed aggregate value for aggregation kinds \"Sum\", \"Max\", \"Min\", \"And\", and \"Or\". The possible value types are Long, Double, and Boolean.",
          "type": "any"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp associated with the metric value. Optional when workers are reporting work progress; it will be filled in responses from the metrics API."
        },
        "distribution": {
          "description": "A struct value describing properties of a distribution of numeric values.",
          "type": "any"
        },
        "cumulative": {
          "type": "boolean",
          "description": "True if this metric is reported as the total cumulative aggregate value accumulated since the worker started working on this WorkItem. By default this is false, indicating that this metric is reported as a delta that is not associated with any WorkItem."
        },
        "meanCount": {
          "type": "any",
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the count of the aggregated values and is used in combination with mean_sum above to obtain the actual mean aggregate value. The only possible value type is Long."
        },
        "set": {
          "type": "any",
          "description": "Worker-computed aggregate value for the \"Set\" aggregation kind. The only possible value type is a list of Values whose type can be Long, Double, or String, according to the metric's type. All Values in the list must be of the same type."
        },
        "kind": {
          "description": "Metric aggregation kind. The possible metric aggregation kinds are \"Sum\", \"Max\", \"Min\", \"Mean\", \"Set\", \"And\", \"Or\", and \"Distribution\". The specified aggregation kind is case-insensitive. If omitted, this is not an aggregated value but instead a single metric sample value.",
          "type": "string"
        }
      }
    },
    "MultiOutputInfo": {
      "properties": {
        "tag": {
          "type": "string",
          "description": "The id of the tag the user code will emit to this output by; this should correspond to the tag of some SideInputInfo."
        }
      },
      "type": "object",
      "description": "Information about an output of a multi-output DoFn.",
      "id": "MultiOutputInfo"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Disk": {
      "description": "Describes the data disk used by a workflow job.",
      "type": "object",
      "properties": {
        "mountPoint": {
          "type": "string",
          "description": "Directory in a VM where disk is mounted."
        },
        "diskType": {
          "type": "string",
          "description": "Disk storage type, as defined by Google Compute Engine. This must be a disk type appropriate to the project and zone in which the workers will run. If unknown or unspecified, the service will attempt to choose a reasonable default. For example, the standard persistent disk type is a resource name typically ending in \"pd-standard\". If SSD persistent disks are available, the resource name typically ends with \"pd-ssd\". The actual valid values are defined the Google Compute Engine API, not by the Cloud Dataflow API; consult the Google Compute Engine documentation for more information about determining the set of available disk types for a particular project and zone. Google Compute Engine Disk types are local to a particular project in a particular zone, and so the resource name will typically look something like this: compute.googleapis.com/projects/project-id/zones/zone/diskTypes/pd-standard"
        },
        "sizeGb": {
          "type": "integer",
          "description": "Size of disk in GB. If zero or unspecified, the service will attempt to choose a reasonable default.",
          "format": "int32"
        }
      },
      "id": "Disk"
    },
    "ListJobMessagesResponse": {
      "type": "object",
      "description": "Response to a request to list job messages.",
      "id": "ListJobMessagesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token to obtain the next page of results if there are more."
        },
        "autoscalingEvents": {
          "type": "array",
          "items": {
            "$ref": "AutoscalingEvent"
          },
          "description": "Autoscaling events in ascending timestamp order."
        },
        "jobMessages": {
          "description": "Messages in ascending timestamp order.",
          "type": "array",
          "items": {
            "$ref": "JobMessage"
          }
        }
      }
    },
    "MetricStructuredName": {
      "id": "MetricStructuredName",
      "description": "Identifies a metric, by describing the source which generated the metric.",
      "properties": {
        "name": {
          "description": "Worker-defined metric name.",
          "type": "string"
        },
        "context": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Zero or more labeled fields which identify the part of the job this metric is associated with, such as the name of a step or collection. For example, built-in counters associated with steps will have context['step'] = . Counters associated with PCollections in the SDK will have context['pcollection'] = .",
          "type": "object"
        },
        "origin": {
          "type": "string",
          "description": "Origin (namespace) of metric name. May be blank for user-define metrics; will be \"dataflow\" for metrics defined by the Dataflow service or SDK."
        }
      },
      "type": "object"
    },
    "WorkerMessageCode": {
      "type": "object",
      "properties": {
        "code": {
          "description": "The code is a string intended for consumption by a machine that identifies the type of message being sent. Examples: 1. \"HARNESS_STARTED\" might be used to indicate the worker harness has started. 2. \"GCS_DOWNLOAD_ERROR\" might be used to indicate an error downloading a Cloud Storage file as part of the boot process of one of the worker containers. This is a string and not an enum to make it easy to add new codes without waiting for an API change.",
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Parameters contains specific information about the code. This is a struct to allow parameters of different types. Examples: 1. For a \"HARNESS_STARTED\" message parameters might provide the name of the worker and additional data like timing information. 2. For a \"GCS_DOWNLOAD_ERROR\" parameters might contain fields listing the Cloud Storage objects being downloaded and fields containing errors. In general complex data structures should be avoided. If a worker needs to send a specific and complicated data structure then please consider defining a new proto and adding it to the data oneof in WorkerMessageResponse. Conventions: Parameters should only be used for information that isn't typically passed as a label. hostname and other worker identifiers should almost always be passed as labels since they will be included on most messages.",
          "type": "object"
        }
      },
      "description": "A message code is used to report status and error messages to the service. The message codes are intended to be machine readable. The service will take care of translating these into user understandable messages if necessary. Example use cases: 1. Worker processes reporting successful startup. 2. Worker processes reporting specific errors (e.g. package staging failure).",
      "id": "WorkerMessageCode"
    },
    "PubsubSnapshotMetadata": {
      "id": "PubsubSnapshotMetadata",
      "type": "object",
      "description": "Represents a Pubsub snapshot.",
      "properties": {
        "expireTime": {
          "format": "google-datetime",
          "description": "The expire time of the Pubsub snapshot.",
          "type": "string"
        },
        "topicName": {
          "type": "string",
          "description": "The name of the Pubsub topic."
        },
        "snapshotName": {
          "description": "The name of the Pubsub snapshot.",
          "type": "string"
        }
      }
    },
    "StreamingSetupTask": {
      "id": "StreamingSetupTask",
      "type": "object",
      "description": "A task which initializes part of a streaming Dataflow job.",
      "properties": {
        "workerHarnessPort": {
          "type": "integer",
          "format": "int32",
          "description": "The TCP port used by the worker to communicate with the Dataflow worker harness."
        },
        "snapshotConfig": {
          "$ref": "StreamingApplianceSnapshotConfig",
          "description": "Configures streaming appliance snapshot."
        },
        "streamingComputationTopology": {
          "$ref": "TopologyConfig",
          "description": "The global topology of the streaming Dataflow job."
        },
        "receiveWorkPort": {
          "type": "integer",
          "format": "int32",
          "description": "The TCP port on which the worker should listen for messages from other streaming computation workers."
        },
        "drain": {
          "description": "The user has requested drain.",
          "type": "boolean"
        }
      }
    },
    "DerivedSource": {
      "description": "Specification of one of the bundles produced as a result of splitting a Source (e.g. when executing a SourceSplitRequest, or when splitting an active task using WorkItemStatus.dynamic_source_split), relative to the source being split.",
      "properties": {
        "source": {
          "$ref": "Source",
          "description": "Specification of the source."
        },
        "derivationMode": {
          "description": "What source to base the produced source on (if any).",
          "enumDescriptions": [
            "The source derivation is unknown, or unspecified.",
            "Produce a completely independent Source with no base.",
            "Produce a Source based on the Source being split.",
            "Produce a Source based on the base of the Source being split."
          ],
          "enum": [
            "SOURCE_DERIVATION_MODE_UNKNOWN",
            "SOURCE_DERIVATION_MODE_INDEPENDENT",
            "SOURCE_DERIVATION_MODE_CHILD_OF_CURRENT",
            "SOURCE_DERIVATION_MODE_SIBLING_OF_CURRENT"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "DerivedSource"
    },
    "TopologyConfig": {
      "description": "Global topology of the streaming Dataflow job, including all computations and their sharded locations.",
      "type": "object",
      "id": "TopologyConfig",
      "properties": {
        "persistentStateVersion": {
          "type": "integer",
          "description": "Version number for persistent state.",
          "format": "int32"
        },
        "computations": {
          "type": "array",
          "items": {
            "$ref": "ComputationTopology"
          },
          "description": "The computations associated with a streaming Dataflow job."
        },
        "forwardingKeyBits": {
          "description": "The size (in bits) of keys that will be assigned to source messages.",
          "format": "int32",
          "type": "integer"
        },
        "dataDiskAssignments": {
          "description": "The disks assigned to a streaming Dataflow job.",
          "type": "array",
          "items": {
            "$ref": "DataDiskAssignment"
          }
        },
        "userStageToComputationNameMap": {
          "type": "object",
          "description": "Maps user stage names to stable computation names.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "SeqMapTaskOutputInfo": {
      "type": "object",
      "id": "SeqMapTaskOutputInfo",
      "description": "Information about an output of a SeqMapTask.",
      "properties": {
        "tag": {
          "description": "The id of the TupleTag the user code will tag the output value by.",
          "type": "string"
        },
        "sink": {
          "description": "The sink to write the output value to.",
          "$ref": "Sink"
        }
      }
    },
    "SourceOperationResponse": {
      "description": "The result of a SourceOperationRequest, specified in ReportWorkItemStatusRequest.source_operation when the work item is completed.",
      "id": "SourceOperationResponse",
      "properties": {
        "getMetadata": {
          "$ref": "SourceGetMetadataResponse",
          "description": "A response to a request to get metadata about a source."
        },
        "split": {
          "$ref": "SourceSplitResponse",
          "description": "A response to a request to split a source."
        }
      },
      "type": "object"
    },
    "StreamingComputationConfig": {
      "description": "Configuration information for a single streaming computation.",
      "type": "object",
      "properties": {
        "instructions": {
          "type": "array",
          "description": "Instructions that comprise the computation.",
          "items": {
            "$ref": "ParallelInstruction"
          }
        },
        "systemName": {
          "description": "System defined name for this computation.",
          "type": "string"
        },
        "stageName": {
          "description": "Stage name of this computation.",
          "type": "string"
        },
        "computationId": {
          "type": "string",
          "description": "Unique identifier for this computation."
        },
        "transformUserNameToStateFamily": {
          "description": "Map from user name of stateful transforms in this stage to their state family.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "StreamingComputationConfig"
    },
    "StreamingSideInputLocation": {
      "type": "object",
      "description": "Identifies the location of a streaming side input.",
      "properties": {
        "stateFamily": {
          "type": "string",
          "description": "Identifies the state family where this side input is stored."
        },
        "tag": {
          "type": "string",
          "description": "Identifies the particular side input within the streaming Dataflow job."
        }
      },
      "id": "StreamingSideInputLocation"
    },
    "FloatingPointMean": {
      "id": "FloatingPointMean",
      "description": "A representation of a floating point mean metric contribution.",
      "type": "object",
      "properties": {
        "count": {
          "$ref": "SplitInt64",
          "description": "The number of values being aggregated."
        },
        "sum": {
          "format": "double",
          "description": "The sum of all values being aggregated.",
          "type": "number"
        }
      }
    },
    "BigQueryIODetails": {
      "id": "BigQueryIODetails",
      "type": "object",
      "properties": {
        "table": {
          "type": "string",
          "description": "Table accessed in the connection."
        },
        "query": {
          "description": "Query used to access data in the connection.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Project accessed in the connection."
        },
        "dataset": {
          "type": "string",
          "description": "Dataset accessed in the connection."
        }
      },
      "description": "Metadata for a BigQuery connector used by the job."
    },
    "CreateJobFromTemplateRequest": {
      "description": "A request to create a Cloud Dataflow job from a template.",
      "id": "CreateJobFromTemplateRequest",
      "properties": {
        "parameters": {
          "type": "object",
          "description": "The runtime parameters to pass to the job.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "location": {
          "type": "string",
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request."
        },
        "gcsPath": {
          "type": "string",
          "description": "Required. A Cloud Storage path to the template from which to create the job. Must be a valid Cloud Storage URL, beginning with `gs://`."
        },
        "environment": {
          "description": "The runtime environment for the job.",
          "$ref": "RuntimeEnvironment"
        },
        "jobName": {
          "description": "Required. The job name to use for the created job.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Snapshot": {
      "description": "Represents a snapshot of a job.",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unknown state.",
            "Snapshot intent to create has been persisted, snapshotting of state has not yet started.",
            "Snapshotting is being performed.",
            "Snapshot has been created and is ready to be used.",
            "Snapshot failed to be created.",
            "Snapshot has been deleted."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN_SNAPSHOT_STATE",
            "PENDING",
            "RUNNING",
            "READY",
            "FAILED",
            "DELETED"
          ],
          "description": "State of the snapshot."
        },
        "ttl": {
          "format": "google-duration",
          "description": "The time after which this snapshot will be automatically deleted.",
          "type": "string"
        },
        "sourceJobId": {
          "description": "The job this snapshot was created from.",
          "type": "string"
        },
        "diskSizeBytes": {
          "format": "int64",
          "description": "The disk byte size of the snapshot. Only available for snapshots in READY state.",
          "type": "string"
        },
        "region": {
          "type": "string",
          "description": "Cloud region where this snapshot lives in, e.g., \"us-central1\"."
        },
        "pubsubMetadata": {
          "type": "array",
          "description": "Pub/Sub snapshot metadata.",
          "items": {
            "$ref": "PubsubSnapshotMetadata"
          }
        },
        "id": {
          "description": "The unique ID of this snapshot.",
          "type": "string"
        },
        "creationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time this snapshot was created."
        },
        "projectId": {
          "description": "The project this snapshot belongs to.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "User specified description of the snapshot. Maybe empty."
        }
      },
      "type": "object",
      "id": "Snapshot"
    },
    "JobExecutionStageInfo": {
      "description": "Contains information about how a particular google.dataflow.v1beta3.Step will be executed.",
      "properties": {
        "stepName": {
          "items": {
            "type": "string"
          },
          "description": "The steps associated with the execution stage. Note that stages may have several steps, and that a given step might be run by more than one stage.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "JobExecutionStageInfo"
    },
    "Environment": {
      "id": "Environment",
      "type": "object",
      "properties": {
        "userAgent": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "A description of the process that generated the request.",
          "type": "object"
        },
        "dataset": {
          "description": "The dataset for the current project where various workflow related tables are stored. The supported resource type is: Google BigQuery: bigquery.googleapis.com/{dataset}",
          "type": "string"
        },
        "tempStoragePrefix": {
          "type": "string",
          "description": "The prefix of the resources the system should use for temporary storage. The system will append the suffix \"/temp-{JOBNAME} to this resource prefix, where {JOBNAME} is the value of the job_name field. The resulting bucket and object prefix is used as the prefix of the resources used to store temporary data needed during the job execution. NOTE: This will override the value in taskrunner_settings. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}"
        },
        "serviceOptions": {
          "items": {
            "type": "string"
          },
          "description": "The list of service options to enable. This field should be used for service related experiments only. These experiments, when graduating to GA, should be replaced by dedicated fields or become default (i.e. always on).",
          "type": "array"
        },
        "workerPools": {
          "items": {
            "$ref": "WorkerPool"
          },
          "description": "The worker pools. At least one \"harness\" worker pool must be specified in order for the job to have workers.",
          "type": "array"
        },
        "flexResourceSchedulingGoal": {
          "description": "Which Flexible Resource Scheduling mode to run in.",
          "enum": [
            "FLEXRS_UNSPECIFIED",
            "FLEXRS_SPEED_OPTIMIZED",
            "FLEXRS_COST_OPTIMIZED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Run in the default mode.",
            "Optimize for lower execution time.",
            "Optimize for lower cost."
          ]
        },
        "experiments": {
          "type": "array",
          "description": "The list of experiments to enable. This field should be used for SDK related experiments and not for service related experiments. The proper field for service related experiments is service_options.",
          "items": {
            "type": "string"
          }
        },
        "internalExperiments": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Experimental settings."
        },
        "debugOptions": {
          "description": "Any debugging options to be supplied to the job.",
          "$ref": "DebugOptions"
        },
        "clusterManagerApiService": {
          "description": "The type of cluster manager API to use. If unknown or unspecified, the service will attempt to choose a reasonable default. This should be in the form of the API service name, e.g. \"compute.googleapis.com\".",
          "type": "string"
        },
        "sdkPipelineOptions": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "The Cloud Dataflow SDK pipeline options specified by the user. These options are passed through the service and are used to recreate the SDK pipeline options on the worker in a language agnostic and platform independent way."
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "Identity to run virtual machines as. Defaults to the default account."
        },
        "serviceKmsKeyName": {
          "type": "string",
          "description": "If set, contains the Cloud KMS key identifier used to encrypt data at rest, AKA a Customer Managed Encryption Key (CMEK). Format: projects/PROJECT_ID/locations/LOCATION/keyRings/KEY_RING/cryptoKeys/KEY"
        },
        "workerRegion": {
          "type": "string",
          "description": "The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, default to the control plane's region."
        },
        "workerZone": {
          "description": "The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity.",
          "type": "string"
        },
        "version": {
          "description": "A structure describing which components and their versions of the service are required in order to run the job.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "shuffleMode": {
          "enumDescriptions": [
            "Shuffle mode information is not available.",
            "Shuffle is done on the worker VMs.",
            "Shuffle is done on the service side."
          ],
          "enum": [
            "SHUFFLE_MODE_UNSPECIFIED",
            "VM_BASED",
            "SERVICE_BASED"
          ],
          "readOnly": true,
          "description": "Output only. The shuffle mode used for the job.",
          "type": "string"
        }
      },
      "description": "Describes the environment in which a Dataflow Job runs."
    },
    "WorkerShutdownNoticeResponse": {
      "properties": {},
      "type": "object",
      "id": "WorkerShutdownNoticeResponse",
      "description": "Service-side response to WorkerMessage issuing shutdown notice."
    },
    "SnapshotJobRequest": {
      "properties": {
        "snapshotSources": {
          "type": "boolean",
          "description": "If true, perform snapshots for sources which support this."
        },
        "description": {
          "type": "string",
          "description": "User specified description of the snapshot. Maybe empty."
        },
        "location": {
          "type": "string",
          "description": "The location that contains this job."
        },
        "ttl": {
          "description": "TTL for the snapshot.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request to create a snapshot of a job.",
      "id": "SnapshotJobRequest"
    },
    "SideInputInfo": {
      "id": "SideInputInfo",
      "type": "object",
      "description": "Information about a side input of a DoFn or an input of a SeqDoFn.",
      "properties": {
        "tag": {
          "description": "The id of the tag the user code will access this side input by; this should correspond to the tag of some MultiOutputInfo.",
          "type": "string"
        },
        "kind": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "How to interpret the source element(s) as a side input value.",
          "type": "object"
        },
        "sources": {
          "items": {
            "$ref": "Source"
          },
          "type": "array",
          "description": "The source(s) to read element(s) from to get the value of this side input. If more than one source, then the elements are taken from the sources, in the specified order if order matters. At least one source is required."
        }
      }
    },
    "IntegerGauge": {
      "description": "A metric value representing temporal values of a variable.",
      "id": "IntegerGauge",
      "type": "object",
      "properties": {
        "timestamp": {
          "format": "google-datetime",
          "description": "The time at which this value was measured. Measured as msecs from epoch.",
          "type": "string"
        },
        "value": {
          "$ref": "SplitInt64",
          "description": "The value of the variable represented by this gauge."
        }
      }
    },
    "Job": {
      "id": "Job",
      "description": "Defines a job to be run by the Cloud Dataflow service. Do not enter confidential information when you supply string values using the API.",
      "type": "object",
      "properties": {
        "tempFiles": {
          "description": "A set of files the system should be aware of that are used for temporary storage. These temporary files will be removed on job completion. No duplicates are allowed. No file patterns are supported. The supported files are: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "The timestamp when the job was initially created. Immutable and set by the Cloud Dataflow service.",
          "type": "string",
          "format": "google-datetime"
        },
        "replaceJobId": {
          "description": "If this job is an update of an existing job, this field is the job ID of the job it replaced. When sending a `CreateJobRequest`, you can update a job by specifying it here. The job named here is stopped, and its intermediate state is transferred to this job.",
          "type": "string"
        },
        "transformNameMapping": {
          "description": "The map of transform name prefixes of the job to be replaced to the corresponding name prefixes of the new job.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "currentStateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp associated with the current state."
        },
        "clientRequestId": {
          "description": "The client's unique identifier of the job, re-used across retried attempts. If this field is set, the service will ensure its uniqueness. The request to create a job will fail if the service has knowledge of a previously submitted job with the same client's ID and job name. The caller may use this field to ensure idempotence of job creation across retried attempts to create a job. By default, the field is empty and, in that case, the service ignores it.",
          "type": "string"
        },
        "requestedState": {
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not yet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed. This is a terminal job state. This state may be set by the Cloud Dataflow service, as a transition from `JOB_STATE_RUNNING`. It may also be set via a Cloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal state.",
            "`JOB_STATE_FAILED` indicates that the job has failed. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly cancelled. This is a terminal job state. This state may only be set via a Cloud Dataflow `UpdateJob` call, and only if the job has not yet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated, meaning that this job was stopped and another job was started, inheriting state from this one. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining. A draining job has stopped pulling from its input sources and is processing any data that remains in-flight. This state may be set via a Cloud Dataflow `UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs that are draining may only transition to `JOB_STATE_DRAINED`, `JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained. A drained job terminated by stopping pulling from its input sources and processing any data that remained in-flight when draining was requested. This state is a terminal state, may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_DRAINING`.",
            "`JOB_STATE_PENDING` indicates that the job has been created but is not yet running. Jobs that are pending may only transition to `JOB_STATE_RUNNING`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_CANCELLING` indicates that the job has been explicitly cancelled and is in the process of stopping. Jobs that are cancelling may only transition to `JOB_STATE_CANCELLED` or `JOB_STATE_FAILED`.",
            "`JOB_STATE_QUEUED` indicates that the job has been created but is being delayed until launch. Jobs that are queued may only transition to `JOB_STATE_PENDING` or `JOB_STATE_CANCELLED`.",
            "`JOB_STATE_RESOURCE_CLEANING_UP` indicates that the batch job's associated resources are currently being cleaned up after a successful run. Currently, this is an opt-in feature, please reach out to Cloud support team if you are interested."
          ],
          "description": "The job's requested state. `UpdateJob` may be used to switch between the `JOB_STATE_STOPPED` and `JOB_STATE_RUNNING` states, by setting requested_state. `UpdateJob` may also be used to directly set a job's requested state to `JOB_STATE_CANCELLED` or `JOB_STATE_DONE`, irrevocably terminating the job if it has not already reached a terminal state.",
          "type": "string",
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_QUEUED",
            "JOB_STATE_RESOURCE_CLEANING_UP"
          ]
        },
        "pipelineDescription": {
          "$ref": "PipelineDescription",
          "description": "Preliminary field: The format of this data may change at any time. A description of the user pipeline and stages through which it is executed. Created by Cloud Dataflow service. Only retrieved with JOB_VIEW_DESCRIPTION or JOB_VIEW_ALL."
        },
        "currentState": {
          "type": "string",
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_QUEUED",
            "JOB_STATE_RESOURCE_CLEANING_UP"
          ],
[...]
