{
  "canonicalName": "Database Migration Service",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://datamigration.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "datamigration",
  "protocol": "rest",
  "id": "datamigration:v1",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "servicePath": "",
  "version": "v1",
  "description": "Manage Cloud Database Migration Service resources on Google Cloud Platform.",
  "rootUrl": "https://datamigration.googleapis.com/",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "batchPath": "batch",
  "version_module": true,
  "baseUrl": "https://datamigration.googleapis.com/",
  "title": "Database Migration API",
  "revision": "20230802",
  "schemas": {
    "RoundToScale": {
      "properties": {
        "scale": {
          "format": "int32",
          "description": "Required. Scale value to be used",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "This allows the data to change scale, for example if the source is 2 digits after the decimal point, specify round to scale value = 2. If for example the value needs to be converted to an integer, use round to scale value = 0.",
      "id": "RoundToScale"
    },
    "CloudSqlSettings": {
      "type": "object",
      "description": "Settings for creating a Cloud SQL database instance.",
      "id": "CloudSqlSettings",
      "properties": {
        "cmekKeyName": {
          "type": "string",
          "description": "The KMS key name used for the csql instance."
        },
        "zone": {
          "description": "The Google Cloud Platform zone where your Cloud SQL database instance is located.",
          "type": "string"
        },
        "databaseVersion": {
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "POSTGRES_9_6",
            "POSTGRES_11",
            "POSTGRES_10",
            "MYSQL_8_0",
            "POSTGRES_12",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15"
          ],
          "description": "The database engine type and version.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified version.",
            "MySQL 5.6.",
            "MySQL 5.7.",
            "PostgreSQL 9.6.",
            "PostgreSQL 11.",
            "PostgreSQL 10.",
            "MySQL 8.0.",
            "PostgreSQL 12.",
            "PostgreSQL 13.",
            "PostgreSQL 14.",
            "PostgreSQL 15."
          ]
        },
        "availabilityType": {
          "enum": [
            "SQL_AVAILABILITY_TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL"
          ],
          "type": "string",
          "description": "Optional. Availability type. Potential values: * `ZONAL`: The instance serves data from only one zone. Outages in that zone affect data availability. * `REGIONAL`: The instance can serve data from more than one zone in a region (it is highly available).",
          "enumDescriptions": [
            "This is an unknown Availability type.",
            "Zonal availablility instance.",
            "Regional availability instance."
          ]
        },
        "databaseFlags": {
          "description": "The database flags passed to the Cloud SQL instance at startup. An object containing a list of \"key\": value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "userLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The resource labels for a Cloud SQL instance to use to annotate any related underlying resources such as Compute Engine VMs. An object containing a list of \"key\": \"value\" pairs. Example: `{ \"name\": \"wrench\", \"mass\": \"18kg\", \"count\": \"3\" }`."
        },
        "ipConfig": {
          "description": "The settings for IP Management. This allows to enable or disable the instance IP and manage which external networks can connect to the instance. The IPv4 address cannot be disabled.",
          "$ref": "SqlIpConfig"
        },
        "secondaryZone": {
          "type": "string",
          "description": "Optional. The Google Cloud Platform zone where the failover Cloud SQL database instance is located. Used when the Cloud SQL database availability type is REGIONAL (i.e. multiple zones / highly available)."
        },
        "collation": {
          "type": "string",
          "description": "The Cloud SQL default instance level collation."
        },
        "dataDiskType": {
          "enumDescriptions": [
            "Unspecified.",
            "SSD disk.",
            "HDD disk."
          ],
          "enum": [
            "SQL_DATA_DISK_TYPE_UNSPECIFIED",
            "PD_SSD",
            "PD_HDD"
          ],
          "description": "The type of storage: `PD_SSD` (default) or `PD_HDD`.",
          "type": "string"
        },
        "activationPolicy": {
          "type": "string",
          "enum": [
            "SQL_ACTIVATION_POLICY_UNSPECIFIED",
            "ALWAYS",
            "NEVER"
          ],
          "description": "The activation policy specifies when the instance is activated; it is applicable only when the instance state is 'RUNNABLE'. Valid values: 'ALWAYS': The instance is on, and remains so even in the absence of connection requests. `NEVER`: The instance is off; it is not activated, even if a connection request arrives.",
          "enumDescriptions": [
            "unspecified policy.",
            "The instance is always up and running.",
            "The instance should never spin up."
          ]
        },
        "edition": {
          "description": "Optional. The edition of the given Cloud SQL instance.",
          "enumDescriptions": [
            "The instance did not specify the edition.",
            "The instance is an enterprise edition.",
            "The instance is an enterprise plus edition."
          ],
          "type": "string",
          "enum": [
            "EDITION_UNSPECIFIED",
            "ENTERPRISE",
            "ENTERPRISE_PLUS"
          ]
        },
        "tier": {
          "type": "string",
          "description": "The tier (or machine type) for this instance, for example: `db-n1-standard-1` (MySQL instances) or `db-custom-1-3840` (PostgreSQL instances). For more information, see [Cloud SQL Instance Settings](https://cloud.google.com/sql/docs/mysql/instance-settings)."
        },
        "rootPasswordSet": {
          "type": "boolean",
          "description": "Output only. Indicates If this connection profile root password is stored.",
          "readOnly": true
        },
        "storageAutoResizeLimit": {
          "format": "int64",
          "description": "The maximum size to which storage capacity can be automatically increased. The default value is 0, which specifies that there is no limit.",
          "type": "string"
        },
        "rootPassword": {
          "type": "string",
          "description": "Input only. Initial root password."
        },
        "sourceId": {
          "description": "The Database Migration Service source connection profile ID, in the format: `projects/my_project_name/locations/us-central1/connectionProfiles/connection_profile_ID`",
          "type": "string"
        },
        "autoStorageIncrease": {
          "type": "boolean",
          "description": "[default: ON] If you enable this setting, Cloud SQL checks your available storage every 30 seconds. If the available storage falls below a threshold size, Cloud SQL automatically adds additional storage capacity. If the available storage repeatedly falls below the threshold size, Cloud SQL continues to add storage until it reaches the maximum of 30 TB."
        },
        "dataDiskSizeGb": {
          "description": "The storage capacity available to the database, in GB. The minimum (and default) size is 10GB.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "SynonymEntity": {
      "description": "Synonym's parent is a schema.",
      "id": "SynonymEntity",
      "type": "object",
      "properties": {
        "customFeatures": {
          "type": "object",
          "description": "Custom engine specific features.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "sourceType": {
          "enum": [
            "DATABASE_ENTITY_TYPE_UNSPECIFIED",
            "DATABASE_ENTITY_TYPE_SCHEMA",
            "DATABASE_ENTITY_TYPE_TABLE",
            "DATABASE_ENTITY_TYPE_COLUMN",
            "DATABASE_ENTITY_TYPE_CONSTRAINT",
            "DATABASE_ENTITY_TYPE_INDEX",
            "DATABASE_ENTITY_TYPE_TRIGGER",
            "DATABASE_ENTITY_TYPE_VIEW",
            "DATABASE_ENTITY_TYPE_SEQUENCE",
            "DATABASE_ENTITY_TYPE_STORED_PROCEDURE",
            "DATABASE_ENTITY_TYPE_FUNCTION",
            "DATABASE_ENTITY_TYPE_SYNONYM",
            "DATABASE_ENTITY_TYPE_DATABASE_PACKAGE",
            "DATABASE_ENTITY_TYPE_UDT",
            "DATABASE_ENTITY_TYPE_MATERIALIZED_VIEW",
            "DATABASE_ENTITY_TYPE_DATABASE"
          ],
          "description": "The type of the entity for which the synonym is being created (usually a table or a sequence).",
          "type": "string",
          "enumDescriptions": [
            "Unspecified database entity type.",
            "Schema.",
            "Table.",
            "Column.",
            "Constraint.",
            "Index.",
            "Trigger.",
            "View.",
            "Sequence.",
            "Stored Procedure.",
            "Function.",
            "Synonym.",
            "Package.",
            "UDT.",
            "Materialized View.",
            "Database."
          ]
        },
        "sourceEntity": {
          "type": "string",
          "description": "The name of the entity for which the synonym is being created (the source)."
        }
      }
    },
    "ApplyJobDetails": {
      "id": "ApplyJobDetails",
      "description": "Details regarding an Apply background job.",
      "properties": {
        "filter": {
          "description": "Output only. AIP-160 based filter used to specify the entities to apply",
          "readOnly": true,
          "type": "string"
        },
        "connectionProfile": {
          "readOnly": true,
          "description": "Output only. The connection profile which was used for the apply job.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EntityMove": {
      "type": "object",
      "id": "EntityMove",
      "properties": {
        "newSchema": {
          "type": "string",
          "description": "Required. The new schema"
        }
      },
      "description": "Options to configure rule type EntityMove. The rule is used to move an entity to a new schema. The rule filter field can refer to one or more entities. The rule scope can be one of: Table, Column, Constraint, Index, View, Function, Stored Procedure, Materialized View, Sequence, UDT"
    },
    "ValueListFilter": {
      "id": "ValueListFilter",
      "properties": {
        "valuePresentList": {
          "enum": [
            "VALUE_PRESENT_IN_LIST_UNSPECIFIED",
            "VALUE_PRESENT_IN_LIST_IF_VALUE_LIST",
            "VALUE_PRESENT_IN_LIST_IF_VALUE_NOT_LIST"
          ],
          "enumDescriptions": [
            "Value present in list unspecified",
            "If the source value is in the supplied list at value_list",
            "If the source value is not in the supplied list at value_list"
          ],
          "description": "Required. Indicates whether the filter matches rows with values that are present in the list or those with values not present in it.",
          "type": "string"
        },
        "ignoreCase": {
          "type": "boolean",
          "description": "Required. Whether to ignore case when filtering by values. Defaults to false"
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The list to be used to filter by"
        }
      },
      "type": "object",
      "description": "A list of values to filter by in ConditionalColumnSetValue"
    },
    "SinglePackageChange": {
      "id": "SinglePackageChange",
      "properties": {
        "packageDescription": {
          "description": "Optional. Sql code for package description",
          "type": "string"
        },
        "packageBody": {
          "description": "Optional. Sql code for package body",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Options to configure rule type SinglePackageChange. The rule is used to alter the sql code for a package entities. The rule filter field can refer to one entity. The rule scope can be: Package"
    },
    "Position": {
      "description": "Issue position.",
      "id": "Position",
      "properties": {
        "line": {
          "format": "int32",
          "type": "integer",
          "description": "Issue line number"
        },
        "column": {
          "type": "integer",
          "description": "Issue column number",
          "format": "int32"
        },
        "length": {
          "description": "Issue length",
          "type": "integer",
          "format": "int32"
        },
        "offset": {
          "description": "Issue offset",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ImportRulesJobDetails": {
      "type": "object",
      "description": "Details regarding an Import Rules background job.",
      "properties": {
        "files": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. File names used for the import rules job."
        },
        "fileFormat": {
          "readOnly": true,
          "enum": [
            "IMPORT_RULES_FILE_FORMAT_UNSPECIFIED",
            "IMPORT_RULES_FILE_FORMAT_HARBOUR_BRIDGE_SESSION_FILE",
            "IMPORT_RULES_FILE_FORMAT_ORATOPG_CONFIG_FILE"
          ],
          "enumDescriptions": [
            "Unspecified rules format.",
            "HarbourBridge session file.",
            "Ora2Pg configuration file."
          ],
          "description": "Output only. The requested file format.",
          "type": "string"
        }
      },
      "id": "ImportRulesJobDetails"
    },
    "VpcPeeringConfig": {
      "description": "The VPC peering configuration is used to create VPC peering with the consumer's VPC.",
      "properties": {
        "subnet": {
          "type": "string",
          "description": "Required. A free subnet for peering. (CIDR of /29)"
        },
        "vpcName": {
          "description": "Required. Fully qualified name of the VPC that Database Migration Service will peer to.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "VpcPeeringConfig"
    },
    "DumpFlags": {
      "type": "object",
      "id": "DumpFlags",
      "properties": {
        "dumpFlags": {
          "items": {
            "$ref": "DumpFlag"
          },
          "description": "The flags for the initial dump.",
          "type": "array"
        }
      },
      "description": "Dump flags definition."
    },
    "SourceSqlChange": {
      "description": "Options to configure rule type SourceSqlChange. The rule is used to alter the sql code for database entities. The rule filter field can refer to one entity. The rule scope can be: StoredProcedure, Function, Trigger, View",
      "type": "object",
      "id": "SourceSqlChange",
      "properties": {
        "sqlCode": {
          "description": "Required. Sql code for source (stored procedure, function, trigger or view)",
          "type": "string"
        }
      }
    },
    "SourceNumericFilter": {
      "type": "object",
      "properties": {
        "numericFilterOption": {
          "enumDescriptions": [
            "Numeric filter option unspecified",
            "Numeric filter option that matches all numeric columns.",
            "Numeric filter option that matches columns having numeric datatypes with specified precision and scale within the limited range of filter.",
            "Numeric filter option that matches only the numeric columns with no precision and scale specified."
          ],
          "type": "string",
          "enum": [
            "NUMERIC_FILTER_OPTION_UNSPECIFIED",
            "NUMERIC_FILTER_OPTION_ALL",
            "NUMERIC_FILTER_OPTION_LIMIT",
            "NUMERIC_FILTER_OPTION_LIMITLESS"
          ],
          "description": "Required. Enum to set the option defining the datatypes numeric filter has to be applied to"
        },
        "sourceMinPrecisionFilter": {
          "format": "int32",
          "description": "Optional. The filter will match columns with precision greater than or equal to this number.",
          "type": "integer"
        },
        "sourceMinScaleFilter": {
          "description": "Optional. The filter will match columns with scale greater than or equal to this number.",
          "format": "int32",
          "type": "integer"
        },
        "sourceMaxPrecisionFilter": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The filter will match columns with precision smaller than or equal to this number."
        },
        "sourceMaxScaleFilter": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The filter will match columns with scale smaller than or equal to this number."
        }
      },
      "description": "Filter for fixed point number data types such as NUMERIC/NUMBER",
      "id": "SourceNumericFilter"
    },
    "StoredProcedureEntity": {
      "id": "StoredProcedureEntity",
      "type": "object",
      "properties": {
        "customFeatures": {
          "type": "object",
          "description": "Custom engine specific features.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "sqlCode": {
          "type": "string",
          "description": "The SQL code which creates the stored procedure."
        }
      },
      "description": "Stored procedure's parent is a schema."
    },
    "SeedJobDetails": {
      "description": "Details regarding a Seed background job.",
      "properties": {
        "connectionProfile": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The connection profile which was used for the seed job."
        }
      },
      "type": "object",
      "id": "SeedJobDetails"
    },
    "MigrationJobVerificationError": {
      "description": "Error message of a verification Migration job.",
      "properties": {
        "errorMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A formatted message with further details about the error and a CTA."
        },
        "errorCode": {
          "type": "string",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "CONNECTION_FAILURE",
            "AUTHENTICATION_FAILURE",
            "INVALID_CONNECTION_PROFILE_CONFIG",
            "VERSION_INCOMPATIBILITY",
            "CONNECTION_PROFILE_TYPES_INCOMPATIBILITY",
            "NO_PGLOGICAL_INSTALLED",
            "PGLOGICAL_NODE_ALREADY_EXISTS",
            "INVALID_WAL_LEVEL",
            "INVALID_SHARED_PRELOAD_LIBRARY",
            "INSUFFICIENT_MAX_REPLICATION_SLOTS",
            "INSUFFICIENT_MAX_WAL_SENDERS",
            "INSUFFICIENT_MAX_WORKER_PROCESSES",
            "UNSUPPORTED_EXTENSIONS",
            "UNSUPPORTED_MIGRATION_TYPE",
            "INVALID_RDS_LOGICAL_REPLICATION",
            "UNSUPPORTED_GTID_MODE",
            "UNSUPPORTED_TABLE_DEFINITION",
            "UNSUPPORTED_DEFINER",
            "CANT_RESTART_RUNNING_MIGRATION",
            "SOURCE_ALREADY_SETUP",
            "TABLES_WITH_LIMITED_SUPPORT",
            "UNSUPPORTED_DATABASE_LOCALE",
            "UNSUPPORTED_DATABASE_FDW_CONFIG",
            "ERROR_RDBMS",
            "SOURCE_SIZE_EXCEEDS_THRESHOLD",
            "EXISTING_CONFLICTING_DATABASES",
            "PARALLEL_IMPORT_INSUFFICIENT_PRIVILEGE"
          ],
          "description": "Output only. An instance of ErrorCode specifying the error that occurred.",
          "enumDescriptions": [
            "An unknown error occurred",
            "We failed to connect to one of the connection profile.",
            "We failed to authenticate to one of the connection profile.",
            "One of the involved connection profiles has an invalid configuration.",
            "The versions of the source and the destination are incompatible.",
            "The types of the source and the destination are incompatible.",
            "No pglogical extension installed on databases, applicable for postgres.",
            "pglogical node already exists on databases, applicable for postgres.",
            "The value of parameter wal_level is not set to logical.",
            "The value of parameter shared_preload_libraries does not include pglogical.",
            "The value of parameter max_replication_slots is not sufficient.",
            "The value of parameter max_wal_senders is not sufficient.",
            "The value of parameter max_worker_processes is not sufficient.",
            "Extensions installed are either not supported or having unsupported versions.",
            "Unsupported migration type.",
            "Invalid RDS logical replication.",
            "The gtid_mode is not supported, applicable for MySQL.",
            "The table definition is not support due to missing primary key or replica identity.",
            "The definer is not supported.",
            "Migration is already running at the time of restart request.",
            "The source already has a replication setup.",
            "The source has tables with limited support. E.g. PostgreSQL tables without primary keys.",
            "The source uses an unsupported locale.",
            "The source uses an unsupported Foreign Data Wrapper configuration.",
            "There was an underlying RDBMS error.",
            "The source DB size in Bytes exceeds a certain threshold. The migration might require an increase of quota, or might not be supported.",
            "The destination DB contains existing databases that are conflicting with those in the source DB.",
            "Insufficient privilege to enable the parallelism configuration."
          ],
          "readOnly": true
        },
        "errorDetailMessage": {
          "type": "string",
          "description": "Output only. A specific detailed error message, if supplied by the engine.",
          "readOnly": true
        }
      },
      "id": "MigrationJobVerificationError",
      "type": "object"
    },
    "EntityIssue": {
      "id": "EntityIssue",
      "description": "Issue related to the entity.",
      "properties": {
        "position": {
          "description": "The position of the issue found, if relevant.",
          "$ref": "Position"
        },
        "type": {
          "description": "The type of the issue.",
          "enum": [
            "ISSUE_TYPE_UNSPECIFIED",
            "ISSUE_TYPE_DDL",
            "ISSUE_TYPE_APPLY",
            "ISSUE_TYPE_CONVERT"
          ],
          "enumDescriptions": [
            "Unspecified issue type.",
            "Issue originated from the DDL",
            "Issue originated during the apply process",
            "Issue originated during the convert process"
          ],
          "type": "string"
        },
        "entityType": {
          "enumDescriptions": [
            "Unspecified database entity type.",
            "Schema.",
            "Table.",
            "Column.",
            "Constraint.",
            "Index.",
            "Trigger.",
            "View.",
            "Sequence.",
            "Stored Procedure.",
            "Function.",
            "Synonym.",
            "Package.",
            "UDT.",
            "Materialized View.",
            "Database."
          ],
          "description": "The entity type (if the DDL is for a sub entity).",
          "enum": [
            "DATABASE_ENTITY_TYPE_UNSPECIFIED",
            "DATABASE_ENTITY_TYPE_SCHEMA",
            "DATABASE_ENTITY_TYPE_TABLE",
            "DATABASE_ENTITY_TYPE_COLUMN",
            "DATABASE_ENTITY_TYPE_CONSTRAINT",
            "DATABASE_ENTITY_TYPE_INDEX",
            "DATABASE_ENTITY_TYPE_TRIGGER",
            "DATABASE_ENTITY_TYPE_VIEW",
            "DATABASE_ENTITY_TYPE_SEQUENCE",
            "DATABASE_ENTITY_TYPE_STORED_PROCEDURE",
            "DATABASE_ENTITY_TYPE_FUNCTION",
            "DATABASE_ENTITY_TYPE_SYNONYM",
            "DATABASE_ENTITY_TYPE_DATABASE_PACKAGE",
            "DATABASE_ENTITY_TYPE_UDT",
            "DATABASE_ENTITY_TYPE_MATERIALIZED_VIEW",
            "DATABASE_ENTITY_TYPE_DATABASE"
          ],
          "type": "string"
        },
        "id": {
          "description": "Unique Issue ID.",
          "type": "string"
        },
        "ddl": {
          "type": "string",
          "description": "The ddl which caused the issue, if relevant."
        },
        "code": {
          "type": "string",
          "description": "Error/Warning code"
        },
        "message": {
          "type": "string",
          "description": "Issue detailed message"
        },
        "severity": {
          "type": "string",
          "description": "Severity of the issue",
          "enumDescriptions": [
            "Unspecified issue severity",
            "Info",
            "Warning",
            "Error"
          ],
          "enum": [
            "ISSUE_SEVERITY_UNSPECIFIED",
            "ISSUE_SEVERITY_INFO",
            "ISSUE_SEVERITY_WARNING",
            "ISSUE_SEVERITY_ERROR"
          ]
        }
      },
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "id": "TestIamPermissionsRequest",
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "FetchStaticIpsResponse": {
      "id": "FetchStaticIpsResponse",
      "description": "Response message for a 'FetchStaticIps' request.",
      "type": "object",
      "properties": {
        "staticIps": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of static IPs."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "PromoteMigrationJobRequest": {
      "id": "PromoteMigrationJobRequest",
      "description": "Request message for 'PromoteMigrationJob' request.",
      "properties": {},
      "type": "object"
    },
    "DatabaseEngineInfo": {
      "type": "object",
      "description": "The type and version of a source or destination database.",
      "id": "DatabaseEngineInfo",
      "properties": {
        "version": {
          "description": "Required. Engine named version, for example 12.c.1.",
          "type": "string"
        },
        "engine": {
          "description": "Required. Engine type.",
          "enumDescriptions": [
            "The source database engine of the migration job is unknown.",
            "The source engine is MySQL.",
            "The source engine is PostgreSQL.",
            "The source engine is Oracle."
          ],
          "enum": [
            "DATABASE_ENGINE_UNSPECIFIED",
            "MYSQL",
            "POSTGRESQL",
            "ORACLE"
          ],
          "type": "string"
        }
      }
    },
    "SequenceEntity": {
      "description": "Sequence's parent is a schema.",
      "properties": {
        "startValue": {
          "description": "Start number for the sequence represented as bytes to accommodate large. numbers",
          "type": "string",
          "format": "byte"
        },
        "minValue": {
          "type": "string",
          "description": "Minimum number for the sequence represented as bytes to accommodate large. numbers",
          "format": "byte"
        },
        "maxValue": {
          "format": "byte",
          "description": "Maximum number for the sequence represented as bytes to accommodate large. numbers",
          "type": "string"
        },
        "cycle": {
          "description": "Indicates whether the sequence value should cycle through.",
          "type": "boolean"
        },
        "cache": {
          "type": "string",
          "format": "int64",
          "description": "Indicates number of entries to cache / precreate."
        },
        "customFeatures": {
          "type": "object",
          "description": "Custom engine specific features.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "increment": {
          "description": "Increment value for the sequence.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "SequenceEntity"
    },
    "ListMigrationJobsResponse": {
      "description": "Response message for 'ListMigrationJobs' request.",
      "properties": {
        "migrationJobs": {
          "items": {
            "$ref": "MigrationJob"
          },
          "type": "array",
          "description": "The list of migration jobs objects."
        },
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListMigrationJobsResponse"
    },
    "VmCreationConfig": {
      "type": "object",
      "id": "VmCreationConfig",
      "description": "VM creation configuration message",
      "properties": {
        "vmZone": {
          "type": "string",
          "description": "The Google Cloud Platform zone to create the VM in."
        },
        "subnet": {
          "type": "string",
          "description": "The subnet name the vm needs to be created in."
        },
        "vmMachineType": {
          "type": "string",
          "description": "Required. VM instance machine type to create."
        }
      }
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "VerifyMigrationJobRequest": {
      "id": "VerifyMigrationJobRequest",
      "type": "object",
      "description": "Request message for 'VerifyMigrationJob' request.",
      "properties": {
        "migrationJob": {
          "description": "Optional. The changed migration job parameters to verify. It will not update the migration job.",
          "$ref": "MigrationJob"
        },
        "updateMask": {
          "type": "string",
          "description": "Optional. Field mask is used to specify the changed fields to be verified. It will not update the migration job.",
          "format": "google-fieldmask"
        }
      }
    },
    "BackgroundJobLogEntry": {
      "id": "BackgroundJobLogEntry",
      "type": "object",
      "description": "Execution log of a background job.",
      "properties": {
        "completionState": {
          "enumDescriptions": [
            "The status is not specified. This state is used when job is not yet finished.",
            "Success.",
            "Error."
          ],
          "description": "Output only. Job completion state, i.e. the final state after the job completed.",
          "enum": [
            "JOB_COMPLETION_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "jobType": {
          "enum": [
            "BACKGROUND_JOB_TYPE_UNSPECIFIED",
            "BACKGROUND_JOB_TYPE_SOURCE_SEED",
            "BACKGROUND_JOB_TYPE_CONVERT",
            "BACKGROUND_JOB_TYPE_APPLY_DESTINATION",
            "BACKGROUND_JOB_TYPE_IMPORT_RULES_FILE"
          ],
          "description": "The type of job that was executed.",
          "enumDescriptions": [
            "Unspecified background job type.",
            "Job to seed from the source database.",
            "Job to convert the source database into a draft of the destination database.",
            "Job to apply the draft tree onto the destination.",
            "Job to import and convert mapping rules from an external source such as an ora2pg config file."
          ],
          "type": "string"
        },
        "convertJobDetails": {
          "description": "Output only. Convert job details.",
          "readOnly": true,
          "$ref": "ConvertJobDetails"
        },
        "seedJobDetails": {
          "description": "Output only. Seed job details.",
          "readOnly": true,
          "$ref": "SeedJobDetails"
        },
        "id": {
          "type": "string",
          "description": "The background job log entry ID."
        },
        "applyJobDetails": {
          "readOnly": true,
          "description": "Output only. Apply job details.",
          "$ref": "ApplyJobDetails"
        },
        "requestAutocommit": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the client requested the conversion workspace to be committed after a successful completion of the job."
        },
        "finishTime": {
          "description": "The timestamp when the background job was finished.",
          "format": "google-datetime",
          "type": "string"
        },
        "importRulesJobDetails": {
          "description": "Output only. Import rules job details.",
          "readOnly": true,
          "$ref": "ImportRulesJobDetails"
        },
        "completionComment": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Job completion comment, such as how many entities were seeded, how many warnings were found during conversion, and similar information."
        },
        "startTime": {
          "type": "string",
          "description": "The timestamp when the background job was started.",
          "format": "google-datetime"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ApplyHash": {
      "properties": {
        "uuidFromBytes": {
          "$ref": "Empty",
          "description": "Optional. Generate UUID from the data's byte array"
        }
      },
      "type": "object",
      "id": "ApplyHash",
      "description": "Apply a hash function on the value."
    },
    "UserPassword": {
      "type": "object",
      "description": "The username/password for a database user. Used for specifying initial users at cluster creation time.",
      "id": "UserPassword",
      "properties": {
        "user": {
          "description": "The database username.",
          "type": "string"
        },
        "passwordSet": {
          "type": "boolean",
          "description": "Output only. Indicates if the initial_user.password field has been set.",
          "readOnly": true
        },
        "password": {
          "description": "The initial password for the user.",
          "type": "string"
        }
      }
    },
    "DoubleComparisonFilter": {
      "properties": {
        "valueComparison": {
          "enumDescriptions": [
            "Value comparison unspecified.",
            "Value is smaller than the Compare value.",
            "Value is smaller or equal than the Compare value.",
            "Value is larger than the Compare value.",
            "Value is larger or equal than the Compare value."
          ],
          "enum": [
            "VALUE_COMPARISON_UNSPECIFIED",
            "VALUE_COMPARISON_IF_VALUE_SMALLER_THAN",
            "VALUE_COMPARISON_IF_VALUE_SMALLER_EQUAL_THAN",
            "VALUE_COMPARISON_IF_VALUE_LARGER_THAN",
            "VALUE_COMPARISON_IF_VALUE_LARGER_EQUAL_THAN"
          ],
          "description": "Required. Relation between source value and compare value",
          "type": "string"
        },
        "value": {
          "format": "double",
          "description": "Required. Double compare value to be used",
          "type": "number"
        }
      },
      "id": "DoubleComparisonFilter",
      "type": "object",
      "description": "Filter based on relation between source value and compare value of type double in ConditionalColumnSetValue"
    },
    "MultiEntityRename": {
      "properties": {
        "sourceNameTransformation": {
          "enum": [
            "ENTITY_NAME_TRANSFORMATION_UNSPECIFIED",
            "ENTITY_NAME_TRANSFORMATION_NO_TRANSFORMATION",
            "ENTITY_NAME_TRANSFORMATION_LOWER_CASE",
            "ENTITY_NAME_TRANSFORMATION_UPPER_CASE",
            "ENTITY_NAME_TRANSFORMATION_CAPITALIZED_CASE"
          ],
          "description": "Optional. Additional transformation that can be done on the source entity name before it is being used by the new_name_pattern, for example lower case. If no transformation is desired, use NO_TRANSFORMATION",
          "type": "string",
          "enumDescriptions": [
            "Entity name transformation unspecified.",
            "No transformation.",
            "Transform to lower case.",
            "Transform to upper case.",
            "Transform to capitalized case."
          ]
        },
        "newNamePattern": {
          "description": "Optional. The pattern used to generate the new entity's name. This pattern must include the characters '{name}', which will be replaced with the name of the original entity. For example, the pattern 't_{name}' for an entity name jobs would be converted to 't_jobs'. If unspecified, the default value for this field is '{name}'",
          "type": "string"
        }
      },
      "id": "MultiEntityRename",
      "description": "Options to configure rule type MultiEntityRename. The rule is used to rename multiple entities. The rule filter field can refer to one or more entities. The rule scope can be one of: Database, Schema, Table, Column, Constraint, Index, View, Function, Stored Procedure, Materialized View, Sequence, UDT",
      "type": "object"
    },
    "ConversionWorkspace": {
      "description": "The main conversion workspace resource entity.",
      "id": "ConversionWorkspace",
      "properties": {
        "latestCommitTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the workspace was committed.",
          "format": "google-datetime",
          "type": "string"
        },
        "destination": {
          "description": "Required. The destination engine details.",
          "$ref": "DatabaseEngineInfo"
        },
        "name": {
          "description": "Full name of the workspace resource, in the form of: projects/{project}/locations/{location}/conversionWorkspaces/{conversion_workspace}.",
          "type": "string"
        },
        "source": {
          "$ref": "DatabaseEngineInfo",
          "description": "Required. The source engine details."
        },
        "globalSettings": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A generic list of settings for the workspace. The settings are database pair dependant and can indicate default behavior for the mapping rules engine or turn on or off specific features. Such examples can be: convert_foreign_key_to_interleave=true, skip_triggers=false, ignore_non_table_synonyms=true"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the workspace resource was last updated."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name for the workspace."
        },
        "latestCommitId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The latest commit ID."
        },
        "hasUncommittedChanges": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the workspace has uncommitted changes (changes which were made after the workspace was committed)."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the workspace resource was created."
        }
      },
      "type": "object"
    },
    "GoogleCloudClouddmsV1OperationMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "id": "GoogleCloudClouddmsV1OperationMetadata"
    },
    "MultiColumnDatatypeChange": {
      "id": "MultiColumnDatatypeChange",
      "type": "object",
      "description": "Options to configure rule type MultiColumnDatatypeChange. The rule is used to change the data type and associated properties of multiple columns at once. The rule filter field can refer to one or more entities. The rule scope can be one of:Column. This rule requires additional filters to be specified beyond the basic rule filter field, which is the source data type, but the rule supports additional filtering capabilities such as the minimum and maximum field length. All additional filters which are specified are required to be met in order for the rule to be applied (logical AND between the fields).",
      "properties": {
        "newDataType": {
          "description": "Required. New data type.",
          "type": "string"
        },
        "sourceNumericFilter": {
          "$ref": "SourceNumericFilter",
          "description": "Optional. Filter for fixed point number data types such as NUMERIC/NUMBER."
        },
        "overrideLength": {
          "description": "Optional. Column length - e.g. varchar (50) - if not specified and relevant uses the source column length.",
          "format": "int64",
          "type": "string"
        },
        "overridePrecision": {
          "description": "Optional. Column precision - when relevant - if not specified and relevant uses the source column precision.",
          "type": "integer",
          "format": "int32"
        },
        "customFeatures": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Optional. Custom engine specific features."
        },
        "overrideScale": {
          "type": "integer",
          "description": "Optional. Column scale - when relevant - if not specified and relevant uses the source column scale.",
          "format": "int32"
        },
        "sourceDataTypeFilter": {
          "description": "Required. Filter on source data type.",
          "type": "string"
        },
        "sourceTextFilter": {
          "$ref": "SourceTextFilter",
          "description": "Optional. Filter for text-based data types like varchar."
        },
        "overrideFractionalSecondsPrecision": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Column fractional seconds precision - used only for timestamp based datatypes - if not specified and relevant uses the source column fractional seconds precision."
        }
      }
    },
    "ListConversionWorkspacesResponse": {
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "conversionWorkspaces": {
          "items": {
            "$ref": "ConversionWorkspace"
          },
          "description": "The list of conversion workspace objects.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListConversionWorkspacesResponse",
      "type": "object",
      "description": "Response message for 'ListConversionWorkspaces' request."
    },
    "CommitConversionWorkspaceRequest": {
      "properties": {
        "commitName": {
          "type": "string",
          "description": "Optional. Optional name of the commit."
        }
      },
      "type": "object",
      "id": "CommitConversionWorkspaceRequest",
      "description": "Request message for 'CommitConversionWorkspace' request."
    },
    "DatabaseInstanceEntity": {
      "description": "DatabaseInstance acts as a parent entity to other database entities.",
      "id": "DatabaseInstanceEntity",
      "properties": {
        "customFeatures": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Custom engine specific features."
        }
      },
      "type": "object"
    },
    "ConnectionProfile": {
      "type": "object",
      "id": "ConnectionProfile",
      "properties": {
        "postgresql": {
          "description": "A PostgreSQL database connection profile.",
          "$ref": "PostgreSqlConnectionProfile"
        },
        "state": {
          "type": "string",
          "description": "The current connection profile state (e.g. DRAFT, READY, or FAILED).",
          "enumDescriptions": [
            "The state of the connection profile is unknown.",
            "The connection profile is in draft mode and fully editable.",
            "The connection profile is being created.",
            "The connection profile is ready.",
            "The connection profile is being updated.",
            "The connection profile is being deleted.",
            "The connection profile has been deleted.",
            "The last action on the connection profile failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "DELETED",
            "FAILED"
          ]
        },
        "provider": {
          "type": "string",
          "enum": [
            "DATABASE_PROVIDER_UNSPECIFIED",
            "CLOUDSQL",
            "RDS",
            "AURORA",
            "ALLOYDB"
          ],
          "enumDescriptions": [
            "The database provider is unknown.",
            "CloudSQL runs the database.",
            "RDS runs the database.",
            "Amazon Aurora.",
            "AlloyDB."
          ],
          "description": "The database provider."
        },
        "cloudsql": {
          "$ref": "CloudSqlConnectionProfile",
          "description": "A CloudSQL database connection profile."
        },
        "labels": {
          "description": "The resource labels for connection profile to use to annotate any related underlying resources such as Compute Engine VMs. An object containing a list of \"key\": \"value\" pairs. Example: `{ \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }`.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The name of this connection profile resource in the form of projects/{project}/locations/{location}/connectionProfiles/{connectionProfile}."
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. The error details in case of state FAILED."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was last updated. A timestamp in RFC3339 UTC \"Zulu\" format, accurate to nanoseconds. Example: \"2014-10-02T15:01:23.045123456Z\".",
          "type": "string"
        },
        "mysql": {
          "$ref": "MySqlConnectionProfile",
          "description": "A MySQL database connection profile."
        },
        "displayName": {
          "type": "string",
          "description": "The connection profile display name."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was created. A timestamp in RFC3339 UTC \"Zulu\" format, accurate to nanoseconds. Example: \"2014-10-02T15:01:23.045123456Z\".",
          "format": "google-datetime"
        },
        "alloydb": {
          "$ref": "AlloyDbConnectionProfile",
          "description": "An AlloyDB cluster connection profile."
        },
        "oracle": {
          "description": "An Oracle database connection profile.",
          "$ref": "OracleConnectionProfile"
        }
      },
      "description": "A connection profile definition."
    },
    "ConditionalColumnSetValue": {
      "description": "Options to configure rule type ConditionalColumnSetValue. The rule is used to transform the data which is being replicated/migrated. The rule filter field can refer to one or more entities. The rule scope can be one of: Column.",
      "id": "ConditionalColumnSetValue",
      "properties": {
        "customFeatures": {
          "type": "object",
          "description": "Optional. Custom engine specific features.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "sourceNumericFilter": {
          "$ref": "SourceNumericFilter",
          "description": "Optional. Optional filter on source column precision and scale. Used for fixed point numbers such as NUMERIC/NUMBER data types."
        },
        "sourceTextFilter": {
          "$ref": "SourceTextFilter",
          "description": "Optional. Optional filter on source column length. Used for text based data types like varchar."
        },
        "valueTransformation": {
          "$ref": "ValueTransformation",
          "description": "Required. Description of data transformation during migration."
        }
      },
      "type": "object"
    },
    "AlloyDbConnectionProfile": {
      "properties": {
        "clusterId": {
          "type": "string",
          "description": "Required. The AlloyDB cluster ID that this connection profile is associated with."
        },
        "settings": {
          "description": "Immutable. Metadata used to create the destination AlloyDB cluster.",
          "$ref": "AlloyDbSettings"
        }
      },
      "type": "object",
      "description": "Specifies required connection parameters, and the parameters required to create an AlloyDB destination cluster.",
      "id": "AlloyDbConnectionProfile"
    },
    "PerformanceConfig": {
      "description": "Performance configuration definition.",
      "properties": {
        "dumpParallelLevel": {
          "type": "string",
          "description": "Initial dump parallelism level.",
          "enumDescriptions": [
            "Unknown dump parallel level. Will be defaulted to OPTIMAL.",
            "Minimal parallel level.",
            "Optimal parallel level.",
            "Maximum parallel level."
          ],
          "enum": [
            "DUMP_PARALLEL_LEVEL_UNSPECIFIED",
            "MIN",
            "OPTIMAL",
            "MAX"
          ]
        }
      },
      "id": "PerformanceConfig",
      "type": "object"
    },
    "ConstraintEntity": {
      "type": "object",
      "description": "Constraint is not used as an independent entity, it is retrieved as part of another entity such as Table or View.",
      "id": "ConstraintEntity",
      "properties": {
        "referenceColumns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Reference columns which may be associated with the constraint. For example, if the constraint is a FOREIGN_KEY, this represents the list of full names of referenced columns by the foreign key."
        },
        "type": {
          "description": "Type of constraint, for example unique, primary key, foreign key (currently only primary key is supported).",
          "type": "string"
        },
        "tableName": {
          "type": "string",
          "description": "Table which is associated with the constraint. In case the constraint is defined on a table, this field is left empty as this information is stored in parent_name. However, if constraint is defined on a view, this field stores the table name on which the view is defined."
        },
        "customFeatures": {
          "description": "Custom engine specific features.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "tableColumns": {
          "type": "array",
          "description": "Table columns used as part of the Constraint, for example primary key constraint should list the columns which constitutes the key.",
          "items": {
            "type": "string"
          }
        },
        "referenceTable": {
          "type": "string",
          "description": "Reference table which may be associated with the constraint. For example, if the constraint is a FOREIGN_KEY, this represents the list of full name of the referenced table by the foreign key."
        },
        "name": {
          "type": "string",
          "description": "The name of the table constraint."
        }
      }
    },
    "EntityMapping": {
      "id": "EntityMapping",
      "type": "object",
      "description": "Details of the mappings of a database entity.",
      "properties": {
        "sourceType": {
          "enum": [
            "DATABASE_ENTITY_TYPE_UNSPECIFIED",
            "DATABASE_ENTITY_TYPE_SCHEMA",
            "DATABASE_ENTITY_TYPE_TABLE",
            "DATABASE_ENTITY_TYPE_COLUMN",
            "DATABASE_ENTITY_TYPE_CONSTRAINT",
            "DATABASE_ENTITY_TYPE_INDEX",
            "DATABASE_ENTITY_TYPE_TRIGGER",
            "DATABASE_ENTITY_TYPE_VIEW",
            "DATABASE_ENTITY_TYPE_SEQUENCE",
            "DATABASE_ENTITY_TYPE_STORED_PROCEDURE",
            "DATABASE_ENTITY_TYPE_FUNCTION",
            "DATABASE_ENTITY_TYPE_SYNONYM",
            "DATABASE_ENTITY_TYPE_DATABASE_PACKAGE",
            "DATABASE_ENTITY_TYPE_UDT",
            "DATABASE_ENTITY_TYPE_MATERIALIZED_VIEW",
            "DATABASE_ENTITY_TYPE_DATABASE"
          ],
          "enumDescriptions": [
            "Unspecified database entity type.",
            "Schema.",
            "Table.",
            "Column.",
            "Constraint.",
            "Index.",
            "Trigger.",
            "View.",
            "Sequence.",
            "Stored Procedure.",
            "Function.",
            "Synonym.",
            "Package.",
            "UDT.",
            "Materialized View.",
            "Database."
          ],
          "type": "string",
          "description": "Type of source entity."
        },
        "draftEntity": {
          "type": "string",
          "description": "Target entity full name. The draft entity can also include a column, index or constraint using the same naming notation schema.table.column."
        },
        "draftType": {
          "enumDescriptions": [
            "Unspecified database entity type.",
            "Schema.",
            "Table.",
            "Column.",
            "Constraint.",
            "Index.",
            "Trigger.",
            "View.",
            "Sequence.",
            "Stored Procedure.",
            "Function.",
            "Synonym.",
            "Package.",
            "UDT.",
            "Materialized View.",
            "Database."
          ],
          "description": "Type of draft entity.",
          "type": "string",
          "enum": [
            "DATABASE_ENTITY_TYPE_UNSPECIFIED",
            "DATABASE_ENTITY_TYPE_SCHEMA",
            "DATABASE_ENTITY_TYPE_TABLE",
            "DATABASE_ENTITY_TYPE_COLUMN",
            "DATABASE_ENTITY_TYPE_CONSTRAINT",
            "DATABASE_ENTITY_TYPE_INDEX",
            "DATABASE_ENTITY_TYPE_TRIGGER",
            "DATABASE_ENTITY_TYPE_VIEW",
            "DATABASE_ENTITY_TYPE_SEQUENCE",
            "DATABASE_ENTITY_TYPE_STORED_PROCEDURE",
            "DATABASE_ENTITY_TYPE_FUNCTION",
            "DATABASE_ENTITY_TYPE_SYNONYM",
            "DATABASE_ENTITY_TYPE_DATABASE_PACKAGE",
            "DATABASE_ENTITY_TYPE_UDT",
            "DATABASE_ENTITY_TYPE_MATERIALIZED_VIEW",
            "DATABASE_ENTITY_TYPE_DATABASE"
          ]
        },
        "mappingLog": {
          "items": {
            "$ref": "EntityMappingLogEntry"
          },
          "description": "Entity mapping log entries. Multiple rules can be effective and contribute changes to a converted entity, such as a rule can handle the entity name, another rule can handle an entity type. In addition, rules which did not change the entity are also logged along with the reason preventing them to do so.",
          "type": "array"
        },
        "sourceEntity": {
          "type": "string",
          "description": "Source entity full name. The source entity can also be a column, index or constraint using the same naming notation schema.table.column."
        }
      }
    },
    "CancelOperationRequest": {
      "properties": {},
      "type": "object",
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "SingleColumnChange": {
      "description": "Options to configure rule type SingleColumnChange. The rule is used to change the properties of a column. The rule filter field can refer to one entity. The rule scope can be one of: Column. When using this rule, if a field is not specified than the destination column's configuration will be the same as the one in the source column..",
      "id": "SingleColumnChange",
      "type": "object",
      "properties": {
        "fractionalSecondsPrecision": {
          "description": "Optional. Column fractional seconds precision - e.g. 2 as in timestamp (2) - when relevant.",
          "type": "integer",
          "format": "int32"
        },
        "customFeatures": {
          "description": "Optional. Custom engine specific features.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "precision": {
          "description": "Optional. Column precision - e.g. 8 as in double (8,2) - when relevant.",
          "type": "integer",
          "format": "int32"
        },
        "comment": {
          "type": "string",
          "description": "Optional. Comment associated with the column."
        },
        "autoGenerated": {
          "description": "Optional. Is the column auto-generated/identity.",
          "type": "boolean"
        },
        "udt": {
          "description": "Optional. Is the column a UDT (User-defined Type).",
          "type": "boolean"
        },
        "arrayLength": {
          "description": "Optional. The length of the array, only relevant if the column type is an array.",
          "type": "integer",
          "format": "int32"
        },
        "dataType": {
          "type": "string",
          "description": "Optional. Column data type name."
        },
        "setValues": {
          "type": "array",
          "description": "Optional. Specifies the list of values allowed in the column.",
          "items": {
            "type": "string"
          }
        },
        "nullable": {
          "type": "boolean",
          "description": "Optional. Is the column nullable."
        },
        "collation": {
          "description": "Optional. Collation override - instead of table level collation.",
          "type": "string"
        },
        "array": {
          "description": "Optional. Is the column of array type.",
          "type": "boolean"
        },
        "charset": {
          "type": "string",
          "description": "Optional. Charset override - instead of table level charset."
        },
        "scale": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Column scale - e.g. 2 as in double (8,2) - when relevant."
        },
        "length": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Column length - e.g. 50 as in varchar (50) - when relevant."
        }
      }
    },
    "DatabaseEntity": {
      "type": "object",
      "description": "The base entity type for all the database related entities. The message contains the entity name, the name of its parent, the entity type, and the specific details per entity type.",
      "properties": {
        "view": {
          "$ref": "ViewEntity",
          "description": "View."
        },
        "databaseFunction": {
          "description": "Function.",
          "$ref": "FunctionEntity"
        },
        "databasePackage": {
          "$ref": "PackageEntity",
          "description": "Package."
        },
        "shortName": {
          "description": "The short name (e.g. table name) of the entity.",
          "type": "string"
        },
        "storedProcedure": {
          "description": "Stored procedure.",
          "$ref": "StoredProcedureEntity"
        },
        "mappings": {
          "description": "Details about entity mappings. For source tree entities, this holds the draft entities which were generated by the mapping rules. For draft tree entities, this holds the source entities which were converted to form the draft entity. Destination entities will have no mapping details.",
          "items": {
            "$ref": "EntityMapping"
          },
          "type": "array"
        },
        "entityType": {
          "enumDescriptions": [
            "Unspecified database entity type.",
            "Schema.",
            "Table.",
            "Column.",
            "Constraint.",
            "Index.",
            "Trigger.",
            "View.",
            "Sequence.",
            "Stored Procedure.",
            "Function.",
            "Synonym.",
            "Package.",
            "UDT.",
            "Materialized View.",
            "Database."
          ],
          "enum": [
            "DATABASE_ENTITY_TYPE_UNSPECIFIED",
            "DATABASE_ENTITY_TYPE_SCHEMA",
            "DATABASE_ENTITY_TYPE_TABLE",
            "DATABASE_ENTITY_TYPE_COLUMN",
            "DATABASE_ENTITY_TYPE_CONSTRAINT",
            "DATABASE_ENTITY_TYPE_INDEX",
            "DATABASE_ENTITY_TYPE_TRIGGER",
            "DATABASE_ENTITY_TYPE_VIEW",
            "DATABASE_ENTITY_TYPE_SEQUENCE",
            "DATABASE_ENTITY_TYPE_STORED_PROCEDURE",
            "DATABASE_ENTITY_TYPE_FUNCTION",
            "DATABASE_ENTITY_TYPE_SYNONYM",
            "DATABASE_ENTITY_TYPE_DATABASE_PACKAGE",
            "DATABASE_ENTITY_TYPE_UDT",
            "DATABASE_ENTITY_TYPE_MATERIALIZED_VIEW",
            "DATABASE_ENTITY_TYPE_DATABASE"
          ],
          "description": "The type of the database entity (table, view, index, ...).",
          "type": "string"
        },
        "database": {
          "description": "Database.",
          "$ref": "DatabaseInstanceEntity"
        },
        "sequence": {
          "$ref": "SequenceEntity",
          "description": "Sequence."
        },
        "tree": {
          "enum": [
            "TREE_TYPE_UNSPECIFIED",
            "SOURCE",
            "DRAFT",
            "DESTINATION"
          ],
          "enumDescriptions": [
            "Tree type unspecified.",
            "Tree of entities loaded from a source database.",
            "Tree of entities converted from the source tree using the mapping rules.",
            "Tree of entities observed on the destination database."
          ],
          "type": "string",
          "description": "The type of tree the entity belongs to."
        },
        "table": {
          "description": "Table.",
          "$ref": "TableEntity"
        },
        "schema": {
          "$ref": "SchemaEntity",
          "description": "Schema."
        },
        "synonym": {
          "$ref": "SynonymEntity",
          "description": "Synonym."
        },
        "parentEntity": {
          "description": "The full name of the parent entity (e.g. schema name).",
          "type": "string"
        },
        "issues": {
          "type": "array",
          "items": {
            "$ref": "EntityIssue"
          },
          "description": "Details about the various issues found for the entity."
        },
        "materializedView": {
          "description": "Materialized view.",
          "$ref": "MaterializedViewEntity"
        },
        "udt": {
          "description": "UDT.",
          "$ref": "UDTEntity"
        },
        "entityDdl": {
          "type": "array",
          "items": {
            "$ref": "EntityDdl"
          },
          "description": "Details about the entity DDL script. Multiple DDL scripts are provided for child entities such as a table entity will have one DDL for the table with additional DDLs for each index, constraint and such."
        }
      },
      "id": "DatabaseEntity"
    },
    "PrivateConnectivity": {
      "type": "object",
      "id": "PrivateConnectivity",
      "description": "Private Connectivity.",
      "properties": {
        "privateConnection": {
          "type": "string",
          "description": "Required. The resource name (URI) of the private connection."
        }
      }
    },
    "StaticServiceIpConnectivity": {
      "id": "StaticServiceIpConnectivity",
      "type": "object",
      "description": "Static IP address connectivity configured on service project.",
      "properties": {}
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object",
      "id": "Empty"
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        },
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ConvertJobDetails": {
      "type": "object",
      "description": "Details regarding a Convert background job.",
      "id": "ConvertJobDetails",
      "properties": {
        "filter": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. AIP-160 based filter used to specify the entities to convert"
        }
      }
    },
    "ReverseSshConnectivity": {
      "description": "The details needed to configure a reverse SSH tunnel between the source and destination databases. These details will be used when calling the generateSshScript method (see https://cloud.google.com/database-migration/docs/reference/rest/v1/projects.locations.migrationJobs/generateSshScript) to produce the script that will help set up the reverse SSH tunnel, and to set up the VPC peering between the Cloud SQL private network and the VPC.",
      "properties": {
        "vmPort": {
          "type": "integer",
          "description": "Required. The forwarding port of the virtual machine (Compute Engine) used as the bastion server for the SSH tunnel.",
          "format": "int32"
        },
        "vm": {
          "description": "The name of the virtual machine (Compute Engine) used as the bastion server for the SSH tunnel.",
          "type": "string"
        },
        "vpc": {
          "type": "string",
          "description": "The name of the VPC to peer with the Cloud SQL private network."
        },
        "vmIp": {
          "description": "Required. The IP of the virtual machine (Compute Engine) used as the bastion server for the SSH tunnel.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ReverseSshConnectivity"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "DescribeDatabaseEntitiesResponse": {
      "type": "object",
      "id": "DescribeDatabaseEntitiesResponse",
      "properties": {
        "databaseEntities": {
          "items": {
            "$ref": "DatabaseEntity"
          },
          "type": "array",
          "description": "The list of database entities for the conversion workspace."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for 'DescribeDatabaseEntities' request."
    },
    "EntityMappingLogEntry": {
      "id": "EntityMappingLogEntry",
      "type": "object",
      "description": "A single record of a rule which was used for a mapping.",
      "properties": {
        "ruleId": {
          "type": "string",
          "description": "Which rule caused this log entry."
        },
        "ruleRevisionId": {
          "type": "string",
          "description": "Rule revision ID."
        },
        "mappingComment": {
          "description": "Comment.",
          "type": "string"
        }
      }
    },
    "ColumnEntity": {
      "properties": {
        "defaultValue": {
          "type": "string",
          "description": "Default value of the column."
        },
        "arrayLength": {
          "type": "integer",
          "description": "If the column is array, of which length.",
          "format": "int32"
        },
        "comment": {
          "description": "Comment associated with the column.",
          "type": "string"
        },
        "array": {
          "description": "Is the column of array type.",
          "type": "boolean"
        },
        "setValues": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the list of values allowed in the column. Only used for set data type."
        },
        "dataType": {
          "description": "Column data type.",
          "type": "string"
        },
        "length": {
          "format": "int64",
          "description": "Column length - e.g. varchar (50).",
          "type": "string"
        },
        "fractionalSecondsPrecision": {
          "description": "Column fractional second precision - used for timestamp based datatypes.",
          "type": "integer",
          "format": "int32"
        },
        "udt": {
          "description": "Is the column a UDT.",
          "type": "boolean"
        },
        "ordinalPosition": {
          "description": "Column order in the table.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string",
          "description": "Column name."
        },
        "collation": {
          "description": "Collation override - instead of table level collation.",
          "type": "string"
        },
        "scale": {
          "description": "Column scale - when relevant.",
          "format": "int32",
          "type": "integer"
        },
        "nullable": {
          "description": "Is the column nullable.",
          "type": "boolean"
        },
        "precision": {
          "type": "integer",
          "description": "Column precision - when relevant.",
          "format": "int32"
        },
        "charset": {
          "description": "Charset override - instead of table level charset.",
          "type": "string"
        },
        "autoGenerated": {
          "description": "Is the column auto-generated/identity.",
          "type": "boolean"
        },
        "customFeatures": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Custom engine specific features."
        }
      },
      "type": "object",
      "description": "Column is not used as an independent entity, it is retrieved as part of a Table entity.",
      "id": "ColumnEntity"
    },
    "ImportMappingRulesRequest": {
      "properties": {
        "autoCommit": {
          "type": "boolean",
          "description": "Required. Should the conversion workspace be committed automatically after the import operation."
        },
        "rulesFormat": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified rules format.",
            "HarbourBridge session file.",
            "Ora2Pg configuration file."
          ],
          "description": "Required. The format of the rules content file.",
          "enum": [
            "IMPORT_RULES_FILE_FORMAT_UNSPECIFIED",
            "IMPORT_RULES_FILE_FORMAT_HARBOUR_BRIDGE_SESSION_FILE",
            "IMPORT_RULES_FILE_FORMAT_ORATOPG_CONFIG_FILE"
          ]
        },
        "rulesFiles": {
          "items": {
            "$ref": "RulesFile"
          },
          "type": "array",
          "description": "Required. One or more rules files."
        }
      },
      "type": "object",
      "id": "ImportMappingRulesRequest",
      "description": "Request message for 'ImportMappingRules' request."
    },
    "RulesFile": {
      "type": "object",
      "description": "Details of a single rules file.",
      "properties": {
        "rulesSourceFilename": {
          "type": "string",
          "description": "Required. The filename of the rules that needs to be converted. The filename is used mainly so that future logs of the import rules job contain it, and can therefore be searched by it."
        },
        "rulesContent": {
          "type": "string",
          "description": "Required. The text content of the rules that needs to be converted."
        }
      },
      "id": "RulesFile"
    },
    "MappingRule": {
      "type": "object",
      "id": "MappingRule",
      "description": "Definition of a transformation that is to be applied to a group of entities in the source schema. Several such transformations can be applied to an entity sequentially to define the corresponding entity in the target schema.",
      "properties": {
        "revisionCreateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp that the revision was created."
        },
        "singleEntityRename": {
          "description": "Optional. Rule to specify how a single entity should be renamed.",
          "$ref": "SingleEntityRename"
        },
        "name": {
          "description": "Full name of the mapping rule resource, in the form of: projects/{project}/locations/{location}/conversionWorkspaces/{set}/mappingRule/{rule}.",
          "type": "string"
        },
        "singleColumnChange": {
          "description": "Optional. Rule to specify how a single column is converted.",
          "$ref": "SingleColumnChange"
        },
        "filter": {
          "$ref": "MappingRuleFilter",
          "description": "Required. The rule filter"
        },
        "multiEntityRename": {
          "$ref": "MultiEntityRename",
          "description": "Optional. Rule to specify how multiple entities should be renamed."
        },
        "setTablePrimaryKey": {
          "description": "Optional. Rule to specify the primary key for a table",
          "$ref": "SetTablePrimaryKey"
        },
        "ruleScope": {
          "enum": [
            "DATABASE_ENTITY_TYPE_UNSPECIFIED",
            "DATABASE_ENTITY_TYPE_SCHEMA",
            "DATABASE_ENTITY_TYPE_TABLE",
            "DATABASE_ENTITY_TYPE_COLUMN",
            "DATABASE_ENTITY_TYPE_CONSTRAINT",
            "DATABASE_ENTITY_TYPE_INDEX",
            "DATABASE_ENTITY_TYPE_TRIGGER",
            "DATABASE_ENTITY_TYPE_VIEW",
            "DATABASE_ENTITY_TYPE_SEQUENCE",
            "DATABASE_ENTITY_TYPE_STORED_PROCEDURE",
            "DATABASE_ENTITY_TYPE_FUNCTION",
            "DATABASE_ENTITY_TYPE_SYNONYM",
            "DATABASE_ENTITY_TYPE_DATABASE_PACKAGE",
            "DATABASE_ENTITY_TYPE_UDT",
            "DATABASE_ENTITY_TYPE_MATERIALIZED_VIEW",
            "DATABASE_ENTITY_TYPE_DATABASE"
          ],
          "type": "string",
          "description": "Required. The rule scope",
          "enumDescriptions": [
            "Unspecified database entity type.",
            "Schema.",
            "Table.",
            "Column.",
            "Constraint.",
            "Index.",
            "Trigger.",
            "View.",
            "Sequence.",
            "Stored Procedure.",
            "Function.",
            "Synonym.",
            "Package.",
            "UDT.",
            "Materialized View.",
            "Database."
          ]
        },
        "multiColumnDataTypeChange": {
          "description": "Optional. Rule to specify how multiple columns should be converted to a different data type.",
          "$ref": "MultiColumnDatatypeChange"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. A human readable name"
        },
        "ruleOrder": {
          "description": "Required. The order in which the rule is applied. Lower order rules are applied before higher value rules so they may end up being overridden.",
          "type": "string",
          "format": "int64"
        },
        "revisionId": {
          "readOnly": true,
          "description": "Output only. The revision ID of the mapping rule. A new revision is committed whenever the mapping rule is changed in any way. The format is an 8-character hexadecimal string.",
          "type": "string"
        },
        "convertRowidColumn": {
          "description": "Optional. Rule to specify how multiple tables should be converted with an additional rowid column.",
          "$ref": "ConvertRowIdToColumn"
        },
        "entityMove": {
          "$ref": "EntityMove",
          "description": "Optional. Rule to specify how multiple entities should be relocated into a different schema."
        },
        "state": {
          "enumDescriptions": [
            "The state of the mapping rule is unknown.",
            "The rule is enabled.",
            "The rule is disabled.",
            "The rule is logically deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "DELETED"
          ],
          "description": "Optional. The mapping rule state",
          "type": "string"
        },
        "singlePackageChange": {
          "description": "Optional. Rule to specify how a single package is converted.",
          "$ref": "SinglePackageChange"
        },
        "conditionalColumnSetValue": {
          "description": "Optional. Rule to specify how the data contained in a column should be transformed (such as trimmed, rounded, etc) provided that the data meets certain criteria.",
          "$ref": "ConditionalColumnSetValue"
        },
        "sourceSqlChange": {
          "description": "Optional. Rule to change the sql code for an entity, for example, function, procedure.",
          "$ref": "SourceSqlChange"
        },
        "filterTableColumns": {
          "description": "Optional. Rule to specify the list of columns to include or exclude from a table.",
          "$ref": "FilterTableColumns"
        }
      }
    },
    "SqlIpConfig": {
      "id": "SqlIpConfig",
      "properties": {
        "enableIpv4": {
          "description": "Whether the instance should be assigned an IPv4 address or not.",
          "type": "boolean"
        },
        "allocatedIpRange": {
          "description": "Optional. The name of the allocated IP address range for the private IP Cloud SQL instance. This name refers to an already allocated IP range address. If set, the instance IP address will be created in the allocated range. Note that this IP address range can't be modified after the instance is created. If you change the VPC when configuring connectivity settings for the migration job, this field is not relevant.",
          "type": "string"
        },
        "privateNetwork": {
          "type": "string",
          "description": "The resource link for the VPC network from which the Cloud SQL instance is accessible for private IP. For example, `projects/myProject/global/networks/default`. This setting can be updated, but it cannot be removed after it is set."
        },
        "authorizedNetworks": {
          "items": {
            "$ref": "SqlAclEntry"
          },
          "description": "The list of external networks that are allowed to connect to the instance using the IP. See https://en.wikipedia.org/wiki/CIDR_notation#CIDR_notation, also known as 'slash' notation (e.g. `192.168.100.0/24`).",
          "type": "array"
        },
        "requireSsl": {
          "description": "Whether SSL connections over IP should be enforced or not.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "IP Management configuration."
    },
    "FilterTableColumns": {
      "properties": {
        "excludeColumns": {
          "description": "Optional. List of columns to be excluded for a particular table.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "includeColumns": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of columns to be included for a particular table.",
          "type": "array"
        }
      },
      "id": "FilterTableColumns",
      "description": "Options to configure rule type FilterTableColumns. The rule is used to filter the list of columns to include or exclude from a table. The rule filter field can refer to one entity. The rule scope can be: Table Only one of the two lists can be specified for the rule.",
      "type": "object"
    },
    "VpcPeeringConnectivity": {
      "id": "VpcPeeringConnectivity",
      "description": "The details of the VPC where the source database is located in Google Cloud. We will use this information to set up the VPC peering connection between Cloud SQL and this VPC.",
      "type": "object",
      "properties": {
        "vpc": {
          "description": "The name of the VPC network to peer with the Cloud SQL private network.",
          "type": "string"
        }
      }
    },
    "TcpProxyScript": {
      "type": "object",
      "id": "TcpProxyScript",
      "properties": {
        "script": {
          "description": "The TCP Proxy configuration script.",
          "type": "string"
        }
      },
      "description": "Response message for 'GenerateTcpProxyScript' request."
    },
    "MigrationJob": {
      "description": "Represents a Database Migration Service migration job object.",
      "properties": {
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the migration job resource was last updated. A timestamp in RFC3339 UTC \"Zulu\" format, accurate to nanoseconds. Example: \"2014-10-02T15:01:23.045123456Z\".",
          "format": "google-datetime"
        },
        "staticIpConnectivity": {
          "description": "static ip connectivity data (default, no additional details needed).",
          "$ref": "StaticIpConnectivity"
        },
        "phase": {
          "enumDescriptions": [
            "The phase of the migration job is unknown.",
            "The migration job is in the full dump phase.",
            "The migration job is CDC phase.",
            "The migration job is running the promote phase.",
            "Only RDS flow - waiting for source writes to stop",
            "Only RDS flow - the sources writes stopped, waiting for dump to begin"
          ],
          "type": "string",
          "description": "Output only. The current migration job phase.",
          "readOnly": true,
          "enum": [
            "PHASE_UNSPECIFIED",
            "FULL_DUMP",
            "CDC",
            "PROMOTE_IN_PROGRESS",
            "WAITING_FOR_SOURCE_WRITES_TO_STOP",
            "PREPARING_THE_DUMP"
          ]
        },
        "displayName": {
          "description": "The migration job display name.",
          "type": "string"
        },
        "cmekKeyName": {
[...]
