{
  "discoveryVersion": "v1",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://dataflow.mtls.googleapis.com/",
  "schemas": {
    "HotKeyInfo": {
      "id": "HotKeyInfo",
      "description": "Information about a hot key.",
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "A detected hot key that is causing limited parallelism. This field will be populated only if the following flag is set to true: \"--enable_hot_key_logging\"."
        },
        "hotKeyAge": {
          "format": "google-duration",
          "description": "The age of the hot key measured from when it was first detected.",
          "type": "string"
        },
        "keyTruncated": {
          "type": "boolean",
          "description": "If true, then the above key is truncated and cannot be deserialized. This occurs if the key above is populated and the key size is \u003e5MB."
        }
      }
    },
    "FailedLocation": {
      "id": "FailedLocation",
      "type": "object",
      "description": "Indicates which [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) failed to respond to a request for data.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that failed to respond."
        }
      }
    },
    "LeaseWorkItemResponse": {
      "description": "Response to a request to lease WorkItems.",
      "type": "object",
      "id": "LeaseWorkItemResponse",
      "properties": {
        "unifiedWorkerResponse": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Untranslated bag-of-bytes WorkResponse for UnifiedWorker."
        },
        "workItems": {
          "items": {
            "$ref": "WorkItem"
          },
          "description": "A list of the leased WorkItems.",
          "type": "array"
        }
      }
    },
    "StreamingApplianceSnapshotConfig": {
      "description": "Streaming appliance snapshot configuration.",
      "type": "object",
      "properties": {
        "importStateEndpoint": {
          "description": "Indicates which endpoint is used to import appliance state.",
          "type": "string"
        },
        "snapshotId": {
          "description": "If set, indicates the snapshot id for the snapshot being performed.",
          "type": "string"
        }
      },
      "id": "StreamingApplianceSnapshotConfig"
    },
    "FlexTemplateRuntimeEnvironment": {
      "type": "object",
      "properties": {
        "tempLocation": {
          "type": "string",
          "description": "The Cloud Storage path to use for temporary files. Must be a valid Cloud Storage URL, beginning with `gs://`."
        },
        "additionalUserLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional user labels to be specified for the job. Keys and values must follow the restrictions specified in the [labeling restrictions](https://cloud.google.com/compute/docs/labeling-resources#restrictions) page. An object containing a list of \"key\": value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1kg\", \"count\": \"3\" }."
        },
        "saveHeapDumpsToGcsPath": {
          "type": "string",
          "description": "Cloud Storage bucket (directory) to upload heap dumps to. Enabling this field implies that `dump_heap_on_oom` is set to true."
        },
        "workerZone": {
          "description": "The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity. If both `worker_zone` and `zone` are set, `worker_zone` takes precedence.",
          "type": "string"
        },
        "additionalExperiments": {
          "description": "Additional experiment flags for the job.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "workerRegion": {
          "description": "The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, default to the control plane's region.",
          "type": "string"
        },
        "stagingLocation": {
          "type": "string",
          "description": "The Cloud Storage path for staging local files. Must be a valid Cloud Storage URL, beginning with `gs://`."
        },
        "network": {
          "type": "string",
          "description": "Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\"."
        },
        "kmsKeyName": {
          "description": "Name for the Cloud KMS key for the job. Key format is: projects//locations//keyRings//cryptoKeys/",
          "type": "string"
        },
        "flexrsGoal": {
          "enumDescriptions": [
            "Run in the default mode.",
            "Optimize for lower execution time.",
            "Optimize for lower cost."
          ],
          "description": "Set FlexRS goal for the job. https://cloud.google.com/dataflow/docs/guides/flexrs",
          "enum": [
            "FLEXRS_UNSPECIFIED",
            "FLEXRS_SPEED_OPTIMIZED",
            "FLEXRS_COST_OPTIMIZED"
          ],
          "type": "string"
        },
        "serviceAccountEmail": {
          "description": "The email address of the service account to run the job as.",
          "type": "string"
        },
        "enableStreamingEngine": {
          "description": "Whether to enable Streaming Engine for the job.",
          "type": "boolean"
        },
        "maxWorkers": {
          "description": "The maximum number of Google Compute Engine instances to be made available to your pipeline during execution, from 1 to 1000.",
          "type": "integer",
          "format": "int32"
        },
        "enableLauncherVmSerialPortLogging": {
          "type": "boolean",
          "description": "If true serial port logging will be enabled for the launcher VM."
        },
        "numWorkers": {
          "format": "int32",
          "type": "integer",
          "description": "The initial number of Google Compute Engine instances for the job."
        },
        "launcherMachineType": {
          "type": "string",
          "description": "The machine type to use for launching the job. The default is n1-standard-1."
        },
        "zone": {
          "description": "The Compute Engine [availability zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones) for launching worker instances to run your pipeline. In the future, worker_zone will take precedence.",
          "type": "string"
        },
        "autoscalingAlgorithm": {
          "enumDescriptions": [
            "The algorithm is unknown, or unspecified.",
            "Disable autoscaling.",
            "Increase worker count over time to reduce job execution time."
          ],
          "enum": [
            "AUTOSCALING_ALGORITHM_UNKNOWN",
            "AUTOSCALING_ALGORITHM_NONE",
            "AUTOSCALING_ALGORITHM_BASIC"
          ],
          "type": "string",
          "description": "The algorithm to use for autoscaling"
        },
        "machineType": {
          "description": "The machine type to use for the job. Defaults to the value from the template if not specified.",
          "type": "string"
        },
        "sdkContainerImage": {
          "description": "Docker registry location of container image to use for the 'worker harness. Default is the container for the version of the SDK. Note this field is only valid for portable pipelines.",
          "type": "string"
        },
        "ipConfiguration": {
          "type": "string",
          "description": "Configuration for VM IPs.",
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ],
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ]
        },
        "diskSizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Worker disk size, in gigabytes."
        },
        "dumpHeapOnOom": {
          "description": "If true, when processing time is spent almost entirely on garbage collection (GC), saves a heap dump before ending the thread or process. If false, ends the thread or process without saving a heap dump. Does not save a heap dump when the Java Virtual Machine (JVM) has an out of memory error during processing. The location of the heap file is either echoed back to the user, or the user is given the opportunity to download the heap file.",
          "type": "boolean"
        },
        "subnetwork": {
          "description": "Subnetwork to which VMs will be assigned, if desired. You can specify a subnetwork using either a complete URL or an abbreviated path. Expected to be of the form \"https://www.googleapis.com/compute/v1/projects/HOST_PROJECT_ID/regions/REGION/subnetworks/SUBNETWORK\" or \"regions/REGION/subnetworks/SUBNETWORK\". If the subnetwork is located in a Shared VPC network, you must use the complete URL.",
          "type": "string"
        }
      },
      "id": "FlexTemplateRuntimeEnvironment",
      "description": "The environment values to be set at runtime for flex template."
    },
    "GetDebugConfigResponse": {
      "description": "Response to a get debug configuration request.",
      "properties": {
        "config": {
          "type": "string",
          "description": "The encoded debug configuration for the requested component."
        }
      },
      "id": "GetDebugConfigResponse",
      "type": "object"
    },
    "ComponentSource": {
      "properties": {
        "name": {
          "description": "Dataflow service generated name for this source.",
          "type": "string"
        },
        "userName": {
          "description": "Human-readable name for this transform; may be user or system generated.",
          "type": "string"
        },
        "originalTransformOrCollection": {
          "description": "User name for the original user transform or collection with which this source is most closely associated.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Description of an interstitial value between transforms in an execution stage.",
      "id": "ComponentSource"
    },
    "QueryInfo": {
      "id": "QueryInfo",
      "properties": {
        "queryProperty": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The query property is unknown or unspecified.",
              "Indicates this query reads from \u003e= 1 unbounded source."
            ],
            "enum": [
              "QUERY_PROPERTY_UNSPECIFIED",
              "HAS_UNBOUNDED_SOURCE"
            ]
          },
          "description": "Includes an entry for each satisfied QueryProperty.",
          "type": "array"
        }
      },
      "description": "Information about a validated query.",
      "type": "object"
    },
    "ValidateResponse": {
      "description": "Response to the validation request.",
      "id": "ValidateResponse",
      "properties": {
        "queryInfo": {
          "$ref": "QueryInfo",
          "description": "Information about the validated query. Not defined if validation fails."
        },
        "errorMessage": {
          "description": "Will be empty if validation succeeds.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Point": {
      "description": "A point in the timeseries.",
      "properties": {
        "value": {
          "type": "number",
          "description": "The value of the point.",
          "format": "double"
        },
        "time": {
          "description": "The timestamp of the point.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Point",
      "type": "object"
    },
    "ExecutionStageSummary": {
      "id": "ExecutionStageSummary",
      "properties": {
        "name": {
          "type": "string",
          "description": "Dataflow service generated name for this stage."
        },
        "componentSource": {
          "items": {
            "$ref": "ComponentSource"
          },
          "type": "array",
          "description": "Collections produced and consumed by component transforms of this stage."
        },
        "kind": {
          "description": "Type of transform this stage is executing.",
          "type": "string",
          "enumDescriptions": [
            "Unrecognized transform type.",
            "ParDo transform.",
            "Group By Key transform.",
            "Flatten transform.",
            "Read transform.",
            "Write transform.",
            "Constructs from a constant value, such as with Create.of.",
            "Creates a Singleton view of a collection.",
            "Opening or closing a shuffle session, often as part of a GroupByKey."
          ],
          "enum": [
            "UNKNOWN_KIND",
            "PAR_DO_KIND",
            "GROUP_BY_KEY_KIND",
            "FLATTEN_KIND",
            "READ_KIND",
            "WRITE_KIND",
            "CONSTANT_KIND",
            "SINGLETON_KIND",
            "SHUFFLE_KIND"
          ]
        },
        "id": {
          "description": "Dataflow service generated id for this stage.",
          "type": "string"
        },
        "componentTransform": {
          "items": {
            "$ref": "ComponentTransform"
          },
          "type": "array",
          "description": "Transforms that comprise this execution stage."
        },
        "outputSource": {
          "items": {
            "$ref": "StageSource"
          },
          "description": "Output sources for this stage.",
          "type": "array"
        },
        "prerequisiteStage": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Other stages that must complete before this stage can run."
        },
        "inputSource": {
          "description": "Input sources for this stage.",
          "type": "array",
          "items": {
            "$ref": "StageSource"
          }
        }
      },
      "description": "Description of the composing transforms, names/ids, and input/outputs of a stage of execution. Some composing transforms and sources may have been generated by the Dataflow service during execution planning.",
      "type": "object"
    },
    "CustomSourceLocation": {
      "description": "Identifies the location of a custom souce.",
      "type": "object",
      "properties": {
        "stateful": {
          "description": "Whether this source is stateful.",
          "type": "boolean"
        }
      },
      "id": "CustomSourceLocation"
    },
    "ComputationTopology": {
      "type": "object",
      "id": "ComputationTopology",
      "description": "All configuration data for a particular Computation.",
      "properties": {
        "stateFamilies": {
          "type": "array",
          "description": "The state family values.",
          "items": {
            "$ref": "StateFamilyConfig"
          }
        },
        "inputs": {
          "items": {
            "$ref": "StreamLocation"
          },
          "type": "array",
          "description": "The inputs to the computation."
        },
        "outputs": {
          "description": "The outputs from the computation.",
          "items": {
            "$ref": "StreamLocation"
          },
          "type": "array"
        },
        "systemStageName": {
          "type": "string",
          "description": "The system stage name."
        },
        "keyRanges": {
          "description": "The key ranges processed by the computation.",
          "items": {
            "$ref": "KeyRangeLocation"
          },
          "type": "array"
        },
        "computationId": {
          "type": "string",
          "description": "The ID of the computation."
        }
      }
    },
    "StragglerInfo": {
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the work item attempt became a straggler."
        },
        "causes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "StragglerDebuggingInfo"
          },
          "description": "The straggler causes, keyed by the string representation of the StragglerCause enum and contains specialized debugging information for each straggler cause."
        }
      },
      "id": "StragglerInfo",
      "description": "Information useful for straggler identification and debugging."
    },
    "SendWorkerMessagesResponse": {
      "description": "The response to the worker messages.",
      "type": "object",
      "properties": {
        "workerMessageResponses": {
          "items": {
            "$ref": "WorkerMessageResponse"
          },
          "type": "array",
          "description": "The servers response to the worker messages."
        }
      },
      "id": "SendWorkerMessagesResponse"
    },
    "WorkerPool": {
      "properties": {
        "machineType": {
          "description": "Machine type (e.g. \"n1-standard-1\"). If empty or unspecified, the service will attempt to choose a reasonable default.",
          "type": "string"
        },
        "packages": {
          "description": "Packages to be installed on workers.",
          "type": "array",
          "items": {
            "$ref": "Package"
          }
        },
        "numWorkers": {
          "format": "int32",
          "type": "integer",
          "description": "Number of Google Compute Engine workers in this pool needed to execute the job. If zero or unspecified, the service will attempt to choose a reasonable default."
        },
        "ipConfiguration": {
          "type": "string",
          "description": "Configuration for VM IPs.",
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ],
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ]
        },
        "teardownPolicy": {
          "enum": [
            "TEARDOWN_POLICY_UNKNOWN",
            "TEARDOWN_ALWAYS",
            "TEARDOWN_ON_SUCCESS",
            "TEARDOWN_NEVER"
          ],
          "type": "string",
          "description": "Sets the policy for determining when to turndown worker pool. Allowed values are: `TEARDOWN_ALWAYS`, `TEARDOWN_ON_SUCCESS`, and `TEARDOWN_NEVER`. `TEARDOWN_ALWAYS` means workers are always torn down regardless of whether the job succeeds. `TEARDOWN_ON_SUCCESS` means workers are torn down if the job succeeds. `TEARDOWN_NEVER` means the workers are never torn down. If the workers are not torn down by the service, they will continue to run and use Google Compute Engine VM resources in the user's project until they are explicitly terminated by the user. Because of this, Google recommends using the `TEARDOWN_ALWAYS` policy except for small, manually supervised test jobs. If unknown or unspecified, the service will attempt to choose a reasonable default.",
          "enumDescriptions": [
            "The teardown policy isn't specified, or is unknown.",
            "Always teardown the resource.",
            "Teardown the resource on success. This is useful for debugging failures.",
            "Never teardown the resource. This is useful for debugging and development."
          ]
        },
        "diskSourceImage": {
          "description": "Fully qualified source image for disks.",
          "type": "string"
        },
        "dataDisks": {
          "items": {
            "$ref": "Disk"
          },
          "type": "array",
          "description": "Data disks that are used by a VM in this workflow."
        },
        "onHostMaintenance": {
          "description": "The action to take on host maintenance, as defined by the Google Compute Engine API.",
          "type": "string"
        },
        "taskrunnerSettings": {
          "description": "Settings passed through to Google Compute Engine workers when using the standard Dataflow task runner. Users should ignore this field.",
          "$ref": "TaskRunnerSettings"
        },
        "kind": {
          "type": "string",
          "description": "The kind of the worker pool; currently only `harness` and `shuffle` are supported."
        },
        "metadata": {
          "description": "Metadata to set on the Google Compute Engine VMs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "numThreadsPerWorker": {
          "description": "The number of threads per worker harness. If empty or unspecified, the service will choose a number of threads (according to the number of cores on the selected machine type for batch, or 1 by convention for streaming).",
          "type": "integer",
          "format": "int32"
        },
        "diskType": {
          "description": "Type of root disk for VMs. If empty or unspecified, the service will attempt to choose a reasonable default.",
          "type": "string"
        },
        "defaultPackageSet": {
          "enum": [
            "DEFAULT_PACKAGE_SET_UNKNOWN",
            "DEFAULT_PACKAGE_SET_NONE",
            "DEFAULT_PACKAGE_SET_JAVA",
            "DEFAULT_PACKAGE_SET_PYTHON"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default set of packages to stage is unknown, or unspecified.",
            "Indicates that no packages should be staged at the worker unless explicitly specified by the job.",
            "Stage packages typically useful to workers written in Java.",
            "Stage packages typically useful to workers written in Python."
          ],
          "description": "The default package set to install. This allows the service to select a default set of packages which are useful to worker harnesses written in a particular language."
        },
        "network": {
          "description": "Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\".",
          "type": "string"
        },
        "workerHarnessContainerImage": {
          "description": "Required. Docker container image that executes the Cloud Dataflow worker harness, residing in Google Container Registry. Deprecated for the Fn API path. Use sdk_harness_container_images instead.",
          "type": "string"
        },
        "autoscalingSettings": {
          "description": "Settings for autoscaling of this WorkerPool.",
          "$ref": "AutoscalingSettings"
        },
        "subnetwork": {
          "description": "Subnetwork to which VMs will be assigned, if desired. Expected to be of the form \"regions/REGION/subnetworks/SUBNETWORK\".",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Zone to run the worker pools in. If empty or unspecified, the service will attempt to choose a reasonable default."
        },
        "poolArgs": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Extra arguments for this worker pool.",
          "type": "object"
        },
        "sdkHarnessContainerImages": {
          "items": {
            "$ref": "SdkHarnessContainerImage"
          },
          "type": "array",
          "description": "Set of SDK harness containers needed to execute this pipeline. This will only be set in the Fn API path. For non-cross-language pipelines this should have only one entry. Cross-language pipelines will have two or more entries."
        },
        "diskSizeGb": {
          "type": "integer",
          "description": "Size of root disk for VMs, in GB. If zero or unspecified, the service will attempt to choose a reasonable default.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Describes one particular pool of Cloud Dataflow workers to be instantiated by the Cloud Dataflow service in order to perform the computations required by a job. Note that a workflow job may use multiple pools, in order to match the various computational requirements of the various stages of the job.",
      "id": "WorkerPool"
    },
    "ProgressTimeseries": {
      "description": "Information about the progress of some component of job execution.",
      "properties": {
        "currentProgress": {
          "type": "number",
          "format": "double",
          "description": "The current progress of the component, in the range [0,1]."
        },
        "dataPoints": {
          "type": "array",
          "description": "History of progress for the component. Points are sorted by time.",
          "items": {
            "$ref": "Point"
          }
        }
      },
      "type": "object",
      "id": "ProgressTimeseries"
    },
    "SourceSplitShard": {
      "id": "SourceSplitShard",
      "description": "DEPRECATED in favor of DerivedSource.",
      "properties": {
        "derivationMode": {
          "enumDescriptions": [
            "The source derivation is unknown, or unspecified.",
            "Produce a completely independent Source with no base.",
            "Produce a Source based on the Source being split.",
            "Produce a Source based on the base of the Source being split."
          ],
          "enum": [
            "SOURCE_DERIVATION_MODE_UNKNOWN",
            "SOURCE_DERIVATION_MODE_INDEPENDENT",
            "SOURCE_DERIVATION_MODE_CHILD_OF_CURRENT",
            "SOURCE_DERIVATION_MODE_SIBLING_OF_CURRENT"
          ],
          "type": "string",
          "description": "DEPRECATED"
        },
        "source": {
          "$ref": "Source",
          "description": "DEPRECATED"
        }
      },
      "type": "object"
    },
    "HotKeyDetection": {
      "type": "object",
      "description": "Proto describing a hot key detected on a given WorkItem.",
      "properties": {
        "hotKeyAge": {
          "format": "google-duration",
          "description": "The age of the hot key measured from when it was first detected.",
          "type": "string"
        },
        "userStepName": {
          "description": "User-provided name of the step that contains this hot key.",
          "type": "string"
        },
        "systemName": {
          "description": "System-defined name of the step containing this hot key. Unique across the workflow.",
          "type": "string"
        }
      },
      "id": "HotKeyDetection"
    },
    "CreateJobFromTemplateRequest": {
      "id": "CreateJobFromTemplateRequest",
      "properties": {
        "environment": {
          "$ref": "RuntimeEnvironment",
          "description": "The runtime environment for the job."
        },
        "location": {
          "type": "string",
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request."
        },
        "parameters": {
          "type": "object",
          "description": "The runtime parameters to pass to the job.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "jobName": {
          "description": "Required. The job name to use for the created job.",
          "type": "string"
        },
        "gcsPath": {
          "type": "string",
          "description": "Required. A Cloud Storage path to the template from which to create the job. Must be a valid Cloud Storage URL, beginning with `gs://`."
        }
      },
      "description": "A request to create a Cloud Dataflow job from a template.",
      "type": "object"
    },
    "MemInfo": {
      "properties": {
        "timestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp of the measurement."
        },
        "currentRssBytes": {
          "format": "uint64",
          "description": "Instantenous memory (RSS) size in bytes.",
          "type": "string"
        },
        "totalGbMs": {
          "type": "string",
          "description": "Total memory (RSS) usage since start up in GB * ms.",
          "format": "uint64"
        },
        "currentLimitBytes": {
          "description": "Instantenous memory limit in bytes.",
          "format": "uint64",
          "type": "string"
        },
        "currentOoms": {
          "format": "int64",
          "description": "Number of Out of Memory (OOM) events recorded since the previous measurement.",
          "type": "string"
        }
      },
      "description": "Information about the memory usage of a worker or a container within a worker.",
      "type": "object",
      "id": "MemInfo"
    },
    "SpannerIODetails": {
      "description": "Metadata for a Spanner connector used by the job.",
      "properties": {
        "databaseId": {
          "type": "string",
          "description": "DatabaseId accessed in the connection."
        },
        "projectId": {
          "type": "string",
          "description": "ProjectId accessed in the connection."
        },
        "instanceId": {
          "type": "string",
          "description": "InstanceId accessed in the connection."
        }
      },
      "type": "object",
      "id": "SpannerIODetails"
    },
    "Histogram": {
      "type": "object",
      "properties": {
        "bucketCounts": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Counts of values in each bucket. For efficiency, prefix and trailing buckets with count = 0 are elided. Buckets can store the full range of values of an unsigned long, with ULLONG_MAX falling into the 59th bucket with range [1e19, 2e19)."
        },
        "firstBucketOffset": {
          "format": "int32",
          "description": "Starting index of first stored bucket. The non-inclusive upper-bound of the ith bucket is given by: pow(10,(i-first_bucket_offset)/3) * (1,2,5)[(i-first_bucket_offset)%3]",
          "type": "integer"
        }
      },
      "id": "Histogram",
      "description": "Histogram of value counts for a distribution. Buckets have an inclusive lower bound and exclusive upper bound and use \"1,2,5 bucketing\": The first bucket range is from [0,1) and all subsequent bucket boundaries are powers of ten multiplied by 1, 2, or 5. Thus, bucket boundaries are 0, 1, 2, 5, 10, 20, 50, 100, 200, 500, 1000, ... Negative values are not supported."
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object"
    },
    "JobExecutionDetails": {
      "id": "JobExecutionDetails",
      "properties": {
        "stages": {
          "items": {
            "$ref": "StageSummary"
          },
          "description": "The stages of the job execution.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If present, this response does not contain all requested tasks. To obtain the next page of results, repeat the request with page_token set to this value."
        }
      },
      "description": "Information about the execution of a job.",
      "type": "object"
    },
    "WriteInstruction": {
      "description": "An instruction that writes records. Takes one input, produces no outputs.",
      "id": "WriteInstruction",
      "properties": {
        "sink": {
          "$ref": "Sink",
          "description": "The sink to write to."
        },
        "input": {
          "$ref": "InstructionInput",
          "description": "The input."
        }
      },
      "type": "object"
    },
    "GetDebugConfigRequest": {
      "type": "object",
      "properties": {
        "workerId": {
          "description": "The worker id, i.e., VM hostname.",
          "type": "string"
        },
        "componentId": {
          "type": "string",
          "description": "The internal component id for which debug configuration is requested."
        },
        "location": {
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
          "type": "string"
        }
      },
      "id": "GetDebugConfigRequest",
      "description": "Request to get updated debug configuration for component."
    },
    "WorkItemServiceState": {
      "type": "object",
      "description": "The Dataflow service's idea of the current state of a WorkItem being processed by a worker.",
      "id": "WorkItemServiceState",
      "properties": {
        "suggestedStopPoint": {
          "description": "DEPRECATED in favor of split_request.",
          "$ref": "ApproximateProgress"
        },
        "completeWorkStatus": {
          "$ref": "Status",
          "description": "If set, a request to complete the work item with the given status. This will not be set to OK, unless supported by the specific kind of WorkItem. It can be used for the backend to indicate a WorkItem must terminate, e.g., for aborting work."
        },
        "splitRequest": {
          "description": "The progress point in the WorkItem where the Dataflow service suggests that the worker truncate the task.",
          "$ref": "ApproximateSplitRequest"
        },
        "leaseExpireTime": {
          "description": "Time at which the current lease will expire.",
          "type": "string",
          "format": "google-datetime"
        },
        "reportStatusInterval": {
          "type": "string",
          "description": "New recommended reporting interval.",
          "format": "google-duration"
        },
        "suggestedStopPosition": {
          "description": "Obsolete, always empty.",
          "$ref": "Position"
        },
        "metricShortId": {
          "type": "array",
          "items": {
            "$ref": "MetricShortId"
          },
          "description": "The short ids that workers should use in subsequent metric updates. Workers should strive to use short ids whenever possible, but it is ok to request the short_id again if a worker lost track of it (e.g. if the worker is recovering from a crash). NOTE: it is possible that the response may have short ids for a subset of the metrics."
        },
        "hotKeyDetection": {
          "$ref": "HotKeyDetection",
          "description": "A hot key is a symptom of poor data distribution in which there are enough elements mapped to a single key to impact pipeline performance. When present, this field includes metadata associated with any hot key."
        },
        "harnessData": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Other data returned by the service, specific to the particular worker harness."
        },
        "nextReportIndex": {
          "description": "The index value to use for the next report sent by the worker. Note: If the report call fails for whatever reason, the worker should reuse this index for subsequent report attempts.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "Source": {
      "properties": {
        "spec": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The source to read from, plus its parameters."
        },
        "doesNotNeedSplitting": {
          "description": "Setting this value to true hints to the framework that the source doesn't need splitting, and using SourceSplitRequest on it would yield SOURCE_SPLIT_OUTCOME_USE_CURRENT. E.g. a file splitter may set this to true when splitting a single file into a set of byte ranges of appropriate size, and set this to false when splitting a filepattern into individual files. However, for efficiency, a file splitter may decide to produce file subranges directly from the filepattern to avoid a splitting round-trip. See SourceSplitRequest for an overview of the splitting process. This field is meaningful only in the Source objects populated by the user (e.g. when filling in a DerivedSource). Source objects supplied by the framework to the user don't have this field populated.",
          "type": "boolean"
        },
        "codec": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The codec to use to decode data read from the source."
        },
        "metadata": {
          "$ref": "SourceMetadata",
          "description": "Optionally, metadata for this source can be supplied right away, avoiding a SourceGetMetadataOperation roundtrip (see SourceOperationRequest). This field is meaningful only in the Source objects populated by the user (e.g. when filling in a DerivedSource). Source objects supplied by the framework to the user don't have this field populated."
        },
        "baseSpecs": {
          "description": "While splitting, sources may specify the produced bundles as differences against another source, in order to save backend-side memory and allow bigger jobs. For details, see SourceSplitRequest. To support this use case, the full set of parameters of the source is logically obtained by taking the latest explicitly specified value of each parameter in the order: base_specs (later items win), spec (overrides anything in base_specs).",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            },
            "type": "object"
          },
          "type": "array"
        }
      },
      "description": "A source that records can be read and decoded from.",
      "id": "Source",
      "type": "object"
    },
    "JobExecutionStageInfo": {
      "type": "object",
      "id": "JobExecutionStageInfo",
      "description": "Contains information about how a particular google.dataflow.v1beta3.Step will be executed.",
      "properties": {
        "stepName": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The steps associated with the execution stage. Note that stages may have several steps, and that a given step might be run by more than one stage."
        }
      }
    },
    "ConcatPosition": {
      "description": "A position that encapsulates an inner position and an index for the inner position. A ConcatPosition can be used by a reader of a source that encapsulates a set of other sources.",
      "type": "object",
      "id": "ConcatPosition",
      "properties": {
        "position": {
          "$ref": "Position",
          "description": "Position within the inner source."
        },
        "index": {
          "type": "integer",
          "description": "Index of the inner source.",
          "format": "int32"
        }
      }
    },
    "HotKeyDebuggingInfo": {
      "properties": {
        "detectedHotKeys": {
          "additionalProperties": {
            "$ref": "HotKeyInfo"
          },
          "type": "object",
          "description": "Debugging information for each detected hot key. Keyed by a hash of the key."
        }
      },
      "type": "object",
      "description": "Information useful for debugging a hot key detection.",
      "id": "HotKeyDebuggingInfo"
    },
    "Environment": {
      "description": "Describes the environment in which a Dataflow Job runs.",
      "type": "object",
      "properties": {
        "workerRegion": {
          "description": "The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, default to the control plane's region.",
          "type": "string"
        },
        "shuffleMode": {
          "enum": [
            "SHUFFLE_MODE_UNSPECIFIED",
            "VM_BASED",
            "SERVICE_BASED"
          ],
          "type": "string",
          "description": "Output only. The shuffle mode used for the job.",
          "readOnly": true,
          "enumDescriptions": [
            "Shuffle mode information is not available.",
            "Shuffle is done on the worker VMs.",
            "Shuffle is done on the service side."
          ]
        },
        "userAgent": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "A description of the process that generated the request."
        },
        "tempStoragePrefix": {
          "description": "The prefix of the resources the system should use for temporary storage. The system will append the suffix \"/temp-{JOBNAME} to this resource prefix, where {JOBNAME} is the value of the job_name field. The resulting bucket and object prefix is used as the prefix of the resources used to store temporary data needed during the job execution. NOTE: This will override the value in taskrunner_settings. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}",
          "type": "string"
        },
        "flexResourceSchedulingGoal": {
          "enum": [
            "FLEXRS_UNSPECIFIED",
            "FLEXRS_SPEED_OPTIMIZED",
            "FLEXRS_COST_OPTIMIZED"
          ],
          "enumDescriptions": [
            "Run in the default mode.",
            "Optimize for lower execution time.",
            "Optimize for lower cost."
          ],
          "description": "Which Flexible Resource Scheduling mode to run in.",
          "type": "string"
        },
        "internalExperiments": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Experimental settings."
        },
        "serviceKmsKeyName": {
          "type": "string",
          "description": "If set, contains the Cloud KMS key identifier used to encrypt data at rest, AKA a Customer Managed Encryption Key (CMEK). Format: projects/PROJECT_ID/locations/LOCATION/keyRings/KEY_RING/cryptoKeys/KEY"
        },
        "serviceOptions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of service options to enable. This field should be used for service related experiments only. These experiments, when graduating to GA, should be replaced by dedicated fields or become default (i.e. always on)."
        },
        "version": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "A structure describing which components and their versions of the service are required in order to run the job."
        },
        "debugOptions": {
          "$ref": "DebugOptions",
          "description": "Any debugging options to be supplied to the job."
        },
        "sdkPipelineOptions": {
          "type": "object",
          "description": "The Cloud Dataflow SDK pipeline options specified by the user. These options are passed through the service and are used to recreate the SDK pipeline options on the worker in a language agnostic and platform independent way.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "workerZone": {
          "description": "The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity.",
          "type": "string"
        },
        "dataset": {
          "type": "string",
          "description": "The dataset for the current project where various workflow related tables are stored. The supported resource type is: Google BigQuery: bigquery.googleapis.com/{dataset}"
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "Identity to run virtual machines as. Defaults to the default account."
        },
        "clusterManagerApiService": {
          "description": "The type of cluster manager API to use. If unknown or unspecified, the service will attempt to choose a reasonable default. This should be in the form of the API service name, e.g. \"compute.googleapis.com\".",
          "type": "string"
        },
        "experiments": {
          "type": "array",
          "description": "The list of experiments to enable. This field should be used for SDK related experiments and not for service related experiments. The proper field for service related experiments is service_options.",
          "items": {
            "type": "string"
          }
        },
        "workerPools": {
          "description": "The worker pools. At least one \"harness\" worker pool must be specified in order for the job to have workers.",
          "type": "array",
          "items": {
            "$ref": "WorkerPool"
          }
        }
      },
      "id": "Environment"
    },
    "FileIODetails": {
      "description": "Metadata for a File connector used by the job.",
      "id": "FileIODetails",
      "type": "object",
      "properties": {
        "filePattern": {
          "type": "string",
          "description": "File Pattern used to access files by the connector."
        }
      }
    },
    "StreamingComputationRanges": {
      "type": "object",
      "id": "StreamingComputationRanges",
      "description": "Describes full or partial data disk assignment information of the computation ranges.",
      "properties": {
        "rangeAssignments": {
          "type": "array",
          "items": {
            "$ref": "KeyRangeDataDiskAssignment"
          },
          "description": "Data disk assignments for ranges from this computation."
        },
        "computationId": {
          "description": "The ID of the computation.",
          "type": "string"
        }
      }
    },
    "Disk": {
      "properties": {
        "diskType": {
          "type": "string",
          "description": "Disk storage type, as defined by Google Compute Engine. This must be a disk type appropriate to the project and zone in which the workers will run. If unknown or unspecified, the service will attempt to choose a reasonable default. For example, the standard persistent disk type is a resource name typically ending in \"pd-standard\". If SSD persistent disks are available, the resource name typically ends with \"pd-ssd\". The actual valid values are defined the Google Compute Engine API, not by the Cloud Dataflow API; consult the Google Compute Engine documentation for more information about determining the set of available disk types for a particular project and zone. Google Compute Engine Disk types are local to a particular project in a particular zone, and so the resource name will typically look something like this: compute.googleapis.com/projects/project-id/zones/zone/diskTypes/pd-standard"
        },
        "sizeGb": {
          "type": "integer",
          "description": "Size of disk in GB. If zero or unspecified, the service will attempt to choose a reasonable default.",
          "format": "int32"
        },
        "mountPoint": {
          "description": "Directory in a VM where disk is mounted.",
          "type": "string"
        }
      },
      "id": "Disk",
      "description": "Describes the data disk used by a workflow job.",
      "type": "object"
    },
    "AutoscalingSettings": {
      "description": "Settings for WorkerPool autoscaling.",
      "id": "AutoscalingSettings",
      "type": "object",
      "properties": {
        "algorithm": {
          "enumDescriptions": [
            "The algorithm is unknown, or unspecified.",
            "Disable autoscaling.",
            "Increase worker count over time to reduce job execution time."
          ],
          "type": "string",
          "enum": [
            "AUTOSCALING_ALGORITHM_UNKNOWN",
            "AUTOSCALING_ALGORITHM_NONE",
            "AUTOSCALING_ALGORITHM_BASIC"
          ],
          "description": "The algorithm to use for autoscaling."
        },
        "maxNumWorkers": {
          "description": "The maximum number of workers to cap scaling at.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "WorkerMessageCode": {
      "type": "object",
      "id": "WorkerMessageCode",
      "properties": {
        "code": {
          "type": "string",
          "description": "The code is a string intended for consumption by a machine that identifies the type of message being sent. Examples: 1. \"HARNESS_STARTED\" might be used to indicate the worker harness has started. 2. \"GCS_DOWNLOAD_ERROR\" might be used to indicate an error downloading a Cloud Storage file as part of the boot process of one of the worker containers. This is a string and not an enum to make it easy to add new codes without waiting for an API change."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Parameters contains specific information about the code. This is a struct to allow parameters of different types. Examples: 1. For a \"HARNESS_STARTED\" message parameters might provide the name of the worker and additional data like timing information. 2. For a \"GCS_DOWNLOAD_ERROR\" parameters might contain fields listing the Cloud Storage objects being downloaded and fields containing errors. In general complex data structures should be avoided. If a worker needs to send a specific and complicated data structure then please consider defining a new proto and adding it to the data oneof in WorkerMessageResponse. Conventions: Parameters should only be used for information that isn't typically passed as a label. hostname and other worker identifiers should almost always be passed as labels since they will be included on most messages."
        }
      },
      "description": "A message code is used to report status and error messages to the service. The message codes are intended to be machine readable. The service will take care of translating these into user understandable messages if necessary. Example use cases: 1. Worker processes reporting successful startup. 2. Worker processes reporting specific errors (e.g. package staging failure)."
    },
    "StreamingComputationConfig": {
      "properties": {
        "transformUserNameToStateFamily": {
          "description": "Map from user name of stateful transforms in this stage to their state family.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "instructions": {
          "type": "array",
          "description": "Instructions that comprise the computation.",
          "items": {
            "$ref": "ParallelInstruction"
          }
        },
        "computationId": {
          "description": "Unique identifier for this computation.",
          "type": "string"
        },
        "stageName": {
          "type": "string",
          "description": "Stage name of this computation."
        },
        "systemName": {
          "description": "System defined name for this computation.",
          "type": "string"
        }
      },
      "id": "StreamingComputationConfig",
      "description": "Configuration information for a single streaming computation.",
      "type": "object"
    },
    "TemplateMetadata": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the template."
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of the template."
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "ParameterMetadata"
          },
          "description": "The parameters for the template."
        }
      },
      "id": "TemplateMetadata",
      "type": "object",
      "description": "Metadata describing a template."
    },
    "StageExecutionDetails": {
      "description": "Information about the workers and work items within a stage.",
      "id": "StageExecutionDetails",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If present, this response does not contain all requested tasks. To obtain the next page of results, repeat the request with page_token set to this value."
        },
        "workers": {
          "description": "Workers that have done work on the stage.",
          "items": {
            "$ref": "WorkerDetails"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "SourceMetadata": {
      "properties": {
        "infinite": {
          "description": "Specifies that the size of this source is known to be infinite (this is a streaming source).",
          "type": "boolean"
        },
        "estimatedSizeBytes": {
          "description": "An estimate of the total size (in bytes) of the data that would be read from this source. This estimate is in terms of external storage size, before any decompression or other processing done by the reader.",
          "format": "int64",
          "type": "string"
        },
        "producesSortedKeys": {
          "type": "boolean",
          "description": "Whether this source is known to produce key/value pairs with the (encoded) keys in lexicographically sorted order."
        }
      },
      "type": "object",
      "id": "SourceMetadata",
      "description": "Metadata about a Source useful for automatically optimizing and tuning the pipeline, etc."
    },
    "WorkerSettings": {
      "type": "object",
      "properties": {
        "workerId": {
          "type": "string",
          "description": "The ID of the worker running this pipeline."
        },
        "baseUrl": {
          "description": "The base URL for accessing Google Cloud APIs. When workers access Google Cloud APIs, they logically do so via relative URLs. If this field is specified, it supplies the base URL to use for resolving these relative URLs. The normative algorithm used is defined by RFC 1808, \"Relative Uniform Resource Locators\". If not specified, the default value is \"http://www.googleapis.com/\"",
          "type": "string"
        },
        "shuffleServicePath": {
          "type": "string",
          "description": "The Shuffle service path relative to the root URL, for example, \"shuffle/v1beta1\"."
        },
        "reportingEnabled": {
          "description": "Whether to send work progress updates to the service.",
          "type": "boolean"
        },
        "tempStoragePrefix": {
          "type": "string",
          "description": "The prefix of the resources the system should use for temporary storage. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}"
        },
        "servicePath": {
          "description": "The Cloud Dataflow service path relative to the root URL, for example, \"dataflow/v1b3/projects\".",
          "type": "string"
        }
      },
      "id": "WorkerSettings",
      "description": "Provides data to pass through to the worker harness."
    },
    "StreamingComputationTask": {
      "type": "object",
      "id": "StreamingComputationTask",
      "properties": {
        "dataDisks": {
          "type": "array",
          "description": "Describes the set of data disks this task should apply to.",
          "items": {
            "$ref": "MountedDataDisk"
          }
        },
        "computationRanges": {
          "type": "array",
          "description": "Contains ranges of a streaming computation this task should apply to.",
          "items": {
            "$ref": "StreamingComputationRanges"
          }
        },
        "taskType": {
          "description": "A type of streaming computation task.",
          "type": "string",
          "enumDescriptions": [
            "The streaming computation task is unknown, or unspecified.",
            "Stop processing specified streaming computation range(s).",
            "Start processing specified streaming computation range(s)."
          ],
          "enum": [
            "STREAMING_COMPUTATION_TASK_UNKNOWN",
            "STREAMING_COMPUTATION_TASK_STOP",
            "STREAMING_COMPUTATION_TASK_START"
          ]
        }
      },
      "description": "A task which describes what action should be performed for the specified streaming computation ranges."
    },
    "WorkerMessage": {
      "description": "WorkerMessage provides information to the backend about a worker.",
      "properties": {
        "workerLifecycleEvent": {
          "$ref": "WorkerLifecycleEvent",
          "description": "Record of worker lifecycle events."
        },
        "workerThreadScalingReport": {
          "$ref": "WorkerThreadScalingReport",
          "description": "Thread scaling information reported by workers."
        },
        "workerMessageCode": {
          "description": "A worker message code.",
          "$ref": "WorkerMessageCode"
        },
        "time": {
          "format": "google-datetime",
          "description": "The timestamp of the worker_message.",
          "type": "string"
        },
        "workerHealthReport": {
          "$ref": "WorkerHealthReport",
          "description": "The health of a worker."
        },
        "workerMetrics": {
          "$ref": "ResourceUtilizationReport",
          "description": "Resource metrics reported by workers."
        },
        "workerShutdownNotice": {
          "$ref": "WorkerShutdownNotice",
          "description": "Shutdown notice by workers."
        },
        "labels": {
          "description": "Labels are used to group WorkerMessages. For example, a worker_message about a particular container might have the labels: { \"JOB_ID\": \"2015-04-22\", \"WORKER_ID\": \"wordcount-vm-2015…\" \"CONTAINER_TYPE\": \"worker\", \"CONTAINER_ID\": \"ac1234def\"} Label tags typically correspond to Label enum values. However, for ease of development other strings can be used as tags. LABEL_UNSPECIFIED should not be used here.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "WorkerMessage",
      "type": "object"
    },
    "LaunchTemplateResponse": {
      "properties": {
        "job": {
          "$ref": "Job",
          "description": "The job that was launched, if the request was not a dry run and the job was successfully launched."
        }
      },
      "type": "object",
      "description": "Response to the request to launch a template.",
      "id": "LaunchTemplateResponse"
    },
    "TransformSummary": {
      "id": "TransformSummary",
      "type": "object",
      "properties": {
        "displayData": {
          "description": "Transform-specific display data.",
          "items": {
            "$ref": "DisplayData"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "enum": [
            "UNKNOWN_KIND",
            "PAR_DO_KIND",
            "GROUP_BY_KEY_KIND",
            "FLATTEN_KIND",
            "READ_KIND",
            "WRITE_KIND",
            "CONSTANT_KIND",
            "SINGLETON_KIND",
            "SHUFFLE_KIND"
          ],
          "description": "Type of transform.",
          "enumDescriptions": [
            "Unrecognized transform type.",
            "ParDo transform.",
            "Group By Key transform.",
            "Flatten transform.",
            "Read transform.",
            "Write transform.",
            "Constructs from a constant value, such as with Create.of.",
            "Creates a Singleton view of a collection.",
            "Opening or closing a shuffle session, often as part of a GroupByKey."
          ]
        },
        "outputCollectionName": {
          "description": "User names for all collection outputs to this transform.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "User provided name for this transform instance.",
          "type": "string"
        },
        "inputCollectionName": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "User names for all collection inputs to this transform."
        },
        "id": {
          "type": "string",
          "description": "SDK generated id of this transform instance."
        }
      },
      "description": "Description of the type, names/ids, and input/outputs for a transform."
    },
    "WorkerHealthReport": {
      "type": "object",
      "description": "WorkerHealthReport contains information about the health of a worker. The VM should be identified by the labels attached to the WorkerMessage that this health ping belongs to.",
      "properties": {
        "reportInterval": {
          "description": "The interval at which the worker is sending health reports. The default value of 0 should be interpreted as the field is not being explicitly set by the worker.",
          "format": "google-duration",
          "type": "string"
        },
        "pods": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "The pods running on the worker. See: http://kubernetes.io/v1.1/docs/api-reference/v1/definitions.html#_v1_pod This field is used by the worker to send the status of the indvidual containers running on each worker."
        },
        "msg": {
          "description": "Message describing any unusual health reports.",
          "type": "string"
        },
        "vmBrokenCode": {
          "type": "string",
          "description": "Code to describe a specific reason, if known, that a VM has reported broken state."
        },
        "vmStartupTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the VM was booted."
        },
        "vmIsHealthy": {
          "description": "Whether the VM is currently healthy.",
          "type": "boolean"
        },
        "vmIsBroken": {
          "type": "boolean",
          "description": "Whether the VM is in a permanently broken state. Broken VMs should be abandoned or deleted ASAP to avoid assigning or completing any work."
        }
      },
      "id": "WorkerHealthReport"
    },
    "PubSubIODetails": {
      "id": "PubSubIODetails",
      "description": "Metadata for a Pub/Sub connector used by the job.",
      "properties": {
        "subscription": {
          "description": "Subscription used in the connection.",
          "type": "string"
        },
        "topic": {
          "type": "string",
          "description": "Topic accessed in the connection."
        }
      },
      "type": "object"
    },
    "KeyRangeDataDiskAssignment": {
      "type": "object",
      "properties": {
        "end": {
          "description": "The end (exclusive) of the key range.",
          "type": "string"
        },
        "start": {
          "type": "string",
          "description": "The start (inclusive) of the key range."
        },
        "dataDisk": {
          "description": "The name of the data disk where data for this range is stored. This name is local to the Google Cloud Platform project and uniquely identifies the disk within that project, for example \"myproject-1014-104817-4c2-harness-0-disk-1\".",
          "type": "string"
        }
      },
      "id": "KeyRangeDataDiskAssignment",
      "description": "Data disk assignment information for a specific key-range of a sharded computation. Currently we only support UTF-8 character splits to simplify encoding into JSON."
    },
    "FlattenInstruction": {
      "description": "An instruction that copies its inputs (zero or more) to its (single) output.",
      "type": "object",
      "id": "FlattenInstruction",
      "properties": {
        "inputs": {
          "description": "Describes the inputs to the flatten instruction.",
          "items": {
            "$ref": "InstructionInput"
          },
          "type": "array"
        }
      }
    },
    "SDKInfo": {
      "id": "SDKInfo",
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "Optional. The SDK version."
        },
        "language": {
          "enum": [
            "UNKNOWN",
            "JAVA",
            "PYTHON",
            "GO"
          ],
          "description": "Required. The SDK Language.",
          "type": "string",
          "enumDescriptions": [
            "UNKNOWN Language.",
            "Java.",
            "Python.",
            "Go."
          ]
        }
      },
      "description": "SDK Information."
    },
    "StreamingStragglerInfo": {
      "id": "StreamingStragglerInfo",
      "type": "object",
      "description": "Information useful for streaming straggler identification and debugging.",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "End time of this straggler.",
          "format": "google-datetime"
        },
        "dataWatermarkLag": {
          "format": "google-duration",
          "description": "The event-time watermark lag at the time of the straggler detection.",
          "type": "string"
        },
        "workerName": {
          "type": "string",
          "description": "Name of the worker where the straggler was detected."
        },
        "startTime": {
          "description": "Start time of this straggler.",
          "type": "string",
          "format": "google-datetime"
        },
        "systemWatermarkLag": {
          "format": "google-duration",
          "type": "string",
          "description": "The system watermark lag at the time of the straggler detection."
        }
      }
    },
    "SeqMapTaskOutputInfo": {
      "id": "SeqMapTaskOutputInfo",
      "properties": {
        "tag": {
          "description": "The id of the TupleTag the user code will tag the output value by.",
          "type": "string"
        },
        "sink": {
          "$ref": "Sink",
          "description": "The sink to write the output value to."
        }
      },
      "description": "Information about an output of a SeqMapTask.",
      "type": "object"
    },
    "WorkerLifecycleEvent": {
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Other stats that can accompany an event. E.g. { \"downloaded_bytes\" : \"123456\" }",
          "type": "object"
        },
        "containerStartTime": {
          "description": "The start time of this container. All events will report this so that events can be grouped together across container/VM restarts.",
          "type": "string",
          "format": "google-datetime"
        },
        "event": {
          "enum": [
            "UNKNOWN_EVENT",
            "OS_START",
            "CONTAINER_START",
            "NETWORK_UP",
            "STAGING_FILES_DOWNLOAD_START",
            "STAGING_FILES_DOWNLOAD_FINISH",
            "SDK_INSTALL_START",
            "SDK_INSTALL_FINISH"
          ],
          "enumDescriptions": [
            "Invalid event.",
            "The time the VM started.",
            "Our container code starts running. Multiple containers could be distinguished with WorkerMessage.labels if desired.",
            "The worker has a functional external network connection.",
            "Started downloading staging files.",
            "Finished downloading all staging files.",
            "For applicable SDKs, started installation of SDK and worker packages.",
            "Finished installing SDK."
          ],
          "description": "The event being reported.",
          "type": "string"
        }
      },
      "description": "A report of an event in a worker's lifecycle. The proto contains one event, because the worker is expected to asynchronously send each message immediately after the event. Due to this asynchrony, messages may arrive out of order (or missing), and it is up to the consumer to interpret. The timestamp of the event is in the enclosing WorkerMessage proto.",
      "id": "WorkerLifecycleEvent"
    },
    "PubsubLocation": {
      "type": "object",
      "id": "PubsubLocation",
      "description": "Identifies a pubsub location to use for transferring data into or out of a streaming Dataflow job.",
      "properties": {
        "dropLateData": {
          "description": "Indicates whether the pipeline allows late-arriving data.",
          "type": "boolean"
        },
        "timestampLabel": {
          "description": "If set, contains a pubsub label from which to extract record timestamps. If left empty, record timestamps will be generated upon arrival.",
          "type": "string"
        },
        "trackingSubscription": {
          "type": "string",
          "description": "If set, specifies the pubsub subscription that will be used for tracking custom time timestamps for watermark estimation."
        },
        "subscription": {
          "type": "string",
          "description": "A pubsub subscription, in the form of \"pubsub.googleapis.com/subscriptions//\""
        },
        "withAttributes": {
          "type": "boolean",
          "description": "If true, then the client has requested to get pubsub attributes."
        },
        "topic": {
          "type": "string",
          "description": "A pubsub topic, in the form of \"pubsub.googleapis.com/topics//\""
        },
        "idLabel": {
          "description": "If set, contains a pubsub label from which to extract record ids. If left empty, record deduplication will be strictly best effort.",
          "type": "string"
        }
      }
    },
    "StateFamilyConfig": {
      "id": "StateFamilyConfig",
      "type": "object",
      "properties": {
        "stateFamily": {
          "type": "string",
          "description": "The state family value."
        },
        "isRead": {
          "type": "boolean",
          "description": "If true, this family corresponds to a read operation."
        }
      },
      "description": "State family configuration."
    },
    "IntegerMean": {
      "properties": {
        "count": {
          "$ref": "SplitInt64",
          "description": "The number of values being aggregated."
        },
        "sum": {
          "description": "The sum of all values being aggregated.",
          "$ref": "SplitInt64"
        }
      },
      "description": "A representation of an integer mean metric contribution.",
      "type": "object",
      "id": "IntegerMean"
    },
    "IntegerList": {
      "properties": {
        "elements": {
          "type": "array",
          "items": {
            "$ref": "SplitInt64"
          },
          "description": "Elements of the list."
        }
      },
      "description": "A metric value representing a list of integers.",
      "id": "IntegerList",
      "type": "object"
    },
    "ReportedParallelism": {
      "id": "ReportedParallelism",
      "properties": {
        "isInfinite": {
          "description": "Specifies whether the parallelism is infinite. If true, \"value\" is ignored. Infinite parallelism means the service will assume that the work item can always be split into more non-empty work items by dynamic splitting. This is a work-around for lack of support for infinity by the current JSON-based Java RPC stack.",
          "type": "boolean"
        },
        "value": {
          "format": "double",
          "type": "number",
          "description": "Specifies the level of parallelism in case it is finite."
        }
      },
      "description": "Represents the level of parallelism in a WorkItem's input, reported by the worker.",
      "type": "object"
    },
    "TopologyConfig": {
      "description": "Global topology of the streaming Dataflow job, including all computations and their sharded locations.",
      "id": "TopologyConfig",
      "type": "object",
      "properties": {
        "forwardingKeyBits": {
          "format": "int32",
          "type": "integer",
          "description": "The size (in bits) of keys that will be assigned to source messages."
        },
        "userStageToComputationNameMap": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Maps user stage names to stable computation names.",
          "type": "object"
        },
        "dataDiskAssignments": {
          "items": {
            "$ref": "DataDiskAssignment"
          },
          "type": "array",
          "description": "The disks assigned to a streaming Dataflow job."
        },
        "persistentStateVersion": {
          "description": "Version number for persistent state.",
          "type": "integer",
          "format": "int32"
        },
        "computations": {
          "type": "array",
          "description": "The computations associated with a streaming Dataflow job.",
          "items": {
            "$ref": "ComputationTopology"
          }
        }
      }
    },
    "ListSnapshotsResponse": {
      "id": "ListSnapshotsResponse",
      "type": "object",
      "description": "List of snapshots.",
      "properties": {
        "snapshots": {
          "type": "array",
          "items": {
            "$ref": "Snapshot"
          },
          "description": "Returned snapshots."
        }
      }
    },
    "ComponentTransform": {
      "description": "Description of a transform executed as part of an execution stage.",
      "id": "ComponentTransform",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Dataflow service generated name for this source."
        },
        "userName": {
          "description": "Human-readable name for this transform; may be user or system generated.",
          "type": "string"
        },
        "originalTransform": {
          "description": "User name for the original user transform with which this transform is most closely associated.",
          "type": "string"
        }
      }
    },
    "MetricUpdate": {
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp associated with the metric value. Optional when workers are reporting work progress; it will be filled in responses from the metrics API."
        },
        "gauge": {
          "type": "any",
          "description": "A struct value describing properties of a Gauge. Metrics of gauge type show the value of a metric across time, and is aggregated based on the newest value."
        },
        "internal": {
          "type": "any",
          "description": "Worker-computed aggregate value for internal use by the Dataflow service."
        },
        "kind": {
          "description": "Metric aggregation kind. The possible metric aggregation kinds are \"Sum\", \"Max\", \"Min\", \"Mean\", \"Set\", \"And\", \"Or\", and \"Distribution\". The specified aggregation kind is case-insensitive. If omitted, this is not an aggregated value but instead a single metric sample value.",
          "type": "string"
        },
        "name": {
          "description": "Name of the metric.",
          "$ref": "MetricStructuredName"
        },
        "meanSum": {
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the sum of the aggregated values and is used in combination with mean_count below to obtain the actual mean aggregate value. The only possible value types are Long and Double.",
          "type": "any"
        },
        "set": {
          "description": "Worker-computed aggregate value for the \"Set\" aggregation kind. The only possible value type is a list of Values whose type can be Long, Double, or String, according to the metric's type. All Values in the list must be of the same type.",
          "type": "any"
        },
        "meanCount": {
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the count of the aggregated values and is used in combination with mean_sum above to obtain the actual mean aggregate value. The only possible value type is Long.",
          "type": "any"
        },
        "cumulative": {
          "type": "boolean",
          "description": "True if this metric is reported as the total cumulative aggregate value accumulated since the worker started working on this WorkItem. By default this is false, indicating that this metric is reported as a delta that is not associated with any WorkItem."
        },
        "scalar": {
          "type": "any",
          "description": "Worker-computed aggregate value for aggregation kinds \"Sum\", \"Max\", \"Min\", \"And\", and \"Or\". The possible value types are Long, Double, and Boolean."
        },
        "distribution": {
          "description": "A struct value describing properties of a distribution of numeric values.",
          "type": "any"
        }
      },
      "description": "Describes the state of a metric.",
      "id": "MetricUpdate"
    },
    "Sink": {
      "properties": {
        "spec": {
          "description": "The sink to write to, plus its parameters.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "codec": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The codec to use to encode data written to the sink.",
          "type": "object"
        }
      },
      "description": "A sink that records can be encoded and written to.",
      "type": "object",
      "id": "Sink"
    },
    "ApproximateReportedProgress": {
      "type": "object",
      "description": "A progress measurement of a WorkItem by a worker.",
      "properties": {
        "remainingParallelism": {
          "description": "Total amount of parallelism in the input of this task that remains, (i.e. can be delegated to this task and any new tasks via dynamic splitting). Always at least 1 for non-finished work items and 0 for finished. \"Amount of parallelism\" refers to how many non-empty parts of the input can be read in parallel. This does not necessarily equal number of records. An input that can be read in parallel down to the individual records is called \"perfectly splittable\". An example of non-perfectly parallelizable input is a block-compressed file format where a block of records has to be read as a whole, but different blocks can be read in parallel. Examples: * If we are processing record #30 (starting at 1) out of 50 in a perfectly splittable 50-record input, this value should be 21 (20 remaining + 1 current). * If we are reading through block 3 in a block-compressed file consisting of 5 blocks, this value should be 3 (since blocks 4 and 5 can be processed in parallel by new tasks via dynamic splitting and the current task remains processing block 3). * If we are reading through the last block in a block-compressed file, or reading or processing the last record in a perfectly splittable input, this value should be 1, because apart from the current task, no additional remainder can be split off.",
          "$ref": "ReportedParallelism"
        },
        "fractionConsumed": {
          "description": "Completion as fraction of the input consumed, from 0.0 (beginning, nothing consumed), to 1.0 (end of the input, entire input consumed).",
          "type": "number",
          "format": "double"
        },
        "consumedParallelism": {
          "description": "Total amount of parallelism in the portion of input of this task that has already been consumed and is no longer active. In the first two examples above (see remaining_parallelism), the value should be 29 or 2 respectively. The sum of remaining_parallelism and consumed_parallelism should equal the total amount of parallelism in this work item. If specified, must be finite.",
          "$ref": "ReportedParallelism"
        },
        "position": {
          "$ref": "Position",
          "description": "A Position within the work to represent a progress."
        }
      },
      "id": "ApproximateReportedProgress"
    },
    "WorkerShutdownNoticeResponse": {
      "id": "WorkerShutdownNoticeResponse",
      "properties": {},
      "description": "Service-side response to WorkerMessage issuing shutdown notice.",
      "type": "object"
    },
    "CounterStructuredNameAndMetadata": {
      "description": "A single message which encapsulates structured name and metadata for a given counter.",
      "type": "object",
      "id": "CounterStructuredNameAndMetadata",
      "properties": {
        "name": {
          "$ref": "CounterStructuredName",
          "description": "Structured name of the counter."
        },
        "metadata": {
          "$ref": "CounterMetadata",
          "description": "Metadata associated with a counter"
        }
      }
    },
    "BigQueryIODetails": {
      "description": "Metadata for a BigQuery connector used by the job.",
      "type": "object",
      "id": "BigQueryIODetails",
      "properties": {
        "query": {
          "type": "string",
          "description": "Query used to access data in the connection."
        },
        "table": {
          "description": "Table accessed in the connection.",
          "type": "string"
        },
        "projectId": {
          "description": "Project accessed in the connection.",
          "type": "string"
        },
        "dataset": {
          "description": "Dataset accessed in the connection.",
          "type": "string"
        }
      }
    },
    "SourceOperationRequest": {
      "properties": {
        "originalName": {
          "description": "System-defined name for the Read instruction for this source in the original workflow graph.",
          "type": "string"
        },
        "split": {
          "description": "Information about a request to split a source.",
          "$ref": "SourceSplitRequest"
        },
        "name": {
          "description": "User-provided name of the Read instruction for this source.",
          "type": "string"
        },
        "getMetadata": {
          "description": "Information about a request to get metadata about a source.",
          "$ref": "SourceGetMetadataRequest"
        },
        "systemName": {
          "description": "System-defined name of the Read instruction for this source. Unique across the workflow.",
          "type": "string"
        },
        "stageName": {
          "description": "System-defined name of the stage containing the source operation. Unique across the workflow.",
          "type": "string"
        }
      },
      "description": "A work item that represents the different operations that can be performed on a user-defined Source specification.",
      "id": "SourceOperationRequest",
      "type": "object"
    },
    "WorkerMessageResponse": {
      "id": "WorkerMessageResponse",
      "properties": {
        "workerShutdownNoticeResponse": {
          "$ref": "WorkerShutdownNoticeResponse",
          "description": "Service's response to shutdown notice (currently empty)."
        },
        "workerHealthReportResponse": {
          "description": "The service's response to a worker's health report.",
          "$ref": "WorkerHealthReportResponse"
        },
        "workerMetricsResponse": {
          "$ref": "ResourceUtilizationReportResponse",
          "description": "Service's response to reporting worker metrics (currently empty)."
        },
        "workerThreadScalingReportResponse": {
          "description": "Service's thread scaling recommendation for workers.",
          "$ref": "WorkerThreadScalingReportResponse"
        }
      },
      "type": "object",
      "description": "A worker_message response allows the server to pass information to the sender."
    },
    "SourceSplitRequest": {
      "type": "object",
      "description": "Represents the operation to split a high-level Source specification into bundles (parts for parallel processing). At a high level, splitting of a source into bundles happens as follows: SourceSplitRequest is applied to the source. If it returns SOURCE_SPLIT_OUTCOME_USE_CURRENT, no further splitting happens and the source is used \"as is\". Otherwise, splitting is applied recursively to each produced DerivedSource. As an optimization, for any Source, if its does_not_need_splitting is true, the framework assumes that splitting this source would return SOURCE_SPLIT_OUTCOME_USE_CURRENT, and doesn't initiate a SourceSplitRequest. This applies both to the initial source being split and to bundles produced from it.",
      "id": "SourceSplitRequest",
      "properties": {
        "source": {
          "$ref": "Source",
          "description": "Specification of the source to be split."
        },
        "options": {
          "description": "Hints for tuning the splitting process.",
          "$ref": "SourceSplitOptions"
        }
      }
    },
    "ApproximateSplitRequest": {
      "description": "A suggestion by the service to the worker to dynamically split the WorkItem.",
      "type": "object",
      "properties": {
        "position": {
          "description": "A Position at which to split the work item.",
          "$ref": "Position"
        },
        "fractionOfRemainder": {
          "description": "The fraction of the remainder of work to split the work item at, from 0.0 (split at the current position) to 1.0 (end of the input).",
          "type": "number",
          "format": "double"
        },
        "fractionConsumed": {
          "type": "number",
          "description": "A fraction at which to split the work item, from 0.0 (beginning of the input) to 1.0 (end of the input).",
          "format": "double"
        }
      },
      "id": "ApproximateSplitRequest"
    },
    "ParallelInstruction": {
      "properties": {
        "name": {
          "type": "string",
          "description": "User-provided name of this operation."
        },
        "parDo": {
          "$ref": "ParDoInstruction",
          "description": "Additional information for ParDo instructions."
        },
        "systemName": {
          "type": "string",
          "description": "System-defined name of this operation. Unique across the workflow."
        },
        "read": {
          "$ref": "ReadInstruction",
          "description": "Additional information for Read instructions."
        },
        "outputs": {
          "description": "Describes the outputs of the instruction.",
          "type": "array",
          "items": {
            "$ref": "InstructionOutput"
          }
        },
        "flatten": {
          "description": "Additional information for Flatten instructions.",
          "$ref": "FlattenInstruction"
        },
        "write": {
          "$ref": "WriteInstruction",
          "description": "Additional information for Write instructions."
        },
        "partialGroupByKey": {
          "$ref": "PartialGroupByKeyInstruction",
          "description": "Additional information for PartialGroupByKey instructions."
        },
        "originalName": {
          "description": "System-defined name for the operation in the original workflow graph.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Describes a particular operation comprising a MapTask.",
      "id": "ParallelInstruction"
    },
    "ShellTask": {
      "id": "ShellTask",
      "properties": {
        "command": {
          "type": "string",
          "description": "The shell command to run."
        },
        "exitCode": {
          "description": "Exit code for the task.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "A task which consists of a shell command for the worker to execute.",
      "type": "object"
    },
    "WorkerThreadScalingReportResponse": {
      "type": "object",
      "properties": {
        "recommendedThreadCount": {
          "format": "int32",
          "type": "integer",
          "description": "Recommended number of threads for a worker."
        }
      },
      "id": "WorkerThreadScalingReportResponse",
      "description": "Contains the thread scaling recommendation for a worker from the backend."
    },
    "StringList": {
      "properties": {
        "elements": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Elements of the list."
        }
      },
      "id": "StringList",
      "type": "object",
      "description": "A metric value representing a list of strings."
    },
    "InstructionOutput": {
      "type": "object",
      "properties": {
        "onlyCountKeyBytes": {
          "type": "boolean",
          "description": "For system-generated byte and mean byte metrics, certain instructions should only report the key size."
        },
        "systemName": {
          "description": "System-defined name of this output. Unique across the workflow.",
          "type": "string"
        },
        "originalName": {
          "type": "string",
          "description": "System-defined name for this output in the original workflow graph. Outputs that do not contribute to an original instruction do not set this."
        },
        "onlyCountValueBytes": {
          "type": "boolean",
          "description": "For system-generated byte and mean byte metrics, certain instructions should only report the value size."
        },
        "codec": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The codec to use to encode data being written via this output.",
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The user-provided name of this output."
        }
      },
      "id": "InstructionOutput",
      "description": "An output of an instruction."
    },
    "WorkItemStatus": {
      "properties": {
        "reportIndex": {
          "description": "The report index. When a WorkItem is leased, the lease will contain an initial report index. When a WorkItem's status is reported to the system, the report should be sent with that report index, and the response will contain the index the worker should use for the next report. Reports received with unexpected index values will be rejected by the service. In order to preserve idempotency, the worker should not alter the contents of a report, even if the worker must submit the same report multiple times before getting back a response. The worker should not submit a subsequent report until the response for the previous report had been received from the service.",
          "type": "string",
          "format": "int64"
        },
        "requestedLeaseDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Amount of time the worker requests for its lease."
        },
        "sourceOperationResponse": {
          "$ref": "SourceOperationResponse",
          "description": "If the work item represented a SourceOperationRequest, and the work is completed, contains the result of the operation."
        },
        "progress": {
          "description": "DEPRECATED in favor of reported_progress.",
          "$ref": "ApproximateProgress"
        },
        "stopPosition": {
          "$ref": "Position",
          "description": "A worker may split an active map task in two parts, \"primary\" and \"residual\", continuing to process the primary part and returning the residual part into the pool of available work. This event is called a \"dynamic split\" and is critical to the dynamic work rebalancing feature. The two obtained sub-tasks are called \"parts\" of the split. The parts, if concatenated, must represent the same input as would be read by the current task if the split did not happen. The exact way in which the original task is decomposed into the two parts is specified either as a position demarcating them (stop_position), or explicitly as two DerivedSources, if this task consumes a user-defined source type (dynamic_source_split). The \"current\" task is adjusted as a result of the split: after a task with range [A, B) sends a stop_position update at C, its range is considered to be [A, C), e.g.: * Progress should be interpreted relative to the new range, e.g. \"75% completed\" means \"75% of [A, C) completed\" * The worker should interpret proposed_stop_position relative to the new range, e.g. \"split at 68%\" should be interpreted as \"split at 68% of [A, C)\". * If the worker chooses to split again using stop_position, only stop_positions in [A, C) will be accepted. * Etc. dynamic_source_split has similar semantics: e.g., if a task with source S splits using dynamic_source_split into {P, R} (where P and R must be together equivalent to S), then subsequent progress and proposed_stop_position should be interpreted relative to P, and in a potential subsequent dynamic_source_split into {P', R'}, P' and R' must be together equivalent to P, etc."
        },
        "dynamicSourceSplit": {
          "description": "See documentation of stop_position.",
          "$ref": "DynamicSourceSplit"
        },
        "errors": {
          "items": {
            "$ref": "Status"
          },
          "type": "array",
          "description": "Specifies errors which occurred during processing. If errors are provided, and completed = true, then the WorkItem is considered to have failed."
        },
        "counterUpdates": {
          "items": {
            "$ref": "CounterUpdate"
          },
          "description": "Worker output counters for this WorkItem.",
          "type": "array"
        },
        "reportedProgress": {
          "$ref": "ApproximateReportedProgress",
          "description": "The worker's progress through this WorkItem."
        },
        "sourceFork": {
          "description": "DEPRECATED in favor of dynamic_source_split.",
          "$ref": "SourceFork"
        },
        "completed": {
          "description": "True if the WorkItem was completed (successfully or unsuccessfully).",
          "type": "boolean"
        },
        "totalThrottlerWaitTimeSeconds": {
          "type": "number",
          "format": "double",
          "description": "Total time the worker spent being throttled by external systems."
        },
        "metricUpdates": {
          "type": "array",
          "description": "DEPRECATED in favor of counter_updates.",
          "items": {
            "$ref": "MetricUpdate"
          }
        },
        "workItemId": {
          "description": "Identifies the WorkItem.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Conveys a worker's progress through the work described by a WorkItem.",
      "id": "WorkItemStatus"
    },
    "JobMetrics": {
      "description": "JobMetrics contains a collection of metrics describing the detailed progress of a Dataflow job. Metrics correspond to user-defined and system-defined metrics in the job. This resource captures only the most recent values of each metric; time-series data can be queried for them (under the same metric names) from Cloud Monitoring.",
      "type": "object",
      "id": "JobMetrics",
      "properties": {
        "metricTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp as of which metric values are current."
        },
        "metrics": {
          "description": "All metrics for this job.",
          "type": "array",
          "items": {
            "$ref": "MetricUpdate"
          }
        }
      }
    },
    "StreamingConfigTask": {
      "properties": {
        "maxWorkItemCommitBytes": {
          "type": "string",
          "format": "int64",
          "description": "Maximum size for work item commit supported windmill storage layer."
        },
[...]
