{
  "name": "datastream",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "mtlsRootUrl": "https://datastream.mtls.googleapis.com/",
  "batchPath": "batch",
  "basePath": "",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "version": "v1alpha1",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Datastream",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "servicePath": "",
  "rootUrl": "https://datastream.googleapis.com/",
  "version_module": true,
  "kind": "discovery#restDescription",
  "id": "datastream:v1alpha1",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "privateConnections": {
              "methods": {
                "list": {
                  "id": "datastream.projects.locations.privateConnections.list",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent that owns the collection of private connectivity configurations.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "pageSize": {
                      "description": "Maximum number of private connectivity configurations to return. If unspecified, at most 50 private connectivity configurations that will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Filter request.",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Order by fields for the result."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Page token received from a previous `ListPrivateConnections` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPrivateConnections` must match the call that provided the page token."
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v1alpha1/{+parent}/privateConnections",
                  "description": "Use this method to list private connectivity configurations in a project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/privateConnections",
                  "response": {
                    "$ref": "ListPrivateConnectionsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "path": "v1alpha1/{+name}",
                  "id": "datastream.projects.locations.privateConnections.get",
                  "httpMethod": "GET",
                  "description": "Use this method to get details about a private connectivity configuration.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the private connectivity configuration to get.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "PrivateConnection"
                  }
                },
                "create": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1alpha1/{+parent}/privateConnections",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/privateConnections",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Use this method to create a private connectivity configuration.",
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "privateConnectionId": {
                      "location": "query",
                      "description": "Required. The private connectivity identifier.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent that owns the collection of PrivateConnections.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "datastream.projects.locations.privateConnections.create",
                  "request": {
                    "$ref": "PrivateConnection"
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datastream.projects.locations.privateConnections.delete",
                  "httpMethod": "DELETE",
                  "path": "v1alpha1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the private connectivity configuration to delete.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "force": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If set to true, any child routes that belong to this PrivateConnection will also be deleted."
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    }
                  },
                  "description": "Use this method to delete a private connectivity configuration."
                }
              },
              "resources": {
                "routes": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListRoutesResponse"
                      },
                      "path": "v1alpha1/{+parent}/routes",
                      "description": "Use this method to list routes created for a private connectivity in a project and location.",
                      "id": "datastream.projects.locations.privateConnections.routes.list",
                      "parameters": {
                        "pageSize": {
                          "description": "Maximum number of Routes to return. The service may return fewer than this value. If unspecified, at most 50 Routes will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "Page token received from a previous `ListRoutes` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRoutes` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent that owns the collection of Routess.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+$",
                          "required": true
                        },
                        "filter": {
                          "description": "Filter request.",
                          "type": "string",
                          "location": "query"
                        },
                        "orderBy": {
                          "description": "Order by fields for the result.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}/routes",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "httpMethod": "GET",
                      "id": "datastream.projects.locations.privateConnections.routes.get",
                      "path": "v1alpha1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Route"
                      },
                      "description": "Use this method to get details about a route.",
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}/routes/{routesId}",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the Route resource to get.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+/routes/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1alpha1/{+parent}/routes",
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "datastream.projects.locations.privateConnections.routes.create",
                      "parameters": {
                        "routeId": {
                          "description": "Required. The Route identifier.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+$",
                          "type": "string",
                          "description": "Required. The parent that owns the collection of Routes.",
                          "location": "path",
                          "required": true
                        },
                        "requestId": {
                          "location": "query",
                          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "Route"
                      },
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}/routes",
                      "description": "Use this method to create a route for a private connectivity in a project and location."
                    },
                    "delete": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "datastream.projects.locations.privateConnections.routes.delete",
                      "path": "v1alpha1/{+name}",
                      "httpMethod": "DELETE",
                      "description": "Use this method to delete a route.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}/routes/{routesId}",
                      "parameters": {
                        "requestId": {
                          "location": "query",
                          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string"
                        },
                        "name": {
                          "description": "Required. The name of the Route resource to delete.",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+/routes/[^/]+$"
                        }
                      }
                    }
                  }
                }
              }
            },
            "streams": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}",
                  "id": "datastream.projects.locations.streams.get",
                  "description": "Use this method to get details about a stream.",
                  "response": {
                    "$ref": "Stream"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the stream resource to get."
                    }
                  }
                },
                "fetchErrors": {
                  "description": "Use this method to fetch any errors associated with a stream.",
                  "parameters": {
                    "stream": {
                      "description": "Name of the Stream resource for which to fetch any errors.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "datastream.projects.locations.streams.fetchErrors",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "stream"
                  ],
                  "path": "v1alpha1/{+stream}:fetchErrors",
                  "request": {
                    "$ref": "FetchErrorsRequest"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}:fetchErrors"
                },
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the stream resource to delete.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+$",
                      "location": "path"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "description": "Use this method to delete a stream.",
                  "id": "datastream.projects.locations.streams.delete",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}",
                  "httpMethod": "DELETE",
                  "path": "v1alpha1/{+name}"
                },
                "patch": {
                  "request": {
                    "$ref": "Stream"
                  },
                  "httpMethod": "PATCH",
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the stream resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten."
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+$",
                      "type": "string",
                      "description": "Output only. The stream's name.",
                      "location": "path"
                    },
                    "force": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. Execute the update without validating it."
                    },
                    "validateOnly": {
                      "description": "Optional. Only validate the stream with the changes, without actually updating it. The default is false.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}",
                  "id": "datastream.projects.locations.streams.patch",
                  "description": "Use this method to update the configuration of a stream.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/streams",
                  "request": {
                    "$ref": "Stream"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datastream.projects.locations.streams.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "description": "Use this method to create a stream.",
                  "path": "v1alpha1/{+parent}/streams",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent that owns the collection of streams.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "force": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. Create the stream without validating it."
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "Optional. Only validate the stream, but do not create any resources. The default is false.",
                      "location": "query"
                    },
                    "streamId": {
                      "description": "Required. The stream identifier.",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  }
                },
                "list": {
                  "description": "Use this method to list streams in a project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/streams",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha1/{+parent}/streams",
                  "id": "datastream.projects.locations.streams.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "Maximum number of streams to return. If unspecified, at most 50 streams will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Page token received from a previous `ListStreams` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListStreams` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Order by fields for the result.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Filter request.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The parent that owns the collection of streams.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "ListStreamsResponse"
                  }
                }
              },
              "resources": {
                "objects": {
                  "methods": {
                    "stopBackfillJob": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}/objects/{objectsId}:stopBackfillJob",
                      "parameterOrder": [
                        "object"
                      ],
                      "id": "datastream.projects.locations.streams.objects.stopBackfillJob",
                      "path": "v1alpha1/{+object}:stopBackfillJob",
                      "httpMethod": "POST",
                      "parameters": {
                        "object": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+/objects/[^/]+$",
                          "description": "Required. The name of the stream object resource to stop the backfill job for."
                        }
                      },
                      "response": {
                        "$ref": "StopBackfillJobResponse"
                      },
                      "description": "Stops the backfill job for the specified stream object."
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "Maximum number of objects to return. Default is 50. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Page token received from a previous `ListStreamObjectsRequest` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListStreamObjectsRequest` must match the call that provided the page token.",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent stream that owns the collection of objects."
                        }
                      },
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}/objects",
                      "response": {
                        "$ref": "ListStreamObjectsResponse"
                      },
                      "id": "datastream.projects.locations.streams.objects.list",
                      "description": "Use this method to list the objects of a specific stream.",
                      "path": "v1alpha1/{+parent}/objects"
                    },
                    "startBackfillJob": {
                      "parameterOrder": [
                        "object"
                      ],
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}/objects/{objectsId}:startBackfillJob",
                      "description": "Starts backfill job for the specified stream object.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "object": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+/objects/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the stream object resource to start a backfill job for."
                        }
                      },
                      "path": "v1alpha1/{+object}:startBackfillJob",
                      "response": {
                        "$ref": "StartBackfillJobResponse"
                      },
                      "id": "datastream.projects.locations.streams.objects.startBackfillJob",
                      "httpMethod": "POST"
                    },
                    "get": {
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}/objects/{objectsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "StreamObject"
                      },
                      "httpMethod": "GET",
                      "path": "v1alpha1/{+name}",
                      "id": "datastream.projects.locations.streams.objects.get",
                      "description": "Use this method to get details about a stream object.",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The name of the stream object resource to get.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+/objects/[^/]+$",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              }
            },
            "connectionProfiles": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "datastream.projects.locations.connectionProfiles.list",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/connectionProfiles",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "Maximum number of connection profiles to return. If unspecified, at most 50 connection profiles will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Page token received from a previous `ListConnectionProfiles` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConnectionProfiles` must match the call that provided the page token."
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent that owns the collection of connection profiles.",
                      "location": "path",
                      "required": true
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Filter request."
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Order by fields for the result."
                    }
                  },
                  "description": "Use this method to list connection profiles created in a project and location.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListConnectionProfilesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha1/{+parent}/connectionProfiles"
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "id": "datastream.projects.locations.connectionProfiles.patch",
                  "request": {
                    "$ref": "ConnectionProfile"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the ConnectionProfile resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten."
                    },
                    "validateOnly": {
                      "description": "Optional. Only validate the connection profile, but do not update any resources. The default is false.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/connectionProfiles/[^/]+$",
                      "description": "Output only. The resource's name.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/connectionProfiles/{connectionProfilesId}",
                  "path": "v1alpha1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Use this method to update the parameters of a connection profile.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "description": "Use this method to get details about a connection profile.",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/connectionProfiles/{connectionProfilesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the connection profile resource to get.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connectionProfiles/[^/]+$"
                    }
                  },
                  "id": "datastream.projects.locations.connectionProfiles.get",
                  "path": "v1alpha1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ConnectionProfile"
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha1/{+name}",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the connection profile resource to delete.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connectionProfiles/[^/]+$",
                      "required": true
                    }
                  },
                  "httpMethod": "DELETE",
                  "description": "Use this method to delete a connection profile..",
                  "id": "datastream.projects.locations.connectionProfiles.delete",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/connectionProfiles/{connectionProfilesId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "datastream.projects.locations.connectionProfiles.create",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/connectionProfiles",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "ConnectionProfile"
                  },
                  "parameters": {
                    "requestId": {
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "connectionProfileId": {
                      "location": "query",
                      "description": "Required. The connection profile identifier.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent that owns the collection of ConnectionProfiles.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Use this method to create a connection profile in a project and location.",
                  "httpMethod": "POST",
                  "path": "v1alpha1/{+parent}/connectionProfiles"
                },
                "discover": {
                  "response": {
                    "$ref": "DiscoverConnectionProfileResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "datastream.projects.locations.connectionProfiles.discover",
                  "description": "Use this method to discover a connection profile. The discover API call exposes the data objects and metadata belonging to the profile. Typically, a request returns children data objects under a parent data object that's optionally supplied in the request.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/connectionProfiles:discover",
                  "path": "v1alpha1/{+parent}/connectionProfiles:discover",
                  "request": {
                    "$ref": "DiscoverConnectionProfileRequest"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource of the ConnectionProfile type. Must be in the format `projects/*/locations/*`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "cancel": {
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "path": "v1alpha1/{+name}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "datastream.projects.locations.operations.cancel"
                },
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The standard list page size."
                    }
                  },
                  "path": "v1alpha1/{+name}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                  "id": "datastream.projects.locations.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "datastream.projects.locations.operations.delete",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true
                    }
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                },
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "path": "v1alpha1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datastream.projects.locations.operations.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "fetchStaticIps": {
              "path": "v1alpha1/{+name}:fetchStaticIps",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "The FetchStaticIps API call exposes the static IP addresses used by Datastream.",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Maximum number of Ips to return, will likely not be specified."
                },
                "name": {
                  "description": "Required. The name resource of the Response type. Must be in the format `projects/*/locations/*`.",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListStaticIps` call. will likely not be specified.",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "datastream.projects.locations.fetchStaticIps",
              "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}:fetchStaticIps",
              "httpMethod": "GET",
              "response": {
                "$ref": "FetchStaticIpsResponse"
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "location": "path"
                }
              },
              "id": "datastream.projects.locations.get",
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Location"
              },
              "httpMethod": "GET",
              "description": "Gets information about a location.",
              "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "id": "datastream.projects.locations.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha1/{+name}/locations",
              "parameterOrder": [
                "name"
              ],
              "description": "Lists information about the supported locations for this service.",
              "flatPath": "v1alpha1/projects/{projectsId}/locations",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like \"displayName=tokyo\", and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                }
              }
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/datastream/",
  "title": "Datastream API",
  "baseUrl": "https://datastream.googleapis.com/",
  "schemas": {
    "ListStreamsResponse": {
      "id": "ListStreamsResponse",
      "properties": {
        "streams": {
          "type": "array",
          "description": "List of streams",
          "items": {
            "$ref": "Stream"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SourceConfig": {
      "properties": {
        "oracleSourceConfig": {
          "description": "Oracle data source configuration",
          "$ref": "OracleSourceConfig"
        },
        "mysqlSourceConfig": {
          "description": "MySQL data source configuration",
          "$ref": "MysqlSourceConfig"
        },
        "sourceConnectionProfileName": {
          "description": "Required. Source connection profile identifier.",
          "type": "string"
        }
      },
      "description": "The configuration of the stream source.",
      "type": "object",
      "id": "SourceConfig"
    },
    "Route": {
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels."
        },
        "destinationAddress": {
          "description": "Required. Destination address for connection",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The create time of the resource.",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The update time of the resource.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "destinationPort": {
          "description": "Destination port for connection",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource's name.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The Route resource is the child of the PrivateConnection resource. It used to define a route for a PrivateConnection setup.",
      "id": "Route"
    },
    "ListRoutesResponse": {
      "type": "object",
      "id": "ListRoutesResponse",
      "properties": {
        "routes": {
          "type": "array",
          "items": {
            "$ref": "Route"
          },
          "description": "List of Routes."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "route list response"
    },
    "Validation": {
      "properties": {
        "message": {
          "items": {
            "$ref": "ValidationMessage"
          },
          "type": "array",
          "description": "Messages reflecting the validation results."
        },
        "status": {
          "enumDescriptions": [
            "Unspecified status.",
            "Validation did not execute.",
            "Validation failed.",
            "Validation passed."
          ],
          "description": "Validation execution status.",
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_EXECUTED",
            "FAILED",
            "PASSED"
          ]
        },
        "code": {
          "description": "A custom code identifying this validation.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A short description of the validation."
        }
      },
      "id": "Validation",
      "type": "object"
    },
    "GcsDestinationConfig": {
      "description": "Google Cloud Storage destination configuration",
      "id": "GcsDestinationConfig",
      "properties": {
        "fileRotationInterval": {
          "format": "google-duration",
          "type": "string",
          "description": "The maximum duration for which new events are added before a file is closed and a new file is created."
        },
        "gcsFileFormat": {
          "description": "File format that data should be written in. Deprecated field (b/169501737) - use file_format instead.",
          "enum": [
            "GCS_FILE_FORMAT_UNSPECIFIED",
            "AVRO"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified Cloud Storage file format.",
            "Avro file format"
          ]
        },
        "fileRotationMb": {
          "type": "integer",
          "description": "The maximum file size to be saved in the bucket.",
          "format": "int32"
        },
        "jsonFileFormat": {
          "$ref": "JsonFileFormat",
          "description": "JSON file format configuration."
        },
        "path": {
          "description": "Path inside the Cloud Storage bucket to write data to.",
          "type": "string"
        },
        "avroFileFormat": {
          "description": "AVRO file format configuration.",
          "$ref": "AvroFileFormat"
        }
      },
      "type": "object"
    },
    "OracleObjectIdentifier": {
      "properties": {
        "schema": {
          "type": "string",
          "description": "Required. The schema name."
        },
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        }
      },
      "description": "Oracle data source object identifier.",
      "id": "OracleObjectIdentifier",
      "type": "object"
    },
    "CancelOperationRequest": {
      "properties": {},
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object"
    },
    "ListStreamObjectsResponse": {
      "id": "ListStreamObjectsResponse",
      "properties": {
        "streamObjects": {
          "description": "List of stream objects.",
          "type": "array",
          "items": {
            "$ref": "StreamObject"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page.",
          "type": "string"
        }
      },
      "description": "Response containing the objects for a stream.",
      "type": "object"
    },
    "ValidationMessage": {
      "id": "ValidationMessage",
      "properties": {
        "code": {
          "description": "A custom code identifying this specific message.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Additional metadata related to the result.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "message": {
          "type": "string",
          "description": "The result of the validation."
        },
        "level": {
          "enumDescriptions": [
            "Unspecified level.",
            "Potentially cause issues with the Stream.",
            "Definitely cause issues with the Stream."
          ],
          "description": "Message severity level (warning or error).",
          "type": "string",
          "enum": [
            "LEVEL_UNSPECIFIED",
            "WARNING",
            "ERROR"
          ]
        }
      },
      "type": "object",
      "description": "Represent user-facing validation result message."
    },
    "BackfillNoneStrategy": {
      "type": "object",
      "properties": {},
      "description": "Backfill strategy to disable automatic backfill for the Stream's objects.",
      "id": "BackfillNoneStrategy"
    },
    "OracleProfile": {
      "type": "object",
      "properties": {
        "hostname": {
          "type": "string",
          "description": "Required. Hostname for the Oracle connection."
        },
        "password": {
          "type": "string",
          "description": "Required. Password for the Oracle connection."
        },
        "connectionAttributes": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Connection string attributes"
        },
        "port": {
          "description": "Port for the Oracle connection, default value is 1521.",
          "format": "int32",
          "type": "integer"
        },
        "username": {
          "type": "string",
          "description": "Required. Username for the Oracle connection."
        },
        "databaseService": {
          "description": "Required. Database for the Oracle connection.",
          "type": "string"
        }
      },
      "description": "Oracle database profile.",
      "id": "OracleProfile"
    },
    "ForwardSshTunnelConnectivity": {
      "description": "Forward SSH Tunnel connectivity.",
      "type": "object",
      "properties": {
        "port": {
          "description": "Port for the SSH tunnel, default value is 22.",
          "format": "int32",
          "type": "integer"
        },
        "privateKey": {
          "description": "Input only. SSH private key.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "Required. Username for the SSH tunnel."
        },
        "password": {
          "type": "string",
          "description": "Input only. SSH password."
        },
        "hostname": {
          "type": "string",
          "description": "Required. Hostname for the SSH tunnel."
        }
      },
      "id": "ForwardSshTunnelConnectivity"
    },
    "DiscoverConnectionProfileResponse": {
      "type": "object",
      "properties": {
        "oracleRdbms": {
          "$ref": "OracleRdbms",
          "description": "Enriched Oracle RDBMS object."
        },
        "mysqlRdbms": {
          "description": "Enriched MySQL RDBMS object.",
          "$ref": "MysqlRdbms"
        }
      },
      "id": "DiscoverConnectionProfileResponse"
    },
    "ListConnectionProfilesResponse": {
      "id": "ListConnectionProfilesResponse",
      "properties": {
        "connectionProfiles": {
          "description": "List of connection profiles.",
          "type": "array",
          "items": {
            "$ref": "ConnectionProfile"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "Stream": {
      "type": "object",
      "properties": {
        "sourceConfig": {
          "$ref": "SourceConfig",
          "description": "Required. Source connection profile configuration."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The last update time of the stream.",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. The creation time of the stream.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The stream's name.",
          "type": "string"
        },
        "backfillNone": {
          "$ref": "BackfillNoneStrategy",
          "description": "Do not automatically backfill any objects."
        },
        "destinationConfig": {
          "$ref": "DestinationConfig",
          "description": "Required. Destination connection profile configuration."
        },
        "customerManagedEncryptionKey": {
          "description": "Immutable. A reference to a KMS encryption key. If provided, it will be used to encrypt the data. If left blank, data will be encrypted using an internal Stream-specific encryption key provisioned through KMS.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATED",
            "RUNNING",
            "PAUSED",
            "MAINTENANCE",
            "FAILED",
            "FAILED_PERMANENTLY",
            "STARTING",
            "DRAINING"
          ],
          "description": "The state of the stream.",
          "enumDescriptions": [
            "Unspecified stream state.",
            "The stream has been created.",
            "The stream is running.",
            "The stream is paused.",
            "The stream is in maintenance mode. Updates are rejected on the resource in this state.",
            "The stream is experiencing an error that is preventing data from being streamed.",
            "The stream has experienced a terminal failure.",
            "The stream is starting, but not yet running.",
            "The Stream is no longer reading new events, but still writing events in the buffer."
          ],
          "type": "string"
        },
        "errors": {
          "items": {
            "$ref": "Error"
          },
          "type": "array",
          "description": "Output only. Errors on the Stream.",
          "readOnly": true
        },
        "backfillAll": {
          "description": "Automatically backfill objects included in the stream source configuration. Specific objects can be excluded.",
          "$ref": "BackfillAllStrategy"
        }
      },
      "id": "Stream"
    },
    "OracleSourceConfig": {
      "properties": {
        "rejectlist": {
          "description": "Oracle objects to exclude from the stream.",
          "$ref": "OracleRdbms"
        },
        "dropLargeObjects": {
          "description": "Drop large object values.",
          "$ref": "OracleDropLargeObjects"
        },
        "allowlist": {
          "description": "Oracle objects to include in the stream.",
          "$ref": "OracleRdbms"
        }
      },
      "description": "Oracle data source configuration",
      "id": "OracleSourceConfig",
      "type": "object"
    },
    "DiscoverConnectionProfileRequest": {
      "description": "Request message for 'discover' ConnectionProfile request.",
      "type": "object",
      "id": "DiscoverConnectionProfileRequest",
      "properties": {
        "oracleRdbms": {
          "description": "Oracle RDBMS to enrich with child data objects and metadata.",
          "$ref": "OracleRdbms"
        },
        "connectionProfile": {
          "description": "An ad-hoc ConnectionProfile configuration.",
          "$ref": "ConnectionProfile"
        },
        "connectionProfileName": {
          "type": "string",
          "description": "A reference to an existing ConnectionProfile."
        },
        "mysqlRdbms": {
          "$ref": "MysqlRdbms",
          "description": "MySQL RDBMS to enrich with child data objects and metadata."
        },
        "recursive": {
          "description": "Whether to retrieve the full hierarchy of data objects (TRUE) or only the current level (FALSE).",
          "type": "boolean"
        },
        "recursionDepth": {
          "description": "The number of hierarchy levels below the current level to be retrieved.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "MysqlSslConfig": {
      "type": "object",
      "properties": {
        "clientCertificate": {
          "type": "string",
          "description": "Input only. PEM-encoded certificate that will be used by the replica to authenticate against the source database server. If this field is used then the 'client_key' and the 'ca_certificate' fields are mandatory."
        },
        "clientKeySet": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the client_key field is set."
        },
        "clientCertificateSet": {
          "type": "boolean",
          "description": "Output only. Indicates whether the client_certificate field is set.",
          "readOnly": true
        },
        "caCertificate": {
          "description": "Input only. PEM-encoded certificate of the CA that signed the source database server's certificate.",
          "type": "string"
        },
        "clientKey": {
          "type": "string",
          "description": "Input only. PEM-encoded private key associated with the Client Certificate. If this field is used then the 'client_certificate' and the 'ca_certificate' fields are mandatory."
        },
        "caCertificateSet": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether the ca_certificate field is set."
        }
      },
      "id": "MysqlSslConfig",
      "description": "MySQL SSL configuration information."
    },
    "MysqlTable": {
      "id": "MysqlTable",
      "description": "MySQL table.",
      "type": "object",
      "properties": {
        "tableName": {
          "description": "Table name.",
          "type": "string"
        },
        "mysqlColumns": {
          "items": {
            "$ref": "MysqlColumn"
          },
          "description": "MySQL columns in the database. When unspecified as part of include/exclude lists, includes/excludes everything.",
          "type": "array"
        }
      }
    },
    "NoConnectivitySettings": {
      "description": "No connectivity settings.",
      "id": "NoConnectivitySettings",
      "properties": {},
      "type": "object"
    },
    "StaticServiceIpConnectivity": {
      "type": "object",
      "properties": {},
      "description": "Static IP address connectivity.",
      "id": "StaticServiceIpConnectivity"
    },
    "FetchErrorsResponse": {
      "description": "Response message for a 'FetchErrors' response.",
      "properties": {
        "errors": {
          "type": "array",
          "description": "The list of errors on the Stream.",
          "items": {
            "$ref": "Error"
          }
        }
      },
      "id": "FetchErrorsResponse",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GcsProfile": {
      "properties": {
        "rootPath": {
          "description": "The root path inside the Cloud Storage bucket.",
          "type": "string"
        },
        "bucketName": {
          "type": "string",
          "description": "Required. The full project and resource path for Cloud Storage bucket including the name."
        }
      },
      "id": "GcsProfile",
      "type": "object",
      "description": "Cloud Storage bucket profile."
    },
    "MysqlDatabase": {
      "properties": {
        "mysqlTables": {
          "items": {
            "$ref": "MysqlTable"
          },
          "description": "Tables in the database.",
          "type": "array"
        },
        "databaseName": {
          "type": "string",
          "description": "Database name."
        }
      },
      "id": "MysqlDatabase",
      "type": "object",
      "description": "MySQL database."
    },
    "FetchStaticIpsResponse": {
      "description": "Response message for a 'FetchStaticIps' response.",
      "id": "FetchStaticIpsResponse",
      "type": "object",
      "properties": {
        "staticIps": {
          "type": "array",
          "description": "list of static ips by account",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "BackfillAllStrategy": {
      "id": "BackfillAllStrategy",
      "properties": {
        "oracleExcludedObjects": {
          "description": "Oracle data source objects to avoid backfilling.",
          "$ref": "OracleRdbms"
        },
        "mysqlExcludedObjects": {
          "$ref": "MysqlRdbms",
          "description": "MySQL data source objects to avoid backfilling."
        }
      },
      "type": "object",
      "description": "Backfill strategy to automatically backfill the Stream's objects. Specific objects can be excluded."
    },
    "Error": {
      "id": "Error",
      "type": "object",
      "properties": {
        "errorUuid": {
          "description": "A unique identifier for this specific error, allowing it to be traced throughout the system in logs and API responses.",
          "type": "string"
        },
        "errorTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the error occurred."
        },
        "details": {
          "description": "Additional information about the error.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "reason": {
          "description": "A title that explains the reason for the error.",
          "type": "string"
        },
        "message": {
          "description": "A message containing more information about the error that occurred.",
          "type": "string"
        }
      },
      "description": "Represent a user-facing Error."
    },
    "DestinationConfig": {
      "description": "The configuration of the stream destination.",
      "id": "DestinationConfig",
      "type": "object",
      "properties": {
        "destinationConnectionProfileName": {
          "description": "Required. Destination connection profile identifier.",
          "type": "string"
        },
        "gcsDestinationConfig": {
          "$ref": "GcsDestinationConfig",
          "description": "GCS destination configuration."
        }
      }
    },
    "VpcPeeringConfig": {
      "type": "object",
      "properties": {
        "vpcName": {
          "description": "Required. fully qualified name of the VPC Datastream will peer to.",
          "type": "string"
        },
        "subnet": {
          "type": "string",
          "description": "Required. A free subnet for peering. (CIDR of /29) TODO(b/172995841) add validators."
        }
      },
      "id": "VpcPeeringConfig",
      "description": "The VPC Peering configuration is used to create VPC peering between Datastream and the consumer's VPC."
    },
    "MysqlColumn": {
      "type": "object",
      "properties": {
        "length": {
          "type": "integer",
          "format": "int32",
          "description": "Column length."
        },
        "ordinalPosition": {
          "type": "integer",
          "description": "The ordinal position of the column in the table.",
          "format": "int32"
        },
        "nullable": {
          "type": "boolean",
          "description": "Whether or not the column can accept a null value."
        },
        "collation": {
          "description": "Column collation.",
          "type": "string"
        },
        "primaryKey": {
          "type": "boolean",
          "description": "Whether or not the column represents a primary key."
        },
        "dataType": {
          "description": "The MySQL data type. Full data types list can be found here: https://dev.mysql.com/doc/refman/8.0/en/data-types.html",
          "type": "string"
        },
        "columnName": {
          "type": "string",
          "description": "Column name."
        }
      },
      "description": "MySQL Column.",
      "id": "MysqlColumn"
    },
    "OracleDropLargeObjects": {
      "id": "OracleDropLargeObjects",
      "description": "Configuration to drop large object values.",
      "properties": {},
      "type": "object"
    },
    "BackfillJob": {
      "id": "BackfillJob",
      "properties": {
        "lastEndTime": {
          "description": "Output only. Backfill job's end time.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Backfill job state.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "PENDING",
            "ACTIVE",
            "STOPPED",
            "FAILED",
            "COMPLETED",
            "UNSUPPORTED"
          ],
          "enumDescriptions": [
            "Default value.",
            "Backfill job was never started for the stream object (stream has backfill strategy defined as manual or object was explicitly excluded from automatic backfill).",
            "Backfill job will start pending available resources.",
            "Backfill job is running.",
            "Backfill job stopped (next job run will start from beginning).",
            "Backfill job failed (due to an error).",
            "Backfill completed successfully.",
            "Backfill job failed since the table structure is currently unsupported for backfill."
          ]
        },
        "lastStartTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Backfill job's start time.",
          "type": "string"
        },
        "trigger": {
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Object backfill job was triggered automatically according to the stream's backfill strategy.",
            "Object backfill job was triggered manually using the dedicated API."
          ],
          "description": "Backfill job's triggering reason."
        },
        "errors": {
          "items": {
            "$ref": "Error"
          },
          "description": "Output only. Errors which caused the backfill job to fail.",
          "type": "array",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Represents a backfill job on a specific stream object."
    },
    "Location": {
      "id": "Location",
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A resource that represents Google Cloud Platform location."
    },
    "MysqlRdbms": {
      "description": "MySQL database structure",
      "id": "MysqlRdbms",
      "properties": {
        "mysqlDatabases": {
          "items": {
            "$ref": "MysqlDatabase"
          },
          "description": "Mysql databases on the server",
          "type": "array"
        }
      },
      "type": "object"
    },
    "FetchErrorsRequest": {
      "type": "object",
      "id": "FetchErrorsRequest",
      "description": "Request message for 'FetchErrors' request.",
      "properties": {}
    },
    "ConnectionProfile": {
      "id": "ConnectionProfile",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. Display name."
        },
        "updateTime": {
          "description": "Output only. The update time of the resource.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "mysqlProfile": {
          "$ref": "MysqlProfile",
          "description": "MySQL ConnectionProfile configuration."
        },
        "noConnectivity": {
          "description": "No connectivity option chosen.",
          "$ref": "NoConnectivitySettings"
        },
        "labels": {
          "type": "object",
          "description": "Labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "forwardSshConnectivity": {
          "description": "Forward SSH tunnel connectivity.",
          "$ref": "ForwardSshTunnelConnectivity"
        },
        "privateConnectivity": {
          "$ref": "PrivateConnectivity",
          "description": "Private connectivity."
        },
        "oracleProfile": {
          "description": "Oracle ConnectionProfile configuration.",
          "$ref": "OracleProfile"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The create time of the resource.",
          "format": "google-datetime",
          "readOnly": true
        },
        "gcsProfile": {
          "description": "Cloud Storage ConnectionProfile configuration.",
          "$ref": "GcsProfile"
        },
        "staticServiceIpConnectivity": {
          "$ref": "StaticServiceIpConnectivity",
          "description": "Static Service IP connectivity."
        },
        "name": {
          "description": "Output only. The resource's name.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "MysqlSourceConfig": {
      "description": "MySQL source configuration",
      "properties": {
        "rejectlist": {
          "$ref": "MysqlRdbms",
          "description": "MySQL objects to exclude from the stream."
        },
        "allowlist": {
          "$ref": "MysqlRdbms",
          "description": "MySQL objects to retrieve from the source."
        }
      },
      "id": "MysqlSourceConfig",
      "type": "object"
    },
    "OracleRdbms": {
      "properties": {
        "oracleSchemas": {
          "description": "Oracle schemas/databases in the database server.",
          "type": "array",
          "items": {
            "$ref": "OracleSchema"
          }
        }
      },
      "description": "Oracle database structure.",
      "type": "object",
      "id": "OracleRdbms"
    },
    "OperationMetadata": {
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "validationResult": {
          "description": "Output only. Results of executed validations if there are any.",
          "readOnly": true,
          "$ref": "ValidationResult"
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "type": "object"
    },
    "ValidationResult": {
      "id": "ValidationResult",
      "type": "object",
      "properties": {
        "validations": {
          "description": "A list of validations (includes both executed as well as not executed validations).",
          "items": {
            "$ref": "Validation"
          },
          "type": "array"
        }
      },
      "description": "Contains the current validation results."
    },
    "OracleColumn": {
      "id": "OracleColumn",
      "type": "object",
      "description": "Oracle Column.",
      "properties": {
        "primaryKey": {
          "description": "Whether or not the column represents a primary key.",
          "type": "boolean"
        },
        "dataType": {
          "description": "The Oracle data type.",
          "type": "string"
        },
        "precision": {
          "description": "Column precision.",
          "format": "int32",
          "type": "integer"
        },
        "ordinalPosition": {
          "format": "int32",
          "description": "The ordinal position of the column in the table.",
          "type": "integer"
        },
        "nullable": {
          "type": "boolean",
          "description": "Whether or not the column can accept a null value."
        },
        "scale": {
          "description": "Column scale.",
          "type": "integer",
          "format": "int32"
        },
        "encoding": {
          "description": "Column encoding.",
          "type": "string"
        },
[...]
