{
  "version": "v1beta1",
  "rootUrl": "https://dataform.googleapis.com/",
  "ownerDomain": "google.com",
  "servicePath": "",
  "protocol": "rest",
  "title": "Dataform API",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "revision": "20230805",
  "baseUrl": "https://dataform.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "description": "Lists information about the supported locations for this service.",
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                }
              },
              "id": "dataform.projects.locations.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}/locations",
              "flatPath": "v1beta1/projects/{projectsId}/locations",
              "httpMethod": "GET"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "dataform.projects.locations.get",
              "response": {
                "$ref": "Location"
              },
              "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}",
              "path": "v1beta1/{+name}",
              "description": "Gets information about a location.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "type": "string",
                  "required": true
                }
              }
            }
          },
          "resources": {
            "repositories": {
              "methods": {
                "fetchHistory": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dataform.projects.locations.repositories.fetchHistory",
                  "httpMethod": "GET",
                  "path": "v1beta1/{+name}:fetchHistory",
                  "description": "Fetches a Repository's history of commits. The Repository must not have a value for `git_remote_settings.url`.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:fetchHistory",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Maximum number of commits to return. The server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                      "type": "integer"
                    },
                    "name": {
                      "type": "string",
                      "description": "Required. The repository's name.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "Optional. Page token received from a previous `FetchRepositoryHistory` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `FetchRepositoryHistory` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "FetchRepositoryHistoryResponse"
                  }
                },
                "setIamPolicy": {
                  "httpMethod": "POST",
                  "parameters": {
                    "resource": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    }
                  },
                  "response": {
                    "$ref": "Policy"
                  },
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:setIamPolicy",
                  "path": "v1beta1/{+resource}:setIamPolicy",
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "id": "dataform.projects.locations.repositories.setIamPolicy"
                },
                "testIamPermissions": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "id": "dataform.projects.locations.repositories.testIamPermissions",
                  "path": "v1beta1/{+resource}:testIamPermissions",
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:testIamPermissions"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The repository's name.",
                      "required": true
                    },
                    "force": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If set to true, any child resources of this repository will also be deleted. (Otherwise, the request will only succeed if the repository has no child resources.)"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}",
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a single Repository.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "dataform.projects.locations.repositories.delete"
                },
                "getIamPolicy": {
                  "path": "v1beta1/{+resource}:getIamPolicy",
                  "httpMethod": "GET",
                  "id": "dataform.projects.locations.repositories.getIamPolicy",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:getIamPolicy",
                  "parameters": {
                    "options.requestedPolicyVersion": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                    },
                    "resource": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "response": {
                    "$ref": "Policy"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set."
                },
                "create": {
                  "httpMethod": "POST",
                  "id": "dataform.projects.locations.repositories.create",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The location in which to create the repository. Must be in the format `projects/*/locations/*`."
                    },
                    "repositoryId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The ID to use for the repository, which will become the final component of the repository's resource name."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/repositories",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories",
                  "response": {
                    "$ref": "Repository"
                  },
                  "request": {
                    "$ref": "Repository"
                  },
                  "description": "Creates a new Repository in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "response": {
                    "$ref": "Repository"
                  },
                  "httpMethod": "PATCH",
                  "description": "Updates a single Repository.",
                  "parameters": {
                    "name": {
                      "description": "Output only. The repository's name.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "required": true
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Optional. Specifies the fields to be updated in the repository. If left unset, all fields will be updated.",
                      "location": "query"
                    }
                  },
                  "id": "dataform.projects.locations.repositories.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}",
                  "request": {
                    "$ref": "Repository"
                  }
                },
                "commit": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "dataform.projects.locations.repositories.commit",
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:commit",
                  "path": "v1beta1/{+name}:commit",
                  "request": {
                    "$ref": "CommitRepositoryChangesRequest"
                  },
                  "description": "Applies a Git commit to a Repository. The Repository must not have a value for `git_remote_settings.url`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The repository's name.",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists Repositories in a given project and location.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories",
                  "path": "v1beta1/{+parent}/repositories",
                  "response": {
                    "$ref": "ListRepositoriesResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. Page token received from a previous `ListRepositories` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRepositories` must match the call that provided the page token.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filter for the returned list.",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The location in which to list repositories. Must be in the format `projects/*/locations/*`.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "orderBy": {
                      "description": "Optional. This field only supports ordering by `name`. If unspecified, the server will choose the ordering. If specified, the default order is ascending for the `name` field.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. Maximum number of repositories to return. The server may return fewer items than requested. If unspecified, the server will pick an appropriate default."
                    }
                  },
                  "id": "dataform.projects.locations.repositories.list",
                  "httpMethod": "GET"
                },
                "get": {
                  "path": "v1beta1/{+name}",
                  "httpMethod": "GET",
                  "description": "Fetches a single Repository.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The repository's name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}",
                  "id": "dataform.projects.locations.repositories.get",
                  "response": {
                    "$ref": "Repository"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "fetchRemoteBranches": {
                  "id": "dataform.projects.locations.repositories.fetchRemoteBranches",
                  "parameters": {
                    "name": {
                      "description": "Required. The repository's name.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:fetchRemoteBranches",
                  "response": {
                    "$ref": "FetchRemoteBranchesResponse"
                  },
                  "path": "v1beta1/{+name}:fetchRemoteBranches",
                  "httpMethod": "GET",
                  "description": "Fetches a Repository's remote branches.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "queryDirectoryContents": {
                  "id": "dataform.projects.locations.repositories.queryDirectoryContents",
                  "path": "v1beta1/{+name}:queryDirectoryContents",
                  "response": {
                    "$ref": "QueryRepositoryDirectoryContentsResponse"
                  },
                  "description": "Returns the contents of a given Repository directory. The Repository must not have a value for `git_remote_settings.url`.",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. Maximum number of paths to return. The server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Page token received from a previous `QueryRepositoryDirectoryContents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `QueryRepositoryDirectoryContents` must match the call that provided the page token."
                    },
                    "commitSha": {
                      "description": "Optional. The Commit SHA for the commit to query from. If unset, the directory will be queried from HEAD.",
                      "location": "query",
                      "type": "string"
                    },
                    "path": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The directory's full path including directory name, relative to root. If left unset, the root is used."
                    },
                    "name": {
                      "description": "Required. The repository's name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:queryDirectoryContents",
                  "httpMethod": "GET"
                },
                "computeAccessTokenStatus": {
                  "id": "dataform.projects.locations.repositories.computeAccessTokenStatus",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:computeAccessTokenStatus",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ComputeRepositoryAccessTokenStatusResponse"
                  },
                  "path": "v1beta1/{+name}:computeAccessTokenStatus",
                  "description": "Computes a Repository's Git access token status.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "description": "Required. The repository's name."
                    }
                  }
                },
                "readFile": {
                  "httpMethod": "GET",
                  "description": "Returns the contents of a file (inside a Repository). The Repository must not have a value for `git_remote_settings.url`.",
                  "response": {
                    "$ref": "ReadRepositoryFileResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:readFile",
                  "path": "v1beta1/{+name}:readFile",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "dataform.projects.locations.repositories.readFile",
                  "parameters": {
                    "commitSha": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The commit SHA for the commit to read from. If unset, the file will be read from HEAD."
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "type": "string",
                      "description": "Required. The repository's name."
                    },
                    "path": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Full file path to read including filename, from repository root."
                    }
                  }
                }
              },
              "resources": {
                "workflowInvocations": {
                  "methods": {
                    "delete": {
                      "description": "Deletes a single WorkflowInvocation.",
                      "path": "v1beta1/{+name}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workflowInvocations/[^/]+$",
                          "description": "Required. The workflow invocation resource's name.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowInvocations/{workflowInvocationsId}",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "dataform.projects.locations.repositories.workflowInvocations.delete"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "parameters": {
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Filter for the returned list."
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. Maximum number of workflow invocations to return. The server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. Page token received from a previous `ListWorkflowInvocations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListWorkflowInvocations` must match the call that provided the page token.",
                          "location": "query"
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "Optional. This field only supports ordering by `name`. If unspecified, the server will choose the ordering. If specified, the default order is ascending for the `name` field.",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent resource of the WorkflowInvocation type. Must be in the format `projects/*/locations/*/repositories/*`."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowInvocations",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta1/{+parent}/workflowInvocations",
                      "response": {
                        "$ref": "ListWorkflowInvocationsResponse"
                      },
                      "description": "Lists WorkflowInvocations in a given Repository.",
                      "id": "dataform.projects.locations.repositories.workflowInvocations.list"
                    },
                    "cancel": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}:cancel",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Empty"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowInvocations/{workflowInvocationsId}:cancel",
                      "description": "Requests cancellation of a running WorkflowInvocation.",
                      "id": "dataform.projects.locations.repositories.workflowInvocations.cancel",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The workflow invocation resource's name.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workflowInvocations/[^/]+$",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "CancelWorkflowInvocationRequest"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "get": {
                      "description": "Fetches a single WorkflowInvocation.",
                      "parameters": {
                        "name": {
                          "description": "Required. The workflow invocation resource's name.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workflowInvocations/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "httpMethod": "GET",
                      "path": "v1beta1/{+name}",
                      "response": {
                        "$ref": "WorkflowInvocation"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowInvocations/{workflowInvocationsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "dataform.projects.locations.repositories.workflowInvocations.get",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "create": {
                      "httpMethod": "POST",
                      "id": "dataform.projects.locations.repositories.workflowInvocations.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta1/{+parent}/workflowInvocations",
                      "response": {
                        "$ref": "WorkflowInvocation"
                      },
                      "description": "Creates a new WorkflowInvocation in a given Repository.",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. The repository in which to create the workflow invocation. Must be in the format `projects/*/locations/*/repositories/*`.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowInvocations",
                      "request": {
                        "$ref": "WorkflowInvocation"
                      }
                    },
                    "query": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Returns WorkflowInvocationActions in a given WorkflowInvocation.",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "QueryWorkflowInvocationActionsResponse"
                      },
                      "path": "v1beta1/{+name}:query",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowInvocations/{workflowInvocationsId}:query",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "dataform.projects.locations.repositories.workflowInvocations.query",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. Maximum number of workflow invocations to return. The server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "Optional. Page token received from a previous `QueryWorkflowInvocationActions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `QueryWorkflowInvocationActions` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "location": "path",
                          "description": "Required. The workflow invocation's name.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workflowInvocations/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "releaseConfigs": {
                  "methods": {
                    "get": {
                      "path": "v1beta1/{+name}",
                      "response": {
                        "$ref": "ReleaseConfig"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The release config's name.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/releaseConfigs/[^/]+$",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dataform.projects.locations.repositories.releaseConfigs.get",
                      "httpMethod": "GET",
                      "description": "Fetches a single ReleaseConfig.",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/releaseConfigs/{releaseConfigsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "id": "dataform.projects.locations.repositories.releaseConfigs.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ReleaseConfig"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/releaseConfigs",
                      "parameters": {
                        "releaseConfigId": {
                          "description": "Required. The ID to use for the release config, which will become the final component of the release config's resource name.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The repository in which to create the release config. Must be in the format `projects/*/locations/*/repositories/*`.",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$"
                        }
                      },
                      "request": {
                        "$ref": "ReleaseConfig"
                      },
                      "description": "Creates a new ReleaseConfig in a given Repository.",
                      "path": "v1beta1/{+parent}/releaseConfigs",
                      "httpMethod": "POST"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. Page token received from a previous `ListReleaseConfigs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListReleaseConfigs` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. Maximum number of release configs to return. The server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The repository in which to list release configs. Must be in the format `projects/*/locations/*/repositories/*`.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "type": "string"
                        }
                      },
                      "id": "dataform.projects.locations.repositories.releaseConfigs.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListReleaseConfigsResponse"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/releaseConfigs",
                      "path": "v1beta1/{+parent}/releaseConfigs",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists ReleaseConfigs in a given Repository."
                    },
                    "delete": {
                      "description": "Deletes a single ReleaseConfig.",
                      "path": "v1beta1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "id": "dataform.projects.locations.repositories.releaseConfigs.delete",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The release config's name.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/releaseConfigs/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/releaseConfigs/{releaseConfigsId}"
                    },
                    "patch": {
                      "id": "dataform.projects.locations.repositories.releaseConfigs.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/releaseConfigs/{releaseConfigsId}",
                      "httpMethod": "PATCH",
                      "description": "Updates a single ReleaseConfig.",
                      "parameters": {
                        "name": {
                          "description": "Output only. The release config's name.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/releaseConfigs/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "description": "Optional. Specifies the fields to be updated in the release config. If left unset, all fields will be updated.",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "ReleaseConfig"
                      },
                      "request": {
                        "$ref": "ReleaseConfig"
                      },
                      "path": "v1beta1/{+name}"
                    }
                  }
                },
                "workspaces": {
                  "methods": {
                    "create": {
                      "request": {
                        "$ref": "Workspace"
                      },
                      "id": "dataform.projects.locations.repositories.workspaces.create",
                      "response": {
                        "$ref": "Workspace"
                      },
                      "path": "v1beta1/{+parent}/workspaces",
                      "parameters": {
                        "workspaceId": {
                          "type": "string",
                          "description": "Required. The ID to use for the workspace, which will become the final component of the workspace's resource name.",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "description": "Required. The repository in which to create the workspace. Must be in the format `projects/*/locations/*/repositories/*`.",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates a new Workspace in a given Repository.",
                      "httpMethod": "POST"
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces",
                      "path": "v1beta1/{+parent}/workspaces",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListWorkspacesResponse"
                      },
                      "description": "Lists Workspaces in a given Repository.",
                      "id": "dataform.projects.locations.repositories.workspaces.list",
                      "parameters": {
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Filter for the returned list."
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. Maximum number of workspaces to return. The server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. Page token received from a previous `ListWorkspaces` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListWorkspaces` must match the call that provided the page token.",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The repository in which to list workspaces. Must be in the format `projects/*/locations/*/repositories/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "required": true
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. This field only supports ordering by `name`. If unspecified, the server will choose the ordering. If specified, the default order is ascending for the `name` field.",
                          "location": "query"
                        }
                      }
                    },
                    "commit": {
                      "response": {
                        "$ref": "Empty"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:commit",
                      "description": "Applies a Git commit for uncommitted files in a Workspace.",
                      "id": "dataform.projects.locations.repositories.workspaces.commit",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "CommitWorkspaceChangesRequest"
                      },
                      "path": "v1beta1/{+name}:commit",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$",
                          "description": "Required. The workspace's name.",
                          "type": "string"
                        }
                      }
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "description": "Required. The workspace resource's name.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "httpMethod": "DELETE",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}",
                      "id": "dataform.projects.locations.repositories.workspaces.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}",
                      "description": "Deletes a single Workspace."
                    },
                    "push": {
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The workspace's name.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "PushGitCommitsRequest"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:push",
                      "description": "Pushes Git commits from a Workspace to the Repository's remote.",
                      "id": "dataform.projects.locations.repositories.workspaces.push",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "path": "v1beta1/{+name}:push"
                    },
                    "readFile": {
                      "parameters": {
                        "workspace": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The workspace's name.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$"
                        },
                        "path": {
                          "description": "Required. The file's full path including filename, relative to the workspace root.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "path": "v1beta1/{+workspace}:readFile",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "workspace"
                      ],
                      "description": "Returns the contents of a file (inside a Workspace).",
                      "id": "dataform.projects.locations.repositories.workspaces.readFile",
                      "httpMethod": "GET",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:readFile",
                      "response": {
                        "$ref": "ReadFileResponse"
                      }
                    },
                    "moveDirectory": {
                      "description": "Moves a directory (inside a Workspace), and all of its contents, to a new location.",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:moveDirectory",
                      "request": {
                        "$ref": "MoveDirectoryRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "workspace": {
                          "required": true,
                          "location": "path",
                          "description": "Required. The workspace's name.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$",
                          "type": "string"
                        }
                      },
                      "id": "dataform.projects.locations.repositories.workspaces.moveDirectory",
                      "path": "v1beta1/{+workspace}:moveDirectory",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "MoveDirectoryResponse"
                      },
                      "parameterOrder": [
                        "workspace"
                      ]
                    },
                    "reset": {
                      "httpMethod": "POST",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:reset",
                      "id": "dataform.projects.locations.repositories.workspaces.reset",
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The workspace's name.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "ResetWorkspaceChangesRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}:reset",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Performs a Git reset for uncommitted files in a Workspace."
                    },
                    "fetchFileGitStatuses": {
                      "response": {
                        "$ref": "FetchFileGitStatusesResponse"
                      },
                      "path": "v1beta1/{+name}:fetchFileGitStatuses",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$",
                          "type": "string",
                          "description": "Required. The workspace's name.",
                          "required": true
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:fetchFileGitStatuses",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dataform.projects.locations.repositories.workspaces.fetchFileGitStatuses",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Fetches Git statuses for the files in a Workspace."
                    },
                    "installNpmPackages": {
                      "parameterOrder": [
                        "workspace"
                      ],
                      "id": "dataform.projects.locations.repositories.workspaces.installNpmPackages",
                      "description": "Installs dependency NPM packages (inside a Workspace).",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+workspace}:installNpmPackages",
                      "request": {
                        "$ref": "InstallNpmPackagesRequest"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:installNpmPackages",
                      "response": {
                        "$ref": "InstallNpmPackagesResponse"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "workspace": {
                          "required": true,
                          "description": "Required. The workspace's name.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$"
                        }
                      }
                    },
                    "makeDirectory": {
                      "response": {
                        "$ref": "MakeDirectoryResponse"
                      },
                      "description": "Creates a directory inside a Workspace.",
                      "httpMethod": "POST",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:makeDirectory",
                      "request": {
                        "$ref": "MakeDirectoryRequest"
                      },
                      "parameterOrder": [
                        "workspace"
                      ],
                      "parameters": {
                        "workspace": {
                          "description": "Required. The workspace's name.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "path": "v1beta1/{+workspace}:makeDirectory",
                      "id": "dataform.projects.locations.repositories.workspaces.makeDirectory",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "getIamPolicy": {
                      "httpMethod": "GET",
                      "parameters": {
                        "options.requestedPolicyVersion": {
                          "format": "int32",
                          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                          "type": "integer",
                          "location": "query"
                        },
                        "resource": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:getIamPolicy",
                      "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                      "id": "dataform.projects.locations.repositories.workspaces.getIamPolicy",
                      "path": "v1beta1/{+resource}:getIamPolicy",
                      "parameterOrder": [
                        "resource"
                      ],
                      "response": {
                        "$ref": "Policy"
                      }
                    },
                    "moveFile": {
                      "description": "Moves a file (inside a Workspace) to a new location.",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "MoveFileRequest"
                      },
                      "response": {
                        "$ref": "MoveFileResponse"
                      },
                      "parameterOrder": [
                        "workspace"
                      ],
                      "id": "dataform.projects.locations.repositories.workspaces.moveFile",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:moveFile",
                      "parameters": {
                        "workspace": {
                          "required": true,
                          "location": "path",
                          "description": "Required. The workspace's name.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$",
                          "type": "string"
                        }
                      },
                      "path": "v1beta1/{+workspace}:moveFile"
                    },
                    "removeDirectory": {
                      "parameters": {
                        "workspace": {
                          "description": "Required. The workspace's name.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "RemoveDirectoryRequest"
                      },
                      "parameterOrder": [
                        "workspace"
                      ],
                      "httpMethod": "POST",
                      "id": "dataform.projects.locations.repositories.workspaces.removeDirectory",
                      "description": "Deletes a directory (inside a Workspace) and all of its contents.",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:removeDirectory",
                      "path": "v1beta1/{+workspace}:removeDirectory",
                      "response": {
                        "$ref": "Empty"
                      }
                    },
                    "queryDirectoryContents": {
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:queryDirectoryContents",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. Page token received from a previous `QueryDirectoryContents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `QueryDirectoryContents` must match the call that provided the page token.",
                          "location": "query"
                        },
                        "path": {
                          "type": "string",
                          "description": "Optional. The directory's full path including directory name, relative to the workspace root. If left unset, the workspace root is used.",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. Maximum number of paths to return. The server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                          "location": "query",
                          "type": "integer"
                        },
                        "workspace": {
                          "required": true,
                          "description": "Required. The workspace's name.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$",
                          "type": "string"
                        }
                      },
                      "description": "Returns the contents of a given Workspace directory.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "workspace"
                      ],
                      "response": {
                        "$ref": "QueryDirectoryContentsResponse"
                      },
                      "path": "v1beta1/{+workspace}:queryDirectoryContents",
                      "id": "dataform.projects.locations.repositories.workspaces.queryDirectoryContents"
                    },
                    "fetchGitAheadBehind": {
                      "id": "dataform.projects.locations.repositories.workspaces.fetchGitAheadBehind",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:fetchGitAheadBehind",
                      "parameters": {
                        "remoteBranch": {
                          "location": "query",
                          "description": "Optional. The name of the branch in the Git remote against which this workspace should be compared. If left unset, the repository's default branch name will be used.",
                          "type": "string"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. The workspace's name.",
                          "type": "string"
                        }
                      },
                      "description": "Fetches Git ahead/behind against a remote branch.",
                      "httpMethod": "GET",
                      "path": "v1beta1/{+name}:fetchGitAheadBehind",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "FetchGitAheadBehindResponse"
                      }
                    },
                    "writeFile": {
                      "request": {
                        "$ref": "WriteFileRequest"
                      },
                      "path": "v1beta1/{+workspace}:writeFile",
                      "id": "dataform.projects.locations.repositories.workspaces.writeFile",
                      "parameterOrder": [
                        "workspace"
                      ],
                      "parameters": {
                        "workspace": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "description": "Required. The workspace's name."
                        }
                      },
                      "description": "Writes to a file (inside a Workspace).",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "WriteFileResponse"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:writeFile"
                    },
                    "get": {
                      "description": "Fetches a single Workspace.",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$",
                          "description": "Required. The workspace's name.",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Workspace"
                      },
                      "id": "dataform.projects.locations.repositories.workspaces.get"
                    },
                    "fetchFileDiff": {
                      "id": "dataform.projects.locations.repositories.workspaces.fetchFileDiff",
                      "response": {
                        "$ref": "FetchFileDiffResponse"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:fetchFileDiff",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+workspace}:fetchFileDiff",
                      "parameters": {
                        "path": {
                          "description": "Required. The file's full path including filename, relative to the workspace root.",
                          "location": "query",
                          "type": "string"
                        },
                        "workspace": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$",
                          "type": "string",
                          "description": "Required. The workspace's name.",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "workspace"
                      ],
                      "httpMethod": "GET",
                      "description": "Fetches Git diff for an uncommitted file in a Workspace."
                    },
                    "pull": {
                      "request": {
                        "$ref": "PullGitCommitsRequest"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The workspace's name.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$",
                          "required": true
                        }
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Pulls Git commits from the Repository's remote into a Workspace.",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta1/{+name}:pull",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:pull",
                      "id": "dataform.projects.locations.repositories.workspaces.pull",
                      "response": {
                        "$ref": "Empty"
                      }
                    },
                    "setIamPolicy": {
                      "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                      "id": "dataform.projects.locations.repositories.workspaces.setIamPolicy",
                      "httpMethod": "POST",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:setIamPolicy",
                      "parameters": {
                        "resource": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$",
                          "type": "string",
                          "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "resource"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Policy"
                      },
                      "request": {
                        "$ref": "SetIamPolicyRequest"
                      },
                      "path": "v1beta1/{+resource}:setIamPolicy"
                    },
                    "testIamPermissions": {
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:testIamPermissions",
                      "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "dataform.projects.locations.repositories.workspaces.testIamPermissions",
                      "path": "v1beta1/{+resource}:testIamPermissions",
                      "parameterOrder": [
                        "resource"
                      ],
                      "request": {
                        "$ref": "TestIamPermissionsRequest"
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "TestIamPermissionsResponse"
                      },
                      "parameters": {
                        "resource": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$"
                        }
                      }
                    },
                    "removeFile": {
                      "parameterOrder": [
                        "workspace"
                      ],
                      "id": "dataform.projects.locations.repositories.workspaces.removeFile",
                      "parameters": {
                        "workspace": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$",
                          "description": "Required. The workspace's name."
                        }
                      },
                      "request": {
                        "$ref": "RemoveFileRequest"
                      },
                      "httpMethod": "POST",
                      "description": "Deletes a file (inside a Workspace).",
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+workspace}:removeFile",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:removeFile"
                    }
                  }
                },
                "compilationResults": {
                  "methods": {
                    "create": {
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. The repository in which to create the compilation result. Must be in the format `projects/*/locations/*/repositories/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/compilationResults",
                      "request": {
                        "$ref": "CompilationResult"
                      },
                      "id": "dataform.projects.locations.repositories.compilationResults.create",
                      "path": "v1beta1/{+parent}/compilationResults",
                      "response": {
                        "$ref": "CompilationResult"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a new CompilationResult in a given project and location."
                    },
                    "query": {
                      "path": "v1beta1/{+name}:query",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Returns CompilationResultActions in a given CompilationResult.",
                      "httpMethod": "GET",
                      "id": "dataform.projects.locations.repositories.compilationResults.query",
                      "response": {
                        "$ref": "QueryCompilationResultActionsResponse"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/compilationResults/{compilationResultsId}:query",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The compilation result's name.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/compilationResults/[^/]+$",
                          "required": true
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. Maximum number of compilation results to return. The server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "Optional. Page token received from a previous `QueryCompilationResultActions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `QueryCompilationResultActions` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. Optional filter for the returned list. Filtering is only currently supported on the `file_path` field.",
                          "location": "query"
                        }
                      }
                    },
                    "get": {
                      "description": "Fetches a single CompilationResult.",
                      "response": {
                        "$ref": "CompilationResult"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/compilationResults/{compilationResultsId}",
                      "id": "dataform.projects.locations.repositories.compilationResults.get",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The compilation result's name.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/compilationResults/[^/]+$",
                          "location": "path"
                        }
                      }
                    },
                    "list": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListCompilationResultsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/compilationResults",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "Required. The repository in which to list compilation results. Must be in the format `projects/*/locations/*/repositories/*`.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. Maximum number of compilation results to return. The server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                          "format": "int32",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "Optional. Page token received from a previous `ListCompilationResults` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCompilationResults` must match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "path": "v1beta1/{+parent}/compilationResults",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists CompilationResults in a given Repository.",
                      "id": "dataform.projects.locations.repositories.compilationResults.list"
                    }
                  }
                },
                "workflowConfigs": {
                  "methods": {
                    "patch": {
                      "path": "v1beta1/{+name}",
                      "request": {
                        "$ref": "WorkflowConfig"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Output only. The workflow config's name.",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workflowConfigs/[^/]+$"
                        },
                        "updateMask": {
                          "type": "string",
                          "description": "Optional. Specifies the fields to be updated in the workflow config. If left unset, all fields will be updated.",
                          "location": "query",
                          "format": "google-fieldmask"
                        }
                      },
                      "httpMethod": "PATCH",
                      "description": "Updates a single WorkflowConfig.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "dataform.projects.locations.repositories.workflowConfigs.patch",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowConfigs/{workflowConfigsId}",
                      "response": {
                        "$ref": "WorkflowConfig"
                      }
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Page token received from a previous `ListWorkflowConfigs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListWorkflowConfigs` must match the call that provided the page token."
                        },
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The repository in which to list workflow configs. Must be in the format `projects/*/locations/*/repositories/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$"
                        },
                        "pageSize": {
                          "description": "Optional. Maximum number of workflow configs to return. The server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListWorkflowConfigsResponse"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowConfigs",
                      "description": "Lists WorkflowConfigs in a given Repository.",
                      "id": "dataform.projects.locations.repositories.workflowConfigs.list",
                      "httpMethod": "GET",
                      "path": "v1beta1/{+parent}/workflowConfigs"
                    },
                    "get": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "WorkflowConfig"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. The workflow config's name.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workflowConfigs/[^/]+$",
                          "type": "string"
                        }
                      },
                      "id": "dataform.projects.locations.repositories.workflowConfigs.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowConfigs/{workflowConfigsId}",
                      "description": "Fetches a single WorkflowConfig."
                    },
                    "delete": {
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dataform.projects.locations.repositories.workflowConfigs.delete",
                      "httpMethod": "DELETE",
                      "description": "Deletes a single WorkflowConfig.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The workflow config's name.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workflowConfigs/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowConfigs/{workflowConfigsId}",
                      "path": "v1beta1/{+name}"
                    },
                    "create": {
                      "description": "Creates a new WorkflowConfig in a given Repository.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workflowConfigs",
                      "id": "dataform.projects.locations.repositories.workflowConfigs.create",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "WorkflowConfig"
                      },
                      "path": "v1beta1/{+parent}/workflowConfigs",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The repository in which to create the workflow config. Must be in the format `projects/*/locations/*/repositories/*`."
                        },
                        "workflowConfigId": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. The ID to use for the workflow config, which will become the final component of the workflow config's resource name."
                        }
                      },
                      "request": {
                        "$ref": "WorkflowConfig"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "name": "dataform",
  "basePath": "",
  "description": "",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "$.xgafv": {
[...]
