{
  "version_module": true,
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "basePath": "",
  "schemas": {
    "EntityResult": {
      "type": "object",
      "id": "EntityResult",
      "properties": {
        "cursor": {
          "format": "byte",
          "type": "string",
          "description": "A cursor that points to the position after the result entity. Set only when the `EntityResult` is part of a `QueryResultBatch` message."
        },
        "entity": {
          "$ref": "Entity",
          "description": "The resulting entity."
        },
        "version": {
          "description": "The version of the entity, a strictly positive number that monotonically increases with changes to the entity. This field is set for `FULL` entity results. For missing entities in `LookupResponse`, this is the version of the snapshot that was used to look up the entity, and it is always set except for eventually consistent reads.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "The result of fetching an entity from Datastore."
    },
    "GoogleDatastoreAdminV1MigrationProgressEvent": {
      "id": "GoogleDatastoreAdminV1MigrationProgressEvent",
      "description": "An event signifying the start of a new step in a [migration from Cloud Datastore to Cloud Firestore in Datastore mode](https://cloud.google.com/datastore/docs/upgrade-to-firestore).",
      "type": "object",
      "properties": {
        "prepareStepDetails": {
          "description": "Details for the `PREPARE` step.",
          "$ref": "GoogleDatastoreAdminV1PrepareStepDetails"
        },
        "step": {
          "type": "string",
          "enum": [
            "MIGRATION_STEP_UNSPECIFIED",
            "PREPARE",
            "START",
            "APPLY_WRITES_SYNCHRONOUSLY",
            "COPY_AND_VERIFY",
            "REDIRECT_EVENTUALLY_CONSISTENT_READS",
            "REDIRECT_STRONGLY_CONSISTENT_READS",
            "REDIRECT_WRITES"
          ],
          "description": "The step that is starting. An event with step set to `START` indicates that the migration has been reverted back to the initial pre-migration state.",
          "enumDescriptions": [
            "Unspecified.",
            "Pre-migration: the database is prepared for migration.",
            "Start of migration.",
            "Writes are applied synchronously to at least one replica.",
            "Data is copied to Cloud Firestore and then verified to match the data in Cloud Datastore.",
            "Eventually-consistent reads are redirected to Cloud Firestore.",
            "Strongly-consistent reads are redirected to Cloud Firestore.",
            "Writes are redirected to Cloud Firestore."
          ]
        },
        "redirectWritesStepDetails": {
          "description": "Details for the `REDIRECT_WRITES` step.",
          "$ref": "GoogleDatastoreAdminV1RedirectWritesStepDetails"
        }
      }
    },
    "GoogleDatastoreAdminV1beta1ExportEntitiesResponse": {
      "id": "GoogleDatastoreAdminV1beta1ExportEntitiesResponse",
      "type": "object",
      "description": "The response for google.datastore.admin.v1beta1.DatastoreAdmin.ExportEntities.",
      "properties": {
        "outputUrl": {
          "type": "string",
          "description": "Location of the output metadata file. This can be used to begin an import into Cloud Datastore (this project or another project). See google.datastore.admin.v1beta1.ImportEntitiesRequest.input_url. Only present if the operation completed successfully."
        }
      }
    },
    "GoogleDatastoreAdminV1beta1Progress": {
      "description": "Measures the progress of a particular metric.",
      "properties": {
        "workCompleted": {
          "type": "string",
          "description": "The amount of work that has been completed. Note that this may be greater than work_estimated.",
          "format": "int64"
        },
        "workEstimated": {
          "format": "int64",
          "description": "An estimate of how much work needs to be performed. May be zero if the work estimate is unavailable.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleDatastoreAdminV1beta1Progress"
    },
    "GoogleDatastoreAdminV1CommonMetadata": {
      "description": "Metadata common to all Datastore Admin operations.",
      "id": "GoogleDatastoreAdminV1CommonMetadata",
      "properties": {
        "operationType": {
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "EXPORT_ENTITIES",
            "IMPORT_ENTITIES",
            "CREATE_INDEX",
            "DELETE_INDEX"
          ],
          "type": "string",
          "description": "The type of the operation. Can be used as a filter in ListOperationsRequest.",
          "enumDescriptions": [
            "Unspecified.",
            "ExportEntities.",
            "ImportEntities.",
            "CreateIndex.",
            "DeleteIndex."
          ]
        },
        "state": {
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "description": "The current state of the Operation.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "The time the operation ended, either successfully or otherwise.",
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "description": "The client-assigned labels which were provided when the operation was created. May also include additional labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time that work began on the operation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleDatastoreAdminV1beta1ExportEntitiesMetadata": {
      "description": "Metadata for ExportEntities operations.",
      "properties": {
        "entityFilter": {
          "description": "Description of which entities are being exported.",
          "$ref": "GoogleDatastoreAdminV1beta1EntityFilter"
        },
        "progressBytes": {
          "$ref": "GoogleDatastoreAdminV1beta1Progress",
          "description": "An estimate of the number of bytes processed."
        },
        "outputUrlPrefix": {
          "type": "string",
          "description": "Location for the export metadata and data files. This will be the same value as the google.datastore.admin.v1beta1.ExportEntitiesRequest.output_url_prefix field. The final output location is provided in google.datastore.admin.v1beta1.ExportEntitiesResponse.output_url."
        },
        "progressEntities": {
          "$ref": "GoogleDatastoreAdminV1beta1Progress",
          "description": "An estimate of the number of entities processed."
        },
        "common": {
          "description": "Metadata common to all Datastore Admin operations.",
          "$ref": "GoogleDatastoreAdminV1beta1CommonMetadata"
        }
      },
      "id": "GoogleDatastoreAdminV1beta1ExportEntitiesMetadata",
      "type": "object"
    },
    "MutationResult": {
      "id": "MutationResult",
      "properties": {
        "key": {
          "description": "The automatically allocated key. Set only when the mutation allocated a key.",
          "$ref": "Key"
        },
        "version": {
          "type": "string",
          "format": "int64",
          "description": "The version of the entity on the server after processing the mutation. If the mutation doesn't change anything on the server, then the version will be the version of the current entity or, if no entity is present, a version that is strictly greater than the version of any previous entity and less than the version of any possible future entity."
        },
        "conflictDetected": {
          "type": "boolean",
          "description": "Whether a conflict was detected for this mutation. Always false when a conflict detection strategy field is not set in the mutation."
        }
      },
      "type": "object",
      "description": "The result of applying a mutation."
    },
    "Value": {
      "properties": {
        "meaning": {
          "description": "The `meaning` field should only be populated for backwards compatibility.",
          "format": "int32",
          "type": "integer"
        },
        "arrayValue": {
          "description": "An array value. Cannot contain another array value. A `Value` instance that sets field `array_value` must not set fields `meaning` or `exclude_from_indexes`.",
          "$ref": "ArrayValue"
        },
        "blobValue": {
          "type": "string",
          "description": "A blob value. May have at most 1,000,000 bytes. When `exclude_from_indexes` is false, may have at most 1500 bytes. In JSON requests, must be base64-encoded.",
          "format": "byte"
        },
        "timestampValue": {
          "type": "string",
          "description": "A timestamp value. When stored in the Datastore, precise only to microseconds; any additional precision is rounded down.",
          "format": "google-datetime"
        },
        "geoPointValue": {
          "description": "A geo point value representing a point on the surface of Earth.",
          "$ref": "LatLng"
        },
        "nullValue": {
          "type": "string",
          "enum": [
            "NULL_VALUE"
          ],
          "enumDescriptions": [
            "Null value."
          ],
          "description": "A null value."
        },
        "stringValue": {
          "description": "A UTF-8 encoded string value. When `exclude_from_indexes` is false (it is indexed) , may have at most 1500 bytes. Otherwise, may be set to at most 1,000,000 bytes.",
          "type": "string"
        },
        "excludeFromIndexes": {
          "description": "If the value should be excluded from all indexes including those defined explicitly.",
          "type": "boolean"
        },
        "booleanValue": {
          "type": "boolean",
          "description": "A boolean value."
        },
        "integerValue": {
          "format": "int64",
          "description": "An integer value.",
          "type": "string"
        },
        "entityValue": {
          "$ref": "Entity",
          "description": "An entity value. - May have no key. - May have a key with an incomplete key path. - May have a reserved/read-only key."
        },
        "doubleValue": {
          "format": "double",
          "description": "A double value.",
          "type": "number"
        },
        "keyValue": {
          "$ref": "Key",
          "description": "A key value."
        }
      },
      "id": "Value",
      "type": "object",
      "description": "A message that can hold any of the supported value types and associated metadata."
    },
    "CommitResponse": {
      "description": "The response for Datastore.Commit.",
      "type": "object",
      "id": "CommitResponse",
      "properties": {
        "mutationResults": {
          "type": "array",
          "items": {
            "$ref": "MutationResult"
          },
          "description": "The result of performing the mutations. The i-th mutation result corresponds to the i-th mutation in the request."
        },
        "indexUpdates": {
          "format": "int32",
          "description": "The number of index entries updated during the commit, or zero if none were updated.",
          "type": "integer"
        }
      }
    },
    "GqlQuery": {
      "properties": {
        "positionalBindings": {
          "type": "array",
          "description": "Numbered binding site @1 references the first numbered parameter, effectively using 1-based indexing, rather than the usual 0. For each binding site numbered i in `query_string`, there must be an i-th numbered parameter. The inverse must also be true.",
          "items": {
            "$ref": "GqlQueryParameter"
          }
        },
        "queryString": {
          "type": "string",
          "description": "A string of the format described [here](https://cloud.google.com/datastore/docs/apis/gql/gql_reference)."
        },
        "allowLiterals": {
          "description": "When false, the query string must not contain any literals and instead must bind all values. For example, `SELECT * FROM Kind WHERE a = 'string literal'` is not allowed, while `SELECT * FROM Kind WHERE a = @value` is.",
          "type": "boolean"
        },
        "namedBindings": {
          "additionalProperties": {
            "$ref": "GqlQueryParameter"
          },
          "type": "object",
          "description": "For each non-reserved named binding site in the query string, there must be a named parameter with that name, but not necessarily the inverse. Key must match regex `A-Za-z_$*`, must not match regex `__.*__`, and must not be `\"\"`."
        }
      },
      "id": "GqlQuery",
      "description": "A [GQL query](https://cloud.google.com/datastore/docs/apis/gql/gql_reference).",
      "type": "object"
    },
    "GoogleDatastoreAdminV1IndexOperationMetadata": {
      "description": "Metadata for Index operations.",
      "properties": {
        "progressEntities": {
          "description": "An estimate of the number of entities processed.",
          "$ref": "GoogleDatastoreAdminV1Progress"
        },
        "common": {
          "description": "Metadata common to all Datastore Admin operations.",
          "$ref": "GoogleDatastoreAdminV1CommonMetadata"
        },
        "indexId": {
          "type": "string",
          "description": "The index resource ID that this operation is acting on."
        }
      },
      "type": "object",
      "id": "GoogleDatastoreAdminV1IndexOperationMetadata"
    },
    "GoogleDatastoreAdminV1MigrationStateEvent": {
      "description": "An event signifying a change in state of a [migration from Cloud Datastore to Cloud Firestore in Datastore mode](https://cloud.google.com/datastore/docs/upgrade-to-firestore).",
      "properties": {
        "state": {
          "enum": [
            "MIGRATION_STATE_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "COMPLETE"
          ],
          "description": "The new state of the migration.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "The migration is running.",
            "The migration is paused.",
            "The migration is complete."
          ]
        }
      },
      "id": "GoogleDatastoreAdminV1MigrationStateEvent",
      "type": "object"
    },
    "QueryResultBatch": {
      "id": "QueryResultBatch",
      "description": "A batch of results produced by a query.",
      "properties": {
        "skippedResults": {
          "format": "int32",
          "description": "The number of results skipped, typically because of an offset.",
          "type": "integer"
        },
        "skippedCursor": {
          "type": "string",
          "description": "A cursor that points to the position after the last skipped result. Will be set when `skipped_results` != 0.",
          "format": "byte"
        },
        "moreResults": {
          "enum": [
            "MORE_RESULTS_TYPE_UNSPECIFIED",
            "NOT_FINISHED",
            "MORE_RESULTS_AFTER_LIMIT",
            "MORE_RESULTS_AFTER_CURSOR",
            "NO_MORE_RESULTS"
          ],
          "type": "string",
          "description": "The state of the query after the current batch.",
          "enumDescriptions": [
            "Unspecified. This value is never used.",
            "There may be additional batches to fetch from this query.",
            "The query is finished, but there may be more results after the limit.",
            "The query is finished, but there may be more results after the end cursor.",
            "The query is finished, and there are no more results."
          ]
        },
        "entityResultType": {
          "enumDescriptions": [
            "Unspecified. This value is never used.",
            "The key and properties.",
            "A projected subset of properties. The entity may have no key.",
            "Only the key."
          ],
          "enum": [
            "RESULT_TYPE_UNSPECIFIED",
            "FULL",
            "PROJECTION",
            "KEY_ONLY"
          ],
          "description": "The result type for every entity in `entity_results`.",
          "type": "string"
        },
        "snapshotVersion": {
          "format": "int64",
          "description": "The version number of the snapshot this batch was returned from. This applies to the range of results from the query's `start_cursor` (or the beginning of the query if no cursor was given) to this batch's `end_cursor` (not the query's `end_cursor`). In a single transaction, subsequent query result batches for the same query can have a greater snapshot version number. Each batch's snapshot version is valid for all preceding batches. The value will be zero for eventually consistent queries.",
          "type": "string"
        },
        "endCursor": {
          "format": "byte",
          "description": "A cursor that points to the position after the last result in the batch.",
          "type": "string"
        },
        "entityResults": {
          "type": "array",
          "description": "The results for this batch.",
          "items": {
            "$ref": "EntityResult"
          }
        }
      },
      "type": "object"
    },
    "PartitionId": {
      "type": "object",
      "properties": {
        "projectId": {
          "description": "The ID of the project to which the entities belong.",
          "type": "string"
        },
        "namespaceId": {
          "type": "string",
          "description": "If not empty, the ID of the namespace to which the entities belong."
        }
      },
      "description": "A partition ID identifies a grouping of entities. The grouping is always by project and namespace, however the namespace ID may be empty. A partition ID contains several dimensions: project ID and namespace ID. Partition dimensions: - May be `\"\"`. - Must be valid UTF-8 bytes. - Must have values that match regex `[A-Za-z\\d\\.\\-_]{1,100}` If the value of any dimension matches regex `__.*__`, the partition is reserved/read-only. A reserved/read-only partition ID is forbidden in certain documented contexts. Foreign partition IDs (in which the project ID does not match the context project ID ) are discouraged. Reads and writes of foreign partition IDs may fail if the project is not in an active state.",
      "id": "PartitionId"
    },
    "BeginTransactionRequest": {
      "type": "object",
      "properties": {
        "transactionOptions": {
          "$ref": "TransactionOptions",
          "description": "Options for a new transaction."
        }
      },
      "description": "The request for Datastore.BeginTransaction.",
      "id": "BeginTransactionRequest"
    },
    "GoogleDatastoreAdminV1ImportEntitiesMetadata": {
      "id": "GoogleDatastoreAdminV1ImportEntitiesMetadata",
      "type": "object",
      "properties": {
        "inputUrl": {
          "description": "The location of the import metadata file. This will be the same value as the google.datastore.admin.v1.ExportEntitiesResponse.output_url field.",
          "type": "string"
        },
        "progressBytes": {
          "description": "An estimate of the number of bytes processed.",
          "$ref": "GoogleDatastoreAdminV1Progress"
        },
        "entityFilter": {
          "$ref": "GoogleDatastoreAdminV1EntityFilter",
          "description": "Description of which entities are being imported."
        },
        "common": {
          "description": "Metadata common to all Datastore Admin operations.",
          "$ref": "GoogleDatastoreAdminV1CommonMetadata"
        },
        "progressEntities": {
          "$ref": "GoogleDatastoreAdminV1Progress",
          "description": "An estimate of the number of entities processed."
        }
      },
      "description": "Metadata for ImportEntities operations."
    },
    "RollbackRequest": {
      "properties": {
        "transaction": {
          "description": "Required. The transaction identifier, returned by a call to Datastore.BeginTransaction.",
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RollbackRequest",
      "description": "The request for Datastore.Rollback."
    },
    "GoogleDatastoreAdminV1beta1EntityFilter": {
      "properties": {
        "namespaceIds": {
          "type": "array",
          "description": "An empty list represents all namespaces. This is the preferred usage for projects that don't use namespaces. An empty string element represents the default namespace. This should be used if the project has data in non-default namespaces, but doesn't want to include them. Each namespace in this list must be unique.",
          "items": {
            "type": "string"
          }
        },
        "kinds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "If empty, then this represents all kinds."
        }
      },
      "description": "Identifies a subset of entities in a project. This is specified as combinations of kinds and namespaces (either or both of which may be all, as described in the following examples). Example usage: Entire project: kinds=[], namespace_ids=[] Kinds Foo and Bar in all namespaces: kinds=['Foo', 'Bar'], namespace_ids=[] Kinds Foo and Bar only in the default namespace: kinds=['Foo', 'Bar'], namespace_ids=[''] Kinds Foo and Bar in both the default and Baz namespaces: kinds=['Foo', 'Bar'], namespace_ids=['', 'Baz'] The entire Baz namespace: kinds=[], namespace_ids=['Baz']",
      "type": "object",
      "id": "GoogleDatastoreAdminV1beta1EntityFilter"
    },
    "ReserveIdsResponse": {
      "properties": {},
      "description": "The response for Datastore.ReserveIds.",
      "id": "ReserveIdsResponse",
      "type": "object"
    },
    "TransactionOptions": {
      "description": "Options for beginning a new transaction. Transactions can be created explicitly with calls to Datastore.BeginTransaction or implicitly by setting ReadOptions.new_transaction in read requests.",
      "properties": {
        "readWrite": {
          "description": "The transaction should allow both reads and writes.",
          "$ref": "ReadWrite"
        },
        "readOnly": {
          "$ref": "ReadOnly",
          "description": "The transaction should only allow reads."
        }
      },
      "type": "object",
      "id": "TransactionOptions"
    },
    "GoogleDatastoreAdminV1PrepareStepDetails": {
      "id": "GoogleDatastoreAdminV1PrepareStepDetails",
      "description": "Details for the `PREPARE` step.",
      "type": "object",
      "properties": {
        "concurrencyMode": {
          "enum": [
            "CONCURRENCY_MODE_UNSPECIFIED",
            "PESSIMISTIC",
            "OPTIMISTIC",
            "OPTIMISTIC_WITH_ENTITY_GROUPS"
          ],
          "description": "The concurrency mode this database will use when it reaches the `REDIRECT_WRITES` step.",
          "enumDescriptions": [
            "Unspecified.",
            "Pessimistic concurrency.",
            "Optimistic concurrency.",
            "Optimistic concurrency with entity groups."
          ],
          "type": "string"
        }
      }
    },
    "RunQueryRequest": {
      "properties": {
        "partitionId": {
          "description": "Entities are partitioned into subsets, identified by a partition ID. Queries are scoped to a single partition. This partition ID is normalized with the standard default context partition ID.",
          "$ref": "PartitionId"
        },
        "readOptions": {
          "description": "The options for this query.",
          "$ref": "ReadOptions"
        },
        "gqlQuery": {
          "description": "The GQL query to run.",
          "$ref": "GqlQuery"
        },
        "query": {
          "description": "The query to run.",
          "$ref": "Query"
        }
      },
      "description": "The request for Datastore.RunQuery.",
      "type": "object",
      "id": "RunQueryRequest"
    },
    "GoogleDatastoreAdminV1ExportEntitiesMetadata": {
      "id": "GoogleDatastoreAdminV1ExportEntitiesMetadata",
      "properties": {
        "progressBytes": {
          "description": "An estimate of the number of bytes processed.",
          "$ref": "GoogleDatastoreAdminV1Progress"
        },
        "progressEntities": {
          "description": "An estimate of the number of entities processed.",
          "$ref": "GoogleDatastoreAdminV1Progress"
        },
        "common": {
          "description": "Metadata common to all Datastore Admin operations.",
          "$ref": "GoogleDatastoreAdminV1CommonMetadata"
        },
        "entityFilter": {
          "description": "Description of which entities are being exported.",
          "$ref": "GoogleDatastoreAdminV1EntityFilter"
        },
        "outputUrlPrefix": {
          "type": "string",
          "description": "Location for the export metadata and data files. This will be the same value as the google.datastore.admin.v1.ExportEntitiesRequest.output_url_prefix field. The final output location is provided in google.datastore.admin.v1.ExportEntitiesResponse.output_url."
        }
      },
      "type": "object",
      "description": "Metadata for ExportEntities operations."
    },
    "LookupResponse": {
      "id": "LookupResponse",
      "description": "The response for Datastore.Lookup.",
      "type": "object",
      "properties": {
        "found": {
          "description": "Entities found as `ResultType.FULL` entities. The order of results in this field is undefined and has no relation to the order of the keys in the input.",
          "type": "array",
          "items": {
            "$ref": "EntityResult"
          }
        },
        "deferred": {
          "description": "A list of keys that were not looked up due to resource constraints. The order of results in this field is undefined and has no relation to the order of the keys in the input.",
          "type": "array",
          "items": {
            "$ref": "Key"
          }
        },
        "missing": {
          "description": "Entities not found as `ResultType.KEY_ONLY` entities. The order of results in this field is undefined and has no relation to the order of the keys in the input.",
          "items": {
            "$ref": "EntityResult"
          },
          "type": "array"
        }
      }
    },
    "GoogleDatastoreAdminV1DatastoreFirestoreMigrationMetadata": {
      "id": "GoogleDatastoreAdminV1DatastoreFirestoreMigrationMetadata",
      "description": "Metadata for Datastore to Firestore migration operations. The DatastoreFirestoreMigration operation is not started by the end-user via an explicit \"creation\" method. This is an intentional deviation from the LRO design pattern. This singleton resource can be accessed at: \"projects/{project_id}/operations/datastore-firestore-migration\"",
      "properties": {
        "migrationStep": {
          "enumDescriptions": [
            "Unspecified.",
            "Pre-migration: the database is prepared for migration.",
            "Start of migration.",
            "Writes are applied synchronously to at least one replica.",
            "Data is copied to Cloud Firestore and then verified to match the data in Cloud Datastore.",
            "Eventually-consistent reads are redirected to Cloud Firestore.",
            "Strongly-consistent reads are redirected to Cloud Firestore.",
            "Writes are redirected to Cloud Firestore."
          ],
          "description": "The current step of migration from Cloud Datastore to Cloud Firestore in Datastore mode.",
          "type": "string",
          "enum": [
            "MIGRATION_STEP_UNSPECIFIED",
            "PREPARE",
            "START",
            "APPLY_WRITES_SYNCHRONOUSLY",
            "COPY_AND_VERIFY",
            "REDIRECT_EVENTUALLY_CONSISTENT_READS",
            "REDIRECT_STRONGLY_CONSISTENT_READS",
            "REDIRECT_WRITES"
          ]
        },
        "migrationState": {
          "enum": [
            "MIGRATION_STATE_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "COMPLETE"
          ],
          "description": "The current state of migration from Cloud Datastore to Cloud Firestore in Datastore mode.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "The migration is running.",
            "The migration is paused.",
            "The migration is complete."
          ]
        }
      },
      "type": "object"
    },
    "Entity": {
      "id": "Entity",
      "type": "object",
      "properties": {
        "properties": {
          "additionalProperties": {
            "$ref": "Value"
          },
          "description": "The entity's properties. The map's keys are property names. A property name matching regex `__.*__` is reserved. A reserved property name is forbidden in certain documented contexts. The name must not contain more than 500 characters. The name cannot be `\"\"`.",
          "type": "object"
        },
        "key": {
          "$ref": "Key",
          "description": "The entity's key. An entity must have a key, unless otherwise documented (for example, an entity in `Value.entity_value` may have no key). An entity's kind is its key path's last element's kind, or null if it has no key."
        }
      },
      "description": "A Datastore data object. An entity is limited to 1 megabyte when stored. That _roughly_ corresponds to a limit of 1 megabyte for the serialized form of this message."
    },
    "PropertyOrder": {
      "properties": {
        "property": {
          "description": "The property to order by.",
          "$ref": "PropertyReference"
        },
        "direction": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "Ascending.",
            "Descending."
          ],
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ],
          "description": "The direction to order by. Defaults to `ASCENDING`."
        }
      },
      "id": "PropertyOrder",
      "description": "The desired order for a specific property.",
      "type": "object"
    },
    "Mutation": {
      "type": "object",
      "description": "A mutation to apply to an entity.",
      "id": "Mutation",
      "properties": {
        "baseVersion": {
          "type": "string",
          "format": "int64",
          "description": "The version of the entity that this mutation is being applied to. If this does not match the current version on the server, the mutation conflicts."
        },
        "update": {
          "description": "The entity to update. The entity must already exist. Must have a complete key path.",
          "$ref": "Entity"
        },
        "insert": {
          "description": "The entity to insert. The entity must not already exist. The entity key's final path element may be incomplete.",
          "$ref": "Entity"
        },
        "delete": {
          "description": "The key of the entity to delete. The entity may or may not already exist. Must have a complete key path and must not be reserved/read-only.",
          "$ref": "Key"
        },
        "upsert": {
          "$ref": "Entity",
          "description": "The entity to upsert. The entity may or may not already exist. The entity key's final path element may be incomplete."
        }
      }
    },
    "Filter": {
      "type": "object",
      "properties": {
        "compositeFilter": {
          "$ref": "CompositeFilter",
          "description": "A composite filter."
        },
        "propertyFilter": {
          "description": "A filter on a property.",
          "$ref": "PropertyFilter"
        }
      },
      "id": "Filter",
      "description": "A holder for any type of filter."
    },
    "PropertyFilter": {
      "type": "object",
      "properties": {
        "value": {
          "$ref": "Value",
          "description": "The value to compare the property to."
        },
        "op": {
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL",
            "EQUAL",
            "HAS_ANCESTOR"
          ],
          "description": "The operator to filter by.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The given `property` is less than the given `value`. Requires: * That `property` comes first in `order_by`.",
            "The given `property` is less than or equal to the given `value`. Requires: * That `property` comes first in `order_by`.",
            "The given `property` is greater than the given `value`. Requires: * That `property` comes first in `order_by`.",
            "The given `property` is greater than or equal to the given `value`. Requires: * That `property` comes first in `order_by`.",
            "The given `property` is equal to the given `value`.",
            "Limit the result set to the given entity and its descendants. Requires: * That `value` is an entity key."
          ]
        },
        "property": {
          "description": "The property to filter by.",
          "$ref": "PropertyReference"
        }
      },
      "description": "A filter on a specific property.",
      "id": "PropertyFilter"
    },
    "ArrayValue": {
      "id": "ArrayValue",
      "description": "An array value.",
      "properties": {
        "values": {
          "description": "Values in the array. The order of values in an array is preserved as long as all values have identical settings for 'exclude_from_indexes'.",
          "type": "array",
          "items": {
            "$ref": "Value"
          }
        }
      },
      "type": "object"
    },
    "GqlQueryParameter": {
      "properties": {
        "value": {
          "description": "A value parameter.",
          "$ref": "Value"
        },
        "cursor": {
          "type": "string",
          "format": "byte",
          "description": "A query cursor. Query cursors are returned in query result batches."
        }
      },
      "type": "object",
      "description": "A binding parameter for a GQL query.",
      "id": "GqlQueryParameter"
    },
    "ReserveIdsRequest": {
      "id": "ReserveIdsRequest",
      "description": "The request for Datastore.ReserveIds.",
      "properties": {
        "databaseId": {
          "type": "string",
          "description": "If not empty, the ID of the database against which to make the request."
        },
        "keys": {
          "type": "array",
          "description": "Required. A list of keys with complete key paths whose numeric IDs should not be auto-allocated.",
          "items": {
            "$ref": "Key"
          }
        }
      },
      "type": "object"
    },
    "LookupRequest": {
      "id": "LookupRequest",
      "type": "object",
      "properties": {
        "keys": {
          "type": "array",
          "description": "Required. Keys of entities to look up.",
          "items": {
            "$ref": "Key"
          }
        },
        "readOptions": {
          "description": "The options for this lookup request.",
          "$ref": "ReadOptions"
        }
      },
      "description": "The request for Datastore.Lookup."
    },
    "PropertyReference": {
      "type": "object",
      "id": "PropertyReference",
      "properties": {
        "name": {
          "description": "The name of the property. If name includes \".\"s, it may be interpreted as a property name path.",
          "type": "string"
        }
      },
      "description": "A reference to a property relative to the kind expressions."
    },
    "GoogleDatastoreAdminV1Progress": {
      "properties": {
        "workCompleted": {
          "format": "int64",
          "description": "The amount of work that has been completed. Note that this may be greater than work_estimated.",
          "type": "string"
        },
        "workEstimated": {
          "description": "An estimate of how much work needs to be performed. May be zero if the work estimate is unavailable.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleDatastoreAdminV1Progress",
      "type": "object",
      "description": "Measures the progress of a particular metric."
    },
    "RollbackResponse": {
      "description": "The response for Datastore.Rollback. (an empty message).",
      "properties": {},
      "type": "object",
      "id": "RollbackResponse"
    },
    "AllocateIdsResponse": {
      "description": "The response for Datastore.AllocateIds.",
      "type": "object",
      "properties": {
        "keys": {
          "items": {
            "$ref": "Key"
          },
          "type": "array",
          "description": "The keys specified in the request (in the same order), each with its key path completed with a newly allocated ID."
        }
      },
      "id": "AllocateIdsResponse"
    },
    "GoogleDatastoreAdminV1beta1ImportEntitiesMetadata": {
      "id": "GoogleDatastoreAdminV1beta1ImportEntitiesMetadata",
      "description": "Metadata for ImportEntities operations.",
      "properties": {
        "common": {
          "$ref": "GoogleDatastoreAdminV1beta1CommonMetadata",
          "description": "Metadata common to all Datastore Admin operations."
        },
        "inputUrl": {
          "type": "string",
          "description": "The location of the import metadata file. This will be the same value as the google.datastore.admin.v1beta1.ExportEntitiesResponse.output_url field."
        },
        "progressBytes": {
          "description": "An estimate of the number of bytes processed.",
          "$ref": "GoogleDatastoreAdminV1beta1Progress"
        },
        "entityFilter": {
          "description": "Description of which entities are being imported.",
          "$ref": "GoogleDatastoreAdminV1beta1EntityFilter"
        },
        "progressEntities": {
          "$ref": "GoogleDatastoreAdminV1beta1Progress",
          "description": "An estimate of the number of entities processed."
        }
      },
      "type": "object"
    },
    "GoogleDatastoreAdminV1EntityFilter": {
      "description": "Identifies a subset of entities in a project. This is specified as combinations of kinds and namespaces (either or both of which may be all, as described in the following examples). Example usage: Entire project: kinds=[], namespace_ids=[] Kinds Foo and Bar in all namespaces: kinds=['Foo', 'Bar'], namespace_ids=[] Kinds Foo and Bar only in the default namespace: kinds=['Foo', 'Bar'], namespace_ids=[''] Kinds Foo and Bar in both the default and Baz namespaces: kinds=['Foo', 'Bar'], namespace_ids=['', 'Baz'] The entire Baz namespace: kinds=[], namespace_ids=['Baz']",
      "properties": {
        "kinds": {
          "items": {
            "type": "string"
          },
          "description": "If empty, then this represents all kinds.",
          "type": "array"
        },
        "namespaceIds": {
          "items": {
            "type": "string"
          },
          "description": "An empty list represents all namespaces. This is the preferred usage for projects that don't use namespaces. An empty string element represents the default namespace. This should be used if the project has data in non-default namespaces, but doesn't want to include them. Each namespace in this list must be unique.",
          "type": "array"
        }
      },
      "id": "GoogleDatastoreAdminV1EntityFilter",
      "type": "object"
    },
    "BeginTransactionResponse": {
      "id": "BeginTransactionResponse",
      "type": "object",
      "description": "The response for Datastore.BeginTransaction.",
      "properties": {
        "transaction": {
          "type": "string",
          "format": "byte",
          "description": "The transaction identifier (always present)."
        }
      }
    },
    "Key": {
      "properties": {
        "path": {
          "type": "array",
          "items": {
            "$ref": "PathElement"
          },
          "description": "The entity path. An entity path consists of one or more elements composed of a kind and a string or numerical identifier, which identify entities. The first element identifies a _root entity_, the second element identifies a _child_ of the root entity, the third element identifies a child of the second entity, and so forth. The entities identified by all prefixes of the path are called the element's _ancestors_. An entity path is always fully complete: *all* of the entity's ancestors are required to be in the path along with the entity identifier itself. The only exception is that in some documented cases, the identifier in the last path element (for the entity) itself may be omitted. For example, the last path element of the key of `Mutation.insert` may have no identifier. A path can never be empty, and a path can have at most 100 elements."
        },
        "partitionId": {
          "description": "Entities are partitioned into subsets, currently identified by a project ID and namespace ID. Queries are scoped to a single partition.",
          "$ref": "PartitionId"
        }
      },
      "description": "A unique identifier for an entity. If a key's partition ID or any of its path kinds or names are reserved/read-only, the key is reserved/read-only. A reserved/read-only key is forbidden in certain documented contexts.",
      "type": "object",
      "id": "Key"
    },
    "GoogleDatastoreAdminV1beta1CommonMetadata": {
      "type": "object",
      "id": "GoogleDatastoreAdminV1beta1CommonMetadata",
      "description": "Metadata common to all Datastore Admin operations.",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "description": "The current state of the Operation."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation ended, either successfully or otherwise."
        },
        "operationType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "ExportEntities.",
            "ImportEntities."
          ],
          "description": "The type of the operation. Can be used as a filter in ListOperationsRequest.",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "EXPORT_ENTITIES",
            "IMPORT_ENTITIES"
          ]
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time that work began on the operation.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The client-assigned labels which were provided when the operation was created. May also include additional labels.",
          "type": "object"
        }
      }
    },
    "Query": {
      "properties": {
        "order": {
          "description": "The order to apply to the query results (if empty, order is unspecified).",
          "type": "array",
          "items": {
            "$ref": "PropertyOrder"
          }
        },
        "kind": {
          "type": "array",
          "description": "The kinds to query (if empty, returns entities of all kinds). Currently at most 1 kind may be specified.",
          "items": {
            "$ref": "KindExpression"
          }
        },
        "limit": {
          "type": "integer",
          "description": "The maximum number of results to return. Applies after all other constraints. Optional. Unspecified is interpreted as no limit. Must be \u003e= 0 if specified.",
          "format": "int32"
        },
        "filter": {
          "description": "The filter to apply.",
          "$ref": "Filter"
        },
        "startCursor": {
          "format": "byte",
          "type": "string",
          "description": "A starting point for the query results. Query cursors are returned in query result batches and [can only be used to continue the same query](https://cloud.google.com/datastore/docs/concepts/queries#cursors_limits_and_offsets)."
        },
        "offset": {
          "format": "int32",
          "type": "integer",
          "description": "The number of results to skip. Applies before limit, but after all other constraints. Optional. Must be \u003e= 0 if specified."
        },
        "endCursor": {
          "format": "byte",
          "description": "An ending point for the query results. Query cursors are returned in query result batches and [can only be used to limit the same query](https://cloud.google.com/datastore/docs/concepts/queries#cursors_limits_and_offsets).",
          "type": "string"
        },
        "projection": {
          "description": "The projection to return. Defaults to returning all properties.",
          "type": "array",
          "items": {
            "$ref": "Projection"
          }
        },
        "distinctOn": {
          "type": "array",
          "items": {
            "$ref": "PropertyReference"
          },
          "description": "The properties to make distinct. The query results will contain the first result for each distinct combination of values for the given properties (if empty, all results are returned)."
        }
      },
      "description": "A query for entities.",
      "id": "Query",
      "type": "object"
    },
    "ReadOptions": {
      "id": "ReadOptions",
      "description": "The options shared by read requests.",
      "type": "object",
      "properties": {
        "readConsistency": {
          "enum": [
            "READ_CONSISTENCY_UNSPECIFIED",
            "STRONG",
            "EVENTUAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "Strong consistency.",
            "Eventual consistency."
          ],
          "description": "The non-transactional read consistency to use. Cannot be set to `STRONG` for global queries."
        },
        "transaction": {
          "format": "byte",
          "description": "The identifier of the transaction in which to read. A transaction identifier is returned by a call to Datastore.BeginTransaction.",
          "type": "string"
        }
      }
    },
    "CompositeFilter": {
      "id": "CompositeFilter",
      "description": "A filter that merges multiple other filters using the given operator.",
      "type": "object",
      "properties": {
        "op": {
          "description": "The operator for combining multiple filters.",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "AND"
          ],
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The results are required to satisfy each of the combined filters."
          ],
          "type": "string"
        },
        "filters": {
          "type": "array",
          "items": {
            "$ref": "Filter"
          },
          "description": "The list of filters to combine. Must contain at least one filter."
        }
      }
    },
    "LatLng": {
      "id": "LatLng",
      "type": "object",
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
      "properties": {
        "latitude": {
          "type": "number",
          "format": "double",
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0]."
        },
        "longitude": {
          "type": "number",
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "format": "double"
        }
      }
    },
    "AllocateIdsRequest": {
      "type": "object",
      "properties": {
        "keys": {
          "items": {
            "$ref": "Key"
          },
          "type": "array",
          "description": "Required. A list of keys with incomplete key paths for which to allocate IDs. No key may be reserved/read-only."
        }
      },
      "id": "AllocateIdsRequest",
      "description": "The request for Datastore.AllocateIds."
    },
    "GoogleDatastoreAdminV1ExportEntitiesResponse": {
      "id": "GoogleDatastoreAdminV1ExportEntitiesResponse",
      "description": "The response for google.datastore.admin.v1.DatastoreAdmin.ExportEntities.",
      "properties": {
        "outputUrl": {
          "type": "string",
          "description": "Location of the output metadata file. This can be used to begin an import into Cloud Datastore (this project or another project). See google.datastore.admin.v1.ImportEntitiesRequest.input_url. Only present if the operation completed successfully."
        }
      },
      "type": "object"
    },
    "CommitRequest": {
      "properties": {
        "mutations": {
          "description": "The mutations to perform. When mode is `TRANSACTIONAL`, mutations affecting a single entity are applied in order. The following sequences of mutations affecting a single entity are not permitted in a single `Commit` request: - `insert` followed by `insert` - `update` followed by `insert` - `upsert` followed by `insert` - `delete` followed by `update` When mode is `NON_TRANSACTIONAL`, no two mutations may affect a single entity.",
          "type": "array",
          "items": {
            "$ref": "Mutation"
          }
        },
        "mode": {
          "description": "The type of commit to perform. Defaults to `TRANSACTIONAL`.",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "Transactional: The mutations are either all applied, or none are applied. Learn about transactions [here](https://cloud.google.com/datastore/docs/concepts/transactions).",
            "Non-transactional: The mutations may not apply as all or none."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "TRANSACTIONAL",
            "NON_TRANSACTIONAL"
          ],
          "type": "string"
        },
        "transaction": {
          "description": "The identifier of the transaction associated with the commit. A transaction identifier is returned by a call to Datastore.BeginTransaction.",
          "format": "byte",
          "type": "string"
        }
      },
      "description": "The request for Datastore.Commit.",
      "type": "object",
      "id": "CommitRequest"
    },
    "PathElement": {
      "id": "PathElement",
      "type": "object",
      "description": "A (kind, ID/name) pair used to construct a key path. If either name or ID is set, the element is complete. If neither is set, the element is incomplete.",
      "properties": {
        "id": {
          "format": "int64",
          "type": "string",
          "description": "The auto-allocated ID of the entity. Never equal to zero. Values less than zero are discouraged and may not be supported in the future."
        },
        "kind": {
          "type": "string",
          "description": "The kind of the entity. A kind matching regex `__.*__` is reserved/read-only. A kind must not contain more than 1500 bytes when UTF-8 encoded. Cannot be `\"\"`."
        },
        "name": {
          "type": "string",
          "description": "The name of the entity. A name matching regex `__.*__` is reserved/read-only. A name must not be more than 1500 bytes when UTF-8 encoded. Cannot be `\"\"`."
        }
      }
    },
    "RunQueryResponse": {
      "type": "object",
      "properties": {
        "batch": {
          "description": "A batch of query results (always present).",
          "$ref": "QueryResultBatch"
        },
        "query": {
          "$ref": "Query",
          "description": "The parsed form of the `GqlQuery` from the request, if it was set."
        }
      },
      "id": "RunQueryResponse",
      "description": "The response for Datastore.RunQuery."
    },
    "ReadWrite": {
      "description": "Options specific to read / write transactions.",
      "properties": {
        "previousTransaction": {
          "format": "byte",
          "description": "The transaction identifier of the transaction being retried.",
          "type": "string"
        }
      },
      "id": "ReadWrite",
      "type": "object"
    },
    "KindExpression": {
      "id": "KindExpression",
      "properties": {
        "name": {
          "description": "The name of the kind.",
          "type": "string"
        }
      },
      "description": "A representation of a kind.",
      "type": "object"
    },
    "GoogleDatastoreAdminV1RedirectWritesStepDetails": {
      "id": "GoogleDatastoreAdminV1RedirectWritesStepDetails",
      "description": "Details for the `REDIRECT_WRITES` step.",
      "properties": {
        "concurrencyMode": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Pessimistic concurrency.",
            "Optimistic concurrency.",
            "Optimistic concurrency with entity groups."
          ],
          "description": "Ths concurrency mode for this database.",
          "enum": [
            "CONCURRENCY_MODE_UNSPECIFIED",
            "PESSIMISTIC",
            "OPTIMISTIC",
            "OPTIMISTIC_WITH_ENTITY_GROUPS"
          ]
        }
      },
      "type": "object"
    },
    "ReadOnly": {
      "id": "ReadOnly",
      "description": "Options specific to read-only transactions.",
      "properties": {},
      "type": "object"
    },
    "Projection": {
      "description": "A representation of a property in a projection.",
      "properties": {
        "property": {
          "description": "The property to project.",
          "$ref": "PropertyReference"
        }
      },
      "type": "object",
      "id": "Projection"
    }
  },
  "servicePath": "",
  "resources": {
    "projects": {
      "methods": {
        "rollback": {
          "path": "v1beta3/projects/{projectId}:rollback",
          "description": "Rolls back a transaction.",
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "POST",
          "flatPath": "v1beta3/projects/{projectId}:rollback",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "parameters": {
            "projectId": {
              "required": true,
              "location": "path",
              "description": "Required. The ID of the project against which to make the request.",
              "type": "string"
            }
          },
          "request": {
            "$ref": "RollbackRequest"
          },
          "id": "datastore.projects.rollback",
          "response": {
            "$ref": "RollbackResponse"
          }
        },
        "commit": {
          "path": "v1beta3/projects/{projectId}:commit",
          "id": "datastore.projects.commit",
          "flatPath": "v1beta3/projects/{projectId}:commit",
          "description": "Commits a transaction, optionally creating, deleting or modifying some entities.",
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Required. The ID of the project against which to make the request.",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "projectId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "CommitResponse"
          },
          "request": {
            "$ref": "CommitRequest"
          }
        },
        "beginTransaction": {
          "parameters": {
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. The ID of the project against which to make the request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "path": "v1beta3/projects/{projectId}:beginTransaction",
          "response": {
            "$ref": "BeginTransactionResponse"
          },
          "request": {
            "$ref": "BeginTransactionRequest"
          },
          "id": "datastore.projects.beginTransaction",
          "description": "Begins a new transaction.",
          "httpMethod": "POST",
          "flatPath": "v1beta3/projects/{projectId}:beginTransaction",
          "parameterOrder": [
            "projectId"
          ]
        },
        "runQuery": {
          "flatPath": "v1beta3/projects/{projectId}:runQuery",
          "path": "v1beta3/projects/{projectId}:runQuery",
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "RunQueryResponse"
          },
          "description": "Queries for entities.",
          "request": {
            "$ref": "RunQueryRequest"
          },
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "description": "Required. The ID of the project against which to make the request.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "id": "datastore.projects.runQuery"
        },
        "reserveIds": {
          "parameterOrder": [
            "projectId"
          ],
          "flatPath": "v1beta3/projects/{projectId}:reserveIds",
          "id": "datastore.projects.reserveIds",
          "path": "v1beta3/projects/{projectId}:reserveIds",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "request": {
            "$ref": "ReserveIdsRequest"
          },
          "response": {
            "$ref": "ReserveIdsResponse"
          },
          "description": "Prevents the supplied keys' IDs from being auto-allocated by Cloud Datastore.",
          "parameters": {
            "projectId": {
              "type": "string",
              "required": true,
              "description": "Required. The ID of the project against which to make the request.",
              "location": "path"
            }
          },
          "httpMethod": "POST"
        },
        "lookup": {
          "parameterOrder": [
            "projectId"
          ],
          "path": "v1beta3/projects/{projectId}:lookup",
          "flatPath": "v1beta3/projects/{projectId}:lookup",
          "id": "datastore.projects.lookup",
          "parameters": {
            "projectId": {
              "type": "string",
              "description": "Required. The ID of the project against which to make the request.",
              "required": true,
              "location": "path"
            }
          },
          "description": "Looks up entities by key.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "request": {
            "$ref": "LookupRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "LookupResponse"
          }
        },
        "allocateIds": {
          "id": "datastore.projects.allocateIds",
          "parameters": {
            "projectId": {
              "type": "string",
              "required": true,
              "description": "Required. The ID of the project against which to make the request.",
              "location": "path"
            }
          },
          "description": "Allocates IDs for the given keys, which is useful for referencing an entity before it is inserted.",
          "path": "v1beta3/projects/{projectId}:allocateIds",
          "httpMethod": "POST",
          "parameterOrder": [
            "projectId"
          ],
          "response": {
            "$ref": "AllocateIdsResponse"
          },
          "flatPath": "v1beta3/projects/{projectId}:allocateIds",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "request": {
            "$ref": "AllocateIdsRequest"
          }
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "baseUrl": "https://datastore.googleapis.com/",
  "ownerName": "Google",
  "protocol": "rest",
  "title": "Cloud Datastore API",
  "version": "v1beta3",
  "name": "datastore",
  "revision": "20220207",
  "description": "Accesses the schemaless NoSQL database to provide fully managed, robust, scalable storage for your application. ",
  "documentationLink": "https://cloud.google.com/datastore/",
  "mtlsRootUrl": "https://datastore.mtls.googleapis.com/",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    }
  },
  "id": "datastore:v1beta3",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/datastore": {
          "description": "View and manage your Google Cloud Datastore data"
        }
      }
    }
  },
  "batchPath": "batch",
  "rootUrl": "https://datastore.googleapis.com/"
}
