{
  "servicePath": "",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/compute.readonly": {
          "description": "View your Google Compute Engine resources"
        },
        "https://www.googleapis.com/auth/compute": {
          "description": "View and manage your Google Compute Engine resources"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud Platform data"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "See your primary Google Account email address"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "revision": "20210408",
  "description": "Manages Google Cloud Dataflow projects on Google Cloud Platform.",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "sql": {
              "methods": {
                "validate": {
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/sql:validate",
                  "description": "Validates a GoogleSQL query for Cloud Dataflow syntax. Will always confirm the given query parses correctly, and if able to look up schema information from DataCatalog, will validate that the query analyzes properly as well.",
                  "response": {
                    "$ref": "ValidateResponse"
                  },
                  "id": "dataflow.projects.locations.sql.validate",
                  "httpMethod": "GET",
                  "path": "v1b3/projects/{projectId}/locations/{location}/sql:validate",
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to."
                    },
                    "query": {
                      "location": "query",
                      "type": "string",
                      "description": "The sql query to validate."
                    },
                    "location": {
                      "type": "string",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ]
                }
              }
            },
            "flexTemplates": {
              "methods": {
                "launch": {
                  "request": {
                    "$ref": "LaunchFlexTemplateRequest"
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/flexTemplates:launch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/flexTemplates:launch",
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path",
                      "type": "string"
                    },
                    "location": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request. E.g., us-central1, us-west1.",
                      "location": "path"
                    }
                  },
                  "id": "dataflow.projects.locations.flexTemplates.launch",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "description": "Launch a job with a FlexTemplate.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "LaunchFlexTemplateResponse"
                  }
                }
              }
            },
            "templates": {
              "methods": {
                "get": {
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates:get",
                  "id": "dataflow.projects.locations.templates.get",
                  "parameters": {
                    "view": {
                      "description": "The view to retrieve. Defaults to METADATA_ONLY.",
                      "location": "query",
                      "enumDescriptions": [
                        "Template view that retrieves only the metadata associated with the template."
                      ],
                      "type": "string",
                      "enum": [
                        "METADATA_ONLY"
                      ]
                    },
                    "gcsPath": {
                      "location": "query",
                      "description": "Required. A Cloud Storage path to the template from which to create the job. Must be valid Cloud Storage URL, beginning with 'gs://'.",
                      "type": "string"
                    },
                    "location": {
                      "location": "path",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                      "type": "string",
                      "required": true
                    },
                    "projectId": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates:get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "description": "Get the template associated with a template.",
                  "response": {
                    "$ref": "GetTemplateResponse"
                  }
                },
                "create": {
                  "description": "Creates a Cloud Dataflow job from a template.",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates",
                  "request": {
                    "$ref": "CreateJobFromTemplateRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "id": "dataflow.projects.locations.templates.create",
                  "response": {
                    "$ref": "Job"
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates",
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path"
                    },
                    "location": {
                      "location": "path",
                      "required": true,
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ]
                },
                "launch": {
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates:launch",
                  "response": {
                    "$ref": "LaunchTemplateResponse"
                  },
                  "description": "Launch a template.",
                  "id": "dataflow.projects.locations.templates.launch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates:launch",
                  "request": {
                    "$ref": "LaunchTemplateParameters"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "validateOnly": {
                      "description": "If true, the request is validated but not actually executed. Defaults to false.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "gcsPath": {
                      "location": "query",
                      "type": "string",
                      "description": "A Cloud Storage path to the template from which to create the job. Must be valid Cloud Storage URL, beginning with 'gs://'."
                    },
                    "dynamicTemplate.gcsPath": {
                      "location": "query",
                      "description": "Path to dynamic template spec file on Cloud Storage. The file must be a Json serialized DynamicTemplateFieSpec object.",
                      "type": "string"
                    },
                    "dynamicTemplate.stagingLocation": {
                      "type": "string",
                      "location": "query",
                      "description": "Cloud Storage path for staging dependencies. Must be a valid Cloud Storage URL, beginning with `gs://`."
                    },
                    "projectId": {
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "location": {
                      "type": "string",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                      "location": "path",
                      "required": true
                    }
                  }
                }
              }
            },
            "snapshots": {
              "methods": {
                "list": {
                  "id": "dataflow.projects.locations.snapshots.list",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/snapshots",
                  "parameters": {
                    "jobId": {
                      "type": "string",
                      "location": "query",
                      "description": "If specified, list snapshots created from this job."
                    },
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The project ID to list snapshots for."
                    },
                    "location": {
                      "required": true,
                      "description": "The location to list snapshots in.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "ListSnapshotsResponse"
                  },
                  "description": "Lists snapshots."
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "snapshotId"
                  ],
                  "parameters": {
                    "projectId": {
                      "description": "The ID of the Cloud Platform project that the snapshot belongs to.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "location": {
                      "location": "path",
                      "description": "The location that contains this snapshot.",
                      "type": "string",
                      "required": true
                    },
                    "snapshotId": {
                      "type": "string",
                      "location": "path",
                      "description": "The ID of the snapshot.",
                      "required": true
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "DeleteSnapshotResponse"
                  },
                  "id": "dataflow.projects.locations.snapshots.delete",
                  "path": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "description": "Deletes a snapshot."
                },
                "get": {
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "snapshotId"
                  ],
                  "description": "Gets information about a snapshot.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "snapshotId": {
                      "required": true,
                      "description": "The ID of the snapshot.",
                      "location": "path",
                      "type": "string"
                    },
                    "projectId": {
                      "location": "path",
                      "required": true,
                      "description": "The ID of the Cloud Platform project that the snapshot belongs to.",
                      "type": "string"
                    },
                    "location": {
                      "description": "The location that contains this snapshot.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Snapshot"
                  },
                  "id": "dataflow.projects.locations.snapshots.get",
                  "path": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}"
                }
              }
            },
            "jobs": {
              "methods": {
                "snapshot": {
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}:snapshot",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}:snapshot",
                  "id": "dataflow.projects.locations.jobs.snapshot",
                  "response": {
                    "$ref": "Snapshot"
                  },
                  "description": "Snapshot the state of a streaming job.",
                  "httpMethod": "POST",
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "location": "path",
                      "description": "The project which owns the job to be snapshotted.",
                      "type": "string"
                    },
                    "jobId": {
                      "location": "path",
                      "description": "The job to be snapshotted.",
                      "required": true,
                      "type": "string"
                    },
                    "location": {
                      "location": "path",
                      "description": "The location that contains this job.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "SnapshotJobRequest"
                  }
                },
                "getMetrics": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics",
                  "parameters": {
                    "jobId": {
                      "description": "The job to get metrics for.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string",
                      "description": "A project id.",
                      "required": true,
                      "location": "path"
                    },
                    "startTime": {
                      "format": "google-datetime",
                      "type": "string",
                      "location": "query",
                      "description": "Return only metric data that has changed since this time. Default is to return all information about all metrics for the job."
                    },
                    "location": {
                      "location": "path",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "id": "dataflow.projects.locations.jobs.getMetrics",
                  "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.getMetrics` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.getMetrics` is not recommended, as you can only request the status of jobs that are running in `us-central1`.",
                  "response": {
                    "$ref": "JobMetrics"
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics"
                },
                "create": {
                  "description": "Creates a Cloud Dataflow job. To create a job, we recommend using `projects.locations.jobs.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.create` is not recommended, as your job will always start in `us-central1`.",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "id": "dataflow.projects.locations.jobs.create",
                  "parameters": {
                    "replaceJobId": {
                      "type": "string",
                      "location": "query",
                      "description": "Deprecated. This field is now in the Job message."
                    },
                    "location": {
                      "type": "string",
                      "required": true,
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "location": "path"
                    },
                    "view": {
                      "location": "query",
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job.",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ],
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "type": "string",
                      "description": "The level of information requested in response."
                    },
                    "projectId": {
                      "required": true,
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "request": {
                    "$ref": "Job"
                  },
                  "response": {
                    "$ref": "Job"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs"
                },
                "update": {
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "description": "Updates the state of an existing Cloud Dataflow job. To update the state of an existing job, we recommend using `projects.locations.jobs.update` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.update` is not recommended, as you can only update the state of jobs that are running in `us-central1`.",
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "Job"
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "response": {
                    "$ref": "Job"
                  },
                  "id": "dataflow.projects.locations.jobs.update",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The ID of the Cloud Platform project that the job belongs to."
                    },
                    "jobId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The job ID."
                    },
                    "location": {
                      "location": "path",
                      "type": "string",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ]
                },
                "getExecutionDetails": {
                  "response": {
                    "$ref": "JobExecutionDetails"
                  },
                  "httpMethod": "GET",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/executionDetails",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "If specified, determines the maximum number of stages to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results."
                    },
                    "location": {
                      "required": true,
                      "location": "path",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                      "type": "string"
                    },
                    "projectId": {
                      "required": true,
                      "location": "path",
                      "description": "A project id.",
                      "type": "string"
                    },
                    "jobId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The job to get execution details for."
                    },
                    "pageToken": {
                      "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "id": "dataflow.projects.locations.jobs.getExecutionDetails",
                  "description": "Request detailed information about the execution status of the job. EXPERIMENTAL. This API is subject to change or removal without notice.",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/executionDetails"
                },
                "list": {
                  "httpMethod": "GET",
                  "description": "List the jobs of a project. To list the jobs of a project in a region, we recommend using `projects.locations.jobs.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). To list the all jobs across all regions, use `projects.jobs.aggregated`. Using `projects.jobs.list` is not recommended, as you can only get the list of jobs that are running in `us-central1`.",
                  "id": "dataflow.projects.locations.jobs.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "response": {
                    "$ref": "ListJobsResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Set this to the 'next_page_token' field of a previous response to request additional results in a long list."
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "If there are many jobs, limit response to at most this many. The actual number of jobs returned will be the lesser of max_responses and an unspecified server-defined limit.",
                      "location": "query"
                    },
                    "location": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job."
                    },
                    "view": {
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job.",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ],
                      "location": "query",
                      "type": "string",
                      "description": "Deprecated. ListJobs always returns summaries now. Use GetJob for other JobViews."
                    },
                    "projectId": {
                      "location": "path",
                      "description": "The project which owns the jobs.",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The kind of filter to use.",
                      "location": "query",
                      "enum": [
                        "UNKNOWN",
                        "ALL",
                        "TERMINATED",
                        "ACTIVE"
                      ],
                      "enumDescriptions": [
                        "The filter isn't specified, or is unknown. This returns all jobs ordered on descending `JobUuid`.",
                        "Returns all running jobs first ordered on creation timestamp, then returns all terminated jobs ordered on the termination timestamp.",
                        "Filters the jobs that have a terminated state, ordered on the termination timestamp. Example terminated states: `JOB_STATE_STOPPED`, `JOB_STATE_UPDATED`, `JOB_STATE_DRAINED`, etc.",
                        "Filters the jobs that are running ordered on the creation timestamp."
                      ]
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "id": "dataflow.projects.locations.jobs.get",
                  "response": {
                    "$ref": "Job"
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "parameters": {
                    "jobId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The job ID."
                    },
                    "view": {
                      "description": "The level of information requested in response.",
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job.",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ],
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "type": "string",
                      "location": "query"
                    },
                    "projectId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The ID of the Cloud Platform project that the job belongs to."
                    },
                    "location": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job."
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "description": "Gets the state of the specified Cloud Dataflow job. To get the state of a job, we recommend using `projects.locations.jobs.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.get` is not recommended, as you can only get the state of jobs that are running in `us-central1`.",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "httpMethod": "GET"
                }
              },
              "resources": {
                "snapshots": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListSnapshotsResponse"
                      },
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "parameters": {
                        "location": {
                          "required": true,
                          "description": "The location to list snapshots in.",
                          "location": "path",
                          "type": "string"
                        },
                        "projectId": {
                          "type": "string",
                          "description": "The project ID to list snapshots for.",
                          "required": true,
                          "location": "path"
                        },
                        "jobId": {
                          "description": "If specified, list snapshots created from this job.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "id": "dataflow.projects.locations.jobs.snapshots.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ],
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/snapshots",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/snapshots",
                      "description": "Lists snapshots."
                    }
                  }
                },
                "workItems": {
                  "methods": {
                    "reportStatus": {
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:reportStatus",
                      "parameters": {
                        "location": {
                          "location": "path",
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job.",
                          "type": "string",
                          "required": true
                        },
                        "projectId": {
                          "required": true,
                          "description": "The project which owns the WorkItem's job.",
                          "location": "path",
                          "type": "string"
                        },
                        "jobId": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "The job which the WorkItem is part of."
                        }
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "request": {
                        "$ref": "ReportWorkItemStatusRequest"
                      },
                      "response": {
                        "$ref": "ReportWorkItemStatusResponse"
                      },
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:reportStatus",
                      "description": "Reports the status of dataflow WorkItems leased by a worker.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ],
                      "id": "dataflow.projects.locations.jobs.workItems.reportStatus"
                    },
                    "lease": {
                      "id": "dataflow.projects.locations.jobs.workItems.lease",
                      "parameters": {
                        "location": {
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "projectId": {
                          "description": "Identifies the project this worker belongs to.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "jobId": {
                          "description": "Identifies the workflow job this worker belongs to.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ],
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease",
                      "request": {
                        "$ref": "LeaseWorkItemRequest"
                      },
                      "description": "Leases a dataflow WorkItem to run.",
                      "response": {
                        "$ref": "LeaseWorkItemResponse"
                      }
                    }
                  }
                },
                "messages": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ],
                      "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.messages.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.messages.list` is not recommended, as you can only request the status of jobs that are running in `us-central1`.",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "httpMethod": "GET",
                      "id": "dataflow.projects.locations.jobs.messages.list",
                      "response": {
                        "$ref": "ListJobMessagesResponse"
                      },
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/messages",
                      "parameters": {
                        "endTime": {
                          "location": "query",
                          "type": "string",
                          "format": "google-datetime",
                          "description": "Return only messages with timestamps \u003c end_time. The default is now (i.e. return up to the latest messages available)."
                        },
                        "startTime": {
                          "location": "query",
                          "type": "string",
                          "format": "google-datetime",
                          "description": "If specified, return only messages with timestamps \u003e= start_time. The default is the job creation time (i.e. beginning of messages)."
                        },
                        "jobId": {
                          "type": "string",
                          "required": true,
                          "description": "The job to get messages about.",
                          "location": "path"
                        },
                        "pageSize": {
                          "description": "If specified, determines the maximum number of messages to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results.",
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                          "location": "query"
                        },
                        "minimumImportance": {
                          "type": "string",
                          "enumDescriptions": [
                            "The message importance isn't specified, or is unknown.",
                            "The message is at the 'debug' level: typically only useful for software engineers working on the code the job is running. Typically, Dataflow pipeline runners do not display log messages at this level by default.",
                            "The message is at the 'detailed' level: somewhat verbose, but potentially useful to users. Typically, Dataflow pipeline runners do not display log messages at this level by default. These messages are displayed by default in the Dataflow monitoring UI.",
                            "The message is at the 'basic' level: useful for keeping track of the execution of a Dataflow pipeline. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                            "The message is at the 'warning' level: indicating a condition pertaining to a job which may require human intervention. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                            "The message is at the 'error' level: indicating a condition preventing a job from succeeding. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI."
                          ],
                          "description": "Filter to only get messages with importance \u003e= level",
                          "enum": [
                            "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
                            "JOB_MESSAGE_DEBUG",
                            "JOB_MESSAGE_DETAILED",
                            "JOB_MESSAGE_BASIC",
                            "JOB_MESSAGE_WARNING",
                            "JOB_MESSAGE_ERROR"
                          ],
                          "location": "query"
                        },
                        "projectId": {
                          "description": "A project id.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "location": {
                          "location": "path",
                          "type": "string",
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "required": true
                        }
                      },
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/messages"
                    }
                  }
                },
                "debug": {
                  "methods": {
                    "sendCapture": {
                      "httpMethod": "POST",
                      "id": "dataflow.projects.locations.jobs.debug.sendCapture",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/sendCapture",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ],
                      "request": {
                        "$ref": "SendDebugCaptureRequest"
                      },
                      "response": {
                        "$ref": "SendDebugCaptureResponse"
                      },
                      "description": "Send encoded debug capture data for component.",
                      "parameters": {
                        "location": {
                          "location": "path",
                          "type": "string",
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "required": true
                        },
                        "jobId": {
                          "location": "path",
                          "type": "string",
                          "description": "The job id.",
                          "required": true
                        },
                        "projectId": {
                          "type": "string",
                          "description": "The project id.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/sendCapture"
                    },
                    "getConfig": {
                      "httpMethod": "POST",
                      "description": "Get encoded debug configuration for component. Not cacheable.",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getConfig",
                      "response": {
                        "$ref": "GetDebugConfigResponse"
                      },
                      "parameters": {
                        "projectId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "The project id."
                        },
                        "jobId": {
                          "description": "The job id.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "location": {
                          "type": "string",
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getConfig",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ],
                      "request": {
                        "$ref": "GetDebugConfigRequest"
                      },
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "id": "dataflow.projects.locations.jobs.debug.getConfig"
                    }
                  }
                },
                "stages": {
                  "methods": {
                    "getExecutionDetails": {
                      "id": "dataflow.projects.locations.jobs.stages.getExecutionDetails",
                      "description": "Request detailed information about the execution status of a stage of the job. EXPERIMENTAL. This API is subject to change or removal without notice.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ],
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId",
                        "stageId"
                      ],
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/stages/{stageId}/executionDetails",
                      "response": {
                        "$ref": "StageExecutionDetails"
                      },
                      "parameters": {
                        "jobId": {
                          "required": true,
                          "location": "path",
                          "description": "The job to get execution details for.",
                          "type": "string"
                        },
                        "endTime": {
                          "description": "Upper time bound of work items to include, by start time.",
                          "type": "string",
                          "location": "query",
                          "format": "google-datetime"
                        },
                        "startTime": {
                          "description": "Lower time bound of work items to include, by start time.",
                          "format": "google-datetime",
                          "location": "query",
                          "type": "string"
                        },
                        "projectId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "A project id."
                        },
                        "stageId": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "The stage for which to fetch information."
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "If specified, determines the maximum number of work items to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results."
                        },
                        "location": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id."
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/stages/{stageId}/executionDetails",
                      "httpMethod": "GET"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "workerMessages": {
              "request": {
                "$ref": "SendWorkerMessagesRequest"
              },
              "response": {
                "$ref": "SendWorkerMessagesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "path": "v1b3/projects/{projectId}/locations/{location}/WorkerMessages",
              "id": "dataflow.projects.locations.workerMessages",
              "flatPath": "v1b3/projects/{projectId}/locations/{location}/WorkerMessages",
              "parameters": {
                "location": {
                  "required": true,
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job.",
                  "location": "path"
                },
                "projectId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The project to send the WorkerMessages to."
                }
              },
              "description": "Send a worker_message to the service.",
              "parameterOrder": [
                "projectId",
                "location"
              ],
              "httpMethod": "POST"
            }
          }
        },
        "jobs": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}",
              "response": {
                "$ref": "Job"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "description": "Gets the state of the specified Cloud Dataflow job. To get the state of a job, we recommend using `projects.locations.jobs.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.get` is not recommended, as you can only get the state of jobs that are running in `us-central1`.",
              "id": "dataflow.projects.jobs.get",
              "parameters": {
                "projectId": {
                  "location": "path",
                  "type": "string",
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "required": true
                },
                "location": {
                  "location": "query",
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job."
                },
                "view": {
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job.",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ],
                  "type": "string",
                  "description": "The level of information requested in response."
                },
                "jobId": {
                  "location": "path",
                  "required": true,
                  "description": "The job ID.",
                  "type": "string"
                }
              },
              "path": "v1b3/projects/{projectId}/jobs/{jobId}",
              "parameterOrder": [
                "projectId",
                "jobId"
              ]
            },
            "getMetrics": {
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/metrics",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "response": {
                "$ref": "JobMetrics"
              },
              "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.getMetrics` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.getMetrics` is not recommended, as you can only request the status of jobs that are running in `us-central1`.",
              "path": "v1b3/projects/{projectId}/jobs/{jobId}/metrics",
              "parameters": {
                "location": {
                  "type": "string",
                  "location": "query",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id."
                },
                "projectId": {
                  "description": "A project id.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "startTime": {
                  "type": "string",
                  "description": "Return only metric data that has changed since this time. Default is to return all information about all metrics for the job.",
                  "format": "google-datetime",
                  "location": "query"
                },
                "jobId": {
                  "type": "string",
                  "description": "The job to get metrics for.",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "id": "dataflow.projects.jobs.getMetrics"
            },
            "aggregated": {
              "response": {
                "$ref": "ListJobsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "flatPath": "v1b3/projects/{projectId}/jobs:aggregated",
              "httpMethod": "GET",
              "parameters": {
                "location": {
                  "location": "query",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "If there are many jobs, limit response to at most this many. The actual number of jobs returned will be the lesser of max_responses and an unspecified server-defined limit.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "filter": {
                  "description": "The kind of filter to use.",
                  "type": "string",
                  "location": "query",
                  "enumDescriptions": [
                    "The filter isn't specified, or is unknown. This returns all jobs ordered on descending `JobUuid`.",
                    "Returns all running jobs first ordered on creation timestamp, then returns all terminated jobs ordered on the termination timestamp.",
                    "Filters the jobs that have a terminated state, ordered on the termination timestamp. Example terminated states: `JOB_STATE_STOPPED`, `JOB_STATE_UPDATED`, `JOB_STATE_DRAINED`, etc.",
                    "Filters the jobs that are running ordered on the creation timestamp."
                  ],
                  "enum": [
                    "UNKNOWN",
                    "ALL",
                    "TERMINATED",
                    "ACTIVE"
                  ]
                },
                "pageToken": {
                  "type": "string",
                  "description": "Set this to the 'next_page_token' field of a previous response to request additional results in a long list.",
                  "location": "query"
                },
                "view": {
                  "location": "query",
                  "description": "Deprecated. ListJobs always returns summaries now. Use GetJob for other JobViews.",
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job.",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ],
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "type": "string"
                },
                "projectId": {
                  "description": "The project which owns the jobs.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "dataflow.projects.jobs.aggregated",
              "description": "List the jobs of a project across all regions.",
              "path": "v1b3/projects/{projectId}/jobs:aggregated",
              "parameterOrder": [
                "projectId"
              ]
            },
            "create": {
              "flatPath": "v1b3/projects/{projectId}/jobs",
              "parameterOrder": [
                "projectId"
              ],
              "response": {
                "$ref": "Job"
              },
              "id": "dataflow.projects.jobs.create",
              "parameters": {
                "projectId": {
                  "required": true,
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "type": "string",
                  "location": "path"
                },
                "replaceJobId": {
                  "location": "query",
                  "description": "Deprecated. This field is now in the Job message.",
                  "type": "string"
                },
                "view": {
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job.",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ],
                  "type": "string",
                  "description": "The level of information requested in response.",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "location": "query"
                },
                "location": {
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                  "type": "string",
                  "location": "query"
                }
              },
              "request": {
                "$ref": "Job"
              },
              "description": "Creates a Cloud Dataflow job. To create a job, we recommend using `projects.locations.jobs.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.create` is not recommended, as your job will always start in `us-central1`.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "path": "v1b3/projects/{projectId}/jobs"
            },
            "snapshot": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "projectId": {
                  "description": "The project which owns the job to be snapshotted.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "jobId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The job to be snapshotted."
                }
              },
              "request": {
                "$ref": "SnapshotJobRequest"
              },
              "response": {
                "$ref": "Snapshot"
              },
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "httpMethod": "POST",
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}:snapshot",
              "path": "v1b3/projects/{projectId}/jobs/{jobId}:snapshot",
              "description": "Snapshot the state of a streaming job.",
              "id": "dataflow.projects.jobs.snapshot"
            },
            "update": {
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "response": {
                "$ref": "Job"
              },
              "parameters": {
                "jobId": {
                  "required": true,
                  "location": "path",
                  "description": "The job ID.",
                  "type": "string"
                },
                "projectId": {
                  "required": true,
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "type": "string",
                  "location": "path"
                },
                "location": {
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "httpMethod": "PUT",
              "id": "dataflow.projects.jobs.update",
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}",
              "request": {
                "$ref": "Job"
              },
              "description": "Updates the state of an existing Cloud Dataflow job. To update the state of an existing job, we recommend using `projects.locations.jobs.update` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.update` is not recommended, as you can only update the state of jobs that are running in `us-central1`.",
              "path": "v1b3/projects/{projectId}/jobs/{jobId}"
            },
            "list": {
              "response": {
                "$ref": "ListJobsResponse"
              },
              "parameterOrder": [
                "projectId"
              ],
              "httpMethod": "GET",
              "id": "dataflow.projects.jobs.list",
              "description": "List the jobs of a project. To list the jobs of a project in a region, we recommend using `projects.locations.jobs.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). To list the all jobs across all regions, use `projects.jobs.aggregated`. Using `projects.jobs.list` is not recommended, as you can only get the list of jobs that are running in `us-central1`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "view": {
                  "location": "query",
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job.",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ],
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "description": "Deprecated. ListJobs always returns summaries now. Use GetJob for other JobViews.",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "enum": [
                    "UNKNOWN",
                    "ALL",
                    "TERMINATED",
                    "ACTIVE"
                  ],
                  "description": "The kind of filter to use.",
                  "enumDescriptions": [
                    "The filter isn't specified, or is unknown. This returns all jobs ordered on descending `JobUuid`.",
                    "Returns all running jobs first ordered on creation timestamp, then returns all terminated jobs ordered on the termination timestamp.",
                    "Filters the jobs that have a terminated state, ordered on the termination timestamp. Example terminated states: `JOB_STATE_STOPPED`, `JOB_STATE_UPDATED`, `JOB_STATE_DRAINED`, etc.",
                    "Filters the jobs that are running ordered on the creation timestamp."
                  ],
                  "type": "string"
                },
                "location": {
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "If there are many jobs, limit response to at most this many. The actual number of jobs returned will be the lesser of max_responses and an unspecified server-defined limit.",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Set this to the 'next_page_token' field of a previous response to request additional results in a long list."
                },
                "projectId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The project which owns the jobs."
                }
              },
              "path": "v1b3/projects/{projectId}/jobs",
              "flatPath": "v1b3/projects/{projectId}/jobs"
            }
          },
          "resources": {
            "messages": {
              "methods": {
                "list": {
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/messages",
                  "response": {
                    "$ref": "ListJobMessagesResponse"
                  },
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.messages.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.messages.list` is not recommended, as you can only request the status of jobs that are running in `us-central1`.",
                  "parameters": {
                    "endTime": {
                      "location": "query",
                      "type": "string",
                      "description": "Return only messages with timestamps \u003c end_time. The default is now (i.e. return up to the latest messages available).",
                      "format": "google-datetime"
                    },
                    "jobId": {
                      "required": true,
                      "description": "The job to get messages about.",
                      "location": "path",
                      "type": "string"
                    },
                    "minimumImportance": {
                      "location": "query",
                      "description": "Filter to only get messages with importance \u003e= level",
                      "type": "string",
                      "enum": [
                        "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
                        "JOB_MESSAGE_DEBUG",
                        "JOB_MESSAGE_DETAILED",
                        "JOB_MESSAGE_BASIC",
                        "JOB_MESSAGE_WARNING",
                        "JOB_MESSAGE_ERROR"
                      ],
                      "enumDescriptions": [
                        "The message importance isn't specified, or is unknown.",
                        "The message is at the 'debug' level: typically only useful for software engineers working on the code the job is running. Typically, Dataflow pipeline runners do not display log messages at this level by default.",
                        "The message is at the 'detailed' level: somewhat verbose, but potentially useful to users. Typically, Dataflow pipeline runners do not display log messages at this level by default. These messages are displayed by default in the Dataflow monitoring UI.",
                        "The message is at the 'basic' level: useful for keeping track of the execution of a Dataflow pipeline. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                        "The message is at the 'warning' level: indicating a condition pertaining to a job which may require human intervention. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                        "The message is at the 'error' level: indicating a condition preventing a job from succeeding. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI."
                      ]
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "If specified, determines the maximum number of messages to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results."
                    },
                    "projectId": {
                      "description": "A project id.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "startTime": {
                      "format": "google-datetime",
                      "type": "string",
                      "description": "If specified, return only messages with timestamps \u003e= start_time. The default is the job creation time (i.e. beginning of messages).",
                      "location": "query"
                    },
                    "location": {
                      "type": "string",
                      "location": "query",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id."
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/messages",
                  "id": "dataflow.projects.jobs.messages.list"
                }
              }
            },
            "workItems": {
              "methods": {
                "reportStatus": {
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus",
                  "httpMethod": "POST",
                  "parameters": {
                    "jobId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The job which the WorkItem is part of."
                    },
                    "projectId": {
                      "type": "string",
                      "description": "The project which owns the WorkItem's job.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "dataflow.projects.jobs.workItems.reportStatus",
                  "request": {
                    "$ref": "ReportWorkItemStatusRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus",
                  "description": "Reports the status of dataflow WorkItems leased by a worker.",
                  "response": {
                    "$ref": "ReportWorkItemStatusResponse"
                  },
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ]
                },
                "lease": {
                  "description": "Leases a dataflow WorkItem to run.",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "request": {
                    "$ref": "LeaseWorkItemRequest"
                  },
                  "httpMethod": "POST",
                  "id": "dataflow.projects.jobs.workItems.lease",
                  "parameters": {
                    "jobId": {
                      "required": true,
                      "type": "string",
                      "description": "Identifies the workflow job this worker belongs to.",
                      "location": "path"
                    },
                    "projectId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Identifies the project this worker belongs to."
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease",
                  "response": {
                    "$ref": "LeaseWorkItemResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease"
                }
              }
            },
            "debug": {
              "methods": {
                "getConfig": {
                  "parameters": {
                    "jobId": {
                      "description": "The job id.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "projectId": {
                      "location": "path",
                      "type": "string",
                      "description": "The project id.",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GetDebugConfigResponse"
                  },
                  "id": "dataflow.projects.jobs.debug.getConfig",
                  "request": {
                    "$ref": "GetDebugConfigRequest"
                  },
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/debug/getConfig",
                  "description": "Get encoded debug configuration for component. Not cacheable.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/debug/getConfig",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ]
                },
                "sendCapture": {
                  "response": {
                    "$ref": "SendDebugCaptureResponse"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture",
                  "request": {
                    "$ref": "SendDebugCaptureRequest"
                  },
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The project id."
                    },
                    "jobId": {
                      "required": true,
                      "description": "The job id.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Send encoded debug capture data for component.",
                  "id": "dataflow.projects.jobs.debug.sendCapture"
                }
              }
            }
          }
        },
        "snapshots": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "description": "Gets information about a snapshot.",
              "response": {
                "$ref": "Snapshot"
              },
              "path": "v1b3/projects/{projectId}/snapshots/{snapshotId}",
              "parameters": {
                "location": {
                  "location": "query",
                  "description": "The location that contains this snapshot.",
                  "type": "string"
                },
                "snapshotId": {
                  "type": "string",
                  "description": "The ID of the snapshot.",
                  "required": true,
                  "location": "path"
                },
                "projectId": {
                  "type": "string",
                  "description": "The ID of the Cloud Platform project that the snapshot belongs to.",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1b3/projects/{projectId}/snapshots/{snapshotId}",
              "parameterOrder": [
                "projectId",
                "snapshotId"
              ],
              "id": "dataflow.projects.snapshots.get"
            },
            "list": {
              "description": "Lists snapshots.",
              "httpMethod": "GET",
              "path": "v1b3/projects/{projectId}/snapshots",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "flatPath": "v1b3/projects/{projectId}/snapshots",
              "parameterOrder": [
                "projectId"
              ],
              "parameters": {
                "projectId": {
                  "required": true,
                  "description": "The project ID to list snapshots for.",
                  "type": "string",
                  "location": "path"
                },
                "location": {
                  "type": "string",
                  "location": "query",
                  "description": "The location to list snapshots in."
                },
                "jobId": {
                  "description": "If specified, list snapshots created from this job.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListSnapshotsResponse"
              },
              "id": "dataflow.projects.snapshots.list"
            }
          }
        },
        "templates": {
          "methods": {
            "get": {
              "id": "dataflow.projects.templates.get",
              "parameters": {
                "gcsPath": {
                  "location": "query",
                  "description": "Required. A Cloud Storage path to the template from which to create the job. Must be valid Cloud Storage URL, beginning with 'gs://'.",
                  "type": "string"
                },
                "view": {
                  "enum": [
                    "METADATA_ONLY"
                  ],
                  "type": "string",
                  "description": "The view to retrieve. Defaults to METADATA_ONLY.",
                  "location": "query",
                  "enumDescriptions": [
                    "Template view that retrieves only the metadata associated with the template."
                  ]
                },
                "location": {
                  "location": "query",
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request."
                },
                "projectId": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GetTemplateResponse"
              },
              "httpMethod": "GET",
              "flatPath": "v1b3/projects/{projectId}/templates:get",
              "parameterOrder": [
                "projectId"
              ],
              "description": "Get the template associated with a template.",
              "path": "v1b3/projects/{projectId}/templates:get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ]
            },
            "launch": {
              "httpMethod": "POST",
              "path": "v1b3/projects/{projectId}/templates:launch",
              "flatPath": "v1b3/projects/{projectId}/templates:launch",
              "id": "dataflow.projects.templates.launch",
              "request": {
                "$ref": "LaunchTemplateParameters"
              },
              "description": "Launch a template.",
              "response": {
                "$ref": "LaunchTemplateResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
[...]
