{
  "version_module": true,
  "ownerName": "Google",
  "baseUrl": "https://datamigration.googleapis.com/",
  "mtlsRootUrl": "https://datamigration.mtls.googleapis.com/",
  "name": "datamigration",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "kind": "discovery#restDescription",
  "id": "datamigration:v1",
  "ownerDomain": "google.com",
  "revision": "20231011",
  "basePath": "",
  "discoveryVersion": "v1",
  "rootUrl": "https://datamigration.googleapis.com/",
  "description": "Manage Cloud Database Migration Service resources on Google Cloud Platform.",
  "title": "Database Migration API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/database-migration/",
  "schemas": {
    "EntityDdl": {
      "id": "EntityDdl",
      "properties": {
        "ddlType": {
          "type": "string",
          "description": "Type of DDL (Create, Alter)."
        },
        "entityType": {
          "enum": [
            "DATABASE_ENTITY_TYPE_UNSPECIFIED",
            "DATABASE_ENTITY_TYPE_SCHEMA",
            "DATABASE_ENTITY_TYPE_TABLE",
            "DATABASE_ENTITY_TYPE_COLUMN",
            "DATABASE_ENTITY_TYPE_CONSTRAINT",
            "DATABASE_ENTITY_TYPE_INDEX",
            "DATABASE_ENTITY_TYPE_TRIGGER",
            "DATABASE_ENTITY_TYPE_VIEW",
            "DATABASE_ENTITY_TYPE_SEQUENCE",
            "DATABASE_ENTITY_TYPE_STORED_PROCEDURE",
            "DATABASE_ENTITY_TYPE_FUNCTION",
            "DATABASE_ENTITY_TYPE_SYNONYM",
            "DATABASE_ENTITY_TYPE_DATABASE_PACKAGE",
            "DATABASE_ENTITY_TYPE_UDT",
            "DATABASE_ENTITY_TYPE_MATERIALIZED_VIEW",
            "DATABASE_ENTITY_TYPE_DATABASE"
          ],
          "description": "The entity type (if the DDL is for a sub entity).",
          "type": "string",
          "enumDescriptions": [
            "Unspecified database entity type.",
            "Schema.",
            "Table.",
            "Column.",
            "Constraint.",
            "Index.",
            "Trigger.",
            "View.",
            "Sequence.",
            "Stored Procedure.",
            "Function.",
            "Synonym.",
            "Package.",
            "UDT.",
            "Materialized View.",
            "Database."
          ]
        },
        "issueId": {
          "type": "array",
          "description": "EntityIssues found for this ddl.",
          "items": {
            "type": "string"
          }
        },
        "entity": {
          "type": "string",
          "description": "The name of the database entity the ddl refers to."
        },
        "ddl": {
          "description": "The actual ddl code.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A single DDL statement for a specific entity"
    },
    "IntComparisonFilter": {
      "type": "object",
      "properties": {
        "valueComparison": {
          "enumDescriptions": [
            "Value comparison unspecified.",
            "Value is smaller than the Compare value.",
            "Value is smaller or equal than the Compare value.",
            "Value is larger than the Compare value.",
            "Value is larger or equal than the Compare value."
          ],
          "enum": [
            "VALUE_COMPARISON_UNSPECIFIED",
            "VALUE_COMPARISON_IF_VALUE_SMALLER_THAN",
            "VALUE_COMPARISON_IF_VALUE_SMALLER_EQUAL_THAN",
            "VALUE_COMPARISON_IF_VALUE_LARGER_THAN",
            "VALUE_COMPARISON_IF_VALUE_LARGER_EQUAL_THAN"
          ],
          "type": "string",
          "description": "Required. Relation between source value and compare value"
        },
        "value": {
          "type": "string",
          "description": "Required. Integer compare value to be used",
          "format": "int64"
        }
      },
      "id": "IntComparisonFilter",
      "description": "Filter based on relation between source value and compare value of type integer in ConditionalColumnSetValue"
    },
    "ValueTransformation": {
      "id": "ValueTransformation",
      "type": "object",
      "description": "Description of data transformation during migration as part of the ConditionalColumnSetValue.",
      "properties": {
        "doubleComparison": {
          "$ref": "DoubleComparisonFilter",
          "description": "Optional. Filter on relation between source value and compare value of type double."
        },
        "assignMinValue": {
          "description": "Optional. Set to min_value - if integer or numeric, will use int.minvalue, etc",
          "$ref": "Empty"
        },
        "isNull": {
          "$ref": "Empty",
          "description": "Optional. Value is null"
        },
        "assignMaxValue": {
          "$ref": "Empty",
          "description": "Optional. Set to max_value - if integer or numeric, will use int.maxvalue, etc"
        },
        "assignNull": {
          "$ref": "Empty",
          "description": "Optional. Set to null"
        },
        "applyHash": {
          "$ref": "ApplyHash",
          "description": "Optional. Applies a hash function on the data"
        },
        "roundScale": {
          "$ref": "RoundToScale",
          "description": "Optional. Allows the data to change scale"
        },
        "valueList": {
          "description": "Optional. Value is found in the specified list.",
          "$ref": "ValueListFilter"
        },
        "intComparison": {
          "$ref": "IntComparisonFilter",
          "description": "Optional. Filter on relation between source value and compare value of type integer."
        },
        "assignSpecificValue": {
          "description": "Optional. Set to a specific value (value is converted to fit the target data type)",
          "$ref": "AssignSpecificValue"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "id": "TestIamPermissionsRequest",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Response message for `TestIamPermissions` method."
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        }
      }
    },
    "SynonymEntity": {
      "type": "object",
      "description": "Synonym's parent is a schema.",
      "id": "SynonymEntity",
      "properties": {
        "sourceType": {
          "enumDescriptions": [
            "Unspecified database entity type.",
            "Schema.",
            "Table.",
            "Column.",
            "Constraint.",
            "Index.",
            "Trigger.",
            "View.",
            "Sequence.",
            "Stored Procedure.",
            "Function.",
            "Synonym.",
            "Package.",
            "UDT.",
            "Materialized View.",
            "Database."
          ],
          "enum": [
            "DATABASE_ENTITY_TYPE_UNSPECIFIED",
            "DATABASE_ENTITY_TYPE_SCHEMA",
            "DATABASE_ENTITY_TYPE_TABLE",
            "DATABASE_ENTITY_TYPE_COLUMN",
            "DATABASE_ENTITY_TYPE_CONSTRAINT",
            "DATABASE_ENTITY_TYPE_INDEX",
            "DATABASE_ENTITY_TYPE_TRIGGER",
            "DATABASE_ENTITY_TYPE_VIEW",
            "DATABASE_ENTITY_TYPE_SEQUENCE",
            "DATABASE_ENTITY_TYPE_STORED_PROCEDURE",
            "DATABASE_ENTITY_TYPE_FUNCTION",
            "DATABASE_ENTITY_TYPE_SYNONYM",
            "DATABASE_ENTITY_TYPE_DATABASE_PACKAGE",
            "DATABASE_ENTITY_TYPE_UDT",
            "DATABASE_ENTITY_TYPE_MATERIALIZED_VIEW",
            "DATABASE_ENTITY_TYPE_DATABASE"
          ],
          "description": "The type of the entity for which the synonym is being created (usually a table or a sequence).",
          "type": "string"
        },
        "customFeatures": {
          "type": "object",
          "description": "Custom engine specific features.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "sourceEntity": {
          "type": "string",
          "description": "The name of the entity for which the synonym is being created (the source)."
        }
      }
    },
    "EntityIssue": {
      "id": "EntityIssue",
      "description": "Issue related to the entity.",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified issue type.",
            "Issue originated from the DDL",
            "Issue originated during the apply process",
            "Issue originated during the convert process"
          ],
          "enum": [
            "ISSUE_TYPE_UNSPECIFIED",
            "ISSUE_TYPE_DDL",
            "ISSUE_TYPE_APPLY",
            "ISSUE_TYPE_CONVERT"
          ],
          "description": "The type of the issue.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "Error/Warning code"
        },
        "position": {
          "$ref": "Position",
          "description": "The position of the issue found, if relevant."
        },
        "id": {
          "type": "string",
          "description": "Unique Issue ID."
        },
        "entityType": {
          "type": "string",
          "description": "The entity type (if the DDL is for a sub entity).",
          "enumDescriptions": [
            "Unspecified database entity type.",
            "Schema.",
            "Table.",
            "Column.",
            "Constraint.",
            "Index.",
            "Trigger.",
            "View.",
            "Sequence.",
            "Stored Procedure.",
            "Function.",
            "Synonym.",
            "Package.",
            "UDT.",
            "Materialized View.",
            "Database."
          ],
          "enum": [
            "DATABASE_ENTITY_TYPE_UNSPECIFIED",
            "DATABASE_ENTITY_TYPE_SCHEMA",
            "DATABASE_ENTITY_TYPE_TABLE",
            "DATABASE_ENTITY_TYPE_COLUMN",
            "DATABASE_ENTITY_TYPE_CONSTRAINT",
            "DATABASE_ENTITY_TYPE_INDEX",
            "DATABASE_ENTITY_TYPE_TRIGGER",
            "DATABASE_ENTITY_TYPE_VIEW",
            "DATABASE_ENTITY_TYPE_SEQUENCE",
            "DATABASE_ENTITY_TYPE_STORED_PROCEDURE",
            "DATABASE_ENTITY_TYPE_FUNCTION",
            "DATABASE_ENTITY_TYPE_SYNONYM",
            "DATABASE_ENTITY_TYPE_DATABASE_PACKAGE",
            "DATABASE_ENTITY_TYPE_UDT",
            "DATABASE_ENTITY_TYPE_MATERIALIZED_VIEW",
            "DATABASE_ENTITY_TYPE_DATABASE"
          ]
        },
        "severity": {
          "type": "string",
          "enum": [
            "ISSUE_SEVERITY_UNSPECIFIED",
            "ISSUE_SEVERITY_INFO",
            "ISSUE_SEVERITY_WARNING",
            "ISSUE_SEVERITY_ERROR"
          ],
          "enumDescriptions": [
            "Unspecified issue severity",
            "Info",
            "Warning",
            "Error"
          ],
          "description": "Severity of the issue"
        },
        "message": {
          "type": "string",
          "description": "Issue detailed message"
        },
        "ddl": {
          "description": "The ddl which caused the issue, if relevant.",
          "type": "string"
        }
      }
    },
    "ListConversionWorkspacesResponse": {
      "id": "ListConversionWorkspacesResponse",
      "type": "object",
      "description": "Response message for 'ListConversionWorkspaces' request.",
      "properties": {
        "conversionWorkspaces": {
          "type": "array",
          "description": "The list of conversion workspace objects.",
          "items": {
            "$ref": "ConversionWorkspace"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SingleColumnChange": {
      "id": "SingleColumnChange",
      "properties": {
        "udt": {
          "description": "Optional. Is the column a UDT (User-defined Type).",
          "type": "boolean"
        },
        "scale": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Column scale - e.g. 2 as in double (8,2) - when relevant."
        },
        "collation": {
          "description": "Optional. Collation override - instead of table level collation.",
          "type": "string"
        },
        "customFeatures": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Custom engine specific features."
        },
        "autoGenerated": {
          "description": "Optional. Is the column auto-generated/identity.",
          "type": "boolean"
        },
        "dataType": {
          "type": "string",
          "description": "Optional. Column data type name."
        },
        "precision": {
          "format": "int32",
          "description": "Optional. Column precision - e.g. 8 as in double (8,2) - when relevant.",
          "type": "integer"
        },
        "comment": {
          "description": "Optional. Comment associated with the column.",
          "type": "string"
        },
        "setValues": {
          "description": "Optional. Specifies the list of values allowed in the column.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "charset": {
          "type": "string",
          "description": "Optional. Charset override - instead of table level charset."
        },
        "arrayLength": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The length of the array, only relevant if the column type is an array."
        },
        "nullable": {
          "type": "boolean",
          "description": "Optional. Is the column nullable."
        },
        "array": {
          "type": "boolean",
          "description": "Optional. Is the column of array type."
        },
        "fractionalSecondsPrecision": {
          "format": "int32",
          "description": "Optional. Column fractional seconds precision - e.g. 2 as in timestamp (2) - when relevant.",
          "type": "integer"
        },
        "length": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Column length - e.g. 50 as in varchar (50) - when relevant."
        }
      },
      "description": "Options to configure rule type SingleColumnChange. The rule is used to change the properties of a column. The rule filter field can refer to one entity. The rule scope can be one of: Column. When using this rule, if a field is not specified than the destination column's configuration will be the same as the one in the source column..",
      "type": "object"
    },
    "DumpFlags": {
      "type": "object",
      "properties": {
        "dumpFlags": {
          "items": {
            "$ref": "DumpFlag"
          },
          "description": "The flags for the initial dump.",
          "type": "array"
        }
      },
      "id": "DumpFlags",
      "description": "Dump flags definition."
    },
    "ForwardSshTunnelConnectivity": {
      "description": "Forward SSH Tunnel connectivity.",
      "type": "object",
      "properties": {
        "port": {
          "format": "int32",
          "description": "Port for the SSH tunnel, default value is 22.",
          "type": "integer"
        },
        "privateKey": {
          "type": "string",
          "description": "Input only. SSH private key."
        },
        "hostname": {
          "description": "Required. Hostname for the SSH tunnel.",
          "type": "string"
        },
        "password": {
          "description": "Input only. SSH password.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "Required. Username for the SSH tunnel."
        }
      },
      "id": "ForwardSshTunnelConnectivity"
    },
    "IndexEntity": {
      "description": "Index is not used as an independent entity, it is retrieved as part of a Table entity.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the index."
        },
        "type": {
          "description": "Type of index, for example B-TREE.",
          "type": "string"
        },
        "unique": {
          "description": "Boolean value indicating whether the index is unique.",
          "type": "boolean"
        },
        "tableColumns": {
          "type": "array",
          "description": "Table columns used as part of the Index, for example B-TREE index should list the columns which constitutes the index.",
          "items": {
            "type": "string"
          }
        },
        "customFeatures": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Custom engine specific features."
        }
      },
      "id": "IndexEntity",
      "type": "object"
    },
    "ApplyConversionWorkspaceRequest": {
      "properties": {
        "dryRun": {
          "type": "boolean",
          "description": "Optional. Only validates the apply process, but doesn't change the destination database. Only works for PostgreSQL destination connection profile."
        },
        "filter": {
          "description": "Filter which entities to apply. Leaving this field empty will apply all of the entities. Supports Google AIP 160 based filtering.",
          "type": "string"
        },
        "autoCommit": {
          "description": "Optional. Specifies whether the conversion workspace is to be committed automatically after the apply.",
          "type": "boolean"
        },
        "connectionProfile": {
          "description": "Optional. Fully qualified (Uri) name of the destination connection profile.",
          "type": "string"
        }
      },
      "description": "Request message for 'ApplyConversionWorkspace' request.",
      "type": "object",
      "id": "ApplyConversionWorkspaceRequest"
    },
    "PerformanceConfig": {
      "description": "Performance configuration definition.",
      "properties": {
        "dumpParallelLevel": {
          "type": "string",
          "enumDescriptions": [
            "Unknown dump parallel level. Will be defaulted to OPTIMAL.",
            "Minimal parallel level.",
            "Optimal parallel level.",
            "Maximum parallel level."
          ],
          "description": "Initial dump parallelism level.",
          "enum": [
            "DUMP_PARALLEL_LEVEL_UNSPECIFIED",
            "MIN",
            "OPTIMAL",
            "MAX"
          ]
        }
      },
      "type": "object",
      "id": "PerformanceConfig"
    },
    "GenerateSshScriptRequest": {
      "type": "object",
      "description": "Request message for 'GenerateSshScript' request.",
      "properties": {
        "vmPort": {
          "type": "integer",
          "format": "int32",
          "description": "The port that will be open on the bastion host."
        },
        "vmCreationConfig": {
          "description": "The VM creation configuration",
          "$ref": "VmCreationConfig"
        },
        "vm": {
          "description": "Required. Bastion VM Instance name to use or to create.",
          "type": "string"
        },
        "vmSelectionConfig": {
          "description": "The VM selection configuration",
          "$ref": "VmSelectionConfig"
        }
      },
      "id": "GenerateSshScriptRequest"
    },
    "PrivateConnectivity": {
      "type": "object",
      "id": "PrivateConnectivity",
      "properties": {
        "privateConnection": {
          "type": "string",
          "description": "Required. The resource name (URI) of the private connection."
        }
      },
      "description": "Private Connectivity."
    },
    "Binding": {
      "properties": {
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        },
        "members": {
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object"
    },
    "StaticIpConnectivity": {
      "description": "The source database will allow incoming connections from the public IP of the destination database. You can retrieve the public IP of the Cloud SQL instance from the Cloud SQL console or using Cloud SQL APIs. No additional configuration is required.",
      "properties": {},
      "id": "StaticIpConnectivity",
      "type": "object"
    },
    "BackgroundJobLogEntry": {
      "id": "BackgroundJobLogEntry",
      "properties": {
        "importRulesJobDetails": {
          "$ref": "ImportRulesJobDetails",
          "readOnly": true,
          "description": "Output only. Import rules job details."
        },
        "jobType": {
          "enumDescriptions": [
            "Unspecified background job type.",
            "Job to seed from the source database.",
            "Job to convert the source database into a draft of the destination database.",
            "Job to apply the draft tree onto the destination.",
            "Job to import and convert mapping rules from an external source such as an ora2pg config file."
          ],
          "type": "string",
          "description": "The type of job that was executed.",
          "enum": [
            "BACKGROUND_JOB_TYPE_UNSPECIFIED",
            "BACKGROUND_JOB_TYPE_SOURCE_SEED",
            "BACKGROUND_JOB_TYPE_CONVERT",
            "BACKGROUND_JOB_TYPE_APPLY_DESTINATION",
            "BACKGROUND_JOB_TYPE_IMPORT_RULES_FILE"
          ]
        },
        "completionComment": {
          "type": "string",
          "description": "Output only. Job completion comment, such as how many entities were seeded, how many warnings were found during conversion, and similar information.",
          "readOnly": true
        },
        "finishTime": {
          "format": "google-datetime",
          "description": "The timestamp when the background job was finished.",
          "type": "string"
        },
        "applyJobDetails": {
          "$ref": "ApplyJobDetails",
          "readOnly": true,
          "description": "Output only. Apply job details."
        },
        "seedJobDetails": {
          "description": "Output only. Seed job details.",
          "$ref": "SeedJobDetails",
          "readOnly": true
        },
        "requestAutocommit": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the client requested the conversion workspace to be committed after a successful completion of the job."
        },
        "completionState": {
          "type": "string",
          "enumDescriptions": [
            "The status is not specified. This state is used when job is not yet finished.",
            "Success.",
            "Error."
          ],
          "description": "Output only. Job completion state, i.e. the final state after the job completed.",
          "readOnly": true,
          "enum": [
            "JOB_COMPLETION_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "id": {
          "type": "string",
          "description": "The background job log entry ID."
        },
        "startTime": {
          "description": "The timestamp when the background job was started.",
          "format": "google-datetime",
          "type": "string"
        },
        "convertJobDetails": {
          "readOnly": true,
          "description": "Output only. Convert job details.",
          "$ref": "ConvertJobDetails"
        }
      },
      "description": "Execution log of a background job.",
      "type": "object"
    },
    "MaterializedViewEntity": {
      "properties": {
        "customFeatures": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Custom engine specific features."
        },
        "sqlCode": {
          "type": "string",
          "description": "The SQL code which creates the view."
        }
      },
      "id": "MaterializedViewEntity",
      "type": "object",
      "description": "MaterializedView's parent is a schema."
    },
    "DumpFlag": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the flag"
        },
        "value": {
          "description": "The value of the flag.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Dump flag definition.",
      "id": "DumpFlag"
    },
    "ImportRulesJobDetails": {
      "description": "Details regarding an Import Rules background job.",
      "properties": {
        "fileFormat": {
          "type": "string",
          "description": "Output only. The requested file format.",
          "enum": [
            "IMPORT_RULES_FILE_FORMAT_UNSPECIFIED",
            "IMPORT_RULES_FILE_FORMAT_HARBOUR_BRIDGE_SESSION_FILE",
            "IMPORT_RULES_FILE_FORMAT_ORATOPG_CONFIG_FILE"
          ],
          "enumDescriptions": [
            "Unspecified rules format.",
            "HarbourBridge session file.",
            "Ora2Pg configuration file."
          ],
          "readOnly": true
        },
        "files": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. File names used for the import rules job."
        }
      },
      "id": "ImportRulesJobDetails",
      "type": "object"
    },
    "ListMigrationJobsResponse": {
      "id": "ListMigrationJobsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "migrationJobs": {
          "items": {
            "$ref": "MigrationJob"
          },
          "description": "The list of migration jobs objects.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for 'ListMigrationJobs' request."
    },
    "ResumeMigrationJobRequest": {
      "description": "Request message for 'ResumeMigrationJob' request.",
      "properties": {},
      "type": "object",
      "id": "ResumeMigrationJobRequest"
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      }
    },
    "PrivateConnection": {
      "id": "PrivateConnection",
      "type": "object",
      "description": "The PrivateConnection resource is used to establish private connectivity with the customer's network.",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The resource labels for private connections to use to annotate any related underlying resources such as Compute Engine VMs. An object containing a list of \"key\": \"value\" pairs. Example: `{ \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }`.",
          "type": "object"
        },
        "displayName": {
          "type": "string",
          "description": "The private connection display name."
        },
        "vpcPeeringConfig": {
          "$ref": "VpcPeeringConfig",
          "description": "VPC peering configuration."
        },
        "error": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. The error details in case of state FAILED."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The last update time of the resource."
        },
        "state": {
          "description": "Output only. The state of the private connection.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "FAILED",
            "DELETING",
            "FAILED_TO_DELETE",
            "DELETED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "The private connection is in creation state - creating resources.",
            "The private connection has been created with all of its resources.",
            "The private connection creation has failed.",
            "The private connection is being deleted.",
            "Delete request has failed, resource is in invalid state.",
            "The private connection has been deleted."
          ],
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The create time of the resource.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the resource."
        }
      }
    },
    "ConversionWorkspace": {
      "description": "The main conversion workspace resource entity.",
      "type": "object",
      "id": "ConversionWorkspace",
      "properties": {
        "globalSettings": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. A generic list of settings for the workspace. The settings are database pair dependant and can indicate default behavior for the mapping rules engine or turn on or off specific features. Such examples can be: convert_foreign_key_to_interleave=true, skip_triggers=false, ignore_non_table_synonyms=true"
        },
        "source": {
          "description": "Required. The source engine details.",
          "$ref": "DatabaseEngineInfo"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name for the workspace."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the workspace resource was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "latestCommitId": {
          "description": "Output only. The latest commit ID.",
          "readOnly": true,
          "type": "string"
        },
        "hasUncommittedChanges": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the workspace has uncommitted changes (changes which were made after the workspace was committed)."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the workspace resource was created."
        },
        "latestCommitTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the workspace was committed."
        },
        "name": {
          "description": "Full name of the workspace resource, in the form of: projects/{project}/locations/{location}/conversionWorkspaces/{conversion_workspace}.",
          "type": "string"
        },
        "destination": {
          "$ref": "DatabaseEngineInfo",
          "description": "Required. The destination engine details."
        }
      }
    },
    "VpcPeeringConfig": {
      "properties": {
        "vpcName": {
          "description": "Required. Fully qualified name of the VPC that Database Migration Service will peer to.",
          "type": "string"
        },
        "subnet": {
          "type": "string",
          "description": "Required. A free subnet for peering. (CIDR of /29)"
        }
      },
      "id": "VpcPeeringConfig",
      "description": "The VPC peering configuration is used to create VPC peering with the consumer's VPC.",
      "type": "object"
    },
    "ImportMappingRulesRequest": {
      "id": "ImportMappingRulesRequest",
      "type": "object",
      "properties": {
        "rulesFormat": {
          "type": "string",
          "description": "Required. The format of the rules content file.",
          "enumDescriptions": [
            "Unspecified rules format.",
            "HarbourBridge session file.",
            "Ora2Pg configuration file."
          ],
          "enum": [
            "IMPORT_RULES_FILE_FORMAT_UNSPECIFIED",
            "IMPORT_RULES_FILE_FORMAT_HARBOUR_BRIDGE_SESSION_FILE",
            "IMPORT_RULES_FILE_FORMAT_ORATOPG_CONFIG_FILE"
          ]
        },
        "autoCommit": {
          "type": "boolean",
          "description": "Required. Should the conversion workspace be committed automatically after the import operation."
        },
        "rulesFiles": {
          "type": "array",
          "description": "Required. One or more rules files.",
          "items": {
            "$ref": "RulesFile"
          }
        }
      },
      "description": "Request message for 'ImportMappingRules' request."
    },
    "MigrationJob": {
      "description": "Represents a Database Migration Service migration job object.",
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the migration job resource was last updated. A timestamp in RFC3339 UTC \"Zulu\" format, accurate to nanoseconds. Example: \"2014-10-02T15:01:23.045123456Z\"."
        },
        "filter": {
          "description": "This field can be used to select the entities to migrate as part of the migration job. It uses AIP-160 notation to select a subset of the entities configured on the associated conversion-workspace. This field should not be set on migration-jobs that are not associated with a conversion workspace.",
          "type": "string"
        },
        "vpcPeeringConnectivity": {
          "description": "The details of the VPC network that the source database is located in.",
          "$ref": "VpcPeeringConnectivity"
        },
        "cmekKeyName": {
          "type": "string",
          "description": "The CMEK (customer-managed encryption key) fully qualified key name used for the migration job. This field supports all migration jobs types except for: * Mysql to Mysql (use the cmek field in the cloudsql connection profile instead). * PostrgeSQL to PostgreSQL (use the cmek field in the cloudsql connection profile instead). * PostgreSQL to AlloyDB (use the kms_key_name field in the alloydb connection profile instead). Each Cloud CMEK key has the following format: projects/[PROJECT]/locations/[REGION]/keyRings/[RING]/cryptoKeys/[KEY_NAME]"
        },
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "Output only. The duration of the migration job (in seconds). A duration in seconds with up to nine fractional digits, terminated by 's'. Example: \"3.5s\".",
          "readOnly": true
        },
        "conversionWorkspace": {
          "description": "The conversion workspace used by the migration.",
          "$ref": "ConversionWorkspaceInfo"
        },
        "type": {
          "description": "Required. The migration job type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ONE_TIME",
            "CONTINUOUS"
          ],
          "type": "string",
          "enumDescriptions": [
            "The type of the migration job is unknown.",
            "The migration job is a one time migration.",
            "The migration job is a continuous migration."
          ]
        },
        "performanceConfig": {
          "description": "Optional. Data dump parallelism settings used by the migration. Currently applicable only for MySQL to Cloud SQL for MySQL migrations only.",
          "$ref": "PerformanceConfig"
        },
        "phase": {
          "enum": [
            "PHASE_UNSPECIFIED",
            "FULL_DUMP",
            "CDC",
            "PROMOTE_IN_PROGRESS",
            "WAITING_FOR_SOURCE_WRITES_TO_STOP",
            "PREPARING_THE_DUMP"
          ],
          "enumDescriptions": [
            "The phase of the migration job is unknown.",
            "The migration job is in the full dump phase.",
            "The migration job is CDC phase.",
            "The migration job is running the promote phase.",
            "Only RDS flow - waiting for source writes to stop",
            "Only RDS flow - the sources writes stopped, waiting for dump to begin"
          ],
          "readOnly": true,
          "description": "Output only. The current migration job phase.",
          "type": "string"
        },
        "source": {
          "type": "string",
          "description": "Required. The resource name (URI) of the source connection profile."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The resource labels for migration job to use to annotate any related underlying resources such as Compute Engine VMs. An object containing a list of \"key\": \"value\" pairs. Example: `{ \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }`."
        },
        "reverseSshConnectivity": {
          "description": "The details needed to communicate to the source over Reverse SSH tunnel connectivity.",
          "$ref": "ReverseSshConnectivity"
        },
        "displayName": {
          "description": "The migration job display name.",
          "type": "string"
        },
        "dumpFlags": {
          "$ref": "DumpFlags",
          "description": "The initial dump flags. This field and the \"dump_path\" field are mutually exclusive."
        },
        "staticIpConnectivity": {
          "description": "static ip connectivity data (default, no additional details needed).",
          "$ref": "StaticIpConnectivity"
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. The error details in case of state FAILED."
        },
        "dumpPath": {
          "type": "string",
          "description": "The path to the dump file in Google Cloud Storage, in the format: (gs://[BUCKET_NAME]/[OBJECT_NAME]). This field and the \"dump_flags\" field are mutually exclusive."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "MAINTENANCE",
            "DRAFT",
            "CREATING",
            "NOT_STARTED",
            "RUNNING",
            "FAILED",
            "COMPLETED",
            "DELETING",
            "STOPPING",
            "STOPPED",
            "DELETED",
            "UPDATING",
            "STARTING",
            "RESTARTING",
            "RESUMING"
          ],
          "type": "string",
          "description": "The current migration job state.",
          "enumDescriptions": [
            "The state of the migration job is unknown.",
            "The migration job is down for maintenance.",
            "The migration job is in draft mode and no resources are created.",
            "The migration job is being created.",
            "The migration job is created and not started.",
            "The migration job is running.",
            "The migration job failed.",
            "The migration job has been completed.",
            "The migration job is being deleted.",
            "The migration job is being stopped.",
            "The migration job is currently stopped.",
            "The migration job has been deleted.",
            "The migration job is being updated.",
            "The migration job is starting.",
            "The migration job is restarting.",
            "The migration job is resuming."
          ]
        },
        "endTime": {
          "description": "Output only. If the migration job is completed, the time when it was completed.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "sourceDatabase": {
          "$ref": "DatabaseType",
          "description": "The database engine type and provider of the source."
        },
        "destinationDatabase": {
          "$ref": "DatabaseType",
          "description": "The database engine type and provider of the destination."
        },
        "createTime": {
          "description": "Output only. The timestamp when the migration job resource was created. A timestamp in RFC3339 UTC \"Zulu\" format, accurate to nanoseconds. Example: \"2014-10-02T15:01:23.045123456Z\".",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "The name (URI) of this migration job resource, in the form of: projects/{project}/locations/{location}/migrationJobs/{migrationJob}."
        },
        "destination": {
          "description": "Required. The resource name (URI) of the destination connection profile.",
          "type": "string"
        }
      },
      "id": "MigrationJob"
    },
    "ConnectionProfile": {
      "id": "ConnectionProfile",
      "description": "A connection profile definition.",
      "properties": {
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. The error details in case of state FAILED."
        },
        "oracle": {
          "$ref": "OracleConnectionProfile",
          "description": "An Oracle database connection profile."
        },
        "labels": {
          "description": "The resource labels for connection profile to use to annotate any related underlying resources such as Compute Engine VMs. An object containing a list of \"key\": \"value\" pairs. Example: `{ \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }`.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was last updated. A timestamp in RFC3339 UTC \"Zulu\" format, accurate to nanoseconds. Example: \"2014-10-02T15:01:23.045123456Z\"."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "DELETED",
            "FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The state of the connection profile is unknown.",
            "The connection profile is in draft mode and fully editable.",
            "The connection profile is being created.",
            "The connection profile is ready.",
            "The connection profile is being updated.",
            "The connection profile is being deleted.",
            "The connection profile has been deleted.",
            "The last action on the connection profile failed."
          ],
          "description": "The current connection profile state (e.g. DRAFT, READY, or FAILED)."
        },
        "provider": {
          "description": "The database provider.",
          "type": "string",
          "enumDescriptions": [
            "The database provider is unknown.",
            "CloudSQL runs the database.",
            "RDS runs the database.",
            "Amazon Aurora.",
            "AlloyDB."
          ],
          "enum": [
            "DATABASE_PROVIDER_UNSPECIFIED",
            "CLOUDSQL",
            "RDS",
            "AURORA",
            "ALLOYDB"
          ]
        },
        "alloydb": {
          "$ref": "AlloyDbConnectionProfile",
          "description": "An AlloyDB cluster connection profile."
        },
        "mysql": {
          "$ref": "MySqlConnectionProfile",
          "description": "A MySQL database connection profile."
        },
        "displayName": {
          "description": "The connection profile display name.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created. A timestamp in RFC3339 UTC \"Zulu\" format, accurate to nanoseconds. Example: \"2014-10-02T15:01:23.045123456Z\".",
          "type": "string",
          "readOnly": true
        },
        "cloudsql": {
          "description": "A CloudSQL database connection profile.",
          "$ref": "CloudSqlConnectionProfile"
        },
        "postgresql": {
          "$ref": "PostgreSqlConnectionProfile",
          "description": "A PostgreSQL database connection profile."
        },
        "name": {
          "description": "The name of this connection profile resource in the form of projects/{project}/locations/{location}/connectionProfiles/{connectionProfile}.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TableEntity": {
      "type": "object",
      "id": "TableEntity",
      "description": "Table's parent is a schema.",
      "properties": {
        "indices": {
          "type": "array",
          "description": "Table indices.",
          "items": {
            "$ref": "IndexEntity"
          }
        },
        "comment": {
          "description": "Comment associated with the table.",
          "type": "string"
        },
        "customFeatures": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Custom engine specific features."
        },
        "columns": {
          "description": "Table columns.",
          "type": "array",
          "items": {
            "$ref": "ColumnEntity"
          }
        },
        "triggers": {
          "items": {
            "$ref": "TriggerEntity"
          },
          "description": "Table triggers.",
          "type": "array"
        },
        "constraints": {
          "type": "array",
          "items": {
            "$ref": "ConstraintEntity"
          },
          "description": "Table constraints."
        }
      }
    },
    "TcpProxyScript": {
      "type": "object",
      "id": "TcpProxyScript",
      "properties": {
        "script": {
          "type": "string",
          "description": "The TCP Proxy configuration script."
        }
      },
      "description": "Response message for 'GenerateTcpProxyScript' request."
    },
    "MySqlConnectionProfile": {
      "properties": {
        "password": {
          "description": "Required. Input only. The password for the user that Database Migration Service will be using to connect to the database. This field is not returned on request, and the value is encrypted when stored in Database Migration Service.",
          "type": "string"
        },
        "cloudSqlId": {
          "description": "If the source is a Cloud SQL database, use this field to provide the Cloud SQL instance ID of the source.",
          "type": "string"
        },
        "ssl": {
          "description": "SSL configuration for the destination to connect to the source database.",
          "$ref": "SslConfig"
        },
        "username": {
          "description": "Required. The username that Database Migration Service will use to connect to the database. The value is encrypted when stored in Database Migration Service.",
          "type": "string"
        },
        "host": {
          "description": "Required. The IP or hostname of the source MySQL database.",
          "type": "string"
        },
        "port": {
          "description": "Required. The network port of the source MySQL database.",
          "type": "integer",
          "format": "int32"
        },
        "passwordSet": {
          "readOnly": true,
          "description": "Output only. Indicates If this connection profile password is stored.",
          "type": "boolean"
        }
      },
      "description": "Specifies connection parameters required specifically for MySQL databases.",
      "type": "object",
      "id": "MySqlConnectionProfile"
    },
    "ConvertRowIdToColumn": {
      "properties": {
        "onlyIfNoPrimaryKey": {
          "description": "Required. Only work on tables without primary key defined",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "ConvertRowIdToColumn",
      "description": "Options to configure rule type ConvertROWIDToColumn. The rule is used to add column rowid to destination tables based on an Oracle rowid function/property. The rule filter field can refer to one or more entities. The rule scope can be one of: Table. This rule requires additional filter to be specified beyond the basic rule filter field, which is whether or not to work on tables which already have a primary key defined."
    },
    "MappingRuleFilter": {
      "description": "A filter defining the entities that a mapping rule should be applied to. When more than one field is specified, the rule is applied only to entities which match all the fields.",
      "id": "MappingRuleFilter",
      "properties": {
        "entityNamePrefix": {
          "description": "Optional. The rule should be applied to entities whose non-qualified name starts with the given prefix.",
          "type": "string"
        },
        "parentEntity": {
          "type": "string",
          "description": "Optional. The rule should be applied to entities whose parent entity (fully qualified name) matches the given value. For example, if the rule applies to a table entity, the expected value should be a schema (schema). If the rule applies to a column or index entity, the expected value can be either a schema (schema) or a table (schema.table)"
        },
        "entityNameContains": {
          "type": "string",
          "description": "Optional. The rule should be applied to entities whose non-qualified name contains the given string."
        },
        "entities": {
          "type": "array",
          "description": "Optional. The rule should be applied to specific entities defined by their fully qualified names.",
          "items": {
            "type": "string"
          }
        },
        "entityNameSuffix": {
          "description": "Optional. The rule should be applied to entities whose non-qualified name ends with the given suffix.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RestartMigrationJobRequest": {
      "id": "RestartMigrationJobRequest",
      "properties": {
        "skipValidation": {
          "type": "boolean",
          "description": "Optional. Restart the migration job without running prior configuration verification. Defaults to `false`."
        }
      },
      "description": "Request message for 'RestartMigrationJob' request.",
      "type": "object"
    },
    "StoredProcedureEntity": {
      "id": "StoredProcedureEntity",
      "type": "object",
      "properties": {
        "sqlCode": {
          "description": "The SQL code which creates the stored procedure.",
          "type": "string"
        },
        "customFeatures": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Custom engine specific features.",
          "type": "object"
        }
      },
      "description": "Stored procedure's parent is a schema."
    },
    "MappingRule": {
      "properties": {
        "singlePackageChange": {
          "$ref": "SinglePackageChange",
          "description": "Optional. Rule to specify how a single package is converted."
        },
        "singleEntityRename": {
          "description": "Optional. Rule to specify how a single entity should be renamed.",
          "$ref": "SingleEntityRename"
        },
        "entityMove": {
          "description": "Optional. Rule to specify how multiple entities should be relocated into a different schema.",
          "$ref": "EntityMove"
        },
        "revisionCreateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp that the revision was created.",
          "readOnly": true
        },
        "multiColumnDataTypeChange": {
          "description": "Optional. Rule to specify how multiple columns should be converted to a different data type.",
          "$ref": "MultiColumnDatatypeChange"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. A human readable name"
        },
        "conditionalColumnSetValue": {
          "$ref": "ConditionalColumnSetValue",
          "description": "Optional. Rule to specify how the data contained in a column should be transformed (such as trimmed, rounded, etc) provided that the data meets certain criteria."
        },
        "singleColumnChange": {
          "description": "Optional. Rule to specify how a single column is converted.",
          "$ref": "SingleColumnChange"
        },
        "multiEntityRename": {
          "$ref": "MultiEntityRename",
          "description": "Optional. Rule to specify how multiple entities should be renamed."
        },
        "filterTableColumns": {
          "$ref": "FilterTableColumns",
          "description": "Optional. Rule to specify the list of columns to include or exclude from a table."
        },
        "ruleScope": {
          "enumDescriptions": [
            "Unspecified database entity type.",
            "Schema.",
            "Table.",
            "Column.",
            "Constraint.",
            "Index.",
            "Trigger.",
            "View.",
            "Sequence.",
            "Stored Procedure.",
            "Function.",
            "Synonym.",
            "Package.",
            "UDT.",
            "Materialized View.",
            "Database."
          ],
          "enum": [
            "DATABASE_ENTITY_TYPE_UNSPECIFIED",
            "DATABASE_ENTITY_TYPE_SCHEMA",
            "DATABASE_ENTITY_TYPE_TABLE",
            "DATABASE_ENTITY_TYPE_COLUMN",
            "DATABASE_ENTITY_TYPE_CONSTRAINT",
            "DATABASE_ENTITY_TYPE_INDEX",
            "DATABASE_ENTITY_TYPE_TRIGGER",
            "DATABASE_ENTITY_TYPE_VIEW",
            "DATABASE_ENTITY_TYPE_SEQUENCE",
            "DATABASE_ENTITY_TYPE_STORED_PROCEDURE",
            "DATABASE_ENTITY_TYPE_FUNCTION",
            "DATABASE_ENTITY_TYPE_SYNONYM",
            "DATABASE_ENTITY_TYPE_DATABASE_PACKAGE",
            "DATABASE_ENTITY_TYPE_UDT",
            "DATABASE_ENTITY_TYPE_MATERIALIZED_VIEW",
            "DATABASE_ENTITY_TYPE_DATABASE"
          ],
          "type": "string",
          "description": "Required. The rule scope"
        },
        "sourceSqlChange": {
          "description": "Optional. Rule to change the sql code for an entity, for example, function, procedure.",
          "$ref": "SourceSqlChange"
        },
        "ruleOrder": {
          "type": "string",
          "format": "int64",
          "description": "Required. The order in which the rule is applied. Lower order rules are applied before higher value rules so they may end up being overridden."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "DELETED"
          ],
          "type": "string",
          "description": "Optional. The mapping rule state",
          "enumDescriptions": [
            "The state of the mapping rule is unknown.",
            "The rule is enabled.",
            "The rule is disabled.",
            "The rule is logically deleted."
          ]
        },
        "filter": {
          "$ref": "MappingRuleFilter",
          "description": "Required. The rule filter"
        },
        "name": {
          "description": "Full name of the mapping rule resource, in the form of: projects/{project}/locations/{location}/conversionWorkspaces/{set}/mappingRule/{rule}.",
          "type": "string"
        },
        "revisionId": {
          "readOnly": true,
          "description": "Output only. The revision ID of the mapping rule. A new revision is committed whenever the mapping rule is changed in any way. The format is an 8-character hexadecimal string.",
          "type": "string"
        },
        "convertRowidColumn": {
          "$ref": "ConvertRowIdToColumn",
          "description": "Optional. Rule to specify how multiple tables should be converted with an additional rowid column."
        },
        "setTablePrimaryKey": {
          "description": "Optional. Rule to specify the primary key for a table",
          "$ref": "SetTablePrimaryKey"
        }
      },
      "id": "MappingRule",
      "description": "Definition of a transformation that is to be applied to a group of entities in the source schema. Several such transformations can be applied to an entity sequentially to define the corresponding entity in the target schema.",
      "type": "object"
    },
    "AlloyDbConnectionProfile": {
      "type": "object",
      "properties": {
        "clusterId": {
          "type": "string",
          "description": "Required. The AlloyDB cluster ID that this connection profile is associated with."
        },
        "settings": {
          "description": "Immutable. Metadata used to create the destination AlloyDB cluster.",
          "$ref": "AlloyDbSettings"
        }
      },
      "id": "AlloyDbConnectionProfile",
      "description": "Specifies required connection parameters, and the parameters required to create an AlloyDB destination cluster."
    },
    "ListMappingRulesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "mappingRules": {
          "description": "The list of conversion workspace mapping rules.",
          "type": "array",
          "items": {
            "$ref": "MappingRule"
          }
        }
      },
      "description": "Response message for 'ListMappingRulesRequest' request.",
      "type": "object",
      "id": "ListMappingRulesResponse"
    },
    "GenerateTcpProxyScriptRequest": {
      "type": "object",
      "description": "Request message for 'GenerateTcpProxyScript' request.",
      "id": "GenerateTcpProxyScriptRequest",
      "properties": {
        "vmSubnet": {
          "description": "Required. The name of the subnet the Compute instance will use for private connectivity. Must be supplied in the form of projects/{project}/regions/{region}/subnetworks/{subnetwork}. Note: the region for the subnet must match the Compute instance region.",
          "type": "string"
        },
        "vmName": {
          "type": "string",
          "description": "Required. The name of the Compute instance that will host the proxy."
        },
        "vmMachineType": {
          "type": "string",
          "description": "Required. The type of the Compute instance that will host the proxy."
        },
        "vmZone": {
          "description": "Optional. The Google Cloud Platform zone to create the VM in. The fully qualified name of the zone must be specified, including the region name, for example \"us-central1-b\". If not specified, uses the \"-b\" zone of the destination Connection Profile's region.",
          "type": "string"
        }
      }
    },
    "UserPassword": {
      "description": "The username/password for a database user. Used for specifying initial users at cluster creation time.",
      "properties": {
        "passwordSet": {
          "description": "Output only. Indicates if the initial_user.password field has been set.",
          "readOnly": true,
          "type": "boolean"
        },
        "user": {
          "type": "string",
          "description": "The database username."
        },
        "password": {
          "description": "The initial password for the user.",
          "type": "string"
        }
      },
      "id": "UserPassword",
      "type": "object"
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "type": "array",
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      },
      "type": "object"
    },
    "ConversionWorkspaceInfo": {
      "id": "ConversionWorkspaceInfo",
      "type": "object",
      "description": "A conversion workspace's version.",
      "properties": {
        "name": {
          "description": "The resource name (URI) of the conversion workspace.",
          "type": "string"
        },
        "commitId": {
          "type": "string",
          "description": "The commit ID of the conversion workspace."
        }
      }
    },
    "MachineConfig": {
      "properties": {
        "cpuCount": {
          "description": "The number of CPU's in the VM instance.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "MachineConfig describes the configuration of a machine.",
      "id": "MachineConfig"
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        }
      },
      "type": "object"
    },
    "FunctionEntity": {
      "properties": {
        "sqlCode": {
          "description": "The SQL code which creates the function.",
          "type": "string"
        },
        "customFeatures": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Custom engine specific features."
        }
      },
      "description": "Function's parent is a schema.",
      "type": "object",
      "id": "FunctionEntity"
    },
    "MigrationJobVerificationError": {
      "description": "Error message of a verification Migration job.",
      "id": "MigrationJobVerificationError",
      "properties": {
        "errorCode": {
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "CONNECTION_FAILURE",
            "AUTHENTICATION_FAILURE",
            "INVALID_CONNECTION_PROFILE_CONFIG",
            "VERSION_INCOMPATIBILITY",
            "CONNECTION_PROFILE_TYPES_INCOMPATIBILITY",
            "NO_PGLOGICAL_INSTALLED",
            "PGLOGICAL_NODE_ALREADY_EXISTS",
            "INVALID_WAL_LEVEL",
            "INVALID_SHARED_PRELOAD_LIBRARY",
            "INSUFFICIENT_MAX_REPLICATION_SLOTS",
            "INSUFFICIENT_MAX_WAL_SENDERS",
            "INSUFFICIENT_MAX_WORKER_PROCESSES",
            "UNSUPPORTED_EXTENSIONS",
            "UNSUPPORTED_MIGRATION_TYPE",
            "INVALID_RDS_LOGICAL_REPLICATION",
            "UNSUPPORTED_GTID_MODE",
            "UNSUPPORTED_TABLE_DEFINITION",
            "UNSUPPORTED_DEFINER",
            "CANT_RESTART_RUNNING_MIGRATION",
            "SOURCE_ALREADY_SETUP",
            "TABLES_WITH_LIMITED_SUPPORT",
            "UNSUPPORTED_DATABASE_LOCALE",
            "UNSUPPORTED_DATABASE_FDW_CONFIG",
            "ERROR_RDBMS",
            "SOURCE_SIZE_EXCEEDS_THRESHOLD",
            "EXISTING_CONFLICTING_DATABASES",
            "PARALLEL_IMPORT_INSUFFICIENT_PRIVILEGE",
            "EXISTING_DATA"
          ],
          "enumDescriptions": [
            "An unknown error occurred",
            "We failed to connect to one of the connection profile.",
            "We failed to authenticate to one of the connection profile.",
            "One of the involved connection profiles has an invalid configuration.",
            "The versions of the source and the destination are incompatible.",
            "The types of the source and the destination are incompatible.",
            "No pglogical extension installed on databases, applicable for postgres.",
            "pglogical node already exists on databases, applicable for postgres.",
            "The value of parameter wal_level is not set to logical.",
            "The value of parameter shared_preload_libraries does not include pglogical.",
            "The value of parameter max_replication_slots is not sufficient.",
            "The value of parameter max_wal_senders is not sufficient.",
            "The value of parameter max_worker_processes is not sufficient.",
            "Extensions installed are either not supported or having unsupported versions.",
            "Unsupported migration type.",
            "Invalid RDS logical replication.",
            "The gtid_mode is not supported, applicable for MySQL.",
            "The table definition is not support due to missing primary key or replica identity.",
            "The definer is not supported.",
            "Migration is already running at the time of restart request.",
            "The source already has a replication setup.",
            "The source has tables with limited support. E.g. PostgreSQL tables without primary keys.",
            "The source uses an unsupported locale.",
            "The source uses an unsupported Foreign Data Wrapper configuration.",
            "There was an underlying RDBMS error.",
            "The source DB size in Bytes exceeds a certain threshold. The migration might require an increase of quota, or might not be supported.",
            "The destination DB contains existing databases that are conflicting with those in the source DB.",
            "Insufficient privilege to enable the parallelism configuration.",
            "The destination instance contains existing data or user defined entities (for example databases, tables, or functions). You can only migrate to empty instances. Clear your destination instance and retry the migration job."
          ],
          "description": "Output only. An instance of ErrorCode specifying the error that occurred.",
          "readOnly": true,
          "type": "string"
        },
        "errorDetailMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A specific detailed error message, if supplied by the engine."
        },
        "errorMessage": {
          "description": "Output only. A formatted message with further details about the error and a CTA.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "VerifyMigrationJobRequest": {
      "type": "object",
      "description": "Request message for 'VerifyMigrationJob' request.",
      "properties": {
        "updateMask": {
          "description": "Optional. Field mask is used to specify the changed fields to be verified. It will not update the migration job.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "migrationJob": {
          "description": "Optional. The changed migration job parameters to verify. It will not update the migration job.",
          "$ref": "MigrationJob"
        }
      },
      "id": "VerifyMigrationJobRequest"
    },
    "PromoteMigrationJobRequest": {
      "id": "PromoteMigrationJobRequest",
      "type": "object",
      "description": "Request message for 'PromoteMigrationJob' request.",
      "properties": {}
    },
    "ApplyHash": {
      "id": "ApplyHash",
      "properties": {
        "uuidFromBytes": {
          "description": "Optional. Generate UUID from the data's byte array",
          "$ref": "Empty"
        }
      },
      "type": "object",
      "description": "Apply a hash function on the value."
    },
    "AlloyDbSettings": {
      "description": "Settings for creating an AlloyDB cluster.",
      "id": "AlloyDbSettings",
      "properties": {
        "initialUser": {
          "$ref": "UserPassword",
          "description": "Required. Input only. Initial user to setup during cluster creation. Required."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels for the AlloyDB cluster created by DMS. An object containing a list of 'key', 'value' pairs."
        },
        "primaryInstanceSettings": {
          "$ref": "PrimaryInstanceSettings"
        },
        "encryptionConfig": {
          "description": "Optional. The encryption config can be specified to encrypt the data disks and other persistent data resources of a cluster with a customer-managed encryption key (CMEK). When this field is not specified, the cluster will then use default encryption scheme to protect the user data.",
          "$ref": "EncryptionConfig"
        },
        "vpcNetwork": {
          "description": "Required. The resource link for the VPC network in which cluster resources are created and from which they are accessible via Private IP. The network must belong to the same project as the cluster. It is specified in the form: \"projects/{project_number}/global/networks/{network_id}\". This is required to create a cluster.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FetchStaticIpsResponse": {
      "type": "object",
      "id": "FetchStaticIpsResponse",
      "description": "Response message for a 'FetchStaticIps' request.",
      "properties": {
        "staticIps": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of static IPs."
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "MultiEntityRename": {
      "properties": {
        "newNamePattern": {
          "description": "Optional. The pattern used to generate the new entity's name. This pattern must include the characters '{name}', which will be replaced with the name of the original entity. For example, the pattern 't_{name}' for an entity name jobs would be converted to 't_jobs'. If unspecified, the default value for this field is '{name}'",
          "type": "string"
        },
        "sourceNameTransformation": {
          "type": "string",
          "description": "Optional. Additional transformation that can be done on the source entity name before it is being used by the new_name_pattern, for example lower case. If no transformation is desired, use NO_TRANSFORMATION",
          "enumDescriptions": [
            "Entity name transformation unspecified.",
            "No transformation.",
            "Transform to lower case.",
            "Transform to upper case.",
            "Transform to capitalized case."
          ],
          "enum": [
            "ENTITY_NAME_TRANSFORMATION_UNSPECIFIED",
            "ENTITY_NAME_TRANSFORMATION_NO_TRANSFORMATION",
            "ENTITY_NAME_TRANSFORMATION_LOWER_CASE",
            "ENTITY_NAME_TRANSFORMATION_UPPER_CASE",
            "ENTITY_NAME_TRANSFORMATION_CAPITALIZED_CASE"
          ]
        }
      },
      "id": "MultiEntityRename",
      "description": "Options to configure rule type MultiEntityRename. The rule is used to rename multiple entities. The rule filter field can refer to one or more entities. The rule scope can be one of: Database, Schema, Table, Column, Constraint, Index, View, Function, Stored Procedure, Materialized View, Sequence, UDT",
      "type": "object"
    },
    "ConvertConversionWorkspaceRequest": {
      "properties": {
        "convertFullPath": {
          "type": "boolean",
          "description": "Optional. Automatically convert the full entity path for each entity specified by the filter. For example, if the filter specifies a table, that table schema (and database if there is one) will also be converted."
        },
        "autoCommit": {
          "type": "boolean",
          "description": "Optional. Specifies whether the conversion workspace is to be committed automatically after the conversion."
        },
        "filter": {
          "type": "string",
          "description": "Optional. Filter the entities to convert. Leaving this field empty will convert all of the entities. Supports Google AIP-160 style filtering."
        }
      },
      "description": "Request message for 'ConvertConversionWorkspace' request.",
      "id": "ConvertConversionWorkspaceRequest",
      "type": "object"
    },
    "SingleEntityRename": {
      "type": "object",
      "properties": {
        "newName": {
          "description": "Required. The new name of the destination entity",
          "type": "string"
        }
      },
      "description": "Options to configure rule type SingleEntityRename. The rule is used to rename an entity. The rule filter field can refer to only one entity. The rule scope can be one of: Database, Schema, Table, Column, Constraint, Index, View, Function, Stored Procedure, Materialized View, Sequence, UDT, Synonym",
      "id": "SingleEntityRename"
    },
    "SshScript": {
      "properties": {
        "script": {
          "description": "The ssh configuration script.",
          "type": "string"
        }
      },
      "description": "Response message for 'GenerateSshScript' request.",
      "type": "object",
      "id": "SshScript"
    },
    "ColumnEntity": {
      "type": "object",
      "id": "ColumnEntity",
      "properties": {
        "autoGenerated": {
          "description": "Is the column auto-generated/identity.",
          "type": "boolean"
        },
        "ordinalPosition": {
          "type": "integer",
          "description": "Column order in the table.",
          "format": "int32"
        },
        "length": {
          "format": "int64",
          "type": "string",
          "description": "Column length - e.g. varchar (50)."
        },
        "defaultValue": {
          "type": "string",
          "description": "Default value of the column."
        },
        "dataType": {
          "type": "string",
          "description": "Column data type."
        },
        "collation": {
          "description": "Collation override - instead of table level collation.",
          "type": "string"
        },
        "udt": {
          "type": "boolean",
          "description": "Is the column a UDT."
        },
        "name": {
          "description": "Column name.",
          "type": "string"
        },
        "scale": {
          "format": "int32",
          "type": "integer",
          "description": "Column scale - when relevant."
        },
        "array": {
          "description": "Is the column of array type.",
          "type": "boolean"
        },
        "charset": {
          "type": "string",
          "description": "Charset override - instead of table level charset."
        },
        "nullable": {
          "description": "Is the column nullable.",
          "type": "boolean"
        },
        "arrayLength": {
          "type": "integer",
          "format": "int32",
          "description": "If the column is array, of which length."
        },
        "comment": {
          "description": "Comment associated with the column.",
          "type": "string"
        },
        "customFeatures": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Custom engine specific features."
        },
        "fractionalSecondsPrecision": {
          "description": "Column fractional second precision - used for timestamp based datatypes.",
          "type": "integer",
          "format": "int32"
        },
        "precision": {
          "description": "Column precision - when relevant.",
          "type": "integer",
          "format": "int32"
        },
        "setValues": {
          "description": "Specifies the list of values allowed in the column. Only used for set data type.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Column is not used as an independent entity, it is retrieved as part of a Table entity."
    },
    "ListConnectionProfilesResponse": {
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "connectionProfiles": {
          "items": {
            "$ref": "ConnectionProfile"
          },
          "description": "The response list of connection profiles.",
          "type": "array"
        }
      },
      "description": "Response message for 'ListConnectionProfiles' request.",
      "id": "ListConnectionProfilesResponse",
      "type": "object"
    },
    "CancelOperationRequest": {
      "type": "object",
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "ListPrivateConnectionsResponse": {
      "description": "Response message for 'ListPrivateConnections' request.",
      "id": "ListPrivateConnectionsResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "privateConnections": {
          "type": "array",
          "items": {
            "$ref": "PrivateConnection"
          },
          "description": "List of private connections."
        }
      },
      "type": "object"
    },
    "CloudSqlConnectionProfile": {
      "properties": {
        "additionalPublicIp": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Cloud SQL database instance's additional (outgoing) public IP. Used when the Cloud SQL database availability type is REGIONAL (i.e. multiple zones / highly available)."
        },
        "settings": {
          "description": "Immutable. Metadata used to create the destination Cloud SQL database.",
          "$ref": "CloudSqlSettings"
        },
        "cloudSqlId": {
          "readOnly": true,
          "description": "Output only. The Cloud SQL instance ID that this connection profile is associated with.",
          "type": "string"
        },
        "publicIp": {
          "readOnly": true,
          "description": "Output only. The Cloud SQL database instance's public IP.",
          "type": "string"
        },
        "privateIp": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Cloud SQL database instance's private IP."
        }
      },
      "id": "CloudSqlConnectionProfile",
      "description": "Specifies required connection parameters, and, optionally, the parameters required to create a Cloud SQL destination database instance.",
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        },
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      }
    },
    "PackageEntity": {
      "description": "Package's parent is a schema.",
      "id": "PackageEntity",
      "properties": {
        "packageBody": {
          "type": "string",
          "description": "The SQL code which creates the package body. If the package specification has cursors or subprograms, then the package body is mandatory."
        },
        "packageSqlCode": {
          "type": "string",
          "description": "The SQL code which creates the package."
        },
        "customFeatures": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Custom engine specific features."
        }
      },
      "type": "object"
    },
    "ReverseSshConnectivity": {
      "description": "The details needed to configure a reverse SSH tunnel between the source and destination databases. These details will be used when calling the generateSshScript method (see https://cloud.google.com/database-migration/docs/reference/rest/v1/projects.locations.migrationJobs/generateSshScript) to produce the script that will help set up the reverse SSH tunnel, and to set up the VPC peering between the Cloud SQL private network and the VPC.",
      "type": "object",
      "properties": {
        "vpc": {
          "type": "string",
          "description": "The name of the VPC to peer with the Cloud SQL private network."
        },
        "vm": {
          "description": "The name of the virtual machine (Compute Engine) used as the bastion server for the SSH tunnel.",
          "type": "string"
        },
        "vmIp": {
          "description": "Required. The IP of the virtual machine (Compute Engine) used as the bastion server for the SSH tunnel.",
          "type": "string"
        },
        "vmPort": {
          "format": "int32",
          "description": "Required. The forwarding port of the virtual machine (Compute Engine) used as the bastion server for the SSH tunnel.",
          "type": "integer"
        }
      },
      "id": "ReverseSshConnectivity"
    },
    "DescribeDatabaseEntitiesResponse": {
      "type": "object",
      "description": "Response message for 'DescribeDatabaseEntities' request.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "databaseEntities": {
          "type": "array",
          "items": {
            "$ref": "DatabaseEntity"
          },
          "description": "The list of database entities for the conversion workspace."
        }
      },
      "id": "DescribeDatabaseEntitiesResponse"
    },
    "GoogleCloudClouddmsV1OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        }
      },
      "type": "object",
      "id": "GoogleCloudClouddmsV1OperationMetadata"
    },
    "RollbackConversionWorkspaceRequest": {
      "description": "Request message for 'RollbackConversionWorkspace' request.",
      "type": "object",
      "properties": {},
      "id": "RollbackConversionWorkspaceRequest"
    },
    "SinglePackageChange": {
      "properties": {
        "packageDescription": {
          "description": "Optional. Sql code for package description",
          "type": "string"
        },
        "packageBody": {
          "type": "string",
          "description": "Optional. Sql code for package body"
        }
      },
      "type": "object",
      "description": "Options to configure rule type SinglePackageChange. The rule is used to alter the sql code for a package entities. The rule filter field can refer to one entity. The rule scope can be: Package",
      "id": "SinglePackageChange"
    },
    "StopMigrationJobRequest": {
      "properties": {},
      "description": "Request message for 'StopMigrationJob' request.",
      "type": "object",
      "id": "StopMigrationJobRequest"
    },
    "ViewEntity": {
      "id": "ViewEntity",
      "description": "View's parent is a schema.",
      "properties": {
        "sqlCode": {
          "type": "string",
          "description": "The SQL code which creates the view."
        },
        "constraints": {
          "items": {
            "$ref": "ConstraintEntity"
          },
          "type": "array",
          "description": "View constraints."
        },
        "customFeatures": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Custom engine specific features."
        }
      },
      "type": "object"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
[...]
