{
  "batchPath": "batch",
  "basePath": "",
  "version": "v1",
  "ownerName": "Google",
  "baseUrl": "https://datacatalog.googleapis.com/",
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/data-catalog/docs/",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "parameters": {
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "rootUrl": "https://datacatalog.googleapis.com/",
  "canonicalName": "Data Catalog",
  "title": "Google Cloud Data Catalog API",
  "mtlsRootUrl": "https://datacatalog.mtls.googleapis.com/",
  "name": "datacatalog",
  "description": "A fully managed and highly scalable data discovery and metadata management service. ",
  "ownerDomain": "google.com",
  "id": "datacatalog:v1",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20221203",
  "schemas": {
    "GoogleCloudDatacatalogV1StorageProperties": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1StorageProperties",
      "properties": {
        "filePattern": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Patterns to identify a set of files for this fileset. Examples of a valid `file_pattern`: * `gs://bucket_name/dir/*`: matches all files in the `bucket_name/dir` directory * `gs://bucket_name/dir/**`: matches all files in the `bucket_name/dir` and all subdirectories recursively * `gs://bucket_name/file*`: matches files prefixed by `file` in `bucket_name` * `gs://bucket_name/??.txt`: matches files with two characters followed by `.txt` in `bucket_name` * `gs://bucket_name/[aeiou].txt`: matches files that contain a single vowel character followed by `.txt` in `bucket_name` * `gs://bucket_name/[a-m].txt`: matches files that contain `a`, `b`, ... or `m` followed by `.txt` in `bucket_name` * `gs://bucket_name/a/*/b`: matches all files in `bucket_name` that match the `a/*/b` pattern, such as `a/c/b`, `a/d/b` * `gs://another_bucket/a.txt`: matches `gs://another_bucket/a.txt`"
        },
        "fileType": {
          "description": "File type in MIME format, for example, `text/plain`.",
          "type": "string"
        }
      },
      "description": "Details the properties of the underlying storage."
    },
    "GoogleCloudDatacatalogV1Schema": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1Schema",
      "description": "Represents a schema, for example, a BigQuery, GoogleSQL, or Avro schema.",
      "properties": {
        "columns": {
          "description": "The unified GoogleSQL-like schema of columns. The overall maximum number of columns and nested columns is 10,000. The maximum nested depth is 15 levels.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1ColumnSchema"
          }
        }
      }
    },
    "GoogleCloudDatacatalogV1SearchCatalogRequest": {
      "description": "Request message for SearchCatalog.",
      "id": "GoogleCloudDatacatalogV1SearchCatalogRequest",
      "type": "object",
      "properties": {
        "orderBy": {
          "type": "string",
          "description": "Specifies the order of results. Currently supported case-sensitive values are: * `relevance` that can only be descending * `last_modified_timestamp [asc|desc]` with descending (`desc`) as default * `default` that can only be descending If this parameter is omitted, it defaults to the descending `relevance`."
        },
        "scope": {
          "$ref": "GoogleCloudDatacatalogV1SearchCatalogRequestScope",
          "description": "Required. The scope of this search request. The `scope` is invalid if `include_org_ids`, `include_project_ids` are empty AND `include_gcp_public_datasets` is set to `false`. In this case, the request returns an error."
        },
        "query": {
          "description": "Optional. The query string with a minimum of 3 characters and specific syntax. For more information, see [Data Catalog search syntax](https://cloud.google.com/data-catalog/docs/how-to/search-reference). An empty query string returns all data assets (in the specified scope) that you have access to. A query string can be a simple `xyz` or qualified by predicates: * `name:x` * `column:y` * `description:z`",
          "type": "string"
        },
        "pageToken": {
          "description": "Optional. Pagination token that, if specified, returns the next page of search results. If empty, returns the first page. This token is returned in the SearchCatalogResponse.next_page_token field of the response to a previous SearchCatalogRequest call.",
          "type": "string"
        },
        "pageSize": {
          "description": "Number of results to return in a single search page. Can't be negative or 0, defaults to 10 in this case. The maximum number is 1000. If exceeded, throws an \"invalid argument\" exception.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDatacatalogV1PersonalDetails": {
      "id": "GoogleCloudDatacatalogV1PersonalDetails",
      "type": "object",
      "properties": {
        "starred": {
          "description": "True if the entry is starred by the user; false otherwise.",
          "type": "boolean"
        },
        "starTime": {
          "format": "google-datetime",
          "description": "Set if the entry is starred; unset otherwise.",
          "type": "string"
        }
      },
      "description": "Entry metadata relevant only to the user and private to them."
    },
    "GoogleCloudDatacatalogV1ListEntriesResponse": {
      "description": "Response message for ListEntries.",
      "id": "GoogleCloudDatacatalogV1ListEntriesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token of the next results page. Empty if there are no more items in results."
        },
        "entries": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1Entry"
          },
          "description": "Entry details.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDatacatalogV1TagTemplate": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1TagTemplate",
      "description": "A tag template defines a tag that can have one or more typed fields. The template is used to create tags that are attached to GCP resources. [Tag template roles] (https://cloud.google.com/iam/docs/understanding-roles#data-catalog-roles) provide permissions to create, edit, and use the template. For example, see the [TagTemplate User] (https://cloud.google.com/data-catalog/docs/how-to/template-user) role that includes a permission to use the tag template to tag resources.",
      "properties": {
        "fields": {
          "description": "Required. Map of tag template field IDs to the settings for the field. This map is an exhaustive list of the allowed fields. The map must contain at least one field and at most 500 fields. The keys to this map are tag template field IDs. The IDs have the following limitations: * Can contain uppercase and lowercase letters, numbers (0-9) and underscores (_). * Must be at least 1 character and at most 64 characters long. * Must start with a letter or underscore.",
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1TagTemplateField"
          },
          "type": "object"
        },
        "name": {
          "description": "The resource name of the tag template in URL format. Note: The tag template itself and its child resources might not be stored in the location specified in its name.",
          "type": "string"
        },
        "isPubliclyReadable": {
          "description": "Indicates whether tags created with this template are public. Public tags do not require tag template access to appear in ListTags API response. Additionally, you can search for a public tag by value with a simple search query in addition to using a ``tag:`` predicate.",
          "type": "boolean"
        },
        "displayName": {
          "description": "Display name for this template. Defaults to an empty string. The name must contain only Unicode letters, numbers (0-9), underscores (_), dashes (-), spaces ( ), and can't start or end with spaces. The maximum length is 200 characters.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1FieldTypeEnumType": {
      "id": "GoogleCloudDatacatalogV1FieldTypeEnumType",
      "type": "object",
      "properties": {
        "allowedValues": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1FieldTypeEnumTypeEnumValue"
          },
          "description": "The set of allowed values for this enum. This set must not be empty and can include up to 100 allowed values. The display names of the values in this set must not be empty and must be case-insensitively unique within this set. The order of items in this set is preserved. This field can be used to create, remove, and reorder enum values. To rename enum values, use the `RenameTagTemplateFieldEnumValue` method.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDatacatalogV1ListEntryGroupsResponse": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1ListEntryGroupsResponse",
      "description": "Response message for ListEntryGroups.",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to specify in the next call to retrieve the next page of results. Empty if there are no more items.",
          "type": "string"
        },
        "entryGroups": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1EntryGroup"
          },
          "description": "Entry group details.",
          "type": "array"
        }
      }
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      }
    },
    "GoogleCloudDatacatalogV1SystemTimestamps": {
      "id": "GoogleCloudDatacatalogV1SystemTimestamps",
      "type": "object",
      "description": "Timestamps associated with this resource in a particular system.",
      "properties": {
        "updateTime": {
          "description": "Timestamp of the last modification of the resource or its metadata within a given system. Note: Depending on the source system, not every modification updates this timestamp. For example, BigQuery timestamps every metadata modification but not data or permission changes.",
          "format": "google-datetime",
          "type": "string"
        },
        "expireTime": {
          "description": "Output only. Expiration timestamp of the resource within the given system. Currently only applicable to BigQuery resources.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Creation timestamp of the resource within the given system.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1BigQueryRoutineSpec": {
      "type": "object",
      "properties": {
        "importedLibraries": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Paths of the imported libraries."
        }
      },
      "id": "GoogleCloudDatacatalogV1BigQueryRoutineSpec",
      "description": "Fields specific for BigQuery routines."
    },
    "GoogleCloudDatacatalogV1ListTaxonomiesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token of the next results page. Empty if there are no more results in the list.",
          "type": "string"
        },
        "taxonomies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1Taxonomy"
          },
          "description": "Taxonomies that the project contains."
        }
      },
      "id": "GoogleCloudDatacatalogV1ListTaxonomiesResponse",
      "description": "Response message for ListTaxonomies."
    },
    "GoogleCloudDatacatalogV1FieldType": {
      "id": "GoogleCloudDatacatalogV1FieldType",
      "properties": {
        "enumType": {
          "$ref": "GoogleCloudDatacatalogV1FieldTypeEnumType",
          "description": "An enum type."
        },
        "primitiveType": {
          "type": "string",
          "enum": [
            "PRIMITIVE_TYPE_UNSPECIFIED",
            "DOUBLE",
            "STRING",
            "BOOL",
            "TIMESTAMP",
            "RICHTEXT"
          ],
          "description": "Primitive types, such as string, boolean, etc.",
          "enumDescriptions": [
            "The default invalid value for a type.",
            "A double precision number.",
            "An UTF-8 string.",
            "A boolean value.",
            "A timestamp.",
            "A Richtext description."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ColumnSchema": {
      "id": "GoogleCloudDatacatalogV1ColumnSchema",
      "properties": {
        "type": {
          "description": "Required. Type of the column. Must be a UTF-8 string with the maximum size of 128 bytes.",
          "type": "string"
        },
        "lookerColumnSpec": {
          "description": "Looker specific column info of this column.",
          "$ref": "GoogleCloudDatacatalogV1ColumnSchemaLookerColumnSpec"
        },
        "highestIndexingType": {
          "description": "Optional. Most important inclusion of this column.",
          "enum": [
            "INDEXING_TYPE_UNSPECIFIED",
            "INDEXING_TYPE_NONE",
            "INDEXING_TYPE_NON_UNIQUE",
            "INDEXING_TYPE_UNIQUE",
            "INDEXING_TYPE_PRIMARY_KEY"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Column not a part of an index.",
            "Column Part of non unique index.",
            "Column part of unique index.",
            "Column part of the primary key."
          ],
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the column. Default value is an empty string. The description must be a UTF-8 string with the maximum size of 2000 bytes.",
          "type": "string"
        },
        "gcRule": {
          "type": "string",
          "description": "Optional. Garbage collection policy for the column or column family. Applies to systems like Cloud Bigtable."
        },
        "mode": {
          "description": "Optional. A column's mode indicates whether values in this column are required, nullable, or repeated. Only `NULLABLE`, `REQUIRED`, and `REPEATED` values are supported. Default mode is `NULLABLE`.",
          "type": "string"
        },
        "defaultValue": {
          "type": "string",
          "description": "Optional. Default value for the column."
        },
        "ordinalPosition": {
          "description": "Optional. Ordinal position",
          "format": "int32",
          "type": "integer"
        },
        "subcolumns": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1ColumnSchema"
          },
          "type": "array",
          "description": "Optional. Schema of sub-columns. A column can have zero or more sub-columns."
        },
        "column": {
          "type": "string",
          "description": "Required. Name of the column. Must be a UTF-8 string without dots (.). The maximum size is 64 bytes."
        }
      },
      "description": "A column within a schema. Columns can be nested inside other columns.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaProtobufSchema": {
      "properties": {
        "text": {
          "description": "Protocol buffer source of the schema.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaProtobufSchema",
      "type": "object",
      "description": "Schema in protocol buffer format."
    },
    "GoogleCloudDatacatalogV1Tag": {
      "type": "object",
      "properties": {
        "fields": {
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1TagField"
          },
          "description": "Required. Maps the ID of a tag field to its value and additional information about that field. Tag template defines valid field IDs. A tag must have at least 1 field and at most 500 fields.",
          "type": "object"
        },
        "template": {
          "type": "string",
          "description": "Required. The resource name of the tag template this tag uses. Example: `projects/{PROJECT_ID}/locations/{LOCATION}/tagTemplates/{TAG_TEMPLATE_ID}` This field cannot be modified after creation."
        },
        "templateDisplayName": {
          "readOnly": true,
          "description": "Output only. The display name of the tag template.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the tag in URL format where tag ID is a system-generated identifier. Note: The tag itself might not be stored in the location specified in its name."
        },
        "column": {
          "type": "string",
          "description": "Resources like entry can have schemas associated with them. This scope allows you to attach tags to an individual column based on that schema. To attach a tag to a nested column, separate column names with a dot (`.`). Example: `column.nested_column`."
        }
      },
      "description": "Tags contain custom metadata and are attached to Data Catalog resources. Tags conform with the specification of their tag template. See [Data Catalog IAM](https://cloud.google.com/data-catalog/docs/concepts/iam) for information on the permissions needed to create or view tags.",
      "id": "GoogleCloudDatacatalogV1Tag"
    },
    "GoogleCloudDatacatalogV1ModifyEntryContactsRequest": {
      "properties": {
        "contacts": {
          "description": "Required. The new value for the Contacts.",
          "$ref": "GoogleCloudDatacatalogV1Contacts"
        }
      },
      "description": "Request message for ModifyEntryContacts.",
      "id": "GoogleCloudDatacatalogV1ModifyEntryContactsRequest",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1UnstarEntryResponse": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1UnstarEntryResponse",
      "properties": {},
      "description": "Response message for UnstarEntry. Empty for now"
    },
    "GoogleCloudDatacatalogV1StarEntryResponse": {
      "id": "GoogleCloudDatacatalogV1StarEntryResponse",
      "type": "object",
      "description": "Response message for StarEntry. Empty for now",
      "properties": {}
    },
    "GoogleCloudDatacatalogV1PhysicalSchema": {
      "id": "GoogleCloudDatacatalogV1PhysicalSchema",
      "properties": {
        "parquet": {
          "description": "Marks a Parquet-encoded data source.",
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaParquetSchema"
        },
        "csv": {
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaCsvSchema",
          "description": "Marks a CSV-encoded data source."
        },
        "protobuf": {
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaProtobufSchema",
          "description": "Schema in protocol buffer format."
        },
        "orc": {
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaOrcSchema",
          "description": "Marks an ORC-encoded data source."
        },
        "avro": {
          "description": "Schema in Avro JSON format.",
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaAvroSchema"
        },
        "thrift": {
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaThriftSchema",
          "description": "Schema in Thrift format."
        }
      },
      "type": "object",
      "description": "Native schema used by a resource represented as an entry. Used by query engines for deserializing and parsing source data."
    },
    "GoogleCloudDatacatalogV1ImportEntriesRequest": {
      "type": "object",
      "properties": {
        "gcsBucketPath": {
          "type": "string",
          "description": "Path to a Cloud Storage bucket that contains a dump ready for ingestion."
        }
      },
      "description": "Request message for ImportEntries method.",
      "id": "GoogleCloudDatacatalogV1ImportEntriesRequest"
    },
    "GoogleCloudDatacatalogV1RoutineSpec": {
      "id": "GoogleCloudDatacatalogV1RoutineSpec",
      "type": "object",
      "properties": {
        "language": {
          "type": "string",
          "description": "The language the routine is written in. The exact value depends on the source system. For BigQuery routines, possible values are: * `SQL` * `JAVASCRIPT`"
        },
        "routineArguments": {
          "type": "array",
          "description": "Arguments of the routine.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1RoutineSpecArgument"
          }
        },
        "returnType": {
          "description": "Return type of the argument. The exact value depends on the source system and the language.",
          "type": "string"
        },
        "definitionBody": {
          "type": "string",
          "description": "The body of the routine."
        },
        "bigqueryRoutineSpec": {
          "$ref": "GoogleCloudDatacatalogV1BigQueryRoutineSpec",
          "description": "Fields specific for BigQuery routines."
        },
        "routineType": {
          "enumDescriptions": [
            "Unspecified type.",
            "Non-builtin permanent scalar function.",
            "Stored procedure."
          ],
          "type": "string",
          "enum": [
            "ROUTINE_TYPE_UNSPECIFIED",
            "SCALAR_FUNCTION",
            "PROCEDURE"
          ],
          "description": "The type of the routine."
        }
      },
      "description": "Specification that applies to a routine. Valid only for entries with the `ROUTINE` type."
    },
    "GoogleCloudDatacatalogV1BusinessContext": {
      "properties": {
        "contacts": {
          "$ref": "GoogleCloudDatacatalogV1Contacts",
          "description": "Contact people for the entry."
        },
        "entryOverview": {
          "description": "Entry overview fields for rich text descriptions of entries.",
          "$ref": "GoogleCloudDatacatalogV1EntryOverview"
        }
      },
      "id": "GoogleCloudDatacatalogV1BusinessContext",
      "type": "object",
      "description": "Business Context of the entry."
    },
    "Expr": {
      "type": "object",
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        }
      }
    },
    "GoogleCloudDatacatalogV1TagFieldEnumValue": {
      "description": "An enum value.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1TagFieldEnumValue",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the enum value."
        }
      }
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaCsvSchema": {
      "description": "Marks a CSV-encoded data source.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaCsvSchema",
      "properties": {}
    },
    "GoogleCloudDatacatalogV1SerializedTaxonomy": {
      "type": "object",
      "description": "A nested protocol buffer that represents a taxonomy and the hierarchy of its policy tags. Used for taxonomy replacement, import, and export.",
      "id": "GoogleCloudDatacatalogV1SerializedTaxonomy",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the taxonomy. At most 200 bytes when encoded in UTF-8."
        },
        "description": {
          "description": "Description of the serialized taxonomy. At most 2000 bytes when encoded in UTF-8. If not set, defaults to an empty description.",
          "type": "string"
        },
        "policyTags": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1SerializedPolicyTag"
          },
          "description": "Top level policy tags associated with the taxonomy, if any.",
          "type": "array"
        },
        "activatedPolicyTypes": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified policy type.",
              "Fine-grained access control policy that enables access control on tagged sub-resources."
            ],
            "enum": [
              "POLICY_TYPE_UNSPECIFIED",
              "FINE_GRAINED_ACCESS_CONTROL"
            ],
            "type": "string"
          },
          "description": "A list of policy types that are activated per taxonomy."
        }
      }
    },
    "GoogleCloudDatacatalogV1DataplexFilesetSpec": {
      "id": "GoogleCloudDatacatalogV1DataplexFilesetSpec",
      "type": "object",
      "properties": {
        "dataplexSpec": {
          "$ref": "GoogleCloudDatacatalogV1DataplexSpec",
          "description": "Common Dataplex fields."
        }
      },
      "description": "Entry specyfication for a Dataplex fileset."
    },
    "GoogleCloudDatacatalogV1ImportEntriesMetadata": {
      "id": "GoogleCloudDatacatalogV1ImportEntriesMetadata",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "IMPORT_STATE_UNSPECIFIED",
            "IMPORT_QUEUED",
            "IMPORT_IN_PROGRESS",
            "IMPORT_DONE",
            "IMPORT_OBSOLETE"
          ],
          "description": "State of the import operation.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The dump with entries has been queued for import.",
            "The import of entries is in progress.",
            "The import of entries has been finished.",
            "The import of entries has been abandoned in favor of a newer request."
          ]
        },
        "errors": {
          "items": {
            "$ref": "Status"
          },
          "type": "array",
          "description": "Partial errors that are encountered during the ImportEntries operation. There is no guarantee that all the encountered errors are reported. However, if no errors are reported, it means that no errors were encountered."
        }
      },
      "description": "Metadata message for long-running operation returned by the ImportEntries.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1CloudSqlBigQueryConnectionSpec": {
      "description": "Specification for the BigQuery connection to a Cloud SQL instance.",
      "id": "GoogleCloudDatacatalogV1CloudSqlBigQueryConnectionSpec",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Type of the Cloud SQL database.",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "POSTGRES",
            "MYSQL"
          ],
          "enumDescriptions": [
            "Unspecified database type.",
            "Cloud SQL for PostgreSQL.",
            "Cloud SQL for MySQL."
          ]
        },
        "instanceId": {
          "type": "string",
          "description": "Cloud SQL instance ID in the format of `project:location:instance`."
        },
        "database": {
          "type": "string",
          "description": "Database name."
        }
      }
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1UsageSignal": {
      "properties": {
        "usageWithinTimeRange": {
          "readOnly": true,
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1UsageStats"
          },
          "type": "object",
          "description": "Output only. BigQuery usage statistics over each of the predefined time ranges. Supported time ranges are `{\"24H\", \"7D\", \"30D\"}`."
        },
        "favoriteCount": {
          "description": "Favorite count in the source system.",
          "type": "string",
          "format": "int64"
        },
        "commonUsageWithinTimeRange": {
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1CommonUsageStats"
          },
          "type": "object",
          "description": "Common usage statistics over each of the predefined time ranges. Supported time ranges are `{\"24H\", \"7D\", \"30D\", \"Lifetime\"}`."
        },
        "updateTime": {
          "type": "string",
          "description": "The end timestamp of the duration of usage statistics.",
          "format": "google-datetime"
        }
      },
      "description": "The set of all usage signals that Data Catalog stores. Note: Usually, these signals are updated daily. In rare cases, an update may fail but will be performed again on the next day.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1UsageSignal"
    },
    "GoogleCloudDatacatalogV1DataplexExternalTable": {
      "description": "External table registered by Dataplex. Dataplex publishes data discovered from an asset into multiple other systems (BigQuery, DPMS) in form of tables. We call them \"external tables\". External tables are also synced into the Data Catalog. This message contains pointers to those external tables (fully qualified name, resource name et cetera) within the Data Catalog.",
      "id": "GoogleCloudDatacatalogV1DataplexExternalTable",
      "properties": {
        "dataCatalogEntry": {
          "description": "Name of the Data Catalog entry representing the external table.",
          "type": "string"
        },
        "fullyQualifiedName": {
          "description": "Fully qualified name (FQN) of the external table.",
          "type": "string"
        },
        "googleCloudResource": {
          "description": "Google Cloud resource name of the external table.",
          "type": "string"
        },
        "system": {
          "description": "Service in which the external table is registered.",
          "type": "string",
          "enumDescriptions": [
            "Default unknown system.",
            "BigQuery.",
            "Cloud Pub/Sub.",
            "Dataproc Metastore.",
            "Dataplex.",
            "Cloud Sql",
            "Looker"
          ],
          "enum": [
            "INTEGRATED_SYSTEM_UNSPECIFIED",
            "BIGQUERY",
            "CLOUD_PUBSUB",
            "DATAPROC_METASTORE",
            "DATAPLEX",
            "CLOUD_SQL",
            "LOOKER"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1DatabaseTableSpec": {
      "description": "Specification that applies to a table resource. Valid only for entries with the `TABLE` type.",
      "type": "object",
      "properties": {
        "databaseViewSpec": {
          "$ref": "GoogleCloudDatacatalogV1DatabaseTableSpecDatabaseViewSpec",
          "description": "Spec what aplies to tables that are actually views. Not set for \"real\" tables."
        },
        "type": {
          "description": "Type of this table.",
          "enum": [
            "TABLE_TYPE_UNSPECIFIED",
            "NATIVE",
            "EXTERNAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unknown table type.",
            "Native table.",
            "External table."
          ]
        },
        "dataplexTable": {
          "readOnly": true,
          "$ref": "GoogleCloudDatacatalogV1DataplexTableSpec",
          "description": "Output only. Fields specific to a Dataplex table and present only in the Dataplex table entries."
        }
      },
      "id": "GoogleCloudDatacatalogV1DatabaseTableSpec"
    },
    "GoogleCloudDatacatalogV1GcsFilesetSpec": {
      "id": "GoogleCloudDatacatalogV1GcsFilesetSpec",
      "type": "object",
      "properties": {
        "filePatterns": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Patterns to identify a set of files in Google Cloud Storage. For more information, see [Wildcard Names] (https://cloud.google.com/storage/docs/gsutil/addlhelp/WildcardNames). Note: Currently, bucket wildcards are not supported. Examples of valid `file_patterns`: * `gs://bucket_name/dir/*`: matches all files in `bucket_name/dir` directory * `gs://bucket_name/dir/**`: matches all files in `bucket_name/dir` and all subdirectories * `gs://bucket_name/file*`: matches files prefixed by `file` in `bucket_name` * `gs://bucket_name/??.txt`: matches files with two characters followed by `.txt` in `bucket_name` * `gs://bucket_name/[aeiou].txt`: matches files that contain a single vowel character followed by `.txt` in `bucket_name` * `gs://bucket_name/[a-m].txt`: matches files that contain `a`, `b`, ... or `m` followed by `.txt` in `bucket_name` * `gs://bucket_name/a/*/b`: matches all files in `bucket_name` that match the `a/*/b` pattern, such as `a/c/b`, `a/d/b` * `gs://another_bucket/a.txt`: matches `gs://another_bucket/a.txt` You can combine wildcards to match complex sets of files, for example: `gs://bucket_name/[a-m]??.j*g`"
        },
        "sampleGcsFileSpecs": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1GcsFileSpec"
          },
          "description": "Output only. Sample files contained in this fileset, not all files contained in this fileset are represented here."
        }
      },
      "description": "Describes a Cloud Storage fileset entry."
    },
    "GoogleCloudDatacatalogV1BigQueryConnectionSpec": {
      "properties": {
        "cloudSql": {
          "description": "Specification for the BigQuery connection to a Cloud SQL instance.",
          "$ref": "GoogleCloudDatacatalogV1CloudSqlBigQueryConnectionSpec"
        },
        "connectionType": {
          "enum": [
            "CONNECTION_TYPE_UNSPECIFIED",
            "CLOUD_SQL"
          ],
          "enumDescriptions": [
            "Unspecified type.",
            "Cloud SQL connection."
          ],
          "type": "string",
          "description": "The type of the BigQuery connection."
        },
        "hasCredential": {
          "description": "True if there are credentials attached to the BigQuery connection; false otherwise.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Specification for the BigQuery connection.",
      "id": "GoogleCloudDatacatalogV1BigQueryConnectionSpec"
    },
    "GoogleCloudDatacatalogV1StarEntryRequest": {
      "description": "Request message for StarEntry.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDatacatalogV1StarEntryRequest"
    },
    "GoogleCloudDatacatalogV1RoutineSpecArgument": {
      "type": "object",
      "description": "Input or output argument of a function or stored procedure.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Type of the argument. The exact value depends on the source system and the language."
        },
        "mode": {
          "type": "string",
          "description": "Specifies whether the argument is input or output.",
          "enumDescriptions": [
            "Unspecified mode.",
            "The argument is input-only.",
            "The argument is output-only.",
            "The argument is both an input and an output."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "IN",
            "OUT",
            "INOUT"
          ]
        },
        "name": {
          "description": "The name of the argument. A return argument of a function might not have a name.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1RoutineSpecArgument"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest"
    },
    "GoogleCloudDatacatalogV1SearchCatalogResult": {
      "description": "Result in the response to a search request. Each result captures details of one entry that matches the search.",
      "type": "object",
      "properties": {
        "integratedSystem": {
          "description": "Output only. The source system that Data Catalog automatically integrates with, such as BigQuery, Cloud Pub/Sub, or Dataproc Metastore.",
          "enumDescriptions": [
            "Default unknown system.",
            "BigQuery.",
            "Cloud Pub/Sub.",
            "Dataproc Metastore.",
            "Dataplex.",
            "Cloud Sql",
            "Looker"
          ],
          "enum": [
            "INTEGRATED_SYSTEM_UNSPECIFIED",
            "BIGQUERY",
            "CLOUD_PUBSUB",
            "DATAPROC_METASTORE",
            "DATAPLEX",
            "CLOUD_SQL",
            "LOOKER"
          ],
          "readOnly": true,
          "type": "string"
        },
        "searchResultSubtype": {
          "description": "Sub-type of the search result. A dot-delimited full type of the resource. The same type you specify in the `type` search predicate. Examples: `entry.table`, `entry.dataStream`, `tagTemplate`.",
          "type": "string"
        },
        "relativeResourceName": {
          "description": "The relative name of the resource in URL format. Examples: * `projects/{PROJECT_ID}/locations/{LOCATION_ID}/entryGroups/{ENTRY_GROUP_ID}/entries/{ENTRY_ID}` * `projects/{PROJECT_ID}/tagTemplates/{TAG_TEMPLATE_ID}`",
          "type": "string"
        },
        "searchResultType": {
          "description": "Type of the search result. You can use this field to determine which get method to call to fetch the full resource.",
          "enumDescriptions": [
            "Default unknown type.",
            "An Entry.",
            "A TagTemplate.",
            "An EntryGroup."
          ],
          "type": "string",
          "enum": [
            "SEARCH_RESULT_TYPE_UNSPECIFIED",
            "ENTRY",
            "TAG_TEMPLATE",
            "ENTRY_GROUP"
          ]
        },
        "description": {
          "description": "Entry description that can consist of several sentences or paragraphs that describe entry contents.",
          "type": "string"
        },
        "modifyTime": {
          "description": "The last modification timestamp of the entry in the source system.",
          "format": "google-datetime",
          "type": "string"
        },
        "fullyQualifiedName": {
          "description": "Fully qualified name (FQN) of the resource. FQNs take two forms: * For non-regionalized resources: `{SYSTEM}:{PROJECT}.{PATH_TO_RESOURCE_SEPARATED_WITH_DOTS}` * For regionalized resources: `{SYSTEM}:{PROJECT}.{LOCATION_ID}.{PATH_TO_RESOURCE_SEPARATED_WITH_DOTS}` Example for a DPMS table: `dataproc_metastore:PROJECT_ID.LOCATION_ID.INSTANCE_ID.DATABASE_ID.TABLE_ID`",
          "type": "string"
        },
        "userSpecifiedSystem": {
          "description": "Custom source system that you can manually integrate Data Catalog with.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the result.",
          "type": "string"
        },
        "linkedResource": {
          "description": "The full name of the Google Cloud resource the entry belongs to. For more information, see [Full Resource Name] (/apis/design/resource_names#full_resource_name). Example: `//bigquery.googleapis.com/projects/PROJECT_ID/datasets/DATASET_ID/tables/TABLE_ID`",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1SearchCatalogResult"
    },
    "GoogleCloudDatacatalogV1ContactsPerson": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "Email of the person in the format of `john.doe@xyz`, ``, or `John Doe`."
        },
        "designation": {
          "type": "string",
          "description": "Designation of the person, for example, Data Steward."
        }
      },
      "id": "GoogleCloudDatacatalogV1ContactsPerson",
      "description": "A contact person for the entry."
    },
    "GoogleCloudDatacatalogV1UnstarEntryRequest": {
      "id": "GoogleCloudDatacatalogV1UnstarEntryRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for UnstarEntry."
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1UsageStats": {
      "id": "GoogleCloudDatacatalogV1UsageStats",
      "type": "object",
      "properties": {
        "totalCompletions": {
          "type": "number",
          "format": "float",
          "description": "The number of successful uses of the underlying entry."
        },
        "totalExecutionTimeForCompletionsMillis": {
          "description": "Total time spent only on successful uses, in milliseconds.",
          "type": "number",
          "format": "float"
        },
        "totalFailures": {
          "description": "The number of failed attempts to use the underlying entry.",
          "type": "number",
          "format": "float"
        },
        "totalCancellations": {
          "description": "The number of cancelled attempts to use the underlying entry.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Detailed statistics on the entry's usage. Usage statistics have the following limitations: - Only BigQuery tables have them. - They only include BigQuery query jobs. - They might be underestimated because wildcard table references are not yet counted. For more information, see [Querying multiple tables using a wildcard table] (https://cloud.google.com/bigquery/docs/querying-wildcard-tables)"
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaAvroSchema": {
      "properties": {
        "text": {
          "description": "JSON source of the Avro schema.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaAvroSchema",
      "description": "Schema in Avro JSON format.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaParquetSchema": {
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaParquetSchema",
      "type": "object",
      "properties": {},
      "description": "Marks a Parquet-encoded data source."
    },
    "GoogleCloudDatacatalogV1ImportTaxonomiesRequest": {
      "type": "object",
      "description": "Request message for ImportTaxonomies.",
      "id": "GoogleCloudDatacatalogV1ImportTaxonomiesRequest",
      "properties": {
        "inlineSource": {
          "$ref": "GoogleCloudDatacatalogV1InlineSource",
          "description": "Inline source taxonomy to import."
        },
        "crossRegionalSource": {
          "$ref": "GoogleCloudDatacatalogV1CrossRegionalSource",
          "description": "Cross-regional source taxonomy to import."
        }
      }
    },
    "GoogleCloudDatacatalogV1PolicyTag": {
      "type": "object",
      "properties": {
        "parentPolicyTag": {
          "description": "Resource name of this policy tag's parent policy tag. If empty, this is a top level tag. If not set, defaults to an empty string. For example, for the \"LatLong\" policy tag in the example above, this field contains the resource name of the \"Geolocation\" policy tag, and, for \"Geolocation\", this field is empty.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. User-defined name of this policy tag. The name can't start or end with spaces and must be unique within the parent taxonomy, contain only Unicode letters, numbers, underscores, dashes and spaces, and be at most 200 bytes long when encoded in UTF-8."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of this policy tag in the URL format. The policy tag manager generates unique taxonomy IDs and policy tag IDs."
        },
        "childPolicyTags": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Resource names of child policy tags of this policy tag."
        },
        "description": {
          "type": "string",
          "description": "Description of this policy tag. If not set, defaults to empty. The description must contain only Unicode characters, tabs, newlines, carriage returns and page breaks, and be at most 2000 bytes long when encoded in UTF-8."
        }
      },
      "description": "Denotes one policy tag in a taxonomy, for example, SSN. Policy tags can be defined in a hierarchy. For example: ``` + Geolocation + LatLong + City + ZipCode ``` Where the \"Geolocation\" policy tag contains three children.",
      "id": "GoogleCloudDatacatalogV1PolicyTag"
    },
    "GoogleCloudDatacatalogV1ListPolicyTagsResponse": {
      "properties": {
        "policyTags": {
          "description": "The policy tags that belong to the taxonomy.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1PolicyTag"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token of the next results page. Empty if there are no more results in the list."
        }
      },
      "id": "GoogleCloudDatacatalogV1ListPolicyTagsResponse",
      "type": "object",
      "description": "Response message for ListPolicyTags."
    },
    "GoogleCloudDatacatalogV1SerializedPolicyTag": {
      "type": "object",
      "description": "A nested protocol buffer that represents a policy tag and all its descendants.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the policy tag. At most 200 bytes when encoded in UTF-8."
        },
        "policyTag": {
          "description": "Resource name of the policy tag. This field is ignored when calling `ImportTaxonomies`.",
          "type": "string"
        },
        "childPolicyTags": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1SerializedPolicyTag"
          },
          "description": "Children of the policy tag, if any."
        },
        "description": {
          "description": "Description of the serialized policy tag. At most 2000 bytes when encoded in UTF-8. If not set, defaults to an empty description.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1SerializedPolicyTag"
    },
    "GoogleCloudDatacatalogV1FilesetSpec": {
      "type": "object",
      "properties": {
        "dataplexFileset": {
          "$ref": "GoogleCloudDatacatalogV1DataplexFilesetSpec",
          "description": "Fields specific to a Dataplex fileset and present only in the Dataplex fileset entries."
        }
      },
      "description": "Specification that applies to a fileset. Valid only for entries with the 'FILESET' type.",
      "id": "GoogleCloudDatacatalogV1FilesetSpec"
    },
    "GoogleCloudDatacatalogV1SearchCatalogRequestScope": {
      "properties": {
        "includeProjectIds": {
          "description": "The list of project IDs to search within. For more information on the distinction between project names, IDs, and numbers, see [Projects](/docs/overview/#projects).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "restrictedLocations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The list of locations to search within. If empty, all locations are searched. Returns an error if any location in the list isn't one of the [Supported regions](https://cloud.google.com/data-catalog/docs/concepts/regions#supported_regions). If a location is unreachable, its name is returned in the `SearchCatalogResponse.unreachable` field. To get additional information on the error, repeat the search request and set the location name as the value of this parameter."
        },
        "includeGcpPublicDatasets": {
          "description": "If `true`, include Google Cloud Platform (GCP) public datasets in search results. By default, they are excluded. See [Google Cloud Public Datasets](/public-datasets) for more information.",
          "type": "boolean"
        },
        "includeOrgIds": {
          "type": "array",
          "description": "The list of organization IDs to search within. To find your organization ID, follow the steps from [Creating and managing organizations] (/resource-manager/docs/creating-managing-organization).",
          "items": {
            "type": "string"
          }
        },
        "includePublicTagTemplates": {
          "type": "boolean",
          "description": "Optional. This field is deprecated. The search mechanism for public and private tag templates is the same."
        },
        "starredOnly": {
          "description": "Optional. If `true`, search only among starred entries. By default, all results are returned, starred or not.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDatacatalogV1SearchCatalogRequestScope",
      "type": "object",
      "description": "The criteria that select the subspace used for query matching."
    },
    "GoogleCloudDatacatalogV1ImportTaxonomiesResponse": {
      "description": "Response message for ImportTaxonomies.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1ImportTaxonomiesResponse",
      "properties": {
        "taxonomies": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1Taxonomy"
          },
          "description": "Imported taxonomies.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDatacatalogV1RenameTagTemplateFieldRequest": {
      "id": "GoogleCloudDatacatalogV1RenameTagTemplateFieldRequest",
      "properties": {
        "newTagTemplateFieldId": {
          "type": "string",
          "description": "Required. The new ID of this tag template field. For example, `my_new_field`."
        }
      },
      "description": "Request message for RenameTagTemplateField.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ImportEntriesResponse": {
      "id": "GoogleCloudDatacatalogV1ImportEntriesResponse",
      "type": "object",
      "description": "Response message for long-running operation returned by the ImportEntries.",
      "properties": {
        "deletedEntriesCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of entries deleted as a result of import operation."
        },
        "upsertedEntriesCount": {
          "format": "int64",
          "description": "Cumulative number of entries created and entries updated as a result of import operation.",
          "type": "string"
        }
      }
    },
    "GetPolicyOptions": {
      "id": "GetPolicyOptions",
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "type": "object",
      "properties": {
        "requestedPolicyVersion": {
          "type": "integer",
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDatacatalogV1CrossRegionalSource": {
      "type": "object",
      "description": "Cross-regional source used to import an existing taxonomy into a different region.",
      "id": "GoogleCloudDatacatalogV1CrossRegionalSource",
      "properties": {
        "taxonomy": {
          "type": "string",
          "description": "Required. The resource name of the source taxonomy to import."
        }
      }
    },
    "GoogleCloudDatacatalogV1Contacts": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1Contacts",
      "description": "Contact people for the entry.",
      "properties": {
        "people": {
          "description": "The list of contact people for the entry.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1ContactsPerson"
          }
        }
      }
    },
    "GoogleCloudDatacatalogV1ListTagsResponse": {
      "type": "object",
      "properties": {
        "tags": {
          "description": "Tag details.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1Tag"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token of the next results page. Empty if there are no more items in results."
        }
      },
      "description": "Response message for ListTags.",
      "id": "GoogleCloudDatacatalogV1ListTagsResponse"
    },
    "GoogleCloudDatacatalogV1TagField": {
      "description": "Contains the value and additional information on a field within a Tag.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1TagField",
      "properties": {
        "richtextValue": {
          "type": "string",
          "description": "The value of a tag field with a rich text type. The maximum length is 10 MiB as this value holds HTML descriptions including encoded images. The maximum length of the text without images is 100 KiB."
        },
        "order": {
          "type": "integer",
          "description": "Output only. The order of this field with respect to other fields in this tag. Can be set by Tag. For example, a higher value can indicate a more important field. The value can be negative. Multiple fields can have the same order, and field orders within a tag don't have to be sequential.",
          "format": "int32",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. The display name of this field.",
          "readOnly": true,
          "type": "string"
        },
        "timestampValue": {
          "description": "The value of a tag field with a timestamp type.",
          "type": "string",
          "format": "google-datetime"
        },
        "stringValue": {
          "description": "The value of a tag field with a string type. The maximum length is 2000 UTF-8 characters.",
          "type": "string"
        },
        "doubleValue": {
          "format": "double",
          "description": "The value of a tag field with a double type.",
          "type": "number"
        },
        "enumValue": {
          "description": "The value of a tag field with an enum type. This value must be one of the allowed values listed in this enum.",
          "$ref": "GoogleCloudDatacatalogV1TagFieldEnumValue"
        },
        "boolValue": {
          "description": "The value of a tag field with a boolean type.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDatacatalogV1ReplaceTaxonomyRequest": {
      "properties": {
        "serializedTaxonomy": {
          "$ref": "GoogleCloudDatacatalogV1SerializedTaxonomy",
          "description": "Required. Taxonomy to update along with its child policy tags."
        }
      },
      "id": "GoogleCloudDatacatalogV1ReplaceTaxonomyRequest",
      "type": "object",
      "description": "Request message for ReplaceTaxonomy."
    },
    "GoogleCloudDatacatalogV1DatabaseTableSpecDatabaseViewSpec": {
      "description": "Specification that applies to database view.",
      "properties": {
        "sqlQuery": {
          "type": "string",
          "description": "SQL query used to generate this view."
        },
        "viewType": {
          "enum": [
            "VIEW_TYPE_UNSPECIFIED",
            "STANDARD_VIEW",
            "MATERIALIZED_VIEW"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unknown view type.",
            "Standard view.",
            "Materialized view."
          ],
          "description": "Type of this view."
        },
        "baseTable": {
          "description": "Name of a singular table this view reflects one to one.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1DatabaseTableSpecDatabaseViewSpec"
    },
    "GoogleCloudDatacatalogV1ModifyEntryOverviewRequest": {
      "description": "Request message for ModifyEntryOverview.",
      "id": "GoogleCloudDatacatalogV1ModifyEntryOverviewRequest",
      "properties": {
        "entryOverview": {
          "description": "Required. The new value for the Entry Overview.",
          "$ref": "GoogleCloudDatacatalogV1EntryOverview"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1DataplexTableSpec": {
      "type": "object",
      "description": "Entry specification for a Dataplex table.",
      "properties": {
        "externalTables": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1DataplexExternalTable"
          },
          "description": "List of external tables registered by Dataplex in other systems based on the same underlying data. External tables allow to query this data in those systems.",
          "type": "array"
        },
        "dataplexSpec": {
          "$ref": "GoogleCloudDatacatalogV1DataplexSpec",
          "description": "Common Dataplex fields."
        },
        "userManaged": {
          "type": "boolean",
          "description": "Indicates if the table schema is managed by the user or not."
        }
      },
      "id": "GoogleCloudDatacatalogV1DataplexTableSpec"
    },
    "GoogleCloudDatacatalogV1GcsFileSpec": {
      "properties": {
        "sizeBytes": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. File size in bytes."
        },
        "gcsTimestamps": {
          "description": "Output only. Creation, modification, and expiration timestamps of a Cloud Storage file.",
          "readOnly": true,
          "$ref": "GoogleCloudDatacatalogV1SystemTimestamps"
        },
        "filePath": {
          "description": "Required. Full file path. Example: `gs://bucket_name/a/b.txt`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1GcsFileSpec",
      "type": "object",
      "description": "Specification of a single file in Cloud Storage."
    },
    "GoogleCloudDatacatalogV1TagTemplateField": {
      "properties": {
        "description": {
          "description": "The description for this field. Defaults to an empty string.",
          "type": "string"
        },
        "isRequired": {
          "description": "If true, this field is required. Defaults to false.",
          "type": "boolean"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the tag template field in URL format. Example: `projects/{PROJECT_ID}/locations/{LOCATION}/tagTemplates/{TAG_TEMPLATE}/fields/{FIELD}` Note: The tag template field itself might not be stored in the location specified in its name. The name must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_), and must start with a letter or underscore. The maximum length is 64 characters."
        },
        "displayName": {
          "description": "The display name for this field. Defaults to an empty string. The name must contain only Unicode letters, numbers (0-9), underscores (_), dashes (-), spaces ( ), and can't start or end with spaces. The maximum length is 200 characters.",
          "type": "string"
        },
        "type": {
          "$ref": "GoogleCloudDatacatalogV1FieldType",
          "description": "Required. The type of value this tag field can contain."
        },
        "order": {
          "type": "integer",
          "description": "The order of this field with respect to other fields in this tag template. For example, a higher value can indicate a more important field. The value can be negative. Multiple fields can have the same order and field orders within a tag don't have to be sequential.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "The template for an individual field within a tag template.",
      "id": "GoogleCloudDatacatalogV1TagTemplateField"
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaOrcSchema": {
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaOrcSchema",
      "type": "object",
      "properties": {},
      "description": "Marks an ORC-encoded data source."
    },
    "GoogleCloudDatacatalogV1EntryGroup": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "A short name to identify the entry group, for example, \"analytics data - jan 2011\". Default value is an empty string.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Entry group description. Can consist of several sentences or paragraphs that describe the entry group contents. Default value is an empty string."
        },
        "name": {
          "description": "The resource name of the entry group in URL format. Note: The entry group itself and its child resources might not be stored in the location specified in its name.",
          "type": "string"
        },
        "dataCatalogTimestamps": {
          "description": "Output only. Timestamps of the entry group. Default value is empty.",
          "readOnly": true,
          "$ref": "GoogleCloudDatacatalogV1SystemTimestamps"
        }
      },
      "description": "Entry group metadata. An `EntryGroup` resource represents a logical grouping of zero or more Data Catalog Entry resources.",
      "id": "GoogleCloudDatacatalogV1EntryGroup"
    },
    "Binding": {
      "properties": {
        "members": {
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        }
      },
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "id": "Binding"
    },
    "GoogleCloudDatacatalogV1BigQueryDateShardedSpec": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1BigQueryDateShardedSpec",
      "description": "Specification for a group of BigQuery tables with the `[prefix]YYYYMMDD` name pattern. For more information, see [Introduction to partitioned tables] (https://cloud.google.com/bigquery/docs/partitioned-tables#partitioning_versus_sharding).",
      "properties": {
        "dataset": {
          "description": "Output only. The Data Catalog resource name of the dataset entry the current table belongs to. For example: `projects/{PROJECT_ID}/locations/{LOCATION}/entrygroups/{ENTRY_GROUP_ID}/entries/{ENTRY_ID}`.",
          "type": "string",
          "readOnly": true
        },
        "shardCount": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Total number of shards.",
          "format": "int64"
        },
        "latestShardResource": {
          "description": "Output only. BigQuery resource name of the latest shard.",
          "readOnly": true,
          "type": "string"
        },
        "tablePrefix": {
          "type": "string",
          "description": "Output only. The table name prefix of the shards. The name of any given shard is `[table_prefix]YYYYMMDD`. For example, for the `MyTable20180101` shard, the `table_prefix` is `MyTable`.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDatacatalogV1ViewSpec": {
      "properties": {
        "viewQuery": {
          "description": "Output only. The query that defines the table view.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1ViewSpec",
      "description": "Table view specification.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1Entry": {
      "type": "object",
      "properties": {
        "databaseTableSpec": {
          "description": "Specification that applies to a table resource. Valid only for entries with the `TABLE` or `EXPLORE` type.",
          "$ref": "GoogleCloudDatacatalogV1DatabaseTableSpec"
        },
        "schema": {
          "$ref": "GoogleCloudDatacatalogV1Schema",
          "description": "Schema of the entry. An entry might not have any schema attached to it."
        },
        "linkedResource": {
          "type": "string",
          "description": "The resource this metadata entry refers to. For Google Cloud Platform resources, `linked_resource` is the [Full Resource Name] (https://cloud.google.com/apis/design/resource_names#full_resource_name). For example, the `linked_resource` for a table resource from BigQuery is: `//bigquery.googleapis.com/projects/{PROJECT_ID}/datasets/{DATASET_ID}/tables/{TABLE_ID}` Output only when the entry is one of the types in the `EntryType` enum. For entries with a `user_specified_type`, this field is optional and defaults to an empty string. The resource string must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), periods (.), colons (:), slashes (/), dashes (-), and hashes (#). The maximum size is 200 bytes when encoded in UTF-8."
        },
        "description": {
          "type": "string",
          "description": "Entry description that can consist of several sentences or paragraphs that describe entry contents. The description must not contain Unicode non-characters as well as C0 and C1 control codes except tabs (HT), new lines (LF), carriage returns (CR), and page breaks (FF). The maximum size is 2000 bytes when encoded in UTF-8. Default value is an empty string."
        },
        "displayName": {
          "type": "string",
          "description": "Display name of an entry. The maximum size is 500 bytes when encoded in UTF-8. Default value is an empty string."
        },
        "sourceSystemTimestamps": {
          "description": "Timestamps from the underlying resource, not from the Data Catalog entry. Output only when the entry has a system listed in the `IntegratedSystem` enum. For entries with `user_specified_system`, this field is optional and defaults to an empty timestamp.",
          "$ref": "GoogleCloudDatacatalogV1SystemTimestamps"
        },
        "userSpecifiedSystem": {
          "type": "string",
          "description": "Indicates the entry's source system that Data Catalog doesn't automatically integrate with. The `user_specified_system` string has the following limitations: * Is case insensitive. * Must begin with a letter or underscore. * Can only contain letters, numbers, and underscores. * Must be at least 1 character and at most 64 characters long."
        },
        "type": {
          "description": "The type of the entry. Only used for entries with types listed in the `EntryType` enum. Currently, only `FILESET` enum value is allowed. All other entries created in Data Catalog must use the `user_specified_type`.",
          "type": "string",
          "enumDescriptions": [
            "Default unknown type.",
            "The entry type that has a GoogleSQL schema, including logical views.",
            "Output only. The type of models. For more information, see [Supported models in BigQuery ML] (https://cloud.google.com/bigquery-ml/docs/introduction#supported_models_in).",
            "An entry type for streaming entries. For example, a Pub/Sub topic.",
            "An entry type for a set of files or objects. For example, a Cloud Storage fileset.",
            "A group of servers that work together. For example, a Kafka cluster.",
            "A database.",
            "Output only. Connection to a data source. For example, a BigQuery connection.",
            "Output only. Routine, for example, a BigQuery routine.",
            "A Dataplex lake.",
            "A Dataplex zone.",
            "A service, for example, a Dataproc Metastore service.",
            "Schema within a relational database.",
            "A Dashboard, for example from Looker.",
            "A Looker Explore. For more information, see [Looker Explore API] (https://developers.looker.com/api/explorer/4.0/methods/LookmlModel/lookml_model_explore).",
            "A Looker Look. For more information, see [Looker Look API] (https://developers.looker.com/api/explorer/4.0/methods/Look)."
          ],
          "enum": [
            "ENTRY_TYPE_UNSPECIFIED",
            "TABLE",
            "MODEL",
            "DATA_STREAM",
            "FILESET",
            "CLUSTER",
            "DATABASE",
            "DATA_SOURCE_CONNECTION",
            "ROUTINE",
            "LAKE",
            "ZONE",
            "SERVICE",
            "DATABASE_SCHEMA",
            "DASHBOARD",
            "EXPLORE",
            "LOOK"
          ]
        },
        "filesetSpec": {
          "$ref": "GoogleCloudDatacatalogV1FilesetSpec",
          "description": "Specification that applies to a fileset resource. Valid only for entries with the `FILESET` type."
        },
        "gcsFilesetSpec": {
          "$ref": "GoogleCloudDatacatalogV1GcsFilesetSpec",
          "description": "Specification that applies to a Cloud Storage fileset. Valid only for entries with the `FILESET` type."
        },
        "sqlDatabaseSystemSpec": {
          "description": "Specification that applies to a relational database system. Only settable when `user_specified_system` is equal to `SQL_DATABASE`",
          "$ref": "GoogleCloudDatacatalogV1SqlDatabaseSystemSpec"
        },
        "bigqueryDateShardedSpec": {
          "description": "Output only. Specification for a group of BigQuery tables with the `[prefix]YYYYMMDD` name pattern. For more information, see [Introduction to partitioned tables] (https://cloud.google.com/bigquery/docs/partitioned-tables#partitioning_versus_sharding).",
          "readOnly": true,
          "$ref": "GoogleCloudDatacatalogV1BigQueryDateShardedSpec"
        },
        "lookerSystemSpec": {
          "$ref": "GoogleCloudDatacatalogV1LookerSystemSpec",
          "description": "Specification that applies to Looker sysstem. Only settable when `user_specified_system` is equal to `LOOKER`"
        },
        "fullyQualifiedName": {
          "description": "Fully qualified name (FQN) of the resource. Set automatically for entries representing resources from synced systems. Settable only during creation and read-only afterwards. Can be used for search and lookup of the entries. FQNs take two forms: * For non-regionalized resources: `{SYSTEM}:{PROJECT}.{PATH_TO_RESOURCE_SEPARATED_WITH_DOTS}` * For regionalized resources: `{SYSTEM}:{PROJECT}.{LOCATION_ID}.{PATH_TO_RESOURCE_SEPARATED_WITH_DOTS}` Example for a DPMS table: `dataproc_metastore:{PROJECT_ID}.{LOCATION_ID}.{INSTANCE_ID}.{DATABASE_ID}.{TABLE_ID}`",
          "type": "string"
        },
        "dataSourceConnectionSpec": {
          "description": "Specification that applies to a data source connection. Valid only for entries with the `DATA_SOURCE_CONNECTION` type.",
          "$ref": "GoogleCloudDatacatalogV1DataSourceConnectionSpec"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cloud labels attached to the entry. In Data Catalog, you can create and modify labels attached only to custom entries. Synced entries have unmodifiable labels that come from the source system."
        },
        "personalDetails": {
          "description": "Output only. Additional information related to the entry. Private to the current user.",
          "readOnly": true,
          "$ref": "GoogleCloudDatacatalogV1PersonalDetails"
        },
        "routineSpec": {
          "description": "Specification that applies to a user-defined function or procedure. Valid only for entries with the `ROUTINE` type.",
          "$ref": "GoogleCloudDatacatalogV1RoutineSpec"
        },
        "integratedSystem": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "INTEGRATED_SYSTEM_UNSPECIFIED",
            "BIGQUERY",
            "CLOUD_PUBSUB",
            "DATAPROC_METASTORE",
            "DATAPLEX",
            "CLOUD_SQL",
            "LOOKER"
          ],
          "description": "Output only. Indicates the entry's source system that Data Catalog integrates with, such as BigQuery, Pub/Sub, or Dataproc Metastore.",
          "enumDescriptions": [
            "Default unknown system.",
            "BigQuery.",
            "Cloud Pub/Sub.",
            "Dataproc Metastore.",
            "Dataplex.",
            "Cloud Sql",
            "Looker"
          ]
        },
        "name": {
          "description": "Output only. The resource name of an entry in URL format. Note: The entry itself and its child resources might not be stored in the location specified in its name.",
          "type": "string",
          "readOnly": true
        },
        "businessContext": {
          "$ref": "GoogleCloudDatacatalogV1BusinessContext",
          "description": "Business Context of the entry. Not supported for BigQuery datasets"
        },
        "bigqueryTableSpec": {
          "description": "Output only. Specification that applies to a BigQuery table. Valid only for entries with the `TABLE` type.",
          "$ref": "GoogleCloudDatacatalogV1BigQueryTableSpec",
          "readOnly": true
        },
        "dataSource": {
          "description": "Output only. Physical location of the entry.",
          "readOnly": true,
          "$ref": "GoogleCloudDatacatalogV1DataSource"
        },
        "userSpecifiedType": {
          "type": "string",
          "description": "Custom entry type that doesn't match any of the values allowed for input and listed in the `EntryType` enum. When creating an entry, first check the type values in the enum. If there are no appropriate types for the new entry, provide a custom value, for example, `my_special_type`. The `user_specified_type` string has the following limitations: * Is case insensitive. * Must begin with a letter or underscore. * Can only contain letters, numbers, and underscores. * Must be at least 1 character and at most 64 characters long."
        },
        "usageSignal": {
          "$ref": "GoogleCloudDatacatalogV1UsageSignal",
          "description": "Resource usage statistics."
        }
      },
      "id": "GoogleCloudDatacatalogV1Entry",
      "description": "Entry metadata. A Data Catalog entry represents another resource in Google Cloud Platform (such as a BigQuery dataset or a Pub/Sub topic) or outside of it. You can use the `linked_resource` field in the entry resource to refer to the original resource ID of the source system. An entry resource contains resource details, for example, its schema. Additionally, you can attach flexible metadata to an entry in the form of a Tag."
    },
    "GoogleCloudDatacatalogV1InlineSource": {
      "id": "GoogleCloudDatacatalogV1InlineSource",
      "properties": {
        "taxonomies": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1SerializedTaxonomy"
          },
          "description": "Required. Taxonomies to import.",
          "type": "array"
        }
      },
      "description": "Inline source containing taxonomies to import.",
      "type": "object"
    },
    "GetIamPolicyRequest": {
      "type": "object",
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GetPolicyOptions"
        }
      },
      "id": "GetIamPolicyRequest",
      "description": "Request message for `GetIamPolicy` method."
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleCloudDatacatalogV1CommonUsageStats": {
      "id": "GoogleCloudDatacatalogV1CommonUsageStats",
      "properties": {
        "viewCount": {
          "type": "string",
          "description": "View count in source system.",
          "format": "int64"
        }
      },
      "description": "Common statistics on the entry's usage. They can be set on any system.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1DataplexSpec": {
      "properties": {
        "projectId": {
          "description": "Project ID of the underlying Cloud Storage or BigQuery data. Note that this may not be the same project as the correspondingly Dataplex lake / zone / asset.",
          "type": "string"
        },
        "asset": {
          "description": "Fully qualified resource name of an asset in Dataplex, to which the underlying data source (Cloud Storage bucket or BigQuery dataset) of the entity is attached.",
          "type": "string"
        },
        "dataFormat": {
          "description": "Format of the data.",
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchema"
        },
        "compressionFormat": {
          "description": "Compression format of the data, e.g., zip, gzip etc.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Common Dataplex fields.",
      "id": "GoogleCloudDatacatalogV1DataplexSpec"
    },
    "GoogleCloudDatacatalogV1TableSpec": {
      "description": "Normal BigQuery table specification.",
      "properties": {
        "groupedEntry": {
          "description": "Output only. If the table is date-sharded, that is, it matches the `[prefix]YYYYMMDD` name pattern, this field is the Data Catalog resource name of the date-sharded grouped entry. For example: `projects/{PROJECT_ID}/locations/{LOCATION}/entrygroups/{ENTRY_GROUP_ID}/entries/{ENTRY_ID}`. Otherwise, `grouped_entry` is empty.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDatacatalogV1TableSpec",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1BigQueryTableSpec": {
      "type": "object",
      "properties": {
        "viewSpec": {
          "$ref": "GoogleCloudDatacatalogV1ViewSpec",
          "description": "Table view specification. Populated only if the `table_source_type` is `BIGQUERY_VIEW`."
        },
        "tableSpec": {
          "description": "Specification of a BigQuery table. Populated only if the `table_source_type` is `BIGQUERY_TABLE`.",
          "$ref": "GoogleCloudDatacatalogV1TableSpec"
        },
        "tableSourceType": {
          "enum": [
            "TABLE_SOURCE_TYPE_UNSPECIFIED",
            "BIGQUERY_VIEW",
            "BIGQUERY_TABLE",
            "BIGQUERY_MATERIALIZED_VIEW"
          ],
          "description": "Output only. The table source type.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default unknown type.",
            "Table view.",
            "BigQuery native table.",
            "BigQuery materialized view."
          ]
        }
      },
      "description": "Describes a BigQuery table.",
      "id": "GoogleCloudDatacatalogV1BigQueryTableSpec"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "type": "object"
    },
    "Policy": {
      "type": "object",
      "properties": {
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "GoogleCloudDatacatalogV1LookerSystemSpec": {
      "description": "Specification that applies to entries that are part `LOOKER` system (user_specified_type)",
      "id": "GoogleCloudDatacatalogV1LookerSystemSpec",
      "type": "object",
      "properties": {
        "parentViewDisplayName": {
          "type": "string",
          "description": "Name of the parent View. Empty if it does not exist."
        },
        "parentViewId": {
          "type": "string",
          "description": "ID of the parent View. Empty if it does not exist."
        },
        "parentModelDisplayName": {
          "description": "Name of the parent Model. Empty if it does not exist.",
          "type": "string"
        },
        "parentInstanceDisplayName": {
          "type": "string",
          "description": "Name of the parent Looker Instance. Empty if it does not exist."
        },
        "parentInstanceId": {
          "type": "string",
          "description": "ID of the parent Looker Instance. Empty if it does not exist. Example value: `someinstance.looker.com`"
        },
        "parentModelId": {
          "type": "string",
          "description": "ID of the parent Model. Empty if it does not exist."
        }
      }
    },
    "GoogleCloudDatacatalogV1Taxonomy": {
      "id": "GoogleCloudDatacatalogV1Taxonomy",
      "description": "A taxonomy is a collection of hierarchical policy tags that classify data along a common axis. For example, a \"data sensitivity\" taxonomy might contain the following policy tags: ``` + PII + Account number + Age + SSN + Zipcode + Financials + Revenue ``` A \"data origin\" taxonomy might contain the following policy tags: ``` + User data + Employee data + Partner data + Public data ```",
      "type": "object",
      "properties": {
        "policyTagCount": {
          "description": "Output only. Number of policy tags in this taxonomy.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "description": {
          "type": "string",
[...]
