{
  "kind": "discovery#restDescription",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "description": "Dataplex API is used to manage the lifecycle of data lakes.",
  "ownerName": "Google",
  "baseUrl": "https://dataplex.googleapis.com/",
  "title": "Cloud Dataplex API",
  "version_module": true,
  "rootUrl": "https://dataplex.googleapis.com/",
  "documentationLink": "https://cloud.google.com/dataplex/docs",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://dataplex.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "servicePath": "",
  "id": "dataplex:v1",
  "ownerDomain": "google.com",
  "schemas": {
    "GoogleCloudLocationListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "GoogleCloudLocationListLocationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          }
        }
      }
    },
    "GoogleCloudDataplexV1DiscoveryEventEntityDetails": {
      "description": "Details about the entity.",
      "type": "object",
      "id": "GoogleCloudDataplexV1DiscoveryEventEntityDetails",
      "properties": {
        "type": {
          "description": "The type of the entity resource.",
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "TABLE",
            "FILESET"
          ],
          "enumDescriptions": [
            "An unspecified event type.",
            "Entities representing structured data.",
            "Entities representing unstructured data."
          ],
          "type": "string"
        },
        "entity": {
          "type": "string",
          "description": "The name of the entity resource. The name is the fully-qualified resource name."
        }
      }
    },
    "GoogleCloudDataplexV1LakeMetastore": {
      "properties": {
        "service": {
          "description": "Optional. A relative reference to the Dataproc Metastore (https://cloud.google.com/dataproc-metastore/docs) service associated with the lake: projects/{project_id}/locations/{location_id}/services/{service_id}",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1LakeMetastore",
      "description": "Settings to manage association of Dataproc Metastore with a lake.",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoTopNValue": {
      "id": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoTopNValue",
      "description": "Top N non-null values in the scanned data.",
      "type": "object",
      "properties": {
        "count": {
          "description": "Count of the corresponding value in the scanned data.",
          "type": "string",
          "format": "int64"
        },
        "value": {
          "description": "String value of a top N non-null value.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1DataScanExecutionSpec": {
      "properties": {
        "trigger": {
          "$ref": "GoogleCloudDataplexV1Trigger",
          "description": "Optional. Spec related to how often and when a scan should be triggered.If not specified, the default is OnDemand, which means the scan will not run until the user calls RunDataScan API."
        },
        "field": {
          "type": "string",
          "description": "Immutable. The unnested field (of type Date or Timestamp) that contains values which monotonically increase over time.If not specified, a data scan will run for all data in the table."
        }
      },
      "description": "DataScan execution settings.",
      "id": "GoogleCloudDataplexV1DataScanExecutionSpec",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } ",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "GoogleCloudDataplexV1ListZonesResponse": {
      "id": "GoogleCloudDataplexV1ListZonesResponse",
      "description": "List zones response.",
      "type": "object",
      "properties": {
        "zones": {
          "items": {
            "$ref": "GoogleCloudDataplexV1Zone"
          },
          "description": "Zones under the given parent lake.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      }
    },
    "GoogleCloudDataplexV1ZoneDiscoverySpecJsonOptions": {
      "id": "GoogleCloudDataplexV1ZoneDiscoverySpecJsonOptions",
      "properties": {
        "encoding": {
          "type": "string",
          "description": "Optional. The character encoding of the data. The default is UTF-8."
        },
        "disableTypeInference": {
          "description": "Optional. Whether to disable the inference of data type for Json data. If true, all columns will be registered as their primitive types (strings, number or boolean).",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Describe JSON data format."
    },
    "GoogleCloudDataplexV1DataQualityDimensionResult": {
      "properties": {
        "passed": {
          "type": "boolean",
          "description": "Whether the dimension passed or failed."
        }
      },
      "id": "GoogleCloudDataplexV1DataQualityDimensionResult",
      "description": "DataQualityDimensionResult provides a more detailed, per-dimension view of the results.",
      "type": "object"
    },
    "GoogleCloudDataplexV1JobEvent": {
      "properties": {
        "startTime": {
          "type": "string",
          "description": "The time when the job started running.",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the job ended running."
        },
        "service": {
          "type": "string",
          "description": "The service used to execute the job.",
          "enum": [
            "SERVICE_UNSPECIFIED",
            "DATAPROC"
          ],
          "enumDescriptions": [
            "Unspecified service.",
            "Cloud Dataproc."
          ]
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "ABORTED"
          ],
          "type": "string",
          "description": "The job state on completion.",
          "enumDescriptions": [
            "Unspecified job state.",
            "Job successfully completed.",
            "Job was unsuccessful.",
            "Job was cancelled by the user.",
            "Job was cancelled or aborted via the service executing the job."
          ]
        },
        "message": {
          "type": "string",
          "description": "The log message."
        },
        "jobId": {
          "description": "The unique id identifying the job.",
          "type": "string"
        },
        "serviceJob": {
          "description": "The reference to the job within the service.",
          "type": "string"
        },
        "type": {
          "description": "The type of the job.",
          "enumDescriptions": [
            "Unspecified job type.",
            "Spark jobs.",
            "Notebook jobs."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "SPARK",
            "NOTEBOOK"
          ],
          "type": "string"
        },
        "retries": {
          "format": "int32",
          "type": "integer",
          "description": "The number of retries."
        }
      },
      "description": "The payload associated with Job logs that contains events describing jobs that have run within a Lake.",
      "id": "GoogleCloudDataplexV1JobEvent",
      "type": "object"
    },
    "GoogleCloudDataplexV1SchemaPartitionField": {
      "description": "Represents a key field within the entity's partition structure. You could have up to 20 partition fields, but only the first 10 partitions have the filtering ability due to performance consideration. Note: Partition fields are immutable.",
      "id": "GoogleCloudDataplexV1SchemaPartitionField",
      "properties": {
        "name": {
          "description": "Required. Partition field name must consist of letters, numbers, and underscores only, with a maximum of length of 256 characters, and must begin with a letter or underscore..",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Required. Immutable. The type of field.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "BOOLEAN",
            "BYTE",
            "INT16",
            "INT32",
            "INT64",
            "FLOAT",
            "DOUBLE",
            "DECIMAL",
            "STRING",
            "BINARY",
            "TIMESTAMP",
            "DATE",
            "TIME",
            "RECORD",
            "NULL"
          ],
          "enumDescriptions": [
            "SchemaType unspecified.",
            "Boolean field.",
            "Single byte numeric field.",
            "16-bit numeric field.",
            "32-bit numeric field.",
            "64-bit numeric field.",
            "Floating point numeric field.",
            "Double precision numeric field.",
            "Real value numeric field.",
            "Sequence of characters field.",
            "Sequence of bytes field.",
            "Date and time field.",
            "Date field.",
            "Time field.",
            "Structured field. Nested fields that define the structure of the map. If all nested fields are nullable, this field represents a union.",
            "Null field that does not have values."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1AssetStatus": {
      "type": "object",
      "id": "GoogleCloudDataplexV1AssetStatus",
      "properties": {
        "updateTime": {
          "description": "Last update time of the status.",
          "type": "string",
          "format": "google-datetime"
        },
        "activeAssets": {
          "type": "integer",
          "format": "int32",
          "description": "Number of active assets."
        },
        "securityPolicyApplyingAssets": {
          "type": "integer",
          "format": "int32",
          "description": "Number of assets that are in process of updating the security policy on attached resources."
        }
      },
      "description": "Aggregated status of the underlying assets of a lake or zone."
    },
    "GoogleCloudDataplexV1Asset": {
      "description": "An asset represents a cloud resource that is being managed within a lake as a member of a zone.",
      "properties": {
        "discoveryStatus": {
          "$ref": "GoogleCloudDataplexV1AssetDiscoveryStatus",
          "readOnly": true,
          "description": "Output only. Status of the discovery feature applied to data referenced by this asset."
        },
        "displayName": {
          "description": "Optional. User friendly display name.",
          "type": "string"
        },
        "resourceSpec": {
          "$ref": "GoogleCloudDataplexV1AssetResourceSpec",
          "description": "Required. Specification of the resource that is referenced by this asset."
        },
        "name": {
          "type": "string",
          "description": "Output only. The relative resource name of the asset, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}/assets/{asset_id}.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the asset was created."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time when the asset was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "resourceStatus": {
          "$ref": "GoogleCloudDataplexV1AssetResourceStatus",
          "description": "Output only. Status of the resource referenced by this asset.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "State is not specified.",
            "Resource is active, i.e., ready to use.",
            "Resource is under creation.",
            "Resource is under deletion.",
            "Resource is active but has unresolved actions."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "ACTION_REQUIRED"
          ],
          "description": "Output only. Current state of the asset."
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. System generated globally unique ID for the asset. This ID will be different if the asset is deleted and re-created with the same name."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the asset."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. User defined labels for the asset."
        },
        "securityStatus": {
          "description": "Output only. Status of the security policy applied to resource referenced by this asset.",
          "$ref": "GoogleCloudDataplexV1AssetSecurityStatus",
          "readOnly": true
        },
        "discoverySpec": {
          "$ref": "GoogleCloudDataplexV1AssetDiscoverySpec",
          "description": "Optional. Specification of the discovery feature applied to data referenced by this asset. When this spec is left unset, the asset will use the spec set on the parent zone."
        }
      },
      "id": "GoogleCloudDataplexV1Asset",
      "type": "object"
    },
    "GoogleCloudDataplexV1OperationMetadata": {
      "description": "Represents the metadata of a long-running operation.",
      "id": "GoogleCloudDataplexV1OperationMetadata",
      "type": "object",
      "properties": {
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to Code.CANCELLED.",
          "type": "boolean"
        },
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation finished running."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDataplexV1AssetDiscoveryStatusStats": {
      "properties": {
        "dataItems": {
          "description": "The count of data items within the referenced resource.",
          "format": "int64",
          "type": "string"
        },
        "dataSize": {
          "description": "The number of stored data bytes within the referenced resource.",
          "type": "string",
          "format": "int64"
        },
        "filesets": {
          "description": "The count of fileset entities within the referenced resource.",
          "type": "string",
          "format": "int64"
        },
        "tables": {
          "format": "int64",
          "type": "string",
          "description": "The count of table entities within the referenced resource."
        }
      },
      "description": "The aggregated data statistics for the asset reported by discovery.",
      "type": "object",
      "id": "GoogleCloudDataplexV1AssetDiscoveryStatusStats"
    },
    "GoogleCloudDataplexV1StorageFormatCsvOptions": {
      "type": "object",
      "properties": {
        "quote": {
          "type": "string",
          "description": "Optional. The character used to quote column values. Accepts '\"' (double quotation mark) or ''' (single quotation mark). Defaults to '\"' (double quotation mark) if unspecified."
        },
        "headerRows": {
          "description": "Optional. The number of rows to interpret as header rows that should be skipped when reading data rows. Defaults to 0.",
          "format": "int32",
          "type": "integer"
        },
        "encoding": {
          "type": "string",
          "description": "Optional. The character encoding of the data. Accepts \"US-ASCII\", \"UTF-8\", and \"ISO-8859-1\". Defaults to UTF-8 if unspecified."
        },
        "delimiter": {
          "type": "string",
          "description": "Optional. The delimiter used to separate values. Defaults to ','."
        }
      },
      "id": "GoogleCloudDataplexV1StorageFormatCsvOptions",
      "description": "Describes CSV and similar semi-structured data formats."
    },
    "GoogleCloudDataplexV1SessionEventQueryDetail": {
      "id": "GoogleCloudDataplexV1SessionEventQueryDetail",
      "description": "Execution details of the query.",
      "properties": {
        "dataProcessedBytes": {
          "description": "The data processed by the query.",
          "format": "int64",
          "type": "string"
        },
        "resultSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "The size of results the query produced."
        },
        "engine": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified Engine type.",
            "Spark-sql engine is specified in Query.",
            "BigQuery engine is specified in Query."
          ],
          "enum": [
            "ENGINE_UNSPECIFIED",
            "SPARK_SQL",
            "BIGQUERY"
          ],
          "description": "Query Execution engine."
        },
        "queryText": {
          "type": "string",
          "description": "The query text executed."
        },
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "Time taken for execution of the query."
        },
        "queryId": {
          "description": "The unique Query id identifying the query.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1DataQualityRuleNonNullExpectation": {
      "description": "Evaluates whether each column value is null.",
      "type": "object",
      "id": "GoogleCloudDataplexV1DataQualityRuleNonNullExpectation",
      "properties": {}
    },
    "GoogleCloudDataplexV1ActionMissingResource": {
      "type": "object",
      "id": "GoogleCloudDataplexV1ActionMissingResource",
      "description": "Action details for resource references in assets that cannot be located.",
      "properties": {}
    },
    "GoogleRpcStatus": {
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      },
      "id": "GoogleRpcStatus",
      "type": "object",
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors)."
    },
    "GoogleCloudDataplexV1ListAssetsResponse": {
      "properties": {
        "assets": {
          "description": "Asset under the given parent zone.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1Asset"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1ListAssetsResponse",
      "type": "object",
      "description": "List assets response."
    },
    "GoogleCloudDataplexV1ActionMissingData": {
      "id": "GoogleCloudDataplexV1ActionMissingData",
      "description": "Action details for absence of data detected by discovery.",
      "type": "object",
      "properties": {}
    },
    "GoogleIamV1Binding": {
      "description": "Associates members, or principals, with a role.",
      "type": "object",
      "id": "GoogleIamV1Binding",
      "properties": {
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. members can have the following values: allUsers: A special identifier that represents anyone who is on the internet; with or without a Google account. allAuthenticatedUsers: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. user:{emailid}: An email address that represents a specific Google account. For example, alice@example.com . serviceAccount:{emailid}: An email address that represents a Google service account. For example, my-other-app@appspot.gserviceaccount.com. serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]: An identifier for a Kubernetes service account (https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, my-project.svc.id.goog[my-namespace/my-kubernetes-sa]. group:{emailid}: An email address that represents a Google group. For example, admins@example.com. domain:{domain}: The G Suite domain (primary) that represents all the users of that domain. For example, google.com or example.com. deleted:user:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a user that has been recently deleted. For example, alice@example.com?uid=123456789012345678901. If the user is recovered, this value reverts to user:{emailid} and the recovered user retains the role in the binding. deleted:serviceAccount:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901. If the service account is undeleted, this value reverts to serviceAccount:{emailid} and the undeleted service account retains the role in the binding. deleted:group:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, admins@example.com?uid=123456789012345678901. If the group is recovered, this value reverts to group:{emailid} and the recovered group retains the role in the binding."
        },
        "role": {
          "description": "Role that is assigned to the list of members, or principals. For example, roles/viewer, roles/editor, or roles/owner.",
          "type": "string"
        },
        "condition": {
          "$ref": "GoogleTypeExpr",
          "description": "The condition that is associated with this binding.If the condition evaluates to true, then this binding applies to the current request.If the condition evaluates to false, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      }
    },
    "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoDoubleFieldInfo": {
      "description": "The profile information for a double type field.",
      "id": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoDoubleFieldInfo",
      "type": "object",
      "properties": {
        "min": {
          "format": "double",
          "description": "Minimum of non-null values in the scanned data. NaN, if the field has a NaN.",
          "type": "number"
        },
        "max": {
          "description": "Maximum of non-null values in the scanned data. NaN, if the field has a NaN.",
          "format": "double",
          "type": "number"
        },
        "quartiles": {
          "description": "A quartile divides the number of data points into four parts, or quarters, of more-or-less equal size. Three main quartiles used are: The first quartile (Q1) splits off the lowest 25% of data from the highest 75%. It is also known as the lower or 25th empirical quartile, as 25% of the data is below this point. The second quartile (Q2) is the median of a data set. So, 50% of the data lies below this point. The third quartile (Q3) splits off the highest 25% of data from the lowest 75%. It is known as the upper or 75th empirical quartile, as 75% of the data lies below this point. Here, the quartiles is provided as an ordered list of quartile values for the scanned data, occurring in order Q1, median, Q3.",
          "items": {
            "format": "double",
            "type": "number"
          },
          "type": "array"
        },
        "standardDeviation": {
          "type": "number",
          "format": "double",
          "description": "Standard deviation of non-null values in the scanned data. NaN, if the field has a NaN."
        },
        "average": {
          "description": "Average of non-null values in the scanned data. NaN, if the field has a NaN.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "GoogleCloudDataplexV1EnvironmentSessionStatus": {
      "description": "Status of sessions created for this environment.",
      "properties": {
        "active": {
          "description": "Output only. Queries over sessions to mark whether the environment is currently active or not",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1EnvironmentSessionStatus"
    },
    "GoogleCloudDataplexV1EntityCompatibilityStatusCompatibility": {
      "id": "GoogleCloudDataplexV1EntityCompatibilityStatusCompatibility",
      "properties": {
        "reason": {
          "description": "Output only. Provides additional detail if the entity is incompatible with the metadata store.",
          "type": "string",
          "readOnly": true
        },
        "compatible": {
          "description": "Output only. Whether the entity is compatible and can be represented in the metadata store.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Provides compatibility information for a specific metadata store."
    },
    "GoogleCloudDataplexV1ActionInvalidDataFormat": {
      "type": "object",
      "id": "GoogleCloudDataplexV1ActionInvalidDataFormat",
      "description": "Action details for invalid or unsupported data files detected by discovery.",
      "properties": {
        "sampledDataLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of data locations sampled and used for format/schema inference."
        },
        "expectedFormat": {
          "description": "The expected data format of the entity.",
          "type": "string"
        },
        "newFormat": {
          "type": "string",
          "description": "The new unexpected data format within the entity."
        }
      }
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.",
          "type": "object"
        },
        "done": {
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available.",
          "type": "boolean"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}."
        }
      },
      "type": "object",
      "id": "GoogleLongrunningOperation"
    },
    "GoogleCloudDataplexV1ScannedData": {
      "description": "The data scanned during processing (e.g. in incremental DataScan)",
      "id": "GoogleCloudDataplexV1ScannedData",
      "properties": {
        "incrementalField": {
          "description": "The range denoted by values of an incremental field",
          "$ref": "GoogleCloudDataplexV1ScannedDataIncrementalField"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1DataTaxonomy": {
      "id": "GoogleCloudDataplexV1DataTaxonomy",
      "description": "DataTaxonomy represents a set of hierarchical DataAttributes resources, grouped with a common theme Eg: 'SensitiveDataTaxonomy' can have attributes to manage PII data. It is defined at project level.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Optional. User friendly display name.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the DataTaxonomy was created.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the DataTaxonomy was last updated.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "Optional. Description of the DataTaxonomy.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The relative resource name of the DataTaxonomy, of the form: projects/{project_number}/locations/{location_id}/dataTaxonomies/{data_taxonomy_id}.",
          "type": "string"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "Output only. System generated globally unique ID for the dataTaxonomy. This ID will be different if the DataTaxonomy is deleted and re-created with the same name.",
          "readOnly": true
        },
        "attributeCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of attributes in the DataTaxonomy.",
          "format": "int32"
        },
        "labels": {
          "description": "Optional. User-defined labels for the DataTaxonomy.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of TestPermissionsRequest.permissions that the caller is allowed.",
          "type": "array"
        }
      },
      "description": "Response message for TestIamPermissions method.",
      "type": "object",
      "id": "GoogleIamV1TestIamPermissionsResponse"
    },
    "GoogleCloudDataplexV1AssetResourceStatus": {
      "type": "object",
      "description": "Status of the resource referenced by an asset.",
      "properties": {
        "managedAccessIdentity": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Service account associated with the BigQuery Connection."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last update time of the status."
        },
        "state": {
          "description": "The current state of the managed resource.",
          "enumDescriptions": [
            "State unspecified.",
            "Resource does not have any errors.",
            "Resource has errors."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "ERROR"
          ],
          "type": "string"
        },
        "message": {
          "description": "Additional information about the current state.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1AssetResourceStatus"
    },
    "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoStringFieldInfo": {
      "description": "The profile information for a string type field.",
      "id": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoStringFieldInfo",
      "type": "object",
      "properties": {
        "averageLength": {
          "description": "Average length of non-null values in the scanned data.",
          "type": "number",
          "format": "double"
        },
        "maxLength": {
          "description": "Maximum length of non-null values in the scanned data.",
          "format": "int64",
          "type": "string"
        },
        "minLength": {
          "type": "string",
          "format": "int64",
          "description": "Minimum length of non-null values in the scanned data."
        }
      }
    },
    "GoogleCloudDataplexV1DataAttributeBindingPath": {
      "id": "GoogleCloudDataplexV1DataAttributeBindingPath",
      "type": "object",
      "description": "Represents a subresource of the given resource, and associated bindings with it. Currently supported subresources are column and partition schema fields within a table.",
      "properties": {
        "name": {
          "description": "Required. The name identifier of the path. Nested columns should be of the form: 'address.city'.",
          "type": "string"
        },
        "attributes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of attributes to be associated with the path of the resource, provided in the form: projects/{project}/locations/{location}/dataTaxonomies/{dataTaxonomy}/attributes/{data_attribute_id}"
        }
      }
    },
    "GoogleCloudDataplexV1ListDataTaxonomiesResponse": {
      "description": "List DataTaxonomies response.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "dataTaxonomies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataTaxonomy"
          },
          "description": "DataTaxonomies under the given parent location."
        },
        "unreachableLocations": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDataplexV1ListDataTaxonomiesResponse",
      "type": "object"
    },
    "GoogleCloudDataplexV1ListDataScansResponse": {
      "description": "List dataScans response.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dataScans": {
          "description": "DataScans (BASIC view only) under the given parent location.",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataScan"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDataplexV1ListDataScansResponse"
    },
    "GoogleCloudDataplexV1ListPartitionsResponse": {
      "id": "GoogleCloudDataplexV1ListPartitionsResponse",
      "description": "List metadata partitions response.",
      "properties": {
        "partitions": {
          "type": "array",
          "description": "Partitions under the specified parent entity.",
          "items": {
            "$ref": "GoogleCloudDataplexV1Partition"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no remaining results in the list."
        }
      },
      "type": "object"
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the resource. Permissions with wildcards (such as * or storage.*) are not allowed. For more information see IAM Overview (https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request message for TestIamPermissions method.",
      "id": "GoogleIamV1TestIamPermissionsRequest"
    },
    "GoogleCloudDataplexV1DiscoveryEventActionDetails": {
      "description": "Details about the action.",
      "id": "GoogleCloudDataplexV1DiscoveryEventActionDetails",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of action. Eg. IncompatibleDataSchema, InvalidDataFormat"
        }
      }
    },
    "GoogleCloudDataplexV1AssetDiscoverySpecJsonOptions": {
      "id": "GoogleCloudDataplexV1AssetDiscoverySpecJsonOptions",
      "properties": {
        "encoding": {
          "type": "string",
          "description": "Optional. The character encoding of the data. The default is UTF-8."
        },
        "disableTypeInference": {
          "type": "boolean",
          "description": "Optional. Whether to disable the inference of data type for Json data. If true, all columns will be registered as their primitive types (strings, number or boolean)."
        }
      },
      "description": "Describe JSON data format.",
      "type": "object"
    },
    "GoogleCloudDataplexV1Trigger": {
      "type": "object",
      "description": "DataScan scheduling and trigger settings.",
      "id": "GoogleCloudDataplexV1Trigger",
      "properties": {
        "schedule": {
          "description": "The scan is scheduled to run periodically.",
          "$ref": "GoogleCloudDataplexV1TriggerSchedule"
        },
        "onDemand": {
          "$ref": "GoogleCloudDataplexV1TriggerOnDemand",
          "description": "The scan runs once via RunDataScan API."
        }
      }
    },
    "GoogleCloudDataplexV1DataAttributeBinding": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the DataAttributeBinding."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined labels for the DataAttributeBinding.",
          "type": "object"
        },
        "attributes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of attributes to be associated with the resource, provided in the form: projects/{project}/locations/{location}/dataTaxonomies/{dataTaxonomy}/attributes/{data_attribute_id}",
          "type": "array"
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Etags must be used when calling the DeleteDataAttributeBinding and the UpdateDataAttributeBinding method."
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. System generated globally unique ID for the DataAttributeBinding. This ID will be different if the DataAttributeBinding is deleted and re-created with the same name."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The relative resource name of the Data Attribute Binding, of the form: projects/{project_number}/locations/{location}/dataAttributeBindings/{data_attribute_binding_id}"
        },
        "resource": {
          "description": "Optional. Immutable. The resource name of the resource that is associated to attributes. Presently, only entity resource is supported in the form: projects/{project}/locations/{location}/lakes/{lake}/zones/{zone}/entities/{entity_id} Must belong in the same project and region as the attribute binding, and there can only exist one active binding for a resource.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the DataAttributeBinding was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. User friendly display name.",
          "type": "string"
        },
        "paths": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataAttributeBindingPath"
          },
          "description": "Optional. The list of paths for items within the associated resource (eg. columns and partitions within a table) along with attribute bindings."
        },
        "updateTime": {
          "description": "Output only. The time when the DataAttributeBinding was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "DataAttributeBinding represents binding of attributes to resources. Eg: Bind 'CustomerInfo' entity with 'PII' attribute.",
      "id": "GoogleCloudDataplexV1DataAttributeBinding"
    },
    "GoogleCloudDataplexV1DataAttribute": {
      "properties": {
        "parentId": {
          "description": "Optional. The ID of the parent DataAttribute resource, should belong to the same data taxonomy. Circular dependency in parent chain is not valid. Maximum depth of the hierarchy allowed is 4. a -\u003e b -\u003e c -\u003e d -\u003e e, depth = 4",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the DataAttribute was last updated.",
          "readOnly": true
        },
        "description": {
          "description": "Optional. Description of the DataAttribute.",
          "type": "string"
        },
        "resourceAccessSpec": {
          "description": "Optional. Specified when applied to a resource (eg: Cloud Storage bucket, BigQuery dataset, BigQuery table).",
          "$ref": "GoogleCloudDataplexV1ResourceAccessSpec"
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "attributeCount": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The number of child attributes present for this attribute."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. User-defined labels for the DataAttribute."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the DataAttribute was created.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The relative resource name of the dataAttribute, of the form: projects/{project_number}/locations/{location_id}/dataTaxonomies/{dataTaxonomy}/attributes/{data_attribute_id}."
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. System generated globally unique ID for the DataAttribute. This ID will be different if the DataAttribute is deleted and re-created with the same name."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User friendly display name."
        },
        "dataAccessSpec": {
          "description": "Optional. Specified when applied to data stored on the resource (eg: rows, columns in BigQuery Tables).",
          "$ref": "GoogleCloudDataplexV1DataAccessSpec"
        }
      },
      "id": "GoogleCloudDataplexV1DataAttribute",
      "description": "Denotes one dataAttribute in a dataTaxonomy, for example, PII. DataAttribute resources can be defined in a hierarchy. A single dataAttribute resource can contain specs of multiple types PII - ResourceAccessSpec : - readers :foo@bar.com - DataAccessSpec : - readers :bar@foo.com ",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataProfileSpec": {
      "properties": {
        "rowFilter": {
          "type": "string",
          "description": "Optional. A filter applied to all rows in a single DataScan job. The filter needs to be a valid SQL expression for a WHERE clause in BigQuery standard SQL syntax. Example: col1 \u003e= 0 AND col2 \u003c 10"
        },
        "samplingPercent": {
          "description": "Optional. The percentage of the records to be selected from the dataset for DataScan. Value can range between 0.0 and 100.0 with up to 3 significant decimal digits. Sampling is not applied if sampling_percent is not specified, 0 or 100.",
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDataplexV1DataProfileSpec",
      "type": "object",
      "description": "DataProfileScan related setting."
    },
    "GoogleCloudDataplexV1ListTasksResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "tasks": {
          "description": "Tasks under the given parent lake.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1Task"
          }
        },
        "unreachableLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "description": "List tasks response.",
      "id": "GoogleCloudDataplexV1ListTasksResponse"
    },
    "GoogleCloudDataplexV1EnvironmentEndpoints": {
      "properties": {
        "sql": {
          "description": "Output only. URI to serve SQL APIs",
          "readOnly": true,
          "type": "string"
        },
        "notebooks": {
          "type": "string",
          "description": "Output only. URI to serve notebook APIs",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "URI Endpoints to access sessions associated with the Environment.",
      "id": "GoogleCloudDataplexV1EnvironmentEndpoints"
    },
    "GoogleCloudDataplexV1DataQualityRuleRowConditionExpectation": {
      "description": "Evaluates whether each row passes the specified condition.The SQL expression needs to use BigQuery standard SQL syntax and should produce a boolean value per row as the result.Example: col1 \u003e= 0 AND col2 \u003c 10",
      "type": "object",
      "id": "GoogleCloudDataplexV1DataQualityRuleRowConditionExpectation",
      "properties": {
        "sqlExpression": {
          "type": "string",
          "description": "The SQL expression."
        }
      }
    },
    "GoogleCloudLocationLocation": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: \"projects/example-project/locations/us-east1\""
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"} ",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "locationId": {
          "description": "The canonical id for this location. For example: \"us-east1\".",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        }
      },
      "type": "object",
      "id": "GoogleCloudLocationLocation",
      "description": "A resource that represents a Google Cloud location."
    },
    "GoogleCloudDataplexV1DataProfileResultProfile": {
      "properties": {
        "fields": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataProfileResultProfileField"
          },
          "description": "List of fields with structural and profile information for each field."
        }
      },
      "description": "Contains name, type, mode and field type specific profile information.",
      "id": "GoogleCloudDataplexV1DataProfileResultProfile",
      "type": "object"
    },
    "GoogleCloudDataplexV1TaskExecutionStatus": {
      "type": "object",
      "description": "Status of the task execution (e.g. Jobs).",
      "properties": {
        "latestJob": {
          "$ref": "GoogleCloudDataplexV1Job",
          "readOnly": true,
          "description": "Output only. latest job execution"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Last update time of the status."
        }
      },
      "id": "GoogleCloudDataplexV1TaskExecutionStatus"
    },
    "GoogleCloudDataplexV1StorageFormatIcebergOptions": {
      "type": "object",
      "id": "GoogleCloudDataplexV1StorageFormatIcebergOptions",
      "description": "Describes Iceberg data format.",
      "properties": {
        "metadataLocation": {
          "type": "string",
          "description": "Optional. The location of where the iceberg metadata is present, must be within the table path"
        }
      }
    },
    "GoogleCloudDataplexV1TaskNotebookTaskConfig": {
      "id": "GoogleCloudDataplexV1TaskNotebookTaskConfig",
      "type": "object",
      "description": "Config for running scheduled notebooks.",
      "properties": {
        "archiveUris": {
          "type": "array",
          "description": "Optional. Cloud Storage URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.",
          "items": {
            "type": "string"
          }
        },
        "notebook": {
          "type": "string",
          "description": "Required. Path to input notebook. This can be the Cloud Storage URI of the notebook file or the path to a Notebook Content. The execution args are accessible as environment variables (TASK_key=value)."
        },
        "infrastructureSpec": {
          "description": "Optional. Infrastructure specification for the execution.",
          "$ref": "GoogleCloudDataplexV1TaskInfrastructureSpec"
        },
        "fileUris": {
          "description": "Optional. Cloud Storage URIs of files to be placed in the working directory of each executor.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDataplexV1ListEntitiesResponse": {
      "properties": {
        "entities": {
          "type": "array",
          "description": "Entities in the specified parent zone.",
          "items": {
            "$ref": "GoogleCloudDataplexV1Entity"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no remaining results in the list."
        }
      },
      "description": "List metadata entities response.",
      "id": "GoogleCloudDataplexV1ListEntitiesResponse",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataQualityRuleStatisticRangeExpectation": {
      "description": "Evaluates whether the column aggregate statistic lies between a specified range.",
      "type": "object",
      "id": "GoogleCloudDataplexV1DataQualityRuleStatisticRangeExpectation",
      "properties": {
        "strictMaxEnabled": {
          "description": "Whether column statistic needs to be strictly lesser than ('\u003c') the maximum, or if equality is allowed.Only relevant if a max_value has been defined. Default = false.",
          "type": "boolean"
        },
        "strictMinEnabled": {
          "description": "Whether column statistic needs to be strictly greater than ('\u003e') the minimum, or if equality is allowed.Only relevant if a min_value has been defined. Default = false.",
          "type": "boolean"
        },
        "minValue": {
          "description": "The minimum column statistic value allowed for a row to pass this validation.At least one of min_value and max_value need to be provided.",
          "type": "string"
        },
        "statistic": {
          "description": "The aggregate metric to evaluate.",
          "enum": [
            "STATISTIC_UNDEFINED",
            "MEAN",
            "MIN",
            "MAX"
          ],
          "enumDescriptions": [
            "Unspecified statistic type",
            "Evaluate the column mean",
            "Evaluate the column min",
            "Evaluate the column max"
          ],
          "type": "string"
        },
        "maxValue": {
          "description": "The maximum column statistic value allowed for a row to pass this validation.At least one of min_value and max_value need to be provided.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1AssetDiscoverySpec": {
      "id": "GoogleCloudDataplexV1AssetDiscoverySpec",
      "description": "Settings to manage the metadata discovery and publishing for an asset.",
      "type": "object",
      "properties": {
        "includePatterns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of patterns to apply for selecting data to include during discovery if only a subset of the data should considered. For Cloud Storage bucket assets, these are interpreted as glob patterns used to match object names. For BigQuery dataset assets, these are interpreted as patterns to match table names."
        },
        "csvOptions": {
          "description": "Optional. Configuration for CSV data.",
          "$ref": "GoogleCloudDataplexV1AssetDiscoverySpecCsvOptions"
        },
        "jsonOptions": {
          "description": "Optional. Configuration for Json data.",
          "$ref": "GoogleCloudDataplexV1AssetDiscoverySpecJsonOptions"
        },
        "excludePatterns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of patterns to apply for selecting data to exclude during discovery. For Cloud Storage bucket assets, these are interpreted as glob patterns used to match object names. For BigQuery dataset assets, these are interpreted as patterns to match table names."
        },
        "enabled": {
          "description": "Optional. Whether discovery is enabled.",
          "type": "boolean"
        },
        "schedule": {
          "description": "Optional. Cron schedule (https://en.wikipedia.org/wiki/Cron) for running discovery periodically. Successive discovery runs must be scheduled at least 60 minutes apart. The default value is to run discovery every 60 minutes. To explicitly set a timezone to the cron tab, apply a prefix in the cron tab: \"CRON_TZ=${IANA_TIME_ZONE}\" or TZ=${IANA_TIME_ZONE}\". The ${IANA_TIME_ZONE} may only be a valid string from IANA time zone database. For example, CRON_TZ=America/New_York 1 * * * *, or TZ=America/New_York 1 * * * *.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1TriggerSchedule": {
      "properties": {
        "cron": {
          "type": "string",
          "description": "Required. Cron (https://en.wikipedia.org/wiki/Cron) schedule for running scans periodically.To explicitly set a timezone in the cron tab, apply a prefix in the cron tab: \"CRON_TZ=${IANA_TIME_ZONE}\" or \"TZ=${IANA_TIME_ZONE}\". The ${IANA_TIME_ZONE} may only be a valid string from IANA time zone database (wikipedia (https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List)). For example, CRON_TZ=America/New_York 1 * * * *, or TZ=America/New_York 1 * * * *.This field is required for Schedule scans."
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1TriggerSchedule",
      "description": "The scan is scheduled to run periodically."
    },
    "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfo": {
      "properties": {
        "integerProfile": {
          "description": "Integer type field information.",
          "$ref": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoIntegerFieldInfo"
        },
        "stringProfile": {
          "description": "String type field information.",
          "$ref": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoStringFieldInfo"
        },
        "topNValues": {
          "description": "The list of top N non-null values and number of times they occur in the scanned data. N is 10 or equal to the number of distinct values in the field, whichever is smaller. Not available for complex non-groupable field type RECORD and fields with REPEATABLE mode.",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoTopNValue"
          },
          "type": "array"
        },
        "doubleProfile": {
          "description": "Double type field information.",
          "$ref": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoDoubleFieldInfo"
        },
        "distinctRatio": {
          "format": "double",
          "description": "Ratio of rows with distinct values against total scanned rows. Not available for complex non-groupable field type RECORD and fields with REPEATABLE mode.",
          "type": "number"
        },
        "nullRatio": {
          "description": "Ratio of rows with null value against total scanned rows.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "The profile information for each field type.",
      "type": "object",
      "id": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfo"
    },
    "GoogleCloudDataplexV1DiscoveryEventPartitionDetails": {
      "properties": {
        "entity": {
          "type": "string",
          "description": "The name to the containing entity resource. The name is the fully-qualified resource name."
        },
        "type": {
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "TABLE",
            "FILESET"
          ],
          "enumDescriptions": [
            "An unspecified event type.",
            "Entities representing structured data.",
            "Entities representing unstructured data."
          ],
          "description": "The type of the containing entity resource.",
          "type": "string"
        },
        "sampledDataLocations": {
          "description": "The locations of the data items (e.g., a Cloud Storage objects) sampled for metadata inference.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "partition": {
          "type": "string",
          "description": "The name to the partition resource. The name is the fully-qualified resource name."
        }
      },
      "description": "Details about the partition.",
      "id": "GoogleCloudDataplexV1DiscoveryEventPartitionDetails",
      "type": "object"
    },
    "GoogleCloudDataplexV1Environment": {
      "description": "Environment represents a user-visible compute infrastructure for analytics within a lake.",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "ACTION_REQUIRED"
          ],
          "enumDescriptions": [
            "State is not specified.",
            "Resource is active, i.e., ready to use.",
            "Resource is under creation.",
            "Resource is under deletion.",
            "Resource is active but has unresolved actions."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Current state of the environment."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. User defined labels for the environment."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User friendly display name."
        },
        "uid": {
          "type": "string",
          "description": "Output only. System generated globally unique ID for the environment. This ID will be different if the environment is deleted and re-created with the same name.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The relative resource name of the environment, of the form: projects/{project_id}/locations/{location_id}/lakes/{lake_id}/environment/{environment_id}",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Environment creation time."
        },
        "sessionSpec": {
          "description": "Optional. Configuration for sessions created for this environment.",
          "$ref": "GoogleCloudDataplexV1EnvironmentSessionSpec"
        },
        "infrastructureSpec": {
          "$ref": "GoogleCloudDataplexV1EnvironmentInfrastructureSpec",
          "description": "Required. Infrastructure specification for the Environment."
        },
        "description": {
          "description": "Optional. Description of the environment.",
          "type": "string"
        },
        "endpoints": {
          "$ref": "GoogleCloudDataplexV1EnvironmentEndpoints",
          "description": "Output only. URI Endpoints to access sessions associated with the Environment.",
          "readOnly": true
        },
        "sessionStatus": {
          "readOnly": true,
          "description": "Output only. Status of sessions created for this environment.",
          "$ref": "GoogleCloudDataplexV1EnvironmentSessionStatus"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time when the environment was last updated.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1Environment"
    },
    "GoogleCloudDataplexV1DataScan": {
      "id": "GoogleCloudDataplexV1DataScan",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. Description of the scan. Must be between 1-1024 characters.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Output only. Current state of the DataScan.",
          "enumDescriptions": [
            "State is not specified.",
            "Resource is active, i.e., ready to use.",
            "Resource is under creation.",
            "Resource is under deletion.",
            "Resource is active but has unresolved actions."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "ACTION_REQUIRED"
          ]
        },
        "data": {
          "$ref": "GoogleCloudDataplexV1DataSource",
          "description": "Required. The data source for DataScan."
        },
        "dataQualitySpec": {
          "description": "DataQualityScan related setting.",
          "$ref": "GoogleCloudDataplexV1DataQualitySpec"
        },
        "createTime": {
          "description": "Output only. The time when the scan was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. The relative resource name of the scan, of the form: projects/{project}/locations/{location_id}/dataScans/{datascan_id}, where project refers to a project_id or project_number and location_id refers to a GCP region.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the scan was last updated.",
          "format": "google-datetime"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "DATA_SCAN_TYPE_UNSPECIFIED",
            "DATA_QUALITY",
            "DATA_PROFILE"
          ],
          "enumDescriptions": [
            "The DataScan type is unspecified.",
            "Data Quality scan.",
            "Data Profile scan."
          ],
          "description": "Output only. The type of DataScan."
        },
        "executionSpec": {
          "$ref": "GoogleCloudDataplexV1DataScanExecutionSpec",
          "description": "Optional. DataScan execution settings.If not specified, the fields in it will use their default values."
        },
        "dataProfileResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1DataProfileResult",
          "description": "Output only. The result of the data profile scan."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User friendly display name. Must be between 1-256 characters."
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the scan. This ID will be different if the scan is deleted and re-created with the same name.",
          "readOnly": true,
          "type": "string"
        },
        "dataProfileSpec": {
          "description": "DataProfileScan related setting.",
          "$ref": "GoogleCloudDataplexV1DataProfileSpec"
        },
        "executionStatus": {
          "readOnly": true,
          "description": "Output only. Status of the data scan execution.",
          "$ref": "GoogleCloudDataplexV1DataScanExecutionStatus"
        },
        "labels": {
          "description": "Optional. User-defined labels for the scan.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "dataQualityResult": {
          "readOnly": true,
          "description": "Output only. The result of the data quality scan.",
          "$ref": "GoogleCloudDataplexV1DataQualityResult"
        }
      },
      "description": "Represents a user-visible job which provides the insights for the related data source.For example: Data Quality: generates queries based on the rules and runs against the data to get data quality check results. Data Profile: analyzes the data in table(s) and generates insights about the structure, content and relationships (such as null percent, cardinality, min/max/mean, etc)."
    },
    "GoogleCloudDataplexV1ListContentResponse": {
      "id": "GoogleCloudDataplexV1ListContentResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "content": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1Content"
          },
          "description": "Content under the given parent lake."
        }
      },
      "description": "List content response.",
      "type": "object"
    },
    "GoogleCloudDataplexV1TaskTriggerSpec": {
      "id": "GoogleCloudDataplexV1TaskTriggerSpec",
      "type": "object",
      "description": "Task scheduling and trigger settings.",
      "properties": {
        "schedule": {
          "type": "string",
          "description": "Optional. Cron schedule (https://en.wikipedia.org/wiki/Cron) for running tasks periodically. To explicitly set a timezone to the cron tab, apply a prefix in the cron tab: \"CRON_TZ=${IANA_TIME_ZONE}\" or \"TZ=${IANA_TIME_ZONE}\". The ${IANA_TIME_ZONE} may only be a valid string from IANA time zone database. For example, CRON_TZ=America/New_York 1 * * * *, or TZ=America/New_York 1 * * * *. This field is required for RECURRING tasks."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ON_DEMAND",
            "RECURRING"
          ],
          "enumDescriptions": [
            "Unspecified trigger type.",
            "The task runs one-time shortly after Task Creation.",
            "The task is scheduled to run periodically."
          ],
          "description": "Required. Immutable. Trigger type of the user-specified Task.",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Prevent the task from executing. This does not cancel already running tasks. It is intended to temporarily disable RECURRING tasks."
        },
        "maxRetries": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Number of retry attempts before aborting. Set to zero to never attempt to retry a failed task."
        },
        "startTime": {
          "type": "string",
          "description": "Optional. The first run of the task will be after this time. If not specified, the task will run shortly after being submitted if ON_DEMAND and based on the schedule if RECURRING.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDataplexV1Session": {
      "type": "object",
      "description": "Represents an active analyze session running for a user.",
      "id": "GoogleCloudDataplexV1Session",
      "properties": {
        "createTime": {
          "description": "Output only. Session start time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The relative resource name of the content, of the form: projects/{project_id}/locations/{location_id}/lakes/{lake_id}/environment/{environment_id}/sessions/{session_id}"
        },
        "userId": {
          "readOnly": true,
          "description": "Output only. Email of user running the session.",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of Session",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "State is not specified.",
            "Resource is active, i.e., ready to use.",
            "Resource is under creation.",
            "Resource is under deletion.",
            "Resource is active but has unresolved actions."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "ACTION_REQUIRED"
          ]
        }
      }
    },
    "GoogleCloudDataplexV1DataSource": {
      "description": "The data source for DataScan.",
      "properties": {
        "resource": {
          "description": "Immutable. The service-qualified full resource name of the cloud resource for a DataScan job to scan against. The field could be: BigQuery table of type \"TABLE\" for DataProfileScan/DataQualityScan Format: //bigquery.googleapis.com/projects/PROJECT_ID/datasets/DATASET_ID/tables/TABLE_ID",
          "type": "string"
        },
        "entity": {
          "type": "string",
          "description": "Immutable. The Dataplex entity that represents the data source (e.g. BigQuery table) for DataScan, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}/entities/{entity_id}."
        }
      },
      "id": "GoogleCloudDataplexV1DataSource",
      "type": "object"
    },
    "GoogleCloudDataplexV1TaskInfrastructureSpecContainerImageRuntime": {
      "type": "object",
      "properties": {
        "javaJars": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of Java JARS to add to the classpath. Valid input includes Cloud Storage URIs to Jar binaries. For example, gs://bucket-name/my/path/to/file.jar",
          "type": "array"
        },
        "properties": {
          "description": "Optional. Override to common configuration of open source components installed on the Dataproc cluster. The properties to set on daemon config files. Property keys are specified in prefix:property format, for example core:hadoop.tmp.dir. For more information, see Cluster properties (https://cloud.google.com/dataproc/docs/concepts/cluster-properties).",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "image": {
          "type": "string",
          "description": "Optional. Container image to use."
        },
        "pythonPackages": {
          "type": "array",
          "description": "Optional. A list of python packages to be installed. Valid formats include Cloud Storage URI to a PIP installable library. For example, gs://bucket-name/my/path/to/lib.tar.gz",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Container Image Runtime Configuration used with Batch execution.",
      "id": "GoogleCloudDataplexV1TaskInfrastructureSpecContainerImageRuntime"
    },
    "GoogleCloudDataplexV1ActionFailedSecurityPolicyApply": {
      "type": "object",
      "id": "GoogleCloudDataplexV1ActionFailedSecurityPolicyApply",
      "properties": {
        "asset": {
          "type": "string",
          "description": "Resource name of one of the assets with failing security policy application. Populated for a lake or zone resource only."
        }
      },
      "description": "Failed to apply security policy to the managed resource(s) under a lake, zone or an asset. For a lake or zone resource, one or more underlying assets has a failure applying security policy to the associated managed resource."
    },
    "GoogleCloudDataplexV1RunDataScanResponse": {
      "type": "object",
      "properties": {
        "job": {
          "description": "DataScanJob created by RunDataScan request.",
          "$ref": "GoogleCloudDataplexV1DataScanJob"
        }
      },
      "description": "Run DataScan Response.",
      "id": "GoogleCloudDataplexV1RunDataScanResponse"
    },
    "GoogleCloudDataplexV1RunDataScanRequest": {
      "id": "GoogleCloudDataplexV1RunDataScanRequest",
      "properties": {},
      "type": "object",
      "description": "Run DataScan Request"
    },
    "GoogleCloudDataplexV1ResourceAccessSpec": {
      "properties": {
        "owners": {
          "type": "array",
          "description": "Optional. The set of principals to be granted owner role on the resource.",
          "items": {
            "type": "string"
          }
        },
        "readers": {
          "description": "Optional. The format of strings follows the pattern followed by IAM in the bindings. user:{email}, serviceAccount:{email} group:{email}. The set of principals to be granted reader role on the resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "writers": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The set of principals to be granted writer role on the resource.",
          "type": "array"
        }
      },
      "description": "ResourceAccessSpec holds the access control configuration to be enforced on the resources, for example, Cloud Storage bucket, BigQuery dataset, BigQuery table.",
      "type": "object",
      "id": "GoogleCloudDataplexV1ResourceAccessSpec"
    },
    "GoogleCloudDataplexV1DataScanEventDataQualityAppliedConfigs": {
      "properties": {
        "samplingPercent": {
          "type": "number",
          "description": "The percentage of the records selected from the dataset for DataScan. Value ranges between 0.0 and 100.0. Value 0.0 or 100.0 imply that sampling was not applied.",
          "format": "float"
        },
        "rowFilterApplied": {
          "description": "Boolean indicating whether a row filter was applied in the DataScan job.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDataplexV1DataScanEventDataQualityAppliedConfigs",
      "description": "Applied configs for data quality type data scan job.",
      "type": "object"
    },
    "GoogleCloudDataplexV1ActionInvalidDataPartition": {
      "id": "GoogleCloudDataplexV1ActionInvalidDataPartition",
      "type": "object",
      "description": "Action details for invalid or unsupported partitions detected by discovery.",
      "properties": {
        "expectedStructure": {
          "enumDescriptions": [
            "PartitionStructure unspecified.",
            "Consistent hive-style partition definition (both raw and curated zone).",
            "Hive style partition definition (curated zone only)."
          ],
          "description": "The issue type of InvalidDataPartition.",
          "type": "string",
          "enum": [
            "PARTITION_STRUCTURE_UNSPECIFIED",
            "CONSISTENT_KEYS",
            "HIVE_STYLE_KEYS"
          ]
        }
      }
    },
    "GoogleCloudDataplexV1DataProfileResultProfileField": {
      "description": "A field within a table.",
      "id": "GoogleCloudDataplexV1DataProfileResultProfileField",
      "properties": {
        "mode": {
          "type": "string",
          "description": "The mode of the field. Possible values include: REQUIRED, if it is a required field. NULLABLE, if it is an optional field. REPEATED, if it is a repeated field."
        },
        "type": {
          "description": "The data type retrieved from the schema of the data source. For instance, for a BigQuery native table, it is the BigQuery Table Schema (https://cloud.google.com/bigquery/docs/reference/rest/v2/tables#tablefieldschema). For a Dataplex Entity, it is the Entity Schema (https://cloud.google.com/dataplex/docs/reference/rpc/google.cloud.dataplex.v1#type_3).",
          "type": "string"
        },
        "profile": {
          "description": "Profile information for the corresponding field.",
          "$ref": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfo"
        },
        "name": {
          "type": "string",
          "description": "The name of the field."
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1LakeMetastoreStatus": {
      "id": "GoogleCloudDataplexV1LakeMetastoreStatus",
      "type": "object",
      "description": "Status of Lake and Dataproc Metastore service instance association.",
      "properties": {
        "message": {
          "type": "string",
          "description": "Additional information about the current status."
        },
        "endpoint": {
          "type": "string",
          "description": "The URI of the endpoint used to access the Metastore service."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Last update time of the metastore status of the lake."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified.",
            "A Metastore service instance is not associated with the lake.",
            "A Metastore service instance is attached to the lake.",
            "Attach/detach is in progress.",
            "Attach/detach could not be done due to errors."
          ],
          "description": "Current state of association.",
          "enum": [
            "STATE_UNSPECIFIED",
            "NONE",
            "READY",
            "UPDATING",
            "ERROR"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1StorageAccess": {
      "type": "object",
      "id": "GoogleCloudDataplexV1StorageAccess",
      "properties": {
        "read": {
          "enum": [
            "ACCESS_MODE_UNSPECIFIED",
            "DIRECT",
            "MANAGED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Access mode unspecified.",
            "Default. Data is accessed directly using storage APIs.",
            "Data is accessed through a managed interface using BigQuery APIs."
          ],
          "readOnly": true,
          "description": "Output only. Describes the read access mechanism of the data. Not user settable."
        }
      },
      "description": "Describes the access mechanism of the data within its storage location."
    },
    "GoogleLongrunningCancelOperationRequest": {
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "id": "GoogleLongrunningCancelOperationRequest",
      "type": "object"
    },
    "GoogleIamV1AuditConfig": {
      "id": "GoogleIamV1AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs.If there are AuditConfigs for both allServices and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted.Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging.",
      "properties": {
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, storage.googleapis.com, cloudsql.googleapis.com. allServices is a special value that covers all services."
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1ContentSqlScript": {
      "description": "Configuration for the Sql Script content.",
      "properties": {
        "engine": {
          "enum": [
            "QUERY_ENGINE_UNSPECIFIED",
            "SPARK"
          ],
          "type": "string",
          "description": "Required. Query Engine to be used for the Sql Query.",
          "enumDescriptions": [
            "Value was unspecified.",
            "Spark SQL Query."
          ]
        }
      },
      "id": "GoogleCloudDataplexV1ContentSqlScript",
      "type": "object"
    },
    "GoogleCloudDataplexV1RunTaskRequest": {
      "id": "GoogleCloudDataplexV1RunTaskRequest",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDataplexV1ListJobsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "jobs": {
          "description": "Jobs under a given task.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1Job"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1ListJobsResponse",
      "description": "List jobs response."
    },
    "GoogleCloudDataplexV1ListDataAttributesResponse": {
      "description": "List DataAttributes response.",
      "id": "GoogleCloudDataplexV1ListDataAttributesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "unreachableLocations": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "dataAttributes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataAttribute"
          },
          "description": "DataAttributes under the given parent DataTaxonomy."
        }
      }
    },
    "GoogleCloudDataplexV1Job": {
      "type": "object",
      "description": "A job represents an instance of a task.",
      "properties": {
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the job was started.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED",
            "FAILED",
            "ABORTED"
          ],
          "enumDescriptions": [
            "The job state is unknown.",
            "The job is running.",
            "The job is cancelling.",
            "The job cancellation was successful.",
            "The job completed successfully.",
            "The job is no longer running due to an error.",
            "The job was cancelled outside of Dataplex."
          ],
          "type": "string",
          "description": "Output only. Execution state for the job."
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. System generated globally unique ID for the job."
        },
        "name": {
          "type": "string",
          "description": "Output only. The relative resource name of the job, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/tasks/{task_id}/jobs/{job_id}.",
          "readOnly": true
        },
        "retryCount": {
          "description": "Output only. The number of times the job has been retried (excluding the initial attempt).",
          "readOnly": true,
          "type": "integer",
          "format": "uint32"
        },
        "serviceJob": {
          "description": "Output only. The full resource name for the job run under a particular service.",
          "readOnly": true,
          "type": "string"
        },
        "service": {
          "description": "Output only. The underlying service running a job.",
          "enumDescriptions": [
            "Service used to run the job is unspecified.",
            "Dataproc service is used to run this job."
          ],
          "enum": [
            "SERVICE_UNSPECIFIED",
            "DATAPROC"
          ],
          "readOnly": true,
          "type": "string"
        },
        "message": {
          "readOnly": true,
          "description": "Output only. Additional information about the current state.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the job ended.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDataplexV1Job"
    },
    "GoogleCloudDataplexV1StorageFormat": {
      "id": "GoogleCloudDataplexV1StorageFormat",
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "Required. The mime type descriptor for the data. Must match the pattern {type}/{subtype}. Supported values: application/x-parquet application/x-avro application/x-orc application/x-tfrecord application/x-parquet+iceberg application/x-avro+iceberg application/x-orc+iceberg application/json application/{subtypes} text/csv text/ image/{image subtype} video/{video subtype} audio/{audio subtype}"
        },
        "csv": {
          "description": "Optional. Additional information about CSV formatted data.",
          "$ref": "GoogleCloudDataplexV1StorageFormatCsvOptions"
        },
        "format": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "PARQUET",
            "AVRO",
            "ORC",
            "CSV",
            "JSON",
            "IMAGE",
            "AUDIO",
            "VIDEO",
            "TEXT",
            "TFRECORD",
            "OTHER",
            "UNKNOWN"
          ],
          "description": "Output only. The data format associated with the stored data, which represents content type values. The value is inferred from mime type.",
          "enumDescriptions": [
            "Format unspecified.",
            "Parquet-formatted structured data.",
            "Avro-formatted structured data.",
            "Orc-formatted structured data.",
            "Csv-formatted semi-structured data.",
            "Json-formatted semi-structured data.",
            "Image data formats (such as jpg and png).",
            "Audio data formats (such as mp3, and wav).",
            "Video data formats (such as mp4 and mpg).",
            "Textual data formats (such as txt and xml).",
            "TensorFlow record format.",
            "Data that doesn't match a specific format.",
            "Data of an unknown format."
          ]
        },
        "json": {
          "description": "Optional. Additional information about CSV formatted data.",
          "$ref": "GoogleCloudDataplexV1StorageFormatJsonOptions"
        },
        "iceberg": {
          "description": "Optional. Additional information about iceberg tables.",
          "$ref": "GoogleCloudDataplexV1StorageFormatIcebergOptions"
        },
        "compressionFormat": {
          "enumDescriptions": [
            "CompressionFormat unspecified. Implies uncompressed data.",
            "GZip compressed set of files.",
            "BZip2 compressed set of files."
          ],
          "enum": [
            "COMPRESSION_FORMAT_UNSPECIFIED",
            "GZIP",
            "BZIP2"
          ],
          "description": "Optional. The compression type associated with the stored data. If unspecified, the data is uncompressed.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Describes the format of the data within its storage location."
    },
    "GoogleCloudDataplexV1DataAccessSpec": {
      "type": "object",
      "id": "GoogleCloudDataplexV1DataAccessSpec",
      "description": "DataAccessSpec holds the access control configuration to be enforced on data stored within resources (eg: rows, columns in BigQuery Tables). When associated with data, the data is only accessible to principals explicitly granted access through the DataAccessSpec. Principals with access to the containing resource are not implicitly granted access.",
      "properties": {
        "readers": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The format of strings follows the pattern followed by IAM in the bindings. user:{email}, serviceAccount:{email} group:{email}. The set of principals to be granted reader role on data stored within resources.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDataplexV1DataScanJob": {
      "description": "A DataScanJob represents an instance of DataScan execution.",
      "type": "object",
      "id": "GoogleCloudDataplexV1DataScanJob",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the DataScanJob was started.",
[...]
