{
  "kind": "discovery#restDescription",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "id": "dataflow:v1b3",
  "ownerName": "Google",
  "revision": "20230729",
  "parameters": {
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    }
  },
  "rootUrl": "https://dataflow.googleapis.com/",
  "mtlsRootUrl": "https://dataflow.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "schemas": {
    "Package": {
      "properties": {
        "location": {
          "description": "The resource to read the package from. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket} bucket.storage.googleapis.com/",
          "type": "string"
        },
        "name": {
          "description": "The name of the package.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Package",
      "description": "The packages that must be installed in order for a worker to run the steps of the Cloud Dataflow job that will be assigned to its worker pool. This is the mechanism by which the Cloud Dataflow SDK causes code to be loaded onto the workers. For example, the Cloud Dataflow Java SDK might use this to install jars containing the user's code and all of the various dependencies (libraries, data files, etc.) required in order for that code to run."
    },
    "GetDebugConfigResponse": {
      "type": "object",
      "properties": {
        "config": {
          "description": "The encoded debug configuration for the requested component.",
          "type": "string"
        }
      },
      "id": "GetDebugConfigResponse",
      "description": "Response to a get debug configuration request."
    },
    "SendWorkerMessagesRequest": {
      "properties": {
        "location": {
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job.",
          "type": "string"
        },
        "workerMessages": {
          "description": "The WorkerMessages to send.",
          "items": {
            "$ref": "WorkerMessage"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "A request for sending worker messages to the service.",
      "id": "SendWorkerMessagesRequest"
    },
    "StateFamilyConfig": {
      "id": "StateFamilyConfig",
      "type": "object",
      "description": "State family configuration.",
      "properties": {
        "isRead": {
          "type": "boolean",
          "description": "If true, this family corresponds to a read operation."
        },
        "stateFamily": {
          "type": "string",
          "description": "The state family value."
        }
      }
    },
    "WorkItemServiceState": {
      "description": "The Dataflow service's idea of the current state of a WorkItem being processed by a worker.",
      "type": "object",
      "id": "WorkItemServiceState",
      "properties": {
        "suggestedStopPoint": {
          "$ref": "ApproximateProgress",
          "description": "DEPRECATED in favor of split_request.",
          "deprecated": true
        },
        "completeWorkStatus": {
          "$ref": "Status",
          "description": "If set, a request to complete the work item with the given status. This will not be set to OK, unless supported by the specific kind of WorkItem. It can be used for the backend to indicate a WorkItem must terminate, e.g., for aborting work."
        },
        "hotKeyDetection": {
          "$ref": "HotKeyDetection",
          "description": "A hot key is a symptom of poor data distribution in which there are enough elements mapped to a single key to impact pipeline performance. When present, this field includes metadata associated with any hot key."
        },
        "leaseExpireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time at which the current lease will expire."
        },
        "reportStatusInterval": {
          "type": "string",
          "description": "New recommended reporting interval.",
          "format": "google-duration"
        },
        "nextReportIndex": {
          "format": "int64",
          "description": "The index value to use for the next report sent by the worker. Note: If the report call fails for whatever reason, the worker should reuse this index for subsequent report attempts.",
          "type": "string"
        },
        "suggestedStopPosition": {
          "description": "Obsolete, always empty.",
          "$ref": "Position",
          "deprecated": true
        },
        "splitRequest": {
          "description": "The progress point in the WorkItem where the Dataflow service suggests that the worker truncate the task.",
          "$ref": "ApproximateSplitRequest"
        },
        "metricShortId": {
          "description": "The short ids that workers should use in subsequent metric updates. Workers should strive to use short ids whenever possible, but it is ok to request the short_id again if a worker lost track of it (e.g. if the worker is recovering from a crash). NOTE: it is possible that the response may have short ids for a subset of the metrics.",
          "items": {
            "$ref": "MetricShortId"
          },
          "type": "array"
        },
        "harnessData": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Other data returned by the service, specific to the particular worker harness."
        }
      }
    },
    "StageSource": {
      "description": "Description of an input or output of an execution stage.",
      "properties": {
        "name": {
          "description": "Dataflow service generated name for this source.",
          "type": "string"
        },
        "userName": {
          "type": "string",
          "description": "Human-readable name for this source; may be user or system generated."
        },
        "originalTransformOrCollection": {
          "description": "User name for the original user transform or collection with which this source is most closely associated.",
          "type": "string"
        },
        "sizeBytes": {
          "description": "Size of the source, if measurable.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "StageSource"
    },
    "Environment": {
      "id": "Environment",
      "description": "Describes the environment in which a Dataflow Job runs.",
      "properties": {
        "serviceOptions": {
          "type": "array",
          "description": "The list of service options to enable. This field should be used for service related experiments only. These experiments, when graduating to GA, should be replaced by dedicated fields or become default (i.e. always on).",
          "items": {
            "type": "string"
          }
        },
        "debugOptions": {
          "$ref": "DebugOptions",
          "description": "Any debugging options to be supplied to the job."
        },
        "experiments": {
          "type": "array",
          "description": "The list of experiments to enable. This field should be used for SDK related experiments and not for service related experiments. The proper field for service related experiments is service_options.",
          "items": {
            "type": "string"
          }
        },
        "userAgent": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "A description of the process that generated the request.",
          "type": "object"
        },
        "version": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "A structure describing which components and their versions of the service are required in order to run the job."
        },
        "useStreamingEngineResourceBasedBilling": {
          "readOnly": true,
          "description": "Output only. Whether the job uses the new streaming engine billing model based on resource usage.",
          "type": "boolean"
        },
        "sdkPipelineOptions": {
          "description": "The Cloud Dataflow SDK pipeline options specified by the user. These options are passed through the service and are used to recreate the SDK pipeline options on the worker in a language agnostic and platform independent way.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "workerRegion": {
          "type": "string",
          "description": "The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, default to the control plane's region."
        },
        "serviceKmsKeyName": {
          "type": "string",
          "description": "If set, contains the Cloud KMS key identifier used to encrypt data at rest, AKA a Customer Managed Encryption Key (CMEK). Format: projects/PROJECT_ID/locations/LOCATION/keyRings/KEY_RING/cryptoKeys/KEY"
        },
        "workerZone": {
          "description": "The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity.",
          "type": "string"
        },
        "clusterManagerApiService": {
          "type": "string",
          "description": "The type of cluster manager API to use. If unknown or unspecified, the service will attempt to choose a reasonable default. This should be in the form of the API service name, e.g. \"compute.googleapis.com\"."
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "Identity to run virtual machines as. Defaults to the default account."
        },
        "tempStoragePrefix": {
          "description": "The prefix of the resources the system should use for temporary storage. The system will append the suffix \"/temp-{JOBNAME} to this resource prefix, where {JOBNAME} is the value of the job_name field. The resulting bucket and object prefix is used as the prefix of the resources used to store temporary data needed during the job execution. NOTE: This will override the value in taskrunner_settings. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}",
          "type": "string"
        },
        "internalExperiments": {
          "description": "Experimental settings.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "flexResourceSchedulingGoal": {
          "enum": [
            "FLEXRS_UNSPECIFIED",
            "FLEXRS_SPEED_OPTIMIZED",
            "FLEXRS_COST_OPTIMIZED"
          ],
          "type": "string",
          "description": "Which Flexible Resource Scheduling mode to run in.",
          "enumDescriptions": [
            "Run in the default mode.",
            "Optimize for lower execution time.",
            "Optimize for lower cost."
          ]
        },
        "shuffleMode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The shuffle mode used for the job.",
          "enum": [
            "SHUFFLE_MODE_UNSPECIFIED",
            "VM_BASED",
            "SERVICE_BASED"
          ],
          "enumDescriptions": [
            "Shuffle mode information is not available.",
            "Shuffle is done on the worker VMs.",
            "Shuffle is done on the service side."
          ]
        },
        "dataset": {
          "description": "The dataset for the current project where various workflow related tables are stored. The supported resource type is: Google BigQuery: bigquery.googleapis.com/{dataset}",
          "type": "string"
        },
        "workerPools": {
          "type": "array",
          "items": {
            "$ref": "WorkerPool"
          },
          "description": "The worker pools. At least one \"harness\" worker pool must be specified in order for the job to have workers."
        }
      },
      "type": "object"
    },
    "IntegerGauge": {
      "id": "IntegerGauge",
      "type": "object",
      "properties": {
        "value": {
          "description": "The value of the variable represented by this gauge.",
          "$ref": "SplitInt64"
        },
        "timestamp": {
          "type": "string",
          "description": "The time at which this value was measured. Measured as msecs from epoch.",
          "format": "google-datetime"
        }
      },
      "description": "A metric value representing temporal values of a variable."
    },
    "SpannerIODetails": {
      "description": "Metadata for a Spanner connector used by the job.",
      "id": "SpannerIODetails",
      "type": "object",
      "properties": {
        "instanceId": {
          "description": "InstanceId accessed in the connection.",
          "type": "string"
        },
        "databaseId": {
          "description": "DatabaseId accessed in the connection.",
          "type": "string"
        },
        "projectId": {
          "description": "ProjectId accessed in the connection.",
          "type": "string"
        }
      }
    },
    "ParameterMetadata": {
      "description": "Metadata for a specific parameter.",
      "id": "ParameterMetadata",
      "properties": {
        "enumOptions": {
          "type": "array",
          "description": "Optional. The options shown when ENUM ParameterType is specified.",
          "items": {
            "$ref": "ParameterMetadataEnumOption"
          }
        },
        "groupName": {
          "description": "Optional. Specifies a group name for this parameter to be rendered under. Group header text will be rendered exactly as specified in this field. Only considered when parent_name is NOT provided.",
          "type": "string"
        },
        "parentTriggerValues": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The value(s) of the 'parent_name' parameter which will trigger this parameter to be shown. If left empty, ANY non-empty value in parent_name will trigger this parameter to be shown. Only considered when this parameter is conditional (when 'parent_name' has been provided)."
        },
        "parentName": {
          "description": "Optional. Specifies the name of the parent parameter. Used in conjunction with 'parent_trigger_values' to make this parameter conditional (will only be rendered conditionally). Should be mappable to a ParameterMetadata.name field.",
          "type": "string"
        },
        "paramType": {
          "enumDescriptions": [
            "Default input type.",
            "The parameter specifies generic text input.",
            "The parameter specifies a Cloud Storage Bucket to read from.",
            "The parameter specifies a Cloud Storage Bucket to write to.",
            "The parameter specifies a Cloud Storage file path to read from.",
            "The parameter specifies a Cloud Storage file path to write to.",
            "The parameter specifies a Cloud Storage folder path to read from.",
            "The parameter specifies a Cloud Storage folder to write to.",
            "The parameter specifies a Pub/Sub Topic.",
            "The parameter specifies a Pub/Sub Subscription.",
            "The parameter specifies a BigQuery table.",
            "The parameter specifies a JavaScript UDF in Cloud Storage.",
            "The parameter specifies a Service Account email.",
            "The parameter specifies a Machine Type.",
            "The parameter specifies a KMS Key name.",
            "The parameter specifies a Worker Region.",
            "The parameter specifies a Worker Zone.",
            "The parameter specifies a boolean input.",
            "The parameter specifies an enum input.",
            "The parameter specifies a number input."
          ],
          "type": "string",
          "description": "Optional. The type of the parameter. Used for selecting input picker.",
          "enum": [
            "DEFAULT",
            "TEXT",
            "GCS_READ_BUCKET",
            "GCS_WRITE_BUCKET",
            "GCS_READ_FILE",
            "GCS_WRITE_FILE",
            "GCS_READ_FOLDER",
            "GCS_WRITE_FOLDER",
            "PUBSUB_TOPIC",
            "PUBSUB_SUBSCRIPTION",
            "BIGQUERY_TABLE",
            "JAVASCRIPT_UDF_FILE",
            "SERVICE_ACCOUNT",
            "MACHINE_TYPE",
            "KMS_KEY_NAME",
            "WORKER_REGION",
            "WORKER_ZONE",
            "BOOLEAN",
            "ENUM",
            "NUMBER"
          ]
        },
        "regexes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Regexes that the parameter must match."
        },
        "name": {
          "description": "Required. The name of the parameter.",
          "type": "string"
        },
        "customMetadata": {
          "description": "Optional. Additional metadata for describing this parameter.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "helpText": {
          "description": "Required. The help text to display for the parameter.",
          "type": "string"
        },
        "isOptional": {
          "type": "boolean",
          "description": "Optional. Whether the parameter is optional. Defaults to false."
        },
        "label": {
          "description": "Required. The label to display for the parameter.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "WorkerSettings": {
      "id": "WorkerSettings",
      "type": "object",
      "properties": {
        "tempStoragePrefix": {
          "type": "string",
          "description": "The prefix of the resources the system should use for temporary storage. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}"
        },
        "shuffleServicePath": {
          "description": "The Shuffle service path relative to the root URL, for example, \"shuffle/v1beta1\".",
          "type": "string"
        },
        "reportingEnabled": {
          "description": "Whether to send work progress updates to the service.",
          "type": "boolean"
        },
        "servicePath": {
          "type": "string",
          "description": "The Cloud Dataflow service path relative to the root URL, for example, \"dataflow/v1b3/projects\"."
        },
        "baseUrl": {
          "type": "string",
          "description": "The base URL for accessing Google Cloud APIs. When workers access Google Cloud APIs, they logically do so via relative URLs. If this field is specified, it supplies the base URL to use for resolving these relative URLs. The normative algorithm used is defined by RFC 1808, \"Relative Uniform Resource Locators\". If not specified, the default value is \"http://www.googleapis.com/\""
        },
        "workerId": {
          "description": "The ID of the worker running this pipeline.",
          "type": "string"
        }
      },
      "description": "Provides data to pass through to the worker harness."
    },
    "PubSubIODetails": {
      "properties": {
        "topic": {
          "type": "string",
          "description": "Topic accessed in the connection."
        },
        "subscription": {
          "description": "Subscription used in the connection.",
          "type": "string"
        }
      },
      "id": "PubSubIODetails",
      "type": "object",
      "description": "Metadata for a Pub/Sub connector used by the job."
    },
    "InstructionInput": {
      "type": "object",
      "properties": {
        "producerInstructionIndex": {
          "type": "integer",
          "description": "The index (origin zero) of the parallel instruction that produces the output to be consumed by this input. This index is relative to the list of instructions in this input's instruction's containing MapTask.",
          "format": "int32"
        },
        "outputNum": {
          "type": "integer",
          "description": "The output index (origin zero) within the producer.",
          "format": "int32"
        }
      },
      "id": "InstructionInput",
      "description": "An input of an instruction, as a reference to an output of a producer instruction."
    },
    "PipelineDescription": {
      "id": "PipelineDescription",
      "type": "object",
      "description": "A descriptive representation of submitted pipeline as well as the executed form. This data is provided by the Dataflow service for ease of visualizing the pipeline and interpreting Dataflow provided metrics.",
      "properties": {
        "originalPipelineTransform": {
          "type": "array",
          "items": {
            "$ref": "TransformSummary"
          },
          "description": "Description of each transform in the pipeline and collections between them."
        },
        "displayData": {
          "items": {
            "$ref": "DisplayData"
          },
          "description": "Pipeline level display data.",
          "type": "array"
        },
        "executionPipelineStage": {
          "type": "array",
          "items": {
            "$ref": "ExecutionStageSummary"
          },
          "description": "Description of each stage of execution of the pipeline."
        },
        "stepNamesHash": {
          "description": "A hash value of the submitted pipeline portable graph step names if exists.",
          "type": "string"
        }
      }
    },
    "ApproximateReportedProgress": {
      "type": "object",
      "id": "ApproximateReportedProgress",
      "properties": {
        "consumedParallelism": {
          "$ref": "ReportedParallelism",
          "description": "Total amount of parallelism in the portion of input of this task that has already been consumed and is no longer active. In the first two examples above (see remaining_parallelism), the value should be 29 or 2 respectively. The sum of remaining_parallelism and consumed_parallelism should equal the total amount of parallelism in this work item. If specified, must be finite."
        },
        "remainingParallelism": {
          "$ref": "ReportedParallelism",
          "description": "Total amount of parallelism in the input of this task that remains, (i.e. can be delegated to this task and any new tasks via dynamic splitting). Always at least 1 for non-finished work items and 0 for finished. \"Amount of parallelism\" refers to how many non-empty parts of the input can be read in parallel. This does not necessarily equal number of records. An input that can be read in parallel down to the individual records is called \"perfectly splittable\". An example of non-perfectly parallelizable input is a block-compressed file format where a block of records has to be read as a whole, but different blocks can be read in parallel. Examples: * If we are processing record #30 (starting at 1) out of 50 in a perfectly splittable 50-record input, this value should be 21 (20 remaining + 1 current). * If we are reading through block 3 in a block-compressed file consisting of 5 blocks, this value should be 3 (since blocks 4 and 5 can be processed in parallel by new tasks via dynamic splitting and the current task remains processing block 3). * If we are reading through the last block in a block-compressed file, or reading or processing the last record in a perfectly splittable input, this value should be 1, because apart from the current task, no additional remainder can be split off."
        },
        "fractionConsumed": {
          "type": "number",
          "format": "double",
          "description": "Completion as fraction of the input consumed, from 0.0 (beginning, nothing consumed), to 1.0 (end of the input, entire input consumed)."
        },
        "position": {
          "$ref": "Position",
          "description": "A Position within the work to represent a progress."
        }
      },
      "description": "A progress measurement of a WorkItem by a worker."
    },
    "WorkItemDetails": {
      "type": "object",
      "description": "Information about an individual work item execution.",
      "properties": {
        "attemptId": {
          "description": "Attempt ID of this work item",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "End time of this work item attempt. If the work item is completed, this is the actual end time of the work item. Otherwise, it is the predicted end time.",
          "type": "string"
        },
        "taskId": {
          "description": "Name of this work item.",
          "type": "string"
        },
        "progress": {
          "$ref": "ProgressTimeseries",
          "description": "Progress of this work item."
        },
        "state": {
          "description": "State of this work item.",
          "enumDescriptions": [
            "The component state is unknown or unspecified.",
            "The component is not yet running.",
            "The component is currently running.",
            "The component succeeded.",
            "The component failed.",
            "Execution of the component was cancelled."
          ],
          "type": "string",
          "enum": [
            "EXECUTION_STATE_UNKNOWN",
            "EXECUTION_STATE_NOT_STARTED",
            "EXECUTION_STATE_RUNNING",
            "EXECUTION_STATE_SUCCEEDED",
            "EXECUTION_STATE_FAILED",
            "EXECUTION_STATE_CANCELLED"
          ]
        },
        "metrics": {
          "items": {
            "$ref": "MetricUpdate"
          },
          "description": "Metrics for this work item.",
          "type": "array"
        },
        "stragglerInfo": {
          "$ref": "StragglerInfo",
          "description": "Information about straggler detections for this work item."
        },
        "startTime": {
          "type": "string",
          "description": "Start time of this work item attempt.",
          "format": "google-datetime"
        }
      },
      "id": "WorkItemDetails"
    },
    "SeqMapTask": {
      "properties": {
        "stageName": {
          "type": "string",
          "description": "System-defined name of the stage containing the SeqDo operation. Unique across the workflow."
        },
        "name": {
          "type": "string",
          "description": "The user-provided name of the SeqDo operation."
        },
        "userFn": {
          "type": "object",
          "description": "The user function to invoke.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "inputs": {
          "type": "array",
          "description": "Information about each of the inputs.",
          "items": {
            "$ref": "SideInputInfo"
          }
        },
        "outputInfos": {
          "items": {
            "$ref": "SeqMapTaskOutputInfo"
          },
          "type": "array",
          "description": "Information about each of the outputs."
        },
        "systemName": {
          "type": "string",
          "description": "System-defined name of the SeqDo operation. Unique across the workflow."
        }
      },
      "description": "Describes a particular function to invoke.",
      "id": "SeqMapTask",
      "type": "object"
    },
    "Job": {
      "properties": {
        "pipelineDescription": {
          "description": "Preliminary field: The format of this data may change at any time. A description of the user pipeline and stages through which it is executed. Created by Cloud Dataflow service. Only retrieved with JOB_VIEW_DESCRIPTION or JOB_VIEW_ALL.",
          "$ref": "PipelineDescription"
        },
        "transformNameMapping": {
          "description": "The map of transform name prefixes of the job to be replaced to the corresponding name prefixes of the new job.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "currentState": {
          "description": "The current state of the job. Jobs are created in the `JOB_STATE_STOPPED` state unless otherwise specified. A job in the `JOB_STATE_RUNNING` state may asynchronously enter a terminal state. After a job has reached a terminal state, no further state updates may be made. This field may be mutated by the Cloud Dataflow service; callers cannot mutate it.",
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_QUEUED",
            "JOB_STATE_RESOURCE_CLEANING_UP"
          ],
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not yet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed. This is a terminal job state. This state may be set by the Cloud Dataflow service, as a transition from `JOB_STATE_RUNNING`. It may also be set via a Cloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal state.",
            "`JOB_STATE_FAILED` indicates that the job has failed. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly cancelled. This is a terminal job state. This state may only be set via a Cloud Dataflow `UpdateJob` call, and only if the job has not yet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated, meaning that this job was stopped and another job was started, inheriting state from this one. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining. A draining job has stopped pulling from its input sources and is processing any data that remains in-flight. This state may be set via a Cloud Dataflow `UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs that are draining may only transition to `JOB_STATE_DRAINED`, `JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained. A drained job terminated by stopping pulling from its input sources and processing any data that remained in-flight when draining was requested. This state is a terminal state, may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_DRAINING`.",
            "`JOB_STATE_PENDING` indicates that the job has been created but is not yet running. Jobs that are pending may only transition to `JOB_STATE_RUNNING`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_CANCELLING` indicates that the job has been explicitly cancelled and is in the process of stopping. Jobs that are cancelling may only transition to `JOB_STATE_CANCELLED` or `JOB_STATE_FAILED`.",
            "`JOB_STATE_QUEUED` indicates that the job has been created but is being delayed until launch. Jobs that are queued may only transition to `JOB_STATE_PENDING` or `JOB_STATE_CANCELLED`.",
            "`JOB_STATE_RESOURCE_CLEANING_UP` indicates that the batch job's associated resources are currently being cleaned up after a successful run. Currently, this is an opt-in feature, please reach out to Cloud support team if you are interested."
          ],
          "type": "string"
        },
        "replaceJobId": {
          "type": "string",
          "description": "If this job is an update of an existing job, this field is the job ID of the job it replaced. When sending a `CreateJobRequest`, you can update a job by specifying it here. The job named here is stopped, and its intermediate state is transferred to this job."
        },
        "satisfiesPzs": {
          "description": "Reserved for future use. This field is set only in responses from the server; it is ignored if it is set in any requests.",
          "type": "boolean"
        },
        "type": {
          "description": "The type of Cloud Dataflow job.",
          "type": "string",
          "enumDescriptions": [
            "The type of the job is unspecified, or unknown.",
            "A batch job with a well-defined end point: data is read, data is processed, data is written, and the job is done.",
            "A continuously streaming job with no end: data is read, processed, and written continuously."
          ],
          "enum": [
            "JOB_TYPE_UNKNOWN",
            "JOB_TYPE_BATCH",
            "JOB_TYPE_STREAMING"
          ]
        },
        "clientRequestId": {
          "description": "The client's unique identifier of the job, re-used across retried attempts. If this field is set, the service will ensure its uniqueness. The request to create a job will fail if the service has knowledge of a previously submitted job with the same client's ID and job name. The caller may use this field to ensure idempotence of job creation across retried attempts to create a job. By default, the field is empty and, in that case, the service ignores it.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job."
        },
        "currentStateTime": {
          "format": "google-datetime",
          "description": "The timestamp associated with the current state.",
          "type": "string"
        },
        "jobMetadata": {
          "description": "This field is populated by the Dataflow service to support filtering jobs by the metadata values provided here. Populated for ListJobs and all GetJob views SUMMARY and higher.",
          "$ref": "JobMetadata"
        },
        "stepsLocation": {
          "type": "string",
          "description": "The Cloud Storage location where the steps are stored."
        },
        "requestedState": {
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not yet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed. This is a terminal job state. This state may be set by the Cloud Dataflow service, as a transition from `JOB_STATE_RUNNING`. It may also be set via a Cloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal state.",
            "`JOB_STATE_FAILED` indicates that the job has failed. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly cancelled. This is a terminal job state. This state may only be set via a Cloud Dataflow `UpdateJob` call, and only if the job has not yet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated, meaning that this job was stopped and another job was started, inheriting state from this one. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining. A draining job has stopped pulling from its input sources and is processing any data that remains in-flight. This state may be set via a Cloud Dataflow `UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs that are draining may only transition to `JOB_STATE_DRAINED`, `JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained. A drained job terminated by stopping pulling from its input sources and processing any data that remained in-flight when draining was requested. This state is a terminal state, may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_DRAINING`.",
            "`JOB_STATE_PENDING` indicates that the job has been created but is not yet running. Jobs that are pending may only transition to `JOB_STATE_RUNNING`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_CANCELLING` indicates that the job has been explicitly cancelled and is in the process of stopping. Jobs that are cancelling may only transition to `JOB_STATE_CANCELLED` or `JOB_STATE_FAILED`.",
            "`JOB_STATE_QUEUED` indicates that the job has been created but is being delayed until launch. Jobs that are queued may only transition to `JOB_STATE_PENDING` or `JOB_STATE_CANCELLED`.",
            "`JOB_STATE_RESOURCE_CLEANING_UP` indicates that the batch job's associated resources are currently being cleaned up after a successful run. Currently, this is an opt-in feature, please reach out to Cloud support team if you are interested."
          ],
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_QUEUED",
            "JOB_STATE_RESOURCE_CLEANING_UP"
          ],
          "description": "The job's requested state. `UpdateJob` may be used to switch between the `JOB_STATE_STOPPED` and `JOB_STATE_RUNNING` states, by setting requested_state. `UpdateJob` may also be used to directly set a job's requested state to `JOB_STATE_CANCELLED` or `JOB_STATE_DONE`, irrevocably terminating the job if it has not already reached a terminal state.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The unique ID of this job. This field is set by the Cloud Dataflow service when the Job is created, and is immutable for the life of the job."
        },
        "environment": {
          "description": "The environment for the job.",
          "$ref": "Environment"
        },
        "runtimeUpdatableParams": {
          "description": "This field may ONLY be modified at runtime using the projects.jobs.update method to adjust job behavior. This field has no effect when specified at job creation.",
          "$ref": "RuntimeUpdatableParams"
        },
        "tempFiles": {
          "description": "A set of files the system should be aware of that are used for temporary storage. These temporary files will be removed on job completion. No duplicates are allowed. No file patterns are supported. The supported files are: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "createdFromSnapshotId": {
          "type": "string",
          "description": "If this is specified, the job's initial state is populated from the given snapshot."
        },
        "labels": {
          "description": "User-defined labels for this job. The labels map can contain no more than 64 entries. Entries of the labels map are UTF8 strings that comply with the following restrictions: * Keys must conform to regexp: \\p{Ll}\\p{Lo}{0,62} * Values must conform to regexp: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} * Both keys and values are additionally constrained to be \u003c= 128 bytes in size.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "projectId": {
          "description": "The ID of the Cloud Platform project that the job belongs to.",
          "type": "string"
        },
        "executionInfo": {
          "$ref": "JobExecutionInfo",
          "description": "Deprecated."
        },
        "stageStates": {
          "type": "array",
          "description": "This field may be mutated by the Cloud Dataflow service; callers cannot mutate it.",
          "items": {
            "$ref": "ExecutionStageState"
          }
        },
        "replacedByJobId": {
          "type": "string",
          "description": "If another job is an update of this job (and thus, this job is in `JOB_STATE_UPDATED`), this field contains the ID of that job."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp when the job was started (transitioned to JOB_STATE_PENDING). Flexible resource scheduling jobs are started with some delay after job creation, so start_time is unset before start and is updated when the job is started by the Cloud Dataflow service. For other jobs, start_time always equals to create_time and is immutable and set by the Cloud Dataflow service."
        },
        "createTime": {
          "description": "The timestamp when the job was initially created. Immutable and set by the Cloud Dataflow service.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The user-specified Cloud Dataflow job name. Only one Job with a given name can exist in a project within one region at any given time. Jobs in different regions can have the same name. If a caller attempts to create a Job with the same name as an already-existing Job, the attempt returns the existing Job. The name must match the regular expression `[a-z]([-a-z0-9]{0,1022}[a-z0-9])?`"
        },
        "steps": {
          "items": {
            "$ref": "Step"
          },
          "description": "Exactly one of step or steps_location should be specified. The top-level steps that constitute the entire job. Only retrieved with JOB_VIEW_ALL.",
          "type": "array"
        }
      },
      "id": "Job",
      "type": "object",
      "description": "Defines a job to be run by the Cloud Dataflow service. Do not enter confidential information when you supply string values using the API."
    },
    "ContainerSpec": {
      "id": "ContainerSpec",
      "properties": {
        "metadata": {
          "description": "Metadata describing a template including description and validation rules.",
          "$ref": "TemplateMetadata"
        },
        "defaultEnvironment": {
          "description": "Default runtime environment for the job.",
          "$ref": "FlexTemplateRuntimeEnvironment"
        },
        "image": {
          "description": "Name of the docker container image. E.g., gcr.io/project/some-image",
          "type": "string"
        },
        "imageRepositoryPasswordSecretId": {
          "description": "Secret Manager secret id for password to authenticate to private registry.",
          "type": "string"
        },
        "imageRepositoryUsernameSecretId": {
          "description": "Secret Manager secret id for username to authenticate to private registry.",
          "type": "string"
        },
        "sdkInfo": {
          "description": "Required. SDK info of the Flex Template.",
          "$ref": "SDKInfo"
        },
        "imageRepositoryCertPath": {
          "type": "string",
          "description": "Cloud Storage path to self-signed certificate of private registry."
        }
      },
      "description": "Container Spec.",
      "type": "object"
    },
    "DataSamplingConfig": {
      "id": "DataSamplingConfig",
      "description": "Configuration options for sampling elements.",
      "type": "object",
      "properties": {
        "behaviors": {
          "items": {
            "enum": [
              "DATA_SAMPLING_BEHAVIOR_UNSPECIFIED",
              "DISABLED",
              "ALWAYS_ON",
              "EXCEPTIONS"
            ],
            "enumDescriptions": [
              "If given, has no effect on sampling behavior. Used as an unknown or unset sentinel value.",
              "When given, disables element sampling. Has same behavior as not setting the behavior.",
              "When given, enables sampling in-flight from all PCollections.",
              "When given, enables sampling input elements when a user-defined DoFn causes an exception."
            ],
            "type": "string"
          },
          "description": "List of given sampling behaviors to enable. For example, specifying behaviors = [ALWAYS_ON] samples in-flight elements but does not sample exceptions. Can be used to specify multiple behaviors like, behaviors = [ALWAYS_ON, EXCEPTIONS] for specifying periodic sampling and exception sampling. If DISABLED is in the list, then sampling will be disabled and ignore the other given behaviors. Ordering does not matter.",
          "type": "array"
        }
      }
    },
    "GetTemplateResponse": {
      "description": "The response to a GetTemplate request.",
      "properties": {
        "metadata": {
          "description": "The template metadata describing the template name, available parameters, etc.",
          "$ref": "TemplateMetadata"
        },
        "templateType": {
          "type": "string",
          "description": "Template Type.",
          "enumDescriptions": [
            "Unknown Template Type.",
            "Legacy Template.",
            "Flex Template."
          ],
          "enum": [
            "UNKNOWN",
            "LEGACY",
            "FLEX"
          ]
        },
        "status": {
          "description": "The status of the get template request. Any problems with the request will be indicated in the error_details.",
          "$ref": "Status"
        },
        "runtimeMetadata": {
          "description": "Describes the runtime metadata with SDKInfo and available parameters.",
          "$ref": "RuntimeMetadata"
        }
      },
      "id": "GetTemplateResponse",
      "type": "object"
    },
    "MetricShortId": {
      "description": "The metric short id is returned to the user alongside an offset into ReportWorkItemStatusRequest",
      "id": "MetricShortId",
      "type": "object",
      "properties": {
        "metricIndex": {
          "format": "int32",
          "description": "The index of the corresponding metric in the ReportWorkItemStatusRequest. Required.",
          "type": "integer"
        },
        "shortId": {
          "type": "string",
          "format": "int64",
          "description": "The service-generated short identifier for the metric."
        }
      }
    },
    "RuntimeUpdatableParams": {
      "type": "object",
      "description": "Additional job parameters that can only be updated during runtime using the projects.jobs.update method. These fields have no effect when specified during job creation.",
      "properties": {
        "maxNumWorkers": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of workers to cap autoscaling at. This field is currently only supported for Streaming Engine jobs."
        },
        "minNumWorkers": {
          "format": "int32",
          "type": "integer",
          "description": "The minimum number of workers to scale down to. This field is currently only supported for Streaming Engine jobs."
        }
      },
      "id": "RuntimeUpdatableParams"
    },
    "StragglerSummary": {
      "type": "object",
      "properties": {
        "recentStragglers": {
          "items": {
            "$ref": "Straggler"
          },
          "description": "The most recent stragglers.",
          "type": "array"
        },
        "stragglerCauseCount": {
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "description": "Aggregated counts of straggler causes, keyed by the string representation of the StragglerCause enum.",
          "type": "object"
        },
        "totalStragglerCount": {
          "description": "The total count of stragglers.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Summarized straggler identification details.",
      "id": "StragglerSummary"
    },
    "SourceSplitShard": {
      "description": "DEPRECATED in favor of DerivedSource.",
      "id": "SourceSplitShard",
      "properties": {
        "source": {
          "description": "DEPRECATED",
          "$ref": "Source"
        },
        "derivationMode": {
          "description": "DEPRECATED",
          "enum": [
            "SOURCE_DERIVATION_MODE_UNKNOWN",
            "SOURCE_DERIVATION_MODE_INDEPENDENT",
            "SOURCE_DERIVATION_MODE_CHILD_OF_CURRENT",
            "SOURCE_DERIVATION_MODE_SIBLING_OF_CURRENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "The source derivation is unknown, or unspecified.",
            "Produce a completely independent Source with no base.",
            "Produce a Source based on the Source being split.",
            "Produce a Source based on the base of the Source being split."
          ]
        }
      },
      "type": "object"
    },
    "ComponentSource": {
      "type": "object",
      "description": "Description of an interstitial value between transforms in an execution stage.",
      "properties": {
        "name": {
          "description": "Dataflow service generated name for this source.",
          "type": "string"
        },
        "userName": {
          "type": "string",
          "description": "Human-readable name for this transform; may be user or system generated."
        },
        "originalTransformOrCollection": {
          "type": "string",
          "description": "User name for the original user transform or collection with which this source is most closely associated."
        }
      },
      "id": "ComponentSource"
    },
    "LeaseWorkItemResponse": {
      "type": "object",
      "description": "Response to a request to lease WorkItems.",
      "properties": {
        "workItems": {
          "description": "A list of the leased WorkItems.",
          "type": "array",
          "items": {
            "$ref": "WorkItem"
          }
        },
        "unifiedWorkerResponse": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Untranslated bag-of-bytes WorkResponse for UnifiedWorker."
        }
      },
      "id": "LeaseWorkItemResponse"
    },
    "WorkerThreadScalingReport": {
      "properties": {
        "currentThreadCount": {
          "type": "integer",
          "description": "Current number of active threads in a worker.",
          "format": "int32"
        }
      },
      "description": "Contains information about the thread scaling information of a worker.",
      "id": "WorkerThreadScalingReport",
      "type": "object"
    },
    "ListJobsResponse": {
      "id": "ListJobsResponse",
      "type": "object",
      "properties": {
        "failedLocation": {
          "description": "Zero or more messages describing the [regional endpoints] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that failed to respond.",
          "type": "array",
          "items": {
            "$ref": "FailedLocation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Set if there may be more results than fit in this response."
        },
        "jobs": {
          "items": {
            "$ref": "Job"
          },
          "type": "array",
          "description": "A subset of the requested job information."
        }
      },
      "description": "Response to a request to list Cloud Dataflow jobs in a project. This might be a partial response, depending on the page size in the ListJobsRequest. However, if the project does not have any jobs, an instance of ListJobsResponse is not returned and the requests's response body is empty {}."
    },
    "DataSamplingReport": {
      "id": "DataSamplingReport",
      "properties": {
        "elementsSampledBytes": {
          "description": "Optional. Delta of bytes sampled from previous report.",
          "format": "int64",
          "type": "string"
        },
        "translationErrorsCount": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Delta of errors counts from retrieving, or translating the samples from previous report."
        },
        "bytesWrittenDelta": {
          "format": "int64",
          "description": "Optional. Delta of bytes written to file from previous report.",
          "type": "string"
        },
        "pcollectionsSampledCount": {
          "format": "int64",
          "description": "Optional. Delta of number of PCollections sampled from previous report.",
          "type": "string"
        },
        "elementsSampledCount": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Delta of number of elements sampled from previous report."
        },
        "persistenceErrorsCount": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Delta of errors counts from persisting the samples from previous report."
        },
        "exceptionsSampledCount": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Delta of number of samples taken from user code exceptions from previous report."
        }
      },
      "description": "Contains per-worker telemetry about the data sampling feature.",
      "type": "object"
    },
    "PartialGroupByKeyInstruction": {
      "description": "An instruction that does a partial group-by-key. One input and one output.",
      "type": "object",
      "properties": {
        "valueCombiningFn": {
          "description": "The value combining function to invoke.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "inputElementCodec": {
          "type": "object",
          "description": "The codec to use for interpreting an element in the input PTable.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "originalCombineValuesInputStoreName": {
          "type": "string",
          "description": "If this instruction includes a combining function this is the name of the intermediate store between the GBK and the CombineValues."
        },
        "input": {
          "$ref": "InstructionInput",
          "description": "Describes the input to the partial group-by-key instruction."
        },
        "originalCombineValuesStepName": {
          "type": "string",
          "description": "If this instruction includes a combining function, this is the name of the CombineValues instruction lifted into this instruction."
        },
        "sideInputs": {
          "description": "Zero or more side inputs.",
          "type": "array",
          "items": {
            "$ref": "SideInputInfo"
          }
        }
      },
      "id": "PartialGroupByKeyInstruction"
    },
    "WorkerHealthReportResponse": {
      "properties": {
        "reportInterval": {
          "type": "string",
          "format": "google-duration",
          "description": "A positive value indicates the worker should change its reporting interval to the specified value. The default value of zero means no change in report rate is requested by the server."
        }
      },
      "description": "WorkerHealthReportResponse contains information returned to the worker in response to a health ping.",
      "id": "WorkerHealthReportResponse",
      "type": "object"
    },
    "ExecutionStageSummary": {
      "description": "Description of the composing transforms, names/ids, and input/outputs of a stage of execution. Some composing transforms and sources may have been generated by the Dataflow service during execution planning.",
      "id": "ExecutionStageSummary",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Type of transform this stage is executing.",
          "type": "string",
          "enumDescriptions": [
            "Unrecognized transform type.",
            "ParDo transform.",
            "Group By Key transform.",
            "Flatten transform.",
            "Read transform.",
            "Write transform.",
            "Constructs from a constant value, such as with Create.of.",
            "Creates a Singleton view of a collection.",
            "Opening or closing a shuffle session, often as part of a GroupByKey."
          ],
          "enum": [
            "UNKNOWN_KIND",
            "PAR_DO_KIND",
            "GROUP_BY_KEY_KIND",
            "FLATTEN_KIND",
            "READ_KIND",
            "WRITE_KIND",
            "CONSTANT_KIND",
            "SINGLETON_KIND",
            "SHUFFLE_KIND"
          ]
        },
        "id": {
          "description": "Dataflow service generated id for this stage.",
          "type": "string"
        },
        "prerequisiteStage": {
          "description": "Other stages that must complete before this stage can run.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "componentTransform": {
          "description": "Transforms that comprise this execution stage.",
          "items": {
            "$ref": "ComponentTransform"
          },
          "type": "array"
        },
        "componentSource": {
          "items": {
            "$ref": "ComponentSource"
          },
          "description": "Collections produced and consumed by component transforms of this stage.",
          "type": "array"
        },
        "inputSource": {
          "type": "array",
          "description": "Input sources for this stage.",
          "items": {
            "$ref": "StageSource"
          }
        },
        "name": {
          "type": "string",
          "description": "Dataflow service generated name for this stage."
        },
        "outputSource": {
          "type": "array",
          "items": {
            "$ref": "StageSource"
          },
          "description": "Output sources for this stage."
        }
      }
    },
    "DatastoreIODetails": {
      "id": "DatastoreIODetails",
      "description": "Metadata for a Datastore connector used by the job.",
      "type": "object",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "ProjectId accessed in the connection."
        },
        "namespace": {
          "description": "Namespace used in the connection.",
          "type": "string"
        }
      }
    },
    "SendDebugCaptureRequest": {
      "description": "Request to send encoded debug information. Next ID: 8",
      "properties": {
        "data": {
          "description": "The encoded debug information.",
          "type": "string"
        },
        "componentId": {
          "description": "The internal component id for which debug information is sent.",
          "type": "string"
        },
        "dataFormat": {
          "description": "Format for the data field above (id=5).",
          "type": "string",
          "enumDescriptions": [
            "Format unspecified, parsing is determined based upon page type and legacy encoding. (go/protodosdonts#do-include-an-unspecified-value-in-an-enum)",
            "Raw HTML string.",
            "JSON-encoded string.",
            "Websafe encoded zlib-compressed string.",
            "Websafe encoded brotli-compressed string."
          ],
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "RAW",
            "JSON",
            "ZLIB",
            "BROTLI"
          ]
        },
        "location": {
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
          "type": "string"
        },
        "workerId": {
          "type": "string",
          "description": "The worker id, i.e., VM hostname."
        }
      },
      "type": "object",
      "id": "SendDebugCaptureRequest"
    },
    "TransformSummary": {
      "description": "Description of the type, names/ids, and input/outputs for a transform.",
      "properties": {
        "name": {
          "type": "string",
          "description": "User provided name for this transform instance."
        },
        "outputCollectionName": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "User names for all collection outputs to this transform."
        },
        "id": {
          "type": "string",
          "description": "SDK generated id of this transform instance."
        },
        "inputCollectionName": {
          "description": "User names for all collection inputs to this transform.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayData": {
          "description": "Transform-specific display data.",
          "items": {
            "$ref": "DisplayData"
          },
          "type": "array"
        },
        "kind": {
          "description": "Type of transform.",
          "enum": [
            "UNKNOWN_KIND",
            "PAR_DO_KIND",
            "GROUP_BY_KEY_KIND",
            "FLATTEN_KIND",
            "READ_KIND",
            "WRITE_KIND",
            "CONSTANT_KIND",
            "SINGLETON_KIND",
            "SHUFFLE_KIND"
          ],
          "enumDescriptions": [
            "Unrecognized transform type.",
            "ParDo transform.",
            "Group By Key transform.",
            "Flatten transform.",
            "Read transform.",
            "Write transform.",
            "Constructs from a constant value, such as with Create.of.",
            "Creates a Singleton view of a collection.",
            "Opening or closing a shuffle session, often as part of a GroupByKey."
          ],
          "type": "string"
        }
      },
      "id": "TransformSummary",
      "type": "object"
    },
    "Point": {
      "properties": {
        "time": {
          "format": "google-datetime",
          "description": "The timestamp of the point.",
          "type": "string"
        },
        "value": {
          "format": "double",
          "type": "number",
          "description": "The value of the point."
        }
      },
      "id": "Point",
      "description": "A point in the timeseries.",
      "type": "object"
    },
    "DeleteSnapshotResponse": {
      "description": "Response from deleting a snapshot.",
      "id": "DeleteSnapshotResponse",
      "properties": {},
      "type": "object"
    },
    "WorkerThreadScalingReportResponse": {
      "id": "WorkerThreadScalingReportResponse",
      "type": "object",
      "properties": {
        "recommendedThreadCount": {
          "type": "integer",
          "format": "int32",
          "description": "Recommended number of threads for a worker."
        }
      },
      "description": "Contains the thread scaling recommendation for a worker from the backend."
    },
    "ReportWorkItemStatusRequest": {
      "type": "object",
      "id": "ReportWorkItemStatusRequest",
      "properties": {
        "location": {
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job.",
          "type": "string"
        },
        "workItemStatuses": {
          "type": "array",
          "description": "The order is unimportant, except that the order of the WorkItemServiceState messages in the ReportWorkItemStatusResponse corresponds to the order of WorkItemStatus messages here.",
          "items": {
            "$ref": "WorkItemStatus"
          }
        },
        "unifiedWorkerRequest": {
          "description": "Untranslated bag-of-bytes WorkProgressUpdateRequest from UnifiedWorker.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "workerId": {
          "description": "The ID of the worker reporting the WorkItem status. If this does not match the ID of the worker which the Dataflow service believes currently has the lease on the WorkItem, the report will be dropped (with an error response).",
          "type": "string"
        },
        "currentWorkerTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The current timestamp at the worker."
        }
      },
      "description": "Request to report the status of WorkItems."
    },
    "LaunchFlexTemplateResponse": {
      "type": "object",
      "properties": {
        "job": {
          "description": "The job that was launched, if the request was not a dry run and the job was successfully launched.",
          "$ref": "Job"
        }
      },
      "id": "LaunchFlexTemplateResponse",
      "description": "Response to the request to launch a job from Flex Template."
    },
    "WorkerShutdownNotice": {
      "type": "object",
      "description": "Shutdown notification from workers. This is to be sent by the shutdown script of the worker VM so that the backend knows that the VM is being shut down.",
      "id": "WorkerShutdownNotice",
      "properties": {
        "reason": {
          "type": "string",
          "description": "The reason for the worker shutdown. Current possible values are: \"UNKNOWN\": shutdown reason is unknown. \"PREEMPTION\": shutdown reason is preemption. Other possible reasons may be added in the future."
        }
      }
    },
    "IntegerMean": {
      "type": "object",
      "description": "A representation of an integer mean metric contribution.",
      "id": "IntegerMean",
      "properties": {
        "sum": {
          "$ref": "SplitInt64",
          "description": "The sum of all values being aggregated."
        },
        "count": {
          "description": "The number of values being aggregated.",
          "$ref": "SplitInt64"
        }
      }
    },
    "Straggler": {
      "description": "Information for a straggler.",
      "properties": {
        "streamingStraggler": {
          "description": "Streaming straggler identification and debugging information.",
          "$ref": "StreamingStragglerInfo"
        },
        "batchStraggler": {
          "$ref": "StragglerInfo",
          "description": "Batch straggler identification and debugging information."
        }
      },
      "type": "object",
      "id": "Straggler"
    },
    "ExecutionStageState": {
      "type": "object",
      "id": "ExecutionStageState",
      "properties": {
        "executionStageState": {
          "type": "string",
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not yet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed. This is a terminal job state. This state may be set by the Cloud Dataflow service, as a transition from `JOB_STATE_RUNNING`. It may also be set via a Cloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal state.",
            "`JOB_STATE_FAILED` indicates that the job has failed. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly cancelled. This is a terminal job state. This state may only be set via a Cloud Dataflow `UpdateJob` call, and only if the job has not yet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated, meaning that this job was stopped and another job was started, inheriting state from this one. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining. A draining job has stopped pulling from its input sources and is processing any data that remains in-flight. This state may be set via a Cloud Dataflow `UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs that are draining may only transition to `JOB_STATE_DRAINED`, `JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained. A drained job terminated by stopping pulling from its input sources and processing any data that remained in-flight when draining was requested. This state is a terminal state, may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_DRAINING`.",
            "`JOB_STATE_PENDING` indicates that the job has been created but is not yet running. Jobs that are pending may only transition to `JOB_STATE_RUNNING`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_CANCELLING` indicates that the job has been explicitly cancelled and is in the process of stopping. Jobs that are cancelling may only transition to `JOB_STATE_CANCELLED` or `JOB_STATE_FAILED`.",
            "`JOB_STATE_QUEUED` indicates that the job has been created but is being delayed until launch. Jobs that are queued may only transition to `JOB_STATE_PENDING` or `JOB_STATE_CANCELLED`.",
            "`JOB_STATE_RESOURCE_CLEANING_UP` indicates that the batch job's associated resources are currently being cleaned up after a successful run. Currently, this is an opt-in feature, please reach out to Cloud support team if you are interested."
          ],
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_QUEUED",
            "JOB_STATE_RESOURCE_CLEANING_UP"
          ],
          "description": "Executions stage states allow the same set of values as JobState."
        },
        "currentStateTime": {
          "description": "The time at which the stage transitioned to this state.",
          "format": "google-datetime",
          "type": "string"
        },
        "executionStageName": {
          "type": "string",
          "description": "The name of the execution stage."
        }
      },
      "description": "A message describing the state of a particular execution stage."
    },
    "WriteInstruction": {
      "type": "object",
      "description": "An instruction that writes records. Takes one input, produces no outputs.",
      "id": "WriteInstruction",
      "properties": {
        "input": {
          "$ref": "InstructionInput",
          "description": "The input."
        },
        "sink": {
          "$ref": "Sink",
          "description": "The sink to write to."
        }
      }
    },
    "StragglerDebuggingInfo": {
      "properties": {
        "hotKey": {
          "description": "Hot key debugging details.",
          "$ref": "HotKeyDebuggingInfo"
        }
      },
      "description": "Information useful for debugging a straggler. Each type will provide specialized debugging information relevant for a particular cause. The StragglerDebuggingInfo will be 1:1 mapping to the StragglerCause enum.",
      "type": "object",
      "id": "StragglerDebuggingInfo"
    },
    "WorkerLifecycleEvent": {
      "properties": {
        "containerStartTime": {
          "description": "The start time of this container. All events will report this so that events can be grouped together across container/VM restarts.",
          "type": "string",
          "format": "google-datetime"
        },
        "event": {
          "enumDescriptions": [
            "Invalid event.",
            "The time the VM started.",
            "Our container code starts running. Multiple containers could be distinguished with WorkerMessage.labels if desired.",
            "The worker has a functional external network connection.",
            "Started downloading staging files.",
            "Finished downloading all staging files.",
            "For applicable SDKs, started installation of SDK and worker packages.",
            "Finished installing SDK."
          ],
          "enum": [
            "UNKNOWN_EVENT",
            "OS_START",
            "CONTAINER_START",
            "NETWORK_UP",
            "STAGING_FILES_DOWNLOAD_START",
            "STAGING_FILES_DOWNLOAD_FINISH",
            "SDK_INSTALL_START",
            "SDK_INSTALL_FINISH"
          ],
          "type": "string",
          "description": "The event being reported."
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Other stats that can accompany an event. E.g. { \"downloaded_bytes\" : \"123456\" }",
          "type": "object"
        }
      },
      "description": "A report of an event in a worker's lifecycle. The proto contains one event, because the worker is expected to asynchronously send each message immediately after the event. Due to this asynchrony, messages may arrive out of order (or missing), and it is up to the consumer to interpret. The timestamp of the event is in the enclosing WorkerMessage proto.",
      "id": "WorkerLifecycleEvent",
      "type": "object"
    },
    "SeqMapTaskOutputInfo": {
      "id": "SeqMapTaskOutputInfo",
      "properties": {
        "tag": {
          "description": "The id of the TupleTag the user code will tag the output value by.",
          "type": "string"
        },
        "sink": {
          "description": "The sink to write the output value to.",
          "$ref": "Sink"
        }
      },
      "description": "Information about an output of a SeqMapTask.",
      "type": "object"
    },
    "SDKInfo": {
      "description": "SDK Information.",
      "type": "object",
      "id": "SDKInfo",
      "properties": {
        "version": {
          "type": "string",
          "description": "Optional. The SDK version."
        },
        "language": {
          "enumDescriptions": [
            "UNKNOWN Language.",
            "Java.",
            "Python.",
            "Go."
          ],
          "enum": [
            "UNKNOWN",
            "JAVA",
            "PYTHON",
            "GO"
          ],
          "type": "string",
          "description": "Required. The SDK Language."
        }
      }
    },
    "SdkHarnessContainerImage": {
      "type": "object",
      "properties": {
        "environmentId": {
          "type": "string",
          "description": "Environment ID for the Beam runner API proto Environment that corresponds to the current SDK Harness."
        },
        "useSingleCorePerContainer": {
          "type": "boolean",
          "description": "If true, recommends the Dataflow service to use only one core per SDK container instance with this image. If false (or unset) recommends using more than one core per SDK container instance with this image for efficiency. Note that Dataflow service may choose to override this property if needed."
        },
        "containerImage": {
          "type": "string",
          "description": "A docker container image that resides in Google Container Registry."
        },
        "capabilities": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of capabilities enumerated in the above Environment proto. See also [beam_runner_api.proto](https://github.com/apache/beam/blob/master/model/pipeline/src/main/proto/org/apache/beam/model/pipeline/v1/beam_runner_api.proto)"
        }
      },
      "description": "Defines an SDK harness container for executing Dataflow pipelines.",
      "id": "SdkHarnessContainerImage"
    },
    "Histogram": {
      "description": "Histogram of value counts for a distribution. Buckets have an inclusive lower bound and exclusive upper bound and use \"1,2,5 bucketing\": The first bucket range is from [0,1) and all subsequent bucket boundaries are powers of ten multiplied by 1, 2, or 5. Thus, bucket boundaries are 0, 1, 2, 5, 10, 20, 50, 100, 200, 500, 1000, ... Negative values are not supported.",
      "properties": {
        "firstBucketOffset": {
          "format": "int32",
          "description": "Starting index of first stored bucket. The non-inclusive upper-bound of the ith bucket is given by: pow(10,(i-first_bucket_offset)/3) * (1,2,5)[(i-first_bucket_offset)%3]",
          "type": "integer"
        },
        "bucketCounts": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Counts of values in each bucket. For efficiency, prefix and trailing buckets with count = 0 are elided. Buckets can store the full range of values of an unsigned long, with ULLONG_MAX falling into the 59th bucket with range [1e19, 2e19)."
        }
      },
      "type": "object",
      "id": "Histogram"
    },
    "SendWorkerMessagesResponse": {
      "properties": {
        "workerMessageResponses": {
          "description": "The servers response to the worker messages.",
          "type": "array",
          "items": {
            "$ref": "WorkerMessageResponse"
          }
        }
      },
      "type": "object",
      "description": "The response to the worker messages.",
      "id": "SendWorkerMessagesResponse"
    },
    "ProgressTimeseries": {
      "id": "ProgressTimeseries",
      "description": "Information about the progress of some component of job execution.",
      "type": "object",
      "properties": {
        "currentProgress": {
          "description": "The current progress of the component, in the range [0,1].",
          "type": "number",
          "format": "double"
        },
        "dataPoints": {
          "type": "array",
          "description": "History of progress for the component. Points are sorted by time.",
          "items": {
            "$ref": "Point"
          }
        }
      }
    },
    "WorkerDetails": {
      "properties": {
        "workerName": {
          "description": "Name of this worker",
          "type": "string"
        },
        "workItems": {
          "description": "Work items processed by this worker, sorted by time.",
          "type": "array",
          "items": {
            "$ref": "WorkItemDetails"
          }
        }
      },
      "description": "Information about a worker",
      "id": "WorkerDetails",
      "type": "object"
    },
    "StringList": {
      "properties": {
        "elements": {
          "type": "array",
          "description": "Elements of the list.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A metric value representing a list of strings.",
      "id": "StringList",
      "type": "object"
    },
    "FileIODetails": {
      "id": "FileIODetails",
      "type": "object",
      "description": "Metadata for a File connector used by the job.",
      "properties": {
        "filePattern": {
          "description": "File Pattern used to access files by the connector.",
          "type": "string"
        }
      }
    },
    "StreamingApplianceSnapshotConfig": {
      "properties": {
        "importStateEndpoint": {
          "description": "Indicates which endpoint is used to import appliance state.",
          "type": "string"
        },
        "snapshotId": {
          "type": "string",
          "description": "If set, indicates the snapshot id for the snapshot being performed."
        }
      },
      "id": "StreamingApplianceSnapshotConfig",
      "description": "Streaming appliance snapshot configuration.",
      "type": "object"
    },
    "Step": {
      "type": "object",
      "description": "Defines a particular step within a Cloud Dataflow job. A job consists of multiple steps, each of which performs some specific operation as part of the overall job. Data is typically passed from one step to another as part of the job. **Note:** The properties of this object are not stable and might change. Here's an example of a sequence of steps which together implement a Map-Reduce job: * Read a collection of data from some source, parsing the collection's elements. * Validate the elements. * Apply a user-defined function to map each element to some value and extract an element-specific key value. * Group elements with the same key into a single element with that key, transforming a multiply-keyed collection into a uniquely-keyed collection. * Write the elements out to some data sink. Note that the Cloud Dataflow service may be used to run many different types of jobs, not just Map-Reduce.",
      "id": "Step",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of step in the Cloud Dataflow job."
        },
        "properties": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Named properties associated with the step. Each kind of predefined step has its own required set of properties. Must be provided on Create. Only retrieved with JOB_VIEW_ALL."
        },
        "name": {
          "description": "The name that identifies the step. This must be unique for each step with respect to all other steps in the Cloud Dataflow job.",
          "type": "string"
        }
      }
    },
    "WorkItemStatus": {
      "type": "object",
      "properties": {
        "sourceFork": {
          "$ref": "SourceFork",
          "deprecated": true,
          "description": "DEPRECATED in favor of dynamic_source_split."
        },
        "dynamicSourceSplit": {
          "description": "See documentation of stop_position.",
          "$ref": "DynamicSourceSplit"
        },
        "metricUpdates": {
          "type": "array",
          "description": "DEPRECATED in favor of counter_updates.",
          "items": {
            "$ref": "MetricUpdate"
          },
          "deprecated": true
        },
        "errors": {
          "items": {
            "$ref": "Status"
          },
          "type": "array",
          "description": "Specifies errors which occurred during processing. If errors are provided, and completed = true, then the WorkItem is considered to have failed."
        },
        "workItemId": {
          "type": "string",
          "description": "Identifies the WorkItem."
        },
        "counterUpdates": {
          "description": "Worker output counters for this WorkItem.",
          "type": "array",
          "items": {
            "$ref": "CounterUpdate"
          }
        },
        "stopPosition": {
          "$ref": "Position",
          "description": "A worker may split an active map task in two parts, \"primary\" and \"residual\", continuing to process the primary part and returning the residual part into the pool of available work. This event is called a \"dynamic split\" and is critical to the dynamic work rebalancing feature. The two obtained sub-tasks are called \"parts\" of the split. The parts, if concatenated, must represent the same input as would be read by the current task if the split did not happen. The exact way in which the original task is decomposed into the two parts is specified either as a position demarcating them (stop_position), or explicitly as two DerivedSources, if this task consumes a user-defined source type (dynamic_source_split). The \"current\" task is adjusted as a result of the split: after a task with range [A, B) sends a stop_position update at C, its range is considered to be [A, C), e.g.: * Progress should be interpreted relative to the new range, e.g. \"75% completed\" means \"75% of [A, C) completed\" * The worker should interpret proposed_stop_position relative to the new range, e.g. \"split at 68%\" should be interpreted as \"split at 68% of [A, C)\". * If the worker chooses to split again using stop_position, only stop_positions in [A, C) will be accepted. * Etc. dynamic_source_split has similar semantics: e.g., if a task with source S splits using dynamic_source_split into {P, R} (where P and R must be together equivalent to S), then subsequent progress and proposed_stop_position should be interpreted relative to P, and in a potential subsequent dynamic_source_split into {P', R'}, P' and R' must be together equivalent to P, etc."
        },
        "sourceOperationResponse": {
          "$ref": "SourceOperationResponse",
          "description": "If the work item represented a SourceOperationRequest, and the work is completed, contains the result of the operation."
        },
        "totalThrottlerWaitTimeSeconds": {
          "description": "Total time the worker spent being throttled by external systems.",
          "type": "number",
          "format": "double"
        },
        "requestedLeaseDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Amount of time the worker requests for its lease."
        },
        "completed": {
          "description": "True if the WorkItem was completed (successfully or unsuccessfully).",
          "type": "boolean"
        },
        "progress": {
          "$ref": "ApproximateProgress",
          "deprecated": true,
          "description": "DEPRECATED in favor of reported_progress."
        },
        "reportedProgress": {
          "$ref": "ApproximateReportedProgress",
          "description": "The worker's progress through this WorkItem."
        },
        "reportIndex": {
          "type": "string",
          "description": "The report index. When a WorkItem is leased, the lease will contain an initial report index. When a WorkItem's status is reported to the system, the report should be sent with that report index, and the response will contain the index the worker should use for the next report. Reports received with unexpected index values will be rejected by the service. In order to preserve idempotency, the worker should not alter the contents of a report, even if the worker must submit the same report multiple times before getting back a response. The worker should not submit a subsequent report until the response for the previous report had been received from the service.",
          "format": "int64"
        }
      },
      "description": "Conveys a worker's progress through the work described by a WorkItem.",
      "id": "WorkItemStatus"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      }
    },
    "ResourceUtilizationReport": {
      "id": "ResourceUtilizationReport",
      "description": "Worker metrics exported from workers. This contains resource utilization metrics accumulated from a variety of sources. For more information, see go/df-resource-signals.",
      "type": "object",
      "properties": {
        "cpuTime": {
          "type": "array",
          "description": "CPU utilization samples.",
          "items": {
            "$ref": "CPUTime"
          }
        },
        "containers": {
          "description": "Per container information. Key: container name.",
          "additionalProperties": {
            "$ref": "ResourceUtilizationReport"
          },
          "type": "object"
        },
        "memoryInfo": {
          "description": "Memory utilization samples.",
          "items": {
            "$ref": "MemInfo"
          },
          "type": "array"
        }
      }
    },
    "StructuredMessage": {
      "properties": {
        "messageKey": {
          "description": "Identifier for this message type. Used by external systems to internationalize or personalize message.",
          "type": "string"
        },
        "messageText": {
          "type": "string",
          "description": "Human-readable version of message."
        },
        "parameters": {
          "type": "array",
          "description": "The structured data associated with this message.",
          "items": {
            "$ref": "Parameter"
          }
        }
      },
      "description": "A rich message format, including a human readable string, a key for identifying the message, and structured data associated with the message for programmatic consumption.",
      "type": "object",
      "id": "StructuredMessage"
    },
    "HotKeyDetection": {
      "id": "HotKeyDetection",
      "description": "Proto describing a hot key detected on a given WorkItem.",
      "type": "object",
      "properties": {
        "systemName": {
          "description": "System-defined name of the step containing this hot key. Unique across the workflow.",
          "type": "string"
        },
        "userStepName": {
          "description": "User-provided name of the step that contains this hot key.",
          "type": "string"
        },
        "hotKeyAge": {
          "type": "string",
          "format": "google-duration",
          "description": "The age of the hot key measured from when it was first detected."
        }
      }
    },
    "NameAndKind": {
      "description": "Basic metadata about a counter.",
      "properties": {
        "name": {
          "description": "Name of the counter.",
          "type": "string"
        },
        "kind": {
          "enum": [
            "INVALID",
            "SUM",
            "MAX",
            "MIN",
            "MEAN",
            "OR",
            "AND",
            "SET",
            "DISTRIBUTION",
            "LATEST_VALUE"
          ],
          "enumDescriptions": [
            "Counter aggregation kind was not set.",
            "Aggregated value is the sum of all contributed values.",
            "Aggregated value is the max of all contributed values.",
            "Aggregated value is the min of all contributed values.",
            "Aggregated value is the mean of all contributed values.",
            "Aggregated value represents the logical 'or' of all contributed values.",
            "Aggregated value represents the logical 'and' of all contributed values.",
            "Aggregated value is a set of unique contributed values.",
            "Aggregated value captures statistics about a distribution.",
            "Aggregated value tracks the latest value of a variable."
          ],
          "description": "Counter aggregation kind.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "NameAndKind"
    },
    "DebugOptions": {
      "id": "DebugOptions",
      "description": "Describes any options that have an effect on the debugging of pipelines.",
      "type": "object",
      "properties": {
        "enableHotKeyLogging": {
          "description": "When true, enables the logging of the literal hot key to the user's Cloud Logging.",
          "type": "boolean"
        },
        "dataSampling": {
          "description": "Configuration options for sampling elements from a running pipeline.",
          "$ref": "DataSamplingConfig"
        }
      }
    },
    "ApproximateProgress": {
      "id": "ApproximateProgress",
      "description": "Obsolete in favor of ApproximateReportedProgress and ApproximateSplitRequest.",
      "properties": {
        "percentComplete": {
          "format": "float",
          "description": "Obsolete.",
          "type": "number",
          "deprecated": true
        },
        "position": {
          "deprecated": true,
          "description": "Obsolete.",
          "$ref": "Position"
        },
        "remainingTime": {
          "deprecated": true,
          "format": "google-duration",
          "description": "Obsolete.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SourceGetMetadataRequest": {
      "type": "object",
      "properties": {
        "source": {
          "$ref": "Source",
          "description": "Specification of the source whose metadata should be computed."
        }
      },
      "id": "SourceGetMetadataRequest",
      "description": "A request to compute the SourceMetadata of a Source."
    },
    "StreamingSideInputLocation": {
      "description": "Identifies the location of a streaming side input.",
      "id": "StreamingSideInputLocation",
      "type": "object",
      "properties": {
        "tag": {
          "type": "string",
          "description": "Identifies the particular side input within the streaming Dataflow job."
        },
        "stateFamily": {
          "description": "Identifies the state family where this side input is stored.",
          "type": "string"
        }
      }
    },
    "ConcatPosition": {
      "type": "object",
      "description": "A position that encapsulates an inner position and an index for the inner position. A ConcatPosition can be used by a reader of a source that encapsulates a set of other sources.",
      "id": "ConcatPosition",
      "properties": {
        "position": {
          "$ref": "Position",
          "description": "Position within the inner source."
        },
        "index": {
          "type": "integer",
          "description": "Index of the inner source.",
          "format": "int32"
        }
      }
    },
    "StreamingStragglerInfo": {
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Start time of this straggler.",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "End time of this straggler.",
          "type": "string",
          "format": "google-datetime"
        },
        "workerName": {
          "type": "string",
          "description": "Name of the worker where the straggler was detected."
        },
        "dataWatermarkLag": {
          "type": "string",
          "description": "The event-time watermark lag at the time of the straggler detection.",
          "format": "google-duration"
        },
        "systemWatermarkLag": {
          "format": "google-duration",
          "description": "The system watermark lag at the time of the straggler detection.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Information useful for streaming straggler identification and debugging.",
      "id": "StreamingStragglerInfo"
    },
    "ListSnapshotsResponse": {
      "type": "object",
[...]
