{
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/compute": {
          "description": "View and manage your Google Compute Engine resources"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "See your primary Google Account email address"
        },
        "https://www.googleapis.com/auth/compute.readonly": {
          "description": "View your Google Compute Engine resources"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/dataflow",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20230313",
  "schemas": {
    "SourceFork": {
      "properties": {
        "primarySource": {
          "description": "DEPRECATED",
          "$ref": "DerivedSource"
        },
        "primary": {
          "$ref": "SourceSplitShard",
          "description": "DEPRECATED"
        },
        "residualSource": {
          "$ref": "DerivedSource",
          "description": "DEPRECATED"
        },
        "residual": {
          "$ref": "SourceSplitShard",
          "description": "DEPRECATED"
        }
      },
      "id": "SourceFork",
      "type": "object",
      "description": "DEPRECATED in favor of DynamicSourceSplit."
    },
    "JobExecutionInfo": {
      "id": "JobExecutionInfo",
      "properties": {
        "stages": {
          "additionalProperties": {
            "$ref": "JobExecutionStageInfo"
          },
          "type": "object",
          "description": "A mapping from each stage to the information about that stage."
        }
      },
      "description": "Additional information about how a Cloud Dataflow job will be executed that isn't contained in the submitted job.",
      "type": "object"
    },
    "MetricStructuredName": {
      "id": "MetricStructuredName",
      "type": "object",
      "properties": {
        "origin": {
          "description": "Origin (namespace) of metric name. May be blank for user-define metrics; will be \"dataflow\" for metrics defined by the Dataflow service or SDK.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Worker-defined metric name."
        },
        "context": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Zero or more labeled fields which identify the part of the job this metric is associated with, such as the name of a step or collection. For example, built-in counters associated with steps will have context['step'] = . Counters associated with PCollections in the SDK will have context['pcollection'] = ."
        }
      },
      "description": "Identifies a metric, by describing the source which generated the metric."
    },
    "WorkerSettings": {
      "properties": {
        "shuffleServicePath": {
          "description": "The Shuffle service path relative to the root URL, for example, \"shuffle/v1beta1\".",
          "type": "string"
        },
        "servicePath": {
          "type": "string",
          "description": "The Cloud Dataflow service path relative to the root URL, for example, \"dataflow/v1b3/projects\"."
        },
        "reportingEnabled": {
          "type": "boolean",
          "description": "Whether to send work progress updates to the service."
        },
        "tempStoragePrefix": {
          "description": "The prefix of the resources the system should use for temporary storage. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}",
          "type": "string"
        },
        "baseUrl": {
          "type": "string",
          "description": "The base URL for accessing Google Cloud APIs. When workers access Google Cloud APIs, they logically do so via relative URLs. If this field is specified, it supplies the base URL to use for resolving these relative URLs. The normative algorithm used is defined by RFC 1808, \"Relative Uniform Resource Locators\". If not specified, the default value is \"http://www.googleapis.com/\""
        },
        "workerId": {
          "type": "string",
          "description": "The ID of the worker running this pipeline."
        }
      },
      "description": "Provides data to pass through to the worker harness.",
      "id": "WorkerSettings",
      "type": "object"
    },
    "AutoscalingSettings": {
      "id": "AutoscalingSettings",
      "type": "object",
      "properties": {
        "maxNumWorkers": {
          "description": "The maximum number of workers to cap scaling at.",
          "type": "integer",
          "format": "int32"
        },
        "algorithm": {
          "enumDescriptions": [
            "The algorithm is unknown, or unspecified.",
            "Disable autoscaling.",
            "Increase worker count over time to reduce job execution time."
          ],
          "enum": [
            "AUTOSCALING_ALGORITHM_UNKNOWN",
            "AUTOSCALING_ALGORITHM_NONE",
            "AUTOSCALING_ALGORITHM_BASIC"
          ],
          "description": "The algorithm to use for autoscaling.",
          "type": "string"
        }
      },
      "description": "Settings for WorkerPool autoscaling."
    },
    "StragglerSummary": {
      "type": "object",
      "properties": {
        "recentStragglers": {
          "description": "The most recent stragglers.",
          "type": "array",
          "items": {
            "$ref": "Straggler"
          }
        },
        "stragglerCauseCount": {
          "description": "Aggregated counts of straggler causes, keyed by the string representation of the StragglerCause enum.",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "type": "object"
        },
        "totalStragglerCount": {
          "type": "string",
          "description": "The total count of stragglers.",
          "format": "int64"
        }
      },
      "id": "StragglerSummary",
      "description": "Summarized straggler identification details."
    },
    "NameAndKind": {
      "id": "NameAndKind",
      "description": "Basic metadata about a counter.",
      "type": "object",
      "properties": {
        "kind": {
          "enum": [
            "INVALID",
            "SUM",
            "MAX",
            "MIN",
            "MEAN",
            "OR",
            "AND",
            "SET",
            "DISTRIBUTION",
            "LATEST_VALUE"
          ],
          "description": "Counter aggregation kind.",
          "type": "string",
          "enumDescriptions": [
            "Counter aggregation kind was not set.",
            "Aggregated value is the sum of all contributed values.",
            "Aggregated value is the max of all contributed values.",
            "Aggregated value is the min of all contributed values.",
            "Aggregated value is the mean of all contributed values.",
            "Aggregated value represents the logical 'or' of all contributed values.",
            "Aggregated value represents the logical 'and' of all contributed values.",
            "Aggregated value is a set of unique contributed values.",
            "Aggregated value captures statistics about a distribution.",
            "Aggregated value tracks the latest value of a variable."
          ]
        },
        "name": {
          "description": "Name of the counter.",
          "type": "string"
        }
      }
    },
    "KeyRangeLocation": {
      "properties": {
        "end": {
          "description": "The end (exclusive) of the key range.",
          "type": "string"
        },
        "deliveryEndpoint": {
          "type": "string",
          "description": "The physical location of this range assignment to be used for streaming computation cross-worker message delivery."
        },
        "start": {
          "type": "string",
          "description": "The start (inclusive) of the key range."
        },
        "dataDisk": {
          "description": "The name of the data disk where data for this range is stored. This name is local to the Google Cloud Platform project and uniquely identifies the disk within that project, for example \"myproject-1014-104817-4c2-harness-0-disk-1\".",
          "type": "string"
        },
        "deprecatedPersistentDirectory": {
          "type": "string",
          "description": "DEPRECATED. The location of the persistent state for this range, as a persistent directory in the worker local filesystem."
        }
      },
      "type": "object",
      "description": "Location information for a specific key-range of a sharded computation. Currently we only support UTF-8 character splits to simplify encoding into JSON.",
      "id": "KeyRangeLocation"
    },
    "WriteInstruction": {
      "type": "object",
      "id": "WriteInstruction",
      "properties": {
        "sink": {
          "$ref": "Sink",
          "description": "The sink to write to."
        },
        "input": {
          "description": "The input.",
          "$ref": "InstructionInput"
        }
      },
      "description": "An instruction that writes records. Takes one input, produces no outputs."
    },
    "Environment": {
      "properties": {
        "internalExperiments": {
          "description": "Experimental settings.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "serviceAccountEmail": {
          "description": "Identity to run virtual machines as. Defaults to the default account.",
          "type": "string"
        },
        "flexResourceSchedulingGoal": {
          "description": "Which Flexible Resource Scheduling mode to run in.",
          "enumDescriptions": [
            "Run in the default mode.",
            "Optimize for lower execution time.",
            "Optimize for lower cost."
          ],
          "type": "string",
          "enum": [
            "FLEXRS_UNSPECIFIED",
            "FLEXRS_SPEED_OPTIMIZED",
            "FLEXRS_COST_OPTIMIZED"
          ]
        },
        "tempStoragePrefix": {
          "description": "The prefix of the resources the system should use for temporary storage. The system will append the suffix \"/temp-{JOBNAME} to this resource prefix, where {JOBNAME} is the value of the job_name field. The resulting bucket and object prefix is used as the prefix of the resources used to store temporary data needed during the job execution. NOTE: This will override the value in taskrunner_settings. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}",
          "type": "string"
        },
        "experiments": {
          "description": "The list of experiments to enable. This field should be used for SDK related experiments and not for service related experiments. The proper field for service related experiments is service_options.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "userAgent": {
          "description": "A description of the process that generated the request.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "sdkPipelineOptions": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The Cloud Dataflow SDK pipeline options specified by the user. These options are passed through the service and are used to recreate the SDK pipeline options on the worker in a language agnostic and platform independent way."
        },
        "workerRegion": {
          "type": "string",
          "description": "The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, default to the control plane's region."
        },
        "shuffleMode": {
          "description": "Output only. The shuffle mode used for the job.",
          "type": "string",
          "enum": [
            "SHUFFLE_MODE_UNSPECIFIED",
            "VM_BASED",
            "SERVICE_BASED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Shuffle mode information is not available.",
            "Shuffle is done on the worker VMs.",
            "Shuffle is done on the service side."
          ]
        },
        "serviceOptions": {
          "items": {
            "type": "string"
          },
          "description": "The list of service options to enable. This field should be used for service related experiments only. These experiments, when graduating to GA, should be replaced by dedicated fields or become default (i.e. always on).",
          "type": "array"
        },
        "workerPools": {
          "type": "array",
          "description": "The worker pools. At least one \"harness\" worker pool must be specified in order for the job to have workers.",
          "items": {
            "$ref": "WorkerPool"
          }
        },
        "clusterManagerApiService": {
          "type": "string",
          "description": "The type of cluster manager API to use. If unknown or unspecified, the service will attempt to choose a reasonable default. This should be in the form of the API service name, e.g. \"compute.googleapis.com\"."
        },
        "debugOptions": {
          "description": "Any debugging options to be supplied to the job.",
          "$ref": "DebugOptions"
        },
        "version": {
          "description": "A structure describing which components and their versions of the service are required in order to run the job.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "serviceKmsKeyName": {
          "type": "string",
          "description": "If set, contains the Cloud KMS key identifier used to encrypt data at rest, AKA a Customer Managed Encryption Key (CMEK). Format: projects/PROJECT_ID/locations/LOCATION/keyRings/KEY_RING/cryptoKeys/KEY"
        },
        "workerZone": {
          "type": "string",
          "description": "The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity."
        },
        "dataset": {
          "description": "The dataset for the current project where various workflow related tables are stored. The supported resource type is: Google BigQuery: bigquery.googleapis.com/{dataset}",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Describes the environment in which a Dataflow Job runs.",
      "id": "Environment"
    },
    "ExecutionStageSummary": {
      "properties": {
        "inputSource": {
          "items": {
            "$ref": "StageSource"
          },
          "type": "array",
          "description": "Input sources for this stage."
        },
        "name": {
          "type": "string",
          "description": "Dataflow service generated name for this stage."
        },
        "outputSource": {
          "items": {
            "$ref": "StageSource"
          },
          "description": "Output sources for this stage.",
          "type": "array"
        },
        "prerequisiteStage": {
          "items": {
            "type": "string"
          },
          "description": "Other stages that must complete before this stage can run.",
          "type": "array"
        },
        "componentTransform": {
          "description": "Transforms that comprise this execution stage.",
          "items": {
            "$ref": "ComponentTransform"
          },
          "type": "array"
        },
        "componentSource": {
          "type": "array",
          "description": "Collections produced and consumed by component transforms of this stage.",
          "items": {
            "$ref": "ComponentSource"
          }
        },
        "id": {
          "type": "string",
          "description": "Dataflow service generated id for this stage."
        },
        "kind": {
          "description": "Type of transform this stage is executing.",
          "enum": [
            "UNKNOWN_KIND",
            "PAR_DO_KIND",
            "GROUP_BY_KEY_KIND",
            "FLATTEN_KIND",
            "READ_KIND",
            "WRITE_KIND",
            "CONSTANT_KIND",
            "SINGLETON_KIND",
            "SHUFFLE_KIND"
          ],
          "enumDescriptions": [
            "Unrecognized transform type.",
            "ParDo transform.",
            "Group By Key transform.",
            "Flatten transform.",
            "Read transform.",
            "Write transform.",
            "Constructs from a constant value, such as with Create.of.",
            "Creates a Singleton view of a collection.",
            "Opening or closing a shuffle session, often as part of a GroupByKey."
          ],
          "type": "string"
        }
      },
      "description": "Description of the composing transforms, names/ids, and input/outputs of a stage of execution. Some composing transforms and sources may have been generated by the Dataflow service during execution planning.",
      "type": "object",
      "id": "ExecutionStageSummary"
    },
    "InstructionInput": {
      "description": "An input of an instruction, as a reference to an output of a producer instruction.",
      "properties": {
        "outputNum": {
          "type": "integer",
          "format": "int32",
          "description": "The output index (origin zero) within the producer."
        },
        "producerInstructionIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The index (origin zero) of the parallel instruction that produces the output to be consumed by this input. This index is relative to the list of instructions in this input's instruction's containing MapTask."
        }
      },
      "type": "object",
      "id": "InstructionInput"
    },
    "WorkItemServiceState": {
      "description": "The Dataflow service's idea of the current state of a WorkItem being processed by a worker.",
      "properties": {
        "nextReportIndex": {
          "type": "string",
          "format": "int64",
          "description": "The index value to use for the next report sent by the worker. Note: If the report call fails for whatever reason, the worker should reuse this index for subsequent report attempts."
        },
        "suggestedStopPosition": {
          "description": "Obsolete, always empty.",
          "$ref": "Position"
        },
        "completeWorkStatus": {
          "description": "If set, a request to complete the work item with the given status. This will not be set to OK, unless supported by the specific kind of WorkItem. It can be used for the backend to indicate a WorkItem must terminate, e.g., for aborting work.",
          "$ref": "Status"
        },
        "suggestedStopPoint": {
          "$ref": "ApproximateProgress",
          "description": "DEPRECATED in favor of split_request."
        },
        "reportStatusInterval": {
          "description": "New recommended reporting interval.",
          "format": "google-duration",
          "type": "string"
        },
        "splitRequest": {
          "$ref": "ApproximateSplitRequest",
          "description": "The progress point in the WorkItem where the Dataflow service suggests that the worker truncate the task."
        },
        "metricShortId": {
          "type": "array",
          "items": {
            "$ref": "MetricShortId"
          },
          "description": "The short ids that workers should use in subsequent metric updates. Workers should strive to use short ids whenever possible, but it is ok to request the short_id again if a worker lost track of it (e.g. if the worker is recovering from a crash). NOTE: it is possible that the response may have short ids for a subset of the metrics."
        },
        "hotKeyDetection": {
          "$ref": "HotKeyDetection",
          "description": "A hot key is a symptom of poor data distribution in which there are enough elements mapped to a single key to impact pipeline performance. When present, this field includes metadata associated with any hot key."
        },
        "harnessData": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Other data returned by the service, specific to the particular worker harness.",
          "type": "object"
        },
        "leaseExpireTime": {
          "description": "Time at which the current lease will expire.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "WorkItemServiceState",
      "type": "object"
    },
    "JobExecutionStageInfo": {
      "description": "Contains information about how a particular google.dataflow.v1beta3.Step will be executed.",
      "id": "JobExecutionStageInfo",
      "type": "object",
      "properties": {
        "stepName": {
          "description": "The steps associated with the execution stage. Note that stages may have several steps, and that a given step might be run by more than one stage.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "DebugOptions": {
      "description": "Describes any options that have an effect on the debugging of pipelines.",
      "properties": {
        "enableHotKeyLogging": {
          "type": "boolean",
          "description": "When true, enables the logging of the literal hot key to the user's Cloud Logging."
        }
      },
      "id": "DebugOptions",
      "type": "object"
    },
    "ListJobsResponse": {
      "properties": {
        "jobs": {
          "type": "array",
          "description": "A subset of the requested job information.",
          "items": {
            "$ref": "Job"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Set if there may be more results than fit in this response."
        },
        "failedLocation": {
          "description": "Zero or more messages describing the [regional endpoints] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that failed to respond.",
          "items": {
            "$ref": "FailedLocation"
          },
          "type": "array"
        }
      },
      "id": "ListJobsResponse",
      "description": "Response to a request to list Cloud Dataflow jobs in a project. This might be a partial response, depending on the page size in the ListJobsRequest. However, if the project does not have any jobs, an instance of ListJobsResponse is not returned and the requests's response body is empty {}.",
      "type": "object"
    },
    "Step": {
      "id": "Step",
      "properties": {
        "kind": {
          "description": "The kind of step in the Cloud Dataflow job.",
          "type": "string"
        },
        "properties": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Named properties associated with the step. Each kind of predefined step has its own required set of properties. Must be provided on Create. Only retrieved with JOB_VIEW_ALL.",
          "type": "object"
        },
        "name": {
          "description": "The name that identifies the step. This must be unique for each step with respect to all other steps in the Cloud Dataflow job.",
          "type": "string"
        }
      },
      "description": "Defines a particular step within a Cloud Dataflow job. A job consists of multiple steps, each of which performs some specific operation as part of the overall job. Data is typically passed from one step to another as part of the job. **Note:** The properties of this object are not stable and might change. Here's an example of a sequence of steps which together implement a Map-Reduce job: * Read a collection of data from some source, parsing the collection's elements. * Validate the elements. * Apply a user-defined function to map each element to some value and extract an element-specific key value. * Group elements with the same key into a single element with that key, transforming a multiply-keyed collection into a uniquely-keyed collection. * Write the elements out to some data sink. Note that the Cloud Dataflow service may be used to run many different types of jobs, not just Map-Reduce.",
      "type": "object"
    },
    "LaunchFlexTemplateParameter": {
      "type": "object",
      "description": "Launch FlexTemplate Parameter.",
      "id": "LaunchFlexTemplateParameter",
      "properties": {
        "transformNameMappings": {
          "type": "object",
          "description": "Use this to pass transform_name_mappings for streaming update jobs. Ex:{\"oldTransformName\":\"newTransformName\",...}'",
          "additionalProperties": {
            "type": "string"
          }
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The parameters for FlexTemplate. Ex. {\"num_workers\":\"5\"}"
        },
        "update": {
          "type": "boolean",
          "description": "Set this to true if you are sending a request to update a running streaming job. When set, the job name should be the same as the running job."
        },
        "launchOptions": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Launch options for this flex template job. This is a common set of options across languages and templates. This should not be used to pass job parameters."
        },
        "jobName": {
          "type": "string",
          "description": "Required. The job name to use for the created job. For update job request, job name should be same as the existing running job."
        },
        "containerSpecGcsPath": {
          "type": "string",
          "description": "Cloud Storage path to a file with json serialized ContainerSpec as content."
        },
        "environment": {
          "description": "The runtime environment for the FlexTemplate job",
          "$ref": "FlexTemplateRuntimeEnvironment"
        },
        "containerSpec": {
          "$ref": "ContainerSpec",
          "description": "Spec about the container image to launch."
        }
      }
    },
    "BigQueryIODetails": {
      "description": "Metadata for a BigQuery connector used by the job.",
      "properties": {
        "dataset": {
          "description": "Dataset accessed in the connection.",
          "type": "string"
        },
        "table": {
          "description": "Table accessed in the connection.",
          "type": "string"
        },
        "query": {
          "type": "string",
          "description": "Query used to access data in the connection."
        },
        "projectId": {
          "type": "string",
          "description": "Project accessed in the connection."
        }
      },
      "type": "object",
      "id": "BigQueryIODetails"
    },
    "SendWorkerMessagesResponse": {
      "type": "object",
      "id": "SendWorkerMessagesResponse",
      "properties": {
        "workerMessageResponses": {
          "description": "The servers response to the worker messages.",
          "type": "array",
          "items": {
            "$ref": "WorkerMessageResponse"
          }
        }
      },
      "description": "The response to the worker messages."
    },
    "HotKeyInfo": {
      "properties": {
        "key": {
          "description": "A detected hot key that is causing limited parallelism. This field will be populated only if the following flag is set to true: \"--enable_hot_key_logging\".",
          "type": "string"
        },
        "hotKeyAge": {
          "description": "The age of the hot key measured from when it was first detected.",
          "format": "google-duration",
          "type": "string"
        },
        "keyTruncated": {
          "description": "If true, then the above key is truncated and cannot be deserialized. This occurs if the key above is populated and the key size is \u003e5MB.",
          "type": "boolean"
        }
      },
      "id": "HotKeyInfo",
      "description": "Information about a hot key.",
      "type": "object"
    },
    "SeqMapTask": {
      "type": "object",
      "properties": {
        "inputs": {
          "description": "Information about each of the inputs.",
          "type": "array",
          "items": {
            "$ref": "SideInputInfo"
          }
        },
        "stageName": {
          "type": "string",
          "description": "System-defined name of the stage containing the SeqDo operation. Unique across the workflow."
        },
        "name": {
          "type": "string",
          "description": "The user-provided name of the SeqDo operation."
        },
        "userFn": {
          "type": "object",
          "description": "The user function to invoke.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "outputInfos": {
          "items": {
            "$ref": "SeqMapTaskOutputInfo"
          },
          "description": "Information about each of the outputs.",
          "type": "array"
        },
        "systemName": {
          "description": "System-defined name of the SeqDo operation. Unique across the workflow.",
          "type": "string"
        }
      },
      "description": "Describes a particular function to invoke.",
      "id": "SeqMapTask"
    },
    "GetTemplateResponse": {
      "description": "The response to a GetTemplate request.",
      "id": "GetTemplateResponse",
      "type": "object",
      "properties": {
        "runtimeMetadata": {
          "$ref": "RuntimeMetadata",
          "description": "Describes the runtime metadata with SDKInfo and available parameters."
        },
        "templateType": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "LEGACY",
            "FLEX"
          ],
          "enumDescriptions": [
            "Unknown Template Type.",
            "Legacy Template.",
            "Flex Template."
          ],
          "description": "Template Type."
        },
        "metadata": {
          "description": "The template metadata describing the template name, available parameters, etc.",
          "$ref": "TemplateMetadata"
        },
        "status": {
          "$ref": "Status",
          "description": "The status of the get template request. Any problems with the request will be indicated in the error_details."
        }
      }
    },
    "SourceOperationResponse": {
      "description": "The result of a SourceOperationRequest, specified in ReportWorkItemStatusRequest.source_operation when the work item is completed.",
      "properties": {
        "split": {
          "$ref": "SourceSplitResponse",
          "description": "A response to a request to split a source."
        },
        "getMetadata": {
          "description": "A response to a request to get metadata about a source.",
          "$ref": "SourceGetMetadataResponse"
        }
      },
      "id": "SourceOperationResponse",
      "type": "object"
    },
    "HotKeyDebuggingInfo": {
      "type": "object",
      "properties": {
        "detectedHotKeys": {
          "type": "object",
          "additionalProperties": {
            "$ref": "HotKeyInfo"
          },
          "description": "Debugging information for each detected hot key. Keyed by a hash of the key."
        }
      },
      "description": "Information useful for debugging a hot key detection.",
      "id": "HotKeyDebuggingInfo"
    },
    "StreamingStragglerInfo": {
      "id": "StreamingStragglerInfo",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "End time of this straggler.",
          "format": "google-datetime"
        },
        "dataWatermarkLag": {
          "type": "string",
          "format": "google-duration",
          "description": "The event-time watermark lag at the time of the straggler detection."
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Start time of this straggler."
        },
        "workerName": {
          "type": "string",
          "description": "Name of the worker where the straggler was detected."
        },
        "systemWatermarkLag": {
          "description": "The system watermark lag at the time of the straggler detection.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "Information useful for streaming straggler identification and debugging.",
      "type": "object"
    },
    "ReadInstruction": {
      "properties": {
        "source": {
          "$ref": "Source",
          "description": "The source to read from."
        }
      },
      "description": "An instruction that reads records. Takes no inputs, produces one output.",
      "type": "object",
      "id": "ReadInstruction"
    },
    "LeaseWorkItemResponse": {
      "properties": {
        "unifiedWorkerResponse": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Untranslated bag-of-bytes WorkResponse for UnifiedWorker.",
          "type": "object"
        },
        "workItems": {
          "description": "A list of the leased WorkItems.",
          "type": "array",
          "items": {
            "$ref": "WorkItem"
          }
        }
      },
      "id": "LeaseWorkItemResponse",
      "type": "object",
      "description": "Response to a request to lease WorkItems."
    },
    "CustomSourceLocation": {
      "id": "CustomSourceLocation",
      "description": "Identifies the location of a custom souce.",
      "properties": {
        "stateful": {
          "type": "boolean",
          "description": "Whether this source is stateful."
        }
      },
      "type": "object"
    },
    "DeleteSnapshotResponse": {
      "type": "object",
      "id": "DeleteSnapshotResponse",
      "description": "Response from deleting a snapshot.",
      "properties": {}
    },
    "ParDoInstruction": {
      "type": "object",
      "description": "An instruction that does a ParDo operation. Takes one main input and zero or more side inputs, and produces zero or more outputs. Runs user code.",
      "id": "ParDoInstruction",
      "properties": {
        "sideInputs": {
          "description": "Zero or more side inputs.",
          "type": "array",
          "items": {
            "$ref": "SideInputInfo"
          }
        },
        "userFn": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "The user function to invoke."
        },
        "numOutputs": {
          "type": "integer",
          "description": "The number of outputs.",
          "format": "int32"
        },
        "multiOutputInfos": {
          "items": {
            "$ref": "MultiOutputInfo"
          },
          "type": "array",
          "description": "Information about each of the outputs, if user_fn is a MultiDoFn."
        },
        "input": {
          "description": "The input.",
          "$ref": "InstructionInput"
        }
      }
    },
    "WorkItemStatus": {
      "properties": {
        "completed": {
          "description": "True if the WorkItem was completed (successfully or unsuccessfully).",
          "type": "boolean"
        },
        "totalThrottlerWaitTimeSeconds": {
          "description": "Total time the worker spent being throttled by external systems.",
          "type": "number",
          "format": "double"
        },
        "counterUpdates": {
          "items": {
            "$ref": "CounterUpdate"
          },
          "description": "Worker output counters for this WorkItem.",
          "type": "array"
        },
        "reportIndex": {
          "type": "string",
          "description": "The report index. When a WorkItem is leased, the lease will contain an initial report index. When a WorkItem's status is reported to the system, the report should be sent with that report index, and the response will contain the index the worker should use for the next report. Reports received with unexpected index values will be rejected by the service. In order to preserve idempotency, the worker should not alter the contents of a report, even if the worker must submit the same report multiple times before getting back a response. The worker should not submit a subsequent report until the response for the previous report had been received from the service.",
          "format": "int64"
        },
        "sourceOperationResponse": {
          "description": "If the work item represented a SourceOperationRequest, and the work is completed, contains the result of the operation.",
          "$ref": "SourceOperationResponse"
        },
        "progress": {
          "description": "DEPRECATED in favor of reported_progress.",
          "$ref": "ApproximateProgress"
        },
        "workItemId": {
          "type": "string",
          "description": "Identifies the WorkItem."
        },
        "requestedLeaseDuration": {
          "description": "Amount of time the worker requests for its lease.",
          "type": "string",
          "format": "google-duration"
        },
        "stopPosition": {
          "description": "A worker may split an active map task in two parts, \"primary\" and \"residual\", continuing to process the primary part and returning the residual part into the pool of available work. This event is called a \"dynamic split\" and is critical to the dynamic work rebalancing feature. The two obtained sub-tasks are called \"parts\" of the split. The parts, if concatenated, must represent the same input as would be read by the current task if the split did not happen. The exact way in which the original task is decomposed into the two parts is specified either as a position demarcating them (stop_position), or explicitly as two DerivedSources, if this task consumes a user-defined source type (dynamic_source_split). The \"current\" task is adjusted as a result of the split: after a task with range [A, B) sends a stop_position update at C, its range is considered to be [A, C), e.g.: * Progress should be interpreted relative to the new range, e.g. \"75% completed\" means \"75% of [A, C) completed\" * The worker should interpret proposed_stop_position relative to the new range, e.g. \"split at 68%\" should be interpreted as \"split at 68% of [A, C)\". * If the worker chooses to split again using stop_position, only stop_positions in [A, C) will be accepted. * Etc. dynamic_source_split has similar semantics: e.g., if a task with source S splits using dynamic_source_split into {P, R} (where P and R must be together equivalent to S), then subsequent progress and proposed_stop_position should be interpreted relative to P, and in a potential subsequent dynamic_source_split into {P', R'}, P' and R' must be together equivalent to P, etc.",
          "$ref": "Position"
        },
        "dynamicSourceSplit": {
          "$ref": "DynamicSourceSplit",
          "description": "See documentation of stop_position."
        },
        "reportedProgress": {
          "$ref": "ApproximateReportedProgress",
          "description": "The worker's progress through this WorkItem."
        },
        "sourceFork": {
          "$ref": "SourceFork",
          "description": "DEPRECATED in favor of dynamic_source_split."
        },
        "metricUpdates": {
          "items": {
            "$ref": "MetricUpdate"
          },
          "description": "DEPRECATED in favor of counter_updates.",
          "type": "array"
        },
        "errors": {
          "items": {
            "$ref": "Status"
          },
          "description": "Specifies errors which occurred during processing. If errors are provided, and completed = true, then the WorkItem is considered to have failed.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "WorkItemStatus",
      "description": "Conveys a worker's progress through the work described by a WorkItem."
    },
    "PipelineDescription": {
      "description": "A descriptive representation of submitted pipeline as well as the executed form. This data is provided by the Dataflow service for ease of visualizing the pipeline and interpreting Dataflow provided metrics.",
      "id": "PipelineDescription",
      "properties": {
        "stepNamesHash": {
          "type": "string",
          "description": "A hash value of the submitted pipeline portable graph step names if exists."
        },
        "originalPipelineTransform": {
          "type": "array",
          "items": {
            "$ref": "TransformSummary"
          },
          "description": "Description of each transform in the pipeline and collections between them."
        },
        "executionPipelineStage": {
          "description": "Description of each stage of execution of the pipeline.",
          "items": {
            "$ref": "ExecutionStageSummary"
          },
          "type": "array"
        },
        "displayData": {
          "description": "Pipeline level display data.",
          "items": {
            "$ref": "DisplayData"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "DerivedSource": {
      "type": "object",
      "id": "DerivedSource",
      "properties": {
        "source": {
          "$ref": "Source",
          "description": "Specification of the source."
        },
        "derivationMode": {
          "enumDescriptions": [
            "The source derivation is unknown, or unspecified.",
            "Produce a completely independent Source with no base.",
            "Produce a Source based on the Source being split.",
            "Produce a Source based on the base of the Source being split."
          ],
          "description": "What source to base the produced source on (if any).",
          "enum": [
            "SOURCE_DERIVATION_MODE_UNKNOWN",
            "SOURCE_DERIVATION_MODE_INDEPENDENT",
            "SOURCE_DERIVATION_MODE_CHILD_OF_CURRENT",
            "SOURCE_DERIVATION_MODE_SIBLING_OF_CURRENT"
          ],
          "type": "string"
        }
      },
      "description": "Specification of one of the bundles produced as a result of splitting a Source (e.g. when executing a SourceSplitRequest, or when splitting an active task using WorkItemStatus.dynamic_source_split), relative to the source being split."
    },
    "ListJobMessagesResponse": {
      "properties": {
        "autoscalingEvents": {
          "type": "array",
          "description": "Autoscaling events in ascending timestamp order.",
          "items": {
            "$ref": "AutoscalingEvent"
          }
        },
        "nextPageToken": {
          "description": "The token to obtain the next page of results if there are more.",
          "type": "string"
        },
        "jobMessages": {
          "items": {
            "$ref": "JobMessage"
          },
          "type": "array",
          "description": "Messages in ascending timestamp order."
        }
      },
      "description": "Response to a request to list job messages.",
      "id": "ListJobMessagesResponse",
      "type": "object"
    },
    "Disk": {
      "properties": {
        "sizeGb": {
          "type": "integer",
          "description": "Size of disk in GB. If zero or unspecified, the service will attempt to choose a reasonable default.",
          "format": "int32"
        },
        "mountPoint": {
          "type": "string",
          "description": "Directory in a VM where disk is mounted."
        },
        "diskType": {
          "type": "string",
          "description": "Disk storage type, as defined by Google Compute Engine. This must be a disk type appropriate to the project and zone in which the workers will run. If unknown or unspecified, the service will attempt to choose a reasonable default. For example, the standard persistent disk type is a resource name typically ending in \"pd-standard\". If SSD persistent disks are available, the resource name typically ends with \"pd-ssd\". The actual valid values are defined the Google Compute Engine API, not by the Cloud Dataflow API; consult the Google Compute Engine documentation for more information about determining the set of available disk types for a particular project and zone. Google Compute Engine Disk types are local to a particular project in a particular zone, and so the resource name will typically look something like this: compute.googleapis.com/projects/project-id/zones/zone/diskTypes/pd-standard"
        }
      },
      "description": "Describes the data disk used by a workflow job.",
      "id": "Disk",
      "type": "object"
    },
    "CounterUpdate": {
      "id": "CounterUpdate",
      "description": "An update to a Counter sent from a worker.",
      "properties": {
        "structuredNameAndMetadata": {
          "$ref": "CounterStructuredNameAndMetadata",
          "description": "Counter structured name and metadata."
        },
        "internal": {
          "type": "any",
          "description": "Value for internally-defined counters used by the Dataflow service."
        },
        "distribution": {
          "$ref": "DistributionUpdate",
          "description": "Distribution data"
        },
        "floatingPointMean": {
          "description": "Floating point mean aggregation value for Mean.",
          "$ref": "FloatingPointMean"
        },
        "integerMean": {
          "$ref": "IntegerMean",
          "description": "Integer mean aggregation value for Mean."
        },
        "nameAndKind": {
          "$ref": "NameAndKind",
          "description": "Counter name and aggregation type."
        },
        "integerList": {
          "$ref": "IntegerList",
          "description": "List of integers, for Set."
        },
        "floatingPoint": {
          "type": "number",
          "description": "Floating point value for Sum, Max, Min.",
          "format": "double"
        },
        "floatingPointList": {
          "description": "List of floating point numbers, for Set.",
          "$ref": "FloatingPointList"
        },
        "stringList": {
          "description": "List of strings, for Set.",
          "$ref": "StringList"
        },
        "integerGauge": {
          "$ref": "IntegerGauge",
          "description": "Gauge data"
        },
        "integer": {
          "description": "Integer value for Sum, Max, Min.",
          "$ref": "SplitInt64"
        },
        "cumulative": {
          "description": "True if this counter is reported as the total cumulative aggregate value accumulated since the worker started working on this WorkItem. By default this is false, indicating that this counter is reported as a delta.",
          "type": "boolean"
        },
        "shortId": {
          "format": "int64",
          "description": "The service-generated short identifier for this counter. The short_id -\u003e (name, metadata) mapping is constant for the lifetime of a job.",
          "type": "string"
        },
        "boolean": {
          "type": "boolean",
          "description": "Boolean value for And, Or."
        }
      },
      "type": "object"
    },
    "SplitInt64": {
      "type": "object",
      "id": "SplitInt64",
      "description": "A representation of an int64, n, that is immune to precision loss when encoded in JSON.",
      "properties": {
        "lowBits": {
          "description": "The low order bits: n & 0xffffffff.",
          "type": "integer",
          "format": "uint32"
        },
        "highBits": {
          "format": "int32",
          "description": "The high order bits, including the sign: n \u003e\u003e 32.",
          "type": "integer"
        }
      }
    },
    "MetricShortId": {
      "id": "MetricShortId",
      "properties": {
        "shortId": {
          "format": "int64",
          "description": "The service-generated short identifier for the metric.",
          "type": "string"
        },
        "metricIndex": {
          "description": "The index of the corresponding metric in the ReportWorkItemStatusRequest. Required.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "The metric short id is returned to the user alongside an offset into ReportWorkItemStatusRequest"
    },
    "SourceOperationRequest": {
      "id": "SourceOperationRequest",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "User-provided name of the Read instruction for this source."
        },
        "originalName": {
          "description": "System-defined name for the Read instruction for this source in the original workflow graph.",
          "type": "string"
        },
        "split": {
          "description": "Information about a request to split a source.",
          "$ref": "SourceSplitRequest"
        },
        "stageName": {
          "type": "string",
          "description": "System-defined name of the stage containing the source operation. Unique across the workflow."
        },
        "getMetadata": {
          "$ref": "SourceGetMetadataRequest",
          "description": "Information about a request to get metadata about a source."
        },
        "systemName": {
          "type": "string",
          "description": "System-defined name of the Read instruction for this source. Unique across the workflow."
        }
      },
      "description": "A work item that represents the different operations that can be performed on a user-defined Source specification."
    },
    "SourceSplitRequest": {
      "type": "object",
      "id": "SourceSplitRequest",
      "properties": {
        "source": {
          "$ref": "Source",
          "description": "Specification of the source to be split."
        },
        "options": {
          "description": "Hints for tuning the splitting process.",
          "$ref": "SourceSplitOptions"
        }
      },
      "description": "Represents the operation to split a high-level Source specification into bundles (parts for parallel processing). At a high level, splitting of a source into bundles happens as follows: SourceSplitRequest is applied to the source. If it returns SOURCE_SPLIT_OUTCOME_USE_CURRENT, no further splitting happens and the source is used \"as is\". Otherwise, splitting is applied recursively to each produced DerivedSource. As an optimization, for any Source, if its does_not_need_splitting is true, the framework assumes that splitting this source would return SOURCE_SPLIT_OUTCOME_USE_CURRENT, and doesn't initiate a SourceSplitRequest. This applies both to the initial source being split and to bundles produced from it."
    },
    "ResourceUtilizationReportResponse": {
      "description": "Service-side response to WorkerMessage reporting resource utilization.",
      "type": "object",
      "id": "ResourceUtilizationReportResponse",
      "properties": {}
    },
    "SourceGetMetadataResponse": {
      "id": "SourceGetMetadataResponse",
      "description": "The result of a SourceGetMetadataOperation.",
      "properties": {
        "metadata": {
          "$ref": "SourceMetadata",
          "description": "The computed metadata."
        }
      },
      "type": "object"
    },
    "CPUTime": {
      "type": "object",
      "id": "CPUTime",
      "description": "Modeled after information exposed by /proc/stat.",
      "properties": {
        "totalMs": {
          "description": "Total active CPU time across all cores (ie., non-idle) in milliseconds since start-up.",
          "type": "string",
          "format": "uint64"
        },
        "rate": {
          "format": "double",
          "type": "number",
          "description": "Average CPU utilization rate (% non-idle cpu / second) since previous sample."
        },
        "timestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp of the measurement."
        }
      }
    },
    "WorkerShutdownNotice": {
      "properties": {
        "reason": {
          "type": "string",
          "description": "The reason for the worker shutdown. Current possible values are: \"UNKNOWN\": shutdown reason is unknown. \"PREEMPTION\": shutdown reason is preemption. Other possible reasons may be added in the future."
        }
      },
      "id": "WorkerShutdownNotice",
      "description": "Shutdown notification from workers. This is to be sent by the shutdown script of the worker VM so that the backend knows that the VM is being shut down.",
      "type": "object"
    },
    "SpannerIODetails": {
      "properties": {
        "databaseId": {
          "description": "DatabaseId accessed in the connection.",
          "type": "string"
        },
        "instanceId": {
          "type": "string",
          "description": "InstanceId accessed in the connection."
        },
        "projectId": {
          "type": "string",
          "description": "ProjectId accessed in the connection."
        }
      },
      "type": "object",
      "description": "Metadata for a Spanner connector used by the job.",
      "id": "SpannerIODetails"
    },
    "SendDebugCaptureResponse": {
      "description": "Response to a send capture request. nothing",
      "id": "SendDebugCaptureResponse",
      "properties": {},
      "type": "object"
    },
    "ApproximateSplitRequest": {
      "type": "object",
      "description": "A suggestion by the service to the worker to dynamically split the WorkItem.",
      "id": "ApproximateSplitRequest",
      "properties": {
        "fractionOfRemainder": {
          "type": "number",
          "description": "The fraction of the remainder of work to split the work item at, from 0.0 (split at the current position) to 1.0 (end of the input).",
          "format": "double"
        },
        "fractionConsumed": {
          "format": "double",
          "description": "A fraction at which to split the work item, from 0.0 (beginning of the input) to 1.0 (end of the input).",
          "type": "number"
        },
        "position": {
          "description": "A Position at which to split the work item.",
          "$ref": "Position"
        }
      }
    },
    "SendDebugCaptureRequest": {
      "type": "object",
      "properties": {
        "componentId": {
          "description": "The internal component id for which debug information is sent.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id."
        },
        "data": {
          "description": "The encoded debug information.",
          "type": "string"
        },
        "workerId": {
          "type": "string",
          "description": "The worker id, i.e., VM hostname."
        },
        "dataFormat": {
          "description": "Format for the data field above (id=5).",
          "type": "string",
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "RAW",
            "JSON",
            "ZLIB",
            "BROTLI"
          ],
          "enumDescriptions": [
            "Format unspecified, parsing is determined based upon page type and legacy encoding. (go/protodosdonts#do-include-an-unspecified-value-in-an-enum)",
            "Raw HTML string.",
            "JSON-encoded string.",
            "Websafe encoded zlib-compressed string.",
            "Websafe encoded brotli-compressed string."
          ]
        }
      },
      "description": "Request to send encoded debug information. Next ID: 8",
      "id": "SendDebugCaptureRequest"
    },
    "WorkerHealthReportResponse": {
      "properties": {
        "reportInterval": {
          "format": "google-duration",
          "type": "string",
          "description": "A positive value indicates the worker should change its reporting interval to the specified value. The default value of zero means no change in report rate is requested by the server."
        }
      },
      "type": "object",
      "description": "WorkerHealthReportResponse contains information returned to the worker in response to a health ping.",
      "id": "WorkerHealthReportResponse"
    },
    "StageSummary": {
      "type": "object",
      "properties": {
        "stragglerSummary": {
          "description": "Straggler summary for this stage.",
          "$ref": "StragglerSummary"
        },
        "progress": {
          "$ref": "ProgressTimeseries",
          "description": "Progress for this stage. Only applicable to Batch jobs."
        },
        "state": {
          "description": "State of this stage.",
          "enumDescriptions": [
            "The component state is unknown or unspecified.",
            "The component is not yet running.",
            "The component is currently running.",
            "The component succeeded.",
            "The component failed.",
            "Execution of the component was cancelled."
          ],
          "enum": [
            "EXECUTION_STATE_UNKNOWN",
            "EXECUTION_STATE_NOT_STARTED",
            "EXECUTION_STATE_RUNNING",
            "EXECUTION_STATE_SUCCEEDED",
            "EXECUTION_STATE_FAILED",
            "EXECUTION_STATE_CANCELLED"
          ],
          "type": "string"
        },
        "metrics": {
          "description": "Metrics for this stage.",
          "items": {
            "$ref": "MetricUpdate"
          },
          "type": "array"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Start time of this stage."
        },
        "endTime": {
          "description": "End time of this stage. If the work item is completed, this is the actual end time of the stage. Otherwise, it is the predicted end time.",
          "type": "string",
          "format": "google-datetime"
        },
        "stageId": {
          "type": "string",
          "description": "ID of this stage"
        }
      },
      "description": "Information about a particular execution stage of a job.",
      "id": "StageSummary"
    },
    "ReportWorkItemStatusResponse": {
      "type": "object",
      "properties": {
        "workItemServiceStates": {
          "type": "array",
          "items": {
            "$ref": "WorkItemServiceState"
          },
          "description": "A set of messages indicating the service-side state for each WorkItem whose status was reported, in the same order as the WorkItemStatus messages in the ReportWorkItemStatusRequest which resulting in this response."
        },
        "unifiedWorkerResponse": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Untranslated bag-of-bytes WorkProgressUpdateResponse for UnifiedWorker."
        }
      },
      "description": "Response from a request to report the status of WorkItems.",
      "id": "ReportWorkItemStatusResponse"
    },
    "Histogram": {
      "description": "Histogram of value counts for a distribution. Buckets have an inclusive lower bound and exclusive upper bound and use \"1,2,5 bucketing\": The first bucket range is from [0,1) and all subsequent bucket boundaries are powers of ten multiplied by 1, 2, or 5. Thus, bucket boundaries are 0, 1, 2, 5, 10, 20, 50, 100, 200, 500, 1000, ... Negative values are not supported.",
      "properties": {
        "firstBucketOffset": {
          "format": "int32",
          "type": "integer",
          "description": "Starting index of first stored bucket. The non-inclusive upper-bound of the ith bucket is given by: pow(10,(i-first_bucket_offset)/3) * (1,2,5)[(i-first_bucket_offset)%3]"
        },
        "bucketCounts": {
          "description": "Counts of values in each bucket. For efficiency, prefix and trailing buckets with count = 0 are elided. Buckets can store the full range of values of an unsigned long, with ULLONG_MAX falling into the 59th bucket with range [1e19, 2e19).",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "Histogram"
    },
    "ConcatPosition": {
      "properties": {
        "index": {
          "description": "Index of the inner source.",
          "format": "int32",
          "type": "integer"
        },
        "position": {
          "description": "Position within the inner source.",
          "$ref": "Position"
        }
      },
      "type": "object",
      "id": "ConcatPosition",
      "description": "A position that encapsulates an inner position and an index for the inner position. A ConcatPosition can be used by a reader of a source that encapsulates a set of other sources."
    },
    "FloatingPointList": {
      "id": "FloatingPointList",
      "type": "object",
      "properties": {
        "elements": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          },
          "description": "Elements of the list."
        }
      },
      "description": "A metric value representing a list of floating point numbers."
    },
    "TemplateMetadata": {
      "id": "TemplateMetadata",
      "description": "Metadata describing a template.",
      "properties": {
        "name": {
          "description": "Required. The name of the template.",
          "type": "string"
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "ParameterMetadata"
          },
          "description": "The parameters for the template."
        },
        "description": {
          "description": "Optional. A description of the template.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "WorkerMessageResponse": {
      "properties": {
        "workerShutdownNoticeResponse": {
          "$ref": "WorkerShutdownNoticeResponse",
          "description": "Service's response to shutdown notice (currently empty)."
        },
        "workerMetricsResponse": {
          "description": "Service's response to reporting worker metrics (currently empty).",
          "$ref": "ResourceUtilizationReportResponse"
        },
        "workerThreadScalingReportResponse": {
          "$ref": "WorkerThreadScalingReportResponse",
          "description": "Service's thread scaling recommendation for workers."
        },
        "workerHealthReportResponse": {
          "$ref": "WorkerHealthReportResponse",
          "description": "The service's response to a worker's health report."
        }
      },
      "id": "WorkerMessageResponse",
      "type": "object",
      "description": "A worker_message response allows the server to pass information to the sender."
    },
    "WorkerMessage": {
      "description": "WorkerMessage provides information to the backend about a worker.",
      "id": "WorkerMessage",
      "properties": {
        "workerHealthReport": {
          "$ref": "WorkerHealthReport",
          "description": "The health of a worker."
        },
        "workerThreadScalingReport": {
          "$ref": "WorkerThreadScalingReport",
          "description": "Thread scaling information reported by workers."
        },
        "workerLifecycleEvent": {
          "$ref": "WorkerLifecycleEvent",
          "description": "Record of worker lifecycle events."
        },
        "workerMessageCode": {
          "description": "A worker message code.",
          "$ref": "WorkerMessageCode"
        },
        "workerMetrics": {
          "$ref": "ResourceUtilizationReport",
          "description": "Resource metrics reported by workers."
        },
        "time": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp of the worker_message."
        },
        "labels": {
          "description": "Labels are used to group WorkerMessages. For example, a worker_message about a particular container might have the labels: { \"JOB_ID\": \"2015-04-22\", \"WORKER_ID\": \"wordcount-vm-2015…\" \"CONTAINER_TYPE\": \"worker\", \"CONTAINER_ID\": \"ac1234def\"} Label tags typically correspond to Label enum values. However, for ease of development other strings can be used as tags. LABEL_UNSPECIFIED should not be used here.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "workerShutdownNotice": {
          "$ref": "WorkerShutdownNotice",
          "description": "Shutdown notice by workers."
        }
      },
      "type": "object"
    },
    "StageSource": {
      "properties": {
        "sizeBytes": {
          "description": "Size of the source, if measurable.",
          "format": "int64",
          "type": "string"
        },
        "originalTransformOrCollection": {
          "type": "string",
          "description": "User name for the original user transform or collection with which this source is most closely associated."
        },
        "name": {
          "description": "Dataflow service generated name for this source.",
          "type": "string"
        },
        "userName": {
          "type": "string",
          "description": "Human-readable name for this source; may be user or system generated."
        }
      },
      "type": "object",
      "description": "Description of an input or output of an execution stage.",
      "id": "StageSource"
    },
    "MountedDataDisk": {
      "type": "object",
      "id": "MountedDataDisk",
      "properties": {
        "dataDisk": {
          "description": "The name of the data disk. This name is local to the Google Cloud Platform project and uniquely identifies the disk within that project, for example \"myproject-1014-104817-4c2-harness-0-disk-1\".",
          "type": "string"
        }
      },
      "description": "Describes mounted data disk."
    },
    "IntegerList": {
      "id": "IntegerList",
      "properties": {
        "elements": {
          "items": {
            "$ref": "SplitInt64"
          },
          "description": "Elements of the list.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "A metric value representing a list of integers."
    },
    "StreamingComputationTask": {
      "id": "StreamingComputationTask",
      "properties": {
        "dataDisks": {
          "description": "Describes the set of data disks this task should apply to.",
          "items": {
            "$ref": "MountedDataDisk"
          },
          "type": "array"
        },
        "computationRanges": {
          "items": {
            "$ref": "StreamingComputationRanges"
          },
          "description": "Contains ranges of a streaming computation this task should apply to.",
          "type": "array"
        },
        "taskType": {
          "enumDescriptions": [
            "The streaming computation task is unknown, or unspecified.",
            "Stop processing specified streaming computation range(s).",
            "Start processing specified streaming computation range(s)."
          ],
          "description": "A type of streaming computation task.",
          "enum": [
            "STREAMING_COMPUTATION_TASK_UNKNOWN",
            "STREAMING_COMPUTATION_TASK_STOP",
            "STREAMING_COMPUTATION_TASK_START"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "A task which describes what action should be performed for the specified streaming computation ranges."
    },
    "DistributionUpdate": {
      "type": "object",
      "description": "A metric value representing a distribution.",
      "properties": {
        "min": {
          "$ref": "SplitInt64",
          "description": "The minimum value present in the distribution."
        },
        "sum": {
          "description": "Use an int64 since we'd prefer the added precision. If overflow is a common problem we can detect it and use an additional int64 or a double.",
          "$ref": "SplitInt64"
        },
        "count": {
          "$ref": "SplitInt64",
          "description": "The count of the number of elements present in the distribution."
        },
        "histogram": {
          "description": "(Optional) Histogram of value counts for the distribution.",
          "$ref": "Histogram"
        },
        "sumOfSquares": {
          "format": "double",
          "description": "Use a double since the sum of squares is likely to overflow int64.",
          "type": "number"
        },
        "max": {
          "description": "The maximum value present in the distribution.",
          "$ref": "SplitInt64"
        }
      },
      "id": "DistributionUpdate"
    },
    "StreamingComputationConfig": {
      "id": "StreamingComputationConfig",
      "type": "object",
      "properties": {
        "computationId": {
          "description": "Unique identifier for this computation.",
          "type": "string"
        },
        "stageName": {
          "description": "Stage name of this computation.",
          "type": "string"
        },
        "systemName": {
          "description": "System defined name for this computation.",
          "type": "string"
        },
        "instructions": {
          "type": "array",
          "items": {
            "$ref": "ParallelInstruction"
          },
          "description": "Instructions that comprise the computation."
        },
        "transformUserNameToStateFamily": {
          "description": "Map from user name of stateful transforms in this stage to their state family.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "Configuration information for a single streaming computation."
    },
    "IntegerMean": {
      "description": "A representation of an integer mean metric contribution.",
      "properties": {
        "sum": {
          "$ref": "SplitInt64",
          "description": "The sum of all values being aggregated."
        },
        "count": {
          "description": "The number of values being aggregated.",
          "$ref": "SplitInt64"
        }
      },
      "type": "object",
      "id": "IntegerMean"
    },
    "CounterStructuredNameAndMetadata": {
      "description": "A single message which encapsulates structured name and metadata for a given counter.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata associated with a counter",
          "$ref": "CounterMetadata"
        },
        "name": {
          "$ref": "CounterStructuredName",
          "description": "Structured name of the counter."
        }
      },
      "id": "CounterStructuredNameAndMetadata"
    },
    "SdkVersion": {
      "description": "The version of the SDK used to run the job.",
      "id": "SdkVersion",
      "properties": {
        "version": {
          "description": "The version of the SDK used to run the job.",
          "type": "string"
        },
        "sdkSupportStatus": {
          "enumDescriptions": [
            "Cloud Dataflow is unaware of this version.",
            "This is a known version of an SDK, and is supported.",
            "A newer version of the SDK family exists, and an update is recommended.",
            "This version of the SDK is deprecated and will eventually be unsupported.",
            "Support for this SDK version has ended and it should no longer be used."
          ],
          "description": "The support status for this SDK version.",
          "enum": [
            "UNKNOWN",
            "SUPPORTED",
            "STALE",
            "DEPRECATED",
            "UNSUPPORTED"
          ],
          "type": "string"
        },
        "versionDisplayName": {
          "description": "A readable string describing the version of the SDK.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Straggler": {
      "type": "object",
      "description": "Information for a straggler.",
      "id": "Straggler",
      "properties": {
        "batchStraggler": {
          "$ref": "StragglerInfo",
          "description": "Batch straggler identification and debugging information."
        },
        "streamingStraggler": {
          "description": "Streaming straggler identification and debugging information.",
          "$ref": "StreamingStragglerInfo"
        }
      }
    },
    "ParallelInstruction": {
      "type": "object",
      "id": "ParallelInstruction",
      "properties": {
        "read": {
          "$ref": "ReadInstruction",
          "description": "Additional information for Read instructions."
        },
        "flatten": {
          "description": "Additional information for Flatten instructions.",
          "$ref": "FlattenInstruction"
        },
        "name": {
          "description": "User-provided name of this operation.",
          "type": "string"
        },
        "partialGroupByKey": {
          "$ref": "PartialGroupByKeyInstruction",
          "description": "Additional information for PartialGroupByKey instructions."
        },
        "write": {
          "description": "Additional information for Write instructions.",
          "$ref": "WriteInstruction"
        },
        "originalName": {
          "type": "string",
          "description": "System-defined name for the operation in the original workflow graph."
        },
        "outputs": {
          "type": "array",
          "items": {
            "$ref": "InstructionOutput"
          },
          "description": "Describes the outputs of the instruction."
        },
        "parDo": {
          "$ref": "ParDoInstruction",
          "description": "Additional information for ParDo instructions."
        },
        "systemName": {
          "type": "string",
          "description": "System-defined name of this operation. Unique across the workflow."
        }
      },
      "description": "Describes a particular operation comprising a MapTask."
    },
    "WorkerMessageCode": {
      "properties": {
        "code": {
          "type": "string",
          "description": "The code is a string intended for consumption by a machine that identifies the type of message being sent. Examples: 1. \"HARNESS_STARTED\" might be used to indicate the worker harness has started. 2. \"GCS_DOWNLOAD_ERROR\" might be used to indicate an error downloading a Cloud Storage file as part of the boot process of one of the worker containers. This is a string and not an enum to make it easy to add new codes without waiting for an API change."
        },
        "parameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Parameters contains specific information about the code. This is a struct to allow parameters of different types. Examples: 1. For a \"HARNESS_STARTED\" message parameters might provide the name of the worker and additional data like timing information. 2. For a \"GCS_DOWNLOAD_ERROR\" parameters might contain fields listing the Cloud Storage objects being downloaded and fields containing errors. In general complex data structures should be avoided. If a worker needs to send a specific and complicated data structure then please consider defining a new proto and adding it to the data oneof in WorkerMessageResponse. Conventions: Parameters should only be used for information that isn't typically passed as a label. hostname and other worker identifiers should almost always be passed as labels since they will be included on most messages."
        }
      },
      "type": "object",
      "id": "WorkerMessageCode",
      "description": "A message code is used to report status and error messages to the service. The message codes are intended to be machine readable. The service will take care of translating these into user understandable messages if necessary. Example use cases: 1. Worker processes reporting successful startup. 2. Worker processes reporting specific errors (e.g. package staging failure)."
    },
    "CreateJobFromTemplateRequest": {
      "type": "object",
      "description": "A request to create a Cloud Dataflow job from a template.",
      "properties": {
        "environment": {
          "$ref": "RuntimeEnvironment",
          "description": "The runtime environment for the job."
        },
        "location": {
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
          "type": "string"
        },
        "parameters": {
          "description": "The runtime parameters to pass to the job.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "jobName": {
          "description": "Required. The job name to use for the created job.",
          "type": "string"
        },
        "gcsPath": {
          "description": "Required. A Cloud Storage path to the template from which to create the job. Must be a valid Cloud Storage URL, beginning with `gs://`.",
          "type": "string"
        }
      },
      "id": "CreateJobFromTemplateRequest"
    },
    "StreamingApplianceSnapshotConfig": {
      "properties": {
        "snapshotId": {
          "description": "If set, indicates the snapshot id for the snapshot being performed.",
          "type": "string"
        },
        "importStateEndpoint": {
          "description": "Indicates which endpoint is used to import appliance state.",
          "type": "string"
        }
      },
      "description": "Streaming appliance snapshot configuration.",
      "id": "StreamingApplianceSnapshotConfig",
      "type": "object"
    },
    "IntegerGauge": {
      "description": "A metric value representing temporal values of a variable.",
      "id": "IntegerGauge",
      "properties": {
        "timestamp": {
          "format": "google-datetime",
          "description": "The time at which this value was measured. Measured as msecs from epoch.",
          "type": "string"
        },
        "value": {
          "$ref": "SplitInt64",
          "description": "The value of the variable represented by this gauge."
        }
      },
      "type": "object"
    },
    "ReportWorkItemStatusRequest": {
      "type": "object",
      "id": "ReportWorkItemStatusRequest",
      "description": "Request to report the status of WorkItems.",
      "properties": {
        "workItemStatuses": {
          "description": "The order is unimportant, except that the order of the WorkItemServiceState messages in the ReportWorkItemStatusResponse corresponds to the order of WorkItemStatus messages here.",
          "type": "array",
          "items": {
            "$ref": "WorkItemStatus"
          }
        },
        "workerId": {
          "description": "The ID of the worker reporting the WorkItem status. If this does not match the ID of the worker which the Dataflow service believes currently has the lease on the WorkItem, the report will be dropped (with an error response).",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job."
        },
        "currentWorkerTime": {
          "description": "The current timestamp at the worker.",
          "format": "google-datetime",
          "type": "string"
        },
        "unifiedWorkerRequest": {
          "type": "object",
          "description": "Untranslated bag-of-bytes WorkProgressUpdateRequest from UnifiedWorker.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "MetricUpdate": {
      "type": "object",
      "id": "MetricUpdate",
      "description": "Describes the state of a metric.",
      "properties": {
        "scalar": {
          "type": "any",
          "description": "Worker-computed aggregate value for aggregation kinds \"Sum\", \"Max\", \"Min\", \"And\", and \"Or\". The possible value types are Long, Double, and Boolean."
        },
        "gauge": {
          "description": "A struct value describing properties of a Gauge. Metrics of gauge type show the value of a metric across time, and is aggregated based on the newest value.",
          "type": "any"
        },
        "kind": {
          "type": "string",
          "description": "Metric aggregation kind. The possible metric aggregation kinds are \"Sum\", \"Max\", \"Min\", \"Mean\", \"Set\", \"And\", \"Or\", and \"Distribution\". The specified aggregation kind is case-insensitive. If omitted, this is not an aggregated value but instead a single metric sample value."
        },
        "distribution": {
          "type": "any",
          "description": "A struct value describing properties of a distribution of numeric values."
        },
        "meanSum": {
          "type": "any",
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the sum of the aggregated values and is used in combination with mean_count below to obtain the actual mean aggregate value. The only possible value types are Long and Double."
        },
        "name": {
          "$ref": "MetricStructuredName",
          "description": "Name of the metric."
        },
        "cumulative": {
          "description": "True if this metric is reported as the total cumulative aggregate value accumulated since the worker started working on this WorkItem. By default this is false, indicating that this metric is reported as a delta that is not associated with any WorkItem.",
          "type": "boolean"
        },
        "internal": {
          "type": "any",
          "description": "Worker-computed aggregate value for internal use by the Dataflow service."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp associated with the metric value. Optional when workers are reporting work progress; it will be filled in responses from the metrics API."
        },
        "set": {
          "type": "any",
          "description": "Worker-computed aggregate value for the \"Set\" aggregation kind. The only possible value type is a list of Values whose type can be Long, Double, or String, according to the metric's type. All Values in the list must be of the same type."
        },
        "meanCount": {
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the count of the aggregated values and is used in combination with mean_sum above to obtain the actual mean aggregate value. The only possible value type is Long.",
          "type": "any"
        }
      }
    },
    "AutoscalingEvent": {
      "id": "AutoscalingEvent",
      "type": "object",
      "properties": {
        "workerPool": {
          "description": "A short and friendly name for the worker pool this event refers to.",
          "type": "string"
        },
        "targetNumWorkers": {
          "description": "The target number of workers the worker pool wants to resize to use.",
          "format": "int64",
          "type": "string"
        },
        "time": {
          "format": "google-datetime",
          "description": "The time this event was emitted to indicate a new target or current num_workers value.",
          "type": "string"
        },
        "description": {
          "$ref": "StructuredMessage",
          "description": "A message describing why the system decided to adjust the current number of workers, why it failed, or why the system decided to not make any changes to the number of workers."
        },
        "eventType": {
          "enum": [
            "TYPE_UNKNOWN",
            "TARGET_NUM_WORKERS_CHANGED",
            "CURRENT_NUM_WORKERS_CHANGED",
            "ACTUATION_FAILURE",
            "NO_CHANGE"
          ],
          "enumDescriptions": [
            "Default type for the enum. Value should never be returned.",
            "The TARGET_NUM_WORKERS_CHANGED type should be used when the target worker pool size has changed at the start of an actuation. An event should always be specified as TARGET_NUM_WORKERS_CHANGED if it reflects a change in the target_num_workers.",
            "The CURRENT_NUM_WORKERS_CHANGED type should be used when actual worker pool size has been changed, but the target_num_workers has not changed.",
            "The ACTUATION_FAILURE type should be used when we want to report an error to the user indicating why the current number of workers in the pool could not be changed. Displayed in the current status and history widgets.",
            "Used when we want to report to the user a reason why we are not currently adjusting the number of workers. Should specify both target_num_workers, current_num_workers and a decision_message."
          ],
          "type": "string",
          "description": "The type of autoscaling event to report."
        },
        "currentNumWorkers": {
          "description": "The current number of workers the job has.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "A structured message reporting an autoscaling decision made by the Dataflow service."
    },
    "CounterMetadata": {
      "type": "object",
      "properties": {
        "kind": {
          "enumDescriptions": [
            "Counter aggregation kind was not set.",
            "Aggregated value is the sum of all contributed values.",
            "Aggregated value is the max of all contributed values.",
            "Aggregated value is the min of all contributed values.",
            "Aggregated value is the mean of all contributed values.",
            "Aggregated value represents the logical 'or' of all contributed values.",
            "Aggregated value represents the logical 'and' of all contributed values.",
            "Aggregated value is a set of unique contributed values.",
            "Aggregated value captures statistics about a distribution.",
            "Aggregated value tracks the latest value of a variable."
          ],
          "type": "string",
          "description": "Counter aggregation kind.",
          "enum": [
            "INVALID",
            "SUM",
            "MAX",
            "MIN",
            "MEAN",
            "OR",
            "AND",
            "SET",
            "DISTRIBUTION",
            "LATEST_VALUE"
          ]
        },
        "otherUnits": {
          "description": "A string referring to the unit type.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Human-readable description of the counter semantics."
        },
        "standardUnits": {
          "enum": [
            "BYTES",
            "BYTES_PER_SEC",
            "MILLISECONDS",
            "MICROSECONDS",
            "NANOSECONDS",
            "TIMESTAMP_MSEC",
            "TIMESTAMP_USEC",
            "TIMESTAMP_NSEC"
          ],
          "description": "System defined Units, see above enum.",
          "type": "string",
          "enumDescriptions": [
            "Counter returns a value in bytes.",
            "Counter returns a value in bytes per second.",
            "Counter returns a value in milliseconds.",
            "Counter returns a value in microseconds.",
            "Counter returns a value in nanoseconds.",
            "Counter returns a timestamp in milliseconds.",
            "Counter returns a timestamp in microseconds.",
            "Counter returns a timestamp in nanoseconds."
          ]
        }
      },
      "id": "CounterMetadata",
      "description": "CounterMetadata includes all static non-name non-value counter attributes."
    },
    "KeyRangeDataDiskAssignment": {
      "id": "KeyRangeDataDiskAssignment",
      "description": "Data disk assignment information for a specific key-range of a sharded computation. Currently we only support UTF-8 character splits to simplify encoding into JSON.",
      "type": "object",
      "properties": {
        "end": {
          "type": "string",
          "description": "The end (exclusive) of the key range."
        },
        "start": {
          "description": "The start (inclusive) of the key range.",
          "type": "string"
        },
        "dataDisk": {
          "description": "The name of the data disk where data for this range is stored. This name is local to the Google Cloud Platform project and uniquely identifies the disk within that project, for example \"myproject-1014-104817-4c2-harness-0-disk-1\".",
          "type": "string"
        }
      }
    },
    "Sink": {
      "description": "A sink that records can be encoded and written to.",
      "properties": {
        "codec": {
          "type": "object",
          "description": "The codec to use to encode data written to the sink.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "spec": {
          "type": "object",
          "description": "The sink to write to, plus its parameters.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "Sink",
      "type": "object"
    },
    "LaunchFlexTemplateResponse": {
      "type": "object",
      "description": "Response to the request to launch a job from Flex Template.",
      "properties": {
        "job": {
          "description": "The job that was launched, if the request was not a dry run and the job was successfully launched.",
          "$ref": "Job"
        }
      },
      "id": "LaunchFlexTemplateResponse"
    },
    "SeqMapTaskOutputInfo": {
      "id": "SeqMapTaskOutputInfo",
      "properties": {
        "sink": {
          "description": "The sink to write the output value to.",
          "$ref": "Sink"
        },
        "tag": {
          "type": "string",
          "description": "The id of the TupleTag the user code will tag the output value by."
        }
      },
      "type": "object",
      "description": "Information about an output of a SeqMapTask."
    },
    "RuntimeMetadata": {
      "properties": {
        "sdkInfo": {
          "$ref": "SDKInfo",
          "description": "SDK Info for the template."
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "ParameterMetadata"
          },
          "description": "The parameters for the template."
        }
      },
      "id": "RuntimeMetadata",
      "type": "object",
      "description": "RuntimeMetadata describing a runtime environment."
    },
    "MemInfo": {
      "properties": {
        "currentOoms": {
          "description": "Number of Out of Memory (OOM) events recorded since the previous measurement.",
          "type": "string",
          "format": "int64"
        },
        "currentLimitBytes": {
          "description": "Instantenous memory limit in bytes.",
          "type": "string",
          "format": "uint64"
        },
        "timestamp": {
          "format": "google-datetime",
          "description": "Timestamp of the measurement.",
          "type": "string"
        },
        "currentRssBytes": {
          "description": "Instantenous memory (RSS) size in bytes.",
          "format": "uint64",
          "type": "string"
        },
        "totalGbMs": {
          "description": "Total memory (RSS) usage since start up in GB * ms.",
          "type": "string",
          "format": "uint64"
        }
      },
      "id": "MemInfo",
      "description": "Information about the memory usage of a worker or a container within a worker.",
      "type": "object"
    },
    "StringList": {
      "id": "StringList",
      "properties": {
        "elements": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Elements of the list."
        }
      },
      "type": "object",
      "description": "A metric value representing a list of strings."
    },
    "StageExecutionDetails": {
      "properties": {
        "workers": {
          "items": {
            "$ref": "WorkerDetails"
          },
          "description": "Workers that have done work on the stage.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "If present, this response does not contain all requested tasks. To obtain the next page of results, repeat the request with page_token set to this value.",
          "type": "string"
        }
      },
      "description": "Information about the workers and work items within a stage.",
      "id": "StageExecutionDetails",
      "type": "object"
    },
    "Position": {
      "type": "object",
      "id": "Position",
      "properties": {
        "end": {
          "type": "boolean",
          "description": "Position is past all other positions. Also useful for the end position of an unbounded range."
        },
        "shufflePosition": {
          "description": "CloudPosition is a base64 encoded BatchShufflePosition (with FIXED sharding).",
          "type": "string"
        },
        "recordIndex": {
          "description": "Position is a record index.",
          "format": "int64",
          "type": "string"
        },
        "byteOffset": {
          "description": "Position is a byte offset.",
          "format": "int64",
          "type": "string"
        },
        "concatPosition": {
          "description": "CloudPosition is a concat position.",
          "$ref": "ConcatPosition"
        },
        "key": {
          "type": "string",
          "description": "Position is a string key, ordered lexicographically."
        }
      },
      "description": "Position defines a position within a collection of data. The value can be either the end position, a key (used with ordered collections), a byte offset, or a record index."
    },
    "FailedLocation": {
      "id": "FailedLocation",
      "properties": {
        "name": {
          "description": "The name of the [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that failed to respond.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Indicates which [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) failed to respond to a request for data."
    },
    "StructuredMessage": {
      "type": "object",
      "id": "StructuredMessage",
      "description": "A rich message format, including a human readable string, a key for identifying the message, and structured data associated with the message for programmatic consumption.",
      "properties": {
        "parameters": {
          "items": {
            "$ref": "Parameter"
          },
          "type": "array",
          "description": "The structured data associated with this message."
        },
        "messageText": {
          "type": "string",
          "description": "Human-readable version of message."
        },
        "messageKey": {
          "type": "string",
          "description": "Identifier for this message type. Used by external systems to internationalize or personalize message."
        }
      }
    },
    "ShellTask": {
      "properties": {
        "exitCode": {
          "description": "Exit code for the task.",
          "format": "int32",
          "type": "integer"
        },
        "command": {
          "description": "The shell command to run.",
          "type": "string"
        }
      },
      "description": "A task which consists of a shell command for the worker to execute.",
      "id": "ShellTask",
      "type": "object"
    },
    "GetDebugConfigResponse": {
      "properties": {
        "config": {
          "type": "string",
          "description": "The encoded debug configuration for the requested component."
        }
      },
      "type": "object",
      "id": "GetDebugConfigResponse",
      "description": "Response to a get debug configuration request."
    },
    "FloatingPointMean": {
      "id": "FloatingPointMean",
      "description": "A representation of a floating point mean metric contribution.",
      "properties": {
        "sum": {
          "description": "The sum of all values being aggregated.",
          "type": "number",
          "format": "double"
        },
        "count": {
          "$ref": "SplitInt64",
          "description": "The number of values being aggregated."
        }
      },
      "type": "object"
    },
    "ContainerSpec": {
      "type": "object",
      "id": "ContainerSpec",
      "properties": {
        "imageRepositoryCertPath": {
          "type": "string",
          "description": "Cloud Storage path to self-signed certificate of private registry."
        },
        "imageRepositoryPasswordSecretId": {
          "type": "string",
          "description": "Secret Manager secret id for password to authenticate to private registry."
        },
        "metadata": {
          "$ref": "TemplateMetadata",
          "description": "Metadata describing a template including description and validation rules."
        },
        "image": {
          "type": "string",
          "description": "Name of the docker container image. E.g., gcr.io/project/some-image"
        },
        "sdkInfo": {
          "$ref": "SDKInfo",
          "description": "Required. SDK info of the Flex Template."
        },
        "imageRepositoryUsernameSecretId": {
[...]
