{
  "discoveryVersion": "v1",
  "schemas": {
    "PathElement": {
      "properties": {
        "name": {
          "description": "The name of the entity. A name matching regex `__.*__` is reserved/read-only. A name must not be more than 1500 bytes when UTF-8 encoded. Cannot be `\"\"`.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The auto-allocated ID of the entity. Never equal to zero. Values less than zero are discouraged and may not be supported in the future.",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "The kind of the entity. A kind matching regex `__.*__` is reserved/read-only. A kind must not contain more than 1500 bytes when UTF-8 encoded. Cannot be `\"\"`."
        }
      },
      "description": "A (kind, ID/name) pair used to construct a key path. If either name or ID is set, the element is complete. If neither is set, the element is incomplete.",
      "type": "object",
      "id": "PathElement"
    },
    "PropertyOrder": {
      "id": "PropertyOrder",
      "properties": {
        "property": {
          "$ref": "PropertyReference",
          "description": "The property to order by."
        },
        "direction": {
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "Ascending.",
            "Descending."
          ],
          "type": "string",
          "description": "The direction to order by. Defaults to `ASCENDING`.",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ]
        }
      },
      "type": "object",
      "description": "The desired order for a specific property."
    },
    "GoogleDatastoreAdminV1beta1ImportEntitiesMetadata": {
      "type": "object",
      "properties": {
        "progressEntities": {
          "$ref": "GoogleDatastoreAdminV1beta1Progress",
          "description": "An estimate of the number of entities processed."
        },
        "inputUrl": {
          "description": "The location of the import metadata file. This will be the same value as the google.datastore.admin.v1beta1.ExportEntitiesResponse.output_url field.",
          "type": "string"
        },
        "common": {
          "$ref": "GoogleDatastoreAdminV1beta1CommonMetadata",
          "description": "Metadata common to all Datastore Admin operations."
        },
        "entityFilter": {
          "$ref": "GoogleDatastoreAdminV1beta1EntityFilter",
          "description": "Description of which entities are being imported."
        },
        "progressBytes": {
          "description": "An estimate of the number of bytes processed.",
          "$ref": "GoogleDatastoreAdminV1beta1Progress"
        }
      },
      "description": "Metadata for ImportEntities operations.",
      "id": "GoogleDatastoreAdminV1beta1ImportEntitiesMetadata"
    },
    "CommitResponse": {
      "description": "The response for Datastore.Commit.",
      "type": "object",
      "properties": {
        "mutationResults": {
          "description": "The result of performing the mutations. The i-th mutation result corresponds to the i-th mutation in the request.",
          "items": {
            "$ref": "MutationResult"
          },
          "type": "array"
        },
        "indexUpdates": {
          "format": "int32",
          "type": "integer",
          "description": "The number of index entries updated during the commit, or zero if none were updated."
        }
      },
      "id": "CommitResponse"
    },
    "GoogleDatastoreAdminV1Progress": {
      "description": "Measures the progress of a particular metric.",
      "properties": {
        "workCompleted": {
          "description": "The amount of work that has been completed. Note that this may be greater than work_estimated.",
          "type": "string",
          "format": "int64"
        },
        "workEstimated": {
          "type": "string",
          "format": "int64",
          "description": "An estimate of how much work needs to be performed. May be zero if the work estimate is unavailable."
        }
      },
      "id": "GoogleDatastoreAdminV1Progress",
      "type": "object"
    },
    "AllocateIdsResponse": {
      "type": "object",
      "description": "The response for Datastore.AllocateIds.",
      "properties": {
        "keys": {
          "items": {
            "$ref": "Key"
          },
          "type": "array",
          "description": "The keys specified in the request (in the same order), each with its key path completed with a newly allocated ID."
        }
      },
      "id": "AllocateIdsResponse"
    },
    "ReserveIdsRequest": {
      "description": "The request for Datastore.ReserveIds.",
      "properties": {
        "databaseId": {
          "description": "If not empty, the ID of the database against which to make the request.",
          "type": "string"
        },
        "keys": {
          "description": "Required. A list of keys with complete key paths whose numeric IDs should not be auto-allocated.",
          "items": {
            "$ref": "Key"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ReserveIdsRequest"
    },
    "LookupResponse": {
      "type": "object",
      "properties": {
        "deferred": {
          "type": "array",
          "items": {
            "$ref": "Key"
          },
          "description": "A list of keys that were not looked up due to resource constraints. The order of results in this field is undefined and has no relation to the order of the keys in the input."
        },
        "missing": {
          "items": {
            "$ref": "EntityResult"
          },
          "description": "Entities not found as `ResultType.KEY_ONLY` entities. The order of results in this field is undefined and has no relation to the order of the keys in the input.",
          "type": "array"
        },
        "found": {
          "type": "array",
          "items": {
            "$ref": "EntityResult"
          },
          "description": "Entities found as `ResultType.FULL` entities. The order of results in this field is undefined and has no relation to the order of the keys in the input."
        }
      },
      "id": "LookupResponse",
      "description": "The response for Datastore.Lookup."
    },
    "GoogleDatastoreAdminV1beta1CommonMetadata": {
      "description": "Metadata common to all Datastore Admin operations.",
      "properties": {
        "state": {
          "description": "The current state of the Operation.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ]
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The client-assigned labels which were provided when the operation was created. May also include additional labels.",
          "type": "object"
        },
        "startTime": {
          "description": "The time that work began on the operation.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the operation ended, either successfully or otherwise."
        },
        "operationType": {
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "EXPORT_ENTITIES",
            "IMPORT_ENTITIES"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "ExportEntities.",
            "ImportEntities."
          ],
          "type": "string",
          "description": "The type of the operation. Can be used as a filter in ListOperationsRequest."
        }
      },
      "id": "GoogleDatastoreAdminV1beta1CommonMetadata",
      "type": "object"
    },
    "ReadWrite": {
      "description": "Options specific to read / write transactions.",
      "type": "object",
      "id": "ReadWrite",
      "properties": {
        "previousTransaction": {
          "description": "The transaction identifier of the transaction being retried.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "Filter": {
      "id": "Filter",
      "properties": {
        "compositeFilter": {
          "description": "A composite filter.",
          "$ref": "CompositeFilter"
        },
        "propertyFilter": {
          "$ref": "PropertyFilter",
          "description": "A filter on a property."
        }
      },
      "description": "A holder for any type of filter.",
      "type": "object"
    },
    "QueryResultBatch": {
      "type": "object",
      "properties": {
        "moreResults": {
          "type": "string",
          "description": "The state of the query after the current batch.",
          "enum": [
            "MORE_RESULTS_TYPE_UNSPECIFIED",
            "NOT_FINISHED",
            "MORE_RESULTS_AFTER_LIMIT",
            "MORE_RESULTS_AFTER_CURSOR",
            "NO_MORE_RESULTS"
          ],
          "enumDescriptions": [
            "Unspecified. This value is never used.",
            "There may be additional batches to fetch from this query.",
            "The query is finished, but there may be more results after the limit.",
            "The query is finished, but there may be more results after the end cursor.",
            "The query is finished, and there are no more results."
          ]
        },
        "skippedResults": {
          "type": "integer",
          "description": "The number of results skipped, typically because of an offset.",
          "format": "int32"
        },
        "skippedCursor": {
          "format": "byte",
          "description": "A cursor that points to the position after the last skipped result. Will be set when `skipped_results` != 0.",
          "type": "string"
        },
        "endCursor": {
          "format": "byte",
          "type": "string",
          "description": "A cursor that points to the position after the last result in the batch."
        },
        "entityResultType": {
          "type": "string",
          "enum": [
            "RESULT_TYPE_UNSPECIFIED",
            "FULL",
            "PROJECTION",
            "KEY_ONLY"
          ],
          "description": "The result type for every entity in `entity_results`.",
          "enumDescriptions": [
            "Unspecified. This value is never used.",
            "The key and properties.",
            "A projected subset of properties. The entity may have no key.",
            "Only the key."
          ]
        },
        "snapshotVersion": {
          "type": "string",
          "format": "int64",
          "description": "The version number of the snapshot this batch was returned from. This applies to the range of results from the query's `start_cursor` (or the beginning of the query if no cursor was given) to this batch's `end_cursor` (not the query's `end_cursor`). In a single transaction, subsequent query result batches for the same query can have a greater snapshot version number. Each batch's snapshot version is valid for all preceding batches. The value will be zero for eventually consistent queries."
        },
        "entityResults": {
          "items": {
            "$ref": "EntityResult"
          },
          "description": "The results for this batch.",
          "type": "array"
        }
      },
      "id": "QueryResultBatch",
      "description": "A batch of results produced by a query."
    },
    "GoogleDatastoreAdminV1beta1ExportEntitiesMetadata": {
      "properties": {
        "common": {
          "$ref": "GoogleDatastoreAdminV1beta1CommonMetadata",
          "description": "Metadata common to all Datastore Admin operations."
        },
        "outputUrlPrefix": {
          "description": "Location for the export metadata and data files. This will be the same value as the google.datastore.admin.v1beta1.ExportEntitiesRequest.output_url_prefix field. The final output location is provided in google.datastore.admin.v1beta1.ExportEntitiesResponse.output_url.",
          "type": "string"
        },
        "entityFilter": {
          "description": "Description of which entities are being exported.",
          "$ref": "GoogleDatastoreAdminV1beta1EntityFilter"
        },
        "progressBytes": {
          "$ref": "GoogleDatastoreAdminV1beta1Progress",
          "description": "An estimate of the number of bytes processed."
        },
        "progressEntities": {
          "description": "An estimate of the number of entities processed.",
          "$ref": "GoogleDatastoreAdminV1beta1Progress"
        }
      },
      "description": "Metadata for ExportEntities operations.",
      "id": "GoogleDatastoreAdminV1beta1ExportEntitiesMetadata",
      "type": "object"
    },
    "TransactionOptions": {
      "id": "TransactionOptions",
      "properties": {
        "readOnly": {
          "description": "The transaction should only allow reads.",
          "$ref": "ReadOnly"
        },
        "readWrite": {
          "description": "The transaction should allow both reads and writes.",
          "$ref": "ReadWrite"
        }
      },
      "description": "Options for beginning a new transaction. Transactions can be created explicitly with calls to Datastore.BeginTransaction or implicitly by setting ReadOptions.new_transaction in read requests.",
      "type": "object"
    },
    "GqlQueryParameter": {
      "properties": {
        "cursor": {
          "description": "A query cursor. Query cursors are returned in query result batches.",
          "format": "byte",
          "type": "string"
        },
        "value": {
          "$ref": "Value",
          "description": "A value parameter."
        }
      },
      "description": "A binding parameter for a GQL query.",
      "id": "GqlQueryParameter",
      "type": "object"
    },
    "GoogleDatastoreAdminV1EntityFilter": {
      "type": "object",
      "id": "GoogleDatastoreAdminV1EntityFilter",
      "description": "Identifies a subset of entities in a project. This is specified as combinations of kinds and namespaces (either or both of which may be all, as described in the following examples). Example usage: Entire project: kinds=[], namespace_ids=[] Kinds Foo and Bar in all namespaces: kinds=['Foo', 'Bar'], namespace_ids=[] Kinds Foo and Bar only in the default namespace: kinds=['Foo', 'Bar'], namespace_ids=[''] Kinds Foo and Bar in both the default and Baz namespaces: kinds=['Foo', 'Bar'], namespace_ids=['', 'Baz'] The entire Baz namespace: kinds=[], namespace_ids=['Baz']",
      "properties": {
        "kinds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "If empty, then this represents all kinds."
        },
        "namespaceIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "An empty list represents all namespaces. This is the preferred usage for projects that don't use namespaces. An empty string element represents the default namespace. This should be used if the project has data in non-default namespaces, but doesn't want to include them. Each namespace in this list must be unique."
        }
      }
    },
    "GoogleDatastoreAdminV1ExportEntitiesResponse": {
      "id": "GoogleDatastoreAdminV1ExportEntitiesResponse",
      "type": "object",
      "description": "The response for google.datastore.admin.v1.DatastoreAdmin.ExportEntities.",
      "properties": {
        "outputUrl": {
          "type": "string",
          "description": "Location of the output metadata file. This can be used to begin an import into Cloud Datastore (this project or another project). See google.datastore.admin.v1.ImportEntitiesRequest.input_url. Only present if the operation completed successfully."
        }
      }
    },
    "ReadOptions": {
      "properties": {
        "transaction": {
          "type": "string",
          "format": "byte",
          "description": "The identifier of the transaction in which to read. A transaction identifier is returned by a call to Datastore.BeginTransaction."
        },
        "readConsistency": {
          "enum": [
            "READ_CONSISTENCY_UNSPECIFIED",
            "STRONG",
            "EVENTUAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "Strong consistency.",
            "Eventual consistency."
          ],
          "description": "The non-transactional read consistency to use. Cannot be set to `STRONG` for global queries."
        }
      },
      "id": "ReadOptions",
      "type": "object",
      "description": "The options shared by read requests."
    },
    "GqlQuery": {
      "properties": {
        "queryString": {
          "description": "A string of the format described [here](https://cloud.google.com/datastore/docs/apis/gql/gql_reference).",
          "type": "string"
        },
        "allowLiterals": {
          "description": "When false, the query string must not contain any literals and instead must bind all values. For example, `SELECT * FROM Kind WHERE a = 'string literal'` is not allowed, while `SELECT * FROM Kind WHERE a = @value` is.",
          "type": "boolean"
        },
        "namedBindings": {
          "additionalProperties": {
            "$ref": "GqlQueryParameter"
          },
          "type": "object",
          "description": "For each non-reserved named binding site in the query string, there must be a named parameter with that name, but not necessarily the inverse. Key must match regex `A-Za-z_$*`, must not match regex `__.*__`, and must not be `\"\"`."
        },
        "positionalBindings": {
          "items": {
            "$ref": "GqlQueryParameter"
          },
          "type": "array",
          "description": "Numbered binding site @1 references the first numbered parameter, effectively using 1-based indexing, rather than the usual 0. For each binding site numbered i in `query_string`, there must be an i-th numbered parameter. The inverse must also be true."
        }
      },
      "id": "GqlQuery",
      "description": "A [GQL query](https://cloud.google.com/datastore/docs/apis/gql/gql_reference).",
      "type": "object"
    },
    "GoogleDatastoreAdminV1ImportEntitiesMetadata": {
      "type": "object",
      "id": "GoogleDatastoreAdminV1ImportEntitiesMetadata",
      "properties": {
        "entityFilter": {
          "$ref": "GoogleDatastoreAdminV1EntityFilter",
          "description": "Description of which entities are being imported."
        },
        "common": {
          "description": "Metadata common to all Datastore Admin operations.",
          "$ref": "GoogleDatastoreAdminV1CommonMetadata"
        },
        "inputUrl": {
          "type": "string",
          "description": "The location of the import metadata file. This will be the same value as the google.datastore.admin.v1.ExportEntitiesResponse.output_url field."
        },
        "progressBytes": {
          "description": "An estimate of the number of bytes processed.",
          "$ref": "GoogleDatastoreAdminV1Progress"
        },
        "progressEntities": {
          "$ref": "GoogleDatastoreAdminV1Progress",
          "description": "An estimate of the number of entities processed."
        }
      },
      "description": "Metadata for ImportEntities operations."
    },
    "Projection": {
      "id": "Projection",
      "type": "object",
      "description": "A representation of a property in a projection.",
      "properties": {
        "property": {
          "$ref": "PropertyReference",
          "description": "The property to project."
        }
      }
    },
    "PartitionId": {
      "properties": {
        "namespaceId": {
          "type": "string",
          "description": "If not empty, the ID of the namespace to which the entities belong."
        },
        "projectId": {
          "type": "string",
          "description": "The ID of the project to which the entities belong."
        }
      },
      "description": "A partition ID identifies a grouping of entities. The grouping is always by project and namespace, however the namespace ID may be empty. A partition ID contains several dimensions: project ID and namespace ID. Partition dimensions: - May be `\"\"`. - Must be valid UTF-8 bytes. - Must have values that match regex `[A-Za-z\\d\\.\\-_]{1,100}` If the value of any dimension matches regex `__.*__`, the partition is reserved/read-only. A reserved/read-only partition ID is forbidden in certain documented contexts. Foreign partition IDs (in which the project ID does not match the context project ID ) are discouraged. Reads and writes of foreign partition IDs may fail if the project is not in an active state.",
      "type": "object",
      "id": "PartitionId"
    },
    "GoogleDatastoreAdminV1beta1Progress": {
      "properties": {
        "workEstimated": {
          "description": "An estimate of how much work needs to be performed. May be zero if the work estimate is unavailable.",
          "format": "int64",
          "type": "string"
        },
        "workCompleted": {
          "type": "string",
          "description": "The amount of work that has been completed. Note that this may be greater than work_estimated.",
          "format": "int64"
        }
      },
      "description": "Measures the progress of a particular metric.",
      "id": "GoogleDatastoreAdminV1beta1Progress",
      "type": "object"
    },
    "Value": {
      "id": "Value",
      "properties": {
        "integerValue": {
          "description": "An integer value.",
          "format": "int64",
          "type": "string"
        },
        "arrayValue": {
          "description": "An array value. Cannot contain another array value. A `Value` instance that sets field `array_value` must not set fields `meaning` or `exclude_from_indexes`.",
          "$ref": "ArrayValue"
        },
        "entityValue": {
          "description": "An entity value. - May have no key. - May have a key with an incomplete key path. - May have a reserved/read-only key.",
          "$ref": "Entity"
        },
        "blobValue": {
          "format": "byte",
          "description": "A blob value. May have at most 1,000,000 bytes. When `exclude_from_indexes` is false, may have at most 1500 bytes. In JSON requests, must be base64-encoded.",
          "type": "string"
        },
        "timestampValue": {
          "format": "google-datetime",
          "type": "string",
          "description": "A timestamp value. When stored in the Datastore, precise only to microseconds; any additional precision is rounded down."
        },
        "stringValue": {
          "description": "A UTF-8 encoded string value. When `exclude_from_indexes` is false (it is indexed) , may have at most 1500 bytes. Otherwise, may be set to at most 1,000,000 bytes.",
          "type": "string"
        },
        "booleanValue": {
          "description": "A boolean value.",
          "type": "boolean"
        },
        "meaning": {
          "description": "The `meaning` field should only be populated for backwards compatibility.",
          "type": "integer",
          "format": "int32"
        },
        "excludeFromIndexes": {
          "type": "boolean",
          "description": "If the value should be excluded from all indexes including those defined explicitly."
        },
        "geoPointValue": {
          "description": "A geo point value representing a point on the surface of Earth.",
          "$ref": "LatLng"
        },
        "nullValue": {
          "enum": [
            "NULL_VALUE"
          ],
          "type": "string",
          "description": "A null value.",
          "enumDescriptions": [
            "Null value."
          ]
        },
        "doubleValue": {
          "format": "double",
          "description": "A double value.",
          "type": "number"
        },
        "keyValue": {
          "description": "A key value.",
          "$ref": "Key"
        }
      },
      "type": "object",
      "description": "A message that can hold any of the supported value types and associated metadata."
    },
    "GoogleDatastoreAdminV1beta1EntityFilter": {
      "properties": {
        "namespaceIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "An empty list represents all namespaces. This is the preferred usage for projects that don't use namespaces. An empty string element represents the default namespace. This should be used if the project has data in non-default namespaces, but doesn't want to include them. Each namespace in this list must be unique."
        },
        "kinds": {
          "items": {
            "type": "string"
          },
          "description": "If empty, then this represents all kinds.",
          "type": "array"
        }
      },
      "description": "Identifies a subset of entities in a project. This is specified as combinations of kinds and namespaces (either or both of which may be all, as described in the following examples). Example usage: Entire project: kinds=[], namespace_ids=[] Kinds Foo and Bar in all namespaces: kinds=['Foo', 'Bar'], namespace_ids=[] Kinds Foo and Bar only in the default namespace: kinds=['Foo', 'Bar'], namespace_ids=[''] Kinds Foo and Bar in both the default and Baz namespaces: kinds=['Foo', 'Bar'], namespace_ids=['', 'Baz'] The entire Baz namespace: kinds=[], namespace_ids=['Baz']",
      "type": "object",
      "id": "GoogleDatastoreAdminV1beta1EntityFilter"
    },
    "ReadOnly": {
      "type": "object",
      "description": "Options specific to read-only transactions.",
      "properties": {},
      "id": "ReadOnly"
    },
    "RunQueryRequest": {
      "id": "RunQueryRequest",
      "type": "object",
      "description": "The request for Datastore.RunQuery.",
      "properties": {
        "gqlQuery": {
          "$ref": "GqlQuery",
          "description": "The GQL query to run."
        },
        "partitionId": {
          "$ref": "PartitionId",
          "description": "Entities are partitioned into subsets, identified by a partition ID. Queries are scoped to a single partition. This partition ID is normalized with the standard default context partition ID."
        },
        "query": {
          "$ref": "Query",
          "description": "The query to run."
        },
        "readOptions": {
          "description": "The options for this query.",
          "$ref": "ReadOptions"
        }
      }
    },
    "GoogleDatastoreAdminV1CommonMetadata": {
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time that work began on the operation."
        },
        "endTime": {
          "type": "string",
          "description": "The time the operation ended, either successfully or otherwise.",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "description": "The current state of the Operation.",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ]
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The client-assigned labels which were provided when the operation was created. May also include additional labels."
        },
        "operationType": {
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "EXPORT_ENTITIES",
            "IMPORT_ENTITIES",
            "CREATE_INDEX",
            "DELETE_INDEX"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "ExportEntities.",
            "ImportEntities.",
            "CreateIndex.",
            "DeleteIndex."
          ],
          "type": "string",
          "description": "The type of the operation. Can be used as a filter in ListOperationsRequest."
        }
      },
      "id": "GoogleDatastoreAdminV1CommonMetadata",
      "type": "object",
      "description": "Metadata common to all Datastore Admin operations."
    },
    "Key": {
      "type": "object",
      "description": "A unique identifier for an entity. If a key's partition ID or any of its path kinds or names are reserved/read-only, the key is reserved/read-only. A reserved/read-only key is forbidden in certain documented contexts.",
      "id": "Key",
      "properties": {
        "path": {
          "description": "The entity path. An entity path consists of one or more elements composed of a kind and a string or numerical identifier, which identify entities. The first element identifies a _root entity_, the second element identifies a _child_ of the root entity, the third element identifies a child of the second entity, and so forth. The entities identified by all prefixes of the path are called the element's _ancestors_. An entity path is always fully complete: *all* of the entity's ancestors are required to be in the path along with the entity identifier itself. The only exception is that in some documented cases, the identifier in the last path element (for the entity) itself may be omitted. For example, the last path element of the key of `Mutation.insert` may have no identifier. A path can never be empty, and a path can have at most 100 elements.",
          "items": {
            "$ref": "PathElement"
          },
          "type": "array"
        },
        "partitionId": {
          "$ref": "PartitionId",
          "description": "Entities are partitioned into subsets, currently identified by a project ID and namespace ID. Queries are scoped to a single partition."
        }
      }
    },
    "EntityResult": {
      "id": "EntityResult",
      "description": "The result of fetching an entity from Datastore.",
      "properties": {
        "entity": {
          "description": "The resulting entity.",
          "$ref": "Entity"
        },
        "version": {
          "type": "string",
          "format": "int64",
          "description": "The version of the entity, a strictly positive number that monotonically increases with changes to the entity. This field is set for `FULL` entity results. For missing entities in `LookupResponse`, this is the version of the snapshot that was used to look up the entity, and it is always set except for eventually consistent reads."
        },
        "cursor": {
          "format": "byte",
          "type": "string",
          "description": "A cursor that points to the position after the result entity. Set only when the `EntityResult` is part of a `QueryResultBatch` message."
        }
      },
      "type": "object"
    },
    "RollbackRequest": {
      "type": "object",
      "properties": {
        "transaction": {
          "format": "byte",
          "type": "string",
          "description": "Required. The transaction identifier, returned by a call to Datastore.BeginTransaction."
        }
      },
      "id": "RollbackRequest",
      "description": "The request for Datastore.Rollback."
    },
    "PropertyFilter": {
      "type": "object",
      "description": "A filter on a specific property.",
      "properties": {
        "property": {
          "$ref": "PropertyReference",
          "description": "The property to filter by."
        },
        "op": {
          "description": "The operator to filter by.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The given `property` is less than the given `value`. Requires: * That `property` comes first in `order_by`.",
            "The given `property` is less than or equal to the given `value`. Requires: * That `property` comes first in `order_by`.",
            "The given `property` is greater than the given `value`. Requires: * That `property` comes first in `order_by`.",
            "The given `property` is greater than or equal to the given `value`. Requires: * That `property` comes first in `order_by`.",
            "The given `property` is equal to the given `value`.",
            "Limit the result set to the given entity and its descendants. Requires: * That `value` is an entity key."
          ],
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL",
            "EQUAL",
            "HAS_ANCESTOR"
          ]
        },
        "value": {
          "description": "The value to compare the property to.",
          "$ref": "Value"
        }
      },
      "id": "PropertyFilter"
    },
    "CompositeFilter": {
      "id": "CompositeFilter",
      "type": "object",
      "properties": {
        "op": {
          "type": "string",
          "description": "The operator for combining multiple filters.",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "AND"
          ],
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The results are required to satisfy each of the combined filters."
          ]
        },
        "filters": {
          "description": "The list of filters to combine. Must contain at least one filter.",
          "items": {
            "$ref": "Filter"
          },
          "type": "array"
        }
      },
      "description": "A filter that merges multiple other filters using the given operator."
    },
    "LookupRequest": {
      "id": "LookupRequest",
      "properties": {
        "readOptions": {
          "description": "The options for this lookup request.",
          "$ref": "ReadOptions"
        },
        "keys": {
          "description": "Required. Keys of entities to look up.",
          "type": "array",
          "items": {
            "$ref": "Key"
          }
        }
      },
      "description": "The request for Datastore.Lookup.",
      "type": "object"
    },
    "ReserveIdsResponse": {
      "properties": {},
      "description": "The response for Datastore.ReserveIds.",
      "id": "ReserveIdsResponse",
      "type": "object"
    },
    "RollbackResponse": {
      "type": "object",
      "description": "The response for Datastore.Rollback. (an empty message).",
      "id": "RollbackResponse",
      "properties": {}
    },
    "GoogleDatastoreAdminV1ExportEntitiesMetadata": {
      "description": "Metadata for ExportEntities operations.",
      "properties": {
        "progressBytes": {
          "$ref": "GoogleDatastoreAdminV1Progress",
          "description": "An estimate of the number of bytes processed."
        },
        "progressEntities": {
          "description": "An estimate of the number of entities processed.",
          "$ref": "GoogleDatastoreAdminV1Progress"
        },
        "entityFilter": {
          "description": "Description of which entities are being exported.",
          "$ref": "GoogleDatastoreAdminV1EntityFilter"
        },
        "outputUrlPrefix": {
          "type": "string",
          "description": "Location for the export metadata and data files. This will be the same value as the google.datastore.admin.v1.ExportEntitiesRequest.output_url_prefix field. The final output location is provided in google.datastore.admin.v1.ExportEntitiesResponse.output_url."
        },
        "common": {
          "$ref": "GoogleDatastoreAdminV1CommonMetadata",
          "description": "Metadata common to all Datastore Admin operations."
        }
      },
      "id": "GoogleDatastoreAdminV1ExportEntitiesMetadata",
      "type": "object"
    },
    "RunQueryResponse": {
      "description": "The response for Datastore.RunQuery.",
      "id": "RunQueryResponse",
      "properties": {
        "query": {
          "$ref": "Query",
          "description": "The parsed form of the `GqlQuery` from the request, if it was set."
        },
        "batch": {
          "description": "A batch of query results (always present).",
          "$ref": "QueryResultBatch"
        }
      },
      "type": "object"
    },
    "BeginTransactionRequest": {
      "id": "BeginTransactionRequest",
      "properties": {
        "transactionOptions": {
          "description": "Options for a new transaction.",
          "$ref": "TransactionOptions"
        }
      },
      "description": "The request for Datastore.BeginTransaction.",
      "type": "object"
    },
    "AllocateIdsRequest": {
      "description": "The request for Datastore.AllocateIds.",
      "id": "AllocateIdsRequest",
      "properties": {
        "keys": {
          "description": "Required. A list of keys with incomplete key paths for which to allocate IDs. No key may be reserved/read-only.",
          "items": {
            "$ref": "Key"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ArrayValue": {
      "description": "An array value.",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "Value"
          },
          "description": "Values in the array. The order of values in an array is preserved as long as all values have identical settings for 'exclude_from_indexes'."
        }
      },
      "type": "object",
      "id": "ArrayValue"
    },
    "Entity": {
      "description": "A Datastore data object. An entity is limited to 1 megabyte when stored. That _roughly_ corresponds to a limit of 1 megabyte for the serialized form of this message.",
      "id": "Entity",
      "properties": {
        "key": {
          "description": "The entity's key. An entity must have a key, unless otherwise documented (for example, an entity in `Value.entity_value` may have no key). An entity's kind is its key path's last element's kind, or null if it has no key.",
          "$ref": "Key"
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Value"
          },
          "description": "The entity's properties. The map's keys are property names. A property name matching regex `__.*__` is reserved. A reserved property name is forbidden in certain documented contexts. The name must not contain more than 500 characters. The name cannot be `\"\"`."
        }
      },
      "type": "object"
    },
    "MutationResult": {
      "type": "object",
      "id": "MutationResult",
      "properties": {
        "key": {
          "description": "The automatically allocated key. Set only when the mutation allocated a key.",
          "$ref": "Key"
        },
        "conflictDetected": {
          "type": "boolean",
          "description": "Whether a conflict was detected for this mutation. Always false when a conflict detection strategy field is not set in the mutation."
        },
        "version": {
          "format": "int64",
          "description": "The version of the entity on the server after processing the mutation. If the mutation doesn't change anything on the server, then the version will be the version of the current entity or, if no entity is present, a version that is strictly greater than the version of any previous entity and less than the version of any possible future entity.",
          "type": "string"
        }
      },
      "description": "The result of applying a mutation."
    },
    "BeginTransactionResponse": {
      "type": "object",
      "properties": {
        "transaction": {
          "format": "byte",
          "type": "string",
          "description": "The transaction identifier (always present)."
        }
      },
      "id": "BeginTransactionResponse",
      "description": "The response for Datastore.BeginTransaction."
    },
    "GoogleDatastoreAdminV1IndexOperationMetadata": {
      "description": "Metadata for Index operations.",
      "type": "object",
      "properties": {
        "indexId": {
          "description": "The index resource ID that this operation is acting on.",
          "type": "string"
        },
        "progressEntities": {
          "description": "An estimate of the number of entities processed.",
          "$ref": "GoogleDatastoreAdminV1Progress"
        },
        "common": {
          "description": "Metadata common to all Datastore Admin operations.",
          "$ref": "GoogleDatastoreAdminV1CommonMetadata"
        }
      },
      "id": "GoogleDatastoreAdminV1IndexOperationMetadata"
    },
    "PropertyReference": {
      "description": "A reference to a property relative to the kind expressions.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the property. If name includes \".\"s, it may be interpreted as a property name path."
        }
      },
      "id": "PropertyReference"
    },
    "LatLng": {
      "properties": {
        "latitude": {
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "type": "number",
          "format": "double"
        },
        "longitude": {
          "type": "number",
          "format": "double",
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0]."
        }
      },
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
      "id": "LatLng",
      "type": "object"
    },
    "GoogleDatastoreAdminV1beta1ExportEntitiesResponse": {
      "type": "object",
      "properties": {
        "outputUrl": {
          "type": "string",
          "description": "Location of the output metadata file. This can be used to begin an import into Cloud Datastore (this project or another project). See google.datastore.admin.v1beta1.ImportEntitiesRequest.input_url. Only present if the operation completed successfully."
        }
      },
      "description": "The response for google.datastore.admin.v1beta1.DatastoreAdmin.ExportEntities.",
      "id": "GoogleDatastoreAdminV1beta1ExportEntitiesResponse"
    },
    "Query": {
      "id": "Query",
      "properties": {
        "order": {
          "description": "The order to apply to the query results (if empty, order is unspecified).",
          "type": "array",
          "items": {
            "$ref": "PropertyOrder"
          }
        },
        "distinctOn": {
          "items": {
            "$ref": "PropertyReference"
          },
          "description": "The properties to make distinct. The query results will contain the first result for each distinct combination of values for the given properties (if empty, all results are returned).",
          "type": "array"
        },
        "projection": {
          "items": {
            "$ref": "Projection"
          },
          "type": "array",
          "description": "The projection to return. Defaults to returning all properties."
        },
        "offset": {
          "description": "The number of results to skip. Applies before limit, but after all other constraints. Optional. Must be \u003e= 0 if specified.",
          "type": "integer",
          "format": "int32"
        },
        "endCursor": {
          "type": "string",
          "description": "An ending point for the query results. Query cursors are returned in query result batches and [can only be used to limit the same query](https://cloud.google.com/datastore/docs/concepts/queries#cursors_limits_and_offsets).",
          "format": "byte"
        },
        "startCursor": {
          "type": "string",
          "description": "A starting point for the query results. Query cursors are returned in query result batches and [can only be used to continue the same query](https://cloud.google.com/datastore/docs/concepts/queries#cursors_limits_and_offsets).",
          "format": "byte"
        },
        "kind": {
          "type": "array",
          "items": {
            "$ref": "KindExpression"
          },
          "description": "The kinds to query (if empty, returns entities of all kinds). Currently at most 1 kind may be specified."
        },
        "filter": {
          "$ref": "Filter",
          "description": "The filter to apply."
        },
        "limit": {
          "description": "The maximum number of results to return. Applies after all other constraints. Optional. Unspecified is interpreted as no limit. Must be \u003e= 0 if specified.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "A query for entities.",
      "type": "object"
    },
    "GoogleDatastoreAdminV1DatastoreFirestoreMigrationMetadata": {
      "description": "Metadata for Datastore to Firestore migration operations. The DatastoreFirestoreMigration operation is not started by the end-user via an explicit \"creation\" method. This is an intentional deviation from the LRO design pattern. This singleton resource can be accessed at: \"projects/{project_id}/datastore-firestore-migration\"",
      "properties": {
        "migrationStep": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Pre-migration: the database is prepared for migration.",
            "Start of migration.",
            "Writes are applied synchronously to at least one replica.",
            "Data is copied to Cloud Firestore and then verified to match the data in Cloud Datastore.",
            "Eventually-consistent reads are redirected to Cloud Firestore.",
            "Strongly-consistent reads are redirected to Cloud Firestore.",
            "Writes are redirected to Cloud Firestore."
          ],
          "enum": [
            "MIGRATION_STEP_UNSPECIFIED",
            "PREPARE",
            "START",
            "APPLY_WRITES_SYNCHRONOUSLY",
            "COPY_AND_VERIFY",
            "REDIRECT_EVENTUALLY_CONSISTENT_READS",
            "REDIRECT_STRONGLY_CONSISTENT_READS",
            "REDIRECT_WRITES"
          ],
          "description": "The current step of migration from Cloud Datastore to Cloud Firestore in Datastore mode."
        },
        "migrationState": {
          "description": "The current state of migration from Cloud Datastore to Cloud Firestore in Datastore mode.",
          "enumDescriptions": [
            "Unspecified.",
            "The migration is running.",
            "The migration is paused.",
            "The migration is complete."
          ],
          "type": "string",
          "enum": [
            "MIGRATION_STATE_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "COMPLETE"
          ]
        }
      },
      "type": "object",
      "id": "GoogleDatastoreAdminV1DatastoreFirestoreMigrationMetadata"
    },
    "CommitRequest": {
      "type": "object",
      "properties": {
        "transaction": {
          "format": "byte",
          "type": "string",
          "description": "The identifier of the transaction associated with the commit. A transaction identifier is returned by a call to Datastore.BeginTransaction."
        },
        "mutations": {
          "items": {
            "$ref": "Mutation"
          },
          "type": "array",
          "description": "The mutations to perform. When mode is `TRANSACTIONAL`, mutations affecting a single entity are applied in order. The following sequences of mutations affecting a single entity are not permitted in a single `Commit` request: - `insert` followed by `insert` - `update` followed by `insert` - `upsert` followed by `insert` - `delete` followed by `update` When mode is `NON_TRANSACTIONAL`, no two mutations may affect a single entity."
        },
        "mode": {
          "description": "The type of commit to perform. Defaults to `TRANSACTIONAL`.",
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "TRANSACTIONAL",
            "NON_TRANSACTIONAL"
          ],
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "Transactional: The mutations are either all applied, or none are applied. Learn about transactions [here](https://cloud.google.com/datastore/docs/concepts/transactions).",
            "Non-transactional: The mutations may not apply as all or none."
          ]
        }
      },
      "id": "CommitRequest",
      "description": "The request for Datastore.Commit."
    },
    "KindExpression": {
      "description": "A representation of a kind.",
      "id": "KindExpression",
      "properties": {
        "name": {
          "description": "The name of the kind.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Mutation": {
      "properties": {
        "insert": {
          "description": "The entity to insert. The entity must not already exist. The entity key's final path element may be incomplete.",
          "$ref": "Entity"
        },
        "delete": {
          "$ref": "Key",
          "description": "The key of the entity to delete. The entity may or may not already exist. Must have a complete key path and must not be reserved/read-only."
        },
        "update": {
          "description": "The entity to update. The entity must already exist. Must have a complete key path.",
          "$ref": "Entity"
        },
        "upsert": {
          "$ref": "Entity",
          "description": "The entity to upsert. The entity may or may not already exist. The entity key's final path element may be incomplete."
        },
        "baseVersion": {
          "description": "The version of the entity that this mutation is being applied to. If this does not match the current version on the server, the mutation conflicts.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "Mutation",
      "type": "object",
      "description": "A mutation to apply to an entity."
    }
  },
  "batchPath": "batch",
  "revision": "20211029",
  "ownerName": "Google",
  "baseUrl": "https://datastore.googleapis.com/",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://datastore.mtls.googleapis.com/",
  "version": "v1beta3",
  "documentationLink": "https://cloud.google.com/datastore/",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/datastore": {
          "description": "View and manage your Google Cloud Datastore data"
        }
      }
    }
  },
  "description": "Accesses the schemaless NoSQL database to provide fully managed, robust, scalable storage for your application. ",
  "resources": {
    "projects": {
      "methods": {
        "rollback": {
          "path": "v1beta3/projects/{projectId}:rollback",
          "httpMethod": "POST",
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Required. The ID of the project against which to make the request.",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "projectId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "description": "Rolls back a transaction.",
          "request": {
            "$ref": "RollbackRequest"
          },
          "id": "datastore.projects.rollback",
          "flatPath": "v1beta3/projects/{projectId}:rollback",
          "response": {
            "$ref": "RollbackResponse"
          }
        },
        "lookup": {
          "parameterOrder": [
            "projectId"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Required. The ID of the project against which to make the request.",
              "required": true,
              "type": "string"
            }
          },
          "id": "datastore.projects.lookup",
          "path": "v1beta3/projects/{projectId}:lookup",
          "flatPath": "v1beta3/projects/{projectId}:lookup",
          "request": {
            "$ref": "LookupRequest"
          },
          "httpMethod": "POST",
          "description": "Looks up entities by key.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "response": {
            "$ref": "LookupResponse"
          }
        },
        "reserveIds": {
          "parameterOrder": [
            "projectId"
          ],
          "id": "datastore.projects.reserveIds",
          "flatPath": "v1beta3/projects/{projectId}:reserveIds",
          "httpMethod": "POST",
          "path": "v1beta3/projects/{projectId}:reserveIds",
          "request": {
            "$ref": "ReserveIdsRequest"
          },
          "parameters": {
            "projectId": {
              "description": "Required. The ID of the project against which to make the request.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "description": "Prevents the supplied keys' IDs from being auto-allocated by Cloud Datastore.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "response": {
            "$ref": "ReserveIdsResponse"
          }
        },
        "commit": {
          "request": {
            "$ref": "CommitRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "parameters": {
            "projectId": {
              "description": "Required. The ID of the project against which to make the request.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Commits a transaction, optionally creating, deleting or modifying some entities.",
          "path": "v1beta3/projects/{projectId}:commit",
          "parameterOrder": [
            "projectId"
          ],
          "response": {
            "$ref": "CommitResponse"
          },
          "httpMethod": "POST",
          "flatPath": "v1beta3/projects/{projectId}:commit",
          "id": "datastore.projects.commit"
        },
        "allocateIds": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "parameters": {
            "projectId": {
              "description": "Required. The ID of the project against which to make the request.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "AllocateIdsRequest"
          },
          "httpMethod": "POST",
          "flatPath": "v1beta3/projects/{projectId}:allocateIds",
          "parameterOrder": [
            "projectId"
          ],
          "path": "v1beta3/projects/{projectId}:allocateIds",
          "id": "datastore.projects.allocateIds",
          "response": {
            "$ref": "AllocateIdsResponse"
          },
          "description": "Allocates IDs for the given keys, which is useful for referencing an entity before it is inserted."
        },
        "beginTransaction": {
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "POST",
          "flatPath": "v1beta3/projects/{projectId}:beginTransaction",
          "id": "datastore.projects.beginTransaction",
          "parameters": {
            "projectId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The ID of the project against which to make the request."
            }
          },
          "request": {
            "$ref": "BeginTransactionRequest"
          },
          "path": "v1beta3/projects/{projectId}:beginTransaction",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "description": "Begins a new transaction.",
          "response": {
            "$ref": "BeginTransactionResponse"
          }
        },
        "runQuery": {
          "id": "datastore.projects.runQuery",
          "parameterOrder": [
            "projectId"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "type": "string",
              "description": "Required. The ID of the project against which to make the request.",
              "required": true
            }
          },
          "request": {
            "$ref": "RunQueryRequest"
          },
          "response": {
            "$ref": "RunQueryResponse"
          },
          "flatPath": "v1beta3/projects/{projectId}:runQuery",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "path": "v1beta3/projects/{projectId}:runQuery",
          "description": "Queries for entities."
        }
      }
    }
  },
  "basePath": "",
  "rootUrl": "https://datastore.googleapis.com/",
  "ownerDomain": "google.com",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "title": "Cloud Datastore API",
  "name": "datastore",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "id": "datastore:v1beta3",
  "protocol": "rest"
}
