{
  "rootUrl": "https://dataportability.googleapis.com/",
  "version_module": true,
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "baseUrl": "https://dataportability.googleapis.com/",
  "id": "dataportability:v1beta",
  "name": "dataportability",
  "canonicalName": "Data Portability",
  "protocol": "rest",
  "title": "Data Portability API",
  "ownerDomain": "google.com",
  "revision": "20240303",
  "basePath": "",
  "description": "The Data Portability API lets you build applications that request authorization from a user to move a copy of data from Google services into your application. This enables data portability and facilitates switching services.",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://dataportability.mtls.googleapis.com/",
  "schemas": {
    "ResetAuthorizationRequest": {
      "properties": {},
      "type": "object",
      "id": "ResetAuthorizationRequest",
      "description": "Request to reset exhausted OAuth scopes."
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "RetryPortabilityArchiveResponse": {
      "id": "RetryPortabilityArchiveResponse",
      "properties": {
        "archiveJobId": {
          "description": "The archive job ID that is initiated by the retry endpoint. This can be used to get the state of the new job.",
          "type": "string"
        }
      },
      "description": "Response from retrying a Portability Archive.",
      "type": "object"
    },
    "InitiatePortabilityArchiveRequest": {
      "properties": {
        "resources": {
          "items": {
            "type": "string"
          },
          "description": "The resources from which you're exporting data. These values have a 1:1 correspondence with the OAuth scopes.",
          "type": "array"
        }
      },
      "description": "Request to kick off an Archive job.",
      "id": "InitiatePortabilityArchiveRequest",
      "type": "object"
    },
    "PortabilityArchiveState": {
      "type": "object",
      "id": "PortabilityArchiveState",
      "description": "Resource that contains the state of an Archive job.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of ArchiveJob's PortabilityArchiveState singleton. The format is: archiveJobs/{archive_job}/portabilityArchiveState. archive_job is the job ID provided in the request."
        },
        "urls": {
          "items": {
            "type": "string"
          },
          "description": "If the state is complete, this method returns the signed URLs of the objects in the Cloud Storage bucket.",
          "type": "array"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "COMPLETE",
            "FAILED",
            "CANCELLED"
          ],
          "description": "Resource that represents the state of the Archive job.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The job is in progress.",
            "The job is complete.",
            "The job failed.",
            "The job is cancelled."
          ],
          "type": "string"
        }
      }
    },
    "InitiatePortabilityArchiveResponse": {
      "description": "Response from initiating an Archive job.",
      "type": "object",
      "properties": {
        "archiveJobId": {
          "description": "The archive job ID that is initiated in the API. This can be used to get the state of the job.",
          "type": "string"
        }
      },
      "id": "InitiatePortabilityArchiveResponse"
    },
    "RetryPortabilityArchiveRequest": {
      "description": "Request to retry a failed Portability Archive job.",
      "properties": {},
      "id": "RetryPortabilityArchiveRequest",
      "type": "object"
    }
  },
  "version": "v1beta",
  "resources": {
    "portabilityArchive": {
      "methods": {
        "initiate": {
          "id": "dataportability.portabilityArchive.initiate",
          "flatPath": "v1beta/portabilityArchive:initiate",
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "InitiatePortabilityArchiveResponse"
          },
          "parameters": {},
          "path": "v1beta/portabilityArchive:initiate",
          "request": {
            "$ref": "InitiatePortabilityArchiveRequest"
          },
          "description": "Initiates a new Archive job for the Portability API.",
          "scopes": [
            "https://www.googleapis.com/auth/dataportability.businessmessaging.conversations",
            "https://www.googleapis.com/auth/dataportability.chrome.autofill",
            "https://www.googleapis.com/auth/dataportability.chrome.bookmarks",
            "https://www.googleapis.com/auth/dataportability.chrome.dictionary",
            "https://www.googleapis.com/auth/dataportability.chrome.extensions",
            "https://www.googleapis.com/auth/dataportability.chrome.history",
            "https://www.googleapis.com/auth/dataportability.chrome.reading_list",
            "https://www.googleapis.com/auth/dataportability.chrome.settings",
            "https://www.googleapis.com/auth/dataportability.maps.commute_routes",
            "https://www.googleapis.com/auth/dataportability.maps.commute_settings",
            "https://www.googleapis.com/auth/dataportability.maps.ev_profile",
            "https://www.googleapis.com/auth/dataportability.maps.offering_contributions",
            "https://www.googleapis.com/auth/dataportability.maps.photos_videos",
            "https://www.googleapis.com/auth/dataportability.maps.reviews",
            "https://www.googleapis.com/auth/dataportability.maps.starred_places",
            "https://www.googleapis.com/auth/dataportability.myactivity.maps",
            "https://www.googleapis.com/auth/dataportability.myactivity.search",
            "https://www.googleapis.com/auth/dataportability.myactivity.shopping",
            "https://www.googleapis.com/auth/dataportability.myactivity.youtube",
            "https://www.googleapis.com/auth/dataportability.saved.collections",
            "https://www.googleapis.com/auth/dataportability.shopping.addresses",
            "https://www.googleapis.com/auth/dataportability.shopping.reviews",
            "https://www.googleapis.com/auth/dataportability.youtube.channel",
            "https://www.googleapis.com/auth/dataportability.youtube.comments",
            "https://www.googleapis.com/auth/dataportability.youtube.live_chat",
            "https://www.googleapis.com/auth/dataportability.youtube.music",
            "https://www.googleapis.com/auth/dataportability.youtube.playable",
            "https://www.googleapis.com/auth/dataportability.youtube.posts",
            "https://www.googleapis.com/auth/dataportability.youtube.private_playlists",
            "https://www.googleapis.com/auth/dataportability.youtube.private_videos",
            "https://www.googleapis.com/auth/dataportability.youtube.public_playlists",
            "https://www.googleapis.com/auth/dataportability.youtube.public_videos",
            "https://www.googleapis.com/auth/dataportability.youtube.shopping",
            "https://www.googleapis.com/auth/dataportability.youtube.subscriptions",
            "https://www.googleapis.com/auth/dataportability.youtube.unlisted_playlists",
            "https://www.googleapis.com/auth/dataportability.youtube.unlisted_videos"
          ]
        }
      }
    },
    "archiveJobs": {
      "methods": {
        "getPortabilityArchiveState": {
          "id": "dataportability.archiveJobs.getPortabilityArchiveState",
          "description": "Retrieves the state of an Archive job for the Portability API.",
          "path": "v1beta/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/dataportability.businessmessaging.conversations",
            "https://www.googleapis.com/auth/dataportability.chrome.autofill",
            "https://www.googleapis.com/auth/dataportability.chrome.bookmarks",
            "https://www.googleapis.com/auth/dataportability.chrome.dictionary",
            "https://www.googleapis.com/auth/dataportability.chrome.extensions",
            "https://www.googleapis.com/auth/dataportability.chrome.history",
            "https://www.googleapis.com/auth/dataportability.chrome.reading_list",
            "https://www.googleapis.com/auth/dataportability.chrome.settings",
            "https://www.googleapis.com/auth/dataportability.maps.commute_routes",
            "https://www.googleapis.com/auth/dataportability.maps.commute_settings",
            "https://www.googleapis.com/auth/dataportability.maps.ev_profile",
            "https://www.googleapis.com/auth/dataportability.maps.offering_contributions",
            "https://www.googleapis.com/auth/dataportability.maps.photos_videos",
            "https://www.googleapis.com/auth/dataportability.maps.reviews",
            "https://www.googleapis.com/auth/dataportability.maps.starred_places",
            "https://www.googleapis.com/auth/dataportability.myactivity.maps",
            "https://www.googleapis.com/auth/dataportability.myactivity.search",
            "https://www.googleapis.com/auth/dataportability.myactivity.shopping",
            "https://www.googleapis.com/auth/dataportability.myactivity.youtube",
            "https://www.googleapis.com/auth/dataportability.saved.collections",
            "https://www.googleapis.com/auth/dataportability.shopping.addresses",
            "https://www.googleapis.com/auth/dataportability.shopping.reviews",
            "https://www.googleapis.com/auth/dataportability.youtube.channel",
            "https://www.googleapis.com/auth/dataportability.youtube.comments",
            "https://www.googleapis.com/auth/dataportability.youtube.live_chat",
            "https://www.googleapis.com/auth/dataportability.youtube.music",
            "https://www.googleapis.com/auth/dataportability.youtube.playable",
            "https://www.googleapis.com/auth/dataportability.youtube.posts",
            "https://www.googleapis.com/auth/dataportability.youtube.private_playlists",
            "https://www.googleapis.com/auth/dataportability.youtube.private_videos",
            "https://www.googleapis.com/auth/dataportability.youtube.public_playlists",
            "https://www.googleapis.com/auth/dataportability.youtube.public_videos",
            "https://www.googleapis.com/auth/dataportability.youtube.shopping",
            "https://www.googleapis.com/auth/dataportability.youtube.subscriptions",
            "https://www.googleapis.com/auth/dataportability.youtube.unlisted_playlists",
            "https://www.googleapis.com/auth/dataportability.youtube.unlisted_videos"
          ],
          "flatPath": "v1beta/archiveJobs/{archiveJobsId}/portabilityArchiveState",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "PortabilityArchiveState"
          },
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^archiveJobs/[^/]+/portabilityArchiveState$",
              "description": "Required. The archive job ID that is returned when you request the state of the job. The format is: archiveJobs/{archive_job}/portabilityArchiveState. archive_job is the job ID returned by the InitiatePortabilityArchiveResponse."
            }
          },
          "httpMethod": "GET"
        },
        "retry": {
          "request": {
            "$ref": "RetryPortabilityArchiveRequest"
          },
          "id": "dataportability.archiveJobs.retry",
          "path": "v1beta/{+name}:retry",
          "scopes": [
            "https://www.googleapis.com/auth/dataportability.businessmessaging.conversations",
            "https://www.googleapis.com/auth/dataportability.chrome.autofill",
            "https://www.googleapis.com/auth/dataportability.chrome.bookmarks",
            "https://www.googleapis.com/auth/dataportability.chrome.dictionary",
            "https://www.googleapis.com/auth/dataportability.chrome.extensions",
            "https://www.googleapis.com/auth/dataportability.chrome.history",
            "https://www.googleapis.com/auth/dataportability.chrome.reading_list",
            "https://www.googleapis.com/auth/dataportability.chrome.settings",
            "https://www.googleapis.com/auth/dataportability.maps.commute_routes",
            "https://www.googleapis.com/auth/dataportability.maps.commute_settings",
            "https://www.googleapis.com/auth/dataportability.maps.ev_profile",
            "https://www.googleapis.com/auth/dataportability.maps.offering_contributions",
            "https://www.googleapis.com/auth/dataportability.maps.photos_videos",
            "https://www.googleapis.com/auth/dataportability.maps.reviews",
            "https://www.googleapis.com/auth/dataportability.maps.starred_places",
            "https://www.googleapis.com/auth/dataportability.myactivity.maps",
            "https://www.googleapis.com/auth/dataportability.myactivity.search",
            "https://www.googleapis.com/auth/dataportability.myactivity.shopping",
            "https://www.googleapis.com/auth/dataportability.myactivity.youtube",
            "https://www.googleapis.com/auth/dataportability.saved.collections",
            "https://www.googleapis.com/auth/dataportability.shopping.addresses",
            "https://www.googleapis.com/auth/dataportability.shopping.reviews",
            "https://www.googleapis.com/auth/dataportability.youtube.channel",
            "https://www.googleapis.com/auth/dataportability.youtube.comments",
            "https://www.googleapis.com/auth/dataportability.youtube.live_chat",
            "https://www.googleapis.com/auth/dataportability.youtube.music",
            "https://www.googleapis.com/auth/dataportability.youtube.playable",
            "https://www.googleapis.com/auth/dataportability.youtube.posts",
            "https://www.googleapis.com/auth/dataportability.youtube.private_playlists",
            "https://www.googleapis.com/auth/dataportability.youtube.private_videos",
            "https://www.googleapis.com/auth/dataportability.youtube.public_playlists",
            "https://www.googleapis.com/auth/dataportability.youtube.public_videos",
            "https://www.googleapis.com/auth/dataportability.youtube.shopping",
            "https://www.googleapis.com/auth/dataportability.youtube.subscriptions",
            "https://www.googleapis.com/auth/dataportability.youtube.unlisted_playlists",
            "https://www.googleapis.com/auth/dataportability.youtube.unlisted_videos"
          ],
          "flatPath": "v1beta/archiveJobs/{archiveJobsId}:retry",
          "response": {
            "$ref": "RetryPortabilityArchiveResponse"
          },
          "description": "Retries a failed Portability Archive job.",
          "parameters": {
            "name": {
              "pattern": "^archiveJobs/[^/]+$",
              "location": "path",
              "description": "Required. The Archive job ID you're retrying. This is returned by the InitiatePortabilityArchiveResponse. Retrying is only executed if the initial job failed.",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "POST"
        }
      }
    },
    "authorization": {
      "methods": {
        "reset": {
          "parameterOrder": [],
          "parameters": {},
          "response": {
            "$ref": "Empty"
          },
          "path": "v1beta/authorization:reset",
          "flatPath": "v1beta/authorization:reset",
          "request": {
            "$ref": "ResetAuthorizationRequest"
          },
          "description": "Revokes OAuth tokens and resets exhausted scopes for a user/project pair. This method allows you to initiate a request after a new consent is granted. This method also indicates that previous archives can be garbage collected. You should call this method when all jobs are complete and all archives are downloaded. Do not call it only when you start a new job.",
          "id": "dataportability.authorization.reset",
          "scopes": [
            "https://www.googleapis.com/auth/dataportability.businessmessaging.conversations",
            "https://www.googleapis.com/auth/dataportability.chrome.autofill",
            "https://www.googleapis.com/auth/dataportability.chrome.bookmarks",
            "https://www.googleapis.com/auth/dataportability.chrome.dictionary",
            "https://www.googleapis.com/auth/dataportability.chrome.extensions",
            "https://www.googleapis.com/auth/dataportability.chrome.history",
            "https://www.googleapis.com/auth/dataportability.chrome.reading_list",
            "https://www.googleapis.com/auth/dataportability.chrome.settings",
            "https://www.googleapis.com/auth/dataportability.maps.commute_routes",
            "https://www.googleapis.com/auth/dataportability.maps.commute_settings",
            "https://www.googleapis.com/auth/dataportability.maps.ev_profile",
            "https://www.googleapis.com/auth/dataportability.maps.offering_contributions",
            "https://www.googleapis.com/auth/dataportability.maps.photos_videos",
            "https://www.googleapis.com/auth/dataportability.maps.reviews",
            "https://www.googleapis.com/auth/dataportability.maps.starred_places",
            "https://www.googleapis.com/auth/dataportability.myactivity.maps",
            "https://www.googleapis.com/auth/dataportability.myactivity.search",
            "https://www.googleapis.com/auth/dataportability.myactivity.shopping",
            "https://www.googleapis.com/auth/dataportability.myactivity.youtube",
            "https://www.googleapis.com/auth/dataportability.saved.collections",
            "https://www.googleapis.com/auth/dataportability.shopping.addresses",
            "https://www.googleapis.com/auth/dataportability.shopping.reviews",
            "https://www.googleapis.com/auth/dataportability.youtube.channel",
            "https://www.googleapis.com/auth/dataportability.youtube.comments",
            "https://www.googleapis.com/auth/dataportability.youtube.live_chat",
            "https://www.googleapis.com/auth/dataportability.youtube.music",
            "https://www.googleapis.com/auth/dataportability.youtube.playable",
            "https://www.googleapis.com/auth/dataportability.youtube.posts",
            "https://www.googleapis.com/auth/dataportability.youtube.private_playlists",
            "https://www.googleapis.com/auth/dataportability.youtube.private_videos",
            "https://www.googleapis.com/auth/dataportability.youtube.public_playlists",
            "https://www.googleapis.com/auth/dataportability.youtube.public_videos",
            "https://www.googleapis.com/auth/dataportability.youtube.shopping",
            "https://www.googleapis.com/auth/dataportability.youtube.subscriptions",
            "https://www.googleapis.com/auth/dataportability.youtube.unlisted_playlists",
            "https://www.googleapis.com/auth/dataportability.youtube.unlisted_videos"
          ],
          "httpMethod": "POST"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/data-portability",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dataportability.youtube.comments": {
          "description": "Move a copy of your YouTube comments."
        },
        "https://www.googleapis.com/auth/dataportability.maps.photos_videos": {
          "description": "Move a copy of the photos and videos you posted on Maps."
        },
        "https://www.googleapis.com/auth/dataportability.youtube.unlisted_playlists": {
          "description": "Move a copy of your unlisted YouTube playlists."
        },
        "https://www.googleapis.com/auth/dataportability.youtube.live_chat": {
          "description": "Move a copy of your YouTube messages in live chat."
        },
        "https://www.googleapis.com/auth/dataportability.youtube.public_videos": {
          "description": "Move a copy of your public YouTube videos and information about them."
        },
        "https://www.googleapis.com/auth/dataportability.maps.commute_routes": {
          "description": "Move a copy of your pinned trips on Maps."
        },
        "https://www.googleapis.com/auth/dataportability.youtube.posts": {
          "description": "Move a copy of your YouTube posts."
        },
        "https://www.googleapis.com/auth/dataportability.youtube.private_playlists": {
          "description": "Move a copy of your YouTube private playlists."
        },
        "https://www.googleapis.com/auth/dataportability.youtube.public_playlists": {
          "description": "Move a copy of your public YouTube playlists."
        },
        "https://www.googleapis.com/auth/dataportability.myactivity.youtube": {
          "description": "Move a copy of your YouTube activity."
        },
        "https://www.googleapis.com/auth/dataportability.myactivity.shopping": {
          "description": "Move a copy of your Shopping activity."
        },
        "https://www.googleapis.com/auth/dataportability.chrome.settings": {
          "description": "Move a copy of your settings in Chrome."
        },
        "https://www.googleapis.com/auth/dataportability.saved.collections": {
          "description": "Move a copy of your saved links, images, places, and collections from your use of Google services."
        },
        "https://www.googleapis.com/auth/dataportability.shopping.reviews": {
          "description": "Move a copy of reviews you wrote about products or online stores on Google Search."
        },
        "https://www.googleapis.com/auth/dataportability.youtube.unlisted_videos": {
          "description": "Move a copy of your unlisted YouTube videos and information about them."
        },
        "https://www.googleapis.com/auth/dataportability.maps.offering_contributions": {
          "description": "Move a copy of your updates to places on Maps."
        },
        "https://www.googleapis.com/auth/dataportability.maps.reviews": {
          "description": "Move a copy of your reviews and posts on Maps."
        },
        "https://www.googleapis.com/auth/dataportability.youtube.channel": {
          "description": "Move a copy of information about your YouTube channel."
        },
        "https://www.googleapis.com/auth/dataportability.maps.starred_places": {
          "description": "Move a copy of your Starred places list on Maps."
        },
        "https://www.googleapis.com/auth/dataportability.chrome.autofill": {
          "description": "Move a copy of the information you entered into online forms in Chrome."
        },
        "https://www.googleapis.com/auth/dataportability.youtube.subscriptions": {
          "description": "Move a copy of your YouTube channel subscriptions, even if they're private."
        },
        "https://www.googleapis.com/auth/dataportability.shopping.addresses": {
          "description": "Move a copy of your shipping information on Shopping."
        },
        "https://www.googleapis.com/auth/dataportability.maps.commute_settings": {
          "description": "Move a copy of your commute settings on Maps."
        },
        "https://www.googleapis.com/auth/dataportability.myactivity.search": {
          "description": "Move a copy of your Google Search activity."
        },
        "https://www.googleapis.com/auth/dataportability.youtube.private_videos": {
          "description": "Move a copy of your private YouTube videos and information about them."
        },
        "https://www.googleapis.com/auth/dataportability.maps.ev_profile": {
          "description": "Move a copy of your electric vehicle profile on Maps."
        },
        "https://www.googleapis.com/auth/dataportability.myactivity.maps": {
          "description": "Move a copy of your Maps activity."
        },
        "https://www.googleapis.com/auth/dataportability.youtube.shopping": {
          "description": "Move a copy of your YouTube shopping wishlists, and wishlist items."
        },
        "https://www.googleapis.com/auth/dataportability.youtube.playable": {
          "description": "Move a copy of your YouTube playables saved game progress files."
        },
        "https://www.googleapis.com/auth/dataportability.youtube.music": {
          "description": "Move a copy of your uploaded YouTube music tracks and your YouTube music library."
        },
        "https://www.googleapis.com/auth/dataportability.chrome.extensions": {
          "description": "Move a copy of extensions you installed from the Chrome Web Store."
        },
        "https://www.googleapis.com/auth/dataportability.chrome.history": {
          "description": "Move a copy of sites you visited in Chrome."
        },
        "https://www.googleapis.com/auth/dataportability.chrome.bookmarks": {
          "description": "Move a copy of pages you bookmarked in Chrome."
        },
        "https://www.googleapis.com/auth/dataportability.chrome.reading_list": {
          "description": "Move a copy of pages you added to your reading list in Chrome."
        },
        "https://www.googleapis.com/auth/dataportability.chrome.dictionary": {
          "description": "Move a copy of words you added to Chrome's dictionary."
        },
        "https://www.googleapis.com/auth/dataportability.businessmessaging.conversations": {
          "description": "Move a copy of messages between you and the businesses you have conversations with across Google services."
        }
      }
    }
  }
}
