{
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "version": "v1",
  "schemas": {
    "JobStatus": {
      "description": "Dataproc job status.",
      "id": "JobStatus",
      "type": "object",
      "properties": {
        "details": {
          "type": "string",
          "description": "Optional. Output only. Job state details, such as an error description if the state is ERROR.",
          "readOnly": true
        },
        "substate": {
          "description": "Output only. Additional state information, which includes status reported by the agent.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "SUBMITTED",
            "QUEUED",
            "STALE_STATUS"
          ],
          "enumDescriptions": [
            "The job substate is unknown.",
            "The Job is submitted to the agent.Applies to RUNNING state.",
            "The Job has been received and is awaiting execution (it may be waiting for a condition to be met). See the \"details\" field for the reason for the delay.Applies to RUNNING state.",
            "The agent-reported status is out of date, which may be caused by a loss of communication between the agent and Dataproc. If the agent does not send a timely update, the job will fail.Applies to RUNNING state."
          ],
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SETUP_DONE",
            "RUNNING",
            "CANCEL_PENDING",
            "CANCEL_STARTED",
            "CANCELLED",
            "DONE",
            "ERROR",
            "ATTEMPT_FAILURE"
          ],
          "enumDescriptions": [
            "The job state is unknown.",
            "The job is pending; it has been submitted, but is not yet running.",
            "Job has been received by the service and completed initial setup; it will soon be submitted to the cluster.",
            "The job is running on the cluster.",
            "A CancelJob request has been received, but is pending.",
            "Transient in-flight resources have been canceled, and the request to cancel the running job has been issued to the cluster.",
            "The job cancellation was successful.",
            "The job has completed successfully.",
            "The job has completed, but encountered an error.",
            "Job attempt has failed. The detail field contains failure details for this attempt.Applies to restartable jobs only."
          ],
          "description": "Output only. A state message specifying the overall job state."
        },
        "stateStartTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when this state was entered.",
          "format": "google-datetime"
        }
      }
    },
    "EncryptionConfig": {
      "id": "EncryptionConfig",
      "properties": {
        "gcePdKmsKeyName": {
          "type": "string",
          "description": "Optional. The Cloud KMS key name to use for PD disk encryption for all instances in the cluster."
        }
      },
      "type": "object",
      "description": "Encryption settings for the cluster."
    },
    "AutoscalingPolicy": {
      "properties": {
        "id": {
          "description": "Required. The policy id.The id must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). Cannot begin or end with underscore or hyphen. Must consist of between 3 and 50 characters.",
          "type": "string"
        },
        "basicAlgorithm": {
          "$ref": "BasicAutoscalingAlgorithm"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The \"resource name\" of the autoscaling policy, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.autoscalingPolicies, the resource name of the policy has the following format: projects/{project_id}/regions/{region}/autoscalingPolicies/{policy_id} For projects.locations.autoscalingPolicies, the resource name of the policy has the following format: projects/{project_id}/locations/{location}/autoscalingPolicies/{policy_id}"
        },
        "workerConfig": {
          "$ref": "InstanceGroupAutoscalingPolicyConfig",
          "description": "Required. Describes how the autoscaler will operate for primary workers."
        },
        "secondaryWorkerConfig": {
          "$ref": "InstanceGroupAutoscalingPolicyConfig",
          "description": "Optional. Describes how the autoscaler will operate for secondary workers."
        }
      },
      "id": "AutoscalingPolicy",
      "description": "Describes an autoscaling policy for Dataproc cluster autoscaler.",
      "type": "object"
    },
    "PySparkJob": {
      "description": "A Dataproc job for running Apache PySpark (https://spark.apache.org/docs/0.9.0/python-programming-guide.html) applications on YARN.",
      "type": "object",
      "properties": {
        "pythonFileUris": {
          "type": "array",
          "description": "Optional. HCFS file URIs of Python files to pass to the PySpark framework. Supported file types: .py, .egg, and .zip.",
          "items": {
            "type": "string"
          }
        },
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "archiveUris": {
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "fileUris": {
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor. Useful for naively parallel tasks.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "jarFileUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATHs of the Python driver and tasks."
        },
        "args": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as --conf, that can be set as job properties, since a collision may occur that causes an incorrect job submission.",
          "type": "array"
        },
        "mainPythonFileUri": {
          "type": "string",
          "description": "Required. The HCFS URI of the main Python file to use as the driver. Must be a .py file."
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. A mapping of property names to values, used to configure PySpark. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/spark/conf/spark-defaults.conf and classes in user code."
        }
      },
      "id": "PySparkJob"
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of TestPermissionsRequest.permissions that the caller is allowed.",
          "type": "array"
        }
      },
      "id": "TestIamPermissionsResponse",
      "description": "Response message for TestIamPermissions method.",
      "type": "object"
    },
    "KerberosConfig": {
      "properties": {
        "keyPasswordUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the password to the user provided key. For the self-signed certificate, this password is generated by Dataproc."
        },
        "realm": {
          "description": "Optional. The name of the on-cluster Kerberos realm. If not specified, the uppercased domain of hostnames will be the realm.",
          "type": "string"
        },
        "crossRealmTrustRealm": {
          "type": "string",
          "description": "Optional. The remote realm the Dataproc on-cluster KDC will trust, should the user enable cross realm trust."
        },
        "keystorePasswordUri": {
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the password to the user provided keystore. For the self-signed certificate, this password is generated by Dataproc.",
          "type": "string"
        },
        "crossRealmTrustKdc": {
          "description": "Optional. The KDC (IP or hostname) for the remote trusted realm in a cross realm trust relationship.",
          "type": "string"
        },
        "keystoreUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage URI of the keystore file used for SSL encryption. If not provided, Dataproc will provide a self-signed certificate."
        },
        "tgtLifetimeHours": {
          "format": "int32",
          "description": "Optional. The lifetime of the ticket granting ticket, in hours. If not specified, or user specifies 0, then default value 10 will be used.",
          "type": "integer"
        },
        "kdcDbKeyUri": {
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the master key of the KDC database.",
          "type": "string"
        },
        "crossRealmTrustAdminServer": {
          "description": "Optional. The admin server (IP or hostname) for the remote trusted realm in a cross realm trust relationship.",
          "type": "string"
        },
        "kmsKeyUri": {
          "description": "Optional. The uri of the KMS key used to encrypt various sensitive files.",
          "type": "string"
        },
        "rootPrincipalPasswordUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the root principal password."
        },
        "enableKerberos": {
          "type": "boolean",
          "description": "Optional. Flag to indicate whether to Kerberize the cluster (default: false). Set this field to true to enable Kerberos on a cluster."
        },
        "truststorePasswordUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the password to the user provided truststore. For the self-signed certificate, this password is generated by Dataproc."
        },
        "crossRealmTrustSharedPasswordUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the shared password between the on-cluster Kerberos realm and the remote trusted realm, in a cross realm trust relationship."
        },
        "truststoreUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage URI of the truststore file used for SSL encryption. If not provided, Dataproc will provide a self-signed certificate."
        }
      },
      "id": "KerberosConfig",
      "description": "Specifies Kerberos related configuration.",
      "type": "object"
    },
    "InstanceGroupConfig": {
      "properties": {
        "numInstances": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of VM instances in the instance group. For HA cluster master_config groups, must be set to 3. For standard cluster master_config groups, must be set to 1."
        },
        "imageUri": {
          "type": "string",
          "description": "Optional. The Compute Engine image resource used for cluster instances.The URI can represent an image or image family.Image examples: https://www.googleapis.com/compute/beta/projects/[project_id]/global/images/[image-id] projects/[project_id]/global/images/[image-id] image-idImage family examples. Dataproc will use the most recent image from the family: https://www.googleapis.com/compute/beta/projects/[project_id]/global/images/family/[custom-image-family-name] projects/[project_id]/global/images/family/[custom-image-family-name]If the URI is unspecified, it will be inferred from SoftwareConfig.image_version or the system default."
        },
        "instanceReferences": {
          "description": "Output only. List of references to Compute Engine instances.",
          "items": {
            "$ref": "InstanceReference"
          },
          "readOnly": true,
          "type": "array"
        },
        "machineTypeUri": {
          "type": "string",
          "description": "Optional. The Compute Engine machine type used for cluster instances.A full URL, partial URI, or short name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/zones/us-east1-a/machineTypes/n1-standard-2 projects/[project_id]/zones/us-east1-a/machineTypes/n1-standard-2 n1-standard-2Auto Zone Exception: If you are using the Dataproc Auto Zone Placement (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/auto-zone#using_auto_zone_placement) feature, you must use the short name of the machine type resource, for example, n1-standard-2."
        },
        "minCpuPlatform": {
          "type": "string",
          "description": "Optional. Specifies the minimum cpu platform for the Instance Group. See Dataproc -\u003e Minimum CPU Platform (https://cloud.google.com/dataproc/docs/concepts/compute/dataproc-min-cpu)."
        },
        "isPreemptible": {
          "description": "Output only. Specifies that this instance group contains preemptible instances.",
          "readOnly": true,
          "type": "boolean"
        },
        "managedGroupConfig": {
          "readOnly": true,
          "description": "Output only. The config for Compute Engine Instance Group Manager that manages this group. This is only used for preemptible instance groups.",
          "$ref": "ManagedGroupConfig"
        },
        "diskConfig": {
          "$ref": "DiskConfig",
          "description": "Optional. Disk option config settings."
        },
        "accelerators": {
          "items": {
            "$ref": "AcceleratorConfig"
          },
          "description": "Optional. The Compute Engine accelerator configuration for these instances.",
          "type": "array"
        },
        "instanceNames": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of instance names. Dataproc derives the names from cluster_name, num_instances, and the instance group.",
          "items": {
            "type": "string"
          }
        },
        "preemptibility": {
          "enum": [
            "PREEMPTIBILITY_UNSPECIFIED",
            "NON_PREEMPTIBLE",
            "PREEMPTIBLE"
          ],
          "description": "Optional. Specifies the preemptibility of the instance group.The default value for master and worker groups is NON_PREEMPTIBLE. This default cannot be changed.The default value for secondary instances is PREEMPTIBLE.",
          "enumDescriptions": [
            "Preemptibility is unspecified, the system will choose the appropriate setting for each instance group.",
            "Instances are non-preemptible.This option is allowed for all instance groups and is the only valid value for Master and Worker instance groups.",
            "Instances are preemptible.This option is allowed only for secondary worker groups."
          ],
          "type": "string"
        }
      },
      "id": "InstanceGroupConfig",
      "type": "object",
      "description": "The config settings for Compute Engine resources in an instance group, such as a master or worker group."
    },
    "JobReference": {
      "type": "object",
      "description": "Encapsulates the full scoping used to reference a job.",
      "properties": {
        "jobId": {
          "type": "string",
          "description": "Optional. The job ID, which must be unique within the project.The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), or hyphens (-). The maximum length is 100 characters.If not specified by the caller, the job ID will be provided by the server."
        },
        "projectId": {
          "type": "string",
          "description": "Optional. The ID of the Google Cloud Platform project that the job belongs to. If specified, must match the request project ID."
        }
      },
      "id": "JobReference"
    },
    "ClusterMetrics": {
      "description": "Contains cluster daemon metrics, such as HDFS and YARN stats.Beta Feature: This report is available for testing purposes only. It may be changed before final release.",
      "type": "object",
      "id": "ClusterMetrics",
      "properties": {
        "hdfsMetrics": {
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "type": "object",
          "description": "The HDFS metrics."
        },
        "yarnMetrics": {
          "description": "The YARN metrics.",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "type": "object"
        }
      }
    },
    "SecurityConfig": {
      "id": "SecurityConfig",
      "properties": {
        "kerberosConfig": {
          "description": "Optional. Kerberos related configuration.",
          "$ref": "KerberosConfig"
        },
        "identityConfig": {
          "$ref": "IdentityConfig",
          "description": "Optional. Identity related configuration, including service account based secure multi-tenancy user mappings."
        }
      },
      "type": "object",
      "description": "Security related configuration, including encryption, Kerberos, etc."
    },
    "SoftwareConfig": {
      "type": "object",
      "id": "SoftwareConfig",
      "properties": {
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The properties to set on daemon config files.Property keys are specified in prefix:property format, for example core:hadoop.tmp.dir. The following are supported prefixes and their mappings: capacity-scheduler: capacity-scheduler.xml core: core-site.xml distcp: distcp-default.xml hdfs: hdfs-site.xml hive: hive-site.xml mapred: mapred-site.xml pig: pig.properties spark: spark-defaults.conf yarn: yarn-site.xmlFor more information, see Cluster properties (https://cloud.google.com/dataproc/docs/concepts/cluster-properties)."
        },
        "optionalComponents": {
          "description": "Optional. The set of components to activate on the cluster.",
          "type": "array",
          "items": {
            "enum": [
              "COMPONENT_UNSPECIFIED",
              "ANACONDA",
              "DOCKER",
              "DRUID",
              "FLINK",
              "HBASE",
              "HIVE_WEBHCAT",
              "JUPYTER",
              "PRESTO",
              "RANGER",
              "SOLR",
              "ZEPPELIN",
              "ZOOKEEPER"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified component. Specifying this will cause Cluster creation to fail.",
              "The Anaconda python distribution. The Anaconda component is not supported in the Dataproc 2.0 image. The 2.0 image is pre-installed with Miniconda.",
              "Docker",
              "The Druid query engine. (alpha)",
              "Flink",
              "HBase. (beta)",
              "The Hive Web HCatalog (the REST service for accessing HCatalog).",
              "The Jupyter Notebook.",
              "The Presto query engine.",
              "The Ranger service.",
              "The Solr service.",
              "The Zeppelin notebook.",
              "The Zookeeper service."
            ]
          }
        },
        "imageVersion": {
          "type": "string",
          "description": "Optional. The version of software inside the cluster. It must be one of the supported Dataproc Versions (https://cloud.google.com/dataproc/docs/concepts/versioning/dataproc-versions#supported_dataproc_versions), such as \"1.2\" (including a subminor version, such as \"1.2.29\"), or the \"preview\" version (https://cloud.google.com/dataproc/docs/concepts/versioning/dataproc-versions#other_versions). If unspecified, it defaults to the latest Debian version."
        }
      },
      "description": "Specifies the selection and config of software inside the cluster."
    },
    "SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the resource. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them."
        }
      },
      "type": "object",
      "description": "Request message for SetIamPolicy method.",
      "id": "SetIamPolicyRequest"
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for Empty is empty JSON object {}.",
      "properties": {},
      "id": "Empty"
    },
    "RegexValidation": {
      "description": "Validation based on regular expressions.",
      "type": "object",
      "id": "RegexValidation",
      "properties": {
        "regexes": {
          "items": {
            "type": "string"
          },
          "description": "Required. RE2 regular expressions used to validate the parameter's value. The value must match the regex in its entirety (substring matches are not sufficient).",
          "type": "array"
        }
      }
    },
    "ValueValidation": {
      "id": "ValueValidation",
      "properties": {
        "values": {
          "description": "Required. List of allowed values for the parameter.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Validation based on a list of allowed values.",
      "type": "object"
    },
    "InstanceGroupAutoscalingPolicyConfig": {
      "description": "Configuration for the size bounds of an instance group, including its proportional size to other groups.",
      "type": "object",
      "id": "InstanceGroupAutoscalingPolicyConfig",
      "properties": {
        "weight": {
          "description": "Optional. Weight for the instance group, which is used to determine the fraction of total workers in the cluster from this instance group. For example, if primary workers have weight 2, and secondary workers have weight 1, the cluster will have approximately 2 primary workers for each secondary worker.The cluster may not reach the specified balance if constrained by min/max bounds or other autoscaling settings. For example, if max_instances for secondary workers is 0, then only primary workers will be added. The cluster can also be out of balance when created.If weight is not set on any instance group, the cluster will default to equal weight for all groups: the cluster will attempt to maintain an equal number of workers in each group within the configured size bounds for each group. If weight is set for one group only, the cluster will default to zero weight on the unset group. For example if weight is set only on primary workers, the cluster will use primary workers only and no secondary workers.",
          "format": "int32",
          "type": "integer"
        },
        "minInstances": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Minimum number of instances for this group.Primary workers - Bounds: 2, max_instances. Default: 2. Secondary workers - Bounds: 0, max_instances. Default: 0."
        },
        "maxInstances": {
          "format": "int32",
          "type": "integer",
          "description": "Required. Maximum number of instances for this group. Required for primary workers. Note that by default, clusters will not use secondary workers. Required for secondary workers if the minimum secondary instances is set.Primary workers - Bounds: [min_instances, ). Secondary workers - Bounds: [min_instances, ). Default: 0."
        }
      }
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "description": "Request message for TestIamPermissions method.",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the resource. Permissions with wildcards (such as '*' or 'storage.*') are not allowed. For more information see IAM Overview (https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsRequest"
    },
    "HiveJob": {
      "id": "HiveJob",
      "type": "object",
      "description": "A Dataproc job for running Apache Hive (https://hive.apache.org/) queries on YARN.",
      "properties": {
        "queryList": {
          "$ref": "QueryList",
          "description": "A list of queries."
        },
        "properties": {
          "description": "Optional. A mapping of property names and values, used to configure Hive. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/hadoop/conf/*-site.xml, /etc/hive/conf/hive-site.xml, and classes in user code.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "jarFileUris": {
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATH of the Hive server and Hadoop MapReduce (MR) tasks. Can contain Hive SerDes and UDFs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "queryFileUri": {
          "description": "The HCFS URI of the script that contains Hive queries.",
          "type": "string"
        },
        "continueOnFailure": {
          "description": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries.",
          "type": "boolean"
        },
        "scriptVariables": {
          "description": "Optional. Mapping of query variable names to values (equivalent to the Hive command: SET name=\"value\";).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "EndpointConfig": {
      "description": "Endpoint config for this cluster",
      "properties": {
        "enableHttpPortAccess": {
          "description": "Optional. If true, enable http access to specific ports on the cluster from external sources. Defaults to false.",
          "type": "boolean"
        },
        "httpPorts": {
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Output only. The map of port descriptions to URLs. Will only be populated if enable_http_port_access is true."
        }
      },
      "type": "object",
      "id": "EndpointConfig"
    },
    "Expr": {
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec.Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        }
      }
    },
    "WorkflowNode": {
      "description": "The workflow node.",
      "properties": {
        "jobId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The job id; populated after the node enters RUNNING state."
        },
        "state": {
          "enum": [
            "NODE_STATE_UNSPECIFIED",
            "BLOCKED",
            "RUNNABLE",
            "RUNNING",
            "COMPLETED",
            "FAILED"
          ],
          "enumDescriptions": [
            "State is unspecified.",
            "The node is awaiting prerequisite node to finish.",
            "The node is runnable but not running.",
            "The node is running.",
            "The node completed successfully.",
            "The node failed. A node can be marked FAILED because its ancestor or peer failed."
          ],
          "description": "Output only. The node state.",
          "type": "string",
          "readOnly": true
        },
        "error": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The error detail."
        },
        "prerequisiteStepIds": {
          "description": "Output only. Node's prerequisite nodes.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "stepId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the node."
        }
      },
      "type": "object",
      "id": "WorkflowNode"
    },
    "WorkflowGraph": {
      "description": "The workflow graph.",
      "properties": {
        "nodes": {
          "type": "array",
          "description": "Output only. The workflow nodes.",
          "readOnly": true,
          "items": {
            "$ref": "WorkflowNode"
          }
        }
      },
      "id": "WorkflowGraph",
      "type": "object"
    },
    "GetPolicyOptions": {
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "id": "GetPolicyOptions",
      "properties": {
        "requestedPolicyVersion": {
          "type": "integer",
          "description": "Optional. The policy format version to be returned.Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected.Requests for policies with any conditional bindings must specify version 3. Policies without any conditional bindings may specify any valid value or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "CancelJobRequest": {
      "id": "CancelJobRequest",
      "description": "A request to cancel a job.",
      "properties": {},
      "type": "object"
    },
    "ClusterStatus": {
      "type": "object",
      "properties": {
        "stateStartTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when this state was entered (see JSON representation of Timestamp (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "readOnly": true
        },
        "detail": {
          "readOnly": true,
          "type": "string",
          "description": "Optional. Output only. Details of cluster's state."
        },
        "state": {
          "enum": [
            "UNKNOWN",
            "CREATING",
            "RUNNING",
            "ERROR",
            "DELETING",
            "UPDATING",
            "STOPPING",
            "STOPPED",
            "STARTING"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The cluster's state.",
          "enumDescriptions": [
            "The cluster state is unknown.",
            "The cluster is being created and set up. It is not ready for use.",
            "The cluster is currently running and healthy. It is ready for use.",
            "The cluster encountered an error. It is not ready for use.",
            "The cluster is being deleted. It cannot be used.",
            "The cluster is being updated. It continues to accept and process jobs.",
            "The cluster is being stopped. It cannot be used.",
            "The cluster is currently stopped. It is not ready for use.",
            "The cluster is being started. It is not ready for use."
          ]
        },
        "substate": {
          "type": "string",
          "enumDescriptions": [
            "The cluster substate is unknown.",
            "The cluster is known to be in an unhealthy state (for example, critical daemons are not running or HDFS capacity is exhausted).Applies to RUNNING state.",
            "The agent-reported status is out of date (may occur if Dataproc loses communication with Agent).Applies to RUNNING state."
          ],
          "description": "Output only. Additional state information that includes status reported by the agent.",
          "enum": [
            "UNSPECIFIED",
            "UNHEALTHY",
            "STALE_STATUS"
          ],
          "readOnly": true
        }
      },
      "id": "ClusterStatus",
      "description": "The status of a cluster and its instances."
    },
    "StartClusterRequest": {
      "description": "A request to start a cluster.",
      "type": "object",
      "properties": {
        "clusterUuid": {
          "type": "string",
          "description": "Optional. Specifying the cluster_uuid means the RPC will fail (with error NOT_FOUND) if a cluster with the specified UUID does not exist."
        },
        "requestId": {
          "description": "Optional. A unique id used to identify the request. If the server receives two StartClusterRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.StartClusterRequest)s with the same id, then the second request will be ignored and the first google.longrunning.Operation created and stored in the backend is returned.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The id must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        }
      },
      "id": "StartClusterRequest"
    },
    "ConfidentialInstanceConfig": {
      "id": "ConfidentialInstanceConfig",
      "description": "Confidential Instance Config for clusters using Confidential VMs (https://cloud.google.com/compute/confidential-vm/docs)",
      "type": "object",
      "properties": {
        "enableConfidentialCompute": {
          "description": "Optional. Defines whether the instance should have confidential compute enabled.",
          "type": "boolean"
        }
      }
    },
    "QueryList": {
      "properties": {
        "queries": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The queries to execute. You do not need to end a query expression with a semicolon. Multiple queries can be specified in one string by separating each with a semicolon. Here is an example of a Dataproc API snippet that uses a QueryList to specify a HiveJob: \"hiveJob\": { \"queryList\": { \"queries\": [ \"query1\", \"query2\", \"query3;query4\", ] } } "
        }
      },
      "type": "object",
      "description": "A list of queries to run on a cluster.",
      "id": "QueryList"
    },
    "Operation": {
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available."
        }
      },
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ListClustersResponse": {
      "properties": {
        "clusters": {
          "items": {
            "$ref": "Cluster"
          },
          "readOnly": true,
          "description": "Output only. The clusters in the project.",
          "type": "array"
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent ListClustersRequest."
        }
      },
      "description": "The list of all clusters in a project.",
      "type": "object",
      "id": "ListClustersResponse"
    },
    "ClusterOperation": {
      "properties": {
        "done": {
          "readOnly": true,
          "description": "Output only. Indicates the operation is done.",
          "type": "boolean"
        },
        "operationId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The id of the cluster operation."
        },
        "error": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Error, if operation failed."
        }
      },
      "id": "ClusterOperation",
      "type": "object",
      "description": "The cluster operation triggered by a workflow."
    },
    "MetastoreConfig": {
      "description": "Specifies a Metastore configuration.",
      "type": "object",
      "properties": {
        "dataprocMetastoreService": {
          "type": "string",
          "description": "Required. Resource name of an existing Dataproc Metastore service.Example: projects/[project_id]/locations/[dataproc_region]/services/[service-name]"
        }
      },
      "id": "MetastoreConfig"
    },
    "ShieldedInstanceConfig": {
      "type": "object",
      "id": "ShieldedInstanceConfig",
      "description": "Shielded Instance Config for clusters using Compute Engine Shielded VMs (https://cloud.google.com/security/shielded-cloud/shielded-vm).",
      "properties": {
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether instances have integrity monitoring enabled.",
          "type": "boolean"
        },
        "enableVtpm": {
          "description": "Optional. Defines whether instances have the vTPM enabled.",
          "type": "boolean"
        },
        "enableSecureBoot": {
          "description": "Optional. Defines whether instances have Secure Boot enabled.",
          "type": "boolean"
        }
      }
    },
    "PigJob": {
      "type": "object",
      "id": "PigJob",
      "properties": {
        "properties": {
          "type": "object",
          "description": "Optional. A mapping of property names to values, used to configure Pig. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/hadoop/conf/*-site.xml, /etc/pig/conf/pig.properties, and classes in user code.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "scriptVariables": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Mapping of query variable names to values (equivalent to the Pig command: name=[value]).",
          "type": "object"
        },
        "queryList": {
          "$ref": "QueryList",
          "description": "A list of queries."
        },
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "queryFileUri": {
          "description": "The HCFS URI of the script that contains the Pig queries.",
          "type": "string"
        },
        "jarFileUris": {
          "type": "array",
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATH of the Pig Client and Hadoop MapReduce (MR) tasks. Can contain Pig UDFs.",
          "items": {
            "type": "string"
          }
        },
        "continueOnFailure": {
          "type": "boolean",
          "description": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries."
        }
      },
      "description": "A Dataproc job for running Apache Pig (https://pig.apache.org/) queries on YARN."
    },
    "ManagedCluster": {
      "properties": {
        "clusterName": {
          "type": "string",
          "description": "Required. The cluster name prefix. A unique cluster name will be formed by appending a random suffix.The name must contain only lower-case letters (a-z), numbers (0-9), and hyphens (-). Must begin with a letter. Cannot begin or end with hyphen. Must consist of between 2 and 35 characters."
        },
        "labels": {
          "type": "object",
          "description": "Optional. The labels to associate with this cluster.Label keys must be between 1 and 63 characters long, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62}Label values must be between 1 and 63 characters long, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}\\p{N}_-{0,63}No more than 32 labels can be associated with a given cluster.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "config": {
          "$ref": "ClusterConfig",
          "description": "Required. The cluster configuration."
        }
      },
      "type": "object",
      "id": "ManagedCluster",
      "description": "Cluster that is managed by the workflow."
    },
    "ClusterConfig": {
      "description": "The cluster config.",
      "type": "object",
      "properties": {
        "tempBucket": {
          "description": "Optional. A Cloud Storage bucket used to store ephemeral cluster and jobs data, such as Spark and MapReduce history files. If you do not specify a temp bucket, Dataproc will determine a Cloud Storage location (US, ASIA, or EU) for your cluster's temp bucket according to the Compute Engine zone where your cluster is deployed, and then create and manage this project-level, per-location bucket. The default bucket has a TTL of 90 days, but you can use any TTL (or none) if you specify a bucket. This field requires a Cloud Storage bucket name, not a URI to a Cloud Storage bucket.",
          "type": "string"
        },
        "secondaryWorkerConfig": {
          "$ref": "InstanceGroupConfig",
          "description": "Optional. The Compute Engine config settings for additional worker instances in a cluster."
        },
        "metastoreConfig": {
          "description": "Optional. Metastore configuration.",
          "$ref": "MetastoreConfig"
        },
        "initializationActions": {
          "items": {
            "$ref": "NodeInitializationAction"
          },
          "description": "Optional. Commands to execute on each node after config is completed. By default, executables are run on master and all worker nodes. You can test a node's role metadata to run an executable on a master or worker node, as shown below using curl (you can also use wget): ROLE=$(curl -H Metadata-Flavor:Google http://metadata/computeMetadata/v1/instance/attributes/dataproc-role) if [[ \"${ROLE}\" == 'Master' ]]; then ... master specific actions ... else ... worker specific actions ... fi ",
          "type": "array"
        },
        "softwareConfig": {
          "$ref": "SoftwareConfig",
          "description": "Optional. The config settings for software inside the cluster."
        },
        "autoscalingConfig": {
          "$ref": "AutoscalingConfig",
          "description": "Optional. Autoscaling config for the policy associated with the cluster. Cluster does not autoscale if this field is unset."
        },
        "gkeClusterConfig": {
          "description": "Optional. BETA. The Kubernetes Engine config for Dataproc clusters deployed to Kubernetes. Setting this is considered mutually exclusive with Compute Engine-based options such as gce_cluster_config, master_config, worker_config, secondary_worker_config, and autoscaling_config.",
          "$ref": "GkeClusterConfig"
        },
        "workerConfig": {
          "$ref": "InstanceGroupConfig",
          "description": "Optional. The Compute Engine config settings for worker instances in a cluster."
        },
        "securityConfig": {
          "$ref": "SecurityConfig",
          "description": "Optional. Security settings for the cluster."
        },
        "lifecycleConfig": {
          "$ref": "LifecycleConfig",
          "description": "Optional. Lifecycle setting for the cluster."
        },
        "endpointConfig": {
          "$ref": "EndpointConfig",
          "description": "Optional. Port/endpoint configuration for this cluster"
        },
        "masterConfig": {
          "$ref": "InstanceGroupConfig",
          "description": "Optional. The Compute Engine config settings for the master instance in a cluster."
        },
        "gceClusterConfig": {
          "description": "Optional. The shared Compute Engine config settings for all instances in a cluster.",
          "$ref": "GceClusterConfig"
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Optional. Encryption settings for the cluster."
        },
        "configBucket": {
          "description": "Optional. A Cloud Storage bucket used to stage job dependencies, config files, and job driver console output. If you do not specify a staging bucket, Cloud Dataproc will determine a Cloud Storage location (US, ASIA, or EU) for your cluster's staging bucket according to the Compute Engine zone where your cluster is deployed, and then create and manage this project-level, per-location bucket (see Dataproc staging bucket (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/staging-bucket)). This field requires a Cloud Storage bucket name, not a URI to a Cloud Storage bucket.",
          "type": "string"
        }
      },
      "id": "ClusterConfig"
    },
    "JobMetadata": {
      "type": "object",
      "properties": {
        "status": {
          "readOnly": true,
          "description": "Output only. Most recent job status.",
          "$ref": "JobStatus"
        },
        "jobId": {
          "description": "Output only. The job id.",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "readOnly": true,
          "description": "Output only. Job submission time.",
          "type": "string",
          "format": "google-datetime"
        },
        "operationType": {
          "description": "Output only. Operation type.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "JobMetadata",
      "description": "Job Operation metadata."
    },
    "WorkflowMetadata": {
      "id": "WorkflowMetadata",
      "properties": {
        "template": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the workflow template as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.workflowTemplates, the resource name of the template has the following format: projects/{project_id}/regions/{region}/workflowTemplates/{template_id} For projects.locations.workflowTemplates, the resource name of the template has the following format: projects/{project_id}/locations/{location}/workflowTemplates/{template_id}"
        },
        "version": {
          "readOnly": true,
          "description": "Output only. The version of template at the time of workflow instantiation.",
          "format": "int32",
          "type": "integer"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map from parameter names to values that were used for those parameters."
        },
        "startTime": {
          "type": "string",
          "description": "Output only. Workflow start time.",
          "format": "google-datetime",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The workflow state.",
          "enumDescriptions": [
            "Unused.",
            "The operation has been created.",
            "The operation is running.",
            "The operation is done; either cancelled or completed."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "UNKNOWN",
            "PENDING",
            "RUNNING",
            "DONE"
          ]
        },
        "clusterName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the target cluster."
        },
        "dagStartTime": {
          "readOnly": true,
          "description": "Output only. DAG start time, only set for workflows with dag_timeout when DAG begins.",
          "type": "string",
          "format": "google-datetime"
        },
        "dagEndTime": {
          "description": "Output only. DAG end time, only set for workflows with dag_timeout when DAG ends.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "graph": {
          "$ref": "WorkflowGraph",
          "description": "Output only. The workflow graph.",
          "readOnly": true
        },
        "deleteCluster": {
          "readOnly": true,
          "$ref": "ClusterOperation",
          "description": "Output only. The delete cluster operation metadata."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Workflow end time.",
          "readOnly": true
        },
        "clusterUuid": {
          "readOnly": true,
          "description": "Output only. The UUID of target cluster.",
          "type": "string"
        },
        "createCluster": {
          "readOnly": true,
          "description": "Output only. The create cluster operation metadata.",
          "$ref": "ClusterOperation"
        },
        "dagTimeout": {
          "type": "string",
          "description": "Output only. The timeout duration for the DAG of jobs, expressed in seconds (see JSON representation of duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "format": "google-duration",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A Dataproc workflow template resource."
    },
    "JobPlacement": {
      "type": "object",
      "id": "JobPlacement",
      "description": "Dataproc job config.",
      "properties": {
        "clusterLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Cluster labels to identify a cluster where the job will be submitted."
        },
        "clusterUuid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A cluster UUID generated by the Dataproc service when the job is submitted."
        },
        "clusterName": {
          "type": "string",
          "description": "Required. The name of the cluster where the job will be submitted."
        }
      }
    },
    "BasicAutoscalingAlgorithm": {
      "description": "Basic algorithm for autoscaling.",
      "properties": {
        "cooldownPeriod": {
          "format": "google-duration",
          "description": "Optional. Duration between scaling events. A scaling period starts after the update operation from the previous event has completed.Bounds: 2m, 1d. Default: 2m.",
          "type": "string"
        },
        "yarnConfig": {
          "$ref": "BasicYarnAutoscalingConfig",
          "description": "Required. YARN autoscaling configuration."
        }
      },
      "id": "BasicAutoscalingAlgorithm",
      "type": "object"
    },
    "Status": {
      "type": "object",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "HadoopJob": {
      "type": "object",
      "id": "HadoopJob",
      "description": "A Dataproc job for running Apache Hadoop MapReduce (https://hadoop.apache.org/docs/current/hadoop-mapreduce-client/hadoop-mapreduce-client-core/MapReduceTutorial.html) jobs on Apache Hadoop YARN (https://hadoop.apache.org/docs/r2.7.1/hadoop-yarn/hadoop-yarn-site/YARN.html).",
      "properties": {
        "args": {
          "type": "array",
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as -libjars or -Dfoo=bar, that can be set as job properties, since a collision may occur that causes an incorrect job submission.",
          "items": {
            "type": "string"
          }
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. A mapping of property names to values, used to configure Hadoop. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/hadoop/conf/*-site and classes in user code."
        },
        "mainJarFileUri": {
          "description": "The HCFS URI of the jar file containing the main class. Examples: 'gs://foo-bucket/analytics-binaries/extract-useful-metrics-mr.jar' 'hdfs:/tmp/test-samples/custom-wordcount.jar' 'file:///home/usr/lib/hadoop-mapreduce/hadoop-mapreduce-examples.jar'",
          "type": "string"
        },
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "jarFileUris": {
          "type": "array",
          "description": "Optional. Jar file URIs to add to the CLASSPATHs of the Hadoop driver and tasks.",
          "items": {
            "type": "string"
          }
        },
        "fileUris": {
          "description": "Optional. HCFS (Hadoop Compatible Filesystem) URIs of files to be copied to the working directory of Hadoop drivers and distributed tasks. Useful for naively parallel tasks.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mainClass": {
          "type": "string",
          "description": "The name of the driver's main class. The jar file containing the class must be in the default CLASSPATH or specified in jar_file_uris."
        },
        "archiveUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. HCFS URIs of archives to be extracted in the working directory of Hadoop drivers and tasks. Supported file types: .jar, .tar, .tar.gz, .tgz, or .zip."
        }
      }
    },
    "LifecycleConfig": {
      "id": "LifecycleConfig",
      "type": "object",
      "description": "Specifies the cluster auto-delete schedule configuration.",
      "properties": {
        "autoDeleteTime": {
          "format": "google-datetime",
          "description": "Optional. The time when cluster will be auto-deleted (see JSON representation of Timestamp (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "type": "string"
        },
        "idleStartTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when cluster became idle (most recent job finished) and became eligible for deletion due to idleness (see JSON representation of Timestamp (https://developers.google.com/protocol-buffers/docs/proto3#json))."
        },
        "idleDeleteTtl": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The duration to keep the cluster alive while idling (when no jobs are running). Passing this threshold will cause the cluster to be deleted. Minimum value is 5 minutes; maximum value is 14 days (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json))."
        },
        "autoDeleteTtl": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. The lifetime duration of cluster. The cluster will be auto-deleted at the end of this period. Minimum value is 10 minutes; maximum value is 14 days (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json))."
        }
      }
    },
    "DiagnoseClusterResults": {
      "description": "The location of diagnostic output.",
      "properties": {
        "outputUri": {
          "description": "Output only. The Cloud Storage URI of the diagnostic output. The output report is a plain text file with a summary of collected diagnostics.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "DiagnoseClusterResults",
      "type": "object"
    },
    "BatchOperationMetadata": {
      "description": "Metadata describing the Batch operation.",
      "id": "BatchOperationMetadata",
      "type": "object",
      "properties": {
        "batch": {
          "description": "Name of the batch for the operation.",
          "type": "string"
        },
        "doneTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the operation finished."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels associated with the operation."
        },
        "createTime": {
          "type": "string",
          "description": "The time when the operation was created.",
          "format": "google-datetime"
        },
        "operationType": {
          "description": "The operation type.",
          "enumDescriptions": [
            "Batch operation type is unknown.",
            "Batch operation type."
          ],
          "enum": [
            "BATCH_OPERATION_TYPE_UNSPECIFIED",
            "BATCH"
          ],
          "type": "string"
        },
        "warnings": {
          "description": "Warnings encountered during operation execution.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "Short description of the operation."
        },
        "batchUuid": {
          "type": "string",
          "description": "Batch UUID for the operation."
        }
      }
    },
    "InjectCredentialsRequest": {
      "description": "A request to inject credentials into a cluster.",
      "type": "object",
      "id": "InjectCredentialsRequest",
      "properties": {
        "credentialsCiphertext": {
          "description": "Required. The encrypted credentials being injected in to the cluster.The client is responsible for encrypting the credentials in a way that is supported by the cluster.A wrapped value is used here so that the actual contents of the encrypted credentials are not written to audit logs.",
          "type": "string"
        },
        "clusterUuid": {
          "description": "Required. The cluster UUID.",
          "type": "string"
        }
      }
    },
    "JobScheduling": {
      "properties": {
        "maxFailuresTotal": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Maximum number of times in total a driver may be restarted as a result of driver exiting with non-zero code before job is reported failed. Maximum value is 240."
        },
        "maxFailuresPerHour": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Maximum number of times per hour a driver may be restarted as a result of driver exiting with non-zero code before job is reported failed.A job may be reported as thrashing if driver exits with non-zero code 4 times within 10 minute window.Maximum value is 10."
        }
      },
      "id": "JobScheduling",
      "type": "object",
      "description": "Job scheduling options."
    },
    "SparkRJob": {
      "id": "SparkRJob",
      "description": "A Dataproc job for running Apache SparkR (https://spark.apache.org/docs/latest/sparkr.html) applications on YARN.",
      "properties": {
        "args": {
          "type": "array",
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as --conf, that can be set as job properties, since a collision may occur that causes an incorrect job submission.",
          "items": {
            "type": "string"
          }
        },
        "archiveUris": {
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.",
          "type": "array"
        },
        "fileUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor. Useful for naively parallel tasks."
        },
        "properties": {
          "type": "object",
          "description": "Optional. A mapping of property names to values, used to configure SparkR. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/spark/conf/spark-defaults.conf and classes in user code.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "loggingConfig": {
          "$ref": "LoggingConfig",
          "description": "Optional. The runtime log config for job execution."
        },
        "mainRFileUri": {
          "type": "string",
          "description": "Required. The HCFS URI of the main R file to use as the driver. Must be a .R file."
        }
      },
      "type": "object"
    },
    "SparkSqlJob": {
      "id": "SparkSqlJob",
      "description": "A Dataproc job for running Apache Spark SQL (http://spark.apache.org/sql/) queries.",
      "properties": {
        "queryList": {
          "$ref": "QueryList",
          "description": "A list of queries."
        },
        "scriptVariables": {
          "description": "Optional. Mapping of query variable names to values (equivalent to the Spark SQL command: SET name=\"value\";).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "queryFileUri": {
          "description": "The HCFS URI of the script that contains SQL queries.",
          "type": "string"
        },
        "properties": {
          "description": "Optional. A mapping of property names to values, used to configure Spark SQL's SparkConf. Properties that conflict with values set by the Dataproc API may be overwritten.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "jarFileUris": {
          "description": "Optional. HCFS URIs of jar files to be added to the Spark CLASSPATH.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListJobsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Optional. This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent ListJobsRequest."
        },
        "jobs": {
          "description": "Output only. Jobs list.",
          "items": {
            "$ref": "Job"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "ListJobsResponse",
      "description": "A list of jobs in a project."
    },
    "LoggingConfig": {
      "type": "object",
      "properties": {
        "driverLogLevels": {
          "type": "object",
          "description": "The per-package log levels for the driver. This may include \"root\" package name to configure rootLogger. Examples: 'com.google = FATAL', 'root = INFO', 'org.apache = DEBUG'",
          "additionalProperties": {
            "type": "string",
            "enum": [
              "LEVEL_UNSPECIFIED",
              "ALL",
              "TRACE",
              "DEBUG",
              "INFO",
              "WARN",
              "ERROR",
              "FATAL",
              "OFF"
            ],
            "enumDescriptions": [
              "Level is unspecified. Use default level for log4j.",
              "Use ALL level for log4j.",
              "Use TRACE level for log4j.",
              "Use DEBUG level for log4j.",
              "Use INFO level for log4j.",
              "Use WARN level for log4j.",
              "Use ERROR level for log4j.",
              "Use FATAL level for log4j.",
              "Turn off log4j."
            ]
          }
        }
      },
      "id": "LoggingConfig",
      "description": "The runtime logging config of the job."
    },
    "TemplateParameter": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Brief description of the parameter. Must not exceed 1024 characters."
        },
        "validation": {
          "$ref": "ParameterValidation",
          "description": "Optional. Validation rules to be applied to this parameter's value."
        },
        "name": {
          "type": "string",
          "description": "Required. Parameter name. The parameter name is used as the key, and paired with the parameter value, which are passed to the template when the template is instantiated. The name must contain only capital letters (A-Z), numbers (0-9), and underscores (_), and must not start with a number. The maximum length is 40 characters."
        },
        "fields": {
          "type": "array",
          "description": "Required. Paths to all fields that the parameter replaces. A field is allowed to appear in at most one parameter's list of field paths.A field path is similar in syntax to a google.protobuf.FieldMask. For example, a field path that references the zone field of a workflow template's cluster selector would be specified as placement.clusterSelector.zone.Also, field paths can reference fields using the following syntax: Values in maps can be referenced by key: labels'key' placement.clusterSelector.clusterLabels'key' placement.managedCluster.labels'key' placement.clusterSelector.clusterLabels'key' jobs'step-id'.labels'key' Jobs in the jobs list can be referenced by step-id: jobs'step-id'.hadoopJob.mainJarFileUri jobs'step-id'.hiveJob.queryFileUri jobs'step-id'.pySparkJob.mainPythonFileUri jobs'step-id'.hadoopJob.jarFileUris0 jobs'step-id'.hadoopJob.archiveUris0 jobs'step-id'.hadoopJob.fileUris0 jobs'step-id'.pySparkJob.pythonFileUris0 Items in repeated fields can be referenced by a zero-based index: jobs'step-id'.sparkJob.args0 Other examples: jobs'step-id'.hadoopJob.properties'key' jobs'step-id'.hadoopJob.args0 jobs'step-id'.hiveJob.scriptVariables'key' jobs'step-id'.hadoopJob.mainJarFileUri placement.clusterSelector.zoneIt may not be possible to parameterize maps and repeated fields in their entirety since only individual map values and individual items in repeated fields can be referenced. For example, the following field paths are invalid: placement.clusterSelector.clusterLabels jobs'step-id'.sparkJob.args",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "A configurable parameter that replaces one or more fields in the template. Parameterizable fields: - Labels - File uris - Job properties - Job arguments - Script variables - Main class (in HadoopJob and SparkJob) - Zone (in ClusterSelector)",
      "id": "TemplateParameter"
    },
    "DiagnoseClusterRequest": {
      "type": "object",
      "properties": {},
      "id": "DiagnoseClusterRequest",
      "description": "A request to collect cluster diagnostic information."
    },
    "ListWorkflowTemplatesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent ListWorkflowTemplatesRequest."
        },
        "templates": {
          "readOnly": true,
          "description": "Output only. WorkflowTemplates list.",
          "items": {
            "$ref": "WorkflowTemplate"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "A response to a request to list workflow templates in a project.",
      "id": "ListWorkflowTemplatesResponse"
    },
    "AutoscalingConfig": {
      "properties": {
        "policyUri": {
          "description": "Optional. The autoscaling policy used by the cluster.Only resource names including projectid and location (region) are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/locations/[dataproc_region]/autoscalingPolicies/[policy_id] projects/[project_id]/locations/[dataproc_region]/autoscalingPolicies/[policy_id]Note that the policy must be in the same project and Dataproc region.",
          "type": "string"
        }
      },
      "description": "Autoscaling Policy config associated with the cluster.",
      "type": "object",
      "id": "AutoscalingConfig"
    },
    "WorkflowTemplatePlacement": {
      "description": "Specifies workflow execution target.Either managed_cluster or cluster_selector is required.",
      "id": "WorkflowTemplatePlacement",
      "properties": {
        "managedCluster": {
          "description": "A cluster that is managed by the workflow.",
          "$ref": "ManagedCluster"
        },
        "clusterSelector": {
          "$ref": "ClusterSelector",
          "description": "Optional. A selector that chooses target cluster for jobs based on metadata.The selector is evaluated at the time each job is submitted."
        }
      },
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "GkeClusterConfig": {
      "description": "The GKE config for this cluster.",
      "id": "GkeClusterConfig",
      "type": "object",
      "properties": {
        "namespacedGkeDeploymentTarget": {
          "$ref": "NamespacedGkeDeploymentTarget",
          "description": "Optional. A target for the deployment."
        }
      }
    },
    "Job": {
      "properties": {
        "status": {
          "$ref": "JobStatus",
          "readOnly": true,
          "description": "Output only. The job status. Additional application-specific status information may be contained in the type_job and yarn_applications fields."
        },
        "pysparkJob": {
          "$ref": "PySparkJob",
          "description": "Optional. Job is a PySpark job."
        },
        "placement": {
          "$ref": "JobPlacement",
          "description": "Required. Job information, including how, when, and where to run the job."
        },
        "prestoJob": {
          "description": "Optional. Job is a Presto job.",
          "$ref": "PrestoJob"
        },
        "driverOutputResourceUri": {
          "type": "string",
          "description": "Output only. A URI pointing to the location of the stdout of the job's driver program.",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels to associate with this job. Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). Label values may be empty, but, if present, must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with a job.",
          "type": "object"
        },
        "hadoopJob": {
          "description": "Optional. Job is a Hadoop job.",
          "$ref": "HadoopJob"
        },
        "jobUuid": {
          "type": "string",
          "description": "Output only. A UUID that uniquely identifies a job within the project over time. This is in contrast to a user-settable reference.job_id that may be reused over time.",
          "readOnly": true
        },
        "statusHistory": {
          "items": {
            "$ref": "JobStatus"
          },
          "readOnly": true,
          "description": "Output only. The previous job status.",
          "type": "array"
        },
        "scheduling": {
          "$ref": "JobScheduling",
          "description": "Optional. Job scheduling configuration."
        },
        "driverControlFilesUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If present, the location of miscellaneous control files which may be used as part of job setup and handling. If not present, control files may be placed in the same location as driver_output_uri."
        },
        "sparkRJob": {
          "$ref": "SparkRJob",
          "description": "Optional. Job is a SparkR job."
        },
        "reference": {
          "$ref": "JobReference",
          "description": "Optional. The fully qualified reference to the job, which can be used to obtain the equivalent REST path of the job resource. If this property is not specified when a job is created, the server generates a job_id."
        },
        "sparkSqlJob": {
          "$ref": "SparkSqlJob",
          "description": "Optional. Job is a SparkSql job."
        },
        "done": {
          "description": "Output only. Indicates whether the job is completed. If the value is false, the job is still in progress. If true, the job is completed, and status.state field will indicate if it was successful, failed, or cancelled.",
          "type": "boolean",
          "readOnly": true
        },
        "hiveJob": {
          "description": "Optional. Job is a Hive job.",
          "$ref": "HiveJob"
        },
        "pigJob": {
          "$ref": "PigJob",
          "description": "Optional. Job is a Pig job."
        },
        "yarnApplications": {
          "description": "Output only. The collection of YARN applications spun up by this job.Beta Feature: This report is available for testing purposes only. It may be changed before final release.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "YarnApplication"
          }
        },
        "sparkJob": {
          "$ref": "SparkJob",
          "description": "Optional. Job is a Spark job."
        }
      },
      "id": "Job",
      "description": "A Dataproc job resource.",
      "type": "object"
    },
    "ReservationAffinity": {
      "type": "object",
      "properties": {
        "key": {
          "description": "Optional. Corresponds to the label key of reservation resource.",
          "type": "string"
        },
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Corresponds to the label values of reservation resource.",
          "type": "array"
        },
        "consumeReservationType": {
          "enumDescriptions": [
            "",
            "Do not consume from any allocated capacity.",
            "Consume any reservation available.",
            "Must consume from a specific reservation. Must specify key value fields for specifying the reservations."
          ],
          "description": "Optional. Type of reservation to consume",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NO_RESERVATION",
            "ANY_RESERVATION",
            "SPECIFIC_RESERVATION"
          ]
        }
      },
      "description": "Reservation Affinity for consuming Zonal reservation.",
      "id": "ReservationAffinity"
    },
    "NodeGroupAffinity": {
      "properties": {
        "nodeGroupUri": {
          "description": "Required. The URI of a sole-tenant node group resource (https://cloud.google.com/compute/docs/reference/rest/v1/nodeGroups) that the cluster will be created on.A full URL, partial URI, or node group name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/zones/us-central1-a/nodeGroups/node-group-1 projects/[project_id]/zones/us-central1-a/nodeGroups/node-group-1 node-group-1",
          "type": "string"
        }
      },
      "description": "Node Group Affinity for clusters using sole-tenant node groups.",
      "id": "NodeGroupAffinity",
      "type": "object"
    },
    "NamespacedGkeDeploymentTarget": {
      "type": "object",
      "id": "NamespacedGkeDeploymentTarget",
      "properties": {
        "targetGkeCluster": {
          "description": "Optional. The target GKE cluster to deploy to. Format: 'projects/{project}/locations/{location}/clusters/{cluster_id}'",
          "type": "string"
        },
        "clusterNamespace": {
          "description": "Optional. A namespace within the GKE cluster to deploy into.",
          "type": "string"
        }
      },
      "description": "A full, namespace-isolated deployment target for an existing GKE cluster."
    },
    "Binding": {
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to members. For example, roles/viewer, roles/editor, or roles/owner."
        },
        "members": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the identities requesting access for a Cloud Platform resource. members can have the following values: allUsers: A special identifier that represents anyone who is on the internet; with or without a Google account. allAuthenticatedUsers: A special identifier that represents anyone who is authenticated with a Google account or a service account. user:{emailid}: An email address that represents a specific Google account. For example, alice@example.com . serviceAccount:{emailid}: An email address that represents a service account. For example, my-other-app@appspot.gserviceaccount.com. group:{emailid}: An email address that represents a Google group. For example, admins@example.com. deleted:user:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a user that has been recently deleted. For example, alice@example.com?uid=123456789012345678901. If the user is recovered, this value reverts to user:{emailid} and the recovered user retains the role in the binding. deleted:serviceAccount:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901. If the service account is undeleted, this value reverts to serviceAccount:{emailid} and the undeleted service account retains the role in the binding. deleted:group:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, admins@example.com?uid=123456789012345678901. If the group is recovered, this value reverts to group:{emailid} and the recovered group retains the role in the binding. domain:{domain}: The G Suite domain (primary) that represents all the users of that domain. For example, google.com or example.com."
        },
        "condition": {
          "description": "The condition that is associated with this binding.If the condition evaluates to true, then this binding applies to the current request.If the condition evaluates to false, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the members in this binding.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      },
      "description": "Associates members with a role.",
      "id": "Binding",
      "type": "object"
    },
    "ClusterOperationMetadata": {
      "type": "object",
      "description": "Metadata describing the operation.",
      "id": "ClusterOperationMetadata",
      "properties": {
        "warnings": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Errors encountered during operation execution."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Labels associated with the operation",
          "type": "object"
        },
        "statusHistory": {
          "items": {
            "$ref": "ClusterOperationStatus"
          },
          "description": "Output only. The previous operation status.",
          "type": "array",
          "readOnly": true
        },
        "clusterName": {
          "description": "Output only. Name of the cluster for the operation.",
          "readOnly": true,
          "type": "string"
        },
        "operationType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The operation type."
        },
        "clusterUuid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Cluster UUID for the operation."
        },
        "status": {
          "description": "Output only. Current operation status.",
          "readOnly": true,
          "$ref": "ClusterOperationStatus"
        },
        "description": {
          "type": "string",
          "description": "Output only. Short description of operation.",
          "readOnly": true
        }
      }
    },
    "AcceleratorConfig": {
      "properties": {
        "acceleratorCount": {
          "type": "integer",
          "description": "The number of the accelerator cards of this type exposed to this instance.",
          "format": "int32"
        },
        "acceleratorTypeUri": {
          "type": "string",
          "description": "Full URL, partial URI, or short name of the accelerator type resource to expose to this instance. See Compute Engine AcceleratorTypes (https://cloud.google.com/compute/docs/reference/beta/acceleratorTypes).Examples: https://www.googleapis.com/compute/beta/projects/[project_id]/zones/us-east1-a/acceleratorTypes/nvidia-tesla-k80 projects/[project_id]/zones/us-east1-a/acceleratorTypes/nvidia-tesla-k80 nvidia-tesla-k80Auto Zone Exception: If you are using the Dataproc Auto Zone Placement (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/auto-zone#using_auto_zone_placement) feature, you must use the short name of the accelerator type resource, for example, nvidia-tesla-k80."
        }
      },
      "description": "Specifies the type and number of accelerator cards attached to the instances of an instance. See GPUs on Compute Engine (https://cloud.google.com/compute/docs/gpus/).",
      "type": "object",
      "id": "AcceleratorConfig"
    },
    "InstantiateWorkflowTemplateRequest": {
      "type": "object",
      "description": "A request to instantiate a workflow template.",
      "id": "InstantiateWorkflowTemplateRequest",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. A tag that prevents multiple concurrent workflow instances with the same tag from running. This mitigates risk of concurrent instances started due to retries.It is recommended to always set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The tag must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Map from parameter names to values that should be used for those parameters. Values may not exceed 1000 characters."
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The version of workflow template to instantiate. If specified, the workflow will be instantiated only if the current version of the workflow template has the supplied version.This option cannot be used to instantiate a previous version of workflow template."
        }
      }
    },
    "PrestoJob": {
      "type": "object",
      "properties": {
        "loggingConfig": {
          "$ref": "LoggingConfig",
          "description": "Optional. The runtime log config for job execution."
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. A mapping of property names to values. Used to set Presto session properties (https://prestodb.io/docs/current/sql/set-session.html) Equivalent to using the --session flag in the Presto CLI"
        },
        "queryList": {
          "description": "A list of queries.",
          "$ref": "QueryList"
        },
        "outputFormat": {
          "type": "string",
          "description": "Optional. The format in which query output will be displayed. See the Presto documentation for supported output formats"
        },
        "clientTags": {
          "description": "Optional. Presto client tags to attach to this query",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "queryFileUri": {
          "description": "The HCFS URI of the script that contains SQL queries.",
          "type": "string"
        },
        "continueOnFailure": {
          "description": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries.",
          "type": "boolean"
        }
      },
      "id": "PrestoJob",
      "description": "A Dataproc job for running Presto (https://prestosql.io/) queries. IMPORTANT: The Dataproc Presto Optional Component (https://cloud.google.com/dataproc/docs/concepts/components/presto) must be enabled when the cluster is created to submit a Presto job to the cluster."
    },
    "OrderedJob": {
      "id": "OrderedJob",
      "description": "A job executed by the workflow.",
      "properties": {
        "pysparkJob": {
          "description": "Optional. Job is a PySpark job.",
          "$ref": "PySparkJob"
        },
        "sparkJob": {
          "description": "Optional. Job is a Spark job.",
          "$ref": "SparkJob"
        },
        "sparkRJob": {
          "description": "Optional. Job is a SparkR job.",
          "$ref": "SparkRJob"
        },
        "pigJob": {
          "$ref": "PigJob",
          "description": "Optional. Job is a Pig job."
        },
        "prestoJob": {
          "$ref": "PrestoJob",
          "description": "Optional. Job is a Presto job."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels to associate with this job.Label keys must be between 1 and 63 characters long, and must conform to the following regular expression: \\p{Ll}\\p{Lo}{0,62}Label values must be between 1 and 63 characters long, and must conform to the following regular expression: \\p{Ll}\\p{Lo}\\p{N}_-{0,63}No more than 32 labels can be associated with a given job.",
          "type": "object"
        },
        "hiveJob": {
          "description": "Optional. Job is a Hive job.",
          "$ref": "HiveJob"
        },
        "scheduling": {
          "$ref": "JobScheduling",
          "description": "Optional. Job scheduling configuration."
        },
        "stepId": {
          "description": "Required. The step id. The id must be unique among all jobs within the template.The step id is used as prefix for job id, as job goog-dataproc-workflow-step-id label, and in prerequisiteStepIds field from other steps.The id must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). Cannot begin or end with underscore or hyphen. Must consist of between 3 and 50 characters.",
          "type": "string"
        },
        "sparkSqlJob": {
          "$ref": "SparkSqlJob",
          "description": "Optional. Job is a SparkSql job."
        },
        "hadoopJob": {
          "$ref": "HadoopJob",
          "description": "Optional. Job is a Hadoop job."
        },
        "prerequisiteStepIds": {
          "description": "Optional. The optional list of prerequisite job step_ids. If not specified, the job will start at the beginning of workflow.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ClusterSelector": {
      "properties": {
        "clusterLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. The cluster labels. Cluster must have all labels to match.",
          "type": "object"
        },
        "zone": {
          "description": "Optional. The zone where workflow process executes. This parameter does not affect the selection of the cluster.If unspecified, the zone of the first cluster matching the selector is used.",
          "type": "string"
        }
      },
      "id": "ClusterSelector",
      "description": "A selector that chooses target cluster for jobs based on metadata.",
      "type": "object"
    },
    "ManagedGroupConfig": {
      "properties": {
        "instanceGroupManagerName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the Instance Group Manager for this group."
        },
        "instanceTemplateName": {
          "type": "string",
          "description": "Output only. The name of the Instance Template used for the Managed Instance Group.",
          "readOnly": true
        }
      },
      "id": "ManagedGroupConfig",
      "type": "object",
      "description": "Specifies the resources used to actively manage an instance group."
    },
    "ClusterOperationStatus": {
      "type": "object",
      "properties": {
        "details": {
          "description": "Output only. A message containing any operation metadata details.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Unused.",
            "The operation has been created.",
            "The operation is running.",
            "The operation is done; either cancelled or completed."
          ],
          "description": "Output only. A message containing the operation state.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "readOnly": true
        },
        "innerState": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A message containing the detailed operation state."
        },
        "stateStartTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time this state was entered.",
          "format": "google-datetime"
        }
      },
      "description": "The status of the operation.",
      "id": "ClusterOperationStatus"
    },
    "SparkJob": {
      "description": "A Dataproc job for running Apache Spark (http://spark.apache.org/) applications on YARN.",
      "properties": {
        "mainClass": {
          "description": "The name of the driver's main class. The jar file that contains the class must be in the default CLASSPATH or specified in jar_file_uris.",
          "type": "string"
        },
        "jarFileUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATHs of the Spark driver and tasks."
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. A mapping of property names to values, used to configure Spark. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/spark/conf/spark-defaults.conf and classes in user code."
        },
        "mainJarFileUri": {
          "type": "string",
          "description": "The HCFS URI of the jar file that contains the main class."
        },
        "fileUris": {
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor. Useful for naively parallel tasks.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "archiveUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip."
        },
        "args": {
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as --conf, that can be set as job properties, since a collision may occur that causes an incorrect job submission.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "loggingConfig": {
[...]
