{
  "parameters": {
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "mtlsRootUrl": "https://dataflow.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "basePath": "",
  "description": "Manages Google Cloud Dataflow projects on Google Cloud Platform.",
  "fullyEncodeReservedExpansion": true,
  "title": "Dataflow API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/compute": {
          "description": "View and manage your Google Compute Engine resources"
        },
        "https://www.googleapis.com/auth/compute.readonly": {
          "description": "View your Google Compute Engine resources"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud Platform data"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "View your email address"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "schemas": {
    "Environment": {
      "id": "Environment",
      "type": "object",
      "description": "Describes the environment in which a Dataflow Job runs.",
      "properties": {
        "userAgent": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "A description of the process that generated the request."
        },
        "workerPools": {
          "items": {
            "$ref": "WorkerPool"
          },
          "type": "array",
          "description": "The worker pools. At least one \"harness\" worker pool must be specified in order for the job to have workers."
        },
        "internalExperiments": {
          "type": "object",
          "description": "Experimental settings.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "shuffleMode": {
          "enum": [
            "SHUFFLE_MODE_UNSPECIFIED",
            "VM_BASED",
            "SERVICE_BASED"
          ],
          "enumDescriptions": [
            "Shuffle mode information is not available.",
            "Shuffle is done on the worker VMs.",
            "Shuffle is done on the service side."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The shuffle mode used for the job."
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "Identity to run virtual machines as. Defaults to the default account."
        },
        "sdkPipelineOptions": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The Cloud Dataflow SDK pipeline options specified by the user. These options are passed through the service and are used to recreate the SDK pipeline options on the worker in a language agnostic and platform independent way.",
          "type": "object"
        },
        "dataset": {
          "description": "The dataset for the current project where various workflow related tables are stored. The supported resource type is: Google BigQuery: bigquery.googleapis.com/{dataset}",
          "type": "string"
        },
        "serviceKmsKeyName": {
          "type": "string",
          "description": "If set, contains the Cloud KMS key identifier used to encrypt data at rest, AKA a Customer Managed Encryption Key (CMEK). Format: projects/PROJECT_ID/locations/LOCATION/keyRings/KEY_RING/cryptoKeys/KEY"
        },
        "workerZone": {
          "type": "string",
          "description": "The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity."
        },
        "experiments": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of experiments to enable. This field should be used for SDK related experiments and not for service related experiments. The proper field for service related experiments is service_options. For more details see the rationale at go/user-specified-service-options."
        },
        "flexResourceSchedulingGoal": {
          "type": "string",
          "enum": [
            "FLEXRS_UNSPECIFIED",
            "FLEXRS_SPEED_OPTIMIZED",
            "FLEXRS_COST_OPTIMIZED"
          ],
          "enumDescriptions": [
            "Run in the default mode.",
            "Optimize for lower execution time.",
            "Optimize for lower cost."
          ],
          "description": "Which Flexible Resource Scheduling mode to run in."
        },
        "tempStoragePrefix": {
          "type": "string",
          "description": "The prefix of the resources the system should use for temporary storage. The system will append the suffix \"/temp-{JOBNAME} to this resource prefix, where {JOBNAME} is the value of the job_name field. The resulting bucket and object prefix is used as the prefix of the resources used to store temporary data needed during the job execution. NOTE: This will override the value in taskrunner_settings. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}"
        },
        "clusterManagerApiService": {
          "description": "The type of cluster manager API to use. If unknown or unspecified, the service will attempt to choose a reasonable default. This should be in the form of the API service name, e.g. \"compute.googleapis.com\".",
          "type": "string"
        },
        "debugOptions": {
          "description": "Any debugging options to be supplied to the job.",
          "$ref": "DebugOptions"
        },
        "workerRegion": {
          "description": "The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, default to the control plane's region.",
          "type": "string"
        },
        "serviceOptions": {
          "items": {
            "type": "string"
          },
          "description": "The list of service options to enable. This field should be used for service related experiments only. These experiments, when graduating to GA, should be replaced by dedicated fields or become default (i.e. always on). For more details see the rationale at go/user-specified-service-options.",
          "type": "array"
        },
        "version": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "A structure describing which components and their versions of the service are required in order to run the job.",
          "type": "object"
        }
      }
    },
    "WorkerSettings": {
      "type": "object",
      "description": "Provides data to pass through to the worker harness.",
      "properties": {
        "reportingEnabled": {
          "description": "Whether to send work progress updates to the service.",
          "type": "boolean"
        },
        "baseUrl": {
          "description": "The base URL for accessing Google Cloud APIs. When workers access Google Cloud APIs, they logically do so via relative URLs. If this field is specified, it supplies the base URL to use for resolving these relative URLs. The normative algorithm used is defined by RFC 1808, \"Relative Uniform Resource Locators\". If not specified, the default value is \"http://www.googleapis.com/\"",
          "type": "string"
        },
        "workerId": {
          "type": "string",
          "description": "The ID of the worker running this pipeline."
        },
        "shuffleServicePath": {
          "description": "The Shuffle service path relative to the root URL, for example, \"shuffle/v1beta1\".",
          "type": "string"
        },
        "servicePath": {
          "type": "string",
          "description": "The Cloud Dataflow service path relative to the root URL, for example, \"dataflow/v1b3/projects\"."
        },
        "tempStoragePrefix": {
          "description": "The prefix of the resources the system should use for temporary storage. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}",
          "type": "string"
        }
      },
      "id": "WorkerSettings"
    },
    "CPUTime": {
      "description": "Modeled after information exposed by /proc/stat.",
      "properties": {
        "totalMs": {
          "type": "string",
          "description": "Total active CPU time across all cores (ie., non-idle) in milliseconds since start-up.",
          "format": "uint64"
        },
        "timestamp": {
          "description": "Timestamp of the measurement.",
          "format": "google-datetime",
          "type": "string"
        },
        "rate": {
          "format": "double",
          "type": "number",
          "description": "Average CPU utilization rate (% non-idle cpu / second) since previous sample."
        }
      },
      "type": "object",
      "id": "CPUTime"
    },
    "ListSnapshotsResponse": {
      "properties": {
        "snapshots": {
          "description": "Returned snapshots.",
          "items": {
            "$ref": "Snapshot"
          },
          "type": "array"
        }
      },
      "description": "List of snapshots.",
      "type": "object",
      "id": "ListSnapshotsResponse"
    },
    "WorkItemDetails": {
      "description": "Information about an individual work item execution.",
      "id": "WorkItemDetails",
      "properties": {
        "progress": {
          "description": "Progress of this work item.",
          "$ref": "ProgressTimeseries"
        },
        "state": {
          "enum": [
            "EXECUTION_STATE_UNKNOWN",
            "EXECUTION_STATE_NOT_STARTED",
            "EXECUTION_STATE_RUNNING",
            "EXECUTION_STATE_SUCCEEDED",
            "EXECUTION_STATE_FAILED",
            "EXECUTION_STATE_CANCELLED"
          ],
          "type": "string",
          "description": "State of this work item.",
          "enumDescriptions": [
            "The component state is unknown or unspecified.",
            "The component is not yet running.",
            "The component is currently running.",
            "The component succeeded.",
            "The component failed.",
            "Execution of the component was cancelled."
          ]
        },
        "taskId": {
          "type": "string",
          "description": "Name of this work item."
        },
        "attemptId": {
          "type": "string",
          "description": "Attempt ID of this work item"
        },
        "metrics": {
          "items": {
            "$ref": "MetricUpdate"
          },
          "type": "array",
          "description": "Metrics for this work item."
        },
        "startTime": {
          "type": "string",
          "description": "Start time of this work item attempt.",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "description": "End time of this work item attempt. If the work item is completed, this is the actual end time of the work item. Otherwise, it is the predicted end time.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "ListJobsResponse": {
      "id": "ListJobsResponse",
      "type": "object",
      "properties": {
        "jobs": {
          "description": "A subset of the requested job information.",
          "type": "array",
          "items": {
            "$ref": "Job"
          }
        },
        "nextPageToken": {
          "description": "Set if there may be more results than fit in this response.",
          "type": "string"
        },
        "failedLocation": {
          "type": "array",
          "description": "Zero or more messages describing the [regional endpoints] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that failed to respond.",
          "items": {
            "$ref": "FailedLocation"
          }
        }
      },
      "description": "Response to a request to list Cloud Dataflow jobs in a project. This might be a partial response, depending on the page size in the ListJobsRequest. However, if the project does not have any jobs, an instance of ListJobsResponse is not returned and the requests's response body is empty {}."
    },
    "WorkerDetails": {
      "id": "WorkerDetails",
      "description": "Information about a worker",
      "properties": {
        "workItems": {
          "description": "Work items processed by this worker, sorted by time.",
          "type": "array",
          "items": {
            "$ref": "WorkItemDetails"
          }
        },
        "workerName": {
          "description": "Name of this worker",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GetDebugConfigRequest": {
      "id": "GetDebugConfigRequest",
      "description": "Request to get updated debug configuration for component.",
      "properties": {
        "location": {
          "type": "string",
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id."
        },
        "workerId": {
          "description": "The worker id, i.e., VM hostname.",
          "type": "string"
        },
        "componentId": {
          "type": "string",
          "description": "The internal component id for which debug configuration is requested."
        }
      },
      "type": "object"
    },
    "SDKInfo": {
      "description": "SDK Information.",
      "id": "SDKInfo",
      "type": "object",
      "properties": {
        "language": {
          "enum": [
            "UNKNOWN",
            "JAVA",
            "PYTHON"
          ],
          "type": "string",
          "description": "Required. The SDK Language.",
          "enumDescriptions": [
            "UNKNOWN Language.",
            "Java.",
            "Python."
          ]
        },
        "version": {
          "type": "string",
          "description": "Optional. The SDK version."
        }
      }
    },
    "TopologyConfig": {
      "description": "Global topology of the streaming Dataflow job, including all computations and their sharded locations.",
      "id": "TopologyConfig",
      "properties": {
        "persistentStateVersion": {
          "format": "int32",
          "description": "Version number for persistent state.",
          "type": "integer"
        },
        "forwardingKeyBits": {
          "description": "The size (in bits) of keys that will be assigned to source messages.",
          "type": "integer",
          "format": "int32"
        },
        "dataDiskAssignments": {
          "description": "The disks assigned to a streaming Dataflow job.",
          "items": {
            "$ref": "DataDiskAssignment"
          },
          "type": "array"
        },
        "computations": {
          "description": "The computations associated with a streaming Dataflow job.",
          "type": "array",
          "items": {
            "$ref": "ComputationTopology"
          }
        },
        "userStageToComputationNameMap": {
          "description": "Maps user stage names to stable computation names.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "DataDiskAssignment": {
      "type": "object",
      "properties": {
        "dataDisks": {
          "description": "Mounted data disks. The order is important a data disk's 0-based index in this list defines which persistent directory the disk is mounted to, for example the list of { \"myproject-1014-104817-4c2-harness-0-disk-0\" }, { \"myproject-1014-104817-4c2-harness-0-disk-1\" }.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "vmInstance": {
          "description": "VM instance name the data disks mounted to, for example \"myproject-1014-104817-4c2-harness-0\".",
          "type": "string"
        }
      },
      "id": "DataDiskAssignment",
      "description": "Data disk assignment for a given VM instance."
    },
    "ResourceUtilizationReport": {
      "description": "Worker metrics exported from workers. This contains resource utilization metrics accumulated from a variety of sources. For more information, see go/df-resource-signals.",
      "properties": {
        "memoryInfo": {
          "items": {
            "$ref": "MemInfo"
          },
          "type": "array",
          "description": "Memory utilization samples."
        },
        "containers": {
          "type": "object",
          "additionalProperties": {
            "$ref": "ResourceUtilizationReport"
          },
          "description": "Per container information. Key: container name."
        },
        "cpuTime": {
          "type": "array",
          "description": "CPU utilization samples.",
          "items": {
            "$ref": "CPUTime"
          }
        }
      },
      "id": "ResourceUtilizationReport",
      "type": "object"
    },
    "ReportWorkItemStatusResponse": {
      "properties": {
        "unifiedWorkerResponse": {
          "description": "Untranslated bag-of-bytes WorkProgressUpdateResponse for UnifiedWorker.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "workItemServiceStates": {
          "description": "A set of messages indicating the service-side state for each WorkItem whose status was reported, in the same order as the WorkItemStatus messages in the ReportWorkItemStatusRequest which resulting in this response.",
          "items": {
            "$ref": "WorkItemServiceState"
          },
          "type": "array"
        }
      },
      "description": "Response from a request to report the status of WorkItems.",
      "id": "ReportWorkItemStatusResponse",
      "type": "object"
    },
    "PubsubLocation": {
      "properties": {
        "timestampLabel": {
          "description": "If set, contains a pubsub label from which to extract record timestamps. If left empty, record timestamps will be generated upon arrival.",
          "type": "string"
        },
        "trackingSubscription": {
          "description": "If set, specifies the pubsub subscription that will be used for tracking custom time timestamps for watermark estimation.",
          "type": "string"
        },
        "topic": {
          "description": "A pubsub topic, in the form of \"pubsub.googleapis.com/topics//\"",
          "type": "string"
        },
        "withAttributes": {
          "description": "If true, then the client has requested to get pubsub attributes.",
          "type": "boolean"
        },
        "subscription": {
          "description": "A pubsub subscription, in the form of \"pubsub.googleapis.com/subscriptions//\"",
          "type": "string"
        },
        "idLabel": {
          "description": "If set, contains a pubsub label from which to extract record ids. If left empty, record deduplication will be strictly best effort.",
          "type": "string"
        },
        "dropLateData": {
          "type": "boolean",
          "description": "Indicates whether the pipeline allows late-arriving data."
        }
      },
      "description": "Identifies a pubsub location to use for transferring data into or out of a streaming Dataflow job.",
      "type": "object",
      "id": "PubsubLocation"
    },
    "WriteInstruction": {
      "properties": {
        "sink": {
          "$ref": "Sink",
          "description": "The sink to write to."
        },
        "input": {
          "description": "The input.",
          "$ref": "InstructionInput"
        }
      },
      "description": "An instruction that writes records. Takes one input, produces no outputs.",
      "id": "WriteInstruction",
      "type": "object"
    },
    "WorkItemStatus": {
      "properties": {
        "errors": {
          "description": "Specifies errors which occurred during processing. If errors are provided, and completed = true, then the WorkItem is considered to have failed.",
          "items": {
            "$ref": "Status"
          },
          "type": "array"
        },
        "dynamicSourceSplit": {
          "$ref": "DynamicSourceSplit",
          "description": "See documentation of stop_position."
        },
        "counterUpdates": {
          "items": {
            "$ref": "CounterUpdate"
          },
          "description": "Worker output counters for this WorkItem.",
          "type": "array"
        },
        "workItemId": {
          "description": "Identifies the WorkItem.",
          "type": "string"
        },
        "reportIndex": {
          "type": "string",
          "format": "int64",
          "description": "The report index. When a WorkItem is leased, the lease will contain an initial report index. When a WorkItem's status is reported to the system, the report should be sent with that report index, and the response will contain the index the worker should use for the next report. Reports received with unexpected index values will be rejected by the service. In order to preserve idempotency, the worker should not alter the contents of a report, even if the worker must submit the same report multiple times before getting back a response. The worker should not submit a subsequent report until the response for the previous report had been received from the service."
        },
        "requestedLeaseDuration": {
          "description": "Amount of time the worker requests for its lease.",
          "format": "google-duration",
          "type": "string"
        },
        "progress": {
          "description": "DEPRECATED in favor of reported_progress.",
          "$ref": "ApproximateProgress"
        },
        "completed": {
          "description": "True if the WorkItem was completed (successfully or unsuccessfully).",
          "type": "boolean"
        },
        "metricUpdates": {
          "type": "array",
          "description": "DEPRECATED in favor of counter_updates.",
          "items": {
            "$ref": "MetricUpdate"
          }
        },
        "sourceOperationResponse": {
          "$ref": "SourceOperationResponse",
          "description": "If the work item represented a SourceOperationRequest, and the work is completed, contains the result of the operation."
        },
        "totalThrottlerWaitTimeSeconds": {
          "format": "double",
          "description": "Total time the worker spent being throttled by external systems.",
          "type": "number"
        },
        "reportedProgress": {
          "description": "The worker's progress through this WorkItem.",
          "$ref": "ApproximateReportedProgress"
        },
        "sourceFork": {
          "description": "DEPRECATED in favor of dynamic_source_split.",
          "$ref": "SourceFork"
        },
        "stopPosition": {
          "description": "A worker may split an active map task in two parts, \"primary\" and \"residual\", continuing to process the primary part and returning the residual part into the pool of available work. This event is called a \"dynamic split\" and is critical to the dynamic work rebalancing feature. The two obtained sub-tasks are called \"parts\" of the split. The parts, if concatenated, must represent the same input as would be read by the current task if the split did not happen. The exact way in which the original task is decomposed into the two parts is specified either as a position demarcating them (stop_position), or explicitly as two DerivedSources, if this task consumes a user-defined source type (dynamic_source_split). The \"current\" task is adjusted as a result of the split: after a task with range [A, B) sends a stop_position update at C, its range is considered to be [A, C), e.g.: * Progress should be interpreted relative to the new range, e.g. \"75% completed\" means \"75% of [A, C) completed\" * The worker should interpret proposed_stop_position relative to the new range, e.g. \"split at 68%\" should be interpreted as \"split at 68% of [A, C)\". * If the worker chooses to split again using stop_position, only stop_positions in [A, C) will be accepted. * Etc. dynamic_source_split has similar semantics: e.g., if a task with source S splits using dynamic_source_split into {P, R} (where P and R must be together equivalent to S), then subsequent progress and proposed_stop_position should be interpreted relative to P, and in a potential subsequent dynamic_source_split into {P', R'}, P' and R' must be together equivalent to P, etc.",
          "$ref": "Position"
        }
      },
      "id": "WorkItemStatus",
      "description": "Conveys a worker's progress through the work described by a WorkItem.",
      "type": "object"
    },
    "FailedLocation": {
      "properties": {
        "name": {
          "description": "The name of the [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that failed to respond.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Indicates which [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) failed to respond to a request for data.",
      "id": "FailedLocation"
    },
    "JobExecutionDetails": {
      "type": "object",
      "id": "JobExecutionDetails",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If present, this response does not contain all requested tasks. To obtain the next page of results, repeat the request with page_token set to this value."
        },
        "stages": {
          "type": "array",
          "description": "The stages of the job execution.",
          "items": {
            "$ref": "StageSummary"
          }
        }
      },
      "description": "Information about the execution of a job."
    },
    "MultiOutputInfo": {
      "description": "Information about an output of a multi-output DoFn.",
      "type": "object",
      "properties": {
        "tag": {
          "type": "string",
          "description": "The id of the tag the user code will emit to this output by; this should correspond to the tag of some SideInputInfo."
        }
      },
      "id": "MultiOutputInfo"
    },
    "ComponentTransform": {
      "id": "ComponentTransform",
      "description": "Description of a transform executed as part of an execution stage.",
      "properties": {
        "userName": {
          "description": "Human-readable name for this transform; may be user or system generated.",
          "type": "string"
        },
        "originalTransform": {
          "type": "string",
          "description": "User name for the original user transform with which this transform is most closely associated."
        },
        "name": {
          "description": "Dataflow service generated name for this source.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "JobMetadata": {
      "type": "object",
      "description": "Metadata available primarily for filtering jobs. Will be included in the ListJob response and Job SUMMARY view.",
      "properties": {
        "bigTableDetails": {
          "description": "Identification of a Cloud BigTable source used in the Dataflow job.",
          "items": {
            "$ref": "BigTableIODetails"
          },
          "type": "array"
        },
        "datastoreDetails": {
          "description": "Identification of a Datastore source used in the Dataflow job.",
          "items": {
            "$ref": "DatastoreIODetails"
          },
          "type": "array"
        },
        "sdkVersion": {
          "description": "The SDK version used to run the job.",
          "$ref": "SdkVersion"
        },
        "bigqueryDetails": {
          "type": "array",
          "description": "Identification of a BigQuery source used in the Dataflow job.",
          "items": {
            "$ref": "BigQueryIODetails"
          }
        },
        "spannerDetails": {
          "type": "array",
          "items": {
            "$ref": "SpannerIODetails"
          },
          "description": "Identification of a Spanner source used in the Dataflow job."
        },
        "fileDetails": {
          "items": {
            "$ref": "FileIODetails"
          },
          "description": "Identification of a File source used in the Dataflow job.",
          "type": "array"
        },
        "pubsubDetails": {
          "description": "Identification of a PubSub source used in the Dataflow job.",
          "type": "array",
          "items": {
            "$ref": "PubSubIODetails"
          }
        }
      },
      "id": "JobMetadata"
    },
    "WorkerMessage": {
      "properties": {
        "workerShutdownNotice": {
          "description": "Shutdown notice by workers.",
          "$ref": "WorkerShutdownNotice"
        },
        "workerLifecycleEvent": {
          "$ref": "WorkerLifecycleEvent",
          "description": "Record of worker lifecycle events."
        },
        "time": {
          "description": "The timestamp of the worker_message.",
          "type": "string",
          "format": "google-datetime"
        },
        "workerMessageCode": {
          "description": "A worker message code.",
          "$ref": "WorkerMessageCode"
        },
        "workerMetrics": {
          "$ref": "ResourceUtilizationReport",
          "description": "Resource metrics reported by workers."
        },
        "workerHealthReport": {
          "description": "The health of a worker.",
          "$ref": "WorkerHealthReport"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels are used to group WorkerMessages. For example, a worker_message about a particular container might have the labels: { \"JOB_ID\": \"2015-04-22\", \"WORKER_ID\": \"wordcount-vm-2015…\" \"CONTAINER_TYPE\": \"worker\", \"CONTAINER_ID\": \"ac1234def\"} Label tags typically correspond to Label enum values. However, for ease of development other strings can be used as tags. LABEL_UNSPECIFIED should not be used here."
        }
      },
      "id": "WorkerMessage",
      "type": "object",
      "description": "WorkerMessage provides information to the backend about a worker."
    },
    "ParallelInstruction": {
      "type": "object",
      "id": "ParallelInstruction",
      "description": "Describes a particular operation comprising a MapTask.",
      "properties": {
        "read": {
          "$ref": "ReadInstruction",
          "description": "Additional information for Read instructions."
        },
        "flatten": {
          "$ref": "FlattenInstruction",
          "description": "Additional information for Flatten instructions."
        },
        "originalName": {
          "type": "string",
          "description": "System-defined name for the operation in the original workflow graph."
        },
        "partialGroupByKey": {
          "$ref": "PartialGroupByKeyInstruction",
          "description": "Additional information for PartialGroupByKey instructions."
        },
        "parDo": {
          "description": "Additional information for ParDo instructions.",
          "$ref": "ParDoInstruction"
        },
        "outputs": {
          "type": "array",
          "description": "Describes the outputs of the instruction.",
          "items": {
            "$ref": "InstructionOutput"
          }
        },
        "systemName": {
          "type": "string",
          "description": "System-defined name of this operation. Unique across the workflow."
        },
        "write": {
          "description": "Additional information for Write instructions.",
          "$ref": "WriteInstruction"
        },
        "name": {
          "description": "User-provided name of this operation.",
          "type": "string"
        }
      }
    },
    "Job": {
      "id": "Job",
      "description": "Defines a job to be run by the Cloud Dataflow service. nextID: 26",
      "type": "object",
      "properties": {
        "environment": {
          "$ref": "Environment",
          "description": "The environment for the job."
        },
        "steps": {
          "description": "Exactly one of step or steps_location should be specified. The top-level steps that constitute the entire job. Only retrieved with JOB_VIEW_ALL.",
          "type": "array",
          "items": {
            "$ref": "Step"
          }
        },
        "startTime": {
          "type": "string",
          "description": "The timestamp when the job was started (transitioned to JOB_STATE_PENDING). Flexible resource scheduling jobs are started with some delay after job creation, so start_time is unset before start and is updated when the job is started by the Cloud Dataflow service. For other jobs, start_time always equals to create_time and is immutable and set by the Cloud Dataflow service.",
          "format": "google-datetime"
        },
        "projectId": {
          "type": "string",
          "description": "The ID of the Cloud Platform project that the job belongs to."
        },
        "jobMetadata": {
          "description": "This field is populated by the Dataflow service to support filtering jobs by the metadata values provided here. Populated for ListJobs and all GetJob views SUMMARY and higher.",
          "$ref": "JobMetadata"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "User-defined labels for this job. The labels map can contain no more than 64 entries. Entries of the labels map are UTF8 strings that comply with the following restrictions: * Keys must conform to regexp: \\p{Ll}\\p{Lo}{0,62} * Values must conform to regexp: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} * Both keys and values are additionally constrained to be \u003c= 128 bytes in size."
        },
        "id": {
          "description": "The unique ID of this job. This field is set by the Cloud Dataflow service when the Job is created, and is immutable for the life of the job.",
          "type": "string"
        },
        "type": {
          "description": "The type of Cloud Dataflow job.",
          "type": "string",
          "enumDescriptions": [
            "The type of the job is unspecified, or unknown.",
            "A batch job with a well-defined end point: data is read, data is processed, data is written, and the job is done.",
            "A continuously streaming job with no end: data is read, processed, and written continuously."
          ],
          "enum": [
            "JOB_TYPE_UNKNOWN",
            "JOB_TYPE_BATCH",
            "JOB_TYPE_STREAMING"
          ]
        },
        "pipelineDescription": {
          "description": "Preliminary field: The format of this data may change at any time. A description of the user pipeline and stages through which it is executed. Created by Cloud Dataflow service. Only retrieved with JOB_VIEW_DESCRIPTION or JOB_VIEW_ALL.",
          "$ref": "PipelineDescription"
        },
        "currentState": {
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not yet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed. This is a terminal job state. This state may be set by the Cloud Dataflow service, as a transition from `JOB_STATE_RUNNING`. It may also be set via a Cloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal state.",
            "`JOB_STATE_FAILED` indicates that the job has failed. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly cancelled. This is a terminal job state. This state may only be set via a Cloud Dataflow `UpdateJob` call, and only if the job has not yet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated, meaning that this job was stopped and another job was started, inheriting state from this one. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining. A draining job has stopped pulling from its input sources and is processing any data that remains in-flight. This state may be set via a Cloud Dataflow `UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs that are draining may only transition to `JOB_STATE_DRAINED`, `JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained. A drained job terminated by stopping pulling from its input sources and processing any data that remained in-flight when draining was requested. This state is a terminal state, may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_DRAINING`.",
            "`JOB_STATE_PENDING` indicates that the job has been created but is not yet running. Jobs that are pending may only transition to `JOB_STATE_RUNNING`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_CANCELLING` indicates that the job has been explicitly cancelled and is in the process of stopping. Jobs that are cancelling may only transition to `JOB_STATE_CANCELLED` or `JOB_STATE_FAILED`.",
            "`JOB_STATE_QUEUED` indicates that the job has been created but is being delayed until launch. Jobs that are queued may only transition to `JOB_STATE_PENDING` or `JOB_STATE_CANCELLED`.",
            "`JOB_STATE_RESOURCE_CLEANING_UP` indicates that the batch job's associated resources are currently being cleaned up after a successful run. Currently, this is an opt-in feature, please reach out to Cloud support team if you are interested."
          ],
          "description": "The current state of the job. Jobs are created in the `JOB_STATE_STOPPED` state unless otherwise specified. A job in the `JOB_STATE_RUNNING` state may asynchronously enter a terminal state. After a job has reached a terminal state, no further state updates may be made. This field may be mutated by the Cloud Dataflow service; callers cannot mutate it.",
          "type": "string",
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_QUEUED",
            "JOB_STATE_RESOURCE_CLEANING_UP"
          ]
        },
        "currentStateTime": {
          "type": "string",
          "description": "The timestamp associated with the current state.",
          "format": "google-datetime"
        },
        "createdFromSnapshotId": {
          "description": "If this is specified, the job's initial state is populated from the given snapshot.",
          "type": "string"
        },
        "stageStates": {
          "type": "array",
          "items": {
            "$ref": "ExecutionStageState"
          },
          "description": "This field may be mutated by the Cloud Dataflow service; callers cannot mutate it."
        },
        "clientRequestId": {
          "type": "string",
          "description": "The client's unique identifier of the job, re-used across retried attempts. If this field is set, the service will ensure its uniqueness. The request to create a job will fail if the service has knowledge of a previously submitted job with the same client's ID and job name. The caller may use this field to ensure idempotence of job creation across retried attempts to create a job. By default, the field is empty and, in that case, the service ignores it."
        },
        "transformNameMapping": {
          "description": "The map of transform name prefixes of the job to be replaced to the corresponding name prefixes of the new job.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "replaceJobId": {
          "type": "string",
          "description": "If this job is an update of an existing job, this field is the job ID of the job it replaced. When sending a `CreateJobRequest`, you can update a job by specifying it here. The job named here is stopped, and its intermediate state is transferred to this job."
        },
        "replacedByJobId": {
          "type": "string",
          "description": "If another job is an update of this job (and thus, this job is in `JOB_STATE_UPDATED`), this field contains the ID of that job."
        },
        "location": {
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
          "type": "string"
        },
        "name": {
          "description": "The user-specified Cloud Dataflow job name. Only one Job with a given name may exist in a project at any given time. If a caller attempts to create a Job with the same name as an already-existing Job, the attempt returns the existing Job. The name must match the regular expression `[a-z]([-a-z0-9]{0,38}[a-z0-9])?`",
          "type": "string"
        },
        "executionInfo": {
          "description": "Deprecated.",
          "$ref": "JobExecutionInfo"
        },
        "tempFiles": {
          "type": "array",
          "description": "A set of files the system should be aware of that are used for temporary storage. These temporary files will be removed on job completion. No duplicates are allowed. No file patterns are supported. The supported files are: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}",
          "items": {
            "type": "string"
          }
        },
        "stepsLocation": {
          "type": "string",
          "description": "The Cloud Storage location where the steps are stored."
        },
        "satisfiesPzs": {
          "description": "Reserved for future use. This field is set only in responses from the server; it is ignored if it is set in any requests.",
          "type": "boolean"
        },
        "createTime": {
          "description": "The timestamp when the job was initially created. Immutable and set by the Cloud Dataflow service.",
          "format": "google-datetime",
          "type": "string"
        },
        "requestedState": {
          "description": "The job's requested state. `UpdateJob` may be used to switch between the `JOB_STATE_STOPPED` and `JOB_STATE_RUNNING` states, by setting requested_state. `UpdateJob` may also be used to directly set a job's requested state to `JOB_STATE_CANCELLED` or `JOB_STATE_DONE`, irrevocably terminating the job if it has not already reached a terminal state.",
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_QUEUED",
            "JOB_STATE_RESOURCE_CLEANING_UP"
          ],
          "type": "string",
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not yet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed. This is a terminal job state. This state may be set by the Cloud Dataflow service, as a transition from `JOB_STATE_RUNNING`. It may also be set via a Cloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal state.",
            "`JOB_STATE_FAILED` indicates that the job has failed. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly cancelled. This is a terminal job state. This state may only be set via a Cloud Dataflow `UpdateJob` call, and only if the job has not yet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated, meaning that this job was stopped and another job was started, inheriting state from this one. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining. A draining job has stopped pulling from its input sources and is processing any data that remains in-flight. This state may be set via a Cloud Dataflow `UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs that are draining may only transition to `JOB_STATE_DRAINED`, `JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained. A drained job terminated by stopping pulling from its input sources and processing any data that remained in-flight when draining was requested. This state is a terminal state, may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_DRAINING`.",
            "`JOB_STATE_PENDING` indicates that the job has been created but is not yet running. Jobs that are pending may only transition to `JOB_STATE_RUNNING`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_CANCELLING` indicates that the job has been explicitly cancelled and is in the process of stopping. Jobs that are cancelling may only transition to `JOB_STATE_CANCELLED` or `JOB_STATE_FAILED`.",
            "`JOB_STATE_QUEUED` indicates that the job has been created but is being delayed until launch. Jobs that are queued may only transition to `JOB_STATE_PENDING` or `JOB_STATE_CANCELLED`.",
            "`JOB_STATE_RESOURCE_CLEANING_UP` indicates that the batch job's associated resources are currently being cleaned up after a successful run. Currently, this is an opt-in feature, please reach out to Cloud support team if you are interested."
          ]
        }
      }
    },
    "IntegerMean": {
      "properties": {
        "count": {
          "$ref": "SplitInt64",
          "description": "The number of values being aggregated."
        },
        "sum": {
          "$ref": "SplitInt64",
          "description": "The sum of all values being aggregated."
        }
      },
      "description": "A representation of an integer mean metric contribution.",
      "type": "object",
      "id": "IntegerMean"
    },
    "InstructionOutput": {
      "properties": {
        "systemName": {
          "type": "string",
          "description": "System-defined name of this output. Unique across the workflow."
        },
        "codec": {
          "description": "The codec to use to encode data being written via this output.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "onlyCountValueBytes": {
          "type": "boolean",
          "description": "For system-generated byte and mean byte metrics, certain instructions should only report the value size."
        },
        "originalName": {
          "description": "System-defined name for this output in the original workflow graph. Outputs that do not contribute to an original instruction do not set this.",
          "type": "string"
        },
        "name": {
          "description": "The user-provided name of this output.",
          "type": "string"
        },
        "onlyCountKeyBytes": {
          "description": "For system-generated byte and mean byte metrics, certain instructions should only report the key size.",
          "type": "boolean"
        }
      },
      "id": "InstructionOutput",
      "type": "object",
      "description": "An output of an instruction."
    },
    "SourceSplitShard": {
      "description": "DEPRECATED in favor of DerivedSource.",
      "id": "SourceSplitShard",
      "type": "object",
      "properties": {
        "source": {
          "description": "DEPRECATED",
          "$ref": "Source"
        },
        "derivationMode": {
          "description": "DEPRECATED",
          "type": "string",
          "enumDescriptions": [
            "The source derivation is unknown, or unspecified.",
            "Produce a completely independent Source with no base.",
            "Produce a Source based on the Source being split.",
            "Produce a Source based on the base of the Source being split."
          ],
          "enum": [
            "SOURCE_DERIVATION_MODE_UNKNOWN",
            "SOURCE_DERIVATION_MODE_INDEPENDENT",
            "SOURCE_DERIVATION_MODE_CHILD_OF_CURRENT",
            "SOURCE_DERIVATION_MODE_SIBLING_OF_CURRENT"
          ]
        }
      }
    },
    "WorkerLifecycleEvent": {
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Other stats that can accompany an event. E.g. { \"downloaded_bytes\" : \"123456\" }",
          "additionalProperties": {
            "type": "string"
          }
        },
        "event": {
          "type": "string",
          "enum": [
            "UNKNOWN_EVENT",
            "OS_START",
            "CONTAINER_START",
            "NETWORK_UP",
            "STAGING_FILES_DOWNLOAD_START",
            "STAGING_FILES_DOWNLOAD_FINISH",
            "SDK_INSTALL_START",
            "SDK_INSTALL_FINISH"
          ],
          "enumDescriptions": [
            "Invalid event.",
            "The time the VM started.",
            "Our container code starts running. Multiple containers could be distinguished with WorkerMessage.labels if desired.",
            "The worker has a functional external network connection.",
            "Started downloading staging files.",
            "Finished downloading all staging files.",
            "For applicable SDKs, started installation of SDK and worker packages.",
            "Finished installing SDK."
          ],
          "description": "The event being reported."
        },
        "containerStartTime": {
          "description": "The start time of this container. All events will report this so that events can be grouped together across container/VM restarts.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "A report of an event in a worker's lifecycle. The proto contains one event, because the worker is expected to asynchronously send each message immediately after the event. Due to this asynchrony, messages may arrive out of order (or missing), and it is up to the consumer to interpret. The timestamp of the event is in the enclosing WorkerMessage proto.",
      "type": "object",
      "id": "WorkerLifecycleEvent"
    },
    "FloatingPointMean": {
      "properties": {
        "sum": {
          "description": "The sum of all values being aggregated.",
          "type": "number",
          "format": "double"
        },
        "count": {
          "$ref": "SplitInt64",
          "description": "The number of values being aggregated."
        }
      },
      "description": "A representation of a floating point mean metric contribution.",
      "type": "object",
      "id": "FloatingPointMean"
    },
    "StateFamilyConfig": {
      "properties": {
        "isRead": {
          "description": "If true, this family corresponds to a read operation.",
          "type": "boolean"
        },
        "stateFamily": {
          "description": "The state family value.",
          "type": "string"
        }
      },
      "description": "State family configuration.",
      "id": "StateFamilyConfig",
      "type": "object"
    },
    "SourceGetMetadataRequest": {
      "id": "SourceGetMetadataRequest",
      "description": "A request to compute the SourceMetadata of a Source.",
      "properties": {
        "source": {
          "$ref": "Source",
          "description": "Specification of the source whose metadata should be computed."
        }
      },
      "type": "object"
    },
    "MetricUpdate": {
      "properties": {
        "name": {
          "$ref": "MetricStructuredName",
          "description": "Name of the metric."
        },
        "meanSum": {
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the sum of the aggregated values and is used in combination with mean_count below to obtain the actual mean aggregate value. The only possible value types are Long and Double.",
          "type": "any"
        },
        "meanCount": {
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the count of the aggregated values and is used in combination with mean_sum above to obtain the actual mean aggregate value. The only possible value type is Long.",
          "type": "any"
        },
        "cumulative": {
          "type": "boolean",
          "description": "True if this metric is reported as the total cumulative aggregate value accumulated since the worker started working on this WorkItem. By default this is false, indicating that this metric is reported as a delta that is not associated with any WorkItem."
        },
        "scalar": {
          "description": "Worker-computed aggregate value for aggregation kinds \"Sum\", \"Max\", \"Min\", \"And\", and \"Or\". The possible value types are Long, Double, and Boolean.",
          "type": "any"
        },
        "gauge": {
          "type": "any",
          "description": "A struct value describing properties of a Gauge. Metrics of gauge type show the value of a metric across time, and is aggregated based on the newest value."
        },
        "set": {
          "description": "Worker-computed aggregate value for the \"Set\" aggregation kind. The only possible value type is a list of Values whose type can be Long, Double, or String, according to the metric's type. All Values in the list must be of the same type.",
          "type": "any"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp associated with the metric value. Optional when workers are reporting work progress; it will be filled in responses from the metrics API."
        },
        "kind": {
          "type": "string",
          "description": "Metric aggregation kind. The possible metric aggregation kinds are \"Sum\", \"Max\", \"Min\", \"Mean\", \"Set\", \"And\", \"Or\", and \"Distribution\". The specified aggregation kind is case-insensitive. If omitted, this is not an aggregated value but instead a single metric sample value."
        },
        "distribution": {
          "type": "any",
          "description": "A struct value describing properties of a distribution of numeric values."
        },
        "internal": {
          "type": "any",
          "description": "Worker-computed aggregate value for internal use by the Dataflow service."
        }
      },
      "type": "object",
      "description": "Describes the state of a metric.",
      "id": "MetricUpdate"
    },
    "MetricShortId": {
      "properties": {
        "shortId": {
          "description": "The service-generated short identifier for the metric.",
          "type": "string",
          "format": "int64"
        },
        "metricIndex": {
          "description": "The index of the corresponding metric in the ReportWorkItemStatusRequest. Required.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "MetricShortId",
      "description": "The metric short id is returned to the user alongside an offset into ReportWorkItemStatusRequest"
    },
    "ExecutionStageSummary": {
      "description": "Description of the composing transforms, names/ids, and input/outputs of a stage of execution. Some composing transforms and sources may have been generated by the Dataflow service during execution planning.",
      "properties": {
        "componentTransform": {
          "items": {
            "$ref": "ComponentTransform"
          },
          "type": "array",
          "description": "Transforms that comprise this execution stage."
        },
        "inputSource": {
          "type": "array",
          "items": {
            "$ref": "StageSource"
          },
          "description": "Input sources for this stage."
        },
        "outputSource": {
          "items": {
            "$ref": "StageSource"
          },
          "type": "array",
          "description": "Output sources for this stage."
        },
        "id": {
          "type": "string",
          "description": "Dataflow service generated id for this stage."
        },
        "prerequisiteStage": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Other stages that must complete before this stage can run."
        },
        "componentSource": {
          "items": {
            "$ref": "ComponentSource"
          },
          "description": "Collections produced and consumed by component transforms of this stage.",
          "type": "array"
        },
        "kind": {
          "enum": [
            "UNKNOWN_KIND",
            "PAR_DO_KIND",
            "GROUP_BY_KEY_KIND",
            "FLATTEN_KIND",
            "READ_KIND",
            "WRITE_KIND",
            "CONSTANT_KIND",
            "SINGLETON_KIND",
            "SHUFFLE_KIND"
          ],
          "description": "Type of transform this stage is executing.",
          "type": "string",
          "enumDescriptions": [
            "Unrecognized transform type.",
            "ParDo transform.",
            "Group By Key transform.",
            "Flatten transform.",
            "Read transform.",
            "Write transform.",
            "Constructs from a constant value, such as with Create.of.",
            "Creates a Singleton view of a collection.",
            "Opening or closing a shuffle session, often as part of a GroupByKey."
          ]
        },
        "name": {
          "type": "string",
          "description": "Dataflow service generated name for this stage."
        }
      },
      "type": "object",
      "id": "ExecutionStageSummary"
    },
    "SourceSplitResponse": {
      "id": "SourceSplitResponse",
      "description": "The response to a SourceSplitRequest.",
      "properties": {
        "shards": {
          "type": "array",
          "items": {
            "$ref": "SourceSplitShard"
          },
          "description": "DEPRECATED in favor of bundles."
        },
        "bundles": {
          "description": "If outcome is SPLITTING_HAPPENED, then this is a list of bundles into which the source was split. Otherwise this field is ignored. This list can be empty, which means the source represents an empty input.",
          "items": {
            "$ref": "DerivedSource"
          },
          "type": "array"
        },
        "outcome": {
          "enum": [
            "SOURCE_SPLIT_OUTCOME_UNKNOWN",
            "SOURCE_SPLIT_OUTCOME_USE_CURRENT",
            "SOURCE_SPLIT_OUTCOME_SPLITTING_HAPPENED"
          ],
          "enumDescriptions": [
            "The source split outcome is unknown, or unspecified.",
            "The current source should be processed \"as is\" without splitting.",
            "Splitting produced a list of bundles."
          ],
          "description": "Indicates whether splitting happened and produced a list of bundles. If this is USE_CURRENT_SOURCE_AS_IS, the current source should be processed \"as is\" without splitting. \"bundles\" is ignored in this case. If this is SPLITTING_HAPPENED, then \"bundles\" contains a list of bundles into which the source was split.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "JobExecutionInfo": {
      "description": "Additional information about how a Cloud Dataflow job will be executed that isn't contained in the submitted job.",
      "id": "JobExecutionInfo",
      "type": "object",
      "properties": {
        "stages": {
          "description": "A mapping from each stage to the information about that stage.",
          "type": "object",
          "additionalProperties": {
            "$ref": "JobExecutionStageInfo"
          }
        }
      }
    },
    "SideInputInfo": {
      "type": "object",
      "description": "Information about a side input of a DoFn or an input of a SeqDoFn.",
      "properties": {
        "tag": {
          "type": "string",
          "description": "The id of the tag the user code will access this side input by; this should correspond to the tag of some MultiOutputInfo."
        },
        "kind": {
          "description": "How to interpret the source element(s) as a side input value.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "sources": {
          "description": "The source(s) to read element(s) from to get the value of this side input. If more than one source, then the elements are taken from the sources, in the specified order if order matters. At least one source is required.",
          "type": "array",
          "items": {
            "$ref": "Source"
          }
        }
      },
      "id": "SideInputInfo"
    },
    "ConcatPosition": {
      "properties": {
        "index": {
          "description": "Index of the inner source.",
          "type": "integer",
          "format": "int32"
        },
        "position": {
          "description": "Position within the inner source.",
          "$ref": "Position"
        }
      },
      "description": "A position that encapsulates an inner position and an index for the inner position. A ConcatPosition can be used by a reader of a source that encapsulates a set of other sources.",
      "type": "object",
      "id": "ConcatPosition"
    },
    "Snapshot": {
      "id": "Snapshot",
      "description": "Represents a snapshot of a job.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "The project this snapshot belongs to.",
          "type": "string"
        },
        "creationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time this snapshot was created."
        },
        "pubsubMetadata": {
          "items": {
            "$ref": "PubsubSnapshotMetadata"
          },
          "type": "array",
          "description": "PubSub snapshot metadata."
        },
        "ttl": {
          "type": "string",
          "format": "google-duration",
          "description": "The time after which this snapshot will be automatically deleted."
        },
        "sourceJobId": {
          "description": "The job this snapshot was created from.",
          "type": "string"
        },
        "id": {
          "description": "The unique ID of this snapshot.",
          "type": "string"
        },
        "description": {
          "description": "User specified description of the snapshot. Maybe empty.",
          "type": "string"
        },
        "diskSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "The disk byte size of the snapshot. Only available for snapshots in READY state."
        },
        "state": {
          "enum": [
            "UNKNOWN_SNAPSHOT_STATE",
            "PENDING",
            "RUNNING",
            "READY",
            "FAILED",
            "DELETED"
          ],
          "enumDescriptions": [
            "Unknown state.",
            "Snapshot intent to create has been persisted, snapshotting of state has not yet started.",
            "Snapshotting is being performed.",
            "Snapshot has been created and is ready to be used.",
            "Snapshot failed to be created.",
            "Snapshot has been deleted."
          ],
          "description": "State of the snapshot.",
          "type": "string"
        }
      }
    },
    "CounterStructuredName": {
      "type": "object",
      "id": "CounterStructuredName",
      "description": "Identifies a counter within a per-job namespace. Counters whose structured names are the same get merged into a single value for the job.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Counter name. Not necessarily globally-unique, but unique within the context of the other fields. Required."
        },
        "originalRequestingStepName": {
          "type": "string",
          "description": "The step name requesting an operation, such as GBK. I.e. the ParDo causing a read/write from shuffle to occur, or a read from side inputs."
        },
        "originalStepName": {
          "type": "string",
          "description": "System generated name of the original step in the user's graph, before optimization."
        },
        "componentStepName": {
          "description": "Name of the optimized step being executed by the workers.",
          "type": "string"
        },
        "portion": {
          "type": "string",
          "description": "Portion of this counter, either key or value.",
          "enumDescriptions": [
            "Counter portion has not been set.",
            "Counter reports a key.",
            "Counter reports a value."
          ],
          "enum": [
            "ALL",
            "KEY",
            "VALUE"
          ]
        },
        "origin": {
          "type": "string",
          "enumDescriptions": [
            "Counter was created by the Dataflow system.",
            "Counter was created by the user."
          ],
          "enum": [
            "SYSTEM",
            "USER"
          ],
          "description": "One of the standard Origins defined above."
        },
        "inputIndex": {
          "type": "integer",
          "format": "int32",
          "description": "Index of an input collection that's being read from/written to as a side input. The index identifies a step's side inputs starting by 1 (e.g. the first side input has input_index 1, the third has input_index 3). Side inputs are identified by a pair of (original_step_name, input_index). This field helps uniquely identify them."
        },
        "workerId": {
          "description": "ID of a particular worker.",
          "type": "string"
        },
        "executionStepName": {
          "description": "Name of the stage. An execution step contains multiple component steps.",
          "type": "string"
        },
        "originNamespace": {
          "type": "string",
          "description": "A string containing a more specific namespace of the counter's origin."
        }
      }
    },
    "StageSummary": {
      "properties": {
        "progress": {
          "$ref": "ProgressTimeseries",
          "description": "Progress for this stage. Only applicable to Batch jobs."
        },
        "stageId": {
          "type": "string",
          "description": "ID of this stage"
        },
        "startTime": {
          "description": "Start time of this stage.",
          "format": "google-datetime",
          "type": "string"
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "MetricUpdate"
          },
          "description": "Metrics for this stage."
        },
        "endTime": {
          "type": "string",
          "description": "End time of this stage. If the work item is completed, this is the actual end time of the stage. Otherwise, it is the predicted end time.",
          "format": "google-datetime"
        },
        "state": {
          "description": "State of this stage.",
          "type": "string",
          "enumDescriptions": [
            "The component state is unknown or unspecified.",
            "The component is not yet running.",
            "The component is currently running.",
            "The component succeeded.",
            "The component failed.",
            "Execution of the component was cancelled."
          ],
          "enum": [
            "EXECUTION_STATE_UNKNOWN",
            "EXECUTION_STATE_NOT_STARTED",
            "EXECUTION_STATE_RUNNING",
            "EXECUTION_STATE_SUCCEEDED",
            "EXECUTION_STATE_FAILED",
            "EXECUTION_STATE_CANCELLED"
          ]
        }
      },
      "description": "Information about a particular execution stage of a job.",
      "type": "object",
      "id": "StageSummary"
    },
    "GetTemplateResponse": {
      "type": "object",
      "properties": {
        "status": {
          "description": "The status of the get template request. Any problems with the request will be indicated in the error_details.",
          "$ref": "Status"
        },
        "runtimeMetadata": {
          "$ref": "RuntimeMetadata",
          "description": "Describes the runtime metadata with SDKInfo and available parameters."
        },
        "templateType": {
          "description": "Template Type.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "LEGACY",
            "FLEX"
          ],
          "enumDescriptions": [
            "Unknown Template Type.",
            "Legacy Template.",
            "Flex Template."
          ]
        },
        "metadata": {
          "description": "The template metadata describing the template name, available parameters, etc.",
          "$ref": "TemplateMetadata"
        }
      },
      "id": "GetTemplateResponse",
      "description": "The response to a GetTemplate request."
    },
    "ResourceUtilizationReportResponse": {
      "properties": {},
      "description": "Service-side response to WorkerMessage reporting resource utilization.",
      "type": "object",
      "id": "ResourceUtilizationReportResponse"
    },
    "ApproximateProgress": {
      "type": "object",
      "properties": {
        "remainingTime": {
          "description": "Obsolete.",
          "type": "string",
          "format": "google-duration"
        },
        "position": {
          "description": "Obsolete.",
          "$ref": "Position"
        },
        "percentComplete": {
          "description": "Obsolete.",
          "format": "float",
          "type": "number"
        }
      },
      "id": "ApproximateProgress",
      "description": "Obsolete in favor of ApproximateReportedProgress and ApproximateSplitRequest."
    },
    "CounterStructuredNameAndMetadata": {
      "properties": {
        "name": {
          "$ref": "CounterStructuredName",
          "description": "Structured name of the counter."
        },
        "metadata": {
          "$ref": "CounterMetadata",
          "description": "Metadata associated with a counter"
        }
      },
      "description": "A single message which encapsulates structured name and metadata for a given counter.",
      "id": "CounterStructuredNameAndMetadata",
      "type": "object"
    },
    "StreamLocation": {
      "description": "Describes a stream of data, either as input to be processed or as output of a streaming Dataflow job.",
      "id": "StreamLocation",
      "type": "object",
      "properties": {
        "pubsubLocation": {
          "description": "The stream is a pubsub stream.",
          "$ref": "PubsubLocation"
        },
        "sideInputLocation": {
          "$ref": "StreamingSideInputLocation",
          "description": "The stream is a streaming side input."
        },
        "customSourceLocation": {
          "description": "The stream is a custom source.",
          "$ref": "CustomSourceLocation"
        },
        "streamingStageLocation": {
          "description": "The stream is part of another computation within the current streaming Dataflow job.",
          "$ref": "StreamingStageLocation"
        }
      }
    },
    "JobMessage": {
      "properties": {
        "id": {
          "description": "Deprecated.",
          "type": "string"
        },
        "messageImportance": {
          "enumDescriptions": [
            "The message importance isn't specified, or is unknown.",
            "The message is at the 'debug' level: typically only useful for software engineers working on the code the job is running. Typically, Dataflow pipeline runners do not display log messages at this level by default.",
            "The message is at the 'detailed' level: somewhat verbose, but potentially useful to users. Typically, Dataflow pipeline runners do not display log messages at this level by default. These messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'basic' level: useful for keeping track of the execution of a Dataflow pipeline. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'warning' level: indicating a condition pertaining to a job which may require human intervention. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'error' level: indicating a condition preventing a job from succeeding. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI."
          ],
          "description": "Importance level of the message.",
          "enum": [
            "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
            "JOB_MESSAGE_DEBUG",
            "JOB_MESSAGE_DETAILED",
            "JOB_MESSAGE_BASIC",
            "JOB_MESSAGE_WARNING",
            "JOB_MESSAGE_ERROR"
          ],
          "type": "string"
        },
        "time": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp of the message."
        },
        "messageText": {
          "description": "The text of the message.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A particular message pertaining to a Dataflow job.",
      "id": "JobMessage"
    },
    "MetricStructuredName": {
      "description": "Identifies a metric, by describing the source which generated the metric.",
      "type": "object",
      "id": "MetricStructuredName",
      "properties": {
        "context": {
          "type": "object",
          "description": "Zero or more labeled fields which identify the part of the job this metric is associated with, such as the name of a step or collection. For example, built-in counters associated with steps will have context['step'] = . Counters associated with PCollections in the SDK will have context['pcollection'] = .",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Worker-defined metric name.",
          "type": "string"
        },
        "origin": {
          "description": "Origin (namespace) of metric name. May be blank for user-define metrics; will be \"dataflow\" for metrics defined by the Dataflow service or SDK.",
          "type": "string"
        }
      }
    },
    "StreamingStageLocation": {
      "type": "object",
      "properties": {
        "streamId": {
          "description": "Identifies the particular stream within the streaming Dataflow job.",
          "type": "string"
        }
      },
      "id": "StreamingStageLocation",
      "description": "Identifies the location of a streaming computation stage, for stage-to-stage communication."
    },
    "TemplateMetadata": {
      "properties": {
        "description": {
          "description": "Optional. A description of the template.",
          "type": "string"
        },
        "parameters": {
          "items": {
            "$ref": "ParameterMetadata"
          },
          "type": "array",
          "description": "The parameters for the template."
        },
        "name": {
          "description": "Required. The name of the template.",
          "type": "string"
        }
      },
      "description": "Metadata describing a template.",
      "id": "TemplateMetadata",
      "type": "object"
    },
    "ApproximateSplitRequest": {
      "type": "object",
      "properties": {
        "position": {
          "description": "A Position at which to split the work item.",
          "$ref": "Position"
        },
        "fractionConsumed": {
          "description": "A fraction at which to split the work item, from 0.0 (beginning of the input) to 1.0 (end of the input).",
          "type": "number",
          "format": "double"
        },
        "fractionOfRemainder": {
          "type": "number",
          "description": "The fraction of the remainder of work to split the work item at, from 0.0 (split at the current position) to 1.0 (end of the input).",
          "format": "double"
        }
      },
      "description": "A suggestion by the service to the worker to dynamically split the WorkItem.",
      "id": "ApproximateSplitRequest"
    },
    "SplitInt64": {
      "type": "object",
      "properties": {
        "lowBits": {
          "type": "integer",
          "format": "uint32",
          "description": "The low order bits: n & 0xffffffff."
        },
        "highBits": {
          "format": "int32",
          "type": "integer",
          "description": "The high order bits, including the sign: n \u003e\u003e 32."
        }
      },
      "id": "SplitInt64",
      "description": "A representation of an int64, n, that is immune to precision loss when encoded in JSON."
    },
    "JobMetrics": {
      "properties": {
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "MetricUpdate"
          },
          "description": "All metrics for this job."
        },
        "metricTime": {
          "format": "google-datetime",
          "description": "Timestamp as of which metric values are current.",
          "type": "string"
        }
      },
      "description": "JobMetrics contains a collection of metrics describing the detailed progress of a Dataflow job. Metrics correspond to user-defined and system-defined metrics in the job. This resource captures only the most recent values of each metric; time-series data can be queried for them (under the same metric names) from Cloud Monitoring.",
      "id": "JobMetrics",
      "type": "object"
    },
    "SdkVersion": {
      "id": "SdkVersion",
      "properties": {
        "version": {
          "description": "The version of the SDK used to run the job.",
          "type": "string"
        },
        "sdkSupportStatus": {
          "description": "The support status for this SDK version.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "SUPPORTED",
            "STALE",
            "DEPRECATED",
            "UNSUPPORTED"
          ],
          "enumDescriptions": [
            "Cloud Dataflow is unaware of this version.",
            "This is a known version of an SDK, and is supported.",
            "A newer version of the SDK family exists, and an update is recommended.",
            "This version of the SDK is deprecated and will eventually be no longer supported.",
            "Support for this SDK version has ended and it should no longer be used."
          ]
        },
        "versionDisplayName": {
          "type": "string",
          "description": "A readable string describing the version of the SDK."
        }
      },
      "description": "The version of the SDK used to run the job.",
      "type": "object"
    },
    "StreamingComputationRanges": {
      "type": "object",
      "description": "Describes full or partial data disk assignment information of the computation ranges.",
      "id": "StreamingComputationRanges",
      "properties": {
        "rangeAssignments": {
          "type": "array",
          "items": {
            "$ref": "KeyRangeDataDiskAssignment"
          },
          "description": "Data disk assignments for ranges from this computation."
        },
        "computationId": {
          "description": "The ID of the computation.",
          "type": "string"
        }
      }
    },
    "StreamingApplianceSnapshotConfig": {
      "id": "StreamingApplianceSnapshotConfig",
      "description": "Streaming appliance snapshot configuration.",
      "type": "object",
      "properties": {
        "importStateEndpoint": {
          "description": "Indicates which endpoint is used to import appliance state.",
          "type": "string"
        },
        "snapshotId": {
          "type": "string",
          "description": "If set, indicates the snapshot id for the snapshot being performed."
        }
      }
    },
    "LaunchFlexTemplateParameter": {
      "id": "LaunchFlexTemplateParameter",
      "type": "object",
      "properties": {
        "transformNameMappings": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Use this to pass transform_name_mappings for streaming update jobs. Ex:{\"oldTransformName\":\"newTransformName\",...}'"
        },
        "launchOptions": {
          "type": "object",
          "description": "Launch options for this flex template job. This is a common set of options across languages and templates. This should not be used to pass job parameters.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The parameters for FlexTemplate. Ex. {\"num_workers\":\"5\"}"
        },
        "containerSpecGcsPath": {
          "description": "Cloud Storage path to a file with json serialized ContainerSpec as content.",
          "type": "string"
        },
        "update": {
          "type": "boolean",
          "description": "Set this to true if you are sending a request to update a running streaming job. When set, the job name should be the same as the running job."
        },
        "containerSpec": {
          "$ref": "ContainerSpec",
          "description": "Spec about the container image to launch."
        },
        "environment": {
          "description": "The runtime environment for the FlexTemplate job",
          "$ref": "FlexTemplateRuntimeEnvironment"
        },
        "jobName": {
          "type": "string",
          "description": "Required. The job name to use for the created job. For update job request, job name should be same as the existing running job."
        }
      },
      "description": "Launch FlexTemplate Parameter."
    },
    "DeleteSnapshotResponse": {
      "id": "DeleteSnapshotResponse",
      "type": "object",
      "properties": {},
      "description": "Response from deleting a snapshot."
    },
    "SourceOperationResponse": {
      "type": "object",
      "properties": {
        "getMetadata": {
          "description": "A response to a request to get metadata about a source.",
          "$ref": "SourceGetMetadataResponse"
        },
        "split": {
          "description": "A response to a request to split a source.",
          "$ref": "SourceSplitResponse"
        }
      },
      "id": "SourceOperationResponse",
      "description": "The result of a SourceOperationRequest, specified in ReportWorkItemStatusRequest.source_operation when the work item is completed."
    },
    "StreamingSetupTask": {
      "description": "A task which initializes part of a streaming Dataflow job.",
      "properties": {
        "receiveWorkPort": {
          "type": "integer",
          "format": "int32",
          "description": "The TCP port on which the worker should listen for messages from other streaming computation workers."
        },
        "streamingComputationTopology": {
          "$ref": "TopologyConfig",
          "description": "The global topology of the streaming Dataflow job."
        },
        "drain": {
          "description": "The user has requested drain.",
          "type": "boolean"
        },
        "workerHarnessPort": {
          "format": "int32",
          "description": "The TCP port used by the worker to communicate with the Dataflow worker harness.",
          "type": "integer"
        },
        "snapshotConfig": {
          "description": "Configures streaming appliance snapshot.",
          "$ref": "StreamingApplianceSnapshotConfig"
        }
      },
      "type": "object",
      "id": "StreamingSetupTask"
    },
    "ComputationTopology": {
      "description": "All configuration data for a particular Computation.",
      "id": "ComputationTopology",
      "properties": {
        "stateFamilies": {
          "type": "array",
          "description": "The state family values.",
          "items": {
            "$ref": "StateFamilyConfig"
          }
        },
        "keyRanges": {
          "type": "array",
          "items": {
            "$ref": "KeyRangeLocation"
          },
          "description": "The key ranges processed by the computation."
        },
        "computationId": {
          "type": "string",
          "description": "The ID of the computation."
        },
        "inputs": {
          "items": {
            "$ref": "StreamLocation"
          },
          "type": "array",
          "description": "The inputs to the computation."
        },
        "outputs": {
          "description": "The outputs from the computation.",
          "type": "array",
          "items": {
            "$ref": "StreamLocation"
          }
        },
        "systemStageName": {
          "type": "string",
          "description": "The system stage name."
        }
      },
      "type": "object"
    },
    "SnapshotJobRequest": {
      "properties": {
        "snapshotSources": {
          "type": "boolean",
          "description": "If true, perform snapshots for sources which support this."
        },
        "ttl": {
          "description": "TTL for the snapshot.",
          "format": "google-duration",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "The location that contains this job."
        },
        "description": {
          "description": "User specified description of the snapshot. Maybe empty.",
          "type": "string"
        }
      },
      "description": "Request to create a snapshot of a job.",
      "id": "SnapshotJobRequest",
      "type": "object"
    },
    "StreamingSideInputLocation": {
      "properties": {
        "tag": {
          "description": "Identifies the particular side input within the streaming Dataflow job.",
          "type": "string"
        },
        "stateFamily": {
          "type": "string",
          "description": "Identifies the state family where this side input is stored."
        }
      },
      "type": "object",
      "description": "Identifies the location of a streaming side input.",
      "id": "StreamingSideInputLocation"
    },
    "SourceFork": {
      "properties": {
        "primarySource": {
          "description": "DEPRECATED",
          "$ref": "DerivedSource"
        },
        "residual": {
          "description": "DEPRECATED",
          "$ref": "SourceSplitShard"
        },
        "primary": {
          "$ref": "SourceSplitShard",
          "description": "DEPRECATED"
        },
        "residualSource": {
          "$ref": "DerivedSource",
          "description": "DEPRECATED"
        }
      },
      "description": "DEPRECATED in favor of DynamicSourceSplit.",
      "type": "object",
      "id": "SourceFork"
    },
    "WorkerShutdownNotice": {
      "id": "WorkerShutdownNotice",
      "properties": {
        "reason": {
          "description": "The reason for the worker shutdown. Current possible values are: \"UNKNOWN\": shutdown reason is unknown. \"PREEMPTION\": shutdown reason is preemption. Other possible reasons may be added in the future.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Shutdown notification from workers. This is to be sent by the shutdown script of the worker VM so that the backend knows that the VM is being shut down."
    },
    "SendWorkerMessagesRequest": {
      "description": "A request for sending worker messages to the service.",
      "id": "SendWorkerMessagesRequest",
      "type": "object",
      "properties": {
        "workerMessages": {
          "description": "The WorkerMessages to send.",
          "type": "array",
          "items": {
            "$ref": "WorkerMessage"
          }
        },
        "location": {
          "type": "string",
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job."
        }
      }
    },
    "Position": {
      "id": "Position",
      "type": "object",
      "description": "Position defines a position within a collection of data. The value can be either the end position, a key (used with ordered collections), a byte offset, or a record index.",
      "properties": {
        "recordIndex": {
          "description": "Position is a record index.",
          "type": "string",
          "format": "int64"
        },
        "byteOffset": {
          "format": "int64",
          "description": "Position is a byte offset.",
          "type": "string"
        },
        "end": {
          "type": "boolean",
          "description": "Position is past all other positions. Also useful for the end position of an unbounded range."
        },
        "shufflePosition": {
          "description": "CloudPosition is a base64 encoded BatchShufflePosition (with FIXED sharding).",
          "type": "string"
        },
        "key": {
          "description": "Position is a string key, ordered lexicographically.",
          "type": "string"
        },
        "concatPosition": {
          "description": "CloudPosition is a concat position.",
          "$ref": "ConcatPosition"
        }
      }
    },
    "RuntimeMetadata": {
      "properties": {
        "parameters": {
          "description": "The parameters for the template.",
          "items": {
            "$ref": "ParameterMetadata"
          },
          "type": "array"
        },
        "sdkInfo": {
          "description": "SDK Info for the template.",
          "$ref": "SDKInfo"
        }
      },
      "description": "RuntimeMetadata describing a runtime environment.",
      "type": "object",
      "id": "RuntimeMetadata"
    },
    "DerivedSource": {
      "description": "Specification of one of the bundles produced as a result of splitting a Source (e.g. when executing a SourceSplitRequest, or when splitting an active task using WorkItemStatus.dynamic_source_split), relative to the source being split.",
      "id": "DerivedSource",
      "properties": {
        "derivationMode": {
          "enumDescriptions": [
            "The source derivation is unknown, or unspecified.",
            "Produce a completely independent Source with no base.",
            "Produce a Source based on the Source being split.",
            "Produce a Source based on the base of the Source being split."
          ],
          "enum": [
            "SOURCE_DERIVATION_MODE_UNKNOWN",
            "SOURCE_DERIVATION_MODE_INDEPENDENT",
            "SOURCE_DERIVATION_MODE_CHILD_OF_CURRENT",
            "SOURCE_DERIVATION_MODE_SIBLING_OF_CURRENT"
          ],
          "type": "string",
          "description": "What source to base the produced source on (if any)."
        },
        "source": {
          "description": "Specification of the source.",
          "$ref": "Source"
        }
      },
      "type": "object"
    },
    "Sink": {
      "id": "Sink",
      "properties": {
        "spec": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The sink to write to, plus its parameters.",
          "type": "object"
        },
        "codec": {
          "description": "The codec to use to encode data written to the sink.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "type": "object",
      "description": "A sink that records can be encoded and written to."
    },
    "Package": {
      "type": "object",
      "id": "Package",
      "description": "The packages that must be installed in order for a worker to run the steps of the Cloud Dataflow job that will be assigned to its worker pool. This is the mechanism by which the Cloud Dataflow SDK causes code to be loaded onto the workers. For example, the Cloud Dataflow Java SDK might use this to install jars containing the user's code and all of the various dependencies (libraries, data files, etc.) required in order for that code to run.",
      "properties": {
        "location": {
          "type": "string",
          "description": "The resource to read the package from. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket} bucket.storage.googleapis.com/"
        },
        "name": {
          "description": "The name of the package.",
          "type": "string"
        }
      }
    },
    "StreamingConfigTask": {
      "description": "A task that carries configuration information for streaming computations.",
      "id": "StreamingConfigTask",
      "type": "object",
      "properties": {
        "windmillServicePort": {
          "type": "string",
          "format": "int64",
          "description": "If present, the worker must use this port to communicate with Windmill Service dispatchers. Only applicable when windmill_service_endpoint is specified."
        },
        "maxWorkItemCommitBytes": {
          "description": "Maximum size for work item commit supported windmill storage layer.",
          "format": "int64",
          "type": "string"
        },
        "windmillServiceEndpoint": {
          "description": "If present, the worker must use this endpoint to communicate with Windmill Service dispatchers, otherwise the worker must continue to use whatever endpoint it had been using.",
          "type": "string"
        },
        "getDataStreamChunkSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Chunk size for get data streams from the harness to windmill."
        },
        "commitStreamChunkSizeBytes": {
          "description": "Chunk size for commit streams from the harness to windmill.",
          "type": "string",
          "format": "int64"
        },
        "userStepToStateFamilyNameMap": {
          "type": "object",
          "description": "Map from user step names to state families.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "streamingComputationConfigs": {
          "items": {
            "$ref": "StreamingComputationConfig"
          },
          "type": "array",
          "description": "Set of computation configuration information."
        }
      }
    },
    "SpannerIODetails": {
      "properties": {
        "instanceId": {
          "description": "InstanceId accessed in the connection.",
          "type": "string"
        },
        "projectId": {
          "description": "ProjectId accessed in the connection.",
          "type": "string"
        },
        "databaseId": {
          "type": "string",
          "description": "DatabaseId accessed in the connection."
        }
      },
      "description": "Metadata for a Spanner connector used by the job.",
      "type": "object",
      "id": "SpannerIODetails"
    },
    "ParDoInstruction": {
      "id": "ParDoInstruction",
      "properties": {
        "numOutputs": {
          "format": "int32",
          "description": "The number of outputs.",
[...]
