{
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "documentationLink": "https://cloud.google.com/dataflow",
  "baseUrl": "https://dataflow.googleapis.com/",
  "mtlsRootUrl": "https://dataflow.mtls.googleapis.com/",
  "description": "Manages Google Cloud Dataflow projects on Google Cloud Platform.",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud Platform data"
        },
        "https://www.googleapis.com/auth/compute": {
          "description": "View and manage your Google Compute Engine resources"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "See your primary Google Account email address"
        },
        "https://www.googleapis.com/auth/compute.readonly": {
          "description": "View your Google Compute Engine resources"
        }
      }
    }
  },
  "canonicalName": "Dataflow",
  "schemas": {
    "StreamingSetupTask": {
      "type": "object",
      "description": "A task which initializes part of a streaming Dataflow job.",
      "id": "StreamingSetupTask",
      "properties": {
        "streamingComputationTopology": {
          "$ref": "TopologyConfig",
          "description": "The global topology of the streaming Dataflow job."
        },
        "snapshotConfig": {
          "$ref": "StreamingApplianceSnapshotConfig",
          "description": "Configures streaming appliance snapshot."
        },
        "workerHarnessPort": {
          "description": "The TCP port used by the worker to communicate with the Dataflow worker harness.",
          "type": "integer",
          "format": "int32"
        },
        "receiveWorkPort": {
          "format": "int32",
          "type": "integer",
          "description": "The TCP port on which the worker should listen for messages from other streaming computation workers."
        },
        "drain": {
          "type": "boolean",
          "description": "The user has requested drain."
        }
      }
    },
    "GetDebugConfigRequest": {
      "description": "Request to get updated debug configuration for component.",
      "properties": {
        "componentId": {
          "description": "The internal component id for which debug configuration is requested.",
          "type": "string"
        },
        "workerId": {
          "type": "string",
          "description": "The worker id, i.e., VM hostname."
        },
        "location": {
          "type": "string",
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id."
        }
      },
      "type": "object",
      "id": "GetDebugConfigRequest"
    },
    "SourceSplitResponse": {
      "properties": {
        "bundles": {
          "items": {
            "$ref": "DerivedSource"
          },
          "description": "If outcome is SPLITTING_HAPPENED, then this is a list of bundles into which the source was split. Otherwise this field is ignored. This list can be empty, which means the source represents an empty input.",
          "type": "array"
        },
        "shards": {
          "items": {
            "$ref": "SourceSplitShard"
          },
          "description": "DEPRECATED in favor of bundles.",
          "type": "array"
        },
        "outcome": {
          "enum": [
            "SOURCE_SPLIT_OUTCOME_UNKNOWN",
            "SOURCE_SPLIT_OUTCOME_USE_CURRENT",
            "SOURCE_SPLIT_OUTCOME_SPLITTING_HAPPENED"
          ],
          "description": "Indicates whether splitting happened and produced a list of bundles. If this is USE_CURRENT_SOURCE_AS_IS, the current source should be processed \"as is\" without splitting. \"bundles\" is ignored in this case. If this is SPLITTING_HAPPENED, then \"bundles\" contains a list of bundles into which the source was split.",
          "enumDescriptions": [
            "The source split outcome is unknown, or unspecified.",
            "The current source should be processed \"as is\" without splitting.",
            "Splitting produced a list of bundles."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response to a SourceSplitRequest.",
      "id": "SourceSplitResponse"
    },
    "GetTemplateResponse": {
      "id": "GetTemplateResponse",
      "description": "The response to a GetTemplate request.",
      "type": "object",
      "properties": {
        "status": {
          "$ref": "Status",
          "description": "The status of the get template request. Any problems with the request will be indicated in the error_details."
        },
        "runtimeMetadata": {
          "$ref": "RuntimeMetadata",
          "description": "Describes the runtime metadata with SDKInfo and available parameters."
        },
        "templateType": {
          "description": "Template Type.",
          "enumDescriptions": [
            "Unknown Template Type.",
            "Legacy Template.",
            "Flex Template."
          ],
          "enum": [
            "UNKNOWN",
            "LEGACY",
            "FLEX"
          ],
          "type": "string"
        },
        "metadata": {
          "description": "The template metadata describing the template name, available parameters, etc.",
          "$ref": "TemplateMetadata"
        }
      }
    },
    "StreamingStageLocation": {
      "id": "StreamingStageLocation",
      "type": "object",
      "description": "Identifies the location of a streaming computation stage, for stage-to-stage communication.",
      "properties": {
        "streamId": {
          "description": "Identifies the particular stream within the streaming Dataflow job.",
          "type": "string"
        }
      }
    },
    "FileIODetails": {
      "type": "object",
      "description": "Metadata for a File connector used by the job.",
      "properties": {
        "filePattern": {
          "type": "string",
          "description": "File Pattern used to access files by the connector."
        }
      },
      "id": "FileIODetails"
    },
    "ExecutionStageSummary": {
      "properties": {
        "kind": {
          "type": "string",
          "enum": [
            "UNKNOWN_KIND",
            "PAR_DO_KIND",
            "GROUP_BY_KEY_KIND",
            "FLATTEN_KIND",
            "READ_KIND",
            "WRITE_KIND",
            "CONSTANT_KIND",
            "SINGLETON_KIND",
            "SHUFFLE_KIND"
          ],
          "enumDescriptions": [
            "Unrecognized transform type.",
            "ParDo transform.",
            "Group By Key transform.",
            "Flatten transform.",
            "Read transform.",
            "Write transform.",
            "Constructs from a constant value, such as with Create.of.",
            "Creates a Singleton view of a collection.",
            "Opening or closing a shuffle session, often as part of a GroupByKey."
          ],
          "description": "Type of transform this stage is executing."
        },
        "componentSource": {
          "type": "array",
          "description": "Collections produced and consumed by component transforms of this stage.",
          "items": {
            "$ref": "ComponentSource"
          }
        },
        "name": {
          "description": "Dataflow service generated name for this stage.",
          "type": "string"
        },
        "prerequisiteStage": {
          "description": "Other stages that must complete before this stage can run.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "componentTransform": {
          "type": "array",
          "items": {
            "$ref": "ComponentTransform"
          },
          "description": "Transforms that comprise this execution stage."
        },
        "outputSource": {
          "type": "array",
          "items": {
            "$ref": "StageSource"
          },
          "description": "Output sources for this stage."
        },
        "id": {
          "description": "Dataflow service generated id for this stage.",
          "type": "string"
        },
        "inputSource": {
          "description": "Input sources for this stage.",
          "items": {
            "$ref": "StageSource"
          },
          "type": "array"
        }
      },
      "description": "Description of the composing transforms, names/ids, and input/outputs of a stage of execution. Some composing transforms and sources may have been generated by the Dataflow service during execution planning.",
      "id": "ExecutionStageSummary",
      "type": "object"
    },
    "SendDebugCaptureResponse": {
      "type": "object",
      "properties": {},
      "description": "Response to a send capture request. nothing",
      "id": "SendDebugCaptureResponse"
    },
    "SourceSplitOptions": {
      "description": "Hints for splitting a Source into bundles (parts for parallel processing) using SourceSplitRequest.",
      "id": "SourceSplitOptions",
      "type": "object",
      "properties": {
        "desiredShardSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "DEPRECATED in favor of desired_bundle_size_bytes."
        },
        "desiredBundleSizeBytes": {
          "description": "The source should be split into a set of bundles where the estimated size of each is approximately this many bytes.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "DynamicSourceSplit": {
      "description": "When a task splits using WorkItemStatus.dynamic_source_split, this message describes the two parts of the split relative to the description of the current task's input.",
      "type": "object",
      "properties": {
        "residual": {
          "$ref": "DerivedSource",
          "description": "Residual part (returned to the pool of work). Specified relative to the previously-current source."
        },
        "primary": {
          "description": "Primary part (continued to be processed by worker). Specified relative to the previously-current source. Becomes current.",
          "$ref": "DerivedSource"
        }
      },
      "id": "DynamicSourceSplit"
    },
    "IntegerGauge": {
      "description": "A metric value representing temporal values of a variable.",
      "id": "IntegerGauge",
      "type": "object",
      "properties": {
        "timestamp": {
          "format": "google-datetime",
          "description": "The time at which this value was measured. Measured as msecs from epoch.",
          "type": "string"
        },
        "value": {
          "description": "The value of the variable represented by this gauge.",
          "$ref": "SplitInt64"
        }
      }
    },
    "ListSnapshotsResponse": {
      "type": "object",
      "properties": {
        "snapshots": {
          "type": "array",
          "items": {
            "$ref": "Snapshot"
          },
          "description": "Returned snapshots."
        }
      },
      "id": "ListSnapshotsResponse",
      "description": "List of snapshots."
    },
    "StageExecutionDetails": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If present, this response does not contain all requested tasks. To obtain the next page of results, repeat the request with page_token set to this value."
        },
        "workers": {
          "type": "array",
          "description": "Workers that have done work on the stage.",
          "items": {
            "$ref": "WorkerDetails"
          }
        }
      },
      "type": "object",
      "description": "Information about the workers and work items within a stage.",
      "id": "StageExecutionDetails"
    },
    "CPUTime": {
      "id": "CPUTime",
      "description": "Modeled after information exposed by /proc/stat.",
      "properties": {
        "rate": {
          "format": "double",
          "description": "Average CPU utilization rate (% non-idle cpu / second) since previous sample.",
          "type": "number"
        },
        "timestamp": {
          "description": "Timestamp of the measurement.",
          "type": "string",
          "format": "google-datetime"
        },
        "totalMs": {
          "type": "string",
          "description": "Total active CPU time across all cores (ie., non-idle) in milliseconds since start-up.",
          "format": "uint64"
        }
      },
      "type": "object"
    },
    "ReportWorkItemStatusResponse": {
      "type": "object",
      "description": "Response from a request to report the status of WorkItems.",
      "properties": {
        "workItemServiceStates": {
          "description": "A set of messages indicating the service-side state for each WorkItem whose status was reported, in the same order as the WorkItemStatus messages in the ReportWorkItemStatusRequest which resulting in this response.",
          "items": {
            "$ref": "WorkItemServiceState"
          },
          "type": "array"
        },
        "unifiedWorkerResponse": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Untranslated bag-of-bytes WorkProgressUpdateResponse for UnifiedWorker."
        }
      },
      "id": "ReportWorkItemStatusResponse"
    },
    "SideInputInfo": {
      "properties": {
        "sources": {
          "items": {
            "$ref": "Source"
          },
          "description": "The source(s) to read element(s) from to get the value of this side input. If more than one source, then the elements are taken from the sources, in the specified order if order matters. At least one source is required.",
          "type": "array"
        },
        "tag": {
          "description": "The id of the tag the user code will access this side input by; this should correspond to the tag of some MultiOutputInfo.",
          "type": "string"
        },
        "kind": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "How to interpret the source element(s) as a side input value."
        }
      },
      "description": "Information about a side input of a DoFn or an input of a SeqDoFn.",
      "type": "object",
      "id": "SideInputInfo"
    },
    "SdkVersion": {
      "id": "SdkVersion",
      "type": "object",
      "description": "The version of the SDK used to run the job.",
      "properties": {
        "versionDisplayName": {
          "description": "A readable string describing the version of the SDK.",
          "type": "string"
        },
        "version": {
          "description": "The version of the SDK used to run the job.",
          "type": "string"
        },
        "sdkSupportStatus": {
          "type": "string",
          "description": "The support status for this SDK version.",
          "enumDescriptions": [
            "Cloud Dataflow is unaware of this version.",
            "This is a known version of an SDK, and is supported.",
            "A newer version of the SDK family exists, and an update is recommended.",
            "This version of the SDK is deprecated and will eventually be unsupported.",
            "Support for this SDK version has ended and it should no longer be used."
          ],
          "enum": [
            "UNKNOWN",
            "SUPPORTED",
            "STALE",
            "DEPRECATED",
            "UNSUPPORTED"
          ]
        }
      }
    },
    "WorkerLifecycleEvent": {
      "id": "WorkerLifecycleEvent",
      "description": "A report of an event in a worker's lifecycle. The proto contains one event, because the worker is expected to asynchronously send each message immediately after the event. Due to this asynchrony, messages may arrive out of order (or missing), and it is up to the consumer to interpret. The timestamp of the event is in the enclosing WorkerMessage proto.",
      "properties": {
        "containerStartTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The start time of this container. All events will report this so that events can be grouped together across container/VM restarts."
        },
        "event": {
          "enumDescriptions": [
            "Invalid event.",
            "The time the VM started.",
            "Our container code starts running. Multiple containers could be distinguished with WorkerMessage.labels if desired.",
            "The worker has a functional external network connection.",
            "Started downloading staging files.",
            "Finished downloading all staging files.",
            "For applicable SDKs, started installation of SDK and worker packages.",
            "Finished installing SDK."
          ],
          "enum": [
            "UNKNOWN_EVENT",
            "OS_START",
            "CONTAINER_START",
            "NETWORK_UP",
            "STAGING_FILES_DOWNLOAD_START",
            "STAGING_FILES_DOWNLOAD_FINISH",
            "SDK_INSTALL_START",
            "SDK_INSTALL_FINISH"
          ],
          "description": "The event being reported.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Other stats that can accompany an event. E.g. { \"downloaded_bytes\" : \"123456\" }"
        }
      },
      "type": "object"
    },
    "TemplateMetadata": {
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "ParameterMetadata"
          },
          "description": "The parameters for the template."
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of the template."
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the template."
        }
      },
      "id": "TemplateMetadata",
      "type": "object",
      "description": "Metadata describing a template."
    },
    "WorkerShutdownNoticeResponse": {
      "type": "object",
      "properties": {},
      "id": "WorkerShutdownNoticeResponse",
      "description": "Service-side response to WorkerMessage issuing shutdown notice."
    },
    "CounterUpdate": {
      "id": "CounterUpdate",
      "properties": {
        "integerList": {
          "description": "List of integers, for Set.",
          "$ref": "IntegerList"
        },
        "integer": {
          "$ref": "SplitInt64",
          "description": "Integer value for Sum, Max, Min."
        },
        "internal": {
          "description": "Value for internally-defined counters used by the Dataflow service.",
          "type": "any"
        },
        "integerGauge": {
          "description": "Gauge data",
          "$ref": "IntegerGauge"
        },
        "distribution": {
          "$ref": "DistributionUpdate",
          "description": "Distribution data"
        },
        "integerMean": {
          "description": "Integer mean aggregation value for Mean.",
          "$ref": "IntegerMean"
        },
        "shortId": {
          "format": "int64",
          "type": "string",
          "description": "The service-generated short identifier for this counter. The short_id -\u003e (name, metadata) mapping is constant for the lifetime of a job."
        },
        "floatingPoint": {
          "type": "number",
          "description": "Floating point value for Sum, Max, Min.",
          "format": "double"
        },
        "structuredNameAndMetadata": {
          "$ref": "CounterStructuredNameAndMetadata",
          "description": "Counter structured name and metadata."
        },
        "nameAndKind": {
          "description": "Counter name and aggregation type.",
          "$ref": "NameAndKind"
        },
        "floatingPointMean": {
          "description": "Floating point mean aggregation value for Mean.",
          "$ref": "FloatingPointMean"
        },
        "stringList": {
          "description": "List of strings, for Set.",
          "$ref": "StringList"
        },
        "cumulative": {
          "description": "True if this counter is reported as the total cumulative aggregate value accumulated since the worker started working on this WorkItem. By default this is false, indicating that this counter is reported as a delta.",
          "type": "boolean"
        },
        "boolean": {
          "type": "boolean",
          "description": "Boolean value for And, Or."
        },
        "floatingPointList": {
          "description": "List of floating point numbers, for Set.",
          "$ref": "FloatingPointList"
        }
      },
      "type": "object",
      "description": "An update to a Counter sent from a worker."
    },
    "ContainerSpec": {
      "type": "object",
      "id": "ContainerSpec",
      "properties": {
        "defaultEnvironment": {
          "$ref": "FlexTemplateRuntimeEnvironment",
          "description": "Default runtime environment for the job."
        },
        "metadata": {
          "$ref": "TemplateMetadata",
          "description": "Metadata describing a template including description and validation rules."
        },
        "image": {
          "type": "string",
          "description": "Name of the docker container image. E.g., gcr.io/project/some-image"
        },
        "sdkInfo": {
          "description": "Required. SDK info of the Flex Template.",
          "$ref": "SDKInfo"
        }
      },
      "description": "Container Spec."
    },
    "Parameter": {
      "id": "Parameter",
      "type": "object",
      "properties": {
        "value": {
          "type": "any",
          "description": "Value for this parameter."
        },
        "key": {
          "description": "Key or name for this parameter.",
          "type": "string"
        }
      },
      "description": "Structured data associated with this message."
    },
    "Disk": {
      "id": "Disk",
      "properties": {
        "sizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Size of disk in GB. If zero or unspecified, the service will attempt to choose a reasonable default."
        },
        "mountPoint": {
          "description": "Directory in a VM where disk is mounted.",
          "type": "string"
        },
        "diskType": {
          "type": "string",
          "description": "Disk storage type, as defined by Google Compute Engine. This must be a disk type appropriate to the project and zone in which the workers will run. If unknown or unspecified, the service will attempt to choose a reasonable default. For example, the standard persistent disk type is a resource name typically ending in \"pd-standard\". If SSD persistent disks are available, the resource name typically ends with \"pd-ssd\". The actual valid values are defined the Google Compute Engine API, not by the Cloud Dataflow API; consult the Google Compute Engine documentation for more information about determining the set of available disk types for a particular project and zone. Google Compute Engine Disk types are local to a particular project in a particular zone, and so the resource name will typically look something like this: compute.googleapis.com/projects/project-id/zones/zone/diskTypes/pd-standard"
        }
      },
      "type": "object",
      "description": "Describes the data disk used by a workflow job."
    },
    "ExecutionStageState": {
      "description": "A message describing the state of a particular execution stage.",
      "properties": {
        "executionStageName": {
          "type": "string",
          "description": "The name of the execution stage."
        },
        "currentStateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the stage transitioned to this state."
        },
        "executionStageState": {
          "description": "Executions stage states allow the same set of values as JobState.",
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_QUEUED",
            "JOB_STATE_RESOURCE_CLEANING_UP"
          ],
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not yet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed. This is a terminal job state. This state may be set by the Cloud Dataflow service, as a transition from `JOB_STATE_RUNNING`. It may also be set via a Cloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal state.",
            "`JOB_STATE_FAILED` indicates that the job has failed. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly cancelled. This is a terminal job state. This state may only be set via a Cloud Dataflow `UpdateJob` call, and only if the job has not yet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated, meaning that this job was stopped and another job was started, inheriting state from this one. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining. A draining job has stopped pulling from its input sources and is processing any data that remains in-flight. This state may be set via a Cloud Dataflow `UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs that are draining may only transition to `JOB_STATE_DRAINED`, `JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained. A drained job terminated by stopping pulling from its input sources and processing any data that remained in-flight when draining was requested. This state is a terminal state, may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_DRAINING`.",
            "`JOB_STATE_PENDING` indicates that the job has been created but is not yet running. Jobs that are pending may only transition to `JOB_STATE_RUNNING`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_CANCELLING` indicates that the job has been explicitly cancelled and is in the process of stopping. Jobs that are cancelling may only transition to `JOB_STATE_CANCELLED` or `JOB_STATE_FAILED`.",
            "`JOB_STATE_QUEUED` indicates that the job has been created but is being delayed until launch. Jobs that are queued may only transition to `JOB_STATE_PENDING` or `JOB_STATE_CANCELLED`.",
            "`JOB_STATE_RESOURCE_CLEANING_UP` indicates that the batch job's associated resources are currently being cleaned up after a successful run. Currently, this is an opt-in feature, please reach out to Cloud support team if you are interested."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "ExecutionStageState"
    },
    "StreamingComputationRanges": {
      "id": "StreamingComputationRanges",
      "properties": {
        "rangeAssignments": {
          "description": "Data disk assignments for ranges from this computation.",
          "items": {
            "$ref": "KeyRangeDataDiskAssignment"
          },
          "type": "array"
        },
        "computationId": {
          "description": "The ID of the computation.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Describes full or partial data disk assignment information of the computation ranges."
    },
    "ComputationTopology": {
      "description": "All configuration data for a particular Computation.",
      "id": "ComputationTopology",
      "properties": {
        "computationId": {
          "description": "The ID of the computation.",
          "type": "string"
        },
        "keyRanges": {
          "items": {
            "$ref": "KeyRangeLocation"
          },
          "description": "The key ranges processed by the computation.",
          "type": "array"
        },
        "outputs": {
          "description": "The outputs from the computation.",
          "type": "array",
          "items": {
            "$ref": "StreamLocation"
          }
        },
        "systemStageName": {
          "type": "string",
          "description": "The system stage name."
        },
        "inputs": {
          "items": {
            "$ref": "StreamLocation"
          },
          "type": "array",
          "description": "The inputs to the computation."
        },
        "stateFamilies": {
          "type": "array",
          "description": "The state family values.",
          "items": {
            "$ref": "StateFamilyConfig"
          }
        }
      },
      "type": "object"
    },
    "ApproximateProgress": {
      "description": "Obsolete in favor of ApproximateReportedProgress and ApproximateSplitRequest.",
      "id": "ApproximateProgress",
      "properties": {
        "remainingTime": {
          "description": "Obsolete.",
          "format": "google-duration",
          "type": "string"
        },
        "position": {
          "$ref": "Position",
          "description": "Obsolete."
        },
        "percentComplete": {
          "format": "float",
          "description": "Obsolete.",
          "type": "number"
        }
      },
      "type": "object"
    },
    "WorkerMessageCode": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The code is a string intended for consumption by a machine that identifies the type of message being sent. Examples: 1. \"HARNESS_STARTED\" might be used to indicate the worker harness has started. 2. \"GCS_DOWNLOAD_ERROR\" might be used to indicate an error downloading a Cloud Storage file as part of the boot process of one of the worker containers. This is a string and not an enum to make it easy to add new codes without waiting for an API change."
        },
        "parameters": {
          "description": "Parameters contains specific information about the code. This is a struct to allow parameters of different types. Examples: 1. For a \"HARNESS_STARTED\" message parameters might provide the name of the worker and additional data like timing information. 2. For a \"GCS_DOWNLOAD_ERROR\" parameters might contain fields listing the Cloud Storage objects being downloaded and fields containing errors. In general complex data structures should be avoided. If a worker needs to send a specific and complicated data structure then please consider defining a new proto and adding it to the data oneof in WorkerMessageResponse. Conventions: Parameters should only be used for information that isn't typically passed as a label. hostname and other worker identifiers should almost always be passed as labels since they will be included on most messages.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "description": "A message code is used to report status and error messages to the service. The message codes are intended to be machine readable. The service will take care of translating these into user understandable messages if necessary. Example use cases: 1. Worker processes reporting successful startup. 2. Worker processes reporting specific errors (e.g. package staging failure).",
      "id": "WorkerMessageCode"
    },
    "GetDebugConfigResponse": {
      "description": "Response to a get debug configuration request.",
      "properties": {
        "config": {
          "type": "string",
          "description": "The encoded debug configuration for the requested component."
        }
      },
      "type": "object",
      "id": "GetDebugConfigResponse"
    },
    "DeleteSnapshotResponse": {
      "type": "object",
      "properties": {},
      "description": "Response from deleting a snapshot.",
      "id": "DeleteSnapshotResponse"
    },
    "ShellTask": {
      "description": "A task which consists of a shell command for the worker to execute.",
      "properties": {
        "exitCode": {
          "description": "Exit code for the task.",
          "type": "integer",
          "format": "int32"
        },
        "command": {
          "type": "string",
          "description": "The shell command to run."
        }
      },
      "type": "object",
      "id": "ShellTask"
    },
    "WorkerSettings": {
      "type": "object",
      "description": "Provides data to pass through to the worker harness.",
      "id": "WorkerSettings",
      "properties": {
        "baseUrl": {
          "description": "The base URL for accessing Google Cloud APIs. When workers access Google Cloud APIs, they logically do so via relative URLs. If this field is specified, it supplies the base URL to use for resolving these relative URLs. The normative algorithm used is defined by RFC 1808, \"Relative Uniform Resource Locators\". If not specified, the default value is \"http://www.googleapis.com/\"",
          "type": "string"
        },
        "workerId": {
          "type": "string",
          "description": "The ID of the worker running this pipeline."
        },
        "tempStoragePrefix": {
          "type": "string",
          "description": "The prefix of the resources the system should use for temporary storage. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}"
        },
        "servicePath": {
          "description": "The Cloud Dataflow service path relative to the root URL, for example, \"dataflow/v1b3/projects\".",
          "type": "string"
        },
        "reportingEnabled": {
          "description": "Whether to send work progress updates to the service.",
          "type": "boolean"
        },
        "shuffleServicePath": {
          "description": "The Shuffle service path relative to the root URL, for example, \"shuffle/v1beta1\".",
          "type": "string"
        }
      }
    },
    "WorkerMessageResponse": {
      "type": "object",
      "description": "A worker_message response allows the server to pass information to the sender.",
      "properties": {
        "workerMetricsResponse": {
          "description": "Service's response to reporting worker metrics (currently empty).",
          "$ref": "ResourceUtilizationReportResponse"
        },
        "workerHealthReportResponse": {
          "$ref": "WorkerHealthReportResponse",
          "description": "The service's response to a worker's health report."
        },
        "workerShutdownNoticeResponse": {
          "$ref": "WorkerShutdownNoticeResponse",
          "description": "Service's response to shutdown notice (currently empty)."
        }
      },
      "id": "WorkerMessageResponse"
    },
    "MetricUpdate": {
      "description": "Describes the state of a metric.",
      "id": "MetricUpdate",
      "properties": {
        "kind": {
          "description": "Metric aggregation kind. The possible metric aggregation kinds are \"Sum\", \"Max\", \"Min\", \"Mean\", \"Set\", \"And\", \"Or\", and \"Distribution\". The specified aggregation kind is case-insensitive. If omitted, this is not an aggregated value but instead a single metric sample value.",
          "type": "string"
        },
        "distribution": {
          "type": "any",
          "description": "A struct value describing properties of a distribution of numeric values."
        },
        "name": {
          "$ref": "MetricStructuredName",
          "description": "Name of the metric."
        },
        "cumulative": {
          "type": "boolean",
          "description": "True if this metric is reported as the total cumulative aggregate value accumulated since the worker started working on this WorkItem. By default this is false, indicating that this metric is reported as a delta that is not associated with any WorkItem."
        },
        "scalar": {
          "type": "any",
          "description": "Worker-computed aggregate value for aggregation kinds \"Sum\", \"Max\", \"Min\", \"And\", and \"Or\". The possible value types are Long, Double, and Boolean."
        },
        "internal": {
          "type": "any",
          "description": "Worker-computed aggregate value for internal use by the Dataflow service."
        },
        "meanSum": {
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the sum of the aggregated values and is used in combination with mean_count below to obtain the actual mean aggregate value. The only possible value types are Long and Double.",
          "type": "any"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp associated with the metric value. Optional when workers are reporting work progress; it will be filled in responses from the metrics API."
        },
        "meanCount": {
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the count of the aggregated values and is used in combination with mean_sum above to obtain the actual mean aggregate value. The only possible value type is Long.",
          "type": "any"
        },
        "gauge": {
          "description": "A struct value describing properties of a Gauge. Metrics of gauge type show the value of a metric across time, and is aggregated based on the newest value.",
          "type": "any"
        },
        "set": {
          "description": "Worker-computed aggregate value for the \"Set\" aggregation kind. The only possible value type is a list of Values whose type can be Long, Double, or String, according to the metric's type. All Values in the list must be of the same type.",
          "type": "any"
        }
      },
      "type": "object"
    },
    "AutoscalingEvent": {
      "description": "A structured message reporting an autoscaling decision made by the Dataflow service.",
      "type": "object",
      "properties": {
        "description": {
          "description": "A message describing why the system decided to adjust the current number of workers, why it failed, or why the system decided to not make any changes to the number of workers.",
          "$ref": "StructuredMessage"
        },
        "workerPool": {
          "type": "string",
          "description": "A short and friendly name for the worker pool this event refers to."
        },
        "targetNumWorkers": {
          "format": "int64",
          "description": "The target number of workers the worker pool wants to resize to use.",
          "type": "string"
        },
        "currentNumWorkers": {
          "description": "The current number of workers the job has.",
          "format": "int64",
          "type": "string"
        },
        "time": {
          "format": "google-datetime",
          "description": "The time this event was emitted to indicate a new target or current num_workers value.",
          "type": "string"
        },
        "eventType": {
          "enum": [
            "TYPE_UNKNOWN",
            "TARGET_NUM_WORKERS_CHANGED",
            "CURRENT_NUM_WORKERS_CHANGED",
            "ACTUATION_FAILURE",
            "NO_CHANGE"
          ],
          "description": "The type of autoscaling event to report.",
          "type": "string",
          "enumDescriptions": [
            "Default type for the enum. Value should never be returned.",
            "The TARGET_NUM_WORKERS_CHANGED type should be used when the target worker pool size has changed at the start of an actuation. An event should always be specified as TARGET_NUM_WORKERS_CHANGED if it reflects a change in the target_num_workers.",
            "The CURRENT_NUM_WORKERS_CHANGED type should be used when actual worker pool size has been changed, but the target_num_workers has not changed.",
            "The ACTUATION_FAILURE type should be used when we want to report an error to the user indicating why the current number of workers in the pool could not be changed. Displayed in the current status and history widgets.",
            "Used when we want to report to the user a reason why we are not currently adjusting the number of workers. Should specify both target_num_workers, current_num_workers and a decision_message."
          ]
        }
      },
      "id": "AutoscalingEvent"
    },
    "ReportedParallelism": {
      "description": "Represents the level of parallelism in a WorkItem's input, reported by the worker.",
      "id": "ReportedParallelism",
      "properties": {
        "isInfinite": {
          "description": "Specifies whether the parallelism is infinite. If true, \"value\" is ignored. Infinite parallelism means the service will assume that the work item can always be split into more non-empty work items by dynamic splitting. This is a work-around for lack of support for infinity by the current JSON-based Java RPC stack.",
          "type": "boolean"
        },
        "value": {
          "type": "number",
          "description": "Specifies the level of parallelism in case it is finite.",
          "format": "double"
        }
      },
      "type": "object"
    },
    "BigTableIODetails": {
      "description": "Metadata for a Cloud BigTable connector used by the job.",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "ProjectId accessed in the connection."
        },
        "instanceId": {
          "type": "string",
          "description": "InstanceId accessed in the connection."
        },
        "tableId": {
          "description": "TableId accessed in the connection.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "BigTableIODetails"
    },
    "ComponentTransform": {
      "type": "object",
      "description": "Description of a transform executed as part of an execution stage.",
      "properties": {
        "name": {
          "description": "Dataflow service generated name for this source.",
          "type": "string"
        },
        "originalTransform": {
          "description": "User name for the original user transform with which this transform is most closely associated.",
          "type": "string"
        },
        "userName": {
          "type": "string",
          "description": "Human-readable name for this transform; may be user or system generated."
        }
      },
      "id": "ComponentTransform"
    },
    "CounterMetadata": {
      "type": "object",
      "id": "CounterMetadata",
      "properties": {
        "standardUnits": {
          "enumDescriptions": [
            "Counter returns a value in bytes.",
            "Counter returns a value in bytes per second.",
            "Counter returns a value in milliseconds.",
            "Counter returns a value in microseconds.",
            "Counter returns a value in nanoseconds.",
            "Counter returns a timestamp in milliseconds.",
            "Counter returns a timestamp in microseconds.",
            "Counter returns a timestamp in nanoseconds."
          ],
          "description": "System defined Units, see above enum.",
          "enum": [
            "BYTES",
            "BYTES_PER_SEC",
            "MILLISECONDS",
            "MICROSECONDS",
            "NANOSECONDS",
            "TIMESTAMP_MSEC",
            "TIMESTAMP_USEC",
            "TIMESTAMP_NSEC"
          ],
          "type": "string"
        },
        "otherUnits": {
          "description": "A string referring to the unit type.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Human-readable description of the counter semantics."
        },
        "kind": {
          "description": "Counter aggregation kind.",
          "type": "string",
          "enum": [
            "INVALID",
            "SUM",
            "MAX",
            "MIN",
            "MEAN",
            "OR",
            "AND",
            "SET",
            "DISTRIBUTION",
            "LATEST_VALUE"
          ],
          "enumDescriptions": [
            "Counter aggregation kind was not set.",
            "Aggregated value is the sum of all contributed values.",
            "Aggregated value is the max of all contributed values.",
            "Aggregated value is the min of all contributed values.",
            "Aggregated value is the mean of all contributed values.",
            "Aggregated value represents the logical 'or' of all contributed values.",
            "Aggregated value represents the logical 'and' of all contributed values.",
            "Aggregated value is a set of unique contributed values.",
            "Aggregated value captures statistics about a distribution.",
            "Aggregated value tracks the latest value of a variable."
          ]
        }
      },
      "description": "CounterMetadata includes all static non-name non-value counter attributes."
    },
    "MultiOutputInfo": {
      "description": "Information about an output of a multi-output DoFn.",
      "properties": {
        "tag": {
          "description": "The id of the tag the user code will emit to this output by; this should correspond to the tag of some SideInputInfo.",
          "type": "string"
        }
      },
      "id": "MultiOutputInfo",
      "type": "object"
    },
    "PubsubSnapshotMetadata": {
      "id": "PubsubSnapshotMetadata",
      "description": "Represents a Pubsub snapshot.",
      "type": "object",
      "properties": {
        "expireTime": {
          "description": "The expire time of the Pubsub snapshot.",
          "format": "google-datetime",
          "type": "string"
        },
        "snapshotName": {
          "description": "The name of the Pubsub snapshot.",
          "type": "string"
        },
        "topicName": {
          "description": "The name of the Pubsub topic.",
          "type": "string"
        }
      }
    },
    "Position": {
      "id": "Position",
      "description": "Position defines a position within a collection of data. The value can be either the end position, a key (used with ordered collections), a byte offset, or a record index.",
      "properties": {
        "shufflePosition": {
          "description": "CloudPosition is a base64 encoded BatchShufflePosition (with FIXED sharding).",
          "type": "string"
        },
        "byteOffset": {
          "format": "int64",
          "type": "string",
          "description": "Position is a byte offset."
        },
        "concatPosition": {
          "description": "CloudPosition is a concat position.",
          "$ref": "ConcatPosition"
        },
        "end": {
          "type": "boolean",
          "description": "Position is past all other positions. Also useful for the end position of an unbounded range."
        },
        "key": {
          "type": "string",
          "description": "Position is a string key, ordered lexicographically."
        },
        "recordIndex": {
          "format": "int64",
          "type": "string",
          "description": "Position is a record index."
        }
      },
      "type": "object"
    },
    "MountedDataDisk": {
      "type": "object",
      "properties": {
        "dataDisk": {
          "description": "The name of the data disk. This name is local to the Google Cloud Platform project and uniquely identifies the disk within that project, for example \"myproject-1014-104817-4c2-harness-0-disk-1\".",
          "type": "string"
        }
      },
      "description": "Describes mounted data disk.",
      "id": "MountedDataDisk"
    },
    "LeaseWorkItemResponse": {
      "type": "object",
      "properties": {
        "workItems": {
          "type": "array",
          "description": "A list of the leased WorkItems.",
          "items": {
            "$ref": "WorkItem"
          }
        },
        "unifiedWorkerResponse": {
          "type": "object",
          "description": "Untranslated bag-of-bytes WorkResponse for UnifiedWorker.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "description": "Response to a request to lease WorkItems.",
      "id": "LeaseWorkItemResponse"
    },
    "ParallelInstruction": {
      "type": "object",
      "id": "ParallelInstruction",
      "description": "Describes a particular operation comprising a MapTask.",
      "properties": {
        "systemName": {
          "type": "string",
          "description": "System-defined name of this operation. Unique across the workflow."
        },
        "flatten": {
          "$ref": "FlattenInstruction",
          "description": "Additional information for Flatten instructions."
        },
        "name": {
          "description": "User-provided name of this operation.",
          "type": "string"
        },
        "originalName": {
          "type": "string",
          "description": "System-defined name for the operation in the original workflow graph."
        },
        "partialGroupByKey": {
          "$ref": "PartialGroupByKeyInstruction",
          "description": "Additional information for PartialGroupByKey instructions."
        },
        "read": {
          "description": "Additional information for Read instructions.",
          "$ref": "ReadInstruction"
        },
        "write": {
          "description": "Additional information for Write instructions.",
          "$ref": "WriteInstruction"
        },
        "parDo": {
          "description": "Additional information for ParDo instructions.",
          "$ref": "ParDoInstruction"
        },
        "outputs": {
          "description": "Describes the outputs of the instruction.",
          "items": {
            "$ref": "InstructionOutput"
          },
          "type": "array"
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      }
    },
    "JobMessage": {
      "id": "JobMessage",
      "properties": {
        "id": {
          "description": "Deprecated.",
          "type": "string"
        },
        "messageText": {
          "type": "string",
          "description": "The text of the message."
        },
        "messageImportance": {
          "type": "string",
          "description": "Importance level of the message.",
          "enum": [
            "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
            "JOB_MESSAGE_DEBUG",
            "JOB_MESSAGE_DETAILED",
            "JOB_MESSAGE_BASIC",
            "JOB_MESSAGE_WARNING",
            "JOB_MESSAGE_ERROR"
          ],
          "enumDescriptions": [
            "The message importance isn't specified, or is unknown.",
            "The message is at the 'debug' level: typically only useful for software engineers working on the code the job is running. Typically, Dataflow pipeline runners do not display log messages at this level by default.",
            "The message is at the 'detailed' level: somewhat verbose, but potentially useful to users. Typically, Dataflow pipeline runners do not display log messages at this level by default. These messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'basic' level: useful for keeping track of the execution of a Dataflow pipeline. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'warning' level: indicating a condition pertaining to a job which may require human intervention. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'error' level: indicating a condition preventing a job from succeeding. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI."
          ]
        },
        "time": {
          "description": "The timestamp of the message.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "A particular message pertaining to a Dataflow job."
    },
    "RuntimeEnvironment": {
      "description": "The environment values to set at runtime.",
      "id": "RuntimeEnvironment",
      "properties": {
        "maxWorkers": {
          "type": "integer",
          "description": "The maximum number of Google Compute Engine instances to be made available to your pipeline during execution, from 1 to 1000.",
          "format": "int32"
        },
        "machineType": {
          "type": "string",
          "description": "The machine type to use for the job. Defaults to the value from the template if not specified."
        },
        "workerRegion": {
          "description": "The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, default to the control plane's region.",
          "type": "string"
        },
        "ipConfiguration": {
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ],
          "description": "Configuration for VM IPs.",
          "type": "string",
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ]
        },
        "network": {
          "description": "Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\".",
          "type": "string"
        },
        "enableStreamingEngine": {
          "description": "Whether to enable Streaming Engine for the job.",
          "type": "boolean"
        },
        "zone": {
          "description": "The Compute Engine [availability zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones) for launching worker instances to run your pipeline. In the future, worker_zone will take precedence.",
          "type": "string"
        },
        "numWorkers": {
          "format": "int32",
          "description": "The initial number of Google Compute Engine instnaces for the job.",
          "type": "integer"
        },
        "additionalUserLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional user labels to be specified for the job. Keys and values should follow the restrictions specified in the [labeling restrictions](https://cloud.google.com/compute/docs/labeling-resources#restrictions) page. An object containing a list of \"key\": value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1kg\", \"count\": \"3\" }."
        },
        "bypassTempDirValidation": {
          "description": "Whether to bypass the safety checks for the job's temporary directory. Use with caution.",
          "type": "boolean"
        },
        "tempLocation": {
          "type": "string",
          "description": "The Cloud Storage path to use for temporary files. Must be a valid Cloud Storage URL, beginning with `gs://`."
        },
        "additionalExperiments": {
          "description": "Additional experiment flags for the job.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "workerZone": {
          "description": "The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity. If both `worker_zone` and `zone` are set, `worker_zone` takes precedence.",
          "type": "string"
        },
        "subnetwork": {
          "type": "string",
          "description": "Subnetwork to which VMs will be assigned, if desired. You can specify a subnetwork using either a complete URL or an abbreviated path. Expected to be of the form \"https://www.googleapis.com/compute/v1/projects/HOST_PROJECT_ID/regions/REGION/subnetworks/SUBNETWORK\" or \"regions/REGION/subnetworks/SUBNETWORK\". If the subnetwork is located in a Shared VPC network, you must use the complete URL."
        },
        "kmsKeyName": {
          "description": "Name for the Cloud KMS key for the job. Key format is: projects//locations//keyRings//cryptoKeys/",
          "type": "string"
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "The email address of the service account to run the job as."
        }
      },
      "type": "object"
    },
    "Snapshot": {
      "id": "Snapshot",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique ID of this snapshot."
        },
        "region": {
          "description": "Cloud region where this snapshot lives in, e.g., \"us-central1\".",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "User specified description of the snapshot. Maybe empty."
        },
        "ttl": {
          "format": "google-duration",
          "description": "The time after which this snapshot will be automatically deleted.",
          "type": "string"
        },
        "creationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time this snapshot was created."
        },
        "state": {
          "enum": [
            "UNKNOWN_SNAPSHOT_STATE",
            "PENDING",
            "RUNNING",
            "READY",
            "FAILED",
            "DELETED"
          ],
          "description": "State of the snapshot.",
          "enumDescriptions": [
            "Unknown state.",
            "Snapshot intent to create has been persisted, snapshotting of state has not yet started.",
            "Snapshotting is being performed.",
            "Snapshot has been created and is ready to be used.",
            "Snapshot failed to be created.",
            "Snapshot has been deleted."
          ],
          "type": "string"
        },
        "diskSizeBytes": {
          "type": "string",
          "description": "The disk byte size of the snapshot. Only available for snapshots in READY state.",
          "format": "int64"
        },
        "pubsubMetadata": {
          "type": "array",
          "description": "PubSub snapshot metadata.",
          "items": {
            "$ref": "PubsubSnapshotMetadata"
          }
        },
        "projectId": {
          "description": "The project this snapshot belongs to.",
          "type": "string"
        },
        "sourceJobId": {
          "type": "string",
          "description": "The job this snapshot was created from."
        }
      },
      "type": "object",
      "description": "Represents a snapshot of a job."
    },
    "CounterStructuredName": {
      "description": "Identifies a counter within a per-job namespace. Counters whose structured names are the same get merged into a single value for the job.",
      "properties": {
        "origin": {
          "enum": [
            "SYSTEM",
            "USER"
          ],
          "description": "One of the standard Origins defined above.",
          "type": "string",
          "enumDescriptions": [
            "Counter was created by the Dataflow system.",
            "Counter was created by the user."
          ]
        },
        "originalStepName": {
          "type": "string",
          "description": "System generated name of the original step in the user's graph, before optimization."
        },
        "componentStepName": {
          "type": "string",
          "description": "Name of the optimized step being executed by the workers."
        },
        "executionStepName": {
          "description": "Name of the stage. An execution step contains multiple component steps.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Counter name. Not necessarily globally-unique, but unique within the context of the other fields. Required."
        },
        "inputIndex": {
          "description": "Index of an input collection that's being read from/written to as a side input. The index identifies a step's side inputs starting by 1 (e.g. the first side input has input_index 1, the third has input_index 3). Side inputs are identified by a pair of (original_step_name, input_index). This field helps uniquely identify them.",
          "type": "integer",
          "format": "int32"
        },
        "originNamespace": {
          "type": "string",
          "description": "A string containing a more specific namespace of the counter's origin."
        },
        "workerId": {
          "description": "ID of a particular worker.",
          "type": "string"
        },
        "portion": {
          "enumDescriptions": [
            "Counter portion has not been set.",
            "Counter reports a key.",
            "Counter reports a value."
          ],
          "description": "Portion of this counter, either key or value.",
          "enum": [
            "ALL",
            "KEY",
            "VALUE"
          ],
          "type": "string"
        },
        "originalRequestingStepName": {
          "type": "string",
          "description": "The step name requesting an operation, such as GBK. I.e. the ParDo causing a read/write from shuffle to occur, or a read from side inputs."
        }
      },
      "id": "CounterStructuredName",
      "type": "object"
    },
    "ParDoInstruction": {
      "description": "An instruction that does a ParDo operation. Takes one main input and zero or more side inputs, and produces zero or more outputs. Runs user code.",
      "type": "object",
      "id": "ParDoInstruction",
      "properties": {
        "numOutputs": {
          "format": "int32",
          "type": "integer",
          "description": "The number of outputs."
        },
        "input": {
          "description": "The input.",
          "$ref": "InstructionInput"
        },
        "multiOutputInfos": {
          "description": "Information about each of the outputs, if user_fn is a MultiDoFn.",
          "type": "array",
          "items": {
            "$ref": "MultiOutputInfo"
          }
        },
        "userFn": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "The user function to invoke."
        },
        "sideInputs": {
          "type": "array",
          "items": {
            "$ref": "SideInputInfo"
          },
          "description": "Zero or more side inputs."
        }
      }
    },
    "PartialGroupByKeyInstruction": {
      "type": "object",
      "description": "An instruction that does a partial group-by-key. One input and one output.",
      "properties": {
        "input": {
          "$ref": "InstructionInput",
          "description": "Describes the input to the partial group-by-key instruction."
        },
        "sideInputs": {
          "items": {
            "$ref": "SideInputInfo"
          },
          "type": "array",
          "description": "Zero or more side inputs."
        },
        "originalCombineValuesInputStoreName": {
          "type": "string",
          "description": "If this instruction includes a combining function this is the name of the intermediate store between the GBK and the CombineValues."
        },
        "valueCombiningFn": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "The value combining function to invoke."
        },
        "originalCombineValuesStepName": {
          "type": "string",
          "description": "If this instruction includes a combining function, this is the name of the CombineValues instruction lifted into this instruction."
        },
        "inputElementCodec": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The codec to use for interpreting an element in the input PTable."
        }
      },
      "id": "PartialGroupByKeyInstruction"
    },
    "WriteInstruction": {
      "type": "object",
      "properties": {
        "input": {
          "$ref": "InstructionInput",
          "description": "The input."
        },
        "sink": {
          "$ref": "Sink",
          "description": "The sink to write to."
        }
      },
      "id": "WriteInstruction",
      "description": "An instruction that writes records. Takes one input, produces no outputs."
    },
    "CounterStructuredNameAndMetadata": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "CounterMetadata",
          "description": "Metadata associated with a counter"
        },
        "name": {
          "description": "Structured name of the counter.",
          "$ref": "CounterStructuredName"
        }
      },
      "id": "CounterStructuredNameAndMetadata",
      "description": "A single message which encapsulates structured name and metadata for a given counter."
    },
    "StreamingConfigTask": {
      "description": "A task that carries configuration information for streaming computations.",
      "id": "StreamingConfigTask",
      "type": "object",
      "properties": {
        "streamingComputationConfigs": {
          "items": {
            "$ref": "StreamingComputationConfig"
          },
          "description": "Set of computation configuration information.",
          "type": "array"
        },
        "maxWorkItemCommitBytes": {
          "description": "Maximum size for work item commit supported windmill storage layer.",
          "type": "string",
          "format": "int64"
        },
        "getDataStreamChunkSizeBytes": {
          "description": "Chunk size for get data streams from the harness to windmill.",
          "format": "int64",
          "type": "string"
        },
        "windmillServiceEndpoint": {
          "description": "If present, the worker must use this endpoint to communicate with Windmill Service dispatchers, otherwise the worker must continue to use whatever endpoint it had been using.",
          "type": "string"
        },
        "windmillServicePort": {
          "description": "If present, the worker must use this port to communicate with Windmill Service dispatchers. Only applicable when windmill_service_endpoint is specified.",
          "format": "int64",
          "type": "string"
        },
        "userStepToStateFamilyNameMap": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Map from user step names to state families."
        },
        "commitStreamChunkSizeBytes": {
          "description": "Chunk size for commit streams from the harness to windmill.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "WorkItemDetails": {
      "properties": {
        "taskId": {
          "description": "Name of this work item.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Start time of this work item attempt."
        },
        "metrics": {
          "description": "Metrics for this work item.",
          "type": "array",
          "items": {
            "$ref": "MetricUpdate"
          }
        },
        "state": {
          "type": "string",
          "description": "State of this work item.",
          "enum": [
            "EXECUTION_STATE_UNKNOWN",
            "EXECUTION_STATE_NOT_STARTED",
            "EXECUTION_STATE_RUNNING",
            "EXECUTION_STATE_SUCCEEDED",
            "EXECUTION_STATE_FAILED",
            "EXECUTION_STATE_CANCELLED"
          ],
          "enumDescriptions": [
            "The component state is unknown or unspecified.",
            "The component is not yet running.",
            "The component is currently running.",
            "The component succeeded.",
            "The component failed.",
            "Execution of the component was cancelled."
          ]
        },
        "progress": {
          "$ref": "ProgressTimeseries",
          "description": "Progress of this work item."
        },
        "attemptId": {
          "description": "Attempt ID of this work item",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "End time of this work item attempt. If the work item is completed, this is the actual end time of the work item. Otherwise, it is the predicted end time."
        }
      },
      "description": "Information about an individual work item execution.",
      "id": "WorkItemDetails",
      "type": "object"
    },
    "WorkItemServiceState": {
      "properties": {
        "hotKeyDetection": {
          "description": "A hot key is a symptom of poor data distribution in which there are enough elements mapped to a single key to impact pipeline performance. When present, this field includes metadata associated with any hot key.",
          "$ref": "HotKeyDetection"
        },
        "suggestedStopPoint": {
          "description": "DEPRECATED in favor of split_request.",
          "$ref": "ApproximateProgress"
        },
        "harnessData": {
          "description": "Other data returned by the service, specific to the particular worker harness.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "splitRequest": {
          "description": "The progress point in the WorkItem where the Dataflow service suggests that the worker truncate the task.",
          "$ref": "ApproximateSplitRequest"
        },
        "reportStatusInterval": {
          "format": "google-duration",
          "description": "New recommended reporting interval.",
          "type": "string"
        },
        "completeWorkStatus": {
          "description": "If set, a request to complete the work item with the given status. This will not be set to OK, unless supported by the specific kind of WorkItem. It can be used for the backend to indicate a WorkItem must terminate, e.g., for aborting work.",
          "$ref": "Status"
        },
        "metricShortId": {
          "type": "array",
          "items": {
            "$ref": "MetricShortId"
          },
          "description": "The short ids that workers should use in subsequent metric updates. Workers should strive to use short ids whenever possible, but it is ok to request the short_id again if a worker lost track of it (e.g. if the worker is recovering from a crash). NOTE: it is possible that the response may have short ids for a subset of the metrics."
        },
        "nextReportIndex": {
          "type": "string",
          "description": "The index value to use for the next report sent by the worker. Note: If the report call fails for whatever reason, the worker should reuse this index for subsequent report attempts.",
          "format": "int64"
        },
        "suggestedStopPosition": {
          "$ref": "Position",
          "description": "Obsolete, always empty."
        },
        "leaseExpireTime": {
          "type": "string",
          "description": "Time at which the current lease will expire.",
          "format": "google-datetime"
        }
      },
      "id": "WorkItemServiceState",
      "type": "object",
      "description": "The Dataflow service's idea of the current state of a WorkItem being processed by a worker."
    },
    "LaunchTemplateParameters": {
      "type": "object",
      "properties": {
        "transformNameMapping": {
          "description": "Only applicable when updating a pipeline. Map of transform name prefixes of the job to be replaced to the corresponding name prefixes of the new job.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "parameters": {
          "description": "The runtime parameters to pass to the job.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "environment": {
          "$ref": "RuntimeEnvironment",
          "description": "The runtime environment for the job."
        },
        "jobName": {
          "description": "Required. The job name to use for the created job.",
          "type": "string"
        },
        "update": {
          "type": "boolean",
          "description": "If set, replace the existing pipeline with the name specified by jobName with this pipeline, preserving state."
        }
      },
      "id": "LaunchTemplateParameters",
      "description": "Parameters to provide to the template being launched."
    },
    "StreamingComputationConfig": {
      "description": "Configuration information for a single streaming computation.",
      "id": "StreamingComputationConfig",
      "properties": {
        "computationId": {
          "type": "string",
          "description": "Unique identifier for this computation."
        },
        "systemName": {
          "type": "string",
          "description": "System defined name for this computation."
        },
        "stageName": {
          "description": "Stage name of this computation.",
          "type": "string"
        },
        "transformUserNameToStateFamily": {
          "type": "object",
          "description": "Map from user name of stateful transforms in this stage to their state family.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "instructions": {
          "description": "Instructions that comprise the computation.",
          "items": {
            "$ref": "ParallelInstruction"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "WorkItemStatus": {
      "type": "object",
      "properties": {
        "workItemId": {
          "type": "string",
          "description": "Identifies the WorkItem."
        },
        "reportedProgress": {
          "$ref": "ApproximateReportedProgress",
          "description": "The worker's progress through this WorkItem."
        },
        "counterUpdates": {
          "items": {
            "$ref": "CounterUpdate"
          },
          "description": "Worker output counters for this WorkItem.",
          "type": "array"
        },
        "dynamicSourceSplit": {
          "description": "See documentation of stop_position.",
          "$ref": "DynamicSourceSplit"
        },
        "errors": {
          "type": "array",
          "description": "Specifies errors which occurred during processing. If errors are provided, and completed = true, then the WorkItem is considered to have failed.",
          "items": {
            "$ref": "Status"
          }
        },
        "progress": {
          "description": "DEPRECATED in favor of reported_progress.",
          "$ref": "ApproximateProgress"
        },
        "stopPosition": {
          "description": "A worker may split an active map task in two parts, \"primary\" and \"residual\", continuing to process the primary part and returning the residual part into the pool of available work. This event is called a \"dynamic split\" and is critical to the dynamic work rebalancing feature. The two obtained sub-tasks are called \"parts\" of the split. The parts, if concatenated, must represent the same input as would be read by the current task if the split did not happen. The exact way in which the original task is decomposed into the two parts is specified either as a position demarcating them (stop_position), or explicitly as two DerivedSources, if this task consumes a user-defined source type (dynamic_source_split). The \"current\" task is adjusted as a result of the split: after a task with range [A, B) sends a stop_position update at C, its range is considered to be [A, C), e.g.: * Progress should be interpreted relative to the new range, e.g. \"75% completed\" means \"75% of [A, C) completed\" * The worker should interpret proposed_stop_position relative to the new range, e.g. \"split at 68%\" should be interpreted as \"split at 68% of [A, C)\". * If the worker chooses to split again using stop_position, only stop_positions in [A, C) will be accepted. * Etc. dynamic_source_split has similar semantics: e.g., if a task with source S splits using dynamic_source_split into {P, R} (where P and R must be together equivalent to S), then subsequent progress and proposed_stop_position should be interpreted relative to P, and in a potential subsequent dynamic_source_split into {P', R'}, P' and R' must be together equivalent to P, etc.",
          "$ref": "Position"
        },
        "sourceOperationResponse": {
          "$ref": "SourceOperationResponse",
          "description": "If the work item represented a SourceOperationRequest, and the work is completed, contains the result of the operation."
        },
        "totalThrottlerWaitTimeSeconds": {
          "description": "Total time the worker spent being throttled by external systems.",
          "format": "double",
          "type": "number"
        },
        "metricUpdates": {
          "type": "array",
          "description": "DEPRECATED in favor of counter_updates.",
          "items": {
            "$ref": "MetricUpdate"
          }
        },
        "completed": {
          "description": "True if the WorkItem was completed (successfully or unsuccessfully).",
          "type": "boolean"
        },
        "sourceFork": {
          "$ref": "SourceFork",
          "description": "DEPRECATED in favor of dynamic_source_split."
        },
        "reportIndex": {
          "description": "The report index. When a WorkItem is leased, the lease will contain an initial report index. When a WorkItem's status is reported to the system, the report should be sent with that report index, and the response will contain the index the worker should use for the next report. Reports received with unexpected index values will be rejected by the service. In order to preserve idempotency, the worker should not alter the contents of a report, even if the worker must submit the same report multiple times before getting back a response. The worker should not submit a subsequent report until the response for the previous report had been received from the service.",
          "type": "string",
          "format": "int64"
        },
        "requestedLeaseDuration": {
          "description": "Amount of time the worker requests for its lease.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "WorkItemStatus",
      "description": "Conveys a worker's progress through the work described by a WorkItem."
    },
    "WorkerDetails": {
      "id": "WorkerDetails",
      "description": "Information about a worker",
      "type": "object",
      "properties": {
        "workerName": {
          "type": "string",
          "description": "Name of this worker"
        },
        "workItems": {
          "description": "Work items processed by this worker, sorted by time.",
          "items": {
            "$ref": "WorkItemDetails"
          },
          "type": "array"
        }
      }
    },
    "ListJobMessagesResponse": {
      "description": "Response to a request to list job messages.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token to obtain the next page of results if there are more."
        },
        "jobMessages": {
          "description": "Messages in ascending timestamp order.",
          "items": {
            "$ref": "JobMessage"
          },
          "type": "array"
        },
        "autoscalingEvents": {
          "items": {
            "$ref": "AutoscalingEvent"
          },
          "type": "array",
          "description": "Autoscaling events in ascending timestamp order."
        }
      },
      "id": "ListJobMessagesResponse",
      "type": "object"
    },
    "NameAndKind": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the counter."
        },
        "kind": {
          "description": "Counter aggregation kind.",
          "enumDescriptions": [
            "Counter aggregation kind was not set.",
            "Aggregated value is the sum of all contributed values.",
            "Aggregated value is the max of all contributed values.",
            "Aggregated value is the min of all contributed values.",
            "Aggregated value is the mean of all contributed values.",
            "Aggregated value represents the logical 'or' of all contributed values.",
            "Aggregated value represents the logical 'and' of all contributed values.",
            "Aggregated value is a set of unique contributed values.",
            "Aggregated value captures statistics about a distribution.",
            "Aggregated value tracks the latest value of a variable."
          ],
          "type": "string",
          "enum": [
            "INVALID",
            "SUM",
            "MAX",
            "MIN",
            "MEAN",
            "OR",
            "AND",
            "SET",
            "DISTRIBUTION",
            "LATEST_VALUE"
          ]
        }
      },
      "id": "NameAndKind",
      "description": "Basic metadata about a counter.",
      "type": "object"
    },
    "KeyRangeLocation": {
      "type": "object",
      "id": "KeyRangeLocation",
      "description": "Location information for a specific key-range of a sharded computation. Currently we only support UTF-8 character splits to simplify encoding into JSON.",
      "properties": {
        "start": {
          "type": "string",
          "description": "The start (inclusive) of the key range."
        },
        "dataDisk": {
          "type": "string",
          "description": "The name of the data disk where data for this range is stored. This name is local to the Google Cloud Platform project and uniquely identifies the disk within that project, for example \"myproject-1014-104817-4c2-harness-0-disk-1\"."
        },
        "end": {
          "type": "string",
          "description": "The end (exclusive) of the key range."
        },
        "deliveryEndpoint": {
          "description": "The physical location of this range assignment to be used for streaming computation cross-worker message delivery.",
          "type": "string"
        },
        "deprecatedPersistentDirectory": {
          "type": "string",
          "description": "DEPRECATED. The location of the persistent state for this range, as a persistent directory in the worker local filesystem."
        }
      }
    },
    "SeqMapTask": {
      "description": "Describes a particular function to invoke.",
      "properties": {
        "inputs": {
          "items": {
            "$ref": "SideInputInfo"
          },
          "description": "Information about each of the inputs.",
          "type": "array"
        },
        "userFn": {
          "description": "The user function to invoke.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "systemName": {
          "description": "System-defined name of the SeqDo operation. Unique across the workflow.",
          "type": "string"
        },
        "outputInfos": {
          "description": "Information about each of the outputs.",
          "items": {
            "$ref": "SeqMapTaskOutputInfo"
          },
          "type": "array"
        },
        "stageName": {
          "type": "string",
          "description": "System-defined name of the stage containing the SeqDo operation. Unique across the workflow."
        },
        "name": {
          "type": "string",
          "description": "The user-provided name of the SeqDo operation."
        }
      },
      "id": "SeqMapTask",
      "type": "object"
    },
    "InstructionOutput": {
      "id": "InstructionOutput",
      "description": "An output of an instruction.",
      "type": "object",
      "properties": {
        "onlyCountValueBytes": {
          "description": "For system-generated byte and mean byte metrics, certain instructions should only report the value size.",
          "type": "boolean"
        },
        "onlyCountKeyBytes": {
          "description": "For system-generated byte and mean byte metrics, certain instructions should only report the key size.",
          "type": "boolean"
        },
        "codec": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "The codec to use to encode data being written via this output."
        },
        "name": {
          "description": "The user-provided name of this output.",
          "type": "string"
        },
        "systemName": {
          "type": "string",
          "description": "System-defined name of this output. Unique across the workflow."
        },
        "originalName": {
          "description": "System-defined name for this output in the original workflow graph. Outputs that do not contribute to an original instruction do not set this.",
          "type": "string"
        }
      }
    },
    "LaunchFlexTemplateParameter": {
      "id": "LaunchFlexTemplateParameter",
      "properties": {
        "launchOptions": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Launch options for this flex template job. This is a common set of options across languages and templates. This should not be used to pass job parameters."
        },
        "environment": {
          "description": "The runtime environment for the FlexTemplate job",
          "$ref": "FlexTemplateRuntimeEnvironment"
        },
        "jobName": {
          "type": "string",
          "description": "Required. The job name to use for the created job. For update job request, job name should be same as the existing running job."
        },
        "containerSpecGcsPath": {
          "description": "Cloud Storage path to a file with json serialized ContainerSpec as content.",
          "type": "string"
        },
        "transformNameMappings": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Use this to pass transform_name_mappings for streaming update jobs. Ex:{\"oldTransformName\":\"newTransformName\",...}'",
          "type": "object"
        },
        "containerSpec": {
          "$ref": "ContainerSpec",
          "description": "Spec about the container image to launch."
        },
        "parameters": {
          "description": "The parameters for FlexTemplate. Ex. {\"num_workers\":\"5\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "update": {
          "description": "Set this to true if you are sending a request to update a running streaming job. When set, the job name should be the same as the running job.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Launch FlexTemplate Parameter."
    },
    "InstructionInput": {
      "id": "InstructionInput",
      "properties": {
        "outputNum": {
          "type": "integer",
          "description": "The output index (origin zero) within the producer.",
          "format": "int32"
        },
        "producerInstructionIndex": {
          "description": "The index (origin zero) of the parallel instruction that produces the output to be consumed by this input. This index is relative to the list of instructions in this input's instruction's containing MapTask.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "An input of an instruction, as a reference to an output of a producer instruction."
    },
    "Point": {
      "id": "Point",
      "properties": {
        "value": {
          "description": "The value of the point.",
          "type": "number",
          "format": "double"
        },
        "time": {
          "type": "string",
          "description": "The timestamp of the point.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "A point in the timeseries."
    },
    "HotKeyDetection": {
      "properties": {
        "systemName": {
          "type": "string",
          "description": "System-defined name of the step containing this hot key. Unique across the workflow."
        },
        "userStepName": {
          "type": "string",
          "description": "User-provided name of the step that contains this hot key."
        },
        "hotKeyAge": {
          "type": "string",
          "format": "google-duration",
          "description": "The age of the hot key measured from when it was first detected."
        }
      },
      "type": "object",
      "id": "HotKeyDetection",
      "description": "Proto describing a hot key detected on a given WorkItem."
    },
    "SourceSplitShard": {
      "description": "DEPRECATED in favor of DerivedSource.",
      "id": "SourceSplitShard",
      "type": "object",
      "properties": {
        "derivationMode": {
          "enum": [
            "SOURCE_DERIVATION_MODE_UNKNOWN",
            "SOURCE_DERIVATION_MODE_INDEPENDENT",
            "SOURCE_DERIVATION_MODE_CHILD_OF_CURRENT",
            "SOURCE_DERIVATION_MODE_SIBLING_OF_CURRENT"
          ],
          "enumDescriptions": [
            "The source derivation is unknown, or unspecified.",
            "Produce a completely independent Source with no base.",
            "Produce a Source based on the Source being split.",
            "Produce a Source based on the base of the Source being split."
          ],
          "type": "string",
          "description": "DEPRECATED"
        },
        "source": {
          "$ref": "Source",
          "description": "DEPRECATED"
        }
      }
    },
    "DistributionUpdate": {
      "id": "DistributionUpdate",
      "description": "A metric value representing a distribution.",
      "properties": {
        "sumOfSquares": {
          "format": "double",
          "type": "number",
          "description": "Use a double since the sum of squares is likely to overflow int64."
        },
        "max": {
          "$ref": "SplitInt64",
          "description": "The maximum value present in the distribution."
        },
        "histogram": {
          "description": "(Optional) Histogram of value counts for the distribution.",
          "$ref": "Histogram"
        },
        "min": {
          "$ref": "SplitInt64",
          "description": "The minimum value present in the distribution."
        },
        "count": {
          "description": "The count of the number of elements present in the distribution.",
          "$ref": "SplitInt64"
        },
        "sum": {
          "description": "Use an int64 since we'd prefer the added precision. If overflow is a common problem we can detect it and use an additional int64 or a double.",
          "$ref": "SplitInt64"
        }
      },
      "type": "object"
    },
    "JobExecutionStageInfo": {
      "id": "JobExecutionStageInfo",
      "type": "object",
      "description": "Contains information about how a particular google.dataflow.v1beta3.Step will be executed.",
      "properties": {
        "stepName": {
          "description": "The steps associated with the execution stage. Note that stages may have several steps, and that a given step might be run by more than one stage.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "JobExecutionInfo": {
      "description": "Additional information about how a Cloud Dataflow job will be executed that isn't contained in the submitted job.",
      "type": "object",
      "properties": {
        "stages": {
          "type": "object",
          "description": "A mapping from each stage to the information about that stage.",
          "additionalProperties": {
            "$ref": "JobExecutionStageInfo"
          }
        }
      },
      "id": "JobExecutionInfo"
    },
    "Sink": {
      "type": "object",
      "id": "Sink",
      "description": "A sink that records can be encoded and written to.",
      "properties": {
        "spec": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "The sink to write to, plus its parameters."
        },
        "codec": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "The codec to use to encode data written to the sink."
        }
      }
    },
    "IntegerList": {
      "id": "IntegerList",
      "properties": {
        "elements": {
          "description": "Elements of the list.",
          "items": {
            "$ref": "SplitInt64"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "A metric value representing a list of integers."
    },
    "WorkerMessage": {
      "type": "object",
      "id": "WorkerMessage",
      "properties": {
        "workerHealthReport": {
          "description": "The health of a worker.",
          "$ref": "WorkerHealthReport"
        },
        "workerMessageCode": {
          "$ref": "WorkerMessageCode",
          "description": "A worker message code."
        },
        "workerShutdownNotice": {
          "description": "Shutdown notice by workers.",
          "$ref": "WorkerShutdownNotice"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels are used to group WorkerMessages. For example, a worker_message about a particular container might have the labels: { \"JOB_ID\": \"2015-04-22\", \"WORKER_ID\": \"wordcount-vm-2015…\" \"CONTAINER_TYPE\": \"worker\", \"CONTAINER_ID\": \"ac1234def\"} Label tags typically correspond to Label enum values. However, for ease of development other strings can be used as tags. LABEL_UNSPECIFIED should not be used here."
        },
        "workerLifecycleEvent": {
          "$ref": "WorkerLifecycleEvent",
          "description": "Record of worker lifecycle events."
        },
        "time": {
          "description": "The timestamp of the worker_message.",
          "format": "google-datetime",
          "type": "string"
        },
        "workerMetrics": {
          "$ref": "ResourceUtilizationReport",
          "description": "Resource metrics reported by workers."
        }
      },
      "description": "WorkerMessage provides information to the backend about a worker."
    },
    "CustomSourceLocation": {
      "id": "CustomSourceLocation",
      "description": "Identifies the location of a custom souce.",
      "type": "object",
      "properties": {
        "stateful": {
          "description": "Whether this source is stateful.",
          "type": "boolean"
        }
      }
    },
    "Package": {
      "id": "Package",
      "properties": {
        "name": {
          "description": "The name of the package.",
          "type": "string"
        },
        "location": {
          "description": "The resource to read the package from. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket} bucket.storage.googleapis.com/",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The packages that must be installed in order for a worker to run the steps of the Cloud Dataflow job that will be assigned to its worker pool. This is the mechanism by which the Cloud Dataflow SDK causes code to be loaded onto the workers. For example, the Cloud Dataflow Java SDK might use this to install jars containing the user's code and all of the various dependencies (libraries, data files, etc.) required in order for that code to run."
    },
    "DataDiskAssignment": {
      "id": "DataDiskAssignment",
[...]
