{
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "ownerName": "Google",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "schemas": {
    "GkeNodePoolAutoscalingConfig": {
      "description": "GkeNodePoolAutoscaling contains information the cluster autoscaler needs to adjust the size of the node pool to the current cluster usage.",
      "type": "object",
      "properties": {
        "maxNodeCount": {
          "description": "The maximum number of nodes in the node pool. Must be \u003e= min_node_count, and must be \u003e 0. Note: Quota must be sufficient to scale up the cluster.",
          "type": "integer",
          "format": "int32"
        },
        "minNodeCount": {
          "description": "The minimum number of nodes in the node pool. Must be \u003e= 0 and \u003c= max_node_count.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GkeNodePoolAutoscalingConfig"
    },
    "LifecycleConfig": {
      "type": "object",
      "id": "LifecycleConfig",
      "description": "Specifies the cluster auto-delete schedule configuration.",
      "properties": {
        "idleDeleteTtl": {
          "description": "Optional. The duration to keep the cluster alive while idling (when no jobs are running). Passing this threshold will cause the cluster to be deleted. Minimum value is 5 minutes; maximum value is 14 days (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "type": "string",
          "format": "google-duration"
        },
        "autoDeleteTime": {
          "description": "Optional. The time when cluster will be auto-deleted (see JSON representation of Timestamp (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "format": "google-datetime",
          "type": "string"
        },
        "idleStartTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when cluster became idle (most recent job finished) and became eligible for deletion due to idleness (see JSON representation of Timestamp (https://developers.google.com/protocol-buffers/docs/proto3#json))."
        },
        "autoDeleteTtl": {
          "format": "google-duration",
          "description": "Optional. The lifetime duration of cluster. The cluster will be auto-deleted at the end of this period. Minimum value is 10 minutes; maximum value is 14 days (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "type": "string"
        }
      }
    },
    "ExecutionConfig": {
      "id": "ExecutionConfig",
      "type": "object",
      "properties": {
        "ttl": {
          "type": "string",
          "description": "Optional. The duration after which the workload will be terminated. When the workload exceeds this duration, it will be unconditionally terminated without waiting for ongoing work to finish. If ttl is not specified for a batch workload, the workload will be allowed to run until it exits naturally (or runs forever without exiting). If ttl is not specified for an interactive session, it defaults to 24h. If ttl is not specified for a batch that uses 2.1+ runtime version, it defaults to 4h. Minimum value is 10 minutes; maximum value is 14 days (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)). If both ttl and idle_ttl are specified (for an interactive session), the conditions are treated as OR conditions: the workload will be terminated when it has been idle for idle_ttl or when ttl has been exceeded, whichever occurs first.",
          "format": "google-duration"
        },
        "stagingBucket": {
          "type": "string",
          "description": "Optional. A Cloud Storage bucket used to stage workload dependencies, config files, and store workload output and other ephemeral data, such as Spark history files. If you do not specify a staging bucket, Cloud Dataproc will determine a Cloud Storage location according to the region where your workload is running, and then create and manage project-level, per-location staging and temporary buckets. This field requires a Cloud Storage bucket name, not a gs://... URI to a Cloud Storage bucket."
        },
        "idleTtl": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. Applies to sessions only. The duration to keep the session alive while it's idling. Exceeding this threshold causes the session to terminate. This field cannot be set on a batch workload. Minimum value is 10 minutes; maximum value is 14 days (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)). Defaults to 1 hour if not set. If both ttl and idle_ttl are specified for an interactive session, the conditions are treated as OR conditions: the workload will be terminated when it has been idle for idle_ttl or when ttl has been exceeded, whichever occurs first."
        },
        "serviceAccount": {
          "description": "Optional. Service account that used to execute workload.",
          "type": "string"
        },
        "networkTags": {
          "description": "Optional. Tags used for network traffic control.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "kmsKey": {
          "description": "Optional. The Cloud KMS key to use for encryption.",
          "type": "string"
        },
        "subnetworkUri": {
          "description": "Optional. Subnetwork URI to connect workload to.",
          "type": "string"
        },
        "networkUri": {
          "description": "Optional. Network URI to connect workload to.",
          "type": "string"
        }
      },
      "description": "Execution configuration for a workload."
    },
    "RegexValidation": {
      "description": "Validation based on regular expressions.",
      "type": "object",
      "properties": {
        "regexes": {
          "description": "Required. RE2 regular expressions used to validate the parameter's value. The value must match the regex in its entirety (substring matches are not sufficient).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "RegexValidation"
    },
    "ReservationAffinity": {
      "id": "ReservationAffinity",
      "properties": {
        "consumeReservationType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "NO_RESERVATION",
            "ANY_RESERVATION",
            "SPECIFIC_RESERVATION"
          ],
          "description": "Optional. Type of reservation to consume",
          "enumDescriptions": [
            "",
            "Do not consume from any allocated capacity.",
            "Consume any reservation available.",
            "Must consume from a specific reservation. Must specify key value fields for specifying the reservations."
          ],
          "type": "string"
        },
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Corresponds to the label values of reservation resource.",
          "type": "array"
        },
        "key": {
          "type": "string",
          "description": "Optional. Corresponds to the label key of reservation resource."
        }
      },
      "description": "Reservation Affinity for consuming Zonal reservation.",
      "type": "object"
    },
    "IdentityConfig": {
      "id": "IdentityConfig",
      "properties": {
        "userServiceAccountMapping": {
          "type": "object",
          "description": "Required. Map of user to service account.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Identity related configuration, including service account based secure multi-tenancy user mappings.",
      "type": "object"
    },
    "InstanceGroupAutoscalingPolicyConfig": {
      "properties": {
        "maxInstances": {
          "format": "int32",
          "description": "Required. Maximum number of instances for this group. Required for primary workers. Note that by default, clusters will not use secondary workers. Required for secondary workers if the minimum secondary instances is set.Primary workers - Bounds: [min_instances, ). Secondary workers - Bounds: [min_instances, ). Default: 0.",
          "type": "integer"
        },
        "minInstances": {
          "type": "integer",
          "description": "Optional. Minimum number of instances for this group.Primary workers - Bounds: 2, max_instances. Default: 2. Secondary workers - Bounds: 0, max_instances. Default: 0.",
          "format": "int32"
        },
        "weight": {
          "format": "int32",
          "description": "Optional. Weight for the instance group, which is used to determine the fraction of total workers in the cluster from this instance group. For example, if primary workers have weight 2, and secondary workers have weight 1, the cluster will have approximately 2 primary workers for each secondary worker.The cluster may not reach the specified balance if constrained by min/max bounds or other autoscaling settings. For example, if max_instances for secondary workers is 0, then only primary workers will be added. The cluster can also be out of balance when created.If weight is not set on any instance group, the cluster will default to equal weight for all groups: the cluster will attempt to maintain an equal number of workers in each group within the configured size bounds for each group. If weight is set for one group only, the cluster will default to zero weight on the unset group. For example if weight is set only on primary workers, the cluster will use primary workers only and no secondary workers.",
          "type": "integer"
        }
      },
      "description": "Configuration for the size bounds of an instance group, including its proportional size to other groups.",
      "id": "InstanceGroupAutoscalingPolicyConfig",
      "type": "object"
    },
    "JobStatus": {
      "description": "Dataproc job status.",
      "id": "JobStatus",
      "type": "object",
      "properties": {
        "details": {
          "type": "string",
          "description": "Optional. Output only. Job state details, such as an error description if the state is ERROR.",
          "readOnly": true
        },
        "substate": {
          "enum": [
            "UNSPECIFIED",
            "SUBMITTED",
            "QUEUED",
            "STALE_STATUS"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The job substate is unknown.",
            "The Job is submitted to the agent.Applies to RUNNING state.",
            "The Job has been received and is awaiting execution (it may be waiting for a condition to be met). See the \"details\" field for the reason for the delay.Applies to RUNNING state.",
            "The agent-reported status is out of date, which may be caused by a loss of communication between the agent and Dataproc. If the agent does not send a timely update, the job will fail.Applies to RUNNING state."
          ],
          "description": "Output only. Additional state information, which includes status reported by the agent."
        },
        "stateStartTime": {
          "readOnly": true,
          "description": "Output only. The time when this state was entered.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SETUP_DONE",
            "RUNNING",
            "CANCEL_PENDING",
            "CANCEL_STARTED",
            "CANCELLED",
            "DONE",
            "ERROR",
            "ATTEMPT_FAILURE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The job state is unknown.",
            "The job is pending; it has been submitted, but is not yet running.",
            "Job has been received by the service and completed initial setup; it will soon be submitted to the cluster.",
            "The job is running on the cluster.",
            "A CancelJob request has been received, but is pending.",
            "Transient in-flight resources have been canceled, and the request to cancel the running job has been issued to the cluster.",
            "The job cancellation was successful.",
            "The job has completed successfully.",
            "The job has completed, but encountered an error.",
            "Job attempt has failed. The detail field contains failure details for this attempt.Applies to restartable jobs only."
          ],
          "description": "Output only. A state message specifying the overall job state."
        }
      }
    },
    "Binding": {
      "description": "Associates members, or principals, with a role.",
      "id": "Binding",
      "type": "object",
      "properties": {
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. members can have the following values: allUsers: A special identifier that represents anyone who is on the internet; with or without a Google account. allAuthenticatedUsers: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. user:{emailid}: An email address that represents a specific Google account. For example, alice@example.com . serviceAccount:{emailid}: An email address that represents a Google service account. For example, my-other-app@appspot.gserviceaccount.com. serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]: An identifier for a Kubernetes service account (https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, my-project.svc.id.goog[my-namespace/my-kubernetes-sa]. group:{emailid}: An email address that represents a Google group. For example, admins@example.com. domain:{domain}: The G Suite domain (primary) that represents all the users of that domain. For example, google.com or example.com. deleted:user:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a user that has been recently deleted. For example, alice@example.com?uid=123456789012345678901. If the user is recovered, this value reverts to user:{emailid} and the recovered user retains the role in the binding. deleted:serviceAccount:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901. If the service account is undeleted, this value reverts to serviceAccount:{emailid} and the undeleted service account retains the role in the binding. deleted:group:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, admins@example.com?uid=123456789012345678901. If the group is recovered, this value reverts to group:{emailid} and the recovered group retains the role in the binding."
        },
        "condition": {
          "description": "The condition that is associated with this binding.If the condition evaluates to true, then this binding applies to the current request.If the condition evaluates to false, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "role": {
          "description": "Role that is assigned to the list of members, or principals. For example, roles/viewer, roles/editor, or roles/owner.",
          "type": "string"
        }
      }
    },
    "BasicYarnAutoscalingConfig": {
      "id": "BasicYarnAutoscalingConfig",
      "type": "object",
      "description": "Basic autoscaling configurations for YARN.",
      "properties": {
        "gracefulDecommissionTimeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Required. Timeout for YARN graceful decommissioning of Node Managers. Specifies the duration to wait for jobs to complete before forcefully removing workers (and potentially interrupting jobs). Only applicable to downscaling operations.Bounds: 0s, 1d."
        },
        "scaleDownFactor": {
          "format": "double",
          "type": "number",
          "description": "Required. Fraction of average YARN pending memory in the last cooldown period for which to remove workers. A scale-down factor of 1 will result in scaling down so that there is no available memory remaining after the update (more aggressive scaling). A scale-down factor of 0 disables removing workers, which can be beneficial for autoscaling a single job. See How autoscaling works (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/autoscaling#how_autoscaling_works) for more information.Bounds: 0.0, 1.0."
        },
        "scaleUpFactor": {
          "description": "Required. Fraction of average YARN pending memory in the last cooldown period for which to add workers. A scale-up factor of 1.0 will result in scaling up so that there is no pending memory remaining after the update (more aggressive scaling). A scale-up factor closer to 0 will result in a smaller magnitude of scaling up (less aggressive scaling). See How autoscaling works (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/autoscaling#how_autoscaling_works) for more information.Bounds: 0.0, 1.0.",
          "type": "number",
          "format": "double"
        },
        "scaleUpMinWorkerFraction": {
          "type": "number",
          "format": "double",
          "description": "Optional. Minimum scale-up threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2-worker scale-up for the cluster to scale. A threshold of 0 means the autoscaler will scale up on any recommended change.Bounds: 0.0, 1.0. Default: 0.0."
        },
        "scaleDownMinWorkerFraction": {
          "format": "double",
          "description": "Optional. Minimum scale-down threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2 worker scale-down for the cluster to scale. A threshold of 0 means the autoscaler will scale down on any recommended change.Bounds: 0.0, 1.0. Default: 0.0.",
          "type": "number"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the resource. Permissions with wildcards (such as * or storage.*) are not allowed. For more information see IAM Overview (https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "TestIamPermissionsRequest",
      "description": "Request message for TestIamPermissions method."
    },
    "NamespacedGkeDeploymentTarget": {
      "properties": {
        "clusterNamespace": {
          "type": "string",
          "description": "Optional. A namespace within the GKE cluster to deploy into."
        },
        "targetGkeCluster": {
          "type": "string",
          "description": "Optional. The target GKE cluster to deploy to. Format: 'projects/{project}/locations/{location}/clusters/{cluster_id}'"
        }
      },
      "deprecated": true,
      "id": "NamespacedGkeDeploymentTarget",
      "description": "Deprecated. Used only for the deprecated beta. A full, namespace-isolated deployment target for an existing GKE cluster.",
      "type": "object"
    },
    "ConfidentialInstanceConfig": {
      "type": "object",
      "id": "ConfidentialInstanceConfig",
      "properties": {
        "enableConfidentialCompute": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance should have confidential compute enabled."
        }
      },
      "description": "Confidential Instance Config for clusters using Confidential VMs (https://cloud.google.com/compute/confidential-vm/docs)"
    },
    "InjectCredentialsRequest": {
      "type": "object",
      "id": "InjectCredentialsRequest",
      "properties": {
        "clusterUuid": {
          "type": "string",
          "description": "Required. The cluster UUID."
        },
        "credentialsCiphertext": {
          "type": "string",
          "description": "Required. The encrypted credentials being injected in to the cluster.The client is responsible for encrypting the credentials in a way that is supported by the cluster.A wrapped value is used here so that the actual contents of the encrypted credentials are not written to audit logs."
        }
      },
      "description": "A request to inject credentials into a cluster."
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } ",
      "properties": {},
      "type": "object"
    },
    "SessionTemplate": {
      "id": "SessionTemplate",
      "type": "object",
      "description": "A representation of a session template in the service. Next ID: 12",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Brief description of the template."
        },
        "labels": {
          "description": "Optional. The labels to associate with sessions created using this template. Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). Label values may be empty, but, if present, must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with a session.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "creator": {
          "readOnly": true,
          "description": "Output only. The email address of the user who created the template.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time template was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Required. The resource name of the session template."
        },
        "environmentConfig": {
          "description": "Optional. Environment configuration for session execution.",
          "$ref": "EnvironmentConfig"
        },
        "createTime": {
          "description": "Output only. The time when the template was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "runtimeConfig": {
          "description": "Optional. Runtime configuration for session execution.",
          "$ref": "RuntimeConfig"
        },
        "jupyterSession": {
          "$ref": "JupyterConfig",
          "description": "Optional. Jupyter session config."
        }
      }
    },
    "OrderedJob": {
      "id": "OrderedJob",
      "properties": {
        "hiveJob": {
          "description": "Optional. Job is a Hive job.",
          "$ref": "HiveJob"
        },
        "sparkRJob": {
          "$ref": "SparkRJob",
          "description": "Optional. Job is a SparkR job."
        },
        "stepId": {
          "type": "string",
          "description": "Required. The step id. The id must be unique among all jobs within the template.The step id is used as prefix for job id, as job goog-dataproc-workflow-step-id label, and in prerequisiteStepIds field from other steps.The id must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). Cannot begin or end with underscore or hyphen. Must consist of between 3 and 50 characters."
        },
        "pysparkJob": {
          "description": "Optional. Job is a PySpark job.",
          "$ref": "PySparkJob"
        },
        "trinoJob": {
          "description": "Optional. Job is a Trino job.",
          "$ref": "TrinoJob"
        },
        "scheduling": {
          "$ref": "JobScheduling",
          "description": "Optional. Job scheduling configuration."
        },
        "prestoJob": {
          "$ref": "PrestoJob",
          "description": "Optional. Job is a Presto job."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels to associate with this job.Label keys must be between 1 and 63 characters long, and must conform to the following regular expression: \\p{Ll}\\p{Lo}{0,62}Label values must be between 1 and 63 characters long, and must conform to the following regular expression: \\p{Ll}\\p{Lo}\\p{N}_-{0,63}No more than 32 labels can be associated with a given job."
        },
        "sparkJob": {
          "$ref": "SparkJob",
          "description": "Optional. Job is a Spark job."
        },
        "prerequisiteStepIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The optional list of prerequisite job step_ids. If not specified, the job will start at the beginning of workflow."
        },
        "hadoopJob": {
          "description": "Optional. Job is a Hadoop job.",
          "$ref": "HadoopJob"
        },
        "sparkSqlJob": {
          "description": "Optional. Job is a SparkSql job.",
          "$ref": "SparkSqlJob"
        },
        "pigJob": {
          "$ref": "PigJob",
          "description": "Optional. Job is a Pig job."
        }
      },
      "type": "object",
      "description": "A job executed by the workflow."
    },
    "InjectSessionCredentialsRequest": {
      "type": "object",
      "description": "A request to inject credentials to a session.",
      "properties": {
        "credentialsCiphertext": {
          "type": "string",
          "description": "Required. The encrypted credentials being injected in to the session.The client is responsible for encrypting the credentials in a way that is supported by the session.A wrapped value is used here so that the actual contents of the encrypted credentials are not written to audit logs."
        },
        "requestId": {
          "description": "Optional. A unique ID used to identify the request. If the service receives two TerminateSessionRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.TerminateSessionRequest)s with the same ID, the first request is ignored to ensure the most recent credentials are injected.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The value must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        }
      },
      "id": "InjectSessionCredentialsRequest"
    },
    "Expr": {
      "type": "object",
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec.Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "id": "ListOperationsResponse"
    },
    "ListSessionTemplatesResponse": {
      "type": "object",
      "id": "ListSessionTemplatesResponse",
      "description": "A list of session templates.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "sessionTemplates": {
          "readOnly": true,
          "items": {
            "$ref": "SessionTemplate"
          },
          "type": "array",
          "description": "Output only. Session template list"
        }
      }
    },
    "MetastoreConfig": {
      "type": "object",
      "properties": {
        "dataprocMetastoreService": {
          "type": "string",
          "description": "Required. Resource name of an existing Dataproc Metastore service.Example: projects/[project_id]/locations/[dataproc_region]/services/[service-name]"
        }
      },
      "id": "MetastoreConfig",
      "description": "Specifies a Metastore configuration."
    },
    "HiveJob": {
      "description": "A Dataproc job for running Apache Hive (https://hive.apache.org/) queries on YARN.",
      "properties": {
        "jarFileUris": {
          "type": "array",
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATH of the Hive server and Hadoop MapReduce (MR) tasks. Can contain Hive SerDes and UDFs.",
          "items": {
            "type": "string"
          }
        },
        "scriptVariables": {
          "type": "object",
          "description": "Optional. Mapping of query variable names to values (equivalent to the Hive command: SET name=\"value\";).",
          "additionalProperties": {
            "type": "string"
          }
        },
        "continueOnFailure": {
          "type": "boolean",
          "description": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries."
        },
        "properties": {
          "description": "Optional. A mapping of property names and values, used to configure Hive. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/hadoop/conf/*-site.xml, /etc/hive/conf/hive-site.xml, and classes in user code.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "queryFileUri": {
          "description": "The HCFS URI of the script that contains Hive queries.",
          "type": "string"
        },
        "queryList": {
          "$ref": "QueryList",
          "description": "A list of queries."
        }
      },
      "type": "object",
      "id": "HiveJob"
    },
    "TrinoJob": {
      "properties": {
        "queryList": {
          "description": "A list of queries.",
          "$ref": "QueryList"
        },
        "loggingConfig": {
          "$ref": "LoggingConfig",
          "description": "Optional. The runtime log config for job execution."
        },
        "clientTags": {
          "type": "array",
          "description": "Optional. Trino client tags to attach to this query",
          "items": {
            "type": "string"
          }
        },
        "queryFileUri": {
          "type": "string",
          "description": "The HCFS URI of the script that contains SQL queries."
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A mapping of property names to values. Used to set Trino session properties (https://trino.io/docs/current/sql/set-session.html) Equivalent to using the --session flag in the Trino CLI"
        },
        "outputFormat": {
          "type": "string",
          "description": "Optional. The format in which query output will be displayed. See the Trino documentation for supported output formats"
        },
        "continueOnFailure": {
          "description": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries.",
          "type": "boolean"
        }
      },
      "id": "TrinoJob",
      "type": "object",
      "description": "A Dataproc job for running Trino (https://trino.io/) queries. IMPORTANT: The Dataproc Trino Optional Component (https://cloud.google.com/dataproc/docs/concepts/components/trino) must be enabled when the cluster is created to submit a Trino job to the cluster."
    },
    "DiagnoseClusterRequest": {
      "type": "object",
      "description": "A request to collect cluster diagnostic information.",
      "properties": {
        "jobs": {
          "description": "Optional. Specifies a list of jobs on which diagnosis is to be performed. Format: projects/{project}/regions/{region}/jobs/{job}",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "yarnApplicationId": {
          "description": "Optional. DEPRECATED Specifies the yarn application on which diagnosis is to be performed.",
          "type": "string",
          "deprecated": true
        },
        "yarnApplicationIds": {
          "description": "Optional. Specifies a list of yarn applications on which diagnosis is to be performed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "diagnosisInterval": {
          "$ref": "Interval",
          "description": "Optional. Time interval in which diagnosis should be carried out on the cluster."
        },
        "job": {
          "type": "string",
          "deprecated": true,
          "description": "Optional. DEPRECATED Specifies the job on which diagnosis is to be performed. Format: projects/{project}/regions/{region}/jobs/{job}"
        }
      },
      "id": "DiagnoseClusterRequest"
    },
    "KubernetesSoftwareConfig": {
      "description": "The software configuration for this Dataproc cluster running on Kubernetes.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "The properties to set on daemon config files.Property keys are specified in prefix:property format, for example spark:spark.kubernetes.container.image. The following are supported prefixes and their mappings: spark: spark-defaults.confFor more information, see Cluster properties (https://cloud.google.com/dataproc/docs/concepts/cluster-properties).",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "componentVersion": {
          "description": "The components that should be installed in this Dataproc cluster. The key must be a string from the KubernetesComponent enumeration. The value is the version of the software to be installed. At least one entry must be specified.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "KubernetesSoftwareConfig"
    },
    "YarnApplication": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The application name."
        },
        "trackingUrl": {
          "type": "string",
          "description": "Optional. The HTTP URL of the ApplicationMaster, HistoryServer, or TimelineServer that provides application-specific information. The URL uses the internal hostname, and requires a proxy server for resolution and, possibly, access."
        },
        "progress": {
          "description": "Required. The numerical progress of the application, from 1 to 100.",
          "format": "float",
          "type": "number"
        },
        "state": {
          "enumDescriptions": [
            "Status is unspecified.",
            "Status is NEW.",
            "Status is NEW_SAVING.",
            "Status is SUBMITTED.",
            "Status is ACCEPTED.",
            "Status is RUNNING.",
            "Status is FINISHED.",
            "Status is FAILED.",
            "Status is KILLED."
          ],
          "description": "Required. The application state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "NEW_SAVING",
            "SUBMITTED",
            "ACCEPTED",
            "RUNNING",
            "FINISHED",
            "FAILED",
            "KILLED"
          ],
          "type": "string"
        }
      },
      "description": "A YARN application created by a job. Application information is a subset of org.apache.hadoop.yarn.proto.YarnProtos.ApplicationReportProto.Beta Feature: This report is available for testing purposes only. It may be changed before final release.",
      "id": "YarnApplication",
      "type": "object"
    },
    "BatchOperationMetadata": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Short description of the operation."
        },
        "labels": {
          "type": "object",
          "description": "Labels associated with the operation.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "operationType": {
          "enum": [
            "BATCH_OPERATION_TYPE_UNSPECIFIED",
            "BATCH"
          ],
          "type": "string",
          "description": "The operation type.",
          "enumDescriptions": [
            "Batch operation type is unknown.",
            "Batch operation type."
          ]
        },
        "batchUuid": {
          "type": "string",
          "description": "Batch UUID for the operation."
        },
        "warnings": {
          "items": {
            "type": "string"
          },
          "description": "Warnings encountered during operation execution.",
          "type": "array"
        },
        "createTime": {
          "description": "The time when the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "doneTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the operation finished."
        },
        "batch": {
          "type": "string",
          "description": "Name of the batch for the operation."
        }
      },
      "id": "BatchOperationMetadata",
      "type": "object",
      "description": "Metadata describing the Batch operation."
    },
    "EndpointConfig": {
      "properties": {
        "enableHttpPortAccess": {
          "description": "Optional. If true, enable http access to specific ports on the cluster from external sources. Defaults to false.",
          "type": "boolean"
        },
        "httpPorts": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. The map of port descriptions to URLs. Will only be populated if enable_http_port_access is true.",
          "type": "object",
          "readOnly": true
        }
      },
      "description": "Endpoint config for this cluster",
      "type": "object",
      "id": "EndpointConfig"
    },
    "GetIamPolicyRequest": {
      "properties": {
        "options": {
          "description": "OPTIONAL: A GetPolicyOptions object for specifying options to GetIamPolicy.",
          "$ref": "GetPolicyOptions"
        }
      },
      "id": "GetIamPolicyRequest",
      "type": "object",
      "description": "Request message for GetIamPolicy method."
    },
    "EncryptionConfig": {
      "description": "Encryption settings for the cluster.",
      "properties": {
        "gcePdKmsKeyName": {
          "type": "string",
          "description": "Optional. The Cloud KMS key name to use for PD disk encryption for all instances in the cluster."
        },
        "kmsKey": {
          "description": "Optional. The Cloud KMS key name to use for encrypting customer core content and cluster PD disk for all instances in the cluster.",
          "type": "string"
        }
      },
      "id": "EncryptionConfig",
      "type": "object"
    },
    "ShieldedInstanceConfig": {
      "id": "ShieldedInstanceConfig",
      "description": "Shielded Instance Config for clusters using Compute Engine Shielded VMs (https://cloud.google.com/security/shielded-cloud/shielded-vm).",
      "properties": {
        "enableSecureBoot": {
          "description": "Optional. Defines whether instances have Secure Boot enabled.",
          "type": "boolean"
        },
        "enableIntegrityMonitoring": {
          "type": "boolean",
          "description": "Optional. Defines whether instances have integrity monitoring enabled."
        },
        "enableVtpm": {
          "description": "Optional. Defines whether instances have the vTPM enabled.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "NodeGroupAffinity": {
      "type": "object",
      "description": "Node Group Affinity for clusters using sole-tenant node groups. The Dataproc NodeGroupAffinity resource is not related to the Dataproc NodeGroup resource.",
      "id": "NodeGroupAffinity",
      "properties": {
        "nodeGroupUri": {
          "type": "string",
          "description": "Required. The URI of a sole-tenant node group resource (https://cloud.google.com/compute/docs/reference/rest/v1/nodeGroups) that the cluster will be created on.A full URL, partial URI, or node group name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/zones/[zone]/nodeGroups/node-group-1 projects/[project_id]/zones/[zone]/nodeGroups/node-group-1 node-group-1"
        }
      }
    },
    "GkeNodePoolConfig": {
      "id": "GkeNodePoolConfig",
      "properties": {
        "config": {
          "$ref": "GkeNodeConfig",
          "description": "Optional. The node pool configuration."
        },
        "locations": {
          "description": "Optional. The list of Compute Engine zones (https://cloud.google.com/compute/docs/zones#available) where node pool nodes associated with a Dataproc on GKE virtual cluster will be located.Note: All node pools associated with a virtual cluster must be located in the same region as the virtual cluster, and they must be located in the same zone within that region.If a location is not specified during node pool creation, Dataproc on GKE will choose the zone.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "autoscaling": {
          "description": "Optional. The autoscaler configuration for this node pool. The autoscaler is enabled only when a valid configuration is present.",
          "$ref": "GkeNodePoolAutoscalingConfig"
        }
      },
      "description": "The configuration of a GKE node pool used by a Dataproc-on-GKE cluster (https://cloud.google.com/dataproc/docs/concepts/jobs/dataproc-gke#create-a-dataproc-on-gke-cluster).",
      "type": "object"
    },
    "SubmitJobRequest": {
      "description": "A request to submit a job.",
      "type": "object",
      "id": "SubmitJobRequest",
      "properties": {
        "requestId": {
          "description": "Optional. A unique id used to identify the request. If the server receives two SubmitJobRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.SubmitJobRequest)s with the same id, then the second request will be ignored and the first Job created and stored in the backend is returned.It is recommended to always set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The id must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        },
        "job": {
          "$ref": "Job",
          "description": "Required. The job resource."
        }
      }
    },
    "WorkflowTemplate": {
      "id": "WorkflowTemplate",
      "type": "object",
      "properties": {
        "version": {
          "format": "int32",
          "description": "Optional. Used to perform a consistent read-modify-write.This field should be left blank for a CreateWorkflowTemplate request. It is required for an UpdateWorkflowTemplate request, and must match the current server version. A typical update template flow would fetch the current template with a GetWorkflowTemplate request, which will return the current template with the version field filled in with the current server version. The user updates other fields in the template, then returns it as part of the UpdateWorkflowTemplate request.",
          "type": "integer"
        },
        "placement": {
          "$ref": "WorkflowTemplatePlacement",
          "description": "Required. WorkflowTemplate scheduling information."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time template was created.",
          "format": "google-datetime"
        },
        "parameters": {
          "description": "Optional. Template parameters whose values are substituted into the template. Values for parameters must be provided when the template is instantiated.",
          "type": "array",
          "items": {
            "$ref": "TemplateParameter"
          }
        },
        "jobs": {
          "description": "Required. The Directed Acyclic Graph of Jobs to submit.",
          "items": {
            "$ref": "OrderedJob"
          },
          "type": "array"
        },
        "id": {
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time template was last updated."
        },
        "dagTimeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. Timeout duration for the DAG of jobs, expressed in seconds (see JSON representation of duration (https://developers.google.com/protocol-buffers/docs/proto3#json)). The timeout duration must be from 10 minutes (\"600s\") to 24 hours (\"86400s\"). The timer begins when the first job is submitted. If the workflow is running at the end of the timeout period, any remaining jobs are cancelled, the workflow is ended, and if the workflow was running on a managed cluster, the cluster is deleted."
        },
        "labels": {
          "description": "Optional. The labels to associate with this template. These labels will be propagated to all jobs and clusters created by the workflow instance.Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt).Label values may be empty, but, if present, must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt).No more than 32 labels can be associated with a template.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the workflow template, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.workflowTemplates, the resource name of the template has the following format: projects/{project_id}/regions/{region}/workflowTemplates/{template_id} For projects.locations.workflowTemplates, the resource name of the template has the following format: projects/{project_id}/locations/{location}/workflowTemplates/{template_id}",
          "type": "string"
        }
      },
      "description": "A Dataproc workflow template resource."
    },
    "ListWorkflowTemplatesResponse": {
      "type": "object",
      "properties": {
        "templates": {
          "description": "Output only. WorkflowTemplates list.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "WorkflowTemplate"
          }
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent ListWorkflowTemplatesRequest.",
          "type": "string"
        }
      },
      "id": "ListWorkflowTemplatesResponse",
      "description": "A response to a request to list workflow templates in a project."
    },
    "ListSessionsResponse": {
      "type": "object",
      "description": "A list of interactive sessions.",
      "id": "ListSessionsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "sessions": {
          "type": "array",
          "description": "Output only. The sessions from the specified collection.",
          "readOnly": true,
          "items": {
            "$ref": "Session"
          }
        }
      }
    },
    "TemplateParameter": {
      "type": "object",
      "description": "A configurable parameter that replaces one or more fields in the template. Parameterizable fields: - Labels - File uris - Job properties - Job arguments - Script variables - Main class (in HadoopJob and SparkJob) - Zone (in ClusterSelector)",
      "properties": {
        "fields": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Paths to all fields that the parameter replaces. A field is allowed to appear in at most one parameter's list of field paths.A field path is similar in syntax to a google.protobuf.FieldMask. For example, a field path that references the zone field of a workflow template's cluster selector would be specified as placement.clusterSelector.zone.Also, field paths can reference fields using the following syntax: Values in maps can be referenced by key: labels'key' placement.clusterSelector.clusterLabels'key' placement.managedCluster.labels'key' placement.clusterSelector.clusterLabels'key' jobs'step-id'.labels'key' Jobs in the jobs list can be referenced by step-id: jobs'step-id'.hadoopJob.mainJarFileUri jobs'step-id'.hiveJob.queryFileUri jobs'step-id'.pySparkJob.mainPythonFileUri jobs'step-id'.hadoopJob.jarFileUris0 jobs'step-id'.hadoopJob.archiveUris0 jobs'step-id'.hadoopJob.fileUris0 jobs'step-id'.pySparkJob.pythonFileUris0 Items in repeated fields can be referenced by a zero-based index: jobs'step-id'.sparkJob.args0 Other examples: jobs'step-id'.hadoopJob.properties'key' jobs'step-id'.hadoopJob.args0 jobs'step-id'.hiveJob.scriptVariables'key' jobs'step-id'.hadoopJob.mainJarFileUri placement.clusterSelector.zoneIt may not be possible to parameterize maps and repeated fields in their entirety since only individual map values and individual items in repeated fields can be referenced. For example, the following field paths are invalid: placement.clusterSelector.clusterLabels jobs'step-id'.sparkJob.args"
        },
        "validation": {
          "$ref": "ParameterValidation",
          "description": "Optional. Validation rules to be applied to this parameter's value."
        },
        "description": {
          "description": "Optional. Brief description of the parameter. Must not exceed 1024 characters.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Parameter name. The parameter name is used as the key, and paired with the parameter value, which are passed to the template when the template is instantiated. The name must contain only capital letters (A-Z), numbers (0-9), and underscores (_), and must not start with a number. The maximum length is 40 characters."
        }
      },
      "id": "TemplateParameter"
    },
    "JupyterConfig": {
      "id": "JupyterConfig",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. Display name, shown in the Jupyter kernelspec card."
        },
        "kernel": {
          "type": "string",
          "enumDescriptions": [
            "The kernel is unknown.",
            "Python kernel.",
            "Scala kernel."
          ],
          "enum": [
            "KERNEL_UNSPECIFIED",
            "PYTHON",
            "SCALA"
          ],
          "description": "Optional. Kernel"
        }
      },
      "description": "Jupyter configuration for an interactive session."
    },
    "FlinkJob": {
      "id": "FlinkJob",
      "type": "object",
      "description": "A Dataproc job for running Apache Flink (https://flink.apache.org/) applications on YARN.",
      "properties": {
        "properties": {
          "description": "Optional. A mapping of property names to values, used to configure Flink. Properties that conflict with values set by the Dataproc API may beoverwritten. Can include properties set in/etc/flink/conf/flink-defaults.conf and classes in user code.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "mainClass": {
          "description": "The name of the driver's main class. The jar file that contains the class must be in the default CLASSPATH or specified in jar_file_uris.",
          "type": "string"
        },
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "jarFileUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATHs of the Flink driver and tasks."
        },
        "mainJarFileUri": {
          "description": "The HCFS URI of the jar file that contains the main class.",
          "type": "string"
        },
        "savepointUri": {
          "type": "string",
          "description": "Optional. HCFS URI of the savepoint which contains the last saved progress for this job"
        },
        "args": {
          "type": "array",
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as --conf, that can be set as job properties, since a collision may occur that causes an incorrect job submission.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AcceleratorConfig": {
      "description": "Specifies the type and number of accelerator cards attached to the instances of an instance. See GPUs on Compute Engine (https://cloud.google.com/compute/docs/gpus/).",
      "properties": {
        "acceleratorTypeUri": {
          "description": "Full URL, partial URI, or short name of the accelerator type resource to expose to this instance. See Compute Engine AcceleratorTypes (https://cloud.google.com/compute/docs/reference/v1/acceleratorTypes).Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/zones/[zone]/acceleratorTypes/nvidia-tesla-k80 projects/[project_id]/zones/[zone]/acceleratorTypes/nvidia-tesla-k80 nvidia-tesla-k80Auto Zone Exception: If you are using the Dataproc Auto Zone Placement (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/auto-zone#using_auto_zone_placement) feature, you must use the short name of the accelerator type resource, for example, nvidia-tesla-k80.",
          "type": "string"
        },
        "acceleratorCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of the accelerator cards of this type exposed to this instance."
        }
      },
      "type": "object",
      "id": "AcceleratorConfig"
    },
    "InstanceGroupConfig": {
      "type": "object",
      "description": "The config settings for Compute Engine resources in an instance group, such as a master or worker group.",
      "properties": {
        "diskConfig": {
          "$ref": "DiskConfig",
          "description": "Optional. Disk option config settings."
        },
        "numInstances": {
          "description": "Optional. The number of VM instances in the instance group. For HA cluster master_config groups, must be set to 3. For standard cluster master_config groups, must be set to 1.",
          "type": "integer",
          "format": "int32"
        },
        "instanceNames": {
          "description": "Output only. The list of instance names. Dataproc derives the names from cluster_name, num_instances, and the instance group.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "isPreemptible": {
          "description": "Output only. Specifies that this instance group contains preemptible instances.",
          "readOnly": true,
          "type": "boolean"
        },
        "imageUri": {
          "description": "Optional. The Compute Engine image resource used for cluster instances.The URI can represent an image or image family.Image examples: https://www.googleapis.com/compute/v1/projects/[project_id]/global/images/[image-id] projects/[project_id]/global/images/[image-id] image-idImage family examples. Dataproc will use the most recent image from the family: https://www.googleapis.com/compute/v1/projects/[project_id]/global/images/family/[custom-image-family-name] projects/[project_id]/global/images/family/[custom-image-family-name]If the URI is unspecified, it will be inferred from SoftwareConfig.image_version or the system default.",
          "type": "string"
        },
        "accelerators": {
          "type": "array",
          "description": "Optional. The Compute Engine accelerator configuration for these instances.",
          "items": {
            "$ref": "AcceleratorConfig"
          }
        },
        "preemptibility": {
          "enum": [
            "PREEMPTIBILITY_UNSPECIFIED",
            "NON_PREEMPTIBLE",
            "PREEMPTIBLE",
            "SPOT"
          ],
          "enumDescriptions": [
            "Preemptibility is unspecified, the system will choose the appropriate setting for each instance group.",
            "Instances are non-preemptible.This option is allowed for all instance groups and is the only valid value for Master and Worker instance groups.",
            "Instances are preemptible (https://cloud.google.com/compute/docs/instances/preemptible).This option is allowed only for secondary worker (https://cloud.google.com/dataproc/docs/concepts/compute/secondary-vms) groups.",
            "Instances are Spot VMs (https://cloud.google.com/compute/docs/instances/spot).This option is allowed only for secondary worker (https://cloud.google.com/dataproc/docs/concepts/compute/secondary-vms) groups. Spot VMs are the latest version of preemptible VMs (https://cloud.google.com/compute/docs/instances/preemptible), and provide additional features."
          ],
          "type": "string",
          "description": "Optional. Specifies the preemptibility of the instance group.The default value for master and worker groups is NON_PREEMPTIBLE. This default cannot be changed.The default value for secondary instances is PREEMPTIBLE."
        },
        "managedGroupConfig": {
          "readOnly": true,
          "description": "Output only. The config for Compute Engine Instance Group Manager that manages this group. This is only used for preemptible instance groups.",
          "$ref": "ManagedGroupConfig"
        },
        "minNumInstances": {
          "type": "integer",
          "description": "Optional. The minimum number of instances to create. If min_num_instances is set, min_num_instances is used for a criteria to decide the cluster. Cluster creation will be failed by being an error state if the total number of instances created is less than the min_num_instances. For example, given that num_instances = 5 and min_num_instances = 3, * if 4 instances are created and then registered successfully but one instance is failed, the failed VM will be deleted and the cluster will be resized to 4 instances in running state. * if 2 instances are created successfully and 3 instances are failed, the cluster will be in an error state and does not delete failed VMs for debugging. * if 2 instance are created and then registered successfully but 3 instances are failed to initialize, the cluster will be in an error state and does not delete failed VMs for debugging. NB: This can only be set for primary workers now.",
          "format": "int32"
        },
        "instanceReferences": {
          "description": "Output only. List of references to Compute Engine instances.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "InstanceReference"
          }
        },
        "machineTypeUri": {
          "type": "string",
          "description": "Optional. The Compute Engine machine type used for cluster instances.A full URL, partial URI, or short name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/zones/[zone]/machineTypes/n1-standard-2 projects/[project_id]/zones/[zone]/machineTypes/n1-standard-2 n1-standard-2Auto Zone Exception: If you are using the Dataproc Auto Zone Placement (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/auto-zone#using_auto_zone_placement) feature, you must use the short name of the machine type resource, for example, n1-standard-2."
        },
        "minCpuPlatform": {
          "type": "string",
          "description": "Optional. Specifies the minimum cpu platform for the Instance Group. See Dataproc -\u003e Minimum CPU Platform (https://cloud.google.com/dataproc/docs/concepts/compute/dataproc-min-cpu)."
        }
      },
      "id": "InstanceGroupConfig"
    },
    "ListBatchesResponse": {
      "id": "ListBatchesResponse",
      "type": "object",
      "properties": {
        "batches": {
          "items": {
            "$ref": "Batch"
          },
          "description": "Output only. The batches from the specified collection.",
          "type": "array",
          "readOnly": true
        },
        "nextPageToken": {
          "description": "A token, which can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "A list of batch workloads."
    },
    "GkeNodeConfig": {
      "id": "GkeNodeConfig",
      "description": "Parameters that describe cluster nodes.",
      "properties": {
        "minCpuPlatform": {
          "type": "string",
          "description": "Optional. Minimum CPU platform (https://cloud.google.com/compute/docs/instances/specify-min-cpu-platform) to be used by this instance. The instance may be scheduled on the specified or a newer CPU platform. Specify the friendly names of CPU platforms, such as \"Intel Haswell\"` or Intel Sandy Bridge\"."
        },
        "spot": {
          "description": "Optional. Whether the nodes are created as Spot VM instances (https://cloud.google.com/compute/docs/instances/spot). Spot VMs are the latest update to legacy preemptible VMs. Spot VMs do not have a maximum lifetime. Legacy and Spot preemptible nodes cannot be used in a node pool with the CONTROLLER role or in the DEFAULT node pool if the CONTROLLER role is not assigned (the DEFAULT node pool will assume the CONTROLLER role).",
          "type": "boolean"
        },
        "localSsdCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of local SSD disks to attach to the node, which is limited by the maximum number of disks allowable per zone (see Adding Local SSDs (https://cloud.google.com/compute/docs/disks/local-ssd))."
        },
        "accelerators": {
          "type": "array",
          "items": {
            "$ref": "GkeNodePoolAcceleratorConfig"
          },
          "description": "Optional. A list of hardware accelerators (https://cloud.google.com/compute/docs/gpus) to attach to each node."
        },
        "machineType": {
          "type": "string",
          "description": "Optional. The name of a Compute Engine machine type (https://cloud.google.com/compute/docs/machine-types)."
        },
        "bootDiskKmsKey": {
          "description": "Optional. The Customer Managed Encryption Key (CMEK) (https://cloud.google.com/kubernetes-engine/docs/how-to/using-cmek) used to encrypt the boot disk attached to each node in the node pool. Specify the key using the following format: projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}",
          "type": "string"
        },
        "preemptible": {
          "type": "boolean",
          "description": "Optional. Whether the nodes are created as legacy preemptible VM instances (https://cloud.google.com/compute/docs/instances/preemptible). Also see Spot VMs, preemptible VM instances without a maximum lifetime. Legacy and Spot preemptible nodes cannot be used in a node pool with the CONTROLLER role or in the DEFAULT node pool if the CONTROLLER role is not assigned (the DEFAULT node pool will assume the CONTROLLER role)."
        }
      },
      "type": "object"
    },
    "Interval": {
      "properties": {
        "endTime": {
          "description": "Optional. Exclusive end of the interval.If specified, a Timestamp matching this interval will have to be before the end.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Inclusive start of the interval.If specified, a Timestamp matching this interval will have to be the same or after the start."
        }
      },
      "type": "object",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive).The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "id": "Interval"
    },
    "LoggingConfig": {
      "description": "The runtime logging config of the job.",
      "id": "LoggingConfig",
      "properties": {
        "driverLogLevels": {
          "additionalProperties": {
            "type": "string",
            "enum": [
              "LEVEL_UNSPECIFIED",
              "ALL",
              "TRACE",
              "DEBUG",
              "INFO",
              "WARN",
              "ERROR",
              "FATAL",
              "OFF"
            ],
            "enumDescriptions": [
              "Level is unspecified. Use default level for log4j.",
              "Use ALL level for log4j.",
              "Use TRACE level for log4j.",
              "Use DEBUG level for log4j.",
              "Use INFO level for log4j.",
              "Use WARN level for log4j.",
              "Use ERROR level for log4j.",
              "Use FATAL level for log4j.",
              "Turn off log4j."
            ]
          },
          "type": "object",
          "description": "The per-package log levels for the driver. This may include \"root\" package name to configure rootLogger. Examples: - 'com.google = FATAL' - 'root = INFO' - 'org.apache = DEBUG'"
        }
      },
      "type": "object"
    },
    "InstantiateWorkflowTemplateRequest": {
      "description": "A request to instantiate a workflow template.",
      "type": "object",
      "id": "InstantiateWorkflowTemplateRequest",
      "properties": {
        "requestId": {
          "description": "Optional. A tag that prevents multiple concurrent workflow instances with the same tag from running. This mitigates risk of concurrent instances started due to retries.It is recommended to always set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The tag must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Map from parameter names to values that should be used for those parameters. Values may not exceed 1000 characters."
        },
        "version": {
          "type": "integer",
          "description": "Optional. The version of workflow template to instantiate. If specified, the workflow will be instantiated only if the current version of the workflow template has the supplied version.This option cannot be used to instantiate a previous version of workflow template.",
          "format": "int32"
        }
      }
    },
    "ClusterOperation": {
      "properties": {
        "operationId": {
          "type": "string",
          "description": "Output only. The id of the cluster operation.",
          "readOnly": true
        },
        "error": {
          "description": "Output only. Error, if operation failed.",
          "readOnly": true,
          "type": "string"
        },
        "done": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates the operation is done."
        }
      },
      "type": "object",
      "description": "The cluster operation triggered by a workflow.",
      "id": "ClusterOperation"
    },
    "AuxiliaryNodeGroup": {
      "id": "AuxiliaryNodeGroup",
      "type": "object",
      "properties": {
        "nodeGroup": {
          "$ref": "NodeGroup",
          "description": "Required. Node group configuration."
        },
        "nodeGroupId": {
          "type": "string",
          "description": "Optional. A node group ID. Generated if not specified.The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). Cannot begin or end with underscore or hyphen. Must consist of from 3 to 33 characters."
        }
      },
      "description": "Node group identification and configuration information."
    },
    "DataprocMetricConfig": {
      "type": "object",
      "properties": {
        "metrics": {
          "items": {
            "$ref": "Metric"
          },
          "type": "array",
          "description": "Required. Metrics sources to enable."
        }
      },
      "description": "Dataproc metric config.",
      "id": "DataprocMetricConfig"
    },
    "SecurityConfig": {
      "description": "Security related configuration, including encryption, Kerberos, etc.",
      "properties": {
        "kerberosConfig": {
          "description": "Optional. Kerberos related configuration.",
          "$ref": "KerberosConfig"
        },
        "identityConfig": {
          "$ref": "IdentityConfig",
          "description": "Optional. Identity related configuration, including service account based secure multi-tenancy user mappings."
        }
      },
      "type": "object",
      "id": "SecurityConfig"
    },
    "SparkSqlBatch": {
      "id": "SparkSqlBatch",
      "properties": {
        "queryVariables": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Mapping of query variable names to values (equivalent to the Spark SQL command: SET name=\"value\";).",
          "type": "object"
        },
        "queryFileUri": {
          "description": "Required. The HCFS URI of the script that contains Spark SQL queries to execute.",
          "type": "string"
        },
        "jarFileUris": {
          "type": "array",
          "description": "Optional. HCFS URIs of jar files to be added to the Spark CLASSPATH.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A configuration for running Apache Spark SQL (https://spark.apache.org/sql/) queries as a batch workload.",
      "type": "object"
    },
    "SparkJob": {
      "id": "SparkJob",
      "description": "A Dataproc job for running Apache Spark (https://spark.apache.org/) applications on YARN.",
      "type": "object",
      "properties": {
        "args": {
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as --conf, that can be set as job properties, since a collision may occur that causes an incorrect job submission.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "fileUris": {
          "type": "array",
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor. Useful for naively parallel tasks.",
          "items": {
            "type": "string"
          }
        },
        "archiveUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip."
        },
        "mainJarFileUri": {
          "description": "The HCFS URI of the jar file that contains the main class.",
          "type": "string"
        },
        "loggingConfig": {
          "$ref": "LoggingConfig",
          "description": "Optional. The runtime log config for job execution."
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. A mapping of property names to values, used to configure Spark. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/spark/conf/spark-defaults.conf and classes in user code."
        },
        "jarFileUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATHs of the Spark driver and tasks."
        },
        "mainClass": {
          "type": "string",
          "description": "The name of the driver's main class. The jar file that contains the class must be in the default CLASSPATH or specified in jar_file_uris."
        }
      }
    },
    "AuxiliaryServicesConfig": {
      "type": "object",
      "properties": {
        "sparkHistoryServerConfig": {
          "description": "Optional. The Spark History Server configuration for the workload.",
          "$ref": "SparkHistoryServerConfig"
        },
        "metastoreConfig": {
          "$ref": "MetastoreConfig",
          "description": "Optional. The Hive Metastore configuration for this workload."
        }
      },
      "description": "Auxiliary services configuration for a Cluster.",
      "id": "AuxiliaryServicesConfig"
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "description": "A subset of TestPermissionsRequest.permissions that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "TestIamPermissionsResponse",
      "type": "object",
      "description": "Response message for TestIamPermissions method."
    },
    "GkeNodePoolAcceleratorConfig": {
      "description": "A GkeNodeConfigAcceleratorConfig represents a Hardware Accelerator request for a node pool.",
      "id": "GkeNodePoolAcceleratorConfig",
      "type": "object",
      "properties": {
        "acceleratorType": {
          "type": "string",
          "description": "The accelerator type resource namename (see GPUs on Compute Engine)."
        },
        "gpuPartitionSize": {
          "description": "Size of partitions to create on the GPU. Valid values are described in the NVIDIA mig user guide (https://docs.nvidia.com/datacenter/tesla/mig-user-guide/#partitioning).",
          "type": "string"
        },
        "acceleratorCount": {
          "description": "The number of accelerator cards exposed to an instance.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "HadoopJob": {
      "description": "A Dataproc job for running Apache Hadoop MapReduce (https://hadoop.apache.org/docs/current/hadoop-mapreduce-client/hadoop-mapreduce-client-core/MapReduceTutorial.html) jobs on Apache Hadoop YARN (https://hadoop.apache.org/docs/r2.7.1/hadoop-yarn/hadoop-yarn-site/YARN.html).",
      "properties": {
        "args": {
          "type": "array",
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as -libjars or -Dfoo=bar, that can be set as job properties, since a collision may occur that causes an incorrect job submission.",
          "items": {
            "type": "string"
          }
        },
        "jarFileUris": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Jar file URIs to add to the CLASSPATHs of the Hadoop driver and tasks.",
          "type": "array"
        },
        "mainJarFileUri": {
          "type": "string",
          "description": "The HCFS URI of the jar file containing the main class. Examples: 'gs://foo-bucket/analytics-binaries/extract-useful-metrics-mr.jar' 'hdfs:/tmp/test-samples/custom-wordcount.jar' 'file:///home/usr/lib/hadoop-mapreduce/hadoop-mapreduce-examples.jar'"
        },
        "fileUris": {
          "description": "Optional. HCFS (Hadoop Compatible Filesystem) URIs of files to be copied to the working directory of Hadoop drivers and distributed tasks. Useful for naively parallel tasks.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "archiveUris": {
          "type": "array",
          "description": "Optional. HCFS URIs of archives to be extracted in the working directory of Hadoop drivers and tasks. Supported file types: .jar, .tar, .tar.gz, .tgz, or .zip.",
          "items": {
            "type": "string"
          }
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. A mapping of property names to values, used to configure Hadoop. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/hadoop/conf/*-site and classes in user code."
        },
        "mainClass": {
          "description": "The name of the driver's main class. The jar file containing the class must be in the default CLASSPATH or specified in jar_file_uris.",
          "type": "string"
        }
      },
      "id": "HadoopJob",
      "type": "object"
    },
    "JobPlacement": {
      "type": "object",
      "id": "JobPlacement",
      "description": "Dataproc job config.",
      "properties": {
        "clusterUuid": {
          "readOnly": true,
          "description": "Output only. A cluster UUID generated by the Dataproc service when the job is submitted.",
          "type": "string"
        },
        "clusterName": {
          "type": "string",
          "description": "Required. The name of the cluster where the job will be submitted."
        },
        "clusterLabels": {
          "description": "Optional. Cluster labels to identify a cluster where the job will be submitted.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "AutoscalingConfig": {
      "properties": {
        "policyUri": {
          "description": "Optional. The autoscaling policy used by the cluster.Only resource names including projectid and location (region) are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/locations/[dataproc_region]/autoscalingPolicies/[policy_id] projects/[project_id]/locations/[dataproc_region]/autoscalingPolicies/[policy_id]Note that the policy must be in the same project and Dataproc region.",
          "type": "string"
        }
      },
      "id": "AutoscalingConfig",
      "type": "object",
      "description": "Autoscaling Policy config associated with the cluster."
    },
    "TerminateSessionRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. A unique ID used to identify the request. If the service receives two TerminateSessionRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.TerminateSessionRequest)s with the same ID, the second request is ignored.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The value must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A request to terminate an interactive session.",
      "id": "TerminateSessionRequest"
    },
    "SessionStateHistory": {
      "type": "object",
      "description": "Historical state information.",
      "properties": {
        "stateMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Details about the state at this point in history."
        },
        "state": {
          "type": "string",
          "description": "Output only. The state of the session at this point in history.",
          "enumDescriptions": [
            "The session state is unknown.",
            "The session is created before running.",
            "The session is running.",
            "The session is terminating.",
            "The session is terminated successfully.",
            "The session is no longer running due to an error."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "TERMINATING",
            "TERMINATED",
            "FAILED"
          ]
        },
        "stateStartTime": {
          "description": "Output only. The time when the session entered the historical state.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "SessionStateHistory"
    },
    "ClusterStatus": {
      "type": "object",
      "id": "ClusterStatus",
      "description": "The status of a cluster and its instances.",
      "properties": {
        "state": {
          "enum": [
            "UNKNOWN",
            "CREATING",
            "RUNNING",
            "ERROR",
            "ERROR_DUE_TO_UPDATE",
            "DELETING",
            "UPDATING",
            "STOPPING",
            "STOPPED",
            "STARTING",
            "REPAIRING"
          ],
          "readOnly": true,
          "description": "Output only. The cluster's state.",
          "enumDescriptions": [
            "The cluster state is unknown.",
            "The cluster is being created and set up. It is not ready for use.",
            "The cluster is currently running and healthy. It is ready for use.Note: The cluster state changes from \"creating\" to \"running\" status after the master node(s), first two primary worker nodes (and the last primary worker node if primary workers \u003e 2) are running.",
            "The cluster encountered an error. It is not ready for use.",
            "The cluster has encountered an error while being updated. Jobs can be submitted to the cluster, but the cluster cannot be updated.",
            "The cluster is being deleted. It cannot be used.",
            "The cluster is being updated. It continues to accept and process jobs.",
            "The cluster is being stopped. It cannot be used.",
            "The cluster is currently stopped. It is not ready for use.",
            "The cluster is being started. It is not ready for use.",
            "The cluster is being repaired. It is not ready for use."
          ],
          "type": "string"
        },
        "substate": {
          "readOnly": true,
          "enum": [
            "UNSPECIFIED",
            "UNHEALTHY",
            "STALE_STATUS"
          ],
          "enumDescriptions": [
            "The cluster substate is unknown.",
            "The cluster is known to be in an unhealthy state (for example, critical daemons are not running or HDFS capacity is exhausted).Applies to RUNNING state.",
            "The agent-reported status is out of date (may occur if Dataproc loses communication with Agent).Applies to RUNNING state."
          ],
          "description": "Output only. Additional state information that includes status reported by the agent.",
          "type": "string"
        },
        "detail": {
          "description": "Optional. Output only. Details of cluster's state.",
          "readOnly": true,
          "type": "string"
        },
        "stateStartTime": {
          "format": "google-datetime",
          "description": "Output only. Time when this state was entered (see JSON representation of Timestamp (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "PySparkBatch": {
      "properties": {
        "jarFileUris": {
          "description": "Optional. HCFS URIs of jar files to add to the classpath of the Spark driver and tasks.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pythonFileUris": {
          "description": "Optional. HCFS file URIs of Python files to pass to the PySpark framework. Supported file types: .py, .egg, and .zip.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "args": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The arguments to pass to the driver. Do not include arguments that can be set as batch properties, such as --conf, since a collision can occur that causes an incorrect batch submission."
        },
        "fileUris": {
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "archiveUris": {
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mainPythonFileUri": {
          "type": "string",
          "description": "Required. The HCFS URI of the main Python file to use as the Spark driver. Must be a .py file."
        }
      },
      "id": "PySparkBatch",
      "type": "object",
      "description": "A configuration for running an Apache PySpark (https://spark.apache.org/docs/latest/api/python/getting_started/quickstart.html) batch workload."
    },
    "CancelJobRequest": {
      "properties": {},
      "id": "CancelJobRequest",
      "description": "A request to cancel a job.",
      "type": "object"
    },
    "WorkflowNode": {
      "properties": {
        "state": {
          "enum": [
            "NODE_STATE_UNSPECIFIED",
            "BLOCKED",
            "RUNNABLE",
            "RUNNING",
            "COMPLETED",
            "FAILED"
          ],
          "description": "Output only. The node state.",
          "readOnly": true,
          "enumDescriptions": [
            "State is unspecified.",
            "The node is awaiting prerequisite node to finish.",
            "The node is runnable but not running.",
            "The node is running.",
            "The node completed successfully.",
            "The node failed. A node can be marked FAILED because its ancestor or peer failed."
          ],
          "type": "string"
        },
        "prerequisiteStepIds": {
          "description": "Output only. Node's prerequisite nodes.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "error": {
          "readOnly": true,
          "description": "Output only. The error detail.",
          "type": "string"
        },
        "jobId": {
          "readOnly": true,
          "description": "Output only. The job id; populated after the node enters RUNNING state.",
          "type": "string"
        },
        "stepId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the node."
        }
      },
      "type": "object",
      "id": "WorkflowNode",
      "description": "The workflow node."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "id": "Operation"
    },
    "ManagedCluster": {
      "description": "Cluster that is managed by the workflow.",
      "id": "ManagedCluster",
      "properties": {
        "clusterName": {
          "type": "string",
          "description": "Required. The cluster name prefix. A unique cluster name will be formed by appending a random suffix.The name must contain only lower-case letters (a-z), numbers (0-9), and hyphens (-). Must begin with a letter. Cannot begin or end with hyphen. Must consist of between 2 and 35 characters."
        },
        "labels": {
          "type": "object",
          "description": "Optional. The labels to associate with this cluster.Label keys must be between 1 and 63 characters long, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62}Label values must be between 1 and 63 characters long, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}\\p{N}_-{0,63}No more than 32 labels can be associated with a given cluster.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "config": {
          "$ref": "ClusterConfig",
          "description": "Required. The cluster configuration."
        }
      },
      "type": "object"
    },
    "ResizeNodeGroupRequest": {
      "description": "A request to resize a node group.",
      "id": "ResizeNodeGroupRequest",
      "properties": {
        "gracefulDecommissionTimeout": {
          "description": "Optional. Timeout for graceful YARN decommissioning. Graceful decommissioning (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/scaling-clusters#graceful_decommissioning) allows the removal of nodes from the Compute Engine node group without interrupting jobs in progress. This timeout specifies how long to wait for jobs in progress to finish before forcefully removing nodes (and potentially interrupting jobs). Default timeout is 0 (for forceful decommission), and the maximum allowed timeout is 1 day. (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).Only supported on Dataproc image versions 1.2 and higher.",
          "format": "google-duration",
          "type": "string"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. A unique ID used to identify the request. If the server receives two ResizeNodeGroupRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.ResizeNodeGroupRequests) with the same ID, the second request is ignored and the first google.longrunning.Operation created and stored in the backend is returned.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters."
        },
        "size": {
          "description": "Required. The number of running instances for the node group to maintain. The group adds or removes instances to maintain the number of instances specified by this parameter.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ClusterSelector": {
      "type": "object",
      "description": "A selector that chooses target cluster for jobs based on metadata.",
      "properties": {
        "clusterLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. The cluster labels. Cluster must have all labels to match.",
          "type": "object"
        },
        "zone": {
          "description": "Optional. The zone where workflow process executes. This parameter does not affect the selection of the cluster.If unspecified, the zone of the first cluster matching the selector is used.",
          "type": "string"
        }
      },
      "id": "ClusterSelector"
    },
    "GetPolicyOptions": {
      "id": "GetPolicyOptions",
      "properties": {
        "requestedPolicyVersion": {
          "format": "int32",
          "description": "Optional. The maximum policy version that will be used to format the policy.Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected.Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset.The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Encapsulates settings provided to GetIamPolicy."
    },
    "KubernetesClusterConfig": {
      "id": "KubernetesClusterConfig",
      "type": "object",
      "properties": {
        "kubernetesNamespace": {
          "type": "string",
          "description": "Optional. A namespace within the Kubernetes cluster to deploy into. If this namespace does not exist, it is created. If it exists, Dataproc verifies that another Dataproc VirtualCluster is not installed into it. If not specified, the name of the Dataproc Cluster is used."
        },
        "kubernetesSoftwareConfig": {
          "description": "Optional. The software configuration for this Dataproc cluster running on Kubernetes.",
[...]
