{
  "id": "dataproc:v1beta2",
  "mtlsRootUrl": "https://dataproc.mtls.googleapis.com/",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/dataproc/",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "servicePath": "",
  "revision": "20210825",
  "batchPath": "batch",
  "title": "Cloud Dataproc API",
  "baseUrl": "https://dataproc.googleapis.com/",
  "version": "v1beta2",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "autoscalingPolicies": {
              "methods": {
                "update": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/autoscalingPolicies/[^/]+$",
                      "type": "string",
                      "description": "Output only. The \"resource name\" of the autoscaling policy, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.autoscalingPolicies, the resource name of the policy has the following format: projects/{project_id}/regions/{region}/autoscalingPolicies/{policy_id} For projects.locations.autoscalingPolicies, the resource name of the policy has the following format: projects/{project_id}/locations/{location}/autoscalingPolicies/{policy_id}",
                      "required": true
                    }
                  },
                  "id": "dataproc.projects.locations.autoscalingPolicies.update",
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/autoscalingPolicies/{autoscalingPoliciesId}",
                  "response": {
                    "$ref": "AutoscalingPolicy"
                  },
                  "path": "v1beta2/{+name}",
                  "httpMethod": "PUT",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates (replaces) autoscaling policy.Disabled check for update_mask, because all updates will be full replacements.",
                  "request": {
                    "$ref": "AutoscalingPolicy"
                  }
                },
                "create": {
                  "response": {
                    "$ref": "AutoscalingPolicy"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The \"resource name\" of the region or location, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.autoscalingPolicies.create, the resource name has the following format: projects/{project_id}/regions/{region} For projects.locations.autoscalingPolicies.create, the resource name has the following format: projects/{project_id}/locations/{location}",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "Creates new autoscaling policy.",
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/autoscalingPolicies",
                  "request": {
                    "$ref": "AutoscalingPolicy"
                  },
                  "path": "v1beta2/{+parent}/autoscalingPolicies",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dataproc.projects.locations.autoscalingPolicies.create"
                },
                "testIamPermissions": {
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/autoscalingPolicies/{autoscalingPoliciesId}:testIamPermissions",
                  "path": "v1beta2/{+resource}:testIamPermissions",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "dataproc.projects.locations.autoscalingPolicies.testIamPermissions",
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a NOT_FOUND error.Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "httpMethod": "POST",
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/autoscalingPolicies/[^/]+$",
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
                      "required": true
                    }
                  }
                },
                "list": {
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/autoscalingPolicies",
                  "id": "dataproc.projects.locations.autoscalingPolicies.list",
                  "path": "v1beta2/{+parent}/autoscalingPolicies",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListAutoscalingPoliciesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists autoscaling policies in the project.",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The page token, returned by a previous call, to request the next page of results."
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of results to return in each response. Must be less than or equal to 1000. Defaults to 100.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The \"resource name\" of the region or location, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.autoscalingPolicies.list, the resource name of the region has the following format: projects/{project_id}/regions/{region} For projects.locations.autoscalingPolicies.list, the resource name of the location has the following format: projects/{project_id}/locations/{location}",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/autoscalingPolicies/{autoscalingPoliciesId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The \"resource name\" of the autoscaling policy, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.autoscalingPolicies.get, the resource name of the policy has the following format: projects/{project_id}/regions/{region}/autoscalingPolicies/{policy_id} For projects.locations.autoscalingPolicies.get, the resource name of the policy has the following format: projects/{project_id}/locations/{location}/autoscalingPolicies/{policy_id}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/autoscalingPolicies/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Retrieves autoscaling policy.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta2/{+name}",
                  "id": "dataproc.projects.locations.autoscalingPolicies.get",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "AutoscalingPolicy"
                  }
                },
                "delete": {
                  "id": "dataproc.projects.locations.autoscalingPolicies.delete",
                  "httpMethod": "DELETE",
                  "description": "Deletes an autoscaling policy. It is an error to delete an autoscaling policy that is in use by one or more clusters.",
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/autoscalingPolicies/{autoscalingPoliciesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The \"resource name\" of the autoscaling policy, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.autoscalingPolicies.delete, the resource name of the policy has the following format: projects/{project_id}/regions/{region}/autoscalingPolicies/{policy_id} For projects.locations.autoscalingPolicies.delete, the resource name of the policy has the following format: projects/{project_id}/locations/{location}/autoscalingPolicies/{policy_id}",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/autoscalingPolicies/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta2/{+name}"
                },
                "getIamPolicy": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "id": "dataproc.projects.locations.autoscalingPolicies.getIamPolicy",
                  "parameters": {
                    "options.requestedPolicyVersion": {
                      "location": "query",
                      "description": "Optional. The policy format version to be returned.Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected.Requests for policies with any conditional bindings must specify version 3. Policies without any conditional bindings may specify any valid value or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "type": "integer",
                      "format": "int32"
                    },
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/autoscalingPolicies/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field."
                    }
                  },
                  "response": {
                    "$ref": "Policy"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/autoscalingPolicies/{autoscalingPoliciesId}:getIamPolicy",
                  "path": "v1beta2/{+resource}:getIamPolicy",
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set."
                },
                "setIamPolicy": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/autoscalingPolicies/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "path": "v1beta2/{+resource}:setIamPolicy",
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy.Can return NOT_FOUND, INVALID_ARGUMENT, and PERMISSION_DENIED errors.",
                  "httpMethod": "POST",
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/autoscalingPolicies/{autoscalingPoliciesId}:setIamPolicy",
                  "id": "dataproc.projects.locations.autoscalingPolicies.setIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  }
                }
              }
            },
            "workflowTemplates": {
              "methods": {
                "update": {
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/workflowTemplates/{workflowTemplatesId}",
                  "httpMethod": "PUT",
                  "response": {
                    "$ref": "WorkflowTemplate"
                  },
                  "id": "dataproc.projects.locations.workflowTemplates.update",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Output only. The resource name of the workflow template, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.workflowTemplates, the resource name of the template has the following format: projects/{project_id}/regions/{region}/workflowTemplates/{template_id} For projects.locations.workflowTemplates, the resource name of the template has the following format: projects/{project_id}/locations/{location}/workflowTemplates/{template_id}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workflowTemplates/[^/]+$",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "WorkflowTemplate"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates (replaces) workflow template. The updated template must contain version that matches the current server version.",
                  "path": "v1beta2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "ListWorkflowTemplatesResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. The maximum number of results to return in each response.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the region or location, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.workflowTemplates,list, the resource name of the region has the following format: projects/{project_id}/regions/{region} For projects.locations.workflowTemplates.list, the resource name of the location has the following format: projects/{project_id}/locations/{location}"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. The page token, returned by a previous call, to request the next page of results.",
                      "type": "string"
                    }
                  },
                  "path": "v1beta2/{+parent}/workflowTemplates",
                  "id": "dataproc.projects.locations.workflowTemplates.list",
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/workflowTemplates",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists workflows that match the specified filter in the request.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "instantiateInline": {
                  "description": "Instantiates a template and begins execution.This method is equivalent to executing the sequence CreateWorkflowTemplate, InstantiateWorkflowTemplate, DeleteWorkflowTemplate.The returned Operation can be used to track execution of workflow by polling operations.get. The Operation will complete when entire workflow is finished.The running workflow can be aborted via operations.cancel. This will cause any inflight jobs to be cancelled and workflow-owned clusters to be deleted.The Operation.metadata will be WorkflowMetadata (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#workflowmetadata). Also see Using WorkflowMetadata (https://cloud.google.com/dataproc/docs/concepts/workflows/debugging#using_workflowmetadata).On successful completion, Operation.response will be Empty.",
                  "request": {
                    "$ref": "WorkflowTemplate"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/workflowTemplates:instantiateInline",
                  "path": "v1beta2/{+parent}/workflowTemplates:instantiateInline",
                  "id": "dataproc.projects.locations.workflowTemplates.instantiateInline",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "instanceId": {
                      "description": "Deprecated. Please use request_id field instead.",
                      "type": "string",
                      "location": "query"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. A tag that prevents multiple concurrent workflow instances with the same tag from running. This mitigates risk of concurrent instances started due to retries.It is recommended to always set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The tag must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The resource name of the region or location, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.workflowTemplates,instantiateinline, the resource name of the region has the following format: projects/{project_id}/regions/{region} For projects.locations.workflowTemplates.instantiateinline, the resource name of the location has the following format: projects/{project_id}/locations/{location}",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  }
                },
                "setIamPolicy": {
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy.Can return NOT_FOUND, INVALID_ARGUMENT, and PERMISSION_DENIED errors.",
                  "parameters": {
                    "resource": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/workflowTemplates/[^/]+$",
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "id": "dataproc.projects.locations.workflowTemplates.setIamPolicy",
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/workflowTemplates/{workflowTemplatesId}:setIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "resource"
                  ],
                  "response": {
                    "$ref": "Policy"
                  },
                  "path": "v1beta2/{+resource}:setIamPolicy"
                },
                "testIamPermissions": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "path": "v1beta2/{+resource}:testIamPermissions",
                  "id": "dataproc.projects.locations.workflowTemplates.testIamPermissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/workflowTemplates/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field."
                    }
                  },
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a NOT_FOUND error.Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/workflowTemplates/{workflowTemplatesId}:testIamPermissions"
                },
                "create": {
                  "response": {
                    "$ref": "WorkflowTemplate"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "WorkflowTemplate"
                  },
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/workflowTemplates",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The resource name of the region or location, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.workflowTemplates,create, the resource name of the region has the following format: projects/{project_id}/regions/{region} For projects.locations.workflowTemplates.create, the resource name of the location has the following format: projects/{project_id}/locations/{location}",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v1beta2/{+parent}/workflowTemplates",
                  "description": "Creates new workflow template.",
                  "id": "dataproc.projects.locations.workflowTemplates.create"
                },
                "delete": {
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/workflowTemplates/{workflowTemplatesId}",
                  "description": "Deletes a workflow template. It does not cancel in-progress workflows.",
                  "path": "v1beta2/{+name}",
                  "id": "dataproc.projects.locations.workflowTemplates.delete",
                  "parameters": {
                    "version": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The version of workflow template to delete. If specified, will only delete the template if the current server version matches specified version.",
                      "type": "integer"
                    },
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the workflow template, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.workflowTemplates.delete, the resource name of the template has the following format: projects/{project_id}/regions/{region}/workflowTemplates/{template_id} For projects.locations.workflowTemplates.instantiate, the resource name of the template has the following format: projects/{project_id}/locations/{location}/workflowTemplates/{template_id}",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workflowTemplates/[^/]+$",
                      "required": true
                    }
                  },
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "getIamPolicy": {
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "id": "dataproc.projects.locations.workflowTemplates.getIamPolicy",
                  "path": "v1beta2/{+resource}:getIamPolicy",
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/workflowTemplates/{workflowTemplatesId}:getIamPolicy",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "options.requestedPolicyVersion": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The policy format version to be returned.Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected.Requests for policies with any conditional bindings must specify version 3. Policies without any conditional bindings may specify any valid value or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "type": "integer"
                    },
                    "resource": {
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workflowTemplates/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set."
                },
                "instantiate": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/workflowTemplates/{workflowTemplatesId}:instantiate",
                  "path": "v1beta2/{+name}:instantiate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "dataproc.projects.locations.workflowTemplates.instantiate",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Instantiates a template and begins execution.The returned Operation can be used to track execution of workflow by polling operations.get. The Operation will complete when entire workflow is finished.The running workflow can be aborted via operations.cancel. This will cause any inflight jobs to be cancelled and workflow-owned clusters to be deleted.The Operation.metadata will be WorkflowMetadata (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1beta2#workflowmetadata). Also see Using WorkflowMetadata (https://cloud.google.com/dataproc/docs/concepts/workflows/debugging#using_workflowmetadata).On successful completion, Operation.response will be Empty.",
                  "request": {
                    "$ref": "InstantiateWorkflowTemplateRequest"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/workflowTemplates/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name of the workflow template, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.workflowTemplates.instantiate, the resource name of the template has the following format: projects/{project_id}/regions/{region}/workflowTemplates/{template_id} For projects.locations.workflowTemplates.instantiate, the resource name of the template has the following format: projects/{project_id}/locations/{location}/workflowTemplates/{template_id}",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dataproc.projects.locations.workflowTemplates.get",
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/workflowTemplates/{workflowTemplatesId}",
                  "description": "Retrieves the latest workflow template.Can retrieve previously instantiated template by specifying optional version parameter.",
                  "response": {
                    "$ref": "WorkflowTemplate"
                  },
                  "path": "v1beta2/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the workflow template, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.workflowTemplates.get, the resource name of the template has the following format: projects/{project_id}/regions/{region}/workflowTemplates/{template_id} For projects.locations.workflowTemplates.get, the resource name of the template has the following format: projects/{project_id}/locations/{location}/workflowTemplates/{template_id}",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/workflowTemplates/[^/]+$"
                    },
                    "version": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The version of workflow template to retrieve. Only previously instantiated versions can be retrieved.If unspecified, retrieves the current version.",
                      "location": "query"
                    }
                  }
                }
              }
            }
          }
        },
        "regions": {
          "resources": {
            "autoscalingPolicies": {
              "methods": {
                "list": {
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The page token, returned by a previous call, to request the next page of results."
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The maximum number of results to return in each response. Must be less than or equal to 1000. Defaults to 100."
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/regions/[^/]+$",
                      "description": "Required. The \"resource name\" of the region or location, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.autoscalingPolicies.list, the resource name of the region has the following format: projects/{project_id}/regions/{region} For projects.locations.autoscalingPolicies.list, the resource name of the location has the following format: projects/{project_id}/locations/{location}"
                    }
                  },
                  "description": "Lists autoscaling policies in the project.",
                  "httpMethod": "GET",
                  "id": "dataproc.projects.regions.autoscalingPolicies.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta2/{+parent}/autoscalingPolicies",
                  "flatPath": "v1beta2/projects/{projectsId}/regions/{regionsId}/autoscalingPolicies",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListAutoscalingPoliciesResponse"
                  }
                },
                "get": {
                  "id": "dataproc.projects.regions.autoscalingPolicies.get",
                  "httpMethod": "GET",
                  "flatPath": "v1beta2/projects/{projectsId}/regions/{regionsId}/autoscalingPolicies/{autoscalingPoliciesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The \"resource name\" of the autoscaling policy, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.autoscalingPolicies.get, the resource name of the policy has the following format: projects/{project_id}/regions/{region}/autoscalingPolicies/{policy_id} For projects.locations.autoscalingPolicies.get, the resource name of the policy has the following format: projects/{project_id}/locations/{location}/autoscalingPolicies/{policy_id}",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/regions/[^/]+/autoscalingPolicies/[^/]+$"
                    }
                  },
                  "path": "v1beta2/{+name}",
                  "description": "Retrieves autoscaling policy.",
                  "response": {
                    "$ref": "AutoscalingPolicy"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/regions/[^/]+/autoscalingPolicies/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The \"resource name\" of the autoscaling policy, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.autoscalingPolicies.delete, the resource name of the policy has the following format: projects/{project_id}/regions/{region}/autoscalingPolicies/{policy_id} For projects.locations.autoscalingPolicies.delete, the resource name of the policy has the following format: projects/{project_id}/locations/{location}/autoscalingPolicies/{policy_id}",
                      "location": "path"
                    }
                  },
                  "path": "v1beta2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes an autoscaling policy. It is an error to delete an autoscaling policy that is in use by one or more clusters.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta2/projects/{projectsId}/regions/{regionsId}/autoscalingPolicies/{autoscalingPoliciesId}",
                  "httpMethod": "DELETE",
                  "id": "dataproc.projects.regions.autoscalingPolicies.delete",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "setIamPolicy": {
                  "flatPath": "v1beta2/projects/{projectsId}/regions/{regionsId}/autoscalingPolicies/{autoscalingPoliciesId}:setIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/regions/[^/]+/autoscalingPolicies/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy.Can return NOT_FOUND, INVALID_ARGUMENT, and PERMISSION_DENIED errors.",
                  "id": "dataproc.projects.regions.autoscalingPolicies.setIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta2/{+resource}:setIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  }
                },
                "getIamPolicy": {
                  "parameters": {
                    "options.requestedPolicyVersion": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The policy format version to be returned.Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected.Requests for policies with any conditional bindings must specify version 3. Policies without any conditional bindings may specify any valid value or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies)."
                    },
                    "resource": {
                      "pattern": "^projects/[^/]+/regions/[^/]+/autoscalingPolicies/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field."
                    }
                  },
                  "response": {
                    "$ref": "Policy"
                  },
                  "flatPath": "v1beta2/projects/{projectsId}/regions/{regionsId}/autoscalingPolicies/{autoscalingPoliciesId}:getIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta2/{+resource}:getIamPolicy",
                  "httpMethod": "GET",
                  "id": "dataproc.projects.regions.autoscalingPolicies.getIamPolicy"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta2/{+parent}/autoscalingPolicies",
                  "description": "Creates new autoscaling policy.",
                  "id": "dataproc.projects.regions.autoscalingPolicies.create",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/regions/[^/]+$",
                      "description": "Required. The \"resource name\" of the region or location, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.autoscalingPolicies.create, the resource name has the following format: projects/{project_id}/regions/{region} For projects.locations.autoscalingPolicies.create, the resource name has the following format: projects/{project_id}/locations/{location}",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "AutoscalingPolicy"
                  },
                  "request": {
                    "$ref": "AutoscalingPolicy"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta2/projects/{projectsId}/regions/{regionsId}/autoscalingPolicies"
                },
                "testIamPermissions": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "flatPath": "v1beta2/projects/{projectsId}/regions/{regionsId}/autoscalingPolicies/{autoscalingPoliciesId}:testIamPermissions",
                  "path": "v1beta2/{+resource}:testIamPermissions",
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a NOT_FOUND error.Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "httpMethod": "POST",
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/regions/[^/]+/autoscalingPolicies/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
                      "type": "string"
                    }
                  },
                  "id": "dataproc.projects.regions.autoscalingPolicies.testIamPermissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  }
                },
                "update": {
                  "path": "v1beta2/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Output only. The \"resource name\" of the autoscaling policy, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.autoscalingPolicies, the resource name of the policy has the following format: projects/{project_id}/regions/{region}/autoscalingPolicies/{policy_id} For projects.locations.autoscalingPolicies, the resource name of the policy has the following format: projects/{project_id}/locations/{location}/autoscalingPolicies/{policy_id}",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/regions/[^/]+/autoscalingPolicies/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "AutoscalingPolicy"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "AutoscalingPolicy"
                  },
                  "id": "dataproc.projects.regions.autoscalingPolicies.update",
                  "description": "Updates (replaces) autoscaling policy.Disabled check for update_mask, because all updates will be full replacements.",
                  "httpMethod": "PUT",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta2/projects/{projectsId}/regions/{regionsId}/autoscalingPolicies/{autoscalingPoliciesId}"
                }
              }
            },
            "operations": {
              "methods": {
                "cancel": {
                  "path": "v1beta2/{+name}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns google.rpc.Code.UNIMPLEMENTED. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to Code.CANCELLED.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/regions/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta2/projects/{projectsId}/regions/{regionsId}/operations/{operationsId}:cancel",
                  "id": "dataproc.projects.regions.operations.cancel"
                },
                "get": {
                  "flatPath": "v1beta2/projects/{projectsId}/regions/{regionsId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/regions/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "location": "path"
                    }
                  },
                  "path": "v1beta2/{+name}",
                  "httpMethod": "GET",
                  "id": "dataproc.projects.regions.operations.get"
                },
                "list": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/regions/[^/]+/operations$",
                      "type": "string",
                      "description": "The name of the operation's parent resource."
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The standard list page size.",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "path": "v1beta2/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "id": "dataproc.projects.regions.operations.list",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns UNIMPLEMENTED.NOTE: the name binding allows API services to override the binding to use different resource name schemes, such as users/*/operations. To override the binding, API services can add a binding such as \"/v1/{name=users/*}/operations\" to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta2/projects/{projectsId}/regions/{regionsId}/operations"
                },
                "setIamPolicy": {
                  "response": {
                    "$ref": "Policy"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta2/{+resource}:setIamPolicy",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/regions/[^/]+/operations/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "httpMethod": "POST",
                  "id": "dataproc.projects.regions.operations.setIamPolicy",
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy.Can return NOT_FOUND, INVALID_ARGUMENT, and PERMISSION_DENIED errors.",
                  "flatPath": "v1beta2/projects/{projectsId}/regions/{regionsId}/operations/{operationsId}:setIamPolicy"
                },
                "getIamPolicy": {
                  "path": "v1beta2/{+resource}:getIamPolicy",
                  "id": "dataproc.projects.regions.operations.getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameters": {
                    "options.requestedPolicyVersion": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The policy format version to be returned.Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected.Requests for policies with any conditional bindings must specify version 3. Policies without any conditional bindings may specify any valid value or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "location": "query"
                    },
                    "resource": {
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/regions/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "resource"
                  ],
                  "flatPath": "v1beta2/projects/{projectsId}/regions/{regionsId}/operations/{operationsId}:getIamPolicy"
                },
                "delete": {
                  "flatPath": "v1beta2/projects/{projectsId}/regions/{regionsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "path": "v1beta2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns google.rpc.Code.UNIMPLEMENTED.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/regions/[^/]+/operations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "dataproc.projects.regions.operations.delete"
                },
                "testIamPermissions": {
                  "id": "dataproc.projects.regions.operations.testIamPermissions",
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/regions/[^/]+/operations/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "resource"
                  ],
                  "path": "v1beta2/{+resource}:testIamPermissions",
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a NOT_FOUND error.Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "flatPath": "v1beta2/projects/{projectsId}/regions/{regionsId}/operations/{operationsId}:testIamPermissions",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "clusters": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta2/projects/{projectId}/regions/{region}/clusters/{clusterName}",
                  "parameters": {
                    "clusterUuid": {
                      "description": "Optional. Specifying the cluster_uuid means the RPC should fail (with error NOT_FOUND) if cluster with specified UUID does not exist.",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A unique id used to identify the request. If the server receives two DeleteClusterRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1beta2#google.cloud.dataproc.v1beta2.DeleteClusterRequest)s with the same id, then the second request will be ignored and the first google.longrunning.Operation created and stored in the backend is returned.It is recommended to always set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The id must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters."
                    },
                    "projectId": {
                      "description": "Required. The ID of the Google Cloud Platform project that the cluster belongs to.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "region": {
                      "required": true,
                      "description": "Required. The Dataproc region in which to handle the request.",
                      "location": "path",
                      "type": "string"
                    },
                    "clusterName": {
                      "description": "Required. The cluster name.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "DELETE",
                  "id": "dataproc.projects.regions.clusters.delete",
                  "description": "Deletes a cluster in a project. The returned Operation.metadata will be ClusterOperationMetadata (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1beta2#clusteroperationmetadata).",
                  "flatPath": "v1beta2/projects/{projectId}/regions/{region}/clusters/{clusterName}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "region",
                    "clusterName"
                  ]
                },
                "getIamPolicy": {
                  "path": "v1beta2/{+resource}:getIamPolicy",
                  "id": "dataproc.projects.regions.clusters.getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/regions/[^/]+/clusters/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "options.requestedPolicyVersion": {
                      "location": "query",
                      "description": "Optional. The policy format version to be returned.Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected.Requests for policies with any conditional bindings must specify version 3. Policies without any conditional bindings may specify any valid value or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "flatPath": "v1beta2/projects/{projectsId}/regions/{regionsId}/clusters/{clustersId}:getIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  }
                },
                "stop": {
                  "description": "Stops a cluster in a project.",
                  "flatPath": "v1beta2/projects/{projectId}/regions/{region}/clusters/{clusterName}:stop",
                  "path": "v1beta2/projects/{projectId}/regions/{region}/clusters/{clusterName}:stop",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "dataproc.projects.regions.clusters.stop",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The ID of the Google Cloud Platform project the cluster belongs to."
                    },
                    "region": {
                      "description": "Required. The Dataproc region in which to handle the request.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "clusterName": {
                      "required": true,
                      "description": "Required. The cluster name.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "region",
                    "clusterName"
                  ],
                  "request": {
                    "$ref": "StopClusterRequest"
                  }
                },
                "create": {
                  "httpMethod": "POST",
                  "id": "dataproc.projects.regions.clusters.create",
                  "request": {
                    "$ref": "Cluster"
                  },
                  "parameterOrder": [
                    "projectId",
                    "region"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a cluster in a project. The returned Operation.metadata will be ClusterOperationMetadata (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1beta2#clusteroperationmetadata).",
                  "parameters": {
                    "region": {
                      "description": "Required. The Dataproc region in which to handle the request.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A unique id used to identify the request. If the server receives two CreateClusterRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1beta2#google.cloud.dataproc.v1beta2.CreateClusterRequest)s with the same id, then the second request will be ignored and the first google.longrunning.Operation created and stored in the backend is returned.It is recommended to always set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The id must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters."
                    },
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The ID of the Google Cloud Platform project that the cluster belongs to.",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta2/projects/{projectId}/regions/{region}/clusters",
                  "path": "v1beta2/projects/{projectId}/regions/{region}/clusters"
                },
                "list": {
                  "path": "v1beta2/projects/{projectId}/regions/{region}/clusters",
                  "description": "Lists all regions/{region}/clusters in a project alphabetically.",
                  "id": "dataproc.projects.regions.clusters.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The standard List page token."
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The standard List page size."
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A filter constraining the clusters to list. Filters are case-sensitive and have the following syntax:field = value AND field = value ...where field is one of status.state, clusterName, or labels.[KEY], and [KEY] is a label key. value can be * to match all values. status.state can be one of the following: ACTIVE, INACTIVE, CREATING, RUNNING, ERROR, DELETING, or UPDATING. ACTIVE contains the CREATING, UPDATING, and RUNNING states. INACTIVE contains the DELETING and ERROR states. clusterName is the name of the cluster provided at creation time. Only the logical AND operator is supported; space-separated items are treated as having an implicit AND operator.Example filter:status.state = ACTIVE AND clusterName = mycluster AND labels.env = staging AND labels.starred = *"
                    },
                    "region": {
                      "location": "path",
                      "description": "Required. The Dataproc region in which to handle the request.",
                      "type": "string",
                      "required": true
                    },
                    "projectId": {
                      "description": "Required. The ID of the Google Cloud Platform project that the cluster belongs to.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListClustersResponse"
                  },
                  "flatPath": "v1beta2/projects/{projectId}/regions/{region}/clusters",
                  "parameterOrder": [
                    "projectId",
                    "region"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "flatPath": "v1beta2/projects/{projectId}/regions/{region}/clusters/{clusterName}",
                  "parameters": {
                    "clusterName": {
                      "location": "path",
                      "description": "Required. The cluster name.",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. A unique id used to identify the request. If the server receives two UpdateClusterRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1beta2#google.cloud.dataproc.v1beta2.UpdateClusterRequest)s with the same id, then the second request will be ignored and the first google.longrunning.Operation created and stored in the backend is returned.It is recommended to always set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The id must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
                      "type": "string",
                      "location": "query"
                    },
                    "region": {
                      "description": "Required. The Dataproc region in which to handle the request.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The ID of the Google Cloud Platform project the cluster belongs to.",
                      "location": "path"
                    },
                    "gracefulDecommissionTimeout": {
                      "format": "google-duration",
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Timeout for graceful YARN decomissioning. Graceful decommissioning allows removing nodes from the cluster without interrupting jobs in progress. Timeout specifies how long to wait for jobs in progress to finish before forcefully removing nodes (and potentially interrupting jobs). Default timeout is 0 (for forceful decommission), and the maximum allowed timeout is 1 day (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).Only supported on Dataproc image versions 1.2 and higher."
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Required. Specifies the path, relative to Cluster, of the field to update. For example, to change the number of workers in a cluster to 5, the update_mask parameter would be specified as config.worker_config.num_instances, and the PATCH request body would specify the new value, as follows: { \"config\":{ \"workerConfig\":{ \"numInstances\":\"5\" } } } Similarly, to change the number of preemptible workers in a cluster to 5, the update_mask parameter would be config.secondary_worker_config.num_instances, and the PATCH request body would be set as follows: { \"config\":{ \"secondaryWorkerConfig\":{ \"numInstances\":\"5\" } } } *Note:* currently only the following fields can be updated: *Mask* *Purpose* labels Updates labels config.worker_config.num_instances Resize primary worker group config.secondary_worker_config.num_instances Resize secondary worker group config.lifecycle_config.auto_delete_ttl Reset MAX TTL duration config.lifecycle_config.auto_delete_time Update MAX TTL deletion timestamp config.lifecycle_config.idle_delete_ttl Update Idle TTL duration config.autoscaling_config.policy_uri Use, stop using, or change autoscaling policies ",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "projectId",
                    "region",
                    "clusterName"
                  ],
                  "description": "Updates a cluster in a project. The returned Operation.metadata will be ClusterOperationMetadata (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1beta2#clusteroperationmetadata). The cluster must be in a RUNNING state or an error is returned.",
                  "request": {
                    "$ref": "Cluster"
                  },
                  "path": "v1beta2/projects/{projectId}/regions/{region}/clusters/{clusterName}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "dataproc.projects.regions.clusters.patch",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH"
                },
                "setIamPolicy": {
                  "httpMethod": "POST",
                  "id": "dataproc.projects.regions.clusters.setIamPolicy",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy.Can return NOT_FOUND, INVALID_ARGUMENT, and PERMISSION_DENIED errors.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta2/projects/{projectsId}/regions/{regionsId}/clusters/{clustersId}:setIamPolicy",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/regions/[^/]+/clusters/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Policy"
                  },
                  "path": "v1beta2/{+resource}:setIamPolicy"
                },
                "start": {
                  "id": "dataproc.projects.regions.clusters.start",
                  "parameters": {
                    "projectId": {
                      "description": "Required. The ID of the Google Cloud Platform project the cluster belongs to.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "region": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The Dataproc region in which to handle the request."
                    },
                    "clusterName": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The cluster name."
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "StartClusterRequest"
                  },
                  "path": "v1beta2/projects/{projectId}/regions/{region}/clusters/{clusterName}:start",
                  "description": "Starts a cluster in a project.",
                  "parameterOrder": [
                    "projectId",
                    "region",
                    "clusterName"
                  ],
                  "flatPath": "v1beta2/projects/{projectId}/regions/{region}/clusters/{clusterName}:start",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "injectCredentials": {
                  "request": {
                    "$ref": "InjectCredentialsRequest"
                  },
                  "path": "v1beta2/{+project}/{+region}/{+cluster}:injectCredentials",
                  "httpMethod": "POST",
                  "parameters": {
                    "cluster": {
                      "description": "Required. The cluster, in the form clusters/.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^clusters/[^/]+$",
                      "required": true
                    },
                    "region": {
                      "type": "string",
                      "pattern": "^regions/[^/]+$",
                      "description": "Required. The region containing the cluster, of the form regions/.",
                      "required": true,
                      "location": "path"
                    },
                    "project": {
                      "type": "string",
                      "description": "Required. The ID of the Google Cloud Platform project the cluster belongs to, of the form projects/.",
                      "required": true,
                      "pattern": "^projects/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta2/projects/{projectsId}/regions/{regionsId}/clusters/{clustersId}:injectCredentials",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "dataproc.projects.regions.clusters.injectCredentials",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Inject encrypted credentials into all of the VMs in a cluster.The target cluster must be a personal auth cluster assigned to the user who is issuing the RPC.",
                  "parameterOrder": [
                    "project",
                    "region",
                    "cluster"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "Cluster"
                  },
                  "path": "v1beta2/projects/{projectId}/regions/{region}/clusters/{clusterName}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "region",
                    "clusterName"
                  ],
                  "parameters": {
                    "region": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The Dataproc region in which to handle the request."
                    },
                    "clusterName": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The cluster name.",
                      "location": "path"
                    },
                    "projectId": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The ID of the Google Cloud Platform project that the cluster belongs to.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "id": "dataproc.projects.regions.clusters.get",
                  "flatPath": "v1beta2/projects/{projectId}/regions/{region}/clusters/{clusterName}",
                  "description": "Gets the resource representation for a cluster in a project."
                },
                "testIamPermissions": {
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a NOT_FOUND error.Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/regions/[^/]+/clusters/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "dataproc.projects.regions.clusters.testIamPermissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta2/{+resource}:testIamPermissions",
                  "flatPath": "v1beta2/projects/{projectsId}/regions/{regionsId}/clusters/{clustersId}:testIamPermissions",
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "diagnose": {
                  "request": {
                    "$ref": "DiagnoseClusterRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta2/projects/{projectId}/regions/{region}/clusters/{clusterName}:diagnose",
                  "description": "Gets cluster diagnostic information. The returned Operation.metadata will be ClusterOperationMetadata (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1beta2#clusteroperationmetadata). After the operation completes, Operation.response contains Empty.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "region",
                    "clusterName"
                  ],
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "description": "Required. The ID of the Google Cloud Platform project that the cluster belongs to.",
                      "type": "string",
                      "required": true
                    },
                    "region": {
                      "description": "Required. The Dataproc region in which to handle the request.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "clusterName": {
                      "location": "path",
                      "description": "Required. The cluster name.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "dataproc.projects.regions.clusters.diagnose",
                  "flatPath": "v1beta2/projects/{projectId}/regions/{region}/clusters/{clusterName}:diagnose",
                  "response": {
                    "$ref": "Operation"
                  }
                }
              }
            },
            "jobs": {
              "methods": {
                "submitAsOperation": {
                  "path": "v1beta2/projects/{projectId}/regions/{region}/jobs:submitAsOperation",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "SubmitJobRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "dataproc.projects.regions.jobs.submitAsOperation",
                  "parameterOrder": [
                    "projectId",
                    "region"
                  ],
                  "description": "Submits job to a cluster.",
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The ID of the Google Cloud Platform project that the job belongs to."
                    },
                    "region": {
                      "location": "path",
                      "description": "Required. The Dataproc region in which to handle the request.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1beta2/projects/{projectId}/regions/{region}/jobs:submitAsOperation"
                },
                "submit": {
                  "flatPath": "v1beta2/projects/{projectId}/regions/{region}/jobs:submit",
                  "description": "Submits a job to a cluster.",
                  "path": "v1beta2/projects/{projectId}/regions/{region}/jobs:submit",
                  "parameterOrder": [
                    "projectId",
                    "region"
                  ],
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "description": "Required. The ID of the Google Cloud Platform project that the job belongs to.",
                      "type": "string",
                      "required": true
                    },
                    "region": {
                      "description": "Required. The Dataproc region in which to handle the request.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "dataproc.projects.regions.jobs.submit",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Job"
                  },
                  "request": {
                    "$ref": "SubmitJobRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "setIamPolicy": {
                  "parameters": {
                    "resource": {
                      "required": true,
                      "pattern": "^projects/[^/]+/regions/[^/]+/jobs/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "dataproc.projects.regions.jobs.setIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy.Can return NOT_FOUND, INVALID_ARGUMENT, and PERMISSION_DENIED errors.",
                  "httpMethod": "POST",
                  "flatPath": "v1beta2/projects/{projectsId}/regions/{regionsId}/jobs/{jobsId}:setIamPolicy",
                  "path": "v1beta2/{+resource}:setIamPolicy"
                },
                "delete": {
                  "path": "v1beta2/projects/{projectId}/regions/{region}/jobs/{jobId}",
                  "id": "dataproc.projects.regions.jobs.delete",
                  "flatPath": "v1beta2/projects/{projectId}/regions/{region}/jobs/{jobId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes the job from the project. If the job is active, the delete fails, and the response returns FAILED_PRECONDITION.",
                  "parameterOrder": [
                    "projectId",
                    "region",
                    "jobId"
                  ],
                  "parameters": {
                    "region": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The Dataproc region in which to handle the request."
                    },
                    "jobId": {
                      "location": "path",
                      "description": "Required. The job ID.",
                      "required": true,
                      "type": "string"
                    },
                    "projectId": {
                      "description": "Required. The ID of the Google Cloud Platform project that the job belongs to.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "cancel": {
                  "parameterOrder": [
                    "projectId",
                    "region",
                    "jobId"
                  ],
                  "description": "Starts a job cancellation request. To access the job resource after cancellation, call regions/{region}/jobs.list (https://cloud.google.com/dataproc/docs/reference/rest/v1beta2/projects.regions.jobs/list) or regions/{region}/jobs.get (https://cloud.google.com/dataproc/docs/reference/rest/v1beta2/projects.regions.jobs/get).",
                  "id": "dataproc.projects.regions.jobs.cancel",
                  "parameters": {
                    "jobId": {
                      "location": "path",
                      "description": "Required. The job ID.",
                      "type": "string",
                      "required": true
                    },
                    "region": {
                      "type": "string",
                      "description": "Required. The Dataproc region in which to handle the request.",
                      "required": true,
                      "location": "path"
                    },
                    "projectId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The ID of the Google Cloud Platform project that the job belongs to."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Job"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CancelJobRequest"
                  },
                  "flatPath": "v1beta2/projects/{projectId}/regions/{region}/jobs/{jobId}:cancel",
                  "path": "v1beta2/projects/{projectId}/regions/{region}/jobs/{jobId}:cancel"
                },
                "get": {
                  "path": "v1beta2/projects/{projectId}/regions/{region}/jobs/{jobId}",
                  "flatPath": "v1beta2/projects/{projectId}/regions/{region}/jobs/{jobId}",
                  "parameters": {
                    "jobId": {
                      "description": "Required. The job ID.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "region": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The Dataproc region in which to handle the request.",
                      "required": true
                    },
                    "projectId": {
                      "location": "path",
                      "description": "Required. The ID of the Google Cloud Platform project that the job belongs to.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Job"
                  },
                  "httpMethod": "GET",
                  "description": "Gets the resource representation for a job in a project.",
                  "id": "dataproc.projects.regions.jobs.get",
                  "parameterOrder": [
                    "projectId",
                    "region",
                    "jobId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "request": {
                    "$ref": "Job"
                  },
                  "description": "Updates a job in a project.",
                  "flatPath": "v1beta2/projects/{projectId}/regions/{region}/jobs/{jobId}",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "dataproc.projects.regions.jobs.patch",
                  "parameterOrder": [
                    "projectId",
                    "region",
                    "jobId"
                  ],
                  "response": {
                    "$ref": "Job"
                  },
                  "path": "v1beta2/projects/{projectId}/regions/{region}/jobs/{jobId}",
                  "parameters": {
                    "region": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The Dataproc region in which to handle the request.",
                      "location": "path"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Required. Specifies the path, relative to Job, of the field to update. For example, to update the labels of a Job the update_mask parameter would be specified as labels, and the PATCH request body would specify the new value. *Note:* Currently, labels is the only field that can be updated.",
                      "type": "string"
                    },
                    "projectId": {
                      "description": "Required. The ID of the Google Cloud Platform project that the job belongs to.",
[...]
