{
  "description": "Manages Google Cloud Dataflow projects on Google Cloud Platform.",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "rootUrl": "https://dataflow.googleapis.com/",
  "servicePath": "",
  "name": "dataflow",
  "discoveryVersion": "v1",
  "canonicalName": "Dataflow",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "endpoints": [
    {
      "endpointUrl": "https://dataflow.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    }
  ],
  "baseUrl": "https://dataflow.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/compute.readonly": {
          "description": "View your Google Compute Engine resources"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "See your primary Google Account email address"
        },
        "https://www.googleapis.com/auth/compute": {
          "description": "View and manage your Google Compute Engine resources"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "jobs": {
          "resources": {
            "workItems": {
              "methods": {
                "lease": {
                  "parameters": {
                    "jobId": {
                      "required": true,
                      "description": "Identifies the workflow job this worker belongs to.",
                      "type": "string",
                      "location": "path"
                    },
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "description": "Identifies the project this worker belongs to.",
                      "location": "path"
                    }
                  },
                  "id": "dataflow.projects.jobs.workItems.lease",
                  "response": {
                    "$ref": "LeaseWorkItemResponse"
                  },
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease",
                  "request": {
                    "$ref": "LeaseWorkItemRequest"
                  },
                  "description": "Leases a dataflow WorkItem to run.",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "httpMethod": "POST",
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease"
                },
                "reportStatus": {
                  "description": "Reports the status of dataflow WorkItems leased by a worker.",
                  "request": {
                    "$ref": "ReportWorkItemStatusRequest"
                  },
                  "response": {
                    "$ref": "ReportWorkItemStatusResponse"
                  },
                  "id": "dataflow.projects.jobs.workItems.reportStatus",
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus",
                  "parameters": {
                    "jobId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The job which the WorkItem is part of."
                    },
                    "projectId": {
                      "description": "The project which owns the WorkItem's job.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus",
                  "httpMethod": "POST"
                }
              }
            },
            "debug": {
              "methods": {
                "sendCapture": {
                  "parameters": {
                    "jobId": {
                      "description": "The job id.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "projectId": {
                      "required": true,
                      "description": "The project id.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "id": "dataflow.projects.jobs.debug.sendCapture",
                  "request": {
                    "$ref": "SendDebugCaptureRequest"
                  },
                  "description": "Send encoded debug capture data for component.",
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture",
                  "response": {
                    "$ref": "SendDebugCaptureResponse"
                  },
                  "httpMethod": "POST"
                },
                "getConfig": {
                  "request": {
                    "$ref": "GetDebugConfigRequest"
                  },
                  "id": "dataflow.projects.jobs.debug.getConfig",
                  "response": {
                    "$ref": "GetDebugConfigResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/debug/getConfig",
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/debug/getConfig",
                  "httpMethod": "POST",
                  "parameters": {
                    "jobId": {
                      "description": "The job id.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "description": "The project id.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "description": "Get encoded debug configuration for component. Not cacheable."
                }
              }
            },
            "messages": {
              "methods": {
                "list": {
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                      "type": "string"
                    },
                    "minimumImportance": {
                      "enum": [
                        "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
                        "JOB_MESSAGE_DEBUG",
                        "JOB_MESSAGE_DETAILED",
                        "JOB_MESSAGE_BASIC",
                        "JOB_MESSAGE_WARNING",
                        "JOB_MESSAGE_ERROR"
                      ],
                      "enumDescriptions": [
                        "The message importance isn't specified, or is unknown.",
                        "The message is at the 'debug' level: typically only useful for software engineers working on the code the job is running. Typically, Dataflow pipeline runners do not display log messages at this level by default.",
                        "The message is at the 'detailed' level: somewhat verbose, but potentially useful to users. Typically, Dataflow pipeline runners do not display log messages at this level by default. These messages are displayed by default in the Dataflow monitoring UI.",
                        "The message is at the 'basic' level: useful for keeping track of the execution of a Dataflow pipeline. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                        "The message is at the 'warning' level: indicating a condition pertaining to a job which may require human intervention. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                        "The message is at the 'error' level: indicating a condition preventing a job from succeeding. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI."
                      ],
                      "description": "Filter to only get messages with importance \u003e= level",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "If specified, determines the maximum number of messages to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results.",
                      "type": "integer"
                    },
                    "projectId": {
                      "location": "path",
                      "description": "A project id.",
                      "required": true,
                      "type": "string"
                    },
                    "jobId": {
                      "description": "The job to get messages about.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "location": {
                      "location": "query",
                      "type": "string",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id."
                    },
                    "startTime": {
                      "type": "string",
                      "location": "query",
                      "description": "If specified, return only messages with timestamps \u003e= start_time. The default is the job creation time (i.e. beginning of messages).",
                      "format": "google-datetime"
                    },
                    "endTime": {
                      "format": "google-datetime",
                      "location": "query",
                      "description": "Return only messages with timestamps \u003c end_time. The default is now (i.e. return up to the latest messages available).",
                      "type": "string"
                    }
                  },
                  "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.messages.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.messages.list` is not recommended, as you can only request the status of jobs that are running in `us-central1`.",
                  "response": {
                    "$ref": "ListJobMessagesResponse"
                  },
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/messages",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/messages",
                  "id": "dataflow.projects.jobs.messages.list"
                }
              }
            }
          },
          "methods": {
            "getMetrics": {
              "path": "v1b3/projects/{projectId}/jobs/{jobId}/metrics",
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/metrics",
              "response": {
                "$ref": "JobMetrics"
              },
              "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.getMetrics` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.getMetrics` is not recommended, as you can only request the status of jobs that are running in `us-central1`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "id": "dataflow.projects.jobs.getMetrics",
              "parameters": {
                "projectId": {
                  "required": true,
                  "description": "A project id.",
                  "location": "path",
                  "type": "string"
                },
                "startTime": {
                  "location": "query",
                  "format": "google-datetime",
                  "description": "Return only metric data that has changed since this time. Default is to return all information about all metrics for the job.",
                  "type": "string"
                },
                "jobId": {
                  "location": "path",
                  "type": "string",
                  "description": "The job to get metrics for.",
                  "required": true
                },
                "location": {
                  "location": "query",
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id."
                }
              },
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "httpMethod": "GET"
            },
            "get": {
              "response": {
                "$ref": "Job"
              },
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "id": "dataflow.projects.jobs.get",
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}",
              "path": "v1b3/projects/{projectId}/jobs/{jobId}",
              "description": "Gets the state of the specified Cloud Dataflow job. To get the state of a job, we recommend using `projects.locations.jobs.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.get` is not recommended, as you can only get the state of jobs that are running in `us-central1`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "httpMethod": "GET",
              "parameters": {
                "jobId": {
                  "description": "The job ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "projectId": {
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "view": {
                  "description": "The level of information requested in response.",
                  "type": "string",
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ],
                  "location": "query",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ]
                },
                "location": {
                  "location": "query",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                  "type": "string"
                }
              }
            },
            "update": {
              "path": "v1b3/projects/{projectId}/jobs/{jobId}",
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "parameters": {
                "projectId": {
                  "required": true,
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "type": "string",
                  "location": "path"
                },
                "jobId": {
                  "description": "The job ID.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "location": {
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                  "location": "query",
                  "type": "string"
                },
                "updateMask": {
                  "description": "The list of fields to update relative to Job. If empty, only RequestedJobState will be considered for update. If the FieldMask is not empty and RequestedJobState is none/empty, The fields specified in the update mask will be the only ones considered for update. If both RequestedJobState and update_mask are specified, an error will be returned as we cannot update both state and mask.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "id": "dataflow.projects.jobs.update",
              "description": "Updates the state of an existing Cloud Dataflow job. To update the state of an existing job, we recommend using `projects.locations.jobs.update` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.update` is not recommended, as you can only update the state of jobs that are running in `us-central1`.",
              "request": {
                "$ref": "Job"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}",
              "httpMethod": "PUT",
              "response": {
                "$ref": "Job"
              }
            },
            "snapshot": {
              "response": {
                "$ref": "Snapshot"
              },
              "parameters": {
                "projectId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The project which owns the job to be snapshotted."
                },
                "jobId": {
                  "required": true,
                  "type": "string",
                  "description": "The job to be snapshotted.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}:snapshot",
              "path": "v1b3/projects/{projectId}/jobs/{jobId}:snapshot",
              "description": "Snapshot the state of a streaming job.",
              "id": "dataflow.projects.jobs.snapshot",
              "request": {
                "$ref": "SnapshotJobRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "httpMethod": "POST"
            },
            "create": {
              "httpMethod": "POST",
              "response": {
                "$ref": "Job"
              },
              "description": "Creates a Cloud Dataflow job. To create a job, we recommend using `projects.locations.jobs.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.create` is not recommended, as your job will always start in `us-central1`. Do not enter confidential information when you supply string values using the API.",
              "parameters": {
                "replaceJobId": {
                  "type": "string",
                  "description": "Deprecated. This field is now in the Job message.",
                  "location": "query"
                },
                "view": {
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ],
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "location": "query",
                  "description": "The level of information requested in response.",
                  "type": "string"
                },
                "location": {
                  "location": "query",
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job."
                },
                "projectId": {
                  "required": true,
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1b3/projects/{projectId}/jobs",
              "request": {
                "$ref": "Job"
              },
              "flatPath": "v1b3/projects/{projectId}/jobs",
              "parameterOrder": [
                "projectId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "id": "dataflow.projects.jobs.create"
            },
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "projectId"
              ],
              "response": {
                "$ref": "ListJobsResponse"
              },
              "flatPath": "v1b3/projects/{projectId}/jobs",
              "id": "dataflow.projects.jobs.list",
              "description": "List the jobs of a project. To list the jobs of a project in a region, we recommend using `projects.locations.jobs.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). To list the all jobs across all regions, use `projects.jobs.aggregated`. Using `projects.jobs.list` is not recommended, because you can only get the list of jobs that are running in `us-central1`. `projects.locations.jobs.list` and `projects.jobs.list` support filtering the list of jobs by name. Filtering by name isn't supported by `projects.jobs.aggregated`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The job name."
                },
                "projectId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The project which owns the jobs."
                },
                "location": {
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "If there are many jobs, limit response to at most this many. The actual number of jobs returned will be the lesser of max_responses and an unspecified server-defined limit.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The kind of filter to use.",
                  "enum": [
                    "UNKNOWN",
                    "ALL",
                    "TERMINATED",
                    "ACTIVE"
                  ],
                  "enumDescriptions": [
                    "The filter isn't specified, or is unknown. This returns all jobs ordered on descending `JobUuid`.",
                    "Returns all running jobs first ordered on creation timestamp, then returns all terminated jobs ordered on the termination timestamp.",
                    "Filters the jobs that have a terminated state, ordered on the termination timestamp. Example terminated states: `JOB_STATE_STOPPED`, `JOB_STATE_UPDATED`, `JOB_STATE_DRAINED`, etc.",
                    "Filters the jobs that are running ordered on the creation timestamp."
                  ]
                },
                "pageToken": {
                  "location": "query",
                  "description": "Set this to the 'next_page_token' field of a previous response to request additional results in a long list.",
                  "type": "string"
                },
                "view": {
                  "location": "query",
                  "deprecated": true,
                  "type": "string",
                  "description": "Deprecated. ListJobs always returns summaries now. Use GetJob for other JobViews.",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ]
                }
              },
              "path": "v1b3/projects/{projectId}/jobs"
            },
            "aggregated": {
              "description": "List the jobs of a project across all regions. **Note:** This method doesn't support filtering the list of jobs by name.",
              "id": "dataflow.projects.jobs.aggregated",
              "response": {
                "$ref": "ListJobsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "parameterOrder": [
                "projectId"
              ],
              "parameters": {
                "view": {
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ],
                  "location": "query",
                  "deprecated": true,
                  "type": "string",
                  "description": "Deprecated. ListJobs always returns summaries now. Use GetJob for other JobViews."
                },
                "pageSize": {
                  "description": "If there are many jobs, limit response to at most this many. The actual number of jobs returned will be the lesser of max_responses and an unspecified server-defined limit.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "projectId": {
                  "description": "The project which owns the jobs.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "description": "Set this to the 'next_page_token' field of a previous response to request additional results in a long list.",
                  "location": "query",
                  "type": "string"
                },
                "location": {
                  "location": "query",
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job."
                },
                "filter": {
                  "type": "string",
                  "description": "The kind of filter to use.",
                  "location": "query",
                  "enumDescriptions": [
                    "The filter isn't specified, or is unknown. This returns all jobs ordered on descending `JobUuid`.",
                    "Returns all running jobs first ordered on creation timestamp, then returns all terminated jobs ordered on the termination timestamp.",
                    "Filters the jobs that have a terminated state, ordered on the termination timestamp. Example terminated states: `JOB_STATE_STOPPED`, `JOB_STATE_UPDATED`, `JOB_STATE_DRAINED`, etc.",
                    "Filters the jobs that are running ordered on the creation timestamp."
                  ],
                  "enum": [
                    "UNKNOWN",
                    "ALL",
                    "TERMINATED",
                    "ACTIVE"
                  ]
                },
                "name": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The job name."
                }
              },
              "httpMethod": "GET",
              "path": "v1b3/projects/{projectId}/jobs:aggregated",
              "flatPath": "v1b3/projects/{projectId}/jobs:aggregated"
            }
          }
        },
        "templates": {
          "methods": {
            "create": {
              "response": {
                "$ref": "Job"
              },
              "httpMethod": "POST",
              "id": "dataflow.projects.templates.create",
              "description": "Creates a Cloud Dataflow job from a template. Do not enter confidential information when you supply string values using the API.",
              "parameterOrder": [
                "projectId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "request": {
                "$ref": "CreateJobFromTemplateRequest"
              },
              "flatPath": "v1b3/projects/{projectId}/templates",
              "parameters": {
                "projectId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to."
                }
              },
              "path": "v1b3/projects/{projectId}/templates"
            },
            "launch": {
              "response": {
                "$ref": "LaunchTemplateResponse"
              },
              "request": {
                "$ref": "LaunchTemplateParameters"
              },
              "id": "dataflow.projects.templates.launch",
              "flatPath": "v1b3/projects/{projectId}/templates:launch",
              "description": "Launch a template.",
              "parameterOrder": [
                "projectId"
              ],
              "path": "v1b3/projects/{projectId}/templates:launch",
              "httpMethod": "POST",
              "parameters": {
                "validateOnly": {
                  "type": "boolean",
                  "location": "query",
                  "description": "If true, the request is validated but not actually executed. Defaults to false."
                },
                "dynamicTemplate.stagingLocation": {
                  "description": "Cloud Storage path for staging dependencies. Must be a valid Cloud Storage URL, beginning with `gs://`.",
                  "location": "query",
                  "type": "string"
                },
                "dynamicTemplate.gcsPath": {
                  "location": "query",
                  "description": "Path to dynamic template spec file on Cloud Storage. The file must be a Json serialized DynamicTemplateFieSpec object.",
                  "type": "string"
                },
                "location": {
                  "location": "query",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                  "type": "string"
                },
                "projectId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to."
                },
                "gcsPath": {
                  "type": "string",
                  "description": "A Cloud Storage path to the template from which to create the job. Must be valid Cloud Storage URL, beginning with 'gs://'.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ]
            },
            "get": {
              "flatPath": "v1b3/projects/{projectId}/templates:get",
              "parameters": {
                "projectId": {
                  "required": true,
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                  "location": "path",
                  "type": "string"
                },
                "location": {
                  "location": "query",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                  "type": "string"
                },
                "view": {
                  "enum": [
                    "METADATA_ONLY"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "Template view that retrieves only the metadata associated with the template."
                  ],
                  "description": "The view to retrieve. Defaults to METADATA_ONLY.",
                  "type": "string"
                },
                "gcsPath": {
                  "type": "string",
                  "description": "Required. A Cloud Storage path to the template from which to create the job. Must be valid Cloud Storage URL, beginning with 'gs://'.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GetTemplateResponse"
              },
              "description": "Get the template associated with a template.",
              "parameterOrder": [
                "projectId"
              ],
              "path": "v1b3/projects/{projectId}/templates:get",
              "httpMethod": "GET",
              "id": "dataflow.projects.templates.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ]
            }
          }
        },
        "locations": {
          "methods": {
            "workerMessages": {
              "parameterOrder": [
                "projectId",
                "location"
              ],
              "request": {
                "$ref": "SendWorkerMessagesRequest"
              },
              "httpMethod": "POST",
              "flatPath": "v1b3/projects/{projectId}/locations/{location}/WorkerMessages",
              "path": "v1b3/projects/{projectId}/locations/{location}/WorkerMessages",
              "id": "dataflow.projects.locations.workerMessages",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute",
                "https://www.googleapis.com/auth/compute.readonly",
                "https://www.googleapis.com/auth/userinfo.email"
              ],
              "response": {
                "$ref": "SendWorkerMessagesResponse"
              },
              "parameters": {
                "projectId": {
                  "required": true,
                  "description": "The project to send the WorkerMessages to.",
                  "type": "string",
                  "location": "path"
                },
                "location": {
                  "required": true,
                  "location": "path",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job.",
                  "type": "string"
                }
              },
              "description": "Send a worker_message to the service."
            }
          },
          "resources": {
            "flexTemplates": {
              "methods": {
                "launch": {
                  "description": "Launch a job with a FlexTemplate.",
                  "path": "v1b3/projects/{projectId}/locations/{location}/flexTemplates:launch",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "id": "dataflow.projects.locations.flexTemplates.launch",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/flexTemplates:launch",
                  "response": {
                    "$ref": "LaunchFlexTemplateResponse"
                  },
                  "parameters": {
                    "location": {
                      "description": "Required. The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request. E.g., us-central1, us-west1.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "projectId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to."
                    }
                  },
                  "request": {
                    "$ref": "LaunchFlexTemplateRequest"
                  }
                }
              }
            },
            "snapshots": {
              "methods": {
                "delete": {
                  "path": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "id": "dataflow.projects.locations.snapshots.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "response": {
                    "$ref": "DeleteSnapshotResponse"
                  },
                  "description": "Deletes a snapshot.",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "snapshotId"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "snapshotId": {
                      "type": "string",
                      "required": true,
                      "description": "The ID of the snapshot.",
                      "location": "path"
                    },
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The ID of the Cloud Platform project that the snapshot belongs to."
                    },
                    "location": {
                      "location": "path",
                      "description": "The location that contains this snapshot.",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "get": {
                  "path": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "httpMethod": "GET",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "snapshotId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "response": {
                    "$ref": "Snapshot"
                  },
                  "id": "dataflow.projects.locations.snapshots.get",
                  "parameters": {
                    "snapshotId": {
                      "type": "string",
                      "description": "The ID of the snapshot.",
                      "required": true,
                      "location": "path"
                    },
                    "location": {
                      "required": true,
                      "description": "The location that contains this snapshot.",
                      "type": "string",
                      "location": "path"
                    },
                    "projectId": {
                      "description": "The ID of the Cloud Platform project that the snapshot belongs to.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Gets information about a snapshot."
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "description": "Lists snapshots.",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots",
                  "response": {
                    "$ref": "ListSnapshotsResponse"
                  },
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "type": "string",
                      "description": "The project ID to list snapshots for.",
                      "required": true
                    },
                    "location": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The location to list snapshots in."
                    },
                    "jobId": {
                      "location": "query",
                      "type": "string",
                      "description": "If specified, list snapshots created from this job."
                    }
                  },
                  "id": "dataflow.projects.locations.snapshots.list",
                  "path": "v1b3/projects/{projectId}/locations/{location}/snapshots"
                }
              }
            },
            "jobs": {
              "methods": {
                "list": {
                  "description": "List the jobs of a project. To list the jobs of a project in a region, we recommend using `projects.locations.jobs.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). To list the all jobs across all regions, use `projects.jobs.aggregated`. Using `projects.jobs.list` is not recommended, because you can only get the list of jobs that are running in `us-central1`. `projects.locations.jobs.list` and `projects.jobs.list` support filtering the list of jobs by name. Filtering by name isn't supported by `projects.jobs.aggregated`.",
                  "httpMethod": "GET",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "id": "dataflow.projects.locations.jobs.list",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "response": {
                    "$ref": "ListJobsResponse"
                  },
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "description": "The project which owns the jobs.",
                      "required": true,
                      "location": "path"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "If there are many jobs, limit response to at most this many. The actual number of jobs returned will be the lesser of max_responses and an unspecified server-defined limit.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Set this to the 'next_page_token' field of a previous response to request additional results in a long list.",
                      "type": "string"
                    },
                    "filter": {
                      "description": "The kind of filter to use.",
                      "enum": [
                        "UNKNOWN",
                        "ALL",
                        "TERMINATED",
                        "ACTIVE"
                      ],
                      "type": "string",
                      "location": "query",
                      "enumDescriptions": [
                        "The filter isn't specified, or is unknown. This returns all jobs ordered on descending `JobUuid`.",
                        "Returns all running jobs first ordered on creation timestamp, then returns all terminated jobs ordered on the termination timestamp.",
                        "Filters the jobs that have a terminated state, ordered on the termination timestamp. Example terminated states: `JOB_STATE_STOPPED`, `JOB_STATE_UPDATED`, `JOB_STATE_DRAINED`, etc.",
                        "Filters the jobs that are running ordered on the creation timestamp."
                      ]
                    },
                    "view": {
                      "type": "string",
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ],
                      "description": "Deprecated. ListJobs always returns summaries now. Use GetJob for other JobViews.",
                      "location": "query",
                      "deprecated": true
                    },
                    "location": {
                      "location": "path",
                      "type": "string",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "required": true
                    },
                    "name": {
                      "type": "string",
                      "description": "Optional. The job name.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ]
                },
                "get": {
                  "id": "dataflow.projects.locations.jobs.get",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "description": "Gets the state of the specified Cloud Dataflow job. To get the state of a job, we recommend using `projects.locations.jobs.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.get` is not recommended, as you can only get the state of jobs that are running in `us-central1`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The ID of the Cloud Platform project that the job belongs to."
                    },
                    "location": {
                      "location": "path",
                      "type": "string",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "required": true
                    },
                    "jobId": {
                      "required": true,
                      "description": "The job ID.",
                      "type": "string",
                      "location": "path"
                    },
                    "view": {
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ],
                      "type": "string",
                      "description": "The level of information requested in response.",
                      "location": "query",
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ]
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Job"
                  }
                },
                "getMetrics": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics",
                  "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.getMetrics` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.getMetrics` is not recommended, as you can only request the status of jobs that are running in `us-central1`.",
                  "id": "dataflow.projects.locations.jobs.getMetrics",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics",
                  "response": {
                    "$ref": "JobMetrics"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "startTime": {
                      "description": "Return only metric data that has changed since this time. Default is to return all information about all metrics for the job.",
                      "location": "query",
                      "format": "google-datetime",
                      "type": "string"
                    },
                    "jobId": {
                      "description": "The job to get metrics for.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "projectId": {
                      "required": true,
                      "location": "path",
                      "description": "A project id.",
                      "type": "string"
                    },
                    "location": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id."
                    }
                  }
                },
                "getExecutionDetails": {
                  "description": "Request detailed information about the execution status of the job. EXPERIMENTAL. This API is subject to change or removal without notice.",
                  "id": "dataflow.projects.locations.jobs.getExecutionDetails",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/executionDetails",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/executionDetails",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "If specified, determines the maximum number of stages to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results.",
                      "format": "int32"
                    },
                    "jobId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The job to get execution details for."
                    },
                    "location": {
                      "type": "string",
                      "location": "path",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                      "required": true
                    },
                    "pageToken": {
                      "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                      "type": "string",
                      "location": "query"
                    },
                    "projectId": {
                      "location": "path",
                      "description": "A project id.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "JobExecutionDetails"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ]
                },
                "snapshot": {
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}:snapshot",
                  "description": "Snapshot the state of a streaming job.",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}:snapshot",
                  "parameters": {
                    "jobId": {
                      "location": "path",
                      "required": true,
                      "description": "The job to be snapshotted.",
                      "type": "string"
                    },
                    "projectId": {
                      "description": "The project which owns the job to be snapshotted.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "location": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The location that contains this job."
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "response": {
                    "$ref": "Snapshot"
                  },
                  "request": {
                    "$ref": "SnapshotJobRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "id": "dataflow.projects.locations.jobs.snapshot"
                },
                "create": {
                  "response": {
                    "$ref": "Job"
                  },
                  "id": "dataflow.projects.locations.jobs.create",
                  "request": {
                    "$ref": "Job"
                  },
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "location": {
                      "type": "string",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "location": "path",
                      "required": true
                    },
                    "replaceJobId": {
                      "description": "Deprecated. This field is now in the Job message.",
                      "location": "query",
                      "type": "string"
                    },
                    "view": {
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "type": "string",
                      "location": "query",
                      "description": "The level of information requested in response.",
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ]
                    },
                    "projectId": {
                      "type": "string",
                      "location": "path",
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "description": "Creates a Cloud Dataflow job. To create a job, we recommend using `projects.locations.jobs.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.create` is not recommended, as your job will always start in `us-central1`. Do not enter confidential information when you supply string values using the API.",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs"
                },
                "update": {
                  "response": {
                    "$ref": "Job"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameters": {
                    "jobId": {
                      "type": "string",
                      "description": "The job ID.",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "The list of fields to update relative to Job. If empty, only RequestedJobState will be considered for update. If the FieldMask is not empty and RequestedJobState is none/empty, The fields specified in the update mask will be the only ones considered for update. If both RequestedJobState and update_mask are specified, an error will be returned as we cannot update both state and mask."
                    },
                    "location": {
                      "type": "string",
                      "required": true,
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "location": "path"
                    },
                    "projectId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The ID of the Cloud Platform project that the job belongs to."
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "id": "dataflow.projects.locations.jobs.update",
                  "request": {
                    "$ref": "Job"
                  },
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "description": "Updates the state of an existing Cloud Dataflow job. To update the state of an existing job, we recommend using `projects.locations.jobs.update` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.update` is not recommended, as you can only update the state of jobs that are running in `us-central1`.",
                  "httpMethod": "PUT"
                }
              },
              "resources": {
                "debug": {
                  "methods": {
                    "getConfig": {
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getConfig",
                      "parameters": {
                        "jobId": {
                          "location": "path",
                          "type": "string",
                          "description": "The job id.",
                          "required": true
                        },
                        "location": {
                          "location": "path",
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "required": true,
                          "type": "string"
                        },
                        "projectId": {
                          "description": "The project id.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "httpMethod": "POST",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getConfig",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ],
                      "request": {
                        "$ref": "GetDebugConfigRequest"
                      },
                      "id": "dataflow.projects.locations.jobs.debug.getConfig",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "description": "Get encoded debug configuration for component. Not cacheable.",
                      "response": {
                        "$ref": "GetDebugConfigResponse"
                      }
                    },
                    "sendCapture": {
                      "response": {
                        "$ref": "SendDebugCaptureResponse"
                      },
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/sendCapture",
                      "request": {
                        "$ref": "SendDebugCaptureRequest"
                      },
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/sendCapture",
                      "id": "dataflow.projects.locations.jobs.debug.sendCapture",
                      "description": "Send encoded debug capture data for component.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "location": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id."
                        },
                        "jobId": {
                          "required": true,
                          "description": "The job id.",
                          "location": "path",
                          "type": "string"
                        },
                        "projectId": {
                          "required": true,
                          "description": "The project id.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ]
                    }
                  }
                },
                "workItems": {
                  "methods": {
                    "reportStatus": {
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "response": {
                        "$ref": "ReportWorkItemStatusResponse"
                      },
                      "parameters": {
                        "jobId": {
                          "location": "path",
                          "type": "string",
                          "description": "The job which the WorkItem is part of.",
                          "required": true
                        },
                        "projectId": {
                          "required": true,
                          "location": "path",
                          "description": "The project which owns the WorkItem's job.",
                          "type": "string"
                        },
                        "location": {
                          "required": true,
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:reportStatus",
                      "httpMethod": "POST",
                      "description": "Reports the status of dataflow WorkItems leased by a worker.",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:reportStatus",
                      "request": {
                        "$ref": "ReportWorkItemStatusRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ],
                      "id": "dataflow.projects.locations.jobs.workItems.reportStatus"
                    },
                    "lease": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ],
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease",
                      "response": {
                        "$ref": "LeaseWorkItemResponse"
                      },
                      "request": {
                        "$ref": "LeaseWorkItemRequest"
                      },
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "id": "dataflow.projects.locations.jobs.workItems.lease",
                      "httpMethod": "POST",
                      "description": "Leases a dataflow WorkItem to run.",
                      "parameters": {
                        "location": {
                          "location": "path",
                          "required": true,
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job.",
                          "type": "string"
                        },
                        "jobId": {
                          "description": "Identifies the workflow job this worker belongs to.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "projectId": {
                          "description": "Identifies the project this worker belongs to.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      }
                    }
                  }
                },
                "snapshots": {
                  "methods": {
                    "list": {
                      "id": "dataflow.projects.locations.jobs.snapshots.list",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/snapshots",
                      "httpMethod": "GET",
                      "description": "Lists snapshots.",
                      "response": {
                        "$ref": "ListSnapshotsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ],
                      "parameters": {
                        "projectId": {
                          "required": true,
                          "description": "The project ID to list snapshots for.",
                          "type": "string",
                          "location": "path"
                        },
                        "jobId": {
                          "location": "path",
                          "description": "If specified, list snapshots created from this job.",
                          "type": "string",
                          "required": true
                        },
                        "location": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "The location to list snapshots in."
                        }
                      },
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/snapshots"
                    }
                  }
                },
                "stages": {
                  "methods": {
                    "getExecutionDetails": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ],
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/stages/{stageId}/executionDetails",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/stages/{stageId}/executionDetails",
                      "id": "dataflow.projects.locations.jobs.stages.getExecutionDetails",
                      "parameters": {
                        "location": {
                          "location": "path",
                          "required": true,
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                          "type": "string"
                        },
                        "projectId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "A project id."
                        },
                        "jobId": {
                          "required": true,
                          "type": "string",
                          "description": "The job to get execution details for.",
                          "location": "path"
                        },
                        "startTime": {
                          "description": "Lower time bound of work items to include, by start time.",
                          "type": "string",
                          "location": "query",
                          "format": "google-datetime"
                        },
                        "endTime": {
                          "location": "query",
                          "description": "Upper time bound of work items to include, by start time.",
                          "format": "google-datetime",
                          "type": "string"
                        },
                        "stageId": {
                          "location": "path",
                          "description": "The stage for which to fetch information.",
                          "type": "string",
                          "required": true
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "If specified, determines the maximum number of work items to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results."
                        }
                      },
                      "httpMethod": "GET",
                      "description": "Request detailed information about the execution status of a stage of the job. EXPERIMENTAL. This API is subject to change or removal without notice.",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId",
                        "stageId"
                      ],
                      "response": {
                        "$ref": "StageExecutionDetails"
                      }
                    }
                  }
                },
                "messages": {
                  "methods": {
                    "list": {
                      "id": "dataflow.projects.locations.jobs.messages.list",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "response": {
                        "$ref": "ListJobMessagesResponse"
                      },
                      "parameters": {
                        "minimumImportance": {
                          "type": "string",
                          "location": "query",
                          "description": "Filter to only get messages with importance \u003e= level",
                          "enum": [
                            "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
                            "JOB_MESSAGE_DEBUG",
                            "JOB_MESSAGE_DETAILED",
                            "JOB_MESSAGE_BASIC",
                            "JOB_MESSAGE_WARNING",
                            "JOB_MESSAGE_ERROR"
                          ],
                          "enumDescriptions": [
                            "The message importance isn't specified, or is unknown.",
                            "The message is at the 'debug' level: typically only useful for software engineers working on the code the job is running. Typically, Dataflow pipeline runners do not display log messages at this level by default.",
                            "The message is at the 'detailed' level: somewhat verbose, but potentially useful to users. Typically, Dataflow pipeline runners do not display log messages at this level by default. These messages are displayed by default in the Dataflow monitoring UI.",
                            "The message is at the 'basic' level: useful for keeping track of the execution of a Dataflow pipeline. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                            "The message is at the 'warning' level: indicating a condition pertaining to a job which may require human intervention. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                            "The message is at the 'error' level: indicating a condition preventing a job from succeeding. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI."
                          ]
                        },
                        "jobId": {
                          "description": "The job to get messages about.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "projectId": {
                          "type": "string",
                          "description": "A project id.",
                          "required": true,
                          "location": "path"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "If specified, determines the maximum number of messages to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results."
                        },
                        "endTime": {
                          "format": "google-datetime",
                          "type": "string",
                          "location": "query",
                          "description": "Return only messages with timestamps \u003c end_time. The default is now (i.e. return up to the latest messages available)."
                        },
                        "location": {
                          "type": "string",
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "location": "path",
                          "required": true
                        },
                        "pageToken": {
                          "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                          "location": "query",
                          "type": "string"
                        },
                        "startTime": {
                          "format": "google-datetime",
                          "type": "string",
                          "description": "If specified, return only messages with timestamps \u003e= start_time. The default is the job creation time (i.e. beginning of messages).",
                          "location": "query"
                        }
                      },
                      "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.messages.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.messages.list` is not recommended, as you can only request the status of jobs that are running in `us-central1`.",
                      "httpMethod": "GET",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/messages",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/messages",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                      ]
                    }
                  }
                }
              }
            },
            "templates": {
              "methods": {
                "launch": {
                  "httpMethod": "POST",
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates:launch",
                  "description": "Launch a template.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "parameters": {
                    "location": {
                      "location": "path",
                      "required": true,
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                      "type": "string"
                    },
                    "dynamicTemplate.stagingLocation": {
                      "type": "string",
                      "location": "query",
                      "description": "Cloud Storage path for staging dependencies. Must be a valid Cloud Storage URL, beginning with `gs://`."
                    },
                    "dynamicTemplate.gcsPath": {
                      "description": "Path to dynamic template spec file on Cloud Storage. The file must be a Json serialized DynamicTemplateFieSpec object.",
                      "location": "query",
                      "type": "string"
                    },
                    "gcsPath": {
                      "location": "query",
                      "type": "string",
                      "description": "A Cloud Storage path to the template from which to create the job. Must be valid Cloud Storage URL, beginning with 'gs://'."
                    },
                    "validateOnly": {
                      "location": "query",
                      "description": "If true, the request is validated but not actually executed. Defaults to false.",
                      "type": "boolean"
                    },
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to."
                    }
                  },
                  "response": {
                    "$ref": "LaunchTemplateResponse"
                  },
                  "id": "dataflow.projects.locations.templates.launch",
                  "request": {
                    "$ref": "LaunchTemplateParameters"
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates:launch",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute",
                    "https://www.googleapis.com/auth/compute.readonly",
                    "https://www.googleapis.com/auth/userinfo.email"
                  ],
                  "description": "Get the template associated with a template.",
                  "parameters": {
                    "view": {
                      "enumDescriptions": [
                        "Template view that retrieves only the metadata associated with the template."
                      ],
                      "description": "The view to retrieve. Defaults to METADATA_ONLY.",
                      "location": "query",
[...]
