{
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/dataplex/docs",
  "batchPath": "batch",
  "baseUrl": "https://dataplex.googleapis.com/",
  "version": "v1",
  "revision": "20220502",
  "id": "dataplex:v1",
  "rootUrl": "https://dataplex.googleapis.com/",
  "description": "Dataplex API is used to manage the lifecycle of data lakes.",
  "schemas": {
    "GoogleCloudDataplexV1ContentSqlScript": {
      "properties": {
        "engine": {
          "enum": [
            "QUERY_ENGINE_UNSPECIFIED",
            "SPARK"
          ],
          "description": "Required. Query Engine to be used for the Sql Query.",
          "type": "string",
          "enumDescriptions": [
            "Value was unspecified.",
            "Spark SQL Query."
          ]
        }
      },
      "type": "object",
      "description": "Configuration for the Sql Script content.",
      "id": "GoogleCloudDataplexV1ContentSqlScript"
    },
    "GoogleCloudDataplexV1ActionInvalidDataOrganization": {
      "properties": {},
      "id": "GoogleCloudDataplexV1ActionInvalidDataOrganization",
      "description": "Action details for invalid data arrangement.",
      "type": "object"
    },
    "GoogleCloudDataplexV1TaskInfrastructureSpecContainerImageRuntime": {
      "type": "object",
      "description": "Container Image Runtime Configuration used with Batch execution.",
      "id": "GoogleCloudDataplexV1TaskInfrastructureSpecContainerImageRuntime",
      "properties": {
        "javaJars": {
          "description": "Optional. A list of Java JARS to add to the classpath. Valid input includes Cloud Storage URIs to Jar binaries. For example, gs://bucket-name/my/path/to/file.jar",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pythonPackages": {
          "description": "Optional. A list of python packages to be installed. Valid formats include Cloud Storage URI to a PIP installable library. For example, gs://bucket-name/my/path/to/lib.tar.gz",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Override to common configuration of open source components installed on the Dataproc cluster. The properties to set on daemon config files. Property keys are specified in prefix:property format, for example core:hadoop.tmp.dir. For more information, see Cluster properties (https://cloud.google.com/dataproc/docs/concepts/cluster-properties)."
        }
      }
    },
    "GoogleCloudLocationLocation": {
      "type": "object",
      "description": "A resource that represents Google Cloud Platform location.",
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"} ",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: \"us-east1\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: \"projects/example-project/locations/us-east1\"",
          "type": "string"
        }
      },
      "id": "GoogleCloudLocationLocation"
    },
    "GoogleIamV1Policy": {
      "properties": {
        "bindings": {
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "description": "Associates a list of members, or principals, with a role. Optionally, may specify a condition that determines how and when the bindings are applied. Each of the bindings must contain at least one principal.The bindings in a Policy can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the bindings grant 50 different roles to user:alice@example.com, and not to any other principal, then you can add another 1,450 principals to the bindings in the Policy.",
          "type": "array"
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to getIamPolicy, and systems are expected to put that etag in the request to setIamPolicy to ensure that their change will be applied to the same version of the policy.Important: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost."
        },
        "version": {
          "format": "int32",
          "description": "Specifies the format of the policy.Valid values are 0, 1, and 3. Requests that specify an invalid value are rejected.Any operation that affects conditional role bindings must specify version 3. This requirement applies to the following operations: Getting a policy that includes a conditional role binding Adding a conditional role binding to a policy Changing a conditional role binding in a policy Removing any role binding, with or without a condition, from a policy that includes conditionsImportant: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        },
        "auditConfigs": {
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources.A Policy is a collection of bindings. A binding binds one or more members, or principals, to a single role. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A role is a named list of permissions; each role can be an IAM predefined role or a user-created custom role.For some types of Google Cloud resources, a binding can also specify a condition, which is a logical expression that allows access to a resource only if the expression evaluates to true. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).JSON example: { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } YAML example: bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the IAM documentation (https://cloud.google.com/iam/docs/).",
      "id": "GoogleIamV1Policy"
    },
    "GoogleCloudDataplexV1AssetStatus": {
      "type": "object",
      "id": "GoogleCloudDataplexV1AssetStatus",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Last update time of the status.",
          "format": "google-datetime"
        },
        "securityPolicyApplyingAssets": {
          "type": "integer",
          "description": "Number of assets that are in process of updating the security policy on attached resources.",
          "format": "int32"
        },
        "activeAssets": {
          "type": "integer",
          "description": "Number of active assets.",
          "format": "int32"
        }
      },
      "description": "Aggregated status of the underlying assets of a lake or zone."
    },
    "GoogleCloudDataplexV1OperationMetadata": {
      "properties": {
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation was created."
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to Code.CANCELLED."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents the metadata of a long-running operation.",
      "id": "GoogleCloudDataplexV1OperationMetadata",
      "type": "object"
    },
    "GoogleCloudDataplexV1DiscoveryEvent": {
      "description": "The payload associated with Discovery data processing.",
      "id": "GoogleCloudDataplexV1DiscoveryEvent",
      "type": "object",
      "properties": {
        "entity": {
          "description": "Details about the entity associated with the event.",
          "$ref": "GoogleCloudDataplexV1DiscoveryEventEntityDetails"
        },
        "config": {
          "description": "Details about discovery configuration in effect.",
          "$ref": "GoogleCloudDataplexV1DiscoveryEventConfigDetails"
        },
        "message": {
          "description": "The log message.",
          "type": "string"
        },
        "type": {
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "CONFIG",
            "ENTITY_CREATED",
            "ENTITY_UPDATED",
            "ENTITY_DELETED",
            "PARTITION_CREATED",
            "PARTITION_UPDATED",
            "PARTITION_DELETED"
          ],
          "description": "The type of the event being logged.",
          "enumDescriptions": [
            "An unspecified event type.",
            "An event representing discovery configuration in effect.",
            "An event representing a metadata entity being created.",
            "An event representing a metadata entity being updated.",
            "An event representing a metadata entity being deleted.",
            "An event representing a partition being created.",
            "An event representing a partition being updated.",
            "An event representing a partition being deleted."
          ],
          "type": "string"
        },
        "dataLocation": {
          "type": "string",
          "description": "The data location associated with the event."
        },
        "lakeId": {
          "description": "The id of the associated lake.",
          "type": "string"
        },
        "action": {
          "description": "Details about the action associated with the event.",
          "$ref": "GoogleCloudDataplexV1DiscoveryEventActionDetails"
        },
        "partition": {
          "$ref": "GoogleCloudDataplexV1DiscoveryEventPartitionDetails",
          "description": "Details about the partition associated with the event."
        },
        "assetId": {
          "description": "The id of the associated asset.",
          "type": "string"
        },
        "zoneId": {
          "type": "string",
          "description": "The id of the associated zone."
        }
      }
    },
    "GoogleIamV1AuditConfig": {
      "properties": {
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          },
          "type": "array"
        },
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, storage.googleapis.com, cloudsql.googleapis.com. allServices is a special value that covers all services."
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs.If there are AuditConfigs for both allServices and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted.Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging.",
      "id": "GoogleIamV1AuditConfig",
      "type": "object"
    },
    "GoogleCloudDataplexV1ListAssetsResponse": {
      "type": "object",
      "description": "List assets response.",
      "properties": {
        "assets": {
          "items": {
            "$ref": "GoogleCloudDataplexV1Asset"
          },
          "description": "Asset under the given parent zone.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "id": "GoogleCloudDataplexV1ListAssetsResponse"
    },
    "GoogleIamV1Binding": {
      "type": "object",
      "id": "GoogleIamV1Binding",
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of members, or principals. For example, roles/viewer, roles/editor, or roles/owner."
        },
        "condition": {
          "description": "The condition that is associated with this binding.If the condition evaluates to true, then this binding applies to the current request.If the condition evaluates to false, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "GoogleTypeExpr"
        },
        "members": {
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. members can have the following values: allUsers: A special identifier that represents anyone who is on the internet; with or without a Google account. allAuthenticatedUsers: A special identifier that represents anyone who is authenticated with a Google account or a service account. user:{emailid}: An email address that represents a specific Google account. For example, alice@example.com . serviceAccount:{emailid}: An email address that represents a service account. For example, my-other-app@appspot.gserviceaccount.com. group:{emailid}: An email address that represents a Google group. For example, admins@example.com. deleted:user:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a user that has been recently deleted. For example, alice@example.com?uid=123456789012345678901. If the user is recovered, this value reverts to user:{emailid} and the recovered user retains the role in the binding. deleted:serviceAccount:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901. If the service account is undeleted, this value reverts to serviceAccount:{emailid} and the undeleted service account retains the role in the binding. deleted:group:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, admins@example.com?uid=123456789012345678901. If the group is recovered, this value reverts to group:{emailid} and the recovered group retains the role in the binding. domain:{domain}: The G Suite domain (primary) that represents all the users of that domain. For example, google.com or example.com.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Associates members, or principals, with a role."
    },
    "GoogleCloudDataplexV1TaskSparkTaskConfig": {
      "properties": {
        "sqlScript": {
          "description": "The query text. The execution args are used to declare a set of script variables (set key=\"value\";).",
          "type": "string"
        },
        "infrastructureSpec": {
          "description": "Optional. Infrastructure specification for the execution.",
          "$ref": "GoogleCloudDataplexV1TaskInfrastructureSpec"
        },
        "pythonScriptFile": {
          "description": "The Gcloud Storage URI of the main Python file to use as the driver. Must be a .py file. The execution args are passed in as a sequence of named process arguments (--key=value).",
          "type": "string"
        },
        "mainClass": {
          "description": "The name of the driver's main class. The jar file that contains the class must be in the default CLASSPATH or specified in jar_file_uris. The execution args are passed in as a sequence of named process arguments (--key=value).",
          "type": "string"
        },
        "sqlScriptFile": {
          "description": "A reference to a query file. This can be the Cloud Storage URI of the query file or it can the path to a SqlScript Content. The execution args are used to declare a set of script variables (set key=\"value\";).",
          "type": "string"
        },
        "mainJarFileUri": {
          "type": "string",
          "description": "The Cloud Storage URI of the jar file that contains the main class. The execution args are passed in as a sequence of named process arguments (--key=value)."
        },
        "fileUris": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Cloud Storage URIs of files to be placed in the working directory of each executor.",
          "type": "array"
        },
        "archiveUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Cloud Storage URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip."
        }
      },
      "description": "User-specified config for running a Spark task.",
      "type": "object",
      "id": "GoogleCloudDataplexV1TaskSparkTaskConfig"
    },
    "GoogleCloudDataplexV1DiscoveryEventActionDetails": {
      "id": "GoogleCloudDataplexV1DiscoveryEventActionDetails",
      "description": "Details about the action.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of action. Eg. IncompatibleDataSchema, InvalidDataFormat"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1TaskExecutionStatus": {
      "description": "Status of the task execution (e.g. Jobs).",
      "type": "object",
      "properties": {
        "latestJob": {
          "description": "Output only. latest job execution",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1Job"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Last update time of the status.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1TaskExecutionStatus"
    },
    "GoogleIamV1AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "properties": {
        "logType": {
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string",
          "description": "The log type that this config enables."
        },
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array"
        }
      },
      "id": "GoogleIamV1AuditLogConfig"
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "GoogleIamV1Policy",
          "description": "REQUIRED: The complete policy to be applied to the resource. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used:paths: \"bindings, etag\"",
          "type": "string"
        }
      },
      "id": "GoogleIamV1SetIamPolicyRequest",
      "description": "Request message for SetIamPolicy method."
    },
    "GoogleCloudDataplexV1DiscoveryEventConfigDetails": {
      "id": "GoogleCloudDataplexV1DiscoveryEventConfigDetails",
      "type": "object",
      "description": "Details about configuration events.",
      "properties": {
        "parameters": {
          "description": "A list of discovery configuration parameters in effect. The keys are the field paths within DiscoverySpec. Eg. includePatterns, excludePatterns, csvOptions.disableTypeInference, etc.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDataplexV1SessionEventQueryDetail": {
      "properties": {
        "duration": {
          "description": "Time taken for execution of the query.",
          "type": "string",
          "format": "google-duration"
        },
        "resultSizeBytes": {
          "format": "int64",
          "description": "The size of results the query produced.",
          "type": "string"
        },
        "queryId": {
          "description": "The unique Query id identifying the query.",
          "type": "string"
        },
        "queryText": {
          "type": "string",
          "description": "The query text executed."
        },
        "engine": {
          "description": "Query Execution engine.",
          "enumDescriptions": [
            "An unspecified Engine type.",
            "Spark-sql engine is specified in Query.",
            "BigQuery engine is specified in Query."
          ],
          "type": "string",
          "enum": [
            "ENGINE_UNSPECIFIED",
            "SPARK_SQL",
            "BIGQUERY"
          ]
        },
        "dataProcessedBytes": {
          "type": "string",
          "description": "The data processed by the query.",
          "format": "int64"
        }
      },
      "id": "GoogleCloudDataplexV1SessionEventQueryDetail",
      "description": "Execution details of the query.",
      "type": "object"
    },
    "GoogleCloudDataplexV1Zone": {
      "id": "GoogleCloudDataplexV1Zone",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User defined labels for the zone."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the zone was created."
        },
        "discoverySpec": {
          "$ref": "GoogleCloudDataplexV1ZoneDiscoverySpec",
          "description": "Optional. Specification of the discovery feature applied to data in this zone."
        },
        "displayName": {
          "description": "Optional. User friendly display name.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the zone was last updated.",
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. System generated globally unique ID for the zone. This ID will be different if the zone is deleted and re-created with the same name."
        },
        "assetStatus": {
          "readOnly": true,
          "description": "Output only. Aggregated status of the underlying assets of the zone.",
          "$ref": "GoogleCloudDataplexV1AssetStatus"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The relative resource name of the zone, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}."
        },
        "description": {
          "description": "Optional. Description of the zone.",
          "type": "string"
        },
        "resourceSpec": {
          "$ref": "GoogleCloudDataplexV1ZoneResourceSpec",
          "description": "Required. Specification of the resources that are referenced by the assets within this zone."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "ACTION_REQUIRED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "State is not specified.",
            "Resource is active, i.e., ready to use.",
            "Resource is under creation.",
            "Resource is under deletion.",
            "Resource is active but has unresolved actions."
          ],
          "description": "Output only. Current state of the zone.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Zone type not specified.",
            "A zone that contains data that needs further processing before it is considered generally ready for consumption and analytics workloads.",
            "A zone that contains data that is considered to be ready for broader consumption and analytics workloads. Curated structured data stored in Cloud Storage must conform to certain file formats (parquet, avro and orc) and organized in a hive-compatible directory layout."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "RAW",
            "CURATED"
          ],
          "description": "Required. Immutable. The type of the zone."
        }
      },
      "type": "object",
      "description": "A zone represents a logical group of related assets within a lake. A zone can be used to map to organizational structure or represent stages of data readiness from raw to curated. It provides managing behavior that is shared or inherited by all contained assets."
    },
    "GoogleCloudDataplexV1ActionMissingResource": {
      "description": "Action details for resource references in assets that cannot be located.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDataplexV1ActionMissingResource"
    },
    "GoogleCloudDataplexV1ListEnvironmentsResponse": {
      "properties": {
        "environments": {
          "items": {
            "$ref": "GoogleCloudDataplexV1Environment"
          },
          "description": "Environments under the given parent lake.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1ListEnvironmentsResponse",
      "description": "List environments response."
    },
    "GoogleLongrunningCancelOperationRequest": {
      "type": "object",
      "id": "GoogleLongrunningCancelOperationRequest",
      "properties": {},
      "description": "The request message for Operations.CancelOperation."
    },
    "GoogleCloudDataplexV1AssetDiscoverySpecCsvOptions": {
      "id": "GoogleCloudDataplexV1AssetDiscoverySpecCsvOptions",
      "type": "object",
      "properties": {
        "disableTypeInference": {
          "description": "Optional. Whether to disable the inference of data type for CSV data. If true, all columns will be registered as strings.",
          "type": "boolean"
        },
        "headerRows": {
          "description": "Optional. The number of rows to interpret as header rows that should be skipped when reading data rows.",
          "type": "integer",
          "format": "int32"
        },
        "delimiter": {
          "description": "Optional. The delimiter being used to separate values. This defaults to ','.",
          "type": "string"
        },
        "encoding": {
          "type": "string",
          "description": "Optional. The character encoding of the data. The default is UTF-8."
        }
      },
      "description": "Describe CSV and similar semi-structured data formats."
    },
    "GoogleCloudDataplexV1TaskInfrastructureSpecBatchComputeResources": {
      "id": "GoogleCloudDataplexV1TaskInfrastructureSpecBatchComputeResources",
      "type": "object",
      "properties": {
        "executorsCount": {
          "type": "integer",
          "description": "Optional. Total number of job executors.",
          "format": "int32"
        },
        "maxExecutorsCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Max configurable executors. If max_executors_count \u003e executors_count, then auto-scaling is enabled."
        }
      },
      "description": "Batch compute resources associated with the task."
    },
    "GoogleCloudDataplexV1Task": {
      "description": "A task represents a user-visible job.",
      "type": "object",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Optional. User-defined labels for the task.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the task was last updated."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "ACTION_REQUIRED"
          ],
          "type": "string",
          "description": "Output only. Current state of the task.",
          "enumDescriptions": [
            "State is not specified.",
            "Resource is active, i.e., ready to use.",
            "Resource is under creation.",
            "Resource is under deletion.",
            "Resource is active but has unresolved actions."
          ],
          "readOnly": true
        },
        "spark": {
          "$ref": "GoogleCloudDataplexV1TaskSparkTaskConfig",
          "description": "Config related to running custom Spark tasks."
        },
        "executionSpec": {
          "description": "Required. Spec related to how a task is executed.",
          "$ref": "GoogleCloudDataplexV1TaskExecutionSpec"
        },
        "displayName": {
          "description": "Optional. User friendly display name.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the task."
        },
        "executionStatus": {
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1TaskExecutionStatus",
          "description": "Output only. Status of the latest task executions."
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the task. This ID will be different if the task is deleted and re-created with the same name.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The relative resource name of the task, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/ tasks/{task_id}.",
          "type": "string"
        },
        "triggerSpec": {
          "description": "Required. Spec related to how often and when a task should be triggered.",
          "$ref": "GoogleCloudDataplexV1TaskTriggerSpec"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the task was created.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDataplexV1Task"
    },
    "GoogleLongrunningOperation": {
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}."
        },
        "done": {
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available.",
          "type": "boolean"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "GoogleLongrunningOperation"
    },
    "GoogleCloudDataplexV1EnvironmentInfrastructureSpecComputeResources": {
      "type": "object",
      "description": "Compute resources associated with the analyze interactive workloads.",
      "id": "GoogleCloudDataplexV1EnvironmentInfrastructureSpecComputeResources",
      "properties": {
        "diskSizeGb": {
          "format": "int32",
          "description": "Optional. Size in GB of the disk. Default is 100 GB.",
          "type": "integer"
        },
        "maxNodeCount": {
          "description": "Optional. Max configurable nodes. If max_node_count \u003e node_count, then auto-scaling is enabled.",
          "type": "integer",
          "format": "int32"
        },
        "nodeCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Total number of nodes in the sessions created for this environment."
        }
      }
    },
    "GoogleCloudDataplexV1ActionIncompatibleDataSchema": {
      "id": "GoogleCloudDataplexV1ActionIncompatibleDataSchema",
      "properties": {
        "schemaChange": {
          "enumDescriptions": [
            "Schema change unspecified.",
            "Newly discovered schema is incompatible with existing schema.",
            "Newly discovered schema has changed from existing schema for data in a curated zone."
          ],
          "description": "Whether the action relates to a schema that is incompatible or modified.",
          "type": "string",
          "enum": [
            "SCHEMA_CHANGE_UNSPECIFIED",
            "INCOMPATIBLE",
            "MODIFIED"
          ]
        },
        "newSchema": {
          "description": "The new and incompatible schema within the table. The schema is provided as a JSON formatted structured listing columns and data types.",
          "type": "string"
        },
        "existingSchema": {
          "type": "string",
          "description": "The existing and expected schema of the table. The schema is provided as a JSON formatted structure listing columns and data types."
        },
        "table": {
          "type": "string",
          "description": "The name of the table containing invalid data."
        },
        "sampledDataLocations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of data locations sampled and used for format/schema inference."
        }
      },
      "type": "object",
      "description": "Action details for incompatible schemas detected by discovery."
    },
    "GoogleCloudDataplexV1ListPartitionsResponse": {
      "properties": {
        "partitions": {
          "description": "Partitions under the specified parent entity.",
          "items": {
            "$ref": "GoogleCloudDataplexV1Partition"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no remaining results in the list.",
          "type": "string"
        }
      },
      "description": "List metadata partitions response.",
      "id": "GoogleCloudDataplexV1ListPartitionsResponse",
      "type": "object"
    },
    "GoogleCloudDataplexV1StorageFormatCsvOptions": {
      "id": "GoogleCloudDataplexV1StorageFormatCsvOptions",
      "description": "Describes CSV and similar semi-structured data formats.",
      "type": "object",
      "properties": {
        "headerRows": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of rows to interpret as header rows that should be skipped when reading data rows. Defaults to 0."
        },
        "delimiter": {
          "type": "string",
          "description": "Optional. The delimiter used to separate values. Defaults to ','."
        },
        "encoding": {
          "description": "Optional. The character encoding of the data. Accepts \"US-ASCII\", \"UTF-8\", and \"ISO-8859-1\". Defaults to UTF-8 if unspecified.",
          "type": "string"
        },
        "quote": {
          "type": "string",
          "description": "Optional. The character used to quote column values. Accepts '\"' (double quotation mark) or ''' (single quotation mark). Defaults to '\"' (double quotation mark) if unspecified."
        }
      }
    },
    "GoogleCloudDataplexV1ActionInvalidDataFormat": {
      "description": "Action details for invalid or unsupported data files detected by discovery.",
      "id": "GoogleCloudDataplexV1ActionInvalidDataFormat",
      "type": "object",
      "properties": {
        "sampledDataLocations": {
          "items": {
            "type": "string"
          },
          "description": "The list of data locations sampled and used for format/schema inference.",
          "type": "array"
        },
        "expectedFormat": {
          "type": "string",
          "description": "The expected data format of the entity."
        },
        "newFormat": {
          "description": "The new unexpected data format within the entity.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1Action": {
      "description": "Action represents an issue requiring administrator action for resolution.",
      "type": "object",
      "properties": {
        "incompatibleDataSchema": {
          "description": "Details for issues related to incompatible schemas detected within data.",
          "$ref": "GoogleCloudDataplexV1ActionIncompatibleDataSchema"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The relative resource name of the action, of the form: projects/{project}/locations/{location}/lakes/{lake}/actions/{action} projects/{project}/locations/{location}/lakes/{lake}/zones/{zone}/actions/{action} projects/{project}/locations/{location}/lakes/{lake}/zones/{zone}/assets/{asset}/actions/{action}."
        },
        "category": {
          "type": "string",
          "description": "The category of issue associated with the action.",
          "enumDescriptions": [
            "Unspecified category.",
            "Resource management related issues.",
            "Security policy related issues.",
            "Data and discovery related issues."
          ],
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "RESOURCE_MANAGEMENT",
            "SECURITY_POLICY",
            "DATA_DISCOVERY"
          ]
        },
        "failedSecurityPolicyApply": {
          "description": "Details for issues related to applying security policy.",
          "$ref": "GoogleCloudDataplexV1ActionFailedSecurityPolicyApply"
        },
        "detectTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time that the issue was detected."
        },
        "invalidDataPartition": {
          "description": "Details for issues related to invalid or unsupported data partition structure.",
          "$ref": "GoogleCloudDataplexV1ActionInvalidDataPartition"
        },
        "zone": {
          "description": "Output only. The relative resource name of the zone, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}.",
          "readOnly": true,
          "type": "string"
        },
        "unauthorizedResource": {
          "description": "Details for issues related to lack of permissions to access data resources.",
          "$ref": "GoogleCloudDataplexV1ActionUnauthorizedResource"
        },
        "lake": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The relative resource name of the lake, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}."
        },
        "missingResource": {
          "description": "Details for issues related to absence of a managed resource.",
          "$ref": "GoogleCloudDataplexV1ActionMissingResource"
        },
        "invalidDataOrganization": {
          "description": "Details for issues related to invalid data arrangement.",
          "$ref": "GoogleCloudDataplexV1ActionInvalidDataOrganization"
        },
        "dataLocations": {
          "items": {
            "type": "string"
          },
          "description": "The list of data locations associated with this action. Cloud Storage locations are represented as URI paths(E.g. gs://bucket/table1/year=2020/month=Jan/). BigQuery locations refer to resource names(E.g. bigquery.googleapis.com/projects/project-id/datasets/dataset-id).",
          "type": "array"
        },
        "issue": {
          "description": "Detailed description of the issue requiring action.",
          "type": "string"
        },
        "invalidDataFormat": {
          "$ref": "GoogleCloudDataplexV1ActionInvalidDataFormat",
          "description": "Details for issues related to invalid or unsupported data formats."
        },
        "missingData": {
          "description": "Details for issues related to absence of data within managed resources.",
          "$ref": "GoogleCloudDataplexV1ActionMissingData"
        },
        "asset": {
          "type": "string",
          "description": "Output only. The relative resource name of the asset, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}/assets/{asset_id}.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDataplexV1Action"
    },
    "GoogleCloudDataplexV1ActionInvalidDataPartition": {
      "properties": {
        "expectedStructure": {
          "type": "string",
          "enum": [
            "PARTITION_STRUCTURE_UNSPECIFIED",
            "CONSISTENT_KEYS",
            "HIVE_STYLE_KEYS"
          ],
          "enumDescriptions": [
            "PartitionStructure unspecified.",
            "Consistent hive-style partition definition (both raw and curated zone).",
            "Hive style partition definition (curated zone only)."
          ],
          "description": "The issue type of InvalidDataPartition."
        }
      },
      "id": "GoogleCloudDataplexV1ActionInvalidDataPartition",
      "type": "object",
      "description": "Action details for invalid or unsupported partitions detected by discovery."
    },
    "GoogleCloudDataplexV1Asset": {
      "type": "object",
      "id": "GoogleCloudDataplexV1Asset",
      "properties": {
        "description": {
          "description": "Optional. Description of the asset.",
          "type": "string"
        },
        "discoveryStatus": {
          "readOnly": true,
          "description": "Output only. Status of the discovery feature applied to data referenced by this asset.",
          "$ref": "GoogleCloudDataplexV1AssetDiscoveryStatus"
        },
        "updateTime": {
          "description": "Output only. The time when the asset was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "resourceSpec": {
          "description": "Required. Specification of the resource that is referenced by this asset.",
          "$ref": "GoogleCloudDataplexV1AssetResourceSpec"
        },
        "resourceStatus": {
          "$ref": "GoogleCloudDataplexV1AssetResourceStatus",
          "description": "Output only. Status of the resource referenced by this asset.",
          "readOnly": true
        },
        "state": {
          "description": "Output only. Current state of the asset.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "ACTION_REQUIRED"
          ],
          "type": "string",
          "enumDescriptions": [
            "State is not specified.",
            "Resource is active, i.e., ready to use.",
            "Resource is under creation.",
            "Resource is under deletion.",
            "Resource is active but has unresolved actions."
          ],
          "readOnly": true
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. System generated globally unique ID for the asset. This ID will be different if the asset is deleted and re-created with the same name."
        },
        "discoverySpec": {
          "description": "Optional. Specification of the discovery feature applied to data referenced by this asset. When this spec is left unset, the asset will use the spec set on the parent zone.",
          "$ref": "GoogleCloudDataplexV1AssetDiscoverySpec"
        },
        "name": {
          "description": "Output only. The relative resource name of the asset, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}/assets/{asset_id}.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Optional. User friendly display name.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User defined labels for the asset.",
          "type": "object"
        },
        "securityStatus": {
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1AssetSecurityStatus",
          "description": "Output only. Status of the security policy applied to resource referenced by this asset."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the asset was created."
        }
      },
      "description": "An asset represents a cloud resource that is being managed within a lake as a member of a zone."
    },
    "GoogleCloudDataplexV1EntityCompatibilityStatus": {
      "id": "GoogleCloudDataplexV1EntityCompatibilityStatus",
      "type": "object",
      "properties": {
        "hiveMetastore": {
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1EntityCompatibilityStatusCompatibility",
          "description": "Output only. Whether this entity is compatible with Hive Metastore."
        },
        "bigquery": {
          "$ref": "GoogleCloudDataplexV1EntityCompatibilityStatusCompatibility",
          "readOnly": true,
          "description": "Output only. Whether this entity is compatible with BigQuery."
        }
      },
      "description": "Provides compatibility information for various metadata stores."
    },
    "GoogleCloudDataplexV1EnvironmentSessionSpec": {
      "type": "object",
      "id": "GoogleCloudDataplexV1EnvironmentSessionSpec",
      "properties": {
        "maxIdleDuration": {
          "format": "google-duration",
          "description": "Optional. The idle time configuration of the session. The session will be auto-terminated at the end of this period.",
          "type": "string"
        },
        "enableFastStartup": {
          "type": "boolean",
          "description": "Optional. If True, this causes sessions to be pre-created and available for faster startup to enable interactive exploration use-cases. This defaults to False to avoid additional billed charges. These can only be set to True for the environment with name set to \"default\", and with default configuration."
        }
      }
    },
    "GoogleCloudDataplexV1TaskTriggerSpec": {
      "type": "object",
      "description": "Task scheduling and trigger settings.",
      "id": "GoogleCloudDataplexV1TaskTriggerSpec",
      "properties": {
        "schedule": {
          "type": "string",
          "description": "Optional. Cron schedule (https://en.wikipedia.org/wiki/Cron) for running tasks periodically. To explicitly set a timezone to the cron tab, apply a prefix in the cron tab: \"CRON_TZ=${IANA_TIME_ZONE}\" or \"TZ=${IANA_TIME_ZONE}\". The ${IANA_TIME_ZONE} may only be a valid string from IANA time zone database. For example, \"CRON_TZ=America/New_York 1 * * * *\", or \"TZ=America/New_York 1 * * * *\". This field is required for RECURRING tasks."
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Prevent the task from executing. This does not cancel already running tasks. It is intended to temporarily disable RECURRING tasks."
        },
        "maxRetries": {
          "description": "Optional. Number of retry attempts before aborting. Set to zero to never attempt to retry a failed task.",
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ON_DEMAND",
            "RECURRING"
          ],
          "type": "string",
          "description": "Required. Immutable. Trigger type of the user-specified Task.",
          "enumDescriptions": [
            "Unspecified trigger type.",
            "The task runs one-time shortly after Task Creation.",
            "The task is scheduled to run periodically."
          ]
        },
        "startTime": {
          "type": "string",
          "description": "Optional. The first run of the task will be after this time. If not specified, the task will run shortly after being submitted if ON_DEMAND and based on the schedule if RECURRING.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDataplexV1AssetResourceSpec": {
      "description": "Identifies the cloud resource that is referenced by this asset.",
      "id": "GoogleCloudDataplexV1AssetResourceSpec",
      "type": "object",
      "properties": {
        "name": {
          "description": "Immutable. Relative name of the cloud resource that contains the data that is being managed within a lake. For example: projects/{project_number}/buckets/{bucket_id} projects/{project_number}/datasets/{dataset_id}",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Type not specified.",
            "Cloud Storage bucket.",
            "BigQuery dataset."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STORAGE_BUCKET",
            "BIGQUERY_DATASET"
          ],
          "description": "Required. Immutable. Type of resource."
        }
      }
    },
    "GoogleCloudDataplexV1Content": {
      "description": "Content represents a user-visible notebook or a sql script",
      "type": "object",
      "id": "GoogleCloudDataplexV1Content",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Content creation time."
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the content. This ID will be different if the content is deleted and re-created with the same name.",
          "type": "string",
          "readOnly": true
        },
        "notebook": {
          "description": "Notebook related configurations.",
          "$ref": "GoogleCloudDataplexV1ContentNotebook"
        },
        "path": {
          "type": "string",
          "description": "Required. The path for the Content file, represented as directory structure. Unique within a lake. Limited to alphanumerics, hyphens, underscores, dots and slashes."
        },
        "dataText": {
          "description": "Required. Content data in string format.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. User defined labels for the content.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "sqlScript": {
          "$ref": "GoogleCloudDataplexV1ContentSqlScript",
          "description": "Sql Script related configurations."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The relative resource name of the content, of the form: projects/{project_id}/locations/{location_id}/lakes/{lake_id}/content/{content_id}"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the content was last updated.",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. Description of the content.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1Job": {
      "id": "GoogleCloudDataplexV1Job",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "Output only. Additional information about the current state.",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the job ended."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The relative resource name of the job, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/ tasks/{task_id}/jobs/{job_id}."
        },
        "retryCount": {
          "description": "Output only. . The number of times the job has been retried (excluding the initial attempt).",
          "type": "integer",
          "format": "uint32",
          "readOnly": true
        },
        "serviceJob": {
          "readOnly": true,
          "description": "Output only. The full resource name for the job run under a particular service.",
          "type": "string"
        },
        "startTime": {
          "readOnly": true,
          "description": "Output only. The time when the job was started.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The job state is unknown.",
            "The job is running.",
            "The job is cancelling.",
            "The job cancellation was successful.",
            "The job completed successfully.",
            "The job is no longer running due to an error.",
            "The job was cancelled outside of Dataplex."
          ],
          "type": "string",
          "description": "Output only. Execution state for the job.",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED",
            "FAILED",
            "ABORTED"
          ]
        },
        "service": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "SERVICE_UNSPECIFIED",
            "DATAPROC"
          ],
          "enumDescriptions": [
            "Service used to run the job is unspecified.",
            "Dataproc service is used to run this job."
          ],
          "description": "Output only. The underlying service running a job."
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the job.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A job represents an instance of a task."
    },
    "GoogleCloudDataplexV1DiscoveryEventEntityDetails": {
      "properties": {
        "entity": {
          "type": "string",
          "description": "The name of the entity resource. The name is the fully-qualified resource name."
        },
        "type": {
          "type": "string",
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "TABLE",
            "FILESET"
          ],
          "description": "The type of the entity resource.",
          "enumDescriptions": [
            "An unspecified event type.",
            "Entities representing structured data.",
            "Entities representing unstructured data."
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1DiscoveryEventEntityDetails",
      "description": "Details about the entity."
    },
    "GoogleCloudDataplexV1TaskInfrastructureSpecVpcNetwork": {
      "description": "Cloud VPC Network used to run the infrastructure.",
      "type": "object",
      "id": "GoogleCloudDataplexV1TaskInfrastructureSpecVpcNetwork",
      "properties": {
        "network": {
          "type": "string",
          "description": "Optional. The Cloud VPC network in which the job is run. By default, the Cloud VPC network named Default within the project is used."
        },
        "networkTags": {
          "type": "array",
          "description": "Optional. List of network tags to apply to the job.",
          "items": {
            "type": "string"
          }
        },
        "subNetwork": {
          "type": "string",
          "description": "Optional. The Cloud VPC sub-network in which the job is run."
        }
      }
    },
    "GoogleCloudDataplexV1Lake": {
      "description": "A lake is a centralized repository for managing enterprise data across the organization distributed across many cloud projects, and stored in a variety of storage services such as Google Cloud Storage and BigQuery. The resources attached to a lake are referred to as managed resources. Data within these managed resources can be structured or unstructured. A lake provides data admins with tools to organize, secure and manage their data at scale, and provides data scientists and data engineers an integrated experience to easily search, discover, analyze and transform data and associated metadata.",
      "type": "object",
      "id": "GoogleCloudDataplexV1Lake",
      "properties": {
        "labels": {
          "description": "Optional. User-defined labels for the lake.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "Optional. User friendly display name.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the lake was created.",
          "format": "google-datetime"
        },
        "serviceAccount": {
          "readOnly": true,
          "description": "Output only. Service account associated with this lake. This service account must be authorized to access or operate on resources managed by the lake.",
          "type": "string"
        },
        "metastore": {
          "description": "Optional. Settings to manage lake and Dataproc Metastore service instance association.",
          "$ref": "GoogleCloudDataplexV1LakeMetastore"
        },
        "name": {
          "type": "string",
          "description": "Output only. The relative resource name of the lake, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}.",
          "readOnly": true
        },
        "uid": {
          "type": "string",
          "description": "Output only. System generated globally unique ID for the lake. This ID will be different if the lake is deleted and re-created with the same name.",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the lake was last updated.",
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "State is not specified.",
            "Resource is active, i.e., ready to use.",
            "Resource is under creation.",
            "Resource is under deletion.",
            "Resource is active but has unresolved actions."
          ],
          "description": "Output only. Current state of the lake.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "ACTION_REQUIRED"
          ]
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the lake."
        },
        "assetStatus": {
          "readOnly": true,
          "description": "Output only. Aggregated status of the underlying assets of the lake.",
          "$ref": "GoogleCloudDataplexV1AssetStatus"
        },
        "metastoreStatus": {
          "$ref": "GoogleCloudDataplexV1LakeMetastoreStatus",
          "readOnly": true,
          "description": "Output only. Metastore status of the lake."
        }
      }
    },
    "GoogleCloudDataplexV1Partition": {
      "id": "GoogleCloudDataplexV1Partition",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Partition values used in the HTTP URL must be double encoded. For example, url_encode(url_encode(value)) can be used to encode \"US:CA/CA#Sunnyvale so that the request URL ends with \"/partitions/US%253ACA/CA%2523Sunnyvale\". The name field in the response retains the encoded format.",
          "readOnly": true
        },
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Required. Immutable. The set of values representing the partition, which correspond to the partition schema defined in the parent entity.",
          "type": "array"
        },
        "location": {
          "description": "Required. Immutable. The location of the entity data within the partition, for example, gs://bucket/path/to/entity/key1=value1/key2=value2. Or projects//datasets//tables/",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Optional. The etag for this partition."
        }
      },
      "type": "object",
      "description": "Represents partition metadata contained within entity instances."
    },
    "GoogleRpcStatus": {
      "type": "object",
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      }
    },
    "GoogleCloudDataplexV1EnvironmentEndpoints": {
      "properties": {
        "notebooks": {
          "description": "Output only. URI to serve notebook APIs",
          "readOnly": true,
          "type": "string"
        },
        "sql": {
          "type": "string",
          "description": "Output only. URI to serve SQL APIs",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1EnvironmentEndpoints"
    },
    "GoogleCloudDataplexV1ListSessionsResponse": {
      "properties": {
        "sessions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1Session"
          },
          "description": "Sessions under a given environment."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "description": "List sessions response.",
      "type": "object",
      "id": "GoogleCloudDataplexV1ListSessionsResponse"
    },
    "GoogleCloudDataplexV1CancelJobRequest": {
      "description": "Cancel task jobs.",
      "type": "object",
      "id": "GoogleCloudDataplexV1CancelJobRequest",
      "properties": {}
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } ",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDataplexV1ActionMissingData": {
      "properties": {},
      "description": "Action details for absence of data detected by discovery.",
      "type": "object",
      "id": "GoogleCloudDataplexV1ActionMissingData"
    },
    "GoogleCloudLocationListLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "id": "GoogleCloudLocationListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "GoogleCloudDataplexV1TaskExecutionSpec": {
      "id": "GoogleCloudDataplexV1TaskExecutionSpec",
      "properties": {
        "args": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The arguments to pass to the task. The args can use placeholders of the format ${placeholder} as part of key/value string. These will be interpolated before passing the args to the driver. Currently supported placeholders: - ${task_id} - ${job_time} To pass positional args, set the key as TASK_ARGS. The value should be a comma-separated string of all the positional arguments. To use a delimiter other than comma, refer to https://cloud.google.com/sdk/gcloud/reference/topic/escaping. In case of other keys being present in the args, then TASK_ARGS will be passed as the last argument."
        },
        "maxJobExecutionLifetime": {
          "description": "Optional. The maximum duration after which the job execution is expired.",
          "type": "string",
          "format": "google-duration"
        },
        "serviceAccount": {
          "description": "Required. Service account to use to execute a task. If not provided, the default Compute service account for the project is used.",
          "type": "string"
        },
        "project": {
          "type": "string",
          "description": "Optional. The project in which jobs are run. By default, the project containing the Lake is used. If a project is provided, the executionspec.service_account must belong to this same project."
        }
      },
      "type": "object",
      "description": "Execution related settings, like retry and service_account."
    },
    "GoogleCloudDataplexV1SchemaPartitionField": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Partition field name must consist of letters, numbers, and underscores only, with a maximum of length of 256 characters, and must begin with a letter or underscore..",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "SchemaType unspecified.",
            "Boolean field.",
            "Single byte numeric field.",
            "16-bit numeric field.",
            "32-bit numeric field.",
            "64-bit numeric field.",
            "Floating point numeric field.",
            "Double precision numeric field.",
            "Real value numeric field.",
            "Sequence of characters field.",
            "Sequence of bytes field.",
            "Date and time field.",
            "Date field.",
            "Time field.",
            "Structured field. Nested fields that define the structure of the map. If all nested fields are nullable, this field represents a union.",
            "Null field that does not have values."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "BOOLEAN",
            "BYTE",
            "INT16",
            "INT32",
            "INT64",
            "FLOAT",
            "DOUBLE",
            "DECIMAL",
            "STRING",
            "BINARY",
            "TIMESTAMP",
            "DATE",
            "TIME",
            "RECORD",
            "NULL"
          ],
          "type": "string",
          "description": "Required. Immutable. The type of field."
        }
      },
      "id": "GoogleCloudDataplexV1SchemaPartitionField",
      "description": "Represents a key field within the entity's partition structure. You could have up to 20 partition fields, but only the first 10 partitions have the filtering ability due to performance consideration. Note: Partition fields are immutable."
    },
    "GoogleCloudDataplexV1DiscoveryEventPartitionDetails": {
      "type": "object",
      "id": "GoogleCloudDataplexV1DiscoveryEventPartitionDetails",
      "properties": {
        "sampledDataLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The locations of the data items (e.g., a Cloud Storage objects) sampled for metadata inference."
        },
        "entity": {
          "type": "string",
          "description": "The name to the containing entity resource. The name is the fully-qualified resource name."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified event type.",
            "Entities representing structured data.",
            "Entities representing unstructured data."
          ],
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "TABLE",
            "FILESET"
          ],
          "description": "The type of the containing entity resource."
        },
        "partition": {
          "description": "The name to the partition resource. The name is the fully-qualified resource name.",
          "type": "string"
        }
      },
      "description": "Details about the partition."
    },
    "GoogleCloudDataplexV1ContentNotebook": {
      "id": "GoogleCloudDataplexV1ContentNotebook",
      "description": "Configuration for Notebook content.",
      "type": "object",
      "properties": {
        "kernelType": {
          "description": "Required. Kernel Type of the notebook.",
          "enumDescriptions": [
            "Kernel Type unspecified.",
            "Python 3 Kernel."
          ],
          "type": "string",
          "enum": [
            "KERNEL_TYPE_UNSPECIFIED",
            "PYTHON3"
          ]
        }
      }
    },
    "GoogleCloudDataplexV1ZoneDiscoverySpec": {
      "properties": {
        "enabled": {
          "description": "Required. Whether discovery is enabled.",
          "type": "boolean"
        },
        "includePatterns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of patterns to apply for selecting data to include during discovery if only a subset of the data should considered. For Cloud Storage bucket assets, these are interpreted as glob patterns used to match object names. For BigQuery dataset assets, these are interpreted as patterns to match table names."
        },
        "jsonOptions": {
          "$ref": "GoogleCloudDataplexV1ZoneDiscoverySpecJsonOptions",
          "description": "Optional. Configuration for Json data."
        },
        "schedule": {
          "type": "string",
          "description": "Optional. Cron schedule (https://en.wikipedia.org/wiki/Cron) for running discovery periodically. Successive discovery runs must be scheduled at least 60 minutes apart. The default value is to run discovery every 60 minutes. To explicitly set a timezone to the cron tab, apply a prefix in the cron tab: \"CRON_TZ=${IANA_TIME_ZONE}\" or TZ=${IANA_TIME_ZONE}\". The ${IANA_TIME_ZONE} may only be a valid string from IANA time zone database. For example, \"CRON_TZ=America/New_York 1 * * * *\", or \"TZ=America/New_York 1 * * * *\"."
        },
        "csvOptions": {
          "description": "Optional. Configuration for CSV data.",
          "$ref": "GoogleCloudDataplexV1ZoneDiscoverySpecCsvOptions"
        },
        "excludePatterns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of patterns to apply for selecting data to exclude during discovery. For Cloud Storage bucket assets, these are interpreted as glob patterns used to match object names. For BigQuery dataset assets, these are interpreted as patterns to match table names."
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1ZoneDiscoverySpec",
      "description": "Settings to manage the metadata discovery and publishing in a zone."
    },
    "GoogleCloudDataplexV1SessionEvent": {
      "properties": {
        "message": {
          "type": "string",
          "description": "The log message."
        },
        "userId": {
          "description": "The information about the user that created the session.",
          "type": "string"
        },
        "type": {
          "description": "The type of the event.",
          "enumDescriptions": [
            "An unspecified event type.",
            "Event for start of a session.",
            "Event for stop of a session.",
            "Query events in the session."
          ],
          "type": "string",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "START",
            "STOP",
            "QUERY"
          ]
        },
        "query": {
          "description": "The execution details of the query.",
          "$ref": "GoogleCloudDataplexV1SessionEventQueryDetail"
        },
        "sessionId": {
          "type": "string",
          "description": "Unique identifier for the session."
        }
      },
      "description": "These messages contain information about sessions within an environment. The monitored resource is 'Environment'.",
      "id": "GoogleCloudDataplexV1SessionEvent",
      "type": "object"
    },
    "GoogleCloudDataplexV1ZoneDiscoverySpecJsonOptions": {
      "type": "object",
      "properties": {
        "disableTypeInference": {
          "description": "Optional. Whether to disable the inference of data type for Json data. If true, all columns will be registered as their primitive types (strings, number or boolean).",
          "type": "boolean"
        },
        "encoding": {
          "description": "Optional. The character encoding of the data. The default is UTF-8.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1ZoneDiscoverySpecJsonOptions",
      "description": "Describe JSON data format."
    },
    "GoogleCloudDataplexV1Session": {
      "description": "Represents an active analyze session running for a user.",
      "properties": {
        "createTime": {
          "description": "Output only. Session start time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Output only. The relative resource name of the content, of the form: projects/{project_id}/locations/{location_id}/lakes/{lake_id}/environment/{environment_id}/sessions/{session_id}",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "ACTION_REQUIRED"
          ],
          "enumDescriptions": [
            "State is not specified.",
            "Resource is active, i.e., ready to use.",
            "Resource is under creation.",
            "Resource is under deletion.",
            "Resource is active but has unresolved actions."
          ],
          "readOnly": true,
          "type": "string"
        },
        "userId": {
          "description": "Output only. Email of user running the session.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1Session",
      "type": "object"
    },
    "GoogleCloudDataplexV1AssetSecurityStatus": {
      "properties": {
        "message": {
          "type": "string",
          "description": "Additional information about the current state."
        },
        "updateTime": {
          "description": "Last update time of the status.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "APPLYING",
            "ERROR"
          ],
          "type": "string",
          "description": "The current state of the security policy applied to the attached resource.",
          "enumDescriptions": [
            "State unspecified.",
            "Security policy has been successfully applied to the attached resource.",
            "Security policy is in the process of being applied to the attached resource.",
            "Security policy could not be applied to the attached resource due to errors."
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1AssetSecurityStatus",
      "description": "Security policy status of the asset. Data security policy, i.e., readers, writers & owners, should be specified in the lake/zone/asset IAM policy."
    },
    "GoogleCloudDataplexV1ListActionsResponse": {
      "description": "List actions response.",
      "properties": {
        "actions": {
          "description": "Actions under the given parent lake/zone/asset.",
          "items": {
            "$ref": "GoogleCloudDataplexV1Action"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "id": "GoogleCloudDataplexV1ListActionsResponse",
      "type": "object"
    },
    "GoogleCloudDataplexV1ActionUnauthorizedResource": {
      "id": "GoogleCloudDataplexV1ActionUnauthorizedResource",
      "properties": {},
      "description": "Action details for unauthorized resource issues raised to indicate that the service account associated with the lake instance is not authorized to access or manage the resource associated with an asset.",
      "type": "object"
    },
    "GoogleCloudDataplexV1AssetResourceStatus": {
      "properties": {
        "message": {
          "description": "Additional information about the current state.",
          "type": "string"
        },
        "updateTime": {
          "description": "Last update time of the status.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "ERROR"
          ],
          "description": "The current state of the managed resource.",
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "Resource does not have any errors.",
            "Resource has errors."
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1AssetResourceStatus",
      "description": "Status of the resource referenced by an asset."
    },
    "GoogleCloudDataplexV1StorageFormatJsonOptions": {
      "type": "object",
      "description": "Describes JSON data format.",
      "id": "GoogleCloudDataplexV1StorageFormatJsonOptions",
      "properties": {
        "encoding": {
          "type": "string",
          "description": "Optional. The character encoding of the data. Accepts \"US-ASCII\", \"UTF-8\" and \"ISO-8859-1\". Defaults to UTF-8 if not specified."
        }
      }
    },
    "GoogleCloudDataplexV1AssetDiscoverySpec": {
      "description": "Settings to manage the metadata discovery and publishing for an asset.",
      "id": "GoogleCloudDataplexV1AssetDiscoverySpec",
      "properties": {
        "excludePatterns": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The list of patterns to apply for selecting data to exclude during discovery. For Cloud Storage bucket assets, these are interpreted as glob patterns used to match object names. For BigQuery dataset assets, these are interpreted as patterns to match table names."
        },
        "includePatterns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of patterns to apply for selecting data to include during discovery if only a subset of the data should considered. For Cloud Storage bucket assets, these are interpreted as glob patterns used to match object names. For BigQuery dataset assets, these are interpreted as patterns to match table names."
        },
        "jsonOptions": {
          "description": "Optional. Configuration for Json data.",
          "$ref": "GoogleCloudDataplexV1AssetDiscoverySpecJsonOptions"
        },
        "enabled": {
          "type": "boolean",
          "description": "Optional. Whether discovery is enabled."
        },
        "schedule": {
          "type": "string",
          "description": "Optional. Cron schedule (https://en.wikipedia.org/wiki/Cron) for running discovery periodically. Successive discovery runs must be scheduled at least 60 minutes apart. The default value is to run discovery every 60 minutes. To explicitly set a timezone to the cron tab, apply a prefix in the cron tab: \"CRON_TZ=${IANA_TIME_ZONE}\" or TZ=${IANA_TIME_ZONE}\". The ${IANA_TIME_ZONE} may only be a valid string from IANA time zone database. For example, \"CRON_TZ=America/New_York 1 * * * *\", or \"TZ=America/New_York 1 * * * *\"."
        },
        "csvOptions": {
          "description": "Optional. Configuration for CSV data.",
          "$ref": "GoogleCloudDataplexV1AssetDiscoverySpecCsvOptions"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1AssetDiscoveryStatusStats": {
      "type": "object",
      "properties": {
        "filesets": {
          "type": "string",
          "description": "The count of fileset entities within the referenced resource.",
          "format": "int64"
        },
        "dataSize": {
          "description": "The number of stored data bytes within the referenced resource.",
          "type": "string",
          "format": "int64"
        },
        "tables": {
          "type": "string",
          "description": "The count of table entities within the referenced resource.",
          "format": "int64"
        },
        "dataItems": {
          "description": "The count of data items within the referenced resource.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "The aggregated data statistics for the asset reported by discovery.",
      "id": "GoogleCloudDataplexV1AssetDiscoveryStatusStats"
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "A subset of TestPermissionsRequest.permissions that the caller is allowed.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for TestIamPermissions method."
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "description": "Request message for TestIamPermissions method.",
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the resource. Permissions with wildcards (such as * or storage.*) are not allowed. For more information see IAM Overview (https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "id": "GoogleIamV1TestIamPermissionsRequest"
    },
    "GoogleCloudDataplexV1ListLakesResponse": {
      "id": "GoogleCloudDataplexV1ListLakesResponse",
      "description": "List lakes response.",
      "properties": {
        "lakes": {
          "items": {
            "$ref": "GoogleCloudDataplexV1Lake"
          },
          "type": "array",
          "description": "Lakes under the given parent location."
        },
        "unreachableLocations": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1Schema": {
      "description": "Schema information describing the structure and layout of the data.",
      "id": "GoogleCloudDataplexV1Schema",
      "type": "object",
      "properties": {
        "fields": {
          "items": {
            "$ref": "GoogleCloudDataplexV1SchemaSchemaField"
          },
          "type": "array",
          "description": "Optional. The sequence of fields describing data in table entities. Note: BigQuery SchemaFields are immutable."
        },
        "partitionFields": {
          "description": "Optional. The sequence of fields describing the partition structure in entities. If this field is empty, there are no partitions within the data.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1SchemaPartitionField"
          }
        },
        "userManaged": {
          "type": "boolean",
          "description": "Required. Set to true if user-managed or false if managed by Dataplex. The default is false (managed by Dataplex). Set to falseto enable Dataplex discovery to update the schema. including new data discovery, schema inference, and schema evolution. Users retain the ability to input and edit the schema. Dataplex treats schema input by the user as though produced by a previous Dataplex discovery operation, and it will evolve the schema and take action based on that treatment. Set to true to fully manage the entity schema. This setting guarantees that Dataplex will not change schema fields."
        },
        "partitionStyle": {
          "type": "string",
          "enum": [
            "PARTITION_STYLE_UNSPECIFIED",
            "HIVE_COMPATIBLE"
          ],
          "description": "Optional. The structure of paths containing partition data within the entity.",
          "enumDescriptions": [
            "PartitionStyle unspecified",
            "Partitions are hive-compatible. Examples: gs://bucket/path/to/table/dt=2019-10-31/lang=en, gs://bucket/path/to/table/dt=2019-10-31/lang=en/late."
          ]
        }
      }
    },
    "GoogleCloudDataplexV1AssetDiscoverySpecJsonOptions": {
      "type": "object",
      "description": "Describe JSON data format.",
      "id": "GoogleCloudDataplexV1AssetDiscoverySpecJsonOptions",
      "properties": {
        "disableTypeInference": {
          "description": "Optional. Whether to disable the inference of data type for Json data. If true, all columns will be registered as their primitive types (strings, number or boolean).",
          "type": "boolean"
        },
        "encoding": {
          "type": "string",
          "description": "Optional. The character encoding of the data. The default is UTF-8."
        }
      }
    },
    "GoogleCloudDataplexV1ListJobsResponse": {
      "description": "List jobs response.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "jobs": {
          "items": {
            "$ref": "GoogleCloudDataplexV1Job"
          },
          "description": "Jobs under a given task.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDataplexV1ListJobsResponse"
    },
    "GoogleCloudDataplexV1ListEntitiesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no remaining results in the list.",
          "type": "string"
        },
        "entities": {
          "description": "Entities in the specified parent zone.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1Entity"
          }
        }
      },
      "description": "List metadata entities response.",
      "type": "object",
      "id": "GoogleCloudDataplexV1ListEntitiesResponse"
    },
    "GoogleCloudDataplexV1TaskInfrastructureSpec": {
      "type": "object",
      "properties": {
        "containerImage": {
          "description": "Container Image Runtime Configuration.",
          "$ref": "GoogleCloudDataplexV1TaskInfrastructureSpecContainerImageRuntime"
        },
        "batch": {
          "description": "Compute resources needed for a Task when using Dataproc Serverless.",
          "$ref": "GoogleCloudDataplexV1TaskInfrastructureSpecBatchComputeResources"
        },
        "vpcNetwork": {
          "$ref": "GoogleCloudDataplexV1TaskInfrastructureSpecVpcNetwork",
          "description": "Vpc network."
        }
      },
      "description": "Configuration for the underlying infrastructure used to run workloads.",
      "id": "GoogleCloudDataplexV1TaskInfrastructureSpec"
    },
    "GoogleCloudDataplexV1EnvironmentInfrastructureSpecOsImageRuntime": {
      "description": "Software Runtime Configuration to run Analyze.",
      "type": "object",
      "id": "GoogleCloudDataplexV1EnvironmentInfrastructureSpecOsImageRuntime",
      "properties": {
        "javaLibraries": {
          "description": "Optional. List of Java jars to be included in the runtime environment. Valid input includes Cloud Storage URIs to Jar binaries. For example, gs://bucket-name/my/path/to/file.jar",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "imageVersion": {
          "description": "Required. Dataplex Image version.",
          "type": "string"
        },
        "properties": {
          "description": "Optional. Spark properties to provide configuration for use in sessions created for this environment. The properties to set on daemon config files. Property keys are specified in prefix:property format. The prefix must be \"spark\".",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "pythonPackages": {
          "description": "Optional. A list of python packages to be installed. Valid formats include Cloud Storage URI to a PIP installable library. For example, gs://bucket-name/my/path/to/lib.tar.gz",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDataplexV1LakeMetastoreStatus": {
      "description": "Status of Lake and Dataproc Metastore service instance association.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Last update time of the metastore status of the lake.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "NONE",
            "READY",
            "UPDATING",
            "ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "A Metastore service instance is not associated with the lake.",
            "A Metastore service instance is attached to the lake.",
            "Attach/detach is in progress.",
            "Attach/detach could not be done due to errors."
          ],
          "description": "Current state of association."
        },
        "message": {
          "type": "string",
[...]
