{
  "ownerDomain": "google.com",
  "servicePath": "",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "description": "The Google Cloud Deployment Manager v2 API provides services for configuring, deploying, and viewing Google Cloud services and APIs via templates which specify deployments of Cloud resources.",
  "schemas": {
    "BasicAuth": {
      "id": "BasicAuth",
      "type": "object",
      "description": "Basic Auth used as a credential.",
      "properties": {
        "password": {
          "type": "string"
        },
        "user": {
          "type": "string"
        }
      }
    },
    "PollingOptions": {
      "properties": {
        "diagnostics": {
          "description": "An array of diagnostics to be collected by Deployment Manager, these diagnostics will be displayed to the user.",
          "items": {
            "$ref": "Diagnostic"
          },
          "type": "array"
        },
        "pollingLink": {
          "type": "string",
          "description": "JsonPath expression that evaluates to string, it indicates where to poll."
        },
        "failCondition": {
          "description": "JsonPath expression that determines if the request failed.",
          "type": "string"
        },
        "targetLink": {
          "type": "string",
          "description": "JsonPath expression, after polling is completed, indicates where to fetch the resource."
        },
        "finishCondition": {
          "type": "string",
          "description": "JsonPath expression that determines if the request is completed."
        }
      },
      "type": "object",
      "id": "PollingOptions"
    },
    "Deployment": {
      "id": "Deployment",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Output only. Update timestamp in RFC3339 text format.",
          "type": "string"
        },
        "operation": {
          "description": "Output only. The Operation that most recently ran, or is currently running, on this deployment.",
          "$ref": "Operation"
        },
        "insertTime": {
          "description": "Output only. Creation timestamp in RFC3339 text format.",
          "type": "string"
        },
        "name": {
          "description": "Name of the resource; provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?` which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. Server defined URL for the resource.",
          "type": "string"
        },
        "fingerprint": {
          "description": "Provides a fingerprint to use in requests to modify a deployment, such as `update()`, `stop()`, and `cancelPreview()` requests. A fingerprint is a randomly generated value that must be provided with `update()`, `stop()`, and `cancelPreview()` requests to perform optimistic locking. This ensures optimistic concurrency so that only one request happens at a time. The fingerprint is initially generated by Deployment Manager and changes after every request to modify data. To get the latest fingerprint value, perform a `get()` request to a deployment.",
          "format": "byte",
          "type": "string"
        },
        "description": {
          "description": "An optional user-provided description of the deployment.",
          "type": "string"
        },
        "labels": {
          "items": {
            "$ref": "DeploymentLabelEntry"
          },
          "type": "array",
          "description": "Map of One Platform labels; provided by the client when the resource is created or updated. Specifically: Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?` Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`."
        },
        "update": {
          "description": "Output only. If Deployment Manager is currently updating or previewing an update to this deployment, the updated configuration appears here.",
          "$ref": "DeploymentUpdate"
        },
        "target": {
          "description": "[Input Only] The parameters that define your deployment, including the deployment configuration and relevant templates.",
          "$ref": "TargetConfiguration"
        },
        "id": {
          "type": "string",
          "format": "uint64"
        },
        "manifest": {
          "type": "string",
          "description": "Output only. URL of the manifest representing the last manifest that was successfully deployed. If no manifest has been successfully deployed, this field will be absent."
        }
      }
    },
    "Operation": {
      "description": "Represents an Operation resource. Google Compute Engine has three Operation resources: * [Global](/compute/docs/reference/rest/{$api_version}/globalOperations) * [Regional](/compute/docs/reference/rest/{$api_version}/regionOperations) * [Zonal](/compute/docs/reference/rest/{$api_version}/zoneOperations) You can use an operation resource to manage asynchronous API requests. For more information, read Handling API responses. Operations can be global, regional or zonal. - For global operations, use the `globalOperations` resource. - For regional operations, use the `regionOperations` resource. - For zonal operations, use the `zonalOperations` resource. For more information, read Global, Regional, and Zonal Resources.",
      "id": "Operation",
      "properties": {
        "error": {
          "type": "object",
          "description": "[Output Only] If errors are generated during processing of the operation, this field will be populated.",
          "properties": {
            "errors": {
              "type": "array",
              "description": "[Output Only] The array of errors encountered while processing this operation.",
              "items": {
                "properties": {
                  "location": {
                    "description": "[Output Only] Indicates the field in the request that caused the error. This property is optional.",
                    "type": "string"
                  },
                  "message": {
                    "description": "[Output Only] An optional, human-readable error message.",
                    "type": "string"
                  },
                  "code": {
                    "type": "string",
                    "description": "[Output Only] The error type identifier for this error."
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "endTime": {
          "description": "[Output Only] The time that this operation was completed. This value is in RFC3339 text format.",
          "type": "string"
        },
        "region": {
          "type": "string",
          "description": "[Output Only] The URL of the region where the operation resides. Only applicable when performing regional operations."
        },
        "targetLink": {
          "type": "string",
          "description": "[Output Only] The URL of the resource that the operation modifies. For operations related to creating a snapshot, this points to the persistent disk that the snapshot was created from."
        },
        "operationGroupId": {
          "description": "[Output Only] An ID that represents a group of operations, such as when a group of operations results from a `bulkInsert` API request.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "[Output Only] A textual description of the operation, which is set when the operation is created."
        },
        "httpErrorMessage": {
          "type": "string",
          "description": "[Output Only] If the operation fails, this field contains the HTTP error message that was returned, such as `NOT FOUND`."
        },
        "zone": {
          "description": "[Output Only] The URL of the zone where the operation resides. Only applicable when performing per-zone operations.",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "[Output Only] The status of the operation, which can be one of the following: `PENDING`, `RUNNING`, or `DONE`.",
          "type": "string",
          "enum": [
            "PENDING",
            "RUNNING",
            "DONE"
          ]
        },
        "clientOperationId": {
          "type": "string",
          "description": "[Output Only] The value of `requestId` if you provided it in the request. Not present otherwise."
        },
        "operationType": {
          "description": "[Output Only] The type of operation, such as `insert`, `update`, or `delete`, and so on.",
          "type": "string"
        },
        "targetId": {
          "format": "uint64",
          "type": "string",
          "description": "[Output Only] The unique target ID, which identifies a specific incarnation of the target resource."
        },
        "statusMessage": {
          "type": "string",
          "description": "[Output Only] An optional textual description of the current status of the operation."
        },
        "kind": {
          "type": "string",
          "default": "deploymentmanager#operation",
          "description": "[Output Only] Type of the resource. Always `compute#operation` for Operation resources."
        },
        "startTime": {
          "type": "string",
          "description": "[Output Only] The time that this operation was started by the server. This value is in RFC3339 text format."
        },
        "insertTime": {
          "description": "[Output Only] The time that this operation was requested. This value is in RFC3339 text format.",
          "type": "string"
        },
        "progress": {
          "description": "[Output Only] An optional progress indicator that ranges from 0 to 100. There is no requirement that this be linear or support any granularity of operations. This should not be used to guess when the operation will be complete. This number should monotonically increase as the operation progresses.",
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "description": "[Output Only] The unique identifier for the operation. This identifier is defined by the server.",
          "type": "string",
          "format": "uint64"
        },
        "httpErrorStatusCode": {
          "type": "integer",
          "description": "[Output Only] If the operation fails, this field contains the HTTP error status code that was returned. For example, a `404` means the resource was not found.",
          "format": "int32"
        },
        "user": {
          "description": "[Output Only] User who requested the operation, for example: `user@example.com`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "[Output Only] Name of the operation."
        },
        "selfLink": {
          "description": "[Output Only] Server-defined URL for the resource.",
          "type": "string"
        },
        "creationTimestamp": {
          "description": "[Deprecated] This field is deprecated.",
          "type": "string"
        },
        "warnings": {
          "description": "[Output Only] If warning messages are generated during processing of the operation, this field will be populated.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "code": {
                "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
                "type": "string",
                "enum": [
                  "DEPRECATED_RESOURCE_USED",
                  "NO_RESULTS_ON_PAGE",
                  "UNREACHABLE",
                  "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
                  "NEXT_HOP_INSTANCE_NOT_FOUND",
                  "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
                  "NEXT_HOP_CANNOT_IP_FORWARD",
                  "NEXT_HOP_NOT_RUNNING",
                  "INJECTED_KERNELS_DEPRECATED",
                  "REQUIRED_TOS_AGREEMENT",
                  "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
                  "RESOURCE_NOT_DELETED",
                  "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
                  "NOT_CRITICAL_ERROR",
                  "CLEANUP_FAILED",
                  "FIELD_VALUE_OVERRIDEN",
                  "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
                  "MISSING_TYPE_DEPENDENCY",
                  "EXTERNAL_API_WARNING",
                  "SCHEMA_VALIDATION_IGNORED",
                  "UNDECLARED_PROPERTIES",
                  "EXPERIMENTAL_TYPE_USED",
                  "DEPRECATED_TYPE_USED",
                  "PARTIAL_SUCCESS",
                  "LARGE_DEPLOYMENT_WARNING"
                ],
                "enumDescriptions": [
                  "A link to a deprecated resource was created.",
                  "No results are present on a particular list page.",
                  "A given scope cannot be reached.",
                  "The route's nextHopIp address is not assigned to an instance on the network.",
                  "The route's nextHopInstance URL refers to an instance that does not exist.",
                  "The route's nextHopInstance URL refers to an instance that is not on the same network as the route.",
                  "The route's next hop instance cannot ip forward.",
                  "The route's next hop instance does not have a status of RUNNING.",
                  "The operation involved use of an injected kernel, which is deprecated.",
                  "The user attempted to use a resource that requires a TOS they have not accepted.",
                  "The user created a boot disk that is larger than image size.",
                  "One or more of the resources set to auto-delete could not be deleted because they were in use.",
                  "Instance template used in instance group manager is valid as such, but its application does not make a lot of sense, because it allows only single instance in instance group.",
                  "Error which is not critical. We decided to continue the process despite the mentioned error.",
                  "Warning about failed cleanup of transient changes made by a failed operation.",
                  "Warning that value of a field has been overridden. Deprecated unused field.",
                  "Warning that a resource is in use.",
                  "A resource depends on a missing type",
                  "Warning that is present in an external api call",
                  "When a resource schema validation is ignored.",
                  "When undeclared properties in the schema are present",
                  "When deploying and at least one of the resources has a type marked as experimental",
                  "When deploying and at least one of the resources has a type marked as deprecated",
                  "Success is reported, but some results may be missing due to errors",
                  "When deploying a deployment with a exceedingly large number of resources"
                ]
              },
              "data": {
                "items": {
                  "properties": {
                    "key": {
                      "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding).",
                      "type": "string"
                    },
                    "value": {
                      "description": "[Output Only] A warning data value corresponding to the key.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "description": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" } ",
                "type": "array"
              },
              "message": {
                "type": "string",
                "description": "[Output Only] A human-readable description of the warning code."
              }
            }
          }
        }
      },
      "type": "object"
    },
    "TestPermissionsRequest": {
      "type": "object",
      "id": "TestPermissionsRequest",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the 'resource'. Permissions with wildcards (such as '*' or 'storage.*') are not allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TypeLabelEntry": {
      "type": "object",
      "id": "TypeLabelEntry",
      "description": "Label object for Types",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value of the label"
        },
        "key": {
          "description": "Key of the label",
          "type": "string"
        }
      }
    },
    "Type": {
      "type": "object",
      "id": "Type",
      "description": "A resource type supported by Deployment Manager.",
      "properties": {
        "operation": {
          "$ref": "Operation",
          "description": "Output only. The Operation that most recently ran, or is currently running, on this type."
        },
        "id": {
          "type": "string",
          "format": "uint64"
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "TypeLabelEntry"
          },
          "description": "Map of One Platform labels; provided by the client when the resource is created or updated. Specifically: Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?` Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`."
        },
        "name": {
          "description": "Name of the type.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. Server defined URL for the resource."
        },
        "description": {
          "description": "An optional textual description of the resource; provided by the client when the resource is created.",
          "type": "string"
        },
        "insertTime": {
          "description": "Output only. Creation timestamp in RFC3339 text format.",
          "type": "string"
        },
        "base": {
          "$ref": "BaseType",
          "description": "Base Type (configurable service) that backs this Type."
        }
      }
    },
    "DeploymentLabelEntry": {
      "description": "Label object for Deployments",
      "id": "DeploymentLabelEntry",
      "properties": {
        "key": {
          "type": "string",
          "description": "Key of the label"
        },
        "value": {
          "description": "Value of the label",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CompositeType": {
      "description": "Holds the composite type.",
      "type": "object",
      "properties": {
        "templateContents": {
          "$ref": "TemplateContents",
          "description": "Files for the template type."
        },
        "labels": {
          "items": {
            "$ref": "CompositeTypeLabelEntry"
          },
          "type": "array",
          "description": "Map of labels; provided by the client when the resource is created or updated. Specifically: Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?` Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`."
        },
        "name": {
          "description": "Name of the composite type, must follow the expression: `[a-z]([-a-z0-9_.]{0,61}[a-z0-9])?`.",
          "type": "string"
        },
        "description": {
          "description": "An optional textual description of the resource; provided by the client when the resource is created.",
          "type": "string"
        },
        "status": {
          "enum": [
            "UNKNOWN_STATUS",
            "DEPRECATED",
            "EXPERIMENTAL",
            "SUPPORTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "operation": {
          "$ref": "Operation",
          "description": "Output only. The Operation that most recently ran, or is currently running, on this composite type."
        },
        "insertTime": {
          "type": "string",
          "description": "Output only. Creation timestamp in RFC3339 text format."
        },
        "selfLink": {
          "description": "Output only. Server defined URL for the resource.",
          "type": "string"
        },
        "id": {
          "format": "uint64",
          "type": "string"
        }
      },
      "id": "CompositeType"
    },
    "ServiceAccount": {
      "properties": {
        "email": {
          "type": "string",
          "description": "The IAM service account email address like test@myproject.iam.gserviceaccount.com"
        }
      },
      "description": "Service Account used as a credential.",
      "id": "ServiceAccount",
      "type": "object"
    },
    "CompositeTypesListResponse": {
      "description": "A response that returns all Composite Types supported by Deployment Manager",
      "id": "CompositeTypesListResponse",
      "type": "object",
      "properties": {
        "compositeTypes": {
          "description": "Output only. A list of resource composite types supported by Deployment Manager.",
          "items": {
            "$ref": "CompositeType"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token used to continue a truncated list request."
        }
      }
    },
    "DeploymentsStopRequest": {
      "id": "DeploymentsStopRequest",
      "type": "object",
      "properties": {
        "fingerprint": {
          "format": "byte",
          "type": "string",
          "description": "Specifies a fingerprint for `stop()` requests. A fingerprint is a randomly generated value that must be provided in `stop()` requests to perform optimistic locking. This ensures optimistic concurrency so that the deployment does not have conflicting requests (e.g. if someone attempts to make a new update request while another user attempts to stop an ongoing update request, this would prevent a collision). The fingerprint is initially generated by Deployment Manager and changes after every request to modify a deployment. To get the latest fingerprint value, perform a `get()` request on the deployment."
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "description": "Associates `members` with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to `members`. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the members in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "members": {
          "description": "Specifies the identities requesting access for a Cloud Platform resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GlobalSetPolicyRequest": {
      "properties": {
        "etag": {
          "description": "Flatten Policy to create a backward compatible wire-format. Deprecated. Use 'policy' to specify the etag.",
          "type": "string",
          "format": "byte"
        },
        "bindings": {
          "description": "Flatten Policy to create a backward compatible wire-format. Deprecated. Use 'policy' to specify bindings.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the 'resource'. The size of the policy is limited to a few 10s of KB. An empty policy is in general a valid policy but certain services (like Projects) might reject them."
        }
      },
      "id": "GlobalSetPolicyRequest",
      "type": "object"
    },
    "DeploymentsListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Output only. A token used to continue a truncated list request.",
          "type": "string"
        },
        "deployments": {
          "description": "Output only. The deployments contained in this response.",
          "items": {
            "$ref": "Deployment"
          },
          "type": "array"
        }
      },
      "description": "A response containing a partial list of deployments and a page token used to build the next request if the request has been truncated.",
      "id": "DeploymentsListResponse",
      "type": "object"
    },
    "TestPermissionsResponse": {
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "id": "TestPermissionsResponse",
      "type": "object"
    },
    "ResourceUpdate": {
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. The state of the resource.",
          "enum": [
            "PENDING",
            "IN_PROGRESS",
            "IN_PREVIEW",
            "FAILED",
            "ABORTED"
          ],
          "enumDescriptions": [
            "There are changes pending for this resource.",
            "The service is executing changes on the resource.",
            "The service is previewing changes on the resource.",
            "The service has failed to change the resource.",
            "The service has aborted trying to change the resource."
          ]
        },
        "manifest": {
          "description": "Output only. URL of the manifest representing the update configuration of this resource.",
          "type": "string"
        },
        "error": {
          "type": "object",
          "description": "Output only. If errors are generated during update of the resource, this field will be populated.",
          "properties": {
            "errors": {
              "type": "array",
              "description": "[Output Only] The array of errors encountered while processing this operation.",
              "items": {
                "type": "object",
                "properties": {
                  "location": {
                    "description": "[Output Only] Indicates the field in the request that caused the error. This property is optional.",
                    "type": "string"
                  },
                  "message": {
                    "type": "string",
                    "description": "[Output Only] An optional, human-readable error message."
                  },
                  "code": {
                    "type": "string",
                    "description": "[Output Only] The error type identifier for this error."
                  }
                }
              }
            }
          }
        },
        "finalProperties": {
          "type": "string",
          "description": "Output only. The expanded properties of the resource with reference values expanded. Returned as serialized YAML."
        },
        "intent": {
          "description": "Output only. The intent of the resource: `PREVIEW`, `UPDATE`, or `CANCEL`.",
          "enumDescriptions": [
            "The resource is scheduled to be created, or if it already exists, acquired.",
            "The resource is scheduled to be deleted.",
            "The resource is scheduled to be acquired.",
            "The resource is scheduled to be updated via the UPDATE method.",
            "The resource is scheduled to be abandoned.",
            "The resource is scheduled to be created."
          ],
          "type": "string",
          "enum": [
            "CREATE_OR_ACQUIRE",
            "DELETE",
            "ACQUIRE",
            "UPDATE",
            "ABANDON",
            "CREATE"
          ]
        },
        "warnings": {
          "items": {
            "properties": {
              "message": {
                "type": "string",
                "description": "[Output Only] A human-readable description of the warning code."
              },
              "data": {
                "items": {
                  "properties": {
                    "key": {
                      "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding).",
                      "type": "string"
                    },
                    "value": {
                      "type": "string",
                      "description": "[Output Only] A warning data value corresponding to the key."
                    }
                  },
                  "type": "object"
                },
                "description": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" } ",
                "type": "array"
              },
              "code": {
                "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
                "type": "string",
                "enum": [
                  "DEPRECATED_RESOURCE_USED",
                  "NO_RESULTS_ON_PAGE",
                  "UNREACHABLE",
                  "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
                  "NEXT_HOP_INSTANCE_NOT_FOUND",
                  "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
                  "NEXT_HOP_CANNOT_IP_FORWARD",
                  "NEXT_HOP_NOT_RUNNING",
                  "INJECTED_KERNELS_DEPRECATED",
                  "REQUIRED_TOS_AGREEMENT",
                  "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
                  "RESOURCE_NOT_DELETED",
                  "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
                  "NOT_CRITICAL_ERROR",
                  "CLEANUP_FAILED",
                  "FIELD_VALUE_OVERRIDEN",
                  "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
                  "MISSING_TYPE_DEPENDENCY",
                  "EXTERNAL_API_WARNING",
                  "SCHEMA_VALIDATION_IGNORED",
                  "UNDECLARED_PROPERTIES",
                  "EXPERIMENTAL_TYPE_USED",
                  "DEPRECATED_TYPE_USED",
                  "PARTIAL_SUCCESS",
                  "LARGE_DEPLOYMENT_WARNING"
                ],
                "enumDescriptions": [
                  "A link to a deprecated resource was created.",
                  "No results are present on a particular list page.",
                  "A given scope cannot be reached.",
                  "The route's nextHopIp address is not assigned to an instance on the network.",
                  "The route's nextHopInstance URL refers to an instance that does not exist.",
                  "The route's nextHopInstance URL refers to an instance that is not on the same network as the route.",
                  "The route's next hop instance cannot ip forward.",
                  "The route's next hop instance does not have a status of RUNNING.",
                  "The operation involved use of an injected kernel, which is deprecated.",
                  "The user attempted to use a resource that requires a TOS they have not accepted.",
                  "The user created a boot disk that is larger than image size.",
                  "One or more of the resources set to auto-delete could not be deleted because they were in use.",
                  "Instance template used in instance group manager is valid as such, but its application does not make a lot of sense, because it allows only single instance in instance group.",
                  "Error which is not critical. We decided to continue the process despite the mentioned error.",
                  "Warning about failed cleanup of transient changes made by a failed operation.",
                  "Warning that value of a field has been overridden. Deprecated unused field.",
                  "Warning that a resource is in use.",
                  "A resource depends on a missing type",
                  "Warning that is present in an external api call",
                  "When a resource schema validation is ignored.",
                  "When undeclared properties in the schema are present",
                  "When deploying and at least one of the resources has a type marked as experimental",
                  "When deploying and at least one of the resources has a type marked as deprecated",
                  "Success is reported, but some results may be missing due to errors",
                  "When deploying a deployment with a exceedingly large number of resources"
                ]
              }
            },
            "type": "object"
          },
          "type": "array",
          "description": "Output only. If warning messages are generated during processing of this resource, this field will be populated."
        },
        "accessControl": {
          "description": "The Access Control Policy to set on this resource after updating the resource itself.",
          "$ref": "ResourceAccessControl"
        },
        "properties": {
          "type": "string",
          "description": "Output only. The set of updated properties for this resource, before references are expanded. Returned as serialized YAML."
        }
      },
      "id": "ResourceUpdate",
      "type": "object"
    },
    "DeploymentsCancelPreviewRequest": {
      "id": "DeploymentsCancelPreviewRequest",
      "type": "object",
      "properties": {
        "fingerprint": {
          "type": "string",
          "format": "byte",
          "description": "Specifies a fingerprint for `cancelPreview()` requests. A fingerprint is a randomly generated value that must be provided in `cancelPreview()` requests to perform optimistic locking. This ensures optimistic concurrency so that the deployment does not have conflicting requests (e.g. if someone attempts to make a new update request while another user attempts to cancel a preview, this would prevent one of the requests). The fingerprint is initially generated by Deployment Manager and changes after every request to modify a deployment. To get the latest fingerprint value, perform a `get()` request on the deployment."
        }
      }
    },
    "TypeInfo": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Output only. Type of the output. Always `deploymentManager#TypeInfo` for TypeInfo."
        },
        "title": {
          "type": "string",
          "description": "The title on the API descriptor URL provided."
        },
        "documentationLink": {
          "type": "string",
          "description": "For swagger 2.0 externalDocs field will be used. For swagger 1.2 this field will be empty."
        },
        "name": {
          "type": "string",
          "description": "The base type or composite type name."
        },
        "description": {
          "type": "string",
          "description": "The description of the type."
        },
        "selfLink": {
          "description": "Output only. Self link for the type provider.",
          "type": "string"
        },
        "schema": {
          "description": "For base types with a collection, we return a schema and documentation link For template types, we return only a schema",
          "$ref": "TypeInfoSchemaInfo"
        }
      },
      "id": "TypeInfo",
      "description": "Type Information. Contains detailed information about a composite type, base type, or base type with specific collection.",
      "type": "object"
    },
    "Options": {
      "type": "object",
      "properties": {
        "inputMappings": {
          "type": "array",
          "items": {
            "$ref": "InputMapping"
          },
          "description": "The mappings that apply for requests."
        },
        "validationOptions": {
          "description": "Options for how to validate and process properties on a resource.",
          "$ref": "ValidationOptions"
        },
        "asyncOptions": {
          "items": {
            "$ref": "AsyncOptions"
          },
          "description": "Options regarding how to thread async requests.",
          "type": "array"
        },
        "virtualProperties": {
          "type": "string",
          "description": "Additional properties block described as a jsonSchema, these properties will never be part of the json payload, but they can be consumed by InputMappings, this must be a valid json schema draft-04. The properties specified here will be decouple in a different section. This schema will be merged to the schema validation, and properties here will be extracted From the payload and consumed explicitly by InputMappings. ex: field1: type: string field2: type: number"
        }
      },
      "id": "Options",
      "description": "Options allows customized resource handling by Deployment Manager."
    },
    "DeploymentUpdateLabelEntry": {
      "type": "object",
      "description": "Label object for DeploymentUpdate",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value of the label"
        },
        "key": {
          "description": "Key of the label",
          "type": "string"
        }
      },
      "id": "DeploymentUpdateLabelEntry"
    },
    "ResourcesListResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token used to continue a truncated list request.",
          "type": "string"
        },
        "resources": {
          "description": "Resources contained in this list response.",
          "items": {
            "$ref": "Resource"
          },
          "type": "array"
        }
      },
      "description": "A response containing a partial list of resources and a page token used to build the next request if the request has been truncated.",
      "id": "ResourcesListResponse"
    },
    "TypeProviderLabelEntry": {
      "properties": {
        "key": {
          "type": "string",
          "description": "Key of the label"
        },
        "value": {
          "description": "Value of the label",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Label object for TypeProviders",
      "id": "TypeProviderLabelEntry"
    },
    "TypesListResponse": {
      "description": "A response that returns all Types supported by Deployment Manager",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token used to continue a truncated list request."
        },
        "types": {
          "type": "array",
          "description": "Output only. A list of resource types supported by Deployment Manager.",
          "items": {
            "$ref": "Type"
          }
        }
      },
      "type": "object",
      "id": "TypesListResponse"
    },
    "ValidationOptions": {
      "id": "ValidationOptions",
      "description": "Options for how to validate and process properties on a resource.",
      "properties": {
        "schemaValidation": {
          "enumDescriptions": [
            "",
            "Ignore schema failures.",
            "Ignore schema failures but display them as warnings.",
            "Fail the resource if the schema is not valid, this is the default behavior."
          ],
          "description": "Customize how deployment manager will validate the resource against schema errors.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "IGNORE",
            "IGNORE_WITH_WARNINGS",
            "FAIL"
          ]
        },
        "undeclaredProperties": {
          "enum": [
            "UNKNOWN",
            "INCLUDE",
            "IGNORE",
            "INCLUDE_WITH_WARNINGS",
            "IGNORE_WITH_WARNINGS",
            "FAIL"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Always include even if not present on discovery doc.",
            "Always ignore if not present on discovery doc.",
            "Include on request, but emit a warning.",
            "Ignore properties, but emit a warning.",
            "Always fail if undeclared properties are present."
          ],
          "description": "Specify what to do with extra properties when executing a request."
        }
      },
      "type": "object"
    },
    "Diagnostic": {
      "id": "Diagnostic",
      "type": "object",
      "properties": {
        "field": {
          "description": "JsonPath expression on the resource that if non empty, indicates that this field needs to be extracted as a diagnostic.",
          "type": "string"
        },
        "level": {
          "description": "Level to record this diagnostic.",
          "enumDescriptions": [
            "",
            "If level is informational, it only gets displayed as part of the resource.",
            "If level is warning, will end up in the resource as a warning.",
            "If level is error, it will indicate an error occurred after finishCondition is set, and this field will populate resource errors and operation errors."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "INFORMATION",
            "WARNING",
            "ERROR"
          ]
        }
      }
    },
    "AuditConfig": {
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      },
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging."
    },
    "TypeProvidersListTypesResponse": {
      "type": "object",
      "id": "TypeProvidersListTypesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token used to continue a truncated list request."
        },
        "types": {
          "items": {
            "$ref": "TypeInfo"
          },
          "type": "array",
          "description": "Output only. A list of resource type info."
        }
      }
    },
    "DeploymentUpdate": {
      "type": "object",
      "id": "DeploymentUpdate",
      "properties": {
        "manifest": {
          "description": "Output only. URL of the manifest representing the update configuration of this deployment.",
          "type": "string"
        },
        "labels": {
          "items": {
            "$ref": "DeploymentUpdateLabelEntry"
          },
          "type": "array",
          "description": "Map of One Platform labels; provided by the client when the resource is created or updated. Specifically: Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?` Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`."
        },
        "description": {
          "description": "Output only. An optional user-provided description of the deployment after the current update has been applied.",
          "type": "string"
        }
      }
    },
    "Credential": {
      "id": "Credential",
      "description": "The credential used by Deployment Manager and TypeProvider. Only one of the options is permitted.",
      "properties": {
        "useProjectDefault": {
          "description": "Specify to use the project default credential, only supported by Deployment.",
          "type": "boolean"
        },
        "basicAuth": {
          "description": "Basic Auth Credential, only used by TypeProvider.",
          "$ref": "BasicAuth"
        },
        "serviceAccount": {
          "$ref": "ServiceAccount",
          "description": "Service Account Credential, only used by Deployment."
        }
      },
      "type": "object"
    },
    "AsyncOptions": {
      "description": "Async options that determine when a resource should finish.",
      "type": "object",
      "id": "AsyncOptions",
      "properties": {
        "methodMatch": {
          "type": "string",
          "description": "Method regex where this policy will apply."
        },
        "pollingOptions": {
          "description": "Deployment manager will poll instances for this API resource setting a RUNNING state, and blocking until polling conditions tell whether the resource is completed or failed.",
          "$ref": "PollingOptions"
        }
      }
    },
    "Manifest": {
      "properties": {
        "layout": {
          "type": "string",
          "description": "Output only. The YAML layout for this manifest."
        },
        "expandedConfig": {
          "type": "string",
          "description": "Output only. The fully-expanded configuration file, including any templates and references."
        },
        "id": {
          "type": "string",
          "format": "uint64"
        },
        "selfLink": {
          "description": "Output only. Self link for the manifest.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The name of the manifest.",
          "type": "string"
        },
        "manifestSizeBytes": {
          "description": "Output only. The computed size of the fully expanded manifest.",
          "format": "int64",
          "type": "string"
        },
        "imports": {
          "description": "Output only. The imported files for this manifest.",
          "type": "array",
          "items": {
            "$ref": "ImportFile"
          }
        },
        "manifestSizeLimitBytes": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The size limit for expanded manifests in the project."
        },
        "config": {
          "$ref": "ConfigFile",
          "description": "Output only. The YAML configuration for this manifest."
        },
        "insertTime": {
          "type": "string",
          "description": "Output only. Creation timestamp in RFC3339 text format."
        }
      },
      "type": "object",
      "id": "Manifest"
    },
    "ImportFile": {
      "type": "object",
      "properties": {
        "content": {
          "type": "string",
          "description": "The contents of the file."
        },
        "name": {
          "type": "string",
          "description": "The name of the file."
        }
      },
      "id": "ImportFile"
    },
    "ConfigFile": {
      "id": "ConfigFile",
      "type": "object",
      "properties": {
        "content": {
          "type": "string",
          "description": "The contents of the file."
        }
      }
    },
    "Resource": {
      "properties": {
        "updateTime": {
          "description": "Output only. Update timestamp in RFC3339 text format.",
          "type": "string"
        },
        "insertTime": {
          "type": "string",
          "description": "Output only. Creation timestamp in RFC3339 text format."
        },
        "accessControl": {
          "$ref": "ResourceAccessControl",
          "description": "The Access Control Policy set on this resource."
        },
        "warnings": {
          "description": "Output only. If warning messages are generated during processing of this resource, this field will be populated.",
          "items": {
            "type": "object",
            "properties": {
              "data": {
                "description": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" } ",
                "items": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "description": "[Output Only] A warning data value corresponding to the key.",
                      "type": "string"
                    },
                    "key": {
                      "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding).",
                      "type": "string"
                    }
                  }
                },
                "type": "array"
              },
              "message": {
                "description": "[Output Only] A human-readable description of the warning code.",
                "type": "string"
              },
              "code": {
                "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
                "type": "string",
                "enum": [
                  "DEPRECATED_RESOURCE_USED",
                  "NO_RESULTS_ON_PAGE",
                  "UNREACHABLE",
                  "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
                  "NEXT_HOP_INSTANCE_NOT_FOUND",
                  "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
                  "NEXT_HOP_CANNOT_IP_FORWARD",
                  "NEXT_HOP_NOT_RUNNING",
                  "INJECTED_KERNELS_DEPRECATED",
                  "REQUIRED_TOS_AGREEMENT",
                  "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
                  "RESOURCE_NOT_DELETED",
                  "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
                  "NOT_CRITICAL_ERROR",
                  "CLEANUP_FAILED",
                  "FIELD_VALUE_OVERRIDEN",
                  "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
                  "MISSING_TYPE_DEPENDENCY",
                  "EXTERNAL_API_WARNING",
                  "SCHEMA_VALIDATION_IGNORED",
                  "UNDECLARED_PROPERTIES",
                  "EXPERIMENTAL_TYPE_USED",
                  "DEPRECATED_TYPE_USED",
                  "PARTIAL_SUCCESS",
                  "LARGE_DEPLOYMENT_WARNING"
                ],
                "enumDescriptions": [
                  "A link to a deprecated resource was created.",
                  "No results are present on a particular list page.",
                  "A given scope cannot be reached.",
                  "The route's nextHopIp address is not assigned to an instance on the network.",
                  "The route's nextHopInstance URL refers to an instance that does not exist.",
                  "The route's nextHopInstance URL refers to an instance that is not on the same network as the route.",
                  "The route's next hop instance cannot ip forward.",
                  "The route's next hop instance does not have a status of RUNNING.",
                  "The operation involved use of an injected kernel, which is deprecated.",
                  "The user attempted to use a resource that requires a TOS they have not accepted.",
                  "The user created a boot disk that is larger than image size.",
                  "One or more of the resources set to auto-delete could not be deleted because they were in use.",
                  "Instance template used in instance group manager is valid as such, but its application does not make a lot of sense, because it allows only single instance in instance group.",
                  "Error which is not critical. We decided to continue the process despite the mentioned error.",
                  "Warning about failed cleanup of transient changes made by a failed operation.",
                  "Warning that value of a field has been overridden. Deprecated unused field.",
                  "Warning that a resource is in use.",
                  "A resource depends on a missing type",
                  "Warning that is present in an external api call",
                  "When a resource schema validation is ignored.",
                  "When undeclared properties in the schema are present",
                  "When deploying and at least one of the resources has a type marked as experimental",
                  "When deploying and at least one of the resources has a type marked as deprecated",
                  "Success is reported, but some results may be missing due to errors",
                  "When deploying a deployment with a exceedingly large number of resources"
                ]
              }
            }
          },
          "type": "array"
        },
        "url": {
          "description": "Output only. The URL of the actual resource.",
          "type": "string"
        },
        "id": {
          "format": "uint64",
          "type": "string"
        },
        "manifest": {
          "description": "Output only. URL of the manifest representing the current configuration of this resource.",
          "type": "string"
        },
        "update": {
          "$ref": "ResourceUpdate",
          "description": "Output only. If Deployment Manager is currently updating or previewing an update to this resource, the updated configuration appears here."
        },
        "finalProperties": {
          "type": "string",
          "description": "Output only. The evaluated properties of the resource with references expanded. Returned as serialized YAML."
        },
        "name": {
          "description": "Output only. The name of the resource as it appears in the YAML config.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Output only. The type of the resource, for example `compute.v1.instance`, or `cloudfunctions.v1beta1.function`."
        },
        "properties": {
          "description": "Output only. The current properties of the resource before any references have been filled in. Returned as serialized YAML.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Resource"
    },
    "BaseType": {
      "properties": {
        "options": {
          "$ref": "Options",
          "description": "Options to apply when handling any resources in this service."
        },
        "collectionOverrides": {
          "type": "array",
          "items": {
            "$ref": "CollectionOverride"
          },
          "description": "Allows resource handling overrides for specific collections"
        },
        "credential": {
          "description": "Credential used when interacting with this type.",
          "$ref": "Credential"
        },
        "descriptorUrl": {
          "description": "Descriptor Url for the this type.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "BaseType that describes a service-backed Type.",
      "id": "BaseType"
    },
    "TypeInfoSchemaInfo": {
      "properties": {
        "output": {
          "type": "string",
          "description": "The properties that this composite type or base type collection exposes as output, these properties can be used for references, represented as json blob, format is: JSON Schema Draft V4"
        },
        "input": {
          "type": "string",
          "description": "The properties that this composite type or base type collection accept as input, represented as a json blob, format is: JSON Schema Draft V4"
        }
      },
      "type": "object",
      "id": "TypeInfoSchemaInfo"
    },
    "OperationsListResponse": {
      "type": "object",
      "id": "OperationsListResponse",
      "description": "A response containing a partial list of operations and a page token used to build the next request if the request has been truncated.",
      "properties": {
        "operations": {
          "description": "Output only. Operations contained in this list response.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token used to continue a truncated list request."
        }
      }
    },
    "InputMapping": {
      "description": "InputMapping creates a 'virtual' property that will be injected into the properties before sending the request to the underlying API.",
      "properties": {
        "methodMatch": {
          "description": "Regex to evaluate on method to decide if input applies.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "A jsonPath expression to select an element."
        },
        "fieldName": {
          "type": "string",
          "description": "The name of the field that is going to be injected."
        },
        "location": {
          "description": "The location where this mapping applies.",
          "enum": [
            "UNKNOWN",
            "PATH",
            "QUERY",
            "BODY",
            "HEADER"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "InputMapping",
      "type": "object"
    },
    "TypeProvidersListResponse": {
      "description": "A response that returns all Type Providers supported by Deployment Manager",
      "properties": {
        "typeProviders": {
          "description": "Output only. A list of resource type providers supported by Deployment Manager.",
          "type": "array",
          "items": {
            "$ref": "TypeProvider"
          }
        },
        "nextPageToken": {
          "description": "A token used to continue a truncated list request.",
          "type": "string"
        }
      },
      "id": "TypeProvidersListResponse",
      "type": "object"
    },
    "AuditLogConfig": {
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "exemptedMembers": {
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          }
        },
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string",
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        }
      },
      "id": "AuditLogConfig"
    },
    "ManifestsListResponse": {
      "properties": {
        "manifests": {
          "description": "Output only. Manifests contained in this list response.",
          "items": {
            "$ref": "Manifest"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token used to continue a truncated list request."
        }
      },
      "id": "ManifestsListResponse",
      "type": "object",
      "description": "A response containing a partial list of manifests and a page token used to build the next request if the request has been truncated."
    },
    "CollectionOverride": {
      "properties": {
        "collection": {
          "type": "string",
          "description": "The collection that identifies this resource within its service."
        },
        "options": {
          "description": "The options to apply to this resource-level override",
          "$ref": "Options"
        }
      },
      "description": "CollectionOverride allows resource handling overrides for specific resources within a BaseType",
      "id": "CollectionOverride",
      "type": "object"
    },
    "TemplateContents": {
      "description": "Files that make up the template contents of a template type.",
      "properties": {
        "schema": {
          "type": "string",
          "description": "The contents of the template schema."
        },
        "interpreter": {
          "description": "Which interpreter (python or jinja) should be used during expansion.",
          "enum": [
            "UNKNOWN_INTERPRETER",
            "PYTHON",
            "JINJA"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "mainTemplate": {
          "description": "The filename of the mainTemplate",
          "type": "string"
        },
        "imports": {
          "type": "array",
          "description": "Import files referenced by the main template.",
          "items": {
            "$ref": "ImportFile"
          }
        },
        "template": {
          "description": "The contents of the main template file.",
          "type": "string"
        }
      },
      "id": "TemplateContents",
      "type": "object"
    },
    "Policy": {
      "properties": {
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "bindings": {
          "description": "Associates a list of `members` to a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one member. The `bindings` in a `Policy` can refer to up to 1,500 members; up to 250 of these members can be Google groups. Each occurrence of a member counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other member, then you can add another 1,450 members to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy."
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members` to a single `role`. Members can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "type": "object"
    },
    "TypeProvider": {
      "type": "object",
      "id": "TypeProvider",
      "properties": {
        "insertTime": {
          "description": "Output only. Creation timestamp in RFC3339 text format.",
          "type": "string"
        },
        "credential": {
          "description": "Credential used when interacting with this type.",
          "$ref": "Credential"
        },
        "operation": {
          "description": "Output only. The Operation that most recently ran, or is currently running, on this type provider.",
          "$ref": "Operation"
        },
        "descriptorUrl": {
          "type": "string",
          "description": "Descriptor Url for the this type provider."
        },
        "collectionOverrides": {
          "description": "Allows resource handling overrides for specific collections",
          "type": "array",
          "items": {
            "$ref": "CollectionOverride"
          }
        },
        "options": {
          "description": "Options to apply when handling any resources in this service.",
          "$ref": "Options"
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. Self link for the type provider."
        },
        "id": {
          "description": "Output only. Unique identifier for the resource defined by the server.",
          "type": "string",
          "format": "uint64"
        },
        "labels": {
          "description": "Map of One Platform labels; provided by the client when the resource is created or updated. Specifically: Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?` Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`",
          "type": "array",
          "items": {
            "$ref": "TypeProviderLabelEntry"
          }
        },
        "customCertificateAuthorityRoots": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of up to 2 custom certificate authority roots to use for TLS authentication when making calls on behalf of this type provider. If set, TLS authentication will exclusively use these roots instead of relying on publicly trusted certificate authorities when validating TLS certificate authenticity. The certificates must be in base64-encoded PEM format. The maximum size of each certificate must not exceed 10KB."
        },
        "description": {
          "description": "An optional textual description of the resource; provided by the client when the resource is created.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the resource; provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?` which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash."
        }
      },
      "description": "A type provider that describes a service-backed Type."
    },
    "CompositeTypeLabelEntry": {
      "description": "Label object for CompositeTypes",
      "id": "CompositeTypeLabelEntry",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value of the label"
        },
        "key": {
          "type": "string",
          "description": "Key of the label"
        }
      },
      "type": "object"
    },
    "Expr": {
      "type": "object",
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        }
      }
    },
    "ResourceAccessControl": {
      "properties": {
        "gcpIamPolicy": {
          "type": "string",
          "description": "The GCP IAM Policy to set on the resource."
        }
      },
      "id": "ResourceAccessControl",
      "description": "The access controls set on the resource.",
      "type": "object"
    },
    "TargetConfiguration": {
      "type": "object",
      "properties": {
        "imports": {
          "items": {
            "$ref": "ImportFile"
          },
          "type": "array",
          "description": "Specifies any files to import for this configuration. This can be used to import templates or other files. For example, you might import a text file in order to use the file in a template."
        },
        "config": {
          "description": "The configuration to use for this deployment.",
          "$ref": "ConfigFile"
        }
      },
      "id": "TargetConfiguration"
    }
  },
  "basePath": "",
  "baseUrl": "https://deploymentmanager.googleapis.com/",
  "title": "Cloud Deployment Manager V2 API",
  "rootUrl": "https://deploymentmanager.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/ndev.cloudman.readonly": {
          "description": "View your Google Cloud Platform management resources and deployment status information"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/ndev.cloudman": {
          "description": "View and manage your Google Cloud Platform management resources and deployment status information"
        }
      }
    }
  },
  "ownerName": "Google",
  "mtlsRootUrl": "https://deploymentmanager.mtls.googleapis.com/",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    }
  },
  "resources": {
    "typeProviders": {
      "methods": {
        "update": {
          "request": {
            "$ref": "TypeProvider"
          },
          "description": "Updates a type provider.",
          "id": "deploymentmanager.typeProviders.update",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "path": "deploymentmanager/v2beta/projects/{project}/global/typeProviders/{typeProvider}",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "typeProvider"
          ],
          "parameters": {
            "project": {
              "description": "The project ID for this request.",
              "type": "string",
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true
            },
            "typeProvider": {
              "location": "path",
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "description": "The name of the type provider for this request.",
              "required": true
            }
          },
          "flatPath": "deploymentmanager/v2beta/projects/{project}/global/typeProviders/{typeProvider}",
          "httpMethod": "PUT"
        },
        "getType": {
          "id": "deploymentmanager.typeProviders.getType",
          "path": "deploymentmanager/v2beta/projects/{project}/global/typeProviders/{typeProvider}/types/{type}",
          "parameterOrder": [
            "project",
            "typeProvider",
            "type"
          ],
          "parameters": {
            "typeProvider": {
              "description": "The name of the type provider for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "location": "path",
              "type": "string",
              "required": true
            },
            "project": {
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path",
              "description": "The project ID for this request.",
              "required": true
            },
            "type": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The name of the type provider type for this request."
            }
          },
          "flatPath": "deploymentmanager/v2beta/projects/{project}/global/typeProviders/{typeProvider}/types/{type}",
          "description": "Gets a type info for a type provided by a TypeProvider.",
          "response": {
            "$ref": "TypeInfo"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "httpMethod": "GET"
        },
        "patch": {
          "id": "deploymentmanager.typeProviders.patch",
          "flatPath": "deploymentmanager/v2beta/projects/{project}/global/typeProviders/{typeProvider}",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "httpMethod": "PATCH",
          "path": "deploymentmanager/v2beta/projects/{project}/global/typeProviders/{typeProvider}",
          "request": {
            "$ref": "TypeProvider"
          },
          "parameterOrder": [
            "project",
            "typeProvider"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "description": "The project ID for this request.",
              "type": "string"
            },
            "typeProvider": {
              "location": "path",
              "description": "The name of the type provider for this request.",
              "required": true,
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
            }
          },
          "description": "Patches a type provider."
        },
        "list": {
          "path": "deploymentmanager/v2beta/projects/{project}/global/typeProviders",
          "parameters": {
            "orderBy": {
              "location": "query",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "type": "string"
            },
            "pageToken": {
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "type": "string",
              "location": "query"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "A filter expression that filters resources listed in the response. The expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `\u003e`, `\u003c`, `\u003c=`, `\u003e=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:` operator can be used with string fields to match substrings. For non-string fields it is equivalent to the `=` operator. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ```"
            },
            "maxResults": {
              "location": "query",
              "default": "500",
              "type": "integer",
              "format": "uint32",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "minimum": "0"
            },
            "project": {
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "description": "The project ID for this request.",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "flatPath": "deploymentmanager/v2beta/projects/{project}/global/typeProviders",
          "description": "Lists all resource type providers for Deployment Manager.",
          "response": {
            "$ref": "TypeProvidersListResponse"
          },
          "parameterOrder": [
            "project"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "id": "deploymentmanager.typeProviders.list"
        },
        "listTypes": {
          "id": "deploymentmanager.typeProviders.listTypes",
          "path": "deploymentmanager/v2beta/projects/{project}/global/typeProviders/{typeProvider}/types",
          "parameterOrder": [
            "project",
            "typeProvider"
          ],
          "description": "Lists all the type info for a TypeProvider.",
          "response": {
            "$ref": "TypeProvidersListTypesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "httpMethod": "GET",
          "flatPath": "deploymentmanager/v2beta/projects/{project}/global/typeProviders/{typeProvider}/types",
          "parameters": {
            "filter": {
              "type": "string",
              "description": "A filter expression that filters resources listed in the response. The expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `\u003e`, `\u003c`, `\u003c=`, `\u003e=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:` operator can be used with string fields to match substrings. For non-string fields it is equivalent to the `=` operator. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ```",
              "location": "query"
            },
            "typeProvider": {
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "description": "The name of the type provider for this request.",
              "required": true,
              "location": "path"
            },
            "orderBy": {
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "default": "500",
              "format": "uint32",
              "minimum": "0",
              "location": "query",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)"
            },
            "pageToken": {
              "type": "string",
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "location": "query"
            },
            "project": {
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "type": "string",
              "description": "The project ID for this request."
            }
          }
        },
        "delete": {
          "path": "deploymentmanager/v2beta/projects/{project}/global/typeProviders/{typeProvider}",
          "description": "Deletes a type provider.",
          "parameterOrder": [
            "project",
            "typeProvider"
          ],
          "parameters": {
            "typeProvider": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "description": "The name of the type provider for this request.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "project": {
              "required": true,
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "The project ID for this request.",
              "type": "string"
            }
          },
          "id": "deploymentmanager.typeProviders.delete",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "DELETE",
          "flatPath": "deploymentmanager/v2beta/projects/{project}/global/typeProviders/{typeProvider}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ]
        },
        "get": {
          "response": {
            "$ref": "TypeProvider"
          },
          "httpMethod": "GET",
          "parameters": {
            "project": {
              "description": "The project ID for this request.",
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "location": "path"
            },
            "typeProvider": {
              "description": "The name of the type provider for this request.",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
            }
          },
          "flatPath": "deploymentmanager/v2beta/projects/{project}/global/typeProviders/{typeProvider}",
          "id": "deploymentmanager.typeProviders.get",
          "description": "Gets information about a specific type provider.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "path": "deploymentmanager/v2beta/projects/{project}/global/typeProviders/{typeProvider}",
          "parameterOrder": [
            "project",
            "typeProvider"
          ]
        },
        "insert": {
          "path": "deploymentmanager/v2beta/projects/{project}/global/typeProviders",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "httpMethod": "POST",
          "description": "Creates a type provider.",
          "id": "deploymentmanager.typeProviders.insert",
          "flatPath": "deploymentmanager/v2beta/projects/{project}/global/typeProviders",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "TypeProvider"
          },
          "parameterOrder": [
            "project"
          ],
          "parameters": {
            "project": {
              "description": "The project ID for this request.",
              "required": true,
              "location": "path",
[...]
