{
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "Connect third-party source code management to Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "version": "v1",
  "documentationLink": "http://cloud.google.com/developer-connect/docs/overview",
  "revision": "20240515",
  "baseUrl": "https://developerconnect.googleapis.com/",
  "basePath": "",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "title": "Developer Connect API",
  "canonicalName": "Developer Connect",
  "mtlsRootUrl": "https://developerconnect.mtls.googleapis.com/",
  "schemas": {
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {}
    },
    "ListConnectionsResponse": {
      "id": "ListConnectionsResponse",
      "description": "Message for response to listing Connections",
      "type": "object",
      "properties": {
        "connections": {
          "description": "The list of Connection",
          "type": "array",
          "items": {
            "$ref": "Connection"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Connection": {
      "id": "Connection",
      "description": "Message describing Connection object",
      "type": "object",
      "properties": {
        "githubConfig": {
          "description": "Configuration for connections to github.com.",
          "$ref": "GitHubConfig"
        },
        "name": {
          "description": "Identifier. The resource name of the connection, in the format `projects/{project}/locations/{location}/connections/{connection_id}`.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. [Output only] Create timestamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. [Output only] Update timestamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "deleteTime": {
          "description": "Output only. [Output only] Delete timestamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "installationState": {
          "description": "Output only. Installation state of the Connection.",
          "readOnly": true,
          "$ref": "InstallationState"
        },
        "disabled": {
          "description": "Optional. If disabled is set to true, functionality is disabled for this connection. Repository based API methods and webhooks processing for repositories in this connection will be disabled.",
          "type": "boolean"
        },
        "reconciling": {
          "description": "Output only. Set to true when the connection is being set up or updated in the background.",
          "readOnly": true,
          "type": "boolean"
        },
        "annotations": {
          "description": "Optional. Allows clients to store small amounts of arbitrary data.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. A system-assigned unique identifier for a the GitRepositoryLink.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GitHubConfig": {
      "id": "GitHubConfig",
      "description": "Configuration for connections to github.com.",
      "type": "object",
      "properties": {
        "githubApp": {
          "description": "Required. Immutable. The GitHub Application that was installed to the GitHub user or organization.",
          "type": "string",
          "enumDescriptions": [
            "GitHub App not specified.",
            "The Developer Connect GitHub Application.",
            "The Firebase GitHub Application."
          ],
          "enum": [
            "GIT_HUB_APP_UNSPECIFIED",
            "DEVELOPER_CONNECT",
            "FIREBASE"
          ]
        },
        "authorizerCredential": {
          "description": "Optional. OAuth credential of the account that authorized the GitHub App. It is recommended to use a robot account instead of a human user account. The OAuth token must be tied to the GitHub App of this config.",
          "$ref": "OAuthCredential"
        },
        "appInstallationId": {
          "description": "Optional. GitHub App installation id.",
          "type": "string",
          "format": "int64"
        },
        "installationUri": {
          "description": "Output only. The URI to navigate to in order to manage the installation associated with this GitHubConfig.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "OAuthCredential": {
      "id": "OAuthCredential",
      "description": "Represents an OAuth token of the account that authorized the Connection, and associated metadata.",
      "type": "object",
      "properties": {
        "oauthTokenSecretVersion": {
          "description": "Required. A SecretManager resource containing the OAuth token that authorizes the connection. Format: `projects/*/secrets/*/versions/*`.",
          "type": "string"
        },
        "username": {
          "description": "Output only. The username associated with this token.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "InstallationState": {
      "id": "InstallationState",
      "description": "Describes stage and necessary actions to be taken by the user to complete the installation. Used for GitHub and GitHub Enterprise based connections.",
      "type": "object",
      "properties": {
        "stage": {
          "description": "Output only. Current step of the installation process.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "No stage specified.",
            "Only for GitHub Enterprise. An App creation has been requested. The user needs to confirm the creation in their GitHub enterprise host.",
            "User needs to authorize the GitHub (or Enterprise) App via OAuth.",
            "User needs to follow the link to install the GitHub (or Enterprise) App.",
            "Installation process has been completed."
          ],
          "enum": [
            "STAGE_UNSPECIFIED",
            "PENDING_CREATE_APP",
            "PENDING_USER_OAUTH",
            "PENDING_INSTALL_APP",
            "COMPLETE"
          ]
        },
        "message": {
          "description": "Output only. Message of what the user should do next to continue the installation. Empty string if the installation is already complete.",
          "readOnly": true,
          "type": "string"
        },
        "actionUri": {
          "description": "Output only. Link to follow for next action. Empty string if the installation is already complete.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GitRepositoryLink": {
      "id": "GitRepositoryLink",
      "description": "Message describing the GitRepositoryLink object",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Resource name of the repository, in the format `projects/*/locations/*/connections/*/gitRepositoryLinks/*`.",
          "type": "string"
        },
        "cloneUri": {
          "description": "Required. Git Clone URI.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. [Output only] Create timestamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. [Output only] Update timestamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "deleteTime": {
          "description": "Output only. [Output only] Delete timestamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. Set to true when the connection is being set up or updated in the background.",
          "readOnly": true,
          "type": "boolean"
        },
        "annotations": {
          "description": "Optional. Allows clients to store small amounts of arbitrary data.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uid": {
          "description": "Output only. A system-assigned unique identifier for a the GitRepositoryLink.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ListGitRepositoryLinksResponse": {
      "id": "ListGitRepositoryLinksResponse",
      "description": "Message for response to listing GitRepositoryLinks",
      "type": "object",
      "properties": {
        "gitRepositoryLinks": {
          "description": "The list of GitRepositoryLinks",
          "type": "array",
          "items": {
            "$ref": "GitRepositoryLink"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "FetchReadWriteTokenRequest": {
      "id": "FetchReadWriteTokenRequest",
      "description": "Message for fetching SCM read/write token.",
      "type": "object",
      "properties": {}
    },
    "FetchReadWriteTokenResponse": {
      "id": "FetchReadWriteTokenResponse",
      "description": "Message for responding to get read/write token.",
      "type": "object",
      "properties": {
        "token": {
          "description": "The token content.",
          "type": "string"
        },
        "expirationTime": {
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring.",
          "type": "string",
          "format": "google-datetime"
        },
        "gitUsername": {
          "description": "The git_username to specify when making a git clone with the token. For example, for GitHub GitRepositoryLinks, this would be \"x-access-token\"",
          "type": "string"
        }
      }
    },
    "FetchReadTokenRequest": {
      "id": "FetchReadTokenRequest",
      "description": "Message for fetching SCM read token.",
      "type": "object",
      "properties": {}
    },
    "FetchReadTokenResponse": {
      "id": "FetchReadTokenResponse",
      "description": "Message for responding to get read token.",
      "type": "object",
      "properties": {
        "token": {
          "description": "The token content.",
          "type": "string"
        },
        "expirationTime": {
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring.",
          "type": "string",
          "format": "google-datetime"
        },
        "gitUsername": {
          "description": "The git_username to specify when making a git clone with the token. For example, for GitHub GitRepositoryLinks, this would be \"x-access-token\"",
          "type": "string"
        }
      }
    },
    "FetchLinkableGitRepositoriesResponse": {
      "id": "FetchLinkableGitRepositoriesResponse",
      "description": "Response message for FetchLinkableGitRepositories.",
      "type": "object",
      "properties": {
        "linkableGitRepositories": {
          "description": "The git repositories that can be linked to the connection.",
          "type": "array",
          "items": {
            "$ref": "LinkableGitRepository"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "LinkableGitRepository": {
      "id": "LinkableGitRepository",
      "description": "LinkableGitRepository represents a git repository that can be linked to a connection.",
      "type": "object",
      "properties": {
        "cloneUri": {
          "description": "The clone uri of the repository.",
          "type": "string"
        }
      }
    },
    "FetchGitHubInstallationsResponse": {
      "id": "FetchGitHubInstallationsResponse",
      "description": "Response of fetching github installations.",
      "type": "object",
      "properties": {
        "installations": {
          "description": "List of installations available to the OAuth user (for github.com) or all the installations (for GitHub enterprise).",
          "type": "array",
          "items": {
            "$ref": "Installation"
          }
        }
      }
    },
    "Installation": {
      "id": "Installation",
      "description": "Represents an installation of the GitHub App.",
      "type": "object",
      "properties": {
        "id": {
          "description": "ID of the installation in GitHub.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Name of the GitHub user or organization that owns this installation.",
          "type": "string"
        },
        "type": {
          "description": "Either \"user\" or \"organization\".",
          "type": "string"
        }
      }
    },
    "FetchGitRefsResponse": {
      "id": "FetchGitRefsResponse",
      "description": "Response for fetching git refs.",
      "type": "object",
      "properties": {
        "refNames": {
          "description": "Name of the refs fetched.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "ProcessGitHubEnterpriseWebhookRequest": {
      "id": "ProcessGitHubEnterpriseWebhookRequest",
      "description": "RPC request object accepted by the ProcessGitHubEnterpriseWebhook RPC method.",
      "type": "object",
      "properties": {
        "body": {
          "description": "Required. HTTP request body.",
          "$ref": "HttpBody"
        },
        "webhookKey": {
          "description": "Required. Arbitrary additional key to find the matching repository for a webhook event if needed.",
          "type": "string"
        }
      }
    },
    "HttpBody": {
      "id": "HttpBody",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "type": "object",
      "properties": {
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        },
        "data": {
          "description": "The HTTP request/response body as raw binary.",
          "type": "string",
          "format": "byte"
        },
        "extensions": {
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "ProcessGitLabEnterpriseWebhookRequest": {
      "id": "ProcessGitLabEnterpriseWebhookRequest",
      "description": "RPC request object accepted by the ProcessGitLabEnterpriseWebhook RPC method.",
      "type": "object",
      "properties": {
        "body": {
          "description": "Required. HTTP request body.",
          "$ref": "HttpBody"
        },
        "webhookKey": {
          "description": "Required. Arbitrary additional key to find the matching repository for a webhook event if needed.",
          "type": "string"
        }
      }
    },
    "ProcessGitLabWebhookRequest": {
      "id": "ProcessGitLabWebhookRequest",
      "description": "RPC request object accepted by the ProcessGitLabWebhook RPC method.",
      "type": "object",
      "properties": {
        "body": {
          "description": "Required. HTTP request body.",
          "$ref": "HttpBody"
        },
        "webhookKey": {
          "description": "Required. Arbitrary additional key to find the matching repository for a webhook event if needed.",
          "type": "string"
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      }
    }
  },
  "protocol": "rest",
  "version_module": true,
  "name": "developerconnect",
  "id": "developerconnect:v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "id": "developerconnect.projects.locations.list",
              "path": "v1/{+name}/locations",
              "flatPath": "v1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists information about the supported locations for this service."
            },
            "get": {
              "id": "developerconnect.projects.locations.get",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location."
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "id": "developerconnect.projects.locations.operations.list",
                  "path": "v1/{+name}/operations",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                },
                "get": {
                  "id": "developerconnect.projects.locations.operations.get",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "delete": {
                  "id": "developerconnect.projects.locations.operations.delete",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                },
                "cancel": {
                  "id": "developerconnect.projects.locations.operations.cancel",
                  "path": "v1/{+name}:cancel",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
                }
              }
            },
            "connections": {
              "methods": {
                "list": {
                  "id": "developerconnect.projects.locations.connections.list",
                  "path": "v1/{+parent}/connections",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. Parent value for ListConnectionsRequest",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. Filtering results",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListConnectionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists Connections in a given project and location."
                },
                "get": {
                  "id": "developerconnect.projects.locations.connections.get",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Connection"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a single Connection."
                },
                "create": {
                  "id": "developerconnect.projects.locations.connections.create",
                  "path": "v1/{+parent}/connections",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. Value for parent.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "connectionId": {
                      "description": "Required. Id of the requesting object If auto-generating Id server-side, remove this field and connection_id from the method_signature of Create RPC",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "validateOnly": {
                      "description": "Optional. If set, validate the request, but do not actually post it.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Connection"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new Connection in a given project and location."
                },
                "patch": {
                  "id": "developerconnect.projects.locations.connections.patch",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "Identifier. The resource name of the connection, in the format `projects/{project}/locations/{location}/connections/{connection_id}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the Connection resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "allowMissing": {
                      "description": "Optional. If set to true, and the connection is not found a new connection will be created. In this situation `update_mask` is ignored. The creation will succeed only if the input connection has all the necessary information (e.g a github_config with both user_oauth_token and installation_id properties).",
                      "location": "query",
                      "type": "boolean"
                    },
                    "validateOnly": {
                      "description": "Optional. If set, validate the request, but do not actually post it.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Connection"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates the parameters of a single Connection."
                },
                "delete": {
                  "id": "developerconnect.projects.locations.connections.delete",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "validateOnly": {
                      "description": "Optional. If set, validate the request, but do not actually post it.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "etag": {
                      "description": "Optional. The current etag of the Connection. If an etag is provided and does not match the current etag of the Connection, deletion will be blocked and an ABORTED error will be returned.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a single Connection."
                },
                "fetchLinkableGitRepositories": {
                  "id": "developerconnect.projects.locations.connections.fetchLinkableGitRepositories",
                  "path": "v1/{+connection}:fetchLinkableGitRepositories",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:fetchLinkableGitRepositories",
                  "httpMethod": "GET",
                  "parameters": {
                    "connection": {
                      "description": "Required. The name of the Connection. Format: `projects/*/locations/*/connections/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Number of results to return in the list. Defaults to 20.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. Page start.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "connection"
                  ],
                  "response": {
                    "$ref": "FetchLinkableGitRepositoriesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "FetchLinkableGitRepositories returns a list of git repositories from an SCM that are available to be added to a Connection."
                },
                "fetchGitHubInstallations": {
                  "id": "developerconnect.projects.locations.connections.fetchGitHubInstallations",
                  "path": "v1/{+connection}:fetchGitHubInstallations",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:fetchGitHubInstallations",
                  "httpMethod": "GET",
                  "parameters": {
                    "connection": {
                      "description": "Required. The resource name of the connection in the format `projects/*/locations/*/connections/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "connection"
                  ],
                  "response": {
                    "$ref": "FetchGitHubInstallationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "FetchGitHubInstallations returns the list of GitHub Installations that are available to be added to a Connection. For github.com, only installations accessible to the authorizer token are returned. For GitHub Enterprise, all installations are returned."
                },
                "processGitHubEnterpriseWebhook": {
                  "id": "developerconnect.projects.locations.connections.processGitHubEnterpriseWebhook",
                  "path": "v1/{+parent}/connections:processGitHubEnterpriseWebhook",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections:processGitHubEnterpriseWebhook",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. Project and location where the webhook will be received. Format: `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "ProcessGitHubEnterpriseWebhookRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "ProcessGitHubEnterpriseWebhook is called by the external GitHub Enterprise instances for notifying events."
                },
                "processGitLabEnterpriseWebhook": {
                  "id": "developerconnect.projects.locations.connections.processGitLabEnterpriseWebhook",
                  "path": "v1/{+parent}/connections:processGitLabEnterpriseWebhook",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections:processGitLabEnterpriseWebhook",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. Project and location where the webhook will be received. Format: `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "ProcessGitLabEnterpriseWebhookRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "ProcessGitLabEnterpriseWebhook is called by the external GitLab Enterprise instances for notifying events."
                },
                "processGitLabWebhook": {
                  "id": "developerconnect.projects.locations.connections.processGitLabWebhook",
                  "path": "v1/{+parent}/connections:processGitLabWebhook",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections:processGitLabWebhook",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. Project and location where the webhook will be received. Format: `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "ProcessGitLabWebhookRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "ProcessGitLabWebhook is called by the GitLab.com for notifying events."
                }
              },
              "resources": {
                "gitRepositoryLinks": {
                  "methods": {
                    "create": {
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.create",
                      "path": "v1/{+parent}/gitRepositoryLinks",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "description": "Required. Value for parent.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "gitRepositoryLinkId": {
                          "description": "Required. The ID to use for the repository, which will become the final component of the repository's resource name. This ID should be unique in the connection. Allows alphanumeric characters and any of -._~%!$&'()*+,;=@.",
                          "location": "query",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query",
                          "type": "string"
                        },
                        "validateOnly": {
                          "description": "Optional. If set, validate the request, but do not actually post it.",
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GitRepositoryLink"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a GitRepositoryLink. Upon linking a Git Repository, Developer Connect will configure the Git Repository to send webhook events to Developer Connect. Connections that use Firebase GitHub Application will have events forwarded to the Firebase service. All other Connections will have events forwarded to Cloud Build."
                    },
                    "delete": {
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.delete",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks/{gitRepositoryLinksId}",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the resource",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/gitRepositoryLinks/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query",
                          "type": "string"
                        },
                        "validateOnly": {
                          "description": "Optional. If set, validate the request, but do not actually post it.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "etag": {
                          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes a single GitRepositoryLink."
                    },
                    "list": {
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.list",
                      "path": "v1/{+parent}/gitRepositoryLinks",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks",
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "description": "Required. Parent value for ListGitRepositoryLinksRequest",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "Optional. A token identifying a page of results the server should return.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. Filtering results",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "description": "Optional. Hint for how to order the results",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListGitRepositoryLinksResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists GitRepositoryLinks in a given project, location, and connection."
                    },
                    "get": {
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.get",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks/{gitRepositoryLinksId}",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the resource",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/gitRepositoryLinks/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GitRepositoryLink"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets details of a single GitRepositoryLink."
                    },
                    "fetchReadWriteToken": {
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.fetchReadWriteToken",
                      "path": "v1/{+gitRepositoryLink}:fetchReadWriteToken",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks/{gitRepositoryLinksId}:fetchReadWriteToken",
                      "httpMethod": "POST",
                      "parameters": {
                        "gitRepositoryLink": {
                          "description": "Required. The resource name of the gitRepositoryLink in the format `projects/*/locations/*/connections/*/gitRepositoryLinks/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/gitRepositoryLinks/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "gitRepositoryLink"
                      ],
                      "request": {
                        "$ref": "FetchReadWriteTokenRequest"
                      },
                      "response": {
                        "$ref": "FetchReadWriteTokenResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Fetches read/write token of a given gitRepositoryLink."
                    },
                    "fetchReadToken": {
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.fetchReadToken",
                      "path": "v1/{+gitRepositoryLink}:fetchReadToken",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks/{gitRepositoryLinksId}:fetchReadToken",
                      "httpMethod": "POST",
                      "parameters": {
                        "gitRepositoryLink": {
                          "description": "Required. The resource name of the gitRepositoryLink in the format `projects/*/locations/*/connections/*/gitRepositoryLinks/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/gitRepositoryLinks/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "gitRepositoryLink"
                      ],
                      "request": {
                        "$ref": "FetchReadTokenRequest"
                      },
                      "response": {
                        "$ref": "FetchReadTokenResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Fetches read token of a given gitRepositoryLink."
                    },
                    "fetchGitRefs": {
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.fetchGitRefs",
                      "path": "v1/{+gitRepositoryLink}:fetchGitRefs",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks/{gitRepositoryLinksId}:fetchGitRefs",
                      "httpMethod": "GET",
                      "parameters": {
                        "gitRepositoryLink": {
                          "description": "Required. The resource name of GitRepositoryLink in the format `projects/*/locations/*/connections/*/gitRepositoryLinks/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/gitRepositoryLinks/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "refType": {
                          "description": "Required. Type of refs to fetch.",
                          "location": "query",
                          "type": "string",
                          "enumDescriptions": [
                            "No type specified.",
                            "To fetch tags.",
                            "To fetch branches."
                          ],
                          "enum": [
                            "REF_TYPE_UNSPECIFIED",
                            "TAG",
                            "BRANCH"
                          ]
                        },
                        "pageSize": {
                          "description": "Optional. Number of results to return in the list. Default to 20.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "Optional. Page start.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "gitRepositoryLink"
                      ],
                      "response": {
                        "$ref": "FetchGitRefsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Fetch the list of branches or tags for a given repository."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://developerconnect.googleapis.com/",
  "ownerName": "Google",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com"
}
