{
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/doubleclick-advertisers/",
  "version": "v4",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "discoveryVersion": "v1",
  "id": "dfareporting:v4",
  "resources": {
    "accountActiveAdSummaries": {
      "methods": {
        "get": {
          "response": {
            "$ref": "AccountActiveAdSummary"
          },
          "description": "Gets the account's active ad summary by account ID.",
          "parameters": {
            "summaryAccountId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "Account ID."
            },
            "profileId": {
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.accountActiveAdSummaries.get",
          "httpMethod": "GET",
          "flatPath": "userprofiles/{profileId}/accountActiveAdSummaries/{summaryAccountId}",
          "path": "userprofiles/{profileId}/accountActiveAdSummaries/{summaryAccountId}",
          "parameterOrder": [
            "profileId",
            "summaryAccountId"
          ]
        }
      }
    },
    "userProfiles": {
      "methods": {
        "get": {
          "path": "userprofiles/{profileId}",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/ddmconversions",
            "https://www.googleapis.com/auth/dfareporting",
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "type": "string",
              "location": "path",
              "description": "The user profile ID.",
              "required": true
            }
          },
          "response": {
            "$ref": "UserProfile"
          },
          "flatPath": "userprofiles/{profileId}",
          "httpMethod": "GET",
          "description": "Gets one user profile by ID.",
          "id": "dfareporting.userProfiles.get"
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "UserProfileList"
          },
          "path": "userprofiles",
          "scopes": [
            "https://www.googleapis.com/auth/ddmconversions",
            "https://www.googleapis.com/auth/dfareporting",
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.userProfiles.list",
          "description": "Retrieves list of user profiles for a user.",
          "parameterOrder": [],
          "parameters": {},
          "flatPath": "userprofiles"
        }
      }
    },
    "userRoles": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "description": "Retrieves a list of user roles, possibly filtered. This method supports paging.",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{profileId}/userRoles",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.userRoles.list",
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request."
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"userrole*2015\" will return objects with names like \"userrole June 2015\", \"userrole April 2015\", or simply \"userrole 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"userrole\" will match objects with name \"my userrole\", \"userrole 2015\", or simply \"userrole\".",
              "type": "string",
              "location": "query"
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "ids": {
              "format": "int64",
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "Select only user roles with the specified IDs."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "maxResults": {
              "maximum": "1000",
              "minimum": "0",
              "description": "Maximum number of results to return.",
              "format": "int32",
              "type": "integer",
              "location": "query",
              "default": "1000"
            },
            "accountUserRoleOnly": {
              "location": "query",
              "type": "boolean",
              "description": "Select only account level user roles not associated with any specific subaccount."
            },
            "subaccountId": {
              "type": "string",
              "location": "query",
              "description": "Select only user roles that belong to this subaccount.",
              "format": "int64"
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "default": "ID",
              "type": "string"
            }
          },
          "response": {
            "$ref": "UserRolesListResponse"
          },
          "flatPath": "userprofiles/{profileId}/userRoles"
        },
        "delete": {
          "id": "dfareporting.userRoles.delete",
          "flatPath": "userprofiles/{profileId}/userRoles/{id}",
          "parameters": {
            "id": {
              "type": "string",
              "description": "User role ID.",
              "location": "path",
              "required": true,
              "format": "int64"
            },
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Deletes an existing user role.",
          "path": "userprofiles/{profileId}/userRoles/{id}",
          "httpMethod": "DELETE"
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "UserRole"
          },
          "path": "userprofiles/{profileId}/userRoles",
          "response": {
            "$ref": "UserRole"
          },
          "id": "dfareporting.userRoles.patch",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Updates an existing user role. This method supports patch semantics.",
          "parameters": {
            "id": {
              "description": "UserRole ID.",
              "required": true,
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "userprofiles/{profileId}/userRoles"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "UserRole"
          },
          "description": "Updates an existing user role.",
          "request": {
            "$ref": "UserRole"
          },
          "id": "dfareporting.userRoles.update",
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          },
          "path": "userprofiles/{profileId}/userRoles",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{profileId}/userRoles",
          "httpMethod": "PUT"
        },
        "insert": {
          "id": "dfareporting.userRoles.insert",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Inserts a new user role.",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "UserRole"
          },
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "format": "int64",
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true
            }
          },
          "flatPath": "userprofiles/{profileId}/userRoles",
          "path": "userprofiles/{profileId}/userRoles",
          "response": {
            "$ref": "UserRole"
          }
        },
        "get": {
          "response": {
            "$ref": "UserRole"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "id": {
              "description": "User role ID.",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "profileId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request."
            }
          },
          "description": "Gets one user role by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{profileId}/userRoles/{id}",
          "httpMethod": "GET",
          "id": "dfareporting.userRoles.get",
          "path": "userprofiles/{profileId}/userRoles/{id}"
        }
      }
    },
    "targetableRemarketingLists": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of targetable remarketing lists, possibly filtered. This method supports paging.",
          "id": "dfareporting.targetableRemarketingLists.list",
          "path": "userprofiles/{profileId}/targetableRemarketingLists",
          "parameters": {
            "advertiserId": {
              "description": "Select only targetable remarketing lists targetable by these advertisers.",
              "type": "string",
              "location": "query",
              "required": true,
              "format": "int64"
            },
            "profileId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request."
            },
            "maxResults": {
              "type": "integer",
              "default": "1000",
              "minimum": "0",
              "location": "query",
              "maximum": "1000",
              "description": "Maximum number of results to return.",
              "format": "int32"
            },
            "name": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"remarketing list*2015\" will return objects with names like \"remarketing list June 2015\", \"remarketing list April 2015\", or simply \"remarketing list 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"remarketing list\" will match objects with name \"my remarketing list\", \"remarketing list 2015\", or simply \"remarketing list\".",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Order of sorted results.",
              "type": "string"
            },
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "description": "Field by which to sort the list."
            },
            "active": {
              "description": "Select only active or only inactive targetable remarketing lists.",
              "type": "boolean",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page."
            }
          },
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "response": {
            "$ref": "TargetableRemarketingListsListResponse"
          },
          "httpMethod": "GET",
          "flatPath": "userprofiles/{profileId}/targetableRemarketingLists"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.targetableRemarketingLists.get",
          "path": "userprofiles/{profileId}/targetableRemarketingLists/{id}",
          "flatPath": "userprofiles/{profileId}/targetableRemarketingLists/{id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "TargetableRemarketingList"
          },
          "description": "Gets one remarketing list by ID.",
          "parameters": {
            "id": {
              "required": true,
              "description": "Remarketing list ID.",
              "type": "string",
              "format": "int64",
              "location": "path"
            },
            "profileId": {
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64"
            }
          },
          "httpMethod": "GET"
        }
      }
    },
    "operatingSystemVersions": {
      "methods": {
        "list": {
          "flatPath": "userprofiles/{profileId}/operatingSystemVersions",
          "response": {
            "$ref": "OperatingSystemVersionsListResponse"
          },
          "description": "Retrieves a list of operating system versions.",
          "path": "userprofiles/{profileId}/operatingSystemVersions",
          "id": "dfareporting.operatingSystemVersions.list",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.operatingSystemVersions.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "OperatingSystemVersion"
          },
          "path": "userprofiles/{profileId}/operatingSystemVersions/{id}",
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "id": {
              "type": "string",
              "required": true,
              "description": "Operating system version ID.",
              "location": "path",
              "format": "int64"
            }
          },
          "flatPath": "userprofiles/{profileId}/operatingSystemVersions/{id}",
          "description": "Gets one operating system version by ID."
        }
      }
    },
    "advertiserInvoices": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "flatPath": "userprofiles/{profileId}/advertisers/{advertiserId}/invoices",
          "id": "dfareporting.advertiserInvoices.list",
          "parameters": {
            "maxResults": {
              "description": "Maximum number of results to return.",
              "minimum": "0",
              "type": "integer",
              "format": "int32",
              "default": "1000",
              "maximum": "1000",
              "location": "query"
            },
            "profileId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "advertiserId": {
              "location": "path",
              "type": "string",
              "description": "Advertiser ID of this invoice.",
              "format": "int64",
              "required": true
            },
            "issueMonth": {
              "type": "string",
              "description": "Month for which invoices are needed in the format YYYYMM. Required field",
              "location": "query"
            }
          },
          "description": "Retrieves a list of invoices for a particular issue month. The api only works if the billing profile invoice level is set to either advertiser or campaign non-consolidated invoice level.",
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "path": "userprofiles/{profileId}/advertisers/{advertiserId}/invoices",
          "response": {
            "$ref": "AdvertiserInvoicesListResponse"
          }
        }
      }
    },
    "reports": {
      "resources": {
        "files": {
          "methods": {
            "get": {
              "path": "userprofiles/{profileId}/reports/{reportId}/files/{fileId}",
              "id": "dfareporting.reports.files.get",
              "supportsMediaDownload": true,
              "description": "Retrieves a report file by its report ID and file ID. This method supports media download.",
              "parameterOrder": [
                "profileId",
                "reportId",
                "fileId"
              ],
              "response": {
                "$ref": "File"
              },
              "scopes": [
                "https://www.googleapis.com/auth/dfareporting"
              ],
              "httpMethod": "GET",
              "parameters": {
                "profileId": {
                  "format": "int64",
                  "required": true,
                  "description": "The Campaign Manager 360 user profile ID.",
                  "type": "string",
                  "location": "path"
                },
                "fileId": {
                  "description": "The ID of the report file.",
                  "required": true,
                  "location": "path",
                  "format": "int64",
                  "type": "string"
                },
                "reportId": {
                  "description": "The ID of the report.",
                  "format": "int64",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "userprofiles/{profileId}/reports/{reportId}/files/{fileId}"
            },
            "list": {
              "path": "userprofiles/{profileId}/reports/{reportId}/files",
              "id": "dfareporting.reports.files.list",
              "description": "Lists files for a report.",
              "scopes": [
                "https://www.googleapis.com/auth/dfareporting"
              ],
              "parameterOrder": [
                "profileId",
                "reportId"
              ],
              "httpMethod": "GET",
              "flatPath": "userprofiles/{profileId}/reports/{reportId}/files",
              "response": {
                "$ref": "FileList"
              },
              "parameters": {
                "maxResults": {
                  "maximum": "10",
                  "type": "integer",
                  "description": "Maximum number of results to return.",
                  "format": "int32",
                  "default": "10",
                  "location": "query",
                  "minimum": "0"
                },
                "reportId": {
                  "location": "path",
                  "required": true,
                  "description": "The ID of the parent report.",
                  "type": "string",
                  "format": "int64"
                },
                "profileId": {
                  "type": "string",
                  "description": "The Campaign Manager 360 user profile ID.",
                  "format": "int64",
                  "location": "path",
                  "required": true
                },
                "sortOrder": {
                  "default": "DESCENDING",
                  "location": "query",
                  "enum": [
                    "ASCENDING",
                    "DESCENDING"
                  ],
                  "enumDescriptions": [
                    "Ascending order.",
                    "Descending order."
                  ],
                  "type": "string",
                  "description": "Order of sorted results."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The value of the nextToken from the previous result page."
                },
                "sortField": {
                  "default": "LAST_MODIFIED_TIME",
                  "enumDescriptions": [
                    "",
                    ""
                  ],
                  "description": "The field by which to sort the list.",
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "ID",
                    "LAST_MODIFIED_TIME"
                  ]
                }
              }
            }
          }
        },
        "compatibleFields": {
          "methods": {
            "query": {
              "scopes": [
                "https://www.googleapis.com/auth/dfareporting"
              ],
              "parameters": {
                "profileId": {
                  "location": "path",
                  "required": true,
                  "format": "int64",
                  "type": "string",
                  "description": "The Campaign Manager 360 user profile ID."
                }
              },
              "description": "Returns the fields that are compatible to be selected in the respective sections of a report criteria, given the fields already selected in the input report and user permissions.",
              "httpMethod": "POST",
              "id": "dfareporting.reports.compatibleFields.query",
              "parameterOrder": [
                "profileId"
              ],
              "response": {
                "$ref": "CompatibleFields"
              },
              "request": {
                "$ref": "Report"
              },
              "flatPath": "userprofiles/{profileId}/reports/compatiblefields/query",
              "path": "userprofiles/{profileId}/reports/compatiblefields/query"
            }
          }
        }
      },
      "methods": {
        "list": {
          "id": "dfareporting.reports.list",
          "parameters": {
            "scope": {
              "enumDescriptions": [
                "All reports in account.",
                "My reports."
              ],
              "default": "MINE",
              "type": "string",
              "location": "query",
              "description": "The scope that defines which results are returned.",
              "enum": [
                "ALL",
                "MINE"
              ]
            },
            "pageToken": {
              "type": "string",
              "description": "The value of the nextToken from the previous result page.",
              "location": "query"
            },
            "profileId": {
              "description": "The Campaign Manager 360 user profile ID.",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64"
            },
            "sortField": {
              "default": "LAST_MODIFIED_TIME",
              "location": "query",
              "enumDescriptions": [
                "Sort by report ID.",
                "Sort by 'lastModifiedTime' field.",
                "Sort by name of reports."
              ],
              "description": "The field by which to sort the list.",
              "type": "string",
              "enum": [
                "ID",
                "LAST_MODIFIED_TIME",
                "NAME"
              ]
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of results to return.",
              "minimum": "0",
              "maximum": "10",
              "default": "10",
              "format": "int32",
              "location": "query"
            },
            "sortOrder": {
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query",
              "default": "DESCENDING",
              "description": "Order of sorted results."
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "ReportList"
          },
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves list of reports.",
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "path": "userprofiles/{profileId}/reports",
          "flatPath": "userprofiles/{profileId}/reports"
        },
        "run": {
          "parameters": {
            "reportId": {
              "required": true,
              "format": "int64",
              "type": "string",
              "location": "path",
              "description": "The ID of the report."
            },
            "profileId": {
              "required": true,
              "type": "string",
              "description": "The Campaign Manager 360 user profile ID.",
              "location": "path",
              "format": "int64"
            },
            "synchronous": {
              "description": "If set and true, tries to run the report synchronously.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            }
          },
          "httpMethod": "POST",
          "flatPath": "userprofiles/{profileId}/reports/{reportId}/run",
          "response": {
            "$ref": "File"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "parameterOrder": [
            "profileId",
            "reportId"
          ],
          "path": "userprofiles/{profileId}/reports/{reportId}/run",
          "id": "dfareporting.reports.run",
          "description": "Runs a report."
        },
        "get": {
          "id": "dfareporting.reports.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "path": "userprofiles/{profileId}/reports/{reportId}",
          "httpMethod": "GET",
          "description": "Retrieves a report by its ID.",
          "parameterOrder": [
            "profileId",
            "reportId"
          ],
          "response": {
            "$ref": "Report"
          },
          "flatPath": "userprofiles/{profileId}/reports/{reportId}",
          "parameters": {
            "profileId": {
              "description": "The Campaign Manager 360 user profile ID.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true
            },
            "reportId": {
              "location": "path",
              "description": "The ID of the report.",
              "format": "int64",
              "required": true,
              "type": "string"
            }
          }
        },
        "update": {
          "id": "dfareporting.reports.update",
          "parameterOrder": [
            "profileId",
            "reportId"
          ],
          "flatPath": "userprofiles/{profileId}/reports/{reportId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "path": "userprofiles/{profileId}/reports/{reportId}",
          "parameters": {
            "reportId": {
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "The ID of the report."
            },
            "profileId": {
              "description": "The Campaign Manager 360 user profile ID.",
              "type": "string",
              "required": true,
              "format": "int64",
              "location": "path"
            }
          },
          "httpMethod": "PUT",
          "description": "Updates a report.",
          "request": {
            "$ref": "Report"
          },
          "response": {
            "$ref": "Report"
          }
        },
        "insert": {
          "httpMethod": "POST",
          "request": {
            "$ref": "Report"
          },
          "flatPath": "userprofiles/{profileId}/reports",
          "path": "userprofiles/{profileId}/reports",
          "id": "dfareporting.reports.insert",
          "description": "Creates a report.",
          "response": {
            "$ref": "Report"
          },
          "parameters": {
            "profileId": {
              "type": "string",
              "location": "path",
              "description": "The Campaign Manager 360 user profile ID.",
              "format": "int64",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "parameterOrder": [
            "profileId"
          ]
        },
        "patch": {
          "id": "dfareporting.reports.patch",
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "httpMethod": "PATCH",
          "flatPath": "userprofiles/{profileId}/reports/{reportId}",
          "response": {
            "$ref": "Report"
          },
          "description": "Updates an existing report. This method supports patch semantics.",
          "request": {
            "$ref": "Report"
          },
          "parameterOrder": [
            "profileId",
            "reportId"
          ],
          "path": "userprofiles/{profileId}/reports/{reportId}",
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "The Campaign Manager 360 user profile ID.",
              "location": "path"
            },
            "reportId": {
              "location": "path",
              "description": "The ID of the report.",
              "format": "int64",
              "required": true,
              "type": "string"
            }
          }
        },
        "delete": {
          "id": "dfareporting.reports.delete",
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "The Campaign Manager 360 user profile ID.",
              "required": true,
              "format": "int64",
              "location": "path"
            },
            "reportId": {
              "description": "The ID of the report.",
              "type": "string",
              "format": "int64",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "flatPath": "userprofiles/{profileId}/reports/{reportId}",
          "httpMethod": "DELETE",
          "path": "userprofiles/{profileId}/reports/{reportId}",
          "parameterOrder": [
            "profileId",
            "reportId"
          ],
          "description": "Deletes a report by its ID."
        }
      }
    },
    "contentCategories": {
      "methods": {
        "update": {
          "path": "userprofiles/{profileId}/contentCategories",
          "httpMethod": "PUT",
          "response": {
            "$ref": "ContentCategory"
          },
          "flatPath": "userprofiles/{profileId}/contentCategories",
          "id": "dfareporting.contentCategories.update",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "ContentCategory"
          },
          "description": "Updates an existing content category.",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "insert": {
          "flatPath": "userprofiles/{profileId}/contentCategories",
          "httpMethod": "POST",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Inserts a new content category.",
          "path": "userprofiles/{profileId}/contentCategories",
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true
            }
          },
          "id": "dfareporting.contentCategories.insert",
          "request": {
            "$ref": "ContentCategory"
          },
          "response": {
            "$ref": "ContentCategory"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "patch": {
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path"
            },
            "id": {
              "description": "ContentCategory ID.",
              "type": "string",
              "format": "int64",
              "location": "query",
              "required": true
            }
          },
          "path": "userprofiles/{profileId}/contentCategories",
          "response": {
            "$ref": "ContentCategory"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Updates an existing content category. This method supports patch semantics.",
          "request": {
            "$ref": "ContentCategory"
          },
          "flatPath": "userprofiles/{profileId}/contentCategories",
          "id": "dfareporting.contentCategories.patch"
        },
        "delete": {
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "id": {
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Content category ID."
            }
          },
          "httpMethod": "DELETE",
          "id": "dfareporting.contentCategories.delete",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{profileId}/contentCategories/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{profileId}/contentCategories/{id}",
          "description": "Deletes an existing content category."
        },
        "get": {
          "response": {
            "$ref": "ContentCategory"
          },
          "path": "userprofiles/{profileId}/contentCategories/{id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.contentCategories.get",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request."
            },
            "id": {
              "description": "Content category ID.",
              "required": true,
              "format": "int64",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Gets one content category by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{profileId}/contentCategories/{id}"
        },
        "list": {
          "id": "dfareporting.contentCategories.list",
          "description": "Retrieves a list of content categories, possibly filtered. This method supports paging.",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "sortOrder": {
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Order of sorted results.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "location": "query",
              "default": "ASCENDING"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"contentcategory*2015\" will return objects with names like \"contentcategory June 2015\", \"contentcategory April 2015\", or simply \"contentcategory 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"contentcategory\" will match objects with name \"my contentcategory\", \"contentcategory 2015\", or simply \"contentcategory\".",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "maximum": "1000",
              "location": "query",
              "description": "Maximum number of results to return.",
              "format": "int32",
              "default": "1000",
              "minimum": "0",
              "type": "integer"
            },
            "profileId": {
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request."
            },
            "ids": {
              "type": "string",
              "description": "Select only content categories with these IDs.",
              "location": "query",
              "repeated": true,
              "format": "int64"
            },
            "sortField": {
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "description": "Field by which to sort the list.",
              "enum": [
                "ID",
                "NAME"
              ],
              "type": "string"
            }
          },
          "path": "userprofiles/{profileId}/contentCategories",
          "response": {
            "$ref": "ContentCategoriesListResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{profileId}/contentCategories",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "remarketingListShares": {
      "methods": {
        "get": {
          "description": "Gets one remarketing list share by remarketing list ID.",
          "parameterOrder": [
            "profileId",
            "remarketingListId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request."
            },
            "remarketingListId": {
              "required": true,
              "format": "int64",
              "type": "string",
              "description": "Remarketing list ID.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "RemarketingListShare"
          },
          "httpMethod": "GET",
          "flatPath": "userprofiles/{profileId}/remarketingListShares/{remarketingListId}",
          "id": "dfareporting.remarketingListShares.get",
          "path": "userprofiles/{profileId}/remarketingListShares/{remarketingListId}"
        },
        "update": {
          "path": "userprofiles/{profileId}/remarketingListShares",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true
            }
          },
          "flatPath": "userprofiles/{profileId}/remarketingListShares",
          "description": "Updates an existing remarketing list share.",
          "httpMethod": "PUT",
          "request": {
            "$ref": "RemarketingListShare"
          },
          "response": {
            "$ref": "RemarketingListShare"
          },
          "id": "dfareporting.remarketingListShares.update"
        },
        "patch": {
          "description": "Updates an existing remarketing list share. This method supports patch semantics.",
          "path": "userprofiles/{profileId}/remarketingListShares",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH",
          "request": {
            "$ref": "RemarketingListShare"
          },
          "response": {
            "$ref": "RemarketingListShare"
          },
          "flatPath": "userprofiles/{profileId}/remarketingListShares",
          "parameters": {
            "id": {
              "description": "RemarketingList ID.",
              "format": "int64",
              "required": true,
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64"
            }
          },
          "id": "dfareporting.remarketingListShares.patch"
        }
      }
    },
    "floodlightConfigurations": {
      "methods": {
        "update": {
          "id": "dfareporting.floodlightConfigurations.update",
          "path": "userprofiles/{profileId}/floodlightConfigurations",
          "description": "Updates an existing floodlight configuration.",
          "request": {
            "$ref": "FloodlightConfiguration"
          },
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "flatPath": "userprofiles/{profileId}/floodlightConfigurations"
        },
        "patch": {
          "flatPath": "userprofiles/{profileId}/floodlightConfigurations",
          "description": "Updates an existing floodlight configuration. This method supports patch semantics.",
          "request": {
            "$ref": "FloodlightConfiguration"
          },
          "id": "dfareporting.floodlightConfigurations.patch",
          "parameters": {
            "id": {
              "location": "query",
              "format": "int64",
              "description": "FloodlightConfiguration ID.",
              "type": "string",
              "required": true
            },
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64",
              "type": "string"
            }
          },
          "httpMethod": "PATCH",
          "path": "userprofiles/{profileId}/floodlightConfigurations",
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "description": "Gets one floodlight configuration by ID.",
          "flatPath": "userprofiles/{profileId}/floodlightConfigurations/{id}",
          "id": "dfareporting.floodlightConfigurations.get",
          "path": "userprofiles/{profileId}/floodlightConfigurations/{id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "format": "int64",
              "type": "string",
              "description": "Floodlight configuration ID.",
              "required": true,
              "location": "path"
            },
            "profileId": {
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request."
            }
          }
        },
        "list": {
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "type": "string",
              "location": "path"
            },
            "ids": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "Set of IDs of floodlight configurations to retrieve. Required field; otherwise an empty list will be returned."
            }
          },
          "id": "dfareporting.floodlightConfigurations.list",
          "description": "Retrieves a list of floodlight configurations, possibly filtered.",
          "httpMethod": "GET",
          "path": "userprofiles/{profileId}/floodlightConfigurations",
          "response": {
            "$ref": "FloodlightConfigurationsListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{profileId}/floodlightConfigurations",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "metros": {
      "methods": {
        "list": {
          "flatPath": "userprofiles/{profileId}/metros",
          "response": {
            "$ref": "MetrosListResponse"
          },
          "path": "userprofiles/{profileId}/metros",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "description": "Retrieves a list of metros.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.metros.list"
        }
      }
    },
    "userRolePermissionGroups": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.userRolePermissionGroups.get",
          "parameters": {
            "id": {
              "description": "User role permission group ID.",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64"
            },
            "profileId": {
              "format": "int64",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "httpMethod": "GET",
          "description": "Gets one user role permission group by ID.",
          "response": {
            "$ref": "UserRolePermissionGroup"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{profileId}/userRolePermissionGroups/{id}",
          "flatPath": "userprofiles/{profileId}/userRolePermissionGroups/{id}"
        },
        "list": {
          "id": "dfareporting.userRolePermissionGroups.list",
          "flatPath": "userprofiles/{profileId}/userRolePermissionGroups",
          "description": "Gets a list of all supported user role permission groups.",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "GET",
          "path": "userprofiles/{profileId}/userRolePermissionGroups",
          "response": {
            "$ref": "UserRolePermissionGroupsListResponse"
          }
        }
      }
    },
    "dynamicTargetingKeys": {
      "methods": {
        "delete": {
          "id": "dfareporting.dynamicTargetingKeys.delete",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request."
            },
            "objectId": {
              "required": true,
              "format": "int64",
              "type": "string",
              "description": "ID of the object of this dynamic targeting key. This is a required field.",
              "location": "path"
            },
            "objectType": {
              "required": true,
              "description": "Type of the object of this dynamic targeting key. This is a required field.",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "OBJECT_ADVERTISER",
                "OBJECT_AD",
                "OBJECT_CREATIVE",
                "OBJECT_PLACEMENT"
              ]
            },
            "name": {
              "location": "query",
              "type": "string",
              "required": true,
              "description": "Name of this dynamic targeting key. This is a required field. Must be less than 256 characters long and cannot contain commas. All characters are converted to lowercase."
            }
          },
          "description": "Deletes an existing dynamic targeting key.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{profileId}/dynamicTargetingKeys/{objectId}",
          "parameterOrder": [
            "profileId",
            "objectId",
            "name",
            "objectType"
          ],
          "path": "userprofiles/{profileId}/dynamicTargetingKeys/{objectId}",
          "httpMethod": "DELETE"
        },
        "insert": {
          "description": "Inserts a new dynamic targeting key. Keys must be created at the advertiser level before being assigned to the advertiser's ads, creatives, or placements. There is a maximum of 1000 keys per advertiser, out of which a maximum of 20 keys can be assigned per ad, creative, or placement.",
          "flatPath": "userprofiles/{profileId}/dynamicTargetingKeys",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string"
            }
          },
          "id": "dfareporting.dynamicTargetingKeys.insert",
          "request": {
            "$ref": "DynamicTargetingKey"
          },
          "response": {
            "$ref": "DynamicTargetingKey"
          },
          "httpMethod": "POST",
          "path": "userprofiles/{profileId}/dynamicTargetingKeys"
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.dynamicTargetingKeys.list",
          "description": "Retrieves a list of dynamic targeting keys.",
          "path": "userprofiles/{profileId}/dynamicTargetingKeys",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "DynamicTargetingKeysListResponse"
          },
          "flatPath": "userprofiles/{profileId}/dynamicTargetingKeys",
          "parameters": {
            "objectType": {
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "OBJECT_ADVERTISER",
                "OBJECT_AD",
                "OBJECT_CREATIVE",
                "OBJECT_PLACEMENT"
              ],
              "description": "Select only dynamic targeting keys with this object type.",
              "type": "string",
              "location": "query"
            },
            "advertiserId": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Select only dynamic targeting keys whose object has this advertiser ID."
            },
            "profileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request."
            },
            "names": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "Select only dynamic targeting keys exactly matching these names."
            },
            "objectId": {
              "location": "query",
              "description": "Select only dynamic targeting keys with this object ID.",
              "type": "string",
              "format": "int64"
            }
          }
        }
      }
    },
    "placementStrategies": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "response": {
            "$ref": "PlacementStrategy"
          },
          "flatPath": "userprofiles/{profileId}/placementStrategies",
          "path": "userprofiles/{profileId}/placementStrategies",
          "description": "Inserts a new placement strategy.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.placementStrategies.insert",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "required": true,
              "location": "path"
            }
          },
          "request": {
            "$ref": "PlacementStrategy"
          }
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{profileId}/placementStrategies/{id}",
          "parameters": {
            "id": {
              "description": "Placement strategy ID.",
              "required": true,
              "format": "int64",
              "type": "string",
              "location": "path"
            },
            "profileId": {
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "flatPath": "userprofiles/{profileId}/placementStrategies/{id}",
          "response": {
            "$ref": "PlacementStrategy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.placementStrategies.get",
          "description": "Gets one placement strategy by ID."
        },
        "update": {
          "description": "Updates an existing placement strategy.",
          "flatPath": "userprofiles/{profileId}/placementStrategies",
          "httpMethod": "PUT",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "PlacementStrategy"
          },
          "path": "userprofiles/{profileId}/placementStrategies",
          "id": "dfareporting.placementStrategies.update",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "PlacementStrategy"
          }
        },
        "patch": {
          "httpMethod": "PATCH",
          "id": "dfareporting.placementStrategies.patch",
          "response": {
            "$ref": "PlacementStrategy"
          },
          "flatPath": "userprofiles/{profileId}/placementStrategies",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{profileId}/placementStrategies",
          "description": "Updates an existing placement strategy. This method supports patch semantics.",
          "request": {
            "$ref": "PlacementStrategy"
          },
          "parameters": {
            "id": {
              "format": "int64",
              "description": "PlacementStrategy ID.",
              "required": true,
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "required": true,
              "format": "int64",
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameters": {
            "id": {
              "required": true,
              "format": "int64",
              "location": "path",
              "type": "string",
              "description": "Placement strategy ID."
            },
            "profileId": {
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            }
          },
          "id": "dfareporting.placementStrategies.delete",
          "description": "Deletes an existing placement strategy.",
          "path": "userprofiles/{profileId}/placementStrategies/{id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{profileId}/placementStrategies/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "flatPath": "userprofiles/{profileId}/placementStrategies",
          "description": "Retrieves a list of placement strategies, possibly filtered. This method supports paging.",
          "response": {
            "$ref": "PlacementStrategiesListResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{profileId}/placementStrategies",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "searchString": {
              "location": "query",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"placementstrategy*2015\" will return objects with names like \"placementstrategy June 2015\", \"placementstrategy April 2015\", or simply \"placementstrategy 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"placementstrategy\" will match objects with name \"my placementstrategy\", \"placementstrategy 2015\", or simply \"placementstrategy\".",
              "type": "string"
            },
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "type": "string",
              "default": "ID",
              "location": "query",
              "description": "Field by which to sort the list."
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "required": true,
              "format": "int64"
            },
            "sortOrder": {
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "type": "string",
              "description": "Order of sorted results.",
              "location": "query"
            },
            "ids": {
              "description": "Select only placement strategies with these IDs.",
              "repeated": true,
              "format": "int64",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "default": "1000",
              "format": "int32",
              "minimum": "0",
              "maximum": "1000",
              "location": "query",
              "description": "Maximum number of results to return.",
              "type": "integer"
            }
          },
          "id": "dfareporting.placementStrategies.list"
        }
      }
    },
    "accountUserProfiles": {
      "methods": {
        "list": {
          "parameters": {
            "searchString": {
              "location": "query",
              "description": "Allows searching for objects by name, ID or email. Wildcards (*) are allowed. For example, \"user profile*2015\" will return objects with names like \"user profile June 2015\", \"user profile April 2015\", or simply \"user profile 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"user profile\" will match objects with name \"my user profile\", \"user profile 2015\", or simply \"user profile\".",
              "type": "string"
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "location": "query"
            },
            "ids": {
              "format": "int64",
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "Select only user profiles with these IDs."
            },
            "active": {
              "type": "boolean",
              "location": "query",
              "description": "Select only active user profiles."
            },
            "maxResults": {
              "default": "1000",
              "maximum": "1000",
              "type": "integer",
              "minimum": "0",
              "format": "int32",
              "location": "query",
              "description": "Maximum number of results to return."
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "sortField": {
              "type": "string",
              "default": "ID",
              "description": "Field by which to sort the list.",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "userRoleId": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "Select only user profiles with the specified user role ID."
            },
            "subaccountId": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "Select only user profiles with the specified subaccount ID."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{profileId}/accountUserProfiles",
          "path": "userprofiles/{profileId}/accountUserProfiles",
          "description": "Retrieves a list of account user profiles, possibly filtered. This method supports paging.",
          "response": {
            "$ref": "AccountUserProfilesListResponse"
          },
          "id": "dfareporting.accountUserProfiles.list",
          "httpMethod": "GET"
        },
        "get": {
          "httpMethod": "GET",
          "id": "dfareporting.accountUserProfiles.get",
          "path": "userprofiles/{profileId}/accountUserProfiles/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "description": "User profile ID.",
              "required": true,
              "format": "int64",
              "type": "string",
              "location": "path"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{profileId}/accountUserProfiles/{id}",
          "response": {
            "$ref": "AccountUserProfile"
          },
          "description": "Gets one account user profile by ID."
        },
        "insert": {
          "httpMethod": "POST",
          "id": "dfareporting.accountUserProfiles.insert",
          "request": {
            "$ref": "AccountUserProfile"
          },
          "parameters": {
            "profileId": {
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "AccountUserProfile"
          },
          "path": "userprofiles/{profileId}/accountUserProfiles",
          "flatPath": "userprofiles/{profileId}/accountUserProfiles",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Inserts a new account user profile."
        },
        "update": {
          "response": {
            "$ref": "AccountUserProfile"
          },
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          },
          "description": "Updates an existing account user profile.",
          "request": {
            "$ref": "AccountUserProfile"
          },
          "id": "dfareporting.accountUserProfiles.update",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{profileId}/accountUserProfiles",
          "path": "userprofiles/{profileId}/accountUserProfiles"
        },
        "patch": {
          "request": {
            "$ref": "AccountUserProfile"
          },
          "flatPath": "userprofiles/{profileId}/accountUserProfiles",
          "httpMethod": "PATCH",
          "path": "userprofiles/{profileId}/accountUserProfiles",
          "id": "dfareporting.accountUserProfiles.patch",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "AccountUserProfile"
          },
          "parameters": {
            "id": {
              "description": "AccountUserProfile ID.",
              "location": "query",
              "format": "int64",
              "required": true,
              "type": "string"
            },
            "profileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64"
            }
          },
          "description": "Updates an existing account user profile. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "accounts": {
      "methods": {
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Updates an existing account.",
          "path": "userprofiles/{profileId}/accounts",
          "response": {
            "$ref": "Account"
          },
          "request": {
            "$ref": "Account"
          },
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64"
            }
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.accounts.update",
          "flatPath": "userprofiles/{profileId}/accounts"
        },
        "patch": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "location": "query",
              "required": true,
              "type": "string",
              "description": "Account ID.",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "Account"
          },
          "description": "Updates an existing account. This method supports patch semantics.",
          "request": {
            "$ref": "Account"
          },
          "flatPath": "userprofiles/{profileId}/accounts",
          "httpMethod": "PATCH",
          "id": "dfareporting.accounts.patch",
          "path": "userprofiles/{profileId}/accounts"
        },
        "list": {
          "description": "Retrieves the list of accounts, possibly filtered. This method supports paging.",
          "id": "dfareporting.accounts.list",
          "flatPath": "userprofiles/{profileId}/accounts",
          "parameters": {
            "maxResults": {
              "format": "int32",
              "default": "1000",
              "type": "integer",
              "description": "Maximum number of results to return.",
              "minimum": "0",
              "location": "query",
              "maximum": "1000"
            },
            "ids": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "repeated": true,
              "description": "Select only accounts with these IDs."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "active": {
              "location": "query",
              "description": "Select only active accounts. Don't set this field to select both active and non-active accounts.",
              "type": "boolean"
            },
            "searchString": {
              "location": "query",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"account*2015\" will return objects with names like \"account June 2015\", \"account April 2015\", or simply \"account 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"account\" will match objects with name \"my account\", \"account 2015\", or simply \"account\".",
              "type": "string"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "location": "query"
            },
            "profileId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list.",
              "enum": [
                "ID",
                "NAME"
              ],
              "type": "string",
              "default": "ID",
              "location": "query"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{profileId}/accounts",
          "response": {
            "$ref": "AccountsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "description": "Gets one account by ID.",
          "parameters": {
            "id": {
              "description": "Account ID.",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64"
            },
            "profileId": {
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "GET",
          "flatPath": "userprofiles/{profileId}/accounts/{id}",
          "response": {
            "$ref": "Account"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{profileId}/accounts/{id}",
          "id": "dfareporting.accounts.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "creativeFieldValues": {
      "methods": {
        "list": {
          "id": "dfareporting.creativeFieldValues.list",
          "description": "Retrieves a list of creative field values, possibly filtered. This method supports paging.",
          "response": {
            "$ref": "CreativeFieldValuesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{profileId}/creativeFields/{creativeFieldId}/creativeFieldValues",
          "flatPath": "userprofiles/{profileId}/creativeFields/{creativeFieldId}/creativeFieldValues",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "creativeFieldId"
          ],
          "parameters": {
            "maxResults": {
              "description": "Maximum number of results to return.",
              "location": "query",
              "default": "1000",
              "minimum": "0",
              "format": "int32",
              "maximum": "1000",
              "type": "integer"
            },
            "creativeFieldId": {
              "format": "int64",
              "type": "string",
              "description": "Creative field ID for this creative field value.",
              "location": "path",
              "required": true
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "location": "query",
              "default": "ASCENDING",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "ids": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "repeated": true,
              "description": "Select only creative field values with these IDs."
            },
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "default": "ID",
              "description": "Field by which to sort the list.",
              "enum": [
                "ID",
                "VALUE"
              ],
              "type": "string"
            },
            "searchString": {
              "description": "Allows searching for creative field values by their values. Wildcards (e.g. *) are not allowed.",
              "type": "string",
              "location": "query"
            },
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        },
        "update": {
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.creativeFieldValues.update",
          "request": {
            "$ref": "CreativeFieldValue"
          },
          "path": "userprofiles/{profileId}/creativeFields/{creativeFieldId}/creativeFieldValues",
          "description": "Updates an existing creative field value.",
          "parameters": {
            "creativeFieldId": {
              "format": "int64",
              "description": "Creative field ID for this creative field value.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "profileId": {
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "flatPath": "userprofiles/{profileId}/creativeFields/{creativeFieldId}/creativeFieldValues",
          "parameterOrder": [
            "profileId",
            "creativeFieldId"
          ]
        },
        "delete": {
          "description": "Deletes an existing creative field value.",
          "parameterOrder": [
            "profileId",
            "creativeFieldId",
            "id"
          ],
          "path": "userprofiles/{profileId}/creativeFields/{creativeFieldId}/creativeFieldValues/{id}",
          "httpMethod": "DELETE",
          "id": "dfareporting.creativeFieldValues.delete",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{profileId}/creativeFields/{creativeFieldId}/creativeFieldValues/{id}",
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "description": "Creative Field Value ID",
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string"
            },
            "creativeFieldId": {
              "format": "int64",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Creative field ID for this creative field value."
            }
          }
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "creativeFieldId",
            "id"
          ],
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "id": "dfareporting.creativeFieldValues.get",
          "flatPath": "userprofiles/{profileId}/creativeFields/{creativeFieldId}/creativeFieldValues/{id}",
          "path": "userprofiles/{profileId}/creativeFields/{creativeFieldId}/creativeFieldValues/{id}",
          "description": "Gets one creative field value by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "Creative Field Value ID",
              "location": "path"
            },
            "creativeFieldId": {
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "Creative field ID for this creative field value."
            },
            "profileId": {
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string"
            }
          },
          "httpMethod": "GET"
        },
        "patch": {
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "parameterOrder": [
            "profileId",
            "creativeFieldId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{profileId}/creativeFields/{creativeFieldId}/creativeFieldValues",
          "id": "dfareporting.creativeFieldValues.patch",
          "description": "Updates an existing creative field value. This method supports patch semantics.",
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64",
              "type": "string"
            },
            "creativeFieldId": {
              "format": "int64",
              "description": "CreativeField ID.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "id": {
              "description": "CreativeFieldValue ID.",
              "format": "int64",
              "required": true,
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "CreativeFieldValue"
          },
          "httpMethod": "PATCH",
          "path": "userprofiles/{profileId}/creativeFields/{creativeFieldId}/creativeFieldValues"
        },
        "insert": {
          "path": "userprofiles/{profileId}/creativeFields/{creativeFieldId}/creativeFieldValues",
          "parameters": {
            "profileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request."
            },
            "creativeFieldId": {
              "format": "int64",
              "location": "path",
              "description": "Creative field ID for this creative field value.",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "profileId",
            "creativeFieldId"
          ],
          "request": {
            "$ref": "CreativeFieldValue"
          },
          "flatPath": "userprofiles/{profileId}/creativeFields/{creativeFieldId}/creativeFieldValues",
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "description": "Inserts a new creative field value.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.creativeFieldValues.insert"
        }
      }
    },
    "billingProfiles": {
      "methods": {
        "get": {
          "path": "userprofiles/{profileId}/billingProfiles/{id}",
          "description": "Gets one billing profile by ID.",
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            },
            "id": {
              "required": true,
              "description": "Billing Profile ID.",
              "type": "string",
              "format": "int64",
              "location": "path"
            }
          },
          "response": {
            "$ref": "BillingProfile"
          },
          "id": "dfareporting.billingProfiles.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{profileId}/billingProfiles/{id}",
          "httpMethod": "GET"
        },
        "list": {
          "id": "dfareporting.billingProfiles.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "BillingProfilesListResponse"
          },
          "path": "userprofiles/{profileId}/billingProfiles",
          "description": "Retrieves a list of billing profiles, possibly filtered. This method supports paging.",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "name": {
              "type": "string",
              "description": "Allows searching for billing profiles by name. Wildcards (*) are allowed. For example, \"profile*2020\" will return objects with names like \"profile June 2020\", \"profile April 2020\", or simply \"profile 2020\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"profile\" will match objects with name \"my profile\", \"profile 2021\", or simply \"profile\".",
              "location": "query"
            },
            "sortOrder": {
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "location": "query",
              "default": "ASCENDING",
              "description": "Order of sorted results."
            },
            "onlySuggestion": {
              "type": "boolean",
              "description": "Select only billing profile which is suggested for the currency_code & subaccount_id using the Billing Suggestion API.",
              "location": "query"
            },
            "sortField": {
              "type": "string",
              "description": "Field by which to sort the list.",
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID"
            },
            "ids": {
              "description": "Select only billing profile with these IDs.",
              "repeated": true,
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "status": {
              "repeated": true,
              "description": "Select only billing profile with the specified status.",
              "location": "query",
              "enumDescriptions": [
                "",
                "",
                ""
              ],
              "type": "string",
              "enum": [
                "UNDER_REVIEW",
                "ACTIVE",
                "ARCHIVED"
              ]
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "maximum": "1000",
              "minimum": "0",
              "format": "int32",
              "default": "1000",
              "description": "Maximum number of results to return."
            },
            "currency_code": {
              "type": "string",
              "location": "query",
              "description": "Select only billing profile with currency."
            },
            "subaccountIds": {
              "format": "int64",
              "description": "Select only billing profile with the specified subaccount.When only_suggestion is true, only a single subaccount_id is supported.",
              "type": "string",
              "repeated": true,
              "location": "query"
            }
          },
          "flatPath": "userprofiles/{profileId}/billingProfiles"
        },
        "update": {
          "request": {
            "$ref": "BillingProfile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.billingProfiles.update",
[...]
