{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "title": "Campaign Manager 360 API",
  "canonicalName": "Dfareporting",
  "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v4/",
  "revision": "20220920",
  "name": "dfareporting",
  "batchPath": "batch",
  "mtlsRootUrl": "https://dfareporting.mtls.googleapis.com/",
  "description": "Build applications to efficiently manage large or complex trafficking, reporting, and attribution workflows for Campaign Manager 360.",
  "id": "dfareporting:v4",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://developers.google.com/doubleclick-advertisers/",
  "rootUrl": "https://dfareporting.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "basePath": "/dfareporting/v4/",
  "resources": {
    "orderDocuments": {
      "methods": {
        "list": {
          "id": "dfareporting.orderDocuments.list",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID for order documents.",
              "format": "int64",
              "required": true,
              "type": "string"
            },
            "orderId": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "Select only order documents for specified orders.",
              "repeated": true
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "sortOrder": {
              "type": "string",
              "description": "Order of sorted results.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query"
            },
            "ids": {
              "description": "Select only order documents with these IDs.",
              "format": "int64",
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "approved": {
              "location": "query",
              "description": "Select only order documents that have been approved by at least one user.",
              "type": "boolean"
            },
            "siteId": {
              "repeated": true,
              "description": "Select only order documents that are associated with these sites.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "location": "query",
              "type": "integer",
              "format": "int32",
              "maximum": "1000",
              "minimum": "0",
              "default": "1000"
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "type": "string",
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "searchString": {
              "description": "Allows searching for order documents by name or ID. Wildcards (*) are allowed. For example, \"orderdocument*2015\" will return order documents with names like \"orderdocument June 2015\", \"orderdocument April 2015\", or simply \"orderdocument 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"orderdocument\" will match order documents with name \"my orderdocument\", \"orderdocument 2015\", or simply \"orderdocument\".",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "userprofiles/{profileId}/projects/{projectId}/orderDocuments",
          "response": {
            "$ref": "OrderDocumentsListResponse"
          },
          "httpMethod": "GET",
          "path": "userprofiles/{profileId}/projects/{projectId}/orderDocuments",
          "description": "Retrieves a list of order documents, possibly filtered. This method supports paging.",
          "parameterOrder": [
            "profileId",
            "projectId"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "description": "Gets one order document by ID.",
          "path": "userprofiles/{profileId}/projects/{projectId}/orderDocuments/{id}",
          "parameterOrder": [
            "profileId",
            "projectId",
            "id"
          ],
          "response": {
            "$ref": "OrderDocument"
          },
          "flatPath": "userprofiles/{profileId}/projects/{projectId}/orderDocuments/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.orderDocuments.get",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "type": "string",
              "required": true,
              "description": "Order document ID.",
              "format": "int64",
              "location": "path"
            },
            "projectId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "Project ID for order documents."
            }
          }
        }
      }
    },
    "placementStrategies": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "PlacementStrategy"
          },
          "flatPath": "userprofiles/{profileId}/placementStrategies",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "POST",
          "path": "userprofiles/{profileId}/placementStrategies",
          "description": "Inserts a new placement strategy.",
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path"
            }
          },
          "id": "dfareporting.placementStrategies.insert",
          "request": {
            "$ref": "PlacementStrategy"
          }
        },
        "list": {
          "flatPath": "userprofiles/{profileId}/placementStrategies",
          "path": "userprofiles/{profileId}/placementStrategies",
          "parameters": {
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "searchString": {
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"placementstrategy*2015\" will return objects with names like \"placementstrategy June 2015\", \"placementstrategy April 2015\", or simply \"placementstrategy 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"placementstrategy\" will match objects with name \"my placementstrategy\", \"placementstrategy 2015\", or simply \"placementstrategy\".",
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "format": "int32",
              "type": "integer",
              "maximum": "1000",
              "location": "query",
              "default": "1000",
              "minimum": "0"
            },
            "ids": {
              "format": "int64",
              "description": "Select only placement strategies with these IDs.",
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query"
            },
            "profileId": {
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request."
            },
            "sortOrder": {
              "location": "query",
              "default": "ASCENDING",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Order of sorted results."
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of placement strategies, possibly filtered. This method supports paging.",
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.placementStrategies.list",
          "response": {
            "$ref": "PlacementStrategiesListResponse"
          }
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PUT",
          "flatPath": "userprofiles/{profileId}/placementStrategies",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "path": "userprofiles/{profileId}/placementStrategies",
          "response": {
            "$ref": "PlacementStrategy"
          },
          "request": {
            "$ref": "PlacementStrategy"
          },
          "parameterOrder": [
            "profileId"
          ],
          "description": "Updates an existing placement strategy.",
          "id": "dfareporting.placementStrategies.update"
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH",
          "flatPath": "userprofiles/{profileId}/placementStrategies",
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "description": "PlacementStrategy ID.",
              "required": true,
              "location": "query",
              "format": "int64",
              "type": "string"
            }
          },
          "request": {
            "$ref": "PlacementStrategy"
          },
          "path": "userprofiles/{profileId}/placementStrategies",
          "id": "dfareporting.placementStrategies.patch",
          "description": "Updates an existing placement strategy. This method supports patch semantics.",
          "response": {
            "$ref": "PlacementStrategy"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "get": {
          "response": {
            "$ref": "PlacementStrategy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "location": "path",
              "required": true,
              "description": "Placement strategy ID.",
              "type": "string",
              "format": "int64"
            },
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64",
              "location": "path"
            }
          },
          "flatPath": "userprofiles/{profileId}/placementStrategies/{id}",
          "httpMethod": "GET",
          "description": "Gets one placement strategy by ID.",
          "path": "userprofiles/{profileId}/placementStrategies/{id}",
          "id": "dfareporting.placementStrategies.get",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "delete": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.placementStrategies.delete",
          "description": "Deletes an existing placement strategy.",
          "path": "userprofiles/{profileId}/placementStrategies/{id}",
          "flatPath": "userprofiles/{profileId}/placementStrategies/{id}",
          "parameters": {
            "id": {
              "required": true,
              "format": "int64",
              "type": "string",
              "location": "path",
              "description": "Placement strategy ID."
            },
            "profileId": {
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true
            }
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "countries": {
      "methods": {
        "get": {
          "flatPath": "userprofiles/{profileId}/countries/{dartId}",
          "httpMethod": "GET",
          "parameters": {
            "dartId": {
              "description": "Country DART ID.",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "description": "Gets one country by ID.",
          "id": "dfareporting.countries.get",
          "path": "userprofiles/{profileId}/countries/{dartId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "Country"
          },
          "parameterOrder": [
            "profileId",
            "dartId"
          ]
        },
        "list": {
          "path": "userprofiles/{profileId}/countries",
          "response": {
            "$ref": "CountriesListResponse"
          },
          "id": "dfareporting.countries.list",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{profileId}/countries",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of countries.",
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request."
            }
          }
        }
      }
    },
    "postalCodes": {
      "methods": {
        "list": {
          "path": "userprofiles/{profileId}/postalCodes",
          "description": "Retrieves a list of postal codes.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "flatPath": "userprofiles/{profileId}/postalCodes",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "PostalCodesListResponse"
          },
          "id": "dfareporting.postalCodes.list",
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "format": "int64"
            }
          }
        },
        "get": {
          "description": "Gets one postal code by ID.",
          "httpMethod": "GET",
          "id": "dfareporting.postalCodes.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "code"
          ],
          "flatPath": "userprofiles/{profileId}/postalCodes/{code}",
          "parameters": {
            "profileId": {
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path"
            },
            "code": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Postal code ID."
            }
          },
          "path": "userprofiles/{profileId}/postalCodes/{code}",
          "response": {
            "$ref": "PostalCode"
          }
        }
      }
    },
    "regions": {
      "methods": {
        "list": {
          "flatPath": "userprofiles/{profileId}/regions",
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "description": "Retrieves a list of regions.",
          "response": {
            "$ref": "RegionsListResponse"
          },
          "path": "userprofiles/{profileId}/regions",
          "id": "dfareporting.regions.list",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "videoFormats": {
      "methods": {
        "list": {
          "path": "userprofiles/{profileId}/videoFormats",
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true
            }
          },
          "response": {
            "$ref": "VideoFormatsListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "description": "Lists available video formats.",
          "flatPath": "userprofiles/{profileId}/videoFormats",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.videoFormats.list"
        },
        "get": {
          "flatPath": "userprofiles/{profileId}/videoFormats/{id}",
          "id": "dfareporting.videoFormats.get",
          "path": "userprofiles/{profileId}/videoFormats/{id}",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "id": {
              "required": true,
              "location": "path",
              "format": "int32",
              "description": "Video format ID.",
              "type": "integer"
            }
          },
          "response": {
            "$ref": "VideoFormat"
          },
          "description": "Gets one video format by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "userProfiles": {
      "methods": {
        "list": {
          "id": "dfareporting.userProfiles.list",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/ddmconversions",
            "https://www.googleapis.com/auth/dfareporting",
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles",
          "path": "userprofiles",
          "response": {
            "$ref": "UserProfileList"
          },
          "httpMethod": "GET",
          "description": "Retrieves list of user profiles for a user.",
          "parameterOrder": []
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/ddmconversions",
            "https://www.googleapis.com/auth/dfareporting",
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "The user profile ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "userprofiles/{profileId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.userProfiles.get",
          "response": {
            "$ref": "UserProfile"
          },
          "description": "Gets one user profile by ID.",
          "path": "userprofiles/{profileId}"
        }
      }
    },
    "accountPermissionGroups": {
      "methods": {
        "list": {
          "id": "dfareporting.accountPermissionGroups.list",
          "response": {
            "$ref": "AccountPermissionGroupsListResponse"
          },
          "httpMethod": "GET",
          "flatPath": "userprofiles/{profileId}/accountPermissionGroups",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "format": "int64",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{profileId}/accountPermissionGroups",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves the list of account permission groups."
        },
        "get": {
          "response": {
            "$ref": "AccountPermissionGroup"
          },
          "path": "userprofiles/{profileId}/accountPermissionGroups/{id}",
          "description": "Gets one account permission group by ID.",
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "format": "int64",
              "location": "path",
              "description": "Account permission group ID."
            },
            "profileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.accountPermissionGroups.get",
          "httpMethod": "GET",
          "flatPath": "userprofiles/{profileId}/accountPermissionGroups/{id}"
        }
      }
    },
    "floodlightActivityGroups": {
      "methods": {
        "get": {
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string"
            },
            "id": {
              "format": "int64",
              "type": "string",
              "description": "Floodlight activity Group ID.",
              "location": "path",
              "required": true
            }
          },
          "path": "userprofiles/{profileId}/floodlightActivityGroups/{id}",
          "id": "dfareporting.floodlightActivityGroups.get",
          "description": "Gets one floodlight activity group by ID.",
          "flatPath": "userprofiles/{profileId}/floodlightActivityGroups/{id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "httpMethod": "GET"
        },
        "patch": {
          "httpMethod": "PATCH",
          "path": "userprofiles/{profileId}/floodlightActivityGroups",
          "description": "Updates an existing floodlight activity group. This method supports patch semantics.",
          "flatPath": "userprofiles/{profileId}/floodlightActivityGroups",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "request": {
            "$ref": "FloodlightActivityGroup"
          },
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "id": "dfareporting.floodlightActivityGroups.patch",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "required": true,
              "description": "FloodlightActivityGroup ID.",
              "format": "int64",
              "type": "string",
              "location": "query"
            },
            "profileId": {
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true
            }
          }
        },
        "insert": {
          "request": {
            "$ref": "FloodlightActivityGroup"
          },
          "flatPath": "userprofiles/{profileId}/floodlightActivityGroups",
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{profileId}/floodlightActivityGroups",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "description": "Inserts a new floodlight activity group.",
          "id": "dfareporting.floodlightActivityGroups.insert"
        },
        "list": {
          "path": "userprofiles/{profileId}/floodlightActivityGroups",
          "httpMethod": "GET",
          "response": {
            "$ref": "FloodlightActivityGroupsListResponse"
          },
          "parameters": {
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "maximum": "1000",
              "description": "Maximum number of results to return.",
              "minimum": "0",
              "format": "int32",
              "default": "1000",
              "location": "query"
            },
            "profileId": {
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path"
            },
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "type": "string",
              "default": "ID",
              "location": "query",
              "description": "Field by which to sort the list."
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"floodlightactivitygroup*2015\" will return objects with names like \"floodlightactivitygroup June 2015\", \"floodlightactivitygroup April 2015\", or simply \"floodlightactivitygroup 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"floodlightactivitygroup\" will match objects with name \"my floodlightactivitygroup activity\", \"floodlightactivitygroup 2015\", or simply \"floodlightactivitygroup\".",
              "location": "query",
              "type": "string"
            },
            "advertiserId": {
              "format": "int64",
              "description": "Select only floodlight activity groups with the specified advertiser ID. Must specify either advertiserId or floodlightConfigurationId for a non-empty result.",
              "location": "query",
              "type": "string"
            },
            "floodlightConfigurationId": {
              "location": "query",
              "format": "int64",
              "description": "Select only floodlight activity groups with the specified floodlight configuration ID. Must specify either advertiserId, or floodlightConfigurationId for a non-empty result.",
              "type": "string"
            },
            "type": {
              "enum": [
                "COUNTER",
                "SALE"
              ],
              "type": "string",
              "location": "query",
              "description": "Select only floodlight activity groups with the specified floodlight activity group type.",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "ids": {
              "description": "Select only floodlight activity groups with the specified IDs. Must specify either advertiserId or floodlightConfigurationId for a non-empty result.",
              "type": "string",
              "location": "query",
              "format": "int64",
              "repeated": true
            },
            "sortOrder": {
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "description": "Order of sorted results.",
              "location": "query"
            }
          },
          "description": "Retrieves a list of floodlight activity groups, possibly filtered. This method supports paging.",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{profileId}/floodlightActivityGroups",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.floodlightActivityGroups.list"
        },
        "update": {
          "flatPath": "userprofiles/{profileId}/floodlightActivityGroups",
          "path": "userprofiles/{profileId}/floodlightActivityGroups",
          "httpMethod": "PUT",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "id": "dfareporting.floodlightActivityGroups.update",
          "description": "Updates an existing floodlight activity group.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string"
            }
          },
          "request": {
            "$ref": "FloodlightActivityGroup"
          }
        }
      }
    },
    "userRolePermissions": {
      "methods": {
        "get": {
          "id": "dfareporting.userRolePermissions.get",
          "flatPath": "userprofiles/{profileId}/userRolePermissions/{id}",
          "httpMethod": "GET",
          "path": "userprofiles/{profileId}/userRolePermissions/{id}",
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "location": "path",
              "description": "User role permission ID.",
              "required": true,
              "format": "int64",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one user role permission by ID.",
          "response": {
            "$ref": "UserRolePermission"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{profileId}/userRolePermissions",
          "id": "dfareporting.userRolePermissions.list",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "ids": {
              "location": "query",
              "format": "int64",
              "description": "Select only user role permissions with these IDs.",
              "type": "string",
              "repeated": true
            }
          },
          "description": "Gets a list of user role permissions, possibly filtered.",
          "response": {
            "$ref": "UserRolePermissionsListResponse"
          },
          "httpMethod": "GET",
          "flatPath": "userprofiles/{profileId}/userRolePermissions"
        }
      }
    },
    "files": {
      "methods": {
        "list": {
          "response": {
            "$ref": "FileList"
          },
          "flatPath": "userprofiles/{profileId}/files",
          "httpMethod": "GET",
          "description": "Lists files for a user profile.",
          "path": "userprofiles/{profileId}/files",
          "id": "dfareporting.files.list",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The value of the nextToken from the previous result page.",
              "location": "query"
            },
            "profileId": {
              "format": "int64",
              "type": "string",
              "description": "The Campaign Manager 360 user profile ID.",
              "location": "path",
              "required": true
            },
            "maxResults": {
              "default": "10",
              "type": "integer",
              "format": "int32",
              "maximum": "10",
              "minimum": "0",
              "description": "Maximum number of results to return.",
              "location": "query"
            },
            "sortField": {
              "description": "The field by which to sort the list.",
              "enumDescriptions": [
                "Sort by file ID.",
                "Sort by 'lastmodifiedAt' field."
              ],
              "location": "query",
              "default": "LAST_MODIFIED_TIME",
              "type": "string",
              "enum": [
                "ID",
                "LAST_MODIFIED_TIME"
              ]
            },
            "sortOrder": {
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query",
              "description": "Order of sorted results.",
              "default": "DESCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            },
            "scope": {
              "enum": [
                "ALL",
                "MINE",
                "SHARED_WITH_ME"
              ],
              "description": "The scope that defines which results are returned.",
              "location": "query",
              "default": "MINE",
              "enumDescriptions": [
                "All files in account.",
                "My files.",
                "Files shared with me."
              ],
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ]
        },
        "get": {
          "response": {
            "$ref": "File"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "parameterOrder": [
            "reportId",
            "fileId"
          ],
          "parameters": {
            "reportId": {
              "format": "int64",
              "location": "path",
              "description": "The ID of the report.",
              "type": "string",
              "required": true
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the report file.",
              "format": "int64"
            }
          },
          "supportsMediaDownload": true,
          "flatPath": "reports/{reportId}/files/{fileId}",
          "path": "reports/{reportId}/files/{fileId}",
          "id": "dfareporting.files.get",
          "httpMethod": "GET",
          "description": "Retrieves a report file by its report ID and file ID. This method supports media download."
        }
      }
    },
    "connectionTypes": {
      "methods": {
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{profileId}/connectionTypes/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one connection type by ID.",
          "parameters": {
            "profileId": {
              "format": "int64",
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "id": {
              "type": "string",
              "description": "Connection type ID.",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          },
          "flatPath": "userprofiles/{profileId}/connectionTypes/{id}",
          "id": "dfareporting.connectionTypes.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "ConnectionType"
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.connectionTypes.list",
          "httpMethod": "GET",
          "path": "userprofiles/{profileId}/connectionTypes",
          "response": {
            "$ref": "ConnectionTypesListResponse"
          },
          "flatPath": "userprofiles/{profileId}/connectionTypes",
          "description": "Retrieves a list of connection types.",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "required": true,
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId"
          ]
        }
      }
    },
    "userRoles": {
      "methods": {
        "update": {
          "description": "Updates an existing user role.",
          "httpMethod": "PUT",
          "flatPath": "userprofiles/{profileId}/userRoles",
          "path": "userprofiles/{profileId}/userRoles",
          "response": {
            "$ref": "UserRole"
          },
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "dfareporting.userRoles.update",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "UserRole"
          },
          "parameterOrder": [
            "profileId"
          ]
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{profileId}/userRoles",
          "response": {
            "$ref": "UserRole"
          },
          "httpMethod": "PATCH",
          "request": {
            "$ref": "UserRole"
          },
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "description": "UserRole ID.",
              "type": "string",
              "format": "int64",
              "required": true,
              "location": "query"
            }
          },
          "path": "userprofiles/{profileId}/userRoles",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Updates an existing user role. This method supports patch semantics.",
          "id": "dfareporting.userRoles.patch"
        },
        "insert": {
          "id": "dfareporting.userRoles.insert",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "flatPath": "userprofiles/{profileId}/userRoles",
          "request": {
            "$ref": "UserRole"
          },
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{profileId}/userRoles",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "description": "Inserts a new user role.",
          "response": {
            "$ref": "UserRole"
          }
        },
        "list": {
          "response": {
            "$ref": "UserRolesListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "flatPath": "userprofiles/{profileId}/userRoles",
          "path": "userprofiles/{profileId}/userRoles",
          "id": "dfareporting.userRoles.list",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string"
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query"
            },
            "maxResults": {
              "minimum": "0",
              "type": "integer",
              "maximum": "1000",
              "default": "1000",
              "location": "query",
              "description": "Maximum number of results to return.",
              "format": "int32"
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "enum": [
                "ID",
                "NAME"
              ],
              "type": "string",
              "default": "ID",
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query"
            },
            "subaccountId": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "Select only user roles that belong to this subaccount."
            },
            "accountUserRoleOnly": {
              "location": "query",
              "type": "boolean",
              "description": "Select only account level user roles not associated with any specific subaccount."
            },
            "ids": {
              "description": "Select only user roles with the specified IDs.",
              "format": "int64",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "searchString": {
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"userrole*2015\" will return objects with names like \"userrole June 2015\", \"userrole April 2015\", or simply \"userrole 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"userrole\" will match objects with name \"my userrole\", \"userrole 2015\", or simply \"userrole\".",
              "location": "query"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string"
            }
          },
          "description": "Retrieves a list of user roles, possibly filtered. This method supports paging."
        },
        "get": {
          "id": "dfareporting.userRoles.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64"
            },
            "id": {
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64",
              "description": "User role ID."
            }
          },
          "description": "Gets one user role by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{profileId}/userRoles/{id}",
          "path": "userprofiles/{profileId}/userRoles/{id}",
          "httpMethod": "GET",
          "response": {
            "$ref": "UserRole"
          }
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{profileId}/userRoles/{id}",
          "description": "Deletes an existing user role.",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.userRoles.delete",
          "parameters": {
            "id": {
              "required": true,
              "description": "User role ID.",
              "type": "string",
              "format": "int64",
              "location": "path"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "flatPath": "userprofiles/{profileId}/userRoles/{id}"
        }
      }
    },
    "eventTags": {
      "methods": {
        "patch": {
          "request": {
            "$ref": "EventTag"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.eventTags.patch",
          "flatPath": "userprofiles/{profileId}/eventTags",
          "httpMethod": "PATCH",
          "path": "userprofiles/{profileId}/eventTags",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "location": "path"
            },
            "id": {
              "location": "query",
              "type": "string",
              "description": "EventTag ID.",
              "format": "int64",
              "required": true
            }
          },
          "response": {
            "$ref": "EventTag"
          },
          "description": "Updates an existing event tag. This method supports patch semantics."
        },
        "insert": {
          "request": {
            "$ref": "EventTag"
          },
          "flatPath": "userprofiles/{profileId}/eventTags",
          "response": {
            "$ref": "EventTag"
          },
          "id": "dfareporting.eventTags.insert",
          "parameters": {
            "profileId": {
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true
            }
          },
          "path": "userprofiles/{profileId}/eventTags",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "description": "Inserts a new event tag."
        },
        "update": {
          "description": "Updates an existing event tag.",
          "response": {
            "$ref": "EventTag"
          },
          "id": "dfareporting.eventTags.update",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{profileId}/eventTags",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "EventTag"
          },
          "path": "userprofiles/{profileId}/eventTags",
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "PUT"
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "eventTagTypes": {
              "description": "Select only event tags with the specified event tag types. Event tag types can be used to specify whether to use a third-party pixel, a third-party JavaScript URL, or a third-party click-through URL for either impression or click tracking.",
              "enumDescriptions": [
                "",
                "",
                ""
              ],
              "repeated": true,
              "enum": [
                "IMPRESSION_IMAGE_EVENT_TAG",
                "IMPRESSION_JAVASCRIPT_EVENT_TAG",
                "CLICK_THROUGH_EVENT_TAG"
              ],
              "location": "query",
              "type": "string"
            },
            "definitionsOnly": {
              "location": "query",
              "description": "Examine only the specified campaign or advertiser's event tags for matching selector criteria. When set to false, the parent advertiser and parent campaign of the specified ad or campaign is examined as well. In addition, when set to false, the status field is examined as well, along with the enabledByDefault field. This parameter can not be set to true when adId is specified as ads do not define their own even tags.",
              "type": "boolean"
            },
            "campaignId": {
              "description": "Select only event tags that belong to this campaign.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "adId": {
              "location": "query",
              "type": "string",
              "description": "Select only event tags that belong to this ad.",
              "format": "int64"
            },
            "enabled": {
              "location": "query",
              "type": "boolean",
              "description": "Select only enabled event tags. What is considered enabled or disabled depends on the definitionsOnly parameter. When definitionsOnly is set to true, only the specified advertiser or campaign's event tags' enabledByDefault field is examined. When definitionsOnly is set to false, the specified ad or specified campaign's parent advertiser's or parent campaign's event tags' enabledByDefault and status fields are examined as well."
            },
            "profileId": {
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request."
            },
            "searchString": {
              "location": "query",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"eventtag*2015\" will return objects with names like \"eventtag June 2015\", \"eventtag April 2015\", or simply \"eventtag 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"eventtag\" will match objects with name \"my eventtag\", \"eventtag 2015\", or simply \"eventtag\".",
              "type": "string"
            },
            "advertiserId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Select only event tags that belong to this advertiser."
            },
            "ids": {
              "type": "string",
              "location": "query",
              "description": "Select only event tags with these IDs.",
              "repeated": true,
              "format": "int64"
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "sortOrder": {
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "type": "string",
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "EventTagsListResponse"
          },
          "description": "Retrieves a list of event tags, possibly filtered.",
          "httpMethod": "GET",
          "flatPath": "userprofiles/{profileId}/eventTags",
          "id": "dfareporting.eventTags.list",
          "path": "userprofiles/{profileId}/eventTags"
        },
        "delete": {
          "id": "dfareporting.eventTags.delete",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{profileId}/eventTags/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{profileId}/eventTags/{id}",
          "description": "Deletes an existing event tag.",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "location": "path",
              "required": true,
              "description": "Event tag ID.",
              "type": "string",
              "format": "int64"
            }
          },
          "httpMethod": "DELETE"
        },
        "get": {
          "description": "Gets one event tag by ID.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{profileId}/eventTags/{id}",
          "id": "dfareporting.eventTags.get",
          "path": "userprofiles/{profileId}/eventTags/{id}",
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "id": {
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "Event tag ID."
            }
          },
          "response": {
            "$ref": "EventTag"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ]
        }
      }
    },
    "operatingSystemVersions": {
      "methods": {
        "get": {
          "path": "userprofiles/{profileId}/operatingSystemVersions/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{profileId}/operatingSystemVersions/{id}",
          "httpMethod": "GET",
          "description": "Gets one operating system version by ID.",
          "response": {
            "$ref": "OperatingSystemVersion"
          },
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "id": {
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "Operating system version ID."
            }
          },
          "id": "dfareporting.operatingSystemVersions.get"
        },
        "list": {
          "response": {
            "$ref": "OperatingSystemVersionsListResponse"
          },
          "description": "Retrieves a list of operating system versions.",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string"
            }
          },
          "flatPath": "userprofiles/{profileId}/operatingSystemVersions",
          "path": "userprofiles/{profileId}/operatingSystemVersions",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.operatingSystemVersions.list"
        }
      }
    },
    "accountActiveAdSummaries": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets the account's active ad summary by account ID.",
          "flatPath": "userprofiles/{profileId}/accountActiveAdSummaries/{summaryAccountId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "AccountActiveAdSummary"
          },
          "path": "userprofiles/{profileId}/accountActiveAdSummaries/{summaryAccountId}",
          "parameterOrder": [
            "profileId",
            "summaryAccountId"
          ],
          "id": "dfareporting.accountActiveAdSummaries.get",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "format": "int64"
            },
            "summaryAccountId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "Account ID.",
              "location": "path"
            }
          }
        }
      }
    },
    "billingRates": {
      "methods": {
        "list": {
          "flatPath": "userprofiles/{profileId}/billingProfiles/{billingProfileId}/billingRates",
          "response": {
            "$ref": "BillingRatesListResponse"
          },
          "parameterOrder": [
            "profileId",
            "billingProfileId"
          ],
          "id": "dfareporting.billingRates.list",
          "path": "userprofiles/{profileId}/billingProfiles/{billingProfileId}/billingRates",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of billing rates. This method supports paging.",
          "parameters": {
            "billingProfileId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Billing profile ID of this billing rate."
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          }
        }
      }
    },
    "dimensionValues": {
      "methods": {
        "query": {
          "id": "dfareporting.dimensionValues.query",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{profileId}/dimensionvalues/query",
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "flatPath": "userprofiles/{profileId}/dimensionvalues/query",
          "response": {
            "$ref": "DimensionValueList"
          },
          "description": "Retrieves list of report dimension values for a list of filters.",
          "request": {
            "$ref": "DimensionValueRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "minimum": "0",
              "format": "int32",
              "location": "query",
              "maximum": "100",
              "default": "100",
              "description": "Maximum number of results to return."
            },
            "profileId": {
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "The Campaign Manager 360 user profile ID."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The value of the nextToken from the previous result page."
            }
          }
        }
      }
    },
    "sites": {
      "methods": {
        "list": {
          "flatPath": "userprofiles/{profileId}/sites",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "SitesListResponse"
          },
          "description": "Retrieves a list of sites, possibly filtered. This method supports paging.",
          "id": "dfareporting.sites.list",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{profileId}/sites",
          "parameters": {
            "sortOrder": {
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "ids": {
              "description": "Select only sites with these IDs.",
              "format": "int64",
              "type": "string",
              "location": "query",
              "repeated": true
            },
            "searchString": {
              "description": "Allows searching for objects by name, ID or keyName. Wildcards (*) are allowed. For example, \"site*2015\" will return objects with names like \"site June 2015\", \"site April 2015\", or simply \"site 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"site\" will match objects with name \"my site\", \"site 2015\", or simply \"site\".",
              "type": "string",
              "location": "query"
            },
            "adWordsSite": {
              "location": "query",
              "type": "boolean",
              "description": "Select only AdWords sites."
            },
            "directorySiteIds": {
              "description": "Select only sites with these directory site IDs.",
              "repeated": true,
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "unmappedSite": {
              "description": "Select only sites that have not been mapped to a directory site.",
              "type": "boolean",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "subaccountId": {
              "description": "Select only sites with this subaccount ID.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "maxResults": {
              "minimum": "0",
              "type": "integer",
              "default": "1000",
              "description": "Maximum number of results to return.",
              "format": "int32",
              "location": "query",
              "maximum": "1000"
            },
            "acceptsPublisherPaidPlacements": {
              "location": "query",
              "type": "boolean",
              "description": "Select only sites that accept publisher paid placements."
            },
            "campaignIds": {
              "type": "string",
              "repeated": true,
              "description": "Select only sites with these campaign IDs.",
              "location": "query",
              "format": "int64"
            },
            "acceptsInterstitialPlacements": {
              "type": "boolean",
              "location": "query",
              "description": "This search filter is no longer supported and will have no effect on the results returned."
            },
            "acceptsInStreamVideoPlacements": {
              "type": "boolean",
              "description": "This search filter is no longer supported and will have no effect on the results returned.",
              "location": "query"
            },
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string"
            },
            "approved": {
              "type": "boolean",
              "description": "Select only approved sites.",
              "location": "query"
            }
          }
        },
        "update": {
          "request": {
            "$ref": "Site"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Updates an existing site.",
          "id": "dfareporting.sites.update",
          "httpMethod": "PUT",
          "path": "userprofiles/{profileId}/sites",
          "flatPath": "userprofiles/{profileId}/sites",
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "Site"
          },
          "parameterOrder": [
            "profileId"
          ]
        },
        "get": {
          "flatPath": "userprofiles/{profileId}/sites/{id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Gets one site by ID.",
          "id": "dfareporting.sites.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "Site ID."
            },
            "profileId": {
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path"
            }
          },
          "path": "userprofiles/{profileId}/sites/{id}",
          "response": {
            "$ref": "Site"
          }
        },
        "insert": {
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "Site"
          },
          "response": {
            "$ref": "Site"
          },
          "path": "userprofiles/{profileId}/sites",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{profileId}/sites",
          "id": "dfareporting.sites.insert",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Inserts a new site."
        },
        "patch": {
          "response": {
            "$ref": "Site"
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{profileId}/sites",
          "id": "dfareporting.sites.patch",
          "request": {
            "$ref": "Site"
          },
          "description": "Updates an existing site. This method supports patch semantics.",
          "flatPath": "userprofiles/{profileId}/sites",
          "parameters": {
            "id": {
              "description": "Site ID.",
              "type": "string",
              "format": "int64",
              "location": "query",
              "required": true
            },
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "type": "string",
              "required": true
            }
          }
        }
      }
    },
    "remarketingLists": {
      "methods": {
        "patch": {
          "request": {
            "$ref": "RemarketingList"
          },
          "response": {
            "$ref": "RemarketingList"
          },
          "description": "Updates an existing remarketing list. This method supports patch semantics.",
          "id": "dfareporting.remarketingLists.patch",
          "httpMethod": "PATCH",
          "flatPath": "userprofiles/{profileId}/remarketingLists",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{profileId}/remarketingLists",
          "parameters": {
            "id": {
              "required": true,
              "format": "int64",
              "type": "string",
              "description": "RemarketingList ID.",
              "location": "query"
            },
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "get": {
          "flatPath": "userprofiles/{profileId}/remarketingLists/{id}",
          "response": {
            "$ref": "RemarketingList"
          },
          "description": "Gets one remarketing list by ID.",
          "id": "dfareporting.remarketingLists.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "description": "Remarketing list ID.",
              "type": "string",
              "format": "int64",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "path": "userprofiles/{profileId}/remarketingLists/{id}"
        },
        "insert": {
          "httpMethod": "POST",
          "path": "userprofiles/{profileId}/remarketingLists",
          "response": {
            "$ref": "RemarketingList"
          },
          "flatPath": "userprofiles/{profileId}/remarketingLists",
          "request": {
            "$ref": "RemarketingList"
          },
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.remarketingLists.insert",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "description": "Inserts a new remarketing list.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "update": {
          "path": "userprofiles/{profileId}/remarketingLists",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "RemarketingList"
          },
          "description": "Updates an existing remarketing list.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "RemarketingList"
          },
          "flatPath": "userprofiles/{profileId}/remarketingLists",
          "id": "dfareporting.remarketingLists.update",
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true
            }
          }
        },
        "list": {
          "response": {
            "$ref": "RemarketingListsListResponse"
          },
          "description": "Retrieves a list of remarketing lists, possibly filtered. This method supports paging.",
          "flatPath": "userprofiles/{profileId}/remarketingLists",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "floodlightActivityId": {
              "format": "int64",
              "type": "string",
              "description": "Select only remarketing lists that have this floodlight activity ID.",
              "location": "query"
            },
            "active": {
              "location": "query",
              "type": "boolean",
              "description": "Select only active or only inactive remarketing lists."
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "minimum": "0",
              "maximum": "1000",
              "location": "query",
              "description": "Maximum number of results to return.",
              "default": "1000"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "default": "ASCENDING"
            },
            "advertiserId": {
              "location": "query",
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "Select only remarketing lists owned by this advertiser."
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "format": "int64",
              "location": "path"
            },
            "name": {
              "location": "query",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"remarketing list*2015\" will return objects with names like \"remarketing list June 2015\", \"remarketing list April 2015\", or simply \"remarketing list 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"remarketing list\" will match objects with name \"my remarketing list\", \"remarketing list 2015\", or simply \"remarketing list\".",
              "type": "string"
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "enum": [
                "ID",
                "NAME"
              ],
              "type": "string",
              "default": "ID",
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query"
            }
          },
          "path": "userprofiles/{profileId}/remarketingLists",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "id": "dfareporting.remarketingLists.list"
        }
      }
    },
    "projects": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "description": "Retrieves a list of projects, possibly filtered. This method supports paging .",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "ProjectsListResponse"
          },
          "parameters": {
            "ids": {
              "location": "query",
              "format": "int64",
              "repeated": true,
              "description": "Select only projects with these IDs.",
              "type": "string"
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "default": "ASCENDING",
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query"
            },
            "advertiserIds": {
              "repeated": true,
              "description": "Select only projects with these advertiser IDs.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "location": "path"
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "searchString": {
              "type": "string",
              "location": "query",
              "description": "Allows searching for projects by name or ID. Wildcards (*) are allowed. For example, \"project*2015\" will return projects with names like \"project June 2015\", \"project April 2015\", or simply \"project 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"project\" will match projects with name \"my project\", \"project 2015\", or simply \"project\"."
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of results to return.",
              "format": "int32",
              "type": "integer",
              "maximum": "1000",
              "default": "1000",
              "minimum": "0"
            }
          },
          "flatPath": "userprofiles/{profileId}/projects",
          "path": "userprofiles/{profileId}/projects",
          "id": "dfareporting.projects.list"
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{profileId}/projects/{id}",
          "httpMethod": "GET",
          "path": "userprofiles/{profileId}/projects/{id}",
          "parameters": {
            "id": {
              "description": "Project ID.",
              "type": "string",
              "required": true,
              "format": "int64",
              "location": "path"
            },
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "Project"
          },
          "description": "Gets one project by ID.",
          "id": "dfareporting.projects.get"
        }
      }
    },
    "userRolePermissionGroups": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{profileId}/userRolePermissionGroups",
          "httpMethod": "GET",
          "description": "Gets a list of all supported user role permission groups.",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "UserRolePermissionGroupsListResponse"
          },
          "id": "dfareporting.userRolePermissionGroups.list",
          "parameters": {
            "profileId": {
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request."
            }
          },
          "path": "userprofiles/{profileId}/userRolePermissionGroups"
        },
        "get": {
          "httpMethod": "GET",
          "description": "Gets one user role permission group by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{profileId}/userRolePermissionGroups/{id}",
          "response": {
            "$ref": "UserRolePermissionGroup"
          },
          "id": "dfareporting.userRolePermissionGroups.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "type": "string"
            },
            "id": {
              "required": true,
              "format": "int64",
              "location": "path",
              "type": "string",
              "description": "User role permission group ID."
            }
          },
          "flatPath": "userprofiles/{profileId}/userRolePermissionGroups/{id}"
        }
      }
    },
    "browsers": {
      "methods": {
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves a list of browsers.",
          "id": "dfareporting.browsers.list",
          "flatPath": "userprofiles/{profileId}/browsers",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "BrowsersListResponse"
          },
          "httpMethod": "GET",
          "path": "userprofiles/{profileId}/browsers"
        }
      }
    },
    "floodlightConfigurations": {
      "methods": {
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves a list of floodlight configurations, possibly filtered.",
          "id": "dfareporting.floodlightConfigurations.list",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "ids": {
              "type": "string",
              "format": "int64",
              "description": "Set of IDs of floodlight configurations to retrieve. Required field; otherwise an empty list will be returned.",
              "repeated": true,
              "location": "query"
            },
            "profileId": {
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path"
            }
          },
          "flatPath": "userprofiles/{profileId}/floodlightConfigurations",
          "path": "userprofiles/{profileId}/floodlightConfigurations",
          "httpMethod": "GET",
          "response": {
            "$ref": "FloodlightConfigurationsListResponse"
          }
        },
        "get": {
          "parameters": {
            "profileId": {
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true
            },
            "id": {
              "description": "Floodlight configuration ID.",
              "required": true,
              "format": "int64",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{profileId}/floodlightConfigurations/{id}",
          "id": "dfareporting.floodlightConfigurations.get",
          "httpMethod": "GET",
          "description": "Gets one floodlight configuration by ID.",
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "flatPath": "userprofiles/{profileId}/floodlightConfigurations/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "patch": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Updates an existing floodlight configuration. This method supports patch semantics.",
          "path": "userprofiles/{profileId}/floodlightConfigurations",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "FloodlightConfiguration"
          },
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "id": "dfareporting.floodlightConfigurations.patch",
          "parameters": {
            "id": {
              "location": "query",
              "description": "FloodlightConfiguration ID.",
              "type": "string",
              "format": "int64",
              "required": true
            },
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "httpMethod": "PATCH",
          "flatPath": "userprofiles/{profileId}/floodlightConfigurations"
        },
        "update": {
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "PUT",
          "path": "userprofiles/{profileId}/floodlightConfigurations",
          "request": {
            "$ref": "FloodlightConfiguration"
          },
          "flatPath": "userprofiles/{profileId}/floodlightConfigurations",
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "description": "Updates an existing floodlight configuration.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.floodlightConfigurations.update"
        }
      }
    },
    "placements": {
      "methods": {
        "patch": {
          "request": {
            "$ref": "Placement"
          },
          "description": "Updates an existing placement. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "parameters": {
            "id": {
              "type": "string",
              "format": "int64",
              "description": "Placement ID.",
              "required": true,
              "location": "query"
            },
            "profileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "Placement"
          },
          "id": "dfareporting.placements.patch",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{profileId}/placements",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{profileId}/placements"
        },
        "list": {
          "httpMethod": "GET",
          "description": "Retrieves a list of placements, possibly filtered. This method supports paging.",
          "id": "dfareporting.placements.list",
          "flatPath": "userprofiles/{profileId}/placements",
          "path": "userprofiles/{profileId}/placements",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "placementStrategyIds": {
              "description": "Select only placements that are associated with these placement strategies.",
              "location": "query",
              "format": "int64",
              "repeated": true,
              "type": "string"
            },
            "maxEndDate": {
              "type": "string",
              "description": "Select only placements or placement groups whose end date is on or before the specified maxEndDate. The date should be formatted as \"yyyy-MM-dd\".",
              "location": "query"
            },
            "maxResults": {
              "minimum": "0",
              "default": "1000",
              "format": "int32",
              "maximum": "1000",
              "description": "Maximum number of results to return.",
              "location": "query",
              "type": "integer"
            },
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query",
              "default": "ID",
              "type": "string",
              "description": "Field by which to sort the list."
            },
            "advertiserIds": {
              "repeated": true,
              "description": "Select only placements that belong to these advertisers.",
              "format": "int64",
              "type": "string",
              "location": "query"
            },
            "searchString": {
              "description": "Allows searching for placements by name or ID. Wildcards (*) are allowed. For example, \"placement*2015\" will return placements with names like \"placement June 2015\", \"placement May 2015\", or simply \"placements 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"placement\" will match placements with name \"my placement\", \"placement 2015\", or simply \"placement\" .",
              "type": "string",
              "location": "query"
            },
            "paymentSource": {
              "enum": [
                "PLACEMENT_AGENCY_PAID",
                "PLACEMENT_PUBLISHER_PAID"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "description": "Select only placements with this payment source."
            },
            "siteIds": {
              "location": "query",
              "repeated": true,
              "format": "int64",
              "description": "Select only placements that are associated with these sites.",
              "type": "string"
            },
            "minEndDate": {
              "location": "query",
              "description": "Select only placements or placement groups whose end date is on or after the specified minEndDate. The date should be formatted as \"yyyy-MM-dd\".",
              "type": "string"
            },
            "groupIds": {
              "repeated": true,
              "description": "Select only placements that belong to these placement groups.",
              "format": "int64",
              "type": "string",
              "location": "query"
            },
            "maxStartDate": {
              "type": "string",
              "description": "Select only placements or placement groups whose start date is on or before the specified maxStartDate. The date should be formatted as \"yyyy-MM-dd\".",
              "location": "query"
            },
            "ids": {
              "type": "string",
              "format": "int64",
              "repeated": true,
[...]
