{
  "ownerDomain": "google.com",
  "servicePath": "dfareporting/v4/",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "revision": "20230918",
  "title": "Campaign Manager 360 API",
  "protocol": "rest",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "resources": {
    "regions": {
      "methods": {
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.regions.list",
          "description": "Retrieves a list of regions.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "RegionsListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/regions",
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/regions"
        }
      }
    },
    "creativeGroups": {
      "methods": {
        "update": {
          "id": "dfareporting.creativeGroups.update",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "CreativeGroup"
          },
          "description": "Updates an existing creative group.",
          "request": {
            "$ref": "CreativeGroup"
          },
          "path": "userprofiles/{+profileId}/creativeGroups",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups"
        },
        "patch": {
          "response": {
            "$ref": "CreativeGroup"
          },
          "request": {
            "$ref": "CreativeGroup"
          },
          "id": "dfareporting.creativeGroups.patch",
          "parameters": {
            "id": {
              "type": "string",
              "description": "Required. Creative Group ID.",
              "required": true,
              "format": "int64",
              "location": "query"
            },
            "profileId": {
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64"
            }
          },
          "path": "userprofiles/{+profileId}/creativeGroups",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Updates an existing creative group. This method supports patch semantics.",
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups",
          "httpMethod": "PATCH"
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.creativeGroups.list",
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups",
          "response": {
            "$ref": "CreativeGroupsListResponse"
          },
          "path": "userprofiles/{+profileId}/creativeGroups",
          "description": "Retrieves a list of creative groups, possibly filtered. This method supports paging.",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "sortOrder": {
              "location": "query",
              "default": "ASCENDING",
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string"
            },
            "advertiserIds": {
              "location": "query",
              "format": "int64",
              "repeated": true,
              "description": "Select only creative groups that belong to these advertisers.",
              "type": "string"
            },
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "default": "1000",
              "format": "int32",
              "type": "integer",
              "description": "Maximum number of results to return."
            },
            "ids": {
              "format": "int64",
              "type": "string",
              "description": "Select only creative groups with these IDs.",
              "location": "query",
              "repeated": true
            },
            "sortField": {
              "default": "ID",
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "description": "Field by which to sort the list."
            },
            "searchString": {
              "location": "query",
              "type": "string",
              "description": "Allows searching for creative groups by name or ID. Wildcards (*) are allowed. For example, \"creativegroup*2015\" will return creative groups with names like \"creativegroup June 2015\", \"creativegroup April 2015\", or simply \"creativegroup 2015\". Most of the searches also add wild-cards implicitly at the start and the end of the search string. For example, a search string of \"creativegroup\" will match creative groups with the name \"my creativegroup\", \"creativegroup 2015\", or simply \"creativegroup\"."
            },
            "groupNumber": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Select only creative groups that belong to this subgroup."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET"
        },
        "insert": {
          "response": {
            "$ref": "CreativeGroup"
          },
          "description": "Inserts a new creative group.",
          "request": {
            "$ref": "CreativeGroup"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.creativeGroups.insert",
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/creativeGroups"
        },
        "get": {
          "id": "dfareporting.creativeGroups.get",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/creativeGroups/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups/{creativeGroupsId}",
          "description": "Gets one creative group by ID.",
          "response": {
            "$ref": "CreativeGroup"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "id": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Creative group ID.",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "profileId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          }
        }
      }
    },
    "dynamicTargetingKeys": {
      "methods": {
        "insert": {
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.dynamicTargetingKeys.insert",
          "httpMethod": "POST",
          "request": {
            "$ref": "DynamicTargetingKey"
          },
          "flatPath": "userprofiles/{userprofilesId}/dynamicTargetingKeys",
          "description": "Inserts a new dynamic targeting key. Keys must be created at the advertiser level before being assigned to the advertiser's ads, creatives, or placements. There is a maximum of 1000 keys per advertiser, out of which a maximum of 20 keys can be assigned per ad, creative, or placement.",
          "response": {
            "$ref": "DynamicTargetingKey"
          },
          "path": "userprofiles/{+profileId}/dynamicTargetingKeys"
        },
        "list": {
          "parameters": {
            "objectType": {
              "location": "query",
              "description": "Select only dynamic targeting keys with this object type.",
              "type": "string",
              "enum": [
                "OBJECT_ADVERTISER",
                "OBJECT_AD",
                "OBJECT_CREATIVE",
                "OBJECT_PLACEMENT"
              ],
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ]
            },
            "objectId": {
              "description": "Select only dynamic targeting keys with this object ID.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string"
            },
            "advertiserId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Select only dynamic targeting keys whose object has this advertiser ID."
            },
            "names": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "Select only dynamic targeting keys exactly matching these names."
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/dynamicTargetingKeys",
          "path": "userprofiles/{+profileId}/dynamicTargetingKeys",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "DynamicTargetingKeysListResponse"
          },
          "httpMethod": "GET",
          "description": "Retrieves a list of dynamic targeting keys.",
          "id": "dfareporting.dynamicTargetingKeys.list"
        },
        "delete": {
          "parameterOrder": [
            "profileId",
            "objectId",
            "name",
            "objectType"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true
            },
            "name": {
              "required": true,
              "description": "Required. Name of this dynamic targeting key. This is a required field. Must be less than 256 characters long and cannot contain commas. All characters are converted to lowercase.",
              "type": "string",
              "location": "query"
            },
            "objectId": {
              "description": "ID of the object of this dynamic targeting key. This is a required field.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "objectType": {
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "required": true,
              "enum": [
                "OBJECT_ADVERTISER",
                "OBJECT_AD",
                "OBJECT_CREATIVE",
                "OBJECT_PLACEMENT"
              ],
              "location": "query",
              "type": "string",
              "description": "Required. Type of the object of this dynamic targeting key. This is a required field."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/dynamicTargetingKeys/{dynamicTargetingKeysId}",
          "id": "dfareporting.dynamicTargetingKeys.delete",
          "httpMethod": "DELETE",
          "path": "userprofiles/{+profileId}/dynamicTargetingKeys/{+objectId}",
          "description": "Deletes an existing dynamic targeting key."
        }
      }
    },
    "videoFormats": {
      "methods": {
        "get": {
          "response": {
            "$ref": "VideoFormat"
          },
          "flatPath": "userprofiles/{userprofilesId}/videoFormats/{videoFormatsId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64"
            },
            "id": {
              "type": "integer",
              "description": "Video format ID.",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int32"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/videoFormats/{+id}",
          "description": "Gets one video format by ID.",
          "httpMethod": "GET",
          "id": "dfareporting.videoFormats.get"
        },
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/videoFormats",
          "response": {
            "$ref": "VideoFormatsListResponse"
          },
          "httpMethod": "GET",
          "id": "dfareporting.videoFormats.list",
          "path": "userprofiles/{+profileId}/videoFormats",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Lists available video formats.",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "inventoryItems": {
      "methods": {
        "list": {
          "path": "userprofiles/{+profileId}/projects/{projectId}/inventoryItems",
          "parameters": {
            "maxResults": {
              "location": "query",
              "format": "int32",
              "default": "1000",
              "type": "integer",
              "description": "Maximum number of results to return."
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64"
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "sortOrder": {
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING",
              "location": "query",
              "type": "string",
              "description": "Order of sorted results.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "projectId": {
              "description": "Project ID for order documents.",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "siteId": {
              "type": "string",
              "description": "Select only inventory items that are associated with these sites.",
              "repeated": true,
              "format": "int64",
              "location": "query"
            },
            "orderId": {
              "location": "query",
              "format": "int64",
              "repeated": true,
              "type": "string",
              "description": "Select only inventory items that belong to specified orders."
            },
            "ids": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "description": "Select only inventory items with these IDs.",
              "repeated": true
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "type": {
              "enum": [
                "PLANNING_PLACEMENT_TYPE_REGULAR",
                "PLANNING_PLACEMENT_TYPE_CREDIT"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "type": "string",
              "description": "Select only inventory items with this type."
            },
            "inPlan": {
              "type": "boolean",
              "description": "Select only inventory items that are in plan.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of inventory items, possibly filtered. This method supports paging.",
          "httpMethod": "GET",
          "response": {
            "$ref": "InventoryItemsListResponse"
          },
          "id": "dfareporting.inventoryItems.list",
          "flatPath": "userprofiles/{userprofilesId}/projects/{projectId}/inventoryItems",
          "parameterOrder": [
            "profileId",
            "projectId"
          ]
        },
        "get": {
          "response": {
            "$ref": "InventoryItem"
          },
          "parameterOrder": [
            "profileId",
            "projectId",
            "id"
          ],
          "description": "Gets one inventory item by ID.",
          "id": "dfareporting.inventoryItems.get",
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/projects/{projectId}/inventoryItems/{inventoryItemsId}",
          "path": "userprofiles/{+profileId}/projects/{projectId}/inventoryItems/{+id}",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "format": "int64"
            },
            "id": {
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "Inventory item ID.",
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "projectId": {
              "required": true,
              "description": "Project ID for order documents.",
              "type": "string",
              "format": "int64",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "creatives": {
      "methods": {
        "list": {
          "parameters": {
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list.",
              "type": "string",
              "default": "ID",
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "active": {
              "location": "query",
              "description": "Select only active creatives. Leave blank to select active and inactive creatives.",
              "type": "boolean"
            },
            "maxResults": {
              "default": "1000",
              "location": "query",
              "type": "integer",
              "description": "Maximum number of results to return.",
              "format": "int32"
            },
            "renderingIds": {
              "location": "query",
              "type": "string",
              "description": "Select only creatives with these rendering IDs.",
              "format": "int64",
              "repeated": true
            },
            "studioCreativeId": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Select only creatives corresponding to this Studio creative ID."
            },
            "sizeIds": {
              "repeated": true,
              "format": "int64",
              "location": "query",
              "type": "string",
              "description": "Select only creatives with these size IDs."
            },
            "ids": {
              "description": "Select only creatives with these IDs.",
              "repeated": true,
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "campaignId": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Select only creatives with this campaign ID."
            },
            "advertiserId": {
              "description": "Select only creatives with this advertiser ID.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "types": {
              "type": "string",
              "description": "Select only creatives with these creative types.",
              "repeated": true,
              "enum": [
                "IMAGE",
                "DISPLAY_REDIRECT",
                "CUSTOM_DISPLAY",
                "INTERNAL_REDIRECT",
                "CUSTOM_DISPLAY_INTERSTITIAL",
                "INTERSTITIAL_INTERNAL_REDIRECT",
                "TRACKING_TEXT",
                "RICH_MEDIA_DISPLAY_BANNER",
                "RICH_MEDIA_INPAGE_FLOATING",
                "RICH_MEDIA_IM_EXPAND",
                "RICH_MEDIA_DISPLAY_EXPANDING",
                "RICH_MEDIA_DISPLAY_INTERSTITIAL",
                "RICH_MEDIA_DISPLAY_MULTI_FLOATING_INTERSTITIAL",
                "RICH_MEDIA_MOBILE_IN_APP",
                "FLASH_INPAGE",
                "INSTREAM_VIDEO",
                "VPAID_LINEAR_VIDEO",
                "VPAID_NON_LINEAR_VIDEO",
                "INSTREAM_VIDEO_REDIRECT",
                "RICH_MEDIA_PEEL_DOWN",
                "HTML5_BANNER",
                "DISPLAY",
                "DISPLAY_IMAGE_GALLERY",
                "BRAND_SAFE_DEFAULT_INSTREAM_VIDEO",
                "INSTREAM_AUDIO"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ]
            },
            "creativeFieldIds": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Select only creatives with these creative field IDs.",
              "repeated": true
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "sortOrder": {
              "location": "query",
              "type": "string",
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "archived": {
              "type": "boolean",
              "description": "Select only archived creatives. Leave blank to select archived and unarchived creatives.",
              "location": "query"
            },
            "companionCreativeIds": {
              "type": "string",
              "format": "int64",
              "repeated": true,
              "description": "Select only in-stream video creatives with these companion IDs.",
              "location": "query"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"creative*2015\" will return objects with names like \"creative June 2015\", \"creative April 2015\", or simply \"creative 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"creative\" will match objects with name \"my creative\", \"creative 2015\", or simply \"creative\".",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/creatives",
          "response": {
            "$ref": "CreativesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creatives",
          "description": "Retrieves a list of creatives, possibly filtered. This method supports paging.",
          "id": "dfareporting.creatives.list"
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creatives",
          "response": {
            "$ref": "Creative"
          },
          "path": "userprofiles/{+profileId}/creatives",
          "httpMethod": "PATCH",
          "id": "dfareporting.creatives.patch",
          "parameters": {
            "id": {
              "required": true,
              "format": "int64",
              "description": "Required. Creative ID.",
              "type": "string",
              "location": "query"
            },
            "profileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Updates an existing creative. This method supports patch semantics.",
          "request": {
            "$ref": "Creative"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "insert": {
          "description": "Inserts a new creative.",
          "response": {
            "$ref": "Creative"
          },
          "path": "userprofiles/{+profileId}/creatives",
          "request": {
            "$ref": "Creative"
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.creatives.insert",
          "flatPath": "userprofiles/{userprofilesId}/creatives",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64"
            }
          },
          "httpMethod": "POST"
        },
        "get": {
          "flatPath": "userprofiles/{userprofilesId}/creatives/{creativesId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "id": "dfareporting.creatives.get",
          "parameters": {
            "id": {
              "description": "Creative ID.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string"
            }
          },
          "description": "Gets one creative by ID.",
          "path": "userprofiles/{+profileId}/creatives/{+id}",
          "response": {
            "$ref": "Creative"
          }
        },
        "update": {
          "description": "Updates an existing creative.",
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.creatives.update",
          "path": "userprofiles/{+profileId}/creatives",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "Creative"
          },
          "httpMethod": "PUT",
          "flatPath": "userprofiles/{userprofilesId}/creatives",
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "response": {
            "$ref": "Creative"
          }
        }
      }
    },
    "creativeFieldValues": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "description": "Inserts a new creative field value.",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues",
          "httpMethod": "POST",
          "parameterOrder": [
            "profileId",
            "creativeFieldId"
          ],
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path"
            },
            "creativeFieldId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "Creative field ID for this creative field value.",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "id": "dfareporting.creativeFieldValues.insert",
          "request": {
            "$ref": "CreativeFieldValue"
          }
        },
        "delete": {
          "description": "Deletes an existing creative field value.",
          "parameterOrder": [
            "profileId",
            "creativeFieldId",
            "id"
          ],
          "id": "dfareporting.creativeFieldValues.delete",
          "httpMethod": "DELETE",
          "parameters": {
            "creativeFieldId": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "Creative field ID for this creative field value."
            },
            "id": {
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64",
              "description": "Creative Field Value ID"
            },
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues/{creativeFieldValuesId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues/{+id}"
        },
        "patch": {
          "description": "Updates an existing creative field value. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "CreativeFieldValue"
          },
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues",
          "id": "dfareporting.creativeFieldValues.patch",
          "parameterOrder": [
            "profileId",
            "creativeFieldId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "creativeFieldId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "CreativeField ID."
            },
            "id": {
              "format": "int64",
              "location": "query",
              "description": "CreativeFieldValue ID.",
              "type": "string",
              "required": true
            }
          },
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "httpMethod": "PATCH"
        },
        "get": {
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues/{+id}",
          "id": "dfareporting.creativeFieldValues.get",
          "description": "Gets one creative field value by ID.",
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues/{creativeFieldValuesId}",
          "parameterOrder": [
            "profileId",
            "creativeFieldId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "type": "string",
              "location": "path"
            },
            "id": {
              "description": "Creative Field Value ID",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64"
            },
            "creativeFieldId": {
              "description": "Creative field ID for this creative field value.",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "httpMethod": "GET"
        },
        "update": {
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "id": "dfareporting.creativeFieldValues.update",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Updates an existing creative field value.",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "creativeFieldId": {
              "location": "path",
              "description": "Creative field ID for this creative field value.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues",
          "request": {
            "$ref": "CreativeFieldValue"
          },
          "parameterOrder": [
            "profileId",
            "creativeFieldId"
          ],
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "httpMethod": "PUT"
        },
        "list": {
          "id": "dfareporting.creativeFieldValues.list",
          "description": "Retrieves a list of creative field values, possibly filtered. This method supports paging.",
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "creativeFieldId"
          ],
          "parameters": {
            "sortField": {
              "enum": [
                "ID",
                "VALUE"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "description": "Field by which to sort the list.",
              "default": "ID",
              "location": "query"
            },
            "searchString": {
              "description": "Allows searching for creative field values by their values. Wildcards (e.g. *) are not allowed.",
              "type": "string",
              "location": "query"
            },
            "profileId": {
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "ids": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "format": "int64",
              "description": "Select only creative field values with these IDs."
            },
            "maxResults": {
              "format": "int32",
              "default": "1000",
              "location": "query",
              "type": "integer",
              "description": "Maximum number of results to return."
            },
            "sortOrder": {
              "location": "query",
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "description": "Order of sorted results."
            },
            "creativeFieldId": {
              "location": "path",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Creative field ID for this creative field value."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page."
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues",
          "response": {
            "$ref": "CreativeFieldValuesListResponse"
          }
        }
      }
    },
    "dimensionValues": {
      "methods": {
        "query": {
          "description": "Retrieves list of report dimension values for a list of filters.",
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "response": {
            "$ref": "DimensionValueList"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "DimensionValueRequest"
          },
          "id": "dfareporting.dimensionValues.query",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The value of the nextToken from the previous result page.",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of results to return.",
              "type": "integer",
              "default": "100",
              "format": "int32"
            },
            "profileId": {
              "required": true,
              "description": "The Campaign Manager 360 user profile ID.",
              "format": "int64",
              "type": "string",
              "location": "path"
            }
          },
          "path": "userprofiles/{profileId}/dimensionvalues/query",
          "flatPath": "userprofiles/{profileId}/dimensionvalues/query"
        }
      }
    },
    "userProfiles": {
      "methods": {
        "list": {
          "response": {
            "$ref": "UserProfileList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/ddmconversions",
            "https://www.googleapis.com/auth/dfareporting",
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles",
          "parameters": {},
          "httpMethod": "GET",
          "description": "Retrieves list of user profiles for a user.",
          "id": "dfareporting.userProfiles.list",
          "parameterOrder": [],
          "flatPath": "userprofiles"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/ddmconversions",
            "https://www.googleapis.com/auth/dfareporting",
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{profileId}",
          "response": {
            "$ref": "UserProfile"
          },
          "httpMethod": "GET",
          "description": "Gets one user profile by ID.",
          "id": "dfareporting.userProfiles.get",
          "flatPath": "userprofiles/{profileId}",
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "The user profile ID.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          }
        }
      }
    },
    "placementStrategies": {
      "methods": {
        "update": {
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies",
          "response": {
            "$ref": "PlacementStrategy"
          },
          "request": {
            "$ref": "PlacementStrategy"
          },
          "httpMethod": "PUT",
          "id": "dfareporting.placementStrategies.update",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/placementStrategies",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Updates an existing placement strategy."
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "DELETE",
          "path": "userprofiles/{+profileId}/placementStrategies/{+id}",
          "id": "dfareporting.placementStrategies.delete",
          "parameters": {
            "id": {
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "Placement strategy ID.",
              "pattern": "^[^/]+$"
            },
            "profileId": {
              "required": true,
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies/{placementStrategiesId}",
          "description": "Deletes an existing placement strategy."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "PlacementStrategy"
          },
          "path": "userprofiles/{+profileId}/placementStrategies/{+id}",
          "id": "dfareporting.placementStrategies.get",
          "parameters": {
            "id": {
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "description": "Placement strategy ID.",
              "location": "path"
            },
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Gets one placement strategy by ID.",
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies/{placementStrategiesId}",
          "httpMethod": "GET"
        },
        "insert": {
          "id": "dfareporting.placementStrategies.insert",
          "response": {
            "$ref": "PlacementStrategy"
          },
          "description": "Inserts a new placement strategy.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "PlacementStrategy"
          },
          "path": "userprofiles/{+profileId}/placementStrategies",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request."
            }
          },
          "httpMethod": "POST",
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies"
        },
        "patch": {
          "description": "Updates an existing placement strategy. This method supports patch semantics.",
          "request": {
            "$ref": "PlacementStrategy"
          },
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.placementStrategies.patch",
          "httpMethod": "PATCH",
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string"
            },
            "id": {
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "Required. PlacementStrategy ID.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/placementStrategies",
          "response": {
            "$ref": "PlacementStrategy"
          }
        },
        "list": {
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/placementStrategies",
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies",
          "response": {
            "$ref": "PlacementStrategiesListResponse"
          },
          "parameters": {
            "searchString": {
              "type": "string",
              "location": "query",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"placementstrategy*2015\" will return objects with names like \"placementstrategy June 2015\", \"placementstrategy April 2015\", or simply \"placementstrategy 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"placementstrategy\" will match objects with name \"my placementstrategy\", \"placementstrategy 2015\", or simply \"placementstrategy\"."
            },
            "ids": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "Select only placement strategies with these IDs.",
              "format": "int64"
            },
            "maxResults": {
              "default": "1000",
              "description": "Maximum number of results to return.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "type": "string"
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string",
              "default": "ASCENDING",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.placementStrategies.list",
          "description": "Retrieves a list of placement strategies, possibly filtered. This method supports paging.",
          "parameterOrder": [
            "profileId"
          ]
        }
      }
    },
    "targetableRemarketingLists": {
      "methods": {
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/targetableRemarketingLists",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of targetable remarketing lists, possibly filtered. This method supports paging.",
          "parameters": {
            "maxResults": {
              "description": "Maximum number of results to return.",
              "format": "int32",
              "type": "integer",
              "default": "1000",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "advertiserId": {
              "type": "string",
              "description": "Required. Select only targetable remarketing lists targetable by these advertisers.",
              "required": true,
              "location": "query",
              "format": "int64"
            },
            "name": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"remarketing list*2015\" will return objects with names like \"remarketing list June 2015\", \"remarketing list April 2015\", or simply \"remarketing list 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"remarketing list\" will match objects with name \"my remarketing list\", \"remarketing list 2015\", or simply \"remarketing list\".",
              "location": "query",
              "type": "string"
            },
            "active": {
              "location": "query",
              "description": "Select only active or only inactive targetable remarketing lists.",
              "type": "boolean"
            },
            "sortOrder": {
              "location": "query",
              "description": "Order of sorted results.",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            },
            "sortField": {
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list."
            },
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "id": "dfareporting.targetableRemarketingLists.list",
          "response": {
            "$ref": "TargetableRemarketingListsListResponse"
          },
          "path": "userprofiles/{+profileId}/targetableRemarketingLists",
          "httpMethod": "GET"
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "TargetableRemarketingList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "id": "dfareporting.targetableRemarketingLists.get",
          "flatPath": "userprofiles/{userprofilesId}/targetableRemarketingLists/{targetableRemarketingListsId}",
          "path": "userprofiles/{+profileId}/targetableRemarketingLists/{+id}",
          "parameters": {
            "id": {
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Remarketing list ID.",
              "pattern": "^[^/]+$"
            },
            "profileId": {
              "required": true,
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "User profile ID associated with this request."
            }
          },
          "description": "Gets one remarketing list by ID."
        }
      }
    },
    "orders": {
      "methods": {
        "list": {
          "response": {
            "$ref": "OrdersListResponse"
          },
          "id": "dfareporting.orders.list",
          "parameterOrder": [
            "profileId",
            "projectId"
          ],
          "httpMethod": "GET",
          "description": "Retrieves a list of orders, possibly filtered. This method supports paging.",
          "parameters": {
            "siteId": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Select only orders that are associated with these site IDs."
            },
            "sortOrder": {
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "type": "string"
            },
            "projectId": {
              "format": "int64",
              "type": "string",
              "location": "path",
              "description": "Project ID for orders.",
              "required": true
            },
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "sortField": {
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "default": "ID"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "searchString": {
              "location": "query",
              "description": "Allows searching for orders by name or ID. Wildcards (*) are allowed. For example, \"order*2015\" will return orders with names like \"order June 2015\", \"order April 2015\", or simply \"order 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"order\" will match orders with name \"my order\", \"order 2015\", or simply \"order\".",
              "type": "string"
            },
            "ids": {
              "format": "int64",
              "description": "Select only orders with these IDs.",
              "type": "string",
              "location": "query",
              "repeated": true
            },
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of results to return.",
              "type": "integer",
              "default": "1000",
              "location": "query"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/projects/{projectId}/orders",
          "path": "userprofiles/{+profileId}/projects/{projectId}/orders",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "description": "Gets one order by ID.",
          "path": "userprofiles/{+profileId}/projects/{projectId}/orders/{+id}",
          "response": {
            "$ref": "Order"
          },
          "parameterOrder": [
            "profileId",
            "projectId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Order ID.",
              "format": "int64",
              "required": true
            },
            "profileId": {
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID for orders.",
              "format": "int64"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/projects/{projectId}/orders/{ordersId}",
          "httpMethod": "GET",
          "id": "dfareporting.orders.get"
        }
      }
    },
    "placementGroups": {
      "methods": {
        "patch": {
          "id": "dfareporting.placementGroups.patch",
          "response": {
            "$ref": "PlacementGroup"
          },
          "description": "Updates an existing placement group. This method supports patch semantics.",
          "request": {
            "$ref": "PlacementGroup"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "id": {
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "query",
              "description": "Required. Placement ID."
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH",
          "flatPath": "userprofiles/{userprofilesId}/placementGroups",
          "path": "userprofiles/{+profileId}/placementGroups"
        },
        "update": {
          "id": "dfareporting.placementGroups.update",
          "response": {
            "$ref": "PlacementGroup"
          },
          "description": "Updates an existing placement group.",
          "flatPath": "userprofiles/{userprofilesId}/placementGroups",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request."
            }
          },
          "path": "userprofiles/{+profileId}/placementGroups",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "PlacementGroup"
          }
        },
        "get": {
          "path": "userprofiles/{+profileId}/placementGroups/{+id}",
          "parameters": {
            "id": {
              "format": "int64",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Placement group ID."
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64",
              "type": "string"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/placementGroups/{placementGroupsId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "PlacementGroup"
          },
          "description": "Gets one placement group by ID.",
          "httpMethod": "GET",
          "id": "dfareporting.placementGroups.get"
        },
        "insert": {
          "httpMethod": "POST",
          "request": {
            "$ref": "PlacementGroup"
          },
          "path": "userprofiles/{+profileId}/placementGroups",
          "id": "dfareporting.placementGroups.insert",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "PlacementGroup"
          },
          "description": "Inserts a new placement group.",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placementGroups"
        },
        "list": {
          "response": {
            "$ref": "PlacementGroupsListResponse"
          },
          "description": "Retrieves a list of placement groups, possibly filtered. This method supports paging.",
          "id": "dfareporting.placementGroups.list",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "directorySiteIds": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "format": "int64",
              "description": "Select only placement groups that are associated with these directory sites."
            },
            "campaignIds": {
              "location": "query",
              "format": "int64",
              "repeated": true,
              "type": "string",
              "description": "Select only placement groups that belong to these campaigns."
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "description": "Maximum number of results to return.",
              "default": "800",
              "location": "query"
            },
            "siteIds": {
              "description": "Select only placement groups that are associated with these sites.",
              "type": "string",
              "repeated": true,
              "format": "int64",
              "location": "query"
            },
            "minStartDate": {
              "location": "query",
              "description": "Select only placements or placement groups whose start date is on or after the specified minStartDate. The date should be formatted as \"yyyy-MM-dd\".",
              "type": "string"
            },
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "location": "query",
              "type": "string",
              "description": "Field by which to sort the list.",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "searchString": {
              "description": "Allows searching for placement groups by name or ID. Wildcards (*) are allowed. For example, \"placement*2015\" will return placement groups with names like \"placement group June 2015\", \"placement group May 2015\", or simply \"placements 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"placementgroup\" will match placement groups with name \"my placementgroup\", \"placementgroup 2015\", or simply \"placementgroup\".",
              "location": "query",
              "type": "string"
            },
            "maxStartDate": {
              "location": "query",
              "type": "string",
              "description": "Select only placements or placement groups whose start date is on or before the specified maxStartDate. The date should be formatted as \"yyyy-MM-dd\"."
            },
            "sortOrder": {
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "location": "query",
              "type": "string",
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "placementGroupType": {
              "enumDescriptions": [
                "A simple group of site-placements (tags). Basically acts as a single pricing point for a group of tags.",
                "A group of site-placements (tags) that not only acts as a single pricing point but also assumes that all the tags in it will be served at the same time. This kind of group requires one of its assigned site-placements to be marked as primary for reporting purposes."
              ],
              "location": "query",
              "enum": [
                "PLACEMENT_PACKAGE",
                "PLACEMENT_ROADBLOCK"
              ],
              "type": "string",
              "description": "Select only placement groups belonging with this group type. A package is a simple group of placements that acts as a single pricing point for a group of tags. A roadblock is a group of placements that not only acts as a single pricing point but also assumes that all the tags in it will be served at the same time. A roadblock requires one of its assigned placements to be marked as primary for reporting."
            },
            "minEndDate": {
              "description": "Select only placements or placement groups whose end date is on or after the specified minEndDate. The date should be formatted as \"yyyy-MM-dd\".",
              "type": "string",
              "location": "query"
            },
            "contentCategoryIds": {
              "description": "Select only placement groups that are associated with these content categories.",
              "type": "string",
              "location": "query",
              "format": "int64",
              "repeated": true
            },
            "maxEndDate": {
              "location": "query",
              "type": "string",
              "description": "Select only placements or placement groups whose end date is on or before the specified maxEndDate. The date should be formatted as \"yyyy-MM-dd\"."
            },
            "ids": {
              "format": "int64",
              "description": "Select only placement groups with these IDs.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "pricingTypes": {
              "location": "query",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "description": "Select only placement groups with these pricing types.",
              "repeated": true,
              "enum": [
                "PRICING_TYPE_CPM",
                "PRICING_TYPE_CPC",
                "PRICING_TYPE_CPA",
                "PRICING_TYPE_FLAT_RATE_IMPRESSIONS",
                "PRICING_TYPE_FLAT_RATE_CLICKS",
                "PRICING_TYPE_CPM_ACTIVEVIEW"
              ],
              "type": "string"
            },
            "advertiserIds": {
              "format": "int64",
              "description": "Select only placement groups that belong to these advertisers.",
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string"
            },
            "placementStrategyIds": {
              "format": "int64",
              "description": "Select only placement groups that are associated with these placement strategies.",
              "type": "string",
              "location": "query",
              "repeated": true
            },
            "activeStatus": {
              "enum": [
                "PLACEMENT_STATUS_UNKNOWN",
                "PLACEMENT_STATUS_ACTIVE",
                "PLACEMENT_STATUS_INACTIVE",
                "PLACEMENT_STATUS_ARCHIVED",
                "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
              ],
              "location": "query",
              "description": "Select only placements with these active statuses.",
              "type": "string",
              "repeated": true,
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                ""
              ]
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/placementGroups",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/placementGroups"
        }
      }
    },
    "creativeAssets": {
      "methods": {
        "insert": {
          "flatPath": "userprofiles/{userprofilesId}/creativeAssets/{creativeAssetsId}/creativeAssets",
          "path": "userprofiles/{+profileId}/creativeAssets/{+advertiserId}/creativeAssets",
          "httpMethod": "POST",
          "mediaUpload": {
            "protocols": {
              "simple": {
                "path": "/upload/dfareporting/v4/userprofiles/{+profileId}/creativeAssets/{+advertiserId}/creativeAssets",
                "multipart": true
              }
            },
            "accept": [
              "*/*"
            ],
            "maxSize": "1073741824"
          },
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "required": true,
              "format": "int64"
            },
            "advertiserId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "description": "Advertiser ID of this creative. This is a required field.",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "CreativeAssetMetadata"
          },
          "description": "Inserts a new creative asset.",
          "request": {
            "$ref": "CreativeAssetMetadata"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "supportsMediaUpload": true,
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "id": "dfareporting.creativeAssets.insert"
        }
      }
    },
    "floodlightActivities": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities",
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "request": {
            "$ref": "FloodlightActivity"
          },
          "description": "Inserts a new floodlight activity.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/floodlightActivities",
          "id": "dfareporting.floodlightActivities.insert",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "FloodlightActivity"
          }
        },
        "get": {
          "id": "dfareporting.floodlightActivities.get",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "id": {
              "format": "int64",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Floodlight activity ID."
            }
          },
          "path": "userprofiles/{+profileId}/floodlightActivities/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities/{floodlightActivitiesId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one floodlight activity by ID.",
          "response": {
            "$ref": "FloodlightActivity"
          }
        },
        "update": {
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities",
          "path": "userprofiles/{+profileId}/floodlightActivities",
          "request": {
            "$ref": "FloodlightActivity"
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "description": "Updates an existing floodlight activity.",
          "id": "dfareporting.floodlightActivities.update",
          "response": {
            "$ref": "FloodlightActivity"
          },
          "parameters": {
            "profileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          }
        },
        "list": {
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string"
            },
            "sortField": {
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list."
            },
            "floodlightConfigurationId": {
              "type": "string",
              "location": "query",
              "description": "Select only floodlight activities for the specified floodlight configuration ID. Must specify either ids, advertiserId, or floodlightConfigurationId for a non-empty result.",
              "format": "int64"
            },
            "ids": {
              "description": "Select only floodlight activities with the specified IDs. Must specify either ids, advertiserId, or floodlightConfigurationId for a non-empty result.",
              "type": "string",
              "repeated": true,
              "location": "query",
              "format": "int64"
            },
            "floodlightActivityGroupType": {
              "description": "Select only floodlight activities with the specified floodlight activity group type.",
              "type": "string",
              "enum": [
                "COUNTER",
                "SALE"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query"
            },
            "floodlightActivityGroupTagString": {
              "description": "Select only floodlight activities with the specified floodlight activity group tag string.",
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "tagString": {
              "type": "string",
              "location": "query",
              "description": "Select only floodlight activities with the specified tag string."
            },
            "advertiserId": {
              "description": "Select only floodlight activities for the specified advertiser ID. Must specify either ids, advertiserId, or floodlightConfigurationId for a non-empty result.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "floodlightActivityGroupIds": {
              "description": "Select only floodlight activities with the specified floodlight activity group IDs.",
              "type": "string",
              "location": "query",
              "repeated": true,
              "format": "int64"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "default": "1000",
              "description": "Maximum number of results to return."
            },
            "sortOrder": {
              "type": "string",
              "location": "query",
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results."
            },
            "searchString": {
              "location": "query",
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"floodlightactivity*2015\" will return objects with names like \"floodlightactivity June 2015\", \"floodlightactivity April 2015\", or simply \"floodlightactivity 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"floodlightactivity\" will match objects with name \"my floodlightactivity activity\", \"floodlightactivity 2015\", or simply \"floodlightactivity\"."
            },
            "floodlightActivityGroupName": {
              "description": "Select only floodlight activities with the specified floodlight activity group name.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/floodlightActivities",
          "id": "dfareporting.floodlightActivities.list",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "FloodlightActivitiesListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "description": "Retrieves a list of floodlight activities, possibly filtered. This method supports paging."
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Deletes an existing floodlight activity.",
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities/{floodlightActivitiesId}",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "id": {
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Floodlight activity ID."
            }
          },
          "path": "userprofiles/{+profileId}/floodlightActivities/{+id}",
          "id": "dfareporting.floodlightActivities.delete",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "patch": {
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities",
          "id": "dfareporting.floodlightActivities.patch",
          "request": {
            "$ref": "FloodlightActivity"
          },
          "description": "Updates an existing event tag. This method supports patch semantics.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "FloodlightActivity"
          },
          "path": "userprofiles/{+profileId}/floodlightActivities",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "id": {
              "location": "query",
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "Required. EventTag ID."
            }
          }
        },
        "generatetag": {
          "response": {
            "$ref": "FloodlightActivitiesGenerateTagResponse"
          },
          "id": "dfareporting.floodlightActivities.generatetag",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "POST",
          "path": "userprofiles/{+profileId}/floodlightActivities/generatetag",
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities/generatetag",
          "description": "Generates a tag for a floodlight activity.",
          "parameters": {
            "floodlightActivityId": {
              "location": "query",
              "description": "Floodlight activity ID for which we want to generate a tag.",
              "type": "string",
              "format": "int64"
            },
            "profileId": {
              "required": true,
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string"
            }
          }
        }
      }
    },
    "projects": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "sortOrder": {
              "description": "Order of sorted results.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "location": "query",
              "type": "string",
              "default": "ASCENDING"
            },
            "maxResults": {
              "location": "query",
              "default": "1000",
              "format": "int32",
              "type": "integer",
              "description": "Maximum number of results to return."
            },
            "searchString": {
              "location": "query",
              "description": "Allows searching for projects by name or ID. Wildcards (*) are allowed. For example, \"project*2015\" will return projects with names like \"project June 2015\", \"project April 2015\", or simply \"project 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"project\" will match projects with name \"my project\", \"project 2015\", or simply \"project\".",
              "type": "string"
            },
            "ids": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "Select only projects with these IDs.",
              "format": "int64"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "default": "ID",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query"
            },
            "advertiserIds": {
              "format": "int64",
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "Select only projects with these advertiser IDs."
            },
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request."
            }
          },
          "description": "Retrieves a list of projects, possibly filtered. This method supports paging .",
          "flatPath": "userprofiles/{userprofilesId}/projects",
          "httpMethod": "GET",
          "id": "dfareporting.projects.list",
          "path": "userprofiles/{+profileId}/projects",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "ProjectsListResponse"
          }
        },
        "get": {
          "response": {
            "$ref": "Project"
          },
          "flatPath": "userprofiles/{userprofilesId}/projects/{projectsId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Gets one project by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Project ID.",
              "format": "int64",
              "location": "path"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "format": "int64"
            }
          },
          "id": "dfareporting.projects.get",
          "path": "userprofiles/{+profileId}/projects/{+id}"
        }
      }
    },
    "advertiserInvoices": {
      "methods": {
        "list": {
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "id": "dfareporting.advertiserInvoices.list",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "advertiserId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Advertiser ID of this invoice.",
              "format": "int64"
            },
            "issueMonth": {
              "location": "query",
              "description": "Month for which invoices are needed in the format YYYYMM. Required field",
              "type": "string"
            },
            "maxResults": {
[...]
