{
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "id": "dfareporting:v4",
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/doubleclick-advertisers/",
  "mtlsRootUrl": "https://dfareporting.mtls.googleapis.com/",
  "description": "Build applications to efficiently manage large or complex trafficking, reporting, and attribution workflows for Campaign Manager 360.",
  "title": "Campaign Manager 360 API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dfareporting": {
          "description": "View and manage DoubleClick for Advertisers reports"
        },
        "https://www.googleapis.com/auth/ddmconversions": {
          "description": "Manage DoubleClick Digital Marketing conversions"
        },
        "https://www.googleapis.com/auth/dfatrafficking": {
          "description": "View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns"
        }
      }
    }
  },
  "resources": {
    "advertisers": {
      "methods": {
        "update": {
          "description": "Updates an existing advertiser.",
          "httpMethod": "PUT",
          "flatPath": "userprofiles/{userprofilesId}/advertisers",
          "id": "dfareporting.advertisers.update",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "Advertiser"
          },
          "response": {
            "$ref": "Advertiser"
          },
          "parameters": {
            "profileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/advertisers"
        },
        "insert": {
          "response": {
            "$ref": "Advertiser"
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "Advertiser"
          },
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            }
          },
          "id": "dfareporting.advertisers.insert",
          "path": "userprofiles/{+profileId}/advertisers",
          "httpMethod": "POST",
          "description": "Inserts a new advertiser.",
          "flatPath": "userprofiles/{userprofilesId}/advertisers"
        },
        "list": {
          "httpMethod": "GET",
          "id": "dfareporting.advertisers.list",
          "description": "Retrieves a list of advertisers, possibly filtered. This method supports paging.",
          "path": "userprofiles/{+profileId}/advertisers",
          "flatPath": "userprofiles/{userprofilesId}/advertisers",
          "response": {
            "$ref": "AdvertisersListResponse"
          },
          "parameters": {
            "sortField": {
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "description": "Field by which to sort the list."
            },
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string"
            },
            "includeAdvertisersWithoutGroupsOnly": {
              "description": "Select only advertisers which do not belong to any advertiser group.",
              "location": "query",
              "type": "boolean"
            },
            "onlyParent": {
              "location": "query",
              "description": "Select only advertisers which use another advertiser's floodlight configuration.",
              "type": "boolean"
            },
            "status": {
              "type": "string",
              "location": "query",
              "enum": [
                "APPROVED",
                "ON_HOLD"
              ],
              "description": "Select only advertisers with the specified status.",
              "enumDescriptions": [
                "Approved (ads can deliver)",
                "On-hold (all ads are stopped)"
              ]
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"advertiser*2015\" will return objects with names like \"advertiser June 2015\", \"advertiser April 2015\", or simply \"advertiser 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"advertiser\" will match objects with name \"my advertiser\", \"advertiser 2015\", or simply \"advertiser\" .",
              "type": "string",
              "location": "query"
            },
            "ids": {
              "repeated": true,
              "description": "Select only advertisers with these IDs.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "advertiserGroupIds": {
              "description": "Select only advertisers with these advertiser group IDs.",
              "type": "string",
              "location": "query",
              "repeated": true,
              "format": "int64"
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string",
              "description": "Order of sorted results."
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "subaccountId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Select only advertisers with these subaccount IDs."
            },
            "floodlightConfigurationIds": {
              "location": "query",
              "format": "int64",
              "description": "Select only advertisers with these floodlight configuration IDs.",
              "type": "string",
              "repeated": true
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/advertisers/{advertisersId}",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64"
            },
            "id": {
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Advertiser ID."
            }
          },
          "path": "userprofiles/{+profileId}/advertisers/{+id}",
          "description": "Gets one advertiser by ID.",
          "response": {
            "$ref": "Advertiser"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.advertisers.get",
          "httpMethod": "GET"
        },
        "patch": {
          "id": "dfareporting.advertisers.patch",
          "request": {
            "$ref": "Advertiser"
          },
          "response": {
            "$ref": "Advertiser"
          },
          "path": "userprofiles/{+profileId}/advertisers",
          "description": "Updates an existing advertiser. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "required": true,
              "format": "int64",
              "description": "Required. Advertiser ID.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/advertisers",
          "httpMethod": "PATCH"
        }
      }
    },
    "creativeAssets": {
      "methods": {
        "insert": {
          "supportsMediaUpload": true,
          "request": {
            "$ref": "CreativeAssetMetadata"
          },
          "response": {
            "$ref": "CreativeAssetMetadata"
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeAssets/{creativeAssetsId}/creativeAssets",
          "mediaUpload": {
            "maxSize": "1073741824",
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/dfareporting/v4/userprofiles/{+profileId}/creativeAssets/{+advertiserId}/creativeAssets"
              }
            }
          },
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "path": "userprofiles/{+profileId}/creativeAssets/{+advertiserId}/creativeAssets",
          "id": "dfareporting.creativeAssets.insert",
          "description": "Inserts a new creative asset.",
          "parameters": {
            "advertiserId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "format": "int64",
              "location": "path",
              "description": "Advertiser ID of this creative. This is a required field."
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "creativeFields": {
      "methods": {
        "list": {
          "description": "Retrieves a list of creative fields, possibly filtered. This method supports paging.",
          "parameters": {
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "default": "ID",
              "type": "string",
              "description": "Field by which to sort the list.",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "ids": {
              "format": "int64",
              "type": "string",
              "description": "Select only creative fields with these IDs.",
              "repeated": true,
              "location": "query"
            },
            "sortOrder": {
              "location": "query",
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            },
            "advertiserIds": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "format": "int64",
              "description": "Select only creative fields that belong to these advertisers."
            },
            "maxResults": {
              "format": "int32",
              "default": "1000",
              "location": "query",
              "description": "Maximum number of results to return.",
              "type": "integer"
            },
            "profileId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request."
            },
            "searchString": {
              "type": "string",
              "location": "query",
              "description": "Allows searching for creative fields by name or ID. Wildcards (*) are allowed. For example, \"creativefield*2015\" will return creative fields with names like \"creativefield June 2015\", \"creativefield April 2015\", or simply \"creativefield 2015\". Most of the searches also add wild-cards implicitly at the start and the end of the search string. For example, a search string of \"creativefield\" will match creative fields with the name \"my creativefield\", \"creativefield 2015\", or simply \"creativefield\"."
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "id": "dfareporting.creativeFields.list",
          "path": "userprofiles/{+profileId}/creativeFields",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "CreativeFieldsListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeFields"
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Creative Field ID",
              "type": "string"
            },
            "profileId": {
              "type": "string",
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request."
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}",
          "response": {
            "$ref": "CreativeField"
          },
          "path": "userprofiles/{+profileId}/creativeFields/{+id}",
          "httpMethod": "GET",
          "description": "Gets one creative field by ID.",
          "id": "dfareporting.creativeFields.get"
        },
        "patch": {
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "CreativeField"
          },
          "parameters": {
            "id": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "CreativeField ID."
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "path": "userprofiles/{+profileId}/creativeFields",
          "response": {
            "$ref": "CreativeField"
          },
          "description": "Updates an existing creative field. This method supports patch semantics.",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields",
          "id": "dfareporting.creativeFields.patch",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "update": {
          "httpMethod": "PUT",
          "response": {
            "$ref": "CreativeField"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.creativeFields.update",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields",
          "description": "Updates an existing creative field.",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request."
            }
          },
          "request": {
            "$ref": "CreativeField"
          },
          "path": "userprofiles/{+profileId}/creativeFields"
        },
        "insert": {
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.creativeFields.insert",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields",
          "request": {
            "$ref": "CreativeField"
          },
          "description": "Inserts a new creative field.",
          "response": {
            "$ref": "CreativeField"
          },
          "httpMethod": "POST",
          "path": "userprofiles/{+profileId}/creativeFields",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/creativeFields/{+id}",
          "parameters": {
            "id": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "description": "Creative Field ID",
              "type": "string",
              "format": "int64"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "required": true,
              "location": "path",
              "description": "User profile ID associated with this request."
            }
          },
          "description": "Deletes an existing creative field.",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.creativeFields.delete",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}"
        }
      }
    },
    "sizes": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/sizes/{sizesId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.sizes.get",
          "parameters": {
            "id": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Size ID.",
              "location": "path",
              "required": true,
              "format": "int64"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true
            }
          },
          "description": "Gets one size by ID.",
          "path": "userprofiles/{+profileId}/sizes/{+id}",
          "response": {
            "$ref": "Size"
          },
          "httpMethod": "GET"
        },
        "list": {
          "description": "Retrieves a list of sizes, possibly filtered. Retrieved sizes are globally unique and may include values not currently in use by your account. Due to this, the list of sizes returned by this method may differ from the list seen in the Trafficking UI.",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "SizesListResponse"
          },
          "parameters": {
            "height": {
              "type": "integer",
              "location": "query",
              "description": "Select only sizes with this height.",
              "format": "int32"
            },
            "profileId": {
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true
            },
            "ids": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Select only sizes with these IDs."
            },
            "width": {
              "description": "Select only sizes with this width.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "iabStandard": {
              "location": "query",
              "type": "boolean",
              "description": "Select only IAB standard sizes."
            }
          },
          "id": "dfareporting.sizes.list",
          "path": "userprofiles/{+profileId}/sizes",
          "flatPath": "userprofiles/{userprofilesId}/sizes",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "insert": {
          "description": "Inserts a new size.",
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/sizes",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.sizes.insert",
          "path": "userprofiles/{+profileId}/sizes",
          "request": {
            "$ref": "Size"
          },
          "response": {
            "$ref": "Size"
          }
        }
      }
    },
    "floodlightConfigurations": {
      "methods": {
        "get": {
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true
            },
            "id": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "description": "Floodlight configuration ID.",
              "format": "int64",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations/{floodlightConfigurationsId}",
          "id": "dfareporting.floodlightConfigurations.get",
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "description": "Gets one floodlight configuration by ID.",
          "path": "userprofiles/{+profileId}/floodlightConfigurations/{+id}"
        },
        "update": {
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations",
          "description": "Updates an existing floodlight configuration.",
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path"
            }
          },
          "path": "userprofiles/{+profileId}/floodlightConfigurations",
          "id": "dfareporting.floodlightConfigurations.update",
          "request": {
            "$ref": "FloodlightConfiguration"
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "PUT"
        },
        "patch": {
          "parameters": {
            "id": {
              "location": "query",
              "description": "Required. EventTag ID.",
              "format": "int64",
              "required": true,
              "type": "string"
            },
            "profileId": {
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations",
          "id": "dfareporting.floodlightConfigurations.patch",
          "path": "userprofiles/{+profileId}/floodlightConfigurations",
          "description": "Updates an existing event tag. This method supports patch semantics.",
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "request": {
            "$ref": "FloodlightConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "PATCH"
        },
        "list": {
          "path": "userprofiles/{+profileId}/floodlightConfigurations",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations",
          "response": {
            "$ref": "FloodlightConfigurationsListResponse"
          },
          "id": "dfareporting.floodlightConfigurations.list",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$"
            },
            "ids": {
              "format": "int64",
              "repeated": true,
              "location": "query",
              "description": "Set of IDs of floodlight configurations to retrieve. Required field; otherwise an empty list will be returned.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of floodlight configurations, possibly filtered."
        }
      }
    },
    "contentCategories": {
      "methods": {
        "delete": {
          "path": "userprofiles/{+profileId}/contentCategories/{+id}",
          "parameters": {
            "id": {
              "location": "path",
              "description": "Content category ID.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "type": "string"
            },
            "profileId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/contentCategories/{contentCategoriesId}",
          "id": "dfareporting.contentCategories.delete",
          "description": "Deletes an existing content category.",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "description": "Retrieves a list of content categories, possibly filtered. This method supports paging.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "sortOrder": {
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "type": "string",
              "location": "query"
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "searchString": {
              "location": "query",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"contentcategory*2015\" will return objects with names like \"contentcategory June 2015\", \"contentcategory April 2015\", or simply \"contentcategory 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"contentcategory\" will match objects with name \"my contentcategory\", \"contentcategory 2015\", or simply \"contentcategory\".",
              "type": "string"
            },
            "ids": {
              "type": "string",
              "repeated": true,
              "format": "int64",
              "description": "Select only content categories with these IDs.",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "default": "1000",
              "description": "Maximum number of results to return.",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/contentCategories",
          "httpMethod": "GET",
          "id": "dfareporting.contentCategories.list",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "ContentCategoriesListResponse"
          },
          "path": "userprofiles/{+profileId}/contentCategories"
        },
        "patch": {
          "path": "userprofiles/{+profileId}/contentCategories",
          "flatPath": "userprofiles/{userprofilesId}/contentCategories",
          "id": "dfareporting.contentCategories.patch",
          "httpMethod": "PATCH",
          "description": "Updates an existing content category. This method supports patch semantics.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "request": {
            "$ref": "ContentCategory"
          },
          "response": {
            "$ref": "ContentCategory"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "description": "Required. ContentCategory ID.",
              "type": "string",
              "location": "query",
              "required": true,
              "format": "int64"
            },
            "profileId": {
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true
            }
          }
        },
        "insert": {
          "flatPath": "userprofiles/{userprofilesId}/contentCategories",
          "request": {
            "$ref": "ContentCategory"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "ContentCategory"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "description": "Inserts a new content category.",
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            }
          },
          "id": "dfareporting.contentCategories.insert",
          "path": "userprofiles/{+profileId}/contentCategories"
        },
        "update": {
          "description": "Updates an existing content category.",
          "path": "userprofiles/{+profileId}/contentCategories",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.contentCategories.update",
          "flatPath": "userprofiles/{userprofilesId}/contentCategories",
          "parameters": {
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string"
            }
          },
          "request": {
            "$ref": "ContentCategory"
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "ContentCategory"
          }
        },
        "get": {
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "id": {
              "required": true,
              "format": "int64",
              "location": "path",
              "type": "string",
              "description": "Content category ID.",
              "pattern": "^[^/]+$"
            }
          },
          "id": "dfareporting.contentCategories.get",
          "path": "userprofiles/{+profileId}/contentCategories/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/contentCategories/{contentCategoriesId}",
          "description": "Gets one content category by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "ContentCategory"
          }
        }
      }
    },
    "campaignCreativeAssociations": {
      "methods": {
        "insert": {
          "parameterOrder": [
            "profileId",
            "campaignId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/campaigns/{campaignsId}/campaignCreativeAssociations",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "pattern": "^[^/]+$"
            },
            "campaignId": {
              "location": "path",
              "required": true,
              "description": "Campaign ID in this association.",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "path": "userprofiles/{+profileId}/campaigns/{+campaignId}/campaignCreativeAssociations",
          "description": "Associates a creative with the specified campaign. This method creates a default ad with dimensions matching the creative in the campaign if such a default ad does not exist already.",
          "id": "dfareporting.campaignCreativeAssociations.insert",
          "request": {
            "$ref": "CampaignCreativeAssociation"
          },
          "response": {
            "$ref": "CampaignCreativeAssociation"
          }
        },
        "list": {
          "parameters": {
            "sortOrder": {
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "location": "query",
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path"
            },
            "maxResults": {
              "default": "1000",
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Maximum number of results to return."
            },
            "campaignId": {
              "type": "string",
              "format": "int64",
              "description": "Campaign ID in this association.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "id": "dfareporting.campaignCreativeAssociations.list",
          "parameterOrder": [
            "profileId",
            "campaignId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/campaigns/{campaignsId}/campaignCreativeAssociations",
          "path": "userprofiles/{+profileId}/campaigns/{+campaignId}/campaignCreativeAssociations",
          "description": "Retrieves the list of creative IDs associated with the specified campaign. This method supports paging.",
          "httpMethod": "GET",
          "response": {
            "$ref": "CampaignCreativeAssociationsListResponse"
          }
        }
      }
    },
    "subaccounts": {
      "methods": {
        "patch": {
          "description": "Updates an existing subaccount. This method supports patch semantics.",
          "id": "dfareporting.subaccounts.patch",
          "path": "userprofiles/{+profileId}/subaccounts",
          "request": {
            "$ref": "Subaccount"
          },
          "response": {
            "$ref": "Subaccount"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "id": {
              "description": "Required. Subaccount ID.",
              "format": "int64",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "profileId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/subaccounts",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "description": "Gets a list of subaccounts, possibly filtered. This method supports paging.",
          "parameters": {
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "type": "string",
              "location": "query",
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request."
            },
            "ids": {
              "repeated": true,
              "description": "Select only subaccounts with these IDs.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "default": "1000",
              "format": "int32",
              "location": "query",
              "description": "Maximum number of results to return.",
              "type": "integer"
            },
            "sortOrder": {
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "type": "string",
              "default": "ASCENDING"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"subaccount*2015\" will return objects with names like \"subaccount June 2015\", \"subaccount April 2015\", or simply \"subaccount 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"subaccount\" will match objects with name \"my subaccount\", \"subaccount 2015\", or simply \"subaccount\" .",
              "location": "query",
              "type": "string"
            }
          },
          "id": "dfareporting.subaccounts.list",
          "path": "userprofiles/{+profileId}/subaccounts",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "SubaccountsListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/subaccounts"
        },
        "insert": {
          "request": {
            "$ref": "Subaccount"
          },
          "id": "dfareporting.subaccounts.insert",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "POST",
          "description": "Inserts a new subaccount.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/subaccounts",
          "flatPath": "userprofiles/{userprofilesId}/subaccounts",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true
            }
          },
          "response": {
            "$ref": "Subaccount"
          }
        },
        "get": {
          "id": "dfareporting.subaccounts.get",
          "path": "userprofiles/{+profileId}/subaccounts/{+id}",
          "description": "Gets one subaccount by ID.",
          "flatPath": "userprofiles/{userprofilesId}/subaccounts/{subaccountsId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "id": {
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Subaccount ID.",
              "format": "int64",
              "type": "string",
              "location": "path"
            },
            "profileId": {
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Subaccount"
          },
          "httpMethod": "GET"
        },
        "update": {
          "description": "Updates an existing subaccount.",
          "httpMethod": "PUT",
          "flatPath": "userprofiles/{userprofilesId}/subaccounts",
          "response": {
            "$ref": "Subaccount"
          },
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            }
          },
          "path": "userprofiles/{+profileId}/subaccounts",
          "id": "dfareporting.subaccounts.update",
          "request": {
            "$ref": "Subaccount"
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "dynamicTargetingKeys": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "advertiserId": {
              "format": "int64",
              "description": "Select only dynamic targeting keys whose object has this advertiser ID.",
              "type": "string",
              "location": "query"
            },
            "objectType": {
              "description": "Select only dynamic targeting keys with this object type.",
              "type": "string",
              "enum": [
                "OBJECT_ADVERTISER",
                "OBJECT_AD",
                "OBJECT_CREATIVE",
                "OBJECT_PLACEMENT"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ]
            },
            "objectId": {
              "type": "string",
              "location": "query",
              "description": "Select only dynamic targeting keys with this object ID.",
              "format": "int64"
            },
            "names": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "Select only dynamic targeting keys exactly matching these names."
            }
          },
          "response": {
            "$ref": "DynamicTargetingKeysListResponse"
          },
          "httpMethod": "GET",
          "id": "dfareporting.dynamicTargetingKeys.list",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves a list of dynamic targeting keys.",
          "flatPath": "userprofiles/{userprofilesId}/dynamicTargetingKeys",
          "path": "userprofiles/{+profileId}/dynamicTargetingKeys"
        },
        "delete": {
          "flatPath": "userprofiles/{userprofilesId}/dynamicTargetingKeys/{dynamicTargetingKeysId}",
          "path": "userprofiles/{+profileId}/dynamicTargetingKeys/{+objectId}",
          "description": "Deletes an existing dynamic targeting key.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "objectId": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "ID of the object of this dynamic targeting key. This is a required field.",
              "location": "path",
              "format": "int64"
            },
            "profileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "format": "int64"
            },
            "name": {
              "location": "query",
              "required": true,
              "type": "string",
              "description": "Required. Name of this dynamic targeting key. This is a required field. Must be less than 256 characters long and cannot contain commas. All characters are converted to lowercase."
            },
            "objectType": {
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "location": "query",
              "required": true,
              "description": "Required. Type of the object of this dynamic targeting key. This is a required field.",
              "enum": [
                "OBJECT_ADVERTISER",
                "OBJECT_AD",
                "OBJECT_CREATIVE",
                "OBJECT_PLACEMENT"
              ]
            }
          },
          "parameterOrder": [
            "profileId",
            "objectId",
            "name",
            "objectType"
          ],
          "id": "dfareporting.dynamicTargetingKeys.delete"
        },
        "insert": {
          "request": {
            "$ref": "DynamicTargetingKey"
          },
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/dynamicTargetingKeys",
          "id": "dfareporting.dynamicTargetingKeys.insert",
          "parameters": {
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/dynamicTargetingKeys",
          "response": {
            "$ref": "DynamicTargetingKey"
          },
          "description": "Inserts a new dynamic targeting key. Keys must be created at the advertiser level before being assigned to the advertiser's ads, creatives, or placements. There is a maximum of 1000 keys per advertiser, out of which a maximum of 20 keys can be assigned per ad, creative, or placement.",
          "httpMethod": "POST"
        }
      }
    },
    "billingRates": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/billingProfiles/{+billingProfileId}/billingRates",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.billingRates.list",
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}/billingRates",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            },
            "billingProfileId": {
              "description": "Billing profile ID of this billing rate.",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "BillingRatesListResponse"
          },
          "description": "Retrieves a list of billing rates. This method supports paging.",
          "parameterOrder": [
            "profileId",
            "billingProfileId"
          ]
        }
      }
    },
    "userRoles": {
      "methods": {
        "update": {
          "httpMethod": "PUT",
          "path": "userprofiles/{+profileId}/userRoles",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/userRoles",
          "id": "dfareporting.userRoles.update",
          "request": {
            "$ref": "UserRole"
          },
          "description": "Updates an existing user role.",
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            }
          },
          "response": {
            "$ref": "UserRole"
          }
        },
        "delete": {
          "id": "dfareporting.userRoles.delete",
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User role ID."
            },
            "profileId": {
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/userRoles/{+id}",
          "httpMethod": "DELETE",
          "flatPath": "userprofiles/{userprofilesId}/userRoles/{userRolesId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Deletes an existing user role."
        },
        "patch": {
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "description": "Required. UserRole ID.",
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "query"
            }
          },
          "request": {
            "$ref": "UserRole"
          },
          "description": "Updates an existing user role. This method supports patch semantics.",
          "flatPath": "userprofiles/{userprofilesId}/userRoles",
          "response": {
            "$ref": "UserRole"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.userRoles.patch",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "PATCH",
          "path": "userprofiles/{+profileId}/userRoles"
        },
        "list": {
          "parameters": {
            "accountUserRoleOnly": {
              "location": "query",
              "description": "Select only account level user roles not associated with any specific subaccount.",
              "type": "boolean"
            },
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "default": "1000",
              "description": "Maximum number of results to return.",
              "location": "query"
            },
            "ids": {
              "type": "string",
              "description": "Select only user roles with the specified IDs.",
              "format": "int64",
              "repeated": true,
              "location": "query"
            },
            "subaccountId": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "Select only user roles that belong to this subaccount."
            },
            "sortOrder": {
              "default": "ASCENDING",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query",
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"userrole*2015\" will return objects with names like \"userrole June 2015\", \"userrole April 2015\", or simply \"userrole 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"userrole\" will match objects with name \"my userrole\", \"userrole 2015\", or simply \"userrole\".",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "default": "ID",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "location": "query"
            }
          },
          "description": "Retrieves a list of user roles, possibly filtered. This method supports paging.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/userRoles",
          "response": {
            "$ref": "UserRolesListResponse"
          },
          "id": "dfareporting.userRoles.list",
          "flatPath": "userprofiles/{userprofilesId}/userRoles",
          "parameterOrder": [
            "profileId"
          ]
        },
        "insert": {
          "response": {
            "$ref": "UserRole"
          },
          "request": {
            "$ref": "UserRole"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/userRoles",
          "path": "userprofiles/{+profileId}/userRoles",
          "httpMethod": "POST",
          "description": "Inserts a new user role.",
          "id": "dfareporting.userRoles.insert"
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Gets one user role by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/userRoles/{+id}",
          "response": {
            "$ref": "UserRole"
          },
          "flatPath": "userprofiles/{userprofilesId}/userRoles/{userRolesId}",
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "id": {
              "location": "path",
              "required": true,
              "description": "User role ID.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "id": "dfareporting.userRoles.get",
          "httpMethod": "GET"
        }
      }
    },
    "accounts": {
      "methods": {
        "get": {
          "id": "dfareporting.accounts.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/accounts/{accountsId}",
          "response": {
            "$ref": "Account"
          },
          "parameters": {
            "id": {
              "pattern": "^[^/]+$",
              "description": "Account ID.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "httpMethod": "GET",
          "description": "Gets one account by ID.",
          "path": "userprofiles/{+profileId}/accounts/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves the list of accounts, possibly filtered. This method supports paging.",
          "path": "userprofiles/{+profileId}/accounts",
          "response": {
            "$ref": "AccountsListResponse"
          },
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/accounts",
          "parameters": {
            "sortOrder": {
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING",
              "type": "string",
              "description": "Order of sorted results.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query"
            },
            "ids": {
              "repeated": true,
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Select only accounts with these IDs."
            },
            "profileId": {
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "searchString": {
              "location": "query",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"account*2015\" will return objects with names like \"account June 2015\", \"account April 2015\", or simply \"account 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"account\" will match objects with name \"my account\", \"account 2015\", or simply \"account\".",
              "type": "string"
            },
            "active": {
              "type": "boolean",
              "description": "Select only active accounts. Don't set this field to select both active and non-active accounts.",
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "location": "query",
              "type": "integer",
              "format": "int32",
              "default": "1000"
            },
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "default": "ID",
              "description": "Field by which to sort the list.",
              "enum": [
                "ID",
                "NAME"
              ],
              "type": "string"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "dfareporting.accounts.list"
        },
        "patch": {
          "flatPath": "userprofiles/{userprofilesId}/accounts",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.accounts.patch",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Updates an existing account. This method supports patch semantics.",
          "parameters": {
            "id": {
              "location": "query",
              "format": "int64",
              "description": "Required. Account ID.",
              "required": true,
              "type": "string"
            },
            "profileId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "type": "string"
            }
          },
          "request": {
            "$ref": "Account"
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Account"
          },
          "path": "userprofiles/{+profileId}/accounts"
        },
        "update": {
          "path": "userprofiles/{+profileId}/accounts",
          "description": "Updates an existing account.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/accounts",
          "request": {
            "$ref": "Account"
          },
          "id": "dfareporting.accounts.update",
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "Account"
          },
          "parameterOrder": [
            "profileId"
          ]
        }
      }
    },
    "browsers": {
      "methods": {
        "list": {
          "id": "dfareporting.browsers.list",
          "response": {
            "$ref": "BrowsersListResponse"
          },
          "path": "userprofiles/{+profileId}/browsers",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves a list of browsers.",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/browsers",
          "httpMethod": "GET"
        }
      }
    },
    "accountPermissions": {
      "methods": {
        "get": {
          "path": "userprofiles/{+profileId}/accountPermissions/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/accountPermissions/{accountPermissionsId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "id": {
              "description": "Account permission ID.",
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "required": true
            }
          },
          "description": "Gets one account permission by ID.",
          "id": "dfareporting.accountPermissions.get",
          "response": {
            "$ref": "AccountPermission"
          }
        },
        "list": {
          "response": {
            "$ref": "AccountPermissionsListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/accountPermissions",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "id": "dfareporting.accountPermissions.list",
          "description": "Retrieves the list of account permissions.",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/accountPermissions",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "operatingSystemVersions": {
      "methods": {
        "get": {
          "response": {
            "$ref": "OperatingSystemVersion"
          },
          "id": "dfareporting.operatingSystemVersions.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one operating system version by ID.",
          "flatPath": "userprofiles/{userprofilesId}/operatingSystemVersions/{operatingSystemVersionsId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "Operating system version ID."
            },
            "profileId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path"
            }
          },
          "path": "userprofiles/{+profileId}/operatingSystemVersions/{+id}"
        },
        "list": {
          "id": "dfareporting.operatingSystemVersions.list",
          "flatPath": "userprofiles/{userprofilesId}/operatingSystemVersions",
          "response": {
            "$ref": "OperatingSystemVersionsListResponse"
          },
          "path": "userprofiles/{+profileId}/operatingSystemVersions",
          "description": "Retrieves a list of operating system versions.",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "accountUserProfiles": {
      "methods": {
        "patch": {
          "httpMethod": "PATCH",
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "parameters": {
            "id": {
              "description": "Required. AccountUserProfile ID.",
              "location": "query",
              "type": "string",
              "required": true,
              "format": "int64"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "format": "int64",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.accountUserProfiles.patch",
          "description": "Updates an existing user role. This method supports patch semantics.",
          "request": {
            "$ref": "AccountUserProfile"
          },
          "response": {
            "$ref": "AccountUserProfile"
          }
        },
        "update": {
          "id": "dfareporting.accountUserProfiles.update",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "response": {
            "$ref": "AccountUserProfile"
          },
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "httpMethod": "PUT",
          "description": "Updates an existing account user profile.",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64"
            }
          },
          "request": {
            "$ref": "AccountUserProfile"
          }
        },
        "list": {
          "description": "Retrieves a list of account user profiles, possibly filtered. This method supports paging.",
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "id": "dfareporting.accountUserProfiles.list",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "ids": {
              "repeated": true,
              "description": "Select only user profiles with these IDs.",
              "format": "int64",
              "type": "string",
              "location": "query"
            },
            "userRoleId": {
              "type": "string",
              "description": "Select only user profiles with the specified user role ID.",
              "format": "int64",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "default": "1000",
              "description": "Maximum number of results to return.",
              "format": "int32"
            },
            "active": {
              "description": "Select only active user profiles.",
              "location": "query",
              "type": "boolean"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            },
            "searchString": {
              "type": "string",
              "location": "query",
              "description": "Allows searching for objects by name, ID or email. Wildcards (*) are allowed. For example, \"user profile*2015\" will return objects with names like \"user profile June 2015\", \"user profile April 2015\", or simply \"user profile 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"user profile\" will match objects with name \"my user profile\", \"user profile 2015\", or simply \"user profile\"."
            },
            "subaccountId": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "Select only user profiles with the specified subaccount ID."
            },
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "location": "query",
              "default": "ID",
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "response": {
            "$ref": "AccountUserProfilesListResponse"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string",
              "format": "int64"
            },
            "id": {
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID.",
              "location": "path"
            }
          },
          "description": "Gets one account user profile by ID.",
          "id": "dfareporting.accountUserProfiles.get",
          "path": "userprofiles/{profileId}/accountUserProfiles/{+id}",
          "response": {
            "$ref": "AccountUserProfile"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{profileId}/accountUserProfiles/{accountUserProfilesId}"
        },
        "insert": {
          "id": "dfareporting.accountUserProfiles.insert",
          "parameters": {
            "profileId": {
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "description": "Inserts a new account user profile.",
          "response": {
            "$ref": "AccountUserProfile"
          },
          "request": {
            "$ref": "AccountUserProfile"
          },
          "httpMethod": "POST"
        }
      }
    },
    "metros": {
      "methods": {
        "list": {
          "response": {
            "$ref": "MetrosListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.metros.list",
          "description": "Retrieves a list of metros.",
          "path": "userprofiles/{+profileId}/metros",
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/metros"
        }
      }
    },
    "cities": {
      "methods": {
        "list": {
          "response": {
            "$ref": "CitiesListResponse"
          },
          "httpMethod": "GET",
          "id": "dfareporting.cities.list",
          "description": "Retrieves a list of cities, possibly filtered.",
          "path": "userprofiles/{+profileId}/cities",
          "flatPath": "userprofiles/{userprofilesId}/cities",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "countryDartIds": {
              "type": "string",
              "description": "Select only cities from these countries.",
              "repeated": true,
              "location": "query",
              "format": "int64"
            },
            "regionDartIds": {
              "description": "Select only cities from these regions.",
              "type": "string",
              "format": "int64",
              "repeated": true,
              "location": "query"
            },
            "namePrefix": {
              "description": "Select only cities with names starting with this prefix.",
              "location": "query",
              "type": "string"
            },
            "dartIds": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "format": "int64",
              "description": "Select only cities with these DART IDs."
            }
          }
        }
      }
    },
    "dimensionValues": {
      "methods": {
        "query": {
          "parameters": {
            "maxResults": {
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32",
              "type": "integer",
              "default": "100"
            },
            "profileId": {
              "location": "path",
              "description": "The Campaign Manager 360 user profile ID.",
              "format": "int64",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "description": "The value of the nextToken from the previous result page.",
              "type": "string",
              "location": "query"
            }
          },
          "request": {
            "$ref": "DimensionValueRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "description": "Retrieves list of report dimension values for a list of filters.",
          "path": "userprofiles/{profileId}/dimensionvalues/query",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "DimensionValueList"
          },
          "flatPath": "userprofiles/{profileId}/dimensionvalues/query",
          "httpMethod": "POST",
          "id": "dfareporting.dimensionValues.query"
        }
      }
    },
    "remarketingListShares": {
      "methods": {
        "update": {
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "description": "Updates an existing remarketing list share.",
          "httpMethod": "PUT",
          "path": "userprofiles/{+profileId}/remarketingListShares",
          "request": {
            "$ref": "RemarketingListShare"
          },
          "id": "dfareporting.remarketingListShares.update",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "RemarketingListShare"
          },
          "flatPath": "userprofiles/{userprofilesId}/remarketingListShares"
        },
        "patch": {
          "response": {
            "$ref": "RemarketingListShare"
          },
          "parameters": {
            "profileId": {
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "description": "Required. RemarketingList ID.",
              "type": "string",
              "format": "int64",
              "location": "query",
              "required": true
            }
          },
          "description": "Updates an existing RemarketingListShare. This method supports patch semantics.",
          "request": {
            "$ref": "RemarketingListShare"
          },
          "id": "dfareporting.remarketingListShares.patch",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/remarketingListShares",
          "httpMethod": "PATCH",
          "path": "userprofiles/{+profileId}/remarketingListShares"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "remarketingListId"
          ],
          "response": {
            "$ref": "RemarketingListShare"
          },
          "parameters": {
            "remarketingListId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Remarketing list ID.",
              "type": "string",
              "format": "int64",
              "required": true
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path"
            }
          },
          "path": "userprofiles/{+profileId}/remarketingListShares/{+remarketingListId}",
          "id": "dfareporting.remarketingListShares.get",
          "description": "Gets one remarketing list share by remarketing list ID.",
          "flatPath": "userprofiles/{userprofilesId}/remarketingListShares/{remarketingListSharesId}"
        }
      }
    },
    "userProfiles": {
      "methods": {
        "list": {
          "response": {
            "$ref": "UserProfileList"
          },
          "description": "Retrieves list of user profiles for a user.",
          "id": "dfareporting.userProfiles.list",
          "flatPath": "userprofiles",
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/ddmconversions",
            "https://www.googleapis.com/auth/dfareporting",
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles"
        },
        "get": {
          "httpMethod": "GET",
          "description": "Gets one user profile by ID.",
          "flatPath": "userprofiles/{profileId}",
          "path": "userprofiles/{profileId}",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/ddmconversions",
            "https://www.googleapis.com/auth/dfareporting",
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.userProfiles.get",
          "response": {
            "$ref": "UserProfile"
          },
          "parameters": {
            "profileId": {
              "description": "The user profile ID.",
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true
            }
          }
        }
      }
    },
    "languages": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves a list of languages.",
          "response": {
            "$ref": "LanguagesListResponse"
          },
          "id": "dfareporting.languages.list",
          "path": "userprofiles/{+profileId}/languages",
          "parameters": {
            "profileId": {
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/languages"
        }
      }
    },
    "directorySites": {
      "methods": {
        "get": {
          "response": {
            "$ref": "DirectorySite"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/directorySites/{+id}",
          "parameters": {
            "id": {
              "type": "string",
              "format": "int64",
              "description": "Directory site ID.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            },
            "profileId": {
              "type": "string",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request."
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.directorySites.get",
          "flatPath": "userprofiles/{userprofilesId}/directorySites/{directorySitesId}",
          "description": "Gets one directory site by ID."
        },
        "insert": {
          "path": "userprofiles/{+profileId}/directorySites",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "DirectorySite"
          },
          "parameters": {
            "profileId": {
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request."
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/directorySites",
          "httpMethod": "POST",
          "description": "Inserts a new directory site.",
          "response": {
            "$ref": "DirectorySite"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.directorySites.insert"
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.directorySites.list",
          "description": "Retrieves a list of directory sites, possibly filtered. This method supports paging.",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "default": "1000"
            },
            "searchString": {
              "description": "Allows searching for objects by name, ID or URL. Wildcards (*) are allowed. For example, \"directory site*2015\" will return objects with names like \"directory site June 2015\", \"directory site April 2015\", or simply \"directory site 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"directory site\" will match objects with name \"my directory site\", \"directory site 2015\" or simply, \"directory site\".",
              "type": "string",
              "location": "query"
            },
            "acceptsInterstitialPlacements": {
              "description": "This search filter is no longer supported and will have no effect on the results returned.",
              "location": "query",
              "type": "boolean"
            },
            "sortField": {
              "default": "ID",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list."
            },
            "dfpNetworkCode": {
              "type": "string",
              "location": "query",
              "description": "Select only directory sites with this Ad Manager network code."
            },
            "ids": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Select only directory sites with these IDs.",
              "repeated": true
            },
            "acceptsPublisherPaidPlacements": {
              "type": "boolean",
              "description": "Select only directory sites that accept publisher paid placements. This field can be left blank.",
              "location": "query"
            },
            "sortOrder": {
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
[...]
