{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "revision": "20220314",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "protocol": "rest",
  "title": "Dialogflow API",
  "resources": {
    "projects": {
      "resources": {
        "knowledgeBases": {
          "resources": {
            "documents": {
              "methods": {
                "reload": {
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$",
                      "description": "Required. The name of the document to reload. Format: `projects//locations//knowledgeBases//documents/`"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "dialogflow.projects.knowledgeBases.documents.reload",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}:reload",
                  "path": "v2beta1/{+name}:reload",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1ReloadDocumentRequest"
                  },
                  "description": "Reloads the specified document from its specified source, content_uri or content. The previously loaded content of the document will be deleted. Note: Even when the content of the document has not changed, there still may be side effects because of internal implementation changes. Note: If the document source is Google Cloud Storage URI, its metadata will be replaced with the custom metadata from Google Cloud Storage if the `import_gcs_custom_metadata` field is set to true in the request. This method is a [long-running operation](https://cloud.google.com/dialogflow/cx/docs/how/long-running-operation). The returned `Operation` type has the following method-specific fields: - `metadata`: KnowledgeOperationMetadata - `response`: Document Note: The `projects.agent.knowledgeBases.documents` resource is deprecated; only use `projects.knowledgeBases.documents`."
                },
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.knowledgeBases.documents.get",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Document"
                  },
                  "description": "Retrieves the specified document. Note: The `projects.agent.knowledgeBases.documents` resource is deprecated; only use `projects.knowledgeBases.documents`.",
                  "path": "v2beta1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the document to retrieve. Format `projects//locations//knowledgeBases//documents/`.",
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "import": {
                  "path": "v2beta1/{+parent}/documents:import",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "dialogflow.projects.knowledgeBases.documents.import",
                  "description": "Create documents by importing data from external sources. Dialogflow supports up to 350 documents in each request. If you try to import more, Dialogflow will return an error. This method is a [long-running operation](https://cloud.google.com/dialogflow/cx/docs/how/long-running-operation). The returned `Operation` type has the following method-specific fields: - `metadata`: KnowledgeOperationMetadata - `response`: ImportDocumentsResponse",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents:import",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$",
                      "description": "Required. The knowledge base to import documents into. Format: `projects//locations//knowledgeBases/`.",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1ImportDocumentsRequest"
                  }
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "description": "Creates a new document. This method is a [long-running operation](https://cloud.google.com/dialogflow/cx/docs/how/long-running-operation). The returned `Operation` type has the following method-specific fields: - `metadata`: KnowledgeOperationMetadata - `response`: Document Note: The `projects.agent.knowledgeBases.documents` resource is deprecated; only use `projects.knowledgeBases.documents`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.knowledgeBases.documents.create",
                  "parameters": {
                    "importGcsCustomMetadata": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Whether to import custom metadata from Google Cloud Storage. Only valid when the document source is Google Cloud Storage URI."
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$",
                      "type": "string",
                      "description": "Required. The knowledge base to create a document for. Format: `projects//locations//knowledgeBases/`.",
                      "location": "path"
                    }
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents",
                  "path": "v2beta1/{+parent}/documents",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Document"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "list": {
                  "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents",
                  "path": "v2beta1/{+parent}/documents",
                  "id": "dialogflow.projects.knowledgeBases.documents.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$",
                      "description": "Required. The knowledge base to list all documents for. Format: `projects//locations//knowledgeBases/`."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The filter expression used to filter documents returned by the list method. The expression has the following syntax: [AND ] ... The following fields and operators are supported: * knowledge_types with has(:) operator * display_name with has(:) operator * state with equals(=) operator Examples: * \"knowledge_types:FAQ\" matches documents with FAQ knowledge type. * \"display_name:customer\" matches documents whose display name contains \"customer\". * \"state=ACTIVE\" matches documents with ACTIVE state. * \"knowledge_types:FAQ AND state=ACTIVE\" matches all active FAQ documents. For more information about filtering, see [API Filtering](https://aip.dev/160)."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token value returned from a previous list request.",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of items to return in a single page. By default 10 and at most 100.",
                      "format": "int32"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Returns the list of all documents of the knowledge base. Note: The `projects.agent.knowledgeBases.documents` resource is deprecated; only use `projects.knowledgeBases.documents`.",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListDocumentsResponse"
                  }
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Document"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the specified document. This method is a [long-running operation](https://cloud.google.com/dialogflow/cx/docs/how/long-running-operation). The returned `Operation` type has the following method-specific fields: - `metadata`: KnowledgeOperationMetadata - `response`: Document Note: The `projects.agent.knowledgeBases.documents` resource is deprecated; only use `projects.knowledgeBases.documents`.",
                  "id": "dialogflow.projects.knowledgeBases.documents.patch",
                  "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "name": {
                      "description": "Optional. The document resource name. The name must be empty when creating a document. Format: `projects//locations//knowledgeBases//documents/`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$",
                      "required": true
                    },
                    "updateMask": {
                      "description": "Optional. Not specified means `update all`. Currently, only `display_name` can be updated, an InvalidArgument will be returned for attempting to update other fields.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "path": "v2beta1/{+name}"
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                  "id": "dialogflow.projects.knowledgeBases.documents.delete",
                  "description": "Deletes the specified document. This method is a [long-running operation](https://cloud.google.com/dialogflow/cx/docs/how/long-running-operation). The returned `Operation` type has the following method-specific fields: - `metadata`: KnowledgeOperationMetadata - `response`: An [Empty message](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#empty) Note: The `projects.agent.knowledgeBases.documents` resource is deprecated; only use `projects.knowledgeBases.documents`.",
                  "path": "v2beta1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$",
                      "description": "Required. The name of the document to delete. Format: `projects//locations//knowledgeBases//documents/`."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                }
              }
            }
          },
          "methods": {
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes the specified knowledge base. Note: The `projects.agent.knowledgeBases` resource is deprecated; only use `projects.knowledgeBases`.",
              "path": "v2beta1/{+name}",
              "httpMethod": "DELETE",
              "id": "dialogflow.projects.knowledgeBases.delete",
              "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$",
                  "description": "Required. The name of the knowledge base to delete. Format: `projects//locations//knowledgeBases/`.",
                  "required": true
                },
                "force": {
                  "type": "boolean",
                  "description": "Optional. Force deletes the knowledge base. When set to true, any documents in the knowledge base are also deleted.",
                  "location": "query"
                }
              }
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "id": "dialogflow.projects.knowledgeBases.get",
              "description": "Retrieves the specified knowledge base. Note: The `projects.agent.knowledgeBases` resource is deprecated; only use `projects.knowledgeBases`.",
              "path": "v2beta1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the knowledge base to retrieve. Format `projects//locations//knowledgeBases/`.",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}"
            },
            "list": {
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ListKnowledgeBasesResponse"
              },
              "path": "v2beta1/{+parent}/knowledgeBases",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of items to return in a single page. By default 10 and at most 100.",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The project to list of knowledge bases for. Format: `projects//locations/`.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The next_page_token value returned from a previous list request."
                },
                "filter": {
                  "description": "The filter expression used to filter knowledge bases returned by the list method. The expression has the following syntax: [AND ] ... The following fields and operators are supported: * display_name with has(:) operator * language_code with equals(=) operator Examples: * 'language_code=en-us' matches knowledge bases with en-us language code. * 'display_name:articles' matches knowledge bases whose display name contains \"articles\". * 'display_name:\"Best Articles\"' matches knowledge bases whose display name contains \"Best Articles\". * 'language_code=en-gb AND display_name=articles' matches all knowledge bases whose display name contains \"articles\" and whose language code is \"en-gb\". Note: An empty filter string (i.e. \"\") is a no-op and will result in no filtering. For more information about filtering, see [API Filtering](https://aip.dev/160).",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "Returns the list of all knowledge bases of the specified agent. Note: The `projects.agent.knowledgeBases` resource is deprecated; only use `projects.knowledgeBases`.",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "id": "dialogflow.projects.knowledgeBases.list"
            },
            "patch": {
              "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
              },
              "description": "Updates the specified knowledge base. Note: The `projects.agent.knowledgeBases` resource is deprecated; only use `projects.knowledgeBases`.",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Optional. Not specified means `update all`. Currently, only `display_name` can be updated, an InvalidArgument will be returned for attempting to update other fields.",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "description": "The knowledge base resource name. The name must be empty when creating a knowledge base. Format: `projects//locations//knowledgeBases/`.",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$"
                }
              },
              "path": "v2beta1/{+name}",
              "id": "dialogflow.projects.knowledgeBases.patch"
            },
            "create": {
              "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "Required. The project to create a knowledge base for. Format: `projects//locations/`."
                }
              },
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v2beta1/{+parent}/knowledgeBases",
              "description": "Creates a knowledge base. Note: The `projects.agent.knowledgeBases` resource is deprecated; only use `projects.knowledgeBases`.",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "id": "dialogflow.projects.knowledgeBases.create"
            }
          }
        },
        "conversations": {
          "methods": {
            "complete": {
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1Conversation"
              },
              "path": "v2beta1/{+name}:complete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}:complete",
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1CompleteConversationRequest"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/conversations/[^/]+$",
                  "type": "string",
                  "description": "Required. Resource identifier of the conversation to close. Format: `projects//locations//conversations/`.",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "id": "dialogflow.projects.conversations.complete",
              "description": "Completes the specified conversation. Finished conversations are purged from the database after 30 days."
            },
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/conversations/[^/]+$",
                  "description": "Required. The name of the conversation. Format: `projects//locations//conversations/`.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}",
              "id": "dialogflow.projects.conversations.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "Retrieves the specific conversation.",
              "path": "v2beta1/{+name}",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1Conversation"
              }
            },
            "create": {
              "id": "dialogflow.projects.conversations.create",
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1Conversation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1Conversation"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "path": "v2beta1/{+parent}/conversations",
              "flatPath": "v2beta1/projects/{projectsId}/conversations",
              "description": "Creates a new conversation. Conversations are auto-completed after 24 hours. Conversation Lifecycle: There are two stages during a conversation: Automated Agent Stage and Assist Stage. For Automated Agent Stage, there will be a dialogflow agent responding to user queries. For Assist Stage, there's no dialogflow agent responding to user queries. But we will provide suggestions which are generated from conversation. If Conversation.conversation_profile is configured for a dialogflow agent, conversation will start from `Automated Agent Stage`, otherwise, it will start from `Assist Stage`. And during `Automated Agent Stage`, once an Intent with Intent.live_agent_handoff is triggered, conversation will transfer to Assist Stage.",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Resource identifier of the project creating the conversation. Format: `projects//locations/`."
                },
                "conversationId": {
                  "location": "query",
                  "description": "Optional. Identifier of the conversation. Generally it's auto generated by Google. Only set it if you cannot wait for the response to return a auto-generated one to you. The conversation ID must be compliant with the regression fomula \"a-zA-Z*\" with the characters length in range of [3,64]. If the field is provided, the caller is resposible for 1. the uniqueness of the ID, otherwise the request will be rejected. 2. the consistency for whether to use custom ID or not under a project to better ensure uniqueness.",
                  "type": "string"
                }
              }
            },
            "list": {
              "id": "dialogflow.projects.conversations.list",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of items to return in a single page. By default 100 and at most 1000.",
                  "location": "query",
                  "format": "int32"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The project from which to list all conversation. Format: `projects//locations/`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                },
                "filter": {
                  "type": "string",
                  "description": "A filter expression that filters conversations listed in the response. In general, the expression must specify the field name, a comparison operator, and the value to use for filtering: - The value must be a string, a number, or a boolean. - The comparison operator must be either `=`,`!=`, `\u003e`, or `\u003c`. - To filter on multiple expressions, separate the expressions with `AND` or `OR` (omitting both implies `AND`). - For clarity, expressions can be enclosed in parentheses. Only `lifecycle_state` can be filtered on in this way. For example, the following expression only returns `COMPLETED` conversations: `lifecycle_state = \"COMPLETED\"` For more information about filtering, see [API Filtering](https://aip.dev/160).",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. The next_page_token value returned from a previous list request.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "flatPath": "v2beta1/projects/{projectsId}/conversations",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ListConversationsResponse"
              },
              "path": "v2beta1/{+parent}/conversations",
              "description": "Returns the list of all conversations in the specified project.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            }
          },
          "resources": {
            "messages": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The next_page_token value returned from a previous list request."
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The maximum number of items to return in a single page. By default 100 and at most 1000.",
                      "type": "integer",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the conversation to list messages for. Format: `projects//locations//conversations/`",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filter on message fields. Currently predicates on `create_time` and `create_time_epoch_microseconds` are supported. `create_time` only support milliseconds accuracy. E.g., `create_time_epoch_microseconds \u003e 1551790877964485` or `create_time \u003e \"2017-01-15T01:30:15.01Z\"`. For more information about filtering, see [API Filtering](https://aip.dev/160)."
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Lists messages that belong to a given conversation. `messages` are ordered by `create_time` in descending order. To fetch updates without duplication, send request with filter `create_time_epoch_microseconds \u003e [first item's create_time of previous request]` and empty page_token.",
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/messages",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListMessagesResponse"
                  },
                  "id": "dialogflow.projects.conversations.messages.list",
                  "path": "v2beta1/{+parent}/messages"
                },
                "batchCreate": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1BatchCreateMessagesResponse"
                  },
                  "path": "v2beta1/{+parent}/messages:batchCreate",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1BatchCreateMessagesRequest"
                  },
                  "httpMethod": "POST",
                  "description": "Batch ingests messages to conversation. Customers can use this RPC to ingest historical messages to conversation.",
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/messages:batchCreate",
                  "id": "dialogflow.projects.conversations.messages.batchCreate",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Resource identifier of the conversation to create message. Format: `projects//locations//conversations/`."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "participants": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListParticipantsResponse"
                  },
                  "path": "v2beta1/{+parent}/participants",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The maximum number of items to return in a single page. By default 100 and at most 1000."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The next_page_token value returned from a previous list request."
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "description": "Required. The conversation to list all participants from. Format: `projects//locations//conversations/`."
                    }
                  },
                  "id": "dialogflow.projects.conversations.participants.list",
                  "description": "Returns the list of all participants in the specified conversation.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants",
                  "httpMethod": "GET"
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Participant"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                      "description": "Required. The name of the participant. Format: `projects//locations//conversations//participants/`.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "dialogflow.projects.conversations.participants.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "Retrieves a conversation participant.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2beta1/{+name}",
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}"
                },
                "create": {
                  "description": "Creates a new participant in a conversation.",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Participant"
                  },
                  "path": "v2beta1/{+parent}/participants",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "POST",
                  "id": "dialogflow.projects.conversations.participants.create",
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Participant"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. Resource identifier of the conversation adding the participant. Format: `projects//locations//conversations/`.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/conversations/[^/]+$"
                    }
                  }
                },
                "analyzeContent": {
                  "description": "Adds a text (chat, for example), or audio (phone recording, for example) message from a participant into the conversation. Note: Always use agent versions for production traffic sent to virtual agents. See [Versions and environments](https://cloud.google.com/dialogflow/es/docs/agents-versions).",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "participant": {
                      "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the participant this text comes from. Format: `projects//locations//conversations//participants/`.",
                      "location": "path"
                    }
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}:analyzeContent",
                  "parameterOrder": [
                    "participant"
                  ],
                  "httpMethod": "POST",
                  "path": "v2beta1/{+participant}:analyzeContent",
                  "id": "dialogflow.projects.conversations.participants.analyzeContent",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1AnalyzeContentResponse"
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1AnalyzeContentRequest"
                  }
                },
                "patch": {
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "description": "Required. The mask to specify which fields to update.",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Optional. The unique identifier of this participant. Format: `projects//locations//conversations//participants/`."
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Participant"
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}",
                  "path": "v2beta1/{+name}",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Participant"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.conversations.participants.patch",
                  "description": "Updates the specified participant.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                }
              },
              "resources": {
                "suggestions": {
                  "methods": {
                    "suggestArticles": {
                      "parameters": {
                        "parent": {
                          "description": "Required. The name of the participant to fetch suggestion for. Format: `projects//locations//conversations//participants/`.",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestArticlesRequest"
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestArticlesResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.conversations.participants.suggestions.suggestArticles",
                      "description": "Gets suggested articles for a participant based on specific historical messages. Note that ListSuggestions will only list the auto-generated suggestions, while CompileSuggestion will try to compile suggestion based on the provided conversation context in the real time.",
                      "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestArticles",
                      "path": "v2beta1/{+parent}/suggestions:suggestArticles",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "list": {
                      "path": "v2beta1/{+parent}/suggestions",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the participant to fetch suggestions for. Format: `projects//locations//conversations//participants/`.",
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "location": "path"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The next_page_token value returned from a previous list request."
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Filter on suggestions fields. Currently predicates on `create_time` and `create_time_epoch_microseconds` are supported. `create_time` only support milliseconds accuracy. E.g., `create_time_epoch_microseconds \u003e 1551790877964485` or `create_time \u003e \"2017-01-15T01:30:15.01Z\"` For more information about filtering, see [API Filtering](https://aip.dev/160)."
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "Optional. The maximum number of items to return in a single page. The default value is 100; the maximum value is 1000.",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1ListSuggestionsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions",
                      "description": "Deprecated: Use inline suggestion, event based suggestion or Suggestion* API instead. See HumanAgentAssistantConfig.name for more details. Removal Date: 2020-09-01. Retrieves suggestions for live agents. This method should be used by human agent client software to fetch auto generated suggestions in real-time, while the conversation with an end user is in progress. The functionality is implemented in terms of the [list pagination](https://cloud.google.com/apis/design/design_patterns#list_pagination) design pattern. The client app should use the `next_page_token` field to fetch the next batch of suggestions. `suggestions` are sorted by `create_time` in descending order. To fetch latest suggestion, just set `page_size` to 1. To fetch new suggestions without duplication, send request with filter `create_time_epoch_microseconds \u003e [first item's create_time of previous request]` and empty page_token.",
                      "id": "dialogflow.projects.conversations.participants.suggestions.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET"
                    },
                    "compile": {
                      "path": "v2beta1/{+parent}/suggestions:compile",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1CompileSuggestionResponse"
                      },
                      "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:compile",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1CompileSuggestionRequest"
                      },
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "Required. The name of the participant to fetch suggestion for. Format: `projects//locations//conversations//participants/`.",
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST",
                      "id": "dialogflow.projects.conversations.participants.suggestions.compile",
                      "description": "Deprecated. use SuggestArticles and SuggestFaqAnswers instead. Gets suggestions for a participant based on specific historical messages. Note that ListSuggestions will only list the auto-generated suggestions, while CompileSuggestion will try to compile suggestion based on the provided conversation context in the real time.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "suggestSmartReplies": {
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesRequest"
                      },
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the participant to fetch suggestion for. Format: `projects//locations//conversations//participants/`.",
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "type": "string"
                        }
                      },
                      "path": "v2beta1/{+parent}/suggestions:suggestSmartReplies",
                      "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestSmartReplies",
                      "id": "dialogflow.projects.conversations.participants.suggestions.suggestSmartReplies",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "Gets smart replies for a participant based on specific historical messages.",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse"
                      }
                    },
                    "suggestFaqAnswers": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "required": true,
                          "description": "Required. The name of the participant to fetch suggestion for. Format: `projects//locations//conversations//participants/`.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "description": "Gets suggested faq answers for a participant based on specific historical messages.",
                      "path": "v2beta1/{+parent}/suggestions:suggestFaqAnswers",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestFaqAnswers",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersRequest"
                      },
                      "id": "dialogflow.projects.conversations.participants.suggestions.suggestFaqAnswers"
                    }
                  }
                }
              }
            }
          }
        },
        "locations": {
          "methods": {
            "getAgent": {
              "id": "dialogflow.projects.locations.getAgent",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1Agent"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. The project that the agent to fetch is associated with. Format: `projects/` or `projects//locations/`."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "path": "v2beta1/{+parent}/agent",
              "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent",
              "description": "Retrieves the specified agent.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            },
            "setAgent": {
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1Agent"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. The project of this agent. Format: `projects/` or `projects//locations/`",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Optional. The mask to control which fields get updated."
                }
              },
              "path": "v2beta1/{+parent}/agent",
              "description": "Creates/updates the specified agent. Note: You should always train an agent prior to sending it queries. See the [training documentation](https://cloud.google.com/dialogflow/es/docs/training).",
              "id": "dialogflow.projects.locations.setAgent",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1Agent"
              },
              "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "POST"
            },
            "deleteAgent": {
              "path": "v2beta1/{+parent}/agent",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "DELETE",
              "id": "dialogflow.projects.locations.deleteAgent",
              "parameterOrder": [
                "parent"
              ],
              "description": "Deletes the specified agent.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. The project that the agent to delete is associated with. Format: `projects/` or `projects//locations/`."
                }
              },
              "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "list": {
              "description": "Lists information about the supported locations for this service.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable."
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like \"displayName=tokyo\", and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                }
              },
              "id": "dialogflow.projects.locations.list",
              "response": {
                "$ref": "GoogleCloudLocationListLocationsResponse"
              },
              "path": "v2beta1/{+name}/locations",
              "flatPath": "v2beta1/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}",
              "description": "Gets information about a location.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudLocationLocation"
              },
              "id": "dialogflow.projects.locations.get"
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "path": "v2beta1/{+name}",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.locations.operations.get",
                  "httpMethod": "GET"
                },
                "cancel": {
                  "id": "dialogflow.projects.locations.operations.cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v2beta1/{+name}:cancel",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "POST"
                },
                "list": {
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/operations",
                  "id": "dialogflow.projects.locations.operations.list",
                  "path": "v2beta1/{+name}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource."
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The standard list page size.",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                }
              }
            },
            "answerRecords": {
              "methods": {
                "list": {
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/answerRecords",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.locations.answerRecords.list",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListAnswerRecordsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Returns the list of all answer records in the specified project in reverse chronological order.",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The project to list all answer records for in reverse chronological order. Format: `projects//locations/`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "Optional. The ListAnswerRecordsResponse.next_page_token value returned from a previous list request used to continue listing on the next page.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The maximum number of records to return in a single page. The server may return fewer records than this. If unspecified, we use 10. The maximum is 100.",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "path": "v2beta1/{+parent}/answerRecords"
                },
                "get": {
                  "path": "v2beta1/{+name}",
                  "httpMethod": "GET",
                  "description": "Deprecated. Retrieves a specific answer record.",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1AnswerRecord"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/answerRecords/{answerRecordsId}",
                  "id": "dialogflow.projects.locations.answerRecords.get",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/answerRecords/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the answer record to retrieve. Format: `projects//locations//answerRecords/`.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "id": "dialogflow.projects.locations.answerRecords.patch",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1AnswerRecord"
                  },
                  "description": "Updates the specified answer record.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/answerRecords/{answerRecordsId}",
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "Required. The mask to control which fields get updated."
                    },
                    "name": {
                      "type": "string",
                      "description": "The unique identifier of this answer record. Required for AnswerRecords.UpdateAnswerRecord method. Format: `projects//locations//answerRecords/`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/answerRecords/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1AnswerRecord"
                  },
                  "path": "v2beta1/{+name}"
                }
              }
            },
            "conversations": {
              "resources": {
                "messages": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/messages",
                      "description": "Lists messages that belong to a given conversation. `messages` are ordered by `create_time` in descending order. To fetch updates without duplication, send request with filter `create_time_epoch_microseconds \u003e [first item's create_time of previous request]` and empty page_token.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1ListMessagesResponse"
                      },
                      "path": "v2beta1/{+parent}/messages",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.locations.conversations.messages.list",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                          "description": "Required. The name of the conversation to list messages for. Format: `projects//locations//conversations/`",
                          "type": "string",
                          "location": "path"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. The maximum number of items to return in a single page. By default 100 and at most 1000.",
                          "type": "integer"
                        },
                        "filter": {
                          "description": "Optional. Filter on message fields. Currently predicates on `create_time` and `create_time_epoch_microseconds` are supported. `create_time` only support milliseconds accuracy. E.g., `create_time_epoch_microseconds \u003e 1551790877964485` or `create_time \u003e \"2017-01-15T01:30:15.01Z\"`. For more information about filtering, see [API Filtering](https://aip.dev/160).",
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. The next_page_token value returned from a previous list request.",
                          "location": "query"
                        }
                      }
                    },
                    "batchCreate": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1BatchCreateMessagesResponse"
                      },
                      "id": "dialogflow.projects.locations.conversations.messages.batchCreate",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/messages:batchCreate",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v2beta1/{+parent}/messages:batchCreate",
                      "description": "Batch ingests messages to conversation. Customers can use this RPC to ingest historical messages to conversation.",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1BatchCreateMessagesRequest"
                      },
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                          "description": "Required. Resource identifier of the conversation to create message. Format: `projects//locations//conversations/`."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    }
                  }
                },
                "participants": {
                  "resources": {
                    "suggestions": {
                      "methods": {
                        "suggestFaqAnswers": {
                          "id": "dialogflow.projects.locations.conversations.participants.suggestions.suggestFaqAnswers",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse"
                          },
                          "path": "v2beta1/{+parent}/suggestions:suggestFaqAnswers",
                          "description": "Gets suggested faq answers for a participant based on specific historical messages.",
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersRequest"
                          },
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "description": "Required. The name of the participant to fetch suggestion for. Format: `projects//locations//conversations//participants/`.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$"
                            }
                          },
                          "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestFaqAnswers"
                        },
                        "suggestSmartReplies": {
                          "parameters": {
                            "parent": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$",
                              "description": "Required. The name of the participant to fetch suggestion for. Format: `projects//locations//conversations//participants/`.",
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestSmartReplies",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v2beta1/{+parent}/suggestions:suggestSmartReplies",
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesRequest"
                          },
                          "description": "Gets smart replies for a participant based on specific historical messages.",
                          "id": "dialogflow.projects.locations.conversations.participants.suggestions.suggestSmartReplies",
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse"
                          },
                          "httpMethod": "POST"
                        },
                        "suggestArticles": {
                          "path": "v2beta1/{+parent}/suggestions:suggestArticles",
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2beta1SuggestArticlesRequest"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestArticles",
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "id": "dialogflow.projects.locations.conversations.participants.suggestions.suggestArticles",
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2beta1SuggestArticlesResponse"
                          },
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$",
                              "description": "Required. The name of the participant to fetch suggestion for. Format: `projects//locations//conversations//participants/`."
                            }
                          },
                          "description": "Gets suggested articles for a participant based on specific historical messages. Note that ListSuggestions will only list the auto-generated suggestions, while CompileSuggestion will try to compile suggestion based on the provided conversation context in the real time."
                        }
                      }
                    }
                  },
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1ListParticipantsResponse"
                      },
                      "path": "v2beta1/{+parent}/participants",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. The next_page_token value returned from a previous list request.",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "location": "path",
                          "description": "Required. The conversation to list all participants from. Format: `projects//locations//conversations/`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. The maximum number of items to return in a single page. By default 100 and at most 1000."
                        }
                      },
                      "description": "Returns the list of all participants in the specified conversation.",
                      "id": "dialogflow.projects.locations.conversations.participants.list",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "description": "Updates the specified participant.",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1Participant"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.conversations.participants.patch",
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. The mask to specify which fields to update.",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Optional. The unique identifier of this participant. Format: `projects//locations//conversations//participants/`.",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v2beta1/{+name}",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1Participant"
                      }
                    },
                    "get": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.locations.conversations.participants.get",
                      "description": "Retrieves a conversation participant.",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "description": "Required. The name of the participant. Format: `projects//locations//conversations//participants/`.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1Participant"
                      },
                      "path": "v2beta1/{+name}"
                    },
                    "analyzeContent": {
                      "parameterOrder": [
                        "participant"
                      ],
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}:analyzeContent",
                      "path": "v2beta1/{+participant}:analyzeContent",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "POST",
                      "id": "dialogflow.projects.locations.conversations.participants.analyzeContent",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1AnalyzeContentResponse"
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1AnalyzeContentRequest"
                      },
                      "parameters": {
                        "participant": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The name of the participant this text comes from. Format: `projects//locations//conversations//participants/`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "required": true
                        }
                      },
                      "description": "Adds a text (chat, for example), or audio (phone recording, for example) message from a participant into the conversation. Note: Always use agent versions for production traffic sent to virtual agents. See [Versions and environments](https://cloud.google.com/dialogflow/es/docs/agents-versions)."
                    },
                    "create": {
                      "path": "v2beta1/{+parent}/participants",
                      "httpMethod": "POST",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1Participant"
                      },
                      "description": "Creates a new participant in a conversation.",
                      "id": "dialogflow.projects.locations.conversations.participants.create",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1Participant"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. Resource identifier of the conversation adding the participant. Format: `projects//locations//conversations/`."
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "complete": {
                  "description": "Completes the specified conversation. Finished conversations are purged from the database after 30 days.",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}:complete",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Conversation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1CompleteConversationRequest"
                  },
                  "id": "dialogflow.projects.locations.conversations.complete",
                  "path": "v2beta1/{+name}:complete",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. Resource identifier of the conversation to close. Format: `projects//locations//conversations/`.",
                      "required": true
                    }
                  }
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the conversation. Format: `projects//locations//conversations/`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$"
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Conversation"
                  },
                  "path": "v2beta1/{+name}",
                  "id": "dialogflow.projects.locations.conversations.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Retrieves the specific conversation."
                },
                "list": {
                  "id": "dialogflow.projects.locations.conversations.list",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations",
                  "description": "Returns the list of all conversations in the specified project.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The maximum number of items to return in a single page. By default 100 and at most 1000.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "A filter expression that filters conversations listed in the response. In general, the expression must specify the field name, a comparison operator, and the value to use for filtering: - The value must be a string, a number, or a boolean. - The comparison operator must be either `=`,`!=`, `\u003e`, or `\u003c`. - To filter on multiple expressions, separate the expressions with `AND` or `OR` (omitting both implies `AND`). - For clarity, expressions can be enclosed in parentheses. Only `lifecycle_state` can be filtered on in this way. For example, the following expression only returns `COMPLETED` conversations: `lifecycle_state = \"COMPLETED\"` For more information about filtering, see [API Filtering](https://aip.dev/160).",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The project from which to list all conversation. Format: `projects//locations/`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. The next_page_token value returned from a previous list request.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListConversationsResponse"
                  },
                  "path": "v2beta1/{+parent}/conversations",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "create": {
                  "description": "Creates a new conversation. Conversations are auto-completed after 24 hours. Conversation Lifecycle: There are two stages during a conversation: Automated Agent Stage and Assist Stage. For Automated Agent Stage, there will be a dialogflow agent responding to user queries. For Assist Stage, there's no dialogflow agent responding to user queries. But we will provide suggestions which are generated from conversation. If Conversation.conversation_profile is configured for a dialogflow agent, conversation will start from `Automated Agent Stage`, otherwise, it will start from `Assist Stage`. And during `Automated Agent Stage`, once an Intent with Intent.live_agent_handoff is triggered, conversation will transfer to Assist Stage.",
                  "httpMethod": "POST",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Conversation"
                  },
[...]
