{
  "name": "dialogflow",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "discoveryVersion": "v1",
  "basePath": "",
  "servicePath": "",
  "version": "v2beta1",
  "canonicalName": "Dialogflow",
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "kind": "discovery#restDescription",
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "version_module": true,
  "ownerName": "Google",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "rootUrl": "https://dialogflow.googleapis.com/",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "protocol": "rest",
  "id": "dialogflow:v2beta1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "GoogleCloudDialogflowCxV3beta1EventHandler": {
      "properties": {
        "targetFlow": {
          "type": "string",
          "description": "The target flow to transition to. Format: `projects//locations//agents//flows/`."
        },
        "triggerFulfillment": {
          "description": "The fulfillment to call when the event occurs. Handling webhook errors with a fulfillment enabled with webhook could cause infinite loop. It is invalid to specify such fulfillment for a handler handling webhooks.",
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "targetPage": {
          "description": "The target page to transition to. Format: `projects//locations//agents//flows//pages/`.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The unique identifier of this event handler.",
          "type": "string"
        },
        "event": {
          "type": "string",
          "description": "Required. The name of the event to handle."
        }
      },
      "type": "object",
      "description": "An event handler specifies an event that can be handled during a session. When the specified event happens, the following actions are taken in order: * If there is a `trigger_fulfillment` associated with the event, it will be called. * If there is a `target_page` associated with the event, the session will transition into the specified page. * If there is a `target_flow` associated with the event, the session will transition into the specified flow.",
      "id": "GoogleCloudDialogflowCxV3beta1EventHandler"
    },
    "GoogleCloudDialogflowV2beta1SuggestConversationSummaryRequest": {
      "properties": {
        "contextSize": {
          "format": "int32",
          "description": "Max number of messages prior to and including [latest_message] to use as context when compiling the suggestion. By default 500 and at most 1000.",
          "type": "integer"
        },
        "latestMessage": {
          "description": "The name of the latest conversation message used as context for compiling suggestion. If empty, the latest message of the conversation will be used. Format: `projects//locations//conversations//messages/`.",
          "type": "string"
        }
      },
      "description": "The request message for Conversations.SuggestConversationSummary.",
      "id": "GoogleCloudDialogflowV2beta1SuggestConversationSummaryRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SetSuggestionFeatureConfigOperationMetadata": {
      "properties": {
        "conversationProfile": {
          "type": "string",
          "description": "The resource name of the conversation profile. Format: `projects//locations//conversationProfiles/`"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp whe the request was created. The time is measured on server side."
        },
        "suggestionFeatureType": {
          "description": "Required. The type of the suggestion feature to add or update.",
          "enumDescriptions": [
            "Unspecified feature type.",
            "Run article suggestion model for chat.",
            "Run FAQ model for chat.",
            "Run smart reply model for chat."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY"
          ],
          "type": "string"
        },
        "participantRole": {
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "description": "Required. The participant role to add or update the suggestion feature config. Only HUMAN_AGENT or END_USER can be used.",
          "enumDescriptions": [
            "Participant role not set.",
            "Participant is a human agent.",
            "Participant is an automated agent, such as a Dialogflow agent.",
            "Participant is an end user that has called or chatted with Dialogflow services."
          ]
        }
      },
      "type": "object",
      "description": "Metadata for a ConversationProfile.SetSuggestionFeatureConfig operation.",
      "id": "GoogleCloudDialogflowV2SetSuggestionFeatureConfigOperationMetadata"
    },
    "GoogleCloudDialogflowCxV3ResponseMessagePlayAudio": {
      "type": "object",
      "properties": {
        "audioUri": {
          "type": "string",
          "description": "Required. URI of the audio clip. Dialogflow does not impose any validation on this value. It is specific to the client that reads it."
        },
        "allowPlaybackInterruption": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the playback of this message can be interrupted by the end user's speech and the client can then starts the next Dialogflow request."
        }
      },
      "description": "Specifies an audio clip to be played by the client as part of the response.",
      "id": "GoogleCloudDialogflowCxV3ResponseMessagePlayAudio"
    },
    "GoogleCloudDialogflowV2beta1ListSessionEntityTypesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "sessionEntityTypes": {
          "description": "The list of session entity types. There will be a maximum number of items returned based on the page_size field in the request.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
          },
          "type": "array"
        }
      },
      "description": "The response message for SessionEntityTypes.ListSessionEntityTypes.",
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ListSessionEntityTypesResponse"
    },
    "GoogleCloudDialogflowCxV3TransitionRoute": {
      "id": "GoogleCloudDialogflowCxV3TransitionRoute",
      "description": "A transition route specifies a intent that can be matched and/or a data condition that can be evaluated during a session. When a specified transition is matched, the following actions are taken in order: * If there is a `trigger_fulfillment` associated with the transition, it will be called. * If there is a `target_page` associated with the transition, the session will transition into the specified page. * If there is a `target_flow` associated with the transition, the session will transition into the specified flow.",
      "properties": {
        "targetFlow": {
          "type": "string",
          "description": "The target flow to transition to. Format: `projects//locations//agents//flows/`."
        },
        "intent": {
          "type": "string",
          "description": "The unique identifier of an Intent. Format: `projects//locations//agents//intents/`. Indicates that the transition can only happen when the given intent is matched. At least one of `intent` or `condition` must be specified. When both `intent` and `condition` are specified, the transition can only happen when both are fulfilled."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The unique identifier of this transition route.",
          "type": "string"
        },
        "condition": {
          "type": "string",
          "description": "The condition to evaluate against form parameters or session parameters. See the [conditions reference](https://cloud.google.com/dialogflow/cx/docs/reference/condition). At least one of `intent` or `condition` must be specified. When both `intent` and `condition` are specified, the transition can only happen when both are fulfilled."
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment",
          "description": "The fulfillment to call when the condition is satisfied. At least one of `trigger_fulfillment` and `target` must be specified. When both are defined, `trigger_fulfillment` is executed first."
        },
        "targetPage": {
          "type": "string",
          "description": "The target page to transition to. Format: `projects//locations//agents//flows//pages/`."
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3PageInfo": {
      "id": "GoogleCloudDialogflowCxV3PageInfo",
      "type": "object",
      "properties": {
        "currentPage": {
          "description": "Always present for WebhookRequest. Ignored for WebhookResponse. The unique identifier of the current page. Format: `projects//locations//agents//flows//pages/`.",
          "type": "string"
        },
        "formInfo": {
          "description": "Optional for both WebhookRequest and WebhookResponse. Information about the form.",
          "$ref": "GoogleCloudDialogflowCxV3PageInfoFormInfo"
        },
        "displayName": {
          "type": "string",
          "description": "Always present for WebhookRequest. Ignored for WebhookResponse. The display name of the current page."
        }
      },
      "description": "Represents page information communicated to and from the webhook."
    },
    "GoogleCloudDialogflowV2beta1ListSuggestionsResponse": {
      "type": "object",
      "properties": {
        "suggestions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Suggestion"
          },
          "type": "array",
          "description": "Required. The list of suggestions. There will be a maximum number of items returned based on the page_size field in the request. `suggestions` is sorted by `create_time` in descending order."
        },
        "nextPageToken": {
          "description": "Optional. Token to retrieve the next page of results or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "description": "The response message for Participants.ListSuggestions.",
      "id": "GoogleCloudDialogflowV2beta1ListSuggestionsResponse"
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCardButton": {
      "properties": {
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction",
          "description": "Required. Action to take when a user taps on the button."
        },
        "title": {
          "description": "Required. The title of the button.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCardButton",
      "description": "The button object that appears at the bottom of a card."
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageTelephonyTransferCall": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageTelephonyTransferCall",
      "description": "Represents the signal that telles the client to transfer the phone call connected to the agent to a third-party endpoint.",
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "Transfer the call to a phone number in [E.164 format](https://en.wikipedia.org/wiki/E.164)."
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SuggestionResult": {
      "description": "One response of different type of suggestion response which is used in the response of Participants.AnalyzeContent and Participants.AnalyzeContent, as well as HumanAgentAssistantEvent.",
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SuggestionResult",
      "properties": {
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "Error status if the request failed."
        },
        "suggestFaqAnswersResponse": {
          "description": "SuggestFaqAnswersResponse if request is for FAQ_ANSWER.",
          "$ref": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse"
        },
        "suggestArticlesResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestArticlesResponse",
          "description": "SuggestArticlesResponse if request is for ARTICLE_SUGGESTION."
        },
        "suggestSmartRepliesResponse": {
          "description": "SuggestSmartRepliesResponse if request is for SMART_REPLY.",
          "$ref": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse"
        },
        "suggestDialogflowAssistsResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestDialogflowAssistsResponse",
          "description": "SuggestDialogflowAssistsResponse if request is for DIALOGFLOW_ASSIST."
        }
      }
    },
    "GoogleCloudDialogflowCxV3IntentTrainingPhrase": {
      "description": "Represents an example that the agent is trained on to identify the intent.",
      "id": "GoogleCloudDialogflowCxV3IntentTrainingPhrase",
      "properties": {
        "parts": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3IntentTrainingPhrasePart"
          },
          "type": "array",
          "description": "Required. The ordered list of training phrase parts. The parts are concatenated in order to form the training phrase. Note: The API does not automatically annotate training phrases like the Dialogflow Console does. Note: Do not forget to include whitespace at part boundaries, so the training phrase is well formatted when the parts are concatenated. If the training phrase does not need to be annotated with parameters, you just need a single part with only the Part.text field set. If you want to annotate the training phrase, you must create multiple parts, where the fields of each part are populated in one of two ways: - `Part.text` is set to a part of the phrase that has no parameters. - `Part.text` is set to a part of the phrase that you want to annotate, and the `parameter_id` field is set."
        },
        "id": {
          "description": "Output only. The unique identifier of the training phrase.",
          "type": "string"
        },
        "repeatCount": {
          "description": "Indicates how many times this example was added to the intent.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "GoogleProtobufEmpty",
      "properties": {}
    },
    "GoogleCloudDialogflowV2beta1CompileSuggestionRequest": {
      "id": "GoogleCloudDialogflowV2beta1CompileSuggestionRequest",
      "properties": {
        "contextSize": {
          "description": "Optional. Max number of messages prior to and including [latest_message] to use as context when compiling the suggestion. If zero or less than zero, 20 is used.",
          "type": "integer",
          "format": "int32"
        },
        "latestMessage": {
          "type": "string",
          "description": "Optional. The name of the latest conversation message to compile suggestion for. If empty, it will be the latest message of the conversation. Format: `projects//locations//conversations//messages/`."
        }
      },
      "description": "The request message for Participants.CompileSuggestion.",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart": {
      "type": "object",
      "description": "Represents a part of a training phrase.",
      "properties": {
        "text": {
          "type": "string",
          "description": "Required. The text for this part."
        },
        "parameterId": {
          "description": "The parameter used to annotate this part of the training phrase. This field is required for annotated parts of the training phrase.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial": {
      "type": "object",
      "description": "Opens the user's default dialer app with the specified phone number but does not dial automatically.",
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "Required. The phone number to fill in the default dialer app. This field should be in [E.164](https://en.wikipedia.org/wiki/E.164) format. An example of a correctly formatted phone number: +15556767888."
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial"
    },
    "GoogleCloudDialogflowCxV3ImportTestCasesResponse": {
      "id": "GoogleCloudDialogflowCxV3ImportTestCasesResponse",
      "description": "The response message for TestCases.ImportTestCases.",
      "properties": {
        "names": {
          "description": "The unique identifiers of the new test cases. Format: `projects//locations//agents//testCases/`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCard": {
      "description": "The card response message.",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCard",
      "properties": {
        "imageUri": {
          "description": "Optional. The public URI to an image file for the card.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. The title of the card."
        },
        "subtitle": {
          "type": "string",
          "description": "Optional. The subtitle of the card."
        },
        "buttons": {
          "description": "Optional. The collection of card buttons.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCardButton"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageImage": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageImage",
      "description": "The image response message.",
      "properties": {
        "accessibilityText": {
          "type": "string",
          "description": "A text description of the image to be used for accessibility, e.g., screen readers. Required if image_uri is set for CarouselSelect."
        },
        "imageUri": {
          "description": "Optional. The public URI to an image file.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV3alpha1TurnSignals": {
      "id": "GoogleCloudDialogflowV3alpha1TurnSignals",
      "description": "Collection of all signals that were extracted for a single turn of the conversation.",
      "type": "object",
      "properties": {
        "sentimentMagnitude": {
          "type": "number",
          "format": "float",
          "description": "Sentiment magnitude of the user utterance if [sentiment](https://cloud.google.com/dialogflow/cx/docs/concept/sentiment) was enabled."
        },
        "dtmfUsed": {
          "type": "boolean",
          "description": "Whether user was using DTMF input."
        },
        "failureReasons": {
          "description": "Failure reasons of the turn.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Failure reason is not assigned.",
              "Whether NLU failed to recognize user intent.",
              "Whether webhook failed during the turn."
            ],
            "enum": [
              "FAILURE_REASON_UNSPECIFIED",
              "FAILED_INTENT",
              "FAILED_WEBHOOK"
            ]
          }
        },
        "noUserInput": {
          "description": "Whether user provided no input.",
          "type": "boolean"
        },
        "triggeredAbandonmentEvent": {
          "description": "Whether agent has triggered the event corresponding to user abandoning the conversation.",
          "type": "boolean"
        },
        "sentimentScore": {
          "description": "Sentiment score of the user utterance if [sentiment](https://cloud.google.com/dialogflow/cx/docs/concept/sentiment) was enabled.",
          "format": "float",
          "type": "number"
        },
        "agentEscalated": {
          "type": "boolean",
          "description": "Whether agent responded with LiveAgentHandoff fulfillment."
        },
        "webhookStatuses": {
          "description": "Human-readable statuses of the webhooks triggered during this turn.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "userEscalated": {
          "description": "Whether user was specifically asking for a live agent.",
          "type": "boolean"
        },
        "reachedEndPage": {
          "description": "Whether turn resulted in End Session page.",
          "type": "boolean"
        },
        "noMatch": {
          "description": "Whether NLU predicted NO_MATCH.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentParameter": {
      "description": "Represents intent parameters.",
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentParameter",
      "properties": {
        "defaultValue": {
          "description": "Optional. The default value to use when the `value` yields an empty result. Default values can be extracted from contexts by using the following syntax: `#context_name.parameter_name`.",
          "type": "string"
        },
        "prompts": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The collection of prompts that the agent can present to the user in order to collect a value for the parameter.",
          "type": "array"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The name of the parameter."
        },
        "value": {
          "description": "Optional. The definition of the parameter value. It can be: - a constant string, - a parameter value defined as `$parameter_name`, - an original parameter value defined as `$parameter_name.original`, - a parameter value from some context defined as `#context_name.parameter_name`.",
          "type": "string"
        },
        "entityTypeDisplayName": {
          "type": "string",
          "description": "Optional. The name of the entity type, prefixed with `@`, that describes values of the parameter. If the parameter is required, this must be provided."
        },
        "isList": {
          "description": "Optional. Indicates whether the parameter represents a list of values.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The unique identifier of this parameter."
        },
        "mandatory": {
          "type": "boolean",
          "description": "Optional. Indicates whether the parameter is required. That is, whether the intent cannot be completed without collecting the parameter value."
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedReply": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedReply",
      "type": "object",
      "description": "Rich Business Messaging (RBM) suggested reply that the user can click instead of typing in their own response.",
      "properties": {
        "text": {
          "description": "Suggested reply text.",
          "type": "string"
        },
        "postbackData": {
          "type": "string",
          "description": "Opaque payload that the Dialogflow receives in a user event when the user taps the suggested reply. This data will be also forwarded to webhook to allow performing custom business logic."
        }
      }
    },
    "GoogleCloudDialogflowV2beta1HumanAgentHandoffConfigSalesforceLiveAgentConfig": {
      "type": "object",
      "properties": {
        "buttonId": {
          "description": "Required. Live Agent chat button ID.",
          "type": "string"
        },
        "deploymentId": {
          "type": "string",
          "description": "Required. Live Agent deployment ID."
        },
        "organizationId": {
          "type": "string",
          "description": "Required. The organization ID of the Salesforce account."
        },
        "endpointDomain": {
          "description": "Required. Domain of the Live Agent endpoint for this agent. You can find the endpoint URL in the `Live Agent settings` page. For example if URL has the form https://d.la4-c2-phx.salesforceliveagent.com/..., you should fill in d.la4-c2-phx.salesforceliveagent.com.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1HumanAgentHandoffConfigSalesforceLiveAgentConfig",
      "description": "Configuration specific to Salesforce Live Agent."
    },
    "GoogleCloudDialogflowV2beta1BatchUpdateIntentsRequest": {
      "description": "The request message for Intents.BatchUpdateIntents.",
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1BatchUpdateIntentsRequest",
      "properties": {
        "intentView": {
          "enum": [
            "INTENT_VIEW_UNSPECIFIED",
            "INTENT_VIEW_FULL"
          ],
          "enumDescriptions": [
            "Training phrases field is not populated in the response.",
            "All fields are populated."
          ],
          "description": "Optional. The resource view to apply to the returned intent.",
          "type": "string"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Optional. The mask to control which fields get updated."
        },
        "intentBatchInline": {
          "description": "The collection of intents to update or create.",
          "$ref": "GoogleCloudDialogflowV2beta1IntentBatch"
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. The language used to access language-specific data. If not specified, the agent's default language is used. For more information, see [Multilingual intent and entity data](https://cloud.google.com/dialogflow/docs/agents-multilingual#intent-entity)."
        },
        "intentBatchUri": {
          "type": "string",
          "description": "The URI to a Google Cloud Storage file containing intents to update or create. The file format can either be a serialized proto (of IntentBatch type) or JSON object. Note: The URI must start with \"gs://\"."
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AnswerRecord": {
      "properties": {
        "name": {
          "description": "The unique identifier of this answer record. Required for AnswerRecords.UpdateAnswerRecord method. Format: `projects//locations//answerRecords/`.",
          "type": "string"
        },
        "agentAssistantRecord": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentAssistantRecord",
          "description": "Output only. The record for human agent assistant."
        },
        "answerFeedback": {
          "$ref": "GoogleCloudDialogflowV2beta1AnswerFeedback",
          "description": "Optional. The AnswerFeedback for this record. You can set this with AnswerRecords.UpdateAnswerRecord in order to give us feedback about this answer."
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AnswerRecord",
      "type": "object",
      "description": "Answer records are records to manage answer history and feedbacks for Dialogflow. Currently, answer record includes: - human agent assistant article suggestion - human agent assistant faq article It doesn't include: - `DetectIntent` intent matching - `DetectIntent` knowledge Answer records are not related to the conversation history in the Dialogflow Console. A Record is generated even when the end-user disables conversation history in the console. Records are created when there's a human agent assistant suggestion generated. A typical workflow for customers provide feedback to an answer is: 1. For human agent assistant, customers get suggestion via ListSuggestions API. Together with the answers, AnswerRecord.name are returned to the customers. 2. The customer uses the AnswerRecord.name to call the UpdateAnswerRecord method to send feedback about a specific answer that they believe is wrong."
    },
    "GoogleCloudDialogflowV2beta1BatchDeleteEntityTypesRequest": {
      "id": "GoogleCloudDialogflowV2beta1BatchDeleteEntityTypesRequest",
      "description": "The request message for EntityTypes.BatchDeleteEntityTypes.",
      "properties": {
        "entityTypeNames": {
          "description": "Required. The names entity types to delete. All names must point to the same agent as `parent`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SuggestArticlesResponse": {
      "properties": {
        "contextSize": {
          "description": "Number of messages prior to and including latest_message to compile the suggestion. It may be smaller than the SuggestArticlesResponse.context_size field in the request if there aren't that many messages in the conversation.",
          "format": "int32",
          "type": "integer"
        },
        "articleAnswers": {
          "description": "Output only. Articles ordered by score in descending order.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ArticleAnswer"
          },
          "type": "array"
        },
        "latestMessage": {
          "type": "string",
          "description": "The name of the latest conversation message used to compile suggestion for. Format: `projects//locations//conversations//messages/`."
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SuggestArticlesResponse",
      "type": "object",
      "description": "The response message for Participants.SuggestArticles."
    },
    "GoogleCloudDialogflowCxV3beta1EventInput": {
      "description": "Represents the event to trigger.",
      "id": "GoogleCloudDialogflowCxV3beta1EventInput",
      "type": "object",
      "properties": {
        "event": {
          "type": "string",
          "description": "Name of the event."
        }
      }
    },
    "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfig": {
      "properties": {
        "maxResults": {
          "description": "Maximum number of results to return. Currently, if unset, defaults to 10. And the max number is 20.",
          "format": "int32",
          "type": "integer"
        },
        "contextFilterSettings": {
          "description": "Determines how recent conversation context is filtered when generating suggestions. If unspecified, no messages will be dropped.",
          "$ref": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigContextFilterSettings"
        },
        "documentQuerySource": {
          "$ref": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigDocumentQuerySource",
          "description": "Query from knowledge base document. It is used by: SMART_REPLY, SMART_COMPOSE."
        },
        "dialogflowQuerySource": {
          "description": "Query from Dialogflow agent. It is used by DIALOGFLOW_ASSIST.",
          "$ref": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySource"
        },
        "confidenceThreshold": {
          "type": "number",
          "description": "Confidence threshold of query result. Agent Assist gives each suggestion a score in the range [0.0, 1.0], based on the relevance between the suggestion and the current conversation context. A score of 0.0 has no relevance, while a score of 1.0 has high relevance. Only suggestions with a score greater than or equal to the value of this field are included in the results. For a baseline model (the default), the recommended value is in the range [0.05, 0.1]. For a custom model, there is no recommended value. Tune this value by starting from a very low value and slowly increasing until you have desired results. If this field is not set, it is default to 0.0, which means that all suggestions are returned. Supported features: ARTICLE_SUGGESTION, FAQ, SMART_REPLY, SMART_COMPOSE, KNOWLEDGE_SEARCH, KNOWLEDGE_ASSIST, ENTITY_EXTRACTION.",
          "format": "float"
        },
        "knowledgeBaseQuerySource": {
          "description": "Query from knowledgebase. It is used by: ARTICLE_SUGGESTION, FAQ.",
          "$ref": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigKnowledgeBaseQuerySource"
        }
      },
      "type": "object",
      "description": "Config for suggestion query.",
      "id": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfig"
    },
    "GoogleCloudDialogflowV2beta1OutputAudioConfig": {
      "description": "Instructs the speech synthesizer how to generate the output audio content. If this audio config is supplied in a request, it overrides all existing text-to-speech settings applied to the agent.",
      "properties": {
        "sampleRateHertz": {
          "format": "int32",
          "type": "integer",
          "description": "The synthesis sample rate (in hertz) for this audio. If not provided, then the synthesizer will use the default sample rate based on the audio encoding. If this is different from the voice's natural sample rate, then the synthesizer will honor this request by converting to the desired sample rate (which might result in worse audio quality)."
        },
        "audioEncoding": {
          "enum": [
            "OUTPUT_AUDIO_ENCODING_UNSPECIFIED",
            "OUTPUT_AUDIO_ENCODING_LINEAR_16",
            "OUTPUT_AUDIO_ENCODING_MP3",
            "OUTPUT_AUDIO_ENCODING_MP3_64_KBPS",
            "OUTPUT_AUDIO_ENCODING_OGG_OPUS",
            "OUTPUT_AUDIO_ENCODING_MULAW"
          ],
          "description": "Required. Audio encoding of the synthesized audio content.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Uncompressed 16-bit signed little-endian samples (Linear PCM). Audio content returned as LINEAR16 also contains a WAV header.",
            "MP3 audio at 32kbps.",
            "MP3 audio at 64kbps.",
            "Opus encoded audio wrapped in an ogg container. The result will be a file which can be played natively on Android, and in browsers (at least Chrome and Firefox). The quality of the encoding is considerably higher than MP3 while using approximately the same bitrate.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law."
          ]
        },
        "synthesizeSpeechConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1SynthesizeSpeechConfig",
          "description": "Configuration of how speech should be synthesized."
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1OutputAudioConfig"
    },
    "GoogleCloudDialogflowCxV3FormParameter": {
      "properties": {
        "defaultValue": {
          "type": "any",
          "description": "The default value of an optional parameter. If the parameter is required, the default value will be ignored."
        },
        "displayName": {
          "description": "Required. The human-readable name of the parameter, unique within the form.",
          "type": "string"
        },
        "isList": {
          "type": "boolean",
          "description": "Indicates whether the parameter represents a list of values."
        },
        "entityType": {
          "description": "Required. The entity type of the parameter. Format: `projects/-/locations/-/agents/-/entityTypes/` for system entity types (for example, `projects/-/locations/-/agents/-/entityTypes/sys.date`), or `projects//locations//agents//entityTypes/` for developer entity types.",
          "type": "string"
        },
        "redact": {
          "type": "boolean",
          "description": "Indicates whether the parameter content should be redacted in log. If redaction is enabled, the parameter content will be replaced by parameter name during logging. Note: the parameter content is subject to redaction if either parameter level redaction or entity type level redaction is enabled."
        },
        "required": {
          "type": "boolean",
          "description": "Indicates whether the parameter is required. Optional parameters will not trigger prompts; however, they are filled if the user specifies them. Required parameters must be filled before form filling concludes."
        },
        "fillBehavior": {
          "$ref": "GoogleCloudDialogflowCxV3FormParameterFillBehavior",
          "description": "Required. Defines fill behavior for the parameter."
        }
      },
      "type": "object",
      "description": "Represents a form parameter.",
      "id": "GoogleCloudDialogflowCxV3FormParameter"
    },
    "GoogleCloudDialogflowV2SentimentAnalysisResult": {
      "id": "GoogleCloudDialogflowV2SentimentAnalysisResult",
      "properties": {
        "queryTextSentiment": {
          "$ref": "GoogleCloudDialogflowV2Sentiment",
          "description": "The sentiment analysis result for `query_text`."
        }
      },
      "type": "object",
      "description": "The result of sentiment analysis. Sentiment analysis inspects user input and identifies the prevailing subjective opinion, especially to determine a user's attitude as positive, negative, or neutral. For Participants.DetectIntent, it needs to be configured in DetectIntentRequest.query_params. For Participants.StreamingDetectIntent, it needs to be configured in StreamingDetectIntentRequest.query_params. And for Participants.AnalyzeContent and Participants.StreamingAnalyzeContent, it needs to be configured in ConversationProfile.human_agent_assistant_config"
    },
    "GoogleCloudDialogflowCxV3EnvironmentWebhookConfig": {
      "id": "GoogleCloudDialogflowCxV3EnvironmentWebhookConfig",
      "properties": {
        "webhookOverrides": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Webhook"
          },
          "description": "The list of webhooks to override for the agent environment. The webhook must exist in the agent. You can override fields in `generic_web_service` and `service_directory`.",
          "type": "array"
        }
      },
      "description": "Configuration for webhooks.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1GcsSources": {
      "id": "GoogleCloudDialogflowV2beta1GcsSources",
      "description": "Google Cloud Storage locations for the inputs.",
      "properties": {
        "uris": {
          "type": "array",
          "description": "Required. Google Cloud Storage URIs for the inputs. A URI is of the form: gs://bucket/object-prefix-or-name Whether a prefix or name is used depends on the use case.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3EnvironmentVersionConfig": {
      "id": "GoogleCloudDialogflowCxV3EnvironmentVersionConfig",
      "description": "Configuration for the version.",
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "Required. Format: projects//locations//agents//flows//versions/."
        }
      }
    },
    "GoogleCloudDialogflowV2beta1TextInput": {
      "properties": {
        "text": {
          "description": "Required. The UTF-8 encoded natural language text to be processed. Text length must not exceed 256 characters for virtual agent interactions.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Required. The language of this conversational query. See [Language Support](https://cloud.google.com/dialogflow/docs/reference/language) for a list of the currently supported language codes. Note that queries in the same session do not necessarily need to specify the same language."
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1TextInput",
      "description": "Represents the natural language text to be processed."
    },
    "GoogleCloudDialogflowV2beta1Sentiment": {
      "properties": {
        "magnitude": {
          "description": "A non-negative number in the [0, +inf) range, which represents the absolute magnitude of sentiment, regardless of score (positive or negative).",
          "format": "float",
          "type": "number"
        },
        "score": {
          "description": "Sentiment score between -1.0 (negative sentiment) and 1.0 (positive sentiment).",
          "format": "float",
          "type": "number"
        }
      },
      "description": "The sentiment, such as positive/negative feeling or association, for a unit of analysis, such as the query text. See: https://cloud.google.com/natural-language/docs/basics#interpreting_sentiment_analysis_values for how to interpret the result.",
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1Sentiment"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo",
      "description": "Additional info about the select item for when it is triggered in a dialog.",
      "type": "object",
      "properties": {
        "synonyms": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of synonyms that can also be used to trigger this item in dialog."
        },
        "key": {
          "type": "string",
          "description": "Required. A unique key that will be sent back to the agent if this response is given."
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AgentAssistantFeedback": {
      "type": "object",
      "properties": {
        "answerRelevance": {
          "description": "Optional. Whether or not the suggested answer is relevant. For example: * Query: \"Can I change my mailing address?\" * Suggested document says: \"Items must be returned/exchanged within 60 days of the purchase date.\" * answer_relevance: AnswerRelevance.IRRELEVANT",
          "enum": [
            "ANSWER_RELEVANCE_UNSPECIFIED",
            "IRRELEVANT",
            "RELEVANT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Answer relevance unspecified.",
            "Answer is irrelevant to query.",
            "Answer is relevant to query."
          ]
        },
        "documentEfficiency": {
          "description": "Optional. Whether or not the suggested document is efficient. For example, if the document is poorly written, hard to understand, hard to use or too long to find useful information, document_efficiency is DocumentEfficiency.INEFFICIENT.",
          "enumDescriptions": [
            "Document efficiency unspecified.",
            "Document is inefficient.",
            "Document is efficient."
          ],
          "type": "string",
          "enum": [
            "DOCUMENT_EFFICIENCY_UNSPECIFIED",
            "INEFFICIENT",
            "EFFICIENT"
          ]
        },
        "documentCorrectness": {
          "enum": [
            "DOCUMENT_CORRECTNESS_UNSPECIFIED",
            "INCORRECT",
            "CORRECT"
          ],
          "description": "Optional. Whether or not the information in the document is correct. For example: * Query: \"Can I return the package in 2 days once received?\" * Suggested document says: \"Items must be returned/exchanged within 60 days of the purchase date.\" * Ground truth: \"No return or exchange is allowed.\" * [document_correctness]: INCORRECT",
          "type": "string",
          "enumDescriptions": [
            "Document correctness unspecified.",
            "Information in document is incorrect.",
            "Information in document is correct."
          ]
        },
        "summarizationFeedback": {
          "description": "Feedback for conversation summarization.",
          "$ref": "GoogleCloudDialogflowV2beta1AgentAssistantFeedbackSummarizationFeedback"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AgentAssistantFeedback",
      "description": "Detail feedback of Agent Assistant result."
    },
    "GoogleCloudDialogflowV2beta1DetectIntentResponse": {
      "description": "The message returned from the DetectIntent method.",
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1DetectIntentResponse",
      "properties": {
        "alternativeQueryResults": {
          "description": "If Knowledge Connectors are enabled, there could be more than one result returned for a given query or event, and this field will contain all results except for the top one, which is captured in query_result. The alternative results are ordered by decreasing `QueryResult.intent_detection_confidence`. If Knowledge Connectors are disabled, this field will be empty until multiple responses for regular intents are supported, at which point those additional results will be surfaced here.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
          },
          "type": "array"
        },
        "outputAudio": {
          "type": "string",
          "format": "byte",
          "description": "The audio data bytes encoded as specified in the request. Note: The output audio is generated based on the values of default platform text responses found in the `query_result.fulfillment_messages` field. If multiple default text responses exist, they will be concatenated when generating audio. If no default platform text responses exist, the generated audio content will be empty. In some scenarios, multiple output audio fields may be present in the response structure. In these cases, only the top-most-level audio output has content."
        },
        "webhookStatus": {
          "description": "Specifies the status of the webhook request.",
          "$ref": "GoogleRpcStatus"
        },
        "queryResult": {
          "description": "The selected results of the conversational query or event processing. See `alternative_query_results` for additional potential results.",
          "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
        },
        "responseId": {
          "type": "string",
          "description": "The unique identifier of the response. It can be used to locate a response in the training example set or for reporting issues."
        },
        "outputAudioConfig": {
          "description": "The config used by the speech synthesizer to generate the output audio.",
          "$ref": "GoogleCloudDialogflowV2beta1OutputAudioConfig"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo": {
      "description": "Represents fulfillment information communicated to the webhook.",
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo",
      "properties": {
        "tag": {
          "description": "Always present. The value of the Fulfillment.tag field will be populated in this field by Dialogflow when the associated webhook is called. The tag is typically used by the webhook service to identify which fulfillment is being called, but it could be used for other purposes.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySource": {
      "id": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySource",
      "description": "Dialogflow source setting. Supported feature: DIALOGFLOW_ASSIST.",
      "properties": {
        "agent": {
          "type": "string",
          "description": "Required. The name of a dialogflow virtual agent used for end user side intent detection and suggestion. Format: `projects//locations//agent`. When multiple agents are allowed in the same Dialogflow project."
        },
        "humanAgentSideConfig": {
          "description": "The Dialogflow assist configuration for human agent.",
          "$ref": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySourceHumanAgentSideConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1BatchDeleteIntentsRequest": {
      "properties": {
        "intents": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Intent"
          },
          "description": "Required. The collection of intents to delete. Only intent `name` must be filled in.",
          "type": "array"
        }
      },
      "description": "The request message for Intents.BatchDeleteIntents.",
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1BatchDeleteIntentsRequest"
    },
    "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionTriggerSettings": {
      "id": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionTriggerSettings",
      "type": "object",
      "properties": {
        "noSmallTalk": {
          "type": "boolean",
          "description": "Do not trigger if last utterance is small talk."
        },
        "onlyEndUser": {
          "type": "boolean",
          "description": "Only trigger suggestion if participant role of last utterance is END_USER."
        }
      },
      "description": "Settings of suggestion trigger."
    },
    "GoogleCloudDialogflowV2beta1ListContextsResponse": {
      "description": "The response message for Contexts.ListContexts.",
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ListContextsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "contexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          },
          "type": "array",
          "description": "The list of contexts. There will be a maximum number of items returned based on the page_size field in the request."
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SuggestConversationSummaryResponseSummary": {
      "description": "Generated summary for a conversation.",
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SuggestConversationSummaryResponseSummary",
      "properties": {
        "text": {
          "type": "string",
          "description": "The summary content that is concatenated into one string."
        },
        "answerRecord": {
          "type": "string",
          "description": "The name of the answer record. Format: \"projects//answerRecords/\""
        },
        "textSections": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The summary content that is divided into sections. The key is the section's name and the value is the section's content. There is no specific format for the key or value.",
          "type": "object"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TextInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TextInput",
      "properties": {
        "text": {
          "description": "Required. The UTF-8 encoded natural language text to be processed. Text length must not exceed 256 characters.",
          "type": "string"
        }
      },
      "description": "Represents the natural language text to be processed."
    },
    "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata": {
      "description": "Metadata for article suggestion models.",
      "properties": {
        "trainingModelType": {
          "enumDescriptions": [
            "ModelType unspecified.",
            "ModelType smart reply dual encoder model.",
            "ModelType smart reply bert model."
          ],
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "SMART_REPLY_DUAL_ENCODER_MODEL",
            "SMART_REPLY_BERT_MODEL"
          ],
          "description": "Optional. Type of the article suggestion model. If not provided, model_type is used.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata"
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebService": {
      "type": "object",
      "properties": {
        "username": {
          "type": "string",
          "description": "The user name for HTTP Basic authentication."
        },
        "httpMethod": {
          "description": "Optional. HTTP method for the flexible webhook calls. Standard webhook always uses POST.",
          "enumDescriptions": [
            "HTTP method not specified.",
            "HTTP POST Method.",
            "HTTP GET Method.",
            "HTTP HEAD Method.",
            "HTTP PUT Method.",
            "HTTP DELETE Method.",
            "HTTP PATCH Method.",
            "HTTP OPTIONS Method."
          ],
          "enum": [
            "HTTP_METHOD_UNSPECIFIED",
            "POST",
            "GET",
            "HEAD",
            "PUT",
            "DELETE",
            "PATCH",
            "OPTIONS"
          ],
          "type": "string"
        },
        "webhookType": {
          "enum": [
            "WEBHOOK_TYPE_UNSPECIFIED",
            "STANDARD",
            "FLEXIBLE"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Represents a standard webhook.",
            "Represents a flexible webhook."
          ],
          "type": "string",
          "description": "Optional. Type of the webhook."
        },
        "password": {
          "type": "string",
          "description": "The password for HTTP Basic authentication."
        },
        "parameterMapping": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Maps the values extracted from specific fields of the flexible webhook response into session parameters. - Key: session parameter name - Value: field path in the webhook response",
          "type": "object"
        },
        "allowedCaCerts": {
          "description": "Optional. Specifies a list of allowed custom CA certificates (in DER format) for HTTPS verification. This overrides the default SSL trust store. If this is empty or unspecified, Dialogflow will use Google's default trust store to verify certificates. N.B. Make sure the HTTPS server certificates are signed with \"subject alt name\". For instance a certificate can be self-signed using the following command, ``` openssl x509 -req -days 200 -in example.com.csr \\ -signkey example.com.key \\ -out example.com.crt \\ -extfile \u003c(printf \"\\nsubjectAltName='DNS:www.example.com'\") ```",
          "type": "array",
          "items": {
            "format": "byte",
            "type": "string"
          }
        },
        "uri": {
          "description": "Required. The webhook URI for receiving POST requests. It must use https protocol.",
          "type": "string"
        },
        "requestHeaders": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The HTTP request headers to send together with webhook requests."
        },
        "requestBody": {
          "type": "string",
          "description": "Optional. Defines a custom JSON object as request body to send to flexible webhook."
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebService",
      "description": "Represents configuration for a generic web service."
    },
    "GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfo": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "Not specified. This value should be never used.",
            "Indicates that the parameter does not have a value.",
            "Indicates that the parameter value is invalid. This field can be used by the webhook to invalidate the parameter and ask the server to collect it from the user again.",
            "Indicates that the parameter has a value."
          ],
          "type": "string",
          "description": "Always present for WebhookRequest. Required for WebhookResponse. The state of the parameter. This field can be set to INVALID by the webhook to invalidate the parameter; other values set by the webhook will be ignored.",
          "enum": [
            "PARAMETER_STATE_UNSPECIFIED",
            "EMPTY",
            "INVALID",
            "FILLED"
          ]
        },
        "displayName": {
          "description": "Always present for WebhookRequest. Required for WebhookResponse. The human-readable name of the parameter, unique within the form. This field cannot be modified by the webhook.",
          "type": "string"
        },
        "value": {
          "type": "any",
          "description": "Optional for both WebhookRequest and WebhookResponse. The value of the parameter. This field can be set by the webhook to change the parameter value."
        },
        "justCollected": {
          "description": "Optional for WebhookRequest. Ignored for WebhookResponse. Indicates if the parameter value was just collected on the last conversation turn.",
          "type": "boolean"
        },
        "required": {
          "type": "boolean",
          "description": "Optional for both WebhookRequest and WebhookResponse. Indicates whether the parameter is required. Optional parameters will not trigger prompts; however, they are filled if the user specifies them. Required parameters must be filled before form filling concludes."
        }
      },
      "description": "Represents parameter information.",
      "id": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SuggestionFeature": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SuggestionFeature",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "DIALOGFLOW_ASSIST",
            "CONVERSATION_SUMMARIZATION"
          ],
          "enumDescriptions": [
            "Unspecified feature type.",
            "Run article suggestion model for chat.",
            "Run FAQ model.",
            "Run smart reply model for chat.",
            "Run Dialogflow assist model for chat, which will return automated agent response as suggestion.",
            "Run conversation summarization model for chat."
          ],
          "type": "string",
          "description": "Type of Human Agent Assistant API feature to request."
        }
      },
      "description": "The type of Human Agent Assistant API suggestion to perform, and the maximum number of results to return for that type. Multiple `Feature` objects can be specified in the `features` list."
    },
    "GoogleCloudDialogflowV2beta1ListMessagesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Optional. Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Message"
          },
          "description": "Required. The list of messages. There will be a maximum number of items returned based on the page_size field in the request. `messages` is sorted by `create_time` in descending order."
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ListMessagesResponse",
      "type": "object",
      "description": "The response message for Conversations.ListMessages."
    },
    "GoogleCloudDialogflowV2beta1ExportAgentResponse": {
      "properties": {
        "agentContent": {
          "description": "Zip compressed raw byte content for agent.",
          "format": "byte",
          "type": "string"
        },
        "agentUri": {
          "description": "The URI to a file containing the exported agent. This field is populated only if `agent_uri` is specified in `ExportAgentRequest`.",
          "type": "string"
        }
      },
      "description": "The response message for Agents.ExportAgent.",
      "id": "GoogleCloudDialogflowV2beta1ExportAgentResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1CreateVersionOperationMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1CreateVersionOperationMetadata",
      "description": "Metadata associated with the long running operation for Versions.CreateVersion.",
      "properties": {
        "version": {
          "description": "Name of the created version. Format: `projects//locations//agents//flows//versions/`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion": {
      "description": "Rich Business Messaging (RBM) suggestion. Suggestions allow user to easily select/click a predefined response or perform an action (like opening a web uri).",
      "properties": {
        "action": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedAction",
          "description": "Predefined client side actions that user can choose"
        },
        "reply": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedReply",
          "description": "Predefined replies for user to select instead of typing"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesResponse",
      "properties": {
        "results": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
          },
          "description": "The test case results. The detailed conversation turns are empty in this response.",
          "type": "array"
        }
      },
      "description": "The response message for TestCases.BatchRunTestCases."
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Client-specific URI that points to an audio clip accessible to the client. Dialogflow does not impose any validation on it."
        },
        "audio": {
          "description": "Raw audio synthesized from the Dialogflow agent's response using the output config specified in the request.",
          "type": "string",
          "format": "byte"
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the playback of this segment can be interrupted by the end user's speech and the client should then start the next Dialogflow request."
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment",
      "description": "Represents one segment of audio."
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio": {
      "type": "object",
      "description": "Plays audio from a file in Telephony Gateway.",
      "properties": {
        "audioUri": {
          "type": "string",
          "description": "Required. URI to a Google Cloud Storage object containing the audio to play, e.g., \"gs://bucket/object\". The object must contain a single channel (mono) of linear PCM audio (2 bytes / sample) at 8kHz. This object must be readable by the `service-@gcp-sa-dialogflow.iam.gserviceaccount.com` service account where is the number of the Telephony Gateway project (usually the same as the Dialogflow agent project). If the Google Cloud Storage bucket is in the Telephony Gateway project, this permission is added by default when enabling the Dialogflow V2 API. For audio from other sources, consider using the `TelephonySynthesizeSpeech` message with SSML."
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio"
    },
    "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase": {
      "type": "object",
      "properties": {
        "repeatCount": {
          "description": "Indicates how many times this example was added to the intent.",
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "description": "Output only. The unique identifier of the training phrase.",
          "type": "string"
        },
        "parts": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart"
          },
          "type": "array",
          "description": "Required. The ordered list of training phrase parts. The parts are concatenated in order to form the training phrase. Note: The API does not automatically annotate training phrases like the Dialogflow Console does. Note: Do not forget to include whitespace at part boundaries, so the training phrase is well formatted when the parts are concatenated. If the training phrase does not need to be annotated with parameters, you just need a single part with only the Part.text field set. If you want to annotate the training phrase, you must create multiple parts, where the fields of each part are populated in one of two ways: - `Part.text` is set to a part of the phrase that has no parameters. - `Part.text` is set to a part of the phrase that you want to annotate, and the `parameter_id` field is set."
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase",
      "description": "Represents an example that the agent is trained on to identify the intent."
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCard": {
      "description": "The basic card message. Useful for displaying information.",
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCard",
      "type": "object",
      "properties": {
        "title": {
          "description": "Optional. The title of the card.",
          "type": "string"
        },
        "subtitle": {
          "description": "Optional. The subtitle of the card.",
          "type": "string"
        },
        "formattedText": {
          "type": "string",
          "description": "Required, unless image is present. The body text of the card."
        },
        "buttons": {
          "description": "Optional. The collection of card buttons.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButton"
          }
        },
        "image": {
          "description": "Optional. The image for the card.",
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion": {
      "properties": {
        "destinationName": {
          "description": "Required. The name of the app or site this chip is linking to.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "Required. The URI of the app or site to open when the user taps the suggestion chip."
        }
      },
      "description": "The suggestion chip message that allows the user to jump out to the app or website associated with this agent.",
      "id": "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion",
      "type": "object"
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ConversationModel": {
      "description": "Represents a conversation model.",
      "id": "GoogleCloudDialogflowV2ConversationModel",
      "properties": {
        "state": {
          "description": "Output only. State of the model. A model can only serve prediction requests after it gets deployed.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UNDEPLOYED",
            "DEPLOYING",
            "DEPLOYED",
            "UNDEPLOYING",
            "DELETING",
            "FAILED",
            "PENDING"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Should not be used, an un-set enum has this value by default.",
            "Model being created.",
            "Model is not deployed but ready to deploy.",
            "Model is deploying.",
            "Model is deployed and ready to use.",
            "Model is undeploying.",
            "Model is deleting.",
            "Model is in error state. Not ready to deploy and use.",
            "Model is being created but the training has not started, The model may remain in this state until there is enough capacity to start training."
          ]
        },
        "datasets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2InputDataset"
          },
          "description": "Required. Datasets used to create model."
        },
        "articleSuggestionModelMetadata": {
          "description": "Metadata for article suggestion models.",
          "$ref": "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata"
        },
        "languageCode": {
          "description": "Language code for the conversation model. If not specified, the language is en-US. Language at ConversationModel should be set for all non en-us languages. This should be a [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag. Example: \"en-US\".",
          "type": "string"
        },
        "name": {
          "description": "ConversationModel resource name. Format: `projects//conversationModels/`",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Creation time of this model.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the model. At most 64 bytes long."
        },
        "smartReplyModelMetadata": {
          "$ref": "GoogleCloudDialogflowV2SmartReplyModelMetadata",
          "description": "Metadata for smart reply models."
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3EventHandler": {
      "description": "An event handler specifies an event that can be handled during a session. When the specified event happens, the following actions are taken in order: * If there is a `trigger_fulfillment` associated with the event, it will be called. * If there is a `target_page` associated with the event, the session will transition into the specified page. * If there is a `target_flow` associated with the event, the session will transition into the specified flow.",
      "id": "GoogleCloudDialogflowCxV3EventHandler",
      "properties": {
        "targetPage": {
          "type": "string",
          "description": "The target page to transition to. Format: `projects//locations//agents//flows//pages/`."
        },
        "event": {
          "description": "Required. The name of the event to handle.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The unique identifier of this event handler.",
          "readOnly": true,
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment",
          "description": "The fulfillment to call when the event occurs. Handling webhook errors with a fulfillment enabled with webhook could cause infinite loop. It is invalid to specify such fulfillment for a handler handling webhooks."
        },
        "targetFlow": {
          "type": "string",
          "description": "The target flow to transition to. Format: `projects//locations//agents//flows/`."
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigOperationMetadata": {
      "id": "GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigOperationMetadata",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Timestamp whe the request was created. The time is measured on server side.",
          "type": "string"
        },
        "conversationProfile": {
          "description": "The resource name of the conversation profile. Format: `projects//locations//conversationProfiles/`",
          "type": "string"
        },
        "suggestionFeatureType": {
          "enumDescriptions": [
            "Unspecified feature type.",
            "Run article suggestion model for chat.",
            "Run FAQ model.",
            "Run smart reply model for chat.",
            "Run Dialogflow assist model for chat, which will return automated agent response as suggestion.",
            "Run conversation summarization model for chat."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "DIALOGFLOW_ASSIST",
            "CONVERSATION_SUMMARIZATION"
          ],
          "description": "Required. The type of the suggestion feature to remove."
        },
        "participantRole": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "enumDescriptions": [
            "Participant role not set.",
            "Participant is a human agent.",
            "Participant is an automated agent, such as a Dialogflow agent.",
            "Participant is an end user that has called or chatted with Dialogflow services."
          ],
          "description": "Required. The participant role to remove the suggestion feature config. Only HUMAN_AGENT or END_USER can be used.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Metadata for a ConversationProfile.ClearSuggestionFeatureConfig operation."
    },
    "GoogleCloudDialogflowV2IntentMessage": {
      "id": "GoogleCloudDialogflowV2IntentMessage",
      "type": "object",
      "properties": {
        "basicCard": {
          "description": "The basic card response for Actions on Google.",
          "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCard"
        },
        "payload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "A custom platform-specific response."
        },
        "text": {
          "description": "The text response.",
          "$ref": "GoogleCloudDialogflowV2IntentMessageText"
        },
        "card": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageCard",
          "description": "The card response."
        },
        "simpleResponses": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSimpleResponses",
          "description": "The voice and text-only responses for Actions on Google."
        },
        "suggestions": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSuggestions",
          "description": "The suggestion chips for Actions on Google."
        },
        "carouselSelect": {
          "description": "The carousel card response for Actions on Google.",
          "$ref": "GoogleCloudDialogflowV2IntentMessageCarouselSelect"
        },
        "quickReplies": {
          "description": "The quick replies response.",
          "$ref": "GoogleCloudDialogflowV2IntentMessageQuickReplies"
        },
        "platform": {
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FACEBOOK",
            "SLACK",
            "TELEGRAM",
            "KIK",
            "SKYPE",
            "LINE",
            "VIBER",
            "ACTIONS_ON_GOOGLE",
            "GOOGLE_HANGOUTS"
          ],
          "type": "string",
          "description": "Optional. The platform that this message is intended for.",
          "enumDescriptions": [
            "Default platform.",
            "Facebook.",
            "Slack.",
            "Telegram.",
            "Kik.",
            "Skype.",
            "Line.",
            "Viber.",
            "Google Assistant See [Dialogflow webhook format](https://developers.google.com/assistant/actions/build/json/dialogflow-webhook-json)",
            "Google Hangouts."
          ]
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage",
          "description": "The image response."
        },
        "tableCard": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageTableCard",
          "description": "Table card for Actions on Google."
        },
        "browseCarouselCard": {
          "description": "Browse carousel card for Actions on Google.",
          "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard"
        },
        "linkOutSuggestion": {
          "description": "The link out suggestion chip for Actions on Google.",
          "$ref": "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion"
        },
        "listSelect": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageListSelect",
          "description": "The list card response for Actions on Google."
        },
        "mediaContent": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageMediaContent",
          "description": "The media content card for Actions on Google."
        }
      },
      "description": "A rich response message. Corresponds to the intent `Response` field in the Dialogflow console. For more information, see [Rich response messages](https://cloud.google.com/dialogflow/docs/intents-rich-messages)."
    },
    "GoogleCloudDialogflowCxV3Page": {
      "description": "A Dialogflow CX conversation (session) can be described and visualized as a state machine. The states of a CX session are represented by pages. For each flow, you define many pages, where your combined pages can handle a complete conversation on the topics the flow is designed for. At any given moment, exactly one page is the current page, the current page is considered active, and the flow associated with that page is considered active. Every flow has a special start page. When a flow initially becomes active, the start page page becomes the current page. For each conversational turn, the current page will either stay the same or transition to another page. You configure each page to collect information from the end-user that is relevant for the conversational state represented by the page. For more information, see the [Page guide](https://cloud.google.com/dialogflow/cx/docs/concept/page).",
      "id": "GoogleCloudDialogflowCxV3Page",
      "properties": {
        "entryFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment",
          "description": "The fulfillment to call when the session is entering the page."
        },
        "transitionRouteGroups": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Ordered list of `TransitionRouteGroups` associated with the page. Transition route groups must be unique within a page. * If multiple transition routes within a page scope refer to the same intent, then the precedence order is: page's transition route -\u003e page's transition route group -\u003e flow's transition routes. * If multiple transition route groups within a page contain the same intent, then the first group in the ordered list takes precedence. Format:`projects//locations//agents//flows//transitionRouteGroups/`."
        },
        "eventHandlers": {
          "description": "Handlers associated with the page to handle events such as webhook errors, no match or no input.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          },
          "type": "array"
        },
        "displayName": {
          "description": "Required. The human-readable name of the page, unique within the flow.",
          "type": "string"
        },
        "name": {
          "description": "The unique identifier of the page. Required for the Pages.UpdatePage method. Pages.CreatePage populates the name automatically. Format: `projects//locations//agents//flows//pages/`.",
          "type": "string"
        },
        "form": {
          "$ref": "GoogleCloudDialogflowCxV3Form",
          "description": "The form associated with the page, used for collecting parameters relevant to the page."
        },
        "transitionRoutes": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionRoute"
          },
          "type": "array",
          "description": "A list of transitions for the transition rules of this page. They route the conversation to another page in the same flow, or another flow. When we are in a certain page, the TransitionRoutes are evalauted in the following order: * TransitionRoutes defined in the page with intent specified. * TransitionRoutes defined in the transition route groups with intent specified. * TransitionRoutes defined in flow with intent specified. * TransitionRoutes defined in the transition route groups with intent specified. * TransitionRoutes defined in the page with only condition specified. * TransitionRoutes defined in the transition route groups with only condition specified."
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2WebhookResponse": {
      "id": "GoogleCloudDialogflowV2WebhookResponse",
      "properties": {
        "followupEventInput": {
          "description": "Optional. Invokes the supplied events. When this field is set, Dialogflow ignores the `fulfillment_text`, `fulfillment_messages`, and `payload` fields.",
          "$ref": "GoogleCloudDialogflowV2EventInput"
        },
        "fulfillmentText": {
          "description": "Optional. The text response message intended for the end-user. It is recommended to use `fulfillment_messages.text.text[0]` instead. When provided, Dialogflow uses this field to populate QueryResult.fulfillment_text sent to the integration or API caller.",
          "type": "string"
        },
        "fulfillmentMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          },
          "description": "Optional. The rich response messages intended for the end-user. When provided, Dialogflow uses this field to populate QueryResult.fulfillment_messages sent to the integration or API caller."
        },
        "source": {
          "description": "Optional. A custom field used to identify the webhook source. Arbitrary strings are supported. When provided, Dialogflow uses this field to populate QueryResult.webhook_source sent to the integration or API caller.",
          "type": "string"
        },
        "sessionEntityTypes": {
          "description": "Optional. Additional session entity types to replace or extend developer entity types with. The entity synonyms apply to all languages and persist for the session. Setting this data from a webhook overwrites the session entity types that have been set using `detectIntent`, `streamingDetectIntent` or SessionEntityType management methods.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SessionEntityType"
          }
        },
        "payload": {
          "type": "object",
          "description": "Optional. This field can be used to pass custom data from your webhook to the integration or API caller. Arbitrary JSON objects are supported. When provided, Dialogflow uses this field to populate QueryResult.webhook_payload sent to the integration or API caller. This field is also used by the [Google Assistant integration](https://cloud.google.com/dialogflow/docs/integrations/aog) for rich response messages. See the format definition at [Google Assistant Dialogflow webhook format](https://developers.google.com/assistant/actions/build/json/dialogflow-webhook-json)",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "outputContexts": {
          "description": "Optional. The collection of output contexts that will overwrite currently active contexts for the session and reset their lifespans. When provided, Dialogflow uses this field to populate QueryResult.output_contexts sent to the integration or API caller.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The response message for a webhook call. This response is validated by the Dialogflow server. If validation fails, an error will be returned in the QueryResult.diagnostic_info field. Setting JSON fields to an empty value with the wrong type is a common error. To avoid this error: - Use `\"\"` for empty strings - Use `{}` or `null` for empty objects - Use `[]` or `null` for empty arrays For more information, see the [Protocol Buffers Language Guide](https://developers.google.com/protocol-buffers/docs/proto3#json)."
    },
    "GoogleCloudDialogflowCxV3WebhookResponse": {
      "description": "The response message for a webhook call.",
      "properties": {
        "payload": {
          "description": "Value to append directly to QueryResult.webhook_payloads.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "fulfillmentResponse": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponse",
          "description": "The fulfillment response to send to the user. This field can be omitted by the webhook if it does not intend to send any response to the user."
        },
        "sessionInfo": {
          "description": "Information about session status. This field can be omitted by the webhook if it does not intend to modify session status.",
          "$ref": "GoogleCloudDialogflowCxV3SessionInfo"
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3PageInfo",
          "description": "Information about page status. This field can be omitted by the webhook if it does not intend to modify page status."
        },
        "targetFlow": {
          "type": "string",
          "description": "The target flow to transition to. Format: `projects//locations//agents//flows/`."
        },
        "targetPage": {
          "type": "string",
          "description": "The target page to transition to. Format: `projects//locations//agents//flows//pages/`."
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3WebhookResponse"
    },
    "GoogleCloudDialogflowV2MessageAnnotation": {
      "id": "GoogleCloudDialogflowV2MessageAnnotation",
      "type": "object",
      "description": "Represents the result of annotation for the message.",
      "properties": {
        "parts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2AnnotatedMessagePart"
          },
          "description": "The collection of annotated message parts ordered by their position in the message. You can recover the annotated message by concatenating [AnnotatedMessagePart.text].",
          "type": "array"
        },
        "containEntities": {
          "description": "Indicates whether the text message contains entities.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput": {
      "description": "The input from the human user.",
      "properties": {
        "input": {
          "description": "Supports text input, event input, dtmf input in the test case.",
          "$ref": "GoogleCloudDialogflowCxV3beta1QueryInput"
        },
        "isWebhookEnabled": {
          "type": "boolean",
          "description": "If webhooks should be allowed to trigger in response to the user utterance. Often if parameters are injected, webhooks should not be enabled."
        },
        "enableSentimentAnalysis": {
          "type": "boolean",
          "description": "Whether sentiment analysis is enabled."
        },
        "injectedParameters": {
          "description": "Parameters that need to be injected into the conversation during intent detection.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput"
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudio": {
      "properties": {
        "segments": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudioSegment"
          },
          "type": "array",
          "description": "Segments this audio response is composed of."
        }
      },
      "description": "Represents an audio message that is composed of both segments synthesized from the Dialogflow agent prompts and ones hosted externally at the specified URIs.",
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudio"
    },
    "GoogleCloudDialogflowCxV3ExportAgentResponse": {
      "id": "GoogleCloudDialogflowCxV3ExportAgentResponse",
      "description": "The response message for Agents.ExportAgent.",
      "type": "object",
      "properties": {
        "agentUri": {
          "type": "string",
          "description": "The URI to a file containing the exported agent. This field is populated if `agent_uri` is specified in ExportAgentRequest."
        },
        "agentContent": {
          "format": "byte",
          "description": "Uncompressed raw byte content for agent.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentInput": {
      "description": "Represents the intent to trigger programmatically rather than as a result of natural language processing. The intent input is only used for V3 agent.",
      "id": "GoogleCloudDialogflowV2beta1IntentInput",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "Required. The language of this conversational query. See [Language Support](https://cloud.google.com/dialogflow/docs/reference/language) for a list of the currently supported language codes."
        },
        "intent": {
          "type": "string",
          "description": "Required. The unique identifier of the intent in V3 agent. Format: `projects//locations//locations//agents//intents/`."
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1EntityTypeBatch": {
      "id": "GoogleCloudDialogflowV2beta1EntityTypeBatch",
      "properties": {
        "entityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityType"
          },
          "description": "A collection of entity types."
        }
      },
      "description": "This message is a wrapper around a collection of entity types.",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportDocumentsOperationMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportDocumentsOperationMetadata",
      "type": "object",
      "properties": {
        "genericMetadata": {
          "description": "The generic information of the operation.",
          "$ref": "GoogleCloudDialogflowCxV3beta1GenericKnowledgeOperationMetadata"
        }
      },
      "description": "Metadata for ImportDocuments operation."
    },
    "GoogleCloudDialogflowCxV3beta1TurnSignals": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TurnSignals",
      "properties": {
        "failureReasons": {
          "items": {
            "enum": [
              "FAILURE_REASON_UNSPECIFIED",
              "FAILED_INTENT",
              "FAILED_WEBHOOK"
            ],
            "enumDescriptions": [
              "Failure reason is not assigned.",
              "Whether NLU failed to recognize user intent.",
              "Whether webhook failed during the turn."
            ],
            "type": "string"
          },
          "description": "Failure reasons of the turn.",
          "type": "array"
        },
        "sentimentMagnitude": {
          "description": "Sentiment magnitude of the user utterance if [sentiment](https://cloud.google.com/dialogflow/cx/docs/concept/sentiment) was enabled.",
          "format": "float",
          "type": "number"
        },
        "dtmfUsed": {
          "type": "boolean",
          "description": "Whether user was using DTMF input."
        },
        "sentimentScore": {
          "format": "float",
          "description": "Sentiment score of the user utterance if [sentiment](https://cloud.google.com/dialogflow/cx/docs/concept/sentiment) was enabled.",
          "type": "number"
        },
        "reachedEndPage": {
          "description": "Whether turn resulted in End Session page.",
          "type": "boolean"
        },
        "noUserInput": {
          "description": "Whether user provided no input.",
          "type": "boolean"
        },
        "userEscalated": {
          "description": "Whether user was specifically asking for a live agent.",
          "type": "boolean"
        },
        "agentEscalated": {
          "type": "boolean",
          "description": "Whether agent responded with LiveAgentHandoff fulfillment."
        },
        "webhookStatuses": {
          "description": "Human-readable statuses of the webhooks triggered during this turn.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "noMatch": {
          "type": "boolean",
          "description": "Whether NLU predicted NO_MATCH."
        }
      },
      "description": "Collection of all signals that were extracted for a single turn of the conversation."
    },
    "GoogleCloudDialogflowV2beta1ListDocumentsResponse": {
      "id": "GoogleCloudDialogflowV2beta1ListDocumentsResponse",
      "description": "Response message for Documents.ListDocuments.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
[...]
