{
  "basePath": "",
  "revision": "20200526",
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "id": "dialogflow:v3alpha1",
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion": {
      "id": "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion",
      "description": "The suggestion chip message that allows the user to jump out to the app\nor website associated with this agent.",
      "type": "object",
      "properties": {
        "destinationName": {
          "type": "string",
          "description": "Required. The name of the app or site this chip is linking to."
        },
        "uri": {
          "description": "Required. The URI of the app or site to open when the user taps the\nsuggestion chip.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2EntityTypeEntity": {
      "description": "An **entity entry** for an associated entity type.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Required. The primary value associated with this entity entry.\nFor example, if the entity type is *vegetable*, the value could be\n*scallions*.\n\nFor `KIND_MAP` entity types:\n\n*   A reference value to be used in place of synonyms.\n\nFor `KIND_LIST` entity types:\n\n*   A string that can contain references to other entity types (with or\n    without aliases).",
          "type": "string"
        },
        "synonyms": {
          "description": "Required. A collection of value synonyms. For example, if the entity type\nis *vegetable*, and `value` is *scallions*, a synonym could be *green\nonions*.\n\nFor `KIND_LIST` entity types:\n\n*   This collection must contain exactly one synonym equal to `value`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2EntityTypeEntity"
    },
    "GoogleCloudDialogflowV2AnnotatedMessagePart": {
      "type": "object",
      "properties": {
        "formattedValue": {
          "description": "The [Dialogflow system entity formatted value\n](https://cloud.google.com/dialogflow/docs/reference/system-entities) of\nthis message part. For example for a system entity of type\n`@sys.unit-currency`, this may contain:\n\u003cpre\u003e\n{\n  \"amount\": 5,\n  \"currency\": \"USD\"\n}\n\u003c/pre\u003e",
          "type": "any"
        },
        "text": {
          "description": "A part of a message possibly annotated with an entity.",
          "type": "string"
        },
        "entityType": {
          "description": "The [Dialogflow system entity\ntype](https://cloud.google.com/dialogflow/docs/reference/system-entities)\nof this message part. If this is empty, Dialogflow could not annotate the\nphrase part with a system entity.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2AnnotatedMessagePart",
      "description": "Represents a part of a message possibly annotated with an entity. The part\ncan be an entity or purely a part of the message between two entities or\nmessage start/end."
    },
    "GoogleCloudDialogflowV2IntentMessageTableCard": {
      "id": "GoogleCloudDialogflowV2IntentMessageTableCard",
      "description": "Table card for Actions on Google.",
      "type": "object",
      "properties": {
        "columnProperties": {
          "description": "Optional. Display properties for the columns in this table.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageColumnProperties"
          }
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage",
          "description": "Optional. Image which should be displayed on the card."
        },
        "buttons": {
          "description": "Optional. List of buttons for the card.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButton"
          }
        },
        "title": {
          "type": "string",
          "description": "Required. Title of the card."
        },
        "rows": {
          "description": "Optional. Rows in this table of data.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageTableCardRow"
          }
        },
        "subtitle": {
          "description": "Optional. Subtitle to the title.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageText": {
      "properties": {
        "text": {
          "description": "Optional. The collection of the agent's responses.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageText",
      "description": "The text response message.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2QueryResult": {
      "properties": {
        "webhookSource": {
          "description": "If the query was fulfilled by a webhook call, this field is set to the\nvalue of the `source` field returned in the webhook response.",
          "type": "string"
        },
        "fulfillmentText": {
          "description": "The text to be pronounced to the user or shown on the screen.\nNote: This is a legacy field, `fulfillment_messages` should be preferred.",
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The collection of extracted parameters.\n\nDepending on your protocol or client library language, this is a\nmap, associative array, symbol table, dictionary, or JSON object\ncomposed of a collection of (MapKey, MapValue) pairs:\n\n-   MapKey type: string\n-   MapKey value: parameter name\n-   MapValue type:\n    -   If parameter's entity type is a composite entity: map\n    -   Else: string or number, depending on parameter value type\n-   MapValue value:\n    -   If parameter's entity type is a composite entity:\n        map from composite entity property names to property values\n    -   Else: parameter value",
          "type": "object"
        },
        "sentimentAnalysisResult": {
          "description": "The sentiment analysis result, which depends on the\n`sentiment_analysis_request_config` specified in the request.",
          "$ref": "GoogleCloudDialogflowV2SentimentAnalysisResult"
        },
        "intentDetectionConfidence": {
          "description": "The intent detection confidence. Values range from 0.0\n(completely uncertain) to 1.0 (completely certain).\nThis value is for informational purpose only and is only used to\nhelp match the best intent within the classification threshold.\nThis value may change for the same end-user expression at any time due to a\nmodel retraining or change in implementation.\nIf there are `multiple knowledge_answers` messages, this value is set to\nthe greatest `knowledgeAnswers.match_confidence` value in the list.",
          "format": "float",
          "type": "number"
        },
        "allRequiredParamsPresent": {
          "description": "This field is set to:\n\n- `false` if the matched intent has required parameters and not all of\n   the required parameter values have been collected.\n- `true` if all required parameter values have been collected, or if the\n   matched intent doesn't contain any required parameters.",
          "type": "boolean"
        },
        "speechRecognitionConfidence": {
          "description": "The Speech recognition confidence between 0.0 and 1.0. A higher number\nindicates an estimated greater likelihood that the recognized words are\ncorrect. The default of 0.0 is a sentinel value indicating that confidence\nwas not set.\n\nThis field is not guaranteed to be accurate or set. In particular this\nfield isn't set for StreamingDetectIntent since the streaming endpoint has\nseparate confidence estimates per portion of the audio in\nStreamingRecognitionResult.",
          "format": "float",
          "type": "number"
        },
        "queryText": {
          "description": "The original conversational query text:\n\n- If natural language text was provided as input, `query_text` contains\n  a copy of the input.\n- If natural language speech audio was provided as input, `query_text`\n  contains the speech recognition result. If speech recognizer produced\n  multiple alternatives, a particular one is picked.\n- If automatic spell correction is enabled, `query_text` will contain the\n  corrected user input.",
          "type": "string"
        },
        "diagnosticInfo": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Free-form diagnostic information for the associated detect intent request.\nThe fields of this data can change without notice, so you should not write\ncode that depends on its structure.\nThe data may contain:\n\n- webhook call latency\n- webhook errors",
          "type": "object"
        },
        "outputContexts": {
          "description": "The collection of output contexts. If applicable,\n`output_contexts.parameters` contains entries with name\n`\u003cparameter name\u003e.original` containing the original parameter values\nbefore the query.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          }
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowV2Intent",
          "description": "The intent that matched the conversational query. Some, not\nall fields are filled in this message, including but not limited to:\n`name`, `display_name`, `end_interaction` and `is_fallback`."
        },
        "languageCode": {
          "description": "The language that was triggered during intent detection.\nSee [Language\nSupport](https://cloud.google.com/dialogflow/docs/reference/language)\nfor a list of the currently supported language codes.",
          "type": "string"
        },
        "webhookPayload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "If the query was fulfilled by a webhook call, this field is set to the\nvalue of the `payload` field returned in the webhook response.",
          "type": "object"
        },
        "fulfillmentMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          },
          "description": "The collection of rich messages to present to the user."
        },
        "action": {
          "description": "The action name from the matched intent.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2QueryResult",
      "description": "Represents the result of conversational query or event processing.",
      "type": "object"
    },
    "GoogleCloudDialogflowV3alpha1ExportAgentResponse": {
      "description": "The response message for Agents.ExportAgent.",
      "type": "object",
      "properties": {
        "agentContent": {
          "description": "Uncompressed raw byte content for agent.",
          "format": "byte",
          "type": "string"
        },
        "agentUri": {
          "description": "The URI to a file containing the exported agent. This field is populated\nonly if `agent_uri` is specified in ExportAgentRequest.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV3alpha1ExportAgentResponse"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo": {
      "description": "Represents fulfillment information communicated to the webhook.",
      "type": "object",
      "properties": {
        "tag": {
          "description": "Always present. The tag used to identify which fulfillment is being\ncalled.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequest": {
      "type": "object",
      "properties": {
        "detectIntentResponseId": {
          "description": "Always present. The unique identifier of the DetectIntentResponse that\nwill be returned to the API caller.",
          "type": "string"
        },
        "sessionInfo": {
          "description": "Information about session status.",
          "$ref": "GoogleCloudDialogflowCxV3beta1SessionInfo"
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PageInfo",
          "description": "Information about page status."
        },
        "fulfillmentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo",
          "description": "Always present. Information about the fulfillment that triggered this\nwebhook call."
        },
        "payload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Custom data set in QueryParameters.payload.",
          "type": "object"
        },
        "messages": {
          "description": "The list of rich message responses to present to the user. Webhook can\nchoose to append or replace this list in\nWebhookResponse.fulfillment_response;",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          }
        },
        "intentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo",
          "description": "Information about the last matched intent."
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequest",
      "description": "The request message for a webhook call."
    },
    "GoogleCloudDialogflowV2IntentMessageCarouselSelect": {
      "description": "The card for presenting a carousel of options to select from.",
      "type": "object",
      "properties": {
        "items": {
          "description": "Required. Carousel items.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageCarouselSelect"
    },
    "GoogleCloudDialogflowV2IntentFollowupIntentInfo": {
      "properties": {
        "followupIntentName": {
          "description": "The unique identifier of the followup intent.\nFormat: `projects/\u003cProject ID\u003e/agent/intents/\u003cIntent ID\u003e`.",
          "type": "string"
        },
        "parentFollowupIntentName": {
          "type": "string",
          "description": "The unique identifier of the followup intent's parent.\nFormat: `projects/\u003cProject ID\u003e/agent/intents/\u003cIntent ID\u003e`."
        }
      },
      "id": "GoogleCloudDialogflowV2IntentFollowupIntentInfo",
      "description": "Represents a single followup intent in the chain.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ConversationEvent": {
      "description": "Represents a notification sent to Cloud Pub/Sub subscribers for conversation\nlifecycle events.",
      "type": "object",
      "properties": {
        "errorStatus": {
          "description": "More detailed information about an error. Only set for type\nUNRECOVERABLE_ERROR_IN_PHONE_CALL.",
          "$ref": "GoogleRpcStatus"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "CONVERSATION_STARTED",
            "CONVERSATION_FINISHED",
            "HUMAN_INTERVENTION_NEEDED",
            "NEW_MESSAGE",
            "UNRECOVERABLE_ERROR"
          ],
          "description": "The type of the event that this notification refers to.",
          "type": "string",
          "enumDescriptions": [
            "Type not set.",
            "A new conversation has been opened. This is fired when a telephone call\nis answered, or a conversation is created via the API.",
            "An existing conversation has closed. This is fired when a telephone call\nis terminated, or a conversation is closed via the API.",
            "An existing conversation has received notification from Dialogflow that\nhuman intervention is required.",
            "An existing conversation has received a new message, either from API or\ntelephony. It is configured in\nConversationProfile.new_message_event_notification_config",
            "Unrecoverable error during a telephone call.\n\nIn general non-recoverable errors only occur if something was\nmisconfigured in the ConversationProfile corresponding to the call. After\na non-recoverable error, Dialogflow may stop responding.\n\nWe don't fire this event:\n* in an API call because we can directly return the error, or,\n* when we can recover from an error."
          ]
        },
        "conversation": {
          "description": "The unique identifier of the conversation this notification\nrefers to.\nFormat: `projects/\u003cProject ID\u003e/conversations/\u003cConversation ID\u003e`.",
          "type": "string"
        },
        "newMessagePayload": {
          "$ref": "GoogleCloudDialogflowV2Message",
          "description": "Payload of NEW_MESSAGE event."
        }
      },
      "id": "GoogleCloudDialogflowV2ConversationEvent"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSuggestions": {
      "description": "The collection of suggestions.",
      "type": "object",
      "properties": {
        "suggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSuggestion"
          },
          "description": "Required. The list of suggested replies."
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSuggestions"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageQuickReplies": {
      "description": "The quick replies response message.",
      "type": "object",
      "properties": {
        "title": {
          "description": "Optional. The title of the collection of quick replies.",
          "type": "string"
        },
        "quickReplies": {
          "description": "Optional. The collection of quick replies.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageQuickReplies"
    },
    "GoogleCloudDialogflowV2EntityType": {
      "description": "Represents an entity type.\nEntity types serve as a tool for extracting parameter values from natural\nlanguage queries.",
      "type": "object",
      "properties": {
        "kind": {
          "enumDescriptions": [
            "Not specified. This value should be never used.",
            "Map entity types allow mapping of a group of synonyms to a reference\nvalue.",
            "List entity types contain a set of entries that do not map to reference\nvalues. However, list entity types can contain references to other entity\ntypes (with or without aliases).",
            "Regexp entity types allow to specify regular expressions in entries\nvalues."
          ],
          "enum": [
            "KIND_UNSPECIFIED",
            "KIND_MAP",
            "KIND_LIST",
            "KIND_REGEXP"
          ],
          "description": "Required. Indicates the kind of entity type.",
          "type": "string"
        },
        "enableFuzzyExtraction": {
          "description": "Optional. Enables fuzzy entity extraction during classification.",
          "type": "boolean"
        },
        "displayName": {
          "description": "Required. The name of the entity type.",
          "type": "string"
        },
        "entities": {
          "description": "Optional. The collection of entity entries associated with the entity type.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityTypeEntity"
          }
        },
        "name": {
          "description": "The unique identifier of the entity type.\nRequired for EntityTypes.UpdateEntityType and\nEntityTypes.BatchUpdateEntityTypes methods.\nFormat: `projects/\u003cProject ID\u003e/agent/entityTypes/\u003cEntity Type ID\u003e`.",
          "type": "string"
        },
        "autoExpansionMode": {
          "description": "Optional. Indicates whether the entity type can be automatically\nexpanded.",
          "type": "string",
          "enumDescriptions": [
            "Auto expansion disabled for the entity.",
            "Allows an agent to recognize values that have not been explicitly\nlisted in the entity."
          ],
          "enum": [
            "AUTO_EXPANSION_MODE_UNSPECIFIED",
            "AUTO_EXPANSION_MODE_DEFAULT"
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2EntityType"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow": {
      "description": "Row of TableCard.",
      "type": "object",
      "properties": {
        "dividerAfter": {
          "description": "Optional. Whether to add a visual divider after this row.",
          "type": "boolean"
        },
        "cells": {
          "description": "Optional. List of cells that make up this row.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCardCell"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow"
    },
    "GoogleCloudDialogflowCxV3beta1PageInfoFormInfo": {
      "id": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfo",
      "description": "Represents form information.",
      "type": "object",
      "properties": {
        "state": {
          "description": "Always present for WebhookRequest. Ignored for WebhookResponse.\nThe current state of the form.",
          "type": "string",
          "enumDescriptions": [
            "Not specified. This value should be never used.",
            "The server is initializing the form. The webhook can process the form\nbefore parameter collection begins.",
            "The server is collecting form parameters from the user. The webhook can\nmodify form parameters that have been collected or are to be collected.",
            "The server has collected all required form parameters from the user.\nThe webhook can modify collected form parameters. If any required\nparameter is invalidated by the webhook, the form will return to the\nparameter collection state; otherwise, parameter collection will\nconclude."
          ],
          "enum": [
            "FORM_STATE_UNSPECIFIED",
            "INITIALIZING",
            "COLLECTING",
            "FINALIZED"
          ]
        },
        "parameterInfo": {
          "description": "Optional for both WebhookRequest and WebhookResponse.\nThe parameters contained in the form. Note that the webhook cannot add\nor remove any form parameter.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfo"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2WebhookRequest": {
      "description": "The request message for a webhook call.",
      "type": "object",
      "properties": {
        "session": {
          "description": "The unique identifier of detectIntent request session.\nCan be used to identify end-user inside webhook implementation.\nFormat: `projects/\u003cProject ID\u003e/agent/sessions/\u003cSession ID\u003e`, or\n`projects/\u003cProject ID\u003e/agent/environments/\u003cEnvironment ID\u003e/users/\u003cUser\nID\u003e/sessions/\u003cSession ID\u003e`.",
          "type": "string"
        },
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2QueryResult",
          "description": "The result of the conversational query or event processing. Contains the\nsame value as `[Streaming]DetectIntentResponse.query_result`."
        },
        "originalDetectIntentRequest": {
          "description": "Optional. The contents of the original request that was passed to\n`[Streaming]DetectIntent` call.",
          "$ref": "GoogleCloudDialogflowV2OriginalDetectIntentRequest"
        },
        "responseId": {
          "description": "The unique identifier of the response. Contains the same value as\n`[Streaming]DetectIntentResponse.response_id`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2WebhookRequest"
    },
    "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo": {
      "description": "Represents a single followup intent in the chain.",
      "type": "object",
      "properties": {
        "followupIntentName": {
          "description": "The unique identifier of the followup intent.\nFormat: `projects/\u003cProject ID\u003e/agent/intents/\u003cIntent ID\u003e`.",
          "type": "string"
        },
        "parentFollowupIntentName": {
          "description": "The unique identifier of the followup intent's parent.\nFormat: `projects/\u003cProject ID\u003e/agent/intents/\u003cIntent ID\u003e`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo"
    },
    "GoogleCloudDialogflowV2MessageAnnotation": {
      "description": "Represents the result of annotation for the message.",
      "type": "object",
      "properties": {
        "parts": {
          "description": "The collection of annotated message parts ordered by their\nposition in the message. You can recover the annotated message by\nconcatenating [AnnotatedMessagePart.text].",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AnnotatedMessagePart"
          }
        },
        "containEntities": {
          "description": "Indicates whether the text message contains entities.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2MessageAnnotation"
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. Description of the carousel item. Maximum of four lines of\ntext.",
          "type": "string"
        },
        "openUriAction": {
          "description": "Required. Action to present to the user.",
          "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
        },
        "footer": {
          "description": "Optional. Text that appears at the bottom of the Browse Carousel\nCard. Maximum of one line of text.",
          "type": "string"
        },
        "title": {
          "description": "Required. Title of the carousel item. Maximum of two lines of text.",
          "type": "string"
        },
        "image": {
          "description": "Optional. Hero image for the carousel item.",
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem",
      "description": "Browsing carousel tile"
    },
    "GoogleCloudDialogflowV2ExportAgentResponse": {
      "id": "GoogleCloudDialogflowV2ExportAgentResponse",
      "description": "The response message for Agents.ExportAgent.",
      "type": "object",
      "properties": {
        "agentUri": {
          "description": "The URI to a file containing the exported agent. This field is populated\nonly if `agent_uri` is specified in `ExportAgentRequest`.",
          "type": "string"
        },
        "agentContent": {
          "description": "Zip compressed raw byte content for agent.",
          "format": "byte",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1EntityTypeEntity": {
      "properties": {
        "value": {
          "description": "Required. The primary value associated with this entity entry.\nFor example, if the entity type is *vegetable*, the value could be\n*scallions*.\n\nFor `KIND_MAP` entity types:\n\n*   A reference value to be used in place of synonyms.\n\nFor `KIND_LIST` entity types:\n\n*   A string that can contain references to other entity types (with or\n    without aliases).",
          "type": "string"
        },
        "synonyms": {
          "description": "Required. A collection of value synonyms. For example, if the entity type\nis *vegetable*, and `value` is *scallions*, a synonym could be *green\nonions*.\n\nFor `KIND_LIST` entity types:\n\n*   This collection must contain exactly one synonym equal to `value`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1EntityTypeEntity",
      "description": "An **entity entry** for an associated entity type.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTableCard": {
      "type": "object",
      "properties": {
        "subtitle": {
          "description": "Optional. Subtitle to the title.",
          "type": "string"
        },
        "columnProperties": {
          "description": "Optional. Display properties for the columns in this table.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties"
          }
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage",
          "description": "Optional. Image which should be displayed on the card."
        },
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton"
          },
          "description": "Optional. List of buttons for the card."
        },
        "title": {
          "description": "Required. Title of the card.",
          "type": "string"
        },
        "rows": {
          "description": "Optional. Rows in this table of data.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCard",
      "description": "Table card for Actions on Google."
    },
    "GoogleCloudDialogflowV2IntentMessageCardButton": {
      "id": "GoogleCloudDialogflowV2IntentMessageCardButton",
      "description": "Contains information about a button.",
      "type": "object",
      "properties": {
        "postback": {
          "description": "Optional. The text to send back to the Dialogflow API or a URI to\nopen.",
          "type": "string"
        },
        "text": {
          "description": "Optional. The text to show on the button.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2WebhookResponse": {
      "id": "GoogleCloudDialogflowV2WebhookResponse",
      "description": "The response message for a webhook call.\n\nThis response is validated by the Dialogflow server. If validation fails,\nan error will be returned in the QueryResult.diagnostic_info field.\nSetting JSON fields to an empty value with the wrong type is a common error.\nTo avoid this error:\n\n- Use `\"\"` for empty strings\n- Use `{}` or `null` for empty objects\n- Use `[]` or `null` for empty arrays\n\nFor more information, see the\n[Protocol Buffers Language\nGuide](https://developers.google.com/protocol-buffers/docs/proto3#json).",
      "type": "object",
      "properties": {
        "source": {
          "type": "string",
          "description": "Optional. A custom field used to identify the webhook source.\nArbitrary strings are supported.\nWhen provided, Dialogflow uses this field to populate\nQueryResult.webhook_source sent to the integration or API caller."
        },
        "followupEventInput": {
          "description": "Optional. Invokes the supplied events.\nWhen this field is set, Dialogflow ignores the `fulfillment_text`,\n`fulfillment_messages`, and `payload` fields.",
          "$ref": "GoogleCloudDialogflowV2EventInput"
        },
        "outputContexts": {
          "description": "Optional. The collection of output contexts that will overwrite currently\nactive contexts for the session and reset their lifespans.\nWhen provided, Dialogflow uses this field to populate\nQueryResult.output_contexts sent to the integration or API caller.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          }
        },
        "fulfillmentText": {
          "type": "string",
          "description": "Optional. The text response message intended for the end-user.\nIt is recommended to use `fulfillment_messages.text.text[0]` instead.\nWhen provided, Dialogflow uses this field to populate\nQueryResult.fulfillment_text sent to the integration or API caller."
        },
        "fulfillmentMessages": {
          "description": "Optional. The rich response messages intended for the end-user.\nWhen provided, Dialogflow uses this field to populate\nQueryResult.fulfillment_messages sent to the integration or API caller.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          }
        },
        "payload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. This field can be used to pass custom data from your webhook to the\nintegration or API caller. Arbitrary JSON objects are supported.\nWhen provided, Dialogflow uses this field to populate\nQueryResult.webhook_payload sent to the integration or API caller.\nThis field is also used by the\n[Google Assistant\nintegration](https://cloud.google.com/dialogflow/docs/integrations/aog)\nfor rich response messages.\nSee the format definition at [Google Assistant Dialogflow webhook\nformat](https://developers.google.com/assistant/actions/build/json/dialogflow-webhook-json)",
          "type": "object"
        },
        "sessionEntityTypes": {
          "description": "Optional. Additional session entity types to replace or extend developer\nentity types with. The entity synonyms apply to all languages and persist\nfor the session. Setting this data from a webhook overwrites\nthe session entity types that have been set using `detectIntent`,\n`streamingDetectIntent` or SessionEntityType management methods.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SessionEntityType"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAnswers": {
      "description": "Represents the result of querying a Knowledge base.",
      "type": "object",
      "properties": {
        "answers": {
          "description": "A list of answers from Knowledge Connector.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAnswers"
    },
    "GoogleCloudDialogflowV2beta1SentimentAnalysisResult": {
      "description": "The result of sentiment analysis as configured by\n`sentiment_analysis_request_config`.",
      "type": "object",
      "properties": {
        "queryTextSentiment": {
          "description": "The sentiment analysis result for `query_text`.",
          "$ref": "GoogleCloudDialogflowV2beta1Sentiment"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult"
    },
    "GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject": {
      "description": "Response media object for media content card.",
      "type": "object",
      "properties": {
        "icon": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage",
          "description": "Optional. Icon to display above media content."
        },
        "largeImage": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage",
          "description": "Optional. Image to display above media content."
        },
        "name": {
          "type": "string",
          "description": "Required. Name of media card."
        },
        "description": {
          "description": "Optional. Description of media card.",
          "type": "string"
        },
        "contentUrl": {
          "description": "Required. Url where the media is stored.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject"
    },
    "GoogleCloudDialogflowV2beta1ExportAgentResponse": {
      "description": "The response message for Agents.ExportAgent.",
      "type": "object",
      "properties": {
        "agentContent": {
          "description": "Zip compressed raw byte content for agent.",
          "format": "byte",
          "type": "string"
        },
        "agentUri": {
          "type": "string",
          "description": "The URI to a file containing the exported agent. This field is populated\nonly if `agent_uri` is specified in `ExportAgentRequest`."
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ExportAgentResponse"
    },
    "GoogleCloudDialogflowV2OriginalDetectIntentRequest": {
      "description": "Represents the contents of the original request that was passed to\nthe `[Streaming]DetectIntent` call.",
      "type": "object",
      "properties": {
        "version": {
          "description": "Optional. The version of the protocol used for this request.\nThis field is AoG-specific.",
          "type": "string"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. This field is set to the value of the `QueryParameters.payload`\nfield passed in the request. Some integrations that query a Dialogflow\nagent may provide additional information in the payload.\n\nIn particular, for the Dialogflow Phone Gateway integration, this field has\nthe form:\n\u003cpre\u003e{\n \"telephony\": {\n   \"caller_id\": \"+18558363987\"\n }\n}\u003c/pre\u003e\nNote: The caller ID field (`caller_id`) will be redacted for Standard\nEdition agents and populated with the caller ID in [E.164\nformat](https://en.wikipedia.org/wiki/E.164) for Enterprise Edition agents."
        },
        "source": {
          "description": "The source of this request, e.g., `google`, `facebook`, `slack`. It is set\nby Dialogflow-owned servers.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2OriginalDetectIntentRequest"
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
      "type": "object",
      "properties": {
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal response of the operation in case of success.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`/`Create`/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable.",
          "type": "boolean"
        }
      },
      "id": "GoogleLongrunningOperation"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall": {
      "type": "object",
      "properties": {
        "phoneNumber": {
          "description": "Required. The phone number to transfer the call to\nin [E.164 format](https://en.wikipedia.org/wiki/E.164).\n\nWe currently only allow transferring to US numbers (+1xxxyyyzzzz).",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall",
      "description": "Transfers the call in Telephony Gateway."
    },
    "GoogleCloudDialogflowV2beta1IntentMessageImage": {
      "type": "object",
      "properties": {
        "imageUri": {
          "description": "Optional. The public URI to an image file.",
          "type": "string"
        },
        "accessibilityText": {
          "description": "A text description of the image to be used for accessibility,\ne.g., screen readers. Required if image_uri is set for CarouselSelect.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageImage",
      "description": "The image response message."
    },
    "GoogleCloudDialogflowCxV3beta1ExportAgentResponse": {
      "description": "The response message for Agents.ExportAgent.",
      "type": "object",
      "properties": {
        "agentContent": {
          "description": "Uncompressed raw byte content for agent.",
          "format": "byte",
          "type": "string"
        },
        "agentUri": {
          "description": "The URI to a file containing the exported agent. This field is populated\nonly if `agent_uri` is specified in ExportAgentRequest.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ExportAgentResponse"
    },
    "GoogleCloudDialogflowV2IntentMessageSimpleResponse": {
      "id": "GoogleCloudDialogflowV2IntentMessageSimpleResponse",
      "description": "The simple response message containing speech or text.",
      "type": "object",
      "properties": {
        "textToSpeech": {
          "description": "One of text_to_speech or ssml must be provided. The plain text of the\nspeech output. Mutually exclusive with ssml.",
          "type": "string"
        },
        "ssml": {
          "description": "One of text_to_speech or ssml must be provided. Structured spoken\nresponse to the user in the SSML format. Mutually exclusive with\ntext_to_speech.",
          "type": "string"
        },
        "displayText": {
          "type": "string",
          "description": "Optional. The text to display."
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem": {
      "description": "An item in the carousel.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. The body text of the card.",
          "type": "string"
        },
        "info": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo",
          "description": "Required. Additional info about the option item."
        },
        "title": {
          "description": "Required. Title of the carousel item.",
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage",
          "description": "Optional. The image to display."
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton": {
      "description": "The button object that appears at the bottom of a card.",
      "type": "object",
      "properties": {
        "title": {
          "description": "Required. The title of the button.",
          "type": "string"
        },
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction",
          "description": "Required. Action to take when a user taps on the button."
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton"
    },
    "GoogleCloudDialogflowV2IntentMessageMediaContent": {
      "description": "The media content card for Actions on Google.",
      "type": "object",
      "properties": {
        "mediaType": {
          "enumDescriptions": [
            "Unspecified.",
            "Response media type is audio."
          ],
          "enum": [
            "RESPONSE_MEDIA_TYPE_UNSPECIFIED",
            "AUDIO"
          ],
          "description": "Optional. What type of media is the content (ie \"audio\").",
          "type": "string"
        },
        "mediaObjects": {
          "description": "Required. List of media objects.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageMediaContent"
    },
    "GoogleCloudDialogflowV2IntentTrainingPhrase": {
      "description": "Represents an example that the agent is trained on.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The unique identifier of this training phrase.",
          "type": "string"
        },
        "timesAddedCount": {
          "description": "Optional. Indicates how many times this example was added to\nthe intent. Each time a developer adds an existing sample by editing an\nintent or training, this counter is increased.",
          "format": "int32",
          "type": "integer"
        },
        "type": {
          "description": "Required. The type of the training phrase.",
          "type": "string",
          "enumDescriptions": [
            "Not specified. This value should never be used.",
            "Examples do not contain @-prefixed entity type names, but example parts\ncan be annotated with entity types.",
            "Templates are not annotated with entity types, but they can contain\n@-prefixed entity type names as substrings.\nTemplate mode has been deprecated. Example mode is the only supported\nway to create new training phrases. If you have existing training\nphrases that you've created in template mode, those will continue to\nwork."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXAMPLE",
            "TEMPLATE"
          ]
        },
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentTrainingPhrasePart"
          },
          "description": "Required. The ordered list of training phrase parts.\nThe parts are concatenated in order to form the training phrase.\n\nNote: The API does not automatically annotate training phrases like the\nDialogflow Console does.\n\nNote: Do not forget to include whitespace at part boundaries,\nso the training phrase is well formatted when the parts are concatenated.\n\nIf the training phrase does not need to be annotated with parameters,\nyou just need a single part with only the Part.text field set.\n\nIf you want to annotate the training phrase, you must create multiple\nparts, where the fields of each part are populated in one of two ways:\n\n-   `Part.text` is set to a part of the phrase that has no parameters.\n-   `Part.text` is set to a part of the phrase that you want to annotate,\n    and the `entity_type`, `alias`, and `user_defined` fields are all\n    set."
        }
      },
      "id": "GoogleCloudDialogflowV2IntentTrainingPhrase"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageHumanAgentHandoff": {
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Custom metadata for your handoff procedure. Dialogflow doesn't impose\nany structure on this.",
          "type": "object"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageHumanAgentHandoff",
      "description": "Indicates that the conversation should be handed off to a human agent.\n\nDialogflow only uses this to determine which conversations were handed off\nto a human agent for measurement purposes. What else to do with this signal\nis up to you and your handoff procedures.\n\nYou may set this, for example:\n* In the entry_fulfillment of a Page if\n  entering the page indicates something went extremely wrong in the\n  conversation.\n* In a webhook response when you determine that the customer issue can only\n  be handled by a human."
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageText": {
      "description": "The text response message.",
      "type": "object",
      "properties": {
        "text": {
          "description": "A collection of text responses.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageText"
    },
    "GoogleLongrunningListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "GoogleLongrunningListOperationsResponse"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio": {
      "description": "Plays audio from a file in Telephony Gateway.",
      "type": "object",
      "properties": {
        "audioUri": {
          "description": "Required. URI to a Google Cloud Storage object containing the audio to\nplay, e.g., \"gs://bucket/object\". The object must contain a single\nchannel (mono) of linear PCM audio (2 bytes / sample) at 8kHz.\n\nThis object must be readable by the `service-\u003cProject\nNumber\u003e@gcp-sa-dialogflow.iam.gserviceaccount.com` service account\nwhere \u003cProject Number\u003e is the number of the Telephony Gateway project\n(usually the same as the Dialogflow agent project). If the Google Cloud\nStorage bucket is in the Telephony Gateway project, this permission is\nadded by default when enabling the Dialogflow V2 API.\n\nFor audio from other sources, consider using the\n`TelephonySynthesizeSpeech` message with SSML.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio"
    },
    "GoogleCloudDialogflowV2beta1WebhookRequest": {
      "description": "The request message for a webhook call.",
      "type": "object",
      "properties": {
        "queryResult": {
          "description": "The result of the conversational query or event processing. Contains the\nsame value as `[Streaming]DetectIntentResponse.query_result`.",
          "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
        },
        "originalDetectIntentRequest": {
          "$ref": "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest",
          "description": "Optional. The contents of the original request that was passed to\n`[Streaming]DetectIntent` call."
        },
        "alternativeQueryResults": {
          "description": "Alternative query results from KnowledgeService.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
          }
        },
        "responseId": {
          "type": "string",
          "description": "The unique identifier of the response. Contains the same value as\n`[Streaming]DetectIntentResponse.response_id`."
        },
        "session": {
          "description": "The unique identifier of detectIntent request session.\nCan be used to identify end-user inside webhook implementation.\nFormat: `projects/\u003cProject ID\u003e/agent/sessions/\u003cSession ID\u003e`, or\n`projects/\u003cProject ID\u003e/agent/environments/\u003cEnvironment ID\u003e/users/\u003cUser\nID\u003e/sessions/\u003cSession ID\u003e`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1WebhookRequest"
    },
    "GoogleCloudDialogflowV2IntentMessageListSelect": {
      "type": "object",
      "properties": {
        "subtitle": {
          "description": "Optional. Subtitle of the list.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageListSelectItem"
          },
          "description": "Required. List items."
        },
        "title": {
          "description": "Optional. The overall title of the list.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageListSelect",
      "description": "The card for presenting a list of options to select from."
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCardButton": {
      "type": "object",
      "properties": {
        "postback": {
          "description": "Optional. The text to send back to the Dialogflow API or a URI to\nopen.",
          "type": "string"
        },
        "text": {
          "description": "Optional. The text to show on the button.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCardButton",
      "description": "Optional. Contains information about a button."
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {},
      "id": "GoogleProtobufEmpty"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTableCardCell": {
      "properties": {
        "text": {
          "description": "Required. Text in this cell.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCardCell",
      "description": "Cell of TableCardRow.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial": {
      "description": "Opens the user's default dialer app with the specified phone number\nbut does not dial automatically (https://goo.gl/ergbB2).",
      "type": "object",
      "properties": {
        "phoneNumber": {
          "description": "Required. The phone number to fill in the default dialer app.\nThis field should be in [E.164](https://en.wikipedia.org/wiki/E.164)\nformat. An example of a correctly formatted phone number:\n+15556767888.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard": {
      "description": "Browse Carousel Card for Actions on Google.\nhttps://developers.google.com/actions/assistant/responses#browsing_carousel",
      "type": "object",
      "properties": {
        "items": {
          "description": "Required. List of items in the Browse Carousel Card. Minimum of two\nitems, maximum of ten.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
          }
        },
        "imageDisplayOptions": {
          "enumDescriptions": [
            "Fill the gaps between the image and the image container with gray\nbars.",
            "Fill the gaps between the image and the image container with gray\nbars.",
            "Fill the gaps between the image and the image container with white\nbars.",
            "Image is scaled such that the image width and height match or exceed\nthe container dimensions. This may crop the top and bottom of the\nimage if the scaled image height is greater than the container\nheight, or crop the left and right of the image if the scaled image\nwidth is greater than the container width. This is similar to \"Zoom\nMode\" on a widescreen TV when playing a 4:3 video.",
            "Pad the gaps between image and image frame with a blurred copy of the\nsame image."
          ],
          "enum": [
            "IMAGE_DISPLAY_OPTIONS_UNSPECIFIED",
            "GRAY",
            "WHITE",
            "CROPPED",
            "BLURRED_BACKGROUND"
          ],
          "description": "Optional. Settings for displaying the image. Applies to every image in\nitems.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard"
    },
    "GoogleCloudDialogflowV2IntentMessageListSelectItem": {
      "id": "GoogleCloudDialogflowV2IntentMessageListSelectItem",
      "description": "An item in the list.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. The main text describing the item."
        },
        "info": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo",
          "description": "Required. Additional information about this option."
        },
        "title": {
          "description": "Required. The title of the list item.",
          "type": "string"
        },
        "image": {
          "description": "Optional. The image to display.",
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction": {
      "description": "Actions on Google action to open a given url.",
      "type": "object",
      "properties": {
        "urlTypeHint": {
          "description": "Optional. Specifies the type of viewer that is used when opening\nthe URL. Defaults to opening via web browser.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Url would be an amp action",
            "URL that points directly to AMP content, or to a canonical URL\nwhich refers to AMP content via \u003clink rel=\"amphtml\"\u003e."
          ],
          "enum": [
            "URL_TYPE_HINT_UNSPECIFIED",
            "AMP_ACTION",
            "AMP_CONTENT"
          ]
        },
        "url": {
          "description": "Required. URL",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedReply": {
      "description": "Rich Business Messaging (RBM) suggested reply that the user can click\ninstead of typing in their own response.",
      "type": "object",
      "properties": {
        "postbackData": {
          "description": "Opaque payload that the Dialogflow receives in a user event\nwhen the user taps the suggested reply. This data will be also\nforwarded to webhook to allow performing custom business logic.",
          "type": "string"
        },
        "text": {
          "description": "Suggested reply text.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedReply"
    },
    "GoogleCloudDialogflowCxV3beta1SessionInfo": {
      "description": "Represents session information communicated to and from the webhook.",
      "type": "object",
      "properties": {
        "session": {
          "description": "Always present for WebhookRequest. Ignored for WebhookResponse.\nThe unique identifier of the session. This\nfield can be used by the webhook to identify a user.\nFormat: `projects/\u003cProject ID\u003e/locations/\u003cLocation ID\u003e/agents/\u003cAgent\nID\u003e/sessions/\u003cSession ID\u003e`.",
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "type": "any"
          },
          "description": "Optional for WebhookRequest. Optional for WebhookResponse.\nAll parameters collected from forms and intents during the session.\nParameters can be created, updated, or removed by the webhook. To remove a\nparameter from the session, the webhook should explicitly set the parameter\nvalue to null in WebhookResponse. The map is keyed by parameters'\ndisplay names.",
          "type": "object"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1SessionInfo"
    },
    "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest": {
      "description": "Represents the contents of the original request that was passed to\nthe `[Streaming]DetectIntent` call.",
      "type": "object",
      "properties": {
        "version": {
          "description": "Optional. The version of the protocol used for this request.\nThis field is AoG-specific.",
          "type": "string"
        },
        "payload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. This field is set to the value of the `QueryParameters.payload`\nfield passed in the request. Some integrations that query a Dialogflow\nagent may provide additional information in the payload.\n\nIn particular, for the Dialogflow Phone Gateway integration, this field has\nthe form:\n\u003cpre\u003e{\n \"telephony\": {\n   \"caller_id\": \"+18558363987\"\n }\n}\u003c/pre\u003e\nNote: The caller ID field (`caller_id`) will be redacted for Standard\nEdition agents and populated with the caller ID in [E.164\nformat](https://en.wikipedia.org/wiki/E.164) for Enterprise Edition agents.",
          "type": "object"
        },
        "source": {
          "description": "The source of this request, e.g., `google`, `facebook`, `slack`. It is set\nby Dialogflow-owned servers.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest"
    },
    "GoogleCloudDialogflowV2beta1WebhookResponse": {
      "properties": {
        "sessionEntityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
          },
          "description": "Optional. Additional session entity types to replace or extend developer\nentity types with. The entity synonyms apply to all languages and persist\nfor the session. Setting this data from a webhook overwrites\nthe session entity types that have been set using `detectIntent`,\n`streamingDetectIntent` or SessionEntityType management methods."
        },
        "source": {
          "type": "string",
          "description": "Optional. A custom field used to identify the webhook source.\nArbitrary strings are supported.\nWhen provided, Dialogflow uses this field to populate\nQueryResult.webhook_source sent to the integration or API caller."
        },
        "endInteraction": {
          "description": "Optional. Indicates that this intent ends an interaction. Some integrations\n(e.g., Actions on Google or Dialogflow phone gateway) use this information\nto close interaction with an end user. Default is false.",
          "type": "boolean"
        },
        "followupEventInput": {
          "$ref": "GoogleCloudDialogflowV2beta1EventInput",
          "description": "Optional. Invokes the supplied events.\nWhen this field is set, Dialogflow ignores the `fulfillment_text`,\n`fulfillment_messages`, and `payload` fields."
        },
        "outputContexts": {
          "description": "Optional. The collection of output contexts that will overwrite currently\nactive contexts for the session and reset their lifespans.\nWhen provided, Dialogflow uses this field to populate\nQueryResult.output_contexts sent to the integration or API caller.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          }
        },
        "fulfillmentText": {
          "description": "Optional. The text response message intended for the end-user.\nIt is recommended to use `fulfillment_messages.text.text[0]` instead.\nWhen provided, Dialogflow uses this field to populate\nQueryResult.fulfillment_text sent to the integration or API caller.",
          "type": "string"
        },
        "fulfillmentMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          },
          "description": "Optional. The rich response messages intended for the end-user.\nWhen provided, Dialogflow uses this field to populate\nQueryResult.fulfillment_messages sent to the integration or API caller."
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. This field can be used to pass custom data from your webhook to the\nintegration or API caller. Arbitrary JSON objects are supported.\nWhen provided, Dialogflow uses this field to populate\nQueryResult.webhook_payload sent to the integration or API caller.\nThis field is also used by the\n[Google Assistant\nintegration](https://cloud.google.com/dialogflow/docs/integrations/aog)\nfor rich response messages.\nSee the format definition at [Google Assistant Dialogflow webhook\nformat](https://developers.google.com/assistant/actions/build/json/dialogflow-webhook-json)"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1WebhookResponse",
      "description": "The response message for a webhook call.\n\nThis response is validated by the Dialogflow server. If validation fails,\nan error will be returned in the QueryResult.diagnostic_info field.\nSetting JSON fields to an empty value with the wrong type is a common error.\nTo avoid this error:\n\n- Use `\"\"` for empty strings\n- Use `{}` or `null` for empty objects\n- Use `[]` or `null` for empty arrays\n\nFor more information, see the\n[Protocol Buffers Language\nGuide](https://developers.google.com/protocol-buffers/docs/proto3#json).",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageTableCardRow": {
      "description": "Row of TableCard.",
      "type": "object",
      "properties": {
        "dividerAfter": {
          "description": "Optional. Whether to add a visual divider after this row.",
          "type": "boolean"
        },
        "cells": {
          "description": "Optional. List of cells that make up this row.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageTableCardCell"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageTableCardRow"
    },
    "GoogleCloudDialogflowV2IntentMessageSelectItemInfo": {
      "properties": {
        "synonyms": {
          "description": "Optional. A list of synonyms that can also be used to trigger this\nitem in dialog.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "key": {
          "description": "Required. A unique key that will be sent back to the agent if this\nresponse is given.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo",
      "description": "Additional info about the select item for when it is triggered in a\ndialog.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard": {
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard",
      "description": "Browse Carousel Card for Actions on Google.\nhttps://developers.google.com/actions/assistant/responses#browsing_carousel",
      "type": "object",
      "properties": {
        "imageDisplayOptions": {
          "description": "Optional. Settings for displaying the image. Applies to every image in\nitems.",
          "type": "string",
          "enumDescriptions": [
            "Fill the gaps between the image and the image container with gray\nbars.",
            "Fill the gaps between the image and the image container with gray\nbars.",
            "Fill the gaps between the image and the image container with white\nbars.",
            "Image is scaled such that the image width and height match or exceed\nthe container dimensions. This may crop the top and bottom of the\nimage if the scaled image height is greater than the container\nheight, or crop the left and right of the image if the scaled image\nwidth is greater than the container width. This is similar to \"Zoom\nMode\" on a widescreen TV when playing a 4:3 video.",
            "Pad the gaps between image and image frame with a blurred copy of the\nsame image."
          ],
          "enum": [
            "IMAGE_DISPLAY_OPTIONS_UNSPECIFIED",
            "GRAY",
            "WHITE",
            "CROPPED",
            "BLURRED_BACKGROUND"
          ]
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
          },
          "description": "Required. List of items in the Browse Carousel Card. Minimum of two\nitems, maximum of ten."
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. The HTTP or HTTPS scheme URI."
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction",
      "description": "Opens the given URI.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageQuickReplies": {
      "description": "The quick replies response message.",
      "type": "object",
      "properties": {
        "quickReplies": {
          "description": "Optional. The collection of quick replies.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "title": {
          "description": "Optional. The title of the collection of quick replies.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageQuickReplies"
    },
    "GoogleCloudDialogflowV2BatchUpdateEntityTypesResponse": {
      "description": "The response message for EntityTypes.BatchUpdateEntityTypes.",
      "type": "object",
      "properties": {
        "entityTypes": {
          "description": "The collection of updated or created entity types.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityType"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2BatchUpdateEntityTypesResponse"
    },
    "GoogleCloudDialogflowV2SentimentAnalysisResult": {
      "description": "The result of sentiment analysis as configured by\n`sentiment_analysis_request_config`.",
      "type": "object",
      "properties": {
        "queryTextSentiment": {
          "$ref": "GoogleCloudDialogflowV2Sentiment",
          "description": "The sentiment analysis result for `query_text`."
        }
      },
      "id": "GoogleCloudDialogflowV2SentimentAnalysisResult"
    },
    "GoogleCloudDialogflowV2beta1EntityType": {
      "description": "Represents an entity type.\nEntity types serve as a tool for extracting parameter values from natural\nlanguage queries.",
      "type": "object",
      "properties": {
        "enableFuzzyExtraction": {
          "description": "Optional. Enables fuzzy entity extraction during classification.",
          "type": "boolean"
        },
        "displayName": {
          "description": "Required. The name of the entity type.",
          "type": "string"
        },
        "kind": {
          "enumDescriptions": [
            "Not specified. This value should be never used.",
            "Map entity types allow mapping of a group of synonyms to a reference\nvalue.",
            "List entity types contain a set of entries that do not map to reference\nvalues. However, list entity types can contain references to other entity\ntypes (with or without aliases).",
            "Regexp entity types allow to specify regular expressions in entries\nvalues."
          ],
          "enum": [
            "KIND_UNSPECIFIED",
            "KIND_MAP",
            "KIND_LIST",
            "KIND_REGEXP"
          ],
          "description": "Required. Indicates the kind of entity type.",
          "type": "string"
        },
        "entities": {
          "description": "Optional. The collection of entity entries associated with the entity type.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
          }
        },
        "name": {
          "description": "The unique identifier of the entity type.\nRequired for EntityTypes.UpdateEntityType and\nEntityTypes.BatchUpdateEntityTypes methods.\nFormat: `projects/\u003cProject ID\u003e/agent/entityTypes/\u003cEntity Type ID\u003e`.",
          "type": "string"
        },
        "autoExpansionMode": {
          "type": "string",
          "enumDescriptions": [
            "Auto expansion disabled for the entity.",
            "Allows an agent to recognize values that have not been explicitly\nlisted in the entity."
          ],
          "enum": [
            "AUTO_EXPANSION_MODE_UNSPECIFIED",
            "AUTO_EXPANSION_MODE_DEFAULT"
          ],
          "description": "Optional. Indicates whether the entity type can be automatically\nexpanded."
        }
      },
      "id": "GoogleCloudDialogflowV2beta1EntityType"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse": {
      "description": "The simple response message containing speech or text.",
      "type": "object",
      "properties": {
        "ssml": {
          "description": "One of text_to_speech or ssml must be provided. Structured spoken\nresponse to the user in the SSML format. Mutually exclusive with\ntext_to_speech.",
          "type": "string"
        },
        "displayText": {
          "type": "string",
          "description": "Optional. The text to display."
        },
        "textToSpeech": {
          "description": "One of text_to_speech or ssml must be provided. The plain text of the\nspeech output. Mutually exclusive with ssml.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse"
    },
    "GoogleCloudDialogflowV2beta1SessionEntityType": {
      "properties": {
        "name": {
          "description": "Required. The unique identifier of this session entity type. Format:\n`projects/\u003cProject ID\u003e/agent/sessions/\u003cSession ID\u003e/entityTypes/\u003cEntity Type\nDisplay Name\u003e`, or\n`projects/\u003cProject ID\u003e/agent/environments/\u003cEnvironment ID\u003e/users/\u003cUser\nID\u003e/sessions/\u003cSession ID\u003e/entityTypes/\u003cEntity Type Display Name\u003e`.\nIf `Environment ID` is not specified, we assume default 'draft'\nenvironment. If `User ID` is not specified, we assume default '-' user.\n\n`\u003cEntity Type Display Name\u003e` must be the display name of an existing entity\ntype in the same agent that will be overridden or supplemented.",
          "type": "string"
        },
        "entityOverrideMode": {
          "enum": [
            "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
            "ENTITY_OVERRIDE_MODE_OVERRIDE",
            "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          ],
          "description": "Required. Indicates whether the additional data should override or\nsupplement the custom entity type definition.",
          "type": "string",
          "enumDescriptions": [
            "Not specified. This value should be never used.",
            "The collection of session entities overrides the collection of entities\nin the corresponding custom entity type.",
            "The collection of session entities extends the collection of entities in\nthe corresponding custom entity type.\n\nNote: Even in this override mode calls to `ListSessionEntityTypes`,\n`GetSessionEntityType`, `CreateSessionEntityType` and\n`UpdateSessionEntityType` only return the additional entities added in\nthis session entity type. If you want to get the supplemented list,\nplease call EntityTypes.GetEntityType on the custom entity type\nand merge."
          ]
        },
        "entities": {
          "description": "Required. The collection of entities associated with this session entity\ntype.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SessionEntityType",
      "description": "Represents a session entity type.\n\nExtends or replaces a custom entity type at the user session level (we\nrefer to the entity types defined at the agent level as \"custom entity\ntypes\").\n\nNote: session entity types apply to all queries, regardless of the language.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1QueryResult": {
      "properties": {
        "allRequiredParamsPresent": {
          "description": "This field is set to:\n\n- `false` if the matched intent has required parameters and not all of\n   the required parameter values have been collected.\n- `true` if all required parameter values have been collected, or if the\n   matched intent doesn't contain any required parameters.",
          "type": "boolean"
        },
        "speechRecognitionConfidence": {
          "description": "The Speech recognition confidence between 0.0 and 1.0. A higher number\nindicates an estimated greater likelihood that the recognized words are\ncorrect. The default of 0.0 is a sentinel value indicating that confidence\nwas not set.\n\nThis field is not guaranteed to be accurate or set. In particular this\nfield isn't set for StreamingDetectIntent since the streaming endpoint has\nseparate confidence estimates per portion of the audio in\nStreamingRecognitionResult.",
          "format": "float",
          "type": "number"
        },
        "queryText": {
          "type": "string",
          "description": "The original conversational query text:\n\n- If natural language text was provided as input, `query_text` contains\n  a copy of the input.\n- If natural language speech audio was provided as input, `query_text`\n  contains the speech recognition result. If speech recognizer produced\n  multiple alternatives, a particular one is picked.\n- If automatic spell correction is enabled, `query_text` will contain the\n  corrected user input."
        },
        "diagnosticInfo": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Free-form diagnostic information for the associated detect intent request.\nThe fields of this data can change without notice, so you should not write\ncode that depends on its structure.\nThe data may contain:\n\n- webhook call latency\n- webhook errors",
          "type": "object"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowV2beta1Intent",
          "description": "The intent that matched the conversational query. Some, not\nall fields are filled in this message, including but not limited to:\n`name`, `display_name`, `end_interaction` and `is_fallback`."
        },
        "languageCode": {
          "description": "The language that was triggered during intent detection.\nSee [Language\nSupport](https://cloud.google.com/dialogflow/docs/reference/language)\nfor a list of the currently supported language codes.",
          "type": "string"
        },
        "outputContexts": {
          "description": "The collection of output contexts. If applicable,\n`output_contexts.parameters` contains entries with name\n`\u003cparameter name\u003e.original` containing the original parameter values\nbefore the query.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          }
        },
        "webhookPayload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "If the query was fulfilled by a webhook call, this field is set to the\nvalue of the `payload` field returned in the webhook response."
        },
        "fulfillmentMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          },
          "description": "The collection of rich messages to present to the user."
        },
        "action": {
          "description": "The action name from the matched intent.",
          "type": "string"
        },
        "webhookSource": {
          "description": "If the query was fulfilled by a webhook call, this field is set to the\nvalue of the `source` field returned in the webhook response.",
          "type": "string"
        },
        "fulfillmentText": {
          "type": "string",
          "description": "The text to be pronounced to the user or shown on the screen.\nNote: This is a legacy field, `fulfillment_messages` should be preferred."
        },
        "parameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The collection of extracted parameters.\n\nDepending on your protocol or client library language, this is a\nmap, associative array, symbol table, dictionary, or JSON object\ncomposed of a collection of (MapKey, MapValue) pairs:\n\n-   MapKey type: string\n-   MapKey value: parameter name\n-   MapValue type:\n    -   If parameter's entity type is a composite entity: map\n    -   Else: string or number, depending on parameter value type\n-   MapValue value:\n    -   If parameter's entity type is a composite entity:\n        map from composite entity property names to property values\n    -   Else: parameter value",
          "type": "object"
        },
        "knowledgeAnswers": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAnswers",
          "description": "The result from Knowledge Connector (if any), ordered by decreasing\n`KnowledgeAnswers.match_confidence`."
        },
        "sentimentAnalysisResult": {
          "description": "The sentiment analysis result, which depends on the\n`sentiment_analysis_request_config` specified in the request.",
          "$ref": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult"
        },
        "intentDetectionConfidence": {
          "type": "number",
          "description": "The intent detection confidence. Values range from 0.0\n(completely uncertain) to 1.0 (completely certain).\nThis value is for informational purpose only and is only used to\nhelp match the best intent within the classification threshold.\nThis value may change for the same end-user expression at any time due to a\nmodel retraining or change in implementation.\nIf there are `multiple knowledge_answers` messages, this value is set to\nthe greatest `knowledgeAnswers.match_confidence` value in the list.",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1QueryResult",
      "description": "Represents the result of conversational query or event processing.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech",
      "description": "Synthesizes speech and plays back the synthesized audio to the caller in\nTelephony Gateway.\n\nTelephony Gateway takes the synthesizer settings from\n`DetectIntentResponse.output_audio_config` which can either be set\nat request-level or can come from the agent-level synthesizer config.",
      "type": "object",
      "properties": {
        "text": {
          "description": "The raw text to be synthesized.",
          "type": "string"
        },
        "ssml": {
          "description": "The SSML to be synthesized. For more information, see\n[SSML](https://developers.google.com/actions/reference/ssml).",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject": {
      "description": "Response media object for media content card.",
      "type": "object",
      "properties": {
        "contentUrl": {
          "description": "Required. Url where the media is stored.",
          "type": "string"
        },
        "icon": {
          "description": "Optional. Icon to display above media content.",
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "largeImage": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage",
          "description": "Optional. Image to display above media content."
        },
        "name": {
          "description": "Required. Name of media card.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of media card.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject"
    },
    "GoogleCloudDialogflowV2IntentMessageColumnProperties": {
      "description": "Column properties for TableCard.",
      "type": "object",
      "properties": {
        "header": {
          "description": "Required. Column heading.",
          "type": "string"
        },
        "horizontalAlignment": {
          "description": "Optional. Defines text alignment for all cells in this column.",
          "type": "string",
          "enumDescriptions": [
            "Text is aligned to the leading edge of the column.",
            "Text is aligned to the leading edge of the column.",
            "Text is centered in the column.",
            "Text is aligned to the trailing edge of the column."
          ],
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "LEADING",
            "CENTER",
            "TRAILING"
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageColumnProperties"
    },
    "GoogleCloudDialogflowV2Context": {
      "description": "Represents a context.",
      "type": "object",
      "properties": {
        "lifespanCount": {
          "description": "Optional. The number of conversational query requests after which the\ncontext expires. The default is `0`. If set to `0`, the context expires\nimmediately. Contexts expire automatically after 20 minutes if there\nare no matching queries.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "description": "Required. The unique identifier of the context. Format:\n`projects/\u003cProject ID\u003e/agent/sessions/\u003cSession ID\u003e/contexts/\u003cContext ID\u003e`,\nor `projects/\u003cProject ID\u003e/agent/environments/\u003cEnvironment ID\u003e/users/\u003cUser\nID\u003e/sessions/\u003cSession ID\u003e/contexts/\u003cContext ID\u003e`.\n\nThe `Context ID` is always converted to lowercase, may only contain\ncharacters in a-zA-Z0-9_-% and may be at most 250 bytes long.\n\nIf `Environment ID` is not specified, we assume default 'draft'\nenvironment. If `User ID` is not specified, we assume default '-' user.\n\nThe following context names are reserved for internal use by Dialogflow.\nYou should not use these contexts or create contexts with these names:\n\n* `__system_counters__`\n* `*_id_dialog_context`\n* `*_dialog_params_size`",
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. The collection of parameters associated with this context.\n\nDepending on your protocol or client library language, this is a\nmap, associative array, symbol table, dictionary, or JSON object\ncomposed of a collection of (MapKey, MapValue) pairs:\n\n-   MapKey type: string\n-   MapKey value: parameter name\n-   MapValue type:\n    -   If parameter's entity type is a composite entity: map\n    -   Else: string or number, depending on parameter value type\n-   MapValue value:\n    -   If parameter's entity type is a composite entity:\n        map from composite entity property names to property values\n    -   Else: parameter value"
        }
      },
      "id": "GoogleCloudDialogflowV2Context"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelectItem": {
      "description": "An item in the carousel.",
      "type": "object",
      "properties": {
        "title": {
          "description": "Required. Title of the carousel item.",
          "type": "string"
        },
        "image": {
          "description": "Optional. The image to display.",
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "description": {
          "description": "Optional. The body text of the card.",
          "type": "string"
        },
        "info": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo",
          "description": "Required. Additional info about the option item."
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelectItem"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties": {
      "properties": {
        "horizontalAlignment": {
          "enumDescriptions": [
            "Text is aligned to the leading edge of the column.",
            "Text is aligned to the leading edge of the column.",
            "Text is centered in the column.",
            "Text is aligned to the trailing edge of the column."
          ],
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "LEADING",
            "CENTER",
            "TRAILING"
          ],
          "description": "Optional. Defines text alignment for all cells in this column.",
          "type": "string"
        },
        "header": {
          "description": "Required. Column heading.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties",
      "description": "Column properties for TableCard.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer",
      "description": "An answer from Knowledge Connector.",
      "type": "object",
      "properties": {
        "answer": {
          "description": "The piece of text from the `source` knowledge base document that answers\nthis conversational query.",
          "type": "string"
        },
        "faqQuestion": {
          "description": "The corresponding FAQ question if the answer was extracted from a FAQ\nDocument, empty otherwise.",
          "type": "string"
        },
        "matchConfidenceLevel": {
          "description": "The system's confidence level that this knowledge answer is a good match\nfor this conversational query.\nNOTE: The confidence level for a given `\u003cquery, answer\u003e` pair may change\nwithout notice, as it depends on models that are constantly being\nimproved. However, it will change less frequently than the confidence\nscore below, and should be preferred for referencing the quality of an\nanswer.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Indicates that the confidence is low.",
            "Indicates our confidence is medium.",
            "Indicates our confidence is high."
          ],
          "enum": [
            "MATCH_CONFIDENCE_LEVEL_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ]
        },
        "matchConfidence": {
          "description": "The system's confidence score that this Knowledge answer is a good match\nfor this conversational query.\nThe range is from 0.0 (completely uncertain) to 1.0 (completely certain).\nNote: The confidence score is likely to vary somewhat (possibly even for\nidentical requests), as the underlying model is under constant\nimprovement. It may be deprecated in the future. We recommend using\n`match_confidence_level` which should be generally more stable.",
          "format": "float",
          "type": "number"
        },
        "source": {
          "type": "string",
          "description": "Indicates which Knowledge Document this answer was extracted from.\nFormat: `projects/\u003cProject ID\u003e/knowledgeBases/\u003cKnowledge Base\nID\u003e/documents/\u003cDocument ID\u003e`."
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageTableCardCell": {
      "description": "Cell of TableCardRow.",
      "type": "object",
      "properties": {
        "text": {
          "description": "Required. Text in this cell.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageTableCardCell"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo": {
      "description": "Represents intent information communicated to the webhook.",
      "type": "object",
      "properties": {
        "lastMatchedIntent": {
          "description": "Always present. The unique identifier of the last matched\nintent. Format: `projects/\u003cProject ID\u003e/locations/\u003cLocation\nID\u003e/agents/\u003cAgent ID\u003e/intents/\u003cIntent ID\u003e`.",
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue"
          },
          "description": "Parameters identified as a result of intent matching. This is a map of\nthe name of the identified parameter to the value of the parameter\nidentified from the user's utterance. All parameters defined in the\nmatched intent that are identified will be surfaced here."
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri",
      "description": "Opens the user's default web browser app to the specified uri\n(https://goo.gl/6GLJD2). If the user has an app installed that is\nregistered as the default handler for the URL, then this app will be\nopened instead, and its icon will be used in the suggested action UI.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Required. The uri to open on the user device",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue": {
      "properties": {
        "originalValue": {
          "description": "Always present. Original text value extracted from user utterance.",
          "type": "string"
        },
        "resolvedValue": {
          "description": "Always present. Structured value for the parameter extracted from user\nutterance.",
          "type": "any"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue",
      "description": "Represents a value for an intent parameter.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2BatchUpdateIntentsResponse": {
      "description": "The response message for Intents.BatchUpdateIntents.",
      "type": "object",
      "properties": {
        "intents": {
          "description": "The collection of updated or created intents.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Intent"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2BatchUpdateIntentsResponse"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmCarouselCard": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmCarouselCard",
      "description": "Carousel Rich Business Messaging (RBM) rich card.\n\nRich cards allow you to respond to users with more vivid content, e.g.\nwith media and suggestions.\n\nFor more details about RBM rich cards, please see:\nhttps://developers.google.com/business-communications/rcs-business-messaging/guides/build/messages/send#rich-cards\nIf you want to show a single card with more control over the layout,\nplease use RbmStandaloneCard instead.",
      "type": "object",
      "properties": {
        "cardWidth": {
          "enum": [
            "CARD_WIDTH_UNSPECIFIED",
            "SMALL",
            "MEDIUM"
          ],
          "description": "Required. The width of the cards in the carousel.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "120 DP. Note that tall media cannot be used.",
            "232 DP."
          ]
        },
        "cardContents": {
          "description": "Required. The cards in the carousel. A carousel must have at least\n2 cards and at most 10.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmText": {
      "description": "Rich Business Messaging (RBM) text response with suggestions.",
      "type": "object",
      "properties": {
        "rbmSuggestion": {
          "description": "Optional. One or more suggestions to show to the user.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion"
          }
        },
        "text": {
          "description": "Required. Text sent and displayed to the user.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmText"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction": {
      "description": "Opens the given URI.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Required. The HTTP or HTTPS scheme URI.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction"
    },
    "GoogleCloudDialogflowV2IntentMessage": {
      "id": "GoogleCloudDialogflowV2IntentMessage",
[...]
