{
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "version": "v2beta1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "kind": "discovery#restDescription",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "rootUrl": "https://dialogflow.googleapis.com/",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "revision": "20200920",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "canonicalName": "Dialogflow",
  "id": "dialogflow:v2beta1",
  "title": "Dialogflow API",
  "name": "dialogflow",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "resources": {
    "projects": {
      "methods": {
        "setAgent": {
          "flatPath": "v2beta1/projects/{projectsId}/agent",
          "id": "dialogflow.projects.setAgent",
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "description": "Optional. The mask to control which fields get updated.",
              "type": "string",
              "location": "query"
            },
            "parent": {
              "location": "path",
              "description": "Required. The project of this agent. Format: `projects/` or `projects//locations/`",
              "required": true,
              "pattern": "^projects/[^/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "request": {
            "$ref": "GoogleCloudDialogflowV2beta1Agent"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/dialogflow"
          ],
          "response": {
            "$ref": "GoogleCloudDialogflowV2beta1Agent"
          },
          "description": "Creates/updates the specified agent.",
          "path": "v2beta1/{+parent}/agent",
          "httpMethod": "POST"
        },
        "deleteAgent": {
          "id": "dialogflow.projects.deleteAgent",
          "parameterOrder": [
            "parent"
          ],
          "flatPath": "v2beta1/projects/{projectsId}/agent",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/dialogflow"
          ],
          "parameters": {
            "parent": {
              "pattern": "^projects/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The project that the agent to delete is associated with. Format: `projects/` or `projects//locations/`."
            }
          },
          "description": "Deletes the specified agent.",
          "path": "v2beta1/{+parent}/agent",
          "httpMethod": "DELETE"
        },
        "getAgent": {
          "flatPath": "v2beta1/projects/{projectsId}/agent",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/dialogflow"
          ],
          "parameters": {
            "parent": {
              "location": "path",
              "pattern": "^projects/[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. The project that the agent to fetch is associated with. Format: `projects/` or `projects//locations/`."
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "id": "dialogflow.projects.getAgent",
          "response": {
            "$ref": "GoogleCloudDialogflowV2beta1Agent"
          },
          "path": "v2beta1/{+parent}/agent",
          "description": "Retrieves the specified agent."
        }
      },
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "cancel": {
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "dialogflow.projects.locations.operations.cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2beta1/{+name}:cancel"
                },
                "get": {
                  "id": "dialogflow.projects.locations.operations.get",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "path": "v2beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "list": {
                  "parameters": {
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/operations",
                  "path": "v2beta1/{+name}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "dialogflow.projects.locations.operations.list"
                }
              }
            },
            "agent": {
              "methods": {
                "restore": {
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent:restore",
                  "description": "Restores the specified agent from a ZIP file. Replaces the current agent version with a new one. All the intents and entity types in the older version are deleted. After the restore, the restored draft agent will be trained automatically (unless disabled in agent settings). However, once the restore is done, training may not be completed yet. Please call TrainAgent and wait for the operation it returns in order to train explicitly. Operation An operation which tracks when restoring is complete. It only tracks when the draft agent is updated not when it is done training.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The project that the agent to restore is associated with. Format: `projects/` or `projects//locations/`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1RestoreAgentRequest"
                  },
                  "id": "dialogflow.projects.locations.agent.restore",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2beta1/{+parent}/agent:restore"
                },
                "export": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The project that the agent to export is associated with. Format: `projects/` or `projects//locations/`."
                    }
                  },
                  "description": "Exports the specified agent to a ZIP file. Operation ",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1ExportAgentRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.locations.agent.export",
                  "httpMethod": "POST",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent:export",
                  "path": "v2beta1/{+parent}/agent:export",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "import": {
                  "id": "dialogflow.projects.locations.agent.import",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent:import",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The project that the agent to import is associated with. Format: `projects/` or `projects//locations/`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v2beta1/{+parent}/agent:import",
                  "description": "Imports the specified agent from a ZIP file. Uploads new intents and entity types without deleting the existing ones. Intents and entity types with the same name are replaced with the new versions from ImportAgentRequest. After the import, the imported draft agent will be trained automatically (unless disabled in agent settings). However, once the import is done, training may not be completed yet. Please call TrainAgent and wait for the operation it returns in order to train explicitly. Operation An operation which tracks when importing is complete. It only tracks when the draft agent is updated not when it is done training.",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1ImportAgentRequest"
                  }
                },
                "getFulfillment": {
                  "description": "Retrieves the fulfillment.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.locations.agent.getFulfillment",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the fulfillment. Supported formats: - `projects//agent/fulfillment` - `projects//locations//agent/fulfillment`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/agent/fulfillment$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Fulfillment"
                  },
                  "path": "v2beta1/{+name}",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/fulfillment"
                },
                "train": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Trains the specified agent. Operation ",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2beta1/{+parent}/agent:train",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent:train",
                  "id": "dialogflow.projects.locations.agent.train",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The project that the agent to train is associated with. Format: `projects/` or `projects//locations/`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1TrainAgentRequest"
                  }
                },
                "getValidationResult": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The project that the agent is associated with. Format: `projects/` or `projects//locations/`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "languageCode": {
                      "description": "Optional. The language for which you want a validation result. If not specified, the agent's default language is used. [Many languages](https://cloud.google.com/dialogflow/docs/reference/language) are supported. Note: languages must be enabled in the agent before they can be used.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v2beta1/{+parent}/agent/validationResult",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ValidationResult"
                  },
                  "description": "Gets agent validation result. Agent validation is performed during training time and is updated automatically when training is completed.",
                  "httpMethod": "GET",
                  "id": "dialogflow.projects.locations.agent.getValidationResult",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/validationResult"
                },
                "updateFulfillment": {
                  "id": "dialogflow.projects.locations.agent.updateFulfillment",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Fulfillment"
                  },
                  "path": "v2beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "Updates the fulfillment.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Required. The mask to control which fields get updated. If the mask is not present, all fields will be updated.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "description": "Required. The unique identifier of the fulfillment. Supported formats: - `projects//agent/fulfillment` - `projects//locations//agent/fulfillment`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/agent/fulfillment$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Fulfillment"
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/fulfillment"
                },
                "search": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. The maximum number of items to return in a single page. By default 100 and at most 1000.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The project to list agents from. Format: `projects/` or `projects//locations/`."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The next_page_token value returned from a previous list request."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2beta1/{+parent}/agent:search",
                  "description": "Returns the list of agents. Since there is at most one conversational agent per project, this method is useful primarily for listing all agents across projects the caller has access to. One can achieve that with a wildcard project collection id \"-\". Refer to [List Sub-Collections](https://cloud.google.com/apis/design/design_patterns#list_sub-collections).",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent:search",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1SearchAgentsResponse"
                  },
                  "id": "dialogflow.projects.locations.agent.search"
                }
              },
              "resources": {
                "entityTypes": {
                  "resources": {
                    "entities": {
                      "methods": {
                        "batchUpdate": {
                          "path": "v2beta1/{+parent}/entities:batchUpdate",
                          "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/entityTypes/{entityTypesId}/entities:batchUpdate",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "id": "dialogflow.projects.locations.agent.entityTypes.entities.batchUpdate",
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "parent": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agent/entityTypes/[^/]+$",
                              "location": "path",
                              "description": "Required. The name of the entity type to update or create entities in. Supported formats: - `projects//agent/entityTypes/` - `projects//locations//agent/entityTypes/`",
                              "type": "string"
                            }
                          },
                          "description": "Updates or creates multiple entities in the specified entity type. This method does not affect entities in the entity type that aren't explicitly specified in the request. Operation ",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2beta1BatchUpdateEntitiesRequest"
                          },
                          "httpMethod": "POST"
                        },
                        "batchCreate": {
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "location": "path",
                              "description": "Required. The name of the entity type to create entities in. Supported formats: - `projects//agent/entityTypes/` - `projects//locations//agent/entityTypes/`",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agent/entityTypes/[^/]+$"
                            }
                          },
                          "id": "dialogflow.projects.locations.agent.entityTypes.entities.batchCreate",
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2beta1BatchCreateEntitiesRequest"
                          },
                          "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/entityTypes/{entityTypesId}/entities:batchCreate",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "POST",
                          "description": "Creates multiple new entities in the specified entity type. Operation ",
                          "path": "v2beta1/{+parent}/entities:batchCreate",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          }
                        },
                        "batchDelete": {
                          "parameters": {
                            "parent": {
                              "required": true,
                              "description": "Required. The name of the entity type to delete entries for. Supported formats: - `projects//agent/entityTypes/` - `projects//locations//agent/entityTypes/`",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agent/entityTypes/[^/]+$",
                              "location": "path"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v2beta1/{+parent}/entities:batchDelete",
                          "httpMethod": "POST",
                          "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/entityTypes/{entityTypesId}/entities:batchDelete",
                          "id": "dialogflow.projects.locations.agent.entityTypes.entities.batchDelete",
                          "description": "Deletes entities in the specified entity type. Operation ",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2beta1BatchDeleteEntitiesRequest"
                          }
                        }
                      }
                    }
                  },
                  "methods": {
                    "batchDelete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agent.entityTypes.batchDelete",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/entityTypes:batchDelete",
                      "path": "v2beta1/{+parent}/entityTypes:batchDelete",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Required. The name of the agent to delete all entities types for. Supported formats: - `projects//agent`, - `projects//locations//agent`.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent$",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1BatchDeleteEntityTypesRequest"
                      },
                      "description": "Deletes entity types in the specified agent. Operation "
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "parameters": {
                        "languageCode": {
                          "description": "Optional. The language used to access language-specific data. If not specified, the agent's default language is used. For more information, see [Multilingual intent and entity data](https://cloud.google.com/dialogflow/docs/agents-multilingual#intent-entity).",
                          "type": "string",
                          "location": "query"
                        },
                        "name": {
                          "type": "string",
                          "description": "The unique identifier of the entity type. Required for EntityTypes.UpdateEntityType and EntityTypes.BatchUpdateEntityTypes methods. Supported formats: - `projects//agent/entityTypes/` - `projects//locations//agent/entityTypes/`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent/entityTypes/[^/]+$",
                          "required": true,
                          "location": "path"
                        },
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query",
                          "description": "Optional. The mask to control which fields get updated."
                        }
                      },
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/entityTypes/{entityTypesId}",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1EntityType"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Updates the specified entity type.",
                      "id": "dialogflow.projects.locations.agent.entityTypes.patch",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1EntityType"
                      },
                      "path": "v2beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.locations.agent.entityTypes.list",
                      "parameters": {
                        "languageCode": {
                          "type": "string",
                          "description": "Optional. The language used to access language-specific data. If not specified, the agent's default language is used. For more information, see [Multilingual intent and entity data](https://cloud.google.com/dialogflow/docs/agents-multilingual#intent-entity).",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous list request.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. The maximum number of items to return in a single page. By default 100 and at most 1000.",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. The agent to list all entity types from. Supported formats: - `projects//agent` - `projects//locations//agent`",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent$"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1ListEntityTypesResponse"
                      },
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/entityTypes",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2beta1/{+parent}/entityTypes",
                      "httpMethod": "GET",
                      "description": "Returns the list of all entity types in the specified agent."
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the entity type to delete. Supported formats: - `projects//agent/entityTypes/` - `projects//locations//agent/entityTypes/`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent/entityTypes/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "httpMethod": "DELETE",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/entityTypes/{entityTypesId}",
                      "id": "dialogflow.projects.locations.agent.entityTypes.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "path": "v2beta1/{+name}",
                      "description": "Deletes the specified entity type."
                    },
                    "batchUpdate": {
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/entityTypes:batchUpdate",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "description": "Required. The name of the agent to update or create entity types in. Supported formats: - `projects//agent` - `projects//locations//agent`",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "description": "Updates/Creates multiple entity types in the specified agent. Operation ",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1BatchUpdateEntityTypesRequest"
                      },
                      "path": "v2beta1/{+parent}/entityTypes:batchUpdate",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agent.entityTypes.batchUpdate"
                    },
                    "get": {
                      "path": "v2beta1/{+name}",
                      "description": "Retrieves the specified entity type.",
                      "id": "dialogflow.projects.locations.agent.entityTypes.get",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1EntityType"
                      },
                      "httpMethod": "GET",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/entityTypes/{entityTypesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the entity type. Supported formats: - `projects//agent/entityTypes/` - `projects//locations//agent/entityTypes/`",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent/entityTypes/[^/]+$"
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The language used to access language-specific data. If not specified, the agent's default language is used. For more information, see [Multilingual intent and entity data](https://cloud.google.com/dialogflow/docs/agents-multilingual#intent-entity)."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "create": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1EntityType"
                      },
                      "id": "dialogflow.projects.locations.agent.entityTypes.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1EntityType"
                      },
                      "description": "Creates an entity type in the specified agent.",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/entityTypes",
                      "path": "v2beta1/{+parent}/entityTypes",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "location": "path",
                          "description": "Required. The agent to create a entity type for. Supported formats: - `projects//agent` - `projects//locations//agent`",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent$"
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The language used to access language-specific data. If not specified, the agent's default language is used. For more information, see [Multilingual intent and entity data](https://cloud.google.com/dialogflow/docs/agents-multilingual#intent-entity)."
                        }
                      }
                    }
                  }
                },
                "sessions": {
                  "methods": {
                    "deleteContexts": {
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "httpMethod": "DELETE",
                      "description": "Deletes all active contexts in the specified session.",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/sessions/{sessionsId}/contexts",
                      "path": "v2beta1/{+parent}/contexts",
                      "parameters": {
                        "parent": {
                          "description": "Required. The name of the session to delete all contexts from. Supported formats: - `projects//agent/sessions/, - `projects//locations//agent/sessions/`, - `projects//agent/environments//users//sessions/`, - `projects//locations//agent/environments//users//sessions/`, If `Location ID` is not specified we assume default 'us' location. If `Environment ID` is not specified we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user.",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent/sessions/[^/]+$"
                        }
                      },
                      "id": "dialogflow.projects.locations.agent.sessions.deleteContexts",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "detectIntent": {
                      "path": "v2beta1/{+session}:detectIntent",
                      "parameters": {
                        "session": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent/sessions/[^/]+$",
                          "description": "Required. The name of the session this query is sent to. Supported formats: - `projects//agent/sessions/, - `projects//locations//agent/sessions/`, - `projects//agent/environments//users//sessions/`, - `projects//locations//agent/environments//users//sessions/`, If `Location ID` is not specified we assume default 'us' location. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we are using \"-\". It's up to the API caller to choose an appropriate `Session ID` and `User Id`. They can be a random number or some type of user and session identifiers (preferably hashed). The length of the `Session ID` and `User ID` must not exceed 36 characters. For more information, see the [API interactions guide](https://cloud.google.com/dialogflow/docs/api-overview).",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "description": "Processes a natural language query and returns structured, actionable data as a result. This method is not idempotent, because it may cause contexts and session entity types to be updated, which in turn might affect results of future queries.",
                      "id": "dialogflow.projects.locations.agent.sessions.detectIntent",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/sessions/{sessionsId}:detectIntent",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "session"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1DetectIntentResponse"
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1DetectIntentRequest"
                      },
                      "httpMethod": "POST"
                    }
                  },
                  "resources": {
                    "contexts": {
                      "methods": {
                        "delete": {
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agent/sessions/[^/]+/contexts/[^/]+$",
                              "type": "string",
                              "required": true,
                              "description": "Required. The name of the context to delete. Supported formats: - `projects//agent/sessions//contexts/`, - `projects//locations//agent/sessions//contexts/`, - `projects//agent/environments//users//sessions//contexts/`, - `projects//locations//agent/environments//users//sessions//contexts/`, If `Location ID` is not specified we assume default 'us' location. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user.",
                              "location": "path"
                            }
                          },
                          "path": "v2beta1/{+name}",
                          "httpMethod": "DELETE",
                          "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/sessions/{sessionsId}/contexts/{contextsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "dialogflow.projects.locations.agent.sessions.contexts.delete",
                          "description": "Deletes the specified context.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ]
                        },
                        "create": {
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2beta1Context"
                          },
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Required. The session to create a context for. Supported formats: - `projects//agent/sessions/, - `projects//locations//agent/sessions/`, - `projects//agent/environments//users//sessions/`, - `projects//locations//agent/environments//users//sessions/`, If `Location ID` is not specified we assume default 'us' location. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agent/sessions/[^/]+$"
                            }
                          },
                          "id": "dialogflow.projects.locations.agent.sessions.contexts.create",
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v2beta1/{+parent}/contexts",
                          "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/sessions/{sessionsId}/contexts",
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2beta1Context"
                          },
                          "description": "Creates a context. If the specified context already exists, overrides the context."
                        },
                        "list": {
                          "httpMethod": "GET",
                          "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/sessions/{sessionsId}/contexts",
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2beta1ListContextsResponse"
                          },
                          "id": "dialogflow.projects.locations.agent.sessions.contexts.list",
                          "path": "v2beta1/{+parent}/contexts",
                          "description": "Returns the list of all contexts in the specified session.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "pageSize": {
                              "description": "Optional. The maximum number of items to return in a single page. By default 100 and at most 1000.",
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. The next_page_token value returned from a previous list request."
                            },
                            "parent": {
                              "description": "Required. The session to list all contexts from. Supported formats: - `projects//agent/sessions/, - `projects//locations//agent/sessions/`, - `projects//agent/environments//users//sessions/`, - `projects//locations//agent/environments//users//sessions/`, If `Location ID` is not specified we assume default 'us' location. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user.",
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agent/sessions/[^/]+$"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ]
                        },
                        "get": {
                          "description": "Retrieves the specified context.",
                          "path": "v2beta1/{+name}",
                          "id": "dialogflow.projects.locations.agent.sessions.contexts.get",
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2beta1Context"
                          },
                          "parameters": {
                            "name": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agent/sessions/[^/]+/contexts/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "description": "Required. The name of the context. Supported formats: - `projects//agent/sessions//contexts/`, - `projects//locations//agent/sessions//contexts/`, - `projects//agent/environments//users//sessions//contexts/`, - `projects//locations//agent/environments//users//sessions//contexts/`, If `Location ID` is not specified we assume default 'us' location. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user."
                            }
                          },
                          "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/sessions/{sessionsId}/contexts/{contextsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "GET"
                        },
                        "patch": {
                          "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/sessions/{sessionsId}/contexts/{contextsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v2beta1/{+name}",
                          "description": "Updates the specified context.",
                          "parameters": {
                            "updateMask": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. The mask to control which fields get updated.",
                              "format": "google-fieldmask"
                            },
                            "name": {
                              "description": "Required. The unique identifier of the context. Supported formats: - `projects//agent/sessions//contexts/`, - `projects//locations//agent/sessions//contexts/`, - `projects//agent/environments//users//sessions//contexts/`, - `projects//locations//agent/environments//users//sessions//contexts/`, The `Context ID` is always converted to lowercase, may only contain characters in a-zA-Z0-9_-% and may be at most 250 bytes long. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user. The following context names are reserved for internal use by Dialogflow. You should not use these contexts or create contexts with these names: * `__system_counters__` * `*_id_dialog_context` * `*_dialog_params_size`",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agent/sessions/[^/]+/contexts/[^/]+$",
                              "location": "path"
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2beta1Context"
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2beta1Context"
                          },
                          "id": "dialogflow.projects.locations.agent.sessions.contexts.patch",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "PATCH"
                        }
                      }
                    },
                    "entityTypes": {
                      "methods": {
                        "get": {
                          "id": "dialogflow.projects.locations.agent.sessions.entityTypes.get",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agent/sessions/[^/]+/entityTypes/[^/]+$",
                              "description": "Required. The name of the session entity type. Supported formats: - `projects//agent/sessions//entityTypes/` - `projects//locations//agent/sessions//entityTypes/` - `projects//agent/environments//users//sessions//entityTypes/` - `projects//locations//agent/environments/ /users//sessions//entityTypes/` If `Location ID` is not specified we assume default 'us' location. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user.",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          },
                          "path": "v2beta1/{+name}",
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                          },
                          "httpMethod": "GET",
                          "description": "Retrieves the specified session entity type. This method doesn't work with Google Assistant integration. Contact Dialogflow support if you need to use session entities with Google Assistant integration.",
                          "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/sessions/{sessionsId}/entityTypes/{entityTypesId}"
                        },
                        "delete": {
                          "id": "dialogflow.projects.locations.agent.sessions.entityTypes.delete",
                          "httpMethod": "DELETE",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agent/sessions/[^/]+/entityTypes/[^/]+$",
                              "type": "string",
                              "required": true,
                              "description": "Required. The name of the entity type to delete. Supported formats: - `projects//agent/sessions//entityTypes/` - `projects//locations//agent/sessions//entityTypes/` - `projects//agent/environments//users//sessions//entityTypes/` - `projects//locations//agent/environments/ /users//sessions//entityTypes/` If `Location ID` is not specified we assume default 'us' location. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user.",
                              "location": "path"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v2beta1/{+name}",
                          "description": "Deletes the specified session entity type. This method doesn't work with Google Assistant integration. Contact Dialogflow support if you need to use session entities with Google Assistant integration.",
                          "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/sessions/{sessionsId}/entityTypes/{entityTypesId}"
                        },
                        "patch": {
                          "description": "Updates the specified session entity type. This method doesn't work with Google Assistant integration. Contact Dialogflow support if you need to use session entities with Google Assistant integration.",
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                          },
                          "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                          "path": "v2beta1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "id": "dialogflow.projects.locations.agent.sessions.entityTypes.patch",
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "PATCH",
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                          },
                          "parameters": {
                            "name": {
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agent/sessions/[^/]+/entityTypes/[^/]+$",
                              "description": "Required. The unique identifier of this session entity type. Supported formats: - `projects//agent/sessions//entityTypes/` - `projects//locations//agent/sessions//entityTypes/` - `projects//agent/environments//users//sessions//entityTypes/` - `projects//locations//agent/environments/ /users//sessions//entityTypes/` If `Location ID` is not specified we assume default 'us' location. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user. `` must be the display name of an existing entity type in the same agent that will be overridden or supplemented.",
                              "required": true
                            },
                            "updateMask": {
                              "type": "string",
                              "location": "query",
                              "format": "google-fieldmask",
                              "description": "Optional. The mask to control which fields get updated."
                            }
                          }
                        },
                        "list": {
                          "parameters": {
                            "pageSize": {
                              "description": "Optional. The maximum number of items to return in a single page. By default 100 and at most 1000.",
                              "format": "int32",
                              "location": "query",
                              "type": "integer"
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "Optional. The next_page_token value returned from a previous list request.",
                              "location": "query"
                            },
                            "parent": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "Required. The session to list all session entity types from. Supported formats: - `projects//agent/sessions/, - `projects//locations//agent/sessions/`, - `projects//agent/environments//users//sessions/`, - `projects//locations//agent/environments//users//sessions/`, If `Location ID` is not specified we assume default 'us' location. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agent/sessions/[^/]+$"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2beta1ListSessionEntityTypesResponse"
                          },
                          "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/sessions/{sessionsId}/entityTypes",
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": "Returns the list of all session entity types in the specified session. This method doesn't work with Google Assistant integration. Contact Dialogflow support if you need to use session entities with Google Assistant integration.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v2beta1/{+parent}/entityTypes",
                          "id": "dialogflow.projects.locations.agent.sessions.entityTypes.list"
                        },
                        "create": {
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                          },
                          "path": "v2beta1/{+parent}/entityTypes",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameters": {
                            "parent": {
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agent/sessions/[^/]+$",
                              "description": "Required. The session to create a session entity type for. Supported formats: - `projects//agent/sessions/, - `projects//locations//agent/sessions/`, - `projects//agent/environments//users//sessions/`, - `projects//locations//agent/environments//users//sessions/`, If `Location ID` is not specified we assume default 'us' location. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user.",
                              "location": "path"
                            }
                          },
                          "id": "dialogflow.projects.locations.agent.sessions.entityTypes.create",
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "Creates a session entity type. If the specified session entity type already exists, overrides the session entity type. This method doesn't work with Google Assistant integration. Contact Dialogflow support if you need to use session entities with Google Assistant integration.",
                          "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/sessions/{sessionsId}/entityTypes",
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                          }
                        }
                      }
                    }
                  }
                },
                "intents": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "description": "Returns the list of all intents in the specified agent.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1ListIntentsResponse"
                      },
                      "path": "v2beta1/{+parent}/intents",
                      "parameters": {
                        "intentView": {
                          "location": "query",
                          "enum": [
                            "INTENT_VIEW_UNSPECIFIED",
                            "INTENT_VIEW_FULL"
                          ],
                          "type": "string",
                          "enumDescriptions": [
                            "Training phrases field is not populated in the response.",
                            "All fields are populated."
                          ],
                          "description": "Optional. The resource view to apply to the returned intent."
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of items to return in a single page. By default 100 and at most 1000.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "parent": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The agent to list all intents from. Format: `projects//agent`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent$"
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The language used to access language-specific data. If not specified, the agent's default language is used. For more information, see [Multilingual intent and entity data](https://cloud.google.com/dialogflow/docs/agents-multilingual#intent-entity)."
                        },
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous list request.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "dialogflow.projects.locations.agent.intents.list",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/intents"
                    },
                    "create": {
                      "id": "dialogflow.projects.locations.agent.intents.create",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/intents",
                      "path": "v2beta1/{+parent}/intents",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1Intent"
                      },
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent$",
                          "description": "Required. The agent to create a intent for. Supported formats: - `projects//agent` - `projects//locations//agent`",
                          "type": "string",
                          "required": true
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The language used to access language-specific data. If not specified, the agent's default language is used. For more information, see [Multilingual intent and entity data](https://cloud.google.com/dialogflow/docs/agents-multilingual#intent-entity)."
                        },
                        "intentView": {
                          "description": "Optional. The resource view to apply to the returned intent.",
                          "enum": [
                            "INTENT_VIEW_UNSPECIFIED",
                            "INTENT_VIEW_FULL"
                          ],
                          "type": "string",
                          "enumDescriptions": [
                            "Training phrases field is not populated in the response.",
                            "All fields are populated."
                          ],
                          "location": "query"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1Intent"
                      },
                      "httpMethod": "POST",
                      "description": "Creates an intent in the specified agent."
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2beta1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1Intent"
                      },
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/intents/{intentsId}",
                      "description": "Retrieves the specified intent.",
                      "id": "dialogflow.projects.locations.agent.intents.get",
                      "parameters": {
                        "languageCode": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The language used to access language-specific data. If not specified, the agent's default language is used. For more information, see [Multilingual intent and entity data](https://cloud.google.com/dialogflow/docs/agents-multilingual#intent-entity)."
                        },
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the intent. Supported formats: - `projects//agent/intents/` - `projects//locations//agent/intents/`",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent/intents/[^/]+$"
                        },
                        "intentView": {
                          "enum": [
                            "INTENT_VIEW_UNSPECIFIED",
                            "INTENT_VIEW_FULL"
                          ],
                          "description": "Optional. The resource view to apply to the returned intent.",
                          "location": "query",
                          "enumDescriptions": [
                            "Training phrases field is not populated in the response.",
                            "All fields are populated."
                          ],
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET"
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent/intents/[^/]+$",
                          "description": "Required. The name of the intent to delete. If this intent has direct or indirect followup intents, we also delete them. Supported formats: - `projects//agent/intents/` - `projects//locations//agent/intents/`",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "id": "dialogflow.projects.locations.agent.intents.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/intents/{intentsId}",
                      "httpMethod": "DELETE",
                      "path": "v2beta1/{+name}",
                      "description": "Deletes the specified intent and its direct or indirect followup intents."
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1Intent"
                      },
                      "description": "Updates the specified intent.",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1Intent"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent/intents/[^/]+$",
                          "description": "Optional. The unique identifier of this intent. Required for Intents.UpdateIntent and Intents.BatchUpdateIntents methods. Supported formats: - `projects//agent/intents/` - `projects//locations//agent/intents/`"
                        },
                        "intentView": {
                          "enumDescriptions": [
                            "Training phrases field is not populated in the response.",
                            "All fields are populated."
                          ],
                          "enum": [
                            "INTENT_VIEW_UNSPECIFIED",
                            "INTENT_VIEW_FULL"
                          ],
                          "location": "query",
                          "description": "Optional. The resource view to apply to the returned intent.",
                          "type": "string"
                        },
                        "languageCode": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The language used to access language-specific data. If not specified, the agent's default language is used. For more information, see [Multilingual intent and entity data](https://cloud.google.com/dialogflow/docs/agents-multilingual#intent-entity)."
                        },
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "format": "google-fieldmask",
                          "description": "Optional. The mask to control which fields get updated."
                        }
                      },
                      "path": "v2beta1/{+name}",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/intents/{intentsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.locations.agent.intents.patch"
                    },
                    "batchUpdate": {
                      "parameters": {
                        "parent": {
                          "description": "Required. The name of the agent to update or create intents in. Supported formats: - `projects//agent` - `projects//locations//agent`",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent$"
                        }
                      },
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/intents:batchUpdate",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1BatchUpdateIntentsRequest"
                      },
                      "path": "v2beta1/{+parent}/intents:batchUpdate",
                      "id": "dialogflow.projects.locations.agent.intents.batchUpdate",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "Updates/Creates multiple intents in the specified agent. Operation ",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "batchDelete": {
                      "id": "dialogflow.projects.locations.agent.intents.batchDelete",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "Required. The name of the agent to delete all entities types for. Supported formats: - `projects//agent` - `projects//locations//agent`",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/intents:batchDelete",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1BatchDeleteIntentsRequest"
                      },
                      "description": "Deletes intents in the specified agent. Operation ",
                      "path": "v2beta1/{+parent}/intents:batchDelete"
                    }
                  }
                },
                "environments": {
                  "resources": {
                    "users": {
                      "resources": {
                        "sessions": {
                          "methods": {
                            "deleteContexts": {
                              "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts",
                              "path": "v2beta1/{+parent}/contexts",
                              "httpMethod": "DELETE",
                              "response": {
                                "$ref": "GoogleProtobufEmpty"
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "description": "Deletes all active contexts in the specified session.",
                              "id": "dialogflow.projects.locations.agent.environments.users.sessions.deleteContexts",
                              "parameterOrder": [
                                "parent"
                              ],
                              "parameters": {
                                "parent": {
                                  "description": "Required. The name of the session to delete all contexts from. Supported formats: - `projects//agent/sessions/, - `projects//locations//agent/sessions/`, - `projects//agent/environments//users//sessions/`, - `projects//locations//agent/environments//users//sessions/`, If `Location ID` is not specified we assume default 'us' location. If `Environment ID` is not specified we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user.",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                                  "type": "string",
                                  "location": "path",
                                  "required": true
                                }
                              }
                            },
                            "detectIntent": {
                              "request": {
                                "$ref": "GoogleCloudDialogflowV2beta1DetectIntentRequest"
                              },
                              "path": "v2beta1/{+session}:detectIntent",
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2beta1DetectIntentResponse"
                              },
                              "parameters": {
                                "session": {
                                  "required": true,
                                  "description": "Required. The name of the session this query is sent to. Supported formats: - `projects//agent/sessions/, - `projects//locations//agent/sessions/`, - `projects//agent/environments//users//sessions/`, - `projects//locations//agent/environments//users//sessions/`, If `Location ID` is not specified we assume default 'us' location. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we are using \"-\". It's up to the API caller to choose an appropriate `Session ID` and `User Id`. They can be a random number or some type of user and session identifiers (preferably hashed). The length of the `Session ID` and `User ID` must not exceed 36 characters. For more information, see the [API interactions guide](https://cloud.google.com/dialogflow/docs/api-overview).",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                                  "location": "path",
                                  "type": "string"
                                }
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}:detectIntent",
                              "id": "dialogflow.projects.locations.agent.environments.users.sessions.detectIntent",
                              "httpMethod": "POST",
                              "parameterOrder": [
                                "session"
                              ],
                              "description": "Processes a natural language query and returns structured, actionable data as a result. This method is not idempotent, because it may cause contexts and session entity types to be updated, which in turn might affect results of future queries."
                            }
                          },
                          "resources": {
                            "entityTypes": {
                              "methods": {
                                "list": {
                                  "path": "v2beta1/{+parent}/entityTypes",
                                  "parameterOrder": [
                                    "parent"
                                  ],
                                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes",
                                  "id": "dialogflow.projects.locations.agent.environments.users.sessions.entityTypes.list",
                                  "httpMethod": "GET",
                                  "response": {
                                    "$ref": "GoogleCloudDialogflowV2beta1ListSessionEntityTypesResponse"
                                  },
                                  "scopes": [
                                    "https://www.googleapis.com/auth/cloud-platform",
                                    "https://www.googleapis.com/auth/dialogflow"
                                  ],
                                  "description": "Returns the list of all session entity types in the specified session. This method doesn't work with Google Assistant integration. Contact Dialogflow support if you need to use session entities with Google Assistant integration.",
                                  "parameters": {
                                    "parent": {
                                      "location": "path",
                                      "pattern": "^projects/[^/]+/locations/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                                      "required": true,
                                      "description": "Required. The session to list all session entity types from. Supported formats: - `projects//agent/sessions/, - `projects//locations//agent/sessions/`, - `projects//agent/environments//users//sessions/`, - `projects//locations//agent/environments//users//sessions/`, If `Location ID` is not specified we assume default 'us' location. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user.",
                                      "type": "string"
                                    },
                                    "pageToken": {
                                      "location": "query",
                                      "type": "string",
                                      "description": "Optional. The next_page_token value returned from a previous list request."
                                    },
                                    "pageSize": {
                                      "type": "integer",
                                      "location": "query",
                                      "format": "int32",
                                      "description": "Optional. The maximum number of items to return in a single page. By default 100 and at most 1000."
                                    }
                                  }
                                },
                                "create": {
                                  "scopes": [
                                    "https://www.googleapis.com/auth/cloud-platform",
                                    "https://www.googleapis.com/auth/dialogflow"
                                  ],
                                  "id": "dialogflow.projects.locations.agent.environments.users.sessions.entityTypes.create",
                                  "description": "Creates a session entity type. If the specified session entity type already exists, overrides the session entity type. This method doesn't work with Google Assistant integration. Contact Dialogflow support if you need to use session entities with Google Assistant integration.",
                                  "httpMethod": "POST",
                                  "path": "v2beta1/{+parent}/entityTypes",
                                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes",
                                  "parameterOrder": [
                                    "parent"
                                  ],
                                  "parameters": {
                                    "parent": {
                                      "type": "string",
                                      "location": "path",
                                      "pattern": "^projects/[^/]+/locations/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                                      "description": "Required. The session to create a session entity type for. Supported formats: - `projects//agent/sessions/, - `projects//locations//agent/sessions/`, - `projects//agent/environments//users//sessions/`, - `projects//locations//agent/environments//users//sessions/`, If `Location ID` is not specified we assume default 'us' location. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user.",
                                      "required": true
                                    }
                                  },
                                  "request": {
                                    "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                                  },
                                  "response": {
                                    "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                                  }
                                },
                                "patch": {
                                  "request": {
                                    "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                                  },
                                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                                  "scopes": [
                                    "https://www.googleapis.com/auth/cloud-platform",
                                    "https://www.googleapis.com/auth/dialogflow"
                                  ],
                                  "httpMethod": "PATCH",
                                  "path": "v2beta1/{+name}",
                                  "id": "dialogflow.projects.locations.agent.environments.users.sessions.entityTypes.patch",
                                  "description": "Updates the specified session entity type. This method doesn't work with Google Assistant integration. Contact Dialogflow support if you need to use session entities with Google Assistant integration.",
                                  "parameterOrder": [
                                    "name"
                                  ],
                                  "response": {
                                    "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                                  },
                                  "parameters": {
                                    "updateMask": {
                                      "format": "google-fieldmask",
                                      "location": "query",
                                      "type": "string",
                                      "description": "Optional. The mask to control which fields get updated."
                                    },
                                    "name": {
                                      "pattern": "^projects/[^/]+/locations/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                                      "required": true,
                                      "location": "path",
                                      "type": "string",
                                      "description": "Required. The unique identifier of this session entity type. Supported formats: - `projects//agent/sessions//entityTypes/` - `projects//locations//agent/sessions//entityTypes/` - `projects//agent/environments//users//sessions//entityTypes/` - `projects//locations//agent/environments/ /users//sessions//entityTypes/` If `Location ID` is not specified we assume default 'us' location. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user. `` must be the display name of an existing entity type in the same agent that will be overridden or supplemented."
                                    }
[...]
