{
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "ownerName": "Google",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "servicePath": "",
  "schemas": {
    "GoogleCloudDialogflowCxV3beta1ContinuousTestResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ContinuousTestResult",
      "description": "Represents a result from running a test case in an agent environment.",
      "properties": {
        "testCaseResults": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of individual test case results names in this continuous test run."
        },
        "name": {
          "description": "The resource name for the continuous test result. Format: `projects//locations//agents//environments//continuousTestResults/`.",
          "type": "string"
        },
        "runTime": {
          "description": "Time when the continuous testing run starts.",
          "format": "google-datetime",
          "type": "string"
        },
        "result": {
          "description": "The result of this continuous test run, i.e. whether all the tests in this continuous test run pass or not.",
          "enum": [
            "AGGREGATED_TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "enumDescriptions": [
            "Not specified. Should never be used.",
            "All the tests passed.",
            "At least one test did not pass."
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2QueryResult": {
      "properties": {
        "fulfillmentMessages": {
          "type": "array",
          "description": "The collection of rich messages to present to the user.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          }
        },
        "intentDetectionConfidence": {
          "type": "number",
          "format": "float",
          "description": "The intent detection confidence. Values range from 0.0 (completely uncertain) to 1.0 (completely certain). This value is for informational purpose only and is only used to help match the best intent within the classification threshold. This value may change for the same end-user expression at any time due to a model retraining or change in implementation. If there are `multiple knowledge_answers` messages, this value is set to the greatest `knowledgeAnswers.match_confidence` value in the list."
        },
        "sentimentAnalysisResult": {
          "description": "The sentiment analysis result, which depends on the `sentiment_analysis_request_config` specified in the request.",
          "$ref": "GoogleCloudDialogflowV2SentimentAnalysisResult"
        },
        "languageCode": {
          "description": "The language that was triggered during intent detection. See [Language Support](https://cloud.google.com/dialogflow/docs/reference/language) for a list of the currently supported language codes.",
          "type": "string"
        },
        "webhookPayload": {
          "description": "If the query was fulfilled by a webhook call, this field is set to the value of the `payload` field returned in the webhook response.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "allRequiredParamsPresent": {
          "description": "This field is set to: - `false` if the matched intent has required parameters and not all of the required parameter values have been collected. - `true` if all required parameter values have been collected, or if the matched intent doesn't contain any required parameters.",
          "type": "boolean"
        },
        "diagnosticInfo": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Free-form diagnostic information for the associated detect intent request. The fields of this data can change without notice, so you should not write code that depends on its structure. The data may contain: - webhook call latency - webhook errors"
        },
        "queryText": {
          "type": "string",
          "description": "The original conversational query text: - If natural language text was provided as input, `query_text` contains a copy of the input. - If natural language speech audio was provided as input, `query_text` contains the speech recognition result. If speech recognizer produced multiple alternatives, a particular one is picked. - If automatic spell correction is enabled, `query_text` will contain the corrected user input."
        },
        "cancelsSlotFilling": {
          "type": "boolean",
          "description": "Indicates whether the conversational query triggers a cancellation for slot filling. For more information, see the [cancel slot filling documentation](https://cloud.google.com/dialogflow/es/docs/intents-actions-parameters#cancel)."
        },
        "fulfillmentText": {
          "description": "The text to be pronounced to the user or shown on the screen. Note: This is a legacy field, `fulfillment_messages` should be preferred.",
          "type": "string"
        },
        "webhookSource": {
          "type": "string",
          "description": "If the query was fulfilled by a webhook call, this field is set to the value of the `source` field returned in the webhook response."
        },
        "speechRecognitionConfidence": {
          "format": "float",
          "description": "The Speech recognition confidence between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. The default of 0.0 is a sentinel value indicating that confidence was not set. This field is not guaranteed to be accurate or set. In particular this field isn't set for StreamingDetectIntent since the streaming endpoint has separate confidence estimates per portion of the audio in StreamingRecognitionResult.",
          "type": "number"
        },
        "outputContexts": {
          "description": "The collection of output contexts. If applicable, `output_contexts.parameters` contains entries with name `.original` containing the original parameter values before the query.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          },
          "type": "array"
        },
        "parameters": {
          "type": "object",
          "description": "The collection of extracted parameters. Depending on your protocol or client library language, this is a map, associative array, symbol table, dictionary, or JSON object composed of a collection of (MapKey, MapValue) pairs: - MapKey type: string - MapKey value: parameter name - MapValue type: - If parameter's entity type is a composite entity: map - Else: depending on parameter value type, could be one of string, number, boolean, null, list or map - MapValue value: - If parameter's entity type is a composite entity: map from composite entity property names to property values - Else: parameter value",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "action": {
          "description": "The action name from the matched intent.",
          "type": "string"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowV2Intent",
          "description": "The intent that matched the conversational query. Some, not all fields are filled in this message, including but not limited to: `name`, `display_name`, `end_interaction` and `is_fallback`."
        }
      },
      "description": "Represents the result of conversational query or event processing.",
      "type": "object",
      "id": "GoogleCloudDialogflowV2QueryResult"
    },
    "GoogleCloudDialogflowCxV3SecuritySettingsAudioExportSettings": {
      "description": "Settings for exporting audio.",
      "id": "GoogleCloudDialogflowCxV3SecuritySettingsAudioExportSettings",
      "properties": {
        "audioFormat": {
          "enumDescriptions": [
            "Unspecified. Do not use.",
            "G.711 mu-law PCM with 8kHz sample rate.",
            "MP3 file format.",
            "OGG Vorbis."
          ],
          "enum": [
            "AUDIO_FORMAT_UNSPECIFIED",
            "MULAW",
            "MP3",
            "OGG"
          ],
          "type": "string",
          "description": "File format for exported audio file. Currently only in telephony recordings."
        },
        "audioExportPattern": {
          "type": "string",
          "description": "Filename pattern for exported audio."
        },
        "gcsBucket": {
          "description": "Cloud Storage bucket to export audio record to. You need to grant `service-@gcp-sa-dialogflow.iam.gserviceaccount.com` the `Storage Object Admin` role in this bucket.",
          "type": "string"
        },
        "enableAudioRedaction": {
          "type": "boolean",
          "description": "Enable audio redaction if it is true."
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1CreateDocumentOperationMetadata": {
      "type": "object",
      "description": "Metadata for CreateDocument operation.",
      "id": "GoogleCloudDialogflowCxV3beta1CreateDocumentOperationMetadata",
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudDialogflowCxV3beta1GenericKnowledgeOperationMetadata",
          "description": "The generic information of the operation."
        }
      }
    },
    "GoogleCloudDialogflowCxV3TrainFlowRequest": {
      "type": "object",
      "properties": {},
      "description": "The request message for Flows.TrainFlow.",
      "id": "GoogleCloudDialogflowCxV3TrainFlowRequest"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelect": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelect",
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelectItem"
          },
          "type": "array",
          "description": "Required. Carousel items."
        }
      },
      "description": "The card for presenting a carousel of options to select from."
    },
    "GoogleCloudDialogflowCxV3ResponseMessageText": {
      "description": "The text response message.",
      "properties": {
        "allowPlaybackInterruption": {
          "description": "Output only. Whether the playback of this message can be interrupted by the end user's speech and the client can then starts the next Dialogflow request.",
          "readOnly": true,
          "type": "boolean"
        },
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. A collection of text responses."
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessageText"
    },
    "GoogleCloudDialogflowCxV3IntentParameter": {
      "description": "Represents an intent parameter.",
      "properties": {
        "isList": {
          "type": "boolean",
          "description": "Indicates whether the parameter represents a list of values."
        },
        "redact": {
          "description": "Indicates whether the parameter content should be redacted in log. If redaction is enabled, the parameter content will be replaced by parameter name during logging. Note: the parameter content is subject to redaction if either parameter level redaction or entity type level redaction is enabled.",
          "type": "boolean"
        },
        "id": {
          "description": "Required. The unique identifier of the parameter. This field is used by training phrases to annotate their parts.",
          "type": "string"
        },
        "entityType": {
          "description": "Required. The entity type of the parameter. Format: `projects/-/locations/-/agents/-/entityTypes/` for system entity types (for example, `projects/-/locations/-/agents/-/entityTypes/sys.date`), or `projects//locations//agents//entityTypes/` for developer entity types.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3IntentParameter"
    },
    "GoogleCloudDialogflowCxV3VersionVariants": {
      "properties": {
        "variants": {
          "description": "A list of flow version variants.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3VersionVariantsVariant"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3VersionVariants",
      "type": "object",
      "description": "A list of flow version variants."
    },
    "GoogleCloudDialogflowV2beta1EntityTypeEntity": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Required. The primary value associated with this entity entry. For example, if the entity type is *vegetable*, the value could be *scallions*. For `KIND_MAP` entity types: * A reference value to be used in place of synonyms. For `KIND_LIST` entity types: * A string that can contain references to other entity types (with or without aliases).",
          "type": "string"
        },
        "synonyms": {
          "type": "array",
          "description": "Required. A collection of value synonyms. For example, if the entity type is *vegetable*, and `value` is *scallions*, a synonym could be *green onions*. For `KIND_LIST` entity types: * This collection must contain exactly one synonym equal to `value`.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1EntityTypeEntity",
      "description": "An **entity entry** for an associated entity type."
    },
    "GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject": {
      "type": "object",
      "description": "Response media object for media content card.",
      "properties": {
        "icon": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage",
          "description": "Optional. Icon to display above media content."
        },
        "largeImage": {
          "description": "Optional. Image to display above media content.",
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "name": {
          "description": "Required. Name of media card.",
          "type": "string"
        },
        "contentUrl": {
          "description": "Required. Url where the media is stored.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of media card."
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject"
    },
    "GoogleCloudDialogflowV2ExportOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ExportOperationMetadata",
      "properties": {
        "exportedGcsDestination": {
          "$ref": "GoogleCloudDialogflowV2GcsDestination",
          "description": "Cloud Storage file path of the exported data."
        }
      },
      "description": "Metadata related to the Export Data Operations (e.g. ExportDocument)."
    },
    "GoogleCloudDialogflowV2beta1MessageAnnotation": {
      "properties": {
        "containEntities": {
          "description": "Required. Indicates whether the text message contains entities.",
          "type": "boolean"
        },
        "parts": {
          "description": "Optional. The collection of annotated message parts ordered by their position in the message. You can recover the annotated message by concatenating [AnnotatedMessagePart.text].",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AnnotatedMessagePart"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1MessageAnnotation",
      "description": "Represents the result of annotation for the message."
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent": {
      "description": "The list of messages or conditional cases to activate for this case.",
      "properties": {
        "additionalCases": {
          "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases",
          "description": "Additional cases to be evaluated."
        },
        "message": {
          "description": "Returned message.",
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent"
    },
    "GoogleCloudDialogflowCxV3PageInfoFormInfo": {
      "properties": {
        "parameterInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo"
          },
          "description": "Optional for both WebhookRequest and WebhookResponse. The parameters contained in the form. Note that the webhook cannot add or remove any form parameter.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Represents form information.",
      "id": "GoogleCloudDialogflowCxV3PageInfoFormInfo"
    },
    "GoogleCloudDialogflowCxV3beta1ReloadDocumentOperationMetadata": {
      "properties": {
        "genericMetadata": {
          "description": "The generic information of the operation.",
          "$ref": "GoogleCloudDialogflowCxV3beta1GenericKnowledgeOperationMetadata"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ReloadDocumentOperationMetadata",
      "type": "object",
      "description": "Metadata for ReloadDocument operation."
    },
    "GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponse": {
      "properties": {
        "messages": {
          "type": "array",
          "description": "The list of rich message responses to present to the user.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          }
        },
        "mergeBehavior": {
          "type": "string",
          "enumDescriptions": [
            "Not specified. `APPEND` will be used.",
            "`messages` will be appended to the list of messages waiting to be sent to the user.",
            "`messages` will replace the list of messages waiting to be sent to the user."
          ],
          "enum": [
            "MERGE_BEHAVIOR_UNSPECIFIED",
            "APPEND",
            "REPLACE"
          ],
          "description": "Merge behavior for `messages`."
        }
      },
      "type": "object",
      "description": "Represents a fulfillment response to the user.",
      "id": "GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponse"
    },
    "GoogleCloudDialogflowCxV3LookupEnvironmentHistoryResponse": {
      "properties": {
        "environments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Environment"
          },
          "description": "Represents a list of snapshots for an environment. Time of the snapshots is stored in `update_time`."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3LookupEnvironmentHistoryResponse",
      "description": "The response message for Environments.LookupEnvironmentHistory.",
      "type": "object"
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessage": {
      "properties": {
        "telephonyTransferCall": {
          "description": "Transfers the call in Telephony Gateway.",
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall"
        },
        "suggestions": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSuggestions",
          "description": "Displays suggestion chips for Actions on Google."
        },
        "rbmStandaloneRichCard": {
          "description": "Standalone Rich Business Messaging (RBM) rich card response.",
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard"
        },
        "basicCard": {
          "description": "Displays a basic card for Actions on Google.",
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCard"
        },
        "simpleResponses": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses",
          "description": "Returns a voice or text-only response for Actions on Google."
        },
        "tableCard": {
          "description": "Table card for Actions on Google.",
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCard"
        },
        "linkOutSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion",
          "description": "Displays a link out suggestion chip for Actions on Google."
        },
        "rbmCarouselRichCard": {
          "description": "Rich Business Messaging (RBM) carousel rich card response.",
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCarouselCard"
        },
        "rbmText": {
          "description": "Rich Business Messaging (RBM) text response. RBM allows businesses to send enriched and branded versions of SMS. See https://jibe.google.com/business-messaging.",
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmText"
        },
        "platform": {
          "type": "string",
          "description": "Optional. The platform that this message is intended for.",
          "enumDescriptions": [
            "Not specified.",
            "Facebook.",
            "Slack.",
            "Telegram.",
            "Kik.",
            "Skype.",
            "Line.",
            "Viber.",
            "Google Assistant See [Dialogflow webhook format](https://developers.google.com/assistant/actions/build/json/dialogflow-webhook-json)",
            "Telephony Gateway.",
            "Google Hangouts."
          ],
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FACEBOOK",
            "SLACK",
            "TELEGRAM",
            "KIK",
            "SKYPE",
            "LINE",
            "VIBER",
            "ACTIONS_ON_GOOGLE",
            "TELEPHONY",
            "GOOGLE_HANGOUTS"
          ]
        },
        "card": {
          "description": "Displays a card.",
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCard"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "A custom platform-specific response."
        },
        "text": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageText",
          "description": "Returns a text response."
        },
        "telephonyPlayAudio": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio",
          "description": "Plays audio from a file in Telephony Gateway."
        },
        "quickReplies": {
          "description": "Displays quick replies.",
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageQuickReplies"
        },
        "telephonySynthesizeSpeech": {
          "description": "Synthesizes speech in Telephony Gateway.",
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech"
        },
        "carouselSelect": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelect",
          "description": "Displays a carousel card for Actions on Google."
        },
        "browseCarouselCard": {
          "description": "Browse carousel card for Actions on Google.",
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard"
        },
        "listSelect": {
          "description": "Displays a list card for Actions on Google.",
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageListSelect"
        },
        "image": {
          "description": "Displays an image.",
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "mediaContent": {
          "description": "The media content card for Actions on Google.",
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageMediaContent"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessage",
      "description": "Corresponds to the `Response` field in the Dialogflow console.",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1PageInfoFormInfo": {
      "type": "object",
      "properties": {
        "parameterInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfo"
          },
          "description": "Optional for both WebhookRequest and WebhookResponse. The parameters contained in the form. Note that the webhook cannot add or remove any form parameter."
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfo",
      "description": "Represents form information."
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses",
      "description": "The collection of simple response candidates. This message in `QueryResult.fulfillment_messages` and `WebhookResponse.fulfillment_messages` should contain only one `SimpleResponse`.",
      "type": "object",
      "properties": {
        "simpleResponses": {
          "type": "array",
          "description": "Required. The list of simple responses.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3AdvancedSettings": {
      "properties": {
        "loggingSettings": {
          "description": "Settings for logging. Settings for Dialogflow History, Contact Center messages, StackDriver logs, and speech logging. Exposed at the following levels: - Agent level.",
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettingsLoggingSettings"
        }
      },
      "id": "GoogleCloudDialogflowCxV3AdvancedSettings",
      "description": "Hierarchical advanced settings for agent/flow/page/fulfillment/parameter. Settings exposed at lower level overrides the settings exposed at higher level. Overriding occurs at the sub-setting level. For example, the playback_interruption_settings at fulfillment level only overrides the playback_interruption_settings at the agent level, leaving other settings at the agent level unchanged. DTMF settings does not override each other. DTMF settings set at different levels define DTMF detections running in parallel. Hierarchy: Agent-\u003eFlow-\u003ePage-\u003eFulfillment/Parameter.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1Message": {
      "properties": {
        "content": {
          "type": "string",
          "description": "Required. The message content."
        },
        "participant": {
          "type": "string",
          "description": "Output only. The participant that sends this message.",
          "readOnly": true
        },
        "messageAnnotation": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1MessageAnnotation",
          "description": "Output only. The annotation for the message."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the message was created in Contact Center AI.",
          "format": "google-datetime"
        },
        "sendTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The time when the message was sent."
        },
        "sentimentAnalysis": {
          "$ref": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult",
          "description": "Output only. The sentiment analysis result for the message.",
          "readOnly": true
        },
        "participantRole": {
          "enumDescriptions": [
            "Participant role not set.",
            "Participant is a human agent.",
            "Participant is an automated agent, such as a Dialogflow agent.",
            "Participant is an end user that has called or chatted with Dialogflow services."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "readOnly": true,
          "description": "Output only. The role of the participant.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. The message language. This should be a [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag. Example: \"en-US\"."
        },
        "name": {
          "type": "string",
          "description": "Optional. The unique identifier of the message. Format: `projects//locations//conversations//messages/`."
        }
      },
      "id": "GoogleCloudDialogflowV2beta1Message",
      "type": "object",
      "description": "Represents a message posted into a conversation."
    },
    "GoogleCloudDialogflowV2ImportConversationDataOperationMetadata": {
      "properties": {
        "createTime": {
          "description": "Timestamp when import conversation data request was created. The time is measured on server side.",
          "format": "google-datetime",
          "type": "string"
        },
        "conversationDataset": {
          "type": "string",
          "description": "The resource name of the imported conversation dataset. Format: `projects//locations//conversationDatasets/`"
        },
        "partialFailures": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Partial failures are failures that don't fail the whole long running operation, e.g. single files that couldn't be read.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2ImportConversationDataOperationMetadata",
      "description": "Metadata for a ConversationDatasets.ImportConversationData operation.",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3NluSettings": {
      "description": "Settings related to NLU.",
      "properties": {
        "modelTrainingMode": {
          "enumDescriptions": [
            "Not specified. `MODEL_TRAINING_MODE_AUTOMATIC` will be used.",
            "NLU model training is automatically triggered when a flow gets modified. User can also manually trigger model training in this mode.",
            "User needs to manually trigger NLU model training. Best for large flows whose models take long time to train."
          ],
          "description": "Indicates NLU model training mode.",
          "enum": [
            "MODEL_TRAINING_MODE_UNSPECIFIED",
            "MODEL_TRAINING_MODE_AUTOMATIC",
            "MODEL_TRAINING_MODE_MANUAL"
          ],
          "type": "string"
        },
        "modelType": {
          "type": "string",
          "description": "Indicates the type of NLU model.",
          "enumDescriptions": [
            "Not specified. `MODEL_TYPE_STANDARD` will be used.",
            "Use standard NLU model.",
            "Use advanced NLU model."
          ],
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "MODEL_TYPE_STANDARD",
            "MODEL_TYPE_ADVANCED"
          ]
        },
        "classificationThreshold": {
          "format": "float",
          "type": "number",
          "description": "To filter out false positive results and still get variety in matched natural language inputs for your agent, you can tune the machine learning classification threshold. If the returned score value is less than the threshold value, then a no-match event will be triggered. The score values range from 0.0 (completely uncertain) to 1.0 (completely certain). If set to 0.0, the default of 0.3 is used."
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3NluSettings"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageText": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageText",
      "properties": {
        "allowPlaybackInterruption": {
          "readOnly": true,
          "description": "Output only. Whether the playback of this message can be interrupted by the end user's speech and the client can then starts the next Dialogflow request.",
          "type": "boolean"
        },
        "text": {
          "description": "Required. A collection of text responses.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "The text response message."
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation",
      "description": "Opens the device's location chooser so the user can pick a location to send back to the agent.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3CreateDocumentOperationMetadata": {
      "description": "Metadata for CreateDocument operation.",
      "id": "GoogleCloudDialogflowCxV3CreateDocumentOperationMetadata",
      "properties": {
        "genericMetadata": {
          "description": "The generic information of the operation.",
          "$ref": "GoogleCloudDialogflowCxV3GenericKnowledgeOperationMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3EntityType": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The unique identifier of the entity type. Required for EntityTypes.UpdateEntityType. Format: `projects//locations//agents//entityTypes/`."
        },
        "displayName": {
          "description": "Required. The human-readable name of the entity type, unique within the agent.",
          "type": "string"
        },
        "excludedPhrases": {
          "description": "Collection of exceptional words and phrases that shouldn't be matched. For example, if you have a size entity type with entry `giant`(an adjective), you might consider adding `giants`(a noun) as an exclusion. If the kind of entity type is `KIND_MAP`, then the phrases specified by entities and excluded phrases should be mutually exclusive.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EntityTypeExcludedPhrase"
          }
        },
        "autoExpansionMode": {
          "type": "string",
          "enumDescriptions": [
            "Auto expansion disabled for the entity.",
            "Allows an agent to recognize values that have not been explicitly listed in the entity."
          ],
          "description": "Indicates whether the entity type can be automatically expanded.",
          "enum": [
            "AUTO_EXPANSION_MODE_UNSPECIFIED",
            "AUTO_EXPANSION_MODE_DEFAULT"
          ]
        },
        "kind": {
          "type": "string",
          "enum": [
            "KIND_UNSPECIFIED",
            "KIND_MAP",
            "KIND_LIST",
            "KIND_REGEXP"
          ],
          "description": "Required. Indicates the kind of entity type.",
          "enumDescriptions": [
            "Not specified. This value should be never used.",
            "Map entity types allow mapping of a group of synonyms to a canonical value.",
            "List entity types contain a set of entries that do not map to canonical values. However, list entity types can contain references to other entity types (with or without aliases).",
            "Regexp entity types allow to specify regular expressions in entries values."
          ]
        },
        "redact": {
          "type": "boolean",
          "description": "Indicates whether parameters of the entity type should be redacted in log. If redaction is enabled, page parameters and intent parameters referring to the entity type will be replaced by parameter name when logging."
        },
        "enableFuzzyExtraction": {
          "description": "Enables fuzzy entity extraction during classification.",
          "type": "boolean"
        },
        "entities": {
          "description": "The collection of entity entries associated with the entity type.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EntityTypeEntity"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3EntityType",
      "description": "Entities are extracted from user input and represent parameters that are meaningful to your application. For example, a date range, a proper name such as a geographic location or landmark, and so on. Entities represent actionable data for your application. When you define an entity, you can also include synonyms that all map to that entity. For example, \"soft drink\", \"soda\", \"pop\", and so on. There are three types of entities: * **System** - entities that are defined by the Dialogflow API for common data types such as date, time, currency, and so on. A system entity is represented by the `EntityType` type. * **Custom** - entities that are defined by you that represent actionable data that is meaningful to your application. For example, you could define a `pizza.sauce` entity for red or white pizza sauce, a `pizza.cheese` entity for the different types of cheese on a pizza, a `pizza.topping` entity for different toppings, and so on. A custom entity is represented by the `EntityType` type. * **User** - entities that are built for an individual user such as favorites, preferences, playlists, and so on. A user entity is represented by the SessionEntityType type. For more information about entity types, see the [Dialogflow documentation](https://cloud.google.com/dialogflow/docs/entities-overview).",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput": {
      "properties": {
        "diagnosticInfo": {
          "description": "Required. Input only. The diagnostic info output for the turn. Required to calculate the testing coverage.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "differences": {
          "description": "Output only. If this is part of a result conversation turn, the list of differences between the original run and the replay for this output, if any.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestRunDifference"
          },
          "type": "array"
        },
        "textResponses": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageText"
          },
          "type": "array",
          "description": "The text responses from the agent for the turn."
        },
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "Response error from the agent in the test result. If set, other output is empty."
        },
        "currentPage": {
          "description": "The Page on which the utterance was spoken. Only name and displayName will be set.",
          "$ref": "GoogleCloudDialogflowCxV3Page"
        },
        "triggeredIntent": {
          "description": "The Intent that triggered the response. Only name and displayName will be set.",
          "$ref": "GoogleCloudDialogflowCxV3Intent"
        },
        "sessionParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "The session parameters available to the bot at this point."
        }
      },
      "description": "The output from the virtual agent.",
      "id": "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion": {
      "properties": {
        "reply": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedReply",
          "description": "Predefined replies for user to select instead of typing"
        },
        "action": {
          "description": "Predefined client side actions that user can choose",
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedAction"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion",
      "description": "Rich Business Messaging (RBM) suggestion. Suggestions allow user to easily select/click a predefined response or perform an action (like opening a web uri).",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3CalculateCoverageResponse": {
      "id": "GoogleCloudDialogflowCxV3CalculateCoverageResponse",
      "type": "object",
      "properties": {
        "routeGroupCoverage": {
          "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroupCoverage",
          "description": "Transition route group coverage."
        },
        "transitionCoverage": {
          "$ref": "GoogleCloudDialogflowCxV3TransitionCoverage",
          "description": "Transition (excluding transition route groups) coverage."
        },
        "agent": {
          "type": "string",
          "description": "The agent to calculate coverage for. Format: `projects//locations//agents/`."
        },
        "intentCoverage": {
          "description": "Intent coverage.",
          "$ref": "GoogleCloudDialogflowCxV3IntentCoverage"
        }
      },
      "description": "The response message for TestCases.CalculateCoverage."
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText": {
      "description": "A text or ssml response that is preferentially used for TTS output audio synthesis, as described in the comment on the ResponseMessage message.",
      "properties": {
        "ssml": {
          "type": "string",
          "description": "The SSML text to be synthesized. For more information, see [SSML](/speech/text-to-speech/docs/ssml)."
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the playback of this message can be interrupted by the end user's speech and the client can then starts the next Dialogflow request."
        },
        "text": {
          "description": "The raw text to be synthesized.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText"
    },
    "GoogleCloudDialogflowCxV3beta1RunContinuousTestMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1RunContinuousTestMetadata",
      "properties": {
        "errors": {
          "description": "The test errors.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestError"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Metadata returned for the Environments.RunContinuousTest long running operation."
    },
    "GoogleCloudDialogflowV3alpha1ReloadDocumentOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV3alpha1ReloadDocumentOperationMetadata",
      "description": "Metadata for ReloadDocument operation.",
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudDialogflowV3alpha1GenericKnowledgeOperationMetadata",
          "description": "The generic information of the operation."
        }
      }
    },
    "GoogleCloudDialogflowV3alpha1ImportDocumentsOperationMetadata": {
      "description": "Metadata for ImportDocuments operation.",
      "id": "GoogleCloudDialogflowV3alpha1ImportDocumentsOperationMetadata",
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudDialogflowV3alpha1GenericKnowledgeOperationMetadata",
          "description": "The generic information of the operation."
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Webhook": {
      "description": "Webhooks host the developer's business logic. During a session, webhooks allow the developer to use the data extracted by Dialogflow's natural language processing to generate dynamic responses, validate collected data, or trigger actions on the backend.",
      "id": "GoogleCloudDialogflowCxV3Webhook",
      "type": "object",
      "properties": {
        "timeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Webhook execution timeout. Execution is considered failed if Dialogflow doesn't receive a response from webhook at the end of the timeout period. Defaults to 5 seconds, maximum allowed timeout is 30 seconds."
        },
        "serviceDirectory": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookServiceDirectoryConfig",
          "description": "Configuration for a [Service Directory](https://cloud.google.com/service-directory) service."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The human-readable name of the webhook, unique within the agent."
        },
        "name": {
          "type": "string",
          "description": "The unique identifier of the webhook. Required for the Webhooks.UpdateWebhook method. Webhooks.CreateWebhook populates the name automatically. Format: `projects//locations//agents//webhooks/`."
        },
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebService",
          "description": "Configuration for a generic web service."
        },
        "disabled": {
          "description": "Indicates whether the webhook is disabled.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3FormParameter": {
      "properties": {
        "defaultValue": {
          "description": "The default value of an optional parameter. If the parameter is required, the default value will be ignored.",
          "type": "any"
        },
        "isList": {
          "type": "boolean",
          "description": "Indicates whether the parameter represents a list of values."
        },
        "fillBehavior": {
          "description": "Required. Defines fill behavior for the parameter.",
          "$ref": "GoogleCloudDialogflowCxV3FormParameterFillBehavior"
        },
        "entityType": {
          "description": "Required. The entity type of the parameter. Format: `projects/-/locations/-/agents/-/entityTypes/` for system entity types (for example, `projects/-/locations/-/agents/-/entityTypes/sys.date`), or `projects//locations//agents//entityTypes/` for developer entity types.",
          "type": "string"
        },
        "required": {
          "description": "Indicates whether the parameter is required. Optional parameters will not trigger prompts; however, they are filled if the user specifies them. Required parameters must be filled before form filling concludes.",
          "type": "boolean"
        },
        "displayName": {
          "description": "Required. The human-readable name of the parameter, unique within the form.",
          "type": "string"
        },
        "redact": {
          "description": "Indicates whether the parameter content should be redacted in log. If redaction is enabled, the parameter content will be replaced by parameter name during logging. Note: the parameter content is subject to redaction if either parameter level redaction or entity type level redaction is enabled.",
          "type": "boolean"
        }
      },
      "description": "Represents a form parameter.",
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3FormParameter"
    },
    "GoogleCloudDialogflowV2beta1ExportOperationMetadata": {
      "properties": {
        "exportedGcsDestination": {
          "description": "Cloud Storage file path of the exported data.",
          "$ref": "GoogleCloudDialogflowV2beta1GcsDestination"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ExportOperationMetadata",
      "type": "object",
      "description": "Metadata related to the Export Data Operations (e.g. ExportDocument)."
    },
    "GoogleCloudDialogflowCxV3beta1DtmfInput": {
      "properties": {
        "digits": {
          "description": "The dtmf digits.",
          "type": "string"
        },
        "finishDigit": {
          "type": "string",
          "description": "The finish digit (if any)."
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1DtmfInput",
      "description": "Represents the input for dtmf event."
    },
    "GoogleCloudDialogflowV2SentimentAnalysisResult": {
      "properties": {
        "queryTextSentiment": {
          "$ref": "GoogleCloudDialogflowV2Sentiment",
          "description": "The sentiment analysis result for `query_text`."
        }
      },
      "description": "The result of sentiment analysis. Sentiment analysis inspects user input and identifies the prevailing subjective opinion, especially to determine a user's attitude as positive, negative, or neutral. For Participants.DetectIntent, it needs to be configured in DetectIntentRequest.query_params. For Participants.StreamingDetectIntent, it needs to be configured in StreamingDetectIntentRequest.query_params. And for Participants.AnalyzeContent and Participants.StreamingAnalyzeContent, it needs to be configured in ConversationProfile.human_agent_assistant_config",
      "type": "object",
      "id": "GoogleCloudDialogflowV2SentimentAnalysisResult"
    },
    "GoogleCloudDialogflowV2DeleteConversationModelOperationMetadata": {
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Timestamp when delete conversation model request was created. The time is measured on server side.",
          "format": "google-datetime"
        },
        "conversationModel": {
          "type": "string",
          "description": "The resource name of the conversation model. Format: `projects//conversationModels/`"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2DeleteConversationModelOperationMetadata",
      "description": "Metadata for a ConversationModels.DeleteConversationModel operation."
    },
    "GoogleCloudDialogflowCxV3ExperimentResultMetric": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Ratio-based metric type. Only one of type or count_type is specified in each Metric.",
          "enumDescriptions": [
            "Metric unspecified.",
            "Percentage of contained sessions without user calling back in 24 hours.",
            "Percentage of sessions that were handed to a human agent.",
            "Percentage of sessions with the same user calling back.",
            "Percentage of sessions where user hung up.",
            "Percentage of sessions reached Dialogflow 'END_PAGE' or 'END_SESSION'."
          ],
          "type": "string",
          "enum": [
            "METRIC_UNSPECIFIED",
            "CONTAINED_SESSION_NO_CALLBACK_RATE",
            "LIVE_AGENT_HANDOFF_RATE",
            "CALLBACK_SESSION_RATE",
            "ABANDONED_SESSION_RATE",
            "SESSION_END_RATE"
          ]
        },
        "confidenceInterval": {
          "$ref": "GoogleCloudDialogflowCxV3ExperimentResultConfidenceInterval",
          "description": "The probability that the treatment is better than all other treatments in the experiment"
        },
        "countType": {
          "enumDescriptions": [
            "Count type unspecified.",
            "Total number of occurrences of a 'NO_MATCH'.",
            "Total number of turn counts.",
            "Average turn count in a session."
          ],
          "description": "Count-based metric type. Only one of type or count_type is specified in each Metric.",
          "enum": [
            "COUNT_TYPE_UNSPECIFIED",
            "TOTAL_NO_MATCH_COUNT",
            "TOTAL_TURN_COUNT",
            "AVERAGE_TURN_COUNT"
          ],
          "type": "string"
        },
        "count": {
          "type": "number",
          "format": "double",
          "description": "Count value of a metric."
        },
        "ratio": {
          "description": "Ratio value of a metric.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ExperimentResultMetric",
      "description": "Metric and corresponding confidence intervals."
    },
    "GoogleCloudDialogflowV2beta1BatchUpdateEntityTypesResponse": {
      "type": "object",
      "description": "The response message for EntityTypes.BatchUpdateEntityTypes.",
      "id": "GoogleCloudDialogflowV2beta1BatchUpdateEntityTypesResponse",
      "properties": {
        "entityTypes": {
          "description": "The collection of updated or created entity types.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityType"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1EnvironmentVersionConfig": {
      "type": "object",
      "description": "Configuration for the version.",
      "id": "GoogleCloudDialogflowCxV3beta1EnvironmentVersionConfig",
      "properties": {
        "version": {
          "description": "Required. Format: projects//locations//agents//flows//versions/.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1WebhookRequest": {
      "properties": {
        "alternativeQueryResults": {
          "type": "array",
          "description": "Alternative query results from KnowledgeService.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
          }
        },
        "responseId": {
          "type": "string",
          "description": "The unique identifier of the response. Contains the same value as `[Streaming]DetectIntentResponse.response_id`."
        },
        "session": {
          "type": "string",
          "description": "The unique identifier of detectIntent request session. Can be used to identify end-user inside webhook implementation. Supported formats: - `projects//agent/sessions/, - `projects//locations//agent/sessions/`, - `projects//agent/environments//users//sessions/`, - `projects//locations//agent/environments//users//sessions/`,"
        },
        "queryResult": {
          "description": "The result of the conversational query or event processing. Contains the same value as `[Streaming]DetectIntentResponse.query_result`.",
          "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
        },
        "originalDetectIntentRequest": {
          "description": "Optional. The contents of the original request that was passed to `[Streaming]DetectIntent` call.",
          "$ref": "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1WebhookRequest",
      "description": "The request message for a webhook call."
    },
    "GoogleCloudDialogflowCxV3beta1TestCaseError": {
      "description": "Error info for importing a test.",
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TestCaseError",
      "properties": {
        "testCase": {
          "description": "The test case.",
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCase"
        },
        "status": {
          "description": "The status associated with the test case.",
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ImportTestCasesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ImportTestCasesResponse",
      "description": "The response message for TestCases.ImportTestCases.",
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The unique identifiers of the new test cases. Format: `projects//locations//agents//testCases/`."
        }
      }
    },
    "GoogleCloudDialogflowCxV3OutputAudioConfig": {
      "id": "GoogleCloudDialogflowCxV3OutputAudioConfig",
      "description": "Instructs the speech synthesizer how to generate the output audio content.",
      "properties": {
        "sampleRateHertz": {
          "description": "Optional. The synthesis sample rate (in hertz) for this audio. If not provided, then the synthesizer will use the default sample rate based on the audio encoding. If this is different from the voice's natural sample rate, then the synthesizer will honor this request by converting to the desired sample rate (which might result in worse audio quality).",
          "format": "int32",
          "type": "integer"
        },
        "synthesizeSpeechConfig": {
          "$ref": "GoogleCloudDialogflowCxV3SynthesizeSpeechConfig",
          "description": "Optional. Configuration of how speech should be synthesized."
        },
        "audioEncoding": {
          "description": "Required. Audio encoding of the synthesized audio content.",
          "enum": [
            "OUTPUT_AUDIO_ENCODING_UNSPECIFIED",
            "OUTPUT_AUDIO_ENCODING_LINEAR_16",
            "OUTPUT_AUDIO_ENCODING_MP3",
            "OUTPUT_AUDIO_ENCODING_MP3_64_KBPS",
            "OUTPUT_AUDIO_ENCODING_OGG_OPUS",
            "OUTPUT_AUDIO_ENCODING_MULAW"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Uncompressed 16-bit signed little-endian samples (Linear PCM). Audio content returned as LINEAR16 also contains a WAV header.",
            "MP3 audio at 32kbps.",
            "MP3 audio at 64kbps.",
            "Opus encoded audio wrapped in an ogg container. The result will be a file which can be played natively on Android, and in browsers (at least Chrome and Firefox). The quality of the encoding is considerably higher than MP3 while using approximately the same bitrate.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ImportDocumentsResponse": {
      "description": "Response message for Documents.ImportDocuments.",
      "id": "GoogleCloudDialogflowV2beta1ImportDocumentsResponse",
      "type": "object",
      "properties": {
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Includes details about skipped documents or any other warnings."
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1SessionInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1SessionInfo",
      "description": "Represents session information communicated to and from the webhook.",
      "properties": {
        "session": {
          "description": "Always present for WebhookRequest. Ignored for WebhookResponse. The unique identifier of the session. This field can be used by the webhook to identify a session. Format: `projects//locations//agents//sessions/` or `projects//locations//agents//environments//sessions/` if environment is specified.",
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object",
          "description": "Optional for WebhookRequest. Optional for WebhookResponse. All parameters collected from forms and intents during the session. Parameters can be created, updated, or removed by the webhook. To remove a parameter from the session, the webhook should explicitly set the parameter value to null in WebhookResponse. The map is keyed by parameters' display names."
        }
      }
    },
    "GoogleCloudDialogflowV2WebhookRequest": {
      "description": "The request message for a webhook call.",
      "properties": {
        "session": {
          "type": "string",
          "description": "The unique identifier of detectIntent request session. Can be used to identify end-user inside webhook implementation. Format: `projects//agent/sessions/`, or `projects//agent/environments//users//sessions/`."
        },
        "originalDetectIntentRequest": {
          "description": "Optional. The contents of the original request that was passed to `[Streaming]DetectIntent` call.",
          "$ref": "GoogleCloudDialogflowV2OriginalDetectIntentRequest"
        },
        "responseId": {
          "description": "The unique identifier of the response. Contains the same value as `[Streaming]DetectIntentResponse.response_id`.",
          "type": "string"
        },
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2QueryResult",
          "description": "The result of the conversational query or event processing. Contains the same value as `[Streaming]DetectIntentResponse.query_result`."
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2WebhookRequest"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAnswers": {
      "properties": {
        "answers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer"
          },
          "description": "A list of answers from Knowledge Connector."
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAnswers",
      "type": "object",
      "description": "Represents the result of querying a Knowledge base."
    },
    "GoogleCloudDialogflowV2WebhookResponse": {
      "properties": {
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. This field can be used to pass custom data from your webhook to the integration or API caller. Arbitrary JSON objects are supported. When provided, Dialogflow uses this field to populate QueryResult.webhook_payload sent to the integration or API caller. This field is also used by the [Google Assistant integration](https://cloud.google.com/dialogflow/docs/integrations/aog) for rich response messages. See the format definition at [Google Assistant Dialogflow webhook format](https://developers.google.com/assistant/actions/build/json/dialogflow-webhook-json)"
        },
        "fulfillmentText": {
          "type": "string",
          "description": "Optional. The text response message intended for the end-user. It is recommended to use `fulfillment_messages.text.text[0]` instead. When provided, Dialogflow uses this field to populate QueryResult.fulfillment_text sent to the integration or API caller."
        },
        "source": {
          "description": "Optional. A custom field used to identify the webhook source. Arbitrary strings are supported. When provided, Dialogflow uses this field to populate QueryResult.webhook_source sent to the integration or API caller.",
          "type": "string"
        },
        "outputContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          },
          "type": "array",
          "description": "Optional. The collection of output contexts that will overwrite currently active contexts for the session and reset their lifespans. When provided, Dialogflow uses this field to populate QueryResult.output_contexts sent to the integration or API caller."
        },
        "sessionEntityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SessionEntityType"
          },
          "description": "Optional. Additional session entity types to replace or extend developer entity types with. The entity synonyms apply to all languages and persist for the session. Setting this data from a webhook overwrites the session entity types that have been set using `detectIntent`, `streamingDetectIntent` or SessionEntityType management methods."
        },
        "followupEventInput": {
          "description": "Optional. Invokes the supplied events. When this field is set, Dialogflow ignores the `fulfillment_text`, `fulfillment_messages`, and `payload` fields.",
          "$ref": "GoogleCloudDialogflowV2EventInput"
        },
        "fulfillmentMessages": {
          "description": "Optional. The rich response messages intended for the end-user. When provided, Dialogflow uses this field to populate QueryResult.fulfillment_messages sent to the integration or API caller.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2WebhookResponse",
      "type": "object",
      "description": "The response message for a webhook call. This response is validated by the Dialogflow server. If validation fails, an error will be returned in the QueryResult.diagnostic_info field. Setting JSON fields to an empty value with the wrong type is a common error. To avoid this error: - Use `\"\"` for empty strings - Use `{}` or `null` for empty objects - Use `[]` or `null` for empty arrays For more information, see the [Protocol Buffers Language Guide](https://developers.google.com/protocol-buffers/docs/proto3#json)."
    },
    "GoogleCloudDialogflowCxV3IntentInput": {
      "id": "GoogleCloudDialogflowCxV3IntentInput",
      "description": "Represents the intent to trigger programmatically rather than as a result of natural language processing.",
      "type": "object",
      "properties": {
        "intent": {
          "description": "Required. The unique identifier of the intent. Format: `projects//locations//agents//intents/`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "description": "Browsing carousel tile",
      "type": "object",
      "properties": {
        "footer": {
          "type": "string",
          "description": "Optional. Text that appears at the bottom of the Browse Carousel Card. Maximum of one line of text."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the carousel item. Maximum of four lines of text."
        },
        "title": {
          "type": "string",
          "description": "Required. Title of the carousel item. Maximum of two lines of text."
        },
        "image": {
          "description": "Optional. Hero image for the carousel item.",
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "openUriAction": {
          "description": "Required. Action to present to the user.",
          "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
    },
    "GoogleCloudDialogflowCxV3ValidationMessage": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ValidationMessage",
      "properties": {
        "resourceType": {
          "enumDescriptions": [
            "Unspecified.",
            "Agent.",
            "Intent.",
            "Intent training phrase.",
            "Intent parameter.",
            "Multiple intents.",
            "Multiple training phrases.",
            "Entity type.",
            "Multiple entity types.",
            "Webhook.",
            "Flow.",
            "Page.",
            "Multiple pages.",
            "Transition route group."
          ],
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "AGENT",
            "INTENT",
            "INTENT_TRAINING_PHRASE",
            "INTENT_PARAMETER",
            "INTENTS",
            "INTENT_TRAINING_PHRASES",
            "ENTITY_TYPE",
            "ENTITY_TYPES",
            "WEBHOOK",
            "FLOW",
            "PAGE",
            "PAGES",
            "TRANSITION_ROUTE_GROUP"
          ],
          "description": "The type of the resources where the message is found.",
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "Unspecified.",
            "The agent doesn't follow Dialogflow best practices.",
            "The agent may not behave as expected.",
            "The agent may experience failures."
          ],
          "type": "string",
          "description": "Indicates the severity of the message.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ERROR"
          ]
        },
        "detail": {
          "description": "The message detail.",
          "type": "string"
        },
        "resourceNames": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResourceName"
          },
          "description": "The resource names of the resources where the message is found."
        },
        "resources": {
          "description": "The names of the resources where the message is found.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Agent/flow validation message."
    },
    "GoogleCloudDialogflowV2IntentMessageCarouselSelect": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageCarouselSelect",
      "properties": {
        "items": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem"
          },
          "description": "Required. Carousel items.",
          "type": "array"
        }
      },
      "description": "The card for presenting a carousel of options to select from."
    },
    "GoogleCloudDialogflowCxV3TransitionCoverageTransition": {
      "id": "GoogleCloudDialogflowCxV3TransitionCoverageTransition",
      "type": "object",
      "description": "A transition in a page.",
      "properties": {
        "transitionRoute": {
          "$ref": "GoogleCloudDialogflowCxV3TransitionRoute",
          "description": "Intent route or condition route."
        },
        "target": {
          "description": "The end node of a transition.",
          "$ref": "GoogleCloudDialogflowCxV3TransitionCoverageTransitionNode"
        },
        "eventHandler": {
          "description": "Event handler.",
          "$ref": "GoogleCloudDialogflowCxV3EventHandler"
        },
        "index": {
          "type": "integer",
          "format": "int32",
          "description": "The index of a transition in the transition list. Starting from 0."
        },
        "source": {
          "$ref": "GoogleCloudDialogflowCxV3TransitionCoverageTransitionNode",
          "description": "The start node of a transition."
        },
        "covered": {
          "type": "boolean",
          "description": "Whether or not the transition is covered by at least one of the agent's test cases."
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "description": "Browsing carousel tile",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem",
      "properties": {
        "image": {
          "description": "Optional. Hero image for the carousel item.",
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "openUriAction": {
          "description": "Required. Action to present to the user.",
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
        },
        "title": {
          "type": "string",
          "description": "Required. Title of the carousel item. Maximum of two lines of text."
        },
        "footer": {
          "description": "Optional. Text that appears at the bottom of the Browse Carousel Card. Maximum of one line of text.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the carousel item. Maximum of four lines of text."
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase": {
      "description": "Each case has a Boolean condition. When it is evaluated to be True, the corresponding messages will be selected and evaluated recursively.",
      "properties": {
        "caseContent": {
          "description": "A list of case content.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent"
          },
          "type": "array"
        },
        "condition": {
          "description": "The condition to activate and select this case. Empty means the condition is always true. The condition is evaluated against form parameters or session parameters. See the [conditions reference](https://cloud.google.com/dialogflow/cx/docs/reference/condition).",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SuggestionResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SuggestionResult",
      "properties": {
        "suggestFaqAnswersResponse": {
          "description": "SuggestFaqAnswersResponse if request is for FAQ_ANSWER.",
          "$ref": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse"
        },
        "suggestSmartRepliesResponse": {
          "description": "SuggestSmartRepliesResponse if request is for SMART_REPLY.",
          "$ref": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse"
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "Error status if the request failed."
        },
        "suggestArticlesResponse": {
          "description": "SuggestArticlesResponse if request is for ARTICLE_SUGGESTION.",
          "$ref": "GoogleCloudDialogflowV2beta1SuggestArticlesResponse"
        }
      },
      "description": "One response of different type of suggestion response which is used in the response of Participants.AnalyzeContent and Participants.AnalyzeContent, as well as HumanAgentAssistantEvent."
    },
    "GoogleCloudDialogflowCxV3beta1Intent": {
      "id": "GoogleCloudDialogflowCxV3beta1Intent",
      "properties": {
        "priority": {
          "format": "int32",
          "description": "The priority of this intent. Higher numbers represent higher priorities. - If the supplied value is unspecified or 0, the service translates the value to 500,000, which corresponds to the `Normal` priority in the console. - If the supplied value is negative, the intent is ignored in runtime detect intent requests.",
          "type": "integer"
        },
        "parameters": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentParameter"
          },
          "type": "array",
          "description": "The collection of parameters associated with the intent."
        },
        "trainingPhrases": {
          "type": "array",
          "description": "The collection of training phrases the agent is trained on to identify the intent.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase"
          }
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The key/value metadata to label an intent. Labels can contain lowercase letters, digits and the symbols '-' and '_'. International characters are allowed, including letters from unicase alphabets. Keys must start with a letter. Keys and values can be no longer than 63 characters and no more than 128 bytes. Prefix \"sys-\" is reserved for Dialogflow defined labels. Currently allowed Dialogflow defined labels include: * sys-head * sys-contextual The above labels do not require value. \"sys-head\" means the intent is a head intent. \"sys-contextual\" means the intent is a contextual intent."
        },
        "isFallback": {
          "type": "boolean",
          "description": "Indicates whether this is a fallback intent. Currently only default fallback intent is allowed in the agent, which is added upon agent creation. Adding training phrases to fallback intent is useful in the case of requests that are mistakenly matched, since training phrases assigned to fallback intents act as negative examples that triggers no-match event."
        },
        "description": {
          "description": "Human readable description for better understanding an intent like its scope, content, result etc. Maximum character limit: 140 characters.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The human-readable name of the intent, unique within the agent.",
          "type": "string"
        },
        "name": {
          "description": "The unique identifier of the intent. Required for the Intents.UpdateIntent method. Intents.CreateIntent populates the name automatically. Format: `projects//locations//agents//intents/`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An intent represents a user's intent to interact with a conversational agent. You can provide information for the Dialogflow API to use to match user input to an intent by adding training phrases (i.e., examples of user input) to your intent."
    },
    "GoogleCloudDialogflowV2DeleteConversationDatasetOperationMetadata": {
      "description": "Metadata for ConversationDatasets.",
      "id": "GoogleCloudDialogflowV2DeleteConversationDatasetOperationMetadata",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3QueryInput": {
      "id": "GoogleCloudDialogflowCxV3QueryInput",
      "description": "Represents the query input. It can contain one of: 1. A conversational query in the form of text. 2. An intent query that specifies which intent to trigger. 3. Natural language speech audio to be processed. 4. An event to be triggered. ",
      "properties": {
        "audio": {
          "description": "The natural language speech audio to be processed.",
          "$ref": "GoogleCloudDialogflowCxV3AudioInput"
        },
        "text": {
          "description": "The natural language text to be processed.",
          "$ref": "GoogleCloudDialogflowCxV3TextInput"
        },
        "dtmf": {
          "description": "The DTMF event to be handled.",
          "$ref": "GoogleCloudDialogflowCxV3DtmfInput"
        },
        "event": {
          "description": "The event to be triggered.",
          "$ref": "GoogleCloudDialogflowCxV3EventInput"
        },
        "languageCode": {
          "type": "string",
          "description": "Required. The language of the input. See [Language Support](https://cloud.google.com/dialogflow/cx/docs/reference/language) for a list of the currently supported language codes. Note that queries in the same session do not necessarily need to specify the same language."
        },
        "intent": {
          "description": "The intent to be triggered.",
          "$ref": "GoogleCloudDialogflowCxV3IntentInput"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageCard": {
      "id": "GoogleCloudDialogflowV2IntentMessageCard",
      "description": "The card response message.",
      "type": "object",
      "properties": {
        "buttons": {
          "description": "Optional. The collection of card buttons.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageCardButton"
          }
        },
        "title": {
          "description": "Optional. The title of the card.",
          "type": "string"
        },
        "subtitle": {
          "description": "Optional. The subtitle of the card.",
          "type": "string"
        },
        "imageUri": {
          "type": "string",
          "description": "Optional. The public URI to an image file for the card."
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageQuickReplies": {
      "id": "GoogleCloudDialogflowV2IntentMessageQuickReplies",
      "type": "object",
      "description": "The quick replies response message.",
      "properties": {
        "quickReplies": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The collection of quick replies."
        },
        "title": {
          "description": "Optional. The title of the collection of quick replies.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageMixedAudio": {
      "properties": {
        "segments": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment"
          },
          "type": "array",
          "description": "Segments this audio response is composed of."
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudio",
      "description": "Represents an audio message that is composed of both segments synthesized from the Dialogflow agent prompts and ones hosted externally at the specified URIs. The external URIs are specified via play_audio. This message is generated by Dialogflow only and not supposed to be defined by the user."
    },
    "GoogleCloudDialogflowV2beta1SmartReplyAnswer": {
      "description": "Represents a smart reply answer.",
      "properties": {
        "answerRecord": {
          "type": "string",
          "description": "The name of answer record, in the format of \"projects//locations//answerRecords/\""
        },
        "reply": {
          "type": "string",
          "description": "The content of the reply."
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Smart reply confidence. The system's confidence score that this reply is a good match for this conversation, as a value from 0.0 (completely uncertain) to 1.0 (completely certain)."
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SmartReplyAnswer"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText": {
      "properties": {
        "text": {
          "type": "string",
          "description": "The raw text to be synthesized."
        },
        "ssml": {
          "description": "The SSML text to be synthesized. For more information, see [SSML](/speech/text-to-speech/docs/ssml).",
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "type": "boolean",
          "description": "Output only. Whether the playback of this message can be interrupted by the end user's speech and the client can then starts the next Dialogflow request.",
          "readOnly": true
        }
      },
      "description": "A text or ssml response that is preferentially used for TTS output audio synthesis, as described in the comment on the ResponseMessage message.",
      "id": "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ValidateFlowRequest": {
      "description": "The request message for Flows.ValidateFlow.",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "If not specified, the agent's default language is used."
        }
      },
      "id": "GoogleCloudDialogflowCxV3ValidateFlowRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ClearSuggestionFeatureConfigOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ClearSuggestionFeatureConfigOperationMetadata",
      "properties": {
        "participantRole": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "description": "Required. The participant role to remove the suggestion feature config. Only HUMAN_AGENT or END_USER can be used.",
          "enumDescriptions": [
            "Participant role not set.",
            "Participant is a human agent.",
            "Participant is an automated agent, such as a Dialogflow agent.",
            "Participant is an end user that has called or chatted with Dialogflow services."
          ],
          "type": "string"
        },
        "suggestionFeatureType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY"
          ],
          "description": "Required. The type of the suggestion feature to remove.",
          "enumDescriptions": [
            "Unspecified feature type.",
            "Run article suggestion model for chat.",
            "Run FAQ model for chat.",
            "Run smart reply model for chat."
          ],
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp whe the request was created. The time is measured on server side."
        },
        "conversationProfile": {
          "type": "string",
          "description": "The resource name of the conversation profile. Format: `projects//locations//conversationProfiles/`"
        }
      },
      "description": "Metadata for a ConversationProfile.ClearSuggestionFeatureConfig operation."
    },
    "GoogleCloudDialogflowV2CreateConversationDatasetOperationMetadata": {
      "properties": {
        "conversationDataset": {
          "type": "string",
          "description": "The resource name of the conversation dataset that will be created. Format: `projects//locations//conversationDatasets/`"
        }
      },
      "description": "Metadata for ConversationDatasets.",
      "type": "object",
      "id": "GoogleCloudDialogflowV2CreateConversationDatasetOperationMetadata"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue": {
      "description": "Represents a value for an intent parameter.",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue",
      "type": "object",
      "properties": {
        "resolvedValue": {
          "description": "Always present. Structured value for the parameter extracted from user utterance.",
          "type": "any"
        },
        "originalValue": {
          "type": "string",
          "description": "Always present. Original text value extracted from user utterance."
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigOperationMetadata": {
      "description": "Metadata for a ConversationProfile.ClearSuggestionFeatureConfig operation.",
      "properties": {
        "conversationProfile": {
          "type": "string",
          "description": "The resource name of the conversation profile. Format: `projects//locations//conversationProfiles/`"
        },
        "participantRole": {
          "enumDescriptions": [
            "Participant role not set.",
            "Participant is a human agent.",
            "Participant is an automated agent, such as a Dialogflow agent.",
            "Participant is an end user that has called or chatted with Dialogflow services."
          ],
          "description": "Required. The participant role to remove the suggestion feature config. Only HUMAN_AGENT or END_USER can be used.",
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Timestamp whe the request was created. The time is measured on server side.",
          "type": "string"
        },
        "suggestionFeatureType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY"
          ],
          "type": "string",
          "description": "Required. The type of the suggestion feature to remove.",
          "enumDescriptions": [
            "Unspecified feature type.",
            "Run article suggestion model for chat.",
            "Run FAQ model.",
            "Run smart reply model for chat."
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigOperationMetadata"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequest": {
      "properties": {
        "payload": {
          "description": "Custom data set in QueryParameters.payload.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "text": {
          "description": "If natural language text was provided as input, this field will contain a copy of the text.",
          "type": "string"
        },
        "pageInfo": {
          "description": "Information about page status.",
          "$ref": "GoogleCloudDialogflowCxV3beta1PageInfo"
        },
        "languageCode": {
          "type": "string",
          "description": "The language code specified in the original request."
        },
        "messages": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          },
          "description": "The list of rich message responses to present to the user. Webhook can choose to append or replace this list in WebhookResponse.fulfillment_response;",
          "type": "array"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult",
          "description": "The sentiment analysis result of the current user request. The field is filled when sentiment analysis is configured to be enabled for the request."
        },
        "triggerIntent": {
          "description": "If an intent was provided as input, this field will contain a copy of the intent identifier. Format: `projects//locations//agents//intents/`.",
          "type": "string"
        },
        "sessionInfo": {
          "description": "Information about session status.",
          "$ref": "GoogleCloudDialogflowCxV3beta1SessionInfo"
        },
        "transcript": {
          "type": "string",
          "description": "If natural language speech audio was provided as input, this field will contain the transcript for the audio."
        },
        "fulfillmentInfo": {
          "description": "Always present. Information about the fulfillment that triggered this webhook call.",
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo"
        },
        "triggerEvent": {
          "type": "string",
          "description": "If an event was provided as input, this field will contain the name of the event."
        },
        "detectIntentResponseId": {
          "description": "Always present. The unique identifier of the DetectIntentResponse that will be returned to the API caller.",
          "type": "string"
        },
        "intentInfo": {
          "description": "Information about the last matched intent.",
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo"
        }
      },
      "description": "The request message for a webhook call. The request is sent as a JSON object and the field names will be presented in camel cases. You may see undocumented fields in an actual request. These fields are used internally by Dialogflow and should be ignored.",
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequest"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment",
      "properties": {
        "allowPlaybackInterruption": {
          "type": "boolean",
          "description": "Output only. Whether the playback of this segment can be interrupted by the end user's speech and the client should then start the next Dialogflow request.",
          "readOnly": true
        },
        "uri": {
          "type": "string",
          "description": "Client-specific URI that points to an audio clip accessible to the client. Dialogflow does not impose any validation on it."
        },
        "audio": {
          "type": "string",
          "description": "Raw audio synthesized from the Dialogflow agent's response using the output config specified in the request.",
          "format": "byte"
        }
      },
      "type": "object",
      "description": "Represents one segment of audio."
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio": {
      "properties": {
        "allowPlaybackInterruption": {
          "type": "boolean",
          "description": "Output only. Whether the playback of this message can be interrupted by the end user's speech and the client can then starts the next Dialogflow request.",
          "readOnly": true
        },
        "audioUri": {
          "type": "string",
          "description": "Required. URI of the audio clip. Dialogflow does not impose any validation on this value. It is specific to the client that reads it."
        }
      },
      "description": "Specifies an audio clip to be played by the client as part of the response.",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SessionEntityType": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The unique identifier of this session entity type. Format: `projects//agent/sessions//entityTypes/`, or `projects//agent/environments//users//sessions//entityTypes/`. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user. `` must be the display name of an existing entity type in the same agent that will be overridden or supplemented."
        },
        "entityOverrideMode": {
          "enum": [
            "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
            "ENTITY_OVERRIDE_MODE_OVERRIDE",
            "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          ],
          "enumDescriptions": [
            "Not specified. This value should be never used.",
            "The collection of session entities overrides the collection of entities in the corresponding custom entity type.",
            "The collection of session entities extends the collection of entities in the corresponding custom entity type. Note: Even in this override mode calls to `ListSessionEntityTypes`, `GetSessionEntityType`, `CreateSessionEntityType` and `UpdateSessionEntityType` only return the additional entities added in this session entity type. If you want to get the supplemented list, please call EntityTypes.GetEntityType on the custom entity type and merge."
          ],
          "description": "Required. Indicates whether the additional data should override or supplement the custom entity type definition.",
          "type": "string"
        },
        "entities": {
          "description": "Required. The collection of entities associated with this session entity type.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityTypeEntity"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2SessionEntityType",
      "type": "object",
      "description": "A session represents a conversation between a Dialogflow agent and an end-user. You can create special entities, called session entities, during a session. Session entities can extend or replace custom entity types and only exist during the session that they were created for. All session data, including session entities, is stored by Dialogflow for 20 minutes. For more information, see the [session entity guide](https://cloud.google.com/dialogflow/docs/entities-session)."
    },
    "GoogleCloudDialogflowCxV3TransitionRouteGroupCoverage": {
      "id": "GoogleCloudDialogflowCxV3TransitionRouteGroupCoverage",
      "type": "object",
      "properties": {
        "coverageScore": {
          "type": "number",
          "description": "The percent of transition routes in all the transition route groups that are covered.",
          "format": "float"
        },
        "coverages": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroupCoverageCoverage"
          },
          "type": "array",
          "description": "Transition route group coverages."
        }
      },
      "description": "Transition route group coverage represents the percentage of all possible transition routes present within any of a parent's test cases. The results are grouped by the transition route group."
    },
    "GoogleCloudDialogflowCxV3beta1IntentParameter": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1IntentParameter",
      "description": "Represents an intent parameter.",
      "properties": {
        "id": {
          "description": "Required. The unique identifier of the parameter. This field is used by training phrases to annotate their parts.",
          "type": "string"
        },
        "entityType": {
          "description": "Required. The entity type of the parameter. Format: `projects/-/locations/-/agents/-/entityTypes/` for system entity types (for example, `projects/-/locations/-/agents/-/entityTypes/sys.date`), or `projects//locations//agents//entityTypes/` for developer entity types.",
          "type": "string"
        },
        "redact": {
          "type": "boolean",
[...]
