{
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "id": "dialogflow:v2beta1",
  "basePath": "",
  "title": "Dialogflow API",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "resources": {
    "projects": {
      "methods": {
        "getAgent": {
          "description": "Retrieves the specified agent.",
          "httpMethod": "GET",
          "parameters": {
            "parent": {
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+$",
              "description": "Required. The project that the agent to fetch is associated with. Format: `projects/` or `projects//locations/`.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "id": "dialogflow.projects.getAgent",
          "flatPath": "v2beta1/projects/{projectsId}/agent",
          "response": {
            "$ref": "GoogleCloudDialogflowV2beta1Agent"
          },
          "path": "v2beta1/{+parent}/agent",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/dialogflow"
          ]
        },
        "deleteAgent": {
          "flatPath": "v2beta1/projects/{projectsId}/agent",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/dialogflow"
          ],
          "httpMethod": "DELETE",
          "parameterOrder": [
            "parent"
          ],
          "id": "dialogflow.projects.deleteAgent",
          "path": "v2beta1/{+parent}/agent",
          "description": "Deletes the specified agent.",
          "parameters": {
            "parent": {
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "description": "Required. The project that the agent to delete is associated with. Format: `projects/` or `projects//locations/`.",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "GoogleProtobufEmpty"
          }
        },
        "setAgent": {
          "id": "dialogflow.projects.setAgent",
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "GoogleCloudDialogflowV2beta1Agent"
          },
          "description": "Creates/updates the specified agent. Note: You should always train an agent prior to sending it queries. See the [training documentation](https://cloud.google.com/dialogflow/es/docs/training).",
          "parameters": {
            "parent": {
              "location": "path",
              "required": true,
              "description": "Required. The project of this agent. Format: `projects/` or `projects//locations/`",
              "pattern": "^projects/[^/]+$",
              "type": "string"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "description": "Optional. The mask to control which fields get updated.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/dialogflow"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudDialogflowV2beta1Agent"
          },
          "path": "v2beta1/{+parent}/agent",
          "flatPath": "v2beta1/projects/{projectsId}/agent"
        }
      },
      "resources": {
        "conversations": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "flatPath": "v2beta1/projects/{projectsId}/conversations",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter expression that filters conversations listed in the response. In general, the expression must specify the field name, a comparison operator, and the value to use for filtering: - The value must be a string, a number, or a boolean. - The comparison operator must be either `=`,`!=`, `\u003e`, or `\u003c`. - To filter on multiple expressions, separate the expressions with `AND` or `OR` (omitting both implies `AND`). - For clarity, expressions can be enclosed in parentheses. Only `lifecycle_state` can be filtered on in this way. For example, the following expression only returns `COMPLETED` conversations: `lifecycle_state = \"COMPLETED\"` For more information about filtering, see [API Filtering](https://aip.dev/160)."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The next_page_token value returned from a previous list request."
                },
                "parent": {
                  "description": "Required. The project from which to list all conversation. Format: `projects//locations/`.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum number of items to return in a single page. By default 100 and at most 1000."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ListConversationsResponse"
              },
              "path": "v2beta1/{+parent}/conversations",
              "id": "dialogflow.projects.conversations.list",
              "description": "Returns the list of all conversations in the specified project."
            },
            "create": {
              "path": "v2beta1/{+parent}/conversations",
              "description": "Creates a new conversation. Conversations are auto-completed after 24 hours. Conversation Lifecycle: There are two stages during a conversation: Automated Agent Stage and Assist Stage. For Automated Agent Stage, there will be a dialogflow agent responding to user queries. For Assist Stage, there's no dialogflow agent responding to user queries. But we will provide suggestions which are generated from conversation. If Conversation.conversation_profile is configured for a dialogflow agent, conversation will start from `Automated Agent Stage`, otherwise, it will start from `Assist Stage`. And during `Automated Agent Stage`, once an Intent with Intent.live_agent_handoff is triggered, conversation will transfer to Assist Stage.",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. Resource identifier of the project creating the conversation. Format: `projects//locations/`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "conversationId": {
                  "location": "query",
                  "description": "Optional. Identifier of the conversation. Generally it's auto generated by Google. Only set it if you cannot wait for the response to return a auto-generated one to you. The conversation ID must be compliant with the regression fomula \"a-zA-Z*\" with the characters length in range of [3,64]. If the field is provided, the caller is resposible for 1. the uniqueness of the ID, otherwise the request will be rejected. 2. the consistency for whether to use custom ID or not under a project to better ensure uniqueness.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1Conversation"
              },
              "id": "dialogflow.projects.conversations.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1Conversation"
              },
              "flatPath": "v2beta1/projects/{projectsId}/conversations"
            },
            "get": {
              "description": "Retrieves the specific conversation.",
              "path": "v2beta1/{+name}",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1Conversation"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the conversation. Format: `projects//locations//conversations/`.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/conversations/[^/]+$"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}",
              "id": "dialogflow.projects.conversations.get"
            },
            "complete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}:complete",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Resource identifier of the conversation to close. Format: `projects//locations//conversations/`.",
                  "pattern": "^projects/[^/]+/conversations/[^/]+$"
                }
              },
              "id": "dialogflow.projects.conversations.complete",
              "description": "Completes the specified conversation. Finished conversations are purged from the database after 30 days.",
              "parameterOrder": [
                "name"
              ],
              "path": "v2beta1/{+name}:complete",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1Conversation"
              },
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1CompleteConversationRequest"
              }
            }
          },
          "resources": {
            "participants": {
              "resources": {
                "suggestions": {
                  "methods": {
                    "suggestSmartReplies": {
                      "path": "v2beta1/{+parent}/suggestions:suggestSmartReplies",
                      "id": "dialogflow.projects.conversations.participants.suggestions.suggestSmartReplies",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesRequest"
                      },
                      "description": "Gets smart replies for a participant based on specific historical messages.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestSmartReplies",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "type": "string",
                          "description": "Required. The name of the participant to fetch suggestion for. Format: `projects//locations//conversations//participants/`.",
                          "required": true
                        }
                      }
                    },
                    "list": {
                      "path": "v2beta1/{+parent}/suggestions",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The next_page_token value returned from a previous list request."
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. The maximum number of items to return in a single page. The default value is 100; the maximum value is 1000.",
                          "format": "int32"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the participant to fetch suggestions for. Format: `projects//locations//conversations//participants/`.",
                          "location": "path"
                        },
                        "filter": {
                          "location": "query",
                          "description": "Optional. Filter on suggestions fields. Currently predicates on `create_time` and `create_time_epoch_microseconds` are supported. `create_time` only support milliseconds accuracy. E.g., `create_time_epoch_microseconds \u003e 1551790877964485` or `create_time \u003e \"2017-01-15T01:30:15.01Z\"` For more information about filtering, see [API Filtering](https://aip.dev/160).",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.conversations.participants.suggestions.list",
                      "description": "Deprecated: Use inline suggestion, event based suggestion or Suggestion* API instead. See HumanAgentAssistantConfig.name for more details. Removal Date: 2020-09-01. Retrieves suggestions for live agents. This method should be used by human agent client software to fetch auto generated suggestions in real-time, while the conversation with an end user is in progress. The functionality is implemented in terms of the [list pagination](https://cloud.google.com/apis/design/design_patterns#list_pagination) design pattern. The client app should use the `next_page_token` field to fetch the next batch of suggestions. `suggestions` are sorted by `create_time` in descending order. To fetch latest suggestion, just set `page_size` to 1. To fetch new suggestions without duplication, send request with filter `create_time_epoch_microseconds \u003e [first item's create_time of previous request]` and empty page_token.",
                      "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1ListSuggestionsResponse"
                      }
                    },
                    "suggestArticles": {
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. The name of the participant to fetch suggestion for. Format: `projects//locations//conversations//participants/`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestArticlesRequest"
                      },
                      "path": "v2beta1/{+parent}/suggestions:suggestArticles",
                      "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestArticles",
                      "id": "dialogflow.projects.conversations.participants.suggestions.suggestArticles",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestArticlesResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "Gets suggested articles for a participant based on specific historical messages. Note that ListSuggestions will only list the auto-generated suggestions, while CompileSuggestion will try to compile suggestion based on the provided conversation context in the real time.",
                      "httpMethod": "POST"
                    },
                    "suggestFaqAnswers": {
                      "description": "Gets suggested faq answers for a participant based on specific historical messages.",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersRequest"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the participant to fetch suggestion for. Format: `projects//locations//conversations//participants/`.",
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "required": true
                        }
                      },
                      "path": "v2beta1/{+parent}/suggestions:suggestFaqAnswers",
                      "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestFaqAnswers",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.conversations.participants.suggestions.suggestFaqAnswers",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse"
                      },
                      "httpMethod": "POST"
                    },
                    "compile": {
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "description": "Required. The name of the participant to fetch suggestion for. Format: `projects//locations//conversations//participants/`."
                        }
                      },
                      "id": "dialogflow.projects.conversations.participants.suggestions.compile",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1CompileSuggestionRequest"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1CompileSuggestionResponse"
                      },
                      "httpMethod": "POST",
                      "path": "v2beta1/{+parent}/suggestions:compile",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "Deprecated. use SuggestArticles and SuggestFaqAnswers instead. Gets suggestions for a participant based on specific historical messages. Note that ListSuggestions will only list the auto-generated suggestions, while CompileSuggestion will try to compile suggestion based on the provided conversation context in the real time.",
                      "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:compile"
                    }
                  }
                }
              },
              "methods": {
                "patch": {
                  "description": "Updates the specified participant.",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.conversations.participants.patch",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Participant"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                      "description": "Optional. The unique identifier of this participant. Format: `projects//locations//conversations//participants/`."
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Required. The mask to specify which fields to update."
                    }
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Participant"
                  },
                  "path": "v2beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListParticipantsResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants",
                  "path": "v2beta1/{+parent}/participants",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Returns the list of all participants in the specified conversation.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "description": "Required. The conversation to list all participants from. Format: `projects//locations//conversations/`.",
                      "required": true
                    },
                    "pageToken": {
                      "description": "Optional. The next_page_token value returned from a previous list request.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum number of items to return in a single page. By default 100 and at most 1000.",
                      "type": "integer"
                    }
                  },
                  "id": "dialogflow.projects.conversations.participants.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "get": {
                  "path": "v2beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Participant"
                  },
                  "httpMethod": "GET",
                  "id": "dialogflow.projects.conversations.participants.get",
                  "description": "Retrieves a conversation participant.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the participant. Format: `projects//locations//conversations//participants/`.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}"
                },
                "analyzeContent": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1AnalyzeContentRequest"
                  },
                  "description": "Adds a text (chat, for example), or audio (phone recording, for example) message from a participant into the conversation. Note: Always use agent versions for production traffic sent to virtual agents. See [Versions and environments](https://cloud.google.com/dialogflow/es/docs/agents-versions).",
                  "path": "v2beta1/{+participant}:analyzeContent",
                  "id": "dialogflow.projects.conversations.participants.analyzeContent",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "participant"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1AnalyzeContentResponse"
                  },
                  "parameters": {
                    "participant": {
                      "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the participant this text comes from. Format: `projects//locations//conversations//participants/`."
                    }
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}:analyzeContent"
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "description": "Required. Resource identifier of the conversation adding the participant. Format: `projects//locations//conversations/`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "Creates a new participant in a conversation.",
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Participant"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.conversations.participants.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Participant"
                  },
                  "path": "v2beta1/{+parent}/participants",
                  "httpMethod": "POST"
                }
              }
            },
            "messages": {
              "methods": {
                "list": {
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The maximum number of items to return in a single page. By default 100 and at most 1000.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the conversation to list messages for. Format: `projects//locations//conversations/`"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The next_page_token value returned from a previous list request."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filter on message fields. Currently predicates on `create_time` and `create_time_epoch_microseconds` are supported. `create_time` only support milliseconds accuracy. E.g., `create_time_epoch_microseconds \u003e 1551790877964485` or `create_time \u003e \"2017-01-15T01:30:15.01Z\"`. For more information about filtering, see [API Filtering](https://aip.dev/160)."
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListMessagesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2beta1/{+parent}/messages",
                  "description": "Lists messages that belong to a given conversation. `messages` are ordered by `create_time` in descending order. To fetch updates without duplication, send request with filter `create_time_epoch_microseconds \u003e [first item's create_time of previous request]` and empty page_token.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/messages",
                  "id": "dialogflow.projects.conversations.messages.list"
                },
                "batchCreate": {
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/messages:batchCreate",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1BatchCreateMessagesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1BatchCreateMessagesRequest"
                  },
                  "description": "Batch ingests messages to conversation. Customers can use this RPC to ingest historical messages to conversation.",
                  "id": "dialogflow.projects.conversations.messages.batchCreate",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. Resource identifier of the conversation to create message. Format: `projects//locations//conversations/`.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2beta1/{+parent}/messages:batchCreate"
                }
              }
            }
          }
        },
        "conversationProfiles": {
          "methods": {
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2beta1/projects/{projectsId}/conversationProfiles/{conversationProfilesId}",
              "id": "dialogflow.projects.conversationProfiles.delete",
              "path": "v2beta1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the conversation profile to delete. Format: `projects//locations//conversationProfiles/`.",
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$",
                  "required": true
                }
              },
              "httpMethod": "DELETE",
              "description": "Deletes the specified conversation profile.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            },
            "patch": {
              "description": "Updates the specified conversation profile. ConversationProfile.CreateTime and ConversationProfile.UpdateTime aren't populated in the response. You can retrieve them via GetConversationProfile API.",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2beta1/projects/{projectsId}/conversationProfiles/{conversationProfilesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "The unique identifier of this conversation profile. Format: `projects//locations//conversationProfiles/`."
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Required. The mask to control which fields to update."
                }
              },
              "id": "dialogflow.projects.conversationProfiles.patch",
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1ConversationProfile"
              },
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ConversationProfile"
              },
              "path": "v2beta1/{+name}"
            },
            "setSuggestionFeatureConfig": {
              "flatPath": "v2beta1/projects/{projectsId}/conversationProfiles/{conversationProfilesId}:setSuggestionFeatureConfig",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1SetSuggestionFeatureConfigRequest"
              },
              "path": "v2beta1/{+conversationProfile}:setSuggestionFeatureConfig",
              "parameters": {
                "conversationProfile": {
                  "description": "Required. The Conversation Profile to add or update the suggestion feature config. Format: `projects//locations//conversationProfiles/`.",
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Adds or updates a suggestion feature in a conversation profile. If the conversation profile contains the type of suggestion feature for the participant role, it will update it. Otherwise it will insert the suggestion feature. This method is a [long-running operation](https://cloud.google.com/dialogflow/es/docs/how/long-running-operations). The returned `Operation` type has the following method-specific fields: - `metadata`: SetSuggestionFeatureConfigOperationMetadata - `response`: ConversationProfile If a long running operation to add or update suggestion feature config for the same conversation profile, participant role and suggestion feature type exists, please cancel the existing long running operation before sending such request, otherwise the request will be rejected.",
              "parameterOrder": [
                "conversationProfile"
              ],
              "httpMethod": "POST",
              "id": "dialogflow.projects.conversationProfiles.setSuggestionFeatureConfig"
            },
            "create": {
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1ConversationProfile"
              },
              "description": "Creates a conversation profile in the specified project. ConversationProfile.CreateTime and ConversationProfile.UpdateTime aren't populated in the response. You can retrieve them via GetConversationProfile API.",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ConversationProfile"
              },
              "id": "dialogflow.projects.conversationProfiles.create",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The project to create a conversation profile for. Format: `projects//locations/`.",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "POST",
              "path": "v2beta1/{+parent}/conversationProfiles",
              "flatPath": "v2beta1/projects/{projectsId}/conversationProfiles"
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The next_page_token value returned from a previous list request."
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The project to list all conversation profiles from. Format: `projects//locations/`."
                },
                "pageSize": {
                  "description": "The maximum number of items to return in a single page. By default 100 and at most 1000.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "id": "dialogflow.projects.conversationProfiles.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "v2beta1/{+parent}/conversationProfiles",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ListConversationProfilesResponse"
              },
              "flatPath": "v2beta1/projects/{projectsId}/conversationProfiles",
              "description": "Returns the list of all conversation profiles in the specified project."
            },
            "get": {
              "path": "v2beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2beta1/projects/{projectsId}/conversationProfiles/{conversationProfilesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The resource name of the conversation profile. Format: `projects//locations//conversationProfiles/`.",
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "dialogflow.projects.conversationProfiles.get",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ConversationProfile"
              },
              "httpMethod": "GET",
              "description": "Retrieves the specified conversation profile."
            },
            "clearSuggestionFeatureConfig": {
              "parameterOrder": [
                "conversationProfile"
              ],
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "conversationProfile": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The Conversation Profile to add or update the suggestion feature config. Format: `projects//locations//conversationProfiles/`.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2beta1/{+conversationProfile}:clearSuggestionFeatureConfig",
              "description": "Clears a suggestion feature from a conversation profile for the given participant role. This method is a [long-running operation](https://cloud.google.com/dialogflow/es/docs/how/long-running-operations). The returned `Operation` type has the following method-specific fields: - `metadata`: ClearSuggestionFeatureConfigOperationMetadata - `response`: ConversationProfile",
              "flatPath": "v2beta1/projects/{projectsId}/conversationProfiles/{conversationProfilesId}:clearSuggestionFeatureConfig",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "dialogflow.projects.conversationProfiles.clearSuggestionFeatureConfig"
            }
          }
        },
        "locations": {
          "resources": {
            "answerRecords": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListAnswerRecordsResponse"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/answerRecords",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "Returns the list of all answer records in the specified project in reverse chronological order.",
                  "path": "v2beta1/{+parent}/answerRecords",
                  "httpMethod": "GET",
                  "id": "dialogflow.projects.locations.answerRecords.list",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The maximum number of records to return in a single page. The server may return fewer records than this. If unspecified, we use 10. The maximum is 100."
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The project to list all answer records for in reverse chronological order. Format: `projects//locations/`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The ListAnswerRecordsResponse.next_page_token value returned from a previous list request used to continue listing on the next page."
                    }
                  }
                },
                "patch": {
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query",
                      "description": "Required. The mask to control which fields get updated."
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/answerRecords/[^/]+$",
                      "description": "The unique identifier of this answer record. Required for AnswerRecords.UpdateAnswerRecord method. Format: `projects//locations//answerRecords/`."
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1AnswerRecord"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "PATCH",
                  "id": "dialogflow.projects.locations.answerRecords.patch",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1AnswerRecord"
                  },
                  "description": "Updates the specified answer record.",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/answerRecords/{answerRecordsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2beta1/{+name}"
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1AnswerRecord"
                  },
                  "description": "Deprecated. Retrieves a specific answer record.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.locations.answerRecords.get",
                  "path": "v2beta1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the answer record to retrieve. Format: `projects//locations//answerRecords/`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/answerRecords/[^/]+$"
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/answerRecords/{answerRecordsId}"
                }
              }
            },
            "conversationProfiles": {
              "methods": {
                "delete": {
                  "path": "v2beta1/{+name}",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversationProfiles/{conversationProfilesId}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "dialogflow.projects.locations.conversationProfiles.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "Deletes the specified conversation profile.",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationProfiles/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the conversation profile to delete. Format: `projects//locations//conversationProfiles/`."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The resource name of the conversation profile. Format: `projects//locations//conversationProfiles/`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationProfiles/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v2beta1/{+name}",
                  "description": "Retrieves the specified conversation profile.",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversationProfiles/{conversationProfilesId}",
                  "id": "dialogflow.projects.locations.conversationProfiles.get",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ConversationProfile"
                  }
                },
                "list": {
                  "id": "dialogflow.projects.locations.conversationProfiles.list",
                  "httpMethod": "GET",
                  "description": "Returns the list of all conversation profiles in the specified project.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2beta1/{+parent}/conversationProfiles",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListConversationProfilesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The project to list all conversation profiles from. Format: `projects//locations/`.",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "description": "The next_page_token value returned from a previous list request.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The maximum number of items to return in a single page. By default 100 and at most 1000.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversationProfiles"
                },
                "setSuggestionFeatureConfig": {
                  "parameterOrder": [
                    "conversationProfile"
                  ],
                  "path": "v2beta1/{+conversationProfile}:setSuggestionFeatureConfig",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1SetSuggestionFeatureConfigRequest"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversationProfiles/{conversationProfilesId}:setSuggestionFeatureConfig",
                  "description": "Adds or updates a suggestion feature in a conversation profile. If the conversation profile contains the type of suggestion feature for the participant role, it will update it. Otherwise it will insert the suggestion feature. This method is a [long-running operation](https://cloud.google.com/dialogflow/es/docs/how/long-running-operations). The returned `Operation` type has the following method-specific fields: - `metadata`: SetSuggestionFeatureConfigOperationMetadata - `response`: ConversationProfile If a long running operation to add or update suggestion feature config for the same conversation profile, participant role and suggestion feature type exists, please cancel the existing long running operation before sending such request, otherwise the request will be rejected.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "POST",
                  "id": "dialogflow.projects.locations.conversationProfiles.setSuggestionFeatureConfig",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "conversationProfile": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationProfiles/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The Conversation Profile to add or update the suggestion feature config. Format: `projects//locations//conversationProfiles/`."
                    }
                  }
                },
                "create": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ConversationProfile"
                  },
                  "id": "dialogflow.projects.locations.conversationProfiles.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1ConversationProfile"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "Creates a conversation profile in the specified project. ConversationProfile.CreateTime and ConversationProfile.UpdateTime aren't populated in the response. You can retrieve them via GetConversationProfile API.",
                  "parameters": {
                    "parent": {
                      "description": "Required. The project to create a conversation profile for. Format: `projects//locations/`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v2beta1/{+parent}/conversationProfiles",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversationProfiles"
                },
                "clearSuggestionFeatureConfig": {
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversationProfiles/{conversationProfilesId}:clearSuggestionFeatureConfig",
                  "description": "Clears a suggestion feature from a conversation profile for the given participant role. This method is a [long-running operation](https://cloud.google.com/dialogflow/es/docs/how/long-running-operations). The returned `Operation` type has the following method-specific fields: - `metadata`: ClearSuggestionFeatureConfigOperationMetadata - `response`: ConversationProfile",
                  "parameterOrder": [
                    "conversationProfile"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v2beta1/{+conversationProfile}:clearSuggestionFeatureConfig",
                  "id": "dialogflow.projects.locations.conversationProfiles.clearSuggestionFeatureConfig",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigRequest"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "conversationProfile": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The Conversation Profile to add or update the suggestion feature config. Format: `projects//locations//conversationProfiles/`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationProfiles/[^/]+$"
                    }
                  }
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversationProfiles/{conversationProfilesId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationProfiles/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The unique identifier of this conversation profile. Format: `projects//locations//conversationProfiles/`."
                    },
                    "updateMask": {
                      "description": "Required. The mask to control which fields to update.",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ConversationProfile"
                  },
                  "path": "v2beta1/{+name}",
                  "description": "Updates the specified conversation profile. ConversationProfile.CreateTime and ConversationProfile.UpdateTime aren't populated in the response. You can retrieve them via GetConversationProfile API.",
                  "id": "dialogflow.projects.locations.conversationProfiles.patch",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1ConversationProfile"
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "cancel": {
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2beta1/{+name}:cancel",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "id": "dialogflow.projects.locations.operations.cancel",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST"
                },
                "get": {
                  "path": "v2beta1/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "GET",
                  "id": "dialogflow.projects.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "required": true
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The standard list page size.",
                      "format": "int32"
                    }
                  },
                  "id": "dialogflow.projects.locations.operations.list",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/operations",
                  "path": "v2beta1/{+name}/operations",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id."
                }
              }
            },
            "conversations": {
              "methods": {
                "complete": {
                  "description": "Completes the specified conversation. Finished conversations are purged from the database after 30 days.",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}:complete",
                  "id": "dialogflow.projects.locations.conversations.complete",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1CompleteConversationRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Conversation"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. Resource identifier of the conversation to close. Format: `projects//locations//conversations/`.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v2beta1/{+name}:complete",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "id": "dialogflow.projects.locations.conversations.list",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. The maximum number of items to return in a single page. By default 100 and at most 1000.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. The next_page_token value returned from a previous list request.",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "A filter expression that filters conversations listed in the response. In general, the expression must specify the field name, a comparison operator, and the value to use for filtering: - The value must be a string, a number, or a boolean. - The comparison operator must be either `=`,`!=`, `\u003e`, or `\u003c`. - To filter on multiple expressions, separate the expressions with `AND` or `OR` (omitting both implies `AND`). - For clarity, expressions can be enclosed in parentheses. Only `lifecycle_state` can be filtered on in this way. For example, the following expression only returns `COMPLETED` conversations: `lifecycle_state = \"COMPLETED\"` For more information about filtering, see [API Filtering](https://aip.dev/160).",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The project from which to list all conversation. Format: `projects//locations/`."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListConversationsResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Returns the list of all conversations in the specified project.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2beta1/{+parent}/conversations",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations"
                },
                "get": {
                  "path": "v2beta1/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Conversation"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the conversation. Format: `projects//locations//conversations/`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "id": "dialogflow.projects.locations.conversations.get",
                  "description": "Retrieves the specific conversation."
                },
                "create": {
                  "id": "dialogflow.projects.locations.conversations.create",
                  "parameters": {
                    "conversationId": {
                      "location": "query",
                      "description": "Optional. Identifier of the conversation. Generally it's auto generated by Google. Only set it if you cannot wait for the response to return a auto-generated one to you. The conversation ID must be compliant with the regression fomula \"a-zA-Z*\" with the characters length in range of [3,64]. If the field is provided, the caller is resposible for 1. the uniqueness of the ID, otherwise the request will be rejected. 2. the consistency for whether to use custom ID or not under a project to better ensure uniqueness.",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. Resource identifier of the project creating the conversation. Format: `projects//locations/`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Conversation"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Conversation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2beta1/{+parent}/conversations",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "description": "Creates a new conversation. Conversations are auto-completed after 24 hours. Conversation Lifecycle: There are two stages during a conversation: Automated Agent Stage and Assist Stage. For Automated Agent Stage, there will be a dialogflow agent responding to user queries. For Assist Stage, there's no dialogflow agent responding to user queries. But we will provide suggestions which are generated from conversation. If Conversation.conversation_profile is configured for a dialogflow agent, conversation will start from `Automated Agent Stage`, otherwise, it will start from `Assist Stage`. And during `Automated Agent Stage`, once an Intent with Intent.live_agent_handoff is triggered, conversation will transfer to Assist Stage.",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations"
                }
              },
              "resources": {
                "participants": {
                  "methods": {
                    "analyzeContent": {
                      "id": "dialogflow.projects.locations.conversations.participants.analyzeContent",
                      "parameters": {
                        "participant": {
                          "description": "Required. The name of the participant this text comes from. Format: `projects//locations//conversations//participants/`.",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$"
                        }
                      },
                      "description": "Adds a text (chat, for example), or audio (phone recording, for example) message from a participant into the conversation. Note: Always use agent versions for production traffic sent to virtual agents. See [Versions and environments](https://cloud.google.com/dialogflow/es/docs/agents-versions).",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1AnalyzeContentRequest"
                      },
                      "parameterOrder": [
                        "participant"
                      ],
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}:analyzeContent",
                      "path": "v2beta1/{+participant}:analyzeContent",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1AnalyzeContentResponse"
                      }
                    },
                    "get": {
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}",
                      "id": "dialogflow.projects.locations.conversations.participants.get",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The name of the participant. Format: `projects//locations//conversations//participants/`.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$"
                        }
                      },
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1Participant"
                      },
                      "description": "Retrieves a conversation participant.",
                      "path": "v2beta1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v2beta1/{+parent}/participants",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants",
                      "description": "Returns the list of all participants in the specified conversation.",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1ListParticipantsResponse"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "pageSize": {
                          "description": "Optional. The maximum number of items to return in a single page. By default 100 and at most 1000.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. The next_page_token value returned from a previous list request.",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                          "description": "Required. The conversation to list all participants from. Format: `projects//locations//conversations/`.",
                          "location": "path"
                        }
                      },
                      "id": "dialogflow.projects.locations.conversations.participants.list"
                    },
                    "patch": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1Participant"
                      },
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "description": "Required. The mask to specify which fields to update.",
                          "type": "string",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Optional. The unique identifier of this participant. Format: `projects//locations//conversations//participants/`.",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1Participant"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "PATCH",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}",
                      "description": "Updates the specified participant.",
                      "id": "dialogflow.projects.locations.conversations.participants.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v2beta1/{+name}"
                    },
                    "create": {
                      "httpMethod": "POST",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants",
                      "id": "dialogflow.projects.locations.conversations.participants.create",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1Participant"
                      },
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "Required. Resource identifier of the conversation adding the participant. Format: `projects//locations//conversations/`.",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$"
                        }
                      },
                      "description": "Creates a new participant in a conversation.",
                      "path": "v2beta1/{+parent}/participants",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1Participant"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  },
                  "resources": {
                    "suggestions": {
                      "methods": {
                        "suggestSmartReplies": {
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$",
                              "description": "Required. The name of the participant to fetch suggestion for. Format: `projects//locations//conversations//participants/`.",
                              "required": true
                            }
                          },
                          "path": "v2beta1/{+parent}/suggestions:suggestSmartReplies",
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesRequest"
                          },
                          "description": "Gets smart replies for a participant based on specific historical messages.",
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "dialogflow.projects.locations.conversations.participants.suggestions.suggestSmartReplies",
                          "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestSmartReplies",
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse"
                          }
                        },
                        "suggestArticles": {
                          "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestArticles",
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$",
                              "location": "path",
                              "description": "Required. The name of the participant to fetch suggestion for. Format: `projects//locations//conversations//participants/`.",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "id": "dialogflow.projects.locations.conversations.participants.suggestions.suggestArticles",
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2beta1SuggestArticlesRequest"
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2beta1SuggestArticlesResponse"
                          },
                          "path": "v2beta1/{+parent}/suggestions:suggestArticles",
                          "description": "Gets suggested articles for a participant based on specific historical messages. Note that ListSuggestions will only list the auto-generated suggestions, while CompileSuggestion will try to compile suggestion based on the provided conversation context in the real time."
                        },
                        "suggestFaqAnswers": {
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "id": "dialogflow.projects.locations.conversations.participants.suggestions.suggestFaqAnswers",
                          "description": "Gets suggested faq answers for a participant based on specific historical messages.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersRequest"
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse"
                          },
                          "path": "v2beta1/{+parent}/suggestions:suggestFaqAnswers",
                          "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestFaqAnswers",
                          "parameters": {
                            "parent": {
                              "required": true,
                              "description": "Required. The name of the participant to fetch suggestion for. Format: `projects//locations//conversations//participants/`.",
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "messages": {
                  "methods": {
                    "list": {
                      "path": "v2beta1/{+parent}/messages",
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.locations.conversations.messages.list",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/messages",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1ListMessagesResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Required. The name of the conversation to list messages for. Format: `projects//locations//conversations/`",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "Optional. The maximum number of items to return in a single page. By default 100 and at most 1000.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "filter": {
                          "location": "query",
                          "description": "Optional. Filter on message fields. Currently predicates on `create_time` and `create_time_epoch_microseconds` are supported. `create_time` only support milliseconds accuracy. E.g., `create_time_epoch_microseconds \u003e 1551790877964485` or `create_time \u003e \"2017-01-15T01:30:15.01Z\"`. For more information about filtering, see [API Filtering](https://aip.dev/160).",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous list request.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "description": "Lists messages that belong to a given conversation. `messages` are ordered by `create_time` in descending order. To fetch updates without duplication, send request with filter `create_time_epoch_microseconds \u003e [first item's create_time of previous request]` and empty page_token."
                    },
                    "batchCreate": {
                      "id": "dialogflow.projects.locations.conversations.messages.batchCreate",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. Resource identifier of the conversation to create message. Format: `projects//locations//conversations/`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1BatchCreateMessagesRequest"
                      },
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/messages:batchCreate",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1BatchCreateMessagesResponse"
                      },
                      "description": "Batch ingests messages to conversation. Customers can use this RPC to ingest historical messages to conversation.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "path": "v2beta1/{+parent}/messages:batchCreate",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    }
                  }
                }
              }
            },
            "agent": {
              "resources": {
                "versions": {
                  "methods": {
                    "delete": {
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent/versions/[^/]+$",
                          "location": "path",
                          "description": "Required. The name of the version to delete. Supported formats: - `projects//agent/versions/` - `projects//locations//agent/versions/`",
                          "type": "string",
                          "required": true
                        }
                      },
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/versions/{versionsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agent.versions.delete",
                      "path": "v2beta1/{+name}",
                      "description": "Delete the specified agent version.",
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "get": {
                      "description": "Retrieves the specified agent version.",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent/versions/[^/]+$",
                          "location": "path",
                          "description": "Required. The name of the version. Supported formats: - `projects//agent/versions/` - `projects//locations//agent/versions/`",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1Version"
                      },
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/versions/{versionsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2beta1/{+name}",
                      "id": "dialogflow.projects.locations.agent.versions.get",
                      "httpMethod": "GET"
                    },
                    "patch": {
                      "id": "dialogflow.projects.locations.agent.versions.patch",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent/versions/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Output only. The unique identifier of this agent version. Supported formats: - `projects//agent/versions/` - `projects//locations//agent/versions/`"
                        },
                        "updateMask": {
                          "description": "Required. The mask to control which fields get updated.",
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string"
                        }
[...]
