{
  "canonicalName": "Dialogflow",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "id": "dialogflow:v2",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "rootUrl": "https://dialogflow.googleapis.com/",
  "title": "Dialogflow API",
  "protocol": "rest",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "GoogleCloudDialogflowCxV3beta1EnvironmentVersionConfig": {
      "description": "Configuration for the version.",
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1EnvironmentVersionConfig",
      "properties": {
        "version": {
          "type": "string",
          "description": "Required. Format: projects//locations//agents//flows//versions/."
        }
      }
    },
    "GoogleCloudDialogflowV2ExportAgentResponse": {
      "type": "object",
      "properties": {
        "agentContent": {
          "type": "string",
          "description": "Zip compressed raw byte content for agent.",
          "format": "byte"
        },
        "agentUri": {
          "description": "The URI to a file containing the exported agent. This field is populated only if `agent_uri` is specified in `ExportAgentRequest`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ExportAgentResponse",
      "description": "The response message for Agents.ExportAgent."
    },
    "GoogleCloudDialogflowV2KnowledgeOperationMetadata": {
      "id": "GoogleCloudDialogflowV2KnowledgeOperationMetadata",
      "type": "object",
      "description": "Metadata in google::longrunning::Operation for Knowledge operations.",
      "properties": {
        "state": {
          "description": "Output only. The current state of this operation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "The operation has been created.",
            "The operation is currently running.",
            "The operation is done, either cancelled or completed."
          ],
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig": {
      "id": "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig",
      "description": "The configuration for continuous tests.",
      "type": "object",
      "properties": {
        "enablePredeploymentRun": {
          "type": "boolean",
          "description": "Whether to run test cases in TestCasesConfig.test_cases before deploying a flow version to the environment. Default false."
        },
        "testCases": {
          "description": "A list of test case names to run. They should be under the same agent. Format of each test case name: `projects//locations/ /agents//testCases/`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enableContinuousRun": {
          "description": "Whether to run test cases in TestCasesConfig.test_cases periodically. Default false. If set to ture, run once a day.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExportTestCasesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ExportTestCasesResponse",
      "description": "The response message for TestCases.ExportTestCases.",
      "properties": {
        "content": {
          "type": "string",
          "description": "Uncompressed raw byte content for test cases.",
          "format": "byte"
        },
        "gcsUri": {
          "description": "The URI to a file containing the exported test cases. This field is populated only if `gcs_uri` is specified in ExportTestCasesRequest.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard": {
      "description": "Browse Carousel Card for Actions on Google. https://developers.google.com/actions/assistant/responses#browsing_carousel",
      "properties": {
        "imageDisplayOptions": {
          "description": "Optional. Settings for displaying the image. Applies to every image in items.",
          "type": "string",
          "enumDescriptions": [
            "Fill the gaps between the image and the image container with gray bars.",
            "Fill the gaps between the image and the image container with gray bars.",
            "Fill the gaps between the image and the image container with white bars.",
            "Image is scaled such that the image width and height match or exceed the container dimensions. This may crop the top and bottom of the image if the scaled image height is greater than the container height, or crop the left and right of the image if the scaled image width is greater than the container width. This is similar to \"Zoom Mode\" on a widescreen TV when playing a 4:3 video.",
            "Pad the gaps between image and image frame with a blurred copy of the same image."
          ],
          "enum": [
            "IMAGE_DISPLAY_OPTIONS_UNSPECIFIED",
            "GRAY",
            "WHITE",
            "CROPPED",
            "BLURRED_BACKGROUND"
          ]
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
          },
          "description": "Required. List of items in the Browse Carousel Card. Minimum of two items, maximum of ten."
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard"
    },
    "GoogleCloudDialogflowV2FulfillmentFeature": {
      "properties": {
        "type": {
          "description": "The type of the feature that enabled for fulfillment.",
          "type": "string",
          "enumDescriptions": [
            "Feature type not specified.",
            "Fulfillment is enabled for SmallTalk."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "SMALLTALK"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2FulfillmentFeature",
      "description": "Whether fulfillment is enabled for the specific feature."
    },
    "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess": {
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Custom metadata. Dialogflow doesn't impose any structure on this."
        }
      },
      "type": "object",
      "description": "Indicates that the conversation succeeded, i.e., the bot handled the issue that the customer talked to it about. Dialogflow only uses this to determine which conversations should be counted as successful and doesn't process the metadata in this message in any way. Note that Dialogflow also considers conversations that get to the conversation end page as successful even if they don't return ConversationSuccess. You may set this, for example: * In the entry_fulfillment of a Page if entering the page indicates that the conversation succeeded. * In a webhook response when you determine that you handled the customer issue.",
      "id": "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess"
    },
    "GoogleCloudDialogflowV2EntityType": {
      "id": "GoogleCloudDialogflowV2EntityType",
      "type": "object",
      "properties": {
        "enableFuzzyExtraction": {
          "description": "Optional. Enables fuzzy entity extraction during classification.",
          "type": "boolean"
        },
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityTypeEntity"
          },
          "description": "Optional. The collection of entity entries associated with the entity type."
        },
        "kind": {
          "enum": [
            "KIND_UNSPECIFIED",
            "KIND_MAP",
            "KIND_LIST",
            "KIND_REGEXP"
          ],
          "enumDescriptions": [
            "Not specified. This value should be never used.",
            "Map entity types allow mapping of a group of synonyms to a reference value.",
            "List entity types contain a set of entries that do not map to reference values. However, list entity types can contain references to other entity types (with or without aliases).",
            "Regexp entity types allow to specify regular expressions in entries values."
          ],
          "description": "Required. Indicates the kind of entity type.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The unique identifier of the entity type. Required for EntityTypes.UpdateEntityType and EntityTypes.BatchUpdateEntityTypes methods. Format: `projects//agent/entityTypes/`."
        },
        "autoExpansionMode": {
          "enum": [
            "AUTO_EXPANSION_MODE_UNSPECIFIED",
            "AUTO_EXPANSION_MODE_DEFAULT"
          ],
          "description": "Optional. Indicates whether the entity type can be automatically expanded.",
          "enumDescriptions": [
            "Auto expansion disabled for the entity.",
            "Allows an agent to recognize values that have not been explicitly listed in the entity."
          ],
          "type": "string"
        },
        "displayName": {
          "description": "Required. The name of the entity type.",
          "type": "string"
        }
      },
      "description": "Each intent parameter has a type, called the entity type, which dictates exactly how data from an end-user expression is extracted. Dialogflow provides predefined system entities that can match many common types of data. For example, there are system entities for matching dates, times, colors, email addresses, and so on. You can also create your own custom entities for matching custom data. For example, you could define a vegetable entity that can match the types of vegetables available for purchase with a grocery store agent. For more information, see the [Entity guide](https://cloud.google.com/dialogflow/docs/entities-overview)."
    },
    "GoogleCloudDialogflowV2IntentMessageListSelectItem": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageListSelectItem",
      "properties": {
        "image": {
          "description": "Optional. The image to display.",
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "description": {
          "type": "string",
          "description": "Optional. The main text describing the item."
        },
        "info": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo",
          "description": "Required. Additional information about this option."
        },
        "title": {
          "type": "string",
          "description": "Required. The title of the list item."
        }
      },
      "description": "An item in the list."
    },
    "GoogleCloudDialogflowCxV3beta1EnvironmentTestCasesConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1EnvironmentTestCasesConfig",
      "description": "The configuration for continuous tests.",
      "properties": {
        "enableContinuousRun": {
          "description": "Whether to run test cases in TestCasesConfig.test_cases periodically. Default false. If set to true, run once a day.",
          "type": "boolean"
        },
        "enablePredeploymentRun": {
          "description": "Whether to run test cases in TestCasesConfig.test_cases before deploying a flow version to the environment. Default false.",
          "type": "boolean"
        },
        "testCases": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of test case names to run. They should be under the same agent. Format of each test case name: `projects//locations/ /agents//testCases/`"
        }
      }
    },
    "GoogleCloudDialogflowCxV3AudioInput": {
      "description": "Represents the natural speech audio to be processed.",
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3AudioInput",
      "properties": {
        "config": {
          "$ref": "GoogleCloudDialogflowCxV3InputAudioConfig",
          "description": "Required. Instructs the speech recognizer how to process the speech audio."
        },
        "audio": {
          "format": "byte",
          "description": "The natural language speech audio to be processed. A single request can contain up to 1 minute of speech audio data. The transcribed text cannot contain more than 256 bytes. For non-streaming audio detect intent, both `config` and `audio` must be provided. For streaming audio detect intent, `config` must be provided in the first request and `audio` must be provided in all following requests.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV3alpha1ReloadDocumentOperationMetadata": {
      "properties": {
        "genericMetadata": {
          "description": "The generic information of the operation.",
          "$ref": "GoogleCloudDialogflowV3alpha1GenericKnowledgeOperationMetadata"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV3alpha1ReloadDocumentOperationMetadata",
      "description": "Metadata for ReloadDocument operation."
    },
    "GoogleCloudDialogflowCxV3IntentParameter": {
      "id": "GoogleCloudDialogflowCxV3IntentParameter",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. The unique identifier of the parameter. This field is used by training phrases to annotate their parts."
        },
        "isList": {
          "description": "Indicates whether the parameter represents a list of values.",
          "type": "boolean"
        },
        "entityType": {
          "type": "string",
          "description": "Required. The entity type of the parameter. Format: `projects/-/locations/-/agents/-/entityTypes/` for system entity types (for example, `projects/-/locations/-/agents/-/entityTypes/sys.date`), or `projects//locations//agents//entityTypes/` for developer entity types."
        },
        "redact": {
          "type": "boolean",
          "description": "Indicates whether the parameter content should be redacted in log. If redaction is enabled, the parameter content will be replaced by parameter name during logging. Note: the parameter content is subject to redaction if either parameter level redaction or entity type level redaction is enabled."
        }
      },
      "description": "Represents an intent parameter.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageQuickReplies": {
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. The title of the collection of quick replies."
        },
        "quickReplies": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The collection of quick replies.",
          "type": "array"
        }
      },
      "description": "The quick replies response message.",
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageQuickReplies"
    },
    "GoogleCloudDialogflowCxV3QueryInput": {
      "type": "object",
      "properties": {
        "dtmf": {
          "description": "The DTMF event to be handled.",
          "$ref": "GoogleCloudDialogflowCxV3DtmfInput"
        },
        "languageCode": {
          "type": "string",
          "description": "Required. The language of the input. See [Language Support](https://cloud.google.com/dialogflow/cx/docs/reference/language) for a list of the currently supported language codes. Note that queries in the same session do not necessarily need to specify the same language."
        },
        "audio": {
          "$ref": "GoogleCloudDialogflowCxV3AudioInput",
          "description": "The natural language speech audio to be processed."
        },
        "event": {
          "$ref": "GoogleCloudDialogflowCxV3EventInput",
          "description": "The event to be triggered."
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3TextInput",
          "description": "The natural language text to be processed."
        },
        "intent": {
          "description": "The intent to be triggered.",
          "$ref": "GoogleCloudDialogflowCxV3IntentInput"
        }
      },
      "id": "GoogleCloudDialogflowCxV3QueryInput",
      "description": "Represents the query input. It can contain one of: 1. A conversational query in the form of text. 2. An intent query that specifies which intent to trigger. 3. Natural language speech audio to be processed. 4. An event to be triggered. "
    },
    "GoogleCloudDialogflowCxV3beta1IntentInput": {
      "description": "Represents the intent to trigger programmatically rather than as a result of natural language processing.",
      "id": "GoogleCloudDialogflowCxV3beta1IntentInput",
      "type": "object",
      "properties": {
        "intent": {
          "description": "Required. The unique identifier of the intent. Format: `projects//locations//agents//intents/`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput": {
      "id": "GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput",
      "properties": {
        "enableSentimentAnalysis": {
          "type": "boolean",
          "description": "Whether sentiment analysis is enabled."
        },
        "input": {
          "$ref": "GoogleCloudDialogflowCxV3beta1QueryInput",
          "description": "Supports text input, event input, dtmf input in the test case."
        },
        "isWebhookEnabled": {
          "description": "If webhooks should be allowed to trigger in response to the user utterance. Often if parameters are injected, webhooks should not be enabled.",
          "type": "boolean"
        },
        "injectedParameters": {
          "description": "Parameters that need to be injected into the conversation during intent detection.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "type": "object",
      "description": "The input from the human user."
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSuggestions": {
      "properties": {
        "suggestions": {
          "description": "Required. The list of suggested replies.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSuggestion"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSuggestions",
      "type": "object",
      "description": "The collection of suggestions."
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess": {
      "description": "Indicates that the conversation succeeded, i.e., the bot handled the issue that the customer talked to it about. Dialogflow only uses this to determine which conversations should be counted as successful and doesn't process the metadata in this message in any way. Note that Dialogflow also considers conversations that get to the conversation end page as successful even if they don't return ConversationSuccess. You may set this, for example: * In the entry_fulfillment of a Page if entering the page indicates that the conversation succeeded. * In a webhook response when you determine that you handled the customer issue.",
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess",
      "properties": {
        "metadata": {
          "description": "Custom metadata. Dialogflow doesn't impose any structure on this.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudDialogflowCxV3CreateVersionOperationMetadata": {
      "type": "object",
      "description": "Metadata associated with the long running operation for Versions.CreateVersion.",
      "id": "GoogleCloudDialogflowCxV3CreateVersionOperationMetadata",
      "properties": {
        "version": {
          "type": "string",
          "description": "Name of the created version. Format: `projects//locations//agents//flows//versions/`."
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ImportDocumentsResponse": {
      "properties": {
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Includes details about skipped documents or any other warnings."
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ImportDocumentsResponse",
      "description": "Response message for Documents.ImportDocuments."
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigContextFilterSettings": {
      "type": "object",
      "properties": {
        "dropVirtualAgentMessages": {
          "type": "boolean",
          "description": "If set to true, all messages from virtual agent are dropped."
        },
        "dropIvrMessages": {
          "description": "If set to true, all messages from ivr stage are dropped.",
          "type": "boolean"
        },
        "dropHandoffMessages": {
          "description": "If set to true, the last message from virtual agent (hand off message) and the message before it (trigger message of hand off) are dropped.",
          "type": "boolean"
        }
      },
      "description": "Settings that determine how to filter recent conversation context when generating suggestions.",
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigContextFilterSettings"
    },
    "GoogleCloudDialogflowV3alpha1ImportDocumentsResponse": {
      "id": "GoogleCloudDialogflowV3alpha1ImportDocumentsResponse",
      "description": "Response message for Documents.ImportDocuments.",
      "type": "object",
      "properties": {
        "warnings": {
          "description": "Includes details about skipped documents or any other warnings.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2BatchUpdateEntityTypesResponse": {
      "id": "GoogleCloudDialogflowV2BatchUpdateEntityTypesResponse",
      "description": "The response message for EntityTypes.BatchUpdateEntityTypes.",
      "properties": {
        "entityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityType"
          },
          "description": "The collection of updated or created entity types."
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ConversationTurnUserInput": {
      "id": "GoogleCloudDialogflowCxV3ConversationTurnUserInput",
      "description": "The input from the human user.",
      "properties": {
        "isWebhookEnabled": {
          "type": "boolean",
          "description": "If webhooks should be allowed to trigger in response to the user utterance. Often if parameters are injected, webhooks should not be enabled."
        },
        "input": {
          "$ref": "GoogleCloudDialogflowCxV3QueryInput",
          "description": "Supports text input, event input, dtmf input in the test case."
        },
        "enableSentimentAnalysis": {
          "description": "Whether sentiment analysis is enabled.",
          "type": "boolean"
        },
        "injectedParameters": {
          "description": "Parameters that need to be injected into the conversation during intent detection.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV3alpha1CreateDocumentOperationMetadata": {
      "properties": {
        "genericMetadata": {
          "description": "The generic information of the operation.",
          "$ref": "GoogleCloudDialogflowV3alpha1GenericKnowledgeOperationMetadata"
        }
      },
      "id": "GoogleCloudDialogflowV3alpha1CreateDocumentOperationMetadata",
      "type": "object",
      "description": "Metadata for CreateDocument operation."
    },
    "GoogleCloudDialogflowCxV3beta1ImportFlowResponse": {
      "properties": {
        "flow": {
          "description": "The unique identifier of the new flow. Format: `projects//locations//agents//flows/`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ImportFlowResponse",
      "type": "object",
      "description": "The response message for Flows.ImportFlow."
    },
    "GoogleCloudDialogflowV2EventInput": {
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "Required. The language of this query. See [Language Support](https://cloud.google.com/dialogflow/docs/reference/language) for a list of the currently supported language codes. Note that queries in the same session do not necessarily need to specify the same language."
        },
        "name": {
          "description": "Required. The unique identifier of the event.",
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The collection of parameters associated with the event. Depending on your protocol or client library language, this is a map, associative array, symbol table, dictionary, or JSON object composed of a collection of (MapKey, MapValue) pairs: - MapKey type: string - MapKey value: parameter name - MapValue type: - If parameter's entity type is a composite entity: map - Else: depending on parameter value type, could be one of string, number, boolean, null, list or map - MapValue value: - If parameter's entity type is a composite entity: map from composite entity property names to property values - Else: parameter value",
          "type": "object"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2EventInput",
      "description": "Events allow for matching intents by event name instead of the natural language input. For instance, input `` can trigger a personalized welcome response. The parameter `name` may be used by the agent in the response: `\"Hello #welcome_event.name! What can I do for you today?\"`."
    },
    "GoogleRpcStatus": {
      "type": "object",
      "id": "GoogleRpcStatus",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow": {
      "description": "Row of TableCard.",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow",
      "type": "object",
      "properties": {
        "dividerAfter": {
          "description": "Optional. Whether to add a visual divider after this row.",
          "type": "boolean"
        },
        "cells": {
          "description": "Optional. List of cells that make up this row.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCardCell"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3PageInfoFormInfo": {
      "properties": {
        "parameterInfo": {
          "description": "Optional for both WebhookRequest and WebhookResponse. The parameters contained in the form. Note that the webhook cannot add or remove any form parameter.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Represents form information.",
      "id": "GoogleCloudDialogflowCxV3PageInfoFormInfo"
    },
    "GoogleCloudDialogflowV2beta1WebhookResponse": {
      "id": "GoogleCloudDialogflowV2beta1WebhookResponse",
      "description": "The response message for a webhook call. This response is validated by the Dialogflow server. If validation fails, an error will be returned in the QueryResult.diagnostic_info field. Setting JSON fields to an empty value with the wrong type is a common error. To avoid this error: - Use `\"\"` for empty strings - Use `{}` or `null` for empty objects - Use `[]` or `null` for empty arrays For more information, see the [Protocol Buffers Language Guide](https://developers.google.com/protocol-buffers/docs/proto3#json).",
      "properties": {
        "source": {
          "type": "string",
          "description": "Optional. A custom field used to identify the webhook source. Arbitrary strings are supported. When provided, Dialogflow uses this field to populate QueryResult.webhook_source sent to the integration or API caller."
        },
        "payload": {
          "description": "Optional. This field can be used to pass custom data from your webhook to the integration or API caller. Arbitrary JSON objects are supported. When provided, Dialogflow uses this field to populate QueryResult.webhook_payload sent to the integration or API caller. This field is also used by the [Google Assistant integration](https://cloud.google.com/dialogflow/docs/integrations/aog) for rich response messages. See the format definition at [Google Assistant Dialogflow webhook format](https://developers.google.com/assistant/actions/build/json/dialogflow-webhook-json)",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "followupEventInput": {
          "$ref": "GoogleCloudDialogflowV2beta1EventInput",
          "description": "Optional. Invokes the supplied events. When this field is set, Dialogflow ignores the `fulfillment_text`, `fulfillment_messages`, and `payload` fields."
        },
        "endInteraction": {
          "description": "Optional. Indicates that this intent ends an interaction. Some integrations (e.g., Actions on Google or Dialogflow phone gateway) use this information to close interaction with an end user. Default is false.",
          "type": "boolean"
        },
        "outputContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          },
          "description": "Optional. The collection of output contexts that will overwrite currently active contexts for the session and reset their lifespans. When provided, Dialogflow uses this field to populate QueryResult.output_contexts sent to the integration or API caller.",
          "type": "array"
        },
        "liveAgentHandoff": {
          "description": "Indicates that a live agent should be brought in to handle the interaction with the user. In most cases, when you set this flag to true, you would also want to set end_interaction to true as well. Default is false.",
          "type": "boolean"
        },
        "fulfillmentMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          },
          "description": "Optional. The rich response messages intended for the end-user. When provided, Dialogflow uses this field to populate QueryResult.fulfillment_messages sent to the integration or API caller."
        },
        "fulfillmentText": {
          "description": "Optional. The text response message intended for the end-user. It is recommended to use `fulfillment_messages.text.text[0]` instead. When provided, Dialogflow uses this field to populate QueryResult.fulfillment_text sent to the integration or API caller.",
          "type": "string"
        },
        "sessionEntityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
          },
          "description": "Optional. Additional session entity types to replace or extend developer entity types with. The entity synonyms apply to all languages and persist for the session. Setting this data from a webhook overwrites the session entity types that have been set using `detectIntent`, `streamingDetectIntent` or SessionEntityType management methods."
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExportFlowResponse": {
      "id": "GoogleCloudDialogflowCxV3ExportFlowResponse",
      "description": "The response message for Flows.ExportFlow.",
      "properties": {
        "flowContent": {
          "description": "Uncompressed raw byte content for flow.",
          "type": "string",
          "format": "byte"
        },
        "flowUri": {
          "type": "string",
          "description": "The URI to a file containing the exported flow. This field is populated only if `flow_uri` is specified in ExportFlowRequest."
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentTrainingPhrasePart": {
      "description": "Represents a part of a training phrase.",
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentTrainingPhrasePart",
      "properties": {
        "userDefined": {
          "description": "Optional. Indicates whether the text was manually annotated. This field is set to true when the Dialogflow Console is used to manually annotate the part. When creating an annotated part with the API, you must set this to true.",
          "type": "boolean"
        },
        "entityType": {
          "description": "Optional. The entity type name prefixed with `@`. This field is required for annotated parts of the training phrase.",
          "type": "string"
        },
        "text": {
          "description": "Required. The text for this part.",
          "type": "string"
        },
        "alias": {
          "type": "string",
          "description": "Optional. The parameter name for the value extracted from the annotated part of the example. This field is required for annotated parts of the training phrase."
        }
      }
    },
    "GoogleCloudDialogflowV2BatchUpdateEntityTypesRequest": {
      "properties": {
        "entityTypeBatchInline": {
          "description": "The collection of entity types to update or create.",
          "$ref": "GoogleCloudDialogflowV2EntityTypeBatch"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Optional. The mask to control which fields get updated."
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. The language used to access language-specific data. If not specified, the agent's default language is used. For more information, see [Multilingual intent and entity data](https://cloud.google.com/dialogflow/docs/agents-multilingual#intent-entity)."
        },
        "entityTypeBatchUri": {
          "description": "The URI to a Google Cloud Storage file containing entity types to update or create. The file format can either be a serialized proto (of EntityBatch type) or a JSON object. Note: The URI must start with \"gs://\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2BatchUpdateEntityTypesRequest",
      "description": "The request message for EntityTypes.BatchUpdateEntityTypes."
    },
    "GoogleCloudDialogflowV2IntentMessageTableCardRow": {
      "properties": {
        "dividerAfter": {
          "type": "boolean",
          "description": "Optional. Whether to add a visual divider after this row."
        },
        "cells": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageTableCardCell"
          },
          "type": "array",
          "description": "Optional. List of cells that make up this row."
        }
      },
      "description": "Row of TableCard.",
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageTableCardRow"
    },
    "GoogleCloudDialogflowCxV3beta1TestConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1TestConfig",
      "properties": {
        "trackingParameters": {
          "description": "Session parameters to be compared when calculating differences.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "flow": {
          "type": "string",
          "description": "Flow name. If not set, default start flow is assumed. Format: `projects//locations//agents//flows/`."
        }
      },
      "description": "Represents configurations for a test case.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart": {
      "id": "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart",
      "type": "object",
      "description": "Represents a part of a training phrase.",
      "properties": {
        "alias": {
          "type": "string",
          "description": "Optional. The parameter name for the value extracted from the annotated part of the example. This field is required for annotated parts of the training phrase."
        },
        "userDefined": {
          "type": "boolean",
          "description": "Optional. Indicates whether the text was manually annotated. This field is set to true when the Dialogflow Console is used to manually annotate the part. When creating an annotated part with the API, you must set this to true."
        },
        "entityType": {
          "description": "Optional. The entity type name prefixed with `@`. This field is required for annotated parts of the training phrase.",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "Required. The text for this part."
        }
      }
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCases": {
      "properties": {
        "cases": {
          "description": "A list of cascading if-else conditions.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase"
          }
        }
      },
      "type": "object",
      "description": "A list of cascading if-else conditions. Cases are mutually exclusive. The first one with a matching condition is selected, all the rest ignored.",
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases"
    },
    "GoogleCloudDialogflowV2IntentMessageMediaContent": {
      "properties": {
        "mediaObjects": {
          "description": "Required. List of media objects.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject"
          }
        },
        "mediaType": {
          "enumDescriptions": [
            "Unspecified.",
            "Response media type is audio."
          ],
          "type": "string",
          "enum": [
            "RESPONSE_MEDIA_TYPE_UNSPECIFIED",
            "AUDIO"
          ],
          "description": "Optional. What type of media is the content (ie \"audio\")."
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageMediaContent",
      "description": "The media content card for Actions on Google."
    },
    "GoogleCloudDialogflowCxV3beta1TransitionRoute": {
      "id": "GoogleCloudDialogflowCxV3beta1TransitionRoute",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique identifier of this transition route."
        },
        "targetPage": {
          "description": "The target page to transition to. Format: `projects//locations//agents//flows//pages/`.",
          "type": "string"
        },
        "condition": {
          "description": "The condition to evaluate against form parameters or session parameters. See the [conditions reference](https://cloud.google.com/dialogflow/cx/docs/reference/condition). At least one of `intent` or `condition` must be specified. When both `intent` and `condition` are specified, the transition can only happen when both are fulfilled.",
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment",
          "description": "The fulfillment to call when the condition is satisfied. At least one of `trigger_fulfillment` and `target` must be specified. When both are defined, `trigger_fulfillment` is executed first."
        },
        "intent": {
          "description": "The unique identifier of an Intent. Format: `projects//locations//agents//intents/`. Indicates that the transition can only happen when the given intent is matched. At least one of `intent` or `condition` must be specified. When both `intent` and `condition` are specified, the transition can only happen when both are fulfilled.",
          "type": "string"
        },
        "targetFlow": {
          "type": "string",
          "description": "The target flow to transition to. Format: `projects//locations//agents//flows/`."
        }
      },
      "type": "object",
      "description": "A transition route specifies a intent that can be matched and/or a data condition that can be evaluated during a session. When a specified transition is matched, the following actions are taken in order: * If there is a `trigger_fulfillment` associated with the transition, it will be called. * If there is a `target_page` associated with the transition, the session will transition into the specified page. * If there is a `target_flow` associated with the transition, the session will transition into the specified flow."
    },
    "GoogleCloudDialogflowV2DetectIntentResponse": {
      "description": "The message returned from the DetectIntent method.",
      "id": "GoogleCloudDialogflowV2DetectIntentResponse",
      "type": "object",
      "properties": {
        "webhookStatus": {
          "description": "Specifies the status of the webhook request.",
          "$ref": "GoogleRpcStatus"
        },
        "outputAudioConfig": {
          "$ref": "GoogleCloudDialogflowV2OutputAudioConfig",
          "description": "The config used by the speech synthesizer to generate the output audio."
        },
        "responseId": {
          "description": "The unique identifier of the response. It can be used to locate a response in the training example set or for reporting issues.",
          "type": "string"
        },
        "outputAudio": {
          "type": "string",
          "description": "The audio data bytes encoded as specified in the request. Note: The output audio is generated based on the values of default platform text responses found in the `query_result.fulfillment_messages` field. If multiple default text responses exist, they will be concatenated when generating audio. If no default platform text responses exist, the generated audio content will be empty. In some scenarios, multiple output audio fields may be present in the response structure. In these cases, only the top-most-level audio output has content.",
          "format": "byte"
        },
        "queryResult": {
          "description": "The selected results of the conversational query or event processing. See `alternative_query_results` for additional potential results.",
          "$ref": "GoogleCloudDialogflowV2QueryResult"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ImportDocumentsOperationMetadata": {
      "id": "GoogleCloudDialogflowCxV3ImportDocumentsOperationMetadata",
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudDialogflowCxV3GenericKnowledgeOperationMetadata",
          "description": "The generic information of the operation."
        }
      },
      "description": "Metadata for ImportDocuments operation.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion": {
      "properties": {
        "destinationName": {
          "description": "Required. The name of the app or site this chip is linking to.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "Required. The URI of the app or site to open when the user taps the suggestion chip."
        }
      },
      "description": "The suggestion chip message that allows the user to jump out to the app or website associated with this agent.",
      "id": "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion",
      "type": "object"
    },
    "GoogleCloudDialogflowV2Participant": {
      "description": "Represents a conversation participant (human agent, virtual agent, end-user).",
      "properties": {
        "name": {
          "description": "Optional. The unique identifier of this participant. Format: `projects//locations//conversations//participants/`.",
          "type": "string"
        },
        "sipRecordingMediaLabel": {
          "description": "Optional. Label applied to streams representing this participant in SIPREC XML metadata and SDP. This is used to assign transcriptions from that media stream to this participant. This field can be updated.",
          "type": "string"
        },
        "role": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Participant role not set.",
            "Participant is a human agent.",
            "Participant is an automated agent, such as a Dialogflow agent.",
            "Participant is an end user that has called or chatted with Dialogflow services."
          ],
          "description": "Immutable. The role this participant plays in the conversation. This field must be set during participant creation and is then immutable."
        }
      },
      "id": "GoogleCloudDialogflowV2Participant",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SuggestArticlesRequest": {
      "id": "GoogleCloudDialogflowV2SuggestArticlesRequest",
      "properties": {
        "latestMessage": {
          "type": "string",
          "description": "The name of the latest conversation message to compile suggestion for. If empty, it will be the latest message of the conversation. Format: `projects//locations//conversations//messages/`."
        },
        "contextSize": {
          "format": "int32",
          "description": "Max number of messages prior to and including latest_message to use as context when compiling the suggestion. By default 20 and at most 50.",
          "type": "integer"
        }
      },
      "description": "The request message for Participants.SuggestArticles.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2OutputAudioConfig": {
      "type": "object",
      "properties": {
        "audioEncoding": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Uncompressed 16-bit signed little-endian samples (Linear PCM). Audio content returned as LINEAR16 also contains a WAV header.",
            "MP3 audio at 32kbps.",
            "MP3 audio at 64kbps.",
            "Opus encoded audio wrapped in an ogg container. The result will be a file which can be played natively on Android, and in browsers (at least Chrome and Firefox). The quality of the encoding is considerably higher than MP3 while using approximately the same bitrate.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law."
          ],
          "description": "Required. Audio encoding of the synthesized audio content.",
          "enum": [
            "OUTPUT_AUDIO_ENCODING_UNSPECIFIED",
            "OUTPUT_AUDIO_ENCODING_LINEAR_16",
            "OUTPUT_AUDIO_ENCODING_MP3",
            "OUTPUT_AUDIO_ENCODING_MP3_64_KBPS",
            "OUTPUT_AUDIO_ENCODING_OGG_OPUS",
            "OUTPUT_AUDIO_ENCODING_MULAW"
          ]
        },
        "sampleRateHertz": {
          "description": "The synthesis sample rate (in hertz) for this audio. If not provided, then the synthesizer will use the default sample rate based on the audio encoding. If this is different from the voice's natural sample rate, then the synthesizer will honor this request by converting to the desired sample rate (which might result in worse audio quality).",
          "type": "integer",
          "format": "int32"
        },
        "synthesizeSpeechConfig": {
          "$ref": "GoogleCloudDialogflowV2SynthesizeSpeechConfig",
          "description": "Configuration of how speech should be synthesized."
        }
      },
      "id": "GoogleCloudDialogflowV2OutputAudioConfig",
      "description": "Instructs the speech synthesizer on how to generate the output audio content. If this audio config is supplied in a request, it overrides all existing text-to-speech settings applied to the agent."
    },
    "GoogleCloudDialogflowV2beta1IntentMessageMediaContent": {
      "type": "object",
      "description": "The media content card for Actions on Google.",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageMediaContent",
      "properties": {
        "mediaObjects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject"
          },
          "description": "Required. List of media objects."
        },
        "mediaType": {
          "enumDescriptions": [
            "Unspecified.",
            "Response media type is audio."
          ],
          "enum": [
            "RESPONSE_MEDIA_TYPE_UNSPECIFIED",
            "AUDIO"
          ],
          "description": "Optional. What type of media is the content (ie \"audio\").",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ImportTestCasesMetadata": {
      "id": "GoogleCloudDialogflowCxV3ImportTestCasesMetadata",
      "description": "Metadata returned for the TestCases.ImportTestCases long running operation.",
      "properties": {
        "errors": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestCaseError"
          },
          "type": "array",
          "description": "Errors for failed test cases."
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. The uri to open on the user device"
        }
      },
      "description": "Opens the user's default web browser app to the specified uri If the user has an app installed that is registered as the default handler for the URL, then this app will be opened instead, and its icon will be used in the suggested action UI.",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "description": "Browsing carousel tile",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem",
      "type": "object",
      "properties": {
        "image": {
          "description": "Optional. Hero image for the carousel item.",
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "footer": {
          "description": "Optional. Text that appears at the bottom of the Browse Carousel Card. Maximum of one line of text.",
          "type": "string"
        },
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction",
          "description": "Required. Action to present to the user."
        },
        "title": {
          "description": "Required. Title of the carousel item. Maximum of two lines of text.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the carousel item. Maximum of four lines of text.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ReloadDocumentOperationMetadata": {
      "description": "Metadata for ReloadDocument operation.",
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ReloadDocumentOperationMetadata",
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudDialogflowCxV3GenericKnowledgeOperationMetadata",
          "description": "The generic information of the operation."
        }
      }
    },
    "GoogleCloudDialogflowCxV3IntentTrainingPhrase": {
      "properties": {
        "repeatCount": {
          "type": "integer",
          "format": "int32",
          "description": "Indicates how many times this example was added to the intent."
        },
        "parts": {
          "description": "Required. The ordered list of training phrase parts. The parts are concatenated in order to form the training phrase. Note: The API does not automatically annotate training phrases like the Dialogflow Console does. Note: Do not forget to include whitespace at part boundaries, so the training phrase is well formatted when the parts are concatenated. If the training phrase does not need to be annotated with parameters, you just need a single part with only the Part.text field set. If you want to annotate the training phrase, you must create multiple parts, where the fields of each part are populated in one of two ways: - `Part.text` is set to a part of the phrase that has no parameters. - `Part.text` is set to a part of the phrase that you want to annotate, and the `parameter_id` field is set.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3IntentTrainingPhrasePart"
          },
          "type": "array"
        },
        "id": {
          "description": "Output only. The unique identifier of the training phrase.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3IntentTrainingPhrase",
      "type": "object",
      "description": "Represents an example that the agent is trained on to identify the intent."
    },
    "GoogleCloudDialogflowCxV3BatchRunTestCasesResponse": {
      "id": "GoogleCloudDialogflowCxV3BatchRunTestCasesResponse",
      "properties": {
        "results": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
          },
          "description": "The test case results. The detailed conversation turns are empty in this response.",
          "type": "array"
        }
      },
      "description": "The response message for TestCases.BatchRunTestCases.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2Intent": {
      "id": "GoogleCloudDialogflowV2Intent",
      "properties": {
        "defaultResponsePlatforms": {
          "items": {
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "FACEBOOK",
              "SLACK",
              "TELEGRAM",
              "KIK",
              "SKYPE",
              "LINE",
              "VIBER",
              "ACTIONS_ON_GOOGLE",
              "GOOGLE_HANGOUTS"
            ],
            "enumDescriptions": [
              "Default platform.",
              "Facebook.",
              "Slack.",
              "Telegram.",
              "Kik.",
              "Skype.",
              "Line.",
              "Viber.",
              "Google Assistant See [Dialogflow webhook format](https://developers.google.com/assistant/actions/build/json/dialogflow-webhook-json)",
              "Google Hangouts."
            ],
            "type": "string"
          },
          "description": "Optional. The list of platforms for which the first responses will be copied from the messages in PLATFORM_UNSPECIFIED (i.e. default platform).",
          "type": "array"
        },
        "followupIntentInfo": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentFollowupIntentInfo"
          },
          "type": "array",
          "description": "Output only. Read-only. Information about all followup intents that have this intent as a direct or indirect parent. We populate this field only in the output."
        },
        "outputContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          },
          "type": "array",
          "description": "Optional. The collection of contexts that are activated when the intent is matched. Context messages in this collection should not set the parameters field. Setting the `lifespan_count` to 0 will reset the context when the intent is matched. Format: `projects//agent/sessions/-/contexts/`."
        },
        "events": {
          "description": "Optional. The collection of event names that trigger the intent. If the collection of input contexts is not empty, all of the contexts must be present in the active user session for an event to trigger this intent. Event names are limited to 150 characters.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "messages": {
          "type": "array",
          "description": "Optional. The collection of rich messages corresponding to the `Response` field in the Dialogflow console.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          }
        },
        "rootFollowupIntentName": {
          "readOnly": true,
          "description": "Output only. Read-only. The unique identifier of the root intent in the chain of followup intents. It identifies the correct followup intents chain for this intent. We populate this field only in the output. Format: `projects//agent/intents/`.",
          "type": "string"
        },
        "isFallback": {
          "type": "boolean",
          "description": "Optional. Indicates whether this is a fallback intent."
        },
        "liveAgentHandoff": {
          "type": "boolean",
          "description": "Optional. Indicates that a live agent should be brought in to handle the interaction with the user. In most cases, when you set this flag to true, you would also want to set end_interaction to true as well. Default is false."
        },
        "name": {
          "type": "string",
          "description": "Optional. The unique identifier of this intent. Required for Intents.UpdateIntent and Intents.BatchUpdateIntents methods. Format: `projects//agent/intents/`."
        },
        "parentFollowupIntentName": {
          "description": "Read-only after creation. The unique identifier of the parent intent in the chain of followup intents. You can set this field when creating an intent, for example with CreateIntent or BatchUpdateIntents, in order to make this intent a followup intent. It identifies the parent followup intent. Format: `projects//agent/intents/`.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The name of this intent.",
          "type": "string"
        },
        "webhookState": {
          "type": "string",
          "description": "Optional. Indicates whether webhooks are enabled for the intent.",
          "enum": [
            "WEBHOOK_STATE_UNSPECIFIED",
            "WEBHOOK_STATE_ENABLED",
            "WEBHOOK_STATE_ENABLED_FOR_SLOT_FILLING"
          ],
          "enumDescriptions": [
            "Webhook is disabled in the agent and in the intent.",
            "Webhook is enabled in the agent and in the intent.",
            "Webhook is enabled in the agent and in the intent. Also, each slot filling prompt is forwarded to the webhook."
          ]
        },
        "action": {
          "type": "string",
          "description": "Optional. The name of the action associated with the intent. Note: The action name must not contain whitespaces."
        },
        "priority": {
          "description": "Optional. The priority of this intent. Higher numbers represent higher priorities. - If the supplied value is unspecified or 0, the service translates the value to 500,000, which corresponds to the `Normal` priority in the console. - If the supplied value is negative, the intent is ignored in runtime detect intent requests.",
          "type": "integer",
          "format": "int32"
        },
        "inputContextNames": {
          "description": "Optional. The list of context names required for this intent to be triggered. Format: `projects//agent/sessions/-/contexts/`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "mlDisabled": {
          "description": "Optional. Indicates whether Machine Learning is disabled for the intent. Note: If `ml_disabled` setting is set to true, then this intent is not taken into account during inference in `ML ONLY` match mode. Also, auto-markup in the UI is turned off.",
          "type": "boolean"
        },
        "resetContexts": {
          "type": "boolean",
          "description": "Optional. Indicates whether to delete all contexts in the current session when this intent is matched."
        },
        "trainingPhrases": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentTrainingPhrase"
          },
          "description": "Optional. The collection of examples that the agent is trained on.",
          "type": "array"
        },
        "parameters": {
          "description": "Optional. The collection of parameters associated with the intent.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentParameter"
          }
        },
        "endInteraction": {
          "type": "boolean",
          "description": "Optional. Indicates that this intent ends an interaction. Some integrations (e.g., Actions on Google or Dialogflow phone gateway) use this information to close interaction with an end user. Default is false."
        }
      },
      "description": "An intent categorizes an end-user's intention for one conversation turn. For each agent, you define many intents, where your combined intents can handle a complete conversation. When an end-user writes or says something, referred to as an end-user expression or end-user input, Dialogflow matches the end-user input to the best intent in your agent. Matching an intent is also known as intent classification. For more information, see the [intent guide](https://cloud.google.com/dialogflow/docs/intents-overview).",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial": {
      "description": "Opens the user's default dialer app with the specified phone number but does not dial automatically.",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial",
      "type": "object",
      "properties": {
        "phoneNumber": {
          "description": "Required. The phone number to fill in the default dialer app. This field should be in [E.164](https://en.wikipedia.org/wiki/E.164) format. An example of a correctly formatted phone number: +15556767888.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelect": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelect",
      "description": "The card for presenting a carousel of options to select from.",
      "properties": {
        "items": {
          "description": "Required. Carousel items.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelectItem"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3WebhookRequest": {
      "id": "GoogleCloudDialogflowCxV3WebhookRequest",
      "type": "object",
      "properties": {
        "fulfillmentInfo": {
          "description": "Always present. Information about the fulfillment that triggered this webhook call.",
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo"
        },
        "transcript": {
          "type": "string",
          "description": "If natural language speech audio was provided as input, this field will contain the transcript for the audio."
        },
        "detectIntentResponseId": {
          "description": "Always present. The unique identifier of the DetectIntentResponse that will be returned to the API caller.",
          "type": "string"
        },
        "triggerIntent": {
          "description": "If an intent was provided as input, this field will contain a copy of the intent identifier. Format: `projects//locations//agents//intents/`.",
          "type": "string"
        },
        "sessionInfo": {
          "description": "Information about session status.",
          "$ref": "GoogleCloudDialogflowCxV3SessionInfo"
        },
        "intentInfo": {
          "description": "Information about the last matched intent.",
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfo"
        },
        "messages": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          },
          "type": "array",
          "description": "The list of rich message responses to present to the user. Webhook can choose to append or replace this list in WebhookResponse.fulfillment_response;"
        },
        "languageCode": {
          "type": "string",
          "description": "The language code specified in the original request."
        },
        "sentimentAnalysisResult": {
          "description": "The sentiment analysis result of the current user request. The field is filled when sentiment analysis is configured to be enabled for the request.",
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult"
        },
        "payload": {
          "description": "Custom data set in QueryParameters.payload.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "triggerEvent": {
          "type": "string",
          "description": "If an event was provided as input, this field will contain the name of the event."
        },
        "pageInfo": {
          "description": "Information about page status.",
          "$ref": "GoogleCloudDialogflowCxV3PageInfo"
        },
        "text": {
          "type": "string",
          "description": "If natural language text was provided as input, this field will contain a copy of the text."
        }
      },
      "description": "The request message for a webhook call. The request is sent as a JSON object and the field names will be presented in camel cases."
    },
    "GoogleCloudDialogflowV2beta1MessageAnnotation": {
      "type": "object",
      "description": "Represents the result of annotation for the message.",
      "properties": {
        "containEntities": {
          "type": "boolean",
          "description": "Required. Indicates whether the text message contains entities."
        },
        "parts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AnnotatedMessagePart"
          },
          "type": "array",
          "description": "Optional. The collection of annotated message parts ordered by their position in the message. You can recover the annotated message by concatenating [AnnotatedMessagePart.text]."
        }
      },
      "id": "GoogleCloudDialogflowV2beta1MessageAnnotation"
    },
    "GoogleCloudLocationLocation": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudLocationLocation",
      "description": "A resource that represents Google Cloud Platform location."
    },
    "GoogleCloudDialogflowV2EntityTypeBatch": {
      "id": "GoogleCloudDialogflowV2EntityTypeBatch",
      "description": "This message is a wrapper around a collection of entity types.",
      "type": "object",
      "properties": {
        "entityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityType"
          },
          "description": "A collection of entity types.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2ListKnowledgeBasesResponse": {
      "id": "GoogleCloudDialogflowV2ListKnowledgeBasesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "knowledgeBases": {
          "type": "array",
          "description": "The list of knowledge bases.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
          }
        }
      },
      "description": "Response message for KnowledgeBases.ListKnowledgeBases."
    },
    "GoogleCloudDialogflowCxV3beta1TextInput": {
      "properties": {
        "text": {
          "type": "string",
          "description": "Required. The UTF-8 encoded natural language text to be processed. Text length must not exceed 256 characters."
        }
      },
      "description": "Represents the natural language text to be processed.",
      "id": "GoogleCloudDialogflowCxV3beta1TextInput",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Environment": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1Environment",
      "description": "Represents an environment for an agent. You can create multiple versions of your agent and publish them to separate environments. When you edit an agent, you are editing the draft agent. At any point, you can save the draft agent as an agent version, which is an immutable snapshot of your agent. When you save the draft agent, it is published to the default environment. When you create agent versions, you can publish them to custom environments. You can create a variety of custom environments for testing, development, production, etc.",
      "properties": {
        "description": {
          "type": "string",
          "description": "The human-readable description of the environment. The maximum length is 500 characters. If exceeded, the request is rejected."
        },
        "testCasesConfig": {
          "description": "The test cases config for continuous tests of this environment.",
          "$ref": "GoogleCloudDialogflowCxV3beta1EnvironmentTestCasesConfig"
        },
        "versionConfigs": {
          "description": "Required. A list of configurations for flow versions. You should include version configs for all flows that are reachable from `Start Flow` in the agent. Otherwise, an error will be returned.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EnvironmentVersionConfig"
          },
          "type": "array"
        },
        "displayName": {
          "description": "Required. The human-readable name of the environment (unique in an agent). Limit of 64 characters.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Update time of this environment.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "The name of the environment. Format: `projects//locations//agents//environments/`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment",
      "properties": {
        "allowPlaybackInterruption": {
          "description": "Output only. Whether the playback of this segment can be interrupted by the end user's speech and the client should then start the next Dialogflow request.",
          "readOnly": true,
          "type": "boolean"
        },
        "audio": {
          "type": "string",
          "description": "Raw audio synthesized from the Dialogflow agent's response using the output config specified in the request.",
          "format": "byte"
        },
        "uri": {
          "type": "string",
          "description": "Client-specific URI that points to an audio clip accessible to the client. Dialogflow does not impose any validation on it."
        }
      },
      "description": "Represents one segment of audio."
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase": {
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase",
      "type": "object",
      "properties": {
        "caseContent": {
          "type": "array",
          "description": "A list of case content.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent"
          }
        },
        "condition": {
          "description": "The condition to activate and select this case. Empty means the condition is always true. The condition is evaluated against form parameters or session parameters. See the [conditions reference](https://cloud.google.com/dialogflow/cx/docs/reference/condition).",
          "type": "string"
        }
      },
      "description": "Each case has a Boolean condition. When it is evaluated to be True, the corresponding messages will be selected and evaluated recursively."
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction": {
      "type": "object",
      "properties": {
        "urlTypeHint": {
          "enum": [
            "URL_TYPE_HINT_UNSPECIFIED",
            "AMP_ACTION",
            "AMP_CONTENT"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Url would be an amp action",
            "URL that points directly to AMP content, or to a canonical URL which refers to AMP content via ."
          ],
          "type": "string",
          "description": "Optional. Specifies the type of viewer that is used when opening the URL. Defaults to opening via web browser."
        },
        "url": {
          "type": "string",
          "description": "Required. URL"
        }
      },
      "description": "Actions on Google action to open a given url.",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
    },
    "GoogleCloudDialogflowCxV3TransitionRoute": {
      "id": "GoogleCloudDialogflowCxV3TransitionRoute",
      "description": "A transition route specifies a intent that can be matched and/or a data condition that can be evaluated during a session. When a specified transition is matched, the following actions are taken in order: * If there is a `trigger_fulfillment` associated with the transition, it will be called. * If there is a `target_page` associated with the transition, the session will transition into the specified page. * If there is a `target_flow` associated with the transition, the session will transition into the specified flow.",
      "type": "object",
      "properties": {
        "condition": {
          "description": "The condition to evaluate against form parameters or session parameters. See the [conditions reference](https://cloud.google.com/dialogflow/cx/docs/reference/condition). At least one of `intent` or `condition` must be specified. When both `intent` and `condition` are specified, the transition can only happen when both are fulfilled.",
          "type": "string"
        },
        "targetPage": {
          "type": "string",
          "description": "The target page to transition to. Format: `projects//locations//agents//flows//pages/`."
        },
        "targetFlow": {
          "type": "string",
          "description": "The target flow to transition to. Format: `projects//locations//agents//flows/`."
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment",
          "description": "The fulfillment to call when the condition is satisfied. At least one of `trigger_fulfillment` and `target` must be specified. When both are defined, `trigger_fulfillment` is executed first."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique identifier of this transition route."
        },
        "intent": {
          "description": "The unique identifier of an Intent. Format: `projects//locations//agents//intents/`. Indicates that the transition can only happen when the given intent is matched. At least one of `intent` or `condition` must be specified. When both `intent` and `condition` are specified, the transition can only happen when both are fulfilled.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageMixedAudio": {
      "description": "Represents an audio message that is composed of both segments synthesized from the Dialogflow agent prompts and ones hosted externally at the specified URIs. The external URIs are specified via play_audio. This message is generated by Dialogflow only and not supposed to be defined by the user.",
      "properties": {
        "segments": {
          "type": "array",
          "description": "Segments this audio response is composed of.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudio"
    },
    "GoogleCloudDialogflowV2beta1SentimentAnalysisResult": {
      "id": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult",
      "type": "object",
      "description": "The result of sentiment analysis. Sentiment analysis inspects user input and identifies the prevailing subjective opinion, especially to determine a user's attitude as positive, negative, or neutral. For Participants.DetectIntent, it needs to be configured in DetectIntentRequest.query_params. For Participants.StreamingDetectIntent, it needs to be configured in StreamingDetectIntentRequest.query_params. And for Participants.AnalyzeContent and Participants.StreamingAnalyzeContent, it needs to be configured in ConversationProfile.human_agent_assistant_config",
      "properties": {
        "queryTextSentiment": {
          "description": "The sentiment analysis result for `query_text`.",
          "$ref": "GoogleCloudDialogflowV2beta1Sentiment"
        }
      }
    },
    "GoogleCloudDialogflowCxV3Environment": {
      "type": "object",
      "properties": {
        "versionConfigs": {
          "description": "Required. A list of configurations for flow versions. You should include version configs for all flows that are reachable from `Start Flow` in the agent. Otherwise, an error will be returned.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EnvironmentVersionConfig"
          },
          "type": "array"
        },
        "displayName": {
          "description": "Required. The human-readable name of the environment (unique in an agent). Limit of 64 characters.",
          "type": "string"
        },
        "testCasesConfig": {
          "$ref": "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig",
          "description": "The test cases config for continuous tests of this environment."
        },
        "description": {
          "description": "The human-readable description of the environment. The maximum length is 500 characters. If exceeded, the request is rejected.",
          "type": "string"
        },
        "name": {
          "description": "The name of the environment. Format: `projects//locations//agents//environments/`.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Update time of this environment.",
          "readOnly": true
        }
      },
      "description": "Represents an environment for an agent. You can create multiple versions of your agent and publish them to separate environments. When you edit an agent, you are editing the draft agent. At any point, you can save the draft agent as an agent version, which is an immutable snapshot of your agent. When you save the draft agent, it is published to the default environment. When you create agent versions, you can publish them to custom environments. You can create a variety of custom environments for testing, development, production, etc.",
      "id": "GoogleCloudDialogflowCxV3Environment"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio": {
      "description": "Specifies an audio clip to be played by the client as part of the response.",
      "type": "object",
      "properties": {
        "allowPlaybackInterruption": {
          "description": "Output only. Whether the playback of this message can be interrupted by the end user's speech and the client can then starts the next Dialogflow request.",
          "type": "boolean",
          "readOnly": true
        },
        "audioUri": {
          "type": "string",
          "description": "Required. URI of the audio clip. Dialogflow does not impose any validation on this value. It is specific to the client that reads it."
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio"
    },
    "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput": {
      "description": "The output from the virtual agent.",
      "id": "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput",
      "type": "object",
      "properties": {
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "Response error from the agent in the test result. If set, other output is empty."
        },
        "diagnosticInfo": {
          "description": "Required. Input only. The diagnostic info output for the turn. Required to calculate the testing coverage.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "differences": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. If this is part of a result conversation turn, the list of differences between the original run and the replay for this output, if any.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestRunDifference"
          }
        },
        "sessionParameters": {
          "type": "object",
          "description": "The session parameters available to the bot at this point.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "textResponses": {
          "description": "The text responses from the agent for the turn.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageText"
          }
        },
        "currentPage": {
          "description": "The Page on which the utterance was spoken. Only name and displayName will be set.",
          "$ref": "GoogleCloudDialogflowCxV3Page"
        },
        "triggeredIntent": {
          "description": "The Intent that triggered the response. Only name and displayName will be set.",
          "$ref": "GoogleCloudDialogflowCxV3Intent"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1QueryResult": {
      "id": "GoogleCloudDialogflowV2beta1QueryResult",
      "type": "object",
      "properties": {
        "intentDetectionConfidence": {
          "description": "The intent detection confidence. Values range from 0.0 (completely uncertain) to 1.0 (completely certain). This value is for informational purpose only and is only used to help match the best intent within the classification threshold. This value may change for the same end-user expression at any time due to a model retraining or change in implementation. If there are `multiple knowledge_answers` messages, this value is set to the greatest `knowledgeAnswers.match_confidence` value in the list.",
          "type": "number",
          "format": "float"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult",
          "description": "The sentiment analysis result, which depends on the `sentiment_analysis_request_config` specified in the request."
        },
        "speechRecognitionConfidence": {
          "format": "float",
          "type": "number",
          "description": "The Speech recognition confidence between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. The default of 0.0 is a sentinel value indicating that confidence was not set. This field is not guaranteed to be accurate or set. In particular this field isn't set for StreamingDetectIntent since the streaming endpoint has separate confidence estimates per portion of the audio in StreamingRecognitionResult."
        },
        "cancelsSlotFilling": {
          "type": "boolean",
          "description": "Indicates whether the conversational query triggers a cancellation for slot filling."
        },
        "webhookPayload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "If the query was fulfilled by a webhook call, this field is set to the value of the `payload` field returned in the webhook response.",
          "type": "object"
        },
        "diagnosticInfo": {
          "description": "Free-form diagnostic information for the associated detect intent request. The fields of this data can change without notice, so you should not write code that depends on its structure. The data may contain: - webhook call latency - webhook errors",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowV2beta1Intent",
          "description": "The intent that matched the conversational query. Some, not all fields are filled in this message, including but not limited to: `name`, `display_name`, `end_interaction` and `is_fallback`."
        },
        "allRequiredParamsPresent": {
          "type": "boolean",
          "description": "This field is set to: - `false` if the matched intent has required parameters and not all of the required parameter values have been collected. - `true` if all required parameter values have been collected, or if the matched intent doesn't contain any required parameters."
        },
        "action": {
          "type": "string",
          "description": "The action name from the matched intent."
        },
        "outputContexts": {
          "type": "array",
          "description": "The collection of output contexts. If applicable, `output_contexts.parameters` contains entries with name `.original` containing the original parameter values before the query.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          }
        },
        "queryText": {
          "type": "string",
          "description": "The original conversational query text: - If natural language text was provided as input, `query_text` contains a copy of the input. - If natural language speech audio was provided as input, `query_text` contains the speech recognition result. If speech recognizer produced multiple alternatives, a particular one is picked. - If automatic spell correction is enabled, `query_text` will contain the corrected user input."
        },
        "languageCode": {
          "type": "string",
          "description": "The language that was triggered during intent detection. See [Language Support](https://cloud.google.com/dialogflow/docs/reference/language) for a list of the currently supported language codes."
        },
        "fulfillmentMessages": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          },
          "description": "The collection of rich messages to present to the user.",
          "type": "array"
        },
        "webhookSource": {
          "type": "string",
          "description": "If the query was fulfilled by a webhook call, this field is set to the value of the `source` field returned in the webhook response."
        },
        "fulfillmentText": {
          "description": "The text to be pronounced to the user or shown on the screen. Note: This is a legacy field, `fulfillment_messages` should be preferred.",
          "type": "string"
        },
        "knowledgeAnswers": {
          "description": "The result from Knowledge Connector (if any), ordered by decreasing `KnowledgeAnswers.match_confidence`.",
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAnswers"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The collection of extracted parameters. Depending on your protocol or client library language, this is a map, associative array, symbol table, dictionary, or JSON object composed of a collection of (MapKey, MapValue) pairs: - MapKey type: string - MapKey value: parameter name - MapValue type: - If parameter's entity type is a composite entity: map - Else: depending on parameter value type, could be one of string, number, boolean, null, list or map - MapValue value: - If parameter's entity type is a composite entity: map from composite entity property names to property values - Else: parameter value"
        }
      },
      "description": "Represents the result of conversational query or event processing."
    },
    "GoogleCloudDialogflowV2IntentMessageImage": {
      "description": "The image response message.",
      "properties": {
        "imageUri": {
          "description": "Optional. The public URI to an image file.",
          "type": "string"
        },
        "accessibilityText": {
          "type": "string",
          "description": "Optional. A text description of the image to be used for accessibility, e.g., screen readers."
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageImage"
    },
    "GoogleCloudDialogflowV2HumanAgentHandoffConfigSalesforceLiveAgentConfig": {
      "type": "object",
      "properties": {
        "organizationId": {
          "description": "Required. The organization ID of the Salesforce account.",
          "type": "string"
        },
        "deploymentId": {
          "description": "Required. Live Agent deployment ID.",
          "type": "string"
        },
        "endpointDomain": {
          "type": "string",
          "description": "Required. Domain of the Live Agent endpoint for this agent. You can find the endpoint URL in the `Live Agent settings` page. For example if URL has the form https://d.la4-c2-phx.salesforceliveagent.com/..., you should fill in d.la4-c2-phx.salesforceliveagent.com."
        },
        "buttonId": {
          "type": "string",
          "description": "Required. Live Agent chat button ID."
        }
      },
      "description": "Configuration specific to Salesforce Live Agent.",
      "id": "GoogleCloudDialogflowV2HumanAgentHandoffConfigSalesforceLiveAgentConfig"
    },
    "GoogleCloudDialogflowCxV3FulfillmentSetParameterAction": {
      "id": "GoogleCloudDialogflowCxV3FulfillmentSetParameterAction",
      "type": "object",
      "description": "Setting a parameter value.",
      "properties": {
        "parameter": {
          "type": "string",
          "description": "Display name of the parameter."
        },
        "value": {
          "type": "any",
          "description": "The new value of the parameter. A null value clears the parameter."
        }
      }
    },
    "GoogleCloudDialogflowV2ArticleAnswer": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "The article URI."
        },
        "title": {
          "type": "string",
          "description": "The article title."
        },
        "confidence": {
          "description": "Article match confidence. The system's confidence score that this article is a good match for this conversation, as a value from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "type": "number",
          "format": "float"
        },
        "snippets": {
          "type": "array",
          "description": "Article snippets.",
          "items": {
            "type": "string"
          }
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map that contains metadata about the answer and the document from which it originates.",
          "type": "object"
        },
        "answerRecord": {
          "description": "The name of answer record, in the format of \"projects//locations//answerRecords/\"",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ArticleAnswer",
      "description": "Represents article answer."
    },
    "GoogleCloudDialogflowV2CompleteConversationRequest": {
      "properties": {},
      "type": "object",
      "description": "The request message for Conversations.CompleteConversation.",
      "id": "GoogleCloudDialogflowV2CompleteConversationRequest"
    },
    "GoogleCloudDialogflowCxV3BatchRunTestCasesMetadata": {
      "description": "Metadata returned for the TestCases.BatchRunTestCases long running operation.",
      "type": "object",
      "properties": {
        "errors": {
          "description": "The test errors.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestError"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3BatchRunTestCasesMetadata"
    },
    "GoogleCloudDialogflowV2NotificationConfig": {
      "id": "GoogleCloudDialogflowV2NotificationConfig",
      "description": "Defines notification behavior.",
      "properties": {
        "topic": {
          "type": "string",
          "description": "Name of the Pub/Sub topic to publish conversation events like CONVERSATION_STARTED as serialized ConversationEvent protos. Notification works for phone calls, if this topic either is in the same project as the conversation or you grant `service-@gcp-sa-dialogflow.iam.gserviceaccount.com` the `Dialogflow Service Agent` role in the topic project. Format: `projects//locations//topics/`."
        },
        "messageFormat": {
          "enumDescriptions": [
            "If it is unspeified, PROTO will be used.",
            "Pubsub message will be serialized proto.",
            "Pubsub message will be json."
          ],
          "description": "Format of message.",
          "type": "string",
          "enum": [
            "MESSAGE_FORMAT_UNSPECIFIED",
            "PROTO",
            "JSON"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ExportAgentResponse": {
      "type": "object",
      "description": "The response message for Agents.ExportAgent.",
      "id": "GoogleCloudDialogflowV2beta1ExportAgentResponse",
      "properties": {
        "agentContent": {
          "type": "string",
          "format": "byte",
          "description": "Zip compressed raw byte content for agent."
        },
        "agentUri": {
          "description": "The URI to a file containing the exported agent. This field is populated only if `agent_uri` is specified in `ExportAgentRequest`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2OutputAudio": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2OutputAudio",
      "properties": {
        "audio": {
          "format": "byte",
          "type": "string",
          "description": "The natural language speech audio."
        },
        "config": {
          "description": "Instructs the speech synthesizer how to generate the speech audio.",
          "$ref": "GoogleCloudDialogflowV2OutputAudioConfig"
        }
      },
      "description": "Represents the natural language speech audio to be played to the end user."
    },
    "GoogleCloudDialogflowV2SynthesizeSpeechConfig": {
      "description": "Configuration of how speech should be synthesized.",
      "type": "object",
      "properties": {
        "voice": {
          "description": "Optional. The desired voice of the synthesized audio.",
          "$ref": "GoogleCloudDialogflowV2VoiceSelectionParams"
        },
        "effectsProfileId": {
[...]
