{
  "baseUrl": "https://dialogflow.googleapis.com/",
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "ownerName": "Google",
  "protocol": "rest",
  "id": "dialogflow:v3",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "projects": {
      "resources": {
        "operations": {
          "methods": {
            "cancel": {
              "httpMethod": "POST",
              "path": "v3/{+name}:cancel",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be cancelled.",
                  "required": true,
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v3/projects/{projectsId}/operations/{operationsId}:cancel",
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "id": "dialogflow.projects.operations.cancel",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "list": {
              "id": "dialogflow.projects.operations.list",
              "parameters": {
                "pageToken": {
                  "description": "The standard list page token.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list filter."
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The standard list page size.",
                  "location": "query",
                  "type": "integer"
                },
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "The name of the operation's parent resource."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v3/{+name}/operations",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
              "flatPath": "v3/projects/{projectsId}/operations"
            },
            "get": {
              "flatPath": "v3/projects/{projectsId}/operations/{operationsId}",
              "id": "dialogflow.projects.operations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v3/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The name of the operation resource.",
                  "pattern": "^projects/[^/]+/operations/[^/]+$"
                }
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
            }
          }
        },
        "locations": {
          "resources": {
            "agents": {
              "resources": {
                "flows": {
                  "resources": {
                    "versions": {
                      "methods": {
                        "list": {
                          "path": "v3/{+parent}/versions",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3ListVersionsResponse"
                          },
                          "parameters": {
                            "parent": {
                              "description": "Required. The Flow to list all versions for. Format: `projects//locations//agents//flows/`.",
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$"
                            },
                            "pageSize": {
                              "type": "integer",
                              "description": "The maximum number of items to return in a single page. By default 20 and at most 100.",
                              "format": "int32",
                              "location": "query"
                            },
                            "pageToken": {
                              "description": "The next_page_token value returned from a previous list request.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "id": "dialogflow.projects.locations.agents.flows.versions.list",
                          "description": "Returns the list of all versions in the specified Flow.",
                          "httpMethod": "GET",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/versions"
                        },
                        "delete": {
                          "id": "dialogflow.projects.locations.agents.flows.versions.delete",
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Deletes the specified Version.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3/{+name}",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/versions/{versionsId}",
                          "parameters": {
                            "name": {
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/versions/[^/]+$",
                              "description": "Required. The name of the Version to delete. Format: `projects//locations//agents//flows//versions/`.",
                              "type": "string"
                            }
                          },
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "httpMethod": "DELETE"
                        },
                        "create": {
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Required. The Flow to create an Version for. Format: `projects//locations//agents//flows/`."
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3Version"
                          },
                          "path": "v3/{+parent}/versions",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/versions",
                          "id": "dialogflow.projects.locations.agents.flows.versions.create",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "description": "Creates a Version in the specified Flow."
                        },
                        "load": {
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/versions/{versionsId}:load",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Loads resources in the specified version to the draft flow.",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3LoadVersionRequest"
                          },
                          "id": "dialogflow.projects.locations.agents.flows.versions.load",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/versions/[^/]+$",
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "description": "Required. The Version to be loaded to draft flow. Format: `projects//locations//agents//flows//versions/`."
                            }
                          },
                          "httpMethod": "POST",
                          "path": "v3/{+name}:load"
                        },
                        "patch": {
                          "path": "v3/{+name}",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3Version"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Version"
                          },
                          "httpMethod": "PATCH",
                          "parameters": {
                            "name": {
                              "description": "Format: projects//locations//agents//flows//versions/. Version ID is a self-increasing number generated by Dialogflow upon version creation.",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/versions/[^/]+$",
                              "location": "path",
                              "required": true
                            },
                            "updateMask": {
                              "format": "google-fieldmask",
                              "location": "query",
                              "type": "string",
                              "description": "Required. The mask to control which fields get updated. Currently only `description` and `display_name` can be updated."
                            }
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/versions/{versionsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": "Updates the specified Version.",
                          "id": "dialogflow.projects.locations.agents.flows.versions.patch"
                        },
                        "get": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": "Retrieves the specified Version.",
                          "path": "v3/{+name}",
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "required": true,
                              "location": "path",
                              "description": "Required. The name of the Version. Format: `projects//locations//agents//flows//versions/`.",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/versions/[^/]+$"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Version"
                          },
                          "id": "dialogflow.projects.locations.agents.flows.versions.get",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/versions/{versionsId}",
                          "parameterOrder": [
                            "name"
                          ]
                        }
                      }
                    },
                    "pages": {
                      "methods": {
                        "list": {
                          "description": "Returns the list of all pages in the specified flow.",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3ListPagesResponse"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3/{+parent}/pages",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/pages",
                          "httpMethod": "GET",
                          "parameters": {
                            "languageCode": {
                              "type": "string",
                              "location": "query",
                              "description": "The language to list pages for. The following fields are language dependent: * `Page.entry_fulfillment.messages` * `Page.form.parameters.fill_behavior.initial_prompt_fulfillment.messages` * `Page.form.parameters.fill_behavior.reprompt_event_handlers.messages` * `Page.transition_routes.trigger_fulfillment.messages` * `Page.transition_route_groups.transition_routes.trigger_fulfillment.messages` If not specified, the agent's default language is used. [Many languages](https://cloud.google.com/dialogflow/cx/docs/reference/language) are supported. Note: languages must be enabled in the agent before they can be used."
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "The next_page_token value returned from a previous list request.",
                              "location": "query"
                            },
                            "pageSize": {
                              "description": "The maximum number of items to return in a single page. By default 100 and at most 1000.",
                              "type": "integer",
                              "format": "int32",
                              "location": "query"
                            },
                            "parent": {
                              "description": "Required. The flow to list all pages for. Format: `projects//locations//agents//flows/`.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "id": "dialogflow.projects.locations.agents.flows.pages.list"
                        },
                        "delete": {
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "httpMethod": "DELETE",
                          "description": "Deletes the specified page.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "id": "dialogflow.projects.locations.agents.flows.pages.delete",
                          "path": "v3/{+name}",
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/pages/{pagesId}",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/pages/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "Required. The name of the page to delete. Format: `projects//locations//agents//Flows//pages/`."
                            },
                            "force": {
                              "description": "This field has no effect for pages with no incoming transitions. For pages with incoming transitions: * If `force` is set to false, an error will be returned with message indicating the incoming transitions. * If `force` is set to true, Dialogflow will remove the page, as well as any transitions to the page (i.e. Target page in event handlers or Target page in transition routes that point to this page will be cleared).",
                              "type": "boolean",
                              "location": "query"
                            }
                          }
                        },
                        "create": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Page"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "id": "dialogflow.projects.locations.agents.flows.pages.create",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/pages",
                          "parameters": {
                            "languageCode": {
                              "type": "string",
                              "location": "query",
                              "description": "The language of the following fields in `page`: * `Page.entry_fulfillment.messages` * `Page.form.parameters.fill_behavior.initial_prompt_fulfillment.messages` * `Page.form.parameters.fill_behavior.reprompt_event_handlers.messages` * `Page.transition_routes.trigger_fulfillment.messages` * `Page.transition_route_groups.transition_routes.trigger_fulfillment.messages` If not specified, the agent's default language is used. [Many languages](https://cloud.google.com/dialogflow/cx/docs/reference/language) are supported. Note: languages must be enabled in the agent before they can be used."
                            },
                            "parent": {
                              "location": "path",
                              "description": "Required. The flow to create a page for. Format: `projects//locations//agents//flows/`.",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$",
                              "required": true
                            }
                          },
                          "description": "Creates a page in the specified flow.",
                          "path": "v3/{+parent}/pages",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3Page"
                          }
                        },
                        "get": {
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Page"
                          },
                          "httpMethod": "GET",
                          "description": "Retrieves the specified page.",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/pages/{pagesId}",
                          "path": "v3/{+name}",
                          "parameters": {
                            "languageCode": {
                              "location": "query",
                              "description": "The language to retrieve the page for. The following fields are language dependent: * `Page.entry_fulfillment.messages` * `Page.form.parameters.fill_behavior.initial_prompt_fulfillment.messages` * `Page.form.parameters.fill_behavior.reprompt_event_handlers.messages` * `Page.transition_routes.trigger_fulfillment.messages` * `Page.transition_route_groups.transition_routes.trigger_fulfillment.messages` If not specified, the agent's default language is used. [Many languages](https://cloud.google.com/dialogflow/cx/docs/reference/language) are supported. Note: languages must be enabled in the agent before they can be used.",
                              "type": "string"
                            },
                            "name": {
                              "description": "Required. The name of the page. Format: `projects//locations//agents//flows//pages/`.",
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/pages/[^/]+$",
                              "required": true
                            }
                          },
                          "id": "dialogflow.projects.locations.agents.flows.pages.get"
                        },
                        "patch": {
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3Page"
                          },
                          "parameters": {
                            "updateMask": {
                              "location": "query",
                              "format": "google-fieldmask",
                              "description": "The mask to control which fields get updated. If the mask is not present, all fields will be updated.",
                              "type": "string"
                            },
                            "name": {
                              "description": "The unique identifier of the page. Required for the Pages.UpdatePage method. Pages.CreatePage populates the name automatically. Format: `projects//locations//agents//flows//pages/`.",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/pages/[^/]+$",
                              "type": "string"
                            },
                            "languageCode": {
                              "description": "The language of the following fields in `page`: * `Page.entry_fulfillment.messages` * `Page.form.parameters.fill_behavior.initial_prompt_fulfillment.messages` * `Page.form.parameters.fill_behavior.reprompt_event_handlers.messages` * `Page.transition_routes.trigger_fulfillment.messages` * `Page.transition_route_groups.transition_routes.trigger_fulfillment.messages` If not specified, the agent's default language is used. [Many languages](https://cloud.google.com/dialogflow/cx/docs/reference/language) are supported. Note: languages must be enabled in the agent before they can be used.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Page"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3/{+name}",
                          "id": "dialogflow.projects.locations.agents.flows.pages.patch",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/pages/{pagesId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Updates the specified page.",
                          "httpMethod": "PATCH"
                        }
                      }
                    },
                    "transitionRouteGroups": {
                      "methods": {
                        "get": {
                          "id": "dialogflow.projects.locations.agents.flows.transitionRouteGroups.get",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": "Retrieves the specified TransitionRouteGroup.",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/transitionRouteGroups/{transitionRouteGroupsId}",
                          "httpMethod": "GET",
                          "parameters": {
                            "languageCode": {
                              "type": "string",
                              "location": "query",
                              "description": "The language to list transition route groups for. The field `messages` in TransitionRoute is language dependent. If not specified, the agent's default language is used. [Many languages](https://cloud.google.com/dialogflow/cx/docs/reference/language) are supported. Note: languages must be enabled in the agent before they can be used."
                            },
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/transitionRouteGroups/[^/]+$",
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "Required. The name of the TransitionRouteGroup. Format: `projects//locations//agents//flows//transitionRouteGroups/`."
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroup"
                          },
                          "path": "v3/{+name}",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "delete": {
                          "httpMethod": "DELETE",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "force": {
                              "location": "query",
                              "type": "boolean",
                              "description": "This field has no effect for transition route group that no page is using. If the transition route group is referenced by any page: * If `force` is set to false, an error will be returned with message indicating pages that reference the transition route group. * If `force` is set to true, Dialogflow will remove the transition route group, as well as any reference to it."
                            },
                            "name": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/transitionRouteGroups/[^/]+$",
                              "description": "Required. The name of the TransitionRouteGroup to delete. Format: `projects//locations//agents//flows//transitionRouteGroups/`.",
                              "type": "string",
                              "required": true
                            }
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/transitionRouteGroups/{transitionRouteGroupsId}",
                          "id": "dialogflow.projects.locations.agents.flows.transitionRouteGroups.delete",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "description": "Deletes the specified TransitionRouteGroup.",
                          "path": "v3/{+name}"
                        },
                        "create": {
                          "path": "v3/{+parent}/transitionRouteGroups",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/transitionRouteGroups",
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroup"
                          },
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "required": true,
                              "description": "Required. The flow to create an TransitionRouteGroup for. Format: `projects//locations//agents//flows/`.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$",
                              "location": "path"
                            },
                            "languageCode": {
                              "description": "The language to list transition route groups for. The field `messages` in TransitionRoute is language dependent. If not specified, the agent's default language is used. [Many languages](https://cloud.google.com/dialogflow/cx/docs/reference/language) are supported. Note: languages must be enabled in the agent before they can be used.",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "Creates an TransitionRouteGroup in the specified flow.",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroup"
                          },
                          "id": "dialogflow.projects.locations.agents.flows.transitionRouteGroups.create"
                        },
                        "list": {
                          "path": "v3/{+parent}/transitionRouteGroups",
                          "description": "Returns the list of all transition route groups in the specified flow.",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/transitionRouteGroups",
                          "parameters": {
                            "languageCode": {
                              "location": "query",
                              "type": "string",
                              "description": "The language to list transition route groups for. The field `messages` in TransitionRoute is language dependent. If not specified, the agent's default language is used. [Many languages](https://cloud.google.com/dialogflow/cx/docs/reference/language) are supported. Note: languages must be enabled in the agent before they can be used."
                            },
                            "pageToken": {
                              "description": "The next_page_token value returned from a previous list request.",
                              "type": "string",
                              "location": "query"
                            },
                            "parent": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$",
                              "location": "path",
                              "description": "Required. The flow to list all transition route groups for. Format: `projects//locations//agents//flows/`.",
                              "type": "string"
                            },
                            "pageSize": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The maximum number of items to return in a single page. By default 100 and at most 1000.",
                              "location": "query"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "dialogflow.projects.locations.agents.flows.transitionRouteGroups.list",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3ListTransitionRouteGroupsResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ]
                        },
                        "patch": {
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroup"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "dialogflow.projects.locations.agents.flows.transitionRouteGroups.patch",
                          "path": "v3/{+name}",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroup"
                          },
                          "parameters": {
                            "name": {
                              "type": "string",
                              "description": "The unique identifier of the transition route group. TransitionRouteGroups.CreateTransitionRouteGroup populates the name automatically. Format: `projects//locations//agents//flows//transitionRouteGroups/`.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/transitionRouteGroups/[^/]+$",
                              "location": "path"
                            },
                            "updateMask": {
                              "format": "google-fieldmask",
                              "type": "string",
                              "description": "The mask to control which fields get updated.",
                              "location": "query"
                            },
                            "languageCode": {
                              "location": "query",
                              "description": "The language to list transition route groups for. The field `messages` in TransitionRoute is language dependent. If not specified, the agent's default language is used. [Many languages](https://cloud.google.com/dialogflow/cx/docs/reference/language) are supported. Note: languages must be enabled in the agent before they can be used.",
                              "type": "string"
                            }
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/transitionRouteGroups/{transitionRouteGroupsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": "Updates the specified TransitionRouteGroup.",
                          "httpMethod": "PATCH"
                        }
                      }
                    }
                  },
                  "methods": {
                    "delete": {
                      "description": "Deletes a specified flow.",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the flow to delete. Format: `projects//locations//agents//flows/`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "force": {
                          "type": "boolean",
                          "location": "query",
                          "description": "This field has no effect for flows with no incoming transitions. For flows with incoming transitions: * If `force` is set to false, an error will be returned with message indicating the incoming transitions. * If `force` is set to true, Dialogflow will remove the flow, as well as any transitions to the flow (i.e. Target flow in event handlers or Target flow in transition routes that point to this flow will be cleared)."
                        }
                      },
                      "path": "v3/{+name}",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}",
                      "id": "dialogflow.projects.locations.agents.flows.delete"
                    },
                    "train": {
                      "httpMethod": "POST",
                      "id": "dialogflow.projects.locations.agents.flows.train",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$",
                          "required": true,
                          "description": "Required. The flow to train. Format: `projects//locations//agents//flows/`.",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3TrainFlowRequest"
                      },
                      "description": "Trains the specified flow. Note that only the flow in 'draft' environment is trained.",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}:train",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3/{+name}:train"
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The name of the flow to get. Format: `projects//locations//agents//flows/`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$",
                          "required": true
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string",
                          "description": "The language to retrieve the flow for. The following fields are language dependent: * `Flow.event_handlers.trigger_fulfillment.messages` * `Flow.transition_routes.trigger_fulfillment.messages` If not specified, the agent's default language is used. [Many languages](https://cloud.google.com/dialogflow/cx/docs/reference/language) are supported. Note: languages must be enabled in the agent before they can be used."
                        }
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3/{+name}",
                      "id": "dialogflow.projects.locations.agents.flows.get",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Flow"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}",
                      "description": "Retrieves the specified flow."
                    },
                    "validate": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "Validates the specified flow and creates or updates validation results. Please call this API after the training is completed to get the complete validation results.",
                      "id": "dialogflow.projects.locations.agents.flows.validate",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}:validate",
                      "path": "v3/{+name}:validate",
                      "parameters": {
                        "name": {
                          "description": "Required. The flow to validate. Format: `projects//locations//agents//flows/`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3FlowValidationResult"
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3ValidateFlowRequest"
                      }
                    },
                    "list": {
                      "id": "dialogflow.projects.locations.agents.flows.list",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Returns the list of all flows in the specified agent.",
                      "parameters": {
                        "pageToken": {
                          "description": "The next_page_token value returned from a previous list request.",
                          "location": "query",
                          "type": "string"
                        },
                        "languageCode": {
                          "description": "The language to list flows for. The following fields are language dependent: * `Flow.event_handlers.trigger_fulfillment.messages` * `Flow.transition_routes.trigger_fulfillment.messages` If not specified, the agent's default language is used. [Many languages](https://cloud.google.com/dialogflow/cx/docs/reference/language) are supported. Note: languages must be enabled in the agent before they can be used.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The agent containing the flows. Format: `projects//locations//agents/`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        },
                        "pageSize": {
                          "description": "The maximum number of items to return in a single page. By default 100 and at most 1000.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        }
                      },
                      "path": "v3/{+parent}/flows",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3ListFlowsResponse"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows"
                    },
                    "create": {
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The agent to create a flow for. Format: `projects//locations//agents/`.",
                          "required": true
                        },
                        "languageCode": {
                          "type": "string",
                          "location": "query",
                          "description": "The language of the following fields in `flow`: * `Flow.event_handlers.trigger_fulfillment.messages` * `Flow.transition_routes.trigger_fulfillment.messages` If not specified, the agent's default language is used. [Many languages](https://cloud.google.com/dialogflow/cx/docs/reference/language) are supported. Note: languages must be enabled in the agent before they can be used."
                        }
                      },
                      "path": "v3/{+parent}/flows",
                      "description": "Creates a flow in the specified agent.",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Flow"
                      },
                      "id": "dialogflow.projects.locations.agents.flows.create",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Flow"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "patch": {
                      "parameters": {
                        "languageCode": {
                          "type": "string",
                          "description": "The language of the following fields in `flow`: * `Flow.event_handlers.trigger_fulfillment.messages` * `Flow.transition_routes.trigger_fulfillment.messages` If not specified, the agent's default language is used. [Many languages](https://cloud.google.com/dialogflow/cx/docs/reference/language) are supported. Note: languages must be enabled in the agent before they can be used.",
                          "location": "query"
                        },
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "The unique identifier of the flow. Format: `projects//locations//agents//flows/`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$"
                        },
                        "updateMask": {
                          "description": "Required. The mask to control which fields get updated. If `update_mask` is not specified, an error will be returned.",
                          "type": "string",
                          "location": "query",
                          "format": "google-fieldmask"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agents.flows.patch",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}",
                      "path": "v3/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Flow"
                      },
                      "description": "Updates the specified flow.",
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Flow"
                      }
                    },
                    "getValidationResult": {
                      "id": "dialogflow.projects.locations.agents.flows.getValidationResult",
                      "httpMethod": "GET",
                      "path": "v3/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The flow name. Format: `projects//locations//agents//flows//validationResult`.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/validationResult$"
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string",
                          "description": "If not specified, the agent's default language is used."
                        }
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/validationResult",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets the latest flow validation result. Flow validation is performed when ValidateFlow is called.",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3FlowValidationResult"
                      }
                    }
                  }
                },
                "environments": {
                  "methods": {
                    "create": {
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "description": "Required. The Agent to create an Environment for. Format: `projects//locations//agents/`.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Environment"
                      },
                      "path": "v3/{+parent}/environments",
                      "id": "dialogflow.projects.locations.agents.environments.create",
                      "description": "Creates an Environment in the specified Agent.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agents.environments.list",
                      "path": "v3/{+parent}/environments",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "The next_page_token value returned from a previous list request."
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The Agent to list all environments for. Format: `projects//locations//agents/`.",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "The maximum number of items to return in a single page. By default 20 and at most 100."
                        }
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Returns the list of all environments in the specified Agent.",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3ListEnvironmentsResponse"
                      }
                    },
                    "get": {
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}",
                      "id": "dialogflow.projects.locations.agents.environments.get",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Environment"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the Environment. Format: `projects//locations//agents//environments/`."
                        }
                      },
                      "path": "v3/{+name}",
                      "description": "Retrieves the specified Environment.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3/{+name}",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                          "description": "Required. The name of the Environment to delete. Format: `projects//locations//agents//environments/`."
                        }
                      },
                      "id": "dialogflow.projects.locations.agents.environments.delete",
                      "httpMethod": "DELETE",
                      "description": "Deletes the specified Environment.",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "lookupEnvironmentHistory": {
                      "id": "dialogflow.projects.locations.agents.environments.lookupEnvironmentHistory",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3LookupEnvironmentHistoryResponse"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "The maximum number of items to return in a single page. By default 100 and at most 1000.",
                          "type": "integer"
                        },
                        "name": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                          "description": "Required. Resource name of the environment to look up the history for. Format: `projects//locations//agents//environments/`.",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "The next_page_token value returned from a previous list request.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v3/{+name}:lookupEnvironmentHistory",
                      "description": "Looks up the history of the specified Environment.",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}:lookupEnvironmentHistory",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "id": "dialogflow.projects.locations.agents.environments.patch",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}",
                      "description": "Updates the specified Environment.",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v3/{+name}",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Environment"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                          "type": "string",
                          "description": "The name of the environment. Format: `projects//locations//agents//environments/`."
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string",
                          "description": "Required. The mask to control which fields get updated."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    }
                  },
                  "resources": {
                    "experiments": {
                      "methods": {
                        "list": {
                          "httpMethod": "GET",
                          "path": "v3/{+parent}/experiments",
                          "parameters": {
                            "pageSize": {
                              "type": "integer",
                              "location": "query",
                              "description": "The maximum number of items to return in a single page. By default 20 and at most 100.",
                              "format": "int32"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "The next_page_token value returned from a previous list request."
                            },
                            "parent": {
                              "type": "string",
                              "description": "Required. The Environment to list all environments for. Format: `projects//locations//agents//environments/`.",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                              "required": true
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3ListExperimentsResponse"
                          },
                          "description": "Returns the list of all experiments in the specified Environment.",
                          "id": "dialogflow.projects.locations.agents.environments.experiments.list",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ]
                        },
                        "patch": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "PATCH",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v3/{+name}",
                          "parameters": {
                            "updateMask": {
                              "location": "query",
                              "description": "Required. The mask to control which fields get updated.",
                              "format": "google-fieldmask",
                              "type": "string"
                            },
                            "name": {
                              "required": true,
                              "description": "The name of the experiment. Format: projects//locations//agents//environments//experiments/..",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$",
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          },
                          "description": "Updates the specified Experiment.",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}",
                          "id": "dialogflow.projects.locations.agents.environments.experiments.patch",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          }
                        },
                        "get": {
                          "parameters": {
                            "name": {
                              "description": "Required. The name of the Environment. Format: `projects//locations//agents//environments//experiments/`.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}",
                          "description": "Retrieves the specified Experiment.",
                          "path": "v3/{+name}",
                          "id": "dialogflow.projects.locations.agents.environments.experiments.get"
                        },
                        "stop": {
                          "description": "Stops the specified Experiment. This rpc only changes the state of experiment from RUNNING to DONE.",
                          "path": "v3/{+name}:stop",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}:stop",
                          "parameters": {
                            "name": {
                              "description": "Required. Resource name of the experiment to stop. Format: `projects//locations//agents//environments//experiments/`.",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3StopExperimentRequest"
                          },
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          },
                          "id": "dialogflow.projects.locations.agents.environments.experiments.stop"
                        },
                        "create": {
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "POST",
                          "description": "Creates an Experiment in the specified Environment.",
                          "path": "v3/{+parent}/experiments",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "id": "dialogflow.projects.locations.agents.environments.experiments.create",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments",
                          "parameters": {
                            "parent": {
                              "required": true,
                              "type": "string",
                              "description": "Required. The Agent to create an Environment for. Format: `projects//locations//agents//environments/`.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                              "location": "path"
                            }
                          }
                        },
                        "delete": {
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$",
                              "required": true,
                              "location": "path",
                              "description": "Required. The name of the Environment to delete. Format: `projects//locations//agents//environments//experiments/`.",
                              "type": "string"
                            }
                          },
                          "id": "dialogflow.projects.locations.agents.environments.experiments.delete",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "DELETE",
                          "path": "v3/{+name}",
                          "description": "Deletes the specified Experiment.",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}"
                        },
                        "start": {
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}:start",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3StartExperimentRequest"
                          },
                          "path": "v3/{+name}:start",
                          "id": "dialogflow.projects.locations.agents.environments.experiments.start",
                          "httpMethod": "POST",
                          "description": "Starts the specified Experiment. This rpc only changes the state of experiment from PENDING to RUNNING.",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          },
                          "parameters": {
                            "name": {
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$",
                              "description": "Required. Resource name of the experiment to start. Format: `projects//locations//agents//environments//experiments/`."
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ]
                        }
                      }
                    },
                    "sessions": {
                      "methods": {
                        "matchIntent": {
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3MatchIntentResponse"
                          },
                          "id": "dialogflow.projects.locations.agents.environments.sessions.matchIntent",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}:matchIntent",
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameters": {
                            "session": {
                              "description": "Required. The name of the session this query is sent to. Format: `projects//locations//agents//sessions/` or `projects//locations//agents//environments//sessions/`. If `Environment ID` is not specified, we assume default 'draft' environment. It's up to the API caller to choose an appropriate `Session ID`. It can be a random number or some type of session identifiers (preferably hashed). The length of the `Session ID` must not exceed 36 characters. For more information, see the [sessions guide](https://cloud.google.com/dialogflow/cx/docs/concept/session).",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "required": true
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3MatchIntentRequest"
                          },
                          "description": "Returns preliminary intent match results, doesn't change the session status.",
                          "path": "v3/{+session}:matchIntent",
                          "parameterOrder": [
                            "session"
                          ]
                        },
                        "fulfillIntent": {
                          "id": "dialogflow.projects.locations.agents.environments.sessions.fulfillIntent",
                          "parameters": {
                            "session": {
                              "description": "Required. The name of the session this query is sent to. Format: `projects//locations//agents//sessions/` or `projects//locations//agents//environments//sessions/`. If `Environment ID` is not specified, we assume default 'draft' environment. It's up to the API caller to choose an appropriate `Session ID`. It can be a random number or some type of session identifiers (preferably hashed). The length of the `Session ID` must not exceed 36 characters. For more information, see the [sessions guide](https://cloud.google.com/dialogflow/cx/docs/concept/session).",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          },
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3FulfillIntentResponse"
                          },
                          "description": "Fulfills a matched intent returned by MatchIntent. Must be called after MatchIntent, with input from MatchIntentResponse. Otherwise, the behavior is undefined.",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}:fulfillIntent",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3FulfillIntentRequest"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameterOrder": [
                            "session"
                          ],
                          "path": "v3/{+session}:fulfillIntent"
                        },
                        "detectIntent": {
                          "path": "v3/{+session}:detectIntent",
                          "description": "Processes a natural language query and returns structured, actionable data as a result. This method is not idempotent, because it may cause session entity types to be updated, which in turn might affect results of future queries. Note: Always use agent versions for production traffic. See [Versions and environments](https://cloud.google.com/dialogflow/cx/docs/concept/version).",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}:detectIntent",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3DetectIntentRequest"
                          },
                          "parameters": {
                            "session": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "description": "Required. The name of the session this query is sent to. Format: `projects//locations//agents//sessions/` or `projects//locations//agents//environments//sessions/`. If `Environment ID` is not specified, we assume default 'draft' environment. It's up to the API caller to choose an appropriate `Session ID`. It can be a random number or some type of session identifiers (preferably hashed). The length of the `Session ID` must not exceed 36 characters. For more information, see the [sessions guide](https://cloud.google.com/dialogflow/cx/docs/concept/session). Note: Always use agent versions for production traffic. See [Versions and environments](https://cloud.google.com/dialogflow/cx/docs/concept/version).",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$"
                            }
                          },
                          "parameterOrder": [
                            "session"
                          ],
                          "id": "dialogflow.projects.locations.agents.environments.sessions.detectIntent",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3DetectIntentResponse"
                          },
                          "httpMethod": "POST"
                        }
                      },
                      "resources": {
                        "entityTypes": {
                          "methods": {
                            "list": {
                              "description": "Returns the list of all session entity types in the specified session.",
                              "parameters": {
                                "pageSize": {
                                  "type": "integer",
                                  "location": "query",
                                  "format": "int32",
                                  "description": "The maximum number of items to return in a single page. By default 100 and at most 1000."
                                },
                                "pageToken": {
                                  "description": "The next_page_token value returned from a previous list request.",
                                  "location": "query",
                                  "type": "string"
                                },
                                "parent": {
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$",
                                  "type": "string",
                                  "required": true,
                                  "location": "path",
                                  "description": "Required. The session to list all session entity types from. Format: `projects//locations//agents//sessions/` or `projects//locations//agents//environments//sessions/`. If `Environment ID` is not specified, we assume default 'draft' environment."
                                }
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.list",
                              "response": {
                                "$ref": "GoogleCloudDialogflowCxV3ListSessionEntityTypesResponse"
                              },
                              "path": "v3/{+parent}/entityTypes",
                              "httpMethod": "GET",
                              "parameterOrder": [
                                "parent"
                              ],
                              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes"
                            },
                            "patch": {
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.patch",
                              "response": {
                                "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
                              },
                              "description": "Updates the specified session entity type.",
                              "httpMethod": "PATCH",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "parameterOrder": [
                                "name"
                              ],
                              "parameters": {
                                "updateMask": {
                                  "description": "The mask to control which fields get updated.",
                                  "type": "string",
                                  "format": "google-fieldmask",
                                  "location": "query"
                                },
                                "name": {
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                                  "description": "Required. The unique identifier of the session entity type. Format: `projects//locations//agents//sessions//entityTypes/` or `projects//locations//agents//environments//sessions//entityTypes/`. If `Environment ID` is not specified, we assume default 'draft' environment.",
                                  "required": true,
                                  "type": "string",
                                  "location": "path"
                                }
                              },
                              "path": "v3/{+name}",
                              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "request": {
                                "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
                              }
                            },
                            "get": {
                              "parameters": {
                                "name": {
                                  "type": "string",
                                  "description": "Required. The name of the session entity type. Format: `projects//locations//agents//sessions//entityTypes/` or `projects//locations//agents//environments//sessions//entityTypes/`. If `Environment ID` is not specified, we assume default 'draft' environment.",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                                  "location": "path",
                                  "required": true
                                }
                              },
                              "httpMethod": "GET",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "parameterOrder": [
                                "name"
                              ],
                              "description": "Retrieves the specified session entity type.",
                              "path": "v3/{+name}",
                              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.get",
                              "response": {
                                "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
                              }
                            },
                            "delete": {
                              "path": "v3/{+name}",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "parameterOrder": [
                                "name"
                              ],
                              "description": "Deletes the specified session entity type.",
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.delete",
                              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "response": {
                                "$ref": "GoogleProtobufEmpty"
                              },
                              "httpMethod": "DELETE",
                              "parameters": {
                                "name": {
                                  "description": "Required. The name of the session entity type to delete. Format: `projects//locations//agents//sessions//entityTypes/` or `projects//locations//agents//environments//sessions//entityTypes/`. If `Environment ID` is not specified, we assume default 'draft' environment.",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                                  "type": "string",
                                  "required": true,
                                  "location": "path"
                                }
                              }
                            },
                            "create": {
                              "httpMethod": "POST",
                              "response": {
                                "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
                              },
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.create",
                              "parameters": {
                                "parent": {
                                  "required": true,
                                  "location": "path",
                                  "type": "string",
                                  "description": "Required. The session to create a session entity type for. Format: `projects//locations//agents//sessions/` or `projects//locations//agents//environments//sessions/`. If `Environment ID` is not specified, we assume default 'draft' environment.",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$"
                                }
                              },
                              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes",
                              "description": "Creates a session entity type.",
                              "parameterOrder": [
                                "parent"
                              ],
                              "path": "v3/{+parent}/entityTypes",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "request": {
                                "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "webhooks": {
                  "methods": {
                    "list": {
                      "description": "Returns the list of all webhooks in the specified agent.",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/webhooks",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3ListWebhooksResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.locations.agents.webhooks.list",
                      "parameters": {
                        "parent": {
                          "description": "Required. The agent to list all webhooks for. Format: `projects//locations//agents/`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "The maximum number of items to return in a single page. By default 100 and at most 1000.",
                          "format": "int32",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "The next_page_token value returned from a previous list request."
                        }
                      },
                      "path": "v3/{+parent}/webhooks",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
[...]
