{
  "servicePath": "",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "title": "Dialogflow API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "securitySettings": {
              "methods": {
                "create": {
                  "description": "Create security settings in the specified location.",
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1SecuritySettings"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1SecuritySettings"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The location to create an SecuritySettings for. Format: `projects//locations/`.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.locations.securitySettings.create",
                  "path": "v3beta1/{+parent}/securitySettings",
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/securitySettings",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "path": "v3beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "Deletes the specified SecuritySettings.",
                  "id": "dialogflow.projects.locations.securitySettings.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the SecuritySettings to delete. Format: `projects//locations//securitySettings/`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/securitySettings/[^/]+$"
                    }
                  },
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/securitySettings/{securitySettingsId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1SecuritySettings"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "description": "Required. The mask to control which fields get updated. If the mask is not present, all fields will be updated.",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/securitySettings/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Resource name of the settings. Required for the SecuritySettingsService.UpdateSecuritySettings method. SecuritySettingsService.CreateSecuritySettings populates the name automatically. Format: `projects//locations//securitySettings/`."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "path": "v3beta1/{+name}",
                  "description": "Updates the specified SecuritySettings.",
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/securitySettings/{securitySettingsId}",
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1SecuritySettings"
                  },
                  "id": "dialogflow.projects.locations.securitySettings.patch"
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1SecuritySettings"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Resource name of the settings. Format: `projects//locations//securitySettings/`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/securitySettings/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Retrieves the specified SecuritySettings. The returned settings may be stale by up to 1 minute.",
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/securitySettings/{securitySettingsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v3beta1/{+name}",
                  "id": "dialogflow.projects.locations.securitySettings.get"
                },
                "list": {
                  "path": "v3beta1/{+parent}/securitySettings",
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/securitySettings",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The next_page_token value returned from a previous list request."
                    },
                    "pageSize": {
                      "description": "The maximum number of items to return in a single page. By default 20 and at most 100.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The location to list all security settings for. Format: `projects//locations/`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Returns the list of all security settings in the specified location.",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1ListSecuritySettingsResponse"
                  },
                  "id": "dialogflow.projects.locations.securitySettings.list"
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "dialogflow.projects.locations.operations.get",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v3beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "cancel": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "path": "v3beta1/{+name}:cancel",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.locations.operations.cancel",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "list": {
                  "id": "dialogflow.projects.locations.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v3beta1/{+name}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  }
                }
              }
            },
            "agents": {
              "methods": {
                "validate": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1AgentValidationResult"
                  },
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}:validate",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1ValidateAgentRequest"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The agent to validate. Format: `projects//locations//agents/`."
                    }
                  },
                  "id": "dialogflow.projects.locations.agents.validate",
                  "path": "v3beta1/{+name}:validate",
                  "description": "Validates the specified agent and creates or updates validation results. The agent in draft version is validated. Please call this API after the training is completed to get the complete validation results.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "create": {
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents",
                  "path": "v3beta1/{+parent}/agents",
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1Agent"
                  },
                  "httpMethod": "POST",
                  "description": "Creates an agent in the specified location. Note: You should always train a flow prior to sending it queries. See the [training documentation](https://cloud.google.com/dialogflow/cx/docs/concept/training).",
                  "id": "dialogflow.projects.locations.agents.create",
                  "parameters": {
                    "parent": {
                      "description": "Required. The location to create a agent for. Format: `projects//locations/`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1Agent"
                  }
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v3beta1/{+name}",
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1Agent"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "The unique identifier of the agent. Required for the Agents.UpdateAgent method. Agents.CreateAgent populates the name automatically. Format: `projects//locations//agents/`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                      "required": true
                    },
                    "updateMask": {
                      "description": "The mask to control which fields get updated. If the mask is not present, all fields will be updated.",
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "id": "dialogflow.projects.locations.agents.patch",
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1Agent"
                  },
                  "description": "Updates the specified agent. Note: You should always train a flow prior to sending it queries. See the [training documentation](https://cloud.google.com/dialogflow/cx/docs/concept/training).",
                  "httpMethod": "PATCH"
                },
                "export": {
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}:export",
                  "id": "dialogflow.projects.locations.agents.export",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the agent to export. Format: `projects//locations//agents/`."
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Exports the specified agent to a binary file. This method is a [long-running operation](https://cloud.google.com/dialogflow/cx/docs/how/long-running-operation). The returned `Operation` type has the following method-specific fields: - `metadata`: An empty [Struct message](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#struct) - `response`: ExportAgentResponse",
                  "httpMethod": "POST",
                  "path": "v3beta1/{+name}:export",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1ExportAgentRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1ListAgentsResponse"
                  },
                  "description": "Returns the list of all agents in the specified location.",
                  "id": "dialogflow.projects.locations.agents.list",
                  "parameters": {
                    "parent": {
                      "description": "Required. The location to list all agents for. Format: `projects//locations/`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of items to return in a single page. By default 100 and at most 1000.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The next_page_token value returned from a previous list request.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "GET",
                  "path": "v3beta1/{+parent}/agents",
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents"
                },
                "getValidationResult": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1AgentValidationResult"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/validationResult",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.locations.agents.getValidationResult",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/validationResult$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The agent name. Format: `projects//locations//agents//validationResult`."
                    },
                    "languageCode": {
                      "description": "If not specified, the agent's default language is used.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v3beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "Gets the latest agent validation result. Agent validation is performed when ValidateAgent is called."
                },
                "restore": {
                  "description": "Restores the specified agent from a binary file. Replaces the current agent with a new one. Note that all existing resources in agent (e.g. intents, entity types, flows) will be removed. This method is a [long-running operation](https://cloud.google.com/dialogflow/cx/docs/how/long-running-operation). The returned `Operation` type has the following method-specific fields: - `metadata`: An empty [Struct message](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#struct) - `response`: An [Empty message](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#empty) Note: You should always train a flow prior to sending it queries. See the [training documentation](https://cloud.google.com/dialogflow/cx/docs/concept/training).",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "dialogflow.projects.locations.agents.restore",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}:restore",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the agent to restore into. Format: `projects//locations//agents/`.",
                      "type": "string"
                    }
                  },
                  "path": "v3beta1/{+name}:restore",
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1RestoreAgentRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the agent to delete. Format: `projects//locations//agents/`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v3beta1/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "dialogflow.projects.locations.agents.delete",
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}",
                  "description": "Deletes the specified agent."
                },
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the agent. Format: `projects//locations//agents/`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v3beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}",
                  "description": "Retrieves the specified agent.",
                  "id": "dialogflow.projects.locations.agents.get",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1Agent"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                }
              },
              "resources": {
                "sessions": {
                  "resources": {
                    "entityTypes": {
                      "methods": {
                        "patch": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameters": {
                            "name": {
                              "location": "path",
                              "description": "Required. The unique identifier of the session entity type. Format: `projects//locations//agents//sessions//entityTypes/` or `projects//locations//agents//environments//sessions//entityTypes/`. If `Environment ID` is not specified, we assume default 'draft' environment.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                              "type": "string"
                            },
                            "updateMask": {
                              "format": "google-fieldmask",
                              "description": "The mask to control which fields get updated.",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1SessionEntityType"
                          },
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1SessionEntityType"
                          },
                          "description": "Updates the specified session entity type.",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v3beta1/{+name}",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                          "httpMethod": "PATCH",
                          "id": "dialogflow.projects.locations.agents.sessions.entityTypes.patch"
                        },
                        "list": {
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1ListSessionEntityTypesResponse"
                          },
                          "description": "Returns the list of all session entity types in the specified session.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}/entityTypes",
                          "id": "dialogflow.projects.locations.agents.sessions.entityTypes.list",
                          "path": "v3beta1/{+parent}/entityTypes",
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "GET",
                          "parameters": {
                            "pageSize": {
                              "type": "integer",
                              "description": "The maximum number of items to return in a single page. By default 100 and at most 1000.",
                              "format": "int32",
                              "location": "query"
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "The next_page_token value returned from a previous list request."
                            },
                            "parent": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+$",
                              "description": "Required. The session to list all session entity types from. Format: `projects//locations//agents//sessions/` or `projects//locations//agents//environments//sessions/`. If `Environment ID` is not specified, we assume default 'draft' environment.",
                              "location": "path",
                              "required": true
                            }
                          }
                        },
                        "create": {
                          "description": "Creates a session entity type.",
                          "id": "dialogflow.projects.locations.agents.sessions.entityTypes.create",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1SessionEntityType"
                          },
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}/entityTypes",
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3beta1/{+parent}/entityTypes",
                          "parameters": {
                            "parent": {
                              "description": "Required. The session to create a session entity type for. Format: `projects//locations//agents//sessions/` or `projects//locations//agents//environments//sessions/`. If `Environment ID` is not specified, we assume default 'draft' environment.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "required": true
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1SessionEntityType"
                          }
                        },
                        "get": {
                          "description": "Retrieves the specified session entity type.",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "id": "dialogflow.projects.locations.agents.sessions.entityTypes.get",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1SessionEntityType"
                          },
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                          "path": "v3beta1/{+name}",
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "description": "Required. The name of the session entity type. Format: `projects//locations//agents//sessions//entityTypes/` or `projects//locations//agents//environments//sessions//entityTypes/`. If `Environment ID` is not specified, we assume default 'draft' environment."
                            }
                          }
                        },
                        "delete": {
                          "id": "dialogflow.projects.locations.agents.sessions.entityTypes.delete",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                          "description": "Deletes the specified session entity type.",
                          "httpMethod": "DELETE",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameters": {
                            "name": {
                              "description": "Required. The name of the session entity type to delete. Format: `projects//locations//agents//sessions//entityTypes/` or `projects//locations//agents//environments//sessions//entityTypes/`. If `Environment ID` is not specified, we assume default 'draft' environment.",
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+/entityTypes/[^/]+$"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v3beta1/{+name}"
                        }
                      }
                    }
                  },
                  "methods": {
                    "fulfillIntent": {
                      "httpMethod": "POST",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}:fulfillIntent",
                      "parameters": {
                        "session": {
                          "description": "Required. The name of the session this query is sent to. Format: `projects//locations//agents//sessions/` or `projects//locations//agents//environments//sessions/`. If `Environment ID` is not specified, we assume default 'draft' environment. It's up to the API caller to choose an appropriate `Session ID`. It can be a random number or some type of session identifiers (preferably hashed). The length of the `Session ID` must not exceed 36 characters. For more information, see the [sessions guide](https://cloud.google.com/dialogflow/cx/docs/concept/session).",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1FulfillIntentResponse"
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1FulfillIntentRequest"
                      },
                      "id": "dialogflow.projects.locations.agents.sessions.fulfillIntent",
                      "parameterOrder": [
                        "session"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3beta1/{+session}:fulfillIntent",
                      "description": "Fulfills a matched intent returned by MatchIntent. Must be called after MatchIntent, with input from MatchIntentResponse. Otherwise, the behavior is undefined."
                    },
                    "detectIntent": {
                      "id": "dialogflow.projects.locations.agents.sessions.detectIntent",
                      "parameters": {
                        "session": {
                          "description": "Required. The name of the session this query is sent to. Format: `projects//locations//agents//sessions/` or `projects//locations//agents//environments//sessions/`. If `Environment ID` is not specified, we assume default 'draft' environment. It's up to the API caller to choose an appropriate `Session ID`. It can be a random number or some type of session identifiers (preferably hashed). The length of the `Session ID` must not exceed 36 characters. For more information, see the [sessions guide](https://cloud.google.com/dialogflow/cx/docs/concept/session). Note: Always use agent versions for production traffic. See [Versions and environments](https://cloud.google.com/dialogflow/cx/docs/concept/version).",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1DetectIntentRequest"
                      },
                      "path": "v3beta1/{+session}:detectIntent",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}:detectIntent",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "session"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1DetectIntentResponse"
                      },
                      "description": "Processes a natural language query and returns structured, actionable data as a result. This method is not idempotent, because it may cause session entity types to be updated, which in turn might affect results of future queries. Note: Always use agent versions for production traffic. See [Versions and environments](https://cloud.google.com/dialogflow/cx/docs/concept/version)."
                    },
                    "matchIntent": {
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1MatchIntentResponse"
                      },
                      "description": "Returns preliminary intent match results, doesn't change the session status.",
                      "parameters": {
                        "session": {
                          "type": "string",
                          "description": "Required. The name of the session this query is sent to. Format: `projects//locations//agents//sessions/` or `projects//locations//agents//environments//sessions/`. If `Environment ID` is not specified, we assume default 'draft' environment. It's up to the API caller to choose an appropriate `Session ID`. It can be a random number or some type of session identifiers (preferably hashed). The length of the `Session ID` must not exceed 36 characters. For more information, see the [sessions guide](https://cloud.google.com/dialogflow/cx/docs/concept/session).",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+$",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "session"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1MatchIntentRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}:matchIntent",
                      "path": "v3beta1/{+session}:matchIntent",
                      "id": "dialogflow.projects.locations.agents.sessions.matchIntent"
                    }
                  }
                },
                "webhooks": {
                  "methods": {
                    "patch": {
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Webhook"
                      },
                      "parameters": {
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string",
                          "description": "The mask to control which fields get updated. If the mask is not present, all fields will be updated."
                        },
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/webhooks/[^/]+$",
                          "description": "The unique identifier of the webhook. Required for the Webhooks.UpdateWebhook method. Webhooks.CreateWebhook populates the name automatically. Format: `projects//locations//agents//webhooks/`.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.locations.agents.webhooks.patch",
                      "httpMethod": "PATCH",
                      "description": "Updates the specified webhook.",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Webhook"
                      },
                      "path": "v3beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/webhooks/{webhooksId}"
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/webhooks/{webhooksId}",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the webhook. Format: `projects//locations//agents//webhooks/`.",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/webhooks/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Webhook"
                      },
                      "path": "v3beta1/{+name}",
                      "httpMethod": "GET",
                      "description": "Retrieves the specified webhook.",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.locations.agents.webhooks.get"
                    },
                    "create": {
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/webhooks",
                      "path": "v3beta1/{+parent}/webhooks",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The agent to create a webhook for. Format: `projects//locations//agents/`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Webhook"
                      },
                      "description": "Creates a webhook in the specified agent.",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Webhook"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "id": "dialogflow.projects.locations.agents.webhooks.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The agent to list all webhooks for. Format: `projects//locations//agents/`."
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "The maximum number of items to return in a single page. By default 100 and at most 1000.",
                          "type": "integer",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "The next_page_token value returned from a previous list request.",
                          "location": "query"
                        }
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/webhooks",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ListWebhooksResponse"
                      },
                      "id": "dialogflow.projects.locations.agents.webhooks.list",
                      "httpMethod": "GET",
                      "path": "v3beta1/{+parent}/webhooks",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Returns the list of all webhooks in the specified agent."
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/webhooks/[^/]+$",
                          "description": "Required. The name of the webhook to delete. Format: `projects//locations//agents//webhooks/`.",
                          "required": true,
                          "type": "string"
                        },
                        "force": {
                          "type": "boolean",
                          "description": "This field has no effect for webhook not being used. For webhooks that are used by pages/flows/transition route groups: * If `force` is set to false, an error will be returned with message indicating the referenced resources. * If `force` is set to true, Dialogflow will remove the webhook, as well as any references to the webhook (i.e. Webhook and tagin fulfillments that point to this webhook will be removed).",
                          "location": "query"
                        }
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/webhooks/{webhooksId}",
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3beta1/{+name}",
                      "id": "dialogflow.projects.locations.agents.webhooks.delete",
                      "description": "Deletes the specified webhook.",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      }
                    }
                  }
                },
                "testCases": {
                  "methods": {
                    "batchDelete": {
                      "path": "v3beta1/{+parent}/testCases:batchDelete",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:batchDelete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agents.testCases.batchDelete",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1BatchDeleteTestCasesRequest"
                      },
                      "description": "Batch deletes test cases.",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameters": {
                        "parent": {
                          "description": "Required. The agent to delete test cases from. Format: `projects//locations//agents/`.",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        }
                      },
                      "httpMethod": "POST"
                    },
                    "export": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v3beta1/{+parent}/testCases:export",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Required. The agent where to export test cases from. Format: `projects//locations//agents/`.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ExportTestCasesRequest"
                      },
                      "httpMethod": "POST",
                      "description": "Exports the test cases under the agent to a Cloud Storage bucket or a local file. Filter can be applied to export a subset of test cases. This method is a [long-running operation](https://cloud.google.com/dialogflow/cx/docs/how/long-running-operation). The returned `Operation` type has the following method-specific fields: - `metadata`: ExportTestCasesMetadata - `response`: ExportTestCasesResponse",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:export",
                      "id": "dialogflow.projects.locations.agents.testCases.export"
                    },
                    "run": {
                      "path": "v3beta1/{+name}:run",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agents.testCases.run",
                      "parameters": {
                        "name": {
                          "description": "Required. Format of test case name to run: `projects//locations/ /agents//testCases/`.",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/testCases/[^/]+$"
                        }
                      },
                      "httpMethod": "POST",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases/{testCasesId}:run",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1RunTestCaseRequest"
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Kicks off a test case run. This method is a [long-running operation](https://cloud.google.com/dialogflow/cx/docs/how/long-running-operation). The returned `Operation` type has the following method-specific fields: - `metadata`: RunTestCaseMetadata - `response`: RunTestCaseResponse"
                    },
                    "batchRun": {
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesRequest"
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:batchRun",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "required": true,
                          "description": "Required. Agent name. Format: `projects//locations//agents/ `.",
                          "location": "path"
                        }
                      },
                      "description": "Kicks off a batch run of test cases. This method is a [long-running operation](https://cloud.google.com/dialogflow/cx/docs/how/long-running-operation). The returned `Operation` type has the following method-specific fields: - `metadata`: BatchRunTestCasesMetadata - `response`: BatchRunTestCasesResponse",
                      "path": "v3beta1/{+parent}/testCases:batchRun",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agents.testCases.batchRun"
                    },
                    "list": {
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "The next_page_token value returned from a previous list request."
                        },
                        "view": {
                          "enumDescriptions": [
                            "The default / unset value. The API will default to the BASIC view.",
                            "Include basic metadata about the test case, but not the conversation turns. This is the default value.",
                            "Include everything."
                          ],
                          "type": "string",
                          "location": "query",
                          "description": "Specifies whether response should include all fields or just the metadata.",
                          "enum": [
                            "TEST_CASE_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ]
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "The maximum number of items to return in a single page. By default 20. Note that when TestCaseView = FULL, the maximum page size allowed is 20. When TestCaseView = BASIC, the maximum page size allowed is 500.",
                          "format": "int32"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The agent to list all pages for. Format: `projects//locations//agents/`."
                        }
                      },
                      "description": "Fetches a list of test cases for a given agent.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3beta1/{+parent}/testCases",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ListTestCasesResponse"
                      },
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.locations.agents.testCases.list",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "patch": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1TestCase"
                      },
                      "description": "Updates the specified test case.",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "PATCH",
                      "path": "v3beta1/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/testCases/[^/]+$",
                          "description": "The unique identifier of the test case. TestCases.CreateTestCase will populate the name automatically. Otherwise use format: `projects//locations//agents/ /testCases/`."
                        },
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "description": "Required. The mask to specify which fields should be updated. The `creationTime` and `lastTestResult` cannot be updated.",
                          "location": "query"
                        }
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases/{testCasesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1TestCase"
                      },
                      "id": "dialogflow.projects.locations.agents.testCases.patch"
                    },
                    "import": {
                      "id": "dialogflow.projects.locations.agents.testCases.import",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "Required. The agent to import test cases to. Format: `projects//locations//agents/`.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:import",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v3beta1/{+parent}/testCases:import",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Imports the test cases from a Cloud Storage bucket or a local file. It always creates new test cases and won't overwrite any existing ones. The provided ID in the imported test case is neglected. This method is a [long-running operation](https://cloud.google.com/dialogflow/cx/docs/how/long-running-operation). The returned `Operation` type has the following method-specific fields: - `metadata`: ImportTestCasesMetadata - `response`: ImportTestCasesResponse",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ImportTestCasesRequest"
                      }
                    },
                    "get": {
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases/{testCasesId}",
                      "id": "dialogflow.projects.locations.agents.testCases.get",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/testCases/[^/]+$",
                          "location": "path",
                          "description": "Required. The name of the testcase. Format: `projects//locations//agents//testCases/`.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1TestCase"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3beta1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets a test case."
                    },
                    "calculateCoverage": {
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:calculateCoverage",
                      "parameters": {
                        "type": {
                          "description": "Required. The type of coverage requested.",
                          "enum": [
                            "COVERAGE_TYPE_UNSPECIFIED",
                            "INTENT",
                            "PAGE_TRANSITION",
                            "TRANSITION_ROUTE_GROUP"
                          ],
                          "type": "string",
                          "location": "query",
                          "enumDescriptions": [
                            "Should never be used.",
                            "Intent coverage.",
                            "Page transition coverage.",
                            "Transition route group coverage."
                          ]
                        },
                        "agent": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The agent to calculate coverage for. Format: `projects//locations//agents/`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3beta1/{+agent}/testCases:calculateCoverage",
                      "parameterOrder": [
                        "agent"
                      ],
                      "httpMethod": "GET",
                      "description": "Calculates the test coverage for an agent.",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1CalculateCoverageResponse"
                      },
                      "id": "dialogflow.projects.locations.agents.testCases.calculateCoverage"
                    },
                    "create": {
                      "path": "v3beta1/{+parent}/testCases",
                      "id": "dialogflow.projects.locations.agents.testCases.create",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1TestCase"
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1TestCase"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates a test case for the given agent.",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path",
                          "description": "Required. The agent to create the test case for. Format: `projects//locations//agents/`."
                        }
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    }
                  },
                  "resources": {
                    "results": {
                      "methods": {
                        "get": {
                          "path": "v3beta1/{+name}",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
                          },
                          "id": "dialogflow.projects.locations.agents.testCases.results.get",
                          "parameters": {
                            "name": {
                              "description": "Required. The name of the testcase. Format: `projects//locations//agents//testCases//results/`.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/testCases/[^/]+/results/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases/{testCasesId}/results/{resultsId}",
                          "description": "Gets a test case result.",
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ]
                        },
                        "list": {
                          "description": "Fetches a list of results for a given test case.",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1ListTestCaseResultsResponse"
                          },
                          "path": "v3beta1/{+parent}/results",
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "GET",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases/{testCasesId}/results",
                          "parameters": {
                            "pageToken": {
                              "description": "The next_page_token value returned from a previous list request.",
                              "location": "query",
                              "type": "string"
                            },
                            "filter": {
                              "type": "string",
                              "location": "query",
                              "description": "The filter expression used to filter test case results. See [API Filtering](https://aip.dev/160). The expression is case insensitive. Only 'AND' is supported for logical operators. The supported syntax is listed below in detail: [AND ] ... [AND latest] The supported fields and operators are: field operator `environment` `=`, `IN` (Use value `draft` for draft environment) `test_time` `\u003e`, `\u003c` `latest` only returns the latest test result in all results for each test case. Examples: * \"environment=draft AND latest\" matches the latest test result for each test case in the draft environment. * \"environment IN (e1,e2)\" matches any test case results with an environment resource name of either \"e1\" or \"e2\". * \"test_time \u003e 1602540713\" matches any test case results with test time later than a unix timestamp in seconds 1602540713."
                            },
                            "parent": {
                              "description": "Required. The test case to list results for. Format: `projects//locations//agents// testCases/`. Specify a `-` as a wildcard for TestCase ID to list results across multiple test cases.",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/testCases/[^/]+$",
                              "type": "string",
                              "required": true
                            },
                            "pageSize": {
                              "type": "integer",
                              "description": "The maximum number of items to return in a single page. By default 100 and at most 1000.",
                              "format": "int32",
                              "location": "query"
                            }
                          },
                          "id": "dialogflow.projects.locations.agents.testCases.results.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ]
                        }
                      }
                    }
                  }
                },
                "changelogs": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ListChangelogsResponse"
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/changelogs",
                      "path": "v3beta1/{+parent}/changelogs",
                      "parameters": {
                        "filter": {
                          "description": "The filter string. Supports filter by user_email, resource, type and create_time. Some examples: 1. By user email: user_email = \"someone@google.com\" 2. By resource name: resource = \"projects/123/locations/global/agents/456/flows/789\" 3. By resource display name: display_name = \"my agent\" 4. By action: action = \"Create\" 5. By type: type = \"flows\" 6. By create time. Currently predicates on `create_time` and `create_time_epoch_seconds` are supported: create_time_epoch_seconds \u003e 1551790877 AND create_time \u003c= 2017-01-15T01:30:15.01Z 7. Combination of above filters: resource = \"projects/123/locations/global/agents/456/flows/789\" AND user_email = \"someone@google.com\" AND create_time \u003c= 2017-01-15T01:30:15.01Z",
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "The next_page_token value returned from a previous list request.",
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The agent containing the changelogs. Format: `projects//locations//agents/`."
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "The maximum number of items to return in a single page. By default 100 and at most 1000.",
                          "format": "int32"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agents.changelogs.list",
                      "httpMethod": "GET",
                      "description": "Returns the list of Changelogs.",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "get": {
                      "path": "v3beta1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Changelog"
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/changelogs/{changelogsId}",
                      "description": "Retrieves the specified Changelog.",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/changelogs/[^/]+$",
                          "type": "string",
                          "description": "Required. The name of the changelog to get. Format: `projects//locations//agents//changelogs/`."
                        }
                      },
                      "id": "dialogflow.projects.locations.agents.changelogs.get"
                    }
                  }
                },
                "entityTypes": {
                  "methods": {
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "force": {
                          "description": "This field has no effect for entity type not being used. For entity types that are used by intents or pages: * If `force` is set to false, an error will be returned with message indicating the referencing resources. * If `force` is set to true, Dialogflow will remove the entity type, as well as any references to the entity type (i.e. Page parameter of the entity type will be changed to '@sys.any' and intent parameter of the entity type will be removed).",
                          "location": "query",
                          "type": "boolean"
                        },
                        "name": {
                          "description": "Required. The name of the entity type to delete. Format: `projects//locations//agents//entityTypes/`.",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/entityTypes/[^/]+$"
                        }
                      },
                      "id": "dialogflow.projects.locations.agents.entityTypes.delete",
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/entityTypes/{entityTypesId}",
                      "description": "Deletes the specified entity type. Note: You should always train a flow prior to sending it queries. See the [training documentation](https://cloud.google.com/dialogflow/cx/docs/concept/training).",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "path": "v3beta1/{+name}"
                    },
                    "get": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1EntityType"
                      },
                      "path": "v3beta1/{+name}",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/entityTypes/{entityTypesId}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.locations.agents.entityTypes.get",
                      "parameters": {
                        "languageCode": {
                          "type": "string",
                          "location": "query",
                          "description": "The language to retrieve the entity type for. The following fields are language dependent: * `EntityType.entities.value` * `EntityType.entities.synonyms` * `EntityType.excluded_phrases.value` If not specified, the agent's default language is used. [Many languages](https://cloud.google.com/dialogflow/cx/docs/reference/language) are supported. Note: languages must be enabled in the agent before they can be used."
                        },
                        "name": {
                          "required": true,
                          "description": "Required. The name of the entity type. Format: `projects//locations//agents//entityTypes/`.",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/entityTypes/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "Retrieves the specified entity type."
                    },
                    "create": {
                      "id": "dialogflow.projects.locations.agents.entityTypes.create",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1EntityType"
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/entityTypes",
                      "parameters": {
                        "languageCode": {
                          "location": "query",
                          "type": "string",
                          "description": "The language of the following fields in `entity_type`: * `EntityType.entities.value` * `EntityType.entities.synonyms` * `EntityType.excluded_phrases.value` If not specified, the agent's default language is used. [Many languages](https://cloud.google.com/dialogflow/cx/docs/reference/language) are supported. Note: languages must be enabled in the agent before they can be used."
                        },
                        "parent": {
                          "location": "path",
                          "description": "Required. The agent to create a entity type for. Format: `projects//locations//agents/`.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "required": true
                        }
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v3beta1/{+parent}/entityTypes",
                      "description": "Creates an entity type in the specified agent.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1EntityType"
                      }
                    },
                    "patch": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1EntityType"
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/entityTypes/{entityTypesId}",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "languageCode": {
                          "type": "string",
                          "location": "query",
                          "description": "The language of the following fields in `entity_type`: * `EntityType.entities.value` * `EntityType.entities.synonyms` * `EntityType.excluded_phrases.value` If not specified, the agent's default language is used. [Many languages](https://cloud.google.com/dialogflow/cx/docs/reference/language) are supported. Note: languages must be enabled in the agent before they can be used."
                        },
                        "updateMask": {
                          "location": "query",
                          "description": "The mask to control which fields get updated.",
                          "type": "string",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "description": "The unique identifier of the entity type. Required for EntityTypes.UpdateEntityType. Format: `projects//locations//agents//entityTypes/`.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/entityTypes/[^/]+$",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1EntityType"
                      },
                      "path": "v3beta1/{+name}",
                      "id": "dialogflow.projects.locations.agents.entityTypes.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "Updates the specified entity type. Note: You should always train a flow prior to sending it queries. See the [training documentation](https://cloud.google.com/dialogflow/cx/docs/concept/training)."
                    },
                    "list": {
                      "path": "v3beta1/{+parent}/entityTypes",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/entityTypes",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agents.entityTypes.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Returns the list of all entity types in the specified agent.",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "description": "The maximum number of items to return in a single page. By default 100 and at most 1000.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "languageCode": {
                          "description": "The language to list entity types for. The following fields are language dependent: * `EntityType.entities.value` * `EntityType.entities.synonyms` * `EntityType.excluded_phrases.value` If not specified, the agent's default language is used. [Many languages](https://cloud.google.com/dialogflow/cx/docs/reference/language) are supported. Note: languages must be enabled in the agent before they can be used.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The agent to list all entity types for. Format: `projects//locations//agents/`."
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "The next_page_token value returned from a previous list request."
                        }
                      },
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ListEntityTypesResponse"
                      }
                    }
                  }
                },
                "flows": {
                  "resources": {
                    "pages": {
                      "methods": {
                        "list": {
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1ListPagesResponse"
                          },
                          "description": "Returns the list of all pages in the specified flow.",
                          "httpMethod": "GET",
                          "path": "v3beta1/{+parent}/pages",
                          "parameters": {
                            "pageSize": {
                              "description": "The maximum number of items to return in a single page. By default 100 and at most 1000.",
                              "location": "query",
                              "format": "int32",
                              "type": "integer"
                            },
                            "languageCode": {
                              "description": "The language to list pages for. The following fields are language dependent: * `Page.entry_fulfillment.messages` * `Page.entry_fulfillment.conditional_cases` * `Page.event_handlers.trigger_fulfillment.messages` * `Page.event_handlers.trigger_fulfillment.conditional_cases` * `Page.form.parameters.fill_behavior.initial_prompt_fulfillment.messages` * `Page.form.parameters.fill_behavior.initial_prompt_fulfillment.conditional_cases` * `Page.form.parameters.fill_behavior.reprompt_event_handlers.messages` * `Page.form.parameters.fill_behavior.reprompt_event_handlers.conditional_cases` * `Page.transition_routes.trigger_fulfillment.messages` * `Page.transition_routes.trigger_fulfillment.conditional_cases` If not specified, the agent's default language is used. [Many languages](https://cloud.google.com/dialogflow/cx/docs/reference/language) are supported. Note: languages must be enabled in the agent before they can be used.",
                              "type": "string",
                              "location": "query"
                            },
                            "parent": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "Required. The flow to list all pages for. Format: `projects//locations//agents//flows/`.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$"
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "The next_page_token value returned from a previous list request.",
                              "type": "string"
                            }
                          },
                          "id": "dialogflow.projects.locations.agents.flows.pages.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/pages"
                        },
                        "delete": {
                          "description": "Deletes the specified page.",
                          "path": "v3beta1/{+name}",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "parameters": {
                            "name": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "Required. The name of the page to delete. Format: `projects//locations//agents//Flows//pages/`.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/pages/[^/]+$"
                            },
                            "force": {
                              "description": "This field has no effect for pages with no incoming transitions. For pages with incoming transitions: * If `force` is set to false, an error will be returned with message indicating the incoming transitions. * If `force` is set to true, Dialogflow will remove the page, as well as any transitions to the page (i.e. Target page in event handlers or Target page in transition routes that point to this page will be cleared).",
                              "location": "query",
                              "type": "boolean"
                            }
                          },
                          "httpMethod": "DELETE",
                          "id": "dialogflow.projects.locations.agents.flows.pages.delete",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/pages/{pagesId}"
                        },
                        "create": {
                          "description": "Creates a page in the specified flow.",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/pages",
                          "id": "dialogflow.projects.locations.agents.flows.pages.create",
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Page"
                          },
                          "request": {
[...]
