{
  "version_module": true,
  "batchPath": "batch",
  "rootUrl": "https://dialogflow.googleapis.com/",
  "name": "dialogflow",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "id": "dialogflow:v2beta1",
  "ownerDomain": "google.com",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "discoveryVersion": "v1",
  "version": "v2beta1",
  "revision": "20200719",
  "servicePath": "",
  "schemas": {
    "GoogleCloudDialogflowV2beta1IntentMessageTableCardCell": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCardCell",
      "properties": {
        "text": {
          "type": "string",
          "description": "Required. Text in this cell."
        }
      },
      "type": "object",
      "description": "Cell of TableCardRow."
    },
    "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest": {
      "id": "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest",
      "properties": {
        "source": {
          "type": "string",
          "description": "The source of this request, e.g., `google`, `facebook`, `slack`. It is set\nby Dialogflow-owned servers."
        },
        "version": {
          "type": "string",
          "description": "Optional. The version of the protocol used for this request.\nThis field is AoG-specific."
        },
        "payload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Optional. This field is set to the value of the `QueryParameters.payload`\nfield passed in the request. Some integrations that query a Dialogflow\nagent may provide additional information in the payload.\n\nIn particular, for the Dialogflow Phone Gateway integration, this field has\nthe form:\n\u003cpre\u003e{\n \"telephony\": {\n   \"caller_id\": \"+18558363987\"\n }\n}\u003c/pre\u003e\nNote: The caller ID field (`caller_id`) will be redacted for Standard\nEdition agents and populated with the caller ID in [E.164\nformat](https://en.wikipedia.org/wiki/E.164) for Enterprise Edition agents."
        }
      },
      "type": "object",
      "description": "Represents the contents of the original request that was passed to\nthe `[Streaming]DetectIntent` call."
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCard": {
      "type": "object",
      "properties": {
        "formattedText": {
          "type": "string",
          "description": "Required, unless image is present. The body text of the card."
        },
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButton"
          },
          "description": "Optional. The collection of card buttons."
        },
        "title": {
          "description": "Optional. The title of the card.",
          "type": "string"
        },
        "image": {
          "description": "Optional. The image for the card.",
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "subtitle": {
          "description": "Optional. The subtitle of the card.",
          "type": "string"
        }
      },
      "description": "The basic card message. Useful for displaying information.",
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCard"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageQuickReplies": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageQuickReplies",
      "type": "object",
      "properties": {
        "title": {
          "description": "Optional. The title of the collection of quick replies.",
          "type": "string"
        },
        "quickReplies": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The collection of quick replies."
        }
      },
      "description": "The quick replies response message."
    },
    "GoogleCloudDialogflowV2IntentMessageCarouselSelect": {
      "properties": {
        "items": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem"
          },
          "type": "array",
          "description": "Required. Carousel items."
        }
      },
      "type": "object",
      "description": "The card for presenting a carousel of options to select from.",
      "id": "GoogleCloudDialogflowV2IntentMessageCarouselSelect"
    },
    "GoogleCloudDialogflowV2beta1OutputAudioConfig": {
      "id": "GoogleCloudDialogflowV2beta1OutputAudioConfig",
      "description": "Instructs the speech synthesizer how to generate the output audio content.\nIf this audio config is supplied in a request, it overrides all existing\ntext-to-speech settings applied to the agent.",
      "properties": {
        "synthesizeSpeechConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1SynthesizeSpeechConfig",
          "description": "Configuration of how speech should be synthesized."
        },
        "audioEncoding": {
          "type": "string",
          "enum": [
            "OUTPUT_AUDIO_ENCODING_UNSPECIFIED",
            "OUTPUT_AUDIO_ENCODING_LINEAR_16",
            "OUTPUT_AUDIO_ENCODING_MP3",
            "OUTPUT_AUDIO_ENCODING_OGG_OPUS"
          ],
          "description": "Required. Audio encoding of the synthesized audio content.",
          "enumDescriptions": [
            "Not specified.",
            "Uncompressed 16-bit signed little-endian samples (Linear PCM).\nAudio content returned as LINEAR16 also contains a WAV header.",
            "MP3 audio at 32kbps.",
            "Opus encoded audio wrapped in an ogg container. The result will be a\nfile which can be played natively on Android, and in browsers (at least\nChrome and Firefox). The quality of the encoding is considerably higher\nthan MP3 while using approximately the same bitrate."
          ]
        },
        "sampleRateHertz": {
          "description": "The synthesis sample rate (in hertz) for this audio. If not\nprovided, then the synthesizer will use the default sample rate based on\nthe audio encoding. If this is different from the voice's natural sample\nrate, then the synthesizer will honor this request by converting to the\ndesired sample rate (which might result in worse audio quality).",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageMediaContent": {
      "properties": {
        "mediaType": {
          "enum": [
            "RESPONSE_MEDIA_TYPE_UNSPECIFIED",
            "AUDIO"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Response media type is audio."
          ],
          "type": "string",
          "description": "Optional. What type of media is the content (ie \"audio\")."
        },
        "mediaObjects": {
          "description": "Required. List of media objects.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageMediaContent",
      "description": "The media content card for Actions on Google.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1WebhookRequest": {
      "properties": {
        "responseId": {
          "type": "string",
          "description": "The unique identifier of the response. Contains the same value as\n`[Streaming]DetectIntentResponse.response_id`."
        },
        "session": {
          "description": "The unique identifier of detectIntent request session.\nCan be used to identify end-user inside webhook implementation.\nFormat: `projects/\u003cProject ID\u003e/agent/sessions/\u003cSession ID\u003e`, or\n`projects/\u003cProject ID\u003e/agent/environments/\u003cEnvironment ID\u003e/users/\u003cUser\nID\u003e/sessions/\u003cSession ID\u003e`.",
          "type": "string"
        },
        "alternativeQueryResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
          },
          "description": "Alternative query results from KnowledgeService."
        },
        "originalDetectIntentRequest": {
          "$ref": "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest",
          "description": "Optional. The contents of the original request that was passed to\n`[Streaming]DetectIntent` call."
        },
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2beta1QueryResult",
          "description": "The result of the conversational query or event processing. Contains the\nsame value as `[Streaming]DetectIntentResponse.query_result`."
        }
      },
      "id": "GoogleCloudDialogflowV2beta1WebhookRequest",
      "type": "object",
      "description": "The request message for a webhook call."
    },
    "GoogleCloudDialogflowCxV3beta1PageInfo": {
      "type": "object",
      "description": "Represents page information communicated to and from the webhook.",
      "properties": {
        "formInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfo",
          "description": "Optional for both WebhookRequest and WebhookResponse.\nInformation about the form."
        },
        "currentPage": {
          "type": "string",
          "description": "Always present for WebhookRequest. Ignored for WebhookResponse.\nThe unique identifier of the current page.\nFormat: `projects/\u003cProject ID\u003e/locations/\u003cLocation ID\u003e/agents/\u003cAgent\nID\u003e/flows/\u003cFlow ID\u003e/pages/\u003cPage ID\u003e`."
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1PageInfo"
    },
    "GoogleCloudDialogflowV2ExportAgentResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ExportAgentResponse",
      "description": "The response message for Agents.ExportAgent.",
      "properties": {
        "agentUri": {
          "type": "string",
          "description": "The URI to a file containing the exported agent. This field is populated\nonly if `agent_uri` is specified in `ExportAgentRequest`."
        },
        "agentContent": {
          "description": "Zip compressed raw byte content for agent.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow": {
      "description": "Row of TableCard.",
      "properties": {
        "dividerAfter": {
          "type": "boolean",
          "description": "Optional. Whether to add a visual divider after this row."
        },
        "cells": {
          "description": "Optional. List of cells that make up this row.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCardCell"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCard": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCard",
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. The title of the card."
        },
        "subtitle": {
          "type": "string",
          "description": "Optional. The subtitle of the card."
        },
        "buttons": {
          "description": "Optional. The collection of card buttons.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCardButton"
          }
        },
        "imageUri": {
          "description": "Optional. The public URI to an image file for the card.",
          "type": "string"
        }
      },
      "description": "The card response message."
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard": {
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard",
      "properties": {
        "imageDisplayOptions": {
          "type": "string",
          "description": "Optional. Settings for displaying the image. Applies to every image in\nitems.",
          "enum": [
            "IMAGE_DISPLAY_OPTIONS_UNSPECIFIED",
            "GRAY",
            "WHITE",
            "CROPPED",
            "BLURRED_BACKGROUND"
          ],
          "enumDescriptions": [
            "Fill the gaps between the image and the image container with gray\nbars.",
            "Fill the gaps between the image and the image container with gray\nbars.",
            "Fill the gaps between the image and the image container with white\nbars.",
            "Image is scaled such that the image width and height match or exceed\nthe container dimensions. This may crop the top and bottom of the\nimage if the scaled image height is greater than the container\nheight, or crop the left and right of the image if the scaled image\nwidth is greater than the container width. This is similar to \"Zoom\nMode\" on a widescreen TV when playing a 4:3 video.",
            "Pad the gaps between image and image frame with a blurred copy of the\nsame image."
          ]
        },
        "items": {
          "type": "array",
          "description": "Required. List of items in the Browse Carousel Card. Minimum of two\nitems, maximum of ten.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
          }
        }
      },
      "type": "object",
      "description": "Browse Carousel Card for Actions on Google.\nhttps://developers.google.com/actions/assistant/responses#browsing_carousel"
    },
    "GoogleCloudDialogflowV2beta1QueryParameters": {
      "description": "Represents the parameters of the conversational query.",
      "type": "object",
      "properties": {
        "subAgents": {
          "description": "For mega agent query, directly specify which sub agents to query.\nIf any specified sub agent is not linked to the mega agent, an error will\nbe returned. If empty, Dialogflow will decide which sub agents to query.\nIf specified for a non-mega-agent query, will be silently ignored.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SubAgent"
          }
        },
        "contexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          },
          "description": "The collection of contexts to be activated before this query is\nexecuted.",
          "type": "array"
        },
        "payload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "This field can be used to pass custom data to your webhook.\nArbitrary JSON objects are supported.\nIf supplied, the value is used to populate the\n`WebhookRequest.original_detect_intent_request.payload`\nfield sent to your webhook."
        },
        "sessionEntityTypes": {
          "type": "array",
          "description": "Additional session entity types to replace or extend developer\nentity types with. The entity synonyms apply to all languages and persist\nfor the session of this query.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
          }
        },
        "resetContexts": {
          "type": "boolean",
          "description": "Specifies whether to delete all contexts in the current session\nbefore the new ones are activated."
        },
        "knowledgeBaseNames": {
          "description": "KnowledgeBases to get alternative results from. If not set, the\nKnowledgeBases enabled in the agent (through UI) will be used.\nFormat:  `projects/\u003cProject ID\u003e/knowledgeBases/\u003cKnowledge Base ID\u003e`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "geoLocation": {
          "description": "The geo location of this conversational query.",
          "$ref": "GoogleTypeLatLng"
        },
        "webhookHeaders": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "This field can be used to pass HTTP headers for a webhook\ncall. These headers will be sent to webhook alone with the headers that\nhave been configured through Dialogflow web console. The headers defined\nwithin this field will overwrite the headers configured through Dialogflow\nconsole if there is a conflict. Header names are case-insensitive.\nGoogle's specified headers are not allowed. Including: \"Host\",\n\"Content-Length\", \"Connection\", \"From\", \"User-Agent\", \"Accept-Encoding\",\n\"If-Modified-Since\", \"If-None-Match\", \"X-Forwarded-For\", etc.",
          "type": "object"
        },
        "sentimentAnalysisRequestConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1SentimentAnalysisRequestConfig",
          "description": "Configures the type of sentiment analysis to perform. If not\nprovided, sentiment analysis is not performed.\nNote: Sentiment Analysis is only currently available for Enterprise Edition\nagents."
        },
        "timeZone": {
          "type": "string",
          "description": "The time zone of this conversational query from the\n[time zone database](https://www.iana.org/time-zones), e.g.,\nAmerica/New_York, Europe/Paris. If not provided, the time zone specified in\nagent settings is used."
        }
      },
      "id": "GoogleCloudDialogflowV2beta1QueryParameters"
    },
    "GoogleCloudDialogflowV2IntentMessageTableCardRow": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageTableCardRow",
      "properties": {
        "cells": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageTableCardCell"
          },
          "description": "Optional. List of cells that make up this row."
        },
        "dividerAfter": {
          "type": "boolean",
          "description": "Optional. Whether to add a visual divider after this row."
        }
      },
      "description": "Row of TableCard."
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. The HTTP or HTTPS scheme URI."
        }
      },
      "description": "Opens the given URI.",
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction",
      "type": "object"
    },
    "GoogleCloudDialogflowV2AnnotatedMessagePart": {
      "description": "Represents a part of a message possibly annotated with an entity. The part\ncan be an entity or purely a part of the message between two entities or\nmessage start/end.",
      "id": "GoogleCloudDialogflowV2AnnotatedMessagePart",
      "type": "object",
      "properties": {
        "entityType": {
          "type": "string",
          "description": "The [Dialogflow system entity\ntype](https://cloud.google.com/dialogflow/docs/reference/system-entities)\nof this message part. If this is empty, Dialogflow could not annotate the\nphrase part with a system entity."
        },
        "formattedValue": {
          "description": "The [Dialogflow system entity formatted value\n](https://cloud.google.com/dialogflow/docs/reference/system-entities) of\nthis message part. For example for a system entity of type\n`@sys.unit-currency`, this may contain:\n\u003cpre\u003e\n{\n  \"amount\": 5,\n  \"currency\": \"USD\"\n}\n\u003c/pre\u003e",
          "type": "any"
        },
        "text": {
          "description": "A part of a message possibly annotated with an entity.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1TrainAgentRequest": {
      "description": "The request message for Agents.TrainAgent.",
      "id": "GoogleCloudDialogflowV2beta1TrainAgentRequest",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowV2beta1FulfillmentFeature": {
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "SMALLTALK"
          ],
          "enumDescriptions": [
            "Feature type not specified.",
            "Fulfillment is enabled for SmallTalk."
          ],
          "description": "The type of the feature that enabled for fulfillment.",
          "type": "string"
        }
      },
      "description": "Whether fulfillment is enabled for the specific feature.",
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1FulfillmentFeature"
    },
    "GoogleCloudDialogflowCxV3beta1ExportAgentResponse": {
      "properties": {
        "agentContent": {
          "description": "Uncompressed raw byte content for agent.",
          "format": "byte",
          "type": "string"
        },
        "agentUri": {
          "type": "string",
          "description": "The URI to a file containing the exported agent. This field is populated\nonly if `agent_uri` is specified in ExportAgentRequest."
        }
      },
      "description": "The response message for Agents.ExportAgent.",
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExportAgentResponse"
    },
    "GoogleCloudDialogflowV2beta1ReloadDocumentRequest": {
      "id": "GoogleCloudDialogflowV2beta1ReloadDocumentRequest",
      "properties": {
        "gcsSource": {
          "$ref": "GoogleCloudDialogflowV2beta1GcsSource",
          "description": "The path for a Cloud Storage source file for reloading document content.\nIf not provided, the Document's existing source will be reloaded."
        }
      },
      "description": "Request message for Documents.ReloadDocument.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SentimentAnalysisResult": {
      "type": "object",
      "properties": {
        "queryTextSentiment": {
          "description": "The sentiment analysis result for `query_text`.",
          "$ref": "GoogleCloudDialogflowV2Sentiment"
        }
      },
      "id": "GoogleCloudDialogflowV2SentimentAnalysisResult",
      "description": "The result of sentiment analysis. Sentiment analysis inspects user input\nand identifies the prevailing subjective opinion, especially to determine a\nuser's attitude as positive, negative, or neutral.\nFor Participants.AnalyzeContent, it needs to be configured in\nDetectIntentRequest.query_params. For\nParticipants.StreamingAnalyzeContent, it needs to be configured in\nStreamingDetectIntentRequest.query_params.\nAnd for Participants.AnalyzeContent and\nParticipants.StreamingAnalyzeContent, it needs to be configured in\nConversationProfile.human_agent_assistant_config"
    },
    "GoogleRpcStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for\ndifferent programming environments, including REST APIs and RPC APIs. It is\nused by [gRPC](https://github.com/grpc). Each `Status` message contains\nthree pieces of data: error code, error message, and error details.\n\nYou can find out more about this error model and how to work with it in the\n[API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SentimentAnalysisRequestConfig": {
      "id": "GoogleCloudDialogflowV2beta1SentimentAnalysisRequestConfig",
      "description": "Configures the types of sentiment analysis to perform.",
      "properties": {
        "analyzeQueryTextSentiment": {
          "type": "boolean",
          "description": "Instructs the service to perform sentiment analysis on\n`query_text`. If not provided, sentiment analysis is not performed on\n`query_text`."
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1QueryResult": {
      "description": "Represents the result of conversational query or event processing.",
      "id": "GoogleCloudDialogflowV2beta1QueryResult",
      "properties": {
        "allRequiredParamsPresent": {
          "type": "boolean",
          "description": "This field is set to:\n\n- `false` if the matched intent has required parameters and not all of\n   the required parameter values have been collected.\n- `true` if all required parameter values have been collected, or if the\n   matched intent doesn't contain any required parameters."
        },
        "webhookSource": {
          "description": "If the query was fulfilled by a webhook call, this field is set to the\nvalue of the `source` field returned in the webhook response.",
          "type": "string"
        },
        "action": {
          "description": "The action name from the matched intent.",
          "type": "string"
        },
        "speechRecognitionConfidence": {
          "description": "The Speech recognition confidence between 0.0 and 1.0. A higher number\nindicates an estimated greater likelihood that the recognized words are\ncorrect. The default of 0.0 is a sentinel value indicating that confidence\nwas not set.\n\nThis field is not guaranteed to be accurate or set. In particular this\nfield isn't set for StreamingDetectIntent since the streaming endpoint has\nseparate confidence estimates per portion of the audio in\nStreamingRecognitionResult.",
          "type": "number",
          "format": "float"
        },
        "queryText": {
          "type": "string",
          "description": "The original conversational query text:\n\n- If natural language text was provided as input, `query_text` contains\n  a copy of the input.\n- If natural language speech audio was provided as input, `query_text`\n  contains the speech recognition result. If speech recognizer produced\n  multiple alternatives, a particular one is picked.\n- If automatic spell correction is enabled, `query_text` will contain the\n  corrected user input."
        },
        "intent": {
          "description": "The intent that matched the conversational query. Some, not\nall fields are filled in this message, including but not limited to:\n`name`, `display_name`, `end_interaction` and `is_fallback`.",
          "$ref": "GoogleCloudDialogflowV2beta1Intent"
        },
        "parameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "The collection of extracted parameters.\n\nDepending on your protocol or client library language, this is a\nmap, associative array, symbol table, dictionary, or JSON object\ncomposed of a collection of (MapKey, MapValue) pairs:\n\n-   MapKey type: string\n-   MapKey value: parameter name\n-   MapValue type:\n    -   If parameter's entity type is a composite entity: map\n    -   Else: string or number, depending on parameter value type\n-   MapValue value:\n    -   If parameter's entity type is a composite entity:\n        map from composite entity property names to property values\n    -   Else: parameter value"
        },
        "languageCode": {
          "type": "string",
          "description": "The language that was triggered during intent detection.\nSee [Language\nSupport](https://cloud.google.com/dialogflow/docs/reference/language)\nfor a list of the currently supported language codes."
        },
        "fulfillmentText": {
          "description": "The text to be pronounced to the user or shown on the screen.\nNote: This is a legacy field, `fulfillment_messages` should be preferred.",
          "type": "string"
        },
        "fulfillmentMessages": {
          "description": "The collection of rich messages to present to the user.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          }
        },
        "webhookPayload": {
          "description": "If the query was fulfilled by a webhook call, this field is set to the\nvalue of the `payload` field returned in the webhook response.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "sentimentAnalysisResult": {
          "description": "The sentiment analysis result, which depends on the\n`sentiment_analysis_request_config` specified in the request.",
          "$ref": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult"
        },
        "knowledgeAnswers": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAnswers",
          "description": "The result from Knowledge Connector (if any), ordered by decreasing\n`KnowledgeAnswers.match_confidence`."
        },
        "diagnosticInfo": {
          "description": "Free-form diagnostic information for the associated detect intent request.\nThe fields of this data can change without notice, so you should not write\ncode that depends on its structure.\nThe data may contain:\n\n- webhook call latency\n- webhook errors",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "outputContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          },
          "type": "array",
          "description": "The collection of output contexts. If applicable,\n`output_contexts.parameters` contains entries with name\n`\u003cparameter name\u003e.original` containing the original parameter values\nbefore the query."
        },
        "intentDetectionConfidence": {
          "description": "The intent detection confidence. Values range from 0.0\n(completely uncertain) to 1.0 (completely certain).\nThis value is for informational purpose only and is only used to\nhelp match the best intent within the classification threshold.\nThis value may change for the same end-user expression at any time due to a\nmodel retraining or change in implementation.\nIf there are `multiple knowledge_answers` messages, this value is set to\nthe greatest `knowledgeAnswers.match_confidence` value in the list.",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageListSelect": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageListSelect",
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageListSelectItem"
          },
          "description": "Required. List items.",
          "type": "array"
        },
        "subtitle": {
          "type": "string",
          "description": "Optional. Subtitle of the list."
        },
        "title": {
          "description": "Optional. The overall title of the list.",
          "type": "string"
        }
      },
      "description": "The card for presenting a list of options to select from."
    },
    "GoogleCloudDialogflowV2beta1RestoreAgentRequest": {
      "description": "The request message for Agents.RestoreAgent.",
      "properties": {
        "agentUri": {
          "description": "The URI to a Google Cloud Storage file containing the agent to restore.\nNote: The URI must start with \"gs://\".",
          "type": "string"
        },
        "agentContent": {
          "type": "string",
          "description": "Zip compressed raw byte content for agent.",
          "format": "byte"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1RestoreAgentRequest"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessage": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessage",
      "properties": {
        "mixedAudio": {
          "description": "Output only. An audio response message composed of both the synthesized Dialogflow\nagent responses and responses defined via\nplay_audio.\nThis message is generated by Dialogflow only and not supposed to be\ndefined by the user.",
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudio"
        },
        "conversationSuccess": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess",
          "description": "Indicates that the conversation succeeded."
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Returns a response containing a custom, platform-specific payload."
        },
        "text": {
          "description": "Returns a text response.",
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageText"
        },
        "endInteraction": {
          "description": "Output only. A signal that indicates the interaction with the Dialogflow agent has\nended.\nThis message is generated by Dialogflow only when the conversation\nreaches `END_SESSION` or `END_PAGE` page. It is not supposed to be\ndefined by the user.\nIt's guaranteed that there is at most one such message in each response.",
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction"
        },
        "liveAgentHandoff": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageLiveAgentHandoff",
          "description": "Hands off conversation to a human agent."
        },
        "humanAgentHandoff": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageHumanAgentHandoff",
          "description": "Hands off conversation to a human agent."
        },
        "playAudio": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio",
          "description": "Signal that the client should play an audio clip hosted at a\nclient-specific URI. Dialogflow uses this to construct\nmixed_audio. However, Dialogflow itself\ndoes not try to read or process the URI in any way."
        },
        "outputAudioText": {
          "description": "A text or ssml response that is preferentially used for TTS output audio\nsynthesis, as described in the comment on the ResponseMessage message.",
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText"
        }
      },
      "description": "Represents a response message that can be returned by a conversational agent.\n\nResponse messages are also used for output audio synthesis. The approach is\nas follows:\n\n* If at least one OutputAudioText response is present, then all\n  OutputAudioText responses are linearly concatenated, and the result is used\n  for output audio synthesis.\n* If the OutputAudioText responses are a mixture of text and SSML, then the\n  concatenated result is treated as SSML; otherwise, the result is treated as\n  either text or SSML as appropriate. The agent designer should ideally use\n  either text or SSML consistently throughout the bot design.\n* Otherwise, all Text responses are linearly concatenated, and the result is\n  used for output audio synthesis.\n\nThis approach allows for more sophisticated user experience scenarios, where\nthe text displayed to the user may differ from what is heard."
    },
    "GoogleCloudDialogflowV2IntentMessageCard": {
      "type": "object",
      "description": "The card response message.",
      "id": "GoogleCloudDialogflowV2IntentMessageCard",
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. The title of the card."
        },
        "buttons": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageCardButton"
          },
          "description": "Optional. The collection of card buttons.",
          "type": "array"
        },
        "subtitle": {
          "description": "Optional. The subtitle of the card.",
          "type": "string"
        },
        "imageUri": {
          "type": "string",
          "description": "Optional. The public URI to an image file for the card."
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Custom metadata. Dialogflow doesn't impose any structure on this."
        }
      },
      "description": "Indicates that the conversation succeeded, i.e., the bot handled the issue\nthat the customer talked to it about.\n\nDialogflow only uses this to determine which conversations should be\ncounted as successful and doesn't process the metadata in this message in\nany way. Note that Dialogflow also considers conversations that get to the\nconversation end page as successful even if they don't return\nConversationSuccess.\n\nYou may set this, for example:\n* In the entry_fulfillment of a Page if\n  entering the page indicates that the conversation succeeded.\n* In a webhook response when you determine that you handled the customer\n  issue.",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudio": {
      "type": "object",
      "properties": {
        "segments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment"
          },
          "description": "Segments this audio response is composed of."
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudio",
      "description": "Represents an audio message that is composed of both segments\nsynthesized from the Dialogflow agent prompts and ones hosted externally\nat the specified URIs.\nThe external URIs are specified via\nplay_audio.\nThis message is generated by Dialogflow only and not supposed to be\ndefined by the user."
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue",
      "type": "object",
      "properties": {
        "originalValue": {
          "type": "string",
          "description": "Always present. Original text value extracted from user utterance."
        },
        "resolvedValue": {
          "type": "any",
          "description": "Always present. Structured value for the parameter extracted from user\nutterance."
        }
      },
      "description": "Represents a value for an intent parameter."
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo",
      "description": "Represents fulfillment information communicated to the webhook.",
      "type": "object",
      "properties": {
        "tag": {
          "type": "string",
          "description": "Always present. The tag used to identify which fulfillment is being\ncalled."
        }
      }
    },
    "GoogleCloudDialogflowV2beta1EntityType": {
      "properties": {
        "entities": {
          "description": "Optional. The collection of entity entries associated with the entity type.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
          }
        },
        "autoExpansionMode": {
          "type": "string",
          "description": "Optional. Indicates whether the entity type can be automatically\nexpanded.",
          "enumDescriptions": [
            "Auto expansion disabled for the entity.",
            "Allows an agent to recognize values that have not been explicitly\nlisted in the entity."
          ],
          "enum": [
            "AUTO_EXPANSION_MODE_UNSPECIFIED",
            "AUTO_EXPANSION_MODE_DEFAULT"
          ]
        },
        "enableFuzzyExtraction": {
          "type": "boolean",
          "description": "Optional. Enables fuzzy entity extraction during classification."
        },
        "displayName": {
          "description": "Required. The name of the entity type.",
          "type": "string"
        },
        "name": {
          "description": "The unique identifier of the entity type.\nRequired for EntityTypes.UpdateEntityType and\nEntityTypes.BatchUpdateEntityTypes methods.\nFormat: `projects/\u003cProject ID\u003e/agent/entityTypes/\u003cEntity Type ID\u003e`.",
          "type": "string"
        },
        "kind": {
          "enum": [
            "KIND_UNSPECIFIED",
            "KIND_MAP",
            "KIND_LIST",
            "KIND_REGEXP"
          ],
          "description": "Required. Indicates the kind of entity type.",
          "enumDescriptions": [
            "Not specified. This value should be never used.",
            "Map entity types allow mapping of a group of synonyms to a reference\nvalue.",
            "List entity types contain a set of entries that do not map to reference\nvalues. However, list entity types can contain references to other entity\ntypes (with or without aliases).",
            "Regexp entity types allow to specify regular expressions in entries\nvalues."
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1EntityType",
      "description": "Each intent parameter has a type, called the entity type, which dictates\nexactly how data from an end-user expression is extracted.\n\nDialogflow provides predefined system entities that can match many common\ntypes of data. For example, there are system entities for matching dates,\ntimes, colors, email addresses, and so on. You can also create your own\ncustom entities for matching custom data. For example, you could define a\nvegetable entity that can match the types of vegetables available for\npurchase with a grocery store agent.\n\nFor more information, see the\n[Entity guide](https://cloud.google.com/dialogflow/docs/entities-overview).",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageSuggestion": {
      "description": "The suggestion chip message that the user can tap to quickly post a reply\nto the conversation.",
      "properties": {
        "title": {
          "description": "Required. The text shown the in the suggestion chip.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageSuggestion",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1VoiceSelectionParams": {
      "type": "object",
      "description": "Description of which voice to use for speech synthesis.",
      "properties": {
        "ssmlGender": {
          "description": "Optional. The preferred gender of the voice. If not set, the service will\nchoose a voice based on the other parameters such as language_code and\nname. Note that this is only a preference, not requirement. If a\nvoice of the appropriate gender is not available, the synthesizer should\nsubstitute a voice with a different gender rather than failing the request.",
          "type": "string",
          "enumDescriptions": [
            "An unspecified gender, which means that the client doesn't care which\ngender the selected voice will have.",
            "A male voice.",
            "A female voice.",
            "A gender-neutral voice."
          ],
          "enum": [
            "SSML_VOICE_GENDER_UNSPECIFIED",
            "SSML_VOICE_GENDER_MALE",
            "SSML_VOICE_GENDER_FEMALE",
            "SSML_VOICE_GENDER_NEUTRAL"
          ]
        },
        "name": {
          "description": "Optional. The name of the voice. If not set, the service will choose a\nvoice based on the other parameters such as language_code and\nssml_gender.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1VoiceSelectionParams"
    },
    "GoogleCloudDialogflowV2IntentMessageSimpleResponse": {
      "description": "The simple response message containing speech or text.",
      "id": "GoogleCloudDialogflowV2IntentMessageSimpleResponse",
      "type": "object",
      "properties": {
        "displayText": {
          "description": "Optional. The text to display.",
          "type": "string"
        },
        "textToSpeech": {
          "description": "One of text_to_speech or ssml must be provided. The plain text of the\nspeech output. Mutually exclusive with ssml.",
          "type": "string"
        },
        "ssml": {
          "type": "string",
          "description": "One of text_to_speech or ssml must be provided. Structured spoken\nresponse to the user in the SSML format. Mutually exclusive with\ntext_to_speech."
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse": {
      "properties": {
        "mergeBehavior": {
          "enum": [
            "MERGE_BEHAVIOR_UNSPECIFIED",
            "APPEND",
            "REPLACE"
          ],
          "description": "Merge behavior for `messages`.",
          "type": "string",
          "enumDescriptions": [
            "Not specified. `APPEND` will be used.",
            "`messages` will be appended to the list of messages waiting to be sent\nto the user.",
            "`messages` will replace the list of messages waiting to be sent to the\nuser."
          ]
        },
        "messages": {
          "type": "array",
          "description": "The list of rich message responses to present to the user.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse",
      "type": "object",
      "description": "Represents a fulfillment response to the user."
    },
    "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion",
      "properties": {
        "uri": {
          "description": "Required. The URI of the app or site to open when the user taps the\nsuggestion chip.",
          "type": "string"
        },
        "destinationName": {
          "description": "Required. The name of the app or site this chip is linking to.",
          "type": "string"
        }
      },
      "description": "The suggestion chip message that allows the user to jump out to the app\nor website associated with this agent."
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTableCard": {
      "description": "Table card for Actions on Google.",
      "properties": {
        "title": {
          "description": "Required. Title of the card.",
          "type": "string"
        },
        "columnProperties": {
          "type": "array",
          "description": "Optional. Display properties for the columns in this table.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties"
          }
        },
        "rows": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow"
          },
          "description": "Optional. Rows in this table of data.",
          "type": "array"
        },
        "subtitle": {
          "type": "string",
          "description": "Optional. Subtitle to the title."
        },
        "image": {
          "description": "Optional. Image which should be displayed on the card.",
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "buttons": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton"
          },
          "type": "array",
          "description": "Optional. List of buttons for the card."
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCard"
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction": {
      "properties": {
        "urlTypeHint": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Url would be an amp action",
            "URL that points directly to AMP content, or to a canonical URL\nwhich refers to AMP content via \u003clink rel=\"amphtml\"\u003e."
          ],
          "enum": [
            "URL_TYPE_HINT_UNSPECIFIED",
            "AMP_ACTION",
            "AMP_CONTENT"
          ],
          "description": "Optional. Specifies the type of viewer that is used when opening\nthe URL. Defaults to opening via web browser."
        },
        "url": {
          "type": "string",
          "description": "Required. URL"
        }
      },
      "type": "object",
      "description": "Actions on Google action to open a given url.",
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction": {
      "description": "Actions on Google action to open a given url.",
      "type": "object",
      "properties": {
        "urlTypeHint": {
          "enum": [
            "URL_TYPE_HINT_UNSPECIFIED",
            "AMP_ACTION",
            "AMP_CONTENT"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Url would be an amp action",
            "URL that points directly to AMP content, or to a canonical URL\nwhich refers to AMP content via \u003clink rel=\"amphtml\"\u003e."
          ],
          "description": "Optional. Specifies the type of viewer that is used when opening\nthe URL. Defaults to opening via web browser.",
          "type": "string"
        },
        "url": {
          "description": "Required. URL",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
    },
    "GoogleTypeLatLng": {
      "properties": {
        "longitude": {
          "format": "double",
          "type": "number",
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0]."
        },
        "latitude": {
          "format": "double",
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "type": "number"
        }
      },
      "description": "An object representing a latitude/longitude pair. This is expressed as a pair\nof doubles representing degrees latitude and degrees longitude. Unless\nspecified otherwise, this must conform to the\n\u003ca href=\"http://www.unoosa.org/pdf/icg/2012/template/WGS_84.pdf\"\u003eWGS84\nstandard\u003c/a\u003e. Values must be within normalized ranges.",
      "id": "GoogleTypeLatLng",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedAction": {
      "properties": {
        "postbackData": {
          "type": "string",
          "description": "Opaque payload that the Dialogflow receives in a user event\nwhen the user taps the suggested action. This data will be also\nforwarded to webhook to allow performing custom business logic."
        },
        "text": {
          "type": "string",
          "description": "Text to display alongside the action."
        },
        "shareLocation": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation",
          "description": "Suggested client side action: Share user location"
        },
        "openUrl": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri",
          "description": "Suggested client side action: Open a URI on device"
        },
        "dial": {
          "description": "Suggested client side action: Dial a phone number",
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedAction",
      "type": "object",
      "description": "Rich Business Messaging (RBM) suggested client-side action that the user\ncan choose from the card."
    },
    "GoogleCloudDialogflowV2beta1DocumentReloadStatus": {
      "id": "GoogleCloudDialogflowV2beta1DocumentReloadStatus",
      "type": "object",
      "description": "The status of a reload attempt.",
      "properties": {
        "status": {
          "description": "Output only. The status of a reload attempt or the initial load.",
          "$ref": "GoogleRpcStatus"
        },
        "time": {
          "format": "google-datetime",
          "description": "Output only. The time of a reload attempt.\nThis reload may have been triggered automatically or manually and may\nnot have succeeded.",
          "type": "string"
        }
      }
    },
    "GoogleLongrunningOperation": {
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "type": "object",
          "description": "The normal response of the operation in case of success.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`/`Create`/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
      "id": "GoogleLongrunningOperation"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties": {
      "type": "object",
      "description": "Column properties for TableCard.",
      "properties": {
        "header": {
          "type": "string",
          "description": "Required. Column heading."
        },
        "horizontalAlignment": {
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "LEADING",
            "CENTER",
            "TRAILING"
          ],
          "description": "Optional. Defines text alignment for all cells in this column.",
          "type": "string",
          "enumDescriptions": [
            "Text is aligned to the leading edge of the column.",
            "Text is aligned to the leading edge of the column.",
            "Text is centered in the column.",
            "Text is aligned to the trailing edge of the column."
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties"
    },
    "GoogleCloudDialogflowV2IntentFollowupIntentInfo": {
      "properties": {
        "parentFollowupIntentName": {
          "type": "string",
          "description": "The unique identifier of the followup intent's parent.\nFormat: `projects/\u003cProject ID\u003e/agent/intents/\u003cIntent ID\u003e`."
        },
        "followupIntentName": {
          "type": "string",
          "description": "The unique identifier of the followup intent.\nFormat: `projects/\u003cProject ID\u003e/agent/intents/\u003cIntent ID\u003e`."
        }
      },
      "id": "GoogleCloudDialogflowV2IntentFollowupIntentInfo",
      "description": "Represents a single followup intent in the chain.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageCardButton": {
      "description": "Contains information about a button.",
      "properties": {
        "text": {
          "description": "Optional. The text to show on the button.",
          "type": "string"
        },
        "postback": {
          "description": "Optional. The text to send back to the Dialogflow API or a URI to\nopen.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageCardButton"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageImage": {
      "type": "object",
      "description": "The image response message.",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageImage",
      "properties": {
        "accessibilityText": {
          "type": "string",
          "description": "A text description of the image to be used for accessibility,\ne.g., screen readers. Required if image_uri is set for CarouselSelect."
        },
        "imageUri": {
          "description": "Optional. The public URI to an image file.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageSelectItemInfo": {
      "properties": {
        "synonyms": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of synonyms that can also be used to trigger this\nitem in dialog."
        },
        "key": {
          "type": "string",
          "description": "Required. A unique key that will be sent back to the agent if this\nresponse is given."
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo",
      "description": "Additional info about the select item for when it is triggered in a\ndialog.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageTableCard": {
      "properties": {
        "buttons": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButton"
          },
          "type": "array",
          "description": "Optional. List of buttons for the card."
        },
        "title": {
          "description": "Required. Title of the card.",
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage",
          "description": "Optional. Image which should be displayed on the card."
        },
        "rows": {
          "description": "Optional. Rows in this table of data.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageTableCardRow"
          },
          "type": "array"
        },
        "columnProperties": {
          "description": "Optional. Display properties for the columns in this table.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageColumnProperties"
          }
        },
        "subtitle": {
          "type": "string",
          "description": "Optional. Subtitle to the title."
        }
      },
      "description": "Table card for Actions on Google.",
      "id": "GoogleCloudDialogflowV2IntentMessageTableCard",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AnnotatedConversationDataset": {
      "type": "object",
      "properties": {
        "questionTypeName": {
          "type": "string",
          "description": "Output only. Question type name that identifies a labeling task.\nA question is a single task that a worker answers. A question type is set\nof related questions. Each question belongs to a particular question type.\nIt can be used in CrowdCompute UI to filter and manage labeling tasks."
        },
        "exampleCount": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Number of examples in the annotated conversation dataset."
        },
        "name": {
          "description": "Output only. AnnotatedConversationDataset resource name. Format:\n`projects/\u003cProject ID\u003e/conversationDatasets/\u003cConversation Dataset\nID\u003e/annotatedConversationDatasets/\u003cAnnotated Conversation Dataset ID\u003e`",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the annotated conversation dataset.\nMaximum of 10000 bytes."
        },
        "displayName": {
          "description": "Required. The display name of the annotated conversation dataset.\nIt's specified when user starts an annotation task. Maximum of 64 bytes.",
          "type": "string"
        },
        "completedExampleCount": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Number of examples that have annotations in the annotated\nconversation dataset."
        },
        "createTime": {
          "description": "Output only. Creation time of this annotated conversation dataset.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Represents an annotated conversation dataset.\nConversationDataset can have multiple AnnotatedConversationDataset, each of\nthem represents one result from one annotation task.\nAnnotatedConversationDataset can only be generated from annotation task,\nwhich will be triggered by LabelConversation.",
      "id": "GoogleCloudDialogflowV2beta1AnnotatedConversationDataset"
    },
    "GoogleCloudDialogflowV2IntentMessageMediaContent": {
      "properties": {
        "mediaObjects": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject"
          },
          "description": "Required. List of media objects.",
          "type": "array"
        },
        "mediaType": {
          "description": "Optional. What type of media is the content (ie \"audio\").",
          "enumDescriptions": [
            "Unspecified.",
            "Response media type is audio."
          ],
          "enum": [
            "RESPONSE_MEDIA_TYPE_UNSPECIFIED",
            "AUDIO"
          ],
          "type": "string"
        }
      },
      "description": "The media content card for Actions on Google.",
      "id": "GoogleCloudDialogflowV2IntentMessageMediaContent",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion",
      "description": "Rich Business Messaging (RBM) suggestion. Suggestions allow user to\neasily select/click a predefined response or perform an action (like\nopening a web uri).",
      "properties": {
        "reply": {
          "description": "Predefined replies for user to select instead of typing",
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedReply"
        },
        "action": {
          "description": "Predefined client side actions that user can choose",
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedAction"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessage": {
      "properties": {
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage",
          "description": "The image response."
        },
        "linkOutSuggestion": {
          "description": "The link out suggestion chip for Actions on Google.",
          "$ref": "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion"
        },
        "listSelect": {
          "description": "The list card response for Actions on Google.",
          "$ref": "GoogleCloudDialogflowV2IntentMessageListSelect"
        },
        "platform": {
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FACEBOOK",
            "SLACK",
            "TELEGRAM",
            "KIK",
            "SKYPE",
            "LINE",
            "VIBER",
            "ACTIONS_ON_GOOGLE",
            "GOOGLE_HANGOUTS"
          ],
          "description": "Optional. The platform that this message is intended for.",
          "type": "string",
          "enumDescriptions": [
            "Default platform.",
            "Facebook.",
            "Slack.",
            "Telegram.",
            "Kik.",
            "Skype.",
            "Line.",
            "Viber.",
            "Google Assistant\nSee [Dialogflow webhook\nformat](https://developers.google.com/assistant/actions/build/json/dialogflow-webhook-json)",
            "Google Hangouts."
          ]
        },
        "payload": {
          "description": "A custom platform-specific response.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "browseCarouselCard": {
          "description": "Browse carousel card for Actions on Google.",
          "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard"
        },
        "basicCard": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCard",
          "description": "The basic card response for Actions on Google."
        },
        "tableCard": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageTableCard",
          "description": "Table card for Actions on Google."
        },
        "text": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageText",
          "description": "The text response."
        },
        "suggestions": {
          "description": "The suggestion chips for Actions on Google.",
          "$ref": "GoogleCloudDialogflowV2IntentMessageSuggestions"
        },
        "quickReplies": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageQuickReplies",
          "description": "The quick replies response."
        },
        "simpleResponses": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSimpleResponses",
          "description": "The voice and text-only responses for Actions on Google."
        },
        "card": {
          "description": "The card response.",
          "$ref": "GoogleCloudDialogflowV2IntentMessageCard"
        },
        "carouselSelect": {
          "description": "The carousel card response for Actions on Google.",
          "$ref": "GoogleCloudDialogflowV2IntentMessageCarouselSelect"
        },
        "mediaContent": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageMediaContent",
          "description": "The media content card for Actions on Google."
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessage",
      "description": "A rich response message.\nCorresponds to the intent `Response` field in the Dialogflow console.\nFor more information, see\n[Rich response\nmessages](https://cloud.google.com/dialogflow/docs/intents-rich-messages)."
    },
    "GoogleCloudDialogflowV2WebhookResponse": {
      "properties": {
        "fulfillmentText": {
          "description": "Optional. The text response message intended for the end-user.\nIt is recommended to use `fulfillment_messages.text.text[0]` instead.\nWhen provided, Dialogflow uses this field to populate\nQueryResult.fulfillment_text sent to the integration or API caller.",
          "type": "string"
        },
        "payload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. This field can be used to pass custom data from your webhook to the\nintegration or API caller. Arbitrary JSON objects are supported.\nWhen provided, Dialogflow uses this field to populate\nQueryResult.webhook_payload sent to the integration or API caller.\nThis field is also used by the\n[Google Assistant\nintegration](https://cloud.google.com/dialogflow/docs/integrations/aog)\nfor rich response messages.\nSee the format definition at [Google Assistant Dialogflow webhook\nformat](https://developers.google.com/assistant/actions/build/json/dialogflow-webhook-json)",
          "type": "object"
        },
        "followupEventInput": {
          "$ref": "GoogleCloudDialogflowV2EventInput",
          "description": "Optional. Invokes the supplied events.\nWhen this field is set, Dialogflow ignores the `fulfillment_text`,\n`fulfillment_messages`, and `payload` fields."
        },
        "source": {
          "description": "Optional. A custom field used to identify the webhook source.\nArbitrary strings are supported.\nWhen provided, Dialogflow uses this field to populate\nQueryResult.webhook_source sent to the integration or API caller.",
          "type": "string"
        },
        "sessionEntityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SessionEntityType"
          },
          "description": "Optional. Additional session entity types to replace or extend developer\nentity types with. The entity synonyms apply to all languages and persist\nfor the session. Setting this data from a webhook overwrites\nthe session entity types that have been set using `detectIntent`,\n`streamingDetectIntent` or SessionEntityType management methods.",
          "type": "array"
        },
        "outputContexts": {
          "description": "Optional. The collection of output contexts that will overwrite currently\nactive contexts for the session and reset their lifespans.\nWhen provided, Dialogflow uses this field to populate\nQueryResult.output_contexts sent to the integration or API caller.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          },
          "type": "array"
        },
        "fulfillmentMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          },
          "description": "Optional. The rich response messages intended for the end-user.\nWhen provided, Dialogflow uses this field to populate\nQueryResult.fulfillment_messages sent to the integration or API caller."
        }
      },
      "description": "The response message for a webhook call.\n\nThis response is validated by the Dialogflow server. If validation fails,\nan error will be returned in the QueryResult.diagnostic_info field.\nSetting JSON fields to an empty value with the wrong type is a common error.\nTo avoid this error:\n\n- Use `\"\"` for empty strings\n- Use `{}` or `null` for empty objects\n- Use `[]` or `null` for empty arrays\n\nFor more information, see the\n[Protocol Buffers Language\nGuide](https://developers.google.com/protocol-buffers/docs/proto3#json).",
      "type": "object",
      "id": "GoogleCloudDialogflowV2WebhookResponse"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageText": {
      "description": "The text response message.",
      "type": "object",
      "properties": {
        "text": {
          "type": "array",
          "description": "Required. A collection of text responses.",
          "items": {
            "type": "string"
          }
        },
        "allowPlaybackInterruption": {
          "description": "Whether the playback of this message can be interrupted by the end\nuser's speech and the client can then starts the next Dialogflow\nrequest.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageText"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageHumanAgentHandoff": {
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Custom metadata for your handoff procedure. Dialogflow doesn't impose\nany structure on this."
        }
      },
      "description": "Indicates that the conversation should be handed off to a human agent.\n\nDialogflow only uses this to determine which conversations were handed off\nto a human agent for measurement purposes. What else to do with this signal\nis up to you and your handoff procedures.\n\nYou may set this, for example:\n* In the entry_fulfillment of a Page if\n  entering the page indicates something went extremely wrong in the\n  conversation.\n* In a webhook response when you determine that the customer issue can only\n  be handled by a human.",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageHumanAgentHandoff"
    },
    "GoogleCloudDialogflowV2beta1EventInput": {
      "description": "Events allow for matching intents by event name instead of the natural\nlanguage input. For instance, input `\u003cevent: { name: \"welcome_event\",\nparameters: { name: \"Sam\" } }\u003e` can trigger a personalized welcome response.\nThe parameter `name` may be used by the agent in the response:\n`\"Hello #welcome_event.name! What can I do for you today?\"`.",
      "properties": {
        "parameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "The collection of parameters associated with the event.\n\nDepending on your protocol or client library language, this is a\nmap, associative array, symbol table, dictionary, or JSON object\ncomposed of a collection of (MapKey, MapValue) pairs:\n\n-   MapKey type: string\n-   MapKey value: parameter name\n-   MapValue type:\n    -   If parameter's entity type is a composite entity: map\n    -   Else: string or number, depending on parameter value type\n-   MapValue value:\n    -   If parameter's entity type is a composite entity:\n        map from composite entity property names to property values\n    -   Else: parameter value"
        },
        "name": {
          "type": "string",
          "description": "Required. The unique identifier of the event."
        },
        "languageCode": {
          "description": "Required. The language of this query. See [Language\nSupport](https://cloud.google.com/dialogflow/docs/reference/language)\nfor a list of the currently supported language codes. Note that queries in\nthe same session do not necessarily need to specify the same language.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1EventInput",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ListEnvironmentsResponse": {
      "id": "GoogleCloudDialogflowV2beta1ListEnvironmentsResponse",
      "type": "object",
      "properties": {
        "environments": {
          "description": "The list of agent environments. There will be a maximum number of items\nreturned based on the page_size field in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Environment"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no\nmore results in the list."
        }
      },
      "description": "The response message for Environments.ListEnvironments."
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard",
      "type": "object",
      "properties": {
        "cardOrientation": {
          "enumDescriptions": [
            "Not specified.",
            "Horizontal layout.",
            "Vertical layout."
          ],
          "type": "string",
          "description": "Required. Orientation of the card.",
          "enum": [
            "CARD_ORIENTATION_UNSPECIFIED",
            "HORIZONTAL",
            "VERTICAL"
          ]
        },
        "thumbnailImageAlignment": {
          "enum": [
            "THUMBNAIL_IMAGE_ALIGNMENT_UNSPECIFIED",
            "LEFT",
            "RIGHT"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Thumbnail preview is left-aligned.",
            "Thumbnail preview is right-aligned."
          ],
          "type": "string",
          "description": "Required if orientation is horizontal.\nImage preview alignment for standalone cards with horizontal layout."
        },
        "cardContent": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent",
          "description": "Required. Card content."
        }
      },
      "description": "Standalone Rich Business Messaging (RBM) rich card.\n\nRich cards allow you to respond to users with more vivid content, e.g.\nwith media and suggestions.\n\nYou can group multiple rich cards into one using RbmCarouselCard but\ncarousel cards will give you less control over the card layout."
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAnswers": {
      "type": "object",
      "properties": {
        "answers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer"
          },
          "description": "A list of answers from Knowledge Connector.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAnswers",
      "description": "Represents the result of querying a Knowledge base."
    },
    "GoogleCloudDialogflowV2Sentiment": {
      "type": "object",
      "properties": {
        "magnitude": {
          "description": "A non-negative number in the [0, +inf) range, which represents the absolute\nmagnitude of sentiment, regardless of score (positive or negative).",
          "format": "float",
          "type": "number"
        },
        "score": {
          "description": "Sentiment score between -1.0 (negative sentiment) and 1.0 (positive\nsentiment).",
          "format": "float",
          "type": "number"
        }
      },
      "description": "The sentiment, such as positive/negative feeling or association, for a unit\nof analysis, such as the query text.",
      "id": "GoogleCloudDialogflowV2Sentiment"
    },
    "GoogleCloudDialogflowV2beta1SessionEntityType": {
      "id": "GoogleCloudDialogflowV2beta1SessionEntityType",
      "properties": {
        "entities": {
          "type": "array",
          "description": "Required. The collection of entities associated with this session entity\ntype.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
          }
        },
        "name": {
          "description": "Required. The unique identifier of this session entity type. Format:\n`projects/\u003cProject ID\u003e/agent/sessions/\u003cSession ID\u003e/entityTypes/\u003cEntity Type\nDisplay Name\u003e`, or\n`projects/\u003cProject ID\u003e/agent/environments/\u003cEnvironment ID\u003e/users/\u003cUser\nID\u003e/sessions/\u003cSession ID\u003e/entityTypes/\u003cEntity Type Display Name\u003e`.\nIf `Environment ID` is not specified, we assume default 'draft'\nenvironment. If `User ID` is not specified, we assume default '-' user.\n\n`\u003cEntity Type Display Name\u003e` must be the display name of an existing entity\ntype in the same agent that will be overridden or supplemented.",
          "type": "string"
        },
        "entityOverrideMode": {
          "enum": [
            "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
            "ENTITY_OVERRIDE_MODE_OVERRIDE",
            "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          ],
          "enumDescriptions": [
            "Not specified. This value should be never used.",
            "The collection of session entities overrides the collection of entities\nin the corresponding custom entity type.",
            "The collection of session entities extends the collection of entities in\nthe corresponding custom entity type.\n\nNote: Even in this override mode calls to `ListSessionEntityTypes`,\n`GetSessionEntityType`, `CreateSessionEntityType` and\n`UpdateSessionEntityType` only return the additional entities added in\nthis session entity type. If you want to get the supplemented list,\nplease call EntityTypes.GetEntityType on the custom entity type\nand merge."
          ],
          "description": "Required. Indicates whether the additional data should override or\nsupplement the custom entity type definition.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A session represents a conversation between a Dialogflow agent and an\nend-user. You can create special entities, called session entities, during a\nsession. Session entities can extend or replace custom entity types and only\nexist during the session that they were created for. All session data,\nincluding session entities, is stored by Dialogflow for 20 minutes.\n\nFor more information, see the [session entity\nguide](https://cloud.google.com/dialogflow/docs/entities-session)."
    },
    "GoogleCloudDialogflowV2beta1ExportAgentRequest": {
      "properties": {
        "agentUri": {
          "type": "string",
          "description": "Optional. The\n[Google Cloud Storage](https://cloud.google.com/storage/docs/)\nURI to export the agent to.\nThe format of this URI must be `gs://\u003cbucket-name\u003e/\u003cobject-name\u003e`.\nIf left unspecified, the serialized agent is returned inline."
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ExportAgentRequest",
      "description": "The request message for Agents.ExportAgent."
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent": {
      "description": "Rich Business Messaging (RBM) Card content",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent",
      "type": "object",
      "properties": {
        "title": {
          "description": "Optional. Title of the card (at most 200 bytes).\n\nAt least one of the title, description or media must be set.",
          "type": "string"
        },
        "media": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia",
          "description": "Optional. However at least one of the title, description or media must\nbe set. Media (image, GIF or a video) to include in the card."
        },
        "suggestions": {
          "description": "Optional. List of suggestions to include in the card.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion"
          },
          "type": "array"
        },
        "description": {
          "description": "Optional. Description of the card (at most 2000 bytes).\n\nAt least one of the title, description or media must be set.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageListSelectItem": {
      "properties": {
        "title": {
          "type": "string",
          "description": "Required. The title of the list item."
        },
        "image": {
          "description": "Optional. The image to display.",
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "info": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo",
          "description": "Required. Additional information about this option."
        },
        "description": {
          "type": "string",
          "description": "Optional. The main text describing the item."
        }
      },
      "description": "An item in the list.",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageListSelectItem",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentParameter": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentParameter",
      "properties": {
        "entityTypeDisplayName": {
          "description": "Optional. The name of the entity type, prefixed with `@`, that\ndescribes values of the parameter. If the parameter is\nrequired, this must be provided.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The name of the parameter."
        },
        "mandatory": {
          "type": "boolean",
          "description": "Optional. Indicates whether the parameter is required. That is,\nwhether the intent cannot be completed without collecting the parameter\nvalue."
        },
        "defaultValue": {
          "type": "string",
          "description": "Optional. The default value to use when the `value` yields an empty\nresult.\nDefault values can be extracted from contexts by using the following\nsyntax: `#context_name.parameter_name`."
        },
        "isList": {
          "description": "Optional. Indicates whether the parameter represents a list of values.",
          "type": "boolean"
        },
        "name": {
          "description": "The unique identifier of this parameter.",
          "type": "string"
        },
        "prompts": {
          "type": "array",
          "description": "Optional. The collection of prompts that the agent can present to the\nuser in order to collect a value for the parameter.",
          "items": {
            "type": "string"
          }
        },
        "value": {
          "type": "string",
          "description": "Optional. The definition of the parameter value. It can be:\n\n- a constant string,\n- a parameter value defined as `$parameter_name`,\n- an original parameter value defined as `$parameter_name.original`,\n- a parameter value from some context defined as\n  `#context_name.parameter_name`."
        }
      },
      "description": "Represents intent parameters."
    },
    "GoogleCloudDialogflowV2beta1InputAudioConfig": {
      "properties": {
        "singleUtterance": {
          "type": "boolean",
          "description": "If `false` (default), recognition does not cease until the\nclient closes the stream.\nIf `true`, the recognizer will detect a single spoken utterance in input\naudio. Recognition ceases when it detects the audio's voice has\nstopped or paused. In this case, once a detected intent is received, the\nclient should close the stream and start a new request with a new stream as\nneeded.\nNote: This setting is relevant only for streaming methods.\nNote: When specified, InputAudioConfig.single_utterance takes precedence\nover StreamingDetectIntentRequest.single_utterance."
        },
        "phraseHints": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of strings containing words and phrases that the speech\nrecognizer should recognize with higher likelihood.\n\nSee [the Cloud Speech\ndocumentation](https://cloud.google.com/speech-to-text/docs/basics#phrase-hints)\nfor more details.\n\nThis field is deprecated. Please use [speech_contexts]() instead. If you\nspecify both [phrase_hints]() and [speech_contexts](), Dialogflow will\ntreat the [phrase_hints]() as a single additional [SpeechContext]()."
        },
        "modelVariant": {
          "description": "Which variant of the Speech model to use.",
          "type": "string",
          "enum": [
            "SPEECH_MODEL_VARIANT_UNSPECIFIED",
            "USE_BEST_AVAILABLE",
            "USE_STANDARD",
            "USE_ENHANCED"
          ],
          "enumDescriptions": [
            "No model variant specified. In this case Dialogflow defaults to\nUSE_BEST_AVAILABLE.",
            "Use the best available variant of the Speech\nmodel that the caller is eligible for.\n\nPlease see the [Dialogflow\ndocs](https://cloud.google.com/dialogflow/docs/data-logging) for\nhow to make your project eligible for enhanced models.",
            "Use standard model variant even if an enhanced model is available.  See the\n[Cloud Speech\ndocumentation](https://cloud.google.com/speech-to-text/docs/enhanced-models)\nfor details about enhanced models.",
            "Use an enhanced model variant:\n\n* If an enhanced variant does not exist for the given\n  model and request language, Dialogflow falls\n  back to the standard variant.\n\n  The [Cloud Speech\n  documentation](https://cloud.google.com/speech-to-text/docs/enhanced-models)\n  describes which models have enhanced variants.\n\n* If the API caller isn't eligible for enhanced models, Dialogflow returns\n  an error.  Please see the [Dialogflow\n  docs](https://cloud.google.com/dialogflow/docs/data-logging)\n  for how to make your project eligible."
          ]
        },
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Sample rate (in Hertz) of the audio content sent in the query.\nRefer to\n[Cloud Speech API\ndocumentation](https://cloud.google.com/speech-to-text/docs/basics) for\nmore details."
        },
        "enableWordInfo": {
          "type": "boolean",
          "description": "If `true`, Dialogflow returns SpeechWordInfo in\nStreamingRecognitionResult with information about the recognized speech\nwords, e.g. start and end time offsets. If false or unspecified, Speech\ndoesn't return any word-level information."
        },
        "model": {
          "type": "string",
          "description": "Which Speech model to select for the given request. Select the\nmodel best suited to your domain to get best results. If a model is not\nexplicitly specified, then we auto-select a model based on the parameters\nin the InputAudioConfig.\nIf enhanced speech model is enabled for the agent and an enhanced\nversion of the specified model for the language does not exist, then the\nspeech is recognized using the standard version of the specified model.\nRefer to\n[Cloud Speech API\ndocumentation](https://cloud.google.com/speech-to-text/docs/basics#select-model)\nfor more details."
        },
        "speechContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SpeechContext"
          },
          "type": "array",
          "description": "Context information to assist speech recognition.\n\nSee [the Cloud Speech\ndocumentation](https://cloud.google.com/speech-to-text/docs/basics#phrase-hints)\nfor more details."
        },
        "audioEncoding": {
          "enumDescriptions": [
            "Not specified.",
            "Uncompressed 16-bit signed little-endian samples (Linear PCM).",
            "[`FLAC`](https://xiph.org/flac/documentation.html) (Free Lossless Audio\nCodec) is the recommended encoding because it is lossless (therefore\nrecognition is not compromised) and requires only about half the\nbandwidth of `LINEAR16`. `FLAC` stream encoding supports 16-bit and\n24-bit samples, however, not all fields in `STREAMINFO` are supported.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law.",
            "Adaptive Multi-Rate Narrowband codec. `sample_rate_hertz` must be 8000.",
            "Adaptive Multi-Rate Wideband codec. `sample_rate_hertz` must be 16000.",
            "Opus encoded audio frames in Ogg container\n([OggOpus](https://wiki.xiph.org/OggOpus)).\n`sample_rate_hertz` must be 16000.",
            "Although the use of lossy encodings is not recommended, if a very low\nbitrate encoding is required, `OGG_OPUS` is highly preferred over\nSpeex encoding. The [Speex](https://speex.org/) encoding supported by\nDialogflow API has a header byte in each block, as in MIME type\n`audio/x-speex-with-header-byte`.\nIt is a variant of the RTP Speex encoding defined in\n[RFC 5574](https://tools.ietf.org/html/rfc5574).\nThe stream is a sequence of blocks, one block per RTP packet. Each block\nstarts with a byte containing the length of the block, in bytes, followed\nby one or more frames of Speex data, padded to an integral number of\nbytes (octets) as specified in RFC 5574. In other words, each RTP header\nis replaced with a single byte containing the block length. Only Speex\nwideband is supported. `sample_rate_hertz` must be 16000."
          ],
          "description": "Required. Audio encoding of the audio content to process.",
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "AUDIO_ENCODING_LINEAR_16",
            "AUDIO_ENCODING_FLAC",
            "AUDIO_ENCODING_MULAW",
            "AUDIO_ENCODING_AMR",
            "AUDIO_ENCODING_AMR_WB",
            "AUDIO_ENCODING_OGG_OPUS",
            "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE"
          ],
          "type": "string"
        },
        "languageCode": {
          "description": "Required. The language of the supplied audio. Dialogflow does not do\ntranslations. See [Language\nSupport](https://cloud.google.com/dialogflow/docs/reference/language)\nfor a list of the currently supported language codes. Note that queries in\nthe same session do not necessarily need to specify the same language.",
          "type": "string"
        }
      },
      "description": "Instructs the speech recognizer on how to process the audio content.",
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1InputAudioConfig"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCardButton": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCardButton",
      "description": "Optional. Contains information about a button.",
      "properties": {
        "postback": {
          "description": "Optional. The text to send back to the Dialogflow API or a URI to\nopen.",
          "type": "string"
        },
        "text": {
          "description": "Optional. The text to show on the button.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2WebhookRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2WebhookRequest",
      "description": "The request message for a webhook call.",
      "properties": {
        "session": {
          "description": "The unique identifier of detectIntent request session.\nCan be used to identify end-user inside webhook implementation.\nFormat: `projects/\u003cProject ID\u003e/agent/sessions/\u003cSession ID\u003e`, or\n`projects/\u003cProject ID\u003e/agent/environments/\u003cEnvironment ID\u003e/users/\u003cUser\nID\u003e/sessions/\u003cSession ID\u003e`.",
          "type": "string"
        },
        "queryResult": {
          "description": "The result of the conversational query or event processing. Contains the\nsame value as `[Streaming]DetectIntentResponse.query_result`.",
          "$ref": "GoogleCloudDialogflowV2QueryResult"
        },
        "originalDetectIntentRequest": {
          "description": "Optional. The contents of the original request that was passed to\n`[Streaming]DetectIntent` call.",
          "$ref": "GoogleCloudDialogflowV2OriginalDetectIntentRequest"
        },
        "responseId": {
          "description": "The unique identifier of the response. Contains the same value as\n`[Streaming]DetectIntentResponse.response_id`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SynthesizeSpeechConfig": {
      "type": "object",
      "description": "Configuration of how speech should be synthesized.",
      "id": "GoogleCloudDialogflowV2beta1SynthesizeSpeechConfig",
      "properties": {
        "volumeGainDb": {
          "type": "number",
          "format": "double",
          "description": "Optional. Volume gain (in dB) of the normal native volume supported by the\nspecific voice, in the range [-96.0, 16.0]. If unset, or set to a value of\n0.0 (dB), will play at normal native signal amplitude. A value of -6.0 (dB)\nwill play at approximately half the amplitude of the normal native signal\namplitude. A value of +6.0 (dB) will play at approximately twice the\namplitude of the normal native signal amplitude. We strongly recommend not\nto exceed +10 (dB) as there's usually no effective increase in loudness for\nany value greater than that."
        },
        "pitch": {
          "format": "double",
[...]
