{
  "ownerName": "Google",
  "rootUrl": "https://dialogflow.googleapis.com/",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://dialogflow.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "protocol": "rest",
  "title": "Dialogflow API",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "id": "dialogflow:v2",
  "canonicalName": "Dialogflow",
  "name": "dialogflow",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "location": "query",
      "description": "Data format for response."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    }
  },
  "schemas": {
    "GoogleCloudDialogflowCxV3RunContinuousTestResponse": {
      "id": "GoogleCloudDialogflowCxV3RunContinuousTestResponse",
      "type": "object",
      "properties": {
        "continuousTestResult": {
          "description": "The result for a continuous test run.",
          "$ref": "GoogleCloudDialogflowCxV3ContinuousTestResult"
        }
      },
      "description": "The response message for Environments.RunContinuousTest."
    },
    "GoogleCloudDialogflowV2BatchDeleteIntentsRequest": {
      "properties": {
        "intents": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Intent"
          },
          "type": "array",
          "description": "Required. The collection of intents to delete. Only intent `name` must be filled in."
        }
      },
      "type": "object",
      "description": "The request message for Intents.BatchDeleteIntents.",
      "id": "GoogleCloudDialogflowV2BatchDeleteIntentsRequest"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageTelephonyTransferCall": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageTelephonyTransferCall",
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "Transfer the call to a phone number in [E.164 format](https://en.wikipedia.org/wiki/E.164)."
        }
      },
      "type": "object",
      "description": "Represents the signal that telles the client to transfer the phone call connected to the agent to a third-party endpoint."
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue": {
      "description": "Represents a value for an intent parameter.",
      "type": "object",
      "properties": {
        "resolvedValue": {
          "type": "any",
          "description": "Always present. Structured value for the parameter extracted from user utterance."
        },
        "originalValue": {
          "type": "string",
          "description": "Always present. Original text value extracted from user utterance."
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue"
    },
    "GoogleCloudDialogflowCxV3beta1ImportDocumentsOperationMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportDocumentsOperationMetadata",
      "type": "object",
      "description": "Metadata for ImportDocuments operation.",
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudDialogflowCxV3beta1GenericKnowledgeOperationMetadata",
          "description": "The generic information of the operation."
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmCarouselCard": {
      "description": "Carousel Rich Business Messaging (RBM) rich card. Rich cards allow you to respond to users with more vivid content, e.g. with media and suggestions. If you want to show a single card with more control over the layout, please use RbmStandaloneCard instead.",
      "properties": {
        "cardWidth": {
          "type": "string",
          "enum": [
            "CARD_WIDTH_UNSPECIFIED",
            "SMALL",
            "MEDIUM"
          ],
          "description": "Required. The width of the cards in the carousel.",
          "enumDescriptions": [
            "Not specified.",
            "120 DP. Note that tall media cannot be used.",
            "232 DP."
          ]
        },
        "cardContents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent"
          },
          "description": "Required. The cards in the carousel. A carousel must have at least 2 cards and at most 10."
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmCarouselCard"
    },
    "GoogleCloudDialogflowCxV3beta1EnvironmentVersionConfig": {
      "properties": {
        "version": {
          "type": "string",
          "description": "Required. Format: projects//locations//agents//flows//versions/."
        }
      },
      "type": "object",
      "description": "Configuration for the version.",
      "id": "GoogleCloudDialogflowCxV3beta1EnvironmentVersionConfig"
    },
    "GoogleCloudDialogflowCxV3beta1EventInput": {
      "id": "GoogleCloudDialogflowCxV3beta1EventInput",
      "type": "object",
      "description": "Represents the event to trigger.",
      "properties": {
        "event": {
          "description": "Name of the event.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2DocumentReloadStatus": {
      "id": "GoogleCloudDialogflowV2DocumentReloadStatus",
      "description": "The status of a reload attempt.",
      "properties": {
        "status": {
          "description": "The status of a reload attempt or the initial load.",
          "$ref": "GoogleRpcStatus"
        },
        "time": {
          "type": "string",
          "description": "The time of a reload attempt. This reload may have been triggered automatically or manually and may not have succeeded.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2OutputAudio": {
      "type": "object",
      "description": "Represents the natural language speech audio to be played to the end user.",
      "properties": {
        "config": {
          "description": "Instructs the speech synthesizer how to generate the speech audio.",
          "$ref": "GoogleCloudDialogflowV2OutputAudioConfig"
        },
        "audio": {
          "description": "The natural language speech audio.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2OutputAudio"
    },
    "GoogleCloudDialogflowCxV3beta1TestRunDifference": {
      "properties": {
        "description": {
          "type": "string",
          "description": "A description of the diff, showing the actual output vs expected output."
        },
        "type": {
          "description": "The type of diff.",
          "enumDescriptions": [
            "Should never be used.",
            "The intent.",
            "The page.",
            "The parameters.",
            "The message utterance."
          ],
          "type": "string",
          "enum": [
            "DIFF_TYPE_UNSPECIFIED",
            "INTENT",
            "PAGE",
            "PARAMETERS",
            "UTTERANCE"
          ]
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TestRunDifference",
      "type": "object",
      "description": "The description of differences between original and replayed agent output."
    },
    "GoogleCloudDialogflowV2DetectIntentRequest": {
      "properties": {
        "queryParams": {
          "description": "The parameters of this query.",
          "$ref": "GoogleCloudDialogflowV2QueryParameters"
        },
        "outputAudioConfig": {
          "description": "Instructs the speech synthesizer how to generate the output audio. If this field is not set and agent-level speech synthesizer is not configured, no output audio is generated.",
          "$ref": "GoogleCloudDialogflowV2OutputAudioConfig"
        },
        "queryInput": {
          "$ref": "GoogleCloudDialogflowV2QueryInput",
          "description": "Required. The input specification. It can be set to: 1. an audio config which instructs the speech recognizer how to process the speech audio, 2. a conversational query in the form of text, or 3. an event that specifies which intent to trigger."
        },
        "outputAudioConfigMask": {
          "description": "Mask for output_audio_config indicating which settings in this request-level config should override speech synthesizer settings defined at agent-level. If unspecified or empty, output_audio_config replaces the agent-level config in its entirety.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "inputAudio": {
          "description": "The natural language speech audio to be processed. This field should be populated iff `query_input` is set to an input audio config. A single request can contain up to 1 minute of speech audio data.",
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2DetectIntentRequest",
      "description": "The request to detect user's intent."
    },
    "GoogleCloudDialogflowCxV3beta1DeleteDocumentOperationMetadata": {
      "description": "Metadata for DeleteDocument operation.",
      "id": "GoogleCloudDialogflowCxV3beta1DeleteDocumentOperationMetadata",
      "properties": {
        "genericMetadata": {
          "description": "The generic information of the operation.",
          "$ref": "GoogleCloudDialogflowCxV3beta1GenericKnowledgeOperationMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2HumanAgentHandoffConfig": {
      "properties": {
        "salesforceLiveAgentConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentHandoffConfigSalesforceLiveAgentConfig",
          "description": "Uses Salesforce Live Agent."
        },
        "livePersonConfig": {
          "description": "Uses LivePerson (https://www.liveperson.com).",
          "$ref": "GoogleCloudDialogflowV2HumanAgentHandoffConfigLivePersonConfig"
        }
      },
      "id": "GoogleCloudDialogflowV2HumanAgentHandoffConfig",
      "type": "object",
      "description": "Defines the hand off to a live agent, typically on which external agent service provider to connect to a conversation. Currently, this feature is not general available, please contact Google to get access."
    },
    "GoogleCloudDialogflowV2beta1IntentMessageImage": {
      "type": "object",
      "description": "The image response message.",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageImage",
      "properties": {
        "accessibilityText": {
          "type": "string",
          "description": "A text description of the image to be used for accessibility, e.g., screen readers. Required if image_uri is set for CarouselSelect."
        },
        "imageUri": {
          "description": "Optional. The public URI to an image file.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2GcsDestination": {
      "type": "object",
      "description": "Google Cloud Storage location for the output.",
      "id": "GoogleCloudDialogflowV2GcsDestination",
      "properties": {
        "uri": {
          "type": "string",
          "description": "The Google Cloud Storage URIs for the output. A URI is of the form: gs://bucket/object-prefix-or-name Whether a prefix or name is used depends on the use case. The requesting user must have \"write-permission\" to the bucket."
        }
      }
    },
    "GoogleCloudDialogflowV2beta1Context": {
      "type": "object",
      "properties": {
        "lifespanCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of conversational query requests after which the context expires. The default is `0`. If set to `0`, the context expires immediately. Contexts expire automatically after 20 minutes if there are no matching queries."
        },
        "name": {
          "description": "Required. The unique identifier of the context. Supported formats: - `projects//agent/sessions//contexts/`, - `projects//locations//agent/sessions//contexts/`, - `projects//agent/environments//users//sessions//contexts/`, - `projects//locations//agent/environments//users//sessions//contexts/`, The `Context ID` is always converted to lowercase, may only contain characters in a-zA-Z0-9_-% and may be at most 250 bytes long. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user. The following context names are reserved for internal use by Dialogflow. You should not use these contexts or create contexts with these names: * `__system_counters__` * `*_id_dialog_context` * `*_dialog_params_size`",
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Optional. The collection of parameters associated with this context. Depending on your protocol or client library language, this is a map, associative array, symbol table, dictionary, or JSON object composed of a collection of (MapKey, MapValue) pairs: - MapKey type: string - MapKey value: parameter name - MapValue type: - If parameter's entity type is a composite entity: map - Else: depending on parameter value type, could be one of string, number, boolean, null, list or map - MapValue value: - If parameter's entity type is a composite entity: map from composite entity property names to property values - Else: parameter value"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1Context",
      "description": "Dialogflow contexts are similar to natural language context. If a person says to you \"they are orange\", you need context in order to understand what \"they\" is referring to. Similarly, for Dialogflow to handle an end-user expression like that, it needs to be provided with context in order to correctly match an intent. Using contexts, you can control the flow of a conversation. You can configure contexts for an intent by setting input and output contexts, which are identified by string names. When an intent is matched, any configured output contexts for that intent become active. While any contexts are active, Dialogflow is more likely to match intents that are configured with input contexts that correspond to the currently active contexts. For more information about context, see the [Contexts guide](https://cloud.google.com/dialogflow/docs/contexts-overview)."
    },
    "GoogleCloudDialogflowV2IntentMessageCardButton": {
      "id": "GoogleCloudDialogflowV2IntentMessageCardButton",
      "type": "object",
      "properties": {
        "text": {
          "description": "Optional. The text to show on the button.",
          "type": "string"
        },
        "postback": {
          "description": "Optional. The text to send back to the Dialogflow API or a URI to open.",
          "type": "string"
        }
      },
      "description": "Contains information about a button."
    },
    "GoogleCloudDialogflowCxV3beta1TestConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1TestConfig",
      "type": "object",
      "description": "Represents configurations for a test case.",
      "properties": {
        "page": {
          "type": "string",
          "description": "The page to start the test case with. Format: `projects//locations//agents//flows//pages/`. Only one of `flow` and `page` should be set to indicate the starting point of the test case. If both are set, `page` takes precedence over `flow`. If neither is set, the test case will start with start page on the default start flow."
        },
        "flow": {
          "type": "string",
          "description": "Flow name to start the test case with. Format: `projects//locations//agents//flows/`. Only one of `flow` and `page` should be set to indicate the starting point of the test case. If both are set, `page` takes precedence over `flow`. If neither is set, the test case will start with start page on the default start flow."
        },
        "trackingParameters": {
          "description": "Session parameters to be compared when calculating differences.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2InputAudioConfig": {
      "properties": {
        "audioEncoding": {
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "AUDIO_ENCODING_LINEAR_16",
            "AUDIO_ENCODING_FLAC",
            "AUDIO_ENCODING_MULAW",
            "AUDIO_ENCODING_AMR",
            "AUDIO_ENCODING_AMR_WB",
            "AUDIO_ENCODING_OGG_OPUS",
            "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Uncompressed 16-bit signed little-endian samples (Linear PCM).",
            "[`FLAC`](https://xiph.org/flac/documentation.html) (Free Lossless Audio Codec) is the recommended encoding because it is lossless (therefore recognition is not compromised) and requires only about half the bandwidth of `LINEAR16`. `FLAC` stream encoding supports 16-bit and 24-bit samples, however, not all fields in `STREAMINFO` are supported.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law.",
            "Adaptive Multi-Rate Narrowband codec. `sample_rate_hertz` must be 8000.",
            "Adaptive Multi-Rate Wideband codec. `sample_rate_hertz` must be 16000.",
            "Opus encoded audio frames in Ogg container ([OggOpus](https://wiki.xiph.org/OggOpus)). `sample_rate_hertz` must be 16000.",
            "Although the use of lossy encodings is not recommended, if a very low bitrate encoding is required, `OGG_OPUS` is highly preferred over Speex encoding. The [Speex](https://speex.org/) encoding supported by Dialogflow API has a header byte in each block, as in MIME type `audio/x-speex-with-header-byte`. It is a variant of the RTP Speex encoding defined in [RFC 5574](https://tools.ietf.org/html/rfc5574). The stream is a sequence of blocks, one block per RTP packet. Each block starts with a byte containing the length of the block, in bytes, followed by one or more frames of Speex data, padded to an integral number of bytes (octets) as specified in RFC 5574. In other words, each RTP header is replaced with a single byte containing the block length. Only Speex wideband is supported. `sample_rate_hertz` must be 16000."
          ],
          "description": "Required. Audio encoding of the audio content to process.",
          "type": "string"
        },
        "phraseHints": {
          "type": "array",
          "description": "A list of strings containing words and phrases that the speech recognizer should recognize with higher likelihood. See [the Cloud Speech documentation](https://cloud.google.com/speech-to-text/docs/basics#phrase-hints) for more details. This field is deprecated. Please use [speech_contexts]() instead. If you specify both [phrase_hints]() and [speech_contexts](), Dialogflow will treat the [phrase_hints]() as a single additional [SpeechContext]().",
          "items": {
            "type": "string"
          }
        },
        "disableNoSpeechRecognizedEvent": {
          "description": "Only used in Participants.AnalyzeContent and Participants.StreamingAnalyzeContent. If `false` and recognition doesn't return any result, trigger `NO_SPEECH_RECOGNIZED` event to Dialogflow agent.",
          "type": "boolean"
        },
        "enableWordInfo": {
          "description": "If `true`, Dialogflow returns SpeechWordInfo in StreamingRecognitionResult with information about the recognized speech words, e.g. start and end time offsets. If false or unspecified, Speech doesn't return any word-level information.",
          "type": "boolean"
        },
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Sample rate (in Hertz) of the audio content sent in the query. Refer to [Cloud Speech API documentation](https://cloud.google.com/speech-to-text/docs/basics) for more details."
        },
        "singleUtterance": {
          "type": "boolean",
          "description": "If `false` (default), recognition does not cease until the client closes the stream. If `true`, the recognizer will detect a single spoken utterance in input audio. Recognition ceases when it detects the audio's voice has stopped or paused. In this case, once a detected intent is received, the client should close the stream and start a new request with a new stream as needed. Note: This setting is relevant only for streaming methods. Note: When specified, InputAudioConfig.single_utterance takes precedence over StreamingDetectIntentRequest.single_utterance."
        },
        "model": {
          "type": "string",
          "description": "Which Speech model to select for the given request. Select the model best suited to your domain to get best results. If a model is not explicitly specified, then we auto-select a model based on the parameters in the InputAudioConfig. If enhanced speech model is enabled for the agent and an enhanced version of the specified model for the language does not exist, then the speech is recognized using the standard version of the specified model. Refer to [Cloud Speech API documentation](https://cloud.google.com/speech-to-text/docs/basics#select-model) for more details."
        },
        "modelVariant": {
          "enumDescriptions": [
            "No model variant specified. In this case Dialogflow defaults to USE_BEST_AVAILABLE.",
            "Use the best available variant of the Speech model that the caller is eligible for. Please see the [Dialogflow docs](https://cloud.google.com/dialogflow/docs/data-logging) for how to make your project eligible for enhanced models.",
            "Use standard model variant even if an enhanced model is available. See the [Cloud Speech documentation](https://cloud.google.com/speech-to-text/docs/enhanced-models) for details about enhanced models.",
            "Use an enhanced model variant: * If an enhanced variant does not exist for the given model and request language, Dialogflow falls back to the standard variant. The [Cloud Speech documentation](https://cloud.google.com/speech-to-text/docs/enhanced-models) describes which models have enhanced variants. * If the API caller isn't eligible for enhanced models, Dialogflow returns an error. Please see the [Dialogflow docs](https://cloud.google.com/dialogflow/docs/data-logging) for how to make your project eligible."
          ],
          "type": "string",
          "description": "Which variant of the Speech model to use.",
          "enum": [
            "SPEECH_MODEL_VARIANT_UNSPECIFIED",
            "USE_BEST_AVAILABLE",
            "USE_STANDARD",
            "USE_ENHANCED"
          ]
        },
        "languageCode": {
          "description": "Required. The language of the supplied audio. Dialogflow does not do translations. See [Language Support](https://cloud.google.com/dialogflow/docs/reference/language) for a list of the currently supported language codes. Note that queries in the same session do not necessarily need to specify the same language.",
          "type": "string"
        },
        "speechContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SpeechContext"
          },
          "description": "Context information to assist speech recognition. See [the Cloud Speech documentation](https://cloud.google.com/speech-to-text/docs/basics#phrase-hints) for more details.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2InputAudioConfig",
      "type": "object",
      "description": "Instructs the speech recognizer how to process the audio content."
    },
    "GoogleCloudDialogflowCxV3beta1IntentParameter": {
      "description": "Represents an intent parameter.",
      "id": "GoogleCloudDialogflowCxV3beta1IntentParameter",
      "type": "object",
      "properties": {
        "redact": {
          "type": "boolean",
          "description": "Indicates whether the parameter content should be redacted in log. If redaction is enabled, the parameter content will be replaced by parameter name during logging. Note: the parameter content is subject to redaction if either parameter level redaction or entity type level redaction is enabled."
        },
        "id": {
          "description": "Required. The unique identifier of the parameter. This field is used by training phrases to annotate their parts.",
          "type": "string"
        },
        "entityType": {
          "description": "Required. The entity type of the parameter. Format: `projects/-/locations/-/agents/-/entityTypes/` for system entity types (for example, `projects/-/locations/-/agents/-/entityTypes/sys.date`), or `projects//locations//agents//entityTypes/` for developer entity types.",
          "type": "string"
        },
        "isList": {
          "description": "Indicates whether the parameter represents a list of values.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSuggestions": {
      "type": "object",
      "description": "The collection of suggestions.",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSuggestions",
      "properties": {
        "suggestions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSuggestion"
          },
          "type": "array",
          "description": "Required. The list of suggested replies."
        }
      }
    },
    "GoogleCloudDialogflowV2ImportDocumentsRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ImportDocumentsRequest",
      "properties": {
        "gcsSource": {
          "$ref": "GoogleCloudDialogflowV2GcsSources",
          "description": "The Google Cloud Storage location for the documents. The path can include a wildcard. These URIs may have the forms `gs:///`. `gs:////*.`."
        },
        "documentTemplate": {
          "$ref": "GoogleCloudDialogflowV2ImportDocumentTemplate",
          "description": "Required. Document template used for importing all the documents."
        },
        "importGcsCustomMetadata": {
          "type": "boolean",
          "description": "Whether to import custom metadata from Google Cloud Storage. Only valid when the document source is Google Cloud Storage URI."
        }
      },
      "description": "Request message for Documents.ImportDocuments."
    },
    "GoogleCloudDialogflowV2IntentTrainingPhrase": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentTrainingPhrase",
      "properties": {
        "timesAddedCount": {
          "description": "Optional. Indicates how many times this example was added to the intent. Each time a developer adds an existing sample by editing an intent or training, this counter is increased.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string",
          "description": "Output only. The unique identifier of this training phrase."
        },
        "parts": {
          "description": "Required. The ordered list of training phrase parts. The parts are concatenated in order to form the training phrase. Note: The API does not automatically annotate training phrases like the Dialogflow Console does. Note: Do not forget to include whitespace at part boundaries, so the training phrase is well formatted when the parts are concatenated. If the training phrase does not need to be annotated with parameters, you just need a single part with only the Part.text field set. If you want to annotate the training phrase, you must create multiple parts, where the fields of each part are populated in one of two ways: - `Part.text` is set to a part of the phrase that has no parameters. - `Part.text` is set to a part of the phrase that you want to annotate, and the `entity_type`, `alias`, and `user_defined` fields are all set.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentTrainingPhrasePart"
          }
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXAMPLE",
            "TEMPLATE"
          ],
          "enumDescriptions": [
            "Not specified. This value should never be used.",
            "Examples do not contain @-prefixed entity type names, but example parts can be annotated with entity types.",
            "Templates are not annotated with entity types, but they can contain @-prefixed entity type names as substrings. Template mode has been deprecated. Example mode is the only supported way to create new training phrases. If you have existing training phrases that you've created in template mode, those will continue to work."
          ],
          "description": "Required. The type of the training phrase.",
          "type": "string"
        }
      },
      "description": "Represents an example that the agent is trained on."
    },
    "GoogleCloudDialogflowV2beta1EventInput": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The unique identifier of the event."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The collection of parameters associated with the event. Depending on your protocol or client library language, this is a map, associative array, symbol table, dictionary, or JSON object composed of a collection of (MapKey, MapValue) pairs: - MapKey type: string - MapKey value: parameter name - MapValue type: - If parameter's entity type is a composite entity: map - Else: depending on parameter value type, could be one of string, number, boolean, null, list or map - MapValue value: - If parameter's entity type is a composite entity: map from composite entity property names to property values - Else: parameter value"
        },
        "languageCode": {
          "type": "string",
          "description": "Required. The language of this query. See [Language Support](https://cloud.google.com/dialogflow/docs/reference/language) for a list of the currently supported language codes. Note that queries in the same session do not necessarily need to specify the same language. This field is ignored when used in the context of a WebhookResponse.followup_event_input field, because the language was already defined in the originating detect intent request."
        }
      },
      "id": "GoogleCloudDialogflowV2beta1EventInput",
      "type": "object",
      "description": "Events allow for matching intents by event name instead of the natural language input. For instance, input `` can trigger a personalized welcome response. The parameter `name` may be used by the agent in the response: `\"Hello #welcome_event.name! What can I do for you today?\"`."
    },
    "GoogleCloudDialogflowV2IntentMessageColumnProperties": {
      "type": "object",
      "description": "Column properties for TableCard.",
      "properties": {
        "header": {
          "type": "string",
          "description": "Required. Column heading."
        },
        "horizontalAlignment": {
          "description": "Optional. Defines text alignment for all cells in this column.",
          "type": "string",
          "enumDescriptions": [
            "Text is aligned to the leading edge of the column.",
            "Text is aligned to the leading edge of the column.",
            "Text is centered in the column.",
            "Text is aligned to the trailing edge of the column."
          ],
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "LEADING",
            "CENTER",
            "TRAILING"
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageColumnProperties"
    },
    "GoogleCloudDialogflowCxV3ImportDocumentsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ImportDocumentsResponse",
      "properties": {
        "warnings": {
          "description": "Includes details about skipped documents or any other warnings.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "description": "Response message for Documents.ImportDocuments."
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "description": "Browsing carousel tile",
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem",
      "properties": {
        "title": {
          "type": "string",
          "description": "Required. Title of the carousel item. Maximum of two lines of text."
        },
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction",
          "description": "Required. Action to present to the user."
        },
        "footer": {
          "description": "Optional. Text that appears at the bottom of the Browse Carousel Card. Maximum of one line of text.",
          "type": "string"
        },
        "image": {
          "description": "Optional. Hero image for the carousel item.",
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the carousel item. Maximum of four lines of text."
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Page": {
      "id": "GoogleCloudDialogflowCxV3beta1Page",
      "description": "A Dialogflow CX conversation (session) can be described and visualized as a state machine. The states of a CX session are represented by pages. For each flow, you define many pages, where your combined pages can handle a complete conversation on the topics the flow is designed for. At any given moment, exactly one page is the current page, the current page is considered active, and the flow associated with that page is considered active. Every flow has a special start page. When a flow initially becomes active, the start page page becomes the current page. For each conversational turn, the current page will either stay the same or transition to another page. You configure each page to collect information from the end-user that is relevant for the conversational state represented by the page. For more information, see the [Page guide](https://cloud.google.com/dialogflow/cx/docs/concept/page).",
      "properties": {
        "form": {
          "description": "The form associated with the page, used for collecting parameters relevant to the page.",
          "$ref": "GoogleCloudDialogflowCxV3beta1Form"
        },
        "displayName": {
          "description": "Required. The human-readable name of the page, unique within the agent.",
          "type": "string"
        },
        "entryFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment",
          "description": "The fulfillment to call when the session is entering the page."
        },
        "transitionRoutes": {
          "description": "A list of transitions for the transition rules of this page. They route the conversation to another page in the same flow, or another flow. When we are in a certain page, the TransitionRoutes are evalauted in the following order: * TransitionRoutes defined in the page with intent specified. * TransitionRoutes defined in the transition route groups with intent specified. * TransitionRoutes defined in flow with intent specified. * TransitionRoutes defined in the transition route groups with intent specified. * TransitionRoutes defined in the page with only condition specified. * TransitionRoutes defined in the transition route groups with only condition specified.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRoute"
          }
        },
        "transitionRouteGroups": {
          "items": {
            "type": "string"
          },
          "description": "Ordered list of `TransitionRouteGroups` associated with the page. Transition route groups must be unique within a page. * If multiple transition routes within a page scope refer to the same intent, then the precedence order is: page's transition route -\u003e page's transition route group -\u003e flow's transition routes. * If multiple transition route groups within a page contain the same intent, then the first group in the ordered list takes precedence. Format:`projects//locations//agents//flows//transitionRouteGroups/`.",
          "type": "array"
        },
        "name": {
          "description": "The unique identifier of the page. Required for the Pages.UpdatePage method. Pages.CreatePage populates the name automatically. Format: `projects//locations//agents//flows//pages/`.",
          "type": "string"
        },
        "eventHandlers": {
          "description": "Handlers associated with the page to handle events such as webhook errors, no match or no input.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EventHandler"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCard": {
      "description": "The basic card message. Useful for displaying information.",
      "type": "object",
      "properties": {
        "formattedText": {
          "description": "Required, unless image is present. The body text of the card.",
          "type": "string"
        },
        "subtitle": {
          "description": "Optional. The subtitle of the card.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. The title of the card."
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage",
          "description": "Optional. The image for the card."
        },
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton"
          },
          "description": "Optional. The collection of card buttons."
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCard"
    },
    "GoogleCloudDialogflowCxV3beta1CreateDocumentOperationMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1CreateDocumentOperationMetadata",
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudDialogflowCxV3beta1GenericKnowledgeOperationMetadata",
          "description": "The generic information of the operation."
        }
      },
      "type": "object",
      "description": "Metadata for CreateDocument operation."
    },
    "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart",
      "description": "Represents a part of a training phrase.",
      "properties": {
        "text": {
          "type": "string",
          "description": "Required. The text for this part."
        },
        "parameterId": {
          "type": "string",
          "description": "The parameter used to annotate this part of the training phrase. This field is required for annotated parts of the training phrase."
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TestCaseError": {
      "description": "Error info for importing a test.",
      "properties": {
        "testCase": {
          "description": "The test case.",
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCase"
        },
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The status associated with the test case."
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TestCaseError",
      "type": "object"
    },
    "GoogleTypeLatLng": {
      "type": "object",
      "id": "GoogleTypeLatLng",
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
      "properties": {
        "latitude": {
          "format": "double",
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "type": "number"
        },
        "longitude": {
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "format": "double",
          "type": "number"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1WebhookResponse": {
      "properties": {
        "liveAgentHandoff": {
          "type": "boolean",
          "description": "Indicates that a live agent should be brought in to handle the interaction with the user. In most cases, when you set this flag to true, you would also want to set end_interaction to true as well. Default is false."
        },
        "payload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. This field can be used to pass custom data from your webhook to the integration or API caller. Arbitrary JSON objects are supported. When provided, Dialogflow uses this field to populate QueryResult.webhook_payload sent to the integration or API caller. This field is also used by the [Google Assistant integration](https://cloud.google.com/dialogflow/docs/integrations/aog) for rich response messages. See the format definition at [Google Assistant Dialogflow webhook format](https://developers.google.com/assistant/actions/build/json/dialogflow-webhook-json)",
          "type": "object"
        },
        "followupEventInput": {
          "description": "Optional. Invokes the supplied events. When this field is set, Dialogflow ignores the `fulfillment_text`, `fulfillment_messages`, and `payload` fields.",
          "$ref": "GoogleCloudDialogflowV2beta1EventInput"
        },
        "source": {
          "type": "string",
          "description": "Optional. A custom field used to identify the webhook source. Arbitrary strings are supported. When provided, Dialogflow uses this field to populate QueryResult.webhook_source sent to the integration or API caller."
        },
        "sessionEntityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
          },
          "description": "Optional. Additional session entity types to replace or extend developer entity types with. The entity synonyms apply to all languages and persist for the session. Setting this data from a webhook overwrites the session entity types that have been set using `detectIntent`, `streamingDetectIntent` or SessionEntityType management methods.",
          "type": "array"
        },
        "endInteraction": {
          "description": "Optional. Indicates that this intent ends an interaction. Some integrations (e.g., Actions on Google or Dialogflow phone gateway) use this information to close interaction with an end user. Default is false.",
          "type": "boolean"
        },
        "fulfillmentText": {
          "description": "Optional. The text response message intended for the end-user. It is recommended to use `fulfillment_messages.text.text[0]` instead. When provided, Dialogflow uses this field to populate QueryResult.fulfillment_text sent to the integration or API caller.",
          "type": "string"
        },
        "fulfillmentMessages": {
          "description": "Optional. The rich response messages intended for the end-user. When provided, Dialogflow uses this field to populate QueryResult.fulfillment_messages sent to the integration or API caller.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          }
        },
        "outputContexts": {
          "type": "array",
          "description": "Optional. The collection of output contexts that will overwrite currently active contexts for the session and reset their lifespans. When provided, Dialogflow uses this field to populate QueryResult.output_contexts sent to the integration or API caller.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          }
        }
      },
      "description": "The response message for a webhook call. This response is validated by the Dialogflow server. If validation fails, an error will be returned in the QueryResult.diagnostic_info field. Setting JSON fields to an empty value with the wrong type is a common error. To avoid this error: - Use `\"\"` for empty strings - Use `{}` or `null` for empty objects - Use `[]` or `null` for empty arrays For more information, see the [Protocol Buffers Language Guide](https://developers.google.com/protocol-buffers/docs/proto3#json).",
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1WebhookResponse"
    },
    "GoogleCloudDialogflowV3alpha1GenericKnowledgeOperationMetadata": {
      "description": "Metadata in google::longrunning::Operation for Knowledge operations.",
      "type": "object",
      "id": "GoogleCloudDialogflowV3alpha1GenericKnowledgeOperationMetadata",
      "properties": {
        "state": {
          "description": "Required. Output only. The current state of this operation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "The operation has been created.",
            "The operation is currently running.",
            "The operation is done, either cancelled or completed."
          ],
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowCxV3ConversationTurn": {
      "id": "GoogleCloudDialogflowCxV3ConversationTurn",
      "properties": {
        "virtualAgentOutput": {
          "$ref": "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput",
          "description": "The virtual agent output."
        },
        "userInput": {
          "description": "The user input.",
          "$ref": "GoogleCloudDialogflowCxV3ConversationTurnUserInput"
        }
      },
      "type": "object",
      "description": "One interaction between a human and virtual agent. The human provides some input and the virtual agent provides a response."
    },
    "GoogleCloudDialogflowCxV3DtmfInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3DtmfInput",
      "description": "Represents the input for dtmf event.",
      "properties": {
        "digits": {
          "type": "string",
          "description": "The dtmf digits."
        },
        "finishDigit": {
          "type": "string",
          "description": "The finish digit (if any)."
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse": {
      "description": "Represents a fulfillment response to the user.",
      "properties": {
        "mergeBehavior": {
          "description": "Merge behavior for `messages`.",
          "enum": [
            "MERGE_BEHAVIOR_UNSPECIFIED",
            "APPEND",
            "REPLACE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified. `APPEND` will be used.",
            "`messages` will be appended to the list of messages waiting to be sent to the user.",
            "`messages` will replace the list of messages waiting to be sent to the user."
          ]
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          },
          "description": "The list of rich message responses to present to the user."
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse"
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent": {
      "properties": {
        "message": {
          "description": "Returned message.",
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
        },
        "additionalCases": {
          "description": "Additional cases to be evaluated.",
          "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases"
        }
      },
      "type": "object",
      "description": "The list of messages or conditional cases to activate for this case.",
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent"
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase": {
      "description": "Each case has a Boolean condition. When it is evaluated to be True, the corresponding messages will be selected and evaluated recursively.",
      "type": "object",
      "properties": {
        "caseContent": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent"
          },
          "type": "array",
          "description": "A list of case content."
        },
        "condition": {
          "description": "The condition to activate and select this case. Empty means the condition is always true. The condition is evaluated against form parameters or session parameters. See the [conditions reference](https://cloud.google.com/dialogflow/cx/docs/reference/condition).",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase"
    },
    "GoogleCloudDialogflowCxV3EventInput": {
      "description": "Represents the event to trigger.",
      "properties": {
        "event": {
          "type": "string",
          "description": "Name of the event."
        }
      },
      "id": "GoogleCloudDialogflowCxV3EventInput",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse": {
      "description": "The response message for Participants.SuggestSmartReplies.",
      "id": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse",
      "properties": {
        "smartReplyAnswers": {
          "description": "Output only. Multiple reply options provided by smart reply service. The order is based on the rank of the model prediction. The maximum number of the returned replies is set in SmartReplyConfig.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SmartReplyAnswer"
          }
        },
        "contextSize": {
          "format": "int32",
          "description": "Number of messages prior to and including latest_message to compile the suggestion. It may be smaller than the SuggestSmartRepliesRequest.context_size field in the request if there aren't that many messages in the conversation.",
          "type": "integer"
        },
        "latestMessage": {
          "description": "The name of the latest conversation message used to compile suggestion for. Format: `projects//locations//conversations//messages/`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ReloadDocumentOperationMetadata": {
      "id": "GoogleCloudDialogflowCxV3ReloadDocumentOperationMetadata",
      "type": "object",
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudDialogflowCxV3GenericKnowledgeOperationMetadata",
          "description": "The generic information of the operation."
        }
      },
      "description": "Metadata for ReloadDocument operation."
    },
    "GoogleCloudDialogflowCxV3beta1FormParameterFillBehavior": {
      "type": "object",
      "description": "Configuration for how the filling of a parameter should be handled.",
      "properties": {
        "initialPromptFulfillment": {
          "description": "Required. The fulfillment to provide the initial prompt that the agent can present to the user in order to fill the parameter.",
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "repromptEventHandlers": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EventHandler"
          },
          "type": "array",
          "description": "The handlers for parameter-level events, used to provide reprompt for the parameter or transition to a different page/flow. The supported events are: * `sys.no-match-`, where N can be from 1 to 6 * `sys.no-match-default` * `sys.no-input-`, where N can be from 1 to 6 * `sys.no-input-default` * `sys.invalid-parameter` `initial_prompt_fulfillment` provides the first prompt for the parameter. If the user's response does not fill the parameter, a no-match/no-input event will be triggered, and the fulfillment associated with the `sys.no-match-1`/`sys.no-input-1` handler (if defined) will be called to provide a prompt. The `sys.no-match-2`/`sys.no-input-2` handler (if defined) will respond to the next no-match/no-input event, and so on. A `sys.no-match-default` or `sys.no-input-default` handler will be used to handle all following no-match/no-input events after all numbered no-match/no-input handlers for the parameter are consumed. A `sys.invalid-parameter` handler can be defined to handle the case where the parameter values have been `invalidated` by webhook. For example, if the user's response fill the parameter, however the parameter was invalidated by webhook, the fulfillment associated with the `sys.invalid-parameter` handler (if defined) will be called to provide a prompt. If the event handler for the corresponding event can't be found on the parameter, `initial_prompt_fulfillment` will be re-prompted."
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1FormParameterFillBehavior"
    },
    "GoogleCloudDialogflowV2InputDataset": {
      "id": "GoogleCloudDialogflowV2InputDataset",
      "properties": {
        "dataset": {
          "type": "string",
          "description": "Required. ConversationDataset resource name. Format: `projects//locations//conversationDatasets/`"
        }
      },
      "type": "object",
      "description": "InputDataset used to create model or do evaluation. NextID:5"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction",
      "description": "Opens the given URI.",
      "properties": {
        "uri": {
          "description": "Required. The HTTP or HTTPS scheme URI.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment",
      "description": "Represents one segment of audio.",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Client-specific URI that points to an audio clip accessible to the client. Dialogflow does not impose any validation on it."
        },
        "allowPlaybackInterruption": {
          "description": "Output only. Whether the playback of this segment can be interrupted by the end user's speech and the client should then start the next Dialogflow request.",
          "readOnly": true,
          "type": "boolean"
        },
        "audio": {
          "description": "Raw audio synthesized from the Dialogflow agent's response using the output config specified in the request.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExportAgentResponse": {
      "id": "GoogleCloudDialogflowCxV3ExportAgentResponse",
      "properties": {
        "agentUri": {
          "description": "The URI to a file containing the exported agent. This field is populated only if `agent_uri` is specified in ExportAgentRequest.",
          "type": "string"
        },
        "agentContent": {
          "format": "byte",
          "description": "Uncompressed raw byte content for agent.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response message for Agents.ExportAgent."
    },
    "GoogleCloudDialogflowV2OutputAudioConfig": {
      "description": "Instructs the speech synthesizer on how to generate the output audio content. If this audio config is supplied in a request, it overrides all existing text-to-speech settings applied to the agent.",
      "properties": {
        "synthesizeSpeechConfig": {
          "$ref": "GoogleCloudDialogflowV2SynthesizeSpeechConfig",
          "description": "Configuration of how speech should be synthesized."
        },
        "audioEncoding": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Uncompressed 16-bit signed little-endian samples (Linear PCM). Audio content returned as LINEAR16 also contains a WAV header.",
            "MP3 audio at 32kbps.",
            "MP3 audio at 64kbps.",
            "Opus encoded audio wrapped in an ogg container. The result will be a file which can be played natively on Android, and in browsers (at least Chrome and Firefox). The quality of the encoding is considerably higher than MP3 while using approximately the same bitrate.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law."
          ],
          "description": "Required. Audio encoding of the synthesized audio content.",
          "enum": [
            "OUTPUT_AUDIO_ENCODING_UNSPECIFIED",
            "OUTPUT_AUDIO_ENCODING_LINEAR_16",
            "OUTPUT_AUDIO_ENCODING_MP3",
            "OUTPUT_AUDIO_ENCODING_MP3_64_KBPS",
            "OUTPUT_AUDIO_ENCODING_OGG_OPUS",
            "OUTPUT_AUDIO_ENCODING_MULAW"
          ]
        },
        "sampleRateHertz": {
          "description": "The synthesis sample rate (in hertz) for this audio. If not provided, then the synthesizer will use the default sample rate based on the audio encoding. If this is different from the voice's natural sample rate, then the synthesizer will honor this request by converting to the desired sample rate (which might result in worse audio quality).",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowV2OutputAudioConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageText": {
      "properties": {
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the playback of this message can be interrupted by the end user's speech and the client can then starts the next Dialogflow request."
        },
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. A collection of text responses."
        }
      },
      "description": "The text response message.",
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessageText"
    },
    "GoogleCloudDialogflowCxV3beta1DtmfInput": {
      "description": "Represents the input for dtmf event.",
      "properties": {
        "finishDigit": {
          "description": "The finish digit (if any).",
          "type": "string"
        },
        "digits": {
          "description": "The dtmf digits.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1DtmfInput",
      "type": "object"
    },
    "GoogleCloudDialogflowV3alpha1ReloadDocumentOperationMetadata": {
      "type": "object",
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudDialogflowV3alpha1GenericKnowledgeOperationMetadata",
          "description": "The generic information of the operation."
        }
      },
      "description": "Metadata for ReloadDocument operation.",
      "id": "GoogleCloudDialogflowV3alpha1ReloadDocumentOperationMetadata"
    },
    "GoogleCloudDialogflowV2Participant": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2Participant",
      "description": "Represents a conversation participant (human agent, virtual agent, end-user).",
      "properties": {
        "name": {
          "description": "Optional. The unique identifier of this participant. Format: `projects//locations//conversations//participants/`.",
          "type": "string"
        },
        "documentsMetadataFilters": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Key-value filters on the metadata of documents returned by article suggestion. If specified, article suggestion only returns suggested documents that match all filters in their Document.metadata. Multiple values for a metadata key should be concatenated by comma. For example, filters to match all documents that have 'US' or 'CA' in their market metadata values and 'agent' in their user metadata values will be ``` documents_metadata_filters { key: \"market\" value: \"US,CA\" } documents_metadata_filters { key: \"user\" value: \"agent\" } ```",
          "type": "object"
        },
        "sipRecordingMediaLabel": {
          "description": "Optional. Label applied to streams representing this participant in SIPREC XML metadata and SDP. This is used to assign transcriptions from that media stream to this participant. This field can be updated.",
          "type": "string"
        },
        "role": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "description": "Immutable. The role this participant plays in the conversation. This field must be set during participant creation and is then immutable.",
          "type": "string",
          "enumDescriptions": [
            "Participant role not set.",
            "Participant is a human agent.",
            "Participant is an automated agent, such as a Dialogflow agent.",
            "Participant is an end user that has called or chatted with Dialogflow services."
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmText": {
      "type": "object",
      "description": "Rich Business Messaging (RBM) text response with suggestions.",
      "properties": {
        "text": {
          "description": "Required. Text sent and displayed to the user.",
          "type": "string"
        },
        "rbmSuggestion": {
          "type": "array",
          "description": "Optional. One or more suggestions to show to the user.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmText"
    },
    "GoogleCloudDialogflowCxV3beta1QueryInput": {
      "id": "GoogleCloudDialogflowCxV3beta1QueryInput",
      "type": "object",
      "description": "Represents the query input. It can contain one of: 1. A conversational query in the form of text. 2. An intent query that specifies which intent to trigger. 3. Natural language speech audio to be processed. 4. An event to be triggered. ",
      "properties": {
        "event": {
          "description": "The event to be triggered.",
          "$ref": "GoogleCloudDialogflowCxV3beta1EventInput"
        },
        "audio": {
          "description": "The natural language speech audio to be processed.",
          "$ref": "GoogleCloudDialogflowCxV3beta1AudioInput"
        },
        "dtmf": {
          "$ref": "GoogleCloudDialogflowCxV3beta1DtmfInput",
          "description": "The DTMF event to be handled."
        },
        "languageCode": {
          "description": "Required. The language of the input. See [Language Support](https://cloud.google.com/dialogflow/cx/docs/reference/language) for a list of the currently supported language codes. Note that queries in the same session do not necessarily need to specify the same language.",
          "type": "string"
        },
        "text": {
          "description": "The natural language text to be processed.",
          "$ref": "GoogleCloudDialogflowCxV3beta1TextInput"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1IntentInput",
          "description": "The intent to be triggered."
        }
      }
    },
    "GoogleCloudDialogflowCxV3IntentParameter": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3IntentParameter",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. The unique identifier of the parameter. This field is used by training phrases to annotate their parts."
        },
        "redact": {
          "type": "boolean",
          "description": "Indicates whether the parameter content should be redacted in log. If redaction is enabled, the parameter content will be replaced by parameter name during logging. Note: the parameter content is subject to redaction if either parameter level redaction or entity type level redaction is enabled."
        },
        "entityType": {
          "type": "string",
          "description": "Required. The entity type of the parameter. Format: `projects/-/locations/-/agents/-/entityTypes/` for system entity types (for example, `projects/-/locations/-/agents/-/entityTypes/sys.date`), or `projects//locations//agents//entityTypes/` for developer entity types."
        },
        "isList": {
          "type": "boolean",
          "description": "Indicates whether the parameter represents a list of values."
        }
      },
      "description": "Represents an intent parameter."
    },
    "GoogleCloudDialogflowV3alpha1ImportDocumentsOperationMetadata": {
      "properties": {
        "genericMetadata": {
          "description": "The generic information of the operation.",
          "$ref": "GoogleCloudDialogflowV3alpha1GenericKnowledgeOperationMetadata"
        }
      },
      "description": "Metadata for ImportDocuments operation.",
      "type": "object",
      "id": "GoogleCloudDialogflowV3alpha1ImportDocumentsOperationMetadata"
    },
    "GoogleCloudDialogflowV2CreateConversationModelOperationMetadata": {
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp when the request to create conversation model is submitted. The time is measured on server side."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "CANCELLING",
            "TRAINING"
          ],
          "enumDescriptions": [
            "Invalid.",
            "Request is submitted, but training has not started yet. The model may remain in this state until there is enough capacity to start training.",
            "The training has succeeded.",
            "The training has succeeded.",
            "The training has been cancelled.",
            "The training is in cancelling state.",
            "Custom model is training."
          ],
          "description": "State of CreateConversationModel operation.",
          "type": "string"
        },
        "conversationModel": {
          "type": "string",
          "description": "The resource name of the conversation model. Format: `projects//conversationModels/`"
        }
      },
      "description": "Metadata for a ConversationModels.CreateConversationModel operation.",
      "id": "GoogleCloudDialogflowV2CreateConversationModelOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TestCaseResult": {
      "description": "Represents a result from running a test case in an agent environment.",
      "type": "object",
      "properties": {
        "environment": {
          "description": "Environment where the test was run. If not set, it indicates the draft environment.",
          "type": "string"
        },
        "testTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time that the test was run."
        },
        "testResult": {
          "description": "Whether the test case passed in the agent environment.",
          "enum": [
            "TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "enumDescriptions": [
            "Not specified. Should never be used.",
            "The test passed.",
            "The test did not pass."
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name for the test case result. Format: `projects//locations//agents//testCases/ /results/`."
        },
        "conversationTurns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurn"
          },
          "description": "The conversation turns uttered during the test case replay in chronological order."
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
    },
    "GoogleCloudDialogflowCxV3beta1TextInput": {
      "id": "GoogleCloudDialogflowCxV3beta1TextInput",
      "description": "Represents the natural language text to be processed.",
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "Required. The UTF-8 encoded natural language text to be processed. Text length must not exceed 256 characters."
        }
      }
    },
    "GoogleCloudDialogflowV2Version": {
      "id": "GoogleCloudDialogflowV2Version",
      "description": "You can create multiple versions of your agent and publish them to separate environments. When you edit an agent, you are editing the draft agent. At any point, you can save the draft agent as an agent version, which is an immutable snapshot of your agent. When you save the draft agent, it is published to the default environment. When you create agent versions, you can publish them to custom environments. You can create a variety of custom environments for: - testing - development - production - etc. For more information, see the [versions and environments guide](https://cloud.google.com/dialogflow/docs/agents-versions).",
      "type": "object",
      "properties": {
        "versionNumber": {
          "readOnly": true,
          "description": "Output only. The sequential number of this version. This field is read-only which means it cannot be set by create and update methods.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique identifier of this agent version. Supported formats: - `projects//agent/versions/` - `projects//locations//agent/versions/`"
        },
        "description": {
          "description": "Optional. The developer-provided description of this version.",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "Not specified. This value is not used.",
            "Version is not ready to serve (e.g. training is in progress).",
            "Version is ready to serve.",
            "Version training failed."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "VERSION_STATUS_UNSPECIFIED",
            "IN_PROGRESS",
            "READY",
            "FAILED"
          ],
          "description": "Output only. The status of this version. This field is read-only and cannot be set by create and update methods."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The creation time of this version. This field is read-only, i.e., it cannot be set by create and update methods."
        }
      }
    },
    "GoogleCloudDialogflowV2beta1MessageAnnotation": {
      "id": "GoogleCloudDialogflowV2beta1MessageAnnotation",
      "description": "Represents the result of annotation for the message.",
      "type": "object",
      "properties": {
        "containEntities": {
          "description": "Required. Indicates whether the text message contains entities.",
          "type": "boolean"
        },
        "parts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AnnotatedMessagePart"
          },
          "description": "Optional. The collection of annotated message parts ordered by their position in the message. You can recover the annotated message by concatenating [AnnotatedMessagePart.text].",
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2EntityType": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Required. Indicates the kind of entity type.",
          "enum": [
            "KIND_UNSPECIFIED",
            "KIND_MAP",
            "KIND_LIST",
            "KIND_REGEXP"
          ],
          "enumDescriptions": [
            "Not specified. This value should be never used.",
            "Map entity types allow mapping of a group of synonyms to a reference value.",
            "List entity types contain a set of entries that do not map to reference values. However, list entity types can contain references to other entity types (with or without aliases).",
            "Regexp entity types allow to specify regular expressions in entries values."
          ],
          "type": "string"
        },
        "entities": {
          "description": "Optional. The collection of entity entries associated with the entity type.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityTypeEntity"
          }
        },
        "displayName": {
          "description": "Required. The name of the entity type.",
          "type": "string"
        },
        "autoExpansionMode": {
          "enumDescriptions": [
            "Auto expansion disabled for the entity.",
            "Allows an agent to recognize values that have not been explicitly listed in the entity."
          ],
          "enum": [
            "AUTO_EXPANSION_MODE_UNSPECIFIED",
            "AUTO_EXPANSION_MODE_DEFAULT"
          ],
          "description": "Optional. Indicates whether the entity type can be automatically expanded.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The unique identifier of the entity type. Required for EntityTypes.UpdateEntityType and EntityTypes.BatchUpdateEntityTypes methods. Format: `projects//agent/entityTypes/`."
        },
        "enableFuzzyExtraction": {
          "type": "boolean",
          "description": "Optional. Enables fuzzy entity extraction during classification."
        }
      },
      "description": "Each intent parameter has a type, called the entity type, which dictates exactly how data from an end-user expression is extracted. Dialogflow provides predefined system entities that can match many common types of data. For example, there are system entities for matching dates, times, colors, email addresses, and so on. You can also create your own custom entities for matching custom data. For example, you could define a vegetable entity that can match the types of vegetables available for purchase with a grocery store agent. For more information, see the [Entity guide](https://cloud.google.com/dialogflow/docs/entities-overview).",
      "id": "GoogleCloudDialogflowV2EntityType"
    },
    "GoogleCloudDialogflowCxV3beta1IntentInput": {
      "properties": {
        "intent": {
          "description": "Required. The unique identifier of the intent. Format: `projects//locations//agents//intents/`.",
          "type": "string"
        }
      },
      "description": "Represents the intent to trigger programmatically rather than as a result of natural language processing.",
      "id": "GoogleCloudDialogflowCxV3beta1IntentInput",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageSelectItemInfo": {
      "type": "object",
      "description": "Additional info about the select item for when it is triggered in a dialog.",
      "properties": {
        "synonyms": {
          "description": "Optional. A list of synonyms that can also be used to trigger this item in dialog.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "key": {
          "type": "string",
          "description": "Required. A unique key that will be sent back to the agent if this response is given."
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess": {
      "description": "Indicates that the conversation succeeded, i.e., the bot handled the issue that the customer talked to it about. Dialogflow only uses this to determine which conversations should be counted as successful and doesn't process the metadata in this message in any way. Note that Dialogflow also considers conversations that get to the conversation end page as successful even if they don't return ConversationSuccess. You may set this, for example: * In the entry_fulfillment of a Page if entering the page indicates that the conversation succeeded. * In a webhook response when you determine that you handled the customer issue.",
      "id": "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess",
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Custom metadata. Dialogflow doesn't impose any structure on this."
        }
      }
    },
    "GoogleCloudDialogflowV2ImportConversationDataOperationMetadata": {
      "id": "GoogleCloudDialogflowV2ImportConversationDataOperationMetadata",
      "description": "Metadata for a ConversationDatasets.ImportConversationData operation.",
      "properties": {
        "partialFailures": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Partial failures are failures that don't fail the whole long running operation, e.g. single files that couldn't be read.",
          "type": "array"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Timestamp when import conversation data request was created. The time is measured on server side.",
          "type": "string"
        },
        "conversationDataset": {
          "type": "string",
          "description": "The resource name of the imported conversation dataset. Format: `projects//locations//conversationDatasets/`"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1GenericKnowledgeOperationMetadata": {
      "description": "Metadata in google::longrunning::Operation for Knowledge operations.",
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1GenericKnowledgeOperationMetadata",
      "properties": {
        "state": {
          "enumDescriptions": [
            "State unspecified.",
            "The operation has been created.",
            "The operation is currently running.",
            "The operation is done, either cancelled or completed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "description": "Required. Output only. The current state of this operation.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1RunContinuousTestMetadata": {
      "properties": {
        "errors": {
          "description": "The test errors.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestError"
          }
        }
      },
      "description": "Metadata returned for the Environments.RunContinuousTest long running operation.",
      "id": "GoogleCloudDialogflowCxV3beta1RunContinuousTestMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ConversationTurnUserInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ConversationTurnUserInput",
      "properties": {
        "isWebhookEnabled": {
          "type": "boolean",
          "description": "If webhooks should be allowed to trigger in response to the user utterance. Often if parameters are injected, webhooks should not be enabled."
        },
        "injectedParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Parameters that need to be injected into the conversation during intent detection."
        },
        "input": {
          "description": "Supports text input, event input, dtmf input in the test case.",
          "$ref": "GoogleCloudDialogflowCxV3QueryInput"
        },
        "enableSentimentAnalysis": {
          "type": "boolean",
          "description": "Whether sentiment analysis is enabled."
        }
      },
      "description": "The input from the human user."
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigMessageAnalysisConfig": {
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigMessageAnalysisConfig",
      "type": "object",
      "properties": {
        "enableEntityExtraction": {
          "type": "boolean",
          "description": "Enable entity extraction in conversation messages on [agent assist stage](https://cloud.google.com/dialogflow/priv/docs/contact-center/basics#stages). If unspecified, defaults to false. Currently, this feature is not general available, please contact Google to get access."
        },
        "enableSentimentAnalysis": {
          "type": "boolean",
          "description": "Enable sentiment analysis in conversation messages on [agent assist stage](https://cloud.google.com/dialogflow/priv/docs/contact-center/basics#stages). If unspecified, defaults to false. Sentiment analysis inspects user input and identifies the prevailing subjective opinion, especially to determine a user's attitude as positive, negative, or neutral: https://cloud.google.com/natural-language/docs/basics#sentiment_analysis For Participants.StreamingAnalyzeContent method, result will be in StreamingAnalyzeContentResponse.message.SentimentAnalysisResult. For Participants.AnalyzeContent method, result will be in AnalyzeContentResponse.message.SentimentAnalysisResult For Conversations.ListMessages method, result will be in ListMessagesResponse.messages.SentimentAnalysisResult If Pub/Sub notification is configured, result will be in ConversationEvent.new_message_payload.SentimentAnalysisResult."
        }
      },
      "description": "Configuration for analyses to run on each conversation message."
    },
    "GoogleCloudDialogflowCxV3beta1ExportFlowResponse": {
      "properties": {
        "flowUri": {
          "type": "string",
          "description": "The URI to a file containing the exported flow. This field is populated only if `flow_uri` is specified in ExportFlowRequest."
        },
        "flowContent": {
          "format": "byte",
          "type": "string",
          "description": "Uncompressed raw byte content for flow."
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ExportFlowResponse",
      "description": "The response message for Flows.ExportFlow.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SmartReplyModelMetadata": {
      "description": "Metadata for smart reply models.",
      "properties": {
        "trainingModelType": {
          "enumDescriptions": [
            "ModelType unspecified.",
            "ModelType smart reply dual encoder model.",
            "ModelType smart reply bert model."
          ],
          "description": "Optional. Type of the smart reply model. If not provided, model_type is used.",
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "SMART_REPLY_DUAL_ENCODER_MODEL",
            "SMART_REPLY_BERT_MODEL"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2SmartReplyModelMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3PageInfo": {
      "description": "Represents page information communicated to and from the webhook.",
      "properties": {
        "currentPage": {
          "type": "string",
          "description": "Always present for WebhookRequest. Ignored for WebhookResponse. The unique identifier of the current page. Format: `projects//locations//agents//flows//pages/`."
        },
        "displayName": {
          "description": "Always present for WebhookRequest. Ignored for WebhookResponse. The display name of the current page.",
          "type": "string"
        },
        "formInfo": {
          "description": "Optional for both WebhookRequest and WebhookResponse. Information about the form.",
          "$ref": "GoogleCloudDialogflowCxV3PageInfoFormInfo"
        }
      },
      "id": "GoogleCloudDialogflowCxV3PageInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SearchAgentsResponse": {
      "description": "The response message for Agents.SearchAgents.",
      "id": "GoogleCloudDialogflowV2SearchAgentsResponse",
      "properties": {
        "agents": {
          "description": "The list of agents. There will be a maximum number of items returned based on the page_size field in the request.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Agent"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3RunContinuousTestMetadata": {
      "type": "object",
      "description": "Metadata returned for the Environments.RunContinuousTest long running operation.",
      "properties": {
        "errors": {
          "description": "The test errors.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestError"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3RunContinuousTestMetadata"
    },
    "GoogleCloudDialogflowV2Agent": {
      "properties": {
        "supportedLanguageCodes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The list of all languages supported by this agent (except for the `default_language_code`)."
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of this agent. The maximum length is 500 characters. If exceeded, the request is rejected."
        },
        "tier": {
          "enumDescriptions": [
            "Not specified. This value should never be used.",
            "Trial Edition, previously known as Standard Edition.",
            "Essentials Edition, previously known as Enterprise Essential Edition.",
            "Essentials Edition (same as TIER_ENTERPRISE), previously known as Enterprise Plus Edition."
          ],
          "description": "Optional. The agent tier. If not specified, TIER_STANDARD is assumed.",
          "type": "string",
          "enum": [
            "TIER_UNSPECIFIED",
            "TIER_STANDARD",
            "TIER_ENTERPRISE",
            "TIER_ENTERPRISE_PLUS"
          ]
        },
        "classificationThreshold": {
          "description": "Optional. To filter out false positive results and still get variety in matched natural language inputs for your agent, you can tune the machine learning classification threshold. If the returned score value is less than the threshold value, then a fallback intent will be triggered or, if there are no fallback intents defined, no intent will be triggered. The score values range from 0.0 (completely uncertain) to 1.0 (completely certain). If set to 0.0, the default of 0.3 is used.",
          "type": "number",
          "format": "float"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The name of this agent."
        },
        "defaultLanguageCode": {
          "description": "Required. The default language of the agent as a language tag. See [Language Support](https://cloud.google.com/dialogflow/docs/reference/language) for a list of the currently supported language codes. This field cannot be set by the `Update` method.",
          "type": "string"
        },
        "apiVersion": {
          "enumDescriptions": [
            "Not specified.",
            "Legacy V1 API.",
            "V2 API.",
            "V2beta1 API."
          ],
          "type": "string",
          "enum": [
            "API_VERSION_UNSPECIFIED",
            "API_VERSION_V1",
            "API_VERSION_V2",
            "API_VERSION_V2_BETA_1"
          ],
          "description": "Optional. API version displayed in Dialogflow console. If not specified, V2 API is assumed. Clients are free to query different service endpoints for different API versions. However, bots connectors and webhook calls will follow the specified API version."
        },
        "avatarUri": {
          "type": "string",
          "description": "Optional. The URI of the agent's avatar. Avatars are used throughout the Dialogflow console and in the self-hosted [Web Demo](https://cloud.google.com/dialogflow/docs/integrations/web-demo) integration."
        },
        "matchMode": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Best for agents with a small number of examples in intents and/or wide use of templates syntax and composite entities.",
            "Can be used for agents with a large number of examples in intents, especially the ones using @sys.any or very large custom entities."
          ],
          "enum": [
            "MATCH_MODE_UNSPECIFIED",
            "MATCH_MODE_HYBRID",
            "MATCH_MODE_ML_ONLY"
          ],
          "description": "Optional. Determines how intents are detected from user queries."
        },
        "parent": {
          "description": "Required. The project of this agent. Format: `projects/`.",
          "type": "string"
        },
        "enableLogging": {
          "description": "Optional. Determines whether this agent should log conversation queries.",
          "type": "boolean"
        },
        "timeZone": {
          "description": "Required. The time zone of this agent from the [time zone database](https://www.iana.org/time-zones), e.g., America/New_York, Europe/Paris.",
          "type": "string"
        }
      },
      "description": "A Dialogflow agent is a virtual agent that handles conversations with your end-users. It is a natural language understanding module that understands the nuances of human language. Dialogflow translates end-user text or audio during a conversation to structured data that your apps and services can understand. You design and build a Dialogflow agent to handle the types of conversations required for your system. For more information about agents, see the [Agent guide](https://cloud.google.com/dialogflow/docs/agents-overview). ",
      "type": "object",
      "id": "GoogleCloudDialogflowV2Agent"
    },
    "GoogleCloudDialogflowCxV3beta1RunTestCaseResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1RunTestCaseResponse",
      "properties": {
        "result": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult",
          "description": "The result."
        }
      },
      "description": "The response message for TestCases.RunTestCase."
    },
    "GoogleCloudDialogflowCxV3beta1InputAudioConfig": {
      "description": "Instructs the speech recognizer on how to process the audio content.",
      "properties": {
        "audioEncoding": {
          "enumDescriptions": [
            "Not specified.",
            "Uncompressed 16-bit signed little-endian samples (Linear PCM).",
            "[`FLAC`](https://xiph.org/flac/documentation.html) (Free Lossless Audio Codec) is the recommended encoding because it is lossless (therefore recognition is not compromised) and requires only about half the bandwidth of `LINEAR16`. `FLAC` stream encoding supports 16-bit and 24-bit samples, however, not all fields in `STREAMINFO` are supported.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law.",
            "Adaptive Multi-Rate Narrowband codec. `sample_rate_hertz` must be 8000.",
            "Adaptive Multi-Rate Wideband codec. `sample_rate_hertz` must be 16000.",
            "Opus encoded audio frames in Ogg container ([OggOpus](https://wiki.xiph.org/OggOpus)). `sample_rate_hertz` must be 16000.",
            "Although the use of lossy encodings is not recommended, if a very low bitrate encoding is required, `OGG_OPUS` is highly preferred over Speex encoding. The [Speex](https://speex.org/) encoding supported by Dialogflow API has a header byte in each block, as in MIME type `audio/x-speex-with-header-byte`. It is a variant of the RTP Speex encoding defined in [RFC 5574](https://tools.ietf.org/html/rfc5574). The stream is a sequence of blocks, one block per RTP packet. Each block starts with a byte containing the length of the block, in bytes, followed by one or more frames of Speex data, padded to an integral number of bytes (octets) as specified in RFC 5574. In other words, each RTP header is replaced with a single byte containing the block length. Only Speex wideband is supported. `sample_rate_hertz` must be 16000."
          ],
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "AUDIO_ENCODING_LINEAR_16",
            "AUDIO_ENCODING_FLAC",
            "AUDIO_ENCODING_MULAW",
            "AUDIO_ENCODING_AMR",
            "AUDIO_ENCODING_AMR_WB",
            "AUDIO_ENCODING_OGG_OPUS",
            "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE"
          ],
          "type": "string",
          "description": "Required. Audio encoding of the audio content to process."
        },
        "phraseHints": {
          "type": "array",
          "description": "Optional. A list of strings containing words and phrases that the speech recognizer should recognize with higher likelihood. See [the Cloud Speech documentation](https://cloud.google.com/speech-to-text/docs/basics#phrase-hints) for more details.",
          "items": {
            "type": "string"
          }
        },
        "sampleRateHertz": {
          "description": "Sample rate (in Hertz) of the audio content sent in the query. Refer to [Cloud Speech API documentation](https://cloud.google.com/speech-to-text/docs/basics) for more details.",
          "type": "integer",
          "format": "int32"
        },
        "singleUtterance": {
          "type": "boolean",
          "description": "Optional. If `false` (default), recognition does not cease until the client closes the stream. If `true`, the recognizer will detect a single spoken utterance in input audio. Recognition ceases when it detects the audio's voice has stopped or paused. In this case, once a detected intent is received, the client should close the stream and start a new request with a new stream as needed. Note: This setting is relevant only for streaming methods."
        },
        "enableWordInfo": {
          "type": "boolean",
          "description": "Optional. If `true`, Dialogflow returns SpeechWordInfo in StreamingRecognitionResult with information about the recognized speech words, e.g. start and end time offsets. If false or unspecified, Speech doesn't return any word-level information."
        },
        "modelVariant": {
          "enum": [
            "SPEECH_MODEL_VARIANT_UNSPECIFIED",
            "USE_BEST_AVAILABLE",
            "USE_STANDARD",
            "USE_ENHANCED"
          ],
          "enumDescriptions": [
            "No model variant specified. In this case Dialogflow defaults to USE_BEST_AVAILABLE.",
            "Use the best available variant of the Speech model that the caller is eligible for. Please see the [Dialogflow docs](https://cloud.google.com/dialogflow/docs/data-logging) for how to make your project eligible for enhanced models.",
            "Use standard model variant even if an enhanced model is available. See the [Cloud Speech documentation](https://cloud.google.com/speech-to-text/docs/enhanced-models) for details about enhanced models.",
[...]
