{
  "baseUrl": "https://dialogflow.googleapis.com/",
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    }
  },
  "basePath": "",
  "discoveryVersion": "v1",
  "name": "dialogflow",
  "revision": "20220824",
  "ownerDomain": "google.com",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "conversationProfiles": {
          "methods": {
            "patch": {
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ConversationProfile"
              },
              "flatPath": "v2beta1/projects/{projectsId}/conversationProfiles/{conversationProfilesId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Updates the specified conversation profile. ConversationProfile.CreateTime and ConversationProfile.UpdateTime aren't populated in the response. You can retrieve them via GetConversationProfile API.",
              "path": "v2beta1/{+name}",
              "id": "dialogflow.projects.conversationProfiles.patch",
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1ConversationProfile"
              },
              "parameters": {
                "updateMask": {
                  "description": "Required. The mask to control which fields to update.",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "name": {
                  "location": "path",
                  "description": "The unique identifier of this conversation profile. Format: `projects//locations//conversationProfiles/`.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            },
            "clearSuggestionFeatureConfig": {
              "parameterOrder": [
                "conversationProfile"
              ],
              "description": "Clears a suggestion feature from a conversation profile for the given participant role. This method is a [long-running operation](https://cloud.google.com/dialogflow/es/docs/how/long-running-operations). The returned `Operation` type has the following method-specific fields: - `metadata`: ClearSuggestionFeatureConfigOperationMetadata - `response`: ConversationProfile",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2beta1/{+conversationProfile}:clearSuggestionFeatureConfig",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "dialogflow.projects.conversationProfiles.clearSuggestionFeatureConfig",
              "httpMethod": "POST",
              "parameters": {
                "conversationProfile": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The Conversation Profile to add or update the suggestion feature config. Format: `projects//locations//conversationProfiles/`."
                }
              },
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigRequest"
              },
              "flatPath": "v2beta1/projects/{projectsId}/conversationProfiles/{conversationProfilesId}:clearSuggestionFeatureConfig"
            },
            "delete": {
              "path": "v2beta1/{+name}",
              "description": "Deletes the specified conversation profile.",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the conversation profile to delete. Format: `projects//locations//conversationProfiles/`.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2beta1/projects/{projectsId}/conversationProfiles/{conversationProfilesId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "dialogflow.projects.conversationProfiles.delete"
            },
            "create": {
              "id": "dialogflow.projects.conversationProfiles.create",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "Required. The project to create a conversation profile for. Format: `projects//locations/`."
                }
              },
              "httpMethod": "POST",
              "description": "Creates a conversation profile in the specified project. ConversationProfile.CreateTime and ConversationProfile.UpdateTime aren't populated in the response. You can retrieve them via GetConversationProfile API.",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1ConversationProfile"
              },
              "path": "v2beta1/{+parent}/conversationProfiles",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "flatPath": "v2beta1/projects/{projectsId}/conversationProfiles",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ConversationProfile"
              }
            },
            "setSuggestionFeatureConfig": {
              "flatPath": "v2beta1/projects/{projectsId}/conversationProfiles/{conversationProfilesId}:setSuggestionFeatureConfig",
              "httpMethod": "POST",
              "description": "Adds or updates a suggestion feature in a conversation profile. If the conversation profile contains the type of suggestion feature for the participant role, it will update it. Otherwise it will insert the suggestion feature. This method is a [long-running operation](https://cloud.google.com/dialogflow/es/docs/how/long-running-operations). The returned `Operation` type has the following method-specific fields: - `metadata`: SetSuggestionFeatureConfigOperationMetadata - `response`: ConversationProfile If a long running operation to add or update suggestion feature config for the same conversation profile, participant role and suggestion feature type exists, please cancel the existing long running operation before sending such request, otherwise the request will be rejected.",
              "parameters": {
                "conversationProfile": {
                  "description": "Required. The Conversation Profile to add or update the suggestion feature config. Format: `projects//locations//conversationProfiles/`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "id": "dialogflow.projects.conversationProfiles.setSuggestionFeatureConfig",
              "parameterOrder": [
                "conversationProfile"
              ],
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1SetSuggestionFeatureConfigRequest"
              },
              "path": "v2beta1/{+conversationProfile}:setSuggestionFeatureConfig"
            },
            "get": {
              "flatPath": "v2beta1/projects/{projectsId}/conversationProfiles/{conversationProfilesId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the conversation profile. Format: `projects//locations//conversationProfiles/`.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "Retrieves the specified conversation profile.",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ConversationProfile"
              },
              "id": "dialogflow.projects.conversationProfiles.get",
              "parameterOrder": [
                "name"
              ],
              "path": "v2beta1/{+name}"
            },
            "list": {
              "path": "v2beta1/{+parent}/conversationProfiles",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ListConversationProfilesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "dialogflow.projects.conversationProfiles.list",
              "flatPath": "v2beta1/projects/{projectsId}/conversationProfiles",
              "httpMethod": "GET",
              "description": "Returns the list of all conversation profiles in the specified project.",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of items to return in a single page. By default 100 and at most 1000.",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The next_page_token value returned from a previous list request.",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "description": "Required. The project to list all conversation profiles from. Format: `projects//locations/`.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            }
          }
        },
        "answerRecords": {
          "methods": {
            "list": {
              "description": "Returns the list of all answer records in the specified project in reverse chronological order.",
              "parameterOrder": [
                "parent"
              ],
              "path": "v2beta1/{+parent}/answerRecords",
              "httpMethod": "GET",
              "flatPath": "v2beta1/projects/{projectsId}/answerRecords",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Filters to restrict results to specific answer records. For more information about filtering, see [API Filtering](https://aip.dev/160)."
                },
                "pageToken": {
                  "description": "Optional. The ListAnswerRecordsResponse.next_page_token value returned from a previous list request used to continue listing on the next page.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The project to list all answer records for in reverse chronological order. Format: `projects//locations/`.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of records to return in a single page. The server may return fewer records than this. If unspecified, we use 10. The maximum is 100.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ListAnswerRecordsResponse"
              },
              "id": "dialogflow.projects.answerRecords.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            },
            "patch": {
              "description": "Updates the specified answer record.",
              "id": "dialogflow.projects.answerRecords.patch",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1AnswerRecord"
              },
              "path": "v2beta1/{+name}",
              "flatPath": "v2beta1/projects/{projectsId}/answerRecords/{answerRecordsId}",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1AnswerRecord"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/answerRecords/[^/]+$",
                  "description": "The unique identifier of this answer record. Required for AnswerRecords.UpdateAnswerRecord method. Format: `projects//locations//answerRecords/`.",
                  "location": "path",
                  "type": "string"
                },
                "updateMask": {
                  "description": "Required. The mask to control which fields get updated.",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              }
            },
            "get": {
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1AnswerRecord"
              },
              "description": "Deprecated. Retrieves a specific answer record.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/answerRecords/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the answer record to retrieve. Format: `projects//locations//answerRecords/`.",
                  "location": "path"
                }
              },
              "flatPath": "v2beta1/projects/{projectsId}/answerRecords/{answerRecordsId}",
              "httpMethod": "GET",
              "id": "dialogflow.projects.answerRecords.get",
              "parameterOrder": [
                "name"
              ],
              "path": "v2beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            }
          }
        },
        "locations": {
          "resources": {
            "agent": {
              "methods": {
                "train": {
                  "httpMethod": "POST",
                  "id": "dialogflow.projects.locations.agent.train",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1TrainAgentRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent:train",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The project that the agent to train is associated with. Format: `projects/` or `projects//locations/`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Trains the specified agent. This method is a [long-running operation](https://cloud.google.com/dialogflow/es/docs/how/long-running-operations). The returned `Operation` type has the following method-specific fields: - `metadata`: An empty [Struct message](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#struct) - `response`: An [Empty message](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#empty) Note: You should always train an agent prior to sending it queries. See the [training documentation](https://cloud.google.com/dialogflow/es/docs/training).",
                  "path": "v2beta1/{+parent}/agent:train"
                },
                "search": {
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent:search",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1SearchAgentsResponse"
                  },
                  "id": "dialogflow.projects.locations.agent.search",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The project to list agents from. Format: `projects/` or `projects//locations/`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum number of items to return in a single page. By default 100 and at most 1000.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. The next_page_token value returned from a previous list request.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Returns the list of agents. Since there is at most one conversational agent per project, this method is useful primarily for listing all agents across projects the caller has access to. One can achieve that with a wildcard project collection id \"-\". Refer to [List Sub-Collections](https://cloud.google.com/apis/design/design_patterns#list_sub-collections).",
                  "path": "v2beta1/{+parent}/agent:search",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "getFulfillment": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/fulfillment",
                  "description": "Retrieves the fulfillment.",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Fulfillment"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/agent/fulfillment$",
                      "description": "Required. The name of the fulfillment. Supported formats: - `projects//agent/fulfillment` - `projects//locations//agent/fulfillment`",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET",
                  "id": "dialogflow.projects.locations.agent.getFulfillment"
                },
                "restore": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The project that the agent to restore is associated with. Format: `projects/` or `projects//locations/`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent:restore",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1RestoreAgentRequest"
                  },
                  "path": "v2beta1/{+parent}/agent:restore",
                  "description": "Restores the specified agent from a ZIP file. Replaces the current agent version with a new one. All the intents and entity types in the older version are deleted. After the restore, the restored draft agent will be trained automatically (unless disabled in agent settings). However, once the restore is done, training may not be completed yet. Please call TrainAgent and wait for the operation it returns in order to train explicitly. This method is a [long-running operation](https://cloud.google.com/dialogflow/es/docs/how/long-running-operations). The returned `Operation` type has the following method-specific fields: - `metadata`: An empty [Struct message](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#struct) - `response`: An [Empty message](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#empty) The operation only tracks when restoring is complete, not when it is done training. Note: You should always train an agent prior to sending it queries. See the [training documentation](https://cloud.google.com/dialogflow/es/docs/training).",
                  "id": "dialogflow.projects.locations.agent.restore"
                },
                "getValidationResult": {
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/validationResult",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ValidationResult"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The project that the agent is associated with. Format: `projects/` or `projects//locations/`.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "languageCode": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The language for which you want a validation result. If not specified, the agent's default language is used. [Many languages](https://cloud.google.com/dialogflow/docs/reference/language) are supported. Note: languages must be enabled in the agent before they can be used."
                    }
                  },
                  "id": "dialogflow.projects.locations.agent.getValidationResult",
                  "path": "v2beta1/{+parent}/agent/validationResult",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Gets agent validation result. Agent validation is performed during training time and is updated automatically when training is completed."
                },
                "export": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1ExportAgentRequest"
                  },
                  "description": "Exports the specified agent to a ZIP file. This method is a [long-running operation](https://cloud.google.com/dialogflow/es/docs/how/long-running-operations). The returned `Operation` type has the following method-specific fields: - `metadata`: An empty [Struct message](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#struct) - `response`: ExportAgentResponse",
                  "path": "v2beta1/{+parent}/agent:export",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The project that the agent to export is associated with. Format: `projects/` or `projects//locations/`.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent:export",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "dialogflow.projects.locations.agent.export"
                },
                "updateFulfillment": {
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Fulfillment"
                  },
                  "path": "v2beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "Updates the fulfillment.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/agent/fulfillment$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The unique identifier of the fulfillment. Supported formats: - `projects//agent/fulfillment` - `projects//locations//agent/fulfillment` This field is not used for Fulfillment in an Environment."
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Required. The mask to control which fields get updated. If the mask is not present, all fields will be updated.",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/fulfillment",
                  "id": "dialogflow.projects.locations.agent.updateFulfillment",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Fulfillment"
                  }
                },
                "import": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Imports the specified agent from a ZIP file. Uploads new intents and entity types without deleting the existing ones. Intents and entity types with the same name are replaced with the new versions from ImportAgentRequest. After the import, the imported draft agent will be trained automatically (unless disabled in agent settings). However, once the import is done, training may not be completed yet. Please call TrainAgent and wait for the operation it returns in order to train explicitly. This method is a [long-running operation](https://cloud.google.com/dialogflow/es/docs/how/long-running-operations). The returned `Operation` type has the following method-specific fields: - `metadata`: An empty [Struct message](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#struct) - `response`: An [Empty message](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#empty) The operation only tracks when importing is complete, not when it is done training. Note: You should always train an agent prior to sending it queries. See the [training documentation](https://cloud.google.com/dialogflow/es/docs/training).",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent:import",
                  "id": "dialogflow.projects.locations.agent.import",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The project that the agent to import is associated with. Format: `projects/` or `projects//locations/`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1ImportAgentRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2beta1/{+parent}/agent:import"
                }
              },
              "resources": {
                "intents": {
                  "methods": {
                    "delete": {
                      "path": "v2beta1/{+name}",
                      "id": "dialogflow.projects.locations.agent.intents.delete",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent/intents/[^/]+$",
                          "description": "Required. The name of the intent to delete. If this intent has direct or indirect followup intents, we also delete them. Supported formats: - `projects//agent/intents/` - `projects//locations//agent/intents/`"
                        }
                      },
                      "description": "Deletes the specified intent and its direct or indirect followup intents. Note: You should always train an agent prior to sending it queries. See the [training documentation](https://cloud.google.com/dialogflow/es/docs/training).",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/intents/{intentsId}",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "DELETE"
                    },
                    "create": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1Intent"
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1Intent"
                      },
                      "id": "dialogflow.projects.locations.agent.intents.create",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "Creates an intent in the specified agent. Note: You should always train an agent prior to sending it queries. See the [training documentation](https://cloud.google.com/dialogflow/es/docs/training).",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/intents",
                      "path": "v2beta1/{+parent}/intents",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent$",
                          "description": "Required. The agent to create a intent for. Supported formats: - `projects//agent` - `projects//locations//agent`",
                          "required": true
                        },
                        "languageCode": {
                          "type": "string",
                          "description": "Optional. The language used to access language-specific data. If not specified, the agent's default language is used. For more information, see [Multilingual intent and entity data](https://cloud.google.com/dialogflow/docs/agents-multilingual#intent-entity).",
                          "location": "query"
                        },
                        "intentView": {
                          "enumDescriptions": [
                            "Training phrases field is not populated in the response.",
                            "All fields are populated."
                          ],
                          "type": "string",
                          "description": "Optional. The resource view to apply to the returned intent.",
                          "location": "query",
                          "enum": [
                            "INTENT_VIEW_UNSPECIFIED",
                            "INTENT_VIEW_FULL"
                          ]
                        }
                      }
                    },
                    "list": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1ListIntentsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/intents",
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.locations.agent.intents.list",
                      "path": "v2beta1/{+parent}/intents",
                      "description": "Returns the list of all intents in the specified agent.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. The maximum number of items to return in a single page. By default 100 and at most 1000.",
                          "type": "integer"
                        },
                        "intentView": {
                          "enum": [
                            "INTENT_VIEW_UNSPECIFIED",
                            "INTENT_VIEW_FULL"
                          ],
                          "enumDescriptions": [
                            "Training phrases field is not populated in the response.",
                            "All fields are populated."
                          ],
                          "description": "Optional. The resource view to apply to the returned intent.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "description": "Required. The agent to list all intents from. Format: `projects//agent` or `projects//locations//agent`. Alternatively, you can specify the environment to list intents for. Format: `projects//agent/environments/` or `projects//locations//agent/environments/`. Note: training phrases of the intents will not be returned for non-draft environment.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent$",
                          "type": "string",
                          "required": true
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The language used to access language-specific data. If not specified, the agent's default language is used. For more information, see [Multilingual intent and entity data](https://cloud.google.com/dialogflow/docs/agents-multilingual#intent-entity)."
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. The next_page_token value returned from a previous list request.",
                          "type": "string"
                        }
                      }
                    },
                    "batchUpdate": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1BatchUpdateIntentsRequest"
                      },
                      "path": "v2beta1/{+parent}/intents:batchUpdate",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/intents:batchUpdate",
                      "parameters": {
                        "parent": {
                          "description": "Required. The name of the agent to update or create intents in. Supported formats: - `projects//agent` - `projects//locations//agent`",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "description": "Updates/Creates multiple intents in the specified agent. This method is a [long-running operation](https://cloud.google.com/dialogflow/es/docs/how/long-running-operations). The returned `Operation` type has the following method-specific fields: - `metadata`: An empty [Struct message](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#struct) - `response`: BatchUpdateIntentsResponse Note: You should always train an agent prior to sending it queries. See the [training documentation](https://cloud.google.com/dialogflow/es/docs/training).",
                      "id": "dialogflow.projects.locations.agent.intents.batchUpdate"
                    },
                    "batchDelete": {
                      "description": "Deletes intents in the specified agent. This method is a [long-running operation](https://cloud.google.com/dialogflow/es/docs/how/long-running-operations). The returned `Operation` type has the following method-specific fields: - `metadata`: An empty [Struct message](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#struct) - `response`: An [Empty message](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#empty) Note: You should always train an agent prior to sending it queries. See the [training documentation](https://cloud.google.com/dialogflow/es/docs/training).",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/intents:batchDelete",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1BatchDeleteIntentsRequest"
                      },
                      "path": "v2beta1/{+parent}/intents:batchDelete",
                      "httpMethod": "POST",
                      "id": "dialogflow.projects.locations.agent.intents.batchDelete",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent$",
                          "description": "Required. The name of the agent to delete all entities types for. Supported formats: - `projects//agent` - `projects//locations//agent`",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "get": {
                      "path": "v2beta1/{+name}",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/intents/{intentsId}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1Intent"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Retrieves the specified intent.",
                      "id": "dialogflow.projects.locations.agent.intents.get",
                      "parameters": {
                        "languageCode": {
                          "location": "query",
                          "description": "Optional. The language used to access language-specific data. If not specified, the agent's default language is used. For more information, see [Multilingual intent and entity data](https://cloud.google.com/dialogflow/docs/agents-multilingual#intent-entity).",
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent/intents/[^/]+$",
                          "description": "Required. The name of the intent. Supported formats: - `projects//agent/intents/` - `projects//locations//agent/intents/`",
                          "required": true,
                          "location": "path"
                        },
                        "intentView": {
                          "location": "query",
                          "description": "Optional. The resource view to apply to the returned intent.",
                          "enumDescriptions": [
                            "Training phrases field is not populated in the response.",
                            "All fields are populated."
                          ],
                          "enum": [
                            "INTENT_VIEW_UNSPECIFIED",
                            "INTENT_VIEW_FULL"
                          ],
                          "type": "string"
                        }
                      }
                    },
                    "patch": {
                      "description": "Updates the specified intent. Note: You should always train an agent prior to sending it queries. See the [training documentation](https://cloud.google.com/dialogflow/es/docs/training).",
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1Intent"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent/intents/[^/]+$",
                          "description": "Optional. The unique identifier of this intent. Required for Intents.UpdateIntent and Intents.BatchUpdateIntents methods. Supported formats: - `projects//agent/intents/` - `projects//locations//agent/intents/`",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "description": "Optional. The mask to control which fields get updated.",
                          "location": "query"
                        },
                        "languageCode": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The language used to access language-specific data. If not specified, the agent's default language is used. For more information, see [Multilingual intent and entity data](https://cloud.google.com/dialogflow/docs/agents-multilingual#intent-entity)."
                        },
                        "intentView": {
                          "location": "query",
                          "description": "Optional. The resource view to apply to the returned intent.",
                          "enum": [
                            "INTENT_VIEW_UNSPECIFIED",
                            "INTENT_VIEW_FULL"
                          ],
                          "enumDescriptions": [
                            "Training phrases field is not populated in the response.",
                            "All fields are populated."
                          ],
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.locations.agent.intents.patch",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1Intent"
                      },
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/intents/{intentsId}",
                      "path": "v2beta1/{+name}"
                    }
                  }
                },
                "environments": {
                  "resources": {
                    "users": {
                      "resources": {
                        "sessions": {
                          "methods": {
                            "detectIntent": {
                              "id": "dialogflow.projects.locations.agent.environments.users.sessions.detectIntent",
                              "httpMethod": "POST",
                              "parameterOrder": [
                                "session"
                              ],
                              "description": "Processes a natural language query and returns structured, actionable data as a result. This method is not idempotent, because it may cause contexts and session entity types to be updated, which in turn might affect results of future queries. If you might use [Agent Assist](https://cloud.google.com/dialogflow/docs/#aa) or other CCAI products now or in the future, consider using AnalyzeContent instead of `DetectIntent`. `AnalyzeContent` has additional functionality for Agent Assist and other CCAI products. Note: Always use agent versions for production traffic. See [Versions and environments](https://cloud.google.com/dialogflow/es/docs/agents-versions).",
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2beta1DetectIntentResponse"
                              },
                              "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}:detectIntent",
                              "request": {
                                "$ref": "GoogleCloudDialogflowV2beta1DetectIntentRequest"
                              },
                              "path": "v2beta1/{+session}:detectIntent",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "parameters": {
                                "session": {
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                                  "description": "Required. The name of the session this query is sent to. Supported formats: - `projects//agent/sessions/, - `projects//locations//agent/sessions/`, - `projects//agent/environments//users//sessions/`, - `projects//locations//agent/environments//users//sessions/`, If `Location ID` is not specified we assume default 'us' location. If `Environment ID` is not specified, we assume default 'draft' environment (`Environment ID` might be referred to as environment name at some places). If `User ID` is not specified, we are using \"-\". It's up to the API caller to choose an appropriate `Session ID` and `User Id`. They can be a random number or some type of user and session identifiers (preferably hashed). The length of the `Session ID` and `User ID` must not exceed 36 characters. For more information, see the [API interactions guide](https://cloud.google.com/dialogflow/docs/api-overview). Note: Always use agent versions for production traffic. See [Versions and environments](https://cloud.google.com/dialogflow/es/docs/agents-versions).",
                                  "required": true,
                                  "type": "string",
                                  "location": "path"
                                }
                              }
                            },
                            "deleteContexts": {
                              "response": {
                                "$ref": "GoogleProtobufEmpty"
                              },
                              "description": "Deletes all active contexts in the specified session.",
                              "parameterOrder": [
                                "parent"
                              ],
                              "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts",
                              "parameters": {
                                "parent": {
                                  "location": "path",
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                                  "description": "Required. The name of the session to delete all contexts from. Supported formats: - `projects//agent/sessions/, - `projects//locations//agent/sessions/`, - `projects//agent/environments//users//sessions/`, - `projects//locations//agent/environments//users//sessions/`, If `Location ID` is not specified we assume default 'us' location. If `Environment ID` is not specified we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user.",
                                  "type": "string"
                                }
                              },
                              "path": "v2beta1/{+parent}/contexts",
                              "id": "dialogflow.projects.locations.agent.environments.users.sessions.deleteContexts",
                              "httpMethod": "DELETE",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ]
                            }
                          },
                          "resources": {
                            "contexts": {
                              "methods": {
                                "get": {
                                  "id": "dialogflow.projects.locations.agent.environments.users.sessions.contexts.get",
                                  "scopes": [
                                    "https://www.googleapis.com/auth/cloud-platform",
                                    "https://www.googleapis.com/auth/dialogflow"
                                  ],
                                  "description": "Retrieves the specified context.",
                                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts/{contextsId}",
                                  "httpMethod": "GET",
                                  "parameters": {
                                    "name": {
                                      "location": "path",
                                      "type": "string",
                                      "required": true,
                                      "pattern": "^projects/[^/]+/locations/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/contexts/[^/]+$",
                                      "description": "Required. The name of the context. Supported formats: - `projects//agent/sessions//contexts/`, - `projects//locations//agent/sessions//contexts/`, - `projects//agent/environments//users//sessions//contexts/`, - `projects//locations//agent/environments//users//sessions//contexts/`, If `Location ID` is not specified we assume default 'us' location. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user."
                                    }
                                  },
                                  "path": "v2beta1/{+name}",
                                  "parameterOrder": [
                                    "name"
                                  ],
                                  "response": {
                                    "$ref": "GoogleCloudDialogflowV2beta1Context"
                                  }
                                },
                                "patch": {
                                  "parameterOrder": [
                                    "name"
                                  ],
                                  "request": {
                                    "$ref": "GoogleCloudDialogflowV2beta1Context"
                                  },
                                  "parameters": {
                                    "name": {
                                      "required": true,
                                      "type": "string",
                                      "location": "path",
                                      "description": "Required. The unique identifier of the context. Supported formats: - `projects//agent/sessions//contexts/`, - `projects//locations//agent/sessions//contexts/`, - `projects//agent/environments//users//sessions//contexts/`, - `projects//locations//agent/environments//users//sessions//contexts/`, The `Context ID` is always converted to lowercase, may only contain characters in a-zA-Z0-9_-% and may be at most 250 bytes long. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user. The following context names are reserved for internal use by Dialogflow. You should not use these contexts or create contexts with these names: * `__system_counters__` * `*_id_dialog_context` * `*_dialog_params_size`",
                                      "pattern": "^projects/[^/]+/locations/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/contexts/[^/]+$"
                                    },
                                    "updateMask": {
                                      "type": "string",
                                      "location": "query",
                                      "format": "google-fieldmask",
                                      "description": "Optional. The mask to control which fields get updated."
                                    }
                                  },
                                  "path": "v2beta1/{+name}",
                                  "description": "Updates the specified context.",
                                  "response": {
                                    "$ref": "GoogleCloudDialogflowV2beta1Context"
                                  },
                                  "scopes": [
                                    "https://www.googleapis.com/auth/cloud-platform",
                                    "https://www.googleapis.com/auth/dialogflow"
                                  ],
                                  "id": "dialogflow.projects.locations.agent.environments.users.sessions.contexts.patch",
                                  "httpMethod": "PATCH",
                                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts/{contextsId}"
                                },
                                "list": {
                                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts",
                                  "description": "Returns the list of all contexts in the specified session.",
                                  "parameters": {
                                    "pageToken": {
                                      "location": "query",
                                      "type": "string",
                                      "description": "Optional. The next_page_token value returned from a previous list request."
                                    },
                                    "parent": {
                                      "description": "Required. The session to list all contexts from. Supported formats: - `projects//agent/sessions/, - `projects//locations//agent/sessions/`, - `projects//agent/environments//users//sessions/`, - `projects//locations//agent/environments//users//sessions/`, If `Location ID` is not specified we assume default 'us' location. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user.",
                                      "required": true,
                                      "location": "path",
                                      "pattern": "^projects/[^/]+/locations/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                                      "type": "string"
                                    },
                                    "pageSize": {
                                      "type": "integer",
                                      "format": "int32",
                                      "location": "query",
                                      "description": "Optional. The maximum number of items to return in a single page. By default 100 and at most 1000."
                                    }
                                  },
                                  "scopes": [
                                    "https://www.googleapis.com/auth/cloud-platform",
                                    "https://www.googleapis.com/auth/dialogflow"
                                  ],
                                  "path": "v2beta1/{+parent}/contexts",
                                  "httpMethod": "GET",
                                  "response": {
                                    "$ref": "GoogleCloudDialogflowV2beta1ListContextsResponse"
                                  },
                                  "parameterOrder": [
                                    "parent"
                                  ],
                                  "id": "dialogflow.projects.locations.agent.environments.users.sessions.contexts.list"
                                },
                                "create": {
                                  "path": "v2beta1/{+parent}/contexts",
                                  "request": {
                                    "$ref": "GoogleCloudDialogflowV2beta1Context"
                                  },
                                  "parameters": {
                                    "parent": {
                                      "required": true,
                                      "description": "Required. The session to create a context for. Supported formats: - `projects//agent/sessions/, - `projects//locations//agent/sessions/`, - `projects//agent/environments//users//sessions/`, - `projects//locations//agent/environments//users//sessions/`, If `Location ID` is not specified we assume default 'us' location. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user.",
                                      "pattern": "^projects/[^/]+/locations/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                                      "location": "path",
                                      "type": "string"
                                    }
                                  },
                                  "description": "Creates a context. If the specified context already exists, overrides the context.",
                                  "httpMethod": "POST",
                                  "scopes": [
                                    "https://www.googleapis.com/auth/cloud-platform",
                                    "https://www.googleapis.com/auth/dialogflow"
                                  ],
                                  "parameterOrder": [
                                    "parent"
                                  ],
                                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts",
                                  "response": {
                                    "$ref": "GoogleCloudDialogflowV2beta1Context"
                                  },
                                  "id": "dialogflow.projects.locations.agent.environments.users.sessions.contexts.create"
                                },
                                "delete": {
                                  "path": "v2beta1/{+name}",
                                  "parameters": {
                                    "name": {
                                      "pattern": "^projects/[^/]+/locations/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/contexts/[^/]+$",
                                      "location": "path",
                                      "description": "Required. The name of the context to delete. Supported formats: - `projects//agent/sessions//contexts/`, - `projects//locations//agent/sessions//contexts/`, - `projects//agent/environments//users//sessions//contexts/`, - `projects//locations//agent/environments//users//sessions//contexts/`, If `Location ID` is not specified we assume default 'us' location. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user.",
                                      "type": "string",
                                      "required": true
                                    }
                                  },
                                  "scopes": [
                                    "https://www.googleapis.com/auth/cloud-platform",
                                    "https://www.googleapis.com/auth/dialogflow"
                                  ],
                                  "httpMethod": "DELETE",
                                  "description": "Deletes the specified context.",
                                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts/{contextsId}",
                                  "id": "dialogflow.projects.locations.agent.environments.users.sessions.contexts.delete",
                                  "response": {
                                    "$ref": "GoogleProtobufEmpty"
                                  },
                                  "parameterOrder": [
                                    "name"
                                  ]
                                }
                              }
                            },
                            "entityTypes": {
                              "methods": {
                                "delete": {
                                  "response": {
                                    "$ref": "GoogleProtobufEmpty"
                                  },
                                  "description": "Deletes the specified session entity type. This method doesn't work with Google Assistant integration. Contact Dialogflow support if you need to use session entities with Google Assistant integration.",
                                  "scopes": [
                                    "https://www.googleapis.com/auth/cloud-platform",
                                    "https://www.googleapis.com/auth/dialogflow"
                                  ],
                                  "path": "v2beta1/{+name}",
                                  "id": "dialogflow.projects.locations.agent.environments.users.sessions.entityTypes.delete",
                                  "httpMethod": "DELETE",
                                  "parameters": {
                                    "name": {
                                      "required": true,
                                      "location": "path",
                                      "type": "string",
                                      "pattern": "^projects/[^/]+/locations/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                                      "description": "Required. The name of the entity type to delete. Supported formats: - `projects//agent/sessions//entityTypes/` - `projects//locations//agent/sessions//entityTypes/` - `projects//agent/environments//users//sessions//entityTypes/` - `projects//locations//agent/environments/ /users//sessions//entityTypes/` If `Location ID` is not specified we assume default 'us' location. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user."
                                    }
                                  },
                                  "parameterOrder": [
                                    "name"
                                  ],
                                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes/{entityTypesId}"
                                },
                                "list": {
                                  "response": {
                                    "$ref": "GoogleCloudDialogflowV2beta1ListSessionEntityTypesResponse"
                                  },
                                  "parameterOrder": [
                                    "parent"
                                  ],
                                  "scopes": [
                                    "https://www.googleapis.com/auth/cloud-platform",
                                    "https://www.googleapis.com/auth/dialogflow"
                                  ],
                                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes",
                                  "httpMethod": "GET",
                                  "path": "v2beta1/{+parent}/entityTypes",
                                  "parameters": {
                                    "pageToken": {
                                      "location": "query",
                                      "description": "Optional. The next_page_token value returned from a previous list request.",
                                      "type": "string"
                                    },
                                    "pageSize": {
                                      "description": "Optional. The maximum number of items to return in a single page. By default 100 and at most 1000.",
                                      "location": "query",
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "parent": {
                                      "required": true,
                                      "description": "Required. The session to list all session entity types from. Supported formats: - `projects//agent/sessions/, - `projects//locations//agent/sessions/`, - `projects//agent/environments//users//sessions/`, - `projects//locations//agent/environments//users//sessions/`, If `Location ID` is not specified we assume default 'us' location. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user.",
                                      "type": "string",
                                      "location": "path",
                                      "pattern": "^projects/[^/]+/locations/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$"
                                    }
                                  },
                                  "id": "dialogflow.projects.locations.agent.environments.users.sessions.entityTypes.list",
                                  "description": "Returns the list of all session entity types in the specified session. This method doesn't work with Google Assistant integration. Contact Dialogflow support if you need to use session entities with Google Assistant integration."
                                },
                                "get": {
                                  "parameters": {
                                    "name": {
                                      "type": "string",
                                      "location": "path",
                                      "pattern": "^projects/[^/]+/locations/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                                      "description": "Required. The name of the session entity type. Supported formats: - `projects//agent/sessions//entityTypes/` - `projects//locations//agent/sessions//entityTypes/` - `projects//agent/environments//users//sessions//entityTypes/` - `projects//locations//agent/environments/ /users//sessions//entityTypes/` If `Location ID` is not specified we assume default 'us' location. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user.",
                                      "required": true
                                    }
                                  },
                                  "httpMethod": "GET",
                                  "path": "v2beta1/{+name}",
                                  "id": "dialogflow.projects.locations.agent.environments.users.sessions.entityTypes.get",
                                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                                  "description": "Retrieves the specified session entity type. This method doesn't work with Google Assistant integration. Contact Dialogflow support if you need to use session entities with Google Assistant integration.",
                                  "response": {
                                    "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                                  },
                                  "parameterOrder": [
                                    "name"
                                  ],
                                  "scopes": [
                                    "https://www.googleapis.com/auth/cloud-platform",
                                    "https://www.googleapis.com/auth/dialogflow"
                                  ]
                                },
                                "create": {
                                  "parameterOrder": [
                                    "parent"
                                  ],
                                  "id": "dialogflow.projects.locations.agent.environments.users.sessions.entityTypes.create",
                                  "request": {
                                    "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                                  },
                                  "parameters": {
                                    "parent": {
                                      "pattern": "^projects/[^/]+/locations/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                                      "type": "string",
                                      "location": "path",
                                      "description": "Required. The session to create a session entity type for. Supported formats: - `projects//agent/sessions/, - `projects//locations//agent/sessions/`, - `projects//agent/environments//users//sessions/`, - `projects//locations//agent/environments//users//sessions/`, If `Location ID` is not specified we assume default 'us' location. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user.",
                                      "required": true
                                    }
                                  },
                                  "description": "Creates a session entity type. If the specified session entity type already exists, overrides the session entity type. This method doesn't work with Google Assistant integration. Contact Dialogflow support if you need to use session entities with Google Assistant integration.",
                                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes",
                                  "httpMethod": "POST",
                                  "response": {
                                    "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                                  },
                                  "scopes": [
                                    "https://www.googleapis.com/auth/cloud-platform",
                                    "https://www.googleapis.com/auth/dialogflow"
                                  ],
                                  "path": "v2beta1/{+parent}/entityTypes"
                                },
                                "patch": {
                                  "request": {
                                    "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                                  },
                                  "parameterOrder": [
                                    "name"
                                  ],
                                  "id": "dialogflow.projects.locations.agent.environments.users.sessions.entityTypes.patch",
                                  "path": "v2beta1/{+name}",
                                  "scopes": [
                                    "https://www.googleapis.com/auth/cloud-platform",
                                    "https://www.googleapis.com/auth/dialogflow"
                                  ],
                                  "response": {
                                    "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                                  },
                                  "parameters": {
                                    "updateMask": {
                                      "type": "string",
                                      "location": "query",
                                      "format": "google-fieldmask",
                                      "description": "Optional. The mask to control which fields get updated."
                                    },
                                    "name": {
                                      "required": true,
                                      "location": "path",
                                      "pattern": "^projects/[^/]+/locations/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                                      "description": "Required. The unique identifier of this session entity type. Supported formats: - `projects//agent/sessions//entityTypes/` - `projects//locations//agent/sessions//entityTypes/` - `projects//agent/environments//users//sessions//entityTypes/` - `projects//locations//agent/environments/ /users//sessions//entityTypes/` If `Location ID` is not specified we assume default 'us' location. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user. `` must be the display name of an existing entity type in the same agent that will be overridden or supplemented.",
                                      "type": "string"
                                    }
                                  },
                                  "httpMethod": "PATCH",
                                  "description": "Updates the specified session entity type. This method doesn't work with Google Assistant integration. Contact Dialogflow support if you need to use session entities with Google Assistant integration.",
                                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes/{entityTypesId}"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "intents": {
                      "methods": {
                        "list": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v2beta1/{+parent}/intents",
                          "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/environments/{environmentsId}/intents",
                          "httpMethod": "GET",
                          "parameters": {
                            "pageSize": {
                              "type": "integer",
                              "description": "Optional. The maximum number of items to return in a single page. By default 100 and at most 1000.",
                              "format": "int32",
                              "location": "query"
                            },
                            "parent": {
                              "location": "path",
                              "required": true,
                              "description": "Required. The agent to list all intents from. Format: `projects//agent` or `projects//locations//agent`. Alternatively, you can specify the environment to list intents for. Format: `projects//agent/environments/` or `projects//locations//agent/environments/`. Note: training phrases of the intents will not be returned for non-draft environment.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agent/environments/[^/]+$",
                              "type": "string"
                            },
                            "languageCode": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. The language used to access language-specific data. If not specified, the agent's default language is used. For more information, see [Multilingual intent and entity data](https://cloud.google.com/dialogflow/docs/agents-multilingual#intent-entity)."
                            },
                            "intentView": {
                              "enum": [
                                "INTENT_VIEW_UNSPECIFIED",
                                "INTENT_VIEW_FULL"
                              ],
                              "type": "string",
                              "enumDescriptions": [
                                "Training phrases field is not populated in the response.",
                                "All fields are populated."
                              ],
                              "description": "Optional. The resource view to apply to the returned intent.",
                              "location": "query"
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "Optional. The next_page_token value returned from a previous list request.",
                              "type": "string"
                            }
                          },
                          "description": "Returns the list of all intents in the specified agent.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2beta1ListIntentsResponse"
                          },
                          "id": "dialogflow.projects.locations.agent.environments.intents.list"
                        }
                      }
                    }
                  },
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Returns the list of all non-draft environments of the specified agent.",
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.locations.agent.environments.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2beta1/{+parent}/environments",
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous list request.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "Optional. The maximum number of items to return in a single page. By default 100 and at most 1000.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent$",
                          "description": "Required. The agent to list all environments from. Format: - `projects//agent` - `projects//locations//agent`",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1ListEnvironmentsResponse"
                      },
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/environments"
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent/environments/[^/]+$",
                          "location": "path",
                          "description": "Required. The name of the environment. Supported formats: - `projects//agent/environments/` - `projects//locations//agent/environments/`"
                        }
                      },
                      "httpMethod": "GET",
                      "description": "Retrieves the specified agent environment.",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1Environment"
                      },
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/environments/{environmentsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.locations.agent.environments.get",
                      "path": "v2beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "patch": {
                      "description": "Updates the specified agent environment. This method allows you to deploy new agent versions into the environment. When an environment is pointed to a new agent version by setting `environment.agent_version`, the environment is temporarily set to the `LOADING` state. During that time, the environment keeps on serving the previous version of the agent. After the new agent version is done loading, the environment is set back to the `RUNNING` state. You can use \"-\" as Environment ID in environment name to update version in \"draft\" environment. WARNING: this will negate all recent changes to draft and can't be undone. You may want to save the draft to a version before calling this function.",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1Environment"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2beta1/{+name}",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/environments/{environmentsId}",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1Environment"
                      },
                      "id": "dialogflow.projects.locations.agent.environments.patch",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent/environments/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Output only. The unique identifier of this agent environment. Supported formats: - `projects//agent/environments/` - `projects//locations//agent/environments/`",
                          "required": true
                        },
                        "allowLoadToDraftAndDiscardChanges": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Optional. This field is used to prevent accidental overwrite of the draft environment, which is an operation that cannot be undone. To confirm that the caller desires this overwrite, this field must be explicitly set to true when updating the draft environment (environment ID = `-`)."
                        },
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "description": "Required. The mask to control which fields get updated.",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "getHistory": {
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/environments/{environmentsId}/history",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1EnvironmentHistory"
                      },
                      "path": "v2beta1/{+parent}/history",
                      "description": "Gets the history of the specified environment.",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. The maximum number of items to return in a single page. By default 100 and at most 1000.",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous list request.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. The name of the environment to retrieve history for. Supported formats: - `projects//agent/environments/` - `projects//locations//agent/environments/`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent/environments/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.locations.agent.environments.getHistory"
                    },
                    "create": {
                      "id": "dialogflow.projects.locations.agent.environments.create",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/environments",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1Environment"
                      },
                      "parameters": {
                        "environmentId": {
                          "location": "query",
                          "description": "Required. The unique id of the new environment.",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The agent to create an environment for. Supported formats: - `projects//agent` - `projects//locations//agent`",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent$",
                          "location": "path"
                        }
                      },
                      "description": "Creates an agent environment.",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1Environment"
                      },
                      "path": "v2beta1/{+parent}/environments"
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The name of the environment to delete. / Format: - `projects//agent/environments/` - `projects//locations//agent/environments/`",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent/environments/[^/]+$"
                        }
                      },
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/environments/{environmentsId}",
                      "id": "dialogflow.projects.locations.agent.environments.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "path": "v2beta1/{+name}",
                      "description": "Deletes the specified agent environment.",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                },
                "sessions": {
[...]
