{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud Platform data"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "version_module": true,
  "servicePath": "",
  "discoveryVersion": "v1",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "name": "dialogflow",
  "basePath": "",
  "ownerDomain": "google.com",
  "schemas": {
    "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart": {
      "properties": {
        "text": {
          "description": "Required. The text for this part.",
          "type": "string"
        },
        "parameterId": {
          "type": "string",
          "description": "The parameter used to annotate this part of the training phrase. This field is required for annotated parts of the training phrase."
        }
      },
      "description": "Represents a part of a training phrase.",
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess": {
      "description": "Indicates that the conversation succeeded, i.e., the bot handled the issue that the customer talked to it about. Dialogflow only uses this to determine which conversations should be counted as successful and doesn't process the metadata in this message in any way. Note that Dialogflow also considers conversations that get to the conversation end page as successful even if they don't return ConversationSuccess. You may set this, for example: * In the entry_fulfillment of a Page if entering the page indicates that the conversation succeeded. * In a webhook response when you determine that you handled the customer issue.",
      "properties": {
        "metadata": {
          "description": "Custom metadata. Dialogflow doesn't impose any structure on this.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess"
    },
    "GoogleCloudDialogflowV3alpha1GenericKnowledgeOperationMetadata": {
      "description": "Metadata in google::longrunning::Operation for Knowledge operations.",
      "properties": {
        "state": {
          "description": "Required. Output only. The current state of this operation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "State unspecified.",
            "The operation has been created.",
            "The operation is currently running.",
            "The operation is done, either cancelled or completed."
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV3alpha1GenericKnowledgeOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3VoiceSelectionParams": {
      "description": "Description of which voice to use for speech synthesis.",
      "id": "GoogleCloudDialogflowCxV3VoiceSelectionParams",
      "properties": {
        "ssmlGender": {
          "enum": [
            "SSML_VOICE_GENDER_UNSPECIFIED",
            "SSML_VOICE_GENDER_MALE",
            "SSML_VOICE_GENDER_FEMALE",
            "SSML_VOICE_GENDER_NEUTRAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "An unspecified gender, which means that the client doesn't care which gender the selected voice will have.",
            "A male voice.",
            "A female voice.",
            "A gender-neutral voice."
          ],
          "description": "Optional. The preferred gender of the voice. If not set, the service will choose a voice based on the other parameters such as language_code and name. Note that this is only a preference, not requirement. If a voice of the appropriate gender is not available, the synthesizer substitutes a voice with a different gender rather than failing the request."
        },
        "name": {
          "type": "string",
          "description": "Optional. The name of the voice. If not set, the service will choose a voice based on the other parameters such as language_code and ssml_gender. For the list of available voices, please refer to [Supported voices and languages](https://cloud.google.com/text-to-speech/docs/voices)."
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FulfillIntentResponse": {
      "description": "Response of FulfillIntent",
      "type": "object",
      "properties": {
        "outputAudio": {
          "format": "byte",
          "description": "The audio data bytes encoded as specified in the request. Note: The output audio is generated based on the values of default platform text responses found in the `query_result.response_messages` field. If multiple default text responses exist, they will be concatenated when generating audio. If no default platform text responses exist, the generated audio content will be empty. In some scenarios, multiple output audio fields may be present in the response structure. In these cases, only the top-most-level audio output has content.",
          "type": "string"
        },
        "queryResult": {
          "description": "The result of the conversational query.",
          "$ref": "GoogleCloudDialogflowCxV3QueryResult"
        },
        "outputAudioConfig": {
          "$ref": "GoogleCloudDialogflowCxV3OutputAudioConfig",
          "description": "The config used by the speech synthesizer to generate the output audio."
        },
        "responseId": {
          "type": "string",
          "description": "Output only. The unique identifier of the response. It can be used to locate a response in the training example set or for reporting issues."
        }
      },
      "id": "GoogleCloudDialogflowCxV3FulfillIntentResponse"
    },
    "GoogleCloudDialogflowCxV3ImportTestCasesMetadata": {
      "description": "Metadata returned for the TestCases.ImportTestCases long running operation.",
      "id": "GoogleCloudDialogflowCxV3ImportTestCasesMetadata",
      "type": "object",
      "properties": {
        "errors": {
          "description": "Errors for failed test cases.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestCaseError"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse": {
      "description": "The request message for Participants.SuggestFaqAnswers.",
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse",
      "properties": {
        "contextSize": {
          "description": "Number of messages prior to and including latest_message to compile the suggestion. It may be smaller than the SuggestFaqAnswersRequest.context_size field in the request if there aren't that many messages in the conversation.",
          "type": "integer",
          "format": "int32"
        },
        "latestMessage": {
          "type": "string",
          "description": "The name of the latest conversation message used to compile suggestion for. Format: `projects//locations//conversations//messages/`."
        },
        "faqAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1FaqAnswer"
          },
          "description": "Output only. Answers extracted from FAQ documents."
        }
      }
    },
    "GoogleCloudDialogflowV2MessageAnnotation": {
      "description": "Represents the result of annotation for the message.",
      "properties": {
        "containEntities": {
          "description": "Indicates whether the text message contains entities.",
          "type": "boolean"
        },
        "parts": {
          "description": "The collection of annotated message parts ordered by their position in the message. You can recover the annotated message by concatenating [AnnotatedMessagePart.text].",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AnnotatedMessagePart"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2MessageAnnotation"
    },
    "GoogleCloudDialogflowV2FaqAnswer": {
      "id": "GoogleCloudDialogflowV2FaqAnswer",
      "type": "object",
      "properties": {
        "answerRecord": {
          "description": "The name of answer record, in the format of \"projects//locations//answerRecords/\"",
          "type": "string"
        },
        "confidence": {
          "description": "The system's confidence score that this Knowledge answer is a good match for this conversational query, range from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "format": "float",
          "type": "number"
        },
        "metadata": {
          "type": "object",
          "description": "A map that contains metadata about the answer and the document from which it originates.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "question": {
          "description": "The corresponding FAQ question.",
          "type": "string"
        },
        "source": {
          "description": "Indicates which Knowledge Document this answer was extracted from. Format: `projects//locations//agent/knowledgeBases//documents/`.",
          "type": "string"
        },
        "answer": {
          "type": "string",
          "description": "The piece of text from the `source` knowledge base document."
        }
      },
      "description": "Represents answer from \"frequently asked questions\"."
    },
    "GoogleCloudDialogflowCxV3Flow": {
      "type": "object",
      "properties": {
        "eventHandlers": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          },
          "description": "A flow's event handlers serve two purposes: * They are responsible for handling events (e.g. no match, webhook errors) in the flow. * They are inherited by every page's event handlers, which can be used to handle common events regardless of the current page. Event handlers defined in the page have higher priority than those defined in the flow. Unlike transition_routes, these handlers are evaluated on a first-match basis. The first one that matches the event get executed, with the rest being ignored.",
          "type": "array"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The human-readable name of the flow."
        },
        "name": {
          "type": "string",
          "description": "The unique identifier of the flow. Format: `projects//locations//agents//flows/`."
        },
        "nluSettings": {
          "description": "NLU related settings of the flow.",
          "$ref": "GoogleCloudDialogflowCxV3NluSettings"
        },
        "description": {
          "description": "The description of the flow. The maximum length is 500 characters. If exceeded, the request is rejected.",
          "type": "string"
        },
        "transitionRoutes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionRoute"
          },
          "description": "A flow's transition routes serve two purposes: * They are responsible for matching the user's first utterances in the flow. * They are inherited by every page's transition routes and can support use cases such as the user saying \"help\" or \"can I talk to a human?\", which can be handled in a common way regardless of the current page. Transition routes defined in the page have higher priority than those defined in the flow. TransitionRoutes are evalauted in the following order: * TransitionRoutes with intent specified.. * TransitionRoutes with only condition specified. TransitionRoutes with intent specified are inherited by pages in the flow."
        },
        "transitionRouteGroups": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A flow's transition route group serve two purposes: * They are responsible for matching the user's first utterances in the flow. * They are inherited by every page's transition route groups. Transition route groups defined in the page have higher priority than those defined in the flow. Format:`projects//locations//agents//flows//transitionRouteGroups/`."
        }
      },
      "id": "GoogleCloudDialogflowCxV3Flow",
      "description": "Flows represents the conversation flows when you build your chatbot agent. A flow consists of many pages connected by the transition routes. Conversations always start with the built-in Start Flow (with an all-0 ID). Transition routes can direct the conversation session from the current flow (parent flow) to another flow (sub flow). When the sub flow is finished, Dialogflow will bring the session back to the parent flow, where the sub flow is started. Usually, when a transition route is followed by a matched intent, the intent will be \"consumed\". This means the intent won't activate more transition routes. However, when the followed transition route moves the conversation session into a different flow, the matched intent can be carried over and to be consumed in the target flow."
    },
    "GoogleCloudDialogflowCxV3ExportAgentRequest": {
      "properties": {
        "agentUri": {
          "description": "Optional. The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI to export the agent to. The format of this URI must be `gs:///`. If left unspecified, the serialized agent is returned inline.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ExportAgentRequest",
      "description": "The request message for Agents.ExportAgent.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo": {
      "properties": {
        "synonyms": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of synonyms that can also be used to trigger this item in dialog."
        },
        "key": {
          "description": "Required. A unique key that will be sent back to the agent if this response is given.",
          "type": "string"
        }
      },
      "description": "Additional info about the select item for when it is triggered in a dialog.",
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCardButton": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCardButton",
      "description": "Optional. Contains information about a button.",
      "properties": {
        "text": {
          "type": "string",
          "description": "Optional. The text to show on the button."
        },
        "postback": {
          "description": "Optional. The text to send back to the Dialogflow API or a URI to open.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TransitionRouteGroupCoverage": {
      "description": "Transition route group coverage represents the percentage of all possible transition routes present within any of a parent's test cases. The results are grouped by the transition route group.",
      "properties": {
        "coverages": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroupCoverageCoverage"
          },
          "type": "array",
          "description": "Transition route group coverages."
        },
        "coverageScore": {
          "format": "float",
          "type": "number",
          "description": "The percent of transition routes in all the transition route groups that are covered."
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3TransitionRouteGroupCoverage"
    },
    "GoogleCloudDialogflowCxV3beta1RunTestCaseResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1RunTestCaseResponse",
      "description": "The response message for TestCases.RunTestCase.",
      "properties": {
        "result": {
          "description": "The result.",
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TestConfig": {
      "type": "object",
      "description": "Represents configurations for a test case.",
      "id": "GoogleCloudDialogflowCxV3beta1TestConfig",
      "properties": {
        "flow": {
          "description": "Flow name. If not set, default start flow is assumed. Format: `projects//locations//agents//flows/`.",
          "type": "string"
        },
        "trackingParameters": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Session parameters to be compared when calculating differences."
        }
      }
    },
    "GoogleCloudDialogflowCxV3IntentTrainingPhrase": {
      "id": "GoogleCloudDialogflowCxV3IntentTrainingPhrase",
      "type": "object",
      "description": "Represents an example that the agent is trained on to identify the intent.",
      "properties": {
        "parts": {
          "description": "Required. The ordered list of training phrase parts. The parts are concatenated in order to form the training phrase. Note: The API does not automatically annotate training phrases like the Dialogflow Console does. Note: Do not forget to include whitespace at part boundaries, so the training phrase is well formatted when the parts are concatenated. If the training phrase does not need to be annotated with parameters, you just need a single part with only the Part.text field set. If you want to annotate the training phrase, you must create multiple parts, where the fields of each part are populated in one of two ways: - `Part.text` is set to a part of the phrase that has no parameters. - `Part.text` is set to a part of the phrase that you want to annotate, and the `parameter_id` field is set.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3IntentTrainingPhrasePart"
          }
        },
        "id": {
          "type": "string",
          "description": "Output only. The unique identifier of the training phrase."
        },
        "repeatCount": {
          "description": "Indicates how many times this example was added to the intent.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult",
      "properties": {
        "magnitude": {
          "description": "A non-negative number in the [0, +inf) range, which represents the absolute magnitude of sentiment, regardless of score (positive or negative).",
          "format": "float",
          "type": "number"
        },
        "score": {
          "format": "float",
          "description": "Sentiment score between -1.0 (negative sentiment) and 1.0 (positive sentiment).",
          "type": "number"
        }
      },
      "type": "object",
      "description": "Represents the result of sentiment analysis."
    },
    "GoogleCloudDialogflowCxV3SentimentAnalysisResult": {
      "type": "object",
      "properties": {
        "score": {
          "format": "float",
          "type": "number",
          "description": "Sentiment score between -1.0 (negative sentiment) and 1.0 (positive sentiment)."
        },
        "magnitude": {
          "format": "float",
          "description": "A non-negative number in the [0, +inf) range, which represents the absolute magnitude of sentiment, regardless of score (positive or negative).",
          "type": "number"
        }
      },
      "description": "The result of sentiment analysis. Sentiment analysis inspects user input and identifies the prevailing subjective opinion, especially to determine a user's attitude as positive, negative, or neutral.",
      "id": "GoogleCloudDialogflowCxV3SentimentAnalysisResult"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri",
      "description": "Opens the user's default web browser app to the specified uri If the user has an app installed that is registered as the default handler for the URL, then this app will be opened instead, and its icon will be used in the suggested action UI.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. The uri to open on the user device"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent": {
      "type": "object",
      "description": "Rich Business Messaging (RBM) Card content",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent",
      "properties": {
        "media": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia",
          "description": "Optional. However at least one of the title, description or media must be set. Media (image, GIF or a video) to include in the card."
        },
        "description": {
          "description": "Optional. Description of the card (at most 2000 bytes). At least one of the title, description or media must be set.",
          "type": "string"
        },
        "suggestions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion"
          },
          "description": "Optional. List of suggestions to include in the card.",
          "type": "array"
        },
        "title": {
          "description": "Optional. Title of the card (at most 200 bytes). At least one of the title, description or media must be set.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageCardButton": {
      "properties": {
        "postback": {
          "description": "Optional. The text to send back to the Dialogflow API or a URI to open.",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "Optional. The text to show on the button."
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageCardButton",
      "description": "Contains information about a button."
    },
    "GoogleCloudDialogflowCxV3ListTransitionRouteGroupsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ListTransitionRouteGroupsResponse",
      "description": "The response message for TransitionRouteGroups.ListTransitionRouteGroups.",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "transitionRouteGroups": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroup"
          },
          "description": "The list of transition route groups. There will be a maximum number of items returned based on the page_size field in the request. The list may in some cases be empty or contain fewer entries than page_size even if this isn't the last page."
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSuggestions": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSuggestions",
      "description": "The collection of suggestions.",
      "properties": {
        "suggestions": {
          "type": "array",
          "description": "Required. The list of suggested replies.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSuggestion"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2ArticleAnswer": {
      "type": "object",
      "description": "Represents article answer.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "The article URI."
        },
        "snippets": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Article snippets."
        },
        "title": {
          "type": "string",
          "description": "The article title."
        },
        "confidence": {
          "format": "float",
          "description": "Article match confidence. The system's confidence score that this article is a good match for this conversation, as a value from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "type": "number"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map that contains metadata about the answer and the document from which it originates."
        },
        "answerRecord": {
          "type": "string",
          "description": "The name of answer record, in the format of \"projects//locations//answerRecords/\""
        }
      },
      "id": "GoogleCloudDialogflowV2ArticleAnswer"
    },
    "GoogleCloudDialogflowCxV3ListTestCaseResultsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "testCaseResults": {
          "type": "array",
          "description": "The list of test case results.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
          }
        }
      },
      "description": "The response message for TestCases.ListTestCaseResults.",
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ListTestCaseResultsResponse"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessage": {
      "properties": {
        "playAudio": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio",
          "description": "Signal that the client should play an audio clip hosted at a client-specific URI. Dialogflow uses this to construct mixed_audio. However, Dialogflow itself does not try to read or process the URI in any way."
        },
        "mixedAudio": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudio",
          "description": "Output only. An audio response message composed of both the synthesized Dialogflow agent responses and responses defined via play_audio. This message is generated by Dialogflow only and not supposed to be defined by the user."
        },
        "liveAgentHandoff": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageLiveAgentHandoff",
          "description": "Hands off conversation to a human agent."
        },
        "conversationSuccess": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess",
          "description": "Indicates that the conversation succeeded."
        },
        "outputAudioText": {
          "description": "A text or ssml response that is preferentially used for TTS output audio synthesis, as described in the comment on the ResponseMessage message.",
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText"
        },
        "endInteraction": {
          "readOnly": true,
          "description": "Output only. A signal that indicates the interaction with the Dialogflow agent has ended. This message is generated by Dialogflow only when the conversation reaches `END_SESSION` page. It is not supposed to be defined by the user. It's guaranteed that there is at most one such message in each response.",
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction"
        },
        "payload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Returns a response containing a custom, platform-specific payload.",
          "type": "object"
        },
        "text": {
          "description": "Returns a text response.",
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageText"
        }
      },
      "description": "Represents a response message that can be returned by a conversational agent. Response messages are also used for output audio synthesis. The approach is as follows: * If at least one OutputAudioText response is present, then all OutputAudioText responses are linearly concatenated, and the result is used for output audio synthesis. * If the OutputAudioText responses are a mixture of text and SSML, then the concatenated result is treated as SSML; otherwise, the result is treated as either text or SSML as appropriate. The agent designer should ideally use either text or SSML consistently throughout the bot design. * Otherwise, all Text responses are linearly concatenated, and the result is used for output audio synthesis. This approach allows for more sophisticated user experience scenarios, where the text displayed to the user may differ from what is heard.",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessage",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3IntentInput": {
      "id": "GoogleCloudDialogflowCxV3IntentInput",
      "properties": {
        "intent": {
          "description": "Required. The unique identifier of the intent. Format: `projects//locations//agents//intents/`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents the intent to trigger programmatically rather than as a result of natural language processing."
    },
    "GoogleCloudDialogflowCxV3beta1Intent": {
      "id": "GoogleCloudDialogflowCxV3beta1Intent",
      "description": "An intent represents a user's intent to interact with a conversational agent. You can provide information for the Dialogflow API to use to match user input to an intent by adding training phrases (i.e., examples of user input) to your intent.",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The key/value metadata to label an intent. Labels can contain lowercase letters, digits and the symbols '-' and '_'. International characters are allowed, including letters from unicase alphabets. Keys must start with a letter. Keys and values can be no longer than 63 characters and no more than 128 bytes. Prefix \"sys-\" is reserved for Dialogflow defined labels. Currently allowed Dialogflow defined labels include: * sys-head * sys-contextual The above labels do not require value. \"sys-head\" means the intent is a head intent. \"sys-contextual\" means the intent is a contextual intent."
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "The priority of this intent. Higher numbers represent higher priorities. - If the supplied value is unspecified or 0, the service translates the value to 500,000, which corresponds to the `Normal` priority in the console. - If the supplied value is negative, the intent is ignored in runtime detect intent requests."
        },
        "trainingPhrases": {
          "type": "array",
          "description": "The collection of training phrases the agent is trained on to identify the intent.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase"
          }
        },
        "parameters": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentParameter"
          },
          "type": "array",
          "description": "The collection of parameters associated with the intent."
        },
        "isFallback": {
          "type": "boolean",
          "description": "Indicates whether this is a fallback intent. Currently only default fallback intent is allowed in the agent, which is added upon agent creation. Adding training phrases to fallback intent is useful in the case of requests that are mistakenly matched, since training phrases assigned to fallback intents act as negative examples that triggers no-match event."
        },
        "description": {
          "type": "string",
          "description": "Human readable description for better understanding an intent like its scope, content, result etc. Maximum character limit: 140 characters."
        },
        "name": {
          "description": "The unique identifier of the intent. Required for the Intents.UpdateIntent method. Intents.CreateIntent populates the name automatically. Format: `projects//locations//agents//intents/`.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The human-readable name of the intent, unique within the agent.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "type": "object",
      "description": "Browsing carousel tile",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem",
      "properties": {
        "footer": {
          "type": "string",
          "description": "Optional. Text that appears at the bottom of the Browse Carousel Card. Maximum of one line of text."
        },
        "title": {
          "description": "Required. Title of the carousel item. Maximum of two lines of text.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the carousel item. Maximum of four lines of text.",
          "type": "string"
        },
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction",
          "description": "Required. Action to present to the user."
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage",
          "description": "Optional. Hero image for the carousel item."
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCard": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCard",
      "description": "The card response message.",
      "properties": {
        "title": {
          "description": "Optional. The title of the card.",
          "type": "string"
        },
        "subtitle": {
          "type": "string",
          "description": "Optional. The subtitle of the card."
        },
        "buttons": {
          "description": "Optional. The collection of card buttons.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCardButton"
          }
        },
        "imageUri": {
          "type": "string",
          "description": "Optional. The public URI to an image file for the card."
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton": {
      "properties": {
        "openUriAction": {
          "description": "Required. Action to take when a user taps on the button.",
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction"
        },
        "title": {
          "description": "Required. The title of the button.",
          "type": "string"
        }
      },
      "description": "The button object that appears at the bottom of a card.",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TrainFlowRequest": {
      "description": "The request message for Flows.TrainFlow.",
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3TrainFlowRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ListVersionsResponse": {
      "id": "GoogleCloudDialogflowCxV3ListVersionsResponse",
      "properties": {
        "versions": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Version"
          },
          "description": "A list of versions. There will be a maximum number of items returned based on the page_size field in the request. The list may in some cases be empty or contain fewer entries than page_size even if this isn't the last page.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "description": "The response message for Versions.ListVersions.",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ListTestCasesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ListTestCasesResponse",
      "description": "The response message for TestCases.ListTestCases.",
      "properties": {
        "testCases": {
          "description": "The list of test cases. There will be a maximum number of items returned based on the page_size field in the request.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestCase"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      }
    },
    "GoogleCloudDialogflowCxV3InputAudioConfig": {
      "properties": {
        "audioEncoding": {
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "AUDIO_ENCODING_LINEAR_16",
            "AUDIO_ENCODING_FLAC",
            "AUDIO_ENCODING_MULAW",
            "AUDIO_ENCODING_AMR",
            "AUDIO_ENCODING_AMR_WB",
            "AUDIO_ENCODING_OGG_OPUS",
            "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Uncompressed 16-bit signed little-endian samples (Linear PCM).",
            "[`FLAC`](https://xiph.org/flac/documentation.html) (Free Lossless Audio Codec) is the recommended encoding because it is lossless (therefore recognition is not compromised) and requires only about half the bandwidth of `LINEAR16`. `FLAC` stream encoding supports 16-bit and 24-bit samples, however, not all fields in `STREAMINFO` are supported.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law.",
            "Adaptive Multi-Rate Narrowband codec. `sample_rate_hertz` must be 8000.",
            "Adaptive Multi-Rate Wideband codec. `sample_rate_hertz` must be 16000.",
            "Opus encoded audio frames in Ogg container ([OggOpus](https://wiki.xiph.org/OggOpus)). `sample_rate_hertz` must be 16000.",
            "Although the use of lossy encodings is not recommended, if a very low bitrate encoding is required, `OGG_OPUS` is highly preferred over Speex encoding. The [Speex](https://speex.org/) encoding supported by Dialogflow API has a header byte in each block, as in MIME type `audio/x-speex-with-header-byte`. It is a variant of the RTP Speex encoding defined in [RFC 5574](https://tools.ietf.org/html/rfc5574). The stream is a sequence of blocks, one block per RTP packet. Each block starts with a byte containing the length of the block, in bytes, followed by one or more frames of Speex data, padded to an integral number of bytes (octets) as specified in RFC 5574. In other words, each RTP header is replaced with a single byte containing the block length. Only Speex wideband is supported. `sample_rate_hertz` must be 16000."
          ],
          "description": "Required. Audio encoding of the audio content to process.",
          "type": "string"
        },
        "singleUtterance": {
          "type": "boolean",
          "description": "Optional. If `false` (default), recognition does not cease until the client closes the stream. If `true`, the recognizer will detect a single spoken utterance in input audio. Recognition ceases when it detects the audio's voice has stopped or paused. In this case, once a detected intent is received, the client should close the stream and start a new request with a new stream as needed. Note: This setting is relevant only for streaming methods."
        },
        "modelVariant": {
          "enumDescriptions": [
            "No model variant specified. In this case Dialogflow defaults to USE_BEST_AVAILABLE.",
            "Use the best available variant of the Speech model that the caller is eligible for. Please see the [Dialogflow docs](https://cloud.google.com/dialogflow/docs/data-logging) for how to make your project eligible for enhanced models.",
            "Use standard model variant even if an enhanced model is available. See the [Cloud Speech documentation](https://cloud.google.com/speech-to-text/docs/enhanced-models) for details about enhanced models.",
            "Use an enhanced model variant: * If an enhanced variant does not exist for the given model and request language, Dialogflow falls back to the standard variant. The [Cloud Speech documentation](https://cloud.google.com/speech-to-text/docs/enhanced-models) describes which models have enhanced variants. * If the API caller isn't eligible for enhanced models, Dialogflow returns an error. Please see the [Dialogflow docs](https://cloud.google.com/dialogflow/docs/data-logging) for how to make your project eligible."
          ],
          "description": "Optional. Which variant of the Speech model to use.",
          "type": "string",
          "enum": [
            "SPEECH_MODEL_VARIANT_UNSPECIFIED",
            "USE_BEST_AVAILABLE",
            "USE_STANDARD",
            "USE_ENHANCED"
          ]
        },
        "model": {
          "description": "Optional. Which Speech model to select for the given request. Select the model best suited to your domain to get best results. If a model is not explicitly specified, then we auto-select a model based on the parameters in the InputAudioConfig. If enhanced speech model is enabled for the agent and an enhanced version of the specified model for the language does not exist, then the speech is recognized using the standard version of the specified model. Refer to [Cloud Speech API documentation](https://cloud.google.com/speech-to-text/docs/basics#select-model) for more details.",
          "type": "string"
        },
        "sampleRateHertz": {
          "format": "int32",
          "description": "Sample rate (in Hertz) of the audio content sent in the query. Refer to [Cloud Speech API documentation](https://cloud.google.com/speech-to-text/docs/basics) for more details.",
          "type": "integer"
        },
        "phraseHints": {
          "description": "Optional. A list of strings containing words and phrases that the speech recognizer should recognize with higher likelihood. See [the Cloud Speech documentation](https://cloud.google.com/speech-to-text/docs/basics#phrase-hints) for more details.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enableWordInfo": {
          "description": "Optional. If `true`, Dialogflow returns SpeechWordInfo in StreamingRecognitionResult with information about the recognized speech words, e.g. start and end time offsets. If false or unspecified, Speech doesn't return any word-level information.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3InputAudioConfig",
      "description": "Instructs the speech recognizer on how to process the audio content."
    },
    "GoogleCloudDialogflowCxV3ValidateAgentRequest": {
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "If not specified, the agent's default language is used."
        }
      },
      "id": "GoogleCloudDialogflowCxV3ValidateAgentRequest",
      "description": "The request message for Agents.ValidateAgent.",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3LoadVersionRequest": {
      "properties": {
        "allowOverrideAgentResources": {
          "type": "boolean",
          "description": "This field is used to prevent accidental overwrite of other agent resources, which can potentially impact other flow's behavior. If `allow_override_agent_resources` is false, conflicted agent-level resources will not be overridden (i.e. intents, entities, webhooks)."
        }
      },
      "description": "The request message for Versions.LoadVersion.",
      "id": "GoogleCloudDialogflowCxV3LoadVersionRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TestCaseResult": {
      "description": "Represents a result from running a test case in an agent environment.",
      "properties": {
        "testTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time that the test was run."
        },
        "conversationTurns": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ConversationTurn"
          },
          "type": "array",
          "description": "The conversation turns uttered during the test case replay in chronological order."
        },
        "environment": {
          "type": "string",
          "description": "Environment where the test was run. If not set, it indicates the draft environment."
        },
        "name": {
          "description": "The resource name for the test case result. Format: `projects//locations//agents//testCases/ /results/`.",
          "type": "string"
        },
        "testResult": {
          "enum": [
            "TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "type": "string",
          "description": "Whether the test case passed in the agent environment.",
          "enumDescriptions": [
            "Not specified. Should never be used.",
            "The test passed.",
            "The test did not pass."
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3TestCaseResult"
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent": {
      "properties": {
        "additionalCases": {
          "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases",
          "description": "Additional cases to be evaluated."
        },
        "message": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessage",
          "description": "Returned message."
        }
      },
      "description": "The list of messages or conditional cases to activate for this case.",
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExperimentResultMetric": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ExperimentResultMetric",
      "description": "Metric and corresponding confidence intervals.",
      "properties": {
        "confidenceInterval": {
          "$ref": "GoogleCloudDialogflowCxV3ExperimentResultConfidenceInterval",
          "description": "The probability that the treatment is better than all other treatments in the experiment"
        },
        "type": {
          "enum": [
            "METRIC_UNSPECIFIED",
            "CONTAINED_SESSION_NO_CALLBACK_RATE",
            "LIVE_AGENT_HANDOFF_RATE",
            "CALLBACK_SESSION_RATE",
            "ABANDONED_SESSION_RATE",
            "SESSION_END_RATE"
          ],
          "enumDescriptions": [
            "Metric unspecified.",
            "Percentage of contained sessions without user calling back in 24 hours.",
            "Percentage of sessions that were handed to a human agent.",
            "Percentage of sessions with the same user calling back.",
            "Percentage of sessions where user hung up.",
            "Percentage of sessions reached Dialogflow 'END_PAGE' or 'END_SESSION'."
          ],
          "type": "string",
          "description": "Ratio-based metric type. Only one of type or count_type is specified in each Metric."
        },
        "count": {
          "type": "number",
          "format": "double",
          "description": "Count value of a metric."
        },
        "ratio": {
          "format": "double",
          "type": "number",
          "description": "Ratio value of a metric."
        },
        "countType": {
          "enumDescriptions": [
            "Count type unspecified.",
            "Total number of occurrences of a 'NO_MATCH'.",
            "Total number of turn counts.",
            "Average turn count in a session."
          ],
          "description": "Count-based metric type. Only one of type or count_type is specified in each Metric.",
          "enum": [
            "COUNT_TYPE_UNSPECIFIED",
            "TOTAL_NO_MATCH_COUNT",
            "TOTAL_TURN_COUNT",
            "AVERAGE_TURN_COUNT"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageTableCardRow": {
      "description": "Row of TableCard.",
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageTableCardRow",
      "properties": {
        "cells": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageTableCardCell"
          },
          "type": "array",
          "description": "Optional. List of cells that make up this row."
        },
        "dividerAfter": {
          "type": "boolean",
          "description": "Optional. Whether to add a visual divider after this row."
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ConversationTurnVirtualAgentOutput": {
      "description": "The output from the virtual agent.",
      "type": "object",
      "properties": {
        "sessionParameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The session parameters available to the bot at this point.",
          "type": "object"
        },
        "differences": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestRunDifference"
          },
          "type": "array",
          "description": "Output only. If this is part of a result conversation turn, the list of differences between the original run and the replay for this output, if any.",
          "readOnly": true
        },
        "diagnosticInfo": {
          "description": "Required. Input only. The diagnostic info output for the turn.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "currentPage": {
          "description": "The Page on which the utterance was spoken. Only name and displayName will be set.",
          "$ref": "GoogleCloudDialogflowCxV3beta1Page"
        },
        "triggeredIntent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Intent",
          "description": "The Intent that triggered the response. Only name and displayName will be set."
        },
        "textResponses": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageText"
          },
          "type": "array",
          "description": "The text responses from the agent for the turn."
        },
        "status": {
          "description": "Response error from the agent in the test result. If set, other output is empty.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ConversationTurnVirtualAgentOutput"
    },
    "GoogleCloudDialogflowCxV3beta1InputAudioConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1InputAudioConfig",
      "description": "Instructs the speech recognizer on how to process the audio content.",
      "type": "object",
      "properties": {
        "enableWordInfo": {
          "type": "boolean",
          "description": "Optional. If `true`, Dialogflow returns SpeechWordInfo in StreamingRecognitionResult with information about the recognized speech words, e.g. start and end time offsets. If false or unspecified, Speech doesn't return any word-level information."
        },
        "model": {
          "type": "string",
          "description": "Optional. Which Speech model to select for the given request. Select the model best suited to your domain to get best results. If a model is not explicitly specified, then we auto-select a model based on the parameters in the InputAudioConfig. If enhanced speech model is enabled for the agent and an enhanced version of the specified model for the language does not exist, then the speech is recognized using the standard version of the specified model. Refer to [Cloud Speech API documentation](https://cloud.google.com/speech-to-text/docs/basics#select-model) for more details."
        },
        "sampleRateHertz": {
          "format": "int32",
          "description": "Sample rate (in Hertz) of the audio content sent in the query. Refer to [Cloud Speech API documentation](https://cloud.google.com/speech-to-text/docs/basics) for more details.",
          "type": "integer"
        },
        "modelVariant": {
          "description": "Optional. Which variant of the Speech model to use.",
          "enum": [
            "SPEECH_MODEL_VARIANT_UNSPECIFIED",
            "USE_BEST_AVAILABLE",
            "USE_STANDARD",
            "USE_ENHANCED"
          ],
          "type": "string",
          "enumDescriptions": [
            "No model variant specified. In this case Dialogflow defaults to USE_BEST_AVAILABLE.",
            "Use the best available variant of the Speech model that the caller is eligible for. Please see the [Dialogflow docs](https://cloud.google.com/dialogflow/docs/data-logging) for how to make your project eligible for enhanced models.",
            "Use standard model variant even if an enhanced model is available. See the [Cloud Speech documentation](https://cloud.google.com/speech-to-text/docs/enhanced-models) for details about enhanced models.",
            "Use an enhanced model variant: * If an enhanced variant does not exist for the given model and request language, Dialogflow falls back to the standard variant. The [Cloud Speech documentation](https://cloud.google.com/speech-to-text/docs/enhanced-models) describes which models have enhanced variants. * If the API caller isn't eligible for enhanced models, Dialogflow returns an error. Please see the [Dialogflow docs](https://cloud.google.com/dialogflow/docs/data-logging) for how to make your project eligible."
          ]
        },
        "singleUtterance": {
          "description": "Optional. If `false` (default), recognition does not cease until the client closes the stream. If `true`, the recognizer will detect a single spoken utterance in input audio. Recognition ceases when it detects the audio's voice has stopped or paused. In this case, once a detected intent is received, the client should close the stream and start a new request with a new stream as needed. Note: This setting is relevant only for streaming methods.",
          "type": "boolean"
        },
        "audioEncoding": {
          "description": "Required. Audio encoding of the audio content to process.",
          "enumDescriptions": [
            "Not specified.",
            "Uncompressed 16-bit signed little-endian samples (Linear PCM).",
            "[`FLAC`](https://xiph.org/flac/documentation.html) (Free Lossless Audio Codec) is the recommended encoding because it is lossless (therefore recognition is not compromised) and requires only about half the bandwidth of `LINEAR16`. `FLAC` stream encoding supports 16-bit and 24-bit samples, however, not all fields in `STREAMINFO` are supported.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law.",
            "Adaptive Multi-Rate Narrowband codec. `sample_rate_hertz` must be 8000.",
            "Adaptive Multi-Rate Wideband codec. `sample_rate_hertz` must be 16000.",
            "Opus encoded audio frames in Ogg container ([OggOpus](https://wiki.xiph.org/OggOpus)). `sample_rate_hertz` must be 16000.",
            "Although the use of lossy encodings is not recommended, if a very low bitrate encoding is required, `OGG_OPUS` is highly preferred over Speex encoding. The [Speex](https://speex.org/) encoding supported by Dialogflow API has a header byte in each block, as in MIME type `audio/x-speex-with-header-byte`. It is a variant of the RTP Speex encoding defined in [RFC 5574](https://tools.ietf.org/html/rfc5574). The stream is a sequence of blocks, one block per RTP packet. Each block starts with a byte containing the length of the block, in bytes, followed by one or more frames of Speex data, padded to an integral number of bytes (octets) as specified in RFC 5574. In other words, each RTP header is replaced with a single byte containing the block length. Only Speex wideband is supported. `sample_rate_hertz` must be 16000."
          ],
          "type": "string",
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "AUDIO_ENCODING_LINEAR_16",
            "AUDIO_ENCODING_FLAC",
            "AUDIO_ENCODING_MULAW",
            "AUDIO_ENCODING_AMR",
            "AUDIO_ENCODING_AMR_WB",
            "AUDIO_ENCODING_OGG_OPUS",
            "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE"
          ]
        },
        "phraseHints": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of strings containing words and phrases that the speech recognizer should recognize with higher likelihood. See [the Cloud Speech documentation](https://cloud.google.com/speech-to-text/docs/basics#phrase-hints) for more details."
        }
      }
    },
    "GoogleCloudDialogflowCxV3BatchDeleteTestCasesRequest": {
      "description": "The request message for TestCases.BatchDeleteTestCases.",
      "id": "GoogleCloudDialogflowCxV3BatchDeleteTestCasesRequest",
      "properties": {
        "names": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Format of test case names: `projects//locations/ /agents//testCases/`."
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageLiveAgentHandoff": {
      "type": "object",
      "description": "Indicates that the conversation should be handed off to a live agent. Dialogflow only uses this to determine which conversations were handed off to a human agent for measurement purposes. What else to do with this signal is up to you and your handoff procedures. You may set this, for example: * In the entry_fulfillment of a Page if entering the page indicates something went extremely wrong in the conversation. * In a webhook response when you determine that the customer issue can only be handled by a human.",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Custom metadata for your handoff procedure. Dialogflow doesn't impose any structure on this."
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageLiveAgentHandoff"
    },
    "GoogleCloudDialogflowCxV3beta1ImportTestCasesResponse": {
      "description": "The response message for TestCases.ImportTestCases.",
      "id": "GoogleCloudDialogflowCxV3beta1ImportTestCasesResponse",
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The unique identifiers of the new test cases. Format: `projects//locations//agents//testCases/`."
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesMetadata",
      "properties": {
        "errors": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestError"
          },
          "type": "array",
          "description": "The test errors."
        }
      },
      "description": "Metadata returned for the TestCases.BatchRunTestCases long running operation.",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3CreateVersionOperationMetadata": {
      "type": "object",
      "description": "Metadata associated with the long running operation for Versions.CreateVersion.",
      "id": "GoogleCloudDialogflowCxV3CreateVersionOperationMetadata",
      "properties": {
        "version": {
          "description": "Name of the created version. Format: `projects//locations//agents//flows//versions/`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExportAgentResponse": {
      "type": "object",
      "properties": {
        "agentUri": {
          "description": "The URI to a file containing the exported agent. This field is populated only if `agent_uri` is specified in ExportAgentRequest.",
          "type": "string"
        },
        "agentContent": {
          "format": "byte",
          "description": "Uncompressed raw byte content for agent.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ExportAgentResponse",
      "description": "The response message for Agents.ExportAgent."
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse": {
      "properties": {
        "ssml": {
          "type": "string",
          "description": "One of text_to_speech or ssml must be provided. Structured spoken response to the user in the SSML format. Mutually exclusive with text_to_speech."
        },
        "displayText": {
          "type": "string",
          "description": "Optional. The text to display."
        },
        "textToSpeech": {
          "description": "One of text_to_speech or ssml must be provided. The plain text of the speech output. Mutually exclusive with ssml.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse",
      "type": "object",
      "description": "The simple response message containing speech or text."
    },
    "GoogleCloudDialogflowCxV3beta1ConversationTurn": {
      "properties": {
        "virtualAgentOutput": {
          "description": "The virtual agent output.",
          "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurnVirtualAgentOutput"
        },
        "userInput": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput",
          "description": "The user input."
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ConversationTurn",
      "type": "object",
      "description": "One interaction between a human and virtual agent. The human provides some input and the virtual agent provides a response."
    },
    "GoogleCloudDialogflowCxV3beta1ExportAgentResponse": {
      "description": "The response message for Agents.ExportAgent.",
      "properties": {
        "agentContent": {
          "format": "byte",
          "description": "Uncompressed raw byte content for agent.",
          "type": "string"
        },
        "agentUri": {
          "description": "The URI to a file containing the exported agent. This field is populated only if `agent_uri` is specified in ExportAgentRequest.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExportAgentResponse"
    },
    "GoogleCloudDialogflowCxV3PageInfoFormInfo": {
      "type": "object",
      "description": "Represents form information.",
      "properties": {
        "parameterInfo": {
          "description": "Optional for both WebhookRequest and WebhookResponse. The parameters contained in the form. Note that the webhook cannot add or remove any form parameter.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3PageInfoFormInfo"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of media card."
        },
        "largeImage": {
          "description": "Optional. Image to display above media content.",
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "contentUrl": {
          "description": "Required. Url where the media is stored.",
          "type": "string"
        },
        "icon": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage",
          "description": "Optional. Icon to display above media content."
        },
        "name": {
          "description": "Required. Name of media card.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject",
      "description": "Response media object for media content card.",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ListFlowsResponse": {
      "id": "GoogleCloudDialogflowCxV3ListFlowsResponse",
      "type": "object",
      "description": "The response message for Flows.ListFlows.",
      "properties": {
        "flows": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Flow"
          },
          "description": "The list of flows. There will be a maximum number of items returned based on the page_size field in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SuggestionResult": {
      "description": "One response of different type of suggestion response which is used in the response of Participants.AnalyzeContent and Participants.AnalyzeContent, as well as HumanAgentAssistantEvent.",
      "id": "GoogleCloudDialogflowV2beta1SuggestionResult",
      "properties": {
        "suggestFaqAnswersResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse",
          "description": "SuggestFaqAnswersResponse if request is for FAQ_ANSWER."
        },
        "error": {
          "description": "Error status if the request failed.",
          "$ref": "GoogleRpcStatus"
        },
        "suggestArticlesResponse": {
          "description": "SuggestArticlesResponse if request is for ARTICLE_SUGGESTION.",
          "$ref": "GoogleCloudDialogflowV2beta1SuggestArticlesResponse"
        },
        "suggestSmartRepliesResponse": {
          "description": "SuggestSmartRepliesResponse if request is for SMART_REPLY.",
          "$ref": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ListEntityTypesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "entityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EntityType"
          },
          "description": "The list of entity types. There will be a maximum number of items returned based on the page_size field in the request."
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ListEntityTypesResponse",
      "description": "The response message for EntityTypes.ListEntityTypes."
    },
    "GoogleCloudDialogflowV3alpha1ImportDocumentsResponse": {
      "id": "GoogleCloudDialogflowV3alpha1ImportDocumentsResponse",
      "description": "Response message for Documents.ImportDocuments.",
      "type": "object",
      "properties": {
        "warnings": {
          "description": "Includes details about skipped documents or any other warnings.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1IntentParameter": {
      "id": "GoogleCloudDialogflowCxV3beta1IntentParameter",
      "description": "Represents an intent parameter.",
      "type": "object",
      "properties": {
        "entityType": {
          "type": "string",
          "description": "Required. The entity type of the parameter. Format: `projects/-/locations/-/agents/-/entityTypes/` for system entity types (for example, `projects/-/locations/-/agents/-/entityTypes/sys.date`), or `projects//locations//agents//entityTypes/` for developer entity types."
        },
        "isList": {
          "type": "boolean",
          "description": "Indicates whether the parameter represents a list of values."
        },
        "id": {
          "type": "string",
          "description": "Required. The unique identifier of the parameter. This field is used by training phrases to annotate their parts."
        },
        "redact": {
          "type": "boolean",
          "description": "Indicates whether the parameter content should be redacted in log. If redaction is enabled, the parameter content will be replaced by parameter name during logging. Note: the parameter content is subject to redaction if either parameter level redaction or entity type level redaction is enabled."
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation": {
      "type": "object",
      "properties": {},
      "description": "Opens the device's location chooser so the user can pick a location to send back to the agent.",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation"
    },
    "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase": {
      "id": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase",
      "type": "object",
      "properties": {
        "parts": {
          "description": "Required. The ordered list of training phrase parts. The parts are concatenated in order to form the training phrase. Note: The API does not automatically annotate training phrases like the Dialogflow Console does. Note: Do not forget to include whitespace at part boundaries, so the training phrase is well formatted when the parts are concatenated. If the training phrase does not need to be annotated with parameters, you just need a single part with only the Part.text field set. If you want to annotate the training phrase, you must create multiple parts, where the fields of each part are populated in one of two ways: - `Part.text` is set to a part of the phrase that has no parameters. - `Part.text` is set to a part of the phrase that you want to annotate, and the `parameter_id` field is set.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart"
          }
        },
        "repeatCount": {
          "format": "int32",
          "description": "Indicates how many times this example was added to the intent.",
          "type": "integer"
        },
        "id": {
          "description": "Output only. The unique identifier of the training phrase.",
          "type": "string"
        }
      },
      "description": "Represents an example that the agent is trained on to identify the intent."
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedReply": {
      "properties": {
        "postbackData": {
          "type": "string",
          "description": "Opaque payload that the Dialogflow receives in a user event when the user taps the suggested reply. This data will be also forwarded to webhook to allow performing custom business logic."
        },
        "text": {
          "description": "Suggested reply text.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Rich Business Messaging (RBM) suggested reply that the user can click instead of typing in their own response.",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedReply"
    },
    "GoogleCloudDialogflowCxV3beta1IntentInput": {
      "description": "Represents the intent to trigger programmatically rather than as a result of natural language processing.",
      "type": "object",
      "properties": {
        "intent": {
          "type": "string",
          "description": "Required. The unique identifier of the intent. Format: `projects//locations//agents//intents/`."
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1IntentInput"
    },
    "GoogleCloudDialogflowCxV3BatchRunTestCasesMetadata": {
      "id": "GoogleCloudDialogflowCxV3BatchRunTestCasesMetadata",
      "description": "Metadata returned for the TestCases.BatchRunTestCases long running operation.",
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestError"
          },
          "description": "The test errors."
        }
      }
    },
    "GoogleCloudDialogflowCxV3LookupEnvironmentHistoryResponse": {
      "properties": {
        "environments": {
          "type": "array",
          "description": "Represents a list of snapshots for an environment. Time of the snapshots is stored in `update_time`.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Environment"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response message for Environments.LookupEnvironmentHistory.",
      "id": "GoogleCloudDialogflowCxV3LookupEnvironmentHistoryResponse"
    },
    "GoogleCloudDialogflowV2SentimentAnalysisResult": {
      "id": "GoogleCloudDialogflowV2SentimentAnalysisResult",
      "description": "The result of sentiment analysis. Sentiment analysis inspects user input and identifies the prevailing subjective opinion, especially to determine a user's attitude as positive, negative, or neutral. For Participants.DetectIntent, it needs to be configured in DetectIntentRequest.query_params. For Participants.StreamingDetectIntent, it needs to be configured in StreamingDetectIntentRequest.query_params. And for Participants.AnalyzeContent and Participants.StreamingAnalyzeContent, it needs to be configured in ConversationProfile.human_agent_assistant_config",
      "properties": {
        "queryTextSentiment": {
          "$ref": "GoogleCloudDialogflowV2Sentiment",
          "description": "The sentiment analysis result for `query_text`."
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportDocumentsOperationMetadata": {
      "description": "Metadata for ImportDocuments operation.",
      "properties": {
        "genericMetadata": {
          "description": "The generic information of the operation.",
          "$ref": "GoogleCloudDialogflowCxV3GenericKnowledgeOperationMetadata"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ImportDocumentsOperationMetadata"
    },
    "GoogleCloudDialogflowCxV3beta1UpdateDocumentOperationMetadata": {
      "description": "Metadata for UpdateDocument operation.",
      "properties": {
        "genericMetadata": {
          "description": "The generic information of the operation.",
          "$ref": "GoogleCloudDialogflowCxV3beta1GenericKnowledgeOperationMetadata"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1UpdateDocumentOperationMetadata"
    },
    "GoogleCloudDialogflowV2IntentMessageCard": {
      "description": "The card response message.",
      "type": "object",
      "properties": {
        "buttons": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageCardButton"
          },
          "type": "array",
          "description": "Optional. The collection of card buttons."
        },
        "imageUri": {
          "description": "Optional. The public URI to an image file for the card.",
          "type": "string"
        },
        "title": {
          "description": "Optional. The title of the card.",
          "type": "string"
        },
        "subtitle": {
          "description": "Optional. The subtitle of the card.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageCard"
    },
    "GoogleCloudDialogflowCxV3AudioInput": {
      "properties": {
        "audio": {
          "type": "string",
          "description": "The natural language speech audio to be processed. A single request can contain up to 1 minute of speech audio data. The transcribed text cannot contain more than 256 bytes. For non-streaming audio detect intent, both `config` and `audio` must be provided. For streaming audio detect intent, `config` must be provided in the first request and `audio` must be provided in all following requests.",
          "format": "byte"
        },
        "config": {
          "$ref": "GoogleCloudDialogflowCxV3InputAudioConfig",
          "description": "Required. Instructs the speech recognizer how to process the speech audio."
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3AudioInput",
      "description": "Represents the natural speech audio to be processed."
    },
    "GoogleCloudDialogflowCxV3TransitionRoute": {
      "type": "object",
      "properties": {
        "targetPage": {
          "description": "The target page to transition to. Format: `projects//locations//agents//flows//pages/`.",
          "type": "string"
        },
        "targetFlow": {
          "description": "The target flow to transition to. Format: `projects//locations//agents//flows/`.",
          "type": "string"
        },
        "triggerFulfillment": {
          "description": "The fulfillment to call when the condition is satisfied. At least one of `trigger_fulfillment` and `target` must be specified. When both are defined, `trigger_fulfillment` is executed first.",
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "intent": {
          "type": "string",
          "description": "The unique identifier of an Intent. Format: `projects//locations//agents//intents/`. Indicates that the transition can only happen when the given intent is matched. At least one of `intent` or `condition` must be specified. When both `intent` and `condition` are specified, the transition can only happen when both are fulfilled."
        },
        "name": {
          "type": "string",
          "description": "Output only. The unique identifier of this transition route.",
          "readOnly": true
        },
        "condition": {
          "description": "The condition to evaluate against form parameters or session parameters. See the [conditions reference](https://cloud.google.com/dialogflow/cx/docs/reference/condition). At least one of `intent` or `condition` must be specified. When both `intent` and `condition` are specified, the transition can only happen when both are fulfilled.",
          "type": "string"
        }
      },
      "description": "A transition route specifies a intent that can be matched and/or a data condition that can be evaluated during a session. When a specified transition is matched, the following actions are taken in order: * If there is a `trigger_fulfillment` associated with the transition, it will be called. * If there is a `target_page` associated with the transition, the session will transition into the specified page. * If there is a `target_flow` associated with the transition, the session will transition into the specified flow.",
      "id": "GoogleCloudDialogflowCxV3TransitionRoute"
    },
    "GoogleCloudDialogflowCxV3Webhook": {
      "id": "GoogleCloudDialogflowCxV3Webhook",
      "description": "Webhooks host the developer's business logic. During a session, webhooks allow the developer to use the data extracted by Dialogflow's natural language processing to generate dynamic responses, validate collected data, or trigger actions on the backend.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The unique identifier of the webhook. Required for the Webhooks.UpdateWebhook method. Webhooks.CreateWebhook populates the name automatically. Format: `projects//locations//agents//webhooks/`."
        },
        "disabled": {
          "type": "boolean",
          "description": "Indicates whether the webhook is disabled."
        },
        "displayName": {
          "description": "Required. The human-readable name of the webhook, unique within the agent.",
          "type": "string"
        },
        "timeout": {
          "description": "Webhook execution timeout. Execution is considered failed if Dialogflow doesn't receive a response from webhook at the end of the timeout period. Defaults to 5 seconds, maximum allowed timeout is 30 seconds.",
          "type": "string",
          "format": "google-duration"
        },
        "genericWebService": {
          "description": "Configuration for a generic web service.",
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebService"
        }
      }
    },
    "GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponse",
      "properties": {
        "messages": {
          "description": "The list of rich message responses to present to the user.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          }
        },
        "mergeBehavior": {
          "type": "string",
          "description": "Merge behavior for `messages`.",
          "enum": [
            "MERGE_BEHAVIOR_UNSPECIFIED",
            "APPEND",
            "REPLACE"
          ],
          "enumDescriptions": [
            "Not specified. `APPEND` will be used.",
            "`messages` will be appended to the list of messages waiting to be sent to the user.",
            "`messages` will replace the list of messages waiting to be sent to the user."
          ]
        }
      },
      "description": "Represents a fulfillment response to the user."
    },
    "GoogleCloudDialogflowCxV3ResponseMessage": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessage",
      "description": "Represents a response message that can be returned by a conversational agent. Response messages are also used for output audio synthesis. The approach is as follows: * If at least one OutputAudioText response is present, then all OutputAudioText responses are linearly concatenated, and the result is used for output audio synthesis. * If the OutputAudioText responses are a mixture of text and SSML, then the concatenated result is treated as SSML; otherwise, the result is treated as either text or SSML as appropriate. The agent designer should ideally use either text or SSML consistently throughout the bot design. * Otherwise, all Text responses are linearly concatenated, and the result is used for output audio synthesis. This approach allows for more sophisticated user experience scenarios, where the text displayed to the user may differ from what is heard.",
      "properties": {
        "mixedAudio": {
          "description": "Output only. An audio response message composed of both the synthesized Dialogflow agent responses and responses defined via play_audio. This message is generated by Dialogflow only and not supposed to be defined by the user.",
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudio",
          "readOnly": true
        },
        "outputAudioText": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText",
          "description": "A text or ssml response that is preferentially used for TTS output audio synthesis, as described in the comment on the ResponseMessage message."
        },
        "conversationSuccess": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess",
          "description": "Indicates that the conversation succeeded."
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Returns a response containing a custom, platform-specific payload."
        },
        "liveAgentHandoff": {
          "description": "Hands off conversation to a human agent.",
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageLiveAgentHandoff"
        },
        "playAudio": {
          "description": "Signal that the client should play an audio clip hosted at a client-specific URI. Dialogflow uses this to construct mixed_audio. However, Dialogflow itself does not try to read or process the URI in any way.",
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessagePlayAudio"
        },
        "endInteraction": {
          "description": "Output only. A signal that indicates the interaction with the Dialogflow agent has ended. This message is generated by Dialogflow only when the conversation reaches `END_SESSION` page. It is not supposed to be defined by the user. It's guaranteed that there is at most one such message in each response.",
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction"
        },
        "text": {
          "description": "Returns a text response.",
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageText"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties",
      "description": "Column properties for TableCard.",
      "type": "object",
      "properties": {
        "horizontalAlignment": {
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "LEADING",
            "CENTER",
            "TRAILING"
          ],
          "description": "Optional. Defines text alignment for all cells in this column.",
          "enumDescriptions": [
            "Text is aligned to the leading edge of the column.",
            "Text is aligned to the leading edge of the column.",
            "Text is centered in the column.",
            "Text is aligned to the trailing edge of the column."
          ],
          "type": "string"
        },
        "header": {
          "description": "Required. Column heading.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SuggestionResult": {
      "description": "One response of different type of suggestion response which is used in the response of Participants.AnalyzeContent and Participants.AnalyzeContent, as well as HumanAgentAssistantEvent.",
      "id": "GoogleCloudDialogflowV2SuggestionResult",
      "type": "object",
      "properties": {
        "suggestArticlesResponse": {
          "description": "SuggestArticlesResponse if request is for ARTICLE_SUGGESTION.",
          "$ref": "GoogleCloudDialogflowV2SuggestArticlesResponse"
        },
        "suggestFaqAnswersResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestFaqAnswersResponse",
          "description": "SuggestFaqAnswersResponse if request is for FAQ_ANSWER."
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "Error status if the request failed."
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1RunTestCaseMetadata": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1RunTestCaseMetadata",
      "description": "Metadata returned for the TestCases.RunTestCase long running operation."
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3EventInput": {
      "id": "GoogleCloudDialogflowCxV3EventInput",
      "properties": {
        "event": {
          "type": "string",
          "description": "Name of the event."
        }
      },
      "description": "Represents the event to trigger.",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FormParameterFillBehavior": {
      "properties": {
        "initialPromptFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment",
          "description": "Required. The fulfillment to provide the initial prompt that the agent can present to the user in order to fill the parameter."
        },
        "repromptEventHandlers": {
          "description": "The handlers for parameter-level events, used to provide reprompt for the parameter or transition to a different page/flow. The supported events are: * `sys.no-match-`, where N can be from 1 to 6 * `sys.no-match-default` * `sys.no-input-`, where N can be from 1 to 6 * `sys.no-input-default` * `sys.invalid-parameter` `initial_prompt_fulfillment` provides the first prompt for the parameter. If the user's response does not fill the parameter, a no-match/no-input event will be triggered, and the fulfillment associated with the `sys.no-match-1`/`sys.no-input-1` handler (if defined) will be called to provide a prompt. The `sys.no-match-2`/`sys.no-input-2` handler (if defined) will respond to the next no-match/no-input event, and so on. A `sys.no-match-default` or `sys.no-input-default` handler will be used to handle all following no-match/no-input events after all numbered no-match/no-input handlers for the parameter are consumed. A `sys.invalid-parameter` handler can be defined to handle the case where the parameter values have been `invalidated` by webhook. For example, if the user's response fill the parameter, however the parameter was invalidated by webhook, the fulfillment associated with the `sys.invalid-parameter` handler (if defined) will be called to provide a prompt. If the event handler for the corresponding event can't be found on the parameter, `initial_prompt_fulfillment` will be re-prompted.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          },
          "type": "array"
        }
      },
      "description": "Configuration for how the filling of a parameter should be handled.",
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3FormParameterFillBehavior"
    },
    "GoogleCloudDialogflowV2IntentMessageQuickReplies": {
      "properties": {
        "quickReplies": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The collection of quick replies."
        },
        "title": {
          "type": "string",
          "description": "Optional. The title of the collection of quick replies."
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageQuickReplies",
      "description": "The quick replies response message."
    },
    "GoogleCloudDialogflowCxV3Page": {
      "description": "A Dialogflow CX conversation (session) can be described and visualized as a state machine. The states of a CX session are represented by pages. For each flow, you define many pages, where your combined pages can handle a complete conversation on the topics the flow is designed for. At any given moment, exactly one page is the current page, the current page is considered active, and the flow associated with that page is considered active. Every flow has a special start page. When a flow initially becomes active, the start page page becomes the current page. For each conversational turn, the current page will either stay the same or transition to another page. You configure each page to collect information from the end-user that is relevant for the conversational state represented by the page. For more information, see the [Page guide](https://cloud.google.com/dialogflow/cx/docs/concept/page).",
      "properties": {
        "eventHandlers": {
          "description": "Handlers associated with the page to handle events such as webhook errors, no match or no input.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          }
        },
        "displayName": {
          "description": "Required. The human-readable name of the page, unique within the agent.",
          "type": "string"
        },
        "entryFulfillment": {
          "description": "The fulfillment to call when the session is entering the page.",
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "form": {
          "$ref": "GoogleCloudDialogflowCxV3Form",
          "description": "The form associated with the page, used for collecting parameters relevant to the page."
        },
        "transitionRoutes": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionRoute"
          },
          "description": "A list of transitions for the transition rules of this page. They route the conversation to another page in the same flow, or another flow. When we are in a certain page, the TransitionRoutes are evalauted in the following order: * TransitionRoutes defined in the page with intent specified. * TransitionRoutes defined in the transition route groups with intent specified. * TransitionRoutes defined in flow with intent specified. * TransitionRoutes defined in the transition route groups with intent specified. * TransitionRoutes defined in the page with only condition specified. * TransitionRoutes defined in the transition route groups with only condition specified.",
          "type": "array"
        },
        "name": {
          "description": "The unique identifier of the page. Required for the Pages.UpdatePage method. Pages.CreatePage populates the name automatically. Format: `projects//locations//agents//flows//pages/`.",
          "type": "string"
        },
        "transitionRouteGroups": {
          "description": "Ordered list of `TransitionRouteGroups` associated with the page. Transition route groups must be unique within a page. * If multiple transition routes within a page scope refer to the same intent, then the precedence order is: page's transition route -\u003e page's transition route group -\u003e flow's transition routes. * If multiple transition route groups within a page contain the same intent, then the first group in the ordered list takes precedence. Format:`projects//locations//agents//flows//transitionRouteGroups/`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3Page",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCardButton": {
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCardButton",
[...]
