{
  "batchPath": "batch",
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "revision": "20201005",
  "ownerName": "Google",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "discoveryVersion": "v1",
  "version": "v2",
  "id": "dialogflow:v2",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "name": "dialogflow",
  "servicePath": "",
  "version_module": true,
  "basePath": "",
  "kind": "discovery#restDescription",
  "title": "Dialogflow API",
  "rootUrl": "https://dialogflow.googleapis.com/",
  "schemas": {
    "GoogleCloudDialogflowV2IntentFollowupIntentInfo": {
      "id": "GoogleCloudDialogflowV2IntentFollowupIntentInfo",
      "properties": {
        "parentFollowupIntentName": {
          "type": "string",
          "description": "The unique identifier of the followup intent's parent. Format: `projects//agent/intents/`."
        },
        "followupIntentName": {
          "description": "The unique identifier of the followup intent. Format: `projects//agent/intents/`.",
          "type": "string"
        }
      },
      "description": "Represents a single followup intent in the chain.",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessage": {
      "description": "Represents a response message that can be returned by a conversational agent. Response messages are also used for output audio synthesis. The approach is as follows: * If at least one OutputAudioText response is present, then all OutputAudioText responses are linearly concatenated, and the result is used for output audio synthesis. * If the OutputAudioText responses are a mixture of text and SSML, then the concatenated result is treated as SSML; otherwise, the result is treated as either text or SSML as appropriate. The agent designer should ideally use either text or SSML consistently throughout the bot design. * Otherwise, all Text responses are linearly concatenated, and the result is used for output audio synthesis. This approach allows for more sophisticated user experience scenarios, where the text displayed to the user may differ from what is heard.",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessage",
      "properties": {
        "playAudio": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio",
          "description": "Signal that the client should play an audio clip hosted at a client-specific URI. Dialogflow uses this to construct mixed_audio. However, Dialogflow itself does not try to read or process the URI in any way."
        },
        "payload": {
          "type": "object",
          "description": "Returns a response containing a custom, platform-specific payload.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "text": {
          "description": "Returns a text response.",
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageText"
        },
        "conversationSuccess": {
          "description": "Indicates that the conversation succeeded.",
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess"
        },
        "outputAudioText": {
          "description": "A text or ssml response that is preferentially used for TTS output audio synthesis, as described in the comment on the ResponseMessage message.",
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText"
        },
        "endInteraction": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction",
          "description": "Output only. A signal that indicates the interaction with the Dialogflow agent has ended. This message is generated by Dialogflow only when the conversation reaches `END_SESSION` or `END_PAGE` page. It is not supposed to be defined by the user. It's guaranteed that there is at most one such message in each response.",
          "readOnly": true
        },
        "mixedAudio": {
          "description": "Output only. An audio response message composed of both the synthesized Dialogflow agent responses and responses defined via play_audio. This message is generated by Dialogflow only and not supposed to be defined by the user.",
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudio"
        },
        "liveAgentHandoff": {
          "description": "Hands off conversation to a human agent.",
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageLiveAgentHandoff"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SentimentAnalysisResult": {
      "properties": {
        "queryTextSentiment": {
          "$ref": "GoogleCloudDialogflowV2Sentiment",
          "description": "The sentiment analysis result for `query_text`."
        }
      },
      "type": "object",
      "description": "The result of sentiment analysis. Sentiment analysis inspects user input and identifies the prevailing subjective opinion, especially to determine a user's attitude as positive, negative, or neutral. For Participants.DetectIntent, it needs to be configured in DetectIntentRequest.query_params. For Participants.StreamingDetectIntent, it needs to be configured in StreamingDetectIntentRequest.query_params. And for Participants.AnalyzeContent and Participants.StreamingAnalyzeContent, it needs to be configured in ConversationProfile.human_agent_assistant_config",
      "id": "GoogleCloudDialogflowV2SentimentAnalysisResult"
    },
    "GoogleCloudDialogflowV2beta1SmartMessagingEntry": {
      "type": "object",
      "description": "Smart Messaging Entry resource.",
      "id": "GoogleCloudDialogflowV2beta1SmartMessagingEntry",
      "properties": {
        "state": {
          "enum": [
            "SMART_MESSAGING_ENTRY_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "description": "Required. Smart Messaging Entry's enabled/disabled state.",
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "This smart reply message is enabled and used when generating suggestions.",
            "This smart reply message is disabled and is not used when generating suggestions."
          ]
        },
        "name": {
          "type": "string",
          "description": "The unique identifier of this message entry. Required for [Documents.GetSmartMessagingEntry], [Documents.CreateSmartMessagingEntry], [Documents.UpdateSmartMessagingEntry], and [Documents.DeleteSmartMessagingEntry]. Format: `projects//knowledgeBases//documents//smartMessagingEntries/`"
        },
        "messageInfo": {
          "$ref": "GoogleCloudDialogflowV2beta1SmartMessagingEntryInfo",
          "description": "Output only. Metadata of the message entry"
        },
        "rawText": {
          "type": "string",
          "description": "Required. The raw text of the message."
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedAction": {
      "type": "object",
      "properties": {
        "dial": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial",
          "description": "Suggested client side action: Dial a phone number"
        },
        "text": {
          "type": "string",
          "description": "Text to display alongside the action."
        },
        "postbackData": {
          "description": "Opaque payload that the Dialogflow receives in a user event when the user taps the suggested action. This data will be also forwarded to webhook to allow performing custom business logic.",
          "type": "string"
        },
        "openUrl": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri",
          "description": "Suggested client side action: Open a URI on device"
        },
        "shareLocation": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation",
          "description": "Suggested client side action: Share user location"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedAction",
      "description": "Rich Business Messaging (RBM) suggested client-side action that the user can choose from the card."
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTableCard": {
      "type": "object",
      "properties": {
        "subtitle": {
          "type": "string",
          "description": "Optional. Subtitle to the title."
        },
        "rows": {
          "description": "Optional. Rows in this table of data.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow"
          },
          "type": "array"
        },
        "title": {
          "description": "Required. Title of the card.",
          "type": "string"
        },
        "image": {
          "description": "Optional. Image which should be displayed on the card.",
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "buttons": {
          "description": "Optional. List of buttons for the card.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton"
          }
        },
        "columnProperties": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties"
          },
          "description": "Optional. Display properties for the columns in this table.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCard",
      "description": "Table card for Actions on Google."
    },
    "GoogleCloudDialogflowV2IntentTrainingPhrasePart": {
      "description": "Represents a part of a training phrase.",
      "type": "object",
      "properties": {
        "entityType": {
          "type": "string",
          "description": "Optional. The entity type name prefixed with `@`. This field is required for annotated parts of the training phrase."
        },
        "text": {
          "type": "string",
          "description": "Required. The text for this part."
        },
        "alias": {
          "type": "string",
          "description": "Optional. The parameter name for the value extracted from the annotated part of the example. This field is required for annotated parts of the training phrase."
        },
        "userDefined": {
          "description": "Optional. Indicates whether the text was manually annotated. This field is set to true when the Dialogflow Console is used to manually annotate the part. When creating an annotated part with the API, you must set this to true.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentTrainingPhrasePart"
    },
    "GoogleCloudDialogflowV2beta1EntityType": {
      "description": "Each intent parameter has a type, called the entity type, which dictates exactly how data from an end-user expression is extracted. Dialogflow provides predefined system entities that can match many common types of data. For example, there are system entities for matching dates, times, colors, email addresses, and so on. You can also create your own custom entities for matching custom data. For example, you could define a vegetable entity that can match the types of vegetables available for purchase with a grocery store agent. For more information, see the [Entity guide](https://cloud.google.com/dialogflow/docs/entities-overview).",
      "id": "GoogleCloudDialogflowV2beta1EntityType",
      "type": "object",
      "properties": {
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
          },
          "description": "Optional. The collection of entity entries associated with the entity type."
        },
        "displayName": {
          "description": "Required. The name of the entity type.",
          "type": "string"
        },
        "autoExpansionMode": {
          "description": "Optional. Indicates whether the entity type can be automatically expanded.",
          "enumDescriptions": [
            "Auto expansion disabled for the entity.",
            "Allows an agent to recognize values that have not been explicitly listed in the entity."
          ],
          "enum": [
            "AUTO_EXPANSION_MODE_UNSPECIFIED",
            "AUTO_EXPANSION_MODE_DEFAULT"
          ],
          "type": "string"
        },
        "enableFuzzyExtraction": {
          "description": "Optional. Enables fuzzy entity extraction during classification.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The unique identifier of the entity type. Required for EntityTypes.UpdateEntityType and EntityTypes.BatchUpdateEntityTypes methods. Supported formats: - `projects//agent/entityTypes/` - `projects//locations//agent/entityTypes/`"
        },
        "kind": {
          "description": "Required. Indicates the kind of entity type.",
          "enumDescriptions": [
            "Not specified. This value should be never used.",
            "Map entity types allow mapping of a group of synonyms to a reference value.",
            "List entity types contain a set of entries that do not map to reference values. However, list entity types can contain references to other entity types (with or without aliases).",
            "Regexp entity types allow to specify regular expressions in entries values."
          ],
          "enum": [
            "KIND_UNSPECIFIED",
            "KIND_MAP",
            "KIND_LIST",
            "KIND_REGEXP"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCard": {
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCard",
      "description": "The basic card message. Useful for displaying information.",
      "properties": {
        "buttons": {
          "description": "Optional. The collection of card buttons.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButton"
          },
          "type": "array"
        },
        "subtitle": {
          "type": "string",
          "description": "Optional. The subtitle of the card."
        },
        "title": {
          "type": "string",
          "description": "Optional. The title of the card."
        },
        "formattedText": {
          "description": "Required, unless image is present. The body text of the card.",
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage",
          "description": "Optional. The image for the card."
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer": {
      "type": "object",
      "properties": {
        "matchConfidenceLevel": {
          "enum": [
            "MATCH_CONFIDENCE_LEVEL_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Indicates that the confidence is low.",
            "Indicates our confidence is medium.",
            "Indicates our confidence is high."
          ],
          "description": "The system's confidence level that this knowledge answer is a good match for this conversational query. NOTE: The confidence level for a given `` pair may change without notice, as it depends on models that are constantly being improved. However, it will change less frequently than the confidence score below, and should be preferred for referencing the quality of an answer.",
          "type": "string"
        },
        "source": {
          "type": "string",
          "description": "Indicates which Knowledge Document this answer was extracted from. Format: `projects//knowledgeBases//documents/`."
        },
        "faqQuestion": {
          "type": "string",
          "description": "The corresponding FAQ question if the answer was extracted from a FAQ Document, empty otherwise."
        },
        "answer": {
          "type": "string",
          "description": "The piece of text from the `source` knowledge base document that answers this conversational query."
        },
        "matchConfidence": {
          "type": "number",
          "description": "The system's confidence score that this Knowledge answer is a good match for this conversational query. The range is from 0.0 (completely uncertain) to 1.0 (completely certain). Note: The confidence score is likely to vary somewhat (possibly even for identical requests), as the underlying model is under constant improvement. It may be deprecated in the future. We recommend using `match_confidence_level` which should be generally more stable.",
          "format": "float"
        }
      },
      "description": "An answer from Knowledge Connector.",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer"
    },
    "GoogleCloudDialogflowV2IntentBatch": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentBatch",
      "description": "This message is a wrapper around a collection of intents.",
      "properties": {
        "intents": {
          "description": "A collection of intents.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Intent"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation",
      "description": "Opens the device's location chooser so the user can pick a location to send back to the agent."
    },
    "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem": {
      "properties": {
        "title": {
          "description": "Required. Title of the carousel item.",
          "type": "string"
        },
        "image": {
          "description": "Optional. The image to display.",
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "info": {
          "description": "Required. Additional info about the option item.",
          "$ref": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo"
        },
        "description": {
          "type": "string",
          "description": "Optional. The body text of the card."
        }
      },
      "description": "An item in the carousel.",
      "id": "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction": {
      "type": "object",
      "properties": {
        "uri": {
          "description": "Required. The HTTP or HTTPS scheme URI.",
          "type": "string"
        }
      },
      "description": "Opens the given URI.",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia": {
      "type": "object",
      "properties": {
        "fileUri": {
          "type": "string",
          "description": "Required. Publicly reachable URI of the file. The RBM platform determines the MIME type of the file from the content-type field in the HTTP headers when the platform fetches the file. The content-type field must be present and accurate in the HTTP response from the URL."
        },
        "height": {
          "description": "Required for cards with vertical orientation. The height of the media within a rich card with a vertical layout. For a standalone card with horizontal layout, height is not customizable, and this field is ignored.",
          "enum": [
            "HEIGHT_UNSPECIFIED",
            "SHORT",
            "MEDIUM",
            "TALL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "112 DP.",
            "168 DP.",
            "264 DP. Not available for rich card carousels when the card width is set to small."
          ]
        },
        "thumbnailUri": {
          "type": "string",
          "description": "Optional. Publicly reachable URI of the thumbnail.If you don't provide a thumbnail URI, the RBM platform displays a blank placeholder thumbnail until the user's device downloads the file. Depending on the user's setting, the file may not download automatically and may require the user to tap a download button."
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia",
      "description": "Rich Business Messaging (RBM) Media displayed in Cards The following media-types are currently supported: Image Types * image/jpeg * image/jpg' * image/gif * image/png Video Types * video/h263 * video/m4v * video/mp4 * video/mpeg * video/mpeg4 * video/webm"
    },
    "GoogleCloudDialogflowV2IntentMessageText": {
      "id": "GoogleCloudDialogflowV2IntentMessageText",
      "properties": {
        "text": {
          "type": "array",
          "description": "Optional. The collection of the agent's responses.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "The text response message."
    },
    "GoogleCloudDialogflowV2Fulfillment": {
      "properties": {
        "enabled": {
          "description": "Optional. Whether fulfillment is enabled.",
          "type": "boolean"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The human-readable name of the fulfillment, unique within the agent."
        },
        "features": {
          "description": "Optional. The field defines whether the fulfillment is enabled for certain features.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2FulfillmentFeature"
          }
        },
        "name": {
          "description": "Required. The unique identifier of the fulfillment. Format: `projects//agent/fulfillment`.",
          "type": "string"
        },
        "genericWebService": {
          "description": "Configuration for a generic web service.",
          "$ref": "GoogleCloudDialogflowV2FulfillmentGenericWebService"
        }
      },
      "id": "GoogleCloudDialogflowV2Fulfillment",
      "description": "By default, your agent responds to a matched intent with a static response. As an alternative, you can provide a more dynamic response by using fulfillment. When you enable fulfillment for an intent, Dialogflow responds to that intent by calling a service that you define. For example, if an end-user wants to schedule a haircut on Friday, your service can check your database and respond to the end-user with availability information for Friday. For more information, see the [fulfillment guide](https://cloud.google.com/dialogflow/docs/fulfillment-overview).",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ListEnvironmentsResponse": {
      "description": "The response message for Environments.ListEnvironments.",
      "properties": {
        "environments": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Environment"
          },
          "type": "array",
          "description": "The list of agent environments. There will be a maximum number of items returned based on the page_size field in the request."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ListEnvironmentsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2EntityTypeEntity": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2EntityTypeEntity",
      "description": "An **entity entry** for an associated entity type.",
      "properties": {
        "value": {
          "description": "Required. The primary value associated with this entity entry. For example, if the entity type is *vegetable*, the value could be *scallions*. For `KIND_MAP` entity types: * A reference value to be used in place of synonyms. For `KIND_LIST` entity types: * A string that can contain references to other entity types (with or without aliases).",
          "type": "string"
        },
        "synonyms": {
          "type": "array",
          "description": "Required. A collection of value synonyms. For example, if the entity type is *vegetable*, and `value` is *scallions*, a synonym could be *green onions*. For `KIND_LIST` entity types: * This collection must contain exactly one synonym equal to `value`.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction",
      "properties": {
        "url": {
          "type": "string",
          "description": "Required. URL"
        },
        "urlTypeHint": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Url would be an amp action",
            "URL that points directly to AMP content, or to a canonical URL which refers to AMP content via ."
          ],
          "description": "Optional. Specifies the type of viewer that is used when opening the URL. Defaults to opening via web browser.",
          "enum": [
            "URL_TYPE_HINT_UNSPECIFIED",
            "AMP_ACTION",
            "AMP_CONTENT"
          ]
        }
      },
      "type": "object",
      "description": "Actions on Google action to open a given url."
    },
    "GoogleCloudDialogflowV2BatchUpdateIntentsRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2BatchUpdateIntentsRequest",
      "properties": {
        "intentBatchUri": {
          "description": "The URI to a Google Cloud Storage file containing intents to update or create. The file format can either be a serialized proto (of IntentBatch type) or JSON object. Note: The URI must start with \"gs://\".",
          "type": "string"
        },
        "intentView": {
          "description": "Optional. The resource view to apply to the returned intent.",
          "enum": [
            "INTENT_VIEW_UNSPECIFIED",
            "INTENT_VIEW_FULL"
          ],
          "enumDescriptions": [
            "Training phrases field is not populated in the response.",
            "All fields are populated."
          ],
          "type": "string"
        },
        "intentBatchInline": {
          "description": "The collection of intents to update or create.",
          "$ref": "GoogleCloudDialogflowV2IntentBatch"
        },
        "updateMask": {
          "type": "string",
          "description": "Optional. The mask to control which fields get updated.",
          "format": "google-fieldmask"
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. The language used to access language-specific data. If not specified, the agent's default language is used. For more information, see [Multilingual intent and entity data](https://cloud.google.com/dialogflow/docs/agents-multilingual#intent-entity)."
        }
      }
    },
    "GoogleCloudDialogflowV2beta1WebhookRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1WebhookRequest",
      "description": "The request message for a webhook call.",
      "properties": {
        "originalDetectIntentRequest": {
          "$ref": "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest",
          "description": "Optional. The contents of the original request that was passed to `[Streaming]DetectIntent` call."
        },
        "alternativeQueryResults": {
          "type": "array",
          "description": "Alternative query results from KnowledgeService.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
          }
        },
        "queryResult": {
          "description": "The result of the conversational query or event processing. Contains the same value as `[Streaming]DetectIntentResponse.query_result`.",
          "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
        },
        "session": {
          "description": "The unique identifier of detectIntent request session. Can be used to identify end-user inside webhook implementation. Supported formats: - `projects//agent/sessions/, - `projects//locations//agent/sessions/`, - `projects//agent/environments//users//sessions/`, - `projects//locations//agent/environments//users//sessions/`,",
          "type": "string"
        },
        "responseId": {
          "description": "The unique identifier of the response. Contains the same value as `[Streaming]DetectIntentResponse.response_id`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2FulfillmentFeature": {
      "id": "GoogleCloudDialogflowV2FulfillmentFeature",
      "description": "Whether fulfillment is enabled for the specific feature.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of the feature that enabled for fulfillment.",
          "type": "string",
          "enumDescriptions": [
            "Feature type not specified.",
            "Fulfillment is enabled for SmallTalk."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "SMALLTALK"
          ]
        }
      }
    },
    "GoogleCloudDialogflowV3alpha1ImportTestCasesMetadata": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDialogflowV3alpha1ImportTestCasesMetadata",
      "description": "Metadata returned for the TestCases.ImportTestCases long running operation."
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard": {
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard",
      "type": "object",
      "description": "Browse Carousel Card for Actions on Google. https://developers.google.com/actions/assistant/responses#browsing_carousel",
      "properties": {
        "imageDisplayOptions": {
          "enumDescriptions": [
            "Fill the gaps between the image and the image container with gray bars.",
            "Fill the gaps between the image and the image container with gray bars.",
            "Fill the gaps between the image and the image container with white bars.",
            "Image is scaled such that the image width and height match or exceed the container dimensions. This may crop the top and bottom of the image if the scaled image height is greater than the container height, or crop the left and right of the image if the scaled image width is greater than the container width. This is similar to \"Zoom Mode\" on a widescreen TV when playing a 4:3 video.",
            "Pad the gaps between image and image frame with a blurred copy of the same image."
          ],
          "type": "string",
          "description": "Optional. Settings for displaying the image. Applies to every image in items.",
          "enum": [
            "IMAGE_DISPLAY_OPTIONS_UNSPECIFIED",
            "GRAY",
            "WHITE",
            "CROPPED",
            "BLURRED_BACKGROUND"
          ]
        },
        "items": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
          },
          "description": "Required. List of items in the Browse Carousel Card. Minimum of two items, maximum of ten.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2SentimentAnalysisRequestConfig": {
      "properties": {
        "analyzeQueryTextSentiment": {
          "description": "Instructs the service to perform sentiment analysis on `query_text`. If not provided, sentiment analysis is not performed on `query_text`.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2SentimentAnalysisRequestConfig",
      "type": "object",
      "description": "Configures the types of sentiment analysis to perform."
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo",
      "properties": {
        "parameters": {
          "type": "object",
          "description": "Parameters identified as a result of intent matching. This is a map of the name of the identified parameter to the value of the parameter identified from the user's utterance. All parameters defined in the matched intent that are identified will be surfaced here.",
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue"
          }
        },
        "lastMatchedIntent": {
          "description": "Always present. The unique identifier of the last matched intent. Format: `projects//locations//agents//intents/`.",
          "type": "string"
        }
      },
      "description": "Represents intent information communicated to the webhook.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageSuggestions": {
      "type": "object",
      "properties": {
        "suggestions": {
          "type": "array",
          "description": "Required. The list of suggested replies.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageSuggestion"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageSuggestions",
      "description": "The collection of suggestions."
    },
    "GoogleCloudDialogflowV2IntentMessageSuggestion": {
      "properties": {
        "title": {
          "type": "string",
          "description": "Required. The text shown the in the suggestion chip."
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageSuggestion",
      "description": "The suggestion chip message that the user can tap to quickly post a reply to the conversation."
    },
    "GoogleCloudDialogflowV2ValidationError": {
      "type": "object",
      "properties": {
        "severity": {
          "type": "string",
          "description": "The severity of the error.",
          "enumDescriptions": [
            "Not specified. This value should never be used.",
            "The agent doesn't follow Dialogflow best practicies.",
            "The agent may not behave as expected.",
            "The agent may experience partial failures.",
            "The agent may completely fail."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ERROR",
            "CRITICAL"
          ]
        },
        "entries": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The names of the entries that the error is associated with. Format: - \"projects//agent\", if the error is associated with the entire agent. - \"projects//agent/intents/\", if the error is associated with certain intents. - \"projects//agent/intents//trainingPhrases/\", if the error is associated with certain intent training phrases. - \"projects//agent/intents//parameters/\", if the error is associated with certain intent parameters. - \"projects//agent/entities/\", if the error is associated with certain entities."
        },
        "errorMessage": {
          "description": "The detailed error messsage.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ValidationError",
      "description": "Represents a single validation error."
    },
    "GoogleCloudDialogflowV2BatchDeleteEntityTypesRequest": {
      "id": "GoogleCloudDialogflowV2BatchDeleteEntityTypesRequest",
      "properties": {
        "entityTypeNames": {
          "type": "array",
          "description": "Required. The names entity types to delete. All names must point to the same agent as `parent`.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "The request message for EntityTypes.BatchDeleteEntityTypes."
    },
    "GoogleCloudDialogflowV2SearchAgentsResponse": {
      "properties": {
        "agents": {
          "type": "array",
          "description": "The list of agents. There will be a maximum number of items returned based on the page_size field in the request.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Agent"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "description": "The response message for Agents.SearchAgents.",
      "type": "object",
      "id": "GoogleCloudDialogflowV2SearchAgentsResponse"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeOperationMetadata",
      "properties": {
        "state": {
          "enumDescriptions": [
            "State unspecified.",
            "The operation has been created.",
            "The operation is currently running.",
            "The operation is done, either cancelled or completed."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "description": "Required. Output only. The current state of this operation.",
          "type": "string"
        }
      },
      "description": "Metadata in google::longrunning::Operation for Knowledge operations."
    },
    "GoogleCloudDialogflowV2beta1QueryResult": {
      "properties": {
        "fulfillmentMessages": {
          "description": "The collection of rich messages to present to the user.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          }
        },
        "intentDetectionConfidence": {
          "format": "float",
          "type": "number",
          "description": "The intent detection confidence. Values range from 0.0 (completely uncertain) to 1.0 (completely certain). This value is for informational purpose only and is only used to help match the best intent within the classification threshold. This value may change for the same end-user expression at any time due to a model retraining or change in implementation. If there are `multiple knowledge_answers` messages, this value is set to the greatest `knowledgeAnswers.match_confidence` value in the list."
        },
        "outputContexts": {
          "type": "array",
          "description": "The collection of output contexts. If applicable, `output_contexts.parameters` contains entries with name `.original` containing the original parameter values before the query.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          }
        },
        "knowledgeAnswers": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAnswers",
          "description": "The result from Knowledge Connector (if any), ordered by decreasing `KnowledgeAnswers.match_confidence`."
        },
        "sentimentAnalysisResult": {
          "description": "The sentiment analysis result, which depends on the `sentiment_analysis_request_config` specified in the request.",
          "$ref": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult"
        },
        "fulfillmentText": {
          "type": "string",
          "description": "The text to be pronounced to the user or shown on the screen. Note: This is a legacy field, `fulfillment_messages` should be preferred."
        },
        "speechRecognitionConfidence": {
          "description": "The Speech recognition confidence between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. The default of 0.0 is a sentinel value indicating that confidence was not set. This field is not guaranteed to be accurate or set. In particular this field isn't set for StreamingDetectIntent since the streaming endpoint has separate confidence estimates per portion of the audio in StreamingRecognitionResult.",
          "type": "number",
          "format": "float"
        },
        "diagnosticInfo": {
          "description": "Free-form diagnostic information for the associated detect intent request. The fields of this data can change without notice, so you should not write code that depends on its structure. The data may contain: - webhook call latency - webhook errors",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "parameters": {
          "type": "object",
          "description": "The collection of extracted parameters. Depending on your protocol or client library language, this is a map, associative array, symbol table, dictionary, or JSON object composed of a collection of (MapKey, MapValue) pairs: - MapKey type: string - MapKey value: parameter name - MapValue type: - If parameter's entity type is a composite entity: map - Else: string or number, depending on parameter value type - MapValue value: - If parameter's entity type is a composite entity: map from composite entity property names to property values - Else: parameter value",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowV2beta1Intent",
          "description": "The intent that matched the conversational query. Some, not all fields are filled in this message, including but not limited to: `name`, `display_name`, `end_interaction` and `is_fallback`."
        },
        "webhookPayload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "If the query was fulfilled by a webhook call, this field is set to the value of the `payload` field returned in the webhook response."
        },
        "languageCode": {
          "description": "The language that was triggered during intent detection. See [Language Support](https://cloud.google.com/dialogflow/docs/reference/language) for a list of the currently supported language codes.",
          "type": "string"
        },
        "queryText": {
          "type": "string",
          "description": "The original conversational query text: - If natural language text was provided as input, `query_text` contains a copy of the input. - If natural language speech audio was provided as input, `query_text` contains the speech recognition result. If speech recognizer produced multiple alternatives, a particular one is picked. - If automatic spell correction is enabled, `query_text` will contain the corrected user input."
        },
        "action": {
          "type": "string",
          "description": "The action name from the matched intent."
        },
        "allRequiredParamsPresent": {
          "description": "This field is set to: - `false` if the matched intent has required parameters and not all of the required parameter values have been collected. - `true` if all required parameter values have been collected, or if the matched intent doesn't contain any required parameters.",
          "type": "boolean"
        },
        "webhookSource": {
          "type": "string",
          "description": "If the query was fulfilled by a webhook call, this field is set to the value of the `source` field returned in the webhook response."
        }
      },
      "description": "Represents the result of conversational query or event processing.",
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1QueryResult"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties",
      "description": "Column properties for TableCard.",
      "type": "object",
      "properties": {
        "header": {
          "description": "Required. Column heading.",
          "type": "string"
        },
        "horizontalAlignment": {
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "LEADING",
            "CENTER",
            "TRAILING"
          ],
          "description": "Optional. Defines text alignment for all cells in this column.",
          "enumDescriptions": [
            "Text is aligned to the leading edge of the column.",
            "Text is aligned to the leading edge of the column.",
            "Text is centered in the column.",
            "Text is aligned to the trailing edge of the column."
          ],
          "type": "string"
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "type": "object",
      "id": "GoogleLongrunningListOperationsResponse"
    },
    "GoogleCloudDialogflowV2AnnotatedMessagePart": {
      "properties": {
        "formattedValue": {
          "type": "any",
          "description": "The [Dialogflow system entity formatted value ](https://cloud.google.com/dialogflow/docs/reference/system-entities) of this message part. For example for a system entity of type `@sys.unit-currency`, this may contain: { \"amount\": 5, \"currency\": \"USD\" } "
        },
        "text": {
          "type": "string",
          "description": "A part of a message possibly annotated with an entity."
        },
        "entityType": {
          "description": "The [Dialogflow system entity type](https://cloud.google.com/dialogflow/docs/reference/system-entities) of this message part. If this is empty, Dialogflow could not annotate the phrase part with a system entity.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2AnnotatedMessagePart",
      "description": "Represents a part of a message possibly annotated with an entity. The part can be an entity or purely a part of the message between two entities or message start/end.",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue",
      "properties": {
        "originalValue": {
          "type": "string",
          "description": "Always present. Original text value extracted from user utterance."
        },
        "resolvedValue": {
          "description": "Always present. Structured value for the parameter extracted from user utterance.",
          "type": "any"
        }
      },
      "description": "Represents a value for an intent parameter.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2QueryInput": {
      "description": "Represents the query input. It can contain either: 1. An audio config which instructs the speech recognizer how to process the speech audio. 2. A conversational query in the form of text,. 3. An event that specifies which intent to trigger.",
      "properties": {
        "audioConfig": {
          "$ref": "GoogleCloudDialogflowV2InputAudioConfig",
          "description": "Instructs the speech recognizer how to process the speech audio."
        },
        "text": {
          "$ref": "GoogleCloudDialogflowV2TextInput",
          "description": "The natural language text to be processed."
        },
        "event": {
          "$ref": "GoogleCloudDialogflowV2EventInput",
          "description": "The event to be processed."
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2QueryInput"
    },
    "GoogleCloudDialogflowV2IntentParameter": {
      "id": "GoogleCloudDialogflowV2IntentParameter",
      "type": "object",
      "description": "Represents intent parameters.",
      "properties": {
        "isList": {
          "description": "Optional. Indicates whether the parameter represents a list of values.",
          "type": "boolean"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The name of the parameter."
        },
        "mandatory": {
          "type": "boolean",
          "description": "Optional. Indicates whether the parameter is required. That is, whether the intent cannot be completed without collecting the parameter value."
        },
        "prompts": {
          "description": "Optional. The collection of prompts that the agent can present to the user in order to collect a value for the parameter.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "value": {
          "description": "Optional. The definition of the parameter value. It can be: - a constant string, - a parameter value defined as `$parameter_name`, - an original parameter value defined as `$parameter_name.original`, - a parameter value from some context defined as `#context_name.parameter_name`.",
          "type": "string"
        },
        "entityTypeDisplayName": {
          "type": "string",
          "description": "Optional. The name of the entity type, prefixed with `@`, that describes values of the parameter. If the parameter is required, this must be provided."
        },
        "defaultValue": {
          "description": "Optional. The default value to use when the `value` yields an empty result. Default values can be extracted from contexts by using the following syntax: `#context_name.parameter_name`.",
          "type": "string"
        },
        "name": {
          "description": "The unique identifier of this parameter.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SpeechContext": {
      "type": "object",
      "description": "Hints for the speech recognizer to help with recognition in a specific conversation state.",
      "id": "GoogleCloudDialogflowV2SpeechContext",
      "properties": {
        "phrases": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of strings containing words and phrases that the speech recognizer should recognize with higher likelihood. This list can be used to: * improve accuracy for words and phrases you expect the user to say, e.g. typical commands for your Dialogflow agent * add additional words to the speech recognizer vocabulary * ... See the [Cloud Speech documentation](https://cloud.google.com/speech-to-text/quotas) for usage limits.",
          "type": "array"
        },
        "boost": {
          "description": "Optional. Boost for this context compared to other contexts: * If the boost is positive, Dialogflow will increase the probability that the phrases in this context are recognized over similar sounding phrases. * If the boost is unspecified or non-positive, Dialogflow will not apply any boost. Dialogflow recommends that you use boosts in the range (0, 20] and that you find a value that fits your use case with binary search.",
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1Intent": {
      "properties": {
        "mlEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether Machine Learning is enabled for the intent. Note: If `ml_enabled` setting is set to false, then this intent is not taken into account during inference in `ML ONLY` match mode. Also, auto-markup in the UI is turned off. DEPRECATED! Please use `ml_disabled` field instead. NOTE: If both `ml_enabled` and `ml_disabled` are either not set or false, then the default value is determined as follows: - Before April 15th, 2018 the default is: ml_enabled = false / ml_disabled = true. - After April 15th, 2018 the default is: ml_enabled = true / ml_disabled = false."
        },
        "isFallback": {
          "type": "boolean",
          "description": "Optional. Indicates whether this is a fallback intent."
        },
        "defaultResponsePlatforms": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Not specified.",
              "Facebook.",
              "Slack.",
              "Telegram.",
              "Kik.",
              "Skype.",
              "Line.",
              "Viber.",
              "Google Assistant See [Dialogflow webhook format](https://developers.google.com/assistant/actions/build/json/dialogflow-webhook-json)",
              "Telephony Gateway.",
              "Google Hangouts."
            ],
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "FACEBOOK",
              "SLACK",
              "TELEGRAM",
              "KIK",
              "SKYPE",
              "LINE",
              "VIBER",
              "ACTIONS_ON_GOOGLE",
              "TELEPHONY",
              "GOOGLE_HANGOUTS"
            ]
          },
          "description": "Optional. The list of platforms for which the first responses will be copied from the messages in PLATFORM_UNSPECIFIED (i.e. default platform).",
          "type": "array"
        },
        "outputContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          },
          "type": "array",
          "description": "Optional. The collection of contexts that are activated when the intent is matched. Context messages in this collection should not set the parameters field. Setting the `lifespan_count` to 0 will reset the context when the intent is matched. Format: `projects//agent/sessions/-/contexts/`."
        },
        "inputContextNames": {
          "description": "Optional. The list of context names required for this intent to be triggered. Formats: - `projects//agent/sessions/-/contexts/` - `projects//locations//agent/sessions/-/contexts/`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "rootFollowupIntentName": {
          "description": "Output only. The unique identifier of the root intent in the chain of followup intents. It identifies the correct followup intents chain for this intent. Format: `projects//agent/intents/`.",
          "type": "string",
          "readOnly": true
        },
        "resetContexts": {
          "description": "Optional. Indicates whether to delete all contexts in the current session when this intent is matched.",
          "type": "boolean"
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentParameter"
          },
          "description": "Optional. The collection of parameters associated with the intent."
        },
        "parentFollowupIntentName": {
          "description": "Optional. The unique identifier of the parent intent in the chain of followup intents. You can set this field when creating an intent, for example with CreateIntent or BatchUpdateIntents, in order to make this intent a followup intent. It identifies the parent followup intent. Format: `projects//agent/intents/`.",
          "type": "string"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          },
          "description": "Optional. The collection of rich messages corresponding to the `Response` field in the Dialogflow console."
        },
        "followupIntentInfo": {
          "description": "Output only. Information about all followup intents that have this intent as a direct or indirect parent. We populate this field only in the output.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo"
          },
          "readOnly": true,
          "type": "array"
        },
        "trainingPhrases": {
          "description": "Optional. The collection of examples that the agent is trained on.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentTrainingPhrase"
          },
          "type": "array"
        },
        "action": {
          "description": "Optional. The name of the action associated with the intent. Note: The action name must not contain whitespaces.",
          "type": "string"
        },
        "endInteraction": {
          "type": "boolean",
          "description": "Optional. Indicates that this intent ends an interaction. Some integrations (e.g., Actions on Google or Dialogflow phone gateway) use this information to close interaction with an end user. Default is false."
        },
        "webhookState": {
          "type": "string",
          "description": "Optional. Indicates whether webhooks are enabled for the intent.",
          "enum": [
            "WEBHOOK_STATE_UNSPECIFIED",
            "WEBHOOK_STATE_ENABLED",
            "WEBHOOK_STATE_ENABLED_FOR_SLOT_FILLING"
          ],
          "enumDescriptions": [
            "Webhook is disabled in the agent and in the intent.",
            "Webhook is enabled in the agent and in the intent.",
            "Webhook is enabled in the agent and in the intent. Also, each slot filling prompt is forwarded to the webhook."
          ]
        },
        "name": {
          "description": "Optional. The unique identifier of this intent. Required for Intents.UpdateIntent and Intents.BatchUpdateIntents methods. Supported formats: - `projects//agent/intents/` - `projects//locations//agent/intents/`",
          "type": "string"
        },
        "events": {
          "description": "Optional. The collection of event names that trigger the intent. If the collection of input contexts is not empty, all of the contexts must be present in the active user session for an event to trigger this intent. Event names are limited to 150 characters.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "Required. The name of this intent.",
          "type": "string"
        },
        "priority": {
          "format": "int32",
          "description": "Optional. The priority of this intent. Higher numbers represent higher priorities. - If the supplied value is unspecified or 0, the service translates the value to 500,000, which corresponds to the `Normal` priority in the console. - If the supplied value is negative, the intent is ignored in runtime detect intent requests.",
          "type": "integer"
        },
        "mlDisabled": {
          "description": "Optional. Indicates whether Machine Learning is disabled for the intent. Note: If `ml_disabled` setting is set to true, then this intent is not taken into account during inference in `ML ONLY` match mode. Also, auto-markup in the UI is turned off.",
          "type": "boolean"
        }
      },
      "description": "An intent categorizes an end-user's intention for one conversation turn. For each agent, you define many intents, where your combined intents can handle a complete conversation. When an end-user writes or says something, referred to as an end-user expression or end-user input, Dialogflow matches the end-user input to the best intent in your agent. Matching an intent is also known as intent classification. For more information, see the [intent guide](https://cloud.google.com/dialogflow/docs/intents-overview).",
      "id": "GoogleCloudDialogflowV2beta1Intent",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageCard": {
      "properties": {
        "title": {
          "description": "Optional. The title of the card.",
          "type": "string"
        },
        "imageUri": {
          "description": "Optional. The public URI to an image file for the card.",
          "type": "string"
        },
        "buttons": {
          "type": "array",
          "description": "Optional. The collection of card buttons.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageCardButton"
          }
        },
        "subtitle": {
          "type": "string",
          "description": "Optional. The subtitle of the card."
        }
      },
      "description": "The card response message.",
      "id": "GoogleCloudDialogflowV2IntentMessageCard",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageListSelectItem": {
      "description": "An item in the list.",
      "id": "GoogleCloudDialogflowV2IntentMessageListSelectItem",
      "type": "object",
      "properties": {
        "image": {
          "description": "Optional. The image to display.",
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "info": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo",
          "description": "Required. Additional information about this option."
        },
        "description": {
          "type": "string",
          "description": "Optional. The main text describing the item."
        },
        "title": {
          "description": "Required. The title of the list item.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2QueryResult": {
      "description": "Represents the result of conversational query or event processing.",
      "id": "GoogleCloudDialogflowV2QueryResult",
      "properties": {
        "intentDetectionConfidence": {
          "description": "The intent detection confidence. Values range from 0.0 (completely uncertain) to 1.0 (completely certain). This value is for informational purpose only and is only used to help match the best intent within the classification threshold. This value may change for the same end-user expression at any time due to a model retraining or change in implementation. If there are `multiple knowledge_answers` messages, this value is set to the greatest `knowledgeAnswers.match_confidence` value in the list.",
          "format": "float",
          "type": "number"
        },
        "queryText": {
          "description": "The original conversational query text: - If natural language text was provided as input, `query_text` contains a copy of the input. - If natural language speech audio was provided as input, `query_text` contains the speech recognition result. If speech recognizer produced multiple alternatives, a particular one is picked. - If automatic spell correction is enabled, `query_text` will contain the corrected user input.",
          "type": "string"
        },
        "webhookPayload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "If the query was fulfilled by a webhook call, this field is set to the value of the `payload` field returned in the webhook response.",
          "type": "object"
        },
        "sentimentAnalysisResult": {
          "description": "The sentiment analysis result, which depends on the `sentiment_analysis_request_config` specified in the request.",
          "$ref": "GoogleCloudDialogflowV2SentimentAnalysisResult"
        },
        "allRequiredParamsPresent": {
          "description": "This field is set to: - `false` if the matched intent has required parameters and not all of the required parameter values have been collected. - `true` if all required parameter values have been collected, or if the matched intent doesn't contain any required parameters.",
          "type": "boolean"
        },
        "outputContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          },
          "description": "The collection of output contexts. If applicable, `output_contexts.parameters` contains entries with name `.original` containing the original parameter values before the query.",
          "type": "array"
        },
        "webhookSource": {
          "description": "If the query was fulfilled by a webhook call, this field is set to the value of the `source` field returned in the webhook response.",
          "type": "string"
        },
        "speechRecognitionConfidence": {
          "type": "number",
          "format": "float",
          "description": "The Speech recognition confidence between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. The default of 0.0 is a sentinel value indicating that confidence was not set. This field is not guaranteed to be accurate or set. In particular this field isn't set for StreamingDetectIntent since the streaming endpoint has separate confidence estimates per portion of the audio in StreamingRecognitionResult."
        },
        "languageCode": {
          "description": "The language that was triggered during intent detection. See [Language Support](https://cloud.google.com/dialogflow/docs/reference/language) for a list of the currently supported language codes.",
          "type": "string"
        },
        "parameters": {
          "description": "The collection of extracted parameters. Depending on your protocol or client library language, this is a map, associative array, symbol table, dictionary, or JSON object composed of a collection of (MapKey, MapValue) pairs: - MapKey type: string - MapKey value: parameter name - MapValue type: - If parameter's entity type is a composite entity: map - Else: string or number, depending on parameter value type - MapValue value: - If parameter's entity type is a composite entity: map from composite entity property names to property values - Else: parameter value",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "fulfillmentText": {
          "description": "The text to be pronounced to the user or shown on the screen. Note: This is a legacy field, `fulfillment_messages` should be preferred.",
          "type": "string"
        },
        "action": {
          "description": "The action name from the matched intent.",
          "type": "string"
        },
        "intent": {
          "description": "The intent that matched the conversational query. Some, not all fields are filled in this message, including but not limited to: `name`, `display_name`, `end_interaction` and `is_fallback`.",
          "$ref": "GoogleCloudDialogflowV2Intent"
        },
        "fulfillmentMessages": {
          "description": "The collection of rich messages to present to the user.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          }
        },
        "diagnosticInfo": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Free-form diagnostic information for the associated detect intent request. The fields of this data can change without notice, so you should not write code that depends on its structure. The data may contain: - webhook call latency - webhook errors",
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo": {
      "description": "Additional info about the select item for when it is triggered in a dialog.",
      "type": "object",
      "properties": {
        "key": {
          "description": "Required. A unique key that will be sent back to the agent if this response is given.",
          "type": "string"
        },
        "synonyms": {
          "type": "array",
          "description": "Optional. A list of synonyms that can also be used to trigger this item in dialog.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAnswers": {
      "type": "object",
      "description": "Represents the result of querying a Knowledge base.",
      "properties": {
        "answers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer"
          },
          "description": "A list of answers from Knowledge Connector.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAnswers"
    },
    "GoogleCloudDialogflowV2beta1IntentTrainingPhrase": {
      "id": "GoogleCloudDialogflowV2beta1IntentTrainingPhrase",
      "properties": {
        "timesAddedCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Indicates how many times this example was added to the intent. Each time a developer adds an existing sample by editing an intent or training, this counter is increased."
        },
        "parts": {
          "description": "Required. The ordered list of training phrase parts. The parts are concatenated in order to form the training phrase. Note: The API does not automatically annotate training phrases like the Dialogflow Console does. Note: Do not forget to include whitespace at part boundaries, so the training phrase is well formatted when the parts are concatenated. If the training phrase does not need to be annotated with parameters, you just need a single part with only the Part.text field set. If you want to annotate the training phrase, you must create multiple parts, where the fields of each part are populated in one of two ways: - `Part.text` is set to a part of the phrase that has no parameters. - `Part.text` is set to a part of the phrase that you want to annotate, and the `entity_type`, `alias`, and `user_defined` fields are all set.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart"
          }
        },
        "name": {
          "type": "string",
          "description": "Output only. The unique identifier of this training phrase."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXAMPLE",
            "TEMPLATE"
          ],
          "type": "string",
          "description": "Required. The type of the training phrase.",
          "enumDescriptions": [
            "Not specified. This value should never be used.",
            "Examples do not contain @-prefixed entity type names, but example parts can be annotated with entity types.",
            "Templates are not annotated with entity types, but they can contain @-prefixed entity type names as substrings. Template mode has been deprecated. Example mode is the only supported way to create new training phrases. If you have existing training phrases that you've created in template mode, those will continue to work."
          ]
        }
      },
      "type": "object",
      "description": "Represents an example that the agent is trained on."
    },
    "GoogleCloudDialogflowV2BatchCreateEntitiesRequest": {
      "id": "GoogleCloudDialogflowV2BatchCreateEntitiesRequest",
      "description": "The request message for EntityTypes.BatchCreateEntities.",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "Optional. The language used to access language-specific data. If not specified, the agent's default language is used. For more information, see [Multilingual intent and entity data](https://cloud.google.com/dialogflow/docs/agents-multilingual#intent-entity)."
        },
        "entities": {
          "description": "Required. The entities to create.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityTypeEntity"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem",
      "properties": {
        "title": {
          "description": "Required. Title of the carousel item. Maximum of two lines of text.",
          "type": "string"
        },
        "openUriAction": {
          "description": "Required. Action to present to the user.",
          "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
        },
        "footer": {
          "type": "string",
          "description": "Optional. Text that appears at the bottom of the Browse Carousel Card. Maximum of one line of text."
        },
        "image": {
          "description": "Optional. Hero image for the carousel item.",
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the carousel item. Maximum of four lines of text."
        }
      },
      "type": "object",
      "description": "Browsing carousel tile"
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction": {
      "properties": {
        "urlTypeHint": {
          "type": "string",
          "description": "Optional. Specifies the type of viewer that is used when opening the URL. Defaults to opening via web browser.",
          "enum": [
            "URL_TYPE_HINT_UNSPECIFIED",
            "AMP_ACTION",
            "AMP_CONTENT"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Url would be an amp action",
            "URL that points directly to AMP content, or to a canonical URL which refers to AMP content via ."
          ]
        },
        "url": {
          "type": "string",
          "description": "Required. URL"
        }
      },
      "type": "object",
      "description": "Actions on Google action to open a given url.",
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio": {
      "type": "object",
      "description": "Plays audio from a file in Telephony Gateway.",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio",
      "properties": {
        "audioUri": {
          "type": "string",
          "description": "Required. URI to a Google Cloud Storage object containing the audio to play, e.g., \"gs://bucket/object\". The object must contain a single channel (mono) of linear PCM audio (2 bytes / sample) at 8kHz. This object must be readable by the `service-@gcp-sa-dialogflow.iam.gserviceaccount.com` service account where is the number of the Telephony Gateway project (usually the same as the Dialogflow agent project). If the Google Cloud Storage bucket is in the Telephony Gateway project, this permission is added by default when enabling the Dialogflow V2 API. For audio from other sources, consider using the `TelephonySynthesizeSpeech` message with SSML."
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageText": {
      "properties": {
        "text": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The collection of the agent's responses."
        }
      },
      "type": "object",
      "description": "The text response message.",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageText"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the carousel item. Maximum of four lines of text."
        },
        "image": {
          "description": "Optional. Hero image for the carousel item.",
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "footer": {
          "description": "Optional. Text that appears at the bottom of the Browse Carousel Card. Maximum of one line of text.",
          "type": "string"
        },
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction",
          "description": "Required. Action to present to the user."
        },
        "title": {
          "type": "string",
          "description": "Required. Title of the carousel item. Maximum of two lines of text."
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem",
      "description": "Browsing carousel tile"
    },
    "GoogleCloudDialogflowV2Agent": {
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The project of this agent. Format: `projects/`."
        },
        "supportedLanguageCodes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of all languages supported by this agent (except for the `default_language_code`).",
          "type": "array"
        },
        "enableLogging": {
          "type": "boolean",
          "description": "Optional. Determines whether this agent should log conversation queries."
        },
        "apiVersion": {
          "enum": [
            "API_VERSION_UNSPECIFIED",
            "API_VERSION_V1",
            "API_VERSION_V2",
            "API_VERSION_V2_BETA_1"
          ],
          "description": "Optional. API version displayed in Dialogflow console. If not specified, V2 API is assumed. Clients are free to query different service endpoints for different API versions. However, bots connectors and webhook calls will follow the specified API version.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Legacy V1 API.",
            "V2 API.",
            "V2beta1 API."
          ]
        },
        "defaultLanguageCode": {
          "type": "string",
          "description": "Required. The default language of the agent as a language tag. See [Language Support](https://cloud.google.com/dialogflow/docs/reference/language) for a list of the currently supported language codes. This field cannot be set by the `Update` method."
        },
        "classificationThreshold": {
          "format": "float",
          "description": "Optional. To filter out false positive results and still get variety in matched natural language inputs for your agent, you can tune the machine learning classification threshold. If the returned score value is less than the threshold value, then a fallback intent will be triggered or, if there are no fallback intents defined, no intent will be triggered. The score values range from 0.0 (completely uncertain) to 1.0 (completely certain). If set to 0.0, the default of 0.3 is used.",
          "type": "number"
        },
        "tier": {
          "description": "Optional. The agent tier. If not specified, TIER_STANDARD is assumed.",
          "enum": [
            "TIER_UNSPECIFIED",
            "TIER_STANDARD",
            "TIER_ENTERPRISE",
            "TIER_ENTERPRISE_PLUS"
          ],
          "enumDescriptions": [
            "Not specified. This value should never be used.",
            "Standard tier.",
            "Enterprise tier (Essentials).",
            "Enterprise tier (Plus)."
          ],
          "type": "string"
        },
        "timeZone": {
          "type": "string",
          "description": "Required. The time zone of this agent from the [time zone database](https://www.iana.org/time-zones), e.g., America/New_York, Europe/Paris."
        },
        "matchMode": {
          "enumDescriptions": [
            "Not specified.",
            "Best for agents with a small number of examples in intents and/or wide use of templates syntax and composite entities.",
            "Can be used for agents with a large number of examples in intents, especially the ones using @sys.any or very large custom entities."
          ],
          "enum": [
            "MATCH_MODE_UNSPECIFIED",
            "MATCH_MODE_HYBRID",
            "MATCH_MODE_ML_ONLY"
          ],
          "type": "string",
          "description": "Optional. Determines how intents are detected from user queries."
        },
        "description": {
          "description": "Optional. The description of this agent. The maximum length is 500 characters. If exceeded, the request is rejected.",
          "type": "string"
        },
        "avatarUri": {
          "description": "Optional. The URI of the agent's avatar. Avatars are used throughout the Dialogflow console and in the self-hosted [Web Demo](https://cloud.google.com/dialogflow/docs/integrations/web-demo) integration.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The name of this agent."
        }
      },
      "type": "object",
      "description": "A Dialogflow agent is a virtual agent that handles conversations with your end-users. It is a natural language understanding module that understands the nuances of human language. Dialogflow translates end-user text or audio during a conversation to structured data that your apps and services can understand. You design and build a Dialogflow agent to handle the types of conversations required for your system. For more information about agents, see the [Agent guide](https://cloud.google.com/dialogflow/docs/agents-overview).",
      "id": "GoogleCloudDialogflowV2Agent"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio",
      "description": "Specifies an audio clip to be played by the client as part of the response.",
      "properties": {
        "allowPlaybackInterruption": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the playback of this message can be interrupted by the end user's speech and the client can then starts the next Dialogflow request."
        },
        "audioUri": {
          "description": "Required. URI of the audio clip. Dialogflow does not impose any validation on this value. It is specific to the client that reads it.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentTrainingPhrase": {
      "properties": {
        "parts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentTrainingPhrasePart"
          },
          "type": "array",
          "description": "Required. The ordered list of training phrase parts. The parts are concatenated in order to form the training phrase. Note: The API does not automatically annotate training phrases like the Dialogflow Console does. Note: Do not forget to include whitespace at part boundaries, so the training phrase is well formatted when the parts are concatenated. If the training phrase does not need to be annotated with parameters, you just need a single part with only the Part.text field set. If you want to annotate the training phrase, you must create multiple parts, where the fields of each part are populated in one of two ways: - `Part.text` is set to a part of the phrase that has no parameters. - `Part.text` is set to a part of the phrase that you want to annotate, and the `entity_type`, `alias`, and `user_defined` fields are all set."
        },
        "name": {
          "description": "Output only. The unique identifier of this training phrase.",
          "type": "string"
        },
        "timesAddedCount": {
          "description": "Optional. Indicates how many times this example was added to the intent. Each time a developer adds an existing sample by editing an intent or training, this counter is increased.",
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "description": "Required. The type of the training phrase.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXAMPLE",
            "TEMPLATE"
          ],
          "enumDescriptions": [
            "Not specified. This value should never be used.",
            "Examples do not contain @-prefixed entity type names, but example parts can be annotated with entity types.",
            "Templates are not annotated with entity types, but they can contain @-prefixed entity type names as substrings. Template mode has been deprecated. Example mode is the only supported way to create new training phrases. If you have existing training phrases that you've created in template mode, those will continue to work."
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentTrainingPhrase",
      "description": "Represents an example that the agent is trained on."
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequest": {
      "properties": {
        "pageInfo": {
          "description": "Information about page status.",
          "$ref": "GoogleCloudDialogflowCxV3beta1PageInfo"
        },
        "messages": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          },
          "type": "array",
          "description": "The list of rich message responses to present to the user. Webhook can choose to append or replace this list in WebhookResponse.fulfillment_response;"
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SessionInfo",
          "description": "Information about session status."
        },
        "intentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo",
          "description": "Information about the last matched intent."
        },
        "detectIntentResponseId": {
          "type": "string",
          "description": "Always present. The unique identifier of the DetectIntentResponse that will be returned to the API caller."
        },
        "payload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Custom data set in QueryParameters.payload.",
          "type": "object"
        },
        "fulfillmentInfo": {
          "description": "Always present. Information about the fulfillment that triggered this webhook call.",
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequest",
      "description": "The request message for a webhook call.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart": {
      "description": "Represents a part of a training phrase.",
      "properties": {
        "text": {
          "description": "Required. The text for this part.",
          "type": "string"
        },
        "userDefined": {
          "description": "Optional. Indicates whether the text was manually annotated. This field is set to true when the Dialogflow Console is used to manually annotate the part. When creating an annotated part with the API, you must set this to true.",
          "type": "boolean"
        },
        "entityType": {
          "description": "Optional. The entity type name prefixed with `@`. This field is required for annotated parts of the training phrase.",
          "type": "string"
        },
        "alias": {
          "type": "string",
          "description": "Optional. The parameter name for the value extracted from the annotated part of the example. This field is required for annotated parts of the training phrase."
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart"
    },
    "GoogleCloudDialogflowV2EntityTypeBatch": {
      "description": "This message is a wrapper around a collection of entity types.",
      "properties": {
        "entityTypes": {
          "description": "A collection of entity types.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityType"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2EntityTypeBatch",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1Context": {
      "description": "Dialogflow contexts are similar to natural language context. If a person says to you \"they are orange\", you need context in order to understand what \"they\" is referring to. Similarly, for Dialogflow to handle an end-user expression like that, it needs to be provided with context in order to correctly match an intent. Using contexts, you can control the flow of a conversation. You can configure contexts for an intent by setting input and output contexts, which are identified by string names. When an intent is matched, any configured output contexts for that intent become active. While any contexts are active, Dialogflow is more likely to match intents that are configured with input contexts that correspond to the currently active contexts. For more information about context, see the [Contexts guide](https://cloud.google.com/dialogflow/docs/contexts-overview).",
      "id": "GoogleCloudDialogflowV2beta1Context",
      "type": "object",
      "properties": {
        "lifespanCount": {
          "format": "int32",
          "description": "Optional. The number of conversational query requests after which the context expires. The default is `0`. If set to `0`, the context expires immediately. Contexts expire automatically after 20 minutes if there are no matching queries.",
          "type": "integer"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. The collection of parameters associated with this context. Depending on your protocol or client library language, this is a map, associative array, symbol table, dictionary, or JSON object composed of a collection of (MapKey, MapValue) pairs: - MapKey type: string - MapKey value: parameter name - MapValue type: - If parameter's entity type is a composite entity: map - Else: string or number, depending on parameter value type - MapValue value: - If parameter's entity type is a composite entity: map from composite entity property names to property values - Else: parameter value"
        },
        "name": {
          "description": "Required. The unique identifier of the context. Supported formats: - `projects//agent/sessions//contexts/`, - `projects//locations//agent/sessions//contexts/`, - `projects//agent/environments//users//sessions//contexts/`, - `projects//locations//agent/environments//users//sessions//contexts/`, The `Context ID` is always converted to lowercase, may only contain characters in a-zA-Z0-9_-% and may be at most 250 bytes long. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user. The following context names are reserved for internal use by Dialogflow. You should not use these contexts or create contexts with these names: * `__system_counters__` * `*_id_dialog_context` * `*_dialog_params_size`",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2Intent": {
      "id": "GoogleCloudDialogflowV2Intent",
      "properties": {
        "isFallback": {
          "type": "boolean",
          "description": "Optional. Indicates whether this is a fallback intent."
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          },
          "description": "Optional. The collection of rich messages corresponding to the `Response` field in the Dialogflow console."
        },
        "name": {
          "description": "Optional. The unique identifier of this intent. Required for Intents.UpdateIntent and Intents.BatchUpdateIntents methods. Format: `projects//agent/intents/`.",
          "type": "string"
        },
        "resetContexts": {
          "description": "Optional. Indicates whether to delete all contexts in the current session when this intent is matched.",
          "type": "boolean"
        },
        "outputContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          },
          "description": "Optional. The collection of contexts that are activated when the intent is matched. Context messages in this collection should not set the parameters field. Setting the `lifespan_count` to 0 will reset the context when the intent is matched. Format: `projects//agent/sessions/-/contexts/`.",
          "type": "array"
        },
        "parameters": {
          "description": "Optional. The collection of parameters associated with the intent.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentParameter"
          },
          "type": "array"
        },
        "displayName": {
          "description": "Required. The name of this intent.",
          "type": "string"
        },
        "defaultResponsePlatforms": {
          "description": "Optional. The list of platforms for which the first responses will be copied from the messages in PLATFORM_UNSPECIFIED (i.e. default platform).",
          "type": "array",
          "items": {
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "FACEBOOK",
              "SLACK",
              "TELEGRAM",
              "KIK",
              "SKYPE",
              "LINE",
              "VIBER",
              "ACTIONS_ON_GOOGLE",
              "GOOGLE_HANGOUTS"
            ],
            "enumDescriptions": [
              "Default platform.",
              "Facebook.",
              "Slack.",
              "Telegram.",
              "Kik.",
              "Skype.",
              "Line.",
              "Viber.",
              "Google Assistant See [Dialogflow webhook format](https://developers.google.com/assistant/actions/build/json/dialogflow-webhook-json)",
              "Google Hangouts."
            ],
            "type": "string"
          }
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The priority of this intent. Higher numbers represent higher priorities. - If the supplied value is unspecified or 0, the service translates the value to 500,000, which corresponds to the `Normal` priority in the console. - If the supplied value is negative, the intent is ignored in runtime detect intent requests."
        },
        "rootFollowupIntentName": {
          "type": "string",
          "description": "Read-only. The unique identifier of the root intent in the chain of followup intents. It identifies the correct followup intents chain for this intent. We populate this field only in the output. Format: `projects//agent/intents/`."
        },
        "parentFollowupIntentName": {
          "description": "Read-only after creation. The unique identifier of the parent intent in the chain of followup intents. You can set this field when creating an intent, for example with CreateIntent or BatchUpdateIntents, in order to make this intent a followup intent. It identifies the parent followup intent. Format: `projects//agent/intents/`.",
          "type": "string"
        },
        "followupIntentInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentFollowupIntentInfo"
          },
          "type": "array",
          "description": "Read-only. Information about all followup intents that have this intent as a direct or indirect parent. We populate this field only in the output."
        },
        "inputContextNames": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of context names required for this intent to be triggered. Format: `projects//agent/sessions/-/contexts/`.",
          "type": "array"
        },
        "webhookState": {
          "type": "string",
          "description": "Optional. Indicates whether webhooks are enabled for the intent.",
          "enum": [
            "WEBHOOK_STATE_UNSPECIFIED",
            "WEBHOOK_STATE_ENABLED",
            "WEBHOOK_STATE_ENABLED_FOR_SLOT_FILLING"
          ],
          "enumDescriptions": [
            "Webhook is disabled in the agent and in the intent.",
            "Webhook is enabled in the agent and in the intent.",
            "Webhook is enabled in the agent and in the intent. Also, each slot filling prompt is forwarded to the webhook."
          ]
        },
        "trainingPhrases": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentTrainingPhrase"
          },
          "type": "array",
          "description": "Optional. The collection of examples that the agent is trained on."
        },
        "action": {
          "description": "Optional. The name of the action associated with the intent. Note: The action name must not contain whitespaces.",
          "type": "string"
        },
        "mlDisabled": {
[...]
