{
  "canonicalName": "Dialogflow",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "version": "v3",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "title": "Dialogflow API",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "ownerName": "Google",
  "schemas": {
    "GoogleCloudDialogflowV2beta1IntentMessageImage": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageImage",
      "properties": {
        "accessibilityText": {
          "description": "A text description of the image to be used for accessibility, e.g., screen readers. Required if image_uri is set for CarouselSelect.",
          "type": "string"
        },
        "imageUri": {
          "type": "string",
          "description": "Optional. The public URI to an image file."
        }
      },
      "description": "The image response message.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAnswers": {
      "properties": {
        "answers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer"
          },
          "description": "A list of answers from Knowledge Connector."
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAnswers",
      "description": "Represents the result of querying a Knowledge base.",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3EventHandler": {
      "description": "An event handler specifies an event that can be handled during a session. When the specified event happens, the following actions are taken in order: * If there is a `trigger_fulfillment` associated with the event, it will be called. * If there is a `target_page` associated with the event, the session will transition into the specified page. * If there is a `target_flow` associated with the event, the session will transition into the specified flow.",
      "id": "GoogleCloudDialogflowCxV3EventHandler",
      "properties": {
        "targetFlow": {
          "type": "string",
          "description": "The target flow to transition to. Format: `projects//locations//agents//flows/`."
        },
        "triggerFulfillment": {
          "description": "The fulfillment to call when the event occurs. Handling webhook errors with a fulfillment enabled with webhook could cause infinite loop. It is invalid to specify such fulfillment for a handler handling webhooks.",
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "targetPage": {
          "description": "The target page to transition to. Format: `projects//locations//agents//flows//pages/`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The unique identifier of this event handler.",
          "readOnly": true
        },
        "event": {
          "type": "string",
          "description": "Required. The name of the event to handle."
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2Context": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The unique identifier of the context. Format: `projects//agent/sessions//contexts/`, or `projects//agent/environments//users//sessions//contexts/`. The `Context ID` is always converted to lowercase, may only contain characters in a-zA-Z0-9_-% and may be at most 250 bytes long. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user. The following context names are reserved for internal use by Dialogflow. You should not use these contexts or create contexts with these names: * `__system_counters__` * `*_id_dialog_context` * `*_dialog_params_size`",
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. The collection of parameters associated with this context. Depending on your protocol or client library language, this is a map, associative array, symbol table, dictionary, or JSON object composed of a collection of (MapKey, MapValue) pairs: - MapKey type: string - MapKey value: parameter name - MapValue type: - If parameter's entity type is a composite entity: map - Else: depending on parameter value type, could be one of string, number, boolean, null, list or map - MapValue value: - If parameter's entity type is a composite entity: map from composite entity property names to property values - Else: parameter value"
        },
        "lifespanCount": {
          "format": "int32",
          "description": "Optional. The number of conversational query requests after which the context expires. The default is `0`. If set to `0`, the context expires immediately. Contexts expire automatically after 20 minutes if there are no matching queries.",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDialogflowV2Context",
      "description": "Dialogflow contexts are similar to natural language context. If a person says to you \"they are orange\", you need context in order to understand what \"they\" is referring to. Similarly, for Dialogflow to handle an end-user expression like that, it needs to be provided with context in order to correctly match an intent. Using contexts, you can control the flow of a conversation. You can configure contexts for an intent by setting input and output contexts, which are identified by string names. When an intent is matched, any configured output contexts for that intent become active. While any contexts are active, Dialogflow is more likely to match intents that are configured with input contexts that correspond to the currently active contexts. For more information about context, see the [Contexts guide](https://cloud.google.com/dialogflow/docs/contexts-overview)."
    },
    "GoogleCloudDialogflowV2beta1FaqAnswer": {
      "id": "GoogleCloudDialogflowV2beta1FaqAnswer",
      "description": "Represents answer from \"frequently asked questions\".",
      "type": "object",
      "properties": {
        "answer": {
          "type": "string",
          "description": "The piece of text from the `source` knowledge base document."
        },
        "question": {
          "type": "string",
          "description": "The corresponding FAQ question."
        },
        "confidence": {
          "description": "The system's confidence score that this Knowledge answer is a good match for this conversational query, range from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "format": "float",
          "type": "number"
        },
        "metadata": {
          "description": "A map that contains metadata about the answer and the document from which it originates.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "source": {
          "type": "string",
          "description": "Indicates which Knowledge Document this answer was extracted from. Format: `projects//locations//agent/knowledgeBases//documents/`."
        },
        "answerRecord": {
          "description": "The name of answer record, in the format of \"projects//locations//answerRecords/\"",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TransitionRouteGroupCoverageCoverage": {
      "type": "object",
      "description": "Coverage result message for one transition route group.",
      "id": "GoogleCloudDialogflowCxV3TransitionRouteGroupCoverageCoverage",
      "properties": {
        "routeGroup": {
          "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroup",
          "description": "Transition route group metadata. Only name and displayName will be set."
        },
        "coverageScore": {
          "description": "The percent of transition routes in the transition route group that are covered.",
          "format": "float",
          "type": "number"
        },
        "transitions": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroupCoverageCoverageTransition"
          },
          "description": "The list of transition routes and coverage in the transition route group.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TestError": {
      "id": "GoogleCloudDialogflowCxV3beta1TestError",
      "properties": {
        "testTime": {
          "description": "The timestamp when the test was completed.",
          "format": "google-datetime",
          "type": "string"
        },
        "status": {
          "description": "The status associated with the test.",
          "$ref": "GoogleRpcStatus"
        },
        "testCase": {
          "description": "The test case resource name.",
          "type": "string"
        }
      },
      "description": "Error info for running a test.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart": {
      "id": "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart",
      "description": "Represents a part of a training phrase.",
      "type": "object",
      "properties": {
        "alias": {
          "description": "Optional. The parameter name for the value extracted from the annotated part of the example. This field is required for annotated parts of the training phrase.",
          "type": "string"
        },
        "entityType": {
          "type": "string",
          "description": "Optional. The entity type name prefixed with `@`. This field is required for annotated parts of the training phrase."
        },
        "text": {
          "description": "Required. The text for this part.",
          "type": "string"
        },
        "userDefined": {
          "type": "boolean",
          "description": "Optional. Indicates whether the text was manually annotated. This field is set to true when the Dialogflow Console is used to manually annotate the part. When creating an annotated part with the API, you must set this to true."
        }
      }
    },
    "GoogleCloudDialogflowV2AnnotatedMessagePart": {
      "description": "Represents a part of a message possibly annotated with an entity. The part can be an entity or purely a part of the message between two entities or message start/end.",
      "id": "GoogleCloudDialogflowV2AnnotatedMessagePart",
      "type": "object",
      "properties": {
        "entityType": {
          "description": "The [Dialogflow system entity type](https://cloud.google.com/dialogflow/docs/reference/system-entities) of this message part. If this is empty, Dialogflow could not annotate the phrase part with a system entity.",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "A part of a message possibly annotated with an entity."
        },
        "formattedValue": {
          "type": "any",
          "description": "The [Dialogflow system entity formatted value ](https://cloud.google.com/dialogflow/docs/reference/system-entities) of this message part. For example for a system entity of type `@sys.unit-currency`, this may contain: { \"amount\": 5, \"currency\": \"USD\" } "
        }
      }
    },
    "GoogleCloudDialogflowCxV3VoiceSelectionParams": {
      "properties": {
        "ssmlGender": {
          "enumDescriptions": [
            "An unspecified gender, which means that the client doesn't care which gender the selected voice will have.",
            "A male voice.",
            "A female voice.",
            "A gender-neutral voice."
          ],
          "enum": [
            "SSML_VOICE_GENDER_UNSPECIFIED",
            "SSML_VOICE_GENDER_MALE",
            "SSML_VOICE_GENDER_FEMALE",
            "SSML_VOICE_GENDER_NEUTRAL"
          ],
          "type": "string",
          "description": "Optional. The preferred gender of the voice. If not set, the service will choose a voice based on the other parameters such as language_code and name. Note that this is only a preference, not requirement. If a voice of the appropriate gender is not available, the synthesizer substitutes a voice with a different gender rather than failing the request."
        },
        "name": {
          "type": "string",
          "description": "Optional. The name of the voice. If not set, the service will choose a voice based on the other parameters such as language_code and ssml_gender. For the list of available voices, please refer to [Supported voices and languages](https://cloud.google.com/text-to-speech/docs/voices)."
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3VoiceSelectionParams",
      "description": "Description of which voice to use for speech synthesis."
    },
    "GoogleCloudDialogflowCxV3TestError": {
      "id": "GoogleCloudDialogflowCxV3TestError",
      "properties": {
        "status": {
          "description": "The status associated with the test.",
          "$ref": "GoogleRpcStatus"
        },
        "testTime": {
          "description": "The timestamp when the test was completed.",
          "type": "string",
          "format": "google-datetime"
        },
        "testCase": {
          "type": "string",
          "description": "The test case resource name."
        }
      },
      "description": "Error info for running a test.",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase": {
      "type": "object",
      "description": "Each case has a Boolean condition. When it is evaluated to be True, the corresponding messages will be selected and evaluated recursively.",
      "properties": {
        "condition": {
          "description": "The condition to activate and select this case. Empty means the condition is always true. The condition is evaluated against form parameters or session parameters. See the [conditions reference](https://cloud.google.com/dialogflow/cx/docs/reference/condition).",
          "type": "string"
        },
        "caseContent": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent"
          },
          "description": "A list of case content."
        }
      },
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase"
    },
    "GoogleCloudDialogflowV2MessageAnnotation": {
      "properties": {
        "containEntities": {
          "type": "boolean",
          "description": "Indicates whether the text message contains entities."
        },
        "parts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2AnnotatedMessagePart"
          },
          "description": "The collection of annotated message parts ordered by their position in the message. You can recover the annotated message by concatenating [AnnotatedMessagePart.text].",
          "type": "array"
        }
      },
      "description": "Represents the result of annotation for the message.",
      "id": "GoogleCloudDialogflowV2MessageAnnotation",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCard": {
      "properties": {
        "formattedText": {
          "description": "Required, unless image is present. The body text of the card.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. The title of the card."
        },
        "image": {
          "description": "Optional. The image for the card.",
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "subtitle": {
          "type": "string",
          "description": "Optional. The subtitle of the card."
        },
        "buttons": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButton"
          },
          "type": "array",
          "description": "Optional. The collection of card buttons."
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCard",
      "description": "The basic card message. Useful for displaying information.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo": {
      "properties": {
        "parentFollowupIntentName": {
          "description": "The unique identifier of the followup intent's parent. Format: `projects//agent/intents/`.",
          "type": "string"
        },
        "followupIntentName": {
          "description": "The unique identifier of the followup intent. Format: `projects//agent/intents/`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo",
      "description": "Represents a single followup intent in the chain."
    },
    "GoogleCloudDialogflowV2ArticleAnswer": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "The article URI."
        },
        "title": {
          "type": "string",
          "description": "The article title."
        },
        "snippets": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Article snippets."
        },
        "metadata": {
          "description": "A map that contains metadata about the answer and the document from which it originates.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "confidence": {
          "description": "Article match confidence. The system's confidence score that this article is a good match for this conversation, as a value from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "type": "number",
          "format": "float"
        },
        "answerRecord": {
          "description": "The name of answer record, in the format of \"projects//locations//answerRecords/\"",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ArticleAnswer",
      "description": "Represents article answer."
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction": {
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction",
      "description": "Actions on Google action to open a given url.",
      "type": "object",
      "properties": {
        "url": {
          "description": "Required. URL",
          "type": "string"
        },
        "urlTypeHint": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Url would be an amp action",
            "URL that points directly to AMP content, or to a canonical URL which refers to AMP content via ."
          ],
          "description": "Optional. Specifies the type of viewer that is used when opening the URL. Defaults to opening via web browser.",
          "enum": [
            "URL_TYPE_HINT_UNSPECIFIED",
            "AMP_ACTION",
            "AMP_CONTENT"
          ]
        }
      }
    },
    "GoogleCloudDialogflowV3alpha1DeleteDocumentOperationMetadata": {
      "id": "GoogleCloudDialogflowV3alpha1DeleteDocumentOperationMetadata",
      "description": "Metadata for DeleteDocument operation.",
      "properties": {
        "genericMetadata": {
          "description": "The generic information of the operation.",
          "$ref": "GoogleCloudDialogflowV3alpha1GenericKnowledgeOperationMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1WebhookRequest": {
      "type": "object",
      "properties": {
        "queryResult": {
          "description": "The result of the conversational query or event processing. Contains the same value as `[Streaming]DetectIntentResponse.query_result`.",
          "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
        },
        "alternativeQueryResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
          },
          "description": "Alternative query results from KnowledgeService.",
          "type": "array"
        },
        "originalDetectIntentRequest": {
          "$ref": "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest",
          "description": "Optional. The contents of the original request that was passed to `[Streaming]DetectIntent` call."
        },
        "responseId": {
          "description": "The unique identifier of the response. Contains the same value as `[Streaming]DetectIntentResponse.response_id`.",
          "type": "string"
        },
        "session": {
          "description": "The unique identifier of detectIntent request session. Can be used to identify end-user inside webhook implementation. Supported formats: - `projects//agent/sessions/, - `projects//locations//agent/sessions/`, - `projects//agent/environments//users//sessions/`, - `projects//locations//agent/environments//users//sessions/`,",
          "type": "string"
        }
      },
      "description": "The request message for a webhook call.",
      "id": "GoogleCloudDialogflowV2beta1WebhookRequest"
    },
    "GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult": {
      "properties": {
        "score": {
          "format": "float",
          "type": "number",
          "description": "Sentiment score between -1.0 (negative sentiment) and 1.0 (positive sentiment)."
        },
        "magnitude": {
          "format": "float",
          "type": "number",
          "description": "A non-negative number in the [0, +inf) range, which represents the absolute magnitude of sentiment, regardless of score (positive or negative)."
        }
      },
      "type": "object",
      "description": "Represents the result of sentiment analysis.",
      "id": "GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeOperationMetadata": {
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "The operation has been created.",
            "The operation is currently running.",
            "The operation is done, either cancelled or completed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "description": "Required. Output only. The current state of this operation.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Metadata in google::longrunning::Operation for Knowledge operations.",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeOperationMetadata"
    },
    "GoogleCloudDialogflowCxV3LoadVersionRequest": {
      "properties": {
        "allowOverrideAgentResources": {
          "description": "This field is used to prevent accidental overwrite of other agent resources, which can potentially impact other flow's behavior. If `allow_override_agent_resources` is false, conflicted agent-level resources will not be overridden (i.e. intents, entities, webhooks).",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3LoadVersionRequest",
      "description": "The request message for Versions.LoadVersion.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1MessageAnnotation": {
      "properties": {
        "parts": {
          "description": "Optional. The collection of annotated message parts ordered by their position in the message. You can recover the annotated message by concatenating [AnnotatedMessagePart.text].",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AnnotatedMessagePart"
          },
          "type": "array"
        },
        "containEntities": {
          "type": "boolean",
          "description": "Required. Indicates whether the text message contains entities."
        }
      },
      "type": "object",
      "description": "Represents the result of annotation for the message.",
      "id": "GoogleCloudDialogflowV2beta1MessageAnnotation"
    },
    "GoogleCloudDialogflowCxV3EntityTypeEntity": {
      "id": "GoogleCloudDialogflowCxV3EntityTypeEntity",
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. The primary value associated with this entity entry. For example, if the entity type is *vegetable*, the value could be *scallions*. For `KIND_MAP` entity types: * A canonical value to be used in place of synonyms. For `KIND_LIST` entity types: * A string that can contain references to other entity types (with or without aliases)."
        },
        "synonyms": {
          "type": "array",
          "description": "Required. A collection of value synonyms. For example, if the entity type is *vegetable*, and `value` is *scallions*, a synonym could be *green onions*. For `KIND_LIST` entity types: * This collection must contain exactly one synonym equal to `value`.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "An **entity entry** for an associated entity type."
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo",
      "type": "object",
      "properties": {
        "synonyms": {
          "description": "Optional. A list of synonyms that can also be used to trigger this item in dialog.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "key": {
          "type": "string",
          "description": "Required. A unique key that will be sent back to the agent if this response is given."
        }
      },
      "description": "Additional info about the select item for when it is triggered in a dialog."
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse": {
      "properties": {
        "ssml": {
          "description": "One of text_to_speech or ssml must be provided. Structured spoken response to the user in the SSML format. Mutually exclusive with text_to_speech.",
          "type": "string"
        },
        "textToSpeech": {
          "type": "string",
          "description": "One of text_to_speech or ssml must be provided. The plain text of the speech output. Mutually exclusive with ssml."
        },
        "displayText": {
          "description": "Optional. The text to display.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse",
      "type": "object",
      "description": "The simple response message containing speech or text."
    },
    "GoogleCloudDialogflowCxV3UpdateDocumentOperationMetadata": {
      "type": "object",
      "properties": {
        "genericMetadata": {
          "description": "The generic information of the operation.",
          "$ref": "GoogleCloudDialogflowCxV3GenericKnowledgeOperationMetadata"
        }
      },
      "id": "GoogleCloudDialogflowCxV3UpdateDocumentOperationMetadata",
      "description": "Metadata for UpdateDocument operation."
    },
    "GoogleCloudDialogflowCxV3Page": {
      "type": "object",
      "description": "A Dialogflow CX conversation (session) can be described and visualized as a state machine. The states of a CX session are represented by pages. For each flow, you define many pages, where your combined pages can handle a complete conversation on the topics the flow is designed for. At any given moment, exactly one page is the current page, the current page is considered active, and the flow associated with that page is considered active. Every flow has a special start page. When a flow initially becomes active, the start page page becomes the current page. For each conversational turn, the current page will either stay the same or transition to another page. You configure each page to collect information from the end-user that is relevant for the conversational state represented by the page. For more information, see the [Page guide](https://cloud.google.com/dialogflow/cx/docs/concept/page).",
      "id": "GoogleCloudDialogflowCxV3Page",
      "properties": {
        "transitionRouteGroups": {
          "items": {
            "type": "string"
          },
          "description": "Ordered list of `TransitionRouteGroups` associated with the page. Transition route groups must be unique within a page. * If multiple transition routes within a page scope refer to the same intent, then the precedence order is: page's transition route -\u003e page's transition route group -\u003e flow's transition routes. * If multiple transition route groups within a page contain the same intent, then the first group in the ordered list takes precedence. Format:`projects//locations//agents//flows//transitionRouteGroups/`.",
          "type": "array"
        },
        "form": {
          "$ref": "GoogleCloudDialogflowCxV3Form",
          "description": "The form associated with the page, used for collecting parameters relevant to the page."
        },
        "entryFulfillment": {
          "description": "The fulfillment to call when the session is entering the page.",
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "name": {
          "type": "string",
          "description": "The unique identifier of the page. Required for the Pages.UpdatePage method. Pages.CreatePage populates the name automatically. Format: `projects//locations//agents//flows//pages/`."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The human-readable name of the page, unique within the agent."
        },
        "eventHandlers": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          },
          "description": "Handlers associated with the page to handle events such as webhook errors, no match or no input.",
          "type": "array"
        },
        "transitionRoutes": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionRoute"
          },
          "type": "array",
          "description": "A list of transitions for the transition rules of this page. They route the conversation to another page in the same flow, or another flow. When we are in a certain page, the TransitionRoutes are evalauted in the following order: * TransitionRoutes defined in the page with intent specified. * TransitionRoutes defined in the transition route groups with intent specified. * TransitionRoutes defined in flow with intent specified. * TransitionRoutes defined in the transition route groups with intent specified. * TransitionRoutes defined in the page with only condition specified. * TransitionRoutes defined in the transition route groups with only condition specified."
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageCard": {
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. The title of the card."
        },
        "subtitle": {
          "type": "string",
          "description": "Optional. The subtitle of the card."
        },
        "imageUri": {
          "description": "Optional. The public URI to an image file for the card.",
          "type": "string"
        },
        "buttons": {
          "description": "Optional. The collection of card buttons.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageCardButton"
          }
        }
      },
      "description": "The card response message.",
      "id": "GoogleCloudDialogflowV2IntentMessageCard",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ResourceName": {
      "description": "Resource name and display name.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Display name.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name."
        }
      },
      "id": "GoogleCloudDialogflowCxV3ResourceName"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton",
      "properties": {
        "title": {
          "description": "Required. The title of the button.",
          "type": "string"
        },
        "openUriAction": {
          "description": "Required. Action to take when a user taps on the button.",
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction"
        }
      },
      "description": "The button object that appears at the bottom of a card.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ExportAgentResponse": {
      "id": "GoogleCloudDialogflowV2ExportAgentResponse",
      "properties": {
        "agentUri": {
          "type": "string",
          "description": "The URI to a file containing the exported agent. This field is populated only if `agent_uri` is specified in `ExportAgentRequest`."
        },
        "agentContent": {
          "format": "byte",
          "type": "string",
          "description": "Zip compressed raw byte content for agent."
        }
      },
      "type": "object",
      "description": "The response message for Agents.ExportAgent."
    },
    "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse": {
      "type": "object",
      "properties": {
        "latestMessage": {
          "description": "The name of the latest conversation message used to compile suggestion for. Format: `projects//locations//conversations//messages/`.",
          "type": "string"
        },
        "contextSize": {
          "format": "int32",
          "description": "Number of messages prior to and including latest_message to compile the suggestion. It may be smaller than the SuggestSmartRepliesRequest.context_size field in the request if there aren't that many messages in the conversation.",
          "type": "integer"
        },
        "smartReplyAnswers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SmartReplyAnswer"
          },
          "description": "Output only. Multiple reply options provided by smart reply service. The order is based on the rank of the model prediction. The maximum number of the returned replies is set in SmartReplyConfig.",
          "type": "array"
        }
      },
      "description": "The response message for Participants.SuggestSmartReplies.",
      "id": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse"
    },
    "GoogleCloudDialogflowCxV3OutputAudioConfig": {
      "properties": {
        "audioEncoding": {
          "enumDescriptions": [
            "Not specified.",
            "Uncompressed 16-bit signed little-endian samples (Linear PCM). Audio content returned as LINEAR16 also contains a WAV header.",
            "MP3 audio at 32kbps.",
            "MP3 audio at 64kbps.",
            "Opus encoded audio wrapped in an ogg container. The result will be a file which can be played natively on Android, and in browsers (at least Chrome and Firefox). The quality of the encoding is considerably higher than MP3 while using approximately the same bitrate.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law."
          ],
          "enum": [
            "OUTPUT_AUDIO_ENCODING_UNSPECIFIED",
            "OUTPUT_AUDIO_ENCODING_LINEAR_16",
            "OUTPUT_AUDIO_ENCODING_MP3",
            "OUTPUT_AUDIO_ENCODING_MP3_64_KBPS",
            "OUTPUT_AUDIO_ENCODING_OGG_OPUS",
            "OUTPUT_AUDIO_ENCODING_MULAW"
          ],
          "description": "Required. Audio encoding of the synthesized audio content.",
          "type": "string"
        },
        "synthesizeSpeechConfig": {
          "description": "Optional. Configuration of how speech should be synthesized.",
          "$ref": "GoogleCloudDialogflowCxV3SynthesizeSpeechConfig"
        },
        "sampleRateHertz": {
          "description": "Optional. The synthesis sample rate (in hertz) for this audio. If not provided, then the synthesizer will use the default sample rate based on the audio encoding. If this is different from the voice's natural sample rate, then the synthesizer will honor this request by converting to the desired sample rate (which might result in worse audio quality).",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Instructs the speech synthesizer how to generate the output audio content.",
      "id": "GoogleCloudDialogflowCxV3OutputAudioConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Form": {
      "properties": {
        "parameters": {
          "type": "array",
          "description": "Parameters to collect from the user.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FormParameter"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3Form",
      "description": "A form is a data model that groups related parameters that can be collected from the user. The process in which the agent prompts the user and collects parameter values from the user is called form filling. A form can be added to a page. When form filling is done, the filled parameters will be written to the session."
    },
    "GoogleCloudDialogflowCxV3ImportTestCasesResponse": {
      "description": "The response message for TestCases.ImportTestCases.",
      "id": "GoogleCloudDialogflowCxV3ImportTestCasesResponse",
      "properties": {
        "names": {
          "description": "The unique identifiers of the new test cases. Format: `projects//locations//agents//testCases/`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TextInput": {
      "id": "GoogleCloudDialogflowCxV3beta1TextInput",
      "description": "Represents the natural language text to be processed.",
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "Required. The UTF-8 encoded natural language text to be processed. Text length must not exceed 256 characters."
        }
      }
    },
    "GoogleCloudDialogflowV2beta1WebhookResponse": {
      "description": "The response message for a webhook call. This response is validated by the Dialogflow server. If validation fails, an error will be returned in the QueryResult.diagnostic_info field. Setting JSON fields to an empty value with the wrong type is a common error. To avoid this error: - Use `\"\"` for empty strings - Use `{}` or `null` for empty objects - Use `[]` or `null` for empty arrays For more information, see the [Protocol Buffers Language Guide](https://developers.google.com/protocol-buffers/docs/proto3#json).",
      "id": "GoogleCloudDialogflowV2beta1WebhookResponse",
      "properties": {
        "outputContexts": {
          "type": "array",
          "description": "Optional. The collection of output contexts that will overwrite currently active contexts for the session and reset their lifespans. When provided, Dialogflow uses this field to populate QueryResult.output_contexts sent to the integration or API caller.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          }
        },
        "source": {
          "description": "Optional. A custom field used to identify the webhook source. Arbitrary strings are supported. When provided, Dialogflow uses this field to populate QueryResult.webhook_source sent to the integration or API caller.",
          "type": "string"
        },
        "payload": {
          "description": "Optional. This field can be used to pass custom data from your webhook to the integration or API caller. Arbitrary JSON objects are supported. When provided, Dialogflow uses this field to populate QueryResult.webhook_payload sent to the integration or API caller. This field is also used by the [Google Assistant integration](https://cloud.google.com/dialogflow/docs/integrations/aog) for rich response messages. See the format definition at [Google Assistant Dialogflow webhook format](https://developers.google.com/assistant/actions/build/json/dialogflow-webhook-json)",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "liveAgentHandoff": {
          "description": "Indicates that a live agent should be brought in to handle the interaction with the user. In most cases, when you set this flag to true, you would also want to set end_interaction to true as well. Default is false.",
          "type": "boolean"
        },
        "followupEventInput": {
          "$ref": "GoogleCloudDialogflowV2beta1EventInput",
          "description": "Optional. Invokes the supplied events. When this field is set, Dialogflow ignores the `fulfillment_text`, `fulfillment_messages`, and `payload` fields."
        },
        "sessionEntityTypes": {
          "description": "Optional. Additional session entity types to replace or extend developer entity types with. The entity synonyms apply to all languages and persist for the session. Setting this data from a webhook overwrites the session entity types that have been set using `detectIntent`, `streamingDetectIntent` or SessionEntityType management methods.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
          },
          "type": "array"
        },
        "fulfillmentMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          },
          "description": "Optional. The rich response messages intended for the end-user. When provided, Dialogflow uses this field to populate QueryResult.fulfillment_messages sent to the integration or API caller."
        },
        "endInteraction": {
          "type": "boolean",
          "description": "Optional. Indicates that this intent ends an interaction. Some integrations (e.g., Actions on Google or Dialogflow phone gateway) use this information to close interaction with an end user. Default is false."
        },
        "fulfillmentText": {
          "type": "string",
          "description": "Optional. The text response message intended for the end-user. It is recommended to use `fulfillment_messages.text.text[0]` instead. When provided, Dialogflow uses this field to populate QueryResult.fulfillment_text sent to the integration or API caller."
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia": {
      "properties": {
        "thumbnailUri": {
          "description": "Optional. Publicly reachable URI of the thumbnail.If you don't provide a thumbnail URI, the RBM platform displays a blank placeholder thumbnail until the user's device downloads the file. Depending on the user's setting, the file may not download automatically and may require the user to tap a download button.",
          "type": "string"
        },
        "height": {
          "type": "string",
          "enum": [
            "HEIGHT_UNSPECIFIED",
            "SHORT",
            "MEDIUM",
            "TALL"
          ],
          "description": "Required for cards with vertical orientation. The height of the media within a rich card with a vertical layout. For a standalone card with horizontal layout, height is not customizable, and this field is ignored.",
          "enumDescriptions": [
            "Not specified.",
            "112 DP.",
            "168 DP.",
            "264 DP. Not available for rich card carousels when the card width is set to small."
          ]
        },
        "fileUri": {
          "type": "string",
          "description": "Required. Publicly reachable URI of the file. The RBM platform determines the MIME type of the file from the content-type field in the HTTP headers when the platform fetches the file. The content-type field must be present and accurate in the HTTP response from the URL."
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia",
      "type": "object",
      "description": "Rich Business Messaging (RBM) Media displayed in Cards The following media-types are currently supported: Image Types * image/jpeg * image/jpg' * image/gif * image/png Video Types * video/h263 * video/m4v * video/mp4 * video/mpeg * video/mpeg4 * video/webm"
    },
    "GoogleCloudDialogflowCxV3ListTestCasesResponse": {
      "id": "GoogleCloudDialogflowCxV3ListTestCasesResponse",
      "properties": {
        "testCases": {
          "type": "array",
          "description": "The list of test cases. There will be a maximum number of items returned based on the page_size field in the request.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestCase"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "description": "The response message for TestCases.ListTestCases.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2EntityTypeEntity": {
      "id": "GoogleCloudDialogflowV2EntityTypeEntity",
      "properties": {
        "value": {
          "description": "Required. The primary value associated with this entity entry. For example, if the entity type is *vegetable*, the value could be *scallions*. For `KIND_MAP` entity types: * A reference value to be used in place of synonyms. For `KIND_LIST` entity types: * A string that can contain references to other entity types (with or without aliases).",
          "type": "string"
        },
        "synonyms": {
          "items": {
            "type": "string"
          },
          "description": "Required. A collection of value synonyms. For example, if the entity type is *vegetable*, and `value` is *scallions*, a synonym could be *green onions*. For `KIND_LIST` entity types: * This collection must contain exactly one synonym equal to `value`.",
          "type": "array"
        }
      },
      "description": "An **entity entry** for an associated entity type.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SuggestionResult": {
      "type": "object",
      "properties": {
        "suggestFaqAnswersResponse": {
          "description": "SuggestFaqAnswersResponse if request is for FAQ_ANSWER.",
          "$ref": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse"
        },
        "suggestSmartRepliesResponse": {
          "description": "SuggestSmartRepliesResponse if request is for SMART_REPLY.",
          "$ref": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse"
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "Error status if the request failed."
        },
        "suggestArticlesResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestArticlesResponse",
          "description": "SuggestArticlesResponse if request is for ARTICLE_SUGGESTION."
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SuggestionResult",
      "description": "One response of different type of suggestion response which is used in the response of Participants.AnalyzeContent and Participants.AnalyzeContent, as well as HumanAgentAssistantEvent."
    },
    "GoogleCloudDialogflowV2IntentMessageQuickReplies": {
      "description": "The quick replies response message.",
      "id": "GoogleCloudDialogflowV2IntentMessageQuickReplies",
      "type": "object",
      "properties": {
        "title": {
          "description": "Optional. The title of the collection of quick replies.",
          "type": "string"
        },
        "quickReplies": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The collection of quick replies.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ListSessionEntityTypesResponse": {
      "id": "GoogleCloudDialogflowCxV3ListSessionEntityTypesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "sessionEntityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
          },
          "description": "The list of session entity types. There will be a maximum number of items returned based on the page_size field in the request.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The response message for SessionEntityTypes.ListSessionEntityTypes."
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantEvent": {
      "type": "object",
      "properties": {
        "participant": {
          "type": "string",
          "description": "The participant that the suggestion is compiled for. Format: `projects//conversations//participants/`. It will not be set in legacy workflow."
        },
        "suggestionResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SuggestionResult"
          },
          "description": "The suggestion results payload that this notification refers to."
        },
        "conversation": {
          "type": "string",
          "description": "The conversation this notification refers to. Format: `projects//conversations/`."
        }
      },
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantEvent",
      "description": "Represents a notification sent to Cloud Pub/Sub subscribers for human agent assistant events in a specific conversation."
    },
    "GoogleCloudDialogflowCxV3ExperimentDefinition": {
      "description": "Definition of the experiment.",
      "type": "object",
      "properties": {
        "condition": {
          "type": "string",
          "description": "The condition defines which subset of sessions are selected for this experiment. If not specified, all sessions are eligible. E.g. \"query_input.language_code=en\" See the [conditions reference](https://cloud.google.com/dialogflow/cx/docs/reference/condition)."
        },
        "versionVariants": {
          "$ref": "GoogleCloudDialogflowCxV3VersionVariants",
          "description": "The flow versions as the variants of this experiment."
        }
      },
      "id": "GoogleCloudDialogflowCxV3ExperimentDefinition"
    },
    "GoogleCloudDialogflowV2beta1QueryResult": {
      "description": "Represents the result of conversational query or event processing.",
      "id": "GoogleCloudDialogflowV2beta1QueryResult",
      "properties": {
        "intentDetectionConfidence": {
          "type": "number",
          "format": "float",
          "description": "The intent detection confidence. Values range from 0.0 (completely uncertain) to 1.0 (completely certain). This value is for informational purpose only and is only used to help match the best intent within the classification threshold. This value may change for the same end-user expression at any time due to a model retraining or change in implementation. If there are `multiple knowledge_answers` messages, this value is set to the greatest `knowledgeAnswers.match_confidence` value in the list."
        },
        "webhookSource": {
          "description": "If the query was fulfilled by a webhook call, this field is set to the value of the `source` field returned in the webhook response.",
          "type": "string"
        },
        "sentimentAnalysisResult": {
          "description": "The sentiment analysis result, which depends on the `sentiment_analysis_request_config` specified in the request.",
          "$ref": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult"
        },
        "speechRecognitionConfidence": {
          "format": "float",
          "type": "number",
          "description": "The Speech recognition confidence between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. The default of 0.0 is a sentinel value indicating that confidence was not set. This field is not guaranteed to be accurate or set. In particular this field isn't set for StreamingDetectIntent since the streaming endpoint has separate confidence estimates per portion of the audio in StreamingRecognitionResult."
        },
        "allRequiredParamsPresent": {
          "type": "boolean",
          "description": "This field is set to: - `false` if the matched intent has required parameters and not all of the required parameter values have been collected. - `true` if all required parameter values have been collected, or if the matched intent doesn't contain any required parameters."
        },
        "fulfillmentMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          },
          "description": "The collection of rich messages to present to the user."
        },
        "knowledgeAnswers": {
          "description": "The result from Knowledge Connector (if any), ordered by decreasing `KnowledgeAnswers.match_confidence`.",
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAnswers"
        },
        "outputContexts": {
          "description": "The collection of output contexts. If applicable, `output_contexts.parameters` contains entries with name `.original` containing the original parameter values before the query.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          }
        },
        "webhookPayload": {
          "description": "If the query was fulfilled by a webhook call, this field is set to the value of the `payload` field returned in the webhook response.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "diagnosticInfo": {
          "description": "Free-form diagnostic information for the associated detect intent request. The fields of this data can change without notice, so you should not write code that depends on its structure. The data may contain: - webhook call latency - webhook errors",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "fulfillmentText": {
          "description": "The text to be pronounced to the user or shown on the screen. Note: This is a legacy field, `fulfillment_messages` should be preferred.",
          "type": "string"
        },
        "queryText": {
          "description": "The original conversational query text: - If natural language text was provided as input, `query_text` contains a copy of the input. - If natural language speech audio was provided as input, `query_text` contains the speech recognition result. If speech recognizer produced multiple alternatives, a particular one is picked. - If automatic spell correction is enabled, `query_text` will contain the corrected user input.",
          "type": "string"
        },
        "languageCode": {
          "description": "The language that was triggered during intent detection. See [Language Support](https://cloud.google.com/dialogflow/docs/reference/language) for a list of the currently supported language codes.",
          "type": "string"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowV2beta1Intent",
          "description": "The intent that matched the conversational query. Some, not all fields are filled in this message, including but not limited to: `name`, `display_name`, `end_interaction` and `is_fallback`."
        },
        "parameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "The collection of extracted parameters. Depending on your protocol or client library language, this is a map, associative array, symbol table, dictionary, or JSON object composed of a collection of (MapKey, MapValue) pairs: - MapKey type: string - MapKey value: parameter name - MapValue type: - If parameter's entity type is a composite entity: map - Else: depending on parameter value type, could be one of string, number, boolean, null, list or map - MapValue value: - If parameter's entity type is a composite entity: map from composite entity property names to property values - Else: parameter value"
        },
        "action": {
          "description": "The action name from the matched intent.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ExportAgentResponse": {
      "id": "GoogleCloudDialogflowV2beta1ExportAgentResponse",
      "description": "The response message for Agents.ExportAgent.",
      "properties": {
        "agentContent": {
          "format": "byte",
          "type": "string",
          "description": "Zip compressed raw byte content for agent."
        },
        "agentUri": {
          "description": "The URI to a file containing the exported agent. This field is populated only if `agent_uri` is specified in `ExportAgentRequest`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ListAgentsResponse": {
      "id": "GoogleCloudDialogflowCxV3ListAgentsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "agents": {
          "description": "The list of agents. There will be a maximum number of items returned based on the page_size field in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Agent"
          }
        }
      },
      "description": "The response message for Agents.ListAgents."
    },
    "GoogleCloudDialogflowV2beta1IntentMessageMediaContent": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageMediaContent",
      "type": "object",
      "description": "The media content card for Actions on Google.",
      "properties": {
        "mediaObjects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject"
          },
          "description": "Required. List of media objects."
        },
        "mediaType": {
          "type": "string",
          "description": "Optional. What type of media is the content (ie \"audio\").",
          "enum": [
            "RESPONSE_MEDIA_TYPE_UNSPECIFIED",
            "AUDIO"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Response media type is audio."
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard",
      "description": "Browse Carousel Card for Actions on Google. https://developers.google.com/actions/assistant/responses#browsing_carousel",
      "properties": {
        "imageDisplayOptions": {
          "enum": [
            "IMAGE_DISPLAY_OPTIONS_UNSPECIFIED",
            "GRAY",
            "WHITE",
            "CROPPED",
            "BLURRED_BACKGROUND"
          ],
          "enumDescriptions": [
            "Fill the gaps between the image and the image container with gray bars.",
            "Fill the gaps between the image and the image container with gray bars.",
            "Fill the gaps between the image and the image container with white bars.",
            "Image is scaled such that the image width and height match or exceed the container dimensions. This may crop the top and bottom of the image if the scaled image height is greater than the container height, or crop the left and right of the image if the scaled image width is greater than the container width. This is similar to \"Zoom Mode\" on a widescreen TV when playing a 4:3 video.",
            "Pad the gaps between image and image frame with a blurred copy of the same image."
          ],
          "description": "Optional. Settings for displaying the image. Applies to every image in items.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
          },
          "type": "array",
          "description": "Required. List of items in the Browse Carousel Card. Minimum of two items, maximum of ten."
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1QueryInput": {
      "id": "GoogleCloudDialogflowCxV3beta1QueryInput",
      "properties": {
        "languageCode": {
          "description": "Required. The language of the input. See [Language Support](https://cloud.google.com/dialogflow/cx/docs/reference/language) for a list of the currently supported language codes. Note that queries in the same session do not necessarily need to specify the same language.",
          "type": "string"
        },
        "dtmf": {
          "$ref": "GoogleCloudDialogflowCxV3beta1DtmfInput",
          "description": "The DTMF event to be handled."
        },
        "text": {
          "description": "The natural language text to be processed.",
          "$ref": "GoogleCloudDialogflowCxV3beta1TextInput"
        },
        "event": {
          "description": "The event to be triggered.",
          "$ref": "GoogleCloudDialogflowCxV3beta1EventInput"
        },
        "audio": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AudioInput",
          "description": "The natural language speech audio to be processed."
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1IntentInput",
          "description": "The intent to be triggered."
        }
      },
      "type": "object",
      "description": "Represents the query input. It can contain one of: 1. A conversational query in the form of text. 2. An intent query that specifies which intent to trigger. 3. Natural language speech audio to be processed. 4. An event to be triggered. "
    },
    "GoogleCloudDialogflowCxV3ListSecuritySettingsResponse": {
      "type": "object",
      "properties": {
        "securitySettings": {
          "description": "The list of security settings.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3SecuritySettings"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "description": "The response message for SecuritySettings.ListSecuritySettings.",
      "id": "GoogleCloudDialogflowCxV3ListSecuritySettingsResponse"
    },
    "GoogleCloudDialogflowV2IntentMessageColumnProperties": {
      "type": "object",
      "description": "Column properties for TableCard.",
      "properties": {
        "header": {
          "type": "string",
          "description": "Required. Column heading."
        },
        "horizontalAlignment": {
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "LEADING",
            "CENTER",
            "TRAILING"
          ],
          "description": "Optional. Defines text alignment for all cells in this column.",
          "enumDescriptions": [
            "Text is aligned to the leading edge of the column.",
            "Text is aligned to the leading edge of the column.",
            "Text is centered in the column.",
            "Text is aligned to the trailing edge of the column."
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageColumnProperties"
    },
    "GoogleCloudDialogflowV2IntentMessageCardButton": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageCardButton",
      "properties": {
        "text": {
          "type": "string",
          "description": "Optional. The text to show on the button."
        },
        "postback": {
          "description": "Optional. The text to send back to the Dialogflow API or a URI to open.",
          "type": "string"
        }
      },
      "description": "Contains information about a button."
    },
    "GoogleCloudDialogflowCxV3ListEnvironmentsResponse": {
      "properties": {
        "environments": {
          "type": "array",
          "description": "The list of environments. There will be a maximum number of items returned based on the page_size field in the request. The list may in some cases be empty or contain fewer entries than page_size even if this isn't the last page.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Environment"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "type": "object",
      "description": "The response message for Environments.ListEnvironments.",
      "id": "GoogleCloudDialogflowCxV3ListEnvironmentsResponse"
    },
    "GoogleCloudDialogflowV2IntentMessageSimpleResponse": {
      "id": "GoogleCloudDialogflowV2IntentMessageSimpleResponse",
      "description": "The simple response message containing speech or text.",
      "type": "object",
      "properties": {
        "ssml": {
          "description": "One of text_to_speech or ssml must be provided. Structured spoken response to the user in the SSML format. Mutually exclusive with text_to_speech.",
          "type": "string"
        },
        "textToSpeech": {
          "description": "One of text_to_speech or ssml must be provided. The plain text of the speech output. Mutually exclusive with ssml.",
          "type": "string"
        },
        "displayText": {
          "type": "string",
          "description": "Optional. The text to display."
        }
      }
    },
    "GoogleCloudDialogflowCxV3DtmfInput": {
      "type": "object",
      "properties": {
        "finishDigit": {
          "type": "string",
          "description": "The finish digit (if any)."
        },
        "digits": {
          "description": "The dtmf digits.",
          "type": "string"
        }
      },
      "description": "Represents the input for dtmf event.",
      "id": "GoogleCloudDialogflowCxV3DtmfInput"
    },
    "GoogleCloudDialogflowCxV3beta1IntentInput": {
      "description": "Represents the intent to trigger programmatically rather than as a result of natural language processing.",
      "properties": {
        "intent": {
          "type": "string",
          "description": "Required. The unique identifier of the intent. Format: `projects//locations//agents//intents/`."
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1IntentInput"
    },
    "GoogleCloudDialogflowCxV3EntityType": {
      "id": "GoogleCloudDialogflowCxV3EntityType",
      "type": "object",
      "properties": {
        "enableFuzzyExtraction": {
          "description": "Enables fuzzy entity extraction during classification.",
          "type": "boolean"
        },
        "kind": {
          "enum": [
            "KIND_UNSPECIFIED",
            "KIND_MAP",
            "KIND_LIST",
            "KIND_REGEXP"
          ],
          "type": "string",
          "description": "Required. Indicates the kind of entity type.",
          "enumDescriptions": [
            "Not specified. This value should be never used.",
            "Map entity types allow mapping of a group of synonyms to a canonical value.",
            "List entity types contain a set of entries that do not map to canonical values. However, list entity types can contain references to other entity types (with or without aliases).",
            "Regexp entity types allow to specify regular expressions in entries values."
          ]
        },
        "entities": {
          "type": "array",
          "description": "The collection of entity entries associated with the entity type.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EntityTypeEntity"
          }
        },
        "name": {
          "type": "string",
          "description": "The unique identifier of the entity type. Required for EntityTypes.UpdateEntityType. Format: `projects//locations//agents//entityTypes/`."
        },
        "excludedPhrases": {
          "description": "Collection of exceptional words and phrases that shouldn't be matched. For example, if you have a size entity type with entry `giant`(an adjective), you might consider adding `giants`(a noun) as an exclusion. If the kind of entity type is `KIND_MAP`, then the phrases specified by entities and excluded phrases should be mutually exclusive.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EntityTypeExcludedPhrase"
          }
        },
        "autoExpansionMode": {
          "type": "string",
          "enum": [
            "AUTO_EXPANSION_MODE_UNSPECIFIED",
            "AUTO_EXPANSION_MODE_DEFAULT"
          ],
          "description": "Indicates whether the entity type can be automatically expanded.",
          "enumDescriptions": [
            "Auto expansion disabled for the entity.",
            "Allows an agent to recognize values that have not been explicitly listed in the entity."
          ]
        },
        "redact": {
          "type": "boolean",
          "description": "Indicates whether parameters of the entity type should be redacted in log. If redaction is enabled, page parameters and intent parameters referring to the entity type will be replaced by parameter name when logging."
        },
        "displayName": {
          "description": "Required. The human-readable name of the entity type, unique within the agent.",
          "type": "string"
        }
      },
      "description": "Entities are extracted from user input and represent parameters that are meaningful to your application. For example, a date range, a proper name such as a geographic location or landmark, and so on. Entities represent actionable data for your application. When you define an entity, you can also include synonyms that all map to that entity. For example, \"soft drink\", \"soda\", \"pop\", and so on. There are three types of entities: * **System** - entities that are defined by the Dialogflow API for common data types such as date, time, currency, and so on. A system entity is represented by the `EntityType` type. * **Custom** - entities that are defined by you that represent actionable data that is meaningful to your application. For example, you could define a `pizza.sauce` entity for red or white pizza sauce, a `pizza.cheese` entity for the different types of cheese on a pizza, a `pizza.topping` entity for different toppings, and so on. A custom entity is represented by the `EntityType` type. * **User** - entities that are built for an individual user such as favorites, preferences, playlists, and so on. A user entity is represented by the SessionEntityType type. For more information about entity types, see the [Dialogflow documentation](https://cloud.google.com/dialogflow/docs/entities-overview)."
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentSetParameterAction": {
      "description": "Setting a parameter value.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The new value of the parameter. A null value clears the parameter.",
          "type": "any"
        },
        "parameter": {
          "description": "Display name of the parameter.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentSetParameterAction"
    },
    "GoogleCloudDialogflowCxV3beta1TransitionRoute": {
      "description": "A transition route specifies a intent that can be matched and/or a data condition that can be evaluated during a session. When a specified transition is matched, the following actions are taken in order: * If there is a `trigger_fulfillment` associated with the transition, it will be called. * If there is a `target_page` associated with the transition, the session will transition into the specified page. * If there is a `target_flow` associated with the transition, the session will transition into the specified flow.",
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TransitionRoute",
      "properties": {
        "targetPage": {
          "type": "string",
          "description": "The target page to transition to. Format: `projects//locations//agents//flows//pages/`."
        },
        "triggerFulfillment": {
          "description": "The fulfillment to call when the condition is satisfied. At least one of `trigger_fulfillment` and `target` must be specified. When both are defined, `trigger_fulfillment` is executed first.",
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "intent": {
          "type": "string",
          "description": "The unique identifier of an Intent. Format: `projects//locations//agents//intents/`. Indicates that the transition can only happen when the given intent is matched. At least one of `intent` or `condition` must be specified. When both `intent` and `condition` are specified, the transition can only happen when both are fulfilled."
        },
        "condition": {
          "type": "string",
          "description": "The condition to evaluate against form parameters or session parameters. See the [conditions reference](https://cloud.google.com/dialogflow/cx/docs/reference/condition). At least one of `intent` or `condition` must be specified. When both `intent` and `condition` are specified, the transition can only happen when both are fulfilled."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The unique identifier of this transition route.",
          "type": "string"
        },
        "targetFlow": {
          "description": "The target flow to transition to. Format: `projects//locations//agents//flows/`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelectItem": {
      "properties": {
        "info": {
          "description": "Required. Additional info about the option item.",
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo"
        },
        "title": {
          "type": "string",
          "description": "Required. Title of the carousel item."
        },
        "description": {
          "description": "Optional. The body text of the card.",
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage",
          "description": "Optional. The image to display."
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelectItem",
      "description": "An item in the carousel.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio": {
      "type": "object",
      "properties": {
        "audioUri": {
          "description": "Required. URI to a Google Cloud Storage object containing the audio to play, e.g., \"gs://bucket/object\". The object must contain a single channel (mono) of linear PCM audio (2 bytes / sample) at 8kHz. This object must be readable by the `service-@gcp-sa-dialogflow.iam.gserviceaccount.com` service account where is the number of the Telephony Gateway project (usually the same as the Dialogflow agent project). If the Google Cloud Storage bucket is in the Telephony Gateway project, this permission is added by default when enabling the Dialogflow V2 API. For audio from other sources, consider using the `TelephonySynthesizeSpeech` message with SSML.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio",
      "description": "Plays audio from a file in Telephony Gateway."
    },
    "GoogleCloudDialogflowCxV3TransitionRouteGroupCoverage": {
      "type": "object",
      "properties": {
        "coverageScore": {
          "format": "float",
          "description": "The percent of transition routes in all the transition route groups that are covered.",
          "type": "number"
        },
        "coverages": {
          "description": "Transition route group coverages.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroupCoverageCoverage"
          }
        }
      },
      "description": "Transition route group coverage represents the percentage of all possible transition routes present within any of a parent's test cases. The results are grouped by the transition route group.",
      "id": "GoogleCloudDialogflowCxV3TransitionRouteGroupCoverage"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult": {
      "type": "object",
      "description": "Represents the result of sentiment analysis.",
      "properties": {
        "score": {
          "description": "Sentiment score between -1.0 (negative sentiment) and 1.0 (positive sentiment).",
          "type": "number",
          "format": "float"
        },
        "magnitude": {
          "type": "number",
          "format": "float",
          "description": "A non-negative number in the [0, +inf) range, which represents the absolute magnitude of sentiment, regardless of score (positive or negative)."
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCardButton": {
      "description": "Optional. Contains information about a button.",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCardButton",
      "type": "object",
      "properties": {
        "text": {
          "description": "Optional. The text to show on the button.",
          "type": "string"
        },
        "postback": {
          "type": "string",
          "description": "Optional. The text to send back to the Dialogflow API or a URI to open."
        }
      }
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {},
      "id": "GoogleProtobufEmpty"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard": {
      "properties": {
        "items": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
          },
          "type": "array",
          "description": "Required. List of items in the Browse Carousel Card. Minimum of two items, maximum of ten."
        },
        "imageDisplayOptions": {
          "enum": [
            "IMAGE_DISPLAY_OPTIONS_UNSPECIFIED",
            "GRAY",
            "WHITE",
            "CROPPED",
            "BLURRED_BACKGROUND"
          ],
          "type": "string",
          "enumDescriptions": [
            "Fill the gaps between the image and the image container with gray bars.",
            "Fill the gaps between the image and the image container with gray bars.",
            "Fill the gaps between the image and the image container with white bars.",
            "Image is scaled such that the image width and height match or exceed the container dimensions. This may crop the top and bottom of the image if the scaled image height is greater than the container height, or crop the left and right of the image if the scaled image width is greater than the container width. This is similar to \"Zoom Mode\" on a widescreen TV when playing a 4:3 video.",
            "Pad the gaps between image and image frame with a blurred copy of the same image."
          ],
          "description": "Optional. Settings for displaying the image. Applies to every image in items."
        }
      },
      "description": "Browse Carousel Card for Actions on Google. https://developers.google.com/actions/assistant/responses#browsing_carousel",
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard"
    },
    "GoogleCloudDialogflowCxV3NluSettings": {
      "type": "object",
      "description": "Settings related to NLU.",
      "properties": {
        "classificationThreshold": {
          "type": "number",
          "format": "float",
          "description": "To filter out false positive results and still get variety in matched natural language inputs for your agent, you can tune the machine learning classification threshold. If the returned score value is less than the threshold value, then a no-match event will be triggered. The score values range from 0.0 (completely uncertain) to 1.0 (completely certain). If set to 0.0, the default of 0.3 is used."
        },
        "modelTrainingMode": {
          "enumDescriptions": [
            "Not specified. `MODEL_TRAINING_MODE_AUTOMATIC` will be used.",
            "NLU model training is automatically triggered when a flow gets modified. User can also manually trigger model training in this mode.",
            "User needs to manually trigger NLU model training. Best for large flows whose models take long time to train."
          ],
          "description": "Indicates NLU model training mode.",
          "type": "string",
          "enum": [
            "MODEL_TRAINING_MODE_UNSPECIFIED",
            "MODEL_TRAINING_MODE_AUTOMATIC",
            "MODEL_TRAINING_MODE_MANUAL"
          ]
        },
        "modelType": {
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "MODEL_TYPE_STANDARD",
            "MODEL_TYPE_ADVANCED"
          ],
          "type": "string",
          "description": "Indicates the type of NLU model.",
          "enumDescriptions": [
            "Not specified. `MODEL_TYPE_STANDARD` will be used.",
            "Use standard NLU model.",
            "Use advanced NLU model."
          ]
        }
      },
      "id": "GoogleCloudDialogflowCxV3NluSettings"
    },
    "GoogleCloudDialogflowV3alpha1ImportDocumentsOperationMetadata": {
      "properties": {
        "genericMetadata": {
          "description": "The generic information of the operation.",
          "$ref": "GoogleCloudDialogflowV3alpha1GenericKnowledgeOperationMetadata"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV3alpha1ImportDocumentsOperationMetadata",
      "description": "Metadata for ImportDocuments operation."
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion": {
      "description": "Rich Business Messaging (RBM) suggestion. Suggestions allow user to easily select/click a predefined response or perform an action (like opening a web uri).",
      "properties": {
        "reply": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedReply",
          "description": "Predefined replies for user to select instead of typing"
        },
        "action": {
          "description": "Predefined client side actions that user can choose",
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedAction"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCardButton": {
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCardButton",
      "description": "The button object that appears at the bottom of a card.",
      "properties": {
        "title": {
          "description": "Required. The title of the button.",
          "type": "string"
        },
        "openUriAction": {
          "description": "Required. Action to take when a user taps on the button.",
          "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SessionEntityType": {
      "id": "GoogleCloudDialogflowV2beta1SessionEntityType",
      "properties": {
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
          },
          "description": "Required. The collection of entities associated with this session entity type."
        },
        "entityOverrideMode": {
          "type": "string",
          "enumDescriptions": [
            "Not specified. This value should be never used.",
            "The collection of session entities overrides the collection of entities in the corresponding custom entity type.",
            "The collection of session entities extends the collection of entities in the corresponding custom entity type. Note: Even in this override mode calls to `ListSessionEntityTypes`, `GetSessionEntityType`, `CreateSessionEntityType` and `UpdateSessionEntityType` only return the additional entities added in this session entity type. If you want to get the supplemented list, please call EntityTypes.GetEntityType on the custom entity type and merge."
          ],
          "enum": [
            "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
            "ENTITY_OVERRIDE_MODE_OVERRIDE",
            "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          ],
          "description": "Required. Indicates whether the additional data should override or supplement the custom entity type definition."
        },
        "name": {
          "type": "string",
          "description": "Required. The unique identifier of this session entity type. Supported formats: - `projects//agent/sessions//entityTypes/` - `projects//locations//agent/sessions//entityTypes/` - `projects//agent/environments//users//sessions//entityTypes/` - `projects//locations//agent/environments/ /users//sessions//entityTypes/` If `Location ID` is not specified we assume default 'us' location. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user. `` must be the display name of an existing entity type in the same agent that will be overridden or supplemented."
        }
      },
      "description": "A session represents a conversation between a Dialogflow agent and an end-user. You can create special entities, called session entities, during a session. Session entities can extend or replace custom entity types and only exist during the session that they were created for. All session data, including session entities, is stored by Dialogflow for 20 minutes. For more information, see the [session entity guide](https://cloud.google.com/dialogflow/docs/entities-session).",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentTrainingPhrase": {
      "id": "GoogleCloudDialogflowV2IntentTrainingPhrase",
      "type": "object",
      "properties": {
        "type": {
          "description": "Required. The type of the training phrase.",
          "enumDescriptions": [
            "Not specified. This value should never be used.",
            "Examples do not contain @-prefixed entity type names, but example parts can be annotated with entity types.",
            "Templates are not annotated with entity types, but they can contain @-prefixed entity type names as substrings. Template mode has been deprecated. Example mode is the only supported way to create new training phrases. If you have existing training phrases that you've created in template mode, those will continue to work."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXAMPLE",
            "TEMPLATE"
          ],
          "type": "string"
        },
        "timesAddedCount": {
          "description": "Optional. Indicates how many times this example was added to the intent. Each time a developer adds an existing sample by editing an intent or training, this counter is increased.",
          "format": "int32",
          "type": "integer"
        },
        "parts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentTrainingPhrasePart"
          },
          "description": "Required. The ordered list of training phrase parts. The parts are concatenated in order to form the training phrase. Note: The API does not automatically annotate training phrases like the Dialogflow Console does. Note: Do not forget to include whitespace at part boundaries, so the training phrase is well formatted when the parts are concatenated. If the training phrase does not need to be annotated with parameters, you just need a single part with only the Part.text field set. If you want to annotate the training phrase, you must create multiple parts, where the fields of each part are populated in one of two ways: - `Part.text` is set to a part of the phrase that has no parameters. - `Part.text` is set to a part of the phrase that you want to annotate, and the `entity_type`, `alias`, and `user_defined` fields are all set.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Output only. The unique identifier of this training phrase."
        }
      },
      "description": "Represents an example that the agent is trained on."
    },
    "GoogleCloudDialogflowCxV3Fulfillment": {
      "id": "GoogleCloudDialogflowCxV3Fulfillment",
      "properties": {
        "webhook": {
          "type": "string",
          "description": "The webhook to call. Format: `projects//locations//agents//webhooks/`."
        },
        "setParameterActions": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentSetParameterAction"
          },
          "description": "Set parameter values before executing the webhook.",
          "type": "array"
        },
        "conditionalCases": {
          "description": "Conditional cases for this fulfillment.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases"
          }
        },
        "tag": {
          "description": "The tag used by the webhook to identify which fulfillment is being called. This field is required if `webhook` is specified.",
          "type": "string"
        },
        "messages": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          },
          "description": "The list of rich message responses to present to the user.",
          "type": "array"
        }
      },
      "description": "A fulfillment can do one or more of the following actions at the same time: * Generate rich message responses. * Set parameter values. * Call the webhook. Fulfillments can be called at various stages in the Page or Form lifecycle. For example, when a DetectIntentRequest drives a session to enter a new page, the page's entry fulfillment can add a static response to the QueryResult in the returning DetectIntentResponse, call the webhook (for example, to load user data from a database), or both.",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent": {
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent",
      "properties": {
        "additionalCases": {
          "description": "Additional cases to be evaluated.",
          "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases"
        },
        "message": {
          "description": "Returned message.",
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
        }
      },
      "description": "The list of messages or conditional cases to activate for this case.",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Experiment": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3Experiment",
      "properties": {
        "displayName": {
          "description": "Required. The human-readable name of the experiment (unique in an environment). Limit of 64 characters.",
          "type": "string"
        },
        "createTime": {
          "description": "Creation time of this experiment.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "End time of this experiment.",
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "The human-readable description of the experiment.",
          "type": "string"
        },
        "name": {
          "description": "The name of the experiment. Format: projects//locations//agents//environments//experiments/..",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Start time of this experiment."
        },
        "variantsHistory": {
          "type": "array",
          "description": "The history of updates to the experiment variants.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3VariantsHistory"
          }
        },
        "definition": {
          "$ref": "GoogleCloudDialogflowCxV3ExperimentDefinition",
          "description": "The definition of the experiment."
        },
        "result": {
          "description": "Inference result of the experiment.",
          "$ref": "GoogleCloudDialogflowCxV3ExperimentResult"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "RUNNING",
            "DONE"
          ],
          "enumDescriptions": [
            "State unspecified.",
            "The experiment is created but not started yet.",
            "The experiment is running.",
            "The experiment is done."
          ],
          "type": "string",
          "description": "The current state of the experiment. Transition triggered by Expriments.StartExperiment: PENDING-\u003eRUNNING. Transition triggered by Expriments.CancelExperiment: PENDING-\u003eCANCELLED or RUNNING-\u003eCANCELLED."
        },
        "experimentLength": {
          "type": "string",
          "description": "Maximum number of days to run the experiment/rollout. If auto-rollout is not enabled, default value and maximum will be 30 days. If auto-rollout is enabled, default value and maximum will be 6 days.",
          "format": "google-duration"
        },
        "lastUpdateTime": {
          "type": "string",
          "description": "Last update time of this experiment.",
          "format": "google-datetime"
        }
      },
      "description": "Represents an experiment in an environment."
    },
    "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput": {
      "properties": {
        "status": {
          "description": "Response error from the agent in the test result. If set, other output is empty.",
          "$ref": "GoogleRpcStatus"
        },
        "textResponses": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageText"
          },
          "description": "The text responses from the agent for the turn.",
          "type": "array"
        },
        "diagnosticInfo": {
          "description": "Required. Input only. The diagnostic info output for the turn.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "sessionParameters": {
          "description": "The session parameters available to the bot at this point.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "triggeredIntent": {
          "description": "The Intent that triggered the response. Only name and displayName will be set.",
          "$ref": "GoogleCloudDialogflowCxV3Intent"
        },
        "currentPage": {
          "description": "The Page on which the utterance was spoken. Only name and displayName will be set.",
          "$ref": "GoogleCloudDialogflowCxV3Page"
        },
        "differences": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestRunDifference"
          },
          "type": "array",
          "description": "Output only. If this is part of a result conversation turn, the list of differences between the original run and the replay for this output, if any.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "The output from the virtual agent.",
      "id": "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput"
    },
    "GoogleCloudDialogflowCxV3QueryInput": {
      "type": "object",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "Required. The language of the input. See [Language Support](https://cloud.google.com/dialogflow/cx/docs/reference/language) for a list of the currently supported language codes. Note that queries in the same session do not necessarily need to specify the same language."
        },
        "audio": {
          "description": "The natural language speech audio to be processed.",
          "$ref": "GoogleCloudDialogflowCxV3AudioInput"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowCxV3IntentInput",
          "description": "The intent to be triggered."
        },
        "dtmf": {
          "description": "The DTMF event to be handled.",
          "$ref": "GoogleCloudDialogflowCxV3DtmfInput"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3TextInput",
          "description": "The natural language text to be processed."
        },
        "event": {
          "description": "The event to be triggered.",
          "$ref": "GoogleCloudDialogflowCxV3EventInput"
        }
      },
      "description": "Represents the query input. It can contain one of: 1. A conversational query in the form of text. 2. An intent query that specifies which intent to trigger. 3. Natural language speech audio to be processed. 4. An event to be triggered. ",
      "id": "GoogleCloudDialogflowCxV3QueryInput"
    },
    "GoogleCloudDialogflowCxV3TransitionCoverageTransition": {
      "description": "A transition in a page.",
      "id": "GoogleCloudDialogflowCxV3TransitionCoverageTransition",
      "type": "object",
      "properties": {
        "index": {
          "description": "The index of a transition in the transition list. Starting from 0.",
          "type": "integer",
          "format": "int32"
        },
        "eventHandler": {
          "description": "Event handler.",
          "$ref": "GoogleCloudDialogflowCxV3EventHandler"
        },
        "transitionRoute": {
          "description": "Intent route or condition route.",
          "$ref": "GoogleCloudDialogflowCxV3TransitionRoute"
        },
        "covered": {
          "type": "boolean",
          "description": "Whether or not the transition is covered by at least one of the agent's test cases."
        },
        "target": {
[...]
