{
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "id": "dialogflow:v2",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "basePath": "",
  "title": "Dialogflow API",
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "schemas": {
    "GoogleCloudDialogflowCxV3beta1RunContinuousTestMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1RunContinuousTestMetadata",
      "description": "Metadata returned for the Environments.RunContinuousTest long running operation.",
      "type": "object",
      "properties": {
        "errors": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestError"
          },
          "type": "array",
          "description": "The test errors."
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall": {
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "Required. The phone number to transfer the call to in [E.164 format](https://en.wikipedia.org/wiki/E.164). We currently only allow transferring to US numbers (+1xxxyyyzzzz)."
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall",
      "description": "Transfers the call in Telephony Gateway."
    },
    "GoogleCloudDialogflowV2OriginalDetectIntentRequest": {
      "id": "GoogleCloudDialogflowV2OriginalDetectIntentRequest",
      "description": "Represents the contents of the original request that was passed to the `[Streaming]DetectIntent` call.",
      "properties": {
        "source": {
          "description": "The source of this request, e.g., `google`, `facebook`, `slack`. It is set by Dialogflow-owned servers.",
          "type": "string"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. This field is set to the value of the `QueryParameters.payload` field passed in the request. Some integrations that query a Dialogflow agent may provide additional information in the payload. In particular, for the Dialogflow Phone Gateway integration, this field has the form: { \"telephony\": { \"caller_id\": \"+18558363987\" } } Note: The caller ID field (`caller_id`) will be redacted for Trial Edition agents and populated with the caller ID in [E.164 format](https://en.wikipedia.org/wiki/E.164) for Essentials Edition agents."
        },
        "version": {
          "type": "string",
          "description": "Optional. The version of the protocol used for this request. This field is AoG-specific."
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2QueryResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2QueryResult",
      "properties": {
        "diagnosticInfo": {
          "description": "Free-form diagnostic information for the associated detect intent request. The fields of this data can change without notice, so you should not write code that depends on its structure. The data may contain: - webhook call latency - webhook errors",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "webhookSource": {
          "type": "string",
          "description": "If the query was fulfilled by a webhook call, this field is set to the value of the `source` field returned in the webhook response."
        },
        "speechRecognitionConfidence": {
          "description": "The Speech recognition confidence between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. The default of 0.0 is a sentinel value indicating that confidence was not set. This field is not guaranteed to be accurate or set. In particular this field isn't set for StreamingDetectIntent since the streaming endpoint has separate confidence estimates per portion of the audio in StreamingRecognitionResult.",
          "format": "float",
          "type": "number"
        },
        "sentimentAnalysisResult": {
          "description": "The sentiment analysis result, which depends on the `sentiment_analysis_request_config` specified in the request.",
          "$ref": "GoogleCloudDialogflowV2SentimentAnalysisResult"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowV2Intent",
          "description": "The intent that matched the conversational query. Some, not all fields are filled in this message, including but not limited to: `name`, `display_name`, `end_interaction` and `is_fallback`."
        },
        "allRequiredParamsPresent": {
          "type": "boolean",
          "description": "This field is set to: - `false` if the matched intent has required parameters and not all of the required parameter values have been collected. - `true` if all required parameter values have been collected, or if the matched intent doesn't contain any required parameters."
        },
        "action": {
          "description": "The action name from the matched intent.",
          "type": "string"
        },
        "cancelsSlotFilling": {
          "type": "boolean",
          "description": "Indicates whether the conversational query triggers a cancellation for slot filling."
        },
        "queryText": {
          "type": "string",
          "description": "The original conversational query text: - If natural language text was provided as input, `query_text` contains a copy of the input. - If natural language speech audio was provided as input, `query_text` contains the speech recognition result. If speech recognizer produced multiple alternatives, a particular one is picked. - If automatic spell correction is enabled, `query_text` will contain the corrected user input."
        },
        "outputContexts": {
          "type": "array",
          "description": "The collection of output contexts. If applicable, `output_contexts.parameters` contains entries with name `.original` containing the original parameter values before the query.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          }
        },
        "fulfillmentText": {
          "description": "The text to be pronounced to the user or shown on the screen. Note: This is a legacy field, `fulfillment_messages` should be preferred.",
          "type": "string"
        },
        "intentDetectionConfidence": {
          "format": "float",
          "type": "number",
          "description": "The intent detection confidence. Values range from 0.0 (completely uncertain) to 1.0 (completely certain). This value is for informational purpose only and is only used to help match the best intent within the classification threshold. This value may change for the same end-user expression at any time due to a model retraining or change in implementation. If there are `multiple knowledge_answers` messages, this value is set to the greatest `knowledgeAnswers.match_confidence` value in the list."
        },
        "fulfillmentMessages": {
          "type": "array",
          "description": "The collection of rich messages to present to the user.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          }
        },
        "languageCode": {
          "description": "The language that was triggered during intent detection. See [Language Support](https://cloud.google.com/dialogflow/docs/reference/language) for a list of the currently supported language codes.",
          "type": "string"
        },
        "webhookPayload": {
          "type": "object",
          "description": "If the query was fulfilled by a webhook call, this field is set to the value of the `payload` field returned in the webhook response.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "parameters": {
          "description": "The collection of extracted parameters. Depending on your protocol or client library language, this is a map, associative array, symbol table, dictionary, or JSON object composed of a collection of (MapKey, MapValue) pairs: - MapKey type: string - MapKey value: parameter name - MapValue type: - If parameter's entity type is a composite entity: map - Else: depending on parameter value type, could be one of string, number, boolean, null, list or map - MapValue value: - If parameter's entity type is a composite entity: map from composite entity property names to property values - Else: parameter value",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "description": "Represents the result of conversational query or event processing."
    },
    "GoogleCloudDialogflowV2SearchAgentsResponse": {
      "type": "object",
      "description": "The response message for Agents.SearchAgents.",
      "properties": {
        "agents": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Agent"
          },
          "description": "The list of agents. There will be a maximum number of items returned based on the page_size field in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2SearchAgentsResponse"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "type": "object",
      "description": "Browsing carousel tile",
      "properties": {
        "description": {
          "description": "Optional. Description of the carousel item. Maximum of four lines of text.",
          "type": "string"
        },
        "footer": {
          "type": "string",
          "description": "Optional. Text that appears at the bottom of the Browse Carousel Card. Maximum of one line of text."
        },
        "image": {
          "description": "Optional. Hero image for the carousel item.",
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "title": {
          "type": "string",
          "description": "Required. Title of the carousel item. Maximum of two lines of text."
        },
        "openUriAction": {
          "description": "Required. Action to present to the user.",
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
    },
    "GoogleCloudDialogflowV2FulfillmentFeature": {
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Feature type not specified.",
            "Fulfillment is enabled for SmallTalk."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "SMALLTALK"
          ],
          "type": "string",
          "description": "The type of the feature that enabled for fulfillment."
        }
      },
      "description": "Whether fulfillment is enabled for the specific feature.",
      "id": "GoogleCloudDialogflowV2FulfillmentFeature"
    },
    "GoogleCloudDialogflowCxV3beta1ExportTestCasesMetadata": {
      "description": "Metadata returned for the TestCases.ExportTestCases long running operation. This message currently has no fields.",
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3beta1ExportTestCasesMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowV2WebhookResponse": {
      "type": "object",
      "description": "The response message for a webhook call. This response is validated by the Dialogflow server. If validation fails, an error will be returned in the QueryResult.diagnostic_info field. Setting JSON fields to an empty value with the wrong type is a common error. To avoid this error: - Use `\"\"` for empty strings - Use `{}` or `null` for empty objects - Use `[]` or `null` for empty arrays For more information, see the [Protocol Buffers Language Guide](https://developers.google.com/protocol-buffers/docs/proto3#json).",
      "properties": {
        "fulfillmentMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          },
          "description": "Optional. The rich response messages intended for the end-user. When provided, Dialogflow uses this field to populate QueryResult.fulfillment_messages sent to the integration or API caller."
        },
        "sessionEntityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SessionEntityType"
          },
          "description": "Optional. Additional session entity types to replace or extend developer entity types with. The entity synonyms apply to all languages and persist for the session. Setting this data from a webhook overwrites the session entity types that have been set using `detectIntent`, `streamingDetectIntent` or SessionEntityType management methods."
        },
        "followupEventInput": {
          "$ref": "GoogleCloudDialogflowV2EventInput",
          "description": "Optional. Invokes the supplied events. When this field is set, Dialogflow ignores the `fulfillment_text`, `fulfillment_messages`, and `payload` fields."
        },
        "outputContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          },
          "description": "Optional. The collection of output contexts that will overwrite currently active contexts for the session and reset their lifespans. When provided, Dialogflow uses this field to populate QueryResult.output_contexts sent to the integration or API caller.",
          "type": "array"
        },
        "fulfillmentText": {
          "type": "string",
          "description": "Optional. The text response message intended for the end-user. It is recommended to use `fulfillment_messages.text.text[0]` instead. When provided, Dialogflow uses this field to populate QueryResult.fulfillment_text sent to the integration or API caller."
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. This field can be used to pass custom data from your webhook to the integration or API caller. Arbitrary JSON objects are supported. When provided, Dialogflow uses this field to populate QueryResult.webhook_payload sent to the integration or API caller. This field is also used by the [Google Assistant integration](https://cloud.google.com/dialogflow/docs/integrations/aog) for rich response messages. See the format definition at [Google Assistant Dialogflow webhook format](https://developers.google.com/assistant/actions/build/json/dialogflow-webhook-json)"
        },
        "source": {
          "type": "string",
          "description": "Optional. A custom field used to identify the webhook source. Arbitrary strings are supported. When provided, Dialogflow uses this field to populate QueryResult.webhook_source sent to the integration or API caller."
        }
      },
      "id": "GoogleCloudDialogflowV2WebhookResponse"
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction": {
      "description": "Actions on Google action to open a given url.",
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction",
      "properties": {
        "url": {
          "type": "string",
          "description": "Required. URL"
        },
        "urlTypeHint": {
          "enum": [
            "URL_TYPE_HINT_UNSPECIFIED",
            "AMP_ACTION",
            "AMP_CONTENT"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Url would be an amp action",
            "URL that points directly to AMP content, or to a canonical URL which refers to AMP content via ."
          ],
          "type": "string",
          "description": "Optional. Specifies the type of viewer that is used when opening the URL. Defaults to opening via web browser."
        }
      }
    },
    "GoogleCloudLocationLocation": {
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        }
      },
      "description": "A resource that represents Google Cloud Platform location.",
      "id": "GoogleCloudLocationLocation"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageMixedAudio": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudio",
      "type": "object",
      "properties": {
        "segments": {
          "type": "array",
          "description": "Segments this audio response is composed of.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment"
          }
        }
      },
      "description": "Represents an audio message that is composed of both segments synthesized from the Dialogflow agent prompts and ones hosted externally at the specified URIs. The external URIs are specified via play_audio. This message is generated by Dialogflow only and not supposed to be defined by the user."
    },
    "GoogleCloudDialogflowV2IntentMessageTableCardRow": {
      "type": "object",
      "properties": {
        "dividerAfter": {
          "description": "Optional. Whether to add a visual divider after this row.",
          "type": "boolean"
        },
        "cells": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageTableCardCell"
          },
          "type": "array",
          "description": "Optional. List of cells that make up this row."
        }
      },
      "description": "Row of TableCard.",
      "id": "GoogleCloudDialogflowV2IntentMessageTableCardRow"
    },
    "GoogleCloudDialogflowV2beta1Intent": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1Intent",
      "properties": {
        "endInteraction": {
          "description": "Optional. Indicates that this intent ends an interaction. Some integrations (e.g., Actions on Google or Dialogflow phone gateway) use this information to close interaction with an end user. Default is false.",
          "type": "boolean"
        },
        "mlEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether Machine Learning is enabled for the intent. Note: If `ml_enabled` setting is set to false, then this intent is not taken into account during inference in `ML ONLY` match mode. Also, auto-markup in the UI is turned off. DEPRECATED! Please use `ml_disabled` field instead. NOTE: If both `ml_enabled` and `ml_disabled` are either not set or false, then the default value is determined as follows: - Before April 15th, 2018 the default is: ml_enabled = false / ml_disabled = true. - After April 15th, 2018 the default is: ml_enabled = true / ml_disabled = false."
        },
        "parameters": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentParameter"
          },
          "description": "Optional. The collection of parameters associated with the intent.",
          "type": "array"
        },
        "mlDisabled": {
          "description": "Optional. Indicates whether Machine Learning is disabled for the intent. Note: If `ml_disabled` setting is set to true, then this intent is not taken into account during inference in `ML ONLY` match mode. Also, auto-markup in the UI is turned off.",
          "type": "boolean"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The name of this intent."
        },
        "rootFollowupIntentName": {
          "description": "Output only. The unique identifier of the root intent in the chain of followup intents. It identifies the correct followup intents chain for this intent. Format: `projects//agent/intents/`.",
          "type": "string",
          "readOnly": true
        },
        "events": {
          "type": "array",
          "description": "Optional. The collection of event names that trigger the intent. If the collection of input contexts is not empty, all of the contexts must be present in the active user session for an event to trigger this intent. Event names are limited to 150 characters.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Optional. The unique identifier of this intent. Required for Intents.UpdateIntent and Intents.BatchUpdateIntents methods. Supported formats: - `projects//agent/intents/` - `projects//locations//agent/intents/`",
          "type": "string"
        },
        "isFallback": {
          "type": "boolean",
          "description": "Optional. Indicates whether this is a fallback intent."
        },
        "trainingPhrases": {
          "description": "Optional. The collection of examples that the agent is trained on.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentTrainingPhrase"
          },
          "type": "array"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          },
          "description": "Optional. The collection of rich messages corresponding to the `Response` field in the Dialogflow console."
        },
        "liveAgentHandoff": {
          "type": "boolean",
          "description": "Optional. Indicates that a live agent should be brought in to handle the interaction with the user. In most cases, when you set this flag to true, you would also want to set end_interaction to true as well. Default is false."
        },
        "defaultResponsePlatforms": {
          "description": "Optional. The list of platforms for which the first responses will be copied from the messages in PLATFORM_UNSPECIFIED (i.e. default platform).",
          "items": {
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "FACEBOOK",
              "SLACK",
              "TELEGRAM",
              "KIK",
              "SKYPE",
              "LINE",
              "VIBER",
              "ACTIONS_ON_GOOGLE",
              "TELEPHONY",
              "GOOGLE_HANGOUTS"
            ],
            "enumDescriptions": [
              "Not specified.",
              "Facebook.",
              "Slack.",
              "Telegram.",
              "Kik.",
              "Skype.",
              "Line.",
              "Viber.",
              "Google Assistant See [Dialogflow webhook format](https://developers.google.com/assistant/actions/build/json/dialogflow-webhook-json)",
              "Telephony Gateway.",
              "Google Hangouts."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "parentFollowupIntentName": {
          "description": "Optional. The unique identifier of the parent intent in the chain of followup intents. You can set this field when creating an intent, for example with CreateIntent or BatchUpdateIntents, in order to make this intent a followup intent. It identifies the parent followup intent. Format: `projects//agent/intents/`.",
          "type": "string"
        },
        "followupIntentInfo": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo"
          },
          "description": "Output only. Information about all followup intents that have this intent as a direct or indirect parent. We populate this field only in the output."
        },
        "webhookState": {
          "type": "string",
          "enum": [
            "WEBHOOK_STATE_UNSPECIFIED",
            "WEBHOOK_STATE_ENABLED",
            "WEBHOOK_STATE_ENABLED_FOR_SLOT_FILLING"
          ],
          "enumDescriptions": [
            "Webhook is disabled in the agent and in the intent.",
            "Webhook is enabled in the agent and in the intent.",
            "Webhook is enabled in the agent and in the intent. Also, each slot filling prompt is forwarded to the webhook."
          ],
          "description": "Optional. Indicates whether webhooks are enabled for the intent."
        },
        "action": {
          "type": "string",
          "description": "Optional. The name of the action associated with the intent. Note: The action name must not contain whitespaces."
        },
        "outputContexts": {
          "description": "Optional. The collection of contexts that are activated when the intent is matched. Context messages in this collection should not set the parameters field. Setting the `lifespan_count` to 0 will reset the context when the intent is matched. Format: `projects//agent/sessions/-/contexts/`.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          },
          "type": "array"
        },
        "priority": {
          "format": "int32",
          "description": "Optional. The priority of this intent. Higher numbers represent higher priorities. - If the supplied value is unspecified or 0, the service translates the value to 500,000, which corresponds to the `Normal` priority in the console. - If the supplied value is negative, the intent is ignored in runtime detect intent requests.",
          "type": "integer"
        },
        "inputContextNames": {
          "type": "array",
          "description": "Optional. The list of context names required for this intent to be triggered. Formats: - `projects//agent/sessions/-/contexts/` - `projects//locations//agent/sessions/-/contexts/`",
          "items": {
            "type": "string"
          }
        },
        "resetContexts": {
          "description": "Optional. Indicates whether to delete all contexts in the current session when this intent is matched.",
          "type": "boolean"
        }
      },
      "description": "An intent categorizes an end-user's intention for one conversation turn. For each agent, you define many intents, where your combined intents can handle a complete conversation. When an end-user writes or says something, referred to as an end-user expression or end-user input, Dialogflow matches the end-user input to the best intent in your agent. Matching an intent is also known as intent classification. For more information, see the [intent guide](https://cloud.google.com/dialogflow/docs/intents-overview)."
    },
    "GoogleCloudDialogflowCxV3CreateDocumentOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3CreateDocumentOperationMetadata",
      "description": "Metadata for CreateDocument operation.",
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudDialogflowCxV3GenericKnowledgeOperationMetadata",
          "description": "The generic information of the operation."
        }
      }
    },
    "GoogleCloudDialogflowV2HumanAgentHandoffConfigLivePersonConfig": {
      "properties": {
        "accountNumber": {
          "type": "string",
          "description": "Required. Account number of the LivePerson account to connect. This is the account number you input at the login page."
        }
      },
      "id": "GoogleCloudDialogflowV2HumanAgentHandoffConfigLivePersonConfig",
      "type": "object",
      "description": "Configuration specific to LivePerson (https://www.liveperson.com)."
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction": {
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction",
      "type": "object",
      "description": "Opens the given URI.",
      "properties": {
        "uri": {
          "description": "Required. The HTTP or HTTPS scheme URI.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2BatchCreateEntitiesRequest": {
      "properties": {
        "languageCode": {
          "description": "Optional. The language used to access language-specific data. If not specified, the agent's default language is used. For more information, see [Multilingual intent and entity data](https://cloud.google.com/dialogflow/docs/agents-multilingual#intent-entity).",
          "type": "string"
        },
        "entities": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityTypeEntity"
          },
          "type": "array",
          "description": "Required. The entities to create."
        }
      },
      "description": "The request message for EntityTypes.BatchCreateEntities.",
      "type": "object",
      "id": "GoogleCloudDialogflowV2BatchCreateEntitiesRequest"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText",
      "properties": {
        "text": {
          "type": "string",
          "description": "The raw text to be synthesized."
        },
        "allowPlaybackInterruption": {
          "type": "boolean",
          "description": "Output only. Whether the playback of this message can be interrupted by the end user's speech and the client can then starts the next Dialogflow request.",
          "readOnly": true
        },
        "ssml": {
          "description": "The SSML text to be synthesized. For more information, see [SSML](/speech/text-to-speech/docs/ssml).",
          "type": "string"
        }
      },
      "description": "A text or ssml response that is preferentially used for TTS output audio synthesis, as described in the comment on the ResponseMessage message."
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "The raw text to be synthesized."
        },
        "ssml": {
          "type": "string",
          "description": "The SSML text to be synthesized. For more information, see [SSML](/speech/text-to-speech/docs/ssml)."
        },
        "allowPlaybackInterruption": {
          "description": "Output only. Whether the playback of this message can be interrupted by the end user's speech and the client can then starts the next Dialogflow request.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText",
      "description": "A text or ssml response that is preferentially used for TTS output audio synthesis, as described in the comment on the ResponseMessage message."
    },
    "GoogleCloudDialogflowV2beta1EntityTypeEntity": {
      "id": "GoogleCloudDialogflowV2beta1EntityTypeEntity",
      "description": "An **entity entry** for an associated entity type.",
      "properties": {
        "synonyms": {
          "description": "Required. A collection of value synonyms. For example, if the entity type is *vegetable*, and `value` is *scallions*, a synonym could be *green onions*. For `KIND_LIST` entity types: * This collection must contain exactly one synonym equal to `value`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "value": {
          "description": "Required. The primary value associated with this entity entry. For example, if the entity type is *vegetable*, the value could be *scallions*. For `KIND_MAP` entity types: * A reference value to be used in place of synonyms. For `KIND_LIST` entity types: * A string that can contain references to other entity types (with or without aliases).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2BatchDeleteIntentsRequest": {
      "id": "GoogleCloudDialogflowV2BatchDeleteIntentsRequest",
      "description": "The request message for Intents.BatchDeleteIntents.",
      "properties": {
        "intents": {
          "description": "Required. The collection of intents to delete. Only intent `name` must be filled in.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Intent"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo": {
      "description": "Represents parameter information.",
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo",
      "properties": {
        "justCollected": {
          "description": "Optional for WebhookRequest. Ignored for WebhookResponse. Indicates if the parameter value was just collected on the last conversation turn.",
          "type": "boolean"
        },
        "value": {
          "type": "any",
          "description": "Optional for both WebhookRequest and WebhookResponse. The value of the parameter. This field can be set by the webhook to change the parameter value."
        },
        "state": {
          "description": "Always present for WebhookRequest. Required for WebhookResponse. The state of the parameter. This field can be set to INVALID by the webhook to invalidate the parameter; other values set by the webhook will be ignored.",
          "type": "string",
          "enum": [
            "PARAMETER_STATE_UNSPECIFIED",
            "EMPTY",
            "INVALID",
            "FILLED"
          ],
          "enumDescriptions": [
            "Not specified. This value should be never used.",
            "Indicates that the parameter does not have a value.",
            "Indicates that the parameter value is invalid. This field can be used by the webhook to invalidate the parameter and ask the server to collect it from the user again.",
            "Indicates that the parameter has a value."
          ]
        },
        "required": {
          "type": "boolean",
          "description": "Optional for both WebhookRequest and WebhookResponse. Indicates whether the parameter is required. Optional parameters will not trigger prompts; however, they are filled if the user specifies them. Required parameters must be filled before form filling concludes."
        },
        "displayName": {
          "type": "string",
          "description": "Always present for WebhookRequest. Required for WebhookResponse. The human-readable name of the parameter, unique within the form. This field cannot be modified by the webhook."
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessage": {
      "type": "object",
      "description": "A rich response message. Corresponds to the intent `Response` field in the Dialogflow console. For more information, see [Rich response messages](https://cloud.google.com/dialogflow/docs/intents-rich-messages).",
      "properties": {
        "payload": {
          "description": "A custom platform-specific response.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "tableCard": {
          "description": "Table card for Actions on Google.",
          "$ref": "GoogleCloudDialogflowV2IntentMessageTableCard"
        },
        "listSelect": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageListSelect",
          "description": "The list card response for Actions on Google."
        },
        "quickReplies": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageQuickReplies",
          "description": "The quick replies response."
        },
        "platform": {
          "description": "Optional. The platform that this message is intended for.",
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FACEBOOK",
            "SLACK",
            "TELEGRAM",
            "KIK",
            "SKYPE",
            "LINE",
            "VIBER",
            "ACTIONS_ON_GOOGLE",
            "GOOGLE_HANGOUTS"
          ],
          "enumDescriptions": [
            "Default platform.",
            "Facebook.",
            "Slack.",
            "Telegram.",
            "Kik.",
            "Skype.",
            "Line.",
            "Viber.",
            "Google Assistant See [Dialogflow webhook format](https://developers.google.com/assistant/actions/build/json/dialogflow-webhook-json)",
            "Google Hangouts."
          ],
          "type": "string"
        },
        "text": {
          "description": "The text response.",
          "$ref": "GoogleCloudDialogflowV2IntentMessageText"
        },
        "image": {
          "description": "The image response.",
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "suggestions": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSuggestions",
          "description": "The suggestion chips for Actions on Google."
        },
        "linkOutSuggestion": {
          "description": "The link out suggestion chip for Actions on Google.",
          "$ref": "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion"
        },
        "basicCard": {
          "description": "The basic card response for Actions on Google.",
          "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCard"
        },
        "browseCarouselCard": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard",
          "description": "Browse carousel card for Actions on Google."
        },
        "mediaContent": {
          "description": "The media content card for Actions on Google.",
          "$ref": "GoogleCloudDialogflowV2IntentMessageMediaContent"
        },
        "card": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageCard",
          "description": "The card response."
        },
        "carouselSelect": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageCarouselSelect",
          "description": "The carousel card response for Actions on Google."
        },
        "simpleResponses": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSimpleResponses",
          "description": "The voice and text-only responses for Actions on Google."
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessage"
    },
    "GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue": {
      "id": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue",
      "properties": {
        "resolvedValue": {
          "description": "Always present. Structured value for the parameter extracted from user utterance.",
          "type": "any"
        },
        "originalValue": {
          "description": "Always present. Original text value extracted from user utterance.",
          "type": "string"
        }
      },
      "description": "Represents a value for an intent parameter.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2Conversation": {
      "type": "object",
      "description": "Represents a conversation. A conversation is an interaction between an agent, including live agents and Dialogflow agents, and a support customer. Conversations can include phone calls and text-based chat sessions.",
      "properties": {
        "lifecycleState": {
          "description": "Output only. The current state of the Conversation.",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "COMPLETED"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Conversation is currently open for media analysis.",
            "Conversation has been completed."
          ],
          "readOnly": true,
          "type": "string"
        },
        "conversationStage": {
          "enum": [
            "CONVERSATION_STAGE_UNSPECIFIED",
            "VIRTUAL_AGENT_STAGE",
            "HUMAN_ASSIST_STAGE"
          ],
          "description": "The stage of a conversation. It indicates whether the virtual agent or a human agent is handling the conversation. If the conversation is created with the conversation profile that has Dialogflow config set, defaults to ConversationStage.VIRTUAL_AGENT_STAGE; Otherwise, defaults to ConversationStage.HUMAN_ASSIST_STAGE. If the conversation is created with the conversation profile that has Dialogflow config set but explicitly sets conversation_stage to ConversationStage.HUMAN_ASSIST_STAGE, it skips ConversationStage.VIRTUAL_AGENT_STAGE stage and directly goes to ConversationStage.HUMAN_ASSIST_STAGE.",
          "type": "string",
          "enumDescriptions": [
            "Unknown. Should never be used after a conversation is successfully created.",
            "The conversation should return virtual agent responses into the conversation.",
            "The conversation should not provide responses, just listen and provide suggestions."
          ]
        },
        "conversationProfile": {
          "description": "Required. The Conversation Profile to be used to configure this Conversation. This field cannot be updated. Format: `projects//locations//conversationProfiles/`.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Output only. It will not be empty if the conversation is to be connected over telephony.",
          "$ref": "GoogleCloudDialogflowV2ConversationPhoneNumber",
          "readOnly": true
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the conversation was finished.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The unique identifier of this conversation. Format: `projects//locations//conversations/`.",
          "readOnly": true
        },
        "startTime": {
          "description": "Output only. The time the conversation was started.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2Conversation"
    },
    "GoogleCloudDialogflowCxV3BatchRunTestCasesResponse": {
      "type": "object",
      "description": "The response message for TestCases.BatchRunTestCases.",
      "id": "GoogleCloudDialogflowCxV3BatchRunTestCasesResponse",
      "properties": {
        "results": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
          },
          "type": "array",
          "description": "The test case results. The detailed conversation turns are empty in this response."
        }
      }
    },
    "GoogleCloudDialogflowV2ConversationPhoneNumber": {
      "properties": {
        "phoneNumber": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The phone number to connect to this conversation."
        }
      },
      "id": "GoogleCloudDialogflowV2ConversationPhoneNumber",
      "type": "object",
      "description": "Represents a phone number for telephony integration. It allows for connecting a particular conversation over telephony."
    },
    "GoogleCloudDialogflowCxV3FormParameterFillBehavior": {
      "properties": {
        "repromptEventHandlers": {
          "description": "The handlers for parameter-level events, used to provide reprompt for the parameter or transition to a different page/flow. The supported events are: * `sys.no-match-`, where N can be from 1 to 6 * `sys.no-match-default` * `sys.no-input-`, where N can be from 1 to 6 * `sys.no-input-default` * `sys.invalid-parameter` `initial_prompt_fulfillment` provides the first prompt for the parameter. If the user's response does not fill the parameter, a no-match/no-input event will be triggered, and the fulfillment associated with the `sys.no-match-1`/`sys.no-input-1` handler (if defined) will be called to provide a prompt. The `sys.no-match-2`/`sys.no-input-2` handler (if defined) will respond to the next no-match/no-input event, and so on. A `sys.no-match-default` or `sys.no-input-default` handler will be used to handle all following no-match/no-input events after all numbered no-match/no-input handlers for the parameter are consumed. A `sys.invalid-parameter` handler can be defined to handle the case where the parameter values have been `invalidated` by webhook. For example, if the user's response fill the parameter, however the parameter was invalidated by webhook, the fulfillment associated with the `sys.invalid-parameter` handler (if defined) will be called to provide a prompt. If the event handler for the corresponding event can't be found on the parameter, `initial_prompt_fulfillment` will be re-prompted.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          },
          "type": "array"
        },
        "initialPromptFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment",
          "description": "Required. The fulfillment to provide the initial prompt that the agent can present to the user in order to fill the parameter."
        }
      },
      "description": "Configuration for how the filling of a parameter should be handled.",
      "id": "GoogleCloudDialogflowCxV3FormParameterFillBehavior",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3EventInput": {
      "type": "object",
      "properties": {
        "event": {
          "type": "string",
          "description": "Name of the event."
        }
      },
      "id": "GoogleCloudDialogflowCxV3EventInput",
      "description": "Represents the event to trigger."
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. The uri to open on the user device"
        }
      },
      "description": "Opens the user's default web browser app to the specified uri If the user has an app installed that is registered as the default handler for the URL, then this app will be opened instead, and its icon will be used in the suggested action UI.",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ContinuousTestResult": {
      "description": "Represents a result from running a test case in an agent environment.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name for the continuous test result. Format: `projects//locations//agents//environments//continuousTestResults/`.",
          "type": "string"
        },
        "result": {
          "type": "string",
          "enum": [
            "AGGREGATED_TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "description": "The result of this continuous test run, i.e. whether all the tests in this continuous test run pass or not.",
          "enumDescriptions": [
            "Not specified. Should never be used.",
            "All the tests passed.",
            "At least one test did not pass."
          ]
        },
        "runTime": {
          "description": "Time when the continuous testing run starts.",
          "format": "google-datetime",
          "type": "string"
        },
        "testCaseResults": {
          "type": "array",
          "description": "A list of individual test case results names in this continuous test run.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ContinuousTestResult"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelect": {
      "properties": {
        "items": {
          "type": "array",
          "description": "Required. Carousel items.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelectItem"
          }
        }
      },
      "description": "The card for presenting a carousel of options to select from.",
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelect"
    },
    "GoogleCloudDialogflowCxV3ExportTestCasesResponse": {
      "description": "The response message for TestCases.ExportTestCases.",
      "properties": {
        "gcsUri": {
          "type": "string",
          "description": "The URI to a file containing the exported test cases. This field is populated only if `gcs_uri` is specified in ExportTestCasesRequest."
        },
        "content": {
          "format": "byte",
          "description": "Uncompressed raw byte content for test cases.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ExportTestCasesResponse"
    },
    "GoogleCloudDialogflowCxV3IntentParameter": {
      "description": "Represents an intent parameter.",
      "properties": {
        "entityType": {
          "type": "string",
          "description": "Required. The entity type of the parameter. Format: `projects/-/locations/-/agents/-/entityTypes/` for system entity types (for example, `projects/-/locations/-/agents/-/entityTypes/sys.date`), or `projects//locations//agents//entityTypes/` for developer entity types."
        },
        "isList": {
          "description": "Indicates whether the parameter represents a list of values.",
          "type": "boolean"
        },
        "id": {
          "description": "Required. The unique identifier of the parameter. This field is used by training phrases to annotate their parts.",
          "type": "string"
        },
        "redact": {
          "type": "boolean",
          "description": "Indicates whether the parameter content should be redacted in log. If redaction is enabled, the parameter content will be replaced by parameter name during logging. Note: the parameter content is subject to redaction if either parameter level redaction or entity type level redaction is enabled."
        }
      },
      "id": "GoogleCloudDialogflowCxV3IntentParameter",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TestConfig": {
      "properties": {
        "trackingParameters": {
          "description": "Session parameters to be compared when calculating differences.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "flow": {
          "type": "string",
          "description": "Flow name. If not set, default start flow is assumed. Format: `projects//locations//agents//flows/`."
        }
      },
      "description": "Represents configurations for a test case.",
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3TestConfig"
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigMessageAnalysisConfig": {
      "properties": {
        "enableEntityExtraction": {
          "type": "boolean",
          "description": "Enable entity extraction in conversation messages on [agent assist stage](https://cloud.google.com/dialogflow/priv/docs/contact-center/basics#stages). If unspecified, defaults to false. Currently, this feature is not general available, please contact Google to get access."
        },
        "enableSentimentAnalysis": {
          "type": "boolean",
          "description": "Enable sentiment analysis in conversation messages on [agent assist stage](https://cloud.google.com/dialogflow/priv/docs/contact-center/basics#stages). If unspecified, defaults to false. Sentiment analysis inspects user input and identifies the prevailing subjective opinion, especially to determine a user's attitude as positive, negative, or neutral: https://cloud.google.com/natural-language/docs/basics#sentiment_analysis For Participants.StreamingAnalyzeContent method, result will be in StreamingAnalyzeContentResponse.message.SentimentAnalysisResult. For Participants.AnalyzeContent method, result will be in AnalyzeContentResponse.message.SentimentAnalysisResult For Conversations.ListMessages method, result will be in ListMessagesResponse.messages.SentimentAnalysisResult If Pub/Sub notification is configured, result will be in ConversationEvent.new_message_payload.SentimentAnalysisResult."
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigMessageAnalysisConfig",
      "description": "Configuration for analyses to run on each conversation message."
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageText": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageText",
      "description": "The text response message.",
      "properties": {
        "text": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. A collection of text responses."
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "description": "Output only. Whether the playback of this message can be interrupted by the end user's speech and the client can then starts the next Dialogflow request.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1SessionInfo": {
      "properties": {
        "session": {
          "description": "Always present for WebhookRequest. Ignored for WebhookResponse. The unique identifier of the session. This field can be used by the webhook to identify a session. Format: `projects//locations//agents//sessions/` or `projects//locations//agents//environments//sessions/` if environment is specified.",
          "type": "string"
        },
        "parameters": {
          "description": "Optional for WebhookRequest. Optional for WebhookResponse. All parameters collected from forms and intents during the session. Parameters can be created, updated, or removed by the webhook. To remove a parameter from the session, the webhook should explicitly set the parameter value to null in WebhookResponse. The map is keyed by parameters' display names.",
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        }
      },
      "description": "Represents session information communicated to and from the webhook.",
      "id": "GoogleCloudDialogflowCxV3beta1SessionInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCard": {
      "type": "object",
      "description": "The card response message.",
      "properties": {
        "subtitle": {
          "type": "string",
          "description": "Optional. The subtitle of the card."
        },
        "title": {
          "type": "string",
          "description": "Optional. The title of the card."
        },
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCardButton"
          },
          "description": "Optional. The collection of card buttons."
        },
        "imageUri": {
          "description": "Optional. The public URI to an image file for the card.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCard"
    },
    "GoogleCloudDialogflowV2beta1IntentParameter": {
      "id": "GoogleCloudDialogflowV2beta1IntentParameter",
      "properties": {
        "displayName": {
          "description": "Required. The name of the parameter.",
          "type": "string"
        },
        "prompts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The collection of prompts that the agent can present to the user in order to collect a value for the parameter."
        },
        "mandatory": {
          "type": "boolean",
          "description": "Optional. Indicates whether the parameter is required. That is, whether the intent cannot be completed without collecting the parameter value."
        },
        "entityTypeDisplayName": {
          "type": "string",
          "description": "Optional. The name of the entity type, prefixed with `@`, that describes values of the parameter. If the parameter is required, this must be provided."
        },
        "value": {
          "description": "Optional. The definition of the parameter value. It can be: - a constant string, - a parameter value defined as `$parameter_name`, - an original parameter value defined as `$parameter_name.original`, - a parameter value from some context defined as `#context_name.parameter_name`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The unique identifier of this parameter."
        },
        "defaultValue": {
          "description": "Optional. The default value to use when the `value` yields an empty result. Default values can be extracted from contexts by using the following syntax: `#context_name.parameter_name`.",
          "type": "string"
        },
        "isList": {
          "type": "boolean",
          "description": "Optional. Indicates whether the parameter represents a list of values."
        }
      },
      "type": "object",
      "description": "Represents intent parameters."
    },
    "GoogleCloudDialogflowV2EventInput": {
      "id": "GoogleCloudDialogflowV2EventInput",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The unique identifier of the event."
        },
        "languageCode": {
          "description": "Required. The language of this query. See [Language Support](https://cloud.google.com/dialogflow/docs/reference/language) for a list of the currently supported language codes. Note that queries in the same session do not necessarily need to specify the same language.",
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "The collection of parameters associated with the event. Depending on your protocol or client library language, this is a map, associative array, symbol table, dictionary, or JSON object composed of a collection of (MapKey, MapValue) pairs: - MapKey type: string - MapKey value: parameter name - MapValue type: - If parameter's entity type is a composite entity: map - Else: depending on parameter value type, could be one of string, number, boolean, null, list or map - MapValue value: - If parameter's entity type is a composite entity: map from composite entity property names to property values - Else: parameter value"
        }
      },
      "description": "Events allow for matching intents by event name instead of the natural language input. For instance, input `` can trigger a personalized welcome response. The parameter `name` may be used by the agent in the response: `\"Hello #welcome_event.name! What can I do for you today?\"`.",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookRequest": {
      "description": "The request message for a webhook call. The request is sent as a JSON object and the field names will be presented in camel cases.",
      "type": "object",
      "properties": {
        "transcript": {
          "type": "string",
          "description": "If natural language speech audio was provided as input, this field will contain the transcript for the audio."
        },
        "messages": {
          "type": "array",
          "description": "The list of rich message responses to present to the user. Webhook can choose to append or replace this list in WebhookResponse.fulfillment_response;",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          }
        },
        "text": {
          "type": "string",
          "description": "If natural language text was provided as input, this field will contain a copy of the text."
        },
        "intentInfo": {
          "description": "Information about the last matched intent.",
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfo"
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3PageInfo",
          "description": "Information about page status."
        },
        "payload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Custom data set in QueryParameters.payload."
        },
        "detectIntentResponseId": {
          "type": "string",
          "description": "Always present. The unique identifier of the DetectIntentResponse that will be returned to the API caller."
        },
        "triggerIntent": {
          "description": "If an intent was provided as input, this field will contain a copy of the intent identifier. Format: `projects//locations//agents//intents/`.",
          "type": "string"
        },
        "sentimentAnalysisResult": {
          "description": "The sentiment analysis result of the current user request. The field is filled when sentiment analysis is configured to be enabled for the request.",
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult"
        },
        "fulfillmentInfo": {
          "description": "Always present. Information about the fulfillment that triggered this webhook call.",
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo"
        },
        "sessionInfo": {
          "description": "Information about session status.",
          "$ref": "GoogleCloudDialogflowCxV3SessionInfo"
        },
        "triggerEvent": {
          "description": "If an event was provided as input, this field will contain the name of the event.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "The language code specified in the original request."
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookRequest"
    },
    "GoogleCloudDialogflowV2ListKnowledgeBasesResponse": {
      "type": "object",
      "description": "Response message for KnowledgeBases.ListKnowledgeBases.",
      "id": "GoogleCloudDialogflowV2ListKnowledgeBasesResponse",
      "properties": {
        "knowledgeBases": {
          "description": "The list of knowledge bases.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1CreateDocumentOperationMetadata": {
      "description": "Metadata for CreateDocument operation.",
      "properties": {
        "genericMetadata": {
          "description": "The generic information of the operation.",
          "$ref": "GoogleCloudDialogflowCxV3beta1GenericKnowledgeOperationMetadata"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1CreateDocumentOperationMetadata"
    },
    "GoogleCloudDialogflowV2DetectIntentRequest": {
      "id": "GoogleCloudDialogflowV2DetectIntentRequest",
      "type": "object",
      "description": "The request to detect user's intent.",
      "properties": {
        "queryParams": {
          "description": "The parameters of this query.",
          "$ref": "GoogleCloudDialogflowV2QueryParameters"
        },
        "queryInput": {
          "$ref": "GoogleCloudDialogflowV2QueryInput",
          "description": "Required. The input specification. It can be set to: 1. an audio config which instructs the speech recognizer how to process the speech audio, 2. a conversational query in the form of text, or 3. an event that specifies which intent to trigger."
        },
        "inputAudio": {
          "format": "byte",
          "description": "The natural language speech audio to be processed. This field should be populated iff `query_input` is set to an input audio config. A single request can contain up to 1 minute of speech audio data.",
          "type": "string"
        },
        "outputAudioConfig": {
          "$ref": "GoogleCloudDialogflowV2OutputAudioConfig",
          "description": "Instructs the speech synthesizer how to generate the output audio. If this field is not set and agent-level speech synthesizer is not configured, no output audio is generated."
        },
        "outputAudioConfigMask": {
          "description": "Mask for output_audio_config indicating which settings in this request-level config should override speech synthesizer settings defined at agent-level. If unspecified or empty, output_audio_config replaces the agent-level config in its entirety.",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeBase": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The knowledge base resource name. The name must be empty when creating a knowledge base. Format: `projects//locations//knowledgeBases/`.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the knowledge base. The name must be 1024 bytes or less; otherwise, the creation request fails."
        },
        "languageCode": {
          "type": "string",
          "description": "Language which represents the KnowledgeBase. When the KnowledgeBase is created/updated, expect this to be present for non en-us languages. When unspecified, the default language code en-us applies."
        }
      },
      "description": "A knowledge base represents a collection of knowledge documents that you provide to Dialogflow. Your knowledge documents contain information that may be useful during conversations with end-users. Some Dialogflow features use knowledge bases when looking for a response to an end-user input. For more information, see the [knowledge base guide](https://cloud.google.com/dialogflow/docs/how/knowledge-bases). Note: The `projects.agent.knowledgeBases` resource is deprecated; only use `projects.knowledgeBases`.",
      "id": "GoogleCloudDialogflowV2KnowledgeBase"
    },
    "GoogleCloudDialogflowV2IntentMessageText": {
      "id": "GoogleCloudDialogflowV2IntentMessageText",
      "properties": {
        "text": {
          "description": "Optional. The collection of the agent's responses.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "The text response message."
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigKnowledgeBaseQuerySource": {
      "properties": {
        "knowledgeBases": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Knowledge bases to query. Format: `projects//locations//knowledgeBases/`. Currently, at most 5 knowledge bases are supported."
        }
      },
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigKnowledgeBaseQuerySource",
      "description": "Knowledge base source settings. Supported features: ARTICLE_SUGGESTION, FAQ.",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo": {
      "description": "Represents fulfillment information communicated to the webhook.",
      "properties": {
        "tag": {
          "description": "Always present. The tag used to identify which fulfillment is being called.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses",
      "description": "The collection of simple response candidates. This message in `QueryResult.fulfillment_messages` and `WebhookResponse.fulfillment_messages` should contain only one `SimpleResponse`.",
      "properties": {
        "simpleResponses": {
          "type": "array",
          "description": "Required. The list of simple responses.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ArticleAnswer": {
      "description": "Represents article answer.",
      "id": "GoogleCloudDialogflowV2ArticleAnswer",
      "type": "object",
      "properties": {
        "answerRecord": {
          "description": "The name of answer record, in the format of \"projects//locations//answerRecords/\"",
          "type": "string"
        },
        "title": {
          "description": "The article title.",
          "type": "string"
        },
        "confidence": {
          "description": "Article match confidence. The system's confidence score that this article is a good match for this conversation, as a value from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "format": "float",
          "type": "number"
        },
        "snippets": {
          "description": "Article snippets.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "A map that contains metadata about the answer and the document from which it originates.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "uri": {
          "description": "The article URI.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ConversationEvent": {
      "properties": {
        "conversation": {
          "description": "Required. The unique identifier of the conversation this notification refers to. Format: `projects//conversations/`.",
          "type": "string"
        },
        "errorStatus": {
          "description": "Optional. More detailed information about an error. Only set for type UNRECOVERABLE_ERROR_IN_PHONE_CALL.",
          "$ref": "GoogleRpcStatus"
        },
        "newMessagePayload": {
          "description": "Payload of NEW_MESSAGE event.",
          "$ref": "GoogleCloudDialogflowV2beta1Message"
        },
        "type": {
          "description": "Required. The type of the event that this notification refers to.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CONVERSATION_STARTED",
            "CONVERSATION_FINISHED",
            "NEW_MESSAGE",
            "UNRECOVERABLE_ERROR"
          ],
          "enumDescriptions": [
            "Type not set.",
            "A new conversation has been opened. This is fired when a telephone call is answered, or a conversation is created via the API.",
            "An existing conversation has closed. This is fired when a telephone call is terminated, or a conversation is closed via the API.",
            "An existing conversation has received a new message, either from API or telephony. It is configured in ConversationProfile.new_message_event_notification_config",
            "Unrecoverable error during a telephone call. In general non-recoverable errors only occur if something was misconfigured in the ConversationProfile corresponding to the call. After a non-recoverable error, Dialogflow may stop responding. We don't fire this event: * in an API call because we can directly return the error, or, * when we can recover from an error."
          ],
          "type": "string"
        }
      },
      "description": "Represents a notification sent to Pub/Sub subscribers for conversation lifecycle events.",
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ConversationEvent"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelectItem": {
      "properties": {
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage",
          "description": "Optional. The image to display."
        },
        "description": {
          "description": "Optional. The body text of the card.",
          "type": "string"
        },
        "title": {
          "description": "Required. Title of the carousel item.",
          "type": "string"
        },
        "info": {
          "description": "Required. Additional info about the option item.",
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo"
        }
      },
      "type": "object",
      "description": "An item in the carousel.",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelectItem"
    },
    "GoogleCloudDialogflowV2EntityTypeBatch": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2EntityTypeBatch",
      "properties": {
        "entityTypes": {
          "type": "array",
          "description": "A collection of entity types.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityType"
          }
        }
      },
      "description": "This message is a wrapper around a collection of entity types."
    },
    "GoogleCloudDialogflowCxV3beta1TestError": {
      "properties": {
        "testTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp when the test was completed."
        },
        "testCase": {
          "description": "The test case resource name.",
          "type": "string"
        },
        "status": {
          "description": "The status associated with the test.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "description": "Error info for running a test.",
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TestError"
    },
    "GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponse": {
      "properties": {
        "mergeBehavior": {
          "enum": [
            "MERGE_BEHAVIOR_UNSPECIFIED",
            "APPEND",
            "REPLACE"
          ],
          "description": "Merge behavior for `messages`.",
          "enumDescriptions": [
            "Not specified. `APPEND` will be used.",
            "`messages` will be appended to the list of messages waiting to be sent to the user.",
            "`messages` will replace the list of messages waiting to be sent to the user."
          ],
          "type": "string"
        },
        "messages": {
          "description": "The list of rich message responses to present to the user.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponse",
      "type": "object",
      "description": "Represents a fulfillment response to the user."
    },
    "GoogleCloudDialogflowCxV3beta1UpdateDocumentOperationMetadata": {
      "description": "Metadata for UpdateDocument operation.",
      "properties": {
        "genericMetadata": {
          "description": "The generic information of the operation.",
          "$ref": "GoogleCloudDialogflowCxV3beta1GenericKnowledgeOperationMetadata"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1UpdateDocumentOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowV2OutputAudioConfig": {
      "description": "Instructs the speech synthesizer on how to generate the output audio content. If this audio config is supplied in a request, it overrides all existing text-to-speech settings applied to the agent.",
      "id": "GoogleCloudDialogflowV2OutputAudioConfig",
      "type": "object",
      "properties": {
        "sampleRateHertz": {
          "format": "int32",
          "type": "integer",
          "description": "The synthesis sample rate (in hertz) for this audio. If not provided, then the synthesizer will use the default sample rate based on the audio encoding. If this is different from the voice's natural sample rate, then the synthesizer will honor this request by converting to the desired sample rate (which might result in worse audio quality)."
        },
        "synthesizeSpeechConfig": {
          "description": "Configuration of how speech should be synthesized.",
          "$ref": "GoogleCloudDialogflowV2SynthesizeSpeechConfig"
        },
        "audioEncoding": {
          "enum": [
            "OUTPUT_AUDIO_ENCODING_UNSPECIFIED",
            "OUTPUT_AUDIO_ENCODING_LINEAR_16",
            "OUTPUT_AUDIO_ENCODING_MP3",
            "OUTPUT_AUDIO_ENCODING_MP3_64_KBPS",
            "OUTPUT_AUDIO_ENCODING_OGG_OPUS",
            "OUTPUT_AUDIO_ENCODING_MULAW"
          ],
          "type": "string",
          "description": "Required. Audio encoding of the synthesized audio content.",
          "enumDescriptions": [
            "Not specified.",
            "Uncompressed 16-bit signed little-endian samples (Linear PCM). Audio content returned as LINEAR16 also contains a WAV header.",
            "MP3 audio at 32kbps.",
            "MP3 audio at 64kbps.",
            "Opus encoded audio wrapped in an ogg container. The result will be a file which can be played natively on Android, and in browsers (at least Chrome and Firefox). The quality of the encoding is considerably higher than MP3 while using approximately the same bitrate.",
            "8-bit samples that compand 14-bit audio samples using G.711 PCMU/mu-law."
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2RestoreAgentRequest": {
      "description": "The request message for Agents.RestoreAgent.",
      "type": "object",
      "id": "GoogleCloudDialogflowV2RestoreAgentRequest",
      "properties": {
        "agentUri": {
          "description": "The URI to a Google Cloud Storage file containing the agent to restore. Note: The URI must start with \"gs://\".",
          "type": "string"
        },
        "agentContent": {
          "format": "byte",
          "description": "Zip compressed raw byte content for agent.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3GenericKnowledgeOperationMetadata": {
      "id": "GoogleCloudDialogflowCxV3GenericKnowledgeOperationMetadata",
      "type": "object",
      "description": "Metadata in google::longrunning::Operation for Knowledge operations.",
      "properties": {
        "state": {
          "type": "string",
          "description": "Required. Output only. The current state of this operation.",
          "readOnly": true,
          "enumDescriptions": [
            "State unspecified.",
            "The operation has been created.",
            "The operation is currently running.",
            "The operation is done, either cancelled or completed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2Fulfillment": {
      "description": "By default, your agent responds to a matched intent with a static response. As an alternative, you can provide a more dynamic response by using fulfillment. When you enable fulfillment for an intent, Dialogflow responds to that intent by calling a service that you define. For example, if an end-user wants to schedule a haircut on Friday, your service can check your database and respond to the end-user with availability information for Friday. For more information, see the [fulfillment guide](https://cloud.google.com/dialogflow/docs/fulfillment-overview).",
      "type": "object",
      "id": "GoogleCloudDialogflowV2Fulfillment",
      "properties": {
        "displayName": {
          "description": "Optional. The human-readable name of the fulfillment, unique within the agent. This field is not used for Fulfillment in an Environment.",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "Optional. Whether fulfillment is enabled."
        },
        "name": {
          "description": "Required. The unique identifier of the fulfillment. Supported formats: - `projects//agent/fulfillment` - `projects//locations//agent/fulfillment` This field is not used for Fulfillment in an Environment.",
          "type": "string"
        },
        "features": {
          "description": "Optional. The field defines whether the fulfillment is enabled for certain features.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2FulfillmentFeature"
          },
          "type": "array"
        },
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowV2FulfillmentGenericWebService",
          "description": "Configuration for a generic web service."
        }
      }
    },
    "GoogleCloudDialogflowV2SpeechContext": {
      "properties": {
        "phrases": {
          "type": "array",
          "description": "Optional. A list of strings containing words and phrases that the speech recognizer should recognize with higher likelihood. This list can be used to: * improve accuracy for words and phrases you expect the user to say, e.g. typical commands for your Dialogflow agent * add additional words to the speech recognizer vocabulary * ... See the [Cloud Speech documentation](https://cloud.google.com/speech-to-text/quotas) for usage limits.",
          "items": {
            "type": "string"
          }
        },
        "boost": {
          "description": "Optional. Boost for this context compared to other contexts: * If the boost is positive, Dialogflow will increase the probability that the phrases in this context are recognized over similar sounding phrases. * If the boost is unspecified or non-positive, Dialogflow will not apply any boost. Dialogflow recommends that you use boosts in the range (0, 20] and that you find a value that fits your use case with binary search.",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object",
      "description": "Hints for the speech recognizer to help with recognition in a specific conversation state.",
      "id": "GoogleCloudDialogflowV2SpeechContext"
    },
    "GoogleCloudDialogflowV2FulfillmentGenericWebService": {
      "id": "GoogleCloudDialogflowV2FulfillmentGenericWebService",
      "properties": {
        "username": {
          "description": "Optional. The user name for HTTP Basic authentication.",
          "type": "string"
        },
        "password": {
          "description": "Optional. The password for HTTP Basic authentication.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "Required. The fulfillment URI for receiving POST requests. It must use https protocol."
        },
        "isCloudFunction": {
          "description": "Optional. Indicates if generic web service is created through Cloud Functions integration. Defaults to false. is_cloud_function is deprecated. Cloud functions can be configured by its uri as a regular web service now.",
          "type": "boolean"
        },
        "requestHeaders": {
          "description": "Optional. The HTTP request headers to send together with fulfillment requests.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Represents configuration for a generic web service. Dialogflow supports two mechanisms for authentications: - Basic authentication with username and password. - Authentication with additional authentication headers. More information could be found at: https://cloud.google.com/dialogflow/docs/fulfillment-configure."
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigContextFilterSettings": {
      "description": "Settings that determine how to filter recent conversation context when generating suggestions.",
      "properties": {
        "dropVirtualAgentMessages": {
          "type": "boolean",
          "description": "If set to true, all messages from virtual agent are dropped."
        },
        "dropIvrMessages": {
          "description": "If set to true, all messages from ivr stage are dropped.",
          "type": "boolean"
        },
        "dropHandoffMessages": {
          "description": "If set to true, the last message from virtual agent (hand off message) and the message before it (trigger message of hand off) are dropped.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigContextFilterSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowV2LoggingConfig": {
      "description": "Defines logging behavior for conversation lifecycle events.",
      "properties": {
        "enableStackdriverLogging": {
          "description": "Whether to log conversation events like CONVERSATION_STARTED to Stackdriver in the conversation project as JSON format ConversationEvent protos.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2LoggingConfig"
    },
    "GoogleCloudDialogflowV2beta1Sentiment": {
      "id": "GoogleCloudDialogflowV2beta1Sentiment",
      "description": "The sentiment, such as positive/negative feeling or association, for a unit of analysis, such as the query text.",
      "properties": {
        "score": {
          "description": "Sentiment score between -1.0 (negative sentiment) and 1.0 (positive sentiment).",
          "format": "float",
          "type": "number"
        },
        "magnitude": {
          "description": "A non-negative number in the [0, +inf) range, which represents the absolute magnitude of sentiment, regardless of score (positive or negative).",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo": {
      "properties": {
        "tag": {
          "type": "string",
          "description": "Always present. The tag used to identify which fulfillment is being called."
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo",
      "description": "Represents fulfillment information communicated to the webhook."
    },
    "GoogleCloudDialogflowCxV3beta1RunTestCaseMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1RunTestCaseMetadata",
      "type": "object",
      "properties": {},
      "description": "Metadata returned for the TestCases.RunTestCase long running operation. This message currently has no fields."
    },
    "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem": {
      "properties": {
        "info": {
          "description": "Required. Additional info about the option item.",
          "$ref": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo"
        },
        "title": {
          "type": "string",
          "description": "Required. Title of the carousel item."
        },
        "image": {
          "description": "Optional. The image to display.",
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "description": {
          "type": "string",
          "description": "Optional. The body text of the card."
        }
      },
      "type": "object",
      "description": "An item in the carousel.",
      "id": "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem"
    },
    "GoogleCloudDialogflowV2AgentAssistantRecord": {
      "id": "GoogleCloudDialogflowV2AgentAssistantRecord",
      "type": "object",
      "description": "Represents a record of a human agent assist answer.",
      "properties": {
        "faqAnswer": {
          "description": "Output only. The FAQ answer.",
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2FaqAnswer"
        },
        "articleSuggestionAnswer": {
          "readOnly": true,
          "description": "Output only. The article suggestion answer.",
          "$ref": "GoogleCloudDialogflowV2ArticleAnswer"
        }
      }
    },
    "GoogleCloudDialogflowCxV3PageInfoFormInfo": {
      "description": "Represents form information.",
      "properties": {
        "parameterInfo": {
          "description": "Optional for both WebhookRequest and WebhookResponse. The parameters contained in the form. Note that the webhook cannot add or remove any form parameter.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3PageInfoFormInfo"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse": {
      "description": "The simple response message containing speech or text.",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse",
      "properties": {
        "ssml": {
          "type": "string",
          "description": "One of text_to_speech or ssml must be provided. Structured spoken response to the user in the SSML format. Mutually exclusive with text_to_speech."
        },
        "displayText": {
          "type": "string",
          "description": "Optional. The text to display."
        },
        "textToSpeech": {
          "description": "One of text_to_speech or ssml must be provided. The plain text of the speech output. Mutually exclusive with ssml.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio",
      "properties": {
        "audioUri": {
          "type": "string",
          "description": "Required. URI to a Google Cloud Storage object containing the audio to play, e.g., \"gs://bucket/object\". The object must contain a single channel (mono) of linear PCM audio (2 bytes / sample) at 8kHz. This object must be readable by the `service-@gcp-sa-dialogflow.iam.gserviceaccount.com` service account where is the number of the Telephony Gateway project (usually the same as the Dialogflow agent project). If the Google Cloud Storage bucket is in the Telephony Gateway project, this permission is added by default when enabling the Dialogflow V2 API. For audio from other sources, consider using the `TelephonySynthesizeSpeech` message with SSML."
        }
      },
      "description": "Plays audio from a file in Telephony Gateway."
    },
    "GoogleCloudDialogflowCxV3beta1IntentInput": {
      "type": "object",
      "description": "Represents the intent to trigger programmatically rather than as a result of natural language processing.",
      "properties": {
        "intent": {
          "type": "string",
          "description": "Required. The unique identifier of the intent. Format: `projects//locations//agents//intents/`."
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1IntentInput"
    },
    "GoogleCloudDialogflowCxV3beta1EventHandler": {
      "description": "An event handler specifies an event that can be handled during a session. When the specified event happens, the following actions are taken in order: * If there is a `trigger_fulfillment` associated with the event, it will be called. * If there is a `target_page` associated with the event, the session will transition into the specified page. * If there is a `target_flow` associated with the event, the session will transition into the specified flow.",
      "properties": {
        "name": {
          "description": "Output only. The unique identifier of this event handler.",
          "type": "string",
          "readOnly": true
        },
        "targetFlow": {
          "description": "The target flow to transition to. Format: `projects//locations//agents//flows/`.",
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment",
          "description": "The fulfillment to call when the event occurs. Handling webhook errors with a fulfillment enabled with webhook could cause infinite loop. It is invalid to specify such fulfillment for a handler handling webhooks."
        },
        "targetPage": {
          "description": "The target page to transition to. Format: `projects//locations//agents//flows//pages/`.",
          "type": "string"
        },
        "event": {
          "type": "string",
          "description": "Required. The name of the event to handle."
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1EventHandler"
    },
    "GoogleCloudDialogflowCxV3WebhookRequestIntentInfo": {
      "properties": {
        "lastMatchedIntent": {
          "description": "Always present. The unique identifier of the last matched intent. Format: `projects//locations//agents//intents/`.",
          "type": "string"
        },
        "displayName": {
          "description": "Always present. The display name of the last matched intent.",
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "description": "The confidence of the matched intent. Values range from 0.0 (completely uncertain) to 1.0 (completely certain).",
          "format": "float"
        },
        "parameters": {
          "description": "Parameters identified as a result of intent matching. This is a map of the name of the identified parameter to the value of the parameter identified from the user's utterance. All parameters defined in the matched intent that are identified will be surfaced here.",
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue"
          },
          "type": "object"
        }
      },
      "type": "object",
      "description": "Represents intent information communicated to the webhook.",
      "id": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfo"
    },
    "GoogleCloudDialogflowV2HumanAgentHandoffConfigSalesforceLiveAgentConfig": {
      "id": "GoogleCloudDialogflowV2HumanAgentHandoffConfigSalesforceLiveAgentConfig",
      "properties": {
        "deploymentId": {
          "type": "string",
          "description": "Required. Live Agent deployment ID."
        },
        "organizationId": {
          "description": "Required. The organization ID of the Salesforce account.",
          "type": "string"
        },
        "endpointDomain": {
          "type": "string",
          "description": "Required. Domain of the Live Agent endpoint for this agent. You can find the endpoint URL in the `Live Agent settings` page. For example if URL has the form https://d.la4-c2-phx.salesforceliveagent.com/..., you should fill in d.la4-c2-phx.salesforceliveagent.com."
        },
        "buttonId": {
          "description": "Required. Live Agent chat button ID.",
          "type": "string"
        }
      },
      "description": "Configuration specific to Salesforce Live Agent.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ListVersionsResponse": {
      "type": "object",
      "properties": {
        "versions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Version"
          },
          "type": "array",
          "description": "The list of agent versions. There will be a maximum number of items returned based on the page_size field in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "id": "GoogleCloudDialogflowV2ListVersionsResponse",
      "description": "The response message for Versions.ListVersions."
    },
    "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig": {
      "id": "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig",
      "description": "The configuration for continuous tests.",
      "properties": {
        "enableContinuousRun": {
          "type": "boolean",
          "description": "Whether to run test cases in TestCasesConfig.test_cases periodically. Default false. If set to ture, run once a day."
        },
        "testCases": {
          "description": "A list of test case names to run. They should be under the same agent. Format of each test case name: `projects//locations/ /agents//testCases/`",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "enablePredeploymentRun": {
          "type": "boolean",
          "description": "Whether to run test cases in TestCasesConfig.test_cases before deploying a flow version to the environment. Default false."
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2BatchUpdateIntentsResponse": {
      "properties": {
        "intents": {
          "type": "array",
          "description": "The collection of updated or created intents.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Intent"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2BatchUpdateIntentsResponse",
      "description": "The response message for Intents.BatchUpdateIntents.",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult": {
      "properties": {
        "score": {
          "type": "number",
          "format": "float",
          "description": "Sentiment score between -1.0 (negative sentiment) and 1.0 (positive sentiment)."
        },
        "magnitude": {
          "type": "number",
          "description": "A non-negative number in the [0, +inf) range, which represents the absolute magnitude of sentiment, regardless of score (positive or negative).",
          "format": "float"
        }
      },
      "description": "Represents the result of sentiment analysis.",
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult"
    },
    "GoogleCloudDialogflowCxV3beta1TextInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TextInput",
      "description": "Represents the natural language text to be processed.",
      "properties": {
        "text": {
          "type": "string",
          "description": "Required. The UTF-8 encoded natural language text to be processed. Text length must not exceed 256 characters."
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TestCaseResult": {
[...]
