{
  "discoveryVersion": "v1",
  "description": "Discovery Engine API.",
  "servicePath": "",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "name": "discoveryengine",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "type": "string"
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "discoveryengine.projects.locations.operations.get"
                },
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "id": "discoveryengine.projects.locations.operations.list",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The standard list page size.",
                      "format": "int32"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    }
                  },
                  "path": "v1alpha/{+name}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "dataStores": {
              "resources": {
                "models": {
                  "resources": {
                    "operations": {
                      "methods": {
                        "list": {
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/models/{modelsId}/operations",
                          "parameters": {
                            "filter": {
                              "description": "The standard list filter.",
                              "type": "string",
                              "location": "query"
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "The standard list page token.",
                              "location": "query"
                            },
                            "name": {
                              "required": true,
                              "description": "The name of the operation's parent resource.",
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+/models/[^/]+$"
                            },
                            "pageSize": {
                              "type": "integer",
                              "description": "The standard list page size.",
                              "format": "int32",
                              "location": "query"
                            }
                          },
                          "httpMethod": "GET",
                          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1alpha/{+name}/operations",
                          "response": {
                            "$ref": "GoogleLongrunningListOperationsResponse"
                          },
                          "id": "discoveryengine.projects.locations.dataStores.models.operations.list",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "get": {
                          "parameters": {
                            "name": {
                              "type": "string",
                              "location": "path",
                              "description": "The name of the operation resource.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+/models/[^/]+/operations/[^/]+$",
                              "required": true
                            }
                          },
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/models/{modelsId}/operations/{operationsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                          "id": "discoveryengine.projects.locations.dataStores.models.operations.get",
                          "httpMethod": "GET",
                          "path": "v1alpha/{+name}",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          }
                        }
                      }
                    }
                  }
                },
                "branches": {
                  "resources": {
                    "documents": {
                      "methods": {
                        "list": {
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/branches/{branchesId}/documents",
                          "httpMethod": "GET",
                          "id": "discoveryengine.projects.locations.dataStores.branches.documents.list",
                          "parameters": {
                            "pageToken": {
                              "description": "A page token ListDocumentsResponse.next_page_token, received from a previous DocumentService.ListDocuments call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to DocumentService.ListDocuments must match the call that provided the page token. Otherwise, an INVALID_ARGUMENT error is returned.",
                              "type": "string",
                              "location": "query"
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+/branches/[^/]+$",
                              "required": true,
                              "description": "Required. The parent branch resource name, such as `projects/{project}/locations/{location}/dataStores/{data_store}/branches/{branch}`. Use `default_branch` as the branch ID, to list documents under the default branch. If the caller does not have permission to list Documentss under this branch, regardless of whether or not this branch exists, a PERMISSION_DENIED error is returned.",
                              "type": "string",
                              "location": "path"
                            },
                            "pageSize": {
                              "location": "query",
                              "description": "Maximum number of Documents to return. If unspecified, defaults to 100. The maximum allowed value is 1000. Values above 1000 will be coerced to 1000. If this field is negative, an INVALID_ARGUMENT error is returned.",
                              "format": "int32",
                              "type": "integer"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaListDocumentsResponse"
                          },
                          "path": "v1alpha/{+parent}/documents",
                          "description": "Gets a list of Documents.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "create": {
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/branches/{branchesId}/documents",
                          "id": "discoveryengine.projects.locations.dataStores.branches.documents.create",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaDocument"
                          },
                          "parameters": {
                            "parent": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+/branches/[^/]+$",
                              "description": "Required. The parent resource name, such as `projects/{project}/locations/{location}/dataStores/{data_store}/branches/{branch}`."
                            },
                            "documentId": {
                              "type": "string",
                              "description": "Required. The ID to use for the Document, which will become the final component of the Document.name. If the caller does not have permission to create the Document, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. This field must be unique among all Documents with the same parent. Otherwise, an ALREADY_EXISTS error is returned. This field must conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) standard with a length limit of 63 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
                              "location": "query"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "Creates a Document.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaDocument"
                          },
                          "path": "v1alpha/{+parent}/documents"
                        },
                        "get": {
                          "path": "v1alpha/{+name}",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaDocument"
                          },
                          "id": "discoveryengine.projects.locations.dataStores.branches.documents.get",
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/branches/{branchesId}/documents/{documentsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "location": "path",
                              "type": "string",
                              "description": "Required. Full resource name of Document, such as `projects/{project}/locations/{location}/dataStores/{data_store}/branches/{branch}/documents/{document}`. If the caller does not have permission to access the Document, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested Document does not exist, a NOT_FOUND error is returned.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+/branches/[^/]+/documents/[^/]+$"
                            }
                          },
                          "description": "Gets a Document.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET"
                        },
                        "patch": {
                          "path": "v1alpha/{+name}",
                          "id": "discoveryengine.projects.locations.dataStores.branches.documents.patch",
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/branches/{branchesId}/documents/{documentsId}",
                          "httpMethod": "PATCH",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaDocument"
                          },
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaDocument"
                          },
                          "parameters": {
                            "allowMissing": {
                              "type": "boolean",
                              "location": "query",
                              "description": "If set to true, and the Document is not found, a new Document will be created."
                            },
                            "name": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "Immutable. The full resource name of the document. Format: `projects/{project}/locations/{location}/dataStores/{data_store}/branches/{branch}/documents/{document_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+/branches/[^/]+/documents/[^/]+$"
                            }
                          },
                          "description": "Updates a Document.",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "delete": {
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "required": true,
                              "description": "Required. Full resource name of Document, such as `projects/{project}/locations/{location}/dataStores/{data_store}/branches/{branch}/documents/{document}`. If the caller does not have permission to delete the Document, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the Document to delete does not exist, a NOT_FOUND error is returned.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+/branches/[^/]+/documents/[^/]+$",
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/branches/{branchesId}/documents/{documentsId}",
                          "path": "v1alpha/{+name}",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "description": "Deletes a Document.",
                          "httpMethod": "DELETE",
                          "id": "discoveryengine.projects.locations.dataStores.branches.documents.delete"
                        },
                        "import": {
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "id": "discoveryengine.projects.locations.dataStores.branches.documents.import",
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/branches/{branchesId}/documents:import",
                          "path": "v1alpha/{+parent}/documents:import",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaImportDocumentsRequest"
                          },
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "parent": {
                              "description": "Required. The parent branch resource name, such as `projects/{project}/locations/{location}/dataStores/{data_store}/branches/{branch}`. Requires create/update permission.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+/branches/[^/]+$",
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "description": "Bulk import of multiple Documents. Request processing may be synchronous. Non-existing items will be created. Note: It is possible for a subset of the Documents to be successfully updated."
                        }
                      }
                    },
                    "operations": {
                      "methods": {
                        "list": {
                          "httpMethod": "GET",
                          "parameters": {
                            "filter": {
                              "type": "string",
                              "location": "query",
                              "description": "The standard list filter."
                            },
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+/branches/[^/]+$",
                              "description": "The name of the operation's parent resource.",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "The standard list page token."
                            },
                            "pageSize": {
                              "description": "The standard list page size.",
                              "location": "query",
                              "format": "int32",
                              "type": "integer"
                            }
                          },
                          "path": "v1alpha/{+name}/operations",
                          "response": {
                            "$ref": "GoogleLongrunningListOperationsResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/branches/{branchesId}/operations",
                          "id": "discoveryengine.projects.locations.dataStores.branches.operations.list",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "get": {
                          "path": "v1alpha/{+name}",
                          "httpMethod": "GET",
                          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/branches/{branchesId}/operations/{operationsId}",
                          "id": "discoveryengine.projects.locations.dataStores.branches.operations.get",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+/branches/[^/]+/operations/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "description": "The name of the operation resource.",
                              "required": true
                            }
                          },
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    }
                  }
                },
                "operations": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                      "path": "v1alpha/{+name}/operations",
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "id": "discoveryengine.projects.locations.dataStores.operations.list",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/operations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "filter": {
                          "location": "query",
                          "description": "The standard list filter.",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "The standard list page token.",
                          "type": "string",
                          "location": "query"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+$",
                          "required": true,
                          "description": "The name of the operation's parent resource.",
                          "location": "path",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "The standard list page size.",
                          "type": "integer"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "get": {
                      "path": "v1alpha/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+/operations/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "The name of the operation resource."
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "discoveryengine.projects.locations.dataStores.operations.get",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/operations/{operationsId}",
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                    }
                  }
                },
                "servingConfigs": {
                  "methods": {
                    "recommend": {
                      "request": {
                        "$ref": "GoogleCloudDiscoveryengineV1alphaRecommendRequest"
                      },
                      "path": "v1alpha/{+servingConfig}:recommend",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "servingConfig"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1alphaRecommendResponse"
                      },
                      "id": "discoveryengine.projects.locations.dataStores.servingConfigs.recommend",
                      "parameters": {
                        "servingConfig": {
                          "description": "Required. Full resource name of the format: projects/*/locations/global/dataStores/*/servingConfigs/* Before you can request recommendations from your model, you must create at least one serving config for it.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+/servingConfigs/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "description": "Makes a recommendation, which requires a contextual user event.",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/servingConfigs/{servingConfigsId}:recommend"
                    }
                  }
                },
                "userEvents": {
                  "methods": {
                    "write": {
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent DataStore resource name, such as `projects/{project}/locations/{location}/dataStores/{data_store}`."
                        }
                      },
                      "description": "Writes a single user event.",
                      "id": "discoveryengine.projects.locations.dataStores.userEvents.write",
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1alphaUserEvent"
                      },
                      "path": "v1alpha/{+parent}/userEvents:write",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDiscoveryengineV1alphaUserEvent"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/userEvents:write"
                    },
                    "import": {
                      "httpMethod": "POST",
                      "description": "Bulk import of User events. Request processing might be synchronous. Events that already exist are skipped. Use this method for backfilling historical user events. Operation.response is of type ImportResponse. Note that it is possible for a subset of the items to be successfully inserted. Operation.metadata is of type ImportMetadata.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "discoveryengine.projects.locations.dataStores.userEvents.import",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "Required. Parent DataStore resource name, of the form `projects/{project}/locations/{location}/dataStores/{data_store}`",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+$",
                          "type": "string"
                        }
                      },
                      "path": "v1alpha/{+parent}/userEvents:import",
                      "request": {
                        "$ref": "GoogleCloudDiscoveryengineV1alphaImportUserEventsRequest"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/userEvents:import"
                    },
                    "collect": {
                      "id": "discoveryengine.projects.locations.dataStores.userEvents.collect",
                      "description": "Writes a single user event from the browser. This uses a GET request to due to browser restriction of POST-ing to a 3rd party domain. This method is used only by the Discovery Engine API JavaScript pixel and Google Tag Manager. Users should not call this method directly.",
                      "path": "v1alpha/{+parent}/userEvents:collect",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/userEvents:collect",
                      "parameters": {
                        "uri": {
                          "type": "string",
                          "description": "The URL including cgi-parameters but excluding the hash fragment with a length limit of 5,000 characters. This is often more useful than the referer URL, because many browsers only send the domain for 3rd party requests.",
                          "location": "query"
                        },
                        "ets": {
                          "location": "query",
                          "type": "string",
                          "description": "The event timestamp in milliseconds. This prevents browser caching of otherwise identical get requests. The name is abbreviated to reduce the payload bytes.",
                          "format": "int64"
                        },
                        "userEvent": {
                          "type": "string",
                          "description": "Required. URL encoded UserEvent proto with a length limit of 2,000,000 characters.",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent DataStore resource name, such as `projects/{project}/locations/{location}/dataStores/{data_store}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+$",
                          "location": "path"
                        }
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleApiHttpBody"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operations": {
          "methods": {
            "get": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameterOrder": [
                "name"
              ],
              "id": "discoveryengine.projects.operations.get",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1alpha/projects/{projectsId}/operations/{operationsId}",
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "httpMethod": "GET",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
              "id": "discoveryengine.projects.operations.list",
              "path": "v1alpha/{+name}/operations",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "The standard list page token.",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "The standard list filter.",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "description": "The name of the operation's parent resource.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "flatPath": "v1alpha/projects/{projectsId}/operations",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    }
  },
  "id": "discoveryengine:v1alpha",
  "rootUrl": "https://discoveryengine.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "GoogleCloudDiscoveryengineV1betaImportDocumentsMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the ImportDocuments operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "failureCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of entries that encountered errors while processing."
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        },
        "successCount": {
          "format": "int64",
          "description": "Count of entries that were processed successfully.",
          "type": "string"
        },
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaImportDocumentsMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaRecommendRequest": {
      "id": "GoogleCloudDiscoveryengineV1alphaRecommendRequest",
      "properties": {
        "userEvent": {
          "description": "Required. Context about the user, what they are looking at and what action they took to trigger the Recommend request. Note that this user event detail won't be ingested to userEvent logs. Thus, a separate userEvent write request is required for event logging. Don't set UserEvent.user_pseudo_id or UserEvent.user_info.user_id to the same fixed ID for different users. If you are trying to receive non-personalized recommendations (not recommended; this can negatively impact model performance), instead set UserEvent.user_pseudo_id to a random unique ID and leave UserEvent.user_info.user_id unset.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaUserEvent"
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Use validate only mode for this recommendation query. If set to true, a fake model will be used that returns arbitrary Document IDs. Note that the validate only mode should only be used for testing the API, or if the model is not ready."
        },
        "filter": {
          "type": "string",
          "description": "Filter for restricting recommendation results with a length limit of 5,000 characters. Currently, only filter expressions on the `filter_tags` attribute is supported. Examples: * (filter_tags: ANY(\"Red\", \"Blue\") OR filter_tags: ANY(\"Hot\", \"Cold\")) * (filter_tags: ANY(\"Red\", \"Blue\")) AND NOT (filter_tags: ANY(\"Green\")) If your filter blocks all results, the API will return generic (unfiltered) popular Documents. If you only want results strictly matching the filters, set `strictFiltering` to True in RecommendRequest.params to receive empty results instead. Note that the API will never return Documents with storageStatus of \"EXPIRED\" or \"DELETED\" regardless of filter choices."
        },
        "userLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The user labels applied to a resource must meet the following requirements: * Each resource can have multiple labels, up to a maximum of 64. * Each label must be a key-value pair. * Keys have a minimum length of 1 character and a maximum length of 63 characters and cannot be empty. Values can be empty and have a maximum length of 63 characters. * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. All characters must use UTF-8 encoding, and international characters are allowed. * The key portion of a label must be unique. However, you can use the same key with multiple resources. * Keys must start with a lowercase letter or international character. See [Google Cloud Document](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements) for more details."
        },
        "pageSize": {
          "description": "Maximum number of results to return. Set this property to the number of recommendation results needed. If zero, the service will choose a reasonable default. The maximum allowed value is 100. Values above 100 will be coerced to 100.",
          "type": "integer",
          "format": "int32"
        },
        "params": {
          "description": "Additional domain specific parameters for the recommendations. Allowed values: * `returnDocument`: Boolean. If set to true, the associated Document object will be returned in RecommendResponse.results.document. * `returnScore`: Boolean. If set to true, the recommendation 'score' corresponding to each returned Document will be set in RecommendResponse.results.metadata. The given 'score' indicates the probability of a Document conversion given the user's context and history. * `strictFiltering`: Boolean. True by default. If set to false, the service will return generic (unfiltered) popular Documents instead of empty if your filter blocks all recommendation results. * `diversityLevel`: String. Default empty. If set to be non-empty, then it needs to be one of: * 'no-diversity' * 'low-diversity' * 'medium-diversity' * 'high-diversity' * 'auto-diversity' This gives request-level control and adjusts recommendation results based on Document category.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        }
      },
      "description": "Request message for Recommend method.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaImportDocumentsRequest": {
      "id": "GoogleCloudDiscoveryengineV1alphaImportDocumentsRequest",
      "type": "object",
      "properties": {
        "bigquerySource": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaBigQuerySource",
          "description": "BigQuery input source."
        },
        "gcsSource": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaGcsSource",
          "description": "Google Cloud Storage location for the input content."
        },
        "inlineSource": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportDocumentsRequestInlineSource",
          "description": "The Inline source for the input content for documents."
        },
        "errorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportErrorConfig",
          "description": "The desired location of errors incurred during the Import."
        },
        "reconciliationMode": {
          "type": "string",
          "enumDescriptions": [
            "Defaults to INCREMENTAL.",
            "Inserts new documents or updates existing documents.",
            "Calculates diff and replaces the entire document dataset. Existing documents may be deleted if they are not present in the source location."
          ],
          "description": "The mode of reconciliation between existing documents and the documents to be imported. Defaults to ReconciliationMode.INCREMENTAL.",
          "enum": [
            "RECONCILIATION_MODE_UNSPECIFIED",
            "INCREMENTAL",
            "FULL"
          ]
        }
      },
      "description": "Request message for Import methods."
    },
    "GoogleCloudDiscoveryengineV1alphaCompletionInfo": {
      "properties": {
        "selectedSuggestion": {
          "type": "string",
          "description": "End user selected CompleteQueryResponse.CompletionResult.suggestion."
        },
        "selectedPosition": {
          "description": "End user selected CompleteQueryResponse.CompletionResult.suggestion position, starting from 0.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Detailed completion information including completion attribution token and clicked completion info.",
      "id": "GoogleCloudDiscoveryengineV1alphaCompletionInfo",
      "type": "object"
    },
    "GoogleTypeDate": {
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        },
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "GoogleTypeDate",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaUserEvent": {
      "type": "object",
      "properties": {
        "attributionToken": {
          "description": "Token to attribute an API response to user action(s) to trigger the event. Highly recommended for user events that are the result of PredictionService.Predict. This field enables accurate attribution of recommendation model performance. The value must be one of: * PredictResponse.attribution_token for events that are the result of PredictionService.Predict. * SearchResponse.attribution_token for events that are the result of SearchService.Search. * CompleteQueryResponse.attribution_token for events that are the result of SearchService.CompleteQuery. This token enables us to accurately attribute page view or conversion completion back to the event and the particular predict response containing this clicked/purchased product. If user clicks on product K in the recommendation results, pass PredictResponse.attribution_token as a URL parameter to product K's page. When recording events on product K's page, log the PredictResponse.attribution_token to this field.",
          "type": "string"
        },
        "panel": {
          "description": "Panel metadata associated with this user event.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaPanelInfo"
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaCustomAttribute"
          },
          "description": "Extra user event features to include in the recommendation model. These attributes must NOT contain data that needs to be parsed or processed further, e.g. JSON or other encodings. If you provide custom attributes for ingested user events, also include them in the user events that you associate with prediction requests. Custom attribute formatting must be consistent between imported events and events provided with prediction requests. This lets the Discovery Engine API use those custom attributes when training models and serving predictions, which helps improve recommendation quality. This field needs to pass all below criteria, otherwise an INVALID_ARGUMENT error is returned: * The key must be a UTF-8 encoded string with a length limit of 5,000 characters. * For text attributes, at most 400 values are allowed. Empty values are not allowed. Each value must be a UTF-8 encoded string with a length limit of 256 characters. * For number attributes, at most 400 values are allowed. For product recommendations, an example of extra user information is traffic_channel, which is how a user arrives at the site. Users can arrive at the site by coming to the site directly, coming through Google search, or in other ways."
        },
        "sessionId": {
          "type": "string",
          "description": "A unique identifier for tracking a visitor session with a length limit of 128 bytes. A session is an aggregation of an end user behavior in a time span. A general guideline to populate the session_id: 1. If user has no activity for 30 min, a new session_id should be assigned. 2. The session_id should be unique across users, suggest use uuid or add UserEvent.user_pseudo_id as prefix."
        },
        "eventType": {
          "type": "string",
          "description": "Required. User event type. Allowed values are: Generic values: * `search`: Search for Documents. * `view-item`: Detailed page view of a Document. * `view-item-list`: View of a panel or ordered list of Documents. * `view-home-page`: View of the home page. * `view-category-page`: View of a category page, e.g. Home \u003e Men \u003e Jeans Retail-related values: * `add-to-cart`: Add an item(s) to cart, e.g. in Retail online shopping * `purchase`: Purchase an item(s) Media-related values: * `media-play`: Start/resume watching a video, playing a song, etc. * `media-complete`: Finished or stopped midway through a video, song, etc."
        },
        "userPseudoId": {
          "description": "Required. A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor log in/out of the website. Do not set the field to the same fixed ID for different users. This mixes the event history of those users together, which results in degraded model quality. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned. The field should not contain PII or user-data. We recommend to use Google Analytics [Client ID](https://developers.google.com/analytics/devguides/collection/analyticsjs/field-reference#clientId) for this field.",
          "type": "string"
        },
        "documents": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentInfo"
          },
          "type": "array",
          "description": "List of Documents associated with this user event. This field is optional except for the following event types: * `view-item` * `add-to-cart` * `purchase` * `media-play` * `media-complete` In a `search` event, this field represents the documents returned to the end user on the current page (the end user may have not finished browsing the whole page yet). When a new page is returned to the end user, after pagination/filtering/ordering even for the same query, a new `search` event with different UserEvent.documents is desired."
        },
        "completionInfo": {
          "description": "CompleteQuery API details related to the event. This field should be set for `search` event when autocomplete function is enabled and the user clicks a suggestion for search.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaCompletionInfo"
        },
        "mediaInfo": {
          "description": "Media-specific info.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaMediaInfo"
        },
        "eventTime": {
          "format": "google-datetime",
          "description": "Only required for UserEventService.ImportUserEvents method. Timestamp of when the user event happened.",
          "type": "string"
        },
        "transactionInfo": {
          "description": "The transaction metadata (if any) associated with this user event.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaTransactionInfo"
        },
        "pageInfo": {
          "description": "Page metadata such as categories and other critical information for certain event types such as `view-category-page`.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaPageInfo"
        },
        "filter": {
          "type": "string",
          "description": "The filter syntax consists of an expression language for constructing a predicate from one or more fields of the documents being filtered. One example is for `search` events, the associated SearchService.SearchRequest may contain a filter expression in SearchService.SearchRequest.filter conforming to https://google.aip.dev/160#filtering. Similarly, for `view-item-list` events that are generated from a PredictionService.PredictRequest, this field may be populated directly from PredictionService.PredictRequest.filter conforming to https://google.aip.dev/160#filtering. The value must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "directUserRequest": {
          "description": "Should set to true if the request is made directly from the end user, in which case the UserEvent.user_info.user_agent can be populated from the HTTP request. This flag should be set only if the API request is made directly from the end user such as a mobile app (and not if a gateway or a server is processing and pushing the user events). This should not be set when using the JavaScript tag in UserEventService.CollectUserEvent.",
          "type": "boolean"
        },
        "searchInfo": {
          "description": "Search API details related to the event. This field should be set for `search` event.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchInfo"
        },
        "promotionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The promotion IDs if this is an event associated with promotions. Currently, this field is restricted to at most one ID."
        },
        "tagIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of identifiers for the independent experiment groups this user event belongs to. This is used to distinguish between user events associated with different experiment setups on the customer end."
        },
        "userInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaUserInfo",
          "description": "Information about the end user."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaUserEvent",
      "description": "UserEvent captures all metadata information Discovery Engine API needs to know about how end users interact with customers' website."
    },
    "GoogleCloudDiscoveryengineV1alphaUserInfo": {
      "description": "Information of an end user.",
      "id": "GoogleCloudDiscoveryengineV1alphaUserInfo",
      "type": "object",
      "properties": {
        "userId": {
          "type": "string",
          "description": "Highly recommended for logged-in users. Unique identifier for logged-in user, such as a user name. Don't set for anonymous users. Always use a hashed value for this ID. Don't set the field to the same fixed ID for different users. This mixes the event history of those users together, which results in degraded model quality. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "userAgent": {
          "type": "string",
          "description": "User agent as included in the HTTP header. Required for getting SearchResponse.sponsored_results. The field must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. This should not be set when using the client side event reporting with GTM or JavaScript tag in UserEventService.CollectUserEvent or if direct_user_request is set."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaImportUserEventsMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaImportUserEventsMetadata",
      "description": "Metadata related to the progress of the Import operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "successCount": {
          "type": "string",
          "description": "Count of entries that were processed successfully.",
          "format": "int64"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        },
        "failureCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of entries that encountered errors while processing."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaImportUserEventsRequest": {
      "type": "object",
      "properties": {
        "errorConfig": {
          "description": "The desired location of errors incurred during the Import. Cannot be set for inline user event imports.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportErrorConfig"
        },
        "gcsSource": {
          "description": "Required. Google Cloud Storage location for the input content.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaGcsSource"
        },
        "inlineSource": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportUserEventsRequestInlineSource",
          "description": "Required. The Inline source for the input content for UserEvents."
        },
        "bigquerySource": {
          "description": "Required. BigQuery input source.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaBigQuerySource"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaImportUserEventsRequest",
      "description": "Request message for the ImportUserEvents request."
    },
    "GoogleCloudDiscoveryengineV1alphaDocument": {
      "type": "object",
      "description": "Document captures all raw metadata information of items to be recommended or searched.",
      "id": "GoogleCloudDiscoveryengineV1alphaDocument",
      "properties": {
        "jsonData": {
          "type": "string",
          "description": "The JSON string representation of the document. It should conform to the registered schema or an INVALID_ARGUMENT error is thrown."
        },
        "name": {
          "description": "Immutable. The full resource name of the document. Format: `projects/{project}/locations/{location}/dataStores/{data_store}/branches/{branch}/documents/{document_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "structData": {
          "description": "The structured JSON data for the document. It should conform to the registered schema or an INVALID_ARGUMENT error is thrown.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "schemaId": {
          "description": "Required. The identifier of the schema located in the same data store.",
          "type": "string"
        },
        "parentDocumentId": {
          "description": "The identifier of the parent document. Currently supports at most two level document hierarchy. Id should conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) standard with a length limit of 63 characters.",
          "type": "string"
        },
        "id": {
          "description": "Immutable. The identifier of the document. Id should conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) standard with a length limit of 63 characters.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaCustomAttribute": {
      "description": "A custom attribute that is not explicitly modeled in a resource, e.g. UserEvent.",
      "properties": {
        "text": {
          "description": "The textual values of this custom attribute. For example, `[\"yellow\", \"green\"]` when the key is \"color\". Empty string is not allowed. Otherwise, an INVALID_ARGUMENT error is returned. Exactly one of text or numbers should be set. Otherwise, an INVALID_ARGUMENT error is returned.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "numbers": {
          "items": {
            "format": "double",
            "type": "number"
          },
          "type": "array",
          "description": "The numerical values of this custom attribute. For example, `[2.3, 15.4]` when the key is \"lengths_cm\". Exactly one of text or numbers should be set. Otherwise, an INVALID_ARGUMENT error is returned."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaCustomAttribute",
      "type": "object"
    },
    "GoogleLongrunningListOperationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array"
        }
      },
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "GoogleCloudDiscoveryengineV1alphaPanelInfo": {
      "description": "Detailed panel information associated with a user event.",
      "type": "object",
      "properties": {
        "panelId": {
          "description": "Required. The panel ID.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the panel.",
          "type": "string"
        },
        "panelPosition": {
          "type": "integer",
          "description": "The ordered position of the panel, if shown to the user with other panels. If set, then total_panels must also be set.",
          "format": "int32"
        },
        "totalPanels": {
          "type": "integer",
          "description": "The total number of panels, including this one, shown to the user. Must be set if panel_position is set.",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaPanelInfo"
    },
    "GoogleCloudDiscoveryengineV1alphaListDocumentsResponse": {
      "type": "object",
      "description": "Response message for DocumentService.ListDocuments method.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListDocumentsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "documents": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaDocument"
          },
          "description": "The Documents.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaListDocumentsResponse"
    },
    "GoogleCloudDiscoveryengineV1alphaImportDocumentsRequestInlineSource": {
      "properties": {
        "documents": {
          "description": "Required. A list of documents to update/create. Each document must have a valid Document.id. Recommended max of 100 items.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaDocument"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaImportDocumentsRequestInlineSource",
      "type": "object",
      "description": "The inline source for the input config for ImportDocuments method."
    },
    "GoogleCloudDiscoveryengineV1alphaImportUserEventsMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaImportUserEventsMetadata",
      "description": "Metadata related to the progress of the Import operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "failureCount": {
          "format": "int64",
          "description": "Count of entries that encountered errors while processing.",
          "type": "string"
        },
        "successCount": {
          "description": "Count of entries that were processed successfully.",
          "type": "string",
          "format": "int64"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaTransactionInfo": {
      "id": "GoogleCloudDiscoveryengineV1alphaTransactionInfo",
      "properties": {
        "transactionId": {
          "description": "The transaction ID with a length limit of 128 characters.",
          "type": "string"
        },
        "tax": {
          "description": "All the taxes associated with the transaction.",
          "type": "number",
          "format": "float"
        },
        "currency": {
          "type": "string",
          "description": "Required. Currency code. Use three-character ISO-4217 code."
        },
        "value": {
          "description": "Required. Total non-zero value associated with the transaction. This value may include shipping, tax, or other adjustments to the total value that you want to include.",
          "format": "float",
          "type": "number"
        },
        "cost": {
          "type": "number",
          "format": "float",
          "description": "All the costs associated with the products. These can be manufacturing costs, shipping expenses not borne by the end user, or any other costs, such that: * Profit = value - tax - cost"
        },
        "discountValue": {
          "description": "The total discount(s) value applied to this transaction. This figure should be excluded from TransactionInfo.value For example, if a user paid TransactionInfo.value amount, then nominal (pre-discount) value of the transaction is the sum of TransactionInfo.value and TransactionInfo.discount_value This means that profit is calculated the same way, regardless of the discount value, and that TransactionInfo.discount_value can be larger than TransactionInfo.value: * Profit = value - tax - cost",
          "format": "float",
          "type": "number"
        }
      },
      "description": "A transaction represents the entire purchase transaction.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaBigQuerySource": {
      "properties": {
        "gcsStagingDir": {
          "description": "Intermediate Cloud Storage directory used for the import with a length limit of 2,000 characters. Can be specified if one wants to have the BigQuery export to a specific Cloud Storage directory.",
          "type": "string"
        },
        "dataSchema": {
          "type": "string",
          "description": "The schema to use when parsing the data from the source. Supported values for imports: * `user_event` (default): One JSON UserEvent per line. * `document` (default): One JSON Document per line. Each document must have a valid document.id."
        },
        "partitionDate": {
          "$ref": "GoogleTypeDate",
          "description": "BigQuery time partitioned table's _PARTITIONDATE in YYYY-MM-DD format."
        },
        "datasetId": {
          "type": "string",
          "description": "Required. The BigQuery data set to copy the data from with a length limit of 1,024 characters."
        },
        "tableId": {
          "description": "Required. The BigQuery table to copy the data from with a length limit of 1,024 characters.",
          "type": "string"
        },
        "projectId": {
          "description": "The project ID (can be project # or ID) that the BigQuery source is in with a length limit of 128 characters. If not specified, inherits the project ID from the parent request.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "BigQuery source import data from.",
      "id": "GoogleCloudDiscoveryengineV1alphaBigQuerySource"
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaImportDocumentsResponse": {
      "description": "Response of the ImportDocumentsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "properties": {
        "errorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportErrorConfig",
          "description": "Echoes the destination for the complete errors in the request if set."
        },
        "errorSamples": {
          "type": "array",
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaImportDocumentsResponse",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaImportErrorConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaImportErrorConfig",
      "description": "Configuration of destination for Import related errors.",
      "properties": {
        "gcsPrefix": {
          "description": "Google Cloud Storage prefix for import errors. This must be an empty, existing Cloud Storage directory. Import errors will be written to sharded files in this directory, one per line, as a JSON-encoded `google.rpc.Status` message.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchInfo": {
      "properties": {
        "offset": {
          "type": "integer",
          "description": "An integer that specifies the current offset for pagination (the 0-indexed starting location, amongst the products deemed by the API as relevant). See SearchRequest.offset for definition. If this field is negative, an INVALID_ARGUMENT is returned. This can only be set for `search` events. Other event types should not set this field. Otherwise, an INVALID_ARGUMENT error is returned.",
          "format": "int32"
        },
        "searchQuery": {
          "description": "The user's search query. See SearchRequest.query for definition. The value must be a UTF-8 encoded string with a length limit of 5,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. At least one of search_query or page_categories is required for `search` events. Other event types should not set this field. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        },
        "orderBy": {
          "description": "The order in which products are returned, if applicable. See SearchRequest.order_by for definition and syntax. The value must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. This can only be set for `search` events. Other event types should not set this field. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Detailed search information.",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchInfo"
    },
    "GoogleCloudDiscoveryengineV1alphaRecommendResponse": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaRecommendResponse",
      "properties": {
        "validateOnly": {
          "description": "True if RecommendRequest.validate_only was set.",
          "type": "boolean"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaRecommendResponseRecommendationResult"
          },
          "description": "A list of recommended Documents. The order represents the ranking (from the most relevant Document to the least)."
        },
        "attributionToken": {
          "type": "string",
          "description": "A unique attribution token. This should be included in the UserEvent logs resulting from this recommendation, which enables accurate attribution of recommendation model performance."
        },
        "missingIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "IDs of documents in the request that were missing from the default Branch associated with the requested ServingConfig."
        }
      },
      "description": "Response message for Recommend method."
    },
    "GoogleCloudDiscoveryengineV1alphaRecommendResponseRecommendationResult": {
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object",
          "description": "Additional Document metadata / annotations. Possible values: * `score`: Recommendation score in double value. Is set if `returnScore` is set to true in RecommendRequest.params."
        },
        "document": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaDocument",
          "description": "Set if `returnDocument` is set to true in RecommendRequest.params."
        },
        "id": {
          "description": "Resource ID of the recommended Document.",
          "type": "string"
        }
      },
      "description": "RecommendationResult represents a generic recommendation result with associated metadata.",
      "id": "GoogleCloudDiscoveryengineV1alphaRecommendResponseRecommendationResult",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaImportUserEventsRequestInlineSource": {
      "id": "GoogleCloudDiscoveryengineV1alphaImportUserEventsRequestInlineSource",
      "type": "object",
      "properties": {
        "userEvents": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaUserEvent"
          },
          "type": "array",
          "description": "Required. A list of user events to import. Recommended max of 10k items."
        }
      },
      "description": "The inline source for the input config for ImportUserEvents method."
    },
    "GoogleCloudDiscoveryengineV1alphaPageInfo": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaPageInfo",
      "properties": {
        "referrerUri": {
          "type": "string",
          "description": "The referrer URL of the current page. When using the client side event reporting with JavaScript pixel and Google Tag Manager, this value is filled in automatically. However, some browser privacy restrictions may cause this field to be empty."
        },
        "pageCategory": {
          "type": "string",
          "description": "The most specific category associated with a category page. To represent full path of category, use '\u003e' sign to separate different hierarchies. If '\u003e' is part of the category name, please replace it with other character(s). Category pages include special pages such as sales or promotions. For instance, a special sale page may have the category hierarchy: \"pageCategory\" : \"Sales \u003e 2017 Black Friday Deals\". Required for `view-category-page` events. Other event types should not set this field. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "pageviewId": {
          "type": "string",
          "description": "A unique ID of a web page view. This should be kept the same for all user events triggered from the same pageview. For example, an item detail page view could trigger multiple events as the user is browsing the page. The `pageViewId` property should be kept the same for all these events so that they can be grouped together properly. When using the client side event reporting with JavaScript pixel and Google Tag Manager, this value is filled in automatically."
        },
        "uri": {
          "description": "Complete URL (window.location.href) of the user's current page. When using the client side event reporting with JavaScript pixel and Google Tag Manager, this value is filled in automatically. Maximum length 5,000 characters.",
          "type": "string"
        }
      },
      "description": "Detailed page information."
    },
    "GoogleCloudDiscoveryengineV1alphaGcsSource": {
      "description": "Google Cloud Storage location for input content. format.",
      "id": "GoogleCloudDiscoveryengineV1alphaGcsSource",
      "properties": {
        "inputUris": {
          "items": {
            "type": "string"
          },
          "description": "Required. Google Cloud Storage URIs to input files. URI can be up to 2000 characters long. URIs can match the full object path (for example, `gs://bucket/directory/object.json`) or a pattern matching one or more files, such as `gs://bucket/directory/*.json`. A request can contain at most 100 files, and each file can be up to 2 GB.",
          "type": "array"
        },
        "dataSchema": {
          "type": "string",
          "description": "The schema to use when parsing the data from the source. Supported values for imports: * `user_event` (default): One JSON UserEvent per line. * `document` (default): One JSON Document per line. Each document must have a valid Document.id."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaImportDocumentsMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaImportDocumentsMetadata",
      "properties": {
        "successCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of entries that were processed successfully."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        },
        "failureCount": {
          "type": "string",
          "description": "Count of entries that encountered errors while processing.",
          "format": "int64"
        },
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Metadata related to the progress of the ImportDocuments operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleApiHttpBody": {
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "properties": {
        "extensions": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array",
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs."
        },
        "data": {
          "type": "string",
          "description": "The HTTP request/response body as raw binary.",
          "format": "byte"
        },
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        }
      },
      "id": "GoogleApiHttpBody",
      "type": "object"
    },
    "GoogleLongrunningOperation": {
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "GoogleLongrunningOperation"
    },
    "GoogleCloudDiscoveryengineV1alphaDocumentInfo": {
      "description": "Detailed document information associated with a user event.",
      "properties": {
        "id": {
          "description": "Required. The Document resource ID.",
          "type": "string"
        },
        "quantity": {
          "format": "int32",
          "description": "Quantity of the Document associated with the user event. Defaults to 1. For example, this field will be 2 if two quantities of the same Document are involved in a `add-to-cart` event. Required for events of the following event types: * `add-to-cart` * `purchase`",
          "type": "integer"
        },
        "name": {
          "type": "string",
          "description": "Required. The Document resource full name, of the form: projects//locations//dataStores//branches//documents/"
        },
        "promotionIds": {
          "description": "The promotion IDs associated with this Document. Currently, this field is restricted to at most one ID.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaDocumentInfo",
      "type": "object"
    },
    "GoogleRpcStatus": {
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleCloudDiscoveryengineV1alphaImportUserEventsResponse": {
      "description": "Response of the ImportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "id": "GoogleCloudDiscoveryengineV1alphaImportUserEventsResponse",
      "properties": {
        "unjoinedEventsCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of user events imported, but with Document information not found in the existing Branch."
        },
        "joinedEventsCount": {
          "type": "string",
          "description": "Count of user events imported with complete existing Documents.",
          "format": "int64"
        },
        "errorConfig": {
          "description": "Echoes the destination for the complete errors if this field was set in the request.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportErrorConfig"
        },
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaMediaInfo": {
      "type": "object",
      "description": "Media-specific user event information.",
      "properties": {
        "mediaProgressDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "The media progress time in seconds, if applicable. For example, if the end user has finished 90 seconds of a playback video, then MediaInfo.media_progress_duration.seconds should be set to 90."
        },
        "mediaProgressPercentage": {
          "format": "float",
          "type": "number",
          "description": "Media progress should be computed using only the media_progress_duration relative to the media total length. This value must be between [0, 1.0] inclusive. If this is not a playback or the progress cannot be computed (e.g. ongoing livestream), this field should be unset."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaMediaInfo"
    },
    "GoogleCloudDiscoveryengineV1betaImportDocumentsResponse": {
      "properties": {
        "errorConfig": {
          "description": "Echoes the destination for the complete errors in the request if set.",
          "$ref": "GoogleCloudDiscoveryengineV1betaImportErrorConfig"
        },
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaImportDocumentsResponse",
      "type": "object",
      "description": "Response of the ImportDocumentsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
    },
    "GoogleCloudDiscoveryengineV1betaImportUserEventsResponse": {
      "type": "object",
      "description": "Response of the ImportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "properties": {
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "A sample of errors encountered while processing the request."
        },
        "unjoinedEventsCount": {
          "type": "string",
          "description": "Count of user events imported, but with Document information not found in the existing Branch.",
          "format": "int64"
        },
        "errorConfig": {
          "description": "Echoes the destination for the complete errors if this field was set in the request.",
          "$ref": "GoogleCloudDiscoveryengineV1betaImportErrorConfig"
        },
        "joinedEventsCount": {
          "description": "Count of user events imported with complete existing Documents.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaImportUserEventsResponse"
    },
    "GoogleCloudDiscoveryengineV1betaImportErrorConfig": {
      "properties": {
        "gcsPrefix": {
          "type": "string",
          "description": "Google Cloud Storage prefix for import errors. This must be an empty, existing Cloud Storage directory. Import errors will be written to sharded files in this directory, one per line, as a JSON-encoded `google.rpc.Status` message."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaImportErrorConfig",
      "type": "object",
      "description": "Configuration of destination for Import related errors."
    }
  },
  "protocol": "rest",
  "canonicalName": "Discovery Engine",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "baseUrl": "https://discoveryengine.googleapis.com/",
  "title": "Discovery Engine API",
  "ownerName": "Google",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "version": "v1alpha",
  "ownerDomain": "google.com",
  "version_module": true,
  "basePath": "",
  "revision": "20221107",
  "documentationLink": "https://cloud.google.com/discovery-engine/docs",
  "mtlsRootUrl": "https://discoveryengine.mtls.googleapis.com/"
}
