{
  "version": "v1alpha",
  "baseUrl": "https://discoveryengine.googleapis.com/",
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/discovery-engine/docs",
  "canonicalName": "Discovery Engine",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://discoveryengine.googleapis.com/",
  "revision": "20230928",
  "schemas": {
    "GoogleCloudDiscoveryengineV1alphaTargetSiteFailureReason": {
      "description": "Site search indexing failure reasons.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaTargetSiteFailureReason",
      "properties": {
        "quotaFailure": {
          "description": "Failed due to insufficient quota.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaTargetSiteFailureReasonQuotaFailure"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1ImportUserEventsResponse": {
      "id": "GoogleCloudDiscoveryengineV1ImportUserEventsResponse",
      "type": "object",
      "description": "Response of the ImportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "properties": {
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "unjoinedEventsCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of user events imported, but with Document information not found in the existing Branch."
        },
        "joinedEventsCount": {
          "type": "string",
          "description": "Count of user events imported with complete existing Documents.",
          "format": "int64"
        },
        "errorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1ImportErrorConfig",
          "description": "Echoes the destination for the complete errors if this field was set in the request."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseGeoSearchDebugInfo": {
      "description": "Debug information specifically related to forward geocoding issues arising from Geolocation Search.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseGeoSearchDebugInfo",
      "properties": {
        "originalAddressQuery": {
          "type": "string",
          "description": "The address from which forward geocoding ingestion produced issues."
        },
        "errorMessage": {
          "description": "The error produced.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaTransactionInfo": {
      "id": "GoogleCloudDiscoveryengineV1alphaTransactionInfo",
      "description": "A transaction represents the entire purchase transaction.",
      "properties": {
        "transactionId": {
          "type": "string",
          "description": "The transaction ID with a length limit of 128 characters."
        },
        "tax": {
          "description": "All the taxes associated with the transaction.",
          "type": "number",
          "format": "float"
        },
        "value": {
          "format": "float",
          "type": "number",
          "description": "Required. Total non-zero value associated with the transaction. This value may include shipping, tax, or other adjustments to the total value that you want to include."
        },
        "currency": {
          "description": "Required. Currency code. Use three-character ISO-4217 code.",
          "type": "string"
        },
        "cost": {
          "format": "float",
          "type": "number",
          "description": "All the costs associated with the products. These can be manufacturing costs, shipping expenses not borne by the end user, or any other costs, such that: * Profit = value - tax - cost"
        },
        "discountValue": {
          "type": "number",
          "description": "The total discount(s) value applied to this transaction. This figure should be excluded from TransactionInfo.value For example, if a user paid TransactionInfo.value amount, then nominal (pre-discount) value of the transaction is the sum of TransactionInfo.value and TransactionInfo.discount_value This means that profit is calculated the same way, regardless of the discount value, and that TransactionInfo.discount_value can be larger than TransactionInfo.value: * Profit = value - tax - cost",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaWidgetCompleteQueryResponse": {
      "type": "object",
      "properties": {
        "uToken": {
          "type": "string",
          "description": "The token in response."
        },
        "widgetQuerySuggestions": {
          "description": "Results of the matched query suggestions in widget. The result list is ordered and the first result is a top suggestion.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaWidgetCompleteQueryResponseWidgetQuerySuggestion"
          },
          "type": "array"
        }
      },
      "description": "Response message for WidgetService.WidgetCompleteQuery method.",
      "id": "GoogleCloudDiscoveryengineV1alphaWidgetCompleteQueryResponse"
    },
    "GoogleCloudDiscoveryengineV1alphaWidgetConfigFacetField": {
      "properties": {
        "field": {
          "type": "string",
          "description": "Required. Registered field name. The format is `field.abc`."
        },
        "displayName": {
          "description": "Optional. The field name that end users will see.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaWidgetConfigFacetField",
      "type": "object",
      "description": "Facet fields that store the mapping of fields to end user widget appearance."
    },
    "GoogleCloudDiscoveryengineV1alphaMediaInfo": {
      "id": "GoogleCloudDiscoveryengineV1alphaMediaInfo",
      "description": "Media-specific user event information.",
      "properties": {
        "mediaProgressDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "The media progress time in seconds, if applicable. For example, if the end user has finished 90 seconds of a playback video, then MediaInfo.media_progress_duration.seconds should be set to 90."
        },
        "mediaProgressPercentage": {
          "format": "float",
          "type": "number",
          "description": "Media progress should be computed using only the media_progress_duration relative to the media total length. This value must be between `[0, 1.0]` inclusive. If this is not a playback or the progress cannot be computed (e.g. ongoing livestream), this field should be unset."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaWidgetCompleteQueryRequest": {
      "id": "GoogleCloudDiscoveryengineV1alphaWidgetCompleteQueryRequest",
      "properties": {
        "additionalParams": {
          "description": "Additional params for security and privacy enhancement.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAdditionalParams"
        },
        "completeQueryRequest": {
          "description": "Required. The CompleteQuery request to perform auto-complete suggestion query.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaCompleteQueryRequest"
        },
        "configId": {
          "type": "string",
          "description": "Required. The UUID of the WidgetConfig. This field is used to identify the widget configuration, set of models used to make the auto complete query."
        }
      },
      "description": "Request message for WidgetService.WidgetCompleteQuery method.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ImportDocumentsMetadata": {
      "description": "Metadata related to the progress of the ImportDocuments operation. This is returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "successCount": {
          "type": "string",
          "description": "Count of entries that were processed successfully.",
          "format": "int64"
        },
        "failureCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of entries that encountered errors while processing."
        },
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1ImportDocumentsMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecExtractiveContentSpec": {
      "description": "A specification for configuring the extractive content in a search response.",
      "properties": {
        "maxExtractiveSegmentCount": {
          "type": "integer",
          "description": "The max number of extractive segments returned in each search result. Only applied if the DataStore is set to DataStore.ContentConfig.CONTENT_REQUIRED or DataStore.solution_types is SOLUTION_TYPE_CHAT. An extractive segment is a text segment extracted from the original document that is relevant to the search query, and, in general, more verbose than an extractive answer. The segment could then be used as input for LLMs to generate summaries and answers. If the number of matching segments is less than `max_extractive_segment_count`, return all of the segments. Otherwise, return the `max_extractive_segment_count`.",
          "format": "int32"
        },
        "numNextSegments": {
          "format": "int32",
          "description": "Return at most `num_next_segments` segments after each selected segments.",
          "type": "integer"
        },
        "maxExtractiveAnswerCount": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of extractive answers returned in each search result. An extractive answer is a verbatim answer extracted from the original document, which provides a precise and contextually relevant answer to the search query. If the number of matching answers is less than the `max_extractive_answer_count`, return all of the answers. Otherwise, return the `max_extractive_answer_count`. At most one answer is returned for each SearchResult."
        },
        "numPreviousSegments": {
          "description": "Specifies whether to also include the adjacent from each selected segments. Return at most `num_previous_segments` segments before each selected segments.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecExtractiveContentSpec"
    },
    "GoogleCloudDiscoveryengineV1alphaCompleteQueryResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaCompleteQueryResponse",
      "properties": {
        "tailMatchTriggered": {
          "description": "True if the returned suggestions are all tail suggestions. For tail matching to be triggered, include_tail_suggestions in the request must be true and there must be no suggestions that match the full query.",
          "type": "boolean"
        },
        "querySuggestions": {
          "description": "Results of the matched query suggestions. The result list is ordered and the first result is a top suggestion.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaCompleteQueryResponseQuerySuggestion"
          }
        }
      },
      "description": "Response message for CompletionService.CompleteQuery method.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseSummary": {
      "description": "Summary of the top N search result specified by the summary spec.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummary",
      "properties": {
        "summaryText": {
          "description": "The summary content.",
          "type": "string"
        },
        "summarySkippedReasons": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default value. The summary skipped reason is not specified.",
              "The adversarial query ignored case. Only populated when SummarySpec.ignore_adversarial_query is set to `true`.",
              "The non-summary seeking query ignored case. Only populated when SummarySpec.ignore_non_summary_seeking_query is set to `true`.",
              "The out-of-domain query ignored case. Google skips the summary if there are no high-relevance search results. For example, the data store contains facts about company A but the user query is asking questions about company B.",
              "The potential policy violation case. Google skips the summary if there is a potential policy violation detected. This includes content that may be violent or toxic.",
              "The LLM addon not enabled case. Google skips the summary if the LLM addon is not enabled."
            ],
            "enum": [
              "SUMMARY_SKIPPED_REASON_UNSPECIFIED",
              "ADVERSARIAL_QUERY_IGNORED",
              "NON_SUMMARY_SEEKING_QUERY_IGNORED",
              "OUT_OF_DOMAIN_QUERY_IGNORED",
              "POTENTIAL_POLICY_VIOLATION",
              "LLM_ADDON_NOT_ENABLED"
            ],
            "type": "string"
          },
          "description": "Additional summary-skipped reasons. This provides the reason for ignored cases. If nothing is skipped, this field is not set."
        },
        "safetyAttributes": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummarySafetyAttributes",
          "description": "A collection of Safety Attribute categories and their associated confidence scores."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaUserEvent": {
      "id": "GoogleCloudDiscoveryengineV1alphaUserEvent",
      "type": "object",
      "properties": {
        "panel": {
          "description": "Panel metadata associated with this user event.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaPanelInfo"
        },
        "sessionId": {
          "type": "string",
          "description": "A unique identifier for tracking a visitor session with a length limit of 128 bytes. A session is an aggregation of an end user behavior in a time span. A general guideline to populate the session_id: 1. If user has no activity for 30 min, a new session_id should be assigned. 2. The session_id should be unique across users, suggest use uuid or add UserEvent.user_pseudo_id as prefix."
        },
        "eventType": {
          "description": "Required. User event type. Allowed values are: Generic values: * `search`: Search for Documents. * `view-item`: Detailed page view of a Document. * `view-item-list`: View of a panel or ordered list of Documents. * `view-home-page`: View of the home page. * `view-category-page`: View of a category page, e.g. Home \u003e Men \u003e Jeans Retail-related values: * `add-to-cart`: Add an item(s) to cart, e.g. in Retail online shopping * `purchase`: Purchase an item(s) Media-related values: * `media-play`: Start/resume watching a video, playing a song, etc. * `media-complete`: Finished or stopped midway through a video, song, etc.",
          "type": "string"
        },
        "mediaInfo": {
          "description": "Media-specific info.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaMediaInfo"
        },
        "pageInfo": {
          "description": "Page metadata such as categories and other critical information for certain event types such as `view-category-page`.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaPageInfo"
        },
        "documents": {
          "description": "List of Documents associated with this user event. This field is optional except for the following event types: * `view-item` * `add-to-cart` * `purchase` * `media-play` * `media-complete` In a `search` event, this field represents the documents returned to the end user on the current page (the end user may have not finished browsing the whole page yet). When a new page is returned to the end user, after pagination/filtering/ordering even for the same query, a new `search` event with different UserEvent.documents is desired.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentInfo"
          }
        },
        "userPseudoId": {
          "type": "string",
          "description": "Required. A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor log in/out of the website. Do not set the field to the same fixed ID for different users. This mixes the event history of those users together, which results in degraded model quality. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned. The field should not contain PII or user-data. We recommend to use Google Analytics [Client ID](https://developers.google.com/analytics/devguides/collection/analyticsjs/field-reference#clientId) for this field."
        },
        "eventTime": {
          "description": "Only required for UserEventService.ImportUserEvents method. Timestamp of when the user event happened.",
          "format": "google-datetime",
          "type": "string"
        },
        "directUserRequest": {
          "type": "boolean",
          "description": "Should set to true if the request is made directly from the end user, in which case the UserEvent.user_info.user_agent can be populated from the HTTP request. This flag should be set only if the API request is made directly from the end user such as a mobile app (and not if a gateway or a server is processing and pushing the user events). This should not be set when using the JavaScript tag in UserEventService.CollectUserEvent."
        },
        "promotionIds": {
          "description": "The promotion IDs if this is an event associated with promotions. Currently, this field is restricted to at most one ID.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "searchInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchInfo",
          "description": "SearchService.Search details related to the event. This field should be set for `search` event."
        },
        "attributes": {
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaCustomAttribute"
          },
          "type": "object",
          "description": "Extra user event features to include in the recommendation model. These attributes must NOT contain data that needs to be parsed or processed further, e.g. JSON or other encodings. If you provide custom attributes for ingested user events, also include them in the user events that you associate with prediction requests. Custom attribute formatting must be consistent between imported events and events provided with prediction requests. This lets the Discovery Engine API use those custom attributes when training models and serving predictions, which helps improve recommendation quality. This field needs to pass all below criteria, otherwise an `INVALID_ARGUMENT` error is returned: * The key must be a UTF-8 encoded string with a length limit of 5,000 characters. * For text attributes, at most 400 values are allowed. Empty values are not allowed. Each value must be a UTF-8 encoded string with a length limit of 256 characters. * For number attributes, at most 400 values are allowed. For product recommendations, an example of extra user information is `traffic_channel`, which is how a user arrives at the site. Users can arrive at the site by coming to the site directly, coming through Google search, or in other ways."
        },
        "transactionInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaTransactionInfo",
          "description": "The transaction metadata (if any) associated with this user event."
        },
        "tagIds": {
          "description": "A list of identifiers for the independent experiment groups this user event belongs to. This is used to distinguish between user events associated with different experiment setups on the customer end.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "userInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaUserInfo",
          "description": "Information about the end user."
        },
        "attributionToken": {
          "description": "Token to attribute an API response to user action(s) to trigger the event. Highly recommended for user events that are the result of RecommendationService.Recommend. This field enables accurate attribution of recommendation model performance. The value must be one of: * RecommendResponse.attribution_token for events that are the result of RecommendationService.Recommend. * SearchResponse.attribution_token for events that are the result of SearchService.Search. This token enables us to accurately attribute page view or conversion completion back to the event and the particular predict response containing this clicked/purchased product. If user clicks on product K in the recommendation results, pass RecommendResponse.attribution_token as a URL parameter to product K's page. When recording events on product K's page, log the RecommendResponse.attribution_token to this field.",
          "type": "string"
        },
        "completionInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaCompletionInfo",
          "description": "CompletionService.CompleteQuery details related to the event. This field should be set for `search` event when autocomplete function is enabled and the user clicks a suggestion for search."
        },
        "filter": {
          "description": "The filter syntax consists of an expression language for constructing a predicate from one or more fields of the documents being filtered. One example is for `search` events, the associated SearchRequest may contain a filter expression in SearchRequest.filter conforming to https://google.aip.dev/160#filtering. Similarly, for `view-item-list` events that are generated from a RecommendationService.RecommendRequest, this field may be populated directly from RecommendationService.RecommendRequest.filter conforming to https://google.aip.dev/160#filtering. The value must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "type": "string"
        }
      },
      "description": "UserEvent captures all metadata information Discovery Engine API needs to know about how end users interact with customers' website."
    },
    "GoogleCloudDiscoveryengineV1alphaPurgeUserEventsResponse": {
      "description": "Response of the PurgeUserEventsRequest. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field.",
      "properties": {
        "purgeCount": {
          "description": "The total count of events purged as a result of the operation.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaPurgeUserEventsResponse",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaBatchCreateTargetSitesResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaBatchCreateTargetSitesResponse",
      "properties": {
        "targetSites": {
          "description": "TargetSites created.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaTargetSite"
          }
        }
      },
      "type": "object",
      "description": "Response message for SiteSearchEngineService.BatchCreateTargetSites method."
    },
    "GoogleCloudDiscoveryengineV1betaDeleteSchemaMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaDeleteSchemaMetadata",
      "type": "object",
      "description": "Metadata for DeleteSchema LRO.",
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpec": {
      "properties": {
        "languageCode": {
          "description": "Language code for Summary. Use language tags defined by [BCP47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt). Note: This is an experimental feature.",
          "type": "string"
        },
        "ignoreAdversarialQuery": {
          "type": "boolean",
          "description": "Specifies whether to filter out adversarial queries. The default value is `false`. Google employs search-query classification to detect adversarial queries. No summary is returned if the search query is classified as an adversarial query. For example, a user might ask a question regarding negative comments about the company or submit a query designed to generate unsafe, policy-violating output. If this field is set to `true`, we skip generating summaries for adversarial queries and return fallback messages instead."
        },
        "includeCitations": {
          "description": "Specifies whether to include citations in the summary. The default value is `false`. When this field is set to `true`, summaries include in-line citation numbers. Example summary including citations: BigQuery is Google Cloud's fully managed and completely serverless enterprise data warehouse [1]. BigQuery supports all data types, works across clouds, and has built-in machine learning and business intelligence, all within a unified platform [2, 3]. The citation numbers refer to the returned search results and are 1-indexed. For example, [1] means that the sentence is attributed to the first search result. [2, 3] means that the sentence is attributed to both the second and third search results.",
          "type": "boolean"
        },
        "summaryResultCount": {
          "format": "int32",
          "description": "The number of top results to generate the summary from. If the number of results returned is less than `summaryResultCount`, the summary is generated from all of the results. At most five results can be used to generate a summary.",
          "type": "integer"
        },
        "ignoreNonSummarySeekingQuery": {
          "description": "Specifies whether to filter out queries that are not summary-seeking. The default value is `false`. Google employs search-query classification to detect summary-seeking queries. No summary is returned if the search query is classified as a non-summary seeking query. For example, `why is the sky blue` and `Who is the best soccer player in the world?` are summary-seeking queries, but `SFO airport` and `world cup 2026` are not. They are most likely navigational queries. If this field is set to `true`, we skip generating summaries for non-summary seeking queries and return fallback messages instead.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "A specification for configuring a summary returned in a search response.",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpec"
    },
    "GoogleCloudDiscoveryengineV1alphaImportDocumentsRequestInlineSource": {
      "properties": {
        "documents": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaDocument"
          },
          "description": "Required. A list of documents to update/create. Each document must have a valid Document.id. Recommended max of 100 items.",
          "type": "array"
        }
      },
      "description": "The inline source for the input config for ImportDocuments method.",
      "id": "GoogleCloudDiscoveryengineV1alphaImportDocumentsRequestInlineSource",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineLoggingErrorLog": {
      "description": "An error log which is reported to the Error Reporting system.",
      "id": "GoogleCloudDiscoveryengineLoggingErrorLog",
      "properties": {
        "requestPayload": {
          "type": "object",
          "description": "The API request payload, represented as a protocol buffer. Most API request types are supported—for example: * `type.googleapis.com/google.cloud.discoveryengine.v1alpha.DocumentService.CreateDocumentRequest` * `type.googleapis.com/google.cloud.discoveryengine.v1alpha.UserEventService.WriteUserEventRequest`",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "context": {
          "$ref": "GoogleCloudDiscoveryengineLoggingErrorContext",
          "description": "A description of the context in which the error occurred."
        },
        "serviceContext": {
          "description": "The service context in which this error has occurred.",
          "$ref": "GoogleCloudDiscoveryengineLoggingServiceContext"
        },
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The RPC status associated with the error log."
        },
        "responsePayload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The API response payload, represented as a protocol buffer. This is used to log some \"soft errors\", where the response is valid but we consider there are some quality issues like unjoined events. The following API responses are supported, and no PII is included: * `google.cloud.discoveryengine.v1alpha.RecommendationService.Recommend` * `google.cloud.discoveryengine.v1alpha.UserEventService.WriteUserEvent` * `google.cloud.discoveryengine.v1alpha.UserEventService.CollectUserEvent`",
          "type": "object"
        },
        "importPayload": {
          "$ref": "GoogleCloudDiscoveryengineLoggingImportErrorContext",
          "description": "The error payload that is populated on LRO import APIs."
        },
        "message": {
          "description": "A message describing the error.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ImportErrorConfig": {
      "properties": {
        "gcsPrefix": {
          "type": "string",
          "description": "Cloud Storage prefix for import errors. This must be an empty, existing Cloud Storage directory. Import errors are written to sharded files in this directory, one per line, as a JSON-encoded `google.rpc.Status` message."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1ImportErrorConfig",
      "type": "object",
      "description": "Configuration of destination for Import related errors."
    },
    "GoogleTypeDate": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "GoogleTypeDate",
      "properties": {
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        },
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaLookupWidgetConfigRequest": {
      "properties": {
        "widgetConfigId": {
          "type": "string",
          "description": "Required. The UUID of the Widget Config."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaLookupWidgetConfigRequest",
      "type": "object",
      "description": "Request message for WidgetService.LookupWidgetConfig method."
    },
    "GoogleCloudDiscoveryengineV1betaPurgeDocumentsMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the PurgeDocuments operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1betaPurgeDocumentsMetadata",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        },
        "failureCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of entries that encountered errors while processing."
        },
        "successCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of entries that were deleted successfully."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaUserInfo": {
      "id": "GoogleCloudDiscoveryengineV1alphaUserInfo",
      "type": "object",
      "properties": {
        "userId": {
          "description": "Highly recommended for logged-in users. Unique identifier for logged-in user, such as a user name. Don't set for anonymous users. Always use a hashed value for this ID. Don't set the field to the same fixed ID for different users. This mixes the event history of those users together, which results in degraded model quality. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "type": "string"
        },
        "userAgent": {
          "description": "User agent as included in the HTTP header. The field must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an `INVALID_ARGUMENT` error is returned. This should not be set when using the client side event reporting with GTM or JavaScript tag in UserEventService.CollectUserEvent or if UserEvent.direct_user_request is set.",
          "type": "string"
        }
      },
      "description": "Information of an end user."
    },
    "GoogleCloudDiscoveryengineV1alphaImportUserEventsRequestInlineSource": {
      "properties": {
        "userEvents": {
          "description": "Required. A list of user events to import. Recommended max of 10k items.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaUserEvent"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaImportUserEventsRequestInlineSource",
      "type": "object",
      "description": "The inline source for the input config for ImportUserEvents method."
    },
    "GoogleCloudDiscoveryengineV1alphaListDocumentsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListDocumentsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "documents": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaDocument"
          },
          "type": "array",
          "description": "The Documents."
        }
      },
      "type": "object",
      "description": "Response message for DocumentService.ListDocuments method.",
      "id": "GoogleCloudDiscoveryengineV1alphaListDocumentsResponse"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequest": {
      "type": "object",
      "properties": {
        "facetSpecs": {
          "description": "Facet specifications for faceted search. If empty, no facets are returned. A maximum of 100 values are allowed. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestFacetSpec"
          }
        },
        "safeSearch": {
          "type": "boolean",
          "description": "Whether to turn on safe search. This is only supported for website search."
        },
        "userInfo": {
          "description": "Information about the end user. Highly recommended for analytics. UserInfo.user_agent is used to deduce `device_type` for analytics.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaUserInfo"
        },
        "pageToken": {
          "description": "A page token received from a previous SearchService.Search call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to SearchService.Search must match the call that provided the page token. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "type": "string"
        },
        "offset": {
          "type": "integer",
          "description": "A 0-indexed integer that specifies the current offset (that is, starting result location, amongst the Documents deemed by the API as relevant) in search results. This field is only considered if page_token is unset. If this field is negative, an `INVALID_ARGUMENT` is returned.",
          "format": "int32"
        },
        "queryExpansionSpec": {
          "description": "The query expansion specification that specifies the conditions under which query expansion occurs.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestQueryExpansionSpec"
        },
        "servingConfig": {
          "type": "string",
          "description": "Required. The resource name of the Search serving config, such as `projects/*/locations/global/collections/default_collection/dataStores/default_data_store/servingConfigs/default_serving_config`. This field is used to identify the serving configuration name, set of models used to make the search."
        },
        "userLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The user labels applied to a resource must meet the following requirements: * Each resource can have multiple labels, up to a maximum of 64. * Each label must be a key-value pair. * Keys have a minimum length of 1 character and a maximum length of 63 characters and cannot be empty. Values can be empty and have a maximum length of 63 characters. * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. All characters must use UTF-8 encoding, and international characters are allowed. * The key portion of a label must be unique. However, you can use the same key with multiple resources. * Keys must start with a lowercase letter or international character. See [Google Cloud Document](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements) for more details."
        },
        "orderBy": {
          "description": "The order in which documents are returned. Documents can be ordered by a field in an Document object. Leave it unset if ordered by relevance. `order_by` expression is case-sensitive. If this field is unrecognizable, an `INVALID_ARGUMENT` is returned.",
          "type": "string"
        },
        "spellCorrectionSpec": {
          "description": "The spell correction specification that specifies the mode under which spell correction takes effect.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestSpellCorrectionSpec"
        },
        "branch": {
          "type": "string",
          "description": "The branch resource name, such as `projects/*/locations/global/collections/default_collection/dataStores/default_data_store/branches/0`. Use `default_branch` as the branch ID or leave this field empty, to search documents under the default branch."
        },
        "params": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object",
          "description": "Additional search parameters. For public website search only, supported values are: * `user_country_code`: string. Default empty. If set to non-empty, results are restricted or boosted based on the location provided. * `search_type`: double. Default empty. Enables non-webpage searching depending on the value. The only valid non-default value is 1, which enables image searching."
        },
        "filter": {
          "type": "string",
          "description": "The filter syntax consists of an expression language for constructing a predicate from one or more fields of the documents being filtered. Filter expression is case-sensitive. If this field is unrecognizable, an `INVALID_ARGUMENT` is returned."
        },
        "imageQuery": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestImageQuery",
          "description": "Raw image query."
        },
        "boostSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpec",
          "description": "Boost specification to boost certain documents."
        },
        "userPseudoId": {
          "description": "A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor logs in or out of the website. This field should NOT have a fixed value such as `unknown_visitor`. This should be the same identifier as UserEvent.user_pseudo_id and CompleteQueryRequest.user_pseudo_id The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "type": "string"
        },
        "embeddingSpec": {
          "description": "Uses the provided embedding to do additional semantic document retrieval. The retrieval is based on the dot product of SearchRequest.embedding_spec.embedding_vectors.vector and the document embedding that is provided in SearchRequest.embedding_spec.embedding_vectors.field_path. If SearchRequest.embedding_spec.embedding_vectors.field_path is not provided, it will use ServingConfig.embedding_config.field_paths.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestEmbeddingSpec"
        },
        "pageSize": {
          "type": "integer",
          "description": "Maximum number of Documents to return. If unspecified, defaults to a reasonable value. The maximum allowed value is 100. Values above 100 are coerced to 100. If this field is negative, an `INVALID_ARGUMENT` is returned.",
          "format": "int32"
        },
        "rankingExpression": {
          "description": "The ranking expression controls the customized ranking on retrieval documents. This overrides ServingConfig.ranking_expression. The ranking expression is a single function or multiple functions that are joint by \"+\". * ranking_expression = function, { \" + \", function }; Supported functions: * double * relevance_score * double * dotProduct(embedding_field_path) Function variables: `relevance_score`: pre-defined keywords, used for measure relevance between query and document. `embedding_field_path`: the document embedding field used with query embedding vector. `dotProduct`: embedding function between embedding_field_path and query embedding vector. Example ranking expression: If document has an embedding field doc_embedding, the ranking expression could be `0.5 * relevance_score + 0.3 * dotProduct(doc_embedding)`.",
          "type": "string"
        },
        "contentSearchSpec": {
          "description": "A specification for configuring the behavior of content search.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpec"
        },
        "query": {
          "type": "string",
          "description": "Raw search query."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequest",
      "description": "Request message for SearchService.Search method."
    },
    "GoogleCloudDiscoveryengineV1alphaPanelInfo": {
      "id": "GoogleCloudDiscoveryengineV1alphaPanelInfo",
      "properties": {
        "panelId": {
          "description": "Required. The panel ID.",
          "type": "string"
        },
        "totalPanels": {
          "format": "int32",
          "description": "The total number of panels, including this one, shown to the user. Must be set if panel_position is set.",
          "type": "integer"
        },
        "panelPosition": {
          "type": "integer",
          "format": "int32",
          "description": "The ordered position of the panel, if shown to the user with other panels. If set, then total_panels must also be set."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the panel."
        }
      },
      "description": "Detailed panel information associated with a user event.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponse": {
      "description": "Response message for SearchService.Search method.",
      "type": "object",
      "properties": {
        "attributionToken": {
          "description": "A unique search token. This should be included in the UserEvent logs resulting from this search, which enables accurate attribution of search model performance.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as SearchRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "totalSize": {
          "format": "int32",
          "type": "integer",
          "description": "The estimated total count of matched items irrespective of pagination. The count of results returned by pagination may be less than the total_size that matches."
        },
        "summary": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummary",
          "description": "A summary as part of the search results. This field is only returned if SearchRequest.ContentSearchSpec.summary_spec is set."
        },
        "correctedQuery": {
          "type": "string",
          "description": "Contains the spell corrected query, if found. If the spell correction type is AUTOMATIC, then the search results are based on corrected_query. Otherwise the original query is used for search."
        },
        "results": {
          "description": "A list of matched documents. The order represents the ranking.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSearchResult"
          },
          "type": "array"
        },
        "queryExpansionInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseQueryExpansionInfo",
          "description": "Query expansion information for the returned results."
        },
        "guidedSearchResult": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseGuidedSearchResult",
          "description": "Guided search result."
        },
        "facets": {
          "description": "Results of facets requested by user.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseFacet"
          }
        },
        "geoSearchDebugInfo": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseGeoSearchDebugInfo"
          },
          "type": "array"
        },
        "redirectUri": {
          "type": "string",
          "description": "The URI of a customer-defined redirect page. If redirect action is triggered, no search is performed, and only redirect_uri and attribution_token are set in the response."
        },
        "appliedControls": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Controls applied as part of the Control service."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponse"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseGuidedSearchResultRefinementAttribute": {
      "description": "Useful attribute for search result refinements.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseGuidedSearchResultRefinementAttribute",
      "properties": {
        "attributeValue": {
          "description": "Attribute value used to refine the results e.g. 'drama'.",
          "type": "string"
        },
        "attributeKey": {
          "description": "Attribute key used to refine the results e.g. 'movie_type'.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaLookupWidgetConfigResponse": {
      "properties": {
        "anonymousWidgetConfig": {
          "description": "The Anonymous Widget Config associated with the UUID.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaWidgetConfig"
        }
      },
      "description": "Response message for WidgetService.LookupWidgetConfig method.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaLookupWidgetConfigResponse"
    },
    "GoogleCloudDiscoveryengineV1alphaRecrawlUrisResponseFailureInfo": {
      "id": "GoogleCloudDiscoveryengineV1alphaRecrawlUrisResponseFailureInfo",
      "properties": {
        "uri": {
          "type": "string",
          "description": "URI that failed to be crawled."
        },
        "failureReasons": {
          "description": "List of failure reasons by corpus type (e.g. desktop, mobile).",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaRecrawlUrisResponseFailureInfoFailureReason"
          }
        }
      },
      "description": "Details about why a particular URI failed to be crawled. Each FailureInfo contains one FailureReason per CorpusType.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpecConditionBoostSpec": {
      "type": "object",
      "description": "Boost applies to documents which match a condition.",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpecConditionBoostSpec",
      "properties": {
        "condition": {
          "description": "An expression which specifies a boost condition. The syntax and supported fields are the same as a filter expression. See SearchRequest.filter for detail syntax and limitations. Examples: * To boost documents with document ID \"doc_1\" or \"doc_2\", and color \"Red\" or \"Blue\": * (id: ANY(\"doc_1\", \"doc_2\")) AND (color: ANY(\"Red\",\"Blue\"))",
          "type": "string"
        },
        "boost": {
          "type": "number",
          "description": "Strength of the condition boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0. Setting to 1.0 gives the document a big promotion. However, it does not necessarily mean that the boosted document will be the top result at all times, nor that other documents will be excluded. Results could still be shown even when none of them matches the condition. And results that are significantly more relevant to the search query can still trump your heavily favored but irrelevant documents. Setting to -1.0 gives the document a big demotion. However, results that are deeply relevant might still be shown. The document will have an upstream battle to get a fairly high ranking, but it is not blocked out completely. Setting to 0.0 means no boost applied. The boosting condition is ignored.",
          "format": "float"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaRecommendResponseRecommendationResult": {
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any"
          },
          "description": "Additional Document metadata / annotations. Possible values: * `score`: Recommendation score in double value. Is set if `returnScore` is set to true in RecommendRequest.params.",
          "type": "object"
        },
        "document": {
          "description": "Set if `returnDocument` is set to true in RecommendRequest.params.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDocument"
        },
        "id": {
          "type": "string",
          "description": "Resource ID of the recommended Document."
        }
      },
      "description": "RecommendationResult represents a generic recommendation result with associated metadata.",
      "id": "GoogleCloudDiscoveryengineV1alphaRecommendResponseRecommendationResult"
    },
    "GoogleCloudDiscoveryengineV1betaImportDocumentsMetadata": {
      "description": "Metadata related to the progress of the ImportDocuments operation. This is returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1betaImportDocumentsMetadata",
      "properties": {
        "failureCount": {
          "format": "int64",
          "description": "Count of entries that encountered errors while processing.",
          "type": "string"
        },
        "successCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of entries that were processed successfully."
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaCreateSchemaMetadata": {
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        }
      },
      "description": "Metadata for Create Schema LRO.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaCreateSchemaMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaListConversationsResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaListConversationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token, if not returned indicates the last page.",
          "type": "string"
        },
        "conversations": {
          "description": "All the Conversations for a given data store.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaConversation"
          }
        }
      },
      "description": "Response for ListConversations method.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaImportDocumentsResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaImportDocumentsResponse",
      "type": "object",
      "properties": {
        "errorConfig": {
          "description": "Echoes the destination for the complete errors in the request if set.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportErrorConfig"
        },
        "errorSamples": {
          "type": "array",
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "description": "Response of the ImportDocumentsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
    },
    "GoogleCloudDiscoveryengineV1betaSchema": {
      "type": "object",
      "description": "Defines the structure and layout of a type of document data.",
      "properties": {
        "structSchema": {
          "type": "object",
          "description": "The structured representation of the schema.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "name": {
          "description": "Immutable. The full resource name of the schema, in the format of `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/schemas/{schema}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "jsonSchema": {
          "type": "string",
          "description": "The JSON representation of the schema."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSchema"
    },
    "GoogleCloudDiscoveryengineV1alphaRecommendRequest": {
      "properties": {
        "userEvent": {
          "description": "Required. Context about the user, what they are looking at and what action they took to trigger the Recommend request. Note that this user event detail won't be ingested to userEvent logs. Thus, a separate userEvent write request is required for event logging. Don't set UserEvent.user_pseudo_id or UserEvent.user_info.user_id to the same fixed ID for different users. If you are trying to receive non-personalized recommendations (not recommended; this can negatively impact model performance), instead set UserEvent.user_pseudo_id to a random unique ID and leave UserEvent.user_info.user_id unset.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaUserEvent"
        },
        "params": {
          "additionalProperties": {
            "type": "any"
          },
          "description": "Additional domain specific parameters for the recommendations. Allowed values: * `returnDocument`: Boolean. If set to true, the associated Document object will be returned in RecommendResponse.RecommendationResult.document. * `returnScore`: Boolean. If set to true, the recommendation 'score' corresponding to each returned Document will be set in RecommendResponse.RecommendationResult.metadata. The given 'score' indicates the probability of a Document conversion given the user's context and history. * `strictFiltering`: Boolean. True by default. If set to false, the service will return generic (unfiltered) popular Documents instead of empty if your filter blocks all recommendation results. * `diversityLevel`: String. Default empty. If set to be non-empty, then it needs to be one of: * `no-diversity` * `low-diversity` * `medium-diversity` * `high-diversity` * `auto-diversity` This gives request-level control and adjusts recommendation results based on Document category.",
          "type": "object"
        },
        "userLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The user labels applied to a resource must meet the following requirements: * Each resource can have multiple labels, up to a maximum of 64. * Each label must be a key-value pair. * Keys have a minimum length of 1 character and a maximum length of 63 characters and cannot be empty. Values can be empty and have a maximum length of 63 characters. * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. All characters must use UTF-8 encoding, and international characters are allowed. * The key portion of a label must be unique. However, you can use the same key with multiple resources. * Keys must start with a lowercase letter or international character. See [Requirements for labels](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements) for more details."
        },
        "validateOnly": {
          "description": "Use validate only mode for this recommendation query. If set to true, a fake model will be used that returns arbitrary Document IDs. Note that the validate only mode should only be used for testing the API, or if the model is not ready.",
          "type": "boolean"
        },
        "filter": {
          "description": "Filter for restricting recommendation results with a length limit of 5,000 characters. Currently, only filter expressions on the `filter_tags` attribute is supported. Examples: * `(filter_tags: ANY(\"Red\", \"Blue\") OR filter_tags: ANY(\"Hot\", \"Cold\"))` * `(filter_tags: ANY(\"Red\", \"Blue\")) AND NOT (filter_tags: ANY(\"Green\"))` If your filter blocks all results, the API will return generic (unfiltered) popular Documents. If you only want results strictly matching the filters, set `strictFiltering` to True in RecommendRequest.params to receive empty results instead. Note that the API will never return Documents with `storageStatus` of `EXPIRED` or `DELETED` regardless of filter choices.",
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of results to return. Set this property to the number of recommendation results needed. If zero, the service will choose a reasonable default. The maximum allowed value is 100. Values above 100 will be coerced to 100."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaRecommendRequest",
      "type": "object",
      "description": "Request message for Recommend method."
    },
    "GoogleLongrunningListOperationsResponse": {
      "type": "object",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "GoogleCloudDiscoveryengineV1alphaSearchInfo": {
      "description": "Detailed search information.",
      "type": "object",
      "properties": {
        "searchQuery": {
          "description": "The user's search query. See SearchRequest.query for definition. The value must be a UTF-8 encoded string with a length limit of 5,000 characters. Otherwise, an `INVALID_ARGUMENT` error is returned. At least one of search_query or PageInfo.page_category is required for `search` events. Other event types should not set this field. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "type": "string"
        },
        "orderBy": {
          "type": "string",
          "description": "The order in which products are returned, if applicable. See SearchRequest.order_by for definition and syntax. The value must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an `INVALID_ARGUMENT` error is returned. This can only be set for `search` events. Other event types should not set this field. Otherwise, an `INVALID_ARGUMENT` error is returned."
        },
        "offset": {
          "format": "int32",
          "type": "integer",
          "description": "An integer that specifies the current offset for pagination (the 0-indexed starting location, amongst the products deemed by the API as relevant). See SearchRequest.offset for definition. If this field is negative, an `INVALID_ARGUMENT` is returned. This can only be set for `search` events. Other event types should not set this field. Otherwise, an `INVALID_ARGUMENT` error is returned."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSearchInfo"
    },
    "GoogleCloudDiscoveryengineV1CreateSchemaMetadata": {
      "description": "Metadata for Create Schema LRO.",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1CreateSchemaMetadata",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaImportErrorConfig": {
      "type": "object",
      "description": "Configuration of destination for Import related errors.",
      "id": "GoogleCloudDiscoveryengineV1betaImportErrorConfig",
      "properties": {
        "gcsPrefix": {
          "type": "string",
          "description": "Cloud Storage prefix for import errors. This must be an empty, existing Cloud Storage directory. Import errors are written to sharded files in this directory, one per line, as a JSON-encoded `google.rpc.Status` message."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaRecrawlUrisResponseFailureInfoFailureReason": {
      "type": "object",
      "properties": {
        "corpusType": {
          "enumDescriptions": [
            "Default value.",
            "Denotes a crawling attempt for the desktop version of a page.",
            "Denotes a crawling attempt for the mobile version of a page."
          ],
          "description": "DESKTOP, MOBILE, or CORPUS_TYPE_UNSPECIFIED.",
          "type": "string",
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "DESKTOP",
            "MOBILE"
          ]
        },
        "errorMessage": {
          "type": "string",
          "description": "Reason why the URI was not crawled."
        }
      },
      "description": "Details about why crawling failed for a particular CorpusType, e.g. DESKTOP and MOBILE crawling may fail for different reasons.",
      "id": "GoogleCloudDiscoveryengineV1alphaRecrawlUrisResponseFailureInfoFailureReason"
    },
    "GoogleCloudDiscoveryengineV1ImportDocumentsResponse": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1ImportDocumentsResponse",
      "properties": {
        "errorConfig": {
          "description": "Echoes the destination for the complete errors in the request if set.",
          "$ref": "GoogleCloudDiscoveryengineV1ImportErrorConfig"
        },
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "A sample of errors encountered while processing the request."
        }
      },
      "description": "Response of the ImportDocumentsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseQueryExpansionInfo": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseQueryExpansionInfo",
      "properties": {
        "expandedQuery": {
          "description": "Bool describing whether query expansion has occurred.",
          "type": "boolean"
        },
        "pinnedResultCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of pinned results. This field will only be set when expansion happens and SearchRequest.QueryExpansionSpec.pin_unexpanded_results is set to true."
        }
      },
      "type": "object",
      "description": "Information describing query expansion including whether expansion has occurred."
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteSchemaMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteSchemaMetadata",
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        }
      },
      "description": "Metadata for DeleteSchema LRO.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaCompleteQueryResponseQuerySuggestion": {
      "id": "GoogleCloudDiscoveryengineV1alphaCompleteQueryResponseQuerySuggestion",
      "description": "Suggestions as search queries.",
      "type": "object",
      "properties": {
        "suggestion": {
          "type": "string",
          "description": "The suggestion for the query."
        },
        "completableFieldPaths": {
          "description": "The unique document field paths that serve as the source of this suggestion if it was generated from completable fields. This field is only populated for the document-completable model.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaPageInfo": {
      "type": "object",
      "properties": {
        "pageCategory": {
          "type": "string",
          "description": "The most specific category associated with a category page. To represent full path of category, use '\u003e' sign to separate different hierarchies. If '\u003e' is part of the category name, please replace it with other character(s). Category pages include special pages such as sales or promotions. For instance, a special sale page may have the category hierarchy: `\"pageCategory\" : \"Sales \u003e 2017 Black Friday Deals\"`. Required for `view-category-page` events. Other event types should not set this field. Otherwise, an `INVALID_ARGUMENT` error is returned."
        },
        "referrerUri": {
          "type": "string",
          "description": "The referrer URL of the current page. When using the client side event reporting with JavaScript pixel and Google Tag Manager, this value is filled in automatically. However, some browser privacy restrictions may cause this field to be empty."
        },
        "uri": {
          "type": "string",
          "description": "Complete URL (window.location.href) of the user's current page. When using the client side event reporting with JavaScript pixel and Google Tag Manager, this value is filled in automatically. Maximum length 5,000 characters."
        },
        "pageviewId": {
          "type": "string",
          "description": "A unique ID of a web page view. This should be kept the same for all user events triggered from the same pageview. For example, an item detail page view could trigger multiple events as the user is browsing the page. The `pageview_id` property should be kept the same for all these events so that they can be grouped together properly. When using the client side event reporting with JavaScript pixel and Google Tag Manager, this value is filled in automatically."
        }
      },
      "description": "Detailed page information.",
      "id": "GoogleCloudDiscoveryengineV1alphaPageInfo"
    },
    "GoogleCloudDiscoveryengineV1alphaUpdateSchemaMetadata": {
      "description": "Metadata for UpdateSchema LRO.",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaUpdateSchemaMetadata",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDoubleList": {
      "id": "GoogleCloudDiscoveryengineV1alphaDoubleList",
      "properties": {
        "values": {
          "description": "Double values.",
          "type": "array",
          "items": {
            "format": "double",
            "type": "number"
          }
        }
      },
      "description": "Double list.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaImportUserEventsMetadata": {
      "properties": {
        "successCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of entries that were processed successfully."
        },
        "failureCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of entries that encountered errors while processing."
        },
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "description": "Metadata related to the progress of the Import operation. This is returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1betaImportUserEventsMetadata",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaReply": {
      "description": "Defines a reply message to user.",
      "properties": {
        "summary": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummary",
          "description": "Summary based on search results."
        },
        "reply": {
          "deprecated": true,
          "description": "DEPRECATED: use `summary` instead. Text reply.",
          "type": "string"
        },
        "references": {
          "deprecated": true,
          "description": "References in the reply.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaReplyReference"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaReply"
    },
    "GoogleCloudDiscoveryengineV1alphaCompletionInfo": {
      "properties": {
        "selectedPosition": {
          "description": "End user selected CompleteQueryResponse.QuerySuggestion.suggestion position, starting from 0.",
          "format": "int32",
          "type": "integer"
        },
        "selectedSuggestion": {
          "type": "string",
          "description": "End user selected CompleteQueryResponse.QuerySuggestion.suggestion."
        }
      },
      "description": "Detailed completion information including completion attribution token and clicked completion info.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaCompletionInfo"
    },
    "GoogleCloudDiscoveryengineV1alphaImportDocumentsRequest": {
      "id": "GoogleCloudDiscoveryengineV1alphaImportDocumentsRequest",
      "properties": {
        "autoGenerateIds": {
          "description": "Whether to automatically generate IDs for the documents if absent. If set to `true`, Document.ids are automatically generated based on the hash of the payload, where IDs may not be consistent during multiple imports. In which case ReconciliationMode.FULL is highly recommended to avoid duplicate contents. If unset or set to `false`, Document.ids have to be specified using id_field, otherwise, documents without IDs fail to be imported. Only set this field when using GcsSource or BigQuerySource, and when GcsSource.data_schema or BigQuerySource.data_schema is `custom` or `csv`. Otherwise, an INVALID_ARGUMENT error is thrown.",
          "type": "boolean"
        },
        "idField": {
          "type": "string",
          "description": "The field in the Cloud Storage and BigQuery sources that indicates the unique IDs of the documents. For GcsSource it is the key of the JSON field. For instance, `my_id` for JSON `{\"my_id\": \"some_uuid\"}`. For BigQuerySource it is the column name of the BigQuery table where the unique ids are stored. The values of the JSON field or the BigQuery column are used as the Document.ids. The JSON field or the BigQuery column must be of string type, and the values must be set as valid strings conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) with 1-63 characters. Otherwise, documents without valid IDs fail to be imported. Only set this field when using GcsSource or BigQuerySource, and when GcsSource.data_schema or BigQuerySource.data_schema is `custom`. And only set this field when auto_generate_ids is unset or set as `false`. Otherwise, an INVALID_ARGUMENT error is thrown. If it is unset, a default value `_id` is used when importing from the allowed data sources."
        },
        "bigquerySource": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaBigQuerySource",
          "description": "BigQuery input source."
        },
        "errorConfig": {
          "description": "The desired location of errors incurred during the Import.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportErrorConfig"
        },
        "gcsSource": {
          "description": "Cloud Storage location for the input content.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaGcsSource"
        },
        "reconciliationMode": {
          "enum": [
            "RECONCILIATION_MODE_UNSPECIFIED",
            "INCREMENTAL",
            "FULL"
          ],
          "enumDescriptions": [
            "Defaults to `INCREMENTAL`.",
            "Inserts new documents or updates existing documents.",
            "Calculates diff and replaces the entire document dataset. Existing documents may be deleted if they are not present in the source location."
          ],
          "type": "string",
          "description": "The mode of reconciliation between existing documents and the documents to be imported. Defaults to ReconciliationMode.INCREMENTAL."
        },
        "inlineSource": {
          "description": "The Inline source for the input content for documents.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportDocumentsRequestInlineSource"
        }
      },
      "description": "Request message for Import methods.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaUpdateSchemaMetadata": {
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Metadata for UpdateSchema LRO.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaUpdateSchemaMetadata"
    },
    "GoogleCloudDiscoveryengineV1betaPurgeDocumentsResponse": {
      "type": "object",
      "description": "Response message for DocumentService.PurgeDocuments method. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field.",
      "properties": {
        "purgeCount": {
          "format": "int64",
          "type": "string",
          "description": "The total count of documents purged as a result of the operation."
        },
        "purgeSample": {
          "description": "A sample of document names that will be deleted. Only populated if `force` is set to false. A max of 100 names will be returned and the names are chosen at random.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaPurgeDocumentsResponse"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestFacetSpec": {
      "properties": {
        "enableDynamicPosition": {
          "type": "boolean",
          "description": "Enables dynamic position for this facet. If set to true, the position of this facet among all facets in the response is determined automatically. If dynamic facets are enabled, it is ordered together. If set to false, the position of this facet in the response is the same as in the request, and it is ranked before the facets with dynamic position enable and all dynamic facets. For example, you may always want to have rating facet returned in the response, but it's not necessarily to always display the rating facet at the top. In that case, you can set enable_dynamic_position to true so that the position of rating facet in response is determined automatically. Another example, assuming you have the following facets in the request: * \"rating\", enable_dynamic_position = true * \"price\", enable_dynamic_position = false * \"brands\", enable_dynamic_position = false And also you have a dynamic facets enabled, which generates a facet `gender`. Then the final order of the facets in the response can be (\"price\", \"brands\", \"rating\", \"gender\") or (\"price\", \"brands\", \"gender\", \"rating\") depends on how API orders \"gender\" and \"rating\" facets. However, notice that \"price\" and \"brands\" are always ranked at first and second position because their enable_dynamic_position is false."
        },
        "limit": {
          "description": "Maximum of facet values that should be returned for this facet. If unspecified, defaults to 20. The maximum allowed value is 300. Values above 300 are coerced to 300. If this field is negative, an `INVALID_ARGUMENT` is returned.",
          "type": "integer",
          "format": "int32"
        },
        "facetKey": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestFacetSpecFacetKey",
          "description": "Required. The facet key specification."
        },
        "excludedFilterKeys": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of keys to exclude when faceting. By default, FacetKey.key is not excluded from the filter unless it is listed in this field. Listing a facet key in this field allows its values to appear as facet results, even when they are filtered out of search results. Using this field does not affect what search results are returned. For example, suppose there are 100 documents with the color facet \"Red\" and 200 documents with the color facet \"Blue\". A query containing the filter \"color:ANY(\"Red\")\" and having \"color\" as FacetKey.key would by default return only \"Red\" documents in the search results, and also return \"Red\" with count 100 as the only color facet. Although there are also blue documents available, \"Blue\" would not be shown as an available facet value. If \"color\" is listed in \"excludedFilterKeys\", then the query returns the facet values \"Red\" with count 100 and \"Blue\" with count 200, because the \"color\" key is now excluded from the filter. Because this field doesn't affect search results, the search results are still correctly filtered to return only \"Red\" documents. A maximum of 100 values are allowed. Otherwise, an `INVALID_ARGUMENT` error is returned."
        }
      },
      "description": "A facet specification to perform faceted search.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestFacetSpec"
    },
    "GoogleCloudDiscoveryengineV1alphaWidgetConfigUIComponentField": {
      "description": "Facet field that maps to a UI Component.",
      "properties": {
        "displayTemplate": {
          "description": "The template to customize how the field is displayed. An example value would be a string that looks like: \"Price: {value}\".",
          "type": "string"
        },
        "deviceVisibility": {
          "items": {
            "enumDescriptions": [
              "Default value when not specified. Server returns INVALID_ARGUMENT if used in requests.",
              "The UI component is visible on Mobile devices.",
              "The UI component is visible on Browser-based client."
            ],
            "type": "string",
            "enum": [
              "DEVICE_VISIBILITY_UNSPECIFIED",
              "MOBILE",
              "DESKTOP"
            ]
          },
          "type": "array",
          "description": "The field visibility on different types of devices."
        },
        "field": {
          "type": "string",
          "description": "Required. Registered field name. The format is `field.abc`."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaWidgetConfigUIComponentField"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpec": {
      "properties": {
        "conditionBoostSpecs": {
          "description": "Condition boost specifications. If a document matches multiple conditions in the specifictions, boost scores from these specifications are all applied and combined in a non-linear way. Maximum number of specifications is 20.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpecConditionBoostSpec"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpec",
      "type": "object",
      "description": "Boost specification to boost certain documents."
    },
    "GoogleCloudDiscoveryengineV1alphaImportDocumentsMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaImportDocumentsMetadata",
      "properties": {
        "successCount": {
          "format": "int64",
          "description": "Count of entries that were processed successfully.",
          "type": "string"
        },
        "failureCount": {
          "description": "Count of entries that encountered errors while processing.",
          "format": "int64",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Metadata related to the progress of the ImportDocuments operation. This is returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaConversation": {
      "id": "GoogleCloudDiscoveryengineV1alphaConversation",
      "type": "object",
      "description": "External conversation proto definition.",
      "properties": {
        "userPseudoId": {
          "description": "A unique identifier for tracking users.",
          "type": "string"
        },
        "state": {
          "description": "The state of the Conversation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "COMPLETED"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Conversation is currently open.",
            "Conversation has been completed."
          ],
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "Output only. The time the conversation started.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the conversation finished."
        },
        "messages": {
          "description": "Conversation messages.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaConversationMessage"
          }
        },
        "name": {
          "description": "Immutable. Fully qualified name `project/*/locations/global/collections/{collection}/dataStore/*/conversations/*`",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaImportUserEventsResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaImportUserEventsResponse",
      "type": "object",
      "properties": {
        "errorSamples": {
          "type": "array",
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "unjoinedEventsCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of user events imported, but with Document information not found in the existing Branch."
        },
        "joinedEventsCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of user events imported with complete existing Documents."
        },
        "errorConfig": {
          "description": "Echoes the destination for the complete errors if this field was set in the request.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportErrorConfig"
        }
      },
      "description": "Response of the ImportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSnippetSpec": {
      "type": "object",
      "description": "A specification for configuring snippets in a search response.",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSnippetSpec",
      "properties": {
        "maxSnippetCount": {
          "deprecated": true,
          "format": "int32",
          "type": "integer",
          "description": "[DEPRECATED] This field is deprecated. To control snippet return, use `return_snippet` field. For backwards compatibility, we will return snippet if max_snippet_count \u003e 0."
        },
        "returnSnippet": {
          "type": "boolean",
          "description": "If `true`, then return snippet. If no snippet can be generated, we return \"No snippet is available for this page.\" A `snippet_status` with `SUCCESS` or `NO_SNIPPET_AVAILABLE` will also be returned."
        },
        "referenceOnly": {
          "deprecated": true,
          "type": "boolean",
          "description": "[DEPRECATED] This field is deprecated and will have no affect on the snippet."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDocumentContent": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "The URI of the content. Only Cloud Storage URIs (e.g. `gs://bucket-name/path/to/file`) are supported. The maximum file size is 100 MB."
        },
        "rawBytes": {
          "description": "The content represented as a stream of bytes. The maximum length is 1,000,000 bytes (1 MB / ~0.95 MiB). Note: As with all `bytes` fields, this field is represented as pure binary in Protocol Buffers and base64-encoded string in JSON. For example, `abc123!?$*&()'-=@~` should be represented as `YWJjMTIzIT8kKiYoKSctPUB+` in JSON. See https://developers.google.com/protocol-buffers/docs/proto3#json.",
          "format": "byte",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the content. Supported types: * `application/pdf` (PDF, only native PDFs are supported for now) * `text/html` (HTML) * `application/vnd.openxmlformats-officedocument.wordprocessingml.document` (DOCX) * `application/vnd.openxmlformats-officedocument.presentationml.presentation` (PPTX) * `text/plain` (TXT) See https://www.iana.org/assignments/media-types/media-types.xhtml."
        }
      },
      "description": "Unstructured data linked to this document.",
      "id": "GoogleCloudDiscoveryengineV1alphaDocumentContent"
    },
    "GoogleCloudDiscoveryengineV1alphaCompleteQueryRequest": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaCompleteQueryRequest",
      "description": "Request message for CompletionService.CompleteQuery method.",
      "properties": {
        "dataStore": {
          "description": "Required. The parent data store resource name for which the completion is performed, such as `projects/*/locations/global/collections/default_collection/dataStores/default_data_store`.",
          "type": "string"
        },
        "queryModel": {
          "description": "Selects data model of query suggestions for serving. Currently supported values: * `document` - Using suggestions generated from user-imported documents. * `search-history` - Using suggestions generated from the past history of SearchService.Search API calls. Do not use it when there is no traffic for Search API. * `user-event` - Using suggestions generated from user-imported search events. * `document-completable` - Using suggestions taken directly from user-imported document fields marked as completable. Default values: * `document` is the default model for regular dataStores. * `search-history` is the default model for site search dataStores.",
          "type": "string"
        },
        "userPseudoId": {
          "type": "string",
          "description": "A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor logs in or out of the website. This field should NOT have a fixed value such as `unknown_visitor`. This should be the same identifier as UserEvent.user_pseudo_id and SearchRequest.user_pseudo_id. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned."
        },
        "query": {
          "description": "Required. The typeahead input used to fetch suggestions. Maximum length is 128 characters.",
          "type": "string"
        },
        "includeTailSuggestions": {
          "type": "boolean",
          "description": "Indicates if tail suggestions should be returned if there are no suggestions that match the full query. Even if set to true, if there are suggestions that match the full query, those are returned and no tail suggestions are returned."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaTargetSiteFailureReasonQuotaFailure": {
      "properties": {},
      "id": "GoogleCloudDiscoveryengineV1alphaTargetSiteFailureReasonQuotaFailure",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseFacetFacetValue": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseFacetFacetValue",
      "type": "object",
      "properties": {
        "count": {
          "format": "int64",
          "description": "Number of items that have this facet value.",
          "type": "string"
        },
        "interval": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaInterval",
          "description": "Interval value for a facet, such as 10, 20) for facet \"price\". It matches [SearchRequest.FacetSpec.FacetKey.intervals."
        },
        "value": {
          "type": "string",
          "description": "Text value of a facet, such as \"Black\" for facet \"colors\"."
        }
      },
      "description": "A facet value which contains value names and their count."
    },
    "GoogleApiHttpBody": {
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "type": "object",
      "properties": {
        "data": {
          "type": "string",
          "format": "byte",
          "description": "The HTTP request/response body as raw binary."
        },
        "extensions": {
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "contentType": {
          "type": "string",
          "description": "The HTTP Content-Type header value specifying the content type of the body."
        }
      },
      "id": "GoogleApiHttpBody"
    },
    "GoogleCloudDiscoveryengineV1alphaCreateSchemaMetadata": {
      "description": "Metadata for Create Schema LRO.",
      "id": "GoogleCloudDiscoveryengineV1alphaCreateSchemaMetadata",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaWidgetSearchResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaWidgetSearchResponse",
      "properties": {
        "searchResponse": {
          "description": "The search response after performing search.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponse"
[...]
