{
  "ownerDomain": "google.com",
  "canonicalName": "Discovery Engine",
  "discoveryVersion": "v1",
  "id": "discoveryengine:v1beta",
  "basePath": "",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "name": "discoveryengine",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "version": "v1beta",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "id": "discoveryengine.projects.locations.operations.get",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/{+name}"
                },
                "list": {
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The standard list page size.",
                      "type": "integer"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/{+name}/operations",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations",
                  "id": "discoveryengine.projects.locations.operations.list",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "dataStores": {
              "resources": {
                "userEvents": {
                  "methods": {
                    "import": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "discoveryengine.projects.locations.dataStores.userEvents.import",
                      "request": {
                        "$ref": "GoogleCloudDiscoveryengineV1betaImportUserEventsRequest"
                      },
                      "description": "Bulk import of User events. Request processing might be synchronous. Events that already exist are skipped. Use this method for backfilling historical user events. Operation.response is of type ImportResponse. Note that it is possible for a subset of the items to be successfully inserted. Operation.metadata is of type ImportMetadata.",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "description": "Required. Parent DataStore resource name, of the form `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+$",
                          "type": "string"
                        }
                      },
                      "path": "v1beta/{+parent}/userEvents:import",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/userEvents:import",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST"
                    },
                    "collect": {
                      "response": {
                        "$ref": "GoogleApiHttpBody"
                      },
                      "id": "discoveryengine.projects.locations.dataStores.userEvents.collect",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/userEvents:collect",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "ets": {
                          "format": "int64",
                          "type": "string",
                          "location": "query",
                          "description": "The event timestamp in milliseconds. This prevents browser caching of otherwise identical get requests. The name is abbreviated to reduce the payload bytes."
                        },
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+$",
                          "type": "string",
                          "description": "Required. The parent DataStore resource name, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}`.",
                          "location": "path"
                        },
                        "userEvent": {
                          "description": "Required. URL encoded UserEvent proto with a length limit of 2,000,000 characters.",
                          "type": "string",
                          "location": "query"
                        },
                        "uri": {
                          "description": "The URL including cgi-parameters but excluding the hash fragment with a length limit of 5,000 characters. This is often more useful than the referer URL, because many browsers only send the domain for 3rd party requests.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "httpMethod": "GET",
                      "description": "Writes a single user event from the browser. This uses a GET request to due to browser restriction of POST-ing to a 3rd party domain. This method is used only by the Discovery Engine API JavaScript pixel and Google Tag Manager. Users should not call this method directly.",
                      "path": "v1beta/{+parent}/userEvents:collect"
                    },
                    "write": {
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+$",
                          "description": "Required. The parent DataStore resource name, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}`.",
                          "type": "string"
                        }
                      },
                      "path": "v1beta/{+parent}/userEvents:write",
                      "description": "Writes a single user event.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDiscoveryengineV1betaUserEvent"
                      },
                      "id": "discoveryengine.projects.locations.dataStores.userEvents.write",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/userEvents:write",
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1betaUserEvent"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST"
                    }
                  }
                },
                "operations": {
                  "methods": {
                    "get": {
                      "path": "v1beta/{+name}",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "discoveryengine.projects.locations.dataStores.operations.get",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/operations/{operationsId}",
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+/operations/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      }
                    },
                    "list": {
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer",
                          "description": "The standard list page size."
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "The standard list page token."
                        },
                        "filter": {
                          "location": "query",
                          "description": "The standard list filter.",
                          "type": "string"
                        },
                        "name": {
                          "description": "The name of the operation's parent resource.",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+$"
                        }
                      },
                      "httpMethod": "GET",
                      "id": "discoveryengine.projects.locations.dataStores.operations.list",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/operations",
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "path": "v1beta/{+name}/operations"
                    }
                  }
                },
                "branches": {
                  "resources": {
                    "operations": {
                      "methods": {
                        "get": {
                          "id": "discoveryengine.projects.locations.dataStores.branches.operations.get",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "description": "The name of the operation resource.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+/branches/[^/]+/operations/[^/]+$",
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/branches/{branchesId}/operations/{operationsId}",
                          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                          "path": "v1beta/{+name}"
                        },
                        "list": {
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "GoogleLongrunningListOperationsResponse"
                          },
                          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+/branches/[^/]+$",
                              "type": "string",
                              "required": true,
                              "description": "The name of the operation's parent resource.",
                              "location": "path"
                            },
                            "pageSize": {
                              "format": "int32",
                              "type": "integer",
                              "description": "The standard list page size.",
                              "location": "query"
                            },
                            "filter": {
                              "type": "string",
                              "description": "The standard list filter.",
                              "location": "query"
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "The standard list page token."
                            }
                          },
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/branches/{branchesId}/operations",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "discoveryengine.projects.locations.dataStores.branches.operations.list",
                          "path": "v1beta/{+name}/operations"
                        }
                      }
                    },
                    "documents": {
                      "methods": {
                        "purge": {
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v1beta/{+parent}/documents:purge",
                          "id": "discoveryengine.projects.locations.dataStores.branches.documents.purge",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaPurgeDocumentsRequest"
                          },
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/branches/{branchesId}/documents:purge",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Permanently deletes all selected Documents in a branch. This process is asynchronous. Depending on the number of Documents to be deleted, this operation can take hours to complete. Before the delete operation completes, some Documents might still be returned by DocumentService.GetDocument or DocumentService.ListDocuments. To get a list of the Documents to be deleted, set PurgeDocumentsRequest.force to false.",
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Required. The parent resource name, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}`.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+/branches/[^/]+$"
                            }
                          },
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          }
                        },
                        "list": {
                          "description": "Gets a list of Documents.",
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+/branches/[^/]+$",
                              "description": "Required. The parent branch resource name, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}`. Use `default_branch` as the branch ID, to list documents under the default branch. If the caller does not have permission to list Documentss under this branch, regardless of whether or not this branch exists, a `PERMISSION_DENIED` error is returned."
                            },
                            "pageSize": {
                              "location": "query",
                              "format": "int32",
                              "description": "Maximum number of Documents to return. If unspecified, defaults to 100. The maximum allowed value is 1000. Values above 1000 will be coerced to 1000. If this field is negative, an `INVALID_ARGUMENT` error is returned.",
                              "type": "integer"
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "A page token ListDocumentsResponse.next_page_token, received from a previous DocumentService.ListDocuments call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to DocumentService.ListDocuments must match the call that provided the page token. Otherwise, an `INVALID_ARGUMENT` error is returned.",
                              "location": "query"
                            }
                          },
                          "path": "v1beta/{+parent}/documents",
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "discoveryengine.projects.locations.dataStores.branches.documents.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaListDocumentsResponse"
                          },
                          "httpMethod": "GET",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/branches/{branchesId}/documents"
                        },
                        "patch": {
                          "id": "discoveryengine.projects.locations.dataStores.branches.documents.patch",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaDocument"
                          },
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/branches/{branchesId}/documents/{documentsId}",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaDocument"
                          },
                          "path": "v1beta/{+name}",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "type": "string",
                              "description": "Immutable. The full resource name of the document. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}/documents/{document_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+/branches/[^/]+/documents/[^/]+$",
                              "required": true
                            },
                            "allowMissing": {
                              "location": "query",
                              "type": "boolean",
                              "description": "If set to true, and the Document is not found, a new Document will be created."
                            }
                          },
                          "httpMethod": "PATCH",
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Updates a Document.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "delete": {
                          "parameters": {
                            "name": {
                              "description": "Required. Full resource name of Document, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}/documents/{document}`. If the caller does not have permission to delete the Document, regardless of whether or not it exists, a `PERMISSION_DENIED` error is returned. If the Document to delete does not exist, a `NOT_FOUND` error is returned.",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+/branches/[^/]+/documents/[^/]+$",
                              "location": "path"
                            }
                          },
                          "id": "discoveryengine.projects.locations.dataStores.branches.documents.delete",
                          "httpMethod": "DELETE",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/branches/{branchesId}/documents/{documentsId}",
                          "description": "Deletes a Document.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1beta/{+name}",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "create": {
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaDocument"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/branches/{branchesId}/documents",
                          "description": "Creates a Document.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaDocument"
                          },
                          "id": "discoveryengine.projects.locations.dataStores.branches.documents.create",
                          "path": "v1beta/{+parent}/documents",
                          "httpMethod": "POST",
                          "parameters": {
                            "documentId": {
                              "type": "string",
                              "location": "query",
                              "description": "Required. The ID to use for the Document, which will become the final component of the Document.name. If the caller does not have permission to create the Document, regardless of whether or not it exists, a `PERMISSION_DENIED` error is returned. This field must be unique among all Documents with the same parent. Otherwise, an `ALREADY_EXISTS` error is returned. This field must conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) standard with a length limit of 63 characters. Otherwise, an `INVALID_ARGUMENT` error is returned."
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+/branches/[^/]+$",
                              "description": "Required. The parent resource name, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}`.",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            }
                          }
                        },
                        "get": {
                          "path": "v1beta/{+name}",
                          "id": "discoveryengine.projects.locations.dataStores.branches.documents.get",
                          "httpMethod": "GET",
                          "description": "Gets a Document.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/branches/{branchesId}/documents/{documentsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "required": true,
                              "location": "path",
                              "description": "Required. Full resource name of Document, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}/documents/{document}`. If the caller does not have permission to access the Document, regardless of whether or not it exists, a `PERMISSION_DENIED` error is returned. If the requested Document does not exist, a `NOT_FOUND` error is returned.",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+/branches/[^/]+/documents/[^/]+$"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaDocument"
                          }
                        },
                        "import": {
                          "path": "v1beta/{+parent}/documents:import",
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "Bulk import of multiple Documents. Request processing may be synchronous. Non-existing items will be created. Note: It is possible for a subset of the Documents to be successfully updated.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST",
                          "parameters": {
                            "parent": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+/branches/[^/]+$",
                              "location": "path",
                              "description": "Required. The parent branch resource name, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}`. Requires create/update permission.",
                              "type": "string"
                            }
                          },
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/branches/{branchesId}/documents:import",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "id": "discoveryengine.projects.locations.dataStores.branches.documents.import",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaImportDocumentsRequest"
                          }
                        }
                      }
                    }
                  }
                },
                "servingConfigs": {
                  "methods": {
                    "recommend": {
                      "description": "Makes a recommendation, which requires a contextual user event.",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "servingConfig"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1betaRecommendResponse"
                      },
                      "path": "v1beta/{+servingConfig}:recommend",
                      "parameters": {
                        "servingConfig": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+/servingConfigs/[^/]+$",
                          "location": "path",
                          "description": "Required. Full resource name of the format: `projects/*/locations/global/collections/*/dataStores/*/servingConfigs/*` Before you can request recommendations from your model, you must create at least one serving config for it.",
                          "required": true
                        }
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/servingConfigs/{servingConfigsId}:recommend",
                      "request": {
                        "$ref": "GoogleCloudDiscoveryengineV1betaRecommendRequest"
                      },
                      "id": "discoveryengine.projects.locations.dataStores.servingConfigs.recommend"
                    }
                  }
                },
                "models": {
                  "resources": {
                    "operations": {
                      "methods": {
                        "get": {
                          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/models/{modelsId}/operations/{operationsId}",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+/models/[^/]+/operations/[^/]+$",
                              "description": "The name of the operation resource.",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "path": "v1beta/{+name}",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "discoveryengine.projects.locations.dataStores.models.operations.get",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "format": "int32",
                              "description": "The standard list page size."
                            },
                            "name": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+/models/[^/]+$",
                              "required": true,
                              "location": "path",
                              "description": "The name of the operation's parent resource."
                            },
                            "filter": {
                              "type": "string",
                              "description": "The standard list filter.",
                              "location": "query"
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "The standard list page token.",
                              "type": "string"
                            }
                          },
                          "httpMethod": "GET",
                          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                          "response": {
                            "$ref": "GoogleLongrunningListOperationsResponse"
                          },
                          "id": "discoveryengine.projects.locations.dataStores.models.operations.list",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/models/{modelsId}/operations",
                          "path": "v1beta/{+name}/operations"
                        }
                      }
                    }
                  }
                }
              }
            },
            "collections": {
              "resources": {
                "operations": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "id": "discoveryengine.projects.locations.collections.operations.list",
                      "path": "v1beta/{+name}/operations",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/operations",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+$",
                          "description": "The name of the operation's parent resource.",
                          "location": "path"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "The standard list page size.",
                          "format": "int32",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "The standard list page token.",
                          "type": "string"
                        },
                        "filter": {
                          "description": "The standard list filter.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/operations/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "The name of the operation resource.",
                          "required": true
                        }
                      },
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/operations/{operationsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+name}",
                      "id": "discoveryengine.projects.locations.collections.operations.get"
                    }
                  }
                },
                "engines": {
                  "resources": {
                    "operations": {
                      "methods": {
                        "get": {
                          "id": "discoveryengine.projects.locations.collections.engines.operations.get",
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "location": "path",
                              "description": "The name of the operation resource.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/operations/[^/]+$"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/operations/{operationsId}",
                          "path": "v1beta/{+name}"
                        },
                        "list": {
                          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                          "httpMethod": "GET",
                          "parameters": {
                            "pageSize": {
                              "description": "The standard list page size.",
                              "type": "integer",
                              "location": "query",
                              "format": "int32"
                            },
                            "pageToken": {
                              "description": "The standard list page token.",
                              "type": "string",
                              "location": "query"
                            },
                            "filter": {
                              "type": "string",
                              "description": "The standard list filter.",
                              "location": "query"
                            },
                            "name": {
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+$",
                              "description": "The name of the operation's parent resource.",
                              "location": "path"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/operations",
                          "path": "v1beta/{+name}/operations",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "discoveryengine.projects.locations.collections.engines.operations.list",
                          "response": {
                            "$ref": "GoogleLongrunningListOperationsResponse"
                          }
                        }
                      }
                    }
                  }
                },
                "dataStores": {
                  "resources": {
                    "branches": {
                      "resources": {
                        "documents": {
                          "methods": {
                            "delete": {
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/branches/{branchesId}/documents/{documentsId}",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "description": "Deletes a Document.",
                              "response": {
                                "$ref": "GoogleProtobufEmpty"
                              },
                              "httpMethod": "DELETE",
                              "id": "discoveryengine.projects.locations.collections.dataStores.branches.documents.delete",
                              "parameters": {
                                "name": {
                                  "required": true,
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/branches/[^/]+/documents/[^/]+$",
                                  "type": "string",
                                  "description": "Required. Full resource name of Document, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}/documents/{document}`. If the caller does not have permission to delete the Document, regardless of whether or not it exists, a `PERMISSION_DENIED` error is returned. If the Document to delete does not exist, a `NOT_FOUND` error is returned."
                                }
                              },
                              "path": "v1beta/{+name}",
                              "parameterOrder": [
                                "name"
                              ]
                            },
                            "patch": {
                              "response": {
                                "$ref": "GoogleCloudDiscoveryengineV1betaDocument"
                              },
                              "httpMethod": "PATCH",
                              "request": {
                                "$ref": "GoogleCloudDiscoveryengineV1betaDocument"
                              },
                              "description": "Updates a Document.",
                              "parameters": {
                                "allowMissing": {
                                  "type": "boolean",
                                  "description": "If set to true, and the Document is not found, a new Document will be created.",
                                  "location": "query"
                                },
                                "name": {
                                  "location": "path",
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/branches/[^/]+/documents/[^/]+$",
                                  "type": "string",
                                  "description": "Immutable. The full resource name of the document. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}/documents/{document_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
                                }
                              },
                              "id": "discoveryengine.projects.locations.collections.dataStores.branches.documents.patch",
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/branches/{branchesId}/documents/{documentsId}",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "parameterOrder": [
                                "name"
                              ],
                              "path": "v1beta/{+name}"
                            },
                            "purge": {
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "path": "v1beta/{+parent}/documents:purge",
                              "parameters": {
                                "parent": {
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/branches/[^/]+$",
                                  "type": "string",
                                  "location": "path",
                                  "required": true,
                                  "description": "Required. The parent resource name, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}`."
                                }
                              },
                              "description": "Permanently deletes all selected Documents in a branch. This process is asynchronous. Depending on the number of Documents to be deleted, this operation can take hours to complete. Before the delete operation completes, some Documents might still be returned by DocumentService.GetDocument or DocumentService.ListDocuments. To get a list of the Documents to be deleted, set PurgeDocumentsRequest.force to false.",
                              "httpMethod": "POST",
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/branches/{branchesId}/documents:purge",
                              "response": {
                                "$ref": "GoogleLongrunningOperation"
                              },
                              "request": {
                                "$ref": "GoogleCloudDiscoveryengineV1betaPurgeDocumentsRequest"
                              },
                              "parameterOrder": [
                                "parent"
                              ],
                              "id": "discoveryengine.projects.locations.collections.dataStores.branches.documents.purge"
                            },
                            "import": {
                              "parameters": {
                                "parent": {
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/branches/[^/]+$",
                                  "description": "Required. The parent branch resource name, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}`. Requires create/update permission.",
                                  "type": "string",
                                  "location": "path"
                                }
                              },
                              "path": "v1beta/{+parent}/documents:import",
                              "id": "discoveryengine.projects.locations.collections.dataStores.branches.documents.import",
                              "request": {
                                "$ref": "GoogleCloudDiscoveryengineV1betaImportDocumentsRequest"
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "description": "Bulk import of multiple Documents. Request processing may be synchronous. Non-existing items will be created. Note: It is possible for a subset of the Documents to be successfully updated.",
                              "httpMethod": "POST",
                              "parameterOrder": [
                                "parent"
                              ],
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/branches/{branchesId}/documents:import",
                              "response": {
                                "$ref": "GoogleLongrunningOperation"
                              }
                            },
                            "create": {
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/branches/{branchesId}/documents",
                              "parameters": {
                                "parent": {
                                  "required": true,
                                  "location": "path",
                                  "type": "string",
                                  "description": "Required. The parent resource name, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}`.",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/branches/[^/]+$"
                                },
                                "documentId": {
                                  "type": "string",
                                  "location": "query",
                                  "description": "Required. The ID to use for the Document, which will become the final component of the Document.name. If the caller does not have permission to create the Document, regardless of whether or not it exists, a `PERMISSION_DENIED` error is returned. This field must be unique among all Documents with the same parent. Otherwise, an `ALREADY_EXISTS` error is returned. This field must conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) standard with a length limit of 63 characters. Otherwise, an `INVALID_ARGUMENT` error is returned."
                                }
                              },
                              "response": {
                                "$ref": "GoogleCloudDiscoveryengineV1betaDocument"
                              },
                              "parameterOrder": [
                                "parent"
                              ],
                              "id": "discoveryengine.projects.locations.collections.dataStores.branches.documents.create",
                              "httpMethod": "POST",
                              "path": "v1beta/{+parent}/documents",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "description": "Creates a Document.",
                              "request": {
                                "$ref": "GoogleCloudDiscoveryengineV1betaDocument"
                              }
                            },
                            "list": {
                              "httpMethod": "GET",
                              "parameters": {
                                "pageSize": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Maximum number of Documents to return. If unspecified, defaults to 100. The maximum allowed value is 1000. Values above 1000 will be coerced to 1000. If this field is negative, an `INVALID_ARGUMENT` error is returned.",
                                  "location": "query"
                                },
                                "parent": {
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/branches/[^/]+$",
                                  "required": true,
                                  "type": "string",
                                  "location": "path",
                                  "description": "Required. The parent branch resource name, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}`. Use `default_branch` as the branch ID, to list documents under the default branch. If the caller does not have permission to list Documentss under this branch, regardless of whether or not this branch exists, a `PERMISSION_DENIED` error is returned."
                                },
                                "pageToken": {
                                  "type": "string",
                                  "location": "query",
                                  "description": "A page token ListDocumentsResponse.next_page_token, received from a previous DocumentService.ListDocuments call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to DocumentService.ListDocuments must match the call that provided the page token. Otherwise, an `INVALID_ARGUMENT` error is returned."
                                }
                              },
                              "description": "Gets a list of Documents.",
                              "parameterOrder": [
                                "parent"
                              ],
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "response": {
                                "$ref": "GoogleCloudDiscoveryengineV1betaListDocumentsResponse"
                              },
                              "id": "discoveryengine.projects.locations.collections.dataStores.branches.documents.list",
                              "path": "v1beta/{+parent}/documents",
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/branches/{branchesId}/documents"
                            },
                            "get": {
                              "id": "discoveryengine.projects.locations.collections.dataStores.branches.documents.get",
                              "parameterOrder": [
                                "name"
                              ],
                              "parameters": {
                                "name": {
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/branches/[^/]+/documents/[^/]+$",
                                  "required": true,
                                  "description": "Required. Full resource name of Document, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}/documents/{document}`. If the caller does not have permission to access the Document, regardless of whether or not it exists, a `PERMISSION_DENIED` error is returned. If the requested Document does not exist, a `NOT_FOUND` error is returned.",
                                  "location": "path",
                                  "type": "string"
                                }
                              },
                              "description": "Gets a Document.",
                              "httpMethod": "GET",
                              "response": {
                                "$ref": "GoogleCloudDiscoveryengineV1betaDocument"
                              },
                              "path": "v1beta/{+name}",
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/branches/{branchesId}/documents/{documentsId}",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ]
                            }
                          }
                        },
                        "operations": {
                          "methods": {
                            "get": {
                              "path": "v1beta/{+name}",
                              "parameters": {
                                "name": {
                                  "type": "string",
                                  "description": "The name of the operation resource.",
                                  "required": true,
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/branches/[^/]+/operations/[^/]+$"
                                }
                              },
                              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "parameterOrder": [
                                "name"
                              ],
                              "id": "discoveryengine.projects.locations.collections.dataStores.branches.operations.get",
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/branches/{branchesId}/operations/{operationsId}",
                              "response": {
                                "$ref": "GoogleLongrunningOperation"
                              },
                              "httpMethod": "GET"
                            },
                            "list": {
                              "parameters": {
                                "pageToken": {
                                  "description": "The standard list page token.",
                                  "location": "query",
                                  "type": "string"
                                },
                                "filter": {
                                  "location": "query",
                                  "description": "The standard list filter.",
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/branches/[^/]+$",
                                  "required": true,
                                  "location": "path",
                                  "description": "The name of the operation's parent resource."
                                },
                                "pageSize": {
                                  "type": "integer",
                                  "description": "The standard list page size.",
                                  "format": "int32",
                                  "location": "query"
                                }
                              },
                              "path": "v1beta/{+name}/operations",
                              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/branches/{branchesId}/operations",
                              "parameterOrder": [
                                "name"
                              ],
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "id": "discoveryengine.projects.locations.collections.dataStores.branches.operations.list",
                              "response": {
                                "$ref": "GoogleLongrunningListOperationsResponse"
                              },
                              "httpMethod": "GET"
                            }
                          }
                        }
                      }
                    },
                    "schemas": {
                      "resources": {
                        "operations": {
                          "methods": {
                            "list": {
                              "parameters": {
                                "pageToken": {
                                  "description": "The standard list page token.",
                                  "type": "string",
                                  "location": "query"
                                },
                                "pageSize": {
                                  "type": "integer",
                                  "description": "The standard list page size.",
                                  "location": "query",
                                  "format": "int32"
                                },
                                "name": {
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/schemas/[^/]+$",
                                  "required": true,
                                  "location": "path",
                                  "type": "string",
                                  "description": "The name of the operation's parent resource."
                                },
                                "filter": {
                                  "description": "The standard list filter.",
                                  "location": "query",
                                  "type": "string"
                                }
                              },
                              "id": "discoveryengine.projects.locations.collections.dataStores.schemas.operations.list",
                              "path": "v1beta/{+name}/operations",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "parameterOrder": [
                                "name"
                              ],
                              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/schemas/{schemasId}/operations",
                              "httpMethod": "GET",
                              "response": {
                                "$ref": "GoogleLongrunningListOperationsResponse"
                              }
                            },
                            "get": {
                              "id": "discoveryengine.projects.locations.collections.dataStores.schemas.operations.get",
                              "response": {
                                "$ref": "GoogleLongrunningOperation"
                              },
                              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                              "httpMethod": "GET",
                              "parameters": {
                                "name": {
                                  "description": "The name of the operation resource.",
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/schemas/[^/]+/operations/[^/]+$",
                                  "location": "path",
                                  "type": "string"
                                }
                              },
                              "parameterOrder": [
                                "name"
                              ],
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/schemas/{schemasId}/operations/{operationsId}",
                              "path": "v1beta/{+name}"
                            }
                          }
                        }
                      }
                    },
                    "servingConfigs": {
                      "methods": {
                        "recommend": {
                          "description": "Makes a recommendation, which requires a contextual user event.",
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaRecommendResponse"
                          },
                          "id": "discoveryengine.projects.locations.collections.dataStores.servingConfigs.recommend",
                          "parameters": {
                            "servingConfig": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/servingConfigs/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "description": "Required. Full resource name of the format: `projects/*/locations/global/collections/*/dataStores/*/servingConfigs/*` Before you can request recommendations from your model, you must create at least one serving config for it."
                            }
                          },
                          "path": "v1beta/{+servingConfig}:recommend",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaRecommendRequest"
                          },
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/servingConfigs/{servingConfigsId}:recommend",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "servingConfig"
                          ]
                        }
                      }
                    },
                    "operations": {
                      "methods": {
                        "get": {
                          "id": "discoveryengine.projects.locations.collections.dataStores.operations.get",
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/operations/{operationsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1beta/{+name}",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/operations/[^/]+$",
                              "required": true,
                              "type": "string",
                              "description": "The name of the operation resource."
                            }
                          },
                          "httpMethod": "GET"
                        },
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                          "httpMethod": "GET",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/operations",
                          "id": "discoveryengine.projects.locations.collections.dataStores.operations.list",
                          "response": {
                            "$ref": "GoogleLongrunningListOperationsResponse"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "description": "The name of the operation's parent resource.",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$",
                              "location": "path",
                              "required": true
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "The standard list page token.",
                              "type": "string"
                            },
                            "filter": {
                              "type": "string",
                              "location": "query",
                              "description": "The standard list filter."
                            },
                            "pageSize": {
                              "type": "integer",
                              "description": "The standard list page size.",
                              "location": "query",
                              "format": "int32"
                            }
                          },
                          "path": "v1beta/{+name}/operations"
                        }
                      }
                    },
                    "userEvents": {
                      "methods": {
                        "collect": {
                          "response": {
                            "$ref": "GoogleApiHttpBody"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/userEvents:collect",
                          "parameters": {
                            "parent": {
                              "description": "Required. The parent DataStore resource name, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}`.",
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$",
                              "required": true
                            },
                            "userEvent": {
                              "type": "string",
                              "location": "query",
                              "description": "Required. URL encoded UserEvent proto with a length limit of 2,000,000 characters."
                            },
                            "ets": {
                              "format": "int64",
                              "description": "The event timestamp in milliseconds. This prevents browser caching of otherwise identical get requests. The name is abbreviated to reduce the payload bytes.",
                              "location": "query",
                              "type": "string"
                            },
                            "uri": {
                              "description": "The URL including cgi-parameters but excluding the hash fragment with a length limit of 5,000 characters. This is often more useful than the referer URL, because many browsers only send the domain for 3rd party requests.",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "description": "Writes a single user event from the browser. This uses a GET request to due to browser restriction of POST-ing to a 3rd party domain. This method is used only by the Discovery Engine API JavaScript pixel and Google Tag Manager. Users should not call this method directly.",
                          "id": "discoveryengine.projects.locations.collections.dataStores.userEvents.collect",
                          "path": "v1beta/{+parent}/userEvents:collect",
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "write": {
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaUserEvent"
                          },
                          "path": "v1beta/{+parent}/userEvents:write",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaUserEvent"
                          },
                          "parameters": {
                            "parent": {
                              "description": "Required. The parent DataStore resource name, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}`.",
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$",
                              "type": "string"
                            }
                          },
                          "httpMethod": "POST",
                          "description": "Writes a single user event.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "discoveryengine.projects.locations.collections.dataStores.userEvents.write",
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/userEvents:write"
                        },
                        "import": {
                          "id": "discoveryengine.projects.locations.collections.dataStores.userEvents.import",
                          "path": "v1beta/{+parent}/userEvents:import",
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$",
                              "location": "path",
                              "description": "Required. Parent DataStore resource name, of the form `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}`",
                              "type": "string",
                              "required": true
                            }
                          },
                          "description": "Bulk import of User events. Request processing might be synchronous. Events that already exist are skipped. Use this method for backfilling historical user events. Operation.response is of type ImportResponse. Note that it is possible for a subset of the items to be successfully inserted. Operation.metadata is of type ImportMetadata.",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaImportUserEventsRequest"
                          },
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/userEvents:import",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    },
                    "models": {
                      "resources": {
                        "operations": {
                          "methods": {
                            "list": {
                              "path": "v1beta/{+name}/operations",
                              "httpMethod": "GET",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "parameterOrder": [
                                "name"
                              ],
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/models/{modelsId}/operations",
                              "parameters": {
                                "name": {
                                  "type": "string",
                                  "location": "path",
                                  "required": true,
                                  "description": "The name of the operation's parent resource.",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/models/[^/]+$"
                                },
                                "pageSize": {
                                  "description": "The standard list page size.",
                                  "type": "integer",
                                  "location": "query",
                                  "format": "int32"
                                },
                                "filter": {
                                  "type": "string",
                                  "location": "query",
                                  "description": "The standard list filter."
                                },
                                "pageToken": {
                                  "description": "The standard list page token.",
                                  "type": "string",
                                  "location": "query"
                                }
                              },
                              "response": {
                                "$ref": "GoogleLongrunningListOperationsResponse"
                              },
                              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                              "id": "discoveryengine.projects.locations.collections.dataStores.models.operations.list"
                            },
                            "get": {
                              "httpMethod": "GET",
                              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                              "id": "discoveryengine.projects.locations.collections.dataStores.models.operations.get",
                              "path": "v1beta/{+name}",
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/models/{modelsId}/operations/{operationsId}",
                              "parameters": {
                                "name": {
                                  "location": "path",
                                  "description": "The name of the operation resource.",
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/models/[^/]+/operations/[^/]+$",
                                  "type": "string"
                                }
                              },
                              "response": {
                                "$ref": "GoogleLongrunningOperation"
                              },
                              "parameterOrder": [
                                "name"
                              ],
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operations": {
          "methods": {
            "list": {
              "path": "v1beta/{+name}/operations",
              "id": "discoveryengine.projects.operations.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/operations",
              "parameters": {
                "name": {
                  "description": "The name of the operation's parent resource.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The standard list filter."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list page token."
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              }
            },
            "get": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "discoveryengine.projects.operations.get",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "path": "v1beta/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/operations/{operationsId}",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version_module": true,
  "servicePath": "",
  "schemas": {
    "GoogleApiHttpBody": {
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "id": "GoogleApiHttpBody",
      "type": "object",
      "properties": {
        "extensions": {
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "contentType": {
          "type": "string",
          "description": "The HTTP Content-Type header value specifying the content type of the body."
        },
        "data": {
          "type": "string",
          "description": "The HTTP request/response body as raw binary.",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaCompletionInfo": {
      "properties": {
        "selectedPosition": {
          "description": "End user selected CompleteQueryResponse.CompletionResult.suggestion position, starting from 0.",
          "format": "int32",
          "type": "integer"
        },
        "selectedSuggestion": {
          "type": "string",
          "description": "End user selected CompleteQueryResponse.CompletionResult.suggestion."
        }
      },
      "description": "Detailed completion information including completion attribution token and clicked completion info.",
      "id": "GoogleCloudDiscoveryengineV1betaCompletionInfo",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaImportUserEventsRequestInlineSource": {
      "description": "The inline source for the input config for ImportUserEvents method.",
      "properties": {
        "userEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaUserEvent"
          },
          "description": "Required. A list of user events to import. Recommended max of 10k items."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaImportUserEventsRequestInlineSource",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaRecommendResponse": {
      "type": "object",
      "description": "Response message for Recommend method.",
      "properties": {
        "attributionToken": {
          "description": "A unique attribution token. This should be included in the UserEvent logs resulting from this recommendation, which enables accurate attribution of recommendation model performance.",
          "type": "string"
        },
        "missingIds": {
          "description": "IDs of documents in the request that were missing from the default Branch associated with the requested ServingConfig.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "results": {
          "description": "A list of recommended Documents. The order represents the ranking (from the most relevant Document to the least).",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaRecommendResponseRecommendationResult"
          }
        },
        "validateOnly": {
          "type": "boolean",
          "description": "True if RecommendRequest.validate_only was set."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaRecommendResponse"
    },
    "GoogleCloudDiscoveryengineV1betaSearchInfo": {
      "type": "object",
      "properties": {
        "orderBy": {
          "type": "string",
          "description": "The order in which products are returned, if applicable. See SearchRequest.order_by for definition and syntax. The value must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. This can only be set for `search` events. Other event types should not set this field. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "offset": {
          "description": "An integer that specifies the current offset for pagination (the 0-indexed starting location, amongst the products deemed by the API as relevant). See SearchRequest.offset for definition. If this field is negative, an INVALID_ARGUMENT is returned. This can only be set for `search` events. Other event types should not set this field. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "integer",
          "format": "int32"
        },
        "searchQuery": {
          "description": "The user's search query. See SearchRequest.query for definition. The value must be a UTF-8 encoded string with a length limit of 5,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. At least one of search_query or PageInfo.page_category is required for `search` events. Other event types should not set this field. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        }
      },
      "description": "Detailed search information.",
      "id": "GoogleCloudDiscoveryengineV1betaSearchInfo"
    },
    "GoogleCloudDiscoveryengineV1betaCustomAttribute": {
      "type": "object",
      "properties": {
        "text": {
          "description": "The textual values of this custom attribute. For example, `[\"yellow\", \"green\"]` when the key is \"color\". Empty string is not allowed. Otherwise, an `INVALID_ARGUMENT` error is returned. Exactly one of CustomAttribute.text or CustomAttribute.numbers should be set. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "numbers": {
          "items": {
            "format": "double",
            "type": "number"
          },
          "type": "array",
          "description": "The numerical values of this custom attribute. For example, `[2.3, 15.4]` when the key is \"lengths_cm\". Exactly one of CustomAttribute.text or CustomAttribute.numbers should be set. Otherwise, an `INVALID_ARGUMENT` error is returned."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaCustomAttribute",
      "description": "A custom attribute that is not explicitly modeled in a resource, e.g. UserEvent."
    },
    "GoogleCloudDiscoveryengineV1alphaBatchCreateTargetSitesResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaBatchCreateTargetSitesResponse",
      "description": "Response message for SiteSearchEngineService.BatchCreateTargetSites method.",
      "properties": {
        "targetSites": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaTargetSite"
          },
          "type": "array",
          "description": "TargetSites created."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSchema": {
      "properties": {
        "jsonSchema": {
          "description": "The JSON representation of the schema.",
          "type": "string"
        },
        "structSchema": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The structured representation of the schema."
        },
        "name": {
          "description": "Immutable. The full resource name of the schema, in the format of `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/schemas/{schema}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSchema",
      "description": "Defines the structure and layout of a type of document data."
    },
    "GoogleCloudDiscoveryengineV1alphaImportUserEventsResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaImportUserEventsResponse",
      "type": "object",
[...]
