{
  "basePath": "",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Discovery Engine",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "title": "Discovery Engine API",
  "servicePath": "",
  "protocol": "rest",
  "mtlsRootUrl": "https://discoveryengine.mtls.googleapis.com/",
  "schemas": {
    "GoogleCloudDiscoveryengineV1alphaAclConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaAclConfig",
      "description": "Access Control Configuration.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Immutable. The full resource name of the acl configuration. Format: `projects/{project}/locations/{location}/aclConfig`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "idpConfig": {
          "description": "Identity provider config.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaIdpConfig"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaIdpConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaIdpConfig",
      "description": "Identity Provider Config.",
      "type": "object",
      "properties": {
        "idpType": {
          "description": "Identity provider type configured.",
          "type": "string",
          "enumDescriptions": [
            "Default value. ACL search not enabled.",
            "Google 1P provider.",
            "Third party provider."
          ],
          "enum": [
            "IDP_TYPE_UNSPECIFIED",
            "GSUITE",
            "THIRD_PARTY"
          ]
        },
        "externalIdpConfig": {
          "description": "External Identity provider config.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaIdpConfigExternalIdpConfig"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaIdpConfigExternalIdpConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaIdpConfigExternalIdpConfig",
      "description": "Third party IDP Config.",
      "type": "object",
      "properties": {
        "workforcePoolName": {
          "description": "Workforce pool name. Example: \"locations/global/workforcePools/pool_id\"",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaChunk": {
      "id": "GoogleCloudDiscoveryengineV1alphaChunk",
      "description": "Chunk captures all raw metadata information of items to be recommended or searched in the chunk mode.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The full resource name of the chunk. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}/documents/{document_id}/chunks/{chunk_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "id": {
          "description": "Unique chunk id of the current chunk.",
          "type": "string"
        },
        "content": {
          "description": "Content is a string from a document (parsed content).",
          "type": "string"
        },
        "documentMetadata": {
          "description": "Metadata of the document from the current chunk.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaChunkDocumentMetadata"
        },
        "derivedStructData": {
          "description": "Output only. This field is OUTPUT_ONLY. It contains derived data that are not in the original input document.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaChunkDocumentMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaChunkDocumentMetadata",
      "description": "Document metadata contains the information of the document of the current chunk.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Uri of the document.",
          "type": "string"
        },
        "title": {
          "description": "Title of the document.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaListChunksResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaListChunksResponse",
      "description": "Response message for ChunkService.ListChunks method.",
      "type": "object",
      "properties": {
        "chunks": {
          "description": "The Chunks.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaChunk"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListChunksRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaCompleteQueryResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaCompleteQueryResponse",
      "description": "Response message for CompletionService.CompleteQuery method.",
      "type": "object",
      "properties": {
        "querySuggestions": {
          "description": "Results of the matched query suggestions. The result list is ordered and the first result is a top suggestion.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaCompleteQueryResponseQuerySuggestion"
          }
        },
        "tailMatchTriggered": {
          "description": "True if the returned suggestions are all tail suggestions. For tail matching to be triggered, include_tail_suggestions in the request must be true and there must be no suggestions that match the full query.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaCompleteQueryResponseQuerySuggestion": {
      "id": "GoogleCloudDiscoveryengineV1alphaCompleteQueryResponseQuerySuggestion",
      "description": "Suggestions as search queries.",
      "type": "object",
      "properties": {
        "suggestion": {
          "description": "The suggestion for the query.",
          "type": "string"
        },
        "completableFieldPaths": {
          "description": "The unique document field paths that serve as the source of this suggestion if it was generated from completable fields. This field is only populated for the document-completable model.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaImportSuggestionDenyListEntriesRequest": {
      "id": "GoogleCloudDiscoveryengineV1alphaImportSuggestionDenyListEntriesRequest",
      "description": "Request message for CompletionService.ImportSuggestionDenyListEntries method.",
      "type": "object",
      "properties": {
        "inlineSource": {
          "description": "The Inline source for the input content for suggestion deny list entries.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportSuggestionDenyListEntriesRequestInlineSource"
        },
        "gcsSource": {
          "description": "Cloud Storage location for the input content. Only 1 file can be specified that contains all entries to import. Supported values `gcs_source.schema` for autocomplete suggestion deny list entry imports: * `suggestion_deny_list` (default): One JSON [SuggestionDenyListEntry] per line.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaGcsSource"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaImportSuggestionDenyListEntriesRequestInlineSource": {
      "id": "GoogleCloudDiscoveryengineV1alphaImportSuggestionDenyListEntriesRequestInlineSource",
      "description": "The inline source for SuggestionDenyListEntry.",
      "type": "object",
      "properties": {
        "entries": {
          "description": "Required. A list of all denylist entries to import. Max of 1000 items.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSuggestionDenyListEntry"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSuggestionDenyListEntry": {
      "id": "GoogleCloudDiscoveryengineV1alphaSuggestionDenyListEntry",
      "description": "Suggestion deny list entry identifying the phrase to block from suggestions and the applied operation for the phrase.",
      "type": "object",
      "properties": {
        "blockPhrase": {
          "description": "Required. Phrase to block from suggestions served. Can be maximum 125 characters.",
          "type": "string"
        },
        "matchOperator": {
          "description": "Required. The match operator to apply for this phrase. Whether to block the exact phrase, or block any suggestions containing this phrase.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not be used",
            "If the suggestion is an exact match to the block_phrase, then block it.",
            "If the suggestion contains the block_phrase, then block it."
          ],
          "enum": [
            "MATCH_OPERATOR_UNSPECIFIED",
            "EXACT_MATCH",
            "CONTAINS"
          ]
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaGcsSource": {
      "id": "GoogleCloudDiscoveryengineV1alphaGcsSource",
      "description": "Cloud Storage location for input content.",
      "type": "object",
      "properties": {
        "inputUris": {
          "description": "Required. Cloud Storage URIs to input files. URI can be up to 2000 characters long. URIs can match the full object path (for example, `gs://bucket/directory/object.json`) or a pattern matching one or more files, such as `gs://bucket/directory/*.json`. A request can contain at most 100 files (or 100,000 files if `data_schema` is `content`). Each file can be up to 2 GB (or 100 MB if `data_schema` is `content`).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dataSchema": {
          "description": "The schema to use when parsing the data from the source. Supported values for document imports: * `document` (default): One JSON Document per line. Each document must have a valid Document.id. * `content`: Unstructured data (e.g. PDF, HTML). Each file matched by `input_uris` becomes a document, with the ID set to the first 128 bits of SHA256(URI) encoded as a hex string. * `custom`: One custom data JSON per row in arbitrary format that conforms to the defined Schema of the data store. This can only be used by Gen App Builder. * `csv`: A CSV file with header conforming to the defined Schema of the data store. Each entry after the header is imported as a Document. This can only be used by Gen App Builder. Supported values for user even imports: * `user_event` (default): One JSON UserEvent per line.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaPurgeSuggestionDenyListEntriesRequest": {
      "id": "GoogleCloudDiscoveryengineV1alphaPurgeSuggestionDenyListEntriesRequest",
      "description": "Request message for CompletionService.PurgeSuggestionDenyListEntries method.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequest": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequest",
      "description": "Request message for SearchService.Search method.",
      "type": "object",
      "properties": {
        "servingConfig": {
          "description": "Required. The resource name of the Search serving config, such as `projects/*/locations/global/collections/default_collection/engines/*/servingConfigs/default_serving_config`, or `projects/*/locations/global/collections/default_collection/dataStores/default_data_store/servingConfigs/default_serving_config`. This field is used to identify the serving configuration name, set of models used to make the search.",
          "type": "string"
        },
        "branch": {
          "description": "The branch resource name, such as `projects/*/locations/global/collections/default_collection/dataStores/default_data_store/branches/0`. Use `default_branch` as the branch ID or leave this field empty, to search documents under the default branch.",
          "type": "string"
        },
        "query": {
          "description": "Raw search query.",
          "type": "string"
        },
        "imageQuery": {
          "description": "Raw image query.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestImageQuery"
        },
        "pageSize": {
          "description": "Maximum number of Documents to return. If unspecified, defaults to a reasonable value. The maximum allowed value is 100. Values above 100 are coerced to 100. If this field is negative, an `INVALID_ARGUMENT` is returned.",
          "type": "integer",
          "format": "int32"
        },
        "pageToken": {
          "description": "A page token received from a previous SearchService.Search call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to SearchService.Search must match the call that provided the page token. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "type": "string"
        },
        "offset": {
          "description": "A 0-indexed integer that specifies the current offset (that is, starting result location, amongst the Documents deemed by the API as relevant) in search results. This field is only considered if page_token is unset. If this field is negative, an `INVALID_ARGUMENT` is returned.",
          "type": "integer",
          "format": "int32"
        },
        "dataStoreSpecs": {
          "description": "A list of data store specs to apply on a search call.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestDataStoreSpec"
          }
        },
        "filter": {
          "description": "The filter syntax consists of an expression language for constructing a predicate from one or more fields of the documents being filtered. Filter expression is case-sensitive. If this field is unrecognizable, an `INVALID_ARGUMENT` is returned. Filtering in Vertex AI Search is done by mapping the LHS filter key to a key property defined in the Vertex AI Search backend -- this mapping is defined by the customer in their schema. For example a media customer might have a field 'name' in their schema. In this case the filter would look like this: filter --\u003e name:'ANY(\"king kong\")' For more information about filtering including syntax and filter operators, see [Filter](https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata)",
          "type": "string"
        },
        "canonicalFilter": {
          "description": "The default filter that is applied when a user performs a search without checking any filters on the search page. The filter applied to every search request when quality improvement such as query expansion is needed. In the case a query does not have a sufficient amount of results this filter will be used to determine whether or not to enable the query expansion flow. The original filter will still be used for the query expanded search. This field is strongly recommended to achieve high search quality. For more information about filter syntax, see SearchRequest.filter.",
          "type": "string"
        },
        "orderBy": {
          "description": "The order in which documents are returned. Documents can be ordered by a field in an Document object. Leave it unset if ordered by relevance. `order_by` expression is case-sensitive. For more information on ordering, see [Ordering](https://cloud.google.com/retail/docs/filter-and-order#order) If this field is unrecognizable, an `INVALID_ARGUMENT` is returned.",
          "type": "string"
        },
        "userInfo": {
          "description": "Information about the end user. Highly recommended for analytics. UserInfo.user_agent is used to deduce `device_type` for analytics.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaUserInfo"
        },
        "facetSpecs": {
          "description": "Facet specifications for faceted search. If empty, no facets are returned. A maximum of 100 values are allowed. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestFacetSpec"
          }
        },
        "boostSpec": {
          "description": "Boost specification to boost certain documents. For more information on boosting, see [Boosting](https://cloud.google.com/retail/docs/boosting#boost)",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpec"
        },
        "params": {
          "description": "Additional search parameters. For public website search only, supported values are: * `user_country_code`: string. Default empty. If set to non-empty, results are restricted or boosted based on the location provided. Example: user_country_code: \"au\" For available codes see [Country Codes](https://developers.google.com/custom-search/docs/json_api_reference#countryCodes) * `search_type`: double. Default empty. Enables non-webpage searching depending on the value. The only valid non-default value is 1, which enables image searching. Example: search_type: 1",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "queryExpansionSpec": {
          "description": "The query expansion specification that specifies the conditions under which query expansion occurs.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestQueryExpansionSpec"
        },
        "spellCorrectionSpec": {
          "description": "The spell correction specification that specifies the mode under which spell correction takes effect.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestSpellCorrectionSpec"
        },
        "userPseudoId": {
          "description": "A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor logs in or out of the website. This field should NOT have a fixed value such as `unknown_visitor`. This should be the same identifier as UserEvent.user_pseudo_id and CompleteQueryRequest.user_pseudo_id The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "type": "string"
        },
        "contentSearchSpec": {
          "description": "A specification for configuring the behavior of content search.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpec"
        },
        "embeddingSpec": {
          "description": "Uses the provided embedding to do additional semantic document retrieval. The retrieval is based on the dot product of SearchRequest.EmbeddingSpec.EmbeddingVector.vector and the document embedding that is provided in SearchRequest.EmbeddingSpec.EmbeddingVector.field_path. If SearchRequest.EmbeddingSpec.EmbeddingVector.field_path is not provided, it will use ServingConfig.EmbeddingConfig.field_path.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestEmbeddingSpec"
        },
        "rankingExpression": {
          "description": "The ranking expression controls the customized ranking on retrieval documents. This overrides ServingConfig.ranking_expression. The ranking expression is a single function or multiple functions that are joint by \"+\". * ranking_expression = function, { \" + \", function }; Supported functions: * double * relevance_score * double * dotProduct(embedding_field_path) Function variables: `relevance_score`: pre-defined keywords, used for measure relevance between query and document. `embedding_field_path`: the document embedding field used with query embedding vector. `dotProduct`: embedding function between embedding_field_path and query embedding vector. Example ranking expression: If document has an embedding field doc_embedding, the ranking expression could be `0.5 * relevance_score + 0.3 * dotProduct(doc_embedding)`.",
          "type": "string"
        },
        "safeSearch": {
          "description": "Whether to turn on safe search. This is only supported for website search.",
          "type": "boolean"
        },
        "userLabels": {
          "description": "The user labels applied to a resource must meet the following requirements: * Each resource can have multiple labels, up to a maximum of 64. * Each label must be a key-value pair. * Keys have a minimum length of 1 character and a maximum length of 63 characters and cannot be empty. Values can be empty and have a maximum length of 63 characters. * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. All characters must use UTF-8 encoding, and international characters are allowed. * The key portion of a label must be unique. However, you can use the same key with multiple resources. * Keys must start with a lowercase letter or international character. See [Google Cloud Document](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements) for more details.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "customFineTuningSpec": {
          "description": "Custom fine tuning configs.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaCustomFineTuningSpec"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestImageQuery": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestImageQuery",
      "description": "Specifies the image query input.",
      "type": "object",
      "properties": {
        "imageBytes": {
          "description": "Base64 encoded image bytes. Supported image formats: JPEG, PNG, and BMP.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestDataStoreSpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestDataStoreSpec",
      "description": "A struct to define data stores to filter on in a search call.",
      "type": "object",
      "properties": {
        "dataStore": {
          "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaUserInfo": {
      "id": "GoogleCloudDiscoveryengineV1alphaUserInfo",
      "description": "Information of an end user.",
      "type": "object",
      "properties": {
        "userId": {
          "description": "Highly recommended for logged-in users. Unique identifier for logged-in user, such as a user name. Don't set for anonymous users. Always use a hashed value for this ID. Don't set the field to the same fixed ID for different users. This mixes the event history of those users together, which results in degraded model quality. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "type": "string"
        },
        "userAgent": {
          "description": "User agent as included in the HTTP header. The field must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an `INVALID_ARGUMENT` error is returned. This should not be set when using the client side event reporting with GTM or JavaScript tag in UserEventService.CollectUserEvent or if UserEvent.direct_user_request is set.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestFacetSpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestFacetSpec",
      "description": "A facet specification to perform faceted search.",
      "type": "object",
      "properties": {
        "facetKey": {
          "description": "Required. The facet key specification.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestFacetSpecFacetKey"
        },
        "limit": {
          "description": "Maximum of facet values that should be returned for this facet. If unspecified, defaults to 20. The maximum allowed value is 300. Values above 300 are coerced to 300. If this field is negative, an `INVALID_ARGUMENT` is returned.",
          "type": "integer",
          "format": "int32"
        },
        "excludedFilterKeys": {
          "description": "List of keys to exclude when faceting. By default, FacetKey.key is not excluded from the filter unless it is listed in this field. Listing a facet key in this field allows its values to appear as facet results, even when they are filtered out of search results. Using this field does not affect what search results are returned. For example, suppose there are 100 documents with the color facet \"Red\" and 200 documents with the color facet \"Blue\". A query containing the filter \"color:ANY(\"Red\")\" and having \"color\" as FacetKey.key would by default return only \"Red\" documents in the search results, and also return \"Red\" with count 100 as the only color facet. Although there are also blue documents available, \"Blue\" would not be shown as an available facet value. If \"color\" is listed in \"excludedFilterKeys\", then the query returns the facet values \"Red\" with count 100 and \"Blue\" with count 200, because the \"color\" key is now excluded from the filter. Because this field doesn't affect search results, the search results are still correctly filtered to return only \"Red\" documents. A maximum of 100 values are allowed. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enableDynamicPosition": {
          "description": "Enables dynamic position for this facet. If set to true, the position of this facet among all facets in the response is determined automatically. If dynamic facets are enabled, it is ordered together. If set to false, the position of this facet in the response is the same as in the request, and it is ranked before the facets with dynamic position enable and all dynamic facets. For example, you may always want to have rating facet returned in the response, but it's not necessarily to always display the rating facet at the top. In that case, you can set enable_dynamic_position to true so that the position of rating facet in response is determined automatically. Another example, assuming you have the following facets in the request: * \"rating\", enable_dynamic_position = true * \"price\", enable_dynamic_position = false * \"brands\", enable_dynamic_position = false And also you have a dynamic facets enabled, which generates a facet `gender`. Then the final order of the facets in the response can be (\"price\", \"brands\", \"rating\", \"gender\") or (\"price\", \"brands\", \"gender\", \"rating\") depends on how API orders \"gender\" and \"rating\" facets. However, notice that \"price\" and \"brands\" are always ranked at first and second position because their enable_dynamic_position is false.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestFacetSpecFacetKey": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestFacetSpecFacetKey",
      "description": "Specifies how a facet is computed.",
      "type": "object",
      "properties": {
        "key": {
          "description": "Required. Supported textual and numerical facet keys in Document object, over which the facet values are computed. Facet key is case-sensitive.",
          "type": "string"
        },
        "intervals": {
          "description": "Set only if values should be bucketed into intervals. Must be set for facets with numerical values. Must not be set for facet with text values. Maximum number of intervals is 30.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaInterval"
          }
        },
        "restrictedValues": {
          "description": "Only get facet for the given restricted values. Only supported on textual fields. For example, suppose \"category\" has three values \"Action \u003e 2022\", \"Action \u003e 2021\" and \"Sci-Fi \u003e 2022\". If set \"restricted_values\" to \"Action \u003e 2022\", the \"category\" facet only contains \"Action \u003e 2022\". Only supported on textual fields. Maximum is 10.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "prefixes": {
          "description": "Only get facet values that start with the given string prefix. For example, suppose \"category\" has three values \"Action \u003e 2022\", \"Action \u003e 2021\" and \"Sci-Fi \u003e 2022\". If set \"prefixes\" to \"Action\", the \"category\" facet only contains \"Action \u003e 2022\" and \"Action \u003e 2021\". Only supported on textual fields. Maximum is 10.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "contains": {
          "description": "Only get facet values that contains the given strings. For example, suppose \"category\" has three values \"Action \u003e 2022\", \"Action \u003e 2021\" and \"Sci-Fi \u003e 2022\". If set \"contains\" to \"2022\", the \"category\" facet only contains \"Action \u003e 2022\" and \"Sci-Fi \u003e 2022\". Only supported on textual fields. Maximum is 10.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "caseInsensitive": {
          "description": "True to make facet keys case insensitive when getting faceting values with prefixes or contains; false otherwise.",
          "type": "boolean"
        },
        "orderBy": {
          "description": "The order in which documents are returned. Allowed values are: * \"count desc\", which means order by SearchResponse.Facet.values.count descending. * \"value desc\", which means order by SearchResponse.Facet.values.value descending. Only applies to textual facets. If not set, textual values are sorted in [natural order](https://en.wikipedia.org/wiki/Natural_sort_order); numerical intervals are sorted in the order given by FacetSpec.FacetKey.intervals.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaInterval": {
      "id": "GoogleCloudDiscoveryengineV1alphaInterval",
      "description": "A floating point interval.",
      "type": "object",
      "properties": {
        "minimum": {
          "description": "Inclusive lower bound.",
          "type": "number",
          "format": "double"
        },
        "exclusiveMinimum": {
          "description": "Exclusive lower bound.",
          "type": "number",
          "format": "double"
        },
        "maximum": {
          "description": "Inclusive upper bound.",
          "type": "number",
          "format": "double"
        },
        "exclusiveMaximum": {
          "description": "Exclusive upper bound.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpec",
      "description": "Boost specification to boost certain documents.",
      "type": "object",
      "properties": {
        "conditionBoostSpecs": {
          "description": "Condition boost specifications. If a document matches multiple conditions in the specifictions, boost scores from these specifications are all applied and combined in a non-linear way. Maximum number of specifications is 20.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpecConditionBoostSpec"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpecConditionBoostSpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpecConditionBoostSpec",
      "description": "Boost applies to documents which match a condition.",
      "type": "object",
      "properties": {
        "condition": {
          "description": "An expression which specifies a boost condition. The syntax and supported fields are the same as a filter expression. See SearchRequest.filter for detail syntax and limitations. Examples: * To boost documents with document ID \"doc_1\" or \"doc_2\", and color \"Red\" or \"Blue\": `(document_id: ANY(\"doc_1\", \"doc_2\")) AND (color: ANY(\"Red\", \"Blue\"))`",
          "type": "string"
        },
        "boost": {
          "description": "Strength of the condition boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0. Setting to 1.0 gives the document a big promotion. However, it does not necessarily mean that the boosted document will be the top result at all times, nor that other documents will be excluded. Results could still be shown even when none of them matches the condition. And results that are significantly more relevant to the search query can still trump your heavily favored but irrelevant documents. Setting to -1.0 gives the document a big demotion. However, results that are deeply relevant might still be shown. The document will have an upstream battle to get a fairly high ranking, but it is not blocked out completely. Setting to 0.0 means no boost applied. The boosting condition is ignored.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestQueryExpansionSpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestQueryExpansionSpec",
      "description": "Specification to determine under which conditions query expansion should occur.",
      "type": "object",
      "properties": {
        "condition": {
          "description": "The condition under which query expansion should occur. Default to Condition.DISABLED.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified query expansion condition. In this case, server behavior defaults to Condition.DISABLED.",
            "Disabled query expansion. Only the exact search query is used, even if SearchResponse.total_size is zero.",
            "Automatic query expansion built by the Search API."
          ],
          "enum": [
            "CONDITION_UNSPECIFIED",
            "DISABLED",
            "AUTO"
          ]
        },
        "pinUnexpandedResults": {
          "description": "Whether to pin unexpanded results. If this field is set to true, unexpanded products are always at the top of the search results, followed by the expanded results.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestSpellCorrectionSpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestSpellCorrectionSpec",
      "description": "The specification for query spell correction.",
      "type": "object",
      "properties": {
        "mode": {
          "description": "The mode under which spell correction should take effect to replace the original search query. Default to Mode.AUTO.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified spell correction mode. In this case, server behavior defaults to Mode.AUTO.",
            "Search API will try to find a spell suggestion if there is any and put in the SearchResponse.corrected_query. The spell suggestion will not be used as the search query.",
            "Automatic spell correction built by the Search API. Search will be based on the corrected query if found."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "SUGGESTION_ONLY",
            "AUTO"
          ]
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpec",
      "description": "A specification for configuring the behavior of content search.",
      "type": "object",
      "properties": {
        "snippetSpec": {
          "description": "If `snippetSpec` is not specified, snippets are not included in the search response.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSnippetSpec"
        },
        "summarySpec": {
          "description": "If `summarySpec` is not specified, summaries are not included in the search response.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpec"
        },
        "extractiveContentSpec": {
          "description": "If there is no extractive_content_spec provided, there will be no extractive answer in the search response.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecExtractiveContentSpec"
        },
        "searchResultMode": {
          "description": "Specifies the search result mode. If unspecified, the search result mode is based on DataStore.DocumentProcessingConfig.chunking_config: * If DataStore.DocumentProcessingConfig.chunking_config is specified, it defaults to `CHUNKS`. * Otherwise, it defaults to `DOCUMENTS`.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Returns documents in the search result.",
            "Returns chunks in the search result. Only available if the DataStore.DocumentProcessingConfig.chunking_config is specified."
          ],
          "enum": [
            "SEARCH_RESULT_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ]
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSnippetSpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSnippetSpec",
      "description": "A specification for configuring snippets in a search response.",
      "type": "object",
      "properties": {
        "maxSnippetCount": {
          "description": "[DEPRECATED] This field is deprecated. To control snippet return, use `return_snippet` field. For backwards compatibility, we will return snippet if max_snippet_count \u003e 0.",
          "deprecated": true,
          "type": "integer",
          "format": "int32"
        },
        "referenceOnly": {
          "description": "[DEPRECATED] This field is deprecated and will have no affect on the snippet.",
          "deprecated": true,
          "type": "boolean"
        },
        "returnSnippet": {
          "description": "If `true`, then return snippet. If no snippet can be generated, we return \"No snippet is available for this page.\" A `snippet_status` with `SUCCESS` or `NO_SNIPPET_AVAILABLE` will also be returned.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpec",
      "description": "A specification for configuring a summary returned in a search response.",
      "type": "object",
      "properties": {
        "summaryResultCount": {
          "description": "The number of top results to generate the summary from. If the number of results returned is less than `summaryResultCount`, the summary is generated from all of the results. At most 10 results can be used to generate a summary.",
          "type": "integer",
          "format": "int32"
        },
        "includeCitations": {
          "description": "Specifies whether to include citations in the summary. The default value is `false`. When this field is set to `true`, summaries include in-line citation numbers. Example summary including citations: BigQuery is Google Cloud's fully managed and completely serverless enterprise data warehouse [1]. BigQuery supports all data types, works across clouds, and has built-in machine learning and business intelligence, all within a unified platform [2, 3]. The citation numbers refer to the returned search results and are 1-indexed. For example, [1] means that the sentence is attributed to the first search result. [2, 3] means that the sentence is attributed to both the second and third search results.",
          "type": "boolean"
        },
        "ignoreAdversarialQuery": {
          "description": "Specifies whether to filter out adversarial queries. The default value is `false`. Google employs search-query classification to detect adversarial queries. No summary is returned if the search query is classified as an adversarial query. For example, a user might ask a question regarding negative comments about the company or submit a query designed to generate unsafe, policy-violating output. If this field is set to `true`, we skip generating summaries for adversarial queries and return fallback messages instead.",
          "type": "boolean"
        },
        "ignoreNonSummarySeekingQuery": {
          "description": "Specifies whether to filter out queries that are not summary-seeking. The default value is `false`. Google employs search-query classification to detect summary-seeking queries. No summary is returned if the search query is classified as a non-summary seeking query. For example, `why is the sky blue` and `Who is the best soccer player in the world?` are summary-seeking queries, but `SFO airport` and `world cup 2026` are not. They are most likely navigational queries. If this field is set to `true`, we skip generating summaries for non-summary seeking queries and return fallback messages instead.",
          "type": "boolean"
        },
        "modelPromptSpec": {
          "description": "If specified, the spec will be used to modify the prompt provided to the LLM.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpecModelPromptSpec"
        },
        "languageCode": {
          "description": "Language code for Summary. Use language tags defined by [BCP47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt). Note: This is an experimental feature.",
          "type": "string"
        },
        "modelSpec": {
          "description": "If specified, the spec will be used to modify the model specification provided to the LLM.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpecModelSpec"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpecModelPromptSpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpecModelPromptSpec",
      "description": "Specification of the prompt to use with the model.",
      "type": "object",
      "properties": {
        "preamble": {
          "description": "Text at the beginning of the prompt that instructs the assistant. Examples are available in the user guide.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpecModelSpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpecModelSpec",
      "description": "Specification of the model.",
      "type": "object",
      "properties": {
        "version": {
          "description": "The model version used to generate the summary. Supported values are: * `stable`: string. Default value when no value is specified. Uses a generally available, fine-tuned model. For more information, see [Answer generation model versions and lifecycle](https://cloud.google.com/generative-ai-app-builder/docs/answer-generation-models). * `preview`: string. (Public preview) Uses a preview model. For more information, see [Answer generation model versions and lifecycle](https://cloud.google.com/generative-ai-app-builder/docs/answer-generation-models).",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecExtractiveContentSpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecExtractiveContentSpec",
      "description": "A specification for configuring the extractive content in a search response.",
      "type": "object",
      "properties": {
        "maxExtractiveAnswerCount": {
          "description": "The maximum number of extractive answers returned in each search result. An extractive answer is a verbatim answer extracted from the original document, which provides a precise and contextually relevant answer to the search query. If the number of matching answers is less than the `max_extractive_answer_count`, return all of the answers. Otherwise, return the `max_extractive_answer_count`. At most five answers are returned for each SearchResult.",
          "type": "integer",
          "format": "int32"
        },
        "maxExtractiveSegmentCount": {
          "description": "The max number of extractive segments returned in each search result. Only applied if the DataStore is set to DataStore.ContentConfig.CONTENT_REQUIRED or DataStore.solution_types is SOLUTION_TYPE_CHAT. An extractive segment is a text segment extracted from the original document that is relevant to the search query, and, in general, more verbose than an extractive answer. The segment could then be used as input for LLMs to generate summaries and answers. If the number of matching segments is less than `max_extractive_segment_count`, return all of the segments. Otherwise, return the `max_extractive_segment_count`.",
          "type": "integer",
          "format": "int32"
        },
        "returnExtractiveSegmentScore": {
          "description": "Specifies whether to return the confidence score from the extractive segments in each search result. This feature is available only for new or allowlisted data stores. To allowlist your data store, please contact your Customer Engineer. The default value is `false`.",
          "type": "boolean"
        },
        "numPreviousSegments": {
          "description": "Specifies whether to also include the adjacent from each selected segments. Return at most `num_previous_segments` segments before each selected segments.",
          "type": "integer",
          "format": "int32"
        },
        "numNextSegments": {
          "description": "Return at most `num_next_segments` segments after each selected segments.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestEmbeddingSpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestEmbeddingSpec",
      "description": "The specification that uses customized query embedding vector to do semantic document retrieval.",
      "type": "object",
      "properties": {
        "embeddingVectors": {
          "description": "The embedding vector used for retrieval. Limit to 1.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestEmbeddingSpecEmbeddingVector"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestEmbeddingSpecEmbeddingVector": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestEmbeddingSpecEmbeddingVector",
      "description": "Embedding vector.",
      "type": "object",
      "properties": {
        "fieldPath": {
          "description": "Embedding field path in schema.",
          "type": "string"
        },
        "vector": {
          "description": "Query embedding vector.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaCustomFineTuningSpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaCustomFineTuningSpec",
      "description": "Defines custom fine tuning spec.",
      "type": "object",
      "properties": {
        "enableSearchAdaptor": {
          "description": "Whether or not to enable and include custom fine tuned search adaptor model.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponse",
      "description": "Response message for SearchService.Search method.",
      "type": "object",
      "properties": {
        "results": {
          "description": "A list of matched documents. The order represents the ranking.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSearchResult"
          }
        },
        "facets": {
          "description": "Results of facets requested by user.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseFacet"
          }
        },
        "guidedSearchResult": {
          "description": "Guided search result.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseGuidedSearchResult"
        },
        "totalSize": {
          "description": "The estimated total count of matched items irrespective of pagination. The count of results returned by pagination may be less than the total_size that matches.",
          "type": "integer",
          "format": "int32"
        },
        "attributionToken": {
          "description": "A unique search token. This should be included in the UserEvent logs resulting from this search, which enables accurate attribution of search model performance.",
          "type": "string"
        },
        "redirectUri": {
          "description": "The URI of a customer-defined redirect page. If redirect action is triggered, no search is performed, and only redirect_uri and attribution_token are set in the response.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "A token that can be sent as SearchRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "correctedQuery": {
          "description": "Contains the spell corrected query, if found. If the spell correction type is AUTOMATIC, then the search results are based on corrected_query. Otherwise the original query is used for search.",
          "type": "string"
        },
        "summary": {
          "description": "A summary as part of the search results. This field is only returned if SearchRequest.ContentSearchSpec.summary_spec is set.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummary"
        },
        "appliedControls": {
          "description": "Controls applied as part of the Control service.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "geoSearchDebugInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseGeoSearchDebugInfo"
          }
        },
        "queryExpansionInfo": {
          "description": "Query expansion information for the returned results.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseQueryExpansionInfo"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseSearchResult": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseSearchResult",
      "description": "Represents the search results.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Document.id of the searched Document.",
          "type": "string"
        },
        "document": {
          "description": "The document data snippet in the search response. Only fields that are marked as retrievable are populated.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDocument"
        },
        "chunk": {
          "description": "The chunk data in the search response if the SearchRequest.ContentSearchSpec.search_result_mode is set to CHUNKS.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaChunk"
        },
        "modelScores": {
          "description": "Google provided available scores.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaDoubleList"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDocument": {
      "id": "GoogleCloudDiscoveryengineV1alphaDocument",
      "description": "Document captures all raw metadata information of items to be recommended or searched.",
      "type": "object",
      "properties": {
        "structData": {
          "description": "The structured JSON data for the document. It should conform to the registered Schema or an `INVALID_ARGUMENT` error is thrown.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "jsonData": {
          "description": "The JSON string representation of the document. It should conform to the registered Schema or an `INVALID_ARGUMENT` error is thrown.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. The full resource name of the document. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}/documents/{document_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "id": {
          "description": "Immutable. The identifier of the document. Id should conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) standard with a length limit of 63 characters.",
          "type": "string"
        },
        "schemaId": {
          "description": "The identifier of the schema located in the same data store.",
          "type": "string"
        },
        "content": {
          "description": "The unstructured data linked to this document. Content must be set if this document is under a `CONTENT_REQUIRED` data store.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentContent"
        },
        "parentDocumentId": {
          "description": "The identifier of the parent document. Currently supports at most two level document hierarchy. Id should conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) standard with a length limit of 63 characters.",
          "type": "string"
        },
        "derivedStructData": {
          "description": "Output only. This field is OUTPUT_ONLY. It contains derived data that are not in the original input document.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "aclInfo": {
          "description": "Access control information for the document.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentAclInfo"
        },
        "indexTime": {
          "description": "Output only. The last time the document was indexed. If this field is set, the document could be returned in search results. This field is OUTPUT_ONLY. If this field is not populated, it means the document has never been indexed.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDocumentContent": {
      "id": "GoogleCloudDiscoveryengineV1alphaDocumentContent",
      "description": "Unstructured data linked to this document.",
      "type": "object",
      "properties": {
        "rawBytes": {
          "description": "The content represented as a stream of bytes. The maximum length is 1,000,000 bytes (1 MB / ~0.95 MiB). Note: As with all `bytes` fields, this field is represented as pure binary in Protocol Buffers and base64-encoded string in JSON. For example, `abc123!?$*&()'-=@~` should be represented as `YWJjMTIzIT8kKiYoKSctPUB+` in JSON. See https://developers.google.com/protocol-buffers/docs/proto3#json.",
          "type": "string",
          "format": "byte"
        },
        "uri": {
          "description": "The URI of the content. Only Cloud Storage URIs (e.g. `gs://bucket-name/path/to/file`) are supported. The maximum file size is 2.5 MB for text-based formats, 100 MB for other formats.",
          "type": "string"
        },
        "mimeType": {
          "description": "The MIME type of the content. Supported types: * `application/pdf` (PDF, only native PDFs are supported for now) * `text/html` (HTML) * `application/vnd.openxmlformats-officedocument.wordprocessingml.document` (DOCX) * `application/vnd.openxmlformats-officedocument.presentationml.presentation` (PPTX) * `text/plain` (TXT) See https://www.iana.org/assignments/media-types/media-types.xhtml.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDocumentAclInfo": {
      "id": "GoogleCloudDiscoveryengineV1alphaDocumentAclInfo",
      "description": "ACL Information of the Document.",
      "type": "object",
      "properties": {
        "readers": {
          "description": "Readers of the document.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentAclInfoAccessRestriction"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDocumentAclInfoAccessRestriction": {
      "id": "GoogleCloudDiscoveryengineV1alphaDocumentAclInfoAccessRestriction",
      "description": "AclRestriction to model complex inheritance restrictions. Example: Modeling a \"Both Permit\" inheritance, where to access a child document, user needs to have access to parent document. Document Hierarchy - Space_S --\u003e Page_P. Readers: Space_S: group_1, user_1 Page_P: group_2, group_3, user_2 Space_S ACL Restriction - { \"acl_info\": { \"readers\": [ { \"principals\": [ { \"group_id\": \"group_1\" }, { \"user_id\": \"user_1\" } ] } ] } } Page_P ACL Restriction. { \"acl_info\": { \"readers\": [ { \"principals\": [ { \"group_id\": \"group_2\" }, { \"group_id\": \"group_3\" }, { \"user_id\": \"user_2\" } ], }, { \"principals\": [ { \"group_id\": \"group_1\" }, { \"user_id\": \"user_1\" } ], } ] } }",
      "type": "object",
      "properties": {
        "principals": {
          "description": "List of principals.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaPrincipal"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaPrincipal": {
      "id": "GoogleCloudDiscoveryengineV1alphaPrincipal",
      "description": "Principal identifier of a user or a group.",
      "type": "object",
      "properties": {
        "userId": {
          "description": "User identifier. For Google Workspace user account, user_id should be the google workspace user email. For non-google identity provider user account, user_id is the mapped user identifier configured during the workforcepool config.",
          "type": "string"
        },
        "groupId": {
          "description": "Group identifier. For Google Workspace user account, group_id should be the google workspace group email. For non-google identity provider user account, group_id is the mapped group identifier configured during the workforcepool config.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDoubleList": {
      "id": "GoogleCloudDiscoveryengineV1alphaDoubleList",
      "description": "Double list.",
      "type": "object",
      "properties": {
        "values": {
          "description": "Double values.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseFacet": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseFacet",
      "description": "A facet result.",
      "type": "object",
      "properties": {
        "key": {
          "description": "The key for this facet. E.g., \"colors\" or \"price\". It matches SearchRequest.FacetSpec.FacetKey.key.",
          "type": "string"
        },
        "values": {
          "description": "The facet values for this field.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseFacetFacetValue"
          }
        },
        "dynamicFacet": {
          "description": "Whether the facet is dynamically generated.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseFacetFacetValue": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseFacetFacetValue",
      "description": "A facet value which contains value names and their count.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Text value of a facet, such as \"Black\" for facet \"colors\".",
          "type": "string"
        },
        "interval": {
          "description": "Interval value for a facet, such as 10, 20) for facet \"price\". It matches [SearchRequest.FacetSpec.FacetKey.intervals.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaInterval"
        },
        "count": {
          "description": "Number of items that have this facet value.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseGuidedSearchResult": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseGuidedSearchResult",
      "description": "Guided search result. The guided search helps user to refine the search results and narrow down to the real needs from a broaded search results.",
      "type": "object",
      "properties": {
        "refinementAttributes": {
          "description": "A list of ranked refinement attributes.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseGuidedSearchResultRefinementAttribute"
          }
        },
        "followUpQuestions": {
          "description": "Suggested follow-up questions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseGuidedSearchResultRefinementAttribute": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseGuidedSearchResultRefinementAttribute",
      "description": "Useful attribute for search result refinements.",
      "type": "object",
      "properties": {
        "attributeKey": {
          "description": "Attribute key used to refine the results e.g. 'movie_type'.",
          "type": "string"
        },
        "attributeValue": {
          "description": "Attribute value used to refine the results e.g. 'drama'.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseSummary": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummary",
      "description": "Summary of the top N search result specified by the summary spec.",
      "type": "object",
      "properties": {
        "summaryText": {
          "description": "The summary content.",
          "type": "string"
        },
        "summarySkippedReasons": {
          "description": "Additional summary-skipped reasons. This provides the reason for ignored cases. If nothing is skipped, this field is not set.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. The summary skipped reason is not specified.",
              "The adversarial query ignored case. Only populated when SummarySpec.ignore_adversarial_query is set to `true`.",
              "The non-summary seeking query ignored case. Only populated when SummarySpec.ignore_non_summary_seeking_query is set to `true`.",
              "The out-of-domain query ignored case. Google skips the summary if there are no high-relevance search results. For example, the data store contains facts about company A but the user query is asking questions about company B.",
              "The potential policy violation case. Google skips the summary if there is a potential policy violation detected. This includes content that may be violent or toxic.",
              "The LLM addon not enabled case. Google skips the summary if the LLM addon is not enabled."
            ],
            "enum": [
              "SUMMARY_SKIPPED_REASON_UNSPECIFIED",
              "ADVERSARIAL_QUERY_IGNORED",
              "NON_SUMMARY_SEEKING_QUERY_IGNORED",
              "OUT_OF_DOMAIN_QUERY_IGNORED",
              "POTENTIAL_POLICY_VIOLATION",
              "LLM_ADDON_NOT_ENABLED"
            ]
          }
        },
        "safetyAttributes": {
          "description": "A collection of Safety Attribute categories and their associated confidence scores.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummarySafetyAttributes"
        },
        "summaryWithMetadata": {
          "description": "Summary with metadata information.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummarySummaryWithMetadata"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseSummarySafetyAttributes": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummarySafetyAttributes",
      "description": "Safety Attribute categories and their associated confidence scores.",
      "type": "object",
      "properties": {
        "categories": {
          "description": "The display names of Safety Attribute categories associated with the generated content. Order matches the Scores.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "scores": {
          "description": "The confidence scores of the each category, higher value means higher confidence. Order matches the Categories.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseSummarySummaryWithMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummarySummaryWithMetadata",
      "description": "Summary with metadata information.",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary text with no citation information.",
          "type": "string"
        },
        "citationMetadata": {
          "description": "Citation metadata for given summary.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryCitationMetadata"
        },
        "references": {
          "description": "Document References.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryReference"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryCitationMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryCitationMetadata",
      "description": "Citation metadata.",
      "type": "object",
      "properties": {
        "citations": {
          "description": "Citations for segments.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryCitation"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryCitation": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryCitation",
      "description": "Citation info for a segment.",
      "type": "object",
      "properties": {
        "startIndex": {
          "description": "Index indicates the start of the segment, measured in bytes/unicode.",
          "type": "string",
          "format": "int64"
        },
        "endIndex": {
          "description": "End of the attributed segment, exclusive.",
          "type": "string",
          "format": "int64"
        },
        "sources": {
          "description": "Citation sources for the attributed segment.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryCitationSource"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryCitationSource": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryCitationSource",
      "description": "Citation source.",
      "type": "object",
      "properties": {
        "referenceIndex": {
          "description": "Document reference index from SummaryWithMetadata.references. It is 0-indexed and the value will be zero if the reference_index is not set explicitly.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryReference": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryReference",
      "description": "Document reference.",
      "type": "object",
      "properties": {
        "title": {
          "description": "Title of the document.",
          "type": "string"
        },
        "document": {
          "description": "Required. Document.name of the document. Full resource name of the referenced document, in the format `projects/*/locations/*/collections/*/dataStores/*/branches/*/documents/*`.",
          "type": "string"
        },
        "uri": {
          "description": "Cloud Storage or HTTP uri for the document.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseGeoSearchDebugInfo": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseGeoSearchDebugInfo",
      "description": "Debug information specifically related to forward geocoding issues arising from Geolocation Search.",
      "type": "object",
      "properties": {
        "originalAddressQuery": {
          "description": "The address from which forward geocoding ingestion produced issues.",
          "type": "string"
        },
        "errorMessage": {
          "description": "The error produced.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseQueryExpansionInfo": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseQueryExpansionInfo",
      "description": "Information describing query expansion including whether expansion has occurred.",
      "type": "object",
      "properties": {
        "expandedQuery": {
          "description": "Bool describing whether query expansion has occurred.",
          "type": "boolean"
        },
        "pinnedResultCount": {
          "description": "Number of pinned results. This field will only be set when expansion happens and SearchRequest.QueryExpansionSpec.pin_unexpanded_results is set to true.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaConverseConversationRequest": {
      "id": "GoogleCloudDiscoveryengineV1alphaConverseConversationRequest",
      "description": "Request message for ConversationalSearchService.ConverseConversation method.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The resource name of the Conversation to get. Format: `projects/{project_number}/locations/{location_id}/collections/{collection}/dataStores/{data_store_id}/conversations/{conversation_id}`. Use `projects/{project_number}/locations/{location_id}/collections/{collection}/dataStores/{data_store_id}/conversations/-` to activate auto session mode, which automatically creates a new conversation inside a ConverseConversation session.",
          "type": "string"
        },
        "query": {
          "description": "Required. Current user input.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaTextInput"
        },
        "servingConfig": {
          "description": "The resource name of the Serving Config to use. Format: `projects/{project_number}/locations/{location_id}/collections/{collection}/dataStores/{data_store_id}/servingConfigs/{serving_config_id}` If this is not set, the default serving config will be used.",
          "type": "string"
        },
        "conversation": {
          "description": "The conversation to be used by auto session only. The name field will be ignored as we automatically assign new name for the conversation in auto session.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaConversation"
        },
        "safeSearch": {
          "description": "Whether to turn on safe search.",
          "type": "boolean"
        },
        "userLabels": {
          "description": "The user labels applied to a resource must meet the following requirements: * Each resource can have multiple labels, up to a maximum of 64. * Each label must be a key-value pair. * Keys have a minimum length of 1 character and a maximum length of 63 characters and cannot be empty. Values can be empty and have a maximum length of 63 characters. * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. All characters must use UTF-8 encoding, and international characters are allowed. * The key portion of a label must be unique. However, you can use the same key with multiple resources. * Keys must start with a lowercase letter or international character. See [Google Cloud Document](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements) for more details.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "summarySpec": {
          "description": "A specification for configuring the summary returned in the response.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpec"
        },
        "filter": {
          "description": "The filter syntax consists of an expression language for constructing a predicate from one or more fields of the documents being filtered. Filter expression is case-sensitive. This will be used to filter search results which may affect the summary response. If this field is unrecognizable, an `INVALID_ARGUMENT` is returned. Filtering in Vertex AI Search is done by mapping the LHS filter key to a key property defined in the Vertex AI Search backend -- this mapping is defined by the customer in their schema. For example a media customer might have a field 'name' in their schema. In this case the filter would look like this: filter --\u003e name:'ANY(\"king kong\")' For more information about filtering including syntax and filter operators, see [Filter](https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata)",
          "type": "string"
        },
        "boostSpec": {
          "description": "Boost specification to boost certain documents in search results which may affect the converse response. For more information on boosting, see [Boosting](https://cloud.google.com/retail/docs/boosting#boost)",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpec"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaTextInput": {
      "id": "GoogleCloudDiscoveryengineV1alphaTextInput",
      "description": "Defines text input.",
      "type": "object",
      "properties": {
        "input": {
          "description": "Text input.",
          "type": "string"
        },
        "context": {
          "description": "Conversation context of the input.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaConversationContext"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaConversationContext": {
      "id": "GoogleCloudDiscoveryengineV1alphaConversationContext",
      "description": "Defines context of the conversation",
      "type": "object",
      "properties": {
        "contextDocuments": {
          "description": "The current list of documents the user is seeing. It contains the document resource references.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "activeDocument": {
          "description": "The current active document the user opened. It contains the document resource reference.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaConversation": {
      "id": "GoogleCloudDiscoveryengineV1alphaConversation",
      "description": "External conversation proto definition.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Immutable. Fully qualified name `project/*/locations/global/collections/{collection}/dataStore/*/conversations/*` or `project/*/locations/global/collections/{collection}/engines/*/conversations/*`.",
          "type": "string"
        },
        "state": {
          "description": "The state of the Conversation.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Conversation is currently open.",
            "Conversation has been completed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "COMPLETED"
          ]
        },
        "userPseudoId": {
          "description": "A unique identifier for tracking users.",
          "type": "string"
        },
        "messages": {
          "description": "Conversation messages.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaConversationMessage"
          }
        },
        "startTime": {
          "description": "Output only. The time the conversation started.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. The time the conversation finished.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaConversationMessage": {
      "id": "GoogleCloudDiscoveryengineV1alphaConversationMessage",
      "description": "Defines a conversation message.",
      "type": "object",
      "properties": {
        "userInput": {
          "description": "User text input.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaTextInput"
        },
        "reply": {
          "description": "Search reply.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaReply"
        },
        "createTime": {
          "description": "Output only. Message creation timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaReply": {
      "id": "GoogleCloudDiscoveryengineV1alphaReply",
      "description": "Defines a reply message to user.",
      "type": "object",
      "properties": {
        "reply": {
          "description": "DEPRECATED: use `summary` instead. Text reply.",
          "deprecated": true,
          "type": "string"
        },
        "references": {
          "description": "References in the reply.",
          "deprecated": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaReplyReference"
          }
        },
        "summary": {
          "description": "Summary based on search results.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummary"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaReplyReference": {
      "id": "GoogleCloudDiscoveryengineV1alphaReplyReference",
      "deprecated": true,
      "description": "Defines reference in reply.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "URI link reference.",
          "type": "string"
        },
        "anchorText": {
          "description": "Anchor text.",
          "type": "string"
        },
        "start": {
          "description": "Anchor text start index.",
          "type": "integer",
          "format": "int32"
        },
        "end": {
          "description": "Anchor text end index.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaConverseConversationResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaConverseConversationResponse",
      "description": "Response message for ConversationalSearchService.ConverseConversation method.",
      "type": "object",
      "properties": {
        "reply": {
          "description": "Answer to the current query.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaReply"
        },
        "conversation": {
          "description": "Updated conversation including the answer.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaConversation"
        },
        "relatedQuestions": {
          "description": "Suggested related questions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "searchResults": {
          "description": "Search Results.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSearchResult"
          }
        }
      }
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1alphaListConversationsResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaListConversationsResponse",
      "description": "Response for ListConversations method.",
      "type": "object",
      "properties": {
        "conversations": {
          "description": "All the Conversations for a given data store.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaConversation"
          }
        },
        "nextPageToken": {
          "description": "Pagination token, if not returned indicates the last page.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDataStore": {
      "id": "GoogleCloudDiscoveryengineV1alphaDataStore",
      "description": "DataStore captures global settings and configs at the DataStore level.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Immutable. The full resource name of the data store. Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The data store display name. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        },
        "industryVertical": {
          "description": "Immutable. The industry vertical that the data store registers.",
          "type": "string",
          "enumDescriptions": [
            "Value used when unset.",
            "The generic vertical for documents that are not specific to any industry vertical.",
            "The media industry vertical."
          ],
          "enum": [
            "INDUSTRY_VERTICAL_UNSPECIFIED",
            "GENERIC",
            "MEDIA"
          ]
        },
        "solutionTypes": {
          "description": "The solutions that the data store enrolls. Available solutions for each industry_vertical: * `MEDIA`: `SOLUTION_TYPE_RECOMMENDATION` and `SOLUTION_TYPE_SEARCH`. * `SITE_SEARCH`: `SOLUTION_TYPE_SEARCH` is automatically enrolled. Other solutions cannot be enrolled.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value.",
              "Used for Recommendations AI.",
              "Used for Discovery Search.",
              "Used for use cases related to the Generative AI agent."
            ],
            "enum": [
              "SOLUTION_TYPE_UNSPECIFIED",
              "SOLUTION_TYPE_RECOMMENDATION",
              "SOLUTION_TYPE_SEARCH",
              "SOLUTION_TYPE_CHAT"
            ]
          }
        },
        "defaultSchemaId": {
          "description": "Output only. The id of the default Schema asscociated to this data store.",
          "readOnly": true,
          "type": "string"
        },
        "contentConfig": {
          "description": "Immutable. The content config of the data store. If this field is unset, the server behavior defaults to ContentConfig.NO_CONTENT.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Only contains documents without any Document.content.",
            "Only contains documents with Document.content.",
            "The data store is used for public website search."
          ],
          "enum": [
            "CONTENT_CONFIG_UNSPECIFIED",
            "NO_CONTENT",
            "CONTENT_REQUIRED",
            "PUBLIC_WEBSITE"
          ]
        },
        "createTime": {
          "description": "Output only. Timestamp the DataStore was created at.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "idpConfig": {
          "description": "Output only. Data store level identity provider config.",
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1alphaIdpConfig"
        },
        "aclEnabled": {
          "description": "Immutable. Whether data in the DataStore has ACL information. If set to `true`, the source data must have ACL. ACL will be ingested when data is ingested by DocumentService.ImportDocuments methods. When ACL is enabled for the DataStore, Document can't be accessed by calling DocumentService.GetDocument or DocumentService.ListDocuments. Currently ACL is only supported in `GENERIC` industry vertical with non-`PUBLIC_WEBSITE` content config.",
          "type": "boolean"
        },
        "documentProcessingConfig": {
          "description": "Configuration for Document understanding and enrichment.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfig"
        },
        "startingSchema": {
          "description": "The start schema to use for this DataStore when provisioning it. If unset, a default vertical specialized schema will be used. This field is only used by CreateDataStore API, and will be ignored if used in other APIs. This field will be omitted from all API responses including CreateDataStore API. To retrieve a schema of a DataStore, use SchemaService.GetSchema API instead. The provided schema will be validated against certain rules on schema. Learn more from [this doc](https://cloud.google.com/generative-ai-app-builder/docs/provide-schema).",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSchema"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfig",
      "description": "A singleton resource of DataStore. It's empty when DataStore is created, which defaults to digital parser. The first call to DataStoreService.UpdateDocumentProcessingConfig method will initialize the config.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The full resource name of the Document Processing Config. Format: `projects/*/locations/*/collections/*/dataStores/*/documentProcessingConfig`.",
          "type": "string"
        },
        "chunkingConfig": {
          "description": "Whether chunking mode is enabled.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigChunkingConfig"
        },
        "defaultParsingConfig": {
          "description": "Configurations for default Document parser. If not specified, we will configure it as default DigitalParsingConfig, and the default parsing config will be applied to all file types for Document parsing.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfig"
        },
        "parsingConfigOverrides": {
          "description": "Map from file type to override the default parsing configuration based on the file type. Supported keys: * `pdf`: Override parsing config for PDF files, either digital parsing, ocr parsing or layout parsing is supported. * `html`: Override parsing config for HTML files, only digital parsing and or layout parsing are supported. * `docx`: Override parsing config for DOCX files, only digital parsing and or layout parsing are supported.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfig"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigChunkingConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigChunkingConfig",
      "description": "Configuration for chunking config.",
      "type": "object",
      "properties": {
        "layoutBasedChunkingConfig": {
          "description": "Configuration for the layout based chunking.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigChunkingConfigLayoutBasedChunkingConfig"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigChunkingConfigLayoutBasedChunkingConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigChunkingConfigLayoutBasedChunkingConfig",
      "description": "Configuration for the layout based chunking.",
      "type": "object",
      "properties": {
        "chunkSize": {
          "description": "The token size limit for each chunk. Supported values: 100-500 (inclusive). Default value: 500.",
          "type": "integer",
          "format": "int32"
        },
        "includeAncestorHeadings": {
          "description": "Whether to include appending different levels of headings to chunks from the middle of the document to prevent context loss. Default value: False.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfig",
      "description": "Related configurations applied to a specific type of document parser.",
      "type": "object",
      "properties": {
        "digitalParsingConfig": {
          "description": "Configurations applied to digital parser.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfigDigitalParsingConfig"
        },
        "ocrParsingConfig": {
          "description": "Configurations applied to OCR parser. Currently it only applies to PDFs.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfigOcrParsingConfig"
        },
        "layoutParsingConfig": {
          "description": "Configurations applied to layout parser.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfigLayoutParsingConfig"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfigDigitalParsingConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfigDigitalParsingConfig",
      "description": "The digital parsing configurations for documents.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfigOcrParsingConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfigOcrParsingConfig",
      "description": "The OCR parsing configurations for documents.",
      "type": "object",
      "properties": {
        "enhancedDocumentElements": {
          "description": "Apply additional enhanced OCR processing to a list of document elements. Supported values: * `table`: advanced table parsing model.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "useNativeText": {
          "description": "If true, will use native text instead of OCR text on pages containing native text.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfigLayoutParsingConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfigLayoutParsingConfig",
      "description": "The layout parsing configurations for documents.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1alphaSchema": {
      "id": "GoogleCloudDiscoveryengineV1alphaSchema",
      "description": "Defines the structure and layout of a type of document data.",
      "type": "object",
      "properties": {
        "structSchema": {
          "description": "The structured representation of the schema.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "jsonSchema": {
          "description": "The JSON representation of the schema.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. The full resource name of the schema, in the format of `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/schemas/{schema}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "fieldConfigs": {
          "description": "Output only. Configurations for fields of the schema.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaFieldConfig"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaFieldConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaFieldConfig",
      "description": "Configurations for fields of a schema. For example, configuring a field is indexable, or searchable.",
      "type": "object",
      "properties": {
        "fieldPath": {
          "description": "Required. Field path of the schema field. For example: `title`, `description`, `release_info.release_year`.",
          "type": "string"
        },
        "fieldType": {
          "description": "Output only. Raw type of the field.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Field type is unspecified.",
[...]
