{
  "mtlsRootUrl": "https://discoveryengine.mtls.googleapis.com/",
  "servicePath": "",
  "canonicalName": "Discovery Engine",
  "protocol": "rest",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "revision": "20230306",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "Discovery Engine API",
  "baseUrl": "https://discoveryengine.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "name": "discoveryengine",
  "id": "discoveryengine:v1beta",
  "rootUrl": "https://discoveryengine.googleapis.com/",
  "version": "v1beta",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "description": "Discovery Engine API.",
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/discovery-engine/docs",
  "schemas": {
    "GoogleCloudDiscoveryengineV1betaBigQuerySource": {
      "description": "BigQuery source import data from.",
      "properties": {
        "gcsStagingDir": {
          "type": "string",
          "description": "Intermediate Cloud Storage directory used for the import with a length limit of 2,000 characters. Can be specified if one wants to have the BigQuery export to a specific Cloud Storage directory."
        },
        "datasetId": {
          "type": "string",
          "description": "Required. The BigQuery data set to copy the data from with a length limit of 1,024 characters."
        },
        "tableId": {
          "description": "Required. The BigQuery table to copy the data from with a length limit of 1,024 characters.",
          "type": "string"
        },
        "dataSchema": {
          "description": "The schema to use when parsing the data from the source. Supported values for imports: * `user_event` (default): One JSON UserEvent per line. * `document` (default): One JSON Document per line. Each document must have a valid document.id.",
          "type": "string"
        },
        "projectId": {
          "description": "The project ID (can be project # or ID) that the BigQuery source is in with a length limit of 128 characters. If not specified, inherits the project ID from the parent request.",
          "type": "string"
        },
        "partitionDate": {
          "description": "BigQuery time partitioned table's _PARTITIONDATE in YYYY-MM-DD format.",
          "$ref": "GoogleTypeDate"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaBigQuerySource",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaImportDocumentsResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaImportDocumentsResponse",
      "type": "object",
      "properties": {
        "errorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportErrorConfig",
          "description": "Echoes the destination for the complete errors in the request if set."
        },
        "errorSamples": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request."
        }
      },
      "description": "Response of the ImportDocumentsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
    },
    "GoogleCloudDiscoveryengineV1betaPageInfo": {
      "type": "object",
      "description": "Detailed page information.",
      "id": "GoogleCloudDiscoveryengineV1betaPageInfo",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Complete URL (window.location.href) of the user's current page. When using the client side event reporting with JavaScript pixel and Google Tag Manager, this value is filled in automatically. Maximum length 5,000 characters."
        },
        "pageviewId": {
          "type": "string",
          "description": "A unique ID of a web page view. This should be kept the same for all user events triggered from the same pageview. For example, an item detail page view could trigger multiple events as the user is browsing the page. The `pageViewId` property should be kept the same for all these events so that they can be grouped together properly. When using the client side event reporting with JavaScript pixel and Google Tag Manager, this value is filled in automatically."
        },
        "pageCategory": {
          "type": "string",
          "description": "The most specific category associated with a category page. To represent full path of category, use '\u003e' sign to separate different hierarchies. If '\u003e' is part of the category name, please replace it with other character(s). Category pages include special pages such as sales or promotions. For instance, a special sale page may have the category hierarchy: \"pageCategory\" : \"Sales \u003e 2017 Black Friday Deals\". Required for `view-category-page` events. Other event types should not set this field. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "referrerUri": {
          "type": "string",
          "description": "The referrer URL of the current page. When using the client side event reporting with JavaScript pixel and Google Tag Manager, this value is filled in automatically. However, some browser privacy restrictions may cause this field to be empty."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaImportUserEventsRequest": {
      "description": "Request message for the ImportUserEvents request.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaImportUserEventsRequest",
      "properties": {
        "gcsSource": {
          "$ref": "GoogleCloudDiscoveryengineV1betaGcsSource",
          "description": "Required. Cloud Storage location for the input content."
        },
        "errorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaImportErrorConfig",
          "description": "The desired location of errors incurred during the Import. Cannot be set for inline user event imports."
        },
        "bigquerySource": {
          "$ref": "GoogleCloudDiscoveryengineV1betaBigQuerySource",
          "description": "Required. BigQuery input source."
        },
        "inlineSource": {
          "description": "Required. The Inline source for the input content for UserEvents.",
          "$ref": "GoogleCloudDiscoveryengineV1betaImportUserEventsRequestInlineSource"
        }
      }
    },
    "GoogleTypeDate": {
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        }
      },
      "id": "GoogleTypeDate"
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleCloudDiscoveryengineV1betaImportUserEventsRequestInlineSource": {
      "properties": {
        "userEvents": {
          "description": "Required. A list of user events to import. Recommended max of 10k items.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaUserEvent"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaImportUserEventsRequestInlineSource",
      "description": "The inline source for the input config for ImportUserEvents method."
    },
    "GoogleApiHttpBody": {
      "type": "object",
      "properties": {
        "extensions": {
          "type": "array",
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        },
        "data": {
          "description": "The HTTP request/response body as raw binary.",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "id": "GoogleApiHttpBody"
    },
    "GoogleCloudDiscoveryengineV1betaDocument": {
      "properties": {
        "structData": {
          "description": "The structured JSON data for the document. It should conform to the registered schema or an INVALID_ARGUMENT error is thrown.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "schemaId": {
          "type": "string",
          "description": "Required. The identifier of the schema located in the same data store."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The full resource name of the document. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}/documents/{document_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
        },
        "id": {
          "type": "string",
          "description": "Immutable. The identifier of the document. Id should conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) standard with a length limit of 63 characters."
        },
        "jsonData": {
          "type": "string",
          "description": "The JSON string representation of the document. It should conform to the registered schema or an INVALID_ARGUMENT error is thrown."
        },
        "parentDocumentId": {
          "description": "The identifier of the parent document. Currently supports at most two level document hierarchy. Id should conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) standard with a length limit of 63 characters.",
          "type": "string"
        }
      },
      "description": "Document captures all raw metadata information of items to be recommended or searched.",
      "id": "GoogleCloudDiscoveryengineV1betaDocument",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaControl": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. Fully qualified name `projects/*/locations/global/dataStore/*/controls/*`"
        },
        "boostAction": {
          "description": "Defines a boost-type control",
          "$ref": "GoogleCloudDiscoveryengineV1alphaControlBoostAction"
        },
        "filterAction": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaControlFilterAction",
          "description": "Defines a filter-type control Currently not supported by Recommendation"
        },
        "conditions": {
          "type": "array",
          "description": "Determines when the associated action will trigger. Omit to always apply the action. Currently only a single condition may be specified. Otherwise an INVALID ARGUMENT error is thrown.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaCondition"
          }
        },
        "associatedServingConfigIds": {
          "readOnly": true,
          "description": "Output only. List of all [ServingConfig] ids this control is attached to. May take up to 10 minutes to update after changes.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "useCases": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "SEARCH_USE_CASE_UNSPECIFIED",
              "SEARCH_USE_CASE_SEARCH",
              "SEARCH_USE_CASE_BROWSE"
            ],
            "enumDescriptions": [
              "Value used when unset. Will not occur in CSS.",
              "Search use case. Expects the traffic has a non-empty query.",
              "Browse use case. Expects the traffic has an empty query."
            ]
          },
          "description": "Specifies the use case for the control. Affects what condition fields can be set. Only applies to SOLUTION_TYPE_SEARCH. Currently only allow one use case per control. Must be set when solution_type is SolutionType.SOLUTION_TYPE_SEARCH."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human readable name. The identifier used in UI views. Must be UTF-8 encoded string. Length limit is 128 characters. Otherwise an INVALID ARGUMENT error is thrown."
        },
        "solutionType": {
          "enum": [
            "SOLUTION_TYPE_UNSPECIFIED",
            "SOLUTION_TYPE_RECOMMENDATION",
            "SOLUTION_TYPE_SEARCH"
          ],
          "description": "Required. What solution the control belongs to. Must be compatible with vertical of resource. Otherwise an INVALID ARGUMENT error is thrown.",
          "enumDescriptions": [
            "Default value.",
            "Used for Recommendations AI.",
            "Used for Discovery Search."
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaControl",
      "description": "Defines a conditioned behavior to employ during serving. Must be attached to a [ServingConfig] to be considered at serving time. Permitted actions dependent on Solution Type."
    },
    "GoogleCloudDiscoveryengineV1betaImportDocumentsRequestInlineSource": {
      "id": "GoogleCloudDiscoveryengineV1betaImportDocumentsRequestInlineSource",
      "type": "object",
      "properties": {
        "documents": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaDocument"
          },
          "description": "Required. A list of documents to update/create. Each document must have a valid Document.id. Recommended max of 100 items.",
          "type": "array"
        }
      },
      "description": "The inline source for the input config for ImportDocuments method."
    },
    "GoogleCloudDiscoveryengineV1betaImportUserEventsMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the Import operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "successCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of entries that were processed successfully."
        },
        "failureCount": {
          "description": "Count of entries that encountered errors while processing.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaImportUserEventsMetadata"
    },
    "GoogleCloudDiscoveryengineV1betaRecommendResponseRecommendationResult": {
      "properties": {
        "metadata": {
          "description": "Additional Document metadata / annotations. Possible values: * `score`: Recommendation score in double value. Is set if `returnScore` is set to true in RecommendRequest.params.",
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "document": {
          "$ref": "GoogleCloudDiscoveryengineV1betaDocument",
          "description": "Set if `returnDocument` is set to true in RecommendRequest.params."
        },
        "id": {
          "description": "Resource ID of the recommended Document.",
          "type": "string"
        }
      },
      "description": "RecommendationResult represents a generic recommendation result with associated metadata.",
      "id": "GoogleCloudDiscoveryengineV1betaRecommendResponseRecommendationResult",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaDocumentInfo": {
      "description": "Detailed document information associated with a user event.",
      "id": "GoogleCloudDiscoveryengineV1betaDocumentInfo",
      "properties": {
        "id": {
          "description": "Required. The Document resource ID.",
          "type": "string"
        },
        "quantity": {
          "description": "Quantity of the Document associated with the user event. Defaults to 1. For example, this field will be 2 if two quantities of the same Document are involved in a `add-to-cart` event. Required for events of the following event types: * `add-to-cart` * `purchase`",
          "type": "integer",
          "format": "int32"
        },
        "promotionIds": {
          "description": "The promotion IDs associated with this Document. Currently, this field is restricted to at most one ID.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Required. The Document resource full name, of the form: projects/{project\\_id}/locations/{location}/collections/{collection\\_id}/dataStores/{data\\_store\\_id}/branches/{branch\\_id}/documents/{document\\_id}"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaGcsSource": {
      "properties": {
        "inputUris": {
          "description": "Required. Cloud Storage URIs to input files. URI can be up to 2000 characters long. URIs can match the full object path (for example, `gs://bucket/directory/object.json`) or a pattern matching one or more files, such as `gs://bucket/directory/*.json`. A request can contain at most 100 files, and each file can be up to 2 GB.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dataSchema": {
          "type": "string",
          "description": "The schema to use when parsing the data from the source. Supported values for imports: * `user_event` (default): One JSON UserEvent per line. * `document` (default): One JSON Document per line. Each document must have a valid Document.id."
        }
      },
      "description": "Cloud Storage location for input content.",
      "id": "GoogleCloudDiscoveryengineV1betaGcsSource",
      "type": "object"
    },
    "GoogleRpcStatus": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "id": "GoogleRpcStatus"
    },
    "GoogleCloudDiscoveryengineV1betaUserEvent": {
      "properties": {
        "userInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1betaUserInfo",
          "description": "Information about the end user."
        },
        "userPseudoId": {
          "description": "Required. A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor log in/out of the website. Do not set the field to the same fixed ID for different users. This mixes the event history of those users together, which results in degraded model quality. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned. The field should not contain PII or user-data. We recommend to use Google Analytics [Client ID](https://developers.google.com/analytics/devguides/collection/analyticsjs/field-reference#clientId) for this field.",
          "type": "string"
        },
        "mediaInfo": {
          "description": "Media-specific info.",
          "$ref": "GoogleCloudDiscoveryengineV1betaMediaInfo"
        },
        "pageInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1betaPageInfo",
          "description": "Page metadata such as categories and other critical information for certain event types such as `view-category-page`."
        },
        "documents": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaDocumentInfo"
          },
          "description": "List of Documents associated with this user event. This field is optional except for the following event types: * `view-item` * `add-to-cart` * `purchase` * `media-play` * `media-complete` In a `search` event, this field represents the documents returned to the end user on the current page (the end user may have not finished browsing the whole page yet). When a new page is returned to the end user, after pagination/filtering/ordering even for the same query, a new `search` event with different UserEvent.documents is desired.",
          "type": "array"
        },
        "promotionIds": {
          "type": "array",
          "description": "The promotion IDs if this is an event associated with promotions. Currently, this field is restricted to at most one ID.",
          "items": {
            "type": "string"
          }
        },
        "sessionId": {
          "description": "A unique identifier for tracking a visitor session with a length limit of 128 bytes. A session is an aggregation of an end user behavior in a time span. A general guideline to populate the session_id: 1. If user has no activity for 30 min, a new session_id should be assigned. 2. The session_id should be unique across users, suggest use uuid or add UserEvent.user_pseudo_id as prefix.",
          "type": "string"
        },
        "panel": {
          "$ref": "GoogleCloudDiscoveryengineV1betaPanelInfo",
          "description": "Panel metadata associated with this user event."
        },
        "directUserRequest": {
          "description": "Should set to true if the request is made directly from the end user, in which case the UserEvent.user_info.user_agent can be populated from the HTTP request. This flag should be set only if the API request is made directly from the end user such as a mobile app (and not if a gateway or a server is processing and pushing the user events). This should not be set when using the JavaScript tag in UserEventService.CollectUserEvent.",
          "type": "boolean"
        },
        "eventType": {
          "type": "string",
          "description": "Required. User event type. Allowed values are: Generic values: * `search`: Search for Documents. * `view-item`: Detailed page view of a Document. * `view-item-list`: View of a panel or ordered list of Documents. * `view-home-page`: View of the home page. * `view-category-page`: View of a category page, e.g. Home \u003e Men \u003e Jeans Retail-related values: * `add-to-cart`: Add an item(s) to cart, e.g. in Retail online shopping * `purchase`: Purchase an item(s) Media-related values: * `media-play`: Start/resume watching a video, playing a song, etc. * `media-complete`: Finished or stopped midway through a video, song, etc."
        },
        "transactionInfo": {
          "description": "The transaction metadata (if any) associated with this user event.",
          "$ref": "GoogleCloudDiscoveryengineV1betaTransactionInfo"
        },
        "filter": {
          "description": "The filter syntax consists of an expression language for constructing a predicate from one or more fields of the documents being filtered. One example is for `search` events, the associated SearchService.SearchRequest may contain a filter expression in SearchService.SearchRequest.filter conforming to https://google.aip.dev/160#filtering. Similarly, for `view-item-list` events that are generated from a PredictionService.PredictRequest, this field may be populated directly from PredictionService.PredictRequest.filter conforming to https://google.aip.dev/160#filtering. The value must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Only required for UserEventService.ImportUserEvents method. Timestamp of when the user event happened."
        },
        "tagIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of identifiers for the independent experiment groups this user event belongs to. This is used to distinguish between user events associated with different experiment setups on the customer end."
        },
        "attributionToken": {
          "description": "Token to attribute an API response to user action(s) to trigger the event. Highly recommended for user events that are the result of PredictionService.Predict. This field enables accurate attribution of recommendation model performance. The value must be one of: * PredictResponse.attribution_token for events that are the result of PredictionService.Predict. * SearchResponse.attribution_token for events that are the result of SearchService.Search. * CompleteQueryResponse.attribution_token for events that are the result of SearchService.CompleteQuery. This token enables us to accurately attribute page view or conversion completion back to the event and the particular predict response containing this clicked/purchased product. If user clicks on product K in the recommendation results, pass PredictResponse.attribution_token as a URL parameter to product K's page. When recording events on product K's page, log the PredictResponse.attribution_token to this field.",
          "type": "string"
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1betaCustomAttribute"
          },
          "description": "Extra user event features to include in the recommendation model. These attributes must NOT contain data that needs to be parsed or processed further, e.g. JSON or other encodings. If you provide custom attributes for ingested user events, also include them in the user events that you associate with prediction requests. Custom attribute formatting must be consistent between imported events and events provided with prediction requests. This lets the Discovery Engine API use those custom attributes when training models and serving predictions, which helps improve recommendation quality. This field needs to pass all below criteria, otherwise an INVALID_ARGUMENT error is returned: * The key must be a UTF-8 encoded string with a length limit of 5,000 characters. * For text attributes, at most 400 values are allowed. Empty values are not allowed. Each value must be a UTF-8 encoded string with a length limit of 256 characters. * For number attributes, at most 400 values are allowed. For product recommendations, an example of extra user information is traffic_channel, which is how a user arrives at the site. Users can arrive at the site by coming to the site directly, coming through Google search, or in other ways."
        },
        "completionInfo": {
          "description": "CompleteQuery API details related to the event. This field should be set for `search` event when autocomplete function is enabled and the user clicks a suggestion for search.",
          "$ref": "GoogleCloudDiscoveryengineV1betaCompletionInfo"
        },
        "searchInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchInfo",
          "description": "Search API details related to the event. This field should be set for `search` event."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaUserEvent",
      "type": "object",
      "description": "UserEvent captures all metadata information Discovery Engine API needs to know about how end users interact with customers' website."
    },
    "GoogleCloudDiscoveryengineLoggingErrorLog": {
      "id": "GoogleCloudDiscoveryengineLoggingErrorLog",
      "description": "An error log which is reported to the Error Reporting system.",
      "type": "object",
      "properties": {
        "importPayload": {
          "description": "The error payload that is populated on LRO import APIs.",
          "$ref": "GoogleCloudDiscoveryengineLoggingImportErrorContext"
        },
        "status": {
          "description": "The RPC status associated with the error log.",
          "$ref": "GoogleRpcStatus"
        },
        "serviceContext": {
          "$ref": "GoogleCloudDiscoveryengineLoggingServiceContext",
          "description": "The service context in which this error has occurred."
        },
        "message": {
          "type": "string",
          "description": "A message describing the error."
        },
        "context": {
          "description": "A description of the context in which the error occurred.",
          "$ref": "GoogleCloudDiscoveryengineLoggingErrorContext"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaImportErrorConfig": {
      "type": "object",
      "properties": {
        "gcsPrefix": {
          "description": "Cloud Storage prefix for import errors. This must be an empty, existing Cloud Storage directory. Import errors will be written to sharded files in this directory, one per line, as a JSON-encoded `google.rpc.Status` message.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaImportErrorConfig",
      "description": "Configuration of destination for Import related errors."
    },
    "GoogleCloudDiscoveryengineV1betaRecommendRequest": {
      "description": "Request message for Recommend method.",
      "id": "GoogleCloudDiscoveryengineV1betaRecommendRequest",
      "type": "object",
      "properties": {
        "params": {
          "type": "object",
          "description": "Additional domain specific parameters for the recommendations. Allowed values: * `returnDocument`: Boolean. If set to true, the associated Document object will be returned in RecommendResponse.results.document. * `returnScore`: Boolean. If set to true, the recommendation 'score' corresponding to each returned Document will be set in RecommendResponse.results.metadata. The given 'score' indicates the probability of a Document conversion given the user's context and history. * `strictFiltering`: Boolean. True by default. If set to false, the service will return generic (unfiltered) popular Documents instead of empty if your filter blocks all recommendation results. * `diversityLevel`: String. Default empty. If set to be non-empty, then it needs to be one of: * 'no-diversity' * 'low-diversity' * 'medium-diversity' * 'high-diversity' * 'auto-diversity' This gives request-level control and adjusts recommendation results based on Document category.",
          "additionalProperties": {
            "type": "any"
          }
        },
        "userEvent": {
          "$ref": "GoogleCloudDiscoveryengineV1betaUserEvent",
          "description": "Required. Context about the user, what they are looking at and what action they took to trigger the Recommend request. Note that this user event detail won't be ingested to userEvent logs. Thus, a separate userEvent write request is required for event logging. Don't set UserEvent.user_pseudo_id or UserEvent.user_info.user_id to the same fixed ID for different users. If you are trying to receive non-personalized recommendations (not recommended; this can negatively impact model performance), instead set UserEvent.user_pseudo_id to a random unique ID and leave UserEvent.user_info.user_id unset."
        },
        "userLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The user labels applied to a resource must meet the following requirements: * Each resource can have multiple labels, up to a maximum of 64. * Each label must be a key-value pair. * Keys have a minimum length of 1 character and a maximum length of 63 characters and cannot be empty. Values can be empty and have a maximum length of 63 characters. * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. All characters must use UTF-8 encoding, and international characters are allowed. * The key portion of a label must be unique. However, you can use the same key with multiple resources. * Keys must start with a lowercase letter or international character. See [Requirements for labels](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements) for more details."
        },
        "filter": {
          "type": "string",
          "description": "Filter for restricting recommendation results with a length limit of 5,000 characters. Currently, only filter expressions on the `filter_tags` attribute is supported. Examples: * (filter_tags: ANY(\"Red\", \"Blue\") OR filter_tags: ANY(\"Hot\", \"Cold\")) * (filter_tags: ANY(\"Red\", \"Blue\")) AND NOT (filter_tags: ANY(\"Green\")) If your filter blocks all results, the API will return generic (unfiltered) popular Documents. If you only want results strictly matching the filters, set `strictFiltering` to True in RecommendRequest.params to receive empty results instead. Note that the API will never return Documents with storageStatus of \"EXPIRED\" or \"DELETED\" regardless of filter choices."
        },
        "pageSize": {
          "description": "Maximum number of results to return. Set this property to the number of recommendation results needed. If zero, the service will choose a reasonable default. The maximum allowed value is 100. Values above 100 will be coerced to 100.",
          "format": "int32",
          "type": "integer"
        },
        "validateOnly": {
          "description": "Use validate only mode for this recommendation query. If set to true, a fake model will be used that returns arbitrary Document IDs. Note that the validate only mode should only be used for testing the API, or if the model is not ready.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaUserInfo": {
      "description": "Information of an end user.",
      "id": "GoogleCloudDiscoveryengineV1betaUserInfo",
      "properties": {
        "userId": {
          "type": "string",
          "description": "Highly recommended for logged-in users. Unique identifier for logged-in user, such as a user name. Don't set for anonymous users. Always use a hashed value for this ID. Don't set the field to the same fixed ID for different users. This mixes the event history of those users together, which results in degraded model quality. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "userAgent": {
          "description": "User agent as included in the HTTP header. Required for getting SearchResponse.sponsored_results. The field must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. This should not be set when using the client side event reporting with GTM or JavaScript tag in UserEventService.CollectUserEvent or if direct_user_request is set.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaImportUserEventsResponse": {
      "type": "object",
      "properties": {
        "unjoinedEventsCount": {
          "format": "int64",
          "description": "Count of user events imported, but with Document information not found in the existing Branch.",
          "type": "string"
        },
        "joinedEventsCount": {
          "format": "int64",
          "description": "Count of user events imported with complete existing Documents.",
          "type": "string"
        },
        "errorSamples": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request."
        },
        "errorConfig": {
          "description": "Echoes the destination for the complete errors if this field was set in the request.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportErrorConfig"
        }
      },
      "description": "Response of the ImportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "id": "GoogleCloudDiscoveryengineV1alphaImportUserEventsResponse"
    },
    "GoogleCloudDiscoveryengineLoggingHttpRequestContext": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineLoggingHttpRequestContext",
      "description": "HTTP request data that is related to a reported error.",
      "properties": {
        "responseStatusCode": {
          "format": "int32",
          "type": "integer",
          "description": "The HTTP response status code for the request."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaImportErrorConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaImportErrorConfig",
      "description": "Configuration of destination for Import related errors.",
      "properties": {
        "gcsPrefix": {
          "type": "string",
          "description": "Cloud Storage prefix for import errors. This must be an empty, existing Cloud Storage directory. Import errors will be written to sharded files in this directory, one per line, as a JSON-encoded `google.rpc.Status` message."
        }
      }
    },
    "GoogleCloudDiscoveryengineLoggingErrorContext": {
      "description": "A description of the context in which an error occurred.",
      "properties": {
        "httpRequest": {
          "$ref": "GoogleCloudDiscoveryengineLoggingHttpRequestContext",
          "description": "The HTTP request which was processed when the error was triggered."
        },
        "reportLocation": {
          "$ref": "GoogleCloudDiscoveryengineLoggingSourceLocation",
          "description": "The location in the source code where the decision was made to report the error, usually the place where it was logged."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineLoggingErrorContext"
    },
    "GoogleCloudDiscoveryengineV1betaCustomAttribute": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaCustomAttribute",
      "properties": {
        "numbers": {
          "type": "array",
          "description": "The numerical values of this custom attribute. For example, `[2.3, 15.4]` when the key is \"lengths_cm\". Exactly one of text or numbers should be set. Otherwise, an INVALID_ARGUMENT error is returned.",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "text": {
          "type": "array",
          "description": "The textual values of this custom attribute. For example, `[\"yellow\", \"green\"]` when the key is \"color\". Empty string is not allowed. Otherwise, an INVALID_ARGUMENT error is returned. Exactly one of text or numbers should be set. Otherwise, an INVALID_ARGUMENT error is returned.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A custom attribute that is not explicitly modeled in a resource, e.g. UserEvent."
    },
    "GoogleCloudDiscoveryengineV1betaListDocumentsResponse": {
      "id": "GoogleCloudDiscoveryengineV1betaListDocumentsResponse",
      "description": "Response message for DocumentService.ListDocuments method.",
      "properties": {
        "documents": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaDocument"
          },
          "description": "The Documents.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListDocumentsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaControlBoostAction": {
      "properties": {
        "filter": {
          "type": "string",
          "description": "Required. Specifies which products to apply the boost to. If no filter is provided all products will be boosted (No-op). Syntax documentation: https://cloud.google.com/retail/docs/filter-and-order Maximum length is 5000 characters. Otherwise an INVALID ARGUMENT error is thrown."
        },
        "boost": {
          "type": "number",
          "description": "Required. Strength of the boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0 (No-op).",
          "format": "float"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaControlBoostAction",
      "description": "Adjusts order of products in returned list."
    },
    "GoogleCloudDiscoveryengineLoggingServiceContext": {
      "description": "Describes a running service that sends errors.",
      "type": "object",
      "properties": {
        "service": {
          "description": "An identifier of the service—for example, `discoveryengine.googleapis.com`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineLoggingServiceContext"
    },
    "GoogleCloudDiscoveryengineV1betaRecommendResponse": {
      "id": "GoogleCloudDiscoveryengineV1betaRecommendResponse",
      "type": "object",
      "description": "Response message for Recommend method.",
      "properties": {
        "results": {
          "description": "A list of recommended Documents. The order represents the ranking (from the most relevant Document to the least).",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaRecommendResponseRecommendationResult"
          }
        },
        "missingIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "IDs of documents in the request that were missing from the default Branch associated with the requested ServingConfig."
        },
        "validateOnly": {
          "description": "True if RecommendRequest.validate_only was set.",
          "type": "boolean"
        },
        "attributionToken": {
          "type": "string",
          "description": "A unique attribution token. This should be included in the UserEvent logs resulting from this recommendation, which enables accurate attribution of recommendation model performance."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaTransactionInfo": {
      "id": "GoogleCloudDiscoveryengineV1betaTransactionInfo",
      "type": "object",
      "properties": {
        "currency": {
          "type": "string",
          "description": "Required. Currency code. Use three-character ISO-4217 code."
        },
        "discountValue": {
          "format": "float",
          "type": "number",
          "description": "The total discount(s) value applied to this transaction. This figure should be excluded from TransactionInfo.value For example, if a user paid TransactionInfo.value amount, then nominal (pre-discount) value of the transaction is the sum of TransactionInfo.value and TransactionInfo.discount_value This means that profit is calculated the same way, regardless of the discount value, and that TransactionInfo.discount_value can be larger than TransactionInfo.value: * Profit = value - tax - cost"
        },
        "cost": {
          "format": "float",
          "description": "All the costs associated with the products. These can be manufacturing costs, shipping expenses not borne by the end user, or any other costs, such that: * Profit = value - tax - cost",
          "type": "number"
        },
        "transactionId": {
          "type": "string",
          "description": "The transaction ID with a length limit of 128 characters."
        },
        "tax": {
          "format": "float",
          "description": "All the taxes associated with the transaction.",
          "type": "number"
        },
        "value": {
          "description": "Required. Total non-zero value associated with the transaction. This value may include shipping, tax, or other adjustments to the total value that you want to include.",
          "format": "float",
          "type": "number"
        }
      },
      "description": "A transaction represents the entire purchase transaction."
    },
    "GoogleCloudDiscoveryengineV1betaImportDocumentsResponse": {
      "description": "Response of the ImportDocumentsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaImportDocumentsResponse",
      "properties": {
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "errorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaImportErrorConfig",
          "description": "Echoes the destination for the complete errors in the request if set."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaImportUserEventsResponse": {
      "description": "Response of the ImportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "id": "GoogleCloudDiscoveryengineV1betaImportUserEventsResponse",
      "type": "object",
      "properties": {
        "errorSamples": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request."
        },
        "errorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaImportErrorConfig",
          "description": "Echoes the destination for the complete errors if this field was set in the request."
        },
        "unjoinedEventsCount": {
          "format": "int64",
          "description": "Count of user events imported, but with Document information not found in the existing Branch.",
          "type": "string"
        },
        "joinedEventsCount": {
          "format": "int64",
          "description": "Count of user events imported with complete existing Documents.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineLoggingImportErrorContext": {
      "properties": {
        "userEvent": {
          "type": "string",
          "description": "The detailed content which caused the error on importing a user event."
        },
        "lineNumber": {
          "description": "Line number of the content in file. Should be empty for permission or batch operation error.",
          "type": "string"
        },
        "document": {
          "type": "string",
          "description": "The detailed content which caused the error on importing a document."
        },
        "operation": {
          "description": "The operation resource name of the LRO.",
          "type": "string"
        },
        "gcsPath": {
          "description": "Google Cloud Storage file path of the import source. Can be set for batch operation error.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineLoggingImportErrorContext",
      "description": "The error payload that is populated on LRO import APIs, including the following: * `google.cloud.discoveryengine.v1alpha.DocumentService.ImportDocuments` * `google.cloud.discoveryengine.v1alpha.UserEventService.ImportUserEvents`",
      "type": "object"
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaCondition": {
      "description": "Defines circumstances to be checked before allowing a behavior",
      "id": "GoogleCloudDiscoveryengineV1alphaCondition",
      "type": "object",
      "properties": {
        "activeTimeRange": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaConditionTimeRange"
          },
          "type": "array",
          "description": "Optional. Range of time(s) specifying when condition is active. Maximum of 10 time ranges."
        },
        "queryTerms": {
          "description": "Optional. Search only A list of terms to match the query on. Maximum of 10 query terms.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaConditionQueryTerm"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaConditionTimeRange": {
      "id": "GoogleCloudDiscoveryengineV1alphaConditionTimeRange",
      "description": "Used for time-dependent conditions.",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "End of time range. Range is inclusive. Must be in the future."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Start of time range. Range is inclusive.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaImportDocumentsMetadata": {
      "description": "Metadata related to the progress of the ImportDocuments operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1alphaImportDocumentsMetadata",
      "type": "object",
      "properties": {
        "failureCount": {
          "description": "Count of entries that encountered errors while processing.",
          "format": "int64",
          "type": "string"
        },
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "successCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of entries that were processed successfully."
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaControlFilterAction": {
      "description": "Specified which products may be included in results. Uses same filter as boost.",
      "type": "object",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Required. A filter to apply on the matching condition results. Required Syntax documentation: https://cloud.google.com/retail/docs/filter-and-order Maximum length is 5000 characters. Otherwise an INVALID ARGUMENT error is thrown."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaControlFilterAction"
    },
    "GoogleCloudDiscoveryengineV1betaPanelInfo": {
      "properties": {
        "panelId": {
          "description": "Required. The panel ID.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the panel."
        },
        "totalPanels": {
          "description": "The total number of panels, including this one, shown to the user. Must be set if panel_position is set.",
          "format": "int32",
          "type": "integer"
        },
        "panelPosition": {
          "description": "The ordered position of the panel, if shown to the user with other panels. If set, then total_panels must also be set.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaPanelInfo",
      "description": "Detailed panel information associated with a user event.",
      "type": "object"
    },
    "GoogleLongrunningOperation": {
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      },
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleCloudDiscoveryengineV1betaMediaInfo": {
      "id": "GoogleCloudDiscoveryengineV1betaMediaInfo",
      "properties": {
        "mediaProgressDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "The media progress time in seconds, if applicable. For example, if the end user has finished 90 seconds of a playback video, then MediaInfo.media_progress_duration.seconds should be set to 90."
        },
        "mediaProgressPercentage": {
          "format": "float",
          "description": "Media progress should be computed using only the media_progress_duration relative to the media total length. This value must be between [0, 1.0] inclusive. If this is not a playback or the progress cannot be computed (e.g. ongoing livestream), this field should be unset.",
          "type": "number"
        }
      },
      "type": "object",
      "description": "Media-specific user event information."
    },
    "GoogleCloudDiscoveryengineV1alphaConditionQueryTerm": {
      "description": "Matcher for search request query",
      "type": "object",
      "properties": {
        "fullMatch": {
          "type": "boolean",
          "description": "Whether the search query needs to exactly match the query term."
        },
        "value": {
          "type": "string",
          "description": "The specific query value to match against Must be lowercase, must be UTF-8. Can have at most 3 space separated terms if full_match is true. Cannot be an empty string. Maximum length of 5000 characters."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaConditionQueryTerm"
    },
    "GoogleCloudDiscoveryengineV1betaImportDocumentsMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the ImportDocuments operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "successCount": {
          "type": "string",
          "description": "Count of entries that were processed successfully.",
          "format": "int64"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "failureCount": {
          "type": "string",
          "description": "Count of entries that encountered errors while processing.",
          "format": "int64"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaImportDocumentsMetadata"
    },
    "GoogleCloudDiscoveryengineV1betaImportDocumentsRequest": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaImportDocumentsRequest",
      "properties": {
        "errorConfig": {
          "description": "The desired location of errors incurred during the Import.",
          "$ref": "GoogleCloudDiscoveryengineV1betaImportErrorConfig"
        },
        "reconciliationMode": {
          "type": "string",
          "description": "The mode of reconciliation between existing documents and the documents to be imported. Defaults to ReconciliationMode.INCREMENTAL.",
          "enumDescriptions": [
            "Defaults to INCREMENTAL.",
            "Inserts new documents or updates existing documents.",
            "Calculates diff and replaces the entire document dataset. Existing documents may be deleted if they are not present in the source location."
          ],
          "enum": [
            "RECONCILIATION_MODE_UNSPECIFIED",
            "INCREMENTAL",
            "FULL"
          ]
        },
        "bigquerySource": {
          "$ref": "GoogleCloudDiscoveryengineV1betaBigQuerySource",
          "description": "BigQuery input source."
        },
        "inlineSource": {
          "description": "The Inline source for the input content for documents.",
          "$ref": "GoogleCloudDiscoveryengineV1betaImportDocumentsRequestInlineSource"
        },
        "gcsSource": {
          "description": "Cloud Storage location for the input content.",
          "$ref": "GoogleCloudDiscoveryengineV1betaGcsSource"
        }
      },
      "description": "Request message for Import methods."
    },
    "GoogleCloudDiscoveryengineV1alphaImportUserEventsMetadata": {
      "description": "Metadata related to the progress of the Import operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1alphaImportUserEventsMetadata",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "failureCount": {
          "type": "string",
          "description": "Count of entries that encountered errors while processing.",
          "format": "int64"
        },
        "successCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of entries that were processed successfully."
        }
      }
    },
    "GoogleCloudDiscoveryengineLoggingSourceLocation": {
      "type": "object",
      "description": "Indicates a location in the source code of the service for which errors are reported.",
      "properties": {
        "functionName": {
          "type": "string",
          "description": "Human-readable name of a function or method—for example, `google.cloud.discoveryengine.v1alpha.RecommendationService.Recommend`."
        }
      },
      "id": "GoogleCloudDiscoveryengineLoggingSourceLocation"
    },
    "GoogleCloudDiscoveryengineV1betaSearchInfo": {
      "type": "object",
      "description": "Detailed search information.",
      "properties": {
        "orderBy": {
          "description": "The order in which products are returned, if applicable. See SearchRequest.order_by for definition and syntax. The value must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. This can only be set for `search` events. Other event types should not set this field. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        },
        "offset": {
          "format": "int32",
          "type": "integer",
          "description": "An integer that specifies the current offset for pagination (the 0-indexed starting location, amongst the products deemed by the API as relevant). See SearchRequest.offset for definition. If this field is negative, an INVALID_ARGUMENT is returned. This can only be set for `search` events. Other event types should not set this field. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "searchQuery": {
          "type": "string",
          "description": "The user's search query. See SearchRequest.query for definition. The value must be a UTF-8 encoded string with a length limit of 5,000 characters. Otherwise, an INVALID_ARGUMENT error is returned. At least one of search_query or page_categories is required for `search` events. Other event types should not set this field. Otherwise, an INVALID_ARGUMENT error is returned."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchInfo"
    },
    "GoogleCloudDiscoveryengineV1betaCompletionInfo": {
      "properties": {
        "selectedPosition": {
          "format": "int32",
          "description": "End user selected CompleteQueryResponse.CompletionResult.suggestion position, starting from 0.",
          "type": "integer"
        },
        "selectedSuggestion": {
          "type": "string",
          "description": "End user selected CompleteQueryResponse.CompletionResult.suggestion."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaCompletionInfo",
      "description": "Detailed completion information including completion attribution token and clicked completion info."
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "collections": {
              "resources": {
                "operations": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/operations",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "pageToken": {
                          "description": "The standard list page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "description": "The standard list filter.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "The standard list page size.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "name": {
                          "description": "The name of the operation's parent resource.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+$",
                          "required": true
                        }
                      },
                      "id": "discoveryengine.projects.locations.collections.operations.list",
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "httpMethod": "GET",
                      "path": "v1beta/{+name}/operations",
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                    },
                    "get": {
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "path": "v1beta/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "discoveryengine.projects.locations.collections.operations.get",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/operations/{operationsId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "The name of the operation resource.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/operations/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "dataStores": {
                  "resources": {
                    "models": {
                      "resources": {
                        "operations": {
                          "methods": {
                            "list": {
                              "parameterOrder": [
                                "name"
                              ],
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/models/{modelsId}/operations",
                              "id": "discoveryengine.projects.locations.collections.dataStores.models.operations.list",
                              "httpMethod": "GET",
                              "response": {
                                "$ref": "GoogleLongrunningListOperationsResponse"
                              },
                              "parameters": {
                                "pageSize": {
                                  "type": "integer",
                                  "location": "query",
                                  "description": "The standard list page size.",
                                  "format": "int32"
                                },
                                "pageToken": {
                                  "description": "The standard list page token.",
                                  "type": "string",
                                  "location": "query"
                                },
                                "name": {
                                  "location": "path",
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/models/[^/]+$",
                                  "required": true,
                                  "description": "The name of the operation's parent resource."
                                },
                                "filter": {
                                  "type": "string",
                                  "description": "The standard list filter.",
                                  "location": "query"
                                }
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                              "path": "v1beta/{+name}/operations"
                            },
                            "get": {
                              "id": "discoveryengine.projects.locations.collections.dataStores.models.operations.get",
                              "parameterOrder": [
                                "name"
                              ],
                              "httpMethod": "GET",
                              "parameters": {
                                "name": {
                                  "description": "The name of the operation resource.",
                                  "type": "string",
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/models/[^/]+/operations/[^/]+$",
                                  "required": true
                                }
                              },
                              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/models/{modelsId}/operations/{operationsId}",
                              "path": "v1beta/{+name}",
                              "response": {
                                "$ref": "GoogleLongrunningOperation"
                              }
                            }
                          }
                        }
                      }
                    },
                    "branches": {
                      "resources": {
                        "documents": {
                          "methods": {
                            "create": {
                              "request": {
                                "$ref": "GoogleCloudDiscoveryengineV1betaDocument"
                              },
                              "response": {
                                "$ref": "GoogleCloudDiscoveryengineV1betaDocument"
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "id": "discoveryengine.projects.locations.collections.dataStores.branches.documents.create",
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/branches/{branchesId}/documents",
                              "httpMethod": "POST",
                              "parameterOrder": [
                                "parent"
                              ],
                              "path": "v1beta/{+parent}/documents",
                              "description": "Creates a Document.",
                              "parameters": {
                                "documentId": {
                                  "location": "query",
                                  "description": "Required. The ID to use for the Document, which will become the final component of the Document.name. If the caller does not have permission to create the Document, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. This field must be unique among all Documents with the same parent. Otherwise, an ALREADY_EXISTS error is returned. This field must conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) standard with a length limit of 63 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
                                  "type": "string"
                                },
                                "parent": {
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/branches/[^/]+$",
                                  "type": "string",
                                  "required": true,
                                  "location": "path",
                                  "description": "Required. The parent resource name, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}`."
                                }
                              }
                            },
                            "import": {
                              "id": "discoveryengine.projects.locations.collections.dataStores.branches.documents.import",
                              "parameterOrder": [
                                "parent"
                              ],
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/branches/{branchesId}/documents:import",
                              "request": {
                                "$ref": "GoogleCloudDiscoveryengineV1betaImportDocumentsRequest"
                              },
                              "parameters": {
                                "parent": {
                                  "required": true,
                                  "type": "string",
                                  "location": "path",
                                  "description": "Required. The parent branch resource name, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}`. Requires create/update permission.",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/branches/[^/]+$"
                                }
                              },
                              "description": "Bulk import of multiple Documents. Request processing may be synchronous. Non-existing items will be created. Note: It is possible for a subset of the Documents to be successfully updated.",
                              "response": {
                                "$ref": "GoogleLongrunningOperation"
                              },
                              "httpMethod": "POST",
                              "path": "v1beta/{+parent}/documents:import"
                            },
                            "patch": {
                              "id": "discoveryengine.projects.locations.collections.dataStores.branches.documents.patch",
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/branches/{branchesId}/documents/{documentsId}",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "parameterOrder": [
                                "name"
                              ],
                              "request": {
                                "$ref": "GoogleCloudDiscoveryengineV1betaDocument"
                              },
                              "httpMethod": "PATCH",
                              "parameters": {
                                "allowMissing": {
                                  "location": "query",
                                  "description": "If set to true, and the Document is not found, a new Document will be created.",
                                  "type": "boolean"
                                },
                                "name": {
                                  "description": "Immutable. The full resource name of the document. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}/documents/{document_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/branches/[^/]+/documents/[^/]+$",
                                  "required": true,
                                  "location": "path"
                                }
                              },
                              "response": {
                                "$ref": "GoogleCloudDiscoveryengineV1betaDocument"
                              },
                              "path": "v1beta/{+name}",
                              "description": "Updates a Document."
                            },
                            "delete": {
                              "id": "discoveryengine.projects.locations.collections.dataStores.branches.documents.delete",
                              "parameterOrder": [
                                "name"
                              ],
                              "response": {
                                "$ref": "GoogleProtobufEmpty"
                              },
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/branches/{branchesId}/documents/{documentsId}",
                              "parameters": {
                                "name": {
                                  "location": "path",
                                  "description": "Required. Full resource name of Document, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}/documents/{document}`. If the caller does not have permission to delete the Document, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the Document to delete does not exist, a NOT_FOUND error is returned.",
                                  "required": true,
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/branches/[^/]+/documents/[^/]+$"
                                }
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "httpMethod": "DELETE",
                              "path": "v1beta/{+name}",
                              "description": "Deletes a Document."
                            },
                            "list": {
                              "path": "v1beta/{+parent}/documents",
                              "httpMethod": "GET",
                              "description": "Gets a list of Documents.",
                              "parameterOrder": [
                                "parent"
                              ],
                              "response": {
                                "$ref": "GoogleCloudDiscoveryengineV1betaListDocumentsResponse"
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "parameters": {
                                "parent": {
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/branches/[^/]+$",
                                  "location": "path",
                                  "required": true,
                                  "description": "Required. The parent branch resource name, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}`. Use `default_branch` as the branch ID, to list documents under the default branch. If the caller does not have permission to list Documentss under this branch, regardless of whether or not this branch exists, a PERMISSION_DENIED error is returned."
                                },
                                "pageToken": {
                                  "type": "string",
                                  "location": "query",
                                  "description": "A page token ListDocumentsResponse.next_page_token, received from a previous DocumentService.ListDocuments call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to DocumentService.ListDocuments must match the call that provided the page token. Otherwise, an INVALID_ARGUMENT error is returned."
                                },
                                "pageSize": {
                                  "type": "integer",
                                  "description": "Maximum number of Documents to return. If unspecified, defaults to 100. The maximum allowed value is 1000. Values above 1000 will be coerced to 1000. If this field is negative, an INVALID_ARGUMENT error is returned.",
                                  "format": "int32",
                                  "location": "query"
                                }
                              },
                              "id": "discoveryengine.projects.locations.collections.dataStores.branches.documents.list",
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/branches/{branchesId}/documents"
                            },
                            "get": {
                              "id": "discoveryengine.projects.locations.collections.dataStores.branches.documents.get",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "description": "Gets a Document.",
                              "parameterOrder": [
                                "name"
                              ],
                              "parameters": {
                                "name": {
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/branches/[^/]+/documents/[^/]+$",
                                  "required": true,
                                  "type": "string",
                                  "description": "Required. Full resource name of Document, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}/documents/{document}`. If the caller does not have permission to access the Document, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested Document does not exist, a NOT_FOUND error is returned."
                                }
                              },
                              "httpMethod": "GET",
                              "path": "v1beta/{+name}",
                              "response": {
                                "$ref": "GoogleCloudDiscoveryengineV1betaDocument"
                              },
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/branches/{branchesId}/documents/{documentsId}"
                            }
                          }
                        },
                        "operations": {
                          "methods": {
                            "list": {
                              "id": "discoveryengine.projects.locations.collections.dataStores.branches.operations.list",
                              "response": {
                                "$ref": "GoogleLongrunningListOperationsResponse"
                              },
                              "parameters": {
                                "pageToken": {
                                  "type": "string",
                                  "location": "query",
                                  "description": "The standard list page token."
                                },
                                "filter": {
                                  "location": "query",
                                  "type": "string",
                                  "description": "The standard list filter."
                                },
                                "name": {
                                  "description": "The name of the operation's parent resource.",
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/branches/[^/]+$",
                                  "required": true,
                                  "location": "path"
                                },
                                "pageSize": {
                                  "description": "The standard list page size.",
                                  "type": "integer",
                                  "format": "int32",
                                  "location": "query"
                                }
                              },
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/branches/{branchesId}/operations",
                              "parameterOrder": [
                                "name"
                              ],
                              "path": "v1beta/{+name}/operations",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "httpMethod": "GET",
                              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                            },
                            "get": {
                              "id": "discoveryengine.projects.locations.collections.dataStores.branches.operations.get",
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/branches/{branchesId}/operations/{operationsId}",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "response": {
                                "$ref": "GoogleLongrunningOperation"
                              },
                              "path": "v1beta/{+name}",
                              "parameters": {
                                "name": {
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/branches/[^/]+/operations/[^/]+$",
                                  "description": "The name of the operation resource.",
                                  "location": "path",
                                  "required": true,
                                  "type": "string"
                                }
                              },
                              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                              "httpMethod": "GET",
                              "parameterOrder": [
                                "name"
                              ]
                            }
                          }
                        }
                      }
                    },
                    "userEvents": {
                      "methods": {
                        "write": {
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaUserEvent"
                          },
                          "description": "Writes a single user event.",
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "description": "Required. The parent DataStore resource name, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}`.",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$"
                            }
                          },
                          "id": "discoveryengine.projects.locations.collections.dataStores.userEvents.write",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/userEvents:write",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaUserEvent"
                          },
                          "path": "v1beta/{+parent}/userEvents:write",
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "import": {
                          "id": "discoveryengine.projects.locations.collections.dataStores.userEvents.import",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Bulk import of User events. Request processing might be synchronous. Events that already exist are skipped. Use this method for backfilling historical user events. Operation.response is of type ImportResponse. Note that it is possible for a subset of the items to be successfully inserted. Operation.metadata is of type ImportMetadata.",
                          "path": "v1beta/{+parent}/userEvents:import",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaImportUserEventsRequest"
                          },
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$",
                              "required": true,
                              "description": "Required. Parent DataStore resource name, of the form `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}`"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/userEvents:import",
                          "httpMethod": "POST"
                        },
                        "collect": {
[...]
